[2022-05-08 19:08] hixichen commented on #12232
tag

[2022-05-09 08:10] Hexta opened #14023 "APIv2 doesn't support operations with URI length > 4k."
### What happened?

APIv2 doesn't support operations with URI length > 4k.

### What did you expect to happen?

APIv2 should support URI length > 4k.

### How can we reproduce it (as minimally and precisely as possible)?

Perform CAS operation with APIv2 and value and previous value size > 2k

### Anything else we need to know?

_No response_

### Etcd version (please run commands below)

<details

[2022-05-09 10:20] biosvs opened #14025 "It's possible to get "wal: max entry size limit exceeded" with recommended values"
### What happened?

I run clean etcd node as followed:
`etcd --max-request-bytes=10485760`

Then through the go client I `put` to key `k1` value consists of `10*1024*1024-27` bytes.

Then I stopped server and try to start it again, but it failed with error `wal: max entry size limit exceeded` (https://github.com/etcd-io/etcd/blob/main/server/storage/wal/decoder.go#L88).

### What did you expect to

[2022-05-09 22:22] ahrtr commented on #13915
FYI [discussion_r868499893](https://github.com/etcd-io/etcd/pull/14020#discussion_r868499893)

[2022-05-10 04:39] caproven commented on #14021
@ahrtr mind if I take a stab at this?

[2022-05-10 05:02] ahrtr commented on #14021
Sure. Feel free to deliver a PR for review.

[2022-05-10 06:24] rahulbapumore commented on #13987
Hi @lavacat ,
Any updates?

Thanks

[2022-05-10 12:25] lance5890 opened #14027 "etcd leader change leads to "timed out waiting for read index response""
### What happened?

shutdown one member's network(mock network failure), and then up this memer,  as this member's term id is greater than the existed cluster's termid, this will leads to leader re-election, but we find when the cluster has elected a new leader, but the request during the time has "timed out waiting for read index response (local node might have slow network)" warning

### What di

[2022-05-10 12:38] ahrtr commented on #14025
There are two reasons:
1. Firstly, when [marshaling the data](https://github.com/etcd-io/etcd/blob/b7be91f98b7a7a6202ed9e9bc37b692d484585a8/server/etcdserver/v3_server.go#L695), there is indeed some overhead. In your example, although the the len(key) + len(value) = `10*1024*1024-27 + 2`. But actually the final len(data) = `10485760`.
2. Secondly, when etcd saves the data into WAL files, there is

[2022-05-10 15:07] algobardo commented on #14025
@ahrtr I think there are several concerning issues revealed by this bug report:

1. An etcd instance that is configured with the suggested values can be brought to silently rot its wal by an adversarial client, to the point that *nodes are not able to restart*, due to not being able to read the entry from the wal. *Solution*: If there is a limit on the entry size for the wal, then make it a hard l

[2022-05-10 16:07] joshua-sp opened #14028 "Checking for key existence - `create_revision` vs `version`"
I've seen a common idiom to check for the non-existence of a key within a `Compare` by checking if the `create_revision` is equal to 0. (as discussed here https://github.com/etcd-io/etcd/issues/6740)

I was wondering: If the key is created, and then deleted, is the `create_revision` of the key reset to 0?
The [data model](https://etcd.io/docs/v3.5/learning/data_model/) states that the `version` of

[2022-05-10 19:13] spzala commented on #14001
@camilamacedo86 here is a related discussion on initial projected support, https://github.com/etcd-io/etcd/pull/13545 Our previous release managers are not so active lately, and @serathius is working on simplifying and improving the process. I believe the future release assets should have binaries that you asking for, but I will wait on him for a better answer. Thanks!

[2022-05-10 19:35] chaochn47 commented on #13779
Adding some reference from kubernetes. Looks like GKE defaults to `5s`. I could imagine graduation of the flag will be breaking change for etcd users so etcd-v3.6 release should call it out.

[code]
ref. https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/config-default.sh#L524-L525

[code]
ref. https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/gci/configure-helper.sh#L

[2022-05-10 22:39] ahrtr commented on #14025
Thanks for all the feedback, which basically makes sense to me.  I agree we should never bring down the etcd server or failing to get started.

Proposed actions:
1. Make the [WAL entry limit](https://github.com/etcd-io/etcd/blob/066e510731bb258ccdb7e64e49c14d46e58beb9e/server/storage/wal/decoder.go#L65) configurable, and defaults to 10 * requestLimit;
2. or remove the WAL entry limitation on WAL?

[2022-05-10 23:57] camilamacedo86 commented on #14001
Hi @spzala,

Thank you. We had a release 17 days ago: https://github.com/etcd-io/etcd/releases/tag/v3.5.4
So, it seems that we are still missing something to have this bin or we just do not add to the release the arm64 bin.

[2022-05-11 02:56] zaozaoniao opened #14030 "concurrency/election need query election node information."

[2022-05-11 02:58] zaozaoniao opened #14031 "concurrency/election need query election node information."
The etcd election sdk use  [ the current live oldest kv  as leader],
be equivalent to  [ ./etcdctl --endpoints=127.0.0.1:2379 get /merc --prefix --sort-by=CREATE --order=ASCEND --limit=1] ,

**but sometime we need to know  the election cluster node information，we must to control and  manage the cluster node  by the  node list.**

so maybe we can  add  a [Clusterinfo]  api in  concurrency/election

[2022-05-11 02:59] #14030 closed

[2022-05-11 03:00] zaozaoniao commented on #14030
Duplicate issue

[2022-05-11 03:53] caproven commented on #14021
Able to reproduce this test error at will by running the tests with GOMAXPROCS=1. Hopefully this is close enough for mimicking the "linux-386-unit-1-cpu" environment where the error occurred.

[code]

[2022-05-11 05:29] vimalk78 commented on #13637
anyone working on
- [ ] e2e/ctl_v3_snapshot_test.go
if not i will take up this.
@serathius why is this issue closed? are all tests migrated?

[2022-05-11 06:42] zaozaoniao commented on #14028
I think   there is  no sense  when  the key  is deleted.

you can use  etcdctl  --endpoints=http:127.0.0.1  get  aa  --write-out=fields"  to  see the result:
[code]

 do  not show  the deleted key's  version , createrevision , modrevision

[2022-05-11 07:19] serathius commented on #13637
It got closed because of the PRs that was merged included text `fixes #issue-id` in top comment, which is very (nice/bad) Github issue that allows anyone to close issue. I didn't noticed this and merged the PR so I was marked as actor closing the issue.

[2022-05-11 08:03] Peakchen commented on #6645
it can not open？

[2022-05-12 05:11] liyaodev commented on #13997
I found this [doc](https://etcd.io/docs/v3.5/benchmarks/etcd-3-watch-memory-benchmark/).

[2022-05-12 06:17] kentahikaru commented on #13997
Thanks you.

[2022-05-12 06:17] #13997 closed

[2022-05-13 00:58] chaochn47 commented on #13637
oops. I will avoid the `fixes #issue-id` statement in the following tests migration PR then. I did not realize that functionality ==

[2022-05-13 05:57] rahulbapumore commented on #13987
Hi @lavacat  @ahrtr ,
Any updates on above query?

[2022-05-13 07:34] liaojie opened #14037 "ResourceExhausted when reading large number of keys"
Hi,

We have a etcd cluster and did some high load tests for our server, putting approximate 10M keys, and read them all when server starts. We get the following error:

`
etcd/etcd_client.go:148        Failed to get all objects of a key prefix from ETCD.        {"key": "/vpc_remote_data/", "error": "rpc error: code = ResourceExhausted desc = grpc: trying to send message larger than max (317693415

[2022-05-13 07:49] ahrtr commented on #13915
@serathius  Are you working on this? If not, I'd like to work on it. I can start to work on it about 1+ week later.

We need to get all lease related issue & enhancement sorted out, and provide a clear plan.

[2022-05-13 09:13] endocrimes commented on #13915
I have a WIP branch for this but didn't get much time in the last couple of weeks (I've been mostly out with a shoulder injury for the last week or so).

The hardest bit to figure out conceptually has been figuring out how to handle time and clock drift - specifically assuming we want to switch away from having checkpoint decrement the TTL in Raft and towards having some kind of `expiresAt` field

[2022-05-13 09:43] #14021 closed

[2022-05-13 11:23] serathius commented on #13915
Not sure we want this. Please let's discuss the design and agree on who should implement it to avoid duplicated and wasted work.

[2022-05-13 11:48] ahrtr commented on #13915
Thanks @serathius and  @endocrimes for the feedback.

Let's discuss the design & plan firstly, and balance the effort afterwards, I will try to drive this. Feel free to jump in if anyone has any thoughts or ideas.

[2022-05-13 13:35] serathius opened #14039 "etcd detects data corruption by default"
On of the highlighted issues in https://github.com/etcd-io/etcd/blob/main/Documentation/postmortems/v3.5-data-inconsistency.md lack of usage and reliability of etcd data consistency check.

Problems:
* Lack of adoption prevents early detection hampering etcd community ability to fix issues.
* No hard guarantees about detecting inconsistency, undermines purpose of this feature.
* Supportability of

[2022-05-13 13:41] serathius opened #14040 "Flaked integration/clientv3/examples ExampleCluster_memberAddAsLearner"
https://github.com/etcd-io/etcd/runs/6423405520

[2022-05-13 14:21] ptabor commented on #14039
Overall looks good, and I agree it's probably the best thing we can do.

Just noticing that the design below is based on compaction and would not work if there were no compactions... so is not truly 'independent'. Just nitpicking...

Just noticing that if you look at the compaction logic:
https://github.com/etcd-io/etcd/blob/bcebd1212dfe8a506a6fbad1d150361fe7a846af/server/storage/mvcc/kvstore_comp

[2022-05-13 15:32] donalhunt commented on #13506
also interested in seeing TLS 1.3 support.

side note: just encountered an issue where the use of a older version of a java library (didn't support TLS 1.2 I believe) resulted in issues connected to our etcd cluster. allowing developers to utilise 1.2 or 1.3 would be good since some apps may be built and not revisited for a while - if they get rebuilt with TLS 1.3 the likelihood of a revisit due t

[2022-05-14 01:38] ahrtr commented on #14039
The existing data corruption detection mechanism indeed needs improvement.

It seems we can **NOT** achieve both "`independent on ongoing compactions`" and "`No/minimal performance impact`", instead we have to sacrifice one of them at the interested in the other one based on the proposal.

But I don't have a better idea right now.

[2022-05-15 03:32] xiaods commented on #14037
why not use redis to store your keys. it's not limited for 2GB size keys.

[2022-05-15 04:44] xiaods commented on #14008
hi, the election request  is based on raft consensus.  No relation to other.

[2022-05-15 04:54] lotus-x commented on #14008
So maybe the lock system works the way I want?

Like acquired one by one according to the order they requested?

[2022-05-15 07:56] xiaods commented on #14008
maybe this articles can give you some insight. https://programmer.ink/think/implementation-of-etcd-distributed-lock.html

[2022-05-15 14:47] serathius commented on #14039
You are right, what I meant that compaction during corruption check should not cause it to skip validating peer. Still proposed design needs compaction to be run.

Scanning whole bbolt was not my intention, I meant to calculate hash on compacted data, so one between the oldest revision and compaction horizon.

This is why I want leader to store and ask about multiple different revisions during one

[2022-05-16 04:39] lavacat commented on #14040
I'll take a look at this

[2022-05-16 08:56] liaojie commented on #14037
@xiaods yes we use Redis in our system when there is a need to store large keys, and for this specified situation we could only  use etcd, which could not be replaced immediately

[2022-05-16 13:59] serathius opened #14045 "etcd testing can reproduce historical data inconsistency issues"
P0 action item proposed in https://github.com/etcd-io/etcd/blob/main/Documentation/postmortems/v3.5-data-inconsistency.md

Collecting ideas how we can improve testing to reproduce v3.5.0 data inconsistency issues in our automated testing.

[2022-05-16 22:55] ahrtr opened #14048 "Backport pull/13525 to 3.5"
Previously we backported [pull/13399](https://github.com/etcd-io/etcd/pull/13399) to 3.5. But we do not backport [pull/13525](https://github.com/etcd-io/etcd/pull/13525) to 3.5. Probably we need to backport [pull/13525](https://github.com/etcd-io/etcd/pull/13525) to 3.5 as well.

The key point is etcd can't finish the bootstrap/startup process if the quorum isn't satisfied. So it can't serve any c

[2022-05-17 06:49] rahulbapumore commented on #13976
Hi @ahrtr ,
Could you please confirm when v3.4.19 will be released and available?

Thanks,
Rahul

[2022-05-17 13:52] xiaods commented on #14027
@lance5890   your disk is very slow.  this is not bug for your report.  see this case: https://github.com/etcd-io/etcd/issues/10860

[2022-05-17 15:01] xiaods commented on #13958
@MagicStarTrace  It is recommended that you reinstall Etcd version 3.4 to verify the results.

[2022-05-18 05:20] xiaods commented on #14045
suggest: build a testing team to guide more contribute to do testing on his environments

[2022-05-18 08:18] lance5890 commented on #14027
@xiaods  as u can see the metrics , my disk is ssd and etcd metric  "etcd_disk_wal_fsync" shows ok，and this problem only occurs when an old member(its termId is greater then thel leader, which will lead to the leader transfer into follower) join into  the new cluster

[2022-05-19 07:31] xiaods commented on #14015
@SingleThread  your issue is feature request, not bug issue.

[2022-05-19 08:07] serathius commented on #14039
Backporting of this feature depends on this feature no impact on user, however there is still potential impact if there is a bug in implementation. As so I propose that we will introduce a prerelease with this feature. We will publish v3.5.5-rc.0, with note that this is not a full release, and don't provide installation instructions.

This way we can do additional testing to prevent bugs, like run

[2022-05-19 11:04] xiaods commented on #13961
it mean 3.5 need set  there params : --cacert and  --cert= and  --key

[2022-05-19 11:52] ahrtr commented on #14039
Basically it looks good to me. Although usually it's not proper to backport a non-trivial  feature to a stable branch and it's also the first time for me to see a RC version for a patch release, it can improve the maintainability of 3.5 and we need to support & maintain 3.5 for a long time. So it's OK!

[2022-05-19 18:52] Hexta commented on #14023
@xiaods This is not so rare case if you're using CAS operations for values longer than 4K symbols.
etcd itself has broken CAS operations for APIv2.

[2022-05-19 20:20] lavacat commented on #14040
Quick update on this issue:

Found another run of this test that failed https://github.com/etcd-io/etcd/runs/6441619707?check_suite_focus=true

In both cases, we see the following logs:

`2022/05/13 13:11:47 2022-05-13T13:11:47.769Z	INFO	m0	applied a configuration change through raft	{"member": "m0", "local-member-id": "b81308bc4e5da240", "raft-conf-change": "ConfChangeAddLearnerNode", "raft-conf-

[2022-05-20 07:44] serathius commented on #14040
Nice find!

[2022-05-20 09:42] biosvs commented on #14025
@ahrtr Do you have any updates? We can work on PR from our side, but we need to know preferable solution.

[2022-05-20 11:06] tamanna2702 opened #14055 "Can't connect to etcd via etcdctl"
Hi,

Could you please take a look at this question on Stackoverflow.

https://stackoverflow.com/questions/71966255/cant-connect-to-etcd-via-etcdctl

Thanks,
Tam

[2022-05-20 13:05] mdelissen opened #14056 "Client: IsOptsWithPrefix returns false even if WithPrefix() is included"
### What happened?

If you use the function `IsOptsWithPrefix` with opts containing `WithPrefix()` it always returns `false` instead of true.

### What did you expect to happen?

`IsOptsWithPrefix` should return true if `opts` contains `WithPrefix()`

### How can we reproduce it (as minimally and precisely as possible)?

[code]

Logs `false` instead of `true`

### Anything else we need to know?

`

[2022-05-20 13:43] algobardo commented on #14025
Let me try to do a bold move and get the ball rolling on proposal 2.
Do you see any problem with #14057?

[2022-05-20 14:45] kvaikla opened #14058 "Missing command: migrate"
### What happened?

[code]

### What did you expect to happen?

Migrate of v2 data

### How can we reproduce it (as minimally and precisely as possible)?

My etcd binary is from:
https://github.com/etcd-io/etcd/releases/download/v3.5.1/etcd-v3.5.1-linux-amd64.tar.gz

### Anything else we need to know?

_No response_

### Etcd version (please run commands below)

<details>

[code]

</details>

###

[2022-05-20 15:44] spongecaptain opened #14059 "use go install instead of go get in /contrib/raftexample/Procfile"
### What happened?

The go version of etcd is go 1.17 right now.

Please see golang/go#40276

[code]
If you run `go get github.com/mattn/goreman` in go1.17(or later), it will not build or install packages.

By `go get`, if you run the following command, you will get the following error:
[code]

### What did you expect to happen?

Use `go install github.com/mattn/goreman@latest` instead.

### How c

[2022-05-20 16:58] ishan16696 opened #14061 "Auto-recover if database directory is locked"
### What happened?

In a single node etcd it has been observed that some times due to abruptly termination of `etcd container` the lock on the `etcd db` file was still held by previous etcd process. And this stop new etcd process to come up as [new etcd process unable to access db file.](https://github.com/etcd-io/etcd/blob/v3.4.13/etcdserver/backend.go#L69-L98) as it is unable to [open bolt db](h

[2022-05-20 20:08] sudoHackIn opened #14062 "Add TryLock support to Grpc Lock service"
Hi, if a am correctly understand [Grpc Lock](https://etcd.io/docs/v3.5/dev-guide/api_concurrency_reference_v3/#service-lock-serveretcdserverapiv3lockv3lockpbv3lockproto) and source code of concurency.Mutex
Grpc Lock service method Lock blocks other client until lock is unlocked(manually or lease is expires).

Is it possible to add method to Grpc client with the same semantics as TryLock

[2022-05-21 04:13] xiang90 commented on #14025
etcd is designed to serve small-sized metadata. And all the write happens sequentially in etcd. What is your use case for storing large values into etcd? Would something like S3 be a better fit for you?

[2022-05-21 08:08] algobardo commented on #14025
We are using etcd for that purpose, and S3 would not be a good fit for us. The limit we are encountering is not on the key size, but on the transaction size, as the 10Mb limit applies to the transaction size.

If you consider the (configurable) default limit of a transaction size of 128, you can easily reach the 10Mb limit with a transaction involving 128 keys of 70kb, which IMHO is not too far of

[2022-05-21 23:00] ahrtr commented on #14025
Comments:
1. No matter what's the use case, we should never bring down etcd server; So we should fix it from this perspective. The [pull/14057](https://github.com/etcd-io/etcd/pull/14057) overall looks good to me.
2. From a real use case perspective, the WAL entry should have a limitation regardless of the `maxRequestSize` and `maxTxnOps`. But the current value (10MB) might not be a good value, we

[2022-05-21 23:16] ahrtr commented on #14025
Since the WAL file limitation is 64MB, so the simplest solution could be just to use the [SegmentSizeBytes](https://github.com/etcd-io/etcd/blob/8093fc90abe78a431c841a688c7e66fd660d20dd/server/storage/wal/wal.go#L55) as the each WAL entry's limitation directly?

[2022-05-21 23:19] ahrtr commented on #14059
The PR [14060](https://github.com/etcd-io/etcd/pull/14060) has already been merged, so closing this ticket.

[2022-05-21 23:19] #14059 closed

[2022-05-22 11:33] ptabor commented on #14025
I like the idea around capping the limits around SegmentSizeBytes.

1. refuse configs where --max-request-bytes > [SegmentSizeBytes](https://github.com/etcd-io/etcd/blob/8093fc90abe78a431c841a688c7e66fd660d20dd/server/storage/wal/wal.go#L55)/4=16MB

2. Move the decoding safety check to comparison against `SegmentSizeBytes`.

[2022-05-22 12:38] algobardo commented on #14025
To my understanding, the SegmentSizeByte is only a pre-allocated size of the wal, but it doesn't mean that the actual wal size is <= SegmentSizeByte. I'm not knowledgeable with the codebase, but to me, the wal is written to support any size. Restrictions can be added in the upper layer (etcd server).

Maybe I'm missing the point, but I don't understand why we only talk about the decoding. If the w

[2022-05-22 14:50] ahdekkers commented on #14056
I'd be happy to take a look at this

[2022-05-22 18:02] serathius commented on #14058
Please use `etcdutl` binary and not `etcdctl`.

[2022-05-22 21:48] ahrtr commented on #14025
Copy one of my previous comments:
[code]

And read [14057#discussion_r878844991](https://github.com/etcd-io/etcd/pull/14057#discussion_r878844991) .

Please update the  PR per ptabor's comment above.

[2022-05-23 08:27] Battlefield-Pony opened #14065 "ETCD unusual long request"
### What happened?

during setting up 3 node etcd cluster, it is found that if there are more than 5 apisix nodes exists, the etcd may takes longer than 20 seconds to process the request.
As picture indicated below
![image](https://user-images.githubusercontent.com/66858976/169774048-8031920a-4636-4fb4-bfa3-af37eb29eb8c.png)

### What did you expect to happen?

Usually with in this amount of data

[2022-05-23 08:36] Battlefield-Pony commented on #14065
Actually here are some additional info.
1. the cpu profilling did not found any issues, and the pressure seems not from the CPU.
2. the requests directly using `benchmark range` is responding fast, but the request won't be displayed in the `/debug/request` url.
3. What usually will doduring the steps shown on image below
![image](https://user-images.githubusercontent.com/66858976/169778807-a3a497a

[2022-05-23 11:28] biosvs commented on #14025
Guys, I understand, you're owners and don't have to explain anything. But maybe you will find couple minutes to explain the way you're thinking?

1. You're about to introduce backward compatibility breaking change without any hesitations. Maybe it's worth first to ask people at least in Google Groups?
2. You think that it's okay to increase WAL entry size limit to 64MB, but input request should no

[2022-05-23 11:51] Battlefield-Pony commented on #14065
Update: Using gRPC Gateway performing Putting Operations also takes 20-ish seconds
![image](https://user-images.githubusercontent.com/66858976/169813183-6dbbac0b-af73-4838-9daf-640828b961b9.png)

[2022-05-23 14:44] ptabor commented on #14058
Please reopen if the suggestion does not work.

[2022-05-23 14:44] #14058 closed

[2022-05-23 14:47] ptabor commented on #14055
No windows experience, but would look around firewalls & port binding permissions.
Is there `netstat` on windows to show what ports are open by each process ?

[2022-05-23 14:53] ptabor commented on #14048
This is significant behavioural change to backport IMHO in v3.5, especially if the change would get enabled by default.

I think it's considered a `barrier` by many services to consider that the deployment is up & running when the server starts accepting connections. Even in etcd tests alone `framework/e2e/etcd_process.go` we wait for the log line `"ready to serve client requests"` to asses whethe

[2022-05-23 22:25] ahrtr commented on #14048
Thanks @ptabor for the feedback. Just to be clearer, there are two cases, and we don't support the first one.
1. Only one member (in a cluster with 3 or more members) is started, then the member can't serve serializable requests such as `/health?serializable=true` or `etcdctl get k1 --consistency="l"`; The reason is the member hasn't started to receive client connections.
2. Only one member is lef

[2022-05-23 22:40] ahrtr commented on #14025
Thanks all for the feedback.

The proposal doesn't break anything. Note that the current [WAL entry size limit](https://github.com/etcd-io/etcd/blob/c3bc4116dcd1272c6a1318feadf5ac9739409a12/server/storage/wal/decoder.go#L65) is 10MB, so it is **NOT** possible to configure a bigger value for `--max-request-bytes` based on current implementation. The new limitation (16MB) we proposed above is much b

[2022-05-24 01:23] Battlefield-Pony commented on #14065
Gday @ptabor

As Requested, this is collected metrics, I still cant see what is the issue from the metrics (sigh....) I really appreciate any helps

[metrics.txt](https://github.com/etcd-io/etcd/files/8758866/metrics.txt)

[2022-05-24 07:08] neolit123 commented on #14048
Looking at the diff for https://github.com/etcd-io/etcd/pull/13525 it seems like a bugfix change and a feature change at the same time. If only the bug fix change can be extracted for a backport the backport would comply with the "no feature backport" rules. E.g. the config change can be omitted and the behaviour can be applied by default with some hardcoded timeout.

That of course depends if the

[2022-05-24 07:27] biosvs commented on #14025
Currently it's possible to set any request size, WAL also will accept entries of any size. I bet most of people don't restart theirs etcd nodes very often, 'cause in general in just not needed as etcd works remarkably stable. We found discussed issue purely by chance.

That is mean that a lot of people could operate clusters with 10+ MB entry sizes in theirs WAL files, and most of the time everyth

[2022-05-24 08:45] rahulbapumore commented on #13976
Hi @ahrtr  ,
Could you please confirm when v3.4.19 will be released and available?

Thanks,
Rahul

[2022-05-24 10:21] Battlefield-Pony commented on #14065
New Update:

When we disabled `server-client communication TLS`, the situation disappeared, everything goes well, but how? (thinking face)

![image](https://user-images.githubusercontent.com/66858976/170009754-49f3e5ac-eb6a-423e-8944-2adc946c3bf9.png)

No more `more than 10s requests`

[2022-05-24 11:27] rahulbapumore commented on #13987
Hi @lavacat @ahrtr ,
Any updates on above query?

[2022-05-24 15:18] kvaikla commented on #14058
Still same
[code]

[2022-05-24 15:22] kvaikla opened #14068 "Reopen Missing command: migrate #14058"
### What happened?

Described in #14058, same error

### What did you expect to happen?

Described in #14058

### How can we reproduce it (as minimally and precisely as possible)?

Described in #14058

### Anything else we need to know?

_No response_

### Etcd version (please run commands below)

Described in #14058

### Etcd configuration (command line flags or environment variables)

<details>

[2022-05-24 21:52] ahrtr commented on #14058
The command `etcdctl migrate` had already been decommissioned in 3.5.0 in [pull/12971](https://github.com/etcd-io/etcd/pull/12971).  Please use a version <=v3.4.

The changelog item isn't accurate, I just submitted a PR to correct it. Refer to [pull/14069](https://github.com/etcd-io/etcd/pull/14069)

[2022-05-24 21:54] ahrtr commented on #14068
Please see my comment [issuecomment-1136466246](https://github.com/etcd-io/etcd/issues/14058#issuecomment-1136466246)

[2022-05-24 21:54] #14068 closed

[2022-05-24 22:51] ahrtr commented on #14025
Have you tested what's the request size when a transaction has 10K keys?

I think we should have a limitation on both the WAL entry limit and request size. Regarding to the values, it's open to discussion.

Based on current design & implementation, the WAL entry limitation can be set to [SegmentSizeBytes (64MB)](https://github.com/etcd-io/etcd/blob/8093fc90abe78a431c841a688c7e66fd660d20dd/server/s

[2022-05-25 07:38] monsterxx03 opened #14070 "Member promote request sent to follower get unexpected response when auth is enabled"
### What happened?

Assume we have a etcd cluster of node 217 and 218(two or three nodes setup make no difference in this case).

And **auth is enabled** in this cluster(I'll omit --user option in example)

etcdctl  member list

[code]

etcdctl endpoint status --cluster

[code]

218 is the leader node.

etcdctl --endpoint=http://10.252.90.217:22379  member promote c6b6f4cbd45937f5

[code]

Check l

[2022-05-25 09:40] iamejboy opened #14071 "Very frequent Leader Election with High compaction time?"
### What happened?

Frequent leader changed with no log of "MsgTimeoutNow" from leader from follower, or "rafthttp: lost the TCP streaming connection with peer". A follower would just initialize an election, replacing a leader. Also seen some random "grpc: Server.processUnaryRPC failed to write status: connection error: desc = "transport is closing" and more than 5s compaction

### What did you ex

[2022-05-25 11:47] kvaikla commented on #14058
https://etcd.io/docs/v3.5/upgrades/upgrade_3_5:
If all members have been upgraded to v3.5, the cluster will be upgraded to v3.5, and downgrade from this completed state is not possible.

What are steps, to get etcd 3.5 data from v2 to v3?

[2022-05-25 14:12] JamesMurkin opened #14072 "ETCD Unstable under high sustained load"
### What happened?

I ran `while [ 1 ]; do dd if=/dev/urandom bs=1024 count=1024  |  etcdctl put key  || break; done` from 2 machines against my etcd cluster and it became unstable.

Client side I get:
`"error":"rpc error: code = DeadlineExceeded desc = context deadline exceeded"}
Error: context deadline exceeded`

Etcd side the whole etcd cluster becomes unstable for 1-2 minutes, then a selection

[2022-05-25 21:15] jsirianni opened #14073 "Linux Packages"
The main website says "help wanted" under OS packages https://etcd.io/docs/v3.5/install/#installation-via-os-packages. I have working deb and rpm packages and would love to contribute them. Is that something the maintainers and community would be interested in? If so, I am happy to discuss the details.

[2022-05-26 05:01] lavacat opened #14074 "Tests are failing for release-3.4 in go 1.15.15 because of grpc dependency"
2 latests runs for release-3.4 branch are failing
https://github.com/etcd-io/etcd/actions/workflows/tests.yaml?query=branch%3Arelease-3.4

I can reproduce this locally. Tests work for go 1.12.17

Similar discussion is [here](https://github.com/etcd-io/etcd/issues/12124).

Shall we downgrade to 1.12.17?

[2022-05-26 06:19] ahrtr commented on #14074
I added a discussion item into next community meeting. Feel free to discuss it by then.
But I may not join the call because it's 2AM my time.

[2022-05-26 07:50] #13796 closed

[2022-05-26 20:57] lavacat commented on #14074
Here is a fix for 'naming' issue + another fix for test failure because of old bolt db
https://github.com/etcd-io/etcd/pull/14075

Tests still failed in GitHub. (worked for me locally). I'll investigate more

[2022-05-27 08:36] leslie-tsang opened #14077 "Etcd unexpected request time consumption with HTTPs v3 API"
### What happened?

We use a API gateway APISIX to watch etcd cluster(`auth` and `TLS` enabled) resource with HTTPs request, the APISIX cluster will raise about 260 connection to etcd cluster.

In this scenario, the etcd operation with `HTTPs` request will speed too much time (more than 20s). the operation with `gRPC` protocol wouldn't spend that much time.

## Simple conclusion
Etcd operation wit

[2022-05-27 08:40] moonming commented on #14077
same as https://github.com/etcd-io/etcd/issues/14065

[2022-05-27 21:37] ahrtr commented on #14077
This issue should can be fixed by [pull/13985](https://github.com/etcd-io/etcd/pull/13985).  The `ConcurrentMaxStream` is 250, so when you create 260 connections, obviously it exceeds the limitation.

[2022-05-27 21:38] ahrtr commented on #14065
See [issuecomment-1140057917](https://github.com/etcd-io/etcd/issues/14077#issuecomment-1140057917)

[2022-05-29 11:59] membphis commented on #14077
Thanks a lot for your tips. We will reply you after we test your PR. ^_^

[2022-05-29 13:31] camilamacedo86 commented on #14001
Hi @spzala,

Any change on this one?
Do you think that we could have this bin?

[2022-05-30 00:53] leslie-tsang commented on #14077
@ahrtr @membphis After test, [PR 13985](https://github.com/etcd-io/etcd/pull/13985) proved to be feasible in this scenario. :)

[2022-05-30 06:29] algobardo commented on #14025
Our transaction size exceeds 10Mb, and is below 16Mb, but having a hardcoded limit to 16Mb means that we would have in front of us a hard limit to the scalability of the solution we have. If it would be 1000%, I would feel comfortable with it, but with 60% margin I don't feel comfortable.

The problem I see is that introducing a non configurable limit on the WAL size is a breaking change. That lim

[2022-05-30 06:52] ahrtr commented on #14025
It's in my to do list. I will get this sorted out and ask for opinions from other maintainers and users sometime later.

[2022-05-30 08:32] rahulbapumore commented on #13987
Hi @lavacat @ahrtr ,
Any updates on above query?

[2022-05-30 08:33] rahulbapumore commented on #13976
Hi @ahrtr ,
Could you please confirm when v3.4.19 will be released and available?

Thanks,
Rahul

[2022-05-31 14:56] didihongsheng opened #14083 "Inconsistent data in etcd"
### What happened?

etcd version: 3.4.9

three members in etcd cluster.

 the brief description as:  leader's revison lag far behind followers

etcd leader status
<img width="1201" alt="image" src="https://user-images.githubusercontent.com/19987261/171200753-0465686b-b88d-46a2-888f-947fa17d3137.png">

revision diff
<img width="1745" alt="image" src="https://user-images.githubusercontent.com/199872

[2022-06-01 05:16] #13842 closed

[2022-06-01 05:42] ishan16696 commented on #14048
Hi @ahrtr ,
what about using this `etcdctl get k1 --consistency="s"`. Isn't `--consistency="s"` kindof mimic the `/health?serializable=true` ?

[2022-06-01 06:44] ahrtr commented on #14048
Yes, both `--consistency="s"` and `/health?serializable=true` are issuing serializable request. But `--consistency="s"` has the same issue (it's exactly what this ticket is discussing) as `/health?serializable=true` in 3.5 without backporting [pull/13525](https://github.com/etcd-io/etcd/pull/13525).

[2022-06-01 11:39] ahrtr commented on #14083
Could you try to reproduce this issue in 3.5.4 or main, please?

[2022-06-01 19:22] spzala commented on #14073
@jsirianni thanks for your contribution interest! If you can provide doc that fits in the installation section in the link you provided, I would suggest to create a PR/draft PR to have discussion/review around it. The docs belongs to https://github.com/etcd-io/website so please use that repo for this issue related discussion. Thanks!

[2022-06-01 19:22] #14073 closed

[2022-06-02 12:34] yunhyuck opened #14086 "Why does Server.processUnary RPC failed to write status occur?"
Hi!

Periodically, the message grpc:Server.processUnaryRPC failed to write status:connection error:desc = "transport is closing" occurs.

2022-05-26 13:56:12.521 [INFO][117] felix/summary.go 100: Summarising 9 dataplane reconciliation loops over 1m1.9s: avg=25ms longest=104ms (resync-routes-v4,resync-routes-v4,resync-routes-v4,resync-routes-v4,resync-rules-v4,resync-wg)

WARNING: 2022/05/26 13:56:

[2022-06-02 16:51] lavacat commented on #13912
FYI, @serathius @ahrtr I've started looking at 3.4 pipeline for our internal build, so I can be release manager.

[2022-06-05 00:05] zengkui opened #14089 "WatchResponse result string in restful NOT align to it's protobuf definition"
I want to access etcd restfull api with cpp client. In watch request, my demo code as follow runs ok.
[code]
but in the response stage, I just found the function JsonStringToMessage returned fail cause the structure of response string does not align to WatchResponse
[code]
the correct WatchResponse should has a field named 'result', and all content wrapped in it.
[code]
Could such a definition be

[2022-06-05 12:59] protosam commented on #14001
Building 3.5.4 seems to work on darwin-arm64 for me. The `build.yaml` could just create/update releases when tags are pushed. Depending on which action is used, there is more or less flexibility. The one in my example seems good enough if you want to automate filling in release details.

Example build.yaml:
https://github.com/UniversalShipping/etcd/blob/730f3ec0c2be23838f8a5bf207d1b4d977039cfa/.gi

[2022-06-05 23:40] sfuerte opened #14090 "better TLS related documentation & client auth"
### What happened?

Though not advised, but [Transport security model](https://etcd.io/docs/v3.5/op-guide/security/#notes-for-dns-srv) and [Clustering Guide](https://etcd.io/docs/v3.5/op-guide/clustering/) suggest that a shared TLS certificate can be used among all server nodes.
E.g., the following certificate supposed to be accepted:
[code]

In fact, it does NOT work. Potentially a bit more descr

[2022-06-05 23:43] sfuerte commented on #9917
for anyone who comes across of the same issue in the future: check if you have both SSL & plain-text SRV records. Removing the latter fixed the issue and the subject logs disappeared.

[2022-06-05 23:48] sfuerte commented on #8603
had the same problem when was trying to use a shared certificate with a CN (common name) something like `etcd.<domain_FQDN>` or simply `<domain_FQDN>`. SAN would have all cluster servers listed by its DNS names as well as discovery FQDN.
Switching to individual certificates with CN = `etcd_advertise_fqdn` and SAN = `['discovery/domain FQDN', 'etcd_advertise_fqdn']` solved the issue.
See more detai

[2022-06-06 08:04] shenwxopen commented on #10880
try change --listen-client-urls to ipv4

[2022-06-06 15:08] serathius commented on #13912
Thanks @lavacat for help. Waiting for PR with fixes.

[2022-06-06 21:56] aphyr opened #14092 "Possible aborted reads with process crashes"
### What happened?

With etcd 3.5.3 and jetcd 4.1.74.Final, I suspect that the effects of failed transactions can be visible to later readers and writers when processes are killed with `kill -9`. For example, take this pair of operations from one Jepsen run, in a five-node cluster running on Debian 11 LXC nodes:

[code]

The `:writer` transaction began by appending (via CaS) the element 14 to a li

[2022-06-06 23:35] wyrobnik opened #14093 "[Question] What causes Raft WAL to get corrupted?"
### What happened?

We have been running a Raft cluster using etcd's Raft implementation. We started with the raftexample.
Occasionally, one node fails to restart due to a corrupted WAL file. During WAL replay `wal.ReadAll()` [0] returns error `io.ErrUnexpectedEOF`.

0: https://github.com/etcd-io/etcd/blob/main/server/storage/wal/wal.go#L437

### What did you expect to happen?

The WAL to not get

[2022-06-07 07:58] rahulbapumore commented on #13976
Hi @ahrtr ,
Could you please confirm when v3.4.19 will be released and available?

Thanks,
Rahul

[2022-06-07 09:22] serathius commented on #14058
This is no longer supported for v3.5. It should still be possible using v3.4 etcdctl as there were no breaking changes, however please take appropriate precautions as this is not officially supported and was never tested.

[2022-06-07 09:29] serathius commented on #14092
From brief read this looks like bug in [jetcd](https://github.com/etcd-io/jetcd) and not etcd. Please file it there

[2022-06-07 10:21] ahrtr commented on #13976
We are still working on it. See [issues/14074](https://github.com/etcd-io/etcd/issues/14074) and [issues/13912](https://github.com/etcd-io/etcd/issues/13912). Instead of passively waiting on the release, please feel free to proactively help to resolve the test issue in 3.4.

[2022-06-07 10:22] #13976 closed

[2022-06-07 14:42] aphyr commented on #14092
Could you tell me a bit more about why you suspect jetcd is to blame here, rather than etcd itself?

Here's a protocol-level view of the same kind of anomaly. We make a request to conditionally set key 693 to a new value ending in ... 29 iff its revision is still 7191:

![Screenshot from 2022-06-07 09-51-12](https://user-images.githubusercontent.com/3748/172397512-be56e3eb-e98d-47b2-af60-8890927f8

[2022-06-07 14:51] ahdekkers opened #14096 "Leases expire on adding cluster members"
### What happened?

Not sure if this is meant to happen or not, but when adding an etcd cluster node, leases on keys (for example, leases used in leader election) get deleted.

### What did you expect to happen?

I expected leases to stay alive

### How can we reproduce it (as minimally and precisely as possible)?

1. Start an etcd server as follows:
[code]
2. Start a leader election with two cand

[2022-06-07 19:52] aphyr opened #14098 "Possible WAL corruption with loss of un-fsynced writes:`max entry size limit exceeded`"
### What happened?

The [lazyfs](https://github.com/dsrhaslab/lazyfs) filesystem lets us simulate the effects of a power failure by losing writes which were not explicitly fsync'ed to disk. When we run etcd 3.5.3 on lazyfs, killing etcd and then losing un-fsynced writes can reliably put etcd into an unbootable state. Every time we try to start the node, it complains:

[code]

We're still sanding b

[2022-06-07 23:02] camilamacedo86 commented on #14001
@protosam that would be very helpful. Could you please add it to the releases page so that we can download it with `curl -sLO https://github.com/coreos/etcd/releases/download/${ETCD_VERSION}/${ETCD_BASE_NAME}.zip` from 3.5.4 ?

`

[2022-06-08 08:21] serathius commented on #14001
@protosam Automating etcd releases is a great idea, however it's a little bit complicated. Etcd release process has additional steps over just building images, for example all binaries need to be signed by on one of the maintainers. Instead of `scripts/build.sh` we run `scripts/release.sh`.

I'm not saying that we shouldn't do it, it's just more effort. Work is tracked in https://github.com/etcd-i

[2022-06-08 08:22] serathius commented on #14001
@camilamacedo86 I will be looking into making sure that darwin/arm64 is included in next v3.5.5 release expected within weeks.

[2022-06-08 11:13] rahulbapumore commented on #13976
Hi @ahrtr ,
We will try to see whatever help we can do, Thanks for reply .

Thanks,
Rahul

[2022-06-08 21:41] agargi commented on #14093
@wyrobnik This happens because of a torn write on the disk. Do you see this happening quite often or was a one-off occurrence?

[2022-06-09 01:50] protosam commented on #13980
Took a look at one of the PR's and the checks look incomplete to me. The goal should probably be to ensure that is in a state where we can actually trust that what's merged is being tested against the support platforms.

I'll spend my next free cycle seeing if I can use the github workers for actions to be viable. They support Windows, Mac, and Linux. For the extra architectures supported, I'll se

[2022-06-09 04:40] RiflerRick commented on #11749
thanks, that worked for me

[2022-06-09 06:17] burakzhi1986 commented on #10821
@immesys Hi, I have met the similar problem. May i know how does this problem solved? Thanks a lot!

[2022-06-09 08:15] serathius commented on #13980
What you are describing is qualifying the released artifacts, or in other words release pipeline should not build new artifacts, but reuse ones that went through testing. This is very good property of release pipeline to have, however we don't have any release pipeline at all.

I have updated list of proposed improvements in the top comment. They list improvements to release process as a set of mi

[2022-06-09 08:35] fanhai opened #14100 ""rpc error: code = PermissionDenied desc = etcdserver: permission denied""
### What happened?

testcase
[code]
output

[code]

### What did you expect to happen?

### How can we reproduce it (as minimally and precisely as possible)?

[code]

### Anything else we need to know?

[code]

### Etcd version (please run commands below)

<details>

[code]

</details>

### Etcd configuration (command line flags or environment variables)

<details>

# paste your configuration here

[2022-06-09 08:49] fanhai commented on #14100
WithFromKey ？
[code]

[2022-06-09 08:51] fanhai commented on #14100
@serathius

[2022-06-09 12:18] serathius commented on #13167
Status update, running `./scripts/measure-test-flakiness.sh` gave me:
[code]

So on last 100 merged commits we got 24 test failures. Excluding 7 coverage failures (not blocking merge) and 2 recent failures due to post merge bug https://github.com/etcd-io/etcd/pull/14101, we get 15% flakiness.

Going down from 50% to 15% is great result!!
Thanks everyone who helped.

[2022-06-09 12:28] serathius commented on #13167
Looking into failures from last 100 runs (excluding coverage and known issues) we get failures in:
* 4 failures in e2e tests of `TestDowngradeUpgradeClusterOf3` ([example](https://github.com/etcd-io/etcd/runs/6639213375?check_suite_focus=true))
* 4 failures in functional tests of `BLACKHOLE_PEER_PORT_TX_RX_LEADER` ([example](https://github.com/etcd-io/etcd/runs/6639205995?check_suite_focus=true))

[2022-06-09 12:29] serathius commented on #13167
As there are a lot of tests would be great to get some help. Please let me know if you are interested in tackling one of the tests listed.

[2022-06-09 19:59] aphyr opened #14102 "Handle disk corruption"
### What happened?

With etcd 3.5.3, running with `--experimental-initial-corrupt-check`, starting etcd with disk files that have had a few (p(flip) =~ 0.001) random bit flips can cause all kinds of exciting behavior. Sometimes the corruption check detects the checksum mismatch and panics properly:

[code]

Or

[code]

However, we can also induce SIGSEGV and SIGBUS crashes. [Here's an example Jeps

[2022-06-10 01:26] jinmiaoluo commented on #8603
Suppose you are using systemd to manage your ETCD cluster. Make sure your servers have correct NTP configuration and correct time (no matter what timezone you choose).

[code]

ETCD uses cert to encrypt and authenticate traffic, as you see:

[code]

If your server NTP and time isn't correct, it will not work correctly.

![image](https://user-images.githubusercontent.com/39730824/172971761-3040ccda

[2022-06-10 06:56] protosam commented on #13980
I think we're on the same page, but I threw some charts together to reduce any ambiguity.

If the workflow is aligned like below, releases should be easier because the code base is "tested". This is just a rough draft, I realize it's missing a lot of details. Hopefully it makes sense.

After getting the build environments worked out to work like this, if we can get tests added in, the following st

[2022-06-10 17:32] lavacat commented on #12840
@ptabor @ahrtr @ptabor @hexfusion @lilic Currently tests are broken in go 1.15. We need to update bolt to newer version to make it [work](https://github.com/etcd-io/etcd/pull/13125)

Let's decide if we want to migrate 3.4 to latest go version. 1.15 is already EOL. Go 1.18 is released, so we should use 1.17 or 1.18. If we don't want to migrate, I can remove 1.15 references and keep everything on 1.

[2022-06-11 07:31] lavacat opened #14105 "Plans for v3.4.19 release"
As per discussion during community meeting, this issue is to estimate potential work and timeline for 3.4.19 release.

3.4.18 release was on Oct 15, 2021. Here is the [table](https://docs.google.com/spreadsheets/d/1_eH50hLwi3NtqpnyDnSQF_5bVtfYGVaRE4glY12Ppqo/) of all commits from release-3.5 branch (except 'tests: *', 'scripts: *' and 'Merge pull request *') since Oct 6, 2021. I'm assuming that fi

[2022-06-11 23:25] ahrtr commented on #14105
Thanks @lavacat. Please see my comments below.

## Go version
1.17 is definitely not an option for release-3.4. One breaking change introduced in Golang 1.15 is the deprecation of the legacy behavior of treating the CommonName field on X.509 certificates as a host name when no Subject Alternative Names are present. The workaround is to add the value `x509ignoreCN=0` to the `GODEBUG` environment va

[2022-06-11 23:49] ahrtr commented on #14102
@aphyr  Did you manually & intentionally modify the `db` file?

[2022-06-12 04:48] ahrtr commented on #14100
Please read [WithRange](https://pkg.go.dev/go.etcd.io/etcd/clientv3#WithRange) and [WithFromKey](https://pkg.go.dev/go.etcd.io/etcd/clientv3#WithFromKey)

[2022-06-12 04:48] #14100 closed

[2022-06-12 04:53] ahrtr commented on #14098
Is this issue the same as [14102](https://github.com/etcd-io/etcd/issues/14102) ?

[2022-06-12 17:14] ahrtr commented on #14092
It isn't correct. It only means whether the `compare` is evaluated to `true` or `false`. See [rpc.pb.go#L1371-L1372](https://github.com/etcd-io/etcd/blob/4b41f74ff896b01acb40a605394a26945e8a56c5/api/etcdserverpb/rpc.pb.go#L1371-L1372)

[2022-06-12 23:32] ahrtr commented on #13735
This task should have already been resolved by [13773](https://github.com/etcd-io/etcd/pull/13773) and [13772](https://github.com/etcd-io/etcd/pull/13772)

[2022-06-12 23:32] #13735 closed

[2022-06-13 00:22] #13705 closed

[2022-06-13 09:47] #12799 closed

[2022-06-13 09:53] serathius commented on #13698
I think most cases with leaks were fixed. Thanks everyone who helped!

[2022-06-13 09:53] #13698 closed

[2022-06-13 11:10] serathius commented on #10151
Duplicates https://github.com/etcd-io/etcd/issues/13980

[2022-06-13 11:10] #10151 closed

[2022-06-13 11:12] #9955 closed

[2022-06-13 11:23] serathius commented on #9190
@lavalamp Depending on the difficulty it might make more sense to graduate corruption check earlier. As https://github.com/etcd-io/etcd/blob/main/Documentation/postmortems/v3.5-data-inconsistency.md#detection states corruption check is currently very limited and there are simpler improvements that we can implemented before Merkle Root.

My current plan would be for v3.6 to make the corruption chec

[2022-06-13 11:25] serathius commented on #9165
Stream logs were disabled.

[2022-06-13 11:25] #9165 closed

[2022-06-13 11:27] #8398 closed

[2022-06-13 11:28] serathius commented on #8181
I think this was addressed by @ahrtr. Can you confirm?

[2022-06-13 11:34] ahrtr commented on #8181
This issue should have been resolved in 3.5.3 and the main branch. Please see [13932](https://github.com/etcd-io/etcd/pull/13932)  .

Please feel free to reopen this issue if you still can reproduce this on etcd 3.5.3+.

[2022-06-13 11:34] #8181 closed

[2022-06-13 12:05] aphyr commented on #14092
Begging your pardon, but are you saying that a transaction whose guard clause evaluates to `false` should go on to evaluate the transaction's `success` block? That seems to be at odds with both the [transaction documentation](https://etcd.io/docs/v3.4/learning/api/#transaction) and etcd's behavior in, well, pretty much every other response in these tests...

[2022-06-13 12:11] aphyr commented on #14098
Possibly! However, since they're different kinds of faults and yield different etcd crashes, I suspect they're different issues. I also wouldn't be surprised if #14102 turns out to encompass a half-dozen different issues, just based on the number of distinct ways I've seen it fail so far.

[2022-06-13 12:13] aphyr commented on #14102
Yup! That's what Jepsen is for--fault injection testing. You might recall contracting me to do this same kind of work in 2019. :-)

[2022-06-13 14:48] aphyr opened #14110 "panic: unexpected error during txn"
### What happened?

In a Jepsen test run of five etcd 3.5.3 nodes, with process pauses (sending processes SIGSTOP and SIGCONT), compaction (performed via the admin API), and defragmentation (via etcdctl), one etcd process crashed with the following error message:

[code]

This is the first time this has cropped up, so I'm not sure whether pauses, compaction, and defrag are all necessary to trigger

[2022-06-13 15:43] socketpair commented on #11372
Still actual.

[2022-06-13 15:59] patrocinio commented on #13455
I am working on this issue

[2022-06-13 15:59] spzala commented on #13455
/assign @patrocinio

[2022-06-13 16:13] serathius commented on #13455
@spzala too much K8s :)

[2022-06-13 17:53] aphyr commented on #14110
I'm not sure if this is precisely the same bug or a different one, but I've managed to reproduce a crash with a slightly different error message purely from process pauses--no compaction or defrag operations involved. Here's the [full logs](http://jepsen.io.s3.amazonaws.com/analyses/etcd-3.5.3/20220613T174230.000Z.zip).

[2022-06-13 18:49] ahrtr commented on #14092
Two comments/points:

1. The TxnResponse.Succeeded only means the result of `compare` (The `If `statement);
2. When the `compare` is evaluated to `false`, the `Failure` block is processed. Otherwise, the `Success` block is processed.

[2022-06-13 18:53] aphyr commented on #14092
OK, so... to repeat, we have multiple cases where a transaction's compare failed, but etcd apparently executed the success block *anyway*--or if it didn't "really" execute, other transactions are able to observe state which could only have arisen from executing the success block. You're saying this is not a bug?

[2022-06-13 19:13] ahrtr commented on #14102
Thanks for the feedback. The BoltDB file isn't supposed to be manually modified, even in test. Just curious, had you ever seen such issue previously when you did the same test?

[2022-06-13 19:21] aphyr commented on #14102
I mean yeah, sure, hardware is supposed to be perfect! However, non-ECC machines, disks, faulty network controllers, bad VM hypervisors, et al do occasionally cause bit-flip errors. Given that etcd has already done some work to detect these kinds of errors (for instance, given the CRC checks and `--experimental-initial-corrupt-check` flag) I figure this might be within y'all's fault model. If noth

[2022-06-13 20:15] ahrtr commented on #14092
If `TxnResponse` has the header (cluster_id, member_id, revision and raft_term), then it must contain the field `succeeded`, because its type is `bool` and it always has a value no matter a program explicitly assigns a value to it or not.

I still am still not convinced. Could you show me the evidence? How did you know `transaction's compare failed`? Did you get the conclusion because you did not

[2022-06-13 21:02] aphyr commented on #14092
Hmm. At the JVM level, in the client, this value is `false`. That's because it's not present in the protocol-buffer message, and the [protocol buffer spec states](https://developers.google.com/protocol-buffers/docs/proto3#default) that the default value for bools is `false`. Since https://github.com/etcd-io/etcd/blob/9bb134233a42c0339cd7c5355dd9c2772e580944/server/etcdserver/txn/txn.go#L292 is a s

[2022-06-14 00:25] lavacat commented on #14110
I think this is a good catch and a relevant bug.
TLTR: etcd transaction shouldn't panic based on client context errors (timeouts, cancelations)

Here is how this happened:
1. Etcd had `panic` in transactions from very early days. https://github.com/etcd-io/etcd/pull/3534/files#diff-26b2effd11719aa79af125ed4e17234ef08970839d4f83fb4d802e04614c3cd4R161
2. Then we've added an optimization to bypass ra

[2022-06-14 03:05] ahrtr commented on #14110
This is a valid issue.

Based on current implementation, once a transaction starts, it must finishes without any error. Otherwise, it will end up with partially committed data. The workaround (the current implementation) is to crash the process to prevent it (partially commit) from happening.

Probably we should use the BoltDB transaction to perform the transaction. But it would need big refactori

[2022-06-14 04:52] lavacat commented on #14110
@ahrtr I think this issue is only for readonly serializable transactions that aren't going through `raftRequestOnce`. For normal transaction this won't happen because context isn't passed down to [applier](https://github.com/etcd-io/etcd/blob/release-3.5/server/etcdserver/apply.go#L177)

[2022-06-14 05:39] ahrtr commented on #14110
Yes, this case happens for readonly (not necessary to be serializable) transaction. But the [applyTxn](https://github.com/etcd-io/etcd/blob/fc690531e213d916e666d00fc072a30fbac86a0c/server/etcdserver/txn/txn.go#L314) is a generic implementation, and it doesn't know it's coming from readonly transaction.

Note that we can't use empty context (`context.TODO()`) either, otherwise the readonly transact

[2022-06-14 06:29] kkkkun commented on #13777
It‘s useful when etcd compacting.
If etcd reach 6G, compation would be spent over 15 seconds.  It has significant influence when set compaction-batch-limit and compaction-sleep-interval.  Otherwise,  boltdb would be lock over 15 seconds.

[2022-06-14 07:03] ahrtr commented on #14098
This is also related to [14025](https://github.com/etcd-io/etcd/issues/14025)

[2022-06-14 07:41] ahrtr commented on #14092
OK, based on the [proto3 doc](https://developers.google.com/protocol-buffers/docs/proto3#default), `if a scalar message field is set to its default, the value will not be serialized on the wire`. It could be the reason why you did not see the field "succeeded" in the `TxnResponse`.

We have both integration and e2e test cases for transaction, and I have never seen such issue so far. I suspect it's

[2022-06-14 07:52] ahrtr commented on #14110
Please anyone feel free to deliver a PR for the short-term fix for now.

[2022-06-14 08:10] chen-joe1015 commented on #9508
what happy about high memory

[2022-06-14 13:16] serathius opened #14112 "Use GRPC url standard"
Etcd code and tests depend on In particular our tests depend a lot on `unix://localhost:port` url schema, while
according to grpc standard: https://grpc.github.io/grpc/cpp/md_doc_naming.html the supported names are: `unix:path` or `unix://absolute_path` (so `unix:///tmp/foo`). This issue blocks grpc upgrade as etcd tests will not pass until we stop using `unix://localhost:port`.

Context https://g

[2022-06-14 13:25] serathius commented on #14045
@aphyr Based on recent issues you posted I expect that your are working on improving Etcd coverage with jepsen. Could you maybe shed some light on your plans so we can improve etcd official testing and qualification?

In https://github.com/etcd-io/etcd/blob/main/Documentation/postmortems/v3.5-data-inconsistency.md you can find that current state of etcd release qualification needs a lot of work. I

[2022-06-14 14:09] ptabor commented on #14110
That sounds right to me - as long as it's truly RO code-paths.  I think we could do this as grpc interceptor.

We do batching of the bolt transactions to minimize numbers of b-tree nodes that are being rewritten at the top of the tree. If we did true 1:1 transactions it would have negative performance impact.

As Context is an interface (https://pkg.go.dev/context#Context), I would propose impleme

[2022-06-14 14:34] jwebb commented on #12385
This ticket is closed, but I can still reproduce this exactly as described by OP (except import path is `/v3` now) using both client and server at v3.5.4. Are the assumptions in the original report not valid?

I just want to watch a key indefinitely, but this seems currently not to work in conjuction with authentication tokens.

[2022-06-14 14:35] aphyr commented on #14045
I'm afraid I can't talk too much about the present work, but I can say that the Jepsen etcd test suite has been updated and has found at least one safety issue I'd consider serious (#14092) and one spurious crash (#14110), as well as results that suggest etcd may not be performing its fsync/write dance properly (#14098). Given these findings, it might be worth running Jepsen on etcd releases regul

[2022-06-14 17:14] endocrimes commented on #14045
👀 i'll update my jepsen fork and try to get those reproing to validate the setup.

[2022-06-14 22:17] keremgocen commented on #13757
hey, I'm looking for a beginner-friendly issue if this one is available

[2022-06-14 23:50] ahrtr commented on #13757
Thanks @keremgocen ,  let's double confirm with @Divya063 firstly to avoid doing duplicate work.

@Divya063 are you still working on this?

[2022-06-14 23:52] nisarg1499 commented on #13757
@keremgocen Do let me know if you are bale to replicate the issue? I am also looking to work on some beginner-friendly issues. @ahrtr

[2022-06-14 23:58] ahrtr commented on #13757
Two comments:
1. The environment variable should be `ETCDCTL_ENDPOINTS` instead of `ETCDCTL_ENDPOINT`;
2. You need to start a cluster with multiple members, i.e. 3

[2022-06-15 00:06] nisarg1499 commented on #13757
Thanks a lot for your reply. I'll check it.

[2022-06-15 04:55] sayap commented on #12385
This bug should still be reproducible, due to the problem I described in #13577:

in ErrGRPCPermissionDenied, due to the failing authorization check in
isWatchPermitted. Furthermore, the client can't auto recover, since
shouldRefreshToken rightly returns false for the permission denied
error.

The commit from that PR only fixed a special case of the problem, where all the tokens expired after disa

[2022-06-15 08:26] serathius commented on #14045
Thanks @aphyr for your recommendation. Etcd has it's own tests and framework (called `functional tests`) for failure injection testing (kill, partition etcd). However, as latest release has showed, it doesn't fulfill it's job. I think it's under invested and not maintained.

I don't think etcd community should maintain their own framework as it's distracts from main goal of the project. Instead in

[2022-06-15 08:46] ahrtr opened #14114 "Restriction on MaxRequestSize and maxWALEntrySize"
# etcd build-in gRPC services
Users can configure the MaxRequestSize using flag [--max-request-bytes](https://github.com/etcd-io/etcd/blob/71bba3c761b0078c81c2b39781ec74853c458303/server/etcdmain/config.go#L134), and its default value is [1.5MB](https://github.com/etcd-io/etcd/blob/71bba3c761b0078c81c2b39781ec74853c458303/server/embed/config.go#L61).  When users configure a value greater than [10M

[2022-06-15 10:35] algobardo commented on #14114
Thanks @ahrtr for putting this together, I think you show a deep understanding of the problem, and you indeed recognise that it is a bug that needs to be resolved.

About the proposed solution, I think it is fine, I just want to make sure that when you say `replace the hard code limitation 10MB with a dynamic value, which is the remaining size of the current WAL file.`, you do not intend to *just*

[2022-06-15 10:52] ahrtr commented on #14114
Yes, the dynamic value is `the actual WAL file size - offset`.

[2022-06-15 11:37] biosvs commented on #14114
Thank you for continuing with this task.

Proposal looks good to me. It keeps flexibility and keeps some security limitations and the same time.

As for ServerOption - maybe your concern could be solved through the hard config compatibility checks. In general it sounds safe when server cannot start because of conflicting config parameters. Moreover we're talking about new features, so no backward

[2022-06-17 00:19] #14114 closed

[2022-06-17 03:04] ahrtr commented on #14048
Actually I don't insist on cherry picking the PR to 3.5, and I am OK with any approach here.

No matter we cherry pick the PR, the proper way to configure probes for a POD should be something like below,
1. Configure a startup probe, and use the linearlizable health endpoint `/health` or `/health?serializable=false`, so that the liveness probe is disabled until the etcd cluster is healthy and work

[2022-06-17 06:45] neolit123 commented on #14048
I can update kubeadm if this is not cherry picked, yes. Currenly it has the serialized check for both startup and liveness probes.

[2022-06-17 07:32] kvaikla opened #14130 "etcd data in etcd3 format"
Hi,
Before etcd3, using an etcd2, etcd database size was constantly 20 Kb. After change to etcd3, database started rapidly growing, about 8Kb/1min.
It stopped, when I added to etcd configuration file:
[code]
Now I have a stable etcd database with size 196 Kb.
In my case etcd is as DCS for patroni.
Database was not growing when etcd binary was etcd3 and etcd data was in etcd2 format.
My question is

[2022-06-17 08:03] ahrtr commented on #14025
This issue should have already been resolved in release-3.5 and main. Please refer to [14114](https://github.com/etcd-io/etcd/issues/14114)

[2022-06-17 08:03] ahrtr commented on #14025
This issue should have already been resolved in release-3.5 and main. Please refer to [14114](https://github.com/etcd-io/etcd/issues/14114)

[2022-06-17 08:03] #14025 closed

[2022-06-17 08:04] ahrtr commented on #14025
The fix will be included in 3.5.5 and 3.6.0.

[2022-06-17 08:04] ahrtr commented on #14025
The fix will be included in 3.5.5 and 3.6.0.

[2022-06-17 08:18] ahrtr commented on #14098
One WAL entry's size is 13563782407139376 bytes, see log below.  It's about 13563TB, obviously it isn't correct.

[code]

There are two possible reasons:
1. It's the filesystem's bug, and it persisted a wrong value for the WAL entry size;
2. It's caused by bit-flip somehow.

[2022-06-17 08:24] ahrtr commented on #14098
I think the best thing to do for now is to let etcd fail to get started in this situation (data files corrupted, including WAL file) , and it's exactly the current behavior.

In the future, we may deliver a solution to recover the data file from a point in time.

[2022-06-17 09:16] serathius commented on #14112
@ptabor Thanks for fixing the connection format, any followups needed or we can close the issue?

[2022-06-17 10:34] biosvs commented on #14025
Thank you!

[2022-06-17 10:44] biosvs opened #14131 "Cherrypick pull/12992 to v3.5.5"
Bug with broken auth token upgrades was fixed in [pull/12992](https://github.com/etcd-io/etcd/pull/12992) almost a year ago, but still not presented in latest releases.

It's quite painful bug, is it possible to include (cherrypick) fix into client v3.5.5?

Thanks!

[2022-06-17 23:04] ahrtr commented on #14131
FYI. [pull/14132](https://github.com/etcd-io/etcd/pull/14132)

[2022-06-18 02:42] lavacat commented on #14105
@ahrtr here is what I have right now https://github.com/etcd-io/etcd/pull/14134

Running into issues with integration tests in golang:1.16 docker container.  Can't get a clean run even after removing tests that timeout. There is always another test that timeouts on next run.

[2022-06-18 07:52] biosvs commented on #14131
Awesome, thank you!

[2022-06-18 07:52] #14131 closed

[2022-06-18 20:49] ahrtr opened #14135 "3.4 pipeline is broken"
I just realized that the release 3.4 pipeline wasn't green since it's first day being generated in [13135](https://github.com/etcd-io/etcd/pull/13135) on Jun 24, 2021.

Please **code freeze release-3.4 branch** until I fix all the pipeline errors.

cc @serathius @ptabor @spzala

[2022-06-18 23:58] xiaods commented on #14130
etcdv2 and v3 use different engine, so this is no chance to get back your old situation. only use etcd v2 backup data to restore your old etcdv2 cluster

[2022-06-19 06:22] xiaods commented on #14090
@sfuerte for last question, could you please provide detail setup to help me understand your question.
client-cert-auth option only help testing case. don't need care in your product setting in my options.

[2022-06-19 08:14] #13661 closed

[2022-06-19 08:14] #13664 closed

[2022-06-19 08:14] #13660 closed

[2022-06-19 08:14] #13610 closed

[2022-06-19 08:14] #13659 closed

[2022-06-19 08:14] #13641 closed

[2022-06-19 08:14] #13642 closed

[2022-06-19 23:59] protosam commented on #13980
The hardest thing to solve for the build system is going to be darwin-arm64. Getting it to run on qemu-arm64 is not trivial. Suggestions/ideas are welcomed on how to handle that, because I don't foresee Github having m1/m2 runners anytime soon due to licensing.

In the meantime, I'll move on to implementing the skeleton for everything else with a darwin-arm64 placeholder during my next free cycle.

[2022-06-20 01:31] dims commented on #13980
could we try macstadium? https://www.macstadium.com/opensource they seem to have what we need

[2022-06-20 02:29] protosam commented on #13980
@dims thanks a ton, this actually unblocks me. The way I was thinking about it was "how do I emulate M1", but moving forward I'll just expect that we should setup a Github Runner for darwin-arm64 somewhere (be it that vendor or a piece of hardware provided by one of the maintaining orgs).

I can test on my own hardware for now and we can figure out where to set that up when we cross that bridge.

[2022-06-20 06:58] ahrtr commented on #12840
Golang 1.17 is definitely not an option for stable releases, including 3.4 and 3.5, because there is a breaking change in Golang 1.17. Please see my explanation in [issuecomment-115301872](https://github.com/etcd-io/etcd/issues/14105#issuecomment-1153018727).

Proposed actions:
1. Bump go version to 1.16 for release 3.4. I already submitted a PR [14136](https://github.com/etcd-io/etcd/pull/14136)

[2022-06-20 09:17] serathius commented on #13980
Please let's make sure to make slow iterative changes instead of trying to redesign everything at once. It might be a little slower but smaller changes will be easier to get merged and start benefiting early.

[2022-06-20 13:30] mcginne commented on #14110
We are also hitting this fairy regularly (Several times per day) on both v3.5.2 & v3.5.4.

[2022-06-20 17:59] hasethuraman opened #14137 "Let etcd skip storage replication since cloud does storage replication for availability"
### What happened?

ETCD replicates the data with its peer.

In cloud deployment, the storage engine does internal replication and provide availability at rack, datacenter, region level. Said that, if I deploy etcd, it turns out that replication happens 3x times (where x is the number of replications in a cloud storage and 3 is when i have 3 instances of etcd instances).

Is there a way I can shar

[2022-06-20 21:21] ahrtr commented on #14110
Would you mind provide the complete log and the endpoint info (see command below)?
[code]

Could you also explain how do you produce this issue? Did you see this issue in a testing environment or a production environment?

What's the volume of the request per second?

[2022-06-21 02:40] ahrtr commented on #14137
It isn't supported.

[2022-06-21 02:40] #14137 closed

[2022-06-21 04:46] ahrtr commented on #14048
There is no any interests on cherry picking the PR to 3.5, so closing this ticket.

[2022-06-21 04:46] #14048 closed

[2022-06-21 05:47] ahrtr commented on #14096
When you started the second member at step4, you should specify the correct value for `--initial-cluster`.

[2022-06-21 05:47] #14096 closed

[2022-06-21 08:23] mcginne commented on #14110
@ahrtr endpoint info:
[code]

Log ->
[etcd_panic.log.zip](https://github.com/etcd-io/etcd/files/8946955/etcd_panic.log.zip)

Request rate is in total around 1000 req/sec - it's a very varied workload with many Microservices making different requests against etcd. I'm afraid I don't know exactly what triggers it to occur. The workload runs constantly, and should be fairly similar in nature at all t

[2022-06-21 10:38] serathius commented on #14077
Is this issue fixed?

[2022-06-21 10:48] ahrtr commented on #14077
The related [PR](https://github.com/etcd-io/etcd/pull/14081) isn't merged yet.

It seems that the contributor is still struggling to work on the PR. I may spend some time to get it resolved sometime this or next week.

[2022-06-21 11:23] serathius commented on #14027
Issue with first request after leader election timed out was fixed in v3.5.

[2022-06-21 11:32] serathius opened #14138 "Plans for v3.5.5 release"
Same as previous v3.5 releases. Let's agree what work should be included in release and track the work. The list presented below will be evolving as community decides to cut/include fixes.

Issues/PRs that should be included for v3.5.5:
* [x] https://github.com/etcd-io/etcd/issues/14110
* [x] https://github.com/etcd-io/etcd/issues/14039
  * [x] https://github.com/etcd-io/etcd/pull/14282
* [x] http

[2022-06-21 11:34] lance5890 commented on #14027
i do not think so, as the etcd log shows ，when leader changes，the master just reply slower than the worker, and the leader change has already finished

[2022-06-21 12:25] EmPRio93 commented on #14061
Im facing this situation right now, and i don't know what to do. Is there a way to release the lock ?

[2022-06-21 12:54] aphyr commented on #14110
If it helps narrow things down, the workload I'm using that crashes etcd is kv reads, writes, and transactions over an exponentially-distributed pool of keys. Roughly 500-1000 ops/sec as well, though I haven't looked to see if it crashes with fewer.

[2022-06-21 15:02] chaohan1 opened #14139 "inconsistent data in etcd 3.5.4"
### What happened?

I encounter a serious data inconsistent problem when using etcd 3.5.4。I have a three node etcd cluster, the problem will be happened occasionally when three node reboot at the same time. In the CHANGELOG-3.5, I see the data inconsistent problem was fixed in pull/13908, but I still encounter the data inconsistent problem。

### What did you expect to happen?

There is no problem

[2022-06-21 15:47] aphyr opened #14140 "Stale read with loss of un-fsynced writes"
### What happened?

In [this Jepsen test](https://github.com/etcd-io/etcd/files/8950246/20220621T110426.000-0400.zip) involving the loss of un-fsynced writes (via lazyfs) in a five-node cluster of etcd 3.5.3 nodes, we observed a stale read (a linearizability violation) on a single key despite not using `serializable` reads.

![Screenshot from 2022-06-21 11-26-07](https://user-images.githubusercont

[2022-06-21 17:59] aphyr commented on #14098
So we've traced this behavior to (we think) an issue with lazyfs: truncation filled with ASCII '0' characters (0x30), rather than 0x00. Etcd's WAL reader scanned for 0x00 to determine the end of the file, and in this case got 0x30 and... maybe interpreted those as a part of the size field?

I'm not exactly sure what the correct behavior here is, filesystem-wise (perhaps @devzizu could chime in?),

[2022-06-21 20:49] ahrtr commented on #14110
Thanks @aphyr , we already know the root cause in your case. I just want to double confirm whether @mcginne ran into the same issue, and was caused by the same reason.  Will take a look at the log provided by @mcginne today or tomorrow.

[2022-06-21 23:22] ahrtr commented on #14139
Would you mind to provide the following info?
1. The complete log of all the three members;
2. `etcdctl endpoint status -w json --cluster`;
3. It would be helpful if you could provide the the zip package of all the data directories of all members. Or check the data of all the three members using [etcd-dump-logs](https://github.com/etcd-io/etcd/tree/main/tools/etcd-dump-logs) yourself.
4. How often

[2022-06-22 02:59] ahrtr commented on #14110
Thanks @mcginne . Confirmed that it's the same issue, and we will fix this issue soon in both main (3.6) and 3.5. Hopefully the fix will be included in 3.5.5.

[2022-06-22 03:21] fanzetian commented on #14139
+-------------------------+------------------+---------+---------+-----------+------------+-----------+------------+-----------                                                                  ---------+--------+
|        ENDPOINT         |        ID        | VERSION | DB SIZE | IS LEADER | IS LEARNER | RAFT TERM | RAFT INDEX | RAFT APPLI

[2022-06-22 03:59] fanzetian commented on #14139
etcd data and log in:
https://wx.mail.qq.com/ftn/download?func=3&key=cf993832fa344271fdea4f323331626444ec0b1631316264154954015053550100024c0201005049040253571c095700064b045607520751045e070605556a64551202561f4b0b1424ebb983326f324d61c706b8f34c2f671d01421e7b&code=0fa211bd&k=cf993832fa344271fdea4f323331626444ec0b1631316264154954015053550100024c0201005049040253571c095700064b045607520751045e070605556a64

[2022-06-22 04:01] fanzetian commented on #14139
k8s resourceversion is :
[root@master1 data]# kubectl get po -n monitor magiccube-prometheus-node-exporter-fkpdd -oyaml|grep -i resourcev
  resourceVersion: "25520"
[root@master1 data]# kubectl get po -n monitor magiccube-prometheus-node-exporter-fkpdd -oyaml|grep -i resourcev
  resourceVersion: "25520"
[root@master1 data]# kubectl get po -n monitor magiccube-prometheus-node-exporter-fkpdd -oyaml|

[2022-06-22 04:25] lavacat commented on #14110
FYI, I'll post a PR for main with the approach outlined [here](https://github.com/lavacat/etcd/commit/da41518598b63ec8f3ac25adb76e5bea516679f0)
If somebody else is working on the fix, please state here, so there is no duplication of effort.

[2022-06-22 04:27] EmPRio93 commented on #14061
My cluster was completely unavailable, my issue was that i did not enabled the --auto-compaction=* on revision's and defrag the db. My instances was 2 cpu and 2 ram that could not read the db in 10 seconds, after i updated the amount of resources on the instances the cluster started and i was able to provide compaction and dfrag of db. But the error message is triggered me to search the lock :D  I

[2022-06-22 05:32] ahrtr commented on #14138
We may also need [14081](https://github.com/etcd-io/etcd/pull/14081), because there are some issues related to it. There is no update for the PR for more than 2 weeks. Just pinged the author of the PR, I will try to get it resolved if there is no update or progress this week.

[2022-06-22 05:56] chaohan1 commented on #14139
As the Information provided by@fanzetian。

4. How often do you see this issue? Could you easily reproduce this problem?
    The problem is happened in our k8s cluster when three etcd node reboot at the same time, then we can see one of etcd node data is inconsistent  with other two etcd nodes. If you want to reproduce the problem ,you can try this:
    1. Increase the load of kube-apiserver，such a

[2022-06-22 06:02] ahrtr commented on #14139
The title mentions the etcd version is 3.5.4, but actually it's 3.4.18?

[2022-06-22 06:16] chaohan1 commented on #14139
I'm sorry.

We first encounter  the inconsistent data problem in etcd 3.5.0,  when i see #13908, i think the problem was fixed, so we change the etcd version to 3.5.4, but the problem is still happen.

We alse test in etcd 3.4.18, and the  inconsistent data problem happen too, so i don't know which version of etcd i can use, or the mehtod of our using has something wrong.

We are reproducing the p

[2022-06-22 07:49] ahrtr commented on #14139
Thanks.

Please also provide the configurations (command-line parameters) for the etcd members.

[2022-06-22 07:55] devzizu commented on #14098
Hey!

That's right, any filesystem **should return null bytes on read operations** (0x00) for the truncated file (in case of increasing the size). My apologies with the LazyFS's bug, as @aphyr said, I was writing 0x30 (ascii '0') instead of 0x00, because that helped me debugging at the time. Also, I thought it wouldn't be a huge deal because I was thinking that applications relied on some kind of

[2022-06-22 08:27] fanzetian commented on #14139
endpoint status info, sometimes the flower's raftIndex is bigger than leader

![etcd_cluster](https://user-images.githubusercontent.com/22414864/174981772-c48408f4-6e1c-4ef1-a446-6288f49803d4.png)

[2022-06-22 08:37] serathius commented on #14139
Can you give us a some information about `registry.dahuatech.com/cube/cube-etcd:3.5.4` image? is it packaged etcd binary, a custom build or fork?

Can you run `docker run registry.dahuatech.com/cube/cube-etcd:3.5.4 /usr/local/bin/etcd --version` and give us result?

On the corruption could you enable corruption detection mechanisms? Just add flags `--experimental-initial-corrupt-check=true` and `-

[2022-06-22 08:40] fanzetian commented on #14139
/usr/local/bin/etcd --version
etcd Version: 3.5.4
Git SHA: 08407ff76
Go Version: go1.16.15
Go OS/Arch: linux/amd64

[2022-06-22 08:40] fanzetian commented on #14139
/usr/local/bin/etcd --version
etcd Version: 3.5.4
Git SHA: 08407ff76
Go Version: go1.16.15
Go OS/Arch: linux/amd64

[2022-06-22 08:50] chaohan1 commented on #14139
Our etcd binary is getted from etcd github, the link is: https://github.com/etcd-io/etcd/releases/download/v3.5.4/etcd-v3.5.4-linux-amd64.tar.gz

[2022-06-22 08:52] ahrtr commented on #14139
[code]

Based on the log, it's the offical 3.5.4 build. @serathius

Thanks @fanzetian for the feedback. The db file is somehow corrupted. See below,

[code]

What's the filesystem you are using? I suspect it's a filesystem issue. Note that I received similar issue on the filesystem. Refer to [issuecomment-1162774092](https://github.com/etcd-io/etcd/issues/14098#issuecomment-1162774092)

The three

[2022-06-22 09:06] ahrtr commented on #14139
One more question, can you easily reproduce this issue when rebooting all 3 members at the same time?

I tried a couple of times, but couldn't reproduce this issue. But the traffic in my environment may not be that big as yours.

[2022-06-22 09:49] deeco commented on #8603
Im experiencing similar issue and have tried regenerating and using client and server pems from cfssl

Testing to each node via curl seems to connect no issue.

`sudo curl -v --noproxy '*' --cacert /etc/etcd/certs/ca.pem --cert /etc/etcd/certs/client.pem --key /etc/etcd/certs/client-key.pem -L https://10.86.170.54:2379/v2/keys/foo -XPUT -d value=bar -v
*   Trying 10.86.170.54...
* TCP_NODELAY set

[2022-06-22 10:21] chaohan1 commented on #14139
@ahrtr @serathius thank you very much, we have found the root cause for the problem. As your suggestion, it is readly due to our filesystem(we use xfs filesystem). Our filesystem was damaged when node reboot. The problem was not happen when we repari the xfs filesystem. So, it's not etcd problem.

Thanks for a lot again, wo solve the problem troubled me many days due to your help. @ahrtr @serathiu

[2022-06-22 10:23] ahrtr commented on #14139
Great. Feel free to raise a new issue if you run into this issue again.

[2022-06-22 10:23] #14139 closed

[2022-06-22 14:00] aphyr opened #14143 "Possible split-brain & loss of committed write with loss of un-fsynced data"
### What happened?

With a five-node etcd 3.5.3 cluster running on Debian stable, with a data directory mounted on the lazyfs filesystem, killing nodes and losing their un-fsynced writes appears to infrequently cause the loss of committed writes. Here's [an example test run](https://github.com/etcd-io/etcd/files/8957879/20220621T171643.000-0400.zip) where we appended 4 to key 233 via a kv transact

[2022-06-22 18:32] aphyr commented on #14143
Oof, here's an even worse run. Here we appear to have gotten into some kind of full split-brain where values on different replicas diverged at some point, and the cluster proceeded in two independent timelines. Here you can see reads on node n3 (processes 382, 392, and 397, modulo 5 nodes, are all 2, which is the third node in the cluster) saw a version of key 150 which went `[1 2 3 13 20 30]`, wh

[2022-06-23 00:25] ahrtr commented on #14135
Resolved by [14136](https://github.com/etcd-io/etcd/pull/14136)

[2022-06-23 06:42] ahrtr commented on #14105
Just as I mentioned in [issues/14135](https://github.com/etcd-io/etcd/issues/14135), the 3.4 pipeline had never been green since its first day (**Jun 24, 2021**) being created. It's really a serious problem to me, so I just jumped in and spent about two whole days to get it resolved in [pull/14136](https://github.com/etcd-io/etcd/pull/14136).

Although there are still some flaky test failures, but

[2022-06-23 07:43] webchi opened #14145 "Strange enpoint target during kubespray installation"
### What happened?

Can't get etcd working witch strange hash into endpoint - etcd-endpoints://0xc0000ea700/127.0.0.1:2379 is it ok?
[code]

### What did you expect to happen?

Healthy etcd cluster

### How can we reproduce it (as minimally and precisely as possible)?

Install etcd with kubespray

### Anything else we need to know?

_No response_

### Etcd version (please run commands below)

<det

[2022-06-23 14:03] hasethuraman opened #14147 "ETCD server PUT request key starts with \000 when sent from benchmark tool"
### What happened?

When I called this benchmark command, I see the key string starts with \000 in etcd server .log. So I couldnt retrieve it.

./benchmark --endpoints=${HOST_1} --target-leader --conns=1 --clients=1 put --key-size=...

4.2.6:45930, response type = /etcdserverpb.KV/Put, request count = 1, request size = 1230, response count = 0, response size = 30, request content = key:"\000\000\0

[2022-06-23 16:06] aphyr commented on #14143
I've got a good dozen of these cases now. Also seeing a couple new behaviors! In [this case](http://jepsen.io.s3.amazonaws.com/analyses/etcd-3.5.3/20220623T050644.000-0400.zip), clients started returning errors like `DATA_LOSS: etcdserver: corrupt cluster`, and servers also logged:

[code]

[2022-06-23 20:51] bdoyle0182 opened #14148 "Question regarding reconfiguring live cluster with auth"
I couldn't find an answer in the auth documentation so asking here. Is it possible to add auth to an existing cluster without imposing any downtime?

My thought was you could update your client that communicates to etcd with the necessary creds before enabling auth within the cluster then once that is done just enable auth. The only question is if the grpc connection within the client will still s

[2022-06-24 03:33] peiminmin commented on #14147
@hasethuraman When benchmark performs put pressure measurement, you can specify the number of pressure measurement keys by specifying the `--key-space-size` parameter. If the `--key-space-size` parameter is not specified, it defaults to 1. The phenomenon at this time is the same as what you described

[2022-06-24 03:37] hasethuraman commented on #14147
Thanks @peiminmin I will try that. Will I be able to retrieve or delete those keys? Why I am asking is, the '\000' prepending is stopping from doing get using prefix.

[2022-06-24 05:47] hasethuraman commented on #14147
I dont know how to get or delete these keys

![image](https://user-images.githubusercontent.com/10446093/175470518-a03a8a54-a80d-400b-99ec-087995520a16.png)

[2022-06-24 06:11] hasethuraman commented on #14147
Never mind, I just removed the binary encoding and continue. Closing it now.
But please let me know why it is being encoded it in benchmark tool (etcdctl doesnt do this).

[2022-06-24 06:11] #14147 closed

[2022-06-24 11:42] ahrtr commented on #14074
This issue should be already fixed.

[2022-06-24 11:42] #14074 closed

[2022-06-24 22:00] ahrtr opened #14158 "[3.4] Test failure on TestRoundRobinBalancedResolvableFailoverFromRequestFail"
We are going to release [3.4.19](https://github.com/etcd-io/etcd/issues/14105), and the top priority is to make the pipeline as stable as possible.

[code]

Refer to https://github.com/etcd-io/etcd/runs/7049120841?check_suite_focus=true

[2022-06-24 22:06] ahrtr opened #14159 "[3.4] Test failure: "Too many goroutines running after all test""
We are going to release [3.4.19](https://github.com/etcd-io/etcd/issues/14105), and the top priority is to make the pipeline as stable as possible.

[code]

Refer to https://github.com/etcd-io/etcd/runs/7049120619?check_suite_focus=true

[2022-06-24 22:17] ahrtr commented on #14145
Please make sure a correct list of endpoints are configured in `ETCDCTL_ENDPOINTS` or the command-line parameter `--endpoints`.

Can you confirm the endpoint `https://127.0.0.1:2379` is reachable?

[2022-06-24 22:22] ahrtr commented on #14143
@aphyr Thanks for raising this issue.

There was an [issue](https://github.com/etcd-io/etcd/issues/13937) in 3.5.3 , and it's fixed in 3.5.4 in [13946](https://github.com/etcd-io/etcd/pull/13946) .

So could you reproduce this issue on 3.5.4 instead of 3.5.3?

[2022-06-25 00:35] chaochn47 commented on #14071
If I interpret the impact correctly, leader election frequently disrupts the cluster availability.

Given the etcd version is `v3.4.3`, `pre-vote` feature is not enabled by referring to
https://github.com/etcd-io/etcd/blob/3cf2f69b5738fb702ba1a935590f36b52b18979b/etcdmain/help.go#L113-L114

and can double confirmed from the `host-000005` log that the log term is immediately increased once the lead

[2022-06-25 00:42] chaochn47 commented on #14072
@JamesMurkin would you mind provide some etcd log files when the issue happened?

[2022-06-25 09:50] chavacava opened #14161 "datarace: range value `i` is captured (by-reference) in goroutine"
The range value `i` is captured in the goroutine (line 119)

https://github.com/etcd-io/etcd/blob/cabdb13dadad2d853bb2f4be226bce3c220b94eb/client/v3/client_test.go#L113-L122

fix: pass `i` as argument of the goroutine

Found with [`revive`]() rule `datarace`

[2022-06-25 10:02] chavacava opened #14162 "Unreachable code in `tests/functional/runner/lease_renewer_command.go`"
In the following code, the `for` statement at line 74 and the `break` statement at line 81 are unreachable.

https://github.com/etcd-io/etcd/blob/cabdb13dadad2d853bb2f4be226bce3c220b94eb/tests/functional/runner/lease_renewer_command.go#L69-L89

Found with [`revive`]() rule `unreachable-code`

[2022-06-26 04:43] #14161 closed

[2022-06-26 04:55] ahrtr commented on #14162
I think we should remove the unreachable code, please feel free to submit a PR for this.

[2022-06-26 05:03] ahrtr opened #14164 "Enhance the static-analysis workflow"
Some issues were found using [revive](https://github.com/mgechev/revive), such as,
* https://github.com/etcd-io/etcd/issues/14162
* https://github.com/etcd-io/etcd/pull/14160
* https://github.com/etcd-io/etcd/pull/14163

We should enhance the [static-analysis](https://github.com/etcd-io/etcd/blob/main/.github/workflows/static-analysis.yaml) workflow. The [revive](https://github.com/mgechev/revive)

[2022-06-26 09:12] chavacava commented on #14164
`revive` has more than 65 rules and, of course, there is some overlap with those of the other linters `golangci-lint` can run.

When looking for potential bugs I use the following `revive` configuration:
[code]

[2022-06-26 13:27] fananchong opened #14167 "tcpproxy is not an OSI level 4 proxy"
doc.go line 15 :
[code]

but actually tcpproxy is an OSI level 7 proxy

[2022-06-27 01:38] #14162 closed

[2022-06-27 05:26] socketpair commented on #13389
Still actual

[2022-06-27 06:56] serathius commented on #13389
Can you check it on v3.5 release? I'm not sure if zap logging was considered fully stable in v3.4.
cc @ahrtr to consider for v3.4 release

[2022-06-27 18:37] lavacat commented on #14105
FYI, added https://github.com/etcd-io/etcd/pull/14168
I've run into this flakiness locally

[2022-06-28 19:32] deeco commented on #8603
@sfuerte  could you elaborate a little more on the above, I have trouble understanding the SAN piece and where can verify my settings

[2022-06-28 20:12] deeco commented on #8603
https://bugzilla.redhat.com/show_bug.cgi?format=multiple&id=1950471

This appears to be waits happening for me

[2022-06-28 20:29] sfuerte commented on #8603
@deeco , did you have a chance to check https://github.com/etcd-io/etcd/issues/14090 I referenced above? Terraform configs there are pretty self-explanatory about what worked for us and what didn't.

[2022-06-28 20:34] sfuerte commented on #14090
@xiaods , sorry for the delay. The problem we encountered with `client-cert-auth` that it is disabled by default but with enabled TLS, it forcefully gets enabled also.

[2022-06-28 21:12] deeco commented on #14090
@sfuerte Where are you setting below ? within the config ? not seeing as flag here https://etcd.io/docs/v3.1/op-guide/configuration/

"Switching to individual certificate where SAN equals to etcd_advertise_fqdn solves the problem"

[2022-06-28 21:29] sfuerte commented on #14090
@deeco , scratch that one - it was my derailed thought train after a long day of troubleshooting 🤦‍♂️
Just updated it above with the correct one:

As for the config, you need to click at "Details" under "ETCD configuration" to expand it.
Note, we don't use the cli flags directly but rather a config file. Also, the link you posted is for outdated 3.1 vs current 3.5 (https://etcd.io/docs/v3.5/op-gui

[2022-06-28 22:38] chaochn47 opened #14174 "Peer member handler could return stable member list and cause new added node fails to bootstrap"
### What happened?

One of 3 member etcd production clusters update failed.

The update is removing a old member, adding a new member and start the etcd process just like what is descried in https://etcd.io/docs/v3.5/op-guide/runtime-configuration/#cluster-reconfiguration-operations

The error trace indicated the new node failed bootstrap at T1 at here
https://github.com/etcd-io/etcd/blob/7a1cecd5

[2022-06-28 22:48] chaochn47 commented on #14174
Please comment if this is a real issue (I believe so) @ahrtr @serathius

The fix could be as simple as `*etcdserver.EtcdServer.LinearizableReadNotify(ctx)` to wait until the applied index catches up the committed index.

[2022-06-28 23:29] ahrtr commented on #14174
Thanks @chaochn47 for raising this issue. Yes, it indeed is a real issue to me. The PR [11639](https://github.com/etcd-io/etcd/pull/11639) fixed the case `etcdclient --> etcdserver`, but not for peer communication.

I agree that `LinearizableReadNotify` is the simplest & straightforward fix for this. Please feel free to submit a PR for this.

[2022-06-29 01:48] ahrtr opened #14176 "Sort out error handling between `etcdctl/etcdutl` and `spf13/cobra`"
See my comment in [issuecomment-1169441805](https://github.com/etcd-io/etcd/pull/14173#issuecomment-1169441805).

We do not silence the error message in [spf13/cobra](https://github.com/spf13/cobra) by default, accordingly there might be duplicated error messages printed, see example below.

[code]

We can silence the [error in cobra](https://github.com/spf13/cobra/blob/69083f81b225303d63c23e14f77

[2022-06-29 03:43] spzala commented on #14056
I could reproduce it. Working on fix.

[2022-06-29 18:54] b10s opened #14181 "How does a slow disk (ssd) influence on etcd performance?"
Hi,

I have questions about etcd and disk performance. Even after reading some articles and etcd doc, there are still few questions.

**Question 1**
The [etcd FAQ](https://etcd.io/docs/v3.4/faq/#what-does-the-etcd-warning-failed-to-send-out-heartbeat-on-time-mean) says:

In our case 99p of fsync is 13-15ms which is bigger than 10ms.
![Selection_237](https://user-images.githubusercontent.com/461828

[2022-06-29 23:32] #14056 closed

[2022-06-30 06:22] ahrtr commented on #14105
@lavacat would you have bandwidth and be interested in having a deep dive into [14158](https://github.com/etcd-io/etcd/issues/14158) and/or [14159](https://github.com/etcd-io/etcd/issues/14159) ?

[2022-06-30 07:19] lavacat commented on #14159
/assign

[2022-06-30 07:20] lavacat commented on #14158
/assign

[2022-06-30 10:08] hansedong opened #14185 "when etcd node have many http long polling connections, it may cause etcd to respond slowly to http requests."
### What happened?

I have 3 etcd nodes, and clients operate etcd through http.

The operations of the client are only http requests, and the request types include GET, PUT, and long polling for Watch scenarios. Actually, the client is APISIX, and APISIX internally uses `lua` to operate etcd through HTTP protocol.

However, when there are many connections on the etcd node, operating the etcd node

[2022-06-30 19:21] chaochn47 commented on #10166
Another use case not to panic write away:
- add a new member with etcd db snapshot to speed up time ready to accept client traffic.

To support this, a few more things may need to be changed. etcd db snapshot as backup right now is only for creating a fresh new cluster with that data as disaster recovery mechanism.

[2022-06-30 23:23] ahrtr commented on #14185
This issue should have already been resolved by [14169](https://github.com/etcd-io/etcd/pull/14169), which isn't merged yet.

Can you try to reproduce this issue using above PR?

[2022-07-01 02:52] hansedong commented on #14185
@ahrtr

In my usage scenario, I recompile and deploy your repo, and after about 1 hour of testing, this problem is confirmed to be resolved. thank you very much for your help.

I would like to ask, will the 3.5.5 version include this change? When will version 3.5.5 be released?

[2022-07-01 06:22] lavacat commented on #10166
For ref, here is original commit that added `commitTo` with `panic`
https://github.com/etcd-io/etcd/pull/1740

[2022-07-01 10:48] ahrtr commented on #14185
Thanks for the feedback.

Yes, the PR will be cherry picked to 3.5.

We are still working on 3.5.5, but the exact date is not clear yet so far. FYI https://github.com/etcd-io/etcd/issues/14138

[2022-07-03 02:49] xiaods commented on #14167
<img width="987" alt="截屏2022-07-03 上午10 48 41" src="https://user-images.githubusercontent.com/37678/177022516-d6126f47-1703-4fd9-8af3-57b2dc4a269c.png">
@fananchong  are you sure?

[2022-07-03 11:31] ahrtr commented on #14105
Talked to @serathius & @spzala , and also after second thought, I think we should only backport security fixes and major/critical bug fixes to 3.4.19, so I removed some items from the list. Please see the list in the [milestone 2](https://github.com/etcd-io/etcd/issues/14105#issuecomment-1164014420). Reasons:
1. It isn't good to stay on 3.4 longer because it's 3 years old release. Users are recomm

[2022-07-03 14:42] mitake commented on #12385
Sorry for delayed update, I'll be able to check the issue sometime this week.

[2022-07-03 23:29] #14167 closed

[2022-07-04 02:25] zhangtong007 opened #14189 "How to handle the key loss caused by a lease renewal failure"
etcd server version: v3.4.13
In my service, a key is renewed every four seconds. In some abnormal scenarios, the lease renewal may fail and the key is lost. How can I discover and recover this key from the service?

[2022-07-04 02:31] zhangtong007 commented on #14189
I find that if the key is lost in time, the lease renewal logic does not return error.

I use 'client.KeepAliveOnce(ctx context.Context, id LeaseID)' for renewal logic

[2022-07-04 03:04] xiaods commented on #14090
@sfuerte for last question, I notice you missing a param:  --insecure-transport=false, have a try

[2022-07-04 03:19] moonovo commented on #14181
I think you need to monitor the RTT time, too.

[2022-07-04 06:43] sfuerte commented on #14090
@xiaods, for the server or `etcdctl` ?
If for the former, believe it's not documents in the config flags at all.
If for the latter, `etcdctl`, don't have it handy (and can't find its possible CLI args as it's not posted in the docs) but AFAIR tried that one but didn't help.

[2022-07-04 10:37] ahrtr commented on #14143
@aphyr can you still reproduce this issue on 3.5.4?

@endocrimes did you ever see this issue on 3.5.4?

cc @serathius

[2022-07-04 12:15] b10s commented on #14181
@moonovo interesting!

The RTT using ping is 131 us avg, 145 us max, 121 us min (last 10 days, stat from smoke ping).

But the etcd `etcd_network_peer_round_trip_time_seconds_bucket` 99th percentile is huge - up to 74 ms which 510 times more comparing to pure network latency!

Is it because etcd collects more samples comparing to my smoke ping (60 samples per minute)?
Or is it because etcd's rtt m

[2022-07-04 13:16] endocrimes commented on #14143
I'm trying to see if this still replicates on 3.5.4 and master - I _think_ I have it repro-ing but it also depends on lazyfs rn

[2022-07-04 15:50] Tomas-R opened #14190 "Can't create or delete a resource after the etcd restore procedure done with etcdctl"
### What happened?

I have installed the **etcdctl** tool,  created a backup of **etcd** and then restored it.

When I try to create or delete a resource I get an error **Error from server: etcdserver: request timed out** now.

[code]

### What did you expect to happen?

I expected Kubernetes to work flawlessly like before restoring the backup, meaning being able to delete and create resources in

[2022-07-04 23:01] xiaods commented on #14090
@sfuerte  i search backlog issue and found this:
[code]
refs:
https://github.com/etcd-io/etcd/issues/11693

[2022-07-05 12:56] serathius commented on #14190
Where did you read that K8s supports restoring from backup :P ?

[2022-07-05 14:23] Elbehery commented on #12550
/reopen

[2022-07-05 22:59] spzala commented on #14105
@ahrtr @lavacat thanks for the discussion in this issue. I agree on both - 1) we should support 3.4.x and 2) going with needed fixes (e.g. security fixes or needed fixes requested by the Kubernetes project/other users as @ahrtr mentioned) in the 3.4.19. For new features/improvements, etcd users should try to move to the latest release.

[2022-07-06 07:08] Tomas-R commented on #14190
The official documentation describes how to save a snapshot and restore it [here](https://kubernetes.io/docs/tasks/administer-cluster/configure-upgrade-etcd/)

I have followed all these steps and completed them with no errors in the process.

But now etcd doesn't work so probably I did something wrong :)

[2022-07-06 11:29] GeorgeGuo2018 commented on #12431
go.etcd.io/etcd => go.etcd.io/etcd v0.5.0-alpha.5.0.20200819165624-17cef6e3e9d5

resolved my problem. thx

[2022-07-06 16:47] spzala commented on #14138
We should include this in the v3.5.5 - https://github.com/etcd-io/etcd/pull/14187

[2022-07-06 17:03] lavacat commented on #14110
@serathius @ptabor reminder to review the PRs
main https://github.com/etcd-io/etcd/pull/14149
port to 3.5 https://github.com/etcd-io/etcd/pull/14178

[2022-07-07 08:06] ahrtr commented on #14190
Comments:
1. When executing `etcdutl/etcdctl snapshot restore` command, you need to provide parameters `--initial-cluster` and `--initial-advertise-peer-urls` at least, see example below,
[code]

2. Backup & restore is fine on etcd side, but there may be some issue on K8s side, such as CNI, because my understanding is some resource's status (such as POD IP) may have changed. So you'd better restar

[2022-07-07 19:29] Tomas-R commented on #14190
Thank you for your response @ahrtr .

I have decided to wipe out my cluster completely and create the new one from scratch. But it is good to know what should I look for next time I'm going to do the backup and restore procedure. I will attempt it again in a month or so  and will post back my finding.

Cheers ! :)

[2022-07-08 08:04] ahrtr commented on #14159
@lavacat Do you have any update on this ticket?

[2022-07-08 08:54] serathius commented on #14105
Looks great! Thanks for all the help. I think we can move forward with the release.

[2022-07-08 09:16] lavacat commented on #14158
yes, I'll submit PR tomorrow

[2022-07-08 09:17] lavacat commented on #14159
no updates yet, only looked at the other one

[2022-07-08 21:26] ahrtr commented on #14158
Sure, thanks.

[2022-07-08 21:28] ahrtr commented on #14190
Thanks for the feedback @Tomas-R , please feel free to raise a new issue later if needed.

[2022-07-08 21:28] #14190 closed

[2022-07-09 14:57] mitake commented on #12385
I could reproduce the bug on the latest main branch... Let me reopen the issue and handle it.

[2022-07-10 13:23] #13665 closed

[2022-07-10 13:23] #13630 closed

[2022-07-10 13:23] #13816 closed

[2022-07-10 13:24] #13618 closed

[2022-07-10 13:24] #12164 closed

[2022-07-10 13:24] #13511 closed

[2022-07-10 13:24] #13699 closed

[2022-07-10 13:25] #13148 closed

[2022-07-10 13:25] #11963 closed

[2022-07-10 13:26] #13716 closed

[2022-07-10 13:26] #13717 closed

[2022-07-10 13:27] #13734 closed

[2022-07-10 13:27] #13453 closed

[2022-07-10 20:36] JavadHosseini commented on #13670
I have the same issue on Ubuntu 22.04 :)

[2022-07-11 02:07] elricli commented on #13909
Keep

[2022-07-11 13:02] jannikkeye opened #14209 "Apple M1 MacBook – "listen tcp 127.0.0.1:2380: bind: address already in use" without mapping ports to host system"
### What happened?

Starting the etcd container on an Apple M1 MacBook always leads to the following error:

[code]

Changing the listener address changes nothing, every port I tried seems to be "in use", which makes no sense and is not at all the case.

### What did you expect to happen?

The service should start properly, same as it does on my Intel MacBook.

### How can we reproduce it (as mini

[2022-07-11 13:23] #14209 closed

[2022-07-11 13:38] spzala commented on #14105
+1 Great work here! Thank you!

[2022-07-11 17:43] endocrimes commented on #14105
finished up my jepsen testing, I managed to replicate aphyr's findings, but didn't come across anything too different. Seems like no "new" issues, so 👍

[2022-07-11 22:19] ahrtr commented on #14158
Fixed by https://github.com/etcd-io/etcd/pull/14204

[2022-07-11 22:19] #14158 closed

[2022-07-11 23:24] chaochn47 opened #14211 "3.4.18 etcd data inconsistency"
### What happened?

A 3 etcd cluster returned inconsistent data.

'bad' Node
[code]
[code]

kube-controller-manager continuously cannot update its lock due to partial data in etcd.
[code]

### What did you expect to happen?

The error `range failed to find revision pair` should never ever happen because read transaction will either read from write buffer or boltdb.

We reported this case as a refe

[2022-07-12 04:49] ahrtr commented on #14105
Thanks all for the feedback.

Agreed. Let's consider to cherry pick them in 3.4.20 so as to minimize the impact, just as we discussed in https://github.com/etcd-io/etcd/issues/14105#issuecomment-1173064692 . The biggest change against the last release (3.4.18 released on Oct 15, 2021) is we bumped golang from 1.12 to 1.16, and also some system packages.

I will kick off releasing 3.4.19 once my la

[2022-07-12 06:58] #13534 closed

[2022-07-12 07:48] serathius commented on #14143
Based on m private discussion with @endocrimes this is reproducable on v3.4

[2022-07-12 08:03] serathius commented on #14140
Based on my discussion with @endocrimes this is also reproducible on v3.4

[2022-07-12 08:56] ahrtr commented on #14105
v3.4.19 is just released! Thanks everyone!

https://github.com/etcd-io/etcd/releases/tag/v3.4.19

[2022-07-12 08:56] #14105 closed

[2022-07-12 09:42] serathius commented on #14138
Removed https://github.com/etcd-io/etcd/issues/14140 and https://github.com/etcd-io/etcd/issues/14143 from scope as they were reproduced on v3.4, meaning that they are not net new in v3.5.

[2022-07-12 09:55] serathius commented on #13912
Based on great work by @ahrtr on https://github.com/etcd-io/etcd/issues/14105#issuecomment-1164014420 I want to propose him to become the release manager v3.4.

@ahrtr is this ok with you?

[2022-07-12 10:08] ahrtr commented on #13912
YES, thanks.

[2022-07-13 00:29] ahrtr opened #14216 "[3.4] Test failure for TestRoundRobinBalancedResolvableFailoverFromServerFail"
[code]

Also refer to https://github.com/etcd-io/etcd/runs/7293195456?check_suite_focus=true

[2022-07-13 00:31] ahrtr commented on #14216
cc @lavacat

[2022-07-13 01:02] vivekpatani commented on #14145
I'm seeing something similar to the user error mentioned above. I'm using the go client library. Here's an easy way I was able to reproduce the issue. The programme just creates `N=300` clients and each client creates 1 key.

`ETCDCTL_ENDPOINTS` is empty (not that it should matter)
[code]

`go.mod`
[code]

`main.go`
[code]

log.out (pasted an excerpt)
[code]

[code]

etcd server: `goreman -f Procf

[2022-07-13 01:59] vivekpatani commented on #14145
I could not reproduce this behaviour in 3.3.27

`go.mod`
[code]

`main.go`
[code]

The run was successful.

[2022-07-13 02:56] ahrtr commented on #14211
Please provide the info below,
[code]

[2022-07-13 05:29] besmirzanaj commented on #12234
this is a bit wired as even after you source the `/etc/etcd.env` file and the ETCDCTL_CACERT, ETCDCTL_KEY and ETCDCTL_CERT are made available as environment variable for the current user, etcdctl is still not able to read them.
If I manually specify these variables (again as environment vars) in front of etcdctl it will then work

[code]

Not sure if this is expected behavior, but looks not good.

[2022-07-13 05:35] ahrtr commented on #14145
@vivekpatani I do not see any issue at all, what you provided are just debug log messages.

[2022-07-13 05:38] tb0513 opened #14217 "https://tb0513.github.io/jump"
### What happened?

https://tb0513.github.io/jump

### What did you expect to happen?

https://tb0513.github.io/jump

### How can we reproduce it (as minimally and precisely as possible)?

https://tb0513.github.io/jump

### Anything else we need to know?

https://tb0513.github.io/jump

### Etcd version (please run commands below)

<details>

[code]

</details>

### Etcd configuration (command line

[2022-07-13 06:12] lance5890 opened #14218 "reboot etcd node cause etcd member list lose"
### What happened?

when I reboot one etcd  node，i found this node is removed from the member list sometimes

### What did you expect to happen?

because this happens occasionally, i wonder when i shutdown this node , is it ok to remove this node form member list

### How can we reproduce it (as minimally and precisely as possible)?

1 we have 3 nodes
[root@zn-node5 /]# etcdctl member list
298c085

[2022-07-13 07:32] #14217 closed

[2022-07-13 08:47] ahrtr commented on #14218
Two comments:
1. You mentioned it's 3.5.0, but based on your log, the version isn't 3.5.0. Please double confirm this.
2. How did you shutdown node6? Do you have any script or operator doing that? It's most likely your script or operator removed node6. Please also double confirm this.

[2022-07-13 09:00] ahrtr commented on #14077
Resolved by https://github.com/etcd-io/etcd/pull/14169 and https://github.com/etcd-io/etcd/pull/14219

[2022-07-13 09:01] ahrtr commented on #14065
Resolved by https://github.com/etcd-io/etcd/pull/14169 and https://github.com/etcd-io/etcd/pull/14219

[2022-07-13 09:01] #14185 closed

[2022-07-13 10:18] serathius commented on #13912
I think the situation is much better now. We have agreed to support 2 releases and  manager for both of them. We still need to work on defining responsibilities, but this can be done as a follow up.

[2022-07-13 10:18] #13912 closed

[2022-07-13 11:01] lance5890 commented on #14218
1
[root@zn-node7 /]# etcdctl version
etcdctl version: 3.5.0
API version: 3.5

2 i just reboot node6，and after a while, i found node6 is removed from the cluster, i have stoped the etcd operator，but this situation occurs when i reboot the etcd master node6 , does the etcd cluster could remove member when is runs?

[2022-07-13 17:15] vivekpatani commented on #14145
@ahrtr the first line of the log posted above, the endpoint is prepended with `"target":"etcd-endpoints://0x14000ac6700"`, which is why can't connect to an endpoint of etcd (I'm assuming).
[code]

[2022-07-13 17:21] chaochn47 commented on #14211
Thanks for the comment! point-in-time db state on each member was lost.

Corruption check on the new clusters will alarm and get CI in disk.

[2022-07-13 22:20] #12550 closed

[2022-07-14 01:01] ahrtr commented on #14218
etcd will not remove member(s) automatically. It must be removed by someone/program.

[2022-07-14 01:06] ahrtr commented on #14211
Is it easy to reproduce this issue in your environment (dev or production?) ?

Did you just create a new cluster or replace one problematic member with a new one?

[2022-07-14 03:34] lance5890 commented on #14218
thanks

[2022-07-14 03:34] #14218 closed

[2022-07-14 10:07] ppadashe opened #14223 "Is etcd FIPS 140 compliant"
I want to know if  etcd is FIPS 140-2 or 140-3 compliant ? How do I verify if its compliant ?

[2022-07-14 12:58] SimFG opened #14224 "contrib/lock: Doubtful about the example of distributed locks."
### What happened?

1. There is an error in the description of the `contrib/lock/README.md`  file.
detail: https://github.com/etcd-io/etcd/tree/main/contrib/lock
![image](https://user-images.githubusercontent.com/21985684/178985875-3f51c0a9-b58d-404d-b3ee-71d14cc42701.png)
The `client2` can't acquire the lock, because the lock has been acquired by the `client1`. And this is the same result when te

[2022-07-14 16:29] nomionz opened #14225 "go mod tidy complains after adding etcd embed to the project"
### What happened?

I use the `"go.etcd.io/etcd/server/v3/embed"` dependency to run the embedded etcd server and test my code with it. Code works fine but after `go mod tidy` I get that message

        go.opentelemetry.io/contrib/instrumentation/google.golang.org/grpc/otelgrpc tested by
        go.opentelemetry.io/contrib/instrumentation/google.golang.org/grpc/otelgrpc.test imports
        google

[2022-07-14 17:10] chaochn47 commented on #14211
It happened in a production cluster created on demand.

I am not even sure where to start the reproduce the error `range failed to find revision pair`. I suspect this corruption may happen in boltdb or fs layer or underlying disk.

The oncall operator replaced the problematic member with a new one and everything recovered..

[2022-07-15 05:46] hasethuraman commented on #9670
@cerebrate and @gyuho
Could you please let me know if fsync limitation in cifs with cache enabled is still there today atleast in etcd:3.4.15-debian-10-r43?

Because when I tried to bring up just etcd server (in above mentioned version) on cifs without cache, I get the below error.

![image](https://user-images.githubusercontent.com/10446093/179158811-bc301908-8f1d-48ca-b564-17346db9ee1f.png)

[2022-07-15 07:20] serathius commented on #14145
This is a custom schema that grpc loadbalancer which should get translated to `http://localhost:2379`.

Breakdown: `etcd-endpoints://0x14000ac6700/localhost:2379`
* `etcd-endpoints` - replaces `http` and is the custom schema that etcd use to override the endpoint resolve algorithm adding custom loadbalancing logic
*  `0x14000ac6700` - is just a unique identifier (address of client struct)
* `local

[2022-07-15 07:22] serathius commented on #13919
@TinySong any progress?

[2022-07-15 07:23] serathius commented on #13839
This is proposed as postmortem action item and planned for v3.7

[2022-07-15 08:26] serathius commented on #14225
Windows development environment is not supported.

[2022-07-15 08:26] serathius commented on #14225
Context https://github.com/etcd-io/etcd/issues/13667#issuecomment-1096358961

[2022-07-15 08:26] #14225 closed

[2022-07-15 08:40] nomionz commented on #14225
And what if I don't use etcd binary and just an embed server?  Does it still count?

[2022-07-15 16:31] nomionz opened #14226 "go mod tidy complains after adding etcd embed server to the project"
### What happened?

The same issue #14225 but now I try it on my linux and got the same output. I have already tried to force add "go.etcd.io/etcd/server/v3/embed" in go.mod and nothing is happend, also I tried to add cloud.google.com/go/compute v1.7.0 and nothing.

go.opentelemetry.io/contrib/instrumentation/google.golang.org/grpc/otelgrpc tested by
go.opentelemetry.io/contrib/instrumentation/goo

[2022-07-15 21:59] ahrtr commented on #14226
I did not reproduce this issue, please try steps below,

[code]

My example code is,
[code]

[2022-07-16 08:07] nomionz commented on #14226
I don't know what I did, I took the go.mod from the last commit and tried the solution above and it seems to work. Thanks, closing the issue

[2022-07-16 08:07] #14226 closed

[2022-07-17 20:55] OsvaldoRino opened #14229 "Distributors Application for <YOUR DISTRIBUTION HERE>"
**Actively monitored security email alias for our project:**

**1. Have a user base not limited to your own organization.**

**2. Have a publicly verifiable track record up to present day of fixing security issues.**

**3. Not be a downstream or rebuild of another distribution.**

**4. Be a participant and active contributor in the community.**

**5. Accept the Embargo Policy.**

**6. Be willing t

[2022-07-17 21:22] #14229 closed

[2022-07-19 02:16] spzala commented on #14223
Afaik, no such compliance efforts were ever made in the community. Please refer to the FIPS doc to know more about FIPS standards and requirements.
You can read more about security assessment of etcd here, https://github.com/etcd-io/etcd/tree/main/security and about security model here, https://etcd.io/docs/v3.5/op-guide/security/
I am closing this issue but please feel free to reopen or create a

[2022-07-19 02:16] #14223 closed

[2022-07-19 05:17] ahrtr opened #14232 "Plans for v3.4.20 release"
We intentionally skipped back-porting some bug fixes in 3.4.19 in order to minimize the impact. Since 3.4.19 is already released and validated to be working well, so we can consider to release 3.4.20 to backport some PRs.

## Pipelines/test
There are still some flaky test failures from time to time. As previous release, any fix to stabilize the pipeline is welcome.

* https://github.com/etcd-io/et

[2022-07-19 07:04] sniperHW opened #14233 "islead only set when rd.SoftState != nil"
in func (r *raftNode) start(rh *raftReadyHandler){}

islead only set when rd.SoftState != nil

this means the optimization of
”the leader can write to its disk in parallel with replicating to the followers and them
writing to their disks" would not work when current node is leader but rd.SoftState == nil。

Is this really the design intent?

[2022-07-19 08:44] stek29 opened #14234 "Expose alarms as metrics"
Currently the only way to know about alarms is to issue an maitenance/alarm grpc call to list currently active alarms (by using etcdctl alarm list, for example).

It would be great to have expose etcd alarms in prometheus metrics so they're easier to monitor and know about.

[2022-07-19 17:19] tjungblu commented on #14224
Hi @SimFG,

I'm not the original author, but I'm a sucker for distributed locking so I wanted to give this a bash. Maybe @chalin has some time to look into this eventually?

Yep, I think that's not working anymore. I reckon that the gogc has changed significantly over time and it's not as easy to "stop the world" anymore. In fact, running `GODEBUG=gcstoptheworld=2 ./client 1` does panic for me in

[2022-07-19 22:16] chaochn47 commented on #14232
Nice to backport: https://github.com/etcd-io/etcd/pull/12335

[2022-07-19 22:19] ahrtr commented on #14232
Thanks for the feedback. I just had a quick review on the PR, and it's a minor change and should be safe to backport. Please feel free to deliver a PR for this.

[2022-07-19 23:44] vivekpatani commented on #14232
@ahrtr https://github.com/etcd-io/etcd/pull/14241

[2022-07-20 00:24] vivekpatani commented on #14145
@webchi feel free to close this, works as intended.

[2022-07-20 02:07] tangcong commented on #14232
@ahrtr #14169

[2022-07-20 02:13] SimFG commented on #14224
Thanks your answer. Maybe this part need to improve. When I firstly read it, I am very confused. I want to change it, but I don't know what this part of the code is trying to show.

[2022-07-20 02:49] ahrtr commented on #14232
Thanks for the feedback. I agree the PR can improve the performance/throughput, but it also added a new flag `--max-concurrent-streams` which usually we shouldn't backport. We need to get consensus on this one. Please kindly provide your opinion (thumb up or down?). thx.

Personally, I incline to backporting it to 3.4.

[2022-07-20 06:01] tangcong commented on #14232
thanks for the feedback. it is actually a bug, pr #8238 only solves a part of the problem (etcd does not enable tls), we have encountered a lot of user feedback (users using APISIX, accessing etcd cluster users through HTTP 1.1x protocol).  @ahrtr

[2022-07-20 06:03] Elbehery opened #14243 "Proposal for "Mentorship" for new contributors"
This issue is to track a proposal to the etcd community, regarding a Mentorship program to the new etcd contributors.
I have discussed with @ahrtr , and he has advised me to open this issue.

The proposed program would assign new etcd contributors to a mentor who is experienced with the code base and can guide the mentee during his initial contributions.

I am very looking forward to the community

[2022-07-20 06:38] ahrtr commented on #14243
Actually there are lots of online documents or videos on etcd, such as,
* [https://github.com/ahrtr/etcd-issues/blob/master/docs/cncf_storage_tag_etcd.md](https://github.com/ahrtr/etcd-issues/blob/master/docs/cncf_storage_tag_etcd.md)
* [https://www.youtube.com/watch?v=H3XaSF6wF7w&t=214s ](https://www.youtube.com/watch?v=H3XaSF6wF7w&t=214s )

Anyone is welcome to contribute to the etcd project, an

[2022-07-20 06:44] ahrtr commented on #14243
cc @spzala @serathius @ptabor

[2022-07-20 09:02] serathius commented on #14243
I think that having a dedicated mentor for new contributor is unrealistic due to size of community. As @ahrtr mentioned we already have materials and issues tagged for new contributors. It's maybe not obvious for people without prior experience in contributing for CNCF repos like K8s. Still if new contributors should be able to volunteer on opened issues and get all the support needed.

One area w

[2022-07-20 09:25] ajeikelhof commented on #8603
I read in the docs of version 3.5:
Since v3.1.0 (except v3.2.9), discovery SRV bootstrapping authenticates ServerName with a root domain name from --discovery-srv flag. This is to avoid man-in-the-middle cert attacks, by requiring a certificate to have matching root domain name in its Subject Alternative Name (SAN) field. For instance, etcd --discovery-srv=etcd.local will only authenticate peers/c

[2022-07-20 10:58] ahrtr commented on #14232
I added [14169](https://github.com/etcd-io/etcd/pull/14169) into the list, please let me know if anyone have any concerns. @serathius @spzala @ptabor

[2022-07-20 10:59] ahrtr commented on #14232
I pinged the original author of PR [12846](https://github.com/etcd-io/etcd/pull/12846), but got no response so far.
Is anyone interested in backporting it to 3.4? thx

[2022-07-20 17:46] parispittman commented on #14243
this is related to my message here: https://lists.cncf.io/g/cncf-toc/message/7257
does this resonate with etcd maintainers? I think y'all need a community function within the project to help get the burden of onboarding off of you. part of the community engineers job could be to figure out what mentoring looks like for etcd and establish programs.

[2022-07-20 19:08] vivekpatani commented on #14232
@ahrtr https://github.com/etcd-io/etcd/pull/14246 - have backported the requested PR. I maybe lacking understanding, but from the looks of it, this function isn't called anywhere (even in the original PR), am I doing this correctly? Thanks. @ptabor @spzala @serathius

[2022-07-20 19:14] cenkalti commented on #14164
I am willing to work on this task is no one else has started yet. I can integrate `golangci-lint`. After integration is done we can talk about which linter to turn on/off and rules.

[2022-07-20 19:16] ahrtr commented on #14232
Thanks @vivekpatani for the PR.  Are you talking about `RemoveMatchFile`? It's supposed to be only called on etcd startup.

[2022-07-20 21:49] ramses commented on #14164
Yesterday I finished exactly this for another project — i.e., golangci-lint for the project, then added a github action.

I've just noticed that we do not have the following:

- `.golangci.yml` configuration.
- `make` target for linting  — this and the above bullet would enable repeatable local linting.

Also, the static analysis workflow calls the `scripts/test.sh`. Instead, we could use the `gol

[2022-07-20 22:06] cenkalti commented on #14164
It's better to use Github actions instead of writing more script code.

[2022-07-20 22:10] ramses commented on #14164
I'm not recommending more script code.

I am recommending LESS script code.

A configuration file for `golangci-lint` would enable local tests.

Using the golangci-lint-github-action would simplify `scripts/test.sh`.

Your thoughts?

[2022-07-20 22:20] cenkalti commented on #14164
Agreed. That's what I was trying to say.

[2022-07-20 23:02] plsnotracking commented on #14232
@ahrtr I think I had some misunderstanding, the PR is now fixed/mergeable, please feel free to review when you have a minute, thank you!

[2022-07-20 23:02] vivekpatani commented on #14232
@ahrtr I think I had some misunderstanding, the PR is now fixed/mergeable, please feel free to review when you have a minute, thank you!

[2022-07-21 00:38] chaochn47 commented on #14211
Yeah, I downloaded the snapshot taken from the impacted node before and after the panic.

I ran some bbolt cmds like `bbolt check` and some other subcommands on both db files. The results returned OK and no panic like [13406](https://github.com/ahrtr/etcd-issues/tree/master/issues/13406)

I'd like to keep this issue open until second occurrence with WAL log presence.

[2022-07-21 00:42] chaochn47 commented on #14174
Discussed in https://github.com/etcd-io/etcd/pull/14175, the feasible solution in short term is
- Add retry in client side to ensure the membership reconfiguration applied to all members.
- Wait until retry succeeds, start new member.

[2022-07-21 00:42] #14174 closed

[2022-07-21 01:50] chaochn47 opened #14249 "DB size diverged but kvhash were consistent across 3 nodes"
### What happened?

<img width="1597" alt="Screen Shot 2022-07-20 at 6 09 29 PM" src="https://user-images.githubusercontent.com/54131596/180108237-8e19d309-ff55-4ecd-bd2f-425d87ef2bde.png">

The DB size diff can be as high as 3GiB. Here is one screenshot of the db size metric. The drop of the blue line is actually our automation workflow replacing a new node with member removal/add.

### node1
[co

[2022-07-21 03:00] ahrtr commented on #14164
Thanks both @cenkalti and @ramses for the feedback. Actually I tried the `golangci-lint` as well about 9 months ago in project [gocontainer](https://github.com/ahrtr/gocontainer), and I believe it's definitely useful, but we also need to avoid some false alarms.

@serathius @spzala @ptabor  do you have any immediate concern on this approach? If no any objection, @cenkalti and @ramses , please any

[2022-07-21 05:41] chaochn47 commented on #14232
https://github.com/etcd-io/etcd/pull/13435/? @ahrtr This PR is safe to backport in my opinion.

[2022-07-21 05:45] ahrtr commented on #14232
Agreed. Please feel free to deliver a PR, thx.

[2022-07-21 07:36] mborsz commented on #14232
Can we also consider backporting PR https://github.com/etcd-io/etcd/pull/12871?
It seems be be quite safe to backport change and it will both reduce memory consumption and reduce work in latency sensitive applierV3backend.Apply.

[2022-07-21 07:41] ahrtr commented on #14232
It should have already been backported in [12888](https://github.com/etcd-io/etcd/pull/12888)

[2022-07-21 07:55] #14145 closed

[2022-07-21 08:39] ernado commented on #14164
Don't be shy to ignore false positives. Here is example from one of my projects:

[code]

The `exclude-rules` section is very flexible and it is ok to disable some checks fully or partially.

[2022-07-21 09:27] serathius commented on #14249
I haven't looked to deep why this happens (expect you don't run defrag on all members), but please remember that `db_total_size` is different than `db_in_use_size`.

[2022-07-21 09:28] Elbehery commented on #14243
+1

On Wed, Jul 20, 2022 at 11:02 AM Marek Siarkowicz ***@***.***>
wrote:

[2022-07-21 09:45] serathius commented on #14145
Note: We reported this issue to grpc some time ago. If someone is interested they could check if this workaround is no longer needed.

[2022-07-21 09:48] serathius commented on #14145
Context:
* https://github.com/etcd-io/etcd/issues/13192
* https://github.com/grpc/grpc-go/issues/4717

[2022-07-21 10:06] serathius commented on #14164
+1 to adding .golangci.yml configuration. I would start with [Kubernetes](https://github.com/kubernetes/kubernetes/blob/master/.golangci.yaml) one. We should avoid having too strict rules that would discourage new contributors.

+1 for direct target for linting. We have `PASSES='fmt bom dep' ./scripts/test.sh` however I find it very unnatural. Cleaning up makefile was always on my list of things t

[2022-07-21 10:40] ernado commented on #14164
Also [ruleguard](https://github.com/quasilyte/go-ruleguard) is interesting for advanced linting, you can write custom linting rules with DSL.

[2022-07-21 13:52] jasondobryk opened #14252 "failed to open WAL"
Hi, there is a problem on several etc clusters on windows server at the customer. process есв.ехе managed by the windows service. It looks like this: the cluster is working, but if you restart the etc service on one of the servers, we will get an error:

`{"level":"fatal","ts":"2022-07-21T13:17:36.221+0300","caller":"etcdserver/storage.go:95","msg":"failed to open WAL","error":"wal: file not found

[2022-07-21 14:08] serathius commented on #14252
I would start from `"error": "wal: file not found"`. Note: you didn't use a proper bug template, but provided most of the needed information. Please use it next time.

[2022-07-21 14:13] serathius commented on #14232
@ahrtr https://github.com/etcd-io/etcd/pull/12762 is fix for https://github.com/etcd-io/etcd/issues/12680, in the end the solution was done in one, but three PRs:
* https://github.com/etcd-io/etcd/pull/12762
* https://github.com/etcd-io/etcd/pull/12795
* https://github.com/etcd-io/etcd/pull/12780

As all of them change how pending requests are handled during leader election I would prefer to merge

[2022-07-21 14:54] chalin commented on #14224
Hi all. I'm not able to make such doc contributions at the moment. If there is a real issue here, consider leaving this open @SimFG. Thanks.

[2022-07-21 17:12] chaochn47 commented on #14249
https://github.com/etcd-io/etcd/blob/6d27a42b7d6191da43d27930282de5b9e54ead7c/server/storage/backend/backend.go#L621-L630

The diff is the number of freePage * page size (4k). I think it might be because of compaction (need to confirm).

But in the manual scraping `/metric` result. Even `db_in_use_size` diverged as big as 2G.

[2022-07-21 19:34] ramses commented on #14232
Hi @ahrtr ,

I have the backport for #13435 ready. However, I currently do not have permission to push a branch to `etcd-io/etcd.git`.

[2022-07-21 19:36] endocrimes commented on #14232
@ramses you'll need to make a "fork" on GitHub, then push to that, and open the PR across repos. https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/creating-a-pull-request

[2022-07-21 19:40] ramses commented on #14232
Thanks @endocrimes , realized that immediately after :-)

[2022-07-21 20:34] ahrtr commented on #14232
Thanks @serathius  for the reminder. I will take care of all of them myself later.

[2022-07-21 23:34] ramses commented on #14164
Initial PR, adding the configuration file: https://github.com/etcd-io/etcd/pull/14255

Please carefully read the commit message.

Thank you, @serathius for the sensible suggestion to base our config from Kubernetes' `golangci-lint` configuration.

[2022-07-22 01:31] ahrtr opened #14256 "[3.4] panic: runtime error: invalid memory address or nil pointer dereference"
I saw this error multiple times in 3.4 pipeline,

[code]

Refer to https://github.com/etcd-io/etcd/runs/7460637358?check_suite_focus=true

Please see my comment: https://github.com/etcd-io/etcd/issues/14256#issuecomment-1202083883

[2022-07-22 01:35] ahrtr opened #14257 "[3.4] ./test: line 229: kill: (7520) - No such process"
I saw this error multiple times in 3.4 pipeline,

[code]

Refer to https://github.com/etcd-io/etcd/runs/7460637442?check_suite_focus=true

[2022-07-22 01:40] ahrtr commented on #14232
I saw the following two errors multiple time in 3.4 pipeline, but never get time to have a deep dive,
* https://github.com/etcd-io/etcd/issues/14256
* https://github.com/etcd-io/etcd/issues/14257

Any help is welcome! Thanks!

[2022-07-22 02:18] SimFG commented on #14224
@chalin Has opened.

[2022-07-22 06:10] ahrtr opened #14259 "[3.4] panic: runtime error: index out of range [0] with length 0 [recovered]"
The issue was found in 3.4 pipeline.

[code]

Refer to https://github.com/etcd-io/etcd/runs/7462977558?check_suite_focus=true

[2022-07-22 07:44] serathius commented on #14249
Compaction windows is negotiated on raft, so I would not expect compaction could cause members diverging. Only option would be that compaction running in background bugged out on one of the members, but that would be strange.

This definitely is unexpected. Would love to see boltdb dump diff. To rule out compaction as a culprit could to scan revision space?

[2022-07-22 09:52] spongecaptain opened #14260 "The lessor.Checkpoint always return nil"
- version: release-3.5

- code:  https://github.com/etcd-io/etcd/blob/release-3.5/server/lease/lessor.go#L378

[code]

Should it return ErrLeaseExists instead when the LeaseID does not exist.

[2022-07-22 09:54] tjungblu commented on #14224
gave this a bash in https://github.com/etcd-io/etcd/pull/14261, let me know if you need any adjustments in the code review

[2022-07-22 10:06] serathius commented on #14260
Is this a question?

[2022-07-22 10:11] spongecaptain commented on #14260
I mean that it returns error may be better.

[2022-07-22 10:13] SimFG commented on #14224
I think it's pretty good !!!

[2022-07-22 11:10] serathius commented on #14260
Sure, fill free to present arguments that it will be better. I don't this is a trivial case, however I don't have context on the original code.

[2022-07-22 15:24] zhangzerui20 commented on #14259
Can I try my hand at this?

[2022-07-22 16:00] hasethuraman opened #14263 "ETCD fails to come up when using CIFS file share (as etcd storage) and with cache=none in mount option"
### What happened?

I had etcd:3.4.15-debian-10-r43 running and mounted a cifs file sharing with below mount option. Please note cache=none

rw,relatime,vers=3.1.1,cache=none,username=myname,uid=0,noforceuid,gid=1001,forcegid,addr=1.10.90.14,file_mode=0777,dir_mode=0777,soft,persistenthandles,nounix,serverino,mapposix,mfsymlinks,rsize=1048576,wsize=1048576,bsize=1048576,echo_interval=60,actimeo=30

[2022-07-22 22:25] ahrtr commented on #14259
Any help is appreciated!

[2022-07-23 08:55] xiaods commented on #14263
why use cifs as etcd storage? any benefits from cifs?

[2022-07-23 10:59] xiaods commented on #14260
need more context to correct this quesiton.

[2022-07-23 12:12] xiaods commented on #14257
run functional testcase on release-3.4 branch. it output below error.
[code]

[2022-07-23 20:21] cenkalti opened #14267 "Compaction does not make free space usable"
### What happened?

After compacting the database and clearing NOSPACE alarm, the server still does not accept new write requests.

### What did you expect to happen?

After I compacted the database and cleared the alarm, I expect from server to accept new write requests.

### How can we reproduce it (as minimally and precisely as possible)?

- Start a single node etcd server with default settings

[2022-07-24 03:41] xiaods commented on #14189
show some code to simplify your context. I don't understand the question.

[2022-07-24 03:49] xiaods commented on #14233
SoftState will be nil if there is no update.

[2022-07-24 04:26] sniperHW commented on #14233
SoftState == nil not means len(rd.Messages ) == 0。the purpose of islead is to "let the leader can write to its disk in parallel with replicating to the followers and them writing to their disks"。In most cases,SoftState would be nil,This means that this optimization only works in a few cases.

[2022-07-24 08:29] hasethuraman commented on #14263
1) We are looking at to ensure data is not lost due to cache. So trying with cache=none

2)

When you say this is default behaviour, the panic is expected?

[2022-07-24 10:33] xiaods commented on #14233
i read the source code and found only handle SoftState != nil  logic.

[2022-07-24 10:37] xiaods commented on #14263
for question 2, the panic is expected. see source  code: https://github.com/etcd-io/bbolt/blob/master/freelist.go#L175

[2022-07-24 11:38] hasethuraman commented on #14263
Yes, I saw that. Does it mean etcd won't work without caching?

[2022-07-24 11:48] sniperHW commented on #14233
I've figured it out.islead is define outside the for loop.Its value is held between state changes。

[2022-07-24 11:48] #14233 closed

[2022-07-24 11:54] hasethuraman commented on #14263
Meanwhile, I need fsync to happen. What I am looking for is, if I have cache enabled with CIFS, there is a potential possibility of data loss. So I tried disabling cache.

But  --unsafe-no-fsync means, dont do fsync correct? A put(key,value), must write to the stable storage immediately. If my understanding is correct I cant use  --unsafe-no-fsync flag.

[2022-07-24 12:45] rsafonseca opened #14268 "ETCD integration package is broken if any other module in the project uses updated opentelemetry"
Currently it's not possible to use the go.etcd.io/etcd/tests/v3/integration module, in any version of 3.5 if another module in the project uses an updated version of OpenTelemetry.
Trying to run "go mod tidy" in a project that uses the ETCD integration package along with another module that uses an updated version of OpenTelemetry results in the following:

[code]

To resolve this, ETCD 3.5 branch

[2022-07-24 12:55] rsafonseca commented on #14268
Related issues: https://github.com/open-telemetry/opentelemetry-go/issues/2577
https://github.com/etcd-io/etcd/issues/13664

[2022-07-24 18:51] serathius commented on #14267
Run defrag after compaction.

[2022-07-24 19:54] cenkalti commented on #14267
As indicated prior, defrag solves the issue. However, it should not be required. After compaction, there is free space available in the database. etcd should be able the use that.

[2022-07-24 22:14] ahrtr commented on #14267
This isn't correct. Two comments:
1. Although compaction deletes some K/V, but the real disk space usage will **NOT** be reclaimed automatically. You must perform a de-fragmentation to reclaim the disk space used by BoltDB.
2. BoltDB indeed tries to reuse the free space, but it isn't guaranteed it will always reuse the free space. It is indeed a good point, we may consider to enhance the design/im

[2022-07-25 01:33] ahrtr opened #14270 "[3.4] WARNING: DATA RACE between mvcc.(*store).setupMetricsReporter and mvcc.(*store).restore"
I see the following error in 3.4 pipeline,
[code]

Refer to https://github.com/etcd-io/etcd/runs/7491976783?check_suite_focus=true

[2022-07-25 01:37] ahrtr commented on #14270
@simFG Are you interested and have bandwidth to have a deep dive into this issue?

[2022-07-25 01:48] SimFG commented on #14270
Ok, I can try to do it.

[2022-07-25 02:09] lavacat commented on #14216
/assign

[2022-07-25 07:45] serathius commented on #14268
Please try `./scripts/updatedep.sh`

[2022-07-25 08:57] ahrtr commented on #14232
Although there are still some issues which need further investigation, we have already finished backporting all existing PRs.

@endocrimes Do you have bandwidth to run Jepsen test on release-3.4?

[2022-07-25 11:27] clarkfw commented on #13637
I'm working on:

- [ ] e2e/ctl_v3_member_test.go

[2022-07-25 11:51] endocrimes commented on #14232
@ahrtr sure 👍

[2022-07-25 13:08] jasondobryk commented on #14252
According to the logs, it is unclear what specific file is missing, there are files with wal in the folder. Perhaps some specific one is missing or damaged, is it possible to understand it somehow?

[2022-07-25 16:22] lavacat commented on #14216
PR https://github.com/etcd-io/etcd/pull/14274

[2022-07-25 17:32] hasethuraman commented on #14263
@xiaods  FYI I tried using cache=none option along with --unsafe-no-fsync. Didnt help.

[2022-07-25 20:36] xiaods commented on #14263
sad news, i review and see the --unsafe-no-fsync comments, it warning: "Disables fsync, unsafe, will cause data loss"
so it's not match your requirements. don't use it anymore.

[2022-07-26 05:34] hasethuraman commented on #14263
Can anyone help me how do I stop etcd/bbolt panicking from given cifs + cache=none option?

[2022-07-26 06:24] #14224 closed

[2022-07-26 07:26] serathius opened #14275 "FLAKE: TestKVDelete"
https://github.com/etcd-io/etcd/runs/7499725943?check_suite_focus=true

Interesting log:
[code]

[2022-07-26 07:32] aojea commented on #13779
This is now a default in `kubeadm` created clusters too

https://github.com/kubernetes/kubernetes/pull/111383

[2022-07-26 08:31] yuzhiquan commented on #14234
/assign

[2022-07-26 15:29] tjungblu commented on #14263
hey @hasethuraman,

I've been looking a bit into this today, since I have a samba share at home and wanted to debug bbolt a little.
I don't have a fix for you just yet, but I just want to mentally write down what I found so far.

The panic can be easily reproduced by running this simple test case on the share:
https://github.com/etcd-io/bbolt/blob/master/manydbs_test.go#L33-L60

The panic is cause

[2022-07-26 21:01] ahrtr commented on #14256
@ramses, any update on this issue?

[2022-07-26 21:02] ahrtr commented on #14259
@zhangzerui20 any update on this issue?

[2022-07-27 04:47] ahrtr commented on #14270
Resolved by https://github.com/etcd-io/etcd/pull/14279

[2022-07-27 04:47] #14270 closed

[2022-07-27 05:14] ahrtr commented on #14263
@hasethuraman  @tjungblu  could you try to reproduce this issue with etcd 3.5.4?

[2022-07-27 05:21] jasondobryk commented on #14252
I found the problem. If the rotation of wal files occurs faster than the server takes a snapshot, then the next restart of the server leads to an error.

[2022-07-27 05:22] ahrtr commented on #14260
There may be a race condition between `Checkpoint` and `revoke`. The existing design/implementation on lease is too complicated, a lease may be revoked during the `Checkpoint`.

I may consider to refactor the design later.

[2022-07-27 05:22] #14260 closed

[2022-07-27 05:24] jasondobryk commented on #14252
It would be nice to solve this problem in the next version

[2022-07-27 06:10] Alvaro-Campesino commented on #13632
any work on this?

[2022-07-27 06:47] hasethuraman commented on #14263
I will try this in 3.5.4 too

I spent some time and kind of getting some direction. When we have the cache=none, it looks like the page cache wont reflect any changes as the latest commits flushes to the db; as page cache wont reflect (because of cache is disabled) the db.meta will never reflect new page id and so the free will try to release the same page (since db.meta still points to same pagei

[2022-07-27 08:10] MingWangSong commented on #5688
{"level":"fatal","ts":"2022-07-27T08:01:16.260Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 127.0.0.1:2380: bind: address already in use","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\t/go/src/go.etcd.io/etcd/release/etcd/server/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\t/go/src/go.etcd.io/etcd/release/etcd/server/etcd

[2022-07-27 08:17] ahrtr commented on #14216
Fixed by https://github.com/etcd-io/etcd/pull/14274

[2022-07-27 08:17] #14216 closed

[2022-07-27 08:30] serathius commented on #14252
This seems like a bug, can you provide a minimal reproduction steps?

[2022-07-27 12:55] tjungblu commented on #14263
yep that's about it, the guarantees for mmap are different via CIFS with cache=none.

Yes, but it's not really related to an etcd version, it is due to the mmap usage of bbolt.

[2022-07-27 14:29] MIVerTFT commented on #14252
Yes, a very strange situation. Reproduced like this.
There is one node etcd 3.5.4 running on Windows 10 config file below.

[code]

I run a task that continuously writes records of 200,000 bytes each.
As a result, there is a fast rotation of the wal files and after 3000-4000 transaction, the node cannot restart due to the error that the wal files are deleted and there is no snapshot.

On Windows S

[2022-07-27 14:30] tjungblu commented on #14275
Just took a brief look, even on my more powerful box that test takes nearly 12s and comes very close to the defined timeout after adding a print for the time left:

Shall we increase the timeout for those tests? Alternatively there could also be two timeouts, one for spawning the cluster (5s?) and another for the test execution.

This message happens 695 times in the log so it's probably not relat

[2022-07-27 14:41] serathius commented on #14252
Windows is currently in Tier 3 support. https://etcd.io/docs/v3.5/op-guide/supported-platform/#current-support
Meaning we just build windows binary, but we never tested if it works.

Feel free to look into the issue, however it's not unexpected that there might be problems.

[2022-07-27 14:44] serathius commented on #14275
Hmm, that's weird, I would look into why this test took so long. Possibly look into how much it took when the test was introduced.

[2022-07-27 14:53] tjungblu commented on #14275
Good point, the test from https://github.com/etcd-io/etcd/pull/13753 takes only 3s instead of 12s. I'm going to bisect the changes since then and see what made it so much longer.

[2022-07-27 16:08] tjungblu commented on #14275
The last one that takes 3s was in [e4d34f21bc92b6e4c3255a9c893a2afea07a05e0](https://github.com/etcd-io/etcd/commit/e4d34f21bc92b6e4c3255a9c893a2afea07a05e0)

The runtime then doubled starting with https://github.com/etcd-io/etcd/pull/13864 and commit [https://github.com/etcd-io/etcd/commit/63346bfead7dd9ad071485d7cc7d6c8bd9fc36b7](63346bfead7dd9ad071485d7cc7d6c8bd9fc36b7)

I'll check deeper tomor

[2022-07-27 22:04] ahrtr commented on #14256
I suggest to diff the code between release-3.4 and (releasae-3.5 or main). cc @simFG to take a look as well.

If there is no any progress until early next week, then I may take a deep dive myself.

[2022-07-28 00:39] ramses commented on #14256
@ahrtr, I was not investigating this issue; I was investigating the "split-brain" issue: https://github.com/etcd-io/etcd/issues/14143

Of these two, which one is currently more concerning to you?

[2022-07-28 00:45] ahrtr commented on #14232
I may release 3.4.20 sometime next week when all remaining tasks(see below) are done,
1. The failures discovered in 3.4 pipeline are fixed. Only https://github.com/etcd-io/etcd/issues/14256 (@ramses  @SimFG) is a blocker to me.
2. All tests, including Jepsen test (@endocrimes ) and manual test in my local environment (@ahrtr ), are done. We need to think about how to enhance the release process in

[2022-07-28 00:49] SimFG commented on #14256
@ahrtr Ok, I will look it.

[2022-07-28 00:51] ahrtr commented on #14256
I suggest to resolve this issue firstly. @SimFG @ramses

Comment on https://github.com/etcd-io/etcd/issues/14143,
1. I am NOT convinced that it's real issue of etcd. I even suspect it's issue on the client side, including the test case or jetcd. Of course, it needs more investigation;
2. We can start with qualify our corruption detection mechanism (such as https://github.com/etcd-io/etcd/pull/1428

[2022-07-28 00:59] SimFG commented on #14256
@ramses You can go on to see your current issue to avoid us doing repetitive work. cc @ahrtr, if there is any difficulty, I will keep you informed.

[2022-07-28 01:06] ramses commented on #14256
I agree on both counts, @ahrtr. I'll keep digging down to be sure which one is it.

Noted, @SimFG .  By the way, nice to meet you (in GitHub-verse) 🙂

[2022-07-28 12:18] tjungblu commented on #14275
I think I got it, it's actually a bit surprising and I didn't expect that:
https://github.com/etcd-io/etcd/commit/e5bf23037ab7ce9453bddade5d339da98724e296#diff-014dc5cc5559dd7777391eeb579c4f6b374e15e1c6ecb1ea199606a417d5eafcR117

The 100ms sleep is causing the delay, if you change it down to 10ms runtime goes to where it was before.

[2022-07-28 12:26] serathius commented on #14275
Awesome find! Surprising that I didn't notice it when running it locally.

[2022-07-28 13:16] serathius commented on #14275
Let's close it and reopen if issue resurfaces.

[2022-07-28 13:16] #14275 closed

[2022-07-28 17:58] lavacat commented on #14159
I wasn't able to reproduce this and I went through GitHub Actions runs for ~10days and didn't see this error. The most relevant comment about similar issue [here](https://github.com/etcd-io/etcd/issues/12996#issuecomment-851928458)

I suggest we close this out

[2022-07-28 19:08] spzala commented on #14232
@ahrtr thank you! No concerns, and sounds great.

[2022-07-28 21:27] lavacat commented on #14257
Here are some more examples of failure due to ETCD_TESTER_EXIT_CODE: 2
https://github.com/etcd-io/etcd/runs/7528996274?check_suite_focus=true
https://github.com/etcd-io/etcd/runs/7443519017?check_suite_focus=true
https://github.com/etcd-io/etcd/runs/7436236229?check_suite_focus=true

[2022-07-28 23:15] ramses commented on #14143
Hi @aphyr,

Just to be sure ... what's your LazyFS-toml-config for these tests?

[2022-07-28 23:30] ahrtr commented on #14159
Thanks, let's reopen it once we see it again.

[2022-07-28 23:30] #14159 closed

[2022-07-29 14:01] tjungblu commented on #14259
Sorry to jump this one, maybe @zhangzerui20 actually has a real fix in store.

I couldn't really reproduce this on my box and I figured the members are not changed anywhere on the execution path (or any other races for that matter). My assumption is that the integration cluster didn't create enough members to begin with, so I added an assertion before running the test. #14285

[2022-07-29 15:49] lavacat commented on #14257
if nobody is looking at this, please assign to me

[2022-07-30 19:29] zhangzerui20 commented on #14259
Not yet, I'm trying to reproduce this issue.

[2022-07-31 07:01] andrewjstone commented on #10246
X

[2022-07-31 10:39] Jille commented on #13606
This is still an issue.

[2022-07-31 14:44] mitake commented on #12385
This is the branch for the fix: https://github.com/mitake/etcd/tree/watch-auth-err I'll open a PR after finalizing it.

[2022-07-31 16:49] chavacava commented on #14164
The chosen configuration of `golangci-lint` does not include `revive` thus there is still the risk of not detecting bugs as those mentioned in the initial message of this discussion.

[2022-07-31 19:40] #13975 closed

[2022-07-31 21:27] ahrtr commented on #14164
We will add `revive` in separate PR. https://github.com/etcd-io/etcd/pull/14255#discussion_r930459460

[2022-07-31 21:28] #13855 closed

[2022-07-31 22:52] lavacat commented on #14211
@chaochn47 do you still have data in your metric system? Can you post other metrics? Seams like something happened on 06/09
`etcd_server_is_leader` - wondering if there was leader change on 06/09 or if there were too many leader changes indicating network/load issue.

`etcd_server_heartbeat_send_failures_total` to make sure there were not hb failures
`etcd_server_snapshot_apply_in_progress_total`

[2022-07-31 23:31] lavacat commented on #14243
"Mentorship" program can be a lot of work and if it's 1:1 then it's hard to scale/reuse.

Maybe we can start with this item from @parispittman list https://lists.cncf.io/g/cncf-toc/message/7257

alternative name "New contributor onboarding".

- We can have it 2 weeks after regular community meeting and we can cycle timezones, so it's convenient.
- Maybe don't record this one, so it's more relaxed,

[2022-08-01 01:15] SimFG commented on #14256
@ahrtr I didn't find a solution to this problem. At first I thought it was because `tx` did not call the begin method, which caused the error that `tx` was nil, but it was not the case after a try. Then it is guessed that the server failed to start, resulting in the `tx` initialization not being run, but the verification did not get the result.

[2022-08-01 16:12] Elbehery commented on #14243
+1, that sounds great 👍

On Mon, Aug 1, 2022 at 1:32 AM Bogdan Kanivets ***@***.***>
wrote:

[2022-08-01 17:34] chaochn47 commented on #14211
@lavacat thanks for taking a look!

We do have data in the metrics and logging system.

There is a leadership change around 5 mins before this event.

No heartbeat failures and no snapshot apply in progress.

Compaction is driven by `kube-apiserver` every 5mins. The compact_revision is consistent until the event.
defrag is performed by another on-host agent. It does not perform defrag because `db_

[2022-08-01 17:38] chaochn47 commented on #14211
I suspected the write Txn failed to write back the buffer to read Txn buffer when a new concurrentReadTxn is created at the same time. But from the code perspective, there does not seem like a issue.

[2022-08-01 21:10] jordan-da opened #14294 "etcdctl lease id json output bug"
### What happened?

Getting a key attached to a lease with `-w json` results in what seems to be rounded lease id

[code]

### What did you expect to happen?

I expected to see the correct lease id

[code]

### How can we reproduce it (as minimally and precisely as possible)?

[code]

### Anything else we need to know?

My bet is, somewhere the `etcdctl` client is casting an `int64` into an `int`

[2022-08-01 22:10] ahrtr commented on #14232
@endocrimes  any update on the Jepsen test on release-3.4?

[2022-08-01 22:12] ahrtr commented on #14294
It should the jq issue. Please execute `etcdctl get /foo -w json` (without `| jq `) and checkout the IDs.

[2022-08-01 22:39] ahrtr commented on #14256
Thanks @SimFG for the feedback. Let me take care of this issue.

[2022-08-02 04:54] hasethuraman commented on #14263
I tried to see if refreshing the first two pages (length = 2*4KB in my case) can help in tx.init(). It throws invalid arg. Everything looks good. Any other way I can try a fix locally to validate my theory?

Syscall6(SYS_REMAP_FILE_PAGES, ptr, uintptr(length), uintptr(syscall.PROT_READ), uintptr(0), uintptr(syscall.MAP_POPULATE|syscall.MAP_SHARED), 0)

[2022-08-02 06:45] ahrtr commented on #14256
This issue can happen on both `main` and `release-3.4`, and I believe `release-3.5` has this issue as well.

The root cause is the etcd just stops immediately before [(*readView) Range](https://github.com/etcd-io/etcd/blob/4f0e92d94ceacdd0af26e7268764a5bce7b0a3eb/server/storage/mvcc/kv_view.go#L38) is called, so the [tx](https://github.com/etcd-io/etcd/blob/4f0e92d94ceacdd0af26e7268764a5bce7b0a3eb

[2022-08-02 06:49] ahrtr commented on #14232
https://github.com/etcd-io/etcd/issues/14256 isn't a blocker any more, please see my comment https://github.com/etcd-io/etcd/issues/14256#issuecomment-1202083883

[2022-08-02 12:50] endocrimes commented on #14232
@ahrtr running them now :)

[2022-08-02 13:18] jordan-da commented on #14294
oh my gosh... i never knew `jq` did that, pardon me while my world crumbles around me

sorry for the static, closing issue 🤦

[2022-08-02 13:18] #14294 closed

[2022-08-02 15:15] endocrimes commented on #14143
I think I've managed to accidentally confirm the existence of this bug.

When starting to investigate I short circuited the `MustSync` method used as part of Raft transactions to always return true, with this, the issue became significantly harder to reproduce (managed to have 1 failure still over many runs).

This _somewhat_ implies that there is a path that is writing data and failing to fsync i

[2022-08-02 17:20] ramses commented on #14143
I was looking into paths to `MustSync`; but, it did not occurred to me to return `true`. Thanks for pruning the search space.

[2022-08-02 20:18] ahrtr commented on #8804
The metadata and hardState are ignored when migrating the WAL data, see [migrate_command.go#L157](https://github.com/etcd-io/etcd/blob/ee366151c6106a09cde3d32c744eb0e00aa1f993/etcdctl/ctlv3/command/migrate_command.go#L157)

The V2 API has already been deprecated for years,  and the `migrate` command has already been removed starting from release-3.5, so it seems that it doesn't make much sense to

[2022-08-02 20:21] ahrtr commented on #8804
@liggitt  Do you have any comments or concerns if we update 3.4 doc (_to list this as a known issue and add the workaround step_) and close this issue?

[2022-08-02 20:34] liggitt commented on #8804
v2 migration happened years ago, so I think it's safe to assume all migrated clusters have a .snap file at this point

[2022-08-02 20:59] ahrtr commented on #8804
Thanks for the feedback.

Please anyone feel free to update the 3.4 doc per my comment above https://github.com/etcd-io/etcd/issues/8804#issuecomment-1203173546, and remove [v2-migration](https://etcd.io/docs/v3.5/op-guide/v2-migration/) from `3.5 `and `main`.

Once a  PR is submitted for the doc, then we can close this ticket.

[2022-08-02 21:06] ahrtr commented on #14252
Things to check:
1. etcd has permission to access the WAL directory and files.
2. Whether there are any WAL files?

[2022-08-03 06:45] MIVerTFT commented on #14252
1. Yes, I specifically run etcd with administrator rights
2. Yes, there are other wall files in the data folder

[2022-08-03 07:24] kafuu-chino commented on #12385
The context on server side never change after stream created, so the token won't refresh, subsequent watches will fail after the token expires.

PerRPCCredentials only called once when the stream is created:
https://stackoverflow.com/questions/69551307/go-grpc-refresh-token-for-a-bidirectional-stream

1. We only get the token once when we create the stream.
2. Client is trying to reusing the same

[2022-08-03 08:11] likakuli opened #14303 "Should we restart client side when it's using watch and etcd restored with a snapshot?"
Is this a feature?

My client-side uses etcd client pkg to use its watch func. My problem is when client side is watching etcd, but etcd restored with a snapshot, what should client side to do. Restart client side or just keep running?

It seems that the client side doesn't receive any error about etcd restore and will keep running if we don't restart it manually. Thus may lost some event because

[2022-08-03 08:49] MIVerTFT commented on #14252
I wrote a very simple test.
1. Create file.
2. Put a lock on file.
3. Delete file.
4. Close process.

On windows 10, the file is deleted after step 3, but on windows server 2019 only after step 4, while there are no errors at step 3.
This explains the difference in behavior about which I wrote above. On windows server Etcd sends a command to delete files, but they remain until the lock is remove,

[2022-08-03 09:31] clarkfw opened #14305 "tests: add WaitLeader function to common framework"
### Background and Purpose

In the process of migrating tests to common framework(see #13637), I found there are many test cases depending on `WaitLeader` function, which blocks callers until all endpoints agree on the same leader.

Operations such as `member add` and `move-leader` would fail before all endpoints agree on the same leader. To test these operations properly, it is recommended that a

[2022-08-03 14:35] vivekpatani commented on #14232
Hi @ahrtr @lavacat @serathius found one last one that may need to be back ported? https://github.com/etcd-io/etcd/pull/13824 Please let me know if that is the case. Thanks.

[2022-08-03 18:07] hasethuraman commented on #14263
Can someone help me in with this below understanding?

- User calls etcdctl put key value
- etcd server first writes to WAL
- then get consensus through RAFT
- RAFT is in progress
- at this point - physical machine restarts and assuming that raft changes were about to flush to permanent storage
- after the server restart, will the entry in WAL be replayed and data loss is avoided?

[2022-08-03 22:26] ahrtr commented on #14263
FYI.  https://github.com/ahrtr/etcd-issues/blob/master/docs/cncf_storage_tag_etcd.md

@hasethuraman Have you tried this? What's the test result?

[2022-08-03 23:03] ahrtr commented on #14232
Thanks @vivekpatani .

etcd 3.5.4 (and main) is using [DialContext](https://github.com/etcd-io/etcd/blob/v3.5.4/client/pkg/transport/transport.go#L35), while etcd 3.4.19 (and release-3.4 latest code) is using [Dial](https://github.com/etcd-io/etcd/blob/v3.4.19/pkg/transport/transport.go#L34). So release-3.4 doesn't have the issue https://github.com/etcd-io/etcd/issues/13810.

I agree `DialContext`

[2022-08-04 03:16] hasethuraman commented on #14263
Thank you @ahrtr for sharing. I think that confirms.

I am planning to close the issue because WAL cover up the main reason (data loss) for me to disable the cache. I will wait for a week and close. Please let me know if any one think that I need to keep this open.

Its the same

[2022-08-04 03:53] cleverlzc commented on #12569
same issue, tricky...

[2022-08-04 06:04] ahrtr commented on #14263
Please provide the log and panic call stack for 3.5.4.

[2022-08-04 08:51] ahrtr commented on #14263
I tried to setup a CIFS on a linux server, but failed somehow:-(.  I am not sure if it's possible for someone share a CIFS share for me to debug this.

Previously based on the discussion in https://github.com/etcd-io/etcd/issues/9670, CIFS doesn't support `sync`. Not sure whether it's still the case.  Would love to double confirm it if possible.

[2022-08-04 11:42] songdechao opened #14309 "etcd log param to set error"
### What happened?

etcd --log-rotation-config-json={"maxsize": 100, "maxage": 7, "maxbackups": 7, "localtime": false, "compress": true}
{"level":"info","ts":1659613158.4970117,"caller":"etcdmain/etcd.go:72","msg":"Running: ","args":["etcd","--log-rotation-config-json={maxsize:","100,","maxage:","7,","maxbackups:","7,","localtime:","false,","compress:","true}"]}
{"level":"warn","ts":1659613158.497

[2022-08-04 11:43] mrnonz commented on #8380
Anyone has interim solution for `etcdctl move-leader` without waiting upgrade version?

[2022-08-04 11:58] mrnonz commented on #8380
I founded interim solution is unset all ENV variable first and run by hand
[code]

[2022-08-04 15:00] VinozzZ commented on #13814
Hi there, I would like to pick up this issue

[2022-08-04 18:18] dashpole opened #14310 "[v3.5] Change the default sampling rate from 100% to 0%"
Part of https://github.com/etcd-io/etcd/issues/12460.

Etcd, especially in a kubernetes cluster, handles very high QPS. In the initial version (https://github.com/etcd-io/etcd/pull/12919) of OpenTelemetry tracing, it did not set a sampler, which causes the sampling rate to default to sampling every request.  This makes tracing virtually unusable on etcd 3.5.

When a sampler was [added](https://git

[2022-08-04 18:29] dashpole opened #14311 "[v3.5] Update OpenTelemetry to v1.0+"
Part of https://github.com/etcd-io/etcd/issues/12460.

Given the release delays for v3.6, I'd like to propose updating the OpenTelemetry version used in etcd release-3.5 to v1.0+.  A quick `go get -u` shows that it would also require updating `github.com/stretchr/testify` from `v1.7.0` to `v1.7.1`.  That would help unblock using 1.0+ in kubernetes, which would unblock users that have a dependency

[2022-08-04 21:20] ahrtr commented on #13814
Thanks @VinozzZ ,  please feel free to deliver a PR for this.

[2022-08-04 21:44] ahrtr commented on #14311
It's already in my to do list. Will get it resolved.

[2022-08-04 22:09] ahrtr commented on #14311
cc @spzala @nikhita

[2022-08-05 07:23] jbml commented on #14309
Hi @songdechao,

Can you try encapsulating your json-formatted log-rotation-config-json parameter, with single quotes ?

Without quotes:

[code]

With quotes:

[code]

[2022-08-05 07:23] luomengY opened #14314 "When I killed my java etcd program, I found that etcd would stop working and report the following error. What is the reason for this?"
### What happened?

{"level":"warn","ts":"2022-08-05T14:20:13.984+0800","caller":"v3rpc/interceptor.go:197","msg":"request stats","start time":"2022-08-05T14:20:10.778+0800","time spent":"3.20534961s","remote":"10.3.71.106:49706","response type":"/v3lockpb.Lock/Lock","request count":-1,"request size":-1,"response count":-1,"response size":-1,"request content":""}}

{"level":"fatal","ts":"2022-08-0

[2022-08-05 09:08] QianChenglong opened #14315 "--insecure-skip-tls-verify not working when not specify --cert-path and --key-path"
### What happened?

{"level":"warn","ts":"2022-08-05T17:03:45.225+0800","logger":"etcd-client","caller":"v3/retry_interceptor.go:64","msg":"retrying of unary invoker failed","target":"etcd-endpoints://0x1400047c000/127.0.0.1:2379","method":"/etcdserverpb.Cluster/MemberList","attempt":0,"error":"rpc error: code = DeadlineExceeded desc = latest balancer error: last connection error: connection error

[2022-08-05 12:29] jbml commented on #14314
Hi @luomengY,

I would suggest you provide additional details in order to facilitate the investigation of this issue. In particular, anybody who would like to look into this problem, would probably need to try and replicate it first.

Would you be able to share some more information about the program you run on the client side please ? A minimalistic java program which replicates the issue would b

[2022-08-05 14:28] damemi commented on #14310
Willing to work on this if no one else is already

[2022-08-05 21:20] ahrtr commented on #14232
Talked to @endocrimes , no any new issue found during the Jepsen test. Will release 3.4.20 soon.

[2022-08-05 22:02] ahrtr commented on #14232
3.4.20 is just released, https://github.com/etcd-io/etcd/releases/tag/v3.4.20 .

Thanks everyone in the CC list. It's really the result of great team work!

Thanks again !!!

[2022-08-05 22:03] #14232 closed

[2022-08-06 07:12] luomengY commented on #14314
Indeed my java client program is on the same server as etcd. My program is as follows:

import io.etcd.jetcd.ByteSequence;
import io.etcd.jetcd.Client;
import io.etcd.jetcd.Lease;
import io.etcd.jetcd.Lock;
import io.etcd.jetcd.lease.LeaseKeepAliveResponse;
import io.grpc.stub.StreamObserver;
import org.junit.Before;
import org.junit.Test;

import java.nio.charset.StandardCharsets;
import java.uti

[2022-08-06 10:24] dc7303 opened #14321 "Error "listen tcp 127.0.0.1:2380: bind: address already in use" when running ETCD container"
### What happened?

I tried to use the ETCD container on an arm MacBook, but I'm having the same problem as issue #14209. (listen tcp 127.0.0.1:2380: bind: address already in use)
In my case, the same issue occurs even after rebooting the computer. Instead, restart the container and it will run normally.

### What did you expect to happen?

The container was expected to run normally.

### How can

[2022-08-07 10:58] serathius commented on #13606
@spzala @ahrtr I would vote for removing `latest` tag as it's a known anti-pattern. Using latest could lead users to have unexpected minor version upgrade. Alternative would be to have a docker tag per each release branch, but I would still think that we should steer administrators to  explicit rather than implicit versioning.

[2022-08-07 11:02] serathius commented on #13990
Required to graduate the distributed tracing.

[2022-08-07 11:12] serathius commented on #14310
closed by https://github.com/etcd-io/etcd/pull/14318

[2022-08-07 11:12] #14310 closed

[2022-08-07 14:08] mitake commented on #12385
Thanks for commenting @kafuu-chino , actually I think `Create new watch stream when the token expired.` is a better way.

[2022-08-07 14:09] mitake commented on #12385
@jwebb @sayap @kafuu-chino I opened this PR: https://github.com/etcd-io/etcd/pull/14322 I checked the above test case can pass now. Could you cross check if you have time?

[2022-08-07 14:13] mitake commented on #12385
@kafuu-chino I'll also check your PR https://github.com/etcd-io/etcd/pull/14296 later, thanks for opening this!

[2022-08-07 15:13] luomengY commented on #14314
Please help me take a look at this problem.

[2022-08-08 02:24] jbml commented on #14314
I will try to replicate this issue on my side, @luomengY

Just to be sure I understand what's happening in your scenario, can you confirm that you:

1. start an etcd server on a single node (with which parameters ?)
2. run the junit test cases above, which will execute lockTest1toMaster; this will create a lock in etcd with no expiration and then sleep
3. while lockTest1toMaster is sleeping, kill

[2022-08-08 03:13] luomengY commented on #14314
1.this is how I start: ./etcd --config-file etcd.conf.yml
my etcd.conf.yml:
name: hbp104
--------------------------------------------------------------------------------------
data-dir: /usr/lib/cloudmanager/components/lark/data/etcd
listen-client-urls: http://10.3.71.104:4379
advertise-client-urls: http://10.3.71.104:4379
listen-peer-urls: http://10.3.71.104:4380
initial-advertise-peer-urls: http

[2022-08-08 03:14] cleverlzc commented on #12569
Multiple third-party libraries depend on etcd and are of different versions. If different etcd versions are incompatible(for exmaple, v3.4.9 and v3.5.3/4), a conflict occurs and an error is reported. To solve this problem, upgrade the upper-layer third-party libraries to synchronize etcd versions.

[2022-08-08 03:15] luomengY commented on #14314
1.this is how I start: ./etcd --config-file etcd.conf.yml
my etcd.conf.yml:

--------------------------------------------------------------------------------------------------
name: hbp104
data-dir: /usr/lib/cloudmanager/components/lark/data/etcd
listen-client-urls: http://10.3.71.104:4379/
advertise-client-urls: http://10.3.71.104:4379/
listen-peer-urls: http://10.3.71.104:4380/
initial-advertise

[2022-08-08 03:19] kafuu-chino commented on #12385
@mitake ok, I will check PR: https://github.com/etcd-io/etcd/pull/14322 later.

[2022-08-08 03:21] luomengY commented on #14314
1.this is how I start: ./etcd --config-file etcd.conf.yml
my etcd.conf.yml as follow:
-----------------------------------------------------------------------------------------------------------------
name: hbp104
data-dir: /usr/lib/cloudmanager/components/lark/data/etcd
listen-client-urls: http://10.3.71.104:4379
advertise-client-urls: http://10.3.71.104:4379
listen-peer-urls: http://10.3.71.104:4

[2022-08-08 06:56] luomengY commented on #14314
I did another experiment. When my java client runs on a server outside the etcd cluster, this problem does not occur. When the java client and etcd are on the same server, is there any special attention?

[2022-08-08 08:44] happlins opened #14323 "Etcd v3 api: Initialization client error"
### What happened?

etcd client v3:  v3.5.4

I get an error when I initialize the client.

When I change `RejectOldCluster` to false everything works fine.
[code]

[code]

There is a problem at line 512 of `client.go` where it should not break when there are no err.
If other goroutines are slow, context canceled will occur.
But this problem does not affect normal use.
![image](https://user-images.

[2022-08-08 20:43] ahrtr commented on #14252
The file being deleting after step 4 is expected behavior on Linux as well. I suspect the issue is caused by [TryLockFile](https://github.com/etcd-io/etcd/blob/eea4c10d2f1551ed0632f882210a4c410f24d54b/client/pkg/fileutil/purge.go#L64). It actually failed to lock the file, but the [lockFile](https://github.com/etcd-io/etcd/blob/eea4c10d2f1551ed0632f882210a4c410f24d54b/client/pkg/fileutil/lock_windo

[2022-08-08 21:06] #14234 closed

[2022-08-09 01:45] luomengY commented on #14314
And I found that when my java client program is on the same server as etcd, every time I stop and restart the java client, it will report an error: "range failed to find revision pair".

[2022-08-09 01:51] vivekpatani commented on #14232
Thanks for doing this.

[etcd-3.5 latest release](https://github.com/etcd-io/etcd/blob/9e95685d0a6ddc4c2cedb726480d7547fdb4c7e8/client/pkg/transport/tls.go#L37) is not using `DialContext` or am I missing something?

[2022-08-09 02:06] ahrtr commented on #14232
@vivekpatani  The reason is the PR https://github.com/etcd-io/etcd/pull/13824 has been cherry picked to release-3.5 yet. Please feel free to deliver a PR for that. thx

[2022-08-09 02:34] QianChenglong commented on #14315
fixed in https://github.com/etcd-io/etcd/pull/14317

[2022-08-09 02:34] #14315 closed

[2022-08-09 07:33] jbml commented on #14314
I have not been able to replicate this issue on my side.

Here are the steps I followed:
 - start an etcd server on a linux box with one node, using release 3.5
 - start lockTest1toMaster: the logs show that this one has the lock
 - start lockTest2toStandby: the logs show that this one is waiting for the lock
 - start lockTest3toStandby: the logs show that this one is waiting for the lock

Then I

[2022-08-09 10:45] illeatmyhat opened #14324 "Bad Certificates should be explained, not just stated."
### What happened?

I previously set up a 3-node cluster using bi-directional TLS, which was working before
Clients attempting to call etcd using a previously working certificate now fails with:
[code]

### What did you expect to happen?

I expected the logs to explain why the certificate was bad instead of stonewalling me

### How can we reproduce it (as minimally and precisely as possible)?

Cre

[2022-08-09 11:04] illeatmyhat commented on #14324
It turns out that the CA certificate was expired, although that isn't relevant to the issue, which is that the logs should be explaining this.

[2022-08-09 13:11] stek29 commented on #14234
@ahrtr @serathius is there any chance to get this in next 3.5.x release?
I'm not familiar with etcd release process and backporting, and I haven't been able to find any docs on it.

[2022-08-09 14:23] justinhellreich-stripe opened #14325 "Periodic corruption check doesn’t do anything after compaction"
### What happened?

After turning on `--experimental-corrupt-check-time`, I’ve noticed that any time there has been a compaction and no recent write to etcd, the corruption check fails to actually run.

The output on the leader is
[code]

Looking at a follower, we see the requested revision has been compacted

[code]

I then wrote a key to etcd and observed the corruption check working correctly o

[2022-08-09 14:40] luomengY commented on #14314
Is your client java program and etcd on the same server? This error occurs when etcd and the client program are running on the same server.

[2022-08-09 21:18] ahrtr commented on #14234
@stek29  FYI. https://github.com/etcd-io/etcd/blob/main/Documentation/contributor-guide/release.md#patch-version-release

Usually we only cherry pick bug fixes and security patches. So normally we shouldn't backport the PR https://github.com/etcd-io/etcd/pull/14276 to 3.5.

[2022-08-10 02:21] jbml commented on #14314
Yes, this was all on the same server.

[2022-08-10 03:11] luomengY commented on #14314
ok, I have found the reason, due to the inconsistency of the metadata of my etcd after starting and stopping.

[2022-08-10 04:45] hasethuraman commented on #14263
@ahrtr I dont see any difference in call stack. Atleast with the CIFS (cache=strict) I tried, I dont see any error related to sync.

![image](https://user-images.githubusercontent.com/10446093/183817585-ebb1245b-55b8-4210-8abe-11523198f121.png)

[2022-08-10 06:06] jbml commented on #14314
Do you mind explaining a bit more your findings @luomengY please, so that people facing the same error get some clues about it  ?

Is there anything to investigate in regards to the metadata inconsistency you found ?

[2022-08-10 06:18] jbml commented on #14325
Are you looking into it @justinhellreich-stripe ?
Otherwise I will try and investigate the issue.

[2022-08-10 14:01] justinhellreich-stripe commented on #14325
Hey @jbml -- i've done some digging and found that the leader is essentially just getting the latest revision, and then getting the hash key at that revision for each peer https://git.corp.stripe.com/stripe-internal/gocode/blob/fb2be906edbbfcf0f732b0d69431059d129a5ea1/vendor/go.etcd.io/etcd/server/v3/etcdserver/corrupt.go#L154

It's a surprise to me that after compaction, the latest revision is no

[2022-08-10 19:10] mencutekin opened #14329 "etcd 3.5 db_size problem"
### What happened?

I have 3-node etcd cluster version 3.5.2. I noticed a sitituation that endpoint's db_size is constantly growing. I have to perform compaction and defrag manually so that the db_size value cannot reach to limitation. I have not faced any similar problem in 3.2 version.

+--------------------+------------------+---------+---------+-----------+------------+-----------+------------

[2022-08-10 23:59] ahrtr opened #14332 "[test] TestOpenWithMaxIndex failure"
Raised on the latest code on `main` branch.

[code]

Refer to https://github.com/etcd-io/etcd/runs/7777195247?check_suite_focus=true

[2022-08-11 00:05] ahrtr opened #14333 "[test] TestBalancerUnderNetworkPartitionDelete failure"
Raised on the latest code on `main` branch.

[code]

Refer to https://github.com/etcd-io/etcd/runs/7777195728?check_suite_focus=true

[2022-08-11 03:34] cleverlzc commented on #12569
another solution：
[code]

for old etcd，grpc icompatible， for lastest etcd，grpc compatible（clientv3 not equeal client/v3）

[2022-08-11 08:51] ahrtr commented on #14311
Fixed by https://github.com/etcd-io/etcd/pull/14312

[2022-08-11 08:51] #14311 closed

[2022-08-11 10:32] rafi commented on #14321
This seems to be an issue with https://github.com/bitnami/containers/tree/main/bitnami/etcd

[2022-08-11 14:29] lzakharov opened #14337 "Unable to use client with Web Assembly"
### What happened?

I get an error when building WASM application with the etcd client.

### How can we reproduce it (as minimally and precisely as possible)?

[code]

Build with:

[code]

Got error:

[code]

Everything okay when I build program for unix/windows platforms.

### What did you expect to happen?

No error output.

[2022-08-12 00:59] chaochn47 opened #14338 "Removed etcd member failed to stop on stuck disk"
### What happened?

etcd failed to stop and stuck in stopping state after it was removed from membership. It went unresponsive for any requests sent to it.

### What did you expect to happen?

I expect etcd can graceful terminate itself.

### How can we reproduce it (as minimally and precisely as possible)?

It was observed in an availability zone outage. The reproduce can be like the following
1.

[2022-08-12 01:05] chaochn47 commented on #14338
from reading the code, it seems etcd server was stuck in

https://github.com/etcd-io/etcd/blob/72d3e382e73c1a2a4781f884fb64792af3242f22/etcdserver/server.go#L1020-L1025

It was stuck there because v2 health check handler returned `etcdserver: server stopped` [here](https://github.com/etcd-io/etcd/blob/v3.4.18/etcdserver/v2_server.go#L92-L119) and it was the reason of `close(s.stopping)

Much appre

[2022-08-12 06:46] jiaxinyang1 opened #14339 "etcd server Immediately get a timeout error after publish server"
### What happened?

etcd occasionally fails to start after a node is powered off。I get an error like this。

[code]
I looked at the source code  and added the log hoping to track down the issue
I added a line of log in the publish function  ``etcd/etcdserver/server.go``
![etcd1](https://user-images.githubusercontent.com/22905012/184296736-7724bae8-2236-4032-afba-b0ef5c5ee039.png)
and I added a line

[2022-08-12 07:26] jbml commented on #14325
Thanks, I will take a look @justinhellreich-stripe

[2022-08-12 17:53] lavacat commented on #14257
still looking at this issue. Quick update. There are couple separate investigations:

1. Two runs failed due to
{"level":"warn","ts":1658383863.827886,"caller":"tester/cluster_run.go:50","msg":"round FAIL","round":0,"case":2,"case-total":22,"error":"injection error: cluster too slow: only 1961 commits in 6 retries"}
[836](https://github.com/etcd-io/etcd/runs/7443519017?check_suite_focus=true#step:

[2022-08-12 21:31] rcrowe commented on #14268
Looks like https://github.com/etcd-io/etcd/issues/14311 has resolved this issue?

[2022-08-12 22:04] Petejoslin opened #14343 "I still need help"
Please help me get rid of my hackers

[2022-08-12 23:52] zmt commented on #14138
We are keenly interested in the open telemetry fix recently merged to the 3.5 release branch: https://github.com/etcd-io/etcd/pull/14312. Is there an ETA for 3.5.5 yet?

[2022-08-13 11:52] luomengY commented on #14314
The problem I encountered is because our platform has a master-slave switchover, and there is a master-slave synchronization data directory. We also put the etcd data in this directory, which is equivalent to manually synchronizing the data, resulting in once the master-slave switchover , which may cause changes to the primary and secondary metadata.

[2022-08-13 13:17] jbml commented on #14314
Thanks for the update @luomengY

I can indeed see how this issue is related to your particular setup, and not etcd itself.
I would suggest we close this issue then, as no further action is required.

[2022-08-13 21:42] #14110 closed

[2022-08-14 02:52] luomengY commented on #14314
ok

---Original---
From: "Jeremy ***@***.***&gt;
Date: Sat, Aug 13, 2022 21:17 PM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [etcd-io/etcd] When I killed my java etcd program, I found thatetcd would stop working and report the following error. What is the reason forthis? (Issue #14314)

Thanks for the update @luomengY

I can indeed see how this issue is related to your parti

[2022-08-15 06:57] chaochn47 commented on #14338
Okay. I get a repro working by injecting sleeping at raftAfterSave followed by member removal.

The fifo scheduler stop is the culprit and getting stuck https://github.com/etcd-io/etcd/blob/72d3e382e73c1a2a4781f884fb64792af3242f22/pkg/schedule/schedule.go#L119-L125

[2022-08-15 21:08] chaochn47 commented on #14338
The raft loop was stuck in the middle and apply routine is waiting for it.

https://github.com/etcd-io/etcd/blob/72d3e382e73c1a2a4781f884fb64792af3242f22/etcdserver/server.go#L1119-L1122

I think the proper fix should be cancelling this apply successfully in the shutdown scenario even if disk write was stuck. Right now, the context is ignored.

https://github.com/etcd-io/etcd/blob/72d3e382e73c1a2a

[2022-08-15 21:14] tc1148 opened #14350 "Checksum mismatch on github.com/coreos/go-systemd/v22@v22.3.2"
I cannot download, install or even run "go mod tidy" when I include "go.etcd.io/etcd/client/v3" in my go application. The application previously was fine, but I need the Go etcd client. The recommended "go get go.etcd.io/etcd/client/v3@latest" produces the same result. I did a "go clean -modcache" and "rm go.sum" but continue to get the security error no matter what I do. Here is the output I get:

[2022-08-15 22:17] ahrtr commented on #14338
Just a quick question before I have a deep dive, can you reproduce this on release-3.5 or main?

[2022-08-15 22:25] chaochn47 commented on #14338
I think I can but I haven't yet tried this. Will report in a few mins with the reproduce script shared.

[2022-08-16 00:16] chaochn47 commented on #14338
Here is one for v3.5.4 [reproduce-3.5.txt](https://github.com/etcd-io/etcd/files/9343865/reproduce-3.5.txt)

Some side effect I observed.

2 leaders at a time!

[code]

[2022-08-16 07:02] hasethuraman opened #14352 "3.4.15 etcd fails to come up after it restarts due to OOM"
### What happened?

Pod restarted due to OOM (due to repeated keys read) but it couldnt come up due the below error in the first restart. And as it kept restarted, it hit error#2 and then error#3
Content of the data folder
![image](https://user-images.githubusercontent.com/10446093/184816782-2168c6c7-90f4-4f87-9c6e-9398e0b05517.png)

Error#1
 etcdserver: another etcd process is using "/bitnami/etc

[2022-08-16 07:36] xiaods commented on #14343
welcome pr

[2022-08-16 16:34] tc1148 commented on #14350
FYI, we finally solved this **but it took 2 senior SW engineers 2 days!!** This is pretty ridiculous that this is not better identified and published in github! We finally added the following to our go.mod file:

replace github.com/coreos/go-systemd/v22 **v22.3.2** => github.com/coreos/go-systemd/v22 v22.0.0

None of the published responses to this issue in github supplied this specific line, many

[2022-08-16 17:02] EmilyM1 commented on #14324
/assign

[2022-08-16 22:54] vivekpatani opened #14355 "server/auth: users/authentication loss after member restart"
### What happened?

1. Start a fresh 3.5 cluster
2. Enable auth
3. Create a key and watch
4. Restart the 3.5 cluster

Run into issue.

### What did you expect to happen?

User/Auth to work seamlessly/without issues.

### How can we reproduce it (as minimally and precisely as possible)?

Setup

Docker etcd server

Docker etcd client

Shutdown the Docker etcd server by pressing Ctrl + C and typing e

[2022-08-17 01:13] vivekpatani commented on #14355
IMO this is a critical issue, much more so than I initially thought it to be. @ahrtr @mitake @serathius

Actually I stand corrected, this issue will break ANY combination of `watches + auth`. An easier way to reproduce this is:
1. Checkout this https://github.com/etcd-io/etcd/commit/9d7e10863e56c9f27fbc8542309410cfce3a9d97
2. Then startup etcd
3. Use a client and follow: https://etcd.io/docs/v3.5/

[2022-08-17 01:16] vivekpatani commented on #14355
I'm trying to work on a fix, just wanted to bring this to your/communities attention. Thanks.

[2022-08-17 09:23] MIVerTFT commented on #14252
Yes, that's right, `TryLockFile` cannot lock the file, but the `lockFile` method returns `nil` due to an incorrect condition, well, as it is written [here](https://github.com/etcd-io/etcd/pull/14293#discussion_r935165242).

[2022-08-17 11:36] der-eismann commented on #12913
Not sure if this is the right place to ask, but when starting the logs say
[code]

But I couldn't find how to do that. I removed all keys from the v2 store, but apparently there is still something stored in it. How do I remove all v2 content?

[2022-08-17 18:51] vivekpatani commented on #14138
https://github.com/etcd-io/etcd/issues/14355 - this should be fixed before going for 3.5.5 @serathius @spzala @ahrtr

[2022-08-17 21:10] ahrtr commented on #14355
Thanks @vivekpatani reporting this.

Confirmed that I can reproduce this even on `main`, and it has nothing to do with watch. The reproduce steps are pretty simple,
1. Start etcd server;
2. enable auth per guide https://etcd.io/docs/v3.5/op-guide/authentication/authentication/ ;
3. Restart etcd server;
4. Execute command `etcdctl --user=user0:user0 get foo`, then you will get error something like

[2022-08-17 21:18] ahrtr commented on #14355
I just checked the source code, and it seems that etcd doesn't load the permission at all on startup. Instead, it just load on receiving new auth requests, i.e. authEnable/Disable, adding/Deleting users/roles etc..

It should be a minor fix although it's a major issue.

[2022-08-17 21:20] vivekpatani commented on #14355
Thanks for confirming and the insight.

@ahrtr can you point me to the code you're looking at?

Do you want me to work on this or would you like to take this up? Just want to make sure we're not duplicating work.

[2022-08-17 21:22] ahrtr commented on #14355
@vivekpatani  you just need to call [refreshRangePermCache](https://github.com/etcd-io/etcd/blob/ff6b85da834e8e3acb2627895294a65548632fe1/server/auth/range_perm_cache.go#L127) on etcd startup.

Please feel free to deliver a PR for this.

[2022-08-17 21:23] vivekpatani commented on #14355
Thanks @ahrtr will do!

[2022-08-17 21:25] ahrtr commented on #14138
Thanks @vivekpatani . Yes, the fix should be included in 3.5.5, and it should a minor fix. Refer to https://github.com/etcd-io/etcd/issues/14355#issuecomment-1218493754 and https://github.com/etcd-io/etcd/issues/14355#issuecomment-1218500110

The good news the bug isn't included in any published 3.5 release yet.  The bad news it's already include din 3.4.20.  So we need to backport the fix to 3.4

[2022-08-17 21:33] xrl commented on #14252
I am seeing this issue as well, 3.5.4 on linux/kubernetes using the official images. We are shipping our etcd using the bitnami helm chart.

[2022-08-17 21:35] ltagliamonte-dd commented on #12164
looking for rate-limiting feature in ETCD and I ended up on this...
@gyuho I understand the will to keep the project as simple as possible to maintain and to use, however in todays deployment scenarios have built-in rate-limit is not just a feature for the clients but it a self-protective mechanism that all systems should have.
Adding a proxy in front of ETCD just for this reliability features see

[2022-08-17 21:41] vivekpatani commented on #12164
@ltagliamonte-dd we've been using a Rate Limiter in prod for a while now, and it's been a great tool to defend the cluster against a swath of traffic that the cluster may not be able to handle. What kind of traffic are you looking to Rate Limit?

[2022-08-17 21:45] ltagliamonte-dd commented on #12164
i'm looking into using etcd for distributing configuration to all my apps, however i wanna make sure i'm able to support herds scenarios, where a hot (in terms of # watchers) key update doesn't compromise the reliability of the system.

[2022-08-17 21:59] vivekpatani commented on #12164
Thanks for your response @ltagliamonte-dd

I see, so currently the Rate Limiter design above:
- blocks a set of keys that are expensive in nature (in terms of size) for a single/multiple type of request (RANGE/PUT/DELETE/etc), for example: requesting a list of pods from an extremely large kube cluster could potentially bring your cluster down, block that if it exceeded 100 requests like these/minu

[2022-08-17 22:10] ltagliamonte-dd commented on #12164
@vivekpatani thank you for the answer, did you fork or did you add a proxy in front of etcd?

[2022-08-17 22:42] vivekpatani commented on #12164
@ltagliamonte-dd Fork, we've maintained a patch, that we apply on top of etcd, since we couldn't merge it with upstream.

[2022-08-17 23:49] mitake commented on #14355
So sorry for missing such a large issue… thanks for reporting @vivekpatani
I’ll consider how to prevent such an issue in future, like enhancing test cases for restarting…

[2022-08-18 02:42] ahrtr commented on #14352
Looks like the previous etcd wasn't terminated when the new one was running, so it (the new one) can't open the backend db file because only one instance can open it.

[2022-08-18 02:53] ahrtr commented on #14350
I do not reproduce this issue with steps below,
1. Create a simple golang program below,
[code]
2. `go mod init example.com/demo`
3. `go mod tidy`

Everything is working well, and the generated go.mod file is below.  Please provide a detailed steps on how to reproduce your issue.

[code]

[2022-08-18 02:55] #14343 closed

[2022-08-18 02:56] ahrtr commented on #14339
It looks like a network communication issue between members. Please try to reproduce this issue on main or 3.5, and also provide detailed test steps if possible.

[2022-08-18 04:03] #14305 closed

[2022-08-18 04:53] vivekpatani commented on #14355
@mitake do not worry, it was caught before we cut a release, testing this was also difficult because we needed to restart to catch this.

@ahrtr @mitake https://github.com/etcd-io/etcd/pull/14358, please feedback if this is adequate.

[2022-08-18 04:53] vivekpatani commented on #14355
Once approved, will also backport to 3.4/3.5. Thanks.

[2022-08-18 05:44] ahrtr commented on #14338
It might not be safe to forcibly terminate the applying workflow.

The most feasible solution for now is to print log repeatedly at [server.go#L930](https://github.com/etcd-io/etcd/blob/27ffd7e1cfd97e2588fdff1ac817896653667324/server/etcdserver/server.go#L930) and [server.go#L978](https://github.com/etcd-io/etcd/blob/27ffd7e1cfd97e2588fdff1ac817896653667324/server/etcdserver/server.go#L978) so as

[2022-08-18 06:39] ahrtr commented on #14329
This isn't an issue of etcd, instead it should be caused by the client side. You need to figure out what data the client is writing.

Is the etcd  cluster running as the backend of apiserver?

[2022-08-18 07:36] rensx5514 commented on #13506
bump again

[2022-08-18 13:51] mitake commented on #14355
@vivekpatani yeah, but I should prepare some mechanisms like e2e testing for preventing similar issue in future…

[2022-08-18 17:58] mencutekin commented on #14329
How can I figure out what data is written?
I am using etcd cluster for patroni management (postgresql database cluster)

[2022-08-18 22:19] ahrtr commented on #14329
Please try to get some clues from the client side. You can also use [etcd-dump-db](https://github.com/etcd-io/etcd/tree/main/tools/etcd-dump-db) to dump all the data.

[2022-08-19 06:18] Uzay-G commented on #10872
I am encountering this issue now. How did you fix it?

[2022-08-19 06:53] Uzay-G opened #14362 "etcd memory usage spikes to unsustainable levels and OOMs"
### What happened?

Whenever I run my etcd container, its memory usage slowly goes up to meet the docker limit on my machine (~7.6 GB) and then it OOMs. I've investigated and believe this is because it has created a large amount of wal files, above the limit (5), and when it has to process these it breaks down.

I've attached etcd docker logs.

[etcdlogs.txt](https://github.com/etcd-io/etcd/files/

[2022-08-19 08:36] hasethuraman commented on #14352
No there is no another process running and the last error is also different.

[2022-08-19 10:00] hasethuraman opened #14364 "[Help Wanted] Possibility of data loss when server restarts immediately after key-value put with explained conditions"
I observed the possibility of data loss and I would like the community to comment / correct me otherwise.

Before explaining that, I would like to explain the happy path when user does a PUT <key, value>. I have tried to only necessary steps to focus this issue. And considered a single etcd instance.

====================================================================================
----------ap

[2022-08-19 11:56] ahrtr commented on #14364
Please provide the following info:
1. What's the etcd version?
2. Run `etcdctl endpoint status -w json --cluster`
3. The detailed steps to reproduce the issue if possible.

[2022-08-19 13:34] yahaa opened #14365 "[Help Wanted] Is it possible to rollback etcd database via *.snap or *.wal files?"
Hi,
In our production k8s cluster, we accidentally deleted some very important CRDs and  don't take a snapshot by `etcdctl snapshot save` command, so I would like to ask, is it possible to rollback the etcd database to a certain point in time through the .snap or .wal files in the etcd data directory? Such as following picture, is it possible to rollback etcd database via `Aug 18 17:48 00000000000

[2022-08-19 13:47] yahaa commented on #14365
[code]

[2022-08-19 22:20] ahrtr commented on #14338
Please note that the `etcdctl endpoint status ` isn't an atomic operation, and it gets all members status one by one. If there is a lead changing in-between, then you may get two leaders in the end. So it could be expected behavior. But you should can only see this with very low possibility, and it should be a temporary "issue".

[2022-08-22 00:47] ahrtr commented on #14362
The OOM is a known issue, the workaroud AFAIK are:
1. perform compaction & defragmentation to reclaim the db file space;
2. avoid big range operation on the client side.

With respect to the WAL files, it looks like an issue because the max WAL file is 5, but there are lots of WAL files. It means that the old WAL files failed to be purged. I checked the log file you attached, but did not see anyth

[2022-08-22 00:56] ahrtr commented on #14365
In theory, it's doable, but there isn't such a tool so far. It isn't guaranteed either; if the history data has already been compacted, then there is no way to restore it.

The best choice for now is to recreate the resource from the client side.

[2022-08-22 01:08] ahrtr commented on #14352
Please try to reproduce this issue on `main` or `release-3.5`, thx

[2022-08-22 01:12] ahrtr commented on #14337
AFAIK, We never tried the etcd client on `GOARCH=wasm GOOS=js` before. It isn't supported for now.

[2022-08-22 01:31] ahrtr commented on #14323
Thanks @happlins for raising this issue. It looks like a real issue to me. The loop you pointed out should only `break` when `err != nil`. It means there is no need to wait for the result of other endpoints, because it will return an error anyway.

Please feel free to deliver a PR for this.

[2022-08-22 01:36] ahrtr commented on #14321
I have the same feeling as  @rafi , this shouldn't be an issue of etcd, you need to make sure there is no port conflict.

[2022-08-22 01:36] #14321 closed

[2022-08-22 01:38] ahrtr commented on #14314
Close this issue per the discussion

[2022-08-22 01:38] #14314 closed

[2022-08-22 01:40] ahrtr commented on #14309
Thanks @jbml for the clarification.

[2022-08-22 01:40] #14309 closed

[2022-08-22 01:58] ahrtr commented on #14303
This will never happen, otherwise it's an issue. A follower will not receive a snapshot with older index or revision.

[2022-08-22 02:02] ahrtr commented on #14268
Yes, this issue has already been resolved in release-3.5, and it will be included in 3.5.5. The workaround for now (before the release of 3.5.5) would be using replace directive just as @rcrowe pointed out.

[2022-08-22 02:02] #14268 closed

[2022-08-22 02:04] ahrtr commented on #14267
There is no plan for this enhancement, I suggest to close this ticket for now. WDYT? cc  @serathius @spzala @ptabor

[2022-08-22 02:42] yahaa commented on #14365
Thanks

[2022-08-22 06:34] hasethuraman commented on #14364
@ahrtr
(1)
It is applicable to both 3.4 and 3.5
(2)
Nothing specific to any runtime status but from code walk through

(3)
This is from my self code walkthrough to explain that there is a possibility of data loss with the explained conditions. I will send the code diff to simulate the data loss if that is the ask. Though I am missing something - so reached out here to confirm.

[2022-08-22 08:28] ahrtr commented on #14364
The workflow may not be correct. Refer to https://github.com/ahrtr/etcd-issues/blob/master/docs/cncf_storage_tag_etcd.md

Please open a new issue if you could reproduce the issue in your test environment.

[2022-08-22 08:28] #14364 closed

[2022-08-22 08:29] ahrtr commented on #14365
Please feel free to raise new issue if you have any new queries/questions.

[2022-08-22 08:29] #14365 closed

[2022-08-22 08:56] serathius commented on #14045
At the current state etcd is not able to reliably prevent and reproduce data inconsistency issues which become a common occurrence. v3.5 release was totally broken due to [#13514](https://github.com/etcd-io/etcd/issues/13514), [#13766](https://github.com/etcd-io/etcd/issues/13766) and required a official announcement and direct user action to prevent disaster for etcd users. Since then we got anot

[2022-08-22 13:03] BlueBlue-Lee opened #14369 "[Help] Graceful delete of lots of objects"
I would like to store a lot of objects into etcd and want to implement graceful deletion( or delayed deletion) for every object.

There are two solutions:
-  Solution A: etcd lease. When delete one object, attach a lease to it
-  Solution B: not use etcd lease, implement it on higher application logic, for example add one field `deletionTimestamp` into value and periodically list and finally delet

[2022-08-22 14:00] aphyr commented on #14045
:-/

[2022-08-22 14:05] serathius commented on #14045
Sorry clarification, anything except AWS deployment is not well maintained. It took me and @endocrimes over 2 days to run docker setup.

[2022-08-22 14:13] aphyr commented on #14045
I've been maintaining Jepsen for use with physical nodes and LXC containers since 2013. I do apologize for the Docker situation--it's one of those things that people keep contributing to Jepsen, but Docker's platform differences and own breaking changes render it flaky. That's noted in the README, but people keep trying to use it anyway. See https://github.com/jepsen-io/jepsen/blob/main/README.md#