[2015-08-03 20:33] yichengq commented on #3168
@danielzheng It is rather important for us to get the data dir, so we could locate what the problem is. Could you help to upload the data to dropbox or 网盘? And my QQ number is 263100761.

What is the traffic characteristics to etcd? What is the first version of etcd that uses this data dir? I hope that can help me to reproduce it better.

[2015-08-03 20:35] yichengq commented on #3211
/cc @marineam @crawford

[2015-08-03 20:36] yichengq commented on #3056
@rkd-msw For watch case, we refresh our doc to represent the way to use it best: https://github.com/coreos/etcd/blob/master/Documentation/api.md#waiting-for-a-change. I hope this helps.

[2015-08-03 20:51] carmstrong commented on #3211
FWIW, we saw this too. The suspicion was that there was some systemd dependency that explicitly listed etcd - maybe fleet? We worked around it by masking etcd as I showed you here, and not caring that the service failed.

[2015-08-03 20:52] yichengq opened #3215 "proxy fails to work when latency to active member is > 500ms"
From Min Ren:
[code]

It is a problem in etcd proxy. We are improving the workflow for high-latency enviroment now, and this needs to be fixed too.

[2015-08-03 21:02] minjs commented on #3215
Is this proxy only or active server too? The function looks like shared.

[2015-08-03 21:07] yichengq commented on #3213
@kayrus We just refactor to use etcd/client after release 2.1. I reproduced it on the 2.1 successfully, and also found that the problem has been fixed in the master. Could you give it another test?

[2015-08-03 21:09] yichengq commented on #3215
@minjs It is a shared one. It doesn't bring problem today to active server because the check that uses it is a best-effort one. It needs to be improved at server side too.

[2015-08-03 22:36] hookenz commented on #3211
@carmstrong - would still like to get to the bottom of it.  I wondered if it was fleet but a grep showed up nothing.  I even checked etcd keys.  I used to run a unit called etcd in place of the default i.e. /etc/systemd/system/etcd.service.  It was a the containerised version of fleet.  But this has been removed, and the install link as well.  So I'm baffled by it.

[2015-08-03 22:37] carmstrong commented on #3211
Oh, me too! I was just giving it a :+1: as confirmation that it wasn't isolated to you.

Me too.

[2015-08-03 22:58] crawford commented on #3211
Can you try running `systemctl list-dependencies etcd.service --reverse`? This will show you everything that depends on etcd.service.

[2015-08-03 23:00] carmstrong commented on #3211
@crawford On 647.2.0 at least, fleet wants etcd:
[code]

[2015-08-03 23:04] crawford commented on #3211
@carmstrong ah, in 653.0.0, we removed the dependency.

[2015-08-03 23:05] carmstrong commented on #3211
We're waiting on Docker 1.7.1 to land in stable because 1.6.x is fundamentally broken :(

[2015-08-03 23:08] hookenz commented on #3211
[code]

[2015-08-03 23:35] yichengq commented on #3214
The problem for this issue is https://github.com/coreos/etcd/blob/master/client/keys.go#L436 remove the trailing slash in HTTP request, so it make request to `127.0.0.1:4001/v2/keys/config/globalsetting/7`, then rejected by auth because it only has permission to `/config/globalsetting/7/*`.

The root problem is that canonical URL is required, so urls given by users and rules set in auth could matc

[2015-08-03 23:52] crawford commented on #3211
@hookenz hmm, so something must be manually starting etcd. Can you check `journalctl --boot --no-pager`? That will show you roughly when it was started. Maybe it is a service started by coreos-cloudinit, or coreos-cloudinit itself.

[2015-08-04 01:58] fatduo commented on #3212
Hi, @yichengq
This is not a typo. Role r1 has /config/globalsetting/* read path and role r2 has /config/servicecluster/7/* read path.
PLS reproduce it using these two roles.
Thanks

[2015-08-04 02:54] danielzheng commented on #3168
@yichengq I have sent you an e-mail about the URL of data-dir tarball and passwd. Hopefully, this could help you to find the root cause of this issue.
Thanks.

[2015-08-04 03:48] #2383 closed

[2015-08-04 03:50] xiang90 commented on #2383
@Telmo

Now etcd supports metrics reporting: https://github.com/coreos/etcd/blob/master/Documentation/metrics.md

You can curl the /health endpoint of each member to get the healthy information.
Or you can use etcdctl -cluster-health command with `forever` option to monitor the cluster's health.

Thanks.

[2015-08-04 05:56] fatduo commented on #3212
Hi, @yichengq
Simplify the problem, suppose a role called role1 and it's read_path is "/rolePath1" and another role called role2 and it's read_path is "/rolePath2".
When I grant both role1 and role2 to a user, the user only can visit "/rolePath1". role2 is useless.

[2015-08-04 14:59] SamuelMarks opened #3218 "`etcdctl ls` fails with "Error: key required""
[code]

Confirmed that it's an issue with `etcdctl` not `etcd`.

FYI: Latest commit where this error is still occurring is => ff5c3469c1d93bc7bd340d755cb7208826a65356

[2015-08-04 15:00] xiang90 commented on #3218
As the error suggests, you need to specify the `key`.
[code]

or

[code]

[2015-08-04 15:05] SamuelMarks commented on #3218
But it works without the `/` in the 2.1.0 version (and earlier). Any chance of recovering that functionality?

[2015-08-04 15:08] xiang90 commented on #3218
@SamuelMarks Hmm... Ok. It is possible. We probably will change it back.

[2015-08-04 21:08] yichengq commented on #3212
@fatduo I could reproduce it now. It is a bug, and I will fix it.

[2015-08-04 22:58] yichengq commented on #3168
@danielzheng I think your data dir is directly migrated from etcd 0.4 data dir, right? old etcd has some bug on this, and we have fixed it today. Instead of data dir migration, could you use [snapshot migration](https://github.com/coreos/etcd/blob/release-2.1/Documentation/backward_compatibility.md#snapshot-migration)? It should work well.

[2015-08-04 23:36] hmatinho commented on #2383
cluster-health only shows health of members not proxies it would be nice to check if proxies were also up

[2015-08-04 23:56] #1440 closed

[2015-08-04 23:56] #2980 closed

[2015-08-05 00:04] bitonio opened #3221 "to be deleted"
deleted.

[2015-08-05 00:06] xiang90 commented on #2383
@hmatinho Proxy is not part of the actual etcd cluster. And you might have a large number of proxies. I do not think it is the responsibility of the etcd cluster to report the status of proxies.

[2015-08-05 00:13] #3221 closed

[2015-08-05 00:29] yichengq commented on #3012
Based on the discussion OOL, adjusting ELB is not ideal and it is better to handle it as a common problem. For reference, the raw response returned from client.simpleHTTPClient.Do in this case is `resp: &{Status:504 GATEWAY_TIMEOUT StatusCode:504 Proto:HTTP/1.1 ProtoMajor:1 ProtoMinor:1 Header:map[Content-Length:[0] Connection:[keep-alive]] Body:0x208d25240 ContentLength:0 TransferEncoding:[] Clos

[2015-08-05 00:46] xiang90 commented on #3188
@fatduo The modified index of a directory only changes when you add/remove nodes into/from it. @yichengq has an answer for your use case. I am closing this issue. If you have any further questions, please feel free to follow up. Thanks!

[2015-08-05 00:46] #3188 closed

[2015-08-05 02:28] qmhu opened #3223 "low get performance when use auth"
When enable auth for etcd, request latency increase a lot. the test result is as below:

test env: Ubuntu14.04 Server virtual machine+16G
test case: php script to put a value in etcd and send 100 sequence get request and record the time cost for 100 get request then calculate average latency for every get request.

http: 0.0006s
http+auth: 0.14s
https: 0.08s
https+auth:0.17s

besides, enable https

[2015-08-05 06:15] #3218 closed

[2015-08-05 06:19] gouyang commented on #3218
:+1:

[2015-08-05 06:59] gangadhars opened #3226 "Issue with floating IP"
I have two machines, one is ubuntu VM and the other one is Openstack Ubuntu instance with floating IP.
[code]
When I run the kuberntes cluster it's giving error on ubuntu1 node
[code]
How to solve this problem.

[2015-08-05 10:31] kayrus opened #3228 "Tiny issue with text formatting"
When run etcd as proxy, it shows odd path for datadir:
[code]

https://github.com/coreos/etcd/blob/master/etcdmain/etcd.go#L307

@yichengq @xiang90

[2015-08-05 15:45] yichengq commented on #3228
I think it is fine to remove `./` in all similar lines.

[2015-08-05 16:59] xiang90 commented on #3208
I think this is a documentation issue. I think it is really important to provide a full list of structured errors. It could be important to users.

For the cancellation issue, see #3229 and #3216

[2015-08-05 18:29] rhuangab opened #3230 "Keys command: Non-uniform behavior"
I am trying out etcd recently. I am confused by some edge cases about key commands.
Why do these two commands have different behaviors?
I can ***change a file to a directory*** with the following command:

    {"action":"set","node":{"key":"/file","value":"1","modifiedIndex":124,"createdIndex":124}}

    {"action":"set","node":{"key":"/file","dir":true,"modifiedIndex":125,"createdIndex":125},"prev

[2015-08-05 18:45] yichengq commented on #3230
In the first case, the key is replaced totally, instead of update. You could check that the createdIndex in the second one is 125, which indicates it is a totally new key.

The second case assumes that you are working on a non-dir key. So it ignores `dir=true`, and parse `prevExist=true` to update the existing key. Because you don't give `value`, it sets the value to empty string.

[2015-08-05 22:02] yichengq commented on #3226
You cannot let etcd listen on some address that it cannot assign address. You could let etcd listen on some address at -listen-peer-urls while let other etcds find it through -initial-advertise-peer-urls.

[2015-08-05 22:12] yichengq commented on #3230
I suppose that you have read the answer and feel satisfied about it. Feel free to continue discussion here.

[2015-08-05 22:12] #3230 closed

[2015-08-05 22:15] rhuangab commented on #3230
Yes, your answer make me more clear about it. Thanks!

[2015-08-05 23:51] yichengq commented on #3223
The cause is that we use bcrypt to hash the password, and it needs ~100ms to check the password could match the hash value.

Any idea to improve this? @barakmich

[2015-08-06 04:42] SamuelMarks commented on #3218
:+1:

[2015-08-06 06:50] gangadhars commented on #3226
Have two nodes.
vs02- 172.16.2.64
ubuntu3 - 10.0.0.3 (openstack instance, floating ip: 172.16.2.10)

etcd options at vs02:
[code]
etcd options at ubuntu3:
[code]
etcd log says at ubuntu3:
[code]

As you **suggested**, I canged the etcd configuration on ubuntu3 and now it's looks like:
[code]
Now logs at ubuntu3:
[code]
logs at vs02:
[code]

Thanks

[2015-08-06 06:52] Nosmoht opened #3232 "Typo: vaild instead of valid"
Hi Guys,

i just started a fresh CoreOS Cluster with Vagrant. Unfortunately my Etcd Cluster did not start and i got the following error message.

[code]

I'm not a native english speaker but i guess it should be _valid_ instead of _vaild_ as i couldn't find any translation for "vaild".

I forked the Etcd repo and did a grep on it:
[code]

I couldn't find the string i'm looking for but a lot of oth

[2015-08-06 06:57] xiang90 commented on #3232
I think they are typos. There are some in the generated code. (The one matches with the proto)

[2015-08-06 07:03] xiang90 commented on #2336
Seems like only linux support this.
For osx, see https://blog.mozilla.org/tglek/2010/09/09/help-wanted-does-fcntlf_preallocate-work-as-advertised-on-osx/

[2015-08-06 07:11] Natata commented on #2676
I just encounter this issue, the solution is remove the data directory

[2015-08-06 07:16] #2255 closed

[2015-08-06 10:09] victorcoder commented on #1912
+1

[2015-08-06 12:40] xiang90 commented on #3203
I do not think this can be done in 2.2. See https://github.com/coreos/etcd/pull/2366

[2015-08-06 17:25] #2336 closed

[2015-08-06 18:43] breser opened #3234 "etcd GPG signature 2.1.1"
Can't find the key anywhere that this is signed with.

$ gpg --verify ~/Downloads/etcd-v2.1.1-linux-amd64.tar.gz.gpg
gpg: Signature made Tue Jul 21 10:49:33 2015 PDT using RSA key ID CC22F12F
gpg: requesting key CC22F12F from hkps server hkps.pool.sks-keyservers.net
gpgkeys: key 8556AC44CC22F12F not found on keyserver
gpg: DBG: armor-keys-failed (KEY 0x8556AC44CC22F12F BEGIN
) ->0
gpg: DBG: armor-

[2015-08-06 19:04] raoofmd opened #3235 "no errorCode returned from etcd, only message is returned, which is a problem for clients"
I wrote a http client in java which reads response in a json object.

I decide whether it is a success(I'm able to retrieve a value for a key) or failure based on errorCode, but I see that it doesn't always return an errorCode and just returns a message.

I dont think I should be doing this

	public boolean isError() {
		if (errorCode != null || message != null)
			return true;
		return false;
	}

[2015-08-06 19:10] digambar15 commented on #2336
Hi xiang90,

    can I work on this issue, if you dont mind. I want to start contribution to coreos & I think this is good to start.

Thanks,
Digambar

[2015-08-06 19:12] xiang90 commented on #2336
@digambar15 Hm... Sorry we just fixed this issue. Can you try to grab another one?

[2015-08-06 19:17] #2477 closed

[2015-08-06 19:47] dannysauer opened #3236 "all peers think all other peer connections are unhealthy"
Standing up an etcd 2.1.1 cluster on RHEL6 results in each etcd reporting this:

    rafthttp: the connection to peer 8887eaf3e329a3f8 is unhealthy

for every other node in the cluster (with different node IDs for each other node, of course).  All nodes have problems with every other node.  The etcdctl cluster-health command reports messages like `raft is making progress [match: 146378->146380]` f

[2015-08-06 19:49] xiang90 commented on #3236
First, you are trying current master. It is etcd 2.1.1 + git, not the release version of etcd.

Second, I failed to reproduce your issue on my local mac. The behavior is a little bit wried to me. Are you able to reproduce the issue on other linux distro so that I can try to reproduce?

[2015-08-06 20:05] dannysauer commented on #3236
I checked out the 2.1.1 tag from git, so I assumed that matched the current release. :) Was that a bad assumption?

I do not have access to any other distributions at work; we are a RHEL shop. But it should be identical to CentOS 6, which you can get for free. I can test on Ubuntu at home, but I know that using the release tarball on two Ubuntu systems (one old, one new)  with Ubuntu's packaged go

[2015-08-06 20:12] digambar15 commented on #2336
Sure xiang. can you suggest me low hanging fruit to start with ?

[2015-08-06 20:14] marclennox opened #3237 "Securing etcd"
After trying to setup a secured etcd2 cluster, I've run into an issue where it appears it's not actually secured.

I'm running etcd as a docker container and have created and configured all the tls keys.  The etcd startup log echos the key files being used (client and peer) with no errors, and my etcd nodes can talk to each other (cluster is healthy).

However from a remote client I can get values

[2015-08-06 21:04] xiang90 commented on #3236
Try to test on Ubuntu with the same git tag. The release tar and master are different. I will try to set up CentOS to reproduce soon.

[2015-08-06 21:16] raoofmd commented on #3099
@yichengq again the same issue

Though the cluster seems to work fine but the etcdctl returns unhealthy response.

[2015-08-06 21:21] yichengq commented on #3099
@raoofmd Could you open an new issue for it with more details? It is easier for us to follow and discuss.

[2015-08-06 21:27] raoofmd opened #3238 "etcdctl reports unhealthy cluster"
I reported similar issue in
Inconsistent 2.1.0 behavior for v2/security #3099

Cluser becomes unhealthy after some days automatically. Though I dont see any problem accessing the cluster of 3 machines directly or using proxy - built using 2.1.0 rc

All the flags and settings are exactly same as I reported in #3099

./etcd -version
etcd Version: 2.1.0-rc.0
Git SHA: 00c32ef
Go Version: go1.4.2
Go OS

[2015-08-06 21:35] #2426 closed

[2015-08-06 21:36] dannysauer commented on #3236
Apparently you're right - the tag is *not* like the release.  I pulled the release file from //github.com/coreos/etcd/releases/download/v2.1.1/etcd-v2.1.1-linux-amd64.tar.gz and it's working properly as a 2-node local cluster which fails under the one I built from the tag.

So I got the source tarball from https://github.com/coreos/etcd/archive/v2.1.1.tar.gz, and ran the build script.  That result

[2015-08-06 21:38] xiang90 commented on #3236
I am not sure. We added a stricter connection checker in the recent release. It works fine on my local env. I would suggest to check it on ubuntu. And as I said, I will try to reproduce it on CentOS6 on ec2.

[2015-08-06 21:40] #3012 closed

[2015-08-06 21:44] dannysauer commented on #3236
I just updated etcd on one node from the five-node cluster which has been griping since it was stood up yesterday, and the cluster-health command on that node is showing all nodes as healthy.  It is not emitting the "connection to peer is unhealthy" messages either.  All of the other nodes still complain about the updated node, though.

[2015-08-06 22:06] yichengq commented on #3168
@danielzheng This should be a problem in etcd 0.4 data dir and data-dir migration, so etcd 2.x cannot parse the store correctly. Have you ever seen/reproduced this under etcd 2.x?

If you still want to upgrade from etcd 0.4 to 2.x, I recommend snapshot migration.

[2015-08-06 22:09] #3212 closed

[2015-08-06 22:16] yichengq commented on #3168
What I have done so far:
1. I tried to reproduce the bug from a fresh data-dir, but I failed. I could always get correct watch result from any member.
2. I checked the data directory of yours. The data in event history, which is used for watch, is wrong and may have gap. Moreover, the log entries in WALs(the first one is 0000000000000000-0000000000000000.wal) start from a big index, and contains o

[2015-08-06 22:56] #3228 closed

[2015-08-06 23:29] xiang90 commented on #2632
@yichengq Can you move forward this issue?

[2015-08-06 23:30] xiang90 commented on #2458
We are not going to support 0.4.x. This issue becomes irrelevant.

[2015-08-06 23:30] #2458 closed

[2015-08-06 23:32] xiang90 commented on #2394
@uidzero I think @yichengq has an answer for you. If a request is committed, etcd will make sure it is persistent. You do not have to flush it manually.

[2015-08-06 23:32] #2394 closed

[2015-08-06 23:33] xiang90 commented on #2984
This is duplicated with https://github.com/coreos/etcd/issues/1515. We will solve this issue in 2.2 release.

[2015-08-06 23:33] #2984 closed

[2015-08-06 23:52] yichengq commented on #2632
@jelmer This method requires users to set a separate DNS server, right?

I don't see there are strong requirements for this feature, so I prefer to put it in low-priority queue now.

/cc @philips

[2015-08-06 23:55] xiang90 commented on #3237
@marclennox

Please check https://github.com/coreos/etcd/blob/master/Documentation/security.md#example-2-client-to-server-authentication-with-https-client-certificates for client cert verification using TLS.

Please check https://github.com/coreos/etcd/blob/master/Documentation/auth_api.md for client auth.

[2015-08-06 23:55] #3237 closed

[2015-08-06 23:58] yichengq commented on #3226
It has network problem between infra0 and infra1. infra1 cannot send message to infra0. Could you try to let infra1 ping to infra0's advertise-peer-urls http://172.16.2.64:2380?

[2015-08-07 00:26] marclennox commented on #3237
OK I see there's a new additional argument to turn on cert auth.  Thanks.

[2015-08-07 03:07] qmhu commented on #3223
any ideas?
my project is a web project which build by php + wordpress and I need get some config from etcd, i want to perceive config change from etcd real time. so I have to get config very frequently.

but consider 0.17s every request's latency, I have to reduce request to etcd as much as possible.

[2015-08-07 14:01] raoofmd commented on #3238
Figured out, I think it is a bug in etcdctl implementation of auth api or etcdhttp  [etcd/etcdserver/etcdhttp/client_auth.go!](https://github.com/coreos/etcd/blob/master/etcdserver/etcdhttp/client_auth.go)

seems that etcdctl is not honoring --username for cluster-health but it does use it for ls

**For etcdctl ls**
Below doesn't give any error in the logs and returns the result
./etcdctl --peers=

[2015-08-07 16:38] xiang90 commented on #3236
@dannysauer Can you try with current master again?

[2015-08-07 17:21] yichengq commented on #3238
@raoofmd I could reproduce it on 2.1, and it is a bug as you say.

We have improved the workflow for cluster-health in master branch, and based on my test this is no longer a problem. Could you give it a try?

[2015-08-07 17:58] #3232 closed

[2015-08-07 18:29] dannysauer commented on #3236
$ git describe
v2.1.1-114-g668a8a8

The individual nodes aren't dumping out the "unhealthy" logs anymore, but I still see this in the cluster-health output on both nodes:

    cluster is healthy: raft is making progress [commit index: 297->299]
    leader is 8887eaf3e329a3f8
    member 830bc2abd256fd30 is healthy: raft is making progress [match: 297->299]
    member 8887eaf3e329a3f8 is healthy: ra

[2015-08-07 18:32] xiang90 commented on #3236
@dannysauer What is wrong with the output? It shows your member is healthy.

[2015-08-07 18:36] xiang90 commented on #3236
@dannysauer It just explains why your cluster is healthy and why each member is healthy. I think your problem is solved. : )

[2015-08-07 18:36] #3236 closed

[2015-08-07 18:47] yichengq commented on #2254
The client could pin itself to a given endpoint until that endpoint becomes unhealthy or there is cluster change.

The client will randomly connect to a member when reset, but it cannot achieve a pseudo-random distribution of all clients across the cluster's members under all cases, e.g., server restart, add member. We don't see users meet the problem of server overload today, and don't know how t

[2015-08-07 18:47] #2254 closed

[2015-08-07 18:47] dannysauer commented on #3236
Oh, I expected that the values would eventually converge, and that it would just say "member xxx is healthy" like in the older version.  Is it expected that it will always give the "is making progress" message now?

[2015-08-07 18:47] xiang90 commented on #3236
@dannysauer Yes. We will cover it by doc when we release 2.2.

[2015-08-07 18:49] dannysauer commented on #3236
Awesome.  Thanks for the work. :)

[2015-08-07 18:55] xiang90 commented on #3238
@yichengq We still need to fix this for 2.1

[2015-08-07 18:56] xiang90 commented on #3213
@kayrus Can you give current master a try?

[2015-08-07 19:01] yichengq commented on #2928
etcd stop accepting client conns when it reaches pre-set limit and leaves enough fds for internal usage now. See https://github.com/coreos/etcd/pull/3219 for more details.

You are welcome to test this with your client binary. I have tested it with amounts of clients at the same time and it works fine. :)

[2015-08-07 19:01] #2928 closed

[2015-08-07 19:03] raoofmd commented on #3238
@yichengq sure I will try that out.

On a separate note, we will be going to prod soon, should I wait till Aug 13th for 2.2. I mean does it have any critical fixes that I should hold my release for.

[2015-08-07 19:05] xiang90 commented on #3238
@raoofmd Please note that the root cause `auth` is still a experimental feature.

[2015-08-07 19:07] xiang90 commented on #3123
This duplicates with https://github.com/coreos/etcd/issues/2691.

[2015-08-07 19:07] #3123 closed

[2015-08-07 19:09] raoofmd commented on #3238
@xiang90 @yichengq Ok I understand the risks with auth feature, i meant something other than auth.

Also I was wondering if this is related to #3178

[2015-08-07 19:13] xiang90 commented on #3238
@raoofmd #3178 fixes a few things. The final release of 2.2 will be around mid Sept.

[2015-08-07 19:16] xiang90 commented on #2719
@hookenz I think @yichengq answered all your questions. I am closing this issue. If you still have a concern or follow-up, feel free to reopen this issue.

[2015-08-07 19:16] #2719 closed

[2015-08-07 19:23] xiang90 commented on #2772
This should be documented at least.

[2015-08-07 19:29] xiang90 commented on #3235
I mark it as a bug. And we will fix it.

[2015-08-07 19:44] kayrus commented on #3213
will try on monday

[2015-08-07 20:09] raoofmd commented on #3235
@xiang90 Thanks. I'm petty sure you got what I meant but I'll still clarify it further.

I didn't mean only the message {"message":"Insufficient credentials"} but I mean that if etcd is not returning value of a key then it should return an errorCode.

If there is no direct mapping for a faiure message to errrorCode then it should still be sending a default errorCode always.

[2015-08-07 20:40] raoofmd opened #3244 "etcdctl doesn't honor dns discovery flag"
Documentation says --discovery-srv flag can be used instead of --peers but it doesn't seem to work.

./etcdctl --peers="https://node01.etcd.dev.com:2379,https://node02.etcd.dev.com:2379,https://node03.etcd.dev.com:2379" --cert-file=/var/home/rm/node01.etcd.dev.com.cert.pem --key-file=/var/home/rm/node01.etcd.dev.com.pem --ca-file=/var/home/rm/ca.cert.pem --username=root cluster-health
cluster is u

[2015-08-07 20:41] xiang90 commented on #3244
@raoofmd Are you trying with current master? Or the released version of etcdctl?

[2015-08-07 20:53] raoofmd commented on #3244
released version

[2015-08-07 20:54] xiang90 commented on #3244
@raoofmd The released version does not support that. Doc is for the master. Can you try with current master please?

[2015-08-08 02:36] xiang90 commented on #3244
@raoofmd This is the doc for the released version of etcdctl: https://github.com/coreos/etcd/tree/release-2.1/etcdctl

[2015-08-08 02:36] #3244 closed

[2015-08-09 01:58] xiang90 commented on #3191
Here is a rough roadmap with timeline:

1. mid Sept. non-clustered demo version of v3 key-value api support
2. late Sept. basic client, watch api, leasing api support

Then we will see the feedback and the early adopters's timeline to decide:

1. release a not backward compatible version of etcd v3 as soon as possible and then fix the backward compatibility issue

2. or release a backward compatib

[2015-08-09 06:45] citywander commented on #3223
Maybe you can cache, plaintext and hash.

[2015-08-09 12:25] xiang90 commented on #2308
Fixed via https://github.com/coreos/etcd/pull/3249

[2015-08-09 12:25] #2308 closed

[2015-08-09 17:56] #3014 closed

[2015-08-10 07:32] wojtek-t commented on #3191
Thanks a lot for the update @xiang90

FYI @timothysc @lavalamp @davidopp

[2015-08-10 10:27] tdeheurles opened #3252 "BareMetal - discovery url"
I have problem with a `baremetal CoreOS` to connect to `discovery url`.

here is my etcd2 configuration :
[code]

What I don't understand is that this configuration work with a vagrant VM.
I can see the VM registred at the discovery url.

PS: this discovery url is out of date

[2015-08-10 12:28] timothysc commented on #3191
cc @eparis @smarterclayton - FYI on timeline.

[2015-08-10 13:49] kgrvamsi opened #3253 "Etcd Key Value Limitation"
Lets take a scenario like this

Admin have gave access for User1 to add 4 keys on to the ETCD cluster and User1 infact added 10 Keys on to the ETCD Cluster so inorder not to give the user to add more keys how can we make a Key/Value Limitation for the User.

If the Limitation is possible then how does the changes reflect (meaning they reflect on runtime  or we need to restart the cluster).

[2015-08-10 14:28] kayrus commented on #3213
Fixed. But every host reboot adds ~10 sec timeout:

[code]

[2015-08-10 14:30] xiang90 commented on #3213
@kayrus I am closing this one. You can create another issue with detailed information for the new problem you met.

[2015-08-10 14:30] #3213 closed

[2015-08-10 16:17] fbbdev opened #3255 "Continuous writes to disk when idle"
I'm observing continuous small writes to disk from an idle etcd instance running in a docker container. Disk activity light blinks with a short period of ~500ms. This used to happen after some hours, but now starts immediately.
Strace shows a few writes to a WAL file followed by fsync. The server is bound to 127.0.0.1, there are no connected clients and Wireshark shows no traffic.

[Dockerfile, sh

[2015-08-10 16:27] xiang90 commented on #3255
etcd syncs the cluster via internal commands every 500ms. So your observation is correct.

[2015-08-10 16:27] #3255 closed

[2015-08-10 16:59] xiang90 commented on #3252
Can you please follow the doc https://github.com/coreos/etcd/blob/master/Documentation/reporting_bugs.md and provide more information? Then we have a better understanding of your issue and help you with your problem.

[2015-08-10 20:54] #2475 closed

[2015-08-10 20:56] xiang90 commented on #3223
@qmhu @citywander We are going to investigate more and try to solve it soon. Stay tuned.

[2015-08-10 21:18] yichengq commented on #3253
We don't have this kind of limitation. I think if you give the user the access, you should trust that it will do the right thing.

Could you explain your use cases in details? So we could evaluate more accurately.

We introduces auth feature in 2.1(https://github.com/coreos/etcd/blob/master/Documentation/authentication.md). Maybe this is helpful.

[2015-08-10 22:40] xiang90 commented on #3201
I think I can help on this one.

[2015-08-10 23:11] stongo opened #3257 "Timeout causing re-registration"
version: 2.0.12
coreos channel: beta

When creating new clusters, I've been getting this error on and off all day. Seems like etcd2 is prematurely exiting on a timeout and then trying to re-register again.

[code]

[2015-08-10 23:26] hookenz commented on #3211
It appears to be a dropin unit.  As at one time I was starting it from cloud-init.

[code]

[2015-08-10 23:33] crawford commented on #3211
It looks like your cloud-init is explicitly starting etcd.service.

[2015-08-10 23:34] hookenz commented on #3211
That's what it looks like.  But can you see anywhere in my cloud-init where it's doing that?  here is my cloud-init.

[code]

[2015-08-10 23:36] hookenz commented on #3211
That's what it looks like.  But I can't see it starting from cloud-init.  Here is my /usr/share/oem/cloud-config.yml file:

That's what it looks like.  But can you see anywhere in my cloud-init where it's doing that?  here is my cloud-init.

[code]

[2015-08-10 23:36] crawford commented on #3211
That looks fine. What provider are you using? Do you have any other cloud-configs floating around?

[2015-08-10 23:37] hookenz commented on #3211
Bare metal.  There is only one yml file in /usr/share/oem.

Where else can I look?

[2015-08-10 23:38] crawford commented on #3211
/var/lib/coreos-install is the first thing that comes to mind.

[2015-08-10 23:41] hookenz commented on #3211
Yes that's it.  There is a file called user_data in there that contains a command to start etcd.
Should I delete that?  Is this file created when you first install coreos and provide a config file?

It seems that providing a new one in /usr/share/oem doesn't mask that out entirely.  I didn't realise this.

[2015-08-10 23:44] crawford commented on #3211
Woo! That is created by `coreos-install -c blah`, so it's safe to consolidate the two files.

Yeah, there about a million different ways coreos-cloudinit can start. We are fixing this in [Ignition](http://github.com/coreos/ignition).

[2015-08-10 23:45] hookenz commented on #3211
Yes, looking forward to trying ignition when it comes into the stable release.  cloud-init is really problematic.

[2015-08-10 23:47] hookenz commented on #3211
Yay, that fixed it!  there was nothing special in the user_data file.  Just the ssh pub key and the starting of etcd.

[2015-08-10 23:47] crawford commented on #3211
Excellent.

Ignition is in the Alpha channel if you want to take a peak. It should make it into the Stable release in about 3 weeks.

[2015-08-10 23:52] #3211 closed

[2015-08-11 01:12] spacejam opened #3258 "proxy fails to start with fresh directory when started via syscall.Exec"
version: v2.1.1
situation: I have a system that consumes service discovery information from a cluster and uses it to feed arguments to an etcd proxy, using golang's syscall.Exec to invoke it.

[code]

Running the same command via the shell:
[code]
I've traced through the etcd code only far enough to find that in the file `etcd/etcdmain/config.go` the function `isProxy` returns `cfg.proxy.String()

[2015-08-11 02:04] hookenz commented on #3211
@carmstrong - check /var/lib/coreos-install/user_data removing that fixed it for me.

[2015-08-11 07:38] mwitkow-io commented on #3209
Thanks for the quick fix, will poke around to see if it fixes my issue later this week! :)

[2015-08-11 08:06] cloudtrends opened #3259 "running etcd under powershell on windows 2008 , sometimes it's blocked"
hi team,

When I running etcd under powershell on windows 2008 , sometimes it's blocked .

It will continue to running after some random keyboard strike , powershell windows should get  focused.

Below is some of message on powershell windows screen :

etcdhttp: got unexpected response error (etcdserver: request timed out)
etcdhttp: got unexpected response error (etcdserver: request timed out)
etc

[2015-08-11 09:02] kgrvamsi commented on #3253
Hi @yichengq ,

Thanks for your reply and i'm looking out for a unified model of seeing the ETCD at a Hierarchy model inside a company to store user specific K/V and that too limited Keys to add.This can also be used to run user specific kubernetes cluster with limited nodes per user to add in the ETCD(this is the limitation of restricting the user not to add more minions on to their K/V which API

[2015-08-11 09:46] kgrvamsi opened #3260 "Flannel Fails in creating a SubnetManager when its pointing to a ETCD Cluster via ETCD Proxy"
I have a Etcd proxy with three etcd nodes running and i made the proxy IP available inside the flannel variables to create the Keys but initially when the flannel service was trying to comeup its not creating the key as part of the systemd flow so i have created the routing keys manually and then when i restarted the flannel service i get a message saying that  it fails creating the subnetmanager

[2015-08-11 14:46] xiang90 commented on #3258
It seems that there is an issue with the exec process. It does not pass in the proxy flag into etcd for some reason. I do not know why. Can you please provide me the code snippet around exec that can reproduce this problem?

[2015-08-11 15:27] spacejam commented on #3258
[code]

result:
[code]

modified with hack:
[code]

works:
[code]

[2015-08-11 15:53] jelmer commented on #2632
yes, it would require a separate DNS server.

[2015-08-11 17:02] fasaxc opened #3261 "Cluster destabilises, one node using 100% CPU, others OK"
I'm doing a scale test with 5 etcd nodes and 1000 clients, each with their own proxy, all doing a watch.  I regularly see one node go bad and start using all available CPU.  In the logs I've checked the bad node is not the master node.  I'm running on GCE with a 16-core instance and the bad node uses all 100% of all 16 cores.  Normal nodes use approximately 15% CPU.

On the bad node, I see repeate

[2015-08-11 17:08] yichengq commented on #3260
could you try `curl -XGET http://192.168.1.7/v2/keys/coreos.com/network/config?quorum=false&recursive=false&sorted=false`?

/cc @eyakubovich

[2015-08-11 17:17] xiang90 commented on #3261
Any way we can reproduce it? We have GCE env.

[2015-08-11 18:02] eyakubovich commented on #3260
@kgrvamsi Can you paste teh value of `/coreos.com/network/config`? I think you have a syntax error somewhere there.

[2015-08-11 18:05] kgrvamsi commented on #3260
I wonder why the cluster health bad when i do it from other machine and it results as below

    Geetas-Mac-mini:etcd-v2.1.1-darwin-amd64 vamsikgr$ ./etcdctl -C=http://192.168.1.7 cluster-health
    cluster may be unhealthy: failed to connect [http://172.17.0.3:2379 http://172.17.0.2:2379   http://172.17.0.4:2379]

I'm running the backend servers on docker containers at this point and a etcd-proxy

[2015-08-11 18:23] yichengq commented on #964
For global deployment as method 1, it includes some changes:
- [ ] adjust proposal timeout at server side
- [ ] adjust transport connection at rafthttp pkg

[2015-08-11 19:45] tadas-subonis commented on #2908
I believe this question wasn't answered. I am experiencing the same at the moment. What's the reason of this happening?

[2015-08-11 19:49] crawford commented on #2908
If you start etcd.service, systemd will stop etcd2.service. Somewhere on your system, a service either depends on etcd.service or it is explicitly getting started.

[2015-08-11 20:20] tadas-subonis commented on #2908
Thanks, that makes sense :)

On Tue, Aug 11, 2015 at 10:50 PM, Alex Crawford <notifications@github.com>
wrote:

--

Kind Regards,
Tadas Šubonis

[2015-08-11 20:35] yichengq commented on #3253
For kubernetes case, I think kubernetes master should take care of the node limitation instead of etcd, which can make workflow easy to understand and consistent.

We don't support plugin framework for auth today. Which kind of integration do you refer or is useful to you? We would like to know how users think about it.

[2015-08-11 21:06] yichengq commented on #3257
discovery is trying forever now due to https://github.com/coreos/etcd/issues/3012. As long as process is not killed, this will not be a problem.

[2015-08-11 21:07] xiang90 commented on #3257
@yichengq Can we port that back to 2.1?

[2015-08-11 21:17] #1515 closed

[2015-08-11 21:17] xiang90 commented on #3208
Fixed by #3262

[2015-08-11 21:17] #3208 closed

[2015-08-11 21:21] yichengq commented on #3257
I don't want to add ClusterError-related commits to 2.1 because it includes lots of commits. But I could write a simple one to let it retry on client errors.

[2015-08-11 21:28] xiang90 opened #3264 "etcdctl: better error message"
[code]
does not really help a lot. We need to print out the detailed failure.

[2015-08-11 21:32] xiang90 commented on #3201
@yichengq We have to give more thought on this. So I am moving this to 2.2rc0

[2015-08-11 21:43] yichengq commented on #3259
could you fetch the metrics data of etcd? You could refer https://github.com/coreos/etcd/blob/master/Documentation/metrics.md for more details. I am wondering whether it is hardware resource problem.

[2015-08-11 21:59] xiang90 commented on #3259
@cloudtrends Sorry I have no windows experience. No idea why the etcd process will be paused on windows.

[2015-08-11 22:33] yichengq opened #3265 "client is unaware of unhealthy server when getting response"
Because client pins to one endpoint if possible, it will always make requests to one server. If the target server is isolated from etcd cluster and becomes unhealthy for a long time, the client will be outdated too for that long time. We don't provide way to handle it or warn it today.

[2015-08-12 04:57] yichengq commented on #3257
After attempt, i find it is hard to have the same functionality easily, so I would backport related commits back to release-2.1, and it is supposed to be in 2.1.2.

[2015-08-12 04:59] yichengq commented on #3168
@danielzheng ping

[2015-08-12 08:19] fasaxc commented on #3261
Here's my scenario:

* Using CoreOS GCE image coreos-alpha-758-1-0-v20150730.  (We disable update reboots to avoid reboots in the middle of our scale test.)
* Spin up an etcd cluster using cloud config with discovery URLs.  I've seen this with a 5-VM cluster and a 9-VM cluster.  Etcd cluster is using 16-core instances with GOMAXPROCS set to 16.
* Over about 40 minutes, spin up 1000 client VMs. Eac

[2015-08-12 08:22] fasaxc commented on #3261
Here's the cloud config from my etcd cluster:
[code]

[2015-08-12 09:08] tdeheurles opened #3267 "Add member - added member reconfiguration fail"
hi, I'm trying to add a node to a cluster (*failed to find answer for the reconfiguration part of the issue*).

nodes :
- `vm0-coreos` : etcd ok - member with discovery url
- `bm0-coreos` : etcd ok - proxy with discovery url

Here is my procedure :

[code]

The `bm0-coreos` initial configuration (successfully joins cluster as a proxy) :
[code]
Then, I try to reconfigure `bm0-coreos` :
[code]

And

[2015-08-12 10:15] fasaxc commented on #3261
I just saw this again while running with 500 client VMs.  The node that went bad did so during the startup phase of my test, when the client VMs were starting up.

[2015-08-12 10:19] fasaxc commented on #3261
Oh, one more thing that my clients do, which may be important: before they start polling, they do a recursive get on the key that they poll on.

[2015-08-12 11:43] kgrvamsi commented on #3253
with the plugin framework was thinking if i have a logic which i does another layer of authentication with my own generated API keys or tokenid's or a auth middleware which takes the authentication creds from any database.

[2015-08-12 13:32] tdeheurles commented on #3267
There was finally one line of log that appear :
[code]

So I change the cloud-config to that (removing the discovery url too) :
[code]

And everything goes fine.

[2015-08-12 13:32] #3267 closed

[2015-08-12 14:16] xiang90 commented on #3267
@tdeheurles There is a systemd issue which prevents you from getting all the logs from etcd.

See https://github.com/coreos/etcd/blob/master/Documentation/reporting_bugs.md#how-to-get-etcd-configuration-and-log-when-it-runs-as-systemd-service-etcd2service.

Glad you can figure it out.

[2015-08-12 14:25] fasaxc opened #3268 "Discovery URL retry failed, left cluster broken"
I started a  5-node cluster but the discovery service was being a bit flaky.  Looks like a request to the discovery service failed and then etcd died after it said it was going to retry.  After that, it failed to come up with "etcd could not find vaild cluster configuration in the given data dir"

This is using version 2.1.1.

[code]

[2015-08-12 14:26] bspline opened #3269 "Etcd created more than 500 wal files, and finally got too_many_open_file error."
version: 2.0.12

Firstly etcd got crashed due to runtime OOM issue:

2015/08/11 23:45:10 etcd: already initialized as member before, starting as etcd member...
2015/08/11 23:45:10 etcd: listening for peers on http://localhost:2380
2015/08/11 23:45:10 etcd: listening for peers on http://localhost:7001
2015/08/11 23:45:10 etcd: listening for client requests on http://localhost:2379
2015/08/11 23:45:

[2015-08-12 14:27] xiang90 commented on #3261
@fasaxc I guess there is a tight loop somewhere in the transportation layer that causes the CPU issues. I will try to reproduce it soon. (We probably cannot spin out 1000VMs, but I guess it would be almost the same to spin out 10VM each has 100 clients).

[2015-08-12 14:28] xiang90 commented on #3261
@fasaxc One thing you might want to try: stop the load from the client, try to see if the problem on the bad node go away?

[2015-08-12 14:38] xiang90 commented on #3269
@bspline What is your configuration? Do you have log right before the first crash? Can you reproduce it?
We need more information to help you. See https://github.com/coreos/etcd/blob/master/Documentation/reporting_bugs.md.

All the wal files were created around the same time. There might be a bug but I am not sure. If you can share your data dir, we can fix out the issue more quickly.

[2015-08-12 15:08] xiang90 commented on #3268
duplicate with #3257

[2015-08-12 15:08] #3268 closed

[2015-08-12 15:32] fasaxc commented on #3261
@xiang90 Agree, 10 VMs with 100 clients is probably a good place to start.

I'm looking at a bad node now.  One thing I notice is that it has many times more connections open on port 2379 then another node.  It appears that every proxy has multiple connections open to the bad node but only about 1 to a normal node.

Bad node:
[code]
Good node:
[code]

I'd have expected the proxies to spread the lo

[2015-08-12 15:38] fasaxc commented on #3261
I tried stopping the load, after a few minutes the bad node seems to have recovered.

[2015-08-12 15:55] fasaxc commented on #3261
I've been saving a dump with tcpdump on all the etcd cluster members.  The bad node has 57GB of dumps, the others have less than 1GB.

[2015-08-12 16:08] xiang90 commented on #3261
This is a bug we need to fix.

After reading your last few reports, I am thinking you might use up all the fds? Can you try to set a higher fd limit?

[2015-08-12 16:13] fasaxc commented on #3261
I had the same though, I tried a limit of 800k by adding this to my cloud init:
[code]
I'll double-check that has taken effect.

[2015-08-12 16:22] xiang90 commented on #3261
@fasaxc Let me know if you found anything. You can also set the logging to debug level to collect more information.

We are busy working on the 2.2 alpha0 release this week. I can look into the issue myself early next week.

[2015-08-12 16:35] fasaxc commented on #3261
Can confirm that the file limit took effect:
[code]
Also, it looks like etcd has approximately 3k FDs open according to `/proc/<pid>/fd`.

[2015-08-12 17:27] #3264 closed

[2015-08-12 17:49] spacejam opened #3272 "etcd realtime workload analysis tooling"
A type of tool that has gotten me out of several production outages is a realtime workload analyzer, such as [redis-faina](https://github.com/facebookarchive/redis-faina) or [memkeys for memcached](https://github.com/tumblr/memkeys).

It would be nice to have such an external tool for observing the production usage patterns of an etcd server, to facilitate rapid diagnosis and workload analysis.

[2015-08-12 17:54] timothysc commented on #3272
cc @smarterclayton @jeremyeder

[2015-08-12 18:31] jeremyeder commented on #3272
@xiang90 you mentioned per-key metrics were already exposed somewhere?

[2015-08-12 18:32] xiang90 commented on #3272
@jeremyeder Sorry about that. I misunderstood the question.

[2015-08-12 18:57] eyakubovich commented on #3260
@kgrvamsi Your value is `Network:10.10.0.0/16"` but it should be a JSON document so:

`{ "Network": "10.10.0.0/16" }`

I know this is user unfriendly, we have a `flannelctl` utility planned to make this nicer.

[2015-08-12 19:58] timothysc opened #3274 "RFE: Stats data in prometheus style format"
Ideally I would like to just scrape the '/v2/stats/store' using tools like prometheus.  Currently they are not in that format.

http://prometheus.io/docs/instrumenting/exposition_formats/

[2015-08-12 20:30] xiang90 commented on #3274
We already have them in prometheus format. But it is an experimental feature now.

See https://github.com/coreos/etcd/blob/master/Documentation/metrics.md#store

[2015-08-12 20:30] #3274 closed

[2015-08-12 20:51] #2095 closed

[2015-08-12 22:03] raoofmd commented on #3272
- [x] +1 Having this feature will be awesome in prod (a graph showing number of hits over a time period to know the usage pattern)

[2015-08-12 22:24] tadas-subonis opened #3276 "CoreOS failure after removing a node from a cluster -- marked endpoint available"
Hi,

I had a cluster of 4, bumped to 5 and removed on of the nodes. A few hours before, I did something similar.

But now I am seeing this:
[code]

These nodes 10.0.0.8 and 10.0.0.5 are long gone and definitely they are offline. How can they be "endpoint available"?

Using CoreOS stable (723.3.0),
etcd Version: 2.0.12
Git SHA: 5686c33
Go Version: go1.4.2
Go OS/Arch: linux/amd64

[2015-08-12 22:31] raoofm opened #3278 "API to get users and roles with details"
I have a usecase where in I would like to get the users/roles and their details - something like we have for keys v2/keys?recursive=true

If we can get this then it will be very helpful in terms of administration.
/v2/auth/users?recursive=true
/v2/auth/roles?recursive=true

As an admin I would like to get a json dump that gives me the details of number of users. their roles and their permissions.

[2015-08-12 23:15] yichengq commented on #3276
proxy marked it as available so it could attempt this endpoint again in the case that the member comes back. If you have removed the member from the cluster using member API, it should no longer appear in the proxy list. Could you get the member list through https://github.com/coreos/etcd/blob/master/Documentation/other_apis.md#list-members to check the 10.0.0.5 and 10.0.0.8 has been removed? Does

[2015-08-13 00:05] yichengq commented on #2905
We have done this step by step, and finished all of them now.

[2015-08-13 00:05] #2905 closed

[2015-08-13 00:09] xiang90 commented on #3272
@spacejam We already have an etcd proxy today. Do you think it is possible to add an analysis feature into the proxy?

[2015-08-13 00:11] yichengq opened #3279 "specify that part of request timeout error is possibly due to connection down"
If the connection between follower and leader is down for a while, the request that is on the connection may lost. So users may receive request timeout error at etcdserver. We could do better to tell users the error possibly due to connection down.

[2015-08-13 00:12] xiang90 commented on #3279
Ideally we can put these requests into a limited queue and wait for the next leader or the connection comes back.

[2015-08-13 00:56] spacejam commented on #3272
That's one place you could certainly add some instrumentation, but it is useless for the purposes of finding out things like "why is my production cluster being taken down by client load?" because it involves a significant amount of reconfiguration of production data.  Here's a super naive thing I just whipped up that uses libpcap and pulls out the topK urls being hit along with their verbs, which

[2015-08-13 04:18] bspline commented on #3269
1.  configuration：
etcd Version: 2.0.12
Git SHA: 5686c33
Go Version: go1.4.2
Go OS/Arch: linux/amd64
OS：Ubuntu 14.04 TLS
We just use etcd as key-value storage, only deployed one etcd node, and all port listen on 127.0.0.1
tcp        0      0 127.0.0.1:2379          0.0.0.0:*               LISTEN      1349/etcd
tcp        0      0 127.0.0.1:2380          0.0.0.0:*               LISTEN      1349/etc

[2015-08-13 04:38] xiang90 commented on #3269
@bspline OK. So here is the full store:

1. When etcd does a snapshot, it will use twice memory. And in your case, it will cause an OOM.
2. After etcd starts to do a snapshot, it will cut a new wal file. (we changed this behavior in 2.1 for performance reasons)
3. etcd cleans up wal file periodically.

You gave etcd a high load which causes etcd to do a snapshot every several second. So it always

[2015-08-13 04:38] #3269 closed

[2015-08-13 05:28] yichengq commented on #3234
I have uploaded my key to the sks-keyservers. Please check it again.

[2015-08-13 06:22] yichengq commented on #3253
@kgrvamsi Got it. We will consider about auth plugin framework in the future.

I think you have got the answer for limitation, so I close this issue.

[2015-08-13 06:22] #3253 closed

[2015-08-13 08:53] kgrvamsi commented on #3253
Thanks @yichengq .....!!!!

[2015-08-13 08:56] kgrvamsi commented on #3260
I did populated the values on to the key in a wrong way.

    etcdctl -C=http://192.168.1.7 set /coreos.com/network/config '{"Network": "10.10.0.0/16"}'

Infact i saw the quotes around the value solved my issue but would like to know if thats the problem for my issue before and thanks @eyakubovich  for referencing the issue i raised at the flannel community.

[2015-08-13 09:09] fasaxc commented on #3261
Ah, looking in the tcpdump, I think I see where all the load is coming from that is overloading the bad node.  We're using confd to update our BGP topology and that means that the load increases as the number of hosts goes up. However, I'm not sure why all the confd load seems to be going to that one node in the cluster.  Maybe confd isn't correctly using the proxy, or maybe it's a proxy bug.

[2015-08-13 09:27] fasaxc commented on #3261
Ah, looks like confd is bypassing the proxy and connecting directly to a single node:
[code]

[2015-08-13 09:29] fasaxc commented on #3261
I'm still slightly worried that every proxy seems to maintain connections to every node but I think this bug can be closed.  Looks like the problem is in confd or the etcd library that it uses.

[2015-08-13 09:29] #3261 closed

[2015-08-13 10:06] fasaxc commented on #3261
Filed https://github.com/kelseyhightower/confd/issues/319 to track the confd issue

[2015-08-13 13:31] xiang90 commented on #3261
@fasaxc Well, even if all the 1000 client connecting to one member, we expect etcd to handle the load if the request rate is only around 100 w/s given the face that you have 16 cores. (maybe one write will trigger all watchers, which ends up a 100*1000 get/s). Do you think we should keep digging into that?

[2015-08-13 14:23] fasaxc commented on #3261
I think every write to that part of the configuration is triggering every confd watcher.  Also, I _think_ confd does a recursive get each time it detects a change, which gets significant as the number of keys it's retrieving is the same order as the number of hosts.  I'll do a bit more digging to confirm.

[2015-08-13 14:26] xiang90 commented on #3261
@fasaxc The current JSON + HTTP layer would eat up all your CPUs if this is the case. But you can try to confirm if possible (or I have to confirm this is the root cause myself anyway.)

[2015-08-13 14:34] fasaxc commented on #3261
Yep, can confirm.  confd does watch but then when something changes, it does a recursive get.  We're monitoring multiple subtrees too so each change results in 3 recursive gets to different parts of the tree. By the end of the spin-up, each get is retrieving thousands of keys.

I'm getting that from analysing the pcap from the bad node.

[2015-08-13 14:36] xiang90 commented on #3261
@fasaxc OK. Thanks for the confirmation. Mesosphere guys work on an etcd analysis tool: https://github.com/mesosphere/etcd-top/. Just for your information.

[2015-08-13 14:40] fasaxc commented on #3261
Thanks for the tip.

[2015-08-13 15:28] oscarrr110 opened #3280 "Some defect while using basic auth function"
While using basic auth feature, I found that if a path has been granted to a role
I give the wrong auth header, it can still get related key.
This behavior is different from etcdctl
Here is the my test step:

A. start etcd
  1) start etcd service on Ubuntu 14.04
	./etcd
B. user/role/path auth
1) add root user
	./etcdctl user add root
2) enable auth
        ./etcdctl auth enable
3) add new role
	./

[2015-08-13 15:54] oscarrr110 opened #3281 "Should give a more specific error message while using auth_api"
**1 . if using error password, error msg as below**
 ./etcdctl -u test2:1111 get /rootpath2/key
Error:  0: Insufficient credentials () [0]
**2 . if using right username and password,but  given the unauthorized path, error msg as below**
./etcdctl -u test2:1111 get /rootpath2/key
Error:  0: Insufficient credentials () [0]
**3. Wrong password or unauthorized path are different error, Shall we need t

[2015-08-13 16:07] oscarrr110 opened #3282 "If the path has been granted to the specified role, the user's request which does not provide username/password should be rejected?"
**1) rootpath has been granted to the role named 0813**
./etcdctl -u root:1111 role get 0813
Role: 0813
KV Read:
        /rootpath/*
KV Write:
        /rootpath/*
**2) it can get the value using test2 which belong to the role named 0813**
./etcdctl -u test2:1111 get /rootpath/key
value
**3) but if  I got this key directly without given any username, it can still get the value**
 ./etcdctl get /roo

[2015-08-13 16:44] yichengq commented on #3282
etcd will create a guest role when enabling security, which has the full access to the key space. You can check the details here: https://github.com/coreos/etcd/blob/master/Documentation/authentication.md#role-guest This helps users to enable auth feature smoothly.

You can change the permission of guest role to disable this.

[2015-08-13 17:12] yichengq commented on #3281
etcd prints detailed log line at server side, which explains the reason why it has insufficient credentials. Could you check it and see if it is good for your use case?

[2015-08-13 17:24] xiang90 opened #3283 "v3 txn API support"
We need to add a draft version of txn support.

[2015-08-13 17:25] xiang90 opened #3284 "drop patch version when printing out cluster version"
Patch version is meaningless in cluster version.

[2015-08-13 17:59] yichengq commented on #3283
+1

[2015-08-13 18:00] #3234 closed

[2015-08-13 18:01] yichengq commented on #3226
Close this due to low activity. Feel free to continue discussion if it is still a problem.

[2015-08-13 18:01] #3226 closed

[2015-08-13 18:03] xiang90 commented on #2294
@johnbcoughlin I am closing this due to low activity. If you can comp up with a use case or example, we might reconsider this. Thanks!

[2015-08-13 18:03] #2294 closed

[2015-08-13 18:05] yichengq commented on #3280
etcd auth fails to get username/password from Authorization field, so it uses guest role to check the read/write permission. Check guest role doc for more details: https://github.com/coreos/etcd/blob/master/Documentation/authentication.md#role-guest

[2015-08-13 20:00] xiang90 commented on #3191
Closed by https://github.com/coreos/etcd/pull/3287

[2015-08-13 20:00] #3191 closed

[2015-08-13 20:22] yichengq opened #3288 "unfriendly higher version log line"
2015/08/13 13:17:57 etcdserver: the etcd version 2.1.1+git is not up-to-date
2015/08/13 13:17:57 etcdserver: member 924e2e83e93f2560 has a higher version &{2.2.0-alpha.0+git 2.1.0}

[2015-08-13 20:23] xiang90 commented on #3288
why this is unfriendly? what is your expectation?

[2015-08-13 20:25] yichengq commented on #3288
The higher versions gives two version, which doesn't say their meanings.

[2015-08-13 20:27] xiang90 commented on #3288
Do you mean at the end of the second line?

[2015-08-13 20:28] yichengq commented on #3288
yes.

[2015-08-13 20:32] xiang90 commented on #3288
Thanks. Now I understand it. We need to improve.

[2015-08-13 21:23] timothysc commented on #3193
cc @eparis probably want to cc Jan

[2015-08-13 21:32] xiang90 opened #3290 "benchmark 2.2"
1. we need to create a benchmark doc for 2.2

2. we can do some initial read benchmark for v3 api

[2015-08-13 22:37] yichengq opened #3292 "raft print log flood about snapshot when one follower die"
[code]

It could print 30 lines per second, which happens when leader keep sending snapshot to dead follower. We should make log much readable.

[2015-08-13 22:39] xiang90 commented on #3292
@yichengq We need to investigate why we keep on sending snapshot to a dead member at such a high frequency.

[2015-08-13 22:40] yichengq commented on #3292
Current policy is when snapshot sent fails, it waits one heartbeat before enabling sending snapshot again. So it sends snapshot once per 100ms.

This needs to be log backoff maybe.

[2015-08-13 22:58] yichengq commented on #932
@shannonmpoole During development so far, We find that it could be related to an inconsistent index bug in store, and it has been fixed in latest etcd2. Sorry for bringing troubles to you.

Welcome to give etcd 2.1 a try. It is much more stable than 0.4, and I believe it could run well in your environment now.

[2015-08-13 22:58] #932 closed

[2015-08-13 22:59] oscarrr110 commented on #3280
Yes, But if it got different result while using curl and etcdctl as below, It seems to be be confusing.

**5) get value with auth header (wrong encode string), still get result**
curl -H "Authorization: Basic dGVzdDI6MTExMQ==xxxx" -L http://127.0.0.1:2379/v2/keys/rootpath/a -XGET
{"action":"get","node":{"key":"/rootpath/a","value":"this is awesome","modifiedIndex":32,"createdIndex":32}}
**6) if us

[2015-08-13 23:05] oscarrr110 commented on #3281
Yes, Server-side log got .
But actually my app's scenario is provided some services to client.
The customer can not see the server log actually. So the error information more accurate seems to be necessary

[2015-08-13 23:07] xiang90 commented on #3281
@oscarrr110 We need to find a balance between what we should leak to the user and what we should not for security features. Differentiating bad user and unauthed path might be OK. But I would like to see a more concrete example and use case.

[2015-08-13 23:27] oscarrr110 commented on #3282
Ok , Got it. thanks .

This issue can be closed!

[2015-08-13 23:27] #3282 closed

[2015-08-13 23:30] yichengq opened #3294 "explore automated/standard release procedure"
Several goals:
- should find potential problems before tag, including build error
- fewer steps to make a release

jenkins is a option.

[2015-08-14 01:28] spacejam commented on #3272
The current etcd-top tool has output that looks like:
[code]
This is adequate for simple analysis I think.  It's super naive and may have some memory leaks, so is not sufficient for long-term analysis (I'll be writing a separate prometheus exporter for the kubernetes scalability efforts that will be better for that sort of thing).  Would you like me to submit a PR to add it to the tools directory,

[2015-08-14 01:30] xiang90 commented on #3272
@spacejam Do you want to continue to improve and maintain this tool? It is not a hard requirement. But I just want to make it a little bit clear.

[2015-08-14 01:32] xiang90 commented on #3272
Also we need to plan for v3 api, which is a gRPC based one.

[2015-08-14 05:57] danielzheng commented on #3168
@yichengq Sorry for the late response.

I have tested what you said. That's right, this issue has been addressed in the latest version of etcd if I startup a fresh cluster from scratch.
This issue is not only exist in 0.4. I remember that in some non-release 2.x version, I can still reproduce this problem.

Thanks a lot.

[2015-08-14 05:59] xiang90 commented on #3168
@danielzheng Thanks for the reply. Sorry for the problem etcd 0.4 caused you.

[2015-08-14 05:59] #3168 closed

[2015-08-14 06:07] yichengq commented on #3280
I agree that if the user gives invalid authorization info, we should not use guest role to access the key and return value. Or the user, who get the guest key using wrong password, will be surprised when he fails to get non-guest key.

[2015-08-14 07:17] #3252 closed

[2015-08-14 07:18] tdeheurles commented on #3252
I've got a response [here](https://github.com/coreos/bugs/issues/432)

[2015-08-14 09:43] tdeheurles opened #3296 "Add member via API - no name parameter ? - fail to join"
I'm trying to join a one node "cluster" using the api add member.

### attempt 1
My "cluster" is setup like that :
[code]

If I follow the [API example](https://github.com/coreos/etcd/blob/master/Documentation/other_apis.md#add-a-member) :
[code]

configure my joining coreos :
[code]

But when I try etcd :
[code]
Looking to the logs :
[code]
The relevant line seems to be : `etcdmain: couldn't find

[2015-08-14 16:22] yichengq commented on #3296
You could check add member section for details using etcdctl to make it: https://github.com/coreos/etcd/blob/master/Documentation/runtime-configuration.md#add-a-new-member

Several points that may confuse you:
1. you need to list `tdeheurles-vm-coreos` in the `-initial-cluster` as error line says 'couldn't find local name "tdeheurles-vm-coreos" in the initial cluster configuration'.
2. you need to

[2015-08-14 16:57] spacejam commented on #3272
@xiang90 I am happy to fix bugs, but the time I can guarantee for improvement is limited.  I feel that what is covered currently would be sufficient for the kind of analysis I had in mind when I opened this issue.

I don't think gRPC will be too difficult to add though, just need to implement request timers as a chan per socket, naive TCP stream reconstruction, and a small state machine that decod

[2015-08-14 17:02] a-robinson opened #3298 "etcdctl backup can't be restored from (v2.0.12)"
I'm trying to test out backup and restore on release version 2.0.12, which is what Kubernetes currently uses. As best I can tell, I'm completely unable to restore data that was backed up using `etcdctl backup` from a running etcd container on a Kubernetes master.

Here's one way to reproduce, running as root on a running Kubernetes master:
[code]

The flags are the same used to run etcd in Kuberne

[2015-08-14 17:04] a-robinson commented on #3298
Interestingly, if I just do a raw directory copy instead of an etcdctl backup, things actually work properly:
[code]

[2015-08-14 17:06] a-robinson commented on #3298
And so you don't have to look it up, the gcr.io/google_containers/etcd image is simply the etcd and etcdctl binaries copied from the official release tar into a busybox image: https://github.com/kubernetes/kubernetes/tree/master/cluster/images/etcd

[2015-08-14 17:14] xiang90 commented on #3272
@spacejam

I would like to merge in this tool if you would like to fix bugs.

[2015-08-14 18:10] tdeheurles commented on #3296
Thanks.

0. I don't want to go with etcdctl :
   - I'm trying to create an auto-scaling cluster (start a vm somewhere, then another, etc ...). The idea is to have the non clustered coreos adding himself (so not without etcdctl but with the api).
   - I had a cluster created with etcdctl, but in this way, I need to have the clustered coreos to listen an etcd folder for members wanted to be added, t

[2015-08-14 18:46] yichengq commented on #3298
@a-robinson We have fixed some related bugs in 2.1. I could reproduce the bug in 2.0, while etcd 2.1 works well in this scenario. Could you give 2.1 a try?

[2015-08-14 18:51] xiang90 commented on #3298
@yichengq Can you please point out which pr fixed the issue?

[2015-08-14 18:53] yichengq commented on #3296
@tdeheurles etcd2 is only complain about that it cannot find the name in `--initial-cluster` flag. The API doesn't take the name parameter, which is fine. You could just use name through etcd flag. Could you test it to see whether it could work? i could help it if it doesn't work as long as you could provide command line.

Based on the info so far, we may need to improve etcd error line and add me

[2015-08-14 18:57] yichengq commented on #3298
@xiang90 This is the original issue: https://github.com/coreos/etcd/issues/2664

[2015-08-14 19:18] tdeheurles commented on #3296
## Cloud-configs :
clustered_node :
[code]
joining_node :
[code]
clustered_coreos :
[code]

request for adding member :
[code]

http response :
[code]

joining node logs :
[code]

clustered_node after request :
[code]

[2015-08-14 19:18] tdeheurles commented on #3296
trying with urls now

[2015-08-14 19:32] tdeheurles commented on #3296
Adding urls flags didn't solve this issue for now. Error changed.

## Clustered node :
cloud-config
[code]

logs :
[code]
[code]

## Joining node
cloud-config
[code]
logs
[code]

I now will add this `-advertise-client-urls`

[2015-08-14 19:39] xiang90 commented on #3296
@tdeheurles A better way to make it work is to read the doc carefully. I can see configuration errors through your first reporting to the last one.

https://github.com/coreos/etcd/blob/master/Documentation/runtime-configuration.md#add-a-new-member

This shows what configuration you should give to the newly add member to bootstrap it.

[2015-08-14 19:41] a-robinson commented on #3298
Thank you @yichengq!

I'd tried restoring the backup using the 2.1 and 2.2 versions of etcd, but hadn't tried doing the backup with a different version of etcdctl. Doing the backup with etcdctl v2.1.1 works, allowing etcd v2.0.12 to be started from the backup. Are you aware of any incompatibilities we may run into from backing up and restoring data from etcd 2.0.12, only using 2.1.1 for etcdctl?

[2015-08-14 19:57] tdeheurles commented on #3296
#### Comparison
Example from your link (just removed infra1 & 2):
[code]

The joining node :
[code]

log from joining node :
[code]

Clustered node :
[code]
[code]

[2015-08-14 20:08] xiang90 commented on #3296
@tdeheurles I do not think you strictly follow the doc. You put an extra space right after the comma in initial cluster flag. Please move the extra space and give it a try. We might trim the space. If you think we should do so, please open another issue for that. Thanks for your reporting.

[2015-08-14 20:08] #3296 closed

[2015-08-14 20:26] spacejam opened #3300 ""fatal error: runtime: out of memory""
This may be expected behavior, but I figured I would paste it here because it surprised me that it crashed instead of degrading gracefully.
[code]

While doing some benchmarks for the work I've been doing on the runtime performance analyzer, I was using this load generator:
[code]
which led to this OOM death, possibly highlighting a goroutine leak where a goroutine pool maybe should have been used

[2015-08-14 20:29] tdeheurles commented on #3296
Worked.

all these no sense try for a space ...
the log was complaining about `"tdeheurles-vm-coreos"` so I did suppose that name was good and started to invent config ... won't go that way anymore.

I won't take `We might trim the space. If you think we should do so, please open another issue for that.` for a taunt and will respond `if it's not a space it will be something else ...` ... but I thi

[2015-08-14 20:29] xiang90 commented on #3300
@spacejam When doing the snapshot, etcd might use 2x memory or even more. etcd does not store anything on-disk. We can try to detect a potential memory usage issue. But it is not our priority (partially because we are working on new backend )

[2015-08-14 20:32] xiang90 commented on #3300
@spacejam For the goroutine issue, most of them are net routines controlled by go lib. We have been running etcd under very heavy load for months and never observed a routine leak.

[2015-08-14 20:35] xiang90 commented on #3296
@tdeheurles I was just suggesting I am going to close this one since your issue is resolved. Trimming the space might be a good idea but it is a separate issue that worth another issue to track. This one is long enough. It is not good for other people to search or track.

[2015-08-14 20:37] xiang90 commented on #3296
etcdctl can take a -peers list to find out your cluster. You do not have to listen on 127.0.0.1 to make the ctl work.

[2015-08-14 20:41] xiang90 commented on #3300
/cc @yichengq

[2015-08-14 20:52] yichengq commented on #3300
@spacejam Some related issue about memory usage: https://github.com/coreos/etcd/issues/2657 Based on the keys that you write into etcd this time, I think the data in store should be a lot.

The goroutine list is good. The server hosts 102 connections, based on goroutine that contains `net/http.(*conn).serve(`. Considering all 100 client requests happens at the same time, it is reasonable. For the

[2015-08-14 21:06] spacejam commented on #3300
The load generator is basically throwing 0-1mb values that average 500k at ~100 req/s into 52 keys, so this is totally an uncommon workload that was designed to stress things out.  I don't think it's likely to be hit by many people, but there may be room somewhere to add backpressure that prevents accepting more work than can be safely handled.

[2015-08-14 21:08] spacejam commented on #3300
I agree that the new back-end will very likely effect this behavior, so it's just something to keep in mind until that comes to fruition.

[2015-08-14 21:10] #3300 closed

[2015-08-14 21:16] xiang90 commented on #3300
@spacejam I will open up anther issue to track this for the new backend.

[2015-08-14 21:18] spacejam commented on #3300
Sounds good!

[2015-08-14 23:05] #3283 closed

[2015-08-14 23:14] #3288 closed

[2015-08-14 23:18] xiang90 commented on #2564
Now the created key are padded with 0s. We updated the doc here https://github.com/coreos/etcd/blob/master/Documentation/api.md#atomically-creating-in-order-keys.

[2015-08-14 23:18] #2564 closed

[2015-08-14 23:40] yichengq commented on #3298
I would recommend to use etcd 2.1 too. We verified WAL functionality using functional testing in 2.1, and made some patches to let it support to repair last-entry-broken WAL, then fix backup command based on these changes.

[2015-08-15 00:04] a-robinson commented on #3298
The kubernetes 1.0 branch would need a *very* good justification for bumping the minor version of etcd that it's on due to expectations around the size and stability of patches, so production instances are going to be stuck on 2.0.12 (or at least a 2.0.x patch) until we cut kubernetes 1.1 (probably in October).

If you're able to check the incompatibilities a little more, that'd be very helpful to

[2015-08-15 11:53] bobelev commented on #3257
I am experiencing same issue. How can I start cluster now? One of my nodes always can't join within timeout.

[2015-08-15 15:36] xiang90 opened #3306 "test plan for v3 stroage"
v3 storage is a more complicated than v2 one.

We should have a test plan to cover most of the basic functionalities and corner cases.

[2015-08-15 17:05] xiang90 commented on #785
@kelseyhightower @philips @yichengq @jedsmith

Would love to hear your opinion on this one. For our public service, we will not verify the client cert. For private service, user can somehow keep it secure without this feature. But, yea, it would be a hard thing to add. I have no objection to add it.

[2015-08-15 17:10] xiang90 commented on #952
@nikfoundas @abourget @gtoff @asiragusa @ashun

v3 watch will ignore TTL updates. But for other kinds of filtering, I think a better way is a client-side filter. Any opinion?

[2015-08-15 17:21] xiang90 commented on #848
@yichengq After thinking this for a while, I think client keeps on polling every O(10)second level should be good enough. We do not expect the cluster configuration changes a lot and client should handle member failures gracefully (when a member is removed, it is considered as failed)

[2015-08-15 17:24] xiang90 commented on #2679
@carmstrong Please see #952

[2015-08-15 17:25] xiang90 commented on #2679
This duplicates with #952. I am closing this and we should continue the discussion there.

[2015-08-15 17:25] #2679 closed

[2015-08-15 17:27] xiang90 commented on #3278
This sounds like a reasonable requirement. Do you want to work on this?

[2015-08-17 02:35] ashun commented on #952
Hi Xiang Li,

That's a long-waited feature, but it's better a server-side filter.

That's because:
1. all the existed etcd clients written in different programming language
will have to implement this feature.
2. etcd server has to push every TTL update to all clients waiting on the
key, that will cause server load and network load increases.

So on my opinion, server-side implements is a better i

[2015-08-17 02:39] xiang90 commented on #952
will have to implement this feature.

If the client can do that, we would suggest the client to do it. We cannot anticipant all kinds of filtering anyway. We want to keep etcd as simple as possible at the moment. We might add filter into etcd server when we have strong confidence.

key, that will cause server load and network load increases.

We have decided not to send ttl update notification to

[2015-08-17 05:32] xiang90 commented on #3258
@spacejam After reading your code, I believe there is a bug in it.

You should put the bin as the first arg in args. Try this please

[code]

[2015-08-17 05:32] #3258 closed

[2015-08-17 08:51] blueszhangsh commented on #1808
I'm learning the raft algorithm implemented by etcd. There's some problems i don't catch. How do etcd's raft implementation deal with situation where peer receive a conflicted MsgApp messages.

[2015-08-17 09:00] YanXiaoping commented on #1232
Any update?

[2015-08-17 13:57] xiang90 commented on #1808
@blueszhangsh Can you be more specific? I do not really follow you.

[2015-08-17 16:40] #3284 closed

[2015-08-17 16:45] xiang90 commented on #3223
@philips @barakmich Any opinion on this one? We can either cache the result or just use plain test as password (does etcd really need to protect the passwords stored in it?)

[2015-08-17 19:41] #2716 closed

[2015-08-17 19:45] sebschrader commented on #2772
This should definitely be documented somewhere (e.g. clustering.md or proxy.md). I got hit by this and took me quite a while to figure out what was wrong.

[2015-08-17 19:47] xiang90 commented on #2772
@sebschrader The first step would be documented it. If you have a suggestion, can you send a pull request? The second would be detect a loop (forward a request to a add:port that it is listening on). Any opinion?

[2015-08-17 19:53] sebschrader commented on #2772
I already deleted my comment, because I realized it is already documented to some extend in [proxy.md](https://github.com/coreos/etcd/blob/1abf2636b54d4d1fa329359362f8b5b08dbcf15a/Documentation/proxy.md):

[2015-08-17 20:04] xiang90 commented on #2772
@sebschrader Do you think we can improve? Probably we can mention it at a more important place?

[2015-08-17 20:42] barakmich commented on #3223
**NO. We should not save passwords in plaintext.** Come on, guys. Bcrypt is there for a reason. Now, that said...

Basic Auth is sending plaintext on the wire. This is why we have TLS. If you generate a bearer token (a la OAuth) after the first auth and store it etcd-side with a TTL, you can get a plaintext token, the comparison speedup that will eventually timeout gracefully. So your first reques

[2015-08-17 21:19] xiang90 commented on #3223
@barakmich If we do want the security, the bcrypt is probably the only option and the slowness is one of its feature.

To speedup, we need to go the plaintext token way. It changes both the server side and client side. If we go that way, we probably need to move this to a lower priority for 2.2 release.

[2015-08-17 21:51] yichengq opened #3312 "doc the relationship between RTT, heartbeat interval and election timeout"
Some overview:
0 < heartbeat < 1.5RTT
RTT << election timeout

We should instruct the way for users to set most appropriate timeout, and doc the potential problems when they are set wrong.

[2015-08-17 22:01] xiang90 commented on #3312
I would say around 0.5RTT < heartbeat < 1.5RTT would be a good option. 0.5RTT is about the ping result.

[2015-08-17 22:01] xiang90 commented on #3312
Or we can simply suggest 1 rtt, which is 2 * ping result.

[2015-08-17 22:28] sebschrader commented on #2772
@xiang90 I created the pull request #3314

[2015-08-17 22:29] xiang90 commented on #2772
@sebschrader Great! Will review. Thanks!

[2015-08-17 22:29] sebschrader commented on #2772
May I suggest a possible loop detection mechanism?

A HTTP header could be added to the requests forwarded by the proxy that can be checked by subsequent proxys to find out if they have seen a request before. The contents of this header could contain:
* A hop count (like in IP packets) that starts at a specific value and gets decremented. If the hop count reaches zero an error is returned.
* A lis

[2015-08-17 23:04] xiang90 commented on #2772
@yichengq Can we open up an new issue for the loop detection? I do not think that has to be done in 2.2.

[2015-08-17 23:54] #3235 closed

[2015-08-18 00:05] yichengq commented on #964
The mirroring tool is tracked at #1749. And we need to doc the best practices to deploy etcd across data center after the tool is done.

Moving this issue to 3.0-alpha to wait for mirror tool to finish.

[2015-08-18 00:06] xiang90 commented on #964
@yichengq I think we should close this one. The mirror tool has its own issue. If you have other concern, you can open another one to track. This one is too noisy.

[2015-08-18 00:12] yichengq opened #3316 "doc how to configure etcd for high heartbeat-interval and election-timeout"
doc how to configure etcd for high heartbeat-interval and election-timeout, considering we support it now.

[2015-08-18 00:23] xiang90 opened #3317 "proxy loop detection"
If the etcd member advertise bad client urls (a proxy's address), the corresponding proxy might forward request to itself and form a loop.

A common mistake is to advertise the client url as localhost, then the proxy will forward the request to localhost (its own iface).

See https://github.com/coreos/etcd/issues/2772#issuecomment-131982508

[2015-08-18 00:24] xiang90 commented on #2772
I am closing this one in favor of #3317.

[2015-08-18 00:24] #2772 closed

[2015-08-18 00:31] robszumski opened #3318 "docs: add env vars for each configuration flag"
From the website anonymous feedback (paraphrased):

For the [configuration doc](https://github.com/coreos/etcd/blob/master/Documentation/configuration.md) we should add these kinda like this:

##### -data-dir
+ Path to the data directory.
+ default: "${name}.etcd"
+ env variable: ETCD_DATA_DIR

[2015-08-18 00:41] robszumski opened #3319 "log unused or unrecongnized env vars"
During the 2.0.x to 2.1.x releases, a few flags were renamed and it's not clear what happened since env vars that aren't recognized are just silently ignored. Several users have been tripped up by this.

Can we log unrecognized env vars that start with `ETCD_`? This would provide a hint as to what happened at lest.

[2015-08-18 00:44] robszumski commented on #3319
Maybe even log recognized _and_ unrecognized vars.

[2015-08-18 01:38] yichengq commented on #964
Close this one because the left part is covered by other issues.

[2015-08-18 01:38] #964 closed

[2015-08-18 02:27] AdoHe commented on #1808
@blueszhangsh what you mean conflicted MsgApp message? actually, during the normal process, the follower will not receive conflicted MsgApp messages. Maybe after a new election, when the non-leader nodes sync with the leader node, there is some log difference, but I dont think this is conflict.

[2015-08-18 02:54] yichengq commented on #785
I would like to know whether there will be users to use this feature, considering this issue has lasted for one year.

@schofield Are you hosting the local discovery service? Could you talk more about the use case?

[2015-08-18 02:58] yichengq commented on #3257
@bobelev You could try static bootstrap here: https://github.com/coreos/etcd/blob/master/Documentation/clustering.md#static

[2015-08-18 03:47] stongo commented on #3257
You can also delete the failing member from the discovery url and restart
etcd2 on machine having trouble
On Aug 17, 2015 10:58 PM, "Yicheng Qin" <notifications@github.com> wrote:

[2015-08-18 03:50] xiang90 commented on #3257
@stongo Please try not to do so. A better way is to generate a new token.

[2015-08-18 04:33] yichengq commented on #3312
@xiang90 nit: the ping time is a round trip time. It sends out ICMP ECHO_REQUEST with local time, receives ECHO_RESPONSE, and calculate the passed time.

[2015-08-18 04:39] xiang90 commented on #3312
@yichengq You are right.

[2015-08-18 19:06] #3214 closed

[2015-08-18 21:34] jessegonzalez commented on #3211
I had something similar happen to me, however due to a fault of my own.
I had fleetctl submit'ed a unit file where I had overlooked there being an 'After=etcd.service' instead of 'After=etcd2.service'.

To resolve I performed the following steps:
* sudo systemctl stop fleet.service fleet.socket etcd
* sudo systemctl start etcd2
* sudo systemctl reset-failed
* etcdctl rm/rmdir everything under and

[2015-08-19 00:20] xiang90 commented on #3292
Fixed by #3324

[2015-08-19 00:20] #3292 closed

[2015-08-19 10:42] robszumski opened #3328 "better logging for timeouts"
Users often run into issues with request timeouts. I know there is work underway (or just completed) to make more of these tunable. In addition, can we output the configured timeout value in the log? For example, something like this:

Before:

[code]

After:

[code]

[2015-08-19 10:58] AdoHe commented on #3328
configured timeout? you mean dial timeout in proxy mode or RPC timeout between nodes?

[2015-08-19 11:26] mborho opened #3329 "Can't replace unhealthy member"
My cluster got somehow in an unhealthy state, so I wanted to replace unhealthy instances from the cluster with

    core@ip-10-0-1-12 ~ $ etcdctl member remove e25938377bdd2340
    Recieved an error trying to remove member e25938377bdd2340: context deadline exceeded

Same when I try to add a member:

     core@ip-10-0-1-12 ~ $ etcdctl member add infra4 http://10.0.1.13:2380
     context deadline e

[2015-08-19 12:52] JacekLach commented on #3329
You need a quorum to perform cluster membership modifications, as they involve writing to the cluster. See https://github.com/coreos/etcd/blob/master/Documentation/runtime-configuration.md

If you don't expect any of these nodes to come back up, you'll have to use -force-new-cluster to recover: https://github.com/coreos/etcd/blob/master/Documentation/admin_guide.md#restoring-a-backup

[2015-08-19 13:05] JacekLach opened #3330 "ETCD listens on the client port before the client uri is properly advertised, causing unexpected errors"
Connecting too quickly to an etcd instance that just changed its client url can cause surprising errors where even though etcd is listening and serving request on the specified, etcdctl will instead sync the client uris with the cluster and try to connect to outdated client uris.

I feel a less surprising behaviour would be to delay binding to the client address until the new client uri has been a

[2015-08-19 14:37] JackChen255 commented on #3330
@JacekLach Probably I meet the same issue. I can't start etcd service now, and it always said "etcd.service start request repeated too quickly, refusing to start". No sure whether the etcd service runs well or not. How to solve it?

[root@localhost ~]# etcd -version
etcd Version: 2.0.13
Git SHA: 92e3895
Go Version: go1.4.2
Go OS/Arch: linux/amd64
[root@localhost ~]# etcdctl -version
etcdctl versio

[2015-08-19 14:40] JackChen255 opened #3331 "etcd can't start due to status=1/FAILURE or status=200/CHDIR"
I can't start etcd service now, and it always said "etcd.service start request repeated too quickly, refusing to start". No sure whether the etcd service runs well or not. How to solve it?

[root@localhost ~]# etcd -version
etcd Version: 2.0.13
Git SHA: 92e3895
Go Version: go1.4.2
Go OS/Arch: linux/amd64
[root@localhost ~]# etcdctl -version
etcdctl version 2.0.13

[root@localhost ~]# systemctl res

[2015-08-19 14:50] robszumski commented on #3328
If possible, any timeout, but most people are hitting this when a proxy is communicating back to the peers participating in consensus.

[2015-08-19 14:52] xiang90 commented on #3331
Sorry, but this does not seem like an etcd issue.

[2015-08-19 14:55] xiang90 commented on #3330
@JacekLach The connection is simply refused. Please make sure etcd is ready before sending request to it. If you run etcd under systemd, it will sdnotify the ready. All your application SHOULD retry in case of any network failure anyway. I do not think this is an issue.

[2015-08-19 15:01] xiang90 commented on #3331
/cc @crawford Can you please take a look?

[2015-08-19 15:02] xiang90 commented on #3329
@mborho What @JacekLach mentioned is true. Please read the doc he referred. I think you will get your problem solved.

[2015-08-19 15:28] JacekLach commented on #3330
@xiang90 that's not the case. Please note in the repro that `etcdctl` is trying to connect to `Cluster-Endpoints: http://localhost:2379`, while the peers flag is provided pointing at a different port: `etcdctl --debug=true -C http://localhost:2371`

The flow here is:

etcdctl connects to http://localhost:2371 (the new client uri for etcd)
etcdctl asks etcd for advertised client uris, and receives

[2015-08-19 15:51] crawford commented on #3331
[code]

What are the file permissions on /var/lib/etcd?

[2015-08-19 17:01] JackChen255 commented on #3331
@crawford There is no /var/lib/etcd folder now. I am running the etcd and kubernetes command with root so there should be no permission issue.
If I manually create /var/lib/etcd, the error is "code=exited, status=1/FAILURE". If there is no /var/lib/etcd, the error is "code=exited, status=200/CHDIR"

[2015-08-19 17:21] crawford commented on #3331
etcd needs that directory to exist. What does the log show when that directory does exist?

[2015-08-19 17:46] xiang90 commented on #3330
@JacekLach Sorry I misunderstood your issue.

I understand there is a race. I reopen the issue. This would be a low priority issue for now. (You will not usually change all client urls for the entire cluster at once.)

[2015-08-19 18:08] #3312 closed

[2015-08-19 18:46] JackChen255 commented on #3331
@crawford
I manually create  /var/lib/etcd/default.etcd and set the permission as 777. But it still said permission denied even I use root user.

[root@localhost ~]# sudo systemctl status etcd
etcd.service - Etcd Server
   Loaded: loaded (/etc/systemd/system/etcd.service; enabled)
   Active: failed (Result: start-limit) since Wed 2015-08-19 14:44:55 EDT; 5s ago
  Process: 10048 ExecStart=/bin/bash

[2015-08-19 20:08] brianredbeard opened #3332 "etcd / etcd2 should state it's version on startup"
Currently etcd/etcd2 does not state it's version in the logs on startup.  This means that when a customer engages support for assistance and helpfully providing logfiles, we still need to delay a helpful response by asking them.  i.e.:

[code]

[2015-08-19 20:17] crawford commented on #3332
[Ignition](https://github.com/coreos/ignition) might be a good model to use. It uses `git describe` to [generate the version number](https://github.com/coreos/ignition/blob/master/build#L6) (no more hardcoded version strings). It also [reports itself in the log](https://github.com/coreos/ignition/blob/master/src/main.go#L85).

[2015-08-19 20:22] crawford commented on #3331
@JackChen255 Your permissions are still not right. Since you aren't running on CoreOS, I really can't help you much further. Your setup is going to be very different, but I can tell you that you need to make sure that the etcd service is able to fully manipulate that directory (read, write, execute).

[2015-08-19 21:21] philips commented on #3331
@JackChen255 what does your service file look like?

[2015-08-19 21:47] bobelev opened #3333 "etcdserver: request timed out with requests from fleet"
fleet sometimes get timeouts for its requets. It happens at random time for a short time and causes fleet to reschedule all services.

Logs from etcd and fleet are here —https://gist.github.com/bobelev/832197585721f6b968b9.

cloud config
[code]

[2015-08-19 21:57] bobelev commented on #3257
Thank you.
I started etcd2 on all machines in non-daemon mode, waited for them to register and relaunched them as a service.

[2015-08-19 22:19] JackChen255 commented on #3331
@philips
/etc/etcd/etcd.conf is as below. Is it service file?
ETCD_NAME=default
ETCD_DATA_DIR="/var/lib/etcd/default.etcd"
ETCD_LISTEN_CLIENT_URLS="http://0.0.0.0:4001"

[2015-08-19 23:53] xiang90 commented on #3333
I see network layer issues (maybe in etcd's transportation layer) in the log. The timeouts are caused by the message dropping. Can you check if you have a stable network and no burst request load?

[2015-08-20 00:16] xiang90 commented on #3201
closed via https://github.com/coreos/etcd/pull/3323

[2015-08-20 00:16] #3201 closed

[2015-08-20 02:41] j-mcnally opened #3335 "After rebooting a etcd container i get a message about a wal"
wal: failed to allocate space when creating new wal file (operation not supported)

Not really sure what this means the host has plenty of space.

[2015-08-20 02:45] xiang90 commented on #3335
@j-mcnally Your file system does not support pre allocate space for new file. If your system does not support this, we should simply skip it rather than fail you. Will fix before 2.2 release.

[2015-08-20 03:42] yichengq opened #3336 "skip key access check when auth is disabled"
The check introduces ~10% performance downgrade when doing read requests. This is found through read QPS in benchmark.

From https://github.com/coreos/etcd/pull/3327

[2015-08-20 03:46] yichengq opened #3337 "enhance the way to limit client connections"
The current way to limit connections requires to read /proc/self/fd each time building a client connection, which is found to delay part of requests one to several seconds. This needs to be improved to avoid performance downgrading.

A good example is at https://github.com/golang/net/blob/master/netutil/listen.go

From https://github.com/coreos/etcd/pull/3327

[2015-08-20 04:04] yichengq commented on #848
ack, polling is a solution that is good enough for machine change. And we have provided AutoSync functionality at etcd/client side.

[2015-08-20 04:50] xiang90 commented on #3276
@tadas-subonis I think @yichengq has answered your question. I am closing this due to low activity. If you have further question, feel free to reopen this issue. Thanks!

[2015-08-20 04:50] #3276 closed

[2015-08-20 04:53] xiang90 commented on #848
@yichengq Closing since we have an agreement.

[2015-08-20 04:53] #848 closed

[2015-08-20 11:53] bobelev commented on #3333
@xiang90 I certainly don't have burst request load because I use etcd only for fleet and for one service registration once in a minute.
These might be network issues. All nodes are located in Digital Ocean cloud in one private network though.

Maybe I can adjust some parameters like `heartbeat-interval`? Can you help with some advice please?

[2015-08-20 15:07] yichengq commented on #2473
I would like to delay this benchmark to v3. etcd v3 has different memory model, and this benchmark should try it and take care of v2 and v3 together. We have rough thoughts about the upper limit of today's memory usage already, so i think it is ok to delay a little.

[2015-08-20 15:53] jakedt commented on #1483
I am seeing the exact same behavior with a 3 node cluster with 2 healthy nodes. If I attempt to remove a node for a machine which is no longer running, and therefore listening on the ip address, I will get a request timed out and an Internal Server Error. Here are some logs:

[code]

[code]

[code]

Our hypothesis is that etcd is attempting to contact the bad peer and ask it to remove itself from

[2015-08-20 16:01] jakedt commented on #1483
More logs from after the event showing leader elections getting queued up, and the node eventually being removed.
[code]

[2015-08-20 16:08] xiang90 commented on #1483
@jakedt What version of etcd are you running? This seems to be normal. You were experiencing leader election. The removal request did timed out.

[2015-08-20 16:11] jakedt commented on #1483
Getting back an Internal Server Error with a 500 when removing a bad peer does not seem normal. Having that peer successfully removed after receiving a 500, also does not seem normal.

[2015-08-20 16:13] xiang90 commented on #1483
@jakedt We have improved the logging around unexpected timeout: see https://github.com/coreos/etcd/pull/3277

[2015-08-20 16:15] xiang90 commented on #1483
@jakedt Your server were experiencing leader election for quite a long time for some reason.

etcd cannot know if the request will be committed or not. It timed out.

I think this is a reasonable behavior.

[2015-08-20 16:29] ilackarms commented on #2346
@barakmich can you explain the solution you used?

[2015-08-20 17:29] yichengq commented on #3316
The issue doesn't describe clearly. It wants to document how to configure etcd on heartbeat-interval and election-timeout in the case of high RTT. The general guide has been added here: https://github.com/coreos/etcd/commit/7082d3a76598365a9e41988c14e10530b16911ea

[2015-08-20 17:29] #3316 closed

[2015-08-20 18:05] bkleef opened #3341 "ETCDCTL_PEERS is a confusing env name"
Because default etcd **peer** port (server-to-server communication) is 2380 and this value should get an etcd (client communication) record with as default port 2379.

Let's rename it into `ETCDCTL_ENDPOINT` like `FLEETCTL_ENDPOINT`.

[2015-08-20 18:19] xiang90 commented on #785
@yichengq As we still wait for the reply from @schofield, I move this to 2.2 release milestone. I do not think this is blocker for rc release next week.

[2015-08-20 18:38] #3335 closed

[2015-08-20 18:58] ilackarms opened #3343 "etcd cluster not communicating"
I set up a CoreOS using vagrant per https://github.com/coreos/coreos-vagrant

I vagrant ssh into each host in a separate terminal.
on node-1 i run:
```core@core-01 ~ $ etcdctl set foo bar```
on node 2 and 3:
[code]
core@core-01 ~ $ journalctl -u etcd
-- Logs begin at Thu 2015-08-20 18:47:42 UTC, end at Thu 2015-08-20 18:51:49 UTC. --
Aug 20 18:47:56 core-01 systemd[1]: Started etcd.
Aug 20 18:47:5

[2015-08-20 19:02] schofield commented on #785
Sorry for the delay in response, the project I was working on moved away from using coreos and etcd. At the time I was trying to run a private discovery service and wanted it to authenticate via client certificates as we already have other pieces of our infrastructure doing the same.

[2015-08-20 19:02] #785 closed

[2015-08-20 21:37] xiang90 commented on #3335
@j-mcnally Got it fixed. It would be great if you can try it again. Thanks. (Kindly remind you that we have stable version of etcd at release branch. Master is under development and testing)

[2015-08-20 22:10] #3332 closed

[2015-08-20 22:18] yichengq opened #3345 "explore to use `git describe` to replace hardcoded version strings"
from @crawford : [Ignition](https://github.com/coreos/ignition) might be a good model to use. It uses `git describe` to [generate the version number](https://github.com/coreos/ignition/blob/master/build#L6) (no more hardcoded version strings). It also [reports itself in the log](https://github.com/coreos/ignition/blob/master/src/main.go#L85).

It is a good thing, so we dont' need to bump version m

[2015-08-20 22:19] xiang90 commented on #1483
@jakedt After offline discussion, we found out the root cause. There is a bug in etcd 2.0.11 that can lead to this behavior. See https://github.com/coreos/etcd/issues/2888. It has been fixed since 2.1 release.

[2015-08-20 22:19] #1483 closed

[2015-08-20 23:28] vcaputo commented on #3345
One limitation in the ignition model is that we can't export releases for consumption outside of a git tree which use the existing build script as-is, now that our build script integrates with git for deriving the version.

This should be easily remedied with a release script sticking the git-derived version in a file and some minor changes to the build script to use the file when present.

[2015-08-20 23:43] xiang90 commented on #3260
@kgrvamsi I think your issue is solved. Thanks @eyakubovich !

[2015-08-20 23:43] #3260 closed

[2015-08-20 23:47] xiang90 commented on #959
@yichengq Can I know why you would like to have this feature? Do you have a use case in mind?

[2015-08-20 23:48] xiang90 commented on #687
/cc @spacejam I think you might be interested in this one.

[2015-08-21 01:38] abourget commented on #952
I agree with this pattern. Not sending notifications solves the issue at hand. Implementing filters client-side for other stuff makes sense.

[2015-08-21 02:30] dalanlan opened #3347 "Unexpected EOF"
###scenario
- Running an etcd container for k8s
- version:2.0.9

###startup param
docker -H unix:///var/run/docker-bootstrap.sock run --restart=on-failure:10 --net=host -d -v /mnt/etcd:/var/etcd/data/ gcr.io/google_containers/etcd:2.0.9 /usr/local/bin/etcd  --addr=${PRIVATE_IP}:4001 --bind-addr=0.0.0.0:4001 --data-dir=/var/etcd/data

###logs for etcd
It complains "on space on device", which is *no

[2015-08-21 02:36] dalanlan commented on #3347
/cc @yichengq

[2015-08-21 02:37] xiang90 commented on #3347
@dalanlan Do you want to know there is the no space left error or you want to know why there is a EOF error after restart?

[2015-08-21 02:47] dalanlan commented on #3347
I'm fully aware that etcd wont recover from wal read error even after restart in this case.
My main concern is how etcd detects the space usage while it attempts to write data.

[2015-08-21 02:50] xiang90 commented on #3347
@dalanlan

1. etcd is able to recover from this error if you make space available for etcd again after 2.1 release.

2. etcd will detect potential disk space issue by preallocating space for newly created wal file after 2.2 release.

The go io library (or to be more specific write syscall if you were running linux) returned the no space to etcd.

[2015-08-21 03:23] xiang90 opened #3349 "clean up v3 api"
Fix issues mentioned in https://github.com/coreos/etcd/commit/7c879ee57668f5f5a33dfa0443f4188e708ca030

[2015-08-21 03:25] xiang90 commented on #3298
@yichengq Can you help to check? Thanks a lot.

[2015-08-21 03:25] xiang90 commented on #3281
@oscarrr110 Kindly ping

[2015-08-21 03:37] dalanlan commented on #3347
Fair enough.
Yet i assume 2.1.x is still under test for k8s for now.
Thank you for your concern.

[2015-08-21 03:37] #3347 closed

[2015-08-21 03:41] xiang90 commented on #3347
@dalanlan

Thanks for reporting.
Glad to see people from ZJU(I graduated from ZJU in 2012) are helping on etcd and k8s.

[2015-08-21 04:09] j-mcnally commented on #3335
Will check it out thnx for the quick reply . Sorry for being short on info I didn't really understand the problem

[2015-08-21 04:26] xiang90 commented on #3335
@j-mcnally Not a problem at all. You already provide a lot of information and help us discover a bug.

[2015-08-21 05:08] yichengq commented on #3298
I have checked the patch for this issue and related codes. I think using etcdctl 2.1.1 could work as a good solution for it.

[2015-08-21 05:09] xiang90 commented on #3298
@yichengq Thanks!

@a-robinson I think this issue is fully resolved. Thanks for reporting!

[2015-08-21 05:09] #3298 closed

[2015-08-21 05:11] dalanlan commented on #3347
Cool :)

[2015-08-21 06:03] yichengq commented on #3347
P.S.: -addr and -bind-addr have been deprecated, and we recommend to use xxx-urls. You could check  https://github.com/coreos/etcd/blob/master/Documentation/configuration.md for more details. And here is bootstrap example: https://github.com/coreos/etcd/blob/master/Documentation/clustering.md#static

[2015-08-21 06:31] dalanlan commented on #3347
Ic.
Yet i'll bet the new flags are introduced for 2.1.x version, i'll upgrade it as long as k8s does officially(See also [this comment](https://github.com/kubernetes/kubernetes/pull/11960#issuecomment-126487128).
I dont mind taking a step ahead, just worried that some components would get unhappy.
Again thank you for your time.

[2015-08-21 06:32] #3336 closed

[2015-08-21 06:36] yichengq commented on #3347
@dalanlan These flags have been introduced since 2.0. Feel free to try it. :)

[2015-08-21 06:37] xiang90 commented on #3337
Fixed by #3348

[2015-08-21 06:37] #3337 closed

[2015-08-21 06:38] dalanlan commented on #3347
If that's the case, sure i will :)

[2015-08-21 10:14] asg1612 opened #3350 "advertise URLs do not match in --initial-advertise-peer-urls"
I'm playing with CoreOS and Vagrant.
I have this user-data:

[code]

With CoreOS stable (723.3.0) and etcd Version: 2.0.12 works fine.

But, with CoreOS alpha (779.0.0) and etcd Version: 2.1.1. Etcd2 doesn't work. I get the next error:
[code]

It's a bug?
Are the config etcd 2.0.12 different from  2.1.1?

[2015-08-21 10:32] cloudtrends opened #3351 "Register etcd as windows service is ok , but can not startup"
hi,all

After using etcd on windows for a while , I decided that run etcd as a windows service .
I am using command  :  sc create myetcd binPath= ......  registered , it works.

But when I start the registered the service , the following error recorded by Event Logger :

The myetcd service failed to start due to the following error:

The service did not respond to the start or control request in a

[2015-08-21 12:52] JasonGiedymin commented on #2141
I'm on a mac and I seem to have this issue with `:latest` which at the current moment points to `v2.1.1`. I've used both keychain export of all system certs and have used curl's bundle. When docker mounting I'm using fully qualified paths to the `.crt` file. It fails. Have any hints @kelseyhightower on what I can do next?

[2015-08-21 13:01] JasonGiedymin commented on #2141
Just went and grabbed certs from an updated *nix distro. I'm good now. Disregard.

[2015-08-21 14:26] xiang90 commented on #3350
@asg1612 This seems like a regression bug.

https://github.com/coreos/etcd/pull/2840 introduced this bug. A workaround is to pass the domain name in advertise peer urls instead of IPs for now. We are going to release 2.1.2 with the patches to fix this issues along with some others.

/cc @yichengq @crawford

[2015-08-21 14:32] xiang90 commented on #2815
@yichengq I made a mistake before. We do not resolve tcp addr for apurls anymore. However, when doing srv discovery, we do allow user to pass in TCP address or domain name(We have documentation for this usage). So we have to compare the resolved TCP addresses.

[2015-08-21 15:18] dminkovsky commented on #1742
I'm experiencing this problem. Had lots of logging about elections, so I wiped the data dir, thinking perhaps etcd keeps trying to reelect with old, non-extant peers. Now the logging has stopped, but etcd is still at 95% CPU.

Not sure why a new issue needs to be opened when this issue and #868 were closed without any concrete resolution steps.

[2015-08-21 17:20] ilackarms commented on #3343
there was a type in the discovery token i was using in my user-data file

[2015-08-21 17:20] #3343 closed

[2015-08-21 17:22] xiang90 commented on #3343
@ilackarms
Glad you figured it out!
I would suggest you to try etcd2 instead of etcd if you are trying etcd. Thanks!

[2015-08-21 17:51] a-robinson commented on #3298
Thank you!

[2015-08-21 19:38] #3350 closed

[2015-08-21 20:56] MSamman commented on #3280
If invalid authorization information is provided, then guest access should not be provided. What if no authorization information is provided. Should the user be given guest access at that point?

[2015-08-21 21:04] akolb1 opened #3353 "Recent etcd doesn't compile on Solaris due to bolt dependencies"
The build of current etcd on Solaris fails in bolt:

[code]

There are two parts here:

- Support for mmap/munmap for Solaris was missing. It is now added - see https://github.com/golang/go/issues/11113

It is added in x/sys/unix module.

- Support for file locking can be done in the same way as in https://github.com/coreos/bugs/issues/335.

[2015-08-21 21:05] akolb1 commented on #3353
Suggested fix:

[code]

[2015-08-21 21:23] MSamman commented on #3280
What if guest access only allowed access to keys that do not have a required role?

[2015-08-21 22:37] akolb1 commented on #3353
See https://github.com/boltdb/bolt/pull/411 for the corresponding Bolt change

[2015-08-21 23:49] xiang90 commented on #3353
@akolb1 We will update the bolt dependency once the pr gets merged.

[2015-08-22 00:22] akolb1 commented on #3353
@xiang90 When do you plan to merge recent bolt which has the change?

[2015-08-22 02:08] xiang90 commented on #3353
@akolb1 You have to ask @benbjohnson this question.

[2015-08-22 02:10] xiang90 commented on #3351
None of the etcd team is window person... So I am afraid we cannot help you. I will mark this as window and want help for a while.

[2015-08-22 02:11] xiang90 commented on #3238
@raoofmd We fixed this in 2.1.2 release. Feel free to give it a try. Thanks.

[2015-08-22 02:11] #3238 closed

[2015-08-22 02:12] xiang90 commented on #3257
@stongo @bobelev We fixed this in the recent 2.1.2 release. Hope you can give it a try. Thanks!

[2015-08-22 02:12] #3257 closed

[2015-08-22 19:29] jmreicha opened #3358 "Use DNS name when setting initial-advertise-peer-urls"
I haven't been able to find any examples where DNS names are used when setting this flag, so I tried doing this myself but it looks like this flag only accepts IP addresses.  Would it be possible to extend this to accept DNS names?

[2015-08-22 19:30] xiang90 commented on #3358
I think it is fine. Why do you think it is not?

[2015-08-22 19:46] jmreicha commented on #3358
@xiang90 Using this config I can get etcd2 to start up:

[code]

I have tried the following, which does NOT work.

[code]

I am using this drop-in unit file for additional configuration.

[code]

This config is for a 3 node cluster, etcd1, etcd2 and etcd3, which all have similar configs.  Maybe I am just misconfiguring something?

[2015-08-22 19:47] dougbtv commented on #863
I'm still running into this with latest stable qemu image. Which is running etcd 0.4.6 (unless you specify etcd2 in your cloud config, I haven't gotten etcd2 to work properly for me yet).

But, I found a solution that at least works for me, and [have documented it further here](http://dougbtv.com/2015/08/22/raft-internal-error-got-you-down/). I'd notice that when I first spun up a cluster it would

[2015-08-22 20:45] jmreicha commented on #3358
It was a misconfiguration.  I didn't realize that `listen-peer-urls` needs to be `<IP:PORT>` and not a DNS name.

[2015-08-22 20:45] #3358 closed

[2015-08-23 01:54] eaoliver commented on #3329
I realize that we get what we pay for, but this remains a terrible design.  It's as if usage/deployment of etcd has never been considered.  The user should have the ability to override quorum and force state into the cluster.

Given that quorum is lost, he should be able to do:

etcdctl --force member add infra4 http://10.0.1.13:2380

and force any known, reachable nodes to add the given node to t

[2015-08-23 02:03] xiang90 commented on #3329
I think this is a too harsh word. We treat consistency and correctness of your cluster seriously. Reconfiguration is basically not as simple as you might think. And we have thought it for quite a while and have no intention to change the fundamental principle any time soon.

Your assumption is wrong. We wrote docs to talk about the reason. Please check https://github.com/coreos/etcd/blob/master/Do

[2015-08-23 02:08] xiang90 commented on #3329
@eaoliver Moreover, if you are considering to run etcd under an environment that will lost quorum frequently (within a day), you should probably decide not run etcd. etcd is simply not designed for this kind of environment. It introduces too much operational overhead.

[2015-08-23 02:33] eaoliver commented on #3329
I see the reasoning, but I still disagree.  Bypassing the consensus mechanism when there is no consensus is fine.  In these rare circumstances, you can connect to every node, block, and wait for everyone to commit the new member (that may be assumed to have no state), and be done.

I'm all in on the CoreOS stack. I think it's fantastic. However, every time my etcd2 cluster gets unhealthy and I get

[2015-08-23 02:39] xiang90 commented on #3329
@eaoliver

We cannot make this kind of assumption in a distributed system. We are not going to let you bypass consensus at runtime. Sorry.

As I said, if you are consistently losing your quorum, you probably should not run etcd at all.

[2015-08-23 03:06] AdoHe commented on #3329
@eaoliver I think maybe you need to check why your etcd2 instances consistently gets unhealthy, this is such a rare case, I agree with @xiang90, if you are consistently losing your quorum, maybe you should not run etcd. And I think a better cluster management UI tool is necessary, how about this @xiang90 ?

[2015-08-23 03:39] eaoliver commented on #3329
I didn't say it was constantly happening and I know exactly how it happened.  The fact is is can happen due to hardware failure, and it is hard to recover from.

The product would be better if the user could manually force members into an existing unhealthy, unusable cluster.

[2015-08-24 03:50] cloudtrends commented on #3351
@xiang90

may be I have to dig it by myself .
thanks

[2015-08-24 03:51] xiang90 commented on #3351
@cloudtrends Sorry! Maybe you can also send a pull request to faq.md to talk about how to run etcd as a windows service.

[2015-08-24 15:26] fraenkel opened #3363 "Too much data is returned on a successful CompareAndSwap"
We noticed that when you successfully compare and swap, we receive both the previous and current node information. This is overkill in most situations since I knew what I cared about from the previous and I provided the data for the new node. What is most useful is the new modification index.

Would it be possible to add a new flag to just fill out the new modification index and not provide the pr

[2015-08-24 16:06] sykesm commented on #3363
It appears the same is true for CompareAndDelete.

[2015-08-24 16:13] xiang90 commented on #3363
@fraenkel @sykesm We are OK for adding a feature flag and preserving the previous behavior by default. Also I would like to see efficiency and performance increment number to justify we do need it.

However, we do not think this would be a high priority thing for etcd team right now. v2 API is in maintenance mode and we are working on v3 api. We would love to see a pull request from you guys if yo

[2015-08-24 16:16] kgrvamsi opened #3364 "ETCD strange errors when starting with the opts"
The same settings which my other clusters are using fine but when i tried launching the etcd on a new server i get this error

[root@masterv1 opt]# etcd -name infra1 -listen-client-urls http://127.0.0.1:4001 -advertise-client-urls http://127.0.0.1:4001 -listen-peer-urls http://127.0.0.1:7001 -initial-advertise-peer-urls http://127.0.0.1:7001
2015/08/24 11:14:45 etcdmain: setting maximum number of

[2015-08-24 16:18] xiang90 commented on #3364
This log line points out the error. Please try to set `--initial-cluster` correctly. For more information, please check https://github.com/coreos/etcd/blob/master/Documentation/clustering.md#static.

[2015-08-24 16:18] #3364 closed

[2015-08-24 16:47] kgrvamsi commented on #3364
@xiang90  i'm not setting a cluster ok let me put the error without the cluster option

Aug 24 11:46:56 masterv1 systemd[1]: etcd.service holdoff time over, scheduling restart.
Aug 24 11:46:56 masterv1 systemd[1]: Stopping etcd...
Aug 24 11:46:56 masterv1 systemd[1]: Starting etcd...
Aug 24 11:46:56 masterv1 systemd[1]: Started etcd.
Aug 24 11:46:56 masterv1 etcd[17308]: 2015/08/24 11:46:56 etcdma

[2015-08-24 16:59] xiang90 commented on #3364
@kgrvamsi Make sure the `advertise-url` matches the `initial-cluster`

[2015-08-24 17:01] kgrvamsi commented on #3364
i'm not running a cluster its a standalone service

here are the parameters i'm sending for the etcd

    ETCD_OPTS="--data-dir /opt/ \
     --advertise-client-urls http://localhost:2379,http://localhost:4001 \
     --listen-client-urls http://localhost:2379,http://localhost:4001 \
     --initial-advertise-peer-urls http://localhost:2380 \
     --listen-peer-urls http://localhost:2380"

[2015-08-24 17:04] xiang90 commented on #3364
@kgrvamsi Standalone etcd is still an one member cluster. Could you please make sure the `--initial-advertise-peer-urls` matches with the `--initial-cluster`. I can help you more if you could try what I just told you. Thanks.

[2015-08-24 17:34] kgrvamsi commented on #3364
@xiang90  thanks its working with the below settings

    etcd -name test -initial-advertise-peer-urls http://localhost:2380 --listen-peer-urls http://0.0.0.0:2380 --listen-client-urls http://0.0.0.0:2379 --advertise-client-urls http://localhost:2379 --initial-cluster-token client-uri-test --initial-cluster-state new --initial-cluster test=http://localhost:2380

[2015-08-24 18:26] xiang90 commented on #2932
I think the naming is good. The real problem is we should link to that doc more enough and tell people bootstrap and reconfiguration are quite different. We have improved that a lot.

Agree.

Working on this.

[2015-08-24 18:40] xiang90 commented on #3333
@bobelev I do not really know what happened to your cluster. There are too many factors that can lead to this. I would suggest you to monitor your load, network. If you can, please also try to upgrade to etcd 2.1.

[2015-08-24 19:16] JackChen255 commented on #3331
@philips @crawford
Eventually solve this issue. Thanks for your help. The User in service file is etcd. I change it to root and now etcd is running well.

[root@localhost ~]# cat /usr/lib/systemd/system/etcd.service
[Unit]
Description=Etcd Server
After=network.target
[Service]
Type=simple
WorkingDirectory=/var/lib/etcd/
EnvironmentFile=-/etc/etcd/etcd.conf
User=etcd
# set GOMAXPROCS to number of p

[2015-08-24 19:16] #3331 closed

[2015-08-24 19:41] fraenkel commented on #3363
We wanted to discuss it before we did anything.
In our case we have become sensitive to any unnecessary data flowing. When we operate against a large number of items each approximately 6k in size, the cost to encode/decode JSON is costing us valuable time. We know the cost when we use a recursive GET retrieving 100k items, while it's not nearly as high for our CAS/CAD usage, it can be on the order

[2015-08-24 19:43] xiang90 commented on #3363
@fraenkel

Let me make this more clear:

1. we need some number and use case to justify the additional flag for v2

2. we are designing v3 api. we will keep this in mind. The main goal of v3 is flexibility and efficiency.

[2015-08-24 19:47] benbjohnson commented on #3353
@akolb1 have you or anyone at CoreOS done testing with that branch on Solaris? I don't have a lot of experience with Solaris so I want to make sure someone can vouch for it before I merge it.

[2015-08-24 19:48] xiang90 commented on #3353
@benbjohnson We (at CoreOS) have not.

[2015-08-24 19:59] akolb1 commented on #3353
@benbjohnson I can test this on Illumos if you tel;l me what kind of testing you'd like to see.

[2015-08-24 20:02] xiang90 commented on #3223
Lower priority of this issue since this is not a block, but a performance improvement. I am still not sure which is the best way to solve it.

/cc  @philips @yichengq @barakmich @citywander @qmhu Any suggestion would be appreciated.

[2015-08-24 22:20] benbjohnson commented on #3353
@akolb1 the main tests i'd be curious to see are some load testing and large-ish file size testing (1GB+). does coreos have a benchmark or load testing app for etcd?

[2015-08-24 22:27] akolb1 commented on #3353
@xiang90 Is there a load test for etcd? @benbjohnson I suspect that etcd file size is much smaller than 1GB+. Is there lbolt load test?

[2015-08-25 01:24] benbjohnson commented on #3353
@akolb1 I went ahead and merged the PR as @ksedgwic mentioned that it's better than what was there and there's no impact to other OSes. I would appreciate any testing you can provide though. Thanks!

[2015-08-25 01:25] xiang90 commented on #3353
@benbjohnson Thanks. We will update the dependency soon.

[2015-08-25 02:49] raoofm commented on #3278
@xiang90 Though I would love too, but I'm not experienced in go programming. My expertise is on the java side. I'm looking towards contributing to etcd-viewer which is java based
Honestly I wish to contribute to etcd as well, but I think it will take some time for me to catch up with go =), sorry

Will be waiting to see this feature as it is very much needed to effectively use this in prod, as use

[2015-08-25 14:31] gtoff commented on #952
agreed

[2015-08-25 15:00] yichengq commented on #3290
All done. Closed.

[2015-08-25 15:00] #3290 closed

[2015-08-25 15:08] xiang90 commented on #2632
@yichengq Any more thought on this?

[2015-08-25 15:10] xiang90 commented on #3329
@mborho I am closing this due to low activity. I think @JacekLach gave you a correct answer. Please give it a try. If you still have questions, feel free to reopen this issue. Thanks for reporting!

[2015-08-25 15:10] #3329 closed

[2015-08-25 15:13] xiang90 commented on #3329
@eaoliver If you have more thoughts on this, please leave it to https://github.com/coreos/etcd/issues/3203.

@AdoHe We would like to have a ui to show cluster status. But we do not have the bandwidth to work on that now. If you would like to, can you send a proposal as a pull request?

[2015-08-25 15:15] xiang90 commented on #2419
@rismoney I am closing this due to low activity. If you have tried what @yichengq suggested and it still does not work, please reopen this issue. Thanks!

[2015-08-25 15:15] #2419 closed

[2015-08-25 15:15] xiang90 commented on #1456
@yichengq Do you think this has been fixed?

[2015-08-25 15:18] yichengq commented on #2632
@xiang90 I would put the feature in low-priority queue, and consider it more when more users ask for it.

[2015-08-25 15:21] yichengq commented on #1456
Let me give it a try.

[2015-08-25 15:34] yichengq commented on #1456
etcd retries to discover forever in this case now. And its log is friendly:
[code]

The issue has been fixed.

[2015-08-25 15:34] #1456 closed

[2015-08-25 15:40] xiang90 commented on #3318
@robszumski I think we mentioned this in the doc you linked.

[code]

Do you think this is not clear enough?

[2015-08-25 15:40] raoofm opened #3369 "Calculation of fault tolerance of etcd cluster is incorrect"
Calculation of fault tolerance of etcd cluster is incorrect in the admin documentation.

[2015-08-25 15:40] mborho commented on #3329
@xiang90 yes, I think so. As I'm using etcd with CoreOS and the cluster was running for test/demo purposes, I've set up a new one. I do not want to fall in the habit of manually changing things on the cluster.... if possible.

It was only a cluster of 3 instances, which caused the problem... after one instance got corrupted and another one failed...

Nonetheless, perhaps "context deadline exceeded

[2015-08-25 15:41] xiang90 commented on #3369
Can you provide more information? Or ideally you can just send a pull request to fix it.

[2015-08-25 15:42] xiang90 commented on #3329
@mborho I totally agree that we should improve the `context deadline exceed` thing. And actually, the error message has been improved in current master. 2.2 will be released soon.

[2015-08-25 15:42] raoofm commented on #3369
just did

[2015-08-25 15:49] xiang90 commented on #3265
/cc @mx2323 You might want to follow on this.

[2015-08-25 16:26] #3076 closed

[2015-08-25 17:01] robszumski commented on #3318
Yes, we do mention it, but it's easy to miss. It'd be friendlier to list them out, then you could copy/paste, etc.

[2015-08-25 18:06] xiang90 commented on #3328
@robszumski The timeout message is from go stdlib. It would be hard for us to attach the exact timeout for all possible timeout error. We have to compare it is a timeout error and do bookkeeping for all setting all over the codebase. I would consider this to be a low priority one.

/cc @yichengq

[2015-08-25 18:17] #3353 closed

[2015-08-25 18:55] ecnahc515 commented on #3318
Isn't etcd now using cobra? Cobra can generate docs, and we could possibly contribute upstream to also support generating env variables in docs if using viper or something..

[2015-08-25 18:57] xiang90 commented on #3318
no we do not use cobra

[2015-08-25 19:08] ecnahc515 commented on #3319
I think in general we need to print all configured and unconfigured config options at startup of etcd. This would be anything you can use for an environmental variable, or flag.

It's very common to print what config options are used, I think thats normal. But it's difficult sometimes to determine what *isnt* set, and that would be super helpful. So printing all configuration values would be good,

[2015-08-25 19:27] ecnahc515 commented on #3318
Ah, my mistake. I guess then writing a tool to generate this type of doc might be a bit more work than it's worth, for now.

[2015-08-25 19:51] robszumski commented on #3318
we don't have to do this in the help output, but doing this in the markdown docs is cheap and easy.

[2015-08-25 20:12] #3280 closed

[2015-08-25 21:07] xiang90 commented on #2932
@ecnahc515 The second issue is resolved. We are working on the 3rd one on https://github.com/coreos/etcd/pull/3354. It is just a starter. We will add more faq and troubleshooting stuff there. I think we can close this issue now.

[2015-08-25 21:48] #3318 closed

[2015-08-25 21:49] xiang90 commented on #3319
@robszumski @ecnahc515 We have around 40 env_vars and the number is still increasing. How about providing an endpoint to check the passing in flags and env variables?

[2015-08-25 22:01] carmstrong commented on #3319
:+1:

I support the proposal of logging unrecognized envvars as `WARN` and recognized ones as `INFO`. Even if it's verbose, seeing them all at startup would be helpful.

[2015-08-25 22:08] xiang90 commented on #2659
This seems to be solved by having a separate goroutine for doing snapshot async. But etcdserver still get slow down when doing the snapshot.

[2015-08-25 22:08] #2659 closed

[2015-08-25 22:14] xiang90 commented on #2038
@yichengq Any update on this one?

[2015-08-25 22:18] ecnahc515 commented on #2932
@xiang90 sounds good.

[2015-08-25 22:18] #2932 closed

[2015-08-25 23:00] fraenkel commented on #3363
I am in the process of doing the performance testing to see the cost of the extra data.

I have been struggling to generate new protobufs and run a build. It seems I can do one or the other but not both on OSX.
If I run genproto one too many times, I get
`cp: /Users/fraenkel/workspace/etcd/gopath/src/github.com/coreos/etcd/./wal/walpb/record.proto and record.proto are identical (not copied).`

I a

[2015-08-25 23:30] xiang90 commented on #2855
After talk with @philips and @ecnahc515, we decided not to write a lock wrapper in etcdctl or client. The locking stuff will be supported by etcd v3 API natively. etcdctl will use that API then. Move this to etcd 3.0 milestone.

[2015-08-25 23:36] xiang90 commented on #3319
@robszumski @carmstrong @ecnahc515 OK. We will support it soon.

[2015-08-25 23:38] xiang90 commented on #3341
@robszumski Any suggestion?

[2015-08-25 23:41] xiang90 commented on #2784
@tmaret I think you can gzip the content yourself. etcd has no plan to support it in short term (we have frozen v2 api)

[2015-08-25 23:41] #2784 closed

[2015-08-25 23:54] yichengq commented on #959
The original usage is to compare the results from different /v2/members. If it has an index, it helps:

1. know which cluster info is the latest
2. help to debug and explain to end user

using /health endpoint could be an good alternative for this today. We could revisit this when there is other use cases.

[2015-08-25 23:55] AdoHe commented on #3329
@xiang90 I will do that as soon as possible.

[2015-08-26 00:07] xiang90 commented on #2473
Let us move this to 2.2. This is not a blocker for the rc release at all.

[2015-08-26 02:29] fraenkel commented on #3363
Did figure out the magic to get a build going. Not going to say it was obvious but anyhow here are the results.

My test was pretty straightforward,

Perform 15k sets with 7k of data.
Perform 15k CompareAndSwap with the same 7k using prevIndex only.

Using SHA 008f988f6bbac3cf777fe783992636326b8de2bf (master)

Operation | Original | No Nodes
------------- | ----------  | ----------
set time | +1.3

[2015-08-26 09:19] MSamman commented on #3278
I can pick this up.

[2015-08-26 09:43] AdoHe opened #3379 "Use old data to start new cluster"
@xiang90 I have an old etcd 2.0.4 cluster, but now I want to setup a new etcd 2.0.4 cluster, I copy the data dir from the old cluster and put it on one instance of the new cluster, and then try to start the new cluster with `-initial-cluster existing`, but just failed. etcd has write the cluster info into log, so when use old data, etcd will still load the old cluster info and just ignore the comm

[2015-08-26 14:05] robszumski commented on #3341
Sounds ok to me, but we'll need to leave in support for the old one.

[2015-08-26 15:09] xiang90 commented on #3379
I do not quite sure what do you mean by it `just failed`. Any log output? Can you reproduce?

[2015-08-26 20:09] #3279 closed

[2015-08-26 20:13] yichengq opened #3380 "proposal dropped easily when connection with leader lost"
When redirecting proposal, if the connection with leader lost, rafthttp will clear all proposals in buffer, and thus proposal is dropped.

Ideally we can put these requests into a limited queue and wait for the next leader or the connection comes back.

from https://github.com/coreos/etcd/issues/3279#issuecomment-130487660

[2015-08-27 00:13] AdoHe commented on #3379
@xiang90 More info about this, I have an old etcd 2.0.2 cluster, which contains three node: `10.5.6.10 10.5.6.11 10.5.6.12`, and the startup script like this:
[code]
and this cluster has been working for a long time, but now I try to setup a new etcd 2.0.4 cluster with three nodes: `10.5.7.40 10.5.7.41 10.5.7.42`. First I copy the `machines/machine1` data dir to one node `10.5.7.40` and then I sta

[2015-08-27 00:21] AdoHe commented on #3317
I will try to do this.

[2015-08-27 06:19] AdoHe commented on #3272
@spacejam @xiang90 I am also looking for such kind of tools, I can help fixing bugs if possible.

[2015-08-27 14:23] xiang90 commented on #3379
@AdoHe Ah... So the cluster identification and member identification are actually tight to the data dir. So when you restart with the old data dir, you are actually restarting the old member... So do not do that. Please read the doc here https://github.com/coreos/etcd/blob/master/Documentation/admin_guide.md#lifecycle

What you should do is to online upgrade your cluster, you can follow the doc he

[2015-08-27 14:37] xiang90 commented on #3278
@MSamman Awesome!

[2015-08-27 15:01] judwhite commented on #3351
@cloudtrends It looks like it's currently not supported. There's another request in #1628.

I've had good experiences with https://github.com/kardianos/service and use it in production.

There's also https://godoc.org/golang.org/x/sys/windows/svc, I've not used it personally.

[NSSM](http://www.nssm.cc/) is another option, it'll host an exe as a service. I would prefer a code solution but NSSM app

[2015-08-27 16:21] oscarrr110 commented on #3281
Sorry for the missing.. : )

I know your mean.

Actually I think that we should have got a balance between the user client and security feature.

But actually we expose the basic auth feature to the client user. I think that  he should know his own input(username and password) is correct

My app has been divided into two parts: Etcd cluster and Client User. They are a one-to-many relationship.
Act

[2015-08-27 16:23] xiang90 commented on #3281
@barakmich How do you think about this?

[2015-08-27 16:30] xiang90 commented on #3317
@AdoHe That would be awesome.

[2015-08-27 20:36] #3319 closed

[2015-08-27 20:59] philips opened #3386 "client: randomize client list"
go-etcd now randomizes the client list when the client is created: https://github.com/coreos/go-etcd/pull/231

github.com/coreos/etcd/client should do this too

I discovered this as a user reported that fleet tries all members in the same order and thus most fleet load goes to a single member.

[2015-08-27 21:02] yichengq commented on #3386
@philips I think it has been improved at https://github.com/coreos/etcd/commit/ea2347a40f3e4778a29e4ec31e44d9333652bdd0

Which version of etcd/client is fleet using?

[2015-08-27 21:02] yichengq commented on #3386
/cc @mischief

[2015-08-27 21:03] mischief commented on #3386
93002caca591fb51e0796813903c4fc1239f3ce7

[2015-08-27 21:05] yichengq commented on #3386
@mischief I think bump etcd/client should solve this problem.

[2015-08-27 21:05] mischief commented on #3386
@yichengq on it.

[2015-08-27 21:48] #3369 closed

[2015-08-27 22:15] xiang90 commented on #3386
Fixed by https://github.com/coreos/fleet/issues/1336

[2015-08-27 22:15] #3386 closed

[2015-08-27 22:48] xiang90 commented on #2055
Closing for now. We decided to use gRPC instead of HTTP+JSON as initial API for v3. So the definition is a proto currently at https://github.com/coreos/etcd/blob/master/Documentation/rfc/v3api.md .We will revisit this when we start to design HTTP API.

[2015-08-27 22:48] #2055 closed

[2015-08-27 23:05] spacejam opened #3391 "failure to recover from backup v2.1.1"
I've been doing a bit of fault injection for etcd-mesos, and a feature I'm testing is for cluster re-seeding when a majority of nodes are killed, and a backup-restore needs to occur.  I'm running `etcdctl backup` on the server while simultaneously killing the running server (the admin guide only says that windows users need to stop fully first), and restarting the server with `--force-new-cluster`

[2015-08-27 23:09] MSamman commented on #3278
How does these example response structures look?

GET /v2/auth/users?recursive=true

[code]

GET /v2/auth/users/root?recursive=true

[code]

GET /v2/auth/roles?recursive=true

[code]

[2015-08-27 23:14] spacejam commented on #3391
This particular crash happened after 23 "reseeds" (pick node with longest Raft index, attempt backup/restore using its data) while simultaneously sending Set and Get requests to a small number of keys, and verifying their integrity.  In the past, I've witnessed this happening much sooner than 23 runs while using the AddChild and Delete commands, but I haven't collected data about how much this act

[2015-08-27 23:31] xiang90 commented on #3391
@spacejam So this does not happen all the times?

[2015-08-27 23:33] spacejam commented on #3391
@xiang90 using the provided data directory it happens 100% of the time for me on startup.  The buggy data is written only sometimes, and I've yet to isolate a specific trigger for the data being written.  I imagine it may be fairly clear if you parse the wal and snapshot that I supplied, but I lack insight into the persisted format.

[2015-08-27 23:35] xiang90 commented on #3391
@spacejam I mean in your testing env, does it happen all the time?

[2015-08-27 23:36] spacejam commented on #3391
@xiang90 Not usually.  After I was writing the initial issue up, I was pleasantly surprised that my mesos framework detected the failure and went to the replica with the second/tied highest raft index, and it was able to successfully backup/restore using it.  So even in the same replica-set this corrupted data does not get written everywhere.

[2015-08-27 23:37] xiang90 commented on #3391
@spacejam OK. Interesting. Sounds like some sort of race. Will take a look soon.

[2015-08-27 23:49] AdoHe commented on #3379
@xiang90, this seems OK, thanks very much.

[2015-08-28 00:07] xiang90 commented on #3379
@AdoHe Great! I am closing this issue.

[2015-08-28 00:07] #3379 closed

[2015-08-28 00:14] philips commented on #2055
ideally we just use this https://github.com/gengo/grpc-gateway

[2015-08-28 02:37] hyper-carrot opened #3393 "Etcd log can not be redirected, Why?"
I tried the following several kinds of methods:

[code]

[code]

[code]

But they are invalid. Any suggestion? Thanks!

[2015-08-28 02:50] xiang90 commented on #3393
@hyper-carrot Since you used a wrong command, try `./etcd >> etcd.log 2>&1 `

[2015-08-28 02:50] #3393 closed

[2015-08-28 02:58] hyper-carrot commented on #3393
@xiang90 e...It's a clerical mistake only. ;-)

[2015-08-28 03:27] mengzhuo commented on #3393
try
[code]

[2015-08-28 03:50] xiang90 commented on #2442
@kelseyhightower After thinking this more, I found it would be hard for people to mount.

They have to understand the data dir layout of etcd and create all the dirs before initialize etcd.

/cc @philips Any opinion on this one?

[2015-08-28 04:04] xiang90 commented on #3341
Closed via #3390

[2015-08-28 04:04] #3341 closed

[2015-08-28 04:09] yichengq commented on #3306
I have finished ~70%. The storage/backend has not been covered, and version-related stuffs have not been fully tested yet. Move it to 2.2 to complete all of them.

[2015-08-28 15:35] raoofm commented on #3278
@MSamman lgtm

[2015-08-28 16:28] danielschonfeld opened #3397 "etcd failure with no apparent reason"
`CoreOS: 717.3.0, etcd: 2.0.10`

Last night two out of our three dedicated machines had etcd restart and in the process etcd as a cluster became unavailable.  The restarts were 4 hours apart, so at any one time there should have been 2 instances left in the cluster.  On the second and final restart on machine `etcd3` fleet finally retracted all units across the cluster and restarted everything, a

[2015-08-28 16:32] yichengq commented on #3397
use `sudo journalctl -f -t etcd2` for last few lines missing. check https://github.com/coreos/etcd/blob/master/Documentation/reporting_bugs.md#how-to-get-etcd-configuration-and-log-when-it-runs-as-systemd-service-etcd2service for more details.

[2015-08-28 16:42] danielschonfeld commented on #3397
@yichengq tell me what times you'd like the logs as sudo to be pasted for and i'll do it right away.

[2015-08-28 16:45] yichengq commented on #3397
the time between 2015/08/28 07:00 - 2015/08/28 07:10, when it reboots

[2015-08-28 16:47] yichengq commented on #3397
you could remove sudo if you have permission to use journalctl

[2015-08-28 16:57] danielschonfeld commented on #3397
This time the logs are NOT reversed :)
[code]

[2015-08-28 20:26] xiang90 opened #3399 "replace the old update 0.4 -> 2.0 doc with 0.4->2.2"
We now only support the export/import snapshot path.

[2015-08-28 20:27] xiang90 opened #3400 "add 2.1 -> 2.2 upgrade doc"
It would be similar to 2.0->2.1 doc.

[2015-08-28 22:37] xiang90 commented on #959
@yichengq I am closing this since we do not have a clear use case. If we do have one in the future, I would prefer to have a separate index starting from 1. Say cluster-version 1, 2, 3 ...

[2015-08-28 22:37] #959 closed

[2015-08-28 22:39] yichengq opened #3402 "`client: no endpoints available` when using etcdctl"
Start 3-member etcd cluster, and set `-listen-peer-urls` to some value unrelated, so etcd cluster cannot talk to each other.

[code]

There is no more details about the failure, which is hard to explain and reason about. Actually, this fails because it fails to sync when creating client struct. My thought is to print out the fact that it is syncing and curl command when Sync members.

/cc @mischie

[2015-08-29 17:08] f0 opened #3405 "proxy: client 127.0.0.1:6155 closed request prematurely"
Hi,

i am running a cluster version 2.1.1 and have some local proxys version 2.1.1 running, sometimes the etcdctl connection via proxy fails with this errors, then i need to restart the proxy to get it working again.

  etcdctl  -u root user list
 Password:
  context deadline exceeded

this is in the logs
Aug 29 18:22:03 example.com etcd2[2646]: 2015/08/29 18:22:03 proxy: client 127.0.0.1:6155 clo

[2015-08-30 06:57] f0 commented on #3405
ok you can reproduce this with

while true ; do etcdctl ls  ; done

btw. i have removed all localhost client urls from the cluster, now i do not need to restart the proxy to get it working again

[2015-08-30 10:09] MSamman opened #3406 "Go 1.5 build warning"
With Go 1.5 I am getting the following warning when using the build script.

[code]

Simple fix. See my PR.

[2015-08-30 10:26] MSamman commented on #3278
I'm wondering if the responses above should just be the default case when user and role info is queried?

Is there any reason not to send down the full details of users and roles?

[2015-08-30 11:04] xiang90 commented on #3405
You have to provide more information. I do not have the configuration of your cluster. See https://github.com/coreos/etcd/blob/master/Documentation/reporting_bugs.md

But this `all localhost advertised client urls` looks very suspicious. See https://github.com/coreos/etcd/blob/master/Documentation/configuration.md#-advertise-client-urls

[2015-08-30 22:43] philips commented on #2442
I would rather we have explicit flags/environment variables for each dir instead of having the user poke around and assume things about the etcd data layout.

[2015-08-30 23:41] AdoHe commented on #2442
@xiang90 @philips I totally agree with philips, we should have explicit flags/environment for each dir, have default value for each dir, and document it.

[2015-08-31 01:46] xiang90 commented on #3351
@cloudtrends Do you think @judwhite's answer solves your issue?

[2015-08-31 04:09] judwhite commented on #3351
@xiang90 Would you mind taking a look at https://github.com/kardianos/service? NSSM is a less than ideal solution.

The last two commits in https://github.com/judwhite/nsq/commits/master show changes made to use kardianos in NSQ. Some of the changes (app to util, a few others) are unrelated to the Windows Service work and should have been made in another commit, TBH I never thought I'd be referenc

[2015-08-31 04:37] xiang90 commented on #3351
@judwhite If https://github.com/coreos/etcd/pull/1628 works, I would prefer this one. It introduces windows only dependency and does not change the code path on other platform.

[2015-08-31 04:53] judwhite commented on #3351
@xiang90 Sounds fair. I'll look into the package and follow up within the week.

[2015-08-31 04:54] xiang90 commented on #3351
@judwhite I will ping the original author of #1682. If both of you are interested in helping maintain windows service thing, we would be very confident and happy to accept the patch. Thanks!

[2015-08-31 04:55] xiang90 commented on #3351
/cc @chai2010

[2015-08-31 05:45] chai2010 commented on #3351
@xiang90 I will sent a new PR soon. Thanks.

[2015-08-31 05:51] floriankoch commented on #3405
Hi,

this is my cluster config, i have eliminated all localhost advertise client urls

[member]
ETCD_NAME="zkm1"
ETCD_DATA_DIR="/var/lib/etcd/etcd1.etcd"
ETCD_LISTEN_PEER_URLS="http://zkm01.example.net:2380"
ETCD_LISTEN_CLIENT_URLS="http://zkm01.example.net:2379,http://127.0.0.1:2379"

[cluster]
ETCD_INITIAL_ADVERTISE_PEER_URLS="http://zkm01.example.net:2380"
ETCD_INITIAL_CLUSTER="zkm1=http://zkm0

[2015-08-31 07:34] qmhu commented on #3223
From my side, we can't stand for 0.1s+'s latency for every request. I support using plaintext but enable cache in server side is fine to me as long as the latency can regain back to a normal level.

by the way, if etcd can support multiple get, we can reduce the get request times,and this will help to improve my site's performance.

[2015-08-31 09:34] chai2010 commented on #3351
@xiang90 The new PR is here: https://github.com/coreos/etcd/pull/3410

[2015-08-31 14:47] #3406 closed

[2015-08-31 14:47] yichengq commented on #3397
Besides using `journalctl -f -t etcd2` to get possible missing log when process stopped (though there is no missing log in this case), you should also check:

1. whether the machine is hard killed/rebooted at that time
2. whether etcd process is killed by linux OOM killer

There may have other possibilities in system that kill etcd suddenly or miss last few lines of log. You could check this by yo

[2015-08-31 16:44] #3391 closed

[2015-08-31 16:55] #687 closed

[2015-08-31 18:28] #3399 closed

[2015-08-31 21:24] raoofm opened #3411 "Proxy doesnt start with SRV - cannot find local etcd member "default" in SRV records"
I have a 3 node cluster and 1 proxy running on node01. Proxy fails to start with error
*etcdmain:  error setting up initial cluster: cannot find local etcd member "default" in SRV records*

**Node01**
/var/lib/etcd/etcd -advertise-client-urls https://node01.etcd.dev.com:2379 -initial-cluster-state new -name node01 -data-dir /var/lib/etcd/cluster/datadir -listen-peer-urls https://node01.etcd.dev.co

[2015-08-31 21:40] xiang90 commented on #3411
@raoofm I can confirm this is a bug. Will fix soon.

[2015-08-31 21:47] raoofm commented on #3411
:) thanks - a stopper for our release

[2015-08-31 21:49] xiang90 commented on #3411
@raoofm We probably will release 2.1.3 with the fix this Friday.

[2015-08-31 22:05] raoofm opened #3414 "Incorrect dns discovery log - discovery: error querying DNS SRV records for _etcd-server lookup _etcd-server._tcp.etcd.dev.com"
I have a 3 node cluster and 1 proxy running on node01.

Logs in all the nodes and proxy shows below line as error
**discovery: discovery: error querying DNS SRV records for _etcd-server lookup _etcd-server._tcp.etcd.dev.com on 10.12.12.76:53: no such host**

Why should this be an error?
I wanted to bootstrap on ssl
[Documentaion](https://github.com/coreos/etcd/blob/master/Documentation/clustering.

[2015-08-31 22:06] xiang90 commented on #3414
@raoofm Can you please format your issue a little bit? It is really hard to read. Thanks!

[2015-08-31 22:29] raoofm commented on #3414
Relevant flags and logs

Flags are same for all 3 nodes. I'm providing below for node03

**Node03 flags**
/var/lib/etcd/etcd
-advertise-client-urls https://node03.etcd.dev.com:2379
-initial-cluster-state new
-name node03
-data-dir /var/lib/etcd/cluster/datadir
-listen-peer-urls https://node03.etcd.dev.com:2380
-initial-advertise-peer-urls https://node03.etcd.dev.com:2380
-listen-client-urls https:

[2015-08-31 22:32] raoofm commented on #3414
The cluster in itself works fine, but I think the error message for nodes and proxy is misleading

[2015-08-31 22:33] xiang90 commented on #3414
@raoofm It would be great if you would like to send a pr to fix the message.

[2015-08-31 22:51] raoofm commented on #3414
@xiang90 sure

There are two possibilities.
 - We can just correct the message (or)
 - We can copy the messages at ssl srv check and non-ssl srv check and log only if both SRV lookups fail

[2015-08-31 23:25] xiang90 commented on #3405
@f0 @floriankoch Still see the same issue after removing localhost client endpoints? Are you sure zkm01.example.net does not resolve to localhost?

[2015-09-01 04:56] xiang90 commented on #1972
@fceller Kindly ping. Are you still interested in working on this one?

[2015-09-01 05:43] floriankoch commented on #3405
yes
if i list my cluster members, no localhost are shown.

bfd4023b0c6e8d6: name=zkm1 peerURLs=http://zkm01.example.net:2380 clientURLs=http://zkm01.example.net:2379
1f029defcea02404: name=zkm6 peerURLs=http://zkm6.example.net:2380 clientURLs=http://zkm06.example.net:2379
a80cff776210b15c: name=zkm2 peerURLs=http://zkm02.example.net:2380 clientURLs=http://zkm02.example.net:2379
bd19b4ffc2b7182d: n

[2015-09-01 05:52] xiang90 commented on #3405
@f0 @floriankoch OK. I will try to reproduce this myself. Ideally, you can try to run the Procfile in etcd repo to set up a local cluster with proxy and verify you can reproduce this issue.

[2015-09-01 08:46] MiguelPF commented on #3171
Hello the same is happening to me, can anyone suggest a fix for this, I am not able to make it work

thanks in advance

[2015-09-01 10:23] fatih opened #3417 "Build script exit with error "Syntax error: redirection unexpected""
Hi,

We use etcd for our project Kite (https://github.com/koding/kite). We saw that our latest PR all failed because we couldn't start up ETCD on travis.  Here is on of the failed builds: https://travis-ci.org/koding/kite/jobs/78066380

Investigating more it seems the build script doesn't execute well because the `<<<` herestring are not supported on `sh`. I think this was introduced two days ago

[2015-09-01 12:34] AdoHe commented on #3417
@fatih I think both options will solve this problem, maybe the second one is much better. I just create a new pull request, you may have a look: https://github.com/coreos/etcd/pull/3418

[2015-09-01 13:54] yichengq commented on #3171
@MiguelPF Using a new discovery token could solve this case.

And etcd 2.1.2+ supports better discovery error handling, and this should happen rarely.

[2015-09-01 15:35] yichengq opened #3419 "panic: assertion failed: tx closed in storage pkg test"
2015/09/01 15:16:00 store.index: compact 1
2015/09/01 15:16:00 store.index: compact 2
2015/09/01 15:16:00 store.index: compact 3
2015/09/01 15:16:00 store.index: compact 4
2015/09/01 15:16:00 store.index: compact 5
2015/09/01 15:16:00 store.index: compact 6
2015/09/01 15:16:00 store.index: compact 7
2015/09/01 15:16:00 store.index: compact 8
2015/09/01 15:16:00 store.index: compact 9
2015/09/01 15

[2015-09-01 16:00] #3215 closed

[2015-09-01 16:01] yichengq commented on #3215
@minjs It has been fixed on master. Welcome to give it a try.

[2015-09-01 16:25] #3419 closed

[2015-09-01 17:03] #2442 closed

[2015-09-01 17:06] xiang90 commented on #3333
@bobelev Any progress on this one?

[2015-09-01 17:21] minjs commented on #3215
Great!

[2015-09-01 18:54] akolb1 commented on #3353
@xiang90 The fix for 3371 missed file bolt_unix_solaris.go which is in bolt. That prevents Solaris compiles.

[2015-09-01 20:47] yichengq opened #3423 "discovery fails with 'etcdmain: client: etcd cluster is unavailable or misconfigured'"
see gist: https://gist.githubusercontent.com/iancoffey/6ef42f03eede2a7ba635/raw/e10728223b2e0b13b88913b478674e386f5fb8ba/gistfile1.txt

I think it happens due to the TODO here: https://github.com/coreos/etcd/blob/master/discovery/discovery.go#L160

[2015-09-01 20:49] #3411 closed

[2015-09-01 21:04] #3193 closed

[2015-09-02 01:02] patrickbcullen opened #3425 "client retry during degraded cluster state"
I have a 5 node etcd cluster. If I shutdown 1 server, the cluster is degraded but still able to accept writes because a quorum of nodes is available. I have noticed that the etcd/client package does not behave as expected in this situation. If I supply a list of all 5 servers it fails on the server that is down and returns an error rather than retrying the request on another server.

The problem c

[2015-09-02 01:02] gouyang opened #3426 "add link for github issue in release page"
Where is the ChangeLog or release file? I search the repository and could not find it.

When read https://github.com/coreos/etcd/releases, it's inconvenient to browse the github issue as it has no link.

eg:
v2.1.2 ChangeLog
 [GH 3143] improve output for command line flag parsing errors

and in this particular issue, the number 3143 should be 3141.

[2015-09-02 01:21] yichengq commented on #3425
The error indicates that context exceeds its deadline, so client returns instead of trying other endpoints.

@mischief I guess fleet does set context timeout, and it uses all time on one request for one endpoint. Maybe you could set `HeaderTimeoutPerRequest` in config(http://godoc.org/github.com/coreos/etcd/client#Config) to limit the time on one request.

[2015-09-02 04:20] xiang90 commented on #3426
We stop maintaining one. We use release to manage it.

We will add link in the next release.

Thanks for reporting.

[2015-09-02 04:20] #3426 closed

[2015-09-02 05:45] yichengq commented on #3417
@fatih This should have been fixed by @AdoHe . Welcome to check it in your project!

[2015-09-02 09:06] fatih commented on #3417
@yichengq thanks much! I'll try it asap. It's weird I didn't get a single notification from this at all. Just checked the spam folder, nope no e-mail from Github there too.

[2015-09-02 09:37] fatih commented on #3417
Confirmed, fix works well: https://github.com/koding/kite/pull/128 Thanks @AdoHe & @yichengq

[2015-09-02 09:37] #3417 closed

[2015-09-02 17:23] xuwang opened #3427 "Auth api: how to change one's own password for non-root users?"
Is there a way to change one's own password for non-root users?
A related questions is how do a non-root user knows what roles being granted?
I would presume that users should have partial capabilities to access one's own auth info, or not?

[2015-09-02 17:24] xiang90 commented on #3427
No. etcd auth system is a single root role system. You can create multiple users with root role though. But they will also have all capabilities.

[2015-09-02 17:24] #3427 closed

[2015-09-02 19:39] bobelev commented on #3333
@xiang90 I tried to monitor network activity and it was fine. Etcd still had these timeouts so I decided to try beta channel. On current beta everything works fine.

[2015-09-02 19:39] #3333 closed

[2015-09-02 20:31] xiang90 commented on #3333
@bobelev You were on stable channel with etcd 2.0.x? We know etcd 2.0.x has some network unsuitability issue under high load.

[2015-09-02 20:39] bobelev commented on #3333
@xiang90 sorry, I didn't specify it in issue header. Yes, I was on 723.3.0 stable. I guess I didn't have a high load because I use etcd for fleet and for some service registration once in a minute for 3-10 servers.

[2015-09-02 20:42] xiang90 commented on #3333
@bobelev I think upgrade to etcd 2.1 will solve the issue. Let us know if you still have the issue after switching to beta as you mentioned.

[2015-09-02 20:47] bobelev commented on #3333
@xiang90 I don't have this issue now on v2.1.1.

[2015-09-02 20:49] xiang90 commented on #3333
@bobelev Thanks for confirming this! Glad 2.1 fixed your issue.

[2015-09-02 21:17] robszumski opened #3428 "docs: elaborate on cluster failure scenarios"
SRV:
 - when do you need to set up the record
 - what happens if this is done incorrectly
 - what do you need to do when a node fails
 - what happens during a DNS outage

Discovery:
 - what happens when the service is down

[2015-09-02 23:02] xiang90 opened #3430 "doc: add docs for experimental health and /debug/vars endpoint"
We introduced two experimental endpoints since 2.2. We need to doc them accordingly.

[2015-09-02 23:49] #3402 closed

[2015-09-03 15:03] tadas-subonis commented on #3276
Hi, actually I am seeing the same again:

[code]

[code]

[code]

I think this also impact fleetd:
[code]

This results in fleetd having 10%-40% CPU and 15% of RAM on 2GB machine.

[2015-09-03 15:05] tadas-subonis commented on #3276
However, I am able to use fleetctl list-units just fine on any of the machines.

[2015-09-03 16:56] yichengq commented on #3425
@patrickbcullen Could you try to set longer context timeout for each call, and set `HeaderTimeoutPerRequest` as a reasonable value(1s) in config? This should solve this issue.

[2015-09-03 22:47] #3400 closed

[2015-09-03 22:50] yichengq commented on #3397
Close due to low activity. Please open new issue if this is a etcd problem.

[2015-09-03 22:50] #3397 closed

[2015-09-03 23:47] raoofm commented on #3411
@xiang90 I checked, this doesn't seem to be part of v2.1.3 release :worried:

[2015-09-03 23:48] xiang90 commented on #3411
@raoofm Sorry. But after my last check, you were running 2.2 release candidate, not v2.1.2. I think 2.1.2 and 2.1.3 are both good.

[2015-09-03 23:51] raoofm commented on #3411
@xiang90 thanks, I'll try

[2015-09-04 00:17] xiang90 commented on #3349
kv related issue are all resolved. We need to resolve the watch/lease ones, but not a blocker for 2.2.

[2015-09-04 00:17] #3349 closed

[2015-09-04 02:49] yichengq commented on #3294
jenkins could be a good option for this. It could build before tagging, and run release procedures automatically. When making the release procedure, I will record and publish the way to config job in jenkins (and maybe alternative commands).

One further problem is that etcd-project-specific key/cert is needed to sign release binaries.

We need more time to make it work with existing testing/relea

[2015-09-04 02:56] yichengq commented on #3294
based on discussion OOL, the existing jenkins platform is fine. will work on this.

[2015-09-04 03:31] xiang90 commented on #3345
@yichengq More thoughts on this one? Or shall we simply keep today's approach?

[2015-09-04 04:06] yichengq commented on #3345
@vcaputo we want etcd to work fine when people `go get github.com/coreos/etcd`, so we don't have the assumption that build will always go through build script.

It could be easy to forget to update the git-derived version file when commiting.

[2015-09-04 04:14] crawford commented on #3345
@yichengq why? That seems like an arbitrary (and silly) requirement. What is the use-case?

[2015-09-04 06:54] yichengq commented on #2473
Based on discussion OOL, we would like to separate v2 and v3 memory benchmark to make each one as clear as possible. For v2 one, we would focus on its memory expectation and limitation.

[2015-09-04 07:56] tadas-subonis opened #3441 "How to manage cluster node replacements after initial setup?"
Hi,

Sorry, if the issue/question is not at the right place, but etcd repo looks like a best choice.

I have been reading docs but it isn't entirely clear how cluster copes with etcd failures and how do I manage that.

So at the moment I have a 5 node cluster that was created using https://discovery.etcd.io discovery . So that means that now at the moment there are 3 members and 2 proxies. That is

[2015-09-04 07:59] tadas-subonis commented on #2908
IMO, it would make much more sense NOT to stop etcd2 and NOT to start etcd. The node that requires etcd while the server is running etcd2 should not be started.

If you stop etcd2 and start etcd automatically, it basically kills entire cluster in a matter of seconds of the fleet unit gets to the other machines as etcd stop communicating.

[2015-09-04 14:27] soellman commented on #3405
We're seeing this too but I can't replicate it using etcdctl (on the proxy nodes). I can say that we're doing a lot of watches on the proxy nodes and using the claws/aioetcd python client (which is probably doing something weird).

Also 2.1.1.

[2015-09-04 15:32] crawford commented on #2908
It is not safe for the _OS_ to do this, but the user can mask etcd.service from their cloud-config. It's best if the user can figure out why etcd is starting in the first place, but then it is completely reasonable for them to mask it.

[2015-09-04 15:35] yichengq commented on #3345
`go get` is the standard way in Go to download and install(https://golang.org/cmd/go/), and we would like to be a good citizen in Go.

This could enable fast try master by simply:
[code]

[2015-09-04 15:53] crawford commented on #3345
`go get` is for downloading packages and their dependencies. In this case, the user is downloading the project and building the binary. It seems completely reasonable to require the user to download _all_ of the necessary pieces, not just the code.

I understand what you are saying though. Other tools are installed via `go get` (which is incredibly misguided) so it's reasonable for us to do the sa

[2015-09-04 16:53] xiang90 commented on #3441
How do I do that?

Please read https://github.com/coreos/etcd/blob/master/Documentation/clustering.md#public-etcd-discovery-service and change size para based on your requirement (`size=5`).

https://github.com/coreos/etcd/blob/master/Documentation/runtime-configuration.md#replace-a-failed-machine Here is the answer you were looking for.

To understand reconfiguration more, please read https://git

[2015-09-04 16:53] #3441 closed

[2015-09-04 17:23] tadas-subonis commented on #3441
I am aware of that, but now cluster is created and I want to change that. And I don't want to recreate cluster every time I decide to change the number of members.

After reading the second link, it seems that for the new node in its config, I should specify initial-cluster and cluster state like this, while disabling discovery, right?
[code]

As per third link

It would be nice to have examples o

[2015-09-04 17:25] xiang90 commented on #3441
Right.

Can you submit a feature request to coreos/doc repo? Thanks a lot!

[2015-09-04 17:26] #3306 closed

[2015-09-04 18:25] xiang90 commented on #3414
@raoofm Let try your second proposal. Do not print out the warning at all unless both of these failed. How do you think?

[2015-09-04 18:55] raoofm commented on #3414
@xiang90 yes, this is good

[2015-09-04 19:00] xiang90 commented on #3414
@raoofm If you would like to work on this, then it would be great!

[2015-09-04 22:31] yichengq commented on #3294
After digging into it, I would stage it into two phases:
1. standard release procedure. It needs a document about the standard procedure from tag to release binaries. Also I would make it as clear and simple as possible. And maybe some precheck script.
2. automated release procedure. It needs to integrate with jenkins.

I think it doesn't deserve efforts to build an automated release procedure wit

[2015-09-04 23:02] crawford commented on #3294
Jenkins setup should take no more than 5 minutes. The tricky part is writing the scripts (which you will need either way). I'm happy to show you exactly how to set up Jenkins, but we need to get the build procedure squared away first. Jenkins will have more of a benefit once we add Windows and OS X builders.

[2015-09-05 07:38] tadas-subonis commented on #3441
Do I need to specify all etcd member nodes in initial-cluster when creating a new node or is it enough to have something like this?:
[code]

[2015-09-05 15:08] xiang90 commented on #3345
@yichengq @crawford I hope we can make go tool chain work for etcd even if it is not perfect. If there is a huge disadvantage for making go tool chain work, then we may consider dropping the support of it.

[2015-09-05 15:27] #3430 closed

[2015-09-05 15:51] crawford commented on #3345
I spoke with @yichengq yesterday about the versioning (unrelated to this) and realized that you are also using the version numbers on the wire (the combination of version and minVersion determines who is allowed to communicate). Hard-coding the version number is the only safe way to do this. A mixture of git tags and hard-coded strings is asking for trouble. You should stick with what you have.

[2015-09-05 17:39] yichengq commented on #3345
@crawford Agree.

[2015-09-05 17:39] #3345 closed

[2015-09-06 07:40] shafreeck commented on #1232
I really need this feature on an heavy online envrionment. I'd like to implement it. @xiang90 Is there any docs telling me where I can start?

[2015-09-06 08:12] AdoHe commented on #1232
@shafreeck @YanXiaoping I am afraid this feature is still not ok. And the latest code is on the `master` branch.

[2015-09-06 17:21] xiang90 commented on #1232
@AdoHe is correct.
@shafreeck This will only be added into v3 api.

[2015-09-07 02:54] shafreeck commented on #1232
@AdoHe Are you working on this ? How is the progress now ? I am going to keep watching on this feature, @AdoHe @xiang90 Could you guys supply some documents about this feature ?

I am willing to get some details about the implementation of this feature, then I can make a self-using patch based on dev-2.2 and keep compatible with the `v3 api`

I am sad to hear that the api will only be added into v

[2015-09-07 03:54] #3414 closed

[2015-09-07 04:04] AdoHe commented on #1232
@xiang90 any progress on this? I am afraid it is a little bit difficult for people make self-using patch and keep compatible with the `v3 api`

[2015-09-07 05:57] shafreeck commented on #1232
@AdoHe

I don't understand why ? The API has big changes ?

[2015-09-07 07:30] tdeheurles opened #3452 "Question: No fix cluster"
**I'm trying to have that architecture :**

- Start a CoreOS
   - if first : bootstrap a single node etcd cluster
   - else : join the cluster

- when a node deconnect
   - after a few moment the cluster remove it

I know that the good way should be to have a 3 static nodes cluster and proxy to this but the goal is to start VitrualMachine that will join together automatically. I'd like to not impo

[2015-09-07 07:58] ibotty opened #3453 "node cannot join cluster, but r/o access works"
I am running etcd-2.0.13-2.fc22.x86_64 from fedora atomic host.

node1 has etcd with a populated data dir, node2 has no data dir, but had connected in the past (server failure).

I get the following errors setting up raft. etcdctl r/o access works on both nodes (after node2 got its snapshot).

### node1 log excerpt

[code]

### node2 log excerpt

[code]

### etcd configuration

[code]

### SRV rec

[2015-09-07 08:51] jfwang213 opened #3454 "upgrade from 2.1 to 2.2, then auth is failed"
hi all,
I have an ectd cluster, and auth is enabled. After I upgrade from 2.1 to 2.2, this command failed.
./etcdctl -u root user list
Password:
Insufficient credentials. I have inputed correct password.

Thanks.

[2015-09-07 09:12] #3454 closed

[2015-09-07 13:03] michalmedvecky commented on #3405
The same thing started happening to me after upgrade from coreos stable to coreos beta.
Sep 07 13:02:02 test etcd2[677]: 2015/09/7 13:02:02 proxy: failed to direct request to http://10.240.135.37:4001: dial tcp 10.240.135.37:4001: i/o timeout
Sep 07 13:02:02 test etcd2[677]: 2015/09/7 13:02:02 proxy: marked endpoint http://10.240.135.37:4001 unavailable
Sep 07 13:02:02 test etcd2[677]: 2015/09/7 1

[2015-09-07 14:15] bboreham opened #3455 "Release page docker instructions fail"
I tried the command shown to run etcd using docker [on the release page](https://github.com/coreos/etcd/releases/tag/v2.1.3)

But trying to use my new etcd fails:

    $ ./etcdctl set mykey "this is awesome"
    Error:  cannot sync with the cluster using endpoints http://127.0.0.1:4001, http://127.0.0.1:2379

Following the longer example [at the top of this page](https://coreos.com/etcd/docs/lates

[2015-09-07 17:11] xiang90 commented on #3455
@bboreham By default, etcd listen on localhost. It does run inside the container. Just the network setup is not correct. In the next release doc we will point it to the docker guide.

[2015-09-07 17:11] #3455 closed

[2015-09-08 03:49] raoofm opened #3457 "Doc for tuning specifies incorrect upper limit of election timeout"
As per the doc for tuning

The upper limit of election timeout is 50000ms whereas it should be 5s or 5000ms

[2015-09-08 11:48] tadas-subonis commented on #3441
@xiang90 ping.

[2015-09-08 15:46] raoofm commented on #3457
Closing as election timeout should be an order of magnitude bigger than broadcast time

[2015-09-08 15:46] #3457 closed

[2015-09-08 17:40] yichengq commented on #2473
I have done the memory usage benchmark on 2.2.

We have done some memory benchmark on storage package, but have not done it for v3 because it doesn't have cluster version today. It is not a blocker for 2.2 release, so move it to 3.0.

[2015-09-08 19:02] raoofm opened #3460 "Proxy doesnt specify in the logs whether it is listening on http or https"
Proxy doesnt specify in the logs whether it is listening on http or https.

It just specifies the host name on which it is listening on but not the type of connection http or https

[2015-09-08 19:03] xiang90 commented on #3460
Do you want to send a pull request to make it clear?

[2015-09-08 19:06] raoofm commented on #3460
sure i will

[2015-09-08 19:13] raoofm commented on #3460
tested this... works fine

[2015-09-08 19:14] xiang90 commented on #3460
can you send a pull request? the change looks good to me.

[2015-09-08 20:31] yichengq opened #3462 "rafthttp: clean up logging for dropped messages"
2015-09-08 20:21:32.210455 I | etcdmain: etcd Version: 2.2.0-rc.0+git
2015-09-08 20:21:32.210508 I | etcdmain: Git SHA: a44da0b
2015-09-08 20:21:32.210526 I | etcdmain: Go Version: go1.4.2
2015-09-08 20:21:32.210544 I | etcdmain: Go OS/Arch: linux/amd64
2015-09-08 20:21:32.210566 I | etcdmain: setting maximum number of CPUs to 1, total number of available CPUs is 2
2015-09-08 20:21:32.210645 N | e

[2015-09-08 20:45] xiang90 commented on #3452
No.

You can read through https://github.com/coreos/etcd/blob/master/Documentation/runtime-reconf-design.md#permanent-loss-of-quorum-requires-new-cluster. I believe it answers all of your questions.

[2015-09-08 20:45] #3452 closed

[2015-09-08 20:54] xiang90 commented on #3405
@f0 @soellman @micahhausler I failed to reproduce with a 3 member cluster + 1 proxy setup. Can you provide me a way to reproduce this issue? From the logging, this simply means the client closed a http request before it gets the response.

[2015-09-08 20:56] xiang90 commented on #3405
@michalmedvecky

Your proxy cannot connect to the etcd cluster you set. You have to check your configuration.

[2015-09-08 21:32] yichengq commented on #3453
You should not connect a previous member that loses its data dir to the cluster again. This is an unsafe operation and is not allowed.

Could you check the network between members works well? The log says that node2 always cannot send messages to node1.

[2015-09-08 21:39] yichengq commented on #3453
Check the life cycle of data directory here: https://github.com/coreos/etcd/blob/master/Documentation/admin_guide.md#lifecycle for more details.

[2015-09-08 21:59] xiang90 commented on #3460
Fixed by #3465

[2015-09-08 21:59] #3460 closed

[2015-09-08 22:01] xiang90 commented on #3363
@fraenkel If you want to add a feature flag without affecting other stuff, I think it would be fine.

[2015-09-08 22:01] xiang90 commented on #3363
basically, before marshaling the response, check the flag. If the flag is set, then set prevNode or whatever you think is unnecessary to nil.

[2015-09-08 22:02] yichengq commented on #3453
Could you check the member list in both nodes? https://github.com/coreos/etcd/blob/master/Documentation/other_apis.md#list-members

[2015-09-09 02:03] durzo opened #3466 "frequent elections causing request timeout"
I have a 3 node etcd v2.1.2 cluster in AWS spread over 3 availability zones in the same region.

Roughly once a day, I am seeing elections occurring, causing all pending requests to be dropped (timeout).

Ping time between each node is never more than 1.5ms, lowest being 0.6ms
CPU is never more than 3%, Disk I/O is almost idle (high read, very low write cluster)

I am at a loss to explain why thes

[2015-09-09 02:15] xiang90 commented on #3466
Yes. This is expected. We improved logging around this in 2.2. It will log as the timeout is due to election. We can buffer some request and resend in the future.

I am not sure why. We have an integration cluster running on ec2 m3.large machines. It accepts 2000 small writes/second with default timeout. Leader election happens once a few days due to network spikes or CPU issues (yea... this is th

[2015-09-09 02:18] xiang90 commented on #3466
This is also duplicate with https://github.com/coreos/etcd/issues/3380.

I am closing this in favor of #3380

[2015-09-09 02:18] #3466 closed

[2015-09-09 02:19] xiang90 commented on #3466
@durzo BTW, do you know how large is your snapshot?

[2015-09-09 02:21] xiang90 commented on #3466
Also if you can provide logging before 06:54:36 of all three member, then I can have more context.

[2015-09-09 02:46] tdeheurles commented on #3452
Perfect, thank you @xiang90

[2015-09-09 02:47] xiang90 commented on #3452
@tdeheurles Not a problem at all. Let us know if we can improve our docs!

[2015-09-09 04:59] durzo commented on #3466
snapshots are currently 8.2M in size, I am also using --snapshot-count=10000

logs prior to 06:54:36 on all nodes:

etcd1:
[code]

etcd2:
[code]

etcd3:
[code]

[2015-09-09 05:07] durzo commented on #3466
I am running my nodes on t2.medium instance classes. While these are "burstable" CPU, the usage never goes over 3%, and never eats into the burstable CPU credits. They do have 2vCPU and I am exporting GOMAXPROCS="2" in my upstart init script.

I ran the cluster on m3.mediums for a period, but it did not solve the issue.

One thing I thought of was these issues seemed to come into play when Metrics

[2015-09-09 05:11] xiang90 commented on #3466
@durzo I checked our cluster. The election rate is about once per week or longer. Our cluster is under super high load (90%+ CPU usage + O(100) IO/s)

No. I do not think they are related. Is it possible that you have a slow disk? And a fsync takes more than 1 second or so?

[2015-09-09 05:14] xiang90 commented on #3466
@durzo From the log, I did not see any network issue either. It does not relate to snapshot either...

/cc @yichengq Any thought?

[2015-09-09 05:17] xiang90 commented on #3466
@durzo Wait... I do not think you gave me all the logs on node1. Or there is something strange happened on node1...

[2015-09-09 05:18] xiang90 commented on #3466
@durzo Please provide me continuous log for node1 from 2015/09/9 06:09:13 to 2015/09/9 07:10:00

[2015-09-09 05:19] durzo commented on #3466
I am using magnetic EBS storage. General Purpose (SSD) is not really an option as it is slower than magnetic unless over a certain size (100GB) and our disks are only 10GB in size. Cost would become an issue here for 3 x 100GB SSD.

I can test disk speed if you would like, but Cloudwatch reports almost no IO load and 0 queue length for those disks.

[2015-09-09 05:19] xiang90 commented on #3466
@durzo See my previous comments.

[2015-09-09 05:20] durzo commented on #3466
etcd1 complete logs:
[code]

[2015-09-09 05:31] xiang90 commented on #3466
@durzo

It looks like node1 <-> node3 did queue up some messages:

These message should be received before the leader was elected. /cc @yichengq
[code]

[2015-09-09 05:36] durzo commented on #3466
related: my python-etcd library reported this error 7 times at approx 06:54:38
[code]

[2015-09-09 05:38] durzo commented on #3466
python-etcd library connects to a local etcd running in proxy mode, which is then connecting to the cluster. all within the same AWS A-Z.

[2015-09-09 05:41] xiang90 commented on #3466
@durzo From the logging, I think there was a network delay (maybe caused by go runtime too). I am not sure why...

[2015-09-09 05:47] yichengq commented on #3466
@durzo Could you share the metrics info with us through the metrics endpoint /metrics? It includes some stats in 2.1 and may be helpful

[2015-09-09 05:49] durzo commented on #3466
[code]

[2015-09-09 06:02] yichengq commented on #3466
Maybe it is the problem of fsync on disk. Its 99% latency is 48ms, and if its max value >2s, it could be a problem.

[2015-09-09 06:11] durzo commented on #3466
Can I ask what disk types you have in your AWS integration cluster?

[2015-09-09 07:52] ibotty commented on #3453
Thank you for the feedback.

My main problem seems to be answered in your second comment's link. I'll have to remove the member before adding the new member.

Unfortunately, removing the member did not work, when node2 died. I guessed at that point because of quorum. We will have a three-node cluster in production, I was just testing how etcd would behave when two of three machines die.

Network b

[2015-09-09 07:52] #3453 closed

[2015-09-09 10:23] fceller commented on #1972
Unfortunately we are focused on Linux at the moment. Therefore I'm afraid I cannot at work on this in the next months - as much as I would like to do it.

[2015-09-09 13:50] AdoHe commented on #1972
@xiang90 @fceller I did some simple test, it indeed works.

[2015-09-09 14:43] yichengq commented on #3453
@ibotty If the cluster loses majority, you could follow disaster recovery procedure to create a new cluster: https://github.com/coreos/etcd/blob/master/Documentation/admin_guide.md#disaster-recovery

[2015-09-09 15:24] ashkarin opened #3468 "Discovery issue"
Hi,

I am trying to establish cluster by using discovery, but unsuccessful.

**Setup:**
3x Ubuntu 14.04 VM runned using Vagrant, each was configured to use a private network:

Node1: ```config.vm.network "private_network", ip: "192.168.20.2"```
Node2: ```config.vm.network "private_network", ip: "192.168.20.3"```
Node3: ```config.vm.network "private_network", ip: "192.168.20.4"```

**Etcd Version:*

[2015-09-09 15:28] xiang90 commented on #3468
@ashkarin Please check

[code]

The configuration you gave to discovery is not what you stated in your original issue. I think you should not use localhost at all.

Try to create a new token and do not use localhost in all 3 members.

[2015-09-09 15:32] ashkarin commented on #3468
@xiang90 Done, but it doesn't helped unfortunately:
[code]
Node 1:
[code]
Node 2:
[code]

[2015-09-09 15:44] xiang90 commented on #3468
@ashkarin I still see localhost in the discovery url: https://discovery.etcd.io/d8f1cc04af25bfca97b874a127b75424.

I think you should set `--advertise-peer-url` correctly. Check https://github.com/coreos/etcd/blob/master/Documentation/clustering.md#public-etcd-discovery-service

[2015-09-09 15:51] ashkarin commented on #3468
@xiang90 Thank you! :+1:  I have missed this flag when I was changing configuration commands. :(

[2015-09-09 15:51] #3468 closed

[2015-09-09 15:54] xiang90 commented on #3468
@ashkarin No problem at all.

[2015-09-09 15:59] yichengq commented on #3466
@xiang90 It could be better to have metrics exposed some maximal value that has been observed. So we could know its maximal possible value.

We use n1-standard-1 machines with 200G Standard persistent disk.

[2015-09-09 16:04] xiang90 commented on #3466
@yichengq @durzo Yea. The cluster is on GCE. It is similar with m3.large with spin disk.

[2015-09-09 16:14] rfyiamcool opened #3469 "etcd support EPHEMERAL ? same as zookeeper"
etcd support EPHEMERAL ? same as zookeeper  .  If supported ，how to use etcd‘s ephemeral?

[2015-09-09 16:15] xiang90 commented on #3469
etcd supports ttl key and ttl directory. See https://github.com/coreos/etcd/blob/master/Documentation/api.md#using-key-ttl

[2015-09-09 16:15] #3469 closed

[2015-09-09 18:19] yichengq commented on #3425
Close this due to low activity. Feel free to open new issue if this is still a problem.

[2015-09-09 18:19] #3425 closed

[2015-09-09 18:20] xiang90 commented on #2473
@yichengq Moving this to 2.3. We will have a clustered version of api+storage in 2.3.

[2015-09-09 18:21] xiang90 commented on #3281
@barakmich Ping.

[2015-09-09 19:10] kayrus opened #3470 "Improve etcd usability"
Main goal is to add "join" command for etcd daemon:

[code]

Second goal is create web interface where you can:

* join existing cluster
* create new cluster
* if you run cluster, add node to your existing cluster

As an example you can review this couchbase doc: http://docs.couchbase.com/admin/admin/Tasks/rebalance-adding-nodes.html

p.s. din't have time to think more on implementation details

/

[2015-09-09 19:13] xiang90 commented on #3470
@kayrus Sorry we are not going to support this. See https://github.com/coreos/etcd/blob/master/Documentation/runtime-reconf-design.md#two-phase-config-changes-keep-you-safe.

We are aware of this design and intentionally do not support it.

[2015-09-09 19:18] yichengq commented on #3470
I think first goal is not good, and current workflow is what we learn after interacting with users.

The web interface one is a good one, and it could make users to monitor and update the cluster easily.

[2015-09-09 19:19] yichengq commented on #1185
We have reduced the number of storeRecorder, and we will keep v2 store tests as what they are today, so it is fine to not simplify it more.

BTW, we have extracted recorder to a common package at https://github.com/coreos/etcd/blob/master/pkg/testutil/recorder.go

[2015-09-09 19:20] #1185 closed

[2015-09-09 19:36] timothysc opened #3471 "New Client : Nodes"
Isn't an exposed as a separate type any more and Len() Less() Swap() doesn't exist on Nodes in new client for sorting.

[2015-09-09 20:04] xiang90 commented on #3471
@timothysc This will be our highest priority after releasing 2.2.

[2015-09-09 23:31] yichengq opened #3472 "use etcd-project specific key/cert to sign binaries"
etcd project needs a etcd-project specific key/cert, and use it to sign built release binaries. I use my personal key/cert to sign binaries today.

/cc @crawford

[2015-09-09 23:32] yichengq commented on #3294
For jenkins integration, i have implemented a jenkins job that could build all binaries and upload them to github release at https://jenkins.coreos.systems/job/etcd-release/ . It is a good first step. The left part is at  #3472. /cc @crawford

The release script has been merged, and waiting for release guide to be merged.

[2015-09-09 23:33] xiang90 commented on #3294
I do not think people outside coreos can access to https://jenkins.coreos.systems/job/etcd-release/

[2015-09-09 23:35] yichengq commented on #3294
@xiang90 This is used to facilitate the procedure inside coreos, and its manual steps are all recorded in the release guide.

[2015-09-09 23:36] xiang90 commented on #3294
@yichengq Then we should not bring it up on github at all.

[2015-09-09 23:38] yichengq commented on #3294
@xiang90 ok

[2015-09-10 00:46] #3294 closed

[2015-09-10 00:46] yichengq commented on #3294
Close it because release guide is merged.

[2015-09-10 02:56] danielschonfeld opened #3474 "etcd in 766.3.0 ignores listen-client-urls on initial load"
This started after running the update engine and receiving the 766.3.0 update.
My cloud config contains:

[code]

When the machine boots up this is what journalctl shows:
[code]

When i restart it manually after boot, utilizing `sudo systemctl reboot etcd2`, journalctl shows:
[code]

[2015-09-10 02:58] xiang90 commented on #3474
@danielschonfeld I think this has nothing to do with etcd, right?

[2015-09-10 03:00] danielschonfeld commented on #3474
@xiang90 uhm? how do you deduct that?

[2015-09-10 03:01] xiang90 commented on #3474
@danielschonfeld Can you reproduce without cloud-init? (you have tried to reproduce by rebooting... etcd is fine) I am 99.99% sure you did not pass args into etcd correctly for some reason.

[2015-09-10 03:03] xiang90 commented on #3474
@danielschonfeld also it is not just client-url, but also peer-url. Basically, nothing is passed into etcd.

[2015-09-10 03:04] danielschonfeld commented on #3474
@xiang90 correct and i understand what you mean now.  No i did not try starting etcd manually with those flags to see if it is indeed etcd with the problem or somekind of a systemd/cloud-init problem

I can try a bit later to do that and report back

[2015-09-10 03:06] xiang90 commented on #3474
@danielschonfeld Thanks

[2015-09-10 03:45] liangsuilong opened #3475 "Etcd fails to upgrade from 0.4.6 to 2.13"
Here is etcd log. Converting data from 0.4 to 2.0 looks OK. But when the program loads cluster information, it is down.

The etcd is not configured for cluster. It runs standalone.

2015/09/10 02:36:41 etcdmain: etcd Version: 2.1.3
2015/09/10 02:36:41 etcdmain: Git SHA: 30801de
2015/09/10 02:36:41 etcdmain: Go Version: go1.5
2015/09/10 02:36:41 etcdmain: Go OS/Arch: linux/amd64
2015/09/10 02:36:41

[2015-09-10 03:46] robszumski opened #3476 "docs: expand member update reconfiguration section"
The [existing reconfig docs](https://github.com/coreos/etcd/blob/master/Documentation/runtime-configuration.md#update-a-member) don't mention the different between cluster-level settings like peerURL and local settings like clientURL.

I would have expected this to be different. Instead of:

[code]

Add `peerURLs=` so you know what IP address you are updating:
[code]

Next issue: what if I wanted

[2015-09-10 03:46] yichengq commented on #3475
etcd only supports snapshot migration well from 0.4 to 2.1: https://github.com/coreos/etcd/blob/master/Documentation/04_to_2_snapshot_migration.md

Sorry for the inconvenience.

[2015-09-10 04:13] liangsuilong commented on #3475
My etcd snapshot migrates from 0.4.6 to 2.1.3. The range should be in the range as you say. l think it should works.

First time, I try to upgrade etcd from 0.4.6 to 2.0.13. It fails. The error log is the same as the one I post. And I continue try to upgrade to 2.1.3. It fails again.

But I tested another etcd instance. Upgrading from 0.4.6 to 2.0.13, it works fine.

[2015-09-10 04:22] danielschonfeld commented on #3474
[code]

[2015-09-10 04:24] xiang90 commented on #3474
@danielschonfeld this works as expected.

The published addr is what you gave. So you confirmed etcd is good.

[2015-09-10 04:25] yichengq commented on #3475
@liangsuilong You could not use the same data directory for the new etcd. Use a new data dir, then it should be fine.

[2015-09-10 04:26] danielschonfeld commented on #3474
@xiang90 i made a mistake in the test above, but none the less, you're right etcd is fine.

where do I go next in hunting this? who would i put this issue for if this is a systemd bug?

[2015-09-10 04:31] xiang90 commented on #3474
@danielschonfeld To be honest, I am not sure. If you can reliably reproduce this, you can submit a bug to  https://github.com/coreos/bugs first. Then other people from CoreOS or I can help you better. Sounds good?

[2015-09-10 04:33] danielschonfeld commented on #3474
Yes that works, soon as my cluster stops working on what its doing ATM ill restart it and try to print out the environment variables the process was started with when this doesn't work

[2015-09-10 04:39] danielschonfeld commented on #3474
so I just confirmed that indeed it does not load with the correct environment variables that should have been there.  i'll go ahead and close this issue and open it on coreos/bugs

[2015-09-10 04:39] #3474 closed

[2015-09-10 04:57] mitake opened #3477 "Potential deadlock by adding new members?"
Hi etcd folks,

I tested the membership changing functionality of etcd, and found a behavior which seems to be a little bit dangerous.

### howto

 1. construct 3 node cluster
 2. add 3 new nodes with etcdctl member add, without starting the new members

### what happens

After finishing adding 3 nodes, a quorum number of the cluster becomes 4. It means membership change requires at least 4 nodes

[2015-09-10 05:17] #3470 closed

[2015-09-10 07:10] raoofm commented on #3414
@xiang90 will this be part of 2.2.0, if not then I think it is safe to do so.
We look for warnings and errors in the log and this seems to be a false warning. I'm using locally compiled etcd but would like to use a release version for moving to prod.

[2015-09-10 07:10] mitake commented on #3477
I created a PR for this problem: https://github.com/coreos/etcd/pull/3479

[2015-09-10 10:45] soellman commented on #3405
No I can't reproduce it with a test cluster.. I'm guessing that the client I'm using is buggy.

However I think that the message "proxy: client xxx closed request prematurely", if the operation isn't actually a problem for etcd, should be at debug level and not show up in the regular log.

[2015-09-10 14:11] xiang90 commented on #3405
@soellman I am still not sure if this is a client error or a proxy error. My best guess is that: this is a client error. So I want to reproduce it make sure. However I failed :(

[2015-09-10 14:13] michalmedvecky commented on #3405
Sorry guys, my problem was that one of my etcd nodes was really down.

[2015-09-10 14:19] xiang90 commented on #3405
@michalmedvecky Ah. OK. No problem. I have to count on @f0 then. :)

[2015-09-10 15:56] dkiser opened #3480 "Doc fix to mention IANA assignments for 2379/2380"
When reading https://github.com/coreos/etcd/blob/master/Documentation/configuration.md it was confusing to see the old deprecated port numbers of 4001/7001 being used.

I hopped onto IRC to learn that https://www.iana.org/assignments/service-names-port-numbers/service-names-port-numbers.xhtml?search=etcd happened.

Could we add a notice banner somewhere so reader's aren't confused why some doc exa

[2015-09-10 16:21] raoofm commented on #3414
@xiang90 ping?

[2015-09-10 16:26] xiang90 commented on #3414
@raoofm This will be part of 2.2 release.

[2015-09-10 17:08] xiang90 commented on #3405
@fasaxc @webner @mwitkow-io @sorah

I know you guys are running etcd with proxy in production. Have you tried etcd 2.1? Do you see this behavior?

[2015-09-10 17:44] xiang90 commented on #3475
@liangsuilong Or you can remove your old 0.4 data-dir before you start etcd again.

[2015-09-10 17:44] #3475 closed

[2015-09-10 17:54] yichengq commented on #3471
@timothysc Working on it now.

[2015-09-10 19:29] #3471 closed

[2015-09-10 19:29] yichengq commented on #3471
@timothysc Let us know if there are other issues.

[2015-09-10 20:52] onlyjob opened #3484 "short local import paths in .proto files"
45390b9 introduced regression causing FTBFS on Debian hence downstream(s) now need to carry a new patch to compensate for breakage. I would understand if path were pre-pended with `github.com/coreos/etcd/Godeps/_workspace/src/` as it is done for other bundled packages but trimming from `github.com/gogo/protobuf/gogoproto/gogo.proto` to `gogoproto/gogo.proto` seems to be completely wrong. Please re

[2015-09-10 20:53] xiang90 commented on #3484
/cc @tamird

[2015-09-10 20:59] onlyjob opened #3485 "Needless fork: github.com/rakyll/pb"
New release 2.2.0 bundles [github.com/rakyll/pb](http://github.com/rakyll/pb) which appears to be an outdated fork of [github.com/cheggaaa/pb](http://github.com/cheggaaa/pb). The latter seems to be better maintained.
Please consider using original project.

[2015-09-10 21:01] bdarnell commented on #3484
Can you show the failure and how you're running the build? The proto files should be irrelevant since a normal "build from source" should use the checked-in `.pb.go` files.

Proto import paths are not go import paths; using `import "github.com/..."` in a proto file makes those proto files difficult or impossible to use in other languages. Any build scripts need to be updated to set appropriate pro

[2015-09-10 21:34] onlyjob commented on #3484
I believe the particular failure is irrelevant as quite obviously the namespace was broken. Also it is inconsistent from how other bundled packages handle private import paths.
FTBFS happens on command

    protoc -I/usr/share/gocode/src -I/usr/include -Ietcdserver/etcdserverpb/ --gogo_out=etcdserver/etcdserverpb/ etcdserver/etcdserverpb/etcdserver.proto

I strongly disagree with "should use the c

[2015-09-10 21:36] xiang90 commented on #3484
I think `*.pb.go` is part of our source actually. You do not need to rebuild that part.

[2015-09-10 21:37] bdarnell commented on #3484
If you want to regenerate protos before building, that's fine, but do so with `scripts/genproto.sh` (which was changed in 45390b9 to support the new import paths). If you have your own invocation of `protoc` it's your responsibility to keep it up to date when genproto.sh changes.

[2015-09-10 21:54] onlyjob commented on #3484
@xiang90, We do need to re-build pre-built files. It is our (Debian) policy and best practice.

@bdarnell, I'm sorry for attempting to do the right thing but with all due respect it is not possible to use `scripts/genproto.sh` with release tarball in clean build environment (on buildd servers) without internet access. Besides `genproto.sh` set `PREFIX` that we deliberately not using in favour of s

[2015-09-10 22:11] bdarnell commented on #3484
It sounds like what we need is to split `genproto.sh` up so that you can use the part that runs `protoc` and `sed` without the part that runs `go get`. Also, the `$PREFIX` in that script has nothing to do with system libraries (it's not `./configure --prefix`); it's only used as input to the `sed` scripts that work around bugs in `protoc-gen-go`.

The canonical import path for a `.proto` file is i

[2015-09-10 22:49] inconshreveable opened #3488 "v3 API: Support scripting instead of (or in addition to) range-read, CAS, CAD, multi-object transactions"
I've encountered a number of applications where etcd would be an excellent fit if I were able to range query or atomically manipulate multiple keys. That makes the proposal for the v3 API very exciting!

While transactions and range queries are general purpose, I wonder whether you will increasingly encounter applications and use-cases which demand ever more specialized operations. For example, I

[2015-09-10 22:55] xiang90 commented on #3485
/cc @yichengq

[2015-09-10 23:01] yichengq commented on #3485
@onlyjob I need some time to try it out to see whether they perform the same/meet our requirements.

[2015-09-10 23:46] onlyjob commented on #3484
Fair enough, I fixed the problem by changing `protoc` argument from `-I/usr/share/gocode/src` to `-I/usr/share/gocode/src/github.com/gogo/protobuf` in build script. Thank you for your considerations. As far as I'm concerned this bug can be closed.

[2015-09-11 00:08] onlyjob commented on #3485
Thank you. At least _etcd-2.2.0_ builds just fine with github.com/cheggaaa/pb.
IMHO using only well-maintained projects is important -- file a bug if it doesn't meet your requirements but please be very reluctant to integrate (seemingly) unmaintained forks where you can't even open a ticket if something goes wrong...

[2015-09-11 01:20] chansn commented on #2590
Is this not resolved in v2.2 by using NewKeysAPIWithPrefix? Or did I misunderstand the issue here?

[2015-09-11 02:37] yichengq commented on #3484
@bdarnell @onlyjob Glad to see the problem is solved. :)

[2015-09-11 02:37] #3484 closed

[2015-09-11 03:12] wptad opened #3490 "etcdhttp: unexpected error: etcdserver: request timed out"
Every several minutes, it will change leader and vote again, which cause all dependences cannot work for several seconds.

* OS info:

[code]

* etcd2 logs:

[code]

* health info

[code]

[2015-09-11 03:17] xiang90 commented on #3490
@wptad etcd 2.0.x has some network issue under highload. I would suggest you to upgrade it to etcd 2.1 and give etcd more CPUs.

[2015-09-11 03:19] xiang90 commented on #3490
To give it more CPUs, see https://github.com/coreos/etcd/blob/master/Documentation/admin_guide.md#maximum-os-threads.

[2015-09-11 09:52] onlyjob opened #3491 "unable to remove member; unable to setup cluster"
On etcd-2.2.0 I'm trying to setup cluster for the very first time (I'm new to etcd). It is so incredibly hard that after 5+ hours of continuous effort I still can't bootstrap second node. Could someone please point out clear setup instructions or better update documentation (particularly "Add New Member" section) with working example please?

Anyway, local _etcd_ works fine and responds to `ls`, `

[2015-09-11 10:03] AdoHe commented on #3491
@onlyjob could you provide much more information? how you setup your first node and setup the initial cluster?

[2015-09-11 11:20] spyrospph opened #3493 "keeping 3 node cluster health"
Hi,

Using coreos 766.3.0 with

etcd Version: 2.1.2
Git SHA: ff8d1ec
Go Version: go1.4.2
Go OS/Arch: linux/amd64

Actions:

1) Bring up 3 node cluster which is healthy.
2) One of the nodes terminates due to machine failure
3) ASG brings another node up

Issue:

The cluster goes immediately into unhealthy mode and systemctl commands break:

etcdctl member list
client: etcd cluster is unavailable or

[2015-09-11 14:20] xiang90 commented on #3493
@spyrospph From the log, your etcd cluster is fine. etcd will always try to find the "dead" member. That is basically why etcd can recover from member failure. I am not sure why etcdctl does not work. I guess it is not configured correctly. Can you do etcdctl --debug member list?

[2015-09-11 14:30] spyrospph commented on #3493
thx @xiang90 qwill retry experiment and let you know

[2015-09-11 14:31] xiang90 commented on #3493
@spyrospph Probably we can change the logging to debug level. What do you think?

[2015-09-11 14:35] spyrospph commented on #3493
ok how do i enable logging level to debug?

[2015-09-11 14:37] xiang90 commented on #3493
@spyrospph I mean we can change the error logging at etcdserver (what made you think the entire cluster is unhealthy to debug mode).

[2015-09-11 15:25] spyrospph commented on #3493
hi @xiang90

retried my test and it seems to work - therefore i do not know why it did not function as expected before.

When I do etcdctl member list I get 3 nodes as expected.

Then I etcdctl member remove <killed node>.

So I have 2 nodes.

Another question is: when I add a member it succeeds:

sudo etcdctl member add infra3  http://10.30.1.163:2380
Added member named infra3 with ID 61f1fcd5290

[2015-09-11 15:25] #3493 closed

[2015-09-11 16:41] bboreham commented on #3455
This seems to have been forgotten.

[2015-09-11 16:58] yichengq commented on #3455
@bboreham Updated. I have even made it simpler to start.

[2015-09-11 20:04] devx opened #3496 "SSL Peer Handshake fails because missing IP SANs"
When trying to build an SSL Peer Cluster on AWS with a wildcard cert, it fails.  The failure is because the SSL Cert Does not have a valid IP.  The error I get is the following.

[code]
I assume this would be the same as if i used etcd-ca and used the --domain= option.  I will try later to validate that assumption.

[2015-09-11 21:42] yichengq commented on #3496
We document our security model here: https://github.com/coreos/etcd/blob/master/Documentation/security.md and we provide a full cfssl example here: https://github.com/coreos/etcd/tree/master/hack/tls-setup

Stdlib in Go requires you to have SANs that match your identification to use the cert, or it will reject it. @gtank Right?

[2015-09-11 23:11] minjs opened #3498 "snapshot file is empty after power outage and etcd can not start."
etcd will fail to start.

------------
etcd.log
STARTING ETCD...at name:
localhost.22F89E6E
localhost.22F89E6E
-data-dir=/var/shape/data/localhost.22F89E6E
2015/09/10 16:25:10 etcd: listening for peers on http://127.0.0.1:7001
2015/09/10 16:25:10 etcd: listening for client requests on http://127.0.0.1:4001
2015/09/10 16:25:10 snap: unexpected empty snapshot
2015/09/10 16:25:10 etcd: stopping liste

[2015-09-11 23:31] minjs commented on #3498
I am not sure if this is root cause.  But Snapshotter.go save() use ioutil.WriteFile(), which is not atomically. Could it be atomically by writing a temp file and move to snapshot file or has some way to validate snapshot file?

[2015-09-12 02:16] robszumski opened #3499 "docs: explain how to manually promote a proxy to a consensus member"
Explained in https://docs.google.com/document/d/1SaIx6y1CJg3Uc5tuYfrXSO85ilJ69tUBmueodl7uftI/edit, there should be documentation around promoting a proxy to a full member of the cluster.

Per linked doc, the steps that worked for the user were:

- Modify userdata to list the node in initial cluster members
- etcdctl member add the machine to the raft quorum
- systemctl stop etcd2
- rm -rf /var/lib

[2015-09-12 04:54] philips opened #3502 "etcd: add a --dump-file parameter"
The basic idea would be to create a dump of all requests and responses. It seems that the httputil package already has something that can do this: http://golang.org/pkg/net/http/httputil/#DumpRequest

We would need to figure out something similar for the v3 API.

After creating the dump thing we could do something similar to etcd-top with TLS encrypted versions of etcd.

[2015-09-12 04:58] xiang90 commented on #3502
I really like this idea.

[2015-09-12 15:05] onlyjob opened #3504 "panic: tocommit(138789) is out of range [lastIndex(0)]"
On 2.2.0 in clustered setup with two static members I've initialised second member using `ETCD_INITIAL_CLUSTER_STATE="existing"` and `ETCD_INITIAL_CLUSTER` variables.  Second member was successfully restarted several times. Then to simulate data loss scenario I've stopped second member and deleted its data files. Attempted (re-)start ended up with crash and a long backrace:

[code]

I expected sec

[2015-09-12 15:07] xiang90 commented on #3504
@onlyjob

etcd did the correct thing and protected you from potential corruption. In one word, do not try to use restart a member with broken data dir.

Please read https://github.com/coreos/etcd/blob/master/Documentation/admin_guide.md#data-directory for more details.

[2015-09-12 15:31] onlyjob commented on #3504
Data directory could be lost due to file system corruption.
Besides the point of this bug is segfault instead of meaningful error message so the bug is legitimate.

[2015-09-12 15:35] xiang90 commented on #3504
Then you need to remove this member and add a new one. data lost = member lost.

We might improve the logging message.

[2015-09-12 15:37] onlyjob opened #3505 "allow removing "unstarted" member"
In clustered setup it should be possible to remove "unstarted" (i.e. uninitialised) member.
Also one might argue that cluster should not become "unhealthy"  immediately after `etcdctl member add` but only after new member is actually connected/registered and went away...
At the moment 2.2.0 do not allow to remove new member even if it never connected.

[2015-09-12 15:39] xiang90 commented on #3505
Why do you think you cannot remove an unstarted member?

[2015-09-12 15:39] onlyjob commented on #3504
It is not clear to me how to remove unavailable member on degraded cluster...

Improving error message would be helpful, thank you.

[2015-09-12 15:41] xiang90 commented on #3504
You should read the docs before you try to build up your etcd cluster and put it into production. I think our docs covers most of your questions.

Yes. We are considering to improve raft related logging.