[2021-05-12 14:14] spzala commented on #12799
@gyuho @xiang90 @ptabor thoughts here? We should be doing this. I can work on it if it sounds good. Thanks!

[2021-05-12 14:16] ptabor commented on #12799
I think we should configure DCO.

[2021-05-12 15:20] chalin commented on #12949
FYI, the website's default branch has been renamed to `main` (https://github.com/etcd-io/website/issues/149).

[2021-05-12 18:50] gyuho commented on #12905
@hexfusion Can you help us with the grpc-gateway v3 promotion?

[2021-05-12 18:51] gyuho commented on #12955
These are used for manual SRV testing. If we need cleanup, can we use all the unused one to a separate Makefile?

[2021-05-13 04:07] moonovo opened #12959 "etcd cluster is no leader"
ETCD version: v3.4.15
The etcd cluster has three members: A, B, C.
Heartbeat timeout interval: 3s
Election timeout 15s

During the reliability test, the NIC of the host where member B resides was shut down and then restored. It was found that the etcd cluster was in the no leader state for 1 minute.

According to the log analysis, the term of the etcd cluster is 16 and member C is the leader befor

[2021-05-13 09:02] horizonzy opened #12960 "Some question about etcdctl"
Hi all:
When put a k,v with a not exist lease by etcdctl. It will return error (requested lease not found). And print log in console.

I think for edcdctl, show error is enough. Didn't print the log.

![image](https://user-images.githubusercontent.com/22524871/118103352-66aaaa00-b40c-11eb-8d9b-c242f2f7e990.png)

[2021-05-13 09:36] #12960 closed

[2021-05-13 10:20] horizonzy opened #12961 "Question abount etcdctl endpoint status"
[code]
Hi, the output of etcdctl endpoint status is not match docs saying.
what's the meaning of the last column?

docs saying:
![image](https://user-images.githubusercontent.com/22524871/118112602-cfe3ea80-b417-11eb-9d4c-53f2d699b789.png)

[2021-05-13 11:32] horizonzy commented on #12961
The last column refer to `apply Index`?

[2021-05-13 15:46] gyuho opened #12963 "Add "ginkgo"-like interface to k8s-tester (e.g., Kubernetes e2e)"
Right now, we have individual binaries for each test case.

It would be good if we can run something like this:

https://github.com/kubernetes/kubernetes/blob/f64a40e39e9f58025a856f24f2640a5ae4bf841d/test/e2e/framework/framework.go#L192

[2021-05-13 15:49] gyuho commented on #12963
Wrong repo...

[2021-05-13 15:49] #12963 closed

[2021-05-13 16:31] gyuho commented on #12949
The master branch is now renamed to `main`.

[2021-05-13 16:31] #12949 closed

[2021-05-14 01:50] simonhou commented on #12576
@spacewander Our apisix  use etcd v3.4, still exist.

[2021-05-14 04:19] xiang90 commented on #12961
@horizonzy

Can you run `etcdctl endpoint --write-out=table status` (add the table option) and paste the output here?

[2021-05-14 04:38] ptabor commented on #12913
I hope/think mandatory steps for v3.5 are done.

[2021-05-14 04:48] horizonzy commented on #12961
Oh, I see. the docs is not the latest.

[2021-05-14 06:01] #12961 closed

[2021-05-14 06:14] horizonzy opened #12966 "Auth Permission is not work fine."
I followed the dos
[code]

The etcd logs show that I indeed do it.
etcd log:
[code]

As the docs saying, user root just own the permission to operate key `foo`.

But I still can operate other key successfully.
The phenomenon:
[code]

Start etcd in standalone mode.
etcd version:
[code]

etcdctl version: 3.4.15

When I operate as above, I didn't execute `export ETCDCTL_API=3` firstly, I'm not sure t

[2021-05-14 06:15] horizonzy commented on #12966
@xiang90
please do me a favor.

[2021-05-14 08:11] #12959 closed

[2021-05-14 08:13] moonovo commented on #12959
Specifying the --pre-vote parameter can solve this problem.

[2021-05-14 08:29] lilic commented on #12330
I am favouring removing Prometheus global registry (or at least trying to), in favour of the "P2 subsplit proxy code to separate module (opt-in binary)", hope that is okay @ptabor, if you don't get it to in the next release still happy to take that one on!

I noticed we still have a few PRs open with 3.5 nice to have. Should we ping the folks again on the PRs, wdyt? https://github.com/etcd-io/etcd

[2021-05-14 08:31] lilic commented on #12326
@serathius is there anything else left for this issue, as I noticed it has a 3.5 nice to have label and with the release approaching. Thank you!

[2021-05-14 13:31] xonvanetta commented on #12535
I was debugging this now and trying some config flags and stuff to see something broken...

And low and behold it started and was synced again, the difference was that it purged a snap file when started.. the node was online but we have turned off etcd for like a week...
`May 14 14:43:56 etcd1 etcd[264300]: purged file /var/lib/etcd/member/snap/0000000000000005-0000000000c4d725.snap successfully`

[2021-05-14 14:15] hexfusion opened #12970 "3.5 release next steps: Code freeze Monday 5/17"
etcd 3.5 has seen a tremendous amount of new features bug fixes and performance and stability improvements. At this time I would like to thank everyone for the hard work and dedication. As per the community meeting on May 6th we have outlined Monday, May 17th as code freeze for the 3.5 release. Below are the proposed series of events for input.

Steps:
- [x] cut `release-3.5` branch from master (n

[2021-05-14 14:28] lilic commented on #12330
https://github.com/etcd-io/etcd/issues/12970 just linking this here.

[2021-05-14 20:48] wenjiaswe commented on #12970
Thank you very much @hexfusion !

Would you mind putting together a "gift registry" so we could plan and start pick up?

[2021-05-14 22:21] gyuho commented on #12970
As we discussed, @hexfusion @lilic will take ownership on the release management, right?

We have some in-house component that does this, but I believe our continuous functional tests are good enough.

Please chime in if you have better ideas.

[2021-05-14 22:22] gyuho commented on #12970
@hexfusion Please feel free to email and ping other maintainers via etcd-dev mailing list.

[2021-05-15 15:05] ptabor commented on #12970
- [ ] Release bbolt 1.3.6
- [ ] When beta is out we can ask k8s to incorporate https://github.com/kubernetes/kubernetes/pull/100488 (@liggitt ).
This will allow us to get CI feedback from k8s.
- [ ] When branch --release-3.5 is tagged, we will run our in-house tests
- [ ] Blog-post was started by @gyuho (https://docs.google.com/document/d/1F2p2LVPo4gj3n8XFMd4QrlarbCdJrbd-pNrT3XLYXmM/edit?usp=shari

[2021-05-15 15:17] mitake commented on #12966
@horizonzy The `root` role is a special one. It allows the user to access to every key so the behavior is intentional.
Could you check it doesn’t happen with other user without the root role?
Also, could you share the URL of the doc? It might be wrong.

[2021-05-15 16:30] horizonzy commented on #12966
https://etcd.io/docs/v3.4/demo/#auth
see the gif.

[2021-05-15 17:03] hexfusion commented on #12970
correct

[2021-05-15 18:22] padraigconnolly commented on #12931
Ok thanks for the clarification.

Using the diagram above as a reference, Client A, B and C are all replica's of one application (ReplicaSet In K8's for scaling) and are programmed to react to an event where the `/app/status` prefix is updated.  Now it would be inefficient for all three clients to react to the same event at the same time and thus it would be ideal that only one client to perform a

[2021-05-16 01:17] mitake commented on #12966
@horizonzy thanks for sharing the doc! The gif is stale and it should be fixed. The behavior of root role is changed in https://github.com/etcd-io/etcd/pull/6356 for fixing issues like https://github.com/etcd-io/etcd/issues/6355 So current behavior is expected. I'll fix the gif and related doc.

[2021-05-16 13:05] horizonzy opened #12978 "Suggestion, return "*" when the role is root of RoleGet."
root role is special. when RoleGet `root`, the KV Read and KV Write show special root perm.

[2021-05-16 18:38] #11884 closed

[2021-05-16 18:39] #12646 closed

[2021-05-17 04:06] mengshi02 opened #12982 "A problem with tuning for election time"
**Is there a solution to this problem? I have an idea: Followers perceive the change of the leader through the network connection, and call the `Campaign()` to trigger an election,Is this okay?**

<img width="854" alt="屏幕快照 2021-05-15 下午10 15 11" src="https://user-images.githubusercontent.com/76758833/118428925-1a5cb400-b703-11eb-8df9-fe4f2a45aa75.png">

[2021-05-17 07:31] ptabor opened #12983 "integration/clientv3/examples test flakes frequently"
ExampleCluster_memberAddAsLearner

I managed to repro this with:

[code]
but it does not always flake.

Flake on Actions:
https://github.com/etcd-io/etcd/pull/12981/checks?check_run_id=2595306923

Uploaded log: [logs_1206.zip](https://github.com/etcd-io/etcd/files/6491927/logs_1206.zip)

[code]

This line looks suspecious
[code]

[code]

----------------------------------

[code]

[2021-05-17 08:21] lilic commented on #12970
If no one is looking into this, I can have a look end of this week. @ptabor do you have a list of these? Otherwise I can have a look at previous CI runs.

[2021-05-17 08:44] serathius commented on #12970
I would be happy to help

[2021-05-17 10:13] ptabor opened #12984 "[]flake: FAIL: TestMemberPromote (0.12s)"
https://github.com/etcd-io/etcd/runs/2599598633?check_suite_focus=true

[code]

It seems wrong that `rpc not supported for learner` has 'Unavailable' error code that is considered retriable.
It should go in the direction of 'bad request'.

[2021-05-17 10:25] hexfusion commented on #12970
Red Hat team was preparing to cut the release-3.5 branch at approximately 8:00am EDT. If we have a need to hold this please reach out.

cc @ptabor @gyuho @lilic

[2021-05-17 11:05] ptabor commented on #12970
@hexfusion:  I think we can tag the branch.
  - I suspect https://github.com/etcd-io/etcd/pull/11427#discussion_r633271675 will require a patch, but its OK.
  - I still have some hope to merge https://github.com/etcd-io/etcd/pull/12971 into. But this requires your approval.

[2021-05-17 11:08] ptabor commented on #12970
I've seen them on CI, but unfortunately I didn't collected the links and its not easy to search by 'jobs' currently. Running in a forloop locally mightbe an option as well.

[2021-05-17 12:08] hexfusion commented on #12970
complete

[2021-05-17 12:18] hexfusion commented on #12970
@ptabor thoughts on remaining nice to have[1]?

[1] https://github.com/etcd-io/etcd/pulls?q=is%3Apr+is%3Aopen+label%3Arel%2F3.5-nice-to-have

[2021-05-17 12:20] lilic commented on #12970
There is also https://github.com/etcd-io/etcd/issues/12872. But I am not sure we need to do this with code freeze and it can be done afterwards, correct?

[2021-05-17 12:28] ptabor commented on #12970
I think we are good.

---
#12933  server: set multiple concurrentReadTx instances share one txReadBuffer  area/performance
   -  seems be very impactful, and I wish it could made eventually into 3.5.
   - as it touches very critical logic so we are very demanding with testing coverage.

We might make a call to include this one to beta/beta.2 later.
---

Small tweaks without public behavior change.

[2021-05-17 12:28] hexfusion commented on #12970
@ptabor We are proposing to delay the branch cut until 1:00 EDT to allow the West coast teams final input and a last review of the above. WDYT?

[2021-05-17 12:35] ptabor commented on #12970
Cutting a brunch alone is not a 'point of no return'. We can decide to backport some PRs from main to `release-3.5` after it happens - just the toil/bar will be a little higher.

Do you assume cutting a brunch is going atomically with releasing/tagging "etcd-3.5.0-beta.0" or this will be a follow up e.g. tomorrow ?

[2021-05-17 12:41] hexfusion commented on #12970
My initial thoughts were to create a separation of the beta code by branching. The downside with this approach is that we will need to backport changes. So if we feel there is still a reasonable amount of work to do (appears this way) we could consider holding the branch until we are ready for a release candidate? Thus create a beta release from main this morning.

[2021-05-17 12:43] hexfusion commented on #12970
The downside of the above is a more manual vetting of merges so it's a trade-off I suppose.

[2021-05-17 13:06] ptabor commented on #12970
I think we can branch 'release-3.5' today. On our end it will unblock onsite automation that  understands 3.5 to be coming soon.

If we make a call to backport some changes from 'main' to 'release-3.5' and we consider it too toilish using github PR per change, we can do it in a single PR.

[2021-05-17 13:14] serathius commented on #12970
I can help with that

[2021-05-17 15:23] lilic commented on #12970
There is also this PR https://github.com/etcd-io/etcd/pull/12979 that seems ready for review and can be merged if we want it.

[2021-05-17 15:35] hexfusion commented on #12970
@mitake could you possibly take a quick peek at #12979?

[2021-05-17 17:05] hexfusion commented on #12970
Hi team it is 1:00 EDT as promised I am about to create a new branch for release-3.5 do we have anything blocking this action? I will take any blocking input until quarter past 1:15 PM EDT at which point the branch will be pushed.

cc @xiang90 @wenjiaswe @ptabor @gyuho @jingyih @lilic @jpbetz @spzala

[2021-05-17 17:15] gyuho opened #12987 "3.4 to 3.5 upgrade may panic"
Originally reported by @chaochn47 https://github.com/etcd-io/etcd/pull/11427/files#r633271675

We've added a new internal raft request field here https://github.com/etcd-io/etcd/pull/11427, but we did not have the test coverage where cluster version is already 3.5 but minority are still in 3.4. As a result, monitoring and persisting cluster versions using v3 crashes 3.4 nodes.

[2021-05-17 17:18] gyuho commented on #12987
@ptabor @hexfusion This is a bug, which I think we can fix and backport?

@chaochn47 will be working on making version monitoring v3 configurable and false by default, to give enough cycle to migrate to latest raft message proto buf.

[2021-05-17 17:19] hexfusion commented on #12970
branch is pushed we will begin in the process of new beta release.

[2021-05-17 17:34] hexfusion commented on #12987
@gyuho do you want to hold beta 0?

[2021-05-17 18:06] gyuho commented on #12987
@hexfusion Sure, how about wait for @chaochn47's fix? Should be ready by today.

[2021-05-17 18:21] hexfusion commented on #12970
We have found an upgrade bug[1] that is going to block the beta we expect this to be resolved today. Thanks, @gyuho and @chaochn47 for flushing this out early.

[1] https://github.com/etcd-io/etcd/issues/12987

[2021-05-17 18:50] gyuho commented on #12970
@hexfusion The fix is ready and tested https://github.com/etcd-io/etcd/pull/12988. We will backport it to 3.5 branch.

[2021-05-17 20:43] #12987 closed

[2021-05-17 21:19] hexfusion commented on #12970
Backport merged we are back on track as `beta.0`[1] was a no-op, the release will be `beta.1`. I will continue the process tonight.

[1] https://github.com/etcd-io/etcd/commit/cf54fab42f072d167a98f2e9ee6168a44f2d191e

[2021-05-18 00:35] Rajalakshmi-Girish opened #12993 "Failing test: TestKVWithEmptyValue with master go on ppc64le"
**Following Error for TestKVWithEmptyValue:**
[code]

### Environment
go version devel go1.17-5daefc5363 Thu Apr 22 01:40:02 2021 +0000 linux/ppc64le
Linux ppc64le

### Reproduce
`go test go.etcd.io/etcd/tests/v3/integration`
Ran integration tests of etcd-io/etcd

### What did you expect to see?
Should Pass successfully.
**NOTE: It passed with the stable release of go.**
[code]
### Reference
https

[2021-05-18 03:20] hexfusion commented on #12970
v3.5.0-beta.1 is now available, had some issues with the new modular release going to give a few more tries then will follow up in AM.

[1] https://github.com/etcd-io/etcd/releases/tag/v3.5.0-beta.1

[2021-05-18 07:54] ptabor opened #12994 "functional test flakes: port in use {1,2,3}9027"
On my local machine, branch-3.5.

TLDR; Todo: check how the port assignment logic works...

[code]

[etcd.log](https://github.com/etcd-io/etcd/files/6499385/etcd.log)

[2021-05-18 07:58] ptabor commented on #12994
@lilic FYI

[2021-05-18 08:13] lilic commented on #12994
Thank you! Just started running them, will have a look.

[2021-05-18 10:21] #12581 closed

[2021-05-18 11:05] ptabor opened #12996 "Flake: TestLeasingPutGetDeleteConcurrent (*serverWatchStream).recvLoop leak"
Please read https://etcd.io/docs/latest/reporting_bugs/

https://github.com/etcd-io/etcd/pull/12991/checks?check_run_id=2609037848

[code]

[2021-05-18 11:59] lilic commented on #12994
@ptabor ran the functional tests about 6 times now, and have not hit the flake locally. Did you do something specific, maybe you can share your command? I did run them in docker, maybe that is the difference.

[2021-05-18 12:50] liggitt commented on #12970
once those are available I'll update https://github.com/kubernetes/kubernetes/pull/100488

[2021-05-18 14:08] hexfusion commented on #12970
@ptabor can you please take a look at v3.5.0-beta.3 just cut I wanted to make sure I understood how you were envisioning each component to look. IE

[code]

[2021-05-18 14:26] ptabor commented on #12970
@hexfusion Tags looks correct to me. The rules are described here: https://golang.org/ref/mod#vcs-version

[code]

[2021-05-18 14:29] ptabor commented on #12970
The crucial test for me is:
[code]

[2021-05-18 14:40] hexfusion commented on #12970
OK great so I think we are ok to move forward with `v3.5.0-beta.3`[1]

[1] https://github.com/etcd-io/etcd/releases/tag/v3.5.0-beta.3

cc @liggitt

[2021-05-18 15:04] ptabor commented on #12994
If the flakes are just about 'ports' being in use, than we are in a good shape.
I think they are less likely to happen on docker, as it has separate namespace/ip for ports.
On a shared server there is some probability that fixed port numbers (>1000: 19027, 39027) are taken by e.g. outbound connection.

I would consider setting these flags for the binaries run in 'functional' tests: "reuse-address"

[2021-05-18 15:23] liggitt commented on #12970
It looks like this is depending on a pre-release of bbolt (https://github.com/etcd-io/etcd/blob/v3.5.0-beta.3/go.mod#L22). Is that planned to be tagged before this exits beta?

[2021-05-18 16:21] liggitt commented on #12970
updated https://github.com/kubernetes/kubernetes/pull/100488 with v3.5.0-beta.3

[2021-05-18 16:23] hexfusion commented on #12970
tracking here https://github.com/etcd-io/bbolt/issues/278

[2021-05-18 16:33] xiang90 commented on #12450
the line you mentioned should just verify the host part not the scheme part.

[2021-05-18 18:11] ptabor commented on #12983
Another case on arm64:
https://github.com/etcd-io/etcd/pull/12933/checks?check_run_id=2612954287

[2021-05-18 18:17] wilsonwang371 opened #13001 "new performance benchmark script"
As per @ptabor 's comment in #12933, I will commit my benchmark script into a directory such as etcd/tools/benchmark-heatmaps/

This can help us better evaluate the performance changes between different versions.

https://github.com/etcd-io/etcd/pull/12933#issuecomment-842180327

[2021-05-18 18:24] chalin opened #13002 "Update codecov.io settings so that a badge is generated for the `main` branch rather than master"
Follow up to https://github.com/etcd-io/etcd/pull/12977#issue-645194507:

After the settings are updated, we'll need to change the URL to the badge URL in the README file.

/cc @nate-double-u

[2021-05-18 23:53] chalin commented on #12923
@hexfusion, I don't know if you're using a template for the release notes, but if so, could you use the following text instead?

## Updated text to accompany [releases](https://github.com/etcd-io/etcd/releases), with updated links

For guidance with etcd installation and operation, see the following pages:

- [Supported platforms][]
- [Download and build][]
- [Operations guide][]
- [play.etcd.io][

[2021-05-18 23:53] chalin commented on #12923
Here are the link definitions for the text above:

    [CHANGELOG]: https://github.com/etcd-io/etcd/blob/main/CHANGELOG-3.5.md
    [Download and build]: https://etcd.io/docs/next/dl-build/
    [Operations guide]: https://etcd.io/docs/next/op-guide/
    [play.etcd.io]: http://play.etcd.io
    [Supported platforms]: https://etcd.io/docs/next/op-guide/supported-platform/
    [upgrade guide]: https://

[2021-05-18 23:54] chalin commented on #12923
#### For sake of comparison, here's the original release text:

Please check out [CHANGELOG][] for a full list of changes. And make sure to read [upgrade guide](https://github.com/etcd-io/website/blob/main/content/en/docs/next/upgrades/upgrade_3_5.md) before upgrading etcd (there may be breaking changes).

For installation guides, please check out [play.etcd.io][] and [operating etcd](https://gith

[2021-05-18 23:56] chalin commented on #12970
Hi @hexfusion et all: I know that y'all are busy with getting the 3.5 release out, but as I mention in #12923 the **text that accompanies the releases needs updating** -- in particular, there shouldn't be links into the website _repo_ (that's an artifact of the days when the docs were in the etcd repo).

If you'd like to see the **reworked text**, see https://github.com/etcd-io/etcd/issues/12923#i

[2021-05-19 07:33] ptabor commented on #12983
Marking as important as it's pretty likely to be server side problem and the RAFT log:

[code]

is pretty scary in this simple test scenario.
@tangcong @lilic @hexfusion @serathius -- pls keep it on the radar.

[2021-05-19 09:22] lilic commented on #12983
Thank you @ptabor, should we also mark it as important in regards to v3.5 going GA?

[2021-05-19 09:29] lilic commented on #12993
Thank you for your report! Since we are only using 1.16 for now, but should be important when we switch to 1.17.

[2021-05-19 10:35] ptabor commented on #12983
@lilic - yes. I think we should. Added to markers that we already have.

[2021-05-19 11:12] hexfusion commented on #12923
Thanks for doing this. Few questions/ideas.

- can we update the release details via GitHub API?
- would it make sense to create a template for each release branch and incorporate into release pipeline tooling?

[2021-05-19 13:08] huzhao37 commented on #12061
thanks！

[2021-05-19 13:46] newhook commented on #11931
Any chance this will be fixed? As of May 19th it is still broken.

[code]

[2021-05-19 13:51] ptabor commented on #11931
Please try:
[code]

[2021-05-19 14:02] lilic opened #13004 "Socket reuse port and socket reuse address panics on Darwin"
When starting etcd with `--socket-reuse-port --socket-reuse-address` I see a panic on Darwin:

[code]

I suspect we have to do something similar to how windows was handled? https://github.com/etcd-io/etcd/blob/main/client/pkg/transport/sockopt_windows.go

[2021-05-19 14:03] hexfusion commented on #13004
nice find and agree

[2021-05-19 14:16] naanuswaroop opened #13005 "etcdmain: listen tcp 127.0.0.1:2380: bind: address already in use"
start of etcd is failing in mac with below error:
 "etcdmain: listen tcp 127.0.0.1:2380: bind: address already in use"

But, netstat shows that its indeed etcd which is bound to 2380.

I have tried reinstalling etcd.
I have tried restart of mac.
I have tried restart of etcd brew service.

### **etcd logs:**

### **Issue reproduction logs:**

**Before start of etcd:**

**After start of etcd:**

[2021-05-19 14:42] mitake commented on #12970
@hexfusion sorry for my late response, I reviewed and merged #12979 :)

[2021-05-19 14:48] Casper-Mars commented on #13005
I think `brew services` already run etcd. Then executing command `etcd` is run another etcd. So the second one can`t bind the address.

[2021-05-19 15:07] ptabor commented on #11931
Please test and provide feedback. The more issues we detect early the higher chances good GA will land in 2-3 weeks.

[2021-05-19 15:12] ptabor commented on #12923
I used to update push artifacts using github cli:

[code]

[2021-05-19 15:18] chalin commented on #12923
Thanks @ptabor! Is `changelog.md` your own local file? If so, can you attach a copy to this issue? I'll use it as a base for an updated template -- which I'll submit as a PR soon if y'all agree!

[2021-05-19 15:28] naanuswaroop commented on #13005
My bad. Thank you Casper-Mars

[2021-05-19 15:28] #13005 closed

[2021-05-19 16:09] ptabor commented on #12923
It was my local, but it was completely dummy. I post-edited the release notes later and used the commands only to avoid sending tar-balls between  VM -> workstation -> github and clicking this manually. If we could have generator of the changelog.md it would be awesome.

[2021-05-19 17:01] gyuho commented on #12923
Thoughts @gyuho @ptabor? I'll submit something and we can gather feedback from that PR.

There's no automation. I just manually string replace version names and keep using the same text from previous releases. Feel free to make changes.

[2021-05-19 17:21] chalin commented on #12923
Thanks all for your feedback so far.

I noticed that there's a **[Release guide][]** - from `etcd.io/docs/next/dev-internal/release/`. A few questions about this guide:

- Is [Release guide][] actively being used?
- Is it considered up-to-date?
  - If not, who can update it?
- It probably makes more sense to add a template for release notes to the [Release guide][], rather than as a separate `.md`

[2021-05-19 18:16] newhook commented on #11931
Will do. Thanks for helping and thanks for your work.

[2021-05-19 18:30] spzala commented on #12978
Closing as related changes are merged. Thanks @horizonzy

[2021-05-19 18:30] #12978 closed

[2021-05-20 01:41] spzala commented on #12650
`go get go.etcd.io/etcd/client/v3` should work. Related/dup https://github.com/etcd-io/etcd/issues/11931 Closing per issue triage guidelines. Thanks!

[2021-05-20 01:41] #12650 closed

[2021-05-20 09:06] arthurlogilab commented on #11949
Up on this issue as it doesn't seem solved or that a workaround is documented. Impacted by this too.

[2021-05-20 09:10] lilic commented on #12994
unrelated: @ptabor while looking into this I noticed that the functional tests don't use a config file as input, but a custom configuration file that is then transformed into etcd binary configuration flags. Just curious what is the reason for this? Sorry for my ignorance if it's something very obvious or documented somewhere. Thank you!

[2021-05-20 10:38] ptabor commented on #12994
I don't know. I think one predates the other, and definitely both predates me.
If the translation is the test-only infrastructure, I think we should eventually clean that up.

[2021-05-20 10:55] ptabor commented on #11949
I fill a lot more convenient about updating consistent_index after: https://github.com/etcd-io/etcd/pull/12855 was submitted.
Before it, there used to be administrative operations (e.g. add members) that could not be reflected in cindex, but could lead to higher value being written into the Snapshot.

[2021-05-20 11:57] lilic opened #13015 "Replace internal testutil AssertEqual function in favour of github.com/stretchr/testify/assert.Equals"
etcd in tests to assert equality uses mixed https://github.com/stretchr/testify/assert and etcd' own `testutil.AssertEqual` function. This issue suggests using `github.com/stretchr/testify/assert.Equals` everywhere and removing `testutil.AssertEqual` function.

Example of what we want everywhere: https://github.com/etcd-io/etcd/blob/e2d67f2e3bfa6f72178e26557bb22cc1482c418c/server/datadir/datadir_t

[2021-05-20 12:52] arthurlogilab commented on #11949
@ptabor is that feature likely to facilitate recovery of  etcd data from previous versions of etcd ? I guess that MR is available in  v3.5.0-beta.3  ?

[2021-05-20 12:58] ptabor commented on #11949
The PR is in v3.5.0-beta.3. There is no code that would 'ignore' the mismatch between WAL & db.

For recovery from such situation I would consider  taking 'db' file alone from the `member/snap` directory,
and trying to run `etcdctl snapshot restore` command on top of it.
It should produce initial WAL logs compatible with the state of the 'db' file.

[2021-05-20 13:22] arthurlogilab commented on #11949
Thanks for pointing me in the direction of the `etcdctl snapshot restore` from the `db` file. I didn't know that was possible.

Trying that I get

[code]
produces a 200Mo db file. Starting etcd works, but db looks empty (testing with `/tmp/etcd-download-test/etcdctl --endpoints=localhost:2379 get / --prefix --keys-only`

I also try with `--skip-hash-check=true` and get :

[code]

Again 200Mo `db`

[2021-05-20 14:50] AAJCN opened #13019 "Why lease is not expired after ttl time？remaining negative"
Etcd Version 3.3.18
DB Size： 4G
lease timetolive 504f7988b11dc28c
lease 504f7988b11dc28c granted with TTL(120s), remaining(-1928s)
How does this happen?

[2021-05-20 15:39] agoddard commented on #12526
This is still an issue when attempting the original command in the issue

[2021-05-20 16:11] ptabor opened #13020 "Test flakes: functional"
https://github.com/etcd-io/etcd/pull/13017/checks?check_run_id=2631047806

[code]

[2021-05-20 16:27] ptabor commented on #11949
Are you using the `etcdctl --with-v3` variant ?

[2021-05-20 21:31] pgodfrin-nov opened #13021 "setting wal-dir causes segmentation fault: [signal SIGSEGV: segmentation violation code=0x1 addr=0x10 pc=0xb2b63d]"
setting wal-dir causes segmentation fault: [signal SIGSEGV: segmentation violation code=0x1 addr=0x10 pc=0xb2b63d]

Version:
etcd Version: 3.4.16
Git SHA: d19fbe541
Go Version: go1.12.17
Go OS/Arch: linux/amd64

I created a mount point:

/dev/nvme1n1p6  4.9G   20M  4.6G   1% /dcs/etcd/wal

The /dcs/etcd directory also houses the data directory, but not on the mount point. Snippet of the config fil

[2021-05-20 22:55] jfoy commented on #10652
Still a live issue.

[2021-05-21 04:46] jiapeish commented on #12934
Closed, my code bugs...

[2021-05-21 04:46] #12934 closed

[2021-05-21 06:55] lilic commented on #12994
@ptabor did you spot the flake again?

[2021-05-21 06:58] ptabor commented on #12994
I haven't seen for this reason.
I reopened because was not sure whether picking unused port instead of hardcoded {1,2,3}9027 is in scope of this issue, or potentially separate area for improvement.

[2021-05-21 07:00] lilic commented on #12994
Makes sense, thanks! Agreed, will try to take some time to look into it in the next week or so.

[2021-05-21 07:57] arthurlogilab commented on #11949
I get `Error: unknown flag: --with-v3`. Couldn't find the option in the documentation. Tried out `ETCDCTL_API=3 ` from https://etcd.io/docs/v3.3/op-guide/recovery/ which didn't provide any different results (empty key list).

[2021-05-21 09:30] #13015 closed

[2021-05-21 09:36] ptabor commented on #11949
My mistake. --with-v3 is in: `etcdctl/ctlv2/command/backup_command.go`

[2021-05-21 09:38] ptabor commented on #11949
How about:
[code]

[2021-05-21 10:16] timmyyuan opened #13023 "Goroutine leak in TestEtcdGrpcResolver"
I tried to figure out if there might be goroutine leaks in unit tests. So I used [goleak](https://github.com/uber-go/goleak) to guard all test functions (`main` branch) and run `PASSES=unit ./test`. I finally found a test leaking goroutines:

[code]

In normal situations, there should be no alive goroutines after a test function  finished. Is this goroutine leak intentional or expected?

[2021-05-21 10:30] arthurlogilab commented on #11949
@ptabor with `get ""` no keys either. Thanks for following up !

[2021-05-21 10:34] ptabor commented on #13023
Thanks for checking.
In etcd for integration tests we are using our own leak checker:
  https://github.com/etcd-io/etcd/blob/main/client/pkg/testutil/leak.go
Good to know that there exists 'more standard' solution.

It didn't got integrated in the unit test yet (but that's definitely good to have).

Seems `ss.s.Stop()` is missing in: grpc_testing/stub_server.go:62.

Would you mind sending a PR ?

[2021-05-21 12:55] ptabor commented on #11923
AFAIR the rpc request is limited by 2MBs.
Editing <1000 keys in a single transaction should work well.

[2021-05-21 13:08] timmyyuan commented on #13023
Gotcha, I have send a PR in #13024

[2021-05-21 13:14] lilic opened #13025 "Add ability to trigger benchmark jobs on pull requests"
I noticed in a couple of PRs if they have any potential performance improvements or regressions, we direct the users to run a `benchmark` command. Often these are run on their local machines, which can skew the results as, you know, it depends on their machine. It would be nice, in my opinion, to have those benchmarks run in GitHub actions CI or in dedicated machines. As in an ideal scenario, we w

[2021-05-21 13:53] #13023 closed

[2021-05-21 15:28] zerospiel opened #13026 "Inability to use on v2 modules on v3.5.x"
Hi! I'm migrating from my own fork of `etcd` that works on `grpc-go` versions `1.30+` to upstream at version `v3.5.0-beta.3`.

Currently, I'm using client v2 and it works perfectly, but if I try to `go get` the module `go.etcd.io/etcd/client/v2` the Go's modules resolver finishing with errors:

[code]

Because the major version `v2` is not compatible with the tag starting from major version `v3`.

[2021-05-21 15:43] lilic commented on #13026
This works for me:

[code]

which produces a go.mod file:
[code]

But not sure that answers your question?

[2021-05-21 15:49] zerospiel commented on #13026
Yes, that was exactly what I wanted!

Sorry for the inconvenience.

[2021-05-21 20:06] chalin commented on #12923
Let's use https://github.com/etcd-io/website/issues/298 for any discussions concerning the Release guide, thanks.

[2021-05-23 11:57] tomasliu-agora opened #13031 "Lease is not expired in time through grpc-proxy"
- version: 3.4 or later
- use grpc-proxy to keepalive
- how to reproduce?
  - Suppose there is a lease(TTL is 60s) granted
  - If single keepalive request for the lease is raised through grpc-proxy on T0, then the lease will be expired on T0 + 120s, which is two times the value expected.

After look into the detail, the code logic is as follow:
- When the first keepalive request is raised, a `keep

[2021-05-23 13:25] xsKaisx commented on #11402
i followed this document and don't know how to enable v2, can someone help
https://computingforgeeks.com/setup-etcd-cluster-on-centos-debian-ubuntu/#comment-7605

[2021-05-23 16:02] spzala commented on #11402
https://github.com/etcd-io/etcd/tree/main/etcdctl also has this mentioned - `For the v2 API, make sure to set environment variable ETCDCTL_API=2. See also READMEv2.`

[2021-05-23 17:45] #11912 closed

[2021-05-23 17:45] #12432 closed

[2021-05-24 03:02] jiapeish commented on #12528
This issue is used to track #12531
https://github.com/etcd-io/etcd/pull/12531

[2021-05-24 10:57] AI1186780944 opened #13033 "When I enable authorization, how can options in the command line be transferred in the grpc interface parameters in v3.4?"
eg:When I enable authorization, My command line <etcdctl role list --user="root:123456"> can be executed normally through etcdctl. So when I call with the grpc interface, how to pass the parameters of the following option into the interface?If I don't normally pass in the optional parameter <--user="root:123456">, there will be a "user name is empty" error.

[2021-05-24 12:38] pgodfrin-nov commented on #12093
Say folks, would you add this parameter to the docs please? I spent quite a few hours wondering what was missing until CyberDem0n pointed me to this issue. See https://github.com/zalando/patroni/issues/1939

While you're at it, maybe a way to search the docs?

[2021-05-24 13:59] mitake commented on #13033
Username and password are used as parameters of `Authenticate()` method. The method returns a token and the token will be attached to gRPC connection as its metadata like this: https://github.com/etcd-io/etcd/blob/main/client/v3/client.go#L268

[2021-05-24 17:47] spzala commented on #12093
Updating changelog https://github.com/etcd-io/etcd/pull/13034 and will add in doc appropriately in the etcd.io repo https://github.com/etcd-io/website

[2021-05-24 21:16] sanamsarath opened #13035 "Etcd Txn compare version==0 always succeeds"
etcd version 3.3.2

We are seeing issue with Etcd Txn compare (with Rest API etcdclient). The key version==0 always results in the condition to be true.

Expectation:
It should only succeed if the key doesn't exist in the data store. If the key exists, obviously the version number will be > 0 and hence the compare condition should fail.

We use this operation when multiple clients want to add/upda

[2021-05-25 01:03] gyuho commented on #12970
@hexfusion Any plan for next beta or release candidate? I am also planning to run some benchmarks, but I don't think it's a blocker.

[2021-05-25 01:25] hexfusion commented on #12970
@gyuho I will cut another beta Tuesday. Then we should talk about cutting bbolt any blockers there on your end? If we can get bbolt and zap we can cut rc0.

I pushed on zap a bit. [1]

cc @ptabor any input?

[1] https://github.com/uber-go/zap/issues/942

[2021-05-25 08:05] AI1186780944 commented on #13033
yes. I did the same thing. Before, I didn't know the rules of grpc using token, which caused the problem. The problem has been solved. Thank you very much.At the same time, can I make a suggestion. Can v3.5 provide such an interface as "query the list of all historical versions of a key"? What I see now is that it only provides the interface of "querying the details of a certain version of a certa

[2021-05-25 10:43] jonaz commented on #12535
The above did not help. We have 3 clusters with this problem. They are only used for leases and have very little traffic. All 3 gets out of sync periodicly and we'll have to stop entire cluster and scrap data folder and start them again to make them work. The symptom is that lease is instant on one node but the other two lags 30-60 seconds, sometimes more. We are running 3.4.14

[2021-05-25 11:01] frans42 commented on #12535
Hi @ptabor, I don't know what a serializable read would be and if our access pattern qualifies. However, the members were not "lagging" in the usual sense of being in the process of synchronization. The members stayed out of sync for days. The only way to recover is to wipe the out-of-sync-members as @jonaz writes above and re-deploy fresh instances.

My impression is that the members actually bel

[2021-05-25 13:58] hexfusion commented on #12970
To clarify I will wait until EOD today for backports to clear will cut the release at approx 9PM ET.

[2021-05-25 17:31] hexfusion commented on #12970
Zap has communicated they will try to cut 1.17 today. This aligns with our goals of an rc release possibly by EOW.

[2021-05-25 19:56] #13001 closed

[2021-05-25 20:16] ptabor commented on #12970
@serathius is driving k8s integration (tests) and internal tests. So far so good *https://github.com/kubernetes/kubernetes/pull/102062)

[2021-05-25 23:01] wilsonwang371 opened #13041 "new feature for dump & replay etcd requests."
In our current enterprise DC k8s environment, it is very hard to diagnose some complex performance issues to find the root cause and bottlenecks.

In a real k8s cluster, the load of the etcd cluster is different. It is usually a mixed workload of both read and write operations. To run real-world workloads on the etcd cluster is a need to get a better understanding of the etcd cluster's real perfor

[2021-05-25 23:48] gyuho commented on #13041
I think something similar to kube-apiserver audit logs will be useful, so long as it's optional.

[2021-05-26 00:11] Jeffwan commented on #13041
https://github.com/etcd-io/etcd/issues/10662  It might be better to support etcd audit log first.

[2021-05-26 01:30] hexfusion commented on #12970
[v3.5.0-beta.4](https://github.com/etcd-io/etcd/releases/tag/v3.5.0-beta.4) is now live.

[2021-05-26 06:39] ptabor commented on #12984
Another case: https://github.com/etcd-io/etcd/pull/13010/checks?check_run_id=2632707900
[code]

[2021-05-26 06:39] ptabor commented on #12984
[code]

[2021-05-26 11:38] eliteaz opened #13044 "etcd connection to cluster node not use hostname"
Use etcd cluster of three nodes (2 nodes on CentOS 7 and 1 node on CentOS 8)
- etcd version 3.2.10

Starting cluster i got such a message:
`rejected connection from "[2a01:4f8:1c1c:3exe::1]:58782" (tls: "2a01:4f8:1c1c:3exe::1" does not match any of DNSNames ["*.example.com" "cluster.example.com" "2a04:3541:1000:500:85b:71ff:fe6d:c8a" "2001:19f0:7402:a25:5400:1ff:fe48:c741" "2a03:d0c0:1:e0::84:e001

[2021-05-26 19:20] nate-double-u commented on #12970
I've opened a tracking issue for [v3.5 Documentation](https://github.com/etcd-io/website/issues/328) over in the etcd-io/website repo. Please feel free to add line items/comments to help track the docs changes needed to support the release.

[2021-05-27 01:01] xiang90 commented on #13019
Is there a way to reproduce it?

[2021-05-27 03:34] guyueyimu opened #13046 "How to get a list of historical versions of a key"
According the range of mod_revision， i want to get a list of historical versions of a key，
but like this, it doesn't work：

key := "/sme/light/v1/ns/content/eop.ni/conf.slrun.json"
resp, err := client.Get(context.TODO(), key, clientv3.WithMaxModRev(200), clientv3.WithMinModRev(100))

How can I do this？

[2021-05-27 07:40] ptabor commented on #12996
Another case:
https://github.com/etcd-io/etcd/pull/13047/checks?check_run_id=2682459069

[code]

[2021-05-27 07:45] ptabor commented on #13020
Another: https://github.com/etcd-io/etcd/pull/13045/checks?check_run_id=2681355806

[logs_2023.zip](https://github.com/etcd-io/etcd/files/6552034/logs_2023.zip)

[2021-05-27 08:53] nic-chen commented on #13044
hi @eliteaz
Could you please provide more detailed information, such as the startup command and configuration?

[2021-05-27 09:11] whh32 commented on #12640
I also encountered the same problem. Is this a client bug?

[2021-05-27 13:23] chalin opened #13050 "scripts/genproto.sh: updates needed"
The API-reference generator needs a few updates to:

- [ ] Match the changes mentioned in https://github.com/etcd-io/website/issues/330.
- [ ] Generate page front matter
- [ ] Reconsider where the output should go: currently, the script is targeting `Documentation/dev-guide/api_concurrency_reference_v3.md`. The website docs aren't under `Documentation` anymore. Either the output target should be c

[2021-05-27 14:23] liggitt opened #13051 "etcd 3.5.0 integration package changes break downstream consumers"
The following changes in the integration test package server setup break downstreams using it to start in-process etcd server:

1. Unconditionally skipping in short mode: `testutil.SkipTestIfShortMode(t, "Cannot start etcd cluster in --short tests")`

2. Detection of temp working directory (`t.TempDir()` isn't prefixed with `os.TempDir()` on some platforms)

[code]

3. goroutine leak detection set

[2021-05-27 15:40] mitake commented on #13033
I see, I feel we would have a way which can be used for the purpose, let me check.

[2021-05-27 15:52] ptabor commented on #13051
We discussed way forward in: https://github.com/etcd-io/etcd/pull/13047#issuecomment-849409879

[2021-05-27 16:46] ptabor commented on #13051
https://github.com/etcd-io/etcd/pull/13052 proposed fix.

[2021-05-27 17:05] ptabor commented on #12984
https://github.com/etcd-io/etcd/runs/2687097255?check_suite_focus=true

[2021-05-27 18:30] ptabor commented on #13020
https://github.com/etcd-io/etcd/pull/13045/checks?check_run_id=2682736930

[2021-05-27 22:07] zorro786 opened #13053 "Slow ETCD on Local NVME GCP SSD"
Hi!

I have an etcd cluster of 3 nodes setup with n1-standard-16 machines, with dedicated 320 GB local SSD.

I have benchmarked etcd using the provided tool, with following results (when there is almost no load on cluster):

[code]
Both writes and read latencies are high compared to etcd benchmark numbers given.

AVG RTT between peers is 0.308ms. What can be causing these latencies?

I have used f

[2021-05-28 07:43] zhanglei216 opened #13054 "etcdctl not support configure --max-send/recv-bytes ??"
When I used etcdctl (v3.4.3) to sync source etcd cluster to another etcd cluster with "make mirror" command， the process  interrupted and it appeared the follower error:

"error":"rpc error: code = ResourceExhausted desc = trying to send message larger than max (2614220 vs. 2097152)"

The source etcd cluster stores the big value keys. How can I change the etcdctl custom grpc  configurations ，I don

[2021-05-28 08:08] ptabor commented on #13053
What do you consider as  a baseline here ?

Where (on which VM) do you run the load generator ?
Do you run all the nodes in a single zone or across the zones of  a single region ?
Have you configured compact placement policy:
https://cloud.google.com/compute/docs/instances/define-instance-placement#compact

Local SSD is ephemeral, so its pretty risky setup to run DB on it. Is it just experimenting

[2021-05-28 08:19] ptabor opened #13056 "3.5: k8s API chunking tests flakes"
@serathius is reporting test flakes correlated with k8s switch to 3.5:

[code]

https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/storage/etcd3/store.go#L640

[code]

[2021-05-28 08:20] ptabor commented on #12970
- [ ] https://github.com/etcd-io/etcd/pull/13055 is fixing k8s depending on our integration tests packages (https://github.com/kubernetes/kubernetes/pull/100488#issuecomment-849375418)
- [ ] https://github.com/etcd-io/etcd/issues/13056 - k8s API chunking test flakes to investigate

[2021-05-28 08:26] ptabor commented on #13020
https://github.com/etcd-io/etcd/runs/2692333788?check_suite_focus=true

[2021-05-28 18:49] ptabor commented on #13053
Please try running the client on a separate node, as it might saturate (introduce delays) in CPU and network Iops of one of the nodes.
Are you testing 3.4 or 3.5 ?

[2021-05-30 13:34] #12522 closed

[2021-05-30 13:34] #12634 closed

[2021-05-30 20:09] drmingdrmer opened #13057 "Question about the necessity of walpb.Snapshot"
In the raftexample:

Why is it necessary to save a WAL record about the term and index since the snapshot file already includes the term and index?

https://github.com/etcd-io/etcd/blob/main/contrib/raftexample/raft.go#L118-L132

When replying the WAL, `raftpb.Snapshot.Data` provides all of the states of the applied log, and `raftpb.Snapshot.Metadata` provides the last applied term/index. And all

[2021-05-30 23:44] liggitt commented on #13051
fixed merged to `main` and 3.5 release branch... will pick up with next 3.5.0 prerelease tag

[2021-05-31 04:59] #12673 closed

[2021-05-31 08:32] lilic commented on #13041
Yes, nice! We (OpenShift team) already brainstormed for a very similar idea - a  tool that replays the request patterns based on the size of the load and the type/pattern of requests. This would give us a great way to also do proper benchmark and perf testing for etcd as well.

@wilsonwang371 what do you think of having it part of `etcdutl` maybe? Or where were you thinking?

[2021-05-31 08:36] ptabor commented on #13020
https://github.com/etcd-io/etcd/pull/13027/checks?check_run_id=2709000887

[code]

[2021-05-31 10:08] eliteaz commented on #13044
Paste my etcd config via systemd unit file
[root@hostname ~]# systemctl cat etcd
[code]
Paste generated server.pem cert info
[root@hostnam ~]# openssl x509 -in /etc/pki/tls/private/etcd.server.pem -text -noout

[code]
and why i should generate certificate with detached IPv6 addresses, if i have wildcard hostname `*.example.com`

[2021-05-31 10:09] serathius commented on #13056
Will take a look.

[2021-05-31 11:55] lilic commented on #13020
Found this as a nice overview of failed tests -> https://github.com/etcd-io/etcd/actions/workflows/functional.yaml?query=is%3Afailure

[2021-05-31 12:52] danishprakash commented on #13050
@chalin would like to pick this up

[2021-05-31 12:54] danishprakash commented on #13004
Does etcd accept first time contributors? I'd like to pick this up. @lilic @hexfusion

[2021-05-31 13:13] lilic commented on #13004
@danishprakash of course, thank you! Feel free to pick it up, let me know if you have any questions!

[2021-05-31 14:26] serathius commented on #13056
Reproduced it on ETCD:
[code]
On etcd 3.5 setting limit causes response to write invalid response count
[code]
Same on Etcd 3.4
[code]

[2021-05-31 14:29] serathius commented on #13056
Kubernetes depends on this to provide number of remaining objects when using pagination. Will look into what changed between 3.4 and 3.5

[2021-05-31 16:24] Xphobia opened #13061 "How to compile etcd clientv3 API to C shared library ?"
## Is there  a way to compile etcd clientv3 to C shared library ?

I'v checked the official site: https://etcd.io/docs/v3.3/integrations/ ， all listed client C API bindings only suport v2.
I need use etcd clientv3 bindings that can be called in C code, how to compile etcd clientv3 to C shared library ?

I've tried the build command below but failed.
[code]

[2021-05-31 16:40] serathius commented on #12970
Found a breaking change in API, https://github.com/etcd-io/etcd/pull/13060

[2021-05-31 18:30] nate-double-u commented on #13050
I'd actually like to take a shot at this if I could :)
/assign @nate-double-u

[2021-05-31 20:17] nate-double-u commented on #13050
I'd like to move the files, and am happy to have them land in the root folder where the script needs to be run from.
I'd also suggest adding them to the `.gitignore` file so that they aren't accidentally committed to this repo after generation.

Should we add instructions regarding what to do with these two files after generation regardless of whether their generation output is moved?

[2021-06-01 06:58] lilic commented on #12996
Seems like I see this locally as well, when running tests in docker:

[code]

[2021-06-01 08:18] ptabor commented on #12996
I interpret
https://github.com/etcd-io/etcd/blob/71448cb5166542ac015f5f6bed514353b353f1d0/client/pkg/testutil/leak.go#L79-L82

as the healthy-path, i.e. situation when there are no goroutines we need to wait for, so we exit from leak detection with success. Do I miss something ?

I think there might be 'false negatives', i.e. situation when goroutine is 'RUNNING' (not waiting), so its not reported

[2021-06-01 08:27] lilic commented on #12996
Yes after further digging into the code, you are right!

I did notice a TODO, I wonder if that might help at all if we replace it?

[2021-06-01 10:31] ptabor commented on #12996
I think goleak is a cleaner/industry standard implementation of what we are doing here.

From my experience, a leaking transports were frequently a consequence of not calling:
"Transport.CloseIdleConnections" ()
that kept open connection being for `IdleConnTimeout=90s`.
that was too long for a leak detector to wait for

[2021-06-01 12:16] spzala commented on #13035
I couldn't reproduce it off of main branch. To further check if it was an issue with the old version only, can you please test with the main branch? Thanks!

{"compare":[{"version":"0","result":"EQUAL","target":"VERSION","key":"Zm9v"}],"success":[{"requestPut":{"key":"Zm9v","value":"MA=="}}],"failure":[{"requestRange":{"key":"Zm9v"}}]}
{"header":{"cluster_id":"14841639068965178418","member_id":"10

[2021-06-01 13:56] #13056 closed

[2021-06-01 14:26] chalin commented on #13050
Thanks for the offer @danishprakash, but I had already asked @nate-double-u (since he had made the corresponding doc changes).

[2021-06-01 15:16] chalin opened #13065 "genproto.sh question: Is protoc v3.14.0 strictly required or can it be v3.14.0 or later"
Note the following protoc version test in https://github.com/etcd-io/etcd/blob/main/scripts/genproto.sh:
https://github.com/etcd-io/etcd/blob/c15af6df035153e1bed1d93dde5b560a346333b9/scripts/genproto.sh#L15-L18

Is it really necessary to pin it to a specific (patch) version? Could this be change to test for v3.14 or later?

/assign @spzala @ptabor @hexfusion
/cc @nate-double-u

Related: #13050

[2021-06-01 15:21] AlexStocks opened #13066 "etcd panic when enable ”ETCD_UNSAFE_NO_FSYNC=true“ and the data dir is empty"
steps to replay this bug:

1 stop a etcd follower in a 3 members etcd cluster.
2 clear its data dir.
3 add env ETCD_UNSAFE_NO_FSYNC=true
4 restart etcd follower.

After step 4, I got the following error logs.

[code]

[2021-06-01 15:27] serathius commented on #12970
Both fixes have been backported to 3.5 branch, we should be ready to cut another beta release.

[2021-06-01 15:35] chalin commented on #13050
I'm thinking that we should get the doc changes in first before we consider moving the files. I agree about adding / printing instructions in the meantime.

[2021-06-01 15:43] #13066 closed

[2021-06-01 16:53] NorseGaud commented on #12845
We're seeing this as well. Though, not quite sure exactly what caused it.

[2021-06-01 20:15] NorseGaud opened #13067 "mvcc: cannot unmarshal event: proto: KeyValue: illegal tag 0 (wire type 0)"
Trying to start ETCD, I see:

[code]
I found https://github.com/etcd-io/etcd/issues/12845 but I'm not sure if that's related.

We had to completely wipe the etcd database members/wal files and start over to get it functional again. We have lots of etcd databases and instances and have been running 3.4.1 for a long time without issue. We're unsure what could have caused this.

[2021-06-01 21:25] spzala commented on #13046
The answer from @xiang90 in this old issue should help you https://github.com/etcd-io/etcd/issues/7292 The revision option is mentioned here as well https://github.com/etcd-io/etcd/tree/main/etcdctl#options-1
Closing it as a dup but please reopen if needed. Thanks!

[2021-06-01 21:25] #13046 closed

[2021-06-01 22:26] xiang90 commented on #12673
This applies to both leader and followers. Basically, if any member knows there is a stable leader it should just ignore msgVote and msgPreVote (followers receive message from current leader or leader receives messages from a quorum). It only grants votes if there is no known leader for the past election timeout.

[2021-06-01 22:45] xiang90 commented on #12710
is there a way to reproduce this issue?

[2021-06-01 22:48] xiang90 commented on #12704
A should not extend its lease if it sends out a timenow request. If what you describe is true, it is probably a bug in the raft implementation? Can you write a unit test to reproduce the sequence you described?

[2021-06-02 02:13] wilsonwang371 opened #13068 "Dramatic performance decrease in latest commit(4c6c506)."
I was testing my changes and I found the latest main branch performance was very bad.

commit 4c6c5065753dcf4a1e59b9c2673ff268930d48f1
Merge: c15af6df0 d669eb038
Author: Piotr Tabor <ptab@google.com>
Date:   Tue Jun 1 17:19:05 2021 +0200

    Merge pull request #13063 from serathius/integration-defer

    integration: Use subtests to defer cluster.Terminate call

Compared with my previous data:

D

[2021-06-02 02:18] wilsonwang371 commented on #13041
This is still at the initial design stage. Good to hear that you guys also need this feature. Putting it inside `etcdutil` makes sense. Do you guys also have some ideas to share on this?

This is not urgent. Since you guys are also interested in this one, we will definitely also like to put this at a higher priority.

[2021-06-02 03:04] wilsonwang371 commented on #13068
The columns are:
type,ratio,conn_size,value_size,iter1,iter2,iter3,iter4,iter5,comment
32 is the connection amount
16 is the value size
A:B is Read A pqs vs Write B qps

[2021-06-02 03:29] spzala commented on #12939
A related doc and best practices -
Handling took too long - https://etcd.io/docs/v3.4/faq/#what-does-the-etcd-warning-apply-entries-took-too-long-mean
Heartbeat interval and election timeout settings - https://etcd.io/docs/next/tuning/
Hope this helps. Closing the issue but feel free to reopen if needed. Thanks!

[2021-06-02 03:29] #12939 closed

[2021-06-02 03:48] gyuho commented on #13068
Those commits only change test files? Which tests are we running here?

[2021-06-02 04:00] barnettZQG commented on #12710
Before has not found the reproduction way. My guess is that etcd is being operated too frequently.

[2021-06-02 04:01] wilsonwang371 commented on #13068
I am running the mixed rw performance testing code that I committed recently. I am comparing the difference between commits 4c6c506 and 004081cc0

[2021-06-02 06:43] ptabor commented on #13068
https://github.com/etcd-io/etcd/pull/13060 is a change that removed an optimization of count-only range-reads.
Does your tests depends on count-only range scans ?

[2021-06-02 06:48] wilsonwang371 commented on #13068
My test is running mixed read/write with txn-put and txn-range. But I was using a limit in txn-range request to avoid too many data.

[2021-06-02 06:51] gyuho commented on #13068
Can we run the same test with https://github.com/etcd-io/etcd/pull/13060 reverted (run the test with the original @tangcong's patch)?

[2021-06-02 06:51] gyuho commented on #13068
The original patch (which is reverted in https://github.com/etcd-io/etcd/pull/13060) only changed count-only range query path.

[2021-06-02 06:56] lilic commented on #13041
We had some ideas around a tool that is standalone not tied to etcd itself that somehow gathers request patterns, either via network or tracing, but we haven't gone further than that.

Our main use case was to use that to record customer requests when there is a bug we could not reproduce easily, so it would have to include request size and request type, which we could then replay easily against a

[2021-06-02 07:02] lilic commented on #13067
@NorseGaud what version of etcd are you running?

[2021-06-02 07:04] wilsonwang371 commented on #13041
Cool, let me know if there is any update from your side. We will also post the updates here in case we have some further discussions. Later if we can have a more detailed plan, we may have some joined meeting to talk about this.

[2021-06-02 09:40] Yriuns commented on #12704
A can extend its lease. But C will not vote B.

    (CONSENSUS: BRIDGING THEORY AND PRACTICE - p42)

[2021-06-02 11:28] serathius opened #13070 "Etcd version should be easier to access when performing snapshot/restore"
### Background

Etcd allows for executing remote snapshot command that streams the snapshot data to the client. Client can upload the received data to any cloud storage of their preference (S3, GCS etc). Snapshot can be created by any 3.* compatible client, however restoring requires server to match the minor 3.X version of server that created the snapshot (for example 3.4 snapshot can be only res

[2021-06-02 12:39] NorseGaud commented on #13067
3.4.1

[2021-06-02 14:10] #12644 closed

[2021-06-02 14:10] #10572 closed

[2021-06-02 15:49] zorro786 commented on #13053
Testing 3.4
Also now that I checked about compact placement policy, as mentioned in my post `AVG RTT between peers is 0.308ms` - I am not confident if recreating the nodes with the policy configured will improve anything significantly.

Running benchmark (100k keys write to all members) from separate node only improved a bit:

[code]

[2021-06-02 15:53] zorro786 commented on #13053
FWIW, I have the following modified config for etcd:

[code]

[2021-06-02 16:04] ptabor commented on #13053
Keep brainstorming:
- Do you start the DB from scratch on each test, or do you continue on prewarmed DB.
(when bbolt is growing data file from 16MB->32MB->64MB its taking a global lock for the memory remapping) ?
- Do you know which resource is utilized on the tested node ?

[2021-06-02 16:05] #12884 closed

[2021-06-02 16:08] ptabor commented on #12983
https://github.com/etcd-io/etcd/pull/13009/checks?check_run_id=2621944462

[2021-06-02 16:39] zorro786 commented on #13053
Not from scratch- `etcd_mvcc_db_total_size_in_bytes` is 1.6 GB and `etcd_mvcc_db_total_size_in_use_in_bytes` is ~100 MB. There has been quite an amount of scale testing done on the DB earlier. But when running benchmarks there is almost no activity/requests to etcd. Is there a way to confirm it is due to increased bbolt file size?

Not sure what you mean here but I am guessing which resource is si

[2021-06-02 17:00] ptabor commented on #13053
That data but for the server node.

[2021-06-02 17:25] ptabor commented on #13068
@serathius

In
https://github.com/etcd-io/etcd/pull/13060/files#diff-c4842260ff90edd130afd1d3ac19cb782c4a59c98483070a7a7f817e4d2f13fdR146

in the not-count case seems we started to return `total` instead of 0

Before:
[code]

After:
[code]

Did 3.4 was returning count for not-count queries ?

[2021-06-02 18:15] #13050 closed

[2021-06-02 18:24] serathius commented on #13068
In 3.4 etcd was returning `len(revpairs)` as the count in both count and non count queries.
https://github.com/etcd-io/etcd/blob/d19fbe541bf9c81e2d69d71d1068bd40c04de200/mvcc/kvstore_txn.go#L171

Back then `len(revpairs)` was always equal to count of all revisions as we didn't apply limit to `Revisions`
https://github.com/etcd-io/etcd/blob/d19fbe541bf9c81e2d69d71d1068bd40c04de200/mvcc/index.go#L11

[2021-06-02 18:45] nate-double-u commented on #12768
@ptabor, @hexfusion, does https://github.com/etcd-io/etcd/pull/13062 satisfy this issue? Or do we need to discuss more automation solutions yet? (https://github.com/etcd-io/etcd/pull/13062#issuecomment-852426669)

Are there other generated files (beyond Documentation/dev-guide/api_reference_v3.md and Documentation/dev-guide/api_concurrency_reference_v3.md) that need to be managed?

/cc @chalin

[2021-06-02 19:19] zorro786 commented on #13053
Across all nodes including leader:
CPU usage is < 1%
Memory usage < 5%
IO activity is minimal (from iostat) when idle and increases momentarily during benchmark
Idle network usage is < 1 MB/s and increases up to 5 MB/s during benchmark.

[2021-06-03 01:24] spzala commented on #12982
@mengshi02 thanks but if you have a better solution, please propose a PR with test/test results so that you get a better feedback. I am closing this, please feel free to create a PR or another issue if needed. Thanks!

[2021-06-03 01:24] #12982 closed

[2021-06-03 06:33] lilic commented on #12970
Should we replace the alpha to latest beta in all the go.mod files? Example:

https://github.com/etcd-io/etcd/blob/932d42b0279c21b6e73134729ee7f2831106bc24/go.mod#L23-L32

[2021-06-03 08:19] lilic commented on #11716
Seems like there are a couple of things missing from this issue, mainly the:
-  Add downgrade commands
-  Add downgrade api under Maintenance interface

@YoyinZyc Could you confirm this is the case and is this something you are going to continue working on? Thank you!

[2021-06-03 09:48] spacewander commented on #12576
@simonhou
I have just submitted a PR to solve the issue

[2021-06-03 10:25] ptabor commented on #13068
Thank you for checking.

It seems that this optimization requires coordinated effort betweek k8s and etcd, e.g. k8s:
  - sends `Range(Count=true, rev)` requests first, gets `cnt`
  - sends `Range(Count=false, rev, limit=200, NoCount=true) gets N responses...... so estimates Remaining to `cnt - N`
That would require etcd to introduce a `no-count` mode, and k8s be able to use it when available.

[2021-06-03 10:32] hexfusion commented on #12970
Catching up from holidays will cut new release today.

[2021-06-03 11:41] gyuho commented on #13068
For my understanding,

https://github.com/etcd-io/etcd/pull/11990 impacted Kubernetes chunk API that relies on `RangeResponse.Count` because https://github.com/etcd-io/etcd/pull/11990 changed the semantics of `treeIndex.Revisions`. Previously `treeIndex.Revisions` returned the total rev-pairs no matter what (no limit). With https://github.com/etcd-io/etcd/pull/11990, `treeIndex.Revisions` returns

[2021-06-03 11:47] gyuho commented on #12970
@hexfusion Can we also update bbolt to v1.3.6?

[2021-06-03 12:28] hexfusion commented on #12970
yes plans are to bump deps and roll rc.0 will get to that tonight.

[2021-06-03 13:39] ptabor commented on #12970
@lilic @hexfusion

Both changes and also zap to 1.17.0 waiting in:
 - https://github.com/etcd-io/etcd/pull/13078
 - https://github.com/etcd-io/etcd/pull/13079 (backport to 3.5)

[2021-06-03 14:01] ptabor commented on #13068
@gyuho:

1. Right. 3.5 does not have this improvement, but is correct.  So we are good (but slow) .

2. I don't think we should modify the wire-format in scope of v3 (i.e. semantic of requests, that is not driven by an explicit opt-in).
    In particular we need to make sure api-server e.g. 1.19 can still run on etcd-3.6+.

    Thus api-server e.g. 1.24 should be able to discover whether it runs a

[2021-06-03 14:24] ptabor commented on #11716
@serathius might eventually continue work on this.

[2021-06-03 16:20] hexfusion commented on #12970
both are now merged, thanks for the assist. now pending rc.0

[2021-06-03 16:23] zorro786 commented on #13053
@ptabor I did the same benchmark on a fresh etcd cluster (with client on different node):

[code]

This is the serializable read performance  from many clients:

[code]

Does TLS connection with certs add any additional latencies for the benchmark tool?

[2021-06-03 17:25] chalin opened #13080 "backport to v3.5: scripts/genproto.sh: updates needed"
From #13050:

In the instructions that are printed, replace '/docs/next' by '/docs/v3.5'.

/assign @nate-double-u

[2021-06-03 18:29] invidian commented on #11555
Not stale.

[2021-06-04 02:09] hexfusion commented on #12970
etcd v3.5.0-rc.0](https://github.com/etcd-io/etcd/releases/tag/v3.5.0-rc.0) is now available for testing.

[2021-06-04 02:41] liggitt commented on #12970
https://github.com/kubernetes/kubernetes/pull/100488 updated

[2021-06-04 07:08] abdennour commented on #7487
debian has ready package called `etcd-client`. However, Redhat has not with yum package manager :(

[2021-06-04 07:27] lilic commented on #11716
Nice, thanks for the update! I started experimenting a bit with this as we wanted to test it for 3.5 -> 3.4 downgrade. Will report my findings here.

I already patched the v3 client as I couldn't get it working otherwise if @serathius hasn't started yet, is it okay for me to open a PR for it?

[2021-06-04 09:16] serathius commented on #11716
I'm happy to finish work on cluster downgrade. @lilic thanks for the help, it would be great to collaborate. Feel free to send the PR just let's make sure to split the work to avoid conflicts.

[2021-06-04 11:28] #7487 closed

[2021-06-04 12:09] lilic commented on #11716
Thanks, sounds great! Here is my PR https://github.com/etcd-io/etcd/pull/13083 to add Downgrade to the client, I had to do that as etcd doesn't have rpc reflection I couldn't use `grpcurl` to initiate the downgrade.

As mentioned there, the downgrade failed for me when I tried it, happy to provide further steps I did if you are interested.

[2021-06-04 15:36] XANi commented on #9398
I guess this ticket is another example of https://blog.benwinding.com/github-stale-bots/

please reopen it, still happens in latest stable

[2021-06-04 23:32] ptabor commented on #13053
TLS/encyption is usually pretty expensive in terms of computation,
especially establishing the connection.
The CPU utilization you are posting is unexpectedly low. I start to wonder
whether lack of entropy might be a limiting factor here.
https://cloud.google.com/compute/docs/instances/enabling-virtio-rng might
help.

On Thu, 3 Jun 2021 at 18:23, Abdul Qadeer ***@***.***> wrote:

--

Piotr (ptab)

[2021-06-05 05:27] zorro786 commented on #13053
Let me try disabling TLS on etcd and run benchmarks. I was thinking the clients created use the same connection that is established initially for sending requests.

Just so you know < 1% CPU is when there is almost no load on etcd and only benchmark tool is run.
When I have 2k+ nodes joined with workload running, the CPU on etcd goes around 10-15% (16 core nodes).

Virtio rng is enabled already on

[2021-06-06 16:04] danishprakash commented on #13004
It seems like socket port/addr reuse is supported out of the box for darwin [as well](https://golang.org/src/syscall/syscall_unix.go). Just confirming, what we want here is not to return an error for darwin like how we do it for windows, right?

[2021-06-07 06:58] lilic commented on #13004
Yes, I found that as well, ideally we want it to work on darwin yes, but if its too much work we can work around it by doing something similar as for windows. Unless you need it to work for darwin yourself?

[2021-06-08 02:11] liubog2008 commented on #5020
Is this optimization not valid in theory?

[2021-06-08 03:54] zhangguanzhang opened #13093 "all member are leaders after restore the etcd, and `move-leader` cannot work"
[code]
on the `45.251` use the command  `move-leader` cannot work :
[code]

[2021-06-08 05:01] zhangguanzhang commented on #13093
[code]

[2021-06-08 07:46] 1ea50n commented on #11130
how do you solve that

[2021-06-08 08:08] 1ea50n commented on #11130
I have the same issue.I migrate part of v2 data to v3.
Realy need help, thanks

[2021-06-08 08:11] lilic commented on #11130
The v2 API is still there, so it should work correctly. This is the migration guide https://etcd.io/docs/v3.4/upgrades/upgrade_3_0/.

[2021-06-08 14:23] lilic commented on #13041
Made a bit of progress (it's a side effort) I managed to extract data from tracing backend (jaeger in my case), but I am missing keys, so will be adding that to the traces.

After that I should have the timestamps to calculate the frequency of the request pattern, size of the payload, key and request type. This would create a pattern on the requests that we can then replay against another etcd. I

[2021-06-08 14:40] ptabor commented on #11130
Writing of v3 keys should happen in this line:

https://github.com/etcd-io/etcd/blob/d19fbe541bf9c81e2d69d71d1068bd40c04de200/etcdctl/ctlv3/command/migrate_command.go#L303

v2 content read is here:
https://github.com/etcd-io/etcd/blob/d19fbe541bf9c81e2d69d71d1068bd40c04de200/etcdctl/ctlv3/command/migrate_command.go#L243

Intermediate serialization here:
https://github.com/etcd-io/etcd/blob/d19fbe5

[2021-06-08 19:27] gyuho commented on #12970
@hexfusion Any outstanding item to close out? The target date is June 15, 2021.

[2021-06-08 21:32] wilsonwang371 commented on #13041
Nice!

Recently, in our company's etcd cluster we observed some abnormal behaviors. **The pod creating in 3.3 is faster than 3.4.** In 3.3, it can be around 1K pods/s but in 3.4, it is only around 500~600 pods/s.

I did an evaluation of the performance difference between 3.3 and 3.4. From the graph, I can see that in some cases, 3.3 performance is better than 3.4 but still the graph is not very pe

[2021-06-09 06:29] zhangguanzhang commented on #13093
resolve it bt my self ,   https://zhangguanzhang.github.io/2021/06/08/ocp4.5.9-restore-etcd/

[2021-06-09 06:29] #13093 closed

[2021-06-09 08:14] lilic commented on #13041
Two thoughts/ideas:
- Are the go versions different?
- Have you tried continuous profiling (e.g. https://github.com/conprof/conprof), might give a better insight into the diffs.

[2021-06-09 13:37] ptabor commented on #13070
LGTM

Nit: I would fraze it:  'Store etcd file format version in the backend/bbolt itself, therefore making it available within the snapshot' .
Technically it means the version of etcd that wrote the file.  For bbolt file in running etcd (not backup snapshot written from scratch), the version should get upgraded when properties of new format has been upgraded.

I.e. etcd-3.5 added new field:  meta

[2021-06-09 13:48] lilic commented on #11716
I tried to perform a downgrade from v3.5.0 -> v3.4.16, but ran into a few issues:
- I am not sure if this is meant to work for v3.5 -> v3.4, if yes we might need to fix a couple of things. Or was this intended for v3.5+. This is due to the cluster version is not updated to 3.4 but stays at 3.5 even after a downgrade is initiated. From what I can tell, the 3.4 doesn't know anything about downgrade

[2021-06-09 14:06] lilic commented on #12970
I believe we need a new release candidate that includes some changes since the 3.5.0-rc.0. Before that we also need this https://github.com/etcd-io/etcd/pull/13049 PR to land in release-3.5 branch.

[2021-06-09 14:43] serathius commented on #11716
Hey, thanks for catching this up. I will take a look.

[2021-06-09 15:01] serathius commented on #12970
https://github.com/kubernetes/kubernetes/pull/102062 updated

[2021-06-09 16:12] serathius commented on #11716
I managed to reproduce same issues as @lilic on v3.5 -> v3.4 downgrade. Looks like downgrade policy changes https://github.com/etcd-io/etcd/pull/11919 were introduced in v3.5, but it shouldn't be an issue as cluster version should be lowered allowing older clusters to join.

Logic in v3.4 should allow to downgrade assuming that determines that cluster version is determined to be 3.4.
From logs
[co

[2021-06-09 18:16] hexfusion commented on #12970
will cut new rc tonight.

https://github.com/etcd-io/etcd/pull/13095 is up once merged I can cut rc.1 tonight. Then pending any issues from k8s move towards a formal release.

[2021-06-09 22:42] hexfusion commented on #12970
etcd [v3.5.0-rc.1](https://github.com/etcd-io/etcd/releases/tag/v3.5.0-rc.1) is now available for testing.

cc @liggitt  @serathius

[2021-06-10 00:22] nate-double-u commented on #13080
Waiting till https://github.com/etcd-io/website/pull/363 lands so we don't need to make multiple edits.

[2021-06-10 01:25] SingleThread opened #13096 "etcd account does not have the ability to prevent cracking"
Please read https://etcd.io/docs/latest/reporting_bugs/
etcd account does not have the ability to prevent authentication failure

[2021-06-10 06:16] danishprakash commented on #13004
Yes, I think ideally it should work on Darwin. I'd love to work on it, might require a little more time and might ask a few more questions though. Will update this thread soon.

[2021-06-10 08:27] elbaro opened #13097 "Using multiple endpoints vs relying on k8s load balance"
We have a set of etcd nodes (etcd-1, etcd-2, ..) in our k8s cluster.
Accessing the hostname "etcd" (k8s deployment) connects to one of them.

Unfortunately a popular python client (https://github.com/kragniz/python-etcd3) does not support multiple endpoints, and we rely on k8s's load balancing. I wonder this approach is inferior to the native multiple endpoint support by the etcd client.

For exam

[2021-06-10 10:12] serathius commented on #11716
Ok, found original issue that was meant to fix v3.5 -> v3.4 downgrade. https://github.com/etcd-io/etcd/pull/12988
Will try to retry the steps based on it.

[2021-06-10 14:25] serathius commented on #11716
Analysed what exactly happends on v3.6 -> v3.5 downgrade:

[code]

Looks like there is a conflict between logic for selecting cluster version and downgrade. No matter the downgrade cluster version will be imminently changed when a new member with lower cluster version joins.

[2021-06-10 15:03] hexfusion commented on #11716
great sleuthing @serathius! thank you :+1:

[2021-06-10 17:25] #12576 closed

[2021-06-10 22:34] xiang90 commented on #12673
@Cjen1

Do you mind writing a raft unit test to show the case?

[2021-06-10 22:43] Cjen1 commented on #12673
@xiang90 Sure I can have a go.

[2021-06-11 09:01] lilic commented on #11716
Thanks for the update!

+1

[2021-06-11 09:03] lilic commented on #13096
Hello, can you provide a bit more details about the issue please, thank you!

[2021-06-11 09:53] serathius commented on #12970
Kubernetes has been soaking v3.5.0-rc.0 server in CI for over a 24h without any issues reported.

[2021-06-11 10:11] serathius commented on #12970
Kubernetes has been using v3.5.0-rc.0 in their CI for last 24h without any issues reported.

[2021-06-11 12:08] ptabor commented on #11716
1 minor version higher are OK.   Do we plan to guard 2 minor versions difference ?

[2021-06-11 12:14] lilic commented on #11716
I would say yes, that should be a new downgrade then. I am not sure it would work smoothly from 3.5 -> 3.3, and we would have too much to keep in mind when developing, to not introduce breaking changes.

I guess we could add something like proposed in  #13022 to allow more than 1 minor version.

[2021-06-11 12:38] serathius commented on #11716
@ptabor Yes, current guarding does that, but even more. We are not allowing joining members with version other then target version, so in case of downgrade from v3.5 -> v3.4, we only allow v3.4. Proposal is to expand this to allow both (v3.4 and v3.5) to handle disconnects.

During downgrade v3.5 -> v3.4, members with v3.6 should not be allowed to join.

[2021-06-11 13:55] serathius commented on #11716
Found another two problems, one is related to decision about upgrade being finished second to wal replay.

M1      | M2      | M3L | CV      | DT      | comment
--------|---------|-----|---------|---------|---------------
3.6     | 3.6     | 3.6 |         |         | init
3.6     | 3.6     | 3.6 | **3.6** |         | Leader decides cluster version
3.6     | 3.6     | 3.6 | 3.6     | **3.5** | Oper

[2021-06-12 19:22] wilsonwang371 commented on #13041
Hi Lili,

I tried to use opentelemetry but I am worried about the extra overhead for the dumping functionalities. Therefore, I implemented some initial code to dump rpc requests. The #13102 pull request contains the code. I am still working on it now and let me know if you have any suggestions.

[2021-06-13 10:56] icetech233 opened #13103 "etcd bug v3.4.16"
goroutine 8709 [running]:
github.com/rpcxio/rpcx-etcd/store/etcdv3.(*EtcdV3).Close(0xc000518500)
        /Users/atta/GolandProjects/pkg/mod/github.com/rpcxio/rpcx-etcd@v0.0.0-20210525110612-180740a8f3d6/store/etcdv3/etcdv3.go:454 +0x39
github.com/rpcxio/rpcx-etcd/client.(*EtcdV3Discovery).watch.func1(0xc0005d13b0)
        /Users/atta/GolandProjects/pkg/mod/github.com/rpcxio/rpcx-etcd@v0.0.0-202105

[2021-06-13 20:05] perry077 opened #13104 "Distributors Application for <YOUR DISTRIBUTION HERE>"
**Actively monitored security email alias for our project:**

**1. Have a user base not limited to your own organization.**

**2. Have a publicly verifiable track record up to present day of fixing security issues.**

**3. Not be a downstream or rebuild of another distribution.**

**4. Be a participant and active contributor in the community.**

**5. Accept the Embargo Policy.**

**6. Be willing t

[2021-06-13 21:25] #12666 closed

[2021-06-14 06:42] #12528 closed

[2021-06-14 07:37] lilic commented on #13103
Hey @icetech233 can you provide a bit more information about the potential bug. Like which specific version you used, how did this happen (after which actions), which env. Thank you!

[2021-06-14 07:42] lilic commented on #13104
@perry077 hey, you need to also fill out the template as well and answer questions. If you didn't mean to open this issue feel free to edit with other info, thanks!

[2021-06-14 07:47] lilic commented on #13041
Nice, thank you for the PR! 🎉

Yeah, I was worried about overhead if it's on by default all the time as well, I am hoping they improve it over time.

[2021-06-14 14:03] hexfusion commented on #12970
@gyuho yes nothing blocking at this point shooting for 6PM EDT.

[2021-06-14 14:37] serathius commented on #13070
ping @gyuho

[2021-06-14 15:05] gyuho commented on #12970
@chalin @nate-double-u Can we make blog post public, right after

?

[2021-06-14 15:33] Yamakasi opened #13105 "Solution for CMD parameters #6088"
Hi,

I'm running into the following issue like described here: #6088

What is the right way to run etcd in docker now as links are broken there ?

Thank you very much!

[2021-06-14 15:34] spzala commented on #13104
Agree with @lilic
Closing but feel free to reopen with valid issue details. Thanks!

[2021-06-14 15:34] #13104 closed

[2021-06-14 15:38] spzala commented on #13105
@Yamakasi please see https://github.com/etcd-io/etcd/releases 'Docker` section if that helps. Thanks!

[2021-06-14 15:43] Yamakasi commented on #13105
@spzala Thanks a lot, sure it does! Can you add it to the docs again as well ?

I assume that the RC is stable enough that you point at it ?

[2021-06-14 16:27] nate-double-u commented on #12970
We can do that -- to be clear: blog release June 15, 6PM EDT

Also, I have an open PR for renaming the `next` folder to `v3.5`: https://github.com/etcd-io/website/pull/363

[2021-06-14 16:31] Yamakasi commented on #13105
@spzala yes perfectly, thanks!

I'm really not sure why I wasn't able to find the docker part fort this version, sorry but thanks again!

[2021-06-14 16:52] nate-double-u commented on #12970
(also, please note that @chalin is out this week)

[2021-06-14 17:34] Yamakasi opened #13106 "etcd behind haproxy"
Is it possible to put an etcd cluster just behind a haproxy instance with http frontends ?

Or are there special requirement ?

I have tried to lookup some haproxy examples for etcd and most where not very recent but showed http as frontend. I was wondering if also can do simply tcp mode.

Maybe someone has an example as well that could be useful here.

[2021-06-14 17:34] #13105 closed

[2021-06-14 18:03] wenjiaswe commented on #11716
This is definitely an issue, I think in the original design is that, during the process of downgrading, cluster version will be locked without changing to the lowest version, then we have a separate target version. The cluster version only changes when all nodes are changed to the target version. "cluster version is defined as minimal server version " This was there for the benefit of upgrading. B

[2021-06-14 18:08] spzala commented on #13105
@Yamakasi no problem at all, happens with all of us :) I am glad that you are good now, and thanks for closing the issue.

[2021-06-14 18:55] YoyinZyc commented on #11716
@serathius

Sorry I didn't follow this thread for a long time. My knowledge may be outdated.

As for your first issue, I remember my implementation will not let downgrade be cancelled when the cluster version is equal to target version. The leader will keep monitoring its followers and only if all the followers reach to target version the downgrade cancel request will be sent out and the downgrade

[2021-06-15 01:35] icetech233 commented on #13103
exe program  auto close and then queit

[2021-06-15 08:20] lilic commented on #13103
@icetech233 I am running 3.4.16 but have not come across this. What environment are you running, maybe sharing the flags or config would be useful. Thank you!

[2021-06-15 08:54] mrueg commented on #12970
I found these TODOs in the default branch, that might be worth to be cleaned up before release:
[code]

[2021-06-15 12:18] lilic opened #13107 "Explore using vtprotobuf"
Recently the Vitess folks have posted a blog on their optimizations on protobuf generator https://vitess.io/blog/2021-06-03-a-new-protobuf-generator-for-go/. The project source is located at https://github.com/planetscale/vtprotobuf.

The findings and benchmarks were very interesting and impressive, and it would be interesting to try it out and benchmark and compare the differences. Any thoughts a

[2021-06-15 16:20] forging2012 opened #13108 "go/pkg/mod/github.com/coreos/etcd@v3.3.25+incompatible/clientv3/balancer/picker/err.go:37:44: undefined: balancer.PickOptions"
[code]

[2021-06-15 16:34] serathius commented on #11716
For downgrade we could technically lock the cluster version for the upgrade process, but this would not work with cancel. If upgrade can be canceled we would automatically revert to original logic "pick lowest server version". With cancel, downgrading one node and canceling would be enough to consider cluster downgraded. I think we should settle on different definition of cluster version, a defini

[2021-06-15 17:22] nate-double-u commented on #12970
Website release prep PR: https://github.com/etcd-io/website/pull/379

[2021-06-15 17:40] gyuho opened #13109 "Corrupted bolt bucket names in etcd 3.4"
Just for reference and discoverability,

[code]

Restarting

[code]

Please comment if anyone else has seen this.

Still trying to reproduce.

[2021-06-15 17:47] ptabor commented on #13109
I haven't seen such corruption.

What does:
[code]
[code]

says.

[2021-06-15 17:48] gyuho commented on #13025
This will be awesome. Happy to help with infra setup on AWS.

(I know there was a thread on this, let me revive that thread.)

[2021-06-15 17:48] hexfusion commented on #13109
@gyuho is this 3.4.16 what is golang version?

[2021-06-15 17:50] gyuho commented on #13109
@hexfusion

Same golfing version. It was `3.4.13`.

@ptabor Good point. Let me run those once we have reproduce.

[2021-06-15 18:51] YoyinZyc commented on #11716
@serathius Thank you for the proposals. I think proposal 2 sounds good but I have a question.
If we introduce upgrade policy(I think it should be 3.6) , is the backend capable with previous version(v3.5)? If not, how do we upgrade from 3.5 to 3.6? The reason I have this concern is that when we add downgrade in 3.5, v3.5 cannot downgrade to v3.4 because backend incapability. I am not sure will you

[2021-06-15 19:20] avorima opened #13111 "etcdctl: Provide shell completion"
It would be nice to have shell completion for etcdctl. Many projects do this, either by generating some shell code or handling in the code. Also, cobra support completion OOTB, but the current version in the 3.4 release branch is too low.

https://github.com/spf13/cobra/blob/master/shell_completions.md

[2021-06-15 22:07] nate-double-u commented on #12970
Standing by. I can merge https://github.com/etcd-io/website/pull/379 when you approve @hexfusion, or when i see v3.5.0 on the [Releases page](https://github.com/etcd-io/etcd/releases).

[2021-06-15 22:31] hexfusion commented on #12970
Congratulations to everyone for an amazing team effort. etcd team proudly announces GA for  [v3.5.0](https://github.com/etcd-io/etcd/releases/tag/v3.5.0)

[2021-06-15 22:35] nate-double-u commented on #12970
Here's the blog announcement: https://etcd.io/blog/2021/announcing-etcd-3.5/
Congratulations everyone!

[2021-06-16 08:05] lilic commented on #13108
Hey, `go get go.etcd.io/etcd/client/v3` should be the correct one, can you give that a try?

[2021-06-16 09:23] linnv commented on #13108
one way to solve this issue is to replace the etcd package with  local dir, for example:

//clone  the etcd package to your localhost
cd $GOPATH
git clone -b v3.5.0 https://github.com/etcd-io/etcd.git
cd etcd
pwd
// get the local dir of etcd: /Users/jialinwu/go12/etcd, it depends on your $GOPTAH

in go file `import go.etcd.io/etcd/client/v3`,then you need to add `replace go.etcd.io/etcd/client/v3

[2021-06-16 09:47] lilic commented on #13108
@linnv how come you need to do this? For me:
[code]

works correctly and then following the rest of the README https://github.com/etcd-io/etcd/tree/main/client/v3#install. If there is an issue that we need to replace this, let us know so we can fix it!

[2021-06-16 11:50] linnv commented on #13108
It works for me too! Thanks for mentioning me!
@forging2012  just try `go.etcd.io/etcd/client/v3` , no `go.etcd.io/etcd/clientv3`, they are different.

[2021-06-16 13:49] jonaz commented on #12535
It happened again now at 14:22 in one of our production clusters. Nothing happend to the VM. No vmotion at that time. No logs in etcd execept for this exactly when the revision started to get out of sync:

[code]

screenshot from prometheus:
![2021-06-16-154746_701x669_scrot](https://user-images.githubusercontent.com/1146389/122230806-41510600-ceba-11eb-9e5a-b2bc3891feb5.png)

[2021-06-16 18:29] vivekpatani commented on #10084
@tangcong @gyuho @jpbetz @xiang90 @wenjiaswe @agargi @jingyih @ptabor just a gentle reminder.

We spoke about this at the `kube-sig-api-machinery`. We'd like to get your feedback on this in order to move forward.

Thank you.

[2021-06-17 01:59] agargi commented on #13106
@Yamakasi Does this help? Apologies if this is not what you are looking for. If not, let me know and I'll dig deeper.

https://www.inap.com/blog/deploying-kubernetes-on-bare-metal/

[2021-06-17 06:13] forging2012 commented on #13108
Done
Thanks all!

[code]

Suggest:
ADD this FAQ to README file.

[2021-06-17 06:13] #13108 closed

[2021-06-17 07:04] lilic commented on #13108
We have this in the client readme already https://github.com/etcd-io/etcd/tree/main/client/v3#install, where else would you like to have it for more visibility?

[2021-06-17 07:20] jonaz commented on #12535
@frans42 are you also using leader election? Do you have a custom software built for it like we do? We suspect that something we do in the client is causing this.

[2021-06-17 07:22] halleyshx opened #13116 "the hyperlink of bug fixes(5) in the blog is incorrect"
[bug fixes of the new blog](https://etcd.io/blog/2021/announcing-etcd-3.5/#bug-fixes)
![image](https://user-images.githubusercontent.com/24284940/122350114-7ffcc400-cf7f-11eb-929c-c15339f1b677.png)
it's same to bug fixes 4, should be 'https://github.com/etcd-io/etcd/pull/11850'

[2021-06-17 08:10] forging2012 commented on #13108
Nice job !
But, It does confuse people, like me.

[2021-06-17 09:24] lilic commented on #13108
@forging2012 feel free to open PR to correct how it could be more clear for everyone, thank you!

[2021-06-17 09:37] lilic commented on #13116
Thanks for noticing! Do you want to do the fix? The source is actually located here https://github.com/etcd-io/website/blob/ba37eaa5861d0304ef104b5061af4afb497d9bb6/content/en/blog/2021/announcing-etcd-3.5.md#bug-fixes

[2021-06-17 09:38] serathius commented on #11716
In this discussion I focused on the control logic for coordinating zero-downtime downgrades and upgrades. This control logic should enforce invariant that upgrades should not be done in by more than one version. This works with assumption that backed is +/-1 version compatible and backend can be downgraded/updated by just running Etcd server on it.

Introducing backend compatibility guarantees tha

[2021-06-17 10:05] zhangguanzhang commented on #9785
[code]

[2021-06-17 10:17] zyxlcr opened #13117 "KeyFile and CertFile are not presented use etcd 3.5.0 but it wroks in etcd 3.4.0"
this is my etcd.yml

# Human-readable name for this member.
name: "master1"
# Path to the data directory. #数据目录
data-dir: /opt/etcd/data

# Path to the dedicated wal directory.#日志及快照目录
wal-dir: /opt/etcd/data/wal
listen-client-urls: https://192.168.137.132:2379,http://127.0.0.1:2379
advertise-client-urls: https://192.168.137.132:2379,http://127.0.0.1:2379
listen-peer-urls: https://192.168.137.132:

[2021-06-17 14:30] karuppiah7890 commented on #13106
TCP mode works :)

etcd Server uses gRPC and I noticed this in gRPC - https://grpc.io/blog/grpc-load-balancing/#recommendations-and-best-practices which has a reference for HA Proxy config - https://gist.github.com/thpham/114d20de8472b2cef966

I tried it too - https://github.com/karuppiah7890/issues-info/tree/main/etcd-io/etcd/issue-13106

It may not be perfect though, as I'm new to both etcd and

[2021-06-17 20:31] smira opened #13119 "etcd crashes after restart with `panic: unexpected removal of unknown remote peer`"
This seems to be similar to some old issues, e.g. #3106

etcd version: 3.5.0

The exact steps to reproduce are not clear, but the bug is reproducible with the integration test for Talos (github.com/talos-systems/talos).

The integration test performs multiple steps reconfiguring the 3 node cluster:

* removing members and adding them back
* recovering etcd from snapshot on all nodes
* moving leade

[2021-06-17 20:31] smira commented on #13119
Complete log of the etcd server:

[code]

[2021-06-17 20:33] smira commented on #13119
what is interesting, one line before the panic etcd seems to ignore already removed member:

[code]

but panics right after that.

[2021-06-17 20:36] smira commented on #13119
exactly same integration test steps pass just fine with 3.4.15, but with etcd 3.5.0 Talos also switched to adding new members as learners and promoting them, so not clear if learner mode plays some role here.

[2021-06-18 02:18] jiapeish commented on #12528
This issue still EXIST.

[2021-06-18 03:14] 1231sadqwf opened #13121 "go get go.etcd.io/etcd/client/v3 error"
go get go.etcd.io/etcd/client/v3

go: go.etcd.io/etcd/client/v3 upgrade => v3.5.0
go get: go.etcd.io/etcd/client/v3@v3.5.0 requires
        github.com/prometheus/client_golang@v1.11.0 requires
        github.com/golang/protobuf@v1.4.3 requires
        google.golang.org/protobuf@v1.23.0 requires
        github.com/golang/protobuf@v1.4.0 requires
        google.golang.org/protobuf@v1.21.0 requires

[2021-06-18 05:32] #13121 closed

[2021-06-18 06:18] spilledyear opened #13122 "watch_stream leak?"
1、etcd version： 3.4.16

2、question
In the production environment, it was found that the etcd server memory continued to increase until OOM. Through monitoring, we found that there are a large number of watches, watch_streams, goroutines. On a 2C 4G machine, we found goroutines 170000+, watchers 37000+, watch_streams 45000+.

I have a question, why is the number of watch_streams more than the numbe

[2021-06-18 06:27] spilledyear commented on #13122
groutines = 3 * watch_streams

[2021-06-18 06:31] spilledyear commented on #13122
I really can’t understand that watch_stream leaks exist. if the client is closed ,mens the TCP connection will close,  then the watch_stream will close, finally, the goroutins will stop. is this right?

[2021-06-18 06:47] lavacat opened #13123 "Proposal: universal snapshot format"
I've mentioned this idea in the community meeting. Here is more detailed [proposal](https://docs.google.com/document/d/1VseYVjxBCtl6tSjBQlmxVEM1rUQVGjUhZhls4t-jGBY/)

I've put it in the google doc because it's easier to comment. Here is a copy of the summary.

### Problem
Etcd provides a backend interface to abstract underlying implementation. It’s relatively straightforward to implement new backe

[2021-06-18 07:45] halleyshx commented on #13116
@lilic I would like to do this, but now I found someone had fix the hyperlink problem and pushed ( 'https://github.com/etcd-io/website/pull/384' ) . Contribute again next time if have another chance. ^_^

[2021-06-18 11:41] lilic commented on #13116
Ah, yes etcd is open for contributing, so looking forward to that! Opening issues tends to be good if its larger feature or change, but feel free to just open PR next time there is something like this! 🎉

[2021-06-18 18:48] xiang90 commented on #13123
Just out of curiosity, are you exploring with some new backends?

[2021-06-19 02:30] spzala commented on #13116
Closing as it's fixed :) Thanks!

[2021-06-19 02:30] #13116 closed

[2021-06-19 13:12] raindylong commented on #13106
Nginx stream module is another good way to do this . http://nginx.org/en/docs/stream/ngx_stream_core_module.html

[2021-06-20 17:16] #12665 closed

[2021-06-20 17:16] #12712 closed

[2021-06-20 17:16] #12723 closed

[2021-06-20 17:16] #12441 closed

[2021-06-21 03:28] tydra-wang commented on #8181
maybe the same problem.

I have a three-node etcd cluster. `session.Done()` in client often returns when I kill one node of etcd.

[2021-06-21 08:21] #12234 closed

[2021-06-21 11:08] SingleThread opened #13128 "--key-file=<path>: Key for the certificate. Must be unencrypted"
How to use openssl encryption certificate？the unencrypted private key of the certificate has security issues.

[2021-06-21 16:51] lotusnoir opened #13130 "Distributors Application for <YOUR DISTRIBUTION HERE>"
Hello
I'm running a 3 nodes etcd cluster. The node etcd-03 crashed and after restarting it i can't make it join to the cluster.

`Jun 21 18:42:00 etcd-03.prod bash[2229]: {"level":"warn","ts":"2021-06-21T18:42:00.305+0200","caller":"rafthttp/http.go:448","msg":"failed to find remote peer in cluster","local-member-id":"b3cd6e722f233662","remote-peer-id-stream-handler":"b3cd6e722f233662","remote-pee

[2021-06-21 17:14] lavacat commented on #13123
@xiang90 we are trying out badger, used your old [PR](https://github.com/etcd-io/etcd/pull/10311/)

The benchmarks in our loadtest env showed some improvement but not high enough to justify backend replacement.
We want to try it out on 1 node in prod and run it for longer.

[2021-06-21 19:00] embano1 opened #13131 "Add debug log in `needPrevKV` watch handling?"
Could there be a potential case where this lookup would fail (e.g. compaction) and the error be silently ignored?

[code]

If so, it would be good to at least log it, e.g. `DEBUG` level? What do you think?

https://github.com/etcd-io/etcd/blob/556447683112b6ccc00b27a1bd0d0a4edc361692/server/etcdserver/api/v3rpc/watch.go#L394:L399

[2021-06-21 22:39] gyuho commented on #13123
Can you share more details? I am more interested in space usage, potentially eliminate the need for defrag with different backends.

[2021-06-21 23:26] #12330 closed

[2021-06-22 17:04] pascapascapascapasca opened #13134 "Auth token invalid errors after member upgrade/replace until Etcd is restarted"
**Description**

I've got a healthy 3-member Etcd cluster and replace one of the members (not necessarily an Etcd version upgrade). When Etcd starts, it is stuck in a state where all commands give `invalid auth token` errors. As soon as it is restarted, these errors go away.

Please tell me if there is any info missing.

**Versions**

Etcd container: `gcr.io/etcd-development/etcd:v3.4.15`
OS: `Cen

[2021-06-22 23:54] nic-chen commented on #12550
I would like to fix it. could you please assign to me？ thanks

[2021-06-23 08:59] lilic commented on #12550
👋 @chaitanyaenr seems to be assigned to it already, @chaitanyaenr do you have the fix for this already, otherwise maybe @nic-chen can tackle this one?

[2021-06-23 14:05] tkoeck opened #13136 "Backup of etcd EBS volumes"
Hi,

we use AWS EBS snapshots to backup our Kubernetes etcd volumes. That worked so far but I am wondering if we cannot possibly get rare problems with that approach and should backup it in another way.

- Is it possible to use volume snapshots to backup etcd volumes without possibly corruption the recovered data?
- Can etcd recover from a created volume from a snapshot? Especially when you assume

[2021-06-23 14:16] mitake commented on #13134
hi @pascapascapascapasca , it seems that you are using simple token, which is just for testing and not suitable for real production use cases. Could you try jwt token or CN based auth? These methods can handle membership change and won't cause the issue you found.

[2021-06-23 14:30] pascapascapascapasca commented on #13134
Hi @mitake, thanks for the reply! We'll change our authentication method.

[2021-06-23 14:30] #13134 closed

[2021-06-23 15:30] #10711 closed

[2021-06-23 15:30] #11168 closed

[2021-06-23 15:30] #11732 closed

[2021-06-23 15:30] #11761 closed

[2021-06-23 15:30] #12203 closed

[2021-06-23 15:31] #12738 closed

[2021-06-23 18:33] Bessonov commented on #10711
It seems like unresolved.

[2021-06-24 02:46] wilsonwang371 opened #13140 "In-mem database backend"
Guys,

We have a case in our company to use in memory only database which do not need to persist kv onto disk but it need strong consistency.

Do you guys think it would be a good chance to make changes to boltdb interface to make it more general for other btree based in mem db alternatives?

@gyuho @ptabor

[2021-06-24 07:27] vooon opened #13141 "Update OpenTelemetry to 1.0.0-RC1 / 0.21.0"
Hello,

https://github.com/open-telemetry/opentelemetry-go/releases/tag/v1.0.0-RC1

There are several breaking changes, at least semconv package move. I would try to provide a patch.

[2021-06-24 07:38] gyuho commented on #13140
Interesting idea.

@wilsonwang371 Can we research more if there is any existing system that supports pluggable storage backends? I think this requires multiple phases, starting with more generic peer-to-peer snapshot contracts. Or making existing boltdb optionally bypass file system calls is another option.

c.f. https://github.com/etcd-io/etcd/issues/13123

/cc @xiang90

[2021-06-24 08:12] lilic commented on #13141
Thanks, @vooon I would say let's wait until v1.0.0 is out, in case something else changes, we are far away from the etcd v3.6 release. But when that happens you can do the bump! 🎉

[2021-06-24 08:22] ptabor commented on #10711
I would expect 2. be addressed in 3.5 as part of this issue:  https://github.com/etcd-io/etcd/issues/12680

[2021-06-24 08:30] #13111 closed

[2021-06-24 08:37] lilic commented on #12550
Also note here, I would say we use `deriv` rather than `delta`, as delta only takes first and last sample into account. More info here https://www.robustperception.io/functions-to-avoid

[2021-06-24 11:02] chaitanyaenr commented on #12550
Sorry, I missed this issue. @lilic Thanks for the pointers, will take a shot at fixing it.

[2021-06-24 16:10] tdolphin opened #13144 "etcd 3.5 health endpoint not usable when authentication is enabled"
Cannot query 127.0.01:2739/health when auth enabled in version 3.5
Steps to reproduce:
[code]
[code]
**127.0.0.1:2379 is unhealthy: failed to commit proposal: etcdserver: user name is empty
Error: unhealthy cluster**

GET request to gateway doesn't give expected result
![image](https://user-images.githubusercontent.com/7492772/123296483-afae4d80-d4e4-11eb-9070-29bf796127bb.png)

[code]

Expected:

[2021-06-25 06:05] tangcong commented on #13144
thanks @tdolphin. pr #13145 will fix it.

[2021-06-25 09:47] MakDon commented on #13140
Is it a good idea that store the bbolt's data file in [tmpfs](https://en.wikipedia.org/wiki/Tmpfs)?

[2021-06-25 15:00] aldelsa opened #13147 "Alert rule etcdHighNumberOfFailedGRPCRequests in Prometheus"
ISSUE TYPE

    Bug Report

SUMMARY

We have a k8s cluster using kube-prometheus-stack for monitoring. This prometheus have a several alert rules to check all the cluster. One of those alert is to check request on etcd of kubernetes. The problem is that this rule is persistently alerting:
message = etcd cluster "kube-etcd": 100% of requests for Watch failed on etcd instance ". But the cluster is r

[2021-06-25 17:56] hexfusion opened #13148 "raft learner limit increase proposal"
Today we limit the raft learner count to 1[1] which rightfully was set in 3.4[2] as a gate against leader stress of log replication. I think the time has come to consider lifting this limit. Perhaps as a gate to additional learners, we can scale learners only if existing learners are promotable (in sync with the leader). Open to other ideas but I think for the feature to evolve user needs to be ab

[2021-06-25 18:04] hexfusion commented on #13148
cc @marun @lilic

[2021-06-26 01:33] #13144 closed

[2021-06-27 21:13] ba31 opened #13150 "etcd 3.5 :DeadlineExceeded desc = context deadline exceeded"
**ISSUE TYPE**

Bug Report

**SUMMARY**

We have two ETCD Cluster and running with version 3.5 . We are trying to build the K8s cluster by following "kubernetes-the-hard-way" . I have managed to install and run the etcd cluster but when try to check the member status its keep saying "DeadlineExceeded desc = context deadline exceeded"

**ENVIRONMENT**

Operating System: Ubuntu 20.04.2 LTS
Etcd vers

[2021-06-28 08:45] serathius commented on #13070
WIth both PRs merged this issue can be closed.

[2021-06-28 08:45] #13070 closed

[2021-06-28 08:58] betterliuyu commented on #12845
This bug still exists, until release 3.5.0.

[2021-06-28 09:01] serathius commented on #11716
@YoyinZyc Thanks for bringing my attention to backend or etcd data backward compatibility. After giving thing a thought I found that problem is big enough that it deserves it's own dedicated design.

I have wrote down the design for etcd data versioning. It proposes to introduces idea of Storage version and proposes some restrictions to ensure that older etcd binaries can safety load data during d

[2021-06-28 15:43] brenix commented on #12814
We encountered this a while back. If I recall correctly, there had been a bug in systemd-resolved that returned a different format for SRV records, which results in the error from the OP. It appears this should have been resolved since systemd v240+.

Since we run etcd under a container, the workaround we used was to pass the `--dns` flag to the container via docker (with our DNS server) to bypass

[2021-06-28 18:26] pgodfrin-nov opened #13153 "New members showing "unstarted" in member list"
I'm building a new cluster, but I'm stymied at two. I bootstrapped one (tstsdb21), it shows started. Then on the other machine I bootstrap the other one (tstsdb22). Also added the members, here's what shows up
[code]
On the other machine:
[code]

The logs show these messages (sdb21):
[code]
and on sdb22:
[code]

Here's a condensed version of my config files:
[code]
(it's the same for sdb21...)

Wh

[2021-06-29 02:00] hexfusion commented on #12970
/close

[2021-06-29 03:24] #12970 closed

[2021-06-29 09:07] FengXingYuXin opened #13156 "key with lease be deleted for no reason"
problem description：
I execute a watch  instruct on a etcd follower(3 members total)，which with --rev=12000000（the etcd max reversion is 18800000），after it, some of the keys of distributed lock（with ttl 10s）in the etcd were deleted.

others：the etcd version server is 3.3.11 and API 3

Preliminary conclusion of investigation：
when i execute the watch instruct, the follower etcd process has a maximu

[2021-06-29 12:29] pgodfrin-nov commented on #13153
weird i restarted both nodes and they read started

[2021-06-29 12:47] pgodfrin-nov commented on #13153
Ok, I added a third etcd node, it shows unstarted. I get this type of error message on the last node I restart:
[code]
Which makes no sense to me as the mem list on the other cluster shows this:
[code]
Once can see the id of etcd-tstewt01 is "ec7afc04fb7579da " on this machine. I thought when specified as "existing" on the node you've added a new member [etcd-tstewt01] it would query the remote an

[2021-06-29 18:08] nickpoorman commented on #13119
This can be reproduced by running the https://github.com/etcd-io/etcd/tree/main/contrib/raftexample and issuing a delete for a node that doesn't exist:

[code]

[2021-06-30 01:05] #12758 closed

[2021-06-30 07:52] SingleThread commented on #13096
For example, when I use an incorrect password to access etcd data, the etcd account can still be authenticated no matter how many incorrect passwords are entered. Although the account password is incorrect, there is no locking mechanism. The account can be locked based on the access IP address or account.

[2021-06-30 08:55] liuyanzhen34 opened #13166 "command : etcdctl --endpoints localhost:2379 snapshot save snapshot.db always Running ,not stop"
dear teacher,
I setup a k8s cluster with kubeadm, with one master node ,two nodes.
and etcd is on master node ,etcd is running in pod , in the pod ,I put the follwing conmands:
# export ETCDCTL_API=3
# etcdctl --endpoints localhost:2379 snapshot save snapshot.db
{"level":"info","ts":1625042291.582288,"caller":"snapshot/v3_snapshot.go:110","msg":"created temporary db file","path":"snapshot.db.part"

[2021-06-30 12:41] serathius opened #13167 "Deflake etcd tests"
If we look into tests results since we migrated Github Actions [commits on main branch](https://github.com/etcd-io/etcd/commits/main?branch=main) we get:
* 7 out of 32 failures on [1st page](https://github.com/etcd-io/etcd/commits/main?before=2fb919bef908f4cdf9a841a7d9494614566335e0+35&branch=main)
* 14 out of 31 failures on [2nd page](https://github.com/etcd-io/etcd/commits/main?before=2fb919bef9

[2021-06-30 13:20] veerendra2 commented on #12492
I had similar issue. etcd pod was failed start due to unexpected Azure VM reboot.
[code]
In my case, there are 2 members up and running. Below is thigs I did
[code]

[2021-06-30 13:22] veerendra2 commented on #11949
Somehow I was able to recover. I commented [here](https://github.com/etcd-io/etcd/issues/12492#issuecomment-871398767) in case someone interested

[2021-06-30 13:23] serathius opened #13168 "Implement storage versioning"
Implementing a backward compatibility for etcd data directory is a prerequisite to implement downgrades (https://github.com/etcd-io/etcd/issues/11716)

Proposal https://docs.google.com/document/d/1yD0GDkxqWBPAax6jLZ97clwAz2Gp0Gux6xaTrtJ6wHE/edit?usp=sharing

## Milestone 1
Storage version is available for snapshots.
* [x] Etcd saves storage version during first raft snapshot #13070
* [x] During bo

[2021-06-30 13:24] serathius commented on #11716
Created dedicated issue to track progress of implementation. https://github.com/etcd-io/etcd/issues/13168

[2021-06-30 18:29] obockows commented on #13136
@mumoshu was trying to answer it in https://github.com/kubernetes/kubernetes/issues/40027#issuecomment-288930752
IMHO there are 3 approaches to restore, 1 &2  are rather ok and 3rd is tricky. I will use the example of upgrades (because in the Ops world it is common to use a disk snapshot before patching)

1. Rolling master upgrade, e.g. when we fully update one master and process with next. Proced

[2021-06-30 19:25] tkoeck commented on #13136
Thanks for the advice. I will look into it.

We are creating automatic EBS snapshot every two hours. Shutting down all masters at once would be tricky. Especially when Kubernetes services should run while doing that.

[2021-06-30 21:11] #12760 closed

[2021-07-01 00:33] ksa-real commented on #13147
I wonder if https://github.com/etcd-io/etcd/issues/9166 is related

[2021-07-01 09:03] kviala commented on #13166
I got the same issue when was trying to take a snapshot by connecting through a shell to the container (kubectl exec or K8s dashboard).

The solution that works for me is to do it from outside the pod (master or another node) pointing on the master IP address.

Hope this helps.

[2021-07-01 13:58] kviala opened #13169 "ETCD and Kubernetes : frequent leader election"
Hi everyone,

I am pretty knew to Kubernetes and ETCD as well, so I'll try to describe my issue the best I can but feel free to ask for more info.

### Context:
We have a K8s cluster deployed with kubeadm, with three master nodes and ETCD installed as a pod on each master.
Sometimes when trying to access to the K8s API server we got the following error: **"error:etcdserver: leader changed"**

So I

[2021-07-01 18:34] karuppiah7890 commented on #13167
This sounds like a pretty interesting thing and also like a thing that alleviates a lot of pain and improves developer experience !

[2021-07-01 19:00] Clivern commented on #11749
i added both and it worked.

[code]

[2021-07-01 20:35] karuppiah7890 commented on #13167
I was able to get a basic bash script using GitHub GraphQL API - https://github.com/karuppiah7890/issues-info/blob/main/etcd-io/etcd/issue-13167/find-flaky-tests-data.sh . It gives data like this - https://github.com/karuppiah7890/issues-info/blob/main/etcd-io/etcd/issue-13167/commit-and-check-data.json

[2021-07-01 20:36] karuppiah7890 commented on #13167
I'm able to get the number of successes and we can get failures too. Given total (for example 100) and any one of those (successes / failures), we get the other value too

[2021-07-02 01:09] agargi commented on #13169
@kviala I would suggest you to look at computing power available as well in addition to disk and network. In addition, network team saying a 10 GBPS network is available does not indicate if there are no network bottlenecks. I would suggest you measure latency yourself.

https://etcd.io/docs/v3.5/op-guide/hardware/

[2021-07-02 01:47] daheige commented on #11749
OK, I'll try. Thank you. I don't know if the higher version has solved this problem. I think the community has adopted the replacement mode to solve this problem. I expect the official to solve this dependency problem.

------------------ Original ------------------
From: Ahmed ***@***.***&gt;
Date: Fri,Jul 2,2021 3:00 AM
To: etcd-io/etcd ***@***.***&gt;
Cc: heige ***@***.***&gt;, Mention ***@***.

[2021-07-02 08:18] serathius commented on #13167
Great! Would you be interested in sending PR that adds it to etcd `scripts` ?

[2021-07-02 08:22] karuppiah7890 commented on #13167
Sure @serathius ! I was also wondering if I should try out a golang script too, so anyone can run it with just "go run" or similar on any platform. No need to worry about OS, bash shell being available, other tools being available etc. What do you think?

[2021-07-02 08:29] serathius commented on #13167
Letting everyone to run it is a good initiative, but on the other hand long therm we should just automate it. Most scripts are already written in bash and I don't think there is any need to invest in this script too much. It should be simple enough (2-3 commands) that it could be replaced when needed.

I think it would make sense revisit those improvements when we have established whole process an

[2021-07-02 08:41] kviala commented on #13169
@agargi thank you for your answer.
I managed to monitor CPU and RAM usage on the nodes and there is no visible starvation or peak usage.
On network side, I am not sure how to do it but I'll find a way.
Regarding the disk I saw there some benchmark tools to be used, I tried that but I am not sure how to interpret the results.

Is there a kind of baseline of those resources metrics that can be used

[2021-07-02 08:56] karuppiah7890 commented on #13167
Makes sense @serathius ! 👍 I'll raise the PR and we can discuss more about the bash script as part of the PR

[2021-07-02 09:04] ksa-real commented on #13147
I see that according to Prometheus data the grpc calls to etcd's Watch method have either "Cancelled" or "Unknown" grpc code. Check the graph of below expression e.g. last 24 hours:
[code]
So effectively if there are no calls to Watch API, the service looks healthy. If there are calls, they fail with !="OK" grpc code. Can someone comment on whether this behavior is expected?

[2021-07-02 09:16] qsyqian opened #13173 "metric for (confirmedIndex-appliedindex)"
in serializable read, if follower has appliedindex small than confirmedIndex from leader, it should wait the difference to be applied. if we need a metric to record this difference? what do you guys think?

[2021-07-02 09:26] snsyzf opened #13174 "how to look the logs"
debug is enabled, how to look the logs

[2021-07-02 16:38] vvdvortsova opened #13176 "Issue found by Svace static analyzer"
Hello
This warning found with the Svace.
In each case, using a variable remoteServer after comparison with nil, remoteServer may be nil. It may lead to panic.
https://github.com/etcd-io/etcd/blob/af9b5e726a1c079156725432b22b54371ee12a69/server/etcdserver/api/rafthttp/http.go#L464
[dereference] Variable 'remoteServer' is passed to function 'rafthttp.checkVersionCompatibility' as 2nd parameter at ht

[2021-07-03 05:17] socketpair commented on #11372
It's actual

[2021-07-03 06:56] mrpre opened #13177 "How to deploy ETCD cluster in K8s"
As a CNCF hosted project, `etcd` is already used inside K8s but as a kv-store used by my own application I find it is difficult to deploy `etcd` cluster in K8s.  There is some difficulty I have find after I try deploy `etcd` cluster on K8s.
1. The IP of POD running `etcd` may be  changed if pod is rescheduled(whether triggered by node problem or `kubectl delete`) but `etcd` doesn't support using `

[2021-07-03 14:13] nic-chen commented on #13176
hi @vvdvortsova

It seems that `remoteServer` cannot be nil, otherwise it will panic in `semver.Must`:

https://github.com/etcd-io/etcd/blob/af9b5e726a1c079156725432b22b54371ee12a69/server/etcdserver/api/rafthttp/util.go#L154

[2021-07-03 14:34] vvdvortsova commented on #13176
Yes, I agree with you. Therefore it's a redundant comparison with nil. Can I send a PR to fix it?

[2021-07-03 23:44] peter-hst opened #13182 "canot usage go get for the etcd-client-v3"
**i want to use go lang  for a etcd client demo, but i can't go get the package for errors**

**1. go get go.etcd.io/etcd/client/v3**

**2. responses the errors:**
[code]

[2021-07-04 22:32] #12767 closed

[2021-07-05 07:51] ptabor commented on #13182
What version of go are you using ?

Just tested on `go1.16.3`
[code]

[2021-07-05 14:00] mymeatball opened #13186 "What is the difference between the configuration file and the configuration flag format？"
etcd version:3.4.14

I tried to start etcd using the configuration file. The cluster started successfully, but my apisix connection reported an error.But if I start etcd with the configuration file flag, apisix can run normally.
I have three nodes to form an etcd cluster. The configuration file only differs in name and node ip.
The configuration file is as follows:
`# Human-readable name for this

[2021-07-05 15:50] ahrtr opened #13187 "The getExcludedAlarms function doesn't skip empty query parameter"
Please see [metrics.go#L122](https://github.com/etcd-io/etcd/blob/main/server/etcdserver/api/etcdhttp/metrics.go#L122). The condition should be "len(alm) == 0" instead of "len(alms) == 0".  The empty value isn't skipped.

For example, when issuing a http request like below, then 3 values including the empty one are included in the result map,
`curl -G http://127.0.0.1:2379/health -d "exclude=NOSPA

[2021-07-05 21:57] #12778 closed

[2021-07-06 11:30] PayalSasmal10 commented on #10487
Hi @hexfusion,

We have 2.6GB of AWS dynamodb data which we migrated in etcd format. We want to restore those data in the GCP etcd operator. We are using etcd bitnami helm version as CR and etcd operator.  while trying to restore with the command below command, we are getting error.
Could you please help us?

etcdctl snapshot restore /bitnami/etcd/snapshot/db  \
	 --data-dir /bitnami/etcd/data  \

[2021-07-06 11:34] PayalSasmal10 opened #13189 "etcd snapshot restore is failing"
Hi Team,

We have 2.6GB of AWS dynamodb data which we migrated in etcd format. We want to restore those data in the GCP etcd operator. We are using etcd bitnami helm version as CR and etcd operator.  while trying to restore with the command below command, we are getting error. The same way we can restore snapshot if we have less than 2 GB of data.
Could you please help us @geauxvirtual @hexfusion

[2021-07-06 17:20] iofirag commented on #10101
ETCDCTL_API=3 etcdctl del "*" --from-key=tru

[2021-07-07 02:47] hangzhouwanjun commented on #13119
I also encountered the same problem. That change 3 nodes cluster to 1 nodes cluster, and restart etcd.service.

[2021-07-07 03:03] wilsonwang371 commented on #13140
I am still doing related research. Basically, bbolt using tmpfs won't help much because bbolt is already using memmap to access the data. Using tmpfs may help to improve the performance a little bit but still, bbolt was not designed for a in-mem database.

I am still thinking about this issue. I will update it when I have some new idea.

[2021-07-07 03:05] wilsonwang371 commented on #13140
Sorry for the late reply. Agreed. I think a generic peer-to-peer snapshot contracts would be more urgent for us on this topic. Maybe we can just firstly introduce a layer on top of bbolt at the very beginning?

[2021-07-07 03:07] wilsonwang371 commented on #13041
Update to this issue: I already captured some data in our enterprise environment and I am working on some initial analysis. Depending on the result, I will discuss with you guys and we can see how to push forward this.

[2021-07-07 07:47] SingleThread opened #13191 "Will the old password be verified when the etcd user changes the password?"
When the etcd user changes the password, don’t he need to change the old password? Can I only use the administrator account to reset the password?

[2021-07-07 08:41] tatsuhiro-t opened #13192 "etcd client v3 v3.5.0 sends invalid `:authority` header field value"
Starting from etcd v3.5.0, etcd client v3 sends invalid `:authority` header field value which violates RFC.

Suppose we created a client like so:
[code]

And started making a connection and tried to get some stuff from etcd server.

In the previous etcd client v3, it sends `:authority` header field value like this:

[code]

But now with the v3.5.0, it sends like this:

[code]

According to the RFC

[2021-07-07 09:49] raindylong commented on #13189
How about to start the etcd daemon with "--quota-backend-bytes 8943040000"? It's to configure the dbszie to 8G because your snapshot is 2.6G.

[2021-07-07 11:41] PayalSasmal10 commented on #13189
Hi @raindylong,

Thank you so much for your quick response.

I have checked this flag but not sure where to place that. We are using https://github.com/bitnami/charts/tree/master/bitnami/etcd.

Could you please provide us few links which we can follow?

[2021-07-07 12:36] MakDon commented on #13189
Following the [code](https://github.com/etcd-io/bbolt/blob/master/db.go#L347), we could see that if the file's size is greater than the `options.InitialMmapSize`, the file's size would be used.
So maybe this problem is not caused by the `quota-backend-bytes`. But it's still worth trying to run with `--quota-backend-bytes 8943040000` becasue "we can restore snapshots if we have less than 2 GB of da

[2021-07-07 13:30] MakDon commented on #13177
Is it [helm](https://artifacthub.io/packages/helm/bitnami/etcd) a good choice?

[2021-07-07 14:11] Dorsosiv opened #13193 "Question"
Hi, Im using etcd in Kubernetes and I form there a cluster with sts deployment.

I would like to know what flags can be relevant from networking perspective to set for an etcd member.

I thought about setting the heartbeat-interval to a higher value than default.  What other flags might be helpful ?

[2021-07-08 03:37] MakDon commented on #13153
Maybe [this page](https://stackoverflow.com/questions/40585943/etcd-cluster-id-mistmatch) could help ?

[2021-07-08 04:39] anguslees commented on #13177
The easy choice afaics is a `StatefulSet`, where each member identifies itself using `metadata.name`, and finds the peers using the headless Service associated with the StatefulSet.

<details><summary>
Here's an example I use (in cdk8s/typescript format, but you can hopefully translate it easily to some other format)
</summary>

[code]

</details>

[2021-07-08 05:11] anguslees commented on #13148
I'm ignorant - why is this necessary?

Other than the additional replication log load, I feel like the whole point of learners is that they don't affect anything important.  So it should be safe to have lots of them (on an unloaded cluster, and for small values of 'lots'), added/removed fairly arbitrarily afaics? .. Do we care how the existing learners are doing before adding/removing other learne

[2021-07-08 06:46] anguslees opened #13196 "etcd 3.5.0 resurrects ancient (unremovable) members"
Zombie members!

I [upgraded](https://github.com/anguslees/k8s-home/commit/b883c6d761f0a8a882a0b5ff1a5b46b46c5a0e36) my home k8s cluster to etcd 3.5.0 (from 3.4.14).  I noticed in the logs that it started complaining about the health of surprising IPs on my network, but it didn't seem to affect other functionality.  Error messages like:
[code]
Where `192.168.0.9:2380` is _not_ one of my current et

[2021-07-08 09:10] frans42 commented on #12535
Hi @jonaz, we use a standard set-up and don't do anything special. Leaders are elected by whatever etcd has implemented.

It looks like the devs are not going to address this. I plan to move away from etcd, it simply is too unreliable with this simple health-check and self-healing missing. Even if I purposefully corrupted the DB, it should detect and, if possible, fix it. However, it doesn't even

[2021-07-08 12:20] hexfusion commented on #13148
The concern is stress on leader to provide log replication to learners. If you add them unbounded leader will take a performance hit. Think of 6GB state file replicated N times. So one approach I see is ensuring current learners are promotable before scaling another.

If you wanted to add learner unbounded for experimental purposes it should probably be under an unsafe flag.

[2021-07-08 12:27] hexfusion commented on #13148
This all needs testing if your interested in doing a performance review that would help with validation.

[2021-07-08 13:00] #12783 closed

[2021-07-08 13:28] morigs commented on #13140
Somewhat similar idea are currently being discussed in TiKV
https://github.com/tikv/tikv/issues/6402

[2021-07-08 14:11] #13187 closed

[2021-07-08 18:34] wilsonwang371 commented on #13107
sounds like a good idea

[2021-07-08 20:52] brenix commented on #13196
We have run across a similar and what seems to be the same issue across several clusters that have been upgraded over time (<3.4.x). Clusters recently provisioned with 3.4.x do not seem to exhibit the same issue when upgraded.

Upon upgrading, we see a duplicate of each member (with a different id). The cluster continues to operate, however the logs are filled with warnings.

Attempts to remove th

[2021-07-08 23:47] yishuT opened #13201 "accessing cfg.Endpoints in dial() in client/v3/client.go has race with SetEndpoints"
https://github.com/etcd-io/etcd/blob/0cdd558361c6bdbbd9e4023558e2f6ece71c18ad/client/v3/client.go#L299 needs to be `c.Endpoints()` to avoid data race with `SetEndpoints`

[2021-07-09 01:59] guanxingfeng commented on #11952
@redfoxfox
Why is it closed ？how to solve it？

[2021-07-09 04:09] #12789 closed

[2021-07-09 08:22] FengXingYuXin commented on #13156
look forward to the principal's replay!!!

[2021-07-09 14:46] allenporter commented on #13147
I believe when I've looked into this before it is #10289

[2021-07-09 14:49] allenporter commented on #13147
(The fix appears in the etcd 3.5 [changelog](https://github.com/etcd-io/etcd/blob/main/CHANGELOG-3.5.md), though I have not upgraded yet)

[2021-07-10 23:37] allenporter commented on #13196
Similar, after upgrade to 3.5 things look good:
[code]

However, seeing many old members rather than just the expected 3:
[code]

[2021-07-11 06:15] allenporter commented on #13147
That issue was about remapping the error code --  but the alert still fires since Canceled != Ok

[2021-07-11 06:37] allenporter commented on #13147
@lilic updated the rules for etcdHighNumberOfFailedGRPCRequests in https://github.com/etcd-io/etcd/pull/13127

roughly:

`grpc_code=~"Unknown|FailedPrecondition|ResourceExhausted|Internal|Unavailable|DataLoss|DeadlineExceeded"`

Now i think upstream projects that copied these rules just need to be updated.  Great!

[2021-07-11 08:38] allenporter commented on #13147
kube-prometheus-stack is currently not able to be easily updated with the latest etcd rules due to https://github.com/prometheus-community/helm-charts/issues/225

[2021-07-11 12:53] #12792 closed

[2021-07-12 11:16] #12694 closed

[2021-07-12 16:59] sreenandan opened #13207 "ETCD_EXPERIMENTAL_PEER_SKIP_CLIENT_SAN_VERIFICATION example usage"
Hey team, I have been experimenting 3 node etcd across 3 different k8s clusters with my own certificates generated with cfssl. I would like to understand how ETCD_EXPERIMENTAL_PEER_SKIP_CLIENT_SAN_VERIFICATION works.

For the scenario that I have for development and testing, I have 2 k8s clusters whose IP are 10.9.82.119 and 10.9.40.123

Peer certs:
echo '{"CN":"*","hosts":[""],"key":{"algo":"rsa"

[2021-07-12 17:52] sreenandan opened #13208 "--peer-auto-tls cert is valid only for 1 year, is there a way to set expiry date?"
2 questions:
1. How to set the expiry of peer certificate when using --peer-auto-tls?
2. If point 1 above is not possible, can you please give me cfssl command to generate my own cert just like --peer-auto-tls?
I tried https://github.com/coreos/docs/blob/master/os/generate-self-signed-certificates.md and certs come with Signature Algorithm: sha256WithRSAEncryption and it wont work because of ip mi

[2021-07-12 23:06] yishuT opened #13209 "Rotate certs for jwt"
If I read the code correctly, etcd only reloads certs for jwt on restart? Does it make sense to rotate certs for jwt periodically?

[2021-07-13 03:23] yishuT commented on #13209
also, once we start supporting certs rotation, we need to support list of certs for verification

[2021-07-13 03:49] hqsh opened #13210 "etcd and python grpc version incompatible issue"
hello,

I found a etcd and python grpc version incompatible issue (GRPC client not receive the server response, when using ETCD communication).

Now I found downgrade the version of python GRPC (grpcio package) can resolve the issue.

So I wonder where can I find the compatible GRPC version with ETCD?

==============================================================

etcd server version: 3.4.3

pyth

[2021-07-13 05:59] simonhou commented on #12845
I met the same error. v3.5.0
`{"level":"panic","ts":"2021-07-13T08:13:48.403+0800","caller":"mvcc/watchable_store.go:414","msg":"failed to unmarshal mvccpb.KeyValue","error":"proto: KeyValue: illegal tag 0 (wire type 0)","stacktrace":"go.etcd.io/etcd/server/v3/mvcc.kvsToEvents\n\t/tmp/etcd-release-3.5.0/etcd/release/etcd/server/mvcc/watchable_store.go:414\ngo.etcd.io/etcd/server/v3/mvcc.(*watchabl

[2021-07-13 08:22] skykewei commented on #13109
we have reproduce  this.

steps:

1.  copy the db file from server data dir(like:  /var/lib/etcd/data/member/snap/db) which server is running , our server versoin is `3.4.15`
   `cp  /var/lib/etcd/data/member/snap/db  /var/lib/etcd/data/bak-db`

2.  `etcdctl snapshot status` or `etcd-dump-db list-bucket ` , and the errors are shown as below:

[code]

[code]

[2021-07-13 08:43] ptabor commented on #13109
@skykewei, can you please, show results of:

[code]
or even better - share the corrupted file (assuming it's a synthetic test-db that does not contain any real content)

[2021-07-13 09:00] ptabor commented on #13196
Could you, please, check/provide what following commands return on your DB files ?
*members* and *members_removed" sections are especially important

[code]

[2021-07-13 09:43] skykewei commented on #13109
complie  the bbolt command and scp to our test server, the tool name is `bbolt-linux`
the result of `buckets` is messy and unreasonable。
the result of `pages` is reasonable but huge, so here I just pick up the first 30 lines

Unfortunately the etcd db file is huge and it is inconvenient to share.

I guess the key to this problem is etcd server version(I test this on server version `3.4.0`, it's OK

[2021-07-13 10:00] lilic opened #13211 "Add runbooks to etcd mixin"
Currently, etcd has the [etcd mixin](https://github.com/etcd-io/etcd/tree/main/contrib/mixin) - which includes alerts and dashboards. But there are no runbooks, runbooks or playbooks are a way for admins or end users who receive the alerts to apply certain steps to mitigate the alert.

I would like to propose adding the alerting runbooks to the same directory, in the form of a markdown file that i

[2021-07-13 10:11] ptabor commented on #13109
thx.
Could you, please, check:
[code]
And if the result yields sth like:
[code]
[code]

[2021-07-13 11:01] skykewei commented on #13109
[code]

[2021-07-13 11:44] Emon46 opened #13212 "Issue with Raft Add or Remove node with `proposeConfChange`"
I am using a 3 node cluster with raft leader election. Now I need to make it 5 nodes. Or sometimes need to remove a node. I have tried to add or remove nodes one by one with `proposeConfChange` where I have created a request like this
[code]
Followed the raft example API.
Then I have passed this cc in `ProposeConfChange(ctx, cc)` I have done this in a continuous loop until the node is added or rem

[2021-07-13 11:48] ptabor commented on #13109
The root page, should be the "leaf" page, not the branch "page".

[code]

As the DB seems to be huge (17GB), I think that when we copy the page (1`590`747) it has already cycled through
-> freepage -> reallocated for another content.  So from this perspective copying etcd DB files 'live' is not safe.

[2021-07-13 11:53] lilic commented on #13041
Nice, thanks for the update!

[2021-07-13 12:11] skykewei commented on #13109
that makes sense , Good Job!

[2021-07-13 14:45] hexfusion commented on #13109
FWIW we have seen the same issue with db files copied while etcd has flock.

[2021-07-13 15:13] ptabor commented on #13109
I was considering whether etcd / bbolt user on running (RW) server, could:
1. Opene a RO transaction.
2. Physically copied the db file
3. Close the RO transaction.

This would 'lock' reuse of many pages till the RO transaction is closed. But the state guarantees only the pages to be 'hold' that belong to the bbolt at opening the transaction. The meta page could still advance root pointer to anothe

[2021-07-14 06:03] ShinnZhang opened #13215 "How can I use "OR" relation in txn"
If val(key) in [7, 8, 9, 10], then update val(key). How to achieve this.

[2021-07-14 09:29] qAison opened #13217 "The self-signed-cert-validity parameter cannot be specified in the configuration file"
version: 3.5.0

error: selfSignedCertValidity is invalid,it should be greater than 0

[2021-07-14 11:43] lilic commented on #13168
Thanks for the detailed document and this issue!

What is the diff between this in milestone 1

and this task in milestone 2

Also, could we have some issues open for contributions? For example if someone new or existing contributors want to contribute one or two of these tasks maybe?

[2021-07-14 13:20] serathius commented on #13168
First milestone introduces storage version that should be used to prevent using outdated tools/etcd to load storage data. For example etcd v3.6 should not be able to start from data left by v3.7 without doing explicit downgrade of this data.

This is technically a breaking change as currently you could technically load etcd v3.4 data by etcd v3.0 and vice versa. Official we only support only one b

[2021-07-14 13:28] serathius commented on #13168
As implementing versioning of storage touches basically whole server codebase I was worried about potential code conflicts before we update the codebase structure. To minimize future conflicts I have started from large scale refactors to restructure code to accommodate versioning, but got bottle-necked on reviews.

Currently I have local going couple of PR in future as my published PRs are waiting

[2021-07-15 02:10] agargi commented on #13215
@ShinnZhang AFAIK, its not allowed. You might want to play using the command below:

`etcdctl txn -i`

[2021-07-15 02:16] agargi commented on #13193
@Dorsosiv You might want to look at: `election-timeout`

[2021-07-15 14:22] maclockard commented on #11788
keep open

[2021-07-16 01:44] #13215 closed

[2021-07-16 11:45] lilic commented on #12851
This is fixed now, please reopen if you have any issues in the future, thanks!

[2021-07-16 11:45] #12851 closed

[2021-07-17 16:46] siansiansu opened #13222 "ETCD OOM problem"
Hello,

We found our memory usage of etcd is gradually down. But **number of bytes used for go gc**  is gradually up.

![image](https://user-images.githubusercontent.com/33391637/126043767-872c9f5a-8e5c-41bc-bc21-c7dda44e486c.png)

It's will be OOM a few days later.

Just don't know why what's happened.
What do you think of about it above?
Do I need to provide more metrics information?

==========

[2021-07-18 05:58] hqsh commented on #13210
Thank you!

However, I found other things about this issue as follow.

In another envirment, the version of ETCD server is 3.3.11. But I didn't found go.mod of this version.

I use python grpcio 1.23.1. I found it failed as the issue same as former: **When only use etcd server and client, or only use grpc server and client, they work fine. But grpc cilent send message failed (exception log show it

[2021-07-18 16:02] ptabor commented on #13196
I tried to repro this (without success) by:
  1. Starting new etcd-3.3.25 cluster
  2. Storing some content.
  3. Expanding it to make it 2 member cluster etcdctl v2
  4. Populating content to trigger a snapshot
  5. Removing the member using etcdctl v3
  6.  Populating content to trigger a new snapshot
  7. Running etcd 3.5
  8. Verifying etcdctl (v3) output. There is only one member as expected.

[2021-07-18 16:49] allenporter commented on #13196
Thank you. I am unable to reproduce and get data now as my cluster failed and I had to restore from a snapshot. (The root cause of that failure was not related to this issue)

In my case step #5 involved many of the other runtime reconfiguration steps like replacing failed members or adding and removing members (with a previously used name) over the course of a year.

[2021-07-18 18:39] sakateka commented on #7798
Hi!
I have investigated this problem.
The main reason for the falling is the lack of a record in the DNS.

Steps to reproduce the problem.
1. Run a cluster of 3 nodes (let's say e1 e2 e3)
2. Delete the dns record for one of the nodes (let's say e3)
3. Wait for the dns cache to stop resolving the deleted record.
4. Turn off one of the nodes (let's say e2)
5. Delete the data for this node (WAL for e

[2021-07-18 21:53] agargi commented on #13191
@SingleThread

When the etcd user changes the password, don’t he need to change the old password?

Can I only use the administrator account to reset the password?

![image](https://user-images.githubusercontent.com/11611178/126083225-75e11a29-773b-4043-b6b9-44e156c2d5a4.png)

[2021-07-18 22:09] agargi commented on #13136
@obockows Sorry did not quite understand approach 3 (and difference between this and approach 1) since Approach 1 is rolling master upgrade (which should give high availability) but its mentioned as true for 3 too. And 3 seems to be rolling upgrade too. So what's the difference? Is it that in approach 1, an instance is made to join as follower while in approach 3, it is not?

[2021-07-19 09:23] anguslees commented on #13196
`bbolt keys tmp/snap/db members`

[code]

`for k in $(bbolt keys tmp/snap/db members); do bbolt get tmp/snap/db members $k; done`

[code]

`bbolt keys tmp/snap/db members_removed`

[code]

`tmp/snap/0000000000114d8c-0000000013464bce.snap`

->  https://gist.github.com/anguslees/7335f8088bb85b0cd2aee708d4982545

[2021-07-19 15:18] obockows commented on #13136
@agargi
In 1st you have always quorum and that one you revert could have an outdated log (but for sure doesn't have the latest), so that's why it's safe.

In 3rd approach you could overwrite the latest status (= lost some data)

EXAMPLE:
Master1, master2, master3 (leader). In logs we have the last “entry” written in term 1, index 11. Shutdown master1, disk snapshot, start back.  Changes, a new ent

[2021-07-19 15:27] obockows commented on #13136
@agargi unnecessary I pasted my previous description and the example.
So let me stress out the difference:
In 1st case, you shut down and potentially revert just one snapshot at a time, that reverted member will be always in the role of follower and never has newer state then the other two.
In 3rd case, you create 3 different snapshots and when you revert all of them you have the cluster state wit

[2021-07-19 18:53] #12231 closed

[2021-07-19 18:53] #12819 closed

[2021-07-19 18:53] #11695 closed

[2021-07-20 11:58] alexal commented on #12945
I'm unable to reproduce the problem on **go version go1.15.4 darwin/amd64**
`❯ go test ./contrib/raftexample -failfast -count 1000 -race -run TestCloseProposerInflight -timeout 30m
ok  	go.etcd.io/etcd/v3/contrib/raftexample	1626.670s`

[2021-07-20 12:59] #12779 closed

[2021-07-20 15:21] serathius commented on #13168
@YoyinZyc @hexfusion @wenjiaswe @ptabor
Could you do a review the design and give an approval on the design, so we have a community consensus and can move forward with implementing the breaking changes.

[2021-07-20 17:15] wilsonwang371 opened #13228 "Txn() return case question"
Hi guys,

For Txn() operations, the return value is a tuple of (Response, Error).
If we get Response as nil, is it a must that Error should be a valid error?

I am asking this is because when I tried to dump the grpc requests & responses,  I found that in a 3 nodes cluster two of them got a large number of Txn() return value tuple (Response, Error) with first element nil. Is this a normal behavior

[2021-07-21 00:39] wilsonwang371 commented on #13228
some new update to this:

I plotted 3 graphs of the grpc request to response latency and the count of failed operations.

![image](https://user-images.githubusercontent.com/3913185/126411868-88bf60ba-4f9e-4306-be7e-5f78103bd075.png)

![image](https://user-images.githubusercontent.com/3913185/126411890-4aef2aea-e7d6-4b8d-9922-2aabf3e51cc7.png)

![image](https://user-images.githubusercontent.com/391

[2021-07-21 01:04] timmyyuan commented on #12945
@alexal This bug maybe only exposed on go 1.16+, as the [go 1.16 release note](https://golang.org/doc/go1.16) said:

[2021-07-21 11:00] Dorsosiv opened #13229 "bug with log-level flag for etcd version 3.4.14"
Hi, I'm trying to run etcd from a startup script with --log-level flag but for some reason. When I set the value of the flag to warn or fatal and other levels I still get INFO logs from the containers.

I run the etcd in the container with the following command:
`/etcd --max-snapshots 1 --max-wals 1 --auto-compaction-retention 1m --snapshot-count 400 --name ${HOSTNAME}.etcdsvc --log-level "${LOGLE

[2021-07-21 13:55] lilic commented on #13229
Hey, It's lower case `fatal`, you can read some docs around this here https://etcd.io/docs/v3.4/op-guide/configuration/#--log-level. Info log level is the default logging priority.

[2021-07-21 13:58] Dorsosiv commented on #13229
Hi @lilic , I have read and as I told in the description, the lower case does not work for me. is there something I should be changing in the way I use the flag in the command I run ? (see command in the description.)

Thanks :)

[2021-07-21 14:08] lilic commented on #13229
Can you try `etcd --log-level=fatal --logger=zap`?

[2021-07-21 17:28] sanamsarath opened #13231 "ETCD OOM after restarting one of the nodes."
etcd version - 3.3.22

We are running etcd in kubernets environment on a high speed i/o storage. Some times the etcd pods are running out of memory - not sure what's triggering this, but we observe following when the issue happens:

- Then there is flood of snapshot and wal file purges in the logs.
- Eventually 2 of the 3 pods OOM killed by k8s.
- db size incremented from ~250MB to ~1.4GB
- We als

[2021-07-21 18:16] andrewjstone commented on #10246
:keep-alive

[2021-07-21 18:20] hiqsociety opened #13232 "Possible to implement backend as rocksdb?"
Possible to implement backend as rocksdb?

write speed is slow with boltdb

[2021-07-21 18:47] wilsonwang371 commented on #13232
Actually, in my previous experience, we didn't see the boltdb as the bottleneck. The bottleneck is mainly affected by the storage latency. But we are talking about making it possible to use different storage backends.

[2021-07-21 18:49] hiqsociety commented on #13232
insertion rate of boltdb is too slow. once ur app gets popular, it'll become the bottleneck.
rocksdb possible?

[2021-07-21 18:52] wilsonwang371 commented on #13232
I would say slow insertion is due to etcd is using a single raft. The insertion is not really happening all the time. It is buffered and done in batches.

[2021-07-21 18:53] wilsonwang371 commented on #13232
I actually tried to use badgerdb and the result did not change much.

[2021-07-21 18:53] alexal commented on #12945
@timmyyuan
I'm unable to reproduce even with golang version 1.16.6
`❯ go1.16.6 test ./contrib/raftexample -failfast -count 1000 -race -run TestCloseProposerInflight -timeout 30m
ok  	go.etcd.io/etcd/v3/contrib/raftexample	1643.413s`

[2021-07-21 22:26] #12824 closed

[2021-07-22 02:54] #12825 closed

[2021-07-22 05:08] xing0821 opened #13233 "Feature Request : RequestProgress response to specific watchCh with parameter"
At present, RequestProgress is going to send revision to the all watch channels, however, which is unnecessary in some scenarios. In our scenario,we will build a cache for etcd. Nevertheless, we cannot cope with some certain requests, revision == “” for example.
  If the cache could send a RequestProgress to etcd server and return revision to the assigned watch channel, the cache would ensure that

[2021-07-22 05:36] smsufyian commented on #13232
However , for the tool it will be nice addition to support multiple storage backends.

[2021-07-22 05:49] raindylong commented on #13232
In a high load etcd cluster , I think SSD is the important choose for the data storage, however what backends you choose.

[2021-07-22 07:56] Caskia opened #13234 "encodeFrameSize code understanding"
hello,
I am learning etcd's code, but don't quite understand the effect of calling mod in one place twice.

encoder.go
[code]

I think ```8 - (dataBytes % 8)``` already got the padBytes, another ```% 8``` has any magic usage?

If it's not good to ask a code question here, I will close the issue.

[2021-07-22 08:13] lilic commented on #13231
Seems a somewhat similar version and issue as reported in https://github.com/etcd-io/etcd/issues/13222. Obviously, the best would be to upgrade to the latest etcd version if at all possible, as it had a lot of performance improvements.

[2021-07-22 08:40] raindylong commented on #13231
Upgrade to the new version is one of the good choose as @lilic 's commit , another is do defrag every week/month , and random restart the cluster member one by one every month(this is a chaos test for your app too)

[2021-07-22 10:22] rafariossaa opened #13235 "Error "selfSignedCertValidity is invalid..." in 3.5.0 when enabling `auto-tls`"
Hi,
  Maybe I this is not a real issue and I am missing something. I read the docs but I could not find if I am missing something on this.

  When I enabled `peer-transport-security.auto-tls` in the sample config file I got this message: `"selfSignedCertValidity is invalid,it should be greater than 0"` but this doesn't happen when doing the same in 3.4.16.

  This is what I did:
- I downloaded and

[2021-07-22 14:23] sanamsarath commented on #13231
Thanks @lilic and @raindylong.

Definitely we need to upgrade our ETCD to newer version, it has been long due. But the issue we are seeing is on our testing clusters that are frequently redeployed (at max 30 days).

Do we have some user guide (examples) that throw some light on calculating the math for the performance related parameters. Like the the frequency of running defrag, compaction or choo

[2021-07-22 20:12] acastong opened #13240 "Higher (6x) delay for 3.5.0 client to connect to cluster compared to 3.4 client"
# Problem description

When a 3.5.0 client connects to a 3.4.16 server, the delay is much longer and increases from ~0.2 seconds in 3.4 client to 1.2s and more using 3.5.0 client.  Here is the delay we were seeing with the 3.4.9 client:

[code]
And here is the delay we are seeing with the 3.5.0 client:

[code]

When in a Go application using the 3.5.0 client library, the default timeout of 2000ms

[2021-07-23 06:01] asmexcaliburwoods commented on #11808
This can be fixed with `go mod download go.etcd.io/etcd@v3.5.0`

[2021-07-23 17:43] sakateka commented on #8129
Hello everybody!
I investigated this problem and found the following.

The old behavior could be returned until some time by disabling `CheckQuorum`
but this parameter is not configurable, and is set to `true` in the code.
And in newer releases, the PreVote mechanism has appeared, which also does
not allow to successfully elect a follower who see all the nodes as a leader

To search for a commit i

[2021-07-23 17:49] sakateka commented on #8129
@rinsozheng I can advise, as it seems to me, the right solution to maintain the constant connectivity of all nodes.
Let's say node A sees everyone, but node B and C do not see each other because of a network failure.
You need to add a low-priority network route to node B (for node C, respectively, in the other direction) through the datacenter of node A, in this case, this route will be used when

[2021-07-24 13:41] 308066400 opened #13241 "client: response is invalid json.Just supported json only?How about toml?"
Error:  client: response is invalid json. The endpoint is probably not valid etcd cluster endpoint.

[2021-07-25 02:39] #12785 closed

[2021-07-25 22:47] #12698 closed

[2021-07-26 07:54] lilic commented on #13107
Thanks! I should be able to get to this for this release.

[2021-07-26 08:45] lilic commented on #13231
https://etcd.io/docs/v3.3/op-guide/maintenance/ there are metrics and alerts for this, for example`etcdBackendQuotaLowSpace ` https://github.com/etcd-io/etcd/blob/main/contrib/mixin/mixin.libsonnet#L211-L220.

[2021-07-26 10:32] acastong commented on #13240
I just upgraded my cluster to version 3.5 and it did not improve the delay, so this high delay problem does not seem limited to connecting to a cluster of a previous version.  I will update the issue description accordingly.

[code]

[2021-07-26 12:29] lilic commented on #13240
Thanks for the issue, sounds like a large delay. How often have you run the above tests? Average might be more useful, than a one off. I will try it out to reproduce as well!

Did you by any chance try with direct client access, or just with the CLI tool?

[2021-07-26 13:00] acastong commented on #13240
I first saw the problem with the golang 3.5.0 client.  We had a default timeout of 500ms and since upgrade, were seeing context deadline exceeded errors that we did not see with the 3.3.x client. My first thought was that this was the way we were initializing the client, but since the etcdctl application is also impacted it is most likely something more fundamental.

Here is a more statistically s

[2021-07-26 13:39] hexfusion commented on #13240
couple questions

- were these binaries downloaded or compiled locally.
- if locally can you show golang version.

$ etcd --version

[2021-07-26 13:43] lilic commented on #13240
I can't seem to reproduce this. I have tried with etcd running locally as well as etcd running in my infra and both seem to be fast enough for me not to notice any latency. Note this is with etcd 3.5.0 with both in cluster and etcdctl with 3.5.0. Ran 10 times or so and this is always the result:

[code]

Note mine are all complied locally with go 1.16:
[code]

[2021-07-26 13:51] relyt0925 opened #13244 "Next etcd v3.3 release for CVEs?"
The last published etcd v3.3 image was on 2020/08 and has accumulated a lot of CVEs since then (posting below)

Just curious could someone execute the build process for another patch release so there can be a clean image with none of the CVEs? This is causing problems for teams under compliance requirements.

[2021-07-26 14:02] relyt0925 commented on #13244
Here are the CVEs
[code]

[2021-07-26 14:08] lilic commented on #13244
Hey, thanks for the issue, those seem to CVEs in the image itself not with etcd codebase from what I can see? You can also build your own image while waiting for the next release of 3.3.

I am not sure how the support works for 3.3. @gyuho I believe you were the one doing the 3.3 releases, feel free to correct me here.

[2021-07-26 14:16] relyt0925 commented on #13244
Correct they are in the base image: We also can build our own image but we are worried about not staying on what the upstream community offers. I was worried if we do a custom release like v3.3.26 and y'all then also do v3.3.26 then there's conflicts there on the image name.

[2021-07-26 14:17] acastong commented on #13240
I am using official etctl clients downloaded through github releases:
[code]

And the version of etcd running is packaged by bitnami so now sure what build environment was used:
[code]

But I am getting the same behavior when talking to an official gcr.io/etcd-development/etcd:v3.4.15 container produced by etcd that is running in a 3-VM cluster. It has basic authentication on which I know is not r

[2021-07-26 14:34] acastong commented on #13240
I just used a standalone etcd 3.4.15 running standalone in a VM without authentication (to rule that out as a factor) and with 3.4 client the average time (30 runs) for `get foo` for 3.4.9 client is 0.039660s, with 3.5.0 client it is 1.0229s.  So the problem is also present without auth.

[2021-07-26 15:27] serathius commented on #13107
Can you verify that vtprotobuf supports custom options used in https://github.com/etcd-io/etcd/pull/13216 and needed to implement https://github.com/etcd-io/etcd/pull/13216

[2021-07-27 09:18] Dorsosiv commented on #13229
Thank you it worked :)

What is the difference, why the flag --logger made all the difference ?

[2021-07-27 14:53] serathius commented on #12955
@gyuho I think we should have a plan on what to do with manual tests. Could we maybe automate them?

[2021-07-27 18:39] sakateka commented on #8181
I have investigated the given issue.
This is due to the classic data race in a distributed system.

The problem is reproducible even in the latest 3.5.0 release, for reproduction it is enough to create a client and try to get a sufficiently large number of sessions (to get a lease), the problem may appear even when getting the first lease
These steps are automated [here](https://github.com/sakatek

[2021-07-28 10:03] timmyyuan commented on #12945
@alexal Please look at the source code. This bug is caused by a race condition between
https://github.com/etcd-io/etcd/blob/53d234f1fe2b4212bd8538cd694db8fedc375549/contrib/raftexample/raftexample_test.go#L158
and https://github.com/etcd-io/etcd/blob/53d234f1fe2b4212bd8538cd694db8fedc375549/contrib/raftexample/raftexample_test.go#L84
If you are hard to reproduce this bug locally, you can insert a

[2021-07-28 10:39] brovatten opened #13247 "Running containers on docker in windows [ERROR]"
Hi all,

I am newbie to etcd and been stuck on this for weeks and could really use some help.
I want to start a 3-node cluster on windows using docker container. By following the documentation I pasted the following as a batch file:

[code]

When I run the .bat only of the nodes seem to be starting and I get these errors:
[code]

When I run the command to check the member list the following appear

[2021-07-28 13:05] cfz commented on #13232
just curious, has any one tried [pebble db](https://github.com/cockroachdb/pebble), the pure golang alternative of rocksdb?

[2021-07-28 14:32] sakateka commented on #13247
Hi!
Please check the launch of `etcdctl` with `--endpoints http://10.20.30.1:2379,http://10.20.30.2:2379,http://10.20.30.3:2379`

[2021-07-28 16:36] sakateka commented on #13247
I don't have windows nearby to check, but something like this should work
[code]
console window №1
[code]
console window №2
[code]
console window №3
[code]
console window for etcdctl (note that we are connecting to the container with etcd №1)
[code]

Adopted for windows from http://play.etcd.io/install#top

[2021-07-28 17:29] sanamsarath commented on #13231
Thanks @lilic

[2021-07-28 17:29] #13231 closed

[2021-07-28 19:03] spzala commented on #13235
@rafariossaa thanks for reporting. Closing this issue per the discussion in the PR. You can continue going by setting the flag in the conf file. We will be backporting it. @tangcong thanks for the quick fix!

[2021-07-28 19:03] #13235 closed

[2021-07-29 04:06] #13201 closed

[2021-07-29 06:26] rafariossaa commented on #13235
@spzala Thanks !

[2021-07-29 08:17] ItalyPaleAle commented on #10566
👋 bot!

[2021-07-29 08:49] rafariossaa commented on #13235
Any ETA for the backport ?

[2021-07-29 11:23] brovatten commented on #13247
Thank you for your comments. So I tried by copying adding your examples to separate batch files resulting in this for the first node

[code]
  However, this resulted in the following error. Even when I tried to change my path this occurred. It might be because the build.bat file didn't work so I am working in a directory instead (not sure if that makes sense)

[code]
  I found then others had said

[2021-07-29 11:40] sakateka commented on #13247
Of course, there is very little left that is not true)))
You need to run three nodes at the same time, since they are specified in the `--initial-cluster`
And `set DATA_DIR ="/var/lib/etcd"` is not valid path for windows, try to change to `set DATA_DIR ="c:\\path\you\want\to\store\data"` or just delete volume as you did.
If volume is disabled, all data will remain inside the containers
To run etcd

[2021-07-29 12:36] brovatten commented on #13247
My apologies for that. However, when I use the correct port the error persists
[code]
and when using the command you provided
[code]
and when specifying the path of my etcdctl.exe
[code]

[2021-07-29 13:47] sakateka commented on #13247
Hmm, there was no bash in the image :-(
That's how it works
console 1
`docker run --net=host --name etcd-1 gcr.io/etcd-development/etcd:latest /usr/local/bin/etcd --data-dir=/etcd-data --name etcd-1 --initial-advertise-peer-urls "http://localhost:12380" --listen-peer-urls "http://localhost:12380" --advertise-client-urls "http://localhost:12379" --listen-client-urls "http://localhost:12379"  --init

[2021-07-29 14:36] brovatten commented on #13247
Thank you so much, it seems to be working!

Hope I can bother you with two more questions.

1. Firstly, I wonder how I now can put and get from the containers as my kvClient (using jetcd) does not seem to be working, which it did when I simply launched 1 node outside of docker.

2. Second, is there a way to compare key values in the key-value store and if for instance value of key foo1 is equal to

[2021-07-29 15:51] jlisee opened #13253 "Remove unused indirect certifi/gocertifi dependency"
### Issue

`gocertifi` bundles root certs into your application, and our security team wants to be able to centrally manage root certificates.  Therefore we would like to make sure we are not pulling this package in, even transitively.

### Fix

This transitive dependency can be dropped by updating `cockroachdb/datadriven` to commit cockroachdb/datadriven@c9e8355525148c6ef1ede0f757e0c4111cc318f2 o

[2021-07-29 15:56] Haimantika opened #13254 "Replace github.com/form3tech-oss/jwt-go with https://github.com/golang-jwt/jwt"
The maintained fork of https://github.com/form3tech-oss/jwt-go seems now to be https://github.com/golang-jwt/jwt, we might need to make some changes accordingly to: https://github.com/etcd-io/etcd/blob/4cbb949595b7bbdc01a9d68a32b332e79025934c/server/go.mod#L9
For more information on this please refer to https://github.com/kubernetes/kubernetes/issues/104007

[2021-07-29 17:32] #12848 closed

[2021-07-29 17:32] #12847 closed

[2021-07-30 01:37] yuchunyu97 opened #13258 "Help, why is my readIndex request so slow? Does it involve disk IO?"
I use etcd 3.5 for 3 node cluster, but my disk speed is a bit slow, I want to know is the slow disk IO affect my lineariable read?

The following is a log of a slow request:

[code]

The `read index received` is too slow, I want to know why this is happening. Does this process involve disk IO?

[2021-07-30 07:23] lilic commented on #13253
Thanks, makes sense, but do you mind explaning what other changes were done towards cockroachdb/datadriven? Is there anything related to how datadriven actually functions?

(Side note: its called the main branch not master branch :))

[2021-07-30 07:26] raindylong commented on #13258
Same etcd 3.5 and 3 node cluster,about 19% access log is >1s of "read index received" step,everything seems ok.
Any problem or error log about etcd cluster of you app process?

[2021-07-30 10:11] sakateka commented on #13247
1. It will not be possible to overcome network problems in a bundle of docker + windows without a week of immersion in all the subtleties of configuring the windows network : - (
Therefore, the easiest way for you is to run one ubuntu container, and in it, according to the instructions  for bare metal http://play.etcd.io/install#top, run 3 etcd processes.
A contener with ubuntu will need to expose

[2021-07-30 10:18] brovatten commented on #13247
Alright thank you very much!  You have saved me weeks of work.
I will :)

[2021-07-30 10:18] #13247 closed

[2021-07-30 16:36] jlisee commented on #13253
The explicitly linked commit is the only one being pulled in, it bumps `cockroachdb/errors`  a minor version.

**Details**

So right now etcd/raft is on cockroachdb/datadriven@bf6692d28da5:

https://github.com/etcd-io/etcd/blob/8f9829cd2dd65479cca9b1497b6e62fdc74df2b6/raft/go.mod#L7

When we compare the two commits the module changes are it, with the only direct change being http://github.com/cock

[2021-07-30 18:54] 1231sadqwf opened #13260 "ETCD KeepAlive Help"
while there is a connection problem during keep-alive and caused the lease cannot be alive. After the connection back to normal will the lease become alive again?

code:
	var leaseGrantResp *clientv3.LeaseGrantResponse
	if leaseGrantResp, err = client.Grant(context.TODO(), 5); err != nil {
		log.Fatalln(err)
	}

	var alive <- chan *clientv3.LeaseKeepAliveResponse
	alive, err = client.KeepAlive(con

[2021-07-30 19:51] #13260 closed

[2021-07-31 06:21] warmchang commented on #11883
Part of this: https://github.com/etcd-io/etcd/pull/11946

[2021-07-31 06:32] warmchang commented on #13140
Run with --unsafe-no-fsync flag? https://github.com/etcd-io/etcd/pull/11946

[2021-08-02 00:18] fffffreedom opened #13263 "does base64 encoding always needed when using curl command?"
hi
i am doing test accroding to the following page:
https://etcd.io/docs/v3.5/dev-guide/api_grpc_gateway/

as it mentioned:
Note that key and value fields are defined as byte arrays and therefore must be base64 encoded in JSON

but when it comes to the Authentication session, the content of the key and value are not base64 encoded ！
why?

and when i did the test following the examples, i came acro

[2021-08-02 06:33] #12857 closed

[2021-08-02 10:02] raindylong commented on #13263
I test all the command examples of https://etcd.io/docs/v3.5/dev-guide/api_grpc_gateway/ , all ok to run on etcd ver3.5.
Do you confirm that create the "root" account already ?

My example:
❯ curl -L http://localhost:2379/v3/auth/authenticate   -X POST -d '{"name": "root1", "password": "pass1"}'
{"error":"etcdserver: authentication failed, invalid user ID or password","code":3,"message":"etcdserve

[2021-08-02 13:30] spzala opened #13264 "e2e test coverage for newly created warning flag for unary request"
A new experimental flag, `experimental-warning-unary-request-duration`, was recently created to allow user a more configurable option. Please see @serathius comment in the PR - https://github.com/etcd-io/etcd/pull/13236 stating that good to have an e2e tests that sets this flag to very low value and checks for log present. Normal logs are not as important but those performance warnings might be ve

[2021-08-02 14:24] #12955 closed

[2021-08-02 19:35] smira commented on #13196
might be related to #13119 which is also about having zombie members

[2021-08-03 04:02] bs-santhosh opened #13266 "ETCD application exit with fatal error, when string format of IP address does not matched with input advertise-peer IP and DNS resolved IP as part of cluster"
As part of ETCD application startup process to create cluster using FQDN/URL names, ETCD application does "reflect.DeepEqual" to compares the inputs parameters like cluster IP address which has been resolved using DNS  and peer IP address which is provided as input.  This validation fails, if the IP address in string format does not match due to leading zero or compressed form of IPV6, which resul

[2021-08-03 04:04] bs-santhosh commented on #13266
[etcd.log](https://github.com/etcd-io/etcd/files/6920946/etcd.log)
Log file

[2021-08-03 10:46] lilic commented on #13258
Is this issue new for 3.5 for you, or did you have it before in older versions?

Disk latency can affect performance. https://etcd.io/docs/v3.5/op-guide/performance/

[2021-08-04 02:06] ChrisCCheng opened #13269 "a security problem in using etcd v3.4.15"
etcd is an open source distributed key-value store widely used to hold and manage critical information about distributed systems. However, I have discovered an etcd security issue.
The NewCert function included in the pkg/tlsutil/tlsutil.go file on etcd presents certificate content in plaintext.
I have prepared a straightforward method to handle this issue. Use the code below to enable the certifi

[2021-08-04 06:44] yuchunyu97 commented on #13258
There is no detailed trace data before version 3.5.

Especially the latency data of `read index received`.

[2021-08-04 16:40] #12359 closed

[2021-08-04 16:40] #12856 closed

[2021-08-04 16:40] #11444 closed

[2021-08-05 02:56] hardis2003 commented on #13269
I've had the same problem, and it's a good idea.

[2021-08-05 02:58] CriProphet commented on #13269
I've had the same problem, and it's a good idea.

[2021-08-05 03:02] jackila opened #13271 "[v3.4.13] etcdctl make-mirror does not support revision option"
![image](https://user-images.githubusercontent.com/32559813/128284103-4cc561fe-1c98-4f67-8c88-4fef135c242b.png)

as the source code show
in line it is setted default to 0

can i set it by command option?

[2021-08-05 03:09] jackila commented on #13271
Also I have account a problem .
where the etcdctl make mirror stop unexpected. then we restart it . The key operated during the time was missing.
as the source code show, it can be explain.

what i think is
make mirror can record the latest commit revision number. when it restart ,it can start from this commited revision

[2021-08-05 09:07] #13271 closed

[2021-08-05 09:54] woodliu opened #13273 "[codereview]:question about function "preallocExtendTrunc""
https://github.com/etcd-io/etcd/blob/e591fcba335ef41f23d675563bed526d2f5bd72c/client/pkg/fileutil/preallocate.go#L43

I Think the paramerter `sizeInBytes `here should be `0`, as the length of the content of file. Later it will compare with `sizeInBytes` to see if it needs to be truncated.

Or `size `will always `>=sizeInBytes`

[2021-08-05 10:27] wwj-2017-1117 opened #13274 "etcd snap 中数据丢了"
环境： etcd v3.3.15 ,  arm64 ,
reboot之后，发现数据丢了很多 ，原来db有3M数据，reboot之后只有1.2M数据。
同样的版本，在x86上，reboot之后，没有丢任何数据。

**Actively monitored security email alias for our project:**

**1. Have a user base not limited to your own organization.**

**2. Have a publicly verifiable track record up to present day of fixing security issues.**

**3. Not be a downstream or rebuild of another distribution.**

**4. Be a pa

[2021-08-05 11:56] lilic commented on #13264
@roytman are you interested in implementing this, otherwise, I think a help wanted flag might be nice here.

[2021-08-05 15:08] roytman commented on #13264
sorry @lilic, I'm not sure that I'll have time for that, please set the flag

[2021-08-05 15:24] #12865 closed

[2021-08-05 15:24] #12869 closed

[2021-08-05 17:31] joejulian opened #13276 "The github release body has a broken link to "upgrade guide""
https://github.com/etcd-io/etcd/releases/tag/v3.5.0

The release description links to an incorrect path:
https://github.com/etcd-io/website/blob/main/content/en/docs/next/upgrades/upgrade_3_5.md
should be
https://github.com/etcd-io/website/blob/main/content/en/docs/v3.5/upgrades/upgrade_3_5.md

[2021-08-05 22:48] spzala commented on #13276
@joejulian thanks for reporting, fixed now.

[2021-08-05 22:48] #13276 closed

[2021-08-05 22:50] spzala commented on #13264
@lilic yup, thanks!

[2021-08-05 22:52] spzala commented on #13274
Hello, please reopen with clear details if this is indeed an issue. Thanks!

[2021-08-05 22:52] #13274 closed

[2021-08-06 07:09] woodliu opened #13277 "About pageOffset in PageWriter"
https://github.com/etcd-io/etcd/blob/b448daa69877c9b1c6dc15847f7bee2fbff4cf2f/pkg/ioutil/pagewriter.go#L114
The code above is used by PageWriter.Write-->PageWriter.Flush.
I think the `pageOffset` here is useless, because when write successfully, the `PageWriter.buf` is empty(`pw.bufferedBytes = 0`), there will be no pageOffset(should be 0) in `PageWriter.buf`.

[2021-08-06 07:18] #13277 closed

[2021-08-07 01:16] fffffreedom commented on #13263
i redo the test, and it's ok, thanks

but the root and password are not base64, does this mean the Authentication api need no base64?
while other types of api need？

[2021-08-07 04:27] nic-chen opened #13280 "Continuous printing error: "tls: first record does not look like a TLS handshake""
Hi, community.
I follow the documentation:
https://etcd.io/docs/v3.4/op-guide/security/#example-2-client-to-server-authentication-with-https-client-certificates

Enable Client-to-server authentication with HTTPS client certificates.

Everything works fine.

But when I start an application that uses clientv3 to operate etcd, it also works fine, but the etcd server keeps reporting errors.

Please ta

[2021-08-08 10:30] #12534 closed

[2021-08-08 12:06] opsarno commented on #12895
@xiang90  Hi bro, I had same issue.

- Member list
[code]

- Endpoint health
[code]

- Endpoint status
[code]

- Log (WARN/ERR)
[code]

Question:
1> `grpc: Server.processUnaryRPC failed to write status: connection error: desc = "transport is closing"`  what's the reason ?
2> `error:auth: invalid auth token` Is it because the client is using the wrong password ?
3> How can the IP address of each cl

[2021-08-08 15:43] WuK0 commented on #12473
I have the same question, do you know how to deal with it ?

[2021-08-09 01:14] #11717 closed

[2021-08-09 01:14] #12627 closed

[2021-08-09 06:34] huadufusu commented on #11770
the same error
Aug  9 12:57:26 k8s-master01 etcd: rejected connection from "192.168.0.12:34990" (error "remote error: tls: bad certificate", ServerName "")
Aug  9 12:57:26 k8s-master01 etcd: rejected connection from "192.168.0.13:36414" (error "remote error: tls: bad certificate", ServerName "")
Aug  9 12:57:26 k8s-master01 etcd: rejected connection from "192.168.0.13:36412" (error "remote error:

[2021-08-10 01:39] #12881 closed

[2021-08-10 01:39] #12842 closed

[2021-08-10 03:28] opsarno opened #13284 "Server.processUnaryRPC failed & auth: invalid auth token"
- Member list
[code]

- Endpoint health
[code]

- Endpoint status
[code]

- Log (WARN/ERR)
[code]

Question:
1> `grpc: Server.processUnaryRPC failed to write status: connection error: desc = "transport is closing"`  what's the reason ?
2> `error:auth: invalid auth token` Is it because the client is using the wrong password ?
3> How can the IP address of each client request be displayed in the log

[2021-08-10 04:10] Caskia commented on #13234
dataBytes can be negative.

[2021-08-10 08:09] hqsh opened #13285 "Which is the ETCD3 officially recommended python client?"
I have use some ETCD3 clients in python. The best one of these is https://github.com/kragniz/python-etcd3.

But all of these have a lot of bugs or the projects are not maintained now.

So, I wonder which is the ETCD3 officially recommended python client?

Thank you!

[2021-08-10 13:42] woodliu opened #13286 "[codereview]:no close file"
https://github.com/etcd-io/etcd/blob/ea24fb850762ce38155738aff5ae71368eadb904/server/storage/wal/wal.go#L703

As the comment hint , `cut` will close the current file before create a new encoder. But i see no where close the current file, may be there is a file leak?

[2021-08-10 14:08] woodliu commented on #13286
Found it, in newWAL.Close()

[2021-08-11 02:41] woodliu opened #13287 "[codereview]:saveCrc(prevCrc uint32) parameter make no sense"
https://github.com/etcd-io/etcd/blob/ea24fb850762ce38155738aff5ae71368eadb904/server/storage/wal/wal.go#L968

`saveCrc` use `prevCrc ` as it's only parameter, then pass it to `w.encoder.encode(&walpb.Record{Type: crcType, Crc: prevCrc})`.
But in function `encode`, it just override the input `rec.Crc` like below, so i think the parameter for `saveCrc` is useless
[code]

[2021-08-11 11:21] woodliu opened #13289 "[codeReview]: index out of range err"
https://github.com/etcd-io/etcd/blob/ea24fb850762ce38155738aff5ae71368eadb904/raft/storage.go#L258

Will it cause out of range err if `first-entries[0].Index` > `len(entries)-1`?

[2021-08-11 13:02] pikrzysztof commented on #12843
still an issue.

[2021-08-11 13:34] #12843 closed

[2021-08-11 17:16] jingyih commented on #12799
SGTM

[2021-08-11 17:21] wenjiaswe commented on #12799
Sounds good to me too. Thanks Sahdev for volunteering to work on this!

[2021-08-11 20:21] #12886 closed

[2021-08-11 22:21] yvanadamov commented on #12746
@spzala  any update?

[2021-08-12 01:28] spzala commented on #12746
@yvanadamov I think this was added from 3.4.15 - can you please check it? Thanks!

[2021-08-12 08:54] woodliu commented on #13289
mistake...

[2021-08-12 08:54] #13289 closed

[2021-08-12 15:02] korenlev commented on #13044
Facing the same issue, so ETCD cluster can only work with static IPs ??

[2021-08-12 21:05] olearczuk commented on #12473
Hi,
as far as I remember the problem was that few functions in `raft.go` were left empty.
I think 2d25f7f should have fixed the problem.

[2021-08-13 00:30] #11693 closed

[2021-08-13 02:30] chlam4 commented on #12895
I recently encountered the same error quote below, and it was due to the etcd default storage size quota - https://etcd.io/docs/v3.3/dev-guide/limit/ - my etcd cluster is running out of storage.  I was able to fix the problem by increasing it and then disable the alarm (https://help.compose.com/docs/etcd-alarms-and-status-messages-etcd3).

[2021-08-13 02:32] chlam4 commented on #12231
I recently encountered the same error (quoted below).  It was due to that my etcd was running out of the default storage quota of 2gb - https://etcd.io/docs/v3.3/dev-guide/limit/.  I was able to fix the problem by increasing the quota, AND then disable the alarm (https://help.compose.com/docs/etcd-alarms-and-status-messages-etcd3).

[2021-08-13 14:50] RichardoC commented on #13280
Is your client definitely making a TLS connection to etcd? Can you confirm this with a packet capture?

[2021-08-13 15:39] lxShaDoWxl commented on #12713
this problem not fixed?

[2021-08-13 16:46] RichardoC opened #13291 "Missing .dockerignore"
To speed up docker builds a `.dockerignore` file should be used, this reduces the context sent to the docker daemon which then speeds up the build.

Obvious directories to include are `.git` (If no git actions are done within the container) and and test output/unneeded build and test artifacts.

I suspect the contents of .gitignore (minus the binaries copied in) , plus the `.git` folder would be a

[2021-08-13 21:39] abezard commented on #13119
I'm also hitting this exact issue when upgrading from 3.4.X to 3.5.0.

[2021-08-13 22:08] #12642 closed

[2021-08-14 06:24] #12892 closed

[2021-08-14 13:33] korenlev commented on #11376
same issue here , using 3.5.0

[2021-08-14 13:34] korenlev commented on #12814
same issue here ,using 3.5.0

[2021-08-15 20:39] hiqsociety opened #13293 "Question : Possible to change from bolt to rocksdb?"
Question : Possible to change from bolt to rocksdb?

[2021-08-15 23:43] wilsonwang371 commented on #13293
There's already someone trying to use badgerdb. Supporting multiple different db backends is not the top priority on the community to-do list.

[2021-08-16 03:05] jiapeish opened #13294 "Why ETCD new leader will restart the TTL counting when leader swithed"
**Issue Overview**
I noticed that etcd will restart the TTL counting when leader swithed.

**Steps to reproduce**
1. Start a etcd client and put a key with lease, like TTL = 10s;
2. When the key's remaining ttl becomes 4s, restart etcd leader node;
3. The key's remaining ttl becomes to 10s again.

Why not the TTL continue counting down after new leader is elected? And how can we modify the code to

[2021-08-16 06:01] #12966 closed

[2021-08-16 07:41] sakateka commented on #7798
Hi, @gyuho @xiang90 @ptabor @spzala!
Please can you take a look at this issue and related PR.
Thank you!

[2021-08-16 12:45] serathius commented on #13294
This is problem in distributed systems, you cannot trust the time, each instance has different local time. A workaround for this is using time difference (TTL) instead of deadline. Etcd persists TTL and counts it from last leader change. If leader changes TTL will be preserved, but deadline will change.

There is and experimental feature called lease checkpointing that should help with this (check

[2021-08-16 13:23] mitake commented on #12966
Sorry for the late update @horizonzy , I opened https://github.com/etcd-io/website/pull/446 for updating the doc.

[2021-08-17 07:38] jiapeish commented on #13294
Thank you @serathius, we'll turn the checkpointing feature on and have a test.

As you mentioned, the TTL is checkpointed every 5 minutes, but I didn't find a loop/timer that do this checkpointing work periodically. How does etcd control the checkpoint period? Does it means that ETCD leader node will do this checkpoint and sends the remaining TTL to follower nodes every 5 minutes, so that follower

[2021-08-17 08:35] socketpair opened #13295 "Impossible to configure logging format when using zap logger"
zap logger is the best, but unfortunately it's impossible in Etcd  server to change logging format. zap logger is able to log as plaintext, but JSON format settings is hardcoded in Etcd. Please add an option to change format to "console" i.e. plaintext. My use case is logging to Journald. It's not convenient for me to log JSONs to journald.

[2021-08-17 10:44] chalin commented on #13002
I just tried using `main` and it still doesn't work. Someone with the permissions to change the settings over on Codecov.io will need to change the default branch there since it doesn't seem to be switching over automatically.

@spzala @ptabor can either of you make these changes?

[2021-08-17 13:51] vperi1730 opened #13296 "etcd compaction using auto-compaction-retention" param from YAML"
Please read https://etcd.io/docs/latest/reporting_bugs/

Hi Team,

I would be needing inputs on enabling auto-compaction within the etcd YAML as I am un-aware of how to configure it?

However within my 3 replicas etcd cluster, i was able to enter into one of the etcd pods to run manual commands, it seems to be working.  Following are the commands

[code]

Version is 3.4.7

Now the Q is as part of

[2021-08-17 18:57] #12899 closed

[2021-08-18 00:29] #12647 closed

[2021-08-18 05:30] Rajalakshmi-Girish commented on #12993
We saw this failure in our CI job last on 2021-08-12 20:07:01 +0000 UTC. Please see if you can access https://prow.ppc64le-cloud.org/view/s3/prow-logs/logs/postsubmit-master-golang-etcd-build-test-ppc64le/1425911681996820480

After the above Job, we started seeing unit test failures that exited the test run, and hence integration tests did not run.
I suspect this TestKVWithEmptyValue test failure

[2021-08-18 13:34] TrucullentFreddi opened #13297 "etcdctl member promote 8e9e05c52164694d No help topic for 'promote'/ flag provided but not defined: -learner #449"
Please read https://etcd.io/docs/latest/reporting_bugs/
Why is there inaccurate information on the official website? Why do I use the syntax specified in the **off documentation**, and it tells me that the syntax is incorrect?
When i use **etcdctl member add infra4 --peer-urls=http://10.0.1.14:2380 --learne**. **i get an error " flag provided but not defined: -learner"**
After i used **etcdctl mem

[2021-08-18 20:40] tsaarni opened #13298 "etcd go client fails to compile for Solaris"
I'm compiling the go client library for Solaris and I get following error

[code]

The change was introduced in https://github.com/etcd-io/etcd/pull/12702.

Apparently `SO_REUSEPORT` is missing on Solaris.  Should there be build constraint for that socket option?

[2021-08-19 13:11] davissp14 opened #13299 "Token expiration errors"
Our logs are littered with these JWT errors.
[code]

I don't think it makes sense to log these as warnings, or at all for that matter.  Tokens are expected to expire and this kind of logging should be reserved for debugging.

Etcd version: 3.5

[2021-08-19 13:15] davissp14 commented on #13296
As far as auto-compaction goes, something like this should work.

[code]

https://etcd.io/docs/v3.4/op-guide/configuration/#--auto-compaction-retention

[2021-08-19 13:19] davissp14 commented on #13285
That's the main client for Etcdv3 to my knowledge.

They maintain a list of clients here:
https://etcd.io/docs/v3.5/integrations/#python

[2021-08-19 13:40] spzala commented on #13285
@davissp14 thanks! Closing as question is answered.

[2021-08-19 13:40] #13285 closed

[2021-08-19 15:00] allenporter commented on #13147
I think this issue is fixed and can be closed.

[2021-08-19 16:13] spzala commented on #13147
@allenporter thanks for findings!
@aldelsa closing the issue per @allenporter comment and https://github.com/etcd-io/etcd/pull/13127 Please free to reopen if needed. Thanks!

[2021-08-19 16:13] #13147 closed

[2021-08-19 21:35] davissp14 opened #13300 "Bug: Auth revision w/ JWT tokens"
Etcd version: 3.5

It seems that `jwt` auth tokens are tied to a particular auth revision.  If the auth revision is incremented after a token has been issued, connections fail with:

[code]

The connections will continue to fail until the TTL is hit and the token is renewed.  Given our use-case this makes `JWT` tokens pretty much unusable.

### In order to reproduce
**Generate certs**
[code]

**Co

[2021-08-19 21:48] davissp14 commented on #13300
cc:// @mitake  Thoughts?

[2021-08-20 11:19] ardaguclu commented on #13294
@jiapeish, This pushes requests to the heap per `checkpointinterval` https://github.com/etcd-io/etcd/blob/ab9563dc8e4d84d06080c765f9c6c0d50313f794/server/lease/lessor.go#L714 (`checkpointInterval` is customizable with 5 minutes default value and being used in here).

For consumer side, This runs forever https://github.com/etcd-io/etcd/blob/ab9563dc8e4d84d06080c765f9c6c0d50313f794/server/lease/less

[2021-08-20 12:59] yvanadamov commented on #12746
I checked now, I still receive the same error:

etcdctl version
etcdctl version: 3.4.15

etcdctl make-mirror http:10.102.7.182:2379 --dest-user=user:userpass
Error: unknown flag: --dest-user

[2021-08-20 14:23] mitake commented on #13300
@davissp14 thanks for sharing the detailed way to reproduce, let me check it on my side.

[2021-08-20 15:33] spzala commented on #12746
@yvanadamov thanks for checking. I checked it too and seems like it was never backported, so 3.5 or master are the one that you can use or we can try backporting it to 3.4 and make it available in the next point release of 3.4.

[2021-08-20 17:50] relyt0925 commented on #13244
@hexfusion is working on cutting a release from the community.

[2021-08-21 04:14] tisonkun commented on #11849
@wjhuang2016 I think in pingcap/tidb repo where might be the background of the question, we are migrate tests to testify by https://github.com/pingcap/tidb/issues/26022 and the mock utilities are there. You can try to make use of them and create a mock such as for `TestFailNewSession` and reduce the overhead.

[2021-08-22 05:45] busgo commented on #13294
You can check whether there is a leader at regular time. Code like this

[code]

[2021-08-22 07:04] jiapeish commented on #13294
It's nice of you to explain this clearly @ardaguclu . It looks that I need to have a read of the lessor code...

[2021-08-22 07:10] jiapeish commented on #13294
Hey, thank you @busgo , I've just find the checkpoint feature and maybe it will help.

[2021-08-22 07:13] jiapeish commented on #13296
Another method is by revision:

[code]

[2021-08-22 12:47] mitake commented on #13299
Yeah I agree, let me open a PR for fixing it.

[2021-08-22 13:06] mitake commented on #13300
I'll work on in after merging https://github.com/etcd-io/etcd/pull/13262

[2021-08-22 22:06] s1ntaxe770r commented on #13291
Hi, if no one is working on this mind if i take it?

[2021-08-23 10:35] hongliang5316 opened #13302 "Delete key"
How to delete the key and all related watch events?

I did not find relevant documents

[2021-08-24 02:18] tatsuhiro-t commented on #13192
Any news?  This issue prevents us from using a proxy between etcd client and server.

[2021-08-24 22:35] gbolo commented on #13192
Please fix this issue, as linkerd-proxy (using the a rust h2 lib) prevents this traffic from passing due to this invalid authority header value!

[2021-08-25 02:53] zhoub opened #13303 "Official Docker Image"
Is that possible to offer an official docker image ?

Now it seems that there are images `bitname/etcd` and `rancher/etcd`, but it's still preferred to have an official distribution.

Thanks in advance.

[2021-08-25 06:37] yangxuanjia commented on #12589
nice

[2021-08-25 11:41] yiqinguo opened #13304 "etcd uses memory reclamation"
<img width="717" alt="截屏2021-08-25 下午7 35 57" src="https://user-images.githubusercontent.com/12421121/130784298-f5e6d13d-1e60-4aa0-888c-2683b88b05f3.png">
When will etcd do memory reclamation？I set the auto-compaction-retention parameter to compress every hour.The monitoring indicator is process_resident_memory_bytes.

[2021-08-27 07:44] chenaoxd opened #13305 "[golang client sdk v3.5.0] Client v3.5.0 may be not exactly thread safe during retryAuth"
### Description
Sometimes, the client will give `etcdserver: user name is empty` error. After some investigation, I think this may relate to the `unaryClientIterceptor`, and describe as below.

After the token expires, the `unaryClientIterceptor` will try to reauth the client and update the token. When updating the client will first [set the auth token to empty string](https://github.com/etcd-io/e

[2021-08-27 14:56] achraf17 opened #13306 "etcd/raft Adding a node to an existing cluster"
etcd version: v3.5.0

Based on the documentation of the [readme](https://github.com/etcd-io/etcd/blob/v3.5.0/raft/README.md#usage) for adding a new node to the cluster, use `raft.StartNode(c, nil)`.
But based on the [code](https://github.com/etcd-io/etcd/blob/v3.5.0/raft/node.go#L219), it will panic with an error of `"no peers given; use RestartNode instead"` as `len(peers) == 0` will be true.

Is

[2021-08-28 06:29] #12930 closed

[2021-08-29 04:07] #11713 closed

[2021-08-29 12:40] socketpair commented on #11815
@polyrabbit starting from what etcd version this issue was fixed ?

[2021-08-29 13:11] #12912 closed

[2021-08-30 03:43] QuanJingHong commented on #10001
how do you fix it??

[2021-08-30 04:04] qdongxu commented on #13306
Can you describe what you did step by step, allowing others to reproduce the course. e.g. what are the existing clusters' topologies and configurations, how you set the parameters for the new node,  how the code writing, and what is the exact panic stacks?  It's not enough to describe as "I following the readme".

[2021-08-30 06:08] qdongxu commented on #13302
delete: https://etcd.io/docs/v3.4/dev-guide/interacting_v3/#delete-keys
no need(and maybe no way) to delete watch events.

[2021-08-30 06:16] zhangkun1117 opened #13310 "How to get value size or directory size by etcdctl?"
I want to get value's size or dirctory's size , but not found any method ? would someone help me ?

etcdctl --endpoints="https://...:2379" --prefix --keys-only=false get /registry/leases/kube-node-lease

I can get this, but I want to get total size of prefix key by "kube-node-lease" ?

[2021-08-30 06:22] zhangkun1117 commented on #13310
etcdctl --endpoints="https://*.*.*.*:2379"  --prefix --keys-only=false get /registry/leases/kube-node-lease

I can get this, but I want to  get total size of  prefix key by "kube-node-lease"  ?

[2021-08-30 08:23] ptabor commented on #13196
I think that the problem has origins semewhere in v3.1-v3.3, i.e. this versions had bugs that lead to store v2 get out of sync with store v3. Till etcd v.3.4, storeV2 was considered authoritative. v3.5 started to consider store-v3 as authoritative.

I think we need to add logic at the start of etcd that if both available (v2 & v3), makes sure v3 is in sync with v2.
If v2 is not available, it would

[2021-08-30 13:12] #13310 closed

[2021-08-30 15:47] achraf17 commented on #13306
Hey @qdongxu,
I had a network with 3 nodes running in a cluster. To add a new node, i did:
Step 1: I called `ProposeConfChange(context.TODO(), cc)` with cc being
[code]
Step2: then i started the new node by calling  `raft.StartNode(c, nil)` with c being
[code]
Just after calling the `raft.StartNode` with the `nil` value in the peers param, the node stops with no stack error on my code but when I f

[2021-08-30 21:05] #12937 closed

[2021-08-30 22:24] patrocinio commented on #13291
Hello @RichardoC,

I investigated and saw that we are just packing some binaries and creating two directories in the docker build process. We are not copying any directories, so I don't see how a .gitignore would help. The generated Docker image is basically the size of the 3 binaries (etcd, etcdctl, etcdutl).

Have you tested putting a .dockerignore to see if it makes any difference?

Thanks

[2021-08-30 22:46] RichardoC commented on #13291
Hello @patrocinio,

You're right, this won't reduce the docker image size, but it will reduce the context sent to the docker daemon which will reduce the time taken to create the docker image. By default it'll copy over the entire current directory despite only needing those 3 files. There's a good writeup on it [here](https://codefresh.io/docker-tutorial/not-ignore-dockerignore-2/) which explains

[2021-08-31 06:34] #12944 closed

[2021-08-31 11:30] anguslees commented on #13196
Whatever the source of truth is, `member remove` should operate on that, and not something else 😛

[2021-08-31 11:44] ptabor commented on #13196
It operates on both and fails if any of them failed:
  https://github.com/etcd-io/etcd/blob/946a5a6f25c3b6b89408ab447852731bde6e6289/server/etcdserver/api/membership/cluster.go#L403-L412

[2021-08-31 20:58] acastong commented on #13240
After looking at packet traces taken both on the server and on the client, it seems that some network proxy / firewall used within my organization between our development environment and cloud compute nodes where we are hosting etcd is introducing abnormal delay.

So the problem is not directly in the client code, although it is strange that this appears only when using 3.5 client.  So I would clo

[2021-08-31 20:58] #13240 closed

[2021-08-31 21:07] ptabor commented on #13240
Might be consequence of https://github.com/etcd-io/etcd/issues/13192.

[2021-08-31 22:38] #12951 closed

[2021-09-01 03:02] yangxuanjia opened #13313 "defrag block lease keepalive"
1. production env, we found when defrag etcd node, some user system will found lease all expired.
2. I found the code, see when defrag it will add a readTx.Lock() for concurrentReadTx.
3. When lease keepalive,  header.fill() will get rev(), this method will invoke concurrentReadTx.RLock().
4. So all leases will expired if defrag run slowly. (client use lease expired in 5 seconds)

There is a quest

[2021-09-01 08:23] lilic opened #13314 "Bump go to v1.17"
With go 1.17 out and the performance improvements seem very impressive we should consider bumping the version:

There were some changes to go mod and to `unsafe` package but judging by a quick search in the codebase it shouldn't affect us. Full release docs https://golang.org/doc/go1.17

[2021-09-01 13:15] cfc4n commented on #13305
Thanks for report. I'll test it later.

[2021-09-01 18:02] ptabor commented on #13303
- gcr.io/etcd-development/etcd:v3.5.0
- quay.io/coreos/etcd:v3.5.0

are the 2 populated by etcd release process.

[2021-09-01 21:31] patrocinio commented on #13291
Hello @RichardoC,

 I did a further investigation.

   I run my initial build process:

[code]

I create a large file (1 GB) in the bin directory, so it now has the following files:

[code]

   Then I run the build process:

[code]

So the fact that this large file was present in the bin directory (build context directory) made no difference in the build time.

It shows `transferring context: 2B`

[2021-09-01 22:12] spzala commented on #13291
@patrocinio thank you for sharing your findings and help close the issue! @RichardoC thanks for your active discussion and closing the issue! It helps to keep open issues in check.

[2021-09-02 04:16] KaymeKaydex opened #13316 "there is no progress on updating the gRPC"
gRPC 1.40.0 is now available, etcd supports gRPC 1.26.0. These are 14 major versions!

[2021-09-02 06:47] lilic commented on #13316
Hey, are you talking about grpc go version? As etcd used v1.38.0 which was the latest available when we bumped last. https://github.com/etcd-io/etcd/blob/main/go.mod#L35

[2021-09-02 06:50] invidian commented on #11555
Not stale

[2021-09-03 01:14] #12326 closed

[2021-09-03 03:17] KaymeKaydex commented on #13316
Sorry, my bad.

[2021-09-03 03:17] #13316 closed

[2021-09-03 03:33] cfc4n commented on #13305
It‘s not a bug.

[The token has expired or is invalid will be emptied](https://github.com/etcd-io/etcd/blob/ef81030105b5519b49de6d13218c32532d932db6/client/v3/retry_interceptor.go#L82), and you need to login again.

When the client has not completed login and authentication, Cannot be directly used for query.

Your problem is that run 30 coroutines, and they did not wait for the client finish logg

[2021-09-03 05:21] KaymeKaydex opened #13319 "etcd/client/v3 error"
UPD: i need to use gRPC v1.38.0

require (
	google.golang.org/grpc v1.38.0
	google.golang.org/protobuf v1.27.1
	go.etcd.io/bbolt v1.3.6
	go.etcd.io/etcd v0.5.0-alpha.5.0.20200425165423-262c93980547
	go.etcd.io/etcd/v3 v3.5.0 // indirect
)

[code]
also when go tidy :
[code]

[2021-09-03 06:25] chenaoXD commented on #13305
But the client will login automatically, and I don't think the user should do anything manually to wait for the login completed.

The document of the old version (like v3.3.24+incompatible) etcd golang SDK says that `The Client has internal state (watchers and leases), so Clients should be reused instead of created as needed. Clients are safe for concurrent use by multiple goroutines.` ([link](htt

[2021-09-03 08:27] KaymeKaydex commented on #13319
There are very small innovation from gRPC. I fixed it on my local, but i cant find it on repo

[2021-09-03 08:56] harshavardhana commented on #13192
Looks like an expected implementation

https://github.com/etcd-io/etcd/blob/55b7b745891e816b257681a297a151ca14536fa1/CHANGELOG-3.5.md#package-clientv3

https://github.com/etcd-io/etcd/blob/4cbb949595b7bbdc01a9d68a32b332e79025934c/client/v3/client.go#L302

There has been some kind of protocol-level change here which is perhaps breaking the etcd clients going through proxy?

[2021-09-03 10:04] akunszt commented on #13192
As far as I understand the `etcd` uses the `:authority` HTTP header in a way which is not valid according to the RFC. It looks like the Go implementation doesn't validate it but most of the network proxies do and because it's an invalid HTTP/2 request then they will drop it.
I think the `etcd` should use an `:authority` header conform to the RFC and maybe add another header to carry that informati

[2021-09-03 10:10] liupengfeiCk opened #13320 "It is a bug or not?"
Will the returned results of baseReadTx.buf.Range() and unsafeRange() in baseReadTx.UnsafeRange() method be lost?
For example, the key in bucketbuffer is [(2,0), (2,1), (2,2), (2,3)]

In the bucket of boltdb, the key is [(1,0), (1,1), (1,2), (2,0), (2,1), (2,2), (2,3)]

When the query key is [1,0], endkey is [2.3], and limit is 3

Only [(2.0), (2,1), (2,2)] can be queried

But [(1,0), (1,1), (1,2)

[2021-09-03 12:15] gbolo commented on #13192
the expected implmentation did not occur here:
[code]

someone needs to troubleshoot why that is. Perhaps an upstream library (maybe grpc) is having trouble parsing the expected value and is producing this partial value instead. This release should be considered broken until it's fixed. And since this header is so important for proxying to actually work, perhaps a test case needs to be added to en

[2021-09-03 16:53] dims commented on #11969
tailscale folks had the same issue, please see how they fixed it here: https://github.com/tailscale/tailscale/pull/2785

[2021-09-04 09:00] tatsuhiro-t commented on #13192
Obviously sending `etcd-endpoints://0xc0009d8540/#initially=[localhost:2079]` in `:authority` is not correct because the former is not any kind of a remote host.
`:authority` must be a host name or an IP address of remote host.  In this case that is "localhsot:2079".

[2021-09-04 13:36] ishan16696 opened #13323 "Question regarding clientv3"
We  are using [Client struct](https://github.com/etcd-io/etcd/blob/main/client/v3/client.go#L44-L50) directly to get the [clientv3 obj](https://github.com/gardener/etcd-backup-restore/blob/8de2827fc50132f221aee64bdb10f41d2d375224/pkg/etcdutil/etcdutil.go#L37-L88). But now we want to migrate our unit tests to use [gomock](https://pkg.go.dev/github.com/golang/mock/gomock) as you know gomock don't mo

[2021-09-04 14:30] hitzhangjie opened #13324 "raftexample: Procfile contains wrong flags that causes raft demo run abnormally"
I will fix it.

[2021-09-04 14:36] hitzhangjie commented on #13324
I see the Procfile contains wrong commandline flags. I will fix it.

[2021-09-04 15:24] hitzhangjie opened #13326 "raftexample: http put kv success via raftnode-1 but http get k 'Failed to Get' via raftnode-2"
It looks like leader raftnode-1 calls bcastAppend failed, but other raftnodes has been started as mentioned in raftexample/Procfile.

ps: all raft nodes are started.

It's a little difficult to let the 3 raftnodes run normally that all elected the same leader.
The problem is 1 of 3 raftnodes always becomes the candidate but it has lower terms, so it's rejected. Then it tries again and again to cat

[2021-09-04 22:05] #12931 closed

[2021-09-05 21:34] #12651 closed

[2021-09-06 11:59] SingleThread opened #13327 "etcd create user cannot do complexity check on user password"
Etcd creates users and cannot check the complexity of user passwords, and the relevant configuration is not found in official documents.

[2021-09-06 12:41] rajibmitra commented on #13314
I would like to work on this @lilic

[2021-09-06 12:45] lilic commented on #13314
Sorry I thought I assigned myself already, my mistake there. I already started bumping it locally and have most of it done as prep for this issue.

[2021-09-06 12:48] rajibmitra commented on #13314
no worries, I will find something else. :)

[2021-09-06 18:32] #12450 closed

[2021-09-06 18:57] ptabor commented on #13192
@menghanl  Could you, please, recommend a solution related to grpc client side load-balancing ?

1. Etcd client can be configured using multiple endpoints and is doing round-robin between these endpoints using grpc resolver API (custom resolver).  The resolver uses internal `etcd-endpoints://0xc0009d8540/#initially=[localhost:2079]` naming to define the 'target'.

2. grpc seems to be using target

[2021-09-07 11:06] serathius commented on #13196
I can take a look into implementing this. My current plan is to implement syncing bbolt to v2store state if it's available in current master and cherry pick it to v3.5. As result we fix will be available in v3.6 and v3.5.1.

Fixing it just in v3.5 is not enough as this will leave upgrade path v3.5.0 -> v3.6.0 broken. One consequence of this would be that we will need to postpone removal of v2store

[2021-09-07 14:25] #13300 closed

[2021-09-07 17:01] ptabor commented on #13196
Thank you @serathius !

Postponing cleanup of store-v2 code by one release (so another year or so) is a taught choice, but formally correct. I find it unlikely that someone in practice:
  1. got store-v2 diverged from store-v3 in etcd v3.2...
  2. upgraded to v3.5.0 and not noticed the problem. Didn't upgraded to v3.5.1+ that have 'syncing code'.
  3. upgraded to v3.6.x (with store-v2 gone complet

[2021-09-07 18:42] menghanl commented on #13192
The authority is not set to the server name. This is https://github.com/grpc/grpc-go/issues/4516.
It will be fixed, as we are making changes around authority (tracked in https://github.com/grpc/grpc-go/issues/4717).

---

Does the client use TLS or other creds?
`WithAuthority` would be a good solution for now, but it only works with `InSecure`.
For secure clients, overriding in the transport creds

[2021-09-08 05:58] mahadevan-k opened #13328 "Question regarding restoring key versions"
Is there a way to restore an entire key range to an earlier version.

Reason I'm asking is that today, one of our developers accidentally deleted the "/" key, clearing out all our keys.

I could see the previous versions of the key "/" via etcdctl but there was no way to restore it, so it was not very useful for us.

We were able to restore a backup but I would have preferred to just go back a ver