[2017-10-21 04:55] xiang90 commented on #8723
i have go 1.9.1. and i still hit this problem.

[code]

when build clientv3

[code]

[2017-10-21 10:10] zyf0330 commented on #8708
I know.
So `*cfg` of `cli, err := v3.New(*cfg)` is related to `--dial-timeout`, and if it takes more time than it to connect to etcd, it gives `fail to connect` error info.

[2017-10-21 15:38] gyuho commented on #8723
@xiang90 That's strange. It builds fine on my machine. I am on current master branch 785a5a11edf826f8d3e3396c33bf38c717b6225e with Go 1.9.1 as well.

[2017-10-21 16:43] connor4312 commented on #8699
After further investigation, this look like it's a bug on my end. Sorry for the noise! 😄

[2017-10-21 16:43] #8699 closed

[2017-10-21 16:53] jpbetz commented on #8699
Thanks for following up @connor4312

[2017-10-21 18:39] xiang90 commented on #8723
@gyuho @qq5272689

Here is how I get everything works again

[code]

it should work for other people. the root cause is probably the unclean vendor dir.

[2017-10-21 18:39] #8723 closed

[2017-10-21 20:04] tylerauerbeck opened #8729 "etcd utilizing deprecated prometheus.handler() function"
As noted in a comment on prometheus.Handler:

[code]

It is currently used in etcd in the following files:
[code]

The comment recommands moving to promhttp

[2017-10-21 23:40] libreoscar opened #8730 "Shouldn't save the snapshot index AFTER saving the sapshot?"
https://github.com/coreos/etcd/blob/ebc09b114970b5ab1faf1b3db9f146b25c95ab96/etcdserver/storage.go#L55
https://github.com/coreos/etcd/blob/ebc09b114970b5ab1faf1b3db9f146b25c95ab96/contrib/raftexample/raft.go#L109

Shouldn't save the snapshot index AFTER saving the snapshot? What if the process aborts between `WAL.SaveSnapshot()` and `Snapshotter.SaveSnap`?

[2017-10-22 01:39] derekchiang opened #8731 "Improve client v3 API by making options type-safe"
Currently, options are not type-safe in that you can pass the wrong option and the error won't be caught until run time (as opposed to compile time).  For instance:

[code]

I had an idea where you could make the options type-safe.  I wrote [a blog post here](https://derekchiang.com/posts/reusable-and-type-safe-options-for-go-apis/) and [an example here](https://gist.github.com/derekchiang/c9709ea

[2017-10-22 11:38] zzq392342084 opened #8733 "connection error: desc = "transport: tls: server selected unsupported protocol version 301"; please retry."
# Bug reporting

 ETCDCTL_API=3 etcdctl
  --cacert=source/etcd/etc/etcd/ssl/ca.pem
--cert=source/etcd/etc/etcd/ssl/etcd.pem
--key=source/etcd/etc/etcd/ssl/etcd-key.pem
--endpoints=https://192.168.89.210:2379
--write-out=protobuf
put /esn.com/network/config '{"Network":"172.30.0.0/16","SubnetLen":25,"Backend":{"Type":"vxlan"}}'

the above output:
     Failed to dial 192.168.89.210:2379: connection

[2017-10-22 21:33] tylerauerbeck commented on #8729
@xiang90 Unless there's someone better suited for this, I can probably pull this together pretty quickly.

[2017-10-22 21:38] xiang90 commented on #8729
thanks for the help! Please give it a try.

[2017-10-22 23:12] xiang90 opened #8735 "clientv3: enable repeatable retry on readonly txn"
We do not retry on all txn requests even if it only contains readonly operations.

- [ ] enable retry on readonly txn
- [ ] enable test on retry on readonly txn

[2017-10-23 01:18] xiang90 opened #8739 "test TestCtlV3WatchClientTLS"
[code]

[2017-10-23 01:24] igalarzab commented on #8268
I'm having the same problems. I'm using a VPC in AWS, so I cannot create PTR records.

What are the alternatives to make it work? The only ones I see are to disable the peer auth, or to not upgrade to 3.2.x at all (as with the 3.1.x works).

[2017-10-23 01:39] xiang90 opened #8740 "test: TestV3LeasePrmote flake"
--- FAIL: TestV3LeasePrmote (10.51s)
	v3_lease_test.go:76: unexpected lease exists

[2017-10-23 01:57] featheryus commented on #8722
Then, do you have any suggestion to avoid such problem.
Except the slow disk, is there any other possible reason to trigger such problem.
BTW, we use SSD in our system.
Thanks.

[2017-10-23 02:14] xiezhenye commented on #8715
just remove `keys.generated.go` fix the problem. `keys.generated.go` will be generated automatically

[2017-10-23 02:22] featheryus commented on #8707
What's the meaning of "avoid queries with large range/delete range!"
Do you think it's similar with #8722
Thanks.

[2017-10-23 08:16] socketpair opened #8744 "How to minimize etcd ?"
I need to use etcd in embedded environment. So I want to minimize it's binary. How does this can be achieved ?

For example, I do not need V2 API, and maybe some other features. Is there any configuration like `make menuconfig` ? maybe strip binary somehow and/or compile it with size minimisation like gcc's `-Os`.

Please give me advise how to do that.

[2017-10-23 09:07] FangXiangmeng commented on #5154
May I ask whether this problem is resolved

[2017-10-23 10:45] socketpair opened #8745 "Is the order of replies to watch requests strict ?"
i.e. if I pass multiple watch requests in same http/2 stream, is the order of replies guarantied ?

Answer to this question must be highlited in documentation. It is very important for getting right `watch_id` for each request if watches are created in parallel.

[2017-10-23 12:21] kr1sten0 opened #8746 "question: send messages wait entries applied"
https://github.com/coreos/etcd/blob/b699c7cff760a0d36d4736dabf9e4f8a753be1d9/etcdserver/raft.go#L254

here, can we just wait the confChange entry to be applied, not all pending entries? does it has some problems?

[2017-10-23 12:56] bdhess commented on #8445
I just want to note, since I went down the rabbit hole of trying to get a working TLS config set up with DNS discovery, that perhaps the doc'n could be clearer about the requirements.  I ended up getting everything working by adding two entries to the Subject Alt Name on my certificate: a DNS name for the hostname, a DNS name for the etcd discovery address.  A wildcard isn't actually required, jus

[2017-10-23 13:01] zyf0330 commented on #8445
@bdhess Do you set one of DNS name as root domain name? Like this, your etcd address is etcd1.example.com, and you set these two DNS name for cert, they are example.com and etcd1.example.com

[2017-10-23 14:39] bdhess commented on #8445
Yup, I'm setting `CN=hostname.example.com` as the subject and adding DNS SAN entries for both `hostname.example.com` and `etcd.example.com`.

[2017-10-23 18:49] gyuho commented on #8722
etcd cluster could be overloaded. Do you have output of `/metrics`?

[2017-10-23 18:50] gyuho commented on #8707
It means request was taking long time to process, or cluster is overloaded. Please check your `/metrics`.

[2017-10-23 18:52] gyuho commented on #8733
You have to pass certs flags to `curl` as well.

Something like `curl --cacert /path/to/ca.crt https://127.0.0.1:2379/v2/keys/foo -XPUT -d value=bar -v`

[2017-10-24 01:31] zyf0330 commented on #8445
I agree your way is effect, but I think supporting wildcard domain of SRV Discovery is necessary.
And it's hard for me to add root domain name for my cert issued by Let's Encrypt.

[2017-10-24 02:14] gyuho opened #8750 "test: change .travis.yml to use docker"
Better to build immutable test base image, and not be blocked on travis dev environment breakage.

[2017-10-24 04:30] xiang90 commented on #8746
the comments above explained why. we simply do not think optimizing this worth the effort.

[2017-10-24 04:30] #8746 closed

[2017-10-24 05:05] xiang90 commented on #8740
@jpbetz

can you help to reproduce this and get it fixed? thank you!

[2017-10-24 07:01] xiang90 commented on #8691
is this fixed?

[2017-10-24 07:14] xiang90 commented on #8744
probably you need to search about about minimizing go binary by stripping symbol table etc.. but i am not sure how much you can achieve.

for us, this is not going to be a priority anytime soon. if you wish to do it, you have to do your own research, and come up with a proposal to push it forward.

[2017-10-24 07:14] #8744 closed

[2017-10-24 07:16] xiang90 commented on #8719
keepalive is a blocking call. probably you want something like `keepalive --once`, which only sends one renew call?

[2017-10-24 07:17] xiang90 commented on #8733
closing this. this is not an etcd issue. you need to pass in cert as @gyuho said, or you need to ignore checking like what you does with `-k`.

[2017-10-24 07:17] #8733 closed

[2017-10-24 07:19] xiang90 commented on #8730
In the case you described, etcd will start with a previous snapshot, and continue to read though WAL.

[2017-10-24 07:19] #8730 closed

[2017-10-24 07:20] marcovc commented on #8719
Yes, that would work. It is not there yet, right?

[2017-10-24 07:21] xiang90 commented on #8694
this is fixed by https://github.com/coreos/etcd/pull/8742

[2017-10-24 07:21] #8694 closed

[2017-10-24 07:21] xiang90 commented on #8684
we do not have makefile anymore. closing.

[2017-10-24 07:21] #8684 closed

[2017-10-24 07:24] xiang90 commented on #8719
@marcovc no it is not. would like to help to add the feature?

[2017-10-24 07:47] marcovc commented on #8719
Sure, I'll do it. Thanks

[2017-10-24 07:57] xiang90 commented on #8713
@cucumberbig

what is your use case for adding such a command?

/cc @mitake

[2017-10-24 08:01] xiang90 commented on #7620
/cc @jpbetz

[2017-10-24 08:04] xiang90 commented on #7211
this is likely a bug in retry. we rewrote the retry logic. i assume this is fixed. will reopen if this happens again.

[2017-10-24 08:04] #7211 closed

[2017-10-24 08:08] xiang90 commented on #2038
this is unlikely to happen anytime soon. we rarely see people have configuration issues due to the incompatible flags provided to different etcd members in the cluster.

[2017-10-24 08:08] #2038 closed

[2017-10-24 08:14] mitake commented on #8713
If @cucumberbig provides motivating use cases, I agree with adding the command.

[2017-10-24 08:15] phozzy opened #8753 "dns discovery is ignored during bootstrap cluster (with tls enabled)"
Hello!
I'm trying to bootstrap a cluster as explained here: https://github.com/coreos/etcd/blob/master/Documentation/op-guide/clustering.md#dns-discovery
so my dns-records are:
[code]
I give a command and get following result:
[code]

It look like if it ignores `--discovery-srv` flag. So is it an issue, or may be I am mistaken somewhere?

[2017-10-24 10:41] namgivu commented on #8548
I try etcd v3.2.9 today with golang 1.9 and still getting [the error](https://github.com/coreos/etcd/issues/8548#issuecomment-330857282)

[2017-10-24 12:49] namgivu commented on #8548
Using glide to hold etcd package to be at branch `release-3.2` works for me.
[code]

[2017-10-24 14:01] gyuho commented on #8691
Yes.

[2017-10-24 14:01] #8691 closed

[2017-10-24 14:01] #8750 closed

[2017-10-24 14:42] socketpair commented on #8744
@xiang90 You did not answer about ability to switch off some features during compilation. Is it possible ? What you recommend for that ?

[2017-10-24 15:14] xiang90 commented on #8744
@socketpair it is possible by providing build tags to etcd/golang. but we do not provide that feature currently.

[2017-10-24 17:12] xiang90 commented on #8678
fixed by #8752

[2017-10-24 17:12] #8678 closed

[2017-10-24 17:24] xiang90 commented on #8745
i am not exactly sure what do you mean. can you clarify?

[2017-10-24 19:30] socketpair commented on #8745
Etcd watch API requires us to use stream-steram GRPC API. This mean that creation of two watchers will look like sending two requests of watcher creation in SINGLE http/2 stream. After that, two responses (about successful watcher creation) will be sent by etcd inside that HTTP/2 stream. I'm asking about order of these replies. I'm asking if order of replies strictly match order of requests. In ot

[2017-10-24 19:54] xiang90 commented on #8745
the current implementation does guarantee about this ordering. however, it might change later on.

what we suggested is to create watch one by one none concurrently, or wait for https://github.com/coreos/etcd/pull/8662 to land.

[2017-10-24 19:54] #8745 closed

[2017-10-24 20:14] alex-goncharov commented on #8268
the behaviour I see is a bit weird. On a single node etcd cluster peer authentication is fine:
[code]
but right after second node joins, first node starts rejecting peers with the same certificate
[code]

[2017-10-24 20:27] socketpair commented on #8745
Please reopen issue. This fact must be specified in documentation.

[2017-10-24 20:32] xiang90 commented on #8745
where in the doc says the ordering is guaranteed?

https://github.com/coreos/etcd/pull/8662 is well covered the fact. if you think the doc needs to be improved, please open an issue/pr to fix it. thank you.

[2017-10-24 20:34] socketpair commented on #8745
docs does not say anything about order. Why not to fix docs (specify that order is strict) using this issue number ?

[2017-10-24 20:43] xiang90 commented on #8745
the doc improvement is here: https://github.com/coreos/etcd/pull/8662/files#diff-c60cc9a0d9c8fe4cdedc8b5944475568R676

i am not sure what you want. i would suggest you to read through the issue i provided, and the pr to fix it. if you need anything more, make a pr.

[2017-10-24 20:48] drewlandis commented on #8548
I'm getting the same error as above. Any update on a release date for v3.3?

[2017-10-24 21:01] gyuho commented on #8548
@drewlandis We still have many pending issues. And also planning another gRPC dependency upgrade.

[2017-10-24 21:10] bdhess commented on #8445
@gyuho @xiang90 @heyitsanthony actually I believe the change in #8651 would break the configuration I suggested.  It's not clear why you should _require_ a wildcard.

Basically, the mental model I have is that a particular etcd node is addressable in multiple contexts: either (1.) under the identity of an individual node, in the context of a direct connection, or (2.) under the identity of the clu

[2017-10-25 00:01] gyuho opened #8757 "test: TestKVGetResetLoneEndpoint with -tags cluster_proxy"
https://jenkins-etcd-public.prod.coreos.systems/job/etcd-proxy/3159/console

`go test -tags cluster_proxy -v -run TestKVGetResetLoneEndpoint`

https://github.com/coreos/etcd/blob/f42534cb210615d3fa4dc4de10474625b199bff6/clientv3/integration/kv_test.go#L857-L898

[code]

[2017-10-25 01:12] lorneli commented on #8622
I wrote code of read-only gRPC proxy locally and plan to add related test.

Package `grpcproxy` is well tested.(https://codecov.io/gh/coreos/etcd/tree/master/proxy/grpcproxy) But I haven't found where these test code locates . For example, the test of `grpcproxy/auth.go`, and `grpcproxy/election.go`.

[2017-10-25 01:34] zyf0330 commented on #8445
@bdhess  I agreed your way is effect, but it doesn't mean supporting wildcard domain is bad.
There is ```If etcd is using TLS without a custom certificate authority, the discovery domain (e.g., example.com) must match the SRV record domain (e.g., infra1.example.com). ``` wrote in doc of DNS Discovery. So this feature is what be expected, and now it is a bug that wildcard domain is not supported.
A

[2017-10-25 13:51] gyuho commented on #8739
@xiang90 Duplicate with https://github.com/coreos/etcd/issues/8627. Which is fixed in grpc-go >v1.7.

I can reproduce with current master branch:

[code]

[2017-10-25 14:48] xiang90 commented on #8739
closing.

[2017-10-25 14:48] #8739 closed

[2017-10-25 16:01] xiang90 commented on #8677
this is fixed by recent effort of fixing balancer.

[2017-10-25 16:01] #8677 closed

[2017-10-25 16:05] #8687 closed

[2017-10-25 22:00] gyuho opened #8761 "test: TestV3KVInflightRangeRequests with -tags cluster_proxy"
https://jenkins-etcd.prod.coreos.systems/job/etcd-proxy/3171/console

[code]

[2017-10-25 23:33] jpbetz commented on #8740
@xiang90 Digging in now. Is this flaking on Semaphore CI runs?

[2017-10-26 00:10] xiang90 commented on #8740
@jpbetz Yes.

[2017-10-26 00:11] xiang90 commented on #8740
maybe the machine was just slow. but i want to make sure we are not missing anything.

[2017-10-26 00:16] jpbetz commented on #8740
Thanks.
So far the test logic looks correct. I need to review the lease implementation a bit more closely and then I'll decide what to do.

I hate blindly increasing timeout limits on integration/e2e tests to try to keep them from flaking, so I might first add some more testing logic to probe for how long the lease does take to expire if it doesn't expire when the test expects so we can narrow dow

[2017-10-26 00:22] xiang90 commented on #8740
100% agree.

[2017-10-26 05:48] dragon28 opened #8766 "[etcd Version: 3.2.0+git] goreman start etcdmain: forgot to set Type=notify in systemd service file?"
Hello People,

I am getting etcdmain: forgot to set Type=notify in systemd service file? by starting etcd using 'goreman start' command. Is it normal?

Thanks

[code]

Procfile:

[code]

[2017-10-26 17:48] jpbetz commented on #8740
As currently written, the test gives 1 second leeway when checking that the lease has expired.

Here are some pass rate numbers from running the test on my dev box with varying leeway on timing.

~0.3% pass rate with 300ms leeway
36% pass rate with 400ms leeway
98.4% pass rate with 500ms leeway

So it's not unreasonable to expect this to fail at a low rate on CI infrastructure a small fraction of

[2017-10-26 20:07] xiang90 commented on #8766
you are not using systemd to start etcd. so it is normal.

[2017-10-26 20:07] #8766 closed

[2017-10-26 20:31] gyuho commented on #8757
Also happens without `cluster_proxy` tag:

[code]

https://semaphoreci.com/coreos/etcd/branches/pull-request-8764/builds/5

[2017-10-26 21:21] xiang90 commented on #8740
@jpbetz

will it approach to 100% if you increase the timeout to say 1.5 seconds? if it is not approach to 100%, i think something goes wrong. i cannot believe a few go routines cannot get scheduled within 1.5s.

[2017-10-26 21:29] jpbetz commented on #8740
Yes, I hit 100% pass rate at 750ms on my dev box before making the changes. I suspect the 1s timeout for the test was somewhere in the P99 range for pass rates on semaphore.

[2017-10-26 21:30] xiang90 commented on #8740
@jpbetz great. thank you.

[2017-10-26 21:58] gyuho commented on #8707
@featheryus Ping?

[2017-10-26 23:34] marcovc commented on #8719
@xiang90, here is my attempt at this:

https://github.com/coreos/etcd/pull/8775

Never wrote go code before, so please look at it twice.

Thanks

[2017-10-26 23:40] gyuho commented on #8757
@xiang90 This is only reproducible in slow machine

[code]

As you can see `48:46 clientv3/balancer: pin "localhost:77231302755879888370"` is pinned right after time-out `48:45.931805859 [DEBUG] cli.Get 2 context deadline exceeded`. And we pass context with timeout 5-sec.

[2017-10-27 00:18] gyuho opened #8776 "clientv3: expose endpoint connection status"
Current client balancer implementation has no API for connection status or endpoint switch.

Internally we have

https://github.com/coreos/etcd/blob/0160cd76e538b79099ca226afce348bd4897c094/clientv3/balancer.go#L107-L111

that only notifies when connection is up(endpoint is pinned), while connection down channel is not exposed.

Now tests have random sleeps to wait for endpoint switch

https://git

[2017-10-27 00:25] xiang90 commented on #8757
5 seconds seems to be very long. have you investigated in why does it take so long?

[2017-10-27 00:27] gyuho commented on #8757
Yeah let me investigate further in balancer and gRPC side.

[2017-10-27 04:01] #8740 closed

[2017-10-27 06:38] xiang90 commented on #8379
/cc @harryge00  would you like to help on this one?

[2017-10-27 06:39] xiang90 commented on #8011
/cc @ericavonb

[2017-10-27 11:55] dmokhov commented on #8188
@xiang90 Do I understand correctly that WatchChan is closed when corresponding watchGrpcStream closed (e.g. due to ErrNoLeader) and to resume watching on a key I have to Close() clientv3.Client, create another one with client := clientv3.New() and call client.Watch()?

Calling client.Watch() with the same parameters (namely, context) without re-creating client will result in picking closed watchGr

[2017-10-27 13:34] mthenw opened #8778 "clientv3: no way to control some of the outputted logs"
# Bug reporting

I'm using etcd (via [libkv](https://github.com/abronan/libkv)) in my service. The issue is that even though I set logging level to CRITICAL

[code]

I still see following messages in the console when my service is not able to connect to etcd node

[code]

Is there a way to control/silence those messages? In general, is there a way to control log messages produced by etcd internall

[2017-10-27 13:35] mthenw commented on #8778
Looks like the culprit is https://github.com/grpc/grpc-go/issues/1044 so I guess the solution is to update the dependency(?)

[2017-10-27 13:55] atinsood commented on #8615
@gyuho I have tried to spend some more time understanding this and I am still confused. The official golang etcd v3 client, does it auto reconnect on watch failure due to connectivity issues or does the client code needs to handle that.

sorry for being persistent with the question, wasn't able to find any good guidance on this,

[2017-10-27 17:30] chenww opened #8780 "etcd failed to start up with 3.2.9"
Help please with the latest etcd cluster with 5 members and all of them failed to startup with return code 137:

[code]

**Here is the etcd env variables:**
[code]

thanks a bunch for any direction!!

[2017-10-27 17:35] gyuho commented on #8780
This node cannot talk to other nodes?

[2017-10-27 17:36] gyuho commented on #8778
Can you try setting `grpclog.SetLoggerV2(grpclog.NewLoggerV2(ioutil.Discard, ioutil.Discard, ioutil.Discard))` to silent grpc logs?

[2017-10-27 17:37] chenww commented on #8780
all nodes are reachable

[2017-10-27 17:50] gyuho commented on #8780
Do you have logs from other nodes?

[2017-10-27 17:59] chenww commented on #8780
they are all similar.  Here is another one. thanks
`
2017-10-27 17:58:48.835305 N | etcdmain: the server is already initialized as member before, starting as etcd member...
2017-10-27 17:58:48.835324 I | embed: peerTLS: cert = /etc/ssl/etcd/ssl/member-symphony-etcd0.pem, key = /etc/ssl/etcd/ssl/member-symphony-etcd0-key.pem, ca = , trusted-ca = /etc/ssl/etcd/ssl/ca.pem, client-cert-auth = true
201

[2017-10-27 18:05] gyuho commented on #8780
How did you check this?

[2017-10-27 18:14] chenww commented on #8780
curl or ssh are all viable. if not reachable the error should not be "getsockopt: connection refused"

[2017-10-27 18:23] gyuho commented on #8780
It's strange. `getsockopt: connection refused` should be from other etcd processes that haven't started or not listening on the interfaces from configuration. Does it work without TLS?

[2017-10-27 18:29] chenww commented on #8780
The 5 nodes cluster was working before for a week, so I guess member info is there. Is this the reason for quick joining process? Does return code 137 mean anything?

Have not tried non-TLS case.

[2017-10-27 18:32] gyuho commented on #8780
Did anything change when this happened? e.g. configuration, members

[2017-10-27 18:41] chenww commented on #8780
nothing changed until I found k8s is not functioning, then I found because etcd cluster is not available

[2017-10-27 18:45] chenww commented on #8780
Found this in log file:

`Oct 27 01:58:56 symphony-etcd0 kernel: Task in /docker/b20efb83c398d760fbe06639862945731745589e717d9c1fd100e509594aa57b killed as a result of limit of /docker/b20efb83c398d760fbe06639862945731745589e717d9c1fd100e509594aa57b
Oct 27 01:58:56 symphony-etcd0 kernel: memory: usage 524288kB, limit 524288kB, failcnt 10168
`
Does this mean out of memory?

[2017-10-27 18:46] xiang90 commented on #8706
fixed by #8712

[2017-10-27 18:46] #8706 closed

[2017-10-27 18:49] chenww commented on #8780
After I beef up memory, it is in good shape now. this is so hard to debug

[2017-10-27 18:49] #8780 closed

[2017-10-27 19:21] gyuho opened #8781 "tests: clean up random sleep time values"
https://github.com/coreos/etcd/pull/8762#discussion_r147490173

https://github.com/coreos/etcd/pull/8779#discussion_r147491093

Also https://github.com/coreos/etcd/issues/8757#issuecomment-340824525 and https://github.com/coreos/etcd/pull/8795.

/cc @jpbetz @xiang90

[2017-10-27 21:23] gyuho commented on #8757
@xiang90 Here's what's happening

1. start 2-node cluster (`A` and `B`)
2. pin `A` (`20:27`)
3. stop `A` (`20:27`)
4. unpin `A` (`20:27`)
5. stop `B` (`20:27.742278538`)
6. range request with timeout 5-sec starts (`20:27.751720421`)
7. restart `A` (`20:28.251903364`)
8. `A` is up but not pinned (unhealthy) (`20:28`)
9. removes `A` from unhealthy (`20:33`)
10. range request times out (`20:32.752235

[2017-10-27 21:58] #8719 closed

[2017-10-27 21:59] xiang90 commented on #8719
@marcovc thanks for the contribution. and go is really easy to get started :P

[2017-10-27 22:10] marcovc commented on #8719
Thank you for all the work. This was a simple one 😊

[2017-10-27 22:11] gyuho commented on #8686
This should be fixed via recent balancer updates. Will reopen if it happens again.

[2017-10-27 22:11] #8686 closed

[2017-10-27 22:11] gyuho commented on #8707
Please reopen if any more help is needed.

[2017-10-27 22:11] #8707 closed

[2017-10-27 22:13] gyuho commented on #8722
Please inspect `/metrics` output with https://github.com/coreos/etcd/blob/master/Documentation/op-guide/monitoring.md.

And reopen if you still think it's an etcd issue.

[2017-10-27 22:13] #8722 closed

[2017-10-27 22:15] gyuho commented on #8753
Why do you have `_etcd-server._tcp.ps.lcl` entries when you enable TLS? Can you configure SRV only with  `_etcd-server-ssl` and `_etcd-client-ssl`?

[2017-10-28 06:19] phozzy commented on #8753
Thank You!
That did help! I looks like I've misunderstood this:
https://github.com/coreos/etcd/blob/master/Documentation/op-guide/clustering.md#dns-discovery
I've thought that if it finds srv records with `-ssl` then it uses them, and after that without this flag.
My mistake, again thank You very much!

[2017-10-28 06:19] #8753 closed

[2017-10-28 15:05] luxas commented on #8248
Sorry that I fell off the thread. This might be nice to have, but I don't have time to dig into the details of pros/cons with this proposal / feature request for now. I might want to revisit it in the future. If you think it's not the best idea; feel free to punt on this for now :)

[2017-10-28 15:07] luxas commented on #8262
@ericchiang Happy with the implementation?

[2017-10-28 18:05] xiang90 commented on #8248
@luxas I am going to close this for now, since no one is going to work on it in short-mid term. Please reopen the issue when you have a better idea of why we should do this. Thank you!

[2017-10-28 18:05] #8248 closed

[2017-10-30 12:12] cristifalcas opened #8788 "Member reported healthy even if it has wrong cluster id"
Scenario:

* cluster created with 3 members (A, B, C). Get health for endpoint B from member A:

    is healthy: successfully committed proposal: took = 2.800791ms

* removing the data-dir from from member B. Get health for endpoint B from member A:

    Error from server: error dialing backend: dial tcp 172.19.40.136:10250: getsockopt: connection refused

* restart member B with the same etcd con

[2017-10-30 18:08] ericchiang commented on #8262
@luxas yep. This works for me.

[2017-10-31 00:14] aim4pole commented on #7439
Is there a place where I can validate tcpproxy round robin is actually routing to the desired endpoints in order other than code.  Logs dont capture it.  I checked snap/wal. No mention

[2017-10-31 02:58] #8711 closed

[2017-10-31 07:48] dchambon opened #8793 ""Error: context deadline exceeded""
# Summary
I am trying to build a simple etcd cluster using coreos from scratch.

# Environment
To set up my VM, I am using the [github script](https://raw.githubusercontent.com/coreos/init/master/bin/coreos-install) with the following command
[code]
My ignition file is valid and the associated configuration is:

[code]

Once my env is up and running, I have the following:

[code]
# Issue
If I try

[2017-10-31 12:21] YuleiXiao opened #8794 "network delay on leader, get from follower also delay"
Three etcd nodes ABC, A is leader with election-timeout=5s.
Set the network delay 2s on the leader node.
Get kv from B,C with ``` ---endpoints=B,C```.
It was expected that there should be no delay, but delay still exist.
The smallest timeout value is ```--command-timeout=5s``` and ```--dial-timeout=5s``` to get success.
Why get from follower also delay?

[2017-10-31 14:16] bdhess commented on #8445
Custom wildcard matching is bad from a security perspective, because it is inconsistent with standard X.509 idioms.  Assume an etcd deployment with an SRV record at `app.example.com` and hosts `node-1.app.example.com` and `node-2.app.example.com`.  A PKI identity issued for `metrics.app.example.com` would apparently be sufficient to join the etcd cluster, even if the cluster administrator doesn't

[2017-10-31 14:49] xiang90 commented on #8794
by default, etcd3 read is linearizable. It depends on the leader. You can switch to a local read with an option.

[2017-10-31 14:49] #8794 closed

[2017-10-31 15:16] lclarkmichalek commented on #8445
While enumerating the issues with x509 validation is an entertaining passtime, the fact remains that the expected behaviour of TLS validation is to validate wildcard certificates correctly. If you find wildcard certs to be an issue, then you can work around this by not issuing any wildcard certificates.

To take your example of app.example.com a little more concretely, what I usually see is:

[cod

[2017-10-31 16:35] xiang90 commented on #8757
the dial timeout is set to 500ms, shouldnt the endpoint be removed in 500ms, not 3s?

[2017-10-31 16:39] gyuho commented on #8757
@xiang90 We have minimum time 3-second.

https://github.com/coreos/etcd/blob/63d0ac0fe62bc428c9c0120fdc837d83d898910c/clientv3/health_balancer.go#L28

https://github.com/coreos/etcd/blob/63d0ac0fe62bc428c9c0120fdc837d83d898910c/clientv3/health_balancer.go#L72-L74

[2017-10-31 16:42] xiang90 commented on #8757
@gyuho

OK. Then let us bump the 5 seconds timeout. we should define the waiting on potential unhealthy remove as a const somewhere. basically, we need to cleanup all these random timeout values :P.

[2017-10-31 17:38] gyuho commented on #8757
Yeah, I've created https://github.com/coreos/etcd/issues/8781 to address random sleep value cleanup.

[2017-10-31 17:53] gyuho commented on #8761
This is from `nil` pointer reference to bbolt

`tx` was `nil`

https://github.com/coreos/bbolt/blob/60725ac8b25b78805aa8e2eaee714c62c55b1527/tx.go#L100-L102

[code]

Will investigate where those inflight requests went through when we do the graceful shutdown in etcdserver.

[2017-10-31 18:21] bdhess commented on #8445
I'm not saying that using actual wildcard certificates should be disallowed.  I'm saying that the matching rules that are built into etcd shouldn't add wildcarding of their own.  I'm specifically talking about changes like #8651.

[2017-10-31 18:26] xiang90 commented on #8445
@bdhess Previously it tries to do a exact match without the subdomain. how would that even get verified correctly? maybe i misunderstood something early in this issue.

i will go over the thread later.

[2017-10-31 19:05] bdhess commented on #8445
@xiang90 using subject alt names

Here's an example cert for an etcd node name `node1.example.com` that is a part of the `etcd.example.com` cluster:

[code]

[2017-10-31 19:54] hongchaodeng commented on #8534
Sorry that I dismissed this issue. Now let me explain the background and the root cause better.

Originally there are some problems with unauthorized endpoints joining quorums. Which has led to https://github.com/coreos/etcd/pull/7687 that adds stricter SAN check.

So now the check still has some problems with non-FQDN names. I will follow up an issue with a more detailed analysis in code.

[2017-10-31 20:09] #8757 closed

[2017-10-31 20:19] hongchaodeng opened #8797 "Peer TLS SAN check couldn't reason about non-FQDN endpoints"
**BUG REPORT**

etcd version: v3.2.9

## Problem

As reported in https://github.com/coreos/etcd/issues/8534

## Root cause analysis

When a new secure peer connection is made, etcd server tries to verify that its *remote network address* (IP address) is in the SAN of the TLS cert. See: https://github.com/coreos/etcd/blob/v3.2.9/pkg/transport/listener_tls.go#L122

Then it tries to check if the IP a

[2017-10-31 20:19] hongchaodeng commented on #8797
/cc @hasbro17 @xiang90 @raoofm

[2017-10-31 20:20] gyuho opened #8798 "Documentation: explain TLS changes"
A few breaking changes happened in TLS authentication in 3.2 and upcoming 3.3 release.
Need clarify/update security docs, upgrade guide, or FAQ.

3.2:
- [ ] [#7687](https://github.com/coreos/etcd/pull/7687) transport: deny incoming peer certs with wrong IP SAN
- [ ] [#7767](https://github.com/coreos/etcd/pull/7767) transport: resolve DNSNames when SAN checking
- [ ] [#7829](https://github.com/core

[2017-10-31 20:31] xiang90 commented on #8797
I am not sure this is something etcd can address.

We have two options:

1. verify the SAN matches remote address
2. do not verify the SAN matches remote address

We did 2 before, and people asked to tight security to do 1.

To make this work, SAN should either contain fqdn or IP address.

[2017-10-31 21:50] hongchaodeng commented on #8797
I agree that's the correct thing to happen. But what needs to be clarified is how to "verify"?

SAN is provided by the server to client so that client can verify the server, not the reverse way. Now peer server is trying to use its own cert to verify client -- this is not what SAN is for. Instead, when peer A receives a connection from peer B, A should actively request B's certificate and verify B

[2017-11-01 00:15] gyuho opened #8800 "etcdmain: do not embed 'embed.Etcd'"
See https://github.com/golang/go/issues/22517.
`flag` package adds `Name` method, and now breaks `go vet` tests in Go tip.

[2017-11-01 13:29] dqminh opened #8802 "Documentation: alert for grpc related methods is outdated"
With commit https://github.com/coreos/etcd/commit/5e810e30ccb42a36b24e933c09177b575e6494e6, etcd defers to go-gprc-prometheus to set up prometheus metrics.

The new prometheus metrics are like:

[code]

But alerts refenrence guide is still using old metrics:

[code]

We should update the reference guide to use new prometheus metrics instead.

cc @gyuho @brancz

[2017-11-01 14:31] raoofm commented on #8797
@hongchaodeng @xiang90  why can't we have the IP address in the SAN by automating generation of certs on the fly, rather than generating them before deploying (creating them as secrets).

I mean we can use the IP address received from the downward API (status.podIP) for the pod and use an init container or a script that generates the certs before the actual etcd container comes up.

[2017-11-01 16:45] hongchaodeng commented on #8797
@raoofm
That's etcd deployment issue, not related here. More specifically, etcd operator issue.

We do have plan to support that via k8s csr endpoint: https://github.com/coreos/etcd-operator/issues/1465 .

[2017-11-01 17:13] gyuho opened #8803 "etcdserver: rejected TLS peer connection error message to client is not helpful"
Affecting >v3.2.

Might need make this error message more descriptive in etcdserver side.

2017-11-01 16:31:59.764799 I | etcdmain: Git SHA: f1d7dd8
2017-11-01 16:31:59.764803 I | etcdmain: Go Version: go1.8.4
2017-11-01 16:31:59.764806 I | etcdmain: Go OS/Arch: linux/amd64
2017-11-01 16:31:59.764809 I | etcdmain: setting maximum number of CPUs to 2, total number of available CPUs is 2
2017-11-01

[2017-11-01 18:00] gyuho commented on #8803
@hongchaodeng Server-side error message when client gets rejected with `EOF` is

[2017-11-01 18:06] loxo33 commented on #8009
We are experiencing this issue with 3.2.7 and 3.2.9. Can this issue be re-opened and investigated, please?

[2017-11-01 18:08] xiang90 commented on #8009
@loxo33 the patch is merged in to master, not 3.2.x

[2017-11-01 18:09] xiang90 commented on #8009
We did very frequent snapshot (less than 5min). It looks like the root cause is boltdb, but does frequent snapshot trigger boltdb issue? Or just a completely different?

probably a boltdb issue.

[2017-11-01 21:00] liggitt opened #8804 "new members added after v2->v3 data migration do not receive existing data if no .snap file exists"
1. Start an etcd server (versions tested: 3.1.9 - 3.2.9)
2. Write v2 data, but less than 10,000 keys, so that no .snap file is created
3. Stop the server
4. Run a v2->v3 data store migration
5. Restart the server
6. Add new etcd members to the cluster

The new members do not receive the existing data when they join the cluster.

Observations:
* If only v3 data is written (no migration is performed

[2017-11-02 06:48] cnljf opened #8808 "does 3.1.x client watch 3.2.x server have problem？"
hi：
    I have some program, use 3.1.x client, and there is a 3.2.x etcd cluster；
    The program can run in several hours, but the channel the watch method may close after several hours and do not give cancel message. And rewatch will fail.
    Is this situation in expect？

[2017-11-02 09:03] #8808 closed

[2017-11-02 16:00] gyuho commented on #8804
Reproducible

[code]

The newly joined member doesn't receive data when the v3 data was migrated from v2.
If we just write v3 keys without migrate, new member receives data fine.

Will double-check after finishing up clientv3 + gRPC issues.

Thanks for report!

[2017-11-02 16:23] gyuho opened #8809 "clientv3, grpc: rpc error: code = Unknown desc = context deadline exceeded"
`TestBalancerUnderNetworkPartitionLinearizableGet*` fails with unknown errors from gRPC.

https://github.com/coreos/etcd/blob/f8bec0f631a98da73fcc57367542d6009bd2cbee/clientv3/integration/network_partition_test.go#L79-L90

We expect `Range` RPC call to return `context.DeadlineExceeded`, but it returns

of which type is `grpc/*status.statusError`

Happens once every >3K runs, with current master br

[2017-11-02 22:37] wwyiwzhang opened #8814 "Support v2 exec-watch in v3 etcdctl"
Hi there,
I cannot use `exec-watch` in etcdctl api v3.
I wonder if it is going to be added as a feature soon or is there a command that can substitute it in v3?

Thanks!

[2017-11-02 22:43] gyuho commented on #8814
What's your use case? We don't have `exec-watch` command for v3, and no plan yet.

If you use v3 lock command, we have something similar

https://github.com/coreos/etcd/blob/b65435b86d80fd3e71c6411832e8cc7eb8fb8b44/etcdctl/ctlv3/command/lock_command.go#L34-L37

[2017-11-02 22:50] wwyiwzhang commented on #8814
In API *v2*, I can do something like,
`etcdctl  --no-sync --endpoints ${ENDPOINTS} exec-watch --recursive /${prefix} -- sh -c 'python <name of the script> -a "$ETCD_WATCH_ACTION" -ck "$ETCD_WATCH_KEY" -cv "$ETCD_WATCH_VALUE"`
How can I replicate in API *v3*?

[2017-11-03 07:59] keyankay commented on #8603
@rezie
Did you try with both client and server certificate ?

[2017-11-03 13:44] rezie commented on #8603
@keyankay Do you mean whether I generated both the client and server sets? If so, then yes; the steps I followed are all in the documentation that I linked.

[2017-11-03 17:06] wwyiwzhang commented on #8814
Based on the offline chat, I think `etcd watch` seems to be the only option.
I am trying to replicate this,
`etcdctl --no-sync --endpoints ${ENDPOINTS} exec-watch --recursive /${prefix} -- sh -c 'python <name of the script> -a "$ETCD_WATCH_ACTION" -ck "$ETCD_WATCH_KEY" -cv "$ETCD_WATCH_VALUE"` in API v2
using API v3.
We reply on `exec-watch` to trigger events for the downstream applications. Could

[2017-11-03 17:07] gyuho opened #8817 "Pass *clientv3.Client to NewOrderViolationSwitchEndpointClosure"
https://github.com/coreos/etcd/blob/ef475b2502c3bb1d711ee9723b40e66acd1b3e76/clientv3/ordering/util.go#L29-L34

`clientv3.Client` has `sync.Mutex` field, and we pass this client as value.

[code]

[2017-11-06 11:14] zarmin opened #8822 ""read: connection reset by peer" error under *moderate* load"
I see these error messages in the console under *moderate* load (more than 10 write / sec)

[code]

The values are successfully written and the cluster's healthy, but I worry about these errors.
The error is only present when using version 3.2.x, with 2.2.5 I have no errors.
The network is stable.

Version:
[code]

Cluster setup shell script:
[code]
(https://github.com/coreos/etcd/blob/master/Docu

[2017-11-06 16:43] gyuho commented on #8822
Those are gRPC internal logs. 3.3 will only display those when `--debug` flag is enabled (https://github.com/coreos/etcd/pull/8810).

[2017-11-06 21:25] gyuho opened #8826 "auth: context.WithValue has string type keys"
[code]

https://github.com/coreos/etcd/blob/1d01aaa3958069e062805edd808b4658e1a04133/auth/store.go#L1066-L1073

From https://github.com/coreos/etcd/pull/8031.

https://github.com/coreos/etcd/blob/5ed5ee51f57a635c84acde19d96c288f57d1754a/proxy/grpcproxy/util.go#L35-L38

The key should have been typed (e.g. `keyABC{}`), rather than string.
Otherwise, it could collide with other keys (e.g. tracing).

[2017-11-06 21:51] gyuho commented on #8793
Did you check 3 other nodes in your cluster? Server logs should have some warnings?

[2017-11-06 21:52] gyuho commented on #8788
What was the etcdctl command to get this? Or did you just fetch `/health`?

[2017-11-06 22:29] ingvagabund commented on #7796
FYI with the patch below applied I am able to generate man pages for etcdctl of both versions (i.e. v2 and v3).:
[code]

Unfortunately, `github.com/urfave/cli/flag.go` does not allow a simple way to override the default output format as it implements the `Stringer` interface. The `github.com/spf13/cobra` on the other hand is very friendly and the man generating abilities are quite straightforward.

[2017-11-06 22:30] ingvagabund commented on #7796
@heyitsanthony any plans to refactor the generate `https://github.com/coreos/etcd/blob/master/etcdmain/help.go` via `github.com/spf13/cobra`?

[2017-11-06 23:01] eddieesquivel commented on #8596
@gyuho just ran into this with a customer. If I find a solution I'll go ahead and document it here.

[2017-11-06 23:03] ingvagabund commented on #7796
Checking the `etcdmain/config.go` it should not be hard to mimic the functionality of the `flag.FlagSet` and store the individual flags "just for man/md generating". E.g.

[code]

Then, on an appropriate place (e.g. when MAN=true env is set) the `--help` will print the man page instead.

[2017-11-06 23:12] eddieesquivel commented on #8596
We had a mismatch between dnsmasq hostnames and the hostnames specificed in the terraform.tfvars controller_domains and worker_domains.

In order to debug we pre-pended TF_LOG=debug to the terraform apply step.

[2017-11-07 01:59] #8809 closed

[2017-11-07 08:19] namgivu opened #8827 "etcd client v3 golang - how to get endpoint when receiving new event from in watcher"
When using  watcher of etcd client v3, how can we know from which endpoint the message/event is coming from?
I have [google search](https://www.google.com.vn/search?newwindow=1&ei=MWgBWqbNHaWUvQTy24PQBg&q=etcd+client+v3+golang+-+how+to+get+endpoint+when+receiving+new+event+from+in+watcher&oq=etcd+client+v3+golang+-+how+to+get+endpoint+when+receiving+new+event+from+in+watcher&gs_l=psy-ab.3...135225

[2017-11-07 09:35] gyuho opened #8828 "clientv3: fix balancer and upgrade gRPC v1.7.x"
clientv3: change balancer for gRPC v1.7.x

v1.6.0

1. cluster of endpoints `A` and `B`
2. pin `A`
3. `updateNotifyLoop` `case upc == nil` `b.notifyCh <- A`
4. `A` becomes blackholed
5. PUT request context times out on `A`
6. `b.notifyCh <- []` in retry.go to drain connection `A`
7. `grpc.tearDown(errConnDrain)` on `A`
8. `down(errConnDrain)` on `A`
9. unpin `A`
10. pin `B`
11. `updateNotifyLoop` `

[2017-11-07 13:06] ingvagabund commented on #7796
With https://gist.github.com/ingvagabund/3cad6cd9658705d415a6779010b53f0a and the patch above it's possible to generate the etcd.1 man page:
[code]

[2017-11-07 14:30] DeamonMV commented on #3846
Hi. i got some problem, but i could not find role user
what do i have
[code]
etcd in cluster mode
[code]
auth was enabled

i have created guest.json file and run command

[code]

etcdctl show me the same thing
[code]
and there are only user root
[code]

[2017-11-07 14:51] DeamonMV opened #8829 "etcd v3.2.9 with enabled authentication allows modify any key without credentials"
Hi. i have faced proble like in this thread https://github.com/coreos/etcd/issues/3846
i try to modify guest role, but i could not find role guest.

what do i have
[code]
etcd in cluster mode
[code]
envirompent is **ETCDCTL_API="3"**

auth was enabled

i have created guest.json file and run command

[code]

etcdctl show me the same thing
[code]
and there are only user root
[code]

[2017-11-07 15:57] perrefe commented on #8169
Hi, I've used ETCD_FORCE_NEW_CLUSTER in a 2.3.8 version of etcd using a backup data from one node of an "almost corrupted 5 node cluster", and this guide (https://coreos.com/etcd/docs/latest/v2/admin_guide.html#disaster-recovery) was useful. The key part on this is the update of peer url with etcdctl member update before adding new members to resize the cluster.

My cluster now has 3 members and i

[2017-11-07 16:40] xiang90 commented on #8828
it seems like a bug at gRPC side or our analysis has an issue.

basically after step 15 in 1.7x, step 16, 17, 18 is a side effect of the previous notification of `a`. but `b` should eventually be up again at least.

so what will happen after 18?

[2017-11-07 16:42] xiang90 commented on #8829
/cc @mitake

[2017-11-07 17:32] gyuho commented on #8828
@xiang90

It starts over by notifying `A` and `B`, and pins blackholed endpoint `A`.

With gRPC v1.6.0, balancer unpins on `tearDown(errConnDrain)`, where it drains blackholed endpoint right after marking as unhealthy from context errors.

With gRPC v1.7.2, balancer waits until state change is propagated to the balancer, and calls `down(errConnClosing)`. So there's timing difference (https://githu

[2017-11-07 18:03] davissp14 opened #8830 "v3.2.7 memory spiking to capacity"
![screen shot 2017-11-07 at 11 57 18 am](https://user-images.githubusercontent.com/423038/32509423-d9db8ef2-c3b2-11e7-8d93-578955c4ff63.png)

Version: 3.2.7

We are running a 3 node cluster with roughly 3.7GB of data.  The spike occurred and when one of the 3 nodes were down. The non-leader node is the one that is spiking.  If we bounce the container that is spiking, things appear to go back to no

[2017-11-07 18:04] gyuho commented on #8830
@davissp14 What's the etcd version? And workloads?

[2017-11-07 18:12] davissp14 commented on #8830
Version: 3.2.7
Workload I would say is pretty High.

[2017-11-07 18:12] davissp14 commented on #8830
Another sample of the pprof:

[code]

[2017-11-07 18:16] davissp14 commented on #8830
Also I edited the title and I want to clarify that Etcd memory is spiking to fill memory capacity, not specifically 60GB.  The screenshot above is confusing...

[2017-11-07 18:19] fanminshi commented on #8830
@davissp14 do you have any server logs for etcd members?

[2017-11-07 18:35] fanminshi commented on #8830
@davissp14 I also would like to see pprof of the heap of spiky etcd node. e.g:
[code]

[2017-11-07 18:51] davissp14 commented on #8830
@fanminshi Is there a way to collect that information via curl?

[2017-11-07 19:07] davissp14 commented on #8830
Here's the output of `curl localhost:2379/debug/pprof/heap?debug=1`

[heap.txt](https://github.com/coreos/etcd/files/1451266/heap.txt)

[2017-11-07 19:10] DeamonMV commented on #8829
i try to run two version in stanalone mode - there are gust role presented.
3.2.9
[code]

That is 3.2.6
[code]

Then i try to run cluster with 3.2.6
[code]
so guest role is present

then in cluster mode v3.2.9 - and guest role present too
[code]

^^^^ All above i have tried through etcdctl api V2

now i try with etcdctl api V3

[code]

And in this case there are no any guest role.

[2017-11-07 19:19] raoofm commented on #8829
@DeamonMV yes, v2 and v3 are different.
v2 created a guest role by default to avoid breaking existing users as auth was introduced later.
v3 doesn't have a guest role and has a different doc https://github.com/coreos/etcd/blob/master/Documentation/op-guide/authentication.md

[2017-11-07 19:29] fanminshi commented on #8830
`Is there a way to collect that information via curl?`
I am not sure.

However, you can get the heap dump via `curl -s http://localhost:2379/debug/pprof/heap > dump.heap`.

If you can upload the `dump.heap` to there, it will help me debug the issue better. the `heap.txt` is a bit hard to read.

[2017-11-07 19:29] gyuho opened #8832 "test: release test does not run with latest release"
https://github.com/coreos/etcd/blob/d83820d1431019ae644fb3a6592a0e8e22b6e38b/test#L246

does not work in Semaphore CIs.

Maybe need fallback flag to set the latest release version in test script.

[2017-11-07 19:31] xiang90 commented on #8828
eventually a should be unpined due to drain, then b should be pined. we shoud figure out why this is not happening instead of "fixing" the race.

[2017-11-07 20:08] trinchan commented on #8830
@fanminshi I understand this is not the ideal format, I've parsed out stack traces with allocated bytes larger than 1GB and pasted here.

The format is output by

[code]
so it should be _reasonably_ readable. Thanks for your help.

[code]

[2017-11-07 20:18] gyuho commented on #8828
Correct, `A` gets unpinned.

Correct, `B` get pinned after `A` gets unpinned.

Problem is, afterwards, `B` gets unpinned when we notify `A` before `A` is unpinned when `A` is blackholed.  This removes subconnection `B`. And this subconnection removal is happening after `B` gets unpinned, because there's no synchronization between gRPC `lbWatcher` and our `updateNotifyLoop`. So, `B` gets pinned but

[2017-11-07 20:34] xiang90 commented on #8828
will it be pined again?

[2017-11-07 20:35] gyuho commented on #8828
Yes, but not always. Balancer could pin `A` instead, while it's blackholed (because all A and B are marked unhealthy, so choose whichever up first). And test times out.

[2017-11-07 20:36] xiang90 commented on #8828
but then b should be pined again, and things should get stabilized, right?

[2017-11-07 20:41] gyuho commented on #8828
It was pinning `A` instead and `TestBalancerUnderBlackholeNoKeepAlive*` was failing because of that--failed because endpoint switch didn't happen within timeout.

Since this is after `B` gets unpinned (so marked as unhealthy), there's no guarantee that `B` will be pinned within the timeout.

[2017-11-07 20:42] xiang90 commented on #8828
i am more curious if b will be eventually pined regardless of the timeout. if it is the case, then all we need to fight against is the timing issue.

[2017-11-07 20:55] gyuho commented on #8828
I believe we cannot guarantee that, because both A and B are unhealthy for the same reason--errConnClosing, from balancer's viewpoint. So, we notify both A and B in `notifyAddrs` to `lbWatcher`. Since there's no prioritization between A and B, in theory, it is possible that

1. notify A, B
2. Up A
3. pin A
4. A times out
5. notify []
6. notify A, B
7. notify A, since A is still pinned
8. Up B
9. p

[2017-11-07 21:24] xiang90 commented on #8828
@gyuho OK. Let us stop notifying gRPC the endpoints that are in the unhealthy list. It should solve this issue, and it is inline with what we are going to do in the future too. sounds reasonable?

[2017-11-07 21:25] gyuho commented on #8828
@xiang90 Yeah, let me try that. Thanks.

[2017-11-07 21:58] fanminshi commented on #8830
@trinchan all the metrics have `0: 0` for `r.InUseObjects(), r.InUseBytes()`. I believe those means that all the allocated objects are freed.

For the information you have provided, go runtime asked system to allocate `Sys = 78815915464` about 78.815915464 gig of memory and most of the allocated objects `Mallocs = 787625346` are freed `Frees = 766241530` which translates to actual in used memory o

[2017-11-07 22:31] fanminshi commented on #8830
@davissp14 I would like to know what happened during 11:27 to 11:32 of the graph. what kinda of loads?

[2017-11-07 23:15] zhenkai opened #8836 "Raft EventListener for state change?"
We would like to do some prep when a node becomes leader and clean up when it loses leader status. It seems it's not possible to listen for raft role change event (e.g. become leader) now.

Looking at the code, it seems it won't require lots of change to add an EventListener. Is there any concern on adding this support?

(EventListener callbacks would be invoked from the actual goroutine where the

[2017-11-07 23:29] xiang90 commented on #8836
what is eventListener? probably you reported to wrong repo?

etcd/raft will return a ready state when anything is changed. so "listening" changes is supported.

[2017-11-08 00:38] zhenkai commented on #8836
@xiang90

Sorry for the confusion. There is no event listener yet. I was asking if there is any concern in adding one.

Yes, reading from Ready() is one way, but there is a lag because the actual state change could happen while the user code is processing previous `Ready`. Unless the user code was polling `Status`, it has to wait until next `Ready` to find out the change.

In `raft.go` there is al

[2017-11-08 00:44] xiang90 commented on #8836
we do not have any plan to add the callback you described.

why do you want to have the push-style hook? what is your use case?

[2017-11-08 01:50] zhenkai commented on #8836
We have a use case where we want a node to stop processing requests if it steps down from leader.  Slight delay in the notification of `leader->follower` transition is ok, but our code can't handle the case where the delay is comparable to the election timeout (which may happen in pathological case where `Ready` processing takes very long due to, e.g., write stall in storage engine). Also we'd lik

[2017-11-08 01:54] xiang90 commented on #8836
I think you should fix your code by processing io in another routine. Or create another routine to pull status. I do not like the idea to introduce callback into raft. Pushing state change into a no blocking chan might be ok, but I am not a fan either.

[2017-11-08 01:54] mitake commented on #8829
@DeamonMV As @raoofm said, v2 and v3 are different. They are different mechanisms for different key spaces. Also, I don't see problems related to `etcd v3.2.9 with enabled authentication allows modify any key without credentials` in your report. How did you produce the modification without credential problem?

[2017-11-08 02:00] mitake commented on #8826
@gyuho I didn't know the keys should have its own type, thanks for letting me know. We don't have keys other than the two.

BTW we are using context instead of a custom struct for passing the parameters for reducing dependencies from etcdserver to auth (the result of offline discussion with @xiang90 ). But if we need custom types for the params, it must introduce such a dependency between the pack

[2017-11-08 02:19] Colstuwjx commented on #5213
We also faced this issue, and it caused that our production etcd cluster cannot contact with api server, even cannot perform `put` action, finally we saddly cleaned up all data in etcd cluster, and things worked again.

[2017-11-08 02:59] tamalsaha opened #8838 "Upgrade grpc-gateway to 1.3"
grpc-gateway just released v1.3 https://github.com/grpc-ecosystem/grpc-gateway/releases/tag/v1.3 . It brings some useful options around [passing headers via proxy.](https://github.com/grpc-ecosystem/grpc-gateway/issues/311) This work required changes in the generated *.gw.go code.

Some of use has a dependency on these *.gw.go files via Kubernetes. We would like to see the generator upgraded to v1

[2017-11-08 07:07] DeamonMV commented on #8829
@mitake sorry, but your question is not clear for me.
My point is, if i enabled auth via etcdctl api V3 i can modify keys via rest api without any credentials
[code]

And question is how to disable this possibilities. In fist time i have found out this via this etcd-viewer https://github.com/nikfoundas/etcd-viewer/blob/master/README.md. I have enabled auth, and open etcd-viewer and i'm still can m

[2017-11-08 07:48] raoofm commented on #8829
@DeamonMV etcd have two completely different data stores, v2 and v3 are two different data stores.

You are using ETCDCTL_API=3 i.e you are using etcd v3 data store. You are enabling auth on v3 but when you are using curl you are writing to v2 data store (**/v2**/keys/host/xx)

My point was, even if you enable auth on v2 store, the v2 store by default has a guest role. So you need to disable the g

[2017-11-08 08:19] DeamonMV commented on #8829
@raoofm Thanks for explanation. now i understand where the differences
Please close this topic
Thanks.

[2017-11-08 08:21] raoofm commented on #8829
@xiang90 please close this.

[2017-11-08 08:48] #8829 closed

[2017-11-08 13:05] dpoison commented on #8596
We have successfully implemented bellow environment.

Env Info:

Version Details

Files from **/var/lib/matchbox** are given here if anyone wants to test. (FYI: all the keys are wrong so please change for yourself)
[matchbox.zip](https://github.com/coreos/etcd/files/1453945/matchbox.zip)

**Here is the output of some kubectl commands for status.**

[code]

[code]

[code]

[code]
Thanks @gyuho @dgh

[2017-11-08 14:57] gyuho commented on #8827
Watch event is PUT, DELETE, etc., which means the entry has already been persisted in majority of nodes. It doesn't matter which node has the data or not. If you're talking about which node the client is connected to(endpoint pin), you have to enable client debug logging (for our current clientv3 master branch)

[2017-11-08 14:57] #8827 closed

[2017-11-08 15:27] davissp14 commented on #8830
@fanminshi  This is the first time we've experienced anything like this.  However, we are noticing that this issue is cropping up at the same time we start experiencing latency issues on one of the three nodes.  As soon as we start seeing network issues, we notice disk I/O / Memory start to spike.

[2017-11-08 16:48] gyuho commented on #8830
@davissp14 We need server logs during those events, and also output of `/metrics` endpoint.

[2017-11-08 16:52] davissp14 commented on #8830
Looks like we figured out the issue.  While the networking issues certainly played a part, it was mostly a red herring.

A customer of ours was querying the entire dataset. Each query would decompress into very large responses, and it seems these queries would stack adding a multiple to the response data sitting in memory...

[2017-11-08 16:53] davissp14 commented on #8830
We obviously want to prevent Users from doing this like this in the future.  What are the best practices in regards to implementing Pagination in range queries?

[2017-11-08 16:57] xiang90 commented on #8830
@davissp14 you can enforce the max response size in 3.3, and force users to use pagination for large ranges.

[2017-11-08 16:57] #8830 closed

[2017-11-08 17:14] davissp14 commented on #8830
Look forward to it!  Thanks

[2017-11-08 18:04] #8836 closed

[2017-11-08 18:15] xiang90 commented on #8836
@zhenkai can you explain why this is closed? or this might confuse other people who watches this issue. does the suggestion we have work for you? or you figured out a better solution?

[2017-11-08 18:32] zhenkai commented on #8836
Yea, we can use the polling method as work around. Although it would be convenient for us to have callbacks, I don't have strong arguments to push for it given that you think this doesn't fit well with current raft design, and I'm not sure how general this use case is.

Thanks for the quick response.

[2017-11-08 18:32] zhenkai commented on #8836
Yea, we can use the polling method as work around. Although it would be convenient for us to have callbacks, I don't have strong arguments to push for it given that you think this doesn't fit well with current raft design, and I'm not sure how general this use case is.

Thanks for the quick response.

[2017-11-08 18:41] xiang90 commented on #8836
@zhenkai OK. We can reevaluate this if polling does not work for you, or you have any concrete examples to show callback is a must. Thank you.

[2017-11-08 19:07] xiang90 commented on #8838
@tamalsaha would you like to send a PR?

[2017-11-08 19:15] #8832 closed

[2017-11-08 19:30] gyuho commented on #8826
@mitake @xiang90 I meant something like this:

[code]

And we have 2 places to handle backward compatibility:

https://github.com/coreos/etcd/blob/5ed5ee51f57a635c84acde19d96c288f57d1754a/auth/simple_token.go#L189-L192

https://github.com/coreos/etcd/blob/5ed5ee51f57a635c84acde19d96c288f57d1754a/proxy/grpcproxy/util.go#L66-L67

[2017-11-08 19:58] heyitsanthony opened #8842 "feature: txn on lease expiry"
This came up in relation to https://github.com/coreos/zetcd/issues/88

When an ephemeral node is deleted in ZooKeeper, the node's parent directory's `Pzxid` (last modified child revision) and `CVersion` (number of changes to children) fields are bumped. However, since zetcd relies on etcd leases for ephemeral node deletion, there is no way to update these fields atomically when the lease is lost a

[2017-11-08 20:56] dghubble commented on #8596
Again, this isn't a design I recommend, workers shouldn't be etcd peers. But good luck.

[2017-11-08 23:05] #8800 closed

[2017-11-08 23:33] xiang90 commented on #8445
@bdhess @zyf0330 @stephanh @lclarkmichalek

I am inclined to revert #8651.

So if you have 1.example.com and want to use SRV discovery under example.com domain, then you need to have

[code]

as `Subject Alternative Name` before.

With #8651, you need to have

[code]

#8651 might save one SAN, but it does not really bring any value if you want to put exact subdomain in to the SAN.

But @zyf0330 sa

[2017-11-09 01:46] zyf0330 commented on #8445
@xiang90 I mean I cannot have a wildcard cert which domain name is `*.example.com`, but I can have what like `1.example.com` which is  an exact domain.
#8651 matches just exact domain name `*.example.com`, but I want it to match domain with regex whose root domain is `example.com` like `1.example.com` or `a.example.com` or etc.
I just don't clear what @bdhess want now, because he was just opposed

[2017-11-09 02:09] manishjindal opened #8846 "Benchmark - Unable to compile package and dependencies"
I am trying to get benachmark using following command

`go get github.com/coreos/etcd/tools/benchmark `

It's giving following error

/root/go/src/github.com/coreos/etcd/clientv3/client.go:331: cannot use c.tokenCred (type *authTokenCredential) as type credentials.PerRPCCredentials in argument to grpc.WithPerRPCCredentials:
        *authTokenCredential does not implement credentials.PerRPCCredenti

[2017-11-09 02:41] xiang90 commented on #8445
Correct me if I am wrong, but no such thing exists. hostname ONLY support exact match. you either put *.example.com there to match ONLY *.example or example.com to match example.com.

If you think TLS can use regex to do verification, please show me the RFC and probably a go example.

[2017-11-09 02:57] mitake commented on #8826
@gyuho yes, in such a case, the definition of `simpleToken{}` should be in `auth` and used from `etcdserver`? Then the dependency between the packages can be increased, so I think dropping context and introducing custom structs rather than using context would be simpler.

BTW do we need to care about the backward compatibility between packages which cannot be seen from external ones?

Also, the co

[2017-11-09 03:12] gyuho commented on #8826
@mitake Oh, somehow I was thinking context passed from other servers (where we need worry about compatibilities against older versions). But in this case, the context only goes from etcdserver to auth package, and never goes to other servers. So breaking change should be fine.

Agree.

I see. Then, proxy should fine, as it is now.

[2017-11-09 03:58] zyf0330 commented on #8445
I know.
See error info `rafthttp: health check for peer 20fdc7247054886c could not connect: x509: certificate is valid for thor01.example.com, not example.com` again.
My question is why probe requests url `example.com` but gets cert `thor01.example.com`. If it requests url `thor01.example.com`, it should get correct cert.
I cannot find where this info appears and `AddPeer` defined in `rafthttp/tra

[2017-11-09 04:45] amit2277 commented on #8596
Thanks Dalton for valuable advice :) this is our test environment now we'll setup development environment where we should separate etcd cluster from workers , best would be i believe on controller or out of k8s cluster right? but we dont want to waste our physical hardware only fro etcd , what is your suggestion best fit?
Thanks in Advance  :)

[2017-11-09 05:03] dghubble commented on #8596
The default matchbox examples run etcd across controller(s). That allows you to handle controllers with more care, while workers are fungible and can be killed or replaced at any time. That setup wouldn't increase your hardware footprint.

[2017-11-09 05:20] amit2277 commented on #8596
Thanks Dalton , our next step will be High availability of controller I am not sure how to achieve this without load balancer , is there anything you have tested if you can share would be highly appreciable or we can start another thread with that topic.  PS : i have tried manually installation of k8s with two controller and load balancer (pfsense HAProxy) it was successfully failed :) .  so would

[2017-11-09 05:37] dghubble commented on #8596
Matchbox provides a multi-controller (and thus multi-etcd) [example](https://github.com/coreos/matchbox/tree/master/examples/terraform/bootkube-install#optional). You can also checkout https://github.com/coreos/matchbox#projects which are built around Matchbox.

If you have further questions, ping me on IRC or Kubernetes slack (dghubble), I don't want to hijack this issue.

[2017-11-09 05:42] dpoison commented on #8596
Thanks, @dghubble  for your support. We will be in touch with result or errors.

[2017-11-09 06:21] #8838 closed

[2017-11-09 06:44] RayQiQi opened #8847 "etcdv3: Add two new member failed."
Add new members procedure:
1. The initial etcd cluster with 3 nodes is healthy.
2. Re-edit etcd.conf on all the 5 nodes:
ETCD_INITIAL_CLUSTER="node0=http://192.168.3.30:2380,node1=http://192.168.3.31:2380,node2=http://192.168.3.40:2380,node3=http://192.168.3.44:2380,node4=http://192.168.3.45:2380"
3. Edit etcd.conf on the two new added nodes:
ETCD_INITIAL_CLUSTER_STATE="existing"
4. Add new member

[2017-11-09 11:21] dmokhov commented on #8188
No, code won't pick closed watchGrpcStream because (*watcher)closeStream will delete it from streams map.

Thank you.

[2017-11-09 12:07] swestcott commented on #8320
Weak cipher support in etcd was flagged up in a security test on our Kubernetes cluster too. We can reduce the risk via security group controls, but being able to whitelist ciphers would address the root cause.

[2017-11-09 16:45] xiang90 commented on #6464
i have seen this for quite a while, and cannot reproduce it. so closing this for now.

[2017-11-09 16:45] #6464 closed

[2017-11-09 16:45] xiang90 commented on #6934
i have seen this for quite a while, and cannot reproduce it. so closing this for now.

[2017-11-09 16:45] #6934 closed

[2017-11-09 17:44] gyuho commented on #8828
@xiang90

Here's the problem when notifying only healthy addresses (even with gRPC v1.6.x):

1. cluster of A, B, C, where A is the leader
2. balancer with A, B, C
3. notify A, B, C (pinned=="")
4. balancer pins A
5. stop B(follower)
6. stop A(leader)
7. balancer marks A as unhealthy
8. balancer unpins A
9. notify B, C (pinned=="") <=== problem!
10. pin C
11. linearizable Get on C
12. fails due to

[2017-11-09 18:01] xiang90 commented on #8828
@gyuho this is actually ok. retry l-get again or enable keepalive should fix it.

[2017-11-09 18:13] xiang90 commented on #8445
@zyf0330

OK. Now I know why you are confused.

etcd does not try to connect to `example.com`, but it does expect the cert from its peers to have SAN with `example.com` (without the patch) or `*.example.com` (with the patch) when the cluster is bootstrapped with DNS SRV.

The reason for the check is to ensure the DNS SRV discovery is not hijacked to return you domains that has nothing to do with `

[2017-11-09 18:41] gyuho commented on #8828
@xiang90

I believe even retry wouldn't help. In the case above, balancer is stuck in step 18 (when notifying B). Even after A and C get removed from unhealthy, it is still stuck waiting for a new endpoint up.

https://github.com/coreos/etcd/blob/05e5b3b62da78d9fddfb89bf852586049b4bae76/clientv3/balancer.go#L228-L236

And not sure how keepalive would help, when there's no endpoint to ping.

[2017-11-09 18:46] xiang90 commented on #8828
@gyuho well, maybe you accidentally remove the notify loop at https://github.com/coreos/etcd/blob/master/clientv3/health_balancer.go#L153? this is very important, so that when A,C is back, A, C will be sent to gRPC.

[2017-11-09 19:09] gyuho commented on #8828
@xiang90 Good catch!

Indeed, my patch was handling empty pinned address wrong, in that code path. Now test passes. Will run more tests and push a PR.

[2017-11-09 20:03] madhukarreddy2203 commented on #8846
Even i'm facing the same issue can you please fix it ASAP.

![image](https://user-images.githubusercontent.com/30296444/32627025-b7c3f1b0-c556-11e7-8614-fb29e86499d5.png)

[2017-11-09 20:04] gyuho commented on #8846
You need etcd's dependencies.
Have the same dependencies as etcd https://github.com/coreos/etcd/blob/master/glide.yaml in your GOPATH.

Or do

[code]

[2017-11-09 20:04] #8846 closed

[2017-11-09 20:05] gyuho commented on #8846
Or you can try `go get -u` to update dependencies.

[2017-11-09 20:13] madhukarreddy2203 commented on #8846
Still not working .Tried  both options getting same error

[2017-11-09 20:14] gyuho commented on #8846
@madhukarreddy2203 What's the error message when you run `go build -v ./cmd/tools/benchmark`?

[2017-11-09 20:15] madhukarreddy2203 commented on #8846
The same above screenshot which i posted

[2017-11-09 20:15] gyuho commented on #8846
@madhukarreddy2203 Please provide full reproducible step.

[2017-11-09 20:15] madhukarreddy2203 commented on #8846
FROM golang:1.8
ENV GOPATH /go
ENV PATH $GOPATH/bin:/usr/local/go/bin:$PATH
RUN export PATH="/usr/local/go/bin:$PATH";\
go version

RUN mkdir -p "$GOPATH/src" "$GOPATH/bin" && chmod -R 777 "$GOPATH"
WORKDIR $GOPATH/src

# Installing bechmark tool
RUN go get github.com/coreos/etcd/tools/benchmark
WORKDIR $GOPATH/src/github.com/coreos/etcd/tools/benchmark
RUN  go build -o benchmark

#Checking if ben

[2017-11-09 20:16] gyuho commented on #8846
You are not running `go build -v ./cmd/tools/benchmark` ...

[2017-11-09 20:17] madhukarreddy2203 commented on #8846
@gyuho Can you fix the above dockerfile .

[2017-11-09 20:17] gyuho commented on #8846
@madhukarreddy2203 Just git clone etcd and `go build -v ./cmd/tools/benchmark` from etcd repo root.

[2017-11-09 20:22] gyuho commented on #8846
And use Go 1.9+

[2017-11-09 20:33] madhukarreddy2203 commented on #8846
![image](https://user-images.githubusercontent.com/30296444/32628268-e1a5f57e-c55a-11e7-819b-e225efd76cb8.png)

Error for below dockerfile
FROM golang:1.9
ENV GOPATH /go
ENV PATH $GOPATH/bin:/usr/local/go/bin:$PATH
RUN export PATH="/usr/local/go/bin:$PATH";\
go version

RUN mkdir -p "$GOPATH/src" "$GOPATH/bin" && chmod -R 777 "$GOPATH"
WORKDIR $GOPATH/src

# Installing bechmark tool
RUN go get git

[2017-11-09 20:34] gyuho commented on #8846
@madhukarreddy2203 Try `go install` then. `go build` just outputs binary to your working directory.

[2017-11-09 22:23] gyuho commented on #8793
@dchambon Ping?

[2017-11-09 22:23] gyuho commented on #8788
@cristifalcas Ping?

[2017-11-09 22:27] gyuho commented on #8847
Your `ETCD_INITIAL_CLUSTER` doesn't match with `bvnf-demo-app-5`. And after adding the first member, did you start the new etcd member? And did it start fine?

[2017-11-09 22:30] madhukarreddy2203 commented on #8846
![image](https://user-images.githubusercontent.com/30296444/32632983-486a4944-c56b-11e7-85cf-ea38e6af609e.png)

[2017-11-09 22:30] madhukarreddy2203 commented on #8846
@gyuho
![image](https://user-images.githubusercontent.com/30296444/32632996-56d1377c-c56b-11e7-8b13-4d0e842725e8.png)

[2017-11-09 22:34] gyuho commented on #8846
@madhukarreddy2203 Did you try git clone and build from repo root?

[2017-11-09 22:37] madhukarreddy2203 commented on #8846
FROM debian:latest

ENV DEBIAN_FRONTEND=noninteractive

RUN apt-get update && apt-get install --no-install-recommends -y \
    curl \
    git

# Instaling golang
RUN curl -s https://storage.googleapis.com/golang/go1.9.2.linux-amd64.tar.gz | tar -v -C /usr/local -xz

ENV GOPATH /go
ENV GOROOT /usr/local/go
ENV PATH /go/bin:/usr/local/go/bin:/usr/local/sbin/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bi

[2017-11-09 22:39] madhukarreddy2203 commented on #8846
FROM debian:latest

ENV DEBIAN_FRONTEND=noninteractive

RUN apt-get update && apt-get install --no-install-recommends -y \
    curl \
    git

# Instaling golang
RUN curl -s https://storage.googleapis.com/golang/go1.9.2.linux-amd64.tar.gz | tar -v -C /usr/local -xz

ENV GOPATH /go
ENV GOROOT /usr/local/go
ENV PATH $GOPATH/bin:/usr/local/go/bin:$PATH
RUN export PATH="/usr/local/go/bin:$PATH" \

[2017-11-09 22:41] gyuho commented on #8846
@madhukarreddy2203

This is not git clone.
And that `gcc` error is not etcd issue.

[2017-11-09 22:43] gyuho commented on #8846
Also check https://github.com/coreos/etcd/blob/master/Dockerfile-test.
And try `make compile-with-docker-test -f ./hack/scripts-dev/Makefile` from repo root, if you need other references that work.

[2017-11-10 01:12] madhukarreddy2203 commented on #8846
Finally built image..Is there any document some where to use benchmark tool. How it works.

[2017-11-10 01:13] gyuho commented on #8846
https://github.com/coreos/etcd/blob/master/Documentation/op-guide/performance.md

[2017-11-10 01:16] madhukarreddy2203 commented on #8846
Is there any other some other tool to perform some load testing on k8 etcd cluster?

[2017-11-10 01:19] gyuho commented on #8846
@madhukarreddy2203 See https://github.com/kubernetes/kubernetes/tree/master/cluster/kubemark.

[2017-11-10 01:23] madhukarreddy2203 commented on #8846
I want some thing for coreos @gyuho

[2017-11-10 01:24] madhukarreddy2203 commented on #8846
@gyuho And i didn't find any proper documentation how to use it.

[2017-11-10 01:28] gyuho commented on #8846
I do not understand this.

And what are you trying to do with etcd, since now you are asking how to run kubernetes and kubemark, which is clearly outside of this project scope.

For kubernetes, please see https://kubernetes.io/community/.

[2017-11-10 01:30] gyuho commented on #8846
And I have some experience with running kubemark but do not want to discuss it here.

See https://github.com/kubernetes/kubernetes/tree/master/test/kubemark or ping me on kubermetes slack community.

[2017-11-10 01:32] zyf0330 commented on #8445
I don't understand above explanation.

When etcd get domain like `1.example.com` from DNS SRV of `example.com`, if it think `*.example.com` is valid, why it thinks this situation is invalid that `1.example.com` domain has `1.example.com` cert ? I just don't know how it decides and where code related to this function is?
And if etcd gets domain `1.example2.com` with matching cert `1.example2.com` o

[2017-11-10 01:38] xiang90 commented on #8445
It has nothing to do with etcd, but how TLS works in general.I would suggest you to learn how it works at this point.

[2017-11-10 01:42] zyf0330 commented on #8445
Can you tell me where code is about how to decide domain from DNS SRV is valid?

[2017-11-10 02:28] RayQiQi commented on #8847
I can not start the new etcd member. the first one always can be added, but the health check show it is unreachable and can not start service, the second one can not be added.
-----------------------------------------------
ETCD_INITIAL_CLUSTER="node0=http://192.168.3.30:2380,node1=http://192.168.3.31:2380,node2=http://192.168.3.40:2380,bvnf-demo-app-4=http://192.168.3.44:2380,node4=http://192.168

[2017-11-10 03:17] zyf0330 commented on #8445
I just see some code and learn something. When use **DNS Discovery** mode, `cfg.PeerTLSInfo.ServerName` is set as `"*." + cfg.DNSCluster` (with the patch), and is used by all peers url. If use **Static Discovery**, every peer url uses their self domain matchs cert.
So this is my thought:
- I know matching cert is not thing of etcd, but etcd set ServerName of TLSInfo for them.
- I don't see more co

[2017-11-10 05:42] gyuho commented on #8847
When you start the new member after this, initial cluster count should be 4, not 5.
You are starting with initial cluster flag of 5, when you only added 1.

[2017-11-10 05:42] #8847 closed

[2017-11-10 05:44] HYmian commented on #2992
I want to know this too

[2017-11-10 06:22] RayQiQi commented on #8847
Looks like that if I edit the initial cluster count to 5 on the new added two members and then add member and start service one by one will fail.
First edit the initial cluster count to 4, add member and start service, success.
Second edit the initial cluster count to 5 on the other node, add member and start service, success.
Thanks very much.

[2017-11-10 07:03] cristifalcas commented on #8788
The command is:

    SSL_OPTS="--cacert=/etc/kubernetes/pki/ca.crt --cert=/etc/kubernetes/pki/client.crt --key=/etc/kubernetes/pki/client-key.pem --endpoints=$(hostname):2379"
    ETCDCTL_API=3 etcdctl $SSL_OPTS endpoint health

[2017-11-10 07:04] cristifalcas commented on #8788
etcd is inside a kubernetes pod with hostnetwork

[2017-11-10 14:56] dchambon commented on #8793
Hi @gyuho ,

Sorry for the late reply. I manage to have my ETCD v3 cluster working. I actually changed the configuration to use the discovery mecanism and then it works.
I close the issue, thanks !

[2017-11-10 14:56] #8793 closed

[2017-11-10 19:19] gyuho opened #8852 "CI with static analysis to find naked returns"
Integrate https://github.com/alexkohler/nakedret into our test script and CI

[code]

[2017-11-10 20:03] fanminshi commented on #8472
@danielfm any updates on this? are you still seeing the same issue?

[2017-11-10 20:04] #8729 closed

[2017-11-10 20:09] danielfm commented on #8472
@fanminshi I'm now running etcd v3.2.9, but the behavior remains the same.

[2017-11-10 20:11] fanminshi commented on #8472
@danielfm could you show me how to reproduce this issue ? it will be nice if i can reproduce this myself so that I can help you on to debug this.

[2017-11-10 20:32] danielfm commented on #8472
@fanminshi Sure.

As described previously, my etcd cluster was created by [kube-aws](https://github.com/kubernetes-incubator/kube-aws/), a tool originally authored by CoreOS. This is the `cluster.yaml` file (slightly redacted to remove some things specific to my environment, like Security Group IDs, DNS names, and CIDRs), that I'm currently using to create the Kubernetes + etcd cluster that exhibi

[2017-11-10 21:08] fanminshi commented on #8472
@danielfm from previous provided`RPC calls per second.` graph, I saw that there were around 80 range requests per second. Those are from API sever right? and How many nodes are you running in the kubenetes cluster?

[2017-11-10 21:15] danielfm commented on #8472
At the time, the number was between 10-20 worker nodes (m4.large), for 2 controllers (m3.large) and 3 etcd instances (m3.large).

Currently, I'm running 58 nodes (m4.xlarge), for 4 controllers (m4.xlarge), and 3 etcd instances (m4.large), but the memory usage pattern is the same.

[2017-11-10 22:45] fanminshi commented on #8472
@danielfm  yea, if you can you send the updated graphs. it will be great. specifically, i want to see memory usage pattern and gc rate.

[2017-11-10 23:03] gyuho opened #8854 "clientv3: backport balancer fixes to v3.2"
To cover https://github.com/coreos/etcd/issues/8711 and include gRPC fixes.
Rather than cherry-picking, just copy over new client code with integration tests.

/cc @jpbetz

[2017-11-10 23:41] #8828 closed

[2017-11-10 23:50] gyuho opened #8855 "gRPC v1.7.2 is racey between tearDown and create sub-connection"
[code]

Will close when upgrading gRPC to v1.7.3

c.f. https://github.com/grpc/grpc-go/issues/1662, https://github.com/grpc/grpc-go/pull/1665

[2017-11-11 01:42] gyuho opened #8856 "test: coverage tests fail"
https://github.com/coreos/etcd/blob/75c7e62dc7ce9a4cc2c7ace8f596e8384d779d36/test#L189-L194

[code]

[2017-11-11 02:28] jpbetz commented on #8854
Approach sounds reasonable.

[2017-11-11 03:12] #8852 closed

[2017-11-11 06:23] gyuho opened #8859 "test: TestSetEndpointAndPut"
https://jenkins-etcd-public.prod.coreos.systems/job/etcd-proxy/3399/console

[code]

[2017-11-11 07:53] zyf0330 opened #8860 "etcdv3 client has no ErrClusterUnavailable"
I see a problem in my product server.
When I use confd with etcdv2 go client, it often logs err info from `ErrClusterUnavailable` and **watch monitor** can resume. But when I use it with etcdv3 client, it nevers log error info, and **watch monitor** will feign death after a period of time.
Definitely there is network stability problem around server. I notice that keepalive is in master but not rel

[2017-11-11 10:31] danielfm commented on #8472
Data from the last 12h from all three instances.

`increase(go_gc_duration_seconds_count{job="etcd"}[2m])`
![image](https://user-images.githubusercontent.com/29534/32688571-8f1fd750-c6ba-11e7-9737-0b9ca2c3fc01.png)

`sum(process_resident_memory_bytes{job="etcd"}) by (instance)`
![image](https://user-images.githubusercontent.com/29534/32688578-b6d0a900-c6ba-11e7-9d11-05aff875c7d4.png)

[2017-11-12 02:43] xiang90 commented on #8568
fixed by #8751

[2017-11-12 02:43] #8568 closed

[2017-11-12 06:01] #8856 closed

[2017-11-12 07:52] xiang90 opened #8862 "keep CI runs under 10 minutes"
Now CI takes ~30 minutes to finish. This impacts the developer experience and affects productivity. We should run tests in parallel, and remove unnecessary internal waits to significantly decrease CI run duration.

[2017-11-12 12:43] aceqbaceq commented on #8169
in my case i got the error

rafthttp: request cluster ID mismatch (got 1b3a88599e79f82b want b33939d80a381a57)

due to incorrect config on one node

two my nodes got in config

env ETCD_INITIAL_CLUSTER="etcd-01=http://172.16.50.101:2380,etcd-02=http://172.16.50.102:2380,etcd-03=http://172.16.50.103:2380"

and one node got

env ETCD_INITIAL_CLUSTER="etcd-01=http://172.16.50.101:2380"

to resolve th

[2017-11-12 18:06] majewsky opened #8863 "etcd 3.2.9 crashes when $ETCD_HEARTBEAT_INTERVAL is not a valid integer literal"
I'm trying to spin up an etcd cluster (with 2 members for now) and upon starting the latest etcd (3.2.9) on the first node, it immediately crashes (as seen in the log excerpt below). The platform is Arch Linux x86_64:

[code]

Excerpt from `journalctl -u etcd.service`, with pseudonymized hostnames and IP addresses:

[code]

For your reference, the systemd unit definition:

[code]

The contents of

[2017-11-12 18:31] majewsky commented on #8863
Okay, the problem was that I had this in `/etc/conf.d/etcd`:

[code]

Which systemd misinterpreted as:

[code]

And etcd did not complain about these values; it apparently reset the corresponding variables to 0 instead and then divided by zero.

[2017-11-13 02:45] NStanleyZhang commented on #8847
I have a question here. Why ETCD report below error if we run “etcdctl member add” to increase two ETCD server to a 3-member cluster? BTW, The cluster is healthy without starting fourth node.
##################
etcdctl --endpoints http://192.168.3.30:2379 member add bvnf-demo-app-5 http://192.168.3.45:2380
client: etcd cluster is unavailable or misconfigured; error #0: client: etcd member http://1

[2017-11-13 04:01] zyf0330 commented on #7941
Does etcdv3 go client have this option?

[2017-11-13 08:09] KeithTt opened #8864 "how to list all the directories with API3?"
etcd version: 3.2.9

as the title...is there any method to list all the dirs like `etcdctl ls`?

[2017-11-13 08:33] bruceauyeung opened #8865 "waitMembersMatch hangs"
i am trying compile Kubernetes 1.6.9 based on Go 1.9.1
when run `make test WHAT=./federation/registry/cluster/etcd`, it panics after hanging 2 minutes
i add some logs and find waitMembersMatch method don't quit in 2 minutes
here is my logs( lines starting with \@@@@ is logs i added):

[code]

Launch function in file  `github.com/coreos/etcd/integration/cluster.go`
[code]

waitMembersMatch method c

[2017-11-13 09:01] bruceauyeung commented on #8865
@gyuho

[2017-11-13 16:45] gyuho commented on #8865
This unix address format looks super old.
What version of etcd are you running?

[2017-11-13 16:50] gyuho commented on #8864
There's no directory hierarchy in v3 API.
See https://github.com/coreos/etcd/blob/master/etcdctl/README.md#examples-1.

[2017-11-13 16:50] #8864 closed

[2017-11-13 17:10] bruceauyeung commented on #8865
IIRC, etcd 2.1.17

[2017-11-13 17:26] KeithTt commented on #8864
@gyuho thanks!

[2017-11-13 17:48] gyuho commented on #8865
@bruceauyeung Can you print out the errors after `ms, err := ma.List(ctx)`?

[2017-11-13 22:34] fanminshi commented on #8472
@danielfm  thanks for the data. could you elaborate `go_gc_duration_seconds_count`. I don't quite understand the meaning of y axis. is it the number of gc calls per two minutes?

[2017-11-13 23:23] bruceauyeung commented on #8865
err is similar with  : server is misconfigured or unavailable
ms : []

[2017-11-13 23:29] danielfm commented on #8472
@fanminshi I updated the graphs, the first one is now the GC rate per second.

[2017-11-14 03:32] gyuho commented on #8865
This is clear. Your cluster is misconfigured?

[2017-11-14 10:06] redbaron commented on #8472
AFAIK Go GC triggers at  2x heap size, which pretty much matches what we see on graphs. Question  is why it wasn't like that before

[2017-11-14 14:00] bruceauyeung commented on #8865
I'm compiling Kubernetes code. compiling with Go 1.8 and `make test WHAT=./federation/registry/cluster/etcd` can pass, but compiling with Go 1.9 and then `make test WHAT=./federation/registry/cluster/etcd`  will fail. I checked the test codes , Kubernetes test codes just wanna launch an embeded etcd server by by invoking `integration.NewClusterV3(t, &integration.ClusterConfig{Size: 1})`

plz see h

[2017-11-14 14:24] perrefe commented on #8169
One of my nodes has an ETCD_INITIAL_CLUSTER with one node less, that's because it was added before the third node, let me stop on this: when a new member Is added, is necessary to reconfigure ETCD_INITIAL_CLUSTER for all active members?.

Anyway, I edited that variable and restarted etcd, obtaining the same result. The difference here is that I don't delete /var/lib/etcd/member folder because it h

[2017-11-14 16:13] xiang90 commented on #8472
@redbaron

The memory usage is the total use of the machine (RSS), not just etcd. There is the baseline usage of the system itself.

Thus, I suspect etcd memory usage grows from 3.1.x to 3.2.x, so that its spike is more visible.

[2017-11-14 16:41] bdhess commented on #8445
@xiang90 sorry for the delay in my reply-- I support reverting #8651

[2017-11-14 16:59] fanminshi commented on #8472
@danielfm could you explain the y-axis of the graph`sum(process_resident_memory_bytes{job="etcd"}) by (instance)
`? is it RSS of the entire system like xiang said or it is the RSS of etcd process?

[2017-11-14 17:03] xiang90 commented on #8472
@fanminshi

just to be clear, I am talking about the 1st graph in the thread. some other graph has the etcd tag on it.

[2017-11-14 17:06] danielfm commented on #8472
Yes, I believe the graph plots the RSS of the entire system.

Querying only Golang metrics (same period as previous graphs):

`go_memstats_heap_alloc_bytes{job="etcd"}`
![image](https://user-images.githubusercontent.com/29534/32793470-23b37310-c94d-11e7-8f5d-e867749dc122.png)

[2017-11-14 17:14] fanminshi commented on #8472
@danielfm thanks for the clarification. @xiang90 you assumption is correct.

 let's focus on etcd consumption only.
Could you also plot graphs for `HeapReleased`, `Mallocs`, `Frees`, and `Sys` as described here https://golang.org/src/runtime/mstats.go?s=6236:15651#L149?

[2017-11-14 17:24] danielfm commented on #8472
`go_memstats_heap_released_bytes_total{job="etcd"}`
![image](https://user-images.githubusercontent.com/29534/32794208-556c0c3a-c94f-11e7-969e-6d749383247e.png)

`rate(go_memstats_mallocs_total{job="etcd"}[1m])`
![image](https://user-images.githubusercontent.com/29534/32794278-7e15c6c6-c94f-11e7-9713-e901bbe23af0.png)

`rate(go_memstats_frees_total{job="etcd"}[1m])`
![image](https://user-images.git

[2017-11-14 21:00] juliole opened #8870 "old K8s POD IP on peer check after etcd redeployment"
We have etcd 3.1.6 installed as k8s stateful set.
After we  uninstalled etcd,  deleted PVs and reinstalled, we got  the following error on the etcd PODs, and the error had the old POD IPs:
check for peer 110df71582ea3c23 could not connect: dial tcp 10.32.0.35:2380: getsockopt: connection refused

I had to delete the persistence folders and redeploy etcd to get it resolved. Is it the expected behav

[2017-11-14 21:23] gyuho opened #8872 "pkg/fileutil: TestZeroToEnd fails on mac"
Just `go test -v` with Go 1.9.2

[code]

[2017-11-14 21:53] gyuho commented on #8863
Can reproduce `ETCD_HEARTBEAT_INTERVAL="100 # ms" etcd`

[code]

Environment variable parsing should be fixed.

[2017-11-14 22:14] gyuho commented on #8870
Your data is gone. If this node reboots and tries to rejoin the cluster, it should fail.
You need to manually reconfigure the cluster to add this node.

I do not understand this?

[2017-11-14 22:17] gyuho commented on #8865
etcd master branch requires Go 1.9, but you are running `etcd 3.0.17`, so it should fail.
Do you have error logs while compiling? Or try with Go 1.6.

[2017-11-14 22:17] gyuho commented on #8865
Also this is not an etcd issue. Closing.

[2017-11-14 22:17] #8865 closed

[2017-11-14 23:50] juliole commented on #8870
I had to delete the persisted data because it had information about previous POD IPs. See that the  log says "**10.32.0.35:2380: getsockopt: connection refused**", but it was not  the IP of any of the etcd pods. Why the list of pods did not get refreshed with redeployment?

Why etcd has the peer IPs and persists it when etcd is redeployed. I was expecting the list to get refreshed with the new pod

[2017-11-15 00:01] #8855 closed

[2017-11-15 00:53] gyuho commented on #8870
Are you running etcd on top of Kubernetes, as stateful sets? Still, if your pod and data are gone, you need to reconfigure the cluster to add a new pod. And this is what etcd operator does.

https://github.com/coreos/etcd-operator

[2017-11-15 00:53] #8870 closed

[2017-11-15 01:22] luomiao opened #8875 "etcdctl lock --ttl unknown flag"
Hi,

I am trying out the ttl flag for etcdctl lock command. According to PR #8370, etcdctl should have a "--ttl" option to setup the timeout for session:
[code]

However after I downloaded v3.2.9 etcdctl, on either mac or linux I got the same complain of unknown flag:
[code]

Anyone has any idea why this flag is disappeared with v3.2.9?
I think this PR is merged into master branch in August, while

[2017-11-15 01:24] gyuho commented on #8875
It has not been released (ref https://github.com/coreos/etcd/pull/8370).
It will be shipped in 3.3 releases early next year.

[2017-11-15 01:34] #8875 closed

[2017-11-15 03:39] juliole commented on #8870
I think the steps are not clear. Let me try to clarify:
- have a etcd stateful set controller with data on Persistent Volumes (PVs)
- uninstall the etcd stateful controller and PVs via kubectl delete
- install a new etcd stateful controller and PVs
- pods on the new controller will have "check for peer" errors because they will be checking old pods IPs that were already deleted
- My assumption is

[2017-11-15 06:44] akd31 opened #8876 "Couldn't add new member to cluster"
etcd version 3.2.7

I have 3 node etcd cluster. One of my nodes is corrupted and I am trying to replace this. Since restart doesn't help (data is corrupted) I removed data folder then I removed the node from cluster.

I added new node to cluster via etcdctl. However, it remains unstarted on member list and when I start the node it  logs repeatedly

E | rafthttp: failed to find member <node1Id> in

[2017-11-15 06:59] zyf0330 commented on #8585
After read source code, I know that `0` and `1` are just temp name and after get cluster response while DNS Discovery process they will be right. So this is duplicate issue of #8445.

[2017-11-15 09:14] cumirror opened #8877 "The event in requested index is outdated and cleared"
Hi,

I'm not sure this is a problem since there are some issues similarly such as:
https://github.com/coreos/etcd/pull/8240
https://github.com/coreos/etcd/issues/587

my etcd server version is 3.1.0, and Git SHA: 8ba2897, and etcd cluster has three nodes.

I use etcd between several components for communication.
There are about 200~300 components which would send(use 'set' option) heartbeat to etc

[2017-11-15 16:29] jocado opened #8881 "etcd-proxy client connections not closed properly with 3.2.x if watcher exits"
I'm seeing this on Ubuntu `16.04`, kernel `4.4.0`, etcd `3.2.9` from github.
3 node etcd cluster, with proxies configured on other nodes for some clients.
All v2 API

If I create some structure that looks like this:

etcdctl get /test/foo/bar

[2017-11-15 17:44] gyuho opened #8883 "coverage: goroutine leaked"
[code]

https://jenkins-etcd-public.prod.coreos.systems/job/etcd-coverage/2930/consoleFull

[2017-11-15 18:55] mentalblock opened #8885 "grpc: timed out when dialing"
I am running a 3-node cluster of etcd version 3.2.7. The commandline parameters and environment variables are as follows:

[code]

[code]

Using the v2 API with curl confirms that 127.0.0.1:2379 operates normally.

[code]

I get an error when trying to check the cluster health and this is the error I received. Please advise. Thanks.

[code]

[2017-11-15 21:05] pldmgg commented on #8814
Any news on this? From @wwyiwzhang 's comment, it seems like we use v2's `exec-watch` similarly.

I'm not sure I quite follow the `lock` example either...

[2017-11-15 21:17] gyuho commented on #8814
@pldmgg Currently, we don't have bandwidth to add this feature. Contributions are welcome!

[2017-11-15 22:30] gyuho commented on #8445
@bdhess @zyf0330 We've reverted that change in https://github.com/coreos/etcd/pull/8884.
And plan to publish another patch release with it, sometime next week.

[2017-11-15 22:30] #8445 closed

[2017-11-16 01:31] gregory-lyons commented on #8320
We have seen the same thing flagged in security tests - whitelist of ciphers would be a very helpful feature 👍

[2017-11-16 11:02] swapnilgm opened #8888 "Incremental snapshot support"
I was wondering, is there any incremental snapshot support for etcd? I don't see any command on `etcdctl` for same as of now. For use cases where one requires regular snapshots of etcd for backup purpose, having same data as part of multiple full snapshots is really costly from storage point of view.
It would be nice to have this feature. Do you already have any plan for this?

As far as my invest

[2017-11-16 13:36] mthenw commented on #8778
That works, thanks!

[2017-11-16 13:36] #8778 closed

[2017-11-16 15:33] PleaseTakeItEasy opened #8890 "Cluster-health changes status every second"
We had a storage issue come up recently. It corrupted the .wal files on two hosts. This isn't product so it wasn't a big deal so I just shutdown the etcd on the one working node. On each node I deleted the directory in /var/lib/etcd called default and after the service started on all hosts. Now when I do etcd cluster-health one second it will give me an output like
member b45eeda590aaa3de is healt

[2017-11-16 16:51] mvdan commented on #8068
I have been improving the tool the past couple of weeks, and I've been using `etcd` as one of the sources for ideas on how to improve.

Last week, the number of warnings was upwards of 100. Now, it's down to 31:

[code]

Except the `*Agent` ones which seem a bit weird, the rest all look like real warnings to me.

Whether or not the signature of exported funcs can be changed is a different aspect -

[2017-11-16 17:42] #8125 closed

[2017-11-16 17:43] gyuho commented on #8125
We've just changed `/v3alpha` to `/v3beta` in master branch, while keeping `/v3alpha` endpoints with HTTP redirects. Will be included in our upcoming 3.3 release.

[2017-11-16 18:12] #8854 closed

[2017-11-17 03:56] seven-eleven opened #8892 "put failed with clientv3 after changed etcd serving port, error: Server.processUnaryRPC failed to write status: stream error: code = DeadlineExceeded"
Hi, i have an etcd cluster with two node. When **i changed client port from 2379 to 4001, deleted all the files under wal directory, and reloaded the cluster**, I met the ploblem: **I cann't use clientv3 to put kye/value into etcd**!

etcdctl input:(ETCDCTL_API=3)
```etcdctl --endpoints=http://127.0.0.1:4001 put test3 yyyy  ```

ectdctl output: (ETCDCTL_API=3)
```Error:  context deadline exceeded`

[2017-11-17 04:30] seven-eleven commented on #8892
Update etcd to 3.2.10, the error log is:
```transport: http2Server.HandleStreams failed to read frame: read tcp 127.0.0.1:4001->127.0.0.1:43715: read: connection reset by peer```

[2017-11-17 04:32] xiang90 commented on #8892
why do you destroy the cluster? why do you expect etcd continue to work after you destroy it?

[2017-11-17 06:24] seven-eleven commented on #8892
THX @xiang90
Clientv2 works. I can set & get key/value with v2 api in the situation.

I just want to restart the etcd cluster. What can i do if i want to restart an etcd cluster properly?  And i will be very happy to know why this happened to v3 api.

[2017-11-17 07:00] xiang90 commented on #8892
you should not remove the wal file or touch anything in the data dir.

v3 read and v2 read are different by default. v3 read will need the quorum to be available to succeed.

[2017-11-17 07:00] #8892 closed

[2017-11-17 19:54] raoofm commented on #8797
@xiang90 @hongchaodeng any progress here?

[2017-11-19 13:48] Colstuwjx commented on #8892
wal means write ahead log, I don't think it should maintain something about quorum or leader election etc, we can accept that 'removing wal means some data lost', but it's not reasonable that we faced broken cluster while removed the wal data.

As I known, consul has raft.json, which indicates the cluster peers, does etcd has such configuration file in wal or others?

[2017-11-19 15:58] xiang90 commented on #8892
etcd does not allow a member to start if the wal is corrupted or a data lost is detected. That is a fundamental goal of etcd. Silent data loss is not acceptable in etcd.

If you have different requirement, do not use etcd.

[2017-11-20 17:43] Markbnj commented on #5154
Are there any kubernetes-releated edge cases that might cause this? We have an etcd cluster running in kubernetes 1.8 on Google Container Engine. The cluster was created and is maintained by etcd-operator. We were trying to diagnose an error `EtcdEventIndexCleared: The event in requested index is outdated and cleared : the requested history has been cleared ` (I believe it is unrelated but mention

[2017-11-20 21:27] luxas commented on #8632
+1, I would really like to have this as an etcd Go client consumer in a Kubernetes project

[2017-11-20 22:19] gyuho commented on #8890
Can you provide server logs?

How did you do this? Do you mean you stop etcd server, delete data, restart cluster?

[2017-11-20 22:20] gyuho commented on #8885
You still need `--cert` and `--key` flags to `etcdctl` command.

[2017-11-20 22:20] #8885 closed

[2017-11-20 22:22] gyuho commented on #8876
How did you restart the node (the member that's being added)?

[2017-11-20 22:27] gyuho commented on #8877
We don't know what your `./monitor` script does.

Please provide full reproducible step (preferably with master branch).

[2017-11-21 01:05] fanminshi commented on #8472
## Problem

There is a spiky memory RSS pattern when upgrading from etcd 3.1.x to 3.2.x.
We saw a similar pattern from etcd's own kubemark test where the kubemark simulates kubernete workload against etcd.

![kubetmark 001](https://user-images.githubusercontent.com/4983345/33048826-bf5fc782-ce11-11e7-8781-bd6dcc907936.png)

The first third shows RSS pattern for etcd Version: 3.1.10 compiled with G

[2017-11-21 01:05] fanminshi commented on #8472
Closing this since the behavior is expected. Please reopen if you have any questions!

[2017-11-21 01:05] #8472 closed

[2017-11-21 04:46] akd31 commented on #8876
I cleared data folder and start with these env variables:
ETCD_NAME=etcd-2
ETCD_DATA_DIR=/var/lib/etcd-data
ETCD_LISTEN_PEER_URLS=http://0.0.0.0:2380
ETCD_LISTEN_CLIENT_URLS=http://0.0.0.0:2379
ETCD_INITIAL_ADVERTISE_PEER_URLS=http://10.0.0.91:32048
ETCD_ADVERTISE_CLIENT_URLS=http://10.0.0.91:31250
ETCD_INITIAL_CLUSTER=etcd-1=http://10.0.0.91:30301,etcd-2=http://10.0.0.91:32048,etcd-3=http://10.0.

[2017-11-21 04:59] cw9 opened #8899 "Watchers not getting updates"
etcd Version: 3.2.4
Git SHA: c31bec0
Go Version: go1.8.3
Go OS/Arch: linux/amd64
Client version: 8ba2897a21e4fc51b298ca553d251318425f93ae

We are currently running a 5 node etcd cluster with 200k+ watchers, we have been rarely writing to the cluster. Today when we updated the value of a key, less than 1% of all the watchers did not receive the update, this is not the first time we observed this is

[2017-11-21 05:48] mitake commented on #8826
@gyuho I tried to eliminate context styled parameter passing from etcdserver to auth, but found that it is quite useful for `LeaseRevoke()`: https://github.com/coreos/etcd/blob/master/etcdserver/server.go#L772-L775 . Probably employing a newly defined struct instead of context requires lots of hard to follow changes. I'll replace the string typed keys of the existing contexts for following the cor

[2017-11-21 05:55] mkumatag opened #8900 "go fmt fails for gotip"
go fmt fails for gotip version, here is the error what we are hitting:

[code]

build link in CI - https://travis-ci.org/coreos/etcd/jobs/305028639

[2017-11-21 05:56] mkumatag commented on #8900
@gyuho

[2017-11-21 06:25] #8900 closed

[2017-11-21 07:54] #8826 closed

[2017-11-21 08:15] danielfm commented on #8472
@fanminshi Thank you for the detailed analysis.

[2017-11-21 15:58] xiang90 commented on #8899
We know there were some issues with clientv3 balancer that might cause the clients to be pending on bad connections.

We just released 3.2.10 to fix the client side issues we found.

However, we are not sure why you see `read: connection timed out` or `read: connection reset by peer`.

My suggestion is:

1. try hard to reproduce the problem
2. try to upgrade to 3.2.10 to see if it would solve the

[2017-11-21 16:00] xiang90 commented on #8899
maybe the connection set a timeout? and when notified, the read/write timeout already hit? what is the client configuration you use? i think you can easily reproduce this issue with a simple server and client.

[2017-11-21 16:34] xichen2020 commented on #8899
Thank you for the suggestions. We could try upgrading the clients to 3.2.10. Would it be necessary to upgrade the servers to 3.2.10 as well?

The `read: connection reset by peer` error is a red herring, it's primarily because client processes restarting.

I don't think we explicitly set a timeout on the connections, otherwise I'd imagine the client should get a watch error when the connection time

[2017-11-21 18:05] gyuho commented on #8876
@akd31 The newly added member must be started with `--initial-cluster-state existing`

[2017-11-21 18:05] #8876 closed

[2017-11-21 18:07] gyuho commented on #8860
You can use Session.

We've added HTTP/2 keepalive and client balancer health checking.
Once stabilized, it will be released in v3.3.

https://github.com/coreos/etcd/issues/8615#issuecomment-332432044

[2017-11-21 18:07] #8860 closed

[2017-11-21 18:25] xichen2020 commented on #8899
Just checked and verified that the reason why the goroutine was only blocked for a few minutes in the clients that did get the update was because we enabled "WithProgressNotify", so the well-behaved clients got notified approximately every 10 minutes even though there was no key/value updates in etcd.

It seems the ill-behaved clients didn't get any notification updates since the etcd server it wa

[2017-11-21 18:37] xiang90 commented on #8899
It is mostly a client-side issue. You also need to update gRPC dependencies to 1.7.3. It would be great if you can update the server though.

Right. There was a problem in the previous gRPC balancer implementation. I am not 100% sure the exact problem you hit is resolved. Thus, if you can reproduce it, we would like to take a look.

One thing I would suggest you look at is the slow watcher and wat

[2017-11-21 18:47] xichen2020 commented on #8899
Cool, we'll try upgrading the client and the server to 3.2.10 and perform the same operation that triggered this issue. I don't know how difficult it is to repro this locally since I'm not sure what condition triggered the server-side "read: connection timed out" error, which appeared to be the direct cause of this issue (?), and since not all clients are affected, i'd think it might be non-determ

[2017-11-21 18:48] xiang90 commented on #8899
@xichen2020 Great. We will also look into the problem in the next couple of days after thanks giving.

[2017-11-21 18:54] #8798 closed

[2017-11-21 18:56] xichen2020 commented on #8899
I think the ill-behaved clients are still connected to the etcd servers (at least the connections are established in netstat). If it's the stream that's leaked but both sides are still connected, I don't think keepalives are going to help us in this particular case.

[2017-11-21 21:02] xiang90 commented on #8899
Possibly. It is also possible that the connection, the gRPC stream are all closed correctly, but the logical stream in client library fails to get closed.

[2017-11-21 21:33] xiang90 commented on #8899
@cw9 @xichen2020

One quick question: are all the watchers on the same client blocked forever or just some of the watchers in the same client?

[2017-11-21 21:34] xichen2020 commented on #8899
All the watchers on the same client are blocked forever. No key value updates can be propagated to that client.

[2017-11-22 01:55] zyf0330 commented on #8860
I have found code about keepalive, it works indeed. Can you tell me where client balancer health checking is?

[2017-11-22 04:50] akd31 commented on #8876
Thank you @gyuho It works.

[2017-11-22 07:01] gyuho commented on #8860
https://godoc.org/github.com/coreos/etcd/clientv3#Config

Just configure `DialKeepAliveTime` and `DialKeepAliveTimeout` (available in v3.2.10)

[2017-11-22 10:38] NikSmith opened #8903 "Crytical problem: type codec.encDriver has no fields or methods"
# Bug reporting

Hi, I'm using viper for my project, and it includes etcd.
After a recent update, it stopped working and gives an error related to etcd.

For more information:
![image](https://user-images.githubusercontent.com/6698935/33120566-82532bc2-cf83-11e7-98de-50261340c6ff.png)

[2017-11-22 11:12] zbindenren opened #8904 "gRPC v1.7.3 transport "panic: send on closed channel" on *serverHandlerTransport"
Hi

Similar to #8595 we still get a panic with v3.2.10. Here the log:

[code]

[2017-11-22 15:16] gyuho commented on #8904
Can you share the full stack trace?

[2017-11-22 16:36] mwf opened #8905 "etcd 3.2.10 client Keepalive params"
Hi, guys :)

First of all, thanks for releasing 3.2.10! It's a huge step towards reliability and stability of etcd-based systems :) Waited so long and finally it happened!

I've made some tests of 3.2.10 release and I have several questions around it:

1. As I discovered, new 3.2.10 client with enabled DialKeepAlives works great with older servers versions - I've tested with 3.1.5. It was surprisi

[2017-11-22 17:14] gyuho commented on #8905
Glad it worked :)

Keepalive ping from 3.2.10 client to 3.1.x server should work, since it's the client that keeps track of activity of streams. If it doesn't work, please let us know.

Yeah, gRPC's default limit is `keepalive.EnforcementPolicy` is 5-minute.
etcd's default 5-sec (if HTTP/2 ping is sent more than once within 5-sec, `too_many_pings`).
You can configure this with `--grpc-keepalive-mi

[2017-11-22 17:15] gyuho commented on #8903
Please update your dependency to

https://github.com/coreos/etcd/blob/15bfc1b36162805e8a90ae747d955667870c2f95/glide.yaml#L83-L86

[2017-11-22 17:15] #8903 closed

[2017-11-22 18:08] yongqigood opened #8906 "etcd performance"
I created etcd cluster and a gateway which forward all request to backend etcd cluster.

My gateway is just forward request using http2 proxy.

I find that my gateway's cpu usage higher than etcd cluster's cpu usage.

I am using benchmark to test my gateway.

I think etcd should do more work(process request and do raft) than gateway.

What caused gateway's cpu usage higher than etcd's cpu usage?

[2017-11-22 18:11] xiang90 commented on #8906
what is the gateway? something you build or etcd-gateway?

[2017-11-22 18:33] yongqigood commented on #8906
I build gateway, not etcd-gateway.

[2017-11-22 18:37] xiang90 commented on #8906
so you need to figure it out why the software you built uses more CPU, not etcd community i guess.

[2017-11-22 18:37] #8906 closed

[2017-11-22 18:53] yongqigood opened #8907 "etcd grpc-proxy performance"
I created etcd cluster and a etcd grpc gateway which forward all request to backend etcd cluster.

I find that etcd grpc gateway's cpu usage higher than etcd cluster's cpu usage.

I am using benchmark to test gateway.

I think etcd should do more work(process request and do raft) than etcd grpc gateway.

What caused gateway's cpu usage higher than etcd's cpu usage?

[2017-11-22 19:12] gyuho commented on #8907
@yongqigood Isn't this same issue as https://github.com/coreos/etcd/issues/8906?

[2017-11-22 19:17] yongqigood commented on #8907
Not same, I also tested etcd grpc gateway and same issue, gate cpu usage higher than etcd cpu usage.

[2017-11-22 19:37] xiang90 commented on #8907
grpc proxy and gateway are two different thing. which one are you talking about?

[2017-11-22 19:42] yongqigood commented on #8907
I am using grpc proxy forward etcd request to bankend etcd cluster.

[2017-11-22 20:02] xiang90 commented on #8907
@yongqigood

grpc proxy is not a simple gateway. it interprets the request/response, and handles caching. I would expect it does more work than etcd server in terms of CPU currently. There are def places that can be optimized to reduce CPU load on the grpc proxy. Hope that answer you question.

[2017-11-22 21:55] davissp14 opened #8908 "Strange performance difference between localhost and 127.0.0.1"
Stumbled upon a strange performance issue this afternoon that I can't quite explain.

I am consistently seeing terrible performance when targeting `localhost` on my local machine vs. `127.0.0.1`.

Tested this on both 3.2.6 and 3.2.9.

[code]

Any ideas?

[2017-11-22 22:10] xiang90 commented on #8908
Probably the resolution of localhost takes sometime? can you try with other tools like curl to verify it?

[2017-11-22 23:38] gyuho opened #8909 "Enable --experimental-initial-corrupt-check in tests"
After https://github.com/coreos/etcd/pull/8554 gets merged.

- [X] Enable in integration tests (done via https://github.com/coreos/etcd/pull/8918)
- [X] Enable in e2e tests (done via https://github.com/coreos/etcd/pull/8922)
- [X] Enable in functional tests (done via https://github.com/coreos/etcd/pull/8922)

[2017-11-22 23:40] gyuho opened #8910 "Analyze hash kv API performance"
Create >1GB db file and measure how long it takes to get hash kvs.
This is critical for data corruption checking.

ref. https://github.com/coreos/etcd/pull/8554

[2017-11-22 23:53] xiang90 commented on #8905
Not sure what is the best way either. Can you raise this question in grpc-go repo? It is more a gRPC question.

[2017-11-23 00:28] yongqigood commented on #8907
Thanks for your reply and suggestions Xiang. We have do what you said and even don't decode, forward it directly(not decode request and forward to backend etcd, Also not decode respond and forward to user client), cup usage is same. Is there some suggestion?

[2017-11-23 00:30] xiang90 commented on #8907
I really cannot say anything about the software you built since i have no insight into it.

[2017-11-23 04:20] davissp14 commented on #8908
I can't seem to reproduce the issue outside the context of Etcd.  Are any of you guys able to reproduce locally?

### Curl
[code]

### Etcd Ruby client
[code]

[code]

### Redis client test
[code]

[2017-11-23 04:44] davissp14 commented on #8908
Heh, I figured it out...  It appears that localhost is actually resolving to the ipv6 loopback `::1` fails as it hits the 1 second timeout, then falls back to the ipv4 `127.0.0.1` address.

Closing this out...

[2017-11-23 04:52] #8908 closed

[2017-11-23 05:12] zbindenren commented on #8904
@gyuho unfortunately that is all I see in the logs. The server is started via systemd.

[2017-11-23 05:18] gyuho commented on #8904
@zbindenren Are you sure it's running v3.2.10?

Even systemd should be able to display panic stack trace.
You had stack trace here https://github.com/coreos/etcd/issues/8595...

We can't help without stack trace.

[2017-11-23 05:28] zbindenren commented on #8904
There seems to be a bug with journalctl: https://github.com/systemd/systemd/issues/3277 I‘ll provide the stack trace asap.

[2017-11-23 06:16] zbindenren commented on #8904
@gyuho here the stack:
[code]

[2017-11-23 10:56] munnerz opened #8911 "Making this repository play nicely with Bazel"
I've been trying to manage my application with Bazel, to make testing, building, running and deploying easier.

I have run into a few issues however with this repository (which is vendored into my own). These may be considered to be bazel issues, however some may be fixable on this side 😄

Namely, the issues I've hit:

* You symlink `./cmd/etcd->../`, which creates an infinitely long path, which B

[2017-11-23 11:07] kenfire commented on #8715
Commands to type:
[code]

[2017-11-23 11:08] discordianfish opened #8912 "Make it possible to ignore CN/SAN mismatches"
Hi,

right now deploying etcd with TLS enabled requires setting up stable names or IPs for which the certs are valid. That can be quite difficult in some environments.
On AWS for instance it's good practice to run your instances in a ASG. For things like etcd it allows controlled rolling upgrades by utilizing wait conditions etc. In general, it's the idiomatic way to group your instances. But it's

[2017-11-23 12:55] mwf commented on #8905
Thanks guys!
Closing the issue then, will proceed in grpc-go.

[2017-11-23 12:55] #8905 closed

[2017-11-23 12:57] ayashjorden opened #8913 "nslookup fails in quay.io/coreos/etcd:v3.2"
A question,

I'm deployed a k8s cluster from scratch.
Also deployed kube-dns

When I deployed quay.io/coreos/etcd:v3.2 and tried to run `nslookup kubernetes.default`, I got:
[code]
The I followed up on [k8s DNS troubleshooting][dns_trouble] and when I ran `kubectl exec -ti busybox -- nslookup kubernetes.default` I got:
[code]
Both Pods are running in the same Namespace.
Both containers have identi

[2017-11-23 17:57] #8313 closed

[2017-11-23 21:22] gyuho commented on #8904
How often does this happen? Is it easy to reproduce?

I will report this to gRPC team after US holidays.

Thanks for report!

[2017-11-24 03:21] cnljf opened #8914 "how to handle watch retry"
hi：
    My env is etcd server:3.2.9 and go client:3.2.9. Use user password auth.
    I meet a problem. When I restart a etcd server，the watch channel closed，and I retry to watch without create a new client，the watch cannot success。Here is code：

    `
     func() ProcessWatch(wc WatchChan) {
            for resp := range wc {
                  if resp.Canceled {
                     log.Log(resp.E

[2017-11-24 09:56] JensRantil commented on #2855
@tlvenn You've probably seen it, but that's now in place since #7983 was merged.

[2017-11-24 10:44] tlvenn commented on #2855
awesome, thanks for the notice @JensRantil !

[2017-11-24 11:14] scjane opened #8915 "How to fix "mmap too large"?"
**Problem description**:
We have a self-developed application management platform based on Kubernetes, which has been running on three VMs for about six months. Our platform provides a GUI for easy operation and management. Then, it suddenly fails to log into the GUI this week.  We haved checked some components. The etcd container on the VM that is the master machine of the Kubernetes cluster disp

[2017-11-24 16:35] hectorj2f opened #8916 "Panic when stopping etcd process"
etcd v3.2.9

When stopping etcd, we always get the following panic error. Is there a way of gracefully stopping etcd ?

[code]

[2017-11-25 03:59] xiang90 commented on #8915
we have never seen this. probably you triggered a boltdb bug.

only one member in the cluster has a huge db file, right?

[2017-11-25 14:30] songlong opened #8917 "clientv3 can create directory"
ctx, cancel := context.WithTimeout(context.Background(), requestTimeout)
	pd, err := cli.Put(ctx, "/test/tt", "sssbar")

       but  curl http://127.0.0.1:2379/v2/keys    {"action":"get","node":{"dir":true}}
       It is obvious that clientv3 cant create directory?

[2017-11-25 20:58] xichen2020 commented on #8899
cc @xiang90 @cw9

Want to provide some update on this: we upgraded both our clients and our server to 3.2.10 and it seems to have helped. We performed the this operation that triggered this issue and this time it appears that there was one client that didn't get the latest update from etcd.

We saw the same issue with this ill-behaving client, i.e., the watchers on the client were blocked. However

[2017-11-25 21:41] xiang90 commented on #8899
@xichen2020

Please enable keepalive and give it another try.

[2017-11-25 21:44] xiang90 commented on #8899
Did you find a way to reproduce the problem? We would like to know how to reproduce so that we can cover this case as an integration test. Thanks.

[2017-11-25 22:26] xichen2020 commented on #8899
I tried reproducing it locally but so far no luck, it appears to be somewhat nondeterministic. Will look into it a bit further.

[2017-11-26 03:16] xiang90 commented on #8899
@xichen2020

I looked into the error you posted a little bit deeper today.

The error message is directly returned by the recv syscall (ETIMEDOUT as error 110: see https://github.com/golang/go/blob/964639cc338db650ccadeafb7424bc8ebb2c0f6c/src/syscall/zerrors_linux_386.go#L1488).

Recv itself should not cause ETIMEDOUT apparently. Either a failure to send or a failure of TCP keepalive makes the ser

[2017-11-26 03:21] xiang90 commented on #8913
It does not seem like an etcd issue. You can ask this in Kubernetes community instead.

[2017-11-26 03:21] #8913 closed

[2017-11-26 03:23] xiang90 commented on #8911
We have no plan to support Bazel. But we are open to explore it.

I mark this as help wanted. I want to know the benefits of adding the support of Bazel, the cost of maintaining the support, and the potential drawback of it before we can make the decision.

Thanks.

[2017-11-26 03:23] xiang90 commented on #8907
I am closing this now since the original question is answered.

[2017-11-26 03:23] #8907 closed

[2017-11-26 03:44] xiang90 commented on #8917
there is no directory concept in v3. "/" is a char as "a" or "b".

[2017-11-26 03:44] #8917 closed

[2017-11-26 03:45] xiang90 commented on #8914
/cc @mitake

can you take a look?

[2017-11-26 06:43] xiang90 commented on #8912
I am still under the impression that disabling CN/SAN checking while enabling CA checking is not easy in go TLS library. But things might be changed overtime as go adds more fields into TLS configuration.

As a first step, can you explore how to do this in go? Ideally with an example. /cc @discordianfish

[2017-11-26 14:52] xichen2020 commented on #8899
Possibly, I'm guessing some temporary network blip on the client-server link could have caused the broken connections but not 100% sure.

Just out of curiosity, it seems the keepAlives are done by sending periodic probes inside a goroutine rather than setting the keepAlive options on the TCP socket, any idea why?

[2017-11-26 17:21] xiang90 commented on #8899
This is a decision gRPC team made. So I can only speak of the reasoning behind it from my own experience.

Normally speaking, application layer keepalive is more reliable than TCP keepalive:
1. TCP keepalive behaviors differently across different platforms
2. TCP keepalive is not easy to config correctly
3. TCP keepalive cannot detect application layer "deadlock" or misbehavior; as long as the ker

[2017-11-26 19:27] xichen2020 commented on #8899
That's fair, and thanks for the explanations. Seems the keepAlives are done per underlying connection rather than per gRPC stream, so the overhead is higher than socket-level probing but probably still manageable with not too frequent pings, although the clients probably need to add some jittering to avoid all clients sending keepAlive probes at the same time.

[2017-11-27 00:54] scjane commented on #8915
@xiang90  Yes, in fact, only the master node has etcd deployed in a container. The other two worker nodes don't run etcd.

[2017-11-27 00:56] xiang90 commented on #8915
If you have no backup and do not run etcd in HA manner, then the best option for you is to rebuild the cluster from scratch at this point.

[2017-11-27 01:23] mitake commented on #8914
@xiang90 @cnljf ok, I'll take a look later

[2017-11-27 01:27] xiang90 commented on #8788
endpoint healthy is to check the health of the endpoint, not the cluster. if you get health response from A, it means A is healthy not B.

[2017-11-27 01:27] #8788 closed

[2017-11-27 07:50] jiaxuanzhou commented on #8814
@xiang90 I will effort on it

[2017-11-27 07:57] gyuho commented on #8814
@jiaxuanzhou Can you try https://github.com/coreos/etcd/pull/8919? Thanks!

[2017-11-27 08:05] xiang90 commented on #8713
I am closing this out due to lack of interest.

[2017-11-27 08:05] #8713 closed

[2017-11-27 08:43] mitake commented on #8914
@cnljf could you share more detailed information about your deployments? How many nodes are in your cluster? What token type are you using (simple or JWT)?

[2017-11-27 08:52] cnljf commented on #8914
It's a three node cluster.
`
etcd Version: 3.2.9
Git SHA: f1d7dd8
Go Version: go1.8.4
Go OS/Arch: linux/amd64
`
Token add by add user
![image](https://user-images.githubusercontent.com/14796747/33258050-4b177c62-d393-11e7-9f88-67e73fd21422.png)

[2017-11-27 16:25] gyuho commented on #8802
Closing via https://github.com/coreos/etcd/pull/8879.

[2017-11-27 16:25] #8802 closed

[2017-11-27 16:26] gyuho commented on #8916
Suggestion from gRPC team https://github.com/grpc/grpc-go/issues/1384#issuecomment-317124531

[2017-11-27 16:28] gyuho commented on #8911
@xiang90 We don't need symlinks anymore (was introduced from https://github.com/coreos/etcd/issues/4913), now that etcd requires Go 1.9+.

[2017-11-27 18:37] #8909 closed

[2017-11-27 19:23] cristifalcas commented on #8788
Do I have any possibility to check if a member is accepted in a cluster? Now I'm parsing the logs for errors.

For example if a new machine is added with the same hostname in an existing cluster.

[2017-11-27 22:23] #8863 closed

[2017-11-27 22:30] gyuho opened #8924 "coverage: test panic at the end, on gocovmerge"
https://jenkins-etcd-public.prod.coreos.systems/job/etcd-coverage/2991/console

[code]

https://github.com/wadey/gocovmerge

[2017-11-27 22:31] gyuho commented on #8709
Partially covered by https://github.com/coreos/etcd/pull/8896.
Need update `clientv3/doc.go` on the gRPC connection errors.

[2017-11-28 05:28] mitake commented on #8914
@cnljf could you show every parameter for creating your client? Do the parameters have every endpoint?

Also, does this problem happen if you disable auth?

[2017-11-28 06:46] cnljf commented on #8914
`
clientv3.New(clientv3.Config{
	Endpoints:  []string{*.*.*.*:2379},
	DialTimeout: 2 * time.Second,
	Username:   "guest",
	Password:   "****",
})
`
It only use one endpoint to create.

I has two cluster:
One is 3.1.5, it's watch don't need auth and work normally.
One is 3.2.9, it has this problem.

This problem occur in my beta and online environment. But when I simulate this problem in my desktop

[2017-11-28 07:08] mitake commented on #8914
Could you try passing all endpoints to `clientv3.Config`? If the client have multiple endpoints, failover should work.

BTW do you mean that you don't see this problem even if you use a single endpoint to client creation in 3.1.5?

[2017-11-28 07:26] cnljf commented on #8914
When I create the client, I call clientv3.Sync(). Do it equal to create client with all endpoints?

[2017-11-28 07:43] mitake commented on #8914
Yes `clientv3.Sync()` can be used for the purpose. It is strange...

Do you mean the problem is non deterministic and hard to reproduce?

[2017-11-28 07:54] cnljf commented on #8914
Yes, it's hard to reproduce.
But I keep a unnormal scene in online environment.

In addition, If you need some information, I can try to reproduce from beta environment.

[2017-11-28 07:56] mitake commented on #8914
I see. If you get any new additional information related to it, could you share? I'm still trying to reproduce the problem.

[2017-11-28 07:58] cnljf commented on #8914
Can you indicate some information you may need? I can have a target information to fetch.

[2017-11-28 08:01] mitake commented on #8914
I want logs of all nodes if it is possible. If you can provide more detailed information about your client behaviour, it is nice.

[2017-11-28 08:30] cumirror commented on #8877
use watcher like this:
`
func NewClientEtcd(endpoints []string) (*ClientEtcd, error) {
	//client skip cert verify when etcd server enable https
	transport := &http.Transport{TLSClientConfig: &tls.Config{InsecureSkipVerify: true}, DisableKeepAlives: true}
	cfg := client.Config{
		Endpoints:               endpoints,
		Transport:               transport,
		HeaderTimeoutPerRequest: time.Second * 5,
	}

[2017-11-28 17:45] discordianfish opened #8929 "etcdctl cluster-health tries to connect to http in https-only cluster"
I've successfully enabled TLS for peer and client authentication but have trouble using etcdctl. When running with only --ca-file, --cert-file and --key-file flags I just get: `client: etcd cluster is unavailable or misconfigured`. Running with `--debug` print a bunch of curl(??) statements that are referring to http.
With `--no-sync` this is working fine though.

Now I need to use cluster-health

[2017-11-28 17:48] xiang90 commented on #8929
What are the flags that you used to start etcd? etcdctlv2 first syncs with etcd server to update its advertised URL. I think you probably provide incorrect URLs to etcdserver at the first place.

[2017-11-28 17:57] discordianfish commented on #8929
Ah damn, you're right.. While typing the response I realized I've still have http in the advertised client url. Never mind and sorry about the noise!

[2017-11-28 17:57] #8929 closed

[2017-11-28 21:26] markwongsk opened #8931 "Apply entries took too long"
We're running a 3-cluster etcd. Recently our client code has been getting more and more
[code]
which are probably caused by the
[code]
warnings that are in etcd logs.

Attached are the last 10k lines of the `etcd-console.log`s and metrics on one of the etcd nodes.

The volume has 500GB and resource utilization doesn't seem to be a bottleneck. We are on etcd 3.1.4, and will be trying to move to mas

[2017-11-28 21:35] xiang90 commented on #8931
How large is the database? Do you issue any large range request?

[2017-11-28 22:19] markwongsk commented on #8931
[code]
What qualifies as a "large range request"?

[2017-11-28 22:20] xiang90 commented on #8931
@markwongsk

a range query that returns 1000s of keys will probably talk ~100ms. it depends.

[2017-11-28 22:25] xiang90 commented on #8931
@markwongsk Probably you should defrag every node in the cluster. It will probably solve your issues. boltdb has some page handling issues with etcd usage pattern. We fixed it in current master though. A workaround for you is to defrag the cluster.

[2017-11-28 22:27] markwongsk commented on #8931
[code]
Okay, will pursue defrag option further. I think we tried pursuing that and hit other issues preventing us from being able to defrag. Will surface them if we hit them again.

[2017-11-28 22:46] markwongsk commented on #8931
it was this:
[code]

[2017-11-28 22:48] xiang90 commented on #8931
it probably takes too long to defrag. you can bump the rpc timeout at client side.

please check the server side logging too. probably the defrag was actually finished at server side.

[2017-11-28 23:03] markwongsk commented on #8931
oh interesting. I'm seeing these logs:
[code]
Looks like we had already defrag the nodes last week.

[2017-11-28 23:25] xiang90 commented on #8931
did you do that on all nodes?

[2017-11-28 23:33] markwongsk commented on #8931
We did that on 2/3 nodes last week. I just did defrag on all three nodes this week. Does not defragging one node cause a detrimental effect?

[2017-11-29 00:02] gyuho commented on #8904
@zbindenren We are still trying to figure out if this is a bug in gRPC-side or etcd. How often do you see this panics? And any easy way to reproduce this?

[2017-11-29 03:36] xiang90 commented on #8931
it should not.

but you only got 300 keys, and the db size is 2gb. this looks very strange to me.

[2017-11-29 05:03] janardhan1993 opened #8934 "Ability to add raft node in witness mode."
We would like to add a raft node as witness. Witness replicas vote for leaders and for committing writes, but do not store a full copy of the data, can't become the leader, and can't serve reads. They make it easier to achieve quorums for writes without the storage and compute resources that are required by normal replicas.

Is it possible to do it in application layer without modifying current et

[2017-11-29 05:39] swapnilgm commented on #8888
@xiang90, Maintainers:  Any opinion/updates about this issue?

[2017-11-29 06:17] atinsood commented on #8860
@gyuho do you mind elaborating more on `DialKeepAliveTime and DialKeepAliveTimeout` . I am still trying to understand if the client exceeds the above, then per documentation the connection will be closed, but the client never gets notified, so is the only way is to drop the old connection if still there and go from creating a new connection in retry

[2017-11-29 06:29] zbindenren commented on #8904
@gyuho We have this panics daily on all three nodes. Here the events for the 27th:

[code]
[code]

[code]

Unfortunately I have no easy way to reproduce this. We have this bug only in production. The production cluster is a three node cluster with around 2000 clients. There are around 2000 lease and watch streams. Usually there is not a lot of watch traffic. The panic usually occurs when there are

[2017-11-29 06:32] gyuho commented on #8904
@zbindenren Ok this definitely needs fix.

Do you have full stack trace? Longer one than https://github.com/coreos/etcd/issues/8904#issuecomment-346538421 would be super helpful!

[2017-11-29 06:55] zbindenren commented on #8904
@gyuho Here some stack traces from one node:

[code]

[code]

[code]

[code]

[code]

[2017-11-29 06:58] gyuho commented on #8904
Ok thanks. We will look into it.

[2017-11-29 07:23] zbindenren commented on #8904
@gyuho Let me know if I can help more.

[2017-11-29 07:37] gyuho commented on #8904
@zbindenren Sure, will do.

One question, is that cluster using TLS?

We have different gRPC handler when TLS is enabled.

[2017-11-29 07:51] gyuho commented on #8916
Easy to repro: start a single node etcd cluster with TLS. Spawn a watcher. Stop etcd.

[2017-11-29 09:02] zbindenren commented on #8904
@gyuho  You are right, the cluster is TLS with client certificate authentication. We had problems with user/password authentication, the server could not handle the load with username/password authentication.

[2017-11-29 11:49] wojtek-t opened #8935 "Commit is out of range"
We've observed a problem with clustered etcd, that after recreating one of the instances, it is entering crashloop and panicing with:
[code]

What exactly is happening is that we are recreating a VM where the etcd is running (without calling remove/add member) preserving all the addresses, etcd data etc. So after recreation, it the etcd is being started as the old member (similarly as it was resta

[2017-11-29 15:07] xiang90 commented on #8935
Is the old etcd stopped before the new one is started? What is the exact sequence of events happening?

Also can you provide the full log instead of just the 3 lines before panicing?

[2017-11-29 15:19] wojtek-t commented on #8935
Yes - it is stopped. The sequence is:
- all 3 instances of etcd is running
- one of them is being stopped (be deleting the VM in which it is running)
- the VM is being recreated (the PersistentDisk where etcd data lives is attached)
- the etcd is started

Yeah sorry.
- Logs from few minutes from the initial VM (before it was deleted): https://gist.github.com/wojtek-t/22665ffaee649a9c263fea090766a1

[2017-11-29 15:49] xiang90 commented on #8935
Thanks. I am not sure if this is the same issue you linked as I have not
looked into the logs. We will give this a look soon.

On Wed, Nov 29, 2017 at 7:19 AM Wojciech Tyczynski <notifications@github.com>
wrote:

[2017-11-29 16:46] xiang90 commented on #8935
@wojtek-t

How large is each request you sent to etcd? Are you able to share the broken WAL file? Are you able to reproduce this problem every time you did the sequences of operations you listed?

[2017-11-29 17:57] wojtek-t commented on #8935
No - it's not reliably reproducible. We've seen this twice in the last few days in continuously running suite.
We no longer have WAL file unfortunately.
@mborsz - if we observe it again, we may want to try capturing this, if possible.

These are coming from our internal k8s tests. But the cluster is pretty small (3 nodes IIRC), so there isn't anything that is very big.

[2017-11-29 18:44] xiang90 commented on #8935
@wojtek-t

OK. Also can you try on latest 3.2 to see if you can reproduce it?

Thanks.

[2017-11-29 18:59] jpbetz commented on #8935
@wojtek-t I'll start an investigation of this shortly.

[2017-11-29 19:00] #8709 closed

[2017-11-29 19:32] markwongsk commented on #8931
Let me know what other telemetry I can provide to help shed light here.

[2017-11-29 22:52] xiang90 commented on #8934
I do not understand this. Why not have a smaller quorum then?

[2017-11-29 22:57] xiang90 commented on #8931
@markwongsk

normally it is caused by high backend_commit, but it seems fine from the metrics. I am not sure what is happening.

do you have a time series monitoring setup? what does the request rate distribution look like?

you might also want to check what is the replication lagging between the etcd nodes.

[2017-11-29 23:08] janardhan1993 commented on #8934
It would be useful if number of nodes in the cluster is even say 2, then if i node goes down we loose the quorum. With witness replica we would use resources for 2 nodes only but would tolerate failure of one node.

[2017-11-29 23:11] xiang90 commented on #8934
is it? if the actual raft node goes down, all data is lost and nothing can make progress. If the witness node goes down, quorum cannot be reached either. it is worse than having 1 node or 2 nodes raft cluster.

[2017-11-29 23:16] janardhan1993 commented on #8934
Sorry i meant we can have 2 raft nodes and 1 witness replica then. Then if i node goes down data won't be lost.

[2017-11-30 00:10] markwongsk commented on #8931
@xiang90 How would I check replication lagging? I don't think we have time series monitoring setup. Does etcd come with this capability, and are there docs for it?

My searches have yield https://coreos.com/blog/developing-prometheus-alerts-for-etcd.html as being most relevant, but that seems like alerting in general.

[2017-11-30 00:44] markwongsk commented on #8931
Okay I'm a clown, I was reading keys off a different stack. This is what I get from the problematic stack:
[code]
I'm going to go through the range requests we do and look at the potential size of those particular key spaces.

[2017-11-30 00:58] markwongsk commented on #8931
Okay, it seems like we have a hot code path that does a range request read of 1k+ keys, I'm going to close this issue as we have a path forward for now. Thanks!

[2017-11-30 00:58] #8931 closed

[2017-11-30 03:14] hexfusion commented on #8904
@gyuho I have not looked into this directly but I do recall seeing a similar issue with the grpc-gateway. What I found was that instead of caching the auth token where possible my Perl client was generating a new token during every request adding a lot of overhead which could result in panic. Could be unrelated but figure I would pass it along.

[2017-11-30 04:09] Stevenhuangqian opened #8940 "Get config setting from etcd"
i want to get the config settings from etcd using the http request in nginx with interval time .
I think the request url should not be fixed in my lua script or any config file. Because when any nodes crash, the ip will be unusable, At that time i have to change the ip  on  each server.
So i wonder whether etcd support this function:
       lua send UDP broadcast to the LAN .
       etcd nodes get

[2017-11-30 06:19] SamuelMarks commented on #6904
@heyitsanthony - How about hiding it behind a compiler flag? - We're in the Go world here, so it's possible without any efficiency drop.

(just don't know if the etcd people want to maintain two paradigms; it's like having InnoDB and TokuDB in the MySQL world. Abstracting out the engines into those two then letting the communities split could be a long-term maintenance option…)

[2017-11-30 06:31] cnljf commented on #8914
I just shutdown one node in beta env, the client can't watch normally.
Here is etcd server log：
`
2017-11-30 14:01:17.681825 I | auth: deleting token qilITaAgtFjfSAyg.4681813 for user guest
2017-11-30 14:01:21.681762 I | auth: deleting token TRDFiakiiOCffKkL.4681818 for user guest
2017-11-30 14:01:23.177530 W | auth: invalid auth token: EZXKZQdeBKLEwYiT.4612998
2017-11-30 14:01:23.177990 W | auth:

[2017-11-30 06:42] mitake commented on #8914
Thanks for reporting the detail. It seems that reauth mechanism for generating a new token wouldn't be working well in the case of watch failure. I'll dig this problem.

BTW if you use CN based auth or jwt token, you can avoid this problem as an easy work around.

[2017-11-30 06:47] cnljf commented on #8914
Thank you. I will try your advise.

[2017-11-30 07:42] cnljf commented on #8914
Is there jwt token doc or demo?

[2017-11-30 07:44] mitake commented on #8914
You can find it here: https://github.com/coreos/etcd/blob/master/Documentation/op-guide/configuration.md#auth-flags
If you have additional questions, please let me know.

[2017-11-30 10:45] YuleiXiao opened #8941 "How long client can tolerate network interrupt"
My test case:
1. watch a key first, it is success.
2. make network interrupt 20ms, interval 3s, repeat 10 times.
3. put key value interval 1s

Is there any parameter we can specify the time?

[2017-11-30 11:41] philiprbrenan opened #8942 "Set vs Put"
On page:

https://github.com/coreos/etcd

ETCDCTL_API=3 etcdctl **put** mykey "this is awesome"

but it should be **set**:

ETCDCTL_API=3 etcdctl **set** mykey "this is awesome"
this is awesome
ETCDCTL_API=3 etcdctl **get** mykey
this is awesome
ETCDCTL_API=3 etcdctl **put** mykey "this is awesome"
No help topic for 'put'

[2017-11-30 14:53] gyuho commented on #8942
Have you tried `ETCDCTL_API=3 etcdctl set mykey "this is awesome"`?

v3 has no command `set`.
`put` is correct.

[2017-11-30 14:53] #8942 closed

[2017-11-30 15:55] xiang90 commented on #8941
Can you share your test code? What is the version of the server and the client? How can we reproduce it?

[2017-11-30 17:33] gyuho opened #8943 "functional-tester: enable TLS"
https://github.com/coreos/etcd/issues/8904 should have been caught, if TLS had been enabled.

[2017-12-01 00:34] jpbetz opened #8948 "Add metric for etcd binary version"
The kubernetes community currently uses [etcd-version-monitor](https://github.com/kubernetes/kubernetes/blob/master/cluster/images/etcd-version-monitor/etcd-version-monitor.go) to monitor which etcd version(s) are running across an etcd cluster.  `etcd-version-monitor` polls the etcd version endpoint (e.g. `http://localhost:2379/version`) and translates the data to prometheus metric of the form:

[2017-12-01 01:45] ahmadster opened #8949 "High memory usage on 3.2.9"
I'm running etcd to save json documents with a plain UUID key. All of my data is about 2-4GB. When I store in etcd it eats up close to 27 GB of RAM and more. It crashes consistently.
What am I doing wrong.
![root_sjc04p1dkrap52__home_tesler_pulsar_prd_data_etcd](https://user-images.githubusercontent.com/24639101/33464239-2cf55b18-d5f6-11e7-8c0d-778b017998b4.jpg)

[2017-12-01 02:01] fanminshi commented on #8949
@ahmadster
Is `--snapshot-count` and`--max-snapshots` the only configurable flags that you used?
Does this memory issue happen all the time? or only happen occasionally?
Do you ever update to `UUID key` with different json doc?

[2017-12-01 02:21] ahmadster commented on #8949
snapshot-count and max-snapshots are the only configurable flags
It happens all the time consistently. I wipe out my data, start a fresh etcd data dir, it takes ~5-6 hours and it fills up again, then crashes and keeps crashing until I wipe the data out.

No, UUID key is never updated. Just a one time write.

The keys are all in a directory. So I create a directory named `/json/` and when saving a

[2017-12-01 02:24] ahmadster commented on #8949
Here are my files since, I wiped about 4 hours ago.
[code]

[2017-12-01 05:18] xiang90 commented on #8949
@ahmadster

You are using the old v2 backend, which only support ~100MB total data size: see https://github.com/coreos/etcd/blob/master/Documentation/v2/benchmarks/etcd-2-2-0-rc-memory-benchmarks.md#data-size-threshold.

etcd is not designed to hold a lot of data either. Even with v3, we limit the data size to a few GB.

[2017-12-01 05:18] #8949 closed

[2017-12-01 06:11] nizam037 opened #8950 "Extract etcd transaction logs for user"
i have some commonn doubts in etcd DB. They are
1.how i can tail the logs of etcd like how can i get entries in the etcd db or How can i get to see logs about etcd transactions?
2. Is there any method to see key-value data in normal human readable format?
3.And if the user wants to know what is happening during transaction how user can know ... Is there any methods to see transaction logs for the

[2017-12-01 09:21] YuleiXiao commented on #8941
version: 3.2.7+git

I write a shell script to make network interrupt interval. test case and script run in the same time.

My test case code is like this. Put timeout is 3s.
[code]

ifdown shell script, make network interupt 20ms
[code]

test result, interrupt time is only 20ms, less then 3s, I thought it should be success. But put always fail after script run.
[code]

[2017-12-01 09:40] kr1sten0 opened #8951 "etcdserver: Why do the configuration change validation after through consensus"
https://github.com/coreos/etcd/blob/b041ce5d514a4b4aaeefbffb008f0c7570a18986/etcdserver/server.go#L1402

Why not do the validation before the consensus?
If something conflicts with current cluster, it can return error response quickly

[2017-12-01 17:43] fanminshi commented on #8949
@ahmadster you should use v3 api instead of v2 api to write your key to etcd. try that out to see if same issue still occur.

[2017-12-01 19:00] gyuho commented on #8950
@nizam037

1. etcd system log outputs to stderr by default. etcd Raft logs persists to WAL (on disk). And if you are talking about transaction events log (e.g. https://dev.mysql.com/doc/refman/5.7/en/binary-log.html), etcd doesn't have it. If you are talking about historical data before transaction, you can query by the revision.

2. See https://github.com/coreos/etcd/tree/master/tools/etcd-dump-d

[2017-12-01 19:00] #8950 closed

[2017-12-01 19:07] gyuho commented on #8940
No, we don't support it.

Recommended way is remove the crashed node, and add a new member.

[2017-12-01 19:07] #8940 closed

[2017-12-01 20:33] gyuho commented on #8502
All basic tests are done via https://github.com/coreos/etcd/pull/8954.

We can integrate them in CI once we cut CI time to 10-min (https://github.com/coreos/etcd/issues/8862).

[2017-12-01 21:28] gyuho opened #8956 "grpc-proxy: enable clientv3 keepalive ping tests"
Currently, we don't test keepalive pings with grpc-proxy (https://github.com/coreos/etcd/blob/master/clientv3/integration/black_hole_test.go).

Related https://github.com/grpc/grpc-go/issues/1695.

[2017-12-01 21:38] gyuho commented on #8904
@zbindenren Upstream fix has been merged (https://github.com/grpc/grpc-go/pull/1687)--we are still waiting for their release.

Hopefully, we can release the fix with v3.2.11 next week.

[2017-12-02 05:49] zbindenren commented on #8904
@gyuho thanks, that would be great. I will test it as soon it is released.

[2017-12-02 12:35] hexfusion commented on #8803
@gyuho I am going to take a stab at this.

[2017-12-02 20:15] #8948 closed

[2017-12-02 21:15] nvtkaszpir opened #8964 "Failed to save KV snapshot results in data directory to be cluttered with temp files"
# Description
When ETCD executes snapshot it creates temporary file in `data` directory.
If snapshot operation ends with error, then that temporary file stays in the `data` directory, but it will contain corrupted snapshot.

On next start ETCD scans files in `data` directory, and shows the following messages:
[code]
This is expected, that it leaves files intact.

Either way etcd when doing snapsho

[2017-12-02 21:19] xiang90 commented on #8964
the tmp file might contain valid data (for example rename failed). and, yes, for debugging purpose we leave them there. however, if etcd starts successfully with a valid snapshot, it can clean tmp files up automatically with very low risk.

do you want to help on this one?

[2017-12-02 21:28] nvtkaszpir commented on #8964
I'v just tested another scenario:
- stopped etcd
- copied one of *.snap file as `copy_of_last_snap` file name
-  started etcd again.
Looks like etcd actually skips this file, even though this is a snapshot file (looks like it prefers properly named filenames?)
[code]

So I think the best solution would be to leave info in etcd docs that for maintenace reasons admins should add something like cron

[2017-12-02 21:30] xiang90 commented on #8964
we do not expect users to touch the data dir owned by etcd.

[2017-12-02 21:35] nvtkaszpir commented on #8964
Yes I know, I did that on purpose, but in normal circumstances I've experienced that new node which connected to etcd cluster received snapshot so large it was impossible to fit it in the `data` storage. Maybe it should be done in smaller chunks, then?

[2017-12-02 22:21] xiang90 commented on #8964
even if we chunk it, it makes no difference. the other side cannot receive full data and cannot reload it. all the data needs to be on disk. you should prepare for enough disk space.

[2017-12-03 12:30] EqbalS opened #8965 "Metric etcd_http_failed_total is more than etcd_http_received_total"
etcd version: v3.2.4
docker image: quay.io/coreos/etcd:v3.2.4
docker version: 17.05.0-ce

We are using a 3 member etcd cluster for the master nodes of a local kubernetes cluster:
[code]

In the prometheus data we have discovered this issue that in http metrics for GET method on the etcd2 instance we have more failed requests with error code 400 than the total received. this is the actual values fo

[2017-12-03 20:18] wojtek-t commented on #8935
And I will try running with 3.1 and potentially also 3.2 to see if any of those is fixing those.

[2017-12-04 03:08] YuleiXiao commented on #8941
I try test case on master, it is the same. @xiang90

[2017-12-04 03:09] TennyZhuang opened #8966 "Is it possible to use etcdctl v3 for substring match?"
only prefix substring match, like a reverse prefix match

assume such keys in etcd

[code]

[code]

[2017-12-04 08:34] chacha923 opened #8967 "compile error about etcdserver/etcdserverpb/rpc.pb.go"
hello , i find sth while compiling etcd project on mac.

this file github.com/coreos/etcd/etcdserver/etcdserverpb/rpc.pb.go has reported some error
it look like a type convert error,
maybe package google.golang.org/grpc is updated but you are not notified??
thanks !!!

---------------------
../../../github.com/coreos/etcd/etcdserver/etcdserverpb/rpc.pb.go:3391: cannot use _KV_Range_Handler (type f

[2017-12-04 08:58] YuleiXiao commented on #7941
@gyuho  Is this shipped in v3.3 release or v3.4?

[2017-12-04 09:00] chacha923 commented on #8967
my go env is go version go1.8 darwin/amd64

[2017-12-04 09:33] chacha923 commented on #8967
oh, i change the import packge of "context" to "golang.org/x/net/context" in clientv3/client.go,  health_balancer.go, retry.go ,  it compile success,

i see the dir of golang.org/x/net/context,  it only has go17.go and go19.go ,
you can see   https://github.com/golang/net/tree/master/context
i guess it just not support go 1.8 _(:з」∠)_

[2017-12-04 12:34] akauppi commented on #5019
@roffe You can reach me in the above mentioned contact - have you tried?

I only now realized the original request was about storing etcd change info itself. What I'm looking for, and it is progressing, is a general key/value store on top of etcd-v3 or similar that supports full audit trails, but also much more. It won't be the solution for @niraj8241 so I don't think more discussion here is in pl

[2017-12-04 12:36] sokoow commented on #8904
Are you guys planning to release 3.3 any soon ? :) Is this issue blocking it?

[2017-12-04 17:20] gyuho commented on #8904
@sokoow We are waiting for gRPC team's release. Then we will release v3.2.11.
And this is the last issue blocking v3.3 as well.

[2017-12-04 17:23] andrestc opened #8969 "Misleading documentation on --listen-metrics-urls"
The [monitoring etcd docs](https://coreos.com/etcd/docs/latest/op-guide/monitoring.html) for version 3.2.9 mention the `--listen-metrics-urls` flag. This flag is not mentioned in [Configuration flags docs](https://coreos.com/etcd/docs/latest/op-guide/configuration.html) and I can also confirm that trying to run etcd with this flag set results in an error:

[code]

I see that the flag is implemente

[2017-12-04 17:29] gyuho commented on #8969
It was a bad cherry-pick in our end. Fixed in the release branch.
Will be synced up in the next release.

Thanks for the report!

[2017-12-04 17:30] gyuho commented on #8967
You need Go 1.9+

https://github.com/coreos/etcd#getting-etcd

[2017-12-04 17:30] #8967 closed

[2017-12-04 17:31] gyuho commented on #8966
No. Only prefix matching is supported.

[2017-12-04 17:31] #8966 closed

[2017-12-04 17:32] andrestc commented on #8969
Thanks, @gyuho.

[2017-12-04 20:06] gyuho commented on #8924
[code]

[2017-12-04 20:08] xiang90 commented on #8924
can we get fixed soon? or can we go back to a older version of gocovmerge which does not have this issue?

[2017-12-04 20:09] gyuho commented on #8924
@xiang90 Yeah, I am forking `gocovmerge` to debug this panic in a separate branch https://github.com/coreos/etcd/pull/8970.

[2017-12-04 21:25] josue commented on #6904
On environment:
- **macOS v10.13.1** _(High Sierra)_
- **etcd v3.2.10**    _(install via `brew install etcd`)_

The command `get / --prefix` will return an empty response. Instead you can do the following:

`ETCDCTL_API=3 etcdctl get "" --prefix --keys-only | sed '/^\s*$/d'`

_^ using the empty quote will returns all keys then pipe it to removes empty lines._

[2017-12-04 21:41] #8502 closed

[2017-12-04 23:12] xichen2020 commented on #8899
Just to close the loop here: we performed a few more tests that previously triggered this issue after upgrading both the client and the server to 3.2.10 and adding client-side keepAlives, and did not see this issue come up since the change. As such, we consider this issue resolved with the version upgrade and the client-side keepAlives.

[2017-12-04 23:44] xiang90 commented on #8899
@xichen2020 Awesome. Thanks. I am closing this for now. If the same issue poped up again, please reopen. We will add more testing around watchers in the near future.

[2017-12-04 23:44] #8899 closed

[2017-12-05 00:02] xiang90 commented on #8965
can you reproduce it outside kubernetes? like with a simple script? thanks.

[2017-12-05 00:03] xiang90 commented on #8951
/cc @mitake

[2017-12-05 00:04] xiang90 commented on #8890
@PleaseTakeItEasy

kindly ping.

[2017-12-05 00:21] #8904 closed

[2017-12-05 06:07] absolute8511 opened #8975 "Could it fail fast on the propose dropping while leader changed"
While leader is transferred, the proposal may be dropped. But we can not get the notify so we can do some retry work.
For example, as below

https://github.com/coreos/etcd/blob/b041ce5d514a4b4aaeefbffb008f0c7570a18986/etcdserver/v3_server.go#L572

[code]

We just wait context timeout to get to know we failed to propose which is blocking too long. I think we should handle the proposal dropping even

[2017-12-05 08:50] pavlo opened #8976 "How to change a public discovery cluster to be static after it has launched?"
Hey!

I have a cluster of 3 members bootstrapped using the public discovery thing. The cluster launched and operated just fine. Each machine has this in its cloud-config:

    etcd2:
      advertise-client-urls: http://$private_ipv4:2379
      discovery: https://discovery.etcd.io/<the ID here>
      initial-advertise-peer-urls: http://$private_ipv4:2380
      listen-client-urls: http://0.0.0.0:237

[2017-12-05 10:02] langkeer opened #8977 "why it took about 8s to time out after publishing fail? Is there any way to shorten the time?"
we often meet publishing failure first time, and from the etcd logs, it seems that etcd won't publish again until the timer (duration is 8s) expires. so it will delay the ectd service about 8s. so we want to know:
1. why don't etcd publish again just after the previous publishing fails?
2. is there any way to shorten the duration of the timer?
thanks!

attach part of the etcd logs:
Nov 10 15:06:15

[2017-12-05 10:07] langkeer commented on #8977
[etcd logs of publish error.txt](https://github.com/coreos/etcd/files/1530678/etcd.logs.of.publish.error.txt)
attach the log file. thanks!

[2017-12-05 16:08] devnev commented on #8691
Hi. The Watch client still contains a failFast=False with a TODO to switch it to failFast=True. Was that meant to be part of this issue? Or is there an issue tracking that elsewhere?

[2017-12-05 17:30] gyuho commented on #8691
@devnev We've disabled `FailFast=true` to all RPCs, replaced by internal, manual retry in clientv3 side.

We've covered some network fault cases in https://github.com/coreos/etcd/issues/8711, if that helps.

For watch, clientv3 (>=v3.2.10) should be able to switch and retry when a server fails.

[2017-12-05 17:53] devnev commented on #8691
@gyuho thas is incorrect, see https://github.com/coreos/etcd/blob/master/clientv3/watch.go#L778

[2017-12-05 17:57] devnev commented on #8691
A [search of the codebase](https://sourcegraph.com/search?q=FailFast+-file:.*/vendor/.*+-file:.*test.*&sq=repo:%5Egithub%5C.com/coreos/etcd%24) also reveals a FailFast=false in the grpcproxy

[2017-12-05 17:58] gyuho commented on #8691
@devnev Indeed.

I meant to say

Somehow got confused.

So we do `FailFast=false` for watch, but for others `FailFast=true`, thus gRPC side retry is disabled. But note that that watch has for-loop for manual retry, since we assume gRPC retry logic is not stable enough.

[2017-12-05 18:11] devnev commented on #8691
For watches in particular FailFast=False is problematic, as they usually do not have RPC timeouts. In our case the connections are failing for extended periods of times, but we cannot set a timeout on the request as it is a watch. However, because FailFast=False, we're also not given any indication that the watch is in fact broken.

[2017-12-05 18:16] gyuho commented on #8691
etcd watch API is not meant for detecting connection issues. Disconnect is handled in client balancer layer. We've added [HTTP/2 keepalive](https://godoc.org/github.com/coreos/etcd/clientv3#Config) and client balancer health checking (only available >= v3.2.10).

Please try HTTP/2 keepalive ping. If it still doesn't work, file open a new issue.

[2017-12-05 19:01] gyuho commented on #8904
v3.2.11 is released. Please try https://github.com/coreos/etcd/releases/tag/v3.2.11 and let us know if it fixes the issue.

[2017-12-05 19:33] gyuho commented on #8969
@zbwright @joshix Can we sync https://coreos.com/etcd/docs/latest/op-guide/monitoring.html with latest release https://github.com/coreos/etcd/releases/tag/v3.2.11?

[2017-12-05 19:45] zbindenren commented on #8904
@gyuho thanks, I'll deploy it tomorrow on production and let you know.

[2017-12-05 21:39] #8924 closed

[2017-12-06 01:41] YuleiXiao commented on #8941
@xiang90 @gyuho I use tcpdump to  capture package in etcd server side, there is no package from client. It looks like rpc message is dropped in somewhere.

[2017-12-06 01:53] glorysdj commented on #6875
also encounter this problem:

failed to check the health of member 18d1950bae3c1568 on https://172.16.0.183:2379: Get https://172.16.0.183:2379/health: EOF
member 18d1950bae3c1568 is unreachable: [https://172.16.0.183:2379] are all unreachable
failed to check the health of member 60c9314b636087df on https://172.16.0.182:2379: Get https://172.16.0.182:2379/health: EOF
member 60c9314b636087df is unr

[2017-12-06 03:11] langkeer commented on #8977
anyone can help to answer it?

[2017-12-06 04:41] absolute8511 commented on #8977
may be caused by leader changed, same as  #8975

[2017-12-06 05:39] mitake commented on #8951
@kr1sten0 checking configuration change before consensus isn't ideal because their execution cannot be linearized e.g. multiple operations can be validated even if one of them makes another invalid. Of course it wouldn't be problematic in a practical manner. For example, the checking required by strict reconfiguration is executed before consensus. BTW this `ValidateConfigurationChange` was introdu

[2017-12-06 08:00] nvtkaszpir commented on #8964
Leaving temporary files - due to failure taking snapshot because of lack of space - then it's capacity planning issue which is out of scope of the etcd.

In any other scenario - leaving temp dump is for helping debugging issue to discover what was the cause of the failure - and then deleting file automaically is not advised, and means it requires manual intervention of th operator.

Either way it'

[2017-12-06 08:16] nvtkaszpir commented on #8822
Check your clients which connects to etcd. We've seen this when client tried to fetch too much data via grpc ( usually over 4MB).

[2017-12-06 13:08] hexfusion commented on #8803
@gyuho in this case the rejected connection message is coming from etcdserver/cluster_util.go:getClusterFromRemotePeers.

[code]
The err returned from this is `EOF` presumably re: https://github.com/golang/go/issues/19874 as you noted above.  As far as approach goes should we try to handle the proper error message here or earlier? Would checking for a literal `EOF` make sense?

[2017-12-06 13:30] hexfusion commented on #8781
If this is not been picked up I would like to give it a go.

[2017-12-06 13:53] devnev opened #8980 "Watch does not fail on complete loss of connectivity"
Steps to reproduce:
- build etcd and etcdctl from master or take latest release
- run `etcd`
- run `ETCDCTL_API=3 etcdctl watch --prefix ""`
- SIGSTOP etcd, e.g. using ctrl+z in terminal

Expected outcome:
After some timeout, the watch will fail. This would allow the caller to propagate an error further up the stack, telling clients to retry elsewhere where there might be a healthy connection.

Ob

[2017-12-06 14:32] gyuho commented on #8803
@hexfusion Thanks for looking it up! Yeah seems like `EOF` is expected when the TLS handshake is failed on the other side (ref. https://github.com/coreos/etcd/pull/7687#discussion_r110499257). We have TLS handshake failure handler in listener

https://github.com/coreos/etcd/blob/7e0fc6136eb4c5dc3c8c39ff48eb29e87b7158ab/pkg/transport/listener_tls.go#L58-L61

But in this case, `cc.Get(u + "/members"

[2017-12-06 14:32] #8803 closed

[2017-12-06 14:39] nicolasStevenin opened #8981 "FAIL github.com/coreos/etcd [build failed]"
Hello !
When I try to test the project github.com/coreos/etcd/ in version 3.2.11 it fails with

github.com/grpc-ecosystem/grpc-gateway/runtime
/usr/share/gocode/src/github.com/grpc-ecosystem/grpc-gateway/runtime/context.go:84: undefined: metadata.NewContext
FAIL    github.com/coreos/etcd [build failed]

Thank you for your help.

[2017-12-06 15:14] hexfusion commented on #8981
@nicolasStevenin I can not replicate this issue. Can you please post the steps you are taking?

[2017-12-06 15:27] nicolasStevenin opened #8982 "no buildable Go source files"
Hello !
When I try to test etcdctl, etcdctl/ctlv2/command, etcdctl/ctlv2  in version 3.2.11 it fails with

ctlv3/command/check.go:32:2: no buildable Go source files in /usr/share/gocode/src/gopkg.in/cheggaaa/pb.v1

Thank you for your help

[2017-12-06 15:57] shubheksha commented on #8379
Hi, I'd like to work on this issue if it's not taken already. This would be my first contribution so I'd appreciate some help regarding where to get started. 😄

[2017-12-06 15:58] shubheksha commented on #8632
Hi, I'd like to work on this issue if it's not taken already. This would be my first contribution so I'd appreciate some help regarding where to get started. 😄

[2017-12-06 16:05] hexfusion commented on #8982
Hi @nicolasStevenin are you using release binaries i.e https://github.com/coreos/etcd/releases/download/v3.2.11/etcd-v3.2.11-linux-amd64.tar.gz or building from source? Please provide exact commands/process used to reproduce the issue.

[2017-12-06 16:15] xiang90 commented on #8632
Sure! Glad you want to help.

On Dec 6, 2017 9:58 AM, "Shubheksha Jalan" <notifications@github.com> wrote:

[2017-12-06 16:42] Milad-Irani commented on #977
@crawford Can you please let me know how should it be addressed?
the mount name in /etc/systemd/system is 'path-a\x2db\x2dc.mount' and its content:

[Unit]
Description=Mount
[Mount]
What=example.com:/mount
Where=/path/a-b-c/
Type=nfs
[Install]
WantedBy=multi-user.target

However if its status is still Where= setting doesn't match unit name. Refusing

I am pretty confused how to use the systemd-esc

[2017-12-06 16:51] gyuho commented on #8981
@nicolasStevenin If you try building `v3.2.11`, make sure you have the matching grpc dependencies as etcd

https://github.com/coreos/etcd/blob/ed4d70888caef77a9b1d875be70e3e61d3374552/glide.yaml#L99-L100

`metadata.NewContext` is deprecated in the latest gRPC releases.

[2017-12-06 16:51] #8981 closed

[2017-12-06 16:52] gyuho commented on #8982
@nicolasStevenin Make sure you have the same `gopkg.in/cheggaaa/pb.v1` version as etcd in your GOPATH. See https://github.com/coreos/etcd/blob/release-3.2/glide.yaml.

[2017-12-06 16:52] #8982 closed

[2017-12-06 16:53] gyuho commented on #8379
@shubheksha That would be great. Please start from https://github.com/coreos/etcd/pull/8384 as reference. And let us know if you need more help.

Thanks!

[2017-12-06 17:12] gyuho commented on #8980
This is already working (since v3.2.10+, master branch--pre v3.3.0).

You are running a single node, and the watch client is expected to be stuck with the single node, retrying--even with keepalive settings (e.g. `ETCDCTL_API=3 etcdctl --debug --keepalive-time=5s --keepalive-timeout=5s watch --prefix ""`).

As of today (pre v3.3.0, gRPC v1.7.4), the retrial logic is all manual: just try again on t

[2017-12-06 17:42] devnev commented on #8980
Sorry, but its not clear to me what you're saying. Is it intended behaviour that the broken watch just sits there doing nothing?

I downloaded v3.2.11 which exposes the same problematic behaviour with my command and does not support the keepalive flags in your command.

I do not understand what you mean by `the retrial logic is all manual: just try again on transient failure`. Manual in what sense

[2017-12-06 17:46] xiang90 commented on #8980
A temp connection issue should not fail watcher unless you explicitly specify a timeout (but the timeout will also fail long running watchers, so probably not anyone would like to do that) or a keepalive mechanism to kill it.

[2017-12-06 17:48] xiang90 commented on #8980
You should provide etcd client all available endpoints, and the client expects to re-connect by itself. If you want to control reconnection yourself, you basically need to build your own balancer, which is a non-trivial of effort to get right.

[2017-12-06 17:50] devnev commented on #8980
This is exactly what I'm looking for, and can't find. Trying your etcdctl watch command with all the timeouts, the command does not terminate when i sigstop etcd.

[2017-12-06 18:12] devnev commented on #8980
I do not want to control reconnection. I want my own service's requests to fail when the service is completely unable to reach etcd, as the service is unable to operate correctly.

[2017-12-06 19:52] crawford commented on #977
@Milad-Irani It works fine for me. Make sure you are quoting the mount name in Bash, otherwise the forward slash will be interpreted.

[2017-12-06 22:20] gyuho opened #8983 "grpc-proxy: disable server-side grpc internal log"
[code]

[2017-12-06 22:38] gyuho opened #8984 "Documentation/op-guide: update container.md"
ACI is deprecated, so maybe drop `rkt coreos.com/etcd:v3.1.2` commands.
Clean up other commands as well.

https://github.com/coreos/etcd/blob/master/Documentation/op-guide/container.md

[2017-12-07 01:53] langkeer commented on #8977
OK. so you will fail fast by fixing code? is any other way to shorten the duration of the timer?

[2017-12-07 16:14] nicolasStevenin commented on #8982
it's ok ! my bad. @gyuho in fact, i have a bad gopkg.in/cheggaaa/pb.v1
thanks

[2017-12-07 19:10] devnev commented on #8980
Hi - any updates? As far as I can tell this is still unresolved, despite the rather premature closing of the issue.

[2017-12-07 19:11] gyuho commented on #8980
@devnev Sorry! I was unclear. And we need better docs around this.

It's retrying the single endpoint, since your command only runs a single node cluster. Again, if you want balancer failover, provide other endpoints in `--endpoints` flag.

This is expected. Watch command won't exit on connection loss or server shutdowns. Keepalive in watch was added to detect connection failures and trigger endpo

[2017-12-07 19:27] devnev commented on #8980
Thank you for the clarification and the workaround.

As a final note, even with multiple etcds, there can be total connection loss to the etcd cluster (in our case this was caused by some as of yet undiagnosed routing issue affecting only specific kubernetes pods). One of the benefits of watches I was expecting was to receive updates quickly, making the system more reactive. If a watch gets comple

[2017-12-07 19:31] gyuho commented on #8980
Agree. We will address this in the next release cycle (hopefully v3.4).
Also document the current watch limitations in 3.3 release.

[2017-12-07 19:31] xiang90 commented on #8980
@devnev @gyuho

An retry option should be provided to the users for watch. If the watcher cannot be reconnected for say 5 seconds, the watcher can return an error.

[2017-12-07 22:14] gyuho commented on #8904
@zbindenren Just checking in. Did the new release resolve the issue?

[2017-12-07 23:16] eiselesr opened #8990 "what are the flags for member remove in etcd 3?"
I was able to start a 2 node cluster and add a new node. I am trying to remove that node before starting it with `etcdctl member remove <memberID>` however  i get this error :

`Error:  client: etcd cluster is unavailable or misconfigured;
 error #0: dial tcp 127.0.0.1:4001: getsockopt: connection refused; error #1: dial tcp 127.0.0.1:2379: getsockopt: connection refused error #0: dial tcp 127.0.0

[2017-12-08 02:24] gyuho commented on #8969
This is now fixed. Please visit https://coreos.com/etcd/docs/latest/op-guide/monitoring.html.

Thanks for report!

[2017-12-08 02:24] #8969 closed

[2017-12-08 03:07] hexfusion commented on #8990
@eiselesr try passing the cluster endpoints.
`etcdctl --endpoints=http://10.0.0.1:2379,http://10.0.0.2:2379,[..] member remove <memberID>`

[2017-12-08 07:48] zbindenren commented on #8904
@gyuho no leader election since update. The last leader election you see is from the update.

![unbenannt](https://user-images.githubusercontent.com/1607088/33756144-655d7da6-dbf4-11e7-8ab8-abd84d1fce6f.PNG)

[2017-12-08 11:49] wojtek-t commented on #8935
FYI - we have changed our tests to run etcd in 3.1.11 version. So far it looks promising, but we need a bit more time to validate it.

[2017-12-08 13:29] hexfusion commented on #8976
@pavlo I hacked up an example using docker-compose, it uses TLS but you can remove that for your purpose. https://github.com/hexfusion/etcd-compose-examples/tree/master/discovery. See if you can update the cluster using etcdctl https://github.com/coreos/etcd/blob/master/Documentation/op-guide/runtime-configuration.md. Hope that helps your experimentation.

[2017-12-08 14:30] xiang90 commented on #8976
You do not need to do anything. There is no such concept like `dynamic cluster` in etcd. No matter what bootstrap mechanism you use, you will end up with the same `static cluster`, and you need to manage the cluster on your own after the bootstrap. For a cluster that is created by using discovery service, the discovery token will simply be ignored after the first bootstrap. The member will persist

[2017-12-08 14:30] #8976 closed

[2017-12-08 14:38] xiang90 commented on #8935
@jpbetz @wojtek-t

We probably should move your test to upstream. It will make sure that etcd wont introduce regression that breaks it.

It is fine for the test case to be specific to GCP environment. All our e2e descriptive tests are running against GCP: http://dash.etcd.io/dashboard/db/functional-tests?orgId=1.

@saranbalaji90 from AWS will setup the test on AWS environment. Azure might want to

[2017-12-08 14:40] #8916 closed

[2017-12-08 14:42] gyuho commented on #8904
@zbindenren Thanks for confirming!

[2017-12-08 14:56] xiang90 commented on #8781
@hexfusion sure. thanks.

[2017-12-08 15:01] xiang90 commented on #4207
it seems this is a non-issue. etcd is fast enough to remove large chunk of data. And we have added some warnings when etcd takes a long time to execute one command.

[2017-12-08 15:01] #4207 closed

[2017-12-08 15:49] eiselesr commented on #8990
Ah yes, that works. Thanks.  My problem was I was putting the --endpoints flag after member remove.

[2017-12-08 15:49] #8990 closed

[2017-12-08 17:19] gyuho opened #8993 "clientv3: document context.Context parameter to streaming APIs"
Related to https://github.com/coreos/etcd/issues/8980.

We haven't documented how our stream APIs work with client's contexts.

https://github.com/coreos/etcd/blob/e3da56a8dfb88c7ee8f6c282c986fb5154700910/clientv3/watch.go#L44-L53

https://github.com/coreos/etcd/blob/e3da56a8dfb88c7ee8f6c282c986fb5154700910/clientv3/lease.go#L116-L117

https://github.com/coreos/etcd/blob/e3da56a8dfb88c7ee8f6c282c9

[2017-12-09 02:58] xiang90 commented on #8964
/cc @jpbetz maybe you can help to improve the documentation on this?

[2017-12-09 03:00] xiang90 commented on #8890
I am closing this due to low activity. What might happen is that the cluster was unstable, and the leader was flipping. Without logging, it is impossible to tell what exactly happened.

[2017-12-09 03:00] #8890 closed

[2017-12-09 03:01] xiang90 commented on #8984
/cc @spzala this is mainly a documentation issue. maybe you can help when you read though the doc?

[2017-12-09 03:37] spzala commented on #8984
@xiang90 thanks much and yes absolutely, this will be good start :-). I will be working on it soon get back to home tomorrow.

[2017-12-09 10:25] sokoow commented on #8904
Any sign of 3.3 release yet ?

[2017-12-09 12:48] hexfusion commented on #8904
@sokoow  v3.3.0-rc.0 is in the works. https://github.com/coreos/etcd/pull/8979 no official ETA yet, but I would say the PR is a good sign. 👍

[2017-12-10 12:30] EqbalS commented on #8965
@xiang90
I couldn't reproduce it outside kubernetes.
etcd seems to be ok and there is no problem with performance and there are no errors in the logs.
And the strange thing is that it is only happening in one of the nodes.
I think it's just a inconsistency in metrics that's causing a false alarm. I've just silenced the alert for now.

[2017-12-11 09:39] cnljf commented on #8914
hi, I try to use jwt token, but it doesn't work. here is the cmd line:
`
/usr/local/etcd-3.2.9/etcd --config-file=/etc/etcd/2391.yml --auth-token=jwt,pub-key=/etc/etcd/app.rsa.pub,priv-key=/etc/etcd/app.rsa,sign-method=RS512
`
And has this log:
`
2017-12-11 17:36:37.259649 W | auth: simple token is not cryptographically signed
...
2017-12-11 17:38:57.115057 D | auth: authorized root, token is geZY

[2017-12-11 14:40] pavlo commented on #8976
@xiang90, thanks for clarifying this matter for me, you were right that I thought there's a dynamic cluster concept which led me to the whole lots of confusions.

I am getting into a trouble when trying to work my way further. Here's what I do:

a) Create three members (M1, M2, M3) and one proxy (P1) using the following in `user-data`

     etcd2:
         advertise-client-urls: http://$private_ip

[2017-12-11 15:05] rboyc opened #8997 "Cluster setup prevented by default setup"
Hi

I am installing etcd package in order to setup a cluster

As soon as I have run

apt-get install etcd

I can check the member list

etcdctl member list

which displays  that I have an instance running:

ce2a822cea30bfca: name=ip-172-31-19-228 peerURLs=http://localhost:2380,http://localhost:7001 clientURLs=http://localhost:2379,http://localhost:4001

I try to start cluster with a discovery toke

[2017-12-11 15:31] xiezhenye opened #8998 "All atomic Set should be one shot in go client"
Currently, only PrevNoExist Set is one shot. PrevValue, PrevIndex Set should also be one shot. Otherwise, when client got an 101: Compare failed, There could be to situation:

1. The value is changed by other process.
2. Got a network/cluster error but the set operation is succeeded, and then a retry got a compare failed.

We are not able to make certain what has happened.

[2017-12-11 18:34] jpbetz commented on #8964
@xiang90 Sounds good. I'll have a look.

[2017-12-11 19:43] xiang90 commented on #8935
I will be surprised that etcd 3.1.11 fixes the root cause. I feel the root cause is somewhere in raft pkg, and it is a pretty subtle one.

We probably should still spend sometime to understand why it happens under 3.0.10, and if 3.1.x fixes it which commit exactly fixed it.

/cc @jpbetz @wojtek-t

[2017-12-11 19:50] wojtek-t commented on #8935
Definitely - Joe already said that he will be looking into that.

[2017-12-11 19:53] jpbetz commented on #8935
Yes. As glad as I am to see the problem go away. It makes me uncomfortable
not knowing why.  We’ll get to the bottom of it.

On Mon, Dec 11, 2017 at 11:50 AM Wojciech Tyczynski <
notifications@github.com> wrote:

[2017-12-11 23:34] anshulpundir opened #9000 "Snapshot splitting"
When shipping snapshots to raft followers, the leader raft will return a single message containing the snapshot data. When sending large snapshots over gRPC, we would need to set large message size limits and also large timeouts. This can make the system unpredictable.

While users of etcd/raft can implement their own streaming, it might be more suited to provide the ability to set max message siz

[2017-12-12 00:34] anshulpundir commented on #9000
@xiang90 LMK what you think about this. If we get consensus that this will be useful to have, I would be interested in working on this.

[2017-12-12 01:17] garyyang85 opened #9001 "E1211 07:19:48.090611 00006 watch.go:43] Watch subnets: invalid character 'â' looking for beginning of value"
I am using etcd3.0.17 and flannel 0.6.2 in my kubernetes, there are a lot of network error log suddenly in my flannel log:
**E1211 07:19:40.077502 00006 watch.go:43] Watch subnets: invalid character 'â' looking for beginning of value**

Etcd status is healthy, some output for the etcdctl:
etcdctl --peers https://localhost:2379 ls /cluster.local/network/subnets
/cluster.local/network/subnets/10.254

[2017-12-12 01:54] hexfusion commented on #8997
@rboyc

Discovery token is for bootstrapping a cluster. As you already have a node running I don't believe discovery token is going to work.

I think what you want to do now is basically what the docs say regarding adding new member.
https://github.com/coreos/etcd/blob/master/Documentation/op-guide/runtime-configuration.md#add-a-new-member

[code]

which will give you something like
[code]
Then fo

[2017-12-12 03:18] hexfusion commented on #9001
I think this is some kind of invalid data possibly encoding issue? I have seen this before copying and pasting into shell. This is not visible in the shell but you can see the odd hyphens before endpoints below. So I think the issue is not so much with the character itself. Doesn't answer the question of why but maybe it helps shed a little light.

[code]

[2017-12-12 07:10] djain13 opened #9002 "Newly added member to etcd cluster remains unhealthy and leak memory."
We are running a three node etcd cluster. Etcd members are running inside docker container.
We are using `quay.io/coreos/etcd:v3.1.7 ` docker image. We have SSL enabled on our etcd members.

One fine day- etcd3 node/container went down. We brought that back and from then on it never became `healthy` and is leaking memory. Etcd container is running on 32GB host and bloats all the way upto to 32GB a

[2017-12-12 08:08] rboyc commented on #8997
Thanks @hexfusion

I guess my problem is how do install etcd without it initially bootstrapping, so that I can create it with my cluster config?

thanks

[2017-12-12 08:16] zrss commented on #8935
I encountered a similar case, but it is due to *no space left on device*, and the etcd holds v2 and v3 data

## etcd version

[code]

## produce

It produced by following steps ...

I run a three node (HA) etcd cluster (such as node-1/node-2/node-3), Unfortunately, after a long time, node-1 was out of disk, in that time the remain two etcd members still running. Then I clear some useless data to f

[2017-12-12 11:32] hexfusion commented on #8997
@rboyc etcd is a binary please look at the [download and build guide](https://github.com/coreos/etcd/blob/master/Documentation/dl_build.md) to install only the binary.

Although the apt-get brings in the binary it also presumably installs a systemd unit file with possible dependencies on ENV variables to bootstrap a cluster correctly.  This is unclear to me and would require more review on your en

[2017-12-12 17:22] gyuho commented on #4744
Related https://github.com/coreos/etcd/issues/8935#issuecomment-350977222.

[2017-12-12 18:33] xiang90 commented on #9001
@garyyang85

As @hexfusion mentioned, it is probably due to bad data or bad encoding rather than etcd itself. I would suggest you open an issue in flannel repo to get more help. Thanks!

[2017-12-12 18:33] #9001 closed

[2017-12-13 00:30] xiang90 commented on #9000
@anshulpundir

We do have streaming snapshot support in etcd. The suggested way to handle the problem you described is to always only include metadata into the raft snapshot message, and use a side-channel to supply the actual application snapshot.

The basic workflow would be:

1. send raft snapshot message with metadata
2. after receive the snapshot message with metadata, the follower fetches th

[2017-12-13 01:21] spzala opened #9003 "The readme Running etcd section lacks pre-built install"
The current `Running etcd` section of README seems only shows how to run etcd for installation
with master branch. If user has installed a pre-built release following the instructions on the release page, the ./bin/etcd won't work to bring up the etcd as such. The `Getting etcd` section covers both, pre-built and master branch, with recommendation of pre-built usage so the Running etcd section sho

[2017-12-13 01:22] spzala commented on #9003
I am working on the fix.  @xiang90 @gyuho Thanks!

[2017-12-13 01:50] anshulpundir commented on #9000
Ahh, I didn't realize that this was the case. I thought I saw some code in etcd which sent snapshots over http. But anyway, the way you suggested works. Wondering why you decided to go with different semantics (pull vs push for general raft flow) ? Can you please share the motivation behind this approach and the other approaches you considered ?

@xiang90

[2017-12-13 02:26] hexfusion commented on #9002
Hi @djain13 just for context what was your process for bringing the node back into the cluster. Thanks!

[2017-12-13 03:53] zyf0330 opened #9006 "On master, key doesn't be deleted when bound lease expires"
step:
- `etcdctl lease grant 30`
- `etcdctl put a 123 --lease leaseid`
- `etcdctl lease timetolive leaseid` and got `lease 4289604df903d409 granted with TTL(30s), remaining(-4s)`

Lease expired but it and key still exists. Correct output of expired lease should be `lease 4289604df903d409 granted with TTL(0s), remaining(-1s)`

[2017-12-13 04:20] djain13 commented on #9002
@hexfusion
Here is what we follow:

- Stop and remove the etcd docker container, essentially bring down the etcd process.
- Remove the member from the cluster using `member DELETE` api
[code]
- Clean up the etcd data from docker host. We maintain etcd data on host and mount the same on container.

- Add a new member, using `etcdctl  member add`
[code]

- Once the member is successfully added, star

[2017-12-13 05:41] mitake commented on #8914
hmm, it's strange. Could you share your 2391.yml?

[2017-12-13 05:43] langkeer commented on #8977
anyone can help to answer my questions? thanks!

[2017-12-13 06:22] cnljf commented on #8914
I rename 2391.yml to 2391.txt. Because git dosen't support yml.
[2391.txt](https://github.com/coreos/etcd/files/1554305/2391.txt)

[2017-12-13 09:12] hexfusion commented on #9006
Hi @zyf0330 I can not replicate this can you post logs? What version of go are you using and what are steps to compile? Thanks!

[code]

[2017-12-13 10:39] hexfusion commented on #8977
@langkeer your logs note: Nov 10 15:06:15 etcd[1627]: etcd Version: 3.1.4 have you tested most recent version ie 3.1.11?

Can you consolidate the ENV vars and flags you are passing for the cluster restart I see in the logs? Thanks!

[2017-12-13 10:50] zyf0330 commented on #9006
[code]
It seems that only go version is different. But I have problem still.

[2017-12-13 10:51] zyf0330 commented on #9006
I have test that at release v3.2.11, this problem doesn't exist.

[2017-12-13 11:03] hexfusion commented on #9006
@zyf0330 I just built 1.9.2 and tested against master. Can you confirm your build process?

[code]

[2017-12-13 12:17] hexfusion commented on #8997
@rboyc feel free to post the unit file content and maybe we can shed more light?

[code]

[2017-12-13 12:23] hexfusion commented on #9002
@djain13 great thanks, I will try and play with this tonight and to confirm your using SSD drives? Could you also post the output of the logs from node 3 please, that should shed a bit of light.

[2017-12-13 14:24] djain13 commented on #9002
Thanks for looking into this issue @hexfusion . Yes we store etcd data is stored on SSD drive.
Some more context around how we are using etcd- we have a pool of close to 400 hosts running docker daemon, docker containers scheduled on these hosts are networked using `docker overlay n/w`, and we use etcd to store data related to overlay networks.

Here are the logs from etcd container leaking memory

[2017-12-13 15:19] discordianfish opened #9007 "etcd notifies readiness to systemd before version becomes available"
When etcd starts up, it notifies systemd that it's ready to accept requests. At this point though, requests to /version can still return an empty struct.

I filled https://github.com/coreos/bugs/issues/2286 suspecting an issue with the systemd unit but that doesn't appear to be the case. Lemme copy the relevant bits:

[2017-12-13 16:46] xiang90 commented on #9000
I do not think pull vs push matters a lot in theory. But for us, we have a use case that an out cluster component might pull a snapshot from leader. So we wanted to build that path anyway.

The motivation for why the snapshot works this way? The main principle is to keep application logic separated from raft logic as much as possible. There is no need to couple application snapshot sending logic i

[2017-12-13 16:47] xiang90 commented on #9000
@anshulpundir

Can you help to improve our documentation on raft about snapshot sending if possible?

[2017-12-13 17:11] #9003 closed

[2017-12-13 17:35] xiang90 commented on #8975
We could be smarter about this. However, the raft library does not return an error for dropping messages right now. Do you want to help on this one?

[2017-12-13 22:17] aauren opened #9008 "Root User Gets "permission denied" After Enabling Authentication"
After creating the root user and ensuring that the root user has the root role, enabling authentication seems to block the root user from doing anything. The documentation that I followed is here: https://github.com/coreos/etcd/blob/master/Documentation/op-guide/authentication.md#enabling-authentication

So far I have found this to be reproducible 100% of the time.

It was run with the following o

[2017-12-13 22:52] xiang90 commented on #9008
i did not see you authenticate yourself as root.

/cc @mitake might take a deeper look into this one.

[2017-12-14 00:37] lnx-bsp opened #9009 "TCP sockets not closing properly when etcd is running proxy mode."
Setup a small cluster of 4 nodes, having **3 nodes + 1 proxy** (config has ETCD_PROXY="on" which is not the default).

On the proxy node, check for open TCP sockets like this:

    netstat -n -p -a | fgrep etcd

When local clients on the proxy node connect to 127.0.0.1:2379 we can see a new connection from an ephemeral TCP port on the proxy node over to port 2379 on one of the other three working

[2017-12-14 01:31] zyf0330 commented on #9006
You are right, I test again with deleting old data and no problem.
I use old etcd data dir, so this problem occurs.
So how to solve it?

[2017-12-14 01:35] xiang90 commented on #9006
We need a way to reproduce this problem.

I am not sure what is the `old data`. If you can reproduce it with `old data`, you probably need to upload the `old data` somewhere, and tell us the steps to reproduce the problem.

[2017-12-14 01:36] zyf0330 commented on #9006
So do you need data dir or real k/v?

[2017-12-14 01:38] xiang90 commented on #9006
We need a way to reproduce it. You should write down the exact steps to reproduce the problem. If any data is needed to reproduce it, it should be uploaded somewhere.

[2017-12-14 01:55] zyf0330 commented on #9006
I found it. This is reproduce step.
1. use c886bda7f and build
1. add user root:root and enable auth
1. `grant lease` and `put k v --lease leaseid`
1. wait to see it

[2017-12-14 02:17] mitake commented on #9008
@aauren can I see the log of your cluster?

[2017-12-14 03:06] hexfusion opened #9010 "e2e: add leaseTestTimeToLiveExpired"
We should test the output of an expired lease via keepalive. Currently e2e tests lack this check.

ref: https://github.com/coreos/etcd/issues/9006

[2017-12-14 05:14] mitake commented on #8914
hmm, does every member share the same configuration and command line options?

[2017-12-14 08:21] WandyLau opened #9011 "mismatched cluster ID between containers from different VM"
I got a environment. there are two VM which can communicate with IP like:192.168.XXX.XXX

Let's say I got two container in the VM1 and one in the VM2.
I try to bring up this three to a cluster.
The VMs export the responding ports to the containers. I can ping through the VM1 from VM2.
The trick is whenever I try to bring up the cluster, error: mismatched cluster will be raised.

As I found the on

[2017-12-14 09:48] rboyc commented on #8997
Thanks, workking when i use binarys

[2017-12-14 09:48] #8997 closed

[2017-12-14 11:21] absolute8511 commented on #8975
Yeah, I am looking into this.

[2017-12-14 12:03] hexfusion commented on #9010
I am going to pick this up.

[2017-12-14 12:35] cnljf commented on #8914
yes.
I will try again. Contact you later.

[2017-12-14 13:35] gyuho commented on #9011
Don't use localhost in advertise URLs and initial-cluster flag.

Please see https://github.com/coreos/etcd/blob/master/Documentation/faq.md#what-is-the-difference-between-listen-clientpeer-urls-advertise-client-urls-or-initial-advertise-peer-urls.

[2017-12-14 13:35] #9011 closed

[2017-12-14 13:44] gyuho commented on #9009
What is your OS file descriptor limit?

[2017-12-14 14:06] gyuho commented on #9007
Double-checked etcd code, and everything looks correct. We start client listener first and version handler. And then, notify systemd.

Any possibility that etcd stopped when kubeadm sends requests to `/version`?

`After=` only checks the unit start, but not the successful activation. `Requires=` seems more strict?

https://www.freedesktop.org/software/systemd/man/systemd.unit.html

[2017-12-14 14:06] gyuho commented on #8998
What do you mean?

[2017-12-14 14:31] xiang90 commented on #9007
@discordianfish Can you provide the etcd version you use, and the steps to reproduce the problem?

[2017-12-14 14:32] xiang90 commented on #9010
@hexfusion thanks!

[2017-12-14 16:42] Iulian7 opened #9014 "Etcd does not build"
I am trying to embed etcd in an application. I am using dep and have the following entry for etcd:
[code]

When I try to build the project I get errors from etcd:

[code]

If I remove the version and use the master branch I get the same errors. I am building this on macOS High Sierra and go 1.9.2.

[2017-12-14 16:48] gyuho commented on #9014
Please try pin other dependencies in etcd as well

Especially this

https://github.com/coreos/etcd/blob/b48cf77abb78755c8654eb8da61bc90a32802e7d/glide.yaml#L84-L85

[2017-12-14 16:48] #9014 closed

[2017-12-14 17:48] xiang90 commented on #9008
@aauren

sorry. i did not notice that you append the user at the end for the last two commands.

[2017-12-14 19:38] #8872 closed

[2017-12-14 22:04] lnx-bsp commented on #9009
The OS limit is huge. But that's not the point, because I can get a couple of days of operation out of the etcd proxy before needing a restart, and during that time the number of open sockets grows. Eventually it hits the prlimit on that etcd process (around 64k).

    # cat /proc/sys/fs/file-max
    379890

    # prlimit --pid 12043
    RESOURCE   DESCRIPTION                             SOFT

[2017-12-14 22:59] gyuho commented on #9009
We might have kept connections alive for reuse.

https://github.com/coreos/etcd/pull/2900 configures `MaxIdleConnsPerHost` as 128.

https://github.com/coreos/etcd/blob/014c3750999d0658203761ad35793847001b76ca/etcdmain/etcd.go#L211-L215

We could call `*http.Transport.CloseIdleConnections` everytime proxy happens, but connections won't be reused. Or set `*http.Transport.IdleConnTimeout`.

@lnx-bsp

[2017-12-15 01:48] lnx-bsp commented on #9009
I will check with the boss how much resource they want to put into this. I'm better with C programming, not so strong on golang. We might consider going to a configuration without any proxies if that's not to difficult to achieve.

Reuse of idle connections is fine, if it also would reduce the need for new sockets being opened. I will collect some tcpdump traffic to confirm, but my general feeling

[2017-12-15 02:24] WandyLau commented on #9011
yes, but this container only has the local ip. I can not use the IP of VM which will result in error. And the container ip is 10.8.2.X.  I don't think this ip can be connected from outside. Actually the connection is achieved only by the exposed port of VM. Anyway I will try with the 10.8.2.X.

[2017-12-15 02:48] WandyLau commented on #9011
OK, one more question just for the confirmation. Can I just use the local address of container with the exposed IP to be connected from external?

[2017-12-15 02:50] gyuho commented on #9011
You can open the host port to your container port (e.g. `-p 2379:2379`).

Advertise URLs must be reachable by other nodes. How you set up local address in container depends on the container tool.

[2017-12-15 02:54] xiang90 commented on #9006
@gyuho @hexfusion

are you able to reproduce this? it seems like a bug.

[2017-12-15 03:05] gyuho commented on #9006
@xiang90 Yeah, easily reproducible. Will fix.

[code]

[2017-12-15 03:09] gyuho commented on #9006
Also the `lease timetolive` output is broken.

[code]

Should be

[code]

[2017-12-15 03:30] hexfusion commented on #9006
@xiang90 added a test for via https://github.com/coreos/etcd/pull/9017 but it was passing for me.

[2017-12-15 05:28] gyuho commented on #9006
This is server-side regression when it upgraded gRPC to v1.4.x (https://github.com/coreos/etcd/pull/7896).
So this affects etcd v3.2.10+ with gRPC v1.7.x.

I have a fix https://github.com/coreos/etcd/pull/9018.
And we need another v3.2 release with this fix.

[2017-12-15 05:41] WandyLau commented on #9011
yes, actually I did export the port to container from host.  And the containers now across the VM can communicate with each other, because I got the mismatched cluster ID error. The problem now is I still got the error of mismatched cluster ID. But I can reach the cluster with etcdctl on one VM and cluster on the other VM. So I am confused.

[2017-12-15 05:48] gyuho commented on #9011
@WandyLau Make sure clean up the data directory when you restart?

[2017-12-15 06:40] zyf0330 commented on #9006
About format mentioned in (comment)[https://github.com/coreos/etcd/issues/9006#issuecomment-351901333], should it keep being `lease 694d60581f75b714 granted with TTL(0s), remaining(-1s)` after expiring?

[2017-12-15 06:44] gyuho commented on #9006
@zyf0330 Yes, the output should be fixed as well.

[code]

is the correct format.

[2017-12-15 06:46] xiang90 commented on #9006
Why the remaining can be negative?

On Thu, Dec 14, 2017 at 10:44 PM Gyuho Lee <notifications@github.com> wrote:

[2017-12-15 06:47] gyuho commented on #9006
@xiang90 Just found with auth disabled, we print `lease 694d6058ec511804 granted with TTL(0s), remaining(-1s)`. Will fix that output as well in another PR.

[2017-12-15 07:45] WandyLau commented on #9011
@gyuho yes. absolutely. Is it possible that different VM will produce different cluster ID according the different --initial-cluster parameters?  Because in different VM, this parameter is different. Just doubt it.

[2017-12-15 08:17] gokepler opened #9019 "Does etcd support watcher group feature?"
something that is similar to kafka's consumer group, to etcd is that when several watchers belong to the same group and only one of them will be notified when a event fired.

[2017-12-15 09:31] chaithramohan opened #9021 "etcdmain: database file does not match with snapshot"
Hello,

We use a kubernetes cluster with 3 or 2 etcds and we see that sometime one of the etcd member goes into the below issue:

we see the issue that the etcd can't speak with his cluster members anymore. because his data is inconsistent or differs from the other nodes in the cluster.
You see following error message
2017-12-01 10:10:01.168631 I | etcdserver: recovered store from snapshot at inde

[2017-12-15 09:39] chaithramohan commented on #9021
Hello,

We use a kubernetes cluster with 3 or 2 etcds and we see that sometime one of the etcd member goes into the below issue:

we see the issue that the etcd can't speak with his cluster members anymore. because his data is inconsistent or differs from the other nodes in the cluster.
You see following error message
2017-12-01 10:10:01.168631 I | etcdserver: recovered store from snapshot at inde

[2017-12-15 11:00] discordianfish commented on #9007
Thanks for the quick response! I'm using the etcd-wrapper on coreos 1520.8.0. If etcd would have been stopped at this point, I would have gotten a different error. I'll try to use Requires= and see if it at least makes the problem more obvious, as well as getting logs for both kubeadm and etcd-member to see how events line up. Will update you next time I get to work on this.

[2017-12-15 13:09] lnx-bsp commented on #9009
I collected about 4 hours of packet capture on TCP port 2379 only looking at traffic between servers (ignoring local traffic). I see a lot of connections open from ephemeral ports on the proxy node over to port 2379 on the other three nodes, and each of these is sending TCP keep-alives back and forth (burst of 4 packets every 30 seconds, 2 packets in one direction, 2 in the other direction like th

[2017-12-15 13:34] hexfusion commented on #9002
@djain13, sorry for the delay I will have time this weekend to review. Thanks!

[2017-12-15 13:47] hexfusion commented on #9019
Hi @gokepler could you provide a more detailed example of your use case and how etcd should respond? I am unfamiliar with `kafka's consumer group`.

I have questions like what is the group of? watchers only, users? What is the logic for choosing which is notified when an event is triggered if multiple watchers exist? Txn seems to possibly provide the foundation for something like this but... we do

[2017-12-15 13:56] hexfusion commented on #9021
Hi @chaithramohan would you mind updating your title to something a little more meaningful so others can reference. Maybe `etcdmain: database file does not match with snapshot` Also, you could consolidate these two messages here. Thank you!

[2017-12-15 14:10] chaithramohan commented on #9021
@hexfusion done

[2017-12-15 14:19] djain13 commented on #9002
@hexfusion
I enabled swap on the host using `swapon -a` command. And post that newly added etcd container/member is not leaking memory. From last 24 hours the container is up and stayed at 1.5G.
But the node still unhealthy, though the overall cluster is healthy.
I made several passes through the log, but couldn't find any thing other than some random httpv2 call timing out, I see similar random e

[2017-12-15 14:32] djain13 commented on #9002
Some more updates:
[code]

[2017-12-15 16:57] gyuho commented on #9006
@xiang90 This is fixed via https://github.com/coreos/etcd/pull/9018. Also the output, we return TTL -1 on lease not found. So `lease 694d60581f75b714 granted with TTL(0s), remaining(-1s)` is the correct output.

[2017-12-15 17:00] xiang90 commented on #9006
Is it better to explicitly return lease not found? -1 still seems not
intuitive.

On Fri, Dec 15, 2017 at 8:57 AM Gyuho Lee <notifications@github.com> wrote:

[2017-12-15 17:09] gyuho commented on #9006
@xiang90 The change was made from 3.1 to 3.2. https://github.com/coreos/etcd/blob/master/Documentation/upgrades/upgrade_3_2.md#client-upgrade-checklists-320

Also, just found out this only happens in master since we didn't backport https://github.com/coreos/etcd/pull/8031. No need for another v3.2.12 release.