[2018-07-17 16:12] gyuho commented on #9926
@yehaha9876 You can't configure membership back to 1, because 2-node cluster quorum is 2.

Try

[code]

from the single node.

And add back second node.

[2018-07-17 16:47] jpbetz commented on #9919
Sorry for the delay, this is my top priority for today.

[2018-07-17 16:52] gyuho commented on #9919
@jpbetz No problem. I think this will take awhile :)

[2018-07-18 01:42] #9908 closed

[2018-07-18 06:57] shenlanse opened #9930 "[Question] get value from slave at once after put operation"
**Version**

[code]

**Environment**

I have deployed 5 node etcd cluster.

[code]

**What happened**:

All my operation is to slave node, for example `http://10.173.32.14:2379`.

I get value **at once after I put**. I want to know if there is any possiblity that i can't get expected value.

That is to say, client access slave member. Firstly, client `put key value`. When the slave member send rep

[2018-07-18 06:59] shenlanse commented on #9930
@gyuho

[2018-07-18 07:12] xdk25d opened #9931 "disk io casue " etcdserver: publish error: etcdserver: request timed out" forever"
I only has one etcd in cluster, and start etcd as below:

    ./etcd --name etcd-network-0
    --data-dir=/mnt/DATA/ETCD/etcd-network/etcd-network-0
    --listen-peer-urls https://175.15.100.25:2382
    --listen-client-urls https://175.15.100.25:4001
    --advertise-client-urls https://175.15.100.25:4001
    --initial-advertise-peer-urls https://175.15.100.25:2382
    --initial-cluster etcd-networ

[2018-07-18 09:00] FatMole opened #9932 "etcdctl put command issue"
Hi,

When using etcd 3.3.8, and run below command:
[postgres@rh2 ~]$ ETCDCTL_API=3 etcdctl put test1 "Hello World!"
bash report error:
-bash: !": event not found

Question: Why we do not support ! in the value?

Thanks!

[2018-07-18 12:33] NaNi-Z opened #9933 "etcd cluster vote constantly!"
etcd version 2.3.7
It is a three nodes cluster. Because of power cut, one of the etcd is down which snopshot file is broken. The rest two etcd are running well but vote constantly.
The network and disk are well, I checked the metrics. I tried to restart, but it doesn't work.
At the beginning of vote, both of the etcd start votes constantly, and did not reponse the other. After a while, one becomes

[2018-07-18 12:38] gyuho commented on #9930
Put succeeds whenever the quorum of cluster commits and applies that entry, so if there is one partitioned follower, it may not have the latest data.

[2018-07-18 12:38] #9930 closed

[2018-07-18 12:39] gyuho commented on #9933
What's the server error message? And metrics output?

[2018-07-18 12:41] gyuho commented on #9932
Try `./bin/etcdctl put foo "a b\!"`?

[2018-07-18 12:41] #9932 closed

[2018-07-18 12:53] NaNi-Z commented on #9933
@gyuho
The error is just "publish error: etcdserver: request timed out" and can not connect to the failed one. The vote has no error.
The log is like(sorry I can't copy)
xxx is start vote   term 22323
xxx is set to candidate
sent vote message to yyy
sent vote message to zzz
xxx is start vote   term 22324
xxx is set to candidate
sent vote message to yyy
sent vote message to zzz
...(repeat)

Metrics

[2018-07-18 17:56] xiang90 commented on #9911
@cfc4n

1. your application should consume the chan returned here: https://github.com/coreos/etcd/blob/master/clientv3/lease.go#L133

2. you are right about the assignment issue

Can you send a PR to fix it? Please also add an integration test. Thanks!

[2018-07-18 17:56] xiang90 commented on #9911
@gyuho This is a bug. We need to backport the fix.

[2018-07-18 17:57] xiang90 commented on #9933
We are not actively maintaining etcd v2 any more. Please try etcd 3.x releases.

[2018-07-18 17:57] #9933 closed

[2018-07-18 23:08] jpbetz commented on #9919
If I'm understanding the code correctly, we might want to remove the `host == "" && ep != ""` conditional when we create the `dialer.DialContext` in `dialSetupOpts` entirely. This circumvents whatever decision the balancer made. We could instead modify the maintenance APIs to use a different balancer that pins us to a specific endpoint like we want.  This seems cleaner since instead of overloading

[2018-07-19 00:51] FatMole commented on #9932
yes, after add \, it can be added, but the result also has \ like:
[postgres@rh1 ~]$ ETCDCTL_API=3 etcdctl get test1
test1
Hello World\!

It meas if I use my own program I'll get a string include \ ,
It is ok to add special handling code with this \ , but do we have a way to put string without \ ?
I mean get "Hello World!" from etcd.

Thanks.

[2018-07-19 00:52] NaNi-Z commented on #9933
(ó﹏ò｡)

[2018-07-19 00:53] gyuho commented on #9932
@FatMole

Did you mean the new line character?

I would take a look into Go clientv3 library, and do not worry about handling corner cases around delimiter.

[2018-07-19 00:55] FatMole commented on #9932
yes, I mean I will get Hello World\!, with slash.
And I wonder if there's a way I can get the reture string without slash.

Thanks.

[2018-07-19 02:47] zimulala opened #9935 "The key is not deleted when the bound lease expires"
My program's general operations on the etcd is as follows:
[code]
When my program exited for more than ten hours, I found that the information in etcd still existed. The information is as follows:
[code]
[code]

The relevant logs obtained from the etcd are as follows:
[code]
[code]

I guess the reason may be that it successfully deleted `leaseMap`, but `txn` failed in the `Revoke` function. Is tha

[2018-07-19 08:57] zimulala commented on #9935
After I restarted this etcd, the information retrieved is as follows：
[code]

[2018-07-19 16:52] gyuho commented on #9912
[code]

Better performance with Go 1.10 as well. Will set Go version to 1.10 in our 3.3 branch.

[2018-07-19 16:52] #9912 closed

[2018-07-19 19:06] jpbetz commented on #9919
I'll prototype is real quick and see if works out to be simpler/cleaner or not.

[2018-07-19 21:02] spzala opened #9937 "etcdctl put doesn't return when value not provided"
If value is not provided, then ```etcdctl put``` doesn't return. For example, ```etcdctl put foo``` does not return. If you do not provide value for the key then etcd try to read stdin but if it wasn’t provided via pipe, the command doesn’t return. Provided value via keyboard doesn’t get processed.

[code]

[2018-07-19 21:10] manishrjain opened #9939 "Tick missed to fire if Ready() is taking a long time"
In Dgraph, when we sometimes have to retrieve a snapshot, or if a server gets killed and rejoins the cluster, it takes a while to retrieve the snapshot, or replay the raft logs -- during this time, we get these warnings:

[code]

Can we do something about them, and if so what can we do? Should we run ticks in a separate goroutine than Ready? Currently, we have them all in one select loop.

[code]

[2018-07-20 01:56] shenlanse commented on #9930
Seems that you don't get my point. Suppose the cluster is healthy, all members work fine. I put key value to **one slave**, when command return, I get it from **this same slave** at once. I want to know if there is any possiblity that i can't get expected value.

[2018-07-20 02:06] gyuho commented on #9930
You can't. When put returns, it's already replicated in majority nodes.

The follower returning OK on put command means it's already applied. So, no.

[2018-07-20 02:08] shenlanse commented on #9930
@gyuho  Thanks a lot.

[2018-07-20 02:16] shenlanse commented on #9930
@gyuho  Sorry to bother you again.

when put return, I know this request has already been applied to majority members. I want to make sure again this request has already been applied to **this slave** also.

Serializable read, Not Linearizable read.

[2018-07-20 02:19] gyuho commented on #9930
Then there's no guarantee. The follower may return old data, since all writes are forwarded to leader.

[2018-07-20 02:29] shenlanse commented on #9930
[code]

my test script:
write to one follower and get from this same follwer at once.
[code]

I run this script to different followers concurrently(key and value are also different from other followers, avoid influence each other). Also put chaos when test, for example unrelated concurrent operation, large data.

Unexpectedly, I always get new value, `wrong` output never happens.

[2018-07-20 02:35] shenlanse commented on #9930
When I put value to one follower but then get it **from another follower** at once, `wrong` output happened many times:

[code]

[2018-07-20 06:31] xdk25d commented on #9931
I seem to have encountered a problem similar to yours.

[2018-07-20 06:37] xdk25d commented on #9851
I seem to have encountered a problem similar to yours.
https://github.com/coreos/etcd/issues/9931

[2018-07-20 08:38] KlavsKlavsen commented on #8904
I have this same issue in 3.2.17+dfsg-1 (ubuntu 18.04).. my entire cluster dies regularly :(
It seems the fix in 3.2.11 did not resolve the issue?

[2018-07-20 20:32] gyuho commented on #9212
@yudai Thanks for reproduce. I was able to see the same issue.

Was seeing lots of `handle subconn state change 0xc4200a3e50, SHUTDOWN` from `grpc/balancer_v1_wrapper.go`, but somehow the connections are not being closed even after rules are removed.

Will debug further.

We may have the same issue in master, since underlying connection interface is the same.

[2018-07-20 21:37] jpbetz commented on #9919
https://github.com/coreos/etcd/pull/9945 attempts to fix this be removing the special casing logic and performing direct grpc dials for maintenance APIs

[2018-07-21 10:46] gnuoy opened #9949 "etcd go client fails when querying a cluster with a down node"
**Describe the bug**
The etcd go client fails if multiple https endpoints are specified when the client is initialised and the first etcd endpoint is unavailable.

**To Reproduce**
I setup an etcd cluster with http (port 2378) and https (port 2379) listeners. Then used the etcd go client library to query the cluster. Then I took down the first unit listed when the client was established (in my cas

[2018-07-22 18:20] gyuho commented on #9911
@cfc4n I can reproduce. Let me fix soon.

[2018-07-23 01:46] shenlanse commented on #9930
@gyuho

[2018-07-23 01:55] typhoonzero commented on #8009
@xiang90 I've encountered the same issue now, according to the discussion, I need to update the version of my etcd right? Is there any workaround so I can get a quick fix?

[2018-07-23 05:20] #9911 closed

[2018-07-23 08:39] zimulala commented on #9935
@gyuho
Is this a bug?

[2018-07-23 10:07] chaosaffe opened #9953 "etcd doesn't bind --listen-peer-urls for outbound peer traffic"
Similar to a previous issue ([Feature Request: Ability to pick source IP address](https://github.com/coreos/etcd/issues/9193)), we would like the ability to specify the source address of the peer traffic.
In our environment each node has multiple IP addresses, including a specific IP for etcd. While inbound traffic is handled correctly by etcd, outbound peer traffic is handled by binding any avail

[2018-07-23 10:08] chaosaffe commented on #9953
Just as a note, we are happy to invest effort into adding this if it will be upstreamed

[2018-07-23 14:46] joelegasse opened #9955 "Dockerfile: run as a non-root user within the container."
There has been some renewed interest in #3503, from almost 3 years ago. The idea being that the user ID within the container should not be root (uid 0). There have been some changes to container runtimes since then, including wider support for user namespaces that allow mapping user IDs within a container to non-privileged user IDs on the host.

The primary concern of just issuing `USER XYZ` in th

[2018-07-23 15:02] ekle opened #9956 "3.3.7 panic: send on closed channel"
hi,
i got a panic on 3.3.7.
happend today and 10 days ago
version:
[code]

cmdline:

stacktrace:
[code]

[2018-07-24 08:02] fenggolang opened #9958 "etcd web ui"
I really like etcd, I want to ask if there is any plan to do etcd web ui.
haha

[2018-07-24 08:07] cfc4n commented on #9956
It also happened in my case.I know how to reproduce.
but,It's a bug of grpc,not etcd.

[2018-07-24 11:12] tantjp commented on #6904
@xiang90 Hi, I would like to get all keys by rest api, can you do me a favor?thx

[2018-07-24 11:38] amyXia1994 opened #9959 "permission denied using grpc gateway through authentication (etcd version 3.0.10)"
I visit etcd server through grpc gateway with etcd auth enabled. I can get correct token but when use token to fetch key, it returns "etcdserver: permission denied". My etcd version is 3.0.10.

This problem does not occur when I test with etcd 3.3.8.

Does previous etcd version before 3.3 support **fetching key with token via grpc gateway**? Or can you please provide a way to config my 3.0.10 etcd

[2018-07-24 12:17] gyuho commented on #9956
@cfc4n Can you provide a way to reproduce?

[2018-07-24 15:49] gyuho commented on #9212
@yudai Can you try with keep-alive parameters?

[2018-07-24 16:00] gyuho commented on #9958
Please use community projects https://github.com/search?q=etcd+ui.

etcd team will not build web UIs.

Thanks.

[2018-07-24 16:00] #9958 closed

[2018-07-24 16:02] gyuho commented on #9935
@zimulala Can you provide a simple and reproducible case?

[2018-07-24 16:39] #9888 closed

[2018-07-24 18:59] gyuho commented on #9911
@cfc4n We have released https://github.com/coreos/etcd/blob/master/CHANGELOG-3.3.md#v339-2018-07-24 with the fix. Please try.

[2018-07-25 05:16] philips commented on #9955
My two cents, we should:

- change to non-root on the next minor or major release of the container
- ensure etcd provides a helpful error message and links to docs if perms are wrong on data dir
- provide docs on how to fix everything if you were using root before
- provide docs on how to run as root if you want to go back to the old behavior

The old default wasn't good and I don't see any reason

[2018-07-25 06:07] zimulala commented on #9935
@gyuho
Sorry, I didn't find the way to reproduce.

[2018-07-25 07:11] lafolle opened #9962 "Leader election getting triggered on snapshot"
### Configuration
etcd Version: 3.3.8
Git SHA: 33245c6b5
Go Version: go1.10.3
Go OS/Arch: linux/amd64
--snapshot-count: 100
--heartbeat-timeout: 100ms
--election-timeout: 1000ms
Number of nodes: 1M

### What we observed?
Leader election getting triggered on snapshotting.

### What we think is the cause
Abbreviations:
+ G :: Goroutine
+ E :: Event

Here is rough flow of control starting from sendin

[2018-07-25 17:17] gyuho commented on #9959
/cc @joelegasse

[2018-07-25 18:53] xiang90 commented on #9962
the non-blocking snapshot only works for etcd3 backend not etcd2 backend. simply changing the version of etcd wont help. you actually need to migrate the data from etcd2 backend to 3.

[2018-07-25 22:07] yudai commented on #9212
@gyuho Confirmed that the stale session is closed when I set `DialKeepAliveTime` and `DialKeepAliveTimeout`. Thank you very much for taking a look at this issue.

Closing as resolved!

[2018-07-25 22:07] #9212 closed

[2018-07-26 06:55] lafolle commented on #9962
Hi @xiang90 ,  migration is not a problem for us.

But when we loaded etcdv3.3.8 with test data (~>1M keys) it started triggering elections specifically at the time of snapshotting because of reasons i have mentioned above.

Do you think our reasoning is valid?

Thanks,
Karan

[2018-07-26 08:37] cfc4n commented on #9911
@gyuho It is fixed.Thanks.

[2018-07-26 11:42] mwf commented on #7484
Hi @tantjp

`curl -X POST -d '{"key": "AA==", "range_end": "AA=="}' http://localhost:2379/v3beta/kv/range`

As posted here https://github.com/coreos/etcd/blob/v3.3.9/etcdserver/etcdserverpb/rpc.proto#L379
[code]

So, first we should encode '\0'-byte to base64:
[code]
And use the base64 value in the curl call.

[2018-07-26 13:21] cfc4n commented on #9812
@gyuho Can you close this issue?   This is the same problem as #9911 , and I record the detail on my blog [https://www.cnxct.com/etcd-lease-keepalive-debug-note/](https://www.cnxct.com/etcd-lease-keepalive-debug-note/)  why it happened.

[2018-07-26 16:01] xiang90 commented on #9962
how do you load the test data?

[2018-07-26 20:00] lafolle commented on #9873
Is it possible this is related to #9962 ?

[2018-07-26 20:31] lafolle commented on #9962
We load data using go etcd client library.

The problem we think is that `etcdserver.store.HasTTL()`  gets stuck on lock during snapshotting (as store.Clone acquires full lock and can take time)  which delays sending heartbeat to followers.

etcdserver/v2store.HasTTL(): https://github.com/coreos/etcd/blob/master/etcdserver/server.go#L1051
etcdserver/v2store.Clone(): https://github.com/coreos/etcd/

[2018-07-27 00:54] xiang90 commented on #9962
@lafolle You are still using v2 backend. See what I said above. I am going to close this issue as we are not going to scale up v2 backend.

[2018-07-27 00:54] #9962 closed

[2018-07-27 02:19] #9812 closed

[2018-07-27 03:56] yuchengwu commented on #9917
Got similar log when enabling https, after servel restarts the problem still exists.

I refer to this page -> https://github.com/coreos/etcd/blob/master/Documentation/op-guide/runtime-configuration.md#cluster-reconfiguration-operations  to update each member's peerURLs(change http to https), then restart the cluster again, it works.

[2018-07-27 09:22] tantjp commented on #7484
@mwf it works, thanks.

[2018-07-27 15:08] cfc4n commented on #9956
yeah, I'm tring...

[2018-07-27 16:03] gyuho commented on #9956
@cfc4n If you can't reproduce, can you tell me more about how this happened (e.g. sending writes and panic, etc.)?

[2018-07-27 17:15] #9919 closed

[2018-07-27 17:39] gyuho commented on #9915
@jpbetz fixed it via https://github.com/coreos/etcd/pull/9945.

[2018-07-27 17:39] #9915 closed

[2018-07-27 20:20] hexfusion commented on #9959
@amyXia1994 auth was enabled with gRPC gateway as of v3.3 I am not sure if a plan exists to backport.

ref: https://github.com/coreos/etcd/pull/7999

[2018-07-27 20:30] hexfusion opened #9964 "etcd community proposes potential CNCF adoption"
This issue is to make the etcd community aware of the pending TOC proposal to CNCF about etcd and also to track its progress.

ref: https://github.com/cncf/toc/issues/136

[2018-07-27 20:50] #9937 closed

[2018-07-27 21:46] purpleidea commented on #9964
I'm against moving things into foundations like this. It's a 501(c)(6) not a 501(c)(3) so we need additional written assurances to prevent complete corporate control and "pay to play" direction so that smaller parties have an influence too.

In particular, if contributing to etcd in the future would require signing a CLA, I would most likely find it difficult to send any future patches.

I'm only

[2018-07-27 22:16] gyuho commented on #9964
@purpleidea Thanks for your feedback. Let's move this discussion to https://github.com/cncf/toc/issues/136.

[2018-07-27 22:16] #9964 closed

[2018-07-27 23:55] gyuho opened #9965 "Move etcd to github.com/etcd-io/etcd*"
We are moving etcd and other sub-projects to its own GitHub organization.

The new org will be https://github.com/etcd-io.

Many popular Go projects have done this, for better project management:
- https://github.com/google/protobuf/issues/4796
- https://github.com/kubernetes/kubernetes/issues/12211, https://github.com/kubernetes/kubernetes/issues/29014
- https://github.com/vitessio/vitess/pull/37

[2018-07-28 00:06] xiang90 commented on #9965
probably we should try to get etcd org? Can someone try to contact the current owner?

[2018-07-28 00:07] gyuho commented on #9965
@xiang90 We have been already doing that for the past several months :)

[2018-07-28 02:30] gyuho commented on #9965
@tamalsaha http://etcd.readthedocs.io/en/latest/faq.html#how-to-pronounce-etcd

[2018-07-28 19:16] purpleidea opened #9967 "Discussion about moving etcd to CNCF"
As per https://github.com/coreos/etcd/issues/9964 apparently there's a proposal to move etcd to CNCF.
I was told to discuss that in: https://github.com/cncf/toc/issues/136
They clearly don't want to discuss the negative aspects of CNCF there, and the original issue here in https://github.com/coreos/etcd/issues/9964 was locked to prevent further discussion.

So where should we discuss this? Or have

[2018-07-28 19:31] xiang90 commented on #9967
I was involved in the discussion about the donation.

Actually, we have been talking with CNCF over the last couple of years. We hesitated to do it before mainly due to the lack of contribution outside CoreOS. Personally, I was not sure if donating to CNCF will help on contribution/adoption or will simply add the unnecessary overhead. Now things has changed quite a bit, with the contribution from

[2018-07-28 21:06] VF-mbrauer opened #9971 "version"
Please read https://github.com/coreos/etcd/blob/master/Documentation/reporting_bugs.md.

[2018-07-28 22:15] hexfusion commented on #9967
While I can't say I completely agree with @purpleidea I feel that he or any contributor is well within their rights to question a community proposal.

I guess I never questioned the CNCF adoption but now that it has been brought up I think it is at least fair to ask if there are alternatives? As Xiang pointed out the project is hard to contribute to. Not only on a technical level but also on a col

[2018-07-29 00:34] hexfusion commented on #9971
@VF-mbrauer can you please open a new issue and clarify your problem.

[2018-07-29 00:34] #9971 closed

[2018-07-29 02:17] gyuho commented on #9967
@purpleidea

I apologize. I did not mean to block any discussion from you.
And I also appreciate your consistent contributions to etcd!

<br>
Let's discuss here, from now.

As Xiang said, it has been considered quite a while, but we should have been communicated in a more open manner. So, please tell us more.

<br>
Regarding your concerns https://github.com/coreos/etcd/issues/9964#issuecomment-408

[2018-07-30 00:56] jberkus commented on #9967
@hexfusion I don't think anyone explored alternatives because CNCF was so obviously well-suited to Etcd.  There's already multiple projects under the CNCF that depend on Etcd in some way, many of them are written in Go, and most of them are Apache-licensed like Etcd.  While we could talk about joining, say, the Apache foundation, we'd have to sell Apache on the idea of accepting a project written

[2018-07-30 05:53] sithembiso commented on #9800
@manishrjain Thank you so much. I've gained much better understanding of Raft since, but I'll either try using yours or use as a reference.
Thanks again 😃

[2018-07-30 05:53] #9800 closed

[2018-07-30 13:54] vankofalcon opened #9972 "etcdctl set remote cluster url"
Hi guys,
I need to connect to remote etcd cluster and I want to use the etcdctl util as a client, but I can't find how to set the remote host name on the etcdctl. Can you please help me with that?

[2018-07-30 14:08] hexfusion commented on #9972
Hi @vankofalcon are you looking for the --endpoints flag?

ETCDCTL_API=3 etcdctl --endpoints http://hostname:port put foo bar

[2018-07-30 15:04] spzala commented on #9967
Good discussion. As @xiang90 mentioned, the discussion around potential etcd move under CNCF is going on for sometime. It might not be widespread but it was not all private as I did hear about it in public places. This discussion issue is good and should be helpful in making a decision with an overall agreement, but I can not think of any better place than CNCF where Kubernetes and many other proj

[2018-07-30 15:10] vankofalcon commented on #9972
:+1:

[2018-07-30 15:10] #9972 closed

[2018-07-30 15:55] hexfusion commented on #9967
The import thing IMO is that the floor is open for an alternative proposal by the community. Change is necessary, I think we can all agree to this. But merely disagreeing on the solution is in itself not a solution either.

As a community member that is not representing a large tech company, I see CNCF adoption as a natural fit. If we review the current list of projects supported by the foundation

[2018-07-30 16:04] hexfusion commented on #9959
@gyuho is backporting this feature something we are considering? If not this issue can be closed.

[2018-07-30 21:32] gyuho opened #9973 "etcd Community Meeting Survey"
We would like to improve our bi-weekly community meeting https://docs.google.com/document/d/16XEGyPBisZvmmoIHSZzv__LoyOeluC5a4x353CX0SIM/edit.

Please take a few seconds to do survey https://docs.google.com/forms/d/1JMKdXSazJt2nXUVh2COW0c1vm2gssCkqvO2cKP7hda8/edit.

[2018-07-31 07:21] hillmai opened #9974 "how to see establishing clients?"
how to list connetcting clients and how to see every read/write operation log which no found start with --debug flag? thx！

[2018-07-31 16:39] jpbetz commented on #9965
Fingers crossed that we can get the `etcd` org. If not, some alternatives that come to mind: `etcd-project`, `cncf-etcd`, `etcd-development` (as already suggested), `etcd-org`

[2018-07-31 20:11] raoofm commented on #9895
@gyuho Is there any recommendyed way of deploying etcd on kubernetes? Seems like the operator development has stalled.

[2018-07-31 20:37] hexfusion commented on #9895
I am also curious what the future of operator project is. I understand the team is working on other projects currently. I would be interested in getting more involved but the general feeling is this is a less open project and more in-house. People have proposed forking it before, perhaps this would be more realistic now that we are moving to a new org and operator is staying in coreos?

@raoofm ma

[2018-07-31 20:42] hexfusion commented on #9965
perhaps a few others to consider `etcd-io` `etcd-dev`

[2018-07-31 20:42] raoofm commented on #9895
From #9965

@hexfusion what makes you think operator stays in coreos, i think operator would move along with etcd to the new org.

[2018-07-31 20:44] hexfusion commented on #9895
@raoofm per that issue.

[2018-07-31 20:45] raoofm commented on #9895
😃 my bad

[2018-07-31 20:46] philips commented on #9965
I think etcd-io is reasonable given the ownership of etcd.io.

Brandon

On Tue, Jul 31, 2018 at 1:42 PM Sam Batschelet <notifications@github.com>
wrote:

[2018-07-31 21:14] hexfusion commented on #9965
FTR I have secured `etcd-io` and can move to any user if we decide to go with that.

[2018-07-31 22:35] jberkus commented on #9965
Is there already a list of org owners for once we move?  That is, folks who should have org admin rights?

[2018-07-31 22:43] hexfusion commented on #9965
Probably the maintainers should be owners?

https://github.com/coreos/etcd/blob/master/MAINTAINERS

[2018-07-31 22:49] gyuho commented on #9965
`etcd-io` sounds good to me, if we don't get `etcd` by this week.

@xiang90 @jpbetz Any thoughts?

[2018-07-31 22:51] gyuho commented on #9895
@raoofm @hexfusion "etcd" team is not working on etcd-operator right now. And operator SDK team will be working on etcd-operator.

Correct. Nobody is actively working on it. We are looking for ways to revive that project.

[2018-08-01 00:27] xiang90 commented on #9974
gRPC should expose some debugging info about this when enabled.

[2018-08-01 07:44] jpbetz commented on #9953
@chaosaffe I'm not sure I follow what you believe is wrong with selecting source ports from the ephemeral port range and what problems this has caused with client certificates. Could you explain the motivation in more detail?

[2018-08-01 15:44] danbeaulieu opened #9975 "Output Inconsistency with json writer"
Etcd version:
[code]

Output without specifying a writer. Take note of the member IDs.
[code]

Output using the JSON writer. Notice the member IDs are different from the output in the non-json output:
[code]

I'm not sure if they are encoded in a way that isn't documented or a serialization issue. FWIW this appears to be producible with v3.3

This produces an error when removing a member directly

[2018-08-01 16:14] gyuho commented on #9975
You want to use hexadecimal member ID. The JSON ID field is just a decimal number. We can improve docs.

[2018-08-01 17:08] schallert commented on #9839
Hey @gyuho, have you been able to track down the proxy issues?

[2018-08-01 18:37] jpbetz commented on #9965
@gyuho I'm happy with `etcd-io`. It's nice and short and maps clearly a domain CoreOS already owns.  Kubernetes has gotten a lot of usage out of k8s.io and kubernetes.io. It's okay for the `etcd.io` domain to be donated to CNCF along with etcd, I assume?

[2018-08-01 18:58] philips commented on #9965
Yes. Etcd.io will be donated along with the other things like mailing
groups, etc

On Wed, Aug 1, 2018, 11:38 AM Joe Betz <notifications@github.com> wrote:

[2018-08-01 19:38] gyuho commented on #9965
Sounds good. Let’s go for etcd-io.

[2018-08-01 20:56] hexfusion commented on #9965
Gyuho is now the owner of etcd-io

[2018-08-02 01:55] dlipovetsky opened #9976 "`etcdctl snapshot save` should restrict file permissions so only the user can read the file"
I noticed this, and I couldn't think of a reason why the snapshot, by default, should be readable by anyone but the user.
[code]

[2018-08-02 02:12] #9974 closed

[2018-08-02 02:30] hexfusion commented on #9976
@dlipovetsky, so instead of 0644 `-rw-r--r--` maybe 0600 `-rw-------` would be a safer permission given the possible sensitive nature of the data. But if the directory it is stored in has the correct permissions then the file is not actually readable by another user. This would be the case of the /root directory in most cases mine is 0710 `drwx--x---`.

But etcdctl can't be responsible for it's su

[2018-08-02 02:57] dlipovetsky commented on #9976
@hexfusion Agree 100%. Thanks for taking a look!

I'll take a stab at a PR.

[2018-08-02 07:26] echlebek commented on #9035
This can be accomplished with the clientv3.KV interface. Write the function like this:

[code]

*clientv3.Client embeds clientv3.KV. You can also produce one with the NewKV func. It's unclear to me what the difference is.

Once you've written the function in terms of the KV interface, you can create a KV implementation that does whatever you like. (Using mocks or fakes for instance)

[2018-08-02 08:59] chaosaffe commented on #9953
@jpbetz the issue isn't the source _port range_, rather the source _IP_.

We have multiple IP's assigned per node, and while an etcd instance will only listen on the `listen-peer-urls` IP, the etcd instance will connect to peers using _any_ IP available on the node.

As the source IP is not deterministic, we must add any potential node IP to the peer certificate SAN as we cannot deterministically

[2018-08-02 13:50] joelegasse commented on #9953
@chaosaffe What do your network segments look like, and what are the subnet masks for each of those addresses? As I understand it, you're trying to ensure that etcd will use the `listen-peer-url` address as the source for the peer connections? That should happen automatically assuming that the `10.255.0.0` is on a smaller subnet (`/24` for example) than `10.0.0.1`, and that all peers are on the sa

[2018-08-02 14:52] ankitforcode opened #9978 "Is ETCD discovery down?"
[code]

[2018-08-02 15:11] hexfusion commented on #9978
/cc @gyuho, @philips is this service still supported?

[code]
I think this is the LB responding.

[2018-08-02 15:39] ankitforcode commented on #9978
@hexfusion I have an old production cluster that is still using the discovery endpoint and was able to use that some time back today morning. This could have been down since last few hours.

I can switch the existing cluster to use the private ip's however that could require more effort.

[2018-08-02 15:39] danbeaulieu commented on #9975
@gyuho Can you elaborate on that more? There is an obvious inconsistency between the default serializer and the json serializer. ie I can't take the member ID as reported in the json and use it in the member remove API but I can for the default serializer. From my point of view they should either be consistent or the other operations that take in a member ID should accept the decimal representatio

[2018-08-02 15:48] hexfusion commented on #9978
@ankitforcode sure I am just curious if this service is going to be supported moving forward. I know the package is not maintained https://github.com/coreos/etcd/issues/9836

[2018-08-02 16:24] ankitforcode commented on #9978
@hexfusion The url is working again. 👍

[2018-08-02 16:25] ankitforcode commented on #9978
replied too early, it went down again 👎

[2018-08-02 18:38] espala commented on #9978
It's still down. It shouldn't take that long. There is no status page to follow.

could the service be over?

[2018-08-02 18:46] hexfusion commented on #9978
@espala I have pinged the folks who would know. The domain etcd.io will move to the new org soon https://github.com/coreos/etcd/issues/9965 so perhaps the community will be able to support the service directly in the future. For now I am afraid I have no transparency on the matter.

[2018-08-02 23:51] gyuho commented on #9965
Ok, will announce next week.

[2018-08-03 05:50] lburgazzoli commented on #9965
@gyuho I'm preparing the sonatype oss stuffs for the migration of jetcd so, do we already own etcd.io ?

[2018-08-03 08:32] chaosaffe commented on #9953
@joelegasse our subnets are the following:

|interface| etcd-1 Node | etcd-2 Node | etcd-3 Node |
|--- | --- | --- | --- |
|`lo`| `10.6.255.1/32` | `10.6.255.2/32` | `10.6.255.3/32` |
|`eth0`|`10.6.0.10/30` | `10.6.0.6/30` | `10.6.0.2/30`|
|`eth1`|`10.6.1.10/30` | `10.6.1.6/30` | `10.6.1.2/30`|

Peers do not share a subnet. We have a 3 layer CLOS topology. Peers do not share a network segment, the

[2018-08-03 11:09] chaosaffe commented on #9953
Putting all etcd instances into the same subnet (`10.6.255.0/28`) resolved the issue, but I can't find any documentation on this. Can we hold the issue open until we can make a docs PR please?

[2018-08-03 13:44] joelegasse commented on #9953
@chaosaffe Another option would be to adjust the routing table on each of the nodes to select the desired source IP at the OS/kernel level.

I don't really consider this to be an etcd issue. You would see this same behavior out of a lot of systems, since most don't specify a source IP as the OS generally handles the network configuration of a host. I don't think the etcd documentation is the corre

[2018-08-03 16:02] hexfusion commented on #9978
This service appears to be working as expected again. I expect further conversations will take place in the upcoming weeks regarding its future.

[2018-08-03 20:44] chaosaffe commented on #9953
Fair enough. Thank you for your help!

[2018-08-03 20:44] #9953 closed

[2018-08-05 16:05] vimalk78 opened #9980 "clientv3/concurrency : incorrect leader revision number after Election.Proclaim()"
etcd version

[code]

test code

[code]

Output :
[code]

query election key from etcdctl :
[code]

perhaps here, the new revision number should be updated
https://github.com/coreos/etcd/blob/master/clientv3/concurrency/election.go#L109-L112

similar to https://github.com/coreos/etcd/blob/master/clientv3/concurrency/election.go#L72 ?

If needed i can send a fix.

[2018-08-06 15:00] ledsole commented on #9978
Looks like it's down again

[2018-08-06 15:01] vimalk78 commented on #9980
after changing the `Election.Proclaim` in  `clientv3/concurrency/election.go` to update the `Election.leaderRev` to the latest revision, i find that the second `Election.Campaign` waits for first one to be completed, and the method doesn't return. which is perhaps the correct behaviour ? (in line with curator ?)

but this change also introduces behaviour change.

[2018-08-06 15:50] vimalk78 commented on #9980
the `Election.leaderRev` always should carry the `CreateRevision` of the key.

closing.

[2018-08-06 15:50] #9980 closed

[2018-08-06 16:04] Nefelim4ag opened #9981 "Q: Why not use systemd watchdog for health check?"
Subj,
You have a health http endpoint for check etcd, that allow to make some external checks for node status.

But as you in any way running etcd under coreos and systemd, why not use systemd watchdog?
Even you import sd_notify for use Type=notify in service.

Thanks!

[2018-08-06 16:09] hexfusion commented on #9981
@Nefelim4ag, in general, we don't want to have a systemd dependency.  Although many distros used systemd some don't, the largest whole with that would probably be Windows.

[2018-08-06 16:10] hexfusion commented on #9981
ref: http://without-systemd.org/wiki/index.php/Linux_distributions_without_systemd

[2018-08-06 16:33] Nefelim4ag commented on #9981
Sorry,
but i don't have a list of distros without etcd to compare.
But thanks anyway!

[2018-08-06 16:33] #9981 closed

[2018-08-07 00:32] gyuho commented on #9965
@lburgazzoli I am ready to transfer all sub projects by tonight or tomorrow. Do you have access to `jetcd` settings to transfer ownership?

[2018-08-07 06:25] lburgazzoli commented on #9965
@gyuho I don't have access to jetcd settings

[2018-08-07 11:32] gyuho commented on #9965
@lburgazzoli I can transfer. How about today, 9PM (PST), August 7, 2018?

[2018-08-07 12:03] lburgazzoli commented on #9965
fine with me

[2018-08-07 12:06] gyuho commented on #9965
@lburgazzoli Ok, I will transfer that tonight. Thanks!

[2018-08-07 13:30] atotala opened #9986 "etcd support on IPv6"
Does etcd support IPv6 ? Haven't seen any document specifying about IPv6 etcd cluster.

[2018-08-07 14:54] shmul opened #9987 "Can I run etcd behind nginx as a reverse proxy?"
I'm trying to configure an etcd cluster that runs behind an nginx serving as a reverse proxy. Ideally, nginx will handle the TLS termination and add all sorts of HTTP hardening goodies, and etcd will run behind it, listening only to the localhost address.
After two days of struggling with it, encountering all sorts of errors, I suddenly doubt this mode is supported at all. Is it?
For the record, I

[2018-08-07 15:14] hexfusion commented on #9986
I guess the docs are limited on this but if you use IPv6 address vs IPv4 this should just work, have you tried it? Please let us know if you have any issues with it.

[2018-08-07 15:14] #9986 closed

[2018-08-07 15:44] hexfusion commented on #9987
@shmul we do support the [etcd gRPC proxy](https://github.com/coreos/etcd/blob/master/Documentation/op-guide/grpc_proxy.md) have you looked at that?

[2018-08-08 03:42] G-master commented on #3710
i get it

if you create a etcd member use command

`_**etcdctl member add ... http...**_     `

it will create a new member id

but the target host have a old ID   when run etcd  it save at  --data-dir {pathfile}

you  need to delet the data file  and create with  --initial-cluster-state existing

[2018-08-08 05:43] clusc opened #9988 "watch through grpc proxy result in delay or miss event"
Hi,

We've noticed an issue where client receives delayed event(up to a few min) or even missed event when watching through the grpc proxy. The same code works perfectly fine when watching through etcd cluster directly. There's no obvious error log I can find on both server and proxy side. Can you help us investigate where the issue is?

Setup: 20 clients, 3 grpc proxy, 6 etcd node cluster
Version

[2018-08-08 05:52] xiang90 commented on #9988
We need to know how to reproduce the issue. Ideally with detailed steps or a script.

[2018-08-08 06:03] shmul commented on #9987
Thanks for the prompt reply. I'll have a deeper look into it.
Placing an Nginx server in front of (micro) services is a practice I find useful and hence I was trying to replicate it with etcd also. As I understand this is currently not officially supported and there is no guide on how to set it up, right? I would be happy if this setup is supported for sure.

Anyway, feel free to close this issue.

[2018-08-08 06:34] gyuho commented on #9965
I don't have rights to move repositories any more. Contacted CoreOS team to move rest of the sub projects.

[2018-08-08 10:09] strigazi commented on #9978
Down again

Wed Aug  8 10:09:19 UTC 2018

[2018-08-08 16:35] philips commented on #9965
transferred the remaining subprojects.

[2018-08-08 16:40] gyuho commented on #9965
@philips Thanks!

[2018-08-08 17:27] jberkus commented on #9965
How was this announced to Kubernetes project?  I didn't see the announcement, so wondering where it was sent.

[2018-08-08 17:28] gyuho commented on #9965
@jberkus Here https://groups.google.com/forum/#!topic/kubernetes-dev/omNEDP9vTmQ.

[2018-08-08 18:53] jberkus commented on #9965
Suggestions for additional notices:

1. Put a warning in the README of the current repo
2. Share on #etcd and #coreos on IRC
3. CoreOS blog and twitter (I can handle this)
4. Are there other major projects we should be notifying?

I'm happy to help get the notices out.  Just let me know if that's OK.

[2018-08-08 18:58] gyuho commented on #9965
@jberkus Sounds good. If you can help with 2 and 3, it would be great. We have a list of projects that should be aware of. Will do inform them shortly (even though they are already vendoring etcd).

[2018-08-08 20:34] #9976 closed

[2018-08-08 21:58] spzala commented on #8910
We are creating a benchmark put sub-command for this under #9866 Below is a snippet of few related examples output,
[code]
[code]
[code]

[2018-08-08 23:01] clusc commented on #9988
Steps to reproduce:
1. Create a 6 node etcd cluster(v3.3.9) onto GKE(1.9.6-gke.1) using etcd-operator.
    *Given the issue can't be reproduced if we watch through the cluster directly, I'll skip the cluster setup details, but I can provide later if needed.*
2. Deploy gRPC proxy using the following YAML:
[code]
3. Create services that binds etcd and grpc proxy to node port:
[code]
4. Create GCP in

[2018-08-08 23:04] jingyih opened #9989 "Log info on incoming request to server when debug flag is set"
In etcd v2, when --debug flag is set,  information on incoming requests to the server will be logged.  This is helpful for debugging purpose.  We are working on a PR to add this capability back to etcd v3.

Example log output in etcd v2:
[code]

[2018-08-08 23:06] jingyih commented on #9989
@jpbetz @gyuho

[2018-08-09 11:57] Nefelim4ag opened #9992 "Why after space compaction and defrag operator must clear alarms by hand?"
subj,
I understood why some node can raise up alarm and stop working, but why whole cluster will be in RO mode, when one node have luck of free space?

Even, okay. I did compaction, did defrag, but why alarm which automatically make cluster RO, not return cluster to RW mode after that?
What kind of half-measures?

[2018-08-09 17:25] philips commented on #9965
I think github.com/coreos/discovery.etcd.io needs to be moved over to the new organization and if etcd is accepted to CNCF the CNCF needs to help run and operate the service.

cc @joelegasse

[2018-08-09 18:57] clusc commented on #9988
@xiang90 any red flag from our setup or code snippet?

[2018-08-09 23:06] philips commented on #9978
The service is operational again. Please let us know if you hit more issues.

Also, we would like feedback on why you are using discovery.etcd.io vs. static configuration as we decide how to maintain or deprecate the service overtime.

[2018-08-10 03:58] waipeng commented on #9978
Hi @philips,
OpenStack Magnum kubernetes cluster uses discovery.etcd.io by default when spinning up new clusters.
https://docs.openstack.org/magnum/latest/user/

[2018-08-10 12:27] srajmane opened #9995 "./test command failing with go 1.10.3"
I have installed etcd v 3.3.9 with GO 1.10.3  and GO 1.10.1 on Ubuntu 16.04
go version go1.10.3 linux/amd64
While running test cases using ./test command I am facing below issue,
[code]

[2018-08-10 14:39] hexfusion commented on #9995
ref: https://github.com/coreos/etcd/commit/143fc4ce7939bdaa77a7affce45778d9ad5f8ce9

[2018-08-11 06:15] #9989 closed

[2018-08-11 09:41] plpan opened #9996 "The number of goroutines continues to grow for v3.2.7 on docker"
Hi,

We've noticed an issue where clientv3 behaves differently for docker and physical machine. Two isolated clusters are setup with 3 physical machines and 5 containers. The number of goroutines continues to grow in docker container.
### etcd version
3.2.7
### configuration
/home/test/etcd/etcd --name "etcd03" --data-dir "/home/test/etcd/data" --advertise-client-urls "http://10.156.42.183:2379" -

[2018-08-12 02:16] gyuho commented on #9995
This has been fixed in master branch.

[2018-08-12 02:16] #9995 closed

[2018-08-13 05:16] nolouch opened #10000 "Inconsistent reading, two leaders appear one after another at the same term"
Hi,
we meet an Inconsistent reading issue. the key can read from the leader but not from one follower, and found two leaders appear one after another at the same term.
##### The log details:
node `620d71aa28ed3b63`, the term became 4 firstly and then changed to 3 again, and finaly became leader in term 4:
[code]
node `4e49bc5f2b3d67c6`, became leader in term 4 and then meet some network problem.
[

[2018-08-13 10:35] lijunyong opened #10001 "systemd start etcd Failed at step CHDIR"
when I start etcd, etcd can't start。
[code]

[2018-08-13 13:02] gyuho commented on #10001
Can you run `/usr/local/bin/etcd --help`?

[2018-08-13 13:11] gyuho commented on #10000
@nolouch How often do you see this? Can you help reproduce with current master?

[2018-08-13 21:00] schmitch opened #10002 "add new member failed: etcdmain: error validating peerURLs"
hello, after one of my nodes failed somehow I tried to re-add it, however I always get the following message:

[code]

My Members:
[code]

I actually had a 3 node cluster already but removed the .53er node with `member remove ID`.

Now it is stuck and can't start.
These are the values to start the node:
[code]

[2018-08-13 22:10] schmitch commented on #10002
After I removed the flags and used environment variables:

[code]

it started working... which is really really strange.

[2018-08-14 00:44] lijunyong commented on #10001
yes, I can
[code]

[2018-08-14 01:48] #10001 closed

[2018-08-14 05:02] clusc commented on #9988
Friendly ping :)

[2018-08-14 08:05] nolouch commented on #10000
@gyuho after restarting all node, the service seems to go well, but I pointed out that the reading of the keys is inconsistent. and I still try to reproduce it.

[2018-08-14 20:45] gyuho commented on #9280
@jpbetz I will be starting to work on this, in the next few weeks. I think this has to be done in two phases. One is to simulate and automate API server load testing on specified etcd version (more focused on etcd core performance). Second is to automate etcd version pick for all scalability tests (focused on etcd + other control plane performance). I will document action items and share them for

[2018-08-14 23:43] gyuho commented on #9280
ref. https://github.com/kubernetes/kubernetes/issues/63245

[2018-08-15 07:54] horkhe opened #10008 "gRPC proxy silently fails to watch"
### Setup
Etcd v3.3.8 with TLS (self signed cert) and authentication enabled, 5 node cluster. Application connects via a local gRPC proxy

### Problem
Application occasionally does not receive watches and no errors are reported by the client.

### What we found out
Running gRPC proxy with `--debug` we saw the following error:

[code]

However this error is not propagated to the application, more o

[2018-08-15 09:15] fearblackcat opened #10009 "etcd watchServer goroutine leaks"
<img width="969" alt="qq20180815-170957 2x" src="https://user-images.githubusercontent.com/5964503/44140895-1a1317c8-a0ae-11e8-8cb9-eddaed86c31c.png">
There are almost 30k goroutines for each breakpoint position as the preceding image. The etcd version tag is on v3.2.7.

And the following is the pprof goroutine logs:

[code]

Could anyone(boss or dashen) give some help for me?

[2018-08-15 11:58] yingnanzhang666 opened #10010 "etcd crash and cannot be recovered after "mvcc: range cannot find rev""
**etcd version: 3.1.9
kubernetes version: 1.9**

etcd panic after got err msg **"mvcc: range cannot find rev (224,0)"** as below.
[code]
When it restart, and restore compact to a certain revision,  keep to panic, got **"panic: runtime error: slice bounds out of range"**
[code]
When restore etcd from some previous backups, got other two kinds of panic, **"panic: invalid page type: 1938: 10"** and *

[2018-08-15 12:27] canori01 commented on #9978
@philips we use this at Openstack Magnum to bootstrap etcd clusters. It allows us to easily stand up the clusters without knowing the ip addresses of the nodes in advance.

[2018-08-15 12:52] hexfusion commented on #9978
Discovery endpoint is still stuck in /v2 which is not supported. Perhaps efforts should be made to bring this into /v3? This way users can stand up there own "discovery cluster" and have it supported. In general, token generation/management is a workflow that could be handled in many different ways. But providing the capabilities seems to be a general asset to users and having that native to etcd

[2018-08-15 14:08] billikill opened #10011 "cluster etcd"
hi, i create cluster, but 1 noda start and 2 noda not starting

i see error
request cluster ID mismatch (got ac35a989f096e63a want fd461ca99076ebab)
Aug 15 17:01:59 JR-Conf-APP-01.orglot.office etcd[10206]: request cluster ID mismatch (got ac35a989f096e63a want fd461ca99076ebab)
Aug 15 17:01:59 JR-Conf-APP-01.orglot.office etcd[10206]: request cluster ID mismatch (got ac35a989f096e63a want fd461ca

[2018-08-15 14:32] billikill commented on #10011
i rename ETCD_DATA_DIR and cluster start

[2018-08-15 14:47] gyuho commented on #10011
Are you setting up a fresh cluster? Then, make sure the data directories are empty.

[2018-08-15 14:50] gyuho commented on #10010
@yingnanzhang666 Is there anyway that you can share the db files?

[2018-08-15 15:32] gyuho commented on #10010
Can you provide more details? So, no matter how far you go back with previous snapshots, etcd now panics right away?

[2018-08-15 15:33] gyuho commented on #10010
I will provide some redact tooling https://github.com/coreos/etcd/issues/7620, so that the db files can be shared.

[2018-08-15 15:46] vorburger opened #10012 "etcd crashes due to corrupt data dir (3.2.16, Fedora 28)"
I have installed etcd on Fedora 28 via `sudo dnf install etcd`, and am up-to-date.

If I do something like `cd /tmp ; etcd` (without parameters) it starts just fine.

But if I `systemctl start etcd` it crashes, similarly to below.

I realize this is could be some kind of an issue re. how systemd launches etcd, like a wrong parameter, thus possibly more of a mistake in the service configuration fil

[2018-08-15 15:47] vorburger commented on #10012
Oh! Wiping data `rm -rf /var/lib/etcd/default.etcd` fixed this... :smile:

No worries for a dev workstation. Less cool if this were production... normal?

[2018-08-15 16:07] hexfusion commented on #10012
@vorburger can you tell us about the data that is recovered from snapshot? I believe this panic can be caused by restoring from snapshot that has /v2 data only and no /v3.

ref: https://github.com/coreos/etcd/issues/9890

[2018-08-15 16:15] yingnanzhang666 commented on #10010
After restore, it can running for several minutes, log is as below
[code]
and the last log is "mvcc: range cannot find rev (1716401,0)", then keep to restart. but panic immediately.
[code]

[2018-08-15 16:38] yingnanzhang666 commented on #10010
I restore the backups from the last one and go backward.

The phenomenon to restore the latest several one is as my last comment.

Then go back to restore other backups, got two other kinds of panic, "panic: invalid page type: 1938: 10" and "panic: page 1938 already freed", mentioned in issue description. And it will panic immediately after being bring up.

Until go back to the backup which shows

[2018-08-15 20:44] sanamsarath opened #10013 "Client v3 rpc.swagger.json has Cyclic calling between etcdserverpbTxnRequest and etcdserverpbRequestOp"
Hi,

I am trying to generate C++ supported API's for the client v3 to interact with etcd server using rpc.swagger.json (https://github.com/coreos/etcd/blob/master/Documentation/dev-guide/apispec/swagger/rpc.swagger.json).

Following is the command used to generate the API's:

java -jar /usr/share/java/openapi-generator-cli-3.1.2.jar generate -t /usr/cna/lib/openapi-templates/cpprest -g cpp-restsdk

[2018-08-15 21:50] philips commented on #9978
Someone porting discovery to a v3 API would be greatly appreciated. It
simply hasn't been a priority.

On Wed, Aug 15, 2018 at 5:52 AM Sam Batschelet <notifications@github.com>
wrote:

[2018-08-15 22:05] gyuho commented on #9978
@philips I tried

- https://github.com/coreos/discovery.etcd.io/pull/53
- https://github.com/coreos/discovery.etcd.io/pull/54
- https://github.com/coreos/discovery.etcd.io/pull/55

Just need someone to review and do the migration work for old v2 data :)

[2018-08-15 23:45] markdl opened #10014 "Failed to read stream message: i/o timeout"
I am trying to manually deploy etcd to a GCP cluster but I am getting i/o timeouts on every node during leader election. The error message seems to be referring to an IP that is not within the cluster (10.15.1.245:8080) which is inaccessible from the nodes. I am able to ping and ssh between all of these nodes. A similar configuration runs fine locally. Any help would be appreciated.

2018-08-15 16

[2018-08-16 00:04] thejmazz commented on #8631
Ahh, OK makes sense.

FWIW, from the error message

[code]

I thought there was something wrong (v3.3.9).

Or even just add a log earlier something like "extra connections will be closed, you can ignore warnings"

[2018-08-16 00:36] hexfusion commented on #10013
@sanamsarath the swagger spec is machine generated from our dependency grpc-gateway and validates without error via https://editor.swagger.io/. I am not familiar with the openapi-generator but it seems that it might be the issue. Have you attempted to try other tooling such as swagger codegen for example?

[2018-08-16 00:42] hexfusion commented on #10013
It looks like https://editor.swagger.io/ will output cpprest client, I hope that helps.

[2018-08-16 00:46] hexfusion commented on #10013
[cpprest-client-generated.zip](https://github.com/coreos/etcd/files/2292083/cpprest-client-generated.zip)

[2018-08-16 02:04] vorburger commented on #10012
I'm new to etcd and have not, or at least not intentionally, used v2 at all. But I actually didn't `rm` but `mv`, so I would still have that data - would it be useful if I ZIP and shared it for reproduction? I don't remember how I got to that state though, sorry. Unless I've had the etcd RPM package installed for longer than I thought, and it used to be v2, and then during a Fedora upgrade it beca

[2018-08-16 02:15] danielzhanghl opened #10015 "could runtime configuration remove member?"
hi, in my log, it's found a member is removed from cluster, I don't know why that is happened and how it's removed, the only log from deleted member side is, it's stop seconds ago before it's deleted, which could cause the other member lost connection, but seconds later, this stopped member is deleted.

could the run time reconfiguration delete one member automatically, or it must be a CLI operati

[2018-08-16 07:05] chpaadmin opened #10017 "CoreOS 4.14.32 crashed at "xfrm_policy_lookup_bytype" stack"
1. Issue Description
+ Customer raised ticket for kernel crash on their CoreOS which kernel version is 4.14.32-coreos.
+ The crash was repeatly until reboot, and the VM begun unavailable.

2. Troubleshooting and logs
+ The task which was crashed is different, but the function referred is the same, "xfrm_policy_lookup_bytype".
+ As confirmed, there was no ip xfrm policy configured on these VMs.
+ B

[2018-08-16 11:07] #10017 closed

[2018-08-16 11:11] hexfusion commented on #10017
Hi @chpaadmin this is a Container Linux issue vs etcd please create issue [here](https://github.com/coreos/bugs/issues) and see if they can get you on the right path.

[2018-08-16 11:56] hexfusion commented on #10014
@markdl is it possible that the traffic is getting routed through a load balancer via proxy? What is 10.15.1.245 do you know `host 10.176.8.241`? Curious the output of `traceroute -p 2280 10.176.8.242` or `mtr -P 2280 -rwTb 10.176.8.242` from the instance above.

I think this command should list possible proxies for you `gcloud compute target-http-proxies list`

[2018-08-16 12:03] hexfusion commented on #9978
@philips, @gyuho I will make some effort to grease the wheels on this over the weekend as the issue seems timely, and I ran my mouth about needing it fixed :). If anyone else is interested in working on this please ping me so we are can distribute efforts.

[2018-08-16 15:37] vorburger commented on #10012
Here is my `/var/lib/etcd/default.etcd/` : [default.etcd.crash-issue-10012.tar.gz](https://github.com/coreos/etcd/files/2294233/default.etcd.crash-issue-10012.tar.gz)

[2018-08-16 18:47] joelegasse commented on #9978
@hexfusion I can help out, how would you like to coordinate?

[2018-08-16 20:38] markdl commented on #10014
You're right, there is a proxy I wasn't aware of. This is a problem on my end then. Thanks.

[2018-08-16 20:38] #10014 closed

[2018-08-17 01:38] hexfusion commented on #9978
Hi @joelegasse, sounds great I guess for starters we need to review the above. I have seen the folks at grpc-go use https://reviewable.io for larger stuff. I wonder if it would be useful to collab here or just make things overly complicated.

There is a lot going on with what he already did so I guess we both need to get a general grasp of the approach and review code as we go. I expect the first

[2018-08-18 19:28] sanamsarath commented on #10013
@hexfusion Thanks. closing the issue.

[2018-08-18 19:28] #10013 closed

[2018-08-19 21:14] hexfusion commented on #10015
thanks,

I am not sure I follow, what is the output of `etcdctl member list`. Are you saying peer ca40b354a78b984b is still a member of cluster 7af95bbe77408863?

[2018-08-20 06:59] YSunLIN commented on #6612
@xiang90 the issue still exists on 3.3.8

[2018-08-20 12:33] hexfusion commented on #10012
@vorburger just checking in, I will have some time this week to dig into this.

[2018-08-20 21:33] hexfusion commented on #10011
@billikill can we close this? @gyuho has verified that the data dir must be empty for a fresh cluster. This would also be accomplished by your action of renaming ETCD_DATA_DIR, which would result in new empty directories.

[2018-08-20 21:47] hexfusion commented on #9992
@Nefelim4ag if your cluster loses quorum it will go into a read-only state, this does require manual interaction. I think the best countermeasure here is to make sure that you have enough members to sustain a node failure. How many nodes are in your cluster when it was healthy?

ref: [restart-cluster-from-majority-failure](https://github.com/coreos/etcd/blob/master/Documentation/op-guide/runtime-c

[2018-08-21 06:14] billikill commented on #10011
@hexfusion  yes. you can close

[2018-08-21 06:14] #10011 closed

[2018-08-21 19:12] clusc commented on #9988
Can someone help take a look?

[2018-08-21 21:30] hexfusion commented on #9988
@clusc can we simplify this and reproduce with only etcd cluster and grpc-proxy? We need to understand the core problem and we have too many layers here I think. Between load balancers and operator etc.

[2018-08-22 00:33] clusc commented on #9988
I think this is a pretty standard Kubernetes deployment of etcd and grpc-proxy. Operator is used only to ease deployment, I don't think it adds any complexity to the picture, and we can leave off the GCP lb all together and still reproduce the issue by using kubernetes service. I don't see any additional layers here.

[2018-08-23 01:43] hexfusion commented on #10012
@vorburger I took a closer look and found data in the existing snapshots pointing to an existing v2.2 member.

If I tried to start the cluster with the datadir you provided I receive the same panic noted above.

 As noted in the upgrade documents [upgrade-checklists](https://github.com/coreos/etcd/blob/master/Documentation/upgrades/upgrade_3_0.md#upgrade-checklists) to upgrade to 3.0 the etcd clus

[2018-08-23 08:34] morimoto-cybozu opened #10035 "clientv3.New() fails when invoked concurrently"
`clientv3.New()` returns `Endpoint already exists` error when it is invoked in multiple goroutines at the same time.
[This Gist code](https://gist.github.com/morimoto-cybozu/a6fc624ee507dd19c8aa967b69d07e62) can reproduce errors.
This runs with the latest master branch (commit 2921ab6) of etcd.

[code]

I faced this type of error in `go test`, where many goroutines start etcd connections concurren

[2018-08-23 12:01] vorburger commented on #10012
Cool. I don't mind if you just close this issue with this. What I do find a little bit curious is that I have no memory of ever having explicitly done anything to "point to an existing v2.2 member" (barely understand what that even means TBH). So just wondering if I've had the etcd RPM package installed when it was only v2 before v3, and played with v2, and then during a Fedora upgrade it became v

[2018-08-23 12:29] hexfusion commented on #10012
@vorburger you bet and I appreciate the issue please don't think twice about that, I can leave the issue open.

The data was clearly from v2.2 which is not supported for upgrade to v3.x. If etcd were upgraded per the documentation the panic issue still would have happened moving from 3.0.x to 3.1.x. The reason for this panic to prevent accidental v3 data loss (e.g. `db` file might have been moved)

[2018-08-23 12:37] vorburger commented on #10012
Tempting (and thanks for the offer, and faith in me) but I'm already spread too thin (FYI I'm [helping out over on jetcd!](https://github.com/etcd-io/jetcd/issues?utf8=✓&q=author%3Avorburger+)) and most importantly would first have do some some catching up re. Go... :smiling_imp:

[2018-08-23 13:10] hexfusion commented on #10012
Yes I am watching this and thank you! Interesting I am trying to help out at jetcd but need catching up with Java :)

[2018-08-23 17:44] gyuho commented on #10035
/cc @jpbetz

[2018-08-23 17:48] gyuho commented on #10015
@danielzhanghl etcd never reconfigures cluster membership itself. That member remove API call must be from your clients.

[2018-08-23 18:30] jpbetz commented on #10035
@morimoto-cybozu Which version (or git hash) of the etcd client are you using?

[2018-08-23 19:10] philips commented on #9965
I will take care of the etcd GH org moves next monday.

[2018-08-23 21:48] philips commented on #9965
We are going to skip the blog post (mentioned in https://github.com/coreos/etcd/issues/9965#issuecomment-411513749) and instead just do emails to coreos-dev and etcd-dev Google Groups.

This was my call, I don't think this URL change effects so many people that we need to notify all CoreOS blog readers. Particularly since GitHub will maintain a redirect to the old URLs.

[2018-08-24 05:09] morimoto-cybozu commented on #10035
@jpbetz
I'm using commit 2921ab6

[2018-08-24 13:02] gaddamas commented on #8888
@xiang90, Could you please point me to documentation on snapshots or explain in detail about how snapshot functionality is used in etcd.  Some questions: 1) is there snapshot at raft log (wal) level and another snapshot at bbolt db level.  after adding 900k keys to a 3 node cluster, i have restarted all three nodes. two of the nodes after restart were busy with exchanging snapshot as shown in the

[2018-08-24 21:37] jpbetz commented on #10035
This is almost certainly an issue with the client load balancer rewrite. I'll own getting this fixed.

[2018-08-26 16:05] ymmt2005 opened #10038 "Instability of cluster protocol version causes Vault to fail to start"
I have an issue with etcd 3.3.9 cluster and hashicorp/vault 0.10.4.
The issue was first reported for Vault in https://github.com/hashicorp/vault/pull/5128,
but I am opening this issue as I suggested to do so.

The problem is that Vault sometimes fails to start if it is configured to
use etcd as its storage and to use v3 protocol.  I found that the problem
occurs when etcd reports its cluster versi

[2018-08-26 16:46] gyuho commented on #10038
/cc @xiang90 ?

[2018-08-27 00:02] xiang90 commented on #10038
@gyuho https://github.com/coreos/etcd/blob/master/version/version.go#L28

have we tested if etcd 3.3 server can work with 3.0 server? i think we only ensure 3.3 can work with 3.2 server? did we forget to bump the min cluster version?

[2018-08-27 10:40] piaoyu commented on #9992
Is it do defrag operator definite time is a good idea?

[2018-08-27 12:02] piaoyu commented on #9992
![etcd-defarg](https://user-images.githubusercontent.com/2255909/44658639-16107a00-aa34-11e8-9f7f-e47fee6d87aa.png)

[2018-08-27 12:39] Nefelim4ag commented on #9992
@hexfusion, i talk about:
https://github.com/coreos/etcd/blob/61354ff8ede7dde7839e0df987f37cda931fd740/Documentation/op-guide/maintenance.md#space-quota

i.e. cluster not lose quorum, it's enough that one node of 3 get alarm state.
Or i miss something?

[2018-08-27 18:08] wenjiaswe commented on #10012
cc @jpbetz

[2018-08-27 18:09] wenjiaswe commented on #10010
cc @jpbetz

[2018-08-27 18:10] wenjiaswe commented on #10009
@jingyih

[2018-08-27 21:10] gyuho commented on #9965
Disabled Semaphore CI integration. Will enable once migrated today.

[2018-08-27 23:37] vimalk78 commented on #9921
`clientv3/concurrency/Mutex.Lock()` works by creating a Key (with a Lease of default TTL of 60 sec, kept alive every 20 secs) with "lock-prefix" and the leaseID.
If the create revision of this key is lowest, then lock is acquired. else wait for all keys with "lock-prefix" and lower create revision. Since the keys are kept alive, (unless user cancels the ctx ), a session waiting for other keys to b

[2018-08-28 00:12] gyuho commented on #9965
@philips Ping?

[2018-08-28 01:27] philips commented on #9965
transferred to etcd-io

[2018-08-28 01:31] philips commented on #9965
Confirmed the redirect worked. Can you do CI work @gyuho

[2018-08-28 01:32] gyuho commented on #9965
Will do. Thanks @philips !

[2018-08-28 01:33] gyuho commented on #9965
@philips Can we also move https://github.com/coreos/bbolt?

[2018-08-28 01:40] philips commented on #9965
done

On Mon, Aug 27, 2018 at 6:34 PM Gyuho Lee <notifications@github.com> wrote:

[2018-08-28 01:41] gyuho commented on #9965
@philips Thanks!

[2018-08-28 02:30] gyuho commented on #9965
@philips Good idea (as k8s.io does). I think we can take a few days to migrate import paths. Can you help set up DNS for `etcd.io`?

[2018-08-28 02:32] philips commented on #9965
Probably easier if we do go.etcd.io or something instead and deploy
https://github.com/GoogleCloudPlatform/govanityurls/blob/master/README.md.

Yes I could do the DNS work.

On Mon, Aug 27, 2018, 7:31 PM Gyuho Lee <notifications@github.com> wrote:

[2018-08-28 02:36] gyuho commented on #9965
Sounds good. We will wait until `etcd.io` DNS is ready.

[2018-08-28 02:43] philips commented on #9965
We need to configure and deploy the app engine app first. Then do the DNS.

I can deploy the app but I don't think I have access to the etcd Google
cloud account. Could you add brandon@ifup.org?

On Mon, Aug 27, 2018, 7:36 PM Gyuho Lee <notifications@github.com> wrote:

[2018-08-28 02:46] gyuho commented on #9965
@philips Yeah, I only see your coreos.com email. Just sent an invite to that email address (https://console.cloud.google.com/compute/instances?project=etcd-development). Thanks!

[2018-08-28 03:35] philips commented on #9965
I have everything deployed for go.etcd.io but https://go.etcd.io isn't working; only http://go.etcd.io... hrm

FWIW, configuration is here: https://github.com/etcd-io/govanityurls

[2018-08-28 03:37] philips commented on #9965
@gyuho spoke too soon. Everything is working! Feel free to use go.etcd.io for package names. See https://go.etcd.io for how I set things up.

[2018-08-28 04:38] naddison36 commented on #9921
Thanks for commenting on this. That helps me better understand what's going on.

BTW, I went with the second option listed above. That is, I have a timer in my client that fires if I have not acquired the lock in time and will ignore the returned lock that has already timed out.

[2018-08-28 08:15] gudeyang1 opened #10039 "etcd 0.4.6 when set key to 'FALSE' it become 'false'"
i know the version is really old, but i can't update the version
is it possible to set key to up case 'FALSE'

[code]

[2018-08-28 12:26] hexfusion commented on #9992
@Nefelim4ag I am sorry I misunderstood you. You are correct once the cluster hits the NOSPACE alarm it will not recover without a manual call against the Alarm API to DEACTIVATE.

I see your point that you have only a single node in the cluster that for whatever reason was not compacted/defragged why does this mean the whole cluster gets NOSPACE alarm. I think the main thing here is the code wants

[2018-08-28 13:06] gyuho commented on #9965
@philips Will do today. Thanks!

[2018-08-28 19:42] philips commented on #9965
@gyuho OK, LMK if you need help or a code review.

[2018-08-28 20:39] robertglen opened #10040 "etcd 3.3.x benign TLS error when etcdctl uses 3 --endpoints values"
Server version: 3.3.9
Client version: 3.3.9

Scenario:  When calling etcdctl --endpoints=<https://ip1:2379,https://ip2:2379,https://ip3:2379>  to get data... an TLS connection error is observed on one of the three servers from --endpoints in its log.

The etcdctl command returns successfully, immediately.  From client perspective, you would never know an issue has occurred.  But on one of the 3 se

[2018-08-28 23:50] gyuho commented on #9965
@philips Sure, will cc you. I've updated bbolt first. Now updating etcd ones.

[2018-08-29 00:00] philips commented on #9965
👍

On Tue, Aug 28, 2018, 4:50 PM Gyuho Lee <notifications@github.com> wrote:

[2018-08-29 02:44] #9965 closed

[2018-08-29 02:45] gyuho commented on #9965
All done. Thanks all!

[2018-08-29 04:33] guoger opened #10046 "Why do we make a copy of entries in MemoryStorage.Append?"
https://github.com/etcd-io/etcd/blob/e52b8611ea8dd746e35df6cf1248272faed4edfd/raft/storage.go#L262-L263

Any particular reason that we couldn't do
[code]
here? thx!

_(of course we need to make a copy of ents to construct fresh `MemoryStorage` in TestStorageAppend in this case)_

[2018-08-29 05:40] 85022134 commented on #10046
I  think  the two ways of implementation above  not  make  the same sence.

		ms.ents = append(ms.ents[:offset], entries...)
means keep the old ents

[2018-08-29 05:45] guoger commented on #10046
@85022134 but we do keep the old ents up to `offset`, no?

[2018-08-29 06:09] xiaozhan2017 commented on #10046
I think  it need a dummy entry at term zero.

func NewMemoryStorage() *MemoryStorage {
	return &MemoryStorage{
		// When starting from scratch populate the list with a dummy entry at term zero.
		ents: make([]pb.Entry, 1),
	}
}

[2018-08-29 06:09] xiaozhan2017 commented on #10046
@guoger

[2018-08-29 06:26] xiaozhan2017 commented on #10046
case uint64(len(ms.ents)) > offset:
		ms.ents = append([]pb.Entry{}, ms.ents[:offset]...)
		ms.ents = append(ms.ents, entries...)

it means if you append directly,  will makes entry not continuscous

[2018-08-29 08:06] xiaozhan2017 commented on #10046
@guoger  I understand what you mean. In my opinion, The first writing style may  reduce the capbility of the slice

[2018-08-29 08:32] johncming opened #10047 "auth. NewAuthStore return a pointer rather than interface type auth.AuthStore"
auth. NewAuthStore  return a pointer rather than  interface type auth.AuthStore.

https://github.com/etcd-io/etcd/blob/1a282a72bec1fb55692698bf3cd06d7d191d1906/auth/store.go#L97

https://github.com/etcd-io/etcd/blob/1a282a72bec1fb55692698bf3cd06d7d191d1906/auth/store.go#L1068

But it assigned to auth.AuthStore type field.

https://github.com/etcd-io/etcd/blob/1a282a72bec1fb55692698bf3cd06d7d191d19

[2018-08-29 09:28] xiaozhan2017 commented on #10047
*authStore has  implemented the interface AuthStore

[2018-08-29 10:19] toranger opened #10048 "How to expend the max txn opration number, now is 128 ?"
etcd Version: 3.3.5

[2018-08-29 11:14] Nayana-ibm commented on #9409
@gyuho Are you working on new Jenkins setup for Etcd? Or Any other dev is looking into this?

[2018-08-29 11:17] hexfusion commented on #9409
@Nayana-ibm I have some information, would you mind sending me an email sam@hexfusion.com and I can follow up, thanks.

[2018-08-29 14:41] andybrown668 commented on #3223
I have the same issue using the latest (?) docker image 3.3.9
I guess I'm using authentication in the wrong way because the performance degradation using basic auth makes it a complete non-starter.
My implementation (in go) makes use of an etcd client with this config:
[code]
I then retain the connection and also retain the keys api I get from calling NewKeysAPI
It looks like I get the same order

[2018-08-29 15:26] meijiesky opened #10049 "Question on ProposeConfChange"
The doc says "There is no guarantee that a proposed command will be committed; you may have to re-propose after a timeout."

How about the ProposeConfChange? The confChange is also a proposal and is it not guaranteed as well and needs to be reproposed?

[2018-08-29 19:51] khenaidoo opened #10051 "cannot use auth.callOpts - type error"
Hello,

The following errors are now seen when using the etcd client3 - started today:

![image](https://user-images.githubusercontent.com/8513485/44811720-5cd0b200-aba3-11e8-9f9f-5e0e8f081dd3.png)

[2018-08-29 21:11] jpbetz commented on #10012
This is resolved right? Okay to close?

[2018-08-30 02:46] spzala commented on #8645
@gyuho hi, I am trying to see the behavior with setting `--grpc-keepalive-min-time` and `--grpc-keepalive-interval, --grpc-keepalive-timeout` following steps you suggested above but I guess I am probably not doing it right and not able to see errors like too many ping or ever server closing the connection. I have a single node cluster, and I tried testing with using simple go program from another

[2018-08-30 10:12] liuzm commented on #10051
you can change `import`  from "github.com/coreos/etcd" to "go.etcd.io/etcd", but i didn't know why

[2018-08-30 10:31] vorburger commented on #10012
@jpbetz re. "This is resolved right? Okay to close?" note @hexfusion saying "I feel handling the error is probably a reasonable goal and I will try to take a look at it soonish."

[2018-08-30 10:37] iDube commented on #10051
[code]

[2018-08-30 12:03] Tutotu commented on #9851
my  etcd version 3.3.9 ,i have the same problem. why？ i think ，because the sync snapshot to big。

[2018-08-30 13:06] ZiggyMaes commented on #9471
Joining the question. I have also seen the --with-v3 option that etcdctl backup would apparently offer, but it does not appear to be available in etcdctl 3.1.18.

I cannot seem to find any documentation that describes the procedure on how to restore a cluster containing both v2 and v3 data.

[2018-08-30 14:51] hexfusion commented on #10012
To elaborate etcd conditionally calls panic so it is intentional in this case as a safeguard. I think a user seeing this panic will eventually find these GitHub issues, but a message to the fact that the v3 store must have data could be helpful. Again I need to review this but I did want to add a little clarity to my statement.

https://github.com/etcd-io/etcd/blob/34fcabab55585b39835820278da4de65

[2018-08-30 14:54] #10012 closed

[2018-08-30 14:55] hexfusion commented on #10012
I will create a new issue to track this change, closing this as the question was answered and I do plan on reviewing further.

[2018-08-30 16:11] gaddamas commented on #7011
I got similar message "mvcc: store.keyindex: put with unexpected smaller revision [{200001 0} / {200001 0}]. what does it mean? could you please give technical description.

[2018-08-30 18:26] wenjiaswe commented on #10048
cc @jingyih

[2018-08-30 18:27] wenjiaswe commented on #10049
@wenjiaswe

[2018-08-31 00:58] xiang90 commented on #10046
ms.ents up to the last used index is immutable, since we return it here: https://github.com/etcd-io/etcd/blob/e52b8611ea8dd746e35df6cf1248272faed4edfd/raft/storage.go#L108. It can be used by the caller without locking.

We do not really care about the additional cost of copying since it only happens when there is a conflict.

[2018-08-31 00:58] #10046 closed

[2018-08-31 00:58] xiang90 commented on #10049
yes.

[2018-08-31 00:58] #10049 closed

[2018-08-31 00:59] xiang90 commented on #10015
@gyuho's answer is correct. closing this issue.

[2018-08-31 00:59] #10015 closed

[2018-08-31 01:00] xiang90 commented on #9978
this issue is tracked here: https://github.com/coreos/discovery.etcd.io/issues/61. closing

[2018-08-31 01:00] #9978 closed

[2018-08-31 03:15] yangunang commented on #5898
@xiang90 this issue is fix?

[2018-08-31 06:01] guoger commented on #10046
@xiang90 thanks for your response! Although it's still a bit unclear to me. Aren't all public methods on `MemoryStorage` protected by `Mutex` already? In another word, how does direct append affect current locking scheme? Do you mind elaborating a bit? thx

Also, what is _last used index_?

Agreed

[2018-08-31 09:00] toranger commented on #10048
Is there some value to change? where can i find it ? I use it for save ini configs, want to change file in one operation to keep consistent, the config file changed kvs might be bigger than 12.

[2018-08-31 10:22] antony360 opened #10055 "ClientV3: cannot use auth.callOpts"
This is what I got when I try to compile my code using etcd clientv3:

[code]

This commit seems involved https://github.com/etcd-io/etcd/commit/2ac04381a262dda58ce8fc8f8f85961da3be9e92#diff-bd4e83ea9a94a69b4254af4c6118b6f2
/cc @gyuho

[2018-08-31 10:29] #10055 closed

[2018-08-31 11:36] pifuant opened #10056 "Why client-side STM not server-side STM?"
etcd Version: 3.3.9

[2018-08-31 12:42] hexfusion commented on #10056
@pifuant can you elaborate on what is the issue with 3.3.9? The client side seems to be working or is this a feature request? Please clarify with details so we can help you.

[code]

[2018-08-31 13:18] hexfusion commented on #10048
@toranger you can define this with etcd server `--max-txn-ops` flag default is 128.

[code]

[2018-08-31 13:20] #10048 closed, assigned to nobody

[2018-08-31 17:46] gyuho commented on #8645
@spzala

Have you dropped packets? We want to simulate faulty networks with iptables.

[2018-08-31 18:52] spzala commented on #8645
@gyuho hi, thanks, so I run this on client machine `iptables -A INPUT -s <serverip> -j DROP` and I see that stopped server message and then when I unblock it, the connection was back and started receiving messages.

[2018-09-01 00:08] jingyih commented on #10047
Agreed with @mutexlock. auth.NewAuthStore() returns *authStore, which implements interface auth.AuthStore.

Similar examples can be found in
https://github.com/etcd-io/etcd/blob/1a282a72bec1fb55692698bf3cd06d7d191d1906/etcdserver/api/v3rpc/key.go#L43-L45
where the function NewKVServer() returns &kvServer, which implements interface pb.KVServer

[2018-09-01 00:08] #10047 closed

[2018-09-01 12:56] vimalk78 commented on #9882
@Funcan , can you check with changes in this PR, and verify if it fixes the memleak? i have observed for 20 minutes and multiple clients. the memory did not increase.
thx!

[2018-09-01 15:34] #9882 closed

[2018-09-01 20:47] vimalk78 commented on #10009
The `Watch` [api](https://github.com/etcd-io/etcd/blob/master/etcdserver/etcdserverpb/rpc.proto#L71) is a streaming api. Its input and output both are streams. The same Watcher, potentially, can be used to watch for multiple keys and ranges.

In the etcdserver, a goroutine handles the invocation of this api
[code]

this goroutine creates 2 new go routines, one for receiving Watch requests on the s

[2018-09-02 03:04] GhostComputing commented on #9471
I have try this way and it works:

**Backup process**

- backup etcd v2 data using v2 command and you will get snap and wal data;

- backup etcd v3 data using v3 command and you will get snapshot;

**Recovery process**

- recovery v3 data at first；

- once the etcd cluster is up and v3 data is completed, dump v2 data from backup and write it back to the new cluster;

Maybe it is tricky and not rec

[2018-09-02 16:38] bithavoc commented on #9357
If you're using godep, update your dependencies: `godep save ./...`

[2018-09-03 04:47] sudeeshjohn opened #10059 "enable ppc64le node in https://jenkins-etcd-public.prod.coreos.systems/"
Request to re-enable ppc64le node in https://jenkins-etcd-public.prod.coreos.systems/. The node was down due to hardware issues. We have a new node available for adding to the jenkins. Please let me know how I can share the credentials.

[2018-09-03 16:43] gyuho commented on #10059
We are currently waiting for CNCF migration to set up public CIs. In the mean time, please reach out to team at CoreOS.

[2018-09-04 02:58] toranger opened #10061 "three etcd node alway remind me A:2379 is up but not pinned (already pinned B:2379)"
PS:etcd3.3.5amd
then the program will stuck. the only thing changed different with one etcd node is add etcd_endpoint=A:2379,B:2379,C:2379   in clientV3.New()'s endpoint.

[2018-09-04 08:57] gnuoy commented on #9949
In my setup each etcd unit has an individual server certificate that includes an IP SAN with the ip address of the unit.

If I generate a new certificate that has IP SAN entries for all units in the cluster and then use then use that certificate on all units the problem goes away. I don't like this workaround though as it means I need to cert every time I scale out.

[2018-09-04 10:30] gnuoy commented on #9949
In my current setup I have three etcd nodes: 10.53.82.141, 10.53.82.217 and 10.53.82.233
I have shutdown etcd on 10.53.82.141 and 10.53.82.141 is the first entry in my Endpoints list. Running the client and capturing the error message from https://github.com/etcd-io/etcd/blob/master/vendor/google.golang.org/grpc/credentials/credentials.go#L166 gives:

[code]

[2018-09-04 13:12] Tutotu opened #10064 "磁盘读写速度慢导致 etcdserver: publish error: etcdserver: request timed out"
Please read https://github.com/etcd-io/etcd/blob/master/Documentation/reporting_bugs.md.
在没有使用ssd的普通磁盘上保存etcd 的data数据，当data数据超过1G以上，好像会发生因为数据同步慢导致的request timed out。
查看代码：
etcdserver/server.go
req := pb.Request{
		Method: "PUT",
		Path:   membership.MemberAttributesStorePath(s.id),
		Val:    string(b),
	}
ctx, cancel := context.WithTimeout(s.ctx, timeout)
		_, err := s.Do(ctx, req)
会存在发布客户端消息超时的机制

[2018-09-04 13:14] spzala commented on #9648
@gyuho @gyliu513 I will be spending sometime on it for further investigation.

[2018-09-04 14:33] gnuoy commented on #9949
It looks like the chain of events (when servername is not used):

1) newClient is called from **clientv3/client.go.** This first endpoint is
   extracted from the Endpoint list and used to call client.dial.

[code]

2) client.dial in turn calls DialContext from  **./vendor/google.golang.org/grpc/clientconn.go**

[code]

3) DialContext sets the authority to be url for the first endpoint **./vendor/

[2018-09-04 14:49] fearblackcat commented on #10009
<img width="1439" alt="qq20180904-224655 2x" src="https://user-images.githubusercontent.com/5964503/45038798-91a5a300-b094-11e8-86d7-f7135834a2b7.png">
@wenjiaswe  I only initialize one instance for clientv3

[2018-09-04 15:40] yingnanzhang666 commented on #10010
Before restore from snapshot, the cluster is running with single etcd normally, but got error "mvcc: range cannot find rev (224,0)", after etcd panic and restart with data, it cannot start up with "panic: runtime error: slice bounds out of range" when restore.
add debug log, print the key and value ranged from https://github.com/etcd-io/etcd/blob/v3.1.9/mvcc/kvstore.go#L398
[code]
It shows the key

[2018-09-04 19:19] sanamsarath opened #10065 "Txn response from etcd has no "succeeded " value when copmare fails, the request is made through curl command."
etcd Version: 3.3.2+git

Txn response from etcd has no "succeeded " value when copmare fails, the request is made through curl command.

Txn request:

`curl -L http://127.0.0.1:2379/v3beta/kv/txn -X POST -d '{"compare":[{"target":"CREATE","result":"LESS","key":"Zm9v","create_revision":"2"}],"failure":[{"requestRange":{"key":"Zm9v"}}]}'`

Txn response:

`{"header":{"cluster_id":"6509026458225359453

[2018-09-04 22:51] gyuho commented on #10065
@sanamsarath @hexfusion We encode `Succeeded` field with `omitempty`

https://github.com/etcd-io/etcd/blob/1df1ddff4361ed7f2c0f33571923511889a115ce/etcdserver/etcdserverpb/rpc.pb.go#L1271-L1274

So this is expected?

[2018-09-05 01:01] hexfusion commented on #10064
@Tutotu I translated your issue to English in hopes of resolving your problem quickly. Also so that is will help others who may find this issue in the future, I hope you do not take offense.

To answer your question per FAQ SSD is highly recommend and is most likely the root of your issue. Adjusting timeouts will only masq this problem. https://github.com/etcd-io/etcd/blob/master/Documentation/faq

[2018-09-05 02:14] Tutotu commented on #10064
I am sorry ,my englist is not good.thank you for your help.
this is my backend_commit_duration and wal_fsync_duration mtrics

# curl -s http://127.0.0.1:4012/metrics | grep -E backend_commit_duration\|wal_fsync_duration
# HELP etcd_disk_backend_commit_duration_seconds The latency distributions of commit called by backend.
# TYPE etcd_disk_backend_commit_duration_seconds histogram
etcd_disk_backend

[2018-09-05 03:35] sudeeshjohn commented on #10059
/cc @mkumatag

[2018-09-05 13:30] hexfusion commented on #10061
@toranger please provide logging and startup flags for the nodes you are having issues with so that we can help debug.

[2018-09-05 13:32] hexfusion commented on #10056
Hi @pifuant can you provide any more details?

[2018-09-05 13:41] vimalk78 commented on #10009
@fearblackcat , i tried with the code as in below link
https://play.golang.org/p/c-YO-aDTPwC

i didn't observe any increase in go-routines. only single instance of send/recv goroutines is created in `serverWatchStream` , and is destroyed when all the watches are cancelled.
with two instances of above client program, two instances are created and destroyed.

![image](https://user-images.githubuserc

[2018-09-05 17:11] philips commented on #9965
Vimal- does that URL work in your browser? What OS are you using? The site
is using the very common Let's Encrypt CA.

[code]

[2018-09-05 17:27] jingyih commented on #10009
@fearblackcat In which test did you observe this issue?  I think the first step is for us to reproduce the same issue.

[2018-09-06 00:59] YanLemon opened #10068 "Kubernetes 1.11 default etcd server version is v3.2.18,how about etcd v3.2.24? How stable is etcd v3.2.24 and whether it is suitable for production environment?"
Please read https://github.com/etcd-io/etcd/blob/master/Documentation/reporting_bugs.md.

[2018-09-06 01:34] hexfusion commented on #10068
@YanLemon Kubernetes team just bumped vendor to 3.2.24 looks like this will be in 1.12, as far as etcd goes 3.2.24 we released Jul 24 and is certainly production ready.

ref: https://github.com/kubernetes/kubernetes/pull/68147

[2018-09-06 01:34] #10068 closed

[2018-09-06 05:05] philips opened #10071 "broken link from go.etcd.io rename"
https://godoc.org/go.etcd.io/etcd/raft

Example app link should be github not go.etcd.io

[2018-09-06 08:04] #10056 closed

[2018-09-06 12:08] absolute8511 opened #10072 "auto-compaction slow and will cause the apply entries too long"
Will the compaction  block the entry apply? As I noticed some logs while compaction running
[code]
I am using the etcd 3.2.18, and setting the auto-compaction to every 1hr. From metrics, I saw the auto-compaction mostly cost 256ms and above. Is it normal? and will it cause the apply entry took too long?

[code]

and metric for fsync
[code]

[2018-09-06 15:49] yingnanzhang666 commented on #10010
@jpbetz For the issue fixed by this PR https://github.com/etcd-io/bbolt/pull/67, whether it existed in v3.1.9? The code changed isn't existed in v3.1.9. And also I add the unit test case "func TestDB_Concurrent_WriteTo(t *testing.T)" into v3.1.9, but it can pass.
[code]

And test v3.1.11 without https://github.com/etcd-io/bbolt/pull/67, the unit test shows
[code]

[2018-09-06 16:06] yingnanzhang666 commented on #10010
@jpbetz And also, from the comments https://github.com/etcd-io/etcd/pull/8813#issuecomment-345024287, it only impact the snapshot instead of the db, right? So suppose if it's a single etcd, and never recovered from backup, this freelist corruption issue won't occur. But actually, when it got the first error "mvcc: range cannot find rev (224,0)" and went to crash, it's a single etcd, never restart

[2018-09-06 16:08] jpbetz commented on #10010
@yingnanzhang666 my understanding is that the issue exists on etcd versions prior to 3.1.11.  The safest bet would be to bump up your etcd version.

I’m not 100% certain why the test passed, but it’s not written to be deterministic, so maybe that’s at play?

[2018-09-06 16:10] yingnanzhang666 commented on #10010
cc @gyuho

[2018-09-06 16:13] philips opened #10073 "dash.etcd.io: is it gone?"
dash.etcd.io is referenced in `Documentation/op-guide/monitoring.md`. But, it seems to be down/missing. Is it coming back?

[2018-09-06 16:16] jpbetz commented on #10010
There are two ways we know it can happen:  (1) when an etcd server becomes sufficiently out of date that it is send a new copy of the db from the leader.  This happens automatically. (2) when creating a snapshot file explicitly.  E.g via etcdctl

So maybe you’ve encountered it in a way we haven’t seen before?  Everything about the details you’ve provided strongly suggest that this is the same free

[2018-09-06 16:18] gyuho commented on #10073
@philips We used to serve functional testing status, but haven't maintained it. Once domains get migrated to CNCF, I can rerun them. Or feel free to use it for something else for now.

[2018-09-06 17:12] brk0v commented on #9000
A quick question about snapshot pull logic, if you don't mind.

If I get an error, timeout or any other issue here, I should drop this message with snapshot meta data on the follower side. And raft will resend new snapshot (maybe from new leader). Am I right?

Something like this using etcdserver/api/rafthttp api:

[code]

@xiang90

[2018-09-06 17:39] philips commented on #10073
Right I guess my question is: are we no longer running functional testing?

On Thu, Sep 6, 2018, 9:19 AM Gyuho Lee <notifications@github.com> wrote:

[2018-09-06 17:40] gyuho commented on #8645
We expect

You may tune gRPC keepalive timeout in server-side. The disconnect may have been too short for server-side keepalive to kick-in.

[2018-09-06 17:41] gyuho commented on #10073
@philips We have been running them in CIs https://github.com/etcd-io/etcd/tree/master/functional.

[2018-09-06 17:42] gyuho commented on #8645
I would also add more debugging lines or adjust log levels in gRPC side. Server may not display all logs.

[2018-09-06 17:54] philips commented on #10073
got it, thanks.

we should either remove the reference to dash.etcd.io in the docs or leave
this bug open.

On Thu, Sep 6, 2018 at 10:42 AM Gyuho Lee <notifications@github.com> wrote:

[2018-09-06 18:05] gyuho commented on #10073
Sounds good. Will do today.

[2018-09-06 18:34] wenjiaswe commented on #10008
@wenjiaswe

[2018-09-06 18:35] wenjiaswe commented on #10072
cc @jpbetz

[2018-09-06 18:36] wenjiaswe commented on #10064
@jingyih

[2018-09-06 18:37] wenjiaswe commented on #10061
cc @jingyih

[2018-09-06 21:14] jingyih commented on #10064
@Tutotu I also made some editing to your post, in hope of making it clearer to other contributors in the community.  Hope you don't mind:)

[2018-09-07 01:11] #10073 closed

[2018-09-07 01:49] hexfusion commented on #10064
@jingyih thanks that actually helped me a lot, my google conversion was probably quite sloppy.

The metrics you show don't look that bad but etcd is very I/O intensive and HDD will eventually be a bottleneck. In general, I feel it would undermine the stability of the cluster to allow for the timeouts to be adjusted to accommodate slower disks. As your data grew and I/O demands increased the proble

[2018-09-07 02:27] Tutotu commented on #10064
@jingyih thank you very much

[2018-09-07 02:32] Tutotu commented on #10064
@hexfusion
By increasing the timeout, I won't see the "etcdserver: publish error: etcdserver: request timed out" error again. Basically, it must be the slow disk read and write. If this timeout time can not be configured, I only replace SSD.

[2018-09-07 05:02] absolute8511 commented on #10072
So we can not do anything to reduce the apply entries took too long in v3.2.x? And in 3.3.x I see no configure for the `batchsize`, only we can do is to change the interval to 10min or less?

[2018-09-07 05:17] gyuho commented on #10072
@absolute8511 As @jpbetz mentioned, compaction is blocking operation, so requests may time out.

In https://github.com/etcd-io/etcd/blob/master/CHANGELOG-3.3.md#v333-2018-03-29, you can do revision-based compaction. You will need find best-working configuration for your use case.

[2018-09-07 05:17] #10072 closed

[2018-09-07 05:20] gyuho commented on #10061
@toranger You have to provide more details. In general, you do not need worry about endpoint pinning. It's an internal client balancer logic. In v3.2 and v3.3, it will pin the first connected endpoint with automatic failover. In v3.4, we round-robin. Please see https://etcd.readthedocs.io/en/latest/client-architecture.html for more detail.

[2018-09-07 05:20] #10061 closed

[2018-09-07 05:26] gyuho commented on #9935
@zimulala What are your client and server version? Please try latest v3.3.

[2018-09-07 05:27] #9973 closed

[2018-09-07 05:36] gyuho commented on #9992
Alarm is another apply command in Raft. It's triggered by etcd quota layer and replicated over consensus. Since compact and defrag are requested manually by an operator, alarm deactivation should be done so in an explicit way. etcd does not track defrag effects. Operator should do.

[2018-09-07 05:36] #9992 closed

[2018-09-07 07:05] absolute8511 commented on #10072
I think the method for revision can not solve the blocking. `--auto-compaction-mode=revision --auto-compaction-retention=1000 automatically Compact on "latest revision" - 1000 every 5-minute`

Because every 5 mins can reach the batchsize=10000, maybe we need adjust the batchsize and reduce the interval.

[2018-09-07 07:08] schmitch commented on #10002
that's what I did.

[2018-09-07 07:38] gyuho commented on #10002
@schmitch Can you provide reproducible steps in a separate issue? The server logs should show some warnings on failure.

[2018-09-07 07:43] schmitch commented on #10002
well I think it's hard to reproduce. I guess I started the etcd cluster with environment variables (coreos etcd integration).
After that I migrated to kubernetes where I put all the variables as parameters (as seen above), this worked until one node failed and I couldn't recover that node until I removed `initial-cluster`, `name` and put them into environment variables `ETCD_NAME`, `ETCD_INITIAL_C

[2018-09-07 07:57] gyuho commented on #10002
Those empty names are expected if the node failed to join the cluster.

I don't think this is an etcd issue. Can you ask https://groups.google.com/forum/#!forum/coreos-dev on best practice on writing env vars?

If you can reproduce without coreos and systemd dependency, we will look into it.

[2018-09-07 11:07] zhongwencool opened #10078 "Why etcd can't start v3 mode"
MacOS
`brew upgrade etcd`
#### start ETCD:
[code]
### Using etcdctl
[code]
But the get cmd return **nothing**
[code]
However: **v2**  is working.

[code]

[2018-09-07 11:09] zhongwencool commented on #10078
Just follow Document with only node: https://github.com/etcd-io/etcd/blob/master/Documentation/dev-guide/local_cluster.md

[2018-09-07 12:16] ymmt2005 commented on #10038
@gyuho @xiang90
Hi.  Please let me know your thoughts on this.
Specifically, which of etcd or vault should be fixed?  Both?

[2018-09-07 12:44] hexfusion commented on #10078
@zhongwencool I don't see where you write test to v3 store. Does this work?

`ETCDCTL_API=3 etcdctl put test 2;ETCDCTL_API=3 etcdctl get test`

[2018-09-07 13:09] hexfusion commented on #10078
If you do not see this output please feel free to reopen.

[2018-09-07 13:09] #10078 closed

[2018-09-07 14:46] seh commented on #8060
Is it correct that even if one activates additional URLs with distinct ports for _etcd_ serving metrics (per #8242), the server still demands the same authentication credentials as the other _etcd_ ports (2379, 2380)? It is challenging to arrange for Prometheus to have the client key and certificate available to authenticate to _etcd_—as mentioned in kubernetes/kubernetes#53405.

Running a dedicat

[2018-09-07 15:00] gyuho commented on #8060
You can specify HTTP URL, bypassing TLS auth.

[2018-09-07 20:02] seh commented on #8060
Thank you, @gyuho. I see that accommodation [here in `transport.wrapTLS`](https://github.com/etcd-io/etcd/blob/c47d4450c7218a333e1c1545c10a27d0f32b73ef/pkg/transport/listener.go#L51:L56).

[2018-09-07 20:16] gyuho commented on #9996
Do you have exact same workloads between two?

[2018-09-08 12:07] vimalk78 commented on #9965
I am on Ubuntu 14.04 LTS
the URL doesnt works with curl.
`curl: (35) error:140770FC:SSL routines:SSL23_GET_SERVER_HELLO:unknown protocol`

after adding following certs, still i get the same error with curl and `go get`
https://letsencrypt.org/certs/isrgrootx1.pem.txt
https://letsencrypt.org/certs/lets-encrypt-x3-cross-signed.pem.txt

querying `/etc/ssl/certs/ca-certificates.crt` gives :
subject= /

[2018-09-09 06:03] YeruchamB opened #10080 "Failed cluster"
Hi all,

I'm running a 5 node cluster with the following parameters:
--cert-file=/var/porticor/conf/confucius.crt --key-file=/var/porticor/conf/confucius.key --peer-auto-tls \
--listen-client-urls=https://10.5.195.250:2379 --listen-peer-urls=https://10.5.195.250:2380 \
--advertise-client-urls=https://10.5.195.250:2379 --initial-advertise-peer-urls=https://10.5.195.250:2380 \
--name=i-0897a9ce1a2e4

[2018-09-09 09:47] plpan commented on #9996
@gyuho yeal, the workload is exactly the same. Details are given in https://github.com/etcd-io/etcd/issues/10009.

[2018-09-10 02:38] GhostComputing commented on #9471
It's very tricky (maybe) ... I just read the etcd v2 data from backup and write them back to v3 cluster (already recover from v3 data), that means, you have to recovery v3 data at first, them recovery v2 data using read-and-write way. @ZiggyMaes

[2018-09-10 07:06] ZiggyMaes commented on #9471
Ah I see, fair enough! Cheers!

[2018-09-10 17:29] gyuho commented on #9161
@jpbetz and me are working on this. We will share design doc, once ready.

[2018-09-10 17:43] vimalk78 commented on #9996
do you have logs that you can share?

[2018-09-10 19:54] #10008 closed

[2018-09-10 20:01] hexfusion commented on #9988
@clusc would you mind trying out https://github.com/etcd-io/etcd/pull/10019 and let me know if it helps your issue?

[2018-09-11 08:14] yangxuanjia opened #10081 "etcd use lots of memory, and often OOM."
we has lots of key, and one key is 2.3M,  we start etcd, 5 etcd fast use memory 20G,  and product env, we meet some of OOM event,  5 etcd all down one by one.

(pprof) top
20063.14MB of 20161.90MB total (99.51%)
Dropped 603 nodes (cum <= 100.81MB)
      flat  flat%   sum%        cum   cum%
20058.51MB 99.49% 99.49% 20058.51MB 99.49%  github.com/coreos/etcd/cmd/vendor/github.com/coreos/etcd/raft/raf

[2018-09-11 08:16] yangxuanjia commented on #10081
by the way, we use etcd 3.2.19

[2018-09-11 08:52] yangxuanjia commented on #10081
We have about 1000 keys, the others are relatively small, about 1KB, only 1 key is 2.3MB, this key will change, watch, we configure 1 hour compression once. The client probably has 5000-8000 connections to etcd and Keep your heartbeat. Heartbeat 100ms. The current online environment etcd will be beaten down once in about 1 month.

[2018-09-11 11:18] pifuant opened #10082 "lease read safety"
5 nodes(1, 2, 3, 4, 5),  node 1 is leader,  connection of between node 1 and node 5  is break, others is  ok.

In node 1(master) lease time, if node 5 triggers leader election and become leader, and then write some data.  it would  break lease read safety,  how did etcd deal with this situation?

[2018-09-11 21:21] xiang90 commented on #10081
1000 * 2.3MB = 2.3GB. If you update each 2.3 MB keys 10 times within an hour, the accumulated memory usage will be 23GB.

[2018-09-11 21:47] h8liu opened #10083 "when is the next release?"
people are starting to use go modules, but can only use a release before the import path has changed. This has caused incompatibility between `go get` with modules enabled or not.

See https://github.com/google/go-cloud/issues/429 for background.

Is there planning/timeline for a release 4.0.0 (because import path change is not backward compatible now)?

[2018-09-11 23:11] gyuho commented on #10083
Yeah for v3.4, I will soon switch to go module. Already tried it and works well for etcd.

[2018-09-12 03:05] xh4n3 opened #10084 "Namespace quota for multi-tenancy"
Now etcd has a global storage quota, but for multi-tenant environment, it seems we cannot limit storage usage, key number usage for each user, or each role.

IMHO, if there is a quota for this scenario, it would satisfy these needs.

[2018-09-12 03:31] xh4n3 commented on #10084
My first idea was adding `KeyQuota` and `StorageQuota` to the `Role` struct, `Usage` and `Quota` are created in the following ways:
* List all keys and calculate usage if none usage exists
* Using default quota when creating new roles
* Usage are calculated only when keys matched KeyPermission is being updated
* If Quota.Usage + Cost(Operation) > Quota.Quota, return quota exceeded error.

[code]

[2018-09-12 06:10] YeruchamB commented on #10080
Hi @hexfusion,
* I'm not sure what happened to the etcd_disk_wal_fsync_duration_seconds_bucket metric. I think we have another unrelated issue that causes some gaps in our logs.
* We are running 5 m4.large servers in an AWS autoscaling group.

I've attached the etcd logs from all of nodes that starts a few minutes before the first node crashed and continues until the next node comes up and is unab

[2018-09-12 15:46] essamhassan commented on #9734
I'd love to contribute in this issue if possible maybe pair with @joelegasse

[2018-09-12 15:47] essamhassan commented on #9734
I'd love to help with this issue

[2018-09-12 15:51] hexfusion commented on #9734
@essamhassan great, love to have you on this. Could you coordinate with @joelegasse to make sure there is no overlap in work etc? Thanks!

[2018-09-12 19:16] collinkrawll opened #10087 "The etcd v3 API isn't returning helpful TLS error messages."
# Issue

The etcd v3 API isn't returning helpful TLS error messages. Instead, it simply returns `Error: context deadline exceeded`. It shoud return TLS errors that are more like the ones returned by the v2 API.

etcdctl version: 3.3.6

This V3 API command:

`ETCDCTL_API=3 etcdctl --endpoints=https://127.0.0.1:2379 --cacert=/etc/etcd/ssl/ca.pem --cert=/etc/etcd/ssl/cert.pem --key=/etc/etcd/ssl/key.

[2018-09-12 19:30] h8liu commented on #10083
note that, based on semver spec, after the import path change to `go.etcd.io/etcd`, the version number probably, needs to be 4.0

[2018-09-12 20:13] gyuho commented on #10083
@h8liu I don't think we need bump up major version? It's only import path change, no API change was made.

[2018-09-12 22:15] leakingtapan opened #10089 "etcd-dump-db stuck while etcd is running"
I am using etcd-dump-db to dump key/values stored in etcd. however, the command is stuck for a long time. The dump finishes after I stopped etcd process. After discussion with @gyuho , this is because etcd-dump-db tries to acquire db flock while etcd already acquired it.

It would be useful to add some timeout mechanism on etcd-dump-db when acquiring the flock or simply print some log on the conso

[2018-09-13 03:47] hexfusion commented on #10082
@pifuant let's say we have 5 nodes on term 2 and node 1 is the leader. Although node 5 can communicate with the other nodes it will not receive heartbeat AppendEntries RPC's from leader node 1 and will timeout thus become a candidate and start the election process.

At this time node 5 will increment its term to 3 vote for itself and sends out RequestVote RPCs to the other nodes. Because it can st

[2018-09-13 04:58] h8liu commented on #10083
because of the import path change, previous code that imports "github.com/coreos/etcd" won't be able to use the code without change. For example:

https://gopkgs.io/builds/20180911-195307-3d66b81f

unless you treat it a completely different package.. where the new version number does not matter.

[2018-09-13 06:04] johncming opened #10090 "May be use Rlock instead of Lock here"
https://github.com/etcd-io/etcd/blob/a7b1306ecfefeabe48286403b260513786289922/contrib/raftexample/kvstore.go#L97-L100

`json.Marshal`is a read op here.

[2018-09-13 08:57] pifuant commented on #10082
@hexfusion thanks

Important assumption:  node 1 can't communicate with node 5

Node 1 don't know that node 5 has became leader and don't know TTL reset, because nobody can tell Node 1 all the thing.  Unluckily， if node 1 receives a read request, node 1 just think it is leader  and it will read local data in valid lease time.

[2018-09-13 12:41] sostuts opened #10091 "Why the response time of the pressure data is getting longer and longer?"
1000RPS for txn-put(grant lease、 txn (read -> put if key not exit)),  request is load balancing to ten machines, each machine will send txn-put request to ETCD.

first pressure test :
[code]

second :
[code]

third :
[code]

fourth :
[code]

fifth :
[code]

The interval between each execution is ten minutes, but each response time is getting longer.
But after an hour, the RT reduced seemingly, six

[2018-09-13 17:14] xiang90 commented on #10082
no. l-read needs acks from the quorum.

[2018-09-13 17:14] #10082 closed

[2018-09-13 17:18] xiang90 commented on #10083
@h8liu

The etcd version is not going to get bumped. etcd is a binary program not a library. We have been talking about how to separate the client library versioning from the etcd binary versioning, but have not found a good way to do it.

[2018-09-13 17:47] #9377 closed

[2018-09-13 18:11] wenjiaswe commented on #10080
@wenjiaswe

[2018-09-13 18:12] wenjiaswe commented on #10081
@jingyih

[2018-09-13 18:13] wenjiaswe commented on #10083
cc @jpbetz

[2018-09-13 18:17] h8liu commented on #10083
@xiang90 Thanks for explaining. Then it is wrong for go-cloud (or any repo that uses go mod from 1.11) to reference the version in its `go.mod` or `go.sum`.

[2018-09-13 18:26] wenjiaswe commented on #10090
@jingyih

[2018-09-13 18:32] essamhassan commented on #9734
Great, will do. Is there a slack team chat or any similar way to contact @joelegasse ? we can coordinate the work there

[2018-09-13 18:45] hexfusion commented on #9734
@essamhassan I spoke with Joe and he has nothing pending so full steam ahead!

[2018-09-13 18:47] pifuant commented on #10082
@xiang90   no， node 1 don't need acks from the quorum

[2018-09-13 18:51] pifuant commented on #10082
@hexfusion @xiang90  please take a look again, I really think raft lease read don't promise safety, unless etcd did extra thing for it.

[2018-09-13 18:53] xiang90 commented on #10082
@pifuant If you have a question about raft's correctness, probably you should start the discussion in the raft mailing list: https://groups.google.com/forum/#!forum/raft-dev

[2018-09-13 23:08] jingyih commented on #10081
@yangxuanjia Do you know how frequently the large key (of size 2.3 MB) is updated?

[2018-09-14 02:06] sostuts commented on #10091
I don't have permission to read the doc.

[2018-09-14 03:41] yangxuanjia commented on #10081
not so much,  3 or 4 days only  update the key 1-1000 times

________________________________________
发件人: Jingyi Hu [notifications@github.com]
发送时间: 2018年9月14日 7:09
收件人: etcd-io/etcd
抄送: 杨轩嘉; Mention
主题: Re: [etcd-io/etcd] etcd use lots of memory, and often OOM. (#10081)

@yangxuanjia<https://github.com/yangxuanjia> Do you know how frequently the large key (of size 2.3 MB) is updated?

―
You are

[2018-09-14 03:58] jingyih commented on #10081
@yangxuanjia forgot to ask: how about the other (small) keys.  Are they updated more frequently?

[2018-09-14 07:03] yangxuanjia commented on #10081
other small key also not frequently, just use config save.

[2018-09-14 07:06] yangxuanjia commented on #10081
our system is vitess,  and vitess use etcd to save config.
vschema is the router key,  all database router key merge to one big key,  and the big key is 2.3MB now.
furture the big key will increase.   other small key is user config, keyspace,  master-slave info and so on.

[2018-09-14 11:48] pifuant commented on #10082
@xiang90 thanks

[2018-09-14 21:54] jingyih commented on #10081
@yangxuanjia can you check if the auto compaction is successful?  In the log you should obeserve something like:

or

[2018-09-14 22:37] jingyih commented on #10091
@sostuts Can you track memory usage?  I am wondering if there is correlation between the increased RT you observed vs. high memory usage?

[2018-09-15 04:26] #9149 closed

[2018-09-15 04:27] gyuho commented on #9365
This will be covered when we add design and operation docs to learner node.

[2018-09-15 04:27] #9365 closed

[2018-09-15 04:30] gyuho commented on #9895
@raoofm If you can contribute to this, it would be great. No one in etcd team has plan to work on this in the near future.

[2018-09-15 04:32] gyuho commented on #9804
Closing due to inactivity. Don't have plan to work on this in the near future.

[2018-09-15 04:32] #9804 closed

[2018-09-15 04:35] gyuho commented on #9535
Moving discussion to https://github.com/etcd-io/etcd/issues/9975.

[2018-09-15 04:35] #9535 closed

[2018-09-15 04:35] gyuho commented on #9975
ref. https://github.com/etcd-io/etcd/issues/9535

[2018-09-15 05:27] sanamsarath opened #10096 "ETCD lock example"
Can someone provide the exact use case of lock feature in ETCD.

How can I use the lock id generated after lock request, should I have to include that id in the atomic operations like put, get or delete?? also want to know if lock applies to the entire key value store or if a single key can be locked and updates on other keys can be performed in parallel??

Thanks.

[2018-09-15 06:55] sostuts commented on #10091
@jingyih  Using the pressure of 1000RPS, after half an hour , the single-core cpu of the etcd-leader machine rose to 70%, the other cores only occupied 20%-30%, and the memory had reached 65%.  and the load is 2.3 .
After the pressure test, the memory usage did not decrease and everything else returned to normal. And there is a strange place, "etcd_debugging_server_lease_expired_total" has risen a

[2018-09-17 00:57] #9157 closed

[2018-09-17 00:57] gyuho commented on #9150
Will be addressed with learner feature.

[2018-09-17 00:57] #9150 closed

[2018-09-17 00:58] #9151 closed

[2018-09-17 00:58] #8776 closed

[2018-09-17 10:04] Saloshp opened #10098 "etcd 3.3.9 does not parse "wal-dir" configuration correctly"
Configuring etcd to use any destined directory */foo/bar* , causes it to try and create */foo/bar.tmp*, where it has no permissions

**Debugging information**
[code]
[code]

[2018-09-17 11:13] gyuho commented on #10098
Do you have write access to that directory?

[2018-09-17 11:19] hexfusion commented on #10098
Part of the wal initialization is to create this .tmp directory. Perhaps better to set /var/lib/etcd/wal where etcd dir perms allow write for etcd user.
https://github.com/etcd-io/etcd/blob/fca8add78a9d926166eb739b8e4a124434025ba3/wal/wal.go#L92-L109

[2018-09-17 16:39] Saloshp commented on #10098
@gyuho
[code]
[code]
@hexfusion
I was trying to solve some performance issues due to very high load, and so I thought I'd mount the *wal-dir* to a 64M *tmpfs* drive, and I didn't want the mountpoint to be under the working directory of *etcd* to make automation easier.
Setting the *wal-dir* to */var/lib/etcd/wal* does work, but I don't see the point of specifying an unusable var.. (?)

[2018-09-17 16:54] hexfusion commented on #10098
/var/lib is presumably owned by root of your mount is /var/lib/etcd-wal set the flag to /var/lib/etcd-was/foo ? Point is you need write perms to the containing directory.

[2018-09-17 17:10] Saloshp commented on #10098
@hexfusion
IMHO line 100 should be:
[code]
A user should be able to use this var to specify any directory he wishes, assuming he set the right permissions to it, under it the code can do whatever it needs.

[2018-09-17 18:09] wenjiaswe commented on #10096
@jingyih

[2018-09-17 18:13] wenjiaswe commented on #9996
@jpbetz @wenjiaswe

[2018-09-17 18:14] hexfusion commented on #10098
tmpdirpath := filepath.Clean(dirpath) + "/.tmp"

@Saloshp I think you are going to still run into issues. Can you show me a working example of how that would work? Here is the logic condensed.

[code]

Yes correct you need write permissions create the `--wal-dir` in your case this is not true.

[2018-09-17 18:14] #10098 closed

[2018-09-17 18:41] hexfusion commented on #10098
and this folder has the correct permissions like I have shown you, why won't the code create /var/lib/etcd-wal/.tmp?

Yes you can create .tmp but the next step for the code is to `mv /var/lib/etcd-wal/.tmp /var/lib/etcd-wal` this will not work right? Have you tested the code?

[2018-09-17 19:00] Saloshp commented on #10098
No, I have not tested the code, of course it will fail in the current logic,
what I would do, is eliminate the creation and move process, use the provided `wal-dir` and test permissions against it.
Would you accept such pull-request?

[2018-09-17 19:07] Saloshp commented on #10098
Something like that would do:
[code]

I'd be happy to create and test a PR

[2018-09-17 19:11] hexfusion commented on #10098
If the `data-dir` or `wal-dir` don't exist they will be created. Since these both require write perms. I think we should document this explicitly and be done right? Could you open a PR to that? I would really appreciate it. Changing this logic is not as trivial as it seems or in my opinion justified.

https://github.com/etcd-io/etcd/blob/master/Documentation/op-guide/configuration.md

[2018-09-17 22:43] jingyih commented on #10096
Etcd lock service API is documented [here](https://coreos.com/etcd/docs/latest/dev-guide/api_concurrency_reference_v3.html).

And there is [an example](https://github.com/etcd-io/etcd/tree/master/etcdctl#concurrency-commands) of using etcdctl lock command.

To answer your question, I do not think a lock id should be associated with a specific etcd key, or an etcd command.  My understanding is that

[2018-09-17 23:11] gyuho commented on #10096
@sanamsarath @jingyih @wenjiaswe You can create a session with Go client and simulate concurrency as follows:

[code]

[code]

[2018-09-18 09:55] vorburger opened #10101 "etcdctl complete delete wipe"
For local testing, I find myself wanting to just completely "wipe" any data etcd from the CLI with etcdctl :

https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-reset/ proposes this, but NOK:

    $ etcdctl del "" --prefix
    No help topic for 'del'

    $ etcdctl rm -r ""
    $ Error:  107: Root is read only (/) [3]

Currently I do it like this, but this of course feels more like a

[2018-09-18 10:15] vorburger opened #10102 "etcdctl get option for escaping unprintable bytes"
During local testing, I've used `etcdctl ls -r` just wanting to see if it "had any entries" (and perhaps like `wc -l` them), and realized, after some confusion, that `etcdctl ls` seems to just silently skip any keys with unprintable characters?

Perhaps it could instead (have an option to) print them with some sort of escaping.

See also https://github.com/etcd-io/jetcd/issues/399.

[2018-09-18 12:33] hexfusion commented on #10102
Hi @vorburger for v3 we use something like `etcdctl get  --from-key ''` does this output as expected? My understanding is that jetcd is the official java client for etcd v3 so this would be a more proper comparison.

[2018-09-18 12:38] hexfusion commented on #10102
For just keys `ETCDCTL_API=3 etcdctl get "" --prefix --keys-only`

[2018-09-18 13:10] vorburger commented on #10102
@hexfusion indeed using `ETCDCTL_API=3 etcdctl get --from-key ''` instead of `etcdctl ls -r` prints all.

It's "binary" though.. but I guess one could pipe it into some suitable tool - e.g. `ETCDCTL_API=3 etcdctl get --from-key '' | od -c`, although that is far more verbose than some kind of simpler "KV-per-line with any non-printable characters escaped" kind of output format, as proposed in https

[2018-09-18 13:12] hexfusion commented on #10102
Yes sir, v3.4 https://github.com/etcd-io/etcd/issues/9600

[2018-09-18 13:38] vorburger commented on #10101
@hexfusion oh. Yeah - that seems to work great; thanks!

[2018-09-18 13:38] #10101 closed

[2018-09-18 19:59] jingyih commented on #10090
SGTM.  Could you please create a PR to fix this?

[2018-09-18 20:46] pankaj-chhabra opened #10104 "Kubernetes cluster goes down for a short duration on ETCD master node deletion"
I have a cluster of 3 master nodes. I am using ETCD version 3.1.11. I have Kubernetes cluster on AWS. When the AWS node on which ETCD leader is deleted, autoscaling brings up new node and ETCD on the node comes up and joins the cluster. One error is seen that almost all Kubernetes nodes become Not Ready for a short duration and then cluster recovers.

Connection with old master terminates, new ETC

[2018-09-19 02:49] hexfusion commented on #10104
This is expected as the leader has failed a new leader election is to take place. During that election period, the requests are queued but not writes can process. Because no writes can occur the Kubernetes nodes would show "Not Ready" presuably because of the read only state. The etcd portion of this is documented below.

https://github.com/etcd-io/etcd/blob/master/Documentation/op-guide/failures.

[2018-09-19 16:56] ISuckAtPython opened #10107 "Where to change the Default Client-Request, Heartbeat, Election timeouts?"
EtcdServer 3.3.8
EtcdCluster 3.3.0

I want to change the default timeouts for client connections, client commands, heartbeats, and elections.

I can only find info on how to adjust these timeouts on a request/command basis, but I want to permanently change these timeouts. Can I do this from etcd command line or edit a config file somewhere? I haven't been able to find this info in documentation.

[2018-09-19 17:34] hexfusion commented on #10107
Heartbeats and election timeouts are etcd server these can be defined with configuration file ENV var and flag. The client you can set with flag or ENV var ie `ETCDCTL_DIAL_TIMEOUT`. So if you on a user level added.

`export ETCDCTL_DIAL_TIMEOUT=3s`

to your .bashrc or .bash_profile then source or re-login you would make this persistent on each call with etcdctl same idea as `ETCDCTL_API=3`.

####

[2018-09-19 17:42] hexfusion commented on #10107
etcd logs will show the configs when the node starts. On the client, you could do `printenv | grep ETCDCTL_*` * assuming Linux.

[2018-09-19 22:50] #10090 closed

[2018-09-20 00:20] jingyih opened #10108 "clientv3: snapshot status does not check database integrity"
**Version**
etcd Version: 3.3.0+git
Git SHA: f32bc5076
Go Version: go1.10.3
Go OS/Arch: linux/amd64

**Issue**
We have a corrupted snapshot file, identifiable by running `bbolt check` tool.  When users do `etcdctl snapshot status`, it should notify user if the snapshot file is corrupted.
I will send out a PR to add database integrity verification in snapshot status.

**Example output**
[code]
[cod

[2018-09-20 05:05] jpbetz commented on #10108
I’m strongly in favor of adding the bbolt check to snapshot status.

[2018-09-20 05:44] xiang90 commented on #10108
@jpbetz @jingyih

A side question for you: is the snapshot file generated by etcd? Have you figured out the root cause of the corruption?

[2018-09-20 11:17] hexfusion commented on #10108
@jingyih would it be possible to share this snapshot for the sake of experimentation? Is the underlying data in any way sensitive?

[2018-09-20 11:57] hexfusion commented on #10104
@pankaj-chhabra does this answer your question?

[2018-09-20 12:13] sostuts commented on #10091
With version 3.3, the RT has been stabilized, in the 6000TPS stress test but it will still echo "too many requests" when performing range/put/delete operation at the same time.  What triggers?

[2018-09-20 12:27] hexfusion commented on #10091
Could you please show us the output of the node /metrics? This message "too many requests" can be the result of I/O bottleneck possibly related to heavy range/put/delete ops.

[2018-09-20 12:43] hexfusion commented on #10107
@ISuckAtPython does this answer your questions?

[2018-09-20 13:52] pankaj-chhabra commented on #10104
Thanks, it explains. Please close the issue.

[2018-09-20 13:52] #10104 closed

[2018-09-20 15:10] funny-falcon opened #10111 "clientv3/concurrency: return error in Mutex.Lock if lock were unlocked due to closed context"
It is better to return specific error at this place https://github.com/etcd-io/etcd/blob/f32bc507658e287a69d89e0e1a4d083a01d9da3e/clientv3/concurrency/mutex.go#L73-L75
because currently client may assume it acquired lock if error will be nil.

And even if it doesn't (because context were canceled, therefore, outer code may not do anything meaningful), outer code will call to `mtx.Unlock` second ti

[2018-09-20 16:36] sanamsarath commented on #10096
@jingyih @gyuho Thanks for the explanation and example.

Just want to be clear about the following, as I am trying to implement the c++ client library for etcd

mu1 := concurrency.NewMutex(ss1, "/my-lock/") - > here you are acquiring a lock.

mu1.Lock(context.Background()) -> does this method use the already acquired lock id to do some
                                                         opera

[2018-09-20 16:39] sanamsarath commented on #10096
@gyuho

lease generated for a lock is never expiring,

lock acquired using command line:

[root@db-etcd-5f6775c7c8-r2gts bin]# ./etcdctl lock mylock --ttl=20
mylock/52dd65ee79d88077

lease timetolive is not terminating:

[root@db-etcd-5f6775c7c8-r2gts bin]# ./etcdctl lease timetolive 52dd65ee79d88077
lease 52dd65ee79d88077 granted with TTL(20s), remaining(19s)ive 52dd65ee79d88077
[root@db-etcd-5f6

[2018-09-20 17:31] hexfusion commented on #10096
@sakshamsharma ` etcd --version`   `etcdctl version` ?

[2018-09-20 17:33] hexfusion commented on #10096
I guess it is possible if new leader is elected during this test TTL could be reset. Can you reproduce this?

[2018-09-20 18:57] jpbetz commented on #10108
@hexfusion we can’t share the one we’ve got on hand, but I can try to produce one that can be shared publicly.

[2018-09-20 19:14] hexfusion commented on #10108
@jpbetz, thanks I would appreciate that.

[2018-09-20 19:44] jingyih commented on #10108
@xiang90 @hexfusion The corrupted snapshot file is due to [freelist corruption](https://github.com/etcd-io/etcd/pull/8813).  It was fixed and backported all the way to v3.1.  The corrupted snapshot file was found on one of our GKE cluster where it is using v3.0.

[2018-09-20 20:49] jingyih commented on #10096
maybe related to this
https://github.com/kubernetes/kubernetes/issues/65497

[2018-09-21 06:47] sostuts commented on #10091
@hexfusion This is the /metrics data [metric1.log](https://github.com/etcd-io/etcd/files/2404187/metric1.log)

[2018-09-21 10:07] #10083 closed

[2018-09-21 14:18] sanamsarath commented on #10096
@hexfusion version 3.3 and I have only 1 etcd node.

[2018-09-21 14:26] hexfusion commented on #10096
@sanamsarath 3.3.x? please output `etcd --version` so you're saying it is reproducible?

[2018-09-21 14:47] sanamsarath opened #10113 "Txn compare with version value is not functioning correctly."
etcd version 3.3.2

I have added and modified a key "foo" couple of times, current version value is 3

[code]

then I tried txn request with curl command to get the details of foo and compare failed (base64 of 3 = Mw==)

[code]

and the same compare is working when I tried version != 3:

[code]

[2018-09-21 14:49] ISuckAtPython commented on #10107
Yes this was helpful, I successfully increased the election/heartbeat timeouts. I am curious is there anything I can do at a Server level for connection/command related actions or does that have to be done at the client?

[2018-09-21 15:54] sanamsarath commented on #10096
@hexfusion sorry about that, i was lazy.

etcd Version: 3.3.2+git
Git SHA: 227c3e5
Go Version: go1.10.3
Go OS/Arch: linux/amd64

yes it is reproducile.

[2018-09-21 16:55] andrewjstone opened #10114 "Cannot Add a member during network partition with StrictReconfigCheck enabled"
As implemented, StrictReconfigCheck is very valuable in that it prevents adding unhealthy nodes to the cluster and removing nodes if it would result in quorum loss. However, there is a 3rd check that I believe is counterproductive, and was wondering if we could go ahead and remove it.

With StrictReconfigCheck enabled, it is impossible to add new nodes to the cluster when one node is down or parti

[2018-09-21 17:20] xiang90 commented on #10114
If the newly joined node itself is misconfigured, the will be no quorum anymore.

[2018-09-21 17:40] xiang90 commented on #10114
That requires the learner feature that @gyuho and @jpbetz are working on. Basically, we need to test if the newly added node is able to catch up with the cluster before promoting it to participant into raft group.

[2018-09-21 17:41] xiang90 commented on #10114
node healthy cannot simply be inferred from network connectivity.

[2018-09-21 17:42] #10108 closed

[2018-09-21 17:45] xiang90 commented on #10084
@xh4n3

If we want to do multi-tenancy, probably we need to really have separate mvcc store. Or operations like compaction will affect other tenants. The role mechanism is not designed for isolation but simply for auth. The current isolation is pretty weak.

[2018-09-21 18:02] andrewjstone commented on #10114
This is only true in 3 node clusters.

Yes, of course. But that's also exactly what this check does. I'm simply recommending substituting this check for the same one on the joining node, which I actually already thought existed. Since it doesn't, I suppose it requires larger changes, such as the coming learner change.

I understand you are unwilling to make this change, and will happily wait for t

[2018-09-21 18:05] andrewjstone commented on #10114
3 and 4 node I should have said. I was only considering odd numbered cluster sizes above 2.

[2018-09-21 18:33] xiang90 commented on #10114
We probably can loose that checking for lager clusters.

[2018-09-21 18:40] andrewjstone commented on #10114
Great. Thanks.

[2018-09-21 20:31] davissp14 commented on #9156
@xiang90 What are your thoughts on `etcd-io` absorbing my `etcdv3-ruby` client?  https://github.com/davissp14/etcdv3-ruby

[2018-09-21 21:13] jingyih commented on #10096
I think this is the intended behavior.  Since you are still holding the lock, the lease gets auto renewed.  If you kill the process that is holding the lock, or if there is network partition between this machine you are on and the etcd server, the lease will expire.  The [API doc](https://coreos.com/etcd/docs/latest/dev-guide/api_concurrency_reference_v3.html) mentioned this behavior:

We might ne

[2018-09-22 02:27] sanamsarath commented on #10113
@mangoslicer this looks similar to grpc-gateway: txn marshaling broken #7889 , do you have any idea??

[2018-09-22 15:43] sanamsarath commented on #10096
@jingyih Thanks.

[2018-09-22 15:43] #10096 closed

[2018-09-22 17:12] YeruchamB commented on #10080
@hexfusion @wenjiaswe This just happened again.
Would really appreciate any input..

[2018-09-22 20:37] hexfusion commented on #10080
@YeruchamB --max-txn-ops "Maximum number of operations permitted in a transaction." default is `128` although this is configurable can you explain why you define `--max-txn-ops=65535`? This number I have seen higher than `128  say `512` but tens of thousands? Does this workload happen to be related to your cluster failure? I am running some tests now on these numbers.

[2018-09-22 22:51] hexfusion commented on #10080
I cleaned up the logs removing 7k auth token delete messages and sorted by node. As many as 12 new auth token requests per second.

I see a fair number of errors like this.

This bottleneck is probably the root of the issue any ideas why we are seeing numbers this high?

[etcd-logs.log](https://github.com/etcd-io/etcd/files/2408233/etcd-logs.log)

[2018-09-23 00:54] hexfusion commented on #10113
@sanamsarath version has a little different syntax:

[code]

[2018-09-23 01:06] #10113 closed

[2018-09-23 01:35] sanamsarath commented on #10113
@hexfusion I have tried first the way you mentioned but it is throwing an error.

[code]

[2018-09-23 01:39] hexfusion commented on #10113
@sanamsarath `s/value/version`

[2018-09-23 01:40] sanamsarath commented on #10113
[root@db-etcd-54876f9ddc-gmtmm bin]# ./etcd -version
etcd Version: 3.3.2+git
Git SHA: GitNotFound
Go Version: go1.10.3
Go OS/Arch: linux/amd64

[2018-09-23 01:41] hexfusion commented on #10113
sorry I was not clear

You need to change `"value":1` to `"version":1` as I have in my example.

[2018-09-23 01:44] sanamsarath commented on #10113
@hexfusion Thanks, it helped.

[2018-09-23 01:58] hexfusion commented on #10107
@ISuckAtPython dial timeout is on the client.

[2018-09-23 01:58] #10107 closed

[2018-09-23 14:44] hexfusion commented on #10080
@YeruchamB Can you look into this? Shouldn't be that hard to isolate what/who is making the authentication requests. Something to remember is that although a token is needed for auth, there is a cost for generating a new token. So if at all possible the client IMO should reuse the token until the point where it expires then ask for another.

Also before I look at anything else I will need a copy o

[2018-09-23 16:34] hexfusion commented on #10040
@robertglen just getting a chance to get around to this. I can replicate if I append a comma to the last endpoint like this. In which case it doesn't matter if I have even 1 endpoint I will see simular output.
[code]

Can you manually make the call using --endpoints flag explicitly and see if that was the cause. I can not replicate without the extra comma.

[2018-09-23 21:13] hexfusion commented on #10102
We also have --hex flag.  `etcdctl get --from-key '' --hex`

Do you have any further questions? Could you give an example of problematic data?

[2018-09-24 13:42] vorburger commented on #10102
Let's close this (the `--hex` is good enough).

[2018-09-24 13:42] #10102 closed

[2018-09-24 18:15] wenjiaswe commented on #10111
@jingyih

[2018-09-24 18:17] wenjiaswe commented on #10114
cc @jpbetz

[2018-09-24 19:58] jingyih commented on #10111
Firstly I want to make it clear that I am not very familiar with this piece of code.

My two cents:
Looks like you should call IsOwner() to check if you are actually holding the lock:
https://github.com/etcd-io/etcd/blob/f32bc507658e287a69d89e0e1a4d083a01d9da3e/clientv3/concurrency/mutex.go#L91-L93

My understanding is that even if Lock() returns nil, you cannot assume you are holding the lock aft

[2018-09-24 20:51] funny-falcon commented on #10111
Mutex's lock could not be expired for this particular reason, at least by default. By default Session performs KeepAlive for its lease. Programmer have to do explicit action to orphan Session (Session.Orphan()), or connection to etcd have to be broken.

If there is no any guarantee, then there is no gain from Mutex, then Mutex is useless.

I understand level of Mutex's reliability, and I doesn't m

[2018-09-24 21:56] jingyih commented on #10111
@funny-falcon After a bit more reading of the code, I agree with you that Lock() should not return nil if the call is finished due to context cancellation.

[2018-09-25 06:48] guoger opened #10118 "raftexample may never serve http request after loading snapshots"
https://github.com/etcd-io/etcd/blob/2cf47366216a50826aab7c37784eba0c1ced3ee1/contrib/raftexample/kvstore.go#L65
this loop may never return if no new signal is sent on `commitC` or we **have** snapshot to load. It blocks https://github.com/etcd-io/etcd/blob/2cf47366216a50826aab7c37784eba0c1ced3ee1/contrib/raftexample/kvstore.go#L43
so that http server is never started.

To reproduce
- run `raftexa

[2018-09-25 17:33] SLR9511 opened #10119 "Restore failed by copying db file under data directory directly"
I'm exploring etcd disaster recovery recently and I was following https://coreos.com/etcd/docs/latest/op-guide/recovery.html this tutorial. I copied the `member/snap/db` file to S3 bucket from one machine and download it to another one.
Then I used the following commands to restore:
`ETCDCTL_API=3 etcdctl snapshot restore db --name "xxxx" --initial-cluster xxxx=https://host1:2380 --initial-adverti

[2018-09-25 20:56] gyuho commented on #7308
Updates: @wenjiaswe is working on this. We are reviewing the design doc.

[2018-09-25 21:29] dannysauer opened #10120 "etcdctl provides inaccurate error message on member add (v3API)"
Take a single-node cluster using the v3 API:
[code]
and in a second session, try to add with the old V2 syntax since the v3 syntax is hard to find documentation upon:
[code]

The error message is misleading; a name _has_ been provided, but extra information was also provided.

It would be nice if the error message for "too many arguments" was not the same as for "too few arguments".  Even nicer if

[2018-09-25 21:57] #10120 closed

[2018-09-25 22:43] #10119 closed

[2018-09-26 01:18] fiibbb opened #10125 "What kind of safety guarantee does the leader election primitives provide?"
I'm new to etcd. I've been looking into this [example](https://github.com/etcd-io/etcd/blob/master/clientv3/concurrency/example_election_test.go) of using etcd for leader election. I'm a bit confused with what this example illustrates. It seems like a leader has to call `Resign` to concede the leadership to another agent participating the campaign. In the case of leader loosing network connection

[2018-09-26 03:35] johncming opened #10126 "Replace `s.cluster.IsIDRemoved` with `s.IsIDRemoved` here"
https://github.com/etcd-io/etcd/blob/a3e242d80ae1a13ae57904fc12e91fe4c9ecf972/etcdserver/server.go#L843-L857

Replace `s.cluster.IsIDRemoved` with `s.IsIDRemoved` here

https://github.com/etcd-io/etcd/blob/a3e242d80ae1a13ae57904fc12e91fe4c9ecf972/etcdserver/server.go#L864

[2018-09-26 04:31] YeruchamB commented on #10080
@hexfusion Thanks for the help. I've fixed the bug causing our missing logs so the next time it happens i should have more info. I'll take a closer look at how we make different calls to the etcd servers. It's possible we're creating new clients every time and should be reusing them instead.

[2018-09-27 08:08] #10126 closed

[2018-09-27 12:55] albrr opened #10128 "HTTPS only etcd cluster not working (malformed HTTP response)"
I tried to set up an etcd cluster with https only addresses.
My etcd.service file looks like this:
[code]
My output when starting the service is:
[code]
... and so on ...
Between those messages it also says:
[code]
I already checked the certificates using "openssl s_client -showcerts -connect [IP]:2380 -cert etcd.pem -key etcd.key -CAfile CA.pem" which seems so be working fine.
I'm using the follo

[2018-09-27 12:56] hexfusion commented on #10125
@fiibbb leader election is started when a randomized election timer expires, no leader interaction is required to give up leadership. Actually for an election timer to timeout the node would not receive an empty ApendEntries RPC which serves as a heartbeat from the leader. So if the leader goes down a new election would happen automatically once the first nodes election timer times out. At that po

[2018-09-27 13:12] hexfusion commented on #10128
@albrr have you verified the configs for nodes 172.30.102.57, 72.30.102.39 it seems like it is trying to connect via HTTP. Can you maybe attach the startup logs from one of those nodes?

[2018-09-27 13:28] ajay-ibm opened #10130 "tests failure while build from source"
I've built etcd v3.3.9 from source on ubuntu 16.04 using Go 1.10.1 . When I run `./test` , it fails with the following error:
[code]
Tried with Go 1.11 and also tried with latest master but it still fails. How to resolve this issue?

[2018-09-27 13:42] albrr commented on #10128
Which startup logs do you mean? The etcd logs in journalctl basically look the same on the other nodes.
Systemctl status looks like this on .57:
[code]

and this on .39:
[code]

[2018-09-27 13:49] albrr commented on #10128
In /var/log/messages I found the following on .57:

[code]

[2018-09-27 13:56] hexfusion commented on #10128
Seems like the core of the issue was the cluster bootstrapped incorrectly?

[2018-09-27 14:00] albrr commented on #10128
What do you mean by "bootstrapped incorrectly" I don't really know how to fix it. All the setup flags are using https addresses, but for some reason http is used

[2018-09-27 14:01] hexfusion commented on #10130
@ajay-ibm this has been fixed in master and is a known issue https://github.com/etcd-io/etcd/issues/9995. In your case, if you want to resolve the issue directly your test would pass which is a rouge tab I believe.

[2018-09-27 14:13] hexfusion commented on #10128
Although the configs look right now

This tells me that the cluster was previously bootstrapped and *could* of had a misconfiguration leading to this issue.

The simple fix is to remove the data-dir for each member and start over if this is a test cluster bootstrap with correct configs. But I am curious what is the output of this  `ETCDTL_API=3 etcdctl member list -w table`

[2018-09-27 14:20] albrr commented on #10128
The w flag didn't work, but I got this:

[code]

I also tried this:
[code]

[2018-09-27 14:27] albrr commented on #10128
I deleted the data dir, but now I get this:

[code]

[2018-09-27 14:37] hexfusion commented on #10128
does SAN have proper IPs?

`openssl x509 -in /etc/ssl/etcd/etcd.pem -text -noout`

[2018-09-27 14:59] albrr commented on #10128
[code]

Also, I added the IPs and node names as extension

[2018-09-27 16:00] akutz commented on #9285
Thank you for this issue. I've been tolling for two days to understand why kubectl exec fails on my 1.10 deployment (works on 11, 12, 13..). Kept seeing the EOF errors regarding health checks. Really bad when an AWS ALB is fronting your cluster, hitting the health checks every few seconds. If this is a false positive, it's a doozy! Put me on a deep-dive this morning that sounds like I can ignore.

[2018-09-27 20:19] wenjiaswe commented on #9483
@EdSchouten it seems like you guys have this under control now? Closing this for now, please let us know if this is still a required feature, thanks!

[2018-09-27 20:19] #9483 closed

[2018-09-27 23:39] nilebox opened #10131 "Watcher doesn't recover after removing and adding back user"
We have found an issue in Service Catalog (Kubernetes API server) with etcd client.
I believe it's a bug in etcd client, not specific to Kubernetes.

We haven't managed to reproduce the issue with pure etcd client <-> etcd server scenario yet, so I'm looking for ideas about what could be wrong.

Reproducing scenario:
1. Service Catalog authenticates against etcd server with a TLS certificate
2. St

[2018-09-28 00:16] nilebox commented on #10131
I've tested a fix #10129 and it didn't fix the issue.
I do see "shutdown" logs for `watchGrpcStream` more often now, but it seems that there's still some leakage of "resuming" streams after the authentication issue - I'm afraid that some of them hang there forever.

Also, I've noticed that `kubectl -w` doesn't get terminated after we introduce the auth issue. It probably should?

[2018-09-28 00:18] jxuan opened #10132 "Password stored in plaintext in log"
On the etcd server, the auth token should be stored in the log (WAL). We used an etcd log dump tool to see the content, and observed that every time when there is an authenticate call, a new entry will be added to the log, eg:
676           593    norm    header:<ID:13926931137005064452 > authenticate:<name:"etcdplay" password:"play" simple_token:"KFHwyVMhlNdHMCtU" >

It seems that the password fo

[2018-09-28 00:28] nilebox commented on #10131
I've also tested if opening a new `watchGrpcStream` instead of resuing streams from `w.streams` will help, i.e. removing line https://github.com/atlassian/service-catalog/blob/836dcc0ea2164b34a8f5931e00190be8817403e2/vendor/github.com/coreos/etcd/clientv3/watch.go#L282.

It did work, so I'm pretty confident that the issue is that `watchGrpcStream` doesn't get closed (`w.closeStream` method doesn't

[2018-09-28 01:15] gyuho commented on #10132
We plan to add redact feature to log dump tool, but in storage layer, we just store whatever blobs were sent to the server. So, I would consider encryption in client side, before writing to etcd, for now.

[2018-09-28 08:36] johncming opened #10133 "why do Replace here?"
https://github.com/etcd-io/etcd/blob/a3e242d80ae1a13ae57904fc12e91fe4c9ecf972/pkg/transport/transport.go#L66-L71

There is a replacement of unix to http protocol, but `tu` has a definition with custom `Dial` method below:

https://github.com/etcd-io/etcd/blob/a3e242d80ae1a13ae57904fc12e91fe4c9ecf972/pkg/transport/transport.go#L48-L50

If no replacement, what will happen? After I read code , I can'

[2018-09-28 08:37] johncming commented on #10133
@gyuho

[2018-09-28 08:44] #10133 closed

[2018-09-28 09:41] manyagoyal12 commented on #9398
@tkellen What have yopu exactly added to resolve this? I am using etcd version 3.2.17 and getting below error-
Failed to dial 0.0.0.0:2379: connection error: desc = "transport: authentication handshake failed: remote error: tls: bad certificate"; please retry.

[2018-09-28 10:41] ajay-ibm commented on #10130
@hexfusion Which Go version is required for this? I have tried with Go 1.10.1 and 1.11 but facing same issue on master also.

[2018-09-28 12:04] hexfusion commented on #10130
@ajay-ibm 1.11 works fine `git branch | grep \* ;git rev-parse HEAD`? are you sure you are on latest master?

a3e242d80ae1a13ae57904fc12e91fe4c9ecf972

[2018-09-28 16:43] daMupfel commented on #9751
This also happens when using grpc proxy and the https://github.com/kragniz/python-etcd3 python client. Refresh on leases are not working. Are there any leads what the problem is? Is this a client problem or a proxy problem?

[2018-09-28 17:14] hexfusion commented on #10080
@YeruchamB sounds good, I am going to close this but let's reopen if you run into it again.

[2018-09-28 17:14] #10080 closed

[2018-09-28 17:18] pietro commented on #9145
I had he same issue and I found a fix so I'm writing it here for posterity.

CoreOS/Container Linux uses `/usr/lib/coreos/etcd-wrapper` to run etcd using rkt. That script creates a volume called `coreos-etc-ssl-certs` and mounts said volume at `/etc/ssl/certs` inside the etcd container.

The host directory used as source for the volume is controlled by the environment variable `ETCD_SSL_DIR` and t

[2018-09-28 17:36] gyuho commented on #10132
@jxuan Do you mean redact support for dump log tool? It will be added to tooling, not to the core etcd. So, you won't have to wait for release.

[2018-09-28 18:43] jxuan commented on #10132
@gyuho The root of the problem is that password is stored in plaintext in storage. You should store the encrypted version only. Hackers can still get access to the password even if you redact the tool.

Encryption on the client side will work, or just remove password from storage directly. Do you think one of these can be done for the v3.4 release? Thanks

[2018-09-28 19:20] gyuho commented on #10132
I am aware of that. That's why I am suggesting to implement your own for the time being.

I meant on your client side not on etcd client.

We have no plan to support this for v3.4.

Or you can try https://github.com/heyitsanthony/etcdcrypto.

[2018-09-29 02:00] jingyih commented on #5019
I am new to this thread, trying to catch up.  Does #9990 fix this issue?  When `--debug` flag is enabled, all incoming requests to etcd server will be logged.  Logged information includes remote client IP and Port, which can be used to track who modified a certain key most recently.

[2018-09-29 02:10] jingyih commented on #9631
Addressed by #9790.

[2018-09-29 02:10] #9631 closed

[2018-09-29 11:51] rinsozheng opened #10140 "How to choose a more stable release?"
When we begin to use etcd, there are so many releases for us to choose, do you have a recommendation about which is the most stable release on v2 and which is the most stable release on V3? Or do you have any principle in distributing the release?

[2018-09-29 14:49] jxuan commented on #10132
Adding client side encryption is very heavy operationally. We need to update the client code everywhere and re-create all accounts in etcd cluster.

Can you remove password from the blob, just keep the bcrypt version of it?

[2018-09-29 15:39] jxuan commented on #10132
Even if we do client-side encryption and give custom_encrypt(incoming_password) to etcd client, hackers can still extract custom_encrypt(incoming_password) from etcd storage and use it to access etcd cluster without having incoming_password.

@gyuho

[2018-09-29 19:46] gyuho commented on #10132
If we support client-side encryption, it will expect users to provide keys.

We will research more. If you have more ideas, please let us know!

[2018-10-01 03:44] RameshRM commented on #3710
+1

+1 , Starting with `initial-cluster-state existing` fixed the issue. Another naive question, which node should start with `existing` state ?

[2018-10-01 06:56] fiibbb commented on #10125
@hexfusion Thanks a lot for the explanation. I believe we are talking about two subtly different things though.

In my original question, I'm confused with how clients of etcd may use etcd for leader election among client agents, as opposed to leader election among etcd nodes. I'm familiar with how leader election within Raft works, but I'm less familiar with using consensus systems for leader ele

[2018-10-01 18:05] wenjiaswe commented on #10132
cc @jpbetz

[2018-10-01 18:12] ae6rt opened #10142 "benchmark utility put-command is non-functional with TLS-secured cluster members"
The *benchmark* utility hangs when running against endpoints secured with TLS.

## Platform information

* etcd version: 3.3.9
* benchmark version: from master SHA c74998267c71ef4a0fa847ce16d620b7fe3580bf (Oct 1, 2018)

## Symptom

[code]

*etcdctl* when run against this same TLS-secured cluster works as expected

[code]

My benchmark utility performs as expected when running against a cluster not

[2018-10-01 18:12] wenjiaswe commented on #9359
cc @jpbetz @gyuho is this related to nonvoting members?

[2018-10-01 18:15] wenjiaswe commented on #9037
cc @jingyih

[2018-10-01 18:16] wenjiaswe commented on #8912
cc @wenjiaswe

[2018-10-01 18:18] wenjiaswe commented on #8888
cc @jingyih backup/restore
cc @jpbetz nonvoting members

[2018-10-01 18:19] wenjiaswe commented on #8842
cc @jpbetz

[2018-10-01 18:20] wenjiaswe commented on #8797
@wenjiaswe

[2018-10-01 18:21] wenjiaswe commented on #8731
@jingyih

[2018-10-01 18:34] wenjiaswe commented on #8975
@absolute8511 Vincent, I saw that you have a coupled of PR merged, thanks! I just want to confirm, is this issue fixed? If so, I would like to close this one.

[2018-10-01 19:33] wenjiaswe commented on #8912
@discordianfish hello, just a friendly ping, the last update on this issue was back in January this year, I was just wondering if this issue is still relevant and need to be worked on? Otherwise, we are closing out long pending issues.

[2018-10-01 19:42] ae6rt commented on #10142
Some additional information from the member to which benchmark is connecting:

[code]

I find this an odd message, given *etcdctl* can connect to the cluster as expected, as can my business application.

[2018-10-01 19:45] wenjiaswe commented on #8797
@raoofm looks like @hongchaodeng 's initiated https://github.com/coreos/etcd-operator/pull/1644 in etcd-operator for this issue. Is there anything needed here? Otherwise we are closing out the long pending issues.

Please feel free to reopen it if it's still relevant.

[2018-10-01 19:45] #8797 closed

[2018-10-01 19:46] #8975 closed

[2018-10-01 19:53] wenjiaswe commented on #9689
cc @jingyih

[2018-10-01 22:15] vtolstov opened #10143 "embed etcd in own app without listen to external client connections"
I want to integrate etcd in my app, but i don't want to listen for client connections from external address and not want to bind to loopback tcp addr. Does it possible to listen for client conns with abstract linux socket? or something that only accessible from my app?

[2018-10-01 22:37] #9734 closed

[2018-10-01 22:50] ae6rt commented on #10142
This could be significant:

https://github.com/etcd-io/etcd/blob/master/tools/benchmark/cmd/util.go#L95-L106

I am not using client TLS (not setting a client cert or key), whereupon it looks like the benchmark tool skips configuring certs for path validation of the server TLS connection.

[2018-10-01 22:50] fanminshi commented on #10142
I believe that the benchmark command doesn't construct the secure etcd client to use `--cacert bundle.pem` at all. Hence, you see the following error from etcd which complains
the the incoming connection has bad cert. `2018-10-01 12:38:54.791020 I | embed: rejected connection from "10.229.171.162:62807" (error "remote error: tls: bad certificate", ServerName "sp-etcd01")`

If you dug into the code

[2018-10-01 22:51] fanminshi commented on #10142
@ae6rt we arrived at the same conclusion lol.

[2018-10-01 22:56] ae6rt commented on #10142
So is this a bug in the benchmark code, or am I wrong in assuming that benchmarking can be interesting and valid without client TLS?  I can create a cert for the benchmark client, but this won't mimic how I run my business clients in production.

[2018-10-01 22:59] fanminshi commented on #10142
@ae6rt I believe this is a bug in benchmark code. Benchmark should be able to work with a TLS enable etcd cluster.

[2018-10-02 05:42] jpbetz commented on #9359
@gyuho Curious how mirroring using non-voting member would compare to the current watch based mirroring. It feels like there is conceptual overlap in the purpose of both approaches, but i'm guessing at cross-continent latency, performance might be an issue?

[2018-10-02 06:06] jpbetz commented on #8888
Part of the non-voting member design describes non-disruptive snapshot transmission (https://github.com/etcd-io/etcd/issues/9161).  Once that's in place, we could just enable it for etcdctl snapshot save?

[2018-10-02 08:59] gyuho commented on #9359
Agree.

We can document use cases for each (e.g. use mirror when you do not care about data before revision x, use mirror when the node is never meant to be promoted, use learner to transmit all historical data to standby node).

Good point. We need explore more on this. I would imagine learner would perform better when it can just receive all data by snapshot, whereas mirror still syncs updates t

[2018-10-02 11:38] vtolstov opened #10144 "example of v3 auth via jwt token"
where i can find info or examples how to auth via jwt tokens?

[2018-10-02 17:45] #10142 closed

[2018-10-02 20:12] vtolstov opened #10147 "cant build using go.etcd.io/etcd/embed"
go 1.11
i'm try to go get in my package that uses go.mod:
[code]

[2018-10-02 20:30] gyuho commented on #10147
We are moving to go module soon https://github.com/etcd-io/etcd/pull/10112. Hopefully, it would fix your issue.

[2018-10-03 13:45] discordianfish commented on #8912
AFAIK it is.

[2018-10-03 22:01] jpbetz opened #10151 "Move etcd release process to the cloud"
Current status:
- Pre-signing release process is automated by https://github.com/etcd-io/etcd/blob/master/scripts/release has been in use by patch mangers for 3+ months and includes validation checks throughout process
- CNCF credits can be used to run builds in the cloud

Gaps:
- Community agreement on where/how to run cloud builds - [GCB](https://cloud.google.com/cloud-build/) is what Kubernetes

[2018-10-04 04:49] #5019 closed

[2018-10-04 14:10] n0made1 commented on #9285
I also see this with Kubernetes 1.11.1 and etcd 3.3.9.
Is there any known workaround ?

[2018-10-04 15:12] KashifSaadat commented on #9285
No worries @akutz, glad it helped!

@n0made1 the above Kubernetes PR was released and available in [v1.12.0](https://github.com/kubernetes/kubernetes/releases/tag/v1.12.0) ([changelog](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.12.md#other-notable-changes-6)), I've not yet got around to testing it.

[2018-10-04 17:38] n0made1 commented on #9285
Thanks but I can't manage to upgrade to 1.12, so I was wondering if there
would any workaround for 1.11.

Le jeu. 4 oct. 2018 à 17:15, Kashif Saadat <notifications@github.com> a
écrit :

[2018-10-05 01:43] jingyih commented on #10111
@funny-falcon do you have a test case where the Lock function returns nil when `ctx.Done()` occurs?
https://github.com/etcd-io/etcd/blob/f32bc507658e287a69d89e0e1a4d083a01d9da3e/clientv3/concurrency/mutex.go#L70-L79
How is `werr` nil when `ctx.Done()` happens?

[2018-10-05 04:38] funny-falcon commented on #10111
@jingyih it is extremely difficult to write test in a way context is cancelled exactly after `waitDeletes` successfully returns and before `<-ctx.Done()` is checked. I suppose, there should be at least million iterations in average to trigger.

But while it is hard to catch when you want to catch, it will certainly happen once a week in production, if ctx has small timeout.

This issue is quite ob

[2018-10-05 04:59] xiang90 commented on #10111
@funny-falcon @jingyih

An easy way to fix the problem is to check werr first. If there is no error (lock acquired), then just return nil regardless of the ctx timed out or not.

[2018-10-05 05:00] xiang90 commented on #10111
this is actually a bug. we should fix it and backport.

[2018-10-05 05:15] funny-falcon commented on #10111
@xiang90 I agree with you: checking only `werr` without `ctx.Done` is also acceptable and consistent in a sense "either werr == nil or lock is not held at the moment".

[2018-10-05 05:19] xiang90 commented on #10111
@funny-falcon can you please submit a PR to fix it.

[2018-10-05 09:54] funny-falcon commented on #10111
Done: #10153

[2018-10-05 14:47] albrr commented on #10128
I found the problem, the certificate extensions were not in the certificate (key usage, extended key usage and alternative subject names) - after adding them it worked fine

[2018-10-05 14:47] #10128 closed

[2018-10-05 17:47] jingyih commented on #10111
@funny-falcon Thanks for your explanation.  I was just trying to get a better understanding.

[2018-10-08 05:32] ruidanwang opened #10158 "which case can "case readyc <- rd:" execute ?"
when i read etcd src code,some thing i don't understand ，in raft/node.go line 383 : " case readyc <- rd: " the readyc channel has no buffer,i think it will never execute,it's error? can somebody tell me which case exectue? thanks!

[2018-10-08 18:13] jingyih commented on #10131
/cc @jpbetz @jingyih

[2018-10-08 18:14] jingyih commented on #10140
/cc @jpbetz

[2018-10-08 18:20] jingyih commented on #10143
/cc @jpbetz

[2018-10-08 18:23] jingyih commented on #10147
/cc @jingyih

[2018-10-08 18:24] jingyih commented on #10151
/cc @wenjiaswe

[2018-10-08 19:44] jpbetz commented on #10143
Looks like the problem is that `embed.Config` is not well documented.  I believe what you need is the `LCUrls` and `ACLurls` config fields, which are equivalent to the `--listen-client-urls` and `--advertise-client-urls` flags.

[code]

[2018-10-08 19:50] jpbetz commented on #10140
We currently support etcd 3.1-3.3.

etcd 3.0 and 2.x are outside of the version window the community is able to support. Until one is able to upgrade to 3.1+, we recommend running the latest patch release of 2.x and 3.0.

Also, note these guidelines we posted recently (https://groups.google.com/forum/#!topic/etcd-dev/nZQl17RjxHQ):

[2018-10-08 19:51] #10140 closed

[2018-10-08 21:02] vtolstov commented on #10143
I know about that, thanks. But i mean not listen to loopback addresses too. So avoid all tcp/ip stuff and run GRPC methods directly with provided struct messages...

[2018-10-08 21:48] jpbetz commented on #10143
Ah, sorry, yes, you can use unix sockets.  The URL format is `unix://<path>` (or `unixs://<path>` for TLS over unix socket).  Provide this to both the etcd server and client.

[2018-10-08 21:48] #10143 closed

[2018-10-08 21:58] vtolstov commented on #10143
But if i don't want use sockets that creates files on disk? Does it possible to use abstract linux sockets?

[2018-10-08 22:13] #10111 closed

[2018-10-09 02:51] pengyao commented on #9398
I have the same issue in 3.3.9

[2018-10-09 05:18] jpbetz commented on #10143
@vtolstov AFAIK, That's not currently supported.

[2018-10-09 09:06] slawo commented on #9357
Same issue on our end, we have a grace service and adding `"go.etcd.io/etcd/clientv3"` breaks builds.

[2018-10-09 14:53] bdarnell opened #10166 "raft: Don't panic on commit index regression"
We occasionally see issues in production in which writes to our raft log are not fully persisted before MsgAppResps are sent (Sometimes this is deliberate, as when users disable fsync for performance. Sometimes it's a bug in some layer or another). The raft package does not handle this gracefully: if a follower has sent an MsgAppResp for a given index, the leader will send it that index as committ

[2018-10-09 17:49] jingyih commented on #9037
@fanminshi is the revision returned by `etcdctl snapshot status` the one you are looking for?

[2018-10-09 22:35] jingyih commented on #9037
@fanminshi I am closing this issue now (in attempt to reduce the number of open issues).  If you think it is not resolved, please reopen it.

[2018-10-09 22:35] #9037 closed

[2018-10-10 01:51] hexfusion commented on #10144
@vtolstov the server does the work so once you generate the keys and set the correct values for --auth-token you use the token in the same way as you would a simple token. I will show an example using RS256.

[code]

etcd server flags
[code]

next enable auth and when you pass authentication you will see that the jwt signed token is generated by the server and passed to the client.

[code]
I hope

[2018-10-10 07:13] ZYecho opened #10168 "Why does the watcherHub limit 1000?"
I want to use watch API to design my own app, maybe use lots of history event.

[2018-10-10 08:43] vtolstov commented on #10144
How can i do that via etcd api ?

[2018-10-10 09:50] ww156 commented on #10087
version: etcdctl version: 3.3.0+git
I got this error too.

[2018-10-10 12:32] hexfusion commented on #10144
@vtolstov please see this example in the docs and let me know if you have any questions. [gRPC-gateway authentication](https://github.com/etcd-io/etcd/blob/master/Documentation/dev-guide/api_grpc_gateway.md#authentication)

[2018-10-10 13:17] vtolstov commented on #10144
@hexfusion thanks! this is enought.

[2018-10-10 13:17] #10144 closed

[2018-10-10 17:47] jutley opened #10169 ""etcdctl txn" does not properly parse newline characters"
We are using `etcdctl txn` to make sure servers running in parallel do not both write a new value for a specific key. To do this, we are running a command from a bash script that looks something like this:

[code]

Essentially: If the value does not already exist, write it. Otherwise, do nothing.

The problem is that etcdctl does not parse this as intended. Instead, we get this error:
[code]

Look

[2018-10-10 18:50] hexfusion commented on #10169
But to your point, the put would work on its own so this probably needs more investigation.

[code]

[2018-10-10 20:51] ae6rt opened #10170 "Lease KeepAlive documentation ambiguity"
* I read [in this documentation paragraph](https://github.com/etcd-io/etcd/blob/master/clientv3/lease.go#L126-L129) that if the context provided to the Lease KeepAlive method is cancelled, the *LeaseKeepAliveResponse* channel will return nil.
* Yet, in the [next paragraph](https://github.com/etcd-io/etcd/blob/master/clientv3/lease.go#L131-L133) I read that if the context is cancelled, "the error"

[2018-10-10 21:34] jutley commented on #10169
I've tried your literal example and a few alterations to try to get this to work, with no success. The only thing that I've gotten to work is escaping newlines in my value using a command like `sed -e ':a;N;$!ba;s/\n/\\n/g'`.

I think this is an issue with etcdctl because it makes the `txn` command really difficult to use in anything except the most simple of examples. We can work around the limit

[2018-10-10 21:56] hexfusion commented on #10169
@jutley I will dig into this for you to better understand what is going on. The error message is very specific so we might not support it for a reason but I will explore further and at least document. Thanks for the report.

[2018-10-10 22:13] jutley commented on #10169
I think the fundamental difference between the `put` and the `txn` is the when using `put`, bash is parsing the multiline string, and passing the result to etcdctl. With `txn`, etcdctl is handling the string parsing. So I can understand how they ended up showing inconsistent behavior.

If nothing else, it would be a big improvement to update the documentation to call out that values must have esca

[2018-10-11 05:33] sudeeshjohn opened #10172 "TestMetricsHealth is failing"
I see the newly added testacse "TestMetricsHealth" is failing
[code]
GO Version:

[code]

Platform Info:

[code]

I'm seeing this issue in ppc64le as well

[2018-10-11 08:04] gek0 opened #10173 "[Members API] Adding new node with name parameter"
We are trying to automate a part of our deployment process of ETCD.
Looking over the API docs, Members API to be precise. https://coreos.com/etcd/docs/latest/v2/members_api.html#add-a-member

Is there an undocumented parameter that we can pass to the API to set node name (hostname) as is it possible with the CLI (https://coreos.com/etcd/docs/latest/etcd-live-cluster-reconfiguration.html#change-etc

[2018-10-11 08:58] DylanBLE opened #10174 "etcdserver: read-only range request took too long"
**etcd version: 3.1.18**
etcd logs shows sth like "etcdserver: read-only range request  took too long"
[code]
[etcd-metrics.txt](https://github.com/etcd-io/etcd/files/2468148/etcd-metrics.txt)

[2018-10-11 10:31] vtolstov commented on #10143
@jpbetz do you plan such feature or prs welcome?=)

[2018-10-11 18:10] wenjiaswe commented on #9531
/cc @jpbetz

[2018-10-11 18:13] wenjiaswe commented on #10166
/cc @jpbetz

[2018-10-11 18:14] wenjiaswe commented on #10169
/cc @jingyih

[2018-10-11 18:15] wenjiaswe commented on #10170
/cc @jpbetz

[2018-10-11 18:19] wenjiaswe commented on #10174
/cc @jingyih

[2018-10-11 18:27] wenjiaswe commented on #9420
@joelegasse Hi Joe, just a friendly reminder, just wondering is there any progress on this one, or is there a plan? Thanks!

[2018-10-11 18:33] wenjiaswe commented on #10173
The doc you are looking at is v2 and is deprecated: "These docs are deprecated while they are being migrated to Red Hat. For the most up to date docs, please see the corresponding GitHub repository."

Please take a look and see if these link are helpful;

https://github.com/etcd-io/etcd/blob/v3.3.10/Documentation/op-guide/configuration.md#--name
https://github.com/etcd-io/etcd/blob/v3.3.10/Documen

[2018-10-11 18:36] joelegasse commented on #9420
I'm not sure why I got assigned this. I can take a look and see what it would take as far as a recovery plan, though.

[2018-10-11 21:00] jingyih commented on #10174
Agree with @hexfusion.  The reading of a single key (indicated by `range_response_count:1` in the log message) is taking too long.  It could be bottlenecked by disk I/O.  Or, it could be bottlenecked by networking: assuming you are using a cluster of several etcd nodes, a quorum read request will involve the communication between etcd cluster leader and the remaining etcd nodes.

[2018-10-11 21:44] wenjiaswe commented on #10172
This is a test validation bug. The metric etcd_server_health_success return "The total number of successful health checks", and the test runs [three times with 1, 2, 4 CPUs by default](https://github.com/etcd-io/etcd/blob/d5c93a7b0b5c434bf87d8de4d55d5a3b4ed4ed64/test#L117), so on the second run, value of  etcd_server_health_success is 2 and on the third run, value of  etcd_server_health_success is

[2018-10-11 22:03] jingyih commented on #10169
@jutley Your observation is correct.  Currently the Txn command relies on '\n' to separate <CMP>, <THEN>, <ELSE>.  It also relies on '\n' to separate multiple ops/requests.  Thanks for pointing this out.

[2018-10-11 22:14] jpbetz commented on #10170
@ae6rt I've attempted to clarify/correct the documentation with https://github.com/etcd-io/etcd/pull/10176.  Feel free to comment on that PR with aspects that are still confusing.

[2018-10-11 22:58] xiang90 commented on #10174
currently some write operations might block read. there is an on going effort (https://github.com/etcd-io/etcd/pull/9384) to resolve this problem.

you should probably fix the slow io regardless though.

[2018-10-11 22:58] #10174 closed

[2018-10-11 23:07] #10172 closed

[2018-10-11 23:45] #9717 closed

[2018-10-12 01:47] jutley commented on #10169
I'd be happy to at least make a PR to improve the documentation, but it'll be at least a week before I can get started.

[2018-10-12 02:04] jingyih commented on #10169
@jutley Sounds good.  Thanks!

[2018-10-12 03:52] rinsozheng commented on #10140
Thanks a lot!

[2018-10-12 07:27] johncming opened #10177 "mvcc/backend: may be use the backend create by snapshot instead of origin one in tests"
https://github.com/etcd-io/etcd/blob/5adbc231f2c0d35281b9c192971b26d24da74aee/mvcc/backend/backend_test.go#L71-L83

May be use the backend create by snapshot instead of origin one in line 77

[code]

test pass.

[2018-10-12 09:17] bonezhang opened #10179 "PUT : [rpc error: code = Unavailable desc = transport is closing]"
1、problem
[code]
it will work if time sleep > 5 second or < 5 second.  Only Sleep(5 * Second) will report this error.

2、server and client version:
release-3.3

tks

[2018-10-12 12:13] hexfusion commented on #10173
@gek0 @wenjiaswe is correct v2 is deprecated the v3 gRPC-gateway usage is like this.

[code]

The name parameter fails because it is not an input to [MemberAddRequest ](https://github.com/etcd-io/etcd/blob/master/etcdserver/etcdserverpb/rpc.proto#L851)

If you read the code in etcdctl you can see that the `newMemberName` is only printed. The idea here is to use the output to actually start the new

[2018-10-12 16:46] jpbetz commented on #10170
fixed by #10176

[2018-10-12 16:46] #10170 closed

[2018-10-12 17:06] jpbetz commented on #3488
This issue appears hopelessly stale. Closing. Please reopen if there is interest in pursuing development.

[2018-10-12 17:06] #3488 closed

[2018-10-12 17:09] jpbetz commented on #3715
Closing this one.  Issues with snapshots is being discussed/address with https://github.com/etcd-io/etcd/issues/9161

[2018-10-12 17:09] #3715 closed

[2018-10-12 17:40] hexfusion commented on #10040
@robertglen I am going to close this if you can provide more information or are still having the problem please let me know in this ticket and I can reopen.

[2018-10-12 17:40] #10040 closed

[2018-10-12 17:42] hexfusion commented on #9988
Kind ping @clusc can you test master as see if this issue is improved?

[2018-10-12 19:10] clusc commented on #9988
We tested it a while ago but interestingly can't reproduce. We'll test
again with 3.3.10 and let you know.

On Fri, Oct 12, 2018 at 10:44 AM Sam Batschelet <notifications@github.com>
wrote:

[2018-10-12 20:57] jingyih commented on #8731
I think it is a nice improvement if the wrong options can be caught in compile time.  However we need to be very careful about backward compatibility.  For example, the current `put` API is

https://github.com/etcd-io/etcd/blob/3c6c05be8a4d0070c10f6cfe563b73e7b655fa33/clientv3/kv.go#L38

And I do not think we should change it.

[2018-10-12 22:09] xiang90 commented on #10166
how about adding a corrupted hint in ready or something like that? so the upper layer can do something when raft thinks itself is in a bad state?

[2018-10-13 06:45] jonbonazza opened #10180 "Cluster goes haywire when node rejoins cluster"
**Component:** Raft
**Commit:** 1cab49ef784afe16ee665d6e16f2fc5fa31d8974 (master HEAD at the time of this writing)
**Go version:** 1.11
**os/arch:** linux/amd64**
**config:**
[code]

I'm using the etcd raft library in a project and during my testing of a cluster of 3 nodes, I've noticed that on initial bootstrap, everything works great, however, if I shut down one of the nodes and then restart it

[2018-10-15 05:33] johncming opened #10181 "a problem about closing channel in contrib/raftexample"
the code in line 403 will run when called `close` in main function, but the main goroutine will exit soon. How code below line 403 run?

https://github.com/etcd-io/etcd/blob/dac8c6fcc05ba42a8032d5b720f6c1704965c269/contrib/raftexample/raft.go#L400-L405

https://github.com/etcd-io/etcd/blob/dac8c6fcc05ba42a8032d5b720f6c1704965c269/contrib/raftexample/main.go#L32

thanks.

[2018-10-15 08:17] jonbonazza commented on #10180
So I decided to take a step back and strip out the gossip protocol for now and just try to get this working purely with Raft. In doing so, I noticed two things:

1. If I don't remove a node from the cluster before shutting it down, when the node attempts to rejoin, I get the following panic:
[code]
So I beleive the solution to this seems to be to use an actually persistant log store and restore th

[2018-10-15 15:03] bdarnell commented on #10166
Maybe (that would be an alternative to the panics we have all over the place now), but I think it might be difficult to use correctly in this case. Here we know we're missing information but we can recover if we get the right log entries. "Corruption" in the general case is difficult (if not impossible) to handle without just crashing and giving up.

[2018-10-15 17:54] #10177 closed

[2018-10-15 18:15] wenjiaswe commented on #10179
/cc @jpbetz

[2018-10-15 23:30] ticpu commented on #9956
It seems to happen randomly multiple times a day on the version shipped in Bionic, I had to setup systemd to Restart=on-failure to make sure it stays up.

$ etcd --version
etcd Version: 3.2.17
Git SHA: Not provided (use ./build instead of go build)
Go Version: go1.10
Go OS/Arch: linux/amd64

$ apt-cache policy etcd
etcd:
  Installed: 3.2.17+dfsg-1

$ journalctl -u etcd
[code]

[2018-10-16 04:54] ticpu commented on #9956
So in fact, it seems to happen on all server at once when it happens, here is a log from our syslog server grepping only the servers in quorum.
[etcd-crashfest.log](https://github.com/etcd-io/etcd/files/2481478/etcd-crashfest.log)

[2018-10-16 06:01] ejpearson opened #10182 "v3.3.10 tag reports as being Unverified"
The recently created v3.3.10 tag reports as being Unverified on the tags page.  The GPG Key ID still seems to be that of gyuho, though, if you compare it to the v3.3.9 tag:

https://github.com/etcd-io/etcd/tags

It still would be better to see Verified on the release tag as before.

[2018-10-16 16:08] gyuho commented on #10182
Hi,

I signed it with my GPG key that was created with my previous email.

In the next release, I will use the key that matches my current email.

[2018-10-16 18:50] wenjiaswe commented on #9306
I am working on the "etcd downgrad design" documentation. The basic idea is to add a "etcdctl downgrade --target-version" command to initiate downgrade process, which enable the cluster to allow member replacement with target version. More details can be found in the design doc. @gyuho, @xiang90, @jpbetz and @jingyih have reviewed the design doc. I will send it out to etcd-dev for community review

[2018-10-16 22:04] jpbetz commented on #10179
What error is reported?

[2018-10-17 01:28] lichuang opened #10183 "Why raft.Storage interface not declare all MemoryStore function?"
Why raft.Storage interface not declare all MemoryStore function?

Such as SetHardState(without this function in Storage interface,app cannot set HardState in Storage)、Append(without this function in Storage interface,app cannot append entries in storage) etc.

[2018-10-17 06:25] johncming opened #10184 "mvcc/backend: code format optimization"
https://github.com/etcd-io/etcd/blob/7a759c18d294698f537f8be91927354818a71e51/mvcc/backend/backend.go#L402-L412

1. function `(*backend). unsafeBegin` has defined, which function is equal to code in line 402-409.
2. readTx is created by `(*backend). unsafeBegin`

changed like below:

[code]

It's just code format optimization **not bugs**. If need a patch, I will do it.

[2018-10-17 08:31] vtolstov commented on #10147
gentle ping.... if i can fix this by hand in vendor folder, but my ci can't do tests.
[code]

[2018-10-17 08:35] vtolstov commented on #10147
also as i see all code contains old import paths github.com/coreos/etcd and not new. So in vendor i have two etcd versions - some of go.etcd.io and some github.com/coreos/etcd.

[2018-10-17 08:40] gyuho commented on #10147
@vtolstov Works for me?

[code]

Run `go mod` commands inside your project that imports etcd should work?
Do you have reproducible steps?

[2018-10-17 09:47] vtolstov commented on #10147
As i understand i have older bbolt version in go.mod file.
my go.mod:
github.com/coreos/bbolt v1.3.1-etcd.8 // indirect
go.etcd.io/bbolt v1.3.0 // indirect
github.com/coreos/etcd v3.3.10+incompatible // indirect
go.etcd.io/etcd v3.3.10+incompatible

as i see this bad clush because import inside etcd not changed to new location

[2018-10-17 12:50] uocxp commented on #9398
i have the same issue in 3.3.8 on openshift

[2018-10-17 14:23] vtolstov opened #10186 "listen unix abstract domain socket"
Now etcd not able to listen unix://@socket sockets because of bugs in go.etcd.io/etcd/pkg/types/urls.go

Firstly in case of unix:// or unixs:// schemes etcd always try to split host port and fail for names like unix://path because it needs port like unix://path:port but this is not looks right. split host port needed only for http/https schemes.

Second issue in net/url Parse function. It not able

[2018-10-17 16:13] vtolstov commented on #10186
after this change i'm able to listen unix abstract socket, but now i'm stuck at client. it can't connect because it strips @ sign from address. if you can helps me - i'l be happy =).
This eliminates needing internal api to communicate with etcd without network (not need to listen loopback)

[2018-10-17 17:25] #10184 closed, assigned to nobody

[2018-10-18 00:46] jonbonazza commented on #10180
Anyone able to provide insight here?

[2018-10-18 01:54] spzala commented on #8645
@gyuho hi, I am getting back from some vacation and work travel :). I could run tests manually and I think we should try adding two integration test - one for `MinTime` (i.e. goaway too many pings error)  and second for `Timeout`.
While testing manually, `Timeout` works as expected to me with actual closing of connection. With `MinTime` I see couple of things:
1. I could only see the log messages

[2018-10-18 02:42] bonezhang commented on #10179
how is progress? @jpbetz

[2018-10-18 03:15] zaisongz opened #10187 "Log "etcd: failed to receive lease keepalive request from gRPC stream" keep rolling in my lab"
I have a 3-member cluster,  and the cluster in healthy. But there is one log keep rolling every 5s.

Is lease keepalive message sending between peers?

[log]# etcdctl --endpoints "http://192.168.28.10:2379,http://192.168.28.11:2379,http://192.168.28.20:2379" endpoint health
http://192.168.28.11:2379 is healthy: successfully committed proposal: took = 2.046051ms
http://192.168.28.20:2379 is healthy

[2018-10-18 04:03] gyuho commented on #8645
@spzala Tests would be great. Thanks a lot!

[2018-10-18 08:26] billyang opened #10188 "Endpoint already exists for id"
Hi，use the client v3

 to err:
[code]
when I see #10035，  Seems to be the same problem.

Is there any other  way to fix it?
thank you.

[2018-10-18 13:39] mkumatag opened #10190 "High VIRT memory usage for etcd process"
I found that etcd's VIRT is really high and then I tried pmap'ing to understanding what is happening. Here is what I found:
[code]
top command:
[code]
Can someone help me understand what is that ~10Gig block which is holding most of the space?

**Steps to reproduce:**
Install the kubernetes via kubeadm on any ubuntu vm following: https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/

[2018-10-18 13:39] mkumatag commented on #10190
/cc @gyuho @xiang90

[2018-10-18 13:46] gyliu513 commented on #10190
I also have same issue in my k8s cluster, I was using k8s v1.11.1

[code]
[code]
[code]
[code]

[code]

[code]

[code]

[2018-10-18 16:07] gyuho commented on #10190
It's mmap for bolt DB. There's no allocation overhead

https://github.com/etcd-io/etcd/blob/7a759c18d294698f537f8be91927354818a71e51/mvcc/backend/backend.go#L40-L43

[2018-10-18 16:07] hexfusion commented on #10190
@mkumatag `pmap -p $PID` will shed a little more light on this for you.

[2018-10-18 16:11] #10190 closed

[2018-10-18 16:28] mkumatag commented on #10190
Thanks a lot for quick help on this @gyuho @hexfusion

[2018-10-18 17:33] spzala commented on #8645
@gyuho thanks, and qq can you please help me understand how you are thinking on using blackhole on client side?. Any thoughts would be helpful. Thanks!

[2018-10-18 18:04] wenjiaswe commented on #10183
/assign @jpbetz

[2018-10-18 18:06] wenjiaswe commented on #10186
/cc @jpbetz

[2018-10-18 18:07] wenjiaswe commented on #10187
/cc @jingyih

[2018-10-18 18:10] wenjiaswe commented on #10188
/cc @jpbetz

[2018-10-18 18:11] wenjiaswe commented on #9975
/cc @jpbetz

[2018-10-18 18:13] wenjiaswe commented on #9956
/cc @jpbetz

[2018-10-18 18:17] wenjiaswe commented on #8473
/cc @jpbetz

[2018-10-18 19:58] vtolstov opened #10191 "ability to paass or start embed etcd with own listener"
As i'm use embed etcd i want to listen by my self (mostly for support graceful server restart with https://godoc.org/github.com/cloudflare/tableflip or such solutions) but now i can't do that because i don't have ability to pass listener to etcd start function or via config.

[2018-10-18 21:04] gyuho commented on #10191
What's your use case for graceful server restart? You would still need handle data replay and peer-to-peer communication when one etcd node restarts.

[2018-10-18 21:14] vtolstov commented on #10191
hm.. yes.  ok. i'm graceful restart main app and simply start etcd embed server.

[2018-10-18 23:42] gyuho opened #10192 "Experiment Prow integration"
We am experimenting Prow integration to automate github issue and PR management.

/cc @jpbetz @wenjiaswe @jingyih

[2018-10-19 01:11] wenjiaswe commented on #10087
@collinkrawll Thanks for reporting this error. I took a quick look at the code, etcdctl v2 and etcdctl v3 command code are quite different and the way they handle the 		Error is different as well. In etcdctl v2, ErrClusterUnavailable is plumbed through isConnectionError when member list command call mustNewMembersAPI:

https://github.com/etcd-io/etcd/blob/27fc7e2296f506182f58ce846e48f36b34fe6842/e

[2018-10-19 08:01] gyuho commented on #10192
/good-first-issue

[2018-10-19 08:02] gyuho commented on #10192
/lifecycle hello

[2018-10-19 08:02] gyuho commented on #10192
/remove-good-first-issue

[2018-10-19 08:03] gyuho commented on #10192
/bark

[2018-10-19 08:06] jingyih commented on #10192
Haha I like this
/bark

[2018-10-19 08:07] gyuho commented on #10192
Yeah, Github API integration is done :)

Now
- [ ] Add OWNERS file
- [ ] Propose to use upstream Prow to migrate current CIs (couldn't get it to work with AWS because it only supports Google storage for log dumper).

[2018-10-19 09:12] liqlin2015 commented on #4109
@xiang90 We were using etcd v3.2.18 in our case. And we recently see error `etcdserver: too many operations in txn request`.
I know in etcd v3.2.18, the `MaxOpsPerTxn` was hard coded to 128. Do you have any idea how can we extend the value without upgrading etcd to v3.3.0+? Is there any way to check the current operations in the txn?

[2018-10-19 12:06] nvtkaszpir commented on #9851
Can we get an update in this issue?

[2018-10-19 18:23] parkjunhyo opened #10200 "error fetching CN from cert:The requested data were not available"
I follow this "https://coreos.com/etcd/docs/latest/op-guide/security.html"
(Example 4: Automatic self-signed transport security)

I do exact same things, However, it does not work. The result is look like below.
I can not found something miss.

: curl -k https://172.22.0.33:2379/v2/keys/foo -Xput -d value=bar -v
Trying 172.22.0.33...
Connected to 172.22.0.33 (172.22.0.33) port 2379 (#0)
found 148

[2018-10-19 23:41] jpbetz commented on #10183
The two most obvious reasons I can think of:
- The `raft.Storage` interface defines the functions required by the raft library. See`raft.Config` and `raft.StartNode`.  The interface should only contain the functions required, otherwise developer implementing the interface with their own storage types either end up having to implement functions that shouldn't need to have to implement, or figuring

[2018-10-20 00:01] jpbetz commented on #10186
`@` might be stripped out by the URL parsing library because it's a special delimiter used in the URL format for userinfo part, for example: `http://username:password@example.com`.

Out of curiosity, what happens if you encode `@` as `%40` in the URL? Does that make it through?

[2018-10-20 00:03] jpbetz commented on #10186
The change to only call `SplitHostPort()` for http or https looks correct to me. Would you be willing to send out a PR for that fix?

[2018-10-20 06:03] lichuang commented on #10183
@jpbetz

But now, all Storage interface is only Read-related function, there is no Write-related function.Without write data function, this interface is some sort of strange, in my opinion.

[2018-10-20 16:54] jpbetz commented on #10183
what’s the use case?

[2018-10-21 03:06] gemfield commented on #8793
For etcd v3, if you didn't provide ca, key, cert for the client, then you would met the errors. (ref: https://zhuanlan.zhihu.com/p/47228920)

[2018-10-21 04:43] BusyJay opened #10201 "Consider priority during election"
There is a [proposal](https://github.com/pingcap/raft-rs/issues/68) in pingcap/raft-rs that suggests to consider priority during campaign. As it's a general feature, so I also propose it here as @xiang90 suggested.

In short, we may prefer some nodes in cluster be more likely to become leader during campaign due to configuration differences or other consideration. Hence we can add a priority prope

[2018-10-21 11:40] siddontang commented on #10201
PTAL @xiang90 @bdarnell

[2018-10-22 01:24] #10200 closed, assigned to nobody

[2018-10-22 08:08] danielzheng commented on #10035
any updates for this issue?

[2018-10-22 11:03] mslga opened #10204 "Understanding benchmark results"
Hello,

I've installed etcd cluster v3.2.24 and encountered warning in log files:

[code]

So, I've decided to run performance test as it described in: https://coreos.com/etcd/docs/latest/op-guide/performance.html
Test results:
[code]
---------------------------------------------------
ETCD: v3.2.24
OS : Ubuntu 16.04
Hardware: RAM 8Gb, CPU 2 cores, 40 Gb HDD
---------------------------------------

[2018-10-22 11:40] hexfusion commented on #10186
FWIW abstract domain socket support seems to be a long-standing issue for gRPC. https://github.com/grpc/grpc/issues/4677

[2018-10-22 11:59] mslga commented on #10204
ETCD configuration:
[code]

[2018-10-22 16:46] jpbetz commented on #10035
Working on this today

[2018-10-22 16:48] jpbetz commented on #10188
Yes, will be proposing a PR shortly. See https://github.com/etcd-io/etcd/issues/10035 for tracking. Closing this as a duplicate.

[2018-10-22 16:48] #10188 closed

[2018-10-22 18:10] wenjiaswe commented on #10191
/cc @jpbetz

[2018-10-22 18:11] wenjiaswe commented on #10201
/cc @jpbetz

[2018-10-22 18:15] wenjiaswe commented on #8217
/cc @jpbetz

[2018-10-22 18:16] wenjiaswe commented on #8157
/cc @jpbetz

[2018-10-22 18:16] gyuho commented on #8862
Moving this to https://github.com/etcd-io/etcd/issues/10192. Once we integrate Prow, all test suites can be parallelized. Currently, it's limited by travis (or sempahore) free tier worker node limits (only supports up to 4 worker nodes).

[2018-10-22 18:17] #8862 closed

[2018-10-22 18:31] wenjiaswe commented on #10204
First, just a friendly reminder that https://coreos.com/etcd/docs/latest/op-guide/performance.html this link mentioned in your post is deprecated, as marked on top of the webpage:

Please refer to https://github.com/etcd-io/etcd/blob/688043a7c2ac8bbb0e73ca5694c7815275865e24/Documentation/op-guide/performance.md.

Now back to your question, would you please be more specific about what aspect are yo

[2018-10-22 18:31] jpbetz commented on #10035
Switching to a uuid library, will submit a PR shortly

[2018-10-22 18:56] xiang90 commented on #10201
@BusyJay

The priority can be a static number (defined in raft config) or a dynamic one (we can define a priority func in config).

But I am not sure how priority should be enforced in raft though. A node with higher priority will timeout and try to be candidate faster or a node with higher priority can overwrite the votes for lower priority ones? The later one might break the assumption in raft (

[2018-10-22 23:13] jpbetz commented on #8157
@mitake Any interest in keeping this open?  Looks like the https://github.com/mitake/etcd/commit/b0ecc0ce9fec89fd189f79bb9f47ba8cabaa2d48 WIP was never merged.

[2018-10-23 02:47] bdarnell commented on #10201
The proposal is that when a peer receives a MsgVote with a log index that matches its own log, it would only cast the vote if the requesting node has higher priority. Would it then immediately campaign, or wait for its own election timeout to be reached normally?

I expect a rule like this is going to be tricky to get right. If the higher priority follower campaigns immediately at the same term, t

[2018-10-23 04:35] anakin commented on #10055
I got this error,too

[2018-10-23 05:34] BusyJay commented on #10201
@xiang90 It will certainly increase the probability for a preferred node to become leader. However, our tests show that this will work on normal case, but for cases that have unstable network, an unpreferred follower can still become leader easily without rules in the description.

I think it's wrong for the same node to vote for two nodes.

@bdarnell The proposal only adds a rule to how follower

[2018-10-23 06:01] xiang90 commented on #10201
@bdarnell My unverified assumption: A less preferred node might still be elected, and forwarding read to a less preferred node before leader transfer might affect latency. But this is def a simpler approach, and should be the first thing to try.

What I suggest above is to have a dynamic way to determine the priority. Basically we can define a `canVote()` or `votingPriority()`func interface. And t

[2018-10-23 07:15] ajay-ibm commented on #10130
@hexfusion after removing the tab I'm facing other error (etcd 3.3.9 + go 1.10.1)
`gopath/src/github.com/coreos/etcd/auth/store_test.go:675: github.com/coreos/etcd/etcdserver/etcdserverpb.AuthUserAddRequest composite literal uses unkeyed fields`

On (etcd v3.3.9 with Go 1.9.2) after removing the tab I got:
[code]
On (etcd v3.3.9 with Go 1.11.1) I'm getting fmt checking error on different files:
[c

[2018-10-23 09:31] mslga commented on #10204
Thanks for the link.
 
I understood the messages from the log so that my servers have problems with I/O performance. Therefore I've launched tests.
But I don't know which indicators I should pay attention to. And which of the indicators in my test are "bad" and indicate a performance degradation.
 
I've not found information which indicators can be "good" and which I could use as a comparison.
For

[2018-10-23 09:37] antony360 commented on #10055
Hi @anakin, this solves pb https://github.com/etcd-io/etcd/pull/10044#issuecomment-417125341

[2018-10-23 13:44] ajay-ibm commented on #10130
With etcd v3.3.10 and go1.10.4 got the following:
First got fmt error in mvcc/backend/backend.go like mentioned in the 1st comment. Removed the tab manually. then got
[code]

[2018-10-23 15:52] #10168 closed

[2018-10-23 17:12] sudeeshjohn opened #10208 "TestSetFlagsFromEnvParsingError test is failing"
[code]

etcd version:

[code]

Go version:

`go version devel +05166bf Tue Oct 23 07:23:15 2018 +0000 linux/amd64
`

[2018-10-23 21:28] philips commented on #7308
Where is the doc?

[2018-10-23 21:40] wenjiaswe commented on #7308
@philips
Here is the [etcd downgrade design doc](https://docs.google.com/document/d/1mSihXRJz8ROhXf4r5WrBGc8aka-b8HKjo2VDllOc6ac/edit#heading=h.e4jdx621yd8s).
Here is the tracking issue on etcd: [Improve etcd upgrade/downgrade policy and tests](https://github.com/etcd-io/etcd/issues/9306#issuecomment-430354630).
And here is the link to the etcd-dev topic: [etcd downgrade design document ready for

[2018-10-23 22:04] KIVagant commented on #9785
TL;DR: How to fix the issue:

**ca-config.json:** add "client auth" for "server" section
[code]

**Regenerate cert**
[code]

**Check server certificate:** (I copied it to /etc/etcd/server.pem)
[code]

[2018-10-23 22:05] KIVagant commented on #9398
How to fix the issue: https://github.com/etcd-io/etcd/issues/9785#issuecomment-432438748 (add "client auth" to "server" profile).

[2018-10-23 22:13] wenjiaswe commented on #9285
Just talked to the author @liggitt  of the fix mentioned, as we need to balance between the severity of the issue vs. the risk of back porting, we are not planning to back port it k8s 1.10 and 1.11. If you have a strong use case that really need the back port in k8s, please open an issue in [kubernetes](https://github.com/kubernetes/kubernetes/issues), so we could have more experts evaluating it.

[2018-10-23 22:13] #9285 closed

[2018-10-23 22:15] KIVagant commented on #9785
Btw, even after the issue was fixed, I still see a lot of messages like this in log:
[code]

I feel like it could be related to health checks from a Network Load Balancer.

[2018-10-23 22:36] wenjiaswe commented on #9785
@JinsYin  For your confusion about server and client auth, here is the up to date documentation on etcd tls setup,[ example 1](https://github.com/etcd-io/etcd/blob/e205d09895e6e9d810a88923a64104474002c0c4/Documentation/op-guide/security.md#example-1-client-to-server-transport-security-with-https) refers to "client-cert-auth" situation and [example 2](https://github.com/etcd-io/etcd/blob/e205d09895

[2018-10-24 08:06] KIVagant commented on #9785
@wenjiaswe , I'm preparing etcd for K8s but there is nothing else expect ETCD, its network balancer and bastion host in my test google cloud. But I see 4 or 5 different IP addresses that are trying to connect to etcd, so I'm still don't really know where they come from.

[2018-10-24 13:41] KIVagant opened #10210 "Can't find cluster-health command in etcdctl (but it was there before) in etcd-v3.3.10-linux-amd64"
[code]

I'm sure that I used the same archive yesterday and the command was there. What I'm missing?

[2018-10-24 13:45] KIVagant commented on #10210
Ok, it was in ETCDCTL_API=2

[2018-10-24 13:45] #10210 closed

[2018-10-24 22:43] gyuho commented on #10192
Disabling the plugin for a few hours to redeploy.

[2018-10-24 23:08] #10035 closed

[2018-10-25 02:33] gyuho commented on #10192
Enabled.

/joke

[2018-10-25 02:34] gyuho commented on #10192
/bark

[2018-10-25 03:17] #10091 closed

[2018-10-25 04:53] gyuho commented on #10208
Seems like go runtime changed its error message in your environment?

Can you try

[code]

And share the output?

/assign

[2018-10-25 09:37] shamimgeek opened #10213 "How to take backup/restore etcd cluster"
Could you please refer some tool for reliable backup/restore of etcd cluster ?

[2018-10-25 09:37] KIVagant commented on #9785
Yes, it's just a clean isolated installation of ETCD.

[2018-10-25 14:03] mitake commented on #8157
@jpbetz currently I don't have emergent use cases of this feature. If there are users who wants this, I'll revive the commit. But closing this issue temporally wouldn't be a problem, I think.

[2018-10-25 17:36] dxlr8r commented on #2711
I have the same issue with:

[code]

I get "unhealthy cluster" as well when using "etcdctl member list" even though 2/3 is online.

I did however notice that when going from 2/3 to 1/3 there where no leader:

[code]

Not the false in the last line.

[2018-10-25 17:59] jpbetz commented on #8157
Sounds good.  Closing this for now since there is no activity.  If there is interest or activity on this in the future we can easily reopen.

[2018-10-25 17:59] #8157 closed

[2018-10-25 19:44] mindcrime commented on #9785
I'm also seeing a ton of the "rejected connection" errors, running vanilla etcd (likewise, preparing for k8s) on EC2.  I've been following the instructions here:  https://github.com/kelseyhightower/kubernetes-the-hard-way/blob/master/docs/04-certificate-authority.md and I suspect that one or more of my certificates are missing something, or need to be tweaked.  Still digging into it, but any advic

[2018-10-25 19:55] rc979 opened #10214 "etcd 3.2+ timeout for locks"
How do you implement timeouts/ttl on the new etcd 3.2+ distributed locks? I see the announcement [here](https://coreos.com/blog/etcd-3.2-announcement) with some examples but they are all based on curl (I need Go) and don't see how to have the lock expire without implementing this on the client. I've also read about sessions and leases but it's not clear to me how to use these in this context. Than

[2018-10-25 19:57] gyuho commented on #10214
/area question

[2018-10-25 19:57] gyuho commented on #10214
I would start from https://godoc.org/github.com/etcd-io/etcd/clientv3/concurrency#Session

[2018-10-25 19:57] gyuho commented on #10214
/assign

[2018-10-25 20:13] rc979 commented on #10214
Thanks. Do you have an example maybe that shows how leases and sessions are
used? The sessions explanation on Godoc is pretty limited.

On Thu, Oct 25, 2018 at 12:58 PM Gyuho Lee <notifications@github.com> wrote:

[2018-10-25 21:14] ISuckAtPython opened #10215 "How to Reduce wal: sync duration"
Does anyone have advice for reducing wal: sync duration?

I cannot use SSD's and the cluster contains nodes in different parts of the country. On rare occasion WRITE/UPDATE api calls will result in an internal raft error. Any advice is appreciated.

`2018-10-25 16:20:35.185438 W | wal: sync duration of 1.134771573s, expected less than 1s
2018-10-25 16:25:37.924395 W | wal: sync duration of 1.32674

[2018-10-25 22:12] jingyih commented on #10187
What is your use case?  Would like to reproduce this and investigate further.  If there is no easy way to reproduce, information like these would help: Are you interacting with the etcd cluster from the etcdctl tool or from your application where etcd client is embedded?  What command / operations did you use.

[2018-10-26 07:56] KIVagant commented on #9785
@mindcrime first of all check if the cluster works. I believe there is a big difference between working cluster when something external tries to connect to the port and when cluster's nodes really can't join.

[2018-10-26 09:00] guoger opened #10217 "Setting `raft.Config.Applied` may cause panic"
https://github.com/etcd-io/etcd/blob/798955d4d67db09e69dc2e3deb06950a569f4d77/raft/raft.go#L149

Writing `HardState` to WAL is asynchronous. When `CommittedEntries` are applied to state machine, `Commit` in `HardState` may **not** be persisted to disk yet. Upon a reboot, if we recover applied index from state machine and set `Applied` accordingly, it crashes at

https://github.com/etcd-io/etcd/blo

[2018-10-26 11:05] hexfusion commented on #10213
etcdctl? https://github.com/etcd-io/etcd/blob/master/Documentation/op-guide/recovery.md#disaster-recovery

[2018-10-26 15:52] brk0v opened #10219 "Corrupted WAL and snapshot restoring process"
## Issue

Node that was offline more than `max(SnapshotCount, DefaultSnapshotCatchUpEntries)` corrupts its WAL log with bad  `HardState.Commit`number if it's killed right after `HardState` was saved to non-volatile storage (`failpoint: raftBeforeSaveSnap`).

## Specific
Version: master
Environment: any (tested on Linux, MacOS X)

## Steps to reproduce

1. Patch snapshots defaults to trigger the is

[2018-10-26 17:01] gyuho commented on #10219
Is this reproducible with current master?

[2018-10-26 17:10] brk0v commented on #10219
Yes, you could reproduce this with the commit 583763261f1c843e07c1bf7fea5fb4cfb684fe87

[2018-10-26 20:04] shamimgeek commented on #10213
@hexfusion : Thanks

[2018-10-26 20:04] #10213 closed

[2018-10-27 09:14] rinsozheng opened #10221 "Do we have feature to support sub-cluster?"
Suppose we have below situation:

1. Deploy a set of distributed ETCD cluster nodes accross AZs in each Region (small cluster)
2. Deploy another set of distributed ETCD cluster nodes accross Regions (large cluster)

Can these two sets of ETCD clusters be cascaded? For example, the ETCD node of a small cluster is used as a lower-level service node of a large cluster.

Do we support such kind of top

[2018-10-28 03:02] gyuho commented on #10221
No, but you can try CockroachDB or TiKV. They use Raft groups.

[2018-10-28 04:00] guoger commented on #10217
Appreciate if someone could confirm this, thank! cc @xiang90

[2018-10-28 06:41] egmkang opened #10224 "implementation a distributed lock problem"
This is not a bug, this is a problem or a question.

is this a correct way to impl a distributed lock?

[code]

thanks a lot for helping me.

[2018-10-29 10:51] brk0v commented on #10224
I think you should use this primitive: https://godoc.org/github.com/etcd-io/etcd/clientv3/concurrency#Mutex

[2018-10-29 11:00] brk0v commented on #10215
It's a timing of running fsync/fdatasync system call for your drivers:
http://man7.org/linux/man-pages/man2/fdatasync.2.html

If you can't use SSDs, I suggest you to dedicate a full disk (not a partition) for WAL logs (--wal-dir).

[2018-10-29 17:06] xiang90 commented on #10215
I agree with @brk0v, and his suggestion. Closing the issue.

[2018-10-29 17:06] #10215 closed

[2018-10-29 23:38] xiang90 commented on #10224
@egmkang Agree with @brk0v. So closing.

[2018-10-29 23:38] #10224 closed

[2018-10-29 23:54] manishrjain opened #10225 "Raft: Force kill a node during snapshot retrieval goes into limbo"
I'm seeing this strange issue, where a Raft node replica which has fallen behind, gets a snapshot from the leader (`!raft.IsEmptySnapshot(rd.Snapshot)`). In the case of Dgraph, this retrieval can take some time. During this time, if the node gets force killed, when it restarts, irrespective of the state of the write-ahead log, the leader never tries to bring it back to the latest state. It doesn't

[2018-10-30 01:42] bdarnell commented on #10225
How is the leader supposed to know that the follower has restarted? In CockroachDB, snapshots are pushed from the leader over TCP and this allows the leader to detect failure and call ReportSnapshot appropriately. If you're sending snapshots via a pull process by the follower, I think your leader should have a timeout and call ReportSnapshot if the pull is not started in time (or slows/stops once