[2022-02-10 19:00] serathius commented on #13538
We have still some PRs in flight that should be merged for alpha. They are required to make the major v3.6 features (downgrades and V2 deprecation) testable by users. Remaining PRs/issues:
* https://github.com/etcd-io/etcd/pull/13635
* https://github.com/etcd-io/etcd/pull/13612
* https://github.com/etcd-io/etcd/pull/13683
* Fix ClusterVersionSet blocking downgrades to v3.5
* Fix setting clusterver

[2022-02-11 08:42] mx-psi commented on #13538
Great, thanks for the detailed updated and for the hard work that makes this possible 🙇

[2022-02-11 09:26] #13615 closed

[2022-02-11 10:16] serathius opened #13684 "Coverage is consistently failing"
https://github.com/etcd-io/etcd/actions/workflows/coverage.yaml

[2022-02-11 12:50] shivaburade opened #13685 "Add s390x to currently supported architectures."
As etcd binary and Docker image is available for s390x arch, We would like to add the same in the supported platform page https://etcd.io/docs/v3.5/op-guide/supported-platform/

[2022-02-11 13:12] serathius commented on #13685
If you want to update documentation please send a PR and modify https://github.com/etcd-io/website/blob/138926b5de44b5116fdbe63830eeaf73596e4c2c/content/en/docs/v3.5/op-guide/supported-platform.md

[2022-02-11 14:23] rahulbapumore commented on #13503
Hi @ahrtr ,
Any updates

[2022-02-11 15:57] jsturtevant commented on #13667
In Kubernetes we use the [etcd windows binaries](https://github.com/kubernetes/kubernetes/blob/a1ac74224eac04dae21fcee2b32f8e914111ec9f/cluster/images/etcd/Makefile#L140) for testing, so it is good to hear they will still be produced.  At this time, we don't have anyone from the sig that would be able to help maintain build scripts unless someone speaks up on this issue.

[2022-02-11 19:38] temperedf4te opened #13688 "Source code file structure in zip does not match repo structure"
### What happened?

Repo structure for v3.5.2 has a v3 directory in the packages. Doing go get will create a mod folder with v3 in the folder structure for etcd.

When unzipping the source code however, it does not contain a v3 directory so the import paths cannot find the package on a system with the etcd package unzipped.

### What did you expect to happen?

I expected unzipping the source code

[2022-02-11 21:50] chaochn47 commented on #13684
I am not sure if it is related cause merging coverage files is working as expected. However, It seems like `github.com/gyuho/gocovmerge` is not accessible. It may be turned into private repository or it was deleted.

[code]

[2022-02-12 03:19] liberize commented on #13675
fixed by https://github.com/etcd-io/etcd/pull/13690.

[2022-02-12 05:55] ahrtr commented on #13675
Let's keep this issue open until the PR is reviewed & merged.

[2022-02-12 06:36] chaochn47 commented on #13684
[code]

[2022-02-12 10:51] udf2457 opened #13691 "etcdctl SRV discovery"
### What happened?

etcdctl version: 3.5.2
API version: 3.5

`etcdctl --write-out=table --user root --discovery-srv="example.com" endpoint status`

Gives:

And yet, on the exact same machine:

etc1:~$ dig +noall +answer SRV _etcd_client._tcp.example.com
_etcd_client._tcp.example.com. 300 IN    SRV     0 0 2379 etc1.example.com.
_etcd_client._tcp.example.com. 300 IN    SRV     0 0 2379 etc2.example

[2022-02-12 11:09] udf2457 opened #13692 "etcdctl false-negative "unhealthy cluster" when unauthenticated"
### What happened?

`etcdctl --write-out=table --endpoints=https://foo.example.com:2379 endpoint health` gives a false-negative cluster health indication:

This is unhelpful and misleading.  If `ectdctl` was unable to determine the health of a cluster due to failed or missing authentication, it should not fallback to delivering an "unhealthy cluster" (or "false" in the  node health).

### What did

[2022-02-13 07:55] yankay commented on #13685
HI , @serathius . There is a PR to add the document .
Would you please review it?

[2022-02-13 08:28] rahulbapumore commented on #13503
Hi @ahrtr

[2022-02-13 12:16] #13414 closed

[2022-02-13 12:16] #13433 closed

[2022-02-13 18:39] serathius commented on #13678
Thanks, can you propose a backport to 3.5 and 3.4 after merge?

[2022-02-14 01:49] ahrtr commented on #13688
I am not fully understand what's the exact issue you are running into.  It seems that you import some etcd packages in your program, while your IDE complains that it can't find the packages?

Note that you don't need to download the source code of [etcd v3.5.2](https://github.com/etcd-io/etcd/archive/refs/tags/v3.5.2.zip).  Instead, you just need to add entry below into your go.mod, and run "`go m

[2022-02-14 11:50] serathius commented on #13196
@jiapeish, issue should be fixed in v3.5.1 allowing you to remove ancient members. Please ensure you run fixed version, executed proper steps to mitigate the issue. To followup on your comment and reopen the issue we need more precise information about steps you made.

[2022-02-14 19:04] lavacat commented on #13678
Yes, I'll submit similar PRs for 3.5 and 3.4

[2022-02-14 19:24] #13678 closed

[2022-02-14 20:19] chaochn47 commented on #13684
I think we can close it.

[2022-02-14 20:32] #12535 closed

[2022-02-15 01:57] ahrtr commented on #12535
I just get time to take a look at this issue, I see some `lease not found` error messages in previous comment. Note that I submitted a PR [13690](https://github.com/etcd-io/etcd/pull/13690) recently, and issue mentioned in the PR could be one of the reasons which could lead to "lease not found".

[2022-02-15 02:27] jiapeish opened #13697 "etcd v3.5.0 with cherry-pick(pull/13348) still resurrects ancient members, it restarts failed with "member count is unequal"..."
### What happened?

1 etcd node(etcd-node-0) restarts about every 3 seconds, with log "closing etcd server" and "member count is unequal".

We deployed 3 etcd pod in kubernetes. this Monday we performed an rolling update of the etcd pods(only the App above etcd updated, etcd version is both v3.5.0 with fix https://github.com/etcd-io/etcd/pull/13348/), but after this update, 1 etcd pod start failed

[2022-02-15 02:29] jiapeish commented on #13196
@serathius The details is decribed here [13697](https://github.com/etcd-io/etcd/issues/13697)

[2022-02-15 02:42] jiapeish commented on #13697
[code]

[2022-02-15 02:45] ahrtr commented on #13503
I see that after successfully executing `ETCDCTL_API=3 etcdctl put /test 3value`, one member returned `2value` for the command `ETCDCTL_API=3 etcdctl get /test`, while others returned `3value`, correct?  What's exact member which returned `2value`?

In the output of `ETCDCTL_API=3 etcdctl  member list -w table`, there are 3 members. But I see that one of the the member IDs `683cf66117c4ec6c` was a

[2022-02-15 07:47] Rajalakshmi-Girish opened #13698 "Leaked goroutines in Integration test suite"
### What happened?

Have been observing **Leaked Goroutine Errors** of the below kind in the Integration test runs:
[code]

**These kinds of Error messages are noticed even in the current Github action jobs and which are not being caught due to lack of validation.**

Please `Search logs` of below run for the text `leaked goroutine`
https://github.com/etcd-io/etcd/runs/5191576634?check_suite_focus=

[2022-02-15 08:09] Rajalakshmi-Girish opened #13699 "No DATA RACE/Leaked goroutine validations for the integration test runs in github actions"
### What happened?

The Integration suites that are run as part of [`Tests`](https://github.com/etcd-io/etcd/blob/main/.github/workflows/tests.yaml#L28) github workflow is not checking for `DATA RACE` , `panic: test timed out` and `leaked goroutines` errors.
Hence the workflows are passing inspite of such Errors.
Example: https://github.com/etcd-io/etcd/runs/5191576634?check_suite_focus=true
Searc

[2022-02-15 08:13] Rajalakshmi-Girish commented on #13699
/area testing

[2022-02-15 08:59] serathius commented on #13684
Yes, Tests are now consistently passing. Thanks @chaochn47 for volunteering and quickly addressing the problem! Great work

[2022-02-15 08:59] #13684 closed

[2022-02-15 14:44] hmilkovi commented on #13453
I also have the same issue with docker when I try to bootstrap new cluster:
[code]

[2022-02-15 21:12] serathius commented on #13697
Please run official etcd v3.5.2 binaries.

[2022-02-15 21:26] serathius commented on #13698
@Rajalakshmi-Girish thanks for filing the issue. Are you planning to work on it?

Looks like [integration tests](https://github.com/etcd-io/etcd/blob/aa75fd08509db3aea8939cdad44e1ee9b8157b8c/.github/workflows/tests.yaml#L28) don't use the leak validation like [e2e tests](https://github.com/etcd-io/etcd/blob/main/.github/workflows/e2e.yaml#L25). I don't know the reason, possibly it was missed durin

[2022-02-15 21:28] serathius commented on #13699
Is this a duplicate of https://github.com/etcd-io/etcd/issues/13698? Let's close it if so.

[2022-02-16 01:32] ahrtr opened #13702 "[test] The semaphoreci fails from time to time"
The error message is

[code]

The [base image in Dockerfile is ubuntu:21.10](https://github.com/etcd-io/etcd/blob/main/tests/Dockerfile#L1) , each time when running the [build-docker-test](https://github.com/etcd-io/etcd/blob/main/Makefile#L67) , it pulls the base image. Sometimes it may fail due to the docker hub's rate limitation.

I think we may need to put the base image to another image regis

[2022-02-16 01:48] jiapeish commented on #13697
As an etcd user, I think it's an unselfish act to report a bug.
First, this bug maybe not reproducible. It's a cop-out excuse for refusing to debug/fix a serious problem until the user has reproducible steps.
Second, we've adequate logging what's happened. If that is not enough, what about adding more debug information to etcd for maintenance?

[2022-02-16 02:32] jiapeish commented on #13697
I've compared the difference between official v3.5.2 and our enhanced/cherry-picked v3.5.0, which have the cherry-pick of such below commits:
- [x] fix runlock bug
- [ ] lease checkpoint feature
- [x] set the backend again after recovering v3 backend from snapshot
- [ ] implement a retry logic for auth old revision in the client
- [ ] some other client fix or tests case added
- [x] server: Ensure

[2022-02-16 05:43] Rajalakshmi-Girish commented on #13699
https://github.com/etcd-io/etcd/issues/13698 is not a duplicate of this.
That issue was created to look into **why the "Goroutine leaks are happening"** and to fix the tests that are causing Leaks.
Where as, this issue is for fixing the missing validation.

[2022-02-16 07:45] chaochn47 commented on #13702
@ahrtr, vote for aws ECR public gallery for pulling docker images from my knowledge. The quota is 1 image pull per second for unauthenticated user which is better than the following docker policy.

https://www.docker.com/increase-rate-limits

Docker already automatically pushed their public images to ECR public https://www.docker.com/blog/news-from-aws-reinvent-docker-official-images-on-amazon-ecr

[2022-02-16 08:18] ahrtr commented on #13702
Looks good to me, at lease we can resolve the semaphoreci failure for now. The `public.ecr.aws/docker/library/ubuntu:21.10` is already available,

[code]

[2022-02-16 09:08] serathius commented on #13702
I don't think we should pick up another dependency, especially when we are almost ready to disable those tests https://github.com/etcd-io/etcd/issues/13448.

Only think blocking us from removal is fact that branch `release-3.3` depends on those tests and apparently there is no way to configure semaphore to just run on selected branches. I don't have access so I could not confirm that.

I previousl

[2022-02-16 09:15] serathius commented on #13699
ok, however those issues are strictly dependent. We cannot re-enable validation if tests are not fixed. It's prefer to split issues based on fact that they are a single independent unit that can be worked by single person. Still I'm ok with leaving it as it is.

Please add links to other issue in the top comment, so it's clear the relation between those issues to other contributors.

[2022-02-16 09:53] Rajalakshmi-Girish commented on #13699
Please confirm if I understand it right.
- Must NOT enable validation unless the Goroutine leaks are fixed.
- Also you suggest to split the leaks by each test into a different issue so that they can be worked by different people.
(But I am not sure on how to identify which tests are causing those `Found leaked goroutined BEFORE test appears to have leaked`)

[2022-02-16 09:56] Rajalakshmi-Girish commented on #13698
Can you please check if link https://github.com/etcd-io/etcd/runs/5191576634?check_suite_focus=true is working.
Once the section `Run mkdir "${TARGET}"` is expanded and searched for text `appears to have leaked`, we see the errors.

![image](https://user-images.githubusercontent.com/63038004/154240149-a61a7a8f-a587-4788-93af-c9a6c1bde72a.png)

[2022-02-16 10:03] ahrtr commented on #13702
Thanks @serathius for the info. I missed the info in [13448](https://github.com/etcd-io/etcd/issues/13448).

It's OK just to ignore the SemaphoreCI errors for now.

[2022-02-16 10:04] serathius commented on #13699
No, it just until we have goroutine leaks, PR that enables validation cannot be merged as it will cause CI to fail. We first need to fix the gourutine leaks and then we can enable validation that will prevent regressions.

No, I meant to say that having two separate issues (https://github.com/etcd-io/etcd/issues/13699, https://github.com/etcd-io/etcd/issues/13698) doesn't really help as they are d

[2022-02-16 10:13] serathius commented on #13697
cc @ptabor

[2022-02-16 10:19] ahrtr commented on #13702
Or  can we just replace it with` public.ecr.aws/docker/library/ubuntu:21.10 `for now, so as to make the CI green? We can remove the SemaphoreCI when 3.6 is out. WDYT @serathius ?

[2022-02-16 10:39] serathius commented on #13702
cc @ptabor

[2022-02-16 10:55] Rajalakshmi-Girish commented on #13699
Yes I plan to work on this. But would need help as I have not worked on goroutine leaks before.

I got to know about this tool recently- https://golangrepo.com/repo/uber-go-goleak-go-utilities
Request for guidance.

[2022-02-16 11:11] serathius commented on #13699
We use custom leak detection https://github.com/etcd-io/etcd/blob/main/client/pkg/testutil/leak.go, that I'm not super familiar with.

I would look into recent work by @[timmyyuan](https://github.com/timmyyuan) https://github.com/etcd-io/etcd/pull/13563 https://github.com/etcd-io/etcd/pull/13562. They apparently used https://github.com/uber-go/goleak, looks like we have a TODO to migrate to it.

I

[2022-02-16 20:12] spzala commented on #10602
@MPV please see my comment in the PR. Thanks!

[2022-02-16 23:03] ahrtr commented on #13691
It should be `*etcd-client*` instead of `*etcd_client*`. Note that it is NOT underscore

[2022-02-17 02:00] mac-chaffee opened #13705 "More warnings around "etcdctl del""
### What happened?

Not really a bug, but maybe unexpected behavior. Since `etcdctl del` accepts an optional second parameter which deletes all keys in a range, these are very easy mistakes to make:

[code]
[code]
[code]

### What did you expect to happen?

Of course we could just tell people to pay super close attention when they run `etcdctl del`, but there's lots of advice scattered around the

[2022-02-17 04:07] vivekpatani commented on #12164
@geetasg https://docs.google.com/document/d/1wQQ_L3cLyI1t14zp-PvarbjJYtlRsz_P9LwDR3uelc8/edit this is our last update, I will check and see how it differs from the current implementation but will update the document ASAP.

[2022-02-17 04:40] rahulbapumore commented on #13503
Hi @ahrtr ,
You said that one member id was there in previous deployment also, so thats not any issue because each time i am deploying microservice again its taking same member id for one of the pod(we are deleting and then again creating deployment).

We haven't set this --consistency=s flag still we are getting this issue.
And we are using microservice to create etcd cluster, so I will provide s

[2022-02-17 04:41] rahulbapumore commented on #13503
@ahrtr
Is above information sufficient?

[2022-02-17 04:42] rahulbapumore commented on #13503
Hi @ahrtr ,
and regarding this question **"I see that after successfully executing ETCDCTL_API=3 etcdctl put /test 3value, one member returned 2value for the command ETCDCTL_API=3 etcdctl get /test, while others returned 3value, correct? What's exact member which returned 2value?"**

Is there any command which will print value and which member returning that value?
Could you help on this question

[2022-02-17 09:20] serathius opened #13707 "Add tests for correct TLS verification against multi-server etcd cluster"
Discussion in https://github.com/kubernetes/kubernetes/pull/106591#discussion_r780357459

Proposed scenario
* client failover when the first server listed goes unavailable after the client has established a connection
* client failover when the first server listed is unavailable when the client is first created

[2022-02-17 09:20] serathius commented on #13707
cc @liggitt

[2022-02-17 09:41] serathius commented on #13518
v3.5.2 was released

[2022-02-17 09:41] #13518 closed

[2022-02-17 14:48] serathius commented on #13698
Link works.

I managed to write a simple script to identify which tests are leaking goroutine. It just runs tests one by one and greps logs for leak.

[code]

Example results:
[code]

[code]

[2022-02-17 21:18] dmxlsj opened #13709 "--hex=true converts raft_term to hexadecimal in json format"
### What happened?

When you run `member list` subcommand with hex flag in json format, `raft_term` value is also converted to hexadecimal which becomes invalid json format when the raft value is >= 10
[code]
Please note that `raft_term` shows up as `b` as a non-string hexadecimal.
This prevents other tools such as `jq` from parsing the output.
[code]

### What did you expect to happen?

The origi

[2022-02-17 22:24] ahrtr commented on #13702
There is already a related ticket [13448](https://github.com/etcd-io/etcd/issues/13448), so let's close this one.

[2022-02-17 22:24] #13702 closed

[2022-02-18 00:09] dmxlsj commented on #13709
Thanks for promptly addressing the issue!
Just curious though, is it a more correct behavior to have a hexadecimal string than having a decimal integer?
I am worried if this would cause confusion to the users when they are reading the hexadecimal string.
For example when a user sees `raft_term: "10"` the actual decimal value would be 16, and they will have to convert it back to integer in case the

[2022-02-18 00:19] ckaminski commented on #13667
I would like to volunteer

[2022-02-18 06:12] ahrtr commented on #13503
You only have 3 members in the cluster, why did you execute the command `/usr/local/bin/etcdctl member add ...` three times?

The procedure which you used to setup the cluster isn't correct to me.

[2022-02-18 06:13] dmxlsj commented on #13709
Thanks! the approach seems correct to me.

[2022-02-18 06:39] rahulbapumore commented on #13503
Hii @ahrtr ,
Sorry for wrong information.
We are skipping member adding for pod0.
Extremely sorry for wrong information.

[2022-02-18 06:40] rahulbapumore commented on #13503
@ahrtr

member adding is done 2 times only

[2022-02-18 07:48] ahrtr commented on #13442
I tried lots of times, and could not reproduce this issue. So I am closing this issue, feel free to reopen it if you still can reproduce it.

[2022-02-18 07:48] #13442 closed

[2022-02-18 07:52] ahrtr commented on #13707
Let me add a couple of tests.

[2022-02-18 09:01] serathius commented on #13667
@ckaminski thanks for volunteering! It would be great if we can improve development experience on Windows!

Minimal plan to support Windows development is to:
* [ ] Restore ability to build all etcd binaries on Windows - guess we need to fix build.ps1 and/or build.bat
* [ ] Introduce a CI job that runs those scripts -  We can add another job to https://github.com/etcd-io/etcd/blob/main/.github/wor

[2022-02-18 09:52] serathius commented on #11963
Do't know much about STM implementation. I think it would be best to reach out to @[heyitsanthony](https://github.com/heyitsanthony) who wrote, and [xiang90](https://github.com/xiang90) who reviewed STM implementation.

[2022-02-18 20:41] Rajalakshmi-Girish commented on #13698
@serathius I could not get the list of leaking tests with the above script.

Earlier, I noticed the leak messages to appear in the log only when the verbose flag is enabled with `go test` command.
I have just triggered a re-run with the -v in your script. I shall update once the run is completed.

[2022-02-18 21:44] ahrtr commented on #13413
Closing this issue since it's already been fixed in [commit](https://github.com/etcd-io/etcd/commit/2a750a8dbaee89e4627e1038a752aa613ef83594)

[2022-02-18 21:44] #13413 closed

[2022-02-18 21:50] ahrtr opened #13715 "[test] Add an e2e or integration test to cover the issue"
The issue [13466](https://github.com/etcd-io/etcd/issues/13466) is  resolved by PR [13645](https://github.com/etcd-io/etcd/pull/13645), but there is no e2e or integration test yet, so raising this ticket to track it.

[2022-02-18 21:56] #13493 closed

[2022-02-18 22:13] ahrtr commented on #13511
If the error is nil, then the only possible reason is that it returns at [make_mirror_command.go#L220](https://github.com/etcd-io/etcd/blob/20bf96dc40f5f3b27d1130a0c9bd21f0888a41f8/etcdctl/ctlv3/command/make_mirror_command.go#L220).  So need further investigation.

[2022-02-18 22:20] ahrtr commented on #13557
The related PR has already been closed, and no plan to add a configurable timeout (for opening the backend db), so closing this ticket. Feel free to reopen it if you still think it's an issue which needs to be resolved.

[2022-02-18 22:20] #13557 closed

[2022-02-18 22:21] #13622 closed

[2022-02-19 12:40] #13443 closed

[2022-02-19 12:40] #13410 closed

[2022-02-19 12:40] #13446 closed

[2022-02-19 12:40] #13451 closed

[2022-02-19 19:04] vinkp opened #13716 "etcdserver: mvcc: database space exceeded"
Hi Team

We are not able to write to ETCD DB (7 ETCD nodes). We tried to increase space using --quota-backend-bytes=1073741824  and also tried to set retention period, but the ETCD is not coming up.

Please suggests steps to make it up and running.  Should we reinitialize/reset the cluster? would it impact my client application which is using this etcd cluster.

Logs: >>>
File "/home/postgres/.loc

[2022-02-19 23:46] cruzanstx commented on #11949
removing *.wal and *.snap worked for me thanks!

[2022-02-20 07:50] fananchong opened #13717 "etcd/contrib/lock ： How storage knows the latest lease version of the lock service"
storage can only be written to the newly added data or the data version is consistent
How does storage update the data version?

[code]

[2022-02-20 09:49] leo-lao opened #13718 "How to connect to one builtin Etcd cluster(TSL secured) owned by Kubernetes"
Here I have one k8s cluster,
and I want to access data in its etcd cluster outside k8s cluster(like my local desktop)

* Firstly, I succeeded to access etcd inside the k8s cluster, like this:
[code]
* Then, I copied above files to my own MacPro, and this time it didnot work:
[code]
reponse message:
[code]

So My question is, How can I get access to this remote  ETCD cluster on my desktop?
—

* ima

[2022-02-20 10:00] leo-lao commented on #13718
have searched many pages:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm/
https://etcd.io/docs/v3.4/op-guide/security/

I guess this is one TSL related problem?
certificates copied from k8s `/etc/kubernetes/pki/etcd` folder are not suitablel for remote access?
Maybe one brand new client certificates need to be generated?

Help wanted!

[2022-02-20 11:18] serathius commented on #13698
Yes, you're right I copied wrong script. Adding `-v` is correct fix.

[2022-02-20 11:28] serathius commented on #13715
We should also add unit test.

[2022-02-20 16:14] serathius commented on #13107
Created PR that migrates proto generation to vtproto https://github.com/etcd-io/etcd/pull/13719
There is still work related to:
* Update code to match generated go files (name changes, pointer changes etc)
* Verify if there are any breaking changes due to dropped gogo annotations

[2022-02-21 02:14] ahrtr commented on #13718
Please follow the template to provide all info (such as etcd version) when raising an issue.

[2022-02-21 02:16] ahrtr commented on #13716
Please follow the template to provide all info (such as etcd version) when raising an issue.

FYI. Please perform the compaction & defragmentation operation per the guide [maintenance](https://etcd.io/docs/v3.5/op-guide/maintenance/ )

[2022-02-21 05:43] rahulbapumore commented on #13503
Hi @ahrtr
any updates

[2022-02-21 07:45] Monokaix opened #13722 "MAX_CONCURRENT_STREAMS not set correctly under secure server"
The server in `embed` has two patterns, secure and insecure, when insecure is used, it's a pure GRPC implement which uses `Serve` method in grpc implement while it use `ServeHTTP` when in secure pattern.

From the comment of grpc-go, `ServeHTTP` doen't support grpc features and may perform lower efficiency than `Serve`.
When `GODEBUG=http2debug=2` is enabled when using `etcdctl`, we can see that `

[2022-02-21 08:02] turowicz commented on #13557
👍🏻

[2022-02-21 09:16] serathius commented on #13718
@ahrtr, this issue was not filed as bug and author used empty template.

[2022-02-21 09:33] ahrtr commented on #13718
OK, got it, thanks @serathius .

@leo-lao  Please let us know what's the etcd version? Is there a proxy between the client and the etcd cluster?  FYI. [13192](https://github.com/etcd-io/etcd/issues/13192)

[2022-02-21 12:17] leo-lao commented on #13718
@ahrtr  Hi, I have updated this issue, and hope this time I provide enough information.

[2022-02-21 15:42] ahrtr commented on #13718
Your etcd version is 3.4.13, so it doesn't have the issue [13192](https://github.com/etcd-io/etcd/issues/13192).

Your issue could be just a network issue. Please verify the connectivity firstly using tools something like openssl, telnet, curl, etc.

[2022-02-21 16:16] ahrtr commented on #13466
The PR has already been merged, so closing this issue.

[2022-02-21 16:16] #13466 closed

[2022-02-21 16:53] FerminCastro opened #13724 "Inconsistent etcd member list"
Using etcd v3.5 in a K8 cluster
[opc@olk8-m1 ~]$ k exec etcd-olk8-m1 -n kube-system -- etcdctl
NAME:
        etcdctl - A simple command line client for etcd3.

USAGE:
        etcdctl [flags]

VERSION:
        3.5.0

Although RAFT INDEX is the same, the cluster seems healthy etc., the list of members returned by etcdctl is DIFFERENT depending on the member queried...
[opc@olk8-m1 ~]$ export ADVERTI

[2022-02-21 17:06] serathius commented on #13724
This is known issue for v3.5.0, please upgrade to v3.5.2.

[2022-02-21 17:06] #13724 closed

[2022-02-21 17:11] FerminCastro commented on #13724
Thanks, can you point me to the precise issue if reported/fixed before? Also, would a plain update of the pod's image to 3.5.2 work at all? Notice that a "formal" upgrade would require upgrading kubeadm/kubernetes but it is precisely that kubernetes upgrade which is failing with this "incorrect" list of etcd members

[2022-02-21 19:19] ptabor commented on #13705
I think it's a valid concern. If not an issue with backward compatibility, it would be a definitely right thing to fix.

- In 3.5 we could add a warning on stderr.
- In 3.6 we could add support for `--range` and sleep (2s) if the `--range` is not given:
 a) let the operation be cancelled by human operator
 b) trigger attention of the script owners to start using the new flag.

[2022-02-21 20:48] serathius commented on #13724
https://github.com/etcd-io/etcd/issues/13196

[2022-02-21 20:49] serathius commented on #13724
Upgrading to v3.5.2 should make `etcdctl member remove` calls to succeed allowing you to remove the inconsistent members

[2022-02-22 08:51] #13709 closed

[2022-02-22 10:26] rahulbapumore commented on #13503
hii @ahrtr

[2022-02-22 13:02] kkkkun commented on #13705
Let me have a try.
/assign

[2022-02-22 13:38] ljmict commented on #10002
I also had this problem and the log output is as follows:
[code]

[2022-02-22 13:42] leo-lao commented on #13718
@ahrtr  thanks for you kind answer.

I tried `netcat 10.252.125.xx:2379`, and  found can't connect to it.
this is indeed one connection problem, but currently I still can't find out the reason.
anyway, thank you very much.
I will dig into this issue on my own.

[2022-02-22 13:42] #13718 closed

[2022-02-22 16:18] pgodfrin-nov opened #13730 "etcd db initializes when new. Subsequent member add is successful but etcdctl calls fail; new member will not start"
### What happened?

Create new cluster, single node:
postgres@devudb01:/postgres/admin/etcd=> ssc start etcd
[code]
Add new member:
[code]
subsequent member list times out:

[code]
Curl provides this:

[code]
new member startup fails:
[code]

### What did you expect to happen?

After adding the remote member, the etcdctl command should work, returning the local member in and the remotes info as 'n

[2022-02-22 17:41] pgodfrin-nov commented on #13730
Pilot error. Static IP ports not setup.

[2022-02-22 17:55] pgodfrin-nov commented on #13730
UPDATE:
Something is still not right. When adding the second member and not starting it, member list fails. After starting the remote member, member list works. Adding the thrid member? This is weird:

[code]
[code]
[code]

Take a look at this:
##ETCD_INITIAL_CLUSTER="etcd-devudb01=http://172.21.61.224:2380**,=http://172.21.69.253:2380**,etcd-devudb02=http://172.21.67.12:2380,etcd-devewt01=http://

[2022-02-22 17:56] pgodfrin-nov commented on #13730
accidentally closed

[2022-02-23 02:49] ahrtr commented on #13705
I would propose to deprecate the existing range delete operation, and add a new flag "`--to-key`" to explicitly state that it's a range delete operation, otherwise raise an error. Since it's not backward compatible, so we can raise a warning for now and sleep 2 seconds.  cc @ptabor @serathius @spzala  WDYT?

[2022-02-23 12:04] sanjitp opened #13734 "Different data in different etcd pods"
### What happened?

While checking the keys in the etcd pod , it was seen that the values for the key inside etcd database was different in one the pods,meaning pod-1 and pod-2 have same keys but pod-2 has different keys

Etcd version used -3.3.11

### What did you expect to happen?

The data across all the pod in the database should be same

### How can we reproduce it (as minimally and precisely

[2022-02-23 12:40] serathius commented on #13734
This issue lacks basic information about etcd configuration. `I run etcd in pods` is not enough to reproduce the issue.

Please provide exact pod yaml configuration.

[2022-02-23 14:33] serathius opened #13735 "Create a etcdctl command for coordinating downgrade"
One of the problem of current downgrade process is lack of visibility into the process. Process is pretty complicated as it requires to manipulate multiple binaries and the only way to check the progress is via logs.

The etcdctl downgrade procedure described in https://github.com/etcd-io/etcd/blob/main/etcdctl/README.md#downgrade-subcommand requires administrator to look for specific logs like `T

[2022-02-23 14:35] serathius commented on #13735
This could also technically prompt us to switch `etcdctl downgrade` command to `etcdctl version downgrade`

[2022-02-23 14:50] serathius commented on #13538
All PRs were merged, based on that I think we are ready to cut v3.6.0-alpha.

@ptabor @spzala can you ACK if you think we can cut the release?

[2022-02-23 15:09] serathius commented on #13538
I don't think this is critical change that would block us, however we can wait if you think you can implement it soon.

[2022-02-23 15:12] serathius commented on #13667
@ckaminski did you have any time to look at the requirements? Could you provide an ETA?

[2022-02-23 15:25] ckaminski commented on #13667
I've been on holiday this week.  I'll give an update by the 4th.

[2022-02-23 17:39] FerminCastro commented on #13724
Ok, not sure if this is helpful but actually, after updating the k8 etcd image to 3.5.2, the zombie members do not show up anymore. i.e. it is not that with the new etcd we can remove those BUT that they are not showing up anymore. Before we upgraded to 3.5.2, this is what we were getting:

| ID | STATUS | NAME | PEER ADDRS | CLIENT ADDRS | IS LEARNER |
+------------------+---------+---------+----

[2022-02-23 19:53] ahrtr commented on #13503
Is `eric-data-distributed-coordinator-ed.cces-ci-ns` a headless service in K8s cluster?

Can you always reproduce this issue when creating a new cluster?

Please remove all the data and set the ETCDCTL_ENDPOINTS to
`https://eric-data-distributed-coordinator-ed-0.eric-data-distributed-coordinator-ed.cces-ci-ns:2379,https://eric-data-distributed-coordinator-ed-1.eric-data-distributed-coordinator-ed.

[2022-02-24 05:44] sanjitp commented on #13734
Please find the pod yaml configuration below:

microservice_SEC_KEY_MANAGEMENT_PORT_8210_TCP=tcp://10.102.60.80:8210
VALID_PARAMETERS=valid
ETCD_INITIAL_CLUSTER_TOKEN=microservice-data-distributed-coordinator-ed
ETCD_MAX_SNAPSHOTS=3
TZ=UTC
HOSTNAME=microservice-data-distributed-coordinator-ed-0
COMPONENT_VERSION=v3.3.11
ETCD_LISTEN_CLIENT_URLS=https://0.0.0.0:2379
ETCD_HEARTBEAT_INTERVAL=100
ETCD_

[2022-02-24 06:55] ahrtr commented on #13730
It is expected behavior.

When there is only one member, and you want to add a new member, then the workflow should be:
1. Execute command `etcdctl member add .....`;
2. Start the new member;
3. Execute any commands, such as `etcdctl member list` or `etcdctl get key`

The key point is that the third step can only work after the second step succeeds.  Otherwise, the quorum isn't satisfied.

If ther

[2022-02-24 06:55] Kareemkamel opened #13738 "kareemkamel716@gmail.com"
**Actively monitored security email alias for our project:**

**1. Have a user base not limited to your own organization.**

**2. Have a publicly verifiable track record up to present day of fixing security issues.**

**3. Not be a downstream or rebuild of another distribution.**

**4. Be a participant and active contributor in the community.**

**5. Accept the Embargo Policy.**

**6. Be willing t

[2022-02-24 07:01] ahrtr commented on #13734
It seems this issue is a duplicate to [13503](https://github.com/etcd-io/etcd/issues/13503). There is a long discussion back and forth in the issue.

Please attach the exact POD manifest files and detailed steps to reproduce this issue. @rahulbapumore @sanjitp

[2022-02-24 09:15] serathius commented on #13738
Please answer the questions as requested by the template.

[2022-02-24 09:15] #13738 closed

[2022-02-24 10:14] ptabor commented on #13538
Release v3.6-alpha SGTM:

- [ ] I assume we don't plan to create release-3.6 branch yet and we keep main as the integration point for features for v3.6.

- [ ] I think it's critical to expand both: v3.5 and v3.6 that ensures consistency between v2state and v3state,
i.e. if v2 store exists and it has different membership or consistency-index content vs. backend is updated to the v2 content. This re

[2022-02-24 11:11] rahulbapumore commented on #13503
bash-4.4$ export ETCDCTL_ENDPOINTS=https://eric-data-distributed-coordinator-ed-0.eric-data-distributed-coordinator-ed.zmorrah:2379,https://eric-data-distributed-coordinator-ed-1.eric-data-distributed-coordinator-ed.zmorrah:2379,https://eric-data-distributed-coordinator-ed-2.eric-data-distributed-coordinator-ed.zmorrah:2379
bash-4.4$
bash-4.4$ ETCDCTL_API=3 etcdctl get /test --prefix=true --write-

[2022-02-24 11:15] rahulbapumore commented on #13503
This is the output that we are getting after setting 3 endpoints in ETCDCTL_ENDPOINTS environment variable.
And eric-data-distributed-coordinator-ed.cces-ci-ns is not a headless service , it is cluster service.
Yes we are able to reproduce this issue each time.

[2022-02-24 15:59] FerminCastro commented on #13724
No problem and thanks for the help. That said, let me point to people to https://github.com/kubernetes/website/issues/31822 in case it helps others (because although the etcd behavior seems correct once upgraded to 3.5.2, things get really nasty for kubeadm users (which was the reason why this was so relevant: we could not upgrade k8 clusters because of this etcd bug). I will describe there the st

[2022-02-24 16:27] FerminCastro commented on #13724
Oh, and by the way, the zombie nodes REMAIN as soon as you revert the image (i.e. they disapeared when we upgraded to 3.5.2 but came back when we reverted/downgraded to 3.5.0)  So I think that when they did not show in 3.5.2 they were still there but did not show in the member list. It would be great to provide a solid list to clean up also in 3.5.2

[2022-02-24 20:39] spzala commented on #13538
v3.6-alpha SGTM too @serathius THANK you!
We should start creating doc version for 3.6 as we do have some 3.6 specific changes, I will work on it.

[2022-02-24 22:39] dperny opened #13741 "contrib/raftexample: adding new members after snapshot taken fails"
### What happened?

Using the contrib/raftexample code, adding a new node to the cluster if there is a Snapshot outstanding results in:

[code]

### What did you expect to happen?

Node should be successfully added to cluster. Snapshot should be restored and logs replicated past it.

### How can we reproduce it (as minimally and precisely as possible)?

1. First, alter the example such that the sn

[2022-02-24 22:50] ahrtr commented on #13503
Using a cluster service as the endpoint seems not correct, because it redirects a request to only one backend POD each time.

There is a long back and forth discussion, but not much progress yet. Just as I mentioned in [13734](https://github.com/etcd-io/etcd/issues/13734), could you provide the POD & service manifests and detailed steps so that I can  have a try in my local environment ?

[2022-02-25 07:03] zaunist opened #13742 "cluster version is different with server version"
### What happened?

When I send a request to `localhost:2379/version`, I get this message

[code]

The etcdcluster version always `3.4.0`、`3.5.0`、`3.6.0`, why is the cluster version number always an integer?

I'm very appreciate if anyone can tell me why?

### What did you expect to happen?

The cluster version is same to server version.

### How can we reproduce it (as minimally and precisely as

[2022-02-25 07:58] #13707 closed

[2022-02-25 09:50] ADRIEN9631 opened #13743 "why use b-tree instead of b+tree for in-memory indexing?"
Version:
v3.4.9

Didn't find any explanation in source code or official documents.

[2022-02-25 20:21] #13685 closed

[2022-02-26 04:55] xiang90 commented on #13742
Not exactly sure what you mean. But the cluster version only cares about the minor version, not the patch version or any pre-release annotation. All releases within the minor versions are compatible, so the cluster version does not need to be aware of the patch version. See https://semver.org/.

[2022-02-26 04:55] #13742 closed

[2022-02-26 05:46] ahrtr commented on #13730
Since it isn't an issue, so closing this ticket.

[2022-02-26 05:46] #13730 closed

[2022-02-26 22:22] #13509 closed

[2022-02-27 05:23] adolphlwq commented on #7292
Hi @xiang90, thanks for you suggesion. I have some questions.

## Problem of your advice

**Can work well only when the mod rev of key increase one by one**. But mostly the mod rev increase random.

I write some go(go version go1.16.6 linux/amd64) code to demo the problem, I use Makefile and docker to run a etcd container.

Makefile:
[code]

### go code
[code]

### output
[code]

The value of key

[2022-02-27 08:22] nic-6443 commented on #11372
We encountered the same problem, as there is no clear way to split messages, resulting in the client not being able to handle receiving partial messages or multiple events in one HTTP chunk when ETCD is proxied by an HTTP server like nginx.

[2022-02-27 09:25] nic-6443 commented on #11372
Special attention needs to be paid to ETCD v3.3.0, because of a bug in grpc-gateway v1.3.0, the way of using newlines as separators will fail.
See:
* https://github.com/grpc-ecosystem/grpc-gateway/issues/495
* https://github.com/grpc-ecosystem/grpc-gateway/pull/479

[2022-02-27 14:46] tonycasanova commented on #13455
The "Large" etcdctl perf benchmark will pass around 7529 writes per second to higher.    The topology (Network/Disk/etc) might be changing or different between the L and XL tests.   I would expect L to pass if     XL passes.

[2022-02-27 20:47] socketpair commented on #11372
Happily I switched to websocket transport.

[2022-02-28 09:12] serathius commented on #13506
bump

[2022-02-28 12:46] serathius commented on #13538
https://github.com/etcd-io/etcd/releases/tag/v3.6.0-alpha.0 is out

[2022-02-28 17:27] ahrtr commented on #13691
Please reopen this ticket if you still have any issue.

[2022-02-28 17:27] #13691 closed

[2022-03-01 15:24] #13564 closed

[2022-03-02 09:15] #13623 closed

[2022-03-02 11:25] serathius commented on #13637
We have managed to merged enough PRs to establish fundaments for the new framework (https://github.com/etcd-io/etcd/pull/13708, https://github.com/etcd-io/etcd/pull/13740, https://github.com/etcd-io/etcd/pull/13753, https://github.com/etcd-io/etcd/pull/13754). I think we can open the effort to more contributors to scale the migration. I think it would be a good idea to encourage new tests to be im

[2022-03-02 14:43] aryabchenko opened #13755 "How to change S3 backup bucket region?"
### What happened?

I changed S3 backup bucket region (made backup, deleted old bucket, recreated in a new region, restored backup).
Now both etcd-manager-main and etcd-manager-events pods give me error:
[code]
How to change bucket region?

### What did you expect to happen?

Easy way to change or changed automagically

### How can we reproduce it (as minimally and precisely as possible)?

steps a

[2022-03-02 21:30] #13688 closed

[2022-03-02 23:42] ahrtr commented on #13755
This issue looks unrelated to etcd. Please provide etcd's log and configuration if you see any issue in etcd.

[2022-03-03 02:48] mortehu opened #13757 "Duplicate names in `ETCD_INITIAL_CLUSTER` not handled correctly"
### What happened?

If you don't pass a `--name` argument to your `etcd` processes, they will all have the name `default` and the cluster will operate normally.  However, when you add a member, the generated `ETCD_INITIAL_CLUSTER` variable will have multiple entries with the name "default".  When this environment variable is used, `etcd` will parse these into a mapping under a single key ("default

[2022-03-03 06:24] ahrtr commented on #13757
A member can have multiple client or peer URLs. So in this case, you must specify the flag `--name`. But I agree that we should add a warning if the flag `--name` isn't present. Feel free to submit a PR for this. Thanks.

[2022-03-03 07:27] aryabchenko commented on #13755
@ahrtr how this issue can be unrelated to etcd if the description contains log from etcd pods?
I got this piece of logs using
`for i in `kubectl get pods -A | grep etcd| awk '{print $2}'`; do kubectl logs $i | grep backup; done`
moreover in the log you can see that it cannot fetch the following file:
s3://mybucket/k8s/backups/**etcd**/main/control/**etcd-cluster-created**
so it's totally related t

[2022-03-03 08:07] ahrtr commented on #13755
The log is coming from `controller.go`, note that etcd doesn't even have the file.

[2022-03-03 11:29] serathius commented on #13755
Etcd project doesn't handle backups or provide any tooling for backup. Problem is handled by external tools like etcdadm etc. Please identify the backup tools you use for etcd and file issue to proper project.

[2022-03-03 11:29] #13755 closed

[2022-03-03 12:46] lance6716 opened #13758 "Can't start two cluster by integration package?"
### What happened?

we upgrade our etcd from v0.5.0-alpha.5.0.20210512015243-d19fbe541bf9 to v3.5.2, found many unit tests are broken

Most of them I can find the root cause, but this one I have no idea

[code]

it will fail without printing the reason. Can you help me?

### What did you expect to happen?

no error

### How can we reproduce it (as minimally and precisely as possible)?

see above

[2022-03-03 19:30] thaJeztah commented on #13741
@spzala ptal 🤗

[2022-03-04 01:33] jiapeish commented on #13697
Close it since it occured only once and there is no further response.

[2022-03-04 01:33] #13697 closed

[2022-03-04 16:27] rahulbapumore commented on #13503
Hi @ahrtr ,
In one of the ETCD deployment , worker nodes were rebooted and it caused same data inconsistency issue, all pods were having different values for same keys.
Do you know anyt work around for syncing data across 3 pods?
If you could provide us WA that will be helpful

Thanks

[2022-03-04 20:22] ahrtr commented on #13503
You can remove the member, which is out of sync, from the cluster, and remove the local data of the member as well. Afterwards, join the member to the cluster again, then etcd will sync data automatically.

Another solution is to follow the [https://etcd.io/docs/v3.5/op-guide/recovery/](https://etcd.io/docs/v3.5/op-guide/recovery/) . But it may cause some downtime on the application.

Please backu

[2022-03-05 06:28] ahrtr commented on #13735
The other proposal is to enhance the existing `etcdctl endpoint status `command. The existing output is something like below. We can change the `VERSION` to `MEMBER VERSION`, and add `STORAGE VERSION` and `TARGET VERSION`. Users can tell whether it's in progress of downgrade by comparing the `MEMBER VERSION` and `TARGET VERSION`, and also by looking at the `TARGET VERSION`'s value.

[code]

The va

[2022-03-05 21:02] agargi commented on #13698
@serathius Does this need a fix?

[2022-03-07 02:01] ahrtr commented on #13741
Thanks for raising this issue. I just fixed it in [pull/13760](https://github.com/etcd-io/etcd/pull/13760). Please the explanation in the PR. Please also kindly let me know whether it works for you.

[2022-03-07 02:27] dperny commented on #13741
Thank you very much! Late last week I'd finally gotten far enough into the etcd code to determine this was likely the solution, but I was not yet certain. This clears it up.

[2022-03-07 05:36] ahrtr commented on #13758
The listen address conflicts. Please add `UseTCP: true`, see example below,

[code]

[2022-03-07 05:42] lance6716 commented on #13758
@ahrtr Thanks! I'll close it.

[2022-03-07 05:42] #13758 closed

[2022-03-07 05:45] lance6716 commented on #13758
Oh I still think the socket conflict error should be more readable, just a little advice.

[2022-03-07 07:12] thaJeztah commented on #13741
Thanks @ahrtr !

[2022-03-07 13:25] serathius commented on #13538
At this moment we are little late in K8s release cycle, with etcd still on alpha state, I don't think we can target K8s v1.24 release.

[2022-03-07 18:32] fy-stripe opened #13761 "grpc health check crashes etcd"
### What happened?

When a grpc healthcheck is configured for /health, etcd panics with "not implemented"

### What did you expect to happen?

etcd handles the health check successfully.

### How can we reproduce it (as minimally and precisely as possible)?

Use https://github.com/grpc-ecosystem/grpc-health-probe to do a tls grpc health check on a 3.4.10 server.

### Anything else we need to know?

[2022-03-07 18:33] maplain opened #13762 "grpc health check crashes etcd"
### What happened?

When a grpc healthcheck is configured for /health, etcd panics with "not implemented"

### What did you expect to happen?

etcd handles the health check successfully.

### How can we reproduce it (as minimally and precisely as possible)?

Use https://github.com/grpc-ecosystem/grpc-health-probe to do a tls grpc health check on a 3.4.10 server.

### Anything else we need to know?

[2022-03-07 18:33] #13761 closed

[2022-03-07 20:01] spzala commented on #13741
Thanks @ahrtr I will be reviewing the changes today.

[2022-03-07 23:34] pcgeek86 opened #13763 "Etcdctl snapshot restore doesn't actually restore data"
### What happened?

Running `etcdctl snapshot restore` doesn't actually restore any data to the cluster.
Data that should have been stored in the snapshot isn't restored to the cluster.

[code]

### What did you expect to happen?

Etcd restores data from snapshot

### How can we reproduce it (as minimally and precisely as possible)?

1. Set up an etcd cluster
2. Add a couple of keys to the cluster

[2022-03-07 23:37] pcgeek86 opened #13764 "The new(-ish) etcdutl utility isn't included in etcd container image"
### What happened?

Apparently `etcdctl snapshot restore` has been deprecated in favor of a command called `etcdutl` instead.
However, the new utility isn't included in the `etcd` container image, requiring separate steps to install it directly onto the host.

### What did you expect to happen?

`etcdutl` should be included in the `etcd` container image, so it doesn't require separate steps to ins

[2022-03-08 00:44] spzala commented on #13743
@ADRIEN9631 that's an architectural details.. you can see some here https://etcd.io/docs/v3.5/learning/data_model/#physical-view Please fill free to create a PR with more details. Closing this issue. Thanks!

[2022-03-08 00:44] #13743 closed

[2022-03-08 01:05] rayliu419 opened #13765 "Is snapshot the only way to recover when lost quorum ?"
Hi guys,

I searched some offical documents and found it looks like Etcd can only be recovered using snapshot when lost quorum, do we have any other methods to rebuild a Etcd cluster without losing data? E.g., if Etcd now has 1000 records and snapshot only has 800 records, when the Etcd cluster fails due to quorum, can we restore the rest 200 records?

Thanks

[2022-03-08 03:58] HtHuanChen commented on #9839
Same problem.
- Etcd version: 3.3.11;
- Proxy version: 3.5.2;

I got `etcd_debugging_mvcc_watcher_total=1916` from a proxy point, but clients can't get any response . PUT & GET & etc... is ok.

Hope this old bug can be resolved.

[2022-03-08 07:28] liuycsd opened #13766 "Inconsistent revision and data occurs"
I'm running a 3-member etcd cluster in a testing environment,
and a k8s cluster with each kube-apiserver connecting to one etcd server via localhost.

etcd cluster: created and running with v3.5.1
k8s cluster: v1.22

I found a data inconsistent several days ago:
Some keys exists on node `x` and `y` but not on node `z`, and some on `z` but not on the other two, e.g. different pods list would be ret

[2022-03-08 09:11] moonovo commented on #13763
the `snapshot restore` command does not send requests to etcd. Before using the command, you need to stop the all etcd pod,  add the --data-dir flag to your data directory (maybe /var/lib/etcd/default.etcd)，and run this command to rebuild the data directory.

[2022-03-08 09:25] SingleThread opened #13768 "Etcd has some security issues involving password complexity, sensitive information leakage, interfaces that do not require authentication, and accounts that cannot be locked"
1. Reuse of wrong password to access interface /v2/auth/users, account will not be locked out
2. Call etcd api to use weak password to perform user creation and update user password operations, there is no weak password checking mechanism
3. Open etcd debug log, call etcd api to perform user creation and update user password operations, the password ciphertext will be
4. Etcd has interfaces that c

[2022-03-08 09:34] #13741 closed

[2022-03-08 09:37] serathius commented on #13764
`k8s.gcr.io/etcd:3.5.1-0` is not etcd community owned image, but K8s one. Please file an issue to kubernetes/kubernetes repo.

[2022-03-08 09:37] #13764 closed

[2022-03-08 10:53] serathius commented on #13766
cc @ptabor

[2022-03-08 11:02] serathius commented on #13763
Sorry for confusing naming, `etcdctl snapshot restore` doesn't restore cluster to snapshot, but data directory so you can run etcd instance on it.

[code]

[2022-03-08 11:02] #13763 closed

[2022-03-08 12:44] ptabor commented on #13766
Was this cluster originally created as 3.5.1 or it was subject to migration from 3.4.x. or 3.3.x ?

[2022-03-08 13:15] serathius commented on #13766
Hey @liuycsd, can you provide etcd configuration you are running. Specifically it would be useful to know if you use `--experimental-corrupt-check-time` as would allow early detection.

[2022-03-08 15:23] liuycsd commented on #13766
IIRC, it was originally created as 3.5.1.

[2022-03-09 05:14] ahrtr commented on #13735
Adding `etcdctl version status ` will also break the existing `etcdctl version` command, so it may not be good.  The third proposal is to enhance the existing `etcdctl version` command. We could add some additional flags to `etcdctl version` below,

[code]

If there is no any flags, then it keeps the existing behavior.

We could implement both proposal 2 & 3, which means we can enhance both `etcdc

[2022-03-09 07:49] SingleThread commented on #13768
3.currently using version 3.5.0

[2022-03-09 08:54] serathius commented on #13512
Fixed in last minor release, v3.5.0, v3.5.1, v3.5.2.

[2022-03-09 08:54] #13512 closed

[2022-03-09 08:56] serathius commented on #12799
friendly ping, any progress on this?

[2022-03-09 09:00] serathius commented on #13735
I think your proposal makes more sense as it doesn't complicate the server. We can just extend the `/version` endpoint on server to add remaining information and extend `etcdctl endpoint status` command.

[2022-03-09 09:43] kkkkun commented on #13637
I will work on follow test：
 e2e/ctl_v3_compact_test.go

[2022-03-09 14:58] liuycsd commented on #13766
Checking the running server, current config is:
https serving and client and peer cert auth enabled
heartbeat-interval=600
election-timeout=3000
auto-compaction-retention=1
All in environment variables and no command line arguments.

[2022-03-09 21:13] ahrtr commented on #13735
Glad that we are on the same page. I will add one more field "storageVersion" for both `etcdctl endpoint status` and the `/version` endpoint.

Just to be clear, we don't need the cluster version, because users can tell the cluster version themselves by comparing all members' versions.

Regarding to the "target version" in the proposal 2, I will not add it for now, because:
1. It's specific to down

[2022-03-10 08:34] sparkinglu commented on #11122
It does not look like a good solution by restarting it. I got same problem for v3.5.2 when a new node is added into an existing cluster.

If my understanding is correct, the issue introduced by the [server.go:1241](https://github.com/etcd-io/etcd/blob/99018a77bea9a9d29962e5169876c64e02739c52/server/etcdserver/server.go#L1241). The openSnapshotBackend tries to rename a snap file to the "db" file. H

[2022-03-10 14:49] mitake commented on #13768
That's the debug log, so you are using `--log-level=debug` right? I think that shouldn't be used in production environments so practically not harmful. But if you have motivation to change the behavior, I think we can fix.

[2022-03-10 15:59] serathius opened #13775 "Introduce feature tracking"
When looking through some recent reports of data inconsistencies in etcd v3.5 I was surprised that all of them where detected manually by users. Manual detection means that users find out pretty late and they no longer have a logs from the event. This is very worrying that we are unable to effectively reproduce nor fix such cases.

I wondered why etcd doesn't have any mechanism to detect data inco

[2022-03-10 16:00] serathius commented on #13775
cc @ptabor @ahrtr @spzala

[2022-03-10 16:19] serathius commented on #12460
Reopening to track graduation of distributed tracing flags as proposed in https://github.com/etcd-io/etcd/issues/13775

[2022-03-10 16:27] serathius opened #13776 "Stabilize lease checkpointing"
We should work towards:
* making lease checkpointing non-experimental feature (v3.6)
* make it enabled by default and removing the flag v3.7

[2022-03-10 16:32] serathius opened #13777 "Track stabilization of compaction-batch-limit flag"
Context https://github.com/etcd-io/etcd/issues/13775

Tracking work for stabilizing the `--experimental-compaction-batch-limit` flag (v3.6)

[2022-03-10 16:33] serathius opened #13778 "Stabilize peer-skip-client-san-verification"

[2022-03-10 16:34] serathius opened #13779 "Track stabilization of --experimental-watch-progress-notify-interval flag"
This is tracking issue that tracks graduation of this feature. Let's work towards stabilization of the feature by discussing what steps   should be taken for graduation.
Context https://github.com/etcd-io/etcd/issues/13775

[2022-03-10 16:34] serathius opened #13780 "Track stabilization of --experimental-warning-apply-duration flag"
This is tracking issue that tracks graduation of this feature. Let's work towards stabilization of the feature by discussing what steps   should be taken for graduation.
Context https://github.com/etcd-io/etcd/issues/13775

[2022-03-10 16:35] serathius opened #13781 "Track stabilization of --experimental-txn-mode-write-with-shared-buffer flag"
This is tracking issue that tracks graduation of this feature. Let's work towards stabilization of the feature by discussing what steps   should be taken for graduation.
Context https://github.com/etcd-io/etcd/issues/13775

[2022-03-10 16:35] serathius opened #13782 "Track stabilization of --experimental-bootstrap-defrag-threshold-megabytes flag"
This is tracking issue that tracks graduation of this feature. Let's work towards stabilization of the feature by discussing what steps   should be taken for graduation.
Context https://github.com/etcd-io/etcd/issues/13775

[2022-03-10 16:36] serathius opened #13783 "Track stabilization of --experimental-warning-unary-request-duration flag"
This is tracking issue that tracks graduation of this feature. Let's work towards stabilization of the feature by discussing what steps   should be taken for graduation.
Context https://github.com/etcd-io/etcd/issues/13775

[2022-03-10 16:37] serathius opened #13784 "Stabilize --experimental-max-learners flag"

[2022-03-10 16:38] serathius opened #13785 "Track stabilization --experimental-wait-cluster-ready-timeout"
This is tracking issue that tracks graduation of this feature. Let's work towards stabilization of the feature by discussing what steps   should be taken for graduation.
Context https://github.com/etcd-io/etcd/issues/13775

[2022-03-10 16:38] serathius commented on #9190
Motivation of reopen: https://github.com/etcd-io/etcd/issues/13775

[2022-03-10 16:39] serathius commented on #13776
Motivation https://github.com/etcd-io/etcd/issues/13775

[2022-03-10 23:14] spzala commented on #13775
@serathius +1 good thought on proposal. I would suggest to create a PR (let me know if you want me to create one) with the initial proposal to handle new features and graduation in the `CONTRIBUTING.md` under a sub-topic `Adding new feature(s)` or something like that - if that sounds good to you? We can review it there and have it merge it, and keep it permanently for easy reference. Thanks!!

[2022-03-11 00:27] ahrtr commented on #13785
This flag was added in 3.6. Normally we should graduate a flag at least in the next release (>=3.7). But for this flag, since it's low risk, I am OK to graduate it in 3.6 if there is no any objections. cc @serathius @spzala @ptabor

[2022-03-11 05:58] rahulbapumore commented on #13503
[statefulset.txt](https://github.com/etcd-io/etcd/files/8229458/statefulset.txt)
[configmap.txt](https://github.com/etcd-io/etcd/files/8229461/configmap.txt)
Hi @ahrtr ,
I am attaching statefulset and configmap file to give you idea exactly how we are configuring etcd.
Configmap contains 2 scripts add-member.sh which is getting called in init container which will exit after running.
then entrypoin

[2022-03-11 09:09] ahrtr commented on #11562
FYI.  https://github.com/ahrtr/etcd-issues/blob/master/docs/cluster_id_mismatch.md

[2022-03-11 09:10] ahrtr commented on #11642
FYI.  https://github.com/ahrtr/etcd-issues/blob/master/docs/cluster_id_mismatch.md

[2022-03-11 09:10] ahrtr commented on #12361
FYI. https://github.com/ahrtr/etcd-issues/blob/master/docs/cluster_id_mismatch.md

[2022-03-11 09:10] ahrtr commented on #13453
FYI.  https://github.com/ahrtr/etcd-issues/blob/master/docs/cluster_id_mismatch.md

[2022-03-11 11:51] ptabor opened #13789 "Test flakes: DATA RACE around zap in TestSpeedyTerminate (cluster_proxy)"
Test flakes: DATA RACE around zap in TestSpeedyTerminate (cluster_proxy)

https://github.com/etcd-io/etcd/runs/5500866149?check_suite_focus=true

During:
[code]
[code]

[2022-03-11 13:47] kkkkun commented on #13777
I will work on it.

[2022-03-11 14:09] 1055373165 commented on #11749
in go.mod      add

replace github.com/coreos/bbolt => go.etcd.io/bbolt v1.3.6

replace google.golang.org/grpc => google.golang.org/grpc v1.26.0

[2022-03-11 18:27] chaochn47 commented on #13766
Hi @liuycsd, thanks for the reporting this issue.

Looks like the data inconsistency triggers are
- OOM
- disk space full
- lot of leader elections and switches during those several hours.

Can you help us better understand your cluster is set up?
- I am wondering if you have a monitoring system in place for this etcd cluster so you concluded there were likely out of memory or full disk space issu

[2022-03-11 22:19] nic-chen commented on #13637
hi @serathius I would like to take some

[2022-03-11 22:50] wilsonwang371 commented on #13766
I suggest you try 3.5.2 and see if this problem can still happen. Thre was a data corruption issue fixed recently.

[2022-03-12 09:37] liuycsd commented on #13766
Thanks.

That's just a simple environment for testing, with limited resources. No monitoring or backup setup.
Just because someone deployed a heavy system using that k8s cluster and found it quite slow, after logging into those nodes, found it was out of resources and made some manually cleanup and kubectl get pods showed that it seems to works.
But when I'm using that cluster several days later I

[2022-03-12 09:39] liuycsd commented on #13766
Sorry for the accident close

[2022-03-12 23:15] #13483 closed

[2022-03-12 23:15] #13280 closed

[2022-03-12 23:15] #12561 closed

[2022-03-12 23:15] #13372 closed

[2022-03-12 23:15] #13471 closed

[2022-03-12 23:15] #13096 closed

[2022-03-12 23:15] #13489 closed

[2022-03-12 23:15] #13454 closed

[2022-03-12 23:15] #13473 closed

[2022-03-12 23:15] #13469 closed

[2022-03-12 23:15] #13319 closed

[2022-03-12 23:15] #13456 closed

[2022-03-12 23:15] #13463 closed

[2022-03-12 23:15] #13464 closed

[2022-03-13 03:26] kkkkun commented on #13789
It seem happend when write log.
https://github.com/uber-go/zap/blob/6f34060764b5ea1367eecda380ba8a9a0de3f0e6/zaptest/logger.go#L130

[2022-03-13 11:55] yuzx2008 commented on #2986
go-etcd use v2 protocal

etcd v3.5.2 add `-enable-v2` to resolve it

[2022-03-13 17:53] mootezbessifi opened #13794 "etcd v3.4.13 making frequent unexpected leader re-election"
### What happened?

I am running etcd V3.4.13 as cluster used by kubernetes platform v1.21.4

etcd is making a leader re-election lets say as average once per 1 hour which is causing some calls failure from kubernetes.
etcd cluster is using SSD storage per instance.

I used to monitor the VMs network where etcd cluster is hosted during that time butu there is no packets dropped.

### What did you

[2022-03-13 17:57] mootezbessifi commented on #13587
@didihongsheng  did you fix the issue, if yes please share how

[2022-03-14 09:21] aRanhy opened #13795 "build benchmark fail"
Execute "go the get go. etcd. io/etcd/tools/benchmark" ，
But prompt "package crypto/ed25519: Unrecognized import path crypto/ ED25519 (import path does not begin with hostname) ",
And then to download git clone https://github.com/golang/crypto.git, and then suggests
"the import cycle not allowed
package go.etcd.io/etcd/v3/tools/benchmark
imports go.etcd.io/etcd/v3/tools/benchmark/cmd
imports go.et

[2022-03-14 09:58] serathius commented on #13785
I have bulk created issues to graduate all experimental flag. For this flag that was added v3.6 it should be reasonable to wait for v3.7.

[2022-03-14 10:39] rahulbapumore commented on #13503
@ahrtr

[2022-03-14 11:43] nirmannarang opened #13796 "Update on s390x server provided for etcd testing"
Hi @gyuho , This is regarding the s390x VM provided to you for testing etcd. Wanted to know if it is still being used or if it can be released now.
Is etcd still using the server and if so can we make plans to build you a new one or sign you up for the self-service portal to replace the old server?

[2022-03-14 12:24] kkkkun opened #13798 "removing deprecated commands in etcdctl"
This is a tracking issue that deprecated commands need to remove before release 3.6

- [x]  `etcdctl defrag --data-dir`  https://github.com/etcd-io/etcd/pull/13793
- [x]  `etcdctl snapshot status/restore ...` https://github.com/etcd-io/etcd/pull/13809
- [x]  `Change Etcdutl to default` https://github.com/etcd-io/etcd/pull/13836

[2022-03-14 12:51] serathius commented on #13448
Hmm, tried to enable SemaphoreCI only on release-3.3 branch. Got 500 response on their configuration page :(

[2022-03-14 13:31] serathius commented on #13795
Please read https://github.com/etcd-io/etcd/tree/main/tools/benchmark
[code]

[2022-03-14 13:31] #13795 closed

[2022-03-14 14:58] liuycsd commented on #13766
Thanks @chaochn47  @wilsonwang371 and everyone else.

After checking the log again, I found a panic did occur on node `y`, and another panic occurred on node `x` two minutes later. From the restart log after panic, the revision from loaded db file was near (~10000 later than) where the revision difference starts by comparing the db with `bbolt keys`. I don't know whether or not it panicked  on nod

[2022-03-14 15:06] geotransformer opened #13800 "Can an offline etcd instance join back an etcd cluster automatically"
### What happened?

One etcd instance was down (e.g., host power off, pod scale in, network partition, etc)

1> Can it join back the cluster directly?

2> Is it required to cleanup the existing data before etcd instance joining back?

3> If it can join back cluster automatically, how long the offline is acceptable when an etcd instance is joining back?

### What did you expect to happen?

Offline

[2022-03-14 15:08] serathius commented on #13766
Can you share the stacktraces?

[2022-03-14 15:34] liuycsd commented on #13766
I don't have access to the cluster right now. I may paste it when it's available later.
IIRC, the stacktraces are like #12845.

[2022-03-14 16:07] wilsonwang371 commented on #13766
can you check if #13505 is the root cause?

[2022-03-14 18:13] spzala commented on #13534
The fuzzing integration work is completed, read more here - https://etcd.io/blog/2022/etcd-integrates-continuous-fuzzing/

[2022-03-14 18:14] spzala commented on #13534
Keeping the issue open to for the step 5 above.

[2022-03-15 01:07] nic-chen commented on #13637
I would  start with the simple one:
e2e/ctl_v3_alarm_test.go

[2022-03-15 01:53] #13119 closed

[2022-03-15 03:34] SingleThread opened #13801 "Access etcd service through the client, the error shows "rejected connection""
### What happened?

Access etcd service through the client, the error shows "rejected connection"
{"level":"warn","ts":"2022-03-15T03:02:56.740Z","caller":"embed/config_logging.go:169","msg":"rejected connection","remote-addr":"*.*.*.*:*","server-name":"","error":"EOF"}

### What did you expect to happen?

Client call succeeded

### How can we reproduce it (as minimally and precisely as possible)?

[2022-03-15 12:01] aRanhy commented on #13795
The problem has been solved, which is caused by the low go version. Thank you very much for your reply.

[2022-03-15 17:35] endocrimes opened #13805 "test cleanup: skipped test TestV3AuthOldRevConcurrent"
[TestV3AuthOldRevConcurrent](https://github.com/etcd-io/etcd/blob/main/tests/integration/v3_auth_test.go#L361) is currently blanket skipped and the referenced issue https://github.com/etcd-io/etcd/issues/10408 was closed by the stalebot rather than a person or commit.

With the context from here: https://github.com/etcd-io/etcd/pull/10468#issuecomment-46325336 I think it might've been replaced wit

[2022-03-16 01:03] ahrtr commented on #13800
The short answer is YES, and no need to cleanup the existing data.

I don't think there is any limitation here.

The only comment is that you can't join an old member again if you recreate the cluster and reuse some peer addresses. Otherwise you will run into [cluster ID mismatch](https://github.com/ahrtr/etcd-issues/blob/master/docs/cluster_id_mismatch.md) issue.

[2022-03-16 02:30] houseme commented on #12460
Can I upgrade to the latest version? https://github.com/open-telemetry/opentelemetry-go/pull/2676

[2022-03-16 05:46] rahulbapumore commented on #13503
@ahrtr any updates

[2022-03-16 08:55] liuycsd commented on #13766
How could I verify that?

The stacktraces are similar.
On node `y`:
[code]

On node `x`:
[code]

[2022-03-16 13:01] sanjitp commented on #13503
We want to understand the root cause of this problem where data is being inconsistent and revisions are different across pods, we're suspecting this could the reason:
Failure could be introduced by the consistentIndex, and consistenIindex in fact rely on the mvcc too.
When etcd is restarted during consistentIndex change, revision problem will be introduced.
Please let us know your view on this, if

[2022-03-16 13:22] tskarman opened #13810 "Panic in etcd gateway start"
### What happened?

A panic happens when running `etcd gateway start --discovery-srv someplace.com --listen-addr=127.0.5.6:23790 --trusted-ca-file somepath/ca.pem` in v3.5.2 where no panic happens when running it in v3.4.18.

### What did you expect to happen?

No panic, establish connection without error or fail with error message.

### How can we reproduce it (as minimally and precisely as possi

[2022-03-16 13:23] tskarman commented on #13810
I'd be happy to supply more log output. I did not find a way to get more verbose output from `etcd gateway start`.
Just let me know what I can do to help. Thank you!

[2022-03-16 14:05] kkkkun opened #13811 "Test flakes: Found leaked goroutined BEFORE test appears to have leaked a Transport"
### What happened?

https://github.com/etcd-io/etcd/runs/5570446632?check_suite_focus=true#step:5:10949

### What did you expect to happen?

logger.go:130: 2022-03-16T13:13:36.112Z	INFO	m0	initialized peer connections; fast-forwarding election ticks	{"member": "m0", "local-member-id": "f7b8a6583114e9e8", "forward-ticks": 8, "forward-duration": "80ms", "election-ticks": 10, "election-timeout": "100

[2022-03-16 16:13] ahrtr commented on #13503
I am a little busy this week, will have a deep dive sometime next week on this.

[2022-03-16 20:28] wilsonwang371 commented on #13766
You can use 3.5.2 and see if you can reproduce this issue. From the stack trace, it seems like #13505 fixed this issue and it is available in 3.5.2.

[2022-03-17 02:28] ahrtr opened #13814 "Add integration test for etcd tracing"
We can follow the same way as Kubernetes did in [pull/103234](https://github.com/kubernetes/kubernetes/pull/103234).

It's also the prerequisite to graduate/stable the experimental tracing flags. [12460](https://github.com/etcd-io/etcd/issues/12460)

[2022-03-17 05:16] maplain commented on #13762
cc @serathius

[2022-03-17 08:57] boling-wang opened #13816 "client side host with a high cpu load if etcd cluster change leader"
### What happened?

We use golang client with version:3.3.27，etcd cluster version is 3.3.9. If the leader changed, cpu load of each client process will reach a high level on the client host. However, we also find if we use golang client with 3.3.10 there is no such issue.

### What did you expect to happen?

no high cpu load

### How can we reproduce it (as minimally and precisely as possible)?

g

[2022-03-17 10:23] serathius opened #13817 "Expect used E2e tests should return error if the called command fails andwas not expected to do so"
Follow up from https://github.com/etcd-io/etcd/pull/13792#discussion_r828965199

cc @kkkkun

[2022-03-17 10:27] serathius commented on #13762
I'm super familiar with v3.4 release, have you tried to reproduce it on latest release [v3.4.18](https://github.com/etcd-io/etcd/releases/tag/v3.4.18)

[2022-03-17 12:21] endocrimes commented on #13811
Those should be fixed on main by https://github.com/etcd-io/etcd/pull/13804 / https://github.com/etcd-io/etcd/pull/13806

[2022-03-17 12:23] pulnara opened #13818 "Getting "rpc error: code = Unavailable desc = error reading from server: EOF" when trying to create a new etcdv3 client"
I'm trying to access my ETCD database from a K8s controller, but getting rpc error/EOF when trying to open ETCD client.

My setup:
- ETCD service is deployed in my K8s cluster (its DNS record: `my-etcd-cluster.my-etcd-namespace.svc.cluster.local`)
- I have a custom K8s controller developed with use of Kubebuilder framework and deployed in the same cluster
- I'm trying to connect to ETCD database f

[2022-03-17 13:13] serathius commented on #13811
Closing based on comment above

[2022-03-18 08:56] phyxdown opened #13822 "jetcd watch become invalid after network isolation and compact"
### What happened?

5 members (A, B, C, D, E) encouter a network isolation： (A, B) is a group and (C, D, E) is another.
5 java process (a, b, c, d, e) are bonded responsibly to them, update & watch events from etcd member via jetcd.

a <-> A  |  C <->  c
b <-> B  |  D <->  d
-------- |  E <->  e

1. At first, A is the leader. After the isolation, C becomes the new leader.
2. About 2 minutes later,

[2022-03-18 13:49] kkkkun commented on #13817
It's  caused that `Expect` will returns the first line containing the given string.
https://github.com/kkkkun/etcd/blob/6e2fe84ebd354465b0adb3fb671c1eb38abdf1d7/pkg/expect/expect.go#L128

[2022-03-18 14:59] pulnara commented on #13818
Turned out to be version mismatch - my ETCD db is v3.5.2 and the clientv3 library that I used was v3.5.0.
![03_24_05](https://user-images.githubusercontent.com/28544728/159027149-036dfeb4-2675-486d-aeb6-6fbfa5dffc43.jpg)

[2022-03-18 15:00] #13818 closed

[2022-03-18 15:54] serathius commented on #13817
I think for running command line clients like `etcdctl` we should wait till binary exits.

[2022-03-18 16:48] kkkkun commented on #13817
collects but doesn't match logs.

Is it  necessary to add a function `Unexpect`, default Unexpect string container `Failed` or `Error`?

That's  good.

[2022-03-19 09:19] eval-exec commented on #13810
what is your `go version` and `go env`?

[2022-03-19 14:42] tskarman commented on #13810
The panics happens both on systems with and on systems without a Go installation. But I am guessing you are asking for a different reason, so I ran the commands you suggested on two of the affected systems that do have a Go installation:

System 1:

[code]

[code]

System 2:

[code]

[code]

I am flexible in regards to Go versions and can install other versions if that's needed.

[2022-03-19 15:16] eval-exec commented on #13810
Thank you.

[2022-03-19 15:17] mitake commented on #13805
@endocrimes Thanks for sharing it, I’ll check it.

[2022-03-19 15:59] #13468 closed

[2022-03-19 15:59] #13507 closed

[2022-03-19 15:59] #13502 closed

[2022-03-20 02:43] nic-chen commented on #13637
will continue with:
e2e/ctl_v3_lock_test.go
e2e/ctl_v3_watch_test.go
e2e/ctl_v3_watch_cov_test.go
e2e/ctl_v3_watch_no_cov_test.go

[2022-03-20 20:09] FireDrunk commented on #13648
After a lot of debugging, I found out that one of the SSD reported a load of 100% during only light load. After further investigation, it had service time over 100ms from time to time.

After installing 3 new write optimized SSDs, and reinstalling the cluster, eveything calmed down. It seemed that Etcd was intensely trying to mitigate the slow node.

Thanks all for the help!

[2022-03-20 20:09] #13648 closed

[2022-03-21 02:11] ZDWWWWW opened #13826 "Can etcd support fuzzy search？"
In my k8s project, I need to make fuzzy query on pod labels. I can't find relevant information on the Internet, so I want to know whether etcd can support fuzzy query.

[2022-03-21 03:24] kkkkun commented on #13775
Does Flag `experimental-memory-mlock`   need to track?

[2022-03-21 08:29] rakeshk121 opened #13827 "What are the best practices to get a good perfomance disk with least possible latency for ETCD?"
What are the best practices to get a good perfomance disk with least possible latency for ETCD?

As etcd is a consistent and highly-available key value store used as Kubernetes' backing store for all cluster data.
Im looking for best practices that can be applied to get the disk latency to least value so as to get a best perfomance disk for etcd.
Using SSD disks would get the best performace but i

[2022-03-21 10:17] serathius commented on #13826
No

[2022-03-21 10:17] #13826 closed

[2022-03-21 12:44] sanjitp commented on #13503
Hi
Any updates on this

[2022-03-21 15:20] nic-chen commented on #13637
hi @serathius,
I tried to migrate `ctl_v3_txn_test`, but I found it difficult to be compatible with both e2e and integration.

Because the cli commands like `version("key") < "0"` need to be converted to and from `Txn` and `Cmp`,
which is too complicated for testing, and we should use the original call to do it Tested rather than converted.

So I think maybe it shouldn't be migrated.

What is your

[2022-03-22 01:43] ZDWWWWW commented on #13826
thank you~

[2022-03-22 03:02] wilsonwang371 commented on #13766
do you have  any update  on this ?

[2022-03-22 09:35] serathius commented on #13637
Thanks for looking into this. Please skip the `ctl_v3_txn_test` for now. I will take a look and see what we can do.

[2022-03-22 11:21] sanjitp commented on #13503
Hi
Could you please provide the solution to the above queries as it is blocking many applications releases and this issue is highly escalated and customers are expecting the Root cause analysis for this data inconsistency in ETCD

[2022-03-23 01:02] QiuToo opened #13833 "error verifying flags, 'Restart=on-failure' is not a valid flag. See 'etcd --help'"
[root@two-master1 ~]# cat  /etc/etcd/etcd.conf
#[Member]
ETCD_NAME="etcd1"
ETCD_DATA_DIR="/var/lib/etcd/default.etcd"
ETCD_LISTEN_PEER_URLS="https://192.168.2.101:2380"
ETCD_LISTEN_CLIENT_URLS="https://192.168.2.101:2379,http://127.0.0.1:2379"
#[Clustering]
ETCD_INITIAL_ADVERTISE_PEER_URLS="https://192.168.2.101:2380"
ETCD_ADVERTISE_CLIENT_URLS="https://192.168.2.101:2379"
ETCD_INITIAL_CLUSTER="et

[2022-03-23 06:36] ahrtr commented on #13503
Most likely you are running into the same issue as [11651](https://github.com/etcd-io/etcd/issues/11651). You can double check the values of `authRevision`, `consistent_index` and `term` using the tool `etcd-dump-db`.

I just submitted a PR [pull/13834](https://github.com/etcd-io/etcd/pull/13834) to enhance the print format.

The issue [11651](https://github.com/etcd-io/etcd/issues/11651) has alre

[2022-03-23 09:34] Joseph94m commented on #13632
bump ?

[2022-03-23 10:24] serathius commented on #13833
This is an error in your systemd configuration, not an bug in Etcd.

[2022-03-23 10:24] #13833 closed

[2022-03-23 11:44] serathius commented on #13766
There is some performance overhead expected fro running it, I would recommend it to run every couple of hours.

[2022-03-23 11:57] serathius commented on #13766
I'm still investigating the data corruption issues that were reported for v3.5 and were not reproduced. Based on this issue I have been looking if https://github.com/etcd-io/etcd/pull/13505 could be the case of them. I would like to confirm that we can reproduce data corruption on v3.5.0 by triggering case from https://github.com/etcd-io/etcd/pull/13505 to then verify that v3.5.2 has fixed the dat

[2022-03-23 16:00] endocrimes commented on #13789
[code]

Looks like this one might be tricky to repro - at least in isolation

[2022-03-23 17:14] lavacat commented on #13780
This flag was introduced here https://github.com/etcd-io/etcd/pull/12448
@agargi do you have time to track this feature to next stage (see https://github.com/etcd-io/etcd/issues/13775)?

"Stages: experimental -> optional -> default and also deprecated if we plan to remove it."

[2022-03-23 17:17] lavacat commented on #13782
This flag was introduced here https://github.com/etcd-io/etcd/pull/12941

[2022-03-23 17:23] lavacat commented on #13778
This flag was added here https://github.com/etcd-io/etcd/pull/10524
@MartinWeindel do you have time to track this feature to next stage (see https://github.com/etcd-io/etcd/issues/13775)?

"Stages: experimental -> optional -> default and also deprecated if we plan to remove it."

[2022-03-23 17:29] lavacat commented on #13585
I'll try to reproduce this
/assign

[2022-03-23 17:51] wilsonwang371 commented on #13766
We found data inconsistency in our internal etcd cluster. This was found in 3.4 but this is happening more often after we start using 3.5 which has a better performance.

When this happens, a solution would be take down the error node for some time and bring it back again later. This will force the data resync inside the cluster and the problem will be gone.

However, when this happens, no alert o

[2022-03-23 23:10] ahrtr commented on #13585
Thanks  @lavacat , but it seems that the test file ctl_v2_test.go is gone.

Feel free to pick up another issue to work on.

[2022-03-23 23:10] #13585 closed

[2022-03-24 02:51] #13822 closed

[2022-03-24 06:16] PaulFurtado commented on #13766
We encountered this corruption in one kube etcd cluster running etcd 3.5.1 yesterday morning and then upgraded all of our clusters to 3.5.2 today because we were going to be doing a rolling-restart of the kube api servers, which causes dangerously high memory spikes on etcd.

We faced etcd OOMs in two of our clusters when performing this rolling update. Both of those etcd clusters were running 3.5

[2022-03-24 09:59] serathius commented on #13766
Thanks @PaulFurtado sharing, this is hugely informative. There are 3 important pieces of information:
* Corruption issues are still present in v3.5.2
* Corruption check cannot detect them
* We know under what circumstances issue can be reproduced.

I will look into reproducing this myself, couple of questions about corruption check. It is possible that corruption check run, but don't report an iss

[2022-03-24 18:47] maplain commented on #13762
is there a fix that goes in v3.4.18?

[2022-03-24 21:04] PaulFurtado commented on #13766
@serathius sorry, I had mentioned the `--experimental-corrupt-check-time` flag, but I actually meant the `--experimental-initial-corrupt-check` flag. When we believed it to be corrupt, we enabled the flag and this is what was logged upon restart:
[code]

We have never experienced this issue with 3.4.x (or if we did, it must have been extremely subtle and never caused us pain). Under 3.4.x we exper

[2022-03-25 05:58] tskarman commented on #13810
Thank you all! :-)

[2022-03-25 06:47] chaochn47 commented on #13766
I ran a cluster with 3 distributed etcd node in a kubernetes 1.22 cluster. At the same time, generating load from a standby node using benchmark put, range and txn-mixed. The 3 node keeps oom_reaped, recovered from the local disk and the revision is monotonically increasing across the cluster.

[2022-03-25 10:49] serathius commented on #13766
I think I found reproduction, it was surprisingly easy when I knew where to look. Based on @PaulFurtado I looked into simulating highly stressed etcd and sending SIGKILL signal to members one by one. When looking into our functional tests I found it very strange that we don't already have such test. We have tests with SIGTERM_* and SIGQUIT_AND_REMOVE_FOLLOWER, however we don't just test if databas

[2022-03-25 14:07] yankay commented on #13827
HI @rakeshk121 , the question may be answered in the https://app.slack.com/client/T09NY5SBT/C3HD8ARJ5/thread/C3HD8ARJ5-1647851939.693229.

The OpenShift Docs give us suggestion at: https://docs.openshift.com/container-platform/4.7/scalability_and_performance/recommended-host-practices.html#recommended-etcd-practices_

And the Etcd Docs is at:  https://etcd.io/docs/v3.5/tuning/#disk

[2022-03-25 14:12] PaulFurtado commented on #13766
@serathius great job, thanks!

As for why the corruption check may not have worked for us: when we believed that etcd was corrupt, we restarted the processes, defragmented, then restarted again and tried turning the corruption check on. I'm wondering if the defragment effectively took the corrupt data and committed it as good data?

[2022-03-25 14:35] AbsurdlySuspicious commented on #9417
`etcdctl endpoint status --cluster` doesn't show any useful info if all your endpoints are localhost. It seems a bit unreliable to me if using v2 api is the only properly working way to check current leader

[2022-03-25 15:40] serathius commented on #13766
Finding the root cause will be tricky so I'm uploading logs and data from cluster if anyone wants to follow along.

[2022-03-25 16:16] lavalamp opened #13839 "Proposals should include a merkle root"
In response to #13766 and past issues that get into the same condition:

It is possible for etcd to get into a condition where the databases on different replicas have different contents, **and then proceed committing changes**. There have been other routes to this in the past. I don't think it's possible to prevent all db corruption issues, but it is certainly possible to make etcd stop and recov

[2022-03-25 16:17] lavalamp commented on #13766
It is extremely bad that etcd can get into this state *and then continue*. I have written about one way to fix this in #13839.

[2022-03-25 16:19] lavalamp commented on #13839
cc @jpbetz, whom I've tried to sell on this in the past :)

[2022-03-25 17:11] serathius commented on #13839
Yep, I have pointed to problem of this issue going stale in https://github.com/etcd-io/etcd/issues/13775 and wanted to propose implementing https://github.com/etcd-io/etcd/issues/10893 as part of graduation of corruption check in https://github.com/etcd-io/etcd/issues/9190

Let's abovid tracking same issue in multiple places. @lavalamp do you want to propose implementing merkele trees as graduatio

[2022-03-25 17:19] lavalamp commented on #13839
That sounds great to me! How do I do that?

[2022-03-25 17:38] ptabor commented on #13839
+1.  Piece for consideration is whether:
  a) merkle tree should be integrated into bbolt, i.e. we can reliably ask bbolt at each transactional state about it's checksum.  This would guarantee bbolt level consistency and is probably the strongest option of physical consistency we can get... but requires impacting the data-storage format and might have biggest performance impact.

  b) we somehow a

[2022-03-25 17:44] serathius commented on #13839
Just leave a comment on https://github.com/etcd-io/etcd/issues/9190

[2022-03-25 17:56] lavalamp commented on #13839
re: a): I do not think it is a good idea to do this in the storage layer, since it has a bunch of stuff that is irrelevant to the state of the db at a given revision. (e.g., it depends on what has been compacted.) We should not make the etcd replicas hash computation depend on anything historical; it should be stateless, purely a function of the db state at a given revision. That permits e.g. effi

[2022-03-25 17:57] lavalamp commented on #9190
Can we make checking a merkle root part of the graduation criteria? See discussion in: https://github.com/etcd-io/etcd/issues/13839

[2022-03-25 17:58] lavalamp commented on #13839
OK I commented there, if that's sufficient we can close this.

[2022-03-25 18:10] serathius commented on #13839
Based on discussion looks like implementing the merkle tree is not trivial, so I think we can continue the discussion on the design.

[2022-03-25 18:53] wilsonwang371 commented on #13766
btw, there could be several different factors that can trigger this data inconsistency issue. They are not necessarily the same root cause. With 3.5.2, i didn't get complaints from our internal SRE team anymore about the data inconsistency. So the one that we fixed in 3.5.2 might be only one of the data inconsistency issues.

[2022-03-25 23:22] serathius commented on #13766
git bisect has lead me to https://github.com/etcd-io/etcd/commit/50051675f9740a4561e13bc5f00a89982b5202ad being the root cause. It's not 100% sure as reproduction has some flakiness.

[2022-03-26 00:29] serathius commented on #13766
Send https://github.com/etcd-io/etcd/pull/13840 with one idea to fix the corruption.

[2022-03-26 01:59] pzheng1025 commented on #6518
Hi all,

Read through the thread. I have a question.
If I run a put request to update a key and receive a `PutResponse`, can I assume that the revision in response header is always equal to the mod_revision of this key if there is no future update on that key?

In another way, is it possible that etcd receives a put request, current global revision is 1 so key's mod_revision will be 1 + 1 = 2, how

[2022-03-26 02:23] pzheng1025 commented on #6518
After check the source code, looks like the assumption is correct. Please correct me if I am wrong.

[2022-03-26 04:44] ahrtr commented on #13766
When a PUT starts, both the transaction and store are locked, see [kvstore_txn.go#L134-L136](https://github.com/etcd-io/etcd/blob/dcc226491f4e213fa09f4606a998ea387ea28ed9/server/storage/mvcc/kvstore_txn.go#L134-L136); and when it's finished, both of them are unlocked, see [kvstore_txn.go#L175-L179](https://github.com/etcd-io/etcd/blob/dcc226491f4e213fa09f4606a998ea387ea28ed9/server/storage/mvcc/kv

[2022-03-26 16:44] liuycsd commented on #13766
Thanks a lot for reproducing and checking for the root cause.

Sorry for later response.
I didn't see the inconsistency on that cluster after upgrading:
I restored all those 3 member nodes with a snapshot backup from one member, upgraded them from v3.5.1 to v3.5.2 and enabled hourly `--experimental-corrupt-check-time` about one week ago. Yesterday I checked it again and didn't see the revision inc

[2022-03-26 18:47] nomorer opened #13841 "etcd v3.4.13 compact failed after defrag"
### What happened?

I am running etcd V3.4.13 as cluster used by a large K8s Cluster, which db size over 4GB.
Etcd compaction is triggered by the api-server every 5min by default.

Why sometimes  "finished scheduled compaction"  is not showing up in etcd's log , after then Etcd request latencies increases (over 1s) when compacting
<img width="741" alt="image" src="https://user-images.githubusercon

[2022-03-26 18:49] nomorer commented on #13794
@tangcong

[2022-03-27 02:41] xiang90 commented on #13839
@ptabor @serathius

Thought about this a long time ago. Never got time to implement though :P

Step 1
- enable the check hash at startup time. The full state scan is always the least error-prone and safest compared to other incremental approaches (Markle tree or snapshot+linage, for example). Delay the startup seems to be OK from a performance/latency perspective.

Step 2
- storage and piggyback c

[2022-03-27 02:48] xiang90 commented on #13839
A related topic - we should keep the practice of running failure injection tests before any minor releases. (maybe we still do this today?) We used to run at least 3 clusters for about 1 month. It almost always catches inconsistency bugs :P.

[2022-03-27 05:28] ahrtr commented on #13766
Another potential issue is the `OnPreCommitUnsafe` saves both `consistent_index` and `term` sequentially, see [cindex.go#L70-L81](https://github.com/etcd-io/etcd/blob/be2929568f81080b20ef6812992f2e09c8dac91b/server/storage/schema/cindex.go#L70-L81).  But another goroutine may set both fields at the same time concurrently, see [server.go#L1764-L1765](https://github.com/etcd-io/etcd/blob/be2929568f8

[2022-03-27 07:46] qmloong opened #13842 "A rookie question but really confused me"
I really want to know what the effect of this variable..

https://github.com/etcd-io/etcd/blob/be2929568f81080b20ef6812992f2e09c8dac91b/server/embed/serve.go#L64

It will be closed just after writing the item into it..

writing at:  https://github.com/etcd-io/etcd/blob/be2929568f81080b20ef6812992f2e09c8dac91b/server/embed/serve.go#L196
closed at:  https://github.com/etcd-io/etcd/blob/be2929568f810

[2022-03-27 15:09] nomorer commented on #13841
@tangcong

[2022-03-28 06:40] kkkkun commented on #13798
PRs have been merged.
Close this.

[2022-03-28 06:41] #13798 closed

[2022-03-28 06:52] chaochn47 commented on #13514
Thanks @ptabor for calling this out in the "3.5 inconsistency issue" email thread !!!!

This issue looks worrying that makes 3.5.x rollback a risky operation. I've got a reproduction (manual testing)[reproduction.log](https://github.com/etcd-io/etcd/files/8360244/reproduction.log) after following the provided description from @moonovo .
[code]

To answer your question @moonovo

The lagging-behind

[2022-03-28 07:46] ch0ngsheng opened #13845 "Why is the check within func Mutex.Lock() needed after Txn committing?"
https://github.com/etcd-io/etcd/blob/be2929568f81080b20ef6812992f2e09c8dac91b/client/v3/concurrency/mutex.go#L78

After Txn is commited, `getOwner` should return exactly one KV and `len(ownerKey)`should equals to 1. Because if `cmp` is true, we will `put` one into it within the same txn.

So, in which case we will have `len(ownerKey)` equals to 0?

The relevant PR is https://github.com/etcd-io/etc

[2022-03-28 08:05] tomskikh opened #13846 "etcdctl make-mirror doesn't work when RBAC enabled and user doesn't have read permissions of key "foo""
### What happened?

I enabled RBAC, added role and user, granted read permission on prefix and tried to make mirror of that prefix. `etcdctl make-mirror` failed with `permission denied`.

### What did you expect to happen?

`etcdctl make-mirror` works.

### How can we reproduce it (as minimally and precisely as possible)?

On cluster A:
1. Add a role (`somerole`) with read permission to a prefix (

[2022-03-28 19:08] jpbetz commented on #13839
+1. I vague remember that on of the inconsistency bugs we found a few years back we improved the injection testing to check for failure around some of the restart functionality as a way of trying to prevent future occurrences of that class of issue.

[2022-03-29 02:36] didihongsheng commented on #13654
this issue only appear once when the k8s's control plane crash ，then I remove the problematic member and delete its datadir ,and member add it back

[2022-03-29 02:39] didihongsheng commented on #13654
the version before 3.5 is 3.3，we update 3.3 to 3.4, then 3.4 to 3.5,  I didn't  meet with problems  .

[2022-03-29 02:40] didihongsheng commented on #13587
yes，I replace the disk to ssd.

[2022-03-29 02:56] didihongsheng opened #13848 "Enhance `--force-new-cluster` to support rebuilding single-member cluster from a removed member"
### What happened?

in a three member cluster, I remove one ,and then I start it by set --force-new-cluster=true, the server panic as below:

`{"level":"info","ts":"2022-03-29T02:27:21.410Z","caller":"rafthttp/pipeline.go:85","msg":"stopped HTTP pipelining with remote peer","local-member-id":"13b41e9f910ab835","remote-peer-id":"14108607b609f3fa"}
{"level":"info","ts":"2022-03-29T02:27:21.410Z","ca

[2022-03-29 11:12] moonovo opened #13849 "health check with client-cert-auth enabled"
### What happened?

when client-cert-auth enabled, heath check failed.
logs:
[code]

### What did you expect to happen?

health check is successful.

### How can we reproduce it (as minimally and precisely as possible)?

Set the ETCD_CLIENT_CERT_AUTH environment variable to true.

k8s livessnessProbe:
[code]

### Anything else we need to know?

_No response_

### Etcd version (please run commands

[2022-03-29 11:49] serathius commented on #13849
As I mentioned in https://github.com/etcd-io/etcd/pull/13706#issuecomment-1081771169, the goal of `client-cert-auth` is to require client certificates.

[2022-03-29 12:04] moonovo commented on #13849
Yes, want to use
[code]
instead
[code]

[2022-03-29 12:24] paperqqq opened #13850 "v3 api returns 404 when use etcd grpc proxy"
### What happened?

etcd Version: 3.5.0
Go Version: go1.12.9
Go OS/Arch: linux/amd64

1、when I start etcd grpc proxy, I use etcdctl ./etcdctl --endpoints=http://162.166.93.222:30380 put abc 123 returns OK
2、However, when I start etcd with a config file （yml） which is empty, it started normally, but /v3/kv/put returns 404:
curl -X POST http://localhost:23790/v3/kv/put 404 page not found
3、In additi

[2022-03-29 15:29] Teja327r opened #13851 "Non-error logs poured into stderr"
### What happened?

Non-error , info related logs are coming in stderr stream instead of stdout stream.

### What did you expect to happen?

Non-error and info related logs coming into correct path. i.e stdout.

### How can we reproduce it (as minimally and precisely as possible)?

we can check info messages coming in stderr stream.

### Anything else we need to know?

_No response_

### Etcd vers

[2022-03-29 17:54] lavacat commented on #13851
I think this was answered [here](https://github.com/etcd-io/etcd/issues/4052#issuecomment-166898533)

and [here](https://github.com/etcd-io/etcd/issues/9179#issuecomment-363557292)

[2022-03-29 23:25] ahrtr commented on #13514
Please refer to discussion in [pull/13844](https://github.com/etcd-io/etcd/pull/13844) and [issues/13766](https://github.com/etcd-io/etcd/issues/13766)

[2022-03-30 01:19] lavacat commented on #13841
Are you running with --experimental-backend-bbolt-freelist-type=hashmap?
If yes, there is a bug that causes reset of bolt db options after defrag

https://github.com/etcd-io/etcd/pull/13713

[2022-03-30 02:20] yishuT opened #13853 "client Sync should exclude learner endpoint"
### What happened?

We see `etcdserver: rpc not supported for learner` error from clients with AutoSync enabled.  https://github.com/etcd-io/etcd/blob/main/client/v3/client.go#L188 here does not exclude learner endpoint

### What did you expect to happen?

Either requests are not sent to learner endpoints only or learner endpoints proxy requests to non learner member

### How can we reproduce it (

[2022-03-30 05:25] #13510 closed

[2022-03-30 05:25] #13520 closed

[2022-03-30 08:12] serathius commented on #13851
@lavacat thanks for context.

[2022-03-30 08:12] #13851 closed

[2022-03-30 08:18] serathius commented on #13839
+1 for more failure injection testing. Unfortunately depending on manual testing leads to inconsistency in release qualification, we need to invest more into automation. I'm planning to write a public postmortem that will go into actions we should make to prevent such issues in the future.

[2022-03-30 08:39] lavacat commented on #13848
I was able to reproduce this on the latest release-3.5 branch.

Run example 3 node cluster `goreman -f Procfile start`
remove one member `./bin/etcdctl member remove 8211f1d0f64f3269`

start it again with command from Procfile + --force-new-cluster
`./bin/etcd --name infra1 --listen-client-urls http://127.0.0.1:2379 --advertise-client-urls http://127.0.0.1:2379 --listen-peer-urls http://127.0.0.1:

[2022-03-30 09:03] serathius commented on #13853
There is a PR in flight https://github.com/etcd-io/etcd/pull/13837

[2022-03-30 10:25] mootezbessifi commented on #13794
I used to monitor my etcd for a couple of days  so kindly you can see below the RTT dashboard as well as the IO disk for WAL commit and backend commit:

<img width="1700" alt="Screen Shot 2022-03-30 at 1 22 56 PM" src="https://user-images.githubusercontent.com/5040743/160810587-5383bbfc-a2c5-45bd-bb40-2312566f72b9.png">

<img width="1727" alt="Screen Shot 2022-03-30 at 1 23 34 PM" src="https://use

[2022-03-30 10:57] liuycsd commented on #13766
I started that cluster with the broken data again, with `ETCD_EXPERIMENTAL_INITIAL_CORRUPT_CHECK`=true and `ETCD_EXPERIMENTAL_CORRUPT_CHECK_TIME`=10m to see whether it could detect the corruption. But it didn't:
It just reports `mvcc: required revision is a future revision` in logs and `etcdctl alarm list` gives empty result.

grep corrupt.go on node x
[code]
grep corrupt.go on node y
[code]
grep

[2022-03-30 11:40] serathius commented on #13766
This shows a flaw in current implementation of corruption check, we cannot verify hashes if members revisions differ to much. So if the corruption happen long before check was enabled we are not able to detect the corruption.

[2022-03-30 11:43] michaljasionowski commented on #13514
Thanks @chaochn47, that was very helpful. I managed to reproduce it as well
[code]
and also initial corruption check passed
[code]

[2022-03-30 15:35] liuycsd commented on #13766
Thanks for your explanation.

[2022-03-30 18:59] ahrtr opened #13855 "The test TestLeaseGrantAndList isn't stable"
Sometimes it passes, but sometimes it fails. Use commands below to reproduce the issue.

[code]

Error log:
[code]

cc @endocrimes @kkkkun @serathius

[2022-03-31 05:27] rahulbapumore commented on #13503
Hi @ahrtr ,
We have seen one more data inconsistency issue and cause is different and we think its similar to https://github.com/etcd-io/etcd/issues/11651. You said this was fixed in 3.4.8 and we are using 3.4.16 etcd version still we are facing this issue.

[{"Endpoint":"https://localhost:2379","Status":{"header":{"cluster_id":2104678578865624298,"member_id":4962605495301377754,"revision":1306,"r

[2022-03-31 08:13] ptabor commented on #13766
liuycsd@ thank you - that's a valid hole.

At the same time we cannot 'blindly' assume `mvcc: required revision is a future revision` means that there is inconsistency.  It might happen that the remote server has not yet applied all transactions from the RAFT/Wal log and is lagging.
In normal read paths etcd deal with this issue by 'linear reads`, i.e. before sending response to any inquery, local

[2022-03-31 09:17] zhangtong007 opened #13859 "I have a problem with file descriptors and need to confirm if there is any impact on the business."
![image](https://user-images.githubusercontent.com/91560756/161020791-3905d727-fa72-4c99-b229-05a648c29947.png)

As shown in the following figure, the etcd server prints the warn log: The descriptor reaches 80% of the upper limit.
In this case, my old business (etcd client) works fine. However, the context deadline exceeded error is reported when the new service connects to the etcd.
At the same t

[2022-03-31 11:08] #13841 closed

[2022-03-31 11:57] nomorer commented on #13841
yes.
compare to before,  latency slow down significantly during compactions after the PR merged.
but etcd compaction is still abnormal, it doesn't print "finished scheduled compaction"

[2022-03-31 12:47] shalinmangar commented on #13766
Reading the explanation at https://github.com/etcd-io/etcd/issues/13766#issuecomment-1079843692 and https://github.com/etcd-io/etcd/issues/13766#issuecomment-1080632932, it sounds like this bug is triggered only when:
1. A commit succeeds between an apply operation
2. The apply operation had multiple transactions
3. The apply operation could not complete because the etcd process crashed or it was

[2022-03-31 15:47] dazmc opened #13863 "etcdctl or etcdutl that is the question (shakespeare)"
On the [v3.5 restore a cluster](https://etcd.io/docs/v3.5/op-guide/recovery/#restoring-a-cluster) page it has `etcdutl` as the command to use for restore

When you run etcdctl to do a restore
`sudo ETCDCTL_API=3 ./etcdctl.....`
**it says**
`"Deprecated: Use etcdutl snapshot restore instead."`

However on [v3.6 restore a cluster](https://etcd.io/docs/v3.6/op-guide/recovery/#restoring-a-cluster) pag

[2022-03-31 17:08] shalinmangar commented on #13766
Does anyone have ideas on how to build a better corruption check? Where should I start if I am interested in spending some time on this?

[2022-03-31 17:12] lavalamp commented on #13766
Yes, see https://github.com/etcd-io/etcd/issues/13839

[2022-03-31 18:59] lavacat commented on #13859
The warning is doing what it's supposed to do. It checks `/proc/self/fd`
https://github.com/etcd-io/etcd/blob/release-3.4/pkg/runtime/fds_linux.go#L32

Your limit 1024 seams very low. Please read operations [guild](https://etcd.io/docs/v3.5/op-guide/hardware/) for recommended hardware.

Unfortunately its difficult to help you without having access to your system. Please close this issue.

[2022-03-31 21:57] ahrtr commented on #13766
Agree, the current corruption check actually has flaw, please read [comment](https://github.com/etcd-io/etcd/issues/13766#issuecomment-1083033017).

[2022-04-01 01:50] zhangtong007 commented on #13859
![image](https://user-images.githubusercontent.com/91560756/161178916-4fadf330-f557-4223-b9a4-e0fcd7416017.png)
Oddly, I run the ulimit -n command on the device to check the limit. The displayed limit is 65536.

[2022-04-01 02:04] zhangtong007 commented on #13859
The cause of the problem is confirmed. During the startup of the etcd server process, the ulimit is set at the process level. Therefore, the setting of the VM is not used.

[2022-04-01 11:28] michaljasionowski commented on #13514
This the script I used for reproduction: [upgradedowngrade.log](https://github.com/etcd-io/etcd/files/8397249/upgradedowngrade.log). It sets 3 ariables at the beginning that have to be updated

[2022-04-01 13:34] kkkkun commented on #13863
Thanks
Duplicated  https://github.com/etcd-io/website/issues/382

In 3.6， we should use `etcdctl save ...` and  `etcdutl restore/status ...`. it updated in https://github.com/etcd-io/etcd/blob/main/etcdutl/README.md.

[v3.6 restore a cluster](https://etcd.io/docs/v3.6/op-guide/recovery/#restoring-a-cluster) still no update.

I will commit PR to update this.

[2022-04-01 17:00] lavalamp commented on #13839
Automated testing is good, but the problem is not just etcd bugs that are outside of our hypothesis space (which already testing is iffy at finding) -- it's actually not even sufficient for etcd code to be 100% correct. I'm thinking in particular about RAM, disk, or network-based corruption. The real task is to have the replicas arrive at the same state in the face of this kind of error.

[2022-04-02 06:37] paperqqq commented on #13850
curl -X POST http://localhost:23790/v3/kv/put  -d '{"key": "Zm9v", "value": "YmFy"}'  return  404 page not found.
Is the Etcd Grpc Proxy HTTP listening only to these URIs?
![image](https://user-images.githubusercontent.com/7719473/161370310-c75bc62f-528e-41e5-bbb8-f1c4b3731436.png)

[2022-04-02 07:33] DavidLiuXh opened #13871 "If the revision in the RangeRequest executed in the txn is -1, the current txn will fail: return mvcc.ErrCompacted"
https://github.com/etcd-io/etcd/blob/b1610934e3b854df22ec802989df7257a219fae0/server/etcdserver/apply.go#L1107

If the revision in the RangeRequest executed in the txn is -1, the current tx will fail: return mvcc.ErrCompacted

[2022-04-02 14:00] ptabor opened #13873 "Flake: Data race to verify"
[code]

[2022-04-02 20:46] ahrtr commented on #13873
I ran into the same issue exactly. The `applySnapshot` may reset the `backend`, and depends on [bemu](https://github.com/etcd-io/etcd/blob/3d3c4373e3a4b029bd266afce307e69e3e399470/server/etcdserver/server.go#L259) to exclusively access the `be`. But some other goroutines do not acquire the lock before accessing the lock.

It seems that we need a `RWMutex`, the `applySnapshot` needs to acquire the

[2022-04-02 21:02] ahrtr commented on #13873
I will try to deliver a PR for this.

[2022-04-02 22:14] #13863 closed

[2022-04-03 09:47] ptabor opened #13877 "Flakes: TestLeaseGrantAndList/.../many_leases"
https://github.com/etcd-io/etcd/runs/5804919674?check_suite_focus=true

[code]

[2022-04-03 16:39] #13529 closed

[2022-04-04 02:55] dotbalo opened #13879 "The etcd(v3.5.2) process often causes the server's iowait to become high"
### What happened?

I deployed a k8s cluster with three master nodes and 15 worker nodes.This cluster runs about 367 nginx pods, just for testing.There are also three etcd nodes to form a cluster. etcd and apiserver are deployed on the same node.Recently, it is often found that the iowait of the master node has become high, and it can be restored to normal after restarting etcd.If I don't restart

[2022-04-04 05:31] rahulbapumore commented on #13503
Hi @ahrtr ,

[2022-04-04 11:31] #13873 closed

[2022-04-04 16:19] serathius commented on #13877
This should be fixed by https://github.com/etcd-io/etcd/pull/13868#event-6364291795

[2022-04-05 05:09] rahulbapumore commented on #13503
Hi @ahrtr ,
Any updates on last comment

[2022-04-05 08:31] ptabor opened #13883 "AuthStore::Recover is not invalidating caches."
### What happened?

No repro in practice yet attempted. Adding FTR.

The method:
https://github.com/etcd-io/etcd/blob/a08d479463960948d5d9c3508623ade915c6e66f/server/auth/store.go#L374

is used when a new snapshot is received over raft (e.g. server was lagging).

The method is not invalidating:
https://github.com/etcd-io/etcd/blob/a08d479463960948d5d9c3508623ade915c6e66f/server/auth/store.go#L237

[2022-04-05 10:08] zeu5 commented on #13608
You need to call `storage.Append(Entries)` before calling advance. The error originates from the storage not having the entries raft is looking for.

[2022-04-05 20:07] chaochn47 opened #13889 "[area/questions] Make default snapshot-count 10k"
I am wondering if etcd should make `snapshot-count` to be `10k` because it is recommended in kubernetes to set this as `10k`. https://github.com/kubernetes/kubernetes/pull/100475#issuecomment-804863559

I cannot explain why etcd uses higher default value `100k` and kubeadm `snapshot-count` default value is `10k`. Production set up typically does not have slow follower availability concerns and fun

[2022-04-06 06:41] zhangtong007 opened #13891 "Ask for help on cluster deployment of etcd containers"
![image](https://user-images.githubusercontent.com/91560756/161911107-a393e9e6-5e3c-4f66-bd3d-e5cff58a6ddd.png)

I use Helm to deploy an etcd cluster and check the endpoint status it is found that the leader is frequently selected. I'm not sure what happend

![image](https://user-images.githubusercontent.com/91560756/161911633-f5aebb95-8dda-483a-8724-ea16adb9c96f.png)
There seems to be no valid in

[2022-04-06 11:52] serathius commented on #13667
@ckaminski any updates?

[2022-04-06 12:14] serathius commented on #13766
@ptabor should we plan some improvement to inconsistency checking for v3.5.3 release? I would want to make the check more reliable, however I'm not sure if there is enough room for improvement so we can backport to v3.5.

[2022-04-06 12:21] serathius opened #13894 "Plans for v3.5.3 release"
Same as previous release https://github.com/etcd-io/etcd/issues/13518. let's agree what work should be included in release and track the work. The list presented below will be evolving as community decides to cut/include some fixes.

Issues/PRs that should be included for v3.5.3:

* [x] Qualify the release after all cherry-picks are done
  * [x] Run scripts used for reproduction of data inconsiste

[2022-04-06 12:22] serathius commented on #13894
cc @ptabor @ahrtr @spzala

[2022-04-06 12:49] mrueg commented on #13894
@serathius not sure if you want to add https://github.com/etcd-io/etcd/pull/13895 as well.

[2022-04-06 14:39] serathius commented on #13514
I have been looking into this issue and found a strange behavior, looks like etcd v3.5.2 upon restart reapplies entries. Each restart results in etcd reapplying the last entry. I have simplified the script provided by @michaljasionowski
 [script.txt](https://github.com/etcd-io/etcd/files/8427001/script.txt)

If we look at data dir of:

* WAL is identical between all instances
[code]
* Corrupted et

[2022-04-06 15:08] serathius opened #13896 "Improve contributor experience with CI"
* In CONTRIBUTING.md, list scripts in scripts/ that a first-time contributor would need (and what they're for). Or - have a short explanation at the top of each script which briefly says what it's for. (Doesn't have to be a full usage guide, just "Updates license information in modules and submodules. CI checks that running this causes no changes." would go a long way)
* For CI failures, suggest t

[2022-04-06 15:18] mitake commented on #13883
@ptabor Thanks for figuring out this. I'll try to reproduce and analyze related code this weekend.

[2022-04-06 15:31] serathius commented on #13514
Looks like corruption happens before the restart, restarting just causes etcd to reapply the entries. `consistent_index` in db equals `9`, which is WAL entry before `put foo bar`, however looks like the apply was already executed. The `foo` = bar` is already present in key bucket.
[code]

[code]

[code]

[2022-04-06 15:32] serathius commented on #13514
cc @ahrtr

[2022-04-06 23:09] ahrtr commented on #13894
I think we need [13838](https://github.com/etcd-io/etcd/pull/13838) as well, because it will make the reproduction of the data inconsistency issue easier.

[2022-04-06 23:16] ahrtr commented on #13503
Thanks @rahulbapumore for the info. Have you performed the the [workaround](https://etcd.io/docs/v3.5/op-guide/data_corruption/) previously after upgrading to 3.4.16? Please note that I am asking you to perform the workaround now!

The reason why I ask this is I need to understand whether the issue was carried over from old version to 3.4.16 or the issue is still reproducible on 3.4.16.

[2022-04-07 07:20] zhangtong007 commented on #13891
![image](https://user-images.githubusercontent.com/91560756/162141801-2c2cba69-0309-49a4-a8c7-5a6a8791ad58.png)

It is not an ETCD deployment issue. I find that the reason for the frequent leader selection is that the bound member ID changes continuously when the node IP access is used. If you access it through a pod IP, it does not change. It's supposed to be something done through the k8s.

[2022-04-07 07:20] #13891 closed

[2022-04-07 07:30] serathius commented on #13894
Hey @ahrtr, It would be great to have automatic way to prevent data inconsistencies in the future, however this is not required immediate release. https://github.com/etcd-io/etcd/pull/13838 includes changes that might negatively impact overall stability of functional tests making it hard to merge. I don't plan to make this code mergeable, to avoid investing to much time into functional testing as

[2022-04-07 07:31] ptabor commented on #13896
`make test-smoke` and `make test-full` are short cut's for O(1min) feedback and full feedback comparable with github presubmits respectively.

[2022-04-07 09:08] lavacat commented on #13855
I'll give this a shot
/assign

[2022-04-07 10:26] serathius commented on #13514
The cause of corruption is https://github.com/etcd-io/etcd/blob/451ea5406edff59c1c881833ed7ba32cb9253f01/server/storage/schema/cindex.go#L66-L69

Outdated term field (caused by downgrade) results in etcd applying the record without updating CI. The case is artificial because downgrades are not officially supported, but this brought up two issues that are not related to downgrades. Still thinking w

[2022-04-07 10:46] aryabchenko commented on #13755
Yep, you are right and sorry, It was kops issue, it couldn't find a reallocated bucket until I updated cluster with new version of kubernetes with kops, so it changed its internal config to the correct location.

[2022-04-07 11:37] serathius commented on #13514
Looks like both issues were introduced here https://github.com/etcd-io/etcd/pull/12855#commitcomment-70713670 when we merged migrator CI update logic with apply one.

[2022-04-07 12:20] #13766 closed

[2022-04-07 12:27] rahulbapumore commented on #13503
Hi @ahrtr ,
When we installed microservice with etcd 3.3.11 that time data inconsistency issue was not there and everything was working fine.
After upgrading to microservice with etcd 3.4.16 , we went into data inconsistency issue and revisions were different.
From this we can say right that issue existed in 3.4.16 as well.
After applying workaround issue will be resolved , so what exactly want us

[2022-04-07 12:29] ptabor commented on #13514
Intuitively applyEntries should get never executed if we are in the wrong term.
Applies should happen only up to the last 'HardState' found in the WAL log and it should determine whether entry is a subject to apply or not.
So I think it's harmful defense in depth, but will need to deeper dive from the original logic from pre-refactoring to confirm.

[2022-04-07 18:38] chaochn47 commented on #13889
https://docs.google.com/document/d/16XEGyPBisZvmmoIHSZzv__LoyOeluC5a4x353CX0SIM/edit#

[2022-04-07 19:12] #13514 closed

[2022-04-07 20:45] riyazcom commented on #13894
@serathius  is it possible to include [#13460 ](https://github.com/etcd-io/etcd/pull/13460) "Support multiple values for allowed client and peer TLS identities"

[2022-04-07 21:05] serathius commented on #13894
@riyazcom Even though not supporting multiple client & peer TLS identities is a limitation of etcd, it is not a bug and introducing it would be basically be an additional feature. Based on that I don't think we should back port.

[2022-04-07 22:21] donalhunt opened #13905 "server/etcdserver/api/v3rpc/maintenance.go: use of humanize.Time() results in loss of precision"
### What happened?

The logs for the snapshot process indicate that the time take is "now". now is not a valid duration in my world.

[code]

### What did you expect to happen?

I expected some level of precision (time measured in µs, ns, ms, s, etc).

### How can we reproduce it (as minimally and precisely as possible)?

deploy single node server:
[code]

initiate a snapshot with the client:
`bin

[2022-04-08 08:35] elricli opened #13909 "RESTFul API return error when use etcd gRPC Proxy and gRPC Gateway"
### What happened?

Watch request get error:
[code]
but put\range request is correct working.

### What did you expect to happen?

Watch request correct working.

### How can we reproduce it (as minimally and precisely as possible)?

1. Start etcd.
    - Start Command: `etcd`
2. Start etcd gRPC Proxy.
    - Start Command: `etcd grpc-proxy start --debug --endpoints=http://localhost:2379`
3. Start e

[2022-04-08 10:46] jayunit100 commented on #13894
what is the manual test plan for reproducing this ? is there a k8s centric test we can run ?  I was doing a combination of running e2es while rebooting nodes, and didnt see this occur.  I think it requires unrestricted API QoS , constrained etcd memory, and a few other tricky knobs.

[2022-04-08 12:27] serathius commented on #13894
Please read the original issue https://github.com/etcd-io/etcd/issues/13766#issuecomment-1078897588, it includes description of reproduction and link to PR with code.

Let's continue the discussion there ok?

[2022-04-08 13:29] serathius opened #13912 "Broken release maintenance promises"
Etcd [versioning policy](https://etcd.io/docs/v3.5/op-guide/versioning/) states `The etcd project maintains release branches for the current version and two minor releases, 3.5, 3.4 and 3.3 currently.` however I haven't see any active release management done for v3.3 and v3.4 since I joined the project. For example https://github.com/etcd-io/etcd/issues/11321 is still not backported to v3.4

Fact

[2022-04-08 15:22] spzala commented on #13894
@serathius https://github.com/etcd-io/etcd/issues/13692 doesn't seems required in 3.5.3. I am adding triage comments there.

[2022-04-08 15:37] spzala commented on #13692
An endpoint is considered unhealthy when it cannot participate in consensus with the rest of the cluster. Inaccessible endpoints, for whatever reason, is considered unhealthy in general and a related log message is provide per it's documented https://github.com/etcd-io/etcd/tree/main/etcdctl#output-15.
Another example of unreachable endpoint,
+-----------------------------+--------+-------------+-

[2022-04-08 15:37] #13692 closed

[2022-04-08 18:41] donalhunt opened #13913 "etcdserver: large snapshots cause missing leader heartbeat events"
### What happened?

Over the course of several months, I've observed frequent "leader failed to send out heartbeat on time" warnings in etcd server logs for 3-node clusters. Despite some efforts to tune the performance of the filesystem and perform compaction / defragmentation tasks on the clusters, we still see frequent warnings several times a day.

I have been unable to identify a trend with re

[2022-04-08 18:47] donalhunt commented on #13913
Waiting on #13906 so the logs provide a little more insight (how many ms the snapshot is taking). Current working theory is that is greater than 100ms which then causes the leader heartbeat to be missed.

[2022-04-08 20:20] tylerauerbeck commented on #13667
@ckaminski If you don't have the cycles for this, I would be happy to pick this up.

[2022-04-08 21:22] ahrtr commented on #13692
Agreed or at least it's a minor one which doesn't need to be fixed at all.

[2022-04-08 21:37] ckaminski commented on #13667
@tylerauerbeck I'm not going to say no - I was tripped up by not realizing the repo uses symlinks, which failed the build.  once I fixed that, life got in the way.

I've been experimenting with a fork with github actions, which i've never used - are the build artifacts available from the workflows?

[2022-04-08 21:41] #13905 closed

[2022-04-08 22:28] ahrtr commented on #13666
Please refer to [13666](https://github.com/etcd-io/etcd/issues/13666).

[2022-04-08 22:28] #13666 closed

[2022-04-08 22:30] ahrtr commented on #13894
[13666](https://github.com/etcd-io/etcd/issues/13666) is just a question instead of an issue. I already provided answer and closed it. Definitely it isn't required in 3.5.3.

[2022-04-08 22:32] ahrtr commented on #13894
Please also remove [13690](https://github.com/etcd-io/etcd/pull/13690) from the list per the discussion in the PR.

[2022-04-08 23:01] ahrtr commented on #13848
It's good story.  When the member is removed from the cluster, itself ID is removed from the db, and the member will stop itself automatically.

After starting the member again with `--force-new-cluster`, it will remove all peers on startup. Since itself isn't in the member list as well, so there is no any voter any more. Accordingly it fails to get started, see [confchange.go#L173](https://github

[2022-04-08 23:02] ahrtr commented on #13894
Just closed 13848 with comment [13848#issuecomment-1093449532](https://github.com/etcd-io/etcd/issues/13848#issuecomment-1093449532).

[2022-04-09 07:37] serathius commented on #13848
I think we might also consider improving the error message so it's clearer for user that this is not a etcd error.

[2022-04-09 08:04] ptabor commented on #13912
Red Hat used to be committed maintaining 2 historical minor releases and I think it's the main reason fur such declaration and I think it was limited to back-porting significant security patches only. We should check what's RH plans going forward.

[2022-04-09 08:08] ptabor commented on #13889
I agree that good reasons why it used to be 100'000 ended when storeV2 stopped containing key-value payload so cost of writing such snapshot is neglictable.
 - I don't think we can make such change as part of 'patch' release.
 - I think it's OK as part of minor release (v3.6)
   - We might put a warning it will be subject to change in 3.6 for those that does not set it explicitly?

[2022-04-09 14:06] serathius opened #13915 "Make leases linearizable (excluding TTL)"
As etcd leases depend on real time, they cannot provide same guarantees as rest of the API. In distributed systems we cannot depend on local time of single member, so etcd mitigates this by relying on cluster leader to decide what it lease TTL and whether it expired.

There is however there are two major issues related to current implementation of leases in etcd:
* Members proxy requests to leader

[2022-04-09 17:40] misstt123 commented on #11321
Still a bug on 3.4.16

[2022-04-09 18:12] hexfusion commented on #13912
cc @hasbro17

[2022-04-09 22:45] hexfusion commented on #13912
cc @wallylewis @hasbro17

[2022-04-09 23:16] ahrtr commented on #13766
FYI. in case anyone is interested in a simple [summary](https://github.com/ahrtr/etcd-issues/tree/master/issues/13766)

[2022-04-09 23:45] ahrtr commented on #13915
I think we may have a short-term a long-term plan,

Short-term plan:
The PR [pull/13690](https://github.com/etcd-io/etcd/pull/13690) follows the same way as [previous one ](https://github.com/etcd-io/etcd/pull/7015), it should can resolve the [issue](https://github.com/etcd-io/etcd/issues/13675, at least greatly mitigate it. Regarding to `ListLease`, current implementation is serializable request,

[2022-04-10 05:14] fistomina opened #13918 "etcd momory usage grows slowly until OOM with small data size [3.3.18&3.4.13]"
**What happened?**
etcd node memory usage grows slowly for hours, and finally execeeds 90%, cuasing OOM. Generally, the memory of the leader node increases the fastest.

**cluster info**
3 nodes 4U8G
db-size:101M
etcd Version: 3.3.18
Go Version: go1.11.2
This etcd cluster is not used by k8s, but a customized service with range/lock/put oprations.

**go pprof dumped at memory usage 80%**
Showing no

[2022-04-10 13:52] serathius commented on #13915
I don't agree that https://github.com/etcd-io/etcd/pull/13690 fixes the issue. It adds a wait time for apply on leader, however this makes the situation described in this issue even worse. It increases the window/time after leader check, meaning that there is a greater chance that leader has changed. Best short term solution would be to stop treating ttl=0 as lease not existing.

[2022-04-10 13:54] mitake commented on #13883
@ptabor I'm still trying to reproduce, but invalidating `rangePermCache` in `authStore.Recover()` is fine and good for defensive purpose. I'll open a PR for the change.

[2022-04-10 13:55] serathius opened #13919 "Cover learners with e2e tests"
Based on https://github.com/etcd-io/etcd/pull/13837 I expect we are missing some e2e testing.

[2022-04-10 14:42] serathius commented on #13853
Fix will be available in v3.5.3

[2022-04-10 14:42] #13853 closed

[2022-04-11 02:56] ahrtr commented on #13915
I might be wrong, but `"stop treating ttl=0 as lease not existing"` seems not correct to me.  Currently Etcdserver intentionally returns a response with [ttl=0](https://github.com/etcd-io/etcd/blob/0c9a4e0f93ad9a7d83e8f5ec215baa856616c76b/server/etcdserver/api/v3rpc/lease.go#L138) when LEASE NOT FOUND; and the client side closes the stream session when it receives a response with ttl=0. The workfl

[2022-04-11 05:33] rahulbapumore commented on #13503
Hi @ahrtr

[2022-04-11 07:08] yuyangbj commented on #13894
Hi ETCD maitainers,

As the community has alert the customers not use the ETCD 3.5.[0-2] in production env due to the issue data inconsistency, but is there any plan to speed up the 3.5.3 release considering some products has already blocked by the issue?

[2022-04-11 07:21] ahrtr commented on #13503
I started 2000 threads (using Jmeter) which concurrently send requests to an etcd cluster (3.4.16) with 3 members, and in the meanwhile occasionally kill the members, but couldn't reproduce this issue. I do not see any issue by checking the source code of release-3.4.

Note that in your previous [comment](https://github.com/etcd-io/etcd/issues/13503#issuecomment-1084091292) , all members have the

[2022-04-11 08:33] ABlueCy opened #13921 "how to know history versions of a key"
I know that we can get a key with a special reversion and the treeindex has stroed the generations info that recorded history reversions of key.
my question is how to get those key history reversions.

[2022-04-11 09:54] serathius commented on #13894
@yuyangbj Thanks for your interest in v3.5.3 release. Apart of just "fixing" the issue, we also need to make sure we do proper diligence to test and qualify the release. We would really not want to make a mistake here and be forced to send another alert. Unfortunately this takes time and with only 3-4 people working on the release it will take us some time.

Data inconsistency issue was non-trivia

[2022-04-11 10:29] dims commented on #13894
@serathius Apologies!!

[2022-04-11 11:08] Divya063 commented on #13757
@ahrtr Would it be okay if I work on this?

[2022-04-11 11:53] serathius opened #13922 "Verification error in TestV3WatchRestoreSnapshotUnsync"
We have recently enabled ETCD_VERIFY in integration tests (https://github.com/etcd-io/etcd/pull/13903) with hope to automatically verify fix for recent data inconsistency issue. Apart of introducing new check dedicated for data inconsistency, we also enabled previously existing check for consistent index. Based on recent weave of flakes on main branch, we have an issue.

All the failures I found h

[2022-04-11 11:54] serathius commented on #13894
New issue that might impact v3.5.3 release. Please someone take a look https://github.com/etcd-io/etcd/issues/13922

[2022-04-11 12:38] ahrtr commented on #13922
@serathius @ptabor @spzala Please code freeze the main branch before I figure out the root cause

[2022-04-11 12:54] serathius commented on #13675
Fix was merged, will be release in v3.5.3

[2022-04-11 12:54] #13675 closed

[2022-04-11 13:50] endocrimes commented on #13894
https://github.com/etcd-io/etcd/issues/13846 shouldn't be a critical release blocker - but here's a PR https://github.com/etcd-io/etcd/pull/13923

[2022-04-11 13:57] serathius commented on #13894
Thanks @endocrimes, agree it's not a critical release blocker, however for now let's assume it will go in, as qualification will take some time.

[2022-04-11 13:59] endocrimes commented on #13894
@serathius 👍  - what's necessary for qualification? (not sure if there's a test process that gets followed or if setting up some soak/scale tests out-of-tree would be helpful for example)

[2022-04-11 14:08] serathius commented on #13894
That's great question, apparently v3.5 release haven't followed the same qualification as previous releases (https://github.com/etcd-io/etcd/issues/13839#issuecomment-1079823211). With maintainer rotation we lost knowlegde about processes previously executed manually.

I would be great to get idea what kind of tests were done before. @xiang90 @jpbetz any recommendation about the testing?

[2022-04-11 14:15] serathius commented on #13894
In addition to the qualification mentioned before, would be good to confirm that two data inconsistency issues found were fixed. Instructions for their reproduction:
* https://github.com/etcd-io/etcd/pull/13838
* https://github.com/etcd-io/etcd/issues/13514#issuecomment-1085784591

[2022-04-11 14:17] spzala commented on #13912
- As far as I remember, that's the version support always provided by the project. @hexfusion and @gyuho were fantastic release managers (and so is @serathius), and I think the patch releases for previous releases specially for the oldest releases, the release cut was done on need base. I think, considering etcd stability, people don't upgrade to newer version quickly, and that's why the version s

[2022-04-11 14:19] serathius commented on #13538
Note, further work on v3.6 release will be postponed until action items from v3.5 data inconsistency issue will be addressed.

[2022-04-11 15:01] serathius commented on #13894
We run v3.5.0 in K8s presubmits for long time (we still are), however they didn't find any issues we fixed for v3.5.3 so I expect they are not good qualification method.

[2022-04-11 15:38] serathius commented on #13922
Confirmed that issue is reproducible on `release-3.5`

[2022-04-11 15:46] serathius commented on #13922
Problem: can't confirm if this is a new issue in v3.5 as ETCD_VERIFY checks were not present in v3.4 :(

Would like got confirmation from the author @ptabor:
* Why those checks were added but not enabled by default?
* Can we trust consistent index check, or should we disable it as it was not run before we wanted test data inconsistency fix?
* Should this issue block v3.5?

[2022-04-11 16:44] misstt123 opened #13925 "failed to start etcd","error":"cannot listen on TLS for [::]:2380: KeyFile and CertFile are not presented"
### What happened?

I am running etcd (version 3.4.18) using docker-compose

and my docker-compose.yml  is below

    `version: "3"

    services:
      etcd04:
        image: "quay.io/coreos/etcd:v3.4.18"
        container_name: node01
        dns: 10.13.129.91
        ports:
          - 42380:2380
          - 42379:2379
        volumes:
          - /root/etcd/etcd040/data:/etcd-data
        envi

[2022-04-11 17:38] ptabor commented on #13922
I would expect them enabled in integrational tests by testing.BeforeTest(...) logic: ?

https://github.com/etcd-io/etcd/blob/dd08e15d7c4750b1a94a8b4760a4de7fd14b0e78/tests/framework/integration/testing.go#L104

I think it's a valid (critical!) problem, related to the consistency-issue fix:

https://github.com/etcd-io/etcd/runs/5968635467?check_suite_focus=true

m0 was disconnected.... missed some

[2022-04-11 18:41] vivekpatani commented on #13794
Hi, this may not be a solution to your issue, but maybe it could help alleviate a problem.

Have you tried enabling the `--pre-vote` flag?  Maybe the issue is related to that flag? Thanks.

[2022-04-11 18:57] mootezbessifi commented on #13794
Thanks @vivekpatani for your response but could you explain more what this option does ?

[2022-04-11 20:38] ahrtr commented on #13922
@ptabor I don't think it's the root cause, because we persist the consistent_index on [OnPreCommitUnsafe](https://github.com/etcd-io/etcd/blob/dd08e15d7c4750b1a94a8b4760a4de7fd14b0e78/server/storage/backend/batch_tx.go#L333)

[2022-04-11 21:15] serathius commented on #13922
Great to hear we know the root cause @ahrtr! Awaiting the update.

[2022-04-11 21:34] ahrtr commented on #13922
After second thought, I still don't think it's the root cause.

If there is [at least one entry](https://github.com/etcd-io/etcd/blob/dd08e15d7c4750b1a94a8b4760a4de7fd14b0e78/server/etcdserver/server.go#L1082) in the apply.Entries, then the applying consistent_index must have been saved to [consistent_index](https://github.com/etcd-io/etcd/blob/dd08e15d7c4750b1a94a8b4760a4de7fd14b0e78/server/etcds

[2022-04-11 21:48] serathius commented on #13922
Yes, I can always reproduce it with command:
[code]
 No thing I needed to make sure is that TMPDIR environment variable points to in memory mounted filesystem, should be default though on standard filesystem partition (`/tmp` as `tmpfs`).

[2022-04-11 22:29] ahrtr commented on #13922
`git bisect` lead to the following commit. I will take a closer look.

[code]

[2022-04-12 00:24] vivekpatani commented on #13794
@mootezbessifi I don't know if that's the issue you're facing. I'm guessing.

Problem:
The idea of preVote is to address the issue, where one or more members are partitioned from their own cluster due to any nature of connectivity issues, the minority cluster can trigger an election because there is no leader anymore in that partition, and after it joins the cluster, the newly elected leader (from

[2022-04-12 01:16] yuyangbj commented on #13894
Thanks Marek @serathius for the prompt response. And I understand everything needs a complete tests. I do not want to push the release, so I am sorry if it makes a misunderstanding like it. And our downstream team has actively involved to reproduce the data inconsistency issue, will update to here if we have test results.

[2022-04-12 02:44] ahrtr commented on #13922
Eventually I figured out the root cause, please see the explanation in PR [13930](https://github.com/etcd-io/etcd/pull/13930).

This should be a legacy issue, so we need to backport to 3.5 as well. Will do it once this once is merged.

[2022-04-12 02:49] ahrtr commented on #13894
Just resolved in [pull/13930](https://github.com/etcd-io/etcd/pull/13930), it should be legacy issue (or an old regression) instead of a regression.

[2022-04-12 07:52] #13922 closed

[2022-04-12 08:18] serathius commented on #13894
With last data inconsistency issue fixed we can focus on qualification and cutting the scope for the release. Moving https://github.com/etcd-io/etcd/pull/13862 and https://github.com/etcd-io/etcd/issues/13846 as they are not critical. Authors can continue to work on them, however we should prioritize the release.

[2022-04-12 10:12] clarkfw commented on #13925
There is a HTTPS url in your `docker-compose.yml` file:
[code]
KeyFile and CertFile are required If you want use a HTTPS url. Here's an example:
[code]
For more details please refer to [etcd document](https://etcd.io/docs/v3.1/op-guide/security/#example-3-transport-security--client-certificates-in-a-cluster)

[2022-04-12 10:20] serathius commented on #13894
@shalinmangar in https://github.com/etcd-io/etcd/issues/13839#issuecomment-1085949492 you mentioned that you have experience with jepsen. It would be great if you can help @endocrimes as we cannot reproduce the data inconsistencies from v3.5.2 there.

[2022-04-12 14:44] serathius commented on #13894
Qualification work is almost finished, I would like to prepare to start the release process.

First let's collect acts from people involved: @ptabor @spzala @ahrtr @endocrimes
Please let me know if there is anything else that should be done before the release.

[2022-04-12 14:50] endocrimes commented on #13894
So current state of jepsen testing:
- I have the existing jepsen test suite [jepsen-io/etcd](https://github.com/jepsen-io/etcd) bumped to the latest parts of various etcd components
- I've run the full suite against etcd 3.5.2 in various scale scenarios trying to trigger a corruption case (and failed to do so on my 32t/128GB ram workstation without running out of memory first)
- I'm now setting up

[2022-04-12 14:51] ptabor commented on #13894
That list looks complete to me. Thank you @serathius and @ahrtr.

I think that these items are below the bar (but calling them explicitly):
  - submit  & backport the data-inconsistency repro test
  - more defence in depth (e.g. verification that consistency index does not decrease)

@serathius: Out of curiosity: Have you been running the repro test for several hours with patched 3.5.2 or just the

[2022-04-12 14:57] ptabor commented on #13921
Please use Watch API. It allows you to specify both: key-range and start-revision you want to load the history from.

Please notice that 'compaction' might limit the history that etcd stores.

[2022-04-12 14:57] #13921 closed

[2022-04-12 15:01] ptabor commented on #13918
Could you, please, repro this with version 3.5.* ?

`3.3.*` is end of live and potentially only a security fixes are being cherry-picked.

[2022-04-12 18:08] endocrimes commented on #13894
Jepsen Watch test failures _seem_ to be a jepsen issue, but I haven't run into those issues in any of the previous version runs, so I'm... curious.

Moving on to lock tests for now.

[2022-04-12 18:34] endocrimes commented on #13894
Locks (leases) seem to be consistently flaky - The lease ends up closing early, and thus the test fails. Gonna investigate further after dinner.

[2022-04-12 19:16] endocrimes commented on #13894
Gonna look into this with fresh eyes tomorrow - getting a headache.

[2022-04-12 21:31] dims commented on #13894
Sooo close!!

[2022-04-12 22:45] ahrtr commented on #13894
I think it's worth to mention @serathius 's PR [pull/13927](https://github.com/etcd-io/etcd/pull/13927). Ran the load test against mounted RAM filesystem might be an easier way to reproduce the data inconsistent issue. I will give it a try.

Please note that I recently fixed a lease related issue, see [pull/13932](https://github.com/etcd-io/etcd/pull/13932), which isn't included in 3.5.2. Do you s

[2022-04-13 03:38] spzala commented on #13894
@serathius awesome, thanks so much! It looks good to me. If we are running more tests, that's great, but otherwise, from the positive feedback on the data inconsistency fix and the tests you and @ahrtr ran, +1 for release work. We can iterate over the release with any new findings, post-release feedback and test improvements under discussion.

[2022-04-13 05:00] ABlueCy commented on #13921
thx ptabor. I tried to use Watch API and got the  history from.
however, based compaction model, I have no idea of which revisions  are stored and just try many times to inputing start-revision .
how can I get the  revision that etcd stores with compaction model.
best wish.

[2022-04-13 05:00] ABlueCy commented on #13921
@ptabor

[2022-04-13 05:56] rahulbapumore commented on #13503
Hi @ahrtr ,
We could see some of the error logs where data inconsistency issue occurred.
Could you confirm these error logs are related to some known issue?

**2022-03-24 02:15:14.037286 I | rafthttp: added peer af60d29c10528d99
raft2022/03/24 02:15:14 INFO: e83baa9da4c00535 switched to configuration voters=(4962605495301377754 12637332122132188569 16734156434475844917)
2022-03-24 02:15:14.037486

[2022-04-13 06:25] ahrtr commented on #13503
@rahulbapumore Can you please format the pasted log using code? It's hard to read without proper formatting. Please read [quoting-code](https://docs.github.com/en/enterprise-server@3.3/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax#quoting-code)

[2022-04-13 07:59] serathius commented on #13503
done

[2022-04-13 08:23] serathius commented on #13894
I run:
* Reproduction script https://github.com/etcd-io/etcd/issues/13766 for 1 minute 10 times, reproduces 5/10 times on `v3.5.2` and 0/10 times on current `release-3.5` branch
* Reproduction script for https://github.com/etcd-io/etcd/issues/13514 5 times, reproduces 3/5 times on `v3.5.2` and 0/5 times on current `release-3.5` branch.
* Full functional tests with addition of (https://github.com/e

[2022-04-13 08:29] serathius commented on #13894
You are right that raft should never allow a message with an old term, however https://github.com/etcd-io/etcd/issues/13514 covers not officially supported downgrade flow, that went around downgrade check, and showed us that term in db cannot be trusted in v3.5. With https://github.com/etcd-io/etcd/pull/13903 goal was not to fix downgrades, but to remove incorrect `onlyGrow` check that turned out

[2022-04-13 09:13] ahrtr opened #13937 "etcd panic on startup (auth enabled)"
The issue is reproduced on main branch.

Steps to reproduce this issue:
1. Start an etcd cluster with 3 members using the [Procfile](https://github.com/etcd-io/etcd/blob/main/Procfile);
2. Enable Auth per the [guide](https://etcd.io/docs/v3.5/demo/) ;
3. Run load test (2000 threads) against the cluster using Jmeter (see the attached test plan). The command: `jmeter -n -t etcd_data_inconsistency.jm

[2022-04-13 09:17] ahrtr commented on #13503
Thanks @serathius .

It seems that the etcd is too fragile once auth is enabled. Just raised another issue [13937](https://github.com/etcd-io/etcd/issues/13937)

[2022-04-13 09:20] ahrtr commented on #13894
We might need to get this issue [13937](https://github.com/etcd-io/etcd/issues/13937) sorted out before releasing 3.5.3.

[2022-04-13 09:51] #13846 closed

[2022-04-13 09:52] socketpair commented on #13389
Still actual

[2022-04-13 11:20] serathius commented on #13894
@ahrtr Is this a new problem in v3.5? Based on the original issue it seems to be present in v3.3. For v3.5.3 our goal should be addressing new issues that were introduced in v3.5 to ensure there are not regressions when upgrading from v3.4 to v3.5.

Fact that there is a long standing issue is worrying, however it should not block v3.5.3 release.

[2022-04-13 12:25] ahrtr commented on #13925
Closing this one since it is resolved.

[2022-04-13 12:25] #13925 closed

[2022-04-13 12:47] shalinmangar commented on #13894
Happy to help. I see @endocrimes has already made great progress. Is there an issue for Jepsen testing? or should we communicate over the Etcd-dev mailing list?

[2022-04-13 13:02] serathius commented on #13937
I didn't manage to reproduce it, all I get is "failed to apply request" and "user name is empty".

[2022-04-13 13:03] endocrimes opened #13939 "[Test Infra] Jepsen Testing"
As part of the 3.5.3 release process we realized that a lot of etcd release qualification and testing is currently adhoc and manual.

To gain more confidence in new features and releases, we want to make a set of improvements to test and release infrastructure. One of those is modernizing the [jepsen](https://jepsen.io) tests, and using them to test etcd's correctness as a distributed system.

I'v

[2022-04-13 13:03] endocrimes commented on #13894
@shalinmangar https://github.com/etcd-io/etcd/issues/13939

[2022-04-13 13:09] shalinmangar commented on #13939
Thanks @endocrimes! Let me know when you feel comfortable pushing your changes to a branch. In the meanwhile, I will set up Jepsen's etcd tests on an instance in the cloud and get up to speed (it's been a few years since I used them).

[2022-04-13 13:56] TinySong commented on #13919
@serathius  would be ok if I work on this?

[2022-04-13 14:22] serathius commented on #13919
Sure, to give you some context, most of etcd e2e tests either run 1 or 3 member cluster. Most test scenarios would benefit if we add a case where there is an additional learner in cluster. For examples of test code I would look into code in `tests/common`.

[2022-04-13 14:43] dims commented on #13894
w00t! sounds good @serathius

[2022-04-13 18:14] lavacat commented on #13855
I think the problem is that we can't rely on revision to stop polling. On server side we create leases list and then get Rev.
But there is no synchronization, so Leases can have older data, while Rev is newer.

....

I think there are 2 solutions:
1. Use Len(leases)
2. Make an extra call to refresh leases after Rev condition is met.

I've submitted PR with 1

https://github.com/etcd-io/etcd/pull/1

[2022-04-13 18:55] serathius commented on #13855
I think this was fixed in https://github.com/etcd-io/etcd/pull/13868

[2022-04-13 19:05] serathius commented on #13894
ok, after 4 hours, with breaks for restoring sanity and eating, I managed to successfully run release script.

[2022-04-13 19:05] #13894 closed

[2022-04-13 19:18] lavacat commented on #13855
@serathius I was able to reproduce it with https://github.com/etcd-io/etcd/pull/13868

[code]

[2022-04-13 19:41] serathius commented on #13855
Interesting as in my case it doesn't fail even with 50 runs, when without https://github.com/etcd-io/etcd/pull/13868 it reproduces within couple of runs.

[2022-04-13 19:48] lavacat commented on #13855
IMO the core issue is getting revision at the end of LeaseLeases function
https://github.com/etcd-io/etcd/blob/main/server/etcdserver/v3_server.go#L399

It's not guaranteed that lss list actually reflects latest Revision. Maybe a better fix is to move newHeader() to the start of LeaseLeases.

[2022-04-13 21:23] ahrtr commented on #13894
My immediate feeling is it should be legacy issue instead of a regression. Will take a closer look today.  I don't think it's a blocker for 3.5.3 either.

[2022-04-14 00:46] rosskirkpat commented on #13667
👋 Hi all, I'm Ross from SIG Windows. I realize this issue is closed but I wanted to post here to let anyone who finds this issue know that I am actively working to bring the native etcd builds for Windows back. I am completely revamping the native Windows build process to replace the scripts that have been removed with the end goal of a streamlined and easy to understand build process.

@serathius

[2022-04-14 05:19] rahulbapumore commented on #13503
Hi @ahrtr ,
Do you mean to say that you are also able to reproduce data inconsistency issue?
We are actually facing data inconsistency issue and getting error logs as shared in my previous comment.
Could you confirm that you are also getting data inconsistency issue or not?

Thanks,
Rahul

[2022-04-14 07:16] ahrtr commented on #13894
This turns out to be regression. But the good news is it's just a minor issue. Please see the explanation in [pull/13942](https://github.com/etcd-io/etcd/pull/13942)

[2022-04-14 07:21] xiaods commented on #13800
yes, it support it.

[2022-04-14 08:04] ahrtr opened #13944 "Six pipeline failures"
I just submitted a test [PR](https://github.com/etcd-io/etcd/pull/13943) (no any code change at all), there are still 6 pipeline failures.  We can ignore the code scan failure for now. The other 5 failures are caused by PR [13888](https://github.com/etcd-io/etcd/pull/13888), which was **NOT** green when it's merged.

Proposed action for now: rollback the PR [13888](https://github.com/etcd-io/etcd/

[2022-04-14 08:57] lavacat commented on #13913
Do you have access to the metrics?
1. How frequent is rate(etcd_server_heartbeat_send_failures_total[1m]) spiking?
2. If its snapshot related, do you see correlation with rate(etcd_disk_backend_snapshot_duration_seconds_count[1m]) ?

[2022-04-14 08:58] MagicStarTrace commented on #13839
etcd: v3.5.2

I added it in the startup item, how can I verify whether it takes effect(experimental-initial-corrupt-check)?

![image](https://user-images.githubusercontent.com/15685376/163350751-11f4c680-0779-43f0-bbbb-8246a3e8f6af.png)

It means that 3.5.3 does not need to add the parameter "--experimental-initial-corrupt-check"?

Thank You!

[2022-04-14 10:51] lsnan commented on #11348
I had the same problem, my etcd version was 3.5.1

[2022-04-14 14:48] spzala commented on #13944
That sounds good. Thanks @ahrtr

[2022-04-14 15:26] spzala commented on #11348
Please try newly released 3.5.3 and open a new issue if the problem exist. Thanks!

[2022-04-14 15:41] TinySong commented on #13919
Working on it

[2022-04-14 22:15] ahrtr commented on #13937
This is a regression, FYI. https://github.com/ahrtr/etcd-issues/tree/master/issues/13937

[2022-04-15 02:12] ahrtr commented on #13503
This issue [13937](https://github.com/etcd-io/etcd/issues/13937) is only specific to 3.5 and main.

I can not reproduce the issue you pointed out in previous comment so far. It would be helpful if you can reproduce the issue (`auth: revision in header is old`) in an fresh etcd cluster (without your microservice).

[2022-04-15 04:25] lavacat commented on #13855
@endocrimes since you are the author of https://github.com/etcd-io/etcd/pull/13868, can you check my fix https://github.com/etcd-io/etcd/pull/13940 ?

[2022-04-15 11:30] shawnwinder commented on #11654
Do you mean the headless service with response to above etcd-statefulset? I tried deploy the service, but I still got the error

`
apiVersion: v1
kind: Service
metadata:
  name: etcd
spec:
  clusterIP: None
  ports:
    - port: 2379
      name: client
    - port: 2380
      name: peer
  selector:
    app: etcd
`

[2022-04-15 19:22] liggitt opened #13948 "SRV responses with absolute domain names are treated as relative domain names in v3.5.3"
### What happened?

https://github.com/etcd-io/etcd/pull/13712 incorrectly trimmed trailing `.` from SRV responses when constructing client addresses. https://github.com/etcd-io/etcd/pull/13714 then backported the bug to the 3.5 stream where it was released in v3.5.3.

This turns absolute domain names into relative domain names and means local search paths are appended when resolving the addresses

[2022-04-15 19:24] liggitt commented on #13948
This bug exists in master, and was backported to 3.5.3 (and apparently copies a similar bug that already existed on the server-side - https://github.com/etcd-io/etcd/blob/e814f6f78a1213a344038447cd1e48949327b36c/client/pkg/srv/srv.go#L72)

[2022-04-15 19:43] liggitt commented on #13948
/cc @ahrtr @spzala @serathius

[2022-04-15 20:14] zeu5 opened #13951 "raft: leader does not retry `MsgApp` unless it receives new proposal"
We (with @cezarad) are currently testing the implementation. Specifically, we drop certain messages and check if the nodes behave as expected. In the scenario where there is only one entry to replica, if we drop a `MsgApp` to a follower, the leader does not try to resend it again.

We acknowledge that this doesn't pose any problems because there will always be new entries to replicate. But its a d

[2022-04-15 20:20] #13951 closed

[2022-04-16 01:36] #13458 closed

[2022-04-16 01:36] #13550 closed

[2022-04-16 01:36] #13536 closed

[2022-04-16 01:36] #13543 closed

[2022-04-16 01:36] #13544 closed

[2022-04-16 01:36] #13532 closed

[2022-04-16 06:45] ahrtr commented on #13948
Thanks @liggitt for raising this issue, but it isn't correct to me.

**Firstly**, the [addrs](https://github.com/etcd-io/etcd/blob/ff1569f1340b2299204aa944304ee344ffe486f7/client/pkg/srv/srv.go#L104) isn't the cname, instead it's a slice of [SRV records](https://github.com/golang/go/blob/ec5170397c724a8ae440b2bc529f857c86f0e6b1/src/net/dnsclient.go#L154).

The cname in this case is one of the foll

[2022-04-16 14:26] liggitt commented on #13948
Sorry to disagree, but this is a bug.

Using local dns search paths to resolve a canonical hostname returned in a SRV record  is not correct.

All the queries in the `# incorrect AAAA and A queries reappending DNS search paths` group are wrong. At best, they simply slow down resolution. At worst, they resolve to incorrect addresses.

[2022-04-16 14:39] liggitt commented on #13948
that's because SRV responses return canonical target hostnames

[2022-04-16 17:46] dims commented on #13948
@ahrtr please re-add the `area/bug`

[2022-04-16 18:46] ptabor commented on #13948
I'm not a DNS expert, but in my option:
 1) As this change has semantical consequences (potentially even security) and is not a 'no brainer' bug fix, we shouldn't cherry-pick it to 3.5.x. We should consider it for 3.6 if it solves a practical problem.
 2) From quick scanning of `https://datatracker.ietf.org/doc/html/rfc2782`:

[code]
If the CNAMEs are explicitly excluded, I doubt the intention of

[2022-04-16 19:38] ahrtr commented on #13944
Closing this issue since the PR [13945](https://github.com/etcd-io/etcd/pull/13945) has already been merged.

[2022-04-16 19:38] #13944 closed

[2022-04-16 19:49] ahrtr commented on #13948
I agree with you if this statement is true.

[2022-04-16 20:10] liggitt commented on #13948
I'm not sure what you mean by that, but if a hostname is returned in the SRV record instead of an IP (which is valid to do), a DNS lookup is required to resolve that hostname to a usable IP.

The point of disagreement is whether local DNS search paths should be used in *that* DNS lookup. When resolving a canonical hostname, local search paths should definitely not be used.

[2022-04-16 20:48] liggitt commented on #13948
Ah, I think I confused the issue by calling the `.`-suffixed result "canonical", leading to confusion with CNAME records.

What I should have called them were "absolute domain names", meaning they explicitly should not have search suffixes appended.

from rfc1035:

We should not be stripping a trailing dot from the domain name, turning an absolute domain name into a relative domain name.

[2022-04-16 20:54] liggitt commented on #13948
Whether it is always true or not, if a particular SRV response includes a dot suffix, that indicates _that_ hostname is absolute, so we have to keep the dot suffix to do the DNS resolution of that hostname correctly.

[2022-04-16 21:24] ahrtr commented on #13948
Technically speaking, I agree with you. But it's a little counterintuitive. Just as I raised previously, usually we access a service using URL something like `https://etcd1.example.com:2379` instead of `https://etcd1.example.com.:2379`. After `etcdctl` gets the endpoint via the DNS lookup, then it just delivers the endpoints to gRPC. So it accesses the endpoints/service just similar to we run `cur

[2022-04-17 08:36] #13539 closed

[2022-04-17 17:42] ptabor commented on #13948
I agree with you. By "local resolution" I mean taking in consideration local `search` suffixes.

I approved the PR for rollback in 3.5.3, and I think we should release 3.5.4.

@liggitt: Has this problem manifested practically (e.g. broken k8s tests) or you cached it by reading the changelog ?

[2022-04-17 17:53] liggitt commented on #13948
I just caught it reviewing the code changes.

Kubernetes doesn't inherently use the SRV lookup approach, but particular installations certainly could, and the fact that kubernetes sets ndots:5 inside containers could make anyone using SRV lookup inside a kubernetes container more susceptible to this issue.

[2022-04-18 00:35] vimalk78 commented on #13896
@willbeason the PR https://github.com/etcd-io/etcd/pull/13956 should fix the issue you are facing

[2022-04-18 03:21] ahrtr commented on #13948
It took me a couple of hours to read through the source code of [net.LookupSRV](https://github.com/golang/go/blob/ec5170397c724a8ae440b2bc529f857c86f0e6b1/src/net/lookup.go#L446), it seems that the returned srv.Target always has a trailing dot, no matter whether is a absolute name or not, please see [message.go;l=2021](https://cs.opensource.google/go/x/net/+/master:dns/dnsmessage/message.go;l=2021

[2022-04-18 03:40] MagicStarTrace opened #13958 "I want etcd to compress automatically by time (and keep revision 1000)"
### What happened?

My current configuration for etcd automatic compression is like this：

auto-compaction-mode: revision
auto-compaction-retention: "1000"

it will automatically compress

### What did you expect to happen?

I see etcd's config file description can be based on time , we expect to implement stress test once a day and keep 1000, but now it is 5 minutes which is a bit frequent

-----

[2022-04-18 06:23] rahulbapumore commented on #13503
Hi @ahrtr ,
Is there any way to avoid this issue that we are facing in 3.4.16?
Could you please suggest some work around to avoid this issue?

Thanks

[2022-04-18 06:47] ahrtr commented on #13948
I am not a DNS expert either.

If there is a trailing dot, then `golang` will not append any search suffix. Instead it only tries to resolve the name directly. See [dnsclient_unix.go#L462](https://github.com/golang/go/blob/ec5170397c724a8ae440b2bc529f857c86f0e6b1/src/net/dnsclient_unix.go#L462). @liggitt has already verified this.

But from another perspective, the the SRV.Target what the `golang`

[2022-04-18 07:17] liggitt commented on #13948
We should not.

My understanding is that targets returned in SRV records should always be absolute. It doesn't make sense that a DNS server would return relative names that would be resolved using search paths local to the client which could be inconsistent.

[2022-04-18 07:30] xiaods commented on #13958
which size is your prefer for every interval writes. such as 100?  How long you want to keep the data? one day or one year?

[2022-04-18 07:42] xiaods commented on #13958
etcd --auto-compaction-mode=periodic --auto-compaction-retention=24h
`Compact` happens for every 1-hour.

[2022-04-18 08:43] MagicStarTrace commented on #13958
If I want to keep 1000(revision), is this revision configuration still supported?

auto-compaction-retention: "1000"

[2022-04-18 10:03] xiaods commented on #13958
no, only one config is valid

[2022-04-18 14:39] rahulbapumore commented on #13503
Hi @ahrtr ,
One more question -
raft2022/03/24 02:15:14 INFO: e83baa9da4c00535 switched to configuration voters=(4962605495301377754 12637332122132188569 16734156434475844917)
2022-03-24 02:15:14.037486 I | etcdserver/membership: added member e83baa9da4c00535 [https://eric-data-distributed-coordinator-ed-2.eric-data-distributed-coordinator-ed-peer.eiffelesc.svc.cluster.local:2380] to cluster 1d355

[2022-04-18 22:21] hasbro17 commented on #13912
Just chiming in from Red Hat's side: v3.3 is not part of any supported OpenShift release so I think we would be okay with dropping support for that release.
Unfortunately we've been slowed down by some recent staffing issues on our team but I'm hopeful once we can ramp up again we can soon start contributing again towards 3.4, 3.5, and more general maintenance.

[2022-04-18 22:51] ahrtr commented on #13948
It seems that the DNS server just returns what it's configured/told, so we might really need to trim the trailing dot. Please see my experiment (based on yours) below,

**Step 1**: start the dnsmasq. Note that the target for `_etcd-client._tcp.etcd.vmware.com` is `etcd1`, and I added "`etcd1.vmware.com:10.170.96.40`" into `/etc/host`.

[code]

**Step 2: run etcdctl in etcd 3.5.2**.
[code]

The out

[2022-04-18 23:41] liggitt commented on #13948
I'm not a DNS expert, but I would not expect DNS to reply with relative hostnames that depend on local search paths to resolve. But whatever we do with relative hostnames coming back from DNS (if those are even possible), I would *never* expect to re-relativize an absolute hostname that came back from DNS by trimming the trailing `.`.

/cc @thockin @bowei
who might be able to weigh in with more kn

[2022-04-18 23:53] thockin commented on #13948
I am AFK, so I can't cite RFC, but it is unfathomable to me that an SRV lookup would intentionally respond with anything other than an absolute name.  The fact that Go's implementation agrees gives me even more confidence.

[2022-04-19 00:18] thockin commented on #13948
Maybe also worth pointing out that "search paths" are not actually part of the DNS protocol but are part of the resolver libraries.  No DNS server implementation would sanely depend on resolver behavior for correct response handling.

The fact that you got a DNS server to return crap (a bare label cannot be a DNS subdomain, I am 99% sure) doesn't mean that's what was intended.  Beyond that case, a

[2022-04-19 00:18] bowei commented on #13948
Looking through the RFCs, as far as I can tell, this should be a properly fully-qualified name, not one that should be subject to name aliasing -- which is a concept somewhat outside of the DNS protocol itself.

[2022-04-19 00:29] ahrtr commented on #13948
OK, thanks for all the feedback. The [wiki](https://en.wikipedia.org/wiki/SRV_record) also says that SRV.Target is a canonical hostname.
[code]

So I regards my above experiment/example as a bad/improper configuration. Will approve the PR [13949](https://github.com/etcd-io/etcd/pull/13949) and [13950](https://github.com/etcd-io/etcd/pull/13950).

[2022-04-19 03:37] MagicStarTrace commented on #13958
If I set 10 hour compression, will all versions be compressed?

[2022-04-19 05:23] #13896 closed

[2022-04-19 06:17] rahulbapumore commented on #13503
Hi @ahrtr ,
We have observed one thing in our 2 deployments, some of the error messages were same in pod2
[ms-data-distributed-coordinator-ed-2_dced.txt](https://github.com/etcd-io/etcd/files/8510324/ms-data-distributed-coordinator-ed-2_dced.txt)
[ms-data-distributed-coordinator-ed-2_dced.txt](https://github.com/etcd-io/etcd/files/8510336/ms-data-distributed-coordinator-ed-2_dced.txt)
I have attac

[2022-04-19 07:00] xiaods commented on #13958
I just read source code and comments on it. you need validate the rule by yourself.

[2022-04-19 08:30] BedivereZero commented on #10722
Same question, how to recover data when ETCD cluster has only one node？

[2022-04-19 08:48] #13800 closed

[2022-04-19 09:19] serathius commented on #13596
What log describes is self explanatory. I expect that incorrect use of shell lead you to create a file `extra.args` in your data dir directory. I don't see any evidence that etcd has created the file by itself. Based on that I'm closing the issue.

[2022-04-19 09:19] #13596 closed

[2022-04-19 11:16] serathius commented on #13606
Disregard my previous comment, Problem is that `latest` tag for etcd release points to old release instead of the `latest` one.

[2022-04-19 11:19] serathius commented on #13606
Overall I not a fan of `latest` flag. Users should always hardcode version they want.  especially for etcd it might be harmful to do unexpected upgrade that is not reversible.

[2022-04-19 12:40] serathius commented on #13912
Based on that we should update the documentation and drop support to v3.3. We should not provide users with false promise of support if really no one is working on it.

We should be able to revise it all the time to provide users with guarantees that we can provide and users can trust. Current document give uses false promise that issues on old releases will be fixed allowing users to justify not

[2022-04-19 13:31] serathius commented on #13896
Not all issues listed were addressed

[2022-04-19 14:12] serathius opened #13960 "Plans for v3.5.4 release"
Same as previous release, let's agree what work should be included in release and track the work. The list presented below will be evolving as community decides to cut/include some fixes.

Issues/PRs that should be included for v3.5.4:
* [x] https://github.com/etcd-io/etcd/issues/13948
  * [x] https://github.com/etcd-io/etcd/pull/13949
  * [x] https://github.com/etcd-io/etcd/pull/13950
* [x] https

[2022-04-19 14:12] serathius commented on #13948
Both PRs have now been merged.

[2022-04-19 14:12] #13948 closed

[2022-04-19 14:45] MagicStarTrace opened #13961 "etcd configuration item client-cert-auth: true Difference between different versions"
### What happened?

client-cert-auth configuration items, differences in different etcd versions

Results in etcd 3.5.3

etcdctl --cacert=/data/etcd/certs/rootcert.pem  --endpoints=192.168.100.1:2379,192.168.100.2:2379,192.168.100.3:2379  member list

{"level":"warn","ts":"2022-04-19T22:30:36.219+0800","logger":"etcd-client","caller":"v3/retry_interceptor.go:62","msg":"retrying of unary invoker fa

[2022-04-20 01:54] xiaods opened #13964 "I found more test file with invalid content"
### What happened?

I am reading etcd sourcecode and familiar with the code logic. when I run testing , it report some file is invalid.

such as :
[code]

### What did you expect to happen?

does it effective? if it is not , i can send a pr to clean the invalid files.

### How can we reproduce it (as minimally and precisely as possible)?

open the etcd sourcecode and run testing

### Anything else

[2022-04-20 07:00] gengzongjie commented on #13801
It looks like can't be reproduced

[2022-04-20 07:15] serathius commented on #13964
I guess those are symlinks. Development on Windows is currently not supported. Sorry!

[2022-04-20 07:15] #13964 closed

[2022-04-20 07:42] xiaods commented on #13964
Oops. thanks for your reminder. @serathius

[2022-04-20 10:50] serathius commented on #13654
Data corruption issue was found in v3.5.[0-2] release. Please upgrade to v3.5.3.

[2022-04-20 10:50] #13654 closed

[2022-04-20 10:57] nirmannarang commented on #13796
Since there is no reply from @gyuho on the s390x server, we are going ahead with the release/removal of the same as discussed in the community meeting.
cc : @ptabor

[2022-04-20 15:43] klolos opened #13968 "Etcd disk usage and memory consumption not going down after defragmentation"
When performing maintenance in an etcd deployment that had a few gigabytes of memory consumption, we observed that the memory consumption of the server does not go down as expected after deleting data, compacting and defragmenting.

We were able to reproduce this behavior in a toy deployment, by writing a few GB of keys, deleting them, compacting and defragmenting. There, we also saw that even tho

[2022-04-20 17:38] lavacat commented on #13968
3.3.* is end of life. Can you try this in 3.5.*?

Similar to this reply https://github.com/etcd-io/etcd/issues/13918#issuecomment-1096845232

[2022-04-21 03:06] MagicStarTrace commented on #13958
I get this error when I upgrade, restore and start etcd
discovery failed","error":"member 15e5394f5ace5e93 has already been bootstrapped
Does this have any effect?
Thank you!

[2022-04-21 05:17] rahulbapumore commented on #13503
Hi @ahrtr

[2022-04-21 05:53] xiaods commented on #13958
the error report duplicate member lunching.

[2022-04-21 08:56] MagicStarTrace commented on #13958
Is there anything wrong with this? I upgraded from 3.3 to 3.4
Thank you!

[2022-04-21 10:26] #13937 closed

[2022-04-21 16:05] serathius commented on #13960
I will look into making the release tomorrow.
Please let me know if we need to include anything more.

[2022-04-21 22:19] ahrtr commented on #13960
Just submitted a PR [13970](https://github.com/etcd-io/etcd/pull/13970)  for updating the changelog.

[2022-04-22 10:24] ptabor opened #13973 "Verification of exchanged etcd snapshots"
We observed following test flakes:

Test failure - flake (https://github.com/etcd-io/etcd/runs/6091231156?check_suite_focus=true):

[code]

Discussion: https://github.com/etcd-io/etcd/pull/13942#issuecomment-1103833733

What happens is that a lagging follower is downloading a snapshot from leader.
The snapshot is marked as representing exact 'wal-index' (i.e. snapshot-index). But within the snapsh

[2022-04-22 10:55] ahrtr commented on #13973
The issue was caused by the intermediate change (see below) in PR [13942](https://github.com/etcd-io/etcd/pull/13942).

[server.go#L1823](https://github.com/etcd-io/etcd/blob/e02ac59cfc4e750f4b0a2a121e20db8e6775d5cd/server/etcdserver/server.go#L1823)

[code]

I believe we should be good with the final change in above PR,

[code]

I agree that we should add a snapshot verification when a follower r

[2022-04-22 18:21] yishuT opened #13975 "Lease expire failed because of "invalid auth token""
### What happened?

We see etcd server failed to expire lease, and never recover. We are using simple_token by the way.

sample log
[code]

sample failed to be expired lease
[code]

### What did you expect to happen?

etcd successfully expire leases successfully.

### How can we reproduce it (as minimally and precisely as possible)?

I don't really know at this point.

### Anything else we need to

[2022-04-23 05:35] ahrtr opened #13976 "Auth failed with error "auth: revision in header is old""
## etcd version
3.4.16

## Background
The original issue is [13503](https://github.com/etcd-io/etcd/issues/13503). There is a long back-and-forth conversation, but not much progress, so I raise a new issue to get the latest error message included.

There are 3 members in the etcd cluster, and the original version was 3.3.11. In the beginning, the users saw the data inconsistency issue, which could

[2022-04-23 05:38] ahrtr commented on #13503
Just raised a new issue to follow up [13976](https://github.com/etcd-io/etcd/issues/13976).

[2022-04-23 05:38] #13503 closed

[2022-04-24 11:01] serathius commented on #13960
Release was done

[2022-04-24 11:01] #13960 closed

[2022-04-24 12:18] serathius opened #13978 "CodeQL is broken (again)"
Example: https://github.com/etcd-io/etcd/runs/6146418414?check_suite_focus=true
Previous issue: https://github.com/etcd-io/etcd/issues/13588
[code]

[2022-04-24 12:31] serathius commented on #13448
Hmm looks like SemaphoreCI was disabled last week (around 18 April).  I don't think I did it, however I'm happy that someone did.

![image](https://user-images.githubusercontent.com/5873433/164976523-04ade8d8-1528-43fb-be28-86100879b6d6.png)
![image](https://user-images.githubusercontent.com/5873433/164976640-ea1c7491-584c-46a6-87fe-65d2aa96f09c.png)

[2022-04-24 12:31] #13448 closed

[2022-04-24 12:57] ptabor commented on #13448
I did... To mitigate the signal due to docker hub throttling.

niedz., 24 kwi 2022, 14:32 użytkownik Marek Siarkowicz <
***@***.***> napisał:

[2022-04-24 13:13] serathius opened #13980 "Improve and automate releases"
As mentioned on v3.5.3 release issue it took me 4 hours to run the release script. It required a lot of desperate patches to run and I don't expect anyone sane to do the same.

Some of the issues encountered when running release script:
* Path from local machine included in binaries. Requires a lot of manual steps to setup an environment to avoid leaking.
* Release sources/execute scripts from dif

[2022-04-24 15:17] #13569 closed

[2022-04-24 17:46] andrewjstone commented on #10246
X

[2022-04-25 02:00] #13573 closed

[2022-04-25 02:36] fistomina commented on #13918
thx, v3.5.* is not yet used in our production environment, I repreduced it in v3.4.13, and will show details later.

[2022-04-25 05:31] IamSatyaonline opened #13984 "err is auth: revision in header is old in ETCD 3.4.16"
## What happened?

We are facing an data inconsistency issue in ETCD-3.3.11 and 3.4.16. we found this issue after the upgrade in most of the cases.we have investigated the ETCD logs and found there were some issue with auth revision. Seems it had been changed after the restart of pod and impacting the data inconsistency. We saw, revision are different on one the pod.
**POD-0**
[{"Endpoint":"https:

[2022-04-25 05:39] IamSatyaonline commented on #13984
Hi @ahrtr
Could you please help us to find the possible work around to fix this issue. Seems it was fixed in etcd-3.4.8 , but we have reproduced it in 3.4.16.

[2022-04-25 06:28] ahrtr commented on #13984
I suspect the you ran into the same issue as [11651](https://github.com/etcd-io/etcd/issues/11651).
You can follow the [guide](https://etcd.io/docs/v3.5/op-guide/data_corruption/) to restore the inconsistent member.

Please feedback if you still see the issue after the restoring.  Please also try to reproduce this issue in 3.5.4.

[2022-04-25 11:07] serathius commented on #13978
cc @spzala

[2022-04-25 16:13] rahulbapumore opened #13987 "Scheduled compaction is not started on one of the pod in etcd cluster"
### What happened?

After ETCD upgrade , in logs of one of the 3 node pod , we could see that Scheduled compaction was not started .
We could see Scheduled compaction logs are printing 2 of the pods but in one of the pod(i.e. pod-2) not printing Scheduled compaction logs.
This is impacting imbalance of revision count among the pods.

### What did you expect to happen?

Revision number on all pods

[2022-04-25 17:17] lavacat opened #13989 "Revision in response header might not reflect data in the body"
### What happened?

Related to https://github.com/etcd-io/etcd/pull/13940

In LeaseLeases function, newHeader is called at the end and there is no synchronization.
https://github.com/etcd-io/etcd/blob/main/server/etcdserver/v3_server.go#L399

This can cause a situation when list of leases in the body doesn't include new lease reported by revision in the header.

The same is true for any other func

[2022-04-25 17:20] lavacat commented on #13989
Not sure there is nice fix for this. If we move newHeader to the start of the function, the problem is reversed.

IMO, revision in the header should be the latest revision in the data

[2022-04-25 17:33] baryluk opened #13990 "Memory leak with distributed tracing enabled"
### What happened?

Adding `--experimental-enable-distributed-tracing` works, but causes a memory leak, of about 1GB per hour in our setup. Instead of expected ~2GB, it got to about 12GB in 7 hours.

### What did you expect to happen?

Stable memory usage around 1.8-2.0 GB of RSS.

### How can we reproduce it (as minimally and precisely as possible)?

Run with `--experimental-enable-distributed-tr

[2022-04-25 17:41] baryluk commented on #13990
Memory usage (master-1 is the member with tracing enabled):

![Screenshot at 2022-04-25 19-35-34](https://user-images.githubusercontent.com/110322/165143226-0a01d249-3e1b-4c91-bcbc-634c8e66333b.png)

pprof heap snapshots without and with tracing enabled taken ever 1 hours (starting just after starting `etcd`) for 7 hours:
[etcd_pprof_issue_13990.tar.gz](https://github.com/etcd-io/etcd/files/855677

[2022-04-26 07:16] rahulbapumore commented on #13976
Hi @ahrtr ,
We also found some error logs where we saw that failed to apply request for role_revoke_permission, and after this error messages we saw all put requests were failing -
2022-01-24 14:51:04.629814 I | rafthttp: started streaming with peer af7df48dbdda0849 (stream Message reader)
2022-01-24 14:51:04.630696 W | etcdserver: failed to apply request "header:<ID:597147566431101301 username:\"

[2022-04-26 08:47] ahrtr commented on #13976
cc @mitake

Please format the log using `code` @rahulbapumore I said this multiple times!

[2022-04-26 13:50] mitake commented on #13976
@rahulbapumore I guess this issue was fixed in https://github.com/etcd-io/etcd/pull/13308 Can you reproduce it in the latest main branch?

[2022-04-26 13:54] serathius commented on #13976
@ahrtr sorry for confusion, I was the one who formatted the code before :P

[2022-04-26 14:24] IamSatyaonline opened #13991 "etcd-dump-db not working"
### What happened?

etcdctl tool is working fine but unable to run the etcdctl-dump-db.
below is the error we are getting.

bash-4.4$ etcd-dump-db -help
bash: etcd-dump-db: command not found

### What did you expect to happen?

 etcd-dump-db should be run to debug the dump file. Please help us to configure this command.

### How can we reproduce it (as minimally and precisely as possible)?

By run

[2022-04-26 17:29] aauren commented on #11555
@gyuho @xiang90 (or one of the other maintainers) - Is there a way to permanently disable the stale bot for this issue?

This is a very real issue that recently hit us in our move to cycle our root certs in our environments. Working around this issue requires a lot of orchestration complexity and is time intensive.

Additionally, it violates the principle of least surprise given that for most othe

[2022-04-26 18:27] spzala commented on #13991
@IamSatyaonline did you install the tool? The tools, https://github.com/etcd-io/etcd/tree/main/tools, are not installed by default like etcdctl.

[2022-04-26 22:00] ahrtr commented on #13976
Thanks @mitake , probably it makes sense to backport the fix to 3.4 as well?

[2022-04-27 03:59] IamSatyaonline commented on #13984
Hi @ahrtr
is there any work around to prevent this issue at run time before issue comes up ? [guide](https://etcd.io/docs/v3.5/op-guide/data_corruption/) * is only applicable post the issue reproduction. I am able to reproduce it in 3.4.16.  I will try later to reproduce it in 3.5.4.

[2022-04-27 04:08] IamSatyaonline commented on #13991
Hi @spzala
I have installed etcd-3.4.16 and it is running inside container. is it possible to run the etcd-dump-db inside container with etcdctl client ? Could you please share the steps to install/enable etcd-dump-db tool along with etcdctl ?
I see, etcd-dump-db is the part of 3.4.16 etcd package.

bash-4.4$ etcd --version
etcd Version: 3.4.16
Git SHA: d19fbe541
Go Version: go1.12.17
Go OS/Arch:

[2022-04-27 04:52] ahrtr commented on #13984
FYI. [issuecomment-1109823894 ](https://github.com/etcd-io/etcd/issues/13976#issuecomment-1109823894)

[2022-04-27 06:55] eval-exec commented on #13990
[code]
I can't find the git sha you provided in etcd-io/etcd git log tree. Is the etcd contains your custom commits?

[2022-04-27 09:35] serathius commented on #11555
@aauren Contributions are welcomed.

[2022-04-27 09:54] baryluk commented on #13990
No custom commits by me. This is the etcd distributed as part of OKD `v1.22.1-1839`. I am not familiar with their build to see what changes (if any) were there.

[2022-04-27 12:24] aauren commented on #11555
Definitely willing to take a look, but it would be helpful if the stale bot wasn't constantly trying to close this issue so that it can be properly tracked.

It's already happened once before: https://github.com/etcd-io/etcd/issues/10400

[2022-04-27 14:08] mitake commented on #13976
@ahrtr Yeah, probably there are some requirements. Let me open a PR for backporting.

[2022-04-27 23:00] ahrtr commented on #13991
Please refer to the comment in [issuecomment-1110774613](https://github.com/etcd-io/etcd/pull/13994#issuecomment-1110774613)

You can also run the tool using command `go run ./tools/etcd-dump-db`.

[2022-04-27 23:10] spzala commented on #13991
@IamSatyaonline please see @ahrtr comment above.

[2022-04-27 23:14] ahrtr commented on #13990
It looks like Openshift customized the etcd? @hexfusion could you confirm this?

I just downloaded the official 3.5.0, and did a quick verification below.

[code]

[2022-04-27 23:24] ahrtr commented on #13990
cc @lilic

[2022-04-27 23:37] ahrtr commented on #13984
This is a duplicate to [13976](https://github.com/etcd-io/etcd/issues/13976). Let's track this issue there.

[2022-04-27 23:37] #13984 closed

[2022-04-27 23:51] hexfusion commented on #13990
I can confirm its not an upstream binary, this is the downstream repo the build comes from[1]. The changes would be minimal to etcd itself. 3.5.0 uses a pretty old version of otel (pre v1) so its possible that they had a bug as well.

[1] https://github.com/openshift/etcd

[2022-04-28 05:45] rahulbapumore commented on #13987
Hi @ahrtr ,
Could you please  help us with this ??

Thanks,
Rahul

[2022-04-28 06:43] shyamsunderrai commented on #3100
I had the same issue, thought of sharing the "solution". It was a typo in the hostname when defining the --initial-cluster values. Instead of using "node-1", I was trying "node1" which the system was obviously unable to resolve. Trying to launch the command from CLI did really help.

[2022-04-28 09:36] ptabor commented on #13478
Interesting. But there is also a lot of discussion about not submitting the `go.work` file into repository as an anti-pattern,
that I would assume is what you are proposing.

https://go.googlesource.com/proposal/+/master/design/45713-workspace.md#preventing-files-from-being-checked-in-to-repositories

[2022-04-28 09:55] serathius commented on #13478
Yep it was also surprising for me. I even started working on PR on this as I was tired of cding into every package to test it (don't like to use scripts as I like to add some arguments). However apparently K8s plans to do that?

cc @thockin seems interested in this.

[2022-04-28 22:27] lavacat commented on #13987
3.3.* is end of life. Can you try this in 3.5.*?

Similar to this reply https://github.com/etcd-io/etcd/issues/13918#issuecomment-1096845232

[2022-04-29 06:56] kentahikaru opened #13997 "Watchers limit"
Hello, just a question ... i didn't find answer in documentation.

Is there a limit how many watcher can i have for one "element under watch" ?

If i set "x" processes to watch for key "KeyY", all will get notification ? Is there max limit for "x" ?

[2022-04-29 07:19] rahulbapumore commented on #13987
Hi @lavacat ,
Could you please confirm whether our issue and the issue you mentioned in #13918 are same/similar?

Thanks,
Rahul

[2022-04-29 08:25] vimalk78 opened #13998 "Cannot json.Unmarshall ResponseOp"
Hi,
i am working on a test, and i am blocked on json Unmarshalling `TxnResponse`

[code]
in my test case, i need to Unmarshal a `etcdctl txn -i -w json` response into `TxnResponse` but it fails to recongnize the `response_range` in the json

[code]

https://github.com/etcd-io/etcd/blob/00d6d40aea0de3430f88a7adf25807ed919387ea/api/etcdserverpb/rpc.pb.go#L1011

[2022-04-29 08:59] vimalk78 commented on #13998
/cc @serathius

[2022-04-29 09:06] vimalk78 commented on #13998
may be this is a `protoc` limitation?

[2022-04-29 14:50] mitake commented on #13976
@ahrtr opened https://github.com/etcd-io/etcd/pull/13999 for backporitng, but it's still WIP (Currently I have m1 mac and release-3.4 cannot be built on it. I'll be able to build and test on amd64 tomorrow). I'll let you know when it's ready to be reviewed.

[2022-04-29 23:00] ahrtr commented on #13991
[The installation guide](https://github.com/etcd-io/etcd/tree/main/tools/etcd-dump-db) has already been updated, so closing this ticket.

[2022-04-29 23:00] #13991 closed

[2022-04-30 08:07] vimalk78 commented on #13637
i am working on
- [ ] e2e/ctl_v3_txn_test.go https://github.com/etcd-io/etcd/pull/14000

[2022-04-30 10:52] calmitchell617 commented on #10566
domo arigato mr roboto

[2022-04-30 11:29] camilamacedo86 opened #14001 "ETCD has not been building artefacts for darwin/arm64 to support Apple Silicon"
### What happened?

We would like to be able to download binaries for the architecture darwin/arm64:

[code]

Such as `etcd-v3.5.1-darwin-arm64.zip.`

### What did you expect to happen?

ETCD produces artefacts for this platform and architecture so that we can begin to consume it.

### How can we reproduce it (as minimally and precisely as possible)?

curl -sLO https://github.com/coreos/etcd/relea

[2022-04-30 19:49] camilamacedo86 commented on #14001
I can see that the arm64 for mac os was added.
So, we would need to have a new build and then it would be solved:
https://github.com/etcd-io/etcd/blob/main/.github/workflows/build.yaml#L13

Could we do the release?

[2022-04-30 19:50] camilamacedo86 commented on #14001
@ serathius, @ahrtr could you help out?

[2022-04-30 21:05] ahrtr commented on #14001
I don't think `ARM64 + Darwin` is supported. FYI [Current support](https://etcd.io/docs/v3.5/op-guide/supported-platform/#current-support)

cc @serathius @ptabor @spzala

[2022-05-01 03:50] eval-exec commented on #13998
Yes, you can't unmarshal object into `ResponseOp`, maybe you could unmarshal the object to your custom defined struct?

[2022-05-01 11:48] ahrtr opened #14003 "WARNING: DATA RACE on TestWatchOverlapDropConnContextCancel"
[code]

[2022-05-01 12:03] eval-exec commented on #14003
What's your git commit hash?

[2022-05-01 12:10] ahrtr commented on #14003
The latest code/commit in main branch

[2022-05-01 12:54] eval-exec commented on #14003
I  reproduced it and figured it out.
https://github.com/etcd-io/etcd/blob/00d6d40aea0de3430f88a7adf25807ed919387ea/tests/integration/clientv3/watch_test.go#L1107

It's `testWatchOverlapContextCancel()` get timeout , then `defer clus.Terminate(t)` is running. but meanwhile `clus.Members[0].Bridge().DropConnections()` is runnning on another goroutine.

[2022-05-01 13:06] vimalk78 commented on #13637
@serathius for tests which use `etcdutl` will there be both integration and e2e tests? or only e2e tests?

[2022-05-01 13:27] vimalk78 commented on #13998
i found a workaround, used it in PR https://github.com/etcd-io/etcd/pull/14000

[2022-05-01 13:27] #13998 closed

[2022-05-01 21:02] ahrtr commented on #14003
I am well aware of the root cause, I just don't have bandwidth to fix it. Thanks anyway.

Feel free to submit a PR to fix it.

[2022-05-02 05:45] rahulbapumore commented on #13987
Hi @lavacat ,
Could you please confirm above comment?

Thanks

[2022-05-02 17:50] lavacat commented on #13987
I've mentioned https://github.com/etcd-io/etcd/issues/13918#issuecomment-1096845232 as an example of end of life comment. The issue isn't related. Maybe I should find a better reference in the docs.

[2022-05-02 22:23] ahrtr commented on #14003
This issue has already been fixed in [pull/14004](https://github.com/etcd-io/etcd/pull/14004)

[2022-05-02 22:23] #14003 closed

[2022-05-03 00:42] vivekpatani commented on #13980
Is there any interest in generating rpms as a part of the release process? @serathius @serathius

[2022-05-03 07:43] rahulbapumore commented on #13987
Hi @lavacat,
We have one more query, [#11817](https://github.com/etcd-io/etcd/pull/11817) this ticket tells about one fix done in etcd regrading deadlock bug.
And we suspect that we are seeing our issue(of compaction not done in one of pod) because of deadlock condition bug which is solved in https://github.com/etcd-io/etcd/pull/11817.
Could you confirm that our issue is coming because of https://

[2022-05-03 10:20] klolos commented on #13968
I repeated the same steps in a 3.5.4 deployment, I think the behavior is the same:

[code]

Write 10K keys, 1M each:
[code]
Delete them:
[code]
Compact and defragment:
[code]
After the first defragmentation the db size went down to 5G:
[code]
Defragment again:
[code]
After the second defragmentation the size went down to ~500M
[code]
After waiting for ~30 minutes, the memory is still at 13G:
[code

[2022-05-03 12:21] camilamacedo86 commented on #14001
Hi @ahrtr ,

The goal of this issue is to ask for the darwin/arm64 bin to begin to be built.
Also, I can see that it was added here : https://github.com/etcd-io/etcd/blob/main/.github/workflows/build.yaml#L12-L13

So, probably we are missing a new release?

[2022-05-03 15:51] jujiale opened #14006 "help request: use jwt occurs some unbelievable situation"
**Description**

Hello,I am confused in using  "--auth-token=jwt",because it occurs some unbelievable thing

  1.I use the following command to start a etcd server
`./etcd --listen-peer-urls http://$ip:2380
         --listen-client-urls http://$ip:2379,http://127.0.0.1:2379
         --advertise-client-urls http://$ip:2379
         --auth-token 'jwt,pub-key=./jwt/etcd_jwt_RS256.pub,priv-key=./jwt/e

[2022-05-03 15:54] jujiale commented on #14006
by the way,I tried to use username and password to get a token, then use it invoke "http://127.0.0.1:2379/v3/kv/range" , it's ok.

[2022-05-03 17:29] mrueg commented on #13980
One thing that might be worth to consider is using https://github.com/goreleaser/goreleaser to build binaries for github releases.

[2022-05-04 05:50] jujiale commented on #14006
I finally find the way I use jwt have some error, has been reolved , thanks

[2022-05-04 05:50] #14006 closed

[2022-05-04 11:41] serathius commented on #13980
@vivekpatani No there is no interest in expanding the scope of releases as we still need a lot of work to make quality of the release process reasonable.

@mrueg Thanks for suggestion, the main challenge is untangling the scripts used in existing release process.

[2022-05-04 21:55] lotus-x opened #14008 "How locking or election ordering work?"
Hi,

When leader election or locking requests are coming for an individual key, does ownership for the lock/election granted according to the requested order?

For an example,

Let's say all the three sessions (B,C,D) request the lock while A is still acquired the lock, so what happen when etcd grant the ownership for those sessions after A released the lock?

<pre>
           A
|-----------------

[2022-05-04 23:26] brandond opened #14009 "Inconsistent revision and data after --force-new-cluster"
### What happened?

After starting etcd with `--force-new-cluster`, removing the database files off the secondary nodes, and rejoining them to the cluster, the cluster is now in a split-brain state. Reads from the 1st node (that was started with `--force-new-cluster`) returns different data for some keys than reads from nodes that were deleted and subsequently rejoined to the cluster.

The end res

[2022-05-05 01:47] #13547 closed

[2022-05-05 01:47] #13589 closed

[2022-05-05 01:47] #13522 closed

[2022-05-05 01:47] #13593 closed

[2022-05-05 01:51] fistomina commented on #13918
I have reproduced it in 3.4.13, almost all memory is in etcdserverpb.(*RangeResponse).Marshal, I can find these objects in "inuse_space", but not in "inuse_object".
**inuse_space view**
![image](https://user-images.githubusercontent.com/37359796/166851779-9352ecde-73c7-46a3-acf1-14541a999bd1.png)
**inuse_object view**
![image](https://user-images.githubusercontent.com/37359796/166853122-dcbd0f7c-5

[2022-05-05 08:13] rahulbapumore commented on #13987
Hi @lavacat ,
Any confirmation?

Thanks,
Rahul

[2022-05-05 08:32] #13978 closed

[2022-05-05 08:42] #13973 closed

[2022-05-05 09:44] serathius commented on #13912
I think we should also start actively looking for v3.4 release manager. I'm seeing more and more cases like https://github.com/etcd-io/etcd/pull/13206 where work on backporting to v3.4 is forgotten and abandoned.

cc @ahrtr as person that did the most to help triage issues in v3.4.

[2022-05-05 13:17] serathius opened #14012 "Coverage is slow/flaky"
Running coverage tests has average flakiness of ~33% and run time between 35 minutes (on succeed) to 3 hours (on fail). Even if best scenario this is the slowest test job for etcd pull request tests. https://github.com/etcd-io/etcd/actions/workflows/coverage.yaml

Problems:
* Long running tests slow down development as contributors need to wait for results
* Flakes confuse contributors thinking th

[2022-05-05 17:55] serathius opened #14013 "Asset transparency flow is faling"
Don't know what it is, just noticed that we have a broken badge on main page https://github.com/etcd-io/etcd.
Maybe someone can take a look.

https://github.com/etcd-io/etcd/actions/workflows/asset-transparency.yaml

cc @spzala @ahrtr @ptabor

[2022-05-05 21:24] ahrtr commented on #14013
The reason is the service at [https://beta.transparencylog.net/](https://beta.transparencylog.net/) was shutdown on November 9th 2021, see [transparencylog/tl](https://github.com/transparencylog/tl) . It matches the time when we started to see the failure in [workflows/asset-transparency.yaml](https://github.com/etcd-io/etcd/actions/workflows/asset-transparency.yaml).

We have already provided the

[2022-05-05 21:29] brandond commented on #14009
I've done some additional hacking at this an eliminated a couple possibilities:
* ensuring that there are no etcd clients (kubernetes apiserver, for example) or other peer nodes running when the node is restarted with -force-new-cluster does not make any difference.
* Enabling startup and periodic corruption checks does not show anything interesting

However, one interesting finding is that it app

[2022-05-05 21:36] chaochn47 commented on #13637
I can take a few ones.

- [ ] e2e/etcd_release_upgrade_test.go
- [ ] e2e/cluster_downgrade_test.go

[2022-05-05 22:00] ahrtr commented on #14013
After second thought, I think it's a useful verification because it can automatically verify each asset's content against the digest on each release.

But current it's a post release verification, probably it makes more sense to perform pre-release verification unless we stop releasing the binaries (Instead we only release source code and container images).

Proposed actions:
1. Remove the workflo

[2022-05-06 01:52] ahrtr commented on #14009
I did not reproduce this issue with 3.5.4. Please provide the detailed steps and the command you executed in each step.

[2022-05-06 02:00] brandond commented on #14009
I have not been able to reproduce it without a Kubernetes cluster pointed at the etcd cluster. Not sure if it is a load issue, or something to do with the way Kubernetes uses transactions for its create/update operations.

[2022-05-06 05:51] ahrtr commented on #13912
I think the top priority for now is to make the 3.4 pipeline green.

Proposed actions:
1. Upgrade the golang version to 1.15.x (in go.mod and pipeline test), and drop the support of golang 1.12;
2. Fix all pipeline errors

If it's OK, then I will evaluate the effort and fix all low hang fruit in the first step. And afterwards, I may raise issues asking for help if needed, so that we can leverage t

[2022-05-06 06:07] rahulbapumore commented on #13987
Hi @lavacat ,
Could you please confirm?

Thanks

[2022-05-06 06:49] SingleThread opened #14015 "--key-file=<path>: Key for the certificate. Must be unencrypted"
### What happened?

When I start the etcd service through the command, I need to add the certificate private, and the private must be in clear text, and the encrypted certificate private cannot be used.

### What did you expect to happen?

etcd needs to support encrypted certificate private key

### How can we reproduce it (as minimally and precisely as possible)?

etcd security policy

### Anythi

[2022-05-06 07:41] serathius commented on #14013
sounds good

[2022-05-06 07:52] serathius commented on #14015
Sorry for my ignorance, but could you provide examples of projects that support encrypted private key.

[2022-05-06 09:16] #14013 closed

[2022-05-06 09:29] serathius commented on #13637
Makes sense, those tests cannot don't make sense for integration tests and will require different approach. Let's leave them for now. Thanks for pointing this out.

[2022-05-06 09:46] donalhunt commented on #13913
Sorry for the delay (was on vacation for a few weeks). We don't currently use prometheus / grafana for monitoring so need to setup monitoring to gather those metrics.

Will try and provide an update in the next week or so.

[2022-05-06 10:17] donalhunt commented on #13801
Queries related to this error seem to show up from time to time on the issue tracker (none seem to have a definitive answer).

I have a 3-node cluster which is showing signs of the same issue on version 3.5.1.
Currently debugging but suspect the issue is on the client side (we're using https://github.com/IBM/etcd-java) rather than the server side.

Will share any findings here.

[2022-05-06 18:55] chaochn47 commented on #13889
Thanks @ptabor for the comments. This issue can be closed. I will follow up with @mitake about this https://github.com/etcd-io/etcd/issues/7162

[2022-05-06 18:55] #13889 closed

[2022-05-06 21:47] aauren commented on #11555
Ok... After a bit of poking around I think I see why CA certificates aren't reloaded on new connections the same way that certs and client certs are.

The config object for crypto tls allows for GetCertificate and GetClientCertificate to be function based callbacks: https://github.com/golang/go/blob/master/src/crypto/tls/common.go#L557

etcd implements those and uses them to get a fresh copy of th

[2022-05-07 15:39] mitake commented on #13976
@rahulbapumore the change will be included in the next stable release, v3.4.19 (https://github.com/etcd-io/etcd/pull/14017). I think @hexfusion is maintaining stable releases of v3.4, do you have a plan for the next release?

[2022-05-07 16:43] ptabor commented on #11555
FTR:  We had related discussion in https://github.com/etcd-io/etcd/pull/13902:
  - The fact that we load the certificate from file on every connection is enabling cert rotation, but at the same time it's both latency & memory cost to have individual copies of the keys.
  - We should probably not load the certs on every connection but reload them periodically - O(10) minutes.
  - Loading certificat

[2022-05-07 22:28] ahrtr commented on #13976
Please read [v3.5-data-inconsistency.md#detection](https://github.com/etcd-io/etcd/blob/main/Documentation/postmortems/v3.5-data-inconsistency.md#detection)

[2022-05-08 00:20] cjbottaro opened #14019 "Etcd loses track of leases"
### What happened?

Etcd thinks these leases still exist...
[code]

Each lease has a ttl of 5s. We shutdown our system (no new leases created) and these leases still exist over 24h later.

Trying to revoke any of these leases results in an error saying they don't exist.
[code]

We had to shutdown our system because asking Etcd for a lease would result in a timeout. After a few hours of our system

[2022-05-08 01:12] ahrtr commented on #14009
You can try the [benchmark](https://github.com/etcd-io/etcd/tree/main/tools/benchmark) tool. See an example command below,
[code]

[2022-05-08 06:13] ahrtr opened #14021 "panic: Log in goroutine after TestNewDirectorScheme has completed"
I see this panic multiple times.

It's an issue on the main branch, but probably previous releases have this issue as well. Let's fix it in main branch firstly.  See also [step:5:1022](https://github.com/etcd-io/etcd/runs/6332845004?check_suite_focus=true#step:5:1022)

The [goroutine](https://github.com/etcd-io/etcd/blob/b7be91f98b7a7a6202ed9e9bc37b692d484585a8/server/proxy/httpproxy/director.go#L

[2022-05-08 06:23] ahrtr commented on #14019
Probably you are running into [13205](https://github.com/etcd-io/etcd/pull/13205). Could you try to reproduce this issue using the latest code in release-3.5 or main branches.

Please also provide the following info so that others can take a closer look.
1. The complete etcd command-line configuration;
2. The detailed steps to reproduce this issue.