[2022-11-13 19:43] spzala commented on #14713
+1 Any of the three approaches seems good but I think for the long term benefits`github.com/etcd-io/raft` seems a better approach. We should however make sure that we are good with etcd test stability before we start working on it. Thanks @ahrtr  for initiating this discussion.

[2022-11-13 22:41] ahrtr commented on #13606
I agree to remove the `latest` tag. Tags are supposed to immutable, but we need to update `latest` tag each time when we release a new patch or minor version. It may also cause confusion to end users.

Removing it can make the life easier.

[2022-11-13 23:06] ahrtr commented on #14713
Thanks  @mitake and  @spzala for the feedback.

I do not quite catch the point probably due to my English(not a native speaker:( ). My understanding the `etcd-io/maintainers-etcd ` team is supposed to only maintain [etcd](https://github.com/etcd-io/etcd/). And we will add all the existing members into the maintainer list of the new raft repo `github.com/etcd-io/raft `.

[2022-11-14 00:18] pnhoang75 opened #14745 "etcd server causes goroutine leak if client v2 is used"
### What happened?

After embed.Etcd Server closes, there are goroutines leaks if client v2 is used.  No leak if client v3 is used because client v3 has "Close()" function.

### What did you expect to happen?

After embed.Etcd server closes, all goroutines should terminate.

### How can we reproduce it (as minimally and precisely as possible)?

Step to reproduce:
- Create embed.Etcd server with em

[2022-11-14 03:12] zeminzhou commented on #14631
Thanks, I changed `grpc.WaitForReady` to `false`, it works. But I don't understand why `grpc.WaitForReady` is hardcoded to true.

[2022-11-14 04:40] MatteoGioioso commented on #14631
I have no idea, I have found an old issue that proposed to expose some of those options, but it went on stale.

Here is the issue: https://github.com/etcd-io/etcd/issues/13344

[2022-11-14 05:13] kevinzs2048 opened #14748 "T1 support for Arm64"
### What would you like to be added?

Support Arm64 as the stable release.

### Why is this needed?

According to upstream's website (https://etcd.io/docs/v3.3/op-guide/supported-platform/), the Arm64 is not classed as a stable architecture.

There are many the Kubernetes cluster running on Arm64 and already use Arm64 etcd for quite a lot time, but some users are a little concerned, since the ETCD

[2022-11-14 07:01] ahrtr commented on #14745
clientv2 has already been deprecated. Is there any case clientv3 can't satisfy your requirement?

[2022-11-14 08:40] serathius commented on #13606
Done, latest tag was removed.

[2022-11-14 08:40] #13606 closed

[2022-11-14 08:45] serathius commented on #14748
Please read https://etcd.io/docs/v3.6/op-guide/supported-platform/#supporting-a-new-platform

[2022-11-14 10:05] lavacat commented on #14727
I'll take a look at this if nobody else is looking. Conceptually I understand what you mean, but need to spend more time understanding the setup.

[2022-11-14 11:41] #14694 closed

[2022-11-14 11:55] serathius commented on #14727
Thanks for looking into it. I think the change should be pretty simple. Feel free to reach out on [slack](https://kubernetes.slack.com/messages/C3HD8ARJ5/details/) if you have any questions.

[2022-11-14 12:04] IamSatyaonline opened #14749 "ETCD-3.5.5 : panic: failed to recover v3 backend from snapshot"
### What happened?

We are trying to install a helm chart with three members of ETCD service. **ETCD-3.5.5** is being used in our helm chart. Our deployment is getting failed with the error below as "panic: failed to recover v3 backend from snapshot". We are using latest version of ETCD 3.5.5.

panic: failed to recover v3 backend from snapshot
goroutine 1 [running]:
go.uber.org/zap/zapcore.(*Check

[2022-11-14 13:45] serathius commented on #14749
This looks like https://github.com/etcd-io/etcd/issues/14569 and https://github.com/etcd-io/etcd/issues/14382 however logs show that it is affecting v3.5.5 release which fixed the issue.

[2022-11-14 14:00] serathius opened #14750 "Release v3.5.6"
This issue tracks fixes for next v3.5.5 patch release.

Issues blocking the release:

* [x] https://github.com/etcd-io/etcd/issues/14736
* [x] https://github.com/etcd-io/etcd/issues/14764
  * [x] https://github.com/etcd-io/etcd/pull/14770
  * [Backport to v3.5](https://github.com/etcd-io/etcd/pull/14790)
* [x] https://github.com/etcd-io/etcd/pull/14685
  * [x] https://github.com/etcd-io/etcd/pull/

[2022-11-14 14:00] serathius commented on #14750
cc @ahrtr

[2022-11-14 14:12] IamSatyaonline commented on #14749
Hi @serathius

Thanks for your prompt reply.
Could you please help if any preventive fix or workaround is possible to fix this issue.

Thanks,
Satya

[2022-11-14 14:24] serathius commented on #14749
cc @ahrtr

[2022-11-14 17:15] pnhoang75 commented on #14745
We are migrating away from client v2.  Client v3 works for us.
We just want to know whether this is a known issue and there is any workaround for it in client v2.

[2022-11-14 18:05] ahrtr commented on #14749
@IamSatyaonline previously when you ran into https://github.com/etcd-io/etcd/issues/14569, what did you do before upgrading to 3.5.5? Did you resolve the issue before upgrading?

[2022-11-14 18:19] ahrtr commented on #14749
Based on the logs and timestamp, looks like the user ran into the same revision inconsistency issue which was resolved in https://github.com/etcd-io/etcd/pull/14733. **The de-fragmentation operation was somehow terminated**. @IamSatyaonline Please double confirm this and clarify why the de-fragmentation operation was terminated.

FYI. https://github.com/ahrtr/etcd-issues/tree/master/issues/revisio

[2022-11-14 18:31] ahrtr commented on #14750
Most likely https://github.com/etcd-io/etcd/issues/14749 is the same issue as https://github.com/etcd-io/etcd/pull/14685. FYI. https://github.com/etcd-io/etcd/issues/14749#issuecomment-1314189657

[2022-11-14 20:26] ahrtr commented on #14749
@IamSatyaonline Please also do the following checks:
1. Go to ${ETCD_DATA_DIR}/membe/snap, and then execute `ls -lrt`. You can get the index from the name, for example, it's 253 (0xfd) in the last file.
[code]
2. Use etcd-dump-logs to analyze the WAL files. Follow example steps below,
[code]

[2022-11-14 21:26] geetasg commented on #14045
I am looking into adding the Delete api.

[2022-11-14 22:30] tbg commented on #14713
I was saying that we could keep the `etcd-maintainers` team in charge of raft initially but you are probably right that if we're separating it we might as well separate it for good. I certainly have no business maintaining etcd once raft is removed from it, since I haven't contributed to it at all.

[2022-11-14 22:33] ahrtr commented on #14735
Supplement:
- downgrade
- Moveleader
- backend (I will add some failpoints)

[2022-11-14 22:34] #14745 closed

[2022-11-15 02:24] ahrtr commented on #14713
cc @dims @liggitt @deads2k @lavalamp for awareness.

Please note that the change should have no impact on Kubernetes at all.

[2022-11-15 05:51] kevinzs2048 commented on #14748
Hi @serathius, thanks for that info, it's quite clear and I find the main gaps for Arm64 to be a Tier 1 platform. I will discuss internally and adding more CI on linux-arm64 for ETCD to cover the test scenario.

[2022-11-15 06:00] IamSatyaonline commented on #14749
Hi @ahrtr
This is the new deployment and we just installed the ETCD-3.5.5 and facing the issue.
We have not performed any upgrade so far on this deployment.

Thanks,
Satya

[2022-11-15 06:50] ahrtr commented on #14749
Could you please respond to my above two comments?

- https://github.com/etcd-io/etcd/issues/14749#issuecomment-1314189657
- https://github.com/etcd-io/etcd/issues/14749#issuecomment-1314338490

[2022-11-15 08:56] IamSatyaonline commented on #14749
Hi @ahrtr
ETCD running in TLS enabled mode in our cluster. We reloads the TLS certificates once we get the updated certificates.
During relaod of the certificates , We kill the etcd service and restart the ETCD service.
That is the reason , defragmentation is being terminated while killing the ETCD service to relaod the certificates.

It's difficult for us to run the etcd-dump-logs as our deployme

[2022-11-15 08:59] IamSatyaonline commented on #14749
Hi @ahrtr

We can't run the etcd-dump-logs in our deployment As our deployment is not up due to the panic issue.

Thanks,
Satya

[2022-11-15 09:31] ahrtr commented on #14749
Executing etcd-dump-logs doesn't require the etcd instance running. Please execute` ls -lrt `under the `${data_dir}/member/snap`, and also analyze the WAL files using etcd-dump-logs per my comment above

[2022-11-15 09:40] 5o11 opened #14758 "Attached keys deleted before lease expired"
### What happened?

I use Watch API and observe that sometimes all keys attached to one lease are deleted without any warning/error log.

When I check with `lease timetoleave`, I expect keys remain, as below:
[code]
shoud output:
[code]

But I actual:
[code]

Note that it happens randomly with some leases

### What did you expect to happen?

Attached keys remain when lease still alive

### How can

[2022-11-15 09:54] serathius commented on #14758
Thanks for providing steps to reproduce, I will take a look today as it might be relevant to the current release. cc @ahrtr

[2022-11-15 10:13] tjungblu commented on #13909
Cleaning up all the threads today, this requires somewhat of a decision for etcd.

The grpc-gateway does [not support bi-di streaming](https://github.com/grpc-ecosystem/grpc-gateway/issues/2954#issuecomment-1281187913), nor is a correctly working version easy to add. The patch in https://github.com/grpc-ecosystem/grpc-gateway/pull/2972 works functionally, but it's a rather stupid idea to busy loop

[2022-11-15 10:45] 5o11 commented on #14758
Quick command to find out which leases contain no key

[code]

[2022-11-15 12:53] tjungblu opened #14762 "TestKVDelete flake"
### Which github workflows are flaking?

E2E

### Which tests are flaking?
[code]

### Github Action link

https://github.com/etcd-io/etcd/actions/runs/3468325214/jobs/5794029676
https://github.com/etcd-io/etcd/actions/runs/3471097367/jobs/5800143572

### Reason for failure (if possible)

related to #14672

### Anything else we need to know?

This one looks like it takes a little longer to execute

[2022-11-15 12:55] tjungblu opened #14763 "TestCtlV3Lock flake"
### Which github workflows are flaking?

E2E, grpc-proxy

### Which tests are flaking?

[code]

### Github Action link

https://github.com/etcd-io/etcd/actions/runs/3468325214/jobs/5794029603#step:5:55040
https://github.com/etcd-io/etcd/actions/runs/3470638857/jobs/5799090125

### Reason for failure (if possible)

related to https://github.com/etcd-io/etcd/pull/14672

### Anything else we need to

[2022-11-15 13:56] Magnitus- opened #14764 "Manipulating Keys and Manipulating Users Concurrency Causes Segmentation Violation in Client"
### What happened?

I created a bunch of keys concurrently with goroutines. I created a bunch of users concurrency with goroutines in a separate process.

The process generating the keys aborted with this:
[code]

### What did you expect to happen?

Ideally, I expected the client manipulating the keys (root user not impacted by the user manipulations) to handle the user changes gracefully.

Howeve

[2022-11-15 14:21] tjungblu commented on #14763
that's also the case that could be removed (IMHO): https://github.com/etcd-io/etcd/pull/14672#issuecomment-1302244546

[2022-11-15 14:31] serathius commented on #14338
Looks more like a feature request to force etcd to shutdown after being removed from cluster. My first thought is that this should be part of admin operation to kill etcd on disk failure.

[2022-11-15 19:25] spzala commented on #14700
It's not a typo, `etcdutl` is a relatively new utility. You can read more here - https://github.com/etcd-io/etcd/tree/main/etcdctl#snapshot-restore-options-filename Closing but please feel free to reopen if I misunderstood issue. Thanks!

[2022-11-15 19:25] #14700 closed

[2022-11-16 05:40] ahrtr commented on #14764
Thanks @Magnitus- for reporting this issue. I reproduced it locally, and confirmed that it's a real issue.  Will fix it in 3.5.6.

[2022-11-16 07:24] ramil600 commented on #14729
I started working on this, and then noticed that gofail doesn't disable the fail points properly through the http DELETE request:
[https://github.com/etcd-io/gofail/issues/26](url)
PR submitted and linked to the same issue.

[2022-11-16 07:58] #14732 closed

[2022-11-16 08:25] IamSatyaonline commented on #14749
Hi @ahrtr
This deployment is not available now and we are actively trying to reproduce this issue, so that we could follow the steps to analyze the WAL files.
@ahrtr
what is your view on this issue,  is this the genuine issue in ETCD-3.5.5 ? could you please suggest a way to move forward to fix this panic issue ?

Thanks,
Satya

[2022-11-16 08:41] ankitg-03 commented on #14736
Hi, I checked that the fix would be delivered in ETCD 3.5.6. Could you please share the timeline for release of 3.5.6?

[2022-11-16 09:03] ahrtr commented on #14749
We do not need the deployment. Instead, we just need to data-directory of the etcd. Do you mean the data has already been removed? Or the storage supporting the dynamic volume consumed by the deployment has been removed?

Just as I mentioned in https://github.com/etcd-io/etcd/issues/14749#issuecomment-1314189657, it's likely the same issue as https://github.com/etcd-io/etcd/pull/14733. But I need

[2022-11-16 09:54] serathius commented on #14729
Thanks for looking into this!

[2022-11-16 11:21] ahrtr commented on #14758
@serathius  Are you still working on this issue?

[2022-11-16 11:46] #14764 closed

[2022-11-16 12:04] Magnitus- commented on #14764
Thanks :)

[2022-11-16 18:25] ramil600 commented on #14729
@serathius, sure no problem, currently I can register sleep fail point and check whether it was successfully enabled. However I am not sure where to inject it in the code, and when it should be deactivated. Once sleep is enabled in the code, it will trigger sleep every time when it is executed. I will submit the PR shortly.

[2022-11-16 21:30] ahrtr commented on #14763
@tjungblu Could you have a deep dive to figure out the root cause?

[2022-11-16 23:03] ahrtr commented on #14764
etcd 3.4 is also affected, so I need to backport the fix to 3.4 as well.

[2022-11-17 09:23] lavacat opened #14797 "Export Bolt DB metrics"
### What would you like to be added?

Currently only part of Bolt db metrics are available. Specifically:

Declared in `backend/metrics.go` and observed in [batch_tx.go](https://github.com/etcd-io/etcd/blob/main/server/storage/backend/batch_tx.go#L274):
- rebalanceSec
- spillSec
- writeSec

Declared in mvcc/metrics.go and recorded in [backend.go](https://github.com/etcd-io/etcd/blob/main/server/st

[2022-11-17 09:25] tjungblu commented on #14763
@ahrtr as described above and in https://github.com/etcd-io/etcd/pull/14672#issuecomment-1302244546 I think that test is just simply bogus. Would you agree in removing it?

[2022-11-17 10:01] tjungblu commented on #14763
@ahrtr I think this is it: https://github.com/etcd-io/etcd/pull/14798 can we re-run the action a couple more times to see if it still flakes?

[2022-11-17 11:23] serathius commented on #14729
Wrote on https://github.com/etcd-io/etcd/pull/14796 that we care about failpoint execution not failpoint enablement.

[2022-11-17 12:37] serathius commented on #14758
When setting value of a key, by default the lease will also be overridden. You need to provide `--lease-ignore` flag to etcdctl to remove lease (implemented in https://github.com/etcd-io/etcd/issues/6960).

@5o11 I expect that you are not using `--lease-ignore` when writing to the key. Am I correct?

[2022-11-17 12:41] serathius commented on #14797
`More != Better`. Can you providing justification why you need this metrics? I would prefer to pick a small subgroup of metrics which are curated and useful for users. Pushing blindly metrics can just be overwhelming for users as they will not know which are important and should be monitored.

[2022-11-17 19:02] lavacat commented on #14797
@serathius These metrics are for debugging use case, not active monitoring. We can use `etcd_debugging` namespace to prevent confusion. It's also targeted towards folks who are running at scale and have to understand at bbolt internals.

This group completes `backendFreeListType` option. Since the option is exposed, it makes sense to have metric about freelist.
- FreePageN
- PendingPageN
- FreeAll

[2022-11-17 19:16] serathius commented on #14797
cc @ahrtr @ptabor

[2022-11-17 19:26] ajityagaty commented on #14758
@serathius @ahrtr - Do you folks think this could be worked on by a person who has very little context?

[2022-11-17 19:53] serathius commented on #14736
Fixed with https://github.com/etcd-io/etcd/pull/14799

[2022-11-17 19:53] #14736 closed

[2022-11-17 20:02] serathius commented on #14758
@ajityagaty Don't think there is anything to do here. I plan to close it as works like intended after getting confirmation.

[2022-11-17 20:43] ajityagaty commented on #8804
@ahrtr @serathius - I can work on this issue.

[2022-11-17 20:44] ajityagaty commented on #8804
Oh I see that https://github.com/etcd-io/website/pull/608 has been merged. Is there anything else required for this issue to be closed?

[2022-11-17 21:43] vivekpatani commented on #14673
@serathius thank you, I'm out for a week, will to get once back, if someone takes it up before, they are welcomed, else will attend to it once back.

[2022-11-18 00:08] ahrtr commented on #8804
Resolved in https://github.com/etcd-io/website/pull/608

[2022-11-18 00:08] #8804 closed

[2022-11-18 02:04] ahrtr commented on #14758
Just to be clearer, there are two reasons for why the keys disappear in the `attached keys` list,
1. You removed the keys using `etcdctl del` or `clientV3` api;
2. You updated the keys' values using `etcdctl put` or `clientV3` api, without setting `--lease-ignore` for `etcdctl` or [WithIgnoreValue](https://github.com/etcd-io/etcd/blob/6d8139dcea972ca0cb3ab1fd9cc22c959bcf930a/client/v3/op.go#L522)

[2022-11-18 08:47] rahulbapumore opened #14805 "Scaling down and then scaling up ETCD cluster, etcdctl commands are not working"
### What happened?

We have 3 member etcd cluster , and when we scale down our deployment from 3 replicas to 1 replica.
We saw that etcdctl commands didnt work .

So does it mean that etcd doesnt support automatic scale down of etcd cluster to 1 replica?
Is there such limitation?
If it is then what's correct procedure to Scale down etcd from 3 replicas to 1.

And why ETCD is not supporting scale d

[2022-11-18 09:21] ankitg-03 commented on #14736
Hi,
First, I would like to thank you for providing the fix regarding the Inconsistent Timestamps in ETCD logs.

Could you please help to change the timestamp format as below.
Currently we get ETCD timestamps in the the following format - 2022-11-18T07:16:40.169Z but, our required format is 2022-11-18T07:15:24.722+02:00
Is there is a way to get timestamp in ETCD log in the required format 2022-11-1

[2022-11-18 09:29] lavacat commented on #14805
1. Try to reproduce this locally. [Here](https://etcd.io/docs/v3.5/dev-guide/local_cluster/#local-multi-member-cluster) is how to run a 3 node cluster and here is [reconfig](https://etcd.io/docs/v3.5/op-guide/runtime-configuration/#remove-a-member) guide.
2. Please close the issue and move into github Discussions.
3. When running `etcdctl endpoint status` and `etcdctl member list` are you providin

[2022-11-18 10:17] serathius opened #14806 "Use consistent version of gofail"
### What would you like to be added?

Gofail is used in two ways:
* gofail binary installed via `cd tools/mod; go install go.etcd.io/gofail` to transform comments into failpoints
* `go.etcd.io/gofail/runtime` library installed via `cd server; go get go.etcd.io/gofail/runtime` when building etcd with failpoints

https://github.com/etcd-io/etcd/pull/14804 showed that change in gofail interface break

[2022-11-18 10:21] ahrtr commented on #14806
It's exactly the reason why I raised https://github.com/etcd-io/gofail/pull/32. Let's pin the gofail version after we release gofail v0.1.0

[2022-11-18 10:22] #14763 closed

[2022-11-18 10:27] ahrtr commented on #14806
FYI. https://github.com/etcd-io/gofail/issues/33

[2022-11-18 10:35] tjungblu commented on #14045
I've spent some time to move porcupine to generics earlier this week. It also clones the state before invoking the step func, in case you want to get rid of the json parsing in the model.

example in: https://github.com/tjungblu/porcupine/blob/main/_example/map_model.go

[2022-11-18 11:40] serathius commented on #14763
You can check if test still fails on CI runs on merge requests. https://github.com/etcd-io/etcd/commits/main

[2022-11-18 12:22] rahulbapumore commented on #14805
Hi @lavacat ,

**A. Try to reproduce this locally. Here is how to run a 3 node cluster and here is reconfig guide.**
For this , we are checking out configuration, so we will update you with findings.

**B. When running etcdctl endpoint status and etcdctl member list are you providing list of all 3 endpoints using --endpoints option?**

We tried to use --endpoints option still command was not worki

[2022-11-18 13:23] serathius commented on #14806
I was more thinking about using version from `tools/mod/go.sum` when building etcd with failpoints. I assume that you are planning to release v0.1.0 just to update `go get go.etcd.io/gofail/runtime@v0.1.0` however this doesn't the underlying problem that we have to different sources of truth for gofail version.

[2022-11-18 14:52] ahrtr commented on #14806
This isn't correct. We need to bump gofail to v0.1.0 in all places in etcd, including go install `go.etcd.io/gofail@v0.1.0` and go `get go.etcd.io/gofail/runtime@v0.1.0`

[2022-11-18 15:27] ahrtr opened #14807 "Add mix-version testing for sending snaspshot cases"
### What would you like to be added?

We already have mix-version (e.g, A cluster has both 3.5 node and 3.6 node) test, but do not cover the cases of sending snapshot. Specifically we need to cover the following two cases,
1. 3.5 node sends a snapshot to 3.6 node;
2. 3.6 node sends a snapshot to 3.5 node;

Note that etcd doesn't support adding a new member of old version into a cluster with higher

[2022-11-18 16:42] tjungblu commented on #14763
main looks fairly clean:
https://github.com/etcd-io/etcd/actions/workflows/grpcproxy.yaml?query=branch%3Amain
https://github.com/etcd-io/etcd/actions/workflows/e2e.yaml?query=branch%3Amain

[2022-11-18 17:41] ahrtr commented on #14763
Thanks @tjungblu for working on this. I have been busy with other things.

[2022-11-18 17:58] ahrtr commented on #14807
Reference: [cluster.go#L1343](https://github.com/etcd-io/etcd/blob/07a3cfe22eaa96c34898922ddd27a2354bf9459a/tests/framework/integration/cluster.go#L1343)

[2022-11-18 18:25] lavacat commented on #14805
I think you need to specify all 3 endpoints. `--endpoints=https://etcd:2379,https://etcd2:2379,https://etcd3:2379`
Alternatively, you can specify 1 endpoint that's not removed from member list.

[2022-11-18 18:28] ahrtr commented on #14713
The plan for the next step is:
1. Create a separate repo (`github.com/etcd-io/raft`) for raft. (See my PoC https://github.com/ahrtr/raft);
2. Change the module name from `go.etcd.io/etcd/raft/v3` to `go.etcd.io/raft/v3`;
3. Since [raft/v3.6.0-alpha.0](https://github.com/etcd-io/etcd/releases/tag/raft%2Fv3.6.0-alpha.0) is already out, so the first raft version will be v3.6.0.
4. Create a new github

[2022-11-18 18:41] #13783 closed

[2022-11-18 19:52] hexfusion commented on #14713
This in general makes sense to me as the raft package is widely used outside of etcd. As far as cycles to implement I would defer decision to more active maintainers.

[2022-11-18 20:10] ptabor commented on #14713
Make sense to me.

[2022-11-18 22:27] lavacat commented on #14645
Try this command `etcdctl get "" --prefix --keys-only`.

[2022-11-18 23:18] ahrtr commented on #14713
Thanks both @hexfusion and @ptabor for the feedback.

**So we have got positive feedback from all etcd maintainers**. I will post a message to [etcd-dev](https://groups.google.com/g/etcd-dev) to collect feedback as well.

[2022-11-18 23:32] ahrtr commented on #14713
FYI. https://groups.google.com/g/etcd-dev/c/PC1-UXYiWwk

[2022-11-19 07:31] ramil600 commented on #14729
@serathius, one  suggestion I have is resetting sleep duration value to 0 and deleting description in the terms field of the failpoint, once sleep is executed.
Then when you check it through http endpoint, it still exists(http status = 200), but it won't execute sleep anymore, unless randomly activated again.  Please let me know if it is ok with you and I will send the PR to modify gofail library.

[2022-11-19 16:25] linxiulei opened #14809 "Support paginating by key-value size"
### What would you like to be added?

Allow RangeRequest to specify a size limit to paginate the result if the size of result exceeds the limit.

### Why is this needed?

This would allow clients to constrain the response size to avoid overwhelming etcd server with expensive requests.

[2022-11-19 16:26] linxiulei commented on #14809
cc @serathius

[2022-11-19 19:19] lavacat commented on #14809
Is this for Kubernetes use case or general case?

FYI, Kubernetes recently [added](https://github.com/kubernetes/apiserver/commit/f4edb394b0e83de067176cccc2fbefea217632a8) `maxLimit = 10000`

[2022-11-20 05:09] fuweid commented on #14809
Thanks for the link! Be default the object size is limited in 1.5MiB. The pageSize can be used to reduce memory spike.
In kubernetes, it seems it can resolve this issue.

[2022-11-20 08:10] Namjoofar commented on #5422
Problem for me was I could not start node no1. I had three node in my etcd cluster. By stop node's no2 and no3 , my problem solved.

[2022-11-20 08:46] shreemaan-abhishek opened #14811 "error/info log when TTL is <= 0"
### What would you like to be added?

This is an enhancement rather than a feature.

Currently, if I try to create a session as such: `concurrency.NewSession(etcdClient, concurrency.WithTTL(0))` it automatically defaults to 60 without any notice.

It would be nice to have a log getting printed. Example: `"TTL should be > 0, defaulting to 60"`

### Why is this needed?

To improve usability.

[2022-11-20 10:28] linxiulei commented on #14809
I am thinking of Kubernetes use case, but it definitely benefits general cases as well

It seems somehow to mitigate the similar problem. AIUI, the intention of it is actually increase the response size to reduce the calls to etcd.

[2022-11-21 03:17] 5o11 commented on #14758
@serathius @ahrtr It's 2nd case, I use `clientv3` api to put key like this:
[code]
But can you please explain me why it disappears randomly for some keys only?

[2022-11-21 03:24] 5o11 commented on #14758
Please note that I put those keys once and those keys will not be updated, so it's not 2nd case

[2022-11-21 08:49] ahrtr commented on #14758
I did not reproduce the issue, please provide a complete program and detailed steps to reproduce this issue.

Is it easy for you to reproduce this issue?

[2022-11-21 09:45] ahrtr commented on #14728
This might need to be resolved in gofail instead of etcd. Let me take a look.

[2022-11-21 09:50] serathius commented on #14728
This issue will need to introduce changes on bolt, however let's track integration to etcd.

[2022-11-21 10:50] rahulbapumore commented on #14805
Hi @lavacat , Adding three members also giving same issue, giving cluster URL to --endpoints is also giving same issue.
In below command , We are settin set --endpoints to cluster url (not individual members url), still it fails each time.

$ unset ETCDCTL_ENDPOINTS; etcdctl --write-out=table --endpoints=https://etcd:2379/ member list

{"level":"warn","ts":"2022-11-18T11:56:40.490Z","logger":"etcd

[2022-11-21 11:39] serathius commented on #14758
Based on currently presented description it looks like a bug, however we need more details to confirm it.

My current understanding:
* Client creates a lease once.
* Client starts a keep alives probe for the lease
* Client creates a key pointing to the lease
* No other writes to key or lease are done. @5o11 Can you confirm?
* At some point later, key gets deleted but lease still exists. Error: Kee

[2022-11-21 13:03] serathius commented on #14750
With https://github.com/etcd-io/etcd/pull/14799 merged and https://github.com/etcd-io/etcd/issues/14749 not going anywhere I'm starting the release process.

[2022-11-21 13:18] shreemaan-abhishek opened #14814 "A new issue template for "enhancements""
### What would you like to be added?

A new issue template for "enhancements"

### Why is this needed?

The previous issue that I created is a mismatch for the issue type. So it would be nice to have this category.

[2022-11-21 13:20] serathius commented on #14814
Please use feature template

[2022-11-21 14:26] rahulbapumore commented on #14805
Hi @tjungblu ,
For scaling down, we are also removing members. But when we are again scaling up and adding member according to configuration suggested by @lavacat , but pod-1 and pod-2 are restarting again and again giving following errors:
See highlighted text, It says to remove data-dir, so we deleted /data/member/wal directory in pod1 and pod2,  and pod started coming up.
So is it correct thing

[2022-11-21 19:57] #14709 closed

[2022-11-21 21:47] serathius commented on #14735
Would love to also get some suggestions from @tbg @pavelkalinnikov. Raft library already has couple of failpoints, still it might be worth to expand them, especially with https://github.com/etcd-io/etcd/pull/14627.

[2022-11-22 03:51] 5o11 commented on #14758
@ahrtr It's very hard to reproduce the issue

@serathius Yes, you are correct.
No other writes to key or lease are done.
Lease ID is not reused.

Etcd version is in first comment

[code]
Above is all etcd-related code, it's so simple, think of it as implementing a kind of service registry, then each client creates lease once, keep it alive and just put some keys on start and never touch them again

[2022-11-22 06:28] IamSatyaonline commented on #14749
We have cleanup the storage and reinstalled the new chart. So we don't have the snap and WAL data.

No , it's not easy to reproduce this issue.

[2022-11-22 06:33] ahrtr commented on #14749
Thanks @IamSatyaonline for the feedback. I'd close this issue for now. Please feel free to reopen it or create a new one if you reproduce this issue again. Please keep the environment once you reproduce it. thx

[2022-11-22 06:46] ahrtr commented on #14749
The issue is fixed in 3.5.6.

[2022-11-22 07:56] lavacat commented on #14040
@halegreen I don't have log from CI, but imo the root cause was `ignoring conf change ... possible unapplied conf change at index` that causes second ProposeConfChange to timeout. I've used TestMemberAddRemoveFail (see below) to reproduce.

My theory is that flakiness was eliminated by https://github.com/etcd-io/etcd/commit/73029fe89fece14af3a205490803b5b337c688a7 because it reduced time between [

[2022-11-22 07:59] lavacat commented on #14040
One improvement is to add `ErrProposalDropped` for `EntryConfChange` in raft to fast-fail and not wait for timeout. I'll add an issue and draft PR for this.

[2022-11-22 08:43] ahrtr opened #14820 "Unified test framework"
### What would you like to be added?

We reinvented some wheels on test frameworks. Currently there are functional test, e2e test and linearizability test (based on e2e). The Jepsen test is also an option, but it's written in Clojure, and out of the existing maintainers' control, so it isn't in the scope for now.

Each test framework has pros and cons.

## Functional test
**Pros**
1. The functiona

[2022-11-22 08:47] ahrtr commented on #14820
I would expect more contributors can get involved in the design, so as to have deeper understanding on the unified test framework. I am also thinking probably we can have more maintainers to dedicated to the maintenance of the test framework, just like the maintainer (e.g. @tbg ) dedicated to raft.

[2022-11-22 09:11] ankitg-03 commented on #14736
Hi,
I wanted to follow up on the above mentioned query.

[2022-11-22 09:35] rahulbapumore commented on #14805
Hi @tjungblu  @lavacat ,
Any updates on above questions?

[2022-11-22 10:05] tjungblu commented on #14805
Can you show us how you deploy etcd in k8s with the yamls? it's impossible to understand how you supply arguments to it from the error logs.

[2022-11-22 10:20] serathius commented on #14820
Maybe I'm little biased (autored one of the framework), but I totally don't understand your point. I have totally different perception on each of the arguments you proposed that I think we need a larger alignment before moving forward.

[2022-11-22 11:11] shreemaan-abhishek opened #14821 "Fix issue in a comment."
### What would you like to be added?

I am not totally sure if I am correct but I think [here](https://github.com/etcd-io/etcd/blob/main/client/v3/concurrency/key.go#L48-L49), we should mention:

Instead of just:

I tried to verify this with [the PR](https://github.com/etcd-io/etcd/pull/7444/files) related to the above change (found using git blame)

### Why is this needed?

For clarity. Especiall

[2022-11-22 11:23] ptabor commented on #14713
I think we should also migrate:
  https://github.com/etcd-io/etcd/tree/main/contrib/raftexample

It seems to have only a dependency on etcd Snapshot,
but I think it should get decoupled from etcd even if it means cloning the Snapshot proto
to make it part of learning experience for the RAFT lib.

[2022-11-22 13:18] serathius commented on #14821
Fixing comment is not a thing that needs an dedicated issue. Feel free to create an PR where we can discuss it.

[2022-11-22 13:18] #14821 closed

[2022-11-22 13:19] rahulbapumore commented on #14805
Hi @tjungblu ,

We have statefulset and we have one shell script which runs on startup of POD, and adding member is configured the same way given in ETCD documentation through same shell script file.
So while scale down our statefulset from replicas=3 to replicas=1 :
1. We are removing etcd member-1 and member-2, and then scaling down  from replicas=3 to replicas=1.

So when we are scaling from  r

[2022-11-22 13:48] serathius commented on #14820
Meet with @ahrtr and we agreed on couple of things:
* Having two frameworks doesn't make sense. We need to merge them at some point.
* Naming is hard. Both functional and linearizability tests serve the same purpose, they should wall under same name.
* Functional tests have their own cluster management framework which is bad. E2e test framework should be used.
* Functional test are needlessly comp

[2022-11-22 13:50] serathius commented on #14758
Asked about go module version in your binary as example you sent didn't use etcdctl.

[2022-11-22 13:54] serathius commented on #14758
I expect this might be a race condition related to leases not being linearizable. https://github.com/etcd-io/etcd/issues/13915. Would be good to verify correctness of the solution. Based on problems with reproducing I expect this is a rare race based on time.

I think it could be reproduced with adding additional sleep failpoints in lease logic. Would appriciate any help with repro as I don't thin

[2022-11-22 14:19] fuweid opened #14823 "[tests/integration] flake test case TestCompactHashCheckDetectCorruption"
### Which github workflows are flaking?

Tests

### Which tests are flaking?

TestCompactHashCheckDetectCorruption

### Github Action link

https://github.com/etcd-io/etcd/actions/runs/3356040544/jobs/5560786679

### Reason for failure (if possible)

If the corrupted member has been elected as leader, the `memberID` in alert response won't be the corrupted one.
It will be a smaller follower ID sin

[2022-11-22 16:07] #14823 closed, assigned to nobody

[2022-11-22 17:03] serathius commented on #14750
Release was published

[2022-11-22 17:03] #14750 closed

[2022-11-22 17:55] lavacat opened #14826 "functional test flaky. "etcdserver: too many requests""
### Which github workflows are flaking?

https://github.com/etcd-io/etcd/actions/runs/3525330252/jobs/5911919473#step:5:1802

I've also seen the same failure in https://github.com/etcd-io/etcd/issues/14257#issuecomment-1213368462 (see 2)

### Which tests are flaking?

In both cases it was BLACKHOLE_PEER_PORT_TX_RX_LEADER test case.

Full log with error:
[code]

### Github Action link

https://gith

[2022-11-22 18:01] #14384 closed

[2022-11-22 18:49] ahrtr commented on #14713
Makes sense to me, and thx @ptabor for explicitly raised this. Previously I thought about this. It isn't a big deal and nobody explicitly mentioned it, so I did not do it in my PoC.

Let me take care of this. The raft example shouldn't depend on etcd at all.

[2022-11-22 20:06] lavacat commented on #14826
There are repeated `failed to detach old lease from a key` in the `tailed` logs from etcd nodes.
[code]

Might be related to https://github.com/etcd-io/etcd/issues/14487 (same error msg)

[2022-11-22 21:13] ahrtr opened #14827 "Add copyright header for health_test.go"
### What would you like to be added?

Add copyright header for
https://github.com/etcd-io/etcd/blob/main/server/etcdserver/api/etcdhttp/health_test.go

[code]

### Why is this needed?

Each file should have the copyright header

[2022-11-22 21:33] ahrtr commented on #14713
I just had a quick evaluation on this, and it seems that it isn't that simple. The raft implementation follows a minimalistic design philosophy, and it depends on the [rafthttp](https://github.com/etcd-io/etcd/tree/main/server/etcdserver/api/rafthttp) and [wal](https://github.com/etcd-io/etcd/tree/main/server/storage/wal) as well. So I regard the [raftexample](https://github.com/etcd-io/etcd/tree/

[2022-11-23 06:51] 5o11 commented on #14758
Sorry, this is client & api version:

[code]

go module version:
[code]

Don't mind, I'll monitor it

[2022-11-23 08:06] rahulbapumore commented on #14805
Hi @lavacat @tjungblu ,
Any view on this?

[2022-11-23 12:46] serathius commented on #14827
This should be prevented by `license_header` check.  I think the problem is that `go_srcs_in_module`, which is used to generate list of go files to check, skips test files. The result is that existing validation doesn't ensure license header in test files.

Code
https://github.com/etcd-io/etcd/blob/2e790d2c4f57eebdb266537ffe9eb7801ebc7cc3/scripts/test.sh#L476-L481

[2022-11-23 13:30] serathius commented on #14736
Don't know, please post questions on https://github.com/etcd-io/etcd/discussions

[2022-11-23 13:56] new-dream opened #14832 "limit the size of the etcd wal file"
### What would you like to be added?

add a startup flag to limit the size of the WAL file.

### Why is this needed?

The size of disk is strictly limited in our product so the disk storage space for etcd cannot be sufficient. Therefore, we want to limit the size of the etcd wal file.

[2022-11-23 14:48] new-dream opened #14837 "add new function in etcdutl to check if wal and db files is fine."
### What would you like to be added?

add new function in etcdutl to check if wal and db files is fine.
such as `etcdutl check broken`

### Why is this needed?

The function will detect wrong data files in one of etcd instance and then delete this file and recover to join the cluster.

[2022-11-23 15:00] ptabor commented on #14832
Currently the wal needs to be at least 128MB + 64MB for 'preallocated page' for next WAL segment.
How low do you need to go ?

[2022-11-23 21:20] YokkiShi opened #14841 "Allow to config the max number of keys that the server is allowed to return in the Range API call"
### What would you like to be added?

Capability to config an upper limit for the server response similar to –max-txn-ops and –max-request-bytes for request? The intent is to prevent callers from stressing the server.

Refer to the discussion here https://github.com/etcd-io/etcd/discussions/14808

### Why is this needed?

One of our dynamic security scan reports indicated the ETCD server **Lack Of

[2022-11-23 22:03] #14827 closed

[2022-11-23 22:12] lavacat commented on #14837
Can you describe what type of `broken`? Is this to avoid `data-dir used by this member must be removed` message during etcd joining cluster?

If yes, I think the idea is to leave data intact so operator can inspect it and make decision.

[2022-11-23 23:28] ahrtr commented on #14841
Is [WithLimit](https://github.com/etcd-io/etcd/blob/b6a35947100f98920e4adbb80f475f08a44cdff7/client/v3/op.go#L342) what you want?

[2022-11-24 01:54] ahrtr commented on #14841
You can also set `--limit` when executing `etcdctl get `command.

[2022-11-24 01:54] #14841 closed

[2022-11-24 03:12] new-dream commented on #14837
I added a pr [14844](https://github.com/etcd-io/etcd/pull/14844) to do this.

This command checks whether the wal file is normal .
Second, check whether the db file can be opened normally.
Finally, try to read the consistent index from the db file.
If there are no errors and panics, the command returns 0.

How to use this command:
1. This command is invoked when the etcd process exits with error c

[2022-11-24 03:29] new-dream commented on #14837
we have encountered the following panic:
```panic: tocommit(1808562) is out of range [1808561]. Was the raft log corrupted, truncated, or lost?```
```panic: freepages: failed to get all reachable pages (page 633: multiple references)```
etc.

[2022-11-24 03:41] AlexAi27 commented on #13909
Hello tjungblu, thanks for your explaination of this issue. We have the same proble with the author of this issue. I want to know why the etcd server can provide the `watch` API by grpc gateway? Is there any differences in grpc gateway http handler between etcd server and grpc gateway service implemented by ourselves?

[2022-11-24 05:54] ahrtr commented on #13909
etcd already supports grpc gateway via the [--enable-grpc-gateway](https://github.com/etcd-io/etcd/blob/b6a35947100f98920e4adbb80f475f08a44cdff7/server/etcdmain/config.go#L259) flag, and it's enabled by default.

If you really want to support similar functionality in your own grpc gateway, I guess you need to get it wrapped in a websocket-proxy, please the example [serve.go#L304-L319](https://gith

[2022-11-24 06:25] Koji-Study opened #14845 "Error from transaction"
### What happened?

When using the transaction of etcd， get error as below:
/ # etcdctl txn -i
compares:
lease("/key1") = "2480221585875029147"
panic: bad value

### What did you expect to happen?

Need your help.

### How can we reproduce it (as minimally and precisely as possible)?

No idea, also need your help

### Anything else we need to know?

_No response_

### Etcd version (please run comm

[2022-11-24 06:31] rahulbapumore commented on #14805
Hi @lavacat  @tjungblu ,
Any updates please?

[2022-11-24 06:50] mkumatag opened #14846 "TestSignal unit test failes"
### What happened?

[code]
### What did you expect to happen?

Test should pass

### How can we reproduce it (as minimally and precisely as possible)?

$ make test

### Anything else we need to know?

In the test the error message comparison fails because sleep is in a different path in the machine

[code]

test case error check needs to be more generic to handle such situations.

### Etcd version

[2022-11-24 06:54] mkumatag commented on #14846
Introduced in https://github.com/etcd-io/etcd/pull/14672

[2022-11-24 07:54] caixiangibm opened #14848 "Plan to upgrade goVersion for etcdctl?"
### What happened?

Downloaded the latest etcd-v3.5.6 and check etcdctl go version information.
We found its go version still with go1.16.15
[code]

### What did you expect to happen?

When will etcd use latest go version of go 1.19.3 or 1.18.8 to build and release newer version?

### How can we reproduce it (as minimally and precisely as possible)?

just run: go version etcd-v3.5.6-linux-amd64/et

[2022-11-24 08:07] #14487 closed

[2022-11-24 08:14] ahrtr opened #14849 "Remove memberID from data corruption alarm"
### What happened?

Only leader performs the corruption check, and it always assumes that it's one of the followers' data corrupted.  It isn't correct, it's also possible that the leader data corrupted.

Please refer the discussion in https://github.com/etcd-io/etcd/pull/14828

### What did you expect to happen?

Remove memberID from data corruption alarm or set it as 0.

### How can we reproduce

[2022-11-24 08:18] tjungblu commented on #14805
Hi @rahulbapumore,
I still see no YAML.

[2022-11-24 08:30] ahrtr commented on #14849
The easiest solution might be intentionally set the memberID as 0, otherwise we need to update the alarm structure. WDYT? @serathius

[2022-11-24 08:31] serathius commented on #14848
No, we don't usually backport golang minor version upgrades and go1.17 has some breaking changes. Details in https://github.com/etcd-io/etcd/issues/14105#issuecomment-1153018727

[2022-11-24 08:31] #14848 closed

[2022-11-24 08:33] serathius commented on #14849
Sounds Good

[2022-11-24 08:37] ahrtr commented on #14849
Related to https://github.com/etcd-io/etcd/pull/14272

[2022-11-24 08:41] caixiangibm commented on #14848
But it seems there was PR for go version 1.19.3?
https://github.com/etcd-io/etcd/pull/14678

[2022-11-24 08:48] serathius commented on #14848
This is the `main` branch used for development.

[2022-11-24 08:59] caixiangibm commented on #14848
Given that there is go version 1.19.3 master branch for development , the newer go version for etcd is in development and evaluation ?

[2022-11-24 09:35] serathius commented on #14848
Next release of etcd (v3.6) is expected to launch with (+/-) latest available go version on the time of the release.

[2022-11-24 09:45] careless6666 opened #14850 "Lock Permission denied"
### What happened?

I have 2 instances of the same service with the following simply logic
Instance A:
create lease => leaseA
lock("someName", leaseA)

Instance B:
create lease => leaseB
lock("someName", leaseB)

Expected behavior:
Instance B wait, until unlock or lease expired

Real behavior:
Instance B sometimes receive error permission denied on client side, on server side: "auth: user name is

[2022-11-24 09:52] serathius commented on #14845
Etcd v3.3 is no longer supported. Please reproduce on newer versions.

[2022-11-24 09:52] #14845 closed

[2022-11-24 11:19] ahrtr commented on #14850
What's the `CN` (CommonName) in the certificate used by your client? It's used as the username, so you need to create the user and grant-role for it properly.

[2022-11-24 14:14] Elbehery commented on #14713
+1

[2022-11-24 14:23] ptabor commented on #14713
Thank you for checking. Makes sense to me.
I would consider then just removing this contrib eventually. Etcd maintainers does not need 'etcd light` that proven to have bugs on its own. Contributing (migrating to) self-contained raft-minimal example might be interesting low-priority starter project.

[2022-11-24 15:11] careless6666 commented on #14850
My chain with replaced company name

openssl x509 -text -noout -in stg_result.pfx
`
Certificate:
    Data:
        Version: 3 (0x2)
        Serial Number:
            53:10:b6:58:b9:37:1a:ea:29:ed:70:33:b7:14:b5:b8:75:ea:45:b0
        Signature Algorithm: sha256WithRSAEncryption
        Issuer: C = RU, ST = Moscow, L = Moscow, O = MyCompany, OU = ITO, CN = MyCompany ETCD STG
        Validity

[2022-11-24 16:45] FerminCastro opened #14851 "WAL permission denied error when restoring etcd on different storage"
### What happened?

For many months we have been able to restore etcd snapshots and start etcd using a data dir on NFS. Now we need to change the storage where we place etcd-data and etcd-wal. We basically restore the snapshot and bring up etcd from the new storage. Even though the file system permissions are exactly the same ones on the new storage server as in the old NFS one we are now facing t

[2022-11-24 17:45] lavacat commented on #14727
Quick update - I think I got this working but need to wait for an extra approval internally to submit PR since it's not part of etcd repo. If somebody wants to take over, that's fine with me. The change isn't very large. Otherwise I'll submit in a week or so.

[2022-11-24 18:11] ahrtr commented on #14713
Thanks @Elbehery for the feedback.

Thanks for the response. Are you suggesting to remove [raftexample](https://github.com/etcd-io/etcd/tree/main/contrib/raftexample) from etcd repo eventually? I have no objection for it; but I would suggest to keep it as it's for now, until we finish migrating raft to a separate repo and implemented a self-contained raft example in the raft repo.

Yes, we can cre

[2022-11-24 18:37] ahrtr commented on #14850
I would suggest you to provide a complete simple `golang` program to reproduce this, so that others can help you to figure out what's the issue.

[2022-11-24 18:54] ahrtr commented on #14851
Can you please write a simple golang program to call `os.Open(walDir)` and `dir.Readdirnames`?

FYI. https://github.com/etcd-io/etcd/blob/f18ac02e0f60da33dd818812f7f7f6d7856670a5/client/pkg/fileutil/read_dir.go#L48-L54

[2022-11-25 07:53] Koji-Study commented on #14845
But it does not  work in Etcd v3.5

[2022-11-25 08:55] serathius commented on #14845
Please file a separate report for v3.5.

[2022-11-25 08:57] serathius commented on #14849
Note, can develop changes first on `main` branch?

[2022-11-25 09:06] ahrtr commented on #14849
Only 3.4 and 3.5 need this change. main will follow https://github.com/etcd-io/etcd/pull/14828

[2022-11-25 09:14] FerminCastro commented on #14851
[opc@olk8-m1 scriptsFRA]$ cat  /scratch/docker/scripts/scriptsFRA/read_dir.go
package main

import (
        "os"
        "fmt"
)

func main() {
    fmt.Println("Reading dir...")
    dir, err := os.Open("/u02/data/dbfs_root/dbfsdir/olk8-m1/member/wal/")
        if err != nil {
                fmt.Println("Error!")
                fmt.Println(err)
        }
        defer dir.Close()

        names,

[2022-11-25 09:39] #14846 closed

[2022-11-25 09:40] careless6666 commented on #14850
We found problem in client library for dotnet, on latest commit of main branch with problem we can't reproduce, thanks

[2022-11-25 11:10] ahrtr commented on #14849
Resolved.

[2022-11-25 11:10] #14849 closed

[2022-11-25 11:53] ahrtr commented on #14851
Thanks for the feedback. Then the only possible reason is etcd failed to lock the file.

FYI. https://github.com/etcd-io/etcd/blob/488e5413d7447109e4260abbc9c29e6eb75a053e/client/pkg/fileutil/lock_flock.go#L30-L36

Please code something like below,
[code]

[2022-11-25 15:46] FerminCastro commented on #14851
[opc@olk8-m1 ~]$ cat /scratch/docker/scripts/scriptsFRA/check_dir.go

`package main

import (
        "os"
        "fmt"
        "syscall"
        "errors"
)

func main() {
    fmt.Println("Checking wal file...")
    f, err := os.OpenFile("/u02/data/dbfs_root/dbfsdir/olk8-m1/member/wal/0000000000000000-0000000000000000.wal", os.O_RDWR, 0600)
        if err != nil {
                 fmt.Println("So

[2022-11-25 15:51] FerminCastro commented on #14851
One thing though, notice that OBVIOUSLY now etcd is STOPPED (i.e. it has not come up) Saying this in case you were expecting the checks above to be run while etcd was in fact trying to access or start etc... (we won't be able to try that because etcd does not even come up as I said)

[2022-11-25 17:37] careless6666 commented on #14850
I write example on golang with same error, only first gorutine get lock, two gorutine write in log error

cannot dial server:  rpc error: code = Unknown desc = rpc error: code = PermissionDenied desc = etcdserver: permission denied

https://github.com/careless6666/etcd-cluster-issue/blob/main/go-example/EtcdIssue/main.go

[2022-11-26 07:03] shreemaan-abhishek opened #14857 "Enforce minimum TTL for lease."
### What would you like to be added?

I tried to create a lease with TTL = 1. Like so: ` etcdClient.Grant(context.TODO(), 1)`

But when I check the TTL value using `etcdctl lease timetolive <lease-id>`. I found that the _**actual TTL**_ is 2 seconds.

Moreover, here [the comment](https://github.com/etcd-io/etcd/blob/488e5413d7447109e4260abbc9c29e6eb75a053e/tests/integration/clientv3/examples/examp

[2022-11-26 07:04] shreemaan-abhishek commented on #14857
P.S: The output of `etcdctl lease timetolive <lease-id>` was:

[code]

[2022-11-27 08:50] ahrtr commented on #14727
I tend to keep the package path. It's clearer which package each failpoint belongs to, and Users can define duplicated failpoints in different packages.

There is already [an issue ](https://github.com/etcd-io/gofail/issues/16), and already a [PR](https://github.com/etcd-io/gofail/pull/18) for it.

[2022-11-27 09:32] ahrtr commented on #14713
All the feedback we got so far is positive, so I will kick off the migration process per https://github.com/etcd-io/etcd/issues/14713#issuecomment-1320385870 in the following week. Please let me know if anyone has any concern.

[2022-11-27 19:57] serathius commented on #14727
I proposed to drop path name as it will really complicate maintaining failure injection for older etcd releases. Instead of unifying all failpoints and reusing code, we will need to have a separate failpoint list for each release.

[2022-11-27 20:22] serathius commented on #14806
Fixed by https://github.com/etcd-io/etcd/pull/14859

[2022-11-27 20:22] #14806 closed

[2022-11-27 21:44] ahrtr commented on #14727
For anyone information... all the existing failpoints are as below,
[code]

# Three proposals.

## 1. Remove the package
It will look like below.
[code]

It looks concise and consistent across releases, but obviously it isn't clear which package each failpoint belong to based on the output.

## 2. Keep the packge
It will look like below,
[code]

It's clearer. Of course, different releases have dif

[2022-11-28 02:16] ahrtr commented on #14713
Update: the new repo [raft](https://github.com/etcd-io/raft) is already created, and raised the first PR https://github.com/etcd-io/raft/pull/1 .

[2022-11-28 08:42] ahrtr commented on #14851
Thanks for the feedback. It's interesting.  How did you run etcd? As processes or container?

Could you try to reproduce this issue using https://github.com/etcd-io/etcd/pull/14864 and provide the complete log?  Please build etcd using golang 1.16.15, because we test and release 3.5 using the Golang version.

[2022-11-28 09:13] serathius commented on #14727
Knowing which package failpoints belongs doesn't seem like a real con. It doesn't diminish any value and knowing it's package doesn't help in any case. You could say that it's easier to discover but I disagree. I don't expect anyone to use package name to find the failpoints, I expect them to grep the code with a failpoint name.

However, if you grep codebase for `go.etcd.io/etcd/server/v3/storage

[2022-11-28 11:06] FerminCastro commented on #14851
ETCD is running as kubernetes pod (this was a kubeadm generated system). Hence I think it will be eve more difficult to use the version you point to. Isn't there any other way to add additional debugging? Any additional flags for etcd that would trigger a mode detailed error information?

[2022-11-28 11:32] ahrtr commented on #14851
Unfortunately, there isn't much debug log in the related code path. My immediately feeling is it might be due to the POD in which the etcd is running doesn't have correct permission to access the PV.

The suggestion is to run another POD and consume the same PV, and then log into the POD to check the WAL directory permission.

[2022-11-28 11:40] ahrtr commented on #14851
This seems not an etcd issue. Instead, it might be due to the StorageClass/PVC/volume mis-configuration.

[2022-11-28 12:27] FerminCastro commented on #14851
We are not using PVC. We are using hostpath for the etcd pod mount. The file system is totally up an ready, writable, readable and behaving properly for all operations. i.e. has to be some issue with etcd not behaving properly with this file system. Does etcd have any specific file system requirements? What checks would be required?

[2022-11-28 12:53] FerminCastro commented on #14851
I am not sure I understand why you have removed the bug label. At a minimum it is clear that the error messages IS INCORRECT

[2022-11-28 18:01] ahrtr commented on #14851
With regard to  WAL files, the suggested code/check in https://github.com/etcd-io/etcd/issues/14851#issuecomment-1326774285 and https://github.com/etcd-io/etcd/issues/14851#issuecomment-1327383684 are all how etcd access the filesystem. You have already confirmed that the filesystem is working well.

FYI. etcd needs to mmap the db file, but I do not see any error on that. Instead, the error is onl

[2022-11-28 19:40] ahrtr commented on #14727
The points do not stand at all to me. Partially auto-generated prefix isn't a problem at all, as long as the rule is open and clear. Automatically generating a prefix is even better to me, because it guarantees that each failpoint always has a "category" prefixed, and users do not need to worry about it at all.

For me, `backend/afterCommit` definitely looks better and clearer than `backendAfterCo

[2022-11-29 07:19] diffusedlogic opened #14866 "OpenTelemetry-go related changes"
### What happened?

While using etcd now in my golang project, following dependencies related error is coming:

go.etcd.io/etcd/v3 imports
go.etcd.io/etcd/tests/v3/integration imports
go.etcd.io/etcd/server/v3/embed imports
go.opentelemetry.io/otel/exporters/otlp/otlpgrpc imports
go.opentelemetry.io/otel/exporters/otlp/internal/transform tested by
go.opentelemetry.io/otel/exporters/otlp/internal/t

[2022-11-29 08:47] FerminCastro commented on #14851
But it has to be something different with the WAL dir/file Right? I mean, before we get the error with WAL we see this other message:

{"level":"info","ts":"2022-11-24T16:19:22.436Z","caller":"etcdserver/backend.go:81","msg":"opened backend db","path":"/var/lib/etcd/member/snap/db","took":"9.905917ms"}

"/lib/etcd/member/snap/db" resides in the exact same physical storage and directory as WAL (/u0

[2022-11-29 08:53] ahrtr commented on #14851
etcd mmap the db file, but uses standard filesystem interface(e.g. os.Open, dir.Readdirnames, os.OpenFile and syscall.Flock) to operate WAL directory and files.

I suggest you to double check per my suggestion above. Pasted again below,

[2022-11-29 09:03] FerminCastro commented on #14851
[opc@olk8-m1 ~]$ cat /scratch/docker/sample-dbfs-pod.yaml
apiVersion: v1
kind: Pod
metadata:
  name: test-pd
spec:
  containers:
  - image: httpd:latest
    name: test-container
    volumeMounts:
    - mountPath: /test-pd
      name: test-volume
  volumes:
  - name: test-volume
    hostPath:
        path: /u02/data/dbfs_root/dbfsdir/olk8-m1
        type: DirectoryOrCreate
  nodeSelector:
    testt

[2022-11-29 09:10] ahrtr commented on #14851
Can you try this? If you still can't reproduce this, then please try to build & run etcd using https://github.com/etcd-io/etcd/pull/14864 inside the POD/container. Probably you need to use image ubuntu?

[2022-11-29 09:42] FerminCastro commented on #14851
Thats a good test... unfortunately the results are "good" (i.e. we can't reproduce an probs with the wal file inside the pod)

[opc@olk8-m1 olk8-m1]$ cat /u02/data/dbfs_root/dbfsdir/olk8-m1/check_dir.go
package main

import (
        "os"
        "fmt"
        "syscall"
        "errors"
)

func main() {
    fmt.Println("Checking wal file...")
    f, err := os.OpenFile("/test-pd/member/wal/00000000

[2022-11-29 09:57] ahrtr commented on #14851
Please format the source code using code. Already updated your comment to format it. Please try to do it yourself next time.

Please also try https://github.com/etcd-io/etcd/issues/14851#issuecomment-1327193200

[2022-11-29 11:43] FerminCastro commented on #14851
Yeah, apologies for the format, thought I had marked it. Anyways, we also included the check for the dir, and is also working without any errors.
`[opc@olk8-m1 olk8-m1]$ k exec test-pd  -- /test-pd/check_dir
Checking wal file...
All good opening file buddy!
NO lock error either
Now checking dir...
All good in opening dir also!
[0000000000000000-0000000000000000.wal]`

[2022-11-29 17:25] Bhargav-InfraCloud commented on #14396
PR #14868 for reading go build flags from env `GO_BUILD_FLAGS`.
`-trimpath` already exists in building [etcd][1], [etcdutl][2] & [etcdctl][3].

[1]: https://github.com/etcd-io/etcd/blob/main/scripts/build_lib.sh#L23
[2]: https://github.com/etcd-io/etcd/blob/main/scripts/build_lib.sh#L34
[3]: https://github.com/etcd-io/etcd/blob/main/scripts/build_lib.sh#L45

[2022-11-29 17:49] Bhargav-InfraCloud opened #14869 "`make verify-shellcheck` only warns, doesn't fail when tool doesn't exist"
### What happened?

Make target `verify-shellcheck` only warns and doesn't fail in absence of shellcheck binary.

### What did you expect to happen?

When `shellcheck` is missing in local, `verify-shellcheck` should fail.

### How can we reproduce it (as minimally and precisely as possible)?

1. Uninstall (or unset path to) `shellcheck`.
2. Run `make verify-shellcheck`.
    It gives warning:
[code

[2022-11-29 20:02] ChameleonRed opened #14870 "I can not generate valid gRPC client because invalid https://github.com/etcd-io/etcd/blob/main/api/versionpb/version.proto"
### What happened?

I can not generate gRPC client for Python since protobuf 4.x.

### What did you expect to happen?

Fixed syntax of file.

### How can we reproduce it (as minimally and precisely as possible)?

0. pip install protobuf==4.21.7
1. Generate files from proto.
2. https://github.com/etcd-io/etcd/blob/main/api/versionpb/version.proto
3. Can be others from here: https://github.com/etcd-

[2022-11-29 22:53] ahrtr commented on #14866
Please use the same go version as the version in go.mod

[2022-11-29 23:14] ahrtr commented on #14869
Thanks @Bhargav-InfraCloud for raising this. I would suggest to add `install-shellcheck` in Makefile, and make `verify-shellcheck` depend on it

[code]

[2022-11-30 00:16] ahrtr commented on #14870
It looks like an issue of [python runtime library](https://github.com/protocolbuffers/protobuf/tree/main/python) instead of an etcd issue.

[2022-11-30 06:13] HeavenTonight commented on #14869
/assign

[2022-11-30 07:12] ramil600 commented on #12571
Currently as I see clientv3 still uses deprecated resolver:

`func (c *Client) Dial(ep string) (*grpc.ClientConn, error) {
	creds := c.credentialsForEndpoint(ep)

	// Using ad-hoc created resolver, to guarantee only explicitly given
	// endpoint is used.
	return c.dial(creds, grpc.WithResolvers(resolver.New(ep)))`

If we try to update it with the new implemented resolver it will create import cycl

[2022-11-30 07:16] ramil600 commented on #12124
Currently as I see clientv3 still uses deprecated resolver:

func (c *Client) Dial(ep string) (*grpc.ClientConn, error) { creds := c.credentialsForEndpoint(ep) // Using ad-hoc created resolver, to guarantee only explicitly given // endpoint is used. return c.dial(creds, grpc.WithResolvers(resolver.New(ep)))

If we try to update it with the new implemented resolver it will create import cycle, as I

[2022-11-30 07:19] Bhargav-InfraCloud commented on #14869
@ahrtr [staticcheck][1] is a linter for go files and [shellcheck][2] is for shell files. Are you sure staticcheck also works on shell files?

[1]: https://github.com/dominikh/go-tools/tree/master/cmd/staticcheck
[2]: https://github.com/koalaman/shellcheck

[2022-11-30 07:39] ahrtr commented on #14869
Please see my comments in https://github.com/etcd-io/etcd/pull/14872

[2022-11-30 08:02] ChameleonRed commented on #14870
Do you generated from these protos code for other language using protobuf 4.x for example Golang without any problem.

Since information from protobuf is rather this is problem with C parser which is probably same for all languages - I afraid iti si not related to Python at all but to all languages.

Are you sure?

[2022-11-30 09:44] serathius commented on #14870
We use `protoc` (with golang plugins) which is the standard C parser. I expect that you might be using different protoc  version.