[2017-12-15 17:19] gyuho commented on #9006
Just backported https://github.com/coreos/etcd/commit/9fb7bbdb2db023f41aba84e7da657b78135d9957 to release-3.2 branch.

[2017-12-15 17:21] #8817 closed

[2017-12-15 18:08] #9006 closed

[2017-12-15 18:59] xiang90 commented on #9021
it is probably caused by the broken wal files. do you know how the wal files got broken at the first place? did the machine experience any disk issues?

[2017-12-15 19:01] xiang90 commented on #9021
Also are you able to reproduce this problem? If not, are you willing to share your broken data dir for us to investigate?

[2017-12-15 19:21] gyuho opened #9022 "functional-tester: fail with "found data inconsistency with peers""
tester

Dec 15 19:07:48 ft-normal-tester etcd-tester[19621]: WARNING: 2017/12/15 19:07:48 Failed to dial 10.138.0.2:2379: grpc: the connection is closing; please retry.
Dec 15 19:07:48 ft-normal-tester etcd-tester[19621]: WARNING: 2017/12/15 19:07:48 Failed to dial 10.138.0.2:2379: grpc: the connection is closing; please retry.
Dec 15 19:07:48 ft-normal-tester etcd-tester[19621]: #2 setHealthKey e

[2017-12-15 19:27] xiang90 commented on #8645
Can you fill in more details here?

maybe @spzala can give this a try.

[2017-12-15 19:30] xiang90 commented on #7800
/cc @jpbetz we probably want to get this done in 3.4 cycle.

[2017-12-15 19:37] xiang90 commented on #7567
@wrouesnel

here is the issue in go: https://go-review.googlesource.com/c/go/+/34914.

i do not think etcd/client want to be in the business of determining how to resolve DNS. If you do care about this, you should have something resolve the DNS to IP addresses first, and supply the resolved IP addresses into etcd/client. Then etcd can do what you want inside its client library.

[2017-12-15 19:37] #7567 closed

[2017-12-15 19:43] xiang90 commented on #7926
Can someone verify if this is still the case on windows?

[2017-12-15 19:43] xiang90 commented on #7620
@jpbetz do you want to work on this for the next release cycle?

[2017-12-16 01:56] chaithramohan commented on #9021
Not able to reproduce the problem, did not face the issue yet again after that to share the data file as well but wanted to know if there is any fix in any upcoming release or is there a way to automatically handle such a failure ??

[2017-12-16 01:58] xiang90 commented on #9021
I am not sure what is the root cause, so I cannot provide you the answer.

On Fri, Dec 15, 2017 at 5:56 PM chaithramohan <notifications@github.com>
wrote:

[2017-12-16 02:01] chaithramohan commented on #9021
okay, i will try getting more details once i get hold of them. In the meanwhile with regard to a similar issue (https://github.com/coreos/etcd/issues/8935), some investigation was going on in

"I will be surprised that etcd 3.1.11 fixes the root cause. I feel the root cause is somewhere in raft pkg, and it is a pretty subtle one.

We probably should still spend sometime to understand why it happen

[2017-12-16 02:02] xiang90 commented on #9021
That is a different issue. That cluster has no broken wal files.

On Fri, Dec 15, 2017 at 6:01 PM chaithramohan <notifications@github.com>
wrote:

[2017-12-16 14:37] djain13 commented on #9002
@hexfusion
Some more observations:
- Unhealthy node has become `leader` of the cluster.
- Using `etcdctl ls` I could fetch the key from unhealthy node.

Now I am confused- Is the node really unhealthy? or `etcdctl cluster-health` command is returning health incorrectly.

[2017-12-16 14:57] chaithramohan commented on #9021
Okay i am not yet sure if we can reproduce the issue, if yes i shall share more details.

Can you please suggest any solution to avoid broken wal files (incase this issue comes because of that) ?

[2017-12-16 20:07] xiang90 commented on #8965
/cc @hexfusion maybe you want to try to reproduce this one? you might need to know how Prometheus (https://prometheus.io/) is integrated into etcd (see https://github.com/coreos/etcd/blob/master/etcdserver/api/v2http/metrics.go#L30).

then we need to check if the accounting of the metrics is correct in a few code paths.

[2017-12-16 20:09] hexfusion commented on #8965
@xiang90 sounds interesting, thanks.

[2017-12-16 20:14] xiang90 commented on #8941
@YuleiXiao This is absolutely something we want to solve (or at least understand it and document the behavior). Can you help to dig into it more? I bet the problem is at the client side. Can you try to read the client code and see if there is any issue with it?

[2017-12-16 20:16] xiang90 commented on #8888
etcd/raft does snapshot internally to reclaim disk from WAL files. We do not support incremental snapshot from external. But that is something doable and wont be super hard. Do you have any interest working on it?

[2017-12-16 20:18] xiang90 commented on #8951
I am closing this due to low activity. @mitake 's answer is reasonable.

[2017-12-16 20:18] #8951 closed

[2017-12-17 05:08] KeithTt opened #9026 "How to check the status of a etcd cluster which is not running on default port?"
etcd version: v2.3.8

As the title...for example, my etcd cluster listen 6666 and 6667.

[2017-12-17 12:11] hexfusion commented on #9026
Hi @KeithTt your looking for the —endpoint flag.

https://github.com/coreos/etcd/blob/master/Documentation/v2/faq.md

[2017-12-17 13:16] KeithTt commented on #9026
@hexfusion Got it, thanx a lot.

[code]

Close it.

[2017-12-17 13:16] #9026 closed

[2017-12-17 23:29] vyasprashant opened #9027 "transport: Error while dialing dial tcp [::]:6060"
# Issue reporting

Am running clair on minikube and am getting the error in the logs

{"Event":"Start fetching vulnerabilities","Level":"info","Location":"ubuntu.go:88","Time":"2017-12-17 23:10:41.165052","package":"Ubuntu"}
{"Event":"Start fetching vulnerabilities","Level":"info","Location":"alpine.go:52","Time":"2017-12-17 23:10:41.165317","package":"Alpine"}
{"Event":"Start fetching vulnerabili

[2017-12-18 02:55] gyuho opened #9028 "etcdctl/v3: improve "lease timetolive" output on expired leases"
https://github.com/coreos/etcd/pull/9017/files#r157349677

Before

[code]

Should be

[code]

/cc @xiang90 @hexfusion

[2017-12-18 03:10] YuleiXiao commented on #8941
OK, I am trying. @xiang90

[2017-12-18 04:36] cnljf commented on #8914
Hi, I have tried again. Not successful.
Here is the whole log with debug mode. Some sensitive infomation has been changed. But it's still exact.
[2389.log](https://github.com/coreos/etcd/files/1566612/2389.log)

[2017-12-18 05:15] KeithTt opened #9029 "Can etcd be proxied by lvs? And how to access the v3 api by curl？"
etcd version: v2.3.8 and v3.2.11

I met a problem that I can not access etcd cluster when proxy etcd with lvs.

It can be accessed through a single instance:
[code]

But can not be accessed through the vip(192.168.6.16):
[code]

The same configuration with another application of k8s `apiserver` works well.
[code]
[code]
[code]

[2017-12-18 05:16] spzala commented on #8984
Update on work - started digging into it. Thanks!

[2017-12-18 06:28] WandyLau opened #9030 "etcd discover"
When I try to bring up a cluster with this discover tech, I got two question as follow:

1. The first step is to determine the cluster size with curl command: curl -X put .....
    It seems this command use the 80 port as default. But when I tried this with my localhost, which
    report with connection refused when a etcd server is actually running in my host.  Is there any
    other config again

[2017-12-18 09:15] WandyLau commented on #9030
As far as I can tell that the discovery mechanism requires a existing etcd cluster. The etc member will anticipate the cluster with curl from the port 80. As I found in the doc following lines.

**If http://example.com hosts an etcd cluster for discovery service, a full URL to discovery keyspace will be http://example.com/v2/keys/_etcd/registry.**

But when I start a cluster in local, I cannot get

[2017-12-18 10:05] WandyLau commented on #9030
It seems the port should be assigned, 80 is the default one.

 **curl -X PUT http://example.com/v2/keys/_etcd/registry/${UUID}/${member_id}?prevExist=false -d value="${member_name}=${member_peer_url_1}&${member_name}=${member_peer_url_2}"**

what does this **member_id** means here?

[2017-12-18 11:42] KeithTt commented on #9029
config error...

close it!

[2017-12-18 11:42] #9029 closed

[2017-12-18 12:40] hexfusion commented on #8965
@xiang90, a quick update I setup a test ENV in compose. https://github.com/hexfusion/etcd-compose-examples/tree/master/etcd2-prometheus . Could use curl directly vs compose but I figured it was a decent example to document for others.

I will add a test script to generate a dataset that we can review metric accounting. I hope to have time this evening.

[2017-12-18 13:24] hexfusion opened #9033 "clientv3/lease.go: TTL, missing documentation on expired Lease."
It is unclear that -1 is the expected TTL value for an expired lease.

ref: https://github.com/coreos/etcd/issues/9006

[2017-12-18 13:49] hexfusion commented on #9028
@gyuho, I agree, **LEASE_ID TTL(0s), remaining(-1s)** is neither helpful or clear.

+1

[2017-12-18 13:51] hexfusion commented on #9033
Pending: https://github.com/coreos/etcd/issues/9028

[2017-12-18 14:15] hexfusion commented on #9030
It seems this command use the 80 port as default. But when I tried this with my localhost, which
report with connection refused when a etcd server is actually running in my host. Is there any
other config against this?

@WandyLau I think you are focusing on the port 80 example too much.

[code]
maybe this example will help you.

Sure as far as curl is concerned curl -X PUT **https**://127.0.0.1:23

[2017-12-18 14:22] hexfusion commented on #9030
Also why not use [public-discovery-service](https://github.com/coreos/etcd/blob/master/Documentation/v2/discovery_protocol.md#public-discovery-service)?

[2017-12-18 14:50] hexfusion commented on #9028
@gyuho think this can make 3.3?

[2017-12-18 15:12] hexfusion commented on #9027
Hi @vyasprashant, looks like everything you need should be in the Clair repo.
https://github.com/coreos/clair/blob/master/Documentation/running-clair.md#deployment-strategies

I am not sure but using ipv6 vs ipv4 could be the root of the issue. Is Clair listening on ipv6? `sudo netstat -ptln | grep 6060`

In general, this is a Clair config issue vs etcd issue it seems.

[2017-12-18 15:22] gyuho commented on #9028
@hexfusion Yes, as long as we document clearly. Do you want to work on this?

[2017-12-18 15:49] hexfusion commented on #9028
@gyuho, sure

[2017-12-18 15:50] frankgreco opened #9035 "Testing with v3 Client"
I am trying to test a function that calls `github.com/coreos/etcd/clientv3.New()`. I thought I'd just refactor my function that I could pass in the client. However, I am unable to find a mock/fake client provided by the package. Does one exist? Could you point me to the code where testing the client is done. Worst case scenario I could just create a test `Client` struct but that would be messy.

[2017-12-18 16:02] discordianfish commented on #9007
So yeah with Requires= it fails because etcd takes a few restarts to come up. So I definitely need some more coordination to fix my problem. That being said, there is definitely some scenario where etcd response with an empty version struct because that seems the only path to get to this error, otherwise this: https://github.com/kubernetes/kubernetes/blob/38e33513126e2090b578531b7c3919348bf6b167/c

[2017-12-18 17:04] hexfusion commented on #9035
@frankgreco are you looking for this?

https://github.com/coreos/etcd/blob/master/clientv3/client_test.go

[2017-12-18 17:31] hexfusion commented on #9033
fixed  https://github.com/coreos/etcd/pull/9034

[2017-12-18 17:31] #9033 closed

[2017-12-18 17:46] gyuho commented on #8993
/cc @fanminshi

[2017-12-18 18:48] frankgreco commented on #9035
@hexfusion not quite.

Suppose I want to unit test the following function:
[code]

Because `clientv3.Client` is not an interface, I would have to wrap it with an interface, implement my own test client and pass that to my `Foo` function instead. Does this library have any helper packages that assist with this?

[2017-12-18 18:53] xiang90 commented on #9027
I agree with @hexfusion that this is a clair rather than etcd issue. So closing here.

[2017-12-18 18:53] #9027 closed

[2017-12-18 18:58] hexfusion commented on #9035
@frankgreco I see, perhaps you are looking for integration?

https://github.com/coreos/etcd/blob/9c326ab78cd43d6386e4d206ed440530d2db9db0/integration/cluster_proxy.go#L96-L102

[2017-12-18 19:05] gyuho commented on #9035
Currently there's no mock v3 client. All etcd clientv3 implementation require actual etcd servers (either executable binaries or embedded).

What is your use case for mock client?

[2017-12-18 19:42] hexfusion commented on #9010
fixed  #9017

[2017-12-18 19:42] #9010 closed

[2017-12-18 20:36] fanminshi opened #9037 "etcd's maintenance snapshot api doesn't return etcd kv revision."
Currently, there isn't good way get the kv store revision of the snapshot return by maintenance snapshot api without opening it up using boltdb. In etcd operator, we want to know the snapshot's kv store revision when we perform an backup. The current way to achieve that is to first made a GET call to etcd server and use the header from the resp as the kv store revision. However, this approach is n

[2017-12-18 21:45] hexfusion commented on #9037
Hi @fanminshi, this sounds interesting, I have a couple questions. What does the revision represent exactly? The state of KV at point X? How would that revision be transferable? Meaning once you have $revision, what can you do with it, independent from the snapshot itself. I am trying to understand the big picture :).

[2017-12-18 22:01] fanminshi commented on #9037
`What does the revision represent exactly`
it is state of KV when snapshot begins.

`How would that revision be transferable? Meaning once you have $revision, what can you do with it`
Suppose that I want to back up of an etcd server. At T= 0, it has revision == 100. I call snapshot and back up the kv-state at 100. After a while at T = 100, nothing changes and it still has revision == 100. If I am

[2017-12-18 22:21] hexfusion commented on #9037
@fanminshi, so if the KV is unchanged why backup same data again? That makes sense. What about time-based data like Lease TTL. Does a snapshot also represent that data? I just wonder if time is another component of a snapshot, and how that is handled? Thank you for your answers!

[2017-12-18 22:59] fanminshi commented on #9037
`Does a snapshot also represent that data?`
Yes, snapshot does contain all the Leases.

`I just wonder if time is another component of a snapshot, and how that is handled? Thank you for your answers!`
If I remember correctly, the Lease TTL saved snapshot will be renewed when snapshot is restored into a new cluster. I am unaware of any other time based information that's saved in snapshot.

[2017-12-18 23:42] hexfusion commented on #9037
Nice, so all existing Lease TTL are renewed and if a Lease expires KV revision is no longer the same. 👍

[2017-12-18 23:56] fanminshi commented on #9037
`if a Lease expires KV revision is no longer the same. `
actually, Leases are not revisioned. If an lease is expired and it is not associated with a key, it will not change KV's revision.

[2017-12-19 00:06] fanminshi commented on #9037
@hexfusion snapshot is basically a boltdb file. kv is under a bucket and it is versioned. lease is under another bucket and is not versioned.

[2017-12-19 00:36] hexfusion commented on #9037
@fanminshi so is the only guarantee with a snapshot KV state? The issue I see is 2 snapshots with same KV state but Lease is not the same. So in this case are these two snapshots the same snapshot revision? Is that something we should be concerned with? I guess as long as that is documented but it seems an easy thing to assume, that all state is the same if snapshot revision's are the same.

[2017-12-19 02:00] WandyLau commented on #9030
@hexfusion Thanks for your reply. We are trying to build up a production solution, so this public service may not be proper in security. We have to reduce the dependency on the third party.

[2017-12-19 02:40] WandyLau commented on #9030
yes, I can make it.  BTW, what does this v2 mean in the link? I thought it was the version of etcd. So
I could not get the result with v3.

    curl -X PUT http://127.0.0.1:2379/v2/keys/_etcd/registry/${UUID}/_config/size -d
    value=${cluster_size}

And what does this member_id mean in below link? How can I get it?
    curl -X PUT http://example.com/v2/keys/_etcd/registry/${UUID}/${member_id}?pr

[2017-12-19 03:19] xiezhenye commented on #8998
`Set` with option `PrevNoExist: true` ，is one shot, the operation won't be retried when failed.

[2017-12-19 03:20] hexfusion commented on #8965
@xiang90 @EqbalS I can not recreate the issue.

[code]
![2017-12-18-22 15 01-screenshot](https://user-images.githubusercontent.com/1249749/34139225-8e48b69a-e441-11e7-8ab9-d46a54193f1f.png)

[2017-12-19 04:57] WandyLau commented on #9030
When I try to register the first node, I got some confused

    curl -X PUT http://example.com/v2/keys/_etcd/registry/${UUID}/${member_id}?prevExist=false -d
    value="${member_name}=${member_peer_url_1}&${member_name}=${member_peer_url_2}"

what does the member_id means?

[2017-12-19 12:26] hexfusion commented on #8965
@xiang90 shall I try to replicate the issue within k8s?

[2017-12-19 13:08] hexfusion commented on #9030
**member_id** is a unique identifier for each node. For example `etcdctl member list` would display the member_id of each node in the cluster.

@WandyLau I am not that familiar with manual node management of v2 cluster using REST API but assuming your using etcdctl.

[cluster-reconfiguration-operations](https://github.com/coreos/etcd/blob/master/Documentation/op-guide/runtime-configuration.md#clus

[2017-12-19 13:31] hexfusion commented on #8965
@xiang90  perhaps this is just a misunderstanding? By received total, it seems the metric is collecting 200's or success. where the failure is collecting 400's. Is the assumption that received total is success plus failure? That appears to not be the case. So it is easy to have more failure then total as they are separate metrics.

[2017-12-19 13:39] hexfusion commented on #8965
Maybe we could include `etcd_http_total` or you could manually create it by adding them together.

[2017-12-19 13:44] swapnilgm commented on #8888
Yeah sure. I'll take it forward.

[2017-12-19 15:30] hexfusion commented on #8888
I think this is important for sane backup/restore strategy +1

[2017-12-19 17:21] fanminshi commented on #9037
@hexfusion
A snapshot from maintenance snapshot api will return current KV state, leases, and everything else that's stored in etcd server.
`so is the only guarantee with a snapshot KV state?`
my proposed back strategy only guarantee KV state. But there can be other backup strategy that just backup everything every 5 minutes regardless of kv store revision. So that the lease state is at least 5 mi

[2017-12-19 20:53] gyuho opened #9043 "clientv3: configure grpc.MaxCallSendMsgSize, grpc.MaxCallRecvMsgSize"
*For server-side*, `etcd --max-request-bytes` must be configured--defaults to 1.5MB.

v3.2

https://github.com/coreos/etcd/blob/1fa227da71556c77f083ebfdccd1e298e4d1bf65/embed/config.go#L44

v3.3+

https://github.com/coreos/etcd/blob/b0a7623be82c332942994ac2a09c70d930ebbb77/embed/config.go#L50

External projects can configure this with `embed.NewConfig().MaxRequestBytes = 5 * 1024 * 1024`.

<br>

*

[2017-12-19 21:56] gyuho opened #9044 "Rethink clientv3 stream API error handling"
Current behavior

- Lease `KeepAlive/KeepAliveOnce` does not return corresponding context error, even if context is canceled or timed out (proposal https://github.com/coreos/etcd/pull/9036)
  - It only closes the response channel
- Lease `KeepAlive/KeepAliveOnce` should just return response channel, where we can post errors (just like `Watch` interface--proposal https://github.com/coreos/etcd/pull

[2017-12-20 03:07] willkk opened #9048 "building failed"
go version:1.9.2
etcd version: latest master

steps:
1.git clone https://github.com/coreos/etcd.git
2.cd etcd
3. ./build
outputs:
\# runtime/internal/sys
flag provided but not defined: -goversion
usage: compile [options] file.go...
  -%	debug non-static initializers
  -+	compiling runtime
  -B	disable bounds checking
  -D path
    	set relative path for local imports
  -E	debug symbol export
  -I

[2017-12-20 03:13] nick-99999 opened #9049 "qps will decrease for many tests frequently?"
hi，all：
       I used one etcd node，everything is default.The qps will decrease when i create keys and delete
 keys for many tests frequently.

version:
etcdctl version: 3.2.11
API version: 3.2

[2017-12-20 03:24] gyuho commented on #9048
What's your output of `go env`?

[2017-12-20 03:26] willkk commented on #9048
[root@wxtest021vm07 etcd]# go env
GOARCH="amd64"
GOBIN=""
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="linux"
GOOS="linux"
GOPATH="/home/root1/file_manager"
GORACE=""
GOROOT="/usr/local/go"
GOTOOLDIR="/usr/local/go/pkg/tool/linux_amd64"
GCCGO="gccgo"
CC="gcc"
GOGCCFLAGS="-fPIC -m64 -pthread -fmessage-length=0 -fdebug-prefix-map=/tmp/go-build293291111=/tmp/go-build"
CXX="g++"
CGO_ENABLED="1"
CGO_CFLAGS="-

[2017-12-20 03:26] willkk commented on #9048
# go env
GOARCH="amd64"
GOBIN=""
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="linux"
GOOS="linux"
GOPATH="/home/root1/file_manager"
GORACE=""
GOROOT="/usr/local/go"
GOTOOLDIR="/usr/local/go/pkg/tool/linux_amd64"
GCCGO="gccgo"
CC="gcc"
GOGCCFLAGS="-fPIC -m64 -pthread -fmessage-length=0 -fdebug-prefix-map=/tmp/go-build293291111=/tmp/go-build"
CXX="g++"
CGO_ENABLED="1"
CGO_CFLAGS="-g -O2"
CGO_CPPFLAGS=""
CG

[2017-12-20 03:28] hexfusion commented on #9049
hi @nick-99999 can you provide the exact steps to reproduce this with a simple script?

[2017-12-20 03:48] nick-99999 commented on #9049
OK！
1.sudo ectd
2.start server
3.begin to test with k6,every time about 3w keys
   keys format
  /test/1513736674430000000/uid1
  /test/1513736674367000000/uid2
  /test/1513736674368000000/ui3
  ......
4.server get keys with range,the number is 200 every time
5.server delete keys when got them
repeat step 3~5,after many times,the qps decrease frenquently.

But when i restart etcd, and then delete

[2017-12-20 03:52] gyuho commented on #9043
Just note, tests are failing

[code]

Should be fixed when https://github.com/coreos/etcd/pull/9047 is reworked tomorrow.

[2017-12-20 04:00] gyuho commented on #9048
etcd is not passing `-goversion`... Did you modify build script?

[code]

in the repository root.

Builds on linux are working fine.

[2017-12-20 04:00] #9048 closed

[2017-12-20 05:08] willkk commented on #9048
No. I haven't. All etcd files are cloned from github.

[2017-12-20 05:10] gyuho commented on #9048
@willkk Can you provide the output of

[code]

[2017-12-20 05:14] willkk commented on #9048
[root@wxtest021vm07 etcd]# env
HOSTNAME=wxtest021vm07
SELINUX_ROLE_REQUESTED=
TERM=xterm-256color
SHELL=/bin/bash
HISTSIZE=1000
SSH_CLIENT=192.168.120.227 61468 22
SELINUX_USE_CURRENT_RANGE=
OLDPWD=/home/root1
SSH_TTY=/dev/pts/2
USER=root
LS_COLORS=rs=0:di=38;5;27:ln=38;5;51:mh=44;38;5;15:pi=40;38;5;11:so=38;5;13:do=38;5;5:bd=48;5;232;38;5;11:cd=48;5;232;38;5;3:or=48;5;232;38;5;9:mi=05;48;5;232;38

[2017-12-20 05:17] willkk commented on #9048
I get it. It's GOROOT causing the error. My go1.9.2 is in another directory. Building is ok after re-setting GOROOT to go1.9.2.

[2017-12-20 06:13] garyyang85 commented on #6612
@xiang90 the issue still exists on 3.0.17

[2017-12-20 07:52] gyuho opened #9050 "pkg/expect: *ExpectProcess.Close blocks on Mac OS"
https://github.com/coreos/etcd/blob/828289db3264378ecd444af7cbc8341a7c901333/pkg/expect/expect.go#L141-L142

So e2e tests are timing out...

[2017-12-20 08:22] mitake commented on #8914
At least the node which produced the log is using simple token. It is strange. Could you provide log files of every node?

[2017-12-20 08:52] gyliu513 opened #9051 "etcd cpu and memory usage is very high in 1000 nodes kubernetes cluster"
# Bug reporting

etcd version
[code]

cluster info:
[code]

etcd is running on master node.

Issue: After all worker node added, etcd take too many resource which cause master very slow.

[code]

A good bug report has some very specific qualities, so please read over our short document on [reporting bugs][report_bugs] before submitting a bug report.

To ask a question, go ahead and ignore this.

[

[2017-12-20 10:12] djain13 commented on #9002
@hexfusion
You got a look into this issue? Also can you respond to below question, or point me to appropriate documentation.

[2017-12-20 11:04] hexfusion commented on #9002
@djain13 taking a look

[2017-12-20 11:05] christianhuening commented on #8009
We might be hitting this as well with etcd 3.1. So what is the recommended action to get a working cluster again? Compacting, defragmenting and disarming does not work as the alarm gets re-raised immediately

[2017-12-20 12:24] fallblank opened #9054 "Doubt when set up two peer urls."
I set up two peer urls on each etcd node in my cluster. For some reason, one peer url can't access by other notes.
Normally etcd can switch to the accessible one, print log like this:

2017-12-20 02:21:18.068065 I | etcdserver/membership: added member a9efae717f838092 [https://ETCD-206-8-2-9160-10-2-31-0.grm-etcd.manage.svc.cluster.grm:11006 https://ETCD-206-8-2-9160-10-2-31-1.grm-etcd.manage.svc.

[2017-12-20 12:27] fallblank commented on #9054
I try to reproduce the situation with kinds of condition, but failed..........

[2017-12-20 12:41] hexfusion commented on #9054
Hi @fallblank,  do you mean you can not reproduce the issue or that you can? Can you please post the exact flags/ENV you are passing to etcd to start these nodes so we can try to reproduce?

[2017-12-20 12:55] fallblank commented on #9054
@hexfusion , thanks for replying.   I can't reproduce it。
start command:
etcd --name ETCD-206-8-2-9160-10-2-31
--data-dir /opt/etcd-data
--initial-advertise-peer-urls https://ETCD-206-8-2-9160-10-2-31-0.grm-etcd.manage.svc.cluster.grm:11006,https://ETCD-206-8-2-9160-10-2-31-1.grm-etcd.manage.svc.cluster.grm:11006
--listen-peer-urls https://206.8.2.9:11006,https://160.10.2.31:11006
--advertise-clie

[2017-12-20 12:58] fallblank commented on #9054
I add members one by one to cluster though V2 Member api.

[2017-12-20 13:59] fallblank commented on #9054
God! I  reproduce it !!!
it seem a bug, I will attach all logs later.

[2017-12-20 14:01] hexfusion commented on #9054
@fallblank nice work, have you tried against a more recent version of 3.1.x? The issue could be resolved. But yes please post logs.

[2017-12-20 15:46] swestcott commented on #8320
Further to the above, I feel that allowing users to choose ciphers themselves would offer greater flexibility and allow cipher configuration to be tailored for different regulatory environments. For example, PCI DSS refer to NIST SP 800-52 for TLS configuration.

This is the approach Kubernetes have taken via https://github.com/kubernetes/kubernetes/pull/48859

[2017-12-20 16:24] aauren commented on #9008
@mitake @xiang90 any thoughts or ideas on the additional information I provided?

[2017-12-20 17:32] hexfusion commented on #8965
@xiang90, @EqbalS are we on the same page with my assessment? ^^

[2017-12-20 17:49] gyuho opened #9055 "etcdctl/v3, grpc-proxy: configure --max-send/recv-bytes"
https://github.com/coreos/etcd/pull/9047 allows custom gRPC message size limit in clientv3. But neither in v3 `etcdctl` nor `grpc-proxy`. If anybody needs this setting in `etcdctl` or `grpc-proxy`, here's the git diff.

v3 `etcdctl`

[code]

[code]

[code]

`grpc-proxy`

[code]

[2017-12-20 17:49] #9028 closed

[2017-12-20 18:26] xiang90 commented on #9051
this does not seem like an etcd issue, but kubernetes one. we have no idea about what your k8s cluster put into etcd. and why you feel the data size is big. what if k8s does need ~3gb data?

[2017-12-20 18:26] #9051 closed

[2017-12-20 18:53] #8814 closed

[2017-12-20 20:25] #9043 closed

[2017-12-20 21:31] EqbalS commented on #8965
@hexfusion
If that's the case I think this should change:
https://github.com/coreos/etcd/blob/b01f16a4a4a3d71cd7d187dba89808edde0cbddc/Documentation/op-guide/etcd3_alert.rules.yml#L58-L77
This is the suggested alerting rules here in the monitoring documentation:
https://github.com/coreos/etcd/blob/master/Documentation/op-guide/monitoring.md#alerting
and it obviously is dividing failed_total by rec

[2017-12-20 22:11] hexfusion commented on #8965
@EqbalS if the alert threshold is intended to be a percentage failure rate I would agree with you.

[2017-12-20 22:12] hexfusion commented on #8965
@EqbalS, would you be interested in helping to fix it?

[2017-12-21 02:05] WandyLau commented on #9030
@hexfusion yes, that's helpful.

One more question on DNS discovery, how the DNS SRV records are created? They are created by the etcd automatically or manually? I found no explanation on this. Could you please help me with this?

[2017-12-21 02:43] hexfusion commented on #9030
@WandyLau you would need to add these records manually. This is a pretty good example of what is expected from the docs. [create-dns-srv-records](https://github.com/coreos/etcd/blob/master/Documentation/op-guide/clustering.md#create-dns-srv-records)

[2017-12-21 03:49] fallblank commented on #9054
Sorry for late. All logs below.
the leader node:
<-! TLS INFO IGNORE ->
2017-12-20 13:20:27.753578 I | etcdmain: etcd Version: 3.1.0
2017-12-20 13:20:27.753589 I | etcdmain: Git SHA: 8ba2897
2017-12-20 13:20:27.753594 I | etcdmain: Go Version: go1.7.4
2017-12-20 13:20:27.753598 I | etcdmain: Go OS/Arch: linux/amd64
2017-12-20 13:20:27.753605 I | etcdmain: setting maximum number of CPUs to 4, total

[2017-12-21 03:53] fallblank commented on #9054
when I run  `etcdctl cluster-health` command, it return:

member 580f92ffca2eedb8 is healthy: got healthy result from https://ETCD-172-10-2-91192-168-2-3-0.example.svc:2379
member d45a805f009e718e is healthy: got healthy result from https://ETCD-172-10-9-168192-168-9-25-0.example.svc:2379
member e4ab1f961dc7b7ee is healthy: got healthy result from https://ETCD-172-10-2-9192-168-2-31-0.example.svc:

[2017-12-21 03:55] fallblank commented on #9054
but on the leader node, it print `unhealthy cluster` when I try to add a new node to cluster

[2017-12-21 04:00] fallblank commented on #9054
After I restart leader node process, all thing goes well, the new node can be add normally.

[2017-12-21 04:07] fallblank commented on #9054
@hexfusion

Is there a link for relative release note?

[2017-12-21 04:08] fallblank commented on #9054
@hexfusion

Is there a link for relative release note?

[2017-12-21 06:12] NStanleyZhang commented on #7926
we also run into this issue on RedHat 7.2.

[2017-12-21 06:37] cnljf commented on #8914
Here is 2391 and 2392 log:
[2391.log](https://github.com/coreos/etcd/files/1578164/2391.log)
[2393.log](https://github.com/coreos/etcd/files/1578165/2393.log)

[2017-12-21 07:46] mitake commented on #8914
@cnljf I tried to reproduce your problem but it wasn't possible. Your cluster is using simple token instead of jwt. Could you check the `--auth-token` option again? Also could you share your commit id of etcd repository?

[2017-12-21 07:49] mitake commented on #9008
@aauren sorry for my late response. The priority of user name auth and CN auth was swapped recently and it isn't backported to stable releases yet. Could you try the master branch?

[2017-12-21 08:33] cnljf commented on #8914
etcd Version: 3.2.9
Git SHA: f1d7dd8
Can you give me your reproduce config, etcd version and start command line?

[2017-12-21 09:23] #9049 closed

[2017-12-21 09:40] WandyLau commented on #9030
@hexfusion Ah, I got it. Thanks. I think I can close this.

[2017-12-21 09:40] #9030 closed

[2017-12-21 12:34] hexfusion commented on #9002
@djain13 sorry this is taking so long but perhaps you can help me while I get my ENV setup to handle these larger tests. One metric that is used to label a node unhealthy is [proposals_committed_total](https://github.com/coreos/etcd/blob/677606da7ddcf030fe48acc64db0c84231e52d7e/Documentation/metrics.md#server). My theory is that because you are basically starting from scratch with the new node and

[2017-12-21 15:10] hexfusion commented on #9054
@fallblank Just a general comment, thanks for the logs I hope to review soon. In the meantime try to replicate against latest? [v3.1.11](https://github.com/coreos/etcd/releases/tag/v3.1.11)?

[2017-12-21 17:35] djain13 commented on #9002
@hexfusion
Thanks, I will setup Prometheus. Until then some updates:
- My etcd3 crashed again, and this time it actually brought down the host as well :-(.
- We rebooted the host and brought back the etcd3 node/container. Its been 4 hours, container is up, and it has used close to 1600mb, which is comparable to other two etcd nodes in the cluster.
- Output from `/metrics` API-
[etcd2-metrics.log](

[2017-12-21 18:16] gyuho commented on #9002
@djain13 `cluster-health` command is same as `curl -L http://localhost:2379/health`. It just pings your client URL. Do you have server log at the moment you got the unhealthy status?

[2017-12-21 18:18] gyuho commented on #9054
Duplicate with https://github.com/coreos/etcd/issues/8383. Should be fixed in v3.3.

Please try https://github.com/coreos/etcd/releases/tag/v3.3.0-rc.0 and reopen if the problem still remains.

[2017-12-21 18:18] #9054 closed

[2017-12-21 18:21] fanminshi commented on #9002
@djain13 does this issue exist on latest version of etcd such as [v3.2.12]( https://github.com/coreos/etcd/releases/tag/v3.2.12)?

[2017-12-21 18:21] djain13 commented on #9002
@gyuho
That was the first thing I tried. I don't see any specific logs rolling when I fired `etcdctl cluster-health` or `/health`.
Here is the o/p from `/health`- {"health": "false"}

[2017-12-21 18:23] gyuho commented on #9002
@djain13 Maybe try with raw `curl` command (without docker)? Also try out the latest release as @fanminshi suggested.

[2017-12-21 18:24] djain13 commented on #9002
We haven't tried the latest version yet- we are on `{"etcdserver":"3.1.7","etcdcluster":"3.1.0"}`. Do you think moving to latest version shall help? If version was an issue, then all the nodes in the cluster might have shown the same problem.

[2017-12-21 18:25] djain13 commented on #9002
Output from raw curl:
[code]

[2017-12-21 18:27] gyuho commented on #9002
@djain13 That's strange... I would not suggest upgrading it just because of this. It would be great if you can reproduce this behavior without affecting the production cluster.

[2017-12-21 18:31] fanminshi commented on #9002
@gyuho I am thinking about one way to reproduce this is issue to first create an new etcd cluster with snapshot from the production cluster. Then try to add a new member to the new test cluster to see if memory leaks still occur?

We can test the the new cluster with v3.1.7 and v3.2.12 without affecting the production cluster. What do you think?

[2017-12-21 18:34] gyuho commented on #9002
@fanminshi Agree. Just make sure read upgrade guide https://github.com/coreos/etcd/blob/master/Documentation/upgrades/upgrade_3_2.md. Most breaking changes are from v3 client. Shouldn't break anything.

[2017-12-21 18:35] fanminshi commented on #9002
@djain13 it will be best if you can reproduce this issue without affecting existing production cluster.

[2017-12-21 18:37] djain13 commented on #9002
Thanks @gyuho and @fanminshi .
Can you point me to steps to recreate a new cluster from a snapshot of production cluster.

[2017-12-21 18:41] fanminshi commented on #9002
@djain13 read this guide https://github.com/coreos/etcd/blob/master/Documentation/op-guide/recovery.md

[2017-12-21 18:41] gyuho commented on #9002
@djain13 If you have only v2 data, also see https://github.com/coreos/etcd/blob/master/Documentation/v2/admin_guide.md#disaster-recovery.

[2017-12-21 18:51] djain13 commented on #9002
@hexfusion @gyuho @fanminshi
While I bring up parallel test cluster. Some metrics from the bad node:
[code]
I see a steady rise in `etcd_server_proposals_failed_total` metrics.
I also see a huge difference between `etcd_server_proposals_committed_total` and `etcd_server_proposals_applied_total`. On good node this difference is negligible, infact for leader node both the metrics are ditto.

[2017-12-21 19:14] raoofm commented on #8473
#8407

[2017-12-21 19:14] gyuho commented on #9002
@djain13 There are many way for raft proposals to fail; leader election, server downtime, slow disks, etc.. Best way to troubleshoot is set up a Prometheus monitoring(preferrably with dashboard) and locate the server warnings when the spikes happen.

[2017-12-21 22:43] #8983 closed

[2017-12-21 23:34] gyuho commented on #8993
`WithContext` is already documented well. Closing!

[2017-12-21 23:34] #8993 closed

[2017-12-21 23:35] xiang90 commented on #8993
@gyuho good job on this one!!

[2017-12-21 23:43] xiang90 commented on #9035
We make etcd server embeddable to make test easier, and avoid mocking when possible. I have never found a use case that i would have to mock etcd client. if you want to make setup easier, you can write a reusable func to setup initial key sets.

[2017-12-21 23:43] #9035 closed

[2017-12-21 23:45] xiang90 commented on #8822
how can i reproduce this issue?

[2017-12-22 01:06] #8984 closed

[2017-12-22 01:34] philips opened #9063 "docs: include mention of etcd configuration yaml in configuration.md"
[Configuration.md](https://github.com/coreos/etcd/blob/master/Documentation/op-guide/configuration.md) doesn't mention the [etcd.conf file](https://github.com/coreos/etcd/blob/master/etcd.conf.yml.sample) format or the order of precedent between flags, file, and environment variables.

[2017-12-22 01:35] xiang90 commented on #9063
@spzala

might want to pick it up?

[2017-12-22 01:36] gyuho commented on #9063
Currently, if etcd is configured with config file, environmental values are ignored

https://github.com/coreos/etcd/blob/2f57a84ee6294e2d1e3dcda6ef2388bc582a9844/etcdmain/config.go#L247-L255

[2017-12-22 02:13] xiang90 commented on #8320
@swestcott

It seems k8s approach is simpler, but it requires users to understand exactly what they expect.

We probably should adopt the similar approach. Would you want to help on this?

Or would @spzala ?

[2017-12-22 02:15] mitake commented on #8914
I tested both of the version v3.2.9 and the master branch: c8dc19bf4bc40545016a8a110c9a999c9391ddb8. Here is my Procfile:
[code]

[2017-12-22 02:30] xiang90 commented on #8915
closing due to low activity. also etcd now uses its forked bboltdb. this problem is probably already got fixed.

[2017-12-22 02:30] #8915 closed

[2017-12-22 02:35] gyuho commented on #8181
@sangleganesh Any updates?

[2017-12-22 02:44] sangleganesh commented on #8181
we just worked around the issue. closing the bug.

[2017-12-22 02:49] xiang90 commented on #8181
@sangleganesh I am not happy with workaround. If this is an issue, we should get it fixed.

[2017-12-22 02:53] cnljf commented on #8914
How do you generate pub-key and priv-key? Use ssh-keygen?

[2017-12-22 03:00] spzala commented on #9063
@xiang90 sure, sounds good, I will be working on it. Thanks!

[2017-12-22 03:09] gyuho opened #9064 "Stabilize experimental features for v3.4"
v3.4 major theme is stability.

Umbrella issue to track all experimental features shipped in v3.3 release.

- [ ] gRPC gateway serves `/v3beta`, should be ready as `/v3` (https://github.com/coreos/etcd/issues/9189)
- [ ] `etcd --experimental-enable-v2v3` (https://github.com/coreos/etcd/issues/8473)
- [ ] `etcd --experimental-initial-corrupt-check` (https://github.com/coreos/etcd/issues/9190)
- [ ]

[2017-12-22 04:02] mitake commented on #8914
I used openssl command. You can find already generated files for the testing purpose in the repository (paths can be found in my Procfile).

[2017-12-22 06:53] KeithTt commented on #2696
met the same error, but it turns running when I run all the 3 instances, it need 3 nodes all started, or it can not connect to others and report this error.

It is strange....

[2017-12-22 15:59] swestcott commented on #8320
@xiang90 Understood, but I think it's responsible to expect users working in regulated environments to understand such settings. This also means users can response more quickly to any future cipher compromises.

We'll look to get a PR raised in the new year /cc @ThatsMrTalbot

[2017-12-22 16:58] spzala commented on #9063
WIP. I also noticed that some flags are in the Configuration.md are not in the etcd.conf (e.g. metrics, listen-metrics-urls etc) and vice-versa (e.g. log-output is missed in the Configuration.md). I will add them as part of the fix unless there was a specific reason. Also, I wonder if it makes sense to have flags ordered alphabetically (per section)? Thanks!

[2017-12-22 19:07] xiang90 commented on #9063
@spzala

Some of them might be grouped again within the section. For example, we put all network related flags together again. But it seems that it is `man`'s convention to sort them alphabetically. No strong opinion here.

[2017-12-22 21:35] philips commented on #8320
The Kubernetes solution looks reasonable to me.

I feel we should pick some default set of ciphers too. What about this list? https://github.com/ssllabs/research/wiki/SSL-and-TLS-Deployment-Best-Practices#23-use-secure-cipher-suites

Did Kubernetes select a default set? I couldn't tell from glancing at the PR.

[2017-12-22 21:36] spzala commented on #9063
@xiang90 thanks, makes sense, so let's not worry about that part under this issue. May be something we can talk about as part of future discussions.

[2017-12-22 21:38] xiang90 commented on #8320
@philips

This might break existing users after a upgrade. Every time we tighten TLS/security or fix security related bugs, we break some users though...

[2017-12-22 21:48] philips commented on #8320
True. Is Kubernetes just rolling with all ciphers?

On Fri, Dec 22, 2017 at 1:38 PM Xiang Li <notifications@github.com> wrote:

--
CTO, CoreOS, Inc
Tectonic is enterprise Kubernetes
https://coreos.com/tectonic

[2017-12-22 21:51] xiang90 commented on #8320
The default one is all available ones in Go TLS as far as I can tell.

@swestcott probably have more details to fill in here.

[2017-12-23 00:00] xiang90 commented on #8941
@YuleiXiao Any progress?

[2017-12-23 00:31] xiang90 commented on #8002
I am closing this out due to low activity.

[2017-12-23 00:31] #8002 closed

[2017-12-23 07:38] warmchang commented on #5870
👍

[2017-12-23 12:35] maniankara commented on #6191
Might help someone.
This happened to be with minikube v0.23.0 on virtualbox on macOS ( shutdowns are not graceful very often).

Quick fix (as its minikube):
`minikube delete && minikube start`

The above deletes the vm and starts a new one.

[2017-12-25 05:06] #9063 closed

[2017-12-25 07:30] zyf0330 opened #9068 "Explain about disk metrics"
I want to know if I understand correctly.
About this line `etcd_disk_backend_commit_duration_seconds_bucket{le="0.001"} 114`, 114 of total 226 commit spend time less than 0.001 second.
But I don't know what `etcd_disk_backend_commit_duration_seconds_sum 0.9805108359999999` means.
[code]

[2017-12-25 09:49] cnljf commented on #8914
Hi, I can use jwt successfully. Here is the fail reason:
1. The private-key and public-key format is wrong. Then use openssl to generate key.
2. If use --config-file，other command line argument is ignored. So I remove auth-token argument to config file.

[2017-12-25 11:51] YuleiXiao commented on #8941
@xiang90 sorry for late. I was analyzing this issue these days. I found maybe it is not code problem. I tested it on virtual and physical machines, just ```ping``` between them and I found network recover time is not expected. Sometimes the command ```sudo ifup enp130s0f0``` execute time is over 2s on virtual machines, but physical it better. And in ```ping``` result(down 2s, up 2s), from network

[2017-12-25 12:37] xiang90 commented on #8941
@YuleiXiao Can you try to increase the put timeout to > 7s?

[2017-12-25 13:18] YuleiXiao commented on #8941
@xiang90 Yes, I had try it. I set timeout 10s, down 2s and up 2s, it put success on physical machines but fail on virtual machines.

[2017-12-25 14:18] xiang90 commented on #8941
try to bump the timeout again? I want to understand the problem with vm
before we close this issue.

On Mon, Dec 25, 2017 at 8:18 AM Yulei Xiao <notifications@github.com> wrote:

[2017-12-26 07:48] YuleiXiao commented on #8941
@xiang90 I try 10s/15s/20s in virtual machines,  they are not all succeed. About half fail.

[2017-12-26 07:54] cnljf commented on #8914
Watch retry is normal after use jwt.
Thanks!

[2017-12-26 07:55] mitake commented on #8914
Thanks for trying and good to know jwt is working well for your purpose. I'll work on simple token issue.

[2017-12-26 15:48] swestcott commented on #8320
@xiang90 Yes, that's my understanding too. All ciphers by default, with an optional whitelist.

[2017-12-27 13:20] hexfusion commented on #9068
Hi @zyf0330 great question! I dug around a bit and found that this output is exposed via go-grpc-prometheus via EnableHandlingTimeHistogram.

https://github.com/coreos/etcd/blob/24c718f7dea45a0f7e2f0688c938fc3a9a34560a/etcdmain/etcd.go#L181-L185

Promethius calls this output a [histogram](https://github.com/grpc-ecosystem/go-grpc-prometheus/blob/master/README.md#histograms).

If you take the examp

[2017-12-27 13:27] hexfusion commented on #8965
@EqbalS just checking in, would you be interested in working with me to resolve this?

[2017-12-27 13:31] EqbalS commented on #8965
@hexfusion
Sorry to keep you waiting,
Yes I'd be happy to help.

[2017-12-27 13:38] hexfusion commented on #8965
@EqbalS not a problem I just figured since you found the problem that you should get the credit for the resolution. :) I will swing back with some details I dug up shortly. Thanks!

[2017-12-27 15:58] sokoow commented on #8009
Where are we with this ? according to the comment above, it'd should have been in 3.3, but this is still unresolved right ?

[2017-12-28 01:42] zyf0330 commented on #9068
Thanks, I understand.

[2017-12-28 01:42] #9068 closed

[2017-12-28 03:34] xiang90 commented on #8941
Can you investigate a little bit why half of them fail?

[2017-12-28 09:08] karankh commented on #8009
Did you guys try to run defrag periodically, we do and it helps keep the size in check.

[2017-12-28 09:28] mg459046365 commented on #3226
怎么解决的啊，我的也会出现这个问题
2017-12-28 17:27:11.625937 I | etcdmain: etcd Version: 3.2.0+git
2017-12-28 17:27:11.626022 I | etcdmain: Git SHA: GitNotFound
2017-12-28 17:27:11.626027 I | etcdmain: Go Version: go1.9.2
2017-12-28 17:27:11.626032 I | etcdmain: Go OS/Arch: darwin/amd64
2017-12-28 17:27:11.626037 I | etcdmain: setting maximum number of CPUs to 8, total number of available CPUs is 8
2017-12-28 17:

[2017-12-28 16:57] andremarianiello opened #9070 "Etcd attempts to listen on unavailable, non-loopback IP address by default"
When running etcd in an environment where DNS host resolution is preferred over /etc/hosts, or when localhost is not defined in /etc/hosts, the default listen URLs defined in embed/config.go prevent etcd from starting correctly.

For example, this issue occurs with the official kubernetes etcd image and kubeadm:

[code]

10.168.91.198 is the IP address for localhost.\<search-path-domain\>. I am cu

[2017-12-28 18:04] hexfusion commented on #9070
Hi @andremarianiello can you please explain what you are attempting to accomplish? I think that will help us help you.

[2017-12-28 19:42] andremarianiello commented on #9070
@hexfusion I am using kubeadm to create a kubernetes cluster. Kubernetes uses etcd to persist state, but etcd fails to start correctly because of the described issue, thus my cluster doesn't work without the workaround I mentioned.

[2017-12-28 19:45] xiang90 commented on #9070
If you know exactly what interface/ip you want to listen on, why not
provide it explicitly? Also can you investigate where the ip comes from and
why etcd tries to bind on it

On Thu, Dec 28, 2017 at 2:42 PM andremarianiello <notifications@github.com>
wrote:

[2017-12-28 19:55] andremarianiello commented on #9070
@xiang90  As I mentioned in the issue, I am working around this problem by explicitly providing the IP.

The IP comes from my DNS server. There is a record that maps "localhost.\<search-path-domain\>" -> 10.168.91.198. etcd tries to bind to it because "localhost" is the default peer URL https://github.com/coreos/etcd/blob/master/embed/config.go#L55.

[2017-12-28 20:18] xiang90 commented on #9070
what I am saying is that if you know the ip you should provide it
explicitly. Also you always want to do that for clustered etcd, which is
the most common use case. In terms of local host binding, I do not feel
strong feeling about it, defaulting it to 127.0.0.1 might be ok. But I
remembered there is something we ended up with using localhost. I do not
think we would spend the effort to check the

[2017-12-28 20:25] andremarianiello commented on #9070
@xiang90

I already stated that I'm doing that, so I guess I am misunderstanding what you are trying to say.

This is what I want.

If you remember the reasoning for that I would be interested in hearing it.

[2017-12-29 08:48] xuxinkun commented on #7696
@xiang90  Actually, I also face the same problem with etcd 3.1.17.
etcd will converge, but it will take a long time. In one cluster, it took about 5 hours to converge. And in another cluster, it only took about 20 minutes.
Why did this happen? Could anyone explain? I hope we can reopen this issue until it is really resolved.

[2017-12-29 13:31] hexfusion commented on #9070
@andremarianiello thanks for your details.  It seems to me that `localhost` is a flexible default. Assuming IPv4 in my opinion is no saner and less flexible then the current `localhost`. As you have shown `localhost` can mean many things.

https://tools.ietf.org/html/rfc6761#section-6.3
[code]
Changing that assumption would certainly cause backwards incompatability. In the case you outlined I thin

[2017-12-29 14:27] andremarianiello commented on #9070
@hexfusion Thanks for looking at this. I will report this issue to the parties responsible for the docker image I am using instead.

[2017-12-30 01:40] xiang90 opened #9072 "doc: write doc for perf check of etcdctl"
The perf check command needs to be documented.

https://github.com/coreos/etcd/blob/master/etcdctl/ctlv3/command/check.go

@spzala do you want to take this one?

[2017-12-30 04:29] spzala commented on #9072
@xiang90 yup, sounds good. Thanks!

[2018-01-01 19:53] spzala commented on #9072
WIP.

[2018-01-01 20:08] #9070 closed

[2018-01-02 04:02] spzala opened #9075 "doc: do not use range-end as a flag"
The https://github.com/coreos/etcd/blob/master/etcdctl/README.md has used range-end at few places as `range-end` like a flag. Also per doc usage it's range_end which seems just meant to say lexicographically key range. So the word `range-end` as such is confusing and should not be used.

[2018-01-02 06:35] #9075 closed

[2018-01-02 08:58] gititk opened #9077 "unsupported architecture "arm64" since ETCD_UNSUPPORTED_ARCH is set"
Hi
I'm trying to install devstack on arm64. while doing so I got:

etcdmain: running etcd on unsupported architecture "arm64" since ETCD_UNSUPPORTED_ARCH is set
2018-01-02 09:58:39.132476 W | pkg/flags: unrecognized environment variable ETCD_UNSUPPORTED_ARCH=arm64
2018-01-02 09:58:39.132516 I | etcdmain: etcd Version: 3.2.9
2018-01-02 09:58:39.132527 I | etcdmain: Git SHA: f1d7dd8
2018-01-02 09:58

[2018-01-02 11:59] fanyeren commented on #9008
I meet the same question

[2018-01-02 12:04] radu-matei opened #9078 "Question: clientv3 vs. client"
Hi, everyone!
I have a question regarding the approach to use `clientv3` vs. `client` - when is each of them suitable?

An approach I have in mind is to use `client`(which I assume is HTTP based?) for short-running operations and `clientv3` when streaming / watching is involved?

Are there any best practices / docs on this?

Thanks,
Radu M

[2018-01-02 12:09] hexfusion commented on #9077
@gititk this is a known issue. Duplicates, https://github.com/coreos/etcd/issues/5054.

Not sure where this fork stands.  https://github.com/glevand/coreos--etcd

[2018-01-02 12:35] hexfusion commented on #9077
Hmm but we do provide arm64 release binaries. IE https://github.com/coreos/etcd/releases/tag/v3.2.12. That is confusing. I guess can you confirm that this is a 64bit arm system? I believe Raspberry Pi are still 32bit.

/cc @xiang90

[2018-01-02 12:51] gititk commented on #9077
Thanks. my server is 64bit arm.
Ill try 3.2.12

[2018-01-02 14:03] theleft2018 opened #9079 "raft err :unexpected error getting unapplied entries"
`2017-12-19 06:44:13.710498 I | rafthttp: peer 25983019632d3b71 became inactive`

`2017-12-19 06:46:11.027139 W | wal: sync duration of 53.623726271s, expected less than 1s`
`2017-12-19 06:47:38.644871 W | rafthttp: lost the TCP streaming connection with peer` `25983019632d3b71 (stream MsgApp v2 writer)`
`2017-12-19 06:47:38.662303 W | rafthttp: dropped internal raft message from 6c36ea01f4c3ff97

[2018-01-02 15:46] hexfusion commented on #9079
@theleft2018 can you display the output of `etcd --version` please and can you replicate the issue using a simple script? Any other details you can provide outside of the log entry will be helpful.

[2018-01-02 18:06] gyuho commented on #9078
clientv3 uses gRPC with stream HTTP/2 multiplexing and many more benefits. There's no reason to use v2 client if you start a new project. Please see https://github.com/coreos/etcd/tree/master/clientv3.

[2018-01-02 18:06] #9078 closed

[2018-01-02 18:07] gyuho commented on #9078
Also check out https://github.com/coreos/etcd/blob/master/Documentation/dev-guide/api_grpc_gateway.md if you can't use gRPC. It's HTTP based gRPC wrapper :)

[2018-01-02 22:00] #9050 closed

[2018-01-03 00:06] gyuho commented on #9077
@gititk If you run with arm, this is an expected warning.

https://github.com/coreos/etcd/blob/master/Documentation/op-guide/supported-platform.md#32-bit-and-other-unsupported-systems

[2018-01-03 00:07] xiang90 commented on #9077
@gyuho

why this line showed up?

[2018-01-03 00:13] gyuho commented on #9077
@xiang90 We only support `ETCD_UNSUPPORTED_ARCH` through environment variable (no such flag as `--unsupported-arch`), so it warns at `flags.SetFlagsFromEnv`.

[2018-01-03 00:14] xiang90 commented on #9077
the logging is pretty confusing. we probably should get it fixed.

[2018-01-03 00:18] gyuho commented on #9077
yeah, how about just adding `--unsupported-arch` flag, or say the flag doesn't exist?

[code]

[2018-01-03 00:35] xiang90 opened #9085 "stream warning logging in v3 rpc pkg"
We probably should not log expected errors (for example if the watcher is closed by the client, we should not log a warning saying that the context is canceled.)

/cc @gyuho @jpbetz @hexfusion @spzala

[2018-01-03 00:38] xiang90 commented on #9085
an example of bad logging

[code]

[2018-01-03 00:39] gyuho commented on #9085
Those are now debug level https://github.com/coreos/etcd/pull/9080 but we could make it warning after we filtering out those context errors.

[2018-01-03 00:41] xiang90 commented on #9085
I think we should make non expected errors at warning level, and expected ones (like user cancellation at debug level.)

[2018-01-03 00:45] gyuho commented on #9085
@spzala Do you want to work on this? It will be pretty straightforward. Please refer to https://github.com/coreos/etcd/blob/c699470d3b27d2e968df313110255734105687fa/clientv3/client.go#L532-L554 on error parsing.

[2018-01-03 00:56] spzala commented on #9085
@gyuho sure, I was actually thinking on the same :-). Thanks much for the above info, that will help!

[2018-01-03 00:57] theleft2018 commented on #9079
etcd version :3.1.9

[2018-01-03 00:58] hexfusion commented on #9077
why do we ship unsupported binaries? that in itself is confusing.

[2018-01-03 00:58] xiang90 commented on #9079
@theleft2018 are you able to reproduce this problem reliably?

[2018-01-03 01:05] theleft2018 commented on #9079
@xiang90 no,we only find this issue once.

[2018-01-03 03:18] xiang90 opened #9086 "test failed: TestWatchRestore"
[code]

/cc @spzala

[2018-01-03 03:29] absolute8511 opened #9087 "raft: raft learners should be returned after applyConfChange"
I reviewed some codes for raft learner pr #8751  and found there may be an issue which can affect the ApplyConfChange in the raft node.

	// ApplyConfChange applies config change to the local node.
	// Returns an opaque ConfState protobuf which must be recorded
	// in snapshots. Will never return nil; it returns a pointer only
	// to match MemoryStorage.Compact.
	ApplyConfChange(cc pb.ConfChange)

[2018-01-03 04:06] spzala commented on #9086
Thanks @xiang90  I will be digging into this.

[2018-01-03 05:32] #9072 closed

[2018-01-03 13:09] gititk commented on #9077
Hi
I get this error with 3.2.12
tar xzvf /opt/stack/devstack/files/etcd-v3.2.12-linux-arm64.tar.gz -C /opt/stack/devstack/files
2018-01-03 12:40:59.693 |
2018-01-03 12:40:59.693 | gzip: stdin: not in gzip format
2018-01-03 12:40:59.693 | tar: Child returned status 1
2018-01-03 12:40:59.694 | tar: Error is not recoverable: exiting now

[2018-01-03 14:56] hexfusion commented on #9077
Hi @gititk sounds like a bad download I can not reproduce. As @xiang90 noted the message you reported is expected so the version will not change that.

[code]

[2018-01-03 18:09] glevand commented on #9077
@hexfusion arm64 etcd binaries are published to fulfill the user request for them, and also to allow the rkt test suite to complete without failure on arm64 machines.  See https://github.com/coreos/etcd/issues/8085 (v3.2.0-arm64 release).

[2018-01-03 22:23] hexfusion commented on #9077
@glevand, could rkt build the binaries during testing? Issue is when a binary is released and we get a request like the above it is confusing. Technically this is unsupported yet we offer it pre-built in the release.  Maybe if the name of the binary included unsupported or some other direct indication? How far off is arm64 from being supported?

[2018-01-03 23:25] glevand commented on #9077
@hexfusion See: https://github.com/coreos/etcd/blob/master/Documentation/op-guide/supported-platform.md

[2018-01-04 03:11] spzala opened #9092 "Command used in doc doesn't work on mac terminal"
While following doc, I ran into this. The following commands didn't work as expected - https://github.com/coreos/etcd/blob/master/Documentation/op-guide/maintenance.md#space-quota

[code]
Running it on mac produces empty output,
[code]
Small issue but seems like using regex wildcard, it can be safely fixed as below:
[code]

[2018-01-04 06:49] lyddragon opened #9094 "/usr/local/etcd/etcdctl --user root endpoint health --cluster，need to enter twice password"
**$ /usr/local/etcd/etcdctl --user root  endpoint health --cluster**
Password:
Password:
http://192.168.0.82:2379 is healthy: successfully committed proposal: took = 2.133151ms
http://192.168.0.81:2379 is healthy: successfully committed proposal: took = 2.089219ms
http://192.168.0.83:2379 is healthy: successfully committed proposal: took = 2.37011ms
**$ /usr/local/etcd/etcdctl --user root  endpoin

[2018-01-04 07:31] lyddragon opened #9095 "v3.3.0-rc.0 member list, endpoint status with auth cannot connect to one member"
[root@node1 etcd]# ETCDCTL_API=3 /usr/local/etcd/etcdctl --user 'root:111111' member list -w table
+------------------+---------+-------+------------------------+------------------------+
|        ID        | STATUS  | NAME  |       PEER ADDRS       |      CLIENT ADDRS      |
+------------------+---------+-------+------------------------+------------------------+
| 736948b5f5c09617 | started | nod

[2018-01-04 07:52] gyuho commented on #9094
what's the etcd version?

[2018-01-04 07:52] #9092 closed

[2018-01-04 07:59] lyddragon commented on #9094
etcdctl version: 3.3.0
API version: 3.3

[2018-01-04 08:02] gyuho commented on #9094
`3.3.0-rc.0` version string was wrong. What's the output of

[code]

[2018-01-04 08:03] lyddragon commented on #9095
etcd-v3.3.0-rc.0
etcdctl version: 3.3.0
API version: 3.3

[2018-01-04 08:05] lyddragon commented on #9094
$ /usr/local/etcd/etcd --version
etcd Version: 3.3.0
Git SHA: f7a395f
Go Version: go1.9.2
Go OS/Arch: linux/amd64

$  ETCDCTL_API=3 /usr/local/etcd/etcdctl version
etcdctl version: 3.3.0
API version: 3.3

[2018-01-04 08:14] lyddragon commented on #9094
Other issue about restore:

$ rm -rf /data/etcd/intranet-test.*
$ sudo -u etcd ETCDCTL_API=3 /usr/local/etcd/etcdctl snapshot restore /tmp/83.snapshot.db   --data-dir /data/etcd/intranet-test.data
$ sudo systemctl start etcd

# log:

# Configuration: /usr/local/etcd/conf/etcd.conf

[2018-01-04 08:17] gyuho commented on #9094
@lyddragon Thanks. Is there any easy way to reproduce locally?

[2018-01-04 08:25] lyddragon commented on #9094
$ ETCDCTL_API=3 /usr/local/etcd/etcdctl --user root  --endpoints 192.168.0.83:2379 snapshot save /tmp/83.snapshot.db

$ systemctl stop etcd
$ rm -rf /data/etcd/*
$ sudo -u etcd ETCDCTL_API=3 /usr/local/etcd/etcdctl snapshot restore /tmp/83.snapshot.db --data-dir /data/etcd/intranet-test.data
$ sudo systemctl start etcd

# configuration：/usr/local/etcd/conf/etcd.conf

# systemd configuration:

[2018-01-04 08:30] gyuho opened #9096 "v3.3.0-rc.0 snapshot restore panic on raft"
https://github.com/coreos/etcd/issues/9094#issuecomment-355221086
https://github.com/coreos/etcd/issues/9094#issuecomment-355222565
https://github.com/coreos/etcd/issues/9094#issuecomment-355224402

[code]

[code]

[code]

[2018-01-04 12:11] GhostComputing opened #9097 "wrong comment"
There is wrong comment(maybe typo) following:

 https://github.com/coreos/etcd/blob/master/raft/log_unstable.go#L150

it should be:

      // u.offset <= lo <= hi <= u.offset+len(u.entries)
      ...

[2018-01-04 13:57] lyddragon commented on #9094
# Use snapshot restore member, Why not rejoin the cluster.
sudo -u etcd ETCDCTL_API=3 /usr/local/etcd/etcdctl snapshot restore /tmp/83.snapshot.db   --name node3   --initial-cluster node1=http://192.168.0.81:2380,node2=http://192.168.0.82:2380,node3=http://192.168.0.83:2380   --initial-cluster-token wpbch1bi7yebkdWWfoemlqxyjbwrqt   --initial-advertise-peer-urls=http://192.168.0.83:2380 --data-dir

[2018-01-04 15:17] WandyLau opened #9099 "how to create the DNS SRV recodes?"
As I read the DNS discovery service, I can not find how to create the DNS SRV records.
The document just gives an example of command of dig which shows the result of the DNS query.

So I just want to know how can I create the DNS SRV? I cannot find any document on this.

[2018-01-04 15:21] gyuho commented on #9099
Please see an example https://github.com/coreos/etcd/tree/master/hack/scripts-dev/docker-dns-srv.

[2018-01-04 15:21] #9099 closed

[2018-01-04 15:22] hexfusion commented on #9099
@WandyLau the example @gyuho noted is a great example of BIND9 records. SVR records are very common in DNS please see your documentation for manually adding.

[code]

[2018-01-04 15:35] WandyLau commented on #9099
@hexfusion thanks. I am not familiar with this. And I googled, I can not find it. So I just ask. I will read this.

[2018-01-04 15:39] hexfusion commented on #9099
https://en.wikipedia.org/wiki/SRV_record

[2018-01-04 23:38] gyuho commented on #9096
@lyddragon Did you upgrade from previous version? Or just fresh cluster from v3.3.0-rc.0 and this happened? Haven't been able to reproduce yet.

[2018-01-05 00:03] #9077 closed

[2018-01-05 00:04] xiang90 commented on #9095
@spzala would you like to take a look?

[2018-01-05 00:05] xiang90 commented on #9097
@GhostComputing can you send a pr to get this fixed?

[2018-01-05 00:45] spzala commented on #9095
@xiang90 sure, I am in mid of another issue but I will be soon digging into it.

[2018-01-05 01:01] spzala commented on #9095
@lyddragon meanwhile, would you please follow the steps here on compact/defrag, if that's something can be done in your env and see if that helps? It's something that has helped me in the recent past with similar error - https://github.com/coreos/etcd/blob/master/Documentation/op-guide/maintenance.md#space-quota steps under "Removing excessive keyspace data and defragmenting the backend database w

[2018-01-05 02:27] GhostComputing commented on #9097
PR: #9102

[2018-01-05 09:50] barnettZQG opened #9103 "documentation: close watcher to avoid etcd clientv3 memory leak problem"
# Bug reporting
![image](https://user-images.githubusercontent.com/18493394/34603717-15ca8182-f240-11e7-99d0-594a242a3242.png)
This is one of our service memory based on etcd,The result is that the etcd client memory is not released.
In our use case, the "v3. Client" object is repeated for the Watch operation, should we close the Client at the end of the Watch?

[2018-01-05 12:03] lyddragon commented on #9094
# Other issue: new member can't join cluster，failed after restart etcd service.
# test1
## node1
$ ETCDCTL_API=3 /usr/local/etcd/etcdctl --user 'root:111111' member list
736948b5f5c09617, started, node1, http://192.168.0.81:2380, http://192.168.0.81:2379
8cd04f584be13fc0, started, node2, http://192.168.0.82:2380, http://192.168.0.82:2379
c4cf1eeedaaed948, started, node3, http://192.168.0.83:2380,

[2018-01-05 12:40] lyddragon commented on #9096
not upgrade

[2018-01-05 14:47] lyddragon commented on #9094
## on node1
$ ETCDCTL_API=3 /usr/local/etcd/etcdctl --user 'root:111111' get 0 'z'
k1
1
k2
2
k3
3
k4
4
$ ETCDCTL_API=3 /usr/local/etcd/etcdctl snapshot save /tmp/s.db
$ scp /tmp/s.db node2:/tmp
$ scp /tmp/s.db node3:/tmp

## on node1、node2、node3
$ systemctl stop etcd
$ rm -rf /data/etcd/*

## on node1
$ sudo -u etcd ETCDCTL_API=3 /usr/local/etcd/etcdctl snapshot restore /tmp/s.db   --name node1

[2018-01-05 14:54] bra-fsn opened #9104 "JSON gateway is not usable on grpc proxy node"
I start two nodes:
$ ./etcd --name test --auto-compaction-retention 1 --initial-cluster-token test --initial-cluster-state new
$ etcd grpc-proxy start --endpoints=localhost:2379 --listen-addr=127.0.0.1:23791 --advertise-client-url=127.0.0.1:23791

Setting a key with the REST API works on the etcd master node:
$ curl http://localhost:2379/v3beta/kv/range -X POST -d '{"key": "YQ=="}'
{"header":{"clu

[2018-01-05 16:22] gyuho commented on #9104
Currently, it's not supported. Do you want to contribute for this feature?

[2018-01-05 16:23] xiang90 commented on #9104
as it suggests gRPC proxy is for proxying gRPC requests only, not http based json request.

[2018-01-05 16:24] xiang90 commented on #9103
can you provide a simple script to reproduce this issue?

[2018-01-05 16:24] gyuho commented on #9096
Snapshot from v3.3.0-rc.0 server, and you downloaded snapshot using v3.3.0-rc.0 etcdctl, right?

[2018-01-05 18:08] xiang90 commented on #9000
@anshulpundir kindly ping on this one. or i will close it in a few days due to inactivity.

[2018-01-05 18:09] xiang90 commented on #8883
@gyuho is this fixed?

[2018-01-05 18:54] gyuho commented on #8883
Yes.

[2018-01-05 18:54] #8883 closed

[2018-01-05 21:43] xiang90 commented on #9087
@absolute8511 looks like a bug. can you fix it and add the test?

[2018-01-05 21:44] xiang90 commented on #9087
/cc @siddontang

[2018-01-05 22:40] aauren commented on #9008
@mitake - Sorry, I was off for a couple days, so this response is late in coming, but I can confirm that what you said is true. I built etcd from the master branch and when I run it and enable authentication then the authentication priority works correctly.

Specifically the results from my original posting change to the following:
[code]

Which is what I would expect based on the documentation. T

[2018-01-05 22:59] xiang90 commented on #9103
/cc @jpbetz @hexfusion @fanminshi

[2018-01-05 23:03] gyuho commented on #9103
Do you create clientv3 for every watch? How do you use watch in your code?

[2018-01-05 23:08] #7036 closed

[2018-01-05 23:09] xiang90 commented on #7036
@connor4312 @Chumper this is fixed.

[2018-01-05 23:20] adityadani commented on #9103
@barnettZQG We had seen similar memory usage profile in etcd client code, but most probably the culprit would be the caller of Watch API.

In our case we were incorrectly closing the Watch causing the etcd client watch to still get all the updates even if there was no one processing them.

[2018-01-05 23:27] connor4312 commented on #7036
Sweet!

[2018-01-05 23:44] xiang90 commented on #7719
@jpbetz @gyuho @hexfusion @spzala

I have heard quite some people hitting this issue for large deployments

We'd:

1. completely solve the blocking issue
2. or start to log warnings when users issues large ranges (we already warns users some request takes too long, but it is not specific to large ranges)
3. or/and add a flag to limit the number keys to range/delete to avoid the blocking

[2018-01-05 23:47] xiang90 commented on #7719
maybe we should investigate on how other databases behavior for large responses: mysql, pgsql, mongodb, redis, etc..

[2018-01-06 00:06] Chumper commented on #7036
Perfect, thanks to @connor4312 for the implementation and @xiang90 @heyitsanthony for the feedback.

[2018-01-06 00:07] gyuho opened #9106 "Rewrite clientv3 health balancer"
Current/old balancer works *(sort of)* like this https://github.com/coreos/etcd/issues/8828#issuecomment-343234217.

Basically it keeps track of **unhealthy** endpoints, and retries healthy ones on transient disconnects.

We can do better.

1. Only try one endpoint at a time (currently connect to all at once, shut down others once pinned).
2. Only keep track of healthy endpoints (the ones that we

[2018-01-06 00:51] gyuho commented on #9096
Ok, I can reproduce. Auth is not related. Seems like snapshot restore has bugs.
I will try to fix shortly.

@lyddragon basically, we are doing

1. set up 3-node cluster (A, B, C)
2. get snapshot of A
3. shut down A
4. restore A snapshot
5. restart A with same configuration with initial cluster state existing
6. panic

Just curious, what is your use case on this?

If you want to destroy member A co

[2018-01-06 00:54] siddontang commented on #9087
Thanks @absolute8511

This is a bug here, but we have not used learner yet.

Can you file an PR to fix it?

[2018-01-06 02:27] adityadani opened #9107 "etcd client missing a watch update."
Env info:

[code]

I have 3 etcd clients configured with all the 3 etcd server endpoints.

Expectation:
I am testing a scenario where one of the etcd server endpoints goes down, but the etcd clients should still get the watch updates.

Outcome:
One of the 3 clients does not get an update for 30 seconds. While other 2 clients get the update instantly.

The key put operation was done at timestamp `2

[2018-01-06 02:39] xiang90 commented on #9107
can you provide detailed steps or a simple script to reproduce the problem you hit?

[2018-01-06 02:50] adityadani commented on #9107
I am not able to reproduce this issue consistently, may be 2 out of 10 times.
I dont have a script as such as this test case is a part of a bigger test effort.
But essentially it does this in a loop

[code]

[2018-01-06 02:54] xiang90 commented on #9107
But essentially it does this in a loop

can you please put some effort to create a script that we can run to reproduce it?

[2018-01-06 02:57] adityadani commented on #9107
@xiang90 Sure. Let me do that.

On a side note, can high fsync latency on a node cause such missed watch updates? Or are they completely unrelated

[2018-01-06 03:05] xiang90 commented on #9107
No. It should not be related. Also I should suggest you try latest 3.2.13
release.

On Fri, Jan 5, 2018 at 6:58 PM adityadani <notifications@github.com> wrote:

[2018-01-06 04:23] barnettZQG commented on #9103
@adityadani @gyuho
[code]
I use this in my code，for each GRPC call, I will call the WaitPrefixEvents method using the same client. The client does not close until the process exits. I didn't find the watch's closing method

[2018-01-06 04:26] gyuho commented on #9103
What's your etcd server and client version? And workloads?

[2018-01-06 04:27] barnettZQG commented on #9103
Should the following changes be made:
[code]

[2018-01-06 04:28] gyuho commented on #9103
If you cancel context, watcher will be closed. It's ok to have long running watch stream with context background.

[2018-01-06 04:31] barnettZQG commented on #9103
Because my external method is called every time, I create watch. If you don't close, you will cause the problem @adityadani  describe, causing a memory leak

[2018-01-06 05:20] xiang90 commented on #9103
@gyuho @spzala

we probably should document that watcher MUST be closed by cancelling the context after use, or memory leak will happen.

[2018-01-06 05:34] gyuho commented on #9103
Yeah maybe add a few more lines around https://github.com/coreos/etcd/blob/65464838ba7d2ddbc282f0330153e4fb999ac598/clientv3/watch.go#L51?

[2018-01-06 05:44] xiang90 commented on #9103
@gyuho sure.

[2018-01-06 05:57] xiang90 commented on #8822
@zarmin kindly ping. if there is no response, i will close this issue due to low activity.

[2018-01-06 11:07] bra-fsn commented on #9104
@xiang90 OK, that's clear. But do I assume it wrong if the JSON proxy uses gRPC underneath, it would be trivial to run it on a gRPC proxy? Basically you would only have to use the local node, it already does everything needed.
Running etcd on a hundred nodes is not benefical. While the current setup of having 3-5-7 nodes and let the other machines use gRPC proxy is still not perfect, it's much bet

[2018-01-06 15:39] Quentin-M commented on #8632
Here is another good reason to implement this while my code uses etcd 3.2.13, CoreOS Stable 1576 ships with etcd binary 3.2.9. Because I must use the binary to restore a snapshot, here is what happens when I try:

[code]

However, no problem whatsoever with the 3.2.13 binary.

[2018-01-06 16:45] xiang90 commented on #9104
Why do you want to do this?

This is probably what you want to use: https://github.com/coreos/etcd/blob/master/Documentation/op-guide/gateway.md#etcd-gateway.

[2018-01-07 01:36] lyddragon commented on #9096
add failed, look my other issue

[2018-01-07 01:42] lyddragon commented on #9096
"v3.3.0-rc.0 endpoint health --cluster with auth requires password input twice #9094"

[2018-01-07 01:47] gyuho opened #9109 "v3.3.0-rc.0 restore from same snapshot, cannot add a new member"
From https://github.com/coreos/etcd/issues/9094#issuecomment-355571709

1. save snapshot
2. restore 3-node cluster from same snapshot
3. add a new member (fails)

We don't have any test coverage around this...

Likely related to https://github.com/coreos/etcd/issues/9096.

/cc @lyddragon

[2018-01-07 01:54] lyddragon commented on #9109
how to do normal restore etcd cluster?

[2018-01-07 14:19] jinjiangxu opened #9110 "Use jetcd put a k-v, why use etcdctl not find the value of the key"
java code：
 Client client = Client.builder().endpoints("http://127.0.0.1:2379").build();
        client.getKVClient().put(ByteSequence.fromString("/message"), ByteSequence.fromString("hello")).get();

./etcdctl get /message

[2018-01-07 14:49] #9110 closed

[2018-01-07 17:26] gyuho commented on #9096
@xiang90 I double checked our code and don't think it's a bug.

Reproducible e2e test case:

[code]

[code]

The restored member joins the cluster with commit index 3 (equal to the number of nodes in the cluster) because snapshot file has no information about revision or any other raft fields from previous cluster. So, if other peers increments its indexes and newly joined member does not become t

[2018-01-07 23:27] spzala commented on #8645
WIP.

[2018-01-08 00:43] xiang90 opened #9111 "print out the request detail when it takes too long to process"
We print out a warning if some requests take more than 100ms to execute. However, we do not print out the details of these requests, which make it harder for users to locate the bad requests.

We can do a better job to print it out in etcdserver/apply.go, and also add metrics around apply duration.

[2018-01-08 00:46] #8822 closed

[2018-01-08 02:27] victorgp commented on #8320
Yes, in Kubernetes, if the ciphers are not specified, the Go default ones will be used.

[2018-01-08 02:34] WanLinghao opened #9112 "etcd perforamance limit"
We are doing a etcd performance limit test recently.The test goes like this:
Insert some data into an etcd cluster, then test its performance, such as read time consume.
At first, we want to insert 500,0000 data into the cluster.But the cluster collapsed at 50,0000 data during test process.
The test data is all about kubernetes info, all data follows the pattern below
[code]
We want to know  where

[2018-01-08 03:52] wangjianlin13 opened #9113 "health interface returns 503 Service Unavailable probabilistic"
# Bug reporting

I use etcd-v3.1.0-linux-amd64 as a etcd cluster witch has 4 etcd server. When call the health interface through resttemplate and curl, the etcd returns 503  Service Unavailable 3 times in about 10 hours.  Through analysis etcd log, snapshot not happened when etcd server returns 503. In addition, when etcd server returns 503, the function of reading and writing is normal. Etcd-3.2.

[2018-01-08 09:39] gyuho commented on #9109
@lyddragon Can't reproduce. What was the error message from

[2018-01-08 09:50] bra-fsn commented on #9104
@xiang90: I have nodes, which may leave or come back on demand. This elasticity doesn't seem to be a good fit for the cluster.
Yes, gateway may be good, but gRPC proxy knows more, it would be good to be able to use its capabilities.

[2018-01-08 11:09] aryadrottning opened #9114 "Cannot setup 3 node etcd cluster"
cat /etc/os-release
[code]

Machines:

k8s-master-01  -  192.168.232.100
k8s-master-02  -  192.168.232.101
k8s-master-03  -  192.168.232.102

etcd --version
[code]

How to reproduce:

[All machines]
`yum install etcd`

[k8s-master-01]:

[code]

[k8s-master-02]:

[code]

[k8s-master-03]:
[code]

[code]

etcdctl member gets connection refused.

Or I end up with

`etcd.service main process exited cod

[2018-01-08 12:47] lyddragon commented on #9109
1、get keys:

2、backup on node1，and scp s.db to node2、node3

3、on node1、node2、node3

4、on node1、node2、node3，restore and start etcd service

5、add member node4

6、start node4

7、on node4, get keys, no keys

8、on node1, and add keys

$ ETCDCTL_API=3 /usr/local/etcd/etcdctl put k5 5

9、on node4， get keys，no k1-k4

[2018-01-08 13:28] lyddragon commented on #9109
1、get keys:

2、backup on node1，and scp s.db to node2、node3

3、on node1、node2、node3

4、on node1、node2、node3，restore and start etcd service

5、add member node4

6、start node4

7、on node4, get keys, no keys

8、on node1, and add keys

$ ETCDCTL_API=3 /usr/local/etcd/etcdctl put k5 5

9、on node4， get keys，no k1-k4

[2018-01-08 13:53] lyddragon commented on #9095
endpoint http://192.168.0.83:2379  is stoped, status have not chage in member list!

[2018-01-08 13:59] lyddragon commented on #9094
## this isscue ???
$ ETCDCTL_API=3 /usr/local/etcd/etcdctl --user root endpoint health
Password:
127.0.0.1:2379 is healthy: successfully committed proposal: took = 1.176983ms
$ ETCDCTL_API=3 /usr/local/etcd/etcdctl --user root endpoint health --cluster
Password:
Password:
http://10.20.6.81:2379 is healthy: successfully committed proposal: took = 1.876926ms
http://10.20.6.82:2379 is healthy: succes

[2018-01-08 14:20] hexfusion commented on #9114
--listen-peer-urls **http://**192.168.232.100:2380 \

Hi @aryadrottning looks like your tryng to use TLS with the HTTP vs HTTPS schema for starters.

[2018-01-08 15:12] gyuho commented on #9109
@lyddragon What is your node4 config after running `member add` on node4?

[2018-01-08 15:24] aryadrottning commented on #9114
@hexfusion Whats the workaround for this? I simply followed the guide.

[2018-01-08 15:36] lyddragon commented on #9109
name: "node4"
data-dir: /data/etcd/intranet-test.data
wal-dir: /data/etcd/intranet-test.wal.data
snapshot-count: 10000
heartbeat-interval: 100
election-timeout: 1000
quota-backend-bytes: 8589934592
listen-peer-urls: http://192.168.0.80:2380
listen-client-urls: http://192.168.0.80:2379,http://127.0.0.1:2379
max-snapshots: 5
max-wals: 5
cors:
initial-advertise-peer-urls: http://192.168.0.80:2380
adv

[2018-01-08 15:36] hexfusion commented on #9114
@aryadrottning please post link to guide you are following so we can fix if it is incorrect. But I would take a quick look at our [Documentation](https://github.com/coreos/etcd/blob/master/Documentation/op-guide/clustering.md#automatic-certificates) . And look at what might be different from what you are passing to etcd.

[2018-01-08 15:39] gyuho commented on #9109
Did you delete data dir before start? Did you restore snapshot on node4?

[2018-01-08 15:52] aryadrottning commented on #9114
@hexfusion Well it was the documentation you posted, just changed the IPs/adresses. Tried changing certificates (from auto to pointing /etc/etcd/pki etc.) but didn't succeed as well.

Before I followed Kelsey Hightower's THW (https://github.com/kelseyhightower/kubernetes-the-hard-way/blob/master/docs/07-bootstrapping-etcd.md) with correct amendments due to VM infrastructure (bare-metal -> ESX -> V

[2018-01-08 15:55] hexfusion commented on #9114
@aryadrottning you also changed something else. Please note your example usage of **http** vs documenation use of **https** .

[2018-01-08 16:06] hexfusion commented on #9114
Perhaps it might make sense to start with a basic static cluster as you seem to already know the endpoint IP's. [setup static cluster](https://github.com/coreos/etcd/blob/master/Documentation/op-guide/clustering.md#static) Once you get that going then add auth layers such as Peer TLS etc.

[2018-01-08 16:07] aryadrottning commented on #9114
Let's check

Origin from document you linked before:

[code]
Mine:

[code]

Second machine:

Example:

[code]

Mine:

[code]

Third machine:

Example:

[code]

Mine:

[code]

Not sure how should etcd behave - 1st node should run and wait for other members to join and AFTER at least one joins it will stop spamming logs? I thought about making etcd run without any certs/https just for test purposes.

[2018-01-08 16:10] aryadrottning commented on #9114
According to your second comment one thing is not clear for me. Second code table with:

[code]

Mentioned before

`ETCD_INITIAL_CLUSTER="infra0=http://10.0.1.10:2380,infra1=http://10.0.1.11:2380,infra2=http://10.0.1.12:2380"
ETCD_INITIAL_CLUSTER_STATE=new`

Means that it's for comment purposes or I have to run this along with the first command that declares envs?

[2018-01-08 16:19] hexfusion commented on #9114
@aryadrottning then you need to drop these flags if your not using TLS. You are telling etcd to use TLS then using http schema where is needs to be https.

[code]
In each of the examples you are setting the endpoints as **http** where our docs are clearly using **https** as they are using auto-tls flag which means the communication to the etcd cluster must happen over HTTPS.

etcd --name infra0 --

[2018-01-08 17:09] xiang90 commented on #9112
We successfully simulated 5Mi pods case. It seems to me that you did something wrong.

Please share the scripts(etcd setup, put test) to reproduce your test, and please share the stack trace for the crash.

[2018-01-08 17:14] spzala opened #9117 "Call to status.FromError should be check for return value"
status.FromError can return nil, false. At few places the call to status.FromError doesn't check for the possible return of nil, we should be checking it.

[2018-01-08 17:14] spzala commented on #9117
WIP.

[2018-01-08 18:07] #9085 closed

[2018-01-08 18:21] gyuho commented on #9096
@lyddragon Closing because this is expected.

https://github.com/coreos/etcd/blob/master/Documentation/op-guide/recovery.md#restoring-a-cluster

Snapshot restores a fresh cluster, thus cannot join the existing cluster unless all other members are restored from same snapshot file.

[2018-01-08 18:21] #9096 closed

[2018-01-08 18:30] gyuho commented on #9113
I think it's just transient error? Did you try retrying on that 503 error code? Was there any leader election at the moment you got 503?

[2018-01-08 19:00] xiang90 commented on #8320
@swestcott kindly ping. any progress?

[2018-01-08 20:21] hexfusion commented on #9114
@aryadrottning regarding your last question.

Configuration parameters can be passed to to etcd by flag or ENV var. For a reference to this please review https://github.com/coreos/etcd/blob/master/Documentation/op-guide/configuration.md. I am closing this as the issue appears to be configuration, please feel free to ask questions on this ticket or open a new issue if you run into additional troubl

[2018-01-08 20:21] #9114 closed

[2018-01-08 21:32] aryadrottning commented on #9114
@hexfusion  Sorry for late response - finished work and had to come back home and connect to workplace.

So far as suggested I deleted auto-tls and peer-auto-tls also everything is being executed with HTTP protocol.

Now this happens:

bootstrap-etcd on machine 1 with ip 192.168.232.100

`#!/bin/bash

etcd --name infra0 --initial-advertise-peer-urls http://192.168.232.100:2380 \
  --listen-peer-ur

[2018-01-08 22:20] hexfusion commented on #9114
Well you can see it is writing to the default datadir.
[code]
lets nuke those for each machine as I am not confident what is going on there. and if you would like to define a --data-dir feel free to do so.

@aryadrottning machine 2 logs shows this.

[code]
these are default values `http://localhost:2380` meaning they were not passed to etcd when it started unless you used localhost?. Thus etcd fel

[2018-01-08 22:30] hexfusion commented on #9114
Also the name needs to match the name of the node. I see `--name infra0` used twice. I have made these kinds of mistakes before, an old German friend calls it copy and waste :). It is important that the configs are walked through one by one to make sure they are correct. I think we are close now :)

[2018-01-08 22:58] hexfusion commented on #9019
ping @gokepler are you interested in helping with this?

[2018-01-08 23:00] xiang90 commented on #9019
I also want to learn about your use case first @gokepler. What problem are you trying to solve with this feature specifically?

[2018-01-08 23:01] hexfusion commented on #9111
@xiang90 this looks interesting, do you think it would make sense for me to take a look at this?

[2018-01-08 23:04] xiang90 commented on #9111
@hexfusion

sure. right now the printing is at here:https://github.com/coreos/etcd/blob/master/etcdserver/server.go#L800-L804. it is too coarse grind.

you can trigger this warning by range over 100k keys in one range request.

[2018-01-09 00:34] lyddragon commented on #9109
node4 is new member.

[2018-01-09 00:45] gyuho commented on #9109
Did you delete data dir before starting the node4?
And can you reproduce locally?
Works fine in my side...

[2018-01-09 01:13] lyddragon commented on #9109
yes，first delete data dir.

[2018-01-09 01:15] lyddragon commented on #9109
I had tried more time.

[2018-01-09 01:24] gyuho commented on #9109
This is exactly what you are doing?

Try this yourself.
This works as expected.

If not, there's something wrong.

[code]

[2018-01-09 01:38] WanLinghao commented on #9112
@xiang90 Thanks for your reply
1.What do you mean about 5Mi pods case? five million pods?

2.Here's  some info maybe useful
stack:
[code]

[2018-01-09 01:40] WanLinghao commented on #9112
etcd start up command:
[code]

[2018-01-09 01:40] xiang90 commented on #9112
well... it runs out of memory. so you need to provide more memory i guess.

please share your scripts to run the test if you want anyone to look into it more.

[2018-01-09 01:48] lyddragon commented on #9109
my cluster have 3 member, and do snapshot from 3 member cluster!!!

[2018-01-09 01:48] gyuho commented on #9109
what do you mean?

[2018-01-09 01:49] lyddragon commented on #9109
Follow my steps.

[2018-01-09 01:55] lyddragon commented on #9109
the very beginning，my cluster have 3 member，your cluster only one member.

[2018-01-09 02:01] mitake commented on #9008
@aauren thanks for checking. The change will be available in 3.3.0 which would be released in the near future.

@fanyeren could you also try the latest master?

[2018-01-09 02:02] xiang90 commented on #9008
@jpbetz maybe we want to backport the fix to this to 3.2? it is up to you.

i am closing this out since i am pretty sure it is already fixed in both master and 3.3 release branch.

[2018-01-09 02:02] #9008 closed

[2018-01-09 02:03] WanLinghao commented on #9112
@xiang90 hello,we want to confirm the count of pod. What 5Mi pods mean

[2018-01-09 02:06] xiang90 opened #9121 "etcdctl check: add load test"
we have performance test to ensure the cluster's performance is good enough.

on the other dimension, we probably want to ensure the cluster can hold enough data without OOM.

I would suggest to start with:

1. small with 10,000 1kb kv pairs
2. medium with 100,000 1kb kv pairs
3. large with 1,000,000 1kb kv pairs
4. xlarge with 3,000,000 1kb kv pairs

/cc @spzala maybe you are interested in this o

[2018-01-09 02:07] lyddragon commented on #9109
set up 3-node cluster (A, B, C)
get snapshot of A
shut down A B C
restore A B C snapshot
remove db directory
restart A B C with same configuration
add member D
start member D
get keys on member D

1 2 3 4 5 6 7 8 9

[2018-01-09 02:07] xiang90 commented on #9112
it means 5,000,000 kvs.

[2018-01-09 02:08] xiang90 commented on #9121
this can help us to have a unified load test, and handle issues like https://github.com/coreos/etcd/issues/9112 much easier.

[2018-01-09 02:11] lyddragon commented on #9109
sorry
set up 3-node cluster (A, B, C)
get snapshot of A
shut down A B C
remove A B C db directory
restore A B C snapshot
restart A B C with same configuration
add member D
start member D
get keys on member D

1 2 3 4 5 6 7 8 9

[2018-01-09 02:15] xiang90 commented on #9104
then you do not put etcd on them. there is no reason to run etcd on every nodes.

for your use case, you should either use etcd gateway or just do not run etcd on all your nodes. i am closing this since the grpc proxy wont expose http json for the reason i mentioned above.

[2018-01-09 02:15] #9104 closed

[2018-01-09 02:28] gyuho commented on #9109
Updated https://github.com/coreos/etcd/issues/9109#issuecomment-356150234. Still works, or I am still missing something. As long as the snapshot from A is recent (contains all keys), it won't make any difference. Please provide locally reproducible script as above, or try that yourself.

[2018-01-09 03:59] xiang90 opened #9123 "expose appliedIndex in status response"
https://github.com/coreos/etcd/blob/master/etcdserver/etcdserverpb/rpc.proto#L898

applied index might be lagging behind raft index due to slow process. exposing that through status so that users can check it with etcdctl endpoint status

[2018-01-09 04:59] WanLinghao commented on #9112
insert_pod.sh:
[code]
insert_audit.sh:
[code]

get_json.sh:
[code]

[2018-01-09 05:30] xiang90 commented on #9112
@WanLinghao

Your script tests etcd2 backend which supports 200MB at most, not etcd3. We have no plan to scale etcd2 backend, and k8s uses etcd3 by default in its recent versions. Closing this issue.

[2018-01-09 05:30] #9112 closed

[2018-01-09 05:37] WanLinghao commented on #9112
@xiang90 how should I use etd3?
export ETCDCTL_API=3?
no need to change etcd server?

[2018-01-09 05:47] xiang90 commented on #9112
yes

[2018-01-09 06:06] CaoShuFeng commented on #9121
It will be very useful for us to know much performance degradation will occur when kv paris become larger and larger.

[2018-01-09 06:08] xiang90 commented on #9121
For that, you should try out benchmark tool in this repo. If you have a specific use case, you should do it yourself.

[2018-01-09 06:16] CaoShuFeng commented on #9121
Oh, there is already a benchmark tool!
Thanks

[2018-01-09 07:44] wangjianlin13 commented on #9113
How can I know when leader election happens? I don't find relative log in etcd log.

[2018-01-09 07:45] wangjianlin13 commented on #9113
How can I know when leader election happens? I don't find relative log in etcd log.

[2018-01-09 09:53] lyddragon commented on #9109
associated with it: wal-dir
my configuration:
name: "nodename"
data-dir: /tmp/nodename.data
wal-dir: /tmp/nodename.wal.data
......

[2018-01-09 11:39] gyuho commented on #9109
Now I see what went wrong. You are configuring separate WAL directory `/data/etcd/intranet-test.wal.data` when `snapshot restore` outputs everything under `--data-dir`. Please change your `--wal-dir` to `filepath.Join(DATA_DIR, "member", "wal")`.

[2018-01-09 11:39] #9109 closed

[2018-01-09 11:40] gyuho commented on #9113
Other temporary network errors can also trigger 503. I think you should implement your own retry logic, as our clientv3 does for transient network errors.

[2018-01-09 11:40] #9113 closed

[2018-01-09 11:59] lyddragon commented on #9109
--wal-dir
Path to the dedicated wal directory. If this flag is set, etcd will write the WAL files to the walDir rather than the dataDir. This allows a dedicated disk to be used, and helps avoid io competition between logging and other IO operations.
default: ""
env variable: ETCD_WAL_DIR

[2018-01-09 12:13] gyuho commented on #9109
Problem is `snapshot restore` command outputs everything under `--data-dir` flag. And as you said

So, I assume your systemd config points to wrong wal dir.

[2018-01-09 12:19] lyddragon commented on #9109
'etcdctl snapshot restore' need to add option: --wal-dir, or add option: --config-file (may be necessary) .
--initial-cluster-state  option should be abandoned.

[2018-01-09 12:23] gyuho commented on #9109
@lyddragon Can you open a new issue explaining your use case? Thanks!

[2018-01-09 12:47] lyddragon commented on #9109
To make it easier to maintain

[2018-01-09 14:57] aryadrottning commented on #9114
@hexfusion Yea, I had to carefully check things. Purged data dirs, checked configs. Seems okay now but now I was getting this:

`2018-01-09 15:29:44.303369 E | rafthttp: request cluster ID mismatch (got ddec615d236f5865 want 2ae4f248e48a8e31)`

So I had to remove data dir which was changed to /opt/etcd so I might easily delete stuff after faulty start and try again.

Then I started 2 member cluste

[2018-01-09 15:06] hexfusion commented on #9114
@aryadrottning very good sir, glad to help!

[2018-01-09 17:36] gyuho commented on #9109
@lyddragon I submitted a PR to add `snapshot restore --wal-dir` flag. Will backport to v3.3.

[2018-01-09 21:00] #9117 closed

[2018-01-09 22:17] #8293 closed

[2018-01-10 02:40] WanLinghao commented on #9112
@xiang90 hello~
We have changed etcd V2 to v3.
However, we got trouble again.
When we put about 400,000 kvs, the server became unusable.
It gave "Error:  etcdserver: mvcc: database space exceeded".At that time, the total size of  etcd member dir  was about 2.5GB.
After google, we adjust --quota-backend-bytes param to max value ,which is 8GB.And the server works again.
So here's my problem, since 4

[2018-01-10 02:47] xiang90 commented on #9112
@WanLinghao Can you please do some simple calculation on your own? And try to figure out if the db size matches with what you put into it? We are not going to solve all your problem for you.

[2018-01-10 07:27] lyddragon commented on #9109
If add --config-file may be more convenient.

[2018-01-10 09:22] WIZARD-CXY opened #9126 "how about some etcd-proxy metrics"
Now we have etcd server metrics https://coreos.com/etcd/docs/latest/metrics.html. I wonder how about some etcd-proxy metrics like recording the get_key latency,For example promethus-like metrics:
get_etcd_key_latency_ms{key="etcd/version"} 1

[2018-01-10 13:53] lyddragon opened #9127 "v3.3.0-rc.0 --rev, return error"
# watch,  return all revision
$ ETCDCTL_API=3 /usr/local/etcd/etcdctl watch 'bar' --rev=8 -w json|jq
{
  "Header": {
    "cluster_id": 8850367152553793000,
    "member_id": 371247452853820740,
    "revision": 10010,
    "raft_term": 4
  },
  "Events": [
    {
      "kv": {
        "key": "YmFy",
        "create_revision": 10002,
        "mod_revision": 10002,
        "version": 1,
        "value":

[2018-01-10 15:07] ricklagerweij commented on #8009
Is there any recommended action yet? We are running into this cluster issue aswell.

[2018-01-10 15:19] christianhuening commented on #8009
@ricklagerweij For me it turned out to be a configuration issue. I had to set the `--quota-backend-bytes` flag to something larger than 2GB for my cluster to continue working, as the cluster size was 2,3 GB. It defaults to 2GB, which is documented here: https://github.com/coreos/etcd/blob/master/Documentation/dev-guide/limit.md#storage-size-limit
After that the defrag etc worked again as expected.

[2018-01-10 15:46] ricklagerweij commented on #8009
@christianhuening Thanks! That makes sense as 2 out of 3 nodes had a database which had a size of 2.1GB. I'm not familiar with etcd, how would I tweak this on an existing cluster? This page doesn't really give me much operational recommendations  https://github.com/coreos/etcd/blob/master/Documentation/op-guide/configuration.md

[2018-01-10 15:56] hexfusion opened #9128 "RFC : TXT DNS discovery"
TXT based DNS discovery allows for discovery based on TXT record. The token name will be used as the TXT and A record name. This not only binds the cluster to a specific domain but also uses the token name to anchor the discovery process.

The TXT record could define various key/value pairs but scheme and client/server port are required.

At this point I am curious if this could be useful alternat

[2018-01-10 16:04] christianhuening commented on #8009
@ricklagerweij Well, assuming you have it running via systemd: You go to node 1, edit the systemd service file for etcd and add `--quota-backend-bytes` as an argument (pass the desired GBs as bytes (3GB = 3.221.225.472). Then you restart etcd on that node via `systemctl restart etcd` and monitor the status of the cluster on another node via `etcdctl` until all 3 nodes are healthy again (you can lo

[2018-01-10 18:30] gyuho commented on #9127
@lyddragon I think you are confused with key version and global create/modify revision.

Version is per key.
And the `---rev` is the revision to start watch from.

If the key was written after revision 8, `get` request on the key would return 0.

[2018-01-10 18:30] #9127 closed

[2018-01-11 00:37] gyuho opened #9130 "Write amplification with v3.3 transactional writes"
https://github.com/coreos/etcd/pull/8510 added txn stresser, and tester now fails with `mvcc: database space exceeded` error...

Easily reproducible as below

Update `test` script

[code]

Update `etcd-agent`

[code]

Run

[code]

Check `db` file size

[code]

Now update `test` script to disable transaction stresser

[code]

Check `db` size

[code]

Compare `db` files with/without transactional wr

[2018-01-11 01:33] WandyLau opened #9131 "etcd with discovery.io"
I tried the discovery.io service. And I found that I can not config a real https service, by which I mean that the https can only be used as a hostname, but not a cert configured real one ssl or tls.

So I wonder if it does not support ssl or tls? Or I missed some?

[2018-01-11 01:53] hexfusion commented on #9131
Hi, please post your config and logs we can’t help you unless we can see that information.

[2018-01-11 02:15] WandyLau commented on #9131
I use the discovery.etcd.io repo to start up a private discovery service. The cluster is bootstrapped with cert.And I start the discovery service as:

    #./discovery -e https://localhost:2379

The etcd booted as

    /usr/bin/etcd --name=default --client-cert-auth
    --trusted-ca-file=/etc/kubernetes/ca.pem \
    --cert-file=/etc/kubernetes/etcd-client.pem \
    --key-file=/etc/kubernetes/etcd-

[2018-01-11 03:16] lyddragon commented on #9127
How to get old version value of key?

[2018-01-11 03:40] lyddragon commented on #9127
thx

[2018-01-11 04:23] GhostComputing opened #9132 "Gopath resolve error when read the code in IDEA"
## Problem

When I read the source code in IDEA (only use `GOPATH`={PWD}/gopath), the IDEA(maybe the Go plugin) will produce the error like: "has no buildable Go source files".

Seems the same problem [here](https://intellij-support.jetbrains.com/hc/en-us/community/posts/115000706284--golang-support-for-projects-where-GOPATH-contains-a-symbolic-link)

## My environment

### IDEA

IntelliJ IDEA 201

[2018-01-11 04:29] srinathkotu commented on #7537
+1

[2018-01-11 05:04] gyuho commented on #9130
Also happens without failpoints...

[2018-01-11 09:24] ricklagerweij commented on #8009
@christianhuening makes sense, thanks again.

[2018-01-11 13:03] hexfusion commented on #9126
Hi @WIZARD-CXY, we do have Promethus metrics setup for various proxies. For example gRPC proxy https://github.com/coreos/etcd/blob/master/proxy/grpcproxy/metrics.go. But we could use some help with documenting them it seems :). Would you be interested in helping us out with that?

I think once we have these documented we could look at what is missing and have a conversation about what is lacking?

[2018-01-11 19:44] hexfusion commented on #9094
FWIW I can reproduce with v3.3.0-rc.0 and v3.3.0-rc.1 going to explore a bit.

[2018-01-11 19:49] hexfusion commented on #9094
But if I pass the password directly `--user root:pass` it works. Perhaps this simply masks the issue.

[2018-01-11 21:30] spzala commented on #9121
@xiang90 sure, sorry missed it earlier. I will be working on it. Thanks!

[2018-01-11 21:33] xiang90 commented on #9132
i do not think this is an etcd issue. i do not use IDEA personally either. maybe someone uses that can help you future. but i am going to close this issue since it is not etcd related.

[2018-01-11 21:33] #9132 closed

[2018-01-11 22:47] anshulpundir commented on #9000
How do you deal with large raft snapshots ? Do you have an arbitrarily large gRPC message size/timeout ?

Sure, can you point me to the right place ?

@xiang90

[2018-01-11 22:52] xiang90 commented on #9130
does 3.2 have the same issue?

[2018-01-11 23:12] #9103 closed

[2018-01-11 23:13] gyuho commented on #9130
@xiang90 Yes.

v3.2.14 with freelist sync is 215 MiB.

[code]

 Trying to make this easily reproducible to verify further.

[2018-01-11 23:29] spzala commented on #9095
Thanks @lyddragon for verifying .. I will investigate more but I need to set up multi-node cluster first.

[2018-01-12 01:14] WandyLau commented on #9131
@gyuho I saw there is a public discovery service, is it brought up by this repo? Try to change `--host` flag? I have tried that but the hostname can not be resolved. Should I use the host name in `/etc/hosts`?

[2018-01-12 05:52] lihailei2016 opened #9134 "etcd/raft library usage?"
Why I refer to raft - example to implement a raft application, the result only when the application starts, commitC there is data channel, starts, to proposeC channel data, send the need for consensus in commitC has been no news, don't have anything to do and I am a single node test?

[2018-01-12 06:03] mitake commented on #7537
If someone can implement a prototype, probably I'll be able to review. But we need to care about that external components should be linearizable and highly available for keeping these properties of etcd.

[2018-01-12 06:15] akihiro opened #9135 "clientv3: context mismatch compile error"
I found compile error when I try to use ```github.com/coreos/etcd/clientv3``` library

- example source: https://github.com/akihiro/etcdclient/blob/master/main.go
- build error log: https://hub.docker.com/r/mhiroaki/etcdclient/builds/bxprtelprrpmqe2oqpauner/

gRPC library(```google.golang.org/grpc```) use ```golang.org/x/net/context``` but clientv3 library replace ```golang.org/x/net/context``` wi

[2018-01-12 06:44] mitake commented on #9094
@lyddragon thanks for reporting the problem. I created a PR for fixing this here: https://github.com/coreos/etcd/pull/9136 could you try it?

[2018-01-12 07:10] WIZARD-CXY commented on #9126
@hexfusion thanks for your guidance. I need some api client related metrics, e.g. get_etcd_key_latency_ms{key="etcd/version","client_addr": "10.1.10.1:54905"} 1

[2018-01-12 07:12] WIZARD-CXY commented on #9126
yeah documenting the existing one is nice, I think maybe I can lend a hand.

[2018-01-12 08:11] universonic opened #9138 "dep package management tool support"
Hello, would you please add a Gopkg.toml into the repository to support the [dep](https://github.com/golang/dep)?

[2018-01-12 08:14] gyuho commented on #9130
I was setting up stresser weights wrong...

Confirmed that db size only with txn writes grows as expected.
Most of the data was coming from large puts with 33 KiB values.

This is snapshot from tester only with txn stresser (6-byte key, 5-byte value).

[code]

[2018-01-12 08:14] #9130 closed

[2018-01-12 08:20] gyuho commented on #9138
Yes, we plan to. Duplicate with https://github.com/coreos/etcd/issues/7225.

[2018-01-12 08:20] #9138 closed

[2018-01-12 08:21] gyuho commented on #9135
Please use Go 1.9+.

[2018-01-12 08:21] #9135 closed

[2018-01-12 09:32] GhostComputing commented on #9134
Maybe you need to read `etcd/contrib/raftexample`, it's a very simple example to show you how to use `etcd/raft`.

[2018-01-12 17:49] gyuho commented on #8645
@spzala We can test this manually first.

I would try

1. Set up `--grpc-keepalive-min-time`, `--grpc-keepalive-interval`, `--grpc-keepalive-timeout` to etcd server (ref https://github.com/coreos/etcd/pull/8535 and gRPC doc).
2. Since this is server-to-client HTTP/2 ping, we should disable client-to-server ping and discard incoming packets from server in client-side (iptables, tc).
3. Then transla

[2018-01-12 18:21] spzala commented on #8645
@gyuho thanks much!!

[2018-01-12 18:36] gyuho commented on #7225
Plan to migrate to `dep`  after 3.3 release. I migrated another project with `dep`

1. https://github.com/coreos/dbtester/blob/master/scripts/updatedep.sh
2. https://github.com/coreos/dbtester/blob/master/Gopkg.toml
3. https://github.com/coreos/dbtester/blob/master/.gitignore

We need `.gitignore` updates until `dep` implements pruning.

[2018-01-12 19:15] xiang90 commented on #9126
@WIZARD-CXY You shall enable the grpc client's metrics in the proxy. then you will get what you want. Example here: https://github.com/coreos/etcd/blob/master/clientv3/example_metrics_test.go#L33-L40

If you want to know the overall latency from client <-> proxy <-> etcd, enable the metrics at your application side too.

[2018-01-12 19:15] xiang90 commented on #9126
@WIZARD-CXY Send a PR to add a flag to grpc proxy to enable the extensive client metrics please. Thank you.

[2018-01-12 22:02] sachja commented on #8568
Does this solve the unavailability problem if currently the number of nodes is equal to majority and  a new node is added or was down for a while and comes back up, while at the same time a current node goes down?

[2018-01-12 22:23] xiang90 commented on #9097
this is already fixed. thanks @GhostComputing .

[2018-01-12 22:23] #9097 closed

[2018-01-13 01:24] gyuho commented on #4821
Closing this.

We've been using semantic versioning for dependencies wherever possible, but not every project follows this practice (e.g. `golang.org/x/net`).

[2018-01-13 01:24] #4821 closed

[2018-01-13 02:26] WIZARD-CXY commented on #9126
@xiang90 thanks a lot

[2018-01-13 04:54] VergilTang commented on #9135
I've changed my go version to 1.9.2, but I still got  error like these:

[code]

[2018-01-13 12:56] hexfusion commented on #9135
@VergilTang please make sure that your go env is setup correctly. I can not reproduce your issue.

[code]
[code]
[code]

[2018-01-13 14:24] henrywang opened #9141 "The bool true returned by API /health does not work with Kubernetes v1.9.1"
The etcd exposes health information via HTTP at /health in JSON format. If it returns {"health": "true"}, then the cluster is healthy.
There's a bool type value got returned since 3.3.0. But when it integrated with Kubernetes, the Kubernetes component status check will report an error.

[code]

[code]

[2018-01-13 14:48] henrywang commented on #9141
I reported this issue on Kubernetes as well. https://github.com/kubernetes/kubernetes/issues/58240

[2018-01-13 15:09] hexfusion commented on #9141
Hi @henrywang I am going to close this as it is a documented change for etcd. Thank you for keeping the Kubernetes community up to date on the change.

[2018-01-13 15:09] #9141 closed

[2018-01-14 00:08] steve-gray commented on #9014
@gyuho - You've given @Iulian7  the incorrect hash. The actual version required from the etcd repo appears to be:

  ded73eae5db7e7a0ef6f55aace87a2873c5d2b74

[2018-01-14 01:31] charles4cicy commented on #9141
I met the same problem in Kubernetes v1.8.6.

[root@promote charles]# kubectl version
Client Version: version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.6", GitCommit:"6260bb08c46c31eea6cb538b34a9ceb3e406689c", GitTreeState:"clean", BuildDate:"2017-12-21T06:34:11Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.6",

[2018-01-14 03:30] hexfusion commented on #9141
FWIW it seems that the supported version of etcd is 3.1.10. This issue reported will only happen with etcd 3.3+. This has been documented in the v3.3 [release notes](https://github.com/coreos/etcd/blob/master/Documentation/upgrades/upgrade_3_3.md#change-in-health-endpoint-response-value). I am going to leave it at this as we have provided plenty of details for anyone who may stumble upon it..

htt

[2018-01-14 17:29] spzala commented on #9095
@lyddragon hi, I hope you can wait on it some more. I couldn't reproduce it on single node and I am still in process of of setting up 3 node cluster. Thanks!

[2018-01-14 18:22] neiljerram commented on #9104
@bra-fsn @xiang90 @gyuho Do you know if a similar scenario with `etcd --proxy on ...` instead of `etcd grpc-proxy` is also not supported?  In other words, if `etcd --proxy on` supports the JSON gateway and proxies JSON gateway requests to the etcd cluster?

(Empirically, I see that a http://<proxy>:2379/v3beta/kv/range request does not get any response.  So I think the answer is that this is not s

[2018-01-14 20:29] spzala commented on #9121
@xiang90 hi, to play with benchmark with I was trying to install/run it as ```go get github.com/coreos/etcd/tools/benchmark``` and ```go run tools/benchmark/main.go``` but both gives me following errros
[code]
Am I doing something wrong? Is this something am missing in my environment? Googling on the error gives me very little information related to golang. Thanks for any help!

[2018-01-14 20:31] spzala commented on #9121
I am running ```go version go1.9.2 linux/amd64```

[2018-01-14 21:11] gyuho commented on #9121
@spzala Try `go install -v ./cmd/tools/benchmark`

[2018-01-14 21:38] spzala commented on #9121
Aha, that's it!! Worked like a champ. Thanks @gyuho

[2018-01-15 03:34] WIZARD-CXY commented on #9126
@xiang90 seems proxy already has some client metrics
![2018-01-15 10 51 01](https://user-images.githubusercontent.com/2142864/34925561-02b8d98e-f9e5-11e7-8a02-2d59358b7f51.png)

[2018-01-15 06:38] WIZARD-CXY commented on #9126
AFAIK, the grpc proxy metrics does not record the client address and key prefix that we request. That's what I need e.g. ```
get_etcd_key_latency_ms{key="etcd/version","client_addr": "10.1.10.1:54905"} 1
[code]

[2018-01-15 07:02] liggitt opened #9144 "3.3.0-rc breaks /health API compatibility"
The /health response in the 3.3.0 release candidates breaks compatibility with the response from previous releases

Prior to 3.3:
[code]

3.3.0-rc:
[code]

while it is true that the boolean is a better match for the data presented, it's probably not worth breaking compatibility with existing monitoring tools over it. it would be good to switch the type back prior to releasing 3.3.0.

see example i

[2018-01-15 07:07] xiang90 commented on #9144
@liggitt why does k8s rely on parsing the http body rather than http status code?

changing string to type is more a bug fix than an intentional breaking change. we never intend to make it a string at the first place.

[2018-01-15 07:09] liggitt commented on #9144
Because that was what was documented:

Nevertheless, that's the API you have. Unless there's a good reason, it shouldn't change in breaking ways.

[2018-01-15 07:13] xiang90 commented on #9144
The reason is to fix the unintended behavior. It seems to me that k8s does not need to parse http body. Also it can easily parse the boolean type when the string one fails as a fallback.

We could choose to not change the current health endpoint. And we could have added another healthy endpoint to fix the problem, and add more healthy related information. But I do not feel this "breaking" change i

[2018-01-15 07:17] liggitt commented on #9144
Pushing workarounds for API breaks into all clients doesn't make sense to me.

Adding more health related info is fine... you can do that in a backwards compatible way. Changing the type of the existing field is the break. If this were a new API, a boolean would definitely make sense, but since it's not, the downside of breaking clients outweighs the cleanliness of a better matching field type.

[2018-01-15 07:20] xiang90 commented on #9144
Can you tell me which client is affected? go/jave clients do not query this API. We searched around while changing this API,  few client exposes health API directly.

[2018-01-15 07:39] xiang90 commented on #9126
@WIZARD-CXY if you want client_addr, ask here https://github.com/grpc-ecosystem/go-grpc-prometheus.

i feel it is not a good thing to add in general. it can explode metrics tagging since the number of different clients can be "unlimited".

if you want to track client side behavior, you should track it at your application side in general.

[2018-01-15 10:09] cnkuyan opened #9145 "etcdmain unable to find existing member certificate file"
Server version
[code]

Important :
The etcdmain version shown by the image pulled from the git repo in the journalctl output is different from above though (etcdmain: etcd Version: 3.2.11 )

coreos version
[code]
Running etcd-member.service as system drop-in  ( ignition script automatically generated by containerlinux transpiler . )

[code]

error log :
[code]

file is there, owned by root, and re

[2018-01-15 12:45] hexfusion commented on #9145
What is the perm of the containing directory? This still seems like a perm issue. Does the following succeed? A file can have read perms but not be readable if the containing directory perms are more strict.

`sudo su etcd -c"cat /var/ssl/certs/ocore-noup1-member.pem"`

`ls -ld /var/ssl/certs/`

[2018-01-15 13:35] wgw335363240 commented on #9107
I met same problem and etcd version is 3.2.9.   And the same with 3.3.0.rc

[2018-01-15 14:14] cnkuyan commented on #9145
@hexfusion Good point. Here is the output of the cat command, run as user `etcd`
[code]

Looks like there is no such user.

and:
[code]

I was already suspicious about the following line the service log too ..:

[code]
Isn't the service running as `root` ?

[2018-01-15 14:21] hexfusion commented on #9145
@cnkuyan you need to follow the trail a bit further

`ExecStart=/usr/lib/coreos/etcd-wrapper $ETCD_OPTS \`

So you are passing opts to etcd-wrapper which in turn fires rkt. Review that script `/usr/lib/coreos/etcd-wrapper` and it should become more clear re $ETCD_USER.

[2018-01-15 15:07] cnkuyan commented on #9145
@hexfusion First of all , I'm not doing anything special with $ETCD_OPTS env variable that is referenced by the etcd-wrapper script. It is empty.

By the way,  I managed to get etcd service on the 1st node by passing --peer-auto-tls config flag, and removing the manualy provided  peer cert and key files ..

But nothing stops me from experimenting , and passing an  env variable by adding this to th

[2018-01-15 15:29] hexfusion commented on #9145
I just meant you are passing the params to the script.

This is simply a notice etcd will log any var prefixed with ETCD_ that is not used internally by etcd. But this is not an error.

The main issue here is that rkt is running etcd container. rkt container can't find the file as it is on your host not in the container. Perhaps you need to pass `--volume` to rkt as well so that it can see the fil

[2018-01-15 17:36] NoxisStyle opened #9146 "Hidden nodes in etcd v3"
Hi,

Do hidden nodes (using the underscore prefix) still exist in etcd v3?
I saw in this [issue ](https://github.com/coreos/etcd/issues/898) that it would still be supported in v2 but would disappear in v3.

I am using etcd with SkyDNS 2 in order to store DNS SRV information which can contain underscores.
e.g.
/skydns/local/cluster/myservice/_tcp/_http

In the meantime I need to monitor ('watch')

[2018-01-15 19:31] xiang90 commented on #9146
i do not quite follow your use case. can you provide more details? do you mean that you do not want to watch the hidden key changes but all other keys?

[2018-01-15 19:32] xiang90 commented on #9107
@wgw335363240

can you reproduce it?

[2018-01-15 20:15] NoxisStyle commented on #9146
Not exactly, I'll clarify my need.

What I expect is, for instance, to make a recursive watch at **/skydns/local/cluster** and be notified when child nodes are added
e.g
/skydns/local/cluster/myservice1/_tcp/_http
/skydns/local/cluster/myservice2/_tcp/_http/myInstance

NB: The use of the underscore is only used in order to follow the form of DNS SRV records. Unfortunately, it is also considered by

[2018-01-15 22:55] hexfusion commented on #9145
@cnkuyan I am going to close this as it is a configuration problem vs etcd issue. Please feel free to continue the conversation here if you have more feedback or issues.

[2018-01-15 22:55] #9145 closed

[2018-01-15 23:10] hexfusion commented on #9145
I did a little more research and it seems you can pass the ETCD_SSL_DIR var here.

https://github.com/coreos/coreos-overlay/blob/master/app-admin/etcd-wrapper/files/etcd-wrapper#L71

Which would resolve to /etc/ssl/certs in the container. I am assuming that the script is the same but perhaps this helps you.

[2018-01-16 02:20] WIZARD-CXY commented on #9126
@xiang90 I agree with u.

[2018-01-16 02:20] #9126 closed

[2018-01-16 02:31] WIZARD-CXY commented on #9126
@hexfusion If you need some help documenting the existing one, ping me. I close this issue because I and xiang90 agree this is not a good thing to do now

[2018-01-16 02:34] hexfusion commented on #9126
Understood, your help is always welcome. :)

[2018-01-16 03:41] justlooks opened #9147 "Failed to dial 10.161.233.80:2379: connection error: desc = "transport: remote error: tls: bad certificate"; please retry."
i have three node etcd cluster , and want to set SSL/TLS on it ,and i use cfssl to get crt and key file,here is what i do
[code]

[2018-01-16 04:05] hexfusion commented on #9147
Hi @justlooks thank you for details, can you please test certs.

`openssl x509 -in $cert_name.pem -text -noout`.

[2018-01-16 05:38] justlooks commented on #9147
@hexfusion

here is the certs info

[code]

[2018-01-16 11:59] discordianfish commented on #9007
I assume it wouldn't work to make etcd signal ready only if it reached quorum? That would make my setup "just work": https://github.com/itskoko/kubecfn/issues/4

[2018-01-16 14:01] cnkuyan commented on #9145
@hexfusion Thank you , that's actually what I needed it . Or I was going to map a volume manually in the ignition script.
Sure, let's go ahead and close this as configuration problem .

At this point though,  I'd like to know how to pass this environment variable from the ContainerLinux source config, so that it gets transpiled into the final ignition by the `ct` tool ..

So far I have manually ad

[2018-01-16 14:47] jacky1193610322 opened #9148 "question about raft"
###recently, I'm learning the raft and view the etcd-raft to help me learn,
but there are some questions.
1. what happened when the leader cannot replicate to the majority?
if the network is ok, but when the leader broadcast the propose, the majority of nodes fail maybe because of the full disk or full memory or something else, how should I do?
if I respond the client failure, if the leader down,

[2018-01-16 20:56] xiang90 commented on #9007
@discordianfish

Please provide an isolated way to reproduce the problem as the etcd github issue guide suggests. If this is not an etcd issue, we should close it.

[2018-01-16 21:08] gyuho opened #9149 "Improve e2e test coverage"
While etcd `integration`  and `clientv3/integration` test its functionalities to ensure its correctness, [`e2e`](https://github.com/coreos/etcd/tree/master/e2e) verifies `etcdctl` output on each command with various user inputs.

Most of the commands are already covered, but not all possible cases (e.g., `endpoint health` with auth enabled, TLS enabled).

Improve e2e test coverage by:

1. check wh

[2018-01-16 21:44] gyuho opened #9150 "Improve membership reconfiguration test coverage"
Membership reconfiguration is critical in operating etcd cluster, which etcd-operator heavily depends on. Although we already have a fair amount of tests around cluster APIs (member add/remove), we do not test every possible configurations. I doubt current member APIs have any serious bugs but always good to have edge cases covered and proactively prevent new bugs for future development.

Some of

[2018-01-16 22:05] gyuho opened #9151 "Improve snapshot backup/restore test coverage"
Snapshot fetches the point-in-time state of etcd backend database. API itself is simple; stream key-value pairs by iterating each bucket. However, there have been many [unexpected behaviors](https://github.com/coreos/etcd/issues/8009) with frequent snapshots and restore.

Increase test coverage around snapshot API and its restore operations. Some of the missing test cases are:

- [X] restore multi

[2018-01-16 22:19] gyuho opened #9152 "Make functional-tester deploy easy"
Current functional-tester deployment requires a lot of dependencies (`iptables`, `tc`, `go`), which makes it hard to deploy or containerize. We should make this easier so that community can run tests on other cloud providers.

First step is introduce low-overhead proxy layer https://github.com/coreos/etcd/pull/9081 to get rid of external dependencies. And then we can put tester components in a sin

[2018-01-16 22:28] gyuho opened #9153 "Improve CI/Jenkins infrastructure"
We want to have more transparent test infrastructure for communities. To address https://github.com/coreos/etcd/issues/8862, a set of sub tests will need to be added to our Jenkins.

Problem is that Jenkins is belonged to CoreOS and only CoreOS employees can configure jobs and tests.

Ideally, we should host public Jenkins for etcd community. If not, we should at least document and host test scrip

[2018-01-16 23:38] xiang90 opened #9156 "etcd v3 clients feature/maturity matrix"
There are currently two "official" etcd v3 clients, written in go and java. Our users want us to  provide help on the etcd clients written in other languages (python, ruby, etc.)

To get started, I propose to start define the functionalities that a client should support, and a way to measure the maturity. At least, our users can choose external client more wisely. Also we can encourage the client

[2018-01-16 23:40] gyuho commented on #9146
Can you clarify? There's no such thing as hidden node in v3.

[2018-01-16 23:51] gyuho commented on #9148
Can you separate questions or clarify a bit more on what you are asking?

For first question, if you are talking about raft in etcd server, the follower will overwrite its data with snapshot from leader. The follower only starts applying snapshot once the snapshot message has been committed, so leader would either been notified of its sending message failure or successfully send snapshot to follow

[2018-01-16 23:52] hexfusion commented on #9153
I am interested in setting up public Jenkins instance if I can get a little help with hosting.

[2018-01-17 00:36] gyuho opened #9157 "clientv3: customize/improve balancer endpoint selection"
### Problem

Current balancer randomly pins first connected address and never switches until disconnected. Theoretically, millions of clients can be pinned onto the same node. Worse if several watchers are multiplexed on those connections--dispatching node can quickly be overloaded. Since we do not expose connection status or pinned endpoint, client has no way to distribute connections evenly.

##

[2018-01-17 00:42] xiang90 commented on #9153
maybe @jpbetz has some experience on how to do a public jenkins from his k8s experience.

[2018-01-17 00:49] hexfusion commented on #9153
Good point perhaps he knows a good cloud provider too? :)

[2018-01-17 02:09] jacky1193610322 commented on #9148
Thank you for your replying. I'm sorry.
1. what happened when the leader cannot replicate to the majority?
the raft says: the leader will commit when it receives success from the majority of nodes,
but if it doesn't exceed the quorum, for example, there are 5 nodes a,b,c,d,e.
a is the leader,  it receives the client's request, then broadcast the propose to the followers, if c,d,e fail with full di

[2018-01-17 05:54] wgw335363240 commented on #9107
A new envionment does not have the problem.

[2018-01-17 06:09] xiang90 commented on #9107
@wgw335363240

there is no way for us to help unless you tell us how to reproduce the problem.

[2018-01-17 06:15] spzala commented on #9121
@xiang90 hello, if I understood the issue correctly, we need to test the cases you have suggested manually and make sure how much physical memory is used. And then create a test similar to one in benchmark put.go but with memory usage? or are you referring a test related to check perf? Thanks! /cc @gyuho

[2018-01-17 06:25] xiang90 commented on #9121
@spzala

Right now, in etcdctl there is a perf check command: https://github.com/coreos/etcd/tree/master/etcdctl#check-perf-options.

etcdctl usually gets installed by users, and the perf check command is very simple and intuitive

[code]

the benchmark tool can also measure throughput/latency like perf check. but it is designed for flexibility not for ease of use. users have to provide all sorts

[2018-01-17 09:20] NoxisStyle commented on #9146
I double-checked and discovered that I was not using the "--prefix" option of of etcdctl. Therefore watch was not returning anything. I falsly thought that it was because of the underscores.

As a matter of fact, it seems that undersocores are no longer considered as hidden nodes in etcd v3.

Thanks.

[2018-01-17 09:20] #9146 closed

[2018-01-17 10:24] cnkuyan commented on #9145
@hexfusion  I'd like to continue the conversation due to an issue .

I'm running etcd with the wrapper script, and passing the the host folder that holds my self-signed certificates, and the trusted ca cert.  Here is the service drop in :

[code]

The etcd-wrapper seemingly recognizes my flags, and folder locations , but issues a  'bad certificate error' , as follows:

[code]
I can connect and int

[2018-01-17 10:33] cnkuyan opened #9158 "etcd-wrapper executed daemon not able to pick up trusted ca"
I'm running etcd with the wrapper script, and passing the the host folder that holds my self-signed certificates, and the trusted ca cert.  Here is the service drop in :

[code]

The etcd-wrapper seemingly recognizes my flags, and folder locations , but issues a  'bad certificate error' , as follows:

[code]
I can connect and interact with the etcd2  (2.3.7) , when executed direct from the command

[2018-01-17 11:05] ximenzaoshi opened #9159 "Struggle with etcd timeout, help"
We use k8s in production, about 300 nodes. Serval days ago, the etcd cluster became abnormal, no leader can be elected and all the client requests timeout.
Here is the node config:
[code]
etcd version 3.2.14
Here is the master node endpoint status:
[code]
The master node log shows that the query time too long...
[code]
Here are the master node log and metrics files:
[master-node.log](https://githu

[2018-01-17 13:19] cnkuyan commented on #9158
Solved.

Copying of custom certificates over to folder /etc/ssl/certs and running update-ca-certificates on the host solves the issue.

I executed the commands manually, the update command should go as  ExecPre statement in the service file.

[2018-01-17 13:19] #9158 closed

[2018-01-17 13:19] cnkuyan commented on #9145
Solved.

Copying of custom certificates over to folder /etc/ssl/certs and running update-ca-certificates on the host solves the issue.

I executed the commands manually, the update command should go as  ExecPre statement in the service file.

[2018-01-17 13:24] hexfusion commented on #9158
nice sleuthing @cnkuyan :+1:

[2018-01-17 13:36] hexfusion commented on #9159
One thing I notice in your master-node logs is this.

/cc @gyuho @xiang90

[2018-01-17 14:56] spzala commented on #9121
@xiang90 perfect, thank you so much!!

[2018-01-17 15:24] discordianfish commented on #9007
So the actual bug here is that etcd seems to respond with an empty version when it's starting up. But since this isn't more root problem, I won't have time to reproduce this. Will close this issue for now.

[2018-01-17 15:24] #9007 closed

[2018-01-17 18:43] gyuho commented on #9148
You lost 3 members out of 5, so there is no leader. Cluster halts and cannot serve any requests.

What do you mean by respond to client failure?

Follower is just another node in the cluster. If the disk is full, the follower process would just terminate.

Again, if the snapshot apply or send fails, the apply index won't be updated in follower, so the failure would be retried in the next reboot.

[2018-01-17 18:45] gyuho commented on #9159
How do you know? Is that HDD?

[2018-01-17 18:52] xiang90 commented on #9159
from what i can see in the logging you provided, the leader is elected. the client requests timedout since the execution time is long for each request (took more than 10 seconds).

probably you need to figure out why there are expensive requests sent to etcd.

[2018-01-17 19:11] ximenzaoshi commented on #9159
This is a config mistake, I changed to 8589934592. @hexfusion
We have host monitor. @gyuho
After the electing config changed, as you can see, 1000ms and 10000ms, the leader can be elected, it can not be elected before changing the config. But the most import thing now is the timeout requests. Thank you for your advice, I tried but no result. Is there any tools for this, or etcd can tell which key

[2018-01-17 19:27] #9144 closed

[2018-01-17 20:02] xiang90 commented on #9159
check out https://github.com/coreos/etcd/issues/9111

[2018-01-17 20:36] gyuho commented on #8441
We are migrating to `golang/dep` https://github.com/coreos/etcd/pull/9155.

[2018-01-17 20:36] #8441 closed

[2018-01-17 20:53] jpbetz commented on #9153
Unfortunately, I haven't picked up any Jenkins expertise from my time here on the kubernetes teams. Kubernetes has been using it's own test-infra for quite some time: https://github.com/kubernetes/test-infra/tree/master/jenkins

[2018-01-17 21:20] gyuho commented on #9150
@jpbetz You might be interested in improving https://github.com/coreos/etcd/blob/master/integration/cluster_test.go. We DO have scaling up membership tests, but still uses v2 API.

First good step would be using v3 API and make sure current test cases pass.

[2018-01-17 21:22] gyuho commented on #9149
@hexfusion Do you want to work on this?

[2018-01-17 21:34] ximenzaoshi commented on #9159
```ETCDCTL_API=3 etcdctl --endpoints=localhost:3379 put foo bar --command-timeout=100s```
This update tool about 12s. As I can see, any update operation takes the same time now...
@xiang90

[2018-01-17 22:06] jpbetz commented on #9150
This looks like the right place to start. Thanks @gyuho.

The 1->2 scale up concern is purely theoretical. If newly added member can be briefly unavailable after a cluster is scaled up to include it--maybe due to replication of a large dataset--then the 1->2 scale up case would be impacted, because for that particular size change, the newly added member instantly becomes an essential member of the

[2018-01-17 22:20] hexfusion commented on #9153
OK I can assist with efforts once we get somewhere to deploy.

[2018-01-17 22:23] hexfusion commented on #9149
@gyuho I do.

[2018-01-17 22:25] xiang90 commented on #9153
@hexfusion

I think it is less a problem to get the actual hardware infrastructure. We at CoreOS can put cloud machines. I believe Google, AWS or IBM are also willing to help if the machines resource is a problem.

We care more about how to trigger the tests, how to change the test scripts, and how to access the testing logs/assets in an open way.

[2018-01-17 22:34] jpbetz opened #9161 "Support non-voting members in etcd server"
Non-voting member support is now available in the RAFT implementation.

Let's add it to etcd server. This will enable new workflows for etcd server migrations and reconfigurations.

[2018-01-17 22:49] xiang90 commented on #9161
/cc @siddontang

we will start working on non-voting member soonish. i know tikv is also implementing this. it would be great if you can share your experience with us.

[2018-01-17 22:54] xiang90 commented on #9123
https://github.com/dvonthenen do you want to explore this one?

[2018-01-17 22:55] xiang90 commented on #9123
^ @dvonthenen

[2018-01-17 22:56] xiang90 commented on #8941
@YuleiXiao kindly ping.

[2018-01-17 23:27] dvonthenen commented on #9123
@xiang90  Sure thing! Will look into this!

[2018-01-17 23:28] xiang90 commented on #9123
@dvonthenen let me know if you need more information/context on this issue. i (or @gyuho ) am happy to help you on this one.

[2018-01-18 00:44] glevand commented on #9153
Depending on the hosting, if needed, the Jenkins maser is available as a container image (https://hub.docker.com/r/jenkins/jenkins/), although I have never used it.

By using pipeline Jenkinsfiles (https://jenkins.io/doc/book/pipeline/jenkinsfile/) the Jenkins job description files are stored on a source control server.  When a job runs Jenkins will checkout the latest job description from the ser

[2018-01-18 00:59] ximenzaoshi commented on #9159
What kind of requests? You mean the body is huge, or may be a transaction? @xiang90

[2018-01-18 01:04] gyuho opened #9163 "api/maintenance: add alarm/health information in endpoint status"
https://github.com/coreos/etcd/pull/9162 removes `"errors"` field from `/health` endpoint.

Better place to serve this information is `etcdserverpb.StatusResponse`. Probably, just add another `repeated` field of `errors`.

[2018-01-18 01:07] gyuho opened #9164 "Documentation: improve TLS flag explanation, clarify use case"
Document better at https://github.com/coreos/etcd/blob/master/Documentation/op-guide/configuration.md.

[2018-01-18 01:51] hexfusion commented on #9149
started a [doc](https://docs.google.com/spreadsheets/d/1XQ0H7rS3TPnLOE1SxnbykU68WXWIm-on-aWMOIAN8Mk/edit?usp=sharing) to try and flush out coverage. Anyone can feel free to update.

[2018-01-18 02:20] jacky1193610322 commented on #9148
Thank you very much, I think I didn't describe clearly.

I mean each system call maybe fail. for example malloc or write. if the error happens, will the follower respond the failure or doesn't respond when an error happens in the middle of handling the proposal?
for example.
p_malloc = malloc(20);
if (p_malloc == NULL){
     return error_code;
}
handle(propose);

malloc is just an example, I just

[2018-01-18 03:24] gyuho opened #9165 "Investigate/document noisy gRPC logs"
Quite a few people have asked about this logs (related https://github.com/coreos/etcdlabs/issues/281 and https://github.com/coreos/etcd/issues/8822).

2017-11-10 18:02:24.982017 I | etcdserver/api/v3rpc: transport: http2Server.HandleStreams failed to read frame: read tcp 127.0.0.1:2397->127.0.0.1:37926: read: connection reset by peer
2017-11-10 18:02:26.985608 I | etcdserver/api/v3rpc: transport:

[2018-01-18 03:29] YuleiXiao commented on #8941
@xiang90 I try to find the reason, but still not find it out.

[2018-01-18 05:33] SaranBalaji90 commented on #8822
@zarmin may be this could be related to https://github.com/grpc/grpc-go/issues/1062

[2018-01-18 07:07] hchenxa opened #9166 "gRPC error in etcd v3.2.14 HA environment."
I setup a etcd HA environment with etcd v3.2.14 and here is the etcd server startup parameters:

[code]

when etcd started, I found below messages in etcd logs:
[code]

Does there have any impact about gRPC failed?

[2018-01-18 07:33] WanLinghao opened #9167 "why benchmark tools much faster than etcdctl CLI?"
Hello, guys~
I noticed benchmark as a test tool in etcd.
A brief introduction is here:
https://coreos.com/etcd/docs/latest/op-guide/performance.html

When I use this tool , I feel strange that why it is so fast.
For example, it can complete a test  with 10000 data inserted within 10 seconds.
On contrast, etcdctl command line may consume 10-15 minutes to insert 10000 kvs,
I am confused by  this hug

[2018-01-18 13:16] hexfusion commented on #9167
For example, it can complete a test with 10000 data inserted within 10 seconds.
On contrast, etcdctl command line may consume 10-15 minutes to insert 10000 kvs,.

@WanLinghao

Speed considerations
- Latency: Are both using same endpoints?
- KV: size same for both?
- Transaction speed: (concurrency?)
- HDD vs SSD

Basically, from a quick review benchmark, the big issue is concurrency. Below in my b

[2018-01-18 13:23] hexfusion commented on #9167
@WanLinghao I am going to close this, please feel free to continue the conversation here with any additional questions. Thanks!

[2018-01-18 13:23] #9167 closed

[2018-01-18 14:58] hexfusion commented on #9167
My example assumed bash put please feel free to share your work so we can review if you like.

[2018-01-18 15:35] gyuho commented on #9166
Seems like server failed to receive watch request on compaction. Was there any error in client side?

[2018-01-18 18:13] xiang90 commented on #9167
@WanLinghao

yes. as @hexfusion mentioned, concurrency is the biggest difference. at the server side, etcd can batch concurrent requests, and only do 1 disk sync.

another factor is the executable startup time is eliminated in the benchmark tool.

[2018-01-18 19:05] xiang90 commented on #9087
this is fixed by #9116

[2018-01-18 19:05] #9087 closed

[2018-01-18 21:06] xiang90 commented on #9165
also see https://github.com/zero-os/0-stor/issues/478

[2018-01-18 22:15] SaranBalaji90 commented on #9165
We did some investigations around this and this is what I have so far. (I found grpc-go issue that moves these logs into different level in their latest version but I'm not sure why are we seeing multiple connections being initiated)

**Issue**
Etcd logs have quite a few lines that says http2Server.HandleStreams failed to read frame.

**When does this happen?**
When we initiate client connection t

[2018-01-18 22:37] SaranBalaji90 commented on #9165
We did some investigations around this and this is what I have so far. (I found grpc-go github issue that moves these logs into different level in their latest version but I'm not sure why are we seeing multiple connections being initiated/terminated)

**Issue**
Etcd logs have quite a few lines that says "http2Server.HandleStreams failed to read frame."

**When does this happen?**
When we initiate

[2018-01-18 23:39] xiang90 commented on #9165
@SaranBalaji90

if you leave the cluster idle without any client interaction, will you still see the error logging? i am asking since the broken streams might be caused by the internal grpc-gateway.

[2018-01-19 00:32] #9164 closed

[2018-01-19 00:39] SaranBalaji90 commented on #9165
We don't see these logs when cluster is idle.

But @eswarbala pointed out this issue https://github.com/coreos/etcd/issues/7065.

I'm invoking Member list API in clientV3 and for all these clusters, api 3.0 is enabled after third node joins. Therefore until then we will see these logs because grpc-go might be retrying since it got status 14 which says service is unavailable.

Does this make sense

[2018-01-19 00:50] gyuho commented on #9165
What was this clientv3 version? Retry logic has changed a lot since 3.0.0.

[2018-01-19 01:13] SaranBalaji90 commented on #9165
I built clientv3 by invoking whatever we have here (https://github.com/coreos/etcd/tree/master/clientv3) go get github.com/... should be the latest version.

[2018-01-19 01:13] gyuho commented on #9165
Actually for this specific API (`MemberList`), both 3.0 and latest (3.3+) retry on `etcdserver: not capable` error. So, it is expected that we will see a bunch of those errors until 3.0 api is enabled.

[2018-01-19 01:34] xiang90 commented on #9165
but why the retry will trigger errors like `read: connection reset by peer`?

[2018-01-19 01:36] gyuho commented on #9165
Simplest solution would fetch `/version` endpoint until it sets cluster version

[code]

[2018-01-19 01:36] xiang90 commented on #9165
also it seems that the retry is pretty aggressive. for `not capable error` at least, we should not retry that aggressive, since we know it is because of the cluster is not fully up. retry immediately will not resolve that since it is different than a network error where a immediate retry has a high chance to just work.

[2018-01-19 01:39] gyuho commented on #9165
Probably from creating/closing a client for every unary RPC call?
That error message shouldn't appear from retries with same connection, but I haven't investigated further on this.

[2018-01-19 01:40] xiang90 commented on #9165
closing a client should not generate that error... the tcp connection should be closed cleanly.

[2018-01-19 01:43] gyuho commented on #9165
According to https://github.com/grpc/grpc-go/issues/1062#issuecomment-311739449, it's expected, given that we closes gRPC connection properly.

[2018-01-19 01:46] WandyLau commented on #9131
@gyuho Hi, I wonder if no body ever maintains this repo, why the public discovery io service is still available. This service is from this repo, right?

BTW, are you going to abandon this project?

[2018-01-19 01:47] gyuho opened #9171 "clientv3: improve retry policy"
https://github.com/coreos/etcd/issues/9165#issuecomment-358839660

Along with dial policy https://github.com/coreos/etcd/issues/9157, retry policy needs some improvements.

Currently, it's just for-loop with no waiting.

[2018-01-19 01:47] xiang90 commented on #9165
k. it seems gRPC already make that error at debug level.

from our side, we can retry `not capable` less aggressive, and we do not need to switch to another endpoint for `not capable` error too.

[2018-01-19 01:48] gyuho commented on #9165
Good idea. Opened another issue to track it.

[2018-01-19 01:50] gyuho commented on #9131
I wouldn't say it's abandoned. We didn't have enough bandwidth and people to maintain it, at least for now.

[2018-01-19 01:52] hchenxa commented on #9166
@gyuho , I did not see any error from kubernetes apiserver side.

[2018-01-19 01:58] xiang90 commented on #9166
@gyuho

the requests are canceled from the client. we should not log these as warning. i am not sure why they are logged though. i think @spzala put up a PR to get it fixed. maybe we missed something.

[2018-01-19 01:59] WandyLau commented on #9131
OK, if possible. I will try to do it then.

[2018-01-19 02:00] gyuho commented on #9166
Yeah it was only handling context cancel errors. Will try reproduce tomorrow.

[2018-01-19 02:05] xiang90 commented on #8320
@ThatsMrTalbot

can you send a WIP pr to the etcd upstream repo? then we can discuss there.

[2018-01-19 02:24] ximenzaoshi commented on #9159
I compiled the master branch, and ran a single cluster with the snapshot, no any write or read. And I found the update still timeout. There are lots of ```2018-01-19 10:07:38.538741 W | etcdserver: failed to revoke 754f60fad2005caf ("lease not found")```  logs like this. All the pending proposals are related to the lease revoking.
So why the leases to revoke can be not found, is this the reason of

[2018-01-19 02:30] xiang90 commented on #9159
@ximenzaoshi

as the error suggests you try to revoked a not exist lease. i have no idea why your code tries to do that aggressively. i am not sure if this is the reason for timeout either.

[2018-01-19 04:29] ximenzaoshi commented on #9159
But there is no program to visit the singe etcd cluster which is created by the snapshot before. Or you mean the etcd snapshot will store the user requests before? This is a little unreasonable. So I guess it's the etcd itself that dose the revoking as the lease is out of date. But why the outdated lease is not found, this is still a question. And after the revoking requests failed, I think it sho

[2018-01-19 05:35] xiang90 commented on #9159
you did not mention this before. i thought there were clients accessing the new etcd cluster.

I am not sure why etcd can still process requests when there is no client at all. Can you confirm that is the case? we never heard about this before.

if you believe this is the case, we would like to give it a look if you can share your snapshot file, and tell us how to reproduce the issue you hit.

[2018-01-19 05:50] ximenzaoshi commented on #9159
Yes, I am sure that there is no client. Can heavy lease expiring influence the client request? I'm sure there is no client request. The revoking requests are from etcd itself.
Maybe there is a version problem? The origin snapshot is created by version 3.1.9. I used the latest master branch to test. Are there any important changes for recent version about lease?
The snapshot would be provided later

[2018-01-19 05:53] xiang90 commented on #9159
it can. but we fixed it by jittering revoking time. there is also a bug report on k8s repo.

what i do not understand is why etcd reports `lease not found` if the revoking is from etcd itself.

[2018-01-19 05:55] xiang90 commented on #9159
lease revoking without affecting client request is fixed in 3.2.2:https://github.com/coreos/etcd/blob/master/CHANGELOG.md#improved-2.

however, i am not sure if you hit the same issue as i mentioned above around `lease not found`

[2018-01-19 06:25] gyuho commented on #9166
@hchenxa Can you reproduce outside of k8s?

I see similar errors with TLS

Which should be at debug level as well (`http2.errClientDisconnected`).

This is from gRPC closing http2 stream with `http2.ErrCodeCancel` which is expected.

Should we change all gRPC errors with `code.Unavailable` to debug level?

[2018-01-19 06:37] ximenzaoshi commented on #9159
The snapshot is a little large, about 1.3G. Is there a good way to share it? @xiang90

[2018-01-19 14:02] tomwilkie opened #9173 "panic: newURLs [redacted] should never fail: URL scheme must be http, https, unix, or unixs: redacted"
In the process of updating etcd cluster to use certificates, https etc:
- Deployed (peer-)trusted-ca-file, (peer-)cert-file and (peer-)key-file to each machine with appropriate certs.
- One by one did `# etcdctl member update b8b607c8533bf21f --peer-urls=https://redacted` and then restarted corresponding node with https in ETCD_LISTEN_PEER_URLS, ETCD_LISTEN_CLIENT_URLS and ETCD_ADVERTISE_CLIENT_UR

[2018-01-19 15:04] spzala commented on #9166
@xiang90 yes I worked on a related PR #9105 @gyuho thanks, I am close to work on load test issue #9121 and hoping to have PR created this weekend. I have couple other issues to work on but if needed I can work on this issue next week. To me, moving expected gRPC error/warning messages to debug level makes sense to not to confuse users. Thanks!

[2018-01-19 17:17] xiang90 commented on #9159
@ximenzaoshi upload it somewhere secure, and send the url over email to me at xiang.li@coreos.com? thanks.

[2018-01-19 17:53] gyuho commented on #9173
Did you get to recover your cluster (e.g. from previous snapshot)? We don't have any docs around this case (e.g. how to recover) and early warnings to prevent this.

[2018-01-19 17:55] tomwilkie commented on #9173
I tried various things, taking it back to one node and --force-new-cluster but ended up blowing it away.  It was only out test env.

[2018-01-19 18:00] gyuho opened #9175 "TestLeaseDeleteRangeContendDel fails"
[code]

https://semaphoreci.com/coreos/etcd/branches/pull-request-9172/builds/2

[2018-01-19 19:34] gyuho commented on #9173
@tomwilkie

Recommended way is restore a new cluster from snapshot ([`snapshot restore`](https://github.com/coreos/etcd/blob/master/Documentation/op-guide/recovery.md#restoring-a-cluster), https://github.com/coreos/etcd/pull/9177#discussion_r162710944). That said, I think this kind of misconfiguration should have been prevented in client-side, rather than waiting for panic in server (which is prop

[2018-01-19 19:51] tomwilkie commented on #9173
Nice, didn't know about that.  Thanks!

On Fri, Jan 19, 2018 at 7:34 PM Gyuho Lee <notifications@github.com> wrote:

[2018-01-19 20:54] gyuho commented on #9163
@dvonthenen Do you want to work on this (very similar to https://github.com/coreos/etcd/pull/9176)?

[2018-01-19 21:01] #9166 closed

[2018-01-19 21:44] dvonthenen commented on #9163
Sure thing! If you have any other ones, just let me know.

[2018-01-19 22:00] ixdy commented on #8911
@munnerz naming the Bazel build files `BUILD.bazel` instead of `BUILD` should fix the case-insensitivity issue - it's what we did for the root build file in kubernetes/kubernetes (where there is a conflicting `build/` directory).

[2018-01-20 00:08] hongchaodeng opened #9179 "etcdctl snapshot mixes stdout and stderr"
`etcdctl snapshot restore` command mixes stdout and stderr message into stderr. This is due to capnslog sets it by default:
https://github.com/coreos/etcd/blob/0f1ac0cef6834f0927dec74b0f0bf4d0dad9b763/cmd/vendor/github.com/coreos/pkg/capnslog/init.go#L36

It is better to only write error messages into stderr.

[2018-01-20 00:21] gyuho opened #9180 "Document: DNS resolution for initial-cluster flag"
https://github.com/coreos/etcd/blob/master/etcdserver/config.go#L120-L121

But 3.2 we return error on `!netutil.URLStringsEqual(ctx, apurls, urls.StringSlice())`

https://github.com/coreos/etcd/pull/8083

/cc @hongchaodeng

[2018-01-20 00:22] gyuho opened #9181 "Document: peer-to-peer TLS auth with common name field"
When configured with DNS + DNS in common name for each peer serving cert, document what's expected behavior with mismatched common name (not for client cert).

/cc @ericchiang

I will document this shortly.

[2018-01-20 16:02] hexfusion opened #9183 "e2e: testCtl chaining withQuorum() and configClientAutoTLS failure"
Adding new test coverage per https://github.com/coreos/etcd/issues/9149

[code]
while other TLS flavors work fine.

[code]

[code]
will checkout why withQuorum() isn't working maybe needs more time?

[2018-01-20 16:39] hexfusion commented on #9183
So this is pretty strait forward. Considering the defaults are reasonable for most tests. I will handle config locally and if it gets reused perhaps allow a parameter to define cluster size.

https://github.com/coreos/etcd/blob/d84d3f2f779061952cbda75f5e357f8815c229c7/e2e/cluster_test.go#L64-L69

[2018-01-20 16:39] #9183 closed

[2018-01-20 20:37] hexfusion commented on #9147
@justlooks I can not replicate this please review your configuration and try again. Feel free to review my replication efforts including all files. https://github.com/hexfusion/etcd-compose-examples/tree/master/issues/9147.

[2018-01-21 12:24] hexfusion commented on #9147
OK walked through each line.

these names are not inline with your other naming. I am going to close this as I feel this is a configuration issue that is documented. Please feel free to continue the conversation here.

[2018-01-21 12:24] #9147 closed

[2018-01-21 14:49] hexfusion commented on #9002
@djain13 anything else we can help with this issue?

[2018-01-21 15:06] hexfusion commented on #7719
Going to do some research here, if anyone is working on this please ping me would like to collaborate.

[2018-01-22 10:22] nim-nim opened #9186 "github.com/hashicorp/go-msgpack is a really old unmaintained fork"
Hi,

Now that https://github.com/ugorji/go/ made its first stable and supported release, maybe it's time to use it directly instead of vendoring github.com/hashicorp/go-msgpack which is an old unmaintained fork from 2015 which his lagging hundreds of commits behind?

[2018-01-22 13:39] hexfusion commented on #9131
How are you doing @WandyLau? I might be able to take a closer look if you are still stuck. First, can you explain your use case vs using the public service https://discovery.etcd.io https://coreos.com/os/docs/latest/cluster-discovery.html ?

[2018-01-22 15:08] gyuho commented on #9186
@nim-nim We do not use `github.com/hashicorp/go-msgpack`?

[2018-01-22 15:11] hexfusion commented on #9186
@nim-nim perhaps you should make issue here :)

https://github.com/hashicorp/consul/issues

[2018-01-22 15:17] #9186 closed

[2018-01-22 15:25] nim-nim commented on #9186
Sorry for the confusion !

[2018-01-22 15:26] nim-nim commented on #9186
(I think it got pulled in my etcd builds through unit tests)

[2018-01-22 15:29] WandyLau commented on #9131
@hexfusion Thanks for you reply. As I found this `https` is not real one, right? It is just a name, not with TLS implemented. And my problem above is not solved. I am occupied recently to investigate it.
If you can help, I will be very grateful.

[2018-01-22 15:29] hexfusion commented on #9186
@nim-nim no worries Consul is using it so letting them know might not be soo bad either :+1:

[2018-01-22 18:16] amansardana opened #9188 "etcd3 golang STM client does not Support Range fetch over keys?"
I am trying to use STM client in my project for transaction purpose. I need to:

1.) Query keys between particular range
2.) Query keys with specified prefix

in the transaction. But i wasn't able to find a function which provides this functionality in STM interface. There is Get(keys ...string) function but it does not have any OpOptions parameter.

Is there some particular reason that it has bee

[2018-01-22 18:20] xiang90 commented on #9123
fixed by #9176

[2018-01-22 18:25] #9181 closed

[2018-01-22 18:42] gyuho commented on #9157
Related https://github.com/coreos/etcd/issues/7683.

[2018-01-22 18:43] gyuho opened #9189 "Stabilize gRPC gateway (/v3beta)"
gRPC gateway serves `/v3beta`, should be ready as `/v3`

Reference https://github.com/coreos/etcd/issues/9064.

Not much to do here. Just trouble-shoot any issues that may come up. Or add any missing tests. And bump up endpoint to `v3` before 3.4 release.

@hexfusion Do you want to work on this?

[2018-01-22 18:48] gyuho opened #9190 "Stabilize experimental corruption check"
We need to stabilize corruption check features with more documentation.

- `etcd --experimental-initial-corrupt-check`
- `etcd --experimental-corrupt-check-time`

Reference https://github.com/coreos/etcd/issues/9064

[2018-01-22 18:48] hexfusion commented on #9189
@gyuho I am a user of gRPC gateway and would love to see it stable /v3. Will try my best to support/improve.

[2018-01-22 18:50] gyuho commented on #9189
@hexfusion Thanks! Reference when bumping up to `/v3` (https://github.com/coreos/etcd/pull/8880).

[2018-01-22 18:52] gyuho opened #9191 "Stabilize grpc-proxy disconnected linearized reads"
[`etcd grpc-proxy start --experimental-leasing-prefix`](https://github.com/coreos/etcd/pull/8341)

Reference https://github.com/coreos/etcd/issues/9064.

[2018-01-22 18:54] gyuho opened #9192 "Stabilize grpc-proxy experimental serializable ordering"
[`etcd grpc-proxy start --experimental-serializable-ordering`](https://github.com/coreos/etcd/pull/8315)

Reference https://github.com/coreos/etcd/issues/9064.

[2018-01-22 20:55] doekerqhtv opened #9193 "Feature Request: Ability to pick source IP address"
I have a use case where I need to specify an outgoing IP address. Currently etcd does not support ability to pick outgoing IP address.

On a system with multiple IP addresses, I would like to be able to specify the exact IP address for outgoing client connectivity.

[2018-01-22 20:56] xiang90 commented on #9193
i do not quite understand this issue. can you be more specific, and provide us an example?

[2018-01-22 20:59] doekerqhtv commented on #9193
I have a system with multiple interfaces and IP addresses. The etcd, when communicating with peers, will pick an IP address based on the routing table. I would like to specify the outgoing IP address (bound to the system) for peer connectivity.

[2018-01-22 21:08] xiang90 commented on #9193
How do you config etcd today? What are the listening and advertise urls of peers?

[2018-01-22 21:10] doekerqhtv commented on #9193
Basically,
I need a new configuration flag added in etcd/etcdmain/config.go:
fs.StringVar(&cfg.ec.LocalAddr, "local-address", cfg.ec.LocalAddr, "LocalAddress bind for outgoing peer connections")
and dialSetupOpts extended in clientv3/client.go via Net.Dial to specify source IP.

[2018-01-22 21:13] xiang90 commented on #9193
@doekerqhtv

oh. ok. i understand you now. so you want to choose the IP source address when etcd peer acts a client when connecting to the other etcd server.

[2018-01-22 21:14] doekerqhtv commented on #9193
Correct.

[2018-01-22 21:15] xiang90 commented on #9193
would you like to help on this feature? do you know how other systems call this flag or configuration?

[2018-01-22 21:15] doekerqhtv commented on #9193
I believe net dial takes "LocalAddr" to make this happen.

[2018-01-22 21:16] doekerqhtv commented on #9193
Also, this should be optional setting. Not specifying it, should leave things as they are today.

[2018-01-22 21:17] gyuho commented on #9173
@tomwilkie We've added client-side safeguard on this edge case (backported to release 3.2/3.3 branches).

Thanks for reporting!

[2018-01-22 21:17] #9173 closed

[2018-01-22 21:20] xiang90 commented on #9193
local/source seems OK to me. just want to make sure we are consistent with conventions. would you like to send a PR to add this feature?

[2018-01-22 21:21] doekerqhtv commented on #9193
Sure. I will try to make one.

[2018-01-22 21:26] tomwilkie commented on #9173
Nice, thanks!
On Mon, 22 Jan 2018 at 21:17, Gyuho Lee <notifications@github.com> wrote:

[2018-01-22 21:40] doekerqhtv commented on #9193
I think I have the patch available.

[2018-01-22 21:41] fanminshi commented on #9193
@doekerqhtv could you submit an pr with test? that will help the maintainer to review the patch.

[2018-01-22 21:44] hexfusion commented on #9188
@amansardana  this is a duplicate issue. Please review https://github.com/coreos/etcd/issues/7383

[2018-01-22 21:44] #9188 closed

[2018-01-22 21:44] doekerqhtv commented on #9193
I think I messed up on the PR, if someone can delete it.

[2018-01-22 21:51] fanminshi commented on #9193
@doekerqhtv it is all good. i closed that pr.

pr workflow.
1. fork etcd reop to your github account
2. download etcd repo from your account
3. create a feature branch
4. modify code in the feature branch.
5. commit and push.
6. go to etcd repo. you should see an banner mentioning about creating an pull request.
7. click the banner to create the pull request.

[2018-01-22 22:11] fanminshi commented on #9150
@jpbetz I think your thought is on the right track. The idea behind raft is that the leader needs to make sure that an entry must be committed/agreed in a majority (2/n + 1) of nodes. As long as majority nodes are up and running, then etcd is operational. So from 1 - > 2 case, the majority of 2 node is 2 nodes (2/2 + 1 = 2). then etcd cluster requires 2 nodes to be "running" in order to be operati

[2018-01-23 00:04] doekerqhtv commented on #9193
Sorry - first time doing this.

$ git push --set-upstream origin local-address-bind
remote: Permission to coreos/etcd.git denied to doekerqhtv.

[2018-01-23 00:07] fanminshi commented on #9193
@doekerqhtv  you need to first fork etcd repo to you github account. I don't see any etcd repo under your name.

[2018-01-23 00:11] fanminshi commented on #9193
@doekerqhtv a good tutorial https://www.digitalocean.com/community/tutorials/how-to-create-a-pull-request-on-github

[2018-01-23 01:31] #8632 closed

[2018-01-23 10:00] nim-nim commented on #9186
Actually I was right etcd does use this old umaintained fork

It's real sneaky, it is used to generate files, but they are only regenerated if client/keys.generated.go is removed and github.com/hashicorp/go-msgpack is available

So you won't find it in import paths even though etcd needs it

[2018-01-23 10:01] nim-nim commented on #9186
(so this should probably be reopened)

[2018-01-23 12:00] hexfusion commented on #9186
@nim-nim

It seems to me that etcd shares a common codec package that we **do** vendor.

`github.com/ugorji/go/codec`

[code]

But I don't see anywhere how this brings in that package your talking about.

[2018-01-23 13:32] nim-nim commented on #9186
I *think* that once upon a time it was done through github.com/hashicorp/go-msgpack

If it's done directly nowadays, that's all for the best, just needs to make sure it uses the stable release of github.com/ugorji/go/codec

[2018-01-23 13:41] hexfusion commented on #9186
thanks for looking out @nim-nim !

[2018-01-23 14:12] redbaron opened #9200 "No changelog entry for 3.2.15. EOM."

[2018-01-23 14:26] hexfusion commented on #9200
@redbaron short-term fix please try this: https://github.com/coreos/etcd/compare/v3.2.14...v3.2.15

[2018-01-23 15:03] hexfusion commented on #9128
@gyuho @xiang90 does this make any sense? The only thing I find of interest here is the possible ability to add metadata in the TXT record about the cluster vs SRV. The downside would be standardizing/validating the format of the metadata records. So supporting could be more "work".  But perhaps it could facilitate more complex bootstrapping workflows. Workflows perhaps yet to be identified.

[2018-01-23 15:04] hexfusion commented on #9128
I will work on a PR if you find the basic concept reasonable.

[2018-01-23 17:32] dvonthenen commented on #9163
@gyuho Do we want to also expose these errors on the etcdctl table output?

[2018-01-23 17:53] gyuho commented on #9200
Just updated. Please see https://github.com/coreos/etcd/blob/master/CHANGELOG-3.2.md#v3215-2018-01-22.

Thanks.

[2018-01-23 17:53] #9200 closed

[2018-01-23 19:02] xiang90 commented on #9128
the concept looks fine to me. but do we hear any user wants this feature? i want some validation on this use case before commit to it.

[2018-01-23 19:11] hexfusion commented on #9128
Valid point no user has commented. As the idea is valid, please leave this open for a while and we can see if it gets any comment.

[2018-01-23 19:11] xiang90 commented on #9128
@hexfusion sure. we will leave this open. users can +1 on this issue if they see a fit.

[2018-01-23 19:12] gyuho commented on #9163
@dvonthenen Yes. Thanks!

[2018-01-23 19:12] dvonthenen commented on #9163
No problem

[2018-01-23 20:32] GlenDC commented on #9165
It would also be great if we can set the etcd logger which doesn't set the global GRPC logger as this gets really confusing and doesn't make any sense. As now we see logs coming from non-etcd GRPC connections with our etcd database tag, all because the global grpc logger is overwritten by setting the logger via etcd.

[2018-01-23 22:09] dvonthenen commented on #9163
PR https://github.com/coreos/etcd/pull/9206 submitted

[2018-01-23 22:19] gyuho opened #9207 "Rename "github.com/coreos/etcd/snap" to "raftsnap""
Now we have `snapshot` package, with conflicting name with Raft snapshot package `snap`.
This `github.com/coreos/etcd/snap` package should be renamed to `github.com/coreos/etcd/raftsnap`.
This is internal to etcd project, and should be safe to change.

[2018-01-23 22:24] xiang90 commented on #9134
I am going to close this as @GhostComputing provided a good answer already.

[2018-01-23 22:24] #9134 closed

[2018-01-23 22:25] xiang90 commented on #8941
I am going to close this for now. It seems like this is more a vm networking stack issue than an etcd issue.

[2018-01-23 22:25] #8941 closed

[2018-01-23 22:31] xiang90 commented on #8483
moved this to 3.5 from unplanned. QOS becomes a common issue for users with heavy usage.

[2018-01-23 22:31] gyuho commented on #8941
Yes, let's revisit this when we hit this again.

[2018-01-23 22:39] gyuho opened #9209 "Document: explain clientv3 endpoints in more detail"
We don't really explain what APIs/requests are forwarded to leaderover Raft layer (e.g. Put, Linearizable Get), or member/server-specific without Raft layer (e.g. Snapshot, Defrag). Simple explanation would be helpful when creating `clientv3.Config` https://godoc.org/github.com/coreos/etcd/clientv3#Config.

[2018-01-24 05:07] yudai opened #9212 "clientv3 doesn't close the existing TCP session when a network failure happens with streams"
# What I observed

I found that some of my client processes had two TCP sessions to their etcd endpoints (both of them were in ESTABLISHED state).

I think it's a sort of unexpected state since each instance of clientv3's `Client` is, probably, supposed to keep only one TCP connection at a time. If we allow clients to keep two TCP sessions each, the cluster can consume resources more than expected

[2018-01-24 09:05] knightXun opened #9214 "can *.wal format file be used to recover etcd data?"
Yesterday, I found my stand-alone etcd crashed.I tried to recover etcd,but the db file is broken.All content of db is '^@'. Now only *.wal file has valid content. but i don't know how to use it.Does comunity provide related tools? Or my data totally broken and can't be taken back.

Etcd version is: v3.2.5

[2018-01-24 11:14] hexfusion opened #9215 "e2e: SRV discovery support"
SRV discovery is an important functionality and currently, we have no direct e2e/ test support. Although we do test with docker would be nice to have as part of e2e suite.

ref: https://github.com/coreos/etcd/issues/8502, https://github.com/coreos/etcd/issues/9149, https://github.com/coreos/etcd/issues/9150

[2018-01-24 13:27] daiyoung commented on #3226
@mg459046365 将master节点的DNS改成223.5.5.5(只要是非运营商提供的DNS都可以，如4个114，4个8等)试试，参考 https://github.com/coreos/etcd/issues/7559 While binding socket to 'localhost' it's always resolved by DNS servers only

[2018-01-24 16:46] rselbach opened #9218 "Distributed lock with lease"
Hi, we're trying to use distributed locking in a project but we're having some trouble getting them to work. Maybe we don't get how they're supposed to work. We have a little test case here that should reproduce the problem:

[code]

As you can see, we get a grant with a TTL of 2 seconds :

`lresp, err := cli.Grant(ctxc, 2)`

And this lease is used when we create the section:

`s1, err := concurre

[2018-01-24 17:58] rselbach commented on #9218
I think I [have my answer.](https://github.com/mixer/etcd3/issues/56#issuecomment-360200875). Thanks @connor4312.

However, that means that if I have a process that is in some sort of deadlock and never ends its session, the lock will never be unlocked and no other process will be able to acquire it. Is this so by design?

[2018-01-24 18:02] xiang90 commented on #9218
@rselbach

you need to either close the session (https://godoc.org/github.com/coreos/etcd/clientv3/concurrency#Session.Close) or disconnect the client from etcd. i do not think this is a deadlock. this is the intended behavior, and the right way to do locking.

[2018-01-24 18:02] #9218 closed

[2018-01-24 18:12] xiang90 opened #9219 "test: TestSnapshotV3RestoreMultiMemberAdd"
[code]

[2018-01-24 18:37] gyuho opened #9220 "all: reorganize "internal" Go packages"
Packages like "alarm" and "compactor" are not expected to be used outside of etcd project.

Move all internal packages under `/internal/*`.

[2018-01-24 18:55] gyuho commented on #9212
Right now, we let gRPC handle load balancing between endpoints (passing v1 `grpc.WithBalancer`). We will make sure this be addressed in our [balancer rework](https://github.com/coreos/etcd/issues/9106).

[2018-01-24 19:02] gyuho commented on #9212
Also asked gRPC team whether we need manual handling on the `*grpc.ClientConn` https://github.com/grpc/grpc-go/issues/1831.

[2018-01-24 19:19] #9207 closed

[2018-01-24 19:38] yudai commented on #9212
@gyuho Thank you for the info and working on the issue.

[2018-01-24 20:02] yudai commented on #9212
This issue happens with etcd versions 3.2.10. Till 3.2.9, clients keeps a single TCP session at the same situation.

[2018-01-24 21:41] xiang90 commented on #9107
i am going to close this due to low activity. please reopen if anyone can reproduce it or can prove this is an real issue.

[2018-01-24 21:41] #9107 closed

[2018-01-24 21:49] hexfusion opened #9221 "hack: docker-compose cluster examples."
I have a fair number of docker-compose examples I would like to organize into hack/. @gyuho do you mind if I add some stuff to your playground? :)

[2018-01-24 21:52] gyuho commented on #9221
@hexfusion Sure. Sounds good under hack directory.

[2018-01-24 23:12] yudai opened #9222 "defrag stops the process completely for noticeable duration"
# What I observed

The defrag command blocks all the requests handled by the process for a while when the process has much data and incoming requests.
New requests and ongoing streaming requests such as `Watch()` can be canceled by their deadlines and the cluster can be unstable.

# Side effects

This "stop the world" behavior makes the operation of etcd clusters harder. We have the 8GB limitation

[2018-01-24 23:30] gyuho commented on #9222
Yeah, we've been meaning to document this behavior.

Do you want to add some notes here https://github.com/coreos/etcd/blob/master/Documentation/op-guide/maintenance.md#defragmentation?

Thanks.

[2018-01-24 23:31] xiang90 commented on #9222
@gyuho

we probably want to change the behavior to non-stop-the-world.

[2018-01-24 23:32] gyuho opened #9223 "Document: add functional-tester deploy guides"
Need detailed guides on functional-tester deploy, probably for each cloud provider.

[2018-01-24 23:33] gyuho commented on #9222
In the meantime,

This would be helpful. No objection.

[2018-01-24 23:34] xiang90 commented on #9222
@yudai @gyuho

hm... i am not sure if boltdb exposes that stats itself. need to double check.

[2018-01-25 01:34] #7225 closed

[2018-01-25 01:46] gyuho opened #9224 "vendor: follow golang/dep best practice"
https://github.com/coreos/etcd/pull/9155#issuecomment-360333753

ref. https://github.com/coreos/etcd/pull/9258

[2018-01-25 02:39] gyuho commented on #9214
How? Did you manually overwrite db file?

WAL is only for raft entries, agnostic of key-value structure. And etcd periodically discard previous entries, so mostly likely your old data is already deleted.

[2018-01-25 03:06] xiang90 commented on #9214
closing. @gyuho provides great answer already.

[2018-01-25 03:06] #9214 closed

[2018-01-25 05:25] mkumatag opened #9225 "govet: fails when govet runs with go tip"
Recently seen govet errors with golang tip:

travis build result - https://travis-ci.org/coreos/etcd/jobs/332766542

[code]

[2018-01-25 06:11] ximenzaoshi commented on #9159
@xiang90
Problem solved. Thanks for your help.
Kubernetes created too much leases in etcd, about 20000K. Creating is faster than revoking, and after a long time, the huge leases become a big problem. It costs etcd too much time on ranging the lease map which holds a lock that has a big influence on updating.
Creating huge leases to etcd can reproduce our problem.
I made a PR(https://github.com/cor

[2018-01-25 06:14] xiang90 commented on #9159
i still do not understand this. also as i mentioned, k8s should not create these many leases. there is an issue in k8s repo.

[2018-01-25 06:14] xiang90 commented on #9159
/cc @jpbetz

[2018-01-25 06:23] ximenzaoshi commented on #9159
Yes, the k8s shoud not create so many leases,  we will fixed the problem later. The not found problem may be also caused by the huge leases. There can be two revoking requests on the same lease in queue. Maybe this is the reason? @xiang90

[2018-01-25 07:22] acxlam opened #9227 "Support for multi database storage?"
Is there plan to support multi database storage selection like "use db1" in mysql ?

My employer will replace zookeeper with etcd v3 for service registration and discovery. With Zookeeper,  we are using the first segment of the path as partition to enable different profiles for testing without having to start many clusters. e.g: /default/service/runtime/serviceA is serviceA under default profile ,

[2018-01-25 07:48] acxlam commented on #9227
3.2 namespace seems to address this, close for now.

https://coreos.com/blog/etcd-3.2-announcement

[2018-01-25 07:48] acxlam commented on #9227
3.2 namespace seems to address this, close for now.

https://coreos.com/blog/etcd-3.2-announcement

[2018-01-25 07:48] #9227 closed

[2018-01-25 15:05] rselbach commented on #9218
Thanks @xiang90, we'll work around it here. Just to be clear, I never said this was a deadlock. Cheers :)

[2018-01-25 15:17] #9225 closed

[2018-01-25 19:55] gyuho opened #9230 "functional-tester: liveness mode without injected failures"
While testing the consistency under pressure load, make sure cluster is making progress expecting all stressing client operations to complete without errors. No-op failure case could be added to etcd-tester.

Similar to `--stresser=nop`, `--failures=nop` can be added.

ref. 6.3 Testing https://static.googleusercontent.com/media/research.google.com/en//archive/paxos_made_live.pdf

[2018-01-25 19:56] gyuho commented on #9230
Already possible with `nop` flag.

[2018-01-25 20:08] fanminshi commented on #9224
@gyuho is this emergent? I would like a deep dive in go dep when I come back.

[2018-01-25 20:09] gyuho commented on #9224
@fanminshi No, feel free to take this :)

[2018-01-25 22:03] gyuho opened #9232 "Deprecate v2 store"
Deprecate v2 (HTTP/1.1, in-memory database backend) in favor of v3 (HTTP/2, gRPC, memory-mapped on-disk storage backend).

Once we feel confident of our v2 emulation robustness https://github.com/coreos/etcd/issues/8473, deprecate v2 store and provide migration guide docs.

It's already announced as below:

https://coreos.com/blog/toward-etcd-v3-in-container-linux.html

[2018-01-25 22:52] gyuho commented on #9180
Current error message is clear enough.

[2018-01-25 22:52] #9180 closed

[2018-01-25 23:02] yudai commented on #9222
@gyuho Thanks for the reference.

We hit an issue with the stop the world with some older version of etcd, so I need to revalidate with the latest version. (I think we got some dead line exceeded errors).

Currently errors are supposed to be hidden by the internal retry mechanism and clients should not get any errors by a process that is stopping for defrag. So if you run defrag on a single node a

[2018-01-25 23:26] yudai commented on #9222
It seems my assumption above is not true.

I tested with etcd v3.1.14 servers (3-node cluster) and a test client app implemented with clientv3 from master (64713e5927). The test client app simply spawns 4 goroutines that issue `Put()` requests every 10 milliseconds.
I triggered defrag on a node and it took for a while like 8 seconds (I'm using a HDD for this env), then some requests simply returne

[2018-01-25 23:32] gyuho commented on #9222
Put, as mutable operation, won't be retried by our client balancer to keep at-most once semantics. But we could start with returning errors on in-progress defragmentation, so that users know that requests fail from ongoing maintenance.

[2018-01-25 23:53] yudai commented on #9222
I see. That makes sense not to retry mutable operations.

A new option like `WithRetryMutable()` could be another solution. I think it's easier to add the new option to `Put()` calls, rather than triaging errors in my code, which I feel more error prone.

[2018-01-26 06:44] xiang90 commented on #9220
lease, mvcc, store should be moved too.

[2018-01-26 06:49] xiang90 commented on #8451
i am going to close this since it is not strictly etcd related. i am not against it if anyone wants to pick it up again, and put a doc into contrib.

[2018-01-26 06:49] #8451 closed

[2018-01-26 08:13] acxlam opened #9235 "Launch / debug etcd from intellij idea x64 (for learning)?"
I am trying to launch the latest ETCD on windows from within Intellij Idea with MinGW installed, but with errors below. Any parameters would help? <br/>

[code]

[2018-01-26 12:19] hexfusion commented on #9235
Hi @acxlam this is a Windows ENV issue, not etcd. Searching `ld.exe: cannot find -ldl` in google seems to shed some light. Please try to resolve these path/ENV issues and let us know if you have any issues related to etcd itself.

[2018-01-26 13:54] hexfusion opened #9236 "e2e: custom DNS/? for testing"
### problem

In some circumstances, for example, e2e testing. It would be nice to allow a flag to be passed to explicitly define the DNS host:port then handle via `net.DefaultResolver`.

In general, this is a bad idea and a possible security risk/bad practice. But if we also enforced something like `--test-max-duration` flag we could reduce/eliminate poor use case. Docker can facilitate this ENV m

[2018-01-26 14:22] hexfusion commented on #9235
I am going to close this but feel free to reply here with additional comments/questions, thanks.

[2018-01-26 14:22] #9235 closed

[2018-01-26 18:07] hexfusion commented on #9236
To add more context the main use case would be DNS based discovery testing in e2e/.

[2018-01-26 18:46] xiang90 commented on #8379
fixed by #8786

[2018-01-26 18:46] #8379 closed

[2018-01-26 19:00] xiang90 commented on #9161
@jpbetz

I just want to add our use case here:

1. ensure the new node is healthy before actually join into the etcd cluster

if the new node is slow, and cannot catch up with the cluster state, it will effectively reduce the availability factor of the cluster and slow everything down. so before letting it join into the cluster, we want the node to be in learner mode first, and we will only promot

[2018-01-26 19:21] xiang90 commented on #9222
@yudai

as a first step, how about exposing the `in-use/allocated` stats of the database? if that ratio is low, a defrag is probably needed.

i checked bbolt, and it only exposes per bucket info here: https://godoc.org/github.com/coreos/bbolt#Bucket.Stats. we need to aggregate all buckets to have a per db view.

do you want to help on exposing the metrics?

[2018-01-26 19:26] xiang90 commented on #9189
the thing i worry about is that gRPC web is probably going to release soon. it can be the "official" way to expose gRPC service in JSON format.

[2018-01-26 19:44] hexfusion commented on #9189
@xiang90 does it make sense to make /v3 stable with grpc-gateway then look at https://github.com/improbable-eng/grpc-web for /v4? Replacing seems a fair bit of work :).

[2018-01-26 20:16] gyuho commented on #9220
@mitake Could you double-check if it's safe for us to move `auth` package to `internal/auth`? `"github.com/coreos/etcd/auth"` is not meant to be used directly by clients. And also all errors are converted to `rpctypes`, so moving to `internal` won't break anything (e.g. clients will still receives error typed `rpctypes.ErrRoleAlreadyExist`, not `auth.ErrRoleAlreadyExist`).

[2018-01-26 20:27] gyuho commented on #9189
We will double-check with gRPC team.

[2018-01-26 20:58] gyuho commented on #9224
https://github.com/coreos/etcd/pull/9155#issuecomment-360900452

/cc @tamird

[2018-01-26 21:24] bdarnell commented on #8501
When I initially implemented prevote, I tried it both ways (the current implementation with `MsgPreVote` containing `r.Term+1`, and Irfan's suggestion that it contains the current term and the recipient adds one). Both solutions are awkward in places; I think that making this change would just move complexity around without being much of a net win.

In particular, I don't think making the switch i

[2018-01-26 23:04] anshulpundir opened #9241 "Handling election storms"
This is more of a questions for the etcd/raft impl.

If there is a flaky raft member, it may drop in and out causing constant elections.

This is because a flaky member can get partitioned from the rest of the raft peers and end up at a higher term. When this member rejoins, the current leader sees a message from this flake member at a higher term and this causes a new election.

The question is i

[2018-01-26 23:58] xiang90 commented on #9241
The pre-vote feature is to solve this problem. It is not super stable right now. But we are working on stabilizing it.

[2018-01-27 00:21] yudai commented on #9222
@xiang90 It would be a big help for operation. I'll take look in the doc and see if I can add the metrics myself.

[2018-01-27 00:25] anshulpundir commented on #9241
Can we prevent the leader from stepping down when it sees a message with higher term from the partitioned node unless the log term (or index, not sure of the correct terminology) for the partitioned node is greater than the log term for the current leader ? @xiang90

[2018-01-27 00:27] xiang90 commented on #9241
@anshulpundir check out pre-vote as i just mentioned. the raft paper or the code explains much better than what i can do here on github.

[2018-01-27 00:31] anshulpundir commented on #9241
I don't see the term prevote in the raft paper https://raft.github.io/raft.pdf
Is this specific to etcd/raft ?

@xiang90

[2018-01-27 00:34] xiang90 commented on #9241
search here: https://ramcloud.stanford.edu/~ongaro/thesis.pdf

not sure if other raft impl has implemented this. but our raft does.

[2018-01-27 00:35] #8501 closed

[2018-01-27 04:11] sdboyer commented on #9224
(moving discussion here from #9155)

@tamird indeed, having to make that number of overrides is awful. that's why [i described putting redundant `source` rules in there as harmful].

One of the sections i ended up omitting from this round of writing with the new help docs (i'd already written 15k words, and we needed to ship the release) was a "Zen of Constraints" section, that contains exactly th

[2018-01-27 06:14] gyuho opened #9242 "Experiment/evaluate distributed tracing frameworks"
https://github.com/coreos/etcd/pull/5425#issuecomment-360963307

[2018-01-28 14:11] warmchang commented on #8009
mark

[2018-01-28 19:38] autumnw commented on #2986
Thanks @alindeman Your method fixed my problem. :-)

[2018-01-29 01:16] mitake commented on #9220
@gyuho ok, I'll look at it

[2018-01-29 05:18] mitake commented on #9220
Moving the package to internal won't cause problems, I think. Should I create a PR for this? @gyuho

[2018-01-29 05:23] gyuho commented on #9220
@mitake Sure! Thanks!

[2018-01-29 09:07] zbindenren commented on #9055
+1

Without this option we cannot use the proxy.

[2018-01-29 15:08] hexfusion commented on #9189
ref: https://github.com/improbable-eng/grpc-web/issues/134

[2018-01-29 17:28] xiang90 commented on #9189
@gyuho @hexfusion

this is the gRPC web issue: https://github.com/grpc/grpc/issues/8682.

It is an official gRPC support instead of the one from improbable.

[2018-01-29 17:30] xiang90 commented on #9055
@zbindenren would you like to help on this?

[2018-01-29 17:52] hexfusion commented on #9189
I see thanks.

[2018-01-29 17:57] xiang90 commented on #9242
/cc @dvonthenen

[2018-01-29 18:07] hexfusion commented on #9189
@xiang90 @gyuho either of you getting early access per comments in issue?

[2018-01-29 18:08] gyuho commented on #9189
@hexfusion No, but seems like it should be out in a few weeks?

[2018-01-29 18:28] gyuho commented on #9055
@zbindenren We have official 3.3 planned for February 1, 2018. If we can do it before then, we will include that in the release. Thanks!

[2018-01-29 18:35] #9220 closed

[2018-01-29 21:30] cw9 opened #9246 "Add jitter in ProgressNotify"
We use ProgressNotify in most of our etcd watchers and notice that the etcd servers have a spike of   etcd_network_client_grpc_sent_bytes_total every exact 10 minutes. We think it's because we created a lot of watchers at the same time so every 10 minutes the servers need to send out progress update for every watcher. Is it true? If so, is it possible to add some jittering for the progress notify

[2018-01-29 21:31] xiang90 commented on #9246
@cw9

i agree we should add jitter to it as we add jitter to the internal lease revoke.

would you have time to try to add jitter. or @gyuho or I might give it a try soon.

[2018-01-29 21:32] gyuho commented on #9246
Yeah jittering was added to lease revoke, not to watch progress notify.
Should be straightforward to do the same for watch.

[2018-01-29 21:34] cw9 commented on #9246
If it's straightforward to you guys, it's probably easier for you to make the change

[2018-01-29 21:35] gyuho commented on #9246
@cw9 Sure, we will address this in next release cycle 3.4.

[2018-01-29 21:38] cw9 commented on #9246
Awesome, thanks!

[2018-01-29 23:04] tedsuo commented on #9242
Just to add some clarity: The OpenTracing API is _just_ an standardized API layer. Many tracers support it, so it is possible to "instrument once" with OpenTracing, then pick which tracing system you wish to use at runtime. So this would allow etcd to change tracing systems (and support multiple systems) without needing to re-instrument.

API docs: godoc.org/github.com/opentracing/opentracing-go

[2018-01-29 23:57] gyuho commented on #7156
Did another set of benchmarks with latest Zookeeper https://github.com/coreos/dbtester/tree/master/test-results/2018Q1-04-etcd-zookeeper#write-100k-keys-256-byte-key-1kb-value-1-client with 1-client.

[code]

Zookeeper is now slower than etcd. Would love to have someone else cross-check on this.

Still, etcd should have some low hanging fruits to improve. If we look at this test:

<img src="https:

[2018-01-30 03:38] ry4nz opened #9248 "snapshot/restore --data-dir with existing directory"
I am trying to understand the reason why return error when the `--data-dir` specified exists. https://github.com/coreos/etcd/blob/902bdb474eb9086c3ebbac05e08ed373d2b103ec/snapshot/v3_snapshot.go#L217

An option to force restore that overwrites the existing `--data-dir` would be nice.

[2018-01-30 07:01] berlinsaint commented on #9079
i find this iusse again and again:
and i don't think my server is overloaded
[etcd.log](https://github.com/coreos/etcd/files/1676624/etcd.log)

[2018-01-30 08:07] zbindenren commented on #9055
@xiang90 created a pull request #9250

[2018-01-30 13:34] learnMachining opened #9251 "One of three nodes didn't delete object which had been deleted by kubernetes"
I have a three nodes etcd cluster. It is the data store of my kubernetes cluster. But I found inconsistency of the etcd cluster today. The state of my etcd cluster is:
[code]
I get all keys from the three nodes respectively, node 192.168.139.50 and node 192.168.139.51 are totally same. However, node 192.168.139.52 has some objects that I have deleted with kubectl.

To figure out the inconsistency,

[2018-01-30 14:42] hexfusion commented on #9189
I asked for early access to get a feel for how this will look.

[2018-01-30 16:06] beatlejuse opened #9253 "error in the manual "guide to generating self-signed key pairs""
# Bug reporting

https://github.com/coreos/etcd/blob/master/Documentation/op-guide/security.md
on this page of the documentation you describe "Transport security & client certificates" and use "ca.crt" and "member1.crt".
in the beginning you link to "guide to generating self-signed key pairs":
https://github.com/coreos/docs/blob/master/os/generate-self-signed-certificates.md
But this "guide to gen

[2018-01-30 16:38] hexfusion commented on #9253
HI @beatlejuse, thank you for the report.  Perhaps this code snippet might shed light on the .pem vs .crt.

https://github.com/coreos/etcd/blob/0b9dc9ccd355a9978a9ec1f91f64928da75de4b3/hack/scripts-dev/docker-dns/certs-common-name-multi/gencerts.sh#L13-L15

[2018-01-30 16:40] dvonthenen commented on #9242
@gyuho @xiang90 @tedsuo I actually have quite a bit of familiarity with Jaeger, Zipkin, and OpenTracing. As a user, I have been evaluating them for some time now. I have done some basic implementation with tracing requests among microservices. If you need help with this, let me know.

[2018-01-30 16:45] hexfusion commented on #9253
I think the documentation could use some work though. @beatlejuse would you like to create a PR with updates and we can talk about it?

[2018-01-30 17:54] gyuho commented on #9248
This is to prevent overwriting existing WAL files, which is unsafe for most operations.
The overwriting logic can easily be implemented in your application layer?

[2018-01-30 19:17] dvonthenen commented on #9163
I believe this issue can be closed since PR https://github.com/coreos/etcd/pull/9206 has been merged. Thanks!

[2018-01-30 19:17] xiang90 commented on #9163
@dvonthenen thanks for the contribution.

[2018-01-30 19:17] #9163 closed

[2018-01-30 20:32] yudai commented on #9222
Created a PR.

I did some tries and found that [`Stats.FreePageN`](https://godoc.org/github.com/coreos/bbolt#Stats) is a good indicator to see free pages. You can calculate page-level actual usage using this value. `PendingPageN` is also part of db's internal free list. However, it seems it's not so free actually(for rollback?, you always would see 3 or 4 at this metric anyway), so I didn't includ

[2018-01-31 03:03] hexfusion commented on #9251
https://192.168.139.51:2379, 5227f18ffa089aec, 3.2.7, 136 MB, true, 54529, 17002949
https://192.168.139.52:2379, e448a37828aa0925, 3.2.7, 240 MB, false, 54529, 17003472

@learnMachining, thanks for the details last node has larger DB I believe you are hitting https://github.com/coreos/etcd/issues/8009 ref: https://github.com/coreos/etcd/issues/7116.

I will try to reproduce this, could you post th

[2018-01-31 03:52] learnMachining commented on #9251
@hexfusion Thanks for reply. The log of  `e448a37828aa0925`  is:
[code]

[2018-01-31 08:23] learnMachining commented on #9251
I have read the issues #8009 and #7116, I don't think the problem are the same. The node e448a37828aa0925 is larger than the other two because it didn't delete any objects kubernetes had deleted.

To find more information, I create an object with `ETCDCTL_API=3 etcdctl --cacert="/etc/kubernetes/ssl/ca.pem" --cert="/etc/flanneld/ssl/flanneld.pem" --key="/etc/flanneld/ssl/flanneld-key.pem" --endpoin

[2018-01-31 09:45] learnMachining commented on #9251
Now my etcd cluster run normally.

I stop all nodes and backup /var/lib/etcd for node `e448a37828aa0925 `. Then delete all data in /var/lib/etcd on this node and start all the three nodes.

After syncing, I redo the create ns test above. And this time all the three nodes delete the namespace created by kubectl.

And all the three nodes compact every five minutes. It seems normal.

I don't know act

[2018-01-31 16:53] xiang90 commented on #9241
I am going to close this out as the feature to avoid the issue exists already.

[2018-01-31 16:53] #9241 closed

[2018-01-31 18:13] #9248 closed

[2018-01-31 22:19] gyuho commented on #9251
@learnMachining If you look at header from get response, the revision in 3rd node is quite different, which we need to figure out. How did you operate this etcd cluster? Any maintenance works?

[2018-02-01 02:30] yanlinly opened #9259 "code = DeadlineExceeded desc = "context deadline exceeded""
# Bug reporting

etcd loging code = DeadlineExceeded desc = "context deadline exceeded".
Process in, but can not be written. Must be restarted to resume.
version： 3.2.0
log：
[code]

[2018-02-01 02:40] hexfusion commented on #9253
Going to close this feel free to extend the documentation with a PR or continue the conversation here if you have more questions.

[2018-02-01 02:40] #9253 closed

[2018-02-01 03:04] hexfusion commented on #9259
Hi @yanlinly can you provide full steps to reproduce?

And or
- etcd startup flags?
- output of `etcdctl --endpoints=[your, endpoints] endpoint health`
- output of `etcdctl --endpoints=[your, endpoints] endpoint status`
- full logs.
- command used to generate output ^^ curl, etcdctl?
- SSD/HHD

Really hard to tell what is going on from the small log snippet, thank you.

[2018-02-01 03:15] yanlinly commented on #9259
./etcd --name a212g192101.et2 --initial-advertise-peer-urls http://10.103.170.133:2280 --listen-peer-urls http://10.103.170.133:2280 --listen-client-urls http://10.103.170.133:2379,http://127.0.0.1:2379 --advertise-client-urls http://10.103.170.133:2379 --initial-cluster-token etcd-cluster-sigma10 --initial-cluster a212g190304.et2=http://10.103.170.128:2280,a212g192104.et2=http://10.103.170.136:22

[2018-02-01 05:04] hexfusion commented on #9259
@yanlinly please add output

`ETCDCTL_API=3 /home/admin/etcd/etcdctl endpoints=10.103.170.128:2379,10.103.170.136:2379,10.103.170.133:2379 endpoint status -w table`

`ETCDCTL_API=3 /home/admin/etcd/etcdctl endpoints=10.103.170.128:2379,10.103.170.136:2379,10.103.170.133:2379 endpoint health`

[2018-02-01 05:21] hexfusion commented on #9019
@gokepler I am going to close this if you have more details on your use case please reopen to discuss.

[2018-02-01 05:21] #9019 closed

[2018-02-01 05:23] yanlinly commented on #9259
you can find where problom is  or  probable cause of the problem ?

This cluster read and write pressure is relatively large，probability out of this problem.

<img width="710" alt="2018-02-01 1 20 25" src="https://user-images.githubusercontent.com/17695352/35662368-bdeb647c-0752-11e8-8a79-17192e80a409.png">

[2018-02-01 05:40] hexfusion commented on #9259
It is interesting though there is a massive load of deletes against the cluster. Look at the change in raft index just between two commands above. What is requesting all of these deletes, do you know or why?

[2018-02-01 05:52] yanlinly commented on #9259
i  don't know, we use etcd keep docker status,write very frequently.  The control system reads the status reconciliation.

you think these ranges case this problem ?

[2018-02-01 06:07] learnMachining commented on #9251
@gyuho I did nothing to this cluster. All is default. K8s uses etcd v3, calico and flannel use  etcd v2. After installation, etcd, k8s, calico and flannel worked as their own way. And I found the inconsistency yesterday.

[2018-02-01 06:09] gyuho commented on #9251
@learnMachining Do you have all server logs from beginning (from revision 1) that you can share?

[2018-02-01 06:24] hexfusion commented on #9259
Well you have very heavy I/O the metrics show, it seems the wal_fsync is pretty bad that I think this is a possible source of the issue. Have you reviewed the disk I/O on these nodes?

[2018-02-01 06:51] yanlinly commented on #9259
io always like this.  When the problem changed little

<img width="1024" alt="2018-02-01 2 43 47" src="https://user-images.githubusercontent.com/17695352/35665010-46dfbf1a-075f-11e8-8831-11eecf113fd5.png">

[2018-02-01 08:25] beatlejuse commented on #9253
@hexfusion  i'm testing it today.
if i use real ".crt" and ".key" file? i get error "tls: failed to find any PEM data in certificate input".
most likely expected certificates in pem format.
in that way, "Generate self-signed certificates" manual is right.
I think you need to correct the user manual "Transport security model".
and i don't like to create PR ))

[2018-02-01 08:25] beatlejuse commented on #9253
and yes, if i use certificates in PEM format - it's works!

[2018-02-01 08:41] alpha-li opened #9261 "Is there any configuration flag like sync_binlog to put off data saving?"
Given the poor performance of hard disk，leader election failure occured frequently? So I wonder if there is any conf flag like sync_binlog which exists in mysql to decrease the overhead of io request。

[2018-02-01 12:30] duanhaozju opened #9263 "raftexample: restore or overwrite kvstore after replaying has done?"
When new a kvstore, we will wait until replay has done, then start a go-routine to listen new commits and return to start http service:

[code]

However, if we have done snapshot before restart a node, in readCommit(), those entries with Index larger than the last snapshot will be overwrite in recoverFromSnapshot():

[code]

[code]

I think here we should append those entries stored in snapshot to

[2018-02-01 12:43] hexfusion commented on #9253
Hi @beatlejuse the actual format of the files does **not** change if the file extension does right?

### please review

https://crypto.stackexchange.com/questions/43697/what-is-the-difference-between-pem-csr-key-and-crt

What do you mean by real .crt and .key? These are only file extensions. The documentation only shows how to generate PEM format certificates. It is common practice to append certi

[2018-02-01 13:32] beatlejuse commented on #9253
by real .crt and .key i mean  convertation PEM file to key and crt:
openssl x509 -outform der -in your-cert.pem -out your-cert.crt
openssl rsa -outform der -in private.pem -out private.key
if i convert it (not only rename) - i get error "tls: failed to find any PEM data in certificate input".
this means that expected files exactly in PEM format
and yes, changing the file extension does not change

[2018-02-01 13:41] hexfusion commented on #9253
1.) does the docs say to convert PEM to DER format?

2.) did you review the link I sent regarding file extensions?

I can see the confusion I guess you are assuming that a file with extension .crt or .key should or must be in DER format. But that is simply not the case.

[2018-02-01 14:13] beatlejuse commented on #9253
1. explicitly it is not specified, but the specified file extensions hint at it
2. yes
3. I also see the confusion. I think to avoid confusion, it is necessary just to fix the documentation. at generation we get .pem files. and nowhere expressly stated that they simply rename. by the way, the second option is to explicitly specify the renamed files.

[2018-02-01 14:55] hexfusion commented on #9259
That maybe true but you are way over the recommended value. etcd will become overwhelmed by slow I/O. Please review below.

https://github.com/coreos/etcd/blob/master/Documentation/faq.md#what-does-the-etcd-warning-failed-to-send-out-heartbeat-on-time-mean

[2018-02-01 15:35] hexfusion commented on #9253
I agree the documentation should explicitly state that etcd expects pem format. Once we define that, the rest I think can stay the same. Can you give it a shot?

I think this is nice documentation on the process.
https://gist.github.com/Chaser324/ce0505fbed06b947d962

I am eager to see what other areas of documentation you can help improve:) let me know if you need help and thanks for contributing

[2018-02-01 17:55] nickkeyzer opened #9264 "etcdv2 subsequent backup size increase issue/misunderstanding"
## Backup size increase issue/misunderstanding
### Setup
Kubernetes v1.8.2 cluster deployed with Kubespray (test cluster will little activity)
Etcd version 3.2.4
CentOS 7.3.1611

### Issue
I'm trying to understand a phenomenon where my etcdv2 backups appear to be growing in size after each subsequent backup. My etcd DB is only 6.9MB (as reported by etcdv3 api) however my backups are much larger an

[2018-02-01 18:21] xiang90 commented on #9264
db size only reflects the data in v3 database backend, not v2.

[2018-02-01 18:21] xiang90 commented on #9264
there is no plan to make v3 api to understand any v2 data related stuff.