[2016-06-09 05:51] heyitsanthony commented on #5571
@nekto0n I tried the code with #5603 and it seems OK. I launched a 3 member cluster and stopped the etcd on 127.0.0.1:2379 to cut off the keep-alives and expire the lease. The code ticks until expiration and finishes runnable. I repeated this process and runnable goes up/down with the lease each time.

Let me know if it's still broken in case I missed something when trying to repro the issue. Than

[2016-06-09 09:41] nekto0n commented on #5571
Yes, just applied provided patch and everything went smoothly. Thanks!

[2016-06-09 15:25] mitake opened #5604 "Regression from commit 686c248dacd8ac2dd5aa4184f06e81c496d71f25 "clientv3: use grpc balancer""
It seems that commit 686c248dacd8ac2dd5aa4184f06e81c496d71f25 `clientv3: use grpc balancer` introduced regression for authentication. After the commit, `grpc.Dial()` at line 198 called from `Client.dial()` doesn't return when options for auth are passed.

Maybe credential related things would be affected by the commit so I'm digging it. Do you have any ideas about it? @heyitsanthony

[2016-06-09 16:45] heyitsanthony commented on #5571
#5603 merged. Closing.

[2016-06-09 16:45] #5571 closed

[2016-06-09 16:49] gyuho opened #5606 "functional-tester: snapshot cycle stops tester"
When cluster is going through snapshot cycle, compaction and restoring index operations overlap that tester times out. Currently, we exit the whole functional-tester.

[code]

[code]

We should keep it running even when the compaction times out.

[2016-06-09 16:59] xiang90 commented on #5418
@justinsb Does my reply answer your question?

[2016-06-09 17:14] f0 opened #5609 "can not add member to cluster "etcdserver: publish error: etcdserver: request timed out, possibly due to previous leader failure""
Hi,

i try to add a member to an existing cluster (5 nodes)(have done this 2 times before without Problems)

[code]

etcdctl member add works successfully,  but when i start the new member i got

[code]

any ideas?

[2016-06-09 17:19] xiang90 commented on #5609
Can you please provide a 10 minutes full log of the leader and the failed node?

[2016-06-09 17:35] f0 commented on #5609
@xiang90  with debug enabled?

[2016-06-09 17:36] f0 commented on #5609
@xiang90  wait, the other members have version 2.3.1 , maybe this is the issue?

[2016-06-09 17:38] xiang90 commented on #5609
@f0 Let's do without debug first. We should find out something.

[2016-06-09 17:38] gyuho commented on #5609
@f0 `v2.3.1` should be compatible with `v2.3.6`.

[2016-06-09 17:43] f0 commented on #5609
@xiang90 @gyuho   ok started the log recording

at the leader i see

 Jun 09 19:41:44 zkm01.mgmt.example.net etcd[38]: cannot get the version of member fbb6707091e5bb3d (Get http://10.62.0.23:2379/version: dial tcp 10.62.0.23:2379: i/o timeout)
Jun 09 19:41:44 zkm01.mgmt.example.net etcd[38]: the local etcd version 2.3.1 is not up-to-date
Jun 09 19:41:44 zkm01.mgmt.example.net etcd[38]: member 9c0

[2016-06-09 17:47] f0 commented on #5609
@xiang90 @gyuho   ok i think i have the error, this is blocked by a firewall....

[2016-06-09 17:47] xiang90 commented on #5609
@f0

Can you please provide a 10 minutes full log of the leader and the failed node? We really need the log from both side with the same timeframe to figure out what really happened.

[2016-06-09 18:23] hongchaodeng opened #5611 "[feature] option to return only keys from v3 "etcdctl get""
Currently when I do `ETCDCTL_API=3 etcdctl get --prefix /`, it returns both keys and values.
I will want to have better control over this, like returning only keys, returning keys and versions.
The other option is to use etcd client library to write a program to do this. But programming and compiling took a lot of time :)
It would be great if etcdctl can provide options to control the output.

[2016-06-09 18:24] f0 commented on #5609
@xiang90  i resolve the FW issue tomorrow, if the error is not gone, i provide the logs
Thx for your help

[2016-06-09 18:53] xiang90 commented on #5609
@f0 OK. Thank you.

[2016-06-09 19:56] #5604 closed

[2016-06-09 21:20] chancez opened #5614 "functional-tests: Provide more advanced network failure injections"
Someone in the kubernetes cluster-sig-ops group wrote the following set of scripts to do black box fauult injection against etcd: https://github.com/jdumars/etcdeath

I see we have https://github.com/coreos/etcd/blob/master/pkg/netutil/isolate_linux.go today which does total packet loss, and latency, but etcdeath provides some interesting additional failures that would be good to add to our functi

[2016-06-09 22:56] xiang90 commented on #5614
@chancez For the ordering, is it actually testing the TCP stack?

[2016-06-09 23:06] heyitsanthony commented on #5614
@xiang90 I think ordering makes sense among multiple connections. For example, the bridge could buffer data on each connection for a bit, then control the order that it drains the buffers into the receiver.

[2016-06-09 23:07] xiang90 commented on #5614
@heyitsanthony Oh. Sure. You are right.

[2016-06-10 03:15] liggitt opened #5616 "Initial WAL file preallocates twice the segment size"
Starting up a new etcd cluster, two files are allocated, each at the segment size. The comments around the commit that added preallocation seemed to indicate they intended to preallocate a file equal to the segment size.

[2016-06-10 04:39] gyuho opened #5618 "functional-tester: simulate stresser with real-world use cases"
Current functional-tester only writes to the cluster (etcd-tester with stresser, local-tester with benchmark put). But this doesn't simulate all the real-world use cases. Workloads to etcd should include:

- write
- delete
- read
- optional: watch, lock, lease

[2016-06-10 05:27] #5616 closed

[2016-06-10 05:30] f0 commented on #5609
@xiang90 @gyuho   ok the issue still exists, i capture a log

[2016-06-10 05:33] heyitsanthony commented on #5618
It'd be nice if it could use tools/benchmark to generate the load so that the functional-tester isn't on another planet, but I understand it may not be easy to do this with the current functional-tester design.

[2016-06-10 05:41] f0 commented on #5609
@xiang90 @gyuho    here are the logs (not exact 10 minutes, bit its always the same...)
[etcd-master.log.txt](https://github.com/coreos/etcd/files/308382/etcd-master.log.txt)
[etcd-member.log.txt](https://github.com/coreos/etcd/files/308383/etcd-member.log.txt)

in the master log you see , but if i test this with ncat or curl, the connection does work
[code]

[2016-06-10 05:47] xiang90 commented on #5609
@f0 The log is directly from go's http library. It seems like it is a connectivity problem. But curl works... So I do not really understand why. Can you double curl and etcd does go through the similar route? No proxy in between or anything?

@heyitsanthony any idea?

[2016-06-10 05:49] xiang90 commented on #5609
@f0

why there is a `$` in the url?

[2016-06-10 06:22] gyuho commented on #5609
@f0 Can you reliably reproduce it? I see you are using 24-CPU, any other configuration?

Maybe you can share the etcd commands for this workflow, for us to reproduce it?

Thanks.

[2016-06-10 06:41] f0 commented on #5609
@xiang90   seems a copy and paste problem
@gyuho  yes i can reliably reproduce this, i have also changed the leader to another system (2.3.6 in this case), same error

wich commands? the new member commands are in the log

[2016-06-10 16:03] gyuho commented on #5618
Yeah... right now they don't share any code. Maybe we can implement `benchmark stress` command for `benchmark`. I will work on etcd-tester part.

Thanks.

[2016-06-10 16:11] heyitsanthony commented on #5618
@gyuho the benchmarks are already stress tests so it wouldn't need additional commands-- the functional tester would use what's there to generate load

[2016-06-10 16:14] gyuho commented on #5618
Yeah right, we can just use different commands.

[2016-06-10 17:25] hectorj2f opened #5621 "Failed to join discovery cluster, Key not found"
Hi, I have a running cluster and I cannot add a new node to the cluster. I have a quorum of 3 nodes but I simply want to have an additional node (not a core member).

`etcdmain: failed to join discovery cluster (100: Key not found (/_etcd/registry/XXXXXX/_config)`

etcd version: 2.2.5
CoreOS version: 1010.5.0

[code]

[2016-06-10 17:45] xiang90 commented on #5621
@hectorj2f We clean up discovery service periodically. Please do not depend on our discovery service to do any re-configuration. It is only designed for bootstrap. See https://github.com/coreos/etcd/blob/master/Documentation/op-guide/runtime-reconf-design.md#do-not-use-public-discovery-service-for-runtime-reconfiguration

[2016-06-10 17:45] #5621 closed

[2016-06-10 18:41] gyuho commented on #5606
Closing via https://github.com/coreos/etcd/pull/5610.

[2016-06-10 18:41] #5606 closed

[2016-06-10 18:57] gyuho opened #5627 "functional-tester: continuous tester prometheus metrics count"
Current problem is whenever we redeploy testing cluster, we reset all the metrics in tester (number of rounds, cases, etc.).

I asked Grafana mailing list if there's any way to use previous metrics data to make Grafana graphs continuous, even after prometheus redeployment, because Grafana stores some historical data on disk.

And response was:

Which means it only stores the results of the query,

[2016-06-10 18:58] xiang90 opened #5628 "pacing between apply routine and raft routine"
The previous assumption was apply routine can alway run faster than raft routine. So there should not be a lot of entries that are pending for apply.

Now etcd3 support l-range and delete-range query, which can be expensive to apply.

We definitely do not want raft replication to overload etcd server apply loop. Apply loop need to feedback to raft when raft goes too fast.

[2016-06-10 18:58] xiang90 commented on #5628
/cc @heyitsanthony

[2016-06-10 19:03] heyitsanthony commented on #5628
@xiang90 would the fix be as simple as having a scheduler that blocks if overloaded instead of pure FIFO? If raft floods etcd then writes to etcd's apply channel will block and therefore force raft processing to stall.

[2016-06-10 19:08] xiang90 commented on #5628
@heyitsanthony Could be. Ultimately, we need the pacing between API layer and raft too. Probably we need to think about this a little bit more carefully.

[2016-06-10 19:09] xiang90 commented on #5628
@heyitsanthony We cannot drop any raft entries if raft already accepts it. We can drop API layer requests though.

[2016-06-10 19:11] #5594 closed

[2016-06-10 20:27] f0 commented on #5609
@xiang90  @gyuho   any ideas here?

[2016-06-10 20:30] xiang90 commented on #5609
@f0 Can you reproduce it from a fresh cluster? What are the steps to reproduce this problem?

[2016-06-11 00:05] gyuho opened #5638 "vendor: gRPC introduced a breaking change"
[code]

Current gRPC clientv3 code would complain about the gRPC master branch as of today.

[2016-06-11 04:09] #5638 closed

[2016-06-11 19:50] f0 commented on #5609
@xiang90 @gyuho   ok i have set up a second etcd process on a cluster member, works without problems.
But on the one system it does not work... but i think its not e etcd error, somthink wired on my side

[2016-06-11 20:13] gyuho commented on #5609
@f0 Ok, please feel free to re-open this, when you have this problem again.

Providing an easy way to reproduce in our side would help, next time.

Thanks!

[2016-06-11 20:13] #5609 closed

[2016-06-12 02:31] khalaan commented on #5576
I'm not sure if this is related or not but I also cannot start etcd2 on 1010.5.0.

journalctl -u etcd2

[code]
coreos:
  etcd2:
    name: spengler
    discovery: https://discovery.etcd.io/4c7ad265bd34ff638a021e401a85218f
    advertise-client-urls: http://192.168.1.232:2379,http://192.168.1.232:4001
    initial-advertise-peer-urls: http://192.168.1.232:2380
    listen-client-urls: http://0.0.0.0:23

[2016-06-12 02:56] workhardcc commented on #5595
Thanks for your reply!
You know my cluster start with static config file. I want to know that if I use API to update members, didn't I need to manual update the configure file ?

[2016-06-12 23:10] Reifier opened #5646 "Cannot Start etcd2 Service On EC2 3 Node Cluster"
I have a 3 node coreOS etcd2 cluster. Each one had etcd2 service restarted in succession. As a result, etcd2 on only one of the nodes was brought up back to life. The service on the other two nodes errors out when I try to start it:

This is the configuration of a non-working server:
[code]

The logs I get:
jounalctl -u etcd2
[code]

What am I doing wrong? How to get a debug output that is more us

[2016-06-13 07:12] sipt opened #5647 "Clientv3's demo does not run correctly"
[code]
Results: timeout
[code]
Use curl
[code]
Demo from: https: //godoc.org/github.com/coreos/etcd/clientv3#example-KV--Get

[2016-06-13 07:30] gyuho commented on #5647
Your `curl` example shows that `/mykey` exists in v2.

For that v3 example to work, you should have written that key using v3 client.

[2016-06-13 08:07] sipt commented on #5647
Thanks!
`etcd/clientv3 is the official Go etcd client for v3.`
I misunderstood the meaning of this sentence.

[2016-06-13 08:07] #5647 closed

[2016-06-13 10:02] f0 commented on #5609
@gyuho  @xiang90   FYI  the problem is our new shiny Application Firewall....

[2016-06-13 10:08] parsa-ionos opened #5649 "Secure etcd2 cluster of 3 machines unable to elect a leader,"
-- Logs begin at Mon 2016-06-13 10:10:26 UTC, end at Mon 2016-06-13 10:10:59 UTC. --
[code]

Cloud config file

[code]

$ etcd2 --version
etcd Version: 2.3.1
Git SHA: 2b67f52
Go Version: go1.5.3
Go OS/Arch: linux/amd64

Without certificates, cluster forming , and election is happening very smoothly.

[2016-06-13 15:28] mwitkow opened #5651 "PUT with refresh=true and prevValue sets value to empty on 2.3.6"
On

[code]

If you do a request:

```"PUT /v2/keys/election?ttl=60&prevValue=2492&refresh=true HTTP/1.1" 200 307```

It sets the value to empty, while keeping the entry

```"PUT /v2/keys/election?ttl=60&prevExit=true&refresh=true HTTP/1.1" 200 307```

Keeps the value.

Expected behaviour:
 * the `value` should be kept if `prevValue` is provided

[2016-06-13 16:12] heyitsanthony commented on #5651
@mwitkow Can you reproduce this with curl and a fresh etcd cluster?

This is what I tried:
[code]

[code]

[2016-06-13 16:42] gyuho opened #5653 "Hard to set ETCDCTL_API for etcdctl in Docker image"
Current `etcdctl` reads environment variable `ETCDCTL_API` to decide which version to run.

The problem is that

[code]

won't work.

Currently there's no easy way to set environment variables inside container, as far as I know.

We need to resolve or document this when we release `v3.0.0`.

[2016-06-13 18:37] gyuho commented on #5646
Could you share the system unit file on the other two nodes?

It's hard to tell.

seems like systemd error (not from etcd) though.

Thanks.

[2016-06-13 18:47] heyitsanthony commented on #5646
The etcd output suggests it's not loading the environment variables from `/run/systemd/system/etcd2.service.d/20-cloudinit.conf` and `%m` is evaluating to an empty string, but it's not clear to me why that would be happening.

[2016-06-13 18:49] xiang90 commented on #5649
@parsa-ionos

What is the machine configuration? maybe the machine is slow and the tls handshake takes more than election timeout to finish?
Try to set `--election-timeout = 1200ms` longer? Like 5000ms?

[2016-06-13 18:50] xiang90 commented on #5649
Also please make sure the keys/certs and CAs are good.

[2016-06-13 19:05] heyitsanthony commented on #5653
It seems like people get around this with something like:
[code]
but that assumes bash is available in the container and it's unwieldy.

An alternative could be shipping the container with a `etcdctl3` that will run etcdctl with `ETCDCTL_API=3`.

[2016-06-13 19:08] heyitsanthony commented on #5598
Still happening: https://semaphoreci.com/coreos/etcd/branches/master/builds/432

[2016-06-13 19:37] gyuho commented on #5653
Yeah separate binary with `etcdctl3` sounds good, or ship a bash script or executable `/bin/bash` for those workarounds. Currently, we only ship `etcd` and `etcdctl` binaries, nothing else.

[2016-06-13 19:48] gyuho commented on #5449
I think etcd just needs to make `capnslog` formatter configurable as `capnslog.SetFormatter(capnslog.NewPrettyFormatter(os.Stdout, false))`.

- https://github.com/coreos/pkg/blob/master/capnslog/init.go#L41

Maybe add `--log-output=[stdout,stderr,journald]`  flag to `etcd`?

[2016-06-13 20:03] xiang90 opened #5655 "auth: use bytes comparasion"
In the auth pkg, we use string comparison now. this is inconsistent with how the range ordering works in mvcc store. We should use bytes instead and keep []byte all over the place instead of converting them to string.

/cc @gyuho can you please fix this?

[2016-06-13 20:04] gyuho commented on #5655
Sure. Will fix today.

[2016-06-13 21:41] #5655 closed

[2016-06-13 22:15] gyuho opened #5658 "evaluate glide for vendor"
Many CoreOS projects are already using glide for its vendoring: torus, dex, clair, etcd-play, dbtester, etc..

And other projects as well:
- https://github.com/Masterminds/glide/issues/300 (Kubernetes)
- https://github.com/coreos/docs/issues/775

From my personal experience:

Pros.
- works well with go tip (godep doesn't work with go tip, failing to parse go version string)
- feels easier to updat

[2016-06-14 00:35] xiang90 opened #5663 "auth: check permission of txn requests"
@mitake Can you take a look at this one?

[2016-06-14 01:29] mitake commented on #5663
@xiang90 sure, I'll work in it today

[2016-06-14 02:39] #5598 closed

[2016-06-14 02:55] heyitsanthony opened #5664 "raft: state.commit is out of range"
via local-tester with reordering:

[code]

[2016-06-14 05:50] chancez commented on #5658
To remove test files, and non-code files form vendored deps: https://github.com/sgotti/glide-vc

[2016-06-14 06:40] parsa-ionos commented on #5649
@xiang90

I tried giving election-timeout 10000ms and 5000ms both.

Still its giving same logs```

Jun 14 06:36:43 adx-etcd2-3 etcd2[827]: publish error: etcdserver: request timed out
Jun 14 06:36:48 adx-etcd2-3 etcd2[827]: the connection to peer 65670fcb3670a0e7 is unhealthy
Jun 14 06:36:48 adx-etcd2-3 etcd2[827]: the connection to peer d22ba70594a3bc85 is unhealthy
Jun 14 06:36:53 adx-etcd2-3 et

[2016-06-14 06:42] parsa-ionos commented on #5649
Using
CoreOS-stable-1010.5.0-hvm
I have cross checked certificates, its correct.

[2016-06-14 07:49] mwitkow commented on #5651
I can reproduce it on my existing cluster:

[code]

And on a *clean* and empty etcd with a different key:

[code]

[2016-06-14 07:50] mwitkow commented on #5651
Also note, previous I was running etcd with ` etcd  --experimental-v3demo`, it is the same problem without.

[2016-06-14 07:52] mwitkow commented on #5651
FWIW this is the etcd startup sequence:

[code]

[2016-06-14 08:07] xinxiaogang opened #5665 "Will etcdctl3 still support backup?"
Saw this https://github.com/coreos/etcd/issues/4896.

My questions are:
- Will etcdctl3 still support backup? I could not see backup command code under etcdctl3.
- What's the main purpose of snapshot/recover in #4896? What's the different with backup?

[2016-06-14 13:34] xiang90 commented on #5665
Snaphost = backup: check out https://github.com/coreos/etcd/blob/master/etcdctl/README.md#snapshot-subcommand

[2016-06-14 13:34] #5665 closed

[2016-06-14 15:17] xiang90 commented on #5649
Jun 14 06:36:48 adx-etcd2-3 etcd2[827]: the connection to peer d22ba70594a3bc85 is unhealthy

From the log, the connection between peers were not good. I think you need to double check the connection (firewall rules? certs/keys/cas?). It does not seem like a bug at etcd side.

[2016-06-14 15:56] gyuho commented on #5658
Cool. Will check that out. Thanks!

[2016-06-14 19:36] cdancy opened #5668 "v3 ONLY has support for protobuf? json gone for good?"
While I understand the change and all its benefits just wondering if json is going out the window entirey for v3?

[2016-06-14 20:00] gyuho commented on #5668
Think this is addressed in this issue https://github.com/coreos/etcd/issues/5525?

[2016-06-14 20:04] xiang90 commented on #5668
@cdancy There will be json support for languages that do not have grpc support yet. https://github.com/coreos/etcd/pull/5669

[2016-06-14 20:08] cdancy commented on #5668
@gyuho @xiang90 thanks. I'm the owner of [etcd-rest](https://github.com/cdancy/etcd-rest) and we use jclouds in the backend for communicating with etcd v2 api. I was looking to start prototyping the v3 api but jclouds does not currently have support for this which is why I asked.

[2016-06-14 20:08] #5668 closed

[2016-06-14 20:09] xiang90 commented on #5668
@cdancy The v3 JSON API is not that restful. It is more like a JSON rpc over HTTP.

[2016-06-14 20:27] cdancy commented on #5668
@xiang90 fair enough. That's better than nothing and something I can more easily cope with than trying to coerce that library into producing protobuf data which may be more work than it's worth.

[2016-06-14 23:25] gyuho commented on #5354
Just to clarify our current behavior...

Current watch client has its own top level `context.Context` here https://github.com/coreos/etcd/blob/master/clientv3/watch.go#L141-L144:

[code]

Which is sent to gRPC server. The problem is then, client-defined `context.Context` in the watch request won't be propagated to grpc stream interceptor https://github.com/coreos/etcd/blob/master/clientv3/watch.go

[2016-06-15 00:39] gyuho opened #5671 "vendor: gRPC, proto-gen would complain about grpc.SupportPackageIsVersion2"
[code]

With latest gRPC dependency, it will complain about this (https://github.com/grpc/grpc-go/commit/e78224b060cf3215247b7be455f80ea22e469b66)

[2016-06-15 00:46] xiang90 commented on #5525
closed by https://github.com/coreos/etcd/pull/5669

[2016-06-15 00:46] #5525 closed

[2016-06-15 01:10] xiang90 commented on #5664
Seems like a bad assumption we made in raft library.

[2016-06-15 01:44] siddontang commented on #5664
can reordering the raft message in test reproduce this?
@xiang90

[2016-06-15 01:46] xiang90 commented on #5664
@siddontang Probably. You need a full raft restart + receive an out of order message from the previous connection (or the sender holds it for a really long time). I do not expect this to happen a lot in practice. But, yes, we need to fix this.

[2016-06-15 06:52] sipt opened #5673 "Add "recursive = true", auth failed"
If i add "recursive = true", will return "The request requires user authentication".
[code]

[2016-06-15 08:15] mitake commented on #5569
@nekto0n could you share how to reproduce the panic? e.g. how did you launch the cluster, how did you invoked etcdctl, etc

[2016-06-15 08:18] purpleidea commented on #2920
@unknownzerx I have a patch to help embedding etcd since I am working on this as well. Please have a look here: https://github.com/coreos/etcd/pull/5584

@yichengq and others, I have noticed that in my programs embedding etcd, if I start the embedded server, then stop it, and then start it again, I get a ```bind: address already in use``` error because the listen isn't closed properly. I think thi

[2016-06-15 17:32] gyuho commented on #5658
Got it to work, but glide [doesn't work well with symlinks](https://github.com/Masterminds/glide/issues/253). On Linux, writing symlinks back to root directory works `ln -s cmd/vendor/ . && ./build`, but not sure if we want to do that.

For future reference:

[code]

[2016-06-15 18:02] chancez commented on #5658
Yeah, symlinks will screw glide up, a lot. You'll need to avoid that if possible.

[2016-06-15 18:55] jlamillan commented on #5449
Is the intent here that a user choose _one_? i.e.
`--log-output=[stdout|stderr|journald]`
`etcd ... --log-output=journald`

Or is it that the user could choose _many_? i.e.
`--log-output=[stdout,stderr,journald]`
`etcd ... --log-output=journald,stdout`

Also, seeing as how there is [conditional logic](https://github.com/coreos/pkg/blob/master/capnslog/init.go#L41) to behave differently if etcd is

[2016-06-15 19:15] gyuho commented on #5449
@jlamillan We can overwrite that logic by calling `capnslog.SetFormatter`. And I think we should make user choose one, since rkt team wants to

[2016-06-15 19:49] parsa-ionos commented on #5649
Certificates are good, I created using easy-rsa 2.2 version.
I have not modified firewall rules.

[2016-06-15 20:01] xiang90 commented on #5649
@parsa-ionos To be honest, I have no idea where is the problem. I have no problem setting up a cluster with TLS on similar environment. Can you provide us a step by step cluster setup? From generating certs , machine configuration, etcd configuration and the command you use to setup etcd? So we can reliably reproduce your issue on AWS.

[2016-06-15 21:25] gyuho opened #5679 "functional-tester: possible live-lock after recovery"
Still investigating...

- Pretty easy to reproduce with 8-CPU machines (but very infrequent in 4-CPU machines, only happens 1 in every +2000 rounds)
- Rebuilding kv index takes only 2~3 seconds, so snapshot cycle is not the problem here

[code]

[2016-06-15 21:30] gyuho opened #5680 "functional-tester: log rotation"
As etcd functional-testing cluster becomes stable, when a failure happens, the log file size is often very large. 1000-round can have about 200MB log file. This makes it hard to debug. We need to rotate or segment this log file.

[2016-06-15 21:41] gyuho commented on #5449
@alban Sorry, I think I mis-read the issue:

Do you mean forwarding logs to journald and stdout at the same time?

I don't think we should do that, since it's another write overhead? etcd will only log to `stderr` or `journald` when systemd is detected and this is handled by `capnslog` package. etcd doesn't provide any log configuration.

[2016-06-15 21:56] cdancy opened #5681 "libraries-and-tools.md: add gradle-etcd-rest-plugin"
Add [gradle-etcd-rest-plugin](https://github.com/cdancy/gradle-etcd-rest-plugin) to list of gradle plugins.

[2016-06-15 21:57] xiang90 commented on #5681
@cdancy Can you send a pull request?

[2016-06-15 21:57] cdancy commented on #5681
@xiang90 doing so now just wanted to get the issue out there first ;)

[2016-06-15 22:02] #5681 closed

[2016-06-15 22:13] cdancy commented on #5668
@xiang90 is there, or do you guys plan on, putting together any documentation for the v3 json API? Perhaps it's similar enough to v2 or at least follows the same semantics that changing the version endpoint is all that is necessary?

[2016-06-15 22:17] xiang90 commented on #5668
@cdancy We do not have an API specification for v2 API. The doc is the walk through of the etcd features using API. We have a specification style doc for gRPC API at  https://github.com/coreos/etcd/blob/master/Documentation/dev-guide/api_reference_v3.md.

We might generate similar thing for the current JSON/HTTP based RPC too. But do not expect us to provide API usage examples in JSON in short ter

[2016-06-15 23:11] #5651 closed

[2016-06-16 01:14] cdancy commented on #5668
@xiang90 the "v2 API doc walk through" was what I was referring to. It was good enough for me to fully build out an http based client and was wondering if there was something planned for v3.

If and when you guys have something going I'd be more than happy to look over your docs and flesh them out a bit more if only for my own purposes. I've written quite a few java based clients now for http API'

[2016-06-16 01:43] philips commented on #5668
@xiang90 are we generating and publishing the swagger / open APIs document for the grpc-gateway?

[2016-06-16 01:45] philips opened #5686 "Documentation: grpc-gateway documentation"
A short doc that covers the following:

- [X] Explains the grpc-gateway functionality at a high level and its use case (languages that don't have gRPC)
- [X] How to use the endpoint, curl/bash is fine
- [X] Shows where the swagger document is

[2016-06-16 01:45] philips commented on #5668
@cdancy @xiang90 Filed a bug to add docs for this: https://github.com/coreos/etcd/issues/5686

[2016-06-16 01:45] philips commented on #5686
This was introduced in https://github.com/coreos/etcd/pull/5669

[2016-06-16 01:47] cdancy commented on #5668
Sounds good and thanks.

[2016-06-16 04:28] rvu95 opened #5688 "Etcd is always failed but netstat showing that the port actually being used by etcd"
[code]

Here the output I got when I'm starting the `etcd`:

[code]

The output of `journalctl -xe`

[code]

The output of `netstat`:

[code]

Any ideas why?

[2016-06-16 04:29] xiang90 commented on #5688
@rvu95 I believe you already have one etcd running as netstat shows. That is why etcd fails to start due to address conflict.

[2016-06-16 04:29] #5688 closed

[2016-06-16 05:29] wynnfynn opened #5691 "etcdmain: listen tcp [::1]:2380: socket: address family not supported by protocol"
I disabled ipv6 in ubuntu14.04, i want to use ipv4 , but etcd can not start with

/opt/bin/etcd  -name infra -addr 10.100.xx.xx:4001  -bind-addr 0.0.0.0:4001 -data-dir /var/lib/etcd/

Linux ubuntu 3.13.0-32-generic #57-Ubuntu SMP Tue Jul 15 03:51:08 UTC 2014 x86_64 x86_64 x86_64 GNU/Linux
/opt/bin/etcd --version
etcd Version: 2.3.1
Git SHA: 2b67f52
Go Version: go1.5.3
Go OS/Arch: linux/amd64

stra

[2016-06-16 05:36] #5664 closed

[2016-06-16 05:48] rvu95 commented on #5688
@xiang90 when i look into the status:

[code]

[2016-06-16 07:36] parsa-ionos commented on #5649
Sample user data file with certs and key::

[1-etcd2.txt](https://github.com/coreos/etcd/files/317856/1-etcd2.txt)

[2-etcd2.txt](https://github.com/coreos/etcd/files/317859/2-etcd2.txt)

Command to setup cluster :
aws ec2 run-instances  --image-id ami-d704d5b4 --region ap-southeast-1 \
    --instance-type t2.medium  --security-group-ids sg-a6e458c2 \
    --key-name abc-dev-key \
    --instance-in

[2016-06-16 08:40] parsa-ionos commented on #5649
Sample cloud config file with certs and keys:

[1-etcd2.txt](https://github.com/coreos/etcd/files/317979/1-etcd2.txt)
[2-etcd2.txt](https://github.com/coreos/etcd/files/317980/2-etcd2.txt)

Command used to setup :

ws ec2 run-instances  --image-id ami-d704d5b4 --region ap-southeast-1 \
    --instance-type t2.medium  --security-group-ids sg-abc12345 \
    --key-name abc-dev-key \
    --instance-ini

[2016-06-16 13:41] xiang90 commented on #5649
what are the rules in ` --security-group-ids sg-abc12345 `?

[2016-06-16 14:41] parsa-ionos commented on #5649
![screen shot 2016-06-16 at 8 08 58 pm](https://cloud.githubusercontent.com/assets/18208256/16120822/8d99cb98-33fe-11e6-938a-fba862728410.png)

[2016-06-16 14:46] parsa-ionos commented on #5649
44435	tcp	0.0.0.0/0	           ✔
8083	tcp	sg-abc12345	   ✔
5050	tcp	0.0.0.0/0	           ✔
8472	udp	sg-abc12345	   ✔
44434	tcp	sg-abc12345	   ✔
1338	tcp	0.0.0.0/0	           ✔
2380	tcp	sg-abc12345	   ✔
8084	tcp	sg-abc12345	   ✔
2888	tcp	sg-abc12345	   ✔
5051	tcp	0.0.0.0/0	           ✔
22	        tcp	0.0.0.0/0	           ✔
1510	udp	sg-abc12345	   ✔
8070	tcp	0.0.0.0/0	✔
2379	tcp	sg-abc12345	✔
3888	t

[2016-06-16 14:49] xiang90 commented on #5649
@parsa-ionos Thanks. We will try to reproduce and get back to you later.

[2016-06-16 20:19] xiang90 commented on #5576
@0x4139 I am closing this out. We need more logging, reproduce steps to help you more. Feel free to reopen if this is still an issue for you and you have more information. Thanks!

[2016-06-16 20:19] #5576 closed

[2016-06-16 20:57] heyitsanthony opened #5697 "e2e: mismatched etcd versions for rolling upgrades"
Partially in response to #5696, where a missing field from an older version crashes the newer etcd. Right now there's no infrastructure for testing configurations with mismatched etcd server versions.

This case could be covered to some extent by having all e2e tests with more than one member run (either by default or some configuration option) some members on the last stable release and the rest

[2016-06-16 20:58] #5569 closed

[2016-06-16 20:59] xiang90 commented on #5663
this is already finished.

[2016-06-16 20:59] #5663 closed

[2016-06-16 21:47] gyuho commented on #5697
This is good. We only do once right before the release. It would be great if we do this for every e2e test runs, going forward with v3 releases.

[2016-06-17 04:56] xiang90 commented on #5653
@gyuho @heyitsanthony

[code]

wont work?

[2016-06-17 04:57] xiang90 commented on #5653
Sorry you need to do docker run -e ...

[2016-06-17 05:25] gyuho commented on #5653
Yeah people set env for `exec` with bash script file inside container. There seems to be no easy way now...

[2016-06-17 09:38] jwierzbo commented on #5671
I get same error on  `go get github.com/coreos/etcd/clientv3`

[2016-06-17 13:14] nekto0n commented on #5569
Sorry for taking so long to respond. I'm sure @xiang90 got it right :)

[2016-06-17 15:59] ajityagaty commented on #5611
@xiang90 As we receive the `GetResponse` object can we just filter the output based on what the user has asked for (like `--keys` or `--values` or `--with-version`). If we are to just filter the `GetResponse` object then this would make sense for `SimplePrinter` only right? For JSON and protobuf the user will have access to the `GetResponse` object and they can filter it themselves.

[2016-06-17 16:04] ajityagaty commented on #4816
Apologies from my side... I have not been able to spend much time on this. Will try to see if I can find some during the weekend.

[2016-06-17 16:29] xiang90 commented on #5611
@ajityagaty I think we'd better to do this in the server-side. People would like to avoid huge traffic going through decoding + network path.

[2016-06-17 16:39] ajityagaty commented on #5611
@xiang90 Yes, makes sense. Would it be ok if I look at it?

[2016-06-17 16:40] xiang90 commented on #5611
@ajityagaty Sure. Go ahead. Thanks! Probably we want to add a optional field in the range request (no_value or only_key).

[2016-06-17 17:08] xiang90 commented on #5653
@gyuho So shall we just close this one? And in the docker example, add the `/bin/bash -c "export ETDCCTL_API=3 &&` thing? We control the container image anyway.

[2016-06-17 17:10] gyuho commented on #5653
Sure, I will include bash script to enable that starting in the v3 releases.

[2016-06-17 17:10] #5653 closed

[2016-06-17 17:13] gyuho commented on #5653
*We will update the documentation about how to run v3 ctl in the next release.

[2016-06-17 17:56] #5671 closed

[2016-06-17 18:12] xiang90 commented on #5473
I am closing this out due to low activity. Please repoen if you have any follow-up questions to the same issue.

[2016-06-17 18:12] #5473 closed

[2016-06-17 20:45] xiang90 commented on #2468
This is irrelevant to v3 api which uses stream to support watch and clients can require from periodically etcd layer keep alive notification. We do not have plan to add timeout feature as a workaround into v2 either.

[2016-06-17 20:49] xiang90 commented on #5679
This is fixed by #5692.

[2016-06-17 20:49] #5679 closed

[2016-06-17 20:50] xiang90 commented on #5418
@justinsb I am closing this due to low activity. Reopen if you have a follow-up.

[2016-06-17 20:50] #5418 closed

[2016-06-17 20:52] xiang90 commented on #4627
@ajityagaty

Let's say we have 1000 clients watch on the same key foo. If there is a change on key foo, we need to broadcast the event to all 1000 clients. The core content, the key change, is same for 1000 clients. Right now, we still allocation space and encode the key changes 1000 times which is inefficient. Ideally, we should just do the key change encoding once.

[2016-06-17 20:54] xiang90 commented on #1808
I am closing this out since raft is pretty stable right now. We might move raft into its own repo. But that is a longer term goal.

[2016-06-17 20:54] #1808 closed

[2016-06-17 22:34] gyuho commented on #5686
Next week, we will set up a simple web site to serve API docs. Something like http://kubernetes.io/kubernetes/third_party/swagger-ui/.

[2016-06-17 22:35] xiang90 commented on #4475
@mitake Anything left here for 3.0? Or we can close it?

[2016-06-17 22:35] xiang90 commented on #5686
I think we can close this issue now. The hosted API thing is an enhancement.

[2016-06-17 22:35] #5686 closed

[2016-06-18 03:07] mitake commented on #4475
@xiang90 yes, though there are still remaining tasks e.g. jwt token and handling revision, the basic functionalities are already implemented. I agree to closing it.

[2016-06-18 03:14] justinsb commented on #5418
Sorry for delay & thanks!  I can confirm that this setup does work perfectly (so far).  I'm working on more testing on documentation, but thanks for the pointers.

[2016-06-18 05:25] ajityagaty commented on #5611
@xiang90 Thanks! Will look into it.

[2016-06-18 13:15] xiang90 commented on #4475
@mitake Probably create issues for the things we want to do for the next steps: jwt + revision in token.

[2016-06-18 13:15] #4475 closed

[2016-06-18 16:31] ajityagaty commented on #5611
@xiang90 I was looking at the changes that I'll have to make. The `RangeRequest` will have a flag to indicate "keys only". If the flag is set then in `kvServer.Range` method, after reading the keys from the store, would it be enough if we set the `Value` field of every `mvccpb.KeyValue` to nil?

[2016-06-18 16:52] xiang90 commented on #5611
@ajityagaty That is how I would expect it to work.

[2016-06-19 03:49] greg89757 opened #5715 "Can not use nfs as --data-dir"
I want to use nfs as etcd --data-dir,but it can not work.
[code]

Etcd has write Permission
[code]

[2016-06-19 03:57] heyitsanthony commented on #5715
@greg89757 etcd had problems obtaining file locks on nfs. File locking on nfs should work in etcd 3.0 (support was merged in #4861) for linux kernel versions >=3.15. Closing.

[2016-06-19 03:57] #5715 closed

[2016-06-19 03:58] greg89757 commented on #5715
@heyitsanthony thanks

[2016-06-19 15:18] nekto0n opened #5717 "etcv3: high value of mvcc_pending_events_total"
Hi!
I have etcd (from master) ensemble with 5 members and 5 clients. Each client sets up 2 watches (which is correctly reported in `mvcc_watcher_total`) and starts updating keys / receiving events. I think I manage to have some clients consistently staggering, i.e. last seen index from watch stream is increasing, but lags behind other clients.
While investigating I found that `etcd_debugging_mvcc_

[2016-06-19 17:49] ajityagaty commented on #4627
@xiang90 Thanks for the explanation ! Could you also point me to the code path?

[2016-06-19 18:55] xiang90 commented on #5717
@nekto0n There is probably a bug somewhere. Will investigate. And the meantime, you can try to play with light watch load to see if the counter behaves correctly. If not, you can try to figure out what is happening and send us a pull request to fix it!

[2016-06-19 21:50] #5611 closed

[2016-06-20 04:30] mitake opened #5718 "auth v3: support jwt as auth token"
For production use cases, current simple token of auth v3 is too naive e.g. its token is a randomly generated string and doesn't care about the cost of guessing by attackers.

[JWT](https://jwt.io/) seems to be useful for the purpose. auth v3 needs to support it as its token. [jwt-go](https://github.com/dgrijalva/jwt-go) would be a suitable implementation for etcd.

[2016-06-20 04:33] mitake commented on #5718
@xiang90 I think https://github.com/dgrijalva/jwt-go is a suitable library for the purpose. Do you have opinions about library selection? CoreOS people would know well about jwt libraries because of https://github.com/coreos/jwtproxy (jwtproxy has its own jwt implementation?). I'd like to hear suggestions about jwt library selection.

[2016-06-20 04:37] mitake opened #5719 "auth v3: revision aware permission checking"
Current permission checking mechanism of auth v3 does not care about revision of KV. It means if a user is granted a permission of `/k`, the user can access any revision of `/k`. It would not enough for permission checking of multi version storage system like etcd. auth v3 should be revision aware in the near future.

/cc @xiang90 @heyitsanthony

[2016-06-20 04:38] mitake commented on #4475
New issues related to auth v3:
- revision aware permission checking: https://github.com/coreos/etcd/issues/5719
- jwt as token: https://github.com/coreos/etcd/issues/5718

[2016-06-20 08:01] mqliang opened #5724 "RFC: group commit"
Pros:
* less writing, more disk friendly
* throughput improving

Cons:
* larger write latency. But latency could be configurable, for example, write log every 10ms.

@xiang90 @gyuho Does group commit worth doing?

[2016-06-20 09:50] nekto0n commented on #5717
Fixed version is running for over an hour and gauge is `0`. I guess we can assume issue is fixed.

[2016-06-20 13:11] xiang90 commented on #5724
what is what we have already done. There are a few ways to improve our existing "batching" mechanism.  but i do not think it worth the effort right now.

[2016-06-20 13:11] #5724 closed

[2016-06-20 13:13] xiang90 commented on #5717
How do you manage to do this? Do you think this is also an etcd issue? I manage to make some watcher slower but that requires some high workload to slow down both watcher and etcd server.

[2016-06-20 13:20] mqliang commented on #5724
@xiang90 Mind to refer the code about the "batching" mechanism?

[2016-06-20 13:44] #5717 closed

[2016-06-20 13:50] jwierzbo opened #5726 "api v3 calls doesn't work"
I use api v2 client in golang to do standard GET/SET/DELETE calls, which works fine, but I have problem with v3 client which returns me following error all the time:
`context deadline exceeded`

I've tried to verify v3 endpoints using etcdctl, but problem still exists (v2 calls works fine):
`>> ETCDCTL_API=3 ./etcdctl  put foo bar`
Returns:
`No help topic for 'put'`

In my OS ports 2382 and 4001 a

[2016-06-20 14:16] gyuho commented on #5726
@jwierzbo You would need to run https://github.com/coreos/etcd/tree/release-2.3/etcdctlv3 if you run etcd 2.3.x.

Or I recommend to run etcd and etcdctl from our master branch.

Thanks.

[2016-06-20 14:20] jwierzbo commented on #5726
I've binary pointed in documentation:
`curl -L  https://github.com/coreos/etcd/releases/download/v2.3.6/etcd-v2.3.6-linux-amd64.tar.gz -o etcd-v2.3.6-linux-amd64.tar.gz`

so etcdctlv3  can fix problem with CLI client but what about with golang v3 api (github.com/coreos/etcd/clientv3)?

[2016-06-20 14:43] gyuho commented on #5726
Did you try `clientv3` in release-2.3 branch or master branch? The v3 code and binaries in 2.3.6 was pre-alpha, which means it might contain a lot of bugs. But if you just want to try out, either 2.3.6 or master branch should work, although master branch clientv3 code is much more stable.

Thanks.

[2016-06-20 14:46] jwierzbo commented on #5726
Everything works fine with version from master branch.
@gyuho thanks for help!
Closing

[2016-06-20 14:46] #5726 closed

[2016-06-20 15:50] gyuho commented on #5726
np!

[2016-06-20 17:38] gyuho commented on #5680
Closing via https://github.com/logrotate/logrotate.

[2016-06-20 17:38] #5680 closed

[2016-06-20 21:16] xiang90 commented on #5430
bump this to 3.1

[2016-06-20 21:52] #5354 closed

[2016-06-20 22:17] heyitsanthony commented on #5673
@sipt
This is expected behavior according to the docs-- https://github.com/coreos/etcd/blob/master/Documentation/v2/auth_api.md#key-value-resources

`/queue/*` will give access to `/queue/`'s immediate children-- `/queue/348` and `/queue/349` are accessible but not a deeper path like `/queue/a/b`. Since `recursive` may try to access deeper paths, auth will reject it even if no deeper paths exist.

[2016-06-20 23:39] xiang90 commented on #5673
Closing since this works as intended.

[2016-06-20 23:39] #5673 closed

[2016-06-20 23:54] #3901 closed

[2016-06-21 01:47] xiang90 commented on #5458
I am closing this due to low activity. Reopen if you have any related questions.

[2016-06-21 01:47] #5458 closed

[2016-06-21 02:59] purpleidea commented on #5430
It's probably worth mentioning that https://github.com/coreos/etcd/pull/5584 is my recent update to this.

[2016-06-21 08:30] mqliang commented on #5724
@xiang90 May I ask the code snippet where we implement "group commit"? I look through the source code, we do have a [buffer](https://github.com/coreos/etcd/blob/master/wal/encoder.go#L33) in WAL encoder, but it seems used to reduce allocation when Marshal, instead of cache commit and sync to disk periodically.

[2016-06-21 12:18] nekto0n commented on #5717
Not quite sure. Every client is a server, which
- receives updates and `put`s them into etcd.
- starts watch which continuously  updates in-memory index for web UI to query and saves last seen `revision`

UI polls servers via balancer which uses round-robin. And I can see that some instances return outdated information (UI jitters). If I restart such instance, then it lists keys and starts watchin

[2016-06-21 16:11] heyitsanthony commented on #5724
@mqliang the batching happens at the raft level; multiple requests are batched into `[]raft.Ready.Entries` which commit in a single `fdatasync`.

[2016-06-21 18:07] heyitsanthony commented on #5646
@Reifer any updates?

[2016-06-21 18:15] xiang90 commented on #5691
Can you pass in the etcd log startup? From the strace, it seems like etcd tried to listen on an ipv6 addr "[::1]:2380". And you disabled ipv6, so that kernel complaints. Did you set any environments for etcd?

[2016-06-21 18:44] gyuho commented on #5691
@wynnfynn As Xiang said, the etcd log indicates that it still tries to listen to ipv6 address. Can you check `env | grep "ETCD"` to see you have any environmental variables?

Also I tried the same version of etcd and it works fine with ipv6

[code]

I am also running ubuntu 14.04. Kernel version is 3.19.0-51.

[2016-06-21 19:49] #5580 closed

[2016-06-21 19:51] xiang90 commented on #4620
@ajityagaty Do you want to take a look at this one?

[2016-06-21 20:17] xiang90 commented on #5718
What do we expect to put inside each jwt token? Just username? Or also the role details attached to the user?

[2016-06-21 20:21] xiang90 opened #5737 "detect bad/missing v3 db file"
Now if the db file is missing, etcd3 will still come up. Or even if we use a db file with bad content, etcd will come up. We should detect the missing/incorrect db file. We probably need to save the state of the db file into wal somehow as what we did for snapshot file. or we should link the snapshot with db file.

[2016-06-21 20:28] xiang90 commented on #5719
Actually I do not think we need to have pre revision permission.

I was talking about adding revision control for username, password combination.

Basically, we need to invalid tokens if the password of the user changes.

[2016-06-21 20:38] xiang90 commented on #5717
etcd will put these watchers into a slow watch list. etcd will periodically check the list and tries to deliver events in a batch for better throughput.

No. etcd will always try its best until the requested key revision is compacted.

[2016-06-21 21:37] xiang90 commented on #1912
@heyitsanthony I plan to work on this one.

[2016-06-21 22:59] dannysauer opened #5741 "etcdctl watch-exec off-by-one error"
I'm using the etcd release 2.3.7 version on RHEL7 on all systems in the below situation.  The etcdctl client connects through an etcd proxy on localhost with three etcd member servers.

The `watch-exec` command seems to skip the next event when a start index is specified.

Note here that event `1339527` doesn't get picked up by the watch starting at the event just prior; the first event which shou

[2016-06-22 00:22] gyuho commented on #5649
@parsa-ionos Can you provide logs in other nodes?

[2016-06-22 00:47] ajityagaty commented on #4620
@xiang90 Sure ! I'll give it a try. Thanks !

[2016-06-22 01:54] heyitsanthony commented on #5593
@purpleidea I tried to reproduce this on a fresh fedora24 VM and the e2e pty tests work fine. Fedora seems to have an issue with the test certs, though. Closing.

[2016-06-22 01:54] #5593 closed

[2016-06-22 02:00] heyitsanthony opened #5744 "test: curl tls tests fail on fedora, others"
The test certs (generated by cfssl) use ECDSA which (intentionally) isn't supported on some systems.

[2016-06-22 02:38] mitake commented on #5718
I think just username would be fine for now. It may be affected by proxy design and including role details would be useful for the case (but it will bring consistency problems).

[2016-06-22 02:40] xiang90 commented on #5718
how are we going to revoke a jwt token? will it be timeout based?

[2016-06-22 04:57] mitake commented on #5718
I think there are two ways;
1. revision based. It requires that AuthStore is revision aware
2. timeout based. Of course etcd nodes must not use their local clock for this purpose. So we need a new  clock driven by `raftpb.MsgHeartbeat`.

The second one would be simpler. How do you think?

[2016-06-22 05:28] maverick-racheal opened #5746 "ETCD cluster unavailble intermittently."
I am trying to bring up a Kuberenetes Master with ETCD in clustered mode. The etcd cluster is brought up using discovery url and has 3 members. Once the cluster is setup and the leader is elected, we are seeing intermittent connection loss with one of the members.

Logs
{"log":"2016-06-21 08:38:22.828340 I | raft: cc62d2c6a48fa5f6 became follower at term 5\n","stream":"stderr","time":"2016-06-21T0

[2016-06-22 05:57] xiang90 commented on #5746
There are quite a few transportation related improvements since 2.2.1. But from the log, I still suspect that it was caused by connectivity issues between your machines.

Please try with the etcd 2.3.7 to see if you can reproduce it. Reopen if you can, then we will be happy to look into the issue. Thanks!

[2016-06-22 05:57] #5746 closed

[2016-06-22 05:58] maverick-racheal commented on #5746
One more point to note is that just after the member is added to the cluster, we try to update the flannel configuration.

++ curl -s -w '%{http_code}' -m 10 -L http://127.0.0.1:4001/v2/keys/coreos.com/network/subnets/ -o /dev/null
+ status=000
+ '[' 000 -eq 200 ']'

+ docker -H unix:///var/run/docker-bootstrap.sock run --net=host etcd-amd64:2.2.1 etcdctl set /coreos.com/network/config '{ "Network

[2016-06-22 06:00] maverick-racheal commented on #5746
Sure. Shall try with 2.3.7.  Is etcd 2.3.7 a stable release?

[2016-06-22 06:05] gyuho commented on #5746
@maverick-racheal Yes, `2.3.7` is the latest stable release.

[2016-06-22 06:17] parsa-ionos commented on #5649
@xiang90  Below are logs for all 3 nodes
[etcd2-1.txt](https://github.com/coreos/etcd/files/327070/etcd2-1.txt)
[etcd2-2.txt](https://github.com/coreos/etcd/files/327073/etcd2-2.txt)
[etcd2-3.txt](https://github.com/coreos/etcd/files/327072/etcd2-3.txt)

[2016-06-22 08:18] purpleidea commented on #5593
On Tue, Jun 21, 2016 at 9:54 PM, Anthony Romano <notifications@github.com>
wrote:

I have only tested on F23. Glad to hear it seems to be working in F24 :)

[2016-06-22 08:42] thedrow commented on #1912
I remember now what I had in mind. When you want to load balance between different servers some algorithms like Client Side Random Load Balancing require the implementor to know the number of available nodes ahead of time.
An estimation can also work as long as the estimation is either equal or below to the real number of nodes.
Also, as mentioned above, we can use the number to evenly divide the

[2016-06-22 17:04] #1912 closed

[2016-06-22 17:04] xiang90 commented on #1912
@thedrow Now, we provide count with exact number of keys in the range.

[2016-06-22 17:23] xiang90 commented on #5466
I do not think anyone has interests in making this working for v2, so I am closing it. As I mentioned, this feature is already available for v3.

[2016-06-22 17:23] #5466 closed

[2016-06-22 17:25] gyuho commented on #5649
@parsa-ionos Thanks for detailed information. Unfortunately, this seems like an issue in your certs.

I tried exactly the same setting with provided certs and still see the same issue (I even tried etcd master branch). If you want to verify, here's how I reproduced locally:

[code]

We have tls-setup example here https://github.com/coreos/etcd/tree/master/hack/tls-setup. When I use the certs from

[2016-06-22 17:46] heyitsanthony opened #5750 "test: test proxy/gateway using existing integration tests"
Instead of writing a bunch of proxy tests to check behavior that's already being tested, the integration package could be configured (possibly via build tag) to create proxies with every member and have the client connections go through the proxy.

[2016-06-23 02:13] gyuho opened #5754 "functional-tester: integrate with fail points"
Now we have https://github.com/coreos/gofail.

We should inject fail points to etcd, and trigger in functional tester as well.

/cc @heyitsanthony

[2016-06-23 06:09] mqliang commented on #5186
@gyuho Do we have a plan to implement compression at storage layer or at gRPC layer? I think compression may be helpful for LIST request. Since LIST request may return a large number of datas, and keys under a dir are often similar, so we may get a good compression ratio.

[2016-06-23 06:32] gyuho commented on #5186
@mqliang Yeah I experimented transportation layer but not much worth doing that. I am experimenting in storage layer, and I will keep updates here. I will take a look at that part you suggested. Thanks!

[2016-06-23 09:47] kitech opened #5757 "clientv2 Get recursive failed"
code:

[code]

output:

`2016/06/23 08:38:06 &{get {Key: /foo, CreatedIndex: 23970, ModifiedIndex: 23970, TTL: 0} <nil> 23972} <nil>`

then you can see, there is no "nodes" element.

[2016-06-23 13:32] xiang90 commented on #5757
Can you please try

[code]

[2016-06-23 13:53] kitech commented on #5757
the same output:
[code]

[2016-06-23 14:01] xiang90 commented on #5757
@kitech OK. I think everything is fine. You just did not try to print out the nodes at all.

[code]

[2016-06-23 14:01] #5757 closed

[2016-06-23 14:13] kitech commented on #5757
why the print can not show "nodes" element?

[2016-06-23 14:55] xiang90 commented on #5757
@kitech Since the print will not try to recursively print out everything. I think etcd works fine. If it does not work, then it is probably a bug in your code. If you want me to help you debug your problem, provide the full go code that I can run and reproduce when I have an etcdserver setup at localhost.

[2016-06-23 14:57] #5741 closed

[2016-06-23 15:02] kitech commented on #5757
thanks

[code]

[2016-06-23 15:09] xiang90 commented on #5757
@kitech
[code]

That is because of your code is wrong. You need to set /foox not /foo. Also you will get a not found, not the output you showed.

After I fix your code, everything works fine.
[code]

[2016-06-23 15:10] kanaskaa opened #5759 "etcd2 fails to start of two nodes in 3 node cluster"
I have just started setting up CoreOS 3 node cluster on virtual Box.
followed instructions from https://coreos.com/os/docs/latest/booting-on-virtualbox.html

I have created 3 machines on virtual box corevm-6 , corevm-7 ,corevm-8
All three machines uses below cloud-config

#cloud-config

coreos:
  etcd2:
    name: corevm-6
    advertise-client-urls: http://127.0.0.1:2379,http://127.0.0.1:4001
    i

[2016-06-24 02:33] kitech commented on #5757
yes, the typo is the lastest error.
but real failed reason is i am not use for ... print that.

[2016-06-24 02:37] xiang90 commented on #5757
I do not understand since you said "and i try the for ..., nothing output.".

But anyway, glad that you figured it out!

[2016-06-24 18:23] steveeJ commented on #5054
to be officially supported on CoreOS, which means that every system application needs to catch up. Besides the missing CI integration, what is the official state of the build scripts and code WRT arm64 support?

[2016-06-24 18:31] heyitsanthony commented on #5054
@steveeJ arm64 builds (but not tests) already go through CI, but there hasn't been much testing. @mischief did some initial testing with CoreOS+arm64 using #5088

[2016-06-24 20:13] parsa-ionos commented on #5649
Hi @gyuho  ,
I enabled debugging in etcd2 configuration parameters.
Now,  I am getting this error also, with all same previous logs, i gave

 x509: cannot validate certificate for 172.17.8.103 because it doesn't contain any IP SANs)

I guess you are correct, problem is due to certificates, I am using certificates generated by easyrsa V:2.2.1 tool.

I have already automation setup for easyrsa, Is t

[2016-06-24 20:18] gyuho commented on #5649
Yeah if you do self-cert, you need to know IP for cfssl.

Sorry I am not familiar with `easyrsa`... Can you ask `easyrsa` team?

Closing this since it's not etcd issue.

It would be awesome if you can contribute to our tls-setup example with `easyrsa` when you figure that out.

Thanks.

[2016-06-24 20:18] #5649 closed

[2016-06-25 04:25] xiang90 commented on #5759
@kanaskaa

your etcd servers should not advertise localhost like this

[code]

Each etcd server should advertise different urls.

[2016-06-26 15:35] kanaskaa commented on #5759
So what should be the advertise url? What ip address?

[2016-06-26 17:10] xiang90 commented on #5759
I cannot figure this out for you. You need to know the IP addresses of the machines. It depends on how you config your vm.

[2016-06-27 05:37] llamahunter commented on #5518
just hit this problem as well. Lots of broken snap files, no good ones.  etcd2 refused to come up.  Tried to do DR using 'etcdctl backup' to a new single node cluster, but 'that' node panics on startup with an index out of range error 100% of the time.  Think we may be in an unrecoverable state. It's a non prod environment, so we may just plane over it tomorrow and start again.

[2016-06-27 05:42] xiang90 commented on #5518
@llamahunter https://github.com/coreos/etcd/pull/5540 fixed this issue.

[2016-06-27 05:44] krish7919 opened #5778 "etcd with tls auto-healing workflow"
Hi,
I am trying to design a self-healing etcd cluster in which in case monitoring finds that a node is dead or it is too over-loaded, or maintenance, or etc., a service kicks in which spawns new etcd member, adds it to the cluster and everything is normal again. This workflow seems to work fine so far.

Now, I want to take this to production & I am trying to use etcd with tls.
I am thinking of spi

[2016-06-27 05:46] xiang90 commented on #5778
Auto scaling is a bad idea. The more etcd members you have, the worse write and l-read throughput you would expect. Auto healing might make sense, you could use dns instead of ip address.

[2016-06-27 05:47] krish7919 commented on #5759
@kanaskaa You need to use the private_ipv4/public_ipv4 if working with vagrant/ec2/gce/digitalocean.
If you are doing this as a local standalone cluster, I am afraid you have to put in hardcoded IPs. I assign static IPs to the nodes where etcd is going to run apriori to configure this parameter correctly.

[2016-06-27 05:48] krish7919 commented on #5778
@xiang90 alright, I can work with auto-healing! :)
Can you please elaborate on 'use of dns instead of IP address'?

[2016-06-27 05:57] xiang90 commented on #5778
@krish7919 I think you can use domain name in alternative subject name. it is easy to know the domain name beforehand. i am not a security expert.

/cc @gtank might have better answer for you.

[2016-06-27 06:10] xiang90 commented on #5759
@krish7919 Correct. Basically, users have to figure out the reachable ip address themselves.

@kanaskaa If you feel this is a coreos related doc issue, please file a bug here: https://github.com/coreos/docs/issues

[2016-06-27 06:10] #5759 closed

[2016-06-27 15:36] pineking commented on #3082
@xiaoke94539 How to slove the problem as you describe?

[2016-06-27 16:26] gtank commented on #5778
Yes, this is the main problem we have with TLS support (it also affects Kubernetes). It can't be helped on cloud providers, but there are a couple of workarounds we've developed:

1. Use DNS SANs (instead of IP) that you can dynamically assign to particular hosts. This works, but means you'll pre-generate a bunch of key/cert pairs and store them around to distribute to new nodes. That's pretty com

[2016-06-27 16:28] xiang90 commented on #5778
@krish7919 I am closing this issue, since I think @gtank provides two approaches. The 1st one is what i suggested, but in more details.

[2016-06-27 16:28] #5778 closed

[2016-06-27 16:46] f0 opened #5779 "no logs in the journal when running with rkt"
Hi,

if i run etcd with rkt (the official provided aci) and systemd, i do not see the etcd logs.
Is there a way to get the logs into the journal?

regards f0

[2016-06-27 16:48] gyuho commented on #5779
Seems related to https://github.com/coreos/etcd/issues/5449.

[2016-06-27 16:50] f0 commented on #5779
@gyuho  maybe, but i see no logs on stdout and no logs in the journal... etcd version is 2.3.6

[2016-06-27 16:51] gyuho commented on #5779
You should be able to get logs from journald... Can you give us a way to reproduce? Like how you run etcd with rkt? I will take a look.

[2016-06-27 16:57] f0 commented on #5779
systemd file
https://gist.github.com/f0/7aa9b9ac70ef4331b1fdc9ac3ee4953e

journal output
https://gist.github.com/f0/0d7410e72cc95953bf3c612e1bb289a4

rkt version
'''
rkt Version: 1.7.0
appc Version: 0.8.4
Go Version: go1.6.1
Go OS/Arch: linux/amd64
Features: -TPM
'''

[2016-06-27 17:03] f0 commented on #5779
also testet with the latest rkt version (1.9.1) no change

[2016-06-27 19:04] xiang90 commented on #5737
closed by https://github.com/coreos/etcd/pull/5780

[2016-06-27 19:04] #5737 closed

[2016-06-27 19:27] glevand commented on #5054
@lupan2005 has been working on our local Jenkins setup.  Currently, some of the fmt_tests and dep_tests fail on arm64, but all the unit_tests pass.  He plans to go through the tests and get them working.  It seems to be more of a tools problem than the etcd code.

[2016-06-27 19:33] gyuho opened #5783 "ExampleAuth fails with slow fsyncs"
[code]

[2016-06-27 19:34] gyuho commented on #5783
Should we increase this https://github.com/coreos/etcd/blob/master/clientv3/example_test.go#L27 for auth?

[2016-06-27 19:39] xiang90 commented on #5646
I am closing this due to low activity. Reopen if you can provide more information.

[2016-06-27 19:39] #5646 closed

[2016-06-27 19:42] gyuho commented on #5691
@wynnfynn Ping?

[2016-06-27 21:39] steveeJ commented on #5054
@glevand sounds like a tooling problem to me too since the most important part passes, which is good to hear. Are there also any integration/functional tests in place to test the binary execution?

[2016-06-27 23:45] gyuho commented on #5779
@f0 Think with newer rkt, I see the same problem.

[code]
[code]
[code]

@jonboulle

Could anybody in `rkt` team help on this? Maybe I am using it wrong.

Thanks!

[2016-06-28 02:17] willstudy commented on #2676
@Natata  You are right, I have fixed it. Thanks

[2016-06-28 05:27] gyuho opened #5789 "TestV3WatchMultipleEventsTxnSynced fails"
https://semaphoreci.com/coreos/etcd/branches/master/builds/530

[code]

[2016-06-28 08:11] gyuho opened #5791 "functional-tester: inconsistent hash"
Now bunch of hash differences...

[code]

[code]

Data https://console.cloud.google.com/storage/browser/etcd-functional-tester/20160628120000/

Need to investigate more tomorrow.

[2016-06-28 09:05] f0 opened #5792 "etcdserver: could not unmarshal cluster response: invalid character 'p' after top-level value"
Hi, the cluster is on 2.3.6   and i try to setup a proxy, this is the output

[code]

[2016-06-28 09:07] f0 commented on #5792
sorry, wrong port number .........

[2016-06-28 09:07] #5792 closed

[2016-06-28 16:17] f0 commented on #5779
any news here?

[2016-06-28 16:54] glevand commented on #5054
@steveeJ well, we have arm64 clusters here running fleet and flannel.  That's what we've been using as a test...  It would be nice if we did something more to stress it.

[2016-06-28 18:43] xiaoke94539 commented on #3082
@pineking No solution at this time.

[2016-06-28 18:48] xiang90 commented on #3082
@xiaoke94539

The etcd data dir got lost after reboot. That is why your etcd server failed. You need to preserve data dir.

[2016-06-28 19:25] #5791 closed

[2016-06-28 19:49] xiang90 commented on #2102
this is finally fixed by https://github.com/coreos/etcd/pull/5553. The application part is tracked by https://github.com/coreos/etcd/issues/5193

[2016-06-28 19:49] #2102 closed

[2016-06-28 21:07] #1229 closed

[2016-06-28 21:29] xiang90 opened #5797 "TestSnapshot fails"
[code]

[2016-06-28 21:36] ahammond commented on #2763
This looks like it went over to the redhat bugzilla and died.

[2016-06-28 22:42] xiang90 opened #5800 "clientv3: race in watch"
[code]

[2016-06-28 22:45] gyuho commented on #5691
Closing this. Please fill free to ping us if you still have issues.

[2016-06-28 22:45] #5691 closed

[2016-06-29 00:05] #5800 closed

[2016-06-29 01:31] yifan-gu commented on #5779
what's the systemd version?

[2016-06-29 02:06] gyuho opened #5804 "functional-tester: stresser exiting with ErrTimeout"
functional-tester is failing a bunch because of this.

[code]

[2016-06-29 02:51] #5804 closed

[2016-06-29 06:04] f0 commented on #5779
[code]

[2016-06-29 08:26] lucab commented on #5779
I think this may be a request for #5449. I just tried and can confirm that etcd is directly shipping its logs to journald. @f0: you should be able to see them with `sudo journalctl -M rkt-$UUID` as shown [in rkt doc](https://github.com/coreos/rkt/blob/master/Documentation/commands.md#accessing-logs-via-journalctl). You can also inspect logs merged from multiple containers with journactl `-m` switc

[2016-06-29 10:59] f0 commented on #5779
@lucab   hm i assumed i can see the logs for my systemd unit..... why does etcd log directly to the journal and not to stdout.
Now i need to find the uuid, and thats not easy with multiple etcd containers running..... (hopfully rkt supports names in the near future)

[2016-06-29 13:26] lucab commented on #5779
How do you run those multiple containers? rkt already supports custom annotation (that's what kubernetes uses to distinguish pods) but in this case you would need something that systemd-* understand too.

I think the cleanest way is to use a service template in conjunction with `--uuid-file-save=`. That way you directly know which service is associated to a specific uuid.

[2016-06-29 13:36] nekto0n opened #5810 "Values in rafthttp encode/decode"
Hi!
Found that `encode`/`decode` methods in `rafthttp` module accept/return `raftpb.Message` by value instead of by pointer:

[code]
Seems like there is no need to pass object copy for encoding. Simple test like this:

[code]
shows that passing pointer does show performance improvements if we pass pointer to encode:

[code]

(I had to hack a little to make test work with pointers because changing

[2016-06-29 14:04] xiang90 commented on #5810
This is not intended. Probably you want to try larger values? In your test, there is no entries so the overhead is HUGE. But we can take this change anyway even if the performance gain is little.

[2016-06-29 14:13] nekto0n commented on #5810
Yep, you're right. Using 4kb byte slice as `.Data` reveals that gain is not that big

[code]
I'll try to concoct a patch in a few days, thanks!

P.S. Playing with pointers in `.decode()` only makes things worse. Seems like compiler does a decent job optimizing extra copies.

[2016-06-29 15:23] f0 commented on #5779
@lucab  i run them with system units
I take a look at --uuid-file-save=

[2016-06-29 15:33] f0 commented on #5779
@lucab   hm i do not see how this helps?

[2016-06-29 17:01] #5810 closed

[2016-06-29 17:56] gyuho commented on #3259
@cloudtrends Can you try our master branch?

[2016-06-29 20:51] lucab commented on #5779
@f0 sorry if I was unclear. [This](https://gist.github.com/lucab/a7c18e0795aac654e89c380294950d85) is an updated version of your etcd service unit. Once installed you can use the following to access journals from different services/pods:

[code]

[2016-06-29 21:13] philips commented on #5430
Other potential users of an improved embedded etcd users:

- bootkube https://github.com/coreos/bootkube/issues/31 cc @aaronlevy
- localkube https://github.com/redspread/localkube @ethernetdan
- hyperkube https://github.com/kubernetes/features/issues/11 @jbeda

[2016-06-29 21:27] heyitsanthony opened #5816 "support encrypting values in data store"
There have been requests to optionally encrypt values before writing them down to disk. Presumably most of this would be done at the API layer since the WAL entries can't be plaintext.

[2016-06-30 02:34] petercolberg opened #5820 "Please switch to versioned gopkg.in/cheggaaa/pb.v1"
The author of cheggaaa/pb recently begun tagging releases following semantic versioning (cheggaaa/pb#73). Could you please adapt the import path accordingly, by renaming/replacing

github.com/cheggaaa/pb → gopkg.in/cheggaaa/pb.v1

[2016-06-30 02:38] gyuho commented on #5820
@petercolberg Is there any specific reason to change the import path? `gopkg.in` was once down, and breaking our tests before. We already vendor with the version https://github.com/coreos/etcd/blob/master/cmd/Godeps/Godeps.json#L272-L273.

[2016-06-30 02:40] gyuho commented on #5820
Sorry, we already use `gopkg.in/cheggaaa/pb.v1`

[2016-06-30 02:52] petercolberg commented on #5820
I am sorry. I filed this exact issue three months ago (#4832).

[2016-06-30 02:52] #5820 closed

[2016-06-30 03:00] gyuho commented on #5820
np.

[2016-06-30 05:31] f0 commented on #5779
@lucab  thank you for the further explanation. Yor first explanation was clear, i understand the workaround.

But i do not understand the reason for this...

If you run etcd (without any container) on the commandline, you see logs on stdout
if you run etcd inside a rkt container in interactiv mode (--exec /bin/bash) you see logs on stdout
if you run etcd in a rkt container in non interactive mode

[2016-06-30 10:50] jonboulle commented on #5779
@f0 it's basically a capnslog problem - https://github.com/coreos/etcd/issues/5449#issuecomment-221884482

[2016-06-30 16:06] heyitsanthony opened #5824 "TestCtlV2SetTLS fails with "unsupported protocol scheme""
via semaphore:
[code]

[2016-06-30 16:59] xiang90 commented on #5449
@jonboulle @alban I think it is fine for us to add a flag to force writing log to stdout by default. When set it to false, we will still let the logging pkg to decide where to log. Adding a flag to support logging to multiple sinks seems to be over-kill.

[2016-06-30 17:06] xiang90 commented on #5779
This turns out a "dup" with https://github.com/coreos/etcd/issues/5449. We will resolve this in https://github.com/coreos/etcd/issues/5449.

[2016-06-30 17:06] #5779 closed

[2016-06-30 23:32] marclennox commented on #5664
I have a node that won't start because of this error, I believe because the other members have a bad commit and therefore the node is failing with this error on recovery.

Any suggestions on how to recover this node and/or the cluster?

[2016-06-30 23:44] xiang90 commented on #5664
@marclennox Can you please provide the full startup log?

[2016-07-01 00:09] marclennox commented on #5664
[code]

[2016-07-01 01:45] heyitsanthony commented on #5664
@marclennox this looks like a different problem from the one in the issue (although it panics on the same path). I'll see if I can reproduce this behavior.

In the meantime, I think the easiest fix (but not 100% sure this will work) is to delete the broken node's etcd data directory (back up the directory somewhere first just in case) so that the node can rebuild its raft state on joining the clus

[2016-07-01 02:12] marclennox commented on #5664
Thanks @heyitsanthony.  I've already tried deleting the data directory, same error when it tries to rebuild its raft state.

[2016-07-01 02:44] xiang90 commented on #5664
@marclennox For the log, it looks like raft node lost its previous state somehow (snapshot file is broken/missing?)

So your cluster is still running? The easiest to recovery is treat the node as a failed one. Then you can remove the bad member using etcd member API, and add it back.

Check: https://github.com/coreos/etcd/blob/release-2.3/Documentation/runtime-configuration.md#replace-a-failed-mac

[2016-07-01 03:05] siddontang opened #5831 "docker guide in v3 release is unreachable."
In [v3 release](https://github.com/coreos/etcd/releases/tag/v3.0.0), the docker guild
https://github.com/coreos/etcd/blob/master/Documentation/docker_guide.md is unreachable.

[2016-07-01 03:08] xiang90 commented on #5831
@gyuho can you fix this please?

[2016-07-01 03:08] gyuho commented on #5831
Sure fixing now.

[2016-07-01 03:10] gyuho commented on #5831
Just fixed. The correct link was https://github.com/coreos/etcd/blob/master/Documentation/op-guide/container.md#docker. (https://github.com/coreos/etcd/blob/release-3.0/Documentation/op-guide/container.md#docker for release 3.0)

Thanks a lot @siddontang

[2016-07-01 03:10] #5831 closed

[2016-07-01 03:18] marclennox commented on #5664
Thanks @xiang90

Now I'm getting the following error

[code]

[2016-07-01 03:19] xiang90 commented on #5664
@marclennox What is the version of your etcdserver? Have you cleaned up the data-dir entirely before rejoining?

[2016-07-01 03:21] marclennox commented on #5664
I'm running it using the published docker image `quay.io/coreos/etcd:latest`, and yes definitely cleaned out data directory.

[2016-07-01 03:22] marclennox commented on #5664
Oh I see, so this is now version 3.0.0.

[2016-07-01 03:22] marclennox commented on #5664
I'll revert to 2.3.7 and see how that goes.

[2016-07-01 03:26] xiang90 commented on #5664
@marclennox OK. Thanks!

[2016-07-01 03:28] yorkart opened #5832 "atomic Compare-and-Swap PrevNoExist, the operation failed,but the key was stored"
etcd:  v2.3.6

there is a demo [https://github.com/yorkart/etcd-demo](https://github.com/yorkart/etcd-demo)
when loop invoke atomic set and delete
after some times get error :

- set error (but  value of the key has stored in it)
` set key error:  105: Key already exists (/demo/a) [1533028]`

- delete (indeed key has been deleted )
`delete key error:  100: Key not found (/demo/a) [1530634]`

[2016-07-01 03:28] marclennox commented on #5664
Yep, that fixed it.  Thanks @xiang90 and @heyitsanthony for helping me work through the problem.  :)  Sorry for the noise.

[2016-07-01 03:34] xiang90 commented on #5832
Can you format your code? Also it would be helpful if you can provide the full code block.

[2016-07-01 03:43] xiang90 opened #5833 "better failure handling during etcd2 -> etcd3 upgrades"
When etcd2 sends snapshot to etcd3, etcd3 would expect a db snapshot which will not exist.

Now etcd3 panics. This is usually not a problem when user ensures everything is OK before upgrading. But it would be a nice thing to have to make the upgrade process safer.

[2016-07-01 04:53] Randgalt commented on #5067
It would be interesting to write it in a way so that Apache Curator (http://curator.apache.org) could possibly be ported.

[2016-07-01 04:57] xiang90 commented on #5067
/cc @https://github.com/sijie

[2016-07-01 05:18] agalitsyn opened #5837 "hack/tls-setup tools is broken"
### Env
[code]

### Steps to reproduce

[code]

### Actual result
[code]

### Expected results

Tool works as it was on revision 374b14e

[2016-07-01 05:43] xiang90 commented on #5837
@agalitsyn What are the client commands that you sent to etcd server?

[2016-07-01 05:44] gyuho commented on #5837
@xiang90 I can reproduce in linux machine. Just `goreman start` will return these errors...

[2016-07-01 05:47] xiang90 commented on #5837
@gyuho OK. We should fix it then.

[2016-07-01 05:49] gyuho commented on #5837
Sure, I will investigate more to fix it.

[2016-07-01 05:49] agalitsyn commented on #5837
@xiang90 right, I did just `goreman start` and nothing more.

[2016-07-01 05:55] agalitsyn commented on #5837
Can it be related with that etcd v3 uses gRPC, which use HTTP2, which means go1.6? I build etcd on go1.5.4. At least you might want mention this in doc.

[2016-07-01 05:57] gyuho commented on #5837
I built etcd master branch with Go tip, and still see this. We have TLS e2e tests, so it looks like some TLS configuration issue. We will investigate more.

Thanks for reporting!

[2016-07-01 05:57] xiang90 commented on #5837
@agalitsyn I would suspect it is an internal issue (seem like the grpc gateway was complaining). We will take a look tomorrow morning. it is late night here at US.

[2016-07-01 14:23] gradywang opened #5840 "Bad performance after enabling etcd authentication."
I tested that etcd has a bad performance after enabling authentication, my test steps as below:

### Install etcd(v2.3.6) cluster with three nodes by following steps:

[code]

### Test steps:
Monitor the cpu usage on the etcd leader node (ETCD_NODE1) and run the test script to insert 10k key-value pairs into etcd:
[code]

Then enable the etcd authentication and test again:
[code]
### Test results:

[2016-07-01 14:30] gradywang commented on #5840
In addition, I found that before enabling etcd auth, I can start 10k etcd clients to watch a key in etcd, but after enabling etcd auth,  it does not, when the number of watched etcd clients reach to 300, then etcd leader cpu usage will reach to 99.6%,  and all etcd client operation does not work, and I found some errors in etcd log:
[code]

[2016-07-01 16:34] heyitsanthony opened #5842 "clientv3: won't connect if any endpoint is down"
How to reproduce: start one etcd server on `2379`, then `ETCDCTL_API=3 etcdctl put abc def`. It will fail to connect to `127.0.0.1:{2,3}2379` and never send the command.

[2016-07-01 17:26] xiang90 commented on #5840
this is a long time issue. and this issue is a dup with https://github.com/coreos/etcd/issues/3223. You can check that issue for more information. We will probably get this "fixed" by 3.1.

[2016-07-01 17:26] #5840 closed

[2016-07-01 17:31] lburgazzoli commented on #5067
I'm also interested to develop a java binding for v3, is there any chance to have client related protobuf files in a separate repo so we can add them as git sub-module?

[2016-07-01 17:51] sijie commented on #5067
@xiang90 yup I am interested in helping.

[2016-07-01 18:03] gyuho commented on #5837
@agalitsyn I tried go1.6.2 and go1.7beta1 and works well (go tip as of yesterday doesn't work though...).

Can you try again with go1.6.2 or go1.7beta1?

Thanks!

[2016-07-01 18:04] xiang90 commented on #5837
http2 probably does not work well on go 1.5. so closing.

[2016-07-01 18:04] #5837 closed

[2016-07-01 19:59] pholbrook commented on #5833
Can you say more about what symptoms you see when you say "Etcd3 panics?"

I was seeing a problem trying to upgrade test etcd V2 clusters today where I was getting an error message in the logs:

etcdmain: database file ('/var/etcd/member/snap/db) of the backend is missing.

I was wondering if this was related.

[2016-07-01 20:01] xiang90 commented on #5833
@pholbrook This one is only for failure handling. The issue you mentioned is already fixed here: https://github.com/coreos/etcd/commit/ff55e5a1886af03586e4a18003c0b461edb92db3.

We will do a fix release today.

[2016-07-01 21:08] xiang90 opened #5847 "test: TestPeriodicPause"
[code]

[2016-07-01 22:16] gradywang commented on #5840
@xiang90 Thanks for your reply.

[2016-07-01 23:56] heyitsanthony commented on #5832
@yorkart I tried to reproduce this but no luck. What is `opts`? Are you sure that `Delete` isn't failing so that `Set` sometimes operates on a key wasn't deleted?

[2016-07-01 23:58] #5754 closed

[2016-07-02 04:44] agalitsyn commented on #5837
@xiang90 works with go 1.6.2, here actions log for you

[code]
result - no errors

[2016-07-02 05:13] chancez commented on #5627
I believe you can handle this with prometheus. For counts you use Increase() https://prometheus.io/docs/querying/functions/#increase(). If your calculating an average, rate() does the same too.

However, be sure to read the note if your using rate():

[2016-07-02 06:50] heyitsanthony opened #5851 "auth: TestRoleAdd fails with timeout"
[code]

/cc @mitake

[2016-07-02 08:06] mitake commented on #5851
@heyitsanthony thanks for letting me know and sorry for that. I'll work on it.

[2016-07-02 08:20] MartyMacGyver opened #5852 "etcd 3.0.1 startup failure on Windows 7 64-bit"
The following error is seen when trying to start etcd 3.0.1 on Windows 7 64-bit if the `default.etcd` directory tree is not already present:

[code]

This will repeatedly fail until you manually rename `default.etcd/member/wal.tmp` to `default.etcd/member/wal`. Then etcd will start normally.

Notably, this problem is **not** seen in etcd 2.3.7 under the same initial conditions.

[2016-07-02 08:35] MartyMacGyver commented on #5852
I will add that I'm wondering if this is related to this old Go bug (at least as it related to os.rename() behavior on Windows):

https://github.com/golang/go/issues/8914

If there is an open file handle in `.../wal.tmp/`, that would block an OS-level rename from working.

[2016-07-02 08:39] xiang90 commented on #5852
@MartyMacGyver Maybe you can give a try to fix?

[2016-07-02 09:09] MartyMacGyver commented on #5852
I'm limited in what I can contribute to a project like this employer-wise.

But to discuss it...

First, while the other bug I mentioned above may be useful to refer to, this isn't quite the same problem.

Second, if there was a test that executes the "new install" case without a default.etcd folder, that would reproduce and flag this error.

In wal.go:105 (Create()), the WAL file gets locked (fro

[2016-07-02 09:35] MartyMacGyver commented on #5852
One additional note: this use of os.Rename() as part of the atomic WAL folder init is part of a relatively recent change via commit e6add51, fixing bug #5270.

[2016-07-02 18:59] heyitsanthony commented on #5852
@MartyMacGyver there are multiple files in the directory; if etcd is killed in the middle of init without atomic rename of the directory then it could have a partially initialized wal directory (which came up in stress testing). I believe the fix is to hold off on locking until after the rename. I'll see if I can get it working again.

[2016-07-02 21:37] gyuho commented on #5627
@chancez Thanks for looking it up.

I once tried `sum` but didn't work. `increase` seems like what we want.

`increase(etcd_funcational_tester_round_total[9999h])`

![screenshot from 2016-07-02 14-36-15](https://cloud.githubusercontent.com/assets/6799218/16542562/65b76df4-4062-11e6-8fc4-9ff55a38b961.png)

I will match those numbers next week if it's accurate.

[2016-07-02 23:33] tejohnso opened #5856 "Server crash - panic: not implemented"
Empty object on a watch command brings down the server.

Running etcd Version: 3.0.1 from fresh download:

` curl -L http://localhost:2379/v3alpha/watch -d "{}"`

[2016-07-02 23:35] xiang90 commented on #5856
will fix shortly

[2016-07-03 04:15] mcandre commented on #2763
I know Docker containers are the way to go these days for enterprise-level etcd installation, but it's still really helpful for medium operations and for newbies, to provide more typical OS packages for traditional tutorials.

[2016-07-03 06:15] binwiederhier opened #5857 "Cannot restart after shutdown / Ctrl+C (etcdmain: database file does not match with snapshot)"
I have a cluster of 3 and I'm testing failover scenarios right now. I simulate power outages (shutting of a VM) and service failures (Ctrl+C on etcd). As of now, shutting off an instance has terrible consequences, as it cannot recover by simply rebooting a machine / restarting the service:

[code]

The only way to recover from this right now is to delete the data+wal dir, remove the member, re-add

[2016-07-03 06:21] binwiederhier commented on #5857
Related: After removing the data+wal dir, restarting (without removing the member first) prints a stack trace:

[code]

[2016-07-03 06:32] binwiederhier commented on #5857
Apparently simply deleting the database file helped too: `rm data/member/snap/db`.
However, the problem still persists. If it crashes, systemd cannot restart it.

[2016-07-03 08:53] sctlee opened #5858 "Can't specify flags to etcd with docker"
Is it a better choice using ENTRYPOINT instead of CMD in [Dockerfile-release](https://github.com/coreos/etcd/blob/master/Dockerfile-release)?
#5771

[2016-07-03 14:25] onlyjob opened #5860 "cmux: needless use of fork?"
Etcd v3 gained dependency on [github.com/cockroachdb/cmux](https://github.com/cockroachdb/cmux) which is a fork of actively maintained [github.com/soheilhy/cmux](https://github.com/soheilhy/cmux). Any particular reason to use fork instead of original project?
Please consider using _soheilhy/cmux_ -- at least one can open a bug with the latter...

[2016-07-03 15:37] xiang90 commented on #5857
@binwiederhier Removing the data-dir should not work. Removing data-dir is equal to member lost.

Shutting down machine should be fine. Can you provide more details about how to reproduce the restart failure?

[2016-07-03 15:45] xiang90 commented on #5860
This is not a unnecessary fork. We share part of the code logic with cockroachdb for handling connection multiplexing. They (cockroachdb) are maintaining the cmux lib actively. I would just use their fork for now unless there is an issue for us.

[2016-07-03 15:45] #5860 closed

[2016-07-03 15:53] onlyjob commented on #5860
Needless forking is harmful. Both projects are active and the difference between them is not too great. They should probably work together in one repository...
Thank for your comment.

[2016-07-03 15:54] xiang90 commented on #5860
@onlyjob Probably you should open an issue in cockroach/cmux. I would be happy to switch if they merge into one.

[2016-07-03 16:02] onlyjob commented on #5860
Thanks for suggestion. :) See https://github.com/soheilhy/cmux/issues/26

[2016-07-03 17:06] binwiederhier commented on #5857
Thanks for responding so quickly. Over night (standby-[8hrs]->wakeup) I have observed that my failing member ("rly4") healed itself, so it is now possible to kill/restart etcd without this nasty error. I presume there is some regular background process that writes the db file or something.

However, after I removed the member again (kill/Ctrl+C/"systemctl stop etcd" -> "etcdctl member remove .." -

[2016-07-03 17:09] xiang90 commented on #5857
@binwiederhier Thanks. Should fix shortly if I can reproduce.

[2016-07-03 17:12] xiang90 commented on #5857
@binwiederhier Do you still keep the log of rly4 from the very beginning (the first startup after re-joined it)

[2016-07-03 17:22] binwiederhier commented on #5857
@xiang90 Since I can reproduce this realiably, here's a log that shows rly4 beging started as a fresh member, then Ctrl+C, then restarted:

[code]

[2016-07-03 17:25] xiang90 commented on #5857
@binwiederhier

try to apply patch in https://github.com/coreos/etcd/pull/5862. update the binary of all members include the rly1, rly5. Then try to see if you still can reproduce it?

[2016-07-03 17:31] binwiederhier commented on #5857
Sure thing. My first encounter with "go". Have to install all the deps to get it to build :-)

[2016-07-03 17:49] binwiederhier commented on #5857
I'm trying to build a new version with your patch to test if it works, but I have no idea how to. `./build` is just giving me this: https://gist.github.com/binwiederhier/5b42f5abc4829462970ccc9c45913b52 and I can't find any instructions.

[2016-07-03 18:14] xiang90 commented on #5857
@binwiederhier It seems the GOPATH is not set correctly. You need to put etcd under GOPATH correctly to make the vendor work. etcd needs to be at $GOPATH/src/github.com/coreos/etcd

Can you do `go env` and paste the output?

[2016-07-03 19:07] vmatekole commented on #5272
@gyuho I too have had a VERY difficult 2 days in getting TLS/SSL to work on etcd2/Fleet. I have tried several methods incl. the one above to generate certs AND changed my config several times to no avail:

Please note etcd2 is listening on public url's.
cloud-config:
[code]

Error
[code]

[2016-07-03 19:19] binwiederhier commented on #5857
This is really hard. Do you have instructions how to set this stuff up from scratch? I feel I'm randomly poking around and I'm not getting anywhere. I managed to put things in the right place, but now when I run `go get` or `go get ./...` (I googled this, no idea what it does), I get this:

[code]

[2016-07-03 19:24] vmatekole opened #5863 "etcd2 - TLS/SSL Setup"
I have had a VERY difficult 2 days in getting TLS/SSL to work on etcd2/Fleet. I have tried several methods incl. - https://github.com/coreos/etcd/tree/master/hack/tls-setup -  to generate certs AND changed my config several times to no avail:

Please note etcd2 is listening on public url's.
cloud-config:
[code]

Error
[code]

[2016-07-03 19:29] gyuho commented on #5857
@binwiederhier You can clean up your GOPATH and use `cd $GOPATH/src/github.com/coreos/etcd/cmd && godep restore`

godep can be found at https://github.com/tools/godep.

[2016-07-03 19:33] binwiederhier commented on #5857
@gyuho I finally got it to build. Turns out the PPA version of go is needed. The one in Ubuntu 14.04 upstream does not work. Here are my instructions (if you want to add them somewhere):

[code]

@xiang90 I can confirm that your fix worked.

[2016-07-03 19:38] shurcooL commented on #5860
https://github.com/cockroachdb/cmux does has its issue tracker disabled ([unlike](https://github.com/soheilhy/cmux/issues) the upstream repo).

[2016-07-03 20:55] xiang90 commented on #5857
@gyuho Can you help to update the build section in our doc? Seems like it is currently difficult for people who are not familiar with go env.

[2016-07-03 20:56] #5856 closed

[2016-07-03 21:01] gyuho commented on #5857
@xiang90 Ok will do.

[2016-07-03 21:15] vmatekole commented on #5863
Additional output:

``` curl -L --cacert ca-cert.pem https://5.9.124.202:4001/v2/stats/leader ```
curl: (35) error:14094412:SSL routines:ssl3_read_bytes:sslv3 alert bad certificate

[2016-07-03 21:18] binwiederhier commented on #5857
Just wanted to say thanks. You guys have been great! Blazing fast responses, awesome tool!! Much appreciated :+1:

[2016-07-03 22:05] vmatekole commented on #5863
Further output:
[code]

[2016-07-03 22:06] vmatekole commented on #5863
[code]

[2016-07-03 22:24] xiang90 commented on #5863
@vmatekole My first suggestion is to try to setup etcd with tls correctly first, then try etcd + fleet. From the logging, it seems like you only setup one etcd member, it just waits for other two to come up. TLS seems to working fine based on your curl output.

[2016-07-03 22:30] #5857 closed

[2016-07-03 23:22] vmatekole commented on #5863
@xiang90 Thanks for your response! I managed to enable debug and I get the following output:
(x509: certificate signed by unknown authority)

[2016-07-04 01:13] vmatekole commented on #5863
I re ran the following -  https://github.com/coreos/etcd/tree/master/hack/tls-setup and now getting:
[code]

I noticed validating one of the etcdctl certs the DNS is set as localhost? How can I run the above and set appropriate IP address for cert: Certificate:
[code]

[2016-07-04 02:21] #5852 closed

[2016-07-04 02:34] heyitsanthony opened #5865 "watch over grpc-gateway"
(via #etcd)

Try:
[code]

but get:
[code]

I attempted to figure out the correct syntax via encoding with grpc-gateway:
[code]

Getting a potential JSON encoding back:
[code]

Naturally, I try the value from `Encode(protoReq)`, foolishly expecting `Decode(Encode(x))` to work:
[code]

but still an error:
[code]

[2016-07-04 05:26] yorkart commented on #5832
I have edited issue and submitted the code. Run a few times, can see the above two kinds of errors

[2016-07-04 09:03] maverick-racheal commented on #5154
These logs are seen in v2.3.7 when we bring up ETCD along with K8 and create 10 pods. If there is more load on etcd, is there any recommendation on how we can increase the resources which doesnt lead to such overload condition.
Also i wanted to understand if there are any other implications of these logs or they are just warning level logs

[2016-07-04 09:15] MartyMacGyver opened #5866 "Windows builds of etcd 3.x via build.bat throw spurious warnings / queries while being hard to parse and debug"
Such spurious warnings and unnecessary interactions should be eliminated. In addition, the output should be more informative.

Note: build.bat is not the problem here - the PowerShell script build.ps1 needs updating.

A clean build of etcd produces the following output (etcd 3.0.0):

    G:\go\src\github.com\coreos\etcd>build.bat

    G:\go\src\github.com\coreos\etcd>powershell -ExecutionPolicy By

[2016-07-04 09:18] MartyMacGyver commented on #5866
Attached is a tested example of how this might be done, eliminating unwanted warnings and queries while adding appropriate informational output:

[build.ps1.txt](https://github.com/coreos/etcd/files/345989/build.ps1.txt)

[2016-07-04 10:34] vmatekole commented on #5863
Hi! I found the root cause of my problem... I forgot to set IP's for all nodes in cluster within the config 😱
I have created a PR to improve the docs for those less suspicious than I ;) ..
https://github.com/coreos/etcd/pull/5867

[2016-07-04 10:34] #5863 closed

[2016-07-04 13:55] cdancy commented on #5067
If anyone is interested in helping out with [etcd-rest](https://github.com/cdancy/etcd-rest/tree/etcd-v3), which is java client based on [apache-jclouds](https://github.com/jclouds/jclouds), I could certainly use the help. We are targeting the [grpc-to-json api](https://github.com/coreos/etcd/blob/master/Documentation/dev-guide/api_grpc_gateway.md). Feel free to reach out if you're at all interest

[2016-07-04 15:57] fbdlampayan opened #5868 "Support for retrieving Lease details information?"
Hi!

With etcdv3, is there a way to retrieve existing lease information and/or lease "items" themselves on demand?

For example, we would want to know the TTL-equivalent values for the keys attached to a certain lease. Is there a way to retrieve these details?

In the file rpc.proto there are these comments in the Lease service...

So was wondering if this is not yet supported and when is it plann

[2016-07-04 16:03] xiang90 commented on #5868
Can you provide more detailed use case? For example, you do you want to list the all the leases? Why do you want to get the expiry of a lease. Then we can consider to add the APIs.

[2016-07-05 04:26] onlyjob commented on #5860
Just as I suspected, `cockroachdb/cmux` is a "convenience fork": https://github.com/cockroachdb/cockroach/issues/7612#issuecomment-230348118
Whilst there _may be_ technical reasons to use _cmux_ from cockroachdb, I believe it is politically wrong because it encourages and reinforces fragmentation. Since upstream says that divergence between _cmux_ forks is minimal I suggest to consider switching t

[2016-07-05 04:42] xiang90 commented on #5860
@onlyjob I agree with you for most of the parts you mentioned. But as I mentioned, we share some of the code logic with cockroach. Right now, I would rather take a less risky approach by just using the fork.
When I have time, I would love to check how much they diverged, and would love to make them converged by submitting prs and discussing the issues with the maintainers. However, I do not have e

[2016-07-05 07:35] nekto0n commented on #5386
What should be maximum valid message size?

[2016-07-05 08:08] fbdlampayan commented on #5868
Hi xiang!

Hmm basically is there a way to get TTL value from LeaseId currently in etcdv3?
In a nutshell, is there something like this:

Where a client to etcdv3 can request the TTL associated with a key (or with a leaseId).

**Rationale/Use case:**
To be more specific, our current project's DNS-nature for announcement and service discovery is built on top of etcdv2.
And at the moment we are migra

[2016-07-05 10:56] maverick-racheal opened #5870 "etcdserver: failed to send out heartbeat on time"
We brought up a cluster with three members and once the setup is stable we see the below logs

{"log":"2016-07-05 10:45:16.964197 W | etcdserver: failed to send out heartbeat on time (deadline exceeded for 1.85087351s)\n","stream":"stderr","time":"2016-07-05T10:45:16.964317922Z"}
{"log":"2016-07-05 10:45:16.964292 W | etcdserver: server is likely overloaded\n","stream":"stderr","time":"2016-07-05T

[2016-07-05 12:07] equinox0815 opened #5871 "clientv3: cert check fails when using multiple servers"
We have a problem with HTTPs certificate checks using the clientv3 API.
Our test setup consist of 2 etcd instances (downloaded from https://github.com/coreos/etcd/releases):
[code]

They get started using the following script:

[code]

`192.0.2.1/32` and `192.0.2.2/32` are aliases on the loopback interface.

The certificates got generated using `hack/tls-setup` with a slightly changed Makefile. We

[2016-07-05 14:10] xiang90 commented on #5870
What is your environment? Shared environment or dedicated? enough CPU? SSD or HDD?

Have you checked your disk I/O? Is the etcd cluster under some workload? Can you try to get metrics from /metrics endpoint?

[2016-07-05 14:20] xiang90 commented on #5868
@fbdlampayan

Just try to summary the use case:

The lease owner does not need to query TTL, since it creates the lease, keeps the lease alive.
However, there are other clients besides the lease owner want to query the TTL of the lease. Right?

In your current project, here is no centralized server that can do information caching but fully rely on etcd to do information propagation and coordinatio

[2016-07-05 14:59] vmatekole opened #5874 "ETCDCTL TLS/SSL"
I have the following in my cloud config after successfully deploying TLS/SSL for ETCD:
[code]
But still I have to provide ETCD client the following:
[code]
or I get the following error:
[code]

It appears the environment variables for **core** user aren't being set.

[2016-07-05 16:27] heyitsanthony commented on #5832
@yorkart I still can't reproduce this bug after looping a few hundred times with that code. What do you mean by "run a few times"? Do the errors show up immediately when the program starts or does it start giving errors in the middle of a run?

[2016-07-05 16:34] xiang90 commented on #5874
I do not quite understand this issue. Did you set the environment variable for the user that ran the etcdctl command? I suspect that the environment variable is not set correctly.

Can you try
[code]

[2016-07-05 16:49] luissantos opened #5875 "etcd-v2.0.4-linux-amd64.tar.gz failling checksum"
Hi,

I've been using this ETCD version for  a while and everything was working fine. But today the checksum started to fail.

 curl -sSL https://github.com/coreos/etcd/releases/download/v2.0.4/etcd-v2.0.4-linux-amd64.tar.gz | tar -C /usr/local -xz

echo "fab7fe8d58fc205733e389603242b56563c766b4  /usr/local/etcd-v2.0.4-linux-amd64/etcd" | sha1sum -c -
/usr/local/etcd-v2.0.4-linux-amd64/etcd: OK

ec

[2016-07-05 16:59] luissantos commented on #5875
Never mind....

[2016-07-05 16:59] #5875 closed

[2016-07-05 17:56] gyuho commented on #5627
Confirmed that query `increase(etcd_funcational_tester_round_total[1y])` gives what we want. It's running the query for every refresh, so it's a bit slow, though.

But for now, it's good enough.

Will work on detailed information on failure cases later.

Thanks Chance!

[2016-07-05 17:56] #5627 closed

[2016-07-05 18:13] xiang90 commented on #5851
@mitake I assigned this to you.

[2016-07-05 18:37] gyuho commented on #5858
Closinv via https://github.com/coreos/etcd/pull/5876.

I tried `ENTRYPOINT` and confirmed that all docker commands in our etcd docs would work as same.

I will double-check in the next release.

[2016-07-05 18:37] #5858 closed

[2016-07-05 19:21] gyuho commented on #5865
Yeah this is not working in my machine as well.

[code]

I tried to tag the `WatchRequest` manually, like:

[code]

but still doesn't work.

And I think upstream is aware of this issue here https://github.com/gengo/grpc-gateway/issues/82.

[2016-07-05 21:03] onlyjob commented on #5860
Fair enough, @xiang90. Thank you for your comments.

[2016-07-05 23:33] heyitsanthony opened #5878 "TestWatchWithProgressNotifyNoEvent: watch response expected in 3s, but timed out"
via semaphore

[code]

[2016-07-05 23:37] yorkart commented on #5871
I have the same problem ,  the cert normal work on v2

[2016-07-06 00:28] siddontang opened #5879 "report snapshot finish cause process active false and check quorum causes leader step down."
Hi @xiang90

When we open check quorum, after leader 1 send snapshot finished to follower 2, the report snapshot may cause 2 progress active to false. so in tickHeartbeat, before 1 sends heartbeat to 2, the check quorum may cause 1 step down, because now checkQuorumActive will return false.

Although later 1 may become leader too, this is unnecessary.

/cc @swingbach

[2016-07-06 02:24] yorkart commented on #5832
giving errors in the middle of a run

in addition, cluster log frequently prompted
[code]

heartbeat config:
[code]

I guess the timeout has led to the operation of the result is not consistent, the cluster has been processed, but to return to the failure to the client

[2016-07-06 02:27] mitake commented on #5851
@xiang90 sure, I'm working on it.
@heyitsanthony I'm trying to reproduce it but it doesn't happen yet. Maybe it is rare on your environment, too?

[2016-07-06 02:31] heyitsanthony commented on #5832
@yorkart that wouldn't lead to loss of consistency. Are the Set/Delete requests returning time-out errors? etcd shouldn't return success unless the request is committed. Can you please provide the full server log?

[2016-07-06 02:34] #5744 closed

[2016-07-06 04:03] #4620 closed

[2016-07-06 04:45] xiang90 commented on #5879
Snapshot will not change the progress activity. The progress becomes inactive only if the follower does not response to the leader for the most recent election timeout.

While 1 sends the snapshot to 2, 1 should still send heartbeat messages. I suspect that your application somehow pause heartbeat sending while sending snapshot?

[2016-07-06 04:50] siddontang commented on #5879
No, if sending snapshot ok, the report snapshot finish will set progress active to false.
So the leader may step down before sending heartbeat.

Here https://github.com/coreos/etcd/blob/master/raft/raft.go#L730 may set progress to false.
And here https://github.com/coreos/etcd/blob/master/raft/raft.go#L454 will cause leader to step down.

[2016-07-06 04:53] xiang90 commented on #5879
OK. I see. We should fix this. Basically, not all state changes should cause active reset. I will try to find sometime this week or so.

[2016-07-06 06:35] mitake commented on #5851
@heyitsanthony is this happened on your machine? It seems that `fdatasync()` took more than 3 mins. Maybe happened on CI server?

[2016-07-06 06:38] yorkart commented on #5832
I have push the server log,
[etcd-144](https://github.com/yorkart/etcd-demo/blob/master/etcd-144.log)
[etcd-147](https://github.com/yorkart/etcd-demo/blob/master/etcd-147.log)
[etcd-148](https://github.com/yorkart/etcd-demo/blob/master/etcd-148.log)

[2016-07-06 08:09] kuncao opened #5882 "etcd 3.0.1 cannot run normal on Windows 7 64-bit"
https://github.com/coreos/etcd/issues/5852
after  manually renamed default.etcd/member/wal.tmp to default.etcd/member/wal. Then etcd will start normally.
but can not provide the service
E:\etcd>etcdctl member list
   this conmand run hang
http://localhost:2379/
  run hang  in IE
E:\etcd>etcdctl set /testdir/testkey "Hello world"
  run hang
E:\etcd>etcd
2016-07-06 15:54:12.173012 I | etcdmain: etcd

[2016-07-06 08:44] fbdlampayan commented on #5868
@xiang90

Yes, the other clients besides the lease owner requires to query the TTL of the lease and it fully relies on etcd.

[2016-07-06 08:57] MartyMacGyver commented on #5882
I rebuilt etcd just now from master (commit 234c30c) and got the following similar output (but with more verbose errors):

[code]

The server output itself seems equivalent:
[code]

[2016-07-06 09:23] westhood commented on #5842
Why not disable `grpc.WithBlock` ?  It seems `grpc` can handle connection issues like this automatically in the background if  `grpc.WithBlock` is disabled.

[2016-07-06 09:59] MartyMacGyver commented on #5882
I removed my original reply - it confirmed the problem you're seeing but as it became a bit intermittent I  decided to delve deeper. I think I have your answer (though this goes back to the need to document the Windows use case for the Windows deliverables).

localhost and 127.0.0.1 aren't always quite the same on Windows 7 and newer: for me, `localhost` is the IPv6 `::1:` while the only IPv4 loop

[2016-07-06 10:17] MartyMacGyver commented on #5882
One interesting side-note - if there is no service on port 4001, calls via `etcdctl` using the default values often take an extra second while it tries and fails to use that particular endpoint (if it polls it first). I'd think this would slow things down a bit if nothing else...

[2016-07-06 10:36] MartyMacGyver commented on #5882
Finally, something that gets to the heart of how weird localhost can be when it's defined for both protocols. I started etcd with no special options, so it refers to `localhost`, and then ran the following commands:

etcdctl with `localhost` alone simply never works:
[code]

Neither does etcdctl with `127.0.0.1` alone:
[code]

But combine them and they often work - as long as it happens to poll (a

[2016-07-06 12:48] m1093782566 opened #5884 "Can etcd v3 GetResponse contains prevKv as Put/DeleteResponse do?"
I feel excited about etcd v3 supporting ` preKv` in the Put/DeleteResponse and Event, I think it's really useful. However, I find there is no `prevKv` in the `GetResponse`.

In etcd v2, I find `Response` for Get/Put/Delete requests all have `PrevNode` to represents the previous state of the Node.

So I wonder if we can support prevKv(s) in etcd v3 `GetResponse`?  Because some clients might want to

[2016-07-06 13:15] heyitsanthony commented on #5851
@mitake this was on semaphore; can't repro locally

[2016-07-06 13:39] heyitsanthony commented on #5832
@yorkart that is a very unhealthy cluster; it's doing a leader election several times a minute. I'll see if I can reproduce under similar conditions. Do you see the same behavior with 3.0?

[2016-07-06 13:46] heyitsanthony commented on #5842
@westhood I think the code should confirm it can connect to some endpoint before returning a client, but non-blocking connect is a possible alternative.

[2016-07-06 15:16] ajityagaty commented on #4620
@xiang90 Sorry about this one. I couldn't spend time on it.

[2016-07-06 16:26] gyuho commented on #5884
Did you try https://godoc.org/github.com/coreos/etcd/clientv3#WithRev?

[2016-07-06 16:27] xiang90 commented on #5884
@m1093782566 Why get should have prevValue? It does not change the value. v2 does not support it either. There is no reason to support it.

[2016-07-06 16:27] #5884 closed

[2016-07-06 16:31] xiang90 commented on #4620
@ajityagaty No problem at all. It would always be great when there are more eyes on the issues.

[2016-07-06 18:21] #5797 closed

[2016-07-06 18:53] v1k0d3n commented on #5154
@maverick-racheal you may want to tailor your timeout to match your environment. for instance, I'm seeing this while testing v3.0.1 as well (testing with an OSX binary):

[code]

You can change this with the following flag:

[code]

Sure, it's not the ideal, but this will precent me from seeing overload heartbeat W(arning) messages. I'm testing in my use-case after all.

[2016-07-07 01:26] maverick-racheal commented on #5870
Sorry for the delay.. Am new to etcd nd wanted to understand if Prometheus the only way to collect metrics. Is there any rest endpoint I can query nd get the value

[2016-07-07 01:37] xiang90 commented on #5870
@maverick-racheal Which version of etcd are you running?  Also can you answer the question I asked in the previous reply?

[2016-07-07 03:28] maverick-racheal commented on #5870
I am using 2.3.7.. Its a shared setup with 2 vcpus for the VMS I run etcd.. The CPU usage is around 20/30 % when the issue is seen.. I will collect the disk io nd metrics information and let you know..

[2016-07-07 03:29] maverick-racheal commented on #5870
The system is in stable state with some 29 watches on etcd cluster.. 27 from k8 nd 2 from our local modules

[2016-07-07 03:31] xiang90 commented on #5870
@maverick-racheal Can you try to do

[code]

[2016-07-07 05:42] mitake commented on #5851
@heyitsanthony I think the failure wouldn't mean bugs in etcd. The timeout was caused by very long `fdatasync()`. If the timeout of testing is longer, the failure won't appear. How do you think?

BTW does current etcd have a policy about a case of disk I/O timeout?

[2016-07-07 06:42] heyitsanthony commented on #5851
@mitake I think I figured it out; it's timing out in fsync by coincidence. The cause for the slow test is bcrypt. When I run `go test --race -cpu=1,2,4` (i.e., what `./test` uses) in `auth`, it takes about a minute with `DefaultCost` but only 5 seconds with `MinCost`. See #5892

I don't think etcd has any policy concerning slow disk IO aside from emitting some warnings.

[2016-07-07 06:49] mitake commented on #5851
@heyitsanthony ah I see. The timeout happened during the call of `fdatasync()` but the system call itself wasn't taking a long time. Thanks a lot for the diagnosis.

[2016-07-07 07:09] inetkiller opened #5893 "etcd 3.0.1 can not run on centos7 and os x"
I installed etcd followed the guide(https://github.com/coreos/etcd/releases) ,when try etcdctl i got following error:
2016/07/07 03:49:25 grpc: addrConn.resetTransport failed to create client transport: connection error: desc = "transport: dial tcp 127.0.0.1:2379: getsockopt: connection refused"; Reconnecting to {"127.0.
0.1:2379" <nil>}
Error:  grpc: timed out when dialing

[2016-07-07 07:14] gyuho commented on #5893
Can you share the `etcd` and `etcdctl` commands to reproduce this?

[2016-07-07 07:17] inetkiller commented on #5893
etcd:
[code]
etcdctl:
[code]

[2016-07-07 07:18] gyuho commented on #5893
Did you try that command in os x? Or centos?

[2016-07-07 07:20] inetkiller commented on #5893
I tryed both

[2016-07-07 07:23] gyuho commented on #5893
Please try `ETCDCTL_API=3 ./etcdctl --endpoints=localhost:2379 put foo bar`. It should work.

We will update the release notes.

[2016-07-07 07:29] inetkiller commented on #5893
it works. thx

[2016-07-07 07:29] gyuho commented on #5893
np!

[2016-07-07 07:29] #5893 closed

[2016-07-07 07:54] yorkart commented on #5832
v3 is ok . Using the same test logic,  only timed out error   [v3 demo](https://github.com/yorkart/etcd-demo)
`rpc error: code = 13 desc = etcdserver: request timed out, possibly due to previous leader failure`

at this time, cluster get log
[code]

in addition, when the demo is running,  cluster always print log
[code]

 #5871  -  I have the same problem when use v3 client

[2016-07-07 08:33] bluepeppers opened #5894 "Cannot test errors from GetRole to differentiate role not existing from more general errors"
After calling `AuthRoleAPI.GetRole`, and receiving a response where `err != nil`, I have no (sane) way of differentiating situations where `err != nil` due to the requested role not existing, and cases where `err != nil` due to a more generic error.

Below is an example of a function where I attempted to gain this functionality by repurposing `IsKeyNotFound` to test the error. Adding a `IsRoleNotF

[2016-07-07 10:37] adizere commented on #2477
Hello,
What if one *wants* to allow many clients connecting to etcd?
Since `file_descriptor_limit` is set to 1024, that means that no more than ~1000 clients can connect to etcd.

Is there any way to change the `file_descriptor_limit`, or the underlying `RLIMIT_NOFILE`?

[2016-07-07 13:32] heyitsanthony commented on #5832
@yorkart your etcd cluster has very high latencies which is why it's triggering leader elections. You'll need to increase the `ETCD_ELECTION_TIMEOUT` and `ETCD_HEARTBEAT_INTERVAL` to stop the frequent leader elections. The apply entry warning is hardcoded to 10ms; we'll probably change that to a less aggressive value soon.

[2016-07-07 16:05] #5783 closed

[2016-07-07 16:05] #5851 closed

[2016-07-07 20:11] sergeyfd opened #5896 "Grant-permissions with wildcards in V3"
Hello,

How can I grant permissions to all keys, or to keys wit a certain prefix, in V3 etcd to some role? I created a role with the following permissions:

[code]

But so far this role is only able to get/put `etcd` key and nothing else.

[2016-07-07 21:10] xiang90 commented on #5896
we do not support widecard for auth right now. only explicit range is supported

[2016-07-07 21:12] sergeyfd commented on #5896
What is a range in this context?

[2016-07-07 21:13] xiang90 commented on #5896
@sergeyfd Permission on a range of keys like from foo to foo10.

[2016-07-07 21:18] sergeyfd commented on #5896
But:

[code]

[code]

[2016-07-07 21:21] xiang90 commented on #5896
etcd20 is not in any range I think. etcd20 > etcd100.

[2016-07-07 21:23] sergeyfd commented on #5896
Kind of weird but Ok. get on etcd020 works. Thanks for the explanation.

[2016-07-07 21:25] xiang90 commented on #5896
@sergeyfd Shall we close this issue? Or you still want the wide card support?

[2016-07-07 21:35] sergeyfd commented on #5896
Will you add it if I keep it open? :-)

If you have no plans for adding such support, then yes, it's Ok to close it.

[2016-07-07 21:38] xiang90 commented on #5896
@sergeyfd We do not have plan. But if there is a strong use case, we might consider. If you think range can achieve what you want for now, we shall close it. Based on your reply, seems that range is good enough for you.

[2016-07-07 21:42] sergeyfd commented on #5896
I should be Ok for now. But I bet you that eventually you'll have to add that support.

[2016-07-07 21:42] #5896 closed

[2016-07-07 22:09] sergeyfd opened #5898 "Snapshot does not match after re-joining into a V3 cluster."
When I try to re-add a failed node back into a cluster by removing it first and adding it back pretty often I see the following issue:

A member joins cluster win no issues:
[code]

But then if I stop that member and try to start it again I get following error:

[code]

[2016-07-07 22:10] xiang90 commented on #5898
@sergeyfd Which version of etcd are you running?

[2016-07-07 22:12] sergeyfd commented on #5898
3.0.0

[2016-07-07 22:15] xiang90 commented on #5898
Oh. There is a bug (https://github.com/coreos/etcd/pull/5862) in that release. We just fixed it. We will do another release tomorrow to include the fix. At the meantime, can you try with master branch to see if it works?

[2016-07-07 23:18] heyitsanthony commented on #5847
via semaphore
[code]

[2016-07-07 23:41] #5832 closed

[2016-07-08 02:07] kuncao commented on #5882
thanks  MartyMacGyver  for deep dive into the issue.
but the configuration and commands cannot run right in my env.

hosts file configed as follow:
127.0.0.1  localhost
start etcd:
E:\etcd>etcd --debug --advertise-client-urls http://127.0.0.1:2379
2016-07-08 09:32:45.902446 I | etcdmain: etcd Version: 3.0.1
2016-07-08 09:32:45.989933 I | etcdmain: Git SHA: a4a52cb
2016-07-08 09:32:45.989933 I | et

[2016-07-08 02:07] heyitsanthony opened #5900 "test: TestLeaseKeepAliveCloseAfterDisconnectRevoke unexpected keepalive"
via semaphore

[code]

[2016-07-08 02:17] mitake opened #5901 "clientv3: test failure with too many goroutine"
via travis: https://travis-ci.org/coreos/etcd/jobs/143218610

[code]

Entire log is here: https://s3.amazonaws.com/archive.travis-ci.org/jobs/143218610/log.txt

[2016-07-08 03:27] MartyMacGyver commented on #5882
There may be other problems with 3.0.1 that are confounding this. Either rebuild from master or try my build (based on master (3.x), commit 234c30c):

https://www.dropbox.com/s/o6onq4bkqei51ss/etcd-Windows-234c30c.zip?dl=0

Let us know if that helps or not.

Also - is 2.3.7 working for you?

[2016-07-08 03:41] xloggerster commented on #5870
Hi All,

I'm seeing similar log message as title during my local testing also ... my setup is that I'm running 3 etcd docker containers in a virtual box VM for local testing. The VM config is small like 2 vCPU and 4GB memory. Below shows part of the docker-compose.yml file for one of the etcd instance (all 3 instances have similar setup except the ports)

[code]

I have 2 java processes running lo

[2016-07-08 03:44] xiang90 commented on #5870
@xloggerster Your disk io was slow. Some of them took longer than 50ms. That is why etcd complaints. Try to get a better disk (not shared by 3 etcd or use SSD) or make the heartbeat interval longer.

[2016-07-08 03:47] xloggerster commented on #5870
@xiang90 Thanks for your prompt reply! May I know which pointer in the metrics indicated that the disk io was slow?

I'm using SSD already... will retest with longer Heartbeat interval

[2016-07-08 03:53] xiang90 commented on #5870
[code]

[2016-07-08 03:54] xiang90 commented on #5870
@xloggerster If you are running SSD, most fsyncs should be under 0.004s (4ms).

[2016-07-08 08:23] kuncao commented on #5882
thanks MartyMacGyver .
for security reason, I can not access dropbox in our office
I will install dropbox in my home and test your compiled etcd windows version
I have not test 2.3.7 version

[2016-07-08 08:56] MartyMacGyver commented on #5882
It's probably easier to simply build your own copy of it from here using Go 1.6.2. Clone this repo to an NTFS drive and run "build.bat". As long as you have PowerShell and Git installed that should work.

[2016-07-08 09:03] MartyMacGyver commented on #5882
Also, if it helps, here's a link that may be easier to access:

https://drive.google.com/open?id=0B3dTI7CdidfqRG1Xb2NGS2ZpZms

[2016-07-08 14:14] heyitsanthony opened #5903 "inform user if wal file is locked on migrate"
via #etcd: `process stuck doing nothing, no errors, nothing happened`

Confirmed issue was from running migrate on a data directory attached to a running etcd instance.  Should probably have better error messages around this because the current behavior is confusing. Likewise, the v2 migration docs are also sort of unclear about having to take etcd offline for migrate to work, it only talks about

[2016-07-08 17:26] vmatekole commented on #5874
@xiang90 what is the recommended way of having environment variables permanently set for a users session in CoreOS.

most solutions I have seen recommend this, is there an alternative - http://stackoverflow.com/questions/30596866/how-can-i-customize-bashrc-bash-profile-or-profile-on-a-coreos-installation

[2016-07-08 17:29] xiang90 commented on #5874
@vmatekole If it is a CoreOS related question, you should open an issue here https://github.com/coreos/bugs/issues. There are more eyes and experts watching that repo. It would also make the issue more searchable for future reference.

[2016-07-08 17:36] vmatekole commented on #5874
@xiang90 Thanks for the tip but I think I found the answer - https://github.com/wiliamsouza/marlito/blob/develop/user-data.sample#L36-L42

[2016-07-08 17:36] #5874 closed

[2016-07-08 17:51] vmatekole commented on #5874
Specifically, this is the correct method:

[code]

[2016-07-08 19:04] heyitsanthony commented on #5871
@equinox0815 @yorkart it's a go-grpc bug. Submitted a patch to upstream: https://github.com/grpc/grpc-go/pull/756

[2016-07-08 19:26] meyskens opened #5904 "Etcd 3.0 crash on start as new member"
When I let a fresh etcd 3 instance join a 2.3 cluster it gives the following error when opening a raft connection.
[code]

I run this on ARM, not sure if that causes it.

[2016-07-08 20:37] heyitsanthony commented on #5904
@meyskens should be fixed with #5890, try building from master?

[2016-07-08 21:19] meyskens opened #5905 "etcd not listening on IPv4"
I built etcd from master and set it to listen on 2 ports on 0.0.0.0. But it fails to advertise to the cluster.
The logs tell that it is listening for requests.
[code]
But in netstat I only see an active listener on tcp6, so only on IPv6
[code]

[2016-07-08 21:20] meyskens commented on #5904
Thanks! that fixed this

[2016-07-08 21:20] #5904 closed

[2016-07-08 22:07] MartyMacGyver commented on #5905
Can you post your exact command line, perhaps with the --debug option on? It might help (I wonder if the weird IPv6 vs IPv4 thing seen in 5882 is related to what you're seeing here... I see IPv4 listeners while etcdctl tries to talk on IPv6).

[2016-07-08 22:47] meyskens commented on #5905
This is from the systemd service
[code]
will try to run it with `--debug` tomorrow

[2016-07-08 22:56] jaredeh commented on #5904
@meyskens I see from your github page you are doing etcd on scaleways.  Do you know if they might host arm architecture CI for etcd?

[2016-07-08 23:03] meyskens commented on #5904
Probably, they are very happy to help open source projects. Drop them a mail at opensource@scaleway.com
If you can't come to a deal mail me and I will ask if our company can't sponsor some.

[2016-07-09 06:55] heyitsanthony commented on #5905
@meyskens can you provide the full etcd server log? It's not clear to me what the exact error / problem is that you're seeing. Does `etcdctl --endpoints=212.47.240.177:2379 cluster-health` report the cluster is healthy?

I tried `127.0.0.1` instead of `0.0.0.0` and got `tcp`  instead of `tcp6` on netstat. However, even with `tcp6`, `etcdctl` could still connect through an external ipv4 address.

[2016-07-09 11:31] tebello-thejane opened #5907 "Why does etcdctl assume that the endpoint is on port 22379, whereas etcd starts up on port 2379?"
Following the etcd README page, this happens:

    $ ./etcd
    ...
    2016-07-09 13:20:55.952752 I | etcdmain: listening for peers on http://localhost:2380
    2016-07-09 13:20:55.952778 I | etcdmain: listening for client requests on localhost:2379

but

    $ ETCDCTL_API=3 ~/etcd-v3.0.2-linux-amd64/etcdctl put mykey "this is awesome"
    2016/07/09 13:21:39 grpc: addrConn.resetTransport failed

[2016-07-09 15:10] xiang90 commented on #5907
This is just for local cluster setup, which listens on 2379:22379:32379. We should probably make the default just 2379. Can you send a pull request to fix this?

[2016-07-10 00:02] xiang90 commented on #5898
released 3.0.2. this issue should be fixed.

[2016-07-10 00:02] #5898 closed

[2016-07-10 11:13] meyskens commented on #5905
[code]
[code]
Hope that helps

[2016-07-10 18:10] heyitsanthony commented on #5905
[code]

`ETCD_PEER_ADDR` was deprecated in 2.0 and removed in 3.0. Try `ETCD_INITIAL_ADVERTISE_PEER_URLS` instead. Also, please use port 2380 for peers if possible; port 7001 is deprecated as well.

[2016-07-10 19:33] meyskens commented on #5905
That seems to have fixed it!

[2016-07-10 19:33] #5905 closed

[2016-07-10 20:37] akuzminsky opened #5909 "Any next node creates new cluster if DNS discovery used"
First node successfully starts a new cluster:

[code]
First node output:
[code]
That works as expected, but when a second node starts, instead of joining the existing cluster it creates a new one and the nodes cannot communicate since then:
[code]
Second node output:
[code]

[2016-07-10 23:05] xiang90 commented on #5909
Can you show the output of
[code]

[2016-07-10 23:12] akuzminsky commented on #5909
[code]
I should also note a script that creates node, creates DNS records as well and waits until the name servers response successfully on the node. (with cloudflare it takes some some until changes made via the API reach name servers). So I'm confident DNS lookup is successful at the moment of etcd start. (At least A record is available)

[2016-07-10 23:14] xiang90 commented on #5909
@akuzminsky

Before you created the first node, the dns should already be set up. It seems that it was not the case.

Can you try to follow the exact setup order showed here: https://github.com/coreos/etcd/blob/master/Documentation/op-guide/clustering.md#create-dns-srv-records ?

[2016-07-10 23:20] akuzminsky commented on #5909
Why do you think DNS wasn't ready when first node started?
[code]
Some confusion is possible because nodes `node-9002aa4446d211e6a1d812cb523caae1.etcd` and `node-6151c230464a11e68c4212cb523caae1.etcd` were partially in DNS.
I was playing with etcd and `node-900..` and `node-6151...` are old nodes. I deleted these instances and their A records at the moment `etcd-4c4b...` started etcd. Sorry for th

[2016-07-10 23:22] akuzminsky commented on #5909
A record was also available at the moment of start:
[code]

[2016-07-10 23:27] xiang90 commented on #5909
@akuzminsky

When the first node got bootstrapped, it only found one dns entry:

[code]

When the second node got bootstrapped, it found two dsn entries:
[code]

I am pretty sure there was something wrong on the dns side.

[2016-07-10 23:33] akuzminsky commented on #5909
I don't know if it's wrong, but at least it's expected.
A high level algorithm is following:
[code]

Let me try way you suggest:
[code]

[2016-07-10 23:38] xiang90 commented on #5909
@akuzminsky As I mentioned, you should follow the doc here: https://github.com/coreos/etcd/blob/master/Documentation/op-guide/clustering.md#create-dns-srv-records

The first algo you described does not follow what the doc says. What I suggested is what the doc says.

[2016-07-11 00:04] akuzminsky commented on #5909
If I follow the doc the first node doesn't start (please note node names have changed)

https://gist.github.com/akuzminsky/fff7e116032375850fda3baf16c54934

[2016-07-11 00:46] xiang90 commented on #5909
@akuzminsky It starts, and works as expected. A 3 nodes cluster needs 2 nodes to be online to process requests.

[2016-07-11 04:12] akuzminsky commented on #5909
@xiang90 , if that's expected then the init script should exit with 0. But i guess it's not your bug.

[2016-07-11 04:16] #5909 closed

[2016-07-11 08:00] mitake opened #5912 "RFC: skip persisting no side effect log entries in WAL"
Hi,

I'm trying to implement an idea about skipping persisting no side effect log entries in WAL. Because of the persistence process, linearizable range requests of current etcd incurs disk write. I think persisting log entries that do not have side effect is not required because replaying the entries during recovery means nothing.

The most straightforward way for reducing the overhead is removin

[2016-07-11 16:57] heyitsanthony commented on #5912
@mitake my only concern with this patch is the `hasSideEffects` bit (judging by the comments, it seems you agree). I think the way to avoid coupling wal to etcdserver semantics is to have:
[code]
and let etcdserver set `IsIdempotent` when configuring its WAL. If the field isn't set, WAL will default to `func(*raftpb.Entry) bool { return false }`.

[2016-07-11 17:06] xiang90 commented on #5912
Actually for l-read, there is a better way to do it. We already implemented the l-read feature inside raft, so that it does not need to hit disk at all. I am not sure if we really need this for other kinds of readonly requests. Even if we need, we could use similar approach.

See https://github.com/coreos/etcd/issues/5193 for more details.

[2016-07-11 20:35] #5907 closed

[2016-07-11 20:36] xiang90 commented on #5697
closed by https://github.com/coreos/etcd/issues/5697

[2016-07-11 20:36] #5697 closed

[2016-07-11 23:33] xiang90 commented on #4625
We do not really parse http response in v2 for error. We only parse http status code. So 500 is the thing you will get. For the unit test, I assume you actually control the behavior etcd. Then we can assume that 500 is caused by shutdown? No?

[2016-07-12 01:42] xiang90 commented on #5870
I am closing this out due to low activity. As I mentioned, I suspected it is because of slow disk io. Probably you need to increase timeout.

[2016-07-12 01:42] #5870 closed

[2016-07-12 02:59] westhood opened #5920 "clientv3: support sync membership of etcd cluster"
In client v2, we can use `client.Sync` or `client.AutoSync` to sync cluster membership.  Is there any plan to implement this feature in client v3 ?

[2016-07-12 03:02] xiang90 commented on #5920
Yes. There is a plan. First we need to implement changing endpoints: https://github.com/coreos/etcd/issues/5491. Then we can add a simple monitor for loop to update the endpoints. Do you want to work on this?

[2016-07-12 03:26] westhood commented on #5920
Yes. I am glad to work on this. I will create a PR to fix #5491 first.

If my understanding is correct,  we need new a method `client.UpdateEndpoints` maybe for #5491.  I think it needs some modification on [balancer.go](https://github.com/coreos/etcd/blob/master/clientv3/balancer.go), which is related to #5845.

[2016-07-12 04:07] xiang90 commented on #5920
correct

[2016-07-12 13:53] mihok opened #5923 "invalid argument when trying to open database"
When trying to run a basic custom etcd vagrant setup, with the data-dir volumes shared with the host machine for preservation of state we run into a `panic: cannot open database at /var/lib/etcd/member/snap/db (invalid argument)`

Ubuntu 14.04 64x
etcd 3.0.1

etcd log:
[code]

Basic Vagrantfile:

[code]

etcd install script:
[code]

etcd upstart script:
[code]

etcd upstart override:
[code]

[2016-07-12 13:54] #5879 closed

[2016-07-12 14:06] mitake commented on #5912
@heyitsanthony yes, lettinng etcd server judge about the side effect of entries would be safer. I agree.

@xiang90 IIUC, the recent l-read improvement is throughput oriented (Section 6.4 of the dissertation). Of course it will improve the read throughput but it would add latency to the request and in the worst case the latency is the heartbeat interval (100ms default and shouldn't be so short for

[2016-07-12 14:35] xiang90 commented on #4019
@doodles526 any progress?

[2016-07-12 15:22] mihok commented on #5923
Updated to include all configuration files necessary (I believe), let me know if there is more you need

[2016-07-12 16:21] xiang90 commented on #5923
@mihok Check https://github.com/boltdb/bolt/issues/459. etcd now does not work for shared volume among vm and its host due to mmap issue.

[2016-07-12 16:21] #5923 closed

[2016-07-12 16:23] xiang90 commented on #5923
etcd does not work for shared volumes between vm and its host. This is a mmap issue (restriction), see https://github.com/boltdb/bolt/issues/459 for more details.

[2016-07-13 18:42] xiang90 opened #5929 "testing: etcd_release_upgrade_test.go time out"
[code]

[2016-07-13 18:55] heyitsanthony opened #5930 "test: rework coverage handling"
We want to pay more attention to test coverage; right now there is only coverage testing for unit tests and it's generally ignored. Ideally `./test` would run all tests with coverage taking enabled and then merge the results into one coverage file.

As preliminary investigation, I tried coverage testing on integration tests with

[code]

which seems to work OK.

Getting coverage out of e2e tests m

[2016-07-13 20:51] #5430 closed

[2016-07-13 23:28] #5444 closed

[2016-07-14 00:31] bassamtabbara commented on #2752
@xiang90 what are you plans for this one? We also would like to use etcd in a similar manner to @radamsfc.

I read the reasoning for not using a discovery endpoint highlighted here https://github.com/coreos/etcd/blob/master/Documentation/v2/runtime-reconf-design.md#do-not-use-public-discovery-service-for-runtime-reconfiguration.

We'd hate to be the nth implementation of this logic. It would be gr

[2016-07-14 01:36] nshubhy opened #5936 "etcdhttp: etcdserver: request timed out, possibly due to previous leader failure"
Hi,

We have a 3 node etcd cluster and seeing this error on two nodes once the cluster has formed. This is one time error and later all the etcd write work. I also tried to run a script for infinite etcd write to see if I hit this error but all the writes were successful. Could you please help me understand the reason this error occurs and write fails?

[2016-07-14 02:10] heyujiaan opened #5938 "rafthttp: the clock difference against peer XXXX is too high [12.407738276s > 1s]"
I have 5 nodes etcd cluster ,When I started this cluster, the Waring appeared. How do I deal with a warning？

`2016-07-13 16:59:32.780523 I | etcdserver: published {Name:server ClientURLs:[xxx]} to cluster 25083587a86608c7
2016-07-13 16:59:33.017422 I | rafthttp: the connection with d1e0e691ad5bb2e5 became active
2016-07-13 16:59:59.776094 W | rafthttp: the clock difference against peer 4e8d454852

[2016-07-14 02:11] gyuho commented on #5938
What etcd version are you running?

[2016-07-14 02:12] xiang90 commented on #5938
@heyujiaan You need to fix the timer on your machine. This is not an etcd problem. Probably use (config) NTP or something.

[2016-07-14 02:12] #5938 closed

[2016-07-14 02:12] heyujiaan commented on #5938
2.3.0

[2016-07-14 02:20] heyitsanthony commented on #5936
@nshubhy what version of etcd is this? can you provide the etcd server logs with the error?

[2016-07-14 02:22] #5824 closed

[2016-07-14 03:13] xiang90 commented on #5816
@gtank Do you have any suggestion on how we should do this?

[2016-07-14 03:46] heyitsanthony commented on #5027
@xiang90 @philips Can we close this? I feel this is a dead end.

[2016-07-14 06:50] liuxiaopiao opened #5940 "Etcd publish error: etcdserver: request timed out"
## Preparation:
1. Have 2 hosts: 10.244.201.121,10.244.201.122
2. ETCD version: 3.0.2

## Steps:
###  I used the below scripts to install etcd on master host 10.244.201.121:
cd /scratch
curl -L  https://github.com/coreos/etcd/releases/download/v3.0.2/etcd-v3.0.2-linux-amd64.tar.gz -o etcd-v3.0.2-linux-amd64.tar.gz
tar xzvf etcd-v3.0.2-linux-amd64.tar.gz
ln -s /scratch/etcd-v3.0.2-linux-amd64 /scra

[2016-07-14 07:16] HardySimpson opened #5941 "Adding Producer-Consumer Semantics to Watch API?"
the watch api now support Pub-Sub Semantics, as any client can sub whatever data they interested in and sync all the data in client's local memory.

That's cool. Still, when client is not only want to read the data, but also want to consume it, problem appears.

The origin problem comes from scheduler of k8s.
When there is just one scheduler consume unscheduled pods, and schedule it, that's all ri

[2016-07-14 07:17] HardySimpson commented on #5941
@alfred-huangjian @kevin-wangzefeng @magicwang-cn

[2016-07-14 07:26] alfred-huangjian commented on #5941
@xiang90 We are thinking whether Etcd can support such Producer-Consumer Mode in Watch API. Above is an example for scheduler. However we also meet some requirements for processing the object changes in multiple clients as currently we can only use active-standby mode for such applications. Can you help to take a look at this?

[2016-07-14 08:04] linsimiao commented on #5067
We are starting to do this,is there any discussion board?

[2016-07-14 08:39] biganan2012 commented on #5940
Hi

Basically when you configure ETCD, please make sure that you have configured both master and slave machines. Otherwise, there will be problems.

***********************************************************************************
cluster may be unhealthy: failed to list members
Error: client: etcd cluster is unavailable or misconfigured
**********************************************************

[2016-07-14 14:38] sijie commented on #5067
@linsimiao how much work do you guys already start? I am just starting this week though. If you guys already start a lot, I'd like to coordinate with you guys somewhere.

[2016-07-14 14:43] jbaron-gingco opened #5942 "Enums are not parsed correctly by v3alpha API when sent as JSON"
I sent the following JSON document to the endpoint `/v3alpha/auth/role/grant`:

    {
        "name": "myRoleName",
        "perm": {
            "permType": "READ",
            "key": "some key",
            "range_end": "some range end"
        }
    }

The response was:

    HTTP/1.1 400 Bad Request
    Content-Type: application/json
    Date: Thu, 14 Jul 2016 14:31:31 GMT
    Content-Length: 7

[2016-07-14 14:51] AdoHe commented on #5067
@linsimiao @sijie actually in this repo [https://github.com/AdoHe/etcd4j/tree/v3](https://github.com/AdoHe/etcd4j/tree/v3) I have added some beginning code, you may take a  look.

[2016-07-14 16:12] heyitsanthony commented on #5941
This sounds unreliable-- what happens if B receives an event on a channel shared with A but crashes before it can process it?

[2016-07-14 16:44] heyitsanthony commented on #5940
@biganan2012 @liuxiaopiao there's no such thing as master/slave style HA in etcd. It's based on distributed consensus, so there needs to be a majority/quorum of running members (floor(totalMembers/2) + 1) before etcd can make progress. In this case, the quorum is 2 so both machines must be active. It's recommended that you use 3 nodes to avoid downtime in case an etcd server becomes unavailable (q

[2016-07-14 16:51] xiang90 commented on #5941
@heyitsanthony It can come back and get the event again. We should not keep any reliable state for watchers. Also we only guarantees that the "new" event will deliver to one of the watchers that share same channelID. This is just an optimization, application still needs to de-dup if they start to watch on old revision.

[2016-07-14 16:52] xiang90 commented on #5941
Also they need to expect crash recovery... it might take long, since it needs to wait for the old server to come back to grab the event again. Or the event will be lost.

[2016-07-14 17:19] heyitsanthony commented on #5941
@xiang90 sure, I wasn't suggesting adding state to the watchers. It seems to me that this style of watcher (at the etcd level) would be very difficult to coordinate among distributed clients on the application side if you don't want to lose events. High potential for bugs for what appears to be a somewhat minor optimization.

[2016-07-14 17:23] xiang90 commented on #5941
I agree. If the the number of watchers on the same channel is small, it does not worth it. Probably simple client side filtering would be easier. Client's need to do de-dup, failure recovery even if we add the feature. If the fan out is huge (like 1000s of workers), then it would worth the effort if users do not want implement their client/server mode.

[2016-07-14 18:47] #5628 closed

[2016-07-14 20:26] doodles526 commented on #4019
Some. I got distracted with other work. The project I use snapshots with though was just put up today though. Not totally prod ready. But the reference for someone wanting to do snapshotting is there.

Hopefully I will get to a point of not being too busy soon to finish it up.

https://github.com/compose/canoe

[2016-07-14 21:28] gyuho opened #5946 "functional-tester: inconsistent revisions with 'backend/beforeCommit panic'"
[code]

[code]

This only happens with fail points.

[2016-07-14 21:53] gtank commented on #5816
@xiang90 I don't really know enough about how etcd works to answer this. Systematically encrypting things is extermely application specific. For instance, what are WAL entries? Who would manage the keys, and what data should be protected from what potential readers? Should it be bound to access control?

[2016-07-14 22:08] xiang90 opened #5947 "test: TestReleaseUpgrade fails"
[code]

[2016-07-15 01:44] #5871 closed

[2016-07-15 04:36] journeycheng commented on #5907
today, i meet the same question as you.
when only enter etcdctl command, it returns HELP PAGE, information like this
`
./etcdctl
...
GLOBAL OPTIONS:
--endpoints value                a comma-delimited list of machine addresses in the cluster (default: "http://127.0.0.1:2379,http://127.0.0.1:4001")
`
Clearly write that listening on 2379 default, but the fact is (I think there is a bug.):
some people

[2016-07-15 05:33] linsimiao commented on #5067
we started our work two days ago, and our repo is [https://github.com/enncloud/j2etcdV3](https://github.com/enncloud/j2etcdV3).It is totally new now, and we will gradually commit code into it.
Happy to have your help.

[2016-07-15 05:33] linsimiao commented on #5067
@sijie we started our work two days ago, and our repo is [https://github.com/enncloud/j2etcdV3](https://github.com/enncloud/j2etcdV3) . It is totally new now, and we will gradually commit code into it.
Happy to have your help.

[2016-07-15 05:42] linsimiao commented on #5067
@AdoHe  THx. I will have a look at your commits.

[2016-07-15 05:50] liuxiaopiao commented on #5940
Thanks @biganan2012  @heyitsanthony  so much for the help. Yeah, my second host is down and after fixing it, the error disappeared.

So marked the issue as closed.

[2016-07-15 05:50] #5940 closed

[2016-07-15 07:35] lishu2006ll commented on #5898
aa
2016-07-15 01:54:05.338566 I | etcdmain: ready to serve client requests
2016-07-15 01:54:05.338828 N | etcdmain: serving insecure client requests on 192.168.56.133:2379, this is strongly discouraged!
2016-07-15 01:54:05.338969 E | etcdmain: failed to notify systemd for readiness: No socket
2016-07-15 01:54:05.338977 E | etcdmain: forgot to set Type=notify in systemd service file?
2016-07-15 01:

[2016-07-15 16:41] gyuho opened #5950 "functional-tester: server returns ErrTooManyRequests"
When run **without** failpoints enabled with master branch, this happens like every 400 rounds:

[code]

[2016-07-15 20:32] mattfarina commented on #5658
Folks... if there is a problem with symlinks it's a bug. We should fix that on Glide.

Note, I write glide so I'm happy to help get any symlink bugs fixed.

[2016-07-15 20:35] sxchapma opened #5952 "Trouble electing leader in a 3 node static cluster"
I have a openstack 3 server etcd2 cluster that seems to come up enough to start leader elections on all 3 nodes, but it never elects a leader and just keeps cycling through new elections. There are errors on the logs read errors and then it will say nodes other than itself are unhealthy.  i am trying to understand what is working and what is not and how to fix it.

below is the log snippet for all

[2016-07-15 20:37] heyitsanthony commented on #5952
@sxchapma can you provide the beginning of the server logs and your etcd configuration?

[2016-07-15 20:46] sxchapma commented on #5952
Config from cloud-init

coreos:
  etcd2:
    listen-client-urls: http://$private_ipv4:2379,http://127.0.0.1:2379
    advertise-client-urls: http://$private_ipv4:2379
    listen-peer-urls: http://0.0.0.0:2380
    initial-advertise-peer-urls: http://$private_ipv4:2380
    initial-cluster: node-1=http://fecore01.ccloudsandbox.dev01.vacum-np.sncrcorp.net:2380,node-2=http://fecore02.ccloudsandbox.dev01

[2016-07-15 21:01] gyuho opened #5953 "TestEmbedEtcd fails"
[code]

[2016-07-15 21:30] gyuho commented on #5953
@heyitsanthony I looked at the code and tests and they all correctly closing the listeners from previous `TestEmbedEtcd` runs. Think the port is just still bind in OS level?

[2016-07-15 21:32] heyitsanthony commented on #5953
@gyuho yeah, I think there's a delay before loses the bind; the old integration tests mentioned it. The fix is probably to use unique ports.

[2016-07-15 21:54] heyitsanthony commented on #5952
@sxchapma it looks like etcd is having trouble connecting to its peers:
[code]

Could you try changing `initial-advertise-peer-urls` to the corresponding `http://[...].vacum-np.sncrcorp.net:2380` URL instead of `http://$private_ipv4:2380`?

[2016-07-15 22:14] sxchapma commented on #5952
I don't know which host will be which IPs since they configure themselves when they come up I do know the names of all the hosts that will be created so I can put that in the initial-cluster config but don't know which of the hostnames fecore01,fecore02,fecore03 will be a certain IP so I don't think I can use FQDN in the initial-advertise-peer-urls.  from each server I can ping all the others usin

[2016-07-15 22:19] sxchapma commented on #5952
Here are the ping times from node1 --> node2,node3 using FQDN and ip there is some latency could that be causing issues? if so can we bump up something so it doesn't time out

core@fecore01 ~ $ ping fecore02.ccloudsandbox.dev01.vacum-np.sncrcorp.net
PING fecore02.ccloudsandbox.dev01.vacum-np.sncrcorp.net (192.168.2.5) 56(84) bytes of data.
64 bytes from 192.168.2.5: icmp_seq=1 ttl=64 time=0.380 ms

[2016-07-15 22:29] xiang90 commented on #5952
No difference. They all timed out when trying to establish the TCP connection. For example, fecore03 cannot connect to  http://fecore02.ccloudsandbox.dev01.vacum-np.sncrcorp.net:2380 for some reason. Probably you want to checkout your network, firewall.

[2016-07-15 22:37] heyitsanthony commented on #5952
Additionally, it's not a latency issue; the system is misconfigured. The member's advertised peer URL has to resolve to the same machine as the URL given for that member in `initial-cluster`. Otherwise, the peering won't know where to find the member. For example, when etcd wants to communicate with the current leader, it does so by member id, which requires an accurate mapping of member ids to ne

[2016-07-15 23:04] sxchapma commented on #5952
I am re-configuring trying to use FQDN everywhere instead of just in the initial-cluster.

Config will look like this
coreos:
  etcd2:
    listen-client-urls: http://fecore0${NODEINDEX}.ccloudsandbox.dev01.vacum-np.sncrcorp.net:2379,http://127.0.0.1:2379
    advertise-client-urls: http://fecore0${NODEINDEX}.ccloudsandbox.dev01.vacum-np.sncrcorp.net:2379
    listen-peer-urls: http://fecore0${NODEIN

[2016-07-15 23:16] heyitsanthony commented on #5952
@sxchapma only `advertise-client-urls`, `initial-advertise-peer-urls`, and `initial-cluster` need the FQDNs. The settings for `listen-peer-urls` and `listen-client-urls` should use `$private_ipv4` (which should be what the FQDN resolves to)

[2016-07-15 23:35] gyuho commented on #5942
I think this is compatibility issue between upstream packages. I reported here https://github.com/gogo/protobuf/issues/189.

Thanks for reporting.

[2016-07-17 16:32] heyitsanthony opened #5966 "TestPurgeFileHoldingLockFile fails in semaphore"
[code]

[2016-07-17 16:42] heyitsanthony commented on #5953
via semaphore
[code]

netstat in semaphore via ssh
[code]

again, with another ssh session on another worker:
[code]

So it looks like the environment is listening on random upper ports (e.g., 35524 vs 58056)...

[2016-07-18 09:03] sinsharat opened #5967 "Facing issue while compiling etcd in Windows7 64 bit"
# Bug reporting

I have one query and facing one issue related to it:
1. Is it possible to compile etcd software in windows?
2. If yes then how to achieve this:

i have done the following till now to achieve this:
i) installed mingw64
ii) installed gcc for windows 64 bit
iii) placed the additional dependecy files libdl.dll, libdl.dll.a in lib folder and dlfcn.h in include folder present inside C:\

[2016-07-18 17:00] jlamillan opened #5970 "etcdctl not honoring --output json and responding with plain text in error scenarios"
The global etcdctl option, `--output json` doesn't appear to be honored when the operation results an _error_. This is inconsistent with the etcd REST API and obviously not the expected format if `--output json` was specified.

For example, trying to remove a key that does not exist with etcdctl:
`$ etcdctl --debug --output json rm foo`
`Error:  100: Key not found (/foo) [27]`

Trying to remove th

[2016-07-18 17:56] #5942 closed

[2016-07-18 17:57] xiang90 commented on #5894
@mitake Can you please take a look?

[2016-07-18 18:00] gyuho commented on #5967
Did you just run `go build github.com/coreos/etcd`? You should build with https://github.com/coreos/etcd/blob/master/build.ps1 Powershell script.

[2016-07-18 18:01] sxchapma commented on #5952
@heyitsanthony I have changed settings to match your above message, still getting the timeouts.
looking at netstat It seems node2,node3 connect to node1 just fine, but no other connections are established, not sure if there is something in that to understand.  I can telnet manually from any node to any node and it connects and then after about 10 seconds drops.  What command could I give to ETCD2

[2016-07-18 18:03] xiang90 commented on #5966
@heyitsanthony I think it is just because the IO was too slow. We already increased the timeout to 100ms. We can do 1s or even 5s for sure. But I feel it is over kill since this happens so infrequent. Also we can try inotify, but I feel it is over kill for this too.

[2016-07-18 18:06] xiang90 commented on #5952
@sxchapma I do not really think there is much we can do. I still feel it is just a connectivity issue between nodes on port 2380.

How did you try to test with telnet? Is it something like

node 1
[code]

node 2
[code]

?

[2016-07-18 18:09] sxchapma commented on #5952
@xiang90 I was trying both telnet fecore03.ccloudsandbox.dev01.vacum-np.sncrcorp.net 2380
and telnet 192.168.2.4 2380 in case dns resolution was causing issues, both connect just fine
I have tried "hi" and I get
HTTP/1.1 400 Bad Request

Connection closed by foreign host.

[2016-07-18 18:12] sxchapma commented on #5952
@xiang90 I understand your question now,  no i didn't setup a netcat on one side I have etcd2 running on all nodes, so am able to connect manually using telnet to each etcd2 server on 2380 or 2379 with no problems, it will just diconnect if I type anything

[2016-07-18 18:14] xiang90 commented on #5952
@sxchapma I really do not know why... etcd internally just uses go default tcp dial. there is no magic inside. There might be something else configured on your machine? So etcd process could behaved differently from doing manually telnet?

[2016-07-18 18:15] sxchapma commented on #5952
@xiang90 is there any further level of debug I can turn on?  Thanks for your help

[2016-07-18 18:17] xiang90 commented on #5952
@sxchapma No. The timeout thing is the obvious error I believe. Also note that etcd resolved dns when it bootstrapped, not dynamically. Maybe you want to see what ip it was resolved at the startup logging.

[2016-07-18 18:18] #5901 closed

[2016-07-18 18:53] xiang90 commented on #4924
We have initial support already. Shall we break this up into multiple issues now?

[2016-07-18 18:57] heyitsanthony commented on #4924
@xiang90 yeah, we can close this and open individual issues as they come up. The only missing bit right now is there are no integration tests using failpoints.

[2016-07-18 19:00] xiang90 commented on #4924
@heyitsanthony I am closing this out. Feel free to create smaller issues. Thanks!

[2016-07-18 19:00] #4924 closed

[2016-07-18 19:45] robszumski opened #5971 "contrib/systemd: add full static cluster example of 3 or 5 machines"
There is a single-node example unit for systemd, but there isn't a clustered example. It would be great if one existed for 3 or 5 nodes with a unit for each of them.

Will be a great resource for real world usage of all of the flags, in an easy to "copy/paste and start" way.

[2016-07-18 21:59] #5966 closed

[2016-07-18 22:07] xiang90 commented on #4852
the grpc proxy now supports for v3 api. this umbrella issues should be closed. we will have follow up issues.

[2016-07-18 22:07] #4852 closed

[2016-07-18 22:09] xiang90 commented on #4378
@heyitsanthony What do you think? shall we add hard priorities to endpoints?

[2016-07-18 22:24] heyitsanthony commented on #4378
@xiang90 sure, this is probably something we should handle in the grpc balancer

[2016-07-18 22:26] gyuho commented on #5618
Closing via https://github.com/coreos/etcd/pull/5626.

[2016-07-18 22:26] #5618 closed

[2016-07-19 00:05] #5953 closed

[2016-07-19 01:40] xiang90 commented on #4378
@heyitsanthony I plan to copy what dns srv support: https://en.wikipedia.org/wiki/SRV_record#Provisioning_for_high_service_availability

[2016-07-19 03:06] mitake commented on #5894
@xiang90 @bluepeppers sure, I'm looking at the problem. I'll reply soon.

[2016-07-19 03:21] #5900 closed

[2016-07-19 03:47] siddontang opened #5981 "close embed etcd block"
Hi @xiang90

I starts three embed etcd servers, and then close one, but the Close function can't be over.

Etcd sha1: 04155423f535791439b044fff0690e120b3eba30

The console outputs:

[code]

[2016-07-19 03:48] xiang90 commented on #5981
/cc @heyitsanthony Can you please take a look?

[2016-07-19 03:59] xiang90 opened #5982 "test:TestWatchCompactRevision"
[code]

[2016-07-19 04:14] siddontang opened #5983 "client doesn't retry for server stopped error"
Hi
I run three nodes, and set all endpoints in client.
When I close a server, and call client API multi times, the client will return `etcdserver: server stopped` each three times. like:

[code]
I think it is better to retry some error in client.

[2016-07-19 04:54] xiang90 commented on #5983
/cc @heyitsanthony Can you take a look?

[2016-07-19 06:46] siddontang commented on #5981
I find that this is caused by another problem, I may create an issue later.

[2016-07-19 06:46] #5981 closed

[2016-07-19 06:49] mitake commented on #5894
@bluepeppers 's idea of adding `IsRoleNotFound()` seems to be good to me. But currently it is hard because the error code isn't propagated well. It is because both of the server and the client library don't marshal and unmarshal error code:

- server side: https://github.com/coreos/etcd/blob/master/etcdserver/api/v2http/httptypes/errors.go#L31
- client side: https://github.com/coreos/etcd/blob/mas

[2016-07-19 07:40] siddontang opened #5985 "clientv3: how watch know the remote etcd is closed?"
Hi
I start on etcd node and use the simple watch example here https://godoc.org/github.com/coreos/etcd/clientv3#example-Watcher--Watch

but when I kill etcd server, I find that we can't know the server is down and watch still hangs up.
Do we have any way to check server is down in watch?

[2016-07-19 08:06] siddontang opened #5986 "embed: panic for duplicate enum registered"
Hi
I embed etcd and it works ok until I update the newest etcd.
The program panics when starts, error:

[code]

I find that this panic is introduces in this commit.  https://github.com/coreos/etcd/commit/50be793f098541528d214d49154459c0de297ce7

How to solve it?

[2016-07-19 11:01] sinsharat commented on #5967
Thanks gyuho it worked!

[2016-07-19 11:01] #5967 closed

[2016-07-19 11:36] kayrus opened #5987 "etcd should support signals handling"
HUP - to reload configuration, certs, etc.
relates to #4034 and #5968

[2016-07-19 11:58] guoger opened #5988 "`Empty reply from server` when watching directory with `waitIndex`"
To reproduce:
* Step 1. Start an Etcd server
* Step 2. Post an in-order key
[code]
Response:
[code]
* Step 3. Update TTL using key name returned in previous step
[code]
Response:
[code]
* Step 4. Post another in-order key
[code]
Response:
[code]
* Step 5. Watch for event with index 6
[code]
Response:
[code]

I would expect the **same response in step 4 being returned**. Am I misunderstanding the u

[2016-07-19 13:30] ekle opened #5989 "clientv3/concurrency/session TTL is 60s which is too long for some use-cases"
at the moment the session TTL is hard-coded to 60s (https://github.com/coreos/etcd/blob/master/clientv3/concurrency/session.go#L27)
this value should be configurable as 60s are too long for some use-cases, to detect a offline node.

[2016-07-19 16:15] xiang90 commented on #5985
You should kill the listener, then the stream will be shutdown. Or you can enable progressNotify to do application level heartbeat.

[2016-07-19 16:15] xiang90 commented on #5986
/cc @gyuho

[2016-07-19 16:21] xiang90 commented on #5988
@guoger I cannot reproduce. Everything just works for me. What is your version of etcd?

[2016-07-19 16:22] heyitsanthony commented on #5985
Watch isn't really meant for detecting disconnects. Maybe use a Session?

[2016-07-19 16:54] gyuho commented on #5986
@siddontang Here's how I reproduced even without embedding etcd:

[code]

[code]

The problem is `github.com/pingcap/pd` imports the same `raftpb` package here https://github.com/pingcap/pd/blob/master/server/event.go#L19.

And the `raftpb` package in pingcap https://github.com/pingcap/kvproto/blob/master/pkg/raftpb/raftpb.pb.go#L35 has the duplicate name in proto as `etcd/raftpb`.

Since etcd swi

[2016-07-19 17:08] #5982 closed

[2016-07-19 17:26] xiang90 commented on #5054
@glevand We listed a few things that need to be done to make arm64 officially supported here: https://github.com/coreos/etcd/blob/master/Documentation/op-guide/supported-platform.md

For arm64, we need a maintainer and set up integration test CI. Do you want to help on that?

[2016-07-19 17:26] xiang90 commented on #5054
also @luxas

[2016-07-19 17:55] xiang90 opened #5992 "test: TestCtlV3Migrate"
[code]

/cc @gyuho

[2016-07-19 18:04] sxchapma commented on #5952
@heyitsanthony @xiang90
The Openstack admin fixed some networking stuff and voila it all worked without any changes to the last config that everyone helped me with below.
3 Nodes all came up and registered with each other and elected a leader just fine

thanks
Scott

 etcd2:
    listen-client-urls: http://$private_ipv4:2379,http://127.0.0.1:2379
    advertise-client-urls: http://fecore0${NODEINDEX

[2016-07-19 18:07] xiang90 commented on #5952
@sxchapma OK. Glad you figured it out.

[2016-07-19 18:07] #5952 closed

[2016-07-19 18:08] heyitsanthony commented on #5936
@nshubhy any updates?

[2016-07-19 18:13] jlamillan opened #5993 "etcdctl not honoring --output json and responding with plain text for ls command"
The global etcdctl option, `--output json` isn't being honored in the `etcdctl ls` operation. This is inconsistent with the etcd REST API and obviously not the expected format if `--output json` was specified.

For example,:
`$ etcdctl --output json ls`
`/fooDir
/baz
/foo1
/foo3
/new
/foo
/myDir
/newkey`

Doing the same thing using the REST API and curl:
`$ curl -X GET http://localhost:2379/v2/key

[2016-07-19 18:15] xiang90 commented on #5993
@jlamillan Do you want to fix this?

[2016-07-19 18:33] heyitsanthony commented on #5983
@siddontang is this v2 or v3?

[2016-07-19 18:34] jlamillan commented on #5993
Sure, I'll submit a pull request when I get a chance....

[2016-07-19 18:35] xiang90 commented on #5993
@jlamillan Thank you!

[2016-07-19 21:16] glevand commented on #5054
@xiang90 Sure, I can act as arm64 maintainer.  We have our local Jenkins system doing the etcd tests, which are generally working OK, but those results are not available publicly.  In the next week or so I will do some rework of the tests and work toward having public test results.

[2016-07-19 21:20] xiang90 commented on #5054
@glevand Is it possible to hook the testing infra with github? So we can run the tests for each pull request?

[2016-07-19 21:35] glevand commented on #5054
@xiang90 The problem is that we need to run on an arm64 system.  We may be able to use qemu on x86 machines to emulate arm64, but qemu may not run fast enough for the tests to succeed without timeouts.  The other option is to run the tests on real arm64 hardware, but it needs to be looked into how to this with github.

[2016-07-20 00:37] siddontang commented on #5983
@heyitsanthony v3

[2016-07-20 01:23] guoger commented on #5988
@xiang90 Interesting... I constantly got this error on kernel `3.13.0` but it works at least on `3.19.0`. Etcd version is 2.3.3

I guess it might be a kernel compatibility issue? may someone confirm?

[2016-07-20 01:25] siddontang commented on #5985
@xiang90

I call embed etcd Close, and I think it will close the listener too, but watch doesn't know it.
I use clientv3.WithProgressNotify() in watch, but seem no help too.

[2016-07-20 01:32] siddontang commented on #5986
Hi @gyuho

I change our kvproto to another name, and it doesn't panic with your above example. I will do more test in our project.

[2016-07-20 02:25] Yancey1989 opened #6000 "All etcd2 server exits with static mode."
#### Environment
[code]
#### Deploy bash script, 3 etcd memory with named infra0, infra1 and infra2

[code]

####  All process will be existed after a period of time. Here is the logs

infra0 log
[code]
infra1 log

[code]
infra2 log
[code]

[2016-07-20 02:43] guoger commented on #5988
The same error to kernel `3.16.0`

But `etcd v3.0.3` works fine. So I'll drop the issue

[2016-07-20 02:43] #5988 closed

[2016-07-20 02:46] heyitsanthony opened #6002 "test: performance regression tests"
It's often unclear whether a change to etcd will significantly impact performance. To catch performance issues early, etcd should have performance regression testing including historical data. The performance data could be t-tested for some statistical confidence.

I don't expect this to need significant amounts of new code, a lot of resources, or much time to run-- it would launch a cluster, run

[2016-07-20 02:57] #5986 closed

[2016-07-20 02:58] heyitsanthony commented on #6000
@Yancey1989 these logs appear incomplete. What are the logs on infra0 and infra1 at the time when infra2 starts logging `etcdserver: cannot get the version of member e344a1396881242e`?

[2016-07-20 03:26] heyitsanthony commented on #5054
@glevand qemu is definitely too slow for the tests-- @mischief tested arm64 etcd on qemu a few months ago and got a bunch of timeouts.

[2016-07-20 03:59] xiang90 commented on #5985
@siddontang After enabling with progress notify, the watcher should expect to receive notification at least every minute. If it cannot receive anything, you should kill it. Watch is designed to handle connection failures, so it just keep on retrying. @heyitsanthony Shall we expose the errors by adding a errc chan?

[2016-07-20 04:06] xiang90 commented on #5985
@siddontang Also as @heyitsanthony mentioned, watch is not really designed for detecting connection issues.

[2016-07-20 04:49] heyitsanthony commented on #5985
@xiang90 I don't think Watch should say anything about disconnects; it's at the wrong network layer. The feature probably belongs in the balancer.

[2016-07-20 04:55] xiang90 commented on #5985
@heyitsanthony I do not mean watcher API. I mean for the client interface, we probably should expose some errorc. So the user can know the client is experiencing connection errors.

[2016-07-20 04:57] heyitsanthony commented on #5985
@xiang90 sure, agreed

[2016-07-20 06:26] Yancey1989 commented on #6000
@heyitsanthony thanks for your reply.
the last logs with **infra1**  stop on
[code]

infra0:
[code]

[2016-07-20 06:47] YuleiXiao opened #6003 "compiler fail after import clientv3"
I try to use clientv3, but it compiler fail after I import it. Do I need do anything else?

[code]

[2016-07-20 07:19] mitake commented on #5719
@xiang90 I see. Then can we close this issue after https://github.com/coreos/etcd/pull/5793 is merged?

[2016-07-20 08:01] purpleidea opened #6004 "Move to git master of more dependencies"
Etcd has a lot of vendored dependencies. This makes it hard to stay up to date with the newer advances in those libraries. Instead of small easy to fix breaks, we now have to deal with large breaks every time we want to move to a new version. This is a devops anti-pattern.

I recommend removing as many dependencies from godep as possible to hopefully start a downwards trend. Just my $0.02, hopeful

[2016-07-20 10:46] swingbach opened #6005 "raft: discover and fix the clock drift of leader lease"
I hope here is the right place to discuss about the issue

the current implementation of leader lease is based on the logical clock called tick, triggered by users in a certain interval outside the raft. but we may suffer from the problem of clock drift due to the delay of gc or scheduler, so the leader may hold its leader lease longer than it should.

since the interval of calling tick can be eva

[2016-07-20 15:54] #5983 closed

[2016-07-20 16:23] gyuho commented on #6004
Do you mean to move `vendor` directory to etcd root directory?

[2016-07-20 16:24] xiang90 commented on #5719
@mitake Yes. We should.

[2016-07-20 16:25] gyuho commented on #6003
Can you try again after updating your grpc dependency?

[2016-07-20 16:32] #5719 closed

[2016-07-20 17:34] #5789 closed

[2016-07-20 18:22] purpleidea commented on #6004
@gyuho I mean to try and reduce the number of entries that require an entry in https://github.com/coreos/etcd/blob/master/cmd/Godeps/Godeps.json that isn't git master. Not possible or sane for every project, but perhaps more could be git master.

[2016-07-20 18:25] xiang90 commented on #6004
@purpleidea I do not really understand you suggestion. We vendor everything and only updates when it is necessary. We cannot just track master. We need to reduce risk and maintain etcd regardless what other people do. Also most of the dependencies are introduced by some major ones. We have pretty good idea of when and how to update our dependencies. This is a common things for "large" open source

[2016-07-20 18:33] purpleidea commented on #6004
@xiang90 Let me try to phrase it differently once more.

Let's compare two situations:

You have some small library that we depend on that occasionally changes. Each small commit that they make usually doesn't break anything, but every once in a while they make a small API change, and this breaks *our* git master. This is bad, but because we have good CI, we find the issues right away, and we can

[2016-07-20 18:38] xiang90 commented on #6004
This is not true. We only really depend on a handful of stuff. Updating them is never hard for us. (dealing with the toolings for upgrading them is hard though)  So the main problem you listed just does not really exist.

Moreover, keeping each dependency up to date is very different from keeping them working together well. A might depend on a old version of B for example. You cannot track master

[2016-07-20 18:50] gyuho opened #6010 "Investigate serializable range performance regression"
Also reported at https://github.com/grpc/grpc-go/issues/771. Before and after grpc dependency update https://github.com/coreos/etcd/pull/5948, there's huge performance drop in serializable range requests:

<br>

https://github.com/coreos/etcd/commit/07ed4da2ffe871444c83be63e508d2adf4c87175:

[code]

<br>

https://github.com/coreos/etcd/commit/d9a8a326dfe4691cf90d2c4d2674e3602de812d8

[code]

<br>

[2016-07-20 20:16] xiang90 commented on #6005
@swingbach

I think we should still keep logic clock inside raft to keep raft easy to test and reason about. However, before raft tries to make any time related decision, it has to call external func to get the current logic time to be certain.

We do not have to trust go runtime timer. We can get the actual elapsed time from the hardware. So that the drift is bounded by the hardware, not NTP or o

[2016-07-20 20:27] #5992 closed

[2016-07-20 20:38] xiang90 opened #6012 "grpcproxy: fill in the header for watch create request"
We need to make clientv3 lib to return the create response first.

[2016-07-20 20:46] #5878 closed

[2016-07-20 22:39] LK4D4 opened #6013 "etcd/raft: panic on maybeUpdate"
Panic looks like:
[code]
It's sorta hard to reproduce, but it happens when I stop whole raft cluster and start it again. We're using commit ce63f107382080fda29ed124249b16bfea224dc0.
Line on which it fails:
[code]
It might be swarmkit bug, but I thought it worth to report because panics are scary.

[2016-07-20 22:47] xiang90 commented on #6013
@LK4D4 It seems to me that the peer list of raft.Config you provided when restarting raft does not contain the local raft itself. I can change the code to fail this around here: https://github.com/coreos/etcd/blob/release-2.3/raft/raft.go#L218

It would be great if you can reproduce it and confirm it is the case.

[2016-07-20 22:52] LK4D4 commented on #6013
@xiang90 I'll try to add logging there now. I actually can reproduce pretty regularly, but not very fast :)

[2016-07-20 23:01] LK4D4 commented on #6013
[code]
@xiang90 I've added log there and it seems like it's indeed the case.

[2016-07-20 23:06] xiang90 commented on #6013
@LK4D4 I will add some checking in the initialization code path. So it will fail fast. Sounds good? At the meantime, please report back if you find anything else we can improve. Thank you!

[2016-07-20 23:09] LK4D4 commented on #6013
@xiang90 sounds good for me. Seems like peers is empty in my case - definitely invalid configuration.
Thanks!

[2016-07-20 23:12] xiang90 commented on #6013
@LK4D4 Oh. One more thing, for the restart case the peer list should be loaded from the previous state here: https://github.com/coreos/etcd/blob/master/raft/raft.go#L220. So you also want to check that.

[2016-07-20 23:14] LK4D4 commented on #6013
@xiang90 Yup, figured that out. But what's weird, peers *always* empty for me there, even when cluster restarts okay.

[2016-07-20 23:16] xiang90 commented on #6013
@LK4D4 When you restart the cluster, the peers in the config can be empty. It will be loaded from previous state anyway.

[2016-07-20 23:17] LK4D4 commented on #6013
@xiang90 I mean I check after
[code]
and it's still empty.

[2016-07-20 23:19] LK4D4 commented on #6013
I see messages from that func:
[code]
peers slice is always empty there :(

[2016-07-20 23:22] xiang90 commented on #6013
@LK4D4 Oh... There is no snapshot happened, so the peer information is not stored in the snapshotted state. They are still in the first few log entries, which will be re-applied. Can you try to log out all the node add / node remove commands before the panic to see if it adds the local node correctly?

[2016-07-20 23:24] xiang90 commented on #6013
@LK4D4 Here: https://github.com/coreos/etcd/blob/master/raft/raft.go#L959-L988

[2016-07-20 23:29] xiang90 commented on #6013
@LK4D4 Maybe you start raft before finish reapply previous log entries?

[2016-07-20 23:42] LK4D4 commented on #6013
@xiang90 I'm not sure. Maybe @abronan knows more.
So, my experiment is: I start five nodes cluster, then stop them all, then start again.
First four node start okay, I see five calls of `addNode` on each of them, but the fifth node doing something different.
Log for OK node looks like(I've added logs to addNode):
[code]
Log for the fifth node looks like:
[code]
After this it panics (in `becomeLead

[2016-07-20 23:44] xiang90 commented on #6013
@LK4D4 OK. Can you show me the related code in swarmkit? I think I probably know where the issue is. Just want to see the actual code to confirm.

[2016-07-20 23:46] LK4D4 commented on #6013
@xiang90 I believe it's somewhere near https://github.com/docker/swarmkit/blob/master/manager/state/raft/raft.go#L287

[2016-07-20 23:50] xiang90 commented on #6013
@LK4D4

I think the code calls Campaign before the raft node fully initialized.

Try to apply this patch https://github.com/xiang90/etcd/commit/99185464cc5a90914e3073d7928205c30d69c73c?

Let me know if this fixes the problem.

[2016-07-20 23:51] LK4D4 commented on #6013
@xiang90 will try now, thanks!

[2016-07-21 00:00] LK4D4 commented on #6013
@xiang90 so far(~30 runs) I wasn't able to reproduce panic. Also, as a side effect, my test become twice faster on average :)
Thanks for your help!

[2016-07-21 00:03] xiang90 commented on #6013
@LK4D4 I will get a quick fix tomorrow, then you can cherry pick if you want. Then I need to get a full fix: doc + other related safety checking.

[2016-07-21 01:16] siddontang opened #6014 "embed: hope embed etcd can register HTTP handler"
Hi

We embed etcd in our project, and our project also uses HTTP like listening port 9090.

I think it is better to use only one HTTP port 2379, so maybe we can register our own HTTP handler in etcd mux too. Of course, we must guarantee ourself that the router path can't conflict with etcd's.

[2016-07-21 02:08] YuleiXiao commented on #6003
oh, yes. My grpc had been checkout to a old commit. It is ok now, thanks.

[2016-07-21 02:08] #6003 closed

[2016-07-21 07:02] helinbo2015 opened #6015 "Etcdv3: service kv.Range: how to get the newest events from the pointed resourceversion"
Firstly, Thanks for your attention.
We can use service watch.Watch with resourceversion to get events that have happened(from the pointed resouceversion), but in common we like to get all of the newest events from a resourceversion in one request like kv.Range. and i have carefullly read the [api reference doc](https://github.com/coreos/etcd/blob/master/Documentation/dev-guide/api_reference_v3.md)

[2016-07-21 13:59] xiang90 commented on #6015
If you do not specify revision, watch will watch from current revision. If you also want to get the current kvs besides watch, you can do a range first, and then watch from the revision of the header of the range request.

[2016-07-21 14:09] #5993 closed

[2016-07-21 14:16] sergeyfd commented on #5898
It seems like a different issue. Do you run NTP on your nodes? It looks like time is out of sync on them.

[2016-07-21 14:17] xiang90 commented on #6014
@siddontang

This should not be hard. All we need to is to expose https://github.com/coreos/etcd/blob/master/embed/serve.go#L75 and https://github.com/coreos/etcd/blob/master/embed/serve.go#L103 in https://github.com/coreos/etcd/blob/master/embed/etcd.go#L52 as listeners. Do you want to give it a try? Thanks.

[2016-07-21 16:22] xiang90 commented on #3223
closed by https://github.com/coreos/etcd/pull/5991

[2016-07-21 16:22] xiang90 commented on #3098
closed by https://github.com/coreos/etcd/pull/5991

[2016-07-21 16:22] #3098 closed

[2016-07-21 16:22] #3223 closed

[2016-07-21 17:08] gyuho opened #6017 "functional-tester: cluster too slow: only commit..."
I redeployed with master branch yesterday, and got a bunch of failures.

Happens more often in 5-node cluster. Think it's because we changed our stresser to also deletes and range, which could take longer than `put`s. Will investigate.

[code]

[2016-07-21 17:12] gyuho commented on #5658
@mattfarina Thanks! I will give another try sometime next month. And keep you updated.

[2016-07-21 18:21] discordianfish opened #6018 "TLS peer certs with missing client auth attribute cause misleading "publish error: etcdserver: request timed out""
The actual problem was simply missing the client auth attribute in the TLS cert used for peer auth. But the error message is very misleading. I would expect something telling me that the cert isn't valid.

----
Trying to run a three node etcd 3.0.3 cluster:

- master0: 10.130.0.1
- master1: 10.130.1.1
- master2: 10.130.2.1

With the following flags (IP_INT is ip above and index is the # after mast

[2016-07-21 18:24] gyuho commented on #6018
What warnings does etcd print out?

[2016-07-21 18:26] discordianfish commented on #6018
@gyuho They are in the gist. To be fair, I gist'ed a lot :)
Talking about:
[code]
openssl prints that to stderr, but still prints 'Verify ok'

[2016-07-21 18:49] discordianfish commented on #6018
As discussed in IRC, it seem like I used the wrong cfssl profile which generated server-only certificates. I'll verify in a bit if this fixes my problem.
That being said, I'd still consider the lack of a proper error message as a bug.

[2016-07-21 20:03] LLParse opened #6019 "Briefly Losing Quorum on Automated Upgrades"
Hello,

I am attempting to automate the upgrade process for etcd on Rancher. We are experiencing situations where quorum is briefly lost as an upgraded node comes online and the next stopped. Per the documentation:

[code]

Since we will support automated upgrades of etcd clusters across a wide variety of different hardware and dataset sizes, this doesn't appear to be a silver bullet solution to o

[2016-07-21 20:08] heyitsanthony commented on #6018
@discordianfish the error is reported when etcd is started with `--debug`:
[code]

The messages flood the logs, so I'm not sure if it's a good idea to raise the logging level above debug.

[2016-07-21 20:23] heyitsanthony commented on #6019
@LLParse, two potential ways to do this:
1) query the raft index using `ETCDCTL_API=3 ./bin/etcdctl endpoint status`
2) write a key into the cluster on upgrade, then poll the upgraded endpoint on the key using non-quorum get until the value matches what was written

[2016-07-21 20:36] xiang90 commented on #5067
@linsimiao @AdoHe @raoofm @cdancy @lburgazzoli @Randgalt @ajityagaty

We created a java client repo for etcd: https://github.com/coreos/jetcd. Let's move the discussion there.

[2016-07-21 20:36] #5067 closed

[2016-07-21 20:48] LLParse commented on #6019
Great, thanks a lot for the fast response!

[2016-07-21 20:48] #6019 closed

[2016-07-21 21:36] discordianfish commented on #6018
@heyitsanthony Damn, I missed that flag. Still, this kind of error should be probably logged with higher severity.

[2016-07-21 22:36] hongchaodeng opened #6020 "Docs on converting v2.2 flags to v3 flags"
There are some flags from v2.2 being lost in v3 for etcd server binaries. For example, "-addr" is one of them.

We should have docs about this for etcd upgrade.

[2016-07-21 22:43] hongchaodeng commented on #6020
Note:
- https://github.com/coreos/etcd/blob/release-2.0/etcdmain/config.go#L187-L193
- requires HTTP/HTTPS schema in addr

[2016-07-21 22:46] xiang90 commented on #6020
@hongchaodeng They are depreciated in 0.4 -> 2.0 upgrades. Not 2.0 -> 3.0. We cannot carry this forever. I do not think this is something we should address in 3.0 doc.

[2016-07-21 22:46] #6020 closed

[2016-07-21 23:48] #5408 closed

[2016-07-22 00:48] Calpicow opened #6022 "etcd v3 upgrade: snapshot file doesn't exist"
I'm currently running etcd v2.3.7, and trying to upgrade to v3.0.3 by terminating v2 nodes and spinning up v3 nodes one at a time. Starting v3 nodes fail with the following log entries:

[code]

[2016-07-22 01:23] helinbo2015 commented on #6015
@xiang90  thank you for replying
watch is a long polling action, and i‘d like to complete it in a short grpc request(like range).
if i want to get events from specified revision to current revision, how can i achieve it.

[2016-07-22 04:27] xiang90 commented on #6022
To upgrade, you should simply replace the binary and restart etcd. It seems that you added a v3 member into a v2 cluster or you removed the pervious data dir? This is related to https://github.com/coreos/etcd/issues/5833. But I would suggest you to try what https://github.com/coreos/etcd/blob/master/Documentation/upgrades/upgrade_3_0.md suggests first.

[2016-07-22 05:36] YuleiXiao opened #6023 "Does watcher notify if set the same value"
I watch a key, and set the same value interval. Does the watcher call callback function every time if the value not changed?

[2016-07-22 05:38] xiang90 commented on #6023
yes. for this kind of questions, i would suggest you to read the doc first. or you can do some simple experiments on your local dev env. or you can post to the mailing list:https://groups.google.com/forum/?hl=en#!forum/etcd-dev.

[2016-07-22 05:38] #6023 closed

[2016-07-22 09:39] ekle opened #6024 "clientv3.Put result.PrevKv is always empty"
the response struct PutResponse of clientv3.Put contains a field PrevKv.
But it is not populated. It is always nil.

[2016-07-22 11:13] janosi opened #6025 "Defining lower lease TTL than the default hardcoded min value"
According to our observations, min lease TTL value is hardcoded to 5s in etcdv3, see [1].
We would like to have the possibility to define lower value than this when claiming a lease. Would it be possible to have a functionality when:
* if the requested lease TTL value at lease claiming time is lower than the default min lease TTL, the requested lease TTL is used
* if the requested lease TTL value

[2016-07-22 13:17] gyuho commented on #6024
Did you pass this options? https://github.com/coreos/etcd/blob/master/clientv3/op.go#L279

[2016-07-22 13:27] ekle commented on #6024
yes:
[code]
res.PrevKv is still nil

[2016-07-22 13:47] xiang90 commented on #6025
@janosi Setting Lease TTL low is expensive and dangerous. Whatever TTL you set is just a hint to the server,  the server would decide the actual TTL and might even extend it on some cases (new leader elected). The guarantees is that the lease will expire as you expected when there is no server failures or no sudden overload event. 5 seconds seems like a good lower-bound to me. You might want to se

[2016-07-22 16:17] LLParse opened #6026 "Etcd dies when running backup command"
We are running a 3-node (containerized, Alpine v3.3 base OS) etcd cluster, v2.3.6 and testing disaster scenarios. We've lost 2 nodes and are attempting to perform a backup on the last living node.

We've experienced odd behavior exactly once where the `etcdctl backup` command caused the etcd node to fall over. Since etcd was running as PID 1, this had the side effect of stopping the backup before

[2016-07-22 16:18] heyitsanthony commented on #6024
@ekle what version of the etcd server are you running? I just tried that code using master and it seems to work fine.

[2016-07-22 16:20] gyuho commented on #6024
@ekle Yeah that feature only exists in current master branch.

[2016-07-22 16:29] xiang90 commented on #6026
@LLParse Do you have any log from the etcd server?

[2016-07-22 16:40] timothysc opened #6027 "Updating k8s to etcd 3.0.3 causes 'use of internal package not allowed'"
[code]

[2016-07-22 16:42] heyitsanthony commented on #6026
@LLParse the windows comment is there because etcd <3.0 doesn't support locking files in windows.

[2016-07-22 16:46] gyuho commented on #6010
Here's some progress in the investigation. It's very easy to reproduce. This diff against master branch below has the 95K range performance. This is just to roll back grpc error type change commit https://github.com/grpc/grpc-go/commit/ffdfb592e8ac60f3f9ca4889661eabfe09c11628.

[code]

<br>
Expected performance:

- Go 1.6.2
- etcd master branch
- applied the patch above
- benchmark CLI + Go tip +

[2016-07-22 16:46] LLParse commented on #6026
Ah, that makes sense @heyitsanthony, but now I have no theories as to why our backup caused the node to fail. I suspect there are too many variable in the equation (we could've exhausted resources, etc) to do anything further without logs. I am still curious if anyone has experienced this.

[2016-07-22 16:51] gyuho commented on #6027
What go version does this build with?

[2016-07-22 16:52] heyitsanthony commented on #6027
@timothysc It looks like something is vendoring / importing gengo/grpc-gateway. The repo has moved to grpc-ecosystem/grpc-gateway and etcd makes no reference to the old repo path. The deps in k8s are probably stale.

[2016-07-22 17:55] luxas commented on #5054
I wouldn't either go the qemu route. Qemu has quite poor Go runtime support.

Here's an article about Github and Jenkins, might be interesting: https://www.terlici.com/2015/09/29/automated-testing-with-node-express-github-and-jenkins.html

[2016-07-22 18:06] xiang90 commented on #6010
@gyuho We probably need to figure out the caller of newFramer function.

[2016-07-22 18:13] timothysc commented on #6027
I built with go1.6.2 and I believe it is transitive from etcd deps that reference:

"github.com/gengo/grpc-gateway/runtime"
"github.com/gengo/grpc-gateway/utilities"

[2016-07-22 18:18] heyitsanthony commented on #6027
@timothysc OK, I see the vendor update happened in master slightly after 3.0.3. Should be fixed in 3.0.4.

[2016-07-22 18:22] timothysc commented on #6027
eta on 3.0.4?

[2016-07-22 18:22] xiang90 commented on #6027
Next Wednesday.

[2016-07-22 18:24] timothysc commented on #6027
will it be based on master?  if so, I can just tread ahead for now.

[2016-07-22 18:27] xiang90 commented on #6027
no. current master is not stable. that is why we need to back-port to branch 3.0. there is a few grpc related issues we need to figure out. if you do not need a release, we probably can backport the import fix now. /cc @gyuho

[2016-07-22 18:32] gyuho commented on #6010
Yeah [`3169kB 14.24% 59.57%     3169kB 14.24%  cmd/vendor/google.golang.org/grpc/transport.newFramer`](https://github.com/grpc/grpc-go/blob/master/transport/http_util.go#L298-L306) is using a lot of resources, but same in the GOOD performance profiling data.

[code]

is something that stand out in `top` with bad performance (master branch).

- [bad_cpu.pb.gz](https://github.com/coreos/etcd/files/3

[2016-07-22 18:35] gyuho commented on #6027
@xiang90 The rename patch is already backported https://github.com/coreos/etcd/commit/be541f36416c884576c041a83f127e404413697e to `release-3.0` branch.

But we put off publishing that release to next Wednesday because of grpc performance issue.

[2016-07-22 18:35] xiang90 commented on #6027
@timothysc OK. If you try the current 3.0 release branch head (not the 3.0.3 tag), it should work.

[2016-07-22 18:49] timothysc commented on #6027
little further:

[code]

[2016-07-22 18:52] gyuho commented on #6027
@timothysc Yeah `grpc-gateway` imports `github.com/golang/protobuf` (https://github.com/coreos/etcd/blob/master/cmd/Godeps/Godeps.json#L90). Does Kubernetes have `golang/protobuf` in its vendor? So now we need both `gogo/protobuf` and `golang/protobuf`.

[2016-07-22 19:28] timothysc commented on #6027
Ahh looks like transitive mismatch on the dep.. I'll resolve shortly.

[2016-07-22 20:05] xiang90 commented on #6018
@discordianfish Do you have the full logging history? I think etcd should complaint about health checking connection issue at default logging error.

[2016-07-22 20:16] heyitsanthony commented on #6018
@xiang90 I reproduced this configuration-- it doesn't say anything about failure to establish connections, just a publish error and election cycling; the error gets eaten up in `rafthttp.peerstatus.deactivate`.

[2016-07-22 20:19] xiang90 commented on #6018
@heyitsanthony OK. I will look into this. I think we should make the logging better.

[2016-07-22 20:30] timothysc commented on #6027
k, I've got it mostly figured out.  We should still leave this issue open until 3.0.4 is released and then I will update the deps.

[2016-07-22 21:35] hongchaodeng opened #6029 ""Not Capable" errors after getting "3.0 version""
When doing
[code]

It gives output:
[code]

Nonetheless, client still gets "not capable" error. The client is fine after retrying, which means etcd cluster has negotiated 3.0 version thereafter.

This "/version" endpoint is useful for bootstrapping servers after etcd.

[2016-07-22 21:35] hongchaodeng commented on #6029
@heyitsanthony

[2016-07-22 21:39] gyuho commented on #6010
Actually there's not much difference between `handleStreams` calls, when benchmark runs with `--total=1000000`. Both do about the same calls to `handleStreams`.

- [pprof-data-bad.pb.gz](https://github.com/coreos/etcd/files/379110/pprof-data-bad.pb.gz)
- [bad.pdf](https://github.com/coreos/etcd/files/379114/bad.pdf)

![bad](https://cloud.githubusercontent.com/assets/6799218/17071978/b8961342-5019-

[2016-07-22 21:43] heyitsanthony commented on #6029
A brief analysis of what's going wrong: the version http handler is returns the most recent semver but the enabled map is only updated on a 500ms periodic basis. Since the grpc interceptor does the capability check on the enabled map, there is up to a 500ms window where etcd reports 3.0.0 capabilities but will reject 3.0.0 requests. In other words, the value exposed in the version endpoint should

[2016-07-24 07:26] purpleidea opened #6034 "embed: doesn't listen"
I'm currently trying to port my embedded etcd code to use the new "embed" API.
https://github.com/coreos/etcd/tree/master/embed

Comparing the logs from a working etcd and the new "embed" etcd, it seems I'm missing lines like:

[code]

Which is consistent with the problem I'm having in that I can't connect to the new "embed" server. Digging a little further, I see that the Etcd struct https://gith

[2016-07-24 10:59] asaf commented on #5863
@vmatekole Do you mind sharing how you enabled logging? as I can't interact with etcd, I can't set `config/local/log`.

Should I fallback to non TLS, enable logging, and re-enable TLS to see logs ? or is there an easier way ?

Thanks.

[2016-07-25 04:09] heyitsanthony commented on #6034
@purpleidea could you share the code you're using to start `embed` and explain what behavior you're expecting? Is `embed.StartEtcd` returning an error?

[2016-07-25 07:43] CsatariGergely commented on #6025
@xiang90 can you please elaborate a bit what are the dangers of the low TTL setting?
In my understanding the aim of TTL is to enforce a refreshment of the data, so the user of the data can take it granted that the data is not older then the TTL of it. If the TTL is only a suggestion and the TTL is changed by the server due to "internal" events of the server, then there is no guarantee for the vali

[2016-07-25 14:23] xiang90 commented on #6025
@CsatariGergely The guarantee is that the lease will not expire before the announced TTL. The main use case of TTL is to implement locking and application lease. They require this behaviors not verse (Lease will expire before its TTL). We can not keep the exact TTL for a few reasons:

1. lease cannot be renewed when the majority of servers are down. We should not expire leases due to server side e

[2016-07-25 15:33] twang2218 opened #6035 "Missing documentation for etcd v3"
Maybe I missed it. As the `latest` tag of etcd image is pointed to `3.x` on [quay.io](https://quay.io/repository/coreos/etcd?tab=tags), I want to give it a try, however, I cannot find the documentation of `v3`.

The `latest` documentation on page <https://coreos.com/etcd/docs/latest/> is still `v2.3.7`. Maybe it should be updated to v3.

[2016-07-25 19:00] gyuho commented on #6035
We haven't made changes in coreos.com. In the meantime, please refer to https://github.com/coreos/etcd/tree/master/Documentation.

[2016-07-25 19:18] gyuho commented on #6024
@ekle Ping? I tried the code with master branch and confirm that it works.

[2016-07-25 20:08] purpleidea commented on #6034
@heyitsanthony Sorry for the delay in responding. I can confirm that the latest git master (presumably due to https://github.com/coreos/etcd/commit/6079be7dae57eda252a3fc9342dfcee687f481b3 ) fixes the problem! Thank you again!

[2016-07-25 20:08] #6034 closed

[2016-07-25 20:09] purpleidea commented on #6034
As an aside, why does the Etcd struct expose the listeners? Is there something we'd want to poke at them for?

[2016-07-25 20:14] heyitsanthony commented on #6034
@purpleidea no compelling functional reason, it's mostly there now so it's possible to check the `Addr()`s for debugging

[2016-07-25 22:08] gyuho commented on #5950
Happening again in 5-node cluster. Need to investigate.

[2016-07-25 22:35] Calpicow commented on #6022
Swapping the binary is working. I was hoping to keep the boxes immutable, instead of using CM tools or sshing into the boxes themselves.

Thanks.

[2016-07-25 23:31] xiang90 commented on #6022
Closing this there is a tracking issue at #5833.

[2016-07-25 23:31] #6022 closed

[2016-07-25 23:40] xiang90 opened #6041 "test: TestCtlV3MemberRemove"
[code]

[2016-07-26 00:10] purpleidea opened #6042 "embed: Can't restart etcd"
Etcd now has an embed API. Sweet :)

I believe there is still a bind problem when starting a server, then stopping it, and then starting it again. On the second start, you'll get a `bind: address already in use` error because the listen isn't closed properly.

Opening this issue at the request of @heyitsanthony

I think this _may_ be casually related to https://github.com/coreos/etcd/issues/2920

[2016-07-26 00:12] gyuho commented on #5950
[code]

Error when deployed with current master branch. Will investigate more.

[2016-07-26 00:14] gyuho commented on #6042
Can you provide code snippet to reproduce? Thanks.

[2016-07-26 00:19] purpleidea commented on #6042
@gyuho Fair enough, I don't have a trivial snippet at the moment, I'll reopen when I get one. Thanks!

[2016-07-26 02:58] xiang90 commented on #6024
I close this since @gyuho and @heyitsanthony provided the correct solution.

[2016-07-26 02:58] #6024 closed

[2016-07-26 03:23] SwordHoly opened #6043 "Etcd do not expose http API:DeleteRange"
in https://github.com/coreos/etcd/blob/master/etcdserver/etcdserverpb/rpc.proto:
rpc DeleteRange(DeleteRangeRequest) returns (DeleteRangeResponse) {} should be (?):
rpc DeleteRange(DeleteRangeRequest) returns (DeleteRangeResponse) {
       option (google.api.http) = {
           post : "/v3/alpha/kv/delete"
           body: "*"
           }
}

[2016-07-26 03:24] xiang90 commented on #6043
already fixed in master: https://github.com/coreos/etcd/blob/master/etcdserver/etcdserverpb/rpc.proto#L36.

will backport to 3.0 release on Wednesday.

[2016-07-26 03:24] #6043 closed

[2016-07-26 03:27] SwordHoly opened #6044 "Access http api /v3alpha/kv/txn failed."
curl -L http://x.x.x.x:2379/v3alpha/kv/txn -X POST -d '{"success":[{"request":{"request_put":{"key":"aGlwcG9fdGVzdF9mb3JfZXRjZA==","value":"aGlwcG9fdGVzdF9mb3JfZXRjZA=="}}}]}'

return:
{"Error":"json: cannot unmarshal object into Go value of type etcdserverpb.isRequestOp_Request","Code":3}

Do I use wrong json string? I am confused for how to spell json string for oneof field.

[2016-07-26 04:16] twang2218 commented on #6035
@gyuho Great, thank you for the link.

I'm not quite sure whether should I close this issue or not, maybe just leave it open until the site gets update.

[2016-07-26 04:23] gyuho commented on #6035
@twang2218 I will close this for now. Actually I am working on v3 version documentation this quarter. Should be ready by September.

Thanks!

[2016-07-26 04:23] #6035 closed

[2016-07-26 08:19] SwordHoly commented on #6044
Can any one help see this issue, I have try and search for a lot of time. But still can not solve it.
Thanks very much.

[2016-07-26 11:02] CsatariGergely commented on #6025
@xiang90 Thanks for the explanation. for me it seems we have two discussion now:
a) What is the meaning of TTL? Is it a guarantee that the data will be deleted after the TTL expires or it is a guarantee that the data will not be deleted before the TTL expires? Is it the servers or the clients responsibility to act according to the TTL?
b) Why is it good/bad to set lower TTL than 5s?

We would like

[2016-07-26 16:41] immesys commented on #3265
The readme still says reads can be satisfied by unhealthy member, and references this issue. Is that still the case? If not, perhaps amend the readme?

[2016-07-26 16:50] gyuho commented on #6044
@SwordHoly

Try

[code]

with master branch?

[2016-07-26 19:43] DanHoerst opened #6046 "Failed to retrieve network config: client: etcd cluster is unavailable or misconfigured"
I'm attempting to set up Flannel 0.5.5 on CoreOS-alpha-1097.0.0 and am receiving the following error:

	Jul 26 19:31:55 master rkt[1136]: E0726 19:31:55.285460 01136 network.go:53] Failed to retrieve network config: client: etcd cluster is unavailable or misconfigured
	Jul 26 19:31:56 master rkt[1136]: E0726 19:31:56.286522 01136 network.go:53] Failed to retrieve network config: client: etcd clust

[2016-07-26 20:29] DanHoerst commented on #6046
Closing as I meant to post this to flannel

[2016-07-26 20:29] #6046 closed

[2016-07-26 23:14] matthewdupre opened #6048 "v3.0.0 etcd docker images doesn't accept parameters ('Container command '--advertise-client-urls X' not found or does not exist)+"
As of v3.0.0, the etcd docker image no longer supports passing parameters to it in the way the old (v2.3.7 or less) one did.

[code]

This PR: https://github.com/coreos/etcd/pull/5709 introduced the change, by changing the Dockerfile from using ENTRYPOINT to using CMD.

There is a workaround: you can insert `etcd` before the `--advertise...` parameters, but this isn't valid for v2.3.7, where you h

[2016-07-26 23:20] gyuho commented on #6048
Can you try `v3.0.3`?

[2016-07-26 23:20] matthewdupre commented on #6048
Sorry, still writing the issue (hit enter by accident!)

[2016-07-26 23:22] matthewdupre commented on #6048
3.0.3 and latest exhibit the same behaviour as 3.0.0.

[2016-07-26 23:24] matthewdupre commented on #6048
@gyuho I've updated the issue :)  Thanks for being so quick!

[2016-07-26 23:26] gyuho commented on #6048
Can you try this guide? https://github.com/coreos/etcd/blob/master/Documentation/op-guide/container.md#docker

It works for me?

[2016-07-26 23:35] nathan-osman commented on #1775
`-v /etc/ssl/certs:/etc/ssl/certs` doesn't work on CentOS. Does anybody know where the equivalent directory is located on that distro?

[2016-07-26 23:36] matthewdupre commented on #6048
Yes, the guide works for >v3.0.0 because it passes `/usr/local/bin/etcd` to docker run.  That doc doesn't work for v2.3.7 though, because ENTRYPOINT accepts options without that, but needs --entrypoint to change the binary being ran.

What I'm trying to understand here is whether this change was intentional and whether I should update my code - there's now a different incantation needed for v3.0.0

[2016-07-26 23:38] matthewdupre commented on #6048
Cutting out the other stuff:
<v3.0.0: `docker run coreos/etcd --options`

[2016-07-26 23:39] gyuho commented on #6048
Yeah it was intentional to allow users to run `etcdctl` inside container. Setting `ENTRYPOINT` can only run `etcd`, but not `etcdctl`.

[2016-07-26 23:39] nathan-osman commented on #1775
Thanks to [this page](https://leifmadsen.wordpress.com/2015/10/30/docker-container-results-in-x509-failed-to-load-system-roots-and-no-roots-provided/) I was able to figure out the correct command:

    -v /etc/pki/ca-trust/extracted/pem/tls-ca-bundle.pem:/etc/ssl/certs/ca-certificates.crt

[2016-07-26 23:43] matthewdupre commented on #6048
OK thanks.

It might be worth flagging non back-compatible changes a bit more loudly in the release note?

[2016-07-26 23:43] #6048 closed

[2016-07-26 23:44] gyuho commented on #6048
@matthewdupre Right. We will keep that in mind. And improve the documentation addressing that. Sorry for the inconvenience!

[2016-07-27 00:21] xiang90 opened #6049 "add release note section"
We might make some use facing changes in a release: adding flags, changing flags or fix significant bugs, making backward incompatibility changes.

For these changes, we should attach with release-note-required label. We should maintain a release note somewhere and changes the note as we merge in the pull request with the user facing change.

[2016-07-27 00:21] xiang90 commented on #6049
/cc @gyuho

[2016-07-27 02:19] neverlee opened #6050 "How to compact raft log"
I use this raft library in my project, just like raftexample. How can I retain the only recent raft entries log(not all) in ruuning time? The raftexample would record all the raft log(wal), and the wal files would be more and more. The new peers would replay all the entries, it take too much time and space. My project just want the last.
Thank you!

[2016-07-27 02:50] gyuho commented on #6050
You need to implement snapshot in case the recent logs are compacted in leader's log, like https://github.com/coreos/etcd/blob/master/etcdserver/server.go#L1155.

Related https://github.com/coreos/etcd/issues/4019.

[2016-07-27 02:56] gyuho commented on #6044
@SwordHoly The command above works for me (when run with master branch).

Please feel free to reopen if there's still an issue.

Thanks.

[2016-07-27 02:56] #6044 closed

[2016-07-27 03:02] xiang90 commented on #6050
Here is another example: https://github.com/compose/canoe/blob/master/raft.go#L602-L605.

It would be great if you can add the snapshot functionality to the raftexample. Closing this since it is a dup with #4019.

[2016-07-27 03:02] #6050 closed

[2016-07-27 03:52] #6013 closed

[2016-07-27 06:50] nathan-osman opened #6051 "etcdserver: publish error: etcdserver: request timed out"
I have three etcd peers that can't seem to elect a master.

The first peer runs in a Docker container on a CentOS 7.2 host. I am using `docker-compose` for this peer and the configuration is as follows:

[code]

The first few lines from the log are as follows:

[code]

The second and third peers are running from within CoreOS and their configuration is identical:

[code]

The first few lines from