[2016-09-09 03:38] muralibandi opened #6392 "etcd cluster issue"
I am trying to setup etcd cluster with 5nodes. Able to start etcd but when i try with etcdctl member list is showing individual etcd hosts. Spent hours fixing this issue but no luck.

master-01  # etcdctl member list
ce2a822cea30bfca: name=master peerURLs=http://localhost:2380,http://localhost:7001 clientURLs=http://10.90.3.57:2379 isLeader=true
master-01 #

[2016-09-09 04:50] gyuho commented on #6392
How did you set up etcd? Can you share your commands?

[2016-09-09 15:37] kbroughton commented on #977
Note that according to adarshaj, paths with '-' in the name will not map correctly.  If you are trying to mount /mnt/my-dash-dir -> Where=mnt-my-dash-dir which systemd will then search for as /mnt/my/dash/dir.

[2016-09-09 17:35] heyitsanthony opened #6394 "add more jargon from the docs to glossary"
via irc,

The current glossary (https://github.com/coreos/etcd/blob/master/Documentation/learning/glossary.md) is skeletal. There's no mention of keys, keyspaces, revisions, versions, compaction, watches, transactions, etc.

[2016-09-09 18:50] heyitsanthony opened #6395 "simpleBalancer.Up: close of closed channel"
via semaphore (https://semaphoreci.com/coreos/etcd/branches/master/builds/908)

[code]

[2016-09-09 22:30] xiang90 opened #6398 "Testing: TestPipelineExceedMaximumServing"
[code]

[2016-09-10 02:39] muralibandi commented on #6392
Here is my /var/lib/coreos_install/user_data file config with respect to etcd2

coreos:
  etcd2:
    name: master
    advertise-client-urls: http://10.90.3.57:2379
    initial-advertise-peer-urls: http://10.90.3.57:2380
    listen-client-urls: http://0.0.0.0:2379
    listen-peer-urls: http://0.0.0.0:2380
    initial-cluster-token: coreOS-staging
    initial-cluster: master=http://10.90.3.57:2380,w

[2016-09-10 07:06] woodcutter007 opened #6400 "Why Op is exclude watch"
In op.go, watch operation is not exported. Why?  I want use it in the Txn. thanks

[2016-09-10 10:12] muralibandi commented on #6392
I just noticed that all the nodes in the cluster are showing the same member id, not sure how this is.

[2016-09-10 10:41] xiang90 commented on #6400
It does not really make sense to include watch in txn. You can always watch from a given rev.

If txn.response.rev=10, then you can watch either from 10 or 11.

[2016-09-11 02:46] xiang90 commented on #6392
There is a misconfiguration happened on your side. The configuration etcd accepted is different from what you showed in this thread

The two members you showed also have same urls
[code]

But you actually wants:

[code]

Please double check that you provide etcd the correct configuration file, env variable or flags.

Thank you!

[2016-09-11 02:46] #6392 closed

[2016-09-12 06:53] weldpua2008 opened #6405 "ps shows shows etcdctl's credentials"
Hi All,

I am using etcdctl into SystemD start scripts to execute changes into server. For example: change password of some user or update ntp servers.

But the passwords are shown with ps:

[code]
Example /etc/systemd/system/host_ntp.service:
[code]
Example /usr/local/bin/host_ntp_service.sh:

[code]

[2016-09-12 07:17] xiang90 commented on #6405
@weldpua2008 Is this an etcd issue? ps should show the args your provided. If someone can see the process you started, he/she already got the access to the machine anyway. But I am not a security expert. You probably should ask some linux security experts instead.

[2016-09-12 07:26] mitake commented on #6405
@xiang90 I think it can be problematic because any unprivileged users can see the password in the output of ps command. Hiding a password in argv by modifying the variable would be a common practice, e.g., a case of MySQL: http://www.lenzg.net/archives/256-basic-mysql-security-providing-passwords-on-the-command-line.html

But I don't know the best practice for doing it in go programs (or go progra

[2016-09-12 07:28] mitake commented on #6405
@weldpua2008 maybe the easiest workaround is creating a file with 600 permission that has below line:
[code]
and source it from your scripts. Is this work for your case?

[2016-09-12 09:03] ffbin opened #6406 "BUG:etcd cluster reliability"
I use 3 machines(A/B/C) to set up etcd cluster.
Machine A create temp node A on etcd cluster and update TTL every 300ms.
Machine B create temp node B on etcd cluster and update TTL every 300ms.
Machine c create temp node C on etcd cluster and update TTL every 300ms.
Then reboot machine A, machine B update node B TTL failed, httpcode is 404, machine C update node C TTL failed, httpcode is 404.

[2016-09-12 09:13] weldpua2008 commented on #6405
Hi,
I have the following etcd version:
[code]
I try to run as [in this example](https://github.com/coreos/etcd/blob/c451a1b350c7ef0ff5753308a8ec9d1f1496c308/etcdctl/READMEv2.md#username-and-password):

[code]

it's working:
[code]

My ETCD startup script /etc/systemd/system/etcd.service:
[code]

[2016-09-12 11:36] ffbin commented on #6406
@xiang90 ,hi, my etcd version is etcd-2.2.4. I will write a simple script to reproduce the issue i described later.
If machine A is not the leader, we can update the key?

[2016-09-12 11:56] xiang90 commented on #6406
@ffbin

It should.

[2016-09-12 12:22] xiang90 commented on #6363
I am going to close this due to low activity. @sergeyfd feel free to reopen if you have a follow up question. Thanks!

[2016-09-12 12:22] #6363 closed

[2016-09-12 18:39] boyand opened #6408 "RWMutex recipe bug"
ETCD version: v3.0.8

There is a bug in the current [RWMutex recipe](https://github.com/coreos/etcd/blob/master/contrib/recipes/rwmutex.go#L69-L70). If two processes try to lock the mutex at the same time, the second one starts spinning indefinitely after the first one unlocks the mutex.

The problem appears to be in the way the previous key revision is taken from the server. It always returns the

[2016-09-12 18:48] heyitsanthony commented on #6408
Confirmed this is broken. Strange that the tests aren't picking this up.

[2016-09-12 20:27] hongchaodeng commented on #6336
Here's the use case. When GCE allocates a machine, it gives a name "kubernetes-master", etc. When the machine restarts, it could change internal/external IP. Name is the most convenient handle for network access.

@chancez @gtank Any thoughts on this?

[2016-09-12 20:29] fanminshi opened #6409 "etcd-tester:peer port parsing error"
When Executing functional tester locally using ```goreman -f tools/functional-tester/Procfile start```, some tests failed due to not to be able to parse the port from locally url correcly

[code]

[2016-09-12 20:43] philips commented on #6336
We should revert https://github.com/coreos/etcd/pull/6365/files. We can make a security note about using DNS in our docs but we just broke existing users without any transition or documentation updates.

[2016-09-12 20:43] philips commented on #6336
@hongchaodeng do you have a link to the kubernetes upstream issue?

[2016-09-12 20:51] nekto0n commented on #6352
I think adding `--auto-compaction-retention` option to etcd should help (as well as issuing compaction requests manually).

[2016-09-12 21:00] #6409 closed

[2016-09-12 21:09] hongchaodeng commented on #6336
Here's my opinion:
For 3.0.x we shouldn't break existing feature.
This is security fix and we will need it to prevent user from making mistakes. Let's move the change to 3.1+.

[2016-09-13 00:37] xiang90 commented on #6336
@heyitsanthony Probably we shall print out security warning to start with?

[2016-09-13 01:14] xiang90 commented on #6375
The hidden was designed for security through obscurity. So you cannot find the hidden key from API which is by design. You can find it if you can access the local disk though.

[2016-09-13 01:14] #6375 closed

[2016-09-13 02:09] xiang90 commented on #6327
@sachincab Please create an issue here: https://github.com/coreos/bugs. Thanks!

[2016-09-13 02:09] #6327 closed

[2016-09-13 02:16] heyitsanthony commented on #6336
@xiang90 no one is going to pay attention to those warnings. Let's just revert in 3.0 and do the full change in 3.1? If it's serious enough to warrant a lock out, I don't think it makes sense to bother with a warning.

[2016-09-13 02:19] xiang90 commented on #6336
@heyitsanthony OK. Let's revert this for now. We can discuss about how to "fix" this later.

[2016-09-13 02:26] #6359 closed

[2016-09-13 02:30] xiang90 commented on #6400
Close this. Reopen if you have a follow up question. Thanks.

[2016-09-13 04:22] xiang90 commented on #6366
Do you have any idea why this failed? I tried to reproduce this, but I cannot. I read through the code, but do not have any idea at the moment.

[2016-09-13 04:44] xiang90 commented on #6395
@heyitsanthony It seems that balancer.Up is called even if balancer.Close is called. Shall we fix this at etcd side? Or grpc side?

[2016-09-13 04:54] heyitsanthony commented on #6395
@xiang90 if `Up` is being called after `Close`, that sounds like a grpc issue. I don't think it's a good idea to work around it.

[2016-09-13 04:55] xiang90 commented on #6395
@heyitsanthony Their balancer: https://github.com/grpc/grpc-go/blob/master/balancer.go can deal with that. I have a simple fix for our balancer at hand. But I will see why this happen in gRPC first.

[2016-09-13 08:16] WangFenjin opened #6415 "What's the difference between etcd-gateway and nginx?"
For now, I use nginx as the load blancer for etcd2 clusters. I'm wondering what's the difference between nginx and etcd3-gateway?

Thanks.

[2016-09-13 08:39] xiang90 commented on #6415
gateway is for etcd3. It operates at TCP level. We will make it etcd membership awareness in the near future. nginx operates at HTTP layer and is not aware of membership changes.

[2016-09-13 08:39] #6415 closed

[2016-09-13 09:05] xiang90 commented on #6262
@sks

Why not change the dns mechanism? It makes more sense to setup DNS first, then start etcd which depends on that DNS. No?

[2016-09-13 09:07] xiang90 commented on #6005
I am closing this out. We now support safe l-read which will not be affected by clock drift.

[2016-09-13 09:07] #6005 closed

[2016-09-13 13:08] ffbin commented on #6406
[103_log.txt](https://github.com/coreos/etcd/files/469828/103_log.txt)
[176_log.txt](https://github.com/coreos/etcd/files/469831/176_log.txt)
[177_log.txt](https://github.com/coreos/etcd/files/469832/177_log.txt)

@xiang90 .Hi, I create etcd cluster with machine 103/176/177, start command is "nohup ./etcd --initial-advertise-peer-urls http://${LOCAL_DSS_ADDR}:${DSS_LEAD_PORT} --initial-cluster def

[2016-09-13 13:14] xiang90 commented on #6406
[code]

etcd printed out quite a few warnings. Please fix your clock (using ntp for example) and try again. I believe the clock difference is the root cause. Closing this issue.

[2016-09-13 13:14] #6406 closed

[2016-09-13 15:33] glycerine opened #6419 "clientv3: getPrefix() doesn't handle ranges containing 0xff before the last byte"
At https://github.com/coreos/etcd/blob/master/clientv3/op.go#L230
[code]

For ease of discussion, suppose that instead of 0x00 - 0xff binary bytes as our alphabet, we were using the alphabet 'a' -'z' (inclusive on both ends).

Then the prefix end of any string ending in 'z' is noPrefixEnd (a wrap around back to 'a').

So for instance the prefix end of "zzz" is noPrefixEnd, and the prefix end of "a

[2016-09-13 15:41] glycerine commented on #6419
Ah. So the loop seems to be saying: the prefix end of "az" should be "b". So the prefix end of "aaz" would be "ab".  I guess that makes sense.

Nevermind.

[2016-09-13 15:41] #6419 closed

[2016-09-13 16:29] heyitsanthony commented on #6398
lgtm

[2016-09-13 16:56] heyitsanthony commented on #6395
@xiang90 ok judging by the simple balancer close path, the fix on the etcd side would be about 3 lines of code? might as well have the workaround for now since rolling grpc forward will probably break something else

[2016-09-13 17:07] heyitsanthony commented on #6366
Possibly a subtle watcher bug. I doubt it's lock specific.

[2016-09-13 17:21] sinsharat opened #6420 "membership: prevent quorum loss from membership change"
Steps to reproduce:
1. started a standalone member using the command ./etcd
This started listening to localhost:2379 for client urls and for peer urls at localhost:2380
2. started anoter etcd member as below:
.\etcd.exe --initial-advertise-peer-urls http://localhost:22380 --listen-peer-ur
ls http://localhost:22380 --advertise-client-urls http://localhost:22379 --listen-client-urls http://localhost

[2016-09-13 17:39] gyuho commented on #6420
@sinsharat  Try specifying `endpoints` flag with the new member?

[2016-09-13 17:46] sinsharat commented on #6420
@gyuho my issue is if by mistake a member adds a new member by specifying an invalid url by mistake, then the entire cluster becomes not usable. If i try to do anything, even trying to remove the newly added member, it will fail since the single cluster which is up is constantly getting into election and not handling any request.
Is it not better to keep a timeout for adding a new member, so that

[2016-09-13 17:55] gyuho commented on #6420
Now I understand your issue. Yeah I think it makes sense to have some timeout for membership change for the case you mentioned. Most cases, people still have quorum (e.g. add 1 member to 2-node cluster), so they can revert the membership change. But adding 1 member to 1-node cluster can be problematic.

Defer to @xiang90 @heyitsanthony

[2016-09-13 18:46] heyitsanthony commented on #6420
@sinsharat Autoremove for 1->2 means the original node will have to make a membership change without quorum. Too easy to get into a split brain mess.

Could the etcdserver probe the peer for the 1->2 case to see if the new member is up before submitting the membership change?

[2016-09-13 18:55] sinsharat commented on #6420
@heyitsanthony yes i totally agree that would be fine if the member doesn't get added blindly but keeps trying and once its able to contact the member then only the member gets added to cluster. That would prevent the cluster from getting un-usable. Even though i mentioned about two cluster system, but this scenerio which can happen when a three node cluster is intended and to a single member two

[2016-09-13 19:20] Seth-Karlo opened #6421 "Etcd2 panics on restoring from backup"
**Description**
I'm attempting to back up my etcd2 cluster to disk and then restore using the --force-new-cluster option. Whenever I try to do this, etcd2 crashes and refuses to start, preventing me from restoring my backup.

**Steps to reproduce the issue:**
1. Use `etcdctl backup` command to back up the `/var/lib/etcd2` directory on a node to disk.
2. Remove the `/var/lib/etcd2/member` directory

[2016-09-13 22:59] #6398 closed

[2016-09-13 23:15] xiang90 commented on #6421
Can you please try with etcd 2.3.7 to see if this issue still exists?

[2016-09-14 02:20] woodcutter007 opened #6426 "can you give a example of election master."
I want use txn to realize election master. tks

[2016-09-14 02:29] #6426 closed

[2016-09-14 04:33] xiang90 commented on #6352
I am going to close this issue. I think the root cause is clear. Let's know if you have any further questions.

[2016-09-14 04:33] #6352 closed

[2016-09-14 07:43] ffbin commented on #6406
@xiang90 ,i fix my  clock using ntp and have a try.
Machine 103/176/177, 176 is the leader.
Before i reboot 103, i use command "curl -L http://10.120.185.176:4001/v2/keys/master" on machine 176 can get the message:
{"action":"get","node":{"key":"/master","value":"\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u000e\u00001\u00000\u0000.\u00001\u00007\u00007\u0000.\u00001\u00001\u00002\u0000.\u00001\u00

[2016-09-14 07:51] xiang90 commented on #6406
Try with 5 seconds TTL with 1 second update time. Let me know if the problem still exists.

[2016-09-14 08:52] wkruse opened #6430 "etcd2 proxy doesn't reconnect to other members after one member reboots"
We are running an `etcd2` _v2.3.2_ cluster with 3 members and 9 proxies, CoreOS stable on bare metal. One of the members did a reboot due to CoreOS update from _1068.10.0_ to _1122.2.0_. `fleet` on one of the proxies started rescheduling units because if couldn't read from `etcd2`. It looks like the proxy was trying to connect to the member, that went down. I would expect it to try other members.

[2016-09-14 10:28] fasaxc opened #6431 "Possible to avoid recursive symlink?"
The cmd directory of this repo contains a recursive symlink back to the parent directory.  Would it be possible to remove that?  I've found several tools either get caught in an infinite loop when searching the directory (for example, python's setuptools tooling), or they emit errors warning of the infinite loop (e.g. grep and find).

(If you're wondering why I'm using python setuptools in a go re

[2016-09-14 10:46] gyuho commented on #6431
Do you import package in etcd or have the whole repo in your project?

We use symlinks for vendoring etcd dependencies, for official releases, and to avoid dependency conflicts. If you import e.g. clientv3 of etcd, you shouldn't need to worry about symlinks.

[2016-09-14 10:57] gyuho commented on #6420
@heyitsanthony Do you have an easy solution in mind?

Member must be added first to the existing node, in order to pass [`ValidateClusterAndAssignIDs`](https://github.com/coreos/etcd/blob/master/etcdserver/membership/cluster.go#L478) at https://github.com/coreos/etcd/blob/master/etcdserver/server.go#L279.

So in current implementation, probing a new member before committing the membership change i

[2016-09-14 11:02] wkruse commented on #6430
Could be related to https://github.com/coreos/fleet/issues/1289.

[2016-09-14 11:22] discordianfish opened #6432 "Metrics missing / documentation outdated"
Hi,

looks like https://coreos.com/etcd/docs/latest/metrics.html is outdated.

It looks like some mentioned metrics were removed in 598fa7a10ead85398aa9317d3071d2b64ae0c75e.

What is the reason for the removal? I'm especially interested in proposal_duration_seconds which I consider important to monitor.

[2016-09-14 11:26] xiang90 commented on #6432
See #6342. CoreOS doc is synced with etcd repo. The doc in etcd repo is the "official" doc. We should update CoreOS one.

[2016-09-14 11:26] #6432 closed

[2016-09-14 12:17] fasaxc commented on #6431
I'm using glide to manage my vendor directory.  I'm using this in my glide.yaml but it still seems to check out `cmd` and other directories:
[code]
Is `github.com/coreos/etcd` the right import to use or is there a packaged version of jus the client somewhere?

[2016-09-14 12:32] gyuho commented on #6431
@fasaxc Not sure, you might ask `glide` team about it.

We have other projects that import etcd package with glide, with no problem.

https://github.com/coreos/etcd-play/blob/master/glide.yaml#L5-L14

[2016-09-14 12:51] xiang90 commented on #6432
If you really want to see the duration for requests, probably you want to use unary_requests_duration_seconds instead. it provides more detailed data.

[2016-09-14 13:23] fasaxc commented on #6431
I think I'm just going to adjust the repo structure so that the vendor dir is not in the same directory as our python code, that'll sidestep the main issue that I have.

[2016-09-14 13:26] gyuho commented on #6431
@fasaxc Ok, please feel free to re-open this if you still have issues. Thanks!

[2016-09-14 13:26] #6431 closed

[2016-09-14 14:14] LiamHaworth opened #6433 "Support for "charset" in the header "Conntent-type""
Hey Etcd Team,

I have recently been working on the Scala client for etcd (`scala-etcd`), and I have managed to get most API calls working except for one. When I make calls it is through a library called `Spray`, this library helps a lot with building the request in an easy format.

The point I am getting at here is that the library automatically builds up the whole HTTP request without much user

[2016-09-14 14:56] Seth-Karlo commented on #6421
etcd 2.3.7 gives a different but similar error:

[code]

[2016-09-14 16:50] #6408 closed

[2016-09-14 16:56] heyitsanthony commented on #6421
The crashing snippet:
[code]

Which means the record length, `l`, is either negative or huge. Looks like the wal file is getting corrupted records somehow.

[2016-09-14 17:03] xiang90 commented on #6421
Can you please send the data dir to me? My email is xiang.li@coreos.com. Thanks

[2016-09-14 17:51] easeway commented on #5870
I hit the same issue when I'm playing 3 etcd processes on the localhost. It's 100% re-producible with latest etcd v3.0.8. (I also tried a little older 3.0.4, same issue). Here's the repro steps:

First, I wrote a simple bash script `etcd.sh`:

[code]

Then I opened 3 terminals, and type one by one:

[code]

After I complete `etcd.sh 0` and `etcd.sh 1`, quorum is working, and I can use `etcdctl` to

[2016-09-14 17:55] easeway commented on #5870
I recommend re-opening the issue for investigation. It looks very likely a bug.

[2016-09-14 17:55] xiang90 commented on #5870
@easeway

Your disk has some issues

[code]

fsync can take > 1 second. I cannot repo this on my slow mac air.

[2016-09-14 18:18] easeway commented on #5870
How much data is written with `fsync`? I tested fsync a 200MB file, it took only ~700ms, here's my testing Go code:

[code]

Actually the fsync part I copied the same logic from etcd source. When I run, it shows:

[code]

I installed Ubuntu Linux directly on MacBook Pro (erasing the MacOS). I'm curious why etcd reported so big latency with fsync constantly while all my other programs looks normal,

[2016-09-14 18:20] easeway commented on #5870
I found the smaller the file is, the longer fsync tooks. I changed the file size to 200K, now it tooks

[code]

[2016-09-14 18:21] xiang90 commented on #5870
@easeway Can you try to do that consistently? like fsync in a loose for loop? I feel your disk performance is not stable

[code]

The other fsync related metrics also agrees that the disk is slow sometimes (10%?).

[2016-09-14 18:22] xiang90 commented on #5870
@easeway I am not sure why. But this does not seem like an etcd issue.

[2016-09-14 18:25] easeway commented on #5870
@xiang90 Thanks for your quick response! I will look further.

[2016-09-14 18:28] easeway commented on #5870
Is there any specific reason to use syscall.Fdatasync instead of File.Sync? I tested with File.Sync, it took less than 100ms with 200K data.

[2016-09-14 18:47] heyitsanthony commented on #5870
@easeway `Fdatasync` only needs to sync down the file blocks. `Sync` will sync down extra file metadata (e.g., mtime). The performance with `Fdatasync` should be the same or better than `Sync`. What filesystem are you using? Does the SSD's SMART data show anything suspicious?

[2016-09-14 18:51] easeway commented on #5870
I understand Fdatasync should be faster. However as I tested, Fdatasync is always much slower than Fsync. I didn't see any suspicious information from SMART data.
Anyway, I will change to a different environment and test again.

Thanks again for your kind help!

[2016-09-14 19:26] GreatSUN commented on #5449
If the setup outside of a container is the default, I would stay with journal but offer at least an option to be able to switch either entirely or in addtion to stdout. Currently I always need to test stuffs manually after errors with the containers, because they drop away and I can not read the logs anymore.

[2016-09-14 19:41] philips commented on #5449
Can we just dump journal support? It seems like it adds little value and causes confusion.

[2016-09-14 20:37] heyitsanthony commented on #6433
Seems reasonable. The content type check can probably ignore everything past ";".

[2016-09-14 21:17] heyitsanthony commented on #6430
@wkruse Where's the part where it can't reconnect? The timestamps show that the proxy notices the down member at 2:00:18 which coincides with the etcdserver stop on `node03` at 2:00:03. The proxy stops complaining at 2:03:52, which coincides with the member coming back online at 2:03:48.

Proxy log (10.10.226.13):
[code]

etcd log (10.10.226.13):
[code]

[2016-09-14 21:47] heyitsanthony commented on #6420
@gyuho no quick fix in mind. That boottrap path would have to be changed a little for my suggestion to work. I believe (not 100% sure) the new node could force add itself to the remote peer list on validate, then start running without corrupting the cluster even if it hasn't been added yet.

[2016-09-15 00:17] xiang90 commented on #6433
mark this as p2 since this is not a critical issue.

[2016-09-15 00:20] LiamHaworth commented on #6433
At P2 how long would you guys think it would be until a fix for this is released?

[2016-09-15 00:22] xiang90 commented on #6433
@LiamHaworth It means this is not urgent. So we would not prioritize for the next back-port. If you want it to be fix faster, you can always help. Thanks!

[2016-09-15 00:27] LiamHaworth commented on #6433
I would love to, would just need to get my self comfortable with the code base first, we shall see.

[2016-09-15 00:42] #6395 closed

[2016-09-15 02:16] LiamHaworth commented on #6433
Implemented a fix in the pull request #6435

[2016-09-15 03:25] xiang90 commented on #5412
Fixed by #6411 and #6424

[2016-09-15 03:25] #5412 closed

[2016-09-15 04:25] xiang90 commented on #6433
Fixed by #6436

[2016-09-15 04:25] #6433 closed

[2016-09-15 07:57] wkruse commented on #6430
@heyitsanthony I guess I misinterpreted those `closed request prematurely` messages. It wasn't clear for me, that those come from connecting to the other members. Thanks for clarification! Looks like it is `fleet` and not `etcd2` problem. I'll close it.

======

After reading https://github.com/coreos/etcd/blob/v2.3.7/Documentation/tuning.md#time-parameters and measuring the RTT

[code]

I've tune

[2016-09-15 07:57] #6430 closed

[2016-09-15 09:02] xiang90 commented on #6336
Move this to 3.2. We only print our warning and communicate we are going to do this in 3.1 for compatibility and ux reasons.

[2016-09-15 09:22] #6391 closed

[2016-09-15 20:19] johnbazan opened #6442 "Basic auth configuration with kubernetes"
Hello guys, I have a question.

I'm currently working with kubernetes and I need a way to pass my credentials to it in the url / environment variables since kubernetes has no configuration parameters to set etcd credentials.

Back in etcdctl 2.1.3, I was able to do something like this:

export ETCDCTL_PEERS=export ETCDCTL_PEERS=http://root:toor@etcd2-0.etcd-server:2379

core@ip-172-32-65-56 ~/etcd

[2016-09-15 23:47] lmmendes commented on #3441
Here is how I added a new node to a pre existing cluster, it's based on https://coreos.com/etcd/docs/latest/runtime-configuration.html#add-a-new-member instructions.

1. Start a new machine (this machine will be the new etcd2 node).

2. In the new machine, login and type in the shell:

[code]

	The return value (`660f9e5b94654cdc92933bc583ca0e2b`) is the machine unique id and it's going to be the

[2016-09-16 03:23] gyuho opened #6445 "version: 3.1.* breaks integration tests"

[2016-09-16 03:29] gyuho commented on #6445
Not all tests are failing though.

e.g. `clientv3/integration.TestMemberList` just hangs after leader election

[code]

[2016-09-16 04:36] mitake opened #6446 "RFC: functional-tester: decoupling stresser, fault injector and consistency checker"
Hi @gyuho,

I'm trying to integrate an external fuzzing and fault injection tester (https://github.com/osrg/namazu) to the functional-tester of etcd. The motivation is that fuzzing the well understood workload will increase a chance of finding bugs introduced by newer commits.

For doing it, I tried to decouple the stresser, fault injector and consistency checker for clean integration. Currently t

[2016-09-16 04:36] mitake commented on #6446
/cc @AkihiroSuda

[2016-09-16 06:37] xiang90 commented on #6446
@mitake I think this is a good idea. We want to make the functionality boundary clear a while ago, but have not got time to do it.

@heyitsanthony also has some opinions. I can give this a closer look later this week.

[2016-09-16 07:35] #6445 closed

[2016-09-16 09:58] gyuho commented on #6446
@mitake It's already possible to bypass consistency check (only do stressing with fault injection). If you can help decouple more of those, it would be great.

I think we need to do compaction more often, first, before we do the decoupling. Currently, we do compaction every round. If we stop fault injection, we write more keys per round, which would take tester more time to finish compaction.

[2016-09-16 11:34] sinsharat opened #6448 "Query: related to etcdctl/ctlv3 features"
Hi i had the below queries on the etcdctl/ctlv3 features:

1. **Lock** : What is the use of taking lock and how it can be used.

2. **Compaction**: How to find the various revisions for performing compaction.

3. **Elect**: Is Elect command used for montioring the elections or does it have some other purpose/benifits?

4. **Sanpshot**: How to findout which is the latest snapshot that can be taken.

[2016-09-16 11:56] jonboulle commented on #5449
+1, I'm reaching a similar conclusion

On 14 September 2016 at 21:42, Brandon Philips <notifications@github.com>
wrote:

[2016-09-16 11:56] gyuho commented on #6448
We have examples if you want to know how to use it

- https://github.com/coreos/etcd/blob/master/Documentation/demo.md#distributed-locks
- https://github.com/coreos/etcd/blob/master/Documentation/demo.md#elections

You can find compaction from get response (in JSON or protobuf). Example code can be found in our testing cluster code https://github.com/coreos/etcd/blob/master/tools/functional-tester

[2016-09-16 12:17] sinsharat commented on #6448
@gyuho : **Lock,Elect**: I have already gone through these examples and used them, what i wanted to know is the practical scenario in which we can use locks and elect?
**Compaction** : Also for compaction,  wanted to know why don't we have an api for getting the revision for a particular machine in a cluster directly so that a 3rd party needn't write the code for the same to get the revision for p

[2016-09-16 12:26] gyuho commented on #6448
I think just `Get` request to any machine is enough to query revision index? Do you have meaningful use case? We also have auto-compaction https://github.com/coreos/etcd/blob/master/Documentation/op-guide/maintenance.md#history-compaction.

[2016-09-16 12:30] gyuho commented on #6448
Lock is useful for wherever distributed lock is needed. Elect, you can use it to elect database leader.

If you want to know more of real-world use cases,

- Zookeeper recipes https://zookeeper.apache.org/doc/trunk/recipes.html
- Chubby paper http://static.googleusercontent.com/media/research.google.com/en//archive/chubby-osdi06.pdf

@heyitsanthony should have better explanation.

[2016-09-16 12:33] gyuho commented on #6448
@sinsharat Could you create a separate issue for Windows renaming error? Thanks!

[2016-09-16 12:34] sinsharat commented on #6448
@gyuho Thanks for help.
Yes sure will raise the windows issue seperately.
Thank you!

[2016-09-16 12:37] sinsharat opened #6451 "Windows: Save snapshot giving command giving error."
Steps to reproducce:
./etcdctl --endpoints=$ENDPOINT snapshot save snapshot.db
i get the below error:
Error: could not rename snapshot.db.part to snapshot.db (rename snapshot.db.part snapshot.db: The process cannot access the file because it is being used by another process.)

[2016-09-16 13:09] vimalk78 opened #6452 "wal/wal.go: WAL.Save can be optimized to do Marshal outside the mutex lock"
In wal package, the WAL.Save and WAL.SaveSnapshot aquire a mutex at the beginning of the method.

The entries and snapshot need to be marshalled before encoding. I think the Marshal step can be done without aquiring the mutex. This will improve throughput.

[2016-09-16 13:09] xiang90 commented on #6452
/cc @heyitsanthony

[2016-09-16 13:10] xiang90 commented on #6451
@sinsharat Probably you can help to fix this? I am not really familiar with windows :(.

[2016-09-16 13:47] sinsharat commented on #6451
@xiang90 sure will look into it and try to fix it.

[2016-09-16 16:08] gyuho opened #6455 "*: test failures with client TLS + Go 1.7"
[code]

[2016-09-16 16:10] gyuho commented on #6455
Fails with current master?

[2016-09-16 16:29] gyuho commented on #6455
Think it's cert issue. Tried regenerating cfssl `fixtures` but still fails...

[2016-09-16 17:13] heyitsanthony commented on #6455
I can repro this on OSX because it's picky about certs tracing back to the root CA but it seems to work OK on my gentoo install. Not seeing the failures on semaphore. Are these failures on Ubuntu?

[2016-09-16 17:15] gyuho commented on #6455
Yeah on my Ubuntu machine. Rebuilding master branch on semaphore and it seems works fine :0

[2016-09-16 17:24] crawford commented on #5449
Keep in mind that if you drop journal support, you lose the ability to look at the full logs when run under systemd. We depend on the syslog identifier for filtering logs since there is a race on service termination.

[2016-09-16 18:36] jonboulle commented on #5449
Oh damn, I thought that was fixed.

Alex Crawford <notifications@github.com> schrieb am Fr., 16. Sep. 2016,
19:25:

[2016-09-16 18:36] tschuy opened #6457 "Downgrading cluster may corrupt data"
While a cluster was being upgraded in-place from 2.3.7 to 3.0.7, the first machine being upgraded was rebooted, restarting the v2 service. As the v3 and v2 services pointed to the same data directories, etcd2 failed to start.

After disabling the etcd2 service and starting etcd3, the cluster is failing to start with state-out-of-range errors:

[code]

It would be good to have a mechanism in place

[2016-09-16 18:57] heyitsanthony commented on #6446
@mitake I peeked at your branch and have some suggestions about the general architecture for integrating this.

I agree with your observation about the complexity going off the rails-- the on/off booleans seem like too much special casing. It might be worthwhile to have general stresser/checker/fault injection interfaces with several implementations. The `Stresser` interface is already there (alth

[2016-09-16 22:01] philips commented on #6457
You mean you upgraded to v3.0.7 the downgraeded to 2.3.7 afterwards?

[2016-09-16 23:30] xiang90 commented on #6451
Fixed by #6454. Thanks @sinsharat

[2016-09-16 23:30] #6451 closed

[2016-09-17 00:04] hongchaodeng opened #6458 "Unbounded watch response latency"
What?
If I try to watch from the beginning like rev 2, the watch response latency could be higher and higher as more writes get applied.

How to reproduce it:
Program: https://gist.github.com/hongchaodeng/14e603790d4bed250a779bc3e42758f3
Run the program and you will see the time increasing.

[2016-09-17 00:05] hongchaodeng commented on #6458
@heyitsanthony have more thoughts on internals.

[2016-09-17 00:34] fanminshi commented on #6380
Discovered a performance issue regarding to leases deletion after being expired. Performance increases code https://github.com/coreos/etcd/pull/6459

[2016-09-17 13:45] gyuho commented on #6455
It's failing when we test Semaphore with Go 1.7. Set it back to Go 1.6.3 for now.

[2016-09-18 04:05] smarterclayton commented on #6455
I'm seeing a failure of grpc to connect properly on v3.1.0-alpha.0 and v3.0.6 - error is different, but symptom is the same.  Compiled with go 1.7 clients aren't able to connected, compiled with go 1.6.2 clients can connect.

v3.1.0-alpha.0

[code]

It's definitely 1.7 vs 1.6.2 for me - 3.0.6, 3.0.9, and 3.1.0-alpha.0 exhibited same behavior.

[2016-09-18 04:12] smarterclayton commented on #6455
Also does not work in Go 1.7.1 either.

[2016-09-18 08:31] xiang90 commented on #6455
@gyuho

In go 1.7 release note

[code]

This breaks us. We need to explicitly set h1 in the nextProtos.

[2016-09-18 08:33] gyuho commented on #6455
@xiang90 Ok will try that. Thanks.

[2016-09-18 10:54] xiang90 opened #6464 "Test: TestCtlV3Lock"
[code]

[2016-09-18 11:03] ffbin commented on #6406
@xiang90 , I have try with 5 seconds TTL with 1 second update time, the problem still exists.

[103_log.txt](https://github.com/coreos/etcd/files/478649/103_log.txt)
[176_log.txt](https://github.com/coreos/etcd/files/478650/176_log.txt)
[177_log.txt](https://github.com/coreos/etcd/files/478651/177_log.txt)

[2016-09-18 13:44] #6455 closed

[2016-09-19 03:08] xiang90 commented on #6442
@johnbazan Does k8s use etcdctl? I think k8s use etcd client not its command line tool.

[2016-09-19 03:19] gyuho commented on #6464
[code]

Got another failure

[2016-09-19 06:28] mitake commented on #6446
@heyitsanthony the generalized functionalities seem to be good and it will work well with namazu. Can I work on it if you are busy?

[2016-09-19 09:02] sinsharat opened #6468 "Test: Getting timeout error for make-mirror modify dest prefix"
I wrote one test case as specified below:

[code]

But on executing the test case i am getting the error: test timeout for 7s

I put some logs in the execution flow and below is the logs which i am getting:
`=== RUN   TestCtlV3MakeMirrorModifyPrefix
Going to execute cmd : [./etcd --name testname0 --listen-client-urls http://localhost:20000 --advertise-client-urls http://localhost:20000 --listen-pe

[2016-09-19 09:05] sinsharat commented on #6468
@gyuho Request you to look into this. Need your help.
Thank you!

[2016-09-19 09:34] xiang90 commented on #6314
I  do not think there is much we can do here. We already set election timeout pretty high for the CI. But CI was still slow enough to trigger an election. This happens very infrequent. So I do not think it worth a fix.

[2016-09-19 09:44] xiang90 commented on #6406
I cannot reproduce this. I created a 3 member clusters. Setting TTL keys, keep on updating it, and kill random member periodically, but everything seems to be fine.

Can you please provide a script that I can run to reproduce your issue on any local machine?

I should be able to do ./reproduce.sh to reproduce the issue you see.

[2016-09-19 10:18] sinsharat commented on #6468
@gyuho i think the issue is happening due to usage of new flags while executing the make-mirror command. Since for the old test case as well when i used these flags with prefix and dest-prefix same, it started timing out.

[2016-09-19 10:26] gyuho commented on #6468
@sinsharat Try `"--prefix", "o_"`, not `"--prefix o_"`

[2016-09-19 12:11] ffbin commented on #6406
@xiang90 , Can you share me your code about created a 3 member clusters and set TTL keys and keep on updating it. I want to compare your code and my code to find the difference. And I will provide reproduce.sh later.

[2016-09-19 12:28] xiang90 commented on #6406
@ffbin

Well. Ideally you should provide the reproduce script as I mentioned before. Since you did not, we have to guess what you did. I have no idea why you would like to compare them, I hope you can share us what you had at hand.

But anyway, here is my simple script:

on one member's machine:
[code]

Kill the other members randomly, and expect the script always succeeds.

It works for me.

[2016-09-19 13:57] vtolstov opened #6471 "example config file for etcd v3"
I'm build etcd from master and want to run etcd via -config-file but what format of this file? Can you share example?

[2016-09-19 13:59] vtolstov commented on #6471
Sorry, foun that etcd.conf.yml.sample

[2016-09-19 13:59] #6471 closed

[2016-09-19 14:16] sinsharat commented on #6468
@gyuho Thanks a lot! it worked. :)

[2016-09-19 14:16] #6468 closed

[2016-09-19 18:00] gyuho commented on #6448
@sinsharat Closing. Please post any questions if any.

[2016-09-19 18:00] #6448 closed

[2016-09-19 18:03] sinsharat commented on #6448
@gyuho sure thanks!

[2016-09-19 19:52] #5491 closed

[2016-09-19 20:15] heyitsanthony commented on #6314
@xiang90 it's still flakey, though. I suspect having an l-read before the put will fix this...

[2016-09-19 21:52] #6314 closed

[2016-09-19 22:58] sks commented on #6262
Thanks @xiang90 & @heyitsanthony for the assistance,

We ended up disabling the dns health_check.

[2016-09-19 22:58] #6262 closed

[2016-09-20 00:38] hongchaodeng opened #6476 "Watch chan is closed right after Watch() call"
**Version**: v3.0.9, master

What?
Watch chan returned from a recent Watch() call is closed quickly (1ms) on doing integration test.
You can reproduce it using the stress test below:

[code]

In bash, do:
[code]

[2016-09-20 00:49] hongchaodeng commented on #6476
It's also reproducible on master branch

[2016-09-20 03:03] muralibandi opened #6477 "Unable to restore ETCD2 data"
Hi ,

I lost data on one of my etcd node and trying to restore data from other node in etcd2 cluster. But facing issues..

kube-master01 backup # etcd2 --data-dir=/home/core/new/backup/ -force-new-cluster
2016-09-20 02:57:35.855033 I | etcdmain: etcd Version: 2.3.2
2016-09-20 02:57:35.855117 I | etcdmain: Git SHA: ce63f10
2016-09-20 02:57:35.855124 I | etcdmain: Go Version: go1.6.3
2016-09-20 02:5

[2016-09-20 03:07] muralibandi commented on #6477
Below is the command used to take backup from the a node in the cluster.

etcdctl backup --data-dir /var/lib/etcd2 --backup-dir /root/backup/

[2016-09-20 03:35] heyitsanthony commented on #6446
@mitake sure, have at it.

[2016-09-20 05:47] zbindenren opened #6479 "Add NewWithTimeout(cfg Config) (*Client, error)"
Hi

First of all: thanks for that great software!

I tried to write a etcd cluster health check for a tool we are creating.

I was inspired by the code in [etcdctl](https://github.com/coreos/etcd/blob/master/etcdctl/ctlv3/command/ep_command.go). And I noticed a strange behavior in the clients `New` method, when the etcd daemon is not running.

Here the test:
[code]

I see the following endpoint:
[

[2016-09-20 06:35] sinsharat commented on #6451
@xiang90 You are most welcome :-)

[2016-09-20 06:36] sinsharat commented on #6448
@gyuho just needed one confirmation from you, Are distributed locks used for performing upgrades?

[2016-09-20 06:57] #6479 closed

[2016-09-20 10:36] sinsharat opened #6480 "Query: ctlv3 get"
I had few queries regarding get command:
1. when output is requested in json format, the key and value returned are encrypted values always. What is the reason for always returning encrypted value? What is the encryption being used?
2. with -w=json option --hex doesn't work. Can we give error for such things to maintain consistency as we are giving for -w=table.
3. Would like to know about an exam

[2016-09-20 11:53] shuqilou opened #6482 "Certificate format: pem only?"
Hi~
I just wonder whether the etcd only supports certificate or key whose format is **pem**? Can I use some other certificate whose format is different from pem, such as **keystore**? We want to ensure a more secure SSL communication with specificed certificate, and as far as I know, **etcd does not support to encrypt certificate in PEM format**.
Looking forward to your reply.
@xiang90  @gyuho @he

[2016-09-20 13:09] woodcutter007 opened #6483 "keepalive when network reset"
I use keepalive, when the network is break, call client.Grant is block. But after a long time, the network is reset, Grant is not continue. Is it a bug. I use version 3.0.0. and watch is ok.
tks.

[2016-09-20 13:45] ffbin commented on #6406
@xiang90 , my code is like this:
SPS_INT32 WriteToString
(
    const SPS_CHAR *pcData,
    SPS_SIZE_T   size_tSize,
    SPS_SIZE_T   size_tLen,
    std::string *pstrReturn
)
{
    if (SPS_NULL_PTR != pstrReturn)
    {
        pstrReturn->append(pcData, size_tSize * size_tLen);
        SPS_RET_VAL(size_tSize * size_tLen);
    }
    else
    {
        SPS_RET_VAL(0);
    }
}

typedef signed int

[2016-09-20 15:27] xiang90 commented on #6406
Can you provide a simple script that I can use to reproduce the issue?

There might be a bug in your user code. I would suggest you to use etcdctl to reproduce it.

[2016-09-20 15:33] xiang90 commented on #6480
they are not encrypted. They are in base64 format. JSON encodes bytes array into base64 string.

It does not work since JSON already encodes it as base64 string. We should not overwrite it.

fromKey is an open ending range. You can get all keys that are larger than "foo" for example

If you have keys: foo1, foo2, foo3...foo9
You can use range to get keys rang from `foo1` to `foo9`. Then you can se

[2016-09-20 15:36] xiang90 commented on #6483
Can you provide a simple script to reproduce the issue?

[2016-09-20 15:46] sinsharat commented on #6480
@xiang90 Thanks for the information. Just still not clear what is meant by larger than foo for fromKey?

[2016-09-20 16:00] xiang90 commented on #6480
a is larger b -> bytes.Compare(a, b) >0

In the previous example, if you do --from-key foo, you will see all keys that are larger than foo. They are: foo1, foo2 ..., foo9

[2016-09-20 16:10] sinsharat commented on #6480
@xiang90 thanks a lot for clarification. Will try it out.
Thanks!

[2016-09-20 16:11] xiang90 commented on #6480
Closing this out. Please help improving our documentation :) Thank you!

[2016-09-20 16:11] #6480 closed

[2016-09-20 16:17] sinsharat commented on #6480
@xiang90 sure!
Thanks!

[2016-09-20 16:24] sinsharat commented on #6480
@xiang90 Can we add examples for --fromkey and range end examples to the doc. I feel without these many can get confused. What do you suggest?

[2016-09-20 16:27] sinsharat commented on #6480
Or at-least modify the descriptions to make it more clear. Like the explaination which you provided?

[2016-09-20 16:45] heyitsanthony commented on #6482
What is your threat model?

[2016-09-20 17:02] heyitsanthony commented on #6448
@sinsharat probably. Distributed shared locks have around for at least three decades, someone somewhere must have already used them to orchestrate some upgrade process.

[2016-09-20 17:09] heyitsanthony commented on #6479
It's hanging because `clientv3.New` used to block until it could establish a connection to the cluster. It now only blocks if a `DialTimeout` is given. Cf. #6162 for more background. Thanks!

[2016-09-20 17:37] muralibandi commented on #6477
Can some one help me on this, do i have any option other than rebuilding etcd cluster?

[2016-09-20 18:36] heyitsanthony commented on #6477
@muralibandi I created a backup with a two member cluster in 2.3.2 and got the same error when restoring with `-force-new-cluster`. Restoring from the same backup with 2.3.7 and `-force-new-cluster` works for me. So, try 2.3.7?

[2016-09-20 19:57] muralibandi commented on #6477
I am able to restore my cluster using steps mentioned in below url..

https://coreos.com/etcd/docs/latest/etcd-live-cluster-reconfiguration.html

[2016-09-20 22:28] xiang90 commented on #6480
In which doc? https://github.com/coreos/etcd/blob/master/Documentation/dev-guide/interacting_v3.md#read-keys? Feel free to update it. I can do it later this week or next week if you are busy.

[2016-09-20 22:32] xiang90 commented on #6477
2.3.2 has known issue with --force-new-cluster flag. it is fixed since 2.3.3. As you already got it working, I close this issue. Thanks!

[2016-09-20 22:32] #6477 closed

[2016-09-20 23:09] sinsharat commented on #6480
@xiang90 sure will do it no issues.

[2016-09-21 01:48] woodcutter007 commented on #6483
I break the network by manual, and the keepalive code is below.

func EtcdKeepAlive(key, value string, ttl int64) {

	fmt.Println("[EtcdKeepAlive]")
	client := Etcd_Manager.Client
	//create ttl node with 10s and keepalive forever
	if (ttl == 0) {
		ttl = 5
	}
	lease := clientv3.NewLease(client)
	resp, err := lease.Grant(context.TODO(), ttl)
	if err != nil {
		fmt.Println("[EtcdKeepAlive]", err)

[2016-09-21 02:17] manojbadam opened #6488 "functional-tester tool is throwing connection error"
Hi Team,

I'm trying to follow the functional-tester tool document to test our etcd-cluster and i always fall into connection refused issue.

Scenario 1 -
I have 3 VMs running etcd and etcd-agent
    and 1 VM running the etcd-tester using below command

`sudo ./etcd-tester -agent-endpoints="ip1:9027,ip2:9027,ip3:9027" -limit=3 -stress-key-count=250000 -stress-key-size=100`

This was throwing below

[2016-09-21 05:01] qinguoan opened #6489 "sos: how to rollback data to earlier time?"
I did wrong del operation, please tell me how can I rollback data to earlier time. Thanks a lot !

[2016-09-21 05:16] hongchaodeng commented on #6489
We only accept issues for feature request or bug report.
For Help & Question, please see https://github.com/coreos/etcd#contact

[2016-09-21 05:16] #6489 closed

[2016-09-21 08:33] Rucongzhang opened #6490 "etcd server timeout error"
Hi:
I am a newer to ETCD. I find a ETCD bug. The bug is described following:
we use etcd 2.1.1 version. We install server alone. we create a temporary node with ttl=5S by etcd client and update the ttl every sercond. At same time, we wirte flie .Every record is 1MB, the write rate is about 250MB per Second. When write persist about 5 mins, the client occur error that is the temporary node is not f

[2016-09-21 08:40] xiang90 commented on #6490
@Rucongzhang etcd is designed to store metadata, not data. etcd2 has a total size limit round 250MB, and total key limit around 100K. Please make sure you do not write huge amount of data into etcd2. etcd3 can do better but still you cannot expect etcd to store > 10GB of data. It is not designed for that.

[2016-09-21 08:41] xiang90 commented on #6483
How? Modify IP tables? Or unplug wire?

[2016-09-21 08:45] Rucongzhang commented on #6490
Hi Xiang:
              Thank you for your quick answer. But I do not write data to ETCD. I write data to disk. I test how the disk IO affect the etcd server. Thank you.

[2016-09-21 08:47] Rucongzhang commented on #6490
@xiang90 :Thank you for your quick answer. But I do not write data to ETCD. I write data to disk. I test how the disk IO affect the etcd server. Thank you.

[2016-09-21 08:47] xiang90 commented on #6490
@Rucongzhang Sorry. I misunderstood your question. It depends on how OS schedule the writes. If etcd cannot fsync to disk for 1 second, then there will be issues. It might trigger leader election for example. etcd is very disk latency sensitive. We usually suggest users to use separate disk for etcd WAL file for reliable performance.

[2016-09-21 08:57] Rucongzhang commented on #6490
@xiang90  Do you have any detail material which introduce why etcd is very disk latency sensitive? Thank you!

[2016-09-21 08:59] gyuho commented on #6488
@manojbadam Can you post your etcd logs? It's in `agent-*` directories.

[2016-09-21 09:02] xiang90 commented on #6490
@Rucongzhang No. I do not have. etcd relies on Raft to maintain its leadership and replicate data. If you are interested, I would suggest you to read raft paper. Thanks.

[2016-09-21 09:06] xiang90 commented on #6421
@Seth-Karlo I looked at the WAL file. I can confirm that the WAL is corrupted as @heyitsanthony assumed. It wrote a bad record size field. So it cannot even load the CRC to give you a good error message back. We improved this a little bit in etcd3 by trying to write in one sector when possible.

If this happened, you have to remove this member for the cluster and add it back to the cluster as a fr

[2016-09-21 09:06] #6421 closed

[2016-09-21 10:13] woodcutter007 commented on #6483
disable the network card, and the  phenomena is not  necessary

[2016-09-21 10:23] xiang90 commented on #6483
What does this mean?

[2016-09-21 10:58] woodcutter007 commented on #6483
This is not inevitable

[2016-09-21 11:55] #4019 closed

[2016-09-21 15:34] timoreimann commented on #5372
For those ending up at this issue as well trying to find the proper etcd v3 approach to creating backups: it's documented here: https://github.com/coreos/etcd/blob/master/Documentation/op-guide/recovery.md

[2016-09-21 15:54] gyuho commented on #6488
@manojbadam Easiest way is to run with `goreman` https://github.com/coreos/etcd/tree/master/tools/functional-tester#with-goreman

It works fine for me.

[2016-09-21 17:57] #5920 closed

[2016-09-21 20:52] heyitsanthony commented on #6483
@woodcutter007 there were some bugs in grpc and reconnect handling in 3.0.0; try this again with 3.0.9?

[2016-09-21 20:55] #6476 closed

[2016-09-22 03:11] manojbadam commented on #6488
thanks @gyuho for your reply.. I gave a try with goreman and i end up with this message.

[code]

Can you also let me know the path for etcd logs. i couldnt find any in /var/lib/etcd or /var/lib/etcd2

Thanks

[2016-09-22 05:03] hongchaodeng opened #6503 "Watch chan fails with "client connection closing" under stress test"
After #6476 is fixed,  rerunning the stress test for a long time (~1h) still gives out error:
[code]

This is from the watch chan err response:
[code]

Script to keep test running:
[code]

[2016-09-22 05:04] hongchaodeng commented on #6503
cc @xiang90 @heyitsanthony

[2016-09-22 14:03] gyuho commented on #6488
@manojbadam How did you run testing cluster? It should be in `agent-1/etcd-log` directory if you ran it locally with `goreman`

[2016-09-22 19:51] jwaldrip opened #6508 "Lets Encrypt Support"
# Feature Request

It would be AMAZING if etcd was https by default and leveraged lets encrypt to generate certs for the client.

[2016-09-22 22:34] xiang90 commented on #6490
Question are answered. Closing this issue. Let us know if you have any further questions.

[2016-09-22 22:34] #6490 closed

[2016-09-22 23:36] doodles526 opened #6509 "raft: Expose checkQuorumActive"
Is there a particular reason why checkQuorumActive isn't exposed? Currently we can get this by `Status()` -> `map[id]Progress` -> iterate over `Progress.RecentActive`.

But that's just what checkQuorumActive already does. Is there any objection to a PR to change checkQuorumActive to CheckQuorumActive?

[2016-09-23 01:46] woodcutter007 commented on #6483
ok, I will try it.   thanks

[2016-09-23 06:01] sinsharat opened #6511 "Query: etcdctlv3 Alarm"
In the etcdctlv3 i could find ways to list and disarm alarms.
But i couldn't find a way to raise an alarm. Need info on how to raise an alarm.

[2016-09-23 06:13] sinsharat commented on #6511
Got the answer.

[2016-09-23 06:13] #6511 closed

[2016-09-23 13:03] gyuho commented on #5156
@xiang90 @zefciu

Cockroach team also achieves this

https://github.com/cockroachdb/cockroach/blob/master/build/protobuf.mk#L60

with bunch of `sed` commands (`subst` in Makefile)

And also set the Proto file import paths like

[code]

which would require changes in all of our proto files.

I don't think it's worth that effort since we only need this for `etcdserverpb`

1. We could make the import

[2016-09-23 17:05] #6446 closed

[2016-09-23 17:26] heyitsanthony commented on #6446
@gyuho @mitake should this be closed or is there still some work to do on fault injection and agent termination?

[2016-09-23 17:39] gyuho commented on #6446
@mitake Do you need still more change to run `namazu` with etcd functional-tester? I think most of the items you mentioned is now doable?

Please feel free to leave this open.

Thanks.

[2016-09-23 18:10] heyitsanthony commented on #6503
I added `clus.Members[0].DropConnections()` after the `Watch` in `TestWatchOverlapContextCancel` to stress the reconnect path with ctx cancelation and got unexpected closed channels. Probably related.

[2016-09-23 23:41] gyuho opened #6515 "wal: can't repair with subsequent zero entries in sector"
- Happened in functional-tester with failpoints with master branch (2 days ago, there was no change in `wal` package)
- Data can be found here https://console.cloud.google.com/storage/browser/etcd-functional-tester/wal-crc-20160923

To summarize,

[code]

And if I run the `wal.Repair` function on this WAL file

[code]

[code]

First sector is 80 bytes, second is 88 bytes, where the first 8 bytes a

[2016-09-24 13:24] mitake commented on #6446
@heyitsanthony @gyuho I still want to introduce some changes (as Anthony mentioned, decoupling fault injection and agent termination) but they will be straightforward. Closing this issue is ok. I'll open new PRs later.

[2016-09-26 04:17] justinruggles commented on #6464
I'm getting hanging/timeouts when trying to obtain a lock when using master. Using v3 works fine. The hang appears to be in waitForDelete(), so it may be related to this.

[2016-09-26 04:31] xiang90 commented on #6464
@justinruggles It would be great if you can help to debug this if you can reproduce. Also it would be useful to share how to reproduce it.

[2016-09-26 05:29] fanminshi commented on #6380
experiencing connection problem when running the functional tester. similar to the one as https://github.com/coreos/etcd/issues/6488

[2016-09-26 08:16] YuleiXiao opened #6518 "what is different about Revision, ModRevision and Version?"
```Revision``` in ```ResponseHeader```, and ```ModRevision``` and ```Version``` in ```KeyValue```, what is different about them. I am confused from the comment.

If I ```Watch``` with ```WithRev```, which one I should fill into ```WithRev```?

[code]

[code]

[2016-09-26 11:14] xiang90 commented on #6305
@heyitsanthony @purpleidea Is this still a problem? If it is, can we reproduce this with an isolated and etcd centric way reliably? If not, shall we close this?

[2016-09-26 11:14] xiang90 commented on #6483
@woodcutter007 Any update?

[2016-09-26 11:15] xiang90 commented on #6442
@johnbazan kindly ping

[2016-09-26 11:24] xiang90 commented on #6405
Try with etcd 2.3.7. I do not think we should fix the ps issue. It will also show in history.

I researched around, the suggested ways to make it secure are:

1. use prompt
2. use ENV

which are supported by etcdctl today.

[2016-09-26 11:24] #6405 closed

[2016-09-26 11:55] woodcutter007 commented on #6483
yes, I have try sometimes, using v3.0.9, keepalive is ok. thanks

[2016-09-26 11:55] #6483 closed

[2016-09-26 12:22] xiang90 commented on #6366
I found a similar issue with elect. So probably a watcher bug.

[2016-09-26 12:40] purpleidea commented on #6305
I think we should keep it open. @heyitsanthony had some comments about
the arbitrary nature of the health check and the 5s limit. IIRC.

On Mon, Sep 26, 2016 at 7:14 AM, Xiang Li <notifications@github.com> wrote:

[2016-09-26 12:43] xiang90 commented on #6305
There will be a timeout anyway. I feel 5 seconds is fine. Does it cause you any problem.

[2016-09-26 13:30] purpleidea commented on #6305
@xiang90 To be honest, I don't know enough about the internals to know what is best here. I think it's better that I defer to your and @heyitsanthony's good judgement.

[2016-09-26 13:41] justinruggles commented on #6464
When I tried again using etcd server from master there was no problem, so I think this was just an issue with using release-3.0 etcd server with a master branch client. Sorry for the noise.

[2016-09-26 14:44] bdarnell opened #6522 "raft: PreVote RPC"
We'd like to implement the Pre-Vote RPC for Raft. CheckQuorum solves a lot of the same problems as PreVote, but for various reasons we're thinking about turning that off (to take more control of time-related operations at the higher levels of the application).

Do you have any objections or thoughts before I get started on this? Should this be implemented as a new StatePreCandidate, or is it just

[2016-09-26 14:46] xiang90 commented on #6522
I do not have objection as long as we can make it optionally.

[2016-09-26 15:00] xiang90 commented on #6522
@bdarnell It probably would be cleaner if we add a pre vote state? Have you looked at other impls? I think mongodb/raft, copycat/raft already implemented pre-vote. Maybe we shall see how they do it?

[2016-09-26 15:26] xiang90 commented on #6464
@mitake @AkihiroSuda I had hard time to reproduce this. Can you try to help?

[2016-09-26 16:23] heyitsanthony commented on #6518
@YuleiXiao the `Revision` is the current revision of etcd. It is incremented every time the v3 backed is modified (e.g., Put, Delete, Txn). `ModRevision` is the etcd revision of the last update to a key. `Version` is the number of times the key has been modified since it was created. `Get(..., WithRev(rev))` will perform a `Get` as if the etcd store is still at revision `rev`.

[2016-09-26 16:24] xiang90 commented on #6518
Probably we should add the explanation into our docs.

[2016-09-26 16:25] xiang90 commented on #6518
Explicitly call them out here? https://github.com/coreos/etcd/blob/master/Documentation/learning/data_model.md

[2016-09-26 16:29] gyuho commented on #6518
@YuleiXiao  Here's a simple example

`Revision` and `ModRevision` are different in that `ModRevision` is the **last revision of a key**.

[code]

[2016-09-26 20:35] crawford commented on #977
@kbroughton paths need to be escaped. https://www.freedesktop.org/software/systemd/man/systemd-escape.html

[2016-09-26 20:55] heyitsanthony commented on #6515
@gyuho `isTornEntry` should only look a single entry; subsequent entries don't matter. It is supposed to check that if a single record is corrupted, then the bytes for that one entry should be all 0's on at least one of the sectors it spans. The disk model is that if a record is corrupted, then at least one of its sectors wasn't written down with the entry data. If the sector wasn't written with t

[2016-09-26 20:59] gyuho commented on #6515
@heyitsanthony Right. I will first reproduce more, and then look more closely at the WAL files. Thanks.

[2016-09-27 02:05] YuleiXiao commented on #6518
@heyitsanthony like ```Get(..., WithRev(rev))```, which one I should assign to ```rev``` when I had already get key-value? ```ModRevision```, ```Version``` or ```Revision```?

[2016-09-27 02:50] mitake commented on #6464
@xiang90 ok, I'll try it out

[2016-09-27 03:33] raindog308 opened #6526 "Does not build under Debian 8 32-bit, also repo problem"
No 32-bit releases of etcd?  Bummer, heavy sigh.

Tried to follow [these directions](https://github.com/coreos/etcd/blob/master/Documentation/dl_build.md#build-the-latest-version)...sadness ensued.

**Problem 1 - git clone directions don't work**

[code]

**Problem 2 - build from source doesn't work**

[code]

Maybe if I try this...

[code]

This is on a very generic 32-bit DigitalOcean Debian 8 V

[2016-09-27 04:27] xiang90 commented on #6526
GitHub isn't able to authenticate you. So, either you aren't setup with an SSH key, because you haven't set one up on your machine, or your key isn't associated with your GitHub account.

You can try to do git clone https://github.com/coreos/etcd.git instead.

[2016-09-27 04:45] xiang90 commented on #6518
@YuleiXiao I do not think you understand what @heyitsanthony and @gyuho said. First, you need to understand what are revision and version. Then it is straightforward to decide if you want to use modRev or Rev. Both of them can be used. Version is not Rev. So it is irrelevant.

[2016-09-27 05:17] YuleiXiao commented on #6518
@xiang90 I try to understand. But still confused, like the example gyuho show me. If I ```Get(foo, WithRev(rev))```, ```revision``` and ```mod_revision``` is different. How could be both of them can be used?

[code]

[2016-09-27 05:23] xiang90 commented on #6518
It depends on what you want to get. You can use both, but you cannot use them at the same time.

Let me try again to explain what @heyitsanthony mentioned previously. Revision is a global revision. ModRevision is the revision that the key is modified.

It is just like time. You created a file at time 20:00. When you read the file at 21:00. The modTime is still 20:00, but current time is 21:00.

et

[2016-09-27 05:48] mitake commented on #6464
I tried to reproduce the fails with more than 2000 iterations by namazu process inspector (that increases randomness of thread scheduling) but couldn't reproduce. How long did you need to produce the above fails? @xiang90 @gyuho

[2016-09-27 06:19] xiang90 commented on #6464
@mitake I cannot reproduce it myself. :( I suspect that it might be caused by CPU starvation. But I am not sure.

[2016-09-27 07:48] AkihiroSuda commented on #6464
Didn't hit as well..

[2016-09-27 10:10] lacion opened #6528 "clientv3 go get failing."
using go get is currently resulting in an error.

this is happening to me locally using OSX El Capitan and go 1.7.1 and in travis ci using go 1.7.1
[code]

[2016-09-27 10:12] xiang90 commented on #6528
gRPC breaks the API. We will update etcd client later. You need to revert your gRPC dependency to their most recent release 1.0 instead of using head for now.

[2016-09-27 10:12] #6528 closed

[2016-09-27 10:16] xiang90 commented on #6394
@sinsharat Can you help on this one a little bit? I think you already know most of the concept well.

[2016-09-27 10:19] sinsharat commented on #6394
@xiang90 sure will look into it.
Thank you!

[2016-09-27 11:13] sinsharat commented on #6394
@xiang90 @heyitsanthony I have identified as the below items which can be added to the glossary:
## Members
## Keys
## Keyspaces - not sure about its defination. (is it being referred for the flags?)
## Revisions
## Versions
## Snapshot
## Lease
## Compaction
## Watches
## Transactions
## Roles
## Users
## Authentication
## Endpoint
## Election
## Quorum
## Mirroring
## Migration
## Alarm

Let me

[2016-09-27 11:35] YuleiXiao commented on #6518
@xiang90 ok, thanks very much. Understand it.

[2016-09-27 11:35] #6518 closed

[2016-09-27 11:38] YuleiXiao opened #6529 "clientv3 compile fail"
It looks like grps.Balancer modify interface.
[code]

[2016-09-27 11:59] sinsharat commented on #6394
Also
## Store
## Command

[2016-09-27 12:47] gyuho commented on #6529
This was introduced via https://github.com/grpc/grpc-go/pull/899.

/cc @heyitsanthony

[2016-09-27 14:10] raindog308 commented on #6526
Apparently, the documentation is broken (I was copy/pasting it, as demonstrated above).

Also, I'm not sure why the documentation would expect me to log into Github to clone a public repo.

Also, cloning and building with your correctly git works (just did it), but manually running downloading a release and following the directions (as demonstrated above) does not work on 32-bit Deb 8.

But hey, p

[2016-09-27 14:14] vimalk78 opened #6530 "Query: apply entries took too long for 1 get request"
Environment:
` 4 core, Intel i5 , 4 GB , Ubuntu 14.04`

started 3 node etcd cluster in local machine using

` goreman start`
the Procfile is the default provided, no changes.

did a get operation using root user
`./etcdctl get key1 --user=root`

get following text in the logs:

19:25:07 etcd3 | 2016-09-27 19:25:07.511023 I | auth: authorized root, token is xWyuAJdKSJYXpOne.1765
19:25:07 etcd3 | 20

[2016-09-27 14:19] vimalk78 commented on #6530
following log also appears after a while

19:40:46 etcd1 | 2016-09-27 19:40:46.747570 W | etcdserver: failed to send out heartbeat on time (exceeded the 100ms timeout for 191.216803ms)
19:40:46 etcd1 | 2016-09-27 19:40:46.747599 W | etcdserver: server is likely overloaded
19:40:46 etcd1 | 2016-09-27 19:40:46.747605 W | etcdserver: failed to send out heartbeat on time (exceeded the 100ms timeout fo

[2016-09-27 14:30] #6442 closed

[2016-09-27 14:31] johnbazan commented on #6442
I saw that they we're sticking with an specific version of etcdctl, but I was not able to keep on seeing their code since I ran out of time.
I'll close this since it was just a question for an alternative way to set the credentials in etcdctl.

[2016-09-27 14:40] gyuho commented on #6515
@heyitsanthony Some progress...

The broken WAL file is `agent09/agent.etcd/member/wal/000000000000039b-0000000010115210.wal`, where `wal.Repair("./agent09/agent.etcd/member/wal")` returns `wal: could not repair error (walpb: crc mismatch)` error.

<br>

`od` command shows

[code]

If we look at raw bytes of that file with some print statement inside `(d *decoder) decodeRecord(rec *walpb.Record)`

[2016-09-27 15:28] xiang90 commented on #6530
Does the machine have SSD or HDD?

[2016-09-27 15:31] xiang90 commented on #6526
@raindog308 Can you send a patch to change the clone command? Thanks.

[2016-09-27 15:33] xiang90 commented on #6518
@YuleiXiao No problem. Please help to improve the doc if you have time. Thanks.

[2016-09-27 15:35] vimalk78 commented on #6530
It uses an HDD

vimal@Tardis /home/vimal $ sudo smartctl -i /dev/sda
smartctl 6.2 2013-07-26 r3841 [x86_64-linux-3.19.0-68-generic] (local build)
Copyright (C) 2002-13, Bruce Allen, Christian Franke, www.smartmontools.org

=== START OF INFORMATION SECTION ===
Model Family:     Western Digital Caviar Blue Serial ATA
Device Model:     WDC WD3200AAJS-60Z0A0
Serial Number:    WD-WMAV2HW06484
LU WWN De

[2016-09-27 15:39] xiang90 commented on #6530
You probably cannot run 3 etcd members on the same machine that share the single HDD. It is too slow.

[2016-09-27 15:47] vimalk78 commented on #6530
ok.

can you also pls respond about the other queries

Thanks !!

[2016-09-27 15:54] xiang90 commented on #6530
use consistency=s, which is a local read.

[2016-09-27 15:54] xiang90 commented on #6530
it is 10GB virtual memory. The RSS is 2.7MB.

[2016-09-27 15:58] xiang90 commented on #6530
@vimalk78 Can you please separate questions/issues into different github issues. it is easier for us to answer and easier for other people to search around. thanks.

[2016-09-27 16:09] xiang90 commented on #6529
@gyuho gRPC does not have any release after 1.0. We should not update the dependency at the moment.

[2016-09-27 16:11] vimalk78 commented on #6530
how to use this option from etcdctl

i am new to Go, still isnt 10 GB Virtual memory for a fresh process a bit much.

[2016-09-27 16:12] xiang90 commented on #6530
--consistency=s

etcd uses mmap. Is 10GB virtual memory causing you any issue?

[2016-09-27 16:14] vimalk78 commented on #6530
but i dont see any such option in etcdctl GLOBAL OPTIONS

no it is not causing any issue, i was expecting less mem usage from a Go process :)

[2016-09-27 16:15] xiang90 commented on #6530
It is just for get. so it wont be in global options. you cannot do local write.

[2016-09-27 16:17] vimalk78 commented on #6530
ok, i see it in the `/etcdctl help get`

[2016-09-27 16:18] vimalk78 commented on #6530
ok , i will log different queries in different issues.

3q ^_^

[2016-09-27 16:20] xiang90 commented on #6530
OK. For the latency warning, please try with SSD or run etcd on dedicated nodes. Thanks.

[2016-09-27 16:52] heyitsanthony commented on #6526
This doc bug / build bug hasn't been fixed. Reopening.

[2016-09-27 16:53] xiang90 commented on #5193
https://github.com/coreos/etcd/pull/6212 fixes this. QGET in v3 does not write to disk anymore.

[2016-09-27 16:53] #5193 closed

[2016-09-27 17:05] nitinmuppalaneni commented on #6529
I had to do this.

etcd> git diff                                                                     nmuppalaneni@nmuppalaneni-vm etcd> git diff
diff --git a/clientv3/balancer.go b/clientv3/balancer.go                                                        diff --git a/clientv3/balancer.go b/clientv3/balancer.go
index 011f6cf..16df457 100644

[2016-09-27 17:36] nitinmuppalaneni opened #6533 "etcd v3 client times out after storing 600K keys"
Etcd v3 client is timing out on my test setup after creating ~600K keys (32B key, 0B value).

Are there any tunables that I need to change to make etcd v3 scale to large number of keys?

Ideally I would like to use as many as 100M keys.

2016-09-27 03:48:49.868443 I | fileutil: purged file default.etcd/member/snap/0000000000000003-00000000002feadc.snap successfully
2016-09-27 05:11:23.137459 I | e

[2016-09-27 17:38] xiang90 commented on #6533
You cannot store more than 10M keys or 8GB. etcd is not designed for storing large amount of data. It should be used as a metadata store.

[2016-09-27 17:39] xiang90 commented on #6533
What is your setup? We can store 10M keys into etcd without a problem on ec2.xlarge equivalent machines with SSD.

[2016-09-27 18:02] nitinmuppalaneni commented on #6533
Thank you Xiang for the quick reply.

I am using a VM with 4 cores ( Intel(R) Xeon(R) CPU E5-2690 0 @ 2.90GHz) and 8GB of RAM.
I tried with an SSD and saw the same behavior.

Did you set any config parameters to sustain good latency with 10M keys? What type of key pattern did you use? I am using random 32B keys hitting timeouts much sooner (~600K keys).

[2016-09-27 19:08] heyitsanthony opened #6534 "TestWatchEventType: WaitGroup is reused before previous Wait has returned"
via semaphore (https://semaphoreci.com/coreos/etcd/branches/master/builds/995)

[code]

[2016-09-27 19:11] heyitsanthony opened #6535 "TestWatchResumeCompacted: test timed out after 10m0s"
via semaphore (https://semaphoreci.com/coreos/etcd/branches/master/builds/1001)

[code]

[2016-09-27 19:47] fanminshi opened #6537 "Lease: Retrieving lease info using lease client LeaseTimeToLive() causes etcd node panic and die"
I observe that when lease client is retrieving a lease using LeaseTimeToLive() at the moment after the lease just has expired causes one of three etcd nodes to panic and die.

Setup:
OS: OS X El Captitan 10.11.6
etcd Version: 3.1.0-alpha.0+gi
Go Version: go1.7
Go OS/Arch: darwin/amd64

Recreating the issue:
1. Download ectd code in your working directory.
2. CD into `../github.com/coreos/etcd`, st

[2016-09-27 20:22] vimalk78 commented on #6530
i tested on my macbook, i get same result.

Processor Name:	Intel Core i5
Processor Speed:	2.6 GHz
APPLE SSD 256 GB

01:47:46 etcd2 | 2016-09-28 01:47:46.876054 I | auth: authorized root, token is KcAXrUysCxYmDgYk.569
01:47:46 etcd2 | 2016-09-28 01:47:46.876082 W | etcdserver: apply entries took too long [99.955703ms for 1 entries]
01:47:46 etcd2 | 2016-09-28 01:47:46.876089 W | etcdserver: avoid

[2016-09-27 20:39] gyuho commented on #6515
@heyitsanthony pointed out our page writer doesn't consider the file offsets, where it should. I will try to make page writer aware of file offsets with test cases.

[2016-09-27 20:45] fanminshi commented on #6380
Found bug that causes a etcd node to die when `LeaseTimeToLive()` function is used in lease functional testing.  https://github.com/coreos/etcd/issues/6537.

[2016-09-27 20:49] gyuho commented on #6537
Just to add

This starts happening when lease gets expired.

I will look at the code path sometime today as well.

[2016-09-27 21:45] kevincox opened #6538 "Allow setting log level of other packages."
Currently the only control the user has over logging is [via the --log-package-levels flag](https://github.com/coreos/etcd/blob/9e9bbb829ef25181e5178138af6349f7971cba59/etcdmain/etcd.go#L381-L395) which can only set the log levels of the `github.com/coreos/etcd` and the `--debug` flag which can enable debug logs globally. However it is currently impossible to set the log level of other packages li

[2016-09-27 21:51] gyuho commented on #6538
We have tens of packages in etcd. What specific package do you need to configure?

[2016-09-27 22:02] kevincox commented on #6538
For my case it's github.com/coreos/etcd/pkg fileutil but a more general solution would be nice for others.

[2016-09-27 22:46] Lokicity opened #6539 "advertise-client-urls question"
Hi
I am running etcd on a docker container and currently it works. However, I dont think I understand the
--advertise-client-urls=http://localhost:2379,http://localhost:4001

Why does the node need to advertise its client? My understanding is that the client refers to whoever will query or post information to etcd. Your client can be anyone. Why are we setting this to localhost:2379?

[2016-09-27 23:07] gyuho commented on #6538
Oh now I understand what you are suggesting. Currently we are setting either `capnslog.SetGlobalLogLevel(capnslog.INFO)` or `capnslog.SetGlobalLogLevel(capnslog.WARN)`.

Do you mean adding an option to set this global log level?
Maybe we can add a flag with `--global-log-level`?

[2016-09-27 23:10] heyitsanthony commented on #6539
@Lokicity that's the interface the etcd server uses to listen for client requests. For example if you run etcd on a server with IP's 1.2.3.4 and 4.5.6.7 but only want to serve client requests through 1.2.3.4:2379, you'd pass `--advertise-client-urls=http://1.2.3.4:2379` to etcd.

[2016-09-27 23:13] Lokicity commented on #6539
I thought thats what the --listen-client-urls=http://0.0.0.0:2379,http://0.0.0.0:4001  options are for.
Here, I am setting 0.0.0.0 meaning all IPs the host has accepting incoming client calls.

What is the difference of listen-client-urls and advertise-client-urls then? Thanks

[2016-09-27 23:25] heyitsanthony commented on #6539
Suppose etcd is listening on 127.0.0.1 and a public IP 1.2.3.4. If it advertises 127.0.0.1 and 1.2.3.4 then clients that synchronize their endpoints with the cluster will try to connect to the cluster through 127.0.0.1 in addition to 1.2.3.4.

[2016-09-27 23:41] xiang90 commented on #6533
I tried with an SSD and saw the same behavior.

How large is your cluster? Are you running all members on the same machine?

[2016-09-27 23:43] #6539 closed

[2016-09-27 23:50] xiang90 commented on #6530
Can you try to get the metrics from `clienturl/metrics` on each members in the cluster?

[2016-09-28 01:09] xiang90 commented on #6488
@manojbadam kindly ping. Can you provide the information @gyuho need?

[2016-09-28 01:49] vimalk78 commented on #6530
ok. i have restarted the cluster freshly, and performed following operations from `etcdctl`

[code]
which mertic you wanted me to check,"etcd_disk_wal_fsync_duration_seconds histogram" ?
i am attaching the metrics

[metrics.32379.txt](https://github.com/coreos/etcd/files/496967/metrics.32379.txt)
[metrics.22379.txt](https://github.com/coreos/etcd/files/496968/metrics.22379.txt)
[metrics.2379.txt](

[2016-09-28 01:50] xiang90 commented on #6530
[code]

There are a few fsyncs took more than 100ms, which triggered the warning. Typically, fsync takes <10ms on SSD.

[2016-09-28 02:46] vimalk78 commented on #6530
is there a way to clear the metric after startup. so that it doesnt include startup fsync cost

[2016-09-28 04:16] xiang90 commented on #6530
@vimalk78 No. But you can get the diff by querying it twice or setup Prometheus to monitor the metrics.

[2016-09-28 04:17] #6537 closed

[2016-09-28 04:32] manojbadam commented on #6488
@gyuho @xiang90 re-run the same steps with goreman and it worked this time. Let me validate the same steps on different etcd hosts.

[2016-09-28 05:28] vimalk78 commented on #6530
i added a log to print the cost of sync, in wal/wal.go

[code]

i get the same result on macbook with SSD

for `./etcdctl put key1 val1 --user=root`

0:52:31 etcd1 | 2016-09-28 10:52:31.456417 W | wal: wal/wal.go: WAL.sync: sync duration of 12.658596ms
10:52:31 etcd2 | 2016-09-28 10:52:31.948671 W | wal: wal/wal.go: WAL.sync: sync duration of 4.862794ms
10:52:31 etcd1 | 2016-09-28 10:52:31.951545

[2016-09-28 05:31] xiang90 commented on #6530
10:53:16 etcd1 | 2016-09-28 10:53:16.897005 W | etcdserver: apply entries took too long [116.484704ms for 1 entries]
10:53:16 etcd1 | 2016-09-28 10:53:16.897013 W | etcdserver: avoid queries with large range/delete range!
10:53:16 etcd2

So here is another issue. Auth is computationally extensive by design. It introduces high latency. It can be improved by making it async. I think there is a todo

[2016-09-28 05:41] vimalk78 commented on #6530
yes, i tested put/get without auth, it doesn't generate any latency logs

i would like to work on this issue/todo

[2016-09-28 05:53] mitake commented on #6530
@xiang90 @vimalk78 yes, the auth needs a long time because it needs password checking that involves heavy bcrypt operation. If a client uses a long living connection, the cost can be amortized. But clients like `etcdctl` creates connections often and the cost can be problematic.

The bcrypt checking can be excluded from the state machine transition but it needs careful validation and retry based o

[2016-09-28 05:57] sinsharat commented on #6530
@mitake i think we will need some kind of authentication or encryption for sure. So if auth takes a long time may be having a long connection is a better option, else using it in live systems without any auth will pose risk of leaking data to third party.

[2016-09-28 06:07] mitake commented on #6530
@sinsharat sure, I thought the long connection is a realistic assumption for the v3 API (it is based on gRPC) but can also understand the concern of the authentication cost. Taking 100ms means a user can execute etcdctl only 10 times per second (it cannot be executed concurrently at all). etcdctl wouldn't be invoked many times in performance sensitive paths but operation miss and bugs in shell scr

[2016-09-28 06:50] sinsharat commented on #6530
@mitake i will think over it and try to find a solution on managing both auth, encryption together without taking a tall on performance, Will also think about whether managing encryption from application side will be better than at etcd to avoid performance issues.
Once i come up with solution will discuss with you.
Thanks!

[2016-09-28 07:03] mitake commented on #6530
@sinsharat I already have an idea for solving the issue so I can share my implementation in the near future (maybe this week or next week).

BTW do you work in the same team? @sinsharat @vimalk78

[2016-09-28 07:05] sinsharat commented on #6530
@mitake yes we do work together for the same team.

[2016-09-28 07:10] mitake commented on #6530
@sinsharat @vimalk78 thanks. I'll share it with both of you. Or do you want to work on it if you already have a solid idea (https://github.com/coreos/etcd/issues/6530#issuecomment-250076788)?

[2016-09-28 07:16] vimalk78 commented on #6530
@mitake , no solid idea as of now, going through the code. you can share your thoughts also, we can discuss. then perhaps you can assign to me/sharat for implementation.

[2016-09-28 07:34] kevincox commented on #6538
Yeah, that would be good. Although it would still be nice to have a way to control per-package log levels more control over the global log level would be very helpful.

[2016-09-28 07:44] mitake commented on #6530
@vimalk78 ok I'll share my detailed design tomorrow. Please wait for a while.

[2016-09-28 07:53] oikomi opened #6542 "go get error"
error message:

[code]

env

[code]

[2016-09-28 07:54] vimalk78 commented on #6530
just a thought, will it help if etcdctl spawns a shell. the grpc dial up happens at shell startup and for later operations, it uses same authentication token for every request to server.

[2016-09-28 07:57] mitake commented on #6530
It doesn't seem to be used for non interactive purpose. If we have a workaround in etcdctl side, how about this: add a new command `etcdctl auth` for just getting token and let other etcdctl commands receive the token as their argument?

[2016-09-28 08:58] vimalk78 commented on #6530
this could also work.
some points need to check though :
- need to check if grpc dialup can accept a token instead of username/password
- whether same token can be used across different grpc sessions?
- is printing the token back to user a security issue? (not too sure about this one)

[2016-09-28 12:51] gyuho commented on #6542
Duplicate https://github.com/coreos/etcd/issues/6529

[2016-09-28 16:39] xiang90 commented on #6488
@manojbadam Closing. Let us know if you have any follow up questions.

[2016-09-28 16:39] #6488 closed

[2016-09-28 18:37] #6515 closed

[2016-09-28 18:38] gyuho commented on #6538
@heyitsanthony @xiang90 What do you think? This would be simple flag to add.

[2016-09-28 19:36] heyitsanthony opened #6546 "TestPublishRetry: len(action) = 1, want >= 2"
via semaphore (https://semaphoreci.com/coreos/etcd/branches/master/builds/1016)

[code]

[2016-09-28 20:39] sinsharat commented on #6394
closing this since the task is completed.

[2016-09-28 20:50] nitinmuppalaneni commented on #6533
I am running a single instance (no redundancy) for this benchmark.

[2016-09-28 23:34] SuhasAnand commented on #6529
cc @SuhasAnand

[2016-09-28 23:46] kevinburke opened #6549 "IsProgressNotify is true for Compacted errors"
I'm running version 3.0.10 on the client and the server.

If I run mirror.SyncUpdates and ask for a revision that's been compacted, the first WatchResponse I get is that the requested revision has been compacted.

[code]

I had some code that checked for ProgressNotify() messages and discarded them, since I seemed to get a lot of them at some point, and thought they were used for pinging the watch

[2016-09-29 00:52] xiang90 commented on #6394
I think current glossary is good enough to close this issue.

[2016-09-29 00:52] #6394 closed

[2016-09-29 01:42] xiang90 commented on #6538
@kevincox

I do not understand this issue. I think we already have a flag for that:

[code]

[2016-09-29 02:02] gyuho commented on #6538
@xiang90 You are right. I think it's already possible. https://github.com/coreos/pkg/blob/master/capnslog/logmap.go#L173-L190

[2016-09-29 07:02] mitake commented on #6530
I'd like to know the detailed reason. Is this really dangerous? I'm not sure it introduces the risk or not.

@xiang90 how do you think about the idea of the command for obtaining a token?

[2016-09-29 07:04] kevincox commented on #6538
@xiang90 No, that flag only changes the log levels of packages inside a repo. It can't change the level of different repos.

[2016-09-29 07:04] xiang90 commented on #6530
@mitake Is it possible to make the token generation async? It does not have any side effect. So we do not have to make it blocking.

[2016-09-29 07:05] xiang90 commented on #6538
@kevincox Only pkg in etcd use this logging infra. You cannot change logging outside etcd repo anyway.

[2016-09-29 07:06] vimalk78 commented on #6530
if token generation is async, how does the subsequent request, say Put, use
the token.

On 29 Sep 2016 12:34 p.m., "Xiang Li" <notifications@github.com> wrote:

[2016-09-29 07:07] xiang90 commented on #6530
@vimalk78 It should not block the following commands to be applied. But it blocks client response.

[2016-09-29 07:10] kevincox commented on #6538
`github.com/coreos/etcd/pkg` uses this infrastructure but according to the logger config is in a different repo. I would like to turn its logs off. This would literally be a one line source code patch. Please look at the code and you will see that this is not possible at the moment.

[2016-09-29 07:12] xiang90 commented on #6538
@kevincox No. According to the logging config, they are in the same repo `etcd` but different pkgs. If it does not work, there is a bug. You can submit patch to fix it.

[2016-09-29 07:22] mitake commented on #6530
@xiang90 sure async auth and generation of token is possible. Validating revision number of auth store can ensure correctness of authentication. But I thought that if the problem is only limited to the case of etcdctl, recycling token can avoid the cost of bcrypt simply (though it cannot prevent other problems like operation misses and bugs in management scripts).

I want to have an agreement abou

[2016-09-29 07:32] kevincox commented on #6538
Seeing that I issue I assume you understand what I mean now. Thanks for listening 😄

[2016-09-29 07:46] #6538 closed

[2016-09-29 09:07] vimalk78 commented on #6530
@xiang90 , i am sorry i dont quite understand your idea
the `clientv3/Client.dial`  needs the Token to invoke `grpc.Dial()`
or do you want to make the applying the Authenticate async in `EtcdServer.applyEntryNormal` or invoke `bcrypt` in a separate goroutine.
or something else i am totally missing.

thanks!

[2016-09-29 11:18] bdarnell opened #6552 "scripts/genproto.sh fails on clean checkout"
I need to regenerate protobufs (as a part of my work on #6522), but `scripts/genproto.sh` is failing for me. Here's the output on a clean checkout:

[code]

It looks like the `vendor` directory only has a partial copy of `gogo/protobuf`. I tried to fix this by editing `glide.yaml` and running `scripts/updatedep.sh`, but that just made more of a mess (glide wanted to delete a bunch of stuff), so I'

[2016-09-29 12:06] humingcheng opened #6553 "can watch notifications be prevented?"
when I edit several keys at one single time, I hope that the watcher would not be notified until the last key's edit. Is that possible to realize?

[2016-09-29 12:19] vimalk78 opened #6554 "auth/simple_token.go token not removed when etcdctl session closes"
The Token generated for a user during Authentication is being cached in `auth/authStore`
All tokens for a user are being removed when a user is deleted, or the user changes password, but not removed when the user session closes, or the same user gets authenticated again.

ideally the token should be removed when the authenticated session is over. at least it should be removed when the same user ge

[2016-09-29 12:22] vimalk78 commented on #6554
i think this is a problem even when using embedded v3 client.

[2016-09-29 12:51] mitake commented on #6554
@vimalk78 yes, current simple token has a problem of not having timeout mechanism. I'm planning to add the mechanism after finishing jwt token support: https://github.com/coreos/etcd/pull/6082

[2016-09-29 13:41] xiang90 commented on #6553
If you use etcd3, you can put multiple key modifications into one single txn. If you still use etcd2, then it is impossible.

[2016-09-29 13:41] #6553 closed

[2016-09-29 13:41] xiang90 commented on #6552
@gyuho Can you take a look?

[2016-09-29 13:43] xiang90 commented on #6530
the clientv3/Client.dial needs the Token to invoke grpc.Dial()
or do you want to make the applying the Authenticate async in EtcdServer.applyEntryNormal or invoke bcrypt in a separate goroutine. or something else i am totally missing.

I never said it has anything to do with client. The logging you saw is from server side. What you can do it to make server side apply async for authentication by cr

[2016-09-29 13:44] xiang90 commented on #6554
@mitake Can we fix this for simple token first? I will add jwt in 3.2 not 3.1

[2016-09-29 13:59] vimalk78 commented on #6554
@xiang90 , @mitake  what is your idea about invalidating the tokens, remove after session is closed, or have a keep alive time and remove after timeout

[2016-09-29 14:17] gyuho commented on #6552
@bdarnell Could you try again without `./build` command?

`./build` command would emit a bunch of dependencies in `gopath` directory in etcd repo.

Or running `rm -rf gopath/ && ./scripts/genproto.sh` should work.

[2016-09-29 16:44] gyuho commented on #6534
@heyitsanthony @xiang90 Go doc says

[code]

We are calling `Wait` in defer statement, while concurrent `Add` call (from `goAttach`) happens.

[2016-09-29 18:12] #6549 closed

[2016-09-29 18:18] kevinburke commented on #6549
Should I add a separate ticket for the documentation fixes?

On Thursday, September 29, 2016, Anthony Romano <notifications@github.com>
wrote:

--

--
Kevin Burke
925.271.7005 | kev.inburke.com

[2016-09-29 18:21] heyitsanthony commented on #6549
@kevinburke I'm not sure what you expect to be clearer documentation for `IsProgressNotify`-- it should return true iff the response is a progress notification...

[2016-09-30 07:39] bdarnell commented on #6552
That works, but it's weird that your different build scripts don't play nicely with each other. Do you just not use `./build` or `./test`, or do you delete `gopath` and redownload everything when you need to regenerate protos?

The genproto script is now succeeding, but it's not producing output that matches what was there before (the encoded FileDescriptorProto blob has changed, and there are min

[2016-09-30 11:07] mitake commented on #6554
@xiang90 ok, then I'll fix the simple token first.

@vimalk78 removing after a timeout would be good. Do you have any ideas?

[2016-09-30 11:22] vimalk78 commented on #6554
@mitake , removing the token as soon as the session closes will be best. next best thing is to remove earlier token for the same user when user gets authenticated again. this way we wont need a timer based approach. with timer based approach we will also need mechanism for clients to reset the timer, if they choose to continue the session, else forcing to authenticate again.

[2016-09-30 11:22] vimalk78 commented on #6554
@xiang90 , @mitake may i work on this and send a PR ?

[2016-09-30 12:09] mitake commented on #6554
@vimalk78 of course, it will be great.

[2016-09-30 13:46] ssergiienko opened #6555 "etcdctl is not tolerant to etcd delays under heavy IO"
etcd v2.2.5 single local node cluster. Election_timeout set to 20000ms and Heatbeat to 100ms

To reproduce, simulate load with:
[code]
Then:
[code]

But the same cluster and same IO load with curl works fine:
[code]

[2016-09-30 13:55] ssergiienko commented on #2929
Inspired by this ticket and my slow setup: https://github.com/coreos/etcd/issues/6555  :)

[2016-09-30 15:58] heyitsanthony commented on #6552
Seconding that this is a total hassle. I always have to flail around some when I need this to work.

[2016-09-30 16:22] jayunit100 commented on #6121
Will we ever?

[2016-09-30 16:59] heyitsanthony commented on #6121
@jayunit100 it's not currently on the roadmap. Do you have a specific use case in mind?

[2016-09-30 17:09] heyitsanthony commented on #6555
@ssergiienko have you tried adjusting `etcdctl`'s `--timeout` and `--total-timeout` flags?

[2016-09-30 23:14] fanminshi opened #6558 "lease: Inconsistent hashes"
On a 3 nodes etcd cluster, I call each node using raw rpc to create 1 lease and attach 2 keys to it. I wait for 3 seconds and find out that hash of individual node is inconsistent with each other.

Setup:
OS: OS X El Captitan 10.11.6
etcd Version: 3.1.0-alpha.0+gi
Go Version: go1.7
Go OS/Arch: darwin/amd64

Recreating the issue:
1. Download ectd code in your working directory.
2. CD into ../github

[2016-09-30 23:15] fanminshi commented on #6380
find another bug on on inconsistent hash https://github.com/coreos/etcd/issues/6558.

[2016-09-30 23:39] fanminshi commented on #6558
For the above code, I observe that the inconsistency only occurs if the lease has expired already. if the lease is not expired, then inconsistency will not occur.

[2016-09-30 23:58] xiang90 commented on #6555
Why do you want to run etcd in an IO heavy env? I feel that is probably wrong at first place. Usually etcd is the MOST critical infra software in the stack, you want it as reliable as possible. Most users should give etcd dedicated disk for that.

[2016-10-01 00:18] xiang90 commented on #6558
@fanminshi Have you tried Sleep longer before checking the hashes?

[2016-10-01 00:23] #6558 closed

[2016-10-01 00:25] fanminshi commented on #6558
@xiang90 I try sleeping with 5 seconds and it works.

[2016-10-01 00:28] glevand opened #6561 "TestReleaseUpgrade fails on arm64"
On arm64, when running the test script I get a failure of TestReleaseUpgrade, but when I run the test individually it passes:

```GOPATH=$(pwd) PASSES="build unit release integration" ./test```

```GOPATH=$(pwd)/gopath:$(pwd) go test -v -run 'TestReleaseUpgrade' github.com/coreos/etcd/e2e```

Here's the failure:

[code]

[2016-10-01 01:40] #6546 closed

[2016-10-01 19:04] smarterclayton opened #6565 "Unable to launch v3.1.0-alpha.1 with full client cert on mac el capitan"
Using the latest etcd-v3.1.0-alpha.1 binaries on OS X El Capitan, I am unable to launch a full etcd client cert cluster using the same cert setup that worked throughout 2.x -> 3.0.x (full client and server certs).

When I applied the patch for X onto v3.1.0-alpha.0, I *was* able to launch with the following config.  The certs I am using have both DNS and IP sections for local IPs, so my initial su

[2016-10-01 19:06] smarterclayton commented on #6565
[code]

[2016-10-01 19:37] dvohra opened #6566 "etcd v 3.0.0 and later generate error: System error: json: cannot unmarshal object into Go value of type libcontainer.syncType."
The docker run command to start etcd in standalone mode with etcd v 3.0.0 and later generates error:

`System error: json: cannot unmarshal object into Go value of type libcontainer.syncType.`

Docker run command:
[code]

etcd version 2.3.7 and earleir do not generate the same error.

[2016-10-01 22:38] akaspin commented on #6529
Any moves? This code on godoc. You are released it. Four days! Are you absolutely do not respect yourself?

[2016-10-02 00:16] xiang90 commented on #6529
@akaspin You totally do not understand the problem and do not read my previous reply. You should respect others in the community.

As I mentioned, gRPC broke their API and has not released a version with this API. Users should vendor the correct version of gRPC. There is nothing we can do much now.

[2016-10-02 00:20] xiang90 commented on #6566
@dvohra The error logging seems to come from docker not etcd, right?

[2016-10-02 00:37] akaspin commented on #6529
@xiang90 Oh no! I totally understand the problem. What I see? I see totally dead code. Four day. **Four working days.** I see `go get github.com/coreos/etcd/clientv3` in docs. What I don't see? I don't see any mentions or workarounds. No reaction. I see completely disregard. "This is introduced ... Google not released new version ...". This is a joke? There are two versions. Last - in August. Who

[2016-10-02 00:47] xiang90 commented on #6529
@akaspin

Your last response confirmed that you do not understand how go vendor/dependency management works at the moment. Your project needs to vendor all dependencies. Or any indirect dependencies breakage can break the library you depend on (like gRPC broke their API and your etcd client broke). You need to vendor your dependencies. This is not workaround, this is something you have to do.

Aga

[2016-10-02 01:05] akaspin commented on #6529
@xiang90 Wow! I'm right enlightened! "You need to vendor your dependencies ..." Wow! Really! (however, that vendor breaks the types and it can not be excluded if the test directory. and much better to override GOPATH. never mind) But ... It ... Uh ... [`go get github.com/coreos/etcd/clientv3`](https://github.com/coreos/etcd/tree/master/clientv3#install). Hour of my life is trashed.

[2016-10-02 01:36] xiang90 commented on #6529
@akaspin

In the go get doc:

[code]

So it downloads both package itself and the missing dependencies. This is not ideal since it is not versioning aware. But this is not an etcd specific issue. Go developers should be aware of that.

If you believe we should improve the doc, can you please open another issue? Probably we can make clear that go get also download dependencies, which might not be w

[2016-10-02 09:57] xiang90 commented on #6542
Closing due to duplication

[2016-10-02 09:57] #6542 closed

[2016-10-02 14:21] ssergiienko commented on #6555
@heyitsanthony Hi! Thanks for reply, today I've done two tests. One on my dev master VM with etcd and k8s and one on freshly provisioned etcd with no inital data.

1. Fresh etcd instance with no initial data.
With `--timeout` and `--total-timeout` flags it's significantly better, almost as good as curl. With simulated VM heavy IO I still can see rare strange errors(which is absolutely acceptable b

[2016-10-02 14:29] ssergiienko commented on #6555
@xiang90 Thanks for you suggestions. In our case master VM in not under any heavy IO during work, but heavy IO happens during VM provision by our deploy script. We suspect that most IO is generated by docker that pull/unpack layers in background. After everything done our master is almost idle.
Thus we have the situation when 1 of 5-7 deploy failed so we need either increase some timeouts or rewor

[2016-10-03 06:17] Son-Lam commented on #6529
We are stuck right now. Would you recommend any work around? I am using godep too. But if the got get fails then how I can use godep to save the vendor package anyway. I already roll back to version 3.0.8 without any luck.

[2016-10-03 07:33] gyuho commented on #6529
@Son-Lam `go get` doesn't handle the dependency as far as I know.

You should try `go get -d` that skips compiling. And vendor your project with etcd's gRPC git SHA.

[2016-10-03 08:13] ssergiienko commented on #6555
[code]
Most likely this problem is on our side, we will recheck and post results here

[2016-10-03 11:30] vimalk78 commented on #6530
as i understand, this will only make the latency log disappear. but the time cost observed at etcdclient will remain same. right?

[2016-10-03 11:41] mitake commented on #6530
@vimalk78

Yes, but the cost is limited to the single client. Other clients don't see the high latency.

[2016-10-03 12:28] vimalk78 commented on #6530
@mitake , referring your comment here
https://github.com/coreos/etcd/issues/6530#issuecomment-250080152

the async solution will not help with this.

[2016-10-03 12:46] mitake commented on #6530
@vimalk78 yes, the async solution won't reduce the cost of bcrypt. But it will help to improve entire performance of etcd. A number of authnetication requests that can be served by etcd cluster will be increased.

[2016-10-03 13:40] zbindenren opened #6567 "Etcd Cluster with different revisions"
Cluster Version: v3.04
OS: RHEL7

I run the defrag tool on our cluster and that did unfortunately timeout. Aftwerwards I got an unhealthy cluster:

[code]

If I check the revisions I see the following:

[code]

As you can see, the first (unhealthy) cluster has a different revision than the other two.

In the logs I see for that cluster a lot of:

[code]

On 006 I also see two panics:

[code]

Is i

[2016-10-03 14:17] ssergiienko commented on #6555
Yep, `Error:  100: KeyNotFound (/v2/keys/test/test_key) [0]` was our cluster-specific problem.
Thanks for help! You may close this task as resolved)

[2016-10-03 17:07] glevand commented on #6561
I'll close this issue.  https://github.com/coreos/etcd/pull/6564 fixed the null pointer deference.  I'll look into fixing the test failure and either open a PR if I can find a fix, or open another issue if I can't.

[2016-10-03 17:07] #6561 closed

[2016-10-03 20:17] hongchaodeng opened #6569 "etcd member unable to serve request on majority down in bootstrap"
Scenario:
I have 3 member cluster. When 2 goes down, I want to save a snapshot from the remaining one (called "A"). Unfortunately, A program exits with following error:
[code]

This happens during initialization stage during which the majority goes down too fast and the left couldn't even finish bootstrap.

Ideally, the minority could still retry connecting and serve client request, e.g. backup.

[2016-10-03 20:18] xiang90 commented on #6569
Can you write a simple script to reproduce this?

[2016-10-03 20:43] hongchaodeng commented on #6569
@xiang90
This only happen if no wal & snap exist.
I wonder if this is expected?

[2016-10-03 20:45] xiang90 commented on #6569
It is not expected. No matter what, users should be able to get a snapshot from a running member.

[2016-10-03 21:00] heyitsanthony commented on #6569
@xiang90 the exit path is from https://github.com/coreos/etcd/blob/master/etcdserver/server.go#L294

I don't think it should return a snapshot in this case since it'll always return an empty snapshot; the member isn't really "running" yet. Suppose a new member tries to initialize but is partitioned from the rest of the client, if that returns a snapshot and it's treated as a backup then that's dat

[2016-10-03 21:05] xiang90 commented on #6569
@heyitsanthony

Sorry. I did not really take a close look at the debugging line. Yea. The 3rd member is not really started, so not running yet. Then it is expected that it should not return any snapshot.

[2016-10-03 21:40] hongchaodeng commented on #6569
Sounds like this is expected and we should take that as all members lost.
Closing.

[2016-10-03 21:40] #6569 closed

[2016-10-03 21:47] #6555 closed

[2016-10-03 22:43] xiang90 commented on #6567
@zbindenren Can you reliably reproduce this issue? Did you use lease feature?

To fix the cluster, you can remove 006 and add it back.

[2016-10-03 22:54] #6552 closed

[2016-10-04 07:18] mitake commented on #6554
@xiang90 should we finish it before releasing 3.1.0? Then I should work on it instead of @vimalk78 for finishing soon. If backporting is ok, I can cooperate with @vimalk78

[2016-10-04 07:36] vimalk78 commented on #6554
my solution direction is to remove the simpleToken when the client closes connection. so was trying to find the hook in grpc for the same.
https://groups.google.com/forum/#!topic/grpc-io/EIcQlLqlNQg

for now i can finish by checking for any existing token for username in the `auth.assignSimpleTokenToUser` and removing it before adding the new Token

[2016-10-04 11:56] vimalk78 commented on #6530
yes, i t will improve the Autheticate throughput.
But, the async part needs to be introduced in the ApplyEntries path. which i believe must maintain apply entries in-order. Since Authenticate is something which doesnt affect other operations, perhaps it is ok.

i will send a PR with this change

[2016-10-04 12:34] mitake commented on #6530
@vimalk78 sorry but I still can't understand your design yet. Could you share your plan of avoiding the cost of bcrypt without sacrificing the order of applying (I have an idea based on version number validation but yours seems to be different from mine)?

[2016-10-04 12:41] zbindenren commented on #6567
@xiang90  unfortunately not.

I tried as suggested:
1. Remove failed member
2. Stop failed member
3. Remove data directory
4. Add member again.
5. Join Member
6. Restart failed member

Then I did a check:
[code]

And I again have a cluster with different revisions.

Did I do something wrong?

[2016-10-04 12:43] xiang90 commented on #6567
Do your cluster contain sensitive data? If not, can you send your data dir to me at xiang.li@coreos.com?

[2016-10-04 12:54] vimalk78 commented on #6530
@mitake  i dont have a design for saving the cost without sacrificing the order. i was simply trying to bring this point in the discussion.
perhaps Authenticate/bcrypt can tolerate out of order execution, so with this assumption i was going to implement

[2016-10-04 13:42] ralucah opened #6575 "lar event"
# Bug reporting

A good bug report has some very specific qualities, so please read over our short document on
[reporting bugs][report_bugs] before you submit your bug report.

To ask a question, go ahead and ignore this.

[report_bugs]: ../Documentation/reporting_bugs.md

[2016-10-04 16:28] #6575 closed

[2016-10-04 16:28] gyuho commented on #6575
@ralucah Please give more descriptions on the issue. Thanks!

[2016-10-04 16:59] gyuho commented on #6566
@dvohra Please report to https://github.com/docker/libcontainer.

[2016-10-04 16:59] #6566 closed

[2016-10-04 17:30] heyitsanthony opened #6577 "namespacing proxy"
If multiple applications wish to use etcd, they currently must prefix their data (e.g., "app1/...", "app2/"...) to avoid interfering with each others' data. This is not ideal since it puts a burden on the application to be prefix-aware.

A namespacing proxy exposes only a prefix of the etcd keyspace. With namespacing, applications can be pointed at a namespaced etcd instance for its prefix instead

[2016-10-04 17:32] #6526 closed

[2016-10-04 17:47] xiang90 commented on #6458
@hongchaodeng

etcd is fine. The test code is bad. It is expected to receive events in a for loop, but it actually creates watchers in a for loop.

I fixed the program and everything works fine:

[code]

Closing.

[2016-10-04 17:47] #6458 closed

[2016-10-04 17:58] xiang90 commented on #6482
Closing this due to low activity. Please reopen if this is still an issue.

[2016-10-04 17:58] #6482 closed

[2016-10-04 18:09] heyitsanthony commented on #6305
Keeping the interval hardcoded for now to avoid adding an unnecessary configuration knob since the check can already be disabled via `--strict-reconfig-check=false`. If there's a convincing use case for making the interval user configurable we can circle back and add the option in the future.

[2016-10-04 18:09] #6305 closed

[2016-10-04 18:11] gyuho commented on #6533
@nitinmuppalaneni Can you share the etcd server side logs? Or client side errors if any.

I notice you set the timeout 30-second. There should be something wrong in server side if the client doesn't get response in 30-second.

I tried the script below, with the same machine type, and I got no error. What etcd version are you running? I ran your script with Go 1.7.1 and etcd master branch as of tod

[2016-10-04 18:17] xiang90 commented on #5882
@sinsharat I know you have Windows env. Can you check if this is still a problem for etcd?

[2016-10-04 18:22] sinsharat commented on #5882
@xiang90 sure will look into it.

[2016-10-04 18:22] heyitsanthony commented on #6464
Still happening. https://semaphoreci.com/coreos/etcd/branches/master/builds/1034

[2016-10-04 18:34] heyitsanthony opened #6579 "client versioning"
If a new client is used with an old cluster, it may try to use options or flags the old server does not understand. Instead, there could be a `Config` option (or make it mandatory) to compare the client version against the cluster version; if the cluster is behind the client, the client will refuse to start.

Related: #6422

[2016-10-04 18:36] gyuho commented on #6565
I tried the certs that you attached, and am getting same errors in linux + etcd master branch. There was no significant change in grpc and etcd client between alpha.0 and alpha.1, as far as I know.

@heyitsanthony Any idea?

[2016-10-04 19:22] sinsharat commented on #5882
@xiang90 : The following were my observations with etcd Version: 3.1.0-alpha.1+git:
1. wal issue referenced in earlier issue #5852 doesn't exist anymore.
2. with etcd V3 api (ETCDCTL_API=3) there are no issues, it works perfectly fine.
3. There is no issue with etcd server startup when using v2 version api, also etcdctl works fine when complete endpoint is specified. For example :
`PS C:\sharat\wo

[2016-10-04 20:00] sinsharat commented on #5882
@xiang90 Also my suggestion is since default host is not supported on windows, better to modify logging code at places where we print 127.0.0.1 by default.  May be by using windows specific files to avoid confusion while printing details during etcd startup. Also if you want i can look into the reason for etcdctl not working without endpoint for v2 version.
Need your opinion on this.
Thanks!

[2016-10-04 20:14] xiang90 commented on #5882
@sinsharat Thanks for checking this.

How about adding windows specific code to change the default host to 127.0.0.1 from localhost? Go supports build tag, so it is pretty easy to achieve.

[2016-10-04 20:20] sinsharat commented on #5882
@xiang90 yes that's exactly what i had meant by adding windows specific files. I was already going through the code and had observed that the values are not hard-coded. Hence i referred to the earlier logs and figured out that there is already some code written for the same. Will analyze this in detail in the morning, fix it and raise PR for this.
Thanks!

[2016-10-04 20:21] xiang90 commented on #5882
@sinsharat Sounds great! Thanks!

[2016-10-04 20:33] xiang90 commented on #4899
Closed by #6513

[2016-10-04 20:33] #4899 closed

[2016-10-04 21:08] timothysc commented on #6565
@gyuho w/ golang 1.7?

[2016-10-04 21:16] gyuho commented on #6565
@timothysc I tried with Go 1.7.1

[2016-10-05 11:11] xiang90 opened #6584 "add watcher runner into etcd-runner"
We hava an etcd runner tool: https://github.com/coreos/etcd/tree/master/tools/functional-tester/etcd-runner.

It is used to test etcd e2e functionality under high load (optionally with server side failure when running against a failure injecting cluster).

We want to add a new command into etcd running: watcher runner.

The goal of watcher runner is to ensure the watch functionality work correctly

[2016-10-05 11:14] sinsharat commented on #6584
@xiang90 I am more than happy to help on anything to improve out product :-) sure will look into it.

[2016-10-05 11:21] xiang90 commented on #6452
The snapshot one is already fixed.

[2016-10-05 11:21] #6452 closed

[2016-10-05 11:22] xiang90 commented on #4816
/cc @sinsharat @vimalk78 You might want to help on this one.

[2016-10-05 11:31] sinsharat commented on #4816
@xiang90 will look into this once once i am done with logging issue and etcd-runner watcher implementation. In the mean time if @vimal78 is interested he can take it up, else i will take up.

[2016-10-05 12:45] vimalk78 opened #6585 "Query: how to enable grpc logs while running etcd"
hi, for hacking one issue, i have added some `fmt.Printf` statements in grpc.
how do see those prints when i run etcd
i have tried running etcd with `goreman start` and also `./etcd --debug==true`

but i am not able to see the printf,

can someone pls help

[2016-10-05 14:11] timothysc commented on #6565
So I was trying to compare godep versions on deps, but in v3.1.0-alpha.1 and master the Godeps.json has been dropped.

What are you using for version tracking your dependencies now?

[2016-10-05 14:17] gyuho commented on #6565
We use glide now.

On Wed, Oct 5, 2016, 07:11 Timothy St. Clair <notifications@github.com>
wrote:

--
Sincerely,
Gyu-Ho Lee

[2016-10-05 14:55] timothysc commented on #6565
@smarterclayton does this problem exist on go-1.6?  All major grpc deps are the same across 3.0.X & 3.1.

[2016-10-05 16:16] gyuho commented on #6585
`--debug=true`, not `==`?

Did you put in grpc vendor or the grpc in your GOPATH? It needs to be in grpc in our vendor directory.

[2016-10-05 16:24] gyuho opened #6586 "TestWatchOverlapDropConnContextCancel finds DATA RACE"
[code]

https://semaphoreci.com/coreos/etcd/branches/pull-request-6583/builds/2

[2016-10-05 16:26] xiang90 commented on #6586
/cc @heyitsanthony

[2016-10-05 17:55] #6586 closed

[2016-10-05 20:37] #6503 closed

[2016-10-05 23:36] heyitsanthony commented on #6464
I was able to reproduce `ctl_v3_test.go:138: test timed out for 7s` by putting a `if rand.Intn(2) == 0 { time.Sleep(15 * time.Second) }` right after `waitKeys` in `Lock()` (the 7s is misleading; the timeout is really 15s). This simulates a broken watch cancel path where the watch channel never closes out after a cancel.

I don't think locks are broken here because otherwise the integration lock te

[2016-10-06 07:02] xiang90 commented on #6464
@heyitsanthony Sounds reasonable. Can we:

1. fix the wrong timeout printing
2. panic when there is a timeout instead of fatal to print out the stack trace. if it happens again, it is easier for us to debug.

[2016-10-06 09:22] vimalk78 commented on #6585
yes, i used `--debug=true`

this is how my $GOPATH looks like
[code]

do i need to add `grpc` folder also in `GOPATH` ?

thanks!!

[2016-10-06 10:42] xh3b4sd commented on #5272
@vmatekole I had similar issues and it turned out it was because of the file permissions applied to the directories and files the content of the certificates where written to. In my case it worked out as soon as I set permission bits of the directories to `0744` and `0644` for the files. In your case it might be that cloud config creates directories on its own with too open or too restricted permi

[2016-10-06 16:10] heyitsanthony commented on #6464
1. is OK
2. panic() probably won't do much for e2e debugging. It'll catch the stalled process `Close` but the interesting traces will be in separate processes. Some infrastructure around the process stuff that would SIGQUIT + collect the resulting stack traces would be much more useful.

[2016-10-06 16:44] xiang90 opened #6595 "data race: TestLessorRenew"
[code]

[2016-10-06 16:46] xiang90 commented on #6464
@heyitsanthony right. let's close this for now.

[2016-10-06 16:50] gyuho commented on #6585
@vimalk78  If you run compiled etcd, change the grpc code in `/cmd/vendor/google.golang.org/grpc`.

It should work. Please let me know if you have more questions.

Thanks.

[2016-10-06 16:50] #6585 closed

[2016-10-06 17:04] gyuho commented on #6595
I think we need mutex field inside `Lease`. It's an exported type, so clients can modify TTL with the race condition?

[2016-10-06 17:11] vimalk78 commented on #6585
hi @gyuho
yes i figured that out. thanks!!

[2016-10-06 18:41] #6595 closed

[2016-10-06 19:44] chriscartlidge opened #6597 "etcdctl snapshot via load balanced url causes rpc error"
Cluster Version: v3.10
OS: Ubuntu 14-4

We have a 3 node cluster which is behind a load balanced URL. When we try to run the following command using the load balanced URL:

[code]
 We get the following error returned:

[code]

When running the same `etcdctl` command directly against a nodes URL everything works fine.

[2016-10-06 19:45] xiang90 commented on #6597
If this works without lb, probably there is an issue in your lb. Do you set any timeout in the lb?

[2016-10-06 19:48] chriscartlidge commented on #6597
@xiang90 Yeah that was my first thought. I just wanted to know if there were any know issues with using a LB.

Our ideal timeouts are set at 60 seconds. Its definitely a strange one!

[2016-10-06 19:48] xiang90 commented on #6597
I am not aware of any.

[2016-10-06 19:51] chriscartlidge commented on #6597
Cheers for that @xiang90 we'll keep investigating and post the results here. Thanks for your help 👍

[2016-10-07 05:26] chzyer opened #6603 "clientv3: About the logger API"
Hi, guys, I have some questions about the logger API.

In the function `clientv3.New`, it will set`logger.Set()` every time, which `logger` is a "singleton" variable, that's so weird. And I can't figure out a way that I can allocate a new client without touching `logger` ? Why not just provide a function that can set `logger` directly ?

https://github.com/coreos/etcd/blob/master/clientv3/client.g

[2016-10-07 16:49] heyitsanthony opened #6605 "integration: watch goroutine leak on shutdown"
via https://semaphoreci.com/coreos/etcd/branches/master/builds/1054

[code]

[2016-10-07 16:57] heyitsanthony opened #6606 "TestWatchReconnRequest: index out of range"
via semaphore (https://semaphoreci.com/coreos/etcd/branches/master/builds/1057)

Probably due to receiving an error when an event is expected.

[code]

[2016-10-07 20:15] xiang90 commented on #6603
@chzyer You are right. Can you send a pr to fix this?

[2016-10-07 20:20] xiang90 commented on #6567
@zbindenren kindly ping.

[2016-10-07 20:41] xiang90 commented on #6606
@gyuho Can you take a look?

[2016-10-07 20:42] gyuho commented on #6606
Sure

[2016-10-07 20:59] xiang90 commented on #5882
@sinsharat Shall we close this issue? It seems etcd now can run on windows?

[2016-10-07 21:01] sinsharat commented on #5882
@xiang90 yes already tested. With the fix provided it works fine. It can be closed.
Thanks!

[2016-10-07 21:01] #5882 closed

[2016-10-07 22:07] hongchaodeng opened #6609 "Data race on tip of 3.0 branch"
Dumping some logs here. If needed, I can provide ways to reproduce it:

[logs](https://00e9e64bac3711136bdd19c8b89464b46ca51978da3e7942d6-apidata.googleusercontent.com/download/storage/v1/b/kubernetes-jenkins/o/pr-logs%2Fpull%2F34246%2Fkubernetes-pull-test-unit-integration%2F48270%2Fartifacts%2Fjunit_f7ab44f8e19dd01c66db1cf5acf420c6efec1315_20161007-143956.stdout?qk=AD5uMEtG1-SxbeGyJfdYBdDNa2zDD99

[2016-10-07 22:10] horkhe commented on #5003
The problem is in the deficiency of the KeysAPI the doc for the SetOptions.Refresh [says](https://github.com/coreos/etcd/blob/master/client/keys.go#L187-L190):

But since the value in [KeysAPI.Set](https://github.com/coreos/etcd/blob/master/client/keys.go#L107-L110) is of type string there is no way not to provide it. Specifying an empty string just sets the value to empty string.

[2016-10-07 22:15] gyuho commented on #6609
Should be fixed via

- https://github.com/coreos/etcd/commit/836c8159f625accd9a3068e8124b2240fc501baf
- https://github.com/coreos/etcd/commit/6412758177d1c298a59a3572e51c712d74c46caf

[2016-10-07 22:23] horkhe commented on #5003
Disregard my comment. I was just running version 2.2.4 after upgrade to 2.3.7 it started to work as expected.

[2016-10-07 23:04] hongchaodeng commented on #6609
Fixed.

[2016-10-07 23:04] #6609 closed

[2016-10-08 02:47] nitinmuppalaneni commented on #6533
Sorry Gyu-Ho Lee for the late response. I was using etcd v3.0.10 and v3 client. I will try your script and report back. Thank you putting etcd in open source and so diligently supporting it.

[2016-10-08 05:18] lonelili opened #6611 "endpoint health(etcdctlv3): permission denied"
## Environment
etcd --version
etcd Version: 3.0.6
Git SHA: 9efa00d
Go Version: go1.6.3
Go OS/Arch: linux/amd64

## Backgroud
I want to monitor the health of my production cluster. Then i find the command "endpoint health".

## Question
I'm confused with the endpoint health command.

The phenomenon is that if you enable authentication, you will get an error of "permission denied" when you use “endp

[2016-10-08 07:57] xiang90 commented on #6611
@jy02471192 Seems like a bug. Can you help to fix?

/cc @mitake

[2016-10-08 09:16] mitake commented on #6611
@jy02471192 thanks for your report. Yes, current auth isn't considering the permission of maintenance services well.

@xiang90 I think letting the client consider the auth related parameter and limiting users who can call the RPCs of maintenance services to ones who have a root role would be the simplest solution. How do you think?

[2016-10-08 11:04] tomasramanauskas opened #6612 "Etcd (3.0.4) doesn't start after system reboot."
# Bug reporting

Hello, we had a outage that caused Etcd cluster reboot. We have 3 members in the Etcd cluster and Etcd doesn't start on each of them three servers. I get this error:

2016-10-08 10:52:06.782409 I | etcdmain: etcd Version: 3.0.4
2016-10-08 10:52:06.782497 I | etcdmain: Git SHA: d53923c
2016-10-08 10:52:06.782512 I | etcdmain: Go Version: go1.6.3
2016-10-08 10:52:06.782526 I | etcdm

[2016-10-08 11:07] xiang90 commented on #6612
This is the same issue. Should already be fixed.

[2016-10-08 11:24] xiang90 commented on #6611
@mitake ep health is actually a very simple command. it only tries to read a key (`health`) from etcd. so the easy fix is just to respect auth setting when creating the ep-health client.

I agree on the maintain service part. yea, probably we should only allow root to access it.

[2016-10-08 12:18] mitake commented on #6611
@xiang90 I missed the reading a key in health checking. Handling special keys in permission checking seems to be required. But this kind of work is a little bit dangerous. Maybe

1. treating a case of permission denied as success of health checking
2. require admins to use a user with the root role for health check

would be safer. If we have many keys that need special rules, the mechanism of spe

[2016-10-08 14:01] xiang90 commented on #6611
Agree. I think we should just doc that ep health needs to access key `health`. or we can make ep heath checking key configurable.

[2016-10-08 17:10] gyuho commented on #6612
@tomasramanauskas Could you try the latest release? https://github.com/coreos/etcd/releases/tag/v3.0.12

[2016-10-09 02:10] eyediy opened #6614 "etcd cluster is unavailable or misconfigured"
The etcd cluster crashed since i executed a command with etcdctl.
i am trying to get all keys by using:
`etcdctl --endpoints http://ip:port get keys`
the result returned is:
`Error: client: etcd cluster is unavailable or misconfigured`
`error #0: unsupported protocol scheme ""`
can anyone tell me why this command will cause a crash?

[2016-10-09 03:34] smarterclayton commented on #6565
I was able to reproduce it against Go 1.6.2

[2016-10-09 06:21] oikomi commented on #6529
This problem seems to cause a lot of trouble to etcd newer

Need to pay attention to this bad influence

[2016-10-09 10:40] xiang90 commented on #6614
@eyediy Do you have any crash log from the server side?

[2016-10-09 11:30] mitake commented on #6611
@xiang90 ok, I'll enhance the doc later. I'll fix `endpoint health` for the root role first.

[2016-10-09 13:58] #6611 closed

[2016-10-09 14:21] nekto0n opened #6615 "Updating key is more expensive than inserting a new one"
If we modify `BenchmarkWatchableStoreTxnPut` to use values that look more real
[code]
we get something like this
[code]
If we modify this benchmark to use *same key* every time, we'll get these numbers:
[code]
Which is about 20% more expensive in allocations.

Extra allocations come [this branch in put method](https://github.com/coreos/etcd/blob/master/mvcc/kvstore.go#L521), which extracts `KeyVal

[2016-10-09 14:48] eyediy commented on #6614
i found it is my fault that it works well when use ip instead of domain.

[2016-10-09 14:48] #6614 closed

[2016-10-09 18:40] Son-Lam commented on #6529
Hi,

To be clear, it is not coreos/etcd' problem. The problem is the gRPC guys changed interfaces. It affecting new users. I got it work by vendoring my dependencies to the exact snapshot of grpc (SHA 231b4cfea0e79843053a33f5fe90bd4d84b23cd3).

Maybe, coreos/etcd should put up some work-around instruction and/or update to match up with grpc 1.1.0 interface.

Thanks,

[2016-10-10 00:14] xiang90 commented on #6615
I think this is probably the best way to go.

[2016-10-10 00:30] xiang90 commented on #6615
@nekto0n BTW, I am actually not super worry about the put allocation. All etcd put requests are serialized, so we can do 1 put a time. We expect the put throughput to be 10,000s/second. You can try benchmark tool to know the exact improvement after improving the allocation.

I care more about the watch allocation, since we have have N watchers on one key. A put can trigger N watch response. And we

[2016-10-10 04:47] nekto0n commented on #6615
In my case we have like 99.999% of updates and only a few watchers. So I'd like to optimize this case a bit. We may be planning to use a lot of watchers in future, optimizing that path would be great too :)

[2016-10-10 06:20] junweiyang commented on #6529
many people are stuck right now!
i think u should gix this problem!

[2016-10-10 06:49] nekto0n commented on #6615
About implementation details. I see two choices:
- Add `leaseID` field to `type revision struct`
- Add new `type revInfo struct`:
[code]
Former seems to make `revision` not a good name for this struct, while latter brings some burden to initialization everywhere especially in tests, e.g.
[code]
becomes
[code]
Any thoughts?

[2016-10-10 08:55] felix commented on #6529
If you are using the [gvt](https://github.com/FiloSottile/gvt) vendoring tool just ensure your manifest has the following:
[code]
The importat part being the revision hash obviously.

[2016-10-10 13:50] xiang90 commented on #6615
@nekto0n I think we only need to remember the latest leaseID. So adding a leaseID into keyIndex sttruct would be good enough?

[2016-10-10 15:49] gitoverflow commented on #5905
Ive the exact same problem with this configuration:

[code]

systemd      1 root   86u  IPv6  14876      0t0  TCP *:ssh (LISTEN)
etcd2     1147 etcd    5u  IPv6  18086      0t0  TCP *:2380 (LISTEN)
etcd2     1147 etcd    6u  IPv6  18087      0t0  TCP *:2379 (LISTEN)

I looks like its only serving for on the IPv6 interface.

[2016-10-10 16:10] heyitsanthony commented on #5905
@gitoverflow have you confirmed it can't communicate over ipv4? I tested on a linux machine; netstat only lists "tcp6 0 0 :::2379 :::* LISTEN" for the client port but it accepts connections over the ipv4 address fine.

[2016-10-10 17:27] gitoverflow commented on #5905
I confirmed it by trying to check the health of the cluster:

curl xxx.xxx.xxx.xxx:2379/health
curl: (7) Failed to connect to xxx.xxx.xxx.xxx port 2379: Operation timed out

[2016-10-10 18:05] heyitsanthony commented on #5905
OK, can you confirm the port is being exposed correctly?  Does `nc -l -p 2379` (on the machine hosting etcd) and `echo abc | nc xxx.xxx.xxx.xxx 2379` (on the client machine) print `abc` on the host machine?

[2016-10-10 18:27] gitoverflow commented on #5905
Netcat is not installed by default on coreos, so i'm not able to test it right now.

I just tried to start an coreos machine at DO without IPv6 enabled, and this seems to work,
is there something I should consider when enabling IPv6 ?

[2016-10-10 18:34] gyuho commented on #6565
So just to clarify both in Go 1.6.x and 1.7.x, same certs that work in `v3.1.0-alpha.0` do not work in `v3.1.0-alpha.1`, right? Between two releases, there's only this change https://github.com/coreos/etcd/commit/7a48ca4ceaa10451b48594104e14fe36781c1a01 that might have affected the client TLS part, as far as I know.

Can you share how you generate your certs?

Thanks.

[2016-10-10 18:42] gyuho commented on #5905
@gitoverflow ipv6 should work? Maybe try `[::]:2380`?

[2016-10-10 18:58] gitoverflow commented on #5905
that does indeed work, but the public ipv4 public curl doesn't work

[2016-10-10 21:48] #6529 closed

[2016-10-10 21:53] gyuho commented on #6529
Sorry for the delay.  Should work now.

Again we recommend:

Thanks,

[2016-10-10 22:25] heyitsanthony commented on #6615
Another option: keep a key->id map in lessor and change the lessor interface to have `Attach(LeaseItem)` and `Detach(LeaseItem)`? Seems like a more convincing design than reworking kvindex to have non-revision data.

[2016-10-10 23:18] gyuho commented on #6606
@heyitsanthony Haven't been able to reproduce this, with over 1,500 rounds...

Only possibility that I can think of is that the popping the created event here https://github.com/coreos/etcd/blob/master/clientv3/watch.go#L589

[code]

`ws.initReq.retc <- ws.outc` could block, and `select` falls through `default` case.

And the created event gets sent out, with 0 event in its response.

Why do we ha

[2016-10-11 04:58] nekto0n commented on #6615
@heyitsanthony I think that's a good approach and we won't have to pay extra 8 bytes per every `keyIndex`, only allocating proportional to the number of leased keys. I'll try that.

[2016-10-11 08:04] shuqilou opened #6621 "Question: the location of certificate validation"
Hi everyone, I want to know the location of certification validation in the code, could anyone point it out for me? Thanks~

[2016-10-11 09:20] kiich commented on #6046
Hey @DanHoerst
Not sure if you will see this - but I am running into exactly the same problem in issue https://github.com/coreos/flannel/issues/528 and was wondering if you ever resolved it or logged an issue with flannel and got a response?

cheers!

[2016-10-11 09:57] manish-oxedes opened #6623 "how to use travelport api in php website"
# Bug reporting

A good bug report has some very specific qualities, so please read over our short document on
[reporting bugs][report_bugs] before you submit your bug report.

To ask a question, go ahead and ignore this.

[report_bugs]: ../Documentation/reporting_bugs.md

[2016-10-11 13:54] gitoverflow commented on #5905
Okay, I think this can be closed, because I git it working after changing this lines:

[code]

[2016-10-11 13:55] zaa commented on #6529
Could you please backport the modification (https://github.com/coreos/etcd/pull/6617/files#diff-3ac56ebeb8ecf6f62729390be572416eR75) to 3.0.x branch? Otherwise build of the v3.0.12 version does not work. I would rather vendor v3.0.x in our code base than 3.1.x-alpha with the fix.

Thank you.

[2016-10-11 16:13] heyitsanthony commented on #6623
unrelated to etcd. closing

[2016-10-11 16:13] #6623 closed

[2016-10-11 16:34] xiang90 commented on #6621
I do not quite understand your question. If you mean TLS cert validation, I believe go std lib does the work. If you want to know more about that, you probably can read go std lib code.

[2016-10-11 16:34] #6621 closed

[2016-10-11 16:58] gyuho commented on #6529
@zaa Sorry, unlikely.

Our policy is to only backport bug patches. Is there any reason that your project does not use the same gRPC as `release-3.0` branch?

[2016-10-11 18:12] heyitsanthony commented on #6606
Yeah, this code sending too many create events.

[2016-10-11 18:21] xiang90 commented on #6597
@chriscartlidge Do you have any result yet? Anything else we can help?

[2016-10-11 18:21] xiang90 commented on #6612
Closing this one since I am pretty sure it is fixed.

[2016-10-11 18:21] #6612 closed

[2016-10-11 18:47] nekto0n opened #6626 "Inconsistent revisions across etcd instances"
Hi!
I am using the very latest etcd built from sources. I have a cluster consisting of 5 members. I have a lot of clients constanly updating keys.
If I create 5 test clients and start watching from each member and printing `ModRevision` I will see that some members are lagging behind, i.e I see watch responses with old revisions. E.g. at moment in time latest revision seen by each member looks lik

[2016-10-11 18:50] xiang90 commented on #6626
What is the version of etcd are you running? Is it upgraded from a previous version? Can you share me the data dir?

[2016-10-11 18:51] DanHoerst commented on #6046
@kiich it was a CoreOS version issue for me. Upgrading fixed it. https://github.com/coreos/flannel/issues/472

[2016-10-11 18:51] xiang90 commented on #6626
Also it would be great if you can reproduce this reliably. I suspect it is caused by some bugs in lease pkg.

[2016-10-11 18:53] nekto0n commented on #6626
It is built from latest master. Data dir is about 10Gb and I guess I cannot share it because of the content. Sorry.

[2016-10-11 18:54] nekto0n commented on #6626
Oh, how can that be? We have only one lease for a single key (for election).

[2016-10-11 18:54] xiang90 commented on #6626
@nekto0n Can you try to reproduce this with an insensitive data set? Also sharing us the way to reproduce would be super helpful.

[2016-10-11 20:25] xiang90 commented on #6567
@zbindenren If you cannot provide the data, can you somehow reproduce this?

[2016-10-11 20:42] zbindenren commented on #6567
@xiang90 sorry for the late response. I created a new cluster, there is no data anymore.

We ran into this state as follows:

1. hit quota limit 3.5GB with Data
2. run compaction
3. run into timeout running defrag

Now I have autocompaction enabled so we probably do not run into that situation again.

Thanks for your help.

[2016-10-11 20:43] xiang90 commented on #6567
1. hit quota limit 3.5GB with Data
2. run compaction
3. run into timeout running defrag

If you run the 3 steps, you can still reproduce the bad revision thing? We will give this a try.

[2016-10-11 20:49] zbindenren commented on #6567
I remeber that revision was pretty high when I ran compaction.

I didn't have the time to try to reproduce it.

[2016-10-11 22:33] gyuho commented on #6509
Do you mean adding a method `CheckQuorumActive` to `raft.Node` interface?

I don't have objection. Defer to @xiang90

[2016-10-11 22:41] gyuho commented on #6603
@chzyer Ping? Maybe remove `Logger` field in `Config` and document how to set up logger?

[2016-10-11 23:04] doodles526 commented on #6509
Correct. That's what I'm intending

[2016-10-11 23:41] gyuho opened #6630 "TestWatchErrConnClosed fails"
https://semaphoreci.com/coreos/etcd/branches/master/builds/1076

[log.txt](https://github.com/coreos/etcd/files/523189/log.txt)

[code]

[2016-10-12 00:01] #6603 closed

[2016-10-12 01:25] chzyer commented on #6603
@gyuho LGTM

[2016-10-12 02:54] xiang90 commented on #6626
@nekto0n Can you clarify this more?

[2016-10-12 04:33] nekto0n commented on #6626
I'm afraid it was a false alarm and I somehow managed to build etcd from older master (before fixes to lease management), so I guess this behavior is expected.

[2016-10-12 04:39] xiang90 commented on #6626
Which behavior?

[2016-10-12 04:43] nekto0n commented on #6626
Inconsistent revision numbers across replicas (I guess), still not quite sure what happened.

[2016-10-12 04:48] xiang90 commented on #6567
@zbindenren Thanks for the hints. I think I know the root cause. Will fix soon.

[2016-10-12 04:51] xiang90 commented on #6626
One potential cause is that some of your machines are really slower than others. raft commands replication is actually faster than commands apply on HDD. raft replication == seq writes + net io, apply command = random io. Thus you might see same raft index but different revisions. But this is a guess.

[2016-10-12 05:08] nekto0n commented on #6626
I think we can close this. We'll be observing our installations more carefully and check your guess.

[2016-10-12 05:08] #6626 closed

[2016-10-12 14:03] Soulou opened #6631 "clientv3/concurrency Unable to use Mutex, m.Lock() never returns"
I'm currently trying to use the new `clientv3/concurrency` API, but a single call to `mutex.Lock()` nevers returns.

Here is the PoC:

[code]

The code never gets out of the `NewMutex` call. (After investigation, it is kept in the `waitDelete` function)

I've tried with `3.0.12` and `3.1.0-alpha1`, the behavior is identical.

Am I misusing the API? In this case, is it possible to get an example of

[2016-10-12 15:55] kiich commented on #6046
@DanHoerst Ah nice one - thanks for getting back to me.
We are using 1122.2.0 so looks like a new defect. cheers my friend.

[2016-10-12 15:59] heyitsanthony commented on #6631
That should work.

Are the client and server versions matched? The 3.1 client locks use a feature that's not available in 3.0 to reduce the amount of network traffic on the wait path.

There may be a stray key on the lock prefix that's not associated with any lease. What does `ETCDCTL_API=3 ./bin/etcdctl -w=json get --prefix "/lock"` print out?

[2016-10-12 16:16] chriscartlidge commented on #6597
Hey @xiang90 unfortunately not. I'm planning to investigate this more over the next week fews.

Maybe is best to close this now and re-open once I have results?

[2016-10-12 16:17] xiang90 commented on #6597
@chriscartlidge OK. Feel free to reopen if there is any issue.

[2016-10-12 16:17] #6597 closed

[2016-10-12 16:39] sinsharat commented on #6584
@xiang90 From what i understand we will need to create watchers on prefixes first, so that when keys are put, we can be definitive on how many updates were done for the prefixes and how many updates did the watches get. right? Also since i am generating the keys randomly which can have keys starting with any of [a-z][0-9] i was thinking of having 36 watches one for each prefix.
Then count the no o

[2016-10-12 16:48] xiang90 commented on #6584
Right. This is fine.

[2016-10-12 16:52] sinsharat commented on #6584
@xiang90 ok. Will work on this one and raise a PR for this.
Thank you!

[2016-10-12 17:11] nekto0n commented on #6615
I guess this one is fixed in #6620

[2016-10-12 17:11] #6615 closed

[2016-10-12 20:04] #6567 closed

[2016-10-12 20:34] xiang90 commented on #3259
This is an old issue and has been inactive. I believe etcd 3 can run on Windows now. So closing.

[2016-10-12 20:34] #3259 closed

[2016-10-12 20:52] xiang90 commented on #6457
We do not support cluster downgrade between minor versions. I do not think we should put a lot of effort to make this super safe in the near future. So closing.

[2016-10-12 21:00] xiang90 commented on #6457
discussed with @heyitsanthony again about this. we probably should provide better logging or instructions. so reopen.

[2016-10-12 21:10] #6534 closed

[2016-10-13 00:59] ElijahCaine opened #6637 "[Docs] Docker Getting Started Guide breaks (still)"
The [Docker Getting Started Guide][docker-getting-started] breaks when pulling the etcd image at `>=quay.io/coreos/etcd:v3.0.0`. The commands in the tutorial do not break when running the `<=quay.io/coreos/etcd:v2.3.7` image.  The fix is to add a call to `/usr/local/bin/etcd`, but this ultimately breaks backward compatibility which is no bueno.

This (what happened, why it was changed, etc) was pr

[2016-10-13 03:06] xiang90 commented on #6637
@ElijahCaine If you run etcd3, you should look at v3 doc at https://github.com/coreos/etcd/blob/master/Documentation/op-guide/container.md, right?

[2016-10-13 03:57] HardySimpson opened #6638 "A performance test between go 1.7 and go 1.6.2"
qps is near but lantency is better

| GO    | QPS     | 95%   | 99%   | slowest latency |
| :---- | :------ | :---- | :---- | :-------------- |
| 1.6.2 | 5955    | 6.4   | 15.5  | 194             |
| 1.6.2 | 6216    | 6.1   | 12.1  | 189             |
| 1.6.2 | 5987    | 6.4   | 13.9  | 122             |
| 1.6.2 | 6028    | 6.2   | 14.3  | 164             |
| 1.6.2 | 5991    | 6.4   | 12.0  | 177

[2016-10-13 03:58] HardySimpson commented on #6638
Is go 1.7 affect any other problem? it seems will work well in our k8s performance test

[2016-10-13 04:04] xiang90 commented on #6638
Are these numbers for v2 api or v3? We observed 10-20% improvement when complied against go 1.7 mainly due to go's SSA change. We are not aware other issues.

[2016-10-13 10:46] kragniz opened #6641 "Question about ranges in the v3 API"
Hi all, I've started writing a [python client for the v3 API](https://github.com/kragniz/python-etcd3) and I'm trying to figure out nice abstractions. I've been struggling a little with ranges, in particular the `range_end` field.

It seems there are a few distinct types of range request:

1. get single key - `range_end` is not set
2. get keys with a prefix - `range_end` is equal to `key` with the

[2016-10-13 11:45] vimalk78 commented on #4816
is this issue still open

[2016-10-13 14:21] xiang90 commented on #4816
@vimalk78 yes it is.

[2016-10-13 14:40] Soulou commented on #6631
It prints out

[code]

Yes the client is up-to-date and server also. But thanks for telling me it should work, at least, I'll be able to focus my tests en etcd versions.

[2016-10-13 15:04] bohdantrotsenko opened #6642 "On comparing and swap with an empty previous value"
Hi,

I'd like to be able to "exclusively create values". I found --swap-with-value flag which is extremely close to what I want, except that I couldn't provide an empty (or null) value. And then I found [issue 2280](https://github.com/coreos/etcd/issues/2880) (`Can I compare and swap with empty previous value?`), with `etcd doesn't support to compare and swap an empty value` as of May 28, 2015.
I

[2016-10-13 15:11] hexfusion opened #6643 "Question: grpc-gateway non gRPC auth."
I am creating a Perl Etcd v3 client utilizing the grpc-gateway and I am having problems using authentication token during request.

Workflow
1.  Generate token
2.  Pass token in header during request.

Documentation on this is light I have tried various headers from looking at the source including.
- Grpc-Metadata-Authorization: $token
- Authorization: Token $token
- Authorization: $token
- Author

[2016-10-13 16:49] xiang90 commented on #6642
We are not going to work on more features for v2 API. But, why do you want to compare the empty value? What is the use case? There is no way to work around it?

[2016-10-13 16:59] xiang90 commented on #6643
/cc @mitake Can you take a look?

[2016-10-13 17:19] bhouse opened #6645 "etcdctl v3 environment variables"
Hi!

This is just a question, I'm wondering if the same environment variables for `etcdctl` from v2 are supported in v3? Specifically the TLS related ones [here](https://github.com/coreos/etcd/blob/master/etcdctl/ctlv2/command/util.go#L158-L168). I couldn't find a reference for them in the v3 code, and they don't appear to work in my tests.

Thanks!

[2016-10-13 17:29] bohdantrotsenko commented on #6642
We have a set of servers; some actions have to be completed only once.
The idea is to the already available etcd this way:
Each server runs `etcdctl set /operationXcompletedBy "serverName" --swap-with-null` and performs the operation upon success. This way we'd like to ensure the operation is done only once.

[2016-10-13 17:30] xiang90 commented on #6642
Can you use create in this case? create only succeeds if the key does not exist before.

[2016-10-13 17:36] gyuho commented on #6645
It's not supported now.

/cc @xiang90 @heyitsanthony  Should we add those to v3?

[2016-10-13 18:15] xiang90 commented on #5866
@sinsharat Can you check if this is still a problem for windows?

[2016-10-13 18:19] bohdantrotsenko commented on #6642
... yes; that sounds like what I want.
I just found that `etcdctl mk /keyName` does what I want.
(I tried to google the solution; tried with 'create' and 'null', but, well, failed.)

Thanks!

[2016-10-13 18:19] #6642 closed

[2016-10-13 18:21] bohdantrotsenko commented on #2880
As I just discovered, `etcdctl mk /key` does what `--swap-with-value ""` would do.

[2016-10-13 19:13] sinsharat commented on #5866
@xiang90 sure once i finish the etcd runner code changes will look into this.

[2016-10-13 19:28] MartyMacGyver commented on #5866
I just cloned, built and rebuilt etcd as I described above... same results.

I could create and submit a patch tomorrow that fixes the issues I'm seeing.

[2016-10-13 19:41] xiang90 commented on #5866
@MartyMacGyver Sure. That would be awesome!

[2016-10-13 20:31] crawford opened #6648 "No upper limit on discovery"
Discovery is failing with the following:

[code]

This failure is understood and expected. The backoff, however, isn't behaving reasonably:

[code]

There should be a max backoff for any single attempt in addition to a maximum number of attempts before failure.

[2016-10-13 20:33] xiang90 commented on #6648
The backoff is crazy. It should be fixed. /cc @gyuho @fanminshi

[2016-10-13 20:36] gyuho commented on #6648
[code]

Do we want to make it configurable or set smaller value?

[2016-10-13 20:37] xiang90 commented on #6648
@crawford I am not sure about the max number of retries... We had one. Users just suggest to make it unlimited... I do not really want to add another flag for it...

[2016-10-13 20:40] crawford commented on #6648
I don't blame you. Do you have a link to the conversation about the unlimited backoff?

[2016-10-13 20:41] xiang90 commented on #6648
@crawford I can search it. I do not remember where the conversation happened.

[2016-10-13 20:42] crawford commented on #6648
My gut tells me that unlimited isn't correct, but I haven't thought very much about it. I wanted to read through another's argument.

[2016-10-13 20:46] xiang90 commented on #6648
https://github.com/coreos/etcd/issues/1798

There are other users reported back then. We had some internal discussion and decided just remove the retry timeout. Do you have a suggestion for setting the number of retry? 10? 100? 1000? 10000?

[2016-10-13 20:49] fanminshi commented on #6648
Will the upper limit waiting time 5min be reasonable?

[2016-10-13 20:50] xiang90 commented on #6648
@fanminshi Yea. I think max limit could be 3 or 5 minutes or a little shorter. @crawford opinions?

[2016-10-13 20:52] crawford commented on #6648
I think 5 minutes is perfectly reasonable.

[2016-10-13 21:24] ElijahCaine commented on #6637
@xiang90 Right!

My bad, I was linking to the GitHub pages, I meant to link to the [pages on coreos.com docs](https://coreos.com/etcd/docs/latest/docker_guide.html).

This is probably be an issue with how the site is built internally for CoreOS, so I'll look into updating that.

[2016-10-13 21:25] xiang90 commented on #6637
@ElijahCaine This is duplication with https://github.com/coreos/etcd/issues/6342. So closing. Let's track there.

[2016-10-13 21:25] #6637 closed

[2016-10-13 21:43] xiang90 commented on #6648
@fanminshi Talked with @crawford offline, we still need to keep retry number unlimited for slow provisioning case. We should have a limit for max retry wait.

[2016-10-13 22:21] bhouse commented on #6645
It would be awesome if you could add them!

Currently our etcd client certs require root permissions to read them for etcdctl, so I'm using env vars to point to them, and allowing the env vars to pass through sudo (via `env_keep`). This makes the user experience intuitive for using client cert auth.

[code]

[code]

[2016-10-13 22:34] gyuho commented on #6645
We have something similar `flags.SetPflagsFromEnv("ETCDCTL", cmd.InheritedFlags())` in etcdctl v3, but apparently it's not working. I will double-check and get back to you.

Thanks for reporting.

[2016-10-14 06:37] mitake commented on #6643
@sbatschelet how are you doing it? Does perl have gRPC client? `clientv3` of etcd is attaching the token to a connection with per RPC credential mechanism (`grpc.WithPerRPCCredentials()`). The same mechanism must be used (I'm not familiar with the status of perl's gRPC support...).

[2016-10-14 09:22] fasaxc opened #6652 "Go etcd v2 Watcher doesn't spot if cluster ID changes"
Using the v2 go client library, if you start a watch against etcd and the cluster is swapped (for example due to a backup/restore) then the client continues polling the new etcd cluster with the etcd index from the old cluster.  Since the new etcd cluster doesn't have synchronised etcd indexes, the watcher is polling the wrong index but it doesn't spot that it's out-of-sync.

In python-etcd, we ch

[2016-10-14 10:40] sbatschelet commented on #6643
@mitake my understanding and reason for writing this module for Perl was this statement from your POD.   "For languages with **no gRPC support**, etcd provides a JSON grpc-gateway. This gateway serves a RESTful proxy that translates HTTP/JSON requests into gRPC messages." from https://github.com/coreos/etcd/blob/master/Documentation/dev-guide/api_grpc_gateway.md

So why would authentication requir

[2016-10-14 16:01] matthughes commented on #5870
What is a reasonable max value for heartbeat timeout?

[2016-10-14 16:46] #6648 closed

[2016-10-14 19:17] gyuho commented on #6645
@bhouse Confirmed that it's already supported in v3. You just need to pass different env vars

[code]

since we change our flag strings in v3.

Please let me know if you have more questions.

Closing via https://github.com/coreos/etcd/pull/6650

[2016-10-14 19:17] #6645 closed

[2016-10-14 19:33] fanminshi opened #6654 "functional-tester: fault injection recovery does not ensure etcd is fully running"
I observe that leaseStresser checker encounters `etcdserver: request timed out` when making a linearized RPC call.

leaseStresser checker starts the moment after tester indicates that the fault injection has recovered. However, in some case, the fault injection is not truly recovered after tester prints out `recovered failure` because etcd node takes time restart. During the restarting period, the

[2016-10-14 20:00] xiang90 commented on #6638
closing since the question is well answered.

[2016-10-14 20:00] #6638 closed

[2016-10-14 20:02] xiang90 commented on #6641
yes it should. if not, we should fix. can you help to test it out and maybe fix the doc?

it depends on your client lib. in go client, we use range but we provide range options for prefix, all, etc..

[2016-10-14 20:18] kragniz commented on #6641
Okay, thanks. There are no other cases I've missed out?

[2016-10-14 20:19] xiang90 commented on #6641
no, i think.

[2016-10-14 20:24] kragniz commented on #6641
I tested, and it works the same for DeleteRequest. I'll update the docs.

[2016-10-14 20:24] xiang90 commented on #6641
great! thanks.

[2016-10-14 20:46] bhouse commented on #6645
Thanks @gyuho for the doc fix and quick responses! 👍  🎉

[2016-10-14 21:44] deepakthipeswamy commented on #1548
"Storing binary keys and values" feature released in any of the stable versions?

[2016-10-14 22:00] #6641 closed

[2016-10-14 22:54] smarterclayton commented on #6565
https://github.com/openshift/origin/blob/master/pkg/cmd/server/crypto/crypto.go#L474 and https://github.com/openshift/origin/blob/master/pkg/cmd/server/crypto/crypto.go#L493 and https://github.com/openshift/origin/blob/master/pkg/cmd/server/crypto/crypto.go#L544 are the heart of it.

I think I only checked on v3.1.0-alpha.0/1 for Go 1.7, and alpha.1 for Go 1.6.

No GRPC bump, right?  I know that t

[2016-10-14 22:55] gyuho commented on #6565
@smarterclayton Yes, gRPC bump only happened after `v3.1.0-alpha.1`.

https://github.com/coreos/etcd/commit/69ea359e627c399607c30effd7e9f976bf1a9a60

Thanks!

[2016-10-15 00:54] xiang90 commented on #6652
We are not actively working on v2 anymore. This would be an enhancement we want to make. I believe we should error out when the cluster ID changes optionally. Users should be able to configure it and recover from cluster ID change. It would be great, if you have time working on it.

[2016-10-15 01:57] #5866 closed

[2016-10-15 04:25] BusyJay opened #6658 "Does follower need to keep lease when leader starts a new election?"
Hi, in [this check](https://github.com/coreos/etcd/blob/master/raft/raft.go#L650), follower will ignore vote when it's still in lease. But what if the election is started by its leader? This can happen if follower is slow due to some reason (like accidentally attached by gdb or IO is busy sometime).

/cc @siddontang

[2016-10-15 04:31] xiang90 commented on #6658
leader will never start election. it needs to step down, becomes follower, times out again. or can you write a simple test to show there is a problem?

[2016-10-16 15:40] xiang90 commented on #6643
1. Generate token
2. Pass token in header during request.

Can you please provide more details? How do you generate the token? How do you pass in the token?

We do not really maintain the gateway code. So I do not know if it works or not. But we would like to help you to debug to some extent.

[2016-10-17 04:50] mitake commented on #6643
@sbatschelet sorry I misunderstood your intention.

v3 auth depends on gRPC's credential mechanism for attaching a token to a connection because it can be used by all languages supported by gRPC in an easy and safe manner (and it doesn't care how the token is treated internally by gRPC). But your perl client wouldn't need the exactly same mechanism if the grpc gateway can use a token supplied by a

[2016-10-17 16:24] #6530 closed

[2016-10-17 16:25] xiang90 commented on #6530
@vimalk78 Please try with current master. @mitake just got this fixed :)

[2016-10-17 16:26] vimalk78 commented on #6530
sure, thanks

On Monday 17 October 2016, Xiang Li <notifications@github.com> wrote:

[2016-10-17 16:53] gyuho commented on #6533
@nitinmuppalaneni Please let us know if you still have issues. From our stress and benchmark tests, we don't see this behavior.

[2016-10-17 16:53] #6533 closed

[2016-10-17 18:12] xiang90 commented on #6584
@sinsharat

Thanks for getting #6635 done!

Now we should try to run the runner against a fault injecting cluster.

- start a cluster with the instruction here: https://github.com/coreos/etcd/tree/master/tools/functional-tester#with-goreman

- run the runner against this cluster (modify the endpoints to point to the cluster just created)

We can start with making sure the tests can pass for 60 sec

[2016-10-17 18:45] xiang90 commented on #2385
I am inclined to close this. We do not actively working on v2 anymore. v3 does not support the concept of dir, so this is not an issue anymore.

[2016-10-17 18:46] xiang90 commented on #5054
@glevand any update on this one? what is your next step?

[2016-10-17 18:55] sinsharat commented on #6584
@xiang90 sure will start working on it right away.

[2016-10-17 19:10] timothysc commented on #2385
sgtm

[2016-10-17 19:10] #2385 closed

[2016-10-17 21:28] glevand commented on #5054
@xiang90 All tests now run successfully on arm64.
I'm now trying to figure out if we can somehow run arm64 hosted tests from github PRs.

[2016-10-17 22:04] xiang90 commented on #5054
@glevand OK. That would be great. It is also the last missing part to say we officially support arm64 I guess.

[2016-10-18 00:00] sbatschelet commented on #6643
@xiang90 here is my process.

I create a Etcd3 client object via connect through my module.
[code]
which when built has the following data

[code]
When the object is created it also builds the auth token and then attaches that token to a header which we will pass on POST.  The request for the token looks like this.
[code]
So basically I am posting ```{"password":"xxxx","name":"root"}``` to https:/

[2016-10-18 00:02] xiang90 commented on #6643
Can you try to use cURL to rewrite the commands? It would be easier for @mitake and @gyuho  to reproduce. Thanks a lot!

[2016-10-18 00:17] sbatschelet commented on #6643
@xiang90 sure I guess it would be something like this.

*Create token*

```curl -H "Content-Type: application/json" -X POST -d '{"password":"xxxx","name":"root"}' https://ob1.hexfusion.local:2379/v3alpha/auth/authenticate```

*Pass token*
```curl -H "Content-Type: application/json" -H "Authenticate: ngJMOXyGKexVebld.892262" -X POST -d '{"key": "Zm9v", "value": "YmFy"}' https://ob1.hexfusion.local:

[2016-10-18 05:52] vimalk78 opened #6663 "clientv3: some testcases fail"
[code]

but when i run these test cases individually, test cases pass

[code]

[err.txt](https://github.com/coreos/etcd/files/535354/err.txt)

[2016-10-18 06:17] nekto0n opened #6664 "Stripped binaries in releases"
Currently, binaries built with `./build` and official releases are built stripped (`-s` flag), thus tool like `perf top` don't work if built with go1.7 and frame pointers enabled.
Could we add an option to build and distribute unstripped binaries alongside?

[2016-10-18 06:56] gyuho commented on #6664
You can build with `GO_LDFLAGS="" ./build` https://github.com/coreos/etcd/blob/master/build#L14?

[2016-10-18 07:00] nekto0n commented on #6664
Yes, that helps. I wonder if this should be used by default when releases are built with go1.7+.

[2016-10-18 08:31] fasaxc commented on #6652
Understood, I might get some time to work on this.

[2016-10-18 13:38] sinsharat commented on #6584
@xiang90 I tried running the watcher in the cluster created using goreman, and running the etcd runner with arguments:
./etcd-runner --endpoints="localhost:19027,localhost:29027,localhost:39027"

It starts executing and hangs at get request for getting revision and stays there forever.
Ideally the get request should have timed out no? if it didn't get response withing the stipulated timeout period

[2016-10-18 13:45] sinsharat commented on #6584
@xiang90 it was my mistake i had mentioned wrong endpoints, but still expected timeout to happen for get request.

[2016-10-18 14:17] sinsharat commented on #6584
@xiang90 There are 4 ways in which we can ensure, the test case new fails. They are as follows:
1. Keep retrying for all the get and put requests until it passes.
2. Remove any put request failed from watcher verification
3. If the watcher doesn't match with expected value keep increment the expected value until it matches with the received value.
4. Put only the values in the map which pass the p

[2016-10-18 17:11] xiang90 commented on #6664
@nekto0n Can send a pr to add that option? I also feel we should probably enable it by default.

[2016-10-18 17:12] nekto0n commented on #6664
Sure, will do

[2016-10-18 17:14] xiang90 commented on #6584
this seems to be the simplest one. and it achieve what we want. but please note that retry normal put request can cause side effect. you need to create a txn, and only do put if the key does not exist before. for get it does not matter, retry as you want.

[2016-10-18 17:16] sinsharat commented on #6584
sure will do the way you suggested.

[2016-10-18 17:37] xiang90 commented on #6509
@doodles526 Sure. Can you send a pr to add that into the Node interface? Thanks!

[2016-10-18 18:07] sbatschelet opened #6667 "grpc-gateway /kv/range hangs with auth enabled"
**etcdctl version:** 3.1.0-rc.0
**API version:** 3.1

[code]

If auth is disabled this works as expected but otherwise the request will hang.  This response differs from a put.

[code]

which although does not work correctly because of https://github.com/coreos/etcd/issues/6643 does respond with {"Error":"auth: revision in header is old","Code":2}.

This appears to be regression from a distance.

[2016-10-18 18:31] johnbazan opened #6668 "Cannot create a new user within just one command input"
Currently, the etcdctl that are using the ctlv2, at least, are not allowing you to create a user specifying the password within the same command line.

Doing etcdtcl user add root:toor

Will result in etcdctl waiting for you to ingress a new password in a new prompt line.

root@jbazan-virtual-machine:/workspace# etcdctl user add root:toor
New password:

This makes a little bit more difficult autom

[2016-10-18 20:34] xiang90 commented on #6654
@fanminshi Can you get this fixed? Thanks!

[2016-10-18 20:38] fanminshi commented on #6654
@xiang90 sure, do you want to do it after i merge the https://github.com/coreos/etcd/pull/6588 or before?

[2016-10-18 20:50] xiang90 commented on #6658
Closing. let us know if you have other related questions.

[2016-10-18 20:50] #6658 closed

[2016-10-18 21:24] jlamillan opened #6671 "etcdctlv3: get range sorted by create not working as expected"
etcd v3.0.12 single local node cluster.

I am trying to use `etcdctl get` to get a range sorted by the creation time. However, I am seeing the range seems to be always sorted in _lexical_ order.

For example, if I create keys foo3, foo1, and foo2 in that order:

`
$ etcdctl put foo3 foo3val
OK
`
`
$ etcdctl put foo1 foo1val
OK
`
`
$ etcdctl put foo2 foo2val
OK
`

Then try and get them, sorting by

[2016-10-18 21:32] gyuho commented on #6671
Try

[code]

[2016-10-18 21:32] gyuho commented on #6671
Probably we need better documentation around this.

[2016-10-18 21:38] #6380 closed

[2016-10-18 22:15] xiang90 commented on #6671
@gyuho why we should provide an order here? if i tell etcdctl to sort keys by created revision, it should either sort them ascend or descend. right?

[2016-10-18 23:04] sinsharat commented on #6584
@xiang90 if we use transaction and prevent any update on a key, it will cause issues, since we are directly comparing at watcher level and ignoring a key for transaction will cause a mismatch.

[2016-10-18 23:05] xiang90 commented on #6584
@sinsharat I do not quite understand what you mean. Can you elaborate?

[2016-10-18 23:06] xiang90 commented on #6584
what i want is

[code]

[2016-10-18 23:15] sinsharat commented on #6584
yes i am doing the same thing. The following is the issue:
In the last commit we did, we are not maintaining track of keys being put. We were putting a loop of keys and prefixes, and performing put operation.
It would have passed earlier since, for a watch on a prefix, these keys will come in sequence. But the keys can have duplicate values since they are being randomly generated.
For example:
1.

[2016-10-18 23:17] xiang90 commented on #6584
@sinsharat

i do not understand why you want to put multiple keys into one transaction. in the transaction, you just should do exactly this

[code]

so there is one key in each transaction. the only difference is that you check the existence of key to not cause any side effect for retry.

[2016-10-18 23:19] sinsharat commented on #6584
@xiang90 i am putting only one key in a transaction. I will put the code to make it clear:

`func runWatcher(eps []string) {
	runningTime := 300000 * time.Second // time for which operation should be performed
	noOfPrefixes := 36                  // total number of prefixes which will be watched upon
	watchPerPrefix := 10                // number of watchers per prefix
	reqRate := 30

[2016-10-18 23:21] deimosfr opened #6673 "request timed out with DNS discovery"
Hi,

I'm trying to deploy an etcd cluster on Virtualbox close to my bare metal hardware. I'm doing it on 3 vms.

I've tried deploying with etcd discovery for testing purpose and it works like a charm with this kind of configuration:
[code]

For the production, I prefer going ahead with DNS discovery. So I tried this kind of configuration:
[code]

I checked the DNS part which looks fine:
[code]

Bu

[2016-10-18 23:22] xiang90 commented on #6584
@sinsharat

Why do you retry the entire loop? shouldnt you only retry the failed put?!

[2016-10-18 23:24] sinsharat commented on #6584
That can be changed. That's not a problem.
In the above code the issue is not with transaction, but the blind comparison we are doing at the watcher level, where we are blindly comparing with prefix+"-"+keys[n]. This issue is since keys[n] are pre-generated it may have duplicate values, hence during comparison if we don't put these duplicate values, the comparison will fail.

[2016-10-18 23:26] xiang90 commented on #6584
@sinsharat I still do not really understand why you expect to see a-xxx twice. If you do txn correctly, we should never modify the same key TWICE.

[2016-10-18 23:27] sinsharat commented on #6584
@xiang90 watcher will not see it twice. but the comparison its being done with, i.e. prefix+keys[n] will have it twice.

[2016-10-18 23:29] sinsharat commented on #6584
transaction is only ensuring that keys are not put twice, hence the watcher will never receive the key twice. But we are comparing it with prefix+keys[n] which can have the value twice, and in that case the comparison will fail.

[2016-10-18 23:29] xiang90 commented on #6584
@sinsharat OK. So can you simply remove duplicate keys?

[2016-10-18 23:31] xiang90 commented on #6584
Or you can remember the previous revision of the key and compare against that instead of comparing against existence.

[2016-10-18 23:36] sinsharat commented on #6584
but how will comparing against previous revision help, since even if prev revision key was present, which is older than the revision we got in the first step, still there can be possibility of two keys having same prePrefixKey. So in that case as well we will need to remove the duplicate keys.
@xiang90 just wanted a clarity on why putting the same key multiple times can be a problem?

[2016-10-18 23:42] xiang90 commented on #6584
Before you do the put, you remember its previous rev. then you do a put against it. if put succeeds but times out on the client side, the next retry will not write the key again since the rev is increased. if you do not protect it, retry will make you write the key twice which is unwanted.

if you put it multiple times, watcher will see it multiple times. we do not want retry to have any side effe

[2016-10-18 23:45] sinsharat commented on #6584
@xiang90 so what i understand is, we will need to check revision for get, and also ensure no duplicate keys are there in keys slice. right?

[2016-10-18 23:48] sinsharat commented on #6584
Also from your inputs what i understand is we need if check rather than using transactions for the above operation.

[2016-10-18 23:48] xiang90 commented on #6584
@sinsharat A simple solution is to

1.  ensure there is no dup key to put.
2. retry on put and make put a txn to check existence

A more complicated solution is to

1. retry on put and make put a txn that never overwrites the put before the retry if it actually succeeds.

I am fine with both solution.

[2016-10-18 23:50] xiang90 commented on #6584
@sinsharat The root problem here is:

if a put returns error (network issue or timeout) to client, it does not really mean the put failed. it might succeed, it might fail. we just do not know. so we cannot blindly retry.

we only know the status of put for sure if it succeeds.

[2016-10-18 23:55] sinsharat commented on #6584
@xiang90 i got your point. If you see in the above transaction we have used, the entire transaction was put in a for loop for the same reason, so that if in the first retry if it succeeds but we get error then in the next retry, again being a transaction, will get mod revision > 0 and hence will not perform the put operation and come out without any error.

[2016-10-18 23:56] xiang90 commented on #6584
Can we retry on single put? the retry on the entire loop looks crazy actually. the first N requests will fail for sure.

[2016-10-18 23:58] sinsharat commented on #6584
what you mean is have a direct put operation and if it fails then have this transaction with check?

[2016-10-18 23:59] gyuho commented on #6671
Closing via https://github.com/coreos/etcd/pull/6672.

[2016-10-18 23:59] #6671 closed

[2016-10-19 00:04] xiang90 commented on #6584
I misread your code. I thought you were retrying on the LOOP tag.

So we need to change the code to

[code]

also we do not generate duplicate keys.

Or we need to change the code to

[code]

[2016-10-19 00:08] sinsharat commented on #6584
@xiang90 ok. What do you suggest for removing duplicate tag, shall we call the unqiue generator which we are calling for the unique prefixes?

[2016-10-19 00:10] xiang90 commented on #6584
@sinsharat Fine with me. We can always add the duplication stuff back when the whole thing works under failure cases.

[2016-10-19 00:12] sinsharat commented on #6584
ok sure will then do these changes, test it and will raise a PR for this.

[2016-10-19 01:02] xiaolu11bnb opened #6674 "curl http://127.0.0.1:2379/v2/machines got something seems wrong"
we setup a cluster, app using python. I found the the result of curl http://127.0.0.1:2379/v2/machines used by the python-ectd lib, the result is:
http://0.0.0.0:2379, http://0.0.0.0:2379, http://0.0.0.0:2379, http://0.0.0.0:2379.
I think that's a problem. did I do something wrong?

[2016-10-19 01:07] xiang90 commented on #6674
Yes. You give etcd wrong advertise url. you should never let etcd advertise 0.0.0.0.

[2016-10-19 01:07] #6674 closed

[2016-10-19 01:38] xiang90 commented on #6631
@Soulou Have you figured this out? Tried myself, lock seems to work.

[2016-10-19 03:45] xiang90 opened #6675 "clientv3: auth example failed"
output is as follow

[code]

Authentication request for user `u` failed for unknown reason.

/cc @mitake

[2016-10-19 05:08] jlamillan commented on #6671
Thanks guys.

[2016-10-19 06:07] xiang90 opened #6677 "test: alarm fails"
[code]

[2016-10-19 09:30] YuleiXiao opened #6679 "locker can not get lock"
I get a locker like below, and lock, but it can not get lock, always hang.
etcd version: etcd-v3.0.6-linux-amd64

[code]

[code]

[2016-10-19 10:53] huachaohuang opened #6681 "clientv3/concurrency: session.Close() hangs forever"
I reuse the same client to create sessions in a loop, like this:

[code]

But the `session.Close()` may never return sometimes.

I investigate into the `clientv3/lease/lessor` and find out when some errors occur, the `recvKeepAliveLoop()` will return, then the client can not be reuse again.

Maybe I should create a new client every time?

[2016-10-19 12:33] mitake commented on #6675
@xiang90 sorry for breaking the example, I'll work on it tomorrow.

[2016-10-19 16:24] xiang90 commented on #6679
@YuleiXiao What version of client are you using?

[2016-10-19 16:30] gyuho opened #6683 "TestCtlV3EndpointHealthWithAuth fails"
https://semaphoreci.com/coreos/etcd/branches/pull-request-6678/builds/1

[code]

[2016-10-19 16:31] xiang90 commented on #6683
/cc @mitake Probably related to the recent auth change.

[2016-10-19 17:39] gyuho opened #6685 "functional-tester: inconsistent hash error with lease stresser + 5 node"
@fanminshi

Go to line 155276 in the tester.log

https://storage.googleapis.com/etcd-functional-tester/lease-hash-20161019/tester.log

[code]

[code]

[2016-10-19 17:41] xiang90 commented on #6685
It seems to me that we are probably still creating/revoking leases while hash checker is checking hashes.

[2016-10-19 18:24] gyuho opened #6686 "etcd-dump-db: debug tool for boltdb db file (read with hash)"
When debugging issues like https://github.com/coreos/etcd/issues/6685, we need a way to compare db, records by hash value, and way to find a point in time with specific hash.

[2016-10-19 19:10] xiang90 commented on #6686
we should add a new tool called etcd-dump-db or something for this.

[2016-10-19 19:14] gyuho commented on #6686
Ok sounds good.

[2016-10-19 20:42] sinsharat commented on #6584
@xiang90 what needs to be done next?

[2016-10-19 21:03] gyuho commented on #6677
Happens in 32-bit https://semaphoreci.com/coreos/etcd/branches/master/builds/1109

[2016-10-19 21:57] xiang90 commented on #6584
@sinsharat If you take a look at other runners, they accept a round parameter. So they can run multiple rounds of tests. This is important for us since we basically want to run it forever. Can you make the watcher runner to respect rounds? After each round of test, we also need to clean up all the keys we created for the last round to make the key space clean. Also we might want a round prefix for

[2016-10-19 21:59] gyuho commented on #6677
Got it reproduced

[code]

Current defrag calls `ForceCommit` but it's possible that quota layer gets the old db size before the size gets updated by the commit code path. Will investigate more.

[2016-10-19 22:01] doodles526 commented on #6509
After trying to implement this, I don't think it will work as intended. Only the leader will know if the quorum is active, since it's the only one who is receiving heartbeats and AppResps from followers

[2016-10-19 22:05] sinsharat commented on #6584
@xiang90 Sure will start analyzing and implementing it right away in the morning.
Thank you!

[2016-10-19 22:32] xiang90 commented on #6509
@doodles526 Right. This is the constraint. etcd actually uses prober to do health checking outside raft. If you still think this is useful, go ahead and implement it. Or you can close this.

[2016-10-19 22:39] #6509 closed

[2016-10-19 23:38] yudai commented on #6681
As far as I know, `session.Close()` can block when your client has no active connections  to your etcd cluster (`Revoke()` in the function blocks). A workaround currently available is closing your client and recreate a new client.

[2016-10-20 01:19] YuleiXiao commented on #6679
@xiang90 I used latest master client. Version not match?

[2016-10-20 01:21] xiang90 commented on #6679
Yes. You need to use client in 3.0 release branch.

On Oct 19, 2016 6:19 PM, "Yulei Xiao" <notifications@github.com> wrote:

[2016-10-20 01:25] YuleiXiao commented on #6679
@xiang90 ok, I am going to download it. Thanks

[2016-10-20 01:25] #6679 closed

[2016-10-20 03:17] smarterclayton commented on #6565
It looks like d26cfdb with 69ea359 was the last working commit, and c9e06fa with 69ea359 is broken.

[2016-10-20 03:24] gyuho commented on #6565
@smarterclayton  That's strange... https://github.com/coreos/etcd/commit/c9e06fa1edeb83967b89d638b588c483933a5c31 doesn't seem to affect any cert-related code-path.

And grpc bump is now related? Thought `v3.1.0-alpha.0` is the last release that's working. And `v3.1.0-alpha.1` does not work but this does not have that grpc bump either.

[2016-10-20 03:38] smarterclayton commented on #6565
I see the comment about the host name passed to dial in gRPC must match the
client cert.  Since this has to do with client certs not connecting, it
does seem likely that this changed the behavior of the name that the gRPC
client is dialing the server with.

On Wed, Oct 19, 2016 at 11:24 PM, Gyu-Ho Lee <notifications@github.com>
wrote:

[2016-10-20 03:46] huachaohuang commented on #6681
I do more tests and find out that even if I create a new client every time, `session.Close()` can still block, because some errors occur and the `recvKeepAliveLoop()` returns, and then the `keepAliveCtxCloser` will return without closing the keep alive channel.

[2016-10-20 03:51] gyuho commented on #6565
I will give another try with the certs tomorrow. Thanks for investigating on this!

[2016-10-20 04:30] mitake commented on #6675
I could construct a schedule that can cause the problem potentially.

Let s1 (leader), s2 (follower), s3 (follower) be servers, c be a client.

1. c issues RPCs for preparing auth (e.g., UserAdd(), RoleAdd(), AuthEnable(), etc) to s1
2. s1 tries to propagate them to s2 and s3. But s3 is slow and don't receive log entries from s1
3. c issues an RPC of Authenticate() to s3
4. s3 checks its local aut

[2016-10-20 04:37] mitake commented on #6675
On the second thought, the applyWait mechanism cannot be used because `Authenticate()` RPC does not take a token (it generates the token)...

[2016-10-20 05:05] mitake commented on #6675
There would be 3 solutions:

1. let `Authenticate()` take a revision number as its argument
2. let followers not serve requests from client (like Chubby and LogCabin)
3. use `bcrypt.MinCost` for password checking (roughly it reduced the cost from 100ms -> 1ms)

1 and 2 wouldn't be acceptable. How do you think about 3? @xiang90

[2016-10-20 06:47] #6664 closed

[2016-10-20 06:51] siddontang commented on #6681
We  meet a data race when using relection resign
[code]

@xiang90

[2016-10-20 08:25] mitake commented on #6643
@sbatschelet the difficulty of supporting auth in the proxy comes from that the gateway code is generated by swagger: https://github.com/coreos/etcd/blob/master/etcdserver/etcdserverpb/rpc.pb.gw.go . Modifying the generated functions and add attach a given token to a connection is not difficult, but editing the machine generated code is of course forbidden.

We need to solve the below 2 problems:

[2016-10-20 09:17] sinsharat commented on #6584
@xiang90 From what i understand is you expect the following:
**acquire method :**
1. One watcher per round
2. keys will be put for that watcher in a go-routine. (Note: keys will be generated before hand as well as prefix for watchers)

**validate method:**
1. received value will be validated against the expected value.

**release method**
1. The keys which were put needs to be removed.

Closing of

[2016-10-20 11:45] sinsharat commented on #6584
@xiang90 : Please find below the initial design i have thought of. I would have like to create watcher in the acquire method, but the problem is we will need the instance of each watcher response.
Alternatively if we want to achieve that may be we will need to use slice of watcher response to store all watchers and then in validate method range over the slice and validate them.

[code]
Request you

[2016-10-20 13:15] sinsharat commented on #6584
Alternate way as i had mentioned earlier can be the below code:
[code]

[2016-10-20 15:02] dennwc commented on #6631
@Soulou Had the same issue when accidentally updated client to v3.1.x, running v3.0.7 server. It works fine if versions are the same (running on v3.0.12 now).

[2016-10-20 16:46] xiang90 commented on #6565
@smarterclayton So this is a grpc related issue?

[2016-10-20 16:59] heyitsanthony commented on #1548
@deepakthipeswamy yes, the v3 API supports it; values are uninterpreted byte arrays

[2016-10-20 17:26] gyuho commented on #6565
@smarterclayton Works for me in linux (CoreOS)?

Think it's OS X issue? Have you tried the same certs in linux?

[2016-10-20 17:49] fanminshi commented on #6685
I re-deploy functional-tester on 5 nodes cluster with lease TTL set to 24 hrs.
https://storage.googleapis.com/etcd-functional-tester/lease-compact-20161020/tester.log
I observe following errors from tester.log.

[code]

[2016-10-20 18:13] heyitsanthony commented on #6663
It's picking up the cluster that's launched in `TestMain` for the Example tests.  `./test` doesn't complain because it passes in `-run=Test` so the cluster never starts.

[code]

[2016-10-20 18:28] heyitsanthony commented on #6668
Huh?

[code]

It's baked into the end-to-end tests too:
[code]
(https://github.com/coreos/etcd/blob/master/e2e/ctl_v2_test.go#L399)

[2016-10-20 18:36] sinsharat commented on #6584
@xiang90 There seems to be some issue with watchers. when i run the round client for first round everything passes. But when the second round starts the watches receive the first event for each prefix correctly and then they start returning watchers with empty events.

[2016-10-20 18:54] #6677 closed

[2016-10-20 20:30] #6654 closed

[2016-10-20 20:50] smarterclayton commented on #6565
Good news, it looks like it is fixed with v3.1.0-rc.0 and OSX.  Doing some more testing to  be absolutely sure.

[2016-10-20 21:36] johnbazan commented on #6668
Well, that's strange.
Which version are you using @heyitsanthony ?

Did you build from the current master?

[2016-10-20 21:37] xiang90 commented on #6668
@johnbazan Can you get the version of your etcdctl?

[2016-10-20 23:39] heyitsanthony commented on #6681
@siddontang I think Resign should race when used concurrently because it's a good indicator that something is wrong. It's not much different from doing:

[code]

The code to handle concurrent close is boilerplate (but rather tedious); it probably shouldn't go in the election resign code because it seems like it would mask legitimate bugs...

[2016-10-21 02:02] sbatschelet commented on #6643
@mitake ok thank you for the notes I will review this and report.

[2016-10-21 07:38] YuleiXiao opened #6699 "How to get error when watch fail in clientv3?"
In clientv3, ```Watch``` just close channel when fail. Is there anyway to get the fail error to know the reason?

[2016-10-21 13:35] nenzhang opened #6700 "can be the TTL expire time calculation based on relative time?"
Now looks etcd TTL expires based on system real time, which may not be reliable as system NTP service will do synchronization from server.
yes, normally it shall not be big jump for system time, but it is really very good to know if it can be configured with relative time like MONOTONIC.

[2016-10-21 14:52] smarterclayton commented on #6565
This was fixed in later v3.1.0-rc.0 - thanks!

[2016-10-21 14:52] #6565 closed

[2016-10-21 15:24] xiang90 commented on #6699
@YuleiXiao watch will keep retry forever internally until user cancels it. It makes sense for most of the use cases. Users cannot do much about the errors anyway. So now we do not emit intermediate errors. But for logging or other debugging purpose, people might still want to see errors. I discussed with @heyitsanthony before. Probably we should give users errors.

[2016-10-21 17:06] #6605 closed

[2016-10-21 20:22] johnbazan commented on #6668
Oh my god...
I'm so, so sorry, I screwed up. :/

I was using an old version (2.1.3), and this bug seems not to be anymore :(

Sorry guys.
I'll close this.

[2016-10-21 20:22] #6668 closed

[2016-10-21 20:30] heyitsanthony commented on #6668
it happens, no worries

[2016-10-21 21:03] fanminshi commented on #6685
5 nodes tester experiences 1 failure out of 760 rounds after with https://github.com/coreos/etcd/pull/6696 and https://github.com/coreos/etcd/pull/6692 changes.

[code]

[2016-10-21 21:07] fanminshi commented on #6685
3 nodes failpoints 2 cluster is also experiencing inconsistent hashes failure.

[code]

[2016-10-21 21:25] yudai commented on #6681
I think `NewSession()` can hang up as well in failure cases.
However adding `ctx` to the parameters requires an API change, so probably adding a timeout with the TTL just like #6698?

https://github.com/coreos/etcd/blob/master/clientv3/concurrency/session.go#L41

[2016-10-21 21:29] heyitsanthony commented on #6681
maybe could add `WithContext` to session options?

[2016-10-21 21:30] yudai commented on #6699
When you want to detect errors while watching, you probably need to use a technique that using `concurrency.Session` along with `Watch()`,  as suggested  in #5985.

[2016-10-21 21:34] yudai commented on #6681
That's a smart solution. I think `Close()` should respect it as well.
TTL can be too long to abort requests in failure cases, we sometimes set 30 seconds ~ 1 minute to it.

[2016-10-21 21:43] yudai commented on #6681
Sorry, respecting the same context both in `NewSession()` and `Close()` could make things complicated. Deadline to `NewSession()` and Deadline to `Close()` would be different times in most cases.

We could add options to `Close()` as well? This is a similar situation that when you set a deadline to a context to `Watch()`.

[2016-10-21 21:54] heyitsanthony commented on #6681
The context should just cover the lifetime of the session like it does with watch; it's a long-running operation. If it's given a timeout, it should take down the session after that amount of time. If you need to bound the time it takes to create a session, it can be done with context cancelation and a timer outside the session code.

[2016-10-21 22:03] yudai commented on #6699
Here's a snippet that I use when I want detect errors.

[code]

[2016-10-21 22:12] deimosfr commented on #6673
Here are the logs:

core01 etcd:
[code]

core02 etcd:
[code]

core03 etcd:
[code]

Thanks

[2016-10-21 22:15] xiang90 commented on #6673
@deimosfr From the log, there are connectivity issues between your nodes.

Oct 21 22:06:28 core03.my-fqdn.com etcd2[1182]: the connection to peer 9c3a86e1cba0d02f is unhealthy
Oct 21 22:06:28 core03.my-fqdn.com etcd2[1182]: the connection to peer e06be8eb5317d969 is unhealthy

Can you check the DNS can be solved correctly by ALL etcd members and the resolved IPs are reachable by all members?

[2016-10-21 22:28] yudai commented on #6681
Yes, I understand that.

I think the complicated part is `Close()`, because there are "cancellation of the session" and "cancellation of requests to cancel the session" for failure cases. `NewSession()` would work simply with `WithContext`. However `Close()` need something else for `Revoke()` to bail out from internal retries, like TTL in #6698 or `grpc.FastFail(false)`. If we use the same `ctx` g

[2016-10-21 22:29] heyitsanthony commented on #6681
@yudai I think the `Revoke` request should hang off the given context. If the context is canceled, Close() won't send the `Revoke` and return `ctx.Err()`.

[2016-10-21 22:35] yudai commented on #6681
@heyitsanthony I see. Just let me clarify that not calling `Revoke()` doesn't leak resource in the server side. I thought that `Grant()` keeps something in the server side until `Revoke()` is called or the connection to the client gets lost.

[2016-10-21 22:39] heyitsanthony commented on #6681
@yudai a cancel would stop the session's goroutine for renewing the lease's TTL. If the renews stop, the TTL will eventually expire and the server will remove the lease.

[2016-10-21 23:29] #6535 closed

[2016-10-22 00:08] yudai commented on #6681
@heyitsanthony I see. Then just skipping `Revoke()` makes sense 👍

[2016-10-22 01:36] nenzhang commented on #6700
I used the etcd 3.0.12 version, but I found when the system time changes manually, the expire time will be changed also. shall I do some configuration to have this relative clock?

[2016-10-22 04:12] heyitsanthony commented on #6700
@nenzhang oh, I see your point. Leases use time.Now() to compute the expiry deadline and the system clock could jump around (probably broken for day light savings time?). Marking as a bug. Thanks!

[2016-10-22 04:15] xiang90 commented on #6700
@heyitsanthony We probably can convert it to logical clock somehow. Do you think this is something we should fix soon?

[2016-10-22 04:17] heyitsanthony commented on #6700
Definitely should have a fix before November 6th...

[2016-10-22 04:18] xiang90 commented on #6700
added into the most recent milestone.

[2016-10-22 09:56] nenzhang commented on #6700
Hi
ok, good to hear,

[2016-10-22 14:20] nenzhang opened #6706 "query: why curl easy perform returns success sometimes when leader etcd is down."
pre-condition: etcd leader is down. trigger set operation continuously in etcd proxy node while etcd proxy itself is printing logs that connection to etcd leader is not available, this is normal.
 etcd[22843]: could not get cluster response from http://169.254.0.20:2380: Get http://169.254.0.20:2380/members: dial tcp 169.2
 etcd[22843]: proxy: could not retrieve cluster information from the given

[2016-10-24 09:00] sinsharat commented on #6584
@xiang90 can we close this issue or is there anything else which needs to be for this. If this is complete, is there anything else which i can look into?
Thanks!

[2016-10-24 14:30] fasaxc commented on #6652
@xiang90 I had a go at this but it looks like it could be an invasive change to do it fully.  In particular, the check needs to happen after loading the headers from the server but before loading the body (or reading from a watch will block forever).  I've gone for the simple solution of returning the ClusterID so the calling code can check/log it.  That's enough for my use-case, which is just to

[2016-10-24 16:14] #6681 closed

[2016-10-24 16:52] xiang90 commented on #6631
@Soulou @dennwc I am going to close this since I believe this is a client/server versions incompatibility issue.

[2016-10-24 16:52] #6631 closed

[2016-10-24 16:53] heyitsanthony commented on #6706
Can you reproduce the problem server response with `curl -v`? Not really familiar with yajl or curl bindings.

[2016-10-24 16:54] xiang90 commented on #6631
There is an issue tracking client versioning here: https://github.com/coreos/etcd/issues/6579. Please watch that issue if you are interested.

[2016-10-24 17:38] deimosfr commented on #6673
Network issue you're right, investigating on my side and get back to you

[2016-10-24 18:21] heyitsanthony commented on #6663
Ideally this would work without the extra `-run=Test` stuff, but I don't think it's possible with the current go testing framework. Closing for now.

[2016-10-24 18:21] #6663 closed

[2016-10-24 19:56] xiang90 opened #6711 "clientv3: add client side metrics"
We do not have client side metrics reporting now. It is important for users that want to understand the load they sent to etcd. We use gRPC for the rpc layer and use Prom as the metrics reporting system. Fortunately, people already have gRPC + prmo integration: https://github.com/grpc-ecosystem/go-grpc-prometheus. We want to use it in our clientv3 lib.

/cc @sinsharat Can you work on this? Thanks!

[2016-10-24 20:04] xiang90 commented on #6508
@jwaldrip

Do you want this for client side or server side? Have you thought about how would this work? What is the ideal workflow in your mind?

[2016-10-24 20:46] gcavalcante8808 opened #6713 "Correct setup documentation and fork me link."
Hello folks,

I was trying to setup a New Calico infrastructure and, for that, I need an  Etcd server running. Reading the https://coreos.com/etcd/docs/latest/docker_guide.html link, I just discovered that the correct command to run the container is:

[...] --name etcd quay.io/coreos/etcd  **etcd** -name etcd0 [...]

Instead of:

[...] --name etcd quay.io/coreos/etcd  -name etcd0 [...]

Alas, the

[2016-10-24 20:49] gyuho commented on #6713
Sorry, coreos.com docs are not up-to-date. It's in our queue.

In the meantime please try the docker guide here https://github.com/coreos/etcd/blob/master/Documentation/op-guide/container.md

[2016-10-24 21:16] fanminshi commented on #6685
From my investigation, I suspect that lease expires during the hash consistency check which causes hash to differ.

There is a scenario that lease creation succeeds but attaching keys to lease fails. In this case, lease will expire after TTL amount of time. if lease is expiring during hash checking where some node might process the expiring lease while others haven't, hash consistency occurs.

Fro

[2016-10-24 21:43] gcavalcante8808 commented on #6713
@gyuho Just in time: There is support for calico on docker 1.12? I'm trying to use it, but I'm receiving "plugin not found" even if my vm's are not operating in swarm mode.

[2016-10-24 22:40] fanminshi commented on #6685
Retries on hashes checking won't converge after 10 tries.

[code]

[2016-10-24 23:42] xiang90 commented on #6675
@mitake I would suggest to move checkpassword back to apply loop. But we can make checkPassword to be executed asynchronously (concurrently with commands after it, since checkPassword is a readonly request.

[2016-10-25 00:05] xiang90 commented on #5317
Ideally we want etcd to recover from 40M small keys within 30 seconds.

40M is around 1 hour 10k keys/second put workload without any compaction. This is probably the max throughput we want to support for etcd.

/cc @nekto0n @sinsharat @vimalk78 It would be great if any of you can work on it.

[2016-10-25 02:10] YuleiXiao opened #6716 "how to get ttl from leaseID?"
In clientv3, I ```Get``` kv pairs, there is a ```Lease``` in ```KeyValue```, how to get ttl from ```Lease```? I did not find the interface to use.

[2016-10-25 02:13] gyuho commented on #6716
Try https://github.com/coreos/etcd/tree/master/etcdctl#lease-timetolive-leaseid-options?

[2016-10-25 02:21] xiang90 commented on #6716
Closing this since @gyuho provided the correct answer.

[2016-10-25 02:21] #6716 closed

[2016-10-25 02:47] YuleiXiao commented on #6716
@gyuho Is there an api interface?

[2016-10-25 02:48] xiang90 commented on #6716
@YuleiXiao https://github.com/coreos/etcd/blob/master/clientv3/lease.go#L80. You need to use both etcd 3.1 + client 3.1 though.

[2016-10-25 02:51] YuleiXiao commented on #6716
@xiang90 OK, I need upgrade version. I use 3.0 now. Thanks all of you.

[2016-10-25 03:12] nenzhang commented on #6706
ok, thanks. I will try when I have environment!

[2016-10-25 06:51] nekto0n commented on #5317
According to @gyuho most of the time is taken by `kvindex.Restore`. There is a `BenchmarkIndexRestore` which on my laptop gives me these numbers:
[code]
Using only 100k keys (simulating multiple revisions) I get:
[code]
So it takes a bit longer than a second to perform 1M keys recovery. Am I right that we need to optimize this a bit more or should we concoct a more involving test which should look

[2016-10-25 08:00] sinsharat commented on #6711
Sure will start working on it.

[2016-10-25 09:03] soyking opened #6719 "clientv3: will Compare support "!=" ?"
In a transaction, the `if` support Compare condition.

In my case I want to confirm some k/v is not a specified value, but in [compare](https://github.com/coreos/etcd/blob/master/clientv3/compare.go#L36) the `result` don't support `!=`. So is there any way to make it possible?

And this is what I want:

[code]

[2016-10-25 12:04] sinsharat commented on #6719
@soyking we don't support "!=" since what you want can be achieved using Else with "=".
You can use it as :
[code]

[2016-10-25 12:44] jszczepkowski opened #6720 "Memebers API on etcd v3"
According to the [members API documentation](https://coreos.com/etcd/docs/latest/members_api.html), one should use `/v2/members` endpoint to add/remove/list members of etcd cluster.

Is it a proper way of accessing members on etcd v3 release?

Shouldn't it be changed to `/v3/members`?

[2016-10-25 12:44] jszczepkowski commented on #6720
CC @fgrzadkowski

[2016-10-25 14:06] sinsharat opened #6722 "etcd-runner: Not able to run etcd-runner for long periods against fault-injection-cluster"
**Issue:**
We are not able to test fault injection cluster for long periods of time due to fault-injection cluster making the cluster down for long periods. This results in grpc timeout err and the test case terminates.

**Steps to reproduce:**
1. Start fault injection cluster using below link:
https://github.com/coreos/etcd/tree/master/tools/functional-tester#with-goreman

2. Executing etcd-runne

[2016-10-25 14:28] luohoufu opened #6723 "etcd https cluster error"
# Bug reporting

A good bug report has some very specific qualities, so please read over our short document on
[reporting bugs][report_bugs] before you submit your bug report.

To ask a question, go ahead and ignore this.

[report_bugs]: ../Documentation/reporting_bugs.md

etcd Version: 3.0.13
etcd --name=etcd01 --data-dir=/var/lib/etcd/etcd01 --listen-peer-urls=https://10.37.116.15:2380 --listen-

[2016-10-25 15:22] sinsharat commented on #6720
@jszczepkowski it depends on which API you are using. ETCD supports both v2 and v3 versions for backward compatibility. So the API which you want to use depends on which version of API you want to use. The link you have mentioned clearly specifies the version as : etcd 2.3.7 Documentation.
Also the coreOS documentation haven't been updated for v3. Please refer the issue #6713.
Its in the queue.
Pl

[2016-10-25 15:25] sinsharat commented on #6720
@gyuho can this be labelled for kind/documentation as well?

[2016-10-25 16:33] xiang90 commented on #6723
The key/cert generation has some issues. This is not an etcd specific issue. Please try https://github.com/coreos/etcd/tree/master/hack/tls-setup to generate certs. Let us know if you still have the problem.

[2016-10-25 16:33] #6723 closed

[2016-10-25 17:43] xiang90 commented on #6722
Do you have any log for this? I think the client should retry internally until you call client.Close.

[2016-10-25 17:52] sinsharat commented on #6722
@xiang90 since we are providing timeout as 5s only and if the cluster is down for more than 5s, it gives grpc timeout. In the logs only that error shows, since in client code we are returning the same if its not able to get connection by then.
ErrClientConnTimeout = errors.New("grpc: timed out when dialing")
In out etcd runner we are doing log.Fatalf(err). Hence the moment it gets err it terminate

[2016-10-25 17:54] xiang90 commented on #6722
Where? Probably change this to 1 minute or so?

[2016-10-25 17:56] sinsharat commented on #6722
@xiang90 its present under newClient func in etcd-runner. My view was that rather than hard coding it for 1min, we make it configurable as a flag so that depending upon the test case we are running we can configure from command line accordingly. Since we don't know how the cluster will behave at what point of time and for how long the cluster will be down. What do you suggest?

[2016-10-25 17:57] xiang90 commented on #6722
@sinsharat Sure. That is fine too. We should have an estimate upper bound for cluster failure duration. And we set timeout longer than that.

[2016-10-25 17:58] sinsharat commented on #6722
@xiang90 yes sure. Will test it running it for 5hrs as you had wanted and if after one hour its still running fine will raise a PR for this.
Thank you!

[2016-10-25 17:59] xiang90 commented on #6722
Awesome. Great!

[2016-10-25 18:16] sinsharat opened #6726 "etcd : Go get command giving interface implementation error for wserver"
![image](https://cloud.githubusercontent.com/assets/20169156/19698496/220ab3bc-9b0d-11e6-8ce5-c592a87bc408.png)

[2016-10-25 18:19] gyuho commented on #6726
Can you use grpc-go v1.0.2?

It's from grpc upstream change. Should we update to grpc v1.0.3 https://github.com/grpc/grpc-go/releases/tag/v1.0.3?

/cc @xiang90 @heyitsanthony

[2016-10-25 18:44] gyuho commented on #6686
Closing via https://github.com/coreos/etcd/pull/6705
Leave reverting db feature as TODO for now.

[2016-10-25 18:44] #6686 closed

[2016-10-25 19:00] sinsharat commented on #6726
@gyuho its not so much an issue for me since i use git for my code. Just found the issue so informed it.
Thanks for your suggestion though :-)

[2016-10-25 20:08] xiang90 commented on #5317
Is it growing linearly? 100K -> 10 rev pers key = 1s (1M keys in total); 100k -> 10 revs = 2s (1M keys in total)?

I remembered I did some experiments a while ago and found some low hanging fruits.

[2016-10-25 20:18] #6522 closed

[2016-10-25 20:28] xiang90 opened #6728 "data race: TestSnapshot"
[code]

[2016-10-25 21:45] okosatka opened #6729 "Proxy in version 3.1.0-rc.0 still does not support v3"
I'm trying to make a cluster of dockerized 3 members and 1 proxy, bootstrapped with discovery service.

[code]
When I try put something through the proxy
[code]
everything works as expected (besides I cannot find a debug log entry in proxy, but can in one of the cluster member).
But when I try
[code]
an error is occurred on cmd line
[code]
and logs are not changed.
Client version is 3.1.0-rc.0 for

[2016-10-25 21:47] xiang90 commented on #6729
The old proxy will not support v3 as documented. Try etcd grpc-proxy subcommand instead.

[2016-10-25 21:47] #6729 closed

[2016-10-25 21:51] gyuho commented on #6630
@heyitsanthony @xiang90

In what cases do we expect `ErrClientConnClosing` from closing watch client?

I've been running this `TestWatchErrConnClosed` https://github.com/coreos/etcd/blob/master/clientv3/integration/watch_test.go#L610 over 5,000 rounds but cannot reproduce.

[code]

This both returns nil. `TestWatchErrConnClosed` always returns `nil` error.

Am I missing anything?

Thanks!

[2016-10-25 22:09] okosatka commented on #6729
Thanks, is there any doc how to setup grpc-proxy?

[2016-10-25 22:10] xiang90 commented on #6729
https://github.com/coreos/etcd/blob/master/Documentation/op-guide/gateway.md

https://github.com/coreos/etcd/blob/master/Documentation/op-guide/grpc_proxy.md

[2016-10-25 23:31] xiang90 commented on #6584
I think we can close this now. the next step is to run this test against failure injecting cluster 24 * 7. we will figure out how later.