[2022-08-22 14:14] endocrimes commented on #14045
FWIW I have container stuff working fairly reliably now via containerd - I'm just not quite sure how best to deploy constant jepsen testing (lack of infra availability mostly) - and lack of time on my part (etcd gets ~5% of my time rn, so I'm hesitant to do things that would depend on me to maintain)

[2022-08-22 15:21] hasethuraman commented on #14364
@ahrtr Please find the code changes and steps to repro.. please kindly note that these changes are just sleep and exit to simulate the condition that I explained in the bug description

1. Do the code changes in raft.go

![image](https://user-images.githubusercontent.com/10446093/185957755-4a2d7b8e-0302-4c79-9d9e-740a04e69dc3.png)

2. Do the code changes in tx.go

![image](https://user-images.gith

[2022-08-22 15:24] hasethuraman opened #14370 "Durability API guarantee broken in single node cluster"
I observed the possibility of data loss and I would like the community to comment / correct me otherwise.

Before explaining that, I would like to explain the happy path when user does a PUT <key, value>. I have tried to only necessary steps to focus this issue. And considered a single etcd instance.

====================================================================================
----------ap

[2022-08-22 17:20] hasethuraman commented on #14370
Looks the explanation and steps are very tedious for one to look. Instead, please find this.

//1. Incorporate this code diff and run etcd-server
https://github.com/etcd-io/bbolt/compare/v1.3.6...hasethuraman:bbolt:v1.3.6-test?expand=1

https://github.com/etcd-io/etcd/compare/release-3.5...hasethuraman:release-3.5?expand=1

//2. Add a key value. Allow etcdserver to acknowledge and exit immediately

[2022-08-22 19:14] chaochn47 commented on #14338
FYI, We are deploying a fix to the local monitoring agent to forcibly stop the server given it's already removed from the membership.

[2022-08-23 01:04] ahrtr commented on #14364
Note that it's expected behavior by design. If you really want high availability, then you need to setup a cluster with 3 members at least.

Due to the performance concern of bboltDB, etcd periodically commits the transaction instead of committing on each request. So in theory, it's possible that the bboltDB commit might actually fail for whatever system or hardware issue. But it isn't an issue if

[2022-08-23 04:32] Uzay-G commented on #14362
Can I just delete the WAL files?

[2022-08-23 04:36] ahrtr commented on #14362
It isn't recommended to manually delete the WAL files, otherwise the WAL files may not be matching the snap files.  Please try to reproduce the issue and provide complete log. If you are interested, please try to figure out why etcd failed to purge the WAL files automatically.

[2022-08-23 19:00] EmilyM1 commented on #14324
/assign

[2022-08-23 20:22] ahrtr commented on #14370
It seems that you raised a duplicated issue to https://github.com/etcd-io/etcd/issues/14364.

I have already answered the issue in https://github.com/etcd-io/etcd/issues/14364#issuecomment-1223391071 and https://github.com/etcd-io/etcd/issues/14364#issuecomment-1222024469

[2022-08-23 20:29] ahrtr commented on #14369
What's the "a lot of"? It should be fine for thousands. It also depends on the size of the each object. Previously we ran out of the default disk space quota (2GB) with about 100K K8s events.

[2022-08-24 04:17] hasethuraman commented on #14370
@ahrtr it is not about HA. I am saying there appears to be a data loss.

[2022-08-24 09:01] zhangguanzhang commented on #13509
[code]

[2022-08-24 11:32] tjungblu commented on #14333
after digging into this a bit, I assume this is due to:

So in:
https://github.com/etcd-io/etcd/blob/a1fb9ff1e4de40337735d07ca0773cfc242ad00f/tests/integration/clientv3/connectivity/network_partition_test.go#L52-L55

This isn't caught by the `IsClientTimeout`. Shall this error be added in there as a transient error or does this indicate another issue?

[2022-08-24 22:40] niconorsk commented on #13785
Hi, not sure if this is the correct place to ask, but noticed one slight issue with this new flag.  We don't notify to systemd that we are ready to go which means that etcd ends up in a restart loop in this scenario.

I've fixed this in a local install by changing `startEtcd` in `etcdmain\etcd.go` to also timeout according to the config flag.

I'm ok with putting up an MR for this, but wanted to c

[2022-08-24 23:31] ahrtr commented on #13785
I am not sure I get your point. Do you mean systemd restarted etcd because etcd blocked on [serve.go#L105](https://github.com/etcd-io/etcd/blob/82bf79d4ce382f5d1333fb6e7b0242ac67869e8e/server/embed/serve.go#L105)?

The [PR](https://github.com/etcd-io/etcd/pull/13525) isn't cherry picked to 3.5. Did you build etcd on `main` branch yourself?

[2022-08-25 01:10] gpl opened #14379 "etcd alarms seem to persist beyond the removal of the member they belong to; additionally cannot clear alarms"
### What happened?

A cluster ran out of space, and was "rebuilt" - one instance was set with --force-new-cluster, and others were joined before that node itself was deleted and rejoined to the 3 member etcd cluster.  However, we see the following log line frequently in the log, and as a result kubelet will eventually kill the etcd instance (the error shows up on all nodes.)

{"level":"warn","ts":

[2022-08-25 01:25] gpl commented on #14379
Another weird thing we've noticed - a lot of actions seem to time out at 7 seconds, but it's unclear exactly how that timeout is set --

{"level":"warn","ts":"2022-08-25T01:23:24.880Z","caller":"v3rpc/interceptor.go:197","msg":"request stats","start time":"2022-08-25T01:23:17.880Z","time spent":"7.000622172s","remote":"[::1]:33658","response type":"/etcdserverpb.KV/Txn","request count":0,"request

[2022-08-25 03:27] niconorsk commented on #13785
I tested this with a patch on 3.3.11 because that is the old version I am using but the code in question does not to look to have changed.

Specifically, etcd blocks on [etcd.go#L208](https://github.com/etcd-io/etcd/blob/82bf79d4ce382f5d1333fb6e7b0242ac67869e8e/server/etcdmain/etcd.go#L208)

Which means that it nevers sends the message back to systemd saying it should be considered started and so

[2022-08-25 04:59] ahrtr commented on #13785
Got it. It is a real issue to me. If other members get started too late or slow for whatever reason, then the running member may be restarted by systemd; accordingly it makes the situation even worse.

Thanks for raising this. We should add code something like below. Please feel free to deliver a PR for this. But please add an e2e test case.

[code]

[2022-08-25 06:23] ahrtr commented on #14164
This task isn't finished yet. https://github.com/etcd-io/etcd/pull/14255 is just the very first step. Please anyone feel free to continue to work on this task.

[2022-08-25 14:21] tobgu opened #14382 "ETCD fails to start after power off/on"
### What happened?

With a cluster of three nodes setup using https://github.com/bitnami/charts/blob/master/bitnami/etcd/README.md it was noticed that the ETCD nodes failed to start after a forced reboot of the underlying worker nodes. A graceful shutdown will not result in this issue.

The logs indicated a mismatch in the raft log index between the v2 *.snap files and the v3 db file where the ind

[2022-08-25 14:29] serathius commented on #14382
Easily reproducible with script:
[code]

[2022-08-25 14:41] serathius commented on #14382
Really great analysis and repro! @tobgu would you be willing to propose a fix?

[2022-08-25 14:46] tobgu commented on #14382
I would have to spend time trying to understand the V2/V3 sync logic for that and why it is failing in this case. If nobody else knows of a quick solution/fix to this I can do that but I was hoping that someone well versed in this area would pick it up. ;-)

[2022-08-25 16:45] serathius commented on #14382
Heh, only if I could say that I understand it better. From what I investigated problem is due to consistent index (CI) not being saved when applying `Alarms` entry. I managed to confirm that this behavior was introduced between v3.5.2 and v3.5.3. Meaning that this is a bug for in fix for data inconsistency issue :(.

As the result snapshot index is greater than CI, which during etcd bootstrap is i

[2022-08-25 16:56] serathius commented on #14382
Ok, looks like v3.5.3 assumes that performing applyV3 without an error means that consistency index was commited. However that's not true in case of `Alarms`, as it doesn't touch db, meaning it doesn't open any transactions, which would lead to executing backend hooks.

[2022-08-25 17:12] serathius commented on #14382
Some more details, issue is triggered when etcd crashes after snapshot that was followed by only Alarms entries.
It causes a transitory bad state of db, would prevent etcd to recover after crash. It's transitory as db will be fixed after any WAL entry that is not Alarms.

[2022-08-25 17:16] serathius commented on #14382
I expect that issue is very rare as it requires 3 things in to happen one after another:
* Snapshot triggered
* At least one Alarm Request
* Hard crash of etcd

Still it brings up the issue of how incomprehensible etcd apply code is. I think this will be third times we try to fix just this part of the code in v3.5.X

[2022-08-25 17:24] lavacat opened #14384 "[test] after failure functional tests can't access logs in /tmp/etcd-functional*"
### What happened?

In case of functional test failure, test.sh can't access etcd logs.

/tmp/etcd-functional* dirs are already removed

--- FAIL: TestFunctional (16.32s)
    --- FAIL: TestFunctional/round:0 (1.24s)
        --- FAIL: TestFunctional/round:0/0_BLACKHOLE_PEER_PORT_TX_RX_LEADER_UNTIL_TRIGGER_SNAPSHOT (1.24s)
FAIL
FAIL: (code:1):
  % './bin/etcd-tester' '--config' './tests/functional/f

[2022-08-25 17:29] lavacat commented on #14384
I'll submit PR shortly, please assign this to me

[2022-08-25 17:30] b10s opened #14385 "data integrity guarantees on power loss of machine with SSD with volatile write cache and -o nobarrier"
Hi,

I'm asking strange :) First answer to my question would be - don't do what I'm asking. It is not recommended to [disabling write barriers](https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/6/html/storage_administration_guide/writebarrieronoff) on disks with volatile disk write caches e.g. DRAM without battery.

However theoretically there might be cases, especially in the

[2022-08-25 17:56] lavacat commented on #14370
@hasethuraman haven't tried to repro, but I agree with @ahrtr, you should try 3 node cluster. Raft protocol doesn't really work on 1 node. I bet you won't be able to reproduce this.

Etcd allows to launch 1 node clusters only to make it easy to experiment with api, not for any production use.

[2022-08-25 18:23] hasethuraman commented on #14370
Thanks @lavacat . I thought this; but isnt the raft message rtt covering up this observation? I am posting the screenshot here that will also give what I think basically wal can go first before the database/raft for strong consistency

![image](https://user-images.githubusercontent.com/10446093/186740313-79c54507-be9a-4ef4-a3ad-9b33523e98b7.png)

[2022-08-25 18:23] jberkus commented on #14385
It's really going to depend on what happens with the other nodes in the cluster.  If it's a general datacenter outage and all nodes shut down without time to flush, that's a different situation than just one node losing power.

[2022-08-25 18:36] serathius commented on #14370
Hey @hasethuraman can you please please not use screenshots. It's much easier to just link the code https://github.com/etcd-io/etcd/blob/4f0e92d94ceacdd0af26e7268764a5bce7b0a3eb/server/etcdserver/raft.go#L212-L239

[2022-08-25 18:44] tobgu commented on #14382
I'm not sure I agree with the conclusion that this is an extremely rare case.

Given how the liveness and readiness probes are setup in the Bitnami Helm chart referred to above all that is needed for this to happen is to let time pass without any writes to the DB. Once enough time has passed for a snapshot to have been written (a couple of days) and the machine restarts, ETCD will not come up agai

[2022-08-25 20:25] serathius commented on #14370
I don't think you correctly identified order of operations. Please remember that committing to db is done after HardState is WAL entry is added to WAL. So the invocations you highlighted `case r.applyc <- ap:`, `r.storage.Save` are not saving the same entries.

[2022-08-25 21:29] ahrtr commented on #14370
I agree that it's a little confusing that etcd returns success/OK, but the data is actually lost, although there is only one member in the cluster.

In theory, we can make everything as a synchronous call, and do not respond to the client until everything (including boltDB, WAL) is successfully persisted. Obviously it will cause huge reduce of performance, and the design doesn't make any sense at

[2022-08-26 00:29] niconorsk commented on #13785
I think that MR is good to go but needs someone to allow CI to run

[2022-08-26 03:04] AdiaLoveTrance commented on #10224
I use the [v3lock.proto](https://github.com/etcd-io/etcd/blob/master/etcdserver/api/v3lock/v3lockpb/v3lock.proto) with C++, and my thread always blocks even if no other thread hold the key lock, and I don't know why.

[2022-08-26 07:37] serathius commented on #14382
Can you link to how Bitnami does healthcheck?

[2022-08-26 07:57] serathius commented on #14370
I'm just flabbergasted with the conclusion. This means that single node cluster doesn't provide durability and documentation about api guarantees do not state it anywhere https://etcd.io/docs/v3.5/learning/api_guarantees/#durability

[2022-08-26 09:06] ahrtr commented on #14370
I will take care of this, updating the doc or enhance the existing etcdserver/raft workflow. Please note that it can only happens for a cluster with only one member.

[2022-08-26 09:36] serathius commented on #14382
cc @ahrtr @ptabor for their opinion

[2022-08-26 11:23] tobgu commented on #14382
Sure!

This is how the default liveness- and readiness probes and are setup (the ones I've now replaced with http probes against `/health`): https://github.com/bitnami/charts/blob/master/bitnami/etcd/templates/statefulset.yaml#L265-L289

And this is the shell script that is called by the above probes: https://github.com/bitnami/bitnami-docker-etcd/blob/master/3.5/debian-11/rootfs/opt/bitnami/scrip

[2022-08-26 16:26] smarterclayton commented on #14370
Kube was designed with the assumption that PUT was durable and etcd was crash consistent for accepted writes, regardless of quorum size.  Maybe @xiang90 or @philips could weigh in on whether this was intentional - it is certainly not expected and I'd say my read of the ecosystem over the last 10 years has been that all accepted writes should be recovered regardless of size.

[2022-08-26 16:36] liggitt commented on #14370
Agreed. The only discussion around relaxing single node safety guarantees I was aware of was https://github.com/etcd-io/etcd/issues/11930, and that reinforced my expectation that even single-node etcd servers _default_ to being crash safe w.r.t. successfully persisting to disk prior to treating a write request as a success, and that overriding that default requires the admin explicitly opting into

[2022-08-26 18:33] ahrtr commented on #14370
I will deliver a PR to fix this for clusters with only one member.

[2022-08-27 06:09] Uzay-G commented on #14362
When I try getting debug info:

[code]

When I try to get the logs:

[code]

I'm trying to get more info but etcd hogs memory and I can't even use my system properly.
Does this help at all? Is there any way I can just reset it so it keeps existing data and ignores the problematic stuff?

[2022-08-27 12:40] hasethuraman commented on #14370
@ahrtr Since I did this locally and worked as expected thought of sharing. Please let me know if the fix you are planning is going to be different.

https://github.com/etcd-io/etcd/compare/release-3.5...hasethuraman:etcd:14370?expand=1#diff-54bdb7a5ed2d92f64598fb472372562ff64f8417e63d7ac672eaa485704cea9f

[2022-08-27 18:07] cenkalti commented on #14164
I added the GitHub action: https://github.com/etcd-io/etcd/pull/14392
I added `revive` to the list of linters: https://github.com/etcd-io/etcd/pull/14391

Can you review these please?

[2022-08-27 20:35] ahrtr opened #14393 "Coverage pipeline error on main branch"
Issue on the latest code on `main`

[code]

Refer to https://github.com/etcd-io/etcd/runs/8049592009?check_suite_focus=true#logs

cc @serathius

[2022-08-27 22:11] ahrtr commented on #14370
I don't think the change is expected, because it definitely cause big reduce of performance.

[2022-08-27 22:43] ahrtr commented on #14370
I just delivered a PR https://github.com/etcd-io/etcd/pull/14394 to fix this issue.

Please let me know whether you can still reproduce the issue with the PR. cc @hasethuraman

[2022-08-28 08:19] serathius commented on #14370
Question is how we want to roll out this fix, it's not a breaking change as it restores etcd durability which matches user expectation. However it is expected to come with performance regression. For v3.6 we should make single etcd instances durable, but we should avoid backport being to disruptive.

I think it's crucial to do benchmarking to confirm how impact-full is the change. If the change is

[2022-08-28 13:34] serathius commented on #14370
Minimal repro, by using pre-existing failpoints in etcdserver:
[code]

[2022-08-29 02:07] JohnJAS commented on #14256
meet the same issue,  start etcd v3.4.20 via static pod in a k8s cluster.

[2022-08-29 02:30] ahrtr commented on #14256
One quick question, did you just see this issue once or can you easily reproduce this issue? @JohnJAS

[2022-08-29 02:47] JohnJAS commented on #14256
hi @ahrtr
It is hard for me to answer the question now because I only have checked one env and I found this issue inside the dead etcd container.
But it is true that we kept met with the ETCD issue after we've upgraded etcd to v3.4.20. Our daily pipeline is blocked for several days until we downgraded the etcd version.
I will try to manualyl upgrade etcd to see if I can reproduce this issue easily

[2022-08-29 03:14] ahrtr commented on #14370
Please see my comments https://github.com/etcd-io/etcd/pull/14394#issuecomment-1229606410, https://github.com/etcd-io/etcd/pull/14394#issuecomment-1229673875 and https://github.com/etcd-io/etcd/pull/14394#issuecomment-1229676690. In short, I think we should backport the fix to 3.5, and probably 3.4.

These steps aren't correct to me. Although you can reproduce this issue easily using these steps,

[2022-08-29 06:26] lavacat commented on #14257
Let close this issue.

Quick summary
1. no solution for BLACKHOLE_PEER_PORT_TX_RX_LEADER_UNTIL_TRIGGER_SNAPSHOT (see below)2.
2. seams to be a one-off
3. Filed https://github.com/etcd-io/etcd/issues/14384

Looked at BLACKHOLE_PEER_PORT_TX_RX_LEADER_UNTIL_TRIGGER_SNAPSHOT but didn't find the root cause.
On my local Mac `etcd_disk_wal_fsync_duration_seconds_bucket` is pretty high and that probably e

[2022-08-29 06:41] JohnJAS commented on #14256
@ahrtr I've reproduced this issue on another cluster and just hit on the same issue.

I manually upgraded the etcd pods on each node one by one from v3.4.16 to v3.4.20. Then etcd pods crashed and exited like the following.

[code]

So I think this issue is not related the env and it is easy to reproduce.

However, ETCD v3.4.16 works well, but we still got some CVEs on this version and that's why w

[2022-08-29 07:02] #14393 closed

[2022-08-29 07:40] ahrtr commented on #14382
Thanks @tobgu for raising this issue ( a real issue)!

It turns out to be a regression introduced in 3.5.4 in https://github.com/etcd-io/etcd/pull/13854 (https://github.com/etcd-io/etcd/pull/13908). The `alarm list` is the only exception that doesn't move consistent_index forward. The reproduction steps are as simple as,

[code]

# Short term solution

## Solution 1
Lock batch_tx in [(*AlarmStore)

[2022-08-29 08:31] rensx5514 opened #14396 "[makefile can't set GO_BUILD_FLAGS through env ]"
### What happened?

Makefile
`
.PHONY: build
build:
	GO_BUILD_FLAGS="-v" ./scripts/build.sh
	./bin/etcd --version
	./bin/etcdctl version
	./bin/etcdutl version
`
GO_BUILD_FLAGS="-v"  will overwrite GO_BUILD_FLAGS in env.

### What did you expect to happen?

Makefile
`
.PHONY: build
build:
	GO_BUILD_FLAGS="-v" ./scripts/build.sh
	./bin/etcd --version
	./bin/etcdctl version
	./bin/etcdutl version
`

[2022-08-29 08:34] rensx5514 commented on #14396
/important , We need it to add compile-security-option like "-buildmode=pie -trimpath" @bmizerany @technoweenie @drnic @pjjw

[2022-08-29 11:55] ptabor commented on #14370
I think we should fix etcd's RAFT implementation rather than the etcd "apply" layer.

The RAFT protocol is pretty explicit about this:
 - https://github.com/ongardie/dissertation/blob/master/online.pdf?raw=true 10.2.1:
1. "Fortunately, the leader can write to its disk in parallel with replicating to the followers and them
writing to their disks."  (this says about writing WAL).
2. "The leader may

[2022-08-29 12:39] ahrtr commented on #14370
Thanks @ptabor for the feedback. The 10.2.1 is for the performance optimization for multi-member cluster, and I don't think it is the root cause of this issue. The performance optimization is based on the key point that a follower must sync the WAL entries before responding to the leader. Anyway, it's for multi-member cluster.

For the case of 1-member cluster, I believe the solution "`the leader

[2022-08-29 14:34] ptabor commented on #14370
Thank you @ahrtr . My intuition is that 1. and 2. are premature optimisations.
  1. Committing/flushing bolt is the most expensive operation and in both cases we are not doing this on the synchronous part. From in-memory apply I would expect insignificant overhead.
  2. That's interesting. This would apply if etcd is used with many transactions with failing preconditions... this used to be a case

[2022-08-29 18:43] rtheis commented on #14256
We hit the same problem with etcd version 3.4.20 and it is very easy to reproduce in our environment.

[2022-08-30 06:47] ahrtr commented on #14370
I just delivered another PR https://github.com/etcd-io/etcd/pull/14401, in which the implementation is greatly simplified. There is about 2.7% performance downgrade as compared to https://github.com/etcd-io/etcd/pull/14394 . So it' about **8.2%** performance downgrade as compared to the `main` branch.

In summary,
|  | https://github.com/etcd-io/etcd/pull/14394 | https://github.com/etcd-io/etcd/pu

[2022-08-30 07:03] JohnJAS commented on #14256
I can confirm that etcd v3.4.19 doesn't have this issue and we are happy to see that the two CVEs are fixed in this version. It looks like some fix in v3.4.20 had imported the current issue.

However, the error message in my case is not 100% as yours, though they are all about the `nil pointor` issue. I won't create another one in case if they have the same root cause.

Hope my research can help t

[2022-08-30 07:35] ahrtr opened #14402 "[3.4.20] Panic probably due to nil log object"
Based on the feedback from @JohnJAS, this issue can't be reproduced in 3.4.19, instead it can only be reproduced on 3.4.20.

It looks like the [lg](https://github.com/etcd-io/etcd/blob/1e2682301c2947619214e6497b5432e7717d921d/etcdserver/v3_server.go#L805) is `nil`.

Thanks both @JohnJAS and @rtheis.

[code]

[2022-08-30 10:12] AdiaLoveTrance commented on #10224
@brk0v @xiang90
Can anyone answer the question?

[2022-08-30 10:23] AdiaLoveTrance opened #14403 "Implement distributed lock by other language problem"
Hi,
I want to implement distributed lock using etcd, and I found there is a proto file in "server/etcdserver/api/v3lock/v3lockpb/v3lock.proto". My question is can other language except Go directly use those grpc services to implement distributed lock, or there are some other steps I need to do.

[2022-08-30 16:22] ptabor commented on #14370
I have serious doubts the issue is limited to single instance etcd deployments:

My understanding is that the source of the issue is line 638:

https://github.com/etcd-io/etcd/blob/cdd2b737f04812a919a5735380fdaa1f932346d0/raft/raft.go#L637-L640

Lider just appended entries to the unstable (in-memory) log queue, and notifies progress tracker that the leader (r.id) instance had persisted up to the '

[2022-08-30 19:38] lavalamp commented on #13839
I've thought some more about this and I think significant gains can be had just from storing a hash of each {key,value} pair, so that corruption of individual values can be detected before building on them. This should also be simpler and a prerequisite to a global hash of some sort anyway.

[2022-08-30 22:13] ptabor commented on #14370
Playing with the RAFT level fix in:
https://github.com/etcd-io/etcd/pull/14406/files#diff-b9adbc46e4a317ffbb3d11a66c38d6b9af41a09170d77d87efbd96d115da452f

[2022-08-31 06:43] ptabor commented on #14370
Which line prevents that situation ?

I claim that single "Ready" call can have already incremented hard-state and overlapping Entries & CommittedEntries on multi-instance etcd.  In such case, the current code would:
1. start applying asynchronously:
 https://github.com/etcd-io/etcd/blob/cdd2b737f04812a919a5735380fdaa1f932346d0/server/etcdserver/raft.go#L213
2. broadcast async:
  https://github.co

[2022-08-31 07:22] ahrtr commented on #14370
|  | Good side | Bad side |
| --- | --- | --- |
| Solution 1: https://github.com/etcd-io/etcd/pull/14394 | better performance, but not too much (2.7% higher than 14400).  Client can also get quicker response when applying fails | The implementation is a little complicated, but it only adds one more channel `walNotifyc`, and only adds about 13 lines of code in server.go, so it seems acceptable  |
|

[2022-08-31 07:43] george-angel commented on #14329
We have seen similar behaviour after upgrading v3.5.0 to v3.5.4.

ETCD is used as a backend for Kubernetes, the APIServer requests have not changed at all

![2022-08-31-173657_2560x1273_scrot](https://user-images.githubusercontent.com/1801067/187620962-672a8d13-3840-4963-9bb5-4633111ae67b.png)

But the ETCD DB size has started growing exponentially

![2022-08-31-173715_2560x942_scrot](https://user

[2022-08-31 07:47] ahrtr commented on #14370
This step can only be running in the following loop to step 3.  Let's work with an detailed workflow (based on the current main branch) below.
Assuming it's 3-member cluster, including one leader and two followers.
1. Client puts a k/v;
2. The leader receives the k/v pair, append the data its unstable list and update the progress for itself (see below).

https://github.com/etcd-io/etcd/blob/cdd2b7

[2022-08-31 07:55] ahrtr commented on #14370
Eventually `solution 3` and `solution 4 `are the two best candidates. Recap the points again,
1. They have the same performance;
2. Both of them require applications which depend on the raft lib to be updated.
3. Solution 3 looks more safe for now because solution 4 changes the raft layer. The raft implementation is really subtle!

[2022-08-31 08:18] ahrtr commented on #14382
Is anyone working on this issue?

[2022-08-31 08:40] ahrtr commented on #14164
Thank you @cenkalti . Approved and merged.

[2022-08-31 11:05] kycfeel commented on #13373
My life saver today. My etcd db was malfunctioning after the restore. The problem was the client and server version mismatch. I was able to restore the data properly and confirmed it's all working fine after I set the client version exactly same as the server's one. Heck yes.

[2022-08-31 12:09] ptabor commented on #14370
No - thank you. You are right. Broadcasting goes together with WAL write from leader and it's a barrier for next raft round.

So 1,3 &4 has 6-7% degradation and 2 has 2.7% degradation ?  The table says for 3 "same as above".

If  integrated into .Advance(), the application would not need to be changed. But for safety
we should make it an opt-in behavior in 3.4 and 3.5 backports.

[2022-08-31 12:15] ahrtr commented on #14370
Sorry for the confusion. `2.7%` mentioned in the table means that solution 2 has about 2.7% performance downgrades as compared to solution 1.

I tested all the solutions as compared to `main` today. Solution 1 has the best performance, it has about 5% performance downgrade as compared to the `main` branch.  Solution 2/3/4 has the same performance, all of them have about 6~7% performance downgrade

[2022-08-31 12:25] ahrtr commented on #14370
We need to make a decision between solution 3 and solution 4. Please note that solution 3 is completed and ready for review, while solution 4 is still in progress of development.

For solution 4, we also need to decision which way to go, follow [my commit](https://github.com/ahrtr/etcd/commit/7ab0842a9df897878734070ebb5594baef5c56c1) or @ptabor 's [draft PR](https://github.com/etcd-io/etcd/pull/14

[2022-08-31 13:24] ptabor commented on #14370
@tbg @bdarnell - Could you, please, take a look ? Your RAFT expertise would be critical here.

[2022-08-31 15:54] lavalamp commented on #14370
Outsider perspective: if you fix this locally for performance reasons, it'd be good to fix the RAFT library too.

[2022-08-31 20:59] ahrtr commented on #14402
@kkkkun  Please feel free to deliver a PR for this. thx.

[2022-09-01 08:12] serathius commented on #13839
Instead of checking single KV pairs I would look into adding hashes to bbolt pages. Bbolt implements b+tree which should be extendable to include hash values like merkle tree allowing checking consistency of whole database.

[2022-09-01 10:31] durzo opened #14412 "[Documentation] confused about snapshot save command"
When scheduling automatic snapshots via cron - should `etcdctl snapshot save` be run on each cluster member, or is it a cluster-wide operation? does it matter if the node running the snapshot is a leader or follower? the docs are not very clear on this.

[2022-09-01 10:52] ahrtr commented on #14370
Based on all the discussion so far, it seems solution 4 https://github.com/etcd-io/etcd/pull/14411 is almost the final solution. The good point is that it doesn't require any change on the applications which depend on the etcd's RAFT implementation.

Although it looks like a big PR, but actually it has only 10 ~ 20 lines of production code change, all others are test code/data changes. I am still

[2022-09-01 12:59] ananduw commented on #14370
Thanks to the community for acknowledging this is an issue finally. And thanks @hasethuraman for persisting and reporting this issue, not that you had to.

[2022-09-01 13:25] jbml commented on #14325
When the leader requests the hash for a particular revision from its peers (as part of the corruption check), it will verify if the revision in question is not already compacted:

https://github.com/etcd-io/etcd/blob/e61d43179291562c44225bf49a6d97c52a65fdca/server/storage/mvcc/kvstore.go#L180-L182

I think the problem is that the check to verify if the revision is already compacted (the first "if"

[2022-09-01 13:31] jbml commented on #14403
Hi @AdiaLoveTrance ,
I would suggest you to take a look at https://etcd.io/docs/v3.5/integrations/ and see a list of etcd clients available in different languages, in case that suits your needs.

[2022-09-01 13:34] tbg commented on #14370
Ultimately this problem is caused by ambiguity around what it means to correctly handle a `raft.Ready`. As it stands, `CommittedEntries` is populated under the assumption that the `Entries` field has already been handled, i.e. the entry is durably in the WAL.

This is ultimately a performance optimization for a single-threaded implementation against raft: you only need to go through the raft handl

[2022-09-01 15:21] tbg commented on #14370
I submitted a draft https://github.com/etcd-io/etcd/pull/14413 which I think will end up a little cleaner than https://github.com/etcd-io/etcd/pull/14411 but is basically following in its footprints.

The draft has no chance of passing CI, since I need to fix up all sorts of tests. But it's the diff that most clearly demonstrates the change and its effect on a single-voter unit test.

[2022-09-01 15:51] lavalamp commented on #13839
The benefit of hashing every KV pair:
* you can check the hash when the KV is an *input* to a transaction
* on finding a corrupt key, you can easily get the correct value from another member--recovery is very easy

Hashing bbolt pages is better than what we do now, but I don't think it's guaranteed that every replica ends up with the same bbolt layout? Also on a hash failure, recovery is very comp

[2022-09-01 16:57] vsvastey commented on #14402
@ahrtr I would like to take a look at the issue, but I'm new to the project and haven't managed to reproduce the bug.
Could you (or anyone else) please help me find out how to reproduce the bug? I believe it might be helpful for anyone else who wants to tackle this issue.

[2022-09-01 20:01] tobgu commented on #14382
I'm not working on this. If no one else picks it up I might be able to find some time for it in a couple of weeks. Right now my priorities do not allow it.
I'm happy with the current workaround (a change in the health check used) as a short term solution in terms of stability but would of course want this to be fixed as a proper long term solution in order to not have to worry about triggering the

[2022-09-01 21:32] ahrtr commented on #14370
Thanks @tbg for the feedback, I agree that https://github.com/etcd-io/etcd/pull/14413 is a little cleaner than https://github.com/etcd-io/etcd/pull/14411/commits/d1957fe2beea3c444c4294edc70231be0515155c and it keeps everything in the real [raft](https://github.com/etcd-io/etcd/blob/main/raft/raft.go) layer, but it seems that there are some edge cases (e.g. en empty entry may be appended in some ca

[2022-09-01 22:01] ahrtr commented on #14370
For anyone reference, https://github.com/etcd-io/etcd/pull/14407 and https://github.com/etcd-io/etcd/pull/14400 are two simple workarounds.

[2022-09-01 22:13] ahrtr commented on #14370
As mentioned previously multiple times, I still suggest to cherry pick either https://github.com/etcd-io/etcd/pull/14407 or https://github.com/etcd-io/etcd/pull/14400 to release-3.5 and 3.4, and update the raft layer only in `main` branch for safety.  What do you think? cc @ptabor @serathius @spzala @tbg

[2022-09-01 22:22] jsong-oracle opened #14417 "A reliable way to get latest event soon after it's created"
### What happened?

I had a 3-node cluster, the node-2 was the leader.
all client requests were sent to node-1 via API.

1. Created a new event and committed it, say, the event number = 10, revision = 12345 -- OK
2. To find the latest event from the store -- it should return above event (number = 10, revision = 12345)
    2.1) send a dummy range request with a zero-byte key to get the latest revis

[2022-09-02 04:26] likakuli commented on #14303
I mean the revision used in etcd client side.

I can reproduce it in k8s.

1. create a k8s cluster and write some object.
2. backup etcd
3. write some object to k8s cluster.
4. use backup file generated in step 2 to restore k8s etcd
5. data in kube-apiserver are the same with step 3.

[2022-09-02 05:47] ahrtr commented on #14370
After second thought, it seems that https://github.com/etcd-io/etcd/pull/14411 is clearer & better than https://github.com/etcd-io/etcd/pull/14413, points:
1. https://github.com/etcd-io/etcd/pull/14413 is similar to @ptabor 's original draft PR https://github.com/etcd-io/etcd/pull/14406, which is slightly worse than https://github.com/etcd-io/etcd/pull/14411 per the discussion.
2. The leader raft

[2022-09-02 10:14] ptabor commented on #14370
Thank you @tbg for looking and providing the PR.

I wouldn't proceed with #14407 (Third solution), as it complicates the raft contract (introduces 'MustSaveEntriesBeforeApply' in the Ready state).

I'm on the edge with #14400. I think it's correct and safe. What I don't like is neither of:
 a) Keeping the #14400 on the main branch, as it carries not necessary complexity with RAFT fix
 b) Diverging

[2022-09-02 13:19] serathius commented on #14370
Ok let me try to summarize the current discussion. Hope that it will be useful for external observers and make making the decision easier.

Whole API durability issue is caused by difference in raft library behavior in multi vs single node scenario. In multi node raft processes entries in 2 steps (first append to log, second apply to database), which differs from single node clusters where those s

[2022-09-02 17:55] lavacat commented on #13783
Flag was originally added here https://github.com/etcd-io/etcd/pull/13236
Before the value was hardcoded to 300.

The need is this flag is clear - depending on latency, one can have too much noise in the logs with default 300.
Imo, there is nothing experimental about this flag, so it's ok to rename. It will be less confusing compared to other experimental flags.
cc @spzala

[2022-09-02 18:23] ahrtr commented on #14370
This isn't accurate. Based on all the discussion so far, the action plan would be:
1. Fix the etcd RAFT implementation for both `main` and `release-3.4/5`, using either https://github.com/etcd-io/etcd/pull/14411 (already approved by one maintainer @ptabor ) or https://github.com/etcd-io/etcd/pull/14413 . Please see my previous comment as well https://github.com/etcd-io/etcd/issues/14370#issuecomme

[2022-09-02 20:32] ahrtr commented on #14417
Is this issue reproducible on `main` or `release-3.5`?

[2022-09-02 20:52] ahrtr commented on #14412
`etcdctl snapshot save fileName` just writes a point-in-time snapshot of the etcd backend database, of the member it connects to ,to a file. It doesn't care whether it's a leader or follower. So it seems that it's better & safer to perform the operation against the leader.

[2022-09-02 21:20] ahrtr commented on #14402
Thanks @vsvastey .

The reason should be that the [Logger](https://github.com/etcd-io/etcd/blob/v3.4.20/etcdserver/config.go#L147) isn't correctly initialized in some situation.

@JohnJAS and @rtheis, could you please provide the steps to reproduce this issue? thx

[2022-09-02 21:51] jsong-oracle commented on #14417
We will try it.

[2022-09-03 01:31] vsvastey commented on #14402
I've digged a bit into git history.
So, what I understood is that `capnslog ` is removed for `3.5` and in `main`. (corresponding issue: #11426) After that, the Logger should not be nil.

However, for `3.4` it is still legal case for Logger to be nil. But the PR (https://github.com/etcd-io/etcd/pull/12795) that was targeted to main was also backported to `3.4` and that is how the code without nil c

[2022-09-03 10:48] rtheis commented on #14402
We easily reproduce the problem by deploying an IBM Cloud Kubernetes Service or Red Hat OpenShift on IBM Cloud cluster.  However, you wouldn't be able to hack in your own etcd version to such clusters.  My hope is that you could recreate by deploying etcd with your own Kubernetes cluster.

[2022-09-04 21:50] ahrtr commented on #14370
In case anyone wants a simple summary on this issue, FYI.
https://github.com/ahrtr/etcd-issues/tree/master/issues/14370

[2022-09-05 05:41] JohnJAS commented on #14402
We installed an on-premise multiple control-plane nodes k8s cluster. I think it should be easy to reproduce by installing a k8s cluster via kubeadm.

[2022-09-05 06:11] ahrtr commented on #14402
Thanks both @rtheis and @JohnJAS

[2022-09-05 09:15] ruopuzi commented on #10607
I encountered the same issue, that needs a .count() on a prefix to limit the number under a path.

[2022-09-05 09:57] tbg commented on #14370
@ahrtr responding to https://github.com/etcd-io/etcd/issues/14370#issuecomment-1235091312 above.

----

#14413 fixes the problem at the level of `(*raft).advance`, which ensures that any implementation will get the right behavior. For example, CockroachDB implements uses `*raft.RawNode`, which wraps a `*raft`. #14411 fixes the problem for users of `*node` (which internally wraps a `*RawNode`), but

[2022-09-05 10:11] serathius commented on #14370
Hey @tbg, thanks for response. It's a good argument that both `Node` and `RawNode` are part of raft public interface.

Do I conclude correctly that your suggestion would be to prefer https://github.com/etcd-io/etcd/pull/14413 over https://github.com/etcd-io/etcd/pull/14411 ?

What would be your suggestion about picking a fix for backport? I think the discussion is to either:
* Use raft fix (e.g. h

[2022-09-05 10:24] tbg commented on #14370
Yes, I think #14413 with the `.Step` approach is the right fix. (And then of course work out all of the test failures, etc). There is a bit in #14411 that I don't understand, such as special casing of the empty entry, but I think if that is really necessary it will carry over as well.

I would merge solution 2 (#14400) immediately on all branches (`main`, `release-*`) since it's clearly correct, h

[2022-09-05 11:52] ahrtr commented on #14370
Thanks @tbg for the detailed feedback.

Do you mean that CockroachDB doesn't use the [node](https://github.com/etcd-io/etcd/blob/main/raft/node.go) at all?

It indeed has some impact on the direct users of `RawNode` if following https://github.com/etcd-io/etcd/pull/14411 .

Good.

I am not sure whether this is a valid point for now for this case because your PR isn't finished yet, so it isn't clea

[2022-09-05 12:21] serathius commented on #14370
Automatic close from Github automation. Will keep the issue open until we have fixed all branches and applied fix proposed by @tbg.

[2022-09-05 14:05] tbg commented on #14370
Thanks @ahrtr!

I'm not a raft maintainer any more as of recently and if I am an expert then not an infallible one. I still think there is something that I am not understanding. Looking at #14411, it strikes me as the exact same fix as #14413 except operating at `node` vs `*raft`, respectively. There are bits that I don't understand in #14411 - for example, why do we retain the `maybeUpdate` Call

[2022-09-05 19:40] lavacat commented on #14385
I think this falls into category of "Avoiding persistent storage writes" (part 11.7.3 of raft [paper](https://web.stanford.edu/~ouster/cgi-bin/papers/OngaroPhD.pdf)). Also see [discussion](https://groups.google.com/g/raft-dev/c/Ci9KE6mdiu4/) in raft-dev

My understanding is the following:
1. If you have stable storage. In case of majority/all of the nodes going down you loose only availability. Wh

[2022-09-05 19:50] #14382 closed

[2022-09-05 21:04] ahrtr commented on #14370
I intentionally did it. The main purpose is to keep the previous behavior for multi-node cluster, so as to minimize the impact on the raft package. Please also see [comment](https://github.com/ahrtr/etcd/blob/e60cb56ec88b325aa3f50ff450bd0e23ca76816f/raft/node.go#L513-L519). Please correct me if I am wrong.

I only updated the [appendEntry](https://github.com/etcd-io/etcd/pull/14411/files#diff-b9ad

[2022-09-05 21:23] BabisK opened #14426 "[Feature Request] Mockserver to handle leases"
I'm using the [client/v3/mock/mockserver/mockserver.go](https://github.com/etcd-io/etcd/blob/9c28e07588ffd906bd654b919e58512282c5985b/client/v3/mock/mockserver/mockserver.go) to UT my client application and leases are currently unsupported. It would be nice to have stub methods for the leases besides the KV.

I will make a PR for this.

[2022-09-06 01:50] ahrtr commented on #14370
Update: the issue is already resolved on `etcdserver` side for now in [main](https://github.com/etcd-io/etcd/pull/14400) branch, and cherry picked to [release-3.5](https://github.com/etcd-io/etcd/pull/14424) and [3.4](https://github.com/etcd-io/etcd/pull/14423); the [changelog](https://github.com/etcd-io/etcd/pull/14425) is also updated.

The fix will be included in 3.5.5 and 3.4.21.

@tbg is stil

[2022-09-06 04:59] ahrtr commented on #14402
Resolved by https://github.com/etcd-io/etcd/pull/14420

[2022-09-06 04:59] #14402 closed

[2022-09-06 06:40] tbg commented on #14370
Thanks for the context @ahrtr. I still think fixing this in `*raft` is the right move so that `RawNode` is also correct, thanks for your explanations. I will continue working on #14413.

I'm still not sure why the empty entry gets special treatment in your PR. The [comment](https://github.com/ahrtr/etcd/blob/e60cb56ec88b325aa3f50ff450bd0e23ca76816f/raft/node.go#L513-L519) reflects that we also [le

[2022-09-06 07:12] ahrtr commented on #14370
Three points:
1.Usually empty entries will only be generated in multi-node cluster. Since multi-node clusters do not have this issue, so I think it makes sense to keep the optimization (update the `pr.Match` immediately after appending it).
2. If you remove the optimization (mentioned above) so as to keep the behavior consistent for both empty and non-empty entry, then likely there are more subtle

[2022-09-06 08:36] sunnoy opened #14431 "etcd restart make panic: runtime error: slice bounds out of range"
### What happened?

etcd restart all time

[code]

### What did you expect to happen?

normal restart

### How can we reproduce it (as minimally and precisely as possible)?

I can not how to reproduce it

### Anything else we need to know?

_No response_

### Etcd version (please run commands below)

<details>

[code]

</details>

### Etcd configuration (command line flags or environment variables

[2022-09-06 08:38] serathius commented on #14431
[code]
Version v3.0.17 is over 5 years old and no longer supported. Please upgrade.

[2022-09-06 08:41] sunnoy commented on #14431
Is this a bug ？
Can an update fix this “bug“?

[2022-09-06 08:58] serathius commented on #14431
Yes, panics are not expected in code.

Yes, it should.

[2022-09-06 08:59] #14431 closed

[2022-09-06 17:53] jsong-oracle commented on #14417
We tested it on main (version 3.6.0-alpha.0) and 3.5.4 and have seen similar issue only on 3.5.4:

With version 3.5.4, we hit the same issue on node-1 which was the leader at that time:  we committed ab event with revision 765379, a few seconds later:
    2022-09-03_02:33:07.68995  committed
    2022-09-03_02:33:12.05798  latest revision: effective: 765378
again it failed to get the event with rev

[2022-09-06 20:19] jusunglee opened #14433 "Procfile.learner does not successfully add a member node to cluster created by Procfile"
### What happened?

On 3.5.0, local build. Wanting to simply locally test creating a cluster using Procfile and adding a member node using Procfile.learner.

After installing goreman:
[code]

Server can read and write keys:
[code]

However, the issue comes when I try to follow instructions (and run) Procfile.learner in order to add a new node. Step 1 says run the Procfile, which I did above. Step

[2022-09-07 07:23] serathius commented on #14417
@jsong-oracle Can you clarify if the issues exists only when you use MaxModRevision? Have you maybe been able to reproduce it by not setting MaxModRevision, or setting Revision?

Could you maybe provide more details about how to reproduce it? For example, script or code that we can run.

[2022-09-07 07:26] #14426 closed

[2022-09-07 08:03] serathius commented on #13980
@protosam are you still working on this?

[2022-09-07 08:14] ahrtr commented on #14417
I can't reproduce this issue with program against 3.5.4 below. Note that the clients always connects to a follower in a 3-node cluster, and can always get the latest revision immediately after putting a k/v. Please show me your code and the detailed steps on how to reproduce this issue.

[code]

[2022-09-07 08:24] ahrtr commented on #14433
Which guide did you follow? The [Procfile.learner#L9](https://github.com/etcd-io/etcd/blob/098354859c6b243c99c68557e636a47382db48b0/Procfile.learner#L9) tells you to start the learner using command `bin/etcd --name infra4 --listen-client-urls http://127.0.0.1:42379 ...` instead of `goreman -f Procfile.learner start`

[2022-09-07 08:54] ahrtr commented on #14379
@gpl Could you provide detailed steps so that others can try to reproduce it locally?

[2022-09-07 08:55] #14350 closed

[2022-09-07 08:56] #14267 closed

[2022-09-07 12:58] serathius commented on #14417
ok, I think I understand the issue. This is not correct way to use `maxModRevision`, please use `Revision` instead.
maxModRevision is used to filter out key value pairs based on their modRevision, if the key was modified after it will not be returned at all. So in your case, if hey was modified between 2.1 and 2.2 step by other client, it will not be returned.

This question is not correctly state

[2022-09-07 12:58] #14417 closed

[2022-09-07 12:58] serathius commented on #14417
Closing as this is intended behavior

[2022-09-07 13:55] jusunglee commented on #14433
hi @ahrtr , thanks for the swift reply. I should have clarified, I have also tried running the line you cited in Procfile.learner, instead of using goreman. It still yields the same result

[code]

[2022-09-07 14:04] serathius commented on #14138
With fix for https://github.com/etcd-io/etcd/issues/14370 merged in release-3.5 let's resume work on this.

[2022-09-07 14:18] jsong-oracle commented on #14417
Agreed. There is a problem to use MaxModReivision here. I don't think the it's needed in step 2.2. In fact, I tested with MaxModReivision = 0. it was able to get the last event since no filter was applied.

However, in step 2.1, it failed to get the latest revision, is it still an issue or somewhat performance related?

In the real code, there were two range requests in step 2.2: the first one was

[2022-09-07 14:24] serathius commented on #14417
`MaxModReivision = 0` is equivalent to request without option.
Please stop using MaxModReivision

[2022-09-07 14:30] serathius commented on #14039
Implemented

[2022-09-07 14:49] dims commented on #14138
@ahrtr @serathius any chance of https://github.com/etcd-io/etcd/issues/14001 for 3.5.5?

[2022-09-07 14:53] serathius commented on #14138
Sure

[2022-09-07 15:23] serathius commented on #14001
Due to lack of testing we dropped official support for ARM64. https://etcd.io/docs/v3.6/op-guide/supported-platform/

I can send a PR that would backport https://github.com/etcd-io/etcd/pull/13545 to release-3.5, however want to make sure we are consistent with other platforms. Technically we still build and publish images for windows-amd64 and darvin-amd64, so it's not unusual.

What's your opini

[2022-09-07 16:10] jusunglee commented on #14433
This was solved by running

```rm -rf *.etcd```

in your `etcd` directory.

[2022-09-07 16:10] #14433 closed

[2022-09-07 18:52] lavacat commented on #13782
@serathius I think we should make this flag optional (remove `experimental`)
As a feature it looks safe to me.

The only concern is if people actually use this. I've tried searching kube docs and it's not mentioned. Also, no interesting results in GitHub [search](https://github.com/search?p=1&q=experimental-bootstrap-defrag-threshold-megabytes&type=Code)

Do you have an opinion about this flag?

[2022-09-07 18:54] spzala commented on #14001
@serathius thanks, sounds good to backport and continue support as tier 3.

[2022-09-07 22:32] ahrtr commented on #14001
Agreed, it's OK to support it as tier 3, since it's clearly requested by some people. cc @dims

[2022-09-07 22:41] dims commented on #14001
thanks @serathius @spzala @ahrtr

[2022-09-07 22:41] #14332 closed

[2022-09-08 01:35] protosam commented on #13980
Unassigned myself because I don't know if I'll be able to dedicate time to this until December.

My prior diagram show a process of building in emulators and then doing testing. This was very slow. It is better to compile using GOOS and GOARCH natively. Then take the precompile binaries to be tested on the desired platform.

For cross platform testing, I was looking at [this](https://github.com/ur

[2022-09-08 01:53] ahrtr commented on #14417
Agreed. Note that `Revision` vs `MaxModRevison` isn't the point.

It would be helpful if you can reproduce this issue with simplified code & steps.

[2022-09-08 06:40] ahrtr commented on #14071
If a follower doesn't receive any message from the leader in [randomizedElectionTimeout](https://github.com/etcd-io/etcd/blob/1d95b82b190374f155a87cb222aa3a45f4673514/raft/raft.go#L303), then it may kick off a new election process.

It looks like just a performance issue to me. Suggested action:
1. Investigate the metrics provided by etcd to figure out the performance bottleneck;
2. Tune the elect

[2022-09-08 06:40] #14071 closed

[2022-09-08 06:50] serathius commented on #13782
I think the feature is simple enough that we could consider it for graduation, but I think we should double check if non-functional requirements for graduation has been met (has e2e tests). Maintainers just started work on formalizing feature stages and their requirements. Please take a look https://github.com/etcd-io/etcd/pull/14428

After we have formalized requirements for feature I will update

[2022-09-08 06:55] ahrtr opened #14438 "Plans for v3.4.21 release"
The list below may change per the discussion in the community.

## Issues/PRs that should be included in 3.4.21
* [X] https://github.com/etcd-io/etcd/issues/14402
  * [X] https://github.com/etcd-io/etcd/pull/14420
* [X] https://github.com/etcd-io/etcd/issues/14370
  * [X] https://github.com/etcd-io/etcd/pull/14423
* [X] https://github.com/etcd-io/etcd/issues/14355
  * [X] https://github.com/etcd-i

[2022-09-08 08:07] #14412 closed

[2022-09-08 08:07] #14403 closed

[2022-09-08 08:26] ahrtr commented on #14019
@cjbottaro any update on this? Have you enabled auth in the cluster?

[2022-09-08 08:50] ahrtr commented on #14009
brandond@dev01:~/etcd-split-brain$ etcd-dump-db iterate-bucket etcd-1 members
key="3e8594789d62d712", value="{\"id\":4505170248011536146,\"peerURLs\":[\"https://172.31.17.205:2380\"],\"isLearner\":true}"
key="3c0e71035ef2e3ca", value="{\"id\":4327520551241442250,\"peerURLs\":[\"https://172.31.30.121:2380\"],\"name\":\"ip-172-31-30-121-53c44a92\"}"

brandond@dev01:~/etcd-split-brain$ etcd-dump-db i

[2022-09-08 08:53] ahrtr commented on #13990
We have already bumpped the otel to 1.0.1 in https://github.com/etcd-io/etcd/pull/14312. @baryluk Could you please double check whether you can still see this issue? thx

[2022-09-08 10:27] brandond commented on #14009
I really wish I knew how to reproduce it using just etcd and a bare etcd3 client or the benchmark tool. At the moment I can only reproduce it when I have a Kubernetes cluster pointed at etcd, and use the `--force-new-cluster` option to reset the cluster membership back to a single node. It seems to leave old membership information in the kv store?

[2022-09-08 15:29] cjbottaro commented on #14019
Ahh, I stopped using Etcd for locks and went back to using single node Redis for now. Will come back to Etcd if the need for HA ever arises though.

[2022-09-09 02:02] vivekpatani commented on #14355
@ahrtr @serathius should we close this now?

[2022-09-09 02:07] ahrtr commented on #14355
Thanks @vivekpatani

Resolved in 3.4/3.5/main.

[2022-09-09 02:07] #14355 closed

[2022-09-09 05:32] theVJagrawal commented on #14396
Can i work on this one?

[2022-09-09 07:55] SingleThread opened #14444 "etcd has no mechanism to prevent brute force cracking"
etcd does not limit the number of connections with incorrect passwords, which may lead to the cracking of the administrator password, which poses a certain security risk.

[2022-09-09 08:01] serathius commented on #14396
Sure, Makefile definetly needs more love.

[2022-09-09 08:11] rensx5514 commented on #14396
wuwuwuwu, I also want to work on this one.

[2022-09-09 09:24] serathius commented on #14138
Looks like we are ready to release v3.5.5? @ahrtr @spzala @ptabor is there anything I missed?

[2022-09-09 10:30] tjungblu commented on #12494
I've added etcd to the golang port of YCSB here: https://github.com/pingcap/go-ycsb/pull/247

[2022-09-09 11:13] mitake commented on #14444
You can create a user with no password based authentication with `etcdctl user add <user name> --no-password`. Such a user only allows CN based authnz. If you really want to avoid the brute force risk, I think it works for the purpose.

[2022-09-10 02:43] geotransformer opened #14446 "ETCD DB increased when leader etcd pods being killed"
ETCD  3.4.13, K8S 1.21

The test was to delete leader etcd pods once per minute. The test lasted about an hour, and the etcd leaders moved around successfully.

However, the DB size increased from 24 MB to 86 MB
Is this expected behavior?

[2022-09-11 04:38] ahrtr commented on #14138
The only concern is that we need more test this time, because there is a [new feature](https://github.com/etcd-io/etcd/issues/14039) .  I suggest to run some sanity test against K8s 1.23/24.

In the meanwhile, I will try to qualify the existing functional test, so that we can also qualify 3.5.6 using the functional test next time.

[2022-09-11 13:43] gcool-info opened #14447 "Unable to use public discovery service"
### What happened?

- Bootstrapping a 3-node `etcd` cluster with [public discovery service](https://etcd.io/docs/v3.5/dev-internal/discovery_protocol/#public-discovery-service).
- Each node is a separate service in a common `docker-compose` file
- Getting the following error:
[code]

### What did you expect to happen?

Cluster to bootstrap successfully

### How can we reproduce it (as minimally an

[2022-09-11 22:30] ahrtr commented on #14447
Points:
1. It isn't recommended to use v2discovery in production environment, and it's going to be replaced by [v3discovery](https://github.com/etcd-io/website/pull/583).
2. I just implemented a [simple demo](https://github.com/ahrtr/etcd-issues/blob/master/etcd/v2discovery/main.go), and confirmed that v2discovery is working well. Again, it isn't recommended to be used in production environment.
3

[2022-09-11 22:50] CatherineF-dev opened #14448 "Stability level for etcd metrics"
### What happened?

ETCD has some very useful metrics https://etcd.io/docs/v3.4/metrics/. But they don't have stability level.

If some etcd metrics are marked as stable, down-stream can leverage these metrics with less risks of deprecation.

### What did you expect to happen?

Introduce stability level for etcd metrics. Experimental/Stable

### How can we reproduce it (as minimally and precisely

[2022-09-11 22:51] CatherineF-dev commented on #14448
/label area/feature

[2022-09-12 05:33] ahrtr commented on #14448
Only the metrics under the etcd_debugging prefix are not stable. FYI. https://etcd.io/docs/v3.5/metrics/#etcd_debugging-namespace-metrics

All other metrics are stable.

[2022-09-12 05:33] ahrtr commented on #14448
Please let me know if you still have any concern.

[2022-09-12 07:24] gcool-info commented on #14447
Great, thanks! Two quick follow-up questions:
- Will `v3discovery` be recommended for use in a production environment?
- Out of curiosity, why isn't `v2discovery` recommended? Is there anywhere I can read up on this?

[2022-09-12 07:44] ahrtr commented on #14446
would you mind reproduce this using 3.5.4 or binaries built from `main`, and provide the `db` file?

[2022-09-12 12:00] CatherineF-dev commented on #14448
Thanks! Could we document other metrics as stable in etcd public doc https://etcd.io/docs/v3.5/metrics?

[2022-09-12 12:33] serathius commented on #14448
Please file an issue to https://github.com/etcd-io/website

[2022-09-12 12:33] #14448 closed

[2022-09-12 17:49] vivekpatani opened #14449 "Go vulnerability check integration"
### What happened?

Here's the go blog introduction post about Go Vulnerability Management tool - https://go.dev/blog/vuln

Is this something etcd should integrate?

### What did you expect to happen?

N/A

### How can we reproduce it (as minimally and precisely as possible)?

N/A

### Anything else we need to know?

_No response_

### Etcd version (please run commands below)

<details>

[code]

<

[2022-09-12 20:26] ahrtr commented on #14447
I would say yes, but since it's a new feature in 3.6, so it might be buggy. Could you share the use case how will you use the v3discovery? Are you going to use a centralized etcd cluster as a discovery service, so as to bootstrap & manage all other etcd clusters?

v2discovery is based on V2 API, which has already been deprecated for years. V2 server  has already been removed in the code base, V2 c

[2022-09-12 20:45] ahrtr commented on #14449
Thanks @vivekpatani

It seems that the `govulncheck` requires golang version >= 1.18.

The scan result looks good! cc @spzala @ptabor

[code]

[2022-09-12 21:14] geetasg opened #14450 "grpc overhead estimate seems high"
### What happened?

etcd 3.5 has following two variables

DefaultMaxRequestBytes       = 1.5 * 1024 * 1024
https://github.com/etcd-io/etcd/blob/a3b410cac74d6b0082ad3e40ba384b8650a809e4/server/embed/config.go#L62

and

defaultMaxCallSendMsgSize = grpc.MaxCallSendMsgSize(2 * 1024 * 1024)
https://github.com/etcd-io/etcd/blob/e2d67f2e3bfa6f72178e26557bb22cc1482c418c/client/v3/options.go#L34

The comme

[2022-09-12 21:27] ahrtr commented on #14449
Above is the result against release-3.5, and below result is for `main` branch.
[code]

[2022-09-13 07:03] ahrtr commented on #14438
All the PRs are minor changes, so I am planning to release 3.4.21 sometime this week. Please let me know if anyone has any concern or comment.

[2022-09-13 10:17] xzycn opened #14456 "Failed to restore etcd from a snapshot due to resolving peer URL failure"
I have done some procedures for this:
1. copy a snapshot file to someplace named etcd-snapshot.db
2. scale the statefulset to 0
3. start a static pod with etcdctl  and mount the pvc used by etcd members
4. execute the restore command:
[code]
but the command has a problem: the pods have been shut down,therefore there is no pod-domain exists,get errors:
[code]
If I restore without extra options:
[co

[2022-09-13 12:09] kvaikla commented on #14329
Hi
I have a similar issue (patroni and etcd), after migrating data to 3.5
[https://github.com/etcd-io/etcd/issues/14130](url)

br
Kaido

[2022-09-13 18:12] vivekpatani commented on #14449
@ahrtr @ptabor @serathius so is the goal:
1. To make this part of the build pipeline?
2. If step 1 is implemented, we should fail to see if any are affected depending on severity?
3. Should this be backported to 3.4/3.5 too?

Thanks for the output @ahrtr, gives us a decent picture.

[2022-09-13 21:23] ahrtr commented on #14449
@vivekpatani  Just as I mentioned above, pasted here again `It seems that the govulncheck requires golang version >= 1.18.`.  So points:
1. It's a good idea to make the `vulnerability check` as part of the pipeline, but we can't do it until we upgrade the go version to 1.18 at least.
2. This definitely can't be backported to 3.5/3.4 due to the golang version mentioned above.

[2022-09-13 22:34] vivekpatani commented on #14449
@ahrtr yep, so should we spend time upgrading `main` to 1.18? The compatibility will be difficult to do so for `3.5`.

[2022-09-14 00:12] ahrtr commented on #14449
Actually I am thinking probably we should upgrade to golang 1.19 directly on the `main` branch. Kubernetes already upgraded to [1.19](https://github.com/kubernetes/kubernetes/blob/ea4c28c7f86372b82aa8a8a15c9cbdf07098c49a/go.mod#L9).

What do you think? @serathius @spzala @ptabor

[2022-09-14 08:54] ahrtr commented on #14329
I kept a 3-member etcd (3.5.4) cluster running for over 1 hour, and the db size is always 25KB. I also kept a 3-member etcd cluster (3.5.4) running as the K8s cluster (1.23.4) backend for over 1 hour, the db size is always 5.2MB. But there is no any traffic.

Do you mean you did not see the db increasing on 3.5.0?

I see that there is a steep decreasing of the db size in the diagram, did you perfo

[2022-09-14 08:56] ahrtr commented on #14130
FYI. https://github.com/etcd-io/etcd/issues/14329#issuecomment-1246451584

[2022-09-14 08:57] bensch98 opened #14462 "Warning DNSConfigForming kubelet Nameserver limits were exceeded, some nameservers have been omitted, the applied nameserver line is:"
### What happened?

When I restore my Kubernetes cluster from an etcd backup, everything works fine except CoreDNS has now warnings. CoreDNS is somehow still running, but does not change in Ready state:

[code]

I have only one master node which I use to test and understand etcdctl's functionalities.

### What did you expect to happen?

I expect CoreDNS to behave the same as of the time of the bac

[2022-09-14 13:39] luomengY opened #14467 "How does etcd query the value of configuration parameters? For example, how to query the "auto-compaction-retention" value of the currently running etcd."
### What happened?

How does etcd query the value of configuration parameters? For example, how to query the "auto-compaction-retention" value of the currently running etcd.

### What did you expect to happen?

How does etcd query the value of configuration parameters? For example, how to query the "auto-compaction-retention" value of the currently running etcd.

### How can we reproduce it (as mi

[2022-09-14 18:52] serathius commented on #14467
Duplicate of https://github.com/etcd-io/etcd/discussions/14466

[2022-09-14 18:52] #14467 closed

[2022-09-14 21:17] ahrtr commented on #14447
Thanks for the feedback.

`DNS discovery` depends the dns service to return all other peers' URLs, so you need to make sure the dns service is correctly configured to translate `_etcd-server-ssl._tcp.example.com` or `_etcd-server._tcp.example.com` into correct SRV records.

`v3discovery` depends on a dedicate etcd cluster as a discovery service. Obviously the cons is that you need to deploy a sepa

[2022-09-14 23:03] george-angel commented on #14329
Hey @ahrtr - thanks for replying, let me fill out some details.

Correct, the change in behaviour appeared after 3.5.0 -> 3.5.4 upgrade.

We are seeing the same behaviour, here is a Kubernetes cluster with the same configuration but much smaller (less controllers, less Nodes and Pods)

![2022-09-15-085758_2560x912_scrot](https://user-images.githubusercontent.com/1801067/190277509-405292fc-da94-421

[2022-09-14 23:05] ahrtr commented on #14438
Verified that it's working with K8s 1.21. Will release 3.4.21 today or tomorrow.  Again, please let me know if anyone have any concern or comment.

[2022-09-14 23:27] ahrtr commented on #14138
I am thinking probably we should use Kubernetes's pipeline to verify etcd as well before releasing each version.

[2022-09-15 00:17] ahrtr commented on #14329
The boltDB file can only be opened by one program. So you need to stop the etcd instance/POD when running the `etcd-dumo-db` tool

[2022-09-15 00:33] mzaian commented on #14438
Hello, any plans to release 3.5.x? Specially because https://github.com/etcd-io/etcd/pull/14400

[2022-09-15 00:41] ahrtr commented on #14438
The release plan for 3.5.5 is tracked in https://github.com/etcd-io/etcd/issues/14138.

[2022-09-15 01:06] nic-chen commented on #13757
Looks like no progress on this issue.

I would like to work on it.

[2022-09-15 01:25] #14438 closed

[2022-09-15 02:43] george-angel commented on #14329
Thanks @ahrtr

There is a lot of data, I don't know what to look for:

[code]

There are lot of things I would expect to be there, Events, Services, etc.

[2022-09-15 02:55] ahrtr commented on #14329
The proposed test steps:
1. Perform a compaction & defragment operation in the beginning to reclaim the disk space as much as we can;
2. Get the max  revision by running command `etcdctl --endpoints=:2379 endpoint status --write-out="json" | egrep -o '"revision":[0-9]*' | egrep -o '[0-9].*'`, and note down the number (assuming x);
3. Play the traffic (run the test) for a couple of minutes;
4. Run

[2022-09-15 04:45] george-angel commented on #14329
Thank you @ahrtr

I did a defrag, noted the revision number, let it run for 6 minutes, noted revision again and then dumped the db. I then checked keys that had revision between x and y. I am grouping them by the path to remove specific keys.

[code]

[code]

[2022-09-15 05:15] ahrtr commented on #14329
Thanks @george-angel for the feedback.

This is a big step, because we have already figured out what data is consuming the disk space.

The next step is to double confirm whether it's expected. If it's not expected, why there are so many objects. You might need to figure this out from K8s perspective. Proposed action is to do the same test proposed in https://github.com/etcd-io/etcd/issues/14329#i

[2022-09-15 07:00] serathius commented on #14138
I worked with SIG Scalability to test v3.4.21 on 5k kubernetes cluster. Will do the same for v3.5.5. before the release.

[2022-09-15 07:04] ahrtr commented on #14138
Is it possible to make this as a regular process? It isn't necessary to be the Scalability test, normal Kubernetes pipeline might be OK usually.

[2022-09-15 07:11] serathius commented on #14138
I maintain etcd version in Kubernetes so I test all the releases. Kubernetes runs 100 node tests on all changes and 5k nodes once a week (I think). Running 5k is not a problem.

[2022-09-15 12:25] #14001 closed

[2022-09-15 18:29] gcool-info commented on #14447
Great, thanks for all the help! Closing this issue

[2022-09-15 18:29] #14447 closed

[2022-09-15 18:37] dims commented on #14001
thanks a ton @serathius !

[2022-09-15 21:22] ahrtr commented on #14456
Thanks @xzycn for raising this ticket. It looks like an issue to me.

The error is coming from [VerifyBootstrap](https://github.com/etcd-io/etcd/blob/2fa73023a0dc65e8f6bf5e032df15bba6f8cddca/etcdutl/snapshot/v3_snapshot.go#L226). Specifically, it's coming from [netutil.URLStringsEqual](https://github.com/etcd-io/etcd/blob/2fa73023a0dc65e8f6bf5e032df15bba6f8cddca/server/config/config.go#L261). When

[2022-09-15 22:27] ahrtr commented on #14462
It seems that there is something wrong with the CNI, and not related to etcd. I suggest you to raise a question in the [kubeadm](https://github.com/kubernetes/kubeadm) community

[2022-09-15 22:28] ahrtr commented on #14450
@geetasg Do you see any real issue in production or your development environment?

[2022-09-15 22:30] ahrtr commented on #14446
FYI. https://github.com/etcd-io/etcd/issues/14329

[2022-09-16 01:37] ahrtr opened #14477 "[Test] TestMaintenanceSnapshotCancel failed"
### Which github workflows are flaking?

test (linux-amd64-grpcproxy-integration)

### Which tests are flaking?

TestMaintenanceSnapshotCancel

### Github Action link

https://github.com/etcd-io/etcd/actions/runs/3064755697/jobs/4948171914

### Reason for failure (if possible)

[code]

### Anything else we need to know?

_No response_

[2022-09-16 05:00] george-angel commented on #14329
It looks very similar:

[code]

@ahrtr we have done more digging and looked at other environments and concluded this is indeed not a ETCD behaviour. Zooming out, we think we can correlate our spikes with Kyverno deployment / updates.

Thanks a lot for your help, we are going to pursue this further, but its outside of the scope of this issue. Thanks again for your help debugging.

[2022-09-16 05:47] ahrtr commented on #14329
Did you only replace etcd 3.5.4 with 3.5.0, and kept all others unchanged? Previously you mentioned` the change in behaviour appeared after 3.5.0 -> 3.5.4 upgrade.`, I guess that other components/services might also upgraded at that time.

[2022-09-16 07:29] george-angel commented on #14329
No, in *that* environment the correlation is *only* with ETCD update, but in other environments its not necessarily as pronounced.

Here we deployed ETCD v3.5.4 on August 16th:

![2022-09-16-172641_2560x912_scrot](https://user-images.githubusercontent.com/1801067/190581411-d7a8c4d0-ecff-4f92-ac20-30df76057472.png)

So I'm not certain why that environment is showing such a strong correlation (deplo

[2022-09-16 07:50] ahrtr commented on #14329
Some points/suggestions:
1. We have already confirmed that etcd 3.5.4's db size will not increase if there is no traffic, no matter it's the back-end of apiserver. So the increasing of db dize must be caused by client side traffic.
2. When exactly did you enable the daily `defrag` "cronjob" in both environment? It looks like the job was enabled at about Aug 24th in the first diagram, while it's ab

[2022-09-16 08:17] george-angel commented on #14329
Sure,

First diagram is our **dev-aws** environment, ETCD v3.5.4 was deployed `Tue Aug 16 19:34:36 2022 +1000` and the daily defrag was deployed: `Wed Aug 24 17:09:03 2022 +1000`

Second diagram is **prod-aws**, ETCD v3.5.4 was deployed: `Thu Aug 18 19:01:30 2022 +1000` and daily defrag: `Wed Sep 7 09:15:43 2022 +0100`

The SystemD timer is "daily": https://github.com/utilitywarehouse/tf_kube_igni

[2022-09-16 08:25] ahrtr commented on #14329
The timing of deploying the `defrag` daily job makes sense. It explains why you see the huge db increasing in the second diagram.
1. The disk space wasn't reclaimed at all before deploying the defrag daily job at Sep 7, so you saw the continuous db size increase;
2. The different amplitude between two environments might be due to different traffic rate.

[2022-09-16 08:28] ahrtr commented on #14329
It seems we are all good now?

[2022-09-16 08:29] george-angel commented on #14329
:D For me - yes, we'll take our issue elsewhere, I can't speak for others

[2022-09-16 08:30] ahrtr commented on #14329
@mencutekin I believe the K8s and probably some other services were also upgraded when you upgraded the etcd to 3.5.2? Please note that 3.5.2 isn't recommended for production use any more.  FYI. [data inconsistency issue](https://github.com/ahrtr/etcd-issues/tree/master/issues/13766)

[2022-09-16 08:33] ahrtr commented on #14329
@mencutekin Please follow the discussion above to do similar analysis. I am closing this ticket. Please feel free to reopen or raise new issue if you still have any concern.

[2022-09-16 08:33] #14329 closed

[2022-09-16 10:23] ahrtr commented on #14164
Please consider to resolve https://github.com/etcd-io/etcd/pull/14479#issuecomment-1249195534

[2022-09-16 12:03] dims commented on #13980
cc @dims

[2022-09-16 12:49] pchan commented on #14456
Why do we need to bypass during restore ? Is there any specific reason why the URL resolution will fail in this case ?

I would like to work on this. To replicate this, will etcd commands [1] alone should be enough or should there be other circumstances that causes the url resolution to fail ?

[1] https://etcd.io/docs/v3.5/op-guide/recovery/

[2022-09-16 22:12] ahrtr commented on #14456
Because the etcd POD isn't running when restoring from the snapshot, so the URL something like `apisix-etcd-0.apisix-etcd-headless.apisix.svc.cluster.local` can't be resolved. Please refer to the reporter's description above.

Please feel free to deliver a  PR. Please follow https://github.com/etcd-io/etcd/issues/14456#issuecomment-1248645358 to reproduce and fix this issue. I think command alone

[2022-09-17 03:37] nic-chen commented on #13757
I read the relevant code and found that `Config.Name` only has an actual role when the member is started for the first time -- used to determine whether it is local or remote: https://github.com/etcd-io/etcd/blob/main/server/etcdserver/cluster_util.go#L129

At other times, it is just an identifier without any constraints. Even the same member can be started with a different name each time

So I am

[2022-09-17 07:58] xzycn commented on #14456
@ahrtr This command comes from the helm chart https://github.com/apache/apisix-helm-chart/tree/master/charts/apisix/charts,**etcd** is the subchart of chart called **apisix**.

[2022-09-18 01:48] fuweid opened #14487 "[Test] TestLeasingReconnectNonOwnerGet timeout"
### Which github workflows are flaking?

test (linux-amd64-integration-4-cpu)

### Which tests are flaking?

TestLeasingReconnectNonOwnerGet

### Github Action link

https://github.com/etcd-io/etcd/actions/runs/3071777532/jobs/4963526956

### Reason for failure (if possible)

[code]

### Anything else we need to know?

_No response_

[2022-09-18 20:52] lknite commented on #10722
@WIZARD-CXY working with a downed cluster, wonder if you might be willing to add a little more detail so that I might (and anyone else running into this might) get things back up and running and can look into a deeper learning of these underlying parts when the pressure is off?

[2022-09-18 21:03] lknite commented on #10722
@WIZARD-CXY might you be willing to give some additional direction to complete the steps of removing and reading the etc member?  Working with a down cluster situation and it would be nice for myself, and anyone else who comes across this posting to get back up and running.  Then when the pressure is off to take more of a deep dive into etcd.  In my case I do have 3 control plane nodes so it seems

[2022-09-19 12:18] hasethuraman commented on #14456
My below comment is wrt 3.5.*

I did hit the issue. Adding a work around for time being without touching the chart.

Assume you have snapshot and etcd cluster is down.

Steps:
1.
Bring up the etcd cluster (etcd1, etcd2, etcd3). lets say the data dir is at /tmp/etcd1/data, /tmp/etcd2/data, /tmp/etcd3/data respectively.
2.
Run the restore command to a new data-directory (--data-dir /tmp/etcd{1,2,3}/

[2022-09-19 14:33] #12385 closed

[2022-09-19 15:29] xzycn commented on #14456
@hasethuraman
In your steps,the restore command only with one option “--data-dir”？If so,each member will start as single-node?If not,using a option(e.g. initial-cluster ) with a domain will cause the problem as title describled.

[2022-09-19 18:10] socketpair opened #14490 "TXN order of requests inside SUCCESS part matters => BUG"
### What happened?

etcd answers with unexpected ResponseHeader revision values inside TXN response for DeleteRange part

### What did you expect to happen?

I expect all revisions in all three places equal (see attached JSON in reproduction section):

If it is expected behavior, PLEASE describe (document) what all the places mean. https://etcd.io/docs/v3.3/learning/api/ does not say anything abou

[2022-09-19 18:13] socketpair commented on #14490
Especially, I can't understand what  `"revision": 6` means if I never put data at the prefix I delete from.

[2022-09-19 18:20] socketpair commented on #14490
Reordering requests in TXN (i.e. `put`, and then `del`) makes all revision equal. Since order of request in single TXN section was never deocumented as important, I consider it a bug.

[2022-09-20 05:12] hasethuraman commented on #14456
Correct. The restore command arguments I tried is same as in https://etcd.io/docs/v3.3/op-guide/recovery/#restoring-a-cluster

[2022-09-20 19:51] gpl commented on #14379
I was able to fix it after poking around in bbolt for a while; although it seems that restoring from snapshots also worked.

This seems to be either the exact issue or closely related: https://github.com/etcd-io/etcd/issues/14382

[2022-09-20 21:02] wjentner opened #14497 "failed to find [SNAPSHOT-INDEX].snap.db (ALARM NOSPACE + kubeadm liveness probe for etcd -> crashloop?)"
### What happened?

Our etcd is deployed on separate nodes (VMs) and provisioned by kubeadm.

At some point we ran into the ALARM NO SPACE failure since our DB SIZE reached 2.2 GB.
Kubeadm starts the etcd pods with a liveness probe to `/health`. When the alarm occurs, the health status is != 200 and the etcd pod goes into CrashLoopBackoff. I guess within that crash loop etcd failed completely so t

[2022-09-20 21:53] ahrtr commented on #14379
Did you see similar error log and panic below (copied from 14382)? I suggest you to provide detailed reproduce step so that we can double confirm.
[code]

[2022-09-21 00:54] vivekpatani opened #14498 "[release-3.5] unit test failure on m1 macs"
### What happened?

[code]

### What did you expect to happen?

I expected the unit tests to pass

### How can we reproduce it (as minimally and precisely as possible)?

[code]

### Anything else we need to know?

_No response_

### Etcd version (please run commands below)

<details>

[code]

</details>

### Etcd configuration (command line flags or environment variables)

<details>

# paste your

[2022-09-21 02:14] dims opened #14499 "etcd depends on two different versions of the same package - `grpc-gateway`"
If you see the bill-of-materials.json, you will see both `"github.com/grpc-ecosystem/grpc-gateway/v2"` and `"github.com/grpc-ecosystem/grpc-gateway"`
https://github.com/etcd-io/etcd/blob/main/bill-of-materials.json#L264-L280

Can we please switch to `/v2` version as this is needed by the new otel libraries?
[code]

The older one is references here:
[code]

Would kindly request this to be cherry-pi

[2022-09-21 02:17] dims commented on #14499
cc @ahrtr

[2022-09-21 02:59] ahrtr commented on #14499
Thanks @dims for raising this issue.

etcd is directly using grpc-gateway v1.16.0, but indirectly depends on grpc-gateway 2.7.0.  It's exactly the same as [Kubernetes](https://github.com/kubernetes/kubernetes/blob/de693b5e2d165081ef52dda83cd3aa3398f263b0/go.mod#L185-L186). Have you upgraded or are you planning to upgrade to grpc-gateway `/v2` for Kubernetes?

Anyway, let me check take care of this

[2022-09-21 03:01] ahrtr commented on #14499
It seems that Kubernetes just indirectly depends on grpc-gateway, including both 1.16.0 and 2.7.0.

[2022-09-21 03:04] ahrtr commented on #14499
Note: The grpc-gateway v1 is in maintenance mode, so we should migrate to v2. FYI. https://grpc-ecosystem.github.io/grpc-gateway/docs/development/grpc-gateway_v2_migration_guide/

[2022-09-21 05:05] socketpair commented on #11372
Bump

[2022-09-21 07:21] drtechco commented on #10722
https://gist.github.com/drtechco/3773a8e0e7a692fabe8cefd3ca102180

[2022-09-21 07:56] ahrtr commented on #14499
I am working on https://github.com/etcd-io/etcd/pull/14463 right now. Please feel free to work on this one if you have extra bandwidth. cc @serathius @spzala @ptabor

If nobody work on this when I finish https://github.com/etcd-io/etcd/pull/14463, then I will work on this by then.

[2022-09-21 08:35] drtechco commented on #7011
https://gist.github.com/drtechco/3773a8e0e7a692fabe8cefd3ca102180

[2022-09-21 09:03] serathius commented on #14497
'/health' endpoint should not be used for liveness probe, or at least ignore alarms.

[2022-09-21 09:04] #14497 closed

[2022-09-21 09:07] serathius commented on #14498
Closing per https://github.com/etcd-io/etcd/blob/main/CONTRIBUTING.md#setup-development-environment
If you want help etcd support m1 mac environment, please [file a separate issue](https://github.com/etcd-io/etcd/issues/new/choose) with proposal where we can discuss what needs to be done.

[2022-09-21 09:07] #14498 closed

[2022-09-21 09:10] serathius commented on #13167
Status: 28% flakiness
https://github.com/etcd-io/etcd/actions/runs/3075242479/jobs/4968492878

[2022-09-21 09:12] serathius commented on #13455
Closing per https://github.com/etcd-io/etcd/pull/14111

[2022-09-21 09:12] #13455 closed

[2022-09-21 09:13] serathius commented on #14098
Closing per https://github.com/etcd-io/etcd/issues/14098#issuecomment-1162113633

[2022-09-21 09:13] #14098 closed

[2022-09-21 10:43] pchan commented on #14456
I am having trouble replicating the problem. I created 2 etcd clusters (static configuration), similar to @xzycn commandline. When I restore it seems to work fine without creating the problem log message. Note that I used etcd version 3.5.5 and etcdutl (rather than etcdctl which is deprecated). I have given the command-line below. It could be because I am using IP addresses rather than hostnames.

[2022-09-21 13:29] ahrtr commented on #14490
Thanks @socketpair raising this discussion. It's expected behavior based on [current implementation](https://github.com/etcd-io/etcd/blob/026794495f66edfc72b4d8c55b6f6b9d23f2064b/server/storage/mvcc/kvstore_txn.go#L161). Both deletion and range operations may have smaller revision based on their position in the list.

For a TXN, the client application should only check the revision in the top leve

[2022-09-21 13:54] dims commented on #14499
yep, that's what i am trying to fix ultimately :)

[2022-09-21 15:24] tjungblu opened #14501 "Improve slow follower reliability/performance"
### What would you like to be added?

I was debugging a couple test failures today in our CI environment, we're running three node v3.5.3 on a cloud with a V in it.
Looking at the metrics I saw one follower being consistently very slow (high fsync latency), now theoretically this shouldn't impact any writes as we still have the leader and another fast follower to persist the messages safely.

![im

[2022-09-21 15:50] socketpair commented on #14490
Yes, it does. I triggered assertion failure in a library. Please fix documentation about applications, that they should not check corresponding revision in txn responses.

And even better, remove these fields from txn response if no one should consider them.

[2022-09-21 18:51] joycebrum opened #14502 "Enable the OpenSSF Scorecard Github Action"
### What would you like to be added?

Hi I am Joyce and I'm working on behalf of Google and the [Open Source Security Foundation][ossf] to help essential open-source projects improve their supply-chain security. Given the etcd relevance in the open-source area we want to offer our support to improve the project's security posture.

I would like to propose the adoption of the OpenSSF's [Scorecard G

[2022-09-21 19:57] wjentner commented on #14497
Done.
There might be other tools though, other than kubeadm, running into the same problem as the `/health` endpoint is typically being used for liveness probes and they function based on the HTTP response code.

[2022-09-21 22:37] ahrtr commented on #14490
We have two choice:
1. Keep it as it's, and only update the doc to mention that for responses corresponding to range and deletion operations may have a smaller revision based on their position in the transaction operation list;
2. Fix it to make sure all [responses in a TxnResponse](https://github.com/etcd-io/etcd/blob/026794495f66edfc72b4d8c55b6f6b9d23f2064b/api/etcdserverpb/rpc.pb.go#L1375) have

[2022-09-22 00:43] #14370 closed

[2022-09-22 03:51] socketpair commented on #14490
I would suggest changing protocol of response if it does not affect old versions of libraries

[2022-09-22 07:14] ahrtr commented on #14382
In case anyone is interested, this is the workaround solution https://github.com/ahrtr/etcd-issues/blob/d134cb8d07425bf3bf530e6bb509c6e6bc6e7c67/etcd/etcd-db-editor/main.go#L16-L28

[2022-09-22 07:38] ahrtr commented on #14370
Update:
-  This issue is resolved by https://github.com/etcd-io/etcd/pull/14413 on `raft` side on `main (3.6)`. Previous solution https://github.com/etcd-io/etcd/pull/14400 on main is reverted
- Resolved by https://github.com/etcd-io/etcd/pull/14424 on `etcdserver` side on `release-3.5`
- Resolved by https://github.com/etcd-io/etcd/pull/14423 on `etcdserver` side on `release-3.4`

[2022-09-22 08:18] serathius commented on #14502
I'm ok with this, assuming that it will be a non blocking workflow. We already had a bad experience with CodeQL analysis making breaking changes that blocked PRs and were nontrivial to resolve. We don't have maintainer capacity to resolve all the issues, still having such dashboard should help everyone to see gaps and contribute fixes.

Feel free to send a PR.

[2022-09-22 08:21] serathius commented on #14497
Sure, but etcd maintainers cannot be responsible for every tool. It's up to a tool author to read the documentation, test their assumption and provide a proper configuration to users.

I can agree that etcd health probes need to be redesigned, still any work there would fix future releases and not existing ones. It's up to kubeadm to fix their current setup.

[2022-09-22 08:23] serathius commented on #14138
Release was done.

[2022-09-22 08:23] #14138 closed

[2022-09-22 08:27] ahrtr commented on #14449
The golang has already been bumped to 1.19 in `main` branch.

@vivekpatani or anyone else, please feel free to investigate how to improve the pipeline to support the vulnerability scan.

[2022-09-22 08:54] ahrtr commented on #14456
You need to reproduce this issue using unsolvable URL such as `http://apisix-etcd-0.apisix-etcd-headless.apisix.svc.cluster.local:2380`

[2022-09-22 13:45] liggitt commented on #14490
if the issue is scoped to DeleteRange requests, then it does not impact Kubernetes (we only delete individual keys)

[2022-09-22 17:35] joycebrum commented on #14502
Hi @ahrtr

About your questions:

No, the Scorecard does not look to the program language thus can be supported in any program language projects

I think each tool does different things. As far as I've seen about the govulncheck, it helps to track and solve known vulnerabilities in importable packages in public Go modules, being specific to the Golang itself. The [Scorecard](https://github.com/oss

[2022-09-22 18:09] socketpair commented on #14490
@liggitt no, it actually about any case when there are mix of read-only and read-write queries.

And even then, everything works, problem may raise in theory, at TXN response parsing stage.

[2022-09-23 01:42] ahrtr commented on #14490
Thanks for the feedback. I just searched the K8s repo, and confirmed that the proposed change doesn't impact Kubernetes. The only place that K8s might delete a key inside a TXN is [store.go#L308](https://github.com/kubernetes/kubernetes/blob/91a9ce28ac2486c50222aeeec1f76e664155d769/staging/src/k8s.io/apiserver/pkg/storage/etcd3/store.go#L308), but it doesn't use the revision in the response at all

[2022-09-23 03:08] CatherineF-dev opened #14509 "Presubmit checks for stable metrics"
### What would you like to be added?

A presubmit to validate stable metrics don't change metric name, add labels or delete labels.

Similar to this [stable metrics presubmit](https://github.com/kubernetes/kubernetes/tree/master/test/instrumentation).

### Why is this needed?

Metrics are very important to monitor health of ETCD.
Most non-debug etcd metrics are declared as [stable](https://github.

[2022-09-23 08:07] serathius commented on #14509
Hey @CatherineF-dev, thanks for proposing. I was one of the people that designed and implemented metric stability for K8s. It's a great tool for large repo. Kubernetes had thousands of contributors grouped in tens of special interest groups. Each group is responsible for part of the codebase and has their own code approvers that can merge code. This mans that there are tens if not hundreds of peop

[2022-09-23 08:31] ahrtr commented on #14509
Basically I agree with @serathius . Points:
1. We already have process on how to add & deprecate [feature](https://github.com/etcd-io/etcd/blob/main/Documentation/contributor-guide/features.md), so in general we just need to follow it to add or deprecate metrics.
2. We can add a separate doc (e.g. `metrics.md`) to clearly clarify the details on metrics update.
3. With regard to the tool to validat

[2022-09-23 08:51] ahrtr commented on #14502
Thanks @joycebrum for the clarification, and it makes sense to me.

Please feel free to deliver a PR for this if there is no any objections. We can have more discussion in the PR to be delivered.

[2022-09-23 14:10] tjungblu commented on #14501
I just created a cluster where I injected a sleep into the above code lines, then just run the perf check against this. Then just changed the endpoints to directly target individual members.

all healthy three endpoints:

[code]

one slow follower in three endpoints:

[code]

slow follower excluded in endpoints:

[code]

writes directly going to slow follower:

[code]

So it seems that my initial

[2022-09-23 14:10] #14501 closed

[2022-09-23 17:02] #14502 closed

[2022-09-23 17:15] chaochn47 commented on #14487
another data point https://github.com/etcd-io/etcd/actions/runs/3108126683/jobs/5036981692

[2022-09-23 17:30] dims opened #14513 "etcd/raft go.mod polluted with test only dependencies"
see graph below on how things like `cockroachdb/datadriven` etc end up in kubernetes via etcd dependencies. Even though we have a go.mod file under `raft` directory, since there is a intermix of code and tests, the go.mod file ends up with things it should not. Is it possible to move test only code to a separate directory and drop a new go.mod file there?

![image](https://user-images.githubuserco

[2022-09-23 17:37] mateuszdrab opened #14514 "New etcd member never becomes available"
### What happened?

I am trying to add a K3s node to an existing cluster over a VPN link and I'm facing issues with etcd never becoming available. This used to work fine in the past, but as the database grew, at one point I lost the ability have the nodes sync over the VPN link and had since then removed the out of site node.
I've attempted it again lately, with the database being about 700Mb in s

[2022-09-23 18:26] serathius commented on #14513
What kind of test dependencies do you care the most? I don't know if it's possible to just move all unit tests to separate package or remove dependencies from all unit tests. In the graph dependencies also go etcd/server package. Is it problematic for you too?

Overall note. This doesn't seem like etcd only issue, but a language issue. Test dependencies not being separated from the module. I don't

[2022-09-23 18:39] dims commented on #14513
@serathius for this specific ask, if we can introduce a go.mod in https://github.com/etcd-io/etcd/tree/main/raft/rafttest that will cut out a whole lot of stuff.

NOTE: if someone wants to use raft, they don't really want cockroachdb to go with it. yes, i agree it is a language issue, i am asking for the integration test dependencies not present in the library's go.mod file here.

thanks!

[2022-09-24 04:05] spongecaptain opened #14516 "use google/btree in the genric way"
### What would you like to be added?

use google/btree in the genric way
see https://github.com/etcd-io/etcd/pull/14515

### Why is this needed?

To improve performance.

[2022-09-24 10:33] ahrtr commented on #14499
Since nobody works on this, I will work on this starting from late next week.

[2022-09-25 00:03] ahrtr commented on #14490
Agreed. For a TXN, it doesn't make sense for each inner response have a separate [ResponseHeader](https://github.com/etcd-io/etcd/blob/4513671b6902f22a443439d7e2872e42b9629730/api/etcdserverpb/rpc.pb.go#L273). Removing it may have impact on existing applications which depends on etcd.  Deprecating it might be a feasible approach, but I'd like keep it as it is for now, because it seems not like a b

[2022-09-25 13:58] luomengY opened #14518 "How does etcd query the value of configuration parameters? For example, how to query the "auto-compaction-retention" value of the currently running etcd."
### What happened?

How does etcd query the value of configuration parameters? For example, how to query the "auto-compaction-retention" value of the currently running etcd.

### What did you expect to happen?

How does etcd query the value of configuration parameters? For example, how to query the "auto-compaction-retention" value of the currently running etcd.

### How can we reproduce it (as mi

[2022-09-25 18:15] kumar98ksp commented on #14456
@ahrtr I want to work on this issue. could you please assign me this.

[2022-09-25 20:24] ahrtr commented on #14456
Thanks @sanjeev98kumar

@pchan are you still working on this issue?

[2022-09-26 01:06] TridentZZ opened #14519 "Cannot restart or scale in/out etcd instances when deploying etcd cluster in K8s"
### What happened?

在重启和伸缩后etcd出现成员加入失败的错误

2022-09-26 00:56:10.055385 N | etcdserver/membership: updated member 47324e080c98137d [http://apisix-etcd-1.apisix-etcd-headless.ingress-apisix.svc.cluster.local:2380] in cluster b9ae902a9398fd61
2022-09-26 00:56:10.055401 I | rafthttp: updated peer 47324e080c98137d
raft2022/09/26 00:56:10 INFO: 39e3f227d2d33a6d switched to configuration voters=(41714439

[2022-09-26 01:56] pchan commented on #14456
Yes, I will implement the following part. I expect to have a PR or an update soon.

[2022-09-26 02:07] ahrtr commented on #14456
Thanks @pchan for the update.

@sanjeev98kumar Please find something else to work on. FYI. [find-something-to-work-on](https://github.com/etcd-io/etcd/blob/main/CONTRIBUTING.md#find-something-to-work-on)

[2022-09-26 02:15] ahrtr commented on #14518
You should can get the info from log something like below,
[code]

[2022-09-26 02:18] ahrtr commented on #14519
Please read https://etcd.io/docs/v3.5/op-guide/runtime-configuration/

[2022-09-26 03:33] spzala commented on #14518
+1 @ahrtr Please look at the log.

[2022-09-26 03:33] #14518 closed

[2022-09-26 03:33] TridentZZ commented on #14519
i can not change the config ETCD_INITIAL_CLUSTER_STATE and ETCD_INITIAL_CLUSTER in the new pod when i scale in etcd. as the result:
2022-09-26 03:23:34.699910 W | rafthttp: health check for peer 3c483d3e7f6dddf8 could not connect: dial tcp 172.17.174.107:2380: connect: connection refused
2022-09-26 03:23:37.551066 W | etcdserver: failed to reach the peerURL(http://apisix-etcd-3.apisix-etcd-headles

[2022-09-26 03:45] spzala commented on #14509
I agree with @serathius and @ahrtr that we can cover it with documentation leveraging guidelines and policies we recently added for features. Thanks!

[2022-09-26 04:15] ahrtr commented on #14519
You need an operator or application to do it.

[2022-09-26 04:15] #14519 closed

[2022-09-26 04:17] spzala commented on #14450
Please look at some context here  - https://github.com/etcd-io/etcd/pull/9291 Thanks!

[2022-09-26 06:19] ahrtr commented on #14514
Please provide the detailed steps you did. You mentioned that `The new members registers in etcd as a learner `, but I do not see learner in the member list.

Please also provide the log of the problematic etcd.

BTW, are you sure `192.168.14.130:2379` is reachable from other nodes?  Please double confirm that.

[2022-09-26 06:33] ahrtr commented on #14514
The target `127.0.0.1:2379` seems not correct. How did you start the new node? Please provide the complete cmd-line flags.
[code]

[2022-09-26 07:18] ahrtr commented on #14490
FYI. https://github.com/etcd-io/website/pull/615

[2022-09-26 09:22] mateuszdrab commented on #14514
@ahrtr

That's right, after some time the node was marked as onboarded and it was not showing as a learner any more but I still could not connect to etcd.

Yes, I'm sure it works

K3s starts etcd, based on my understanding it makes it listen on both 127.0.0.1 and 192.168.14.130 which you can see here:
[code]
Unfortunately, despite completing the learning process I can't run etcdctl locally against

[2022-09-26 14:44] serathius commented on #14509
It might be negative, but I don't expect us to 100x contributors to reach K8s numbers.

[2022-09-26 14:50] jh-kainos opened #14520 "Ciphers set by ETCD_CIPHER_SUITES appear to be ignored"
### What happened?

When providing the `ETCD_CIPHER_SUITES` with the following list of ciphers:

TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384,TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305

ETCD ports appear to be ignoring this setting and providing a default list of ciphers (including weak 3DES ciphers).

[code]

### What did you expect to happen?

ETCD should be serving the

[2022-09-26 16:44] advancedwebdeveloper opened #14522 "Extending CI pipeline, on behalf of 64bit RISC-V environment"
### What would you like to be added?

On behalf of https://github.com/etcd-io/etcd/pull/14517 :

1. Qemu related
2. Board related (hosting Github Actions runner, on a 64bit RISC-V Linux & board)
3. Cross-compilation

I am currently using Ubuntu 22.04 under Qemu. OpenSUSE's support is not up-to-date. Didn't check on Fedora - can try later, to diversify.
Existing Github Actions script can perform (3

[2022-09-26 17:41] dimara opened #14523 "Peer occasionally becomes and stays inactive after member restart"
### What happened?

We tried to add a new  member to a two node cluster (rok-etcd-0, rok-etcd-1) and failed with:
[code]
The cluster seemed to be healthy and we were able to make requests.

Looking at the logs of rok-etcd-1 member we saw:
[code]

And before that it reported that the other member `rok-etcd-0` became active and then inactive again:
[code]

We were constantly getting this error and c

[2022-09-26 18:01] serathius commented on #14522
I don't think it's clear what this issue is proposing. Are you proposing to add a RISC-V runner?

[2022-09-26 18:05] serathius commented on #14523
Etcd was never tested under istio and I don't expect we will provide any support. Please provide steps to reproduce the issue without istio.

[2022-09-26 19:03] ahrtr commented on #14523
The reason should be that the network between peers isn't stable. When adding a new member, etcd requires that the member, receiving the request, must be kept connecting to all other peers in the past 5 seconds.

[2022-09-26 19:03] advancedwebdeveloper commented on #14522
RISC-V runner requires porting .NET to RISC-V. So that can't be done quickly. Self-hosted runner is not an option, as for now - so Github's hosted runner can perform (3).

As for testing (build env. == test env.) - Qemu and the board could be used.

[2022-09-26 19:24] ahrtr commented on #14514
Did you see the error log only on the new member or on all members?

It's strange. Based on the endpoint status, there are 3 healthy members. Have you tried to run `etcdctl` against one of the three healthy members?

Please also try command something like below. If you run the command on the same node as the etcd, then use IP "127.0.0.1"
[code]

[2022-09-26 21:34] mateuszdrab commented on #14514
@ahrtr I tried to reproduce the issue but somehow found the etcd database shrank from 700Mb to 150Mb so the replication went through and the node started fine...

[2022-09-26 23:57] ahrtr commented on #14514
The only reason for the db size decrease is `compaction + defragmentation` operation.

Please feel free to reopen this issue or raise a new one. Next time when you see this issue again, please see the `curl` command mentioned above https://github.com/etcd-io/etcd/issues/14514#issuecomment-1258512904

[2022-09-26 23:57] #14514 closed

[2022-09-27 04:52] hasethuraman commented on #14263
@ahrtr do you think we can document before closing this defect? I dont know if etcd or boltdb can cover up this issue.

[2022-09-27 05:35] ahrtr commented on #14263
Probably we can add a known issues section in [boltDB/README.md](https://github.com/etcd-io/bbolt/blob/master/README.md).

[code]

What do you think? @spzala

[2022-09-27 07:12] mateuszdrab commented on #14514
Makes sense, though it's this size for weeks and I'd like to try figure out what changed.

Is there some sort of du like command I can use to explore the etcd backups and see what changed?

[2022-09-27 09:26] klolos commented on #14523
@serathius We were able to reproduce this without Istio as well, by simply restarting one of the members. By looking at the logs of member 1 (`rok-etcd-1`), we noticed that when restarting member 0 (`rok-etcd-0`), member 1 logged that node 0 became active approximately 10 seconds after it started. So to trigger the bug, we restarted node 0 **again** at approximately the time when node 1 reported i

[2022-09-27 09:40] yujintang commented on #14321
if you are single mode ,you shoule remove `ETCD_ADVERTISE_CLIENT_URLS` and resolve this problems.

[2022-09-27 13:58] #14462 closed

[2022-09-27 14:33] tjungblu commented on #14501
Thanks @serathius. I'm still figuring out the GRPC behavior here, it seems like the graceful switch load balancer only pulls out an endpoint when the Ready connection goes to any other state (eg TransientFailure). The connection is slow, just not as bad to fail on timeouts yet.

I have to research a bit more and open a new issue up with a proposal. Do you guys have some kind of design process?

[2022-09-27 14:50] serathius commented on #14501
No official design process, but feel free to check out previous design proposals if you need a template. For example one of mine https://github.com/etcd-io/etcd/issues/14039

[2022-09-28 04:49] huanggze commented on #14321
unfortunately, not working for my docker-compose.yaml :(

[2022-09-28 05:34] ahrtr opened #14533 "Protobuf: cleanup both golang/protobuf and gogo/protobuf"
### What would you like to be added?

Both `github.com/golang/protobuf` and `github.com/gogo/protobuf` are deprecated.

- [github.com/golang/protobuf](https://github.com/golang/protobuf) is the first version of Go protocol buffer API.  **Deprecated**.
- [github.com/gogo/protobuf](https://github.com/gogo/protobuf) is actually a fork of `github.com/golang/protobuf` with extra code generation feature

[2022-09-28 05:37] ahrtr commented on #14499
We might need to resolve https://github.com/etcd-io/etcd/issues/14533 in the first step.

[2022-09-28 07:41] serathius commented on #8603
Closing as part of migration of questions to GitHub discussions.
If you have still any questions about certificates, feel free to ask at https://github.com/etcd-io/etcd/discussions

[2022-09-28 07:41] #8603 closed

[2022-09-28 08:32] serathius commented on #13765
Closing as part of migration of issues labeled as questions to GitHub discussions.
GitHub discussions makes it easier for the whole community to provide answered.

If you think your question is still relevant, feel free to ask at https://github.com/etcd-io/etcd/discussions

[2022-09-28 08:32] #13765 closed

[2022-09-28 08:32] serathius commented on #13801
Closing as part of migration of issues labeled as questions to GitHub discussions.
GitHub discussions makes it easier for the whole community to provide answered.

If you think your question is still relevant, feel free to ask at https://github.com/etcd-io/etcd/discussions

[2022-09-28 08:32] #13801 closed

[2022-09-28 08:32] serathius commented on #13827
Closing as part of migration of issues labeled as questions to GitHub discussions.
GitHub discussions makes it easier for the whole community to provide answered.

If you think your question is still relevant, feel free to ask at https://github.com/etcd-io/etcd/discussions

[2022-09-28 08:32] #13827 closed

[2022-09-28 08:33] serathius commented on #13961
Closing as part of migration of issues labeled as questions to GitHub discussions.
GitHub discussions makes it easier for the whole community to provide answered.

If you think your question is still relevant, feel free to ask at https://github.com/etcd-io/etcd/discussions

[2022-09-28 08:33] #13961 closed

[2022-09-28 08:34] serathius commented on #14092
Closing as a jetcd issue. Feel free to reopen if you find evidence that issue is on etcd server side.

[2022-09-28 08:34] #14092 closed

[2022-09-28 08:34] serathius commented on #14093
Closing as part of migration of issues labeled as questions to GitHub discussions.
GitHub discussions makes it easier for the whole community to provide answered.

If you think your question is still relevant, feel free to ask at https://github.com/etcd-io/etcd/discussions

[2022-09-28 08:34] #14093 closed

[2022-09-28 08:34] serathius commented on #14181
Closing as part of migration of issues labeled as questions to GitHub discussions.
GitHub discussions makes it easier for the whole community to provide answered.

If you think your question is still relevant, feel free to ask at https://github.com/etcd-io/etcd/discussions

[2022-09-28 08:34] #14181 closed

[2022-09-28 08:34] serathius commented on #14189
Closing as part of migration of issues labeled as questions to GitHub discussions.
GitHub discussions makes it easier for the whole community to provide answered.

If you think your question is still relevant, feel free to ask at https://github.com/etcd-io/etcd/discussions

[2022-09-28 08:34] #14189 closed

[2022-09-28 08:34] serathius commented on #14369
Closing as part of migration of issues labeled as questions to GitHub discussions.
GitHub discussions makes it easier for the whole community to provide answered.

If you think your question is still relevant, feel free to ask at https://github.com/etcd-io/etcd/discussions

[2022-09-28 08:34] #14369 closed

[2022-09-28 08:35] serathius commented on #14385
Closing as part of migration of issues labeled as questions to GitHub discussions.
GitHub discussions makes it easier for the whole community to provide answered.

If you think your question is still relevant, feel free to ask at https://github.com/etcd-io/etcd/discussions

[2022-09-28 08:35] #14385 closed

[2022-09-28 08:35] serathius commented on #14446
Closing as part of migration of issues labeled as questions to GitHub discussions.
GitHub discussions makes it easier for the whole community to provide answered.

If you think your question is still relevant, feel free to ask at https://github.com/etcd-io/etcd/discussions

[2022-09-28 08:35] #14446 closed

[2022-09-28 08:35] serathius commented on #14450
Closing as part of migration of issues labeled as questions to GitHub discussions.
GitHub discussions makes it easier for the whole community to provide answered.

If you think your question is still relevant, feel free to ask at https://github.com/etcd-io/etcd/discussions

[2022-09-28 08:35] #14450 closed

[2022-09-28 21:04] ahrtr commented on #14490
Resolved in https://github.com/etcd-io/website/pull/615

[2022-09-28 21:04] #14490 closed

[2022-09-28 22:08] samueleresca commented on #13617
Hi @serathius, Is this issue available for being picked up? I have experience in fuzzing and I'm looking for some contributions GoLang. Are these the RPC API: https://github.com/etcd-io/etcd/blob/main/server/etcdserver/api/ to fuzz?

[2022-09-29 05:59] ahrtr commented on #14533
This seems like a big change, please let me know if anyone has any comments or concerns.

[2022-09-29 08:15] serathius commented on #13617
@samueleresca Yes feel free to pick those issues up.

This directory contains all Etcd APIs and some unrelated code (candidate for cleanup). For fuzzying we would like to focus on V3 grpc API in https://github.com/etcd-io/etcd/tree/main/server/etcdserver/api/v3rpc.

Problem that we want to solve is inconsistency in request validation between different stages of processing request. First when reque

[2022-09-29 09:43] stlaz commented on #14090
Personally, I am a little bit puzzled by the etcd TLS documentation. I think it lacks specific requirements for serving, client and peer certificates. I think the concept of a "peer" certifcate is a little bit uncommon as, at least in the areas where I come from, which is mostly just HTTP(S).

I think that I would personally find it very helpful if the client/server/peer certificates were document

[2022-09-30 05:43] chaochn47 commented on #13167
Thanks for raising this issue. It is really annoying for any contributors to etcd that unrelated tests failed.

I can take one `TestDowngradeUpgradeClusterOf3` because I just faced in https://github.com/etcd-io/etcd/pull/14331. It's also a good opportunity to learn how downgrade works as well.

[2022-09-30 05:52] chaochn47 opened #14540 "[Test] TestDowngradeUpgradeClusterOf3 timeout"
### Which github workflows are flaking?

test (linux-amd64-e2e)

### Which tests are flaking?

TestDowngradeUpgradeClusterOf3

### Github Action link

https://github.com/etcd-io/etcd/actions/runs/3156389973/jobs/5136053128

### Reason for failure (if possible)

[code]

e2e test cluster logging

[code]

### Anything else we need to know?

_No response_

[2022-09-30 06:03] chaochn47 commented on #14540
To reproduce

[code]

or
[code]

[2022-09-30 07:52] ahrtr opened #14541 "integration TestAuthority failed due to "bind: address already in use""
### Which github workflows are flaking?

linux-amd64-integration-4-cpu

### Which tests are flaking?

TestAuthority

### Github Action link

https://github.com/etcd-io/etcd/actions/runs/3153014723/jobs/5128969677

### Reason for failure (if possible)

=== FAIL: integration TestAuthority/Size:_3,_Scenario:_"http://address[:port]" (0.00s)
    cluster.go:535: Creating listener with addr: 127.0.0.1:21

[2022-09-30 07:56] wofr opened #14542 "ETCD cluster loses member on GKE every day at 5am"
### What happened?

I do run a GKE Cluster with 3 Nodes. Beside several application I also deployed the APISIX gateway on the cluster (chart: apisix, repoURL: https://charts.apiseven.com/, targetRevision: "0.11.0"), which does deploy an etcd-cluster (version 3.4.14) with 3 nodes.

Now it gets funny, the etcd cluster builds up fine and everything is ok until every-day at 5:00 am, at this time the 3

[2022-09-30 21:49] ahrtr commented on #14516
Resolved in https://github.com/etcd-io/etcd/pull/14515

[2022-09-30 21:49] #14516 closed

[2022-09-30 21:54] ahrtr commented on #14542
My immediate feeling is that this isn't an etcd issue. Instead it might be caused by apisix helm chart. An etcd cluster will never remove any member automatically, it should be trigger by users/operators.

[2022-09-30 21:57] ahrtr commented on #14379
The issue may be already resolved in https://github.com/etcd-io/etcd/pull/14419. Please reopen or raise a new ticket if you still see this issue in 3.5.5 or main branch.

[2022-09-30 21:57] #14379 closed

[2022-10-01 16:39] tao12345666333 commented on #14542
To make this more clear, the bitnami/etcd chart is actually used in the APISIX Helm chart.

Back to the question itself, I also don't think this has anything to do with etcd or the APISIX helm chart or even bitnami/etcd.  Since your situation is quite regular, I suggest you to check your environment to see if there are some timed tasks or scripts, or if there are some timed events

[2022-10-03 06:44] wofr commented on #14542
Its a GKE - cluster I do not run any scripts at all, just a few containers.   What is some strange to me, is the fact that always the third node goes way.
But I'm with you I don't think its an etcd issue, but I thought maybe somebody does have an idea what causes the problem.

Maybe worth mentioning is that node-2 does an reboot short time after he was removed, but could not join the cluster anymo

[2022-10-03 07:44] wofr commented on #14542
So the real problem is at seems that the rejoin does not work, losing the node is not really a big deal if joining the cluster would work.   Maybe thats a problem of how the cluster is configured by ApiSix?!

[2022-10-03 12:46] pchan commented on #14456
@ahrtr  I have created a PR (#14546 ) that attempts to fix this by adding a flag. Can you please review and add reviewers. I wasn't able to follow everything from [Contributing](https://github.com/etcd-io/etcd/blob/a932fb58f26ec862be858c884380c53a4975fb3b/CONTRIBUTING.md) guide. For example `make verify` does not work in main branch. It passes `make test-unit`.

[2022-10-03 23:35] ahrtr commented on #14456
I just realized that actually the `main` branch doesn't have this issue, and it can only be reproduced on 3.5 and 3.4. The issue has already been resolved in https://github.com/etcd-io/etcd/commit/b272b98b79a392ac269d5c1577e15b655844ce1a in `main` branch. Please backport the commit to both 3.5 and 3.4. Thank.

[2022-10-03 23:38] ahrtr commented on #14456
The original PR is https://github.com/etcd-io/etcd/pull/13224

[2022-10-04 07:07] xiaods commented on #14540
![Image_20221004150649](https://user-images.githubusercontent.com/37678/193756373-3e5d39f7-add4-416c-bcf1-1fc04634e9c6.png)
how about remove the symbolic link mode?

[2022-10-04 07:11] xiaods commented on #14444
hi mitake, could you please give more steps on authnz, thanks a lot.

[2022-10-04 08:55] xiaods commented on #14540
testing on branch main, the case is not reproduce again.
use above cmd:
[code]

it works like charm, no error found.

[2022-10-06 00:22] xiaods commented on #14541
retry run below cmd
[code]
get err output:
[code]

[2022-10-06 04:09] fuweid commented on #14333
It seems that the issue has been fixed by #14377

[2022-10-06 07:52] #14477 closed

[2022-10-06 07:52] #14333 closed

[2022-10-06 08:42] Nathenial opened #14554 "etcd.service has entered the 'failed' state with result 'protocol'"
### What happened?

I established two nodes in tow host(ubuntu18.04, and uos) in local net through a two-level switchboard. One is the master node,192.168.1.3; and the latter is a worker node, 192.168.1.146.
When I run `systemctl daemon-reload && systemctl enable etcd && systemctl start etcd` on worker node, I got this error:

[code]

### What did you expect to happen?

nothing to print, which mea

[2022-10-06 08:52] serathius commented on #14554
Please provide etcd logs and not systemd logs.

[2022-10-06 08:54] Nathenial commented on #14554
Sorry I'm new to etcd, where can I find etcd logs?

[2022-10-06 09:02] serathius commented on #14554
That doesn't depend on etcd, but on how it's configured. In your case you should check out systemd configuration of etcd.service.

[2022-10-06 09:13] Nathenial commented on #14554
And when I run wireshark, it scares me with the following packet.
![QQ截图20221006171150](https://user-images.githubusercontent.com/34885809/194274319-7d96fecb-f886-4983-8363-50d128fe57b5.jpg)
It seems that three-handshake failed.

[2022-10-07 07:43] xiaods commented on #14509
prefer 2

[2022-10-07 08:56] xiaods commented on #14554
@Nathenial please follow docs to setup a etcd cluster to testing your network environment.
https://etcd.io/docs/v3.5/tutorials/how-to-setup-cluster/

it will clear your environment issue.

[2022-10-07 09:11] Nathenial commented on #14554
@xiaods Thanks！I will have a try.

[2022-10-07 12:41] #14554 closed

[2022-10-08 08:54] samueleresca commented on #13617
@serathius  I opened a draft PR with an example on the `RangeRequest` - let me know if it makes sense so I can continue with the other input validation.

[2022-10-09 12:52] tao12345666333 commented on #14542
NO. You can deploy a cluster using the bitnami/etcd helm chart without APISIX. @wofr

Then see if it will have the same problem. If you find that the problem persists, then you just need to focus on the cluster and your base environment.

[2022-10-09 12:54] tao12345666333 commented on #14542
On the other hand, if you use the same version of bitnami/etcd's helm chart, the problem no longer exists. Then we need to dig into the APISIX related parts.

[2022-10-09 13:33] cph999 commented on #11931
GOROOT=D:\go #gosetup
GOPATH=D:\go;D:\project #gosetup
D:\go\bin\go.exe build -o C:\Users\cph\AppData\Local\Temp\GoLand\___go_build_go_micro.exe go-micro #gosetup
# github.com/coreos/etcd/clientv3/balancer/resolver/endpoint
D:\go\pkg\mod\github.com\coreos\etcd@v3.3.17+incompatible\clientv3\balancer\resolver\endpoint\endpoint.go:114:87: undefined: resolver.BuildOption
D:\go\pkg\mod\github.com\coreo

[2022-10-09 15:38] xiaods commented on #14541
use WSL  came across above issue, when switch macos, it run testing with hang out:
[code]
don't know what reason.

[2022-10-09 16:05] xiaods commented on #14541
running on macos:

[code]

[2022-10-10 05:38] wofr commented on #14542
You are right, its a re-join issue, nevertheless why the node is removed is also still unclear.
I will follow your approach by using a deticated etcd deployment and remove the one from the apisix deployment to see how it is doing.

[2022-10-10 07:57] serathius commented on #13617
Thanks, reviewed.

[2022-10-10 09:56] IamSatyaonline opened #14569 "failed to recover v3 backend from snapshot ,failed to find database snapshot file"
### What happened?

We have a ETCD cluster of kubernetes which has one member with ETCD version - 3.5.3 and it was up and running from a long time of 25 days. Suddendly something happended in ETCD and getting restarted frequently,ETCD is throwing the error below as  "panic: failed to recover v3 backend from snapshot"

 "message" : "{\"level\":\"panic\",\"ts\":\"2022-10-06T09:18:02.022-0500\",\"cal

[2022-10-10 10:29] serathius commented on #14569
Looks like a duplicate of https://github.com/etcd-io/etcd/issues/14382
Please upgrade to v3.5.5

cc @ahrtr Looks like fix for https://github.com/etcd-io/etcd/issues/14382 is not mentioned in v3.5.5 changelog or I missed it?

[2022-10-10 10:51] ahrtr commented on #14569
`ETCD_QUOTA_BACKEND_BYTES: 268435456`

Why do you configure such a small value (about 268MB) ? Please check the db size. I suspect it ran out of the quota. If yes, then most likely the same issue as https://github.com/etcd-io/etcd/issues/14382.

It's included in the 3.5.5 changelog.  `Fix [etcd fails to start after performing alarm list operation and then power off/on]`

[2022-10-10 10:55] serathius commented on #14569
Thanks for confirming. I must have searched it incorrectly.
Closing the issue as it was already fixed in the newest release.

[2022-10-10 10:55] #14569 closed

[2022-10-10 18:22] wcmjunior commented on #14382
This solution fixed our problem in a production `etcd` configuration. Just commenting here so more people can follow. Thanks!

[2022-10-10 20:43] steve-solun commented on #14321
@huanggze @yujintang @serathius @ahrtr @dc7303 anybody found a solution? I observe the same behavior.

[2022-10-11 07:22] luomengY commented on #14314
Is your client java program and etcd on the same server? This error occurs when etcd and the client program are running on the same server.

---Original---
From: "Jeremy ***@***.***&gt;
Date: Tue, Aug 9, 2022 15:34 PM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [etcd-io/etcd] When I killed my java etcd program, I found thatetcd would stop working and report the following erro

[2022-10-11 07:51] veshij opened #14571 "3.5.5: client auth failures on first startup"
### What happened?

After cluster upgrade from 3.5.4 to 3.5.5 we are seeing auth issues on new nodes after first startup.
Cluster runs in auth-enable mode.

New node joins the cluster, fetches the snapshot, but fails all client requests with:
[code]
etcd restart fixes the issue and no requests fail after that.

### What did you expect to happen?

New node joins cluster and starts serving requests.

[2022-10-11 11:41] pchan commented on #14456
I have created a cherry-pick of #13224 in #14573 for release 3.5. What are the next steps, should I run tests in 3.5 ?

[2022-10-11 11:51] ahrtr commented on #14456
Could you double check whether 3.4 have this issue and backport it to release-3.4 as well if needed? thx

[2022-10-11 19:04] veshij commented on #14571
Is it possible missing authStore.refreshRangePermCache() call in [authStore.Recover() call](https://sourcegraph.com/github.com/etcd-io/etcd@v3.5.5/-/blob/server/auth/store.go?L360:22) triggers the issue on first startup?

[2022-10-11 20:55] veshij commented on #14571
[code]
seems like fixed an issue.

During the troubleshooting I found that this issue lead to data inconsistency in the cluster.
Is it possible new nodes with empty auth cache fail to apply entries from raft log due to auth failures but still advance the position in the log?

[2022-10-11 21:11] euroelessar commented on #14571
@mitake @ahrtr @serathius Please have a look, it looks like 3.5.5 is prone to data inconsistencies in newly added members if auth is enabled. It is a regression compared to 3.5.4.

[2022-10-11 21:37] ahrtr commented on #14571
@veshij Thanks for raising this issue. Good catch! Your proposed change looks good to me.

Previously we fixed a [similar issue](https://github.com/etcd-io/etcd/issues/14355) and fixed it in [14358](https://github.com/etcd-io/etcd/pull/14358) , but missed this case.

Please feel free to deliver a PR for this.

Please note that this issue can be easily workaround. FYI. https://github.com/etcd-io/et

[2022-10-11 21:39] veshij commented on #14571
Thank you, will cut a PR a bit later today.

[2022-10-12 00:59] yishuT commented on #14571
@ahrtr  Can we add more tests for auth enabled mode? I looked at couple integration tests, but seems none of them has auth enabled?e.g. https://github.com/etcd-io/etcd/blob/main/tests/integration/cluster_test.go

[2022-10-12 03:01] ahrtr commented on #14571
Please see  https://github.com/etcd-io/etcd/pull/14574#issuecomment-1275517751

The auth related test cases should be included in `v3_auth_test.go`.  cc @mitake

[2022-10-12 07:40] ahrtr commented on #14362
The huge memory usage might be caused by the db file size.

What's the size of the db file, which locates in `${DATA_DIR}/member/snap/db`? Please try to perform compaction + defragmentation per guide https://etcd.io/docs/v3.5/op-guide/maintenance/#space-quota

[2022-10-12 08:13] ahrtr commented on #14362
I just added more log for debugging the reason why etcd fails to purge WAL file.

https://github.com/etcd-io/etcd/pull/14576

[2022-10-12 10:08] ahrtr commented on #14456
Resolved in https://github.com/etcd-io/etcd/pull/14577 and https://github.com/etcd-io/etcd/pull/14573

The fix will be included in 3.5.6 and 3.4.22.

@pchan please add a changelog item for both 3.4 and 3.5. FYI. https://github.com/etcd-io/etcd/pull/14573#issuecomment-1274562134

[2022-10-12 10:08] #14456 closed

[2022-10-12 13:23] sujeet01 opened #14580 "etcd/proxy/grpcproxy imports google.golang.org/grpc/naming which is a deprecated module"
### What happened?

My project makes use of `github.com/coreos/etcd/proxy/grpcproxy` package which imports `google.golang.org/grpc/naming` package which is deprecated after version v1.29.0 of `google.golang.org/grpc`

### What did you expect to happen?

I need to use the latest version of `google.golang.org/grpc` > v1.40.0 which does not contain a deprecated `google.golang.org/grpc/naming` package

[2022-10-12 18:12] #13814 closed

[2022-10-13 01:08] ahrtr commented on #14580
3.3.x is already out of support, so could you upgrade to 3.4 firstly and then to 3.5?

[2022-10-13 05:40] #14580 closed

[2022-10-13 05:55] ahrtr commented on #14352
Please provide detailed steps on how to reproduce the issue you mentioned in 3.5 above.

[2022-10-13 07:17] #14325 closed

[2022-10-13 08:32] li-jin-gou commented on #14321
use `quay.io/coreos/etcd` instead of `bitnami/etcd` @steve-solun

[2022-10-13 08:40] ajityagaty commented on #14533
@ahrtr - Has it been decided to make the change? If so, can I take a swing at this?

[2022-10-13 08:59] serathius commented on #14321
Good point by @li-jin-gou, etcd project didn't create `bitnami/etcd` image thus we are not aware what changes were made and we cannot support it.

[2022-10-13 09:06] tjungblu commented on #14541
I'm taking a look at this right now, but I'm wondering what the purpose of this mutex is:
https://github.com/etcd-io/etcd/blob/7fff4c4241f9ade681f22c7356199f8849479b56/tests/framework/integration/cluster.go#L182

It doesn't actually protect much and virtually every tests directly accesses the Members, while you can also add and remove them. I haven't seen anyone doing this across goroutines, but s

[2022-10-13 09:41] serathius commented on #14541
Ad 1, depends on what you have in mind. I think the overall expectation is tests frameworks to be thread safe. For example creating a watch on main routing and creating goroutine to send updates in background. Especially when there are plans to extend it to support adding/removing members during test.

My suggestion would be to evolve integration framework in direction of common framework interfac

[2022-10-13 10:22] tjungblu commented on #14541
Thanks for the input.

Yeah I was trying this out as a first option instead of generating a random integer. I'll fix the remaining tests and will send a PR for that, I reckon we can discuss further on that.

[2022-10-13 13:03] IamSatyaonline commented on #14569
Hi @ahrtr
is the panic error 'failed to find database snapshot file' in the etcd log due to insufficient db size ?
The ticket #14382 is indicating that a hard reboot happened on underlying worker nodes and due to this reboot ETCD service went down.
Could you please help to understand the root cause of this panic error ? This panic message issue is due to insufficient db size or due to hard reboot

[2022-10-13 15:01] jh-kainos commented on #14520
Hi @ahrtr

Sorry for the delay responding. Here is the output from `printenv ETCD_CIPHER_SUITES` on the pod:

[code]

It doesn't seem to matter what cipher suites I specify with this env var, the nmap scan returns the same ciphers (as well as TLSv1.0 and TLSv1.1). I can also see the env var configured when describing the pod:

[code]

[2022-10-13 21:50] ahrtr commented on #14569
@IamSatyaonline
Please refer to https://github.com/etcd-io/etcd/issues/14382#issuecomment-1229899483 and https://github.com/ahrtr/etcd-issues/blob/b221ffdee411e9dc1715d329f5e67f41366012b3/etcd/etcd-db-editor/main.go#L16-L28

[2022-10-13 23:04] ahrtr commented on #14520
etcd listens on `2379` and `2380` by default. But it's `3996` and `3997` in your output. Did you intentionally change the ports for etcd?

[2022-10-13 23:55] cenkalti commented on #9222
I have a question about the last bullet point of @gyuho 's comment:

Do pending entries stored in memory or do they get written to raft log (disk)?

[2022-10-14 02:07] ahrtr commented on #14533
@ajityagaty Thanks for your interest on this.

There is no any feedback from other maintainers yet, but I think we must do this because both `github.com/golang/protobuf` and `github.com/gogo/protobuf` are deprected, it's just a matter of time.

Since it's a big change, so please evaluate the impact and provide a detailed plan firstly. Afterwards, we can update the [functional_test](https://github.

[2022-10-14 09:27] #14542 closed

[2022-10-14 10:33] tjungblu commented on #14540
That's actually an interesting case, checkout the logs:

[code]

The raft request to downgrade was successfully propagated to all members:

[code]

Then member and leader `72e86eb5e356a737` was "... ready to downgrade" after taking the snapshot:

The timeout is then caused by this member being stuck checking whether downgrades are valid:

While the other members never reach "The server is ready to

[2022-10-14 10:55] ahrtr commented on #14541
Resolved in https://github.com/etcd-io/etcd/pull/14585

[2022-10-14 10:55] #14541 closed

[2022-10-14 11:15] serathius commented on #14540
Downgrade process it to allow temporary lowering of cluster version.

Shows that cluster version was already downgraded. Looks like a bug in the `decideClusterVersion`  https://github.com/etcd-io/etcd/blob/b8be237d16cd54f594a64b9bb0c57bbb1d4804bf/server/etcdserver/version/monitor.go#L61

If `downgrade-version` equals `cluster-version` then downgrade is not needed. `decideClusterVersion`  should re

[2022-10-14 11:16] serathius commented on #14540
Still it's strange that downgrade test doesn't proceed as the cluster-version was lowered as expected.

[2022-10-14 11:58] tjungblu commented on #14540
Even in the happy path case of the test passing, it complains about that version difference for a short time before shutting down. I assume it's mostly cosmetic as of now. Should the `GetDowngradeInfo` get reset to nil once the downgrade is done?

Just one member (the leader) printed the the ready message that's required, the other members seem stuck (?)
Could the leader hold up the members from a

[2022-10-14 12:28] tjungblu commented on #14540
Added https://github.com/etcd-io/etcd/pull/14587, but I'm highly unsure this is the right way to fix this. That sounds more like a race condition lingering somewhere than this.

[2022-10-14 16:22] sujeet01 commented on #14580
When I try to go get any of these versions, I get following error

[2022-10-14 16:25] sujeet01 commented on #14580
When I try to go get any of these versions, I get the following error <br> `go get github.com/coreos/etcd@v3.5.5` <br>`go: github.com/coreos/etcd@v3.5.5: invalid version: go.mod has post-v3 module path "go.etcd.io/etcd/v3" at revision v3.5.5`

[2022-10-14 16:55] sujeet01 commented on #14580
I still get the same error after upgrading to v3.5.5 <br> `
go: finding module for package google.golang.org/grpc/naming
        github.com/rexray/gocsi imports
        github.com/rexray/gocsi/middleware/serialvolume/etcd imports
        github.com/coreos/etcd/clientv3 tested by
        github.com/coreos/etcd/clientv3.test imports
        github.com/coreos/etcd/integration imports
        github.c

[2022-10-14 17:13] vivekpatani commented on #14449
@ahrtr I have some bw now, will look at this. Thanks for upgrading to 1.19. First time doing GH actions, might take a bit longer than expected.

[2022-10-14 19:01] ahrtr commented on #14580
FYI. https://github.com/etcd-io/etcd/blob/main/Documentation/contributor-guide/modules.md

[2022-10-14 21:35] ahrtr commented on #14449
@vivekpatani Thanks. It isn't an urgent task, so no worries.

[2022-10-15 08:22] xiaods commented on #14337
syscall.UnixRights can't support for go web Assembly.
https://go-review.googlesource.com/c/go/+/150477/2/src/syscall/syscall_js.go#71

[2022-10-15 12:25] ZoeShaw101 commented on #14259
Can I try this issue too?

[2022-10-15 14:37] ZoeShaw101 commented on #14259
Not reproduce this error on my local dev env either.
Going deep to find why the test fails in `3.4 pipeline` ,  may need more context infos, like the git branch, running on `3.4 pipeline` which leads to this error.

While I guess for now we can check the watch response error not nil to avoid test runtime panic , #14591

[2022-10-15 22:06] invidian commented on #11555
Not stale.

[2022-10-16 00:57] #14102 closed

[2022-10-16 00:58] #14055 closed

[2022-10-16 00:58] #14062 closed

[2022-10-16 00:58] #13987 closed

[2022-10-16 00:58] #14086 closed

[2022-10-16 00:58] #14089 closed

[2022-10-16 00:58] #14015 closed

[2022-10-16 00:58] #13768 closed

[2022-10-16 00:59] #10294 closed

[2022-10-16 00:59] #10269 closed

[2022-10-16 00:59] #10010 closed

[2022-10-16 00:59] #9996 closed

[2022-10-16 00:59] #10009 closed

[2022-10-16 01:00] #10000 closed

[2022-10-16 01:00] #9901 closed

[2022-10-16 01:00] #9420 closed

[2022-10-16 01:01] #9839 closed

[2022-10-16 01:01] #8162 closed

[2022-10-16 01:01] #8458 closed

[2022-10-16 01:01] #13958 closed

[2022-10-16 01:01] #14027 closed

[2022-10-16 01:02] #13478 closed

[2022-10-16 01:02] #14061 closed

[2022-10-16 01:02] #13939 closed

[2022-10-16 01:03] #13794 closed

[2022-10-16 01:03] #12598 closed

[2022-10-16 01:04] #13789 closed

[2022-10-16 01:04] #13762 closed

[2022-10-16 02:24] elricli commented on #13909
remove stale

[2022-10-16 03:47] socketpair commented on #13389
Bump

[2022-10-16 08:22] ahrtr commented on #14176
The issue has already been resolved on `main` in https://github.com/etcd-io/etcd/pull/14173

[2022-10-16 08:22] #14176 closed

[2022-10-16 21:26] ahrtr commented on #14259
Resolved in https://github.com/etcd-io/etcd/pull/14594

[2022-10-16 21:26] #14259 closed

[2022-10-16 21:44] geetasg opened #14595 "kubernetes api-server should be able to delete objects and compact when etcd is under no space condition"
### What would you like to be added?

We have environments that hit the etcd db size quota and etcd cluster arms the no space alarm. Kubernetes compaction code needs to do a put request before running compaction. As a result, when etcd cluster is under no space, the compaction cannot go thru. This request is to find a way to allow compaction as run by kubernetes api-server to go thru when etcd is

[2022-10-17 08:25] serathius commented on #14012
I think we are good since we changed the Coverage to run on push.

[2022-10-17 08:25] #14012 closed

[2022-10-17 08:36] tjungblu commented on #14595
what's the reason we're having a maximum size of the database defined in the first place?

It's not entirely clear from the documentation either:
https://etcd.io/docs/v3.5/dev-guide/limit/#storage-size-limit

I assume this was some boundary that was performance tested some time ago?

[2022-10-17 09:09] tjungblu commented on #13909
do I get this deployment diagram right?

[code]

The error you are seeing in your gateway code, that it can't connect to gRPC proxy?

[2022-10-17 09:49] tjungblu commented on #13909
okay after debugging this, the implementation of the watch endpoint is a bit odd:
https://github.com/etcd-io/etcd/blob/main/api/etcdserverpb/gw/rpc.pb.gw.go#L205-L228

On the grpc proxy the type couldn't be parsed correctly to either Create/Cancel:
https://github.com/etcd-io/etcd/blob/main/server/proxy/grpcproxy/watch.go#L233

So on the proxy you get:

Which makes sense, I don't really get how it

[2022-10-17 09:54] elricli commented on #13909
[code]

- `etcd gRPC proxy`: [The gRPC proxy coalesces multiple client watchers (c-watchers) on the same key or range into a single watcher (s-watcher) connected to an etcd server. ](https://etcd.io/docs/v3.5/op-guide/grpc_proxy/#:~:text=The%20gRPC%20proxy%20coalesces%20multiple%20client%20watchers%20(c%2Dwatchers)%20on%20the%20same%20key%20or%20range%20into%20a%20single%20watcher%20(s%2Dwatcher)%

[2022-10-17 10:25] tjungblu commented on #13909
Thanks @elricli, I think I can reproduce this with a simply curl:

The EOF error comes from the fact that it tries to parse the watch request continuously in:
https://github.com/etcd-io/etcd/blob/main/api/etcdserverpb/gw/rpc.pb.gw.go#L212-L215

Which fails after the first time as the decoder runs out of body to parse. If I move the decoder out of the loop it creates new watches continuously. I ass

[2022-10-17 14:59] tjungblu commented on #13909
so I tried different languages and doing bidi streaming requests, I can only really make this work while removing the EOF breaking during the send loop:

[code]

Then it works correctly, even with curl. It will just busy loop decode the stream. Since this is indeed in the generated code, let me create a new issue in https://github.com/grpc-ecosystem/grpc-gateway

[2022-10-17 17:47] UtR491 commented on #13757
@nic-chen are you working on this?
@ahrtr I was able to reproduce the issue. If @nic-chen is not working on this can I take it up? Also which of the two approaches would you suggest for solving the issue?

[2022-10-17 22:52] ahrtr commented on #13757
Just as I mentioned previously https://github.com/etcd-io/etcd/issues/13757#issuecomment-1057718054, each member can have multiple peer URLs. In the following example, `http://1.1.1.1:2380` and `http://2.2.2.2::2380` are regarded as two peer URLs of the member `mach0`. I don't think we should change this existing behavior.

[code]

I think we just need to print a warning message if users do not pr

[2022-10-18 03:01] geetasg opened #14598 "Put requests should be able to go thru when there is space in freelist"
### What would you like to be added?

As of today , etcd evaluates available space using Size api of backend storage layer - https://github.com/etcd-io/etcd/blob/main/server/storage/quota.go#L133
This should be changed to evaluate using SizeInUse api because the space in freelist can be utilized without increasing the db file size.

### Why is this needed?

We have environments that hit no space q

[2022-10-18 03:11] geetasg commented on #14598
This is created as a feature request because this can perhaps be added with a new flag. When flag is not enabled, current behavior (to use Size() api) will be preserved.

[2022-10-18 07:46] serathius commented on #14140
I have reproduced loss of un-fsynced writes in my own testing using lazyfs. Just running a single node cluster with lazyfs underneath. Kill + "lazyfs::clear-cache" results in large rollback of etcd state (tens of transactions).

@ramses @aphyr How much confidence we have in lazyfs implementation? Have lazyfs been successfully used to find similar issues in other databases?

[2022-10-18 09:57] nic-chen commented on #13757
Thanks for the explanation! I missed that comment...

[2022-10-18 11:35] endocrimes commented on #14140
@serathius fwiw the recent single-node data loss issues are a result of the same bug - We accept writes before they are actually flushed to the disk

[2022-10-18 13:09] jh-kainos commented on #14520
Hi @ahrtr

After further investigation, it looks like the issue is with `etcdadm/etcd-manager` rather than `etcd` itself. `etcd-manager` runs gRPC services on ports 3996 and 3997 which use default Go TLS config. I will close this issue.

[2022-10-18 13:09] #14520 closed

[2022-10-18 16:20] serathius commented on #14140
Please disregard my above comment, I found issue in my setup. I'm still working on reproducing the issue.

[2022-10-19 00:00] fuweid commented on #14487
@serathius @ahrtr it is related to grpc issue fixed by https://github.com/grpc/grpc-go/pull/5714. Is it possible to bump to new grpc version when it is ready?

[2022-10-19 08:00] spacewander opened #14599 "Provide a gRPC alternative of HTTP's `/version` API"
### What would you like to be added?

There is a version API in HTTP part which returns the `server` / `cluster` / `storage` versions:
https://github.com/etcd-io/etcd/blob/main/server/etcdserver/api/etcdhttp/version.go

It seems there is no corresponding API in the gRPC part.
The closest one I found is the `Maintenance.Status` API:
https://github.com/etcd-io/etcd/blob/e24402d39fd08ebca46beeb1f16d2

[2022-10-19 08:24] serathius commented on #14487
Don't know, could you look into that?

[2022-10-19 11:35] HubertZhang commented on #12450
Hi I was wondering will this feature be supported on feature release of etcd 3.5? Creating an embedded etcd cluster using unix socket would be very convenient for test purposes😀

[2022-10-20 01:11] ahrtr commented on #14599
The cluster version is actual the minimal member version. Users/Client can easily get the clusterVersion themselves from the response of endpoint status (see example below).

[code]

[2022-10-20 02:59] stonever opened #14603 "runtime: goroutine stack exceeds 1000000000-byte limit"
### What happened?

call function: func (b *DoubleBarrier) Leave() error, got fatal error

### What did you expect to happen?

no fatal error

### How can we reproduce it (as minimally and precisely as possible)?

not leave  barrier for a long time

### Anything else we need to know?

_No response_

### Etcd version (please run commands below)

<details>

[code]
etcdctl version: 3.5.4
API version:

[2022-10-20 03:40] spacewander commented on #14599
I read the source code of `etcdctl endpoint status`. It is implemented in two steps:
1. call `Cluster.MemberList` to get all endpoints
2. For each endpoint, call `Maintenance.Status` to get its version. The cluster version is the min of the versions

It works but isn't perfect in my case. Previously we only need an HTTP call, but now in gRPC we need N+1 call (N is the num of endpoints).

If permit

[2022-10-20 04:27] ahrtr commented on #14599
Instead of adding a new API, enhancing the existing Maintenance.Status might be make more sense.

Could you elaborate why do you need the `clusterVersion` value or how will you use the value in your application?

[2022-10-20 05:35] spacewander commented on #14599
I use the `clusterVersion` as the heartbeat of the etcd cluster to monitor their status. It would be better to make this operation cheap enough for the heartbeat use case. Replacing `clusterVersion` to `Version` is not so perfect to me as I can't guarantee the node in the etcd cluster only uses the same version.

[2022-10-20 06:02] ahrtr commented on #14603
@stonever could you share your program to reproduce this issue?

[2022-10-20 06:51] stonever commented on #14603
what did thehe program do is:
1. new a double barrier
2. let 10 clients enter together
3. let 10 clients leave in turn, the fatal error produced before all clients left

It is occasional, I'm not sure can reproduce this issue.

[2022-10-20 08:20] ahrtr commented on #14599
OK. We can either add a separate gRPC API which is similar to the `/version` HTTP endpoint, or enhance the `Maintenance.Status` to add one more field `clusterVersion`. Personally I prefer to the latter.

[2022-10-20 14:18] mitake commented on #14571
@euroelessar @yishuT @veshij Sorry for the issue... and thanks for fixing it. Let me check the PR.
Currently auth related tests are independent from others. I guess it's valuable to think about auth enabled version of other integration test cases for detecting regression like this. Changing the test code structure will be quite costly though.

[2022-10-20 18:02] lavacat opened #14606 "Is it feasible to migrate functional test cases to Jepsen?"
### What would you like to be added?

Created a quick proposal [outline](https://docs.google.com/document/d/1qX7VNwZbtiEDUSXrlC3QjuZJfLzwL7bRLcVnKXmKsow/edit).

This is not well flushed out idea, but would like to get feedback if this is worth evaluating.

Let me know if more investigation needed.

### Why is this needed?

No new test cases were added to internal framework since original work in 2

[2022-10-20 18:08] lavacat commented on #14606
cc @endocrimes

[2022-10-22 17:43] ZoeShaw101 commented on #14323
Hi, is this issue revoled?

[2022-10-22 19:47] #13845 closed

[2022-10-22 19:47] #13587 closed

[2022-10-22 19:47] #13849 closed

[2022-10-22 19:47] #13336 closed

[2022-10-22 19:47] #13850 closed

[2022-10-22 19:47] #13871 closed

[2022-10-22 19:48] #13608 closed

[2022-10-22 19:48] #13107 closed

[2022-10-22 19:48] #13722 closed

[2022-10-23 12:12] halegreen commented on #13919
want to work on this issue

[2022-10-24 02:22] #13617 closed

[2022-10-24 06:30] wofr commented on #14542
I now did a deticted deployment of etcd with 3 nodes, on my GKE cluster to see if the problem is etcd or apisix. Unfortunatly it seems to be problem of etcd, at least with the configuration I'm using.  See here my deplyoment yaml (argocd)

[code]

out of the blue the nodes got removed and could not rejoin

[code]

[2022-10-24 16:44] michoello opened #14616 "Leases are not revoked when JWT authentication enabled"
### What happened?

When ETCD is configured to run with JWT authentication specifying public key only, the keys under leases stay alive indefinitely.

When auth token is configured with `--auth-token=jwt,pub-key=jwt_cert.pem,sign-method=ES256,ttl=5m` with no `priv-key` specified, the keys created under lease are not revoked after their TTL is expired.

### What did you expect to happen?

Temporary

[2022-10-24 18:31] EmilyM1 commented on #14324
WIP PR in progress: https://github.com/etcd-io/etcd/pull/14617

[2022-10-24 21:17] ahrtr commented on #14616
You must provide a private key in this case. It may be incorrect to use other private key to generate the token, because the public key should match the private key. cc @mitake

[2022-10-25 03:01] new-dream opened #14619 "There is a bug in function NewMaintenance of client/v3/maintenance.go"
### What happened?

Won't close connection when net meets problem and cause memory leak.

### What did you expect to happen?

The connection should be closed.

### How can we reproduce it (as minimally and precisely as possible)?

call NewMaintenance in your own code and do some net chaos.

### Anything else we need to know?

err = c.getToken(dctx)
	cancel()
	if err != nil {
		 **_conn.Close()_**

[2022-10-25 14:35] mitake commented on #14616
Thanks for reporting @michoello . I think etcd shouldn't accept such an argument and cause error during  initialization phase. What do you think?

[2022-10-25 17:15] michoello commented on #14616
As of today yes, etcd will fail if both `priv-key` and `pub-key` are provided, but are not a pair, thanks to [this check](https://github.com/etcd-io/etcd/blob/main/server/auth/options.go#L148).

Afer that, if the keys match, `pub-key` is never used.
But if `priv-key` is not provided, then lease revoke does not work.

It will be more consistent if etcd allows unrelated `priv-key` and `pub-key`, or

[2022-10-25 22:48] ahrtr commented on #14616
Yes, it's true.

I would suggest to rethink the JWT authentication design & implementation. cc @mitake @serathius @ptabor @spzala

[2022-10-26 13:54] haojinming opened #14631 "concurrency.NewSession hang after etcd server is killed with SIGSTOP(19)"
### What happened?

[`concurrency.NewSession`](https://github.com/etcd-io/etcd/blob/55500416335e959e347d368c7f8a7a0229db3f6a/client/v3/concurrency/session.go#L38) hang after etcd server is kill by SIGSTOP(19)

### What did you expect to happen?

`NewSession` can return error after server is killed.

### How can we reproduce it (as minimally and precisely as possible)?

1. start three or more etcd

[2022-10-26 21:13] geotransformer commented on #14027
Saw exactly same issue for 3.4.13 etcd

Oct 25 14:07:42 node-1 50fecf9b079f[2630]: 2022-10-25 14:07:42.510749 W | etcdserver: read-only range request "key:\"/registry/health\" " with result "error:context deadline exceeded" took too long (2.000058603s) to execute

Oct 25 14:07:43 node-1 50fecf9b079f[2630]: 2022-10-25 14:07:43.486830 W | etcdserver: read-only range request "key:\"/registry/health\"

[2022-10-27 04:58] ahrtr opened #14636 "Scorecards workflow fails"
### What happened?

The Scorecards workflow fails.

Please see https://github.com/etcd-io/etcd/actions/runs/3333799872/jobs/5517612372

Could you take a look at this?  cc @joycebrum

### What did you expect to happen?

I expect it should be successful

### How can we reproduce it (as minimally and precisely as possible)?

Please see the check results on the latest commit

### Anything else we need

[2022-10-27 08:25] ahrtr commented on #14636
This seems the reason (see below). @joycebrum  could you please clarify what update tool is needed?  Is the failure caused by any recent commits in this repo (I doubt it)?

[code]

[2022-10-27 15:41] serathius commented on #14027
@geotransformer There is a known issue with leader election timeout on v3.4.13, please upgrade to latest etcd v3.4 release.

[2022-10-27 18:24] serathius commented on #14045
We have introduced etcd lineariability tests, issues for reproduction:
* [x] https://github.com/etcd-io/etcd/issues/14370 (implemented in https://github.com/etcd-io/etcd/pull/14611)

[2022-10-27 18:25] serathius commented on #14606
This duplicates https://github.com/etcd-io/etcd/issues/14045

[2022-10-27 18:25] #14606 closed

[2022-10-27 22:30] ahrtr opened #14638 "[test] Enhance (*ExpectProcess) ExpectFunc"
### What would you like to be added?

Please read https://github.com/etcd-io/etcd/pull/14574/files#r1007427389

### Why is this needed?

See link above

[2022-10-27 22:39] #14571 closed

[2022-10-28 00:04] geotransformer commented on #14027
Thanks a lot for your replies. Would you please point the reference of the etcd issue id?

[2022-10-28 03:11] serathius commented on #14638
+1 for short running commends like etcdctl we should wait till commands exits instead of waiting for specific log.

[2022-10-28 07:04] ahrtr commented on #14571
Note that this is an important issue although it's simple fix, because new added etcd member may run into data inconsistency issue if auth is enabled.

FYI. https://github.com/ahrtr/etcd-issues/tree/master/issues/14571

[2022-10-28 07:04] kavita1205 opened #14640 "pkg/flags: conflicting environment variable "ETCDCTL_ENDPOINTS" is shadowed by corresponding command-line flag (either unset environment variable or disable flag)"
### What happened?

Hi Team,

I am trying to create cronjob to take k8 cluster backup and using below approach. Also, cluster already exists in my project. But after applying Cronjob to existing cluster, I am getting error "pkg/flags: conflicting environment variable "ETCDCTL_ENDPOINTS" is shadowed by corresponding command-line flag (either unset environment variable or disable flag)" in the conta

[2022-10-28 07:07] kavita1205 commented on #14640
@jingyih can you please help me here.

[2022-10-28 07:34] zeminzhou opened #14641 "`campagin` maybe stuck, when send SIGSTOP to etcd server leader"
### What happened?

[`campagin` ](https://github.com/etcd-io/etcd/blob/main/client/v3/concurrency/election.go#L69)maybe stuck, when send SIGSTOP to etcd server leader

### What did you expect to happen?

`campagin` should return

### How can we reproduce it (as minimally and precisely as possible)?

1. startup 3 etcd servers
2. startup process to run 2 etcd client to campagin
3. send SIGSTOP(kill

[2022-10-28 08:27] MatteoGioioso commented on #13344
Hello, was this implemented? I cannot find a way to configure it.

[2022-10-28 08:27] ahrtr commented on #14640
This might be a known issue, which was fixed in 3.4.21 and 3.5.5. Please refer to https://github.com/etcd-io/etcd/pull/14434

Please let me know whether you can still reproduce this issue in 3.4.21 or 3.5.5 or the `main` branch.

Not: 3.3 is out of support.

[2022-10-28 08:27] #14640 closed

[2022-10-28 08:29] ahrtr commented on #14641
This might be expected behavior. When you start the etcdserver, can the client continue to work?

[2022-10-28 08:30] ahrtr commented on #14641
Duplicate to https://github.com/etcd-io/etcd/issues/14631

[2022-10-28 08:30] #14641 closed

[2022-10-28 08:38] kavita1205 commented on #14640
@ahrtr I am not seeing the solution, that why raised this issue. I have already gone through with existing issue raised in this portal. Can you please paste the actual solution here, instead of closing it.

[2022-10-28 08:40] ahrtr commented on #14640
It's an issue, you need to upgrade to 3.4.21 and 3.5.5. @tjungblu

[2022-10-28 08:43] kavita1205 commented on #14640
@ahrtr  you mean to say that I need to upgrade existing cluster to version 3.4.21 instead of using dockerfile where etcd version is 3.5.5.

[2022-10-28 08:45] tjungblu commented on #14640
While it looks like the fix in #14434, it's simply that you're passing both ENV variables and CMDLINE arguments in your pod template and container image:

[code]

As the error states, just use one or the other, but both will not work.

[2022-10-28 08:46] ahrtr commented on #14640
Also make sure both your `etcdctl` and `etcd` are on the new version, 3.4.21 or 3.5.5

[2022-10-28 09:01] tjungblu commented on #14619
How are you using the client? You can close the underlying dial by terminating the whole client:

[code]

[2022-10-28 09:36] zeminzhou commented on #14641
Yesh, when I start etcdserver again, the client will continue to work.

[2022-10-28 09:37] zeminzhou commented on #14641
Is this as expected? I think campagin should return

[2022-10-28 11:39] kavita1205 commented on #14640
Thanks @ahrtr and @tjungblu , it worked after deleting variable ETCDCTL_ENDPOINTS from args and using etcdctl version 3.5.5.
solution:

[code]

[2022-10-28 16:10] shreemaan-abhishek opened #14645 "A way to view all the prefixes in the etcd cluster."
### What would you like to be added?

Ideally, a command line argument like `etcdctl get prefixes --all`.

### Why is this needed?

I noticed that it's not quite trivial to have detailed information about whatever is stored in my etcd cluster db. Although it is highly possible that I feel so because of my unfamiliarity with etcd/etcdctl.

I realized a need for this when I was playing around with m

[2022-10-28 16:11] shreemaan-abhishek commented on #14645
I would be more than happy to work on this issue with some guidance from the maintainers. I am totally new to the etcd codebase.

[2022-10-28 19:59] joycebrum commented on #14636
@ahrtr, the error is actually this:

[code]

I've created an issue to Scorecard Team https://github.com/ossf/scorecard-action/issues/998, but the version upgrade of scorecard github action seems to solve it. I'll open a PR with the solution, thanks for reaching me out 😄.

[2022-10-28 21:28] ahrtr commented on #14636
Thanks @joycebrum   Could you help me to understand why we ran into this issue without changing anything on Scorecard workflow configuration?

[2022-10-28 21:56] ahrtr commented on #14636
I'd like to get more clarification from @joycebrum before closing this issue.

[2022-10-29 05:29] ahrtr commented on #14571
Next steps:
1. Backport https://github.com/etcd-io/etcd/pull/14589 to 3.5 and probably 3.4. @biosvs Please let me know if you have bandwith to do this.
2. Backport the e2e test case in https://github.com/etcd-io/etcd/pull/14574 to 3.5 and probably 3.4. @veshij Please let me know if you have bandwidth to do this. Of course, you need to do it after above task is done.

[2022-10-29 05:37] veshij commented on #14571
Yep, I’ll backport once test cases are backported

Пт, 28 окт. 2022 г. в 22:30, Benjamin Wang ***@***.***>:

--
Oleg Guba

[2022-10-29 06:14] ahrtr opened #14651 "Plans for v3.4.22 release"
The list below may change per the discussion in the community.

## Issues/PRs that should be included in 3.4.22
* [X] https://github.com/etcd-io/etcd/pull/14530
* [X] https://github.com/etcd-io/etcd/pull/14548
* [X] https://github.com/etcd-io/etcd/pull/14562
* [X] https://github.com/etcd-io/etcd/pull/14649

If we backport https://github.com/etcd-io/etcd/pull/14589 to 3.4 (@biosvs), then we also ne

[2022-10-29 13:10] EricLiuRan opened #14653 "When the election time exceeds the network error"
### What happened?

We injected a 12 second network error(disable the port) into the switch, Etcd should elect the new leader right after the port is recovered. However, the actual time from the failure to the new leader is elected is 26 second, far exceeding expectations.
After repeated fault injection tests, with the network error duration is 15s, 17s, 20s, each time from fault injection to reco

[2022-10-29 15:10] zeminzhou commented on #14641
And I don't think this is a `expected behavior`. Because `campagin` can't return even if `cancel` is called or timeout when etcd server leader was SIGSTOP.

[2022-10-29 16:02] shreemaan-abhishek opened #14654 "A way to watch events stream on leases."
### What would you like to be added?

Something like this: `etcdctl watch --lease <name>`

### Why is this needed?

Because, why not? This would show consistency in the functionality for the command line tool. Not having a `watch` feature for a dynamic entity like `lease` does not make sense to me.

Again, I would be more than happy to contribute this feature with some guidance from the maintainer

[2022-10-29 18:33] serathius commented on #14654
Because it would require a lot of work with no benefit.

[2022-10-29 18:34] serathius commented on #14653
Interesting could you reproduce it on latest version of etcd v3.5.5?
Would be great to add a test that validates that leader election latency.

[2022-10-29 22:07] ahrtr commented on #14449
The ticket has already been resolved.

[2022-10-29 22:07] #14449 closed

[2022-10-30 06:54] ahrtr commented on #14571
Just added an e2e test for 3.5. FYI. https://github.com/etcd-io/etcd/pull/14656

[2022-10-30 07:28] serathius commented on #14571
FYI me and @chaochn47 are working on adding linearizability test case for authorization. They should allows us to test other scenarios where injected failure could cause a authorization issue. Following known data inconsistency should also allow us to focus our work on features that had issues in past.

[2022-10-30 08:01] ahrtr commented on #14651
release-3.4 has huge difference with `main` and `release-3.5`, it might not be easy/feasible to backport https://github.com/etcd-io/etcd/pull/14589 to 3.4.

The fix for https://github.com/etcd-io/etcd/issues/14571 is simple, and @mitake already added unit test for 3.4. I also manually verified that it's working well right now. So I will not backport or add e2e test for release-3.4. Please let me k

[2022-10-30 09:04] ahrtr commented on #14571
Looks good to me.

All related PRs are merged. I think it's ready to release 3.4.22 and 3.5.6. I will release 3.4.22 sometime in the following week. Please add your comments or concerns in https://github.com/etcd-io/etcd/issues/14651 . @mitake @veshij @serathius @spzala @ptabor

[2022-10-30 12:12] mitake commented on #14651
Thanks @ahrtr , I also checked the reproducibility of the issue on my local env and confirmed `release-3.4` works fine.

[2022-10-31 00:13] #14603 closed

[2022-10-31 08:10] serathius commented on #14243
I have updated https://github.com/etcd-io/etcd/blob/main/CONTRIBUTING.md. Proposal for mentorship is interesting but didn't get enough interest. Feel free to reopen when it gets enough traction (at least couple of people willing to offer their time to regularly join the program).

[2022-10-31 08:10] #14243 closed

[2022-10-31 10:08] biosvs opened #14665 "Proxy: Add watchers for keys in cache"
### What would you like to be added?

Run watcher inside proxy for every key that is added to the cache.

(Maybe you have some better suggestions, this issue is created for architecture discussion.)

### Why is this needed?

I have noticed, that proxy cache doesn't have any TTL for keys or any other options to update values other than by making direct request to the proxy node. Either to get key (

[2022-10-31 10:40] tjungblu commented on #14665
Just to clarify. Your setup looks like this:

[code]

then "YourCode" writes some key/value, let's say `a=1` and another actor removes that key from etcd directly?

[2022-10-31 11:22] biosvs commented on #14665
I have client and several proxy nodes:

[code]

Let's imagine I have key `k1` with value `v1` in etcd.
I read `k1` from Proxy1, then read `k1` from Proxy2. Both proxies have "k1 -> v1" in cache now.
Then I overwrite `k1` with value `v2` through Proxy1.
Now Proxy1 has actual "k1 -> v2", but Proxy2 has stale "k1 -> v1".

[2022-10-31 11:41] tjungblu commented on #14665
Thanks for the clarification, is the issue that you read stale values from `Proxy2`? Or the memory usage from the stale entries?

As far as I understand the proxy code it will only return serializable results from the cache and save the last response as such (basically a write-through caching):
https://github.com/etcd-io/etcd/blob/main/server/proxy/grpcproxy/kv.go#L40-L68

[2022-10-31 12:08] biosvs commented on #14665
So, yes, I think that stale reads from Proxy2 is the issue.

You're right, stale reads are possible only with "serializable" mode. And it's true for direct connection toward etcd cluster.
But eventually all the nodes of the cluster will have actual value. Which is in turn not true for proxy nodes - there is no "eventually consistency" guarantees for them. And I think it should be, otherwise the on

[2022-10-31 12:14] Elbehery commented on #14243
Thanks a lot @serathius. appreciate ur response here and on slack 👍🏽 🙏🏽

[2022-10-31 15:08] joycebrum commented on #14636
@ahrtr I'm not sure why it started to happen out of nowhere.

I've openned this issue https://github.com/ossf/scorecard-action/issues/998 to the Scorecard team and it seems to be related to the issue https://github.com/sigstore/cosign/issues/2390 in sigstore.

[2022-10-31 19:33] ahrtr commented on #14636
Thank you @joycebrum

[2022-10-31 19:33] #14636 closed

[2022-10-31 20:12] sumithreddy opened #14666 "Continuous unsuccessful raft election loop"
### What happened?

I have noticed this issue few times recently.
Node reboot/s are causing raft election issues on my deployments.
Its goes into a continuous election loop.

### What did you expect to happen?

I expected election to finish and cluster to start functioning.

### How can we reproduce it (as minimally and precisely as possible)?

restart the pods/nodes few times

### Anything else w

[2022-10-31 20:50] ahrtr commented on #14666
It seems that you do not use etcd; Instead, your application just uses the raft package, right?

It's strange that your application complained that "GetKey: No leader elected" about 250ms after raft sent out the PreVote request.  It looks like you do not use raft correctly. cc @tbg

[code]

[2022-10-31 21:37] sumithreddy commented on #14666
Yes just the raft package of etcd

There is incoming traffic to the cluster to read/write keys, those are the failure you see as part of the logs.
I just grepped and posted the election logs. There is no active quorum, so failures are expected.

And also, 2 pods are same term and index, is that something you handle ?

And also, can you elaborate a bit more on not using raft correctly.

[2022-11-01 01:56] walleliu1016 opened #14668 "use restore to recover occurred panic"
### What happened?

The etcd I use has 3 nodes, but they all restarted accidentally. I hope to restore the cluster through the restore function, and try to restore from the backup file of machine A. The restoration is successful on machine A, but the same backup file from machine A occurred panic error when execute restoration on machine B and C.

### What did you expect to happen?

It can also be

[2022-11-01 02:40] lavacat commented on #14668
is this reproducible in latest 3.4 release? Your stack trace has bbolt@v1.3.3, but latest release has 1.3.6
https://github.com/etcd-io/etcd/blob/v3.4.21/go.mod#L42

[2022-11-01 02:57] lavacat commented on #14668
It's possible that your snapshot file got corrupted during copy to B and C. Can you confirm that `md5sum` is the same on all hosts?

[2022-11-01 03:21] vivekpatani opened #14670 "Automatically use latest golangci-lint tool"
### What would you like to be added?

https://github.com/etcd-io/etcd/blob/5073af65210397012e85abfa9c7cd24777cf443f/.github/workflows/static-analysis.yaml#L14 - here we see the version is out of date (v.1.50.1 is latest - https://github.com/golangci/golangci-lint/releases)

Can we always use the latest version so requires less maintenance.

### Why is this needed?

Simplifies the build process, ma

[2022-11-01 03:25] vivekpatani opened #14671 "Use StringVar instead of DurationVar"
### What happened?

When used with other orchestration systems, the `StringVar` is much more versatile than a `DurationVar`.

[code]

### What did you expect to happen?

For variable to be parsed.

### How can we reproduce it (as minimally and precisely as possible)?

Run it with a build system that uses JSON conversion.

### Anything else we need to know?

Can Deliver PR.

### Etcd version (pleas

[2022-11-01 08:20] Limnotation commented on #13918
Any updates on this issue?

[2022-11-01 09:24] walleliu1016 commented on #14668
it looks like the reason, i checked the file with different md5 value, maybe the rz/sz problems.
thanks a lot

[2022-11-01 09:24] #14668 closed

[2022-11-01 10:20] tjungblu commented on #14671
Can you be a bit more specific on what you're doing?
I read that you create a etcd config using JSON and then it chokes on the `experimental-corrupt-check-time` converting to yaml?

[2022-11-01 10:31] tjungblu commented on #14653
I would also love to reproduce this, we've seen something similar with OpenShift a while ago on some cloud providers. @EricLiuRan Do you use a special switch to inject this failure or can this be done on the OS as well?

[2022-11-01 10:50] serathius commented on #14670
Picking latest introduces a risk of getting unrelated failures on PR. I'm more for reproducability of runs. I think that sending a PR that bumps a version is not big cost.

Don't agree with that. It makes CI process hard to predict or reproduce.

[2022-11-01 11:08] serathius commented on #13918
It has not been reproduced on latest supported version of etcd (v3.4.21, v3.5.5) so there is no progress.

[2022-11-01 12:05] tjungblu commented on #14638
prepared something in https://github.com/etcd-io/etcd/pull/14672, let me know what you guys think.

[2022-11-01 12:31] vivekpatani commented on #14670
Versions will keep lagging if we pin it to a specific version. It’s a linter, imagine this to pretty benign.

Feel free to close the issue if you feel otherwise.

[2022-11-01 12:40] vivekpatani commented on #14671
Sorry, my point being, if you use a build system like [Puppet](https://github.com/puppetlabs/puppet), it is practically impossible to pass a DurationVar, since puppet (or for the most part other build/config management systems too) doesn’t have context of this specific type of variable and is a Golang construct only.

My proposal is to use a simple StringVar to make it easier to work with such bui

[2022-11-01 13:04] tjungblu commented on #14671
Could you please specify what Puppet outputs and how you run etcd here? I think it would make it easier to understand.
The DurationVar will just parse a string using [time.ParseDuration](https://pkg.go.dev/time#ParseDuration), so what prevents you from passing that from Puppet?

[2022-11-01 21:35] ahrtr commented on #14671
Please let me know whether the [workaround](https://github.com/ahrtr/etcd-issues/tree/master/issues/13480) works for you.

[2022-11-01 21:39] vivekpatani commented on #14671
Couldn't have put it in better words, thanks @ahrtr, I was just working on providing a config, but this makes sense in a much more intuitive way, and is more generalised as a solution.

[2022-11-01 21:42] vivekpatani commented on #14670
@serathius I think https://github.com/dependabot is a much better solution/extensible. Appreciate the feedback, can we just enable that, and then define a ruleset around it? I can assist if that is something the community is interested in? Thanks. CC: @ahrtr

[2022-11-01 21:43] ahrtr commented on #14671
Good to know it works for you.

[2022-11-01 21:54] ahrtr commented on #14670
Basically I agree with @serathius . Please feel free to deliver a PR to bump the version to 1.50.1, and we can discuss any other topics (e.g `dependabot`) separately.

[2022-11-01 21:55] vivekpatani commented on #14671
@ahrtr If I understand the CLI will still fail after this
[code]
Was the solution you suggested work only when parsing via JSON?

I'm going to try it for that, but this seems inconsistent. Can you please tell me, if I doing something wrong? Thanks.

[2022-11-01 21:55] vivekpatani commented on #14670
@ahrtr understood. Will deliver by the weekend at most.

[2022-11-01 21:58] ahrtr commented on #14671
Yes.  CLI supports format something like "40s", but JSON doesn't.

[2022-11-01 22:03] vivekpatani commented on #14671
So the scenarios here seem a little bit complicated (maybe?).

CLI
- Doesn't support raw numbers, need to pass a unit of time.

JSON
- Supports raw numbers, but not units.

While I understand this is a `golang` expected behavior, it seems to be confusing to some extent.

[2022-11-01 22:10] vivekpatani opened #14673 "Enable Dependabot for etcd if we see a good fit"
### What would you like to be added?

[Dependabot](https://github.com/dependabot)

Should we introduce this tool?

### Why is this needed?

Pros:
1. Notifies of newer library versions (https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/configuring-dependabot-version-updates) - by notifications or creates an automated PR. This helps us is keeping up with the latest versi

[2022-11-01 22:10] vivekpatani commented on #14670
https://github.com/etcd-io/etcd/issues/14673

[2022-11-01 22:10] #14670 closed

[2022-11-01 22:12] ahrtr commented on #14671
I think applications need to take care of this difference for now.  For this specific example, you need to pass "40" to CLI, while put `40000000000` in config file for JSON to unmarshal.

[2022-11-01 22:15] vivekpatani commented on #14671
I think you meant
"40s" - CLI
"40000000000" - JSON

I think I get your point, my point was just that, instead of having to accept a `DurationVar`, we should instead accept a `StringVar` to standardise it, instead of having it this way. I don't have a strong preference either way.

[2022-11-01 22:35] ahrtr commented on #14671
It might make some sense.

## Proposal
The rough proposal is to change all user facing duration parameters to string, and etcd uses [time.ParseDuration](https://github.com/golang/go/blob/go1.19.2/src/time/format.go#L1522) to parse the value. If it's a integer (no unit, e.g. `40`), then it defaults to seconds.

## Pros
This solution has no any impact on existing users, so it should be safe. The onl

[2022-11-01 23:26] vivekpatani commented on #14671
Thank you for the @ahrtr.

@ahrtr can do a little bit of recon work to figure out how involved the task will be, while we debate if this needs to be done.

[2022-11-02 00:33] ahrtr commented on #14651
3.4.22 is released, thanks everyone who contributed to the release!

https://github.com/etcd-io/etcd/releases/tag/v3.4.22

[2022-11-02 00:33] #14651 closed

[2022-11-02 01:13] ahrtr commented on #14571
FYI.  v3.4.22 is just released, which includes the fix to this issue. https://github.com/etcd-io/etcd/releases/tag/v3.4.22

@serathius I suggest you to release 3.5.6 as well.

[2022-11-02 07:58] danzelchen commented on #12405
@KarthikNedunchezhiyan did you have solve this problem? I meet the same situation for now

[2022-11-02 08:06] KarthikNedunchezhiyan commented on #12405
If I am not wrong, I remember this was due to disk IO spike. In my case, the environment I used to run is a shared environment. Basically a VM. The host is shared with other services. What happened in my case is that, one of the tenants (other services) utilized more disk IO.  That caused etcd IO operations slow.

[2022-11-02 10:00] tjungblu commented on #14671
@ahrtr so you're saying that go's encoding/json has troubles with parsing this:

[code]

into a struct like this?

[code]

[2022-11-02 10:03] PoojaGidaveer opened #14679 "Benchmark Tool Error- grpc: addrConn.createTransport failed"
### What happened?

Hi,

I am trying to execute performance Tests for etcd.
Tool Used- benchmark

Test Execution-
1. deployed the benchmark pod of image- `fangruo/etcd-benchmark:1.0`
2. Ssh into the benchmark-pod and executed below command
`benchmark --endpoints={HOST_IP} --sample=true --conns=100 --clients=1000 put --key-size=256 --sequential-keys --total=400 --val-size=1024`

Instead of putting

[2022-11-02 10:14] ahrtr commented on #14671
Right, FYI.

- [https://github.com/ahrtr/etcd-issues/blob/master/issues/13480/main.go](https://github.com/ahrtr/etcd-issues/blob/master/issues/13480/main.go)
- [https://github.com/ahrtr/etcd-issues/tree/master/issues/13480](https://github.com/ahrtr/etcd-issues/tree/master/issues/13480)

[2022-11-02 10:23] tjungblu commented on #14671
We could also wrap the `time.Duration` into our own type that parses the JSON correctly, eg like described here: https://robreid.io/json-time-duration/

[2022-11-02 10:34] ahrtr commented on #14671
It also needs to convert the user-facing parameter to `string`. What you suggested is the detailed implementation after converting the user-facing parameter from `time.Duration` to `string`.

[2022-11-02 10:55] ahrtr commented on #14671
We need to define a type to implement the following interfaces, so that it can elegantly process both command-line parameter parsing and JSON/YAML parsing.

- [flag.Value](https://github.com/golang/go/blob/81efd7b347dd6d7f12fd49c6eee0274005734c71/src/flag/flag.go#L350)
- [json.Marshaler](https://github.com/golang/go/blob/81efd7b347dd6d7f12fd49c6eee0274005734c71/src/encoding/json/encode.go#L223)
-

[2022-11-02 10:57] ahrtr commented on #14671
FYI.
[uint32](https://github.com/etcd-io/etcd/blob/main/pkg/flags/uint32.go) implements `flag.Value`.
The [link](https://robreid.io/json-time-duration/) you provided is a good example on `json.Marshaler` and `json.Unmarshaler`.

[2022-11-02 11:17] serathius commented on #14679
We don't support `fangruo/etcd-benchmark:1.0`

[2022-11-02 11:17] #14679 closed

[2022-11-02 11:17] serathius commented on #14679
Recommend figuring out why `http://HOST_IP:2379` is not a proper address.

[2022-11-02 15:29] klolos commented on #14523
@serathius @ahrtr Have you had the chance to look into this?

[2022-11-02 15:49] serathius commented on #14523
No, we are unfortunately busy with handling another data inconsistency issue.
Thanks for reproducing it without istio, however I'm still unsure how to reproduce it myself. Could you provide a short script that shows the behavior?

[2022-11-02 15:51] #14540 closed

[2022-11-02 16:16] serathius commented on #14513
@tbg thoughts?

[2022-11-02 16:19] serathius commented on #14673
I'm all for it.

We just want to get a PR once a week that updates dependencies in go.mod. Doesn't seem like to much noise.

Don't think pushing toil like updating dependencies is a good first contributor experience.

[2022-11-02 21:30] ahrtr commented on #14523
I see lots of "`prober detected unhealthy status`" warning message, it seems that it's still caused by peer network communication issue.

[2022-11-03 01:33] vivekpatani commented on #14673
@ahrtr @spzala @mitake @ptabor any thoughts?

[2022-11-03 01:44] ahrtr commented on #14619
Already fixed in https://github.com/etcd-io/etcd/pull/14635

[2022-11-03 01:44] #14619 closed

[2022-11-03 11:43] tbg commented on #14513
`datadriven` is a small testing dependency (like `require`, for example). It's not ideal that it is in the import graph, as @serathius points out this is because of the `rafttest` package. I think the solution would be more simply to move the contents of `rafttest` (or at least `InteractionEnv`) into `_test.go` files in the raft package itself, as it's only used from within the raft tests. The ori

[2022-11-03 11:54] kavita1205 opened #14680 "ETCDCTL_API=3 etcdctl member list - getsockopt: connection refused"
### What happened?

Hi Team,

When I am running this command , I am getting below error.

$ETCDCTL_API=3 etcdctl member list
Error:  dial tcp 127.0.0.1:2379: getsockopt: connection refused

Can someone help me how can we fix this.

### What did you expect to happen?

This command should run and provide me member list.

### How can we reproduce it (as minimally and precisely as possible)?

Run this

[2022-11-03 11:59] serathius commented on #14680
` 3.2.18` is no longer supported.

[2022-11-03 11:59] #14680 closed

[2022-11-03 12:01] tbg commented on #14513
See also https://github.com/etcd-io/etcd/pull/14674#discussion_r1012809118. The `datadriven` dependency is pruned, so it's not actually pulled in when using the library.

However, `etcd/api/v3/versionpb` *is* a true dependency, i.e. a real problem:

[code]

[2022-11-03 14:08] tbg commented on #14666
@sumithreddy I think it will be difficult to troubleshoot your problem without a self-contained reproduction. It is likely that the error is in your integration with raft vs the raft library itself, and we cannot generally help troubleshoot such problems due to bandwidth constraints. If you can provide a test case of what you're seeing using `TestInteraction`[^1], we could engage.

[^1]: https://g

[2022-11-04 08:04] ahrtr commented on #14513
Somehow I did not reproduce the issue locally.
[code]

[2022-11-04 08:06] ahrtr commented on #14513
Note that this isn't an issue for etcd `main` (3.6), please see https://github.com/etcd-io/etcd/pull/14674#discussion_r1013718338

[2022-11-04 14:02] kavita1205 opened #14688 "Not able to take etcd backup using cronjob"
### What happened?

Hi Team,

I am trying to take backup of our existing kubernetes cluster v 1.24 using cronjob. In our company we have 5 master servers, so I wanted to take backup of each master server. So, I am running a script (which will take backup) in configmap and passing this configmap in cronjob.
The issue is , this cronjob is not able to take backup. So, can someone help me here.

Below

[2022-11-04 14:03] kavita1205 commented on #14688
@tjungblu can you please help me here.

[2022-11-04 14:12] serathius commented on #14688
This is not a bug. For support request please use https://github.com/etcd-io/etcd/discussions

[2022-11-04 14:12] #14688 closed

[2022-11-05 03:08] ahrtr commented on #14673
I don't have strong opinion on this, but I think it's worth a try.

[2022-11-05 05:31] dmitry-mightydevops opened #14692 "extremely slow single node etcd spending most of the time in golang.org/x/crypto/blowfish.encryptBlock"
### What happened?

extremely slow single node etcd deployed in the eks cluster (t3.medium).

I have ran `go tool pprof` and found that most of the time etcd stays in:
`14.32s 93.78% 93.78%     14.35s 93.98%  golang.org/x/crypto/blowfish.encryptBlock`

I barely get 100 ops per second

### What did you expect to happen?

much faster write operations

### How can we reproduce it (as minimally and pr

[2022-11-05 23:10] ahrtr commented on #14692
Could you verify the performance of `bcrypt.GenerateFromPassword([]byte("changeme"), bcrypt.DefaultCost)` and `bcrypt.CompareHashAndPassword(hashedPassword, []byte("changeme"))` in your environment?

Note that that's the functions used by etcd.

[2022-11-06 00:55] ahrtr opened #14694 "[test] TestCtlV3CompletionBash failure"
### Which github workflows are flaking?

Coverage

### Which tests are flaking?

--- FAIL: TestCtlV3CompletionBash (0.03s)
    before.go:35: Changing working directory to: /tmp/TestCtlV3CompletionBash3735100601/001
    ctl_v3_completion_test.go:49:
        	Error Trace:	ctl_v3_completion_test.go:49
        	            				ctl_v3_completion_test.go:29
        	Error:      	Received unexpected erro

[2022-11-06 22:36] #14323 closed

[2022-11-07 01:36] dmitry-mightydevops commented on #14692
@ahrtr

thanks for your suggestions!

I have used bcrypt.MinCost (4) and bcrypt.DefaultCost (10) for the benchmark to compare the speed.

[code]

### cpu info

[code]

If I run `iostat -cm 1` alongside the benchmark test running I constantly see the the following load

[code]

### code of my test function and the benchmark

**main.go**

[code]

**main-test.go**

[code]

[2022-11-07 02:43] dmitry-mightydevops commented on #14692
Also if I run the [benchmark utility](https://etcd.io/docs/v3.5/op-guide/performance/)

[code]

I get no issues with **golang.org/x/crypto/blowfish.encryptBlock** call. So I kinda leaning towards to believe that the problem is that in my case the code (Python code actually) either drops connection prior every PUT / GET operation or literally authenticates incorrectly for each operation.

[code]

[2022-11-07 03:04] ahrtr commented on #14692
Based on this, it seems that `bcrypt.MinCost` has much better performance than `bcrypt.DefaultCost`. @mitake  Is it expected performance results? @dmitry-mightydevops  Could you compare the performance with `--bcrypt-cost 10` vs  `--bcrypt-cost 4`?

[2022-11-07 08:57] serathius commented on #14513
Based on comments above I conclude that issue is no longer affecting etcd main as it addopts go1.17 which introduced [module graph pruning](https://go.dev/ref/mod#graph-pruning). Downstream users of raft library are no longer affected by test dependencies used by raft, so there is no need to follow this up.

@dims @liggitt is this ok with you? Can we close the issue?

[2022-11-07 12:04] tbg commented on #14513
@serathius I'm happy to file a new issue for this as well, but the above question[^q] still stands and seems pertinent as it has caused a number of problems at least for CRDB's import of raft:

By the way, I also have a pet peeve about dependencies, there is a dependency on `etcd/api/v3/versionpb`[^1] which has caused problems using the library from CockroachDB[^2]; effectively we're vendoring wit

[2022-11-07 13:33] cjl7 opened #14700 "typo in docs"
### What happened?

reading the docs I found that etcdctl was typo:ed to etcdutl.

Link: https://etcd.io/docs/v3.5/op-guide/recovery/#restoring-a-cluster

First paragraph, second sentence.

### What did you expect to happen?

N/A

### How can we reproduce it (as minimally and precisely as possible)?

N/A

### Anything else we need to know?

Nothing that stopped me of course, just trying to help ke

[2022-11-07 15:02] serathius opened #14701 "TestLinearizabilityKillClusterOfSize flake"
### Which github workflows are flaking?

Linearizability tests

### Which tests are flaking?

TestLinearizabilityKillClusterOfSize

### Github Action link

https://github.com/etcd-io/etcd/actions/runs/3408835330/jobs/5669881618

### Reason for failure (if possible)

Not sure, no trace of error. We are missing a log that would indicate the failure.
[code]

### Anything else we need to know?

_No re

[2022-11-07 15:21] halegreen commented on #14638
@tjungblu hi, are you still working on this ?

[2022-11-07 15:23] tjungblu commented on #14638
yep, I'm busy with some downstream work for the next couple of days, but I pick it up again on Thursday.

[2022-11-07 15:31] halegreen commented on #14040
want to working on this while the run log is expired, can I see the log any where else?

https://github.com/etcd-io/etcd/runs/6423405520

<img width="656" alt="Screen Shot 2022-11-07 at 11 29 47 PM" src="https://user-images.githubusercontent.com/13792102/200349449-4789a1e9-7646-48e3-bdb6-7394509b9ee6.png">

[2022-11-08 06:17] zeminzhou commented on #14631
@ahrtr How about add a configuration item that controls the timeout of grpc function calls when create the etcd client？

[2022-11-08 10:38] serathius commented on #14513
Me and @ahrtr cleanup all raft dependencies on etcd in https://github.com/etcd-io/etcd/pull/14705 and https://github.com/etcd-io/etcd/pull/14703

@tbg Can you work on removing dependency on `github.com/cockroachdb/datadriven` ?

[2022-11-08 14:04] mitake commented on #14616
@ahrtr Got it, let me check that. But for a while it will be hard for me to allocate bandwidth for this issue...
@michoello Could you try CommonName based authentication as a workaround?

[2022-11-08 14:56] pavelkalinnikov opened #14709 "raft: use testify package in unit tests"
### What would you like to be added?

Use `github.com/stretchr/testify/require` and `github.com/stretchr/testify/assert` packages in all unit tests.

Demo PR: #14708

### Why is this needed?

This removes much boilerplate from the tests, and improves speed and quality of understanding and modifying them.

[2022-11-09 01:52] ahrtr commented on #14533
any updates on this? @ajityagaty

[2022-11-09 05:51] yishuT commented on #14616
The problem we are solving is that we want to put a proxy between clients and etcd. However, we don't want to create etcd client per user in the proxy process. Therefore, we use certs manager to sign jwt token so that clients can pass the token in the request context.

[2022-11-09 08:23] ahrtr opened #14713 "raft: decouple raft release from etcd release"
### What would you like to be added?

Currently the [raft](https://github.com/etcd-io/etcd/tree/main/raft) is released & tagged together with etcd. For example, when we release etcd 3.5.5, we will create tag `v3.5.5` for etcd and `raft/v3.5.5` for raft at the same time respectively.

raft is an important & stable module, it may have different evolution pace from etcd. I think it would be better to

[2022-11-09 09:31] serathius commented on #14713
Moving raft to separate repo was already discussed and got early support in etcd maintainer mailing list. Overall it make sense for me as it will allow raft maintainers to implement their changes without being constrained by etcd.

My main worry is about investment cost. Will investing time and effort into code organization is as important now if we could invest it in other places.  I think it's u

[2022-11-09 09:37] youkpan opened #14715 "build error"
### What happened?

log:
...
go: downloading github.com/cenkalti/backoff/v4 v4.1.3
go: downloading github.com/grpc-ecosystem/grpc-gateway/v2 v2.7.0
Running etcd_build
% rm -f bin/etcd
% (cd server && env CGO_ENABLED=0 GO_BUILD_FLAGS= GOOS= GOARCH= go build -installsuffix=cgo -ldflags=-X=go.etcd.io/etcd/api/v3/version.GitSHA=49ecea5 -o=../bin/etcd .)
stderr: go: downloading github.com/golang/groupc

[2022-11-09 11:36] falser101 commented on #14709
/assign

[2022-11-09 12:51] serathius commented on #14709
@falser101 I think the issue is already worked on. https://github.com/etcd-io/etcd/pull/14708

[2022-11-09 15:17] serathius commented on #14709
Closed by https://github.com/etcd-io/etcd/pull/14708

[2022-11-09 15:59] tbg commented on #14513
@serathius we don't want to remove the dependency (recall that this is a little testing library that we use prominently in raft), all we can do is move it explicitly into testing-only code. But either way, users of the library don't pick it up due to pruning.

[2022-11-09 17:03] tbg commented on #14713
The main goal for now should be making it possible for `etcd` to release with a version of raft of their choosing, i.e. establishing symmetry between `etcd` and the other consumers of `raft` (like CockroachDB). Changes to raft should not have to grind to a halt, for example, in the lead-up to an etcd release but this tends to be prudent if both are to be released from a joint SHA.

For the communi

[2022-11-09 20:43] pavelkalinnikov commented on #14713
FWIW, last time I checked it was possible to release different modules independently within the same repo. The magic is in prefixing the tag with the submodule name/path within the repo. For example, see "Tag based versioning" [here](https://stackoverflow.com/questions/55041915/multiple-modules-within-the-same-project#answer-71984158).

So, you could have `v3.x` tags for most of the etcd stuff, an

[2022-11-09 20:53] pavelkalinnikov commented on #14713
If we end up "restarting" the versioning for the raft package, I would suggest not rushing into `v1` straight away though. Stay in `v0` for a bit, reevaluate the API. Once in `v1`, there is a stricter semver expectation at the code level (not only at the behaviour). Systems usually ignore this rule, but `etcd/raft` is more at the "library" end, so code-level semver would be ideal.

[2022-11-09 21:54] pavelkalinnikov commented on #14709
This is not done, there will be a few commits making more tests to take advantage of this package, notably `raft_test.go`.

[2022-11-10 08:13] serathius commented on #14045
A bittersweet news that the proposed approach has already bear fruit, we found data inconsistency on etcd revision https://github.com/etcd-io/etcd/pull/14685

[2022-11-10 09:44] tbg commented on #14713
@pavelkalinnikov right this is Go, good to know, but etcd also relies on Github releases: https://github.com/etcd-io/etcd/releases
I don't think there is a way to say "make a release but only of this directory". So awkwardly, an etcd release will contain raft code that isn't actually used in that release. And more awkwardly, a raft release is really a full etcd tarball as well. I don't see a way a

[2022-11-10 09:54] tbg commented on #14713
`raft` is a mature library that is (presumably) used in lots of places, so we would want to have continuity with the current version, i.e. have a production-ready release right away to make it easy for users to switch to. I think it would raise questions to go to v0, or even to v1. Currently we are at v3 and so shouldn't we continue there? I don't see a better way to make clear that the standalone

[2022-11-10 10:37] klolos commented on #14523
@serathius We were able to reproduce it on Kubernetes with Istio simply by restarting an etcd member (see https://github.com/etcd-io/etcd/issues/14523#issue-1386472947). Also, we reproduced it without Istio by restarting an etcd member around the time the other member reported it becoming active (see https://github.com/etcd-io/etcd/issues/14523#issuecomment-1259234399). In both cases we used a two

[2022-11-10 18:05] serathius opened #14726 "Implement remaining gofailpoints in linearizability tests"
### What would you like to be added?

This is followup to https://github.com/etcd-io/etcd/pull/14687 that introduced triggering random failpoint.
Failpoints are injected by sending http request to modified etcd server that will panic on when it reaches specific part of code.
Problem is that some failpoints will not be naturally triggered and require additional action to server to reach the code. F

[2022-11-10 18:56] serathius opened #14727 "Remove path from gofailpoints"
### What would you like to be added?

compiling etcd with `FAILPOINTS=true make build` results in expanding etcd with failpoints thanks to https://github.com/etcd-io/gofail library. Problem is that gofail injects package path to name of failpoint. This causes two problems.

First gofail was created before go1.12 and uses path from `GOPATH` and not `go.mod`. As result path is different between CI a

[2022-11-10 19:02] serathius opened #14728 "Support triggering multiple failpoints at once"
### What would you like to be added?

This is limitation of https://github.com/etcd-io/gofail library we use in linearizability and functional testing. In command line interface user can provide multiple failpoints, but when using HTTP endpoint we can only provide one failpoint at once https://github.com/etcd-io/gofail#http-endpoint.

### Why is this needed?

This would allow better reproduction o

[2022-11-10 19:07] AddoSolutions commented on #8184
For those that find this later, I was reduced to one, failed etcd node that wouldn't come back up because it missed its friends too much (nothing in the logs)

I went ahead and restarted with `--force-new-cluster` and BAM she was back! I was able to perform a backup and may be able to restore from there

[2022-11-10 19:16] serathius opened #14729 "Implement injecting sleep in go failpoints"
### What would you like to be added?

Linearization tests only support injecting panic https://github.com/etcd-io/etcd/blob/main/tests/linearizability/failpoints.go#L33-L53, it would be useful to extend it to also support injecting a sleep. It should already be supported by gofail.

Main change that needs to be implemented is detecting that failpoint was executed. For panic it's simple, we wait fo

[2022-11-10 20:39] vivekpatani commented on #14673
@serathius would you or one of the maintainers enable this? Seems like I'm not authorised to do this.

[2022-11-10 21:05] sumithreddy commented on #14666
@tbg @ahrtr
quick questions here: what would force the raft index match to be set to zero on one of the members ?

`root@service-pod-objectscale:/# curl -s http://floratest-atlas-0.floratest-atlas-headless:8080/debug/replication/raftstatus

{"id":"aed860c616db78a5","term":10,"vote":"aed860c616db78a5","commit":8070582,"lead":"aed860c616db78a5","raftState":"StateLeader","applied":8070525,
"progress"

[2022-11-11 08:36] ahrtr commented on #14713
I don't agree this. This is a big structure change, nobody can make any unilateral decision. I think it should be up to all existing etcd maintainers' decision, and of course the feedback from the community. If all etcd maintainers reach an agreement, then we should send a discussion topic in etcd-dev to get feedback as well.

Splitting raft has impact on all raft users, but I think it should be p

[2022-11-11 08:39] ahrtr commented on #14713
Fair enough to me.

[2022-11-11 09:29] ramil600 opened #14732 "client/v3: replace deprecated grpc.WithInsecure()"
### What would you like to be added?

grpc.WithInsecure() is deprecated: use WithTransportCredentials and insecure.NewCredentials() instead. Will be supported throughout 1.x.
PR created #

### Why is this needed?

will be not supported in the future release of grpc.

[2022-11-11 09:33] ramil600 commented on #14732
PR #14731 added

[2022-11-11 10:37] serathius opened #14735 "Add more gofailpoints to validate critical parts of the code"
### What would you like to be added?

Followup from https://github.com/etcd-io/etcd/pull/14733. Thanks to gofailpoint in defrag code we were able to find an issue with data inconsistency.

Based on this we should increase coverage of other processes similar to defrag. TODO:
* [ ] Create a list of processes to add gofailpoints
* [ ] Add the gofailpoint into the code (example https://github.com/etcd

[2022-11-11 10:55] ahrtr commented on #14735
I will provide a list next week.

[2022-11-11 11:43] rkazak07 commented on #11809
Hello,
a cluster structure with 3 nodes has been created
3 pcs etc
3 versions of postgresql 14.5
I have set up a cluster structure for 3 Haproxy.
I'm getting the following error. I have set up 0 presentations again because I think it is related to my organization and I am getting the same error again. how can I follow a path related to etcd synchronization disorder

etcd service log:

Nov 11 12:50

[2022-11-11 11:58] serathius commented on #14673
@vivekpatani Dependabot is enabled by adding a configuration to repository. Anyone can create a PR that adds it. Benefit of maintainers is that they can do that directly on main branch, which doesn't make sense as it voids code review.

Feel free to send the PR that adds the configuration, you just need to add a `.github/dependabot.yml` file. Default contents that might need some adjustments
[code

[2022-11-11 13:14] serathius commented on #13667
FYI we are able to add now Windows Server runners
![image](https://user-images.githubusercontent.com/5873433/201347879-09b9e7ba-c427-46b9-8834-a4f37b6eed43.png)

[2022-11-11 15:01] mitake commented on #14692
@ahrtr Yes, bcrypt methods are known to heavy. That's why etcd call them in API layer, not in Raft layer.

@dmitry-mightydevops If your workload needs lots of Authentication invocation, I recommend to use Common Name based authentication: https://etcd.io/docs/v3.5/op-guide/authentication/rbac/#using-tls-common-name Is this possible for you to use it?

[2022-11-11 15:14] ankitg-03 opened #14736 "Timestamp in inconsistent format (all seconds) in ETCD(v 3.5) logs for fileutil/fileutil.go"
### What happened?

Hi,
We encountered an issue with the "timestamps" while printing the pod logs (ETCD version : 3.5)
We are unexpectedly getting the timestamp in seconds in log lines for fileutil/fileutil.go, whereas rest are in the format yyyy-MM-ddTHH:mm:ss.SSSZ

We would like to ask for more knowledge about the same to achieve the following format(yyyy-MM-ddTHH:mm:ss.SSSZ) ?

Note: The above

[2022-11-11 15:43] tbg commented on #14713
That's the only clean way I can think of, given the limitations of a Github-supported release process.

[2022-11-11 15:45] tbg commented on #14713
Just an observation: I'm noticing that our @etcd-io/maintainers-etcd  GH team is anchored on the etcd-io org, so hopefully this wouldn't even require maintaining parallel worlds.

[2022-11-11 17:41] dmitry-mightydevops commented on #14692
Thank you @mitake @ahrtr the solution is clear. Closing the task.

[2022-11-11 17:41] #14692 closed

[2022-11-11 19:16] ajityagaty commented on #14533
@ahrtr - Apologies! I have not been able to look at this yet as I have been overwhelmed at work. When I briefly looked at the work that is required, I realized that I am lacking context of how all components are dependent on this change. So, I think I would be better off taking a smaller piece of work.

[2022-11-11 19:41] ahrtr commented on #14533
Thanks for the feedback. No worries.

[2022-11-11 19:51] ahrtr commented on #14736
Thanks @ankitg-03 for raising this issue. This seems like a good first issue for new contributors.

[2022-11-12 07:03] ramil600 commented on #14736
This was reproduced in version v3.5.0. within function `func TouchDirAll(dir string) error` in client/pkg/fileutil/fileutil.go
The issue was that, it was creating new logger with default timestamp:
[code]

Since v 3.6.0, the signature of this function has changed to inject *zap.logger, and I couldn't reproduce
the similar issue(it works fine):
`func TouchDirAll(lg *zap.Logger, dir string) error `

[2022-11-12 08:20] MatteoGioioso commented on #14631
I might be completely wrong here, but I think the cause of this behavior is this option: `defaultWaitForReady = grpc.WaitForReady(true)`;
since is not accessible I have tried to set it to `false` by temporarily modify the file.

[2022-11-12 10:36] halegreen commented on #14736
working on this.

[2022-11-12 12:49] #14008 closed

[2022-11-12 12:49] #14037 closed

[2022-11-12 12:49] #13913 closed

[2022-11-12 12:49] #14031 closed

[2022-11-12 12:49] #14028 closed

[2022-11-12 12:49] #14023 closed

[2022-11-12 12:49] #14148 closed

[2022-11-13 11:53] serathius commented on #13606
@ahrtr @spzala @ptabor your thoughts?

[2022-11-13 13:57] mitake commented on #14713
I think having a separated raft module is a good idea. Various users of the module can have their own suitable way for controlling risk and benefit from new improvements.

I agree with @ahrtr . Having raft code that isn't actually used in that release seems to be hard to manage. Separating repositories seems to be good.