[2017-08-24 04:58] shenlanse commented on #8444
@heyitsanthony Thanks.

3.  Do I miss something important? After review the mvcc source code, I still think key is not always 3-tuple, only when it is a delete operation.

PUT operation: key is 2-tuple
mainRevision_subRevision

DELETE operation : key is 3-tuple
mainRevision_subRevision**t**

[2017-08-24 08:06] zyf0330 opened #8445 "dns discovery: set initial-advertise-peer-urls as https url"
I use nginx to proxy etcd server and do ssl termination, it use http2. Etcd uses DNS Discovery. And after I startup, cluster cannot work normally.
This my etcd startup cmd

log

[code]
As you see, it shows `added member f5e2bce5ae996f7 [http://thor01.example.com:4760] to cluster 771871d99223fdd1`. I think it should be `https`.

This is nginx config
[code]

[2017-08-24 08:15] zyf0330 commented on #8440
Ok, I know.

[2017-08-24 08:19] zyf0330 opened #8446 "etcdctl --endpoints [https://url] fails"
I do these things from remote client.
Cmd `etcdctl --endpoints [https://url] get a` shows `Error:  grpc: the client connection is closing`
If I use http json api like `https://url:4758/v3alpha/kv/range` to show key `a`, it successes.
So? Thanks for answering.

[2017-08-24 08:22] heyitsanthony commented on #8446
@zyf0330  what is the etcdctl output with `--debug`? Does `--insecure-skip-tls-verify` fix it? How are the certificates configured? How is etcd configured?

[2017-08-24 08:25] heyitsanthony commented on #8445
How are the SRV records configured?

[2017-08-24 08:27] heyitsanthony commented on #8440
Reopening to track this feature

[2017-08-24 08:29] zyf0330 commented on #8445
[code]

[2017-08-24 08:31] heyitsanthony commented on #8445
try `_etcd-server-ssl._tcp.example.com`

[2017-08-24 08:33] zyf0330 commented on #8446
By the way, I use v3 etcdctl.
With `--debug=true`, output is the same.
With `--insecure-skip-tls-verify=true`, cmd executes a little slower but output is the same.
Certificates is set  by nginx. Nginx does ssl termination, listens https://url:4758 and sends request to etcd .
Etcd listens 127.0.0.1:2379,

[2017-08-24 08:45] heyitsanthony commented on #8446
Are there any nginx error logs? Can nginx proxy grpc? It doesn't seem like it can yet judging by the nginx/grpc discussion at https://github.com/grpc/grpc.github.io/issues/230

[2017-08-24 08:56] zyf0330 commented on #8445
You alert me! Thanks!
After set SRV for ssl, I got this in etcd log
[code]

[2017-08-24 09:15] heyitsanthony commented on #8445
the certificates seem to be matching example.com instead of the *.example.com

[2017-08-24 09:20] zyf0330 commented on #8445
This is cert info from certbot

    Domains: thor01.example.com
    Expiry Date: 2017-11-22 01:43:00+00:00 (VALID: 89 days)
    Certificate Path: ...
    Private Key Path: ...

[2017-08-24 10:09] heyitsanthony commented on #8445
I believe this is a bug.

Discovery bootstrapping will use discovery-srv (example.com) for the ServerName to avoid a mitm cert attack:

[code]

but the machine hosts have subdomain.example.com, so they won't match. It should probably be `"*." + cfg.DNSCluster`

[2017-08-24 10:12] zyf0330 commented on #8445
Thanks a lot! So will you fix it ?

[2017-08-24 10:16] zyf0330 commented on #8446
After searching something, maybe like you said, it has not been supported till now.
Thanks.

[2017-08-24 10:16] #8446 closed

[2017-08-25 16:34] javaforfun opened #8450 "Question: what's the meaning of ReadOnlyOptionLeaseWithoutCheckQuorum?"
raft ReadOnlyLeaseBased ensures linearizability of the read only request **by relying on the leader lease**.
and lease is relying on checkQuorum,  so if ReadOnlyLeaseBased is true,  checkQuorum must be true.

[code]

for [TestReadOnlyOptionLeaseWithoutCheckQuorum](https://github.com/coreos/etcd/blob/master/raft/raft_test.go#L1901), if network partition happen, and leader is in minority pratition,

[2017-08-25 18:24] pgburt opened #8451 "etcd 2 to 3 upgrade docs need clarity around Ignition"
A user [writes on twitter][tweet]:

I asked the user what docs they were referencing, and it seemed like they were looking at [this one][upgrade-doc]. It seems they decided to look at Ignition at the same time, and found themselves confused. We should clarify how to use Ignition + etcd together (and make it clear in docs like `etcd2 to 3`, where users are clearly lagging somewhat behind the latest

[2017-08-25 18:27] xiang90 commented on #8451
@pgburt

I am not sure this is something should be included in generic etcd doc. Container Linux is a special consumer of etcd, and has its own opinionated way to setup etcd. We'd either adding a special Container Linux focused doc in etcd repo, or explain this in Container Linux its own doc.

 Basically, we should not change the generic etcd upgrade doc to be container linux focused or make it ap

[2017-08-25 18:34] heyitsanthony commented on #8451
The cl doc at https://github.com/coreos/docs/blob/master/etcd/getting-started-with-etcd.md#setting-up-etcd  points to the generic upgrade advice, which is probably the source of confusion.

[2017-08-25 19:03] #8406 closed

[2017-08-27 16:28] mvdan commented on #8068
Friendly ping - still happy to look into false positives or negatives if you'd give me pointers.

[2017-08-28 03:06] xueyihan opened #8456 "api2 and api3"
I used API=2 to set a key named qwe and it worked fine when i used API=2 to get the key
But I can't get the key by API=3

here is the command
etcdctl --endpoints=http://etcd:2379 set qwe 1
./etcdctl --endpoints=http://etcd:2379 get qwe
ETCDCTL_API=3 etcdctl --endpoints=http://etcd:2379 get qwe (can't find the key)
Why! Does it store data in seperated space?

[2017-08-28 03:43] heyitsanthony commented on #8456
v2 and v3 have different semantics; the different namespaces is by design. Use `ETCDCTL_API=3 etcdctl put` to set keys in v3.

[2017-08-28 03:43] #8456 closed

[2017-08-28 03:46] xueyihan commented on #8456
so we can't both use api v2 and api v3? @heyitsanthony

[2017-08-28 03:48] heyitsanthony commented on #8456
@xueyihan for key-value operations, v2 and v3 are independent backends; they only share raft

[2017-08-28 04:09] xueyihan commented on #8456
Thanks! @heyitsanthony

[2017-08-28 05:07] zyf0330 commented on #8445
I have attempted, but Go is not my language and solving this problem needs some considers about the whole project. So I am not able to give a fix.

[2017-08-28 07:41] struz opened #8458 ""etcdctl auth enable" command breaks Kubernetes cluster"
# Problem
Enabling auth on etcd v3 when it is used by any Kubernetes cluster will force the cluster into read only mode after less than a few days.

The database slowly (or rapidly on a high load cluster) uses more and more memory for its database due to extra revisions until it maxes out and goes into read-only mode.

This is because the Kubernetes API server no longer has access to perform compa

[2017-08-28 21:32] heyitsanthony commented on #8444
@shenlanse it's still a 3-tuple; the last part of the tuple is the implicit/default type so it can be elided from storage. `(x,y,t)` is a 3-tuple and so is `(x,y,[])`

[2017-08-28 22:39] aaronjwood commented on #1548
@heyitsanthony you're right, thanks for pointing this out. I was not aware that Go doesn't really work with C-style strings underneath:
[code]
This threw me off big time. Looks like there are some quirks with raw strings:
[code]

It's good to know that no special encoding is needed for these situations with Go.

[2017-08-28 22:55] heyitsanthony commented on #8443
can reproduce this in mvcc; there is a race between Cancel and Close

[2017-08-29 02:18] jiaxuanzhou commented on #8440
@heyitsanthony
i can work on it, i just add modified the support in our production environment

[2017-08-29 04:48] heyitsanthony opened #8460 "etcdctl: arbitrary protobuf/json serialization/deserialization"
Binary data is inconvenient to process directly from etcdctl. An `--encoding` mode could help by accepting a protobuf definition (+ other formats like gob?) and use it to interpret the key value.

To decode protobuf into json: `etcdctl --encoding=whatever.proto get /abc`
To encode json into protobuf: `etcdctl --encoding=whatever.proto put /abc "some-json"`

Compile-time dependencies could be kept

[2017-08-29 04:50] heyitsanthony commented on #8440
@jiaxuanzhou OK, thanks!

[2017-08-29 14:42] mitake commented on #8458
Hi @struz , thanks for reporting the problem.

This opinion seems to be reasonable for me. Adding other special role for the maintenance purpose will be useful for avoiding having multiple user accounts or certs in the client side. How do you think? @xiang90 @heyitsanthony If it is ok for other etcd design policies, I'll solve it.

[2017-08-29 16:19] heyitsanthony commented on #8458
@mitake special roles probably won't be flexible enough. Could roles encode the rpc permissions? Something like:

[code]

The service permission for `Compact` would be `{Service: "KV", Procedure: "Compact"}`

[2017-08-29 16:33] heyitsanthony commented on #8387
@mwf ping?

[2017-08-29 16:34] heyitsanthony commented on #8398
@zhuqunzhou did master solve the problem?

[2017-08-29 16:52] #8443 closed

[2017-08-29 17:14] jpbetz commented on #8460
This sounds useful. Maybe it should be generalized to accept any encode/decode program? E.g.

[code]

This keeps etcd agnostic of the encoding schemes developers choose. It does add some complexity to etcdctl because is has to deal with sub process execution somehow, but so do tools like `git bisect`, so maybe it would be acceptable?

To give a bit of background, the kubernetes binary data encodin

[2017-08-29 17:25] gyuho commented on #7813
This should be fixed in upstream. See https://github.com/grpc/grpc-go/issues/1483#issuecomment-325416514.

We will need pin gRPC 1.6.

[2017-08-29 18:19] heyitsanthony commented on #8460
@jpbetz yes, there's already precedent for external executables in the migration command. `etcdctl` could detect if +x is set on the encoder/decoder to determine whether it's an executable or a schema.

[2017-08-29 19:43] jpbetz commented on #8460
Great, I'll have a look at migration and work on getting a PR written up for this.

[2017-08-29 20:56] heyitsanthony commented on #8460
@jpbetz if etcdctl just needs multi-line on raw binary values, it'd probably be better at this point to support `--print-value-only -w protobuf` + pipe instead of adding encode/decode executables

[2017-08-29 22:11] xiang90 commented on #8458
When you want to do application-driven compaction, you almost assume that the application actually own etcd. That is true for kubernetes. We suggest people to view k8s as a owner of the etcd cluster.

[2017-08-29 22:12] xiang90 commented on #8458
/cc @jpbetz

[2017-08-29 22:26] jpbetz commented on #8458
I believe @xiang90 is correct. For additional details on the kubernetes side, please direct questions to sig-auth: https://github.com/kubernetes/community/tree/master/sig-auth

[2017-08-30 04:59] heyitsanthony commented on #8381
@zhuwenjie11 the backend is corrupted according to `bolt check etcd_bak/member/snap/db`:
[code]

This doesn't look easy to reproduce, but it's probably a boltdb bug. 3.0.17 is using bolt 1.3.0 and there haven't been any corruption fixes since so this may affect the master branch. etcd 3.3 will detect this corruption earlier in the boot stage, at least.

The corruption may either be from pulling th

[2017-08-30 07:34] arjanschaaf commented on #8451
Sorry that was my rant on twitter 😁
I've multiple 3 node etcd clusters running on CoreOS using etcd v2 for some time now using CloudInit configuration data. I've also created a new cluster using the Etcd v3 etcd-member.service examples in the CoreOS documentation. Both kind of setups work perfectly fine. So my next step would be to upgrade my existing v2 based clusters to v3 binaries. Not migratin

[2017-08-30 07:53] CMGS opened #8467 "Any filters or level control in v3 Get?"
we are trying migrate data from v2 to v3. however we have to face a problem is in v2, we can list nodes in a directory without recursive but in v3 withPrefix will list all keys like force recursive in v2.
so is there any filters or level control in v3 get operation ?

for example, we have a data like this
[code]
in v2, we can get "/a" then we know under directory a, there are 3 nodes (1,2,3). we w

[2017-08-30 12:05] mkumatag opened #8468 "go vet errors with latest upstream golang"
Have seen following error while running tests with latest upstream golang:

[code]

golang version:

[code]

[2017-08-30 14:42] mitake commented on #8458
@heyitsanthony @xiang90 @jpbetz thanks for your comments. It seems that more consideration is required before working on.

@struz could you share more detail about your use case? Do you have to store information in your k8s' etcd? Is having multiple etcd clusters not acceptable?

[2017-08-30 15:00] pgburt commented on #8451
Appreciate the clarity Arjan! <3

[2017-08-30 15:12] radhikapc commented on #8451
cc @euank

[2017-08-30 15:34] radhikapc commented on #8451
it appears to me that we need to create a doc specific to etcd with container linux.

[2017-08-30 15:43] heyitsanthony commented on #8467
@CMGS v3 uses a flat keyspace, it doesn't know about directories. The keys can be encoded with depth information to get efficient directory-level listing like:
[code]
the directories immediately under /a/ would be fetched with `Get(context.TODO(), "001/a/", WithPrefix())`

[2017-08-30 16:35] CMGS commented on #8467
@heyitsanthony I know v3 use a flat keyspace so there is no directory any more. but in this case, it will change much logical in real projects and migration process will not smoothly. I think it's a bit ridiculous.

in our real online cluster, we had many directories (100k+). and the business logical depend on those directories' name to do right things. according to official migration guide, offli

[2017-08-30 16:42] heyitsanthony commented on #8467
@CMGS ok, wait for the v2 emulation proxy; there are no plans to support directories natively in v3. Filtering and pattern matching would be too slow; processing `ls /` would have to churn through the entire data store.

[2017-08-30 16:48] CMGS commented on #8467
@heyitsanthony sounds great! any roadmap for v2 emulation proxy?

[2017-08-30 16:58] heyitsanthony commented on #8467
@CMGS experimental in 3.3, stable in 3.4

[2017-08-30 17:06] #8468 closed

[2017-08-30 17:09] CMGS commented on #8467
got it thank you

[2017-08-30 17:09] #8467 closed

[2017-08-30 18:58] mwf commented on #8387
@heyitsanthony I'm deeply sorry, I had some other important stuff to do all this days :(
But we hit it again this weekend and I'll try to reproduce it finally, to understand what we are dealing with and if the problem exists in newer releases.
I hope to contact you this Friday.

[2017-08-30 20:07] euank commented on #8451
I had to go through the update from `etcd2.service` -> `etcd-member.service`, and it was definitely a bit painful.

The fact that you can't upgrade from `2.x` to `3.x` but rather must go through `2.x -> 3.0 -> 3.1 -> 3.2` also made it more complicated, in addition to having to fiddle with data directory locations.

@arjanschaaf at least for that bit, for Container Linux versions starting with v152

[2017-08-30 20:53] fanminshi commented on #8331
@r7vme does your restored cluster needs both v2 and v3 keys? the `./etcdctl backup --data-dir /var/lib/etcd3/ --backup-dir etcd-backup` is intended to restore v2 key space only; it will not restore any v3 keys.

[2017-08-30 21:19] heyitsanthony commented on #8331
@fanminshi the complaint is etcd is refusing to start because the backup command isn't creating a db file. The e2e test TestCtlV2Backup checks restoring from a v2 backup already, so why isn't it working here?

[2017-08-30 22:31] heyitsanthony commented on #8381
Also, just to rule out the storage layer, what was the filesystem / disk set up for the etcd member directory?

[2017-08-30 23:39] fanminshi commented on #8331
reproducible steps:

etcd 3.1.7

[code]

`$ EXPECT_DEBUG=true go test -run TestCtlV2BackupFromExistingSnapshot`

output:
[code]

[2017-08-31 00:07] fanminshi commented on #8331
When running `TestCtlV2Backup`

The backup code create a `/backup` that contains  only`wal` file.

etcd starts with `/backup` dir without a cluster version; `cl.Version() = nil`.

Even though backend file doesn't exist;`beExist == false`, the `if` evals to false due to  `cl.Version() = nil`. So the cluster starts without any issue.

https://github.com/coreos/etcd/blob/43b75072bfaca5a7c35c718179def

[2017-08-31 01:35] abel-von opened #8470 "The Watch request will not be closed and retry other etcd instances even if the connected instance is unhealthy."
Hi, One of our test case is to separate the network between one etcd instance and the leader.

We have found that, Both in both etcd v2 and v3, the watch request will not receive the new events if the client is connecting to the unhealthy etcd instance (the client port is still listening and the network between the instance and client is ok, it's just the network between the instance and leader is

[2017-08-31 01:37] heyitsanthony commented on #8470
@abel-von this is already supported server-side using WithRequireLeader()

[2017-08-31 02:39] abel-von commented on #8470
OK, that a better and simpler way.

[2017-08-31 02:40] abel-von commented on #8470
@heyitsanthony please close this issue.

[2017-08-31 02:47] #8470 closed

[2017-08-31 05:49] struz commented on #8458
@jpbetz I'm not sure why directing questions at the sig-auth would be relevant here. This is an inability of the app to do something. It either can or can't be done with the auth configuration inside etcd; Kubernetes itself has nothing to do with it, and was merely affected by it.

---

@mitake sure thing.
Our k8s cluster has to run Calico with the etcdv2 backend to get the level of network access

[2017-08-31 18:03] danielfm opened #8472 "Strange memory usage pattern after v3.1.3 -> v3.2.6 upgrade"
First reported this issue in https://github.com/kubernetes-incubator/kube-aws/issues/795.

I'm experiencing a strange memory usage pattern after upgrading etcd from v3.1.3 to v3.2.6:

![image](https://user-images.githubusercontent.com/29534/29943786-38049f9a-8e71-11e7-99b9-1f94e6260868.png)

We can see very clearly the memory consumption used to stay stable until the update, after which the memory

[2017-08-31 18:18] heyitsanthony commented on #8472
Possibly from GC. Did anything change around 15:00?

@gyuho does this happen with kubemark?

[2017-08-31 18:20] gyuho commented on #8472
Never seen it in our kubemark tests http://dash.etcd.io/dashboard/db/test-etcd-kubernetes?orgId=1.

[2017-08-31 18:22] danielfm commented on #8472
@heyitsanthony

No, the drop happened without any kind of intervention or change on my part.

[2017-08-31 18:52] danielfm commented on #8472
Just so you know, I'm running Kubernetes v1.7.4.

Do you folks have some tips on how can I proceed to find out what's happening, and if it's indeed a problem? Right now I'm trying to take a heap dump from etcd, but I'm having trouble doing so due to the fact I'm running etcd from inside rkt.

[2017-08-31 18:53] xiang90 commented on #8472
@danielfm Probably you can run etcd with go GC trace enable. I would suspect it is due to less aggressive GC.

[2017-08-31 18:59] heyitsanthony opened #8473 "v2v3: stabilize v2 emulation"
- [ ] pass all e2e tests
- [ ] pass integration tests
- [ ] TTLs
- [ ] migration
- [ ] document v2 schema

and a cross-checker would be nice

[2017-08-31 19:55] danielfm commented on #8472
@xiang90 @heyitsanthony I spent some time looking at our Prometheus to find out other metrics that could help explain that memory usage, and here goes some of them:

`sum(go_memstats_alloc_bytes{job="etcd"}) by (instance)`
![image](https://user-images.githubusercontent.com/29534/29941955-974bb864-8e6a-11e7-9dfc-38123ec544bf.png)

`sum(go_memstats_heap_idle_bytes{job="etcd"}) by (instance)`
![image

[2017-08-31 19:58] xiang90 commented on #8472
@danielfm Do you have any CPU usage and QPS data?

[2017-08-31 20:08] danielfm commented on #8472
Not sure what you mean by QPS data, but I'm sending the number or RPC calls per second.

`sum(rate(grpc_server_started_total{job="etcd", grpc_type="unary"}[5m])) by (instance)`
![image](https://user-images.githubusercontent.com/29534/29943196-f784a750-8e6e-11e7-945b-2bf595cbf6fa.png)

`sum(rate(process_cpu_seconds_total{job="etcd"}[2m])) by (instance) * 100`
![image](https://user-images.githubuser

[2017-08-31 21:24] rsm10 opened #8476 "Nodes never decrements their remaining ticks"
# Bug reporting

So I am using the raft component of etcd. I have a recurring issue that breaks the ability of my raft cluster to commit.

Scenario:
4 node cluster. There is a heavy commit load being generated. Load is generated via a go http server that writes into raft. I am seeing that 2/4 of my raft nodes repeatedly have errors like below, that have lasted for days.

raft2017/08/31 21:22:15 IN

[2017-08-31 22:24] pjjw opened #8478 "grpc-proxy doesn't respect --keys-only flag"
Investigating the use of the grpc-proxy, I get different results for the same etcdctl command when going through the proxy vs. going direct to the etcd cluster- specifically, the --keys-only flag is ignored.

I'm running the grpc proxy with the following command:
[code]
I'd expect the following two commands to return the same result, but they don't:
[code]

[2017-08-31 22:25] xiang90 commented on #8478
@pjjw Probably a bug. Would you like to help to get it fixed?

[2017-09-01 01:47] zhuqunzhou commented on #8398
@heyitsanthony ,Yes,but i just used the master code in my small  test cluster.

[2017-09-01 02:24] pjjw commented on #8478
lmk what's needed.

On Thu, Aug 31, 2017 at 6:26 PM Xiang Li <notifications@github.com> wrote:

[2017-09-01 05:30] mitake commented on #8458
@struz thanks for sharing the detail. I understand the motivation. How about disabling compaction requests from apiserver and issuing the requests from external management stuff (e.g. cron job of `etcdctl` with root privilege)? I created an experimental change of k8s for disabling the compaction here: https://github.com/kubernetes/kubernetes/pull/51765

[2017-09-01 09:49] gwtony opened #8482 "Why 250 thousand small records cost excessive memory"
There are 250,000 records in my etcdv3, each key is 50Byte, value is 100Byte,
but it cost 1.3GB memory
I got all key and value directly from db file with bolt lib, all data in bolt is only 50MB
What causes this situation, is this a bug ？

[2017-09-01 10:08] heyitsanthony commented on #8482
What version of etcd? I tried it on master and it's OK:

[code]

What is the workload? I can force it to eat a lot of memory by requesting the entire key range:

[code]

[2017-09-01 10:25] heyitsanthony opened #8483 "kv RPC QoS"
Many concurrent expensive kv operations (e.g., full keyspace fetch) can eat a lot of memory / cpu cycles. To avoid accidentally overloading the system, etcd could potentially classify, bucket, and queue expensive RPCs. For example, QoS would limit keyspace fetches to one at a time.

Sketch of possible implementation:
1. Hash incoming RPC byte slice in the server's grpc codec
2. Create queue for th

[2017-09-01 10:36] gwtony commented on #8482
etcd Version: 3.2.0+git
Git SHA: Not provided (use ./build instead of go build)
Go Version: go1.8
Go OS/Arch: linux/amd64

Workload is very light, only 1% cpu
Some infomation in top:
VIRT  RES  SHR S %CPU %MEM    TIME+  COMMAND
12.5g 1.3g 979m S  1.0  8.2  36:25.38 etcd

957M db

I open db file, print kv with this code

    db.View(func(tx *bolt.Tx) error {
        c := tx.Bucket([]byte("key")).Cu

[2017-09-01 10:57] heyitsanthony commented on #8482
The db needs to be defragmented to reclaim file space. See https://github.com/coreos/etcd/blob/master/Documentation/op-guide/maintenance.md#defragmentation

[2017-09-01 14:56] albertvaka opened #8486 "Adding a new member with the same name and URL as a removed member, fails"
One of the member of my cluster lost all its persisted data. So, I want to make it be recognized as a new member in the cluster, and sync all the data from scratch from the other members.

As far as I know, the way to do it is to remove the old member from the cluster (the one we lost its data), and `etcdctl member add` the new member. The only particularity here is that the 'new' member name and

[2017-09-01 15:41] danielfm commented on #8472
I managed to take a heap dumps from a running instance, and this is what happened when taking successive heap dumps:

[code]

In summary, what I observed was that the heap usage went consistently up (with just one entry being responsible for >80% of the used heap space), but when those objects got reclaimed, the resident memory usage took ~10 minutes to drop, so those events look related although

[2017-09-01 17:03] #8444 closed

[2017-09-01 17:17] purpleidea opened #8487 "Adding LeaseID checking in Txn needs a Cmp type method"
I'd like to do Txn's like this:

[code]

Thanks to some lovely work @heyitsanthony pointed me to, you could write:

[code]

I'd propose adding this as a helper function alongside https://godoc.org/github.com/coreos/etcd/clientv3#Value but there are apparently some naming convention issues in "mapping directly to the mvccpb.KeyValue".

These are beyond my understanding of the internals, but this is

[2017-09-01 17:34] purpleidea commented on #8487
I wrote a patch adding this if anyone would like it.

https://github.com/coreos/etcd/pull/8488

[2017-09-01 19:18] danielfm commented on #8472
I also enabled the GC tracing, this is the the logs from the last 2h (I'll try to capture logs around the moment the RSS drops again):

[code]

[2017-09-01 19:30] heyitsanthony commented on #8472
@danielfm what does `go tool pprof -pdf ./etcd ./heap.out` give? does this cluster have any v2 data?

[2017-09-01 19:40] danielfm commented on #8472
@heyitsanthony [here](https://www.dropbox.com/s/9n64m64rk2uo8s1/pprof.pdf?dl=0) is the PDF.

I don't think this cluster has any v2 data, but is there a way I can check? Some command perhaps?

[2017-09-01 20:05] danielfm commented on #8472
More information:

I have a systemd unit that regularly [takes a snapshot](https://github.com/kubernetes-incubator/kube-aws/blob/322497384841317dff125d458004635cc6c77901/etcdadm/etcdadm#L250) of the etcd data and uploads it to S3 every 60s or so. I tried disabling it for a moment, and the GC finally were able to reclaim some memory back to the OS, although not too much (~50MB):

[code]

One thing

[2017-09-01 20:12] heyitsanthony commented on #8472
You may want to try GOGC=50; the GC goal is 2x the size of the in-use heap. The snapshot operation seems to be generating a lot of garbage while encoding messages.

[2017-09-01 20:19] #8225 closed

[2017-09-01 21:57] danielfm commented on #8472
@heyitsanthony I'll try that next week

But the ultimate question is: should I worry about this, or is this expected?

[2017-09-01 21:58] xiang90 commented on #8472
it seems to me that it is GC related, and you do not really have to worry about it. But, at the mean time, we probably should start to understand this behavior better.

[2017-09-01 22:16] heyitsanthony commented on #8486
@albertvaka did you remove all data associated with the old member before starting the new member? It works fine for me:

[code]

[2017-09-01 22:49] albertvaka commented on #8486
Closing, as it was indeed my fault... I'm setting the config as environment variables and I was missing an export (ie: `ETCD_INITIAL_CLUSTER_STATE="existing"` instead of `export  ETCD_INITIAL_CLUSTER_STATE="existing"`). The symptoms were really unexpected to my, though, since the old ID was appearing in the logs (where does it come from? :confused:).

Thanks a lot for your time @heyitsanthony, you

[2017-09-01 23:41] #8486 closed

[2017-09-02 00:03] heyitsanthony commented on #8486
it's already documented under https://github.com/coreos/etcd/blob/master/Documentation/faq.md#what-does-the-etcd-warning-request-ignored-cluster-id-mismatch-mean but maybe it belongs in https://github.com/coreos/etcd/blob/master/Documentation/op-guide/failures.md

[2017-09-03 16:28] davissp14 commented on #8487
https://github.com/coreos/etcd/blob/master/etcdserver/etcdserverpb/rpc.proto#L520

This feature doesn't seem to be working as expected.  I am working on adding support for this here: https://github.com/davissp14/etcdv3-ruby/pull/95/files

The txn lease comparison seems to ALWAYS return successfully regardless of the comparison.  Is this issue relevant here?  If not, let me know and I can open up a

[2017-09-03 17:18] xiang90 commented on #8487
@davissp14 what is the server version? the feature only works on master.

[2017-09-03 22:01] iherbmatt opened #8491 "etcd 3.2.1 Troubling CPU Usage Pattern"
Hello,

We have recently upgraded to kube-aws 0.9.8 and are utilizing etcd 3.2.1 and have tested etcd 3.2.6, both versions have been installed with a 3-node etcd cluster with nodes having 2 cores and 8GB of RAM.

What's troubling is that we are only running a single application on the cluster and it's using more and more CPU as time goes by. Here is a sample showing the last week from the date of

[2017-09-04 03:23] gwtony commented on #8482
Thanks, it worked, db size shrinked to 128MB after defrag

[2017-09-04 03:23] #8482 closed

[2017-09-04 04:46] struz commented on #8458
@mitake yes, we ended up making a cron job (although unfortunately making sure this cron-job only runs once in a HA system is a bit harder than we would like) but it works just fine. Thanks for raising that PR.

[2017-09-04 06:33] lyddragon commented on #8399
[code]

[2017-09-04 06:51] hubo1016 opened #8492 ""Watch" grpc API not ending when input stream is closed"
It seems that the "Watch" API do not end when the input stream is closed. I also see that the Go client use cancel() to forcely close the watch stream. Is there a reason for not ending the watch stream? Or if is cancelling the stream API the only correct way to end a watch stream?

[2017-09-04 14:16] danielfm commented on #8472
As requested, I let etcd run with `GOGC=50` over the weekend, and this is what happened:

![image](https://user-images.githubusercontent.com/29534/30029799-1094ba6a-9161-11e7-8901-7625d4db4daa.png)

The variable was set around Sep 1st 8:34PM, after which the RSS peaks went down a little, but the "shape" did not change. Also, the snapshot systemd unit I mentioned earlier was not running during this

[2017-09-04 14:32] redbaron commented on #8472
@xiang90 ,  real memory usage increased 2x, it is hardly "nothing to worry about"

[2017-09-04 16:16] xiang90 commented on #8472
@redbaron

I do not think you read my full sentence or probably you misunderstood what I was saying.

To be clear, what I said is that an operator, do not worry about this issue that much since he/she cannot take any immediate action to solve it. And it is not critical enough to kill the cluster. This issue seems more like a GC problem/patter change. We need to understand the problem first before

[2017-09-04 17:24] redbaron commented on #8472
@danielfm would you be able to gradually switch versions from 3.2.1 to 3.2.6 without touching anything else? given that all 3 nodes show this behaviour, it probably would be enough to do it on one node by editing 40-version.conf, then `systemd daemon-reload`, then restarting etcd-member service. We can narrow down to a version where this pattern start to show

[2017-09-04 17:27] redbaron commented on #8472
Oops, it is 3.1.3 where you are coming from :( furthest you can go is 3.2.0, if you are lucky, there we'll see previous memory usage pattern,then we can narrow it to exact version, if not, then at least we know it happened between 3.1.3 and 3.2.0

[2017-09-04 17:34] danielfm commented on #8472
Can I downgrade a patch version just by changing the etcd like that? If so, I'm willing to test, although I'm not sure we'll see any difference.

(On the other hand, if I could get a Golang v1.7-linked etcd 3.2.6 instead of the Golang v1.8-linked etcd 3.2.6 I'm currently using, I think we could at least rule out changes in the GC as being the culprit in this case.)

[2017-09-04 19:03] redbaron commented on #8472
@danielfm , seems that you can clone etcd repo, checkout tag, change Dockerfile

[code]
to

[code]

and then `docker build -t etcd-3.2.6-golang17 .`

[2017-09-04 19:05] danielfm commented on #8472
Don't rkt make some sort of verification on the image, meaning that this image would need to be signed by some sort of key?

[2017-09-04 19:06] davissp14 commented on #8487
@xiang90  That would explain it.  The server version I am testing against is 3.2.6.

[2017-09-04 19:08] redbaron commented on #8491
@iherbmatt , there is a report about odd memory usage pattern https://github.com/coreos/etcd/issues/8472 do you see similar behavior on your setup?

[2017-09-04 19:11] redbaron commented on #8472
adding  `--insecure-options=image ` should be enough

[2017-09-04 19:33] danielfm commented on #8472
@redbaron tried doing that, but etcd 3.2.6 does not compile with Go 1.7.

[code]

😅

[2017-09-04 20:02] redbaron commented on #8472
Well, at least try it with 1.9, maybe there'll be a visible change

[2017-09-04 21:06] iherbmatt commented on #8491
From startup to a few days later most RAM is used. Some is moved to cached
memory while others are taken by other processed - mostly Docker and etcd.

On Sep 4, 2017 12:08 PM, "Maxim Ivanov" <notifications@github.com> wrote:

--
*The information contained in this message is the sole and exclusive
property of **iHerb Inc.** and may be privileged and confidential. It may
not be disseminated or distr

[2017-09-04 21:13] danielfm commented on #8472
@redbaron Did what you suggested:

[code]

The Golang 1.9-based image is available [here](https://hub.docker.com/r/danielfm/etcd/).

I kept the `GODEBUG=gctrace=2` and the `--enable-pprof` flags, and let the snapshot systemd unit running just like before.

So far, I didn't notice any changes in the memory usage pattern. I'll let it run for a while more just to be certain.

[2017-09-04 22:42] danielfm commented on #8472
Well, I spent more time on this than I should have. If anyone has any other suggestions, please let me know and I'll try to provide the requested information as soon as I can.

[2017-09-05 07:21] heyitsanthony commented on #8491
@iherbmatt what is the RPC rate over time for 3.2? What is the memory utilization over time? Are there any errors or warnings in the etcd server logs?

Also, please use >=3.1.5 for 3.1; there's a memory leak on linearizable reads

[2017-09-05 07:32] iherbmatt commented on #8491
Hi Anthony,

I'm not extremely familiar with etcd. How can I get this information for
you? Also, I'm wondering if it's the automatic snapshots that are causing
the issue. I'm testing another cluster with automatic snapshots and
automatic recovery disabled. For about 2 hours I'm seeing the CPUs for each
of 3 etcd nodes hovering around 1% - previously they were about 5% (v.
3.2.1) and ~20% (v. 3.1.3

[2017-09-05 07:41] heyitsanthony commented on #8492
@hubo1016 the client will attach multiple watches to a single grpc stream for connection efficiency. Canceling a `Watch` shouldn't take down the entire grpc stream unless there are no other watches on the stream. Calling `Close` on a clientv3 `Watcher` will close all the grpc streams it made, but usually `cancel()` on the `ctx` passed to `client.Watch(ctx, "key")` is enough and preferred. Is there

[2017-09-05 08:58] heyitsanthony commented on #8491
It looks like kube-aws is taking snapshots every minute on every member according to https://github.com/kubernetes-incubator/kube-aws/blob/master/core/controlplane/config/templates/cloud-config-etcd#L231

This is about 90x more frequent than the etcd-operator default policy and might account for the increased CPU load. It could be triggering #8009, where the etcd backend needs to be defragmented w

[2017-09-05 09:53] lorneli opened #8493 "lease: monotonic time has been supportted in go1.9"
Lease package needs monotonic time to measure whether a lease is expired. Previously, pkg/monotime implements monotonic time,  using `go:linkname` to touch golang's `runtime.nanotime`.

Monotonic clock has been supportted in go1.9 ([release note](https://golang.org/doc/go1.9#monotonic-time)). As described in [time package's doc](https://golang.org/pkg/time/#hdr-Monotonic_Clocks), monotonic clock i

[2017-09-05 10:28] heyitsanthony commented on #8493
duplicates #6174

[2017-09-05 10:36] zyf0330 opened #8494 "etcdctl role grant-permission --from-key '' is not effect"
`etcdctl role grant-permission view --from-key read  ''` cause `etcdctl role get view` shows
[code]
But then I use `etcdctl --user view get '' --from-key` it alerts `Error:  etcdserver: permission denied`
So is it a bug, or I do something wrong for granting permission to read all keys?

[2017-09-05 10:50] styleex opened #8495 "Question about clientv3 WithProgressNotify"
I do not understand how this option works, why and how to use it.
The documentation for the etcd says the following (https://coreos.com/etcd/docs/latest/dev-guide/api_reference_v3.html):
[code]
In the documentation for clientv3 (https://godoc.org/github.com/coreos/etcd/clientv3#WithProgressNotify) :
[code]

Whom to believe. Exactly 10 minutes?

Further. From the link (https://github.com/coreos/etc

[2017-09-05 11:00] #8493 closed

[2017-09-05 11:32] frank12268 opened #8496 "Question: Need a cronjob to trigger defrag if already got auto-compaction configured?"
I am using etcd v3.2.2 for some time, and run into `Error:  etcdserver: mvcc: database space exceeded`  every day / other day, with auto-compaction set to 24h. I have tried:
  1. directly defrag and dis_alarm, sometimes it worked
  2. manual compact, sometimes got the same error soon
  3. manual compact, then defrag, then dis_alarm, seems it almost worked.

I know I could try shorten the compactio

[2017-09-05 15:44] gyuho commented on #8493
We still run CIs on 1.8.3. Once Semaphore supports Go 1.9, we will switch. Thanks.

[2017-09-05 15:54] gyuho commented on #8495
You get notified in exactly 10 minutes, if no event happened to the watcher. Without `WithProgressNotify`, you won't get notification. Example's here https://github.com/coreos/etcd/blob/master/clientv3/example_watch_test.go#L85.

[2017-09-05 15:58] gdmelloatpoints opened #8497 "l"
# Bug reporting

A good bug report has some very specific qualities, so please read over our short document on [reporting bugs][report_bugs] before submitting a bug report.

To ask a question, go ahead and ignore this.

[report_bugs]: https://github.com/coreos/etcd/blob/master/Documentation/reporting_bugs.md

[2017-09-05 15:58] #8497 closed

[2017-09-05 16:03] styleex commented on #8495
Thank you! I correctly understand that the typical use case is:
1. Create a watcher with WithProgressNotify
2. If there were no messages within 10 minutes, then something went wrong. Do I need to crash the program / re-create the watcher?

[2017-09-05 16:14] irfansharif opened #8498 "raft: lower test coverage for {CheckQuorum,PreVote} permutations"
[code]

I tried running the raft tests with the patch above to test the current coverage of `PreVote` enabled raft, I then did the same with `CheckQuorum` and the different permutations of these two opt-in raft enhancements. Naively it seems that by virtue of these two features being opt-in, a lot of the existing tests don't directly test the newly introduced codepaths. With just the patch above:

[2017-09-05 16:14] gyuho commented on #8495
@styleex

Event means watch event (CREATE, DELETE, UPDATE, https://github.com/coreos/etcd/blob/master/mvcc/mvccpb/kv.proto#L32-L34). So it is ok no events happen in 10 minutes, if your application did not update the key that's being watched. You do not need to recreate watcher.

[2017-09-05 16:22] styleex commented on #8495
@gyuho
I understand it.

The question is different. If the watcher created with WithProgressNotify for some reason fell off and the application did not know about it.
In this case, if ProgressNotify message did not arrive within 10 minutes, then you can conclude that some problems and something to do.
Do I get it right?

Or does progress_notify solve another task?

[2017-09-05 17:07] gyuho commented on #8495
Your application should handle the watch disconnect (e.g. resume watch with last revision you saw). Errors can be checked with `Err()` method on watch response. See https://github.com/coreos/etcd/blob/master/clientv3/integration/watch_test.go#L510-L520.

[2017-09-05 17:11] heyitsanthony commented on #8495
@styleex it's a way to track progress without any events on the watched keys, it's not exactly a keep alive mechanism. For example, suppose there's a watch at rev=10 on key "a", then etcd is compacted at rev=100. If there are no updates to "a" since rev=10 and the watch becomes disconnected, then it will try to resume at rev=10. etcd is compacted at rev=100, however, so the watch will get a compac

[2017-09-05 17:27] styleex commented on #8495
@heyitsanthony
Good. It is already becoming more clear.
But, in this case, why `progress_notify` the message? After all, then a message will come with `compaction_revision> 0`? And I will just restore my watcher.

Or in the case described by you there will not be a message with `compaction_revision> 0`?

[2017-09-05 17:35] heyitsanthony opened #8499 "etcdserver: use PreVote so majority partition's leader isn't forced to step down"
If a cluster is partitioned then connectivity is fixed, the minority partition can trigger a new election that will cause the majority partition's leader to step down and disrupt availability. The fix, as described in 9.6 of the raft disseration, is PreVote.

[2017-09-05 17:41] styleex commented on #8495
@gyuho Unfortunately I can not use the official golang client, but I use a small self-written wrapper over official python grpc library. And the program very rarely hangs (does not accept events, for now, for unknown reasons). In this case the grpc channel does not give any errors.

Therefore, I want to understand the capabilities of the API etcd to determine connection errors.

[2017-09-05 17:47] heyitsanthony commented on #8495
@styleex an application has no way of knowing if there were any events between 10 and 100 if there's a compaction, so it usually needs to run some extra application-specific reconciliation logic to account for possibly dropping events. The progress notification helps to avoid that.

I would not suggest using it (or watches in general) to detect connection errors. gRPC has a http2 ping keepaliave m

[2017-09-05 18:02] socketpair commented on #8495
So, once again, what is purpose of this option ? In other words, how should we use it ? Maybe pseudocode and/or list of cases which is impossible to implement withoutthis option. Or maybe point to example/documentation. It's not clear for me what does this option do. So. It's related to some timer. On client ? On server ?

[2017-09-05 18:08] styleex commented on #8495
@heyitsanthony Thanks for the clarification! Now I understand the purpose of this option.

[2017-09-05 18:17] #8495 closed

[2017-09-05 19:09] heyitsanthony commented on #8494
Reproduced on master:

[code]

[2017-09-05 19:21] heyitsanthony commented on #8496
It's fine to run defrag every hour but while etcd is defragmenting it can't serve keys.

It is only triggered on an RPC request. An in-progress defragment operation is not resumed on member restart.

It only deletes keys from the database and makes that space available to the db internally. It does not free file system space like defragmenting, which is what the database size quota checks. This is

[2017-09-05 19:29] #8440 closed

[2017-09-05 19:32] irfansharif opened #8501 "raft: deadlock during PreVote migration process"
This was first uncovered in the context of https://github.com/cockroachdb/cockroach/issues/18151. For some background we were running a migration from v1.0.x cockroachdb/cockroach binary to our v1.1-rc binary, the difference between the two branches was that the earlier revision had raft groups configured with `PreVote: false` and `CheckQuorum: true` whereas the new v1.1-rc revision had `PreVote:

[2017-09-05 19:36] heyitsanthony opened #8502 "e2e SRV record tests"
Not much testing around SRV records because DNS is difficult to run in ordinary tests. Would like to test/collect coverage for both TLS and non-TLS SRV discovery behavior using:

* etcdctl client
* etcdctl clientv3
* etcd gateway
* etcd peer bootstrapping

There's some dockerized DNS testing in e2e/docker, which is probably where to start for supporting this.

[2017-09-05 19:56] heyitsanthony opened #8503 "support <1hr automatic compaction retention"
Systems (e.g., k8s) that expect a lot of writes must implement their own compaction logic to periodically compact etcd at a rate of less than an hour. That is, some agent outside of etcd must be granted ownership of compaction which complicates system design. Since the intent is only etcd should compact more frequently, it would be much simpler to support automatic retention with finer granularity

[2017-09-05 20:10] xiang90 commented on #8501
@irfansharif @bdarnell @siddontang @es-chow

Someone probably needs to own the pre-voting feature, and make it stable. I do not have the bandwidth to own this for the near future. But if no one is going to own it, I will put this item on my schedule and make it stable.

[2017-09-05 20:47] heyitsanthony commented on #7002
Fixed by #8479

[2017-09-05 20:47] #7002 closed

[2017-09-05 20:49] heyitsanthony commented on #8331
Fixed by #8479

[2017-09-05 20:49] #8331 closed

[2017-09-05 20:55] heyitsanthony commented on #8218
Appears fixed by #8426:
[code]

[2017-09-05 20:55] #8218 closed

[2017-09-05 21:01] dfawley opened #8504 "etcd should not produce grpc.ErrClientConnTimeout errors"
https://github.com/grpc/grpc-go/blob/4bbe223b12805ab25acbb9d2cadfab2ec9d04bb6/clientconn.go#L46-L49

gRPC has not used this error in a year.  I would like to remove it, since it is dead within our project.
 However, it seems etcd is generating and returning this error.  Please find a more appropriate error to return; we will be removing it soon.  (Note: the original PR that deprecated it said it w

[2017-09-05 23:51] gyuho commented on #8504
@dfawley Thanks for heads-up! We've just deprecated `grpc.ErrClientConnTimeout` in https://github.com/coreos/etcd/pull/8505.

[2017-09-05 23:51] #8504 closed

[2017-09-06 01:33] shenlanse opened #8506 "[rafthttp] In pipeline handler and snapshot handler, add remote when it doesn't exist"
# Bug reporting

In rafthttp package, pipeline handler and snapshot handler will add remote if transport doesn't have corresponding peer or remote.

Corresponding PR: https://github.com/coreos/etcd/pull/4431

https://github.com/coreos/etcd/blob/master/rafthttp/http.go#L94
https://github.com/coreos/etcd/blob/master/rafthttp/http.go#L179

[code]

I wonder why the if conditon is err!=nil, instead of

[2017-09-06 01:34] shenlanse commented on #8506
@heyitsanthony

[2017-09-06 03:29] frank12268 commented on #8496
Thanks @heyitsanthony
I started an etcd with default --quota-backend-bytes and executed the following commands (the commands in the 'space' section in maintenance doc without 'defrag')
[code]
I presumed some more data could be inserted after the compaction if compaction could make space for db internally, but seems like not the case. Did I miss some operation? (I have tried both compact with & wit

[2017-09-06 09:37] mitake commented on #8494
@zyf0330 thanks for reporting, I'll work on it.

[2017-09-06 10:14] hubo1016 commented on #8492
@heyitsanthony I'm developing a Python binding for etcdv3. I've noticed that even closing the input stream do not end the API call, so there is no "graceful" way to shutdown the API stream. Many other streaming API like Lease.LeaseKeepAlive DO exit when the input stream is closed.

If it is an intended behavior, I will try `cancel()`

[2017-09-06 13:34] lorneli commented on #8493
@gyuho My pleasure. Haven't seen your comment and created a pr #8507 few minutes ago.

[2017-09-06 14:31] zbindenren commented on #8162
@xiang90 I have a similar issue which I can reproduce very easily with etcdctl. Every second time I get an exception (`transport: context canceled`).

See output:

[code]

[2017-09-06 15:36] bdarnell commented on #8501
I agree, and I apologize for (mostly) implementing this without getting it into a working state. We'll work on fixing this.

[2017-09-06 15:47] xiang90 commented on #8162
@zbindenren can you share your reproduce steps? etcd/etcdctl versions?

[2017-09-06 15:51] dfawley commented on #8504
Thanks for the super quick turnaround!  :+1:

[2017-09-06 15:59] zbindenren commented on #8162
@xiang90 etcd and etcdctl both v3.2.7. Endpoints secured by certificate.

[2017-09-06 17:56] heyitsanthony commented on #8496
The quota is based on the database size on disk; compacting the db will not change that. It has to be defragmented to reclaim the space after a compaction.

You can avoid hitting the quota by periodically compacting and defragmenting based on the cluster workload.

[2017-09-06 18:26] iherbmatt commented on #8491
When I disable automatic snapshots and disaster recovery the cpu remains
around 1-1.5%. It's obvious there's a bug in that logic somewhere.

Thank you!

*Matt Poland | Software Developer*
*iHerb Inc - Natural Products & More*
*www.iherb.com <http://www.iherb.com> | matt-p@iherb.com <matt-p@iherb.com>*

On Tue, Sep 5, 2017 at 1:58 AM, Anthony Romano <notifications@github.com>
wrote:

--
*The inform

[2017-09-06 19:41] heyitsanthony commented on #8506
@shenlanse it's fallback behavior; if there is no X-Server-From given, it will use X-PeerURLs

[2017-09-06 19:42] heyitsanthony commented on #8506
Closing. Feel free to reopen if there's some reproducible bug concerning this code, thanks!

[2017-09-06 20:10] heyitsanthony commented on #8492
@hubo1016 closing the input stream won't close the watch on the server side because there may still be open watches streaming events. This is important for the grpc json gateway because without websockets, it will close the input stream immediately after setting up the first watch, and would never receive events.

Also, in case you haven't seen it, there's already two python bindings for v3:
* htt

[2017-09-06 20:18] heyitsanthony opened #8509 "v2v3: TestStoreWatchRecursiveUpdateWithHiddenKey segfaults"
via https://jenkins-etcd-public.prod.coreos.systems/job/etcd-ci-ppc64/2124/console
[code]

[2017-09-07 02:43] shenlanse commented on #8499
I have found the implementation in etcd. Do I miss important point?

[2017-09-07 03:01] irfansharif commented on #8499
@shenlanse: it isn't as stable/battle tested as yet, see https://github.com/coreos/etcd/issues/8501, https://github.com/coreos/etcd/issues/8498 and the issues linked therein. We (cockroachdb/cockroach) have run into issues enabling it as it stands today.

[2017-09-07 03:07] irfansharif commented on #8450
While I don't have the right area context at the moment to answer your original question looking at your original statement _"so if ReadOnlyLeaseBased is true, checkQuorum must be true"_ and then looking at your attached test, I observe that you set `a.readOnly.option = ReadOnlyLeaseBased` but don't explicitly set `a.checkQuorum = true` (the same is true for `{b,c}`). Naively. this may not be what

[2017-09-07 03:07] shenlanse commented on #8499
@irfansharif Ohh，thanks, I will see it

[2017-09-07 03:12] hubo1016 commented on #8492
@heyitsanthony I'm developing an asyncio Python binding for etcdv3. It is just a simple async wrapper on grpc.io, based on https://github.com/hubo1016/aiogrpc

[2017-09-07 03:25] javaforfun commented on #8450
@irfansharif  yes, if set `a.readOnly.option = ReadOnlyLeaseBased`, and `a.checkQuorum = true` (also `{b, c}`),  there will be no failure.  So I think `TestReadOnlyOptionLeaseWithoutCheckQuorum` has no meaning.

[2017-09-07 13:33] javaforfun commented on #8498
see comments: https://github.com/coreos/etcd/pull/8334#issuecomment-325864275
[code]

Also checkQuorum can step down stale leader,  see thesis `6.2 Routing requests to the leader`.
[code]

I think currently `ReadOnlyLeaseBased` also relying on checkQuorum.  see https://github.com/coreos/etcd/issues/8450

[2017-09-07 14:50] rrati opened #8515 "etcd2 client doesn't cycle to next cluster member in some error conditions"
In Openshift we have seen errors like:

apiserver received an error that is not an metav1.Status: dial tcp <ip>:2379: getsockopt: connection refused

This can happen when the etcd cluster leader goes away.  In my testing I got it to occur when I manually shut down the etcd process on the node that is acting as the cluster leader.  When this condition occurs, the etcd client continually tries to hi

[2017-09-07 22:10] gyuho commented on #6174
Closing and opening a new issue on contexts in generated code.

[2017-09-07 22:10] #6174 closed

[2017-09-07 22:12] gyuho opened #8520 "Use 'context' in generated code"
Replace `golang.org/x/net/context` with `context` in generated code:
  - [x] google.golang.org/grpc (https://github.com/grpc/grpc-go/pull/1160)
  - [ ] github.com/golang/protobuf (TODO https://github.com/golang/protobuf/issues/336)
  - [ ] github.com/gogo/protobuf (TODO https://github.com/gogo/protobuf/issues/282)
  - [ ] github.com/grpc-ecosystem/grpc-gateway (TODO https://github.com/grpc-ecosyst

[2017-09-08 00:46] siddontang commented on #8501
We will also do more tests to make it more stable.

/cc @javaforfun

[2017-09-08 01:10] rsm10 commented on #8476
I think this may be related to some other bugs in our usage of the raft library. Can probably just close this

[2017-09-08 01:10] #8476 closed

[2017-09-08 07:09] mkumatag opened #8524 "etcd is failing build on ppc64le"
Build is failing consistently on ppc64le architecture and below is the error:

[code]

look @ https://jenkins-etcd-public.prod.coreos.systems/job/etcd-ci-ppc64/ for more information.

[2017-09-08 07:09] mkumatag commented on #8524
/cc @heyitsanthony

[2017-09-08 07:27] gyuho commented on #8524
We've migrated to Go 1.9.
Could you upgrade the Go version to 1.9?

[2017-09-08 08:14] mkumatag commented on #8524
okay, will migrate the go version

[2017-09-08 08:38] mkumatag commented on #8524
upgraded to go 1.9 in the ppc64le etcd slave, can someone please reinvoke the jenkins job to confirm things are okay!

[2017-09-08 10:22] featheryus opened #8526 "publish error: etcdserver: request timed out"
# Always report "publish error: etcdserver: request timed out, possibly due to previous leader failure"

We have three instance, mn-0, mn-1, and sn-2,
mn-0 is leader at first, then it reboot, mn-1 became leader.
When mn-0 startup, it become follower,
Aug 30 08:35:59.883639 mn-0 etcd[885]: 4bc7141c11bf71da became follower at term 5
Aug 30 08:35:59.883662 mn-0 etcd[885]: newRaft 4bc7141c11bf71da [pe

[2017-09-08 13:18] mkumatag commented on #8524
Now `etcd-ci-ppc64` job is green, hence closing this issue. -Thanks

[2017-09-08 13:18] #8524 closed

[2017-09-08 16:27] gyuho commented on #8526
Can you provide other log lines? (e.g. Warnings, `became leader`, ...)

[2017-09-08 19:54] #8515 closed

[2017-09-08 20:13] numkem commented on #8524
For people googling this issue, it's not only related to ppc64. I believe that if you aren't running 1.9 you won't be able to use the current master branch.

[2017-09-08 20:21] dtnaylor opened #8530 "clientv3 build fails during go get"
I'm using the clientv3 library in my go project, and it recently started giving me the following error during `go get`:

[code]

A minimal example to reproduce:

- make an empty go environment
- `mkdir -p $GOPATH/src/github.com/testuser/testpackage`
- Make a new go file in that directory containing the following:

[code]

- then run `go get`

My `go version` is `go version go1.8.3 linux/amd64`.

[2017-09-08 20:23] gyuho commented on #8530
We've just migrated to Go 1.9. Which now requires Go 1.9 for etcd master branch.

[2017-09-08 20:46] dtnaylor commented on #8530
Got it—upgrading to 1.9 took care of it, thanks.

[2017-09-08 20:46] #8530 closed

[2017-09-08 21:29] fanminshi opened #8532 "etcd dial timeout too fast when new member can't reach to the existing cluster"
etcd version: 3.1.8
via https://github.com/coreos/etcd-operator/issues/1300

When adding a new member to existing cluster, the new member needs to get cluster information from its peer.
[code]
https://github.com/coreos/etcd/blob/master/etcdserver/server.go#L312-L315

If peer can't be timely reached, the new member dial timeout too quickly in around ~ 1s. The reason for this is because the round tr

[2017-09-08 21:58] irfansharif commented on #8501
Originally wrote the following on #8525 but posting here instead:

---

This addresses the specific deadlock observed in #8501 but given how we're looking to stabilize PreVote overall I was wondering what your thoughts were on the following proposal:

The current Pre-Vote implementation works such that a a `PreCandidate` sending out `PreVote` messages annotates `Message.Term` with the "next" term,

[2017-09-08 22:40] raoofm opened #8534 "etcd v3.2.5 tls broken or a breaking change is introduced"
carrying this over from https://github.com/coreos/etcd-operator/issues/1384

May be related to https://github.com/coreos/etcd/issues/8268

[2017-09-08 22:45] heyitsanthony commented on #8534
@raoofm what was the version when it was last working?

[2017-09-08 22:46] heyitsanthony commented on #8534
OK, I see 3.1.8. Nevermind

[2017-09-08 22:46] raoofm commented on #8534
@heyitsanthony  v3.1.8 works
 https://github.com/coreos/etcd-operator/issues/1384#issuecomment-328227252

[2017-09-09 02:02] jiaxuanzhou commented on #8526
@featheryus this kind error may caused by the low performance of the disk, would you provide some performance data of the `iops ` by `iostat -x 1` or value of `wa` in `top`

[2017-09-09 09:41] lorneli opened #8538 "lease: question about optimizing finding expired leases with heap"
Here is the comment about optimizing finding expired leases with heap.
https://github.com/coreos/etcd/blob/master/lease/lessor.go#L121-L126

	// id index.
	// Now it is O(N) to loop over the leases to find expired ones.
	// We want to make Grant, Revoke, and findExpiredLeases all O(logN) and
	// Renew O(1).
	// findExpiredLeases and Renew should be the most frequent operations.

After adding a hea

[2017-09-10 10:26] qyzhaoxun opened #8539 "after snap raftexample cannot start httpkvapi"
# Bug reporting
raftexample
newKVStore would do readCommits, but if snap load ok, newKVStore would not return and serveHttpKVAPI would not exec
A good bug report has some very specific qualities, so please read over our short document on [reporting bugs][report_bugs] before submitting a bug report.

To ask a question, go ahead and ignore this.

[report_bugs]: https://github.com/coreos/etcd/blob/ma

[2017-09-10 11:13] #8539 closed

[2017-09-10 11:29] qyzhaoxun commented on #8539
[raftexample: fix raft blocking on restart #7315](https://github.com/coreos/etcd/pull/7315/commits/152513fc104b69d66dbc4f755309520d327ca8a8)

[2017-09-10 15:36] hexfusion commented on #6002
@heyitsanthony so are you thinking of using something like Terraform with Matchbox to automate the cluster creation? Then use @gyuho's dbtester against that cluster for data? Would this be touched off/managed by Jenkins pipeline? I find this project interesting and would lend a hand if it makes sense.

[2017-09-11 02:18] featheryus commented on #8526
@gyuho @jiaxuanzhou
Thank you very much for your support.
I'll attach full log later.
But we can't get io performance data before next reproduce.
I have another question, this error last more than half hour. And mn-1 restart 7-8 times. Why it suddenly recover 09:07:27.721180.
Seems there is no condition changed,
Is it possible, the io is always busy during the past half hour.( 08:35:59-09:07:27),

[2017-09-11 12:55] sascha-andres commented on #8524
My go version:
go version go1.9 linux/amd64
Same error

[2017-09-11 12:59] mkumatag commented on #8524
@sascha-andres make sure you clean old golang1.8 code completely. This happens sometime if you have both 1.9 and 1.8 in the path.

[2017-09-11 13:27] sascha-andres commented on #8524
Got it working a second ago. Just mad an go get -u clientv3. Though my previous get was just three days ago

[2017-09-11 13:28] sascha-andres commented on #8524
Thanks for the comment

[2017-09-11 16:23] raoofm commented on #8534
@heyitsanthony did you get a chance to check this

[2017-09-11 16:37] gyuho commented on #8534
Why some DNS names don't have `*.` (from your logs)?

[2017-09-11 16:45] raoofm commented on #8534
@gyuho sorry it is the formatting issue. It italicized it from 1 star to the other

[2017-09-11 16:49] heyitsanthony commented on #8534
@raoofm you filed the bug friday afternoon at 3:40PM, it's monday morning now. Did you expect me to work after hours on this?

[2017-09-11 17:11] raoofm commented on #8534
:smile: no clue on what time zone you work on dude. It was just a friendly reminder to check if it is something that changed with etcd or have I messed up something with my certs. You can take your time and of-course your time and work is greatly appreciated.

[2017-09-11 19:31] dannyk81 opened #8541 "etcd v3.2.5: missing grpc_server_* metrics when scraping with Prometheus"
We are scraping etcd (v3.2.5) instances with Prometheus and not getting any of the `grpc_*` metrics, all other `etcd_*` are collected correctly.

Am I missing some configuration? my understanding is that these should be included by default and only the histogram metrics are optional (enabled with `–metrics extensive`)

Any suggestions? thoughts?

[2017-09-11 19:54] gyuho commented on #8541
`grpc_*` won't show up until initial requests come in, as far as I know. Can you try sending test requests to your cluster and try again?

[2017-09-11 22:50] dannyk81 commented on #8541
This particular etcd cluster is part of K8s control plane, the clients in this case are ectd proxies deployed on the K8s worker nodes (these are actually running etcd v2).

I tried executing a bunch of etcdctl command (not sure if it's enough)

But not seeing any of the gprc metrics.

[2017-09-11 22:53] gyuho commented on #8541
What commands are you sending to etcd cluster? If v2, it won't send any gRPC requests.

[2017-09-11 22:55] heyitsanthony commented on #8541
Works fine:
[code]

[2017-09-12 00:33] dannyk81 commented on #8541
Thank you both, indeed all clients (including etcdctl) that we have are v2 and as described these won't generate grpc requests.

[2017-09-12 00:33] #8541 closed

[2017-09-12 01:26] shenlanse commented on #8538
Delete min element from heap,taking O(logN). But we might need to delete X elements from heap.

when renew from map, you need to adjust heap, which takes O(logN)

[2017-09-12 01:33] heyitsanthony commented on #8538
@lorneli it would use a map for fast renew and a min-heap for fast expiry scanning. Unless there are some performance measurements that would justify adding a heap, it's probably best to leave the code as-is instead of introducing unnecessary complexity.

[2017-09-12 02:08] shenlanse commented on #8532
Agree. One second is too fast when bootstrap a new member.

[2017-09-12 03:07] lorneli commented on #8538
@shenlanse Thanks. `findExpiredLeases` takes O(NlogN). `Renew` needs to find lease first, see @heyitsanthony's comment.

[2017-09-12 03:07] lorneli commented on #8538
@heyitsanthony Thank you very much.

[2017-09-12 03:13] #8538 closed

[2017-09-12 09:34] shenlanse opened #8544 "[raft] progress: optimize set pr.next when receive reject MsgAppResp"
**1. Processing Steps**

When leader sends MsgApp message, it will set `m.Index `and `m.LogTerm`, which are index and term of last sent entry.
https://github.com/coreos/etcd/blob/master/raft/raft.go#L390

when follower receive MsgApp message , it will first check `m.Index `and `m.LogTerm` is matched.
https://github.com/coreos/etcd/blob/master/raft/raft.go#L1119
https://github.com/coreos/etcd/blob/

[2017-09-12 09:37] shenlanse commented on #8544
@heyitsanthony @xiang90

[2017-09-12 15:29] mcameron opened #8547 "Build regression for etcd/clientv3."
Pipeline builds that were working are now failing (after this PR: #8531) to compile the etcd/clientv3 code in busybox (alpine linux).

Command:  `go get github.com/coreos/etcd/clientv3`

Error:
[code]

[2017-09-12 15:32] heyitsanthony commented on #8547
@mcameron it's failing because etcd upgraded to go 1.9. Please vendor the etcd client; master is the unstable dev branch.

[2017-09-12 15:32] #8547 closed

[2017-09-12 15:40] mcameron commented on #8547
Thanks @heyitsanthony.  I notice now in closed tickets that this is a dup, having only checked opened issues before submitting.

[2017-09-12 18:14] heyitsanthony commented on #8487
Fixed in master. Closing.

[2017-09-12 18:14] #8487 closed

[2017-09-12 18:33] gyuho commented on #8526
@featheryus Ping?

[2017-09-12 18:36] heyitsanthony commented on #8417
Was spending most of its time in TLS, likely fixed by #8426

[2017-09-12 18:36] #8417 closed

[2017-09-12 18:36] heyitsanthony commented on #8492
Questions have been answered; closing.

[2017-09-12 18:36] #8492 closed

[2017-09-12 18:37] heyitsanthony commented on #8496
Questions answered; closing.

[2017-09-12 18:37] #8496 closed

[2017-09-12 20:05] mickep76 opened #8548 "Compile breaks"
# Bug reporting

There seems to be a dep. issue in the clientv3, when compiling I get the following error:

[code]

**Code:**

[code]

[2017-09-12 20:20] mickep76 commented on #8548
This only affects v1.6.x of grpc or master branch. It works for v1.5.x branch.

[2017-09-12 20:48] #8506 closed

[2017-09-12 20:58] heyitsanthony commented on #8548
OK, grpc broke their API again. Thanks for the heads up.

[2017-09-12 21:47] Mattias- opened #8549 "v3.2.7 container image from gcr.io/etcd-development/etcd doesn't work with rkt"
The docker instruction for how to run [`v3.2.7`](https://github.com/coreos/etcd/releases/tag/v3.2.7) state that:

`quay.io/coreos/etcd` is being deprecated in future versions.

With this fresh in mind when [setting up a cluster on Container Linux](https://coreos.com/etcd/docs/latest/etcd-live-cluster-reconfiguration.html) i simply created a [drop-in systemd unit file](https://coreos.com/os/docs/la

[2017-09-13 01:17] rockwyc992 commented on #8534
It could work on my machine with v3.2.7 & v3.1.8, but it could not work with v3.2.0

### with v3.2.7
[code]

### with v3.1.8
[code]

 ### with v3.2.0
[code]

And I generate key pair with `cfssl`

### ca-csr.json
[code]

### kubenetes-csr.json
[code]

[2017-09-13 01:55] heyitsanthony commented on #8534
@rockwyc992 there were TLS changes in 3.2 that were not in 3.1 that introduced some bugs, 3.2.0 isn't expected to work and there have been patch releases since then that fixes it.

[2017-09-13 02:10] xiaoyulei opened #8550 "Is there anyway to update lease in a txn?"
It looks like there is no lease interface in txn.

[2017-09-13 02:14] heyitsanthony commented on #8550
@YuleiXiao refresh a lease in a txn? no. What is the use case?

[2017-09-13 02:33] yinhongbo opened #8551 "exec ./build error"
./build
# github.com/coreos/etcd/cmd/vendor/github.com/coreos/etcd/pkg/netutil
gopath/src/github.com/coreos/etcd/cmd/vendor/github.com/coreos/etcd/pkg/netutil/netutil.go:45: undefined: net.DefaultResolver in net.DefaultResolver.LookupPort
gopath/src/github.com/coreos/etcd/cmd/vendor/github.com/coreos/etcd/pkg/netutil/netutil.go:55: undefined: net.DefaultResolver in net.DefaultResolver.LookupIPAddr

[2017-09-13 02:35] YuleiXiao commented on #8550
@heyitsanthony
txn like this:
[code]

[2017-09-13 02:49] heyitsanthony commented on #8551
@yinhongbo what version of the go compiler? etcd 3.2.x needs go 1.8+ to build, master needs go 1.9+

[2017-09-13 02:54] yinhongbo commented on #8551
@heyitsanthony thanks , i am use 1.7.4 now. i try it use 1.9 later. thanks

[2017-09-13 02:54] #8551 closed

[2017-09-13 03:12] heyitsanthony commented on #8550
OK, if this feature is going to be supported, it'd be as a flag to Put that would refresh the lease. The Txn interface shouldn't need to change.

[2017-09-13 08:26] #8494 closed

[2017-09-13 15:24] raoofm commented on #8534
@heyitsanthony v3.2.7 fails with the same reasosn as well

[2017-09-13 15:32] raoofm commented on #8534
[code]

[2017-09-13 15:39] heyitsanthony commented on #8534
@raoofm it looks like rdns isn't set up right, what does `dig +x 10.36.249.250` give?

[2017-09-13 15:51] raoofm commented on #8534
[code]

[2017-09-13 15:54] heyitsanthony commented on #8534
@raoofm `*.etcd-dev-cluster.etcd-operator.svc"` doesn't match `*.etcd-dev-cluster.etcd-operator.svc.cluster.local`

[2017-09-13 15:57] raoofm commented on #8534
@heyitsanthony agree, thnx

probably etcd-operator needs to correct their doc for cluster-tls
I'll add this to the cert host using cfssl and regenerate

[2017-09-13 15:59] raoofm commented on #8534
https://github.com/coreos/etcd-operator/blob/master/doc/user/cluster_tls.md

server.crt: etcd server's client communication cert. The certificate should allow wildcard domain *.${clusterName}.${namespace}.svc, ${clusterName}-client.${namespace}.svc, and localhost

[2017-09-13 17:12] rsm10 opened #8553 "Leadership changes under heavy load cause hanging in state machine"
Version: etcd raft. 3.1.5
High level problem: When operating a raft cluster under a lot of load; the election process gets stuck. Essentially when a leader changes; one of the nodes doesn't see this change. It then tries to send commits to the old leader, but the http Post hangs forever.

So we have nodes A, B and C. A is the leader, but then it loses its leadership. B doesn't see this, and still

[2017-09-13 17:42] heyitsanthony commented on #8534
Closing since this is not an etcd bug.

[2017-09-13 17:42] #8534 closed

[2017-09-13 18:35] xiang90 commented on #8450
If checkQ is not enabled, LeaseBasedRead should always return index 0 as readIndex. That is what the test is for (see https://github.com/coreos/etcd/blob/master/raft/raft.go#L873). It seems line 876 is wrong, it still uses the commit index.

@javaforfun can you help to fix it and add a test?

[2017-09-13 19:01] #8478 closed

[2017-09-13 19:05] rsm10 commented on #8553
Note, it seems like there are two separate issues here.

1. The node that hangs when receiving messages meant for a leader; when it isn't the leader
2. The node that thinks the leader is elected even when it currently isn't and seemingly never was

[2017-09-13 19:50] gyuho commented on #8548
@mickep76 We've migrated our clientv3 to use incoming/outgoing context here https://github.com/coreos/etcd/pull/7896. So this should compile with etcd master branch. Can you try updating your etcd/clientv3 vendor with master and gRPC 1.5.x?

[2017-09-13 23:01] xiang90 commented on #8544
@shenlanse

The optimization seems safe. However, have you seen this became a problem in any real world use cases?

[2017-09-14 01:02] shenlanse commented on #8544
@xiang90 Haven't honestly. In some special cases, it will avoid redundant retransmission.

[2017-09-14 01:14] xiang90 commented on #8544
@shenlanse

I would like to move this forward with real world problems. Or I prefer keeping this as it is, and not complicating the code path.

[2017-09-14 01:18] xiang90 commented on #8544
Any performance measurement against simulated failure cases would also be valuable.

[2017-09-14 02:55] zyf0330 opened #8557 "etcdctl endpoints format error"
In newest commit, when I run `etcdctl endpoint health --endpoints=[http://a1.com,http://a2.com,http://a3.com]`, I got
[code]
As you can see, it seems that `-endpoints` list doesn't be split properly. And if I change it into `http://a1.com,http://a2.com,http://a3.com` which remove `[ ]`, it works normally.

[2017-09-14 03:03] zyf0330 opened #8558 "suggest update version info of etcd from build"
When build etcd, its version info always is
[code]
and from http path `/version` always get
[code]
Is this info is up to date with release version?

[2017-09-14 03:49] javaforfun commented on #8553
I think this problem is fixed by https://github.com/coreos/etcd/pull/8339

[2017-09-14 04:02] zyf0330 opened #8559 "etcdv3 client.go with multi endpoints stops working after first endpoint stop work"
## Background
I use confd and find a problem. It use etcdv3 client.go to watch changes and I give three endpoints to it.
## there problems
* After client.go starts running, if I stop one etcd related to **first** endpoint, client.go won't watch new change of key, even though that etcd restores.
* If I stop one etcd before client.go run, it works even though I start that stopped etcd and stop anoth

[2017-09-14 05:25] AnjaniKr opened #8560 "etcdctl v3 not working with enviornment variables on host machine but works on VM"
Description : When running etcdctl v3 with enviornment variables set doesn't works on physical host but works on VM. Following variables are set in bashrc  ETCDCTL_ENDPOINTS=https://hostip:2379, ETCDCTL_CACERT=cert file, ETCDCTL_API=3

Following is etcd service status :
 etcd.service - etcd - highly-available key value store
   Loaded: loaded (/lib/systemd/system/etcd.service; enabled; vendor pres

[2017-09-14 06:11] zyf0330 commented on #8560
You should export environment variable in .bashrc.

[2017-09-14 06:37] AnjaniKr commented on #8560
ya we exported all three in .bashrc
ETCDCTL_ENDPOINTS=https://xxx:2379, ETCDCTL_CACERT=certpath, ETCDCTL_API=3

[2017-09-14 06:43] zyf0330 commented on #8560
notice:
* `export ETCDCTL_ENDPOINTS=...`
* write in .profile not .bashrc

[2017-09-14 07:02] heyitsanthony opened #8561 "etcdserver: move accessor auth RPCs out of applier"
There are auth RPCs in the etcdserver applier that can have linearization at the API level using the read index facility from 3.1. The RPCs should be moved out of the applier since there's no need to have them there any more and the applier is a critical path. Ideally the API level handling would be in 3.3 and the full removal from the applier path would be in 3.4.

/cc @mitake

[2017-09-14 07:05] heyitsanthony commented on #8558
This is correct since that's master and not an official release. The current master is branched starting from the 3.2.0 release, making the version 3.2.0+git. Master builds are tracked by the SHA which is printed when starting etcd, the version strings are bumped only when cutting a release.

[2017-09-14 07:05] #8558 closed

[2017-09-14 07:10] heyitsanthony commented on #8557
`--endpoints` has always been comma delimited. Square brackets are malformed input, so don't expect it to work. Closing.

[2017-09-14 07:10] #8557 closed

[2017-09-14 07:12] heyitsanthony commented on #8559
Please try with a more recent client, there have been a lot of bug fixes over the past year.

[2017-09-14 07:18] heyitsanthony commented on #8560
@AnjaniKr what does `env` show before running `etcdctl get / --prefix`?

[2017-09-14 07:18] zyf0330 commented on #8557
It just works at least at version v3.2.7. Ok, it's all right.

[2017-09-14 07:19] zyf0330 commented on #8559
Ok, thanks.

[2017-09-14 07:19] #8559 closed

[2017-09-14 07:20] zyf0330 commented on #8558
So etcds built from master and release version will work together?

[2017-09-14 07:22] AnjaniKr commented on #8560
@zyf0330 even after adding to .bashrc it doesn't work

[2017-09-14 07:22] mitake commented on #8561
@heyitsanthony I see, I'll work on it.

[2017-09-14 07:23] AnjaniKr commented on #8560
@heyitsanthony following are env before running etcdctl get --prefix
ETCDCTL_ENDPOINTS=https://x.x.x.x:2379
ETCDCTL_CACERT=certpath
ETCDCTL_API=3

[2017-09-14 07:55] zyf0330 commented on #8560
If these are output from `env` command, then I don't know why it doesn't work.

[2017-09-14 08:00] heyitsanthony commented on #8560
@AnjaniKr I need the full output of `env`.

[2017-09-14 08:19] heyitsanthony commented on #8560
also, is there a difference in output between the two when calling etcdctl with `--debug`?

[2017-09-14 10:09] Iulian7 opened #8562 "Multi-raft documentation"
I saw some issues open from last year about this (#4932, #5107) however I could not find any more documentation about this. Is there any more documentation about using raft for multiple consensus groups (multi-raft)? Any documentation/examples for rawnode?

[2017-09-14 12:56] heyitsanthony commented on #8562
No, that's why the issue is still open. Duplicates #4932; closing.

[2017-09-14 12:56] #8562 closed

[2017-09-14 14:06] mickep76 commented on #8548
@gyuo I get the following compile error with latest etcd and grpc.

[code]

Using v1.5.x branch I get the same error, so it's now broken for v1.5.x and v1.6.x of grpc and etcd master branch.

[2017-09-14 14:11] mickep76 commented on #8548
For the moment I can compile with branch "release-3.2" for etcd and branch "v1.5.x" for grpc.

[2017-09-14 16:30] hongchaodeng commented on #8534
@raoofm

Reverse DNS lookup like this will give the **full** domain name, even if it ends with ".svc" only. That's not an evidence that URL the peer is talking to.

Can you print out the etcd container's command line to show the etcd peers' URLs ?

[2017-09-14 19:54] fanminshi commented on #8503
@heyitsanthony should we have a minimum `retention`?

[2017-09-14 20:19] gmcquillan commented on #6904
I recognize that the underlying serialization and replication of data in etcd3 has very different semantics than it did with etcd2, however people still conceive of data as a hierarchical tree.

Removing the commands to explore that hierarchy from the core of command-line client seems like a mistake to me.

There's an additional 40 characters needed for one of the most common operations an adminis

[2017-09-14 20:29] rsm10 commented on #8553
So 8339 definitely has helped, but I do still see POSTs timing out when a leader changes though in a different scenario:

ad05af was leader:
raft2017/09/14 19:43:50 INFO: ad05af became follower at term 260
raft2017/09/14 19:43:50 WARN: ad05af stepped down to follower since quorum is not active

On other two nodes, they get "stuck" again with the "lease is not expired" message from raft2017/09/14 1

[2017-09-14 21:01] heyitsanthony commented on #8503
@fanminshi no, if the user gives a very short retention time, that's on them

[2017-09-14 21:04] heyitsanthony commented on #6904
@gmcquillan `ls` was not removed; it was never supported in v3 in the first place. Use the v2 backend or the v2 emulation layer if you want a directory hierarchies.

[2017-09-14 21:06] fanminshi commented on #8503
@heyitsanthony got it.

[2017-09-14 21:17] gmcquillan commented on #6904
@heyitsanthony Thanks for responding. Those are two good choices.

I'm just concerned that in v4, or v5, or v6 those kinds of feature bridges won't be available.

I want to communicate that, like the original author of this issue and the 30 people who've found it and thumbs-up'ed the answer, this change (between v2 and v3) kinda violates our expectations about the UX. If it were my project, I'd wa

[2017-09-14 21:26] heyitsanthony commented on #6904
@gmcquillan we're trying to support sane migration paths with data model emulation. v4 will likely be a cleanup of v3, it won't be as much of a conceptual leap. There's no `ls` in etcdctl v3 because it'd be very expensive to support with the v3 data model and having special support for it would reduce performance for applications that don't need it.

Since v3 was a major revision bump, going by se

[2017-09-14 21:42] raoofm commented on #8534
@hongchaodeng @heyitsanthony @xiang90
Tried again with operator 0.5.2 and etcd 3.2.7

my current setup, using cfssl
**ca-config.json**
[code]

**client.json**
[code]

**peer.json**
[code]

**server.json**
[code]

**etcd-operator logs**
[code]

etcd -0000 logs
[code]

etcd-0001 logs
[code]

etcd-0002 logs
[code]

bacup sidecar logs
[code]

[2017-09-14 21:44] raoofm commented on #8534
@hongchaodeng @heyitsanthony @xiang90 please note that I removed .cluster.local suffix entry from the host and used the newly generated certs and tls seems to fail

[2017-09-14 21:48] heyitsanthony commented on #8534
[code]

DNS is still misconfigured.

[2017-09-14 21:53] raoofm commented on #8534
this is being done by etcd-operator @hongchaodeng ?

[2017-09-14 21:59] raoofm commented on #8534
![image](https://user-images.githubusercontent.com/12846989/30457527-a154d9a6-9975-11e7-8e19-f32384e87945.png)

![image](https://user-images.githubusercontent.com/12846989/30457695-605c6dc8-9976-11e7-8992-e3143e645c93.png)

[2017-09-14 23:28] gyuho commented on #8548
@mickep76 For master branch, etcd requires Go 1.9.

[2017-09-15 02:21] xdk25d opened #8565 "etcd Version: 3.1.9 get high disk io in the case of small client request."
Description: In VM, my etcd(each of the etcd cluster) get high disk io about 2+MB/s when the flow from client is about 20 KB/s

Following is some system status:

1. iotop show the io disk info:

 PID  PRIO  USER     DISK READ  DISK WRITE  SWAPIN      IO    COMMAND
 2612 be/3 root        0.00 B/s   11.05 K/s  0.00 % 38.91 % [jbd2/vdb2-8]
  691 be/3 root        0.00 B/s    7.37 K/s  0.00 %  4.31 % [

[2017-09-15 04:16] heyitsanthony commented on #8565
@xdk25d this is possibly from a boltdb issue that will be fixed in 3.3. Defragmenting the members might help, see https://github.com/coreos/etcd/blob/master/Documentation/op-guide/maintenance.md#defragmentation

[2017-09-15 04:58] mitake commented on #8458
@struz I added a new option `--etcd-compaction-interval` to kube-apiserver side: https://github.com/kubernetes/kubernetes/pull/51765 . If you pass an argument 0 with the option, apiserver won't issue compaction requests. The PR is already approved so it will be merged in the near future. Could you try it?

[2017-09-15 06:28] AnjaniKr commented on #8560
@heyitsanthony its saying there is no --debug arguments, I got the issue there was etcd-gateway also running on the same host and that was wrongly configured so whenever we were trying to execute etcdctl it was referring to etcd-gateway's envs

[2017-09-15 06:29] AnjaniKr commented on #8560
@zyf0330 thanks for you valuable time to debug this 👍
@heyitsanthony thanks 👍

[2017-09-15 06:37] zyf0330 commented on #8560
I never see etcd-gateway in my process list.

[2017-09-15 07:08] AnjaniKr commented on #8560
@zyf0330 it will not be shown in process list, just a executable link in some path with set of envs

[2017-09-15 07:11] zyf0330 commented on #8560
Didn't you mean `etcd gateway`?

[2017-09-15 08:51] AnjaniKr commented on #8560
yes

[2017-09-15 10:20] zyf0330 commented on #8560
Oh, I mean too. I never use it, so cannot help you. I thought you connected to etcd directly.

[2017-09-15 17:21] rsm10 commented on #8553
Confirmed I still see my original issue.  Still think it is related to this SELECT from node.go, that seems to only return because I set a context timeout. Something aboutt the channel used to wait on here is wrong when a message is received from a node that thinks this node is the leader, but this node does not think it is a leader.

// Step advances the state machine using msgs. The ctx.Err() wi

[2017-09-15 17:39] xiang90 commented on #8565
@xdk25d Please give master a try, and let us know if it helps.

[2017-09-15 20:05] rsm10 commented on #8553
I am wondering if the "ch" channel here is nil; and hence sending to it blocks forever.

On a cluster I saw this issue, it seems like I can correlate a node losing leader status with these hanging posts.

On node that was receiving POSTs that hang:

raft2017/09/15 11:50:24 INFO: raft.node: aa82e9 lost leader aa82e9 at term 6606

On node that gets stuck:

raft2017/09/15 11:50:19 INFO: raft.node: b0

[2017-09-15 20:10] flah00 commented on #8491
Based on input from @heyitsanthony, I updated `userdata/cloud-config-etcd`, so backups run every 5m instead of 1m. CPU has stabilized.

[2017-09-15 20:22] xiang90 commented on #8491
thanks for the update. Closing this issue.

[2017-09-15 20:22] #8491 closed

[2017-09-15 21:15] rsm10 commented on #8553
so added some debugging to a patched version of this code, and appears that in "func (n *node) step(ctx context.Context, m pb.Message) error {"; the 'ch' channel is NOT nil after all.

So maybe it is full?

[2017-09-15 21:16] heyitsanthony commented on #6002
no, it would just be running the cmd/tools/benchmark against every commit and having a way to track the results; dbtester wouldn't be involved and terraform seems like overkill

[2017-09-15 21:17] xiang90 commented on #8553
@rsm10 This issue is not super helpful. Can you:

1. format your logging lines to make it easier to read
2. tell us more about your context/backgroud
3. tell us how to reproduce it

[2017-09-15 21:23] raoofm commented on #8534
@heyitsanthony @hongchaodeng the exact same certs work with 3.1.10

[2017-09-15 21:24] heyitsanthony commented on #8534
@raoofm sure, 3.2 added stricter SAN checking. This is an operator bug.

[2017-09-15 21:37] rsm10 commented on #8553
I'll need to try and reproduce in a simpler way if you want something that you can take, run and repro with. At a high level, I am just running a raft cluster with a very rapid, continuous load of commits. We are using raft essentially as a replicated queue.

I don't see this issue all the time. Generally only after several hours of hammering my raft cluster with data to be committed does it pop u

[2017-09-15 21:50] rsm10 commented on #8553
if the problem is as I describe, what about something like this as a speculative solution:
in node.go. run function

change this:
		select {
		// TODO: maybe buffer the config propose if there exists one (the way
		// described in raft dissertation)
		// Currently it is dropped in Step silently.
		case m := <-propc:
			m.From = r.id
			r.Step(m)

to:
		case m := <-n.propc:
			if lead != r.lead &&

[2017-09-15 21:52] raoofm commented on #8534
@hongchaodeng any timeline to test etcd-operator against etcd 3.2.*?

[2017-09-16 00:58] peterwillcn commented on #6904
ETCDCTL_API=3 etcdctl --endpoints=http://localhost:2379 get / --prefix --keys-only

[2017-09-16 03:30] javaforfun commented on #8553
[code]
@rsm10 seems you only use one thread for raft and snapshot.  raft leader hang when creating snapshot (can't send Heartbeat, MsgApp...), so followers thinks leader timeout, then start election.
are you testing this?  https://github.com/coreos/etcd/blob/master/contrib/raftexample/raft.go#L439

[2017-09-16 03:56] xdk25d commented on #8565
@heyitsanthony @xiang90 After defragmenting the members, the disk io get much lower now.
Thanks .

[2017-09-16 03:56] #8565 closed

[2017-09-16 03:57] xiang90 commented on #8565
@xdk25d also give master a try if you are doing tests. master should not require a defrag. let us know if it works.

[2017-09-16 04:19] rsm10 commented on #8553
We are doing something similar to that example yes. That also has the snapshot and main raft loop on a single thread too no?

On Sep 15, 2017 8:31 PM, Shuai Li <notifications@github.com> wrote:

Non-leader nodes both had:

Sep 14 19:43:47 99-60 INFO: start snapshot [applied index: 3350544 | last snapshot index: 3300515]
Sep 14 19:43:53 99-60 INFO: Saving snapshot to disk...
Sep 14 19:43:54 99-60 I

[2017-09-16 05:46] gyuho commented on #8560
@AnjaniKr I don't think adding to bashrc would work if you run etcd with systemd.

See https://coreos.com/os/docs/latest/using-environment-variables-in-systemd-units.html.

[2017-09-16 07:29] zyf0330 commented on #8560
@gyuho I think you understand wrongly. He is using `etcdctl` with environments set.

[2017-09-16 08:28] gyuho commented on #8560
Right, nvm.

Thanks.

[2017-09-17 23:28] youngnick commented on #8458
I think there's some confusion here over what this ticket is about. (I work in the same team as @struz, for explanation). We understand that the Kubernetes apiserver manages the compaction - that is not the problem. The service that we're using allows us to perform the same compaction from the etcd node, so that we don't have to grant *root access* to our single persistent datastore *across the ne

[2017-09-18 00:13] heyitsanthony commented on #8458
@youngnick authorizing RPCs like compaction with non-root roles would be fine to have, but it's not urgent

[2017-09-18 00:28] xiang90 commented on #8458
@youngnick

What I said is that Kubernetes assumes it owns etcd as it is today. And I wanted to understand why you want to enable Auth when using etcd with Kubernetes. If there is a valid reason, then we can prioritize this issue. Neither @struz or you provided the answer. If you want a feature, it is better to tell us about the general use case and why it is important instead of telling us `x is

[2017-09-18 00:45] youngnick commented on #8458
Thanks @xiang90 - that wasn't clear from your answer before.

The proximal reason that we enabled auth right now is that we wanted to be able to only have one etcd cluster to store the main Kubernetes bits, and also the the Calico Network Policy bits (which need to be accessible from all Nodes, not just the ones running the apiserver and controller-manager). I understand this is possibly inadvisab

[2017-09-18 01:01] heyitsanthony commented on #8560
Closing; root cause was misconfiguration

[2017-09-18 01:01] #8560 closed

[2017-09-18 01:08] xiang90 commented on #8458
@youngnick

Thanks for the explanation. I agree with what you said above.

From my understanding this is super urgent for you either. @mitake and @heyitsanthony already have this on their list. We will prioritize this accordingly.

[2017-09-18 02:29] #8450 closed

[2017-09-18 03:34] xdk25d commented on #8565
@xiang90 I give master of etcd a try,  the result as below:
https://192.168.0.5:15013, a9b9071a4f665c35, 3.1.9, 1.6 MB, true, 223, 4503827
https://192.168.0.6:15013, 634e3d48bd4a7f4b, 3.1.9, 656 MB, false, 223, 4503827
https://192.168.0.7:15013, da4358f49d5bd5f2, 3.1.9, 658 MB, false, 223, 4503827

[2017-09-18 03:43] xiang90 commented on #8565
it is strange that a9b9071a4f665c35 has 1.6MB db size. did you do a defrag only on that node?

[2017-09-18 04:04] xdk25d commented on #8565
@xiang90  yes,  i only do it on that endpoint

[2017-09-18 04:06] xiang90 commented on #8565
@xdk25d do you still see high i/o during the test on master as before? or it is getting better?

[2017-09-18 04:08] xdk25d commented on #8565
@xiang90  much better

[2017-09-18 04:08] xiang90 commented on #8565
@xdk25d ok. thank you for the confirmation.

[2017-09-18 09:08] shuaili87 opened #8568 "raft: non-voting member for Catching up new servers"
In thesis section 4.2.1 `Catching up new servers`,  it says
[code]
etcd behave like this currently.    The solution is the following
[code]

[2017-09-18 09:32] javaforfun commented on #8568
both https://github.com/logcabin/logcabin and https://github.com/hashicorp/raft/blob/library-v2-stage-one/membership.md
implemented non-voting member. In hashicorp/raft
[code]
[code]
we can also use this approach,  by introducing a new state, SuffrageState
[code]
then add SuffrageState to Raft (for node itself), and Progress (for other nodes),
persist SuffrageState to Snapshot, ConfState...

[2017-09-18 10:42] shenlanse commented on #8568
mark

[2017-09-18 11:17] roffe commented on #5019
@akauppi Any progress in this? =)

[2017-09-18 15:18] raoofm commented on #8534
@hongchaodeng do you agree with this, so that I i can stop the noise on etcd and follow up https://github.com/coreos/etcd-operator/issues/1384#issuecomment-328229020

[2017-09-18 16:23] heyitsanthony commented on #8534
@raoofm, @hongchaodeng specifically requested the stricter SAN checking and I implemented it. Please follow up on etcd-operator

[2017-09-18 16:24] #8326 closed

[2017-09-18 17:47] xiang90 commented on #8568
/cc @bdarnell

[2017-09-18 23:02] xiang90 commented on #8568
It seems fine to add this feature.

AddNonVoter should be fairly easy to add. Probably adding a new node state is enough (so we wont count it in voting and it wont vote). Not sure if we want to implement the demoteVoter initially though.

[2017-09-19 01:36] gyuho commented on #8549
@Mattias- Could you try adding `docker://`?

This works

[code]

[2017-09-19 01:59] #8549 closed

[2017-09-19 05:53] youngnick commented on #8458
Yes, this is not urgent for us right now, we have a workaround.

I'll put this on our 'tickets to watch' list and we can all move on until the work can be prioritised. Thanks!

[2017-09-19 08:03] zyf0330 commented on #8560
No more explanation?

[2017-09-19 08:10] heyitsanthony commented on #8560
@zyf0330 the environment variables were misconfigured; what more explanation do you need?

[2017-09-19 08:12] zyf0330 commented on #8560
Do you mean that he misconfigured env vars?

[2017-09-19 09:48] Gobonoid opened #8573 "Failed to go get client"
# Bug? - Failing to get client
`go get github.com/coreos/etcd/client`
On my computer and on CI. Go version 1.8.3. Are there any changes I should be aware of ?
[code]
Kind regards,
M.

[2017-09-19 09:58] Gobonoid commented on #8573
Bah. 1.9+ required shown in documentation. Sorry to bother.

[2017-09-19 10:22] Gobonoid commented on #8573
[code]

[code]

[2017-09-19 10:26] abronan commented on #8573
Experiencing the same thing here with `go 1.9`

[2017-09-19 10:36] ggirtsou commented on #8573
Could be related to changes in package https://github.com/ugorji/go/codec?

https://github.com/ugorji/go/commit/54210f4e076c57f351166f0ed60e67d3fca57a36

[2017-09-19 10:59] lsytj0413 commented on #8573
same problem here

[2017-09-19 12:16] Gobonoid commented on #8573
Thank you.

[2017-09-19 18:57] yvdinesh opened #8576 "seeing etcdserver: too many requests on a single node etcd cluster"
I have a single node etcd cluster and periodically see `etcdserver: too many requests`. Doing a watch on the key space reports that there are approximately 5 writes coming in to etcd. The error occurs when there is a drift between etcd's applied and commit index. But not sure what is causing etcd to lag behind. I have checked the resource utilization on the box and everything seems to be normal. L

[2017-09-19 19:49] drewlandis opened #8577 "Question: Should I create a new client per request or reuse existing clients?"
# Question
Near the top of the clientv3 GoDoc it says:
`Make sure to close the client after using it. If the client is not closed, the connection will have leaky goroutines.`
Then just a few lines later it says:
`The Client has internal state (watchers and leases), so Clients should be reused instead of created as needed. Clients are safe for concurrent use by multiple goroutines.`

I have an app

[2017-09-19 19:52] xiang90 commented on #8577
A client means an application. When the life of your application ends, closes the etcd client it uses.

[2017-09-19 19:52] #8577 closed

[2017-09-19 19:52] xiang90 commented on #8576
any logging from etcd server?

[2017-09-19 20:29] yvdinesh commented on #8576
[code]

[2017-09-19 20:34] xiang90 commented on #8576
Probably you need to figure out what the expensive operators are by querying metrics.

[2017-09-19 20:57] rsm10 opened #8578 "Question: Is it possible to use self-signed certs but NOT use InsecureSkipVerify with rafthttp"
Background:

I have nodes with self-signed certs, and am testing setting up a raft cluster. If I want to use TLS, and use my own custom http clients I can get this to work by doing the following for the client TLSClientConfig:

1. Set the RootCAs to include my root CA, include the sender's cert in "Certificates", and then set the "ServerName" value to be equivalent to the "CN" used for the destina

[2017-09-19 22:02] purpleidea opened #8579 "Builds broken with latest go-codec change"
Recently ~23h ago:

https://github.com/ugorji/go/commit/54210f4e076c57f351166f0ed60e67d3fca57a36#diff-46a6c1a93a41b9397422576c715bf9f6L731

DecodeBytes changed from:
[code]
to:
[code]

Etcd is using the old version here: https://github.com/coreos/etcd/blob/5bb9f9591f01d0a3c61d2eb3a3bb281726005b2b/client/keys.generated.go#L192 (current git master)

This broke all the builds using git master, and wi

[2017-09-19 22:16] gyuho commented on #8579
Duplicate https://github.com/coreos/etcd/issues/8573?

[2017-09-19 22:17] gyuho commented on #8548
@mickep76 Ping?

[2017-09-19 22:23] purpleidea commented on #8579
@gyuho

yeah I think so. I search issues, but didn't see it, sorry. I'd close that one as this one has more information, but it's up to you, and it's definitely a dupe :)

[2017-09-19 23:02] jpbetz commented on #8576
It might be a expensive read requests, not writes.

[2017-09-19 23:06] yvdinesh commented on #8576
Interesting. @jpbetz why do you think reads cause the drift between applied and committed index.

[2017-09-19 23:09] xiang90 commented on #8576
@yvdinesh what is the version of your etcd server? read might block writes in the early release of etcd3. i think that is what @jpbetz hints. write is normally inexpensive, but huge range query can be.

[2017-09-19 23:10] gyuho opened #8581 "TestCtlV3DelTimeout: ctlV3Put errors with 'connection is closing'"
https://semaphoreci.com/coreos/etcd/branches/pull-request-8580/builds/1

[code]

Breaks since https://github.com/coreos/etcd/pull/8545.

Update:

[code]

`b.notifyAddrs(notifyReset)` needs fix, it seems.

[2017-09-19 23:10] yvdinesh commented on #8576
@xiang90 etcd version is 3.1.4.

[2017-09-19 23:14] xiang90 commented on #8576
@yvdinesh Probably try to get metrics on requests type to confirm. you can try 3.2 or master to see if things improve too.

[2017-09-19 23:17] yvdinesh commented on #8576
will get the metrics. To confirm @xiang90 , in etcd 3.1.*, reads can block writes, which can cause the drift right?

[2017-09-19 23:19] xiang90 commented on #8576
if range query is huge, then yes. you really need to confirm that by yourself. i cannot say anything for sure with the limited information you provided.

[2017-09-19 23:59] gyuho commented on #8578
@rsm10 How do you construct your TLSInfo? Do you use `transport.SelfCert` https://github.com/coreos/etcd/blob/master/pkg/transport/listener.go#L89?

[2017-09-20 00:26] rsm10 commented on #8578
I can get it to work when I use transport.SelfCert; but then it won't do hostname verification (which I want).

[2017-09-20 00:36] rsm10 commented on #8578
Ok, let me re-phrase. A bit new to http authentication. Using "SelfCert" will disable hostname verification (by setting InsecureSkipVerify=true). But it will still authenticate using the provided cert.pem and key.pem correct?

[2017-09-20 00:37] gyuho commented on #8578
I am not sure how you use `pkg/transport` and `rafthttp`, but I would try call `func (info TLSInfo) ClientConfig()` from `SelfCert`, and try overwriting `ServerName` field in `tls.Config` as you wish.

[2017-09-20 00:38] gyuho commented on #8578
Yes, as in the code above.

Certs will still be verified when no hostname is provided, but they won't be checked against any hostname.

[2017-09-20 00:39] #8573 closed

[2017-09-20 00:39] nulladmin commented on #8573
I just got bitten by this too. Go 1.9 amd64

As a possibly interesting side note that ugorji/codec import adds 6.5M to the size of my binaries, basically doubling them in size. It's imported by both etcd and prometheus packages and is by far the largest sized import. If you're using only a limited functionallity from that package (I don't know if you are) then it may be worth reducing your depende

[2017-09-20 00:39] rsm10 commented on #8578
So InsecureSkipVerify still verifies the tls certs? Is InsecureSkipVerify equivalent to "skip hostname verification" or does it skip other steps as well? I guess what I really want is just the ability to skip hostname verification.

[2017-09-20 00:39] gyuho commented on #8579
Closing via https://github.com/coreos/etcd/pull/8574.

Thanks.

[2017-09-20 00:39] #8579 closed

[2017-09-20 00:41] gyuho commented on #8573
@nulladmin What etcd packages are you vendoring? If you think it's unusual, please open a new issue. Thanks.

[2017-09-20 00:48] gyuho commented on #8578
I meant, you still need valid certs for encryption. But `InsecureSkipVerify` will skip host name checks.

[2017-09-20 01:11] purpleidea commented on #8579
Thanks! (Could we use this opportunity to unvendor libs like this that don't need to be stuck at a specific version?)

[2017-09-20 01:11] purpleidea commented on #8579
LMK if you'd like a patch for that.

[2017-09-20 09:02] abel-von commented on #8253
@xiang90 we are also considering to back port the PRs to 3.1.9 to fix the  "database space exceed" issue, Is there any way to do this ?

[2017-09-20 09:26] Iulian7 commented on #8548
For me it works with the etcd master branch and grpc 1.6.0

[code]

[2017-09-20 12:18] lorneli commented on #8550
How about adding a function `func WithRenewLease(leaseID LeaseID) OpOption`? Similar to [WithIgnoreLease](https://godoc.org/github.com/coreos/etcd/clientv3#WithIgnoreLease) in format.

[2017-09-20 13:12] gyuho commented on #8579
@purpleidea `github.com/ugorji/go/codec` still needs to be vendored for `etcd/client` package. Even if it's only for generated code, seems like a good idea to have pinned version of it in glide.yaml.

[2017-09-20 13:13] gyuho commented on #8548
@mickep76 Please reopen if you still have issues.

[2017-09-20 13:13] #8548 closed

[2017-09-20 13:16] gyuho commented on #8526
Closing. Please reopen when there's full logs with reproducible steps.

[2017-09-20 13:16] #8526 closed

[2017-09-20 13:19] gyuho commented on #8560
@zyf0330 Most likely from misconfiguration in his etcd gateway. Or wrong cert issues.

Please reopen/create a new issue if you still think it's an etcd bug.
We need reproducible steps to debug issues like this.

Thanks!

[2017-09-20 13:49] mickep76 commented on #8548
With go1.9 it builds out of the box. Might be wise to put a notice in the README.md.

Thx

[2017-09-20 18:29] rsm10 commented on #8578
// InsecureSkipVerify controls whether a client verifies the
        // server's certificate chain and host name.
        // If InsecureSkipVerify is true, TLS accepts any certificate
        // presented by the server and any host name in that certificate.
        // In this mode, TLS is susceptible to man-in-the-middle attacks.
        // This should be used only for testing.

So my client and s

[2017-09-20 18:33] raoofm opened #8584 "if auth is enabled, what takes precedence user/pass or CN from client-cert"
Just wanted to check if v3 auth is enabled and client-cert-auth is enabled

As mentioned [here](https://github.com/coreos/etcd/blob/master/Documentation/op-guide/authentication.md#using-tls-common-name)

What is the expected behavior if client cert and user/pass both are presented? Which one of these two take priority?

[2017-09-20 21:21] gyuho commented on #8578
You can't. See https://github.com/golang/go/commit/fca335e91a915b6aae536936a7694c4a2a007a60.

[2017-09-20 21:41] gyuho commented on #8584
The CN will take priority. And user/password will be ignored.

[2017-09-20 21:42] gyuho commented on #8584
c.f. https://github.com/coreos/etcd/blob/master/etcdserver/api/v2http/client_auth.go#L88
https://github.com/coreos/etcd/blob/master/etcdserver/v3_server.go#L688

[2017-09-21 09:11] zyf0330 opened #8585 "add member to cluster by dns recovery"
I want to know if I can add member to a running cluster by dns recovery way ?

[2017-09-21 09:17] gyuho commented on #8585
See https://github.com/coreos/etcd/blob/master/Documentation/op-guide/runtime-reconf-design.md#do-not-use-public-discovery-service-for-runtime-reconfiguration.

[2017-09-21 10:07] igortin opened #8586 "etcd_wal_fsync_durations_seconds_bucket"
# Bug reporting

A good bug report has some very specific qualities, so please read over our short document on [reporting bugs][report_bugs] before submitting a bug report.

To ask a question, go ahead and ignore this.

[report_bugs]: https://github.com/coreos/etcd/blob/master/Documentation/reporting_bugs.md

[2017-09-21 10:11] gyuho commented on #8586
Hi, what's your question?

[2017-09-21 10:11] igortin commented on #8586
Hi,

Could you help please to solve problem: etcd is overloaded.

DISK I/O:
curl -L http://localhost:2379/metrics | grep etcd_wal_fsync_durations_seconds_bucket
etcd_wal_fsync_durations_seconds_bucket{le="0.001"} 0
etcd_wal_fsync_durations_seconds_bucket{le="0.002"} 0
etcd_wal_fsync_durations_seconds_bucket{le="0.004"} 0
etcd_wal_fsync_durations_seconds_bucket{le="0.008"} 0
etcd_wal_fsync_duration

[2017-09-21 10:12] igortin commented on #8586
What is mean etcd_wal_fsync_durations_seconds_bucket{le="0.064"} 2.7211701e+07 ????

[2017-09-21 10:12] igortin commented on #8586
thanks

[2017-09-21 10:22] gyuho commented on #8586
`etcd_wal_fsync_durations_seconds_bucket{le="0.064"}` counts wal fsync duration with `64ms` as upper bound of histogram bucket.

See https://github.com/coreos/etcd/blob/master/Documentation/faq.md#what-does-the-etcd-warning-failed-to-send-out-heartbeat-on-time-mean.

[2017-09-21 10:27] igortin commented on #8586
Thanks for help

[2017-09-21 10:27] #8586 closed

[2017-09-21 10:28] igortin commented on #8586
Can you can tell how many transactions per1 ms according our statistics ?

[2017-09-21 10:34] gyuho commented on #8586
WAL has nothing to do with number of transactions. To query transactions, you would need something like

[code]

ref. https://github.com/coreos/etcd/blob/master/Documentation/op-guide/monitoring.md#prometheus.

[2017-09-21 10:56] igortin commented on #8586
can you please suppose are values below:
etcd_wal_fsync_durations_seconds_bucket{le="0.064"} 2.7211701e+07
is disk io problem?

[2017-09-21 11:14] gyuho commented on #8586
Yes, `2.7211701e+07` fsyncs took +/-60ms. Slow disk will overload etcd.

[2017-09-21 12:36] abel-von opened #8589 "the kube-apiserver UT failed because of the mock etcd server panic"
Hi, recently we are updating our kubernetes version to 1.7, and when we run the unit test of kube-apiserver, sometimes we got failed tests
the log is like below:
[code]

and the failed test cases are all about Watch API, such as the TestWatch in https://github.com/kubernetes/kubernetes/blob/release-1.7/pkg/registry/core/serviceaccount/storage/storage_test.go#L112

we have found the `tx closed` err

[2017-09-21 13:52] xiang90 commented on #8585
closing because of @gyuho's reply.

[2017-09-21 13:52] #8585 closed

[2017-09-21 16:20] raoofm commented on #8584
@gyuho

package name shows v2http, i'm interested in v3 auth behavior.

[2017-09-21 17:10] yvdinesh commented on #8576
@xiang90 I see this in the metrics:
[code]
Looks like the reads are causing the writes to be processed slowly.

[2017-09-21 17:18] xiang90 commented on #8576
are you using v2 or v3?

[2017-09-21 17:26] yvdinesh commented on #8576
v3

[2017-09-21 18:18] raoofm commented on #8584
@gyuho @xiang90 @heyitsanthony
Isn't this a very odd behavior and shouldn't this be changed.
I agree that clientCertAuth should be there but not necessarily that should define the behavior of auth when accessing keys.

For auth v3 the flow can be:
- Check clientCertAuth is met
- Check if Authorization token is provided
    -  if yes then get AuthInfoFromToken
-  If not get AuthInfoFromTLS
- else f

[2017-09-21 21:19] gyuho commented on #8589
@abel-von The fix has been released via etcd v3.2. Yes, upgrading etcd would fix the issue.

[2017-09-21 21:29] gyuho commented on #8584
I think the suggested workflow would break backward compatibility.
/cc @mitake (original author of the patch https://github.com/coreos/etcd/pull/6881).

[2017-09-21 21:32] jpbetz commented on #8589
@abel-von What exact version of kubernetes is this? What does `kubectl version` print?

[2017-09-21 21:44] gyuho commented on #8576
@yvdinesh `etcd_debugging_store_reads_total` is v2 metrics.

[2017-09-21 21:47] raoofm commented on #8584
@gyuho @hongchaodeng @xiang90 @heyitsanthony but this means, users who enabled v3 auth with basicAuth can never enable client-cert-auth even if they want to as they cannot migrate all the clients at the same time.

Also users who were managing their etcd clusters now want to migrate to etcd-operator but etcd-operator enables client-cert-auth by default on tls and the existing clients would break.

[2017-09-21 21:48] yvdinesh commented on #8576
@gyuho is there a different endpoint for v3 metrics? If not, should I be looking at different metrics?

[2017-09-21 21:48] raoofm commented on #8584
@gyuho do you think it is worth to keep this issue open?

[2017-09-21 21:51] gyuho commented on #8576
Can you provide full output of `[your-client-endpoint]/metrics`?

[2017-09-21 22:27] yvdinesh commented on #8576
Uploaded the metrics here:
https://gist.github.com/yvdinesh/4f7c014be3945c5a9b791bf190a0072d

[2017-09-21 22:31] xiang90 commented on #8584
I believe username and password specified in the request should take priority over CN in the cert. If it is not the case, we need to make it happen somehow without breaking compatibility.

[2017-09-21 22:31] xiang90 commented on #8584
/cc @mitake

[2017-09-21 22:35] gyuho commented on #8576
[code]

I see high disk I/O latencies and lots of read requests. See related FAQ https://github.com/coreos/etcd/blob/master/Documentation/faq.md#what-does-the-etcd-warning-failed-to-send-out-heartbeat-on-time-mean.

[2017-09-21 22:42] gyuho opened #8591 "clientv3: add more logging from etcdctl --debug flag"
v3 etcdctl has `--debug` flag.
Useful to debug client balancer issues.
https://github.com/coreos/etcd/blob/master/clientv3/logger.go

[2017-09-21 22:54] xiang90 commented on #8553
@rsm10 have you figured out the root cause? it is because of the blocking snapshot?

[2017-09-21 23:01] rsm10 commented on #8553
Definitely think the blocking snapshot is one of the causes. Working on moving this off the main raft loop.
Though still think that it seems incorrect to me that there is a code path that can result in a blocking send; that only exits if a Context with timeout is used (as per my description earlier).

[2017-09-21 23:04] rsm10 commented on #8578
OK thanks. Filed a new feature request to add support for this. We can close this thread.

https://github.com/golang/go/issues/21971

[2017-09-22 01:24] abel-von commented on #8589
@jpbetz  it's the 1.7 release. I don't know why other guys in the kubernetes community didn't find this issue.

[2017-09-22 02:07] jpbetz commented on #8589
They may have, if I know the exact version of kubernetes I can better check
into the problem.  Are you running 1.7.6 or an earlier patch release of
kubernetes?  If so which one?

On Thu, Sep 21, 2017 at 6:24 PM abel-von <notifications@github.com> wrote:

[2017-09-22 02:36] zyf0330 commented on #8585
Just confirm. Thanks.

[2017-09-22 03:24] raoofm commented on #8584
@xiang90 thank you

[2017-09-22 03:27] abel-von commented on #8589
@jpbetz thank you, it's 1.7.3.

[2017-09-22 03:28] deporz opened #8593 "Go get error"
[code]

[2017-09-22 03:56] gyuho commented on #8593
You need Go 1.9.

[2017-09-22 03:58] raoofm commented on #8584
@xiang90

@gyuho

 I still don't understand the breaking of the compatibility part.

Let me pen it down and attempt to make things more clear. :coffee:

## Current Behavior
As per docs

As per code
etcdserver/v3_server.go
[code]
**Implies**:
1. With the current doc and code, if anyone ever enabled client-cert-auth then eventually it left them with unusable basic auth.
2. So today there might be a

[2017-09-22 04:07] igortin commented on #8586
thanks

[2017-09-22 05:12] mitake commented on #8584
@raoofm thanks for pointing out. I agree with changing the priority. I also think the new flag for configuring priority is overkill because prioritizing password based auth is natural (although I'm not fully sure about this point).

[2017-09-22 05:16] raoofm commented on #8584
@mitake thanks

[2017-09-22 07:14] #8247 closed

[2017-09-22 07:27] deporz commented on #8593
update go 1.9 and reinstall `golang.org\x\net` ,it's work

[2017-09-22 07:27] #8593 closed

[2017-09-22 07:31] zbindenren opened #8595 "grpc-go/transport: "panic: send on closed channel""
Hi

Since the upgrade to latest version 3.2.7, our server crashes every 1-2 days and we have to start it manually.

The error and stack:

[code]

And then after a while it is possible that the second server also crashes and only one cluster is available.

We have a three node setup, and around 2000 clients. We have around 6000 watch streams and arround 3000 lease streams. I think the grpc proxy mi

[2017-09-22 14:04] dpoison opened #8596 "etcd-member.service starting issue v 3.1.0"
# Bug reporting

Hello,
I have tried to setup kubernetes with iPxe and matchbox.

every thing is going smooth. followed many diff docutments. but getting error while setting up controller. etcd-member is not starting. giving bellow error.

systemctl status etcd-member
● ```
etcd-member.service - etcd (System Application Container)
   Loaded: loaded (/usr/lib/systemd/system/etcd-member.service; ena

[2017-09-22 14:07] gyuho commented on #8596
Your cert path is wrong?

[2017-09-22 15:00] Thomasnss opened #8597 "lp"
# Bug reporting

A good bug report has some very specific qualities, so please read over our short document on [reporting bugs][report_bugs] before submitting a bug report.

To ask a question, go ahead and ignore this.

[report_bugs]: https://github.com/coreos/etcd/blob/master/Documentation/reporting_bugs.md

[2017-09-22 17:04] fanminshi commented on #8597
@Thomasnss ?

[2017-09-22 17:07] fanminshi commented on #8595
@zbindenren could you reproduce this issue with a simpler script as it will help me debug this for you?

[2017-09-22 18:18] #8597 closed

[2017-09-22 19:30] rsm10 opened #8598 "Question: starting up raft cluster with incomplete peers list"
Scenario:

Have nodes A,B,C,D.

A starts, and is missing node C in its list of peers that it passed to raft.StartNode(). No other nodes have started yet.
B starts and has all 4 nodes in its peer list that it passes to StartNode().
C starts, and also has all 4 nodes in its peer list.
D starts and has all 4 nodes as well.

I would expect that even though A was missing C initially, when C starts it s

[2017-09-22 19:32] xiang90 commented on #8598
Everyone needs know everyone for its their first starts.

[2017-09-22 19:32] #8598 closed

[2017-09-22 19:45] rsm10 commented on #8598
Can you elaborate on how this scenario is different than when you add a new node to the cluster?

Ie. You start A,B,C and they are all up and running fine. Then you add D, and it sends a ConfChangeAddNode to all of them (and since it is new none of A,B and C know about D yet)

[2017-09-22 21:24] xiang90 commented on #8576
closing. the problems are identified.

[2017-09-22 21:24] #8576 closed

[2017-09-23 11:48] dpoison commented on #8596
Yes path is proper, as per the guideline.
Now after running bootkube render again, getting new error.

[code]

[2017-09-23 16:10] mwf commented on #8387
@heyitsanthony sorry for taking so long - I had some personal problems during vacation, doesn't matter.

I played with server and client code, and couldn't reproduce it in the same way we hit it :(
What I achieved - is increasing watchers count if application code does not gracefully shutdown the Watcher via canceling the context. But it's done explicitly in my lib I wrote o_O And I have timeouts

[2017-09-23 16:10] #8387 closed

[2017-09-23 16:13] mwf commented on #7941
Hi, @fanminshi!
Is it OK that automatic endpoints switch occurs only ~15 minutes after the failure? Why does it take so long? Could it be configured in some way?

If it matters, I'm talking about Watch() automatic failover.

[2017-09-23 18:59] fanminshi commented on #7941
@mwf 15 mins seems too long. I expect it to automatically swtich as soon as connection issue is detected. What version of etcd are you using? are you able to reproduce this issue easily? also could you test your code against the latest master branch. I guess  https://github.com/coreos/etcd/pull/8545 should fix the endpoint issue you have.

[2017-09-23 23:05] mwf commented on #7941
Ohh, finally!

I hope #8545 will fix all the issues we have.
It's interesting if it fixes freezing Watch calls. I will test it next week :)

We are using 3.1.5 server (it should not matter here) and 3.2.5 client.

15 minutes is some "standard" time for all issues people have with Watch freeze and network partitioning with current stable releases. Hope it changes in master. It's easily reproducable

[2017-09-23 23:14] #8532 closed

[2017-09-24 02:15] xiang90 commented on #8595
I am going to look into this soon.

[2017-09-24 04:48] gyuho commented on #8596
Does path actual exist in your machine? Or correctly mounted?

[2017-09-24 09:57] DaspawnW opened #8600 "Secured Peer Communication not working for domain name only certificate"
Hi all,

I having problems in provisioning an etcd cluster:
ETCD Version: 3.2.7
Configuration:
[code]

The peer certificate is generated via cfssl with following configuration:
[code]

Starting the etcd cluster leads to following exception:
[code]

If I add the IP Address to the certificate it seems to work. But I'm trying to do it so dynamic that only *.example.de is in the IP area. Do you have a

[2017-09-24 13:50] gyuho commented on #8600
Can you share the output of command `dig -x 10.135.72.159`?

[2017-09-24 13:54] gyuho commented on #8600
`159.72.135.10.in-addr.arpa` does not match `*.example.de`, so etcd is working as expected with DNS misconfiguration.

[2017-09-24 18:19] DaspawnW commented on #8600
Hrm this is interesting, dns is configured by DigitalOcean...

Here is the output of `dig -x 10.135.72.159`:
[code]

[2017-09-24 21:49] gyuho commented on #8600
Yeah, this is DNS misconfiguration, not etcd bug.
Please reopen if it still doesn't work after fixing the DNS.

[2017-09-24 21:49] #8600 closed

[2017-09-25 03:43] zyf0330 commented on #8585
When I add a member, After getting config from `etcdctl member add`, could I change
 `ETCD_INITIAL_CLUSTER` option into `dns recovery ` option?

[2017-09-25 06:36] gyuho commented on #8585
ETCD_INITIAL_CLUSTER option into dns recovery option?

Can you explain more of your use case?

[2017-09-25 07:43] jamesyonan commented on #8237
@yudai -- hope that you can merge the websocket patch.  Still working well for us.

Thanks,
James

[2017-09-25 07:56] zyf0330 commented on #8585
In the doc example, `etcdctl member add` gives this
[code]
And `ETCD_INITIAL_CLUSTER` option specifies `static` way to find cluster. So I think I can replace this option with `--discovery-srv example.com`. I don't try it, but a colleague tell me that he succeeded.

[2017-09-25 08:13] gyuho commented on #8585
With `ETCD_INITIAL_CLUSTER`, yes. Discovery is only for initial bootstrap.

[2017-09-25 10:02] keyankay opened #8602 ",bbbhnhm,ghfdgsfaafFFAWFWFSTSGHLASDFGHL'[["
# Bug reporting

A good bug report has some very specific qualities, so please read over our short document on [reporting bugs][report_bugs] before submitting a bug report.

To ask a question, go ahead and ignore this.

[report_bugs]: https://github.com/coreos/etcd/blob/master/Documentation/reporting_bugs.md

[2017-09-25 10:22] gyuho commented on #8602
@keyankay ?

[2017-09-25 10:35] #8602 closed

[2017-09-25 13:16] zbindenren commented on #8595
@fanminshi unfortunately it is not ease to reproduce. We gut this issue since upgrade to the latest version. And it only happend when we have a lot of clients. We have a similar setup with a small number of clients and there we do not see the issue.

[2017-09-25 13:23] gyuho commented on #8595
@xiang90 @fanminshi @zbindenren This has been fixed upstream https://github.com/grpc/grpc-go/pull/1115.

https://github.com/coreos/etcd/blob/release-3.2/cmd/vendor/google.golang.org/grpc/transport/handler_server.go#L178 has been updated with that patch. etcd v3.2 uses grpc-go v1.2.1 https://github.com/coreos/etcd/blob/release-3.2/glide.yaml#L100. And the upstream fix is available since grpc-go v1.

[2017-09-25 14:13] keyankay opened #8603 "ETCD with TLS showing error "transport: remote error: tls: bad certificate" for certificates generated using OpenSSL"
ETCD 3.2.5 started with openssl certificates as follows
etcdserver/api/v3rpc: Failed to dial 0.0.0.0:2379: connection error: desc = "transport: remote error: tls: bad certificate"; please retry.

The ca-chain and server certificates were generated as mentioned here
https://jamielinux.com/docs/openssl-certificate-authority/appendix/root-configuration-file.html
as well as here
https://coreos.com/os/

[2017-09-25 14:17] gyuho commented on #8603
What is the output of `openssl x509 -in /root/cfssl/server.pem -text -noout`?

[2017-09-25 14:19] gyuho commented on #8603
And do not advertise default route address `0.0.0.0`.

See https://github.com/coreos/etcd/blob/master/Documentation/faq.md#what-is-the-difference-between-listen-clientpeer-urls-advertise-client-urls-or-initial-advertise-peer-urls.

[2017-09-25 18:20] xiang90 commented on #8595
@gyuho thanks for the investigation. i marked this as a dependency issue.

[2017-09-25 20:38] zbindenren commented on #8595
Thx for the info. Any plans when 3.3 is going to be released?

[2017-09-25 20:45] ayashjorden opened #8607 "Use of client's crt/key pair to launch a cluster memeber"
Hello ETCd team,
I've got a security question for you.

Assuming that we have a TLS enabled cluster with N members.
Both `--peer-client-cert-auth` and `--client-cert-auth` are enabled as well.

Given that one gains access to a **client's** TLS crt/key pair, will he/she be able to launch a **cluster member** ETCd instance using the **client's TLS crt/key pair** and it will successfully join the clu

[2017-09-25 21:58] jpbetz commented on #8607
@ayashjorden Are you asking if the cert/key pairs used for "client-to-server" communication can also be used for "server-to-server / cluster" communication? My reading of the [TLS](https://coreos.com/etcd/docs/latest/op-guide/security.html) page is that they are separate. What did you find unclear about the page?

[2017-09-25 22:18] #8591 closed

[2017-09-26 02:34] zyf0330 commented on #8585
I remove a member from three-member cluster, then try to add a member.
When I use `ETCD_INITIAL_CLUSTER`, everything is normal expect one thing below.
#### desp
At first time I start this new member, I got
[code]
2017-09-26 09:54:09.622563 I | etcdmain: Go OS/Arch: linux/amd64
2017-09-26 09:54:09.622571 I | etcdmain: setting maximum number of CPUs to 4, total number of available CPUs is 4
2017-09-

[2017-09-26 02:47] zyf0330 opened #8608 "etcd crash when start member added into cluster"
When I startup a etcd member which is added into a cluster at the first time startup, I got these logs. And this problem always appears and when I startup etcd at second times, it works normally.
[code]

[2017-09-26 03:50] ayashjorden commented on #8607
Hi @jpbetz,

My reading of the TLS page is that I can use two crt/key pairs in the cluster-member configuration. One for server-to-server and one for client-to-server. but it does not explain how cluster members are controlled.

Given that I have **one** CA that issues certificates for cluster-members and clients(with CN or SAN), What prevents me from using a _client-to-server_ crt/key pair for _s

[2017-09-26 03:58] keyankay commented on #8602
This was by mistake. Please ignore. My apologies

[2017-09-26 04:02] gyuho commented on #8607
Only if your server certs have matching hosts (either exact match or wildcard matching).
DNS SAN wildcard reverse lookup is only available from etcd v3.2.5.

[2017-09-26 04:03] keyankay commented on #8603
Thank you for the link

Please find the output of server.pem
openssl x509 -in /root/cfssl/server.pem -text -noout
Certificate:
    Data:
        Version: 3 (0x2)
        Serial Number:
            31:ea:e0:8e:fd:9a:d7:5a:0c:4b:2b:8f:4e:c4:74:fb:33:c6:5f:86
    Signature Algorithm: sha256WithRSAEncryption
        Issuer: C=US, ST=San Francisco, L=CA, O=My Company Name, OU=Org Unit 2, CN=My own CA

[2017-09-26 04:06] gyuho commented on #8603
@keyankay SSL config looks good, but you are advertising the default route `0.0.0.0`.
Try fixing:

[code]

To

[code]

?

[2017-09-26 04:11] keyankay commented on #8603
I still get the same error (used 2 options with and without 0.0.0.0). Same issue both the times
 ./etcd --client-cert-auth --trusted-ca-file=/root/cfssl/ca.pem --cert-file=/root/cfssl/server.pem --key-file=/root/cfssl/server-key.pem --advertise-client-urls https://10.53.70.188:2379 --listen-client-urls https://0.0.0.0:2379
2017-09-26 09:29:50.594169 I | etcdmain: etcd Version: 3.2.5

2017-09-26 09

[2017-09-26 04:48] keyankay commented on #8603
I also checked in 3.2.7, the problem exists.
I installed etcd  3.1.10 and i do not see the issue. I sense this is an etcd bug

[root@vm-188 etcd-v3.1.10-linux-amd64]# ./etcd --client-cert-auth --trusted-ca-file=/root/cfssl/ca.pem --cert-file=/root/cfssl/server.pem --key-file=/root/cfssl/server-key.pem --advertise-client-urls https://10.53.70.188:2379 --listen-client-urls https://10.53.70.188:2379

[2017-09-26 05:22] lorneli opened #8609 "question: why url type is constrained in "host:port(no path)" format"
Url used in etcd is constrained in "host:port(no path)" format. https://github.com/coreos/etcd/blob/master/pkg/types/urls.go#L28

    if _, _, err := net.SplitHostPort(u.Host); err != nil {
        return nil, fmt.Errorf(`URL address does not have the form "host:port": %s`, in)
    }
    if u.Path != "" {
        return nil, fmt.Errorf("URL must not contain a path: %s", in)
    }

Under this const

[2017-09-26 05:34] bhaveshj21 opened #8610 "How to get versioning key history using curl/http:- etcd"
Hi,

I have an api which hit etcd using http, I need to get the key history like all the previous version

etcdctl get --prefix --rev=4 foo

my etcd configuration are

**{"etcdserver":"3.2.7","etcdcluster":"3.2.0"}**

How can I do it through the http/curl ?

also only curl/http command works for me, If I try to run using etcdctl
I get
**-bash: etcdctl: command not found**

[2017-09-26 05:56] gyuho commented on #8610
Please see https://github.com/coreos/etcd/blob/master/Documentation/dev-guide/api_grpc_gateway.md.

[2017-09-26 06:09] gyuho commented on #8603
Can you regenerate certs with `TLS Web Server Authentication, TLS Web Client Authentication` for `X509v3 Extended Key Usage`? For our debug, we need a reproducible way.

[2017-09-26 07:00] keyankay commented on #8603
I did with another set with the extended key usage, but not self signed (With a intermediate CA). I get a different error when i do with intermediate and CA Chain

Here i am posting with all the relevant logs and information
ETCD Server start: This is fine

./etcd --client-cert-auth --trusted-ca-file=/root/etcd/server_certs/ca-chain.cert.pem --cert-file=/root/etcd/server_certs/server.cert.pem --ke

[2017-09-26 07:01] bhaveshj21 commented on #8610
Is it compulsory for key value to be base64, is there a way I can store normal string as I want to store some json values also.

[2017-09-26 07:33] koko990 opened #8611 "Client may have some bugs"
# Bug reporting
Client may have some bugs：
[code]

[2017-09-26 07:36] #8611 closed

[2017-09-26 07:49] ayashjorden commented on #8607
That would be a nice experiment

As @Ulexus mentioned in [this][coreos_user_thread] thread, the best practice for preventing interloop cluster members is multiple CAs. one for server-to-server and another for client-to-server.

Any comments/ideas?

[coreos_user_thread]: https://groups.google.com/forum/#!topic/coreos-user/gLQPxv_-Idg

[2017-09-26 08:22] zyf0330 commented on #8125
@realityone When you say *do we have a plan ...*, I guess you are Chinese like me.😂

[2017-09-26 12:45] Ulexus commented on #8607
Also note that the PKI for the members is _only_ used between members, so it's much easier (better?) to use a private, unaffiliated, unregistered, undistributed CA for the peering system.

I believe your basic assumption about the system, though, is correct.  The only present authorization available for members is the CA test, so if the client key is compromised and the clients and members share t

[2017-09-26 15:16] devoxel opened #8613 "LICENSE file missing some templating information"
This is a trivial issue. Your license file is [missing some template info](https://github.com/coreos/etcd/blob/master/LICENSE#L190).

[2017-09-26 15:41] #8584 closed

[2017-09-26 19:58] gyuho commented on #8603
How did you generate certs? We need a way to reproduce.

[2017-09-26 20:00] gyuho commented on #8610
Yes, for etcd grpc-gateway.

You can get previous version of key-value pairs.

https://godoc.org/github.com/coreos/etcd/clientv3#WithPrevKV

[2017-09-26 21:40] #8610 closed

[2017-09-26 21:43] gyuho commented on #8609
It was added merely for testing, so it makes sense to enforce URL format.
For more general unix socket use case, we might remove such constraints in the future.

[2017-09-26 21:43] #8609 closed

[2017-09-26 21:44] gyuho commented on #8596
@dpoison Ping? Also this doesn't seem like an etcd issue.

[2017-09-26 22:01] gyuho commented on #8613
We check other projects with same license and seems it's ok to keep as it is (e.g. https://github.com/kubernetes/kubernetes/blob/master/LICENSE#L190).

We add LICENSE header to every single source code file, which is good enough.

Thanks.

[2017-09-26 22:01] #8613 closed

[2017-09-26 22:14] gyuho commented on #8608
How did you configure etcd cluster? e.g. etcd flags, or env vars?

[2017-09-26 23:40] fanminshi commented on #8608
@gyuho looks like something went wrong when restoring auth store.

[2017-09-27 00:20] atinsood opened #8615 "Etcd watch recovery behaves differently on network disconnect vs VPN connectivity disconnect"
I am running into an odd issue with etcd watches and not able to understand  the behavior that we are seeing. We connect to etcd over vpn and our etcd sits behind a HA proxy, and are observing these 2 scenarios:

Open `etcdclt watch <path>` in one window and loop `etcdctl put <path>` in another window and put messages and see that the watch is able to get these messages

1. scenario A: disconnect

[2017-09-27 01:45] zyf0330 commented on #8608
@gyuho
[code]

[2017-09-27 04:48] keyankay commented on #8603
I generated the certificates from exactly as it is mentioned in this site. It has a step by step method of generating certificates

https://jamielinux.com/docs/openssl-certificate-authority/appendix/root-configuration-file.html

[2017-09-27 07:18] gyuho commented on #8615
etcd watch API is not meant for detecting connection issues. You can use Session.
Disconnect should be handled in client balancer layer.

We've added HTTP/2 keepalive and client balancer health checking.
Once stabilized, it will be released in v3.3.

[2017-09-27 07:18] #8615 closed

[2017-09-27 08:27] ayashjorden commented on #8607
@Ulexus, to clarify, by

you mean the ETCd RBAC system on the KeySpace?

[2017-09-27 12:51] lorneli opened #8617 "question about isBadOp func in clientv3/leasing"
Sorry for the bother.

In clientv3/leasing/cache.go, function [evalOps](https://github.com/coreos/etcd/blob/master/clientv3/leasing/cache.go#L287) tries to use cache to response `get` ops. It calls `isBadOp` to check whether it can serve one `get` op.

    func (lc *leaseCache) evalOps(ops []v3.Op) ([]*v3pb.ResponseOp, bool) {
        resps := make([]*v3pb.ResponseOp, len(ops))
        for i, op :

[2017-09-27 13:35] Ulexus commented on #8607
The `root` roles provide access to the cluster membership controls, from what I understand, yes.  In etcdv2, the membership data was stored inside the key space like everything else.  I presume (but have not verified) that this is still true for etcdv3.

If the vulnerability you are trying to address is a compromised client keyset (and, one presumes, any authentication thereof), then keeping your

[2017-09-27 14:07] zimulala opened #8618 "etcdclient: leases keep alive halted: etcdserver: request timed out"
I want to use the interface of `NewSession` in clientv3 to new a session. But I encountered a problem in the certain case.
The result of `NewSession` always failed and reported "etcdclient: leases keep alive halted: etcdserver: request timed out".
I think it's because the etcd server occurs an ErrTimeout, the log content is "[warning] etcdserver: [timed out waiting for read index response]". Then

[2017-09-27 14:58] atinsood commented on #8615
@gyuho Fair enough.  How about if we use the official golang client. I am broadly under the assumption that the watch blocks till the connection is reestablished, broadly from this comment `https://github.com/coreos/etcd/issues/7860#issuecomment-317368084`

we use the golang client so I am assuming these are already handled for us
[code]

[2017-09-27 15:50] ayashjorden commented on #8607
Thank you **all** for the valuable info and insights.

Is there any way I can help to get this information to the community in a more visible way than a Github issue?

[2017-09-27 16:05] gyuho commented on #8615
@atinsood If watch is issued with `WithCreatedNotify` https://godoc.org/github.com/coreos/etcd/clientv3#WithCreatedNotify, you can wait for watch create event, thus waiting for initial connection. And https://godoc.org/github.com/coreos/etcd/clientv3#WithProgressNotify.

I suggest reading this thread https://github.com/coreos/etcd/issues/8495#issuecomment-327242932.

[2017-09-27 16:06] gyuho commented on #8607
We have auth doc https://github.com/coreos/etcd/blob/master/Documentation/op-guide/authentication.md. And https://github.com/coreos/etcd/blob/master/Documentation/op-guide/security.md. If you find anything missing, please let us know. Thanks!

[2017-09-27 16:18] gyuho commented on #8618
Means etcdserver is not responding?

And why not just retry in for-loop?

[2017-09-27 18:11] #8607 closed

[2017-09-27 18:19] gyuho commented on #8617
What's your use case of specifying `rev` field?

[2017-09-27 18:22] gyuho commented on #8596
etcd error is clear. Seems like misconfiguration in certs directory mounting.
And regarding bootkube, please open an issue in bootkube or matchbox repo.

Please reopen if you still think this is an etcd issue.

[2017-09-27 18:22] #8596 closed

[2017-09-27 19:07] gyuho commented on #8608
So you bootstrap 3-node cluster with SRV with TLS.
And add a member.
And restarted the added member to get this panic?
We need exact steps to reproduce.

[2017-09-27 21:22] #8581 closed

[2017-09-28 01:03] zimulala commented on #8618
No. I mean the etcdserver returns the `ErrTimeout` to the client, and I retry `NewSession`.
But I think the `recvKeepaliveLoop` is returned and `donec` is closed when the etcdserver returns `ErrTimeout` as a response. So it is useless to try `NewSession`  again.

[2017-09-28 01:05] gyuho commented on #8618
What is `recvKeepaliveLoop`? Please provide reproducible code snippet.

[2017-09-28 01:34] zyf0330 commented on #8608
@gyuho My bad English misleaded you. I mean that **etcd member** has been `etcdctl member add` into cluster.

[2017-09-28 03:43] zimulala commented on #8618
It is fixed in the master branch.

[2017-09-28 03:43] #8618 closed

[2017-09-28 04:51] keyankay opened #8622 "Read-Only option for V3 Proxy"
https://coreos.com/etcd/docs/latest/v2/proxy.html

The v2 etcd proxy supports two proxy modes: readwrite and readonly. The default mode is readwrite, which forwards both read and write requests to the etcd cluster. A readonly etcd proxy only forwards read requests to the etcd cluster, and returns HTTP 501 to all write requests.

However, I do not see the same in v3 gRPC proxy. Is such an option av

[2017-09-28 06:15] zimulala commented on #8618
@gyuho Thanks！
RP #7890

[2017-09-28 07:53] yuchao86 opened #8623 "go build many many error"
# Bug reporting

A good bug report has some very specific qualities, so please read over our short document on [reporting bugs][report_bugs] before submitting a bug report.

To ask a question, go ahead and ignore this.

[report_bugs]: https://github.com/coreos/etcd/blob/master/Documentation/reporting_bugs.md
go build

[2017-09-28 08:08] gyuho commented on #8623
Try

[code]

With Go 1.9

[2017-09-28 08:16] yuchao86 commented on #8623
thanks , I 'm upgrade my golang from 1.8 to 1.9, then build successful.

[2017-09-28 08:16] #8623 closed

[2017-09-28 17:09] lorneli commented on #8617
I haven't used clientv3/leasing in practice.

I can understand why cache doesn't serve range query ( `len(op.RangeBytes()) > 0` ): it maybe doesn't have all qualified keys. But the former statement `op.Rev() > 0` confuses me. I can't figure out why leasing cache refuses to serve op with `rev` >0 here.

[2017-09-28 17:11] gyuho commented on #8617
If range request specifies old revision, cache might serve stale data?

[2017-09-28 17:23] lorneli commented on #8617
Cache key stores a revision itself. For a single query, maybe key's revision could be used to match op's revision to avoid getting stale data? Or they are not the same thing?

    type leaseKey struct {
        response *v3.GetResponse
        // rev is the leasing key revision.
        rev   int64
        waitc chan struct{}
    }

    func (lc *leaseCache) Add(key string, resp *v3.GetResponse, o

[2017-09-28 18:42] gyuho opened #8624 "clientv3/ordering TestUnresolvableOrderViolation fails"
TestUnresolvableOrderViolation goes into infinite leader elections...

https://semaphoreci.com/coreos/etcd/branches/master/builds/2379

[2017-09-28 20:30] xiang90 commented on #8381
this issue is not active. also it seems like a bboltdb problem. so closing at etcd side.

[2017-09-28 20:30] #8381 closed

[2017-09-28 20:30] xiang90 commented on #8130
any update on this one?

[2017-09-28 22:37] xiang90 commented on #8595
closing. we already bumped gRPC to 1.6 in master to get this fixed.

[2017-09-28 22:37] #8595 closed

[2017-09-28 22:48] gyuho commented on #8622
No, it's not supported yet. Do you have read-only gRPC-proxy use case?

[2017-09-28 22:55] xiang90 commented on #8253
The backport policy is documented here: https://github.com/coreos/etcd/blob/master/Documentation/branch_management.md

We could backport patches to more than one minor releases in theory, but given the people we have today, it is not feasible. I am closing this.

[2017-09-28 22:55] #8253 closed

[2017-09-28 23:01] gyuho commented on #7941
Closing this in favor of https://github.com/coreos/etcd/issues/8022.

1. We've added health check to client balancer https://github.com/coreos/etcd/pull/8545.
2. clientv3 now supports HTTP/2 keepalive ping to detect connection issues (See https://github.com/coreos/etcd/pull/8626 for example usage).

This will be shipped in our upcoming v3.3 release.

[2017-09-28 23:33] xiang90 commented on #7941
@YuleiXiao

Please give etcd/client master a try. let us know if the problem is fixed. thank you.

[2017-09-29 02:25] gyuho opened #8627 "grpc/grpc-go panics on concurrent Watch SendMsg"
Turns out https://github.com/coreos/etcd/issues/8595 still happens.
Root cause is https://github.com/grpc/grpc-go/issues/1111.

[code]

[2017-09-29 05:02] YuleiXiao commented on #7941
@xiang90 OK, I will test it and give test result later. Thanks very much.

[2017-09-29 16:23] gyuho commented on #8617
There's no guarantee that your specified revision is the latest.
If revision==0, you get the latest.

[2017-09-29 17:24] Doridian opened #8630 "etcd 3.2 does not boot when multiple listen peer URLs are defined"
We recently tried upgrading our etcd cluster form 3.1 to 3.2. After each node restart, the affected node (we run a 9 node cluster) seemed to come back up and report its 3.2 version number correctly.

However, after the leader was restarted, the entire cluster fell apart.

Even removing the data folder and restarting from scratch could not restore operation.

We eventually traced this back to havin

[2017-09-29 17:27] gyuho commented on #8630
Seems duplicate with https://github.com/coreos/etcd/issues/8383?
Fix was released in v3.2.6 https://github.com/coreos/etcd/blob/master/NEWS#L9.

[2017-09-29 17:41] Doridian commented on #8630
Ah, I searched but somehow github didn't come up with that one.

[2017-09-29 17:41] #8630 closed

[2017-09-29 18:18] #8503 closed

[2017-09-29 20:43] gyuho commented on #8603
On your second logs, I don't see any `X509v3 Subject Alternative Name:`?

[2017-09-30 02:59] YuleiXiao commented on #7941
@xiang90 It looks like same problem.
Three etcd ```192.168.128.36:13000,192.168.128.37:12998,192.168.128.38:12996```,
[code]
./etcdctl --endpoints=[192.168.128.36:13000,192.168.128.37:12998,192.168.128.38:12996] watch /test/watchkey --prev-kv=true -w fields --debug=true
ETCDCTL_CACERT=
ETCDCTL_CERT=
ETCDCTL_COMMAND_TIMEOUT=5s
ETCDCTL_DEBUG=true
ETCDCTL_DIAL_TIMEOUT=2s
ETCDCTL_DISCOVERY_SRV=
ETCDCT

[2017-09-30 04:21] xiang90 commented on #7941
it seems that the endpoint is malformed.

[2017-09-30 04:44] YuleiXiao commented on #7941
@xiang90 I think format is OK because I put it success before eth5 down

[2017-09-30 07:13] gyuho commented on #7941
@YuleiXiao Try without brackets in `--endpoints` flag?

[code]

[2017-09-30 08:37] pritam620 opened #8631 "grpc-proxy Failed to dial when passing multiple endpoints"
I have a cluster of 3 instance running etcd 3.2.7 on coreos machine on amazon aws.
On 4th ec2 instance I have built etcd latest version (master branch) but when I am trying to run
grpc-proxy with multiple endpoints given below
[code]

Its working, but only connected to one of the machine.

[2017-10-01 07:54] Quentin-M opened #8632 "Export 'snapshot restore' logic"
The logic to restore a snapshot is currently [located](https://github.com/coreos/etcd/blob/master/etcdctl/ctlv3/command/snapshot_command.go#L159-L395) in the command package, unexported. That's over 200 lines of logic right there.

While most of the features that etcd offers can be used directly from Go - including making snapshots and starting embed servers - restoring snapshot cannot. This means

[2017-10-01 17:12] vbmade2000 opened #8633 "Best way to upgrade etcd"
# Bug reporting

A good bug report has some very specific qualities, so please read over our short document on [reporting bugs][report_bugs] before submitting a bug report.

To ask a question, go ahead and ignore this.

[report_bugs]: https://github.com/coreos/etcd/blob/master/Documentation/reporting_bugs.md

What is the proper way to upgrade etcd2 to etcd3 in CoreOS ?
I know this may not be the r

[2017-10-01 18:36] xiang90 commented on #8632
Snapshotting is server <-> client communication process, so it is in client library. Restore is a local logic, thus it is inside etcdctl not client library.

Exposing the restore logic is a nice thing to have. I assume some users (probably this is also your motivation?) prefer directly invokes funcs from Go instead of depending on the etcdctl binary.

I do not this is urgent to put into the most r

[2017-10-01 18:40] xiang90 commented on #8633
this documentation might help: https://github.com/coreos/etcd/blob/master/Documentation/upgrades/upgrade_3_0.md

we do not have container linux specific documentation at the moment.

[2017-10-01 18:40] #8633 closed

[2017-10-02 02:23] keyankay commented on #8622
Our use case:
Some etcd client should have write privileges in the internal network, but some etcd clients would not have write privileges which connect from external network.

We were planning to achieve it using ETCD proxy. External clients should go through proxy (readonly privileges), where as the internal clients directly connect to the internal network having readwrite privileges.

[2017-10-02 05:10] vbmade2000 commented on #8633
@xiang90 Thanks but the documentation contained in url you mentioned doesn't provide adequate guidance. Is there any place I can get help from ?

[2017-10-02 06:58] gyuho commented on #8633
Also see https://github.com/coreos/etcd/blob/master/Documentation/platforms/container-linux-systemd.md for Container Linux specific docs.

[2017-10-02 16:56] gyuho commented on #8631
How did you configure etcd cluster? Master branch works as expected for me.

[2017-10-02 19:22] rushins commented on #8596
i got the same error and its clear with ETCD issue not certs . what certs are you referring

[2017-10-02 19:27] gyuho commented on #8596
@rushins It depends how you configure certs directory. See https://github.com/coreos/etcd/blob/master/Documentation/platforms/container-linux-systemd.md#etcd-3x-service for example.

[2017-10-02 22:03] rushins commented on #8596
i am confused, i am using matchbox with tectonic installer and i expected that certs will be copied during the install. ? i didnt' configure any certs as ETCD is container in Master (controller) and its exiting at the first bootup and its "RKT" environment "rkt list "

[2017-10-02 22:04] gyuho commented on #8596
@rushins Please open an issue at https://github.com/coreos/tectonic-installer/issues. Thanks.

[2017-10-02 22:09] rushins commented on #8596
i just did etcd-member.service starting issue #2030

[2017-10-02 22:11] gyuho commented on #8596
If you think it's an etcd issue, please provide fully detailed steps to reproduce in a separate issue.
If you are using it with matchbox + tectonic installer, installer team should be able to help you better.

[2017-10-02 22:38] aim4pole commented on #7926
I am seeing a similar issue when I try to connect to etcd server, values are updated but I get this error.

2017-10-02 15:37:02.179455 I | etcdserver/api/v3rpc: transport: http2Server.HandleStreams failed to read frame: read tcp 127.0.0.1:2379->127.0.0.1:61736: wsarecv: An existing connection was forcibly closed by the remote host.

[2017-10-03 07:05] pritam620 commented on #8631
I have configured etd-cluster using cloud config on coreos machine on aws
[code]

[2017-10-03 07:18] ayashjorden commented on #8607
@gyuho,
The two links provided does not describe what what discussed in this ticket about best-practices for authorization of cluster-members vs. cluster-clients.

[2017-10-03 14:27] gyuho commented on #8631
Is your token valid?

[2017-10-03 17:26] gyuho opened #8641 "clientv3/ordering TestDetectTxnOrderViolation fails"
`TestDetectTxnOrderViolation` fail, tests were masking errors.

[code]

Found via https://github.com/coreos/etcd/pull/8639.

[2017-10-04 01:08] lorneli commented on #8617
@gyuho  Thanks for your help.

[2017-10-04 01:08] #8617 closed

[2017-10-04 01:39] #8641 closed

[2017-10-04 03:19] imcom commented on #1978
Though this is closed, it seems to me that the maximum number of children keys under a path/dir is not given?

[2017-10-04 03:43] xiang90 commented on #8622
@keyankay seems like a useful feature. would you like to work on this feature?

[2017-10-04 06:53] tatsuhiro-t commented on #8009
We experienced the same issue today in our kubernetes cluster.  DB size gets from 80MB to 12GB.
We did very frequent snapshot (less than 5min).  It looks like the root cause is boltdb, but does  frequent snapshot trigger boltdb issue?  Or just a completely different?

[2017-10-04 07:48] pritam620 commented on #8631
My token is valid and cluster is working fine without any issue the problem is only when I try to run

[code]
from other machine then I get warning.
[code]

**But If I use one endpoint it works without warning.**

[2017-10-04 11:23] CHIENPINNWU commented on #8631
I suffered the same problem like you; there's an only different part that is I did not use service discovery.

3 etcd members and 1 etcd proxy on AWS ec2 t2.small. (CentOS 7 x86_64)

My main configuration as follows:

[Unit]
Description=etcd
[Service]
Environment=ETCD_NAME=mycluster-etcd-01
Environment=ETCD_DATA_DIR=/var/lib/etcd
Environment=ETCD_LISTEN_CLIENT_URLS=http://172.31.26.224:2379,http:/

[2017-10-04 11:25] gyuho commented on #8631
@CHIENPINNWU What's the etcd version?

[2017-10-04 11:58] CHIENPINNWU commented on #8631
@gyuho sorry, I forgot to post the etcd version what it is. The version is 3.2.7.

[2017-10-04 17:01] #8262 closed

[2017-10-04 17:01] gyuho commented on #8262
This should be covered by https://github.com/coreos/etcd/pull/8616.

[2017-10-04 21:47] gyuho commented on #8627
Should be fixed via https://github.com/grpc/grpc-go/pull/1546.
Will bump up the grpc-go to 1.7 next week.

[2017-10-04 21:47] #8627 closed

[2017-10-04 22:11] xiang90 commented on #8624
is this already fixed?

[2017-10-04 22:12] xiang90 commented on #8608
@jpbetz can you help on this issue?

[2017-10-04 22:12] xiang90 commented on #8553
any update on this issue?

[2017-10-04 22:16] xiang90 commented on #8022
move this to 3.4

[2017-10-04 22:16] gyuho commented on #8624
Let me try to reproduce.

[2017-10-04 22:17] xiang90 commented on #7979
this is not active. we do not have any plan to make etcd auth more complicated at the moment. so closing.

[2017-10-04 22:17] #7979 closed

[2017-10-04 22:18] gyuho opened #8645 "grpc keepalive: test server-to-client HTTP/2 pings"
Need add tests around https://github.com/coreos/etcd/pull/8535.

[2017-10-04 22:19] xiang90 commented on #7700
i am going to close this one. based on our debugging experience, what we have today is enough for slow fsync alerting. and people feel comfortable to debug slow io with os level tools( for example tools built atop ebpf)

[2017-10-04 22:19] #7700 closed

[2017-10-04 22:19] xiang90 commented on #7308
move this to 3.4

[2017-10-04 22:20] xiang90 commented on #7247
@gyuho is this fixed on master?

[2017-10-04 22:22] gyuho commented on #7247
Closing via https://github.com/coreos/etcd/pull/8545.

[2017-10-04 22:22] #7247 closed

[2017-10-04 22:23] xiang90 commented on #7247
@cw9 probably give it a try with current master + current master client. thank you!

[2017-10-04 22:24] xiang90 commented on #8589
@gyuho i remembered that you fixed a bug around this in previous version of etcd, which k8s 1.7.3 vendors. can you double check that?

[2017-10-04 22:29] gyuho commented on #8589
We've added grpc server [`GracefulStop`](https://github.com/coreos/etcd/pull/7743) to v3.2.0. Not in any of previous releases (See https://github.com/coreos/etcd/blob/release-3.1/embed/etcd.go#L142-L159).

[2017-10-04 22:58] xiang90 commented on #8589
@jpbetz

updating etcd to 3.2 in k8s vendoring should resolve the issue. i am closing this one since it is already fixed at etcd side.

[2017-10-04 22:58] #8589 closed

[2017-10-04 23:04] xiang90 commented on #7798
moved to 3.4

[2017-10-04 23:04] xiang90 commented on #7624
moving to 3.4

[2017-10-04 23:04] xiang90 commented on #5277
moving to 3.4 again...

[2017-10-04 23:09] xiang90 commented on #8631
can you guys try master? maybe this is fixed on master.

@gyuho can you try to reproduce on 3.2.7 too? maybe it is a bug fix worth backporting.

[2017-10-04 23:27] gyuho commented on #8631
@CHIENPINNWU @pritam620 @xiang90 I believe nothing is broken here. I tried v3.2.8 as well. Works as expected.

Those warnings

WARNING: 2017/09/30 08:25:38 Failed to dial Machine1Ip:2379: grpc: the connection is closing; please retry.

are from our client balancer (only master branch) closing out other endpoints after pinning one. So you should be able to connect to `Machine2Ip:2379`. etcd clientv

[2017-10-04 23:29] xiang90 commented on #8631
Can we mute the warning somehow if they are expected

[2017-10-04 23:30] xiang90 commented on #8631
Also it is not clear to me why we still try to use the closed connection and why we created them at the first place

[2017-10-04 23:34] gyuho commented on #8631
We try all endpoints in the first place, and pin whichever connected first, and close other ones. So other connections may have been created but not pinned so closed. I will see if I can reproduce that warnings.

@pritam620 Which commit in master branch did you run with? Are you running master branch grpc-proxy against 3.2.7 etcd cluster?

[2017-10-05 04:56] craigivy opened #8646 "etcd using docker compose"
I was wonder if you can help me with the best deployment strategy using docker compose.  A couple of requirements we have is to not mount a  file system.  We have small amounts of data so I'm hoping the replication is not a big issue.  Also we want it automated as possible if an etcd node goes down we would like it to join the cluster without any manual steps.

The issue I'm having right now is wh

[2017-10-05 05:43] rsm10 commented on #8553
Had some issues with moving the snapshots off the main raft loop, so still working on that. Though my previous comment about how that other behaviour still appears to be a bug and how this isn't fixing that issue but more just trying to minimize its occurrence still stands.

________________________________
From: Xiang Li <notifications@github.com>
Sent: October 4, 2017 3:12 PM
To: coreos/etcd
Cc:

[2017-10-05 07:03] pritam620 commented on #8631
@gyuho Yes I am running master with following commit
[code]

[2017-10-05 09:25] mmmaks commented on #3441
Hey **@immendes**, can we give the new member a different name and not machine-id ??
`$ etcdctl member add 660f9e5b94654cdc92933bc583ca0e2b http://10.129.3.17:2380`
It is working with the name machine-id, but when I tried with different name it's not working. So, I am wondering if there is a role of machine-id here ?

[2017-10-05 11:15] bhaveshj21 opened #8647 "How to run etcd inside a docker image"
I wanted to run the etcd inside a docker image, I am able to create the docker image.
I have referenced these https://github.com/coreos/etcd/blob/master/Dockerfile
https://github.com/coreos/etcd/blob/master/scripts/build-docker

for creating the image, but when I run the image I get "docker: Error response from daemon: oci runtime error: container_linux.go:262: starting container process caused "e

[2017-10-05 13:57] gyuho commented on #8647
Please see https://github.com/coreos/etcd/blob/master/Documentation/op-guide/container.md.
And https://github.com/coreos/etcd/releases -- you don't need to build docker image, instead download from our release images.

[2017-10-05 13:57] #8647 closed

[2017-10-05 14:00] gyuho commented on #8646
means cluster had booted before, and now trying to restart from old data directory on disk. Try cleaning up data directories, if you start fresh cluster.

And we do not run docker compose to set up etcd cluster.
There are many other ways: https://github.com/coreos/etcd/blob/master/Documentation/op-guide/clustering.md and http://play.etcd.io/install.

[2017-10-05 14:00] #8646 closed

[2017-10-05 14:07] gyuho commented on #8624
Still happens https://semaphoreci.com/coreos/etcd/branches/master.

[log.txt](https://github.com/coreos/etcd/files/1359588/log.txt)

[2017-10-05 17:00] bhaveshj21 commented on #8647
my use case is ti build a docker image for etcd and deploy it to the server and access it from there can this be achieved via this ?

[2017-10-05 17:03] gyuho commented on #8647
@bhaveshj21 If you need to build Docker image yourself, try `make docker-release-master-build` https://github.com/coreos/etcd/blob/master/Makefile#L71. But why you need to build manually, when you can just docker pull released images?

[2017-10-05 17:12] bhaveshj21 commented on #8647
@gyuho sorry if I sound stupid , I am very new to this. But just to clarify
docker pull released images means I have to pull images from the docker hub ?
do I need any login credentials for it ?
and also I can deploy this image to aws right ?

[2017-10-05 17:15] fanminshi commented on #8647
`docker pull released images means I have to pull images from the docker hub ?`
not necessarily. you can pull image from other registry as well such as gcr.

`do I need any login credentials for it ?`
not, it is public

`and also I can deploy this image to aws right ?`
if you have docker, then u can run it. it is not specific to cloud provider.

[2017-10-05 17:21] bhaveshj21 commented on #8647
@fanminshi thanks , how can I pull etcd docker image, the above links provide information to run the docker image , how to pull it to my local ?

[2017-10-05 17:30] fanminshi commented on #8647
[code]
docker run automatically pulls the image. so you don't have to pull it yourself.

[2017-10-05 17:51] xiang90 commented on #8624
/cc @lorneli would you like to take a look at this test failure?

[2017-10-05 17:55] xiang90 commented on #8130
this is inactive. i am closing it out. feel free to reopen if this is still an issue.

[2017-10-05 17:55] #8130 closed

[2017-10-05 18:01] gyuho commented on #2920
This should be covered by `GracefulStop` in `embed` package (works for gRPC requests, not for v2).

[2017-10-05 18:01] #2920 closed

[2017-10-05 18:02] gyuho commented on #5147
Haven't seen it for 5 months. Will reopen if it happens again.

[2017-10-05 18:02] #5147 closed

[2017-10-05 18:03] gyuho commented on #7740
Haven't seen if for 6 months. Will revisit if it happens again.

[2017-10-05 18:03] #7740 closed

[2017-10-05 18:04] gyuho commented on #7594
Haven't seen it since March... Will revisit if it happens again.

[2017-10-05 18:04] #7594 closed

[2017-10-05 18:05] gyuho commented on #7329
This is already done. Disabled emailing from travis.

[2017-10-05 18:05] #7329 closed

[2017-10-05 18:06] gyuho commented on #7239
Haven't seen it for 6 months. Will revisit if it happens again.

[2017-10-05 18:06] #7239 closed

[2017-10-05 20:35] bbbmmmlll commented on #5108
This would make the raft library much more accessible.

[2017-10-05 20:51] purpleidea commented on #2920
@gyuho Awesome... However, I don't see any public methods called GracefulStop in that package in git master, I only see: https://github.com/coreos/etcd/blob/master/embed/etcd.go#L264

Am I looking in the wrong place?

Thanks!

[2017-10-05 20:53] gyuho commented on #2920
This should do it https://github.com/coreos/etcd/blob/master/embed/etcd.go#L228-L287

`Close()` method call does graceful shutdown on gRPC-server.

[2017-10-05 20:59] purpleidea commented on #2920
@gyuho Okay... To clarify, what you're saying is that the `Close` method which previously existed now *also* shuts down the RPC server so that starting and stopping embed repeatedly in a single process will now work, correct?

Secondly should I still use `embed.Server.Stop()` or not?

Thanks!

PS: Any chance you've got the commit sha1 where this was changed?

[2017-10-05 21:01] xiang90 commented on #8237
@yudai what is the latest progress on this one? hopefully, we could get this issue resolved, and promote the http gateway proxy to beta from alpha.

[2017-10-05 21:03] gyuho commented on #2920
@purpleidea `embed.*Etcd.Close()` should be enough (which calls `embed.Server.Stop()`, so no need additional `embed.Server.Stop()` call).

Yes, it will stop all incoming gRPC requests and gracefully shut down gRPC server. Should be safe to restart.

It was added via https://github.com/coreos/etcd/commit/c407e097e2f3a7953082aa32e26fbfaf6fcaff67#diff-269605d45c104f12cbcdc8fb71434acc.

[2017-10-05 21:08] purpleidea commented on #2920
Thank you so much for the info!

On Thu, Oct 5, 2017 at 5:03 PM, Gyu-Ho Lee <notifications@github.com> wrote:

[2017-10-05 21:57] xiang90 commented on #8248
@luxas Is there any other (distributed) systems doing this? Personally, I would rather not add this when TLS auth already solves it just for the sake of "simplicity".

[2017-10-05 22:42] yudai commented on #8237
Sorry for the delay. I updated the PR and it should be ready to merge (besides tests, as mentioned in the PR).

[2017-10-05 23:06] xiang90 commented on #7036
moving this to 3.4.

@connor4312  it would be great if you still have interest in this one.

[2017-10-05 23:23] connor4312 commented on #7036
I'll take a stab at it this weekend

[2017-10-05 23:31] xiang90 commented on #8237
fixed by #8257

[2017-10-05 23:31] #8237 closed

[2017-10-06 01:16] lorneli commented on #8624
@xiang90 Yeah. I'll follow up this weekend.

[2017-10-06 04:39] bhaveshj21 commented on #8647
thanks @fanminshi  I ran this command and I am able to get the docker image, but I am seeing some issues, when I am connecting to etcd through my api, I ran the docker image but I am getting this error when I try to connect through my api

Error: connect ECONNREFUSED 127.0.0.1:2379
    at Object.exports._errnoException (util.js:1018:11)
    at exports._exceptionWithHostPort (util.js:1041:20)
    a

[2017-10-06 18:28] gyuho commented on #8608
@zyf0330 I cannot reproduce this...
@jpbetz Have you tried reproducing this?

We've recently added containers to simulate local SRV-based cluster.

Below is what I tried to reproduce this, with master branch:

[code]

And

[code]

And

[code]

To start with '--initial-cluster-state existing'

And everything works as expected in my side.

@zyf0330 Did you run with etcd master?

[2017-10-06 20:41] gyuho opened #8660 "Client balancer with linearized request does not work under network partition"
#### Problem

With current master branch with health balancer(https://github.com/coreos/etcd/pull/8545):

1. Set up 3-node etcd cluster: `A`, `B`, and `C`
2. Client `D` is sending linearizable request to `A`,`B`,`C`
   - quorum get, mutable operations: put, txn, delete
   - keep sending requests in for-loop [1]
3. Client balancer pins endpoint `A`, for instance
4. Now, `A` gets network-partitioned

[2017-10-06 20:46] gyuho commented on #7321
Superseded by https://github.com/coreos/etcd/issues/8660.

[2017-10-06 20:46] #7321 closed

[2017-10-06 20:47] gyuho commented on #8308
Superseded by https://github.com/coreos/etcd/issues/8660.

[2017-10-06 20:47] #8308 closed

[2017-10-06 20:49] gyuho commented on #6176
Haven't seen for awhile. Will reopen when it happens.

[2017-10-06 20:49] #6176 closed

[2017-10-06 20:49] gyuho commented on #7709
Haven't seen for awhile. Will reopen when it happens.

[2017-10-06 20:49] #7709 closed

[2017-10-06 20:49] gyuho commented on #7901
Haven't seen for awhile. Will reopen when it happens.

[2017-10-06 20:49] #7901 closed

[2017-10-06 20:50] gyuho commented on #7813
grpc-go has been upgraded to 1.6.

[2017-10-06 20:50] #7813 closed

[2017-10-06 20:52] gyuho commented on #7807
Closing this for now, since it's more of Go issue, and happens only in `3.1` client.
Please reopen if anything is affected by this.

[2017-10-06 20:52] #7807 closed

[2017-10-06 20:54] gyuho commented on #7066
Haven't seen since then. Reopen when it happens again.

[2017-10-06 20:54] #7066 closed

[2017-10-07 02:40] zyf0330 commented on #8608
No, I ran with commit 4afb99f

[2017-10-07 02:41] YuleiXiao commented on #7941
@gyuho I remove brackets, it did not report malformed. But client watch still not switch.

1. watch ```/test/watchkey```
[code]

2. login to ```192.168.128.37```, shutdown ```eth5```
[code]

3. put value
[code]

[2017-10-07 03:14] xiang90 commented on #7941
@gyuho can you take a look?

[2017-10-07 03:20] jpbetz commented on #8608
@gyuho You're one step ahead of me!  I just finished attempting to reproduce it, using steps nearly identical to yours. I was also unable to reproduce. Everything worked as expected.

I'll have  look at the stack trace in more detail, see if I back track what might have gone wrong from it.

[2017-10-07 04:29] xiang90 commented on #8660
good analysis. thanks!

[2017-10-07 11:26] vbmade2000 commented on #8633
Thanks @gyuho. Links was useful.

[2017-10-07 16:00] connor4312 commented on #7036
I've implemented this in https://github.com/coreos/etcd/pull/8662

[2017-10-08 02:23] YuleiXiao commented on #7941
@xiang90 @gyuho It looks like not not set ```DialKeepAliveTime``` and ```DialKeepAliveTimeout``` in ```etcdctl```, I will add this and try it.

[2017-10-08 02:34] xiang90 commented on #7941
@YuleiXiao Oh. Probably that is the cause, can you also send a PR to fix that if you can confirm it is the root cause?

[2017-10-08 02:36] YuleiXiao commented on #7941
@xiang90 sure

[2017-10-08 03:13] YuleiXiao commented on #7941
@gyuho @xiang90 It works after add ```DialKeepAliveTime``` and ```DialKeepAliveTimeout```, I will send a PR later.

[2017-10-08 03:48] xiang90 commented on #7941
@YuleiXiao awesome. thank you.

[2017-10-08 07:33] matlockx commented on #8472
any news on that? we also had this issue in our pre prod environment. 3.1.5 hadn‘t had this issue. 3.2.6 went up to more than 1gbyte memory consumption.

[2017-10-08 17:19] lorneli commented on #8624
I haven't reproduced this failure locally, so have to depend on log in semaphore.

Based on [log-ordering.txt](https://github.com/coreos/etcd/blob/master/clientv3/ordering/util_test.go#L105), TestUnresolvableOrderViolation blocks on putting k-v pair to first member of the cluster, actually not related to clientv3/ordering code. Looks like a integration/etcd-server bug.

	cfg := clientv3.Config{

[2017-10-09 02:15] zyf0330 commented on #8445
Could you help me about this commit?
I change code like `cfg.PeerTLSInfo.ServerName = "*." + cfg.DNSCluster`, but it doesn't work. Are commits between Aug 28 and today change matching method of `ServerName`?

[2017-10-09 02:48] zyf0330 opened #8664 "check perf not work with ETCDCTL_ENDPOINTS"
I set env `ETCDCTL_ENDPOINTS`, and when `etcdctl perf check`, I get
[code]
repeatly.

And this `unset ETCDCTL_ENDPOINTS &&  etcdctl check perf --endpoints  example.com...` works normally.

[2017-10-09 03:16] zyf0330 commented on #8445
I just test and get
[code]
What happens

[2017-10-09 03:17] xiang90 commented on #8624
probably we need to investigate why there is the 1 second sleep. it seems pretty random and arbitrary.

[2017-10-09 03:18] xiang90 commented on #8624
/cc @mangoslicer

[2017-10-09 03:19] xiang90 commented on #8445
/cc @gyuho can you take a look?

[2017-10-09 05:49] keyankay commented on #8622
@xiang90 Considering my current work commitments, i dont think i will be able to contribute.

[2017-10-09 07:24] mmmaks opened #8665 "Issues in adding a new member with a specific name"
I have etcd cluster running in conatiners, with 2 members (names : etcd2, etce3). Having problem in adding a new member with name "etcd1", while adding with different name works perfectly.
Adding node with name "etcd1", the container gets exited after establishing TCP streaming connection with other peers and on checking cluster-health this node shows unreachable.
But adding members with different

[2017-10-09 13:28] bhujangr opened #8667 "SSL Config - Docker"
To ask a question, go ahead and ignore this.

[report_bugs]: https://github.com/coreos/etcd/blob/master/Documentation/reporting_bugs.md
Hi, have been trying to setup SSL in a Docker container and etcdctl fails to connect to etcd as the connection is closed on the server side. The very same set of configs when run natively on a Mac, everything works perfectly fine, am sure am missing something w.r.

[2017-10-09 15:57] PenyZhang opened #8668 "clientv3 watch retry may watch a compacted revision."
[code]
if watch client receive some error response,  all watcherStreams should begin resuming.  Compaction operation of server may lead to resume failed, becase  maybe watchStream.watchRequest.rev is less than compacted revision.

[2017-10-09 16:46] #7941 closed

[2017-10-09 16:47] xiang90 commented on #6925
we have done the initial work. but needs more testing and stability work. see https://github.com/coreos/etcd/issues/8473.

moving to 3.4 milestone.

[2017-10-09 17:11] xiang90 commented on #8668
compaction error should not be auto resumed, and it cannot in theory.

if you believe it is not the case, can you write a test to demonstrate that?

[2017-10-09 17:32] mangoslicer commented on #8624
The 1 second sleep was to ensure that the endpoint was set to the first member. I'll try to reproduce the error locally and see if changing the 1 second delay or not setting the endpoint to the first member changes anything.

[2017-10-09 21:44] gyuho commented on #8125
We will add `/v3alpha` routes with same handler for safe upgrades, in v3.3.

[2017-10-09 22:10] gyuho commented on #8667
Try using `0.0.0.0` for Docker container?

[2017-10-09 22:14] gyuho commented on #8664
What's your full `perf` command to reproduce this?

[2017-10-09 22:16] gyuho commented on #8665
Can you provide full reproducible steps? Commands, flags, etcd versions?

[2017-10-09 22:18] gyuho commented on #8445
@zyf0330 You probably need regenerate certs with wildcard, since we

[2017-10-09 22:29] bhujangr commented on #8667
@gyuho Oh yeah, forgot about that, yes that helps. Will close this issue.

[2017-10-09 22:29] #8667 closed

[2017-10-09 23:54] #8660 closed

[2017-10-10 00:17] gyuho opened #8673 "Network-partition aware health service"
clientv3 health balancer should be able to reason about network-partitions with keepalive HTTP/2 ping.

https://github.com/coreos/etcd/issues/8660 makes balancer aware of network partitions on time-out errors.
But only handles the case when client specifies context time-out.

We can do better.

1. Client sends linearized requests with context time-out `x`
    - or no time-out with `context.Backgro

[2017-10-10 02:09] zyf0330 commented on #8445
Do you mean, I need set ServerName of cert as *.example.com when server's domain is node01.example.com?

[2017-10-10 02:10] zyf0330 commented on #8664
`etcdctl --user name:pwd`

[2017-10-10 04:43] mmmaks commented on #8665
- created 3 node cluster
- removed one of them
- adding another node with name etcd1 :
  steps on a member already running on etcd cluster :
        `docker exec -it etcd2 /usr/local/bin/etcdctl --endpoint https://this-node-ip:2379 --ca-file /ca-path/ca.pem --cert-file /cert-path/member-ip.pem  --key-file /key-path/member-ip-key.pem  member add etcd1  https://new-node-ip:2380`
  steps on new node:

[2017-10-10 05:51] keyankay commented on #8603
I tried again with CA certificate  with X509V3 Subject Alternative Name using version etcd-v3.1.10

Certificate:
    Data:
        Version: 3 (0x2)
        Serial Number:
            44:ce:1f:cc:af:79:c7:0b:cb:f9:96:01:8a:91:20:52:3c:53:50:dc
    Signature Algorithm: sha256WithRSAEncryption
        Issuer: C=US, ST=San Francisco, L=CA, O=My Company Name, OU=Org Unit 2, CN=My own CA
        Validit

[2017-10-10 06:52] PenyZhang commented on #8668
@xiang90
### add print info to server code:
[code]
### test case: test.go
[code]
### Test Procedure:
*  go run test.go
*  when  run to fmt.Printf("====== please exec compact before wc.Send =====\n") ,  put some key and exec compact:
[code]

### result:
[code]

[2017-10-10 09:54] gyuho commented on #8603
Sorry, couldn't have time to reproduce. In the meantime, could you also try http://play.etcd.io/install?

[2017-10-10 13:01] singhmal commented on #8548
Guys, I am using grpc 1.6.0 and go 1.9 and etcd 3.2.9 fails to build. What do you suggest doing? Are you guys going to release grpc 1.6.0 compatible version in near future? I do not want to pull master etcd due to possibility of unstable changes.

Thanks

[2017-10-10 13:26] mkumatag commented on #8624
This is failing consistently in ppc64le platform - https://jenkins-etcd-public.prod.coreos.systems/job/etcd-ci-ppc64/

[2017-10-10 13:28] gyuho commented on #8548
@singhmal etcd v3.2.x still uses grpc-go v1.2.1 and Go 1.8.4. https://github.com/coreos/etcd/blob/release-3.2/glide.yaml

[2017-10-10 13:43] raoofm commented on #8125
@gyuho any timeline for /v3. I mean are there any tasks remaining to mark it as stable?

[2017-10-10 14:43] xiang90 commented on #8125
@raoofm we just fixed the bi-streaming endpoint. need to do a new beta release to encourage people to try it out. if there is nothing comes out for the next release, we will bump it to stable.

[2017-10-10 14:44] xiang90 commented on #8664
the command line outputs exactly what it does. both env and flag are set, and flag overwrites evn.

[2017-10-10 14:49] xiang90 commented on #8668
this exactly what should happen. watcher must not silently miss an event.

what you did is to partition the watcher, put some new keys, compact at head. and when you recovered the watcher, the watcher has no way to transparently catch up from where it was. so the error is returned.

this is expected. reopen if i missed anything.

[2017-10-10 14:49] #8668 closed

[2017-10-10 15:07] zyf0330 commented on #8664
@xiang90 what flag do you mean?
With env `ETCDCTL_ENDPOINTS` set and command `etcdctl --user name:pwd perf check` executed, could you tell me what flag about endpoint is set?

[2017-10-10 15:14] xiang90 commented on #8664
@zyf0330 can you provide the full command the evn you provided to etcdctl? what is the version of etcdctl?

[2017-10-10 15:20] zyf0330 commented on #8664
Env `ETCDCTL_ENDPOINTS ` set and command `etcdctl --user name:pwd perf check` are exactly full.
Etcdctl version I will append tomorrow.

[2017-10-10 15:21] xiang90 commented on #8664
if you do that, then etcdctl should call into version v2. why it calls into v3? there might be other stuff missing. we need your full configuration to reproduce.

[2017-10-10 15:25] zyf0330 commented on #8664
I forgot, I also set env of version into 3.

[2017-10-10 15:26] xiang90 commented on #8664
@zyf0330 ok. cool. please provide use the version tomorrow. thank you.

[2017-10-10 20:29] #8624 closed

[2017-10-10 23:46] gyuho opened #8677 "TestNetworkPartitionBalancer* fails"
In slow CIs...

[2017-10-10 23:46] gyuho opened #8678 "TestWatchKeepAlive fails"
In slow CIs...

[2017-10-11 01:44] YuleiXiao commented on #8668
@xiang90 If compact happen when re-watch, how to avoid watch fail? After compact, next watch revision is behind compact revision, watch must fail.

[2017-10-11 01:57] zyf0330 commented on #8664
It is 4afb99ffc

[2017-10-11 02:18] xiang90 commented on #8668
@YuleiXiao the watcher is canceled. you need to start from head or any non-compacted version.

[2017-10-11 02:19] gyuho commented on #8445
Can you explain why? You are already passing `--discovery-srv example.com`...

[2017-10-11 02:24] gyuho commented on #8664
I can reproduce with master

[code]

[2017-10-11 02:38] zyf0330 commented on #8445
Actually, the hard problem is Let's Encrypt doesn't support wildcard domains. About what I said above, Maybe I think of something wrong.

[2017-10-11 02:51] YuleiXiao commented on #8668
@xiang90 If watch from head, we missed event from last watch revision to head. Application only can get latest revision.

[2017-10-11 03:48] xiang90 commented on #8668
@YuleiXiao

Yea... If you do not want to miss anything do not compact so fast... When you delete a file, you wont be able to find it anymore. Compaction works just like that.

[2017-10-11 04:11] xiang90 commented on #8445
@gyuho well... actually it seems that server name does not support wildcard matching. the fix we have is not exactly what @zyf0330 wants.

@heyitsanthony @lclarkmichalek  do you still remember how do we expect this checking to work? i am sure at some point, someone tested it...

[2017-10-11 04:53] zyf0330 commented on #8445
I think exact match `*.example.com` is not a very proper way. Why not just wildcard match like using regex pattern `(.+\.)?${domain}`?

[2017-10-11 04:55] xiang90 commented on #8445
@zyf0330 it needs an exact match. regex and wildcare are not supported. so you have to use wildcard in your cert too.

[2017-10-11 04:58] zyf0330 commented on #8445
what is the reason it must be an exact match? For security?

On Wed, Oct 11, 2017, 12:55 Xiang Li <notifications@github.com> wrote:

--

追随

[2017-10-11 07:10] mmmaks commented on #2676
Hey what if we are adding member with same name but different peerURL from other node ??
I am trying to add a member with that removed node name but from other node (so different ip), but container is getting killed after establishing TCP streaming connection with other peers ( I am running etcd cluster on containers). But this node with different name works fine. I am stuck on this.

[2017-10-11 07:19] singhmal commented on #8548
@gyuho Thanks for quick turnaround but I can not change my infrastructure to use older grpc-go or go. What do you suggest I should be doing?

[2017-10-11 10:19] gyuho commented on #8548
Please wait until 3.3 release. There are still a lot of things to stabilize before releasing 3.3.

[2017-10-11 10:34] singhmal commented on #8548
Ahh I see, any ETA for 3.3 ? I will make do with master for the time being. Thanks a lot.

[2017-10-11 11:56] gyuho commented on #8548
Please note that master branch is not stable.
We try to release 3.3 in a month or so.

[2017-10-11 12:03] singhmal commented on #8548
I am fully aware of master being unstable but I got no choice. I take the responsibility of the unstability.

[2017-10-11 13:38] cewood commented on #8268
Is this issue definitely fixed?

I've just tried to update my cluster to v3.2.9 from v3.1.5, but after updating the first node, I received these same `tls: "X.X.X.X" does not match any of DNSNames [...` errors from the other peers refusing to talk to the upgraded node. Reverting back to the previous version immediately fixes the issue.

[2017-10-11 13:42] pires commented on #8268
The IP lookup seems to be based on PTR queries. If your PTR queries don't come up properly, this will fail. I'm seeing this in an environment where we don't manipulate PTR records.

[2017-10-11 13:55] cewood commented on #8268
@pires thanks for the reply, PTR records of course... should have seen that. I don't have those unfortunately, it's private address space in an AWS VPC.

Using only a PTR lookup seems a bit fragile. I would have thought doing a lookup on the wildcard entries from the certs would be better, since you'd only need this info when establishing connections for the first time with new nodes.

Maybe I'm m

[2017-10-11 14:07] felskrone opened #8682 "Listing kubernetes endpoints fails with curl"
Im trying to list kubernetes endpoints from etcd to setup an external haproxy+confd for my kubernetes cluster.

Doing this with confd fails very early.
[code]

The etcd-log says:
[code]

[code]

According to etcdctl '/registry' does indeed exist (listing some random key below /registry).
[code]

More debugging info:

### grep'ing endpoints from etcd
[code]

So, '/registry' does exist and i do have

[2017-10-11 14:54] pires commented on #8268
Client auth should be fine. It's peer auth that's failing.

[2017-10-11 15:09] cewood commented on #8268
My bad s/client/peer/, I've been doing that all afternoon.

[2017-10-11 15:11] mkumatag commented on #8624
@gyuho I still see tests are failing, any idea why this issue closed.?

[2017-10-11 15:56] raoofm commented on #8682
@felskrone what i see is

When you are using curl you are trying to reach v2 data store

but when you are using command line etcdctl you are using v3 data store.

declare -x ETCDCTL_API="3"

These two are different. From what you mentioned, seems like your data is in v3 datastore. So what you need here is [etcd grpc-gateway](https://github.com/coreos/etcd/blob/master/Documentation/dev-guide/api_gr

[2017-10-11 16:00] gyuho commented on #8624
@mkumatag client integration tests aren't stable yet. We are fixing those failures now with highest priority (https://github.com/coreos/etcd/issues/8678 and https://github.com/coreos/etcd/issues/8677). Sorry!

[2017-10-11 16:17] gyuho commented on #8682
`confd` still seems to be using v2, as @raoofm said.

[2017-10-11 17:51] #8664 closed

[2017-10-11 19:00] felskrone commented on #8682
Found an easier solution, confd-0.13 supports etcv3 :-)

https://github.com/kelseyhightower/confd/releases/tag/v0.13.0

[2017-10-11 19:03] #8682 closed

[2017-10-11 19:04] gyuho opened #8684 "Makefile: distinguish architecture for builds"
https://github.com/coreos/etcd/pull/8628#discussion_r144105809

/cc @glevand

[2017-10-11 20:58] gyuho opened #8686 "TestSTMAbort blocks"
https://semaphoreci.com/coreos/etcd/branches/pull-request-8675/builds/10

[code]

[2017-10-11 21:00] gyuho commented on #8686
This also fails pretty often in `jenkins-ppc64le`.
Seems like failing since health balancer...

[2017-10-11 21:03] gyuho opened #8687 "TestCtlV3WatchInteractivePeerTLS fails"
Equivalent to https://github.com/coreos/etcd/issues/8627.
Will close after grpc-go 1.7 upgrade with https://github.com/grpc/grpc-go/pull/1546.

[2017-10-11 21:27] zbindenren commented on #8162
@xiang90 The same problem with v3.2.8

And #8631 is probably a duplicate.

[2017-10-12 22:59] gyuho opened #8691 "Clarify/define clientv3 retry logic (fix broken retries)"
Now that retry logic is such a critical part of our balancer logic, we need document clearly when Go client retries its RPCs; currently we don't have any, other than some comments in `clientv3/retry.go`. Should be helpful for other client language bindings.

### release-3.2, as of [f1d7dd8](https://github.com/coreos/etcd/blob/f1d7dd87da3e8feab4aaf675b8e29c6a5ed5f58b/clientv3/retry.go)

Mutable/imm

[2017-10-13 04:37] mmmaks commented on #8665
Hey @gyuho , any updates ??

[2017-10-13 16:00] olivere opened #8692 "Unknown field `NoFreelistSync`"
We are using the current master branch of `etcd` vendored with dep and keep getting an error when running our test suite with Linux.

[code]

We tried to switch back to 3.2.9, but unfortunately that yields in a different error due to breaking changes in grpc-go 1.6.0:

[code]

Now we're stuck and only have the chance to choose between the two errors :-)

We have tried to get dep vendor the correct

[2017-10-13 16:55] gyuho commented on #8692
Did you vendor exactly the way we do here https://github.com/coreos/etcd/blob/master/glide.yaml#L7?

I've also tried `dep` for etcd, but don't think it's production-ready yet.

[2017-10-13 16:57] gyuho commented on #8665
Sorry, we couldn't have time to investigate this. Pretty sure it's some kind of misconfiguration.
In the meantime, could you also try v3.2 and master branch?

[2017-10-13 17:41] olivere commented on #8692
Aha! I will try that. Thank you! Will re-open if that won't work.

Re `dep`: They state [here](https://github.com/golang/dep#current-status) that they're production ready, and we're using it for ~2 months and didn't see any real issues besides being a bit slow when updating dependencies. But that's a known issue being worked on.

[2017-10-13 17:41] #8692 closed

[2017-10-13 17:43] xiang90 commented on #8692
@olivere it would be great if you can explore if `dep` works for etcd, and maybe send a pr to demonstrate that. thank you.

[2017-10-13 18:09] gyuho commented on #8692
@olivere Ok that's great to know 👍  If you're interested, https://github.com/coreos/etcd/issues/7225.

[2017-10-13 18:47] olivere commented on #7225
As asked in #8692, here's my very brief summary of checking with `dep` again, on my [fork of etcd](https://github.com/olivere/etcd) on a MBP.

[code]

Next up, `dep`:

[code]

[2017-10-13 18:51] olivere commented on #8692
Hmm... that didn't do the trick with `dep` at least. But TBH I'm not sure if that's a problem with `dep` as it's trying to get `github.com/boltdb/bolt` instead of your fork at `github.com/coreos/bbolot` when I initialize with `dep init`, which finds and uses your Glide configuration (see my comment on #7225).

[2017-10-13 19:05] olivere commented on #8692
Ah, I was wrong. I didn't update from upstream. Will update my findings in #7225.

[2017-10-13 19:07] gyuho commented on #7225
I remember we had to add some `[[override]]` rules.

[2017-10-13 19:08] olivere commented on #7225
@gyuho Sorry. I just updated my findings--I forgot to merge from upstream first. The numbers changed a bit, but the end result is basically the same.

[2017-10-13 19:53] gyuho opened #8694 "clientv3/ordering TestUnresolvableOrderViolation fails (after 'unhealthy' patch)"
Creating a new issue since it was only partially fixed via https://github.com/coreos/etcd/pull/8674.

Originally https://github.com/coreos/etcd/issues/8624.
Still failing https://semaphoreci.com/coreos/etcd/branches/master/builds/2450.
Health balancer is broken.

[code]

Now at least we know, later PRs on balancer aren't directly breaking these...

[2017-10-13 21:48] jpbetz commented on #8608
Looks like the disabled state for `TokenProvider` is not being respected for assign, this will be fixed with #8695.

[2017-10-14 07:17] xiang90 commented on #8608
i believe this is fixed by #8695

[2017-10-14 07:17] #8608 closed

[2017-10-15 15:51] connor4312 opened #8696 "panic: send on closed channel in"
While running unit tests in my etcd library, I noticed that etcd crashed with this panic:

[code]

This was on a built from commit e8e3467455461b72b4d8895044e9bd919b762510. The last test case that successfully ran was [this one](https://github.com/mixer/etcd3/blob/master/test/namespacing.test.ts#L47-L53), after which the connection was terminated by the test runner and etcd crashed.

[2017-10-15 17:14] gyuho commented on #8696
This should be fixed when we upgrade grpc-go to 1.7. thanks for report!

[2017-10-15 17:16] connor4312 commented on #8696
Okay, great, thanks!

[2017-10-15 17:16] #8696 closed

[2017-10-15 23:18] starius opened #8698 "fix build of the embed package"
I am running [the example code](https://gist.github.com/4a204ae2069c235eaaeceb45e99578a8) from the [embed package](https://github.com/coreos/etcd/blob/master/embed/doc.go).

It fails to build, produces the following error: https://gist.github.com/a4587153692796ae396c804c2b6a8326

[2017-10-16 04:28] connor4312 opened #8699 "Earlier revisions are replayed in watchers with start_revision"
I noticed this happening _sometimes_ in my unit tests for the Node etcdv3 library.

I make a watch request like this:

[code]

Then, on the stream, I immediately get notified of a put with a previous revision:

[code]

One example of this happening can be found in [this Travis build](https://travis-ci.org/mixer/etcd3/jobs/288401433). [This](https://github.com/mixer/etcd3/blob/bcf75e1a44eeeab89f1e0

[2017-10-16 05:09] bhaveshj21 opened #8700 "Problem Running etcd docker image"
Hi,
wrt [issue](https://github.com/coreos/etcd/issues/8647 ) I have pulled a released image from your repository, I have deployed it in our DC/OS cluster and trying to query it through http like
var options = {
    host: etcd_host,
    port: etcd_port,
    path: encoded_url,
    method: 'GET'
  };
so While connecting I am getting this error connect ECONNREFUSED 11.189.99.233:2379
I talked the my s

[2017-10-16 05:46] xiang90 commented on #8699
seems like a bug. can you try etcdctl or clientv3 to reproduce this?

[2017-10-16 11:24] koko990 opened #8701 "invoke grpc naming by balance"
# Bug reporting
there is a error in invoke service by balance like grpc_naming.md:
etcd/Documentation/dev-guide/grpc_naming.md:
[code]
sometimes occurrs error as
[code]
After the experiment, the call must add a block as below
[code]
so it's better to fix the description file, grpc_naming.md

[2017-10-16 11:35] koko990 commented on #7821
need a block in  grpc.Dial() https://github.com/coreos/etcd/issues/8701

[2017-10-16 15:58] gyuho commented on #8700
This has nothing to do with etcd. Docker community or DC/OS should have better answer?

[2017-10-16 15:59] gyuho commented on #8698
Have you vendored dependencies in your project?

See https://github.com/coreos/etcd/blob/master/glide.yaml.

[2017-10-16 16:04] gyuho commented on #8701
You can just pass `DialTimeout > 0` in your client configuration, and that will block until first connection. Also if you can improve our docs, it would be great. Thanks!

[2017-10-16 16:06] tfzxyinhao commented on #7821
@koko990 your solution can solve it

[2017-10-16 16:14] #8700 closed

[2017-10-16 18:19] aim4pole opened #8702 "how to batch-load kv data using some script on etcd"
Feature Request :
how to batch-load (initialize) from json file? #8205 (this is closed)
It would be nice to load from yaml or json file , to build kv store  for etcd.
Thanks,
AM

[2017-10-17 02:07] koko990 commented on #8701
ok, there is a pr #8703

[2017-10-17 02:11] #8701 closed

[2017-10-17 02:43] gyuho commented on #8665
What's the full error message?

You have to delete the data directory on your host machine, if you are mounting the volume.

[2017-10-17 04:03] xiang90 commented on #8702
you can write a script to do that today. #8205 probably has an example script already.
not sure why this is a feature request.

[2017-10-17 04:03] #8702 closed

[2017-10-17 07:32] rsm10 commented on #8578
Just a note that the change we'd need to support my initial ask would be to expose setting "VerifyPeerCertificate" directly in TLSInfo and propagate it to the tls.Config struct.

As per a comment on my feature request (https://github.com/golang/go/issues/21971):

"You can currently do this by using VerifyPeerCertificate and (*Certificate).Verify (and remembering to put the remaining rawCerts into

[2017-10-17 17:11] gyuho commented on #8673
/cc @jpbetz

[2017-10-17 19:51] danevandyck commented on #8487
Have you considered adding comparison on lease ID to 3.2?

[2017-10-17 19:53] gyuho commented on #8487
@danevandyck This was fixed via https://github.com/coreos/etcd/pull/8324.
And will be included in our upcoming 3.3 release.

[2017-10-17 22:37] jpbetz commented on #8673
/cc @wojtek-t

[2017-10-18 03:06] linbo opened #8705 "etcd_debugging_mvcc_db_total_size_in_bytes is not equal with etcdctl command"
# Environment:
## version

[code]
## OS

[code]

# Issue

[code]

the etcd_debugging_mvcc_db_total_size_in_bytes is  1.88628992e+09, it is **1.75G != 1.9G**

but etcdctl print with field, looks it is same with etcd_debugging_mvcc_db_total_size_in_bytes
[code]

[2017-10-18 03:47] zyf0330 opened #8706 "v3 benchmark tool won't ask for password"
when use `--user` flag and only give a username, it won't ask for password. So I must write password into cmd, it is not safe. I think it is.

[2017-10-18 04:07] gyuho commented on #8706
Which command? `benchmark` or `check perf`?

[2017-10-18 04:26] zyf0330 commented on #8706
oh, it is `benchmark` , build from `tools/benchmark/main.go`

[2017-10-18 06:27] horizon365 commented on #4789
in my case ,i find can't  `ping 127.0.0.1` , so i run `ifconfig lo up` ,it works !

[2017-10-18 06:27] horizon365 commented on #3874
in my case ,i find can't  `ping 127.0.0.1` , so i run `ifconfig lo up` ,it works !

[2017-10-18 07:25] featheryus opened #8707 "etcd out of service"
# Bug reporting

There is a process exit due to etcd out of service.
If it always failed when operate etcd, it will restart to recover.
But my question is that why etcd out of service.
around Oct 17 14:50:48, it seems that etcd go wrong.
For etcd log, please refer to the attachment.

Thanks.

[code]

[etcd.log](https://github.com/coreos/etcd/files/1393690/etcd.log)

[2017-10-18 09:16] zyf0330 opened #8708 "ask about dial-timeout and real took time"
In one of my client, I run `etcdctl endpoint  health` and get `took = 803.998451ms` just with flag `--dial-timeout 3s`. And if this flag is default `2s`, result is `is unhealthy: failed to connect: context deadline exceeded`.
So I want to ask what is the relation of this time from `took` and dial-timeout?

[2017-10-18 15:31] lorneli commented on #8622
I'm thinking about clearer definition of read-only gRPC proxy. Does it only allows `KVServer.Range`, or it also supports other read type methods like `ClusterServer.MemberList` ?

[2017-10-18 15:33] xiang90 commented on #8622
RPCs that do not change any etcd state.

[2017-10-18 19:02] xiang90 commented on #8705
GiB and GB are different things. I think you confused yourself.

[code]

[2017-10-18 19:02] #8705 closed

[2017-10-18 21:23] gyuho opened #8709 "clientv3: document grpc-go error handling"
https://github.com/coreos/etcd/tree/master/clientv3#error-handling explains current error handling.
But we've upgraded gRPC to >v1.6. And lots of changes have happened in balancer/retrial logic.

With more fixes/changes to `clientv3` on the way, now it's possible that `clientv3` can receive errors from gRPC that are not `grpc/status.(*statusError)` type (e.g. `grpc.ErrClientConnClosing` in `TestKV

[2017-10-18 21:53] xiang90 commented on #8706
this tool is mainly designed for debugging and performance testing.

supporting user/pw is a super low priority right now. if you are interested, you can contribute to this feature.

[2017-10-18 22:04] xiang90 commented on #8699
@connor4312 kindly ping.

/cc @jpbetz can you help on this one?

[2017-10-18 22:06] jpbetz commented on #8699
Yeah, I can take this one.

[2017-10-18 22:12] connor4312 commented on #8699
Yep, I'll try to get a standalone repro on the clientv3 this wekeend

[2017-10-19 01:30] zyf0330 commented on #8706
When I have enough ability, I will.😆

[2017-10-19 04:52] gyuho opened #8711 "Test clientv3 balancer under network partitions, other failures"
Servers have been extensively tested under network partitions, through [functional-tester](https://github.com/coreos/etcd/tree/master/tools/functional-tester). And we haven't seen any failures for the last >5 months.

Client behavior under partitioned cluster needs more integration tests (though it's at least manually tested and we know that it works as expected). Add more tests to [`network_parti

[2017-10-19 13:46] cucumberbig opened #8713 "etcdctl command to check auth status?"
Currently, there are `etcdctl auth enable/disable` , how about adding `auth status` to check if auth is enabled?

[2017-10-19 15:27] DimShadoWWW commented on #8611
I'm having these too

[2017-10-19 17:55] kemitche opened #8715 "`go get github.com/cores/etcd/client` fails on generated code"
As of the current commit (a8f9de2abf824db8a3aa7358227653ca00d9f755), I'm unable to cleanly `go get github.com/coreos/etcd/client` for use as a library. The build fails when looking at `keys.generated.go`.

Running `go generate` resolves compilation, though `go test github.com/coreos/etcd/client` still fails.

[code]

Workarounds I've used:

* Vendoring an older version of `etcd/client` and `codecg

[2017-10-19 18:09] georgekarrv commented on #8715
https://github.com/ugorji/go/commit/c3953defa8f202d85a6d73eead7b77073bf5701a

is what broke this.

[2017-10-19 18:37] andrewmeissner commented on #8715
I have failing application builds due to this.  :(  I've been able to revert back to older containers for the time being.  How soon can my team expect a fix/rollback?  Thanks!

[2017-10-19 18:40] ugorji commented on #8715
^^ @georgekarrv @andrewmeissner

codecgen tool goes with the codecgen version.

My sense is that folks updated the codec library, but didn't rebuild the codecgen tool before re-generating the files.

The sequence should be something similar to:

go get -u github.com/ugorji/go/codec (this should download the codec library)
go get -u github.com/ugorji/go/codec/codecgen (this will rebuild the codecge

[2017-10-19 18:53] andrewmeissner commented on #8715
@ugorji I've never had to use the codecgen executable before.  How/Where should I run that?

[2017-10-19 19:04] ugorji commented on #8715
Someone from the coreos team runs it. At a certain point, they will update their vendored copy of github.com/ugorji/go/codec/..., rebuild the codecgen executable, regenerate files like keys.generated.go .

[2017-10-19 19:38] gyuho commented on #8715
We've regenerated here https://github.com/coreos/etcd/pull/8574.

[2017-10-19 19:39] gyuho commented on #8698
Ping?

[2017-10-19 19:55] andrewmeissner commented on #8715
@gyuho I've deleted etcd from my gopath, and am still getting the same errors on go get.  Am I still missing something?

[2017-10-19 19:59] gyuho commented on #8715
Did you try `go get -v -u github.com/ugorji/go/codec/...` as @ugorji suggested?

[2017-10-19 20:08] andrewmeissner commented on #8715
@gyuho yes :(  I also tried completely removing them + etcd again from my gopath and still get the same errors.

[2017-10-19 20:22] ugorji commented on #8715
@gyuho I think you need to re-generate the files again and check into source control. They were last generated on sept 19 or so. I updated the codecgen version to 8.

I also think you should consider vendoring codec in etcd client, since you use generated files in there.

[2017-10-19 20:24] gyuho commented on #8715
@ugorji Ok thanks! Will try that.

[2017-10-19 20:54] starius commented on #8698
I don't have a project yet.
I am trying to build the example code (in fresh GOPATH) and it does not
build.

On Thu, Oct 19, 2017 at 8:39 PM, Gyu-Ho Lee <notifications@github.com>
wrote:

--
Best regards,
Boris Nagaev

[2017-10-19 21:59] marcovc opened #8719 "Renew lease"
This is a question, not a bug.

I have the following workflow (in pseudo code):

    while true
        lease = etcdctl lease grant ttl
        if test
            etcdctl put --lease=lease key value
        else
            etcdctl del key
        endif
        sleep ttl/2

The idea is to have a key in the etcd2 meaning that a periodic test succeeds. The ttl exists to ensure that if the program i

[2017-10-20 00:35] gyuho commented on #8698
You still need use the same dependencies as etcd does here https://github.com/coreos/etcd/blob/master/glide.yaml. Otherwise, it will try to build from your local GOPATH, which might have different versions of dependencies.

[2017-10-20 02:48] andrewmeissner commented on #8715
Any ETA on this?  I can't resume active development until this is fixed... :(

[2017-10-20 02:58] gyuho commented on #8715
@andrewmeissner Help is always welcome! Currently we are busy with clientv3 fixes. Sorry!

[2017-10-20 03:36] featheryus commented on #8707
For this case, there is 3 instance node, they are  node-0, node-1, snode-2
In all the three node , process_etcd_user running and doing supervision for etcd every 15s.
If etcd out of service, it will report warning as below.

In other 2 instance node, there is no such supervision failure from process_etcd_user.

Please help to check.
Thanks.
attach full log

[etcd_node_0.log](https://github.com/cor

[2017-10-20 04:18] starius commented on #8698
So etcd doesn't build against latest versions of dependencies?

[2017-10-20 04:22] gyuho commented on #8698
@starius No. You need vendoring.

[2017-10-20 05:20] andrewmeissner commented on #8715
@gyuho took a stab at it here: https://github.com/coreos/etcd/pull/8721

[2017-10-20 07:06] featheryus opened #8722 "etcd service failed due to sync duration?"
Here is another case related etcd failed. From the log I'm not sure if it same with #8707. So I report a new issue and upload all related log to make them clear.
Maybe it's similar issue, but different scenario and new log may give you new view to trace the issue.
Thanks.

Also there are three instance node, node-0, node-1, snode-2
process_etcd_user running in all three instance node.
it is an use

[2017-10-20 07:35] qq5272689 opened #8723 "install etcd clientv3 fails"
go get -u -v github.com/coreos/etcd/clientv3
err:
[code]

[2017-10-20 13:27] gyuho commented on #8723
You need Go 1.9+.

[2017-10-20 16:08] gyuho commented on #8715
Should be fixed via https://github.com/coreos/etcd/pull/8721.

[2017-10-20 17:13] gyuho commented on #8722
[code]

Means fsyncs are taking longer than it should in your machine. This possibly leads to leader elections, making the cluster unavailable.

[2017-10-20 17:17] gyuho commented on #8708
We do not count the dial time for initial client connection. `took` means the time it takes to send `Range` RPC and receive response from the server.

https://github.com/coreos/etcd/blob/f83ac2541213021eb7848d188513461a162edd05/etcdctl/ctlv3/command/ep_command.go#L104-L117

[2017-10-20 17:17] #8708 closed

[2017-10-20 17:18] gyuho commented on #8707
Your cluster is either overloaded or just being slow from slow disks. So it can trigger leader elections.

[2017-10-20 22:22] #8698 closed