[2015-09-12 16:29] onlyjob commented on #3504
With all due respect you should be paying more attention to bug report(s). I've been testing probable situation when data folder is gone (it can happen due to various reasons) while configuration is not. I did not say anything about production and frankly presence of problems I highlighted is not very helpful to build confidence in etcd technology...

[2015-09-12 16:29] onlyjob commented on #3505
How?

[2015-09-12 16:35] yichengq commented on #3504
@onlyjob No database could run without data directory, and this is the same case for etcd.

[2015-09-12 16:35] #3504 closed

[2015-09-12 16:35] onlyjob commented on #3505
I add second member (`etcdctl member add`);
verify its ID (`etcdctl member list`):

    1ac2d85aedf46b74[unstarted]

Then `etcdctl member remove 1ac2d85aedf46b74` return

    Recieved an error trying to remove member 1ac2d85aedf46b74: client: etcd cluster is unavailable or misconfigured

As soon as I start new member command `etcdctl member remove` works but not while newly-created member is in "u

[2015-09-12 16:39] onlyjob commented on #3491
@AdoHe, I believe details of my "wrongdoings" won't be much of help...

After some more hours I believe I found number of problems with static clustering setup:

#### Clustering instructions imply non-default configuration.

This is the main reason why it is so hard to setup a new member.
I found that `member add` command uses value of `ETCD_INITIAL_ADVERTISE_PEER_URLS` for initialisation of new m

[2015-09-12 16:50] onlyjob commented on #3504
Except bootstrapping. In conjunction with `ETCD_INITIAL_CLUSTER_STATE="existing"` lack of data directory is what seems to kickstart bootstrapping. One might expect that easiest way to re-initialise node is to remove its data directory... Fair enough, that's not how etcd works, but segfault I'm trying to report is a bug.

I appreciate your openness to improvement ideas. However "play around it and

[2015-09-12 17:39] xiang90 commented on #3505
@onlyjob After you added the second member, the quorum becomes two. You have to start the 2nd member to process any further operation.

[2015-09-12 17:44] xiang90 commented on #3491
I have no idea what do you mean actually. After reading through your reply, I think etcd does the correct thing.

Can you pleas point out where do you think we can improve?

[2015-09-12 17:59] xiang90 commented on #3504
How do you want us to do better? I have clearly told you how you should expect etcd to work and we are going to improve the logging as you suggested.

We just cannot help you more now. And raft logging is a low priority thing. If you want to track the issue see the last item of https://github.com/coreos/etcd/issues/1808.

Thanks.

[2015-09-12 18:04] xiang90 commented on #3491
Also I really suggest you to read our doc here https://github.com/coreos/etcd/blob/master/Documentation/clustering.md#static and https://github.com/coreos/etcd/blob/master/Documentation/runtime-configuration.md.

I agree some of the stuff is not intuitive enough. But actually, most of them are by design.

I talked with a few etcd first users. Most of them can set up an etcd cluster within one hour

[2015-09-12 18:05] xiang90 commented on #3491
Also if you do not want to read any doc and just want to give etcd a try. You can run goreman start instead of reading and doing all these yourself.

[2015-09-12 19:00] philips commented on #3504
On Sat, Sep 12, 2015 at 8:05 AM Dmitry Smirnov <notifications@github.com>
wrote:

I think two things are causing confusion:

1) etcd cannot reload your data to the member with list data because we
expect that a member that claims to have a WAL file on disk up to version X
cannot then join the cluster and say it has version 0. If we allowed this
to happen we could create full cluster inconsistency,

[2015-09-12 19:13] philips commented on #3504
list data -> lost data

[2015-09-12 23:28] onlyjob commented on #3505
How do you recommend to recover if second member can not join?

[2015-09-12 23:29] xiang90 commented on #3505
@onlyjob What do you mean by it cannot join? It cannot start? Or your reconfiguration command gave to etcd is wrong?

[2015-09-12 23:37] onlyjob commented on #3504
Thanks for all improving panic message. The only thing everyone seems to forget is long backtrace from 10 threads that follows error message. Is it normal/necessary?

[2015-09-12 23:40] onlyjob commented on #3505
As reported in #3491, I believe `member add` can incorrectly register member due to wrong defaults so member fails to start with `error validating peerURLs`, `unmatched member while checking PeerURLs`...

[2015-09-12 23:47] xiang90 commented on #3505
@onlyjob See https://github.com/coreos/etcd/blob/master/Documentation/admin_guide.md#disaster-recovery.

We strongly encourage you not to start a 1 member cluster anyway.

[2015-09-12 23:57] onlyjob commented on #3491
I don't have enough eloquence to express it any better than I already did. :(

  https://github.com/coreos/etcd/issues/3491#issuecomment-139794858

The above link to my summary explains it all.

Why wouldn't I want to read docs and what my supposed (un-)willingness to read docs have to do with reported problems?

[2015-09-12 23:58] xiang90 commented on #3491
@onlyjob Can you please do not cross link between your multiple issues. Or you can please combine into one? You made me confused.

[2015-09-13 00:01] onlyjob commented on #3505
Why don't you get it that I'm trying to remove and re-add second member?? Something went wrong (details in #3491) and I want to re-create new member properly.

What do you mean by "reconfiguration command"?

[2015-09-13 00:07] xiang90 commented on #3505
@onlyjob You broke the cluster and it is not recoverable. I have replied you with a doc about how you can recover from this.

You add member command.

[2015-09-13 00:10] xiang90 commented on #3491
Our doc already covered what you wrote about. I do not think that is useful.

Have you successfully setup the cluster?

[2015-09-13 00:50] onlyjob commented on #3505
Thanks, `--force-new-cluster` works but IMHO that's overly difficult recovery for unsuccessful add of second member...

[2015-09-13 00:54] xiang90 commented on #3505
@onlyjob

Glad that works for you.

Your case falls into the quorum loss case. etcd will not try to solve a lot of special cases.

I totally agree that even if for quorum loss, this experience is not optimal.

But that is a hard decision we have made, if you want to learn more you can read https://github.com/coreos/etcd/blob/master/Documentation/runtime-reconf-design.md#permanent-loss-of-quorum-re

[2015-09-13 00:54] #3505 closed

[2015-09-13 01:12] onlyjob commented on #3505
That's not how I see it. To me it is a case of initial setup of a cluster.
Naturally you start with deploying first member and then add other members one by one.

How can we talk about quorum when second member hasn't been seen yet? Quorum is not _lost_, it was never achieved in first place.

So is it wrong to bootstrap cluster with several members by adding members one by one?
When etcd is first

[2015-09-13 01:15] xiang90 commented on #3505
That is how our raft works. I am not going to delve into details here.

Yes. If you could.

[2015-09-13 01:20] onlyjob commented on #3491
Yeah, I figured it out in the end but it was a very frustrating experience...

FYI I have experience setting up Ceph clusters where minimum quorum of 3 is also required. Ceph configuration is more sophisticated but easier than etcd to set up.

[2015-09-13 01:21] onlyjob commented on #3505
It makes sense. Thank you.

[2015-09-13 01:21] xiang90 commented on #3491
Glad to hear that.

Thanks for your patient and information.

[2015-09-13 01:21] #3491 closed

[2015-09-13 01:26] onlyjob commented on #3491
@xiang90, It was not a support bug to close once I succeed with my set-up.

I wish you'd consider addressing at least some of 5 issues that I highlighted in my report. I fail to comprehend how could you just close this without any action...
I feel discouraged from reporting any further issues... :(

[2015-09-13 01:30] xiang90 commented on #3491
@onlyjob

This issue is about `unable to remove member; unable to setup cluster`. And clearly it is resolved.

Can you please file separate issues for other stuff you wish to discuss? I strongly dislike having 5 issues in one issue. Sorry.

[2015-09-13 01:37] xiang90 commented on #3491
@onlyjob

I would encourage you to report bug following this https://github.com/coreos/etcd/blob/master/Documentation/reporting_bugs.md.

We want the isolation since:

1. it is easier for the community to track the one problem per issues than a lot of problems per issue

2. it is easier for the community to send a pull request to close an issue than sending a lot of pull requests to fix different

[2015-09-13 02:14] yichengq commented on #3504
@onlyjob As xiang said, the backtrace logging is tracked in the issue #1808 .

I know that is a normal pattern to test most softwares, but it is not a good way on etcd. etcd guarantees strong consistency through replicated state machine between all etcd members, and checks itself internally to ensure its correctness. This reveals potential problem early and ensures etcd users achieve what etcd pro

[2015-09-13 02:19] yichengq commented on #3491
@onlyjob I cannot understand 5 issues that you reported too. A better way is to ask them separately and provide more details, or it is hard to help.

[2015-09-13 02:36] onlyjob commented on #3504
This is not a panic. All segfaults are ought to be reported as bugs hence I reported segfault (and its context) because I do my best to use software responsibly.
Re-creating member on loss of data folder makes sense although re-initialisation of data-less member could have been easier...

[2015-09-13 02:40] yichengq commented on #3498
We ignore broken snapshot in current etcd: https://github.com/coreos/etcd/blob/master/snap/snapshotter.go#L108

I guess you are using a old version etcd, and etcd 2.2 should work well with this case. Could you check etcd version for confirmation?

[2015-09-13 02:52] yichengq commented on #3504
@onlyjob This is called a panic in Go.

Maybe you can think it in this way: all etcd members in the cluster is like a big distributed database, and deleting one data dir is like removing part of the database files. You cannot imagine what may happen then, right?

[2015-09-13 03:08] onlyjob commented on #3504
Ha! :) I get it now... :) :)

I was thinking about members as about data servers accommodating desirable amount of replicas. When data is one replica short and data server becomes available one would expect data to be replicated to new member without remove/re-add dance. Perhaps it is my background in distributed storage is talking...

[2015-09-13 04:18] yichengq commented on #3504
We are totally different than that. etcd guarantees consensusin a network of unreliable processors. You could check Paxos algorithm for more details.

[2015-09-13 05:09] #3477 closed

[2015-09-14 02:12] timothysc opened #3515 "client - NewClientFromFile"
Given the previous library (go-etcd), is there any plan to provide an equivalent functionality?

[2015-09-14 02:14] xiang90 commented on #3515
@timothysc Can you describe the use case? We also deprecated configuration file in etcd server side. We suggest users to use service file (systemd) or just use env variable to do configuration.

[2015-09-14 02:18] timothysc commented on #3515
It just appears in the code paths, when I trace backwards it appears only as an input option so I suppose we could rip it out.

[2015-09-14 02:30] #3515 closed

[2015-09-14 04:45] xiang90 commented on #3488
@inconshreveable

I like the idea and believe this is a really powerful feature. However, this would also complicate the design of the storage system and API.

I would love to see more feedbacks/requirements from etcd community before considering to implement this feature.

/cc @yichengq @philips @kelseyhightower

[2015-09-14 04:46] #2269 closed

[2015-09-14 09:03] mitake opened #3517 "some etcdctl commands use default timeout instead of user specified value"
Some etcdctl commands (e.g. etcdctl member) seem to use `client.DefaultRequestTimeout` instead of `c.GlobalDuration("timeout")`. Therefore their timeout value is different from user specified value (--timeout). Is this intentional?

[2015-09-14 12:32] hkjn opened #3519 "panic: tocommit is out of range on etcd 2.1.2"
I was working on getting a three-node cluster going on DigitalOcean, using the current `coreos-beta`, when I noticed a panic in etcd2.

The host names are `coreostest` (`10.129.30.68`), `coreostest-2` (`10.129.30.69`), `coreostest-3` (`10.129.30.71`). The second node is the one that saw the panic.

It seems that the first node was unable to reach `https://discovery.etcd.io`. I believe that I notic

[2015-09-14 12:41] hkjn commented on #3519
I just noticed that I had accidentally created two nodes with the same `ETCD_NAME` (this can also be seen in `systemctl cat etcd2` output above); I was still working on the scripting for us to create the appropriate cloud-config dynamically, and missed the part that kept this bit of the config identical for both node two and three:
[code]

I can definitely imagine that having two nodes who "believ

[2015-09-14 14:37] xiang90 commented on #3517
LGTM. Thanks!

[2015-09-14 16:33] xiang90 commented on #3519
@hkjn

In discovery bootstrap case, etcd relies on unique names to identify members and to work correctly. So you are right, etcd was confused by the same name for two members. After the bootstrap, etcd will not rely on name since it will assign each member a uuid.

We will improve the panic message in the future. It is tracked here https://github.com/coreos/etcd/issues/1808.

[2015-09-14 16:33] #3519 closed

[2015-09-14 17:00] xiang90 commented on #3490
@wptad Can we close this issue?

After talked with @wptad offline and did some analysis together, we found the root cause is that etcd was overload.

[2015-09-14 17:07] xiang90 opened #3522 "raft doc improvement"
some feedback

Another feedback I got is that we should document how to do reconfiguration. It is not super clear right now.

[2015-09-14 17:18] wptad commented on #3490
@xiang90 thanks for your help :)

[2015-09-14 17:18] #3490 closed

[2015-09-14 17:25] jcragin opened #3523 "Starting etc under Docker fails with "different advertised URLs in the cluster and advertised peer URLs list""
Trying to start a three node test cluster under docker, on the same host, using port forwarding with the following command for the first instance, the second and third are identical just with incremented ports:

docker run -d -p 2281:2280 -p 2381:2380 --name test-etcd1 \
                quay.io/coreos/etcd:v2.0.3
                --name test-etcd1 \
                --advertise-client-urls http://10

[2015-09-14 17:25] minjs commented on #3498
We are using 2.0.1.   Can we upgrade from 2.0.1 to 2.2 without downtime?

[2015-09-14 17:26] xiang90 commented on #3498
You can first upgrade to 2.1 without a downtime. Then to 2.2.

[2015-09-14 17:26] xiang90 commented on #3498
20 -> 21 https://github.com/coreos/etcd/blob/release-2.1/Documentation/upgrade_2_1.md

[2015-09-14 17:27] xiang90 commented on #3498
21 -> 22 https://github.com/coreos/etcd/blob/release-2.2/Documentation/upgrade_2_2.md

[2015-09-14 17:27] xiang90 commented on #3498
sounds like your concern is resolved?

[2015-09-14 17:28] minjs commented on #3498
Yes, from latest code, his issue should be resolved.

[2015-09-14 17:39] tdeheurles commented on #3452
I think the documentation is very clear on that point.
I was using consul at the same time for the same reason. Consul allow to remove nodes from 2 nodes to 1 node. So I tried to do the same with etcd.

But after hours of removing/adding nodes, the consul cluster breaks, `sometimes`.

- You are clear, `we do not go in that way`.
- Consul try but seems to fail `sometimes`.

I have tried to clean th

[2015-09-14 17:43] #3498 closed

[2015-09-14 17:43] xiang90 commented on #3498
@minjs Thanks!

[2015-09-14 17:45] yichengq commented on #3452
@tdeheurles The test sounds interesting. :+1:

[2015-09-14 21:28] gtank commented on #3496
That's correct, and I think with IPs there is no wildcard option.

[2015-09-14 23:00] inconshreveable commented on #3488
@xiang90

Absolutely, this would be a huge change of direction for etcd both in terms of API and implementation. A lot of feedback from the community would be warranted before pursuing this route.

I do not know the internals of etcd enough to understand the ramifications of the storage system, but I do think this could potentially *reduce* API surface area and make it simpler. If the core guarant

[2015-09-15 01:53] xiang90 commented on #3523
@jcragin `--initial-advertise-peer-urls` and `--initial-cluster-token test-etcd-token` should match.

In your case, `--initial-advertise-peer-urls` should only contain the peer url of local member. ( http://10.0.0.184:2281)

[2015-09-15 01:53] #3523 closed

[2015-09-15 01:55] devx commented on #3496
Sorry I did not pay attention to the use of the --domain option.  That being said, would it be possible to support wildcard certs?

Otherwise we could close this as it's working as intended.

[2015-09-15 02:02] xiang90 commented on #3405
@f0 Kindly ping.

[2015-09-15 05:40] webner commented on #3405
I have etcd 2.1.2 in production and see some of these (every couple of hours):
`proxy: client 127.0.0.1:37676 closed request prematurely`
But the proxy seems to be rock stable.

[2015-09-15 05:41] xiang90 commented on #3405
@webner Do you think they are actually client issues?

[2015-09-15 07:29] shenshouer commented on #3405
I have etcd 2.0.12 and see some of these , just like:

  Sep 15 15:14:16 core-1-85 etcd2[1091]: 2015/09/15 15:14:16 proxy: client 127.0.0.1:51512 closed request prematurely
  Sep 15 15:14:22 core-1-85 etcd2[1091]: 2015/09/15 15:14:22 proxy: client 127.0.0.1:51495 closed request prematurely
  Sep 15 15:17:26 core-1-85 etcd2[1091]: 2015/09/15 15:17:26 proxy: client 127.0.0.1:51758 closed request pre

[2015-09-15 07:38] f0 commented on #3405
@xiang90

ok now i am using 2.1.3 on all sides (server , proxy, client (etcdctl)) i can NOT reproduce the problem any longer!

Using a proxy 2.1.1, i can reproduce it!

So it seems fixed.

regards f0

[2015-09-15 08:40] gouyang opened #3531 "step back of proxy logging"
if the cluster goes down, proxy repeats the error currently
[code]

details log on current version
[code]

on the old verion, it looks like
[code]

[2015-09-15 08:45] gouyang commented on #3531
There is an issue within the old logs as well, it suddenly mark the endpoint available after report "zero endpoints currently available" 4 times as above old log shows.

I can see the code [1] is still there but I cannot reproduce it, will report a new issue and track it if it's reproducible.

[1] https://github.com/coreos/etcd/blob/master/proxy/director.go#L105

[2015-09-15 12:16] balboah opened #3532 "A bit agressive retry on connect failures"
It seems the service tries as quickly as possible to retry any failed dails as shown by the timestamp in this log on a CoreOS stable cluster:

[code]

This generates excessive logging and could probably cause issues with weaker instances in general.

[2015-09-15 14:43] xiang90 commented on #3405
@shenshouer Can you reliable reproduce this? After reading through all these, I think it is not a proxy issue. Probably you have set some timeout on the client side, and the client reaches its timeout and closes connection. We should probably move the proxy logging level to debug.

[2015-09-15 14:48] yichengq commented on #3531
I cannot catch your point here. What is the issue of proxy logging? Could you give more details according to https://github.com/coreos/etcd/blob/master/Documentation/reporting_bugs.md?

[2015-09-15 15:01] yichengq commented on #3532
@balboah For rafthttp, it sleeps 100ms before the next retry. So it will generate 40 dials per second for multiple connections. I think this is acceptable.

For excessive logging, we have introduced log level in 2.1, and it stops printing out these lines in default mode.

[2015-09-16 02:41] shenshouer commented on #3405
@xiang90

    core@core-1-85 ~ $ systemctl status -l etcd2
    ● etcd2.service - etcd2
       Loaded: loaded (/usr/lib64/systemd/system/etcd2.service; disabled; vendor preset: disabled)
      Drop-In: /run/systemd/system/etcd2.service.d
               └─20-cloudinit.conf
       Active: active (running) since Wed 2015-09-09 19:28:58 CST; 6 days ago
      Main PID: 1091 (etcd2)
       Memory: 7.1M

[2015-09-16 03:24] gouyang commented on #3531
Sorry, my steps are different for the new and old version, it need a request outside etcd (from flanneld) to generate below logs:
[code]

So this is not a valid issue, and I will report a new issue for the new problem. Thanks.

[2015-09-16 03:24] #3531 closed

[2015-09-16 05:11] gouyang opened #3541 "proxy mark an unavailable endpoint available"
When the endpoints unavailable, it still "marked endpoint http://10.66.15.25:2379 available", this is weird.

[code]
[code]

Reproduce steps:
1. run etcd cluster on one machine A
2. publish flannel network settings to etcd cluster on machine A
3. run etcd proxy to use the cluster on machine B
4. run flannel with etcd proxy on machine B
5. stop etcd cluster on machine A
6. restart flanneld on machi

[2015-09-16 05:14] gouyang commented on #3531
Please refer to #3541 for the new problem.

[2015-09-16 05:23] benwilber opened #3542 "`etcd` keyspace is fundametally insecure"
It's impossible to treat `etcd` as a "key/value" store, since `etcd`:

* [Expands paths](https://github.com/coreos/etcd/blob/f51c2f471beaef104580b1e38dd67d73c5da9f88/client/keys.go#L468)
  * ../../foo (how is this useful as a key?  huge security vulnerability.)
* /prefix/foo bar baz/bat
  * `etcd` key -> /prefix/foo%20bar%20baz/bat

Even if the key that I wrote was "foo bar baz" (not escaped), `et

[2015-09-16 07:01] onlyjob commented on #3485
Thank you. :)

[2015-09-16 10:55] balboah commented on #3532
ah thanks for the clarification

[2015-09-16 10:55] #3532 closed

[2015-09-16 15:27] f0 commented on #3405
@xiang90   can i something? For me the Probem is gone with the update to 2.1.3

[2015-09-16 15:36] yichengq commented on #3542
Different key/value store may have different decisions on key support.

[code]

That is the expected behavior of HTTP request. You could use `etcdctl` instead and it works well.

[2015-09-17 05:06] yichengq opened #3550 "cleanup and improve rafthttp package"
- [x] parameter list is too long

~~- [ ] rafthttp could always use stream except for MsgSnap because etcd 2.3 doesn't have chance to talk to etcd 2.0~~ (this is incorrect. For example, local member is a leader which newly joins the cluster, and remote peer is a slow follower that doesn't know the local member. Remote peer may not even know its address and cannot build the stream)
- [x] add tests

[2015-09-17 05:32] yichengq commented on #3541
It marks the endpoint available after 5s that it detected the endpoint was unavailable to give the endpoint another chance. Does this make sense to you?

The log doesn't express it clearly, and should be improved.

[2015-09-17 12:03] l15k4 commented on #2214
I'm getting this most probably because `ExecStart` directive takes too long (it is pulling huge docker image) ... But I'm not 100% sure

[2015-09-17 16:03] dannysauer opened #3551 "Can't simultaneously run github 2.1.1 tag with 2.2.0 tag"
Adding a 2.2.0 node to an existing 2.1.1 cluster caused all of the 2.1.1 nodes to immediately exit, which is inconvenient. :)

Steps to reproduce:

Start 2-node 2.1.1 cluster like this:
[code]

Shut down one of the nodes and restart with the two "initial" args removed, and it works fine.  As soon as I replace it with a 2.2.0 binary, though - like this:
[code]

And the 2.1.1 node immediately fails.

[2015-09-17 16:17] yichengq commented on #3551
Could you check your etcd 2.2.0 version through `etcd --version`? I think it is not the tagged version. For 2.2.0 log, it should print out version stuffs at the head:
[code]

[2015-09-17 17:17] crawford opened #3552 "Confusing error when initial-cluster and discovery are omitted"
I left off both `--initial-cluster` and `--discovery`, and this was the result:

[code]

It's not obvious from this error that I am missing a flag.

[2015-09-17 17:43] dannysauer commented on #3551
Poop; you're right.
[code]

I did this to build that...
[code]
Why would the revision tagged as v2.2.0 with a comment of "bump to v2.2.0" not result in a v2.2.0 binary? :)

[2015-09-17 17:48] dannysauer commented on #3551
...and why does the git sha in my binary not match the one git produced?  Hmm...

Ok, apparently the bin was already populated from the last time I build something in there, and the build script doesn't overwrite the old binaries there.  I guess that's a separate issue. :D

Removing bin/* and re-running ./build gave me this, which looks better.
[code]

[2015-09-17 17:50] xiang90 commented on #3551
@dannysauer Can you try to reproduce this issue with 2.2 version?

[2015-09-17 17:51] dannysauer commented on #3551
I'm making sure the rest of the git repo is clean (to avoid any other unexpected surprises) and rebuilding to do just that. :)

[2015-09-17 17:51] xiang90 commented on #3551
@dannysauer Thanks a lot.

[2015-09-17 18:14] dannysauer commented on #3551
Once again, the issue was really my mistake. :)

Adding a 2.2.0 node to the cluster simply causes the existing (older) 2.1.1 node to emit the reasonable message:
[code]
and the cluster shows as healthy when checked with both the 2.2.0 and 2.1.1 etcdctl binaries.

It also works fine to inject the actual 2.2.0 into a cluster running that kinda broken 2.1.1 that I was using earlier.

Thanks for helpi

[2015-09-17 18:14] #3551 closed

[2015-09-17 21:21] utahcon opened #3553 "DNS Discovery not working, complaining about conflicting cluster ID"
# problem
Attempting to build a cluster using CoreOS on Rackspace public cloud using DNS discovery. When I bring up the systems (3 total) they are able to get the SRV records of the other nodes, and bootstrap data, but then fail due to a conflicting cluster ID. I have attached the following details:

I am using a locally built tool to interface with nova and load the cloud config file, which is be

[2015-09-17 23:03] utahcon commented on #3553
# DNS
[code]

[code]

[code]

# Journal from infraops-etcd-001 (booted first)
[code]

# Journal from infraops-etcd-002 (booted second)
[code]

# Journal from infraops-etcd-003 (booted third)
[code]

[2015-09-17 23:49] yichengq commented on #3553
My best guess is that the first node `couldn't resolve host infraops-etcd-003.iad.prod.zulily.com:2380 during SRV discovery`, so it ignores the second and third record, and builds a cluster `infraops-etcd-001=http://infraops-etcd-001.iad.prod.zulily.com:2380`, which is unexpected. @xiang90 Thoughts?

[2015-09-17 23:56] benwilber commented on #3542
@yichengq I closed this issue because I don't think it would be fixed in `etcd`, but I think the issue is still valid.  URL escaping is something that should be done by the client, not by the server for purpose of normalized storage, especially when the value is used from lookup.  This means that the key that I wrote the `etcd` is not necessarily valid for lookup, since it was possibly escaped imp

[2015-09-18 00:23] xiang90 commented on #3553
@yichengq I agree with you.

[2015-09-18 16:47] utahcon commented on #3553
Is this something I am doing wrong, or something wrong within etcd? How is DNS discovery supposed to work, do all nodes have to be up and running to use DNS discovery?

[2015-09-18 17:01] xiang90 commented on #3553
@utahcon You have to set DNS srv correctly before you starting etcd. This is a documentation issue. It is tracked here https://github.com/coreos/etcd/issues/3428. We should improve.

[2015-09-18 17:16] yichengq commented on #3553
Make it be able to `resolve host infraops-etcd-003.iad.prod.zulily.com:2380 during SRV discovery` when starting etcd on that infraops-etcd-003. We need to make etcd fail early in this case too.

[2015-09-18 17:25] utahcon commented on #3553
What is the expectation? That all machines that will host etcd are up and running before service discovery and cluster building is started? How does that work with CoreOS and cloud-init? If that is the case what exactly is the purpose of DNS discovery since you will know all the nodes before you start etcd?

My assumption (based on the documentation) was that each node would be added independently

[2015-09-18 17:40] yichengq commented on #3553
@utahcon It is expected that DNS SRV knows the name and IP of all etcd members. You could check the prerequisite for DNS SRV here: https://github.com/coreos/etcd/blob/master/Documentation/clustering.md#create-dns-srv-records .

DNS discovery helps for people who trust DNS SRV as the way to know -initial-cluster. If you doesn't know the nodes before starting, we suggest to use discovery service htt

[2015-09-18 17:49] utahcon commented on #3553
So this seems to be a problem. The reason I was going to lean on DNS SRV is that I am not in a position to connect to an external discovery server, nor do I have a discovery server setup within my network. I also don't know the IPs of machines that will be joining the etc cluster. So my only choices are to start CoreOS machines, with etcd disabled. Once all machines are up and resolvable I can ena

[2015-09-18 17:52] xiang90 commented on #3553
It is a hint token. We hash the token with other initial configuration to protect you from cluster misconfiguration.

You can set up an internal one. This is an chicken-egg issue. To bootstrap an etcd, you have to rely an external 3rd party that will collect all information beforehand.

[2015-09-18 17:54] yichengq commented on #3553
A customized discovery service is super easy to set up. You could check this for details: https://github.com/coreos/etcd/blob/master/Documentation/clustering.md#custom-etcd-discovery-service .

[2015-09-18 17:57] utahcon commented on #3553
* I have no external access
* I have no internal etcd

Am I expected to setup a single etcd server, and turn it into a discovery service in order to build a cluster?

Is there any reason to not turn the single etcd server into a cluster using the member API?

[2015-09-18 17:59] xiang90 commented on #3553
If you want, yes.

You can do that manually. See https://github.com/coreos/etcd/blob/master/Documentation/runtime-configuration.md#add-a-new-member
Or you can build your own tool to automate that process.

The discovery is a wrapper around static bootstrapping. We have no plan to make it more smart at the moment.

[2015-09-18 18:02] utahcon commented on #3553
Alright, thanks guys!

[2015-09-18 18:02] #3553 closed

[2015-09-18 20:45] xiang90 commented on #3542
@benwilber I understand the problem. But can you explain why this makes etcd insecure?

[2015-09-18 22:06] gtank commented on #3496
@devx As far as I know, it's not possible to support wildcard IP SANs in compliance with HTTP. If you look at [RFC2818](https://tools.ietf.org/html/rfc2818#section-3.1), it actually specifies exact match for the special case of IP addresses:
[code]

[2015-09-18 23:36] xiang90 commented on #3272
@spacejam Would you like to push the tool to /tools in etcd repo.

I think @AdoHe , @raoofm and I would love to maintain this tool with you. Thanks!

[2015-09-19 00:08] mdmarek opened #3557 "Watch always returns: etcd cluster is unavailable or misconfigured"
I am trying to use a watch, setup in the following way:

    res, err = k.Get(context.Background(), key, &etcd.GetOptions{Quorum: true})
    if err != nil {
        ...
    }

    w := k.Watcher(key, &etcd.WatcherOptions{AfterIndex: res.Index, Recursive: true})
    ctx, cancel := context.WithCancel(context.Background())
    go func() {
        <-stopc
        cancel()
    }()
    for {
        res

[2015-09-19 20:47] benwilber commented on #3542
The path expansion is actually the security issue that I was referencing.  The keyspace being addressed as URLs makes it very difficult to code defensively against malicious inputs.  I can't just accept a value as an opaque blob and assume that it will be written/read as-is.  I have to do all manner of sanitization on the key in order to guarantee that it's not going a traverse a path and overwrit

[2015-09-19 23:04] yichengq commented on #3557
You could call Details() to get more info using http://godoc.org/github.com/coreos/etcd/client#ClusterError.

Could you show us the details?

[2015-09-20 02:07] yichengq opened #3559 "TestPublishRetry fail"
2015-09-19 23:20:18.085649 I | etcdserver: aborting publish because server is stopped
--- FAIL: TestPublishRetry (0.00s)
	server_test.go:1049: len(action) = 1, want >= 2
2015-09-19 23:20:18.086041 I | etcdserver: setting up the initial cluster version to 2.0
FAIL
coverage: 48.4% of statements

It doesn't wait long enough for timer to be triggered in travis.

[2015-09-20 02:07] xiang90 commented on #3559
@yichengq Can you file an issue in travis? Ask them why it is getting slower and slower?

[2015-09-20 02:11] yichengq commented on #3559
@xiang90 I will send an email to the travis pro guys.

[2015-09-20 02:18] xiang90 commented on #3559
We are not using travis pro, btw. We are using the travis.org.

[2015-09-20 04:19] yichengq opened #3560 "TestKVHash fail"
[code]

HEAD at 09/18 06180be1540, go1.4

[2015-09-21 03:02] gouyang commented on #3541
@yichengq It's okay if it retry the endpoint after 5s, please improve the log to match that.

[2015-09-21 03:10] xiang90 commented on #3541
@gouyang Can you send us a pull request to fix it? Thanks!

[2015-09-21 06:57] gouyang opened #3562 "etcdctl get key's value from local instance or the specified instance randomly"
This is a weird issue I've just met. Have a local and remote etcd instance running.
Run etcdctl, It get key's value from local etcd instance or the remote etcd instance randomly.

[code]

[code]

[2015-09-21 08:13] gouyang commented on #3562
Not sure how it's happened because I could not reproduce the problem now. Maybe the data-dir is not clean?

[2015-09-21 08:13] #3562 closed

[2015-09-21 16:32] xiang90 commented on #3542
It sounds like you are saying it is hard to protect etcd due to the path escaping. I still cannot say why etcd itself is fundamentally insecure.

And you are right, we are not going to change the url based resource model in v2. However, we are designing a new API to solve the exact issue you just mentioned. Feel free to give it a review: https://github.com/coreos/etcd/blob/master/Documentation/rfc

[2015-09-21 17:52] #3552 closed

[2015-09-21 18:51] #3278 closed

[2015-09-21 19:14] smarterclayton opened #3565 "Is the following wedged etcd data dir recoverable (2.0.11 ran out of disk, 2.1.1 can't load it)"
A 2.0.11 etcd ran out of disk while writing.  In attempting to restart with etcd 2.1.1 (below) the panic is thrown.  Is the data directory recoverable via manual intervention?  Should 2.1 repair be able to open this file?

Can provide the dump on request.

[code]

[2015-09-21 19:38] stevenschlansker commented on #2468
We also just ran into the "backup restore" edge case -- we had a storage outage and restored from backup, all clients that were watching ended up in an indefinite hang as the cluster index had moved far into the past.

[2015-09-21 19:44] yichengq commented on #3565
etcd2.1 includes both repair code and the patch to generate WAL that could be repaired by this repair code. So 2.0.11 corrupted log may not be recoverable by 2.1, and 2.1 log should always be recoverable.

We don't have official way to recover corrupted 2.0.11 data dir now.

[2015-09-21 20:31] smarterclayton commented on #3565
Ok, thanks.

[2015-09-21 20:31] #3565 closed

[2015-09-21 20:52] hmatinho opened #3567 "Version Endpoint returns JSON with text/plain ContentType"
curl -Li http://127.0.0.1:4001/version
HTTP/1.1 200 OK
Date: Mon, 21 Sep 2015 20:51:12 GMT
Content-Length: 44
Content-Type: text/plain; charset=utf-8

{"etcdserver":"2.1.2","etcdcluster":"2.1.0"}

[2015-09-21 21:55] cchamplin commented on #1232
For people looking for this in 2.x, I've put together a preliminary implementation.

Adding refresh=true to PUT/POST options when updating a TTL will no longer fire a watch notification (unless a value change occurs with the TTL update)

Commit:
https://github.com/cchamplin/etcd/commit/4f6815207752dcfd4dc2e9a50cf0a3c1b2fa6179
Patch File
https://github.com/cchamplin/etcd/commit/4f6815207752dcfd4dc2

[2015-09-21 21:55] yichengq opened #3568 "test etcd snapshot send in limited network bandwidth"
If the network bandwidth between etcd members is limited, and cannot send message snapshot before reading header timeout(5s), it is possible that the follower cannot receive any valid snapshot forever in this scenario.

After testing, if this is the case, it should be fixed.

[2015-09-21 22:09] cchamplin commented on #1229
For people looking for this in 2.x, I've put together a preliminary implementation.

Adding level=# to a wait request on a directory will restrict notifications to a specific depth
Adding filter=[action(s)] to a wait request on a directory will restrict notifications to specific action types

Commit:
https://github.com/cchamplin/etcd/commit/28824c0816196a8e17c9f408fb1e81ab86e1f63d
Patch File
https

[2015-09-21 22:10] cchamplin commented on #952
I've put together an implementation for this for 2.x. More details here https://github.com/coreos/etcd/issues/1229#issuecomment-142124136

[2015-09-21 23:17] stensonb opened #3569 "Set() ignores SetOptions.PrevExist with SetOptions.Dir = true"
Trying to ensure, idempotently, that a directory exists with this:

[code]

If the directory doesn't exist, the directory is created:
[code]

On the next run, the directory exists, but the Set() function throws an error:
[code]

I expect when PrevExist==client.PrevIngore, the Set() function should not fail when I try to Set() an existing directory.

[2015-09-21 23:42] stensonb commented on #3569
This appears to only affect root-level nodes...

For example, trying to ensure the "/cidrdy" directory exists fails with the above message.

However, if "/cidrdy" exists, and I then try to ensure a "/cidrdy/classes" directory exists, the Set() function seems to honor PrevExist==client.PrevIgnore

[2015-09-22 00:26] mdmarek commented on #3557
@yichengq

Thanks for the tip. Logging the `Detail()` string, shows:

    client: etcd cluster is unavailable or misconfigured, detail: error #0: context canceled

That helped me understand what was going on. The watch is getting canceled. What confused me is that it returns an error. I was not expecting that.

I guess the `Watcher` does not have much choice, since it can only return a `*Response`

[2015-09-22 00:51] xiang90 commented on #3557
@mdmarek Do you think this helps at all? https://github.com/coreos/etcd/tree/master/client#error-handling

[2015-09-22 00:56] mdmarek commented on #3557
@xiang90

That would help if the example block below worked when examining an error from `Next()`:

    var w *client.Watcher

    ...

    res, err := w.Next()
    if err != nil {
        if err == context.Canceled {
            // ctx is canceled by another routine
        } else if err == context.DeadlineExceeded {
            // ctx is attached with a deadline and it exceeded
        } else if

[2015-09-22 01:01] xiang90 commented on #3557
It should. Is there an issue?

[2015-09-22 01:04] mdmarek commented on #3557
Ah perfect. Probably no issue, just me not reading the manual.

Thanks @xiang90

[2015-09-22 01:05] xiang90 commented on #3557
@mdmarek Thanks. Let us know if you have any issues. :)

[2015-09-22 01:05] #3557 closed

[2015-09-22 08:10] mwitkow-io commented on #3002
@xiang90 would you like me to revisit https://github.com/coreos/etcd/pull/3093 ?

[2015-09-22 11:07] gyuho commented on #3560
I am getting the same crash.

[code]

From the command `go test -bench . -benchmem -cpu 1,2,4,8,16`
and run on the master branch.

https://github.com/coreos/etcd/commit/3b70bf87c3f8b8d8322dbe55226c8af80da21a9f
And Go1.5.

Thanks,

[2015-09-22 14:44] xiang90 commented on #3002
@mwitkow-io Yes. We can do that now. Have you enabled those metrics in you production environment? My primary concern is that we might introduce some unnecessary metrics.

[2015-09-22 14:44] cchamplin commented on #3569
I believe this is expected behavior, you cannot update an existing directory (other than changing the TTL). If you want to ensure that a directory exists as a single command (Create or NOOP) you could get close by performing a SET on a short lived key underneath the directory you want to ensure is created.

[code]

[2015-09-22 14:54] yichengq opened #3576 "data race in pkg/transport"
[code]

[2015-09-22 15:08] mwitkow-io commented on #3002
@xiang90, yes, we've been running all of our production clusters with #3093 for 2 months now.. They've been incredibly useful, especially the alerts around the latency of reads and writes.

The latency of writes, especially, has been a good indicator when services depending on etcd (e.g. fleet, or SkyDNS) could start misbehaving (e.g. due to refreshes of TTLs taking a long time).

[2015-09-22 15:53] xiang90 commented on #3002
@mwitkow-io Can you rebase that branch on top of master? Then we can start to review it? Thanks!

[2015-09-22 16:44] mwitkow-io commented on #3002
Done! I'm really looking forward to this, managing an out of tree patched etcd is a pain and prevents us from being more on the bleeding edge :)

[2015-09-22 16:56] stensonb commented on #3569
Thanks for the feedback @cchamplin

The purist in me is frustrated by the lack of "elegance" in this. :)  It's strange to think that I have to perform another SET just to prove the directory exists...not to mention, what if my subsequent SET call fails for some reason NOT related to the directory's existence...my code would falsely assume the directory doesn't exist, even though it might.  Ugh!

A

[2015-09-22 19:59] #3499 closed

[2015-09-22 20:16] gyuho commented on #3560
The hash function never fails as far as I know in normal test.

It only fails when I run benchmark.

I did the same benchmark on same hash function https://github.com/coreos/etcd/blob/master/storage/kvstore.go#L291
but without `Snapshot`, and got no crash.

So maybe something related with Snapshot code here:
https://github.com/coreos/etcd/blob/master/storage/backend/backend.go#L87-L99
?

I want to

[2015-09-22 20:20] yichengq commented on #3560
I have no clue about it too.

[2015-09-23 06:10] yichengq commented on #3560
I could hit this in travis in low probability.

It could read out the keys put, so hash difference doesn't affect the correctness.

[2015-09-23 06:23] xiang90 commented on #3496
@devx I think @gtank has answered your questions. I am closing since this works as intended. Let us know if you have other issues. Thanks!

[2015-09-23 06:23] #3496 closed

[2015-09-23 07:09] jolestar commented on #174
+1

[2015-09-23 09:23] kayrus opened #3580 "All proxies leave the etcd2 cluster upon quorum loss ?? (4 nodes, version 2.0.12)"
@domq
I've copied from [google groups](https://groups.google.com/forum/#!topic/coreos-user/OuqvJIRAtho)

Hello fellow CoreOS users, we[1] are busy setting up a CoreOS cluster on bare metal (60 nodes or so) for a university in Switzerland.

We ran into a somewhat worrying failure scenario with etcd2 version 2.0.12, and a cluster of 4 nodes. An excerpt of the logs of node #6 (which was configured as

[2015-09-23 10:26] miekg opened #3581 "etcd client readme reference Godeps/ package"
Hi,

The etcd `etcd/client/README.md` has this:

[code]

This strikes me as a somewhat non-optimal way to get `net/context`. Is this really needed?

[2015-09-23 15:00] yichengq commented on #3580
From the line that you pointed to me `Sep 11 15:33:37 c06.ne.cloud.epfl.ch etcd2[3406]: 2015/09/11 15:33:37 proxy: updated peer urls in cluster file from [http://192.168.11.1:2380 http://192.168.11.3:2380 http://192.168.11.7:2380 http://192.1`, I cannot see that it tries to proxy to itself.

Moreover, could you check the member list in your etcd cluster?

[2015-09-23 15:17] yichengq commented on #3581
Yes, if you don't use `godep`.

We would like to expose original context error to follow canonical workflow. But we do packaging in the project, so you need to use packaged context.

Original discussion: https://github.com/coreos/etcd/issues/3208

[2015-09-23 17:02] yichengq commented on #3423
The problem is that if discovery fails to create self entry, it will exit with this log line.

I see the TODO left there to retry create, and kills the TODO is the way to fix the problem. But how to distinguish whether the key is created by my previous request is not solved in discovery protocol, so the TODO cannot be done.

My thought is to improve the log line for this error, and tells user expl

[2015-09-23 18:07] yichengq commented on #3462
This happens because 1. restoring 50MB-store snapshot blocks raft loop 3s, and raft loop cannot send out new messages in this period. 2. rafthttp only holds 1s message buffer

Considering the snapshot could be bigger, an elegant way is to let raft loop stop waiting for apply finish.

@xiang90

[2015-09-23 18:07] gyuho commented on #3560
Yeah, I also confirmed that raw data from Snapshot to boltdb was identical.
It just rarely has different hash values, in most cases when you run benchmarks
with more than one CPU.

Not sure why this only happens in benchmarks, as far as I observed so far.
Tests running in parallel does not crash from Hash. Only crash in benchmarks--for me.

I will investigate more.

Thanks,

[2015-09-23 18:18] gyuho commented on #3560
Never mind. I think @xiang90  figured it out with https://github.com/coreos/etcd/pull/3585.

Thanks all!

[2015-09-23 20:02] raoofm opened #3586 "etcdctl: incorrect message when certs not passed as arguments"
Error message is misguiding when certs are not passed as arguments to etcdctl

./etcdctl --endpoint="https://node01.etcd.dev.com:2379" cluster-health
gives below response
*cluster may be unhealthy: failed to list members*
*Error:  client: etcd cluster is unavailable or misconfigured*
*error #0: dial tcp 10.11.14.19:2379: getsockopt: connection refused*

whereas cluster is healthy
./etcdctl --endpo

[2015-09-23 20:57] xiang90 commented on #3560
Fixed by #3585

[2015-09-23 20:57] #3560 closed

[2015-09-23 23:27] philips commented on #174
The etcd v3 API will add the concept of a lease. When the lease ttl expires multiple keys can be deleted. See https://github.com/coreos/etcd/blob/master/Documentation/rfc/v3api.md

We have an early preview of the v3 API in the latest [etcd v2.2 release](https://github.com/coreos/etcd/releases) but leases haven't been implemented yet.

Please let us know if leases solve your use case @jolestar @m1c

[2015-09-24 21:26] willejs opened #3589 "New node cant join cluster"
Hi, I am running a 3 node cluster of etcd version 2.0.3. One node failed today, and I removed the node from the cluster (this caused instability for 10 minutes, but eventually the cluster nodes returned to healthy).
I then booted a new node, and ran
``` etcdctl member add node3 http://10.0.12.247:7001 ```
when running etcdctl member list i see:
[code]
https://gist.github.com/willejs/14e9bd0c587b12

[2015-09-24 21:36] yichengq commented on #3589
It will be filled in when the new member bootstraps and connects to the cluster.

For the error, I think you use the wrong `-initial-cluster` flag. Could you share your command line and the instruction printed out by `etcdctl member add` to me?

[2015-09-24 21:56] willejs commented on #3589
I just performed the same steps on my staging cluster with success.

The output from the healthy node, member add is below:
[code]

[2015-09-24 21:59] yichengq commented on #3589
I guess you lacked `node3=http://10.0.12.247:7001` part in initial cluster when you did it the first time.

[2015-09-24 22:12] willejs commented on #3589
Nope, ive repeatedly removed the node from the cluster and tried the exact config that the add member node outputs. Any ideas? I cant believe that an identical setup in staging works, but doesent work in production?

[2015-09-24 22:14] willejs commented on #3589
Ive also ensured that the state directory is empty too.

[2015-09-24 22:16] yichengq commented on #3589
@willejs Please show me your command line to start etcd, and `etcdctl member list` when you start etcd in your production.

[2015-09-24 22:21] willejs commented on #3589
[code]

Thanks for your help!

[2015-09-24 22:32] MikaelCluseau opened #3591 "Unable to retsart after disk-full"
Hi,

I'm unable to restart a standalone etcd2 server after a disk full event on CoreOS stable 723.3.0. I upgraded CoreOS to the latest stable (766.3.0) as it has etcd 2.1 which should recovers from this. But it doesn't :(

[code]

The datadir is:
[code]

I tried to backup the datadir which resulted in the following structure:
[code]

I then tried to start from this backup:
[code]

Is there a way t

[2015-09-24 22:35] xiang90 commented on #3591
@MikaelCluseau You need to rename the wal file back to .wal. And restart etcd to see if it can be recovered or not.

[2015-09-24 22:38] MikaelCluseau commented on #3591
Thanks for the quick answer! Unfortunately, it didn't repair correctly:

[code]

[2015-09-24 22:39] xiang90 commented on #3591
@MikaelCluseau Why do you think it is not repaired correctly. More logs after the restarting one?

[2015-09-24 22:41] MikaelCluseau commented on #3591
It crashed, I just tried debug mode, in fact systemd-journald seems to miss some output. Here the result of trying in a terminal instead of the service:

[code]

[2015-09-24 22:52] xiang90 commented on #3591
@MikaelCluseau Can you please paste in the full log from starting?

[2015-09-24 22:54] MikaelCluseau commented on #3591
Sure, I'm trying to get an extract of the last log entry with xxd too.
[code]

[2015-09-24 22:59] MikaelCluseau commented on #3591
What the last log entry looks like:
[code]

[2015-09-24 23:04] xiang90 commented on #3591
@MikaelCluseau OK. I think your wal was generated by etcd 2.0.x.

And you are out of luck, since you lost a committed entry. 2.0.x cannot recover from EOF and also it did not pay attention to the order of the entries. Thus a bad 2.0.x wal might not be recovered by 2.1.x.

This is fixed by https://github.com/coreos/etcd/commit/8b4eed29e5b0f808ea792e169ff5632bd95b962b.

If you really want to fix thi

[2015-09-24 23:08] MikaelCluseau commented on #3591
Okay, I'll try that, I think it will be faster that redeploying all the services. Thanks for you help in concluding this. Will report here.

[2015-09-24 23:24] claco opened #3592 "Log files run amok after node death -> host restore"
First, I realize this is counter to the admin guide: `For maximum safety, if an etcd member suffers any sort of data corruption or loss, it must be removed from the cluster. Once removed the member can be re-added with an empty data directory.`, but I wanted to log it as a possible scenario (however unlikely) where logs can fill up pretty rapidly.

I have a 3 node cluster that was bootstrapped usi

[2015-09-24 23:30] willejs commented on #3589
I give up on this, i had to migrate to another cluster, and am now going to upgrade to 2.2 as i think this is a real problem in 2.0.x.

[2015-09-24 23:30] #3589 closed

[2015-09-25 00:13] MikaelCluseau commented on #3591
FWIW, I fixed this by using xxd to "decode" the wal. Entries are starting by a varint, which is described as 0x08. Thus, I truncated the wal from the last 0x08 it has, and used xxd -r to re-encode the edited file, until etcd2 started. The data is ok after. A etcd specific tool could be faster, but it works quite fast this way :-)

[2015-09-25 00:13] #3591 closed

[2015-09-25 01:00] yichengq commented on #3592
@claco The restored host should not restart so fast, and I think maybe you should stop to restart etcd if it exited with non-0 value.

For healthy node, it will always print out the reasons of the connection break as error at the first time. It keeps printing out them in your case because the restored node keeps up and down. If you just stops one node, the error log is limited. I think the behavio

[2015-09-25 17:02] #3541 closed

[2015-09-25 17:16] xiang90 commented on #3576
Fixed by #3593

[2015-09-25 17:16] #3576 closed

[2015-09-25 19:03] xiang90 commented on #3025
After thinking more about this, we probably want a reliable default name even after restart. Probably we can hash peerURLs (and clientURLs)?

[2015-09-25 19:05] yichengq commented on #3581
This could be improved when `go vendor` becomes official.

@miekg Let me know if you have more thoughts.

[2015-09-25 19:05] #3581 closed

[2015-09-25 21:47] robszumski opened #3595 "docs: add more security info to clustering guide"
It would be great to have more examples for adding the TLS related flags when clustering. I'm not looking for instructions on generating certs or background on the design, but there should be 3 code blocks that list the required flags and values, similar to the other clustering guides. This way you at least know that flags are required on each machine. Link off to the other stuff.

[2015-09-25 21:49] philips commented on #3595
@robszumski What SSLa tool should we use so we are consistent across our k8s guides and etcd guides?

Also, this can be a starting place: https://github.com/coreos/etcd/blob/13cfb4284faa6056a1771b847b71e6429e627e56/Documentation/security.md#security-model

[2015-09-25 21:50] xiang90 commented on #3595
@robszumski Do you mean add the TLS related stuff into https://github.com/coreos/etcd/blob/master/Documentation/clustering.md?

[2015-09-25 21:52] robszumski commented on #3595
@xiang90 yes, have a full list of the flags required to get started with TLS. Link off for background info and actually generating the certs.

[2015-09-25 21:53] robszumski commented on #3595
@philips Not sure I'm the one to make that call, but I know of 3: openssl for k8s, etcd-ca and cfssl for general os stuff.

[2015-09-25 21:55] xiang90 commented on #3569
@stensonb

As @cchamplin mentioned, this works as intended.
Set means delete and then create a new one. So set a key means to delete the old key and create a new one.

Set does not work with directory since you cannot simply remove a non-empty directory. That is dangerous.

This is probably not going to change for v2 api. In v3 api, we do not have a concept of directory.

[2015-09-25 21:55] #3569 closed

[2015-09-25 22:27] #3567 closed

[2015-09-26 16:01] streamnsight opened #3597 "what does an etcd2 config file look like?"
Using CoreOS to deploy Kubernetes. I want to secure ectd with TLS, but then Kubernetes pods need to be ableto authenticate. To do so, the etcd config can be passed as a config file which would i guess include links to certs.

I see doc for the FLAGs that can be used but nothing about the format of a 'config file'

Can someone share an example?
Thanks

[2015-09-26 18:59] yichengq commented on #3597
etcd don't support config file.

We supports to config TLS related stuffs through command line, and I think this could fit your requirements. Read this for flag usage: https://github.com/coreos/etcd/blob/master/Documentation/security.md

[2015-09-27 19:43] jelmer commented on #3411
Should this be fixed in 2.2.0 ? I think I can still reproduce it there.

[2015-09-27 22:03] xiang90 commented on #3411
@jelmer can you file a new issue with the steps to reproduce this？

[2015-09-28 01:41] roboll opened #3599 "documentation of etcd2 proxy tls settings"
Spent a number of hours trying to figure out how etcd2 proxy works with tls. Finally after combing through the code, I realized that the proxy uses peer tls settings to communicate with the cluster peers over the client port. This is definitely not straight forward and as far as I can tell entirely undocumented. I'll be happy to help with a PR containing documentation, but I want to verify that th

[2015-09-28 05:26] F21 opened #3600 "etcd2 breaks and no longer works properly if it takes too long to find peers"
I have 4 CoreOS machines in my cluster running on VirtualBox that are managed with Vagrant. CoreOS is 815.0.0 and etcd is 2.2.0. Unfortunately, provisioning takes a while, so it can take up to ~20 minutes for each machine to come up.

Due to the delay, I am seeing the situation where the etcd2 instances on the first 3 machines will have a discovery timeout and then no longer work, even after reboo

[2015-09-28 08:35] miekg commented on #3581
[ Quoting <notifications@github.com> in "Re: [etcd] etcd client readme refer..." ]

Ack.

I never (really) liked Godeps and it is unfortunate that it shows up in
such a public way in the README. :(

/Miek

--
Miek Gieben

[2015-09-28 13:27] densetsunozero opened #3601 "Enabling authentication in cluster will not synchronize this change to other members"
Hi,
I built a 3-member cluster ( infra1, infra2, infra3 ) on three machines (dev01, dev02, dev03) with the latest stable version 2.2.0. Now I found that if I enable authentication on one member after creating root user, sometimes this change will be synchronize to other members, but sometimes it won't. And it seemed that using command line tool `etcdctl auth enable` has greater chance to trigger t

[2015-09-28 14:47] yichengq commented on #3599
That would be rather helpful. :+1:  A good start point is the security doc AFAIK: https://github.com/coreos/etcd/blob/master/Documentation/security.md

[2015-09-28 14:54] yichengq commented on #3581
such a public way in the README. :(

etcd needs packaging, and we support `go get github.com/coreos/etcd`. So that is our solution to fit both requirements.

[2015-09-28 15:04] yichengq commented on #3601
I could reproduce this.

It is caused by the cache of enabled var in auth pkg.

[2015-09-28 15:10] yichengq commented on #3600
Discovery should retry forever. I have tested this at my computer and it works fine.

current etcd log miss the fatal log line. Could you find the missing log through `journalctl -f -t etcd2`? Ref: https://github.com/coreos/etcd/blob/master/Documentation/reporting_bugs.md#how-to-get-etcd-configuration-and-log-when-it-runs-as-systemd-service-etcd2service It is better if you try to run it in shell.

[2015-09-28 15:13] miekg commented on #3581
[ Quoting <notifications@github.com> in "Re: [etcd] etcd client readme refer..." ]

yes, I totally understand. I also don't have anything better to offer.

/Miek

--
Miek Gieben

[2015-09-28 15:24] densetsunozero commented on #3601
Thanks for the reply. I hope this get fixed soon.

[2015-09-28 16:30] yichengq commented on #3599
@roboll After reading the issue again with xiang, current usage is a wrong one, and this should be a bug. It is impossible to reason about why it uses peer cert to do requests for client port. It needs to be fixed at etcd side.

[2015-09-28 16:33] roboll commented on #3599
@yichengq thats what I initially thought as well, I agree.

I think the desired behavior should _actually_ be that proxy uses an entirely different flag for it's proxying, i.e. introduce `proxy-` flags. The reason behind that is because we still need to be able to specify `client` for incoming connections, `peer` for connecting to the etcd cluster to get the members on the peer port, and then fina

[2015-09-28 16:35] roboll commented on #3599
also, do you want me to close the pull request with documentation, or should it be included in the interim in which case i can create a link in the docs to an issue tracking progress on that issue.

[2015-09-28 16:40] xiang90 commented on #3599
@roboll I agree with you.

Proxy cannot transparently forward tls since it operates at HTTP layer currently with this library https://golang.org/pkg/net/http/httputil/#ReverseProxy.

So proxy uses its own transport with its own cert/key to connect with etcd cluster.

To make this clear, we probably want to have proxy-to-etcd-client-* that is used to connect to etcd cluster client port. And we also

[2015-09-28 16:45] #3517 closed

[2015-09-28 17:04] roboll commented on #3599
@xiang90 makes sense.

I submitted a PR to address the lack of documentation on the way etcd operates today - do you want to include that in the interim or should I close the PR?

[2015-09-28 17:10] yichengq commented on #3599
@roboll The added part is good, but I don't want to let users use something fundamentally wrong. I would prefer to close the PR and submit a correct one when it is fixed.

[2015-09-28 17:16] roboll commented on #3599
cool. closed the pr. can you update this ticket with a link to the new issue when it's around? i'd like to track that.

[2015-09-28 17:26] yichengq commented on #3599
@roboll Sure. Thanks for fast reply and the PR.

[2015-09-28 18:10] philips commented on #3025
Lets document it for name and suggest that a name should be a unique hostname, or machine-id.

[2015-09-28 18:21] philips opened #3603 "etcdv3: how does it behave under swap-constrainted or swap free environments"
boltdb will use a large amount of virtual memory to work-around https://github.com/boltdb/bolt/issues/378.  How does this affect etcd in practice with swap-constrainted environments?

[2015-09-28 22:51] utahcon opened #3605 "etcdctl breaks when enable SSL"
When I create a cluster with SSL enabled using the following flags:

[code]
`etcdctl` is broken:
[code]
unless I pass in the CA file, and list of peers using SSL
[code]
It seems to be the default of expecting `http://127.0.0.1` to work after enabling SSL, at a minimum I would expect `https://127.0.0.1` (which would require a cert that allows both the FQDN and the loopback)

How can I force `etcdct

[2015-09-28 22:54] F21 commented on #3600
When I run `journalctl -f -t etcd2`, I see no new entries even after waiting for a long time:

[code]

[2015-09-29 02:06] yichengq commented on #3605
`etcdctl` has no knowledge that users are using HTTPS. I think you mentioned that the error message is confusing, right?

You could use environment variables. It should be ETCD_PEERS.

[2015-09-29 02:16] yichengq commented on #3600
`journalctl -t etcd2` should work. I extremely would like to see the error after this part:
[code]

[2015-09-29 03:03] F21 commented on #3600
I am using etcd 2.2.0 the ships with CoreOS and it runs with systemd. I think using `-t` doesn't work and I need to use `-u`.

Running `journalctl -t etcd2` returns nothing:

[code]

But, running `journalctl -u etcd2` does return something.

[code]

[2015-09-29 15:02] #3423 closed

[2015-09-29 17:13] crawford opened #3613 "failed to notify systemd for readiness"
I see this error in my logs:

[code]

[2015-09-29 18:35] ekozan commented on #3613
hey, same error here, are you trying to set-up an single node cluster ?

[2015-09-29 18:36] crawford commented on #3613
Yes.

[2015-09-29 20:18] ekozan commented on #3613
rolf i don't understand our mistake

[code]

[2015-09-29 20:24] raoofm commented on #3605
The flag has changed

Please use ETCDCTL_ENDPOINT
https://github.com/coreos/etcd/tree/master/etcdctl#endpoint

[2015-09-29 21:10] yichengq commented on #3605
@raoofm You are right. Please use ETCDCTL_ENDPOINT

[2015-09-29 22:35] utahcon commented on #3605
Running version 2.1.2

[code]

with ETCDCTL_ENDPOINT set:

[code]

fails

[code]

must still pass as argument on command line

[code]

[2015-09-30 03:00] jelmer commented on #3411
On Sun, Sep 27, 2015 at 03:03:24PM -0700, Xiang Li wrote:

Actually, this seems to be caused by my running with a "-proxy on
-discovery-srv bla.uk" but with a -datadir that already existed and
was initialized to a full member.

Sorry for the noise.

Cheers,

Jelmer

[2015-09-30 04:16] spacejam commented on #3272
https://github.com/coreos/etcd/pull/3615

[2015-09-30 12:13] arthur-c opened #3618 "--recursive etcdctl option is not documented"
Hi,
The --recursive flag option in etcdctl is very convenient but is not documented at all, that's too bad.
Regards,

Arthur

[2015-09-30 16:23] gyuho opened #3619 "etcdserver: what would be the best way to ensure PeerURLs are URLs."
https://github.com/coreos/etcd/blob/master/etcdserver/member.go#L38 notes:

[code]

Is this `TODO` still valid? I was working on changing the types into `types.URLs` as below:

[code]

But this requires a lot of code change, especially in test cases with `nil`
PeerURLs string slices, and urls without port. What would be the best way
to ensure PeerURLs be valid URLs? Did you consider any regex (e.g

[2015-09-30 16:40] yichengq commented on #3618
Which part do you think is missing? I find `ls --recursive` is documented at https://github.com/coreos/etcd/tree/master/etcdctl#listing-a-directory

[2015-09-30 16:54] yichengq commented on #3619
My first thought is that etcd should have validated all peer URLs either when bootstrap or when adding/updating member. If this is true, we could just add comments about how this is ensured.

[2015-09-30 19:23] raoofm commented on #3605
I can confirm that this is issue

[2015-09-30 19:31] raoofm commented on #3605
Works for me. I dont see any issue.
It works for both ETCDCTL_ENDPOINT and ETCDCTL_PEERS

[rm@server-111 etcd]$ ./etcdctl -v
etcdctl version 2.2.0
[rm@server-111 etcd]$ pwd
/var/lib/etcd
[rm@server-111 etcd]$ export ETCDCTL_ENDPOINT=https://node03.etcd.dev.com:2379
[rm@server-111 etcd]$ echo $ETCDCTL_ENDPOINT
https://node03.etcd.dev.com:2379
[rm@server-111 etcd]$ ./etcdctl --cert-file=/var/home/rm

[2015-09-30 19:46] raoofm opened #3620 "etcdctl doesn't honor dns discovery flag"
I had opened this in #3244 but at that time I was not using the latest code.

[Documentation](https://github.com/coreos/etcd/tree/release-2.2/etcdctl#dns-discovery) says --discovery-srv flag can be used instead of --endpoint but it doesn't seem to work.

$ ./etcdctl --peers="https://node01.etcd.dev.com:2379,https://node02.etcd.dev.com:2379,https://node03.etcd.dev.com:2379" --cert-file=/var/home/rm

[2015-09-30 19:52] yichengq commented on #3605
`ETCDCTL_ENDPOINT` is introduced in 2.2.0, so it doesn't work for 2.1.2.

@utahcon For 2.1.2, you still need to use ETCDCTL_PEERS

[2015-09-30 19:58] yichengq commented on #3620
Could `--debug` flag tell you more?

/cc @MSamman

[2015-09-30 20:11] raoofm commented on #3620
I checked this last time as well and traced it back to code where it is using incorrect url. I checked on how etcd is doing discovery and saw that it is doing a substring of the url.

Notice the . dot after dns name and before port.

Also it is using the peer URLs instead of client

$ ./etcdctl --cert-file=/var/home/rm/node01.etcd.dev.com.cert.pem --key-file=/var/home/rm/node01.etcd.dev.com.pem --

[2015-09-30 21:29] yichengq commented on #3620
@raoofm I confirm this is bug.
@MSamman Do you want to fix this?

[2015-09-30 23:15] gyuho commented on #3619
@yichengq Makes sense.

I added a comment to clarify this: https://github.com/coreos/etcd/pull/3622

[2015-09-30 23:30] glevand opened #3623 "etcd-2.2.0 build fails for arm64"
etcd-2.2.0 build fails for arm64 (go-1.5.1).

[code]

[2015-09-30 23:34] mischief opened #3624 "etcdctl no longer reports a nonzero exit status when cluster-health fails"
#3323 removed some calls to os.Exit(1) in etcdctl. it broke a test in kola.

the following code proceeds to check for (2*n)+1 instances of the word 'healthy' in etcdctl cluster-health output, but only when etcdctl cluster-health returns a 0 status. now that the behavior is changed, err is always nil due to a zero exit status.

https://github.com/coreos/mantle/blob/master/kola/tests/coretest/etcd.g

[2015-09-30 23:43] yichengq commented on #3623
@mkaczanowski Could you confirm this is a problem?

[2015-09-30 23:53] MSamman commented on #3620
Yea I'll give it a go.

[2015-09-30 23:53] yichengq commented on #3620
@MSamman Thanks!

[2015-10-01 00:08] yichengq commented on #3624
I check the meaning of exit code, and find that code 0 indicates `Program suseccfully completed.` But in practice, I find the `diff` returns 1 when some differences are found(http://stackoverflow.com/questions/6971284/what-are-the-error-exit-values-for-diff). Given the returned code defined here: https://github.com/coreos/etcd/tree/master/etcdctl#return-codes, it seems that returning 0 is more rea

[2015-10-01 00:11] xiang90 commented on #3624
@yichengq @mischief This is tricky since `cluster is not healthy` does not mean that etcdctl health command fails. Also this command output is not designed to be programmatically consumed. You probably should not rely on this at all.

[2015-10-01 00:12] mischief commented on #3624
if that is the case, can you show me a documented method of checking cluster health of all nodes that works in a programmatic fashion?

[2015-10-01 00:14] xiang90 commented on #3624
@mischief

We do not provide that feature at the moment. You can try https://github.com/coreos/etcd/blob/master/Documentation/admin_guide.md#health-monitoring. But this is also an experimental feature. We will break it probably.

[2015-10-01 00:37] philips commented on #3624
Setting a return code that is non-zero is perfectly fine and doesn't necessarily mean that the command itself failed. For example see the `test` builtin/command.

Exiting with a 1 is an appropriate thing to do if the cluster is non-healthy I think.

[2015-10-01 00:46] yichengq commented on #3624
@philips Setting it with 1 when non-healthy would not match `1    Malformed etcdctl arguments` documented in https://github.com/coreos/etcd/tree/master/etcdctl#return-codes . Any thoughts about how to make them consistent then?

[2015-10-01 01:00] MSamman commented on #3620
@raoofm Just so I understand what you mean when you say both of the preceding.

You are saying that https://github.com/coreos/etcd/blob/master/client/srv.go#L47 is creating the wrong URL due to the srv target having the extra dot at the end?

I don't think this is an issue with SRV. That has to do with cluster health command?

[2015-10-01 01:28] MSamman commented on #3620
@yichengq It also seems like the SRV record should have an A or AAA record as a target so I think I will also remove the tests in https://github.com/coreos/etcd/blob/master/client/srv_test.go that use IP address strings in the mock srv records.

[2015-10-01 14:07] raoofm commented on #3620
@MSamman right

[2015-10-01 18:44] yichengq commented on #3620
I think it is the problem of `getDomainDiscoveryFlagValue` usage. The value fetched from discovery SRV is peer urls, and they are used as client urls in etcdctl.

[2015-10-01 19:05] MSamman commented on #3620
@yichengq Should there be a separate SRV record for client endpoints then?

Maybe something like `_etcd-server-ssl-client._tcp.example.com` and `_etcd-server-client._tcp.example.com`? And then we lookup the correct SRV records depending on whether client or peer urls are requested?

[2015-10-01 19:11] xiang90 commented on #3002
#3093 is merged.

[2015-10-01 19:11] #3002 closed

[2015-10-01 19:48] mischief commented on #3624
why don't we follow systemd? https://github.com/systemd/systemd/blob/master/src/basic/exit-status.h

[2015-10-01 20:49] yichengq commented on #3624
@mischief etcdctl is not systemd, so there is no need to follow it. Anything good that we could learn from systemd case?

[2015-10-01 21:53] spacejam opened #3630 "panic: nodeToMember should never fail: raftAttributes key doesn't exist"
Panic occurs after adding a new member to the cluster, and once it joins this occurs.  I am currently retracing my steps to see if I can reproduce it reliably.
[code]

[2015-10-01 22:45] yichengq commented on #3630
Do you know all HTTP requests that it accepted?

[2015-10-01 23:01] utahcon commented on #3605
That worked. Thanks!

[2015-10-01 23:01] #3605 closed

[2015-10-01 23:04] yichengq commented on #3620
This would be a different workflow/feature then.

[2015-10-02 12:33] gyuho commented on #3619
Closing this for https://github.com/coreos/etcd/pull/3622

[2015-10-02 12:33] #3619 closed

[2015-10-02 18:48] MSamman commented on #3620
I don't see how else you can get client endpoints from an SRV record? Please advise on how I could get client endpoints from an SRV record that provides peer endpoints.

[2015-10-02 19:23] #3025 closed

[2015-10-02 19:24] yichengq commented on #3620
I cannot find a good way to implement that. Maybe we should rollback the feature.

@xiang90 Thoughts?

[2015-10-02 19:29] vmattos commented on #3522
I started writing a didatic blog post about Raft in my language (Portuguese).
I would be happy translate it to english and send a pull request

[2015-10-02 19:30] xiang90 commented on #3522
@vmattos About etcd/raft? Or about raft in general?

[2015-10-02 19:33] vmattos commented on #3522
About raft in general, for folks who don't want to read the whole paper

[2015-10-02 19:35] xiang90 commented on #3522
@vmattos I would love to help on the blog post. But we are talking about etcd's raft implementation here.

[2015-10-02 20:25] raoofm commented on #3620
@yichengq @MSamman @xiang90 We get the hostname from the SRV records right, can we try the default client port 2379 to get the members and continue.

This is in sync with what we do currently for etcdctl cluster-health(or any) command when no endpoints are passed, we try the default host:port. Now that we have SRV we dont need to try the default host, but we can still try the default port.

[2015-10-02 20:27] xiang90 commented on #3613
@crawford @ekozan It actually works for me. I think you need to add
[code]
into your systemd service file.
I will let etcd print out more information when it failed to send readiness to systemd too.

[2015-10-02 20:27] #3613 closed

[2015-10-02 22:14] MSamman commented on #3620
@raoofm That feels a bit weird to me, particularly because SRV has the capability to specify the target port. The discovery srv flag would then only work correctly if the client port is the default port.

@yichengq @xiang90 Are there downsides to looking for a different SRV record for client endpoint information?  This makes sense. The client and peers endpoints service two different purposes and

[2015-10-02 22:20] MSamman commented on #3601
I can pick this up?

[2015-10-03 01:28] xiang90 commented on #3603
@philips Talked with @eyakubovich about this. Seems fine to me. mmap backed virtual memory should use the file as swap and should not affect other applications.

[2015-10-03 02:27] raoofm commented on #3620
@MSamman agree on srv usage for target and port.
I just thought this to be a quick fix and something that can be used in the same workflow till we figure out a permanent solution, which in this case seems like what u suggested as client srv records (which rightly @yichengq said will be a different feature then).

@yichengq @xiang90 In case we go ahead with client srv records then probably it makes

[2015-10-03 11:10] F21 commented on #3600
@yichengq Any more ideas on how I can provide more info to get this fixed?

[2015-10-03 15:49] xiang90 commented on #3618
I think @yichengq is correct.

[2015-10-03 15:49] #3618 closed

[2015-10-03 15:51] xiang90 commented on #3542
@benwilber

I am closing this due to low activity. Also we have already taken action to make key space simpler in v3 design. Thanks for bringing this up!

[2015-10-03 15:51] #3542 closed

[2015-10-03 16:57] xiang90 commented on #3580
@kayrus Kindly ping

[2015-10-03 17:37] yichengq commented on #3600
@F21 I am pretty sure there is some log missing, and I cannot target what happens without the log.

@mischief @crawford Any thoughts about how to handle this? `journalctl -t etcd2` didn't work here. :(

[2015-10-04 16:31] domq commented on #3580
@yichengq , interesting, it looks like gist cut the the "to" part of that line, which read something like [http://127.0.0.1:2380]

[2015-10-04 16:40] domq commented on #3580
The bug described here happened in CoreOS 723.3.
We recently upgraded to CoreOS 766.3 and haven't witnessed the mass leave event again. (Every now and then a proxy fails to join the cluster upon reinstall, but this is easily cured with `systemctl stop etcd2.service; rm -rf /var/lib/etcd2/proxy; systemctl start etcd2.service`)

[2015-10-04 22:41] F21 opened #3639 "Etcd 2.2 failed to read raft message (unexpected EOF)"
I am running etcd 2.2 on CoreOS 815.0.0.

After discovering all the etcd nodes in the cluster, I get a few error messages about broken pipes and also attempts to upgrade from 2.1:

[code]

[2015-10-04 22:47] xiang90 commented on #3639
@F21 Did your cluster recover after the error disappeared?

[2015-10-05 00:57] F21 commented on #3639
The cluster appears to become healthy after a while:

[code]

[2015-10-05 02:09] xiang90 commented on #3639
@F21 From the log, there is some temporal network issues. But I cannot rule out that it is not an etcd issues.

Can you try to reproduce it?

[2015-10-05 02:12] xiang90 commented on #3639
@F21 Upgrading from 2.1 is normal. The etcd member starts with its minimum version until the cluster coverages on a version.

[2015-10-05 04:09] F21 commented on #3639
I seem to be able to reproduce it successfully using my vagrant cluster. Vagrant is 1.7.4, Virtualbox is 5.0.6 and my host os is Windows 8.1 64-bit.

`vagrantfile`:
[code]

`user-data`
[code]

[2015-10-05 04:14] xiang90 commented on #3639
@F21 Can you also give me all the logs? Actually I failed to not see anything strange from your pervious log rather than a temp network issue, which is recovered soon.

[2015-10-05 04:36] F21 commented on #3639
@xiang90

Here is the complete set of logs:

``
-- Logs begin at Sun 2015-10-04 23:03:01 UTC, end at Mon 2015-10-05 04:24:35 UTC. --
Oct 04 23:23:29 core-01 systemd[1]: Started etcd2.
Oct 04 23:23:29 core-01 etcd2[1163]: recognized and used environment variable ETCD_ADVERTISE_CLIENT_URLS=http://192.168.33.10:2379
Oct 04 23:23:29 core-01 etcd2[1163]: recognized and used environment variable ETCD_DA

[2015-10-05 04:44] xiang90 commented on #3639
@F21 From the log, you have to fix a few things first.

There are network issues between your vms. (dial tcp 192.168.33.13:2380: connection refused, 192.168.33.13:2380: no route to host, ).

There are clock issues between your vms. (the clock difference against peer 420c9b9a89d8b23d is too high [12.321214731s > 1s])

Can you report back after you fix all the issues in your virtual environment setu

[2015-10-05 05:17] F21 commented on #3639
@xiang90

I am just using the official coreos vagrant boxes and based my vagrantfile on: https://github.com/coreos/coreos-vagrant

Not really sure where to start as I am not familiar with the internals of CoreOS.

Anyway, I think it's possible that it's because the node it's trying to contact hasn't been booted or synced with the time server yet.

Everything appears to work correctly after a while

[2015-10-05 06:27] xiang90 commented on #3639
@F21 Right. All these are temp errors and I think etcd is fine. Probably you need to check out why it takes so long to start all the nodes and how to start etcd after the time service and network are OK.

[2015-10-05 07:53] F21 commented on #3639
Agreed. Let's close this for now.

[2015-10-05 07:53] #3639 closed

[2015-10-05 09:52] balboah opened #3641 "Only one out of two client urls used when in proxy mode"
Even when /v2/members returns something like:
[code]

etcd 2.1.2 only tries one out of two,
[code]

I would expect it to also try
[code]

But neither of the 5 etcd members where all are also listening on TLS port 2379 is tried. Only 4001 is.
I failed to find out what part of the code is causing this, and I apologize if it's already fixed in higher versions, this is what is running on CoreOS stable

[2015-10-05 10:42] kou9 commented on #3441
@tadas-subonis I have the exact same question+situation.

Did you manage to figure out what the new cloud-config should look like? Did you change the cloud-config only for the 2 new proxies turned to full cluster members, or you have one cloud-config per machine and got rid of the discovery url completely?

[2015-10-05 15:06] yichengq commented on #3580
The story here is that proxy always refresh its target endpoints to advertised client urls at /v2/members in one random etcd member. Considering you started some faulty server, and it may have `[http://127.0.0.1:2380]` as its advertised client urls, it may mislead proxy to maintain wrong endpoint list.

In conclusion, I think this is caused by the misoperations.

[2015-10-05 15:56] tadas-subonis commented on #3441
@kou9 so the situation isn't ideal at the moment.

I do not have a single cloud-config that I reuse when adding new member nodes. Now I create a new node with my old cloud-init initial-cluster, the nodes becomes a proxy, I stop etcd2, I wipe its data directory and then proceed with following actions:

What I am doing is that I use command (on a healthy and working cluster node) with an IP of the n

[2015-10-05 16:06] kayrus commented on #3580
@xiang90 asked customer for detailed logs https://groups.google.com/forum/#!topic/coreos-user/OuqvJIRAtho

[2015-10-05 16:19] xiang90 commented on #3620
@raoofm @yichengq @MSamman I would also suggest to add a client srv target. It seems to be simple and we need to add documentation for that.

[2015-10-05 17:12] yichengq commented on #3641
I cannot reproduce that at my side using etcd v2.1.2.

1. I start etcd that reports multiple advertised client urls and listens on none of them:
[code]
2. I start etcd proxy:
[code]
3. When I make request to it:
[code]

Could you give detailed instructions about how I could reproduce it?

[2015-10-05 19:33] kou9 commented on #3441
@tadas-subonis Thanks for taking the time to detail the steps. I have the exact same problem: initial cluster size of 3 that i want to scale to 5 and have 2 out of the 5 hosts starting in Proxy mode.
I am gonna try to add the initial-cluster line to my cloud-config and see how it works.

I wish there was a simpler way to add a new member and keep one single clean cloud-config file for all hosts.

[2015-10-05 22:39] MSamman commented on #3620
@xiang90 I'll work on adding the ability to read client endpoints from a different SRV record. Would you like me to update #3626 or create a separate pull request for SRV discovery of client endpoints.

The way I see it, this thread is addressing two separate issues.

1) Incorrect construction of URL from SRV record- fixed by #3626
2) SRV records return peer endpoints but not client endpoints - fi

[2015-10-06 06:54] ianbytchek commented on #2385
:+1:

[2015-10-06 09:42] balboah commented on #3641
That log output looks correct, I'll try to reproduce it similar to how you did soon.
meanwhile, one idea could be that we use TLS for the 2379 port but non-tls for the 4001

[2015-10-06 14:39] yichengq commented on #3597
Close it because I think this is solved.

[2015-10-06 14:39] #3597 closed

[2015-10-06 14:43] yichengq commented on #3592
@claco Kindly ping.

It always prints out logs when there is something severe happening in the cluster, and the event one member is connected/disconnected is one of them.

[2015-10-06 16:06] raoofm opened #3646 "no errorCode returned from etcd, only message is returned, which is a problem for clients"
I opened this earlier as well  #3235

$ curl http://node01.etcd.dev.com:2377/v2/members/nonExistentPath
{"message":"Not found"}

[2015-10-06 16:10] raoofm commented on #3646
I mentioned below in #3235 :smile:

[2015-10-06 16:13] xiang90 commented on #3646
@raoofm Only key space will return the errorCode. Member space will not.

[2015-10-06 17:35] yichengq opened #3647 "proxy in `goreman start` needs a long time to find endpoint list"
https://gist.github.com/philips/7d58b20399baecfeeaa0

When `goreman start`, proxy fails to get endpoint list at the first time, and it may wait 30s to give it another try, which leads to the result that proxy may have 30s that cannot redirect correctly.

This should be improved.

/cc @philips

[2015-10-06 17:54] raoofm commented on #3646
So if we are not going to have default errorCode then I can go ahead and close it. I thought if there is no errorCode mapped then it should at least return a default errorCode, to be consistent.

[2015-10-06 20:46] oldCoderException commented on #1232
Adding our +1 to implementing this in the client API as soon as possible.  The TTL is a fantastic feature, but for service discovery and keep-alive in a large microservice environment the load so many real updates would levy on Etcd is of great concern.  Having some kind of "I'm still OK" capability without updating indexes and watchers would be awesome.  Loving it otherwise guys!  Great work.

[2015-10-06 21:11] raoofm commented on #1232
+1 really need this for service discovery

[2015-10-06 21:32] F21 commented on #3600
I was able to reproduce the problem again yesterday and here is a more complete log:

[code]

[2015-10-06 22:58] thepwagner commented on #3223
In the HTTPS case, why not pull the "username" from the client's X509 DN?

That would sidestep the bcrypt() bottleneck, and smarter clients could KeepAlive to perform multiple requests with a fixed authentication cost.

[2015-10-07 16:00] stuart-warren opened #3651 "Struggling with backup and restore"
I'm currently trying to test backing up a live cluster and creating/restoring a new cluster from that backup, but running into issues.

I can start up an initial cluster fine, stop it and restart it fine, add data fine, view data fine.

However if I take a backup (etcdctl backup...) wipe the existing data, replace it with the backup, `force-new-cluster` as per docs, it starts a single node ok, but

[2015-10-07 16:31] stuart-warren commented on #3651
Could be potentially fixed with #3527

[2015-10-07 17:09] yichengq opened #3652 "mark endpoint unreachable when endpoint returns unexpected response"
In rafthttp, when making request to some endpoint, it may receive response with unexpected status code. This indicates the endpoint doesn't function correctly. It should print warning to notify users about this, and mark it unreachable.

from https://github.com/coreos/etcd/pull/3648/files#r41349972

[2015-10-07 17:19] stuart-warren commented on #3651
Confirmed.
The above pull request seems to work as expected. Any chance in merging?

[2015-10-07 18:09] xiang90 commented on #3651
@stuart-warren

This is not a bug since it works as intended in our docs.
See https://github.com/coreos/etcd/blob/master/Documentation/admin_guide.md#restoring-the-cluster.

We might change the behavior in the future (for example merging #3527 and change the documentation)

[2015-10-07 18:09] #3651 closed

[2015-10-07 18:13] xiang90 commented on #3651
@stuart-warren Let us track the issue in #3527.

[2015-10-07 22:03] stuart-warren commented on #3651
@xiang90 but I don't believe it does work as intended in your docs.
I have been unable to get a working cluster from a backup. This is what I have tried to show.

Can you expand your docs to show me what I am missing please.

[2015-10-07 23:32] xiang90 commented on #3651
@stuart-warren I also do not believe you read the doc. Let me copy it here and you can read it again from the link I gave you.

[code]

Can you please point me out where did you change the advertised peer URLs?

[2015-10-08 07:24] stuart-warren commented on #3651
Ahha! Damn eyes not working. Thank you kindly for pointing out the obvious :+1: :smile:

So I need to
[code]

Weird, but OK!

[2015-10-08 08:01] martende opened #3653 "etcd client paralel usage socket error"
Hello , I am using single etcd client paralel in goroutines for Get requests code looks like

[code]

and somtimes i am receiving err from kapi.Get with details:

EtcdBackend 2015/10/08 09:45:26 Details error #0: dial tcp 127.0.0.1:2379: conne
ctex: Normalerweise darf jede Socketadresse (Protokoll, Netzwerkadresse oder Ans
chluss) nur jeweils einmal verwendet werden.

it looks like socket connect

[2015-10-08 09:00] kayrus opened #3654 "feature: support symlinks/aliases in etcd"
For example: make `/dir/key1` key available at `/dir1/myapp/key2`

[2015-10-08 12:30] philips commented on #3654
What is the use case?

[2015-10-08 12:32] philips commented on #3653
@martende Could you set your locale to english so we can read the error?

[2015-10-08 13:15] kayrus commented on #3654
set global keys and override them in some specific dir or use symlink.

[2015-10-08 13:20] raoofm commented on #3654
:+1:

[2015-10-08 13:56] tadas-subonis commented on #3441
And one more thing, when you are adding additional nodes as a proxy, don't forget to set the proxy on flag (https://github.com/coreos/etcd/blob/master/Documentation/proxy.md)
[code]

I wish as well that there was a simpler way to do that :-). Preferrably, you should be able to do everything using ONLY etcdctl.

[2015-10-08 14:18] martende commented on #3653
socket.error error: [Errno 10048]: Address already in use. Only one usage of each socket address (protocol/IP address/port) is normally permitted

[2015-10-08 15:04] xiang90 commented on #3654
@kayrus You can build a smart client to achieve the same thing by adding hints in the dir. The goal of etcd is a simple kv. This feature complicates the kv also affect the auth system.

[2015-10-08 15:29] raoofm commented on #3654
@xiang90 Though a smart client can achieve this, but having this in etcd could efficiently do it with user permissions too.

I mean etcd auth feature can be used with this feature and user roles can be managed really well.

Right now without this feature, if I want to store secret keys for applications and create users and roles

application-1
    user: app_1
    role: /v2/keys/app_1/*

[2015-10-09 01:25] yichengq commented on #3653
@martende Could you reproduce it reliably?

I have tested this at my side:
[code]
and it works fine.

[2015-10-09 07:18] martende commented on #3653
This code can stable reproduce this error.

[code]

[2015-10-09 13:00] miekg commented on #3581
*evil idea time* ... maybe drop this dependency from Godeps and have a `go get` step that gets the proper context package (which is rather stable) from the interwebs.

[2015-10-09 16:55] raoofm opened #3661 "Benchmarking doesn't work as intended using boom"
I ran the same tests on my etcd cluster, what I figured out i that the boom tool that is used here is not setting the value. It is setting an empty value ""

So the tests we are running are not representing the stats based on keysize. It is always defaulted to empty string and not honoring -d flag.

Not sure if this issue should be opened in boom but I opened it here as it impacts etcd benchmarks.

[2015-10-09 17:09] raoofm commented on #3661
@yichengq any thoughts?

I ran the same tests as mentioned in hack too. Same result

[2015-10-09 19:11] yichengq commented on #3581
@miekg One problem that I could see is that we use cilent package in etcd program, and etcd program has to have packaging management.

[2015-10-10 02:19] yichengq commented on #3661
@raoofm boom sends PUT request with `Content-Type: text/html`, and this is cannot be parsed by etcd. It should use `Content-Type: application/x-www-form-urlencoded` to make requests. So the benchmark request is incorrect. :(

[2015-10-10 03:36] raoofm commented on #3661
@yichengq
I referred the hack mentioned in https://github.com/coreos/etcd/blob/master/hack/benchmark/bench.sh,
to compoare our performance with the benchmarked.

The script doesn't set the Content-Type too.

[2015-10-10 16:01] raoofm commented on #3661
@yichengq So you mean we need to correct and try and then if it works I'll send a pull request. Right?

[2015-10-11 06:32] yichengq commented on #3661
@raoofm It needs to be updated with correct boom instructions. It would be awesome if you could help. Or I will do it soon.

[2015-10-11 17:14] raoofm commented on #3661
@yichengq Sure, I will do it. Thanks

[2015-10-11 17:31] yichengq commented on #3653
@martende
We have no expert on windows, so I could only help to narrow down this problem.

For etcd client, it does normal http request, and should do nothing special. Could you check to see whether normal HTTP requests causes this problem?

something like this:
[code]

[2015-10-12 01:37] yichengq commented on #3600
Great! It has the error line this time. The error line is `Oct 06 03:21:18 core-01 etcd2[1258]: context deadline exceeded`. It happens when retrying to wait other nodes online. I think that discovery doesn't retry on context error now, which breaks forever discovery retry whenever possible and needs to be fixed.

[2015-10-12 05:00] #3568 closed

[2015-10-12 15:18] gyuho commented on #3265
Is this still an issue?

Raft says:

Can we use the same mechanism to notify client at least the target server is not reachable? When used with proxy, I see the error message of proxy endpoint is not available when the proxy is wrongly configured. Does etcd handle differently in this case?

Thanks,

[2015-10-12 15:28] gyuho commented on #3522
I think https://github.com/coreos/rkt/blob/master/Documentation/devel/architecture.md is a good example.  I am interested in this as well. Where would be the good place to put this? `Documentation/dev`? Thanks!

[2015-10-12 18:34] smurfix opened #3667 "Updating a directory TTL doesn't allow prevIndex"
Suppose I want to make sure that I am the only process that updates a directory's TTL.

[code]

[2015-10-12 19:43] raoofm commented on #3661
@yichengq ok thanks for confirming, as you mentioned in #3665 I'll wait here for the updated benchmarks

[2015-10-12 21:07] raoofm commented on #3661
@yichengq I see that the benchmarks are not present for v2.2.0
Is it possible to consider v2.2.0 for new benchmarking :) ?

[2015-10-13 05:20] mqliang opened #3669 "Can I judge a member is isolated from the cluster based on Self Statistics?"
If my client connected to a etcd member, but unfortunately it is isolated from the cluster, then the client may retrieve outdated data. As we all know, we can get a number of internal statistics by run:
[code]
It seems that `recvAppendRequestCnt` and `sendAppendRequestCnt` will never change if the member is isolated from the cluster. On the other hand, those two number will change frequently if th

[2015-10-13 05:35] purpleidea opened #3670 "Embedding etcd into an existing golang project"
I like etcd and so far it has been working great! w00t...
I'd like to "embed" it into an existing golang project, in that it would get compiled into the same single golang binary, and that project could start/stop/etc the etcd server without having to run exec calls to a standalone /usr/bin/etcd binary. Any pointers about how to do this would be greatly appreciated. I've heard this isn't a standar

[2015-10-13 06:43] yichengq commented on #3669
You can use the experimental `health` endpoint to get the health status of this member: https://github.com/coreos/etcd/blob/804d80387d3fc75cdd5481039095df56268afe6f/Documentation/admin_guide.md#health-monitoring . It can tell whether member is connected with the majority of the cluster. Could this satisfy your requirements?

/cc @xiang90

[2015-10-13 07:25] mqliang commented on #3669
Oh, I know there is an experimental `health` endpoint after release 2.1.0, which is very helpful. But unfortunately, we use 2.0 version.
BTW, I read the source code of command `etcdctl cluster-health` to see how it implement heath monitoring. However, according to my experiment, the result of command `etcdctl cluster-health` is not stable, there are three possible result we can get when a member i

[2015-10-13 07:35] mqliang commented on #3669
It seems that the experimental `health` endpoint is available after release 2.1.0. Unfortunately, we use v2.0

BTW, I read the implementation of command `etcdctl cluster-health` in v2.0, but the method it used is not stable, there are three possible response we can get if a member is isolated:
* cluster is unhealthy
* cluster may be unhealthy: failed to connect
* cluster is healthy:  member XXX is

[2015-10-13 09:37] goacid opened #3671 "Discovery url : flush all nodes"
I read that nodes register into discovery url have a lifetime of 7 days. And are remove if they are no more alive.
So if I have a cluster with many nodes, and at a moment the 3 firsts cluster members are removed, so the discovery url contains no more information, the discovery url become useless.
Is there a way to add manually nodes to discovery url, via a POST or a PUT ?
If no, how to continue wo

[2015-10-13 09:43] wojtek-t opened #3672 "Deliver all deleted objects to watcher if whole directory is removed"
[I don't know whether this is supported or not - filing this issue so that I understand the plans].

In the "go-etcd" client if you have an open watch and in the meantime the whole (sub)directory is removed the watcher is notified only about deletion of that directory (watch doesn't give you individual objects that were deleted).
It will be extremely useful in Kubernetes, if the new client would e

[2015-10-13 10:50] F21 commented on #1749
Will this be on a master-master basis or will it have 1 "master" datacenter and the rest as "slaves"?

[2015-10-13 14:46] xiang90 commented on #3669
@mqliang We best suggestion is to upgrade to 2.1. Your idea is not feasible since some low level transportation constrains: if one side dies without finishing TCP closing, it might takes a long time to detect the failure. We fix it in 2.1.

[2015-10-13 14:47] yichengq commented on #3671
@goacid Discovery url is only used in bootstrap stage. See https://github.com/coreos/etcd/blob/master/Documentation/clustering.md#lifetime-of-a-discovery-url for more details.

You should NOT manually add nodes to discovery url.

[2015-10-13 14:53] yichengq commented on #3671
If you are still using etcd 0.4, I would recommend you to upgrade to etcd v2.x, which is more stable and maintained than 0.4.

If you are using etcd 0.4, you should not rely on discovery url to monitor the cluster information.

[2015-10-13 17:14] gyuho commented on #3522
I have been learning raft and etcd keeping logs in my personal repository.

https://github.com/gyuho/learn/tree/master/doc/etcd_architecture

[2015-10-13 18:44] yichengq commented on #3265
@gyuho For watch and read, it gets the data from local store. It is allowed/normal for clients to get data from local store. We just don't provide way to handle or warn about unhealthy server today.

[2015-10-13 22:21] yichengq commented on #1749
@F21 Basically it will make the same update of the local cluster to the remote cluster every time interval.

[2015-10-13 22:53] F21 commented on #1749
So will I be able to update the key from any cluster and it will reflect? For example, I update the key from dc1 and then later update it from dc2. After doing so, will all data centers see the same value?

[2015-10-13 23:02] xiang90 commented on #1749
One mirror only mirrors the key at one side. dc1->dc2 only propagates the changes in one direction.

[2015-10-13 23:03] F21 commented on #1749
Is it possible to set up 2 mirrors in opposite directions, or will that result in strange/undefined behavior?

[2015-10-13 23:05] xiang90 commented on #1749
@F21 You can point them to different prefix without letting them affect each other. After all that being said, we have not started to implement anything.

[2015-10-13 23:59] ianbytchek opened #3676 "Make new key updates the key if it already exists"
Documentation says that `mk` will create a new key /foo/bar, only if the key did not previously exist. Is this a bug? Or is there a way to create a new key with a value, only if it doesn't already exist?

[code]

[2015-10-14 00:10] yichengq commented on #3676
Yes. this is a bug. will fix.

[2015-10-14 04:33] gyuho commented on #3670
Couldn't we use [`etcdmain`](https://github.com/coreos/etcd/tree/master/etcdmain), which is used to compile into a single binary? As far as I know, `etcd` begins starting a new web server. But not sure about stopping etcd servers.

[2015-10-14 04:35] xiang90 commented on #3670
@purpleidea We embed etcd for integration test. Here is an example of embedding etcd: https://github.com/coreos/etcd/blob/master/integration/cluster_test.go#L393-L395

[2015-10-14 04:36] xiang90 commented on #3670
You can also try https://github.com/coreos/etcd/blob/master/etcdmain/etcd.go#L196.

[2015-10-14 04:54] combk8s opened #3677 "raft election is unstable"
There are 3 members A B C in my cluster. When A is isolated from cluster, B and C will elect a leader. but according to my experiment, B and C will frequently and repeatedly switch leadership: B is leader, several seconds later, C becomes leader, and several second later, B becomes leader again, etc...

Here is a log fragment:

[code]

[2015-10-14 04:59] yichengq commented on #3677
Which version of etcd you are using? How big is your data set, or snapshot size?

[2015-10-14 05:03] combk8s commented on #3677
* version: 2.0.13
* --snapshot-count 100000

[2015-10-14 05:07] yichengq commented on #3677
You could `ls -alh $ETCD_DATA_DIR/member/snap` to the get the size of your snapshots.

[2015-10-14 05:10] combk8s commented on #3677
On machine B and C:
[code]

on machien A:

[code]

[2015-10-14 05:17] yichengq commented on #3677
@combk8s I would recommend you to upgrade to 2.1 first because 2.1 may fix some potential problems. You could follow https://github.com/coreos/etcd/blob/master/Documentation/upgrade_2_1.md to do it.

[2015-10-14 07:20] yichengq commented on #3592
Close this due to low activity. Feel free to reopen it if this is still a problem.

[2015-10-14 07:20] #3592 closed

[2015-10-14 07:23] yichengq commented on #3580
@domq Any update?

[2015-10-14 07:29] yichengq commented on #3641
@balboah How is the reproduction going?

[2015-10-14 07:47] combk8s commented on #3677
If I run the following command on machine A to simulate isolation（disable 2380 port）:
···
iptables -A INPUT -p tcp --dport 2380 -j DROP
iptables -A OUTPUT -p tcp --sport 2380 -j DROP
···
B and C will frequently and repeatedly switch leadership.

However, if I run the following command(disable all the traffic from/to B an d C):
[code]
It turns out the raft algorithm works fine.

Does it mean raft m

[2015-10-14 08:13] balboah commented on #3641
I simply skipped advertising the non-TLS client url and didn't try to reproduce the problem. You may close this if it's a dead end as I will unfortunately not have the time to debug it further in a while

[2015-10-14 08:29] mqliang opened #3678 "X-Raft-Index will stay unchanged if a member is broken or isolated from cluster"
I use etcd V2.0.13, and my cluster have three members, assume A, B, C. If all the members work fine, then in the every HTTP response, http header `X-Raft-Index` will increase, as we expect.

If member A is broken or isolated from the cluster. B and C work fine, then the cluster is healthy and will work fine, and in the every HTTP response from B and C, `X-Raft-Index` ***should*** increase, however

[2015-10-14 09:25] #3678 closed

[2015-10-14 13:13] gyuho commented on #3265
I see. Thanks,

[2015-10-14 13:20] raoofm commented on #3601
@yichengq I use the same version, why don't I face this issue?

[2015-10-14 18:18] yichengq commented on #3677
iptables -A OUTPUT -p tcp --sport 2380 -j DROP

This is incorrect, and machine A could still send messages to machine B and C, while machine A cannot receive any messages from B and C. The message from machine A to machine B,C is not from 2380 port.

[2015-10-14 18:38] yichengq commented on #3601
@MSamman sure.

@raoofm I think if it restarts, it will work correctly then.

[2015-10-14 23:49] yichengq opened #3684 "proxy in hack/intra-discovery fails to run as proxy"
[code]

bug is introduced at https://github.com/coreos/etcd/pull/3590 after 2.2 released because it changes discovery error which makes it hard to compare ErrFullCluster.

[2015-10-15 02:21] danielzheng commented on #1232
+1 Wish this feature could be implemented in the release version ASAP.

[2015-10-15 04:36] yichengq commented on #3641
I have tried to start etcd with non-TLS url and TLS url, and proxy will try both of them. So I fail to reproduce the problem.

@balboah Let me know if you reproduce this problem successfully.

[2015-10-15 04:36] #3641 closed

[2015-10-15 05:50] xtaci opened #3686 "docs: document maximum size of values"
what is the maximum size of value?
cannot find in any document.

[2015-10-15 06:19] xiang90 commented on #3672
This is not a client side issue. This is actually a server side issue. We are going to solve in v2. For v3, we have already solved it.

[2015-10-15 07:07] wojtek-t commented on #3672
@xiang90 - thanks for the response; do you have any ETA for solving it in v2?

[2015-10-15 08:18] combk8s commented on #3677
Thanks.

[2015-10-15 08:18] #3677 closed

[2015-10-15 09:19] #3669 closed

[2015-10-15 10:07] stvnwrgs commented on #2383
I am having a similar issue. Using `etcdctl cluster-health` works great, if your health check runs on the machines or the health check has access to the machines. If you use something external, that needs an url it will only work if you use etcd without tls.

F.e: I want to use the gce network loadbalancer with url based health checks. But it is not possible to provide a ca, cert or key.

I have o

[2015-10-15 13:44] gyuho commented on #3686
I am curious about this as well. BoltDB has maximum key, value size as constants [1]. Would etcd be bound by this as well, since the same database is being used as a backend storage for etcd?

<hr>
[1] https://godoc.org/github.com/boltdb/bolt#pkg-constants

[2015-10-15 13:49] raoofm commented on #3686
Is there a max for key/path as well?

[2015-10-15 14:12] bmhatfield opened #3688 "Why does etcd have a dependency on Prometheus?"
https://github.com/coreos/etcd/tree/master/Godeps/_workspace/src/github.com/prometheus

What's the relationship from `etcd` to prometheus? What does it mean to folks who don't want to use prometheus?

[2015-10-15 14:26] raoofm commented on #3661
@yichengq ping

[2015-10-15 14:43] jonboulle commented on #3688
It's used to expose various metrics about etcd's performance: https://github.com/coreos/etcd/blob/9534b11ad2ee87a266255f42f1f682bd06a03f85/Documentation/metrics.md

Is the dependency causing you problems?

[2015-10-15 14:51] xiang90 commented on #3688
It means a little overhead when collecting these metrics. Prometheus is a pulling based metrics system. At etcd server side, it exposes a simple http endpoint. So even if you do not use Prometheus, you can have a http client that pulling metrics from that endpoint to collect performance metrics for etcd. That is useful for you to monitor etcd.

See https://github.com/coreos/etcd/blob/master/Docume

[2015-10-15 14:54] xiang90 commented on #3672
@wojtek-t Sorry. I lied... I wanted to say "we are not going to solve it in v2".

[2015-10-15 16:05] wojtek-t commented on #3672
@xiang90 - got it. Thanks for the update.

[2015-10-15 16:05] wojtek-t commented on #3672
Ohh - actually one more question. What is the solution in v3? Is is send by default or is it possible to set it?

[2015-10-15 16:15] xiang90 commented on #3672
@wojtek-t So in v3, the store is a flat one. There is no dir operation. You can remove a range of keys. The watchers watching on a related prefix or a key will be notified with all key changes.

[2015-10-15 16:17] wojtek-t commented on #3672
@xiang90 - got it. thanks!

[2015-10-15 16:17] #3672 closed

[2015-10-15 17:37] bmhatfield commented on #3688
Thank you so much for all the context! This is the answer I was looking for. I really appreciate it!

[2015-10-15 17:37] #3688 closed

[2015-10-15 17:53] damm commented on #2383
Be aware that `ipaddress:2379/health` should work fine @stvnwrgs

[2015-10-15 19:13] #3676 closed

[2015-10-15 21:28] robszumski opened #3690 "better description of -initial-cluster-token flag"
This doesn't tell me what you use this for. It actually prevents you from joining a node to the wrong cluster when you're operating more than one cluster, correct?

[2015-10-15 22:18] xiang90 commented on #3661
@raoofm etcd 2.2 and etcd 2.2 rc are almost the same in terms of performance. We still want to do the benchmark for sure. But we do not have time currently.

[2015-10-16 04:25] raoofm commented on #3661
@xiang90 I understand that you guys might be really busy with v3

Agree that 2.2 and rc are almost same in perf but the reason I asked is, the rc bench-marking is incorrect as well and as per this defect in script, the value size was 0 for all tests, so there is no bench to compare our perfs against.

Also it would make a lot of sense if https and auth are also bench-marked as the perf goes down a

[2015-10-16 08:15] xtaci commented on #3686
still waiting for clarification...

[2015-10-16 14:39] goacid commented on #3671
I'm using etcd v2.x
I do understand the bootstrap process. I also imagine a case when all nodes used in the bootstrap sequence are removed. so the cluster become no more scalable, that is my point, even if other 'member' added manually to the cluster still exist.

[2015-10-16 14:54] xiang90 commented on #3671
@goacid The public discovery service is only used for the discovery phase. After discovery, the whole cluster is under your own control. See https://github.com/coreos/etcd/blob/master/Documentation/runtime-reconf-design.md#do-not-use-public-discovery-service-for-runtime-reconfiguration for reasons that public discovery service does not provide extensive features.

You can save the cluster informat

[2015-10-16 15:02] xiang90 commented on #3690
@robszumski We do not describe configuration extensively in configuration.md. We were trying to keep it short. The full description of `initial-cluster-token` is in https://github.com/coreos/etcd/blob/master/Documentation/clustering.md#static.

It says: If you are spinning up multiple clusters (or creating and destroying a single cluster) with same configuration for testing purpose, it is highly r

[2015-10-16 17:07] robszumski commented on #3690
Can we just add:

"Initial cluster token for the etcd cluster during bootstrap. **Specifying this can protect you from unintended cross-cluster interaction when running multiple clusters.**"

[2015-10-16 17:47] xiang90 commented on #3690
@robszumski Great suggestion. I will do it. Thanks.

[2015-10-16 18:56] raoofm opened #3693 "Can we have both ssl and non-ssl SRV records?"
Can we have both ssl and non-ssl SRV records for discovery?

If yes then how will etcd behave, I mean will the peers communicate on ssl or non-ssl?

[2015-10-16 19:27] yichengq commented on #3686
The recommended value size is < 1MB at this time. Though there is no hard limitation currently, the goal of etcd is a consistent data store that serves small value.

[2015-10-17 01:34] xtaci commented on #3686
actually, I need to store an xlsx file encoded in base64, perhaps it would easily break that limit.

[2015-10-17 04:49] xiang90 commented on #3693
@raoofm etcd will be misconfigured. Do you think it make sense to prioritize ssl ones over non-ssl? Or do you want to try weights? There are todos for srv discovery.

See  https://github.com/coreos/etcd/blob/master/discovery/srv.go#L31-L33

[2015-10-17 13:26] arpanps opened #3698 "Private etcd-discovery with ssl"
Can I have private ssl enabled etcd-discovery?

I tried client to server and peer to peer etcd ssl communication but was not able to work with a ssl enabled etcd-discovery

I have started discoveryIP with certificates. Added
curl --cacert ../certs/certs/ca.crt --cert ../certs/certs/node-infra0-client.crt --key ../certs/private/node-infra0-client.key -X PUT https://discovery:2379/v2/keys/_etcd/regi

[2015-10-17 15:56] xiang90 commented on #3698
Seems that you are using a self-signed cert for your discover server?

[2015-10-17 17:26] arpanps commented on #3698
Yes. How do i test otherwise?

[2015-10-17 19:31] andres-erbsen opened #3699 "Minority failure during cluster configuration change risks deadlock"
Adding a node to a degraded cluster and then electing it as the leader causes the addition not to reach the nodes that were down. In particular, starting with a cluster of 3 nodes `a`, `b`, `c` and adding `d` while `a` is not available and then electing `d` as the leader makes `a` unable to participate in the cluster. `a` will remain useless as long as `d` is the leader. This is especially bad in

[2015-10-17 22:34] yichengq commented on #3699
@andres-erbsen I could reproduce, so this is a bug.

The reason AFAIK is that `a` doesn't know the address of `d`, so it cannot send raft message to it. We need to let `a` know `d`'s address in some way.

[2015-10-17 22:42] xiang90 commented on #3699
@andres-erbsen Interesting... This is a bug. As far as I can see, the root cause is not raft but a bug in transportation layer. We will fix it soon.

[2015-10-17 23:01] yichengq opened #3702 "client.GetUser fails on unmarshal returned user with role"
1. create a role
2. create a user and grants the role to the user
3. get the user

fail with error: `GetUser json: cannot unmarshal object into Go value of type string`.

found when exploring #3675

[2015-10-18 01:28] ark76r commented on #3702
@yichengq
I have no idea how to fix in without big changes in server API.

This is my preset user_auth.go file: https://gist.github.com/ark76r/21d880eb86d27642ab73
And this is my test code: https://gist.github.com/ark76r/dfdf766b4425617ee2ba

In the modUser function I've added small code to dump actual answer from the server:

    var user User
        dumpBody(string(body)) // <- here
        err

[2015-10-18 11:42] ark76r commented on #3702
@yichengq
I've prepared version of the AuthUserAPI covering all (I hope) cases.
There are also appropriate changes in etcdctl.

Check PR #3675

[2015-10-18 16:28] raoofm commented on #3698
@arpanps @xiang90 If you are using a self signed cert then to make that acceptable you need to append your ca to the actual ca

[2015-10-19 00:56] yichengq opened #3709 "we should return role details when revoke and grant users"
It is not consistent with what we do when we get one user or list all users:

[code]

found from #3702
follow #3278

@raoofm @MSamman @ark76r

[2015-10-19 03:08] xiang90 commented on #3462
@yichengq I think it is just fine. We should probably just stop rafthttp from spamming.

[2015-10-19 07:03] haozhenxiao opened #3710 "etcd2 cluster ID mismatch"
I have two CoreOS machines, their IPs are: **10.10.26.160** and **10.10.24.156**, I'm using the static bootstrap, the bootstrap script of the **10.10.26.160** is:

etcd2 -name etcd1 -data-dir data \
 -advertise-client-urls http://10.10.26.160:2379 \
 -listen-client-urls http://10.10.26.160:2379,http://127.0.0.1:2379 \
 -initial-advertise-peer-urls http://10.10.26.160:2380 \
 -listen-peer-urls http

[2015-10-19 09:06] monkey-H commented on #1089
@chenchun where is the standy_info file?

[2015-10-19 09:25] monkey-H opened #3711 "fail syncing cluster unreachable cluster"
I have a cluster of three nodes, and it works fine in the last months. I reboot one of the machine today, and it get errors.

I start coreos cluster by cloudconfig file like this.
[code]

[code]

There are three nodes as 136, 140 and 147. Just now, I reboot 140, and I cannot see the cluster.
[code]

It seems that etcd works wrong.

In 136 and 147, they have the same logs
[code]

in 140
[code]

Any

[2015-10-19 11:55] monkey-H commented on #3711
when I restart 140, we can see logs for etcd.service in 136
[code]

And on 147

[code]

What's more, I find something strange.
It seems that 147 restarted before(maybe power-down and soon), and it cured by itself.
[code]

[2015-10-19 13:30] arpanps commented on #3698
@raoofm @xiang90 is this documented anywhere? Can you please provide more details.
Thanks for prompt answers.

[2015-10-19 13:38] ark76r commented on #3709
@raoofm @MSamman @yichengq

My proposal about this issue

Some theory at the beginning

Model of Users, Roles, Privileges has existed for decades and in entity-relationship diagram it would look like this:

    [User]<--->[Role]<---[Privilege]

User has primary key "userName", Role has Primary Key "roleName".
userName and roleName has of course unique constraints.

Between User and Role is relatio

[2015-10-19 15:00] xiang90 commented on #3710
@haozhenxiao One of the member was bootstrapped via discovery service. You must remove the previous data-dir to clean up the member information. Or the member will ignore the new configuration and start with the old configuration. That is why you see the mismatch.

See https://github.com/coreos/etcd/blob/master/Documentation/admin_guide.md#lifecycle for more details.

Thanks.

[2015-10-19 15:00] #3710 closed

[2015-10-19 15:04] xiang90 commented on #3711
@monkey-H This is a known issue for etcd 0.4 due to the bad goraft + etcd integration. We are not actively maintaining etcd 0.4 version. We suggest you to upgrade your cluster to etcd2 to fully fix the issue.

See https://github.com/coreos/etcd/blob/release-2.2/Documentation/04_to_2_snapshot_migration.md

[2015-10-19 15:04] #3711 closed

[2015-10-19 15:05] xiang90 commented on #3711
@monkey-H Sorry for the inconvenience. We would love to help you with any thing for the upgrading process.

[2015-10-19 16:37] ark76r commented on #3709
BTW, this is the definition of the User from file etcd/etcdserver/auth/auth.go:

    type User struct {
        User     string   `json:"user"`
        Password string   `json:"password,omitempty"`
        Roles    []string `json:"roles"`
        Grant    []string `json:"grant,omitempty"`
        Revoke   []string `json:"revoke,omitempty"`
    }

I like it. But I don't know where and when, during

[2015-10-19 17:05] kayrus opened #3713 "etcd2 2.2.0 check dir writable before starting etcdserver"
/cc @xiang90  @yichengq

I'm not sure if it is a feature but some customers were confused that etcd2 complains on "etcdmain: member "e7044ee52bb0a430c9cc7c85814af47e" has previously registered with discovery service token (https://discovery.etcd.io/c534b23f9d3e094e77cea8a901119b7f)." instead of nonexistent directory.

steps to reproduce:

* systemct stop etcd2
* mv /var/lib/etcd2 /var/lib/etcd2_
*

[2015-10-19 17:09] xiang90 commented on #3713
2015-10-19 17:01:47.955550 E | etcdmain: But etcd could not find valid cluster configuration in the given data dir (/var/lib/etcd2).

Isnt this the error logging for nonexistent dir?

It is hard. etcd can start without datadir. And in other cases, the local member must try to connect the cluster to know if it is OK. Does this cause any issue?

[2015-10-19 17:12] kayrus commented on #3713
I mean right now etcd2 works this way:

* start
* try to register in cluster
* check dir
* exit

that is weird. when you don't provide datadir - it tries to create it.

[2015-10-19 17:13] xiang90 commented on #3713
What is your suggestion?

[2015-10-19 17:13] kayrus commented on #3713
what if we implement datadir check first when there is `ETCD_DATA_DIR` option provided?

[2015-10-19 18:37] jonboulle opened #3714 "saving snapshot should not block raftNode loop"

[2015-10-19 18:37] jonboulle opened #3715 "best effort snapshot pre-fetch when starting/restarting"

[2015-10-19 18:40] jonboulle commented on #2657
V3 store/API should resolve this but is pending benchmarks to be sure.

[2015-10-19 18:41] jonboulle commented on #2473
@xiang90 to put up a doc and @jonboulle to help review.

[2015-10-19 18:41] jonboulle commented on #2473
This should help with #2657

[2015-10-19 18:44] jonboulle commented on #2058
This sounds ambitious so I'd be inclined to break it apart, but first step is just to collect and list them all.

[2015-10-19 20:43] yichengq commented on #2058
I need to kill the TODO at https://github.com/coreos/etcd/blob/master/etcdserver/cluster.go#L340, which helps address https://github.com/coreos/etcd/pull/3657#issuecomment-146697923 .

[2015-10-20 01:04] daniel-ziegler commented on #3699
cc @aphyr

[2015-10-20 05:54] collinmsn commented on #3122
where's etcd-replicate? I can not find it in latest source directory.

[2015-10-20 06:04] jonboulle commented on #3122
@collinmsn etcd-replicate does not exist - that was just a proposal of what the UX might look like.

I'm going to close this in favour of #1749

[2015-10-20 06:04] #3122 closed

[2015-10-20 14:53] yichengq opened #3722 "Integration test may leak dial"
[code]

It is related to this TODO: https://github.com/coreos/etcd/blob/master/integration/z_last_test.go#L78

[2015-10-20 17:17] yichengq opened #3723 "fail to get version of peers in master branch"
[code]

Start 3-member etcd cluster built from the master, and it cannot get version of peers. It may be related to the change that we generate transporter inside etcdserver, which is not set to be the same as before.

[2015-10-20 17:18] xiang90 commented on #3723
@yichengq This only happens for one member, but not the other one?

[2015-10-20 17:26] yichengq commented on #3723
@xiang90 Yes. I observe 3 mins and it always fails to one member.

[2015-10-21 05:56] floriankoch opened #3728 "After 2.2.1 update (from 2.1.3 ) auth: no authorization provided, checking guest access"
Hi,

after updating the cluster from 2.1.3 to 2.2.1 i got the following errors in the log. I can access the cluster without any problems, so what does these errors for?

Oct 21 07:52:08 zkm01.example.net etcd[43027]: auth: no authorization provided, checking guest access
Oct 21 07:52:08 zkm01.example.net etcd[43027]: auth: no authorization provided, checking guest access
Oct 21 07:52:09 zkm01.exam

[2015-10-21 14:01] yichengq commented on #3728
@floriankoch The auth feature of the etcd cluster is enabled, but no authorization info is provided for HTTP request. It falls back to guest access to make it happen, and prints warnings about it.

Read https://github.com/coreos/etcd/blob/master/Documentation/auth_api.md#roles and https://github.com/coreos/etcd/blob/master/Documentation/auth_api.md#enable-and-disable-authentication for more detail

[2015-10-21 19:09] floriankoch commented on #3728
ah  thx for the hint

[2015-10-21 19:09] #3728 closed

[2015-10-22 04:20] listaction opened #3735 "keep seeing failed to reach peerURL when running etcd compiled from master."
using this version:
[code]

using this Procfile:
[code]

Log:
[code]

Debug:
[code]

[2015-10-22 04:59] HasanNizamani commented on #3592
Having the same issue here. One of the etcd node died due to no disk space left, after cleaning up the disk space and rebooting, the services are not coming back online. Getting same errors.

[2015-10-22 07:11] yichengq commented on #3735
@listaction The bug is duplicated with https://github.com/coreos/etcd/issues/3723 . Moreover, we mention that `master branch may be in unstable or even broken state during development. Please use releases instead of master branch to get stable binaries.` at the README, and we recommend to use our released versions/binaries.

[2015-10-22 07:11] #3735 closed

[2015-10-22 11:04] gyuho commented on #3723
I tried to replicate this from https://github.com/coreos/etcd/commit/8b08fff1e9aaa8ca82daad674f5f172af27037d2 with the default Procfile (after changing `bin/etcd` to `etcd` after `go install`) and none of them fails:

[code]

Is this still failing to you?

[2015-10-22 14:42] yichengq commented on #3723
@gyuho I mean etcd keeps printing out the log like this:
[code]

[2015-10-22 14:59] gyuho commented on #3723
Hmm it's weird, I don't see those logs either. Maybe I mis-configured something. Thanks,

[2015-10-22 17:56] xiang90 commented on #2473
fixed by https://github.com/coreos/etcd/pull/3729

[2015-10-22 17:56] #2473 closed

[2015-10-23 08:21] haozhenxiao commented on #3710
@xiang90 If **-data-dir** is not specified, where is the data directory by default? Now I have deleted all the **data** directories, but I still get the **cluster ID mismatch** complain.

[2015-10-23 09:11] xtaci commented on #3686
please! make this limit larger, >16MB is required.

[2015-10-23 09:58] sasa1977 opened #3739 "etcd configuration isn't applied after machine reboot"
Hi,

I have the following situation. I use CoreOS (833.0.0) powered by Vagrant, and I set a non-default etcd client port through cloud-config.

This works well on initial boot. However, after I reboot the machine, etcd listens on the default port (4001), thus bypassing my settings. What's really strange is that after I manually restart `etcd2` service, settings are applied correctly.

Here's the i

[2015-10-23 14:11] urzds opened #3740 "Proxy documentation confusing"
I am trying to follow the [proxy documentation](https://coreos.com/etcd/docs/latest/proxy.html) to setup an etcd2 cluster of three main nodes `infra01` to `infra03` and make all other machines proxy requests to them.

The resulting `20-cloudinit.conf` for the machines proxying looks like this, which I think conforms to what the documentation tells me to do:
[code]

etcd2 on those nodes logs:
[code

[2015-10-23 14:33] gyuho commented on #3740
When you say `--initial-advertise-client-urls`, do you mean `--advertise-client-urls`?
`--initial-advertise-client-urls` does not exist.

[2015-10-23 14:40] gyuho commented on #3740
For the second question, I think `etcdmain` package defaults `listen-peer-urls` as `"http://localhost:2380,http://localhost:7001"`, if not specified in the flags. `listen-peer-urls` are `"List of URLs to listen on for peer traffic"` [1].

---
[1] https://github.com/coreos/etcd/blob/master/etcdmain/config.go#L156

[2015-10-23 15:00] urzds commented on #3740
@gyuho That's exactly what I mean. The flag does not exist. Yet the documentation references it. I [quote literally](https://coreos.com/etcd/docs/latest/proxy.html):
[code]

Regarding the 2nd answer: Does that mean that etcd2 in proxy mode tries to connect to `listen-peer-urls`, ignoring both the magical `advertise-client-urls` and `intial-cluster`, which are mentioned in the documentation as the

[2015-10-23 15:06] gyuho commented on #3740
For the first question, as far as I understand, you need `initial-cluster` for initial cluster bootstrapping. (e.g. `-initial-cluster 'infra1=http://127.0.0.1:12380,infra2=http://127.0.0.1:22380,infra3=http://127.0.0.1:32380'` for 3-machine cluster). This used to be called `peers` in flags. These are needed for inter-server communication. You need `advertise-client-urls` to `advertise its client U

[2015-10-23 15:09] yichengq commented on #3710
@haozhenxiao The default of -data-dir is documented here: https://github.com/coreos/etcd/blob/master/Documentation/configuration.md#-data-dir

[2015-10-23 15:09] xiang90 commented on #3710
@haozhenxiao When etcd starts, it will print out the data dir it uses and how it starts (using old configuration or bootstrap). You can check it yourself.

[2015-10-23 15:16] urzds commented on #3740
1. First question
  1. So the `initial-cluster` flag is not needed in proxy node, because that flag is only used in initial bootstrapping? Thus the documentation for the proxy mode is wrong in this regard?
  2. It seems I mixed up `initial-advertise-peer-urls` and `advertise-client-urls`. I fixed that in the original post and will try again.

Regarding the code reference you posted: It seems that

[2015-10-23 16:58] raoofm commented on #2752
:+1:

[2015-10-23 18:35] raoofm commented on #1749
@xiang90 so I shouldn't be expecting this for v2 :disappointed:

[2015-10-23 18:47] raoofm opened #3743 "proxy needs to be smart to support multiple datacenters"
Scenario: etcd 2.2.0 - Discovery SRV

5 node cluster_1 in datacenter_1
node1.dc1.etcd.com
node2.dc1.etcd.com
node3.dc1.etcd.com
node4.dc1.etcd.com
node5.dc1.etcd.com

5 node cluster_2 in datacenter_2
node1.dc2.etcd.com
node2.dc2.etcd.com
node3.dc2.etcd.com
node4.dc2.etcd.com
node5.dc2.etcd.com

Keys (data/config) is manually created on both data center clusters (they can have different indexes, we

[2015-10-23 19:21] yichengq commented on #3739
@sasa1977 This is not a problem of etcd. etcd didn't receive flags when you bootstrap it the first time after reboot. You could check that because etcd always prints out ENV recognized and used in the log.

It is probably a problem that CoreOS didn't set all these flags when starting etcd. A good place to ask about it is at github.com/coreos/bugs

[2015-10-23 19:53] jonboulle commented on #3739
off the top of my head, looks like a race with coreos-cloudinit. @sasa1977 as a starting point, you could check the timestamp on /run/systemd/system/etcd2.service.d/20-cloudinit.conf and compare it to when etcd2 is being started in the log..

[2015-10-23 19:58] raoofm commented on #3740
@urzds

1. i.
-initial-cluster flag is needed in proxy mode. It should be same as what you used for your etcd cluster

ETCD_INITIAL_CLUSTER="infra01=https://192.168.10.24:2380,infra02=https://192.168.10.25:2380,infra03=https://192.168.10.26:2380"

It uses either -initial-cluster or -discovery or -discovery-srv flag to bootstrap itself(proxy).

   ii.
-listen-client-urls flag is required by proxy a

[2015-10-23 22:40] gyuho commented on #3647
from https://github.com/coreos/etcd/pull/3736#issuecomment-150708197

This happens when used with `goreman start` from master branch (SHA https://github.com/coreos/etcd/commit/4f47b08cf688663a4fccbb2930d797d6938cf6a5)

[2015-10-24 02:43] gyuho commented on #3647
This only happens with `goreman start` for me. I will investigate more.

<br>
Just tried with regular shell commands, and I don't see any issue with proxy:

[code]

with:

[code]

[2015-10-24 12:03] lorenz opened #3745 "Crash during normal operation"
I had Etcd (2.2.0) crash during normal operation with the following stack trace:

[code]

Is this a known problem?

[2015-10-24 16:47] yichengq commented on #3745
We don't see this panic before. It looks like that your program received an unexpected signal when running. Could it be the problem of the system? Was your system out of memory when running etcd?

[2015-10-24 17:20] yichengq commented on #3647
@gyuho When etcd starts, it have empty cluster before applying any entry, so it may return proxy with empty cluster info.

[2015-10-24 17:25] gyuho commented on #3647
@yichengq Right, I think it's from `goreman` implementation:

https://github.com/mattn/goreman/blob/master/proc.go#L85-L87

It starts process from a map, which means there is no order.
So `goreman` might start proxy first, and when the proxy starts and
tries `refresh`, it doesn't get any endpoints for the first time, so it will
wait another 30 seconds.

[2015-10-24 19:44] lorenz commented on #3745
The system has 32GB of RAM and only about 8GiB is currently used. Overcommit is active which means the kernel would just overcommit memory until the OOM killer would become active which wasn't the case (no log entry on etcd in the kernel log).

[2015-10-25 00:24] yichengq opened #3747 "TestPurgeFile fail in semaphore CI"
[code]

Go 1.5.1
latest master

I think it needs more time, but i am not sure how much it needs.

[2015-10-25 01:28] xiang90 commented on #3745
@lorenz Sorry. I believe @yichengq's explanation is wrong. The signal 0xb is SIGSEGV. It is a segement fault from c code that go called into rather than some external signal it received. After looking at the trace, I think it is probably a go runtime issue since it traced back to go runtime code. I will dig into this a little bit and report to golang upstream probably.

[2015-10-25 01:31] xiang90 commented on #3745
@lorenz What is your go version and environment? When you started etcd, it will print out the go version that compiled etcd.

[2015-10-25 03:29] yichengq commented on #3745
@xiang90 You are right. It prints out `signal 0xb` in the log. I didn't identify the signal type.

[2015-10-25 10:45] lorenz commented on #3745
I'm using `quay.io/coreos/etcd:v2.2.0`, it contains

[code]

The host OS is CoreOS 766.4.0 with kernel `4.1.7-coreos` on a 3rd-gen Intel Core i7.

Do you need more info?

[2015-10-25 17:36] xiang90 commented on #3745
@lorenz Not for now. Thanks!

[2015-10-25 17:58] xiang90 commented on #3745
@lorenz One question: can you reproduce this issue?

[2015-10-25 18:01] lorenz commented on #3745
Sadly no, I have a cluster of 3 from a software standpoint identical nodes and only one of them randomly failed. It also didn't happen again.

[2015-10-25 18:02] xiang90 commented on #3745
@lorenz I submitted a issue to go upstream. https://github.com/golang/go/issues/13046. I am not sure this is a go issue though. I will try to look through the stack trace code when I have more time. Thanks for your information!

[2015-10-26 09:46] urzds commented on #3740
Thanks for the clarification. Especially the hint that I have to delete the data dir - suggesting that the commandline flags are not authoritative.

One more issue, though: Is it correct, that the proxies will connect to the peer urls to determine the client urls, which they will then proxy to? Thus the proxies will need valid peer certificates to determine the (on my installation) not-secured/htt

[2015-10-26 13:00] sasa1977 commented on #3739
@jonboulle Thank you for the hint! Comparing the two indeed confirms that 20-cloudinit.conf is created approximately one second after etcd2 has already been started. Is this a bug, and should I report it to github.com/coreos/bugs, as suggested by @yichengq? Thanks!

[2015-10-26 13:46] nixn commented on #3620
I would suggest the SRV record _etcd._tcp.example.com, like in confd (https://github.com/kelseyhightower/confd/blob/master/docs/dns-srv-records.md).

[2015-10-26 13:58] nixn commented on #3620
Also the target of an SRV record is a domain name, not an ip address (see RFC 2782).

Further the trailing dot in a domain name is not an error, it's just the other way: domain without a trailing dot are not fully qualified (see RFC 1034, or http://www.dns-sd.org/TrailingDotsInDomainNames.html).

[2015-10-26 14:03] raoofm commented on #3620
@nixn I understand that the trailing dot in a domain name is not an error. It is not an issue. Issue is that we were using that exactly as is in the curl http call, which is incorrect. We should trim before making a call.

[2015-10-26 14:10] nixn commented on #3620
@raoofm Why is this incorrect? That would change an already resolved domain name. If curl cares about the trailing dot (I didn't check that), it would again try to resolve the relative domain name, which imho would be wrong.

[2015-10-26 14:16] raoofm commented on #3743
ping @philips

[2015-10-26 15:01] raoofm commented on #3743
or even the priority or weights on SRV records (different for dc1 and dc2)

[2015-10-26 15:40] raoofm commented on #3740
@urzds yes they need peer urls, to connect to and get client urls to which they can proxy to.

They need not need valid certificates, they just need to have the ca that issued the peer certs to be trusted. It will work without specifying any cert flags if ca is trusted (in case you are using self signed ca then you have to append that to your trusted ca),

The above is true if you are using https

[2015-10-26 15:41] raoofm commented on #3620
@nixn I did more research on what you were referring to and I now understand your point about the fully qualified domain names. The only issue that I got is then etcd needs to be modified as well to use the fully qualified domain names rather than relative.

For the issue I reported - When I tried to see what is different in the way etcdctl is handling SRV and etcd, is the trimming of the trailing

[2015-10-26 15:55] urzds commented on #3740
Thanks for the clarification. I read the security documentation, but it does not explain how encryption/authentication interacts with proxy mode. Neither does the proxy documentation.

[2015-10-26 16:11] wday opened #3752 "etcdctl 2.2.x 404's trying to talk to etcd 0.4.9"
Running etcd 0.4.9 on coreos-beta 835.1.0, etcdctl 2.2.0 and 2.2.1 are unable to work with etcd. I can curl it directly to get and set keys. etcdctl 2.1.3 works fine.

[code]

whereas using etcdctl 2.1.3

[code]

[2015-10-26 16:20] xiang90 commented on #3752
@wday etcd 2.2.x (including etcdctl) is not compatible with etcd 0.4.x. Try to use an old version of etcdctl instead. Sorry for the inconvenience.

[2015-10-26 16:20] #3752 closed

[2015-10-26 17:07] jonboulle commented on #3739
Yes, please let's follow up there, thanks!

[2015-10-26 17:07] #3739 closed

[2015-10-26 17:08] raoofm commented on #3740
I agree we don't have a doc for proxy.

For me a proxy fits well in the documentation for client.

https://github.com/coreos/etcd/blob/master/Documentation/security.md#example-1-client-to-server-transport-security-with-https
https://github.com/coreos/etcd/blob/master/Documentation/security.md#example-2-client-to-server-authentication-with-https-client-certificates

[2015-10-26 17:13] wday commented on #3752
Is it intended that 0.4.9 is the default etcd in the current beta channel? What is the expected process for launching 835.1.0 with an older etcdctl?

[2015-10-26 17:16] wday commented on #3752
Never mind, looks like our fork of coreos-vagrant has diverged from upstream. Didn't realize etcd2 was the default now.

[2015-10-26 18:05] raoofm commented on #3743
@philips @xiang90 @yichengq thoughts?

[2015-10-26 18:37] raoofm opened #3753 "Proxy does SRV look up for restart and then reads cluster file. It should do only 1 of file/SRV"
Proxy does SRV look up for restart and then reads cluster file whereas it should not do SRV lookup when already initialized as proxy before.

2015-09-10 22:20:08.900929 I | etcdmain: etcd Version: 2.2.0
2015-09-10 22:20:08.901042 I | etcdmain: Git SHA: e4561dd
2015-09-10 22:20:08.901059 I | etcdmain: Go Version: go1.5
2015-09-10 22:20:08.901074 I | etcdmain: Go OS/Arch: linux/amd64
2015-09-10 22:2

[2015-10-26 19:29] roboll opened #3754 "etcd client urls empty, logs indicate otherwise"
when starting etcd using dns discovery, I see the following:
[code]

however, curl http://localhost:2379/v2/members shows clientURLs as an empty array.

any ideas where this might be misconfigured, or possibly a bug in etcd?

[2015-10-26 20:32] roboll commented on #3754
ugh. sorry for the noise, as it turns out this is not etcd related. for documentation's sake:

its related to the latency that every route53 dns lookup adds to requests, which leads to etcd timing out constantly and never publishing the client urls. in this case route53 is particularly slow:
[code]

[2015-10-26 20:32] #3754 closed

[2015-10-26 22:39] yichengq commented on #3661
@raoofm Check this for the updated benchmark. https://github.com/coreos/etcd/pull/3738

[2015-10-26 22:41] yichengq commented on #3671
I think xiang has fully answered your question.

[2015-10-26 22:41] #3671 closed

[2015-10-26 22:46] yichengq commented on #3654
I don't see there are many use cases around this feature so far. So I don't prone to implement this.

[2015-10-27 03:55] xiang90 commented on #3630
closed by https://github.com/coreos/etcd/pull/3657

[2015-10-27 03:55] #3630 closed

[2015-10-27 13:31] raoofm commented on #3654
@yichengq how about the use case i have mentioned above. This is a common use case where anyone who tries to use etcd's auth feature needs to give permissions too.
May be people are not realizing this as they are not managing roles or are not much concerned about it right now as it has a alternative tedious solution too, so it is not a blocker.

I think it really solves role management in microser

[2015-10-27 21:07] onlyjob opened #3760 "Missing 3rd party LICENSE (github.com/ugorji/go)"
Bundled `Godeps/_workspace/src/github.com/ugorji/go` lost its original [LICENSE](https://github.com/ugorji/go/blob/master/LICENSE) file which is a violation of license. Please make sure that licensing information is preserved for all bundled 3rd party components. Thanks.

[2015-10-27 21:15] yichengq commented on #3760
@onlyjob We use Godeps to manage dependency and the problem is in the process of solving now. You could track the issue https://github.com/tools/godep/issues/245 for more details.

[2015-10-27 21:38] yichengq opened #3761 "treating applied entries in v3 KV as nop is a little weird"
I find treating all operations as nop in v3 KV is a little weird. If we apply a transaction with compare in etcdserver apply loop, it relies on the return value of the operation to decide the path, so it may execute in different path (success/failure) with different operations. But it doesn't affect the correctness because apply result is not used at all.

from https://github.com/coreos/etcd/pull/

[2015-10-27 22:09] onlyjob commented on #3760
Thanks. However it is your responsibility to comply with license (and common sense) requirements by preserving licensing information disregarding which tools are used. I recommend to keep this issue open until it is resolved, this way or another.
Also I suppose the obvious way to fix it would be to pull root directory (`ugorji/go` instead of `ugorji/go/codec`) and update paths.

[2015-10-27 22:11] xiang90 commented on #3760
@onlyjob Sorry. You are absolutely right. We should keep this open and fix the license issue as soon as possible.

[2015-10-27 22:23] onlyjob commented on #3760
Thank you.

[2015-10-27 23:01] onlyjob commented on #3623
As reported in https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=803133
This problem also affects v2.2.1 on _arm64_, _ppc64el_ and _ppc64_.

[2015-10-28 04:31] rfyiamcool opened #3764 "the etcd client should support the stats API"
Currently the etcd client supports the members and k/v endpoints, there should be equal support the stats endpoints.

[2015-10-28 05:48] yichengq commented on #3764
This is a duplicated issue with #2590 . Please move to #2590 for further discussion.

[2015-10-28 05:48] #3764 closed

[2015-10-28 12:08] densetsunozero opened #3766 "Cross-domain request fails when using authentication"
Hi,
I am setting up a web service to fetch data from etcd server and render the result on the page. Since the web server and the etcd server are on different domain, this will be a cross-domain request. Browser like Firefox will first send a `OPTIONS` request to test if the target server accepts the cross-domain request. I started the etcd server with `-cors *` so it will receive cross-domain requ

[2015-10-29 01:12] gyuho commented on #3647
According to https://github.com/ddollar/foreman/issues/392#issuecomment-41108898, I don't think `goreman` would support ordered execution in Procfile. Currently, all processes get launched at the same time or without order, and the proxy node misses to grab the endpoints in the first `refresh` attempt and waits another 30-second. I can only think of forking `goreman` to support ordered execution,

[2015-10-29 07:08] yichengq opened #3773 "etcd fatal with `storage: cannot commit tx (tx closed)`"
This is a 3-member cluster, and 2 of them are alive. When writing keys into the cluster, one member fatals with this log:

[code]

[2015-10-29 07:25] yichengq opened #3774 "`publish error: etcdserver: request timed out` when receiving big snapshot message"
[code]

It should print better log messages.

follow #2370

[2015-10-29 07:59] yichengq commented on #2370
I have played with large(~1G) incremental snapshot on AWS and GCE. etcd v3 could host ~1G data while making progress stably.

Moreover, i tested sending snapshot from leader to follower, and it works well in most cases.

The only exception is using standard persistent disk in GCE as both data-dir and wal-dir. Read requests to load snapshot and send it out will make WAL write requests wait too long

[2015-10-29 21:10] yichengq opened #3777 "leader switches easily when sending v3 snapshot on GCE using HDD"
Background:
1. use standard persistent disk in GCE as both data-dir and wal-dir
2. 3-member cluster
3. leader is sending ~1G v3 snapshot to one follower

The leader calls disk reads heavily to load snapshot and send it out, and calls disk writes to write log entry into WAL at the same time. In the given background, it may take several seconds for one disk write request on WAL to finish, which affe

[2015-10-29 21:23] yichengq opened #3778 "keep printing out `etcdserver: requested snapshot created at` every second"
This happens when one follower is dead, and brings limited information:

[code]

The problem is two:
1. it keeps requesting every second, even if the follower is dead
2. it doesn't display the result of these requested snapshots.

from #3775

[2015-10-29 21:53] jenspinney opened #3779 "Rapid leader elections and request timeouts causing write failures"
Hello,

While running ETCD in the Diego project of Cloud Foundry, we've noticed problems when we insert many records into the store. We've seen the ETCD nodes apparently failing to communicate with each other and rapidly increasing the raft term. During these time periods, some writes fail.

In the logs, we see many messages like:

[code]

We've created a small executable that reproduces the issue

[2015-10-29 22:09] yichengq commented on #3779
@jenspinney What is the average size of the record that is stored into etcd? I see it says that it meets the degration when having 120K record in the cluster, but have no idea about the size.

Which etcd version are you running? The latest 2.2 version is recommended.

We do some memory benchmark for 2.2, and it gives some lights about the usage: https://github.com/coreos/etcd/blob/master/Documenta

[2015-10-29 22:12] #3652 closed

[2015-10-29 22:17] jenspinney commented on #3779
Hi @yichengq,

Each record we're inserting in our repro setup is about 550 bytes.

We're not using the latest ETCD (I believe we're using < v2), but I'll get back to you on the exact version.

[2015-10-29 23:59] jenspinney commented on #3779
@yichengq,

I double checked, and we're using v2.1.1.

[2015-10-30 00:11] jenspinney commented on #3779
@yichengq,

In the document you linked to, what does "data size threshold" refer to? Is that the total size of everything in the ETCD store? 48 MB seems small for that, but I'm not sure what else it would refer to.

Does the table at the bottom of that document mean "if you have <key number> keys, with <value bytes> bytes in each, we recommend you only have <suggested data threshold> in total data

[2015-10-30 02:58] JunejaTung opened #3780 "create snapshot directory error: mkdir /home/data/etcd/member: permission denied"
when i try to launch kube-dns in 'kubernetes/cluster/addons/dns', then etcd pods have to restart because failed to mkdir */member
i have try etcd:2.0.9 and etcd:2.0.12, and already mkdir for member. the same error encounter:

## container logs
[root@wlan-cloudserver34 etcd]# docker ps -a | grep dns
38edaf47d1db        gcr.io/google_containers/etcd:2.0.12             "/usr/local/bin/etcd   5 second

[2015-10-30 15:09] raoofm commented on #3753
Does it make sense that proxy should always look at SRV rather than file on restart (or) lookup up member file only if SRV lookup fails.

The reason I created this issue is proxy on restart gives a wrong impression from logs that it is going to use members from SRV lookup but it is actually using members from the file that it wrote.

In my opinion,

* On Start up use SRV/inital-cluster
* On ReStar

[2015-10-30 15:11] raoofm commented on #3740
@urzds where you able to bring up proxies?

[2015-10-30 16:28] xiang90 commented on #3745
@lorenz We fixed all the detected races in etcd. We will release a version of etcd with the patch soon. We are still not sure if this panic is caused by etcd or runtime. We can only assume it is caused by etcd for now. :( So I closed this issue. If you encountered this issue again with the next release, please report back.

[2015-10-30 16:28] #3745 closed

[2015-10-30 16:35] urzds commented on #3740
Yes, after giving the proxies full access by creating trusted certificates for them, they were able to connect to the cluster.

[2015-10-30 16:47] xiang90 commented on #3779
@jenspinney Do you run etcd with all your cores? Or just one core? By default, etcd 2.1.1 will start with 1 core. We can also try to reproduce your issue.

Yes. etcd2 was designed for storing a small amount of data. In your setup, I think etcd should be able to hold 100MB or so.

We are working on a new disk backend and v3 API, which can enable you to store million of keys and xGB data into etcd.

[2015-10-30 20:47] yichengq commented on #2370
Close it because all issues are cleared.

[2015-10-30 20:47] #2370 closed

[2015-10-30 21:26] lorenz commented on #3745
@xiang90 Thank you! I'll try the the next release once it's out. Thankfully there were no further crashes since this one.

[2015-10-30 22:38] jenspinney commented on #3779
Hi @xiang90,

We are setting GOMAXPROCS to 16 (the number of cpus on our vm). We're starting to think this might be more related to slow disk i/o, and we're playing around with switching it from a magnetic disk to an SSD.

[2015-10-30 22:47] xiang90 commented on #3779
@jenspinney OK. Let me know the result. We could help to dig into that too when you have more information.

[2015-10-31 00:04] msimon opened #3784 "Cannot remove initial permission for guest role"
[code]
The issue seems to be the initial permission are * and not /*, and * cannot be edited.
[code]
I don't see how I can remove permission for *.

I tested on etcd 2.2.0 and etcd 2.2.1.

Thanks

[2015-10-31 01:16] xiang90 commented on #3780
@JunejaTung The user that starting etcd needs to have enough permissions to create dirs and write files under the specified `data-dir`. In your case, it is `/home/data/etcd`.

[2015-10-31 01:16] #3780 closed

[2015-10-31 05:47] xiang90 opened #3786 "cache the entire bolt backend into memory before restoring index"
etcd has an in-mem secondary index for the entire db. Reading the entire boltdb without moving the db file into page cache is slow. It is OK for etcd to scan the entire file first and let os move all file into page cache. It increase the throughput of read from 6K/second to 2M/second with very little overhead (pre read ingthe whole db has a throughput around 300MB/second on SSD)

@benbjohnson Do y

[2015-10-31 15:16] benbjohnson commented on #3786
@xiang90 Even though the keys are written sequentially, bolt may write them randomly since it reuses old pages when available. One easy fix, if you're targeting Linux 2.6.23+, is to add an `DB.MmapFlags` parameter that would allow you to set `MAP_POPULATE` which should do the readahead. Would that work?

[2015-10-31 15:19] xiang90 commented on #3786
@benbjohnson > Even though the keys are written sequentially, bolt may write them randomly since

Actually, this is a newly created db with all seq writes.

I will give it a try.

[2015-10-31 15:21] xiang90 commented on #3786
@benbjohnson

Thanks btw. I will let you know the result soon!

[2015-10-31 15:25] benbjohnson commented on #3786
@xiang90

Even with sequential writes, bolt will still have pages it will reuse because of the freelist being written and partially filled data pages. Those will get filled on the next transaction and the old half filled page will be available for reuse.

You'll need to add the `MmapFlags` as a field on `bolt.Options` since it's needed during `bolt.Open()`. Then copy that over to a `DB.MmapFlags`

[2015-10-31 18:14] yichengq opened #3787 "etcd hang and doesn't fully stop when being removed when using v3"
[code]

[2015-10-31 19:54] xiang90 opened #3788 "do not use o_direct when reading the snapshot of backend"
Boltdb now opens the snapshot file with o_direct to avoid page caching trashing. But this makes little sense to our use case, which we expect most of our users have enough memory to hold the entire working set.

[2015-10-31 20:27] drnic commented on #633
Any new discussions internally/escalation of road map for watching for new directories (and not all the other changes in a tree)?

[2015-10-31 20:30] xiang90 commented on #633
@drnic No. Sorry. We are working on v3. But for v3, etcd will only support flat key-value space and support watch on prefix or a key.

[2015-10-31 20:39] drnic commented on #633
A WIP script that seems to do the trick:

[code]

[2015-10-31 20:41] drnic commented on #633
@xiang90 what do you mean by "flat key-value space" relative to what we have now? happy to read a design doc/blog if that answers it (sorry to not know)

[2015-10-31 20:44] xiang90 commented on #633
@drnic https://github.com/coreos/etcd/blob/master/Documentation/rfc/v3api.md. Feedback is welcomed.

[2015-10-31 20:53] drnic commented on #633
I guess first thing that pops to mind is "HTTP API supports a subset of APIs." - what won't be in HTTP API?

[2015-10-31 20:54] xiang90 commented on #633
@drnic Not sure yet. We will try best to support all.

[2015-11-01 04:02] xiang90 commented on #3773
Can you try to reproduce this issue?

[2015-11-01 06:05] gyuho opened #3789 "rafttest: test fails with go test -race"
From `rafttest` package, if I run `go test -race`, I get this error:

[code]

I ran the test from the most recent etcd master branch, and:

[code]

Here's the full log:

[code]

Is that expected? Thanks,

[2015-11-01 15:51] xiang90 commented on #3789
@gyuho --race significantly slow down rafttest. do not enable --race for now.

[2015-11-01 15:51] #3789 closed

[2015-11-01 16:19] gyuho commented on #3789
I see. Thanks!

[2015-11-02 03:14] JunejaTung commented on #3780
@xiang90 thanks , i had run in root permission. May it need user `etcd` to run , i will try to chown the `data-dir` from root to etcd.

[2015-11-02 05:23] mitake opened #3791 "Question about a case of permanent quorum loss + disk full"
Hi etcd developers,

I'm considering a case like this: an etcd cluster loses quorum permanently (1 survivor node and 2 dead nodes) and there's no space for `etcd backup` in the survived node.

Current standard methodology of handling a case of permanent quorum loss is `etcd backup`. Removing failed nodes forcibly isn't provided intentionally for safety reason (https://coreos.com/etcd/docs/latest/r

[2015-11-02 17:06] yichengq commented on #3791
This idea is dangerous. If you append removeNode entry to the log without consensus, you must change the clusterID in the WAL because it is no longer the same cluster. `etcd backup` does the cluster ID change.

I think the limit of data dir, considering v3 case, is smaller than 30GB. People could allocate 60GB space for etcd data dir. If the disk is really small, we could backup it in the remote m

[2015-11-02 17:55] xiang90 commented on #3777
I want to close this since the root cause is  https://github.com/coreos/etcd/issues/3788

[2015-11-02 17:55] #3777 closed

[2015-11-02 19:42] jonboulle commented on #3773
[code]
`storage` here indicates the V3 backend; the V2 backend is `store`

[2015-11-02 19:47] jonboulle commented on #3747
@yichengq is this still an issue?

[2015-11-02 19:47] yichengq commented on #3747
yes. I met it several times.

[2015-11-02 20:03] xiang90 commented on #3272
We added an initial impl in https://github.com/coreos/etcd/pull/3790. We will iterate on that implementation.

[2015-11-02 20:03] #3272 closed

[2015-11-02 20:16] yichengq opened #3793 "TestRecvSnapshot-4 possibly fails on semaphore CI"
--- FAIL: TestRecvSnapshot-4 (0.10s)
	server_test.go:858: store action = [], want [{Recovery []}]
	server_test.go:862: storage action = [], want [{SaveSnap []} {Save []}]

Go 1.4, on semaphore CI

[2015-11-03 00:59] yichengq commented on #3784
We use canonical path at https://github.com/coreos/etcd/blob/master/pkg/pathutil/path.go#L9 to sanitize the read/write permission path. But the predefined guest role doesn't follow the format: https://github.com/coreos/etcd/blob/master/etcdserver/auth/auth.go#L62

We need to fix the predefined roles.

[2015-11-03 01:14] jenspinney commented on #3779
@xiang90,

We experimented with different disk types and speeds, and while certain volume types were able to increase the speed of etcd, we didn't see an obvious improvement in the number of rejected insertions or the rapid elections.

We set up prometheus to explore various metrics, but we didn't see anything obvious (to our eyes) that would explain the problems. We did see "etcd_server_proposal_

[2015-11-03 01:33] #3684 closed

[2015-11-03 05:40] mitake commented on #3791
I didn't notice the limit. 60GB would be reasonable space for users. Thanks a lot for your comments!

[2015-11-03 05:40] #3791 closed

[2015-11-03 07:25] yichengq commented on #3647
@gyuho One possible way is to sleep 1s before starting proxy in Procfile. So cluster is running when proxy starts.

/cc @xiang90

[2015-11-04 03:07] yichengq opened #3803 "only the first operation in branch in txn is executed"
[code]

on current master

[2015-11-04 14:03] kayrus opened #3805 "etcd v2.2.1 tries to connect directly to member even when you run local proxy"
This issue was reported by tittof from etcd IRC channel. I've tried to reproduce it and here are my results:

* coreos1 (192.168.122.143) - etcd member
* coreos2 (192.168.122.2) - etcd member
* coreos3 (192.168.122.71) - etcd proxy

I run etcdctl on coreos3 and look for strace and tcpdump results:

[code]

[code]

I'm not sure why etcdctl on coreos3 initializes connection directly with coreos1 ins

[2015-11-04 15:19] xiang90 commented on #3805
@kayrus If you want the etcdctl to only connect to local proxy, you need to start it withy --no-sync flag. Or it will sync the cluster info via proxy and then bypass it afterwards.

[2015-11-04 15:19] #3805 closed

[2015-11-04 15:20] xiang90 commented on #3805
@kayrus We might add proxy awareness client to stick with the given proxy in the future. But for etcdctl, no-sync should be good enough.

[2015-11-04 15:34] kayrus commented on #3805
@xiang90 what do you mean when say "sync the cluster"? does sync include get request to get the key value?

[2015-11-04 15:36] xiang90 commented on #3805
@kayrus Sync cluster updates the cluster member list.

[2015-11-04 15:40] kayrus commented on #3805
@xiang90 if you review tcpdump, you'll see that etcdctl gets info directly from member. it doesn't look like a sync

[2015-11-04 15:45] xiang90 commented on #3805
@kayrus

etcdctl first syncs the cluster, gets the actual member list. Then it uses the member list got to get the key from the actual etcd member.

Or I will be surprised that how etcdctl acutally gets the list of the members that you never tell it.

I am not sure if you provided the full tcpdump. Actually you should just provide the log of etcdctl with --debug.

[2015-11-04 16:10] kayrus commented on #3805
@xiang90 looks like I didn't use -f flag for tcpdump. so as I understand proxy will work like a regular proxy only when you use --no-sync flag? otherwise proxy will return only member list, right?

[2015-11-04 16:14] xiang90 commented on #3805
@kayrus The proxy is just a normal reverse proxy. etcdctl decides which etcd server it wants to connect to.

First it syncs the cluster via proxy to the real etcd cluster addresses. Then etcdctl WILL use the new cluster address instead of the original proxy one you gave it. So you need to stop etcdctl from syncing the cluster.

I do not quite follow this.

[2015-11-04 16:17] kayrus commented on #3805
@xiang90

now it looks clear. but my opinion - etcdctl should not decide that if it uses proxy. it should connect to proxy address only.

[2015-11-04 17:45] yichengq opened #3806 "improve warning-level message drop log"
A slow-snapshot-recovery follower acts like this:

[code]

Possible problems:
1. users probably cannot understand what MsgXXX means
2. no instructions for the expected behavior for it

from https://github.com/coreos/etcd/pull/3783#issuecomment-153805331

[2015-11-04 17:48] #3462 closed

[2015-11-04 19:39] #3723 closed

[2015-11-04 22:20] yichengq opened #3812 "improve repeated `request timed out` messages"
[code]

etcd prints repeated proposal failure error line when switching leader and having heavy load. This is unreadable.

[2015-11-04 22:36] hectorj2f commented on #3171
@yichengq I just reproduced it with etcd v2.1.2 on a CoreOS 681.2.0 :/

[2015-11-05 09:49] philips commented on #2468
@stevenschlansker Can you file a new bug? I am confused on what you mean by "backup restore" edge case.

[2015-11-05 09:53] philips commented on #2468
This blog post resports some odd behavior: http://www.projectclearwater.org/adventures-in-debugging-etcd-http-pipelining-and-file-descriptor-leaks/

[2015-11-05 10:34] philips opened #3815 "scripts/genproto.sh: doesn't work from etcd in GOPATH"
Running ./scripts/genproto.sh from an etcd checkout in the GOPATH breaks because it expects to be copying files from the GOPATH version to the assumed current version. We really need to figure out a better way of doing this.

[2015-11-05 14:43] philips commented on #3647
I am reopening this. I don't think it is reasonable to have random sleeps in the Procfile. We should fix the proxy by having it do an exponential backoff up to 30 seconds max or something.

[2015-11-05 15:25] gyuho commented on #3647
My first approach was https://github.com/coreos/etcd/pull/3736/files forcing it to refresh with much shorter intervals if the refresh interval is equal to or greater than 30 seconds for the first 5 trials. Would this help?

[2015-11-05 15:56] bdarnell commented on #2468
Adding a `waitTimeout` parameter seems like a workaround rather than fixing the real problem: the client here doesn't have any opinion on how long to wait; the real issue is how long the server is willing to let possibly-abandoned file descriptors hang around. I would suggest fixing this by setting `defaultWatchTimeout` to something reasonable (vs the current `MaxInt64`) instead of (or in addition

[2015-11-05 16:18] xiang90 commented on #2468
@bdarnell

I agree. So I am not convinced that we should support it now.

We tried. But timeout at the server side breaks the connections. And go client library seems to have a bug that cannot handle it well. See https://github.com/golang/go/issues/8946.

We set tcp level keepalive and also use `CloseNotify`. But in his case, the connection are pooled in the client itself. So tcp connection is not

[2015-11-05 16:37] xiang90 commented on #2468
@bdarnell Yicheng reminded me that you might suggest set the timeout for context, not for the connection. So the server will finish the HTTP. That probably works.

[2015-11-05 17:50] bdarnell commented on #2468
Sorry, I thought you weren't using `CloseNotify` because the only occurrence `grep` found was in `client.go`, but it turns out that file is a server-side implementation of API *for* clients. So I'm surprised that didn't work. The `CloseNotifier` should have fired when the client closed its connection.

I don't follow how a timeout on the server side breaks things. When the timeout fires you should

[2015-11-05 17:52] xiang90 commented on #2468
@bdarnell

I was still thinking in the old world, when we set the timeout on http.Server struct (https://golang.org/pkg/net/http/#Server). And it breaks the client.

[2015-11-05 18:30] raoofm commented on #3753
ping ?

[2015-11-05 19:32] yichengq commented on #3647
@xiang90 @philips @gyuho I notice that proxy uses empty endpoint if it cannot connect to any member in the cluster(https://github.com/coreos/etcd/blob/master/etcdmain/etcd.go#L395). So this is a general case instead of a bootstrap case that I thought before.

It may be reasonable to retry more frequently when the proxy doesn't have any endpoint. We need to find a clear way to tell users about this

[2015-11-05 19:38] gyuho commented on #3647
@yichengq Do you think the refresh should be done in `proxy` package level, or in `etcdmain`?
I think it makes more sense to expedite some director `refresh` method in `proxy` package,
which should be a simple tweak. What do you think?

[2015-11-05 20:02] yichengq commented on #3647
@gyuho That sounds good to me if this could be documented clearly.

[2015-11-05 20:04] gyuho commented on #3647
@yichengq Ok, I can work on it. I will add clear notes to Documentation as well. Thanks,

[2015-11-05 21:48] dannysauer commented on #3710
On a related note for someone's future use, I also had this happen when I added the $WAL_DIR parameter to an existing cluster's startup config, but forgot to move the existing wal directory contents to the new location on a couple of nodes.  Which is pretty much the same problem - partial missing data directory. :)

[2015-11-06 00:59] gyuho opened #3821 "Godeps: akrennmair/gopcap missing pcap.h"
`go get -v -u github.com/coreos/etcd/...;` fatals on `akrennmair/gopcap` package.
Does Godep skip header files?

Thanks,

Here's the full output:

[code]

[2015-11-06 01:17] xiang90 commented on #3821
@gyuho You need to install libpcap-dev. We can make it go-gettable. But not a priority for now.

[2015-11-06 01:17] #3821 closed

[2015-11-06 01:19] gyuho commented on #3821
Got it. Thanks!

[2015-11-06 10:10] jonboulle commented on #3815
hmm? I don't understand this issue, can you elaborate? in what circumstances does the script break? it sets GOPATH...

[2015-11-06 16:22] kayrus opened #3827 "etcd daemon: creates member directory if cluster config is not valid"
[code]

Let's simulate situation when we bootstrap 4 etcd members but with `size=3` discovery token. First three members bootstrap without any issue. But last one does. It creates `/var/lib/etcd2/member` even when it can not be started (for example DNS record is still not updated). Here is the gist:

[code]

We can see that `/var/lib/etcd2/member/` was created and it is empty:

[code]

And etcd2 d

[2015-11-06 17:18] kayrus opened #3828 "etcd v2.2.1 and journald 225 doesn't recognize log tag"
CoreOS 845.0.0

[code]

[code]

This command still works `journalctl -u etcd2` but it doesn't show logs which were shown with `-t` flag. Also `journalctl _EXE=/usr/bin/etcd2` works but it is too long to type.

[2015-11-06 17:26] yichengq commented on #3828
@kayrus It has been reported at https://github.com/coreos/bugs/issues/373#issuecomment-150679781 . I see that @jonboulle has fixed the issue in capnslog. etcd needs to update deps then.

[2015-11-06 17:27] jonboulle commented on #3828
I'll take this.

[2015-11-06 17:49] #3828 closed

[2015-11-06 19:04] xiang90 commented on #3788
tracking https://github.com/boltdb/bolt/pull/454

[2015-11-06 19:21] soellman commented on #3405
For posterity, this blog post exactly describes the problem. The engineer on our team who first saw this agrees that this is our exact issue.

http://www.projectclearwater.org/adventures-in-debugging-etcd-http-pipelining-and-file-descriptor-leaks/

[2015-11-06 19:42] xiang90 commented on #2657
We have a benchmark here https://github.com/coreos/etcd/blob/master/Documentation/benchmarks/etcd-storage-memory-benchmark.md.

The hard memory requirement is significantly reduced. But we still only support near in memory workload for v3. But the memory usage factor is almost down to 2 from 20 if the key-value is larger than 256bytes, which is most of the cases.

[2015-11-06 19:42] #2657 closed

[2015-11-06 19:47] derekwaynecarr commented on #2657
@xiang90 - awesome!

[2015-11-06 19:54] xiang90 commented on #3580
I am closing this due to low activity. I think @yichengq has an answer.

[2015-11-06 19:54] #3580 closed

[2015-11-06 21:04] #3788 closed

[2015-11-06 21:27] wojtek-t commented on #2657
+1 - awesome!

[2015-11-07 01:56] xaduha opened #3831 "Very basic built-in fileserver?"
Just running this idea up the flag pole, since etcd already has "net/http" as a dependency.

Optional and off by default. This https://github.com/golang/go/wiki/HttpStaticFiles and a couple of flags for specifying a folder and a port should do it.

[2015-11-07 13:41] philips commented on #3831
what is a use case?

On Sat, Nov 7, 2015 at 2:56 AM xaduha <notifications@github.com> wrote:

[2015-11-07 14:30] philips commented on #3815
@jonboulle here is what happens:

[code]

[2015-11-07 15:22] philips commented on #1749
This can be done outside of etcd in userspace, right?

[2015-11-07 16:26] xiang90 commented on #1749
@philips Right.

[2015-11-07 17:01] errordeveloper opened #3832 "Simple DNS A record discovery"
Having assumed an overlay network, one can simply use default ports and lookup cluster members as DNS A record, without having to use SRV. This would make etcd extremely easy to deploy (and scale) on Weave.

[2015-11-07 17:08] xaduha commented on #3831
Serving ACIs, for example. Static html pages with ACI discovery meta tags. Just static files in general.

In a cluster mode it wouldn't be half-bad too, if files are to be synced somehow.

[2015-11-07 22:53] philips commented on #3832
I don't follow. Can you provide an example.

[2015-11-07 23:00] philips opened #3833 "metrics: rename v3 metrics"
today the v2 metrics exposed from `/metrics` are called "store" and the v3 metrics are called "storage". For example etcd_store_writes_total and etcd_storage_put_total.

Lets remove the storage metrics and call them `etcd_store_v3_...` and add `etcd_store_v2_...` metrics  that are just duplicates of the others to maintain compatibility.

Thoughts?

[2015-11-08 02:17] errordeveloper commented on #3832
As an alternative to current SRV discovery...

[2015-11-08 04:13] mischief commented on #3833
why include a version? why not simply merge storage into store?

[2015-11-08 04:19] mischief commented on #3670
here's another very basic example.

https://github.com/coreos/mantle/blob/master/platform/local/etcd.go

[2015-11-08 05:00] xiang90 commented on #3670
@purpleidea Actually I am closing this due to low activity. @mischief @gyuho and I provided a few examples. Please give them a try. Thanks!

[2015-11-08 05:00] #3670 closed

[2015-11-08 06:14] purpleidea commented on #3670
That is quite alright, and thank you for your help. I will try and send some doc patches if you wish in the future once I've implemented my etcd embedding. Thanks for all your work.

[2015-11-08 06:15] xiang90 commented on #3670
Excellent!

[2015-11-08 06:42] philips commented on #3833
@mischief The two stores are separate: keys in v2 can't be accessed via v3 and vice-versa and the two stores have different verbs like multi-key transactions and range gets.

[2015-11-08 18:56] xiang90 commented on #3831
@xaduha etcd is not designed for serving the large amount of data. It is designed for serving meta data and doing coordination. You can build another layer on top of etcd to serve static file in a consistent manner and you can control the replication pretty easily by using 2PC with the help of etcd.

[2015-11-08 18:56] #3831 closed

[2015-11-08 19:01] xiang90 commented on #3743
@raoofm We are not going to make current proxy any smarter any time soon. It is only designed for proxy the request for one etcd cluster. You can actually extend today's proxy pretty easily since you can use it as a simple library.

[2015-11-08 19:03] xiang90 commented on #3654
@raoofm We are not going to implement it at lease for v2 as long as there is a work around.

[2015-11-08 19:03] #3654 closed

[2015-11-09 09:20] MSamman commented on #3620
@xiang90 @yichengq Is there any reason etcdctl would want peer urls as well as client urls?

[2015-11-09 09:32] benjvi commented on #3827
+1 I'm seeing the same problem - although my extra member fall back to proxy as expected initially, on any subsequent restart I get this error

[2015-11-09 13:05] jonboulle commented on #3832
Well, why can't you do this today by specifying (resolvable-by-DNS) hostnames instead of IP addresses?

[2015-11-09 13:14] errordeveloper commented on #3832
Sure, but what I am talking about is A records with multiple answers, like
the SRV that is currently supported.

On Mon, 9 Nov 2015 05:06 Jonathan Boulle <notifications@github.com> wrote:

[2015-11-09 14:45] #3647 closed

[2015-11-09 16:46] raoofm commented on #3743
@xiang90 thanks, appreciate your response.

You can close this ticket, if you think its not worth to even give it a try for v3.

Just thought that people might face a similar challenge as we do.

Rolling up a new cluster in a different DC should not mandate a restart(delete data-dir) for all the clients. I thought this as a drawback. A simple refresh SRV if all nodes are down would give a great de

[2015-11-09 17:03] xiang90 commented on #3743
@raoofm The use case is reasonable. However I believe moving clients from a cluster from one DC to another one gracefully deserves a more careful design.

[2015-11-09 23:19] sterfield opened #3840 "client authentication without activating HTTPS ?"
Hi,

I'm doing some tests around ETCD and more specifically with the client authentication.

## Context
ETCD version : 2.2.1
OS : Debian stable

## Steps to reproduce

I'm trying to do this:

* 3 etcd nodes in the same subnet, peer connection is http
* one load balancer that is doing HTTPS termination, then round-robin on each 3 node in http, port 2379
* each etcd node have the client authenticati

[2015-11-09 23:56] glevand commented on #3623
I verified the arm64 build fails with v2.2.1.

[2015-11-10 02:50] HuKeping opened #3843 "user guide outdated"
Since the latest release is no longer v2.0.8, I hope someone could help update the docs ;)

 https://github.com/coreos/etcd/blob/master/Documentation/docker_guide.md#etcd0

[2015-11-10 05:21] gyuho commented on #3843
@HuKeping I updated [the doc](https://github.com/coreos/etcd/pull/3844/files) as you suggested, to pull etcd from the latest images. Please try (now merged in master branch) and let me know if you find any other issues.

I tried it and it worked for me. Thanks,

[2015-11-10 06:07] HuKeping commented on #3843
Wow, thanks for the quickly fixing!

[2015-11-10 06:07] #3843 closed

[2015-11-10 06:08] gyuho commented on #3843
Np!

[2015-11-10 12:03] HuKeping opened #3845 "Can not set some value to a key"
Hi there,

It seems `etcd` server will use space to replace the `+`? I get
[code]

when doing
[code]

Is this intentional or a bug?

[2015-11-10 14:18] weldpua2008 opened #3846 "etcd v2.2.1 with enabled authentication allows modify any key without credentials"
Hi,

I created a 3 node cluster.
[code]
it's ok
[code]
errorCode: 110

[code]
returns Root Some val

[code]
changes value

How to avoid that non-authenticated user can change values? **Or it's a bug**?

[2015-11-10 15:40] gyuho commented on #3845
Please try `curl -L -XPUT http://localhost:2379/v2/keys/test -d value="He%2b%2bllo";`.
Seems like we need to encode as in URL when we send request through `curl`.
`etcdctl` does not need this. `etcdctl` works well with `+` sign.

@xiang90 Do we need to document this?

[2015-11-10 15:54] raoofm commented on #3846
@weldpua2008 as mentioned in the [docs](https://github.com/coreos/etcd/blob/master/Documentation/auth_api.md#roles)

guest role has read * and write * access.

so when you are passing a user in the curl statement with a -u flag, this means that you want the user to be authenticated. But in the last case where you are not passing any user, then etcd by default uses guest role and provides read and

[2015-11-10 16:05] #3766 closed

[2015-11-10 16:30] yichengq commented on #3840
@sterfield I would recommend you to read our security doc first, and understand it totally before any discussion: https://github.com/coreos/etcd/blob/master/Documentation/security.md

/cc @gtank

[2015-11-10 17:01] yichengq opened #3848 "improve watch feature"
#### To-do list

- [x] bad abstraction in kv layer, add watch ID to identify multiple watches in one watch channel: #3842

problem: One watcher includes multiple watches, and their events are sent out through one channel. For the received event, user would like to know which watch it belongs to.

<hr>

- [x] the way to return watched events in one txn: https://github.com/coreos/etcd/pull/4091

pro

[2015-11-10 17:04] yichengq commented on #3848
The first points have discussed with xiang. The fifth point was mentioned before, and i also list it here. let me know if you have any thoughts or want to reorganize the list.

[2015-11-10 17:05] sterfield commented on #3840
@yichengq Thanks for your answer.

I did read the security doc, and re-read it again after your message, just to be sure. I still don't know what could be my error (if any).

There's two mention in the security doc:
* activate the HTTPS transport
* activate the HTTPS transport and the client authentication

I understand them both, and I managed to make both works. However, this is not what I want

[2015-11-10 17:42] sterfield commented on #3840
Quick discussion with a colleague, and he thinks that the client certificate authentication is done by the SSL layer.
That would explain why without HTTPS, etcd is not doing client certificate authentication.

If that's confirmed, then I have my answer ("it's not possible") and the ticket can be closed.

Thanks,

[2015-11-10 17:43] xiang90 commented on #3848
The internal go chan is not the real issue. The real issue is for server-client interaction. The client uses one stream per watcher, which means one stream per multiple watches. The client needs to have a way to figure out which watch the received event belong to.

I think we can try batched events in one watch response first.

Another thing we need to add is cancellation.

[2015-11-10 17:45] xiang90 commented on #3690
Fixed via #3847

[2015-11-10 17:45] #3690 closed

[2015-11-10 19:24] gtank commented on #3840
@sterfield Yes, as far as I know it's not possible to do what you want. In Go, the TLS connection is the only part that pays attention to client certs at all.

The way this is usually handled is by terminating the SSL connection at a load balancer and injecting HTTP headers that contain the information from the client cert. [This post](http://serverfault.com/questions/437705/is-it-possible-to-do-c

[2015-11-10 19:24] #3840 closed

[2015-11-10 20:21] sterfield commented on #3840
That's what I feared.

Many thanks for your explanation and your link.

Best,

[2015-11-11 00:15] philips commented on #3624
@yichengq lets make it 6 then, it just needs to be some number that isn't 0.

[2015-11-11 00:22] gtank opened #3850 "etcd should warn on contradictory TLS settings"
As seen in #3840 it is possible to enable client cert auth without supplying full TLS assets. This isn't a configuration that makes sense, so we should probably let people know when they've done it.

[2015-11-11 00:43] yichengq opened #3852 "`cluster is healthy` returned by `etcdctl cluster-health` is sometimes confusing"
[code]

an i/o error connecting to a down host returns "cluster is healthy" sounds weird. Maybe we could say `cluster is degraded` at this time.

/cc @philips @vcaputo @ecnahc515

[2015-11-11 01:16] philips commented on #3624
6 for degraded, 7 for unhealty, I am fine with this.

[2015-11-11 01:21] xiang90 commented on #3852
And I do not really think cluster-health can give you an accurate view by any mean.

How do we know the second member is actually down and the cluster is degraded only by seeing an io time out? There might be a client side connection issue the the second server. I feel adding more state will just complicate the situation.

The only thing we can reliably tell the user is the cluster is healthy or u

[2015-11-11 02:06] jonboulle commented on #3846
thanks @raoofm !
@weldpua2008 closing as that should have addressed your question - please re-open if not.

[2015-11-11 02:06] #3846 closed

[2015-11-11 02:43] jonboulle commented on #3623
@glevand have you tried building with `-tags arm64` ?

[2015-11-11 02:46] jonboulle commented on #3815
ecantreproduce :-(

[2015-11-11 02:50] xiang90 commented on #3815
@jonboulle You need first do ./build, then you will have gopath under etcd. Then you should not remove that generated gopath. Then you do ./script/generate.sh. I can reproduce on os x.

[2015-11-11 04:06] sherlockhua commented on #1232
+1

[2015-11-11 11:09] ymote commented on #2214
still have the issue on v2.2.1

docker run -it -p 4001:4001 -p 2379:2379 -p 2380:2380 dspfac/etcd /bin/etcd -name $ETCD_NODE_NAME -data-dir=/data -initial-advertise-peer-urls http://$HOST_IP:2380 -listen-peer-urls http://$LOCAL_IP:2380   -listen-client-urls http://$LOCAL_IP:4001,http://$LOCAL_IP:2379 -advertise-client-urls http://$LOCAL_IP:4001,http://$LOCAL_IP:2379 -discovery $DISCOVERY_URL -init

[2015-11-11 13:27] HuKeping commented on #3845
Not only curl, also via the http requst from `Golang` this will happen.

[2015-11-11 14:04] rismoney commented on #2419
Apparently i didnt get notifications for this issue. The proxy works perfectly on windows.

My issue, for interested readers was the URLs for peer abd advertisements on the etcd cluster needed to be changed from 0.0.0.0 to actual hostnames.  This way the proxy does not get confused when it learns who to use and the IP space is then incorrect from the proxy perspective.

[2015-11-11 14:39] mickep76 opened #3854 "RFE: Option for listing hidden keys"
Hi

Would it be possible to add an option to show hidden fields for a Get until v3 removes the hidden feature using a underscore prefix.

**Example:**
[code]

[2015-11-11 15:12] gyuho commented on #3845
Then I think it's expected since it's sent in URL format right? Did you try etcd client? https://github.com/coreos/etcd/tree/master/client

[2015-11-11 16:01] cmoad commented on #623
+1 as many docker images include curl but not etcdctl.

[2015-11-11 19:15] #3522 closed

[2015-11-11 19:26] jonboulle commented on #3852
I agree with @xiang90 on this - I think it's overloading this command for it to error out when the client can't reach one of the nodes. Can we just log warnings like "could not reach node xxx" , but still return that the cluster is healthy - and then we can clearly define in the docs what "the cluster is healthy" actually means

[2015-11-11 19:40] yichengq commented on #3852
My thought is that `cluster is healthy` sounds really strong, and it could be used when all members are healthy. And `cluster is workable` is printed out when some member is healthy. `cluster is unhealthy` when the cluster cannot make progress.

I agree that whatever the result is, it is always the view that is seen by `etcdctl cluster-health`. Moreover, I think it needs to explain what it sees in

[2015-11-11 19:42] jonboulle commented on #3852
be used when all members are healthy.

But this could still be true even if the etcdctl client just happens to
have a network blip reaching one of the members...

On Wed, Nov 11, 2015 at 11:40 AM, Yicheng Qin <notifications@github.com>
wrote:

[2015-11-11 19:50] yichengq commented on #3852
@jonboulle One one side, i think we have different definition on `healthy` word. One another side, we need to admit that the result is just the view of etcdctl. If the cluster is healthy, and etcdctl cannot reach any of them, it will say the `cluster is unhealthy`.

From admin/user side, they care about these three status. If the cluster is fully healthy, they don't need to do anything. if the clu

[2015-11-11 19:57] jonboulle commented on #3852
On Wed, Nov 11, 2015 at 11:51 AM, Yicheng Qin <notifications@github.com>
wrote:

See, I would disagree with this behaviour. I think it should rather say
"cannot reach any nodes in cluster". It doesn't have enough information to
judge the health of the cluster (as I'm defining it).

[2015-11-11 21:09] xiang90 commented on #3852
@yichengq etcdctl should not.

"cannot reach any nodes in cluster". It doesn't have enough information to
judge the health of the cluster (as I'm defining it).

@jonboulle I agree with you. etcd should simply say unreachable and cannot determine the status of the cluster.

[2015-11-11 21:22] yichengq commented on #3852
"cannot reach any nodes in cluster". It doesn't have enough information to
judge the health of the cluster (as I'm defining it).

That would be better, and helps to distinguish the status clearly. It is really nice to explicitly differentiate the case that etcdctl cannot connect to the member and the member is unhealthy.

[2015-11-11 21:34] xiang90 commented on #3773
@yichengq Ping on this one. Can you please try to reproduce it?

[2015-11-11 23:28] philips commented on #3852
We can write a new tool but I think it is reasonable to have a tool that returns non-zero if members are unhealthy or unreachable. Perhaps `etcdctl cluster-ping` or something?

etcdctl cluster-ping --fail-one
etcdctl cluster-ping --fail-quorum

I dunno

[2015-11-12 21:01] xiang90 opened #3859 "extensive CPU usage when gRPC clients timeout"
I create 5000 clients and 10 stream per clients to an etcd server. And then I close all gRPC connection at client side. After a while, the server starts to kill the streams and the CPU usage starts to increase. I have not investigated more into this issue at all.

[2015-11-13 01:59] jonboulle commented on #3852
`etcdctl member-health`

On Wed, Nov 11, 2015 at 3:28 PM, Brandon Philips <notifications@github.com>
wrote:

[2015-11-13 15:40] zadoryzsolt opened #3861 "Proxy cannot recover after hard reset"
Hello,

I have a standalone etcd cluster and a proxy on separate virtual machines.
When I make a hard reset on both machines the cluster can recover but the proxy cannot.
It seems that it leaves the cluster file in the data dir unreadable or empty.

It would be really nice if the proxy could recover as well, not just the cluster.

Etcd version: 2.2.1
Error from journal: "etcdmain: unexpected end o

[2015-11-13 15:52] xiang90 commented on #3861
@zadoryzsolt Right. The proxy is not that solid right now. We should fix this issue.

[2015-11-13 21:39] jonboulle commented on #3854
@mickep76 This isn't something we're going to do, but we might accept it if someone proposes an implementation. One requirement would be that it has to be opt-in at both the API level and the etcd server level (i.e. it would need to be a flag to the etcd binary to enable this behaviour).

[2015-11-13 21:50] gyuho commented on #3827
Thanks for reporting. I will investigate and try to resolve this.

[2015-11-13 21:51] jonboulle commented on #3778
We need to stop attempting to send the snapshot until the peer comes back online.

[2015-11-13 22:32] xiang90 opened #3863 "v3 benchmark tool"
- [x] refactor existing code
- [x] merge in watch memory bench code

--------

Brief design summary / implementation status

### Global options
- [x] `--conns` - Number of connections to make to the etcd cluster. If a cluster with multiple members is specified, the connections will be evenly spread across the members (avoid conn is smaller than the number of members).
- [x] `--clients` - Number of

[2015-11-13 23:12] xiang90 commented on #2658
For v3, the average memory consumption per watch is reduced to less than 1kb when you have O(1k) clients with O(100) watchers per client.

[2015-11-13 23:12] #2658 closed

[2015-11-13 23:25] apatil opened #3864 "Intermittent etcdhttp: got unexpected response error (etcdserver: request timed out)"
Hi all,

I'm running a single node etcd 2.2.0 (e4561dd) cluster on Ubuntu 14.04 on OpenStack, with options name, listen-client-urls, listen-peer-urls, advertise-client-urls, initial-cluster-master, initial-advertise-peer-urls and data-dir set.

It's backing a single-node test Kubernetes cluster that has scheduled a couple dozen pods, but isn't changing much. Every few minutes, I see

[code]

in th

[2015-11-13 23:56] jonboulle commented on #2658
Woo-hoo!

On Fri, Nov 13, 2015, 15:12 Xiang Li <notifications@github.com> wrote:

[2015-11-14 02:27] xiang90 commented on #3864
@apatil Do you have access to any cloud environment? If you can reproduce the issue there, it would be very helpful.

[2015-11-14 17:39] apatil commented on #3864
@xiang90 I do, yes. I'll try to get you a simple repro.

[2015-11-14 17:40] xiang90 commented on #3864
@apatil Great. Thanks!

[2015-11-14 20:30] xiang90 opened #3866 "raft: implement leader steps down"
From CONSENSUS: BRIDGING THEORY AND PRACTICE by diego.

A server might be in the leader state, but if it isn’t the current leader, it could be needlessly delaying client requests. For example, suppose a leader is partitioned from the rest of the cluster, but it can still communicate with a particular client. Without additional mechanism, it could delay a request from that client forever, being una

[2015-11-14 20:33] xiang90 commented on #3787
@yichengq Can you please provide more information about how to reproduce this issue?

[2015-11-14 20:41] gyuho commented on #3866
Just to clarify, is this issue about improving the watch(er) implementation? Or do we need change on client implementation as well? Thanks,

[2015-11-14 20:43] xiang90 commented on #3866
First, we need to improve raft. So that the leader can actually step down itself. Second, we need to improve watch implementation: if a server is partitioned, it should cancel all its watchers to avoid forever watching. Third, the new lease feature also needs leader stepping down.

I do not have plan for client side implementation right now.

[2015-11-14 20:54] gyuho commented on #3866
Makes sense. Thanks for clarification!

[2015-11-15 20:06] filosganga opened #3867 "Etcd being shutting down after scheduling unit with fleetctl"
Evey time I schedule a unit with fleetctl, the etcd2 on the target machine stop himself:

The relevant journal is:
[code]

It is a proxy etcd2.

[2015-11-15 20:11] filosganga commented on #3867
I am dumb!!! The unit was declaring Requires=etcd.service.

[2015-11-15 20:11] #3867 closed

[2015-11-16 00:53] xiang90 commented on #3786
Fixed by #3865

[2015-11-16 00:53] #3786 closed

[2015-11-16 02:09] yichengq commented on #3787
I can reproduce it by
1. starting 3-member etcd cluster which enables v3demo
2. remove one member from the cluster
3. the removed member hangs
If you SIGQUIT the removed member, it will print the log as above.

[2015-11-16 02:10] xiang90 commented on #3787
@yichengq Awesome. Thanks.

[2015-11-16 03:17] #3784 closed

[2015-11-16 03:26] yichengq commented on #3773
The way to reproduce it:
1. start 3-member cluster with member A,B,C
2. stop B
3. propose 20000 requests to the cluster
4. restart B, and B is recovered from incoming snapshot
5. stop A, C
6. restart A and let B becomes the leader
7. propose requests to B
8. B fatal

The root cause is the `kv` variable in `snapshotStore` is not updated in time when recovering from incoming snapshot, and keeps `kv`

[2015-11-16 06:49] gyuho commented on #3599
What's the status of this? Do we still have the wrong implementation in `proxy` package? Does any other ticket address this issue?

[2015-11-16 06:54] gyuho commented on #3806
@yichengq I first approached by describing the `raftpb.MessageType` in the logging message
but we think it makes debugging too verbose. If we want debugging or warning messages
to be more helpful, we could create a wiki for debugging and improve the documentation.

For this issue, I will try to improve the raft documentation that people can refer while debugging
(e.g. A `MessageType` means B).

[2015-11-16 07:12] yichengq commented on #3806
@gyuho I think for this warning messages to be more useful, it could tell users that raft internal messages are dropped due to XXX, and prints out detailed info in debug-level logging.

MsgProp is a special type. It is used to redirect proposals. If one MsgProp is dropped, the corresponded user request cannot finish. So users may want to know about the dropping status of MsgProp. But we may add re

[2015-11-16 07:15] gyuho commented on #3806
I see what you mean. I will try again tomorrow. Thanks!

[2015-11-16 16:45] apatil commented on #3864
Is this issue superseded by/redundant with https://github.com/coreos/etcd/issues/3812 ?

[2015-11-16 16:48] xiang90 commented on #3864
no they are different. it is important to find out why this happens to a one member cluster with mid load.

[2015-11-16 18:02] yichengq commented on #3472
@crawford and @mjg59 are in the process to figure out the most secure and standard way to provide key/cert. It is expected to have some result at the end of next week. I don't want to build some temporary key/cert for just two or three weeks, so I will let this issue pend on their works now.

[2015-11-16 18:22] xiang90 commented on #3472
Sounds like we should move this out of 2.3 alpha1

[2015-11-16 20:14] ajaybhatnagar opened #3874 "etcdmain fails to start"
Followed steps defined on the link but startup fails with the errors below: Probably incorrect localhost address used in startup.

2015-11-16 20:09:52.579262 I | etcdmain: setting maximum number of CPUs to 4, total number of available CPUs is 4
2015-11-16 20:09:52.579278 W | etcdmain: no data-dir provided, using default data-dir ./default.etcd
2015-11-16 20:09:52.579478 C | etcdmain: listen tcp 27

[2015-11-16 21:07] ajaybhatnagar commented on #3874
Ignore the issue. Cause was /etc/hosts file with incorrect address. Thanks

[2015-11-16 21:07] #3874 closed

[2015-11-16 21:08] gyuho commented on #3874
Ah that makes sense. Thanks,

[2015-11-17 00:43] #3815 closed

[2015-11-17 04:32] marcellodesales commented on #623
:+1: @cmoad @kazhang

[2015-11-17 05:06] qq690388648 opened #3878 "Does the etcdctl need insecure flag?"
I set up an etcd server with <code>trusted-ca-file</code> flag and other flags about security mentioned in https://github.com/coreos/etcd/blob/master/Documentation/security.md, and it worked well with <code>curl</code>, but when I used etcdctl, it reported <code>etcd cluster is unavailable or misconfigured</code>.
I thought it is because of the certificate I used is self-generated, so I thought <c

[2015-11-17 05:16] #3803 closed

[2015-11-17 05:27] spacejam opened #3879 "etcd serves stale read requests before log is caught up during recovery/startup"
Steps to reproduce:
1. write many monotonically increasing values to a key
2. restart server while trying to read the key in a loop
3. observe several values returned as the log catches up

It should wait until the log has caught up before serving reads.

[2015-11-17 05:58] xiang90 commented on #3879
@spacejam If you want to prevent stale read, you need to specify quorum=true.

[2015-11-17 06:09] philips commented on #3879
I think people are looking for an SLA for how "fresh" the results are. For example if we can give someone a GET request that only succeeds if the last successful heartbeat RPC was X seconds ago.

[2015-11-17 06:24] gyuho commented on #3878
Can you provide more detail about how you set up etcd in first place? `etcd` or `etcdctl` does not have `insecure` flag, as far as I know. Did you try `etcdctl -h`? It will show you how to specify your cert/ca/key file.

[2015-11-17 06:25] xiang90 commented on #3878
@qq690388648 For curl, you added the -k flag?

[2015-11-17 07:42] qq690388648 commented on #3878
@gyuho  @xiang90
Sorry for my lazy..
I set up the <code>etcd</code> with command below:
[code]
And use <code>curl</code> to access <code>etcd</code>:
[code]
The <code>etcd</code> return:
[code]
But when I use <code>etcdctl</code> to access <code>etcd</code>:
[code]
The <code>etcd</code> return:
[code]

[2015-11-17 08:07] spacejam commented on #3879
Is there a case where it is desirable to serve read requests before the local state is fully recovered?  This is likely to involve serving state that is far older than typical follower lag.

[2015-11-17 15:54] xiang90 commented on #3879
@spacejam I am curious about the use case. If user really care about the "freshness" more than linearizability, it might make sense to add a feature to block on the client request until:

1. fully applied existing entires
2. or fully caught up the current leader
3. or caught up with current leader at least N second ago

Or user can simply specify quorum=true.

But I am not convinced that user need

[2015-11-17 17:18] #3787 closed

[2015-11-17 17:24] xiang90 commented on #3760
@jonboulle @philips @eyakubovich @gyuho
Any idea how to solve this one? The simplest way is to just copy in license file. Or we have to patch godep. (I think there is an issue for godep long time ago)

[2015-11-17 17:25] xiang90 commented on #3760
Great https://github.com/tools/godep/commit/dcbe29c7a18887497b4857e64665d25be43f7c7e this is merged. I will just update godep and push in licenses

[2015-11-17 17:26] gyuho commented on #3760
Thanks!

[2015-11-17 18:50] philips commented on #3624
cc @colhom

[2015-11-18 02:21] qq690388648 commented on #3878
Oh, sorry for my misunderstanding of the <code>--ca-file</code> flag of <code>etcdctl</code>, setting this flag to the certificate of server can solve the security problem introduced by self signed certificate.
I will close this issue soon, thanks again, @gyuho @xiang90

[2015-11-18 02:25] gyuho commented on #3878
Awesome! Thanks

[2015-11-18 02:54] #3878 closed

[2015-11-18 03:38] xiang90 commented on #3653
@martende As @yichengq mentioned, we are not familiar with windows. And this seems not to be an etcd specific issue. It would be great, if you can try the script @yichengq provided.

I am going to close this issue due to its low activity. Please reopen it if you can provide more information.

[2015-11-18 03:38] #3653 closed

[2015-11-18 03:40] xiang90 commented on #3363
@fraenkel Are you still interested in working on this issue?

[2015-11-18 06:09] dalanlan opened #3886 "'Error: client: no endpoints available' when etcdctl talks to etcd"
- Error msg

[code]
- etcd flags

single etcd 2.2.1
[code]

I was thinking `http://0.0.0.0:4001` is the so-called involved non-published client endpoint, apparently not in this case(`http://127.0.0.1:2379,http://127.0.0.1:4001` instead), which seems confusing to me.
Could you please kindly clarify this for me?

[2015-11-18 06:23] xiang90 commented on #3886
@dalanlan

No. Please check the error message from etcdctl. It says `non-published client endpoints(http://127.0.0.1:4001,http://127.0.0.1:2379).`

etcd should publish a reachable url rather than local loopback as you did. If you want to use localhost for some reason, please use no-sync.

[2015-11-18 06:23] #3886 closed

[2015-11-18 06:26] dalanlan commented on #3886
yeah, indeed.
What bothers me is that it's very likely (at least from the doc) `-listen-client-urls` is so-called flag that used here.

[2015-11-18 10:41] dalanlan commented on #3886
@xiang90 My humble thought is that if `--advertise-client-urls` has anything to do with this, it should not be considered as [a clustering flags](https://github.com/coreos/etcd/blob/master/Documentation/configuration.md#-advertise-client-urls).

[2015-11-18 11:20] fraenkel commented on #3363
Sure. Let me see what I can do in a few days.

[2015-11-18 12:13] crisidev opened #3888 "Gauges about total key counters are always reporting 0"
Hello, I am working on monitoring etcd using prometheus. I am currently using version 2.2.1, but all the gauge counters for key numbers are always returning 0. I have keys set by fleet and I have also tried to set keys manually, but the numbers are not changing.

Example:
[code]

The only counter reporting is the expired one.

Am I missing somenthing? From the code, I can see you are increasing th

[2015-11-18 15:07] apatil commented on #3864
I still haven't managed to come up with a simple repro case, but I have gotten some more information.

In addition to 2.2.0, this happens with versions 2.0.13 and c4672ced3e0a0dc2232af3194d00d869516866f1 . I'm able to convince myself that it's less frequent with c4672ced3e0a0dc2232af3194d00d869516866f1 , but couldn't swear to it.

Also, I took a look at traffic with the new etcd-top tool. In most

[2015-11-18 15:24] apatil commented on #3864
Also of interest, it looks like kube-apiserver is using the go-etcd client: https://github.com/kubernetes/kubernetes/blob/54706661ad72d62ea0b494112a74e0467093c9f4/cmd/kube-apiserver/app/server.go#L52 . The default timeout seems to be 1s: https://github.com/coreos/go-etcd/blob/de3514f25635bbfb024fdaf2a8d5f67378492675/etcd/client.go#L79 .