[2016-10-25 23:31] #6584 closed

[2016-10-26 00:09] cesarghali opened #6731 "Question: leaseID in NewUniqueKV"
Is there a reason why `leaseID` is not passed to `putNewKV` function in `NewUniqueKV`: https://github.com/coreos/etcd/blob/12e4dfa9c47434e5d63d1cc0c230b78e8f06c3e4/contrib/recipes/key.go#L68? This makes passing a `leaseID` value to `NewUniqueKV` useless.

If that is not intentional, is there a plan to fix it?

[2016-10-26 01:09] soyking commented on #6719
@sinsharat

Actually I simplify the situation, and there are some other conditions with the "!=", just like:

* If other_conditions && some_key != some_value Then do_something

So if I want use `Else`, I should write:

* If other_conditions || some_key == some_value Then null Else do_something

But the conditions in `If` can just be calculated by `&&`, am I right? So is there any way to support `|

[2016-10-26 01:18] heyitsanthony commented on #6630
It should happen if the grpc connection is closed before the watch client. `clientv3.Close` won't trigger it any more because it's closing the watch client now instead of only closing the grpc connection.

This should do it:
[code]

[2016-10-26 01:23] heyitsanthony commented on #6731
That's not really meant to be a stable API; it probably shouldn't be exported at all...

[2016-10-26 01:35] heyitsanthony commented on #6728
This is a data race from concurrent calls to `Fatalf`, not an actual race in the etcd code. What was the `Fatal` logging output?

[2016-10-26 01:36] xiang90 commented on #6719
It is not supported. But it is not hard to add. But we do not plan to make it complicated right now. Do you have a specific use case for it?

[2016-10-26 05:09] heyitsanthony commented on #6719
`!=` and OR'ing slices of conjunctions will buy a full boolean algebra via disjunctive normal form; there's no way to model implication with the current semantics.

[2016-10-26 05:49] sinsharat commented on #6722
Guess this issue is solved now. Hence closing this.
Thank you!

[2016-10-26 05:49] #6722 closed

[2016-10-26 06:14] prashanthpai opened #6733 "embed: Client cannot connect on restart of embedded server."
I'm not quite sure if this is an issue with embed or the etcd client. Or I could be doing something I'm not supposed to.

Here's the reproducer workflow.
1. Start embedded server in standalone mode.
2. Do some client request on client endpoint. This succeeds.
3. Restart embedded server to join an existing cluster.
4. Do some client request on client endpoint. This fails.

Failure:

[code]

Setup:

[2016-10-26 06:25] sriedel opened #6734 "Documentation on wiping a cluster member from discovery.etcd.io"
Hi,
I've been trying to set up a 3 member etcd cluster in coreos under virtualbox for a few days now, and I have a few issues.

My main issue is that after fiddling around with the could-config.yml (in which I had a few mistakes, being a noob at etcd and coreos), now whenever I setup and start a new cluster two out of the three members throw an error during discovery, complaining that their member

[2016-10-26 06:29] soyking commented on #6719
@xiang90

I just use it in my personal project. But I think supporting basic condition action is worthy, at lease `!=`. Hope to see it on your schedule.

[2016-10-26 06:32] soyking commented on #6719
@heyitsanthony

alright… thank you.

[2016-10-26 06:41] sinsharat commented on #6734
@sriedel Hope this helps:
https://coreos.com/etcd/docs/latest/clustering.html
Also if you are not using it in production environment, would recommend you to delete the data dir created on etcd startup before you try again.

[2016-10-26 07:35] YuleiXiao opened #6736 "what is used for about ttl in session?"
What is ttl in session used for? I thought it is the timeout for lock.
But I create a locker by ```concurrency.NewLocker``` with ```concurrency.WithTTL```, and ```Lock```, sleep for some time over the ttl, and create another locker locked on the same key, but it blocked.
Do I understand not correct?

[2016-10-26 08:00] nekto0n commented on #5317
I did [a bit of experimenting with benchmark](https://github.com/nekto0n/etcd/blob/d73eec82f03929508333e591b00501a22e1989d6/mvcc/index_bench_test.go) and got these numbers:
`go test -v github.com/coreos/etcd/mvcc -bench BenchmarkIndexRestore -run ^$ -benchtime 10s`

[code]

Can you share some directions where they may be hanging from? :)

[2016-10-26 08:07] heyitsanthony commented on #6736
It's a lease wrapper that refreshes a lease until it is closed. It is blocking because the session that holds the lock is still alive and refreshing the underlying lease.

[2016-10-26 08:11] YuleiXiao commented on #6699
@yudai Thanks, there is ```Err()``` in ```WatchChan```, that is what I want.

[2016-10-26 08:14] YuleiXiao commented on #6736
@heyitsanthony ok, it looks I understand not correct. But is there anything to make session release the lock when timeout?

[2016-10-26 08:17] YuleiXiao commented on #6736
I do not get why we need a session ttl in lock?
What is the scene to use it?

[2016-10-26 08:21] heyitsanthony commented on #6736
It's a distributed lock-- if there's no TTL / an infinite TTL and the lock holder crashes, the system can't make forward progress because the lock will never be released.

[2016-10-26 08:27] YuleiXiao commented on #6736
@heyitsanthony Sorry, I am confused now.
You mean if I set TTL 1s, the lock will be released after 1s?

[2016-10-26 08:30] heyitsanthony commented on #6736
No. It's for liveness checking. If the lock owner does not refresh its session lease within 1s (e.g., the process crashed), etcd will revoke the lease and the next waiter can claim the lock. If the lock owner keeps refreshing its session lease, it will not lose the lock.

[2016-10-26 08:34] YuleiXiao commented on #6736
ok, understand it.

[2016-10-26 08:35] sriedel commented on #6734
@sinsharat: thank you for the pointer, however something still seems odd.
I've already had the default "Environment=ETCD_NAME=%m" in the etcd2.service file. Acting on the documented passage "Each member must have a different name flag specified. Hostname or machine-id can be a good choice. Or discovery will fail due to duplicated name." I've tried changing the name for something I've never used be

[2016-10-26 08:40] sriedel commented on #6734
One addendum: /var/lib/etcd2 is empty both for the failed hosts and for the host that successfully joined the cluster (probably because the cluster state is only written once all members have joined?).

[2016-10-26 08:53] #6736 closed

[2016-10-26 09:15] sinsharat commented on #6734
@sriedel yes since you are trying to create a 3 member cluster, cluster will not be up unless atlease two members have joined.
One question i have is why you are trying to set the below as env variables:
ct 26 08:20:31 master-c etcd2[925]: recognized and used environment variable ETCD_ADVERTISE_CLIENT_URLS=http://:2379
Oct 26 08:20:31 master-c etcd2[925]: recognized and used environment variable E

[2016-10-26 09:30] prashanthpai commented on #6733
This issue is likely to be due to the active TCP connection:

[code]

I couldn't find anything in the client API to close connections. Tried again by using `Client.Sync()` and setting `KeepAlive` to 0. It's still the same.

[2016-10-26 09:57] sriedel commented on #6734
@sinsharat: Those environments are created by cloudos-install from the cloud-config.yml configuration. According to https://coreos.com/os/docs/latest/cluster-discovery.html I understood that these configuration parameters need to be supplied (and ports 4001 and 7001 are deprecated, thus I removed the references to them). And the documentation that you pointed me to said that a unique name paramete

[2016-10-26 10:39] sriedel commented on #6734
@sinsharat: I've tried again both with only coreos.etcd2.discovery and both coreos.etcd2.discovery and coreos.etcd2.name set, in both cases the results were the same originally described; log extract:

[code]

[2016-10-26 11:55] sinsharat commented on #6734
```Oct 26 10:37:34 master_b_1884e5bc970225f5f2f09dc61a845ab6a5760bcf etcd2[977]: But etcd could not find valid cluster configuration in the given data dir (/var/lib/etcd2).```
@sriedel From what i understand from the logs its not getting the cluster configuration, in the path /var/lib/etcd2.
@gyuho can you help on this for the exact reason for the problem?
Thank you!

[2016-10-26 12:47] nenzhang commented on #6706
I tried, and I detected it received the different kinds of HTTP errors, like 400, 403, 500...etc.
so this is normal, right? as they all indicated that the HTTP server has problem...

[2016-10-26 14:06] gyuho commented on #6733
@prashanthpai Do you have logs in the new server that you are adding?

And please note that if you add 1 server to single-node cluster, the cluster loses its quorum and triggers leader election. I recommend to start with at least 3-node.

[2016-10-26 14:08] gyuho commented on #6734
@sriedel Did you use the same data directory previously for setting up another etcd cluster? You should delete all the data from previous cluster.

[2016-10-26 14:23] prashanthpai commented on #6733
@gyuho It's emedded etcd server, so I guess the logs are the stdout output you see above.

The 3 node quorum comment is valid but not so relevant here. This issue is reproducible only when etcdclient API is used programmatically. I don't see any issue when I use `etcdctl`.

Further, in my two node reproducer cluster, the health was good and the first node was leader.

[2016-10-26 14:25] prashanthpai commented on #6733
I'll see of I can find the log of the server from which the member was added.

[2016-10-26 14:40] prashanthpai commented on #6733
I put a sleep before shutting down embedded etcd server the second time in example code above.

[code]

Node 1 (192.168.56.25) logs:

[code]

Node 1 (192.168.56.26) logs - embedded server:
[code]

[2016-10-26 14:44] prashanthpai commented on #6733
Just out of curiosity, I attached gdb to the process that has embedded etcd server and client in them, then from gdb I manualy closed the residual/leaked socket fds and things worked just fine after that.

[2016-10-26 14:56] prashanthpai commented on #6733
So, what's also worked for me in the above example is this change w.r.t turning on `DisableKeepAlives`:

[code]

[2016-10-26 16:31] xiang90 commented on #6734
@sriedel

Did you reuse the discovery token? It is a one time token, you should not reuse it no matter if the cluster is bootstrapped or not

You cannot really wipe a member from discovery service. Again, it is one time token for bootstrapping ONLY. After that point, it is on the users to reconfigure the cluster. So you either successfully start the cluster or fail. But that token is over. And the

[2016-10-26 16:38] xiang90 commented on #6699
@YuleiXiao OK. Err() returns critical error that terminates watcher. Good to know it is what you were looking for.

[2016-10-26 16:38] #6699 closed

[2016-10-26 16:40] gyuho commented on #6733
@prashanthpai

1. You need to start the cluster that this node is added to first.
2. And start this embedded etcd server with correct configuration (correct `initial-cluster` flag)

[code]

indicates that it is misconfigured

[2016-10-26 16:48] gyuho commented on #6728
@heyitsanthony  https://travis-ci.org/coreos/etcd/jobs/170575410#L4032

Think we have two goroutines `Fatal`ing https://github.com/coreos/etcd/blob/master/etcdserver/server_test.go#L877?

[2016-10-26 16:50] xiang90 commented on #6706
@nenzhang I do not really understand what you said. Can you provide more context and some examples?

[2016-10-26 17:09] fanminshi commented on #6685
Lease expired during the time that hashes not being stable for about 20 seconds.  Therefore, invariant check failed to find the lease. Increasing lease TTL to 60 or 120 seconds will solve this problem.
[code]

[2016-10-26 17:33] gyuho commented on #6630
@heyitsanthony How about changing the test as

[code]

Currently it won't return `ErrConnClosing` as you said.

I am still not sure how we got the context error. Will try more to reproduce.

[2016-10-26 17:41] gyuho commented on #6720
@sinsharat @jszczepkowski Yeah... coreos.com docs are outdate. We will update soon.

[2016-10-26 17:46] gyuho commented on #6667
It works for me? Can you share the full commands to reproduce this?

[2016-10-26 17:48] xiang90 commented on #6720
@jszczepkowski There is no "official" http endpoint for v3. v3 is rpc based, it is defined here: https://github.com/coreos/etcd/blob/master/etcdserver/etcdserverpb/rpc.proto#L118, doc: https://github.com/coreos/etcd/blob/master/Documentation/dev-guide/api_reference_v3.md#service-cluster-etcdserveretcdserverpbrpcproto.

[2016-10-26 17:52] prashanthpai commented on #6733
Yeah I've done exactly the same. The two node cluster works flawlessly when CLI is used. It also works using etcd client API package **as long as only one instance of client** is present in the process space and **embedded etcd isn't restarted**.

[code]

Also works using client API:

[code]

[code]

In my original post, I commented out the first call to client API and doing just that makes the se

[2016-10-26 18:58] gyuho commented on #6733
I am confused.

So your question is

?

But this comment https://github.com/coreos/etcd/issues/6733#issuecomment-256426407 shows the same client error, which is expected because it will take some time for the new member to catch up the cluster data.

Or this error?

Since you are adding one member to single-node, the leader-lost is expected. You might want to wait a few seconds before you send cli

[2016-10-26 19:18] sinsharat commented on #6711
@xiang90 From what i have understood, adding only the two lines just before grpc dial option in clientv3/client.go dial func will support the metrics:
[code]

Apart from this we will need to update the glide.yaml and lock.yaml file with github.com/grpc-ecosystem/go-grpc-prometheus entries,
Also will need to add the package github.com/grpc-ecosystem/go-grpc-prometheus under cmd/vendor folder.

Was

[2016-10-26 20:16] fgrzadkowski commented on #6720
Does it mean that the recommended way to add/remove member via commandline is using `etcdctl` as using `curl` is not support for `v3`?

[2016-10-26 20:17] xiang90 commented on #6720
@fgrzadkowski Yes.

[2016-10-26 20:17] xiang90 commented on #6711
Right.

[2016-10-26 20:18] xiang90 commented on #6711
@sinsharat We also need to write docs for it and probably manually test it to ensure it works.

[2016-10-26 20:24] sinsharat commented on #6711
@xiang90 sure will write docs for it once i am done testing on it.
I have one doubt, how to test it manually, since via code for testing it like a person writing clientv3 will need to call the api grpc_prometheus.EnableClientHandlingTimeHistogram() in order to enable metrics.

[2016-10-26 20:27] xiang90 commented on #6711
@sinsharat Probably you need to write a small driver code for it. Using the client to issue some rpc calls, see the metrics actually changed.

[2016-10-26 20:33] sinsharat commented on #6711
@xiang90 can you elaborate more on the driver part, i didn't quite understand what exactly you meant.
Also i was thinking of writing a test case for it since the clientv3 supports creating a cluster so while testing we could have called the grpc_prometheus.EnableClientHandlingTimeHistogram(), checked the old metrics value, do a certain set of operation on the client and checked the new value on th

[2016-10-26 20:35] gyuho commented on #6711
How about something like https://github.com/coreos/etcd/blob/master/integration/cluster.go#L755? And just do some basic parsing?

[2016-10-26 20:39] sinsharat commented on #6711
@gyuho thanks for the reference. Sure will look into it and check how can i do something similar for this.

[2016-10-26 21:26] xiang90 commented on #6673
@deimosfr I am going to close this. It seems that it is a network issue, not etcd issue. Please reopen if you find it the other way. Thanks!

[2016-10-26 21:26] #6673 closed

[2016-10-26 21:27] xiang90 commented on #6652
OK. I am closing this out. We can add the error return part if other people also want it.

[2016-10-26 21:27] #6652 closed

[2016-10-26 21:43] xiang90 commented on #6731
@heyitsanthony Can we make them private?

[2016-10-26 22:28] gyuho commented on #6386
Logs show that it's hanging waiting from `<-chNoLeader`.

https://github.com/coreos/etcd/blob/master/clientv3/integration/watch_test.go#L715

I've running this test over 5k rounds but cannot reproduce yet...

[2016-10-27 03:40] WangFenjin opened #6739 "grpc-proxy: panic: send on closed channel"
Hi,

I depoy the grpc-proxy using branch master, from the log, it panics on send to closed channel. Logs as bellow.

[code]

[2016-10-27 05:23] prashanthpai commented on #6733
Thanks for trying it out. I'm sorry if I wasn't clear earlier.

I call `invokeClientOp()` twice, once before embedded etcd restart and once after in the same process. The cluster is always empty with no keys. The error I expect from **both calls** to `invokeClientOp()` is:

[code]

But this is what I'm getting for the second call to `invokeClientOp()` (after etcd restart):

[code]

    Since you a

[2016-10-27 06:06] sriedel commented on #6734
@gyuho: After every try to set up the cluster I nuked the VMs and the filesystems associated with them, and set everything up again from scratch. So yes, I've installed coreos now over 100 times... I wanted to avoid all cross-contamination from the old, failed cluster attempt. So yes, I deleted all data from the previous cluster.

@xiang90: I did not reuse the token. I get that it's a one time tok

[2016-10-27 06:17] xiang90 commented on #6734
Well, I am sure there is something wrong at your end if all you described are accurate. If you use different discovery token, then it does not really matter what member id is or how local etcd generates member id.

For the log
[code]
, it is pretty clear that you did reuse the token.

[2016-10-27 06:18] xiang90 commented on #6734
@sriedel

Also some log suggested that you machine has connection issues with discovery service:

[code]

I think you need to first sort out issues at your end.

[2016-10-27 06:39] sriedel commented on #6734
@xiang90: No I most definitely did not reuse the token. But how do I prove a negative to you?

And what does "context deadline exceeded" mean? What sort of issues am I looking for? What context? Whats the deadline? I can connect with curl on the command line just fine to discovery.etcd.io... I'll need a few pointers here since that message means next to nothing to me :(

[2016-10-27 06:46] xiang90 commented on #6734
@sriedel

The log clearly showed that you RESUE the token several times. You just need to read the log and see how many times the SAME token showed on different etcd startup.

 I do not know how you managed to do it. Maybe you just reused it or you configured systemd to restart etcd on failure. I think that is something you need to figure out first.

[2016-10-27 09:51] nenzhang commented on #6706
Hi Xiang
see the below fake code, I mean I add log printing in _parse_response__r function to check the returned status like below. thanks.
I refer to cetd lib.

    curl_easy_setopt(curl, CURLOPT_WRITEFUNCTION, _parse_response__r);
    res = curl_easy_perform(curl);

size_t _parse_response__r(char *ptr, size_t size, size_t nmemb, void *userdata)
{
parser = userdata;
........
            if (parse

[2016-10-27 10:30] sriedel commented on #6734
@xiang90: Ok, here's what I did step by step for the log-snippet above. Please tell me where I went wrong:

1. Create a new cluster token url via https://discovery.etcd.io/new?size=3 (since I want a 3 node cluster, I used size=3).
2. I created a stub cloud-config.yml as shown above, with the output of step 1 in the coreos.etcd2.discovery attribute
3. I created a new virtual machine in virtual box

[2016-10-27 10:55] YuleiXiao opened #6740 "Is CreateRevision 0 means key was not exist"
I want to do like that if a key is not exist then insert it. So I write txn like below. I put a key-value first, and execute this txn with different value, but I found that ```Succeeded``` is true.

[code]

[2016-10-27 13:08] sinsharat commented on #6711
@xiang90 I was able to test and verify whatever changes i have done is working fine. For this i started etcd manually and using the main code i had written was able to verify the metrics. Also for this i have written an example_metrics_test.go on the same basis under clientv3 package. The issue i am facing now is i am not able to test the clientv3 package since the test case TestDialTimeout is fai

[2016-10-27 15:04] xiang90 commented on #6734
That happens after you reused the token. I do not really know what went wrong after that. So I suggest you to not reuse the token at the first place.

Can you please attach all etcd logs (from the very beginning to the end, not just part of it) of all three machines directly? Most of your 11 steps are out of etcd scope.

[2016-10-27 15:48] heyitsanthony commented on #6740
CreateRev=0 should mean the key doesn't exist. It works for me:
[code]

[2016-10-27 16:44] gyuho commented on #6733
So when this client error happens

does etcd log show that there was a valid leader before this timestamp? This log tells that there was no leader at the time of client request.

<br>

I don't understand how the second client call with new TCP connection can fail from previous client request and receive the `has no leader` error. And your code uses v2 client, so grpc should not be related.

<br>

[2016-10-27 17:00] gyuho commented on #6706
Can you provide raw curl request with `-I` flag?
What's `cetcd`?

[2016-10-27 17:36] ederuiter opened #6742 "Etcd2 watcher (sometimes) keep getting old events"
I have run into some hard to debug problems with etcd. A couple of times a day some of our services which are using etcd will go into a almost infinite loop.
I have traced it down to a watcher that goes wild .. as it goes wild, it will repeatedly get old events. So much that both the server and the client will eat all CPU available to them. The weird thing is that after a while the problem seems t

[2016-10-27 17:50] heyitsanthony commented on #6579
Really the server should reject unknown fields exactly for this reason (instead of having to roll out own crummy versioning system), but it seems that feature was removed from proto3 because [Google Knows Best](https://github.com/google/protobuf/issues/272).

[2016-10-27 17:54] gyuho opened #6743 "functional-tester: mvcc database space exceeded and tester kept running"
![screenshot from 2016-10-27 10-50-47](https://cloud.githubusercontent.com/assets/6799218/19778804/3e148e76-9c33-11e6-9e7a-3d045525658e.png)

tester kept getting `mvcc: database space exceeded` errors, and the tester just kept retrying the first failure case `kill all members`. It starts around round 349. We should just mark it as error or stop the tester. Since this happens, no other case is run.

[2016-10-27 17:56] xiang90 commented on #6743
Can you get the data dir and check what is the db size?

[2016-10-27 17:57] gyuho commented on #6743
@xiang90 @fanminshi Yeah it's over our limit

[code]

[2016-10-27 17:58] xiang90 commented on #6743
@gyuho actually can you check the db size? not the entire data dir?

[2016-10-27 17:59] gyuho commented on #6743
[code]

2.1G

@xiang90

[2016-10-27 18:03] xiang90 commented on #6743
@gyuho OK. Probably we also need to know why db is so large. We compact every round, it should not happen. I guess the tester stuck at somewhere and keep on putting keys until it fills up the db?

[2016-10-27 18:04] gyuho commented on #6743
Ok let me investigate more. Thanks.

[2016-10-27 18:45] #6606 closed

[2016-10-27 19:42] gyuho opened #6744 "raft: panic term should not be set when sending MsgReadIndex"
- Found in our functional-tester cluster
    - All logs and data can be found at https://console.cloud.google.com/storage/browser/etcd-functional-tester/prevote-term-panic-20161027
- Related to recent PreVote change in raft https://github.com/coreos/etcd/pull/6624

[code]

[2016-10-27 19:47] gyuho commented on #6743
Root cause was https://github.com/coreos/etcd/issues/6744 where one node was crashed with panic.

- `tester01-agent02` panic-ed at `2016-10-27 06:42:22.777152`
-  tester just kept retrying from `2016-10-27 06:42:22.886870`

[code]

We got `recovery error` but it continued to call `setHealthKey`. The tester should have cleaned up or just failed.

[code]

@fanminshi Can you take a look?

[2016-10-27 20:14] fanminshi commented on #6743
The problem occurs because tester doesn't clean up after we got a `recovery error`. This is due the fact that tester does not return a recovery error

[code]

and tester only clean up if there is an error

[code]

We can just return a recovery error if `f.Recover()` encounters an error to fix the issue.

[2016-10-27 20:14] heyitsanthony commented on #6630
@gyuho There's no running watchers in that example since the `readyc` stuff clobbers the concurrency between closing the client and creating a watch + closing the watch client. The watcher client will never see the closing error because it never tries to establish grpc stream.

[2016-10-27 20:17] gyuho commented on #6630
Ok got it. Thanks.

[2016-10-27 22:22] #6743 closed

[2016-10-27 23:12] gyuho commented on #6744
Here's what happened:

[code]

[code]

<br>
`2016-10-27` was the date in timestamps:

[code]

<br>
But at term 2421, agent02 panic:

[code]

So `r.send(msg pb.MsgReadIndex)` was called with `msg.Term != 0`. I am trying to find out how this happened when we only send `MsgReadIndex` through `(n *node) ReadIndex`, and agent02 was not even the old leader at term 2421.

[2016-10-27 23:51] xiang90 commented on #6740
@heyitsanthony's answer is prefect. I am going to close this.

[2016-10-28 01:20] nenzhang commented on #6706
Hi
with raw curl command, I tried one time, the return code always 0 with $?, and it will print the same message with zero end points:
{"message":"httpproxy: zero endpoints currently available"}

cetcd means that there exist one open source code project to deliver commands to etcd via C function in github:
https://github.com/shafreeck/cetcd/blob/master/cetcd.c

could you kindly help check whether

[2016-10-28 01:26] xiang90 commented on #6706
Can you create an issue in its github repo instead? The author knows more than us and would help you better.

[2016-10-28 01:29] YuleiXiao commented on #6740
@heyitsanthony @xiang90
My code is like this, I run it on yesterday master latest code. I thought ```Succeeded``` should be false, but it was true.
[code]

[2016-10-28 01:32] xiang90 commented on #6740
what is key at line 5?

[2016-10-28 01:41] YuleiXiao commented on #6740
Sorry, key is "test"

[2016-10-28 01:43] xiang90 commented on #6740
@YuleiXiao Can you reproduce this with a simple go program that can compile? (remove s reference and init the client). I can give it a try to see if it is a problem.

[2016-10-28 02:00] YuleiXiao commented on #6740
@xiang90 Thanks very much. When I was writing the simple go program, I found the problem. It is my code problem. I close this issue. Thanks again.

[2016-10-28 02:00] #6740 closed

[2016-10-28 02:02] xiang90 commented on #6740
no problem.

[2016-10-28 03:21] philips opened #6750 "wal: protect via a lock"
It would be really really helpful if etcd protected itself with a posix lock. Right now you can run two copies of etcd on the same datadir:

Launch etcd:

[code]

Launch a second etcd:

[code]

[2016-10-28 03:24] xiang90 commented on #6750
@philips There is a posix lock. The second one is actually hanging, not starting to serve client request. (your log also suggest that). What is the expected behavior, die?

[2016-10-28 06:38] prashanthpai commented on #6733
Yes. The etcd server log does show that there was a leader. This is also confirmed by listing members using `etcdctl` command.

That's exactly the mystery :) Do note that all this happens in the same process space. If etcd were a standalone external process, I won't see this issue as client connections terminate when the etcd process is restarted.

Although the v2 client may not have a `Close()` A

[2016-10-28 07:08] purpleidea commented on #6042
I forget if this is related to: https://github.com/golang/go/issues/4674 or not.

[2016-10-28 10:23] nenzhang commented on #6706
Hi
:)
do you have any official c development kit for using etcd? thanks

[2016-10-28 15:02] xiang90 commented on #6706
@nenzhang

No. we do not.

[2016-10-28 15:54] heyitsanthony commented on #6366
@xiang90 Has this shown up again? I think we can close this.

[2016-10-28 15:57] xiang90 commented on #6366
I never see it again. i think we can close this.

[2016-10-28 15:58] heyitsanthony commented on #6366
ack

[2016-10-28 15:58] #6366 closed

[2016-10-28 16:44] #6731 closed

[2016-10-28 16:53] cesarghali commented on #6731
Thank you @heyitsanthony for the quick fix.

[2016-10-28 17:26] heyitsanthony opened #6752 "benchmark and improve watch latency"
The current watch benchmark doesn't say much about the latency between receiving a put ack and receiving the event; it is mostly focused on measuring watch throughput.

I measured the watch latencies for this case in zetcd/cetcd; zetcd is about 10x slower than zk and cetcd is about 2x slower than consul.

[2016-10-28 17:27] xiang90 commented on #6742
@ederuiter

Hi, can you provide me a simple go program that I can run against a local etcd cluster to reproduce the issue you described? It would dramatically accelerate the speed to resolve this issue.

Thanks!

[2016-10-28 18:08] heyitsanthony commented on #6728
I suspect it's taking too long in `s.KV().Commit()` since the `Wait`s fail before `SaveNoCopy` runs causing recording the `SaveNoCopy` event to block forever:
[code]

[2016-10-28 18:27] timothysc opened #6753 "3.0.12-v2-mode snapshotting causing timeouts on leader election"
Running a load experiments on 3.0.12 against a v2 data set show leader election issues during snapshots.

Running the exact same experiment, same gear, on 2.3.7 shows no issues.

Logs can be obtained here:
https://drive.google.com/file/d/0Bzq0eFfVveNqdjVlakNXOC1iMnM/view?usp=sharing

xref: https://bugzilla.redhat.com/show_bug.cgi?id=1389804

/cc @wojtek-t @xiang90 @hongchaodeng

[2016-10-28 20:39] sinsharat commented on #6711
@xiang90 What all things do you expect in documentation? Will document it accordingly.
Thank you!

[2016-10-28 20:56] fanminshi opened #6754 "functional-tester: retrieving lease error"
The 3 nodes functional-tester experienced a failure when retrieving lease info failed at lease checking phase.

[code]

logs can be found at https://console.cloud.google.com/storage/browser/etcd-functional-tester/lease-retriving-error-20161028/

[2016-10-28 20:58] xiang90 commented on #6754
This print is wrong. seems like an easy fix.

[2016-10-28 21:23] fanminshi commented on #6754
The etcd log for agent-2(10.240.0.3) and agent-3(10.240.0.4) shows stream error when leaser stresser encounters an error. However, etcd log for agent-1((10.240.0.3) ) shows nothing.

[code]

[2016-10-28 21:41] xiang90 commented on #6754
@fanminshi Yea. It is strange. The network should be stable in the checking phase.

[2016-10-28 22:51] jdfless opened #6756 "high percentage failures from health endpoint"
We are running a 3 node etcd cluster, version 2.2.5 on Ubuntu 12.04. We have automated health checks that have noticed occasional failures, even when the cluster is in a 'healthy' state.

To investigate further I ran a loop that continually hit the health endpoint with `curl -sL http://127.0.0.1:4001/health` on the different nodes. Doing this saw between 5-15% failures in 10,000 attempts on each o

[2016-10-28 22:54] xiang90 commented on #6753
@timothysc

From the log I can see:

[code]

It seems that the machine experienced with some disk contention issue? Once it starts to write snapshot, other fsync can be pending for 4 seconds and then triggers election.

[2016-10-28 22:56] xiang90 commented on #6753
What is the size of the snapshot? If it is super large, probably you should put dedicated disk for WAL files by specifing wal-dir. I do not think we do anything difference since 2.3.7 about how we write snapshot.

[2016-10-28 23:05] xiang90 commented on #6753
@heyitsanthony Is it possible that the perf regression is caused by how we handle WAL? I think that is the only thing we have changed.

[2016-10-29 03:17] xiang90 commented on #6756
Do you have server side logs for the time when health checking fails?

[2016-10-29 03:24] #6386 closed

[2016-10-29 03:33] heyitsanthony commented on #6753
@xiang90 the main difference is the fallocate preallocation / getting rid of O_APPEND, but there should be fewer "meaningful" writes overall since we fixed the buffer stuff. What filesystem is this?

[2016-10-29 05:29] #6744 closed

[2016-10-29 05:31] xiang90 commented on #6685
This should be resolved by a nubmer of prs. Closing.

[2016-10-29 05:31] #6685 closed

[2016-10-29 05:45] gyuho commented on #6342
https://coreos.com/etcd/docs/latest/ is now up-to-date with v3.

[2016-10-29 05:45] #6342 closed

[2016-10-29 10:40] ederuiter commented on #6742
@xiang90
With this simple test program I am able to trigger it pretty reliable on my test machine: https://gist.github.com/ederuiter/39ea71b16274eaae5facf41aa270fbac
The test.sh runner script accepts a single parameter specifying the number of programs to spawn, with 1 it seems almost impossible to trigger it (I have seen it once) with 2 I can reproduce is almost every time.

The test program is q

[2016-10-29 17:32] jdfless commented on #6756
Nothing looks out of the ordinary, when left default at --debug=false, nothing is logged after basic startup info. When I elevate to --debug=true, I just see the health check calls as expected. Below are the logs of 9 calls as seen in their logs and server responses.

Log output:
[code]

[2016-10-29 17:35] xiang90 commented on #6756
Is this a 3 node clusters? or just one node? can you provide the log from all servers? are the look the same?

[2016-10-29 17:54] jdfless commented on #6756
It is a 3 node cluster, I was just running `curl -sL http://127.0.0.1:4001/health` on one node at that time. I do not see any relevant log info on the other nodes while doing that.

When I run `etcdctl cluster-health` (which shows the same error rate per node, but where I haven't seen it return the whole cluster being unhealthy) - each node shows a log like `/health remote:192.168.0.14:42177`, wit

[2016-10-29 17:58] xiang90 commented on #6756
There is a possibly related issue: https://github.com/coreos/etcd/pull/4968.

I am not sure about the root cause. The v2 health checking is time based. So it might not be accurate if you run etcd on slow machines. If there is no warning, error logging, I cannot help to debug unless you can reproduce it somehow on a env that we can access (awe, gce for example).

[2016-10-29 18:04] jdfless commented on #6756
Unfortunately we run on bare metal so not possible to share env. I appreciate you looking into it and I will look at #4968. Good to know about the v2 health checking being time based, is the health checking behavior different on newer versions? I will do some more investigation myself and update here if I find anything.

[2016-10-29 18:06] timothysc commented on #6753
Should be xfs, and same experiment on 2.3.7 did not show this issue.
/cc @mffiedler

[2016-10-29 23:12] xiang90 commented on #6742
I noticed you used the refresh feature. This should be fixed by https://github.com/coreos/etcd/commit/3b100ad142271c37b095732a27876eafec5f8be3.

Can you upgrade your etcd cluster to 2.3.7? Then the problem should go away. Thanks.

[2016-10-29 23:12] #6742 closed

[2016-10-29 23:35] ederuiter commented on #6742
I tested it with a normal set instead of a refresh, and with that the issue is still present. So I don't think the commit you mentioned will fix it, but when I have the time I will retest it with etcd 2.3.7

[2016-10-29 23:52] xiang90 commented on #6742
@ederuiter Did you test with a fresh etcd setup every time?

[2016-10-29 23:57] xiang90 commented on #6742
Also how long should I expect your script to reproduce the issue?

[2016-10-30 07:45] heyitsanthony opened #6760 "functional-tester: stabilization period forces limit on testcase throughput"
Right now it will take a minimum of six seconds for the consistency checker to complete checking. This sets a hard limit on the number of test cases that can be processed to 10 per minute. I recall some discussion around handling expired leases from interrupted RPCs causing hash mismatches and perhaps this was meant to address that, but the solution is to retry if there was a hash mismatch regardl

[2016-10-30 10:13] junweiyang opened #6761 "can i buid etcd v3.0.13 by use go 1.7.3, is there any problem?"
# Bug reporting

A good bug report has some very specific qualities, so please read over our short document on
[reporting bugs][report_bugs] before you submit your bug report.

To ask a question, go ahead and ignore this.

[report_bugs]: ../Documentation/reporting_bugs.md

[2016-10-30 13:09] ederuiter commented on #6742
Hmm when testing with a fresh etcd setup I was unable to reproduce the issue on 2.3.2 as well as on 2.3.7 (both with and without the refresh).
On my test and production machines the issue arises directly after starting the test runner.
When I have some more time I can try to import a backup and/or running 2.3.7 on a copy of the datadir of my test machine.

[2016-10-30 14:49] mffiedler commented on #6753
Confirming data-dir is xfs and it is on its own volume with nothing else on it.   The cluster is running on OpenStack and the volumes are cinder provisioned.   Snapshot size is ~250MB

[2016-10-30 16:27] xiang90 commented on #6742
@ederuiter If you use the "refresh" feature, it might make etcd into a broken state that cannot be easily fixed. That is why you can reproduce on your already broken cluster.

A lot of users and applications depend on watch features, none of them reported this issue after 2.3.3. So I am 99% sure it is the root cause. Let us know if you still find this a problem with a refresh 2.3.7 cluster.

Thank

[2016-10-30 16:29] xiang90 commented on #6753
@mffiedler @timothysc Can you get syscall tracing data for 2.3.7 vs 3.0.x?

[2016-10-30 16:31] xiang90 commented on #6761
Yes, you can. There is no known problem.

[2016-10-30 16:31] #6761 closed

[2016-10-31 03:29] nenzhang commented on #6706
Hi
ok, then we can close this firstly

[2016-10-31 03:29] #6706 closed

[2016-10-31 07:03] sriedel commented on #6734
So, after continuing on debugging with the help of some friends who already have an etcd2 cluster up and running in production, I got a cluster running. It turns out that the "context deadline exceeded" message is misleading; it must be part of the communication of the local etcd2 process trying to reach the discovery.etcd.io API and has nothing to do with token reuse as @xiang90 claims above. Wha

[2016-10-31 07:03] #6734 closed

[2016-10-31 12:21] sinsharat commented on #6734
@sriedel its not that @xiang90 was baised towards proving you wrong. All of our intention was to help you solve the issue. Please don't take it otherwise. We all are open to your opinions and suggestions. Also it may happen that what we deduce from the logs we try to convey to you. If you feel there is something wrong with the logs or which tend to mislead our users we are open to correct it. At t

[2016-10-31 18:23] xiang90 commented on #6756
For v3, yes. But it is still time based (you will always have the time out there anyway), but it is a better guess.

[2016-10-31 20:35] fanminshi commented on #6754
The failpoints-2 tester also experiences error when retrieving lease info.

[code]

[2016-10-31 20:37] fanminshi commented on #6754
the 5 nodes tester also experiences error when retrieving lease info.

[code]

[2016-10-31 21:03] gyuho commented on #6754
@xiang90 I compare the server logs and nothing special other than `lost the TCP streaming connection with X (unexpected EOF)` errors.

How about adding `req.Close = true` here https://github.com/coreos/etcd/blob/master/lease/leasehttp/http.go#L178?

[code]

[2016-10-31 21:07] timothysc opened #6767 "RFE on migrate to eliminate all TTL keys"
**Request**
add a flag to migrate which will not convert TTL keys from v2 to v3

**Reason**
Some folks may wish to handle migration of TTL keys in a special fashion (hence custom migration tool), but there is a common pattern of wanting to simply bulk eliminate all TTL keys b/c they are more trouble then their worth.

/cc @xiang90

[2016-10-31 22:42] xiang90 commented on #6767
@timothysc I am fine with adding a no-ttl flag to migration tool. Do you want to work on this? Should be a simple one. /cc @hongchaodeng

[2016-10-31 23:07] doodles526 opened #6769 "V2 API unusable performance when Basic Auth enabled"
We've discovered issues on etcd clusters where enabling auth incurs significant performance penalties.

We first discovered this issue on v2.2.2, but just confirmed it still exists in the V2 API in master. The logs show timeouts similar to in #2338

Process to enable auth:
[code]

Benchmarks run with https://github.com/coreos/etcd/blob/master/hack/benchmark/bench.sh but with only the `leader` vari

[2016-10-31 23:41] gyuho commented on #6769
You are using v2 auth right? `auth` package should not be related.

For v2 auth performance, this should answer your question?

https://github.com/coreos/etcd/issues/6159#issuecomment-239185098

[2016-11-01 00:11] timothysc commented on #6767
I'll get a PR in the a.m.

[2016-11-01 00:35] doodles526 commented on #6769
Yes V2. And got it. That makes sense. We run a HAProxy node in front of our etcd cluster. So we'll probably terminate Basic Auth at the HAProxy node, turn off Basic Auth on etcd, and just not have permission granularity/roles on the etcd cluster

[2016-11-01 00:35] #6769 closed

[2016-11-01 02:07] xiang90 commented on #6720
Doc is updated. So closing.

[2016-11-01 02:07] #6720 closed

[2016-11-01 05:08] nenzhang opened #6773 "Issue: curl query command failed in proxy etcd node while one etcd instance gets hung"
etcd version:
etcdctl -v
etcdctl version: 3.0.12
API version: 2

configuration: three etcd instances and some etcd proxy node.

test condition: deliver SIGSTOP to one etcd instance which is not leader one.
start curl command with timeout 1second, it will continuously report failure.
curl -L http://127.0.0.1:2379/v2/keys/message -m 1
curl: (28) Operation timed out after 1000 milliseconds with 0 byt

[2016-11-01 07:21] quan2005 opened #6775 "Abnormal exit"
# Bug reporting

2016-11-01 15:10:47.115699 I | etcdmain: etcd Version: 3.0.6
2016-11-01 15:10:47.115709 I | etcdmain: Git SHA: 9efa00d
2016-11-01 15:10:47.115716 I | etcdmain: Go Version: go1.6.3
2016-11-01 15:10:47.115725 I | etcdmain: Go OS/Arch: linux/amd64
2016-11-01 15:10:47.115735 I | etcdmain: setting maximum number of CPUs to 8, total number of available CPUs is 8
2016-11-01 15:10:47.1157

[2016-11-01 07:30] quan2005 commented on #6775
WatchCreateRequest request = WatchCreateRequest
                .newBuilder()
                .setKey(“aaa”)
                .setRangeEnd("bbb/ccc/2/z")
                .build();

[2016-11-01 12:23] darktall opened #6776 "etcd2 removing and adding member to live cluster"
Hi guys I tried to add node to live etcd2 cluster . The node is configured in coreos/ user_data file  which is static.
I removed failed node from etcd2 master
Fixed that node and tried to add again to live server following coreos documentation.
In node i completely removed  data-dir  var/lib/etcd2/* files
rebooted machine and started etcd2. It is up and running .  From node  flowing is the  log
No

[2016-11-01 14:51] #6675 closed

[2016-11-01 14:51] xiang90 commented on #6683
Fixed by #6774

[2016-11-01 14:51] #6683 closed

[2016-11-01 15:06] xiang90 commented on #6775
Can you try with etcd 3.0.13? I think this bug is already fixed.

[2016-11-01 15:59] f0 opened #6778 "Provide Grafana Dashboard"
Hi,

please provide a example grafana dashboard for etcdv3 with the most important metrics.

regards f0

[2016-11-01 16:24] xiang90 commented on #6227
We updated gRPC dependency. We have not seen this for a long time. Shall we close it?

/cc @heyitsanthony

[2016-11-01 16:27] heyitsanthony commented on #6227
Yeah, I haven't seen this in ages. Closing.

[2016-11-01 16:27] #6227 closed

[2016-11-01 16:28] xiang90 commented on #2468
Closing. v3 cancellation works well so far without timeout option.

[2016-11-01 16:28] #2468 closed

[2016-11-01 17:32] gyuho commented on #6776
You can follow instructions here https://github.com/coreos/etcd/blob/master/Documentation/v2/runtime-configuration.md#add-a-new-member.

[2016-11-01 17:43] #6760 closed

[2016-11-01 18:29] gyuho commented on #6630
Closing via https://github.com/coreos/etcd/pull/6768.

Will reopen if it happens again.

[2016-11-01 18:30] xiang90 commented on #6750
/cc @heyitsanthony opinions?

[2016-11-01 18:36] heyitsanthony commented on #6750
maybe a trylock and if failed to lock, warn and block as usual?

[2016-11-01 18:45] xiang90 commented on #6750
sounds good to me.

[2016-11-01 20:23] fanminshi commented on #6754
this issue seems similar to this one posted on stack overflow. http://stackoverflow.com/questions/17714494/golang-http-request-results-in-eof-errors-when-making-multiple-requests-successi

[2016-11-01 20:39] xiang90 commented on #6754
We should not disable keepalive. or we will create new connections for every new requests. it costs a lot.

[2016-11-01 20:55] gyuho commented on #6776
Closing. Please let us know if you have more questions. Thanks.

[2016-11-01 20:55] #6776 closed

[2016-11-01 20:55] #6726 closed

[2016-11-01 20:55] gyuho commented on #6754
Right, let's just retry on that error.

[2016-11-01 21:03] gyuho commented on #6733
@prashanthpai Could you file an issue to https://github.com/docker/libkv?

`DisableKeepAlive: true` is the solution that works for you.

And please let us know if you find any other issues with etcd.

Thanks.

[2016-11-01 21:16] xiang90 commented on #6775
this pr(https://github.com/coreos/etcd/pull/5557) fixed this issue.

[2016-11-01 21:16] #6775 closed

[2016-11-01 21:27] xiang90 commented on #6773
so I think the previous failure request from proxy has been delivered to the hung etcd instance and lead to timeout, while the internal connection is not broken yet.

Do you have log from the proxy?

[2016-11-01 22:41] #6328 closed

[2016-11-02 00:33] tonyclam opened #6783 "/registry is not deleted when 'rpm -e etcd' and then 'rpm -i etcd'"
# Bug reporting
We create a key /registry. When we delete the etcd 'rpm -e' and then 'rpm -i', the /registry still exists. It should be deleted.
[root@localhost ~]# systemctl start etcd
[root@localhost ~]# etcdctl ls /registry/minions
/registry/minions/localhost.localdomain
[root@localhost ~]# rpm -e etcd
[root@localhost ~]# rpm -i etcd-3.0.10-1.0.1.dev.el7.x86_64.rpm
[root@localhost ~]# systemctl

[2016-11-02 00:40] xiang90 commented on #6783
This is not an etcd issue. You should report to rpm maintainer mailing list.

[2016-11-02 00:40] #6783 closed

[2016-11-02 00:54] tonyclam commented on #6783
thx for reply, Would you please let me know the link to file bug on rpm maintainer

[2016-11-02 01:15] xiang90 commented on #4759
@peterbourgon Is there still a problem for you?

If you kill the follower, no proposal should be lost. Conf change is the same as any other proposals. We never see this happen in our test. So I guess there is an issue with your code.

The application should be able to figure this out. If the network layer fails to deliver it, it gets lost. If term changes, but the proposal does not get committed,

[2016-11-02 01:23] peterbourgon commented on #4759
I haven't touched this code in 9 months and am unlikely to pick it up again. To reproduce, please see the quite explicit steps above; I hope I've been clear enough :) If killing a follower no longer results in hanging (as described) then I guess you've fixed the bug in the interim.

[2016-11-02 01:24] mffiedler commented on #6753
@xiang90 Any special systrace options?   I assume you are looking for a representative sample on both versions under this workload - let me know if it is something else.

[2016-11-02 01:26] xiang90 commented on #6753
@mffiedler

Yes. Strace on fsync/fdatasync + timestamp. Thanks!

[2016-11-02 01:27] xiang90 commented on #6753
Oh we also need the etcd log + timestampe. so we can figure out the relationship between strace and etcd behavior. Thanks!

[2016-11-02 01:41] xiang90 commented on #4759
@peterbourgon There is no raft-on-mesh branch anymore. If you do not plan to work on it again, I guess I do not need to help at the moment. Let us know if you want to work on it more in the future. Thanks.

[2016-11-02 01:41] #4759 closed

[2016-11-02 03:44] mitake opened #6785 "e2e: too many goroutines error"
I saw the below error during `TestCtlV3EndpointHealthWithAuth` of e2e test:

[code]

It happens almost once or twice in 10 times testing.

[2016-11-02 04:51] #5970 closed

[2016-11-02 06:03] prashanthpai commented on #6733
@gyuho I'm ok with closing of this issue. But it's still a workaround and not the solution I was looking for. v2 clients will probably be there for some time and leaking TCP connections doesn't do any good, with or without this issue. Moreover, at least theoretically,  `DisableKeepAlive: true` will slow things down. If I knew etcd internals, I would've probably digged further into this. It would b

[2016-11-02 06:36] nenzhang commented on #6773
Hi Xiang
see operation steps and logs:
1. tail the log in proxy node:
journalctl -f |grep -i etcd >etcd.log

2. deliver SIGSTOP to one etcd instance, its pid is 23059 in another VM node.
kill -19 23059

3. check the query CURL operations:
# curl -L http://127.0.0.1:2379/v2/keys/message -m 1
curl: (28) Operation timed out after 1001 milliseconds with 0 bytes received
# curl -L http://127.0.0.1:2379

[2016-11-02 09:17] darktall commented on #6776
as per documentation i followed  below are my steps

zhdev1-kubemaster ~ # etcdctl member add worker03 http://10.98.8.97:2380
Added member named worker03 with ID 759e3253607c0812 to cluster

ETCD_NAME="worker03"
ETCD_INITIAL_CLUSTER="worker03=http://10.98.8.97:2380,master=http://10.98.8.94:2380,worker01=http://10.98.8.95:2380,worker02=http://10.98.8.96:2380"
ETCD_INITIAL_CLUSTER_STATE="existing"
z

[2016-11-02 12:45] allencloud opened #6787 "Got panic in raft.go"
Hi, All,

Today my colleague ran into a panic of docker daemon.

Here is the log message of docker daemon:
[code]

maybe it is related with raft. Here is my thought:
[code]
when len(r.prs) == 0, then `mis[r.quorum()-1]` got panic.

related to https://github.com/docker/swarmkit/issues/1727

[2016-11-02 17:30] gyuho commented on #6787
What version of raft does it use? Seems duplicate of https://github.com/coreos/etcd/issues/5482

/cc @xiang90

[2016-11-02 17:33] xiang90 commented on #6787
This should already be fixed on etcd/raft side as @gyuho mentioned. I guess you should wait for swarmkit's reply on this.

[2016-11-02 17:33] #6787 closed

[2016-11-02 17:34] #6750 closed

[2016-11-02 17:54] fanminshi commented on #6754
The 3 nodes functional-tester experienced a different server side error.
[code]

[2016-11-02 18:52] gyuho commented on #6733
@prashanthpai I don't think there's not much we can do in etcd side?

Do some client request on client endpoint. This succeeds.
Restart embedded server to join an existing cluster.
Do some client request on client endpoint. This fails.

`Do some client request on client endpoint. This fails.` because it takes time to elect a leader and takes time to replicate the data to the newly joined member. W

[2016-11-02 19:16] prashanthpai commented on #6733
I'm sorry. I don't understand this. The data is replicated to new member correctly. I have double tested this by running query from new instance of clients and it works fine. I am only facing the issue when **it's the same old v2 client** (inside same process) which talks to a reconfigured member (embedded etcd server) **at the same old endpoint** (inside same process). To put it bluntly, the clie

[2016-11-02 19:19] gyuho commented on #6733
@prashanthpai Last time, it worked fine with some sleep time before launching client request.

Will give another try.

I might have misread the logs.

Reopening.

[2016-11-02 19:41] sinsharat commented on #6711
@xiang90 Will start with document section now. Wanted to know what all things you expect in the documentation.
Thank you!

[2016-11-02 19:54] mffiedler commented on #6753
@xiang90  I have 2.3.7 and 3.0.12 strace and logs.   Note the environment was a bit different and I did see leader changes in both versions.   In this env (AWS) I did not have /var/lib/etcd on its own volume.   It was on rootfs which was on xfs and had ~26GB free.   Let me know if you want another recreate with a separate volume.   This workload (Openshift 3.4/Kube 1.4) does seem to reproduce it p

[2016-11-02 20:18] xiang90 commented on #6753
The the data is not useful. We need data from evn when 2.3.7 does not trigger election but 3.0.13 does.

[2016-11-02 20:28] xiang90 commented on #6711
@sinsharat Probably just add one sentence that we support client side metrics, link to https://github.com/grpc-ecosystem/go-grpc-prometheus for more details. Maybe also provide an example link to the example program you wrote. I would like to keep it as simple as possible for now.

[2016-11-02 20:31] sinsharat commented on #6711
@xiang90 I totally agree with you. I too was feeling there is not much to document. Will do the changes as per your suggestion.
Thank you!

[2016-11-02 22:05] sinsharat commented on #6711
@xiang90 i think this can be closed now. Let me know if there's anything which i can look into now.

[2016-11-02 22:19] xiang90 commented on #6711
Closing. Thanks.

[2016-11-02 22:19] #6711 closed

[2016-11-02 22:29] #6739 closed

[2016-11-03 03:54] xiang90 commented on #6752
@sinsharat

Can you help with the benchmark side.

We want:

start ONE watcher

1. do one put (t')
2. record the time when we receive the put response (t0) start time
3. record the time when we receive the watch response (t1) end time
4. the watch latency is (t1-t0)
5. record the latency result

do this N times and print out the result.

Note that 2) actually includes watch processing time.

A fan

[2016-11-03 04:00] sinsharat commented on #6752
@xiang90 Sure will start working on it today.
Thank you!

[2016-11-03 12:28] ederuiter commented on #6742
Indeed, after updating the cluster to 2.3.7 I was unable to reproduce this issue.

[2016-11-03 13:51] soyking opened #6795 "txn error: there is no address available"
I ran a local cluster by the `goreman` in the project.

Then I ran `ETCDCTL_API=3 etcdctl auth enable` to enable auth.

But when I ran this program:

[code]

I got this error: rpc error: code = 2 desc = there is no address available. And it worked when `clt.Delete(context.TODO(),key)`. So it is strange for me, is there any explanation or a correct way to use it ?

etcd version: 3.1.0-rc.0+git
etcd

[2016-11-03 13:53] akamalov opened #6796 "ETCD as a container in Docker using BRIDGE mode"
**Environment:**

**OS:**
[code]
**ETCD**

[code]

**Docker**

[code]

**SDN**

[code]

Greetings,

We're have requirement running multiple ETCD ecosystems, each per customer.  We would like to run ETCD in a BRIDGE mode with Marathon IP-Per-Task (assigning IP address from Nuage SDN). So far we were able to deploy ETCD in a container using bridge mode, however cluster is unstable. It continuously g

[2016-11-03 15:06] xiang90 commented on #6796
@akamalov Can you update your etcd version from etcd 2.0.10 to etcd 2.3.7? We improved the networking handling a lot during the last year. If the problem still exists, please reopen. Thank you!

[2016-11-03 15:06] #6796 closed

[2016-11-03 15:44] xiang90 commented on #6713
@gyuho Is this fixed?

[2016-11-03 15:45] xiang90 commented on #5833
No one really reported/hit this. Very low priority. So closing.

[2016-11-03 15:45] #5833 closed

[2016-11-03 15:48] gyuho commented on #6713
@xiang90 Not yet. I will send a PR to fix it.

[2016-11-03 15:49] xiang90 commented on #6713
OK. Thanks.

[2016-11-03 16:00] #6767 closed

[2016-11-03 16:04] xiang90 commented on #6785
@gyuho Can you take a look? Thanks!

[2016-11-03 16:04] gyuho commented on #6785
Sure will try to reproduce.

[2016-11-03 16:05] xiang90 commented on #6733
I moved this out of 3.1. It does not seem to block our 3.1 release.

[2016-11-03 17:14] #6754 closed

[2016-11-03 17:19] xiang90 commented on #2752
This issue is finally fixed by a separate project:

https://github.com/coreos/etcd-operator

[2016-11-03 17:19] #2752 closed

[2016-11-03 17:39] xiang90 commented on #6795
@soyking It works for me. I cannot reproduce this on master at least.

/cc @gyuho @mitake Give this a try?

[2016-11-03 17:44] xiang90 commented on #6773
kill -19 23059

This is wrong way to simulate a process failure. Basically you try to simulate high GC pause. The network layer is still buffering up packets. Try to SIGKILL etcd instead.

[2016-11-03 17:44] #6773 closed

[2016-11-03 17:45] gyuho commented on #6795
Works fine with no error?

[code]

[2016-11-03 17:47] xiang90 commented on #6773
@nenzhang I do not think this is high priority for us. If you want to get this fix, you can add timeout to proxy at https://github.com/coreos/etcd/blob/master/proxy/httpproxy/reverse.go#L139.

[2016-11-03 17:47] xiang90 commented on #6795
@soyking I am closing this out. We cannot reproduce this with your script and setup. Please try with current master, reopen if the problem still exist and you find a reliable way to reproduce it.

[2016-11-03 17:47] #6795 closed

[2016-11-03 18:01] xiang90 commented on #5449
@crawford @jonboulle @heyitsanthony

Well... How should we move this forward?

Breaking journald == tons of github issues without necessary logging information.

[2016-11-03 18:14] crawford commented on #5449
If you are pid 1, log to stdout. If not, use the journal.

[2016-11-03 18:21] gyuho commented on #6785
@mitake Can you get the full trace when you hit this issue again? I can't reproduce in my side.
My guess is that file descriptor was not closed properly or reused by another process.

Thanks!

[2016-11-03 18:35] xiang90 commented on #5449
@crawford

The logging lib we use only write to journald when the ppid is 1 (pid 1's ppid is not 1): https://github.com/coreos/pkg/blob/master/capnslog/init.go#L41

So if the pid is 1, we will not log to journal now since its ppid is not1. The current behavior is what you just describe.

I guess it wont make a difference?

[2016-11-03 18:38] crawford commented on #5449
Was that added recently? The earlier comments in this report imply that this is not how it behaves.

[2016-11-03 18:40] xiang90 commented on #5449
@crawford No. It added quite a while ago.

[2016-11-03 18:45] crawford commented on #5449
Sounds like it isn't working properly then, otherwise I don't think this issue would have come up. Can you double check it?

[2016-11-03 18:45] rboyer commented on #5449
Docker added optional support to run the contained program as not PID 1 recently, so that might complicate that proposal: https://github.com/docker/docker/pull/26061

[2016-11-03 18:57] crawford commented on #5449
I talked to @xiang90 offline. The plan is to leave the existing logic in place (detects the PPID of etcd to determine whether it should use the journal or stdout) and add a flag to override the behavior. Within rkt, the PPID of etcd is 1, so it logs to the journal. The rkt team would like to be able to override this so that it logs to stdout instead, allowing rkt to capture the logs.

[2016-11-03 18:59] xiang90 commented on #5449
@jonboulle @philips @gyuho

Can we add a flag to make etcd log force to stdout only? This is not beautiful, but it does resolve the rkt issue.

[2016-11-03 19:03] gyuho commented on #5449
I am fine with it.  Maybe this https://github.com/coreos/etcd/issues/5449#issuecomment-225687991?

Maybe add --log-output=[stdout,stderr,journald] flag to etcd?

[2016-11-03 19:04] xiang90 commented on #5449
@gyuho Can you just have a flag `--log-to-stdout`? /cc @heyitsanthony

[2016-11-03 19:14] heyitsanthony commented on #5449
`--log-output` with a comma separated list would have the best future-proofing

[2016-11-03 19:15] xiang90 commented on #5449
@heyitsanthony

Why do we want etcd to log to N places?

[2016-11-03 19:22] xiang90 commented on #6667
@gyuho I can reproduce it.

@mitake Can you take a look? This will bring etcd into busy loop. etcd starts to eat all CPUs.

[2016-11-03 19:28] heyitsanthony commented on #5449
@xiang90 the issue is asking logging to two places but I don't have a strong opinion on it. Multi-logging can be added later so long as there's `--log-output=<somestring>` in the first place.

[2016-11-03 19:29] xiang90 commented on #5449
Yes, I know (https://github.com/coreos/etcd/issues/5449#issuecomment-229721613). But I do not see why it is needed. All I can see is they want a way to force logging to stdout.

[2016-11-03 19:56] gyuho commented on #6303
Maybe unrelated but I just got this error in CI

[code]

[2016-11-03 19:57] xiang90 commented on #6756
@jdfless How can we help you more on this one?

[2016-11-03 20:19] jdfless commented on #6756
Hi @xiang90 thanks for following up! We are testing a fix for this issue by adding more resources to our etcd nodes. I can let you know if that is successful, but it seems the likely issue. Given that, we can close this issue and re-open if we find anything different.

[2016-11-03 20:24] xiang90 commented on #6756
Thanks!

[2016-11-03 20:24] #6756 closed

[2016-11-03 20:30] xiang90 commented on #6287
@purpleidea Do you have time to help on part 2)?

[2016-11-03 20:30] timothysc commented on #6753
@mffiedler the variance on the distribution of snap times is wild.  less then 1 second to > 7 seconds?

The only thing I can think of is if there is write contention on the VMs.  Could you check to make certain that the etcd nodes are landing on different hypervisors.  An easy way to do this in our environment is to make the instance sizes so large that the eat a whole host.

[2016-11-03 21:34] xiang90 commented on #6728
@heyitsanthony

If that is the case, the waiter should timeout and print out the logging? (I am convinced commit takes longer than 5 seconds, just do not know why it does not fail fast)

[2016-11-03 21:37] xiang90 commented on #6728
Oh... I see why... since both of the fatals are in go routines. It makes sense now. I guess we should just close this one... CI was too slow.

[2016-11-03 21:40] heyitsanthony commented on #6728
@xiang90 it can be made to fail fast by deferring the `ch <- struct{}{}`'s so it'll close even on fatal. Worth fixing?

[2016-11-03 21:45] xiang90 commented on #6728
@heyitsanthony

Ha. Yes. See #6801

[2016-11-03 21:49] #6728 closed

[2016-11-03 21:52] #5449 closed

[2016-11-03 22:10] xiang90 commented on #5614
/cc @fanminshi You might be interested in this one.

[2016-11-03 22:12] fanminshi commented on #5614
@xiang90 cool!

[2016-11-04 02:31] mitake commented on #6795
@soyking I also tested and couldn't find the reported problem. Did you tried on the latest master?

[2016-11-04 03:27] soyking commented on #6795
@xiang90 @gyuho @mitake

I pulled the newest code in master branch and build it. And it worked. Thank you.

[2016-11-04 04:33] mitake commented on #6667
@xiang90 @sbatschelet I also could reproduce the problem. Although the gateway does not support auth currently, it seems to be problematic. I'll work on it.

[2016-11-04 05:05] xiang90 commented on #6265
last one tracked by #6303

[2016-11-04 05:05] #6265 closed

[2016-11-04 05:43] nenzhang commented on #6773
Hi Xiang
thanks.
 so you mean the etcd will be realible that it won't be hung forever? I don't think so, we shall cover and handle the problem in any situation.

If you want to get this fix, you can add timeout to proxy at https://github.com/coreos/etcd/blob/master/proxy/httpproxy/reverse.go#L139.
-> do you mean I add own local change for this? do etcd have plan to implement systemd watchdog funct

[2016-11-04 05:52] xiang90 commented on #6773
What situation are you trying to simulate? Why do you want to send SIGSTOP to etcd?

It has nothing to do with watchdog or etcdserver itself. If you want the proxy to be able to fail fast, you can send a patch to upstream to add timeout.

[2016-11-04 06:34] nenzhang commented on #6773
Hi Xiang
SIGSTOP used to simulate the current etcd instance gets hung in some code place, or deadlock..etc.
so watchdog can detect this and configure recover action to make it automatic recovery from hung.

 If you want the proxy to be able to fail fast, you can send a patch to upstream to add timeout.
--> in fact when etcd instance gets hung, I want the function continue works in proxy node, but

[2016-11-04 06:39] xiang90 commented on #6773
You can do health checking against etcd with health checking API. Then you kill etcd. Everything should work again. I do not think we need to anything more inside etcd.

As I said, the proxy still can connect to the etcd server since you just SIGSTOP it. The network stack still works. You need to add timeout to proxy to terminate the current connection and proxy will mark that endpoint as unhealth

[2016-11-04 06:42] xiang90 commented on #6773
All you need to do now is to find a way to terminate the SIGSTOP etcd. You need to write your own health checking program on your node to do it if you feel it is necessary. We do health checking by simply using etcdctl and kill etcd if it is not responsive within X seconds.

[2016-11-04 07:54] nenzhang commented on #6773
Hi Xiang
we have this, and now we have same mechanism in etcd proxy node and this problem etcd instance node, then the recovery will happen in proxy node also which trouble us.
The only workaround for us is to change the health checking tolerance, for example, it is smaller in instance node, and bigger in proxy node.

[2016-11-04 16:49] fanminshi opened #6805 "functional-tester: compaction exceeds deadline"
3 nodes functional tester returns the following error.

[code]

[2016-11-04 16:54] fanminshi commented on #6805
compaction tooks almost 20 seconds. I suspect that too many keys created from lease stresser. One possible solution is to lower the lease stressing rate

[2016-11-04 16:57] fanminshi commented on #6805
same problem occurred on 5 nodes tester.

[code]

[2016-11-04 17:02] fanminshi commented on #6805
same problem on 3 nodes failpoint.

[code]

[2016-11-04 17:04] gyuho commented on #6805
Yeah it timed out...

Probably we need increase timeout in test branch and see if it goes away.
More detailed logging would be helpful like (computed compact timeout)

[2016-11-04 19:57] Bregor commented on #3710
Looks like same here:

    # ./etcd --version
    etcd Version: 2.3.7
    Git SHA: fd17c91
    Go Version: go1.6.2
    Go OS/Arch: linux/amd64

Data dir is empty on start:

    # ls -al /var/lib/etcd
    ls: cannot access '/var/lib/etcd': No such file or directory

Starting the server:

    ./etcd --name=192.168.222.1 \
    --initial-advertise-peer-urls=http://192.168.222.1:2380 \
    --listen-pee

[2016-11-04 23:15] gyuho commented on #6733
@prashanthpai One thing I notice

        // From another node (192.168.56.25), add this node as a member using CLI
        // etcd --listen-peer-urls http://192.168.56.25:2380 --listen-client-urls http://192.168.56.25:2379
        //      --advertise-client-urls http://192.168.56.25:2379 --initial-advertise-peer-urls http://192.168.56.25:2380
        //      --initial-cluster default=http://192.1

[2016-11-04 23:17] gyuho commented on #6733
nvm. You are doing the other way... I was confused.

[2016-11-04 23:31] #6290 closed

[2016-11-04 23:42] gyuho commented on #6733
@prashanthpai Sorry I misread your issue. Now I can reproduce.

[code]

This fails even after leader election completes

Will fix ASAP. Thanks!

[2016-11-05 01:28] fanminshi commented on #6805
compaction analysis. Some run time is kinda close to the timeout.
e.g
`round [round#235] result ["actual runtime_s 18.594815", "entries 461997", "computed_timeout 19s)"]`
[code]

[2016-11-05 01:35] xiang90 commented on #6805
Ah... That makes sense... Probably we should loose the computation a little bit...

[2016-11-05 01:38] gyuho commented on #6805
Wonder why it's slower than a few months ago https://github.com/coreos/etcd/issues/5440#issuecomment-221406800

Compacting 1370733 entries took 20.072420034s (68536 per second)

[2016-11-05 01:40] xiang90 commented on #6805
@gyuho Interesting... So the computation is already not tight?

[2016-11-05 01:41] gyuho commented on #6805
@fanminshi Could you double check how you get the number of entries that mvcc is compacting?

[2016-11-05 01:42] xiang90 commented on #6805
@gyuho

I think the is the number? The current QPS is 25,000. Previously we assume it is 50,000.

[2016-11-05 01:46] gyuho commented on #6805
Right.

Previously over 1M entries still took only 20 seconds. 0.5M entries taking 20 seconds seems wrong.

I will read code base if we do anything different than last time.

[2016-11-05 02:17] xiang90 commented on #6719
@fanminshi I assigned this to you per our offline discussion.

[2016-11-05 07:23] chulkilee opened #6810 "introduce heartbeat on watch api response"
### Background

* watch api keeps HTTP connection open
* load balancer may closes idle connection - example: Amazon ELB ([ref](http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/config-idle-timeout.html))

### Problem

When it happens, etcd client currently does not handle nicely - it just raises "etcd cluster is unavailable or misconfigured" error, which breaks clients calling the wat

[2016-11-05 13:30] Dm3Ch opened #6811 "Cluster machines can't connect to cluster"
Hello!
I reconfigurated my etcd cluster for working with certificates and now when i trying to start i'm getting
First machine:
[code]
Second machine:
[code]

etcd version:
[code]

Both machines is running Debian Jessie.
Etcd config first machine:
[code]
Second machine config:
[code]

Is there any way to fix this problem?

[2016-11-05 16:04] xiang90 commented on #6810
@chulkilee

There is already something better than "heartbeat" exists for v3 API see: https://github.com/coreos/etcd/blob/master/etcdserver/etcdserverpb/rpc.proto#L604. It heartbeats and tells the watcher its progress in case of no interested events.

We do not plan to change v2 API. It is frozen.

[2016-11-05 16:04] #6810 closed

[2016-11-05 16:06] xiang90 commented on #6811
I guess there is an issue with you certs/keys.

Can you please provide the full log from all three servers since their startup for at least 5 minutes?

Thanks.

[2016-11-05 16:19] Dm3Ch commented on #6811
@xiang90 Thank you for helping.
I attached etcd log with `--debug` option
[etcd.log.txt](https://github.com/coreos/etcd/files/573337/etcd.log.txt)

[2016-11-05 16:25] xiang90 commented on #6811
@Dm3Ch

2016-11-05 19:09:12.462092 D | rafthttp: failed to dial aa869cb0f2e7ed31 on stream Message (x509: cannot validate certificate for 192.168.1.11 because it doesn't contain any IP SANs)

Go TLS requires IP SAN to be set. You need to fill in that field when generating certs correctly. You can search around if you are not familiar with it. I am sure there are previous similar issues closed with

[2016-11-05 16:25] #6811 closed

[2016-11-05 17:32] chulkilee commented on #6810
@xiang90 Thanks for the info!

[2016-11-06 22:57] charlie opened #6813 "Error while installing clientv3"
I can't seem to install clientv3. Am I doing something wrong wrt version/dependency management?

    /usr/bin # go get github.com/coreos/etcd/clientv3
    # github.com/coreos/etcd/etcdserver/etcdserverpb
    /gopath/src/github.com/coreos/etcd/etcdserver/etcdserverpb/rpc.pb.go:2162: undefined: grpc.SupportPackageIsVersion3

Perhaps it's because of [this change to grpc/grpc-go](https://github.com/gr

[2016-11-07 12:00] vimalk78 opened #6814 "./etcdctl should print the API version (2 or 3)"
i think it is better to print the ETCDCTL_API version  in the following output.

it will be useful for manual debugging/learning purpose. usually need to make mistake before realising to set the ETCDCTL_API to 3

[code]

[2016-11-07 15:27] xiang90 commented on #6814
Agree.

[2016-11-07 17:35] vimalk78 commented on #6814
[code]

can it be changed like above? add the ETCD API version towards the end.

[2016-11-07 17:37] xiang90 commented on #6814
@vimalk78 I want to put it under the version field. Can you send a pr to fix this?

[2016-11-07 17:43] vimalk78 commented on #6814
but i deliberately chose the last line so that it will be visible easily from the next shell prompt :)

under the version field is surely better. i will send a PR.

[2016-11-07 17:47] heyitsanthony commented on #6287
I think this can be done already by polling etcdserver.Term() while waiting for the ready signal?

[2016-11-07 17:57] heyitsanthony commented on #6813
@charlie if you're using clientv3 with go-grpc's master branch (e.g., via go get), this will occasionally happen because go-grpc may merge in an breaking update. The best workaround is to vendor the grpc dependency in your project using the version vendored by etcd.

[2016-11-07 18:23] fanminshi commented on #6805
I checked the first 3 entries manually. They match the result from my compaction analysis.

logic:
I calculate the time different between start and end of compaction using print statement from following lines.
https://github.com/coreos/etcd/blob/master/tools/functional-tester/etcd-tester/tester.go#L166-L170

and I find the entries and timeout from following print line.
https://github.com/coreos/et

[2016-11-07 18:25] charlie commented on #6813
@heyitsanthony Got it -- thanks for letting me know what to expect & how to avoid. Closing this...

[2016-11-07 18:26] BlueDragonX commented on #2752
@xiang90 except that isn't a general solution, runnable anywhere. It's specifically for Kubernetes. So not terribly useful for the general population.

[2016-11-07 18:28] heyitsanthony commented on #6813
Reopening this to track updating the grpc dependency in etcd.

[2016-11-07 18:44] xiang90 commented on #6805
@gyuho @fanminshi

Seems like we need to figure how why compaction becomes slower?

[2016-11-07 18:46] xiang90 commented on #6805
Now 0.5M entries taking 20 seconds seems wrong.

Now 0.5M takes 15 seconds or so based on @fanminshi's result, not 20 seconds. But it is still slower than before.

[2016-11-07 19:47] gyuho commented on #6805
I try simulating the `restore` path. This is also related to https://github.com/coreos/etcd/issues/5317.

[2016-11-07 22:51] raoofm commented on #2752
@xiang90 shouoldn't etcd-operator be a wrapper/generic that could be used for kubernetes, aws, etc rather than (as @BlueDragonX says) specific to kubernetes.

[2016-11-08 00:41] gyuho commented on #6733
@prashanthpai I checked the code base and confirmed that this is all expected.

1. There was a client request with keep-alive connection to the old node. Unless you create a new transport, the client request to the same port will re-use that keep-alive connection to the old listener, which is why the client requests to the newly-created node with the same port fails with error `client: etcd cluste

[2016-11-08 00:41] #6733 closed

[2016-11-08 00:42] xiang90 commented on #6733
@gyuho @prashanthpai

Or you can create different transporter for different clients. Do not reuse the old transport which still maintains a good connection to the stopped member.

[2016-11-08 00:49] xiang90 commented on #6700
Blocks on https://github.com/golang/go/issues/12914.

We do not want to roll out our own mono clock if it is already planned for go 1.8.

@heyitsanthony Can we move this out of 3.1 release?

[2016-11-08 01:29] mitake commented on #6785
@gyuho sure, I'll share the trace maybe next week (I'm attending to KubeCon this week)

[2016-11-08 08:18] mkumatag opened #6818 "etcd CI for ppc64le platform"
This issues is created based on the discussion with @xiang90 about enabling ppc64le platform in etcd CI.

Requirements for [Supporting a new platform](https://github.com/coreos/etcd/blob/master/Documentation/op-guide/supported-platform.md#supporting-a-new-platform)

1. An "official" maintainer for the platform with clear motivation; someone must be responsible for taking care of the platform.  - *

[2016-11-08 11:58] vimalk78 opened #6819 "panic: watcher not victim but not in watch groups"
Steps to reproduce:

1. start a single node etcd
`vimal (master) bin $ ./etcd --debug=true`

2. start watch, and then press Ctrl-C
[code]

results in below panic :

[code]

Environment :
Ubuntu 14.04 LTE, with HDD

[2016-11-08 15:59] xiang90 commented on #6819
What is the version of etcd?

[2016-11-08 16:05] gyuho commented on #6819
@xiang90 @heyitsanthony I can reproduce with current master branch?

[2016-11-08 16:08] xiang90 commented on #6819
@gyuho Can you try to fix this?

[2016-11-08 16:09] gyuho commented on #6819
Sure

[2016-11-08 16:13] vimalk78 commented on #6819
​vimal (master) bin $ ./etcd --version
etcd Version: 3.1.0-alpha.1+git
Git SHA: 57e2b15
Go Version: go1.7
Go OS/Arch: linux/amd64

[2016-11-08 17:15] heyitsanthony commented on #6818
https://github.com/coreos/etcd/blob/master/Documentation/op-guide/supported-platform.md#supporting-a-new-platform

[2016-11-08 19:37] xiang90 commented on #5317
Sure. During the restore, we keep on touching the treeIndex for single key get and single key put. It does one get, put for every key and every key modification. These operations for tree are O(NlogN), which is not ideal.

To improve this, we can have a unordered map to store the temp data. We only touch the unordered map while restoring the index. After we iterate the all the revision, we range o

[2016-11-08 19:40] xiang90 commented on #5317
/cc @nekto0n @sinsharat

[2016-11-08 23:32] nekto0n commented on #5317
So we change `O(nlogn)` (for every key version we use 2 get/put to the tree) with `O(n) + O(logn)` (every key is put into hashtable and then about 1/10 of them are put into the tree).
All is needed is to copy-paste the code from above into a PR, sounds doable :)

[2016-11-08 23:35] xiang90 commented on #5317
@nekto0n Some tests need to be changed. Benchmark needs to be updated or added.

[2016-11-09 01:10] xiang90 commented on #6287
@heyitsanthony I think to users still need to read logs to figure out what exactly is happening and why raft or etcdserver is failing. To be honest, I do not think there is much we can do here. It seems like a debugging issue to me and logging seems to be good enough.

[2016-11-09 01:18] #6805 closed

[2016-11-09 01:23] heyitsanthony commented on #6287
@xiang90 yeah, I'm not crazy about this because there are so many failure modes

[2016-11-09 01:24] xiang90 commented on #6287
@heyitsanthony I am inclined to close this.

[2016-11-09 01:27] purpleidea commented on #6287
I do think it's pretty important if etcd is going to be embedded in a robust way. As I said, using a timeout is a bad heuristic.

[2016-11-09 01:29] xiang90 commented on #6287
part 1 is about

This is what we wont fix.

I do not quite understand the timeout part.

[2016-11-09 01:33] xiang90 commented on #6287
@purpleidea Also etcd itself use embed etcd too, so it has to be robust.

[2016-11-09 01:36] #6819 closed

[2016-11-09 01:37] gyuho commented on #6819
@vimalk78 Pleas try with master branch. That watch request will be canceled right away; `key key` is wrong range since range end is not greater than range start.

Thanks for reporting!

[2016-11-09 15:03] HeavyHorst opened #6823 "clientv3: client.Close() blocks forever"
If i'm running the following example code and then quit etcd while it is running the cli.Close() will block forever if i try to quit the example.

[code]

[2016-11-09 15:49] gyuho opened #6824 "Configurable maxGapBetweenApplyAndCommitIndex"
Can we make `maxGapBetweenApplyAndCommitIndex` configurable?

I ran benchmarks on current etcd, the first time since we introduced `maxGapBetweenApplyAndCommitIndex` https://github.com/coreos/etcd/blob/master/etcdserver/v3_server.go#L50

[code]

etcd returns tons of `error too many requests` errors for the `benchmark` command in our performance doc https://github.com/coreos/etcd/blob/master/Docume

[2016-11-09 17:17] xiang90 commented on #6824
I do not think we should make it configurable, at least for now.

The main reason we have this mechanism to avoid raft from accepting proposals faster than the applier can apply. 1,000 might not be a good value due to batching.

 Raft can batch nearly 1000 for one commit, this increase the gap suddenly to 1,000 and cause following proposals to fail.

I am fine to increase this number to 5,000 or s

[2016-11-09 17:39] heyitsanthony commented on #6824
Bumping the gap seems OK for now. This path could stand to be a bit smarter in general by throttling or having a better feedback mechanism to detect runaway commit/apply gap widening.

[2016-11-09 17:41] gyuho commented on #6824
Sounds good. I will run more tests on 5,000 to make sure.

[2016-11-09 17:54] sinsharat commented on #5317
@nekto0n are you going to add the code as well as benchmark or can i take any part of it?

[2016-11-09 17:57] heyitsanthony commented on #6823
Confirmed on master.

[2016-11-09 18:18] nekto0n commented on #5317
@sinsharat actually I'm pretty busy this week, so feel free to take all of it.

[2016-11-09 18:24] sinsharat commented on #5317
@nekto0n Sure will start looking into it then.
Thanks!

[2016-11-09 18:32] #6824 closed

[2016-11-09 23:27] #6719 closed

[2016-11-10 00:12] sandflee opened #6829 "is quorum read deprecated in etcd v3?"
when a write/update op finished, we want to read the newest value for etcd immediately.
we could set quorum read option in etcd v2 client, but seems no way to set in etcd v3 client. is there any other way to do this, or is deprecated?

[2016-11-10 00:15] heyitsanthony commented on #6829
It's enabled by default. To get stale reads use `clientv3.WithSerialize()`.

[2016-11-10 02:39] sandflee commented on #6829
thanks @heyitsanthony !

[2016-11-10 02:39] #6829 closed

[2016-11-10 03:20] soyking commented on #6719
@fanminshi @xiang90

I have a question.

In the program:

[code]

return

[code]

but they are opposite conditions. Notice that the key `abc` has not been set. So is it possioble that for `=` it will check the existence of a key but for `!=` it will not ？

[2016-11-10 17:45] xiang90 commented on #5054
@glevand Any progress update on this one?

[2016-11-10 18:03] xiang90 commented on #6420
I can see an easy fix here for 1 -> 2 case. The one member cluster can commit any proposal locally and immediately. So what we can do here is to let the one member cluster buffer the conf change and commit it once the 2nd member contact it. One problem is that the member might forget the configuration change request after restart. To fix that, we need to persist the buffer somehow. This makes the

[2016-11-10 18:05] gyuho commented on #6420
@xiang90

How would we know know this? Raft progress?

[2016-11-10 18:07] xiang90 commented on #6420
@gyuho

No. The newly member will contact one existing member to get a list of existing members. For the one member case, it can only contact that member.

[2016-11-10 18:38] gyuho commented on #6713
I reported this to our UI team. Closing. Will keep you updated once fixed. Thanks!

[2016-11-10 18:38] #6713 closed

[2016-11-10 18:40] fanminshi commented on #6719
@soyking both "!=" and "=" comparison will check for the existence of a key. However, in your case, the `abc` key is not set. Comparing value of a non-existent key will alway return false. It doesn't make any sense to compare value of a non-existent key.

more info:
https://github.com/coreos/etcd/blob/master/etcdserver/apply.go#L415-L418

[2016-11-10 21:28] gyuho commented on #6813
Closing via https://github.com/coreos/etcd/pull/6832

[2016-11-10 21:28] #6813 closed

[2016-11-11 00:31] fanminshi opened #6834 "scripts: ./updatedep.sh experiences error"
Setup:
[code]

run `./scripts/updatedep.sh` on my mac experience following error.

[code]

[2016-11-11 01:21] xiang90 commented on #6823
@heyitsanthony How did you reproduce it? I cannot reproduce locally on master.

I build the example code. run etcd, run example code, sleep 5 seconds, kill etcd, kill example.

[2016-11-11 01:22] xiang90 commented on #6823
I thought this is fixed by https://github.com/coreos/etcd/commit/510676fea9118f6baf8f0fa74ee1467ffe488df8

[2016-11-11 01:23] xiang90 commented on #6823
@gyuho  can you also give this a try?

[2016-11-11 01:26] gyuho commented on #6823
Sure.

[2016-11-11 01:27] heyitsanthony commented on #6823
@xiang90 yeah, seems to work now. Maybe my branch was stale when I tried it yesterday.

[2016-11-11 01:43] xiang90 commented on #4435
@timothysc I am closing this in favor of https://github.com/coreos/etcd/issues/4709.

This is a dup with #4709. And #4709 provides a more convincing reason to do it. It would benefit you the same if implemented.

[2016-11-11 01:43] #4435 closed

[2016-11-11 01:49] mkumatag commented on #6818
@heyitsanthony updated the description where we stand now with respect to requirement list for supporting new platform, can you please help me proceed further on this?

[2016-11-11 01:51] xiang90 commented on #6818
We do not know actually. Huawei plans to setup their jenkins for arm64 support. Are you able to do similar thing?

[2016-11-11 02:01] mkumatag commented on #6818
IMO no need to create multiple jenkins server, we can just add ppc64le slave into same jenkins server and make it as one more platform into configuration matrix.

[2016-11-11 02:04] xiang90 commented on #6818
@mkumatag We do not have any jenkins master setup right now. You need to setup all stuff. But we might setup jenkins in the future. Then we can add ppc64le and arm64 ones as jenkins slaves.

[2016-11-11 02:13] xiang90 commented on #6823
@heyitsanthony OK. I am closing this.

@HeavyHorst @gyuho Let me know if this is still an issue on the master. We can re-open.

[2016-11-11 02:13] #6823 closed

[2016-11-11 02:17] gyuho commented on #6823
@heyitsanthony @xiang90 Yeah works for me

[code]

[2016-11-11 02:38] soyking commented on #6719
@fanminshi

I see. Thank you.

[2016-11-11 05:40] xiang90 commented on #6015
@helinbo2015 Can you tell us more about this? What is your potential use case?

[2016-11-11 05:46] xiang90 commented on #5052
You can check header for `X-Etcd-Cluster-ID`. If it is set, then it is etcd traffic between peers. It does not seem like a common request. If this work around is OK, I am inclined to close the issue.

[2016-11-11 07:36] helinbo2015 commented on #6015
@xiang90 Thanks a million.

i  had optimized kubernetes's list-watch function. when watch failed, relist will not catch all  of objects, instead returning objects that from specified version  to current version.
and as a solution, i had added a relist function(return objects from specified version to current version) in kube-apiserver component.

[2016-11-11 07:46] xiang90 commented on #6015
No. This wont work. Relist is only required when the history is compacted. If the history is compacted you have to do a relist. What you described will lead to inconsistent state.

If you want to optimize k8s storage, you should open an issue at k8s side. I am a maintainer of k8s. We can discuss there.

[2016-11-11 07:46] #6015 closed

[2016-11-11 09:40] l4ngl3y opened #6836 "Problem with discovery bootstrap cluster."
Hello.
I have some problems after restore data from standalone etcd node to etcd discovery bootstrap cluster.
All step for backup and restore I make from guide (etcdctl backup). I don't have problem there. But after I start first etcd node with discovery bootstrap options:
[code]
I get log:
[code]
And node info1 create standalone cluster, don't connect to discovery node. And it is only when the da

[2016-11-11 16:53] kgilpin commented on #5052
Thanks, I think you can close it then.
On Fri, Nov 11, 2016 at 12:47 AM Xiang Li <notifications@github.com> wrote:

[2016-11-11 17:07] xiang90 commented on #5052
@kgilpin OK. We might switch to gRPC for internal communication in the middle/long term. We will figure out a better way to distinguish etcd internal traffic.

[2016-11-11 17:07] #5052 closed

[2016-11-11 17:17] heyitsanthony opened #6838 "vendor: pulls in golang.org/x/tools and google.golang.org/appengine"
Surely etcd doesn't need godoc to build.

[2016-11-11 18:15] #6838 closed

[2016-11-11 18:26] heyitsanthony commented on #6834
On 10.10.5 I'm getting,
[code]

Runs fine on linux.

[2016-11-11 18:31] xiang90 commented on #6834
Added this into 3.1.

[2016-11-11 18:50] #6303 closed

[2016-11-11 19:33] sinsharat commented on #5317
@xiang90 sorry for the delay on this. Was stuck with some business commitments, which i was asked to work on this entire week. Will try to finish this and raise a PR for this by tomorrow.
Thank you!

[2016-11-11 21:06] fanminshi opened #6841 "functional-tester: latency Injection shows error on live tester"
The current 3 node tester is reporting error on latency injection.

[code]

The current tester inject latency on `dev eth0`(https://github.com/coreos/etcd/blob/master/pkg/netutil/isolate_linux.go#L49), but the agents don't have `dev eh0`

[code]

we need a programmatic way to configure network interface.

[2016-11-12 00:08] #6778 closed

[2016-11-12 00:39] xiang90 commented on #6841
@fanminshi For these env dependent tests, probably we can just skip it if failure injection fails?

[2016-11-12 00:49] fanminshi commented on #6841
@xiang90 the current tester will skip if latency injection has failed. So the tester still proceed. the problem is that latency injection failure is not being tested at all on live tester.

[2016-11-12 00:57] xiang90 commented on #6841
@fanminshi OK. That is bad. We should fix it.

[2016-11-12 00:59] fanminshi commented on #6841
Yeah, I noticed this problem when I am working on https://github.com/coreos/etcd/issues/5614.

[2016-11-12 02:18] siddontang opened #6845 "raft: use ReadOnlyOption dynamically?"
Hi @xiang90

Now the ReadOnlyOption is fixed when starting Raft, can we switch it dynamically?

E.g, for most of the cases, we use LeaseBased configuration, but for sometime, when the leader thinks it is not safe to supply lease based read, it can use Safe configuration.

I know that we can use raft log read instead of ReadIndex to ensure safety, but it is better that we can use ReadIndex for all

[2016-11-13 00:41] xiang90 commented on #6845
This complicates the implementation. In our testing, the benefit lease based brings is not significant (etcd mainly targets at single dc deployment though) and does not worth the risk. I would like to know how much benefits it can bring to you and what is your use case.

How do you determine that?

[2016-11-13 05:40] siddontang commented on #6845
We have not figured out a way to check it now. see https://github.com/pingcap/tikv/pull/1301

Could you show some benchmark results? Btw, we will do our own benchmark too.

[2016-11-13 05:47] xiang90 commented on #6845
OK. I think we should first try to justify this is a useful feature. Basically, we need to show that dynamically change the options is useful before we add into our raft library.

[2016-11-14 09:50] ringtail opened #6847 "etcd nodes have different modifiedIndex"
I have a three nodes cluster and I found the same key path has different modifiedIndex on different servers.Are they working well?

[2016-11-14 10:18] prashanthpai commented on #6733
@gyuho @xiang90 Thanks guys :+1: Using a different transport each time works for me.

[2016-11-14 14:18] prashanthpai commented on #6733
There seems to be a one line simple fix in etcd for this. Let me know what you guys think of this:

[code]

More on **CloseIdleConnections()** [here](https://golang.org/pkg/net/http/#Transport.CloseIdleConnections)

[2016-11-14 14:39] timothysc commented on #4709
/cc @smarterclayton fyi.

[2016-11-14 16:50] louis-paul opened #6848 "v3api: detach lease from a key"
Is there a way to dissociate a key from its lease without removing it? My use-case is to save temporary data (with a lease) and keep it (i.e. detach the lease) when needed.

[2016-11-14 17:10] xiang90 commented on #6848
Yes. Update the key without empty lease ID.

[2016-11-14 17:45] heyitsanthony commented on #6847
@ringtail how are you reading from the cluster? If it's not a quorum / linearized read, some members may return stale data.

[2016-11-14 18:42] louis-paul commented on #6848
So with the Go client, that would be done with a `Put` with the key and its value, without passing a lease ID?

Letting a client remove a lease from a key without sending its value again could be a valuable feature.

[2016-11-14 18:45] xiang90 commented on #6848
@louis-paul Sounds a reasonable feature to add. /cc @heyitsanthony

[2016-11-14 19:08] heyitsanthony commented on #6848
It's been requested before. Fix would probably be something like a `PreserveValue bool` in the Put RPC

[2016-11-14 19:37] fanminshi commented on #6834
Close this issue. it was caused by GOPATH being dirty.

[2016-11-14 19:37] #6834 closed

[2016-11-14 19:49] xiang90 commented on #6753
@timothysc @mffiedler Any update on this? Is this a VM write contention issue?

[2016-11-14 20:09] timothysc commented on #6753
@xiang90 we have both been OOTO, and are digging into it this week.

[2016-11-14 20:13] sbatschelet commented on #6643
@mitake sorry for delay on this I have been busy at wo$k.  Have you made any progress on this?  I didn't want to double efforts.

[2016-11-15 06:28] ringtail commented on #6847
It should be equal finally?

[2016-11-15 09:38] leonliao opened #6853 "Minor update is needed for Mac OS(Darwin) installation instruction in Releases page"
In link https://github.com/coreos/etcd/releases/, the section describing the installation on Mac OS needs to be updated.  Following that, the `etcd` binary is not at  `/tmp/test-etcd`, but at ` /tmp/test-etcd/etcd-${ETCD_VER}-darwin-amd64`

The original
 `mkdir -p /tmp/test-etcd && unzip /tmp/etcd-${ETCD_VER}-darwin-amd64.zip -d /tmp && mv /tmp/etcd-${ETCD_VER}-darwin-amd64 /tmp/test-etcd`

should

[2016-11-15 12:08] discordianfish commented on #6018
@xiang90 I just ran into this issue with 3.0.15 again (cert valid for my hostname (and some other IP) but not the IP etcd used to connect to it. I can't get the log anymore since I terminated the instances already but it didn't show any certificate error. Instead it only showed how it sends out vote requests and some timeouts. Also `etcd member list` returned an TLS timeout instead of any certific

[2016-11-15 15:47] mitake commented on #6785
@gyuho I changed the sleeping interval here: https://github.com/coreos/etcd/blob/master/pkg/testutil/leak.go#L94 from 50ms to 500ms, and the problem disappeared. Maybe enshorting the value will increase the probability of reproduction on your nevironment?

BTW, is the leaked goroutine check important for e2e? The e2e test itself just invokes etcd and etcdctl, so I feel leaking in the test code doe

[2016-11-15 15:49] xiang90 commented on #6785
@mitake Probably `os.(*Process).Release(...)` did not finish within 300ms? I agree this is probably not a serious problem. But it would be nice if we can locate the problem and fix it if easy to do.

[2016-11-15 15:56] mitake commented on #6785
@xiang90 Yes, some goroutines seems to be struggling at closing fd in the interval. I'm repeating the test several times but the part of `os.(*Process).Release(...)` disappeared. Only reproducible is
[code]

Anyway, I'll dig the problem deeper tomorrow.

[2016-11-15 17:02] gyuho commented on #6853
Just fixed. Thanks!

[2016-11-15 17:02] #6853 closed

[2016-11-15 17:18] heyitsanthony commented on #6847
@ringtail provided the cluster is healthy, the update will eventually propagate to every server

[2016-11-15 17:18] gyuho opened #6854 "grpc-proxy: add '/metrics' endpoint"
Might need `cmux` as etcd v3 server does for `/metrics`

[2016-11-15 17:44] LK4D4 opened #6855 "raft: node.Status method might block after Stop()"
I see that other methods have `n.done` checks to avoid deadlocks(i.e.
https://github.com/coreos/etcd/blob/master/raft/node.go#L472), but Status method will block until it gets an answer. I wonder if it makes sense to just return empty `Status` struct in the case of closed `n.done` channel. It will prevent deadlocks, and people can check if `ID == raft.None` to know if the status is valid.
WDYT?
Th

[2016-11-15 17:46] minjs commented on #6700
Even with system real time, I assume it should use the master system time.
In our case, the NTP was set to different NTP server accidentally. Whenever we set TTL key on local non master node, the key was deleted.  It turns out the expiring time is from local node, and it already behind master current time.

[2016-11-15 17:48] gyuho commented on #6700
@heyitsanthony @xiang90  The Go issue got delayed to Go 1.9, which is another 6+ months.

[2016-11-15 23:27] xiang90 commented on #6855
@LK4D4 SGTM. Can you send a patch to fix this?

[2016-11-15 23:33] LK4D4 commented on #6855
@xiang90 sure, will do right now. Thanks for feedback.

[2016-11-16 00:44] #6855 closed

[2016-11-16 07:15] mitake commented on #6643
@sbatschelet no, I'm not working on checking the swagger usage. Is it possible for you to work on it?

[2016-11-16 11:54] prashanthpai opened #6859 "embed: Support running etcd as proxy"
Currently, an embedded etcd can be only run in normal server mode and not as a [proxy](https://coreos.com/etcd/docs/latest/proxy.html).

The structures `embed.Config` and `etcdserver.ServerConfig` do not contain any proxy related fields.

[2016-11-16 12:26] alogoc commented on #3710
@Bregor  Did you find any solution? I am having the exact same issue with etcd2

[2016-11-16 12:51] luedigernet opened #6860 "interface client.Client includes a unexported name client.httpAction"
Hi I'm trying to build a test mockup for one of mine etcd client based apps.

When i try to build a mockup that implements the client.Client interface it cames to the point that client.Client interface introduced the internal definition of  client.httpAction.

From my point  of view that makes it impossible to create full featured mockup outside of the client package.

Maybe my verry new knowledge

[2016-11-16 13:13] mitake commented on #6785
I'm trying to reproduce with `-trace` flag of `go test`, but it seems that the flag makes the probability of reproduction lower...

[2016-11-16 13:58] Bregor commented on #3710
@alogoc nope, sorry :(

[2016-11-16 15:49] xiang90 commented on #6859
The v2 HTTP proxy is a standalone thing on its own. See https://github.com/coreos/etcd/tree/master/proxy/httpproxy. You can start embed in your project like etcd main does.

[2016-11-16 15:49] #6859 closed

[2016-11-16 15:51] xiang90 commented on #6785
I do not think we should spend too much time on this. If we know this is not related to etcd and the possibility to reproduce is so low, let's close (or forget about this and move this out of 3.1) this for now. /cc @heyitsanthony

[2016-11-16 17:25] gyuho commented on #6860
Do you have sample code with that error? You need to implement all methods in https://godoc.org/github.com/coreos/etcd/client#Client.

[2016-11-16 17:32] heyitsanthony commented on #6785
I can't reproduce this.

[2016-11-16 17:34] xiang90 commented on #6785
OK. @mitake I am closing this out. Let's reopen if this happens more frequently.

[2016-11-16 17:34] #6785 closed

[2016-11-16 17:35] xiang90 commented on #5054
@glevand I am going to move this out of 3.1 milestone. We are working on an etcd Jenkins. If the happens, we can simply add a arm64 slave to finish the remaining part.

[2016-11-16 17:57] mkumatag commented on #5054
@xiang90 we can add ppc64le slave as well to the same jenkins server

[2016-11-16 19:39] fanminshi opened #6863 "etcd-tester: fail to retrive max rev"
Setup:
OS X 10.11.6
Macbook pro 15
GOARCH="amd64"
GOHOSTARCH="amd64"
GOHOSTOS="darwin"
GOOS="darwin"
GOPATH="/Users/fanminshi/work"
GOROOT="/usr/local/Cellar/go/1.7.3/libexec"
GOTOOLDIR="/usr/local/Cellar/go/1.7.3/libexec/pkg/tool/darwin_amd64"

When I change the grpc connection with maxbackoff set to 1 in lease stresser(https://github.com/coreos/etcd/blob/master/tools/functional-tester/etcd-teste

[2016-11-17 02:24] mitake commented on #6785
@xiang90 @heyitsanthony I agree, let's close this for now.

[2016-11-17 03:48] TUTUBIG opened #6865 "i can't config the etcd by using the command flag"
![image](https://cloud.githubusercontent.com/assets/13084076/20375673/9205c958-acbb-11e6-8e7c-e7dd8f98b418.png)

[2016-11-17 03:49] xiang90 commented on #6865
I do not understand you question. Can you elaborate? Also can you paste the text instead of using screenshots?

[2016-11-17 04:39] TUTUBIG commented on #6865
@xiang90  i want to set the listen-client-url to be 'http://0.0.0.0:2379' , but something seems to be wrong
my command  `./etcd --listen-client-urls 'http://0.0.0.0:2379'` and the terminal gives the response
`2016-11-17 11:46:34.328536 E | etcdmain: error verifying flags, --advertise-client-urls is required when --listen-client-urls is set explicitly. See 'etcd --help'.`
`2016-11-17 11:46:34.32867

[2016-11-17 04:42] TUTUBIG commented on #6865
@xiang90   are you a chinese people ？

[2016-11-17 04:53] heyitsanthony commented on #6865
`./etcd --listen-client-urls 'http://0.0.0.0:2379' --advertise-client-urls='http://localhost:2379'` will work if you're not worried about configuring it correctly

[2016-11-17 06:03] #6865 closed

[2016-11-17 16:02] gyuho commented on #6010
Patch

[code]

From v3.0.0, v3.0.1, v3.0.2 to v3.0.3, we get 2x regression in S-reads.

[code]

https://github.com/grpc/grpc-go/issues/771
https://github.com/grpc/grpc-go/commit/ffdfb592e8ac60f3f9ca4889661eabfe09c11628
https://github.com/coreos/etcd/commits/master?after=N38ZsAMfnAqv4q7Ci2%2BQGTEfUvkrMTExOQ%3D%3D

To summarize serializable performance

[code]

So it's Go + gRPC that introduced the

[2016-11-17 19:41] luedigernet commented on #6860
Hi My Code looks something like this.

[code]

[2016-11-18 06:08] xiang90 commented on #5317
Fixed by #6846. There are a few other places that can be improved. But we will optimize it until it becomes a problem in real world.

[2016-11-18 06:08] #5317 closed

[2016-11-18 07:43] gyuho commented on #6010
Not much progress so far...

Just to add a note

[code]

Same code with etcd master branch shows latency spikes around `*store.Mutex.Lock`.
Go 1.6.3 takes only 200 ~ 300ns, while Go 1.7.3 takes 50 ~ 150ms. Initial requests in both case take 200 ~ 300ns, but later requests in Go 1.7.3 slow down. Seems like some request congestion before this transaction code path is triggering lock contentions in l

[2016-11-18 13:37] Vaidyanath opened #6870 "etcd cluster unhealthy state in ubuntu 16.04"
#
I have created a etcd cluster with secure settings with 3 nodes in ubuntu 16.04
The services are active and running but the cluster health is unhealthy.
Here is the details of the nodes and the service file details.

[code]

Node-1 Service file

[code]

Node-2 Service file

[code]

Node-3 Service file

[code]

Kubernetes json file entry.

[code]

[2016-11-18 17:14] pegerto commented on #2471
Hi @xiang90

This bug has been fixed already unfortunately we keep running   `"etcdserver": "2.3.1"` and we are affected, can you clarify the merge request or version where the issue is fixed.

Regards.

[2016-11-18 17:23] timothysc opened #6871 "support for non-x86 ?"
Allow support for non-x86 arches where golang is supported.

Do you have any official policy on this?

[2016-11-18 17:24] xiang90 commented on #6871
@timothysc

Yes. https://github.com/coreos/etcd/blob/master/Documentation/op-guide/supported-platform.md

I know people are working on arm64 and ppc64le

[2016-11-18 17:26] timothysc commented on #6871
Should it be marked as unsupported then?  xref: https://bugzilla.redhat.com/show_bug.cgi?id=1396463

[2016-11-18 17:30] xiang90 commented on #6871
@timothysc We only mark supported since we only support amd64, all others are unsupported. Once we support the majority, we will do the opposite...

[2016-11-18 18:04] gyuho commented on #6870
Try specifying `--key-file` and `--cert-file` in `etcdctl` command?

[2016-11-18 18:11] #6841 closed

[2016-11-18 18:16] heyitsanthony commented on #2471
@pegerto the fix should already be in 2.3.1. The release for 2.3.0 happened a year after this issue was closed.

[2016-11-18 21:30] pegerto commented on #2471
Hello @heyitsanthony

I see, I understand that the issue is old, issue, I saw other issue we keep having issues to recover for a memory crash after multiple transactions. As initially described at this ticket.

[code]

[2016-11-18 21:31] gyuho commented on #6055
This is now fixed via https://github.com/coreos/etcd/pull/6864.

[2016-11-18 21:36] heyitsanthony commented on #2471
@pegerto please open a fresh issue with the logs explaining how to reproduce, the machine configuration, and the amount of data being kept in etcd? It could just be that the machine is legitimately out of memory.

[2016-11-19 00:09] gyuho commented on #6010
Reproducible with single node

[code]

With Go 1.6.3 (v3.0.2)

[code]

With Go 1.7.3 (v3.1.0-rc.1)

[code]

Profiling data from `/debug/pprof/profile`

[pprof-go1.6.3.pb.gz](https://github.com/coreos/etcd/files/601109/pprof-go1.6.3.pb.gz)
[pprof-go1.6.3.pdf](https://github.com/coreos/etcd/files/601110/pprof-go1.6.3.pdf)
[pprof-go1.7.3.pb.gz](https://github.com/coreos/etcd/files/601111/pprof-go1.7.

[2016-11-19 01:58] Vaidyanath commented on #6870
@gyuho  tried that but still the same error.

[code]

[2016-11-19 02:28] ringtail opened #6874 "pipeline's sending buffer is full and failed to write d8343e712cfcb068 on stream MsgApp v2 ( i/o timeout) are to manny"
I have a three nodes etcd cluster. And every few minutes.I'll get the message write timeout or send buffer is full. How can I reduce the problem.

[2016-11-19 02:30] ringtail commented on #6874
here is my cluster configuration:

[code]

[2016-11-19 04:04] #6854 closed

[2016-11-19 04:52] ringtail commented on #6874
could I set a large num to  pipeline's sending buffer?

[2016-11-19 05:37] xiang90 commented on #6874
Version of etcd server? full etcd server log?

[2016-11-19 06:16] xiang90 commented on #6010
@gyuho After taking a closer look at the 1.7.3 pprof data, I think we did something wrong.

For example, it shows

[code]

Why do we have txn request in the data???

Also it shows

[code]

This func can only be called in watch.

So the pprof result for 1.7.3 is clearly problematic.

[2016-11-19 06:18] gyuho commented on #6010
@xiang90 All I did was

[code]

I could have done wrong. I will rerun these tests and make sure those calls do not show up.

[2016-11-19 06:20] xiang90 commented on #6010
@gyuho Well. Probably we did something wrong in our client code (FiltersFromRequest is called from watch), if you have time probably you can switch to raw gRPC to do benchmark. it might make a difference?

[2016-11-19 06:27] xiang90 commented on #6010
Or you might point pprof to the wrong binary: 1.7.3 pprof data but points to 1.6.3 binary. The pprof of 1.7.3 seems really broken.

[2016-11-19 06:28] gyuho commented on #6010
Yeah I should try raw grpc calls. And all clients were in Go 1.7.3, just different Go versions in server side. I should try clients in different Go versions as well.

[2016-11-19 06:30] xiang90 commented on #6010
[code]

Can you try to build 3.0.2 with go 1.7 and do a benchmark?

[2016-11-19 06:35] gyuho commented on #6010
@xiang90

[code]

[2016-11-19 06:37] xiang90 commented on #6010
Probably a good start is to focus only on 3.0.2 and see what is the difference between go 16 and 17 since that is the only change.

[2016-11-19 06:39] gyuho commented on #6010
Same client with Go 1.7.3 but Go 1.6.3 server (v3.0.2).

[code]

Yeah, I will investigate more on the HTTP/2 changes.

Thanks.

[2016-11-19 06:40] xiang90 commented on #6010
@gyuho can you get a pprof data for 3.0.2 go16 and go17? (try --total=500000 for a longer period  of data)

[2016-11-19 07:14] gyuho commented on #6010
[etcdv3.0.2-go1.6.2-5M-serializable-reads.pdf](https://github.com/coreos/etcd/files/601298/etcdv3.0.2-go1.6.2-5M-serializable-reads.pdf)
[pprof.10.240.0.44:2379.samples.cpu.001.pb.gz](https://github.com/coreos/etcd/files/601300/pprof.10.240.0.44.2379.samples.cpu.001.pb.gz)

[code]

[etcdv3.0.2-go1.7.3-2M-serializable-reads.pdf](https://github.com/coreos/etcd/files/601299/etcdv3.0.2-go1.7.3-2M-seri

[2016-11-19 08:10] ringtail commented on #6874
etcd 2.2.2

[2016-11-19 08:18] ringtail commented on #6874
16年11月19日
15时05分25秒

10.117.57.38
msg: I | rafthttp: the connection with 41f6d0b080755051 became inactive
time:2016-11-19 15:05:25.567568
16年11月19日
15时05分25秒

10.117.57.38
msg: E | rafthttp: failed to read 41f6d0b080755051 on stream MsgApp v2 (read tcp 10.117.57.38:35866->10.132.2.217:2380: i/o timeout)
time:2016-11-19 15:05:25.567638
16年11月19日
15时05分25秒

10.117.57.38
msg: I | rafthttp: the connec

[2016-11-19 13:11] ringtail commented on #6874
I can reduce the error by adjust the value of pipeline buffer size and receive channel buffer size. But some times I still get list that "E | rafthttp: failed to write d8343e712cfcb068 on stream MsgApp v2 (write tcp ip:2380->ip:43724: i/o timeout)" .I would like to know is it a warning not a error?

[2016-11-19 15:59] xiang90 commented on #6874
Try with etcd 2.3.7. We fixed a few transport related issues.

[2016-11-19 16:04] xiang90 commented on #6010
@gyuho

Hmm... Is there a reason that we do 5M reads for go 16 but 2M for go 17? We really should make sure all the variables are the same except go versions.

If you take a look at the go 17 pprof data, there is no range related funcs there. The most significant one is lease operation. This is strange.

[2016-11-19 17:20] xiang90 commented on #6010
@gyuho I did a pprof on go 1.7.2 + 3.0.2 myself. The benchmark result is similar. But the pprof result is clean and is different from yours. I think you did something wrong for pprof.

Here is the correct way to do it:

1. start etcd with pprof enabled
2. benchmark range at least for 30s (pprof needs 30s to collect data)
3. go tool pprof $ENDPOINT
4. go tool -svg binary pprof.result > cpu.svg

You

[2016-11-19 17:30] kelseyhightower opened #6875 "etcdctl cluster-health broken in etcd v3.0.15"
[code]
[code]

Works with v3.0.10:

[code]

[code]
[code]

[2016-11-19 17:40] xiang90 commented on #6010
@gyuho Can you create a new github issue for this problem? This issue is too messy and contains wrong pprof information. Let's start from fresh?

[2016-11-19 17:46] gyuho commented on #6010
@xiang90 Agree. I will create a new issue with accurate pprof data.

I can show you how I did it next Monday, but not sure why my result doesn't seem correct...

I did 2M keys for Go 1.7.3 because I wanted to collect data with the same amount of time with Go 1.6.3.

I did something like this (etcd server and client are in separate VM):

[code]

I will run more tests and create an issue.

Can you s

[2016-11-19 17:46] #6010 closed

[2016-11-19 18:07] gyuho commented on #6875
Works fine on Linux.

[code]

[code]

We will try on Mac machines next week.

Thanks for report!

[2016-11-19 18:09] xiang90 commented on #6875
Cannot reproduce on OSX.

Downloaded 3.0.15 from github release page.

[code]

[code]

[2016-11-19 18:17] gyuho opened #6876 "Serializable range performance regression with Go 1.7.3"
Reiterated from https://github.com/coreos/etcd/issues/6010

<br><br><hr>

#### How to reproduce

##### Build etcd binaries, others

Build etcd binaries in different Go versions with https://github.com/coreos/etcd/commit/faeeb2fc7514c5caf7a9a0cc03ac9ee2ff94438b

[code]

Or

[code]

##### Run single-node cluster, benchmark, `pprof`

Go 1.6.3 + master branch Go 1.7.3 client

[code]

Go 1.7.3 + master

[2016-11-19 19:59] xiang90 commented on #6863
@fanminshi

This should only affect lease client, right? But somehow the client maxRev created is affected. There should be some lower layer resources that shared by both lease client and maxRev get affected.

[2016-11-19 20:13] xiang90 commented on #6863
@fanminshi

Even if I do not change the grpc.Dial line, the same problem can occur on current master. So it is irrelevant.

[2016-11-19 21:11] xiang90 commented on #6863
I found the root cause. will send a pr to fix soon.

[2016-11-20 03:28] ringtail commented on #6874
I am going to merge code from etcd3.0.14，Is etcd2.3.7 is a better choice ?

[2016-11-20 06:13] gyuho commented on #6870
@Vaidyanath Can you try without TLS first? If error still happens, could you provide error logs from etcd servers?

[2016-11-21 06:21] ringtail opened #6880 "Update from v2.2.2 to v3.0.13."
Is it really necessary to upgrade from v2.2.2 to v2.3.7 and then upgrade to v3.0.13.I have upgrade a cluster from v2.2.2 to v3.0.9 and I works well.

[2016-11-21 06:22] xiang90 commented on #6880
We suggest that. We do not test the upgrade path not listed in upgrade guide. So it might work, it might now.

[2016-11-21 06:22] #6880 closed

[2016-11-21 11:41] bweston92 commented on #3265
Readme still seems to be out of date.

[2016-11-21 11:52] #6874 closed

[2016-11-21 11:52] #6847 closed

[2016-11-21 12:50] ringtail opened #6882 "upgrade from etcd2.2.2 to etcd3.0.9 modifiedIndex is different between nodes"
After upgrade from 2.2.2 to 3.0.9. I found some keys is not consistency because the modifiedIndex is different. on one node the value is 97889699 on the other node is 96885367.

[2016-11-21 13:09] ringtail commented on #6882
I am really confused about the behavior.I can't figure out where should be the point.

[2016-11-21 15:59] rtoma opened #6883 "Downgrading 3.0.15 to 2.3.7 fails, experimental-v3demo cannot be disabled"
I have a 3 node 2.3.7 etcd cluster. Its healthy.

I upgraded 1st and 2nd nodes to 3.0.15. 3rd node is leader and complains about versions:
[code]
But the cluster is still healthy.

Downgrading 1st node back to 2.3.7. This node will not start up, because of
[code]
Neither 2.3.7 or 3.0.15 config included `ETCD_EXPERIMENTAL_V3DEMO=true`.

Upgrading 1st node again and its happy. Great of course, but I

[2016-11-21 17:52] xiang90 commented on #6883
Will a backup before upgrading work for you?

[2016-11-21 18:11] sukrit007 commented on #3864
We keep seeing these errors in the logs.  What are the current timeouts and is there a way to adjust the timeouts ?

We are using 3 node cluster in ec2 created using cloudformation template:

https://s3.amazonaws.com/coreos.com/dist/aws/coreos-stable-hvm.template

CoreOS: 1185.3.0

[2016-11-21 20:09] rtoma commented on #6883
Yes, its downgrading-the-hard-way, but it will do.

Any idea why the normal downgrade path is not possible?

[2016-11-21 20:52] mwf opened #6887 "etcdctl v3 - keys lease ID should be in hex?"
Hi, guys!

I'm wondering why "lease" is not HEX value in GET response?

ETCDCTL_API=3 /usr/local/bin/etcdctl  get foo -w json
[code]

In order to use it in any ```lease <cmd>``` command I have to convert it to HEX first.
[code]

Do you have any plans to fix this inconsistency?

[2016-11-21 20:55] xiang90 commented on #6887
This is inconsistency since the output format is not default. It is from json. I do not think we should fix this. We can add a flag to range to output the lease of a key and output the lease id in hex format.

[2016-11-21 20:56] gyuho commented on #6887
Yeah printing out `range` response with lease in hex sounds better.

[2016-11-21 21:04] mwf commented on #6887
Maybe the best option - to add an option for ```lease``` command to recieve lease ID in int64 format? Just curious, what was the reason for HEX? :)

Otherwise you should also support HEX output in other commands, where lease ID may occur, like:

[code]

[2016-11-21 21:12] xiang90 commented on #6887
HEX is short. All lease commands in etcdctl output HEX. JSON format is not the default output. And we do not plan to make it the default.

[2016-11-21 21:17] mwf commented on #6887
OK, got it :)

Then it would be great to add a new field with HEX. "lease_id" or "lease_hex" as it's more clear :)
And even no additional flag is needed, because there is no compatability break in adding a new field.
Looking forward for it!

[2016-11-21 21:19] xiang90 commented on #6887
@mwf If you have time, can you contribute to this flag in range request?

[2016-11-21 21:22] mwf commented on #6887
Yeap, would be glad to!

Let's make a decision about the field name ("lease_id" or "lease_hex")? And do we really need additional flag since the backwards compatability is not broken?

[2016-11-21 21:25] xiang90 commented on #6887
@mwf

we print out the get result here: https://github.com/coreos/etcd/blob/master/etcdctl/ctlv3/command/get_command.go#L74

The display func does not print out leaseID. So you have to get the json header.

We need to keep backwards compatability. I suggest to have a --lease-id flag added into get sub command. Once it is enabled, we print out lease id after value. If no lease id is attached, print

[2016-11-21 21:33] mwf commented on #6887
Ah, I see now, you want to add lease ID to the default output, not json. So additional flag is really needed.

But why not to add it to JSON output? Or this JSON is a plain gRPC response from etcd, encoded in JSON? That's why we can't add a new field there?

[2016-11-21 23:24] gyuho commented on #6876
##### Build etcd binaries, others

Build etcd binaries in different Go versions with `git reset --hard faeeb2fc7514c5caf7a9a0cc03ac9ee2ff94438b` for https://github.com/coreos/etcd/commit/faeeb2fc7514c5caf7a9a0cc03ac9ee2ff94438b

Or

[code]

##### Run single-node cluster, benchmark, `pprof`

[code]

[code]

[2016-11-21 23:42] xiang90 commented on #6887
@mwf We cannot json output. json should not represent int as hex i think.

[2016-11-22 00:45] sanjeevm0 opened #6889 "cloud config with dynamic IP for etcd"
In cloud config, we need the following for etcd2 cluster.  However, if public_ipv4/private_ipv4 is being assigned by DHCP server, then what should be entered?  It seems it can easily be populated by looking at ip address which is assigned to the network interface after booting.  However, it is not known beforehand. Is it possible to populate /run/systemd/system/etcd2.service.d/20-cloudinit.conf wi

[2016-11-22 01:00] fanminshi commented on #6863
should be fixed by https://github.com/coreos/etcd/pull/6877 and https://github.com/coreos/etcd/pull/6867

[2016-11-22 01:01] #6863 closed

[2016-11-22 10:35] rtoma commented on #6883
I've upgraded our clusters without issues. Closing this ticket.

[2016-11-22 10:35] #6883 closed

[2016-11-22 10:36] ringtail commented on #6882
anyone can help me ?

[2016-11-22 16:39] gyuho commented on #6876
I notice our `http2` in `golang.org/x/net` is pretty outdated (https://github.com/golang/net/commit/6acef71eb69611914f7a30939ea9f6e194c78172). Will try with latest version.

[2016-11-22 17:23] xiang90 commented on #6753
@timothysc Update?

[2016-11-22 18:54] gyuho commented on #6882
I just tried simple migration from 2.2.2 to 3.0.9 with only v2 keys. And modified indexes look all correct.

How did you migrate your cluster?

Do you have an easy way to reproduce this?

[2016-11-22 19:09] gyuho opened #6891 "functional-tester: fails with slow network injection"
[code]

[2016-11-22 20:16] aanm opened #6892 "etcd hangs on 2nd get status"
I was trying to get the cluster status of etcd. Calling `e.Status()` once works as expected. However, calling `e.Status()` again, it doesn't work and the client hangs forever. Do I need to create a new cliente instance in order to retrieve the endpoint status of each endpoint? Why?

[code]

version: `3.1.0-rc.1`

[2016-11-22 21:12] Supernomad opened #6893 "Interesting potential memory issue"
### Issue/Question
I have a brand new cluster running in my infrastructure, that has exactly a single key with a single value in the root of the key/value store.

[code]

The topology of the setup is a 3 node etcd server cluster, plus etcd proxies distributed to ~400 servers across the globe. All of the etcd instances are running in a docker container based on ubuntu 14.04 and utilize `--net host`

[2016-11-22 21:15] xiang90 commented on #6893
No. We reserve 10GB VIRT memory for etcd on startup.

[2016-11-22 21:15] Supernomad commented on #6893
Well there you have it, super simple explanation. Thank you for the swift response.

[2016-11-22 21:15] #6893 closed

[2016-11-22 21:41] xiang90 commented on #6893
This is awesome! Let us know how it goes and where we could help.

[2016-11-23 04:03] xiang90 commented on #6871
It seems the questions is addressed. I am closing this out. Reopen if you have any followup questions.

[2016-11-23 04:03] #6871 closed

[2016-11-23 07:11] gyuho commented on #6870
@Vaidyanath Any updates?

[2016-11-23 07:13] ringtail commented on #6882
I just restart cluster with new version etcd  and I found some time the X-ETCD-INDEX is different between nodes. If I recover a node, I will work correctly.

[2016-11-23 07:15] gyuho commented on #6882
Did you use `migrate` command to transfer v2 keys to v3 store? Or just rolling upgrade by replacing the etcd binary files? Providing an easy way to reproduce this would be helpful. Thanks!

[2016-11-23 07:18] ringtail commented on #6882
And I found etcdv3.0.13 v2 api performance is not as well as before. we use docker swarm and I can't create 7 overlay network containers one second with etcd2.2.2 but I can only create 2.6 overlay network containers one second with etcd3.0.13 with v2 api.

[2016-11-23 07:19] ringtail commented on #6882
@gyuho I just rolling upgrade with replacing the etcd binary.

[2016-11-23 07:22] ringtail commented on #6882
@gyuho I don't want to use v3 api.I just want to use v2 api with etcd3.0.13

[2016-11-23 07:24] gyuho commented on #6882
User-facing v2 API stays the same and we did not change any underline implementation in v2, so the performance should be same. If you can reproduce the regression in v2 API in v3.0.x, please create a separate issue.

And could you provide a simple script to reproduce that index issue?

It should be reproducible from fresh cluster for us to debug, and I couldn't reproduce.

Thanks!

[2016-11-23 07:29] ringtail commented on #6882
@gyuho I can't reproduce the case. But the scenario is the slave node etcd x-etcd-index is much large than the leader and if you modify a key and the modifiedIndex will increase in the leader and in the slave but they are different. I just remove the node and add the node back to de cluster.And It works well. I don't konw how to reproduce it but I think It shoud be caused by upgrading.

[2016-11-23 07:35] gyuho commented on #6882
Ok I will try again to reproduce it. Thanks.

[2016-11-23 07:39] ringtail commented on #6882
@gyuho I have some more information.The cluster is a 3 nodes cluster. It is in heavy load.

[2016-11-23 08:18] Vaidyanath commented on #6870
I tried setting up without TLS and its working fine. Not sure what is the issue. I am scrapping that environment and bringing up a new setup.

[2016-11-23 08:18] Vaidyanath commented on #6870
Thanks for your help @gyuho

[2016-11-23 16:47] mrmiywj opened #6895 "raft: pre-vote test may fail when porting in TiKV"
Recently I'm porting raft's pre-vote part in TiKV. Then I found that `leader_election_pre_vote` test may fail on [this case](https://github.com/coreos/etcd/pull/6624/files#diff-ad12a9c9b66e1507ca04edc74b4b1e8aR319). Unfortunately, this test may fail at times. The log is listed as follows.

[code]

In this test case, node1 will send out pre-vote request message with `term=2, last_log_index=1, last_

[2016-11-23 18:15] xiang90 commented on #6895
/cc @bdarnell

[2016-11-23 18:34] xiang90 commented on #6892
/cc @fanminshi @gyuho take a look?

[2016-11-23 18:42] gyuho commented on #6892
Sure will try to reproduce.

[2016-11-23 19:18] gyuho commented on #6892
I can reproduce. Will fix soon.

[2016-11-23 19:29] gyuho commented on #6892
This should be fixed via https://github.com/coreos/etcd/issues/6892.

We were returning the original string slice, which is reference to the original string array. So when your code manipulates the `eps`, it was updating the actual endpoints in the client.

[2016-11-23 19:51] #6892 closed

[2016-11-23 19:56] xiang90 commented on #6882
@ringtail

For index mismatch, we need a reproduce. index can be messed up with misconfiguration or bugs in etcd 2.2 releases. And these issues are all fixed by now. I am not sure what is your issue without a reproduce.

For performance regression, please open a new issue with information including your hardware configuration, etcd configuration, perf regression data.

This is useless to us. We do

[2016-11-23 21:25] gyuho commented on #6891
@fanminshi Now we know `SIGQUIT` was from `cleanUp`, and it is expected.

Here's what happened:

Tester fails to talk to `10.240.0.2:2379`

[code]

`10.240.0.2:2379` shows:

[code]

`10.240.0.2:2379` agent log also shows that it had sent `SIGQUIT`:

[code]

So `SIGQUIT` part all works as expected. We just need to figure out why etcd server was not able to process client requests.

`10.240.0.2:2379

[2016-11-24 01:52] gyuho commented on #6875
@kelseyhightower How often does this happen? Can you try other hosts like `127.0.0.1`?

Might be related `localhost` resolution on MacOS https://github.com/coreos/etcd/pull/6877#issue-190535105

I don't see this in Linux.

[2016-11-24 02:27] ringtail commented on #6882
@xiang90 @gyuho thanks guys!

[2016-11-24 02:27] #6882 closed

[2016-11-24 02:43] aanm commented on #6892
Cool, thanks! :-)

[2016-11-24 04:53] tao12345666333 opened #6897 "etcdctl : No help topic for 'put'"
[code]

All of the project's documentations  used `etcdctl put ` command for  examples like this [https://github.com/coreos/etcd/blob/master/etcdctl/README.md](https://github.com/coreos/etcd/blob/master/etcdctl/README.md). But  when I used, I got an error. `No help topic for 'put'`.  I can use `set` command correctly.

I want to know if the document is out of sync or I'm wrong ?

I found `etcdctl/

[2016-11-24 15:28] gyuho commented on #6897
@tao12345666333 You need `ETCDCTL_API=3 ./etcdctl put --help`

[2016-11-24 16:24] xiang90 commented on #6897
This is wrong.

You should do export ETCDCTL_API=3

[2016-11-24 16:24] #6897 closed

[2016-11-24 16:24] FarzanRNobakht commented on #3504
it happends to me even when i start etcd in docker (data dir is restarted)

[2016-11-25 01:43] tao12345666333 commented on #6897
Thank you. It's my wrong.

[2016-11-25 05:27] lycclsltt commented on #6897
赞

[2016-11-25 05:52] mitake opened #6899 "RFC: protecting membership change RPCs with auth"
Currently membership change RPCs (e.g. `MemberAdd()`) isn't protected by the auth mechanism. As we discussed before, these RPCs should require root role. But The RPCs are a little bit different from other requests so it needs its own customized mechanism. I'd like to share my idea.

1. In the functions e.g. `EtcdServer.AddMember()`, credentials of clients are checked. If the client doesn't have a

[2016-11-25 18:00] timothysc commented on #6753
We created isolated experiments which have not reproduced, so i would say close for now and if/when we have more details, I'll reopen.

[2016-11-25 18:00] #6753 closed

[2016-11-26 11:37] olivere opened #6900 "Panic (nil pointer dereference) in gRPCWatcher"
I am using gRPC resolver in a system with 3 services. The dependency graph is as follows:

A
B -> A
C -> A, B

Service A starts up and registers as follows:

[code]

Service B registers like A, but retrieves a `grpc.ClientConn` to A from etcd like this:

[code]

Service C does the same as B, but uses separate resolvers and balancers for connecting to A and B.

Now when I start all services, everyt

[2016-11-27 08:46] WangFenjin opened #6902 "grpc-proxy need to work with client AutoSync"
Please refer to this thread: https://groups.google.com/forum/#!topic/etcd-dev/wMCuWvYcsWM

Create an issue to track it.

[2016-11-27 20:19] bcle commented on #3600
Hi, I am seeing a symptom that looks like this one, although I'm using etcd 2.2.5, where the "context deadline exceeded" issue is supposed to have been fixed, according to an earlier comment.

The situation is, occasionally, one node of a 3-node cluster fails discovery because of "context deadline exceeded". The problem is that the etcd process exits without retrying. I've determined that on a man

[2016-11-28 06:56] Vaidyanath commented on #6870
I tried setting up a new cluster and I am still facing the same issue. I am following the link below.
https://github.com/kelseyhightower/kubernetes-the-hard-way/blob/master/docs/03-etcd.md

I have setup with etcd cluster with autotls for time being and its working.

[2016-11-28 06:59] armstrongli commented on #6164
I got this issue when I migrated the etcd from etcd2 to etcd3. The values put into were stored in etcd2's store.

[code]

@heyujiaan Please migrate the data or use etcdctl(v3) do the key/value put.

[2016-11-28 07:26] mkumatag commented on #6818
@xiang90 I see in a `jenkins CI` entry in recent PR's, I tried clicking it but couldn't get the access. Can you please help me get access for that jenkins CI server.?

[2016-11-28 08:59] armstrongli opened #6904 "`ls` command is missing in etcdctl v3"
The `ls` command is missing in etcdctl v3 APIs. Hope it can be back cause etcdctl stores is incompatible between v2 and v3.
e.g.
[code]

And after data migration, I can't find what the latest data is. Neither can I debug my business.

[2016-11-28 17:32] xiang90 commented on #6904
You can use `ETCDCTL_API=3 ./etcdctl get z --prefix` to achieve similar goal. There is no directory in v3, thus no ls.

[2016-11-28 17:32] #6904 closed

[2016-11-28 17:33] xiang90 commented on #6900
@olivere What is the version of etcdServer are you running?

[2016-11-28 17:34] xiang90 commented on #6895
@bdarnell Can you take a look? Or I will take a look later this week. Thanks!

[2016-11-28 17:40] xiang90 commented on #6889
This seems like a cloud config question. If you are running CoreOS, you probably should open an issue here: https://github.com/coreos/bugs/issues .

For etcd, you'd either:
1. tell etcd the ip:port before you start etcd via command line configuration or config file
2. in the later version of etcd (>3), etcd will try to pick up the ip on the default route and use it as advertised ip if no ip is spe

[2016-11-28 17:44] olivere commented on #6900
Hi there! Here you are:

[code]

[2016-11-28 17:46] xiang90 commented on #6900
@olivere yea. etcd 3.0.9 does not support prevKV feature. Can you try with latest version of etcd server? At the other side, we should fix the client to at least not panic in this case.

[2016-11-28 17:47] olivere commented on #6900
Ah. I see. Will check.

BTW: Checking for `nil` seems to resolve the issue. No orphaned services registered, regardless of the order I stop the services.

[code]

[2016-11-28 17:56] olivere commented on #6900
I can confirm that etcd from HEAD works fine.

[code]

[2016-11-28 17:59] xiang90 commented on #6900
@olivere Awesome. If you want to help us fix it, I think we should:

1. check nil
2. if nil, we can still fill in the addr field since we know the deleted key (metadata is in the value though)/

[2016-11-28 18:35] olivere commented on #6900
@xiang90 Hmm... I've tested [this change](https://github.com/olivere/etcd/commit/2e2b5274a342dbf9460b6438a5d8916b150e2c36) to see if it resolves the panic and correctly removes the services (I could create a PR from there).

Started 3 services that have this hierarchy: `cloud-distlock` -> `cloud-identity` -> `cloud-content`.

[code]

Then I quit `cloud-distlock`. No panic, and the service is corre

[2016-11-28 18:48] xiang90 commented on #6900
@olivere It is correct at etcd side. But not correct at the resolver side. For delete event, we should fill in all the fields instead of just returning an empty delete event.

[2016-11-28 18:59] heyitsanthony commented on #6875
Can't repro on 10.10.5. It doesn't look like there was anything between 3.0.10 and 3.0.15 that would have caused breakage on this path.

@kelseyhightower any thoughts on how to reliably reproduce this?

[2016-11-28 19:02] olivere commented on #6900
@xiang90 Oh. I see. Added a small debug output. This is what I see on DELETE.

[code]

So you want me to send a `naming.Delete` for `e.Kv.Key`, [like this](https://github.com/olivere/etcd/blob/master/clientv3/naming/grpc.go#L87-L102)? Sorry for all that ping pong, but I'm not too deep into the etcd code yet.

Notice that this change breaks the resolver tests:

[code]

[2016-11-28 19:03] gyuho commented on #6870
Can you provide your service files here? It should be configuration issue. Thanks.

[2016-11-28 19:04] gyuho commented on #6870
Nvm, I see your service files above. How did you generate certs?

We also use cfssl for etcd deployments, and it works fine.

[2016-11-28 19:08] heyitsanthony commented on #6900
@olivere for this to work without PrevKV support, it should do a `Get(gw.ctx, e.Key, clientv3.WithRev(e.ModRevision - 1))` when PrevKV is nil to get the value for the update slice instead of dropping the event on the floor.

[2016-11-28 19:24] olivere commented on #6900
@heyitsanthony @xiang90 Thanks guys for leading me into the right direction. Is [this](https://github.com/olivere/etcd/blob/master/clientv3/naming/grpc.go#L87-L112) better? Can we assume that the `Key` is a `string` in [line 102](https://github.com/olivere/etcd/blob/master/clientv3/naming/grpc.go#L102)?

[2016-11-28 20:20] heyitsanthony commented on #3864
From https://github.com/coreos/etcd/blob/master/etcdserver/config.go#L137 it's defined as `return 5*time.Second + 2*time.Duration(c.ElectionTicks)*time.Duration(c.TickMs)*time.Millisecond`. If you want to increase the request timeout that means changing the `--election-timeout` flag passed to etcd.

[2016-11-28 20:55] heyitsanthony commented on #6900
@olivere yes, that will work. @xiang90 had some concerns about compaction causing the value to be lost, though. The alternative is ditch PrevKV entirely by keeping a map of known resolver keys to values and filling in the update with the value from the map when there's a delete.

[2016-11-28 21:04] olivere commented on #6900
@heyitsanthony I see. Let me know if you want me to squash a PR.

[2016-11-28 21:45] heyitsanthony commented on #3600
There are still a lot of places in the discovery code that could return a context timeout if it takes more than 5 seconds to reach the cluster.

[2016-11-28 22:18] bcle commented on #3600
Thanks @heyitsanthony. So to confirm, a context timeout is always fatal during discovery?

[2016-11-28 22:30] heyitsanthony commented on #3600
@bcle yes, there's no special handling for deadline exceeded errors in the discovery code as far as I can tell

[2016-11-28 22:38] heyitsanthony commented on #6464
Still seeing timeouts,
https://semaphoreci.com/coreos/etcd/branches/master/builds/1274

[2016-11-29 01:36] Vaidyanath commented on #6870
These are the steps I followed to create my ca config and certificate .

https://github.com/kelseyhightower/kubernetes-the-hard-way/blob/master/docs/02-certificate-authority.md

[2016-11-29 02:00] gyuho commented on #6870
Yeah that guide looks correct.

What did you put in your `kubernetes-csr.json`? Did you put correct host IPs of etcd servers?

[2016-11-29 02:23] armstrongli commented on #6904
The `ETCDCTL_API=3 ./etcdctl get z --prefix` will show all keys and values which match the prefix. It's really not friendly to operators to check the keys in each level.
e.g.
I want to know how many third party resources created in kubernetes, I need to know the exact path of the keys' prefix. All the values are returned at the same time.

[2016-11-29 02:27] xiang90 commented on #6904
You should use k8s tool set to do it, not etcdctl. etcd3 does not understand any path structure. we do not plan to add that feature in core etcd either.

[2016-11-29 02:30] armstrongli commented on #6904
We got this issue when we upgrade kubernetes from 1.2 to 1.3:
All third party resources should be rebuilt to match the none-namespace resources definition.
We need to delete the old resources from etcd directly and use new kubernetes API to rebuild those third party resources. The new kubernetes third party resource API can't get the old third party resources any more.
For such cases, we have to d

[2016-11-29 02:31] xiang90 commented on #6904
We need to delete the old resources from etcd directly and use new kubernetes API to rebuild those third party resources. The new kubernetes third party resource API can't get the old third party resources any more.

Open an issue in k8s repo. Upgrading etcd should not break any k8s feature.

[2016-11-29 02:32] armstrongli commented on #6904
Thanks :)

[2016-11-29 04:11] Vaidyanath commented on #6870
here is my kuernetes-csr.json

[code]

[2016-11-29 04:13] gyuho commented on #6870
They all look correct. Can you provide etcd server-side logs when you get `member 60650925d4cae038 is unreachable: [https://192.168.19.171:2379] are all unreachable`?

[2016-11-29 04:27] Vaidyanath commented on #6870
I have setup the cluster without the tls now. Let me change the cluster with tls and will share you the details.

[2016-11-29 06:10] prakashsingh08 commented on #6870
@gyuho ,I ma also facing same issue and I am following same link whatever Vaidyanath is trying.In my case I am getting below error during checking of cluster health.

`etcdctl --endpoint=https://127.0.0.1:2379  --ca-file=/etc/etcd/ca.pem --cert-file=/etc/etcd/kubernetes.pem --key-file=/etc/etcd/kubernetes-key.pem --debug cluster-health
Cluster-Endpoints: https://127.0.0.1:2379
cURL Command: curl -

[2016-11-29 06:18] gyuho commented on #6870
@prakashsingh08 Can you provide server logs from etcd processes?

[2016-11-29 07:08] armstrongli opened #6908 "single point failure on etcdctl commands"
If there're multiple members in etcd v3 cluster, there is single point failure on etcdctl commands with multiple endpoints set.

e.g.
`ectl=etcdctl --endpoints="a,b,c,d"`. `a`,`b`,`c`,`d` are member endpoints.
All commands work well if all the members of the cluster are healthy.

[code]

After one of the member gets down, v3 commands don't work, v2 ones keep working:
[code]

[2016-11-29 08:04] prakashsingh08 commented on #6870
[code]

[2016-11-29 08:07] coder0wang opened #6909 "Save error for key 'NC**',example'NC01612133'"
Some time the key for 'NC01**' is can't save;
Some time is saved,but have error code.
I just save a value that is string ,but  the value is "Ã\u0083\u0083\u0083\u0083\u0083\u0083\u0083\u0083\u0083\u0083\u0083\u0083\u0083\u0083\u0083\u0083\u0083\u0083\u0083\u0083\u0083\u0083\u0083\u0083\u0083\u0083\u0083\u0083\u0083\u0083\u0083\u0083\u0083\u0083\u0083\u0083\u0083\u0083\u0083\u0083\u0083\u0083\u008

[2016-11-29 12:50] prakashsingh08 commented on #3710
I am facing same issue :(

[2016-11-29 13:38] kleinsasserm commented on #3710
I had a similar problem. I stopped one node because I want the data directory at another place. After removing the etcd member I tried to add it with the new datadir. I ran the etcdctl command to add the etcd member and afterwards I tried to start the new member with the same result you have, cluster mismatch...

After some time i recognized that I have to use **-initial-cluster-state existing** a

[2016-11-29 13:49] m1093782566 opened #6910 "Test case TestStoreGetSorted in store/store_test.go doesn't check sorted result properly"
# Bug reporting

`TestStoreGetSorted()` in `store/store_test.go` doesn't check sorted result properly, see here:

https://github.com/coreos/etcd/blob/master/store/store_test.go#L118

Even if I changed the order of elements in `e.Node.Nodes`,

[code]

this case still passed!

I assume it's a bug?

[2016-11-29 18:52] gyuho commented on #6891
Still investigating... for reference

<br>

##### Updates 10:30AM, Nov 29, 2016

Turns out [`processInternalRaftRequestOnce`](https://github.com/coreos/etcd/blob/master/etcdserver/v3_server.go#L693) was timing out (5s).

I added more logs as below

[code]

And in apply.go

[code]

And here's what happened

[code]

[code]

So `Propose` went through, but somehow `step MsgProp` never returns.

This n

[2016-11-29 20:41] heyitsanthony opened #6912 "grpcproxy: support lease coalescing"
Each client must open a grpc stream to keep leases alive. To scale, the grpcproxy can merge all of these streams into a single stream back to the etcd server.

[2016-11-29 21:39] #6700 closed

[2016-11-30 00:22] heyitsanthony commented on #6909
@coder0wang what version of etcd? can you give a script or some steps to reproduce the issue you're seeing? are there any warnings or errors in the etcd server logs?

[2016-11-30 00:54] gyuho commented on #6870
@prakashsingh08 From the logs, it seems like a TLS configuration issue. Do you have full etcd logs?

[2016-11-30 03:10] kldjaff commented on #6908
is there anyone who are facing this?

[2016-11-30 03:17] workhardcc commented on #3710
I have the same issue.
v3.0.1

[2016-11-30 03:40] heyitsanthony commented on #6908
@armstrongli 3.0.4 is out of date. I believe this was partially fixed by 4a841459f1655a1b5ae88f7af8f4a2e3b9e9d4a5 and totally fixed in 1a8b295dabb926c2db27ca964ef6986cc8642433 which wasn't merged until 3.0.6. Please update to the latest 3.0.x and try it again.

[2016-11-30 07:14] armstrongli commented on #6908
@heyitsanthony
After trying the latest version `3.0.15`, the commands work.  Thanks :)
However, there's always one grpc error message in etcdctl commands:
[code]

ETCD has always a consensus algorithm and can get the value even only one member left. So why not hide the error message until all the members are down?

[2016-11-30 07:17] heyitsanthony opened #6913 "etcdserver: sync less often"
etcd somewhat overeagerly sends out sync messages. For a single member idle cluster, the sync messages are the only traffic to the WAL and is the sole cause of fsyncs down to disk.

Two possible optimizations to avoid this:
1.  only send a sync proposal if the v2 store has TTL'd keys
2. only propose sync if cluster has more than one member, otherwise apply directly

[2016-11-30 07:54] coder0wang commented on #6909
The version is 3.0.14

I not know where the etcd's log in,and in my program have not error and log for this.
I using java for httpPut to save.

There two keys sometime can't save.Sometime saved ,but not found by RESTful.
url : http://*:2379/v2/keys/task/NC01360544
other two keys :NC01360544,NC136054434.

And for save error:
In the enclosure is value in etcd. (http://pan.baidu.com/s/1boNQQJX)
I sav

[2016-11-30 10:05] bdarnell commented on #6895
Working on it. The problem is that the `ents()` function used in this test always uses a default configuration instead of the one passed to `newNetworkWithConfig`, so the tests need some refactoring (and then once that's done there may be bugs to fix too).

[2016-11-30 10:40] bdarnell commented on #6895
This "logs converge" test case is strange; I don't think the situation it describes is actually possible. One of the nodes has an entry in its log with term 2. This can only happen if some node won an election at term 2, in which case a quorum of nodes would have `HardState.Term >= 2`. These nodes would be unable to vote for node 1 when it campaigns. @xiang90, what is this test case trying to prov

[2016-11-30 15:05] alogoc opened #6914 "New etcd2 cluster leader populates peerURLs=http://localhost:7001,http://localhost:2380"
While trying to restore the registry of a failed etcd2 cluster using an etcd2  backup (taken while the old cluster was still working) on a fresh node :

This is how I initiated the cluster on the first run after copying over data from backup:

` sudo etcd2 --data-dir=/var/lib/etcd2  -name kuhumaster --initial-advertise-peer-urls  http://192.168.64.177:2380  --listen-peer-urls http://192.168.64.177

[2016-11-30 17:12] heyitsanthony commented on #6908
This is not true for linearized reads, which are the default; they must go through consensus which requires a cluster quorum. It's still possible to fetch stale data after losing quorum with `--consistency=s`, though.

The error messages are written out by grpc at the time of the error. The etcd client could defer the error messages by having a specialized logging backend in the client to intercep

[2016-11-30 17:12] #6908 closed

[2016-11-30 17:16] xiang90 commented on #6913
I think 1) is a better solution.

[2016-11-30 17:19] gyuho commented on #6909
@coder0wang How did you start etcd process?

[2016-11-30 18:59] gyuho commented on #6914
Did you stop the old node first?

https://github.com/coreos/etcd/blob/master/Documentation/v2/admin_guide.md#restoring-a-backup

[2016-11-30 19:17] heyitsanthony commented on #6914
I suspect it's related to https://github.com/coreos/etcd/blob/release-2.3/etcdserver/raft.go#L484

Looks malformed?

[2016-11-30 19:34] xiang90 commented on #6554
Fixed by https://github.com/coreos/etcd/pull/6574

[2016-11-30 19:34] #6554 closed

[2016-11-30 21:48] xiang90 commented on #6889
I am closing this. Reopen if you have any follow-up questions.

[2016-11-30 21:48] #6889 closed

[2016-11-30 23:29] michael-px commented on #6875
I'm seeing something sorta similar with etcdv3.1-rc.1.  I setup a single node with SSL/TLS using cfssl. I logged a separate issue for it.

[2016-11-30 23:30] michael-px opened #6915 "etcd v3.1rc.1 etcdctl times out with API=3 but is OK with API=2"
I setup a single node with SSL/TLS using cfssl. The cluster came up and I set following environment variables:

ETCDCTL_CA_FILE=/etc/ssl/etcd/ca.pem
ETCDCTL_KEY_FILE=/etc/ssl/etcd/etcdv3ssl.key
ETCDCTL_API=3
ETCDCTL_CERT_FILE=/etc/ssl/etcd/etcdv3ssl.pem

if I type "etcdctl member list", it says:

"Error:  context deadline exceeded" after about a 3s pause.

But if I type "ETCDCTL_API=2 etcdctl memb

[2016-11-30 23:43] gyuho commented on #6915
Since you have `ETCDCTL_API=3` as environment variable, `etcdctl member list` defaults to v3 `member list` command. And our current v3 etcdctl commands do not parse environment variable. So you might want to explicitly pass certs flags to `etcdctl member list` command.

[2016-11-30 23:44] michael-px commented on #6915
Well, that’s good to know. I’ll try that.

—

Predicting is tough. Especially about the future.--Yogi Berra

We sometimes make too many wrong mistakes.--Yogi Berra

You can observe a lot by watching.--Yogi Berra

The future ain’t what it used to be.--Yogi Berra

Nobody goes there anymore.  It's to crowded--Yogi Berra

On Wed, Nov 30, 2016 at 3:43 PM, Gyu-Ho Lee <notifications@github.com>
wrote:

[2016-12-01 00:28] heyitsanthony opened #6917 "grpcproxy: richer metrics"
grpcproxy currently supports the default RPC call metrics, but it would be nice to have proxy-specific metrics as well.

Some possible metrics:
 * watch coalescing counts (bucketed by number of client watchers on a single watcher)
 * number of events saved by coalescing
 * number of kv cache hits/misses
 * size of kv cache

[2016-12-01 00:42] gyuho commented on #6915
@michael-px Sorry, it is supported, but with different flag strings.

See https://github.com/coreos/etcd/issues/6645.

Basically you need

[code]

since we have changed the flag strings for v3.

[2016-12-01 03:49] #6910 closed

[2016-12-01 07:53] coder0wang commented on #6909
--initial-cluster-state new &

[2016-12-01 08:15] kira8565 opened #6919 "build master code faild"
# Bug reporting

I Clone the master code and run `go build` ,but  build fail and display this error

[code]

[2016-12-01 10:16] alogoc commented on #6914
@heyitsanthony  yes it was malformed somehow, it is :

57e4a5a49401: name=kuhumaster peerURLs=http://localhost:7001,http://localhost:2380 clientURLs=http://192.168.64.177:2379 isLeader=true

Edited also on original.

@gyuho

Can it be that mismatch ID is due to the localhost peerURLs, since I am using static configuration can it be that 2nd node I am trying to add is expecting the leader to listen

[2016-12-01 16:57] xiang90 commented on #6895
I think it tries to test this sequences.

- Node A is the leader of term 1
- Node A replicates entry ("1", term: 1) to itself and one another node B
- Node A dies
- Node C becomes candidate
- Node C elects leader at term 2 by getting votes from A, B
- Node C replicates entry ("1", term: 2) to itself
- Node C dies

Now we have
Node A: ["1", 1] at term 2, Node B: ["1", 1] at term 2, Node C ["1", 2]

[2016-12-01 17:03] xiang90 commented on #6891
@gyuho

Great progress!

So the leader never received the proposal? I thought you told me once that the leader actually received the proposal from follower, but then the follower failed to receive the ack. So that is wrong?

We should trace down to find out where exactly the proposal get blocked or dropped at the follower side.

[2016-12-01 18:36] gyuho commented on #6891
Yeah leader never received proposal. Think I did it wrong previously.
I will trace down further to double check. Thanks!

[2016-12-01 18:39] gyuho commented on #6919
@kira8565 You need to use our build script to compile etcd.

Do

[code]

[2016-12-01 18:40] #6915 closed

[2016-12-01 20:01] xiang90 commented on #6919
Also the systemd dependency is updated. So I am closing this issue.

[2016-12-01 20:01] #6919 closed

[2016-12-02 00:28] michael-px commented on #6915
I defined these variables with the correct keys and I still get

Error:  grpc: timed out when dialing

So, this doesn't seem to work.

[2016-12-02 01:08] gyuho commented on #6915
@michael-px Could you create a separate issue with etcd logs and a way to reproduce?
Works fine on our side.

[2016-12-02 01:10] michael-px commented on #6915
OK, should I title it something like

API=3 ignores environment variables or something like that?

—

Predicting is tough. Especially about the future.--Yogi Berra

We sometimes make too many wrong mistakes.--Yogi Berra

You can observe a lot by watching.--Yogi Berra

The future ain’t what it used to be.--Yogi Berra

Nobody goes there anymore.  It's to crowded--Yogi Berra

On Thu, Dec 1, 2016 at 5

[2016-12-02 01:15] gyuho commented on #6915
I think it's a separate issue?

If that doesn't work, it could be TLS configuration issue.
Either way, we need etcd server logs with client errors.

Thanks.

[2016-12-02 01:16] michael-px commented on #6915
OK, I see the problem with TLS and without TLS, so it most likely is a
separate issue;

—

Predicting is tough. Especially about the future.--Yogi Berra

We sometimes make too many wrong mistakes.--Yogi Berra

You can observe a lot by watching.--Yogi Berra

The future ain’t what it used to be.--Yogi Berra

Nobody goes there anymore.  It's to crowded--Yogi Berra

On Thu, Dec 1, 2016 at 5:15 PM, Gyu

[2016-12-02 03:07] bdarnell commented on #6895
Right, but it doesn't actually test that we overwrite node C's log, only that A can become leader. And if we fix the terms so that C, D, and E have term 2 in their hardstate, the first election will fail (a second one could succeed, but this test is not set up for that). We test the log overwriting in TestLeaderSyncFollowerLog, but it looks like that doesn't include cases where one of the follower

[2016-12-02 03:16] xiang90 commented on #6895
@bdarnell

Sounds good to me! Thanks for looking into this.

[2016-12-02 09:33] luedigernet commented on #6860
Push:
Can anybody give me an advise how to deal with that issue?

[2016-12-02 17:30] dennwc opened #6922 "client: user may freeze on KeepAlive"
**etcd client version:** `3.1.0-rc.0` (git hash: 83347907)

**Issue can be reproduced in following way:**
1) Create an etcdv3 client.
2) Make `lessor.recvKeepAliveLoop()` fail with any server-side error (we got `"lease: unknown error(not a primary lessor )"`).
3) Create a new lease.
4) Try to keep it alive with `KeepAlive`.

**Expected behavior:**
We expected client to recover from `recvKeepAliveL

[2016-12-02 18:01] gyuho commented on #6860
Can you try embedding `MyMockhttpClient` instead inside `MyMockClientInterface`?

[2016-12-02 18:11] heyitsanthony commented on #6860
That unexported interface in `Client` is used internally by other parts of the client code. Are you sure `Client` needs to be mocked? I think you'd have to implement a lot of code for it to work even if the full interface is exported.

People typically either have some wrapper for accessing the etcd client and mock on that or mock the KeysAPI/Watcher/MembersAPI interfaces, skipping Client entirely

[2016-12-02 18:12] prakashsingh08 commented on #6870
@gyuho you were right it was TLS cert issue.now i resolved.

[2016-12-02 18:15] heyitsanthony opened #6923 "STM: prefetching"
Have `WithPrefetch` for prefetching keys for STM to avoid latency from making multiple `Get` calls when the keys are known a priori.

[2016-12-02 18:16] heyitsanthony opened #6924 "STM: delete keys"
Right now STM only supports Get and Put. For completeness, it should probably support Delete as well.

[2016-12-02 18:20] heyitsanthony opened #6925 "proxy: emulate v2 with v3 rpc's"
The v2 backend is a lot of baggage, but there's still a lot of v2 code out there. The v2 backend will eventually have to go, but it'd be nice to emulate v2 for older apps.

[2016-12-02 18:21] #6870 closed

[2016-12-02 20:21] Supernomad opened #6927 "Question about topology"
So I have a general question about etcd cluster topology. I currently have a 3 node server cluster running in new york city, with around 100 or so etcd proxy cluster members. Some of these proxy members are great distances away from each other, with proxies as far away as japan/singapore and south africa.

My question is whether or not this is a scalable topology, and if it is not what would be re

[2016-12-02 21:14] gyuho commented on #6927
Please see https://github.com/coreos/etcd/blob/master/Documentation/tuning.md#time-parameters?

[2016-12-02 21:20] Supernomad commented on #6927
Thank you for the direction, going to close this out as that gives me a good sense of the situation.

[2016-12-02 21:20] #6927 closed

[2016-12-02 21:22] xiang90 commented on #6927
I do not think it will really hurt the performance that much given your workload. The latency might be worse, but that should be expected anyway.

[2016-12-02 21:23] xiang90 commented on #6927
@Supernomad So please give it a try. If there is any unexpected performance issue, please report back. We would love to look into it.

[2016-12-02 21:56] xiang90 opened #6928 "Test failure: TestWatchOverlapDropConnContextCancel"
[code]

[2016-12-02 21:57] xiang90 commented on #6928
This is from semaphoreci.

[2016-12-02 23:23] xiang90 commented on #6845
@siddontang Any update?

[2016-12-02 23:43] heyitsanthony commented on #5750
CI is stable for integration tests. Still missing clientv3 tests, but that's testing local proxying, so can defer until 3.2.

[2016-12-02 23:43] #5750 closed

[2016-12-02 23:44] xiang90 commented on #6909
etcd2 API does not accept random bytes. You should base64 your random bytes before sending it to etcd.

[2016-12-02 23:44] #6909 closed

[2016-12-02 23:49] heyitsanthony opened #6931 "proxy: local grpc proxying"
The features in the grpcproxy (coalescing, key caching) also make sense when run directly on the client instead of making a network hop to separate proxy.

This is already exists to some extent for the integration/ tests, but it's still not ready for prime time.

What's missing:
* clientv3 CallOption pass-through; needed for correct FailFast handling
* `-tag cluster_proxy` for client integration t

[2016-12-03 02:30] #6917 closed

[2016-12-03 04:42] heyitsanthony opened #6932 "TestCtlV2GetRoleUser: failed to grant role"
https://semaphoreci.com/coreos/etcd/branches/master/builds/1284

[code]

[2016-12-03 04:47] heyitsanthony opened #6933 "clientv3/integration: leaking net/http.(*persistConn).writeLoop"
https://semaphoreci.com/coreos/etcd/branches/master/builds/1289

[code]

[2016-12-03 04:49] heyitsanthony opened #6934 "TestCtlV3Elect: test timed out after 15s"
https://semaphoreci.com/coreos/etcd/branches/master/builds/1249

[code]

[2016-12-04 03:04] xiang90 opened #6937 "proxy test fails: TestBarrierSingleNode"
[code]

More logging info https://jenkins-etcd.prod.coreos.systems/job/etcd-proxy/181/consoleText

[2016-12-04 14:32] siddontang commented on #6845
No update @xiang90 :sob:

I have already told @swingbach , he will see it later.

[2016-12-04 22:02] gitoverflow opened #6939 "move data to another cluster"
What is the easiest way, to move all data from one etcd cluster to another, which does already exist ?

Specifically:

I want the kubernetes api server to permanently use another etcd cluster right after the initial kubernetes/etcd cluster are created without loosing the initial stored data from the first cluster.

[2016-12-05 00:52] vtolstov opened #6940 "Proper embedding to own program"
This is not bug, but question.
I don't want to run separate etcd instance, but want to integrate etcd into own program.
What is the proper way to do that (in case of master branch). I found some info about etcdmain and embed packages. What is the proper way now?

[2016-12-05 08:18] vimalk78 opened #6941 "Query : revision in the PutResponse Header"
[code]

the revision returned from store.Put is captured after the Put tx is completed and lock released. the returned revision could be for another request? or this is not a problem because apply happens from single thread, and no other concurrent request can modify current revision from another path.

is it better if the revision to be returned is captured just before the txn is ended?

[code]

[2016-12-05 12:08] sinsharat commented on #6752
@xiang90 Is there anything else required to be worked on for this?

[2016-12-05 16:56] heyitsanthony commented on #6940
https://godoc.org/github.com/coreos/etcd/embed

[2016-12-05 18:51] heyitsanthony commented on #6941
Yes, this is why it's OK as it is now.

[2016-12-05 18:53] heyitsanthony commented on #6939
Have you tried snapshots? https://github.com/coreos/etcd/blob/master/etcdctl/README.md#snapshot-subcommand

[2016-12-05 18:54] vimalk78 commented on #6941
thanks !!!

[2016-12-05 18:55] #6941 closed

[2016-12-05 21:34] #6932 closed

[2016-12-05 21:54] gyuho commented on #6891
@xiang90

Raft layer in etcdserver was blocking at `r.readStateC <- rd.ReadStates[len(rd.ReadStates)-1]` case.
https://github.com/coreos/etcd/blob/master/etcdserver/raft.go#L147

Then etcdserver raft never `Advance`, and `msgs` in Raft was queueing forever.
There were over 50,000 messages that never got sent to `Ready` when the tester failed.
So `MsgProp` from follower never made it apply layer--w

[2016-12-05 22:00] heyitsanthony commented on #6937
a686c994cd27f34a95a7daeb3f18c2e092249b26 (watch metrics) broke it according to git bisect

[2016-12-05 22:27] xiang90 commented on #6891
@gyuho

It is a deadlock.

The routine that consumes readstateC waits on raft.Node to step in ReadIndex call: https://github.com/coreos/etcd/blob/master/etcdserver/v3_server.go#L786

The raft.Node routine waits from the consumer routine to read out the readStateC before it can step the ReadIndex call.

We should fix this deadlock. Adding buffer size wont reliably and completely solve this, right?

[2016-12-05 22:31] gyuho commented on #6891
@xiang90 You are right. Buffer size doesn't fix the root cause. I will try to fix the deadlock. Thanks.

[2016-12-05 22:32] xiang90 commented on #6891
@gyuho An easy fix is to add

[code]

at the sender side too.

[2016-12-06 00:17] #6937 closed

[2016-12-06 00:37] #6891 closed

[2016-12-06 14:48] Felixoid opened #6951 "gRPC don't work with SSL/TLS"
# Version
[code]
# First part: noising logs from v3rpc/grpc
Config:
[code]
[http2Client.notify.txt](https://github.com/coreos/etcd/files/633969/http2Client.notify.txt)
After another server connect with enabled ssl begin to repeat string:
`2016-12-06 16:31:43.093112 I | v3rpc/grpc: transport: http2Client.notifyError got notified that the client transport was broken unexpected EOF.`
I think it's the

[2016-12-06 15:02] alogoc commented on #6914
Seems after manually updating the member info `etcdctl member update kuhumaster http://192.168.64.177:2380  ` I was able to have the peerURLs populated properly and then start adding members to the cluster.

Still weird though...

[2016-12-06 15:02] #6914 closed

[2016-12-06 15:49] akamalov opened #6952 "ETCD: 2.3.x - netutil: could not resolve host"
Greetings,

**Environment**

[code]

**Problem**

Deploying ETCD using Marathon/Mesos. Used to work fine under 2.0.10, but under 3.0.x it is exhibiting problems with host resolution. This is my JSON file for Marathon:

[code]
ETCD errors on container complaining about host resolution:

[code]
For some reason, ```netutil`` is not being able to resolve the host provided:

[code]
DNS is provided by M

[2016-12-06 17:05] gyuho commented on #6951
Can you try specifying your key as well?

Something like

[code]

I see only `--cacert` flag in your `etcdctl` command.

[2016-12-06 17:09] gyuho commented on #6952
Maybe related to https://github.com/coreos/etcd/pull/6365

/cc @heyitsanthony ?

[2016-12-06 17:11] Felixoid commented on #6951
I think that for traffic encryption we don't need use certificate authorization.
We try to use case from this example https://coreos.com/etcd/docs/latest/security.html#example-1-client-to-server-transport-security-with-https

[2016-12-06 17:26] gyuho commented on #6951
Oh I see `client-cert-auth: false` now. You are right. It should work.
I just tested the same setup in localhost and it works for me.
I generated certs with cfssl signing my localhost.

How did you generate certs?
Can you double-check it's valid for your hosts?

Thanks.

[2016-12-06 17:57] heyitsanthony commented on #6952
@gyuho unlikely; that was turned into a warning for 3.0.9.

[2016-12-06 18:20] heyitsanthony commented on #6952
So the address isn't expected to resolve until after etcd boots? If so, that sounds similar to #6262

[2016-12-06 19:01] akamalov commented on #6952
Thanks @heyitsanthony . I can see that a user disabled DNS healthcheck. Was it done as a parameter to ETCD ?? Where was it disabled, do you know by chance?

[2016-12-06 19:10] heyitsanthony commented on #6875
Can't reproduce. Closing.

[2016-12-06 19:10] #6875 closed

[2016-12-06 19:23] akamalov commented on #6262
@sks, wondering where did you disable health_check? I am having exactly the same issue...

[2016-12-06 19:25] sks commented on #6262
we disabled the dos health_check for the registered service as it was one of a use case

[2016-12-06 19:26] heyitsanthony commented on #6940
Closing if no other questions...

[2016-12-06 19:26] #6940 closed

[2016-12-06 19:33] akamalov commented on #6952
It looks like the symptom is exactly the same as in #6262. So, the container has to be fully up, and  only then Mesos-DNS get it registered. Wondering if there is some type of a delay or retry can be used with ETCD so it can re-try the operation (just like ZooKeeper does) after a period of time? It did work like a champ on 2.x releases, but 3.x  it no longer work with Marathon/Mesos with dynamic I

[2016-12-06 20:31] heyitsanthony opened #6953 "use http.Request.WithContext instead of Cancel"
Available as of 1.7

[2016-12-06 21:42] cw9 opened #6954 "Unexpected benchmark result"
I'm running some performance test agains a 3 node etcd cluster with the following version
[code]

The Put benchmark looks reasonable but I'm getting some weird result from range benchmarks that the throughput of serializable reads is smaller than throughput of linearizable reads
e.g:
[code]

If I use only one endpoint rather than all three boxes, I got this result:
[code]

I'm trying to understand

[2016-12-06 21:47] xiang90 commented on #6954
What is your machine spec? What is the config you started etcd?

Also can you try 1 client/ 1 conn case to see if s read is faster than l read?

L read does not necessarily affect throughput, it affects latency due to additional disk write. When your cluster is under heavy load, CPU might dominate. Also we have noticed some strange things around go runtime scheduling understand heavy load.

[2016-12-06 21:48] gyuho commented on #6954
Yeah seriazable read is slow due to Go runtime, we believe.

https://github.com/coreos/etcd/issues/6876

[2016-12-06 21:53] xiang90 commented on #6954
@cw9

Also looking at the stats, the slowest query for s read seems very bad:

[code]

Not sure what happened there. We could help to look into this if you can provide more info so that we can reproduce.

[2016-12-06 22:27] maskeda opened #6955 "etcd2 server is likely overloaded"
We are using the latest CoreOS stable 1185.3.0.

We have the following configuration for initial configuration and dns does resolve:
[code]

Logs:
kuber-beta01:
[code]

kuber-beta02:
[code]

kuber-beta03:
[code]

Some tests:
[code]

Timeouts were set high to try to mitigate these issues.

If I launch ANY kubernetes service etcd2 tanks completely.

[2016-12-06 22:29] cw9 commented on #6954
result with 1 client 1 conn looks much more sane
[code]
I'm getting similar results when running the commands with all 3 hosts in the --endpoints argument as well.

I'm running on HDD machines with 48G memory. I was expecting slower results than the one you posted due to slower disk, but for puts I'm getting slightly better throughput
[code]

[2016-12-06 22:33] cw9 commented on #6954
The config in /etc/etcd/etcd.conf
[code]

[2016-12-06 22:34] xiang90 commented on #6954
It affects only latency. Actually HDD might generate similar throughput compared with SDD in some cases due to better internal batching. In the heave load case, CPU is dominate.

The avg latency result for l-read for 1client case does not seems reasonable for HDD. It is less than 1ms. It is more like a SDD. Can you try to use iostats to see if l-read actually hits your correct disk?

[2016-12-06 22:40] xiang90 commented on #6954
@cw9

For write path:

1. batch a bunch writes, then do a seq write into WAL
2. apply committed writes to in-memory db
3. return the result to client
4. checkpoint the delta writes into on-disk btree

So you might not notice huge difference between HDD, SDD on write path under heavyload. But the on-disk merging part can be slow once the btree grows. Random seek is slow on HDD.

[2016-12-06 22:44] cw9 commented on #6954
got it, when would random seek happen/ what does read path look like? Was it served from the in-memory db as well?

[2016-12-06 22:47] xiang90 commented on #6954
@cw9

random seeks happens at step 4 i mentioned above. it happens every 100ms or every 10000 writes. it might invoke a few seeks for 1M keys. it might pause operations for 10s of ms on HDD. We might make this non-pausing later on.

read serves from memory. l-read would hit disk for the version you tested. l-read would not hit disk after 3.1 release.

[2016-12-06 22:47] xiang90 commented on #6954
@cw9 I am curious what is your use case.

[2016-12-06 23:00] cw9 commented on #6954
@xiang90 I want to use it as a KV store, just trying to understand the performance limit here. I'm not too concerned with the latency, more on the throughput side, and the results from S reads and L reads kinda suprised me. BTW just checked, I don't have any SSD on those etcd servers.

[2016-12-06 23:02] cw9 commented on #6954
lscpu
[code]

[2016-12-06 23:05] xiang90 commented on #6954
@cw9

I am not sure. l-read hits disk on my test. Probably you can try iostats to see what is going on there.

For the s-read vs l-read under heavyload, we will investigate more after the go runtime thing @gyuho mentioned early got resolved.

[2016-12-06 23:09] cw9 commented on #6954
@xiang90 got it, thanks for the help! I'll keep an eye on it.

[2016-12-07 00:45] #6895 closed

[2016-12-07 06:54] armstrongli commented on #6939
@gitoverflow Please create another etcd cluster with the original data you have and configure the kubernetes apiserver to use the new etcd cluster.
Then there won't be any data lose and the new kubernetes cluster working on the old data.

[2016-12-07 08:05] #6922 closed

[2016-12-07 10:32] Felixoid commented on #6951
Good morning.
The certs was generated with the [ssl.cnf](https://github.com/coreos/etcd/files/636255/ssl.txt)
commandline:
[code]
Then these files was synced on all hosts.

Then on host02 I launch etcd with `--debug` flag, [logs](https://github.com/coreos/etcd/files/636304/host02.txt)
If certcs were invalid, then the debug logs would have been different, some like
`2016-12-07 13:27:32.385448 D | r

[2016-12-07 16:44] gyuho commented on #6951
@Felixoid Can you try our master branch or `v3.1.x`?
https://github.com/coreos/etcd/releases/tag/v3.1.0-rc.1

Could be Go related...
This issue sounds similar to this one https://github.com/coreos/etcd/issues/6565#issuecomment-250930837.

And I notice

[code]

This doesn't seem like our official release. We build v3.0.x with Go 1.6.3.

Can you also try our official etcd releases?
Thanks.

[2016-12-07 17:55] heyitsanthony commented on #6900
@olivere is this going to be a PR? I don't mind merging what's there since it's a relatively minor change. Would like to close out this issue...

[2016-12-07 18:01] olivere commented on #6900
@heyitsanthony It works fine with newer versions of etcd (e.g. 3.0.15). I don't know about your update/bug policy but AFAIC we could simply close the issue.

[2016-12-07 18:01] #6900 closed

[2016-12-07 18:05] heyitsanthony commented on #6900
OK, it was alpha/mostly broken for 3.0 anyway so I guess it's not necessary. Thanks for looking into this!

[2016-12-07 18:42] gyuho commented on #6955
Based on the logs, the machine seems overloaded. What is the machine spec?
Are those in separate dedicated machine?

[2016-12-07 19:14] maskeda commented on #6955
It was an OpenStack m1.large, 8192MB and we moved it to a m1.xlarge 16384MB.

We are going to try a docker cluster of etcd2 per the kubernetes instructions on dedicated instances.

The problem is persistent with or without anything else running.

[2016-12-07 19:21] xiang90 commented on #6955
@maskeda It is mostly because of slow disk or CPU contention. Not super related to memory.

[2016-12-07 19:28] gyuho opened #6959 "integration: Go 1.8+ hangs on unix listener, unix port"
Because of this change in Go transport change https://github.com/golang/go/commit/d89ab1398eef9a3f08db2a49ff3cbe158001474d.

Errors such as

[code]

Maybe we need simple workaround in our integration package.

[2016-12-07 22:05] gyuho commented on #6902
Comments from original post

[2016-12-07 22:38] heyitsanthony opened #6960 "Put using `ignore_lease`"
I can't find the issue originally suggesting this. There are cases where it's useful to update the value without knowing the lease ID, so let's support that along with the `ignore_value` flag.

[2016-12-08 01:07] gyuho commented on #6902
@xiang90 @heyitsanthony

Can you be more specific?

I think we need to define a separate RPC to trigger `Sync` call on grpc-proxy client, because we only want to update endpoints in grpc-proxy server side, but keep grpc-proxy server listen address in user client.

I am thinking

1. define a separate RPC or service (e.g., ProxySync) between grpc-proxy server and client
2. add a flag to clientv3.Con

[2016-12-08 02:55] xiang90 commented on #6913
Closed by https://github.com/coreos/etcd/pull/6958

[2016-12-08 02:55] #6913 closed

[2016-12-08 06:11] heyitsanthony commented on #6902
It doesn't sound like faithful proxying if the client needs to know whether it's talking to a proxy to work as usual.

Sync only needs to know the cluster member list-- the proxy can use that. Some options:
a) proxy responds to list request with member list changed to list only proxies
b) proxy mostly preserves member list but rewrites advertised client addresses to proxy addresses
c) extend the m

[2016-12-08 12:55] Irving23 opened #6963 "docker document error"
docker run -d -v /usr/share/ca-certificates/:/etc/ssl/certs -p 4001:4001 -p 2380:2380 -p 2379:2379 \
 --name etcd quay.io/coreos/etcd \
 -name etcd0 \
 -advertise-client-urls http://${HostIP}:2379,http://${HostIP}:4001 \
 -listen-client-urls http://0.0.0.0:2379,http://0.0.0.0:4001 \
 -initial-advertise-peer-urls http://${HostIP}:2380 \
 -listen-peer-urls http://0.0.0.0:2380 \
 -initial-cluster-tok

[2016-12-08 16:56] maskeda commented on #6955
It's running better in containers on isolated nodes. Still getting the error but etcd2 isn't crashing anymore.

[2016-12-08 17:09] xiang90 commented on #6955
What error? When did it crash?

[2016-12-08 17:50] xiang90 commented on #6939
@gitoverflow As mentioned above, you can either:

1. do a backup and then restore (search in etcd repo to see how to do this for both v2 and v3)
2. copy the data dir and restart on the same node

[2016-12-08 17:50] #6939 closed

[2016-12-08 18:01] gyuho commented on #6963
This is being addressed in https://github.com/coreos/etcd/pull/6901.

[2016-12-08 19:17] gyuho commented on #6902
Wrap grpcproxy's MemberList call to return grpc-proxy server endpoints makes sense.

How do we rewrite the advertised client address for grpc-proxy? Think it's now bind to listener https://github.com/coreos/etcd/blob/master/etcdmain/grpc_proxy.go#L78?

And do we want to support call `Sync` directly to the client here https://github.com/coreos/etcd/blob/master/etcdmain/grpc_proxy.go#L100-L111, so t

[2016-12-08 21:19] heyitsanthony commented on #6902
1) The member list contains the list of the cluster members, the proxy can replace all the members with itself and advertising listener.Addr(). Ideally with this approach it'd be possible to add all the proxies on the system. This could be done by writing to some etcd prefix as proxies connect and watching on it to get the current list (can probably reuse the way it's done in clientv3/naming).

2)

[2016-12-08 21:50] suranap opened #6966 "Typo in docs on reading past keys"
The [docs here](https://github.com/coreos/etcd/blob/v3.0.13/Documentation/dev-guide/interacting_v3.md#read-past-version-of-keys) have a typo. It uses `foo9` but it should be `foo1`.

Also, the issue template has a link on how to report a bug. But that link doesn't work. It should be this instead: https://github.com/coreos/etcd/blob/master/Documentation/reporting_bugs.md

[2016-12-09 08:08] johnnyluo586 opened #6968 "Put take too long time"
➜  etcd ./etcd --version
etcd Version: 3.1.0-rc.1
Git SHA: 3d5ba43
Go Version: go1.7.3
Go OS/Arch: linux/amd64

➜  etcd ETCDCTL_API=3 ./etcdctl put /dlocker/aaa 1

when i run the etcdctl many times, there will be log this, and  i use clientv3 also have the problem.

2016-12-09 16:03:21.925822 W | etcdserver: apply entries took too long [202.238741ms for 1 entries]
2016-12-09 16:03:21.925846 W | et

[2016-12-09 08:43] luedigernet commented on #6860
@heyitsanthony Yes i think I've to go that way. Thanks for the hint.

[2016-12-09 08:52] luedigernet commented on #6860
@gyuho

As far as I understand it that won't be possible because the mock interface must look like the code below.

[code]

And it is not possible to use client.httpAction outside of the client package.

I'll try implement it as described by @heyitsanthony

kind

regards Reinhard

[2016-12-09 09:31] sinsharat commented on #6966
@suranap its not a doc issue, its doing a get range request, which is correct. Since the keys present are only  foo and foo1 hence its displaying the same. If there were more keys like foo2 and foo3 with the current query it will display these keys as well.
Also as far as reporting bugs is concerned, the link given is a relative path to code and not a url. Hence the link clicking doesn't work whic

[2016-12-09 09:34] sinsharat commented on #6960
@heyitsanthony #6848 requests for this.
Thanks!

[2016-12-09 10:41] chiel1980 opened #6969 "Question: security code review"
Hi,

Did you guys ever did a security review on your code by an external party?
And if yes, are you willing to share these results or can we find it back in some specifc commits?
We are scheduling a code review by an external security company and if you want, we would like to share these results with you/the community as feedback to improve the product (if anything has been found) :)

Michiel

[2016-12-09 16:19] shuqilou opened #6971 "[question] ETCD cluster stability"
Hi, guys, I really need your help!
Our etcd has 3 nodes. We start etcd through one "existing" and two "new", but the etcd cann't work steadily. Here is the log:
[code]
Do you know what situation it is?
And our tester has found that if one node get down for a long time, such as 30min, when the node get in the cluster again it can't recover the old data. Hope you can explain the problem!
Best wishes

[2016-12-09 17:30] philips commented on #6969
Hello Michiel-

etcd has not had a third-party audit done by the etcd community itself. There are other users who have done independent audits but those results have not been made public. If you would be willing to publicize the results of your audit we would appreciate it.

However, if you do find an issue that you feel is security sensitive I would ask you give the CoreOS security team a chance

[2016-12-09 17:30] #6969 closed

[2016-12-09 17:40] heyitsanthony commented on #6960
@sinsharat no it isn't, that issue is asking for modifying the lease without changing the value. This is for modifying the value without touching the lease.

[2016-12-09 17:43] sinsharat commented on #6960
Oh ok i guess i misread it.
Thanks for clarification.

[2016-12-09 17:49] gyuho commented on #6968
Does etcd run on HDD?

[2016-12-09 17:51] gyuho commented on #6951
@Felixoid Any updates?

[2016-12-09 17:55] gyuho commented on #6971
How did you replace the old member?

[2016-12-09 17:59] Felixoid commented on #6951
Hello @gyuho
Sorry for a long silence!
thanks, official release etcd-v3.0.15-linux-amd64.tar.gz works properly!
[code]
[code]
/tmp/etcd-3.0.15_1.6.4/etcd --version
etcd Version: 3.0.15
Git SHA: GitNotFound
Go Version: go1.6.4
Go OS/Arch: linux/amd64
[code]
/tmp/etcd-v3.1.0-rc.1/bin/etcd --version
etcd Version: 3.1.0-rc.1
Git SHA: GitNotFound
Go Version: go1.7.4
Go OS/Arch: linux/amd64
[code]

[2016-12-09 18:01] gyuho commented on #6951
Yeah v3.0.x should be used with Go 1.6.x.
And v3.1.x will be released with Go 1.7+

Closing.

Thanks!

[2016-12-09 18:01] #6951 closed

[2016-12-09 18:01] heyitsanthony commented on #6966
@suranap `etcdctl get --rev=4 foo foo9` will fetch [foo, foo9). `etcdctl get --rev=4 foo foo1` will fetch [foo, foo1) so it won't pick up `foo1`. The example can probably be improved to better demonstrate how ranges work though...

[2016-12-09 18:07] sinsharat commented on #6966
@heyitsanthony shall i take this up since i only had mentioned this example in doc earlier i guess?

[2016-12-09 18:12] heyitsanthony commented on #6966
@sinsharat I already have the changes in mind, it'll be up in a few minutes

[2016-12-09 18:12] sinsharat commented on #6966
ok.

[2016-12-09 19:41] michael-px opened #6976 "enabling etcd AUTH without expect"
I'm trying to automate a containerized (and maybe even the stand alone server version) of etcd. Our product uses etcd 2.3.7 for the time being and I've put it into the same container as our product to allow for an internal server if the customer doesn't want to provide their own.

But I can't seem to setup an AUTH password except by typing

**etcdctl user add root**

on a terminal session.  This c

[2016-12-09 21:08] #6966 closed

[2016-12-09 22:05] heyitsanthony opened #6978 "TTL=0 too soon"
via irc,

Version: 3.0.15

Code: https://github.com/immesys/wdd/blob/dev/actionRunner.go#L237-L253

Client-side logs:
[code]

So it's triggering the TTL == 0 path in the client to report the lease is gone. However, given that there's a minute-length TTL, the TTL shouldn't be 0 so soon.

About 1/1000 chance of happening.

[2016-12-09 22:34] gyuho commented on #6976
You can interact with etcd using client https://godoc.org/github.com/coreos/etcd/client.

This is what `etcdctl` is using.

[2016-12-09 22:36] xiang90 commented on #6963
Closing this. let's track in #6901

[2016-12-09 22:36] #6963 closed

[2016-12-09 22:50] michael-px commented on #6976
So, I could use curl calls to create a root user as described here

https://coreos.com/etcd/docs/latest/auth_api.html

[2016-12-10 01:20] shuqilou commented on #6971
I don't replace the old member, I just let one member down and let it up again after a long time, so I don't think I get your point, can you describe it  in more detail? Thanks~

[2016-12-10 01:24] shuqilou commented on #6971
And another question is that when I start the etcd cluster in static model, and one node is existing, the others are new, the etcd can not work steadily. If I want to start etcd through one existing and two new, what should I pay attention to? Thx~

[2016-12-10 01:33] immesys commented on #6978
It's a cluster of 3 etcd machines, here are the logs for the three machines at the time this happened:

Server 3/3 application logs:
[code]

Server 3/3 etcd logs:
[code]

Server 2/3 etcd logs:
[code]

Server 1/3 etcd logs:
[code]

[2016-12-10 01:36] immesys commented on #6978
For reference, the three servers are located in different EC2 regions. They have GP SSD drives. I haven't had time yet to work out why I am getting warnings about apply entries taking too long, I'm not an etcd expert. Not sure if this information was relevant.

[2016-12-10 09:02] m1093782566 opened #6980 "etcd cluster change leader frequently"
Hi, all

I am using etcd 2.2.4. Two server start with `--cluster-state=new` firstly and one start with `--cluster-state=existing` later.

Below is the full log of one server. From the log, it seems the that etcd server change leader very frequently.

[code]

I occured `etcdserver: request timed out` very frequently, but I have adjusted the `--election-timeout` to `5000ms`.

When I fetch:

[code]

[2016-12-10 09:27] shuqilou commented on #6980
I have met the same problem!
Looking forward to the solution!!

[2016-12-10 17:27] shuqilou opened #6982 "The roles: leader and follower"
situation:
1. If I cut down the leader, remove the data-dir, and then add the node to the cluster again with the -initial-cluster-state=existing, the node can add in the cluster successfully.
2. If I cut down one follower, remove the data-dir, and then add the node to the cluster again with the -initial-cluster-state=existing, the node can not add in the cluster successfully.

what's the differenc

[2016-12-10 17:32] xiang90 commented on #6982
You should never do that. If you lost the data dir, you need to remove the node from the cluster.

If you remove the data dir, you should not add the member into the cluster again. etcd has some internal checking to detect that operational error. In some cases, it might not be accurate.

[2016-12-10 17:32] #6982 closed

[2016-12-10 17:36] xiang90 commented on #6980
@m1093782566 I would suggest you to

1. check you own environment
2. update etcd version

It is most likely that there is some problem with your network setup. so etcd complained accordingly. it is unlikely etcd complained about tcp connection lost due to internal bug.

Also it has nothing to do with this. Once your cluster is started, etcd will ignore this configuration on restart.

[2016-12-10 17:36] #6980 closed

[2016-12-10 21:17] itsNikolay commented on #2995
`size=2` for 3 digitalocean droples resolved my issue also
ty!

[2016-12-11 02:16] shuqilou commented on #6982
"In some cases, it might not be accurate."
Which case can lead to unaccurate? BTW, I have tested for many times and the situation happened all the time. The difference between leader and follower does exist. It is not random.

[2016-12-11 02:48] xiang90 commented on #6982
@shuqilou

Please read https://github.com/coreos/etcd/blob/master/Documentation/op-guide/runtime-configuration.md#replace-a-failed-machine about how to replace a failed member.

I already told you what you did is wrong. The behavior is undefined. If you want to understand the internal, you can read the code in raft pkg.

[2016-12-11 06:17] maplain commented on #1611
@philips
looks like it still has this problem.
https://github.com/coreos/etcd/blob/master/Dockerfile-release#L11
still no ENTRYPOINT.
need to add /usr/local/bin/etcd after image name when 'docker run', and this one needs to be updated: https://coreos.com/etcd/docs/latest/v2/docker_guide.html.

[2016-12-11 11:12] sgysz commented on #3226
为啥不用中文讨论？

[2016-12-12 01:19] johnnyluo586 commented on #6968
yes, so it must run on SSD when using etcd v3

[2016-12-12 02:46] armstrongli commented on #6952
I got this problem in `v3.0.15`, too.

[2016-12-12 04:03] alanchchen opened #6984 "Failed to initialize wal on Azure File Storage"
I got initialization error when using `etcd` with Azure File Storage
`etcd` was deployed in my Kubernetes cluster and it mounted a persistent volume as data directory.

The container logs from Kubernetes dashboard:
[code]

I don't understand why `etcd` got permission denied error as the directories under `/mnt/data` are created by `etcd` itself.

[2016-12-12 08:02] ligc opened #6985 "etcd cluster unhealthy state on SLES 12"
# Bug reporting

I am setting up a three-nodes etcd cluster on SuSE Linux Enterprise Server 12 by following the instructions at https://github.com/coreos/etcd/blob/master/Documentation/op-guide/clustering.md. The cluster is up and running, I could use etcdctl set /foo bar to add entries. But the etcdctl cluster-health shows unhealthy.

**Cluster Nodes**

10.4.35.10 c910f04x35k10 SLES 12
10.4.35.11

[2016-12-12 11:23] mqliang opened #6986 "RFC: add cache to serve range request?"
The etcdv3 mvcc implementation saves all data to disk using boltdb(with revision as key in boltdb), and uses an in-memory btree to map key->revsions. When server serve a range request, it first fetch all revisions about a range from btree, the using the revisions to retreive data from boltdb. In other words, every range request actually needs to access disk.

It seems reasonable to maintain a in-m

[2016-12-12 11:39] jsravn commented on #5870
I'm having this problem in a cloud environment as well. I'm using AWS EBS, so while latencies are generally good (99.9% < 10ms), occasionally I get a blip. About 0.05% of fsyncs will take between 64ms and 1s. I thought an advantage of having a cluster is so we can maintain quorum of writes even if one node has a minor performance blip. But etcd complains quite loudly. Is it safe to just increase t

[2016-12-12 12:05] chanxuehong opened #6987 "should clientv3.Client.Close method also close the Lease"
see
https://github.com/coreos/etcd/blob/master/clientv3/client.go#L88

should this also close the Client.Lease, like

https://github.com/coreos/etcd/blob/master/clientv3/client.go#L90

thank you.

[2016-12-12 15:42] philips commented on #6985
Can you access http://10.4.35.10:2379, http://10.4.35.11:2379,
http://10.4.35.12:2379 from the workstation you are cluster-health? e.g.
can you curl  http://10.4.35.10:2379.

Brandon

On Mon, Dec 12, 2016 at 3:02 AM Guang Cheng Li <notifications@github.com>
wrote:

[2016-12-12 17:08] xiang90 commented on #5870
etcd_wal_fsync_durations_seconds_bucket{le="2.048"} 296559
etcd_wal_fsync_durations_seconds_bucket{le="4.096"} 296600
etcd_wal_fsync_durations_seconds_bucket{le="8.192"} 296603

There are quite a few fsyncs took more than 1 seconds. EBS should not be that slow. I think your etcd box is actually overloaded. Try to switch to a VM with more cores.

[2016-12-12 17:41] xiang90 commented on #6986
No. Boltdb is a mmaped btree. OS will do page cache for us.

[2016-12-12 17:41] #6986 closed

[2016-12-12 17:59] gyuho commented on #6984
It depends on your linux user setup. The process that runs etcd should be able to read, write the data directory. etcd doesn't have control over it.

[2016-12-12 18:01] xiang90 commented on #6984
The dir is not created by this run. Some permissions might be changed. See logging

Please check the file system permission. If you can reproduce this on a clean setup, reopen the issue. Thanks!

[2016-12-12 18:03] gyuho commented on #6976
Yeah `curl` should work as well. Thanks.

[2016-12-12 18:03] #6976 closed

[2016-12-12 18:06] #6968 closed

[2016-12-12 18:07] xiang90 commented on #6968
@johnnyluo586 https://github.com/coreos/etcd/blob/master/Documentation/faq.md#what-does-the-etcd-warning-apply-entries-took-too-long-mean should provide enough information on this question.

[2016-12-12 18:07] heyitsanthony commented on #6984
@alanchchen what filesystem is this? what does `df -T /mnt/data` return?

[2016-12-12 18:10] xiang90 commented on #6984
I noticed that Azure has their net FS service. So repoen since it might be related.

[2016-12-12 18:35] heyitsanthony opened #6989 "TestV3MaintenanceHashInflight: unexpected fault address"
via https://jenkins-etcd.prod.coreos.systems/job/etcd-proxy/274/console

[code]

[2016-12-12 19:38] #6955 closed

[2016-12-12 21:27] fanminshi commented on #6978
@immesys https://github.com/coreos/etcd/blob/master/Documentation/faq.md#what-does-the-etcd-warning-apply-entries-took-too-long-mean explains why you see `apply entries took too long` warning. I think the limit is set to 10 ms for the version that you are using right now. it will be increase to 100ms in the coming up release.

[2016-12-12 23:14] heyitsanthony opened #6991 "cluster performance validation script"
Suppose someone sets up an etcd cluster on some virtual machines built from duct tape, bubble gum, and salvaged electrical wire. The cluster's accepting key writes from etcdctl so everything looks good. After running it for five minutes as production, the etcd cluster surprisingly topples over.

Instead, there should be a script to run beforehand to judge whether the new cluster can handle running

[2016-12-12 23:24] xiang90 commented on #6991
The configuration should like

[code]

The tool should also grep the metrics from etcd, and say either

[code]

[2016-12-12 23:49] fanminshi commented on #6978
@immesys what timezone are your other etcd servers live in? are they in same timezone? by default, etcd server side logging uses local timezone.
You client side logging indicate time in UTC and your server side logging might be using local zone. Could you double check that your previous logging pastes are time aligned correctly.

[2016-12-13 00:06] fanminshi commented on #6978
@immesys could you possibly provide a simpler script that I can reproduce the issue locally?

[2016-12-13 00:13] immesys commented on #6978
Sure I can try make one. I haven't had a chance to triple check my timezones but I usually keep all my servers in UTC so I would be surprised if the logs did not line up.

[2016-12-13 02:06] chanxuehong commented on #6987
@heyitsanthony I have not saw any problems. I just view the source code and have a little problem about this.
thank you for you response.

[2016-12-13 03:41] heyitsanthony commented on #6978
I was able to reproduce this with the stock 3-member goreman cluster on both 3.0.15 and master using tmpfs:

[code]

[2016-12-13 03:45] immesys commented on #6978
@heyitsanthony Do you know if I could switch to a different version in the meantime? Is this present in the 3.1 rc?

[2016-12-13 04:03] alanchchen commented on #6984
@heyitsanthony
The container crashes immediately after starting, so I'm not sure how to execute `df -T /mnt/data`.
Do you have any idea?

@xiang90
I did run etcd with a fresh start.
I thought the container logs I've posted didn't come from the container which creates `/mnt/data/members` since etcd restarted repeatedly.

[2016-12-13 04:10] heyitsanthony commented on #6978
@immesys nope, this case looks all around broken, sorry :(

Now, this isn't a true fix, but since the cause may take some time to figure out: is there a reason why that code must immediately call KeepAliveOnce? I think this is a race isolated to creating renew streams. Another way to structure the loop without the KeepAliveOnce:
[code]

This is a lot cheaper because it'll use a single renew stream

[2016-12-13 04:41] heyitsanthony commented on #6984
@alanchchen OK according to the [docs](http://kubernetes.io/docs/user-guide/volumes/#azurefilevolume), etcd is writing to a SMB volume. Given past trouble with both NFS and Windows, I wouldn't be surprised if etcd is broken on SMB. Probably worth fixing.

[2016-12-13 05:44] alanchchen commented on #6984
@heyitsanthony
I see. Thank you.

[2016-12-13 06:04] immesys commented on #6978
@heyitsanthony Thanks! I'll change my code to do that.

[2016-12-13 09:03] m1093782566 commented on #6980
I upgraded etcd version from 2.2.4 to 2.3.7

2016-12-13 11:16:21.420835 I | etcdmain: etcd Version: 2.3.7
2016-12-13 11:16:21.420903 I | etcdmain: Git SHA: fd17c91
2016-12-13 11:16:21.420910 I | etcdmain: Go Version: go1.6.2
2016-12-13 11:16:21.420915 I | etcdmain: Go OS/Arch: linux/amd64
2016-12-13 11:16:21.420922 I | etcdmain: setting maximum number of CPUs to 4, total number of available CPUs i

[2016-12-13 09:33] m1093782566 commented on #6980
To find the root cause, I pulled some monitor data from etcd `/metrics` endpoint.

[code]

etcd occured internal server error(500) 11 times.

[code]

HTTP PUT operations whose latency greater than 1s occured 77 times.

[2016-12-13 15:48] xiang90 commented on #6980
Only leader server will log this. Apparently there are disk issues based on your fysnc metrics.

Follower failed to forward proposal to leaders and failed to get them committed.

[2016-12-13 16:24] xiang90 commented on #6887
@heyitsanthony recently add the field format that will output lease in hex format. so closing this issue.

[2016-12-13 16:24] #6887 closed

[2016-12-13 21:58] fanminshi commented on #6978
I added some server side debugging for this issue by running @heyitsanthony's script.

The problem only occurs if the client talks to a follower not a leader. In that way, the follower must redirect `Renew request` to the leader. From the following log, you can see that the client `Grant req` returns before the leader stores the newly granted lease. Then immediately, client looks up the lease in t

[2016-12-14 01:20] fanminshi commented on #6978
The issue does not just affect the `KeepAliveOnce()` but also `TimeToLive()`. I replace  `cli.KeepAliveOnce(context.TODO(), resp.ID)` => `cli.TimeToLive(context.TODO(), resp.ID)` from @heyitsanthony's script. Same issue happens.

[2016-12-14 02:05] m1093782566 commented on #6980
Thanks! I find adjust cpu quota for etcd can reduce the warning logs.

[2016-12-14 02:34] xiang90 commented on #6987
@heyitsanthony @chanxuehong

So should we add lease.Close to make the code more readable?

[2016-12-14 02:57] WhtAlpha opened #6998 "etcd health is false"
**Dec 14 10:42:33 xt1 docker: 2016-12-14 02:42:33.263136 E | rafthttp: streaming request ignored (cluster ID mismatch got be2748a4855d6268 want 7ec315417ba8eeff)
Dec 14 10:42:33 xt1 journal: 2016-12-14 02:42:33.262905 E | rafthttp: streaming request ignored (cluster ID mismatch got be2748a4855d6268 want 7ec315417ba8eeff)
Dec 14 10:42:33 xt1 journal: 2016-12-14 02:42:33.263136 E | rafthttp: streami

[2016-12-14 03:26] matthughes commented on #5870
@xiang90 Can you define overloaded?  The machines aren't that beefy (2 core / 4 gigs ram) but Prometheus doesn't show anything interesting with node1/5/15.

And if I read that metric correctly, that's saying 2500 (out of 300K) transactions took more than .5 second to do an fsync.   What are the consequences of the fsyncs taking that long?

[2016-12-14 03:29] xiang90 commented on #5870
@matthughes

I hope this can help you https://github.com/coreos/etcd/blob/master/Documentation/faq.md#what-does-the-etcd-warning-failed-to-send-out-heartbeat-on-time-mean.

You'd better keep p99 < 30ms or so.

[2016-12-14 04:37] xiang90 commented on #4627
I talked this issue with @awalterschulze : here is his suggestion

[code]

[code]

[code]

Also

[code]

[2016-12-14 04:38] xiang90 commented on #4627
@mqliang @sinsharat @ajityagaty @shuqilou

Hope this can help to explain this issue more.

[2016-12-14 04:41] xiang90 commented on #6752
I am closing this out. This is good enough for now.

[2016-12-14 04:41] #6752 closed

[2016-12-14 09:02] wnaghuixin opened #7000 "[root@bogon gofile]# which etcd &>/dev/null || go get github.com/coreos/etcd # github.com/coreos/etcd/proxy/grpcproxy src/github.com/coreos/etcd/proxy/grpcproxy/watch_client_adapter.go:36: cannot use wserver (type *ws2wcServerStream) as type etcdserverpb.Watch_WatchServer in argument to s.wserv.Watch: *ws2wcServerStream does not implement etcdserverpb.Watch_WatchServer (missing SetHeader method)"
# Bug reporting

A good bug report has some very specific qualities, so please read over our short document on
[reporting bugs][report_bugs] before you submit your bug report.

To ask a question, go ahead and ignore this.

[report_bugs]: https://github.com/coreos/etcd/blob/master/Documentation/reporting_bugs.md

[2016-12-14 11:59] mwf commented on #6887
Thanks to him!
I think it's the best option, covering all possible needs.

[2016-12-14 17:23] gyuho commented on #7000
What grpc version do you have? `SetHeader` is a new method in latest grpc version.

[2016-12-14 17:27] heyitsanthony opened #7002 "support backup of v2 and v3 stores"
Right now etcd backups must choose between v2's backup and v3's snapshot. For systems that store v2 and v3 data at once, there is no way to fully back up the cluster. This behavior is somewhat unexpected since presumably a backup of the cluster should restore all the keys that were on the system.

[2016-12-14 17:50] gyuho commented on #6998
How did you start your etcd cluster?

[2016-12-14 18:04] heyitsanthony commented on #6998
@WhtAlpha this happens when members from one etcd cluster are pointed to another etcd cluster. Usually this happens after tearing down an old cluster then reusing the same addresses for the new cluster; if any processes from the old cluster are still running they'll try to contact the new cluster. The new cluster will ignore the request and emit this warning.

[2016-12-14 18:29] xiang90 commented on #6998
@heyitsanthony

Can you add the information you provided to https://github.com/coreos/etcd/blob/master/Documentation/faq.md?

Also probably we can try to make the error logging more obvious? [Contacting a member in other cluster] or something like that?

[2016-12-14 20:22] heyitsanthony commented on #7000
Huh? This was fixed in 7ef17d3e971366c870b842824fa5636dda4da22c. Pretty sure this issue duplicates #6726

Try `go get github.com/coreos/etcd/cmd/etcd` to use vendoring instead of building with gopath packages?

[2016-12-14 21:09] dennwc commented on #6922
@heyitsanthony This issue still effects us on master branch. I'll provide a case to reproduce soon.

Also, #6929 is server-side and does not prevent `session.Orphan` to freeze on any other error returned by `recvKeepAliveLoop` internals.

I propose to include https://github.com/dennwc/etcd/commit/5cafc490d669491edb26e78ba717e6dac8ae5063 as a client-side fix as well, so clients can at least detect

[2016-12-14 21:10] xiang90 commented on #6922
Ideally a test case?

[2016-12-14 21:10] xiang90 commented on #7000
closing. @heyitsanthony has the answer.

[2016-12-14 21:10] #7000 closed

[2016-12-14 21:19] dennwc commented on #6922
@xiang90 I'll provide a small reproducer, but I'm not familiar with etcd tests, thus it may take time to do it properly as a test case.