[2018-10-30 01:57] egmkang commented on #10224
@xiang90 @brk0v
i'm not using golang, i'm using C#, there is not a distributed lock right now.

[2018-10-30 01:58] xiang90 commented on #10224
@egmkang You can read etcd go client code, and implement in c#.

[2018-10-30 02:07] egmkang commented on #10224
@xiang90 so, i cannot use the grpc api?
https://github.com/etcd-io/etcd/blob/master/etcdserver/api/v3lock/v3lockpb/v3lock.proto
[code]

[2018-10-30 09:31] miguelbernadi commented on #9955
If documentation for newcomers recommends to run with non-root containers and provides an example of how you would like to do it by default in the future:
- The approach will be tested by users
- New systems will follow the default before the new default is enacted
- A least-breaking change path may appear
Default can be changed a few releases later with less impact and clearer picture of user imp

[2018-10-31 00:50] rinsozheng commented on #10221
Thanks!

[2018-10-31 00:57] #10221 closed

[2018-10-31 02:01] vanloswang opened #10226 "tree node etcd cluster can not start up anymore after poweroff two of them"
I have a tree node cluster, after poweroff the two host of them and reboot later. The etcd cluster can  not start up anymore. The etcd version is 3.2.22.
The logs from all etcd nodes are the same as following:
[code]
The configuration of etcd is as following:
[code]

[2018-10-31 03:40] vanloswang commented on #10226
Fix it, It is a firewall problem.

[2018-10-31 03:40] #10226 closed

[2018-10-31 07:23] wgliang opened #10228 "Etcd deployment and read data best practices"
I want to know where has some documentation on how to deploy best practices?

And is it possible to do the read and write separation of the etcd node, for example, I have three nodes: Node1, Node2 and Node3, I only write data through Node1, read data through Node2 and Node3.

/help

[2018-10-31 08:41] zaisongz commented on #10187
we are using the jetcd and nokia/etcd-cpp-apiv3 as the client,  i am trying to dig if there is other usages.

the issue does not fired on all the members, but one.  when i stopped ETCD on the two members without issue, the rolling log stopped.  Once start one of the member, it popped up.

[2018-10-31 09:44] ccl0326 commented on #10228
I dont think  read and write separation is a good idea for performance and throughput.

[2018-10-31 11:16] sudeeshjohn commented on #10208
it looks like the error message is still same

[code]

		t.Fatalf("expected parsing error, got %v", serr)

[2018-10-31 17:46] gyuho commented on #10208
Can you try https://github.com/etcd-io/etcd/pull/10229?

[2018-10-31 18:37] manishrjain commented on #10225
Thanks for the explanation, @bdarnell . The purpose of ReportSnapshot wasn't clear before, due to lack of documentation around the call. I've created a PR to that effect.

For the fix, I made the snapshot pull bi-directional, so the follower can send an ACK back to the leader. If ACK fails, the leader will report snapshot failure and resume the log probing. That fixed the issue.

P.S. Congrats on

[2018-10-31 18:37] #10225 closed

[2018-10-31 22:42] #10208 closed

[2018-10-31 23:02] brk0v commented on #10225
@manishrjain As an idea. What about to implement a snapshot logic in a bit different way.  Raft snapshot could contain only meta information about your backend storage. So leader sends to the follower a very tiny snapshot and runs `ReportSnapshot()` immediately. Then follower use this meta information to connect to the leader using a side channel and download data in the raft `Ready()` goroutine b

[2018-10-31 23:47] manishrjain commented on #10225
That's close to what we're already doing:
https://github.com/dgraph-io/dgraph/blob/master/worker/draft.go#L675-L710

Re: the report immediately idea. Reporting success doesn't do anything. The leader would still block sending any updates until the follower has advanced their state. And the follower should really only advance its raft state if it has gotten the snapshot -- we don't want this laggin

[2018-10-31 23:56] daxtens commented on #9956
This happens to me as well. I have etcd providing storage for a kubernetes master (from hyperkube:v1.11.4), and I've installed the etcd from bionic. It just randomly falls over, almost always in < 1 hour.

My etcd version is:
[code]

[2018-11-01 18:29] brk0v commented on #10225
Yes, now I can see that you changed your snapshot logic (I actually asked a question about the old one here https://discuss.dgraph.io/t/worker-raft-and-snapshot-logic/3473).

According to the bi-directional communication. I don't know why, but `etcdserver/api/rafthttp` works for me without bi-directional channel for pulling snapshot. I can guess that the reason is a builtin `Prober` or maybe  some

[2018-11-02 08:34] toranger opened #10231 "How many keys can watcher sport to watch in one second?"
etcdctl version: 3.3.5

I use watcher to record key change to trigger the memery set change, and I found that ten keys changed in etcd(with txn) almost cost 1min to finish all watcher? I want to know how many keys can watcher sport to watch in one second? is there any way I can improve it?

there are ten keys to change in one txn
the first key to watch:
I1102 15:47:13.027212   13612 watch_meta.go:

[2018-11-02 10:46] nejtr0n commented on #9398
Not working for me.
CA
[code]
Generate
[code]
Intermediate for etcd
[code]
Generating intermediate
[code]
Intermediate sign config
[code]
Sign intermediate
[code]

Etcd certificate config
[code]
Intermediate to end config
[code]
Generating etcd config
[code]

And starting etcd like
[code]
Same config for second node (10.10.10.104)

Erorr log still the same ((
[code]

[2018-11-02 11:16] hexfusion commented on #9398
/assign

[2018-11-02 12:56] hexfusion opened #10232 "etcds-conf: a TLS validation and configuration tool for etcd"
Problems with configuring TLS for etcd are a very common issue for users. For example, depending on the etcd server version or if the cluster will use IPs vs domain names to define members. These decisions can affect the TLS cert requirements for proper operation resulting in confusion.

I would like to propose a new tool `etcds-conf` that will accept v3 server configurations. Based on those confi

[2018-11-02 14:52] guoger commented on #10217
Another problem with `Applied` option is that it prevents `ConfEntries` prior to `Applied` to be applied. Without a `ConfState` loaded from `Snapshot`, this is problematic...

[2018-11-04 10:18] guoger commented on #10217
cc @gyuho

[2018-11-05 02:31] swenzi opened #10234 "Etcd cluster startup failed"
Hi,
My etcd cluster consists of three machines. When I started the etcd cluster, two etcds reported errors. The details are as follows:
1. http://pdqtitad6.bkt.clouddn.com/etcd-issue-1.png
2. http://pdqtitad6.bkt.clouddn.com/etcd-issue-2.png
3. http://pdqtitad6.bkt.clouddn.com/etcd-issue-3.png

Please help me to see why.
Thanks!

[2018-11-05 07:06] jyothish-git opened #10236 "Change the Storage size limit | etcd:v2.3.8 |flag provided but not defined: -quota-backend-bytes"
Hi Team,

On my Kubernetes environment, I have two etcd cluster running one is from etcd:v3.2.18 and the other from etcd:v2.3.8. Both deployed using  kubernetes manifest file and both are up and running. I like to change the default storage size limit from 2GB to 4GB, So added  --quota-backend-bytes flag in the config file. It worked on etcd 3.2 but on etcd 2.3 the docker container failed with the

[2018-11-05 13:43] hexfusion commented on #10236
Hi @jyothish-git first of all v2 is no longer supported please consider migrating to v3 for futrure support. But to answer your question th `--quota-backend-bytes` flag was added to v3 and is not available in v2

ref: https://github.com/etcd-io/etcd/pull/4901

My understanding is this is not possible

ref: https://github.com/etcd-io/etcd/issues/8021

[2018-11-05 14:14] hexfusion commented on #10228
Hi @wgliang I think you should start by spending some time in our [Docs](https://github.com/etcd-io/etcd/tree/master/Documentation) then if you have specific questions please let us know.

etcd uses the raft consensus algorithm to maintain distributed state. For this to work effectively all client requests that require consensus are served by the leader node. In the case of a 3 node cluster where

[2018-11-05 14:15] hexfusion commented on #10228
/remove-help

[2018-11-05 14:52] hexfusion commented on #10234
@swenzi can you tell us a little more information on this cluster's data? I am curious if you have updated etcd from a previous version. Specifically was etcd at anytime < 3.2.10? I assume this was an existing cluster that was perviosuly working? Basically we need more details to understand why we are seeing this freelist panic to understand if it is related to https://github.com/etcd-io/etcd/pull

[2018-11-05 17:58] marc-swingler commented on #9532
Will this get backported to v3.3?

[2018-11-05 21:53] jpbetz commented on #10234
+1 to @hexfusion's analysis, this does look a lot like #8813 corruption that was fixed in 3.2.10+. I'd start by examining that as cause. Was a <3.2.10 version of etcd in use recently?

[2018-11-05 22:49] fritchie opened #10237 "Disable leader election"
Please read https://github.com/etcd-io/etcd/blob/master/Documentation/reporting_bugs.md.

This is a feature request.

It would be nice to be able to disable etcd leader election on the fly. This could come in handy during kubernetes upgrades, network flakiness, etc...

[2018-11-06 06:09] jyothish-git commented on #10236
Thank you @hexfusion for the clarification.
I'll move to v3 soon.

[2018-11-06 11:40] swenzi commented on #10234
Yes, There was a cluster in the virtual machine before. Then my host suddenly went out of power. When I restarted the host and started the virtual machine, the above error occurred. My etcd version 3.2.18, thank you!

Detail:
http://pdqtitad6.bkt.clouddn.com/etcd-issue-4.png

[2018-11-06 18:51] #10236 closed

[2018-11-06 19:13] gyuho commented on #10237
@fritchie Can you tell us more about your use case? Are you concerned about etcd availability? Leader election can be also the aftereffect of network faults.

[2018-11-06 19:53] mrrandrade opened #10238 "etcdctl and discovery-srv-name"
Please read https://github.com/etcd-io/etcd/blob/master/Documentation/reporting_bugs.md.

I'm trying to use **etcdctl** to connect to a ETCD cluster using the DNS SRV service discovery as described by this paragraph:

[code]

It seems this parameter does not exist for etcdctl?

**etcdctl version**:
[code]

[2018-11-06 20:08] hexfusion commented on #10238
[..]
It seems this parameter does not exist for etcdctl?

@mrrandrade correct the flag is etcd server `Clustering` flag, can you explain the problem you are trying to solve?

https://github.com/etcd-io/etcd/blob/master/Documentation/op-guide/configuration.md#--discovery-srv-name

[2018-11-06 20:14] hexfusion commented on #10238
The problem with using SRV for the client is that after the cluster is bootstrapped the SRV records are not managed by etcd so new members can be added or removed without interaction with DNS. So SRV cannot be trusted for member list.

[2018-11-06 20:21] hexfusion commented on #10234
Hi @swenzi can you answer my question above? We understand that you are running 3.2.18 now, thanks!

[2018-11-06 21:56] mrrandrade commented on #10238
I'm fine with this; I know there's a chance it's wrong, but I'm the guy ahead of both tasks, so the only person that can screw me over is myself :rofl:

Actually I was just writing a ETCD backup script using **etcdctl** command that used the least amount of parameters possible - I'm not really using it to boot the ETCD cluster.

I came here because I found it weird **etcdctl** has the --discovery-

[2018-11-06 23:07] babarismail opened #10239 "all keys disappear when a new host is added"
We have a one node cluster which is running just fine. I want to add another node to it (I know 2 nodes aren't the recommended way but I will get to 3 nodes once I have successfully been able to add the second node).
As directed in the documentation, I called etcdctl member add:
etcdctl member add host2 http://10.253.170.154:2380
which spit out the configuration required in the second node that I

[2018-11-06 23:10] maddop opened #10240 "etcd 3.2+ snapshot count reduction"
Currently using 3 VM's running

RHEL7.5
OKD 1.5
ETCD 3.2.22
32GB memory
Flash SSD

Having issues with etcd 3.2 cluster. Getting OOM and etcd members are killed.
They restart and then rejoin but this continues to reoccur. Occasionally they'll fail to rejoin the cluster, requiring to be manually cleared down and re-added.

One possible solution is reducing snapshot threshold to 10k from 100k but wan

[2018-11-06 23:14] gyuho commented on #10240
v3.2 default snapshot count was changed to 100k to decrease the snapshot sends to slow followers, but you may see memory spikes because it holds raft entries for longer. It's a tradeoff between less spikey memory usage and less snapshot sends.

[2018-11-07 01:37] hexfusion commented on #10238
Yeah, your right I think this should be included, I will resolve this unless you would like to take a stab?

[2018-11-07 01:40] hexfusion commented on #10238
/assign

[2018-11-07 07:08] 899 opened #10241 "can not get gcr.io/etcd-development/etcd:v3.2.25"
docker pull gcr.io/etcd-development/etcd:v3.2.25
error:
Pulling repository gcr.io/etcd-development/etcd
unauthorized: authentication required

[2018-11-07 07:36] gyuho commented on #10241
Hmm, @jpbetz could you check the container image permission?

[2018-11-07 14:13] hexfusion commented on #10239
@babarismail No as you noted in the case of `etcdctl` member add will add the new member url to etcd peerURLs and output the proper configs for you to start the new member to be part of the cluster. From what I can see you have done this correctly.

Not sure I follow you here, what do the startup logs look like when 2nd node starts, can you attach them?

I doesn't sound like the cluster is healthy

[2018-11-07 15:07] mrrandrade commented on #10238
My coding skills are still between pathetic and nonexistent :(

But thanks for accepting the suggestion!

[2018-11-07 15:54] hexfusion commented on #10239
Another thing to consider is you should make sure you are reading and writing from the same store. By default, etcdctl uses v2 API so if you wrote to v2 then tried to read v3 (ETCDCTL_API=3 etcdctl get foo) it would appear your data was missing.

[2018-11-07 18:18] babarismail commented on #10239
@hexfusion through journalctl I see a lot of these. Any ideas?
Nov 06 00:14:19 host2 start-etcd[94030]: 2018/11/6 00:14:19 rafthttp: streaming request ignored (cluster ID mismatch got d71c
Nov 06 00:14:19 host2 start-etcd[94030]: 2018/11/6 00:14:19 rafthttp: streaming request ignored (cluster ID mismatch got d71c
Nov 06 00:14:19 host2 start-etcd[94030]: 2018/11/6 00:14:19 rafthttp: request receive

[2018-11-07 18:39] jpbetz commented on #10241
Fixed. Sorry, we had some permission problems as part of the org changes related to the move to etcd-io. All 3.2.25 and 3.1.20 container images should no be available.  Please reopen if you encounter any issues.

[2018-11-07 18:39] #10241 closed

[2018-11-07 20:40] gyuho commented on #10241
Confirmed that this works now. Thanks!

[2018-11-07 21:30] gyuho commented on #10240
/assign

[2018-11-07 21:34] hexfusion commented on #10239
@babarismail I assume these are test nodes can you stop etcd on each node delete the datadirs and start over? When the nodes are running can you show the output of

`ETCDCTL_API=3 etcdctl --endpoints=http://10.253.170.154:2379,http://10.253.170.146:2379 endpoint status -w table`

I can not reproduce your issue so I need more information, logs, commands tried etc to help you.

[2018-11-07 22:31] babarismail commented on #10239
@hexfusion
These are not test nodes and our openstack services depend on the data in them. In our initial design, we just had 1 node which wasn't a smart idea to begin with. My task is to add resilience into the cluster which is why I am adding more nodes to it.

It looks like that if a node (node2) with existing etcd data is asked to join a new cluster with one node (node1), the latest data is us

[2018-11-07 22:45] hexfusion commented on #10239
@babarismail host2 is running 2.1.1? This is no longer supported is host1 the same?

[2018-11-07 22:51] hexfusion commented on #10239
Lets assume this is v3 cluster new node should not reuse data-dir, remove data-dir on host2 and start over. If this is v2 cluster please upgrade.

[2018-11-07 22:51] #10239 closed

[2018-11-07 23:01] maddop commented on #10240
thanks for the clarification.
Reduction to snapshot applied, now running at 10k and seems to have a positive impact.

[2018-11-07 23:01] #10240 closed

[2018-11-07 23:38] babarismail commented on #10239
@hexfusion host1 and host2 are indeed v2. We will try to upgrade as soon as we can.

I think we can resolve this issue as I now understand the behavior. 2 things I need to do:
1. remove all data from the node2
2. upgrade to v3

[2018-11-07 23:41] hexfusion commented on #10239
If you need help on upgrade let us know.

[2018-11-08 00:36] babarismail opened #10242 "merge data from 2 clusters"
Please read https://github.com/etcd-io/etcd/blob/master/Documentation/reporting_bugs.md.

Etcd version 3

I have 2 etcd clusters and I want to preserve both clusters' data into one cluster. Is it possible through some export / import command ?

I looked into a snapshot restore but it looks like it will restore it to the snapshot of 1 cluster but that's not what I want. I want to take a snapshot of

[2018-11-08 02:46] swenzi commented on #10234
I didn't have updated etcd from a previous version. I have used etcd:3.2.18 all the time. there was't an existing cluster that was previously working.

[2018-11-08 02:46] swenzi commented on #10234
Now my cluster is good because I reinstalled the etcd cluster.

[2018-11-08 03:02] hexfusion commented on #10234
@swenzi thank you for the details would you be able to share the data-dir for the corrupted nodes so that we can review? This may help us to better understand the underlying problem.

[2018-11-08 07:18] johncming opened #10243 "etcd start with --auth-token='jwt' failed"
how to use jwt auth?

command:
[code]

response:

[code]

thanks.

[2018-11-08 07:53] gyuho commented on #10243
Try something like:

[code]

[2018-11-08 07:53] #10243 closed

[2018-11-08 08:29] johncming commented on #10243
thanks

[2018-11-08 10:59] bbklab commented on #9949
introduced by #8013

[2018-11-08 15:07] mcginne commented on #9956
We have also hit this issue when issuing a hard power off of a host during failure testing.

We had 1332 etcd clusters (3 members each) spread across 111 nodes.
The 111 nodes are spread across 3 zones (so 37 in each)
Each etcd cluster has 1 member in each zone

We performed a test where we did a hard shutdown of all nodes in 1 of the zones. We expected all etcds to maintain quorum as they had 2 me

[2018-11-08 16:05] gyuho commented on #9956
So, this panic happens in the new node?

[2018-11-08 16:14] mcginne commented on #9956
No, the panic is always on one of the existing nodes that was not shutdown (Although it is caused by one of its peers being shutdown)

[2018-11-08 16:28] mrueg opened #10245 "tools/benchmark is gone from v3.3 releases"
https://github.com/etcd-io/etcd/commit/074e4177707f4daead816c108a06980d77d0aad0 this removed it in release-3.3 and it never got added back since v3.3.3

Can you readd it?

[2018-11-08 17:52] babarismail commented on #10242
thanks @hexfusion

[2018-11-08 17:52] #10242 closed

[2018-11-08 22:00] andrewjstone opened #10246 "Document Client Compatibility"
Hi all,

I can't find any precise documentation around compatibility of v3 clients with given versions and v3 servers with given versions.

While it may be possible to take entire Etcd clusters down and replace them at once, doing that with a larger set of clients is somewhat unrealistic.

Are there any backwards or forwards compatibility guarantees across the client API? For example:
 * *Backward

[2018-11-09 07:40] zdywjj opened #10247 "cannot use google.golang.org/grpc/naming"
cannot use "google.golang.org/grpc/naming".Update literal (type "google.golang.org/grpc/naming".Update) as type "go.etcd.io/etcd/vendor/google.golang.org/grpc/naming".Update in argument to r.Update

[2018-11-09 08:31] hoobean1996 opened #10248 "Unexpected"
Please read https://github.com/etcd-io/etcd/blob/master/Documentation/reporting_bugs.md.

[2018-11-09 08:35] hoobean1996 opened #10249 "Unexpected ":" in connection url"
# Details
etcd Version: 3.3.10
Git SHA: GitNotFound
Go Version: go1.11.1
Go OS/Arch: darwin/amd64

# Problem (unexpect colons)
![image](https://user-images.githubusercontent.com/44892834/48251570-0d2d2300-e43d-11e8-8fef-9551ec1b4faa.png)
![image](https://user-images.githubusercontent.com/44892834/48251583-18804e80-e43d-11e8-89e5-8fa8fcaa9dd9.png)

[2018-11-09 08:38] #10248 closed

[2018-11-09 10:55] hexfusion commented on #10247
@zdywjj Please read https://github.com/etcd-io/etcd/blob/master/Documentation/reporting_bugs.md.

To help you we need details such as.
* etcd version:
* go version:
* OS:
* Actions to reproduce:

[2018-11-09 14:19] hexfusion commented on #10249
Git SHA: GitNotFound
Go Version: go1.11.1
Go OS/Arch: darwin/amd64

@hoobean1996 I assume you are using release assets to test? https://github.com/etcd-io/etcd/releases

Could you outline full steps to reproduce along with your go version?.

[2018-11-09 16:29] KIVagant commented on #9398
@nejtr0n , I don't see "client auth" permission in your config for "server" key:
[code]

[2018-11-09 21:30] #10238 closed

[2018-11-10 01:40] vgoldani commented on #3226
Did anyone manage to fix this?

[2018-11-10 01:41] vgoldani commented on #3226
Im running a Bare Metal Ubuntu Server trying to make it work with a Openstack Ubuntu Instance

[2018-11-10 02:06] hexfusion commented on #3226
@vgoldani please open a new issue with full details of your problem including etcd startup logs and we can take a look.

[2018-11-10 03:09] vgoldani opened #10252 "Hybrid Bare Metal & Openstack etcd Cluster"
i've working on this Hybrid Bare Metal & Openstack cluster without success.

Heres my topology:

![topologia](https://user-images.githubusercontent.com/7671373/48296959-c272d180-e463-11e8-9d6f-efcfebe0ceba.png)

Im running a Openstack on premise cloud with Ubuntu instances and one physical server also with Ubuntu, both connected with a router.

Server:
Name: M1
IP: 192.168.89.151
OS: Ubuntu 16.04.

[2018-11-10 03:45] hexfusion commented on #10252
@vgoldani what happens if you backup the data-dirs for each node moving them out of the way and boostrap the cluster again?

`mv /var/lib/etcd /var/lib/etcd.backup`

Generally, this type of error points to a misconfiguration during the initial bootstrap process. For example, if m2 was started as a single node cluster (e668b9f2753c9e74) then you adjusted the configs as they are above attempting to

[2018-11-10 04:04] vgoldani commented on #10252
I've doing some tests but instead of create the backup, i do some rm /var/lib/etcd. Heres the scenario:

M1
1. Run rm /var/lib/etcd.
2. Run sudo systemctl daemon-reload && sudo systemctl enable etcd  && sudo systemctl start etcd
3.- Log show this:
![m1](https://user-images.githubusercontent.com/7671373/48297328-f9001a80-e46a-11e8-9792-ae4177ae6d04.png)

Then i move to M2
4.- Run rm /var/lib/etcd.

[2018-11-10 15:41] hexfusion commented on #10252
Should i try to mv instead of delete /var/lib/etcd

You mean `rm -rf /var/lib/etcd` right? /var/lib/etcd is a directory rm would have no effect. I only said to `mv` so you retained a copy of the original data-dir if this is just a test cluster then that is not nessisary and full delete is fine.

This appears to be ok but we need to see the complete etcd startup logs to be sure. ssh into these inst

[2018-11-10 17:12] vgoldani commented on #10252
@hexfusion My bad, i meant full delete with -rf.

[m1.txt](https://github.com/etcd-io/etcd/files/2568584/m1.txt)
[m2.txt](https://github.com/etcd-io/etcd/files/2568585/m2.txt)

Looking at the logs, seems like each node is starting with a different cluster ID but i cant find anything more :(

[2018-11-10 17:42] hexfusion commented on #10252
Ok let’s cleanup these configs why are you switching between 192 and 172 networks for peer and client? If you want to do that assuming it is possible the configs need to be properly set. Notice the difference between m1 and m2 member list? These should be the same.

Nov 10 10:54:54 kubernetes-m1 etcd[1930]: initial cluster = m1=http://192.168.89.151:2380,m2=http://192.168.89.152:2380

Nov 10 10:55

[2018-11-10 17:51] vgoldani commented on #10252
The 172.168.89.26 is unreacheable from outside of the Openstack. its a private network for openstack managment and its assigned directly to the enp3s0 interface when the instance is created. Thats why i need to use the floating IP. Should i try doing something like this?:

m1=http://192.168.89.151:2380,m2=http://192.168.89.152:2380, m2=http://172.168.89.26:2380
m2=http://192.168.89.151:2380,m2=htt

[2018-11-12 01:56] hoobean1996 commented on #10249
Thanks
I Used 'brew install etcd' to install etcd ,and the details are
`
etcd Version: 3.3.10
Git SHA: GitNotFound
Go Version: go1.11.1
Go OS/Arch: darwin/amd64
`
in my Go program, I want to client etcd by etcd/ClientV3,
if I use '127.0.0.1:2378' without http://, it is ok, no unexpected ":".
if I use `http://127.0.0.1:2379`,the test code will panic with unexpect ":" .

Sample:
![image](https://use

[2018-11-12 09:15] DylanBLE opened #10254 "etcd crashes when started with empty data"
I have an etcd cluster with 3 members(etcd0, etcd1, etcd2) . One member(etcd2) had some disk issue so I removed it's data and restarted it. What I'am expecting was it can automatically sync data from other members and worked again. Unfortunally it keeped restarting with the following logs:
[code]

The start command is
[code]
etcd version
[code]

[2018-11-12 09:16] DylanBLE commented on #10254
I know snapshot can fix this problem but it requires to do restore on all members.
https://github.com/etcd-io/etcd/blob/master/Documentation/op-guide/recovery.md#restoring-a-cluster

[2018-11-12 09:20] DylanBLE commented on #10254
One work-around way is to stop one more member(etcd1) which makes the cluster unhealthy (with only etcd0 left). Then I started etcd2 and then etcd1, the cluster got recovered.

[2018-11-12 13:32] hexfusion commented on #10254
@DylanBLE the proper way to handle a single member failure would be to remove the member (etcd2) and then add a new replacement. etcd reports the errors above because the loss of the data-dir was unexpected.

ref [docs: replace-a-failed-machine]( https://github.com/etcd-io/etcd/blob/61354ff8ede7dde7839e0df987f37cda931fd740/Documentation/op-guide/runtime-configuration.md#replace-a-failed-machine)

[2018-11-12 14:16] hexfusion commented on #10245
Can you readd it?

Maybe @gyuho can let us know his reason for removal.

[2018-11-12 14:18] #10228 closed

[2018-11-12 14:19] hexfusion commented on #10228
@wgliang let us know if you have any specific questions.

[2018-11-12 14:48] hexfusion commented on #10204
@mslga per [FAQ :system-requirements ](https://github.com/etcd-io/etcd/blob/master/Documentation/faq.md#system-requirements) SSD is strongly recommended.

For example, is the indicator "Latency distribution: 99.9% in 0.7643 secs." bad?

If you review the performace doc provided vy @wenjiaswe you will see with SSD the same lineralized workload you ran avg latency is 5.5ms yours on HDD is 764.3ms.

[2018-11-12 14:48] #10204 closed

[2018-11-12 14:49] hexfusion commented on #10237
@fritchie kind ping

[2018-11-12 15:43] YinYongTao opened #10255 "ADD etcd /usr/local/bin/ failed"
When I'm building docker image, An error occurred

` docker build -t etcd:3.3.10 -f Dockerfile-release .
Sending build context to Docker daemon  75.33MB
Step 1/8 : FROM alpine:3.8
3.8: Pulling from library/alpine
4fe2ade4980c: Pull complete
Digest: sha256:621c2f39f8133acb8e64023a94dbdf0d5ca81896102b9e57c0dc184cadaf5528
Status: Downloaded newer image for alpine:3.8
 ---> 196d12cf6ab1
Step 2/8 : ADD

[2018-11-12 15:54] gyuho commented on #10255
Did you build etcd before building docker image?

[code]

[2018-11-13 03:03] DylanBLE commented on #10254
@hexfusion  I see. I also found the reason why my work-around solution is working. With only etcd0, the cluster had no leader. When etcd2(with no data) joined, etcd0 will start an election and send out snapshot at the same time.
etcd0 log shows:
[code]
etcd2 accepted the snapshot the recovered the data.
etcd2 log shows:
[code]

[2018-11-13 13:35] #10254 closed

[2018-11-13 13:36] hexfusion commented on #10254
@DylanBLE sounds like we can close this then, please let us know if you have any other issues.

[2018-11-13 13:37] #10237 closed

[2018-11-13 20:48] philippgille commented on #9877
Using `DialOptions: []grpc.DialOption{grpc.WithBlock()},` in my code leads to the following compile error: `cannot use []"google.golang.org/grpc".DialOption literal (type []"google.golang.org/grpc".DialOption) as type []"go.etcd.io/etcd/vendor/google.golang.org/grpc".DialOption in field value` (note: I'm a Go beginner)

[2018-11-13 21:00] philippgille commented on #9829
The initial issue described that `New()` *with* a `DialTimeout` lead to a blocking call, while `New()` with*out* a `DialTimeout` lead to no blocking.

I'm currently experiencing a problem where I *do* use a `DialTimeout`, but the behaviour is completely different from the description:

1. The code doesn't block at the `New()` call, but instead in the following `cli.Status()` call
2. The code block

[2018-11-14 05:53] gyuho commented on #10147
Did it work?

[2018-11-14 05:54] gyuho commented on #10192
Disabled for now. Will revisit after Kubecon 2018.

[2018-11-14 20:11] vtolstov commented on #10147
i'm remove all etcd stuff from go.mod file and re-download all to master versions and update go.mod. now all fine. thanks.

[2018-11-14 20:11] #10147 closed

[2018-11-14 20:15] adityadani opened #10259 "Newly added node failing to find members which are part of the existing cluster"
I have a 5 node etcd cluster which I am using for testing etcd.
Following is the etcd configuration
[code]
Two of the VMs got deleted. So I removed those two nodes from the etcd cluster.  I was able to add one of the nodes back into the cluster as a new node with no problems.

However I am unable to add the other node (70.0.90.50) back into the cluster with etcd reporting that node not healthy.

H

[2018-11-14 21:03] hexfusion opened #10260 "etcd community meetup at KubeCon"
Hi all, we are trying to get folks together from the etcd community during KubeCon in Seattle. We are still working on the details but if you are interested please signup below so we can coordinate. If you have ideas on where to meet or a good place for dinner, please share as well, thanks!

https://www.meetup.com/etcd-io/

[2018-11-15 01:46] johncming opened #10261 "tcpproxy: weight strategy"
https://github.com/etcd-io/etcd/blob/ee9dcbca0d89dc563c9e6bc725fab0c6f21d689b/proxy/tcpproxy/userspace.go#L143-L149

It seems that the weighting strategy here is not to choose the one with the greatest weight, but to process in a random manner.

Why not just choose the one with the most weight？

![image](https://user-images.githubusercontent.com/11719334/48524610-f6168700-e8bb-11e8-8a6f-9b7aba63e4

[2018-11-15 05:19] hoobean1996 commented on #10249
I use HTTP to work with etcd server, but the etcdClient still not worked

[2018-11-15 11:41] hexfusion commented on #10249
@hoobean1996 I cannot reproduce, here are my steps with a slightly modified example from GoDoc https://godoc.org/go.etcd.io/etcd/clientv3#example-KV--Put

[code]

[code]
dep vendors reasonable versions of dependencies which might of been your issue?

[2018-11-15 12:29] hexfusion commented on #10252
@vgoldani any progress?

[2018-11-15 18:46] grepory opened #10264 "Logging transactions can expose sensitive information"
When transactions take too long, the entire transaction is logged. This can include potentially sensitive data included in transactions that are stored in etcd (e.g. password hashes in our case). E.g.

[code]

We discovered this when some instances in CircleCI were having IO issues today. I definitely recognize the value in logging these, but if there's a way to reduce this to debug-level logging

[2018-11-15 19:10] hexfusion commented on #10264
@grepory I believe this was resolved by https://github.com/etcd-io/etcd/pull/9821

https://github.com/etcd-io/etcd/blob/master/CHANGELOG-3.3.md#v338-2018-06-15

So give 3.3.8+ a try.

[2018-11-15 19:13] grepory commented on #10264
Crap. Thank you! We'll work on updating our etcd dependency. I appreciate it. I'll re-open if that's not the case.

[2018-11-15 19:13] #10264 closed

[2018-11-15 19:13] grepory commented on #10264
^_^ <3

[2018-11-15 21:45] vgoldani commented on #10252
Not at all, but trying a couple of things. First of all: We are not following this rules. Maybe forgot to mention it, but its a private openstack in our datacenter. We don't follow the IP rules of the IETF.

A couple of things i tried: Setting a static route on every node (ip route add ...) didnt work how i expected, and using OpenVPN.

Starting to think that it wont work how i wanted. :(

[2018-11-15 23:49] rjtsdl opened #10265 "Compile error"
We import `github.com/etcd-io/etcd` as a vendor thru `godep`

[code]

[code]

Here is the real compile error
[code]
Note, I saw similar issues reported. The solution is to upgrade to go1.9. But the error I saw about is from go1.11.x.

[2018-11-16 00:29] swenzi commented on #10234
Sorry, the cluster is reinstalled, and the data is not retained. If this problem arises again, I will share the data with you. Thank you!

[2018-11-16 00:45] arthurkiller opened #10266 "Question: How did mvcc work with etcd"
Hey I just wanna to ask some questions about learning etcd v3_server.

How did MVCC work with ETCD?
How did it work with bboltdb?
Is backend only store the mate information in it?

I can not understand where we called the mvcc.Txn.Put to begin a transection.
Thx alot

[2018-11-16 02:18] #10234 closed

[2018-11-16 06:25] sudeeshjohn opened #10267 "SIGQUIT: quit in pkg/transport test"
[code]

[2018-11-16 06:42] sudeeshjohn commented on #10267
env:

[code]

[2018-11-16 06:44] xiang90 commented on #10267
it is due to `*** Test killed with quit: ran too long (10m0s).`

[2018-11-16 06:49] sudeeshjohn commented on #10267
Agree, but his is not happening with go version 11.1

[code]

[2018-11-16 06:50] xiang90 commented on #10267
@sudeeshjohn Can you help us debug this issue as you already can reproduce it?

[2018-11-16 07:16] #10089 closed

[2018-11-16 14:32] hexfusion commented on #10265
@rjtsdl I am sure you have checked this but typically this happens when you are building outside of GOPATH can you confirm this please.

[2018-11-16 15:44] directionless opened #10269 "Memory usage in concurrency package Mutex"
Hi!  I'm running an etcd 3.3.9 cluster, in Google Kubernetes Engine, as managed by [etcd-operator](https://github.com/coreos/etcd-operator). This cluster is used solely for locking, at any time there are 5ish locks. These tend to be short lived. There is no long term data.

We run auto-compaction every 10 minutes, I can see that happening in the logs.

Memory graphs of the cluster, show memory use

[2018-11-16 16:08] gyuho commented on #10269
Did the memory usage keep increasing or level off?

[2018-11-16 16:11] directionless commented on #10269
My test case was hammering my laptop, so I stopped it. I assume it would have kept growing. I'll try to get that into k8s and let it run for a day.

It's a bit harder for me to say what production is doing. It's sorta leveled off, but I don't know what the next day will bring. And, TBH, 380megs per node to hold 4 locks seems rather excessive.

[2018-11-16 18:14] directionless commented on #10269
I got my test code running in kubnernetes, at about 1.5h ago. And since then, the test cluster memory usages has been increasing. The nature of that code is that there should only ever be 10 active locks, and no stored data. But, memory usage keeps growing:

![screen shot 2018-11-16 at 13 14 20](https://user-images.githubusercontent.com/179542/48639427-8d093f00-e9a1-11e8-8b53-903b8d620848.png)

[2018-11-16 18:23] gyuho commented on #10269
@directionless If you can reproduce this using just etcd without etcd-operator, and provide a way to reproduce, it will be very helpful.

[2018-11-16 18:43] gyuho commented on #10269
Output from `client-url/metrics` would be helpful. Would be best if it's reproducible on our side (including how you create 10 locks).

[2018-11-16 18:57] directionless commented on #10269
My test code is https://github.com/directionless/etcd-locking-memory-leak/blob/master/main.go Its probably simplest just to read that.

I've attached the dump of `client-url/metrics` -- [test-cluster-metrics.txt](https://github.com/etcd-io/etcd/files/2590513/test-cluster-metrics.txt)

I'm generating a local test case. Started etcd via [run-local.sh](https://github.com/directionless/etcd-locking-me

[2018-11-16 19:08] gyuho commented on #10269
Whenever you create and acquire a lock, the key is written to the storage, so memory will spike as it holds those entries in Raft, which is expected. The memory usage will eventually come down once it gets discarded. You have total `171161` puts. I would try `--snapshot-count 100` to see if the memory comes down.

Anyway, I don't think there's a memory leak here. We just need to find out what's th

[2018-11-16 19:32] directionless commented on #10269
I don't really understand why the key is held across the compaction events. The lock and session are released, so once the compaction occurs shouldn't they be cleared?

I've restarted both my GKE and my local test cases with the suggested `--snapshot-count 100`. I'll report back when it's been running for more than a coupe minutes

[2018-11-16 20:59] directionless commented on #10269
It's been running about 1.5 hours with those settings.

My local instances, started at 12megs of ram, and grew to 50megs. It's been hovering around there.

My GKE cluster started similarly, but is now up to 200megs per node, and seems to still be growing. I don't know why those are different, maybe cluster vs singleton.

I feel very confused about why compaction isn't enough here. Is that somethin

[2018-11-16 22:15] philippgille commented on #9829
In case others have the same problem, here's a workaround that calls the etcd client code in a goroutine, returning the client via channel, and utilizes a timeout in case the etcd client code blocks forever:

[code]

[2018-11-16 23:17] dgryski opened #10270 "Issues found by new vet `nilness` check"
A new vet was merged into tip.  The more advanced dataflow analysis package found the following issues:

[code]

[2018-11-17 01:43] gyuho commented on #10270
Thanks, will look into this.

[2018-11-17 01:58] gyuho commented on #10259
@adityadani

Was there another etcd process on the host?

[2018-11-17 02:04] adityadani commented on #10259
I did see that log line and double checked at that time, but found only one etcd process running.

I have seen that log getting printed in other cases as well, when I restart etcd. But it usually goes ahead and starts.

[2018-11-17 12:50] directionless commented on #10269
I've left these tests running over night. `--snapshot-count 100` changes the sawtooth, but does not seem to dramatically change things.

Both my GKE 3 node clusters are using 350megs per node. The test one with snapshot set low has a shorter period on the sawtooth. (pink lines are the lower snapshot settings). 350 megs of memory seems quite excessive.
![screen shot 2018-11-17 at 07 44 03](https://

[2018-11-17 14:55] hoobean1996 commented on #10249
Thank you very much !

[2018-11-17 14:55] #10249 closed

[2018-11-17 16:17] liurd commented on #7960
In could environment, there is no local SSD. any way to improve ETCD performance, or not so disk sensitive? It's big suffering in cloud environment, always timeout.  Not every load have SSD.

[2018-11-17 16:30] liurd opened #10271 "ETCD is too sensitive to disk latency"
ETCD is too sensitive to disk latencies, in cloud environment, it's always a big issue because SSD is not used for all cloud environment.
https://coreos.com/etcd/docs/latest/tuning.html#disk is not enough.  Not so sensitive to disk latency, or non-SSD solution is needed. "Rely on SSD" is really a restriction to use in cloud ENV.

Guess you may close my ticket, but I do appreciate your help if any

[2018-11-18 17:21] JJ opened #10272 "Procfile error (and command line error too)"
The command line

[code]

in the procfile issues this error:

[code]

Is the Procfile out of date?

[2018-11-19 01:30] #10261 closed

[2018-11-19 02:08] shuangyangqian opened #10273 "the performance i test doesn't meet my expected"
I setup a cluster with three machines, the detail info of my cluster is bellow:
`etcdctl --endpoints https://127.0.0.1:2379 --cert-file /etc/ssl/client.pem --key-file /etc/ssl/client-key.pem --ca-file /etc/ssl/ca.pem member list

65a37c12abfb1cf1: name=etcd_2 peerURLs=https://10.32.xx.xx:2380 clientURLs=https://10.32.xx.xx:2379 isLeader=true

7209761f3009b6cb: name=etcd_1 peerURLs=https://10.32.xx

[2018-11-19 02:10] shuangyangqian commented on #10273
the version of etcd:
`# etcd --version
etcd Version: 3.3.10
Git SHA: 27fc7e2
Go Version: go1.10.4
Go OS/Arch: linux/amd64`

[2018-11-19 06:30] hongjyan opened #10274 "how to deploy etcd members on multi openstack cloud"
I setup an three members etcd-cluster successfully in one openstack-cloud. Now i want to join one member from another openstack-cloud. Notice the inner ip on different openstack-cloud maybe the same but floating ip is unique.

\# etcdctl --key-file /etc/kubernetes/ssl/kubernetes-key.pem --cert-file /etc/kubernetes/ssl/kubernetes.pem --ca-file /etc/kubernetes/ssl/ca.pem cluster-health
member 3cc515

[2018-11-19 06:33] hongjyan commented on #3226
have the same problem. Open [issue-10274](https://github.com/etcd-io/etcd/issues/10274)

[2018-11-19 08:11] hongjyan commented on #10274
problem above means cluster go into brain-split status. I restart all etcd service on those 4 nodes at same time solved this problem.
But still there are some concerns below:
Nov 19 10:05:19 distcc8-1 etcd[23896]: rejected connection from "10.183.35.142:45038" (error "EOF", ServerName "")
Nov 19 10:05:19 distcc8-1 etcd[23896]: rejected connection from "10.183.35.142:45040" (error "EOF", ServerName

[2018-11-19 14:31] piotrgo commented on #9917
I've run into the same issue however, the cluster seems to operate just fine - keys are replicated across the cluster.
`>etcdctl member list`
`
82aeb37e361d09ed, started, etcd1, https://172.16.253.51:2380, https://172.16.253.51:2379
9d3b38013d4186e6, started, etcd2, https://172.16.253.47:2380, https://172.16.253.47:2379
a2430f07d691d22e, started, etcd3, https://172.16.253.52:2380, https://172.16.2

[2018-11-19 20:44] hexfusion commented on #9917
results in:
172.16.253.52:2380 is unhealthy: failed to commit proposal: context deadline exceeded 172.16.253.47:2380 is unhealthy: failed to commit proposal: context deadline exceeded 172.16.253.51:2380 is unhealthy: failed to commit proposal: context deadline exceeded Error: unhealthy cluster

@piotrgo does changing endpoint port to 2379 resolve the issue?

[2018-11-19 21:34] hexfusion commented on #10273
@shuangyangqian does adding `--target-leader` improve latency? Also you can try curl on /metrics endpoint this will give you more details on metrics like fsync. Feel free to attach metrics as a file and we can take a look.

/dev/sda5:
Timing cached reads: 20444 MB in 2.00 seconds = 10231.69 MB/sec
Timing buffered disk reads: 1444 MB in 3.00 seconds = 481.31 MB/sec

My understanding of hdparm which

[2018-11-19 21:50] hexfusion commented on #10272
@JJ what is `etcd --version` output? Procfile in master branch is 3.4, since this is not yet released you could checkout the version of etcd you are running.

[code]
or if you wanted to test against master
[code]

[2018-11-19 22:42] hexfusion commented on #10274
@hongjyan I am curious what is output of

`openssl x509 -in/etc/kubernetes/ssl/kubernetes.pem -text -noout`

[2018-11-19 22:53] jxuan commented on #10132
I think the solution should be "Do not store the password in the original format". Hackers can still extract password from storage even if the code "does not log the password"

[2018-11-20 01:46] XiaoJiangWang opened #10276 "how to know the limit about disk io"
In https://github.com/etcd-io/etcd/blob/master/Documentation/dev-guide/limit.md ， we can see the system limits about Request size and Storage size. But there is no description about the limit about disk io.

So I want to ask what is the recommended value for disk io.

My scenes is that：
I'll use k8s to manage etcd pod, and want it use pvcTemplate. for data, It maybe is a good option. But I don't k

[2018-11-20 02:15] XiaoJiangWang commented on #10276
@gyuho @xiang90
If there is a document for disk io limits, please give me the link. Thks.

I beg your pardon , may be I was too plain.

[2018-11-20 02:29] XiaoJiangWang commented on #10276
also I think these links will help others.

https://github.com/etcd-io/etcd/blob/master/Documentation/op-guide/hardware.md#disks
https://github.com/etcd-io/etcd/blob/master/Documentation/faq.md#system-requirements

[2018-11-20 02:47] shuangyangqian commented on #10273
hi, @hexfusion , thank you for you comment.
1.  the leader of my etcd cluster is:
`# etcdctl --endpoints https://10.32.3.90:2379 --ca-file /etc/ssl/ca.pem --cert-file /etc/ssl/etcd.pem --key-file /etc/ssl/etcd-key.pem member list
65a37c12abfb1cf1: name=etcd_2 peerURLs=https://10.32.3.92:2380 clientURLs=https://10.32.3.92:2379 isLeader=true
7209761f3009b6cb: name=etcd_1 peerURLs=https://10.32.3.91:

[2018-11-20 06:34] JJ commented on #10272
El lun., 19 nov. 2018 a las 22:51, Sam Batschelet (<notifications@github.com>)
escribió:

 etcd Version: 3.3.10
Git SHA: 27fc7e2
Go Version: go1.10.4
Go OS/Arch: linux/amd64

[2018-11-20 08:40] cwdsuzhou opened #10277 "Can not find the description of ENV varible ETCD_CIPHER_SUITES in Documentation/op-guide/configuration.md"
ENV variable: ETCD_CIPHER_SUITES and --cipher_suites have not been added in the op-guide configuration file

[2018-11-20 13:01] hexfusion commented on #10274
Nov 19 10:30:40 distcc8-1 etcd[24023]: rejected connection from "10.183.35.142:52056" (error "read tcp 192.168.0.16:2380->10.183.35.142:52056: i/o timeout", ServerName "")

@hongjyan thanks for the details it looks like you are missing `192.168.0.16` in your SAN. Can you try adding it to the hosts array in your kubernetes-csr.json rebuild cert and see if that clears up these messages?

[2018-11-20 14:16] #10276 closed

[2018-11-20 14:16] hexfusion commented on #10276
@XiaoJiangWang thank you, please let me know if you have any other questions.

[2018-11-20 14:23] hexfusion commented on #10272
@JJ ok so this should work to build etcd and create 3 node cluster.
[code]
Let me know if you run into any trouble.

[2018-11-20 14:23] #10272 closed

[2018-11-20 14:34] hexfusion commented on #10273
@shuangyangqian I appreciate the details a few points to note.

## metrics:

the majority of the records are .032ms  and a fair number greater than .064ms. These seem higher then what we want to see which is below 0.016ms. My guess is this is HDD vs SDD?

[code]

This is where fio really shines IMO. let's compare these numbers to my local SSD.

[code]
This is why you are getting the latency result

[2018-11-20 14:54] #10252 closed

[2018-11-20 14:54] hexfusion commented on #10252
@vgoldani this seems like a networking issue vs etcd issue. Try reviewing https://github.com/etcd-io/etcd/issues/10274 which shows a user with a working cluster on openstack. If you get a specific issue with etcd please feel free to add more details here or open a new issue

[2018-11-20 14:55] hexfusion commented on #10247
@zdywjj ping any more details here?

[2018-11-20 15:57] #10277 closed

[2018-11-20 16:38] JJ commented on #10272
OK, thanks.

[2018-11-21 01:15] qd19zzx opened #10280 "During watch ，what may cause Compact_Revision been set except watch a key have been compacted?"
Hi, I was using jetcd to watch a key, and sometimes we receive compacted exceptions which said "required revision has been compacted". I read the source code of jetcd and found that when the Compact_Revison in WatchResponse from the etcd is not 0, it will occur "required revision has been compacted".
I read the document below:
https://github.com/etcd-io/etcd/blob/34fcabab55585b39835820278da4de65b3

[2018-11-21 01:33] #10273 closed

[2018-11-21 01:33] hexfusion commented on #10273
@shuangyangqian sure please review links in https://github.com/etcd-io/etcd/issues/10276 and let us know if you have any further questions.

[2018-11-21 02:54] hexfusion commented on #10280
@qd19zzx the best way for us to understand what is happening is to review the etcd server logs around the time of the canceled watcher. Can you provide this? Also, could we take a look at the  watch metrics? You can print metrics with a GET to /metrics endpoint. More detail on the following would be good.
[code]

I believe that this means that the server can not drain events from channel fast enou

[2018-11-21 15:35] hexfusion commented on #10274
Have you tried this manually to see if this is some kind of networking/firewall issue?

curl -vvv --cert /etc/kubernetes/ssl/etcd.pem --key /etc/kubernetes/ssl/etcd-key.pem --cacert /etc/kubernetes/ssl/ca.pem https://10.181.131.226:2379/health

[2018-11-21 18:05] hexfusion commented on #10280
@qd19zzx also unless you are using jetcd master this is probably relevant https://github.com/etcd-io/jetcd/pull/419 as the async feature has not been released.

[2018-11-22 00:40] #10247 closed

[2018-11-22 00:41] hexfusion commented on #10247
@zdywjj if you can provide details feel free to add and we can reopen. Without details, we can not help.

[2018-11-22 00:43] #10173 closed

[2018-11-22 01:15] qd19zzx commented on #10280
@hexfusion thank for your reply. Yes, as you said , we didn't use the async feature. In our application, we started a thread to keep watching a key.
And this exception is reported by our customer, they haven't provided the log from etcd when this exception occurred till now. Anyway, you gave us some indicates to investigate this issue. I think it's very helpful.
And the last question, at first, th

[2018-11-22 02:11] hongjyan commented on #10274
@hexfusion
timeout from that host to 10.181.131.226 is occasional. today, i issued etcdctl cluster-health command 5 times, all are ok.
[code]

[2018-11-24 04:17] Ambujk9 commented on #7487
on MacBook try -
brew install etcd

[2018-11-25 02:22] justinsb opened #10282 "Threat model for peer DNS validation?"
There's been a lot of changes to the peer TLS certificate validation, and it isn't clear what the motivation is, or what threat is being addressed.  It sounds like etcd expects secure DNS?  Some documentation on the original shortcoming and the intention of the changes would be very helpful.

I suspect it would be useful to split the client & server certificates for peers, but it's not clear wheth

[2018-11-25 19:38] steaksauce- commented on #8793
@gemfield I cannot tell you how much this helped me running an `etcdctl snapshot`. I was getting the same error and added my endpoint and ca, cert, and key and it worked great.

[2018-11-25 21:14] jpbetz commented on #10132
@jxuan I agree. And if we store only a hash we'd need to salt it, and we'd need to setup a way to manage the salt securely.  There's considerable effort require adding this level of additional security. Worthwhile for sure, but effort that we'd need a contributor to sign up for. In the meantime I'll stick with my recommendation that for production use that the entire data directory be locked down.

[2018-11-26 12:51] vimalk78 commented on #10271
very basic suggestion would be to use dedicated disk for storing log, but not sure if cloud environment will provide a dedicated disk.
suggest to change question title to "How to make ETCD stable in non-SSD cloud environment ?"

[2018-11-26 19:46] gyuho commented on #10282
Yes, there have been lots of changes (mostly tightening the TLS auth) in v3.2.

I've documented here https://github.com/etcd-io/etcd/blob/master/Documentation/op-guide/security.md#notes-for-tls-authentication but they may need more clarification.

Good idea.

[2018-11-26 20:48] rjtsdl commented on #10265
Just double checked. All the go code are under GOPATH. :) cc: @hexfusion

[2018-11-27 04:21] jiajunhuang opened #10284 "How to check storage size used?"
etcd has a default storage size limit: 2GB. But how to check how much storage had already been used?

[2018-11-27 06:00] gyuho commented on #10284
Have you checked `/metrics` output?

[2018-11-27 06:10] jiajunhuang commented on #10284
thanks, I've found `etcd_mvcc_db_total_size_in_bytes` and `etcd_mvcc_db_total_size_in_use_in_bytes`

[2018-11-27 06:10] #10284 closed

[2018-11-27 14:08] mrueg opened #10285 "Re-Run new benchmarks for etcd and update docs"
Since this was run with 3.2.x (+go 1.8.x), and etcd is at 3.3.10 now, it would be awesome if anyone could re-run
https://github.com/etcd-io/etcd/blob/master/Documentation/op-guide/performance.md
and provide more documentation about the environment (e.g. using TLS, using ClientCerts, Token-based Auth, settings on etcd itself). I wanted to use it as a baseline but it's hard to estimate without knowi

[2018-11-27 14:12] hexfusion commented on #10285
https://github.com/etcd-io/etcd/blob/master/Documentation/op-guide/performance.md

@mrueg yes we are planning this update for 3.4 and we will hopefully be able to extend the details and scope.

https://github.com/etcd-io/etcd/pull/10283#issuecomment-441846508

[2018-11-28 08:42] gyuho opened #10286 "Design: publish non-voting member draft designs"
ref. https://github.com/etcd-io/etcd/issues/9161

Me and @jpbetz have written learner feature design doc for v3.4.

Let's publish this to https://etcd.readthedocs.io/en/latest before KubeCon for reference.

[2018-11-28 11:39] hegnee opened #10287 "Unable to specify ipv6 --initial-cluster ,got error --- `connect: invalid argument`"
I run command:

`etcd --name=etcd1 --cert-file=/etc/etcd/ssl/etcd.pem --key-file=/etc/etcd/ssl/etcd-key.pem --peer-cert-file=/etc/etcd/ssl/etcd.pem --peer-key-file=/etc/etcd/ssl/etcd-key.pem --trusted-ca-file=/etc/kubernetes/ssl/ca.pem --peer-trusted-ca-file=/etc/kubernetes/ssl/ca.pem --initial-advertise-peer-urls=https://[fe80::301f:6df2:9df6:81b2]:2380 --listen-peer-urls=https://[::]:2380 --list

[2018-11-28 22:37] xiang90 commented on #10271
What problem do you hit when running etcd with slow disk? Can you provide a concrete example?

[2018-11-28 22:44] xiang90 commented on #9391
I am closing this since it is not really an etcd related problem. Probably you should ask in either etcd node client repo or grpc node repo.

[2018-11-28 22:44] #9391 closed

[2018-11-28 23:34] vhosakot commented on #8320
I checked all the TLS `1.2` ciphers with etcd `3.3` and see that etcd `3.3` by default (without the `--cipher-suites` argument) supports the following TLS cipher suites sorted by strength (encryption algorithm key length):

[code]

All the TLS `1.2` ciphers were found using the `openssl` command:

[code]

[2018-11-28 23:42] gyuho commented on #8320
@vhosakot Right, we default to whatever Go runtime provides (depending on the machine that you run etcd with). You can specify the cipher suites to exclude weaker ones.

[2018-11-28 23:54] vhosakot commented on #8320
Thanks @gyuho. Are the ciphers in https://github.com/etcd-io/etcd/blob/dedae6eb7c253635e70403a1fb04842700277b23/pkg/tlsutil/cipher_suites.go#L21-L44 the default ciphers Go runtime provides to etcd?

[2018-11-29 00:00] gyuho commented on #8320
@vhosakot I meant to say, default would be empty cipher suite, which then is populated by Go runtime :) Those are only used to check if specified cipher is valid, but we do not provider cipher suite ordering by default (let Go handle it).

[2018-11-29 03:11] #10266 closed

[2018-11-29 06:17] #10280 closed

[2018-11-29 07:07] rugwirobaker opened #10288 "Question: possible bug in etcd clientv3 or misconfiguration??"
I have been trying building a project in which I am importing (I am vendoring using dep):
`- name = "go.etcd.io/etcd"`
`-        version = "3.3.10" `

This is the output for all the three platform builds using gox.

3 errors occurred:
--> linux/amd64 error: exit status 2
Stderr: # github.com/nanopack/shaman/vendor/google.golang.org/genproto/googleapis/rpc/status
vendor/google.golang.org/genproto/g

[2018-11-29 08:21] hegnee commented on #10287
fe80:/10  are  Link-local addresses. I changed ipv6 addresses and cluster is working fine.

[2018-11-29 08:21] #10287 closed

[2018-11-29 15:44] arslanbekov opened #10289 "gRPC code Unavailable instead Canceled"
After this PR https://github.com/etcd-io/etcd/pull/9178 we get:

It's in **etcd** running with parameter `--log-package-levels=debug`:

    ...
    etcdserver/api/v3rpc: failed to receive watch request from gRPC stream ("rpc error: code = Unavailable desc = stream error: stream ID 61; CANCEL")
    etcdserver/api/v3rpc: failed to receive watch request from gRPC stream ("rpc error: code = Unavailabl

[2018-11-29 16:24] xiang90 commented on #10289
@Arslanbekov From #9178, it seems that gRPC returned code is unavailable, but the description is canceled. Can you open an issue in grcp-go to ask?

[2018-11-29 16:30] Arslanbekov commented on #10289
@xiang90

are you talking about it?
https://github.com/etcd-io/etcd/blob/master/etcdserver/api/v3rpc/util.go#L113

I will create issue in `grpc-go`, thanks

[2018-11-29 16:47] xiang90 commented on #10289
yes. thank you.

[2018-11-29 20:11] hexfusion commented on #10288
@rugwirobaker please see https://github.com/etcd-io/etcd/issues/10249#issuecomment-439012194. If you can compile client locally and it runs then the issue is probably one for https://github.com/mitchellh/gox ?

[2018-11-29 21:44] vhosakot commented on #8320
@gyuho I have etcd up with `--cipher-suites TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384` and the required keys and certs.

Now, how can I test with a client (like `etcdctl` or `openssl`) to verify that these ciphers are supported by etcd? Should the client send one of these ciphers when it connects to etcd?

[2018-11-30 08:42] leadDirec opened #10290 "leaseId keepalive problem"
Please read https://github.com/etcd-io/etcd/blob/master/Documentation/reporting_bugs.md.

[2018-11-30 08:45] leadDirec commented on #10290
In a production environment, it is found that using a different key to perform a keepAlive on the same leaseId will cause a key to be lost without cause. What is the reason?

[2018-11-30 08:46] leadDirec opened #10291 "leaseId keepalive but key lost without case"
In a production environment, it is found that using a different key to perform a keepAlive on the same leaseId will cause a key to be lost without cause. What is the reason?

[2018-11-30 09:02] tremble commented on #8320
I've found https://testssl.sh/ ( https://github.com/drwetter/testssl.sh ) helpful for testing ciphers, it doesn't explicitly check that etcd is working behind the ciphers, but it does test the initial SSL/TLS handshakes.

[2018-11-30 09:33] #10290 closed

[2018-11-30 09:33] #10291 closed

[2018-11-30 12:10] hexfusion commented on #10288
Further research points to a possible issue with your dependency management. Can you please make sure that all of your dependencies are properly filled? For instance `dep ensure -update`

ref: https://github.com/golang/dep/blob/master/docs/daily-dep.md

[2018-11-30 12:36] rugwirobaker commented on #10288
It's probably a dependency management management problem cause even when I tried to build with `go build` I got the same result. Let try and ensure the deps are well set. But that would be strange since dep is my second attempt after I tried govendor.

[2018-11-30 12:42] rugwirobaker commented on #10288
My build just finished  successfully.  All I did was `dep ensure update`. Thank you very much for your feedback, I believe that a wrap.

[2018-11-30 12:42] #10288 closed

[2018-11-30 12:57] rugwirobaker commented on #10288
I hope I does work with govendor 2.

[2018-11-30 16:00] primeroz opened #10292 "Is 150ms the right threshold value for EtcdMemberCommunicationSlow ?"
https://github.com/etcd-io/etcd/blob/dedae6eb7c253635e70403a1fb04842700277b23/Documentation/op-guide/etcd3_alert.rules#L116

I have been struggling with this alert and i came to the conclusion that the problem lies in the threshold chosen, at least in my environment. I would like to understand if my conclusions are correct or be told to dig deeper in my issue.

My Setup is
3 Nodes etcd 3.2.25 runn

[2018-12-01 16:31] hexfusion commented on #10292
@primeroz these metric definitions are a guideline and a place to start with defaults and can't cover every environment as you noted.

Previous to this PR we only took data points for this metric from snapshots. So your information appears correct but we are going to improve that moving forward.

ref: https://github.com/etcd-io/etcd/pull/10155

The last point I would make is although things appear

[2018-12-01 18:57] hexfusion commented on #10274
Nov 22 04:12:58 30-k8s-1.novalocal etcd[28120]: server is likely overloaded
Nov 22 04:13:28 30-k8s-1.novalocal etcd[28120]: apply entries took too long [812.851339ms for 1 entries]
Nov 22 04:13:28 30-k8s-1.novalocal etcd[28120]: avoid queries with large range/delete range!

@hongjyan you need to get to the bottom of what is causing that latency. This will end up causing leader election issues beca

[2018-12-02 15:59] zonghaishang opened #10293 "Consultation on how to find matching keys"
Please read https://github.com/etcd-io/etcd/blob/master/Documentation/reporting_bugs.md.

How to match the keys of multiple suffixes? For example, including `abc/providers`, `edf/providers`, I want to find a specific suffix (eg: all keys with end of `/provider`).

Or how do I find a key that matches the beginning and end?

[2018-12-03 03:09] qd19zzx opened #10294 "Can not use RBAC via grpc proxy"
Hi,
I have deployed a 3 node etcd server and a grpc proxy, then I create a root user and auth enable. But I can not use root user to access etcd server via grpc proxy.
Reproducible:
1. ETCDCTL_API=3 etcdctl --endpoints http://serverIP:2379 user create root:123
Success
2. ETCDCTL_API=3 etcdctl --endpoints http://serverIP:2379 auth enable
Success
3. ETCDCTL_API=3 etcdctl --endpoints http://serverIP:

[2018-12-03 13:37] hexfusion commented on #10294
[code]

[2018-12-03 13:59] hexfusion commented on #10294
@qd19zzx I can reproduce in 3.2.{22,24} but it seems to work fine in 3.3.10. If you can use 3.3.x then please do so in the meantime I will review this further.

[2018-12-03 16:39] thrawn01 commented on #10125
Hi @hexfusion I've recently been digging into the `concurrency.Election` library myself.

Leader elections use `concurrency.Session` to create and hold a lease with the etcd server. The `Session` runs a goroutine that keeps the lease alive as long as connectivity is not interrupted longer than the lease TTL. (Which is configurable).  When the call to `election.Campaign()` succeeds in wining the el

[2018-12-03 18:39] hexfusion commented on #8320
@vhosakot I believe your openssl needs to support the cipher locally. `openssl ciphers` will generate a list. Are the ciphers that fail on that list?

[2018-12-03 18:53] vhosakot commented on #8320
@hexfusion Yes, the cipher `TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256` that fails is supported locally by `openssl` and is set in `--cipher-suites` for etcd, but still fails. Isn't this an etcd issue?

[code]

[2018-12-03 19:39] vhosakot commented on #8320
Thanks @hexfusion. So, should the following certs and keys I'm using for etcd server support `ecdsa` instead of `rsa` (they are using `rsa` currently). If so, I'll test with `ecdsa` certs and keys for etcd server.

[code]

[2018-12-03 19:45] hexfusion commented on #8320
If you want to use ecdsa vs rsa ciphers that makes sense to me.

ECDHE-**ECDSA**-AES128-GCM-SHA256

vs

ECDHE_**RSA**_WITH_AES_128_GCM_SHA256

[2018-12-03 19:47] vhosakot commented on #8320
Thanks @hexfusion! I'll test with `ecdsa` certs and keys for etcd server.

[2018-12-04 00:19] qd19zzx commented on #10294
OK，I can use 3.3.x，thanks

[2018-12-05 00:04] jingyih opened #10298 "snapshot save command does not timeout"
Currently `etcdctl snapshot save` does not timeout.  It could hang indefinitely.  Besides, if user specifies command timeout in flag `--command-timeout`, the command will not use this timeout.

https://github.com/etcd-io/etcd/blob/7f450bf6967638673dd88fd4e730b01d1303d5ff/etcdctl/ctlv3/command/snapshot_command.go#L106-L108

One possible solution is to route `--command-timeout` to snapshot save comm

[2018-12-05 00:07] gyuho commented on #10298
Sure, we can set the context timeout?

https://github.com/etcd-io/etcd/blob/7f450bf6967638673dd88fd4e730b01d1303d5ff/clientv3/maintenance.go#L60-L63

[2018-12-05 00:09] xiang90 commented on #10298
@jingyih Probably set a different default timeout (keep current infinity or something like 10minutes ) for snapshot command. When users specify the command timeout explicitly, overwrite it.

[2018-12-05 00:11] jpbetz commented on #10298
Ah, maybe just document that the timeout is different for the snapshot operation and implement it in code to be special cased?  I'm in favor of having the default be "no timeout", mostly for backward compatibility.  We should probably apply the same treatment to the recover operation as well.

[2018-12-05 00:45] jingyih commented on #10298
Thanks for all the inputs:)  I think we agreed on what the behavior should be.  I'll send a fix.

[2018-12-05 01:01] vhosakot commented on #8320
@gyuho I see the following ciphers do not work and etcd fails to start with the following errors when I configure these ciphers for `--cipher-suites`. Aren't the following cipher suites supported by etcd?

[code]

[2018-12-05 01:07] CindyXing opened #10299 "benchmark failed with "etcdserver: mvcc: database space exceeded" with --quota-backend-bytes set to 10G"
etcdctl version: 3.3.1
API version: 3.3

benchmark failed with:
etcdserver: mvcc: database space exceeded
db size is now 2GB.
--quota-backend-bytes was set to 10G
Benchmark tool was built by cloning the latest code.

Do I miss anything?

Thanks

[2018-12-05 06:19] johncming opened #10303 "the problem of --log-outputs in new version(3.4)"
first, set env
[code]

then, got error

[code]
Check the code

https://github.com/etcd-io/etcd/blob/3f014267129898b743ab1d8ab952c44364f69534/embed/config_logging.go#L154-L155

There's a question why not just specify a logger, like this:

[code]

If necessary, I can help modify it.

In addition, the configuration in document needs to be updated.

[2018-12-05 18:18] gyuho commented on #10303
I wanted to make sure when used with `zap`, users explicitly specify where to output the logs.

Have you tried

[code]

?

[2018-12-05 21:08] hexfusion opened #10304 "*: define strict TLS 1.2 cipher suite default"
etcd 3.4 should set a strict and secure default cipher list. Since the current etcd default list is what is defined by Go and the fact that etcd binaries can exist in the wild for a long time. To minimize future exposure to insecure ciphers we should set this default to a strict set based on the best knowledge we have at the time. As this list is subject to change we should review and update this

[2018-12-06 00:22] johncming commented on #10303
The problem is mainly an error prompt, not refer to the specific output location which is an example to the situation.

Problem reproduction environment

[code]

output:

[code]

[2018-12-06 00:48] gyuho commented on #10303
Sure, we can set `--log-outputs=default` to `--log-outputs=stderr` when `--logger=zap`. If you can help us change it, it would be great. Thanks!

[2018-12-06 00:51] johncming commented on #10303
@gyuho ok, I will do it.

[2018-12-06 00:53] gyuho commented on #10303
@johncming Thank you.

[2018-12-06 21:15] hexfusion commented on #8320
@vhosakot yeah sorry that not incorrect I took a deeper look. It seems that currently the only supported list of definable ciphers is listed in your previous comment.

https://github.com/etcd-io/etcd/blob/dedae6eb7c253635e70403a1fb04842700277b23/pkg/tlsutil/cipher_suites.go#L21-L44

https://github.com/etcd-io/etcd/blob/829c9b2129dd02fbf8caf7f1d322fbe7011321c4/embed/config.go#L529-L535

[2018-12-06 21:47] vhosakot commented on #8320
Thanks @hexfusion for confirming that those keys aren't supported by etcd. I'll let you know once I test with `ecdsa` certs and keys for etcd.

[2018-12-07 12:32] fghibellini commented on #4496
@gyuho

Is there some place in the docs where I can find more about the internal sync - what is its purpose and why it replaces the endpoint url?

[2018-12-07 15:18] hexfusion commented on #10260
Hey folks KubeCon is next week and we have a Meetup scheduled for Tuesday 12/11 at 6:30pm. The location is short walk (4min) from the conference and a chance to meet community members in person. We have a great menu of goodies which will be served so no excuses!

https://www.meetup.com/etcd-io/events/256851680/

[2018-12-07 15:30] hexfusion commented on #10292
@primeroz did this answer your question if not do you have anything to add?

[2018-12-07 15:31] hexfusion commented on #10289
@Arslanbekov just touching base on this did you see @menghanl (grpc-go maintainer)  comment above?

[2018-12-07 15:32] ajarv opened #10310 "OpenShift 3.11 CentOS7 becomes unresponsive etcd problem"
Please read https://github.com/etcd-io/etcd/blob/master/Documentation/reporting_bugs.md.

Openshift installs successfully on CentOS7 but then fails to respond after sometime.

Checking the Etcd Logs   by running
[code]
reveals  etcd shutting down over and over with following message
<strong>
pkg/osutil: received terminated signal, shutting down...
</strong>

[2018-12-07 15:39] Arslanbekov commented on #10289
Yes, @hexfusion thanks for notifying, there is no free time to do it now. Maybe someone will help?

[2018-12-07 15:45] hexfusion commented on #10310
/usr/local/bin/master-logs etcd etcd

@ajarv thanks for the report to understand what happened we need to see the log files can you attach to issue as a file? Also if possible it would be good to see the metrics for the failed node. To obtain the metrics you just need to perform a GET against the /metrics endpoint. Something like

curl -s --key /etc/etcd/peer.key --cert /etc/etcd/peer.crt --cacert

[2018-12-07 15:46] ajarv commented on #10310
### Resolved
Steps
1 . edit   vi /etc/etcd/etcd.conf

Change
#ETCD_HEARTBEAT_INTERVAL=500
#ETCD_ELECTION_TIMEOUT=2500

To
ETCD_HEARTBEAT_INTERVAL=1000
ETCD_ELECTION_TIMEOUT=5000

Next time when etcd docker instance stops  and restarts it should pickup this configuration.

[2018-12-07 15:49] ajarv commented on #10310
Problem is that etcd itself is shutting down.

[2018-12-07 15:50] ajarv commented on #10310
Logs

[code]

[2018-12-07 16:07] primeroz commented on #10292
Yeah this covers what I needed.

Thanks

On Fri, 7 Dec 2018, 15:30 Sam Batschelet, <notifications@github.com> wrote:

[2018-12-07 16:36] hexfusion commented on #10310
2018-12-07 15:44:12.152019 I | embed: serving client requests on 192.168.0.170:2379
2018-12-07 15:45:13.287671 N | pkg/osutil: received terminated signal, shutting down...
WARNING: 2018/12/07 15:45:13 grpc: addrConn.resetTransport failed to create client transport: connection error: desc = "transport: Error while dialing dial tcp 192.168.0.170:2379: getsockopt: connection refused"; Reconnecting to

[2018-12-07 16:53] #10292 closed

[2018-12-07 17:08] hexfusion commented on #10289
@Arslanbekov I will try to take a look soon.

[2018-12-07 18:15] ajarv commented on #10310
Sam ,  Thanks a lot for providing useful commands.

Very likely an issue with the liveliness probe

The etcd does respond with cluster healthy status for a while  then crashes and then it becomes live again

[code]

Let me tweak the livliness probe.

[2018-12-07 18:20] CindyXing commented on #10299
@hexfusion Thanks for checking here. From the log, I saw there was some issue writing the wal log. I've cleaned the db data and will try to repro. Please feel free to close this issue for now.

[2018-12-07 18:22] hexfusion commented on #10299
@CindyXing sounds good if you have any further issues please respond here and we can reopen/investigate.

[2018-12-07 18:22] #10299 closed

[2018-12-08 01:59] wenjiaswe commented on #9973
@gyuho do you think if we are ready to re-assume the community meeting?

[2018-12-08 02:06] hexfusion commented on #9973
+1

On Fri, Dec 7, 2018 at 8:59 PM Wenjia <notifications@github.com> wrote:

--

SAM BATSCHELET

SOFTWARE ENGINEER

Red Hat

<https://www.redhat.com/>

sbatsche@redhat.com
<https://red.ht/sig>
TRIED. TESTED. TRUSTED. <https://redhat.com/trusted>

[2018-12-08 02:19] gyuho commented on #9973
@wenjiaswe @hexfusion Let's discuss during KubeCon :)

[2018-12-08 23:30] stewartshea commented on #10310
I've run into a similar issue and added `timeoutSeconds: 10` and it seems more stable, so likely related to the performance of the instance as well. I'm not sure if this is a great setting for etcd, but so far it's been stable.

[2018-12-10 08:05] wangjingpei opened #10312 "we have set --quota-backend-bytes=10g, but etcd stil alarm mvcc: database space exceeded"
we have set --quota-backend-bytes=10g, but etcd stil alarm mvcc: database space exceeded, while the db is stil 2.1GB
ETCDCTL_API=3 ./etcdctl --endpoints=[10.207.214.48:2379] --write-out=table endpoint status
+--------------------+------------------+---------+---------+-----------+-----------+------------+
|      ENDPOINT      |        ID        | VERSION | DB SIZE | IS LEADER | RAFT TERM | RAFT IN

[2018-12-10 08:18] wangjingpei commented on #10312
we use the latest version

[2018-12-10 08:34] vahid-ashrafian commented on #10310
I'm having same problem. I could make the cluster semi-stable with some tweaking on liveness prob configurations, but it's restarting every few hours ended with some kill signals:
`pkg/osutil: received terminated signal, shutting down...`

Also in describe of etcd pod, the last state is like this:
`Last State:     Terminated
      Reason:       Completed
      Exit Code:    0
      Started:      M

[2018-12-10 09:52] wangjingpei commented on #10312
i want to know the reasion, it seemed that the param --quota-backend-bytes is invalid

[2018-12-10 13:15] slimane1992 commented on #9114
i have the same probleme can somone help please :

postgres@cmvd0204:/data/pgsql/etcd $ etcd --config-file /data/pgsql/etcd/etcd.conf &
[1] 51354
postgres@cmvd0204:/data/pgsql/etcd $ 2018-12-10 14:14:44.755501 I | etcdmain: Loading server configuration from "/data/pgsql/etcd/etcd.conf"
2018-12-10 14:14:44.756553 I | etcdmain: etcd Version: 3.3.2
2018-12-10 14:14:44.756564 I | etcdmain: Git SHA: c9

[2018-12-10 13:47] hexfusion commented on #10312
| 10.207.214.48:2379 | 5f4ef98b11eb13b4 | **3.2.6** | 2.1 GB | false | 12 | 60576124 |

your etcdctl output says your server is etcd 3.2.6 not latest

Duplicate of https://github.com/etcd-io/etcd/issues/10299

Please provide the etcd startup flags/config and logs so that we can reproduce.

[2018-12-10 15:04] hexfusion commented on #10310
pkg/osutil: received terminated signal, shutting down..

If liveness probe does not cause termination then what does and why? These are really OpenShift/k8s questions. My guess is the fundamental issue is deploying OpenShift on storage which can not handle the I/O requirements of etcd. As the etcd/probe configurations appear static they would involve fine tuning based on your ENV to work properly.

[2018-12-10 15:35] hexfusion commented on #10310
Thanks @vahid-ashrafian, OK this is same as what @stewartshea reported so we have a common thread to the issue. I think we can close this as being a docker issue vs etcd. Since we have referenced the issue here folks should be able to find the solution. We can revisit/reopen if necessary.

[2018-12-10 15:35] #10310 closed

[2018-12-10 15:45] alexartwww commented on #2379
how to restore from this file?

[2018-12-10 18:59] hexfusion commented on #9114
@slimane1992 the error is literal it can not connect possibly because of networking issues, firewall settings etc. What do the logs look like on the other nodes?

[2018-12-10 19:25] #9959 closed

[2018-12-10 20:02] hexfusion commented on #9927
@xjas `--advertise-client-url` allows you advertise an IP address or domain name and port while `--listen-addr` is the ip address and port the proxy will listen on. If you wanted to `--listen-addr 100.50.129.77:23795` you need to advertise the same ip:port. Because you set `--advertise-client-url 100.50.129.77:23780` the application will try to instead connect to the advertised port 23780 but the

[2018-12-10 20:54] #9927 closed

[2018-12-11 02:03] wangjingpei commented on #10312
the etcd startup flags/config  is following:
./dcs-etcd --max-snapshots=0 --max-wals=0 --quota-backend-bytes=6442450944 --auto-compaction-retention=1 --config-file ./conf.yml
and following is conf.yml
name: dcs-etcd-1
data-dir: /home/work/p2p-server/etcd/data
listen-client-urls: http://10.207.214.48:2379,http://127.0.0.1:2379
advertise-client-urls: http://10.207.214.48:2379,http://127.0.0.1:2379
l

[2018-12-11 02:20] ajarv commented on #10310
Thanks   the issue was indeed with the docker version.    I downgraded to the  docker version `docker-1.13.1-75.git8633870.el7.centos` and all is working well.

Steps.

I am using the package  https://github.com/gshipley/installcentos.git   to install Open Shift on Cent OS

0.  Uninstall openshift
[code]
1.  Uninstall docker   by
[code]
2.  modified the  install-openshift.sh  file  to change  dock

[2018-12-11 11:18] wangjingpei commented on #10312
we have got the answer, thank very much!!!
it seem that we must put the following param in conf.yml， if not , the param is invalid, but there is no notify and this seems very inconvenient
`--max-snapshots=0 --max-wals=0 --quota-backend-bytes=6442450944 --auto-compaction-retention=1 `

[2018-12-11 12:12] GiveAndTake2017 opened #10314 "The same operation gets different results in v3beta/txn"
{"etcdserver":"3.3.3","etcdcluster":"3.3.0"}

I 'm trying to use v3beta/txn to judge if key exists and put a new one if it not exists

My request json as below

{
    "compare": [
        {
            "result": "LESS",
            "value": "dXNlclZhbHVl",
            "key": "VFZST2VscEhSU1V6UkElM0QlM0Q=",
            "target": "VERSION",
            "version":"1"
        }
    ],
    "success": [

[2018-12-11 12:23] quasilyte opened #10315 "etcdserver/api/v2v3: indexing after nil check without len check"
https://github.com/etcd-io/etcd/blob/15b6a17be48dea91a11497980b9adab541add7f0/etcdserver/api/v2v3/watcher.go#L114

`curRev` checked for not being nil and then 1st element is accessed (index=0). But that nil check doesn't cover non-nil slice with a length of 0 (empty slice). Maybe `len(curRev) != 0` is more suitable there?

[code]

Or is panic in a case of the empty slice is desirable there?

[2018-12-11 12:30] GiveAndTake2017 commented on #10314
It's looks like because of a  extra filed “value” in "compare"

[2018-12-12 11:17] taweisuode commented on #10051
![image](https://user-images.githubusercontent.com/10720049/49866337-6e805180-fe42-11e8-8624-5ed4d2c3b132.png)
[code]
when i input this code,also get the same error,Please help me..

[2018-12-12 12:44] #10314 closed

[2018-12-12 12:54] Mynom opened #10316 ""read-only range request took too long" on a very small DB"
Hi,
we are running a very small one node etcd for our kubernetes DNS.

Amount of Keys: 21
DB Size: Size 36Kib
Version: 3.3.10

The etcd is running inside a pod.
The Pod consists of 4 Containers:
* etcd
* coredns
* external-dns
* exportmerger

Each container has plenty of RAM and CPU.
The etcd logs slow responses. To make sure its not the disk, we moved the data dir to a ramdisk.

`etcd_disk_wal_fs

[2018-12-13 01:21] 0ctopus13prime opened #10317 "[Questions] How to ensure data propagated?"
If it's not appropriate to ask a question here, please let me know!

Hello experts.
I'm working on data replication module by extending Etcd raft.
My intention was get data through http api from client first,
after transforming replicate data by passing it to `Propose` method.

And I know data that has been passed to `Propose` can be lost without notice.
So it's up to user to guarantee data was pr

[2018-12-13 06:58] jsok commented on #9949
Experiencing the same issue - however with SRV discovery which will use FQDNs for the endpoint list not IP addresses.

Similarly only the first endpoint will ever successfully be balanced.

My client is Hashicorp vault also, so related to https://github.com/hashicorp/vault/issues/4961.
Using `env  ETCD_CLIENT_DEBUG=on  GRPC_GO_LOG_VERBOSITY_LEVEL=INFO` has helped debug.

I only ever get a single s

[2018-12-13 12:11] vielmetti opened #10318 "Supporting arm64; a checklist"
From the docs:

This issue tracks those elements required for "stable" support for arm64, and identifies the checklist of support requirements; it's similar to https://github.com/etcd-io/etcd/issues/9409 (IBM s390x) or the work done to get ppc64le supported.

* [ ] An "official" maintainer for the platform with clear motivation; someone must be responsible for taking care of the platform.
* [x] Se

[2018-12-13 14:39] mcginne commented on #9956
Does anyone have any thoughts on a potential fix for this? I can recreate it quite easily on our test system. We haven't hit it in prod yet, but it's quite serious if this does occur.
The fact the panic is coming from under `go-grpc-prometheus/server_metrics.go:179` makes it look like the issue is coming from the code collecting grpc metrics - quite frustrating to lose the etcd cluster because of

[2018-12-13 15:10] hexfusion commented on #10312
The assumption is that when using a config file all configurations would be localized to that config. While I see your point we do document this. Regardless I am glad you have resolved the problem!

ref: [op-guide: configuration-flags](https://github.com/etcd-io/etcd/blob/master/Documentation/op-guide/configuration.md#configuration-flags)

[2018-12-13 15:10] #10312 closed

[2018-12-13 15:21] hexfusion commented on #9956
Reviewing this thread it is unclear to me the reproducible steps can you outline them? Once we can reproduce this issue we can help resolve.

[2018-12-13 15:33] Mynom commented on #10316
Hi @hexfusion, thanks for the answer.

The etcd only listens on 127.0.0.1:2379, and the communication is only inside the pod.

Enclosed you can find the pod manifest file and the coredns config. Maybe it helps to clarify stuff.

[lan-dns-pod.yaml.txt](https://github.com/etcd-io/etcd/files/2676628/lan-dns-pod.yaml.txt)
[coredns-config.txt](https://github.com/etcd-io/etcd/files/2676645/coredns-confi

[2018-12-13 15:51] mcginne commented on #9956
I'm not sure how easy it will be to reproduce, as in our case we hit it something like 32 out of 1300 cases..
My scenario that hits this regularly requires a 3 member etcd cluster - in our case it is backing store for Kubernetes, so it is processing constant traffic.
If I then do a hard shutdown of one of the hosts (VSI) I sometimes hit the issue on one of the other etcd members in the cluster.
In

[2018-12-13 16:18] hexfusion commented on #9956
@mcginne could you try to recreate this in your testing ENV in a small scale such as single cluster on a single node? Use something to randomly perform the hard shutdown and see if you capture the panic logging. If you can get that far it would be greatly appreciated and will go a long way to getting to the bottom of this. Meanwhile I will take a look at the panic and see if @gyuho has any ideas.

[2018-12-13 17:35] ppettina opened #10319 "Can't connect Vault to etcd cluster via grpc-proxy"
Hopefully this one is not obscure:
I'm trying to run Vault using etcd as a backend, and I want to use grpc-proxy between Vault and the etcd cluster.
TL;DR: Vault relies on the etcd endpoint to provide a `/version` HTTP GET api. grpc-proxy does not offer this and Vault refuses to start.

I am running grpc-proxy (v3.3.8) with this configuration:
[code]
Then trying to connect to it with Vault (settin

[2018-12-13 18:12] hexfusion commented on #10319
grpc-proxy is just that so this is expected response. As far as Vault is concerned it could get a list of endpoints from the proxy (MemberList) and then do a GET against a member in that list directly for /version. I am unfamiliar with the etcd back-end implementation for Vault but if it knows it is using grpc-proxy then it could get what it needs in a different way. This is at least my first thou

[2018-12-13 18:31] jmillikin-stripe opened #10320 "Ambiguous short proto imports make it difficult to build etcd as part of a larger project"
Inconsistent import paths between .protos complicate the build process, especially when imports assume that the current directory is present in the import path. This affects larger projects that use etcd as an embedded library.

Due to the directory layout, [raft_internal.proto](https://github.com/etcd-io/etcd/blob/v3.3.10/etcdserver/etcdserverpb/raft_internal.proto) gets incorporated into the [pu

[2018-12-13 20:06] philips opened #10321 "Meta issue: Pluggable backend"
etcd supports an on-disk backend via bbolt. However, there is growing interest to support other backends. For example, cloud provider's might have a hosted database with appropriate semantics to act as the backend and etcd can run in a "serverless" environment.

As a concrete example: Microsoft announced a CosmosDB backend for etcd to support their [AKS project](https://github.com/Azure/aks-engine

[2018-12-13 23:22] xiang90 commented on #10321
trying out badger here: https://github.com/etcd-io/etcd/pull/10311

[2018-12-13 23:34] jmillikin-stripe opened #10322 "Please move .proto files for the public API to a separate repo"
(moved from https://github.com/etcd-io/etcd/issues/10320)

Storing the public API in the main server repo (vs a separate repo as used by [envoy/data-plane-api](https://github.com/envoyproxy/data-plane-api) and [kubernetes/api](https://github.com/kubernetes/api)) makes it difficult to incorporate into other builds, because we have to fetch and/or vendor the entire etcd source tree instead of the fe

[2018-12-13 23:51] jmillikin-stripe opened #10323 "Please use less ambiguous Protobuf package names"
(moved from https://github.com/etcd-io/etcd/issues/10320)

Protobuf messages are namespaced by package, so that two .protos with the same message names can coexist in the same binary. These package names typically contain at minimum the project name and API version. The etcd protos use very short package names, which are sometimes ambiguous. This significantly increases the chances of name collisi

[2018-12-13 23:56] jmillikin-stripe opened #10324 "Please remove gogoproto annotations from .proto files for the public API"
(moved from https://github.com/etcd-io/etcd/issues/10320)

This applies to the public client API defined in [etcdserver/etcdserverpb/rpc.proto](https://github.com/etcd-io/etcd/blob/v3.3.10/etcdserver/etcdserverpb/rpc.proto), plus its dependencies [auth/authpb/auth.proto](https://github.com/etcd-io/etcd/blob/v3.3.10/auth/authpb/auth.proto) and [mvcc/mvccpb/kv.proto](https://github.com/etcd-io/etcd/

[2018-12-14 00:03] jmillikin-stripe commented on #10320
Done. I've moved the first three bullets to new issues, and edited this one to be the last.

[2018-12-14 03:59] jsok commented on #9949
The code tracing done by @gnuoy is illuminating in that the actual sequence of events is:

 1. 3 subconns are spawned
 1. They race to `ClientHandshake`, the winner will set the `ServerName` on the TLS config, e.g. `etcd1.example.com`
 1. The remaining subconns (which seems to share the parent clientconn and therefore TLS config) will now be forced to verify against the same `ServerName`

So I can

[2018-12-14 04:47] gyuho commented on #10324
I like this idea, and will be super-useful for other language bindings. We have a few more new proto changes coming to v3.4 (learner) that might add extra fields to RPC proto. Since then, it will be in stable state, when we can discuss about moving out of core repository. /cc @xiang90

[2018-12-14 05:42] xiang90 commented on #10324
Moving proto files to another repo is one thing. And not using gogoproto is another. We probably still need to stick with gogoproto unless the standard proto provides comparable performance.

[2018-12-14 05:46] yeyongyong opened #10325 "I used the etcd/embed cue panic: codecgen version mismatch: current: 8, need 10."
panic: codecgen version mismatch: current: 8, need 10. Re-generate file: /Users/yeyongyong/go/pkg/mod/github.com/coreos/etcd@v3.3.10+incompatible/client/keys.generated.go

goroutine 1 [running]:
github.com/coreos/etcd/client.init.0()
	/Users/yeyongyong/go/pkg/mod/github.com/coreos/etcd@v3.3.10+incompatible/client/keys.generated.go:45 +0x104

[2018-12-14 09:13] ppettina commented on #10319
Maybe it's worth bumping the issue inside the vault repo...

[2018-12-14 09:52] Enan01 commented on #9357
i have same problem in path `$GOPATH/src/go.etcd.io/etcd/vendor/golang.org/x/net/trace`
and i removed this folder, then it worked

[2018-12-14 16:37] raoofm commented on #10319
@ppettina just want to understand your motivation for using proxy instead of the cluster endpoints

[2018-12-14 16:47] ppettina commented on #10319
@raoofm thanks for your reply.
It does make sense to manage the setup of vault separately from the etcd cluster. It would be good to be able to change the cluster structure transparently without having to update the vault configuration.

I thought that the idea of using a proxy as a frontend for the etcd cluster was a cleaner approach from an architecture POV. It's possible to do this easily using

[2018-12-14 16:49] raoofm commented on #10319
@hexfusion so the reason for getting the version is there was already a vault etcd backend that used v2 and @xiang90 added etcdv3 backend.

Vault authors wanted xiang to handle the existing users and not to break things so the logic was implemented to get the version of etcd and compare it with the config and also check against the data that exists in v2 backend.

This was done I think as part of

[2018-12-14 16:52] jefferai commented on #10319
Is there some other API the response to which could indicate which version of etcd it is? We can't drop v2 as people are using it, but if there is something that can be used heuristically in place of an explicit version call, that would work.

[2018-12-14 17:23] hexfusion commented on #10319
You could do this with clientv3 call to Status with Maintenance API

https://github.com/etcd-io/etcd/blob/e8b940f268a80c14f7082589f60cbfd3de531d12/clientv3/maintenance.go#L163

[Documentation/dev-guide/api_reference_v3.md#message-statusresponse](https://github.com/etcd-io/etcd/blob/master/Documentation/dev-guide/api_reference_v3.md#message-statusresponse-etcdserveretcdserverpbrpcproto)

[2018-12-14 23:45] jingyih commented on #10316
Which etcd version are you using?

From the log, the etcd_disk_wal_fsync_duration_seconds_bucket looks good.  I am seeing a large number of read requests, and the backend commit metric shows there are commits took too long, which agrees with the log warnings.

I think it could be due to a CPU/disk usage spike (not necessarily by etcd container).

@gyuho any thoughts?

[code]

[2018-12-15 00:34] gyuho commented on #10316
@jingyih @hexfusion

@Mynom what's your read rate? I see lots of read requests to etcd, which could explain those warnings. Too many range requests are sent, so being queued and taking more than 100ms (and hence warnings).

[2018-12-15 01:13] hexfusion commented on #10319
But this will only respond if v3. You can use the same endpoint /version with the method I outlined above.

[2018-12-15 13:27] namreg opened #10326 "grpcproxy memory leak"
There is etcd cluster with grpc proxy. Calling range request for a long time with the same key cause to memory leak.

Version: 3.3.10

[2018-12-16 01:31] knisbet opened #10328 "Golang CVE-2018-16875"
Hi,

I'm just opening this as golang has announced fixes for a DOS vulnerability in parsing certificate chains, that etcd might be vulnerable to when using client certificates (`--client-cert-auth`) configuration.

https://nvd.nist.gov/vuln/detail/CVE-2018-16875
https://groups.google.com/forum/#!msg/golang-announce/Kw31K8G7Fi0/z2olKn-QCAAJ

Please note, 1.10.7/1.11.4 were also released with fixes

[2018-12-17 01:32] #10326 closed

[2018-12-17 01:51] 0ctopus13prime commented on #10317
Thank you for your answer!

But how to relate UUID with a single HardState?

[code]

`Propose` method accepts a byte array, and given byte array goes to raft's message buffer ultimately.

[code]

Should I touch raft source code a little bit for this purpose?

Thank you!

[2018-12-17 03:33] xiang90 commented on #10317
@0ctopus13prime

The uuid is application specific. You embed that inside the raft entry.

[2018-12-17 03:59] maps90 commented on #10325
having the same problem, can anyone help?

[2018-12-17 07:10] gyuho commented on #10260
![etcd-meetup-20181211-1](https://user-images.githubusercontent.com/6799218/50071786-be834f00-0187-11e9-8a52-c53342702cfc.jpeg)
![etcd-meetup-20181211-2](https://user-images.githubusercontent.com/6799218/50071787-bf1be580-0187-11e9-8859-2302332f8186.jpeg)
![etcd-meetup-20181211-3](https://user-images.githubusercontent.com/6799218/50071788-bf1be580-0187-11e9-82b3-d1bbedf62329.jpeg)

It was great to

[2018-12-17 07:10] #10260 closed

[2018-12-17 07:12] gyuho commented on #10192
Talked with @cjwagner in person during KubeCon. We will wait until upstream Kubernetes community migrates its Prow cluster to a shared, public CNCF prow cluster.

[2018-12-17 11:51] JTrotta opened #10329 "Question: add member without change the quorum"
Hello,
it's not clear to me if  #3477 or #6420 have been solved.
My problem is that I do not want to increase quorum adding new members. The quorum should be fixed to the initial one, this way an ETCD client can always connects to any alive member and adjusts the lost node membership.
I'm using CentOS 3.2.22 version

[2018-12-17 13:15] hexfusion commented on #10329
@JTrotta adding members will increase quorum. We are working on leaner nodes where if you add a new learner they are non voting members and would not increase quorum. These learners can later be promoted to full members.

https://github.com/etcd-io/etcd/blob/master/docs/server-learner.rst

We have also added [--strict-reconfig-check](https://github.com/etcd-io/etcd/blob/master/Documentation/op-gui

[2018-12-17 13:33] hexfusion commented on #10329
I mean: if I have 3 nodes clustered and working, I can get data and info connecting a client to whatever node. If one of the 3 nodes goes down, ETCD of other nodes will not answer anymore to clients queries, so fault tolerance, from my point of you, is always zero, or not?

Not sure I follow if you have 3 member cluster and one goes down then the cluster is still quorate. Quorum in a 3 node cluste

[2018-12-17 14:43] hexfusion commented on #10319
I am going to close this as this is not an actual etcd issue but a lack of support for Vault using proxy. I will try and look at adding support in the near feature if possible.

[2018-12-17 14:43] #10319 closed

[2018-12-17 15:22] jefferai commented on #10319
Agree with the closure. This is a proxy issue, not an etcd issue or Vault issue.

[2018-12-17 17:06] SixExtreme opened #10330 "pkg/schedule: If todo is not nil, it should lock fifo.mu."
If we want to modify fifo.finished, we should use `f.mu.Lock`.
[code]

[2018-12-17 20:08] cjwagner commented on #10192
We can get you started on the Kubernetes Prow cluster now if you like. That cluster is basically the CNCF prow cluster for now.

[2018-12-17 20:15] JTrotta commented on #10329
You're right. With 3 members (2 working, 1 fault) it works. With 2 members the (1 working, 1 fault), it doesn't work.
Thank you.

[2018-12-17 20:15] #10329 closed

[2018-12-17 20:59] fejta commented on #10192
Yeah prow.k8s.io is the CNCF prow cluster

[2018-12-17 21:35] gyuho commented on #10192
@cjwagner @fejta Got it. Thanks! We will clean up current testing jobs, and start working on that.

/cc @jingyih @jpbetz @wenjiaswe

[2018-12-18 09:15] mrxliu commented on #9357
the package management so rubbish.!

[2018-12-18 10:00] gyuho opened #10336 "genproto.sh script is broken"
[code]

Even with workaround (disable `git reset && install`), it still fails with newest gRPC gateway plugin:

[code]

Reproducible both in OS X and Linux.

@hexfusion @jingyih Can you take a look?

[2018-12-18 10:02] gyuho commented on #10328
@hexfusion Patches are backported to v3.2 and v3.3.
Can you schedule the signing process with Red Hat folks?

/cc @jpbetz

[2018-12-18 10:06] gyuho commented on #10336
Also `protoc` v3.6.1 has been released https://github.com/protocolbuffers/protobuf/releases/tag/v3.6.1. We should bump up to `protoc` version in that script.

[2018-12-18 10:35] hexfusion commented on #10336
@gyuho `GO111MODULE=off scripts/genproto.sh`. Does that work? I have played with 3.5.1+ and the swagger output is a mess. I will take a deeper look.

[code]

[2018-12-18 11:31] hexfusion commented on #10325
@yeyongyong @maps could you please test #10337

[2018-12-18 15:45] hexfusion commented on #10336
Fairly certain the comment issue is caused upstream by https://github.com/grpc-ecosystem/grpc-gateway/issues/746. Will review/resolve.

[2018-12-18 15:59] jsfrerot opened #10338 "etcdctl v3 doesn't support env variable ETCDCTL_USERNAME"
setting ETCDCTL_USERNAME env variable doesn't work.
[code]
But specifying username with param works
[code]

[2018-12-18 16:25] hexfusion commented on #10338
@jsfrerot

[code]

[2018-12-18 16:37] #10338 closed

[2018-12-19 02:07] maps90 commented on #10325
@hexfusion superb! it works

[2018-12-19 13:21] mrxliu opened #10339 "go module."
[code]

[2018-12-19 13:30] mcginne commented on #9956
Just so you're aware I have setup 3 nodes with a single etcd cluster running across them. I have it running in a loop to power-off/power-on one of the hosts in the hope of recreating the issue at smaller scale. It has currently got through ~50 loops with no issues so far, but will leave it running.

[2018-12-19 13:38] hexfusion commented on #9956
@mcginne awesome! If anyone is going to recreate this is will be you! Thanks a lot for doing this and please keep us posted if you have any questions.

[2018-12-19 19:58] Sahasrara opened #10340 "Closing Watcher always returns "context canceled""
Example:
[code]

Is this the expected behavior?  I thought for a time it was failing to close the watch, but looking at a profiler, that doesn't seem to be the case.  It was just misleading.

[2018-12-21 12:02] MatevzFa commented on #10325
How can I use this change in my project, while using go.mod file?

[2018-12-21 16:44] dahc commented on #10087
@wenjiaswe If you haven't gotten back to this, I'd like to dig into it. I haven't contributed here before, but it seems like a good first issue.

[2018-12-21 17:43] brk0v commented on #10219
Appreciate if someone could confirm this and share ideas how it could be fixed.
I tried rearrange data saving steps to the WAL with some code changes, but it seems like we need to do all saves in one transaction like dgraph does https://github.com/dgraph-io/dgraph/blob/master/raftwal/storage.go#L574

[2018-12-21 20:46] wenjiaswe commented on #10087
@dahc no I haven't and you are more than welcome to take this! Thank you very much! I would be more than happy to review when it's done:)
/assign @dahc

[2018-12-21 21:36] xiang90 commented on #10219
@brk0v

I am aware of this issue. Would you like to spend some time to get it fixed?

[2018-12-21 23:16] #10325 closed

[2018-12-23 07:09] JackAndJoker commented on #9114
** Hi everyone, I have also been struggling to debug a problem about etcd for several weeks.**

**I was trying to make a etcd cluster with 2 nodes(docker1 with IP addr 10.240.10.10, and docker2 with IP addr 10.240.10.11). Their network connection is ok. And I have the configs of /etc/etcd/etcd.conf:**

**docker1:**
#[Member]
#ETCD_CORS=""
ETCD_DATA_DIR="/var/lib/etcd/default.etcd"
#ETCD_WAL_DIR=""

[2018-12-23 09:02] sxfworks opened #10344 "pr.Match should be reset to zero when leader detcts follower unreachable?"
stepLeader:
[code]
becomeProbe:
[code]
When leader detects that the follower is unreachable, but pr.becomeProbe does not set pr.Match to 0, if the system uses MemoryStorage for raft log storage and is unreachable due to peer restart, then after peer restart, the leader will not be able to continue to copy logs to it normally.

[2018-12-23 14:18] hexfusion commented on #9114
ETCD_LISTEN_PEER_URLS="http://127.0.0.1:2380" Your only listening local
right? Netstat would tell you that. What happens if you listen to
0.0.0.0:2380 and same for client?

On Sun, Dec 23, 2018 at 2:10 AM JackAndJoker <notifications@github.com>
wrote:

--

SAM BATSCHELET

SOFTWARE ENGINEER

Red Hat

<https://www.redhat.com/>

sbatsche@redhat.com
<https://red.ht/sig>
TRIED. TESTED. TRUSTED. <https:

[2018-12-24 02:29] xiachengjia opened #10345 "client block when connect with different version server"
[code in github gist](https://gist.github.com/xiachengjia/542ec42b7d2958744292bbc7d25fd7a5)
my client build by go module
when I try to connect server's old etcd service , it will block

[2018-12-24 17:03] brk0v commented on #10219
Sure thing, but if you already have an idea to check or a direction to dig, I could try to do that.

[2018-12-25 00:09] gertcuykens commented on #9901
Same error message
[code]

[2018-12-25 03:50] jingyih commented on #10316
Thanks for reporting and sharing.  This is helpful:)

[2018-12-25 08:19] gatici opened #10349 "kubernetes_etcd_cluster_error"
Steps to reproduce

Environment

Installation method:

Kubernetes version:
Dashboard version: v1.8.3
Commit: ec1d7de4456e6a397c7f931f0a2bfc74a6ca2e9c
Observed result
Dashboard reported Internal Server Error (500):

client: etcd cluster is unavailable or misconfigured; error #0: client: etcd member https://etcd.kubernetes.rancher.internal:2379 has no leader

[2018-12-25 10:07] gertcuykens commented on #9901
Note this happens only once on first put command after starting etcd.

[2018-12-25 23:08] gertcuykens opened #10350 "playground: ranges"
This is verywell done http://play.etcd.io/play may I suggest the posibility to play with `ranges`. I believe `ranges` are one of does things you need to play with to fully understand.

[2018-12-26 00:10] gertcuykens opened #10351 "cli: --endpoints=[127.0.0.1:2379]"
I assume `[ ]` stand for optional. `--endpoints=[127.0.0.1:2379]`   should be `--endpoints=127.0.0.1:2379` to be consistent with the rest, right? If you want to indicate that it accept a comma seperated list I would suggest to describe that in the description field?
[code]

[2018-12-26 00:17] gertcuykens opened #10352 "playground: etcdctl -d play.etcd.io"
Think it would be nice if you could allow playing with the cluster using `etcdctl -d play.etcd.io` directly

[2018-12-26 02:05] 0ctopus13prime commented on #10317
Thank you for your answers xiang90!
It helped me a lot.

[2018-12-26 02:05] #10317 closed

[2018-12-26 02:18] zaisongz opened #10353 "Take two members down for a 5-member cluster, cluster health shows "unhealthy cluster""
# ETCDCTL_API=3 etcdctl --endpoints=http://192.168.3.20:2379,http://192.168.3.21:2379,http://192.168.3.22:2379,http://192.168.3.23:2379,http://192.168.3.24:2379 endpoint health
http://192.168.3.22:2379 is healthy: successfully committed proposal: took = 1.716886ms
http://192.168.3.20:2379 is healthy: successfully committed proposal: took = 2.771621ms
http://192.168.3.23:2379 is healthy: successful

[2018-12-26 06:32] likakuli opened #10354 "two question about etcd's lock"
I have two questions want to ask
1. when getOwner in Lock methods, why WithPrefix options be used and I can't remove it unless i modify the etcd source code?
2. why lock is implemented in client side? I can modify client side's code to have different result even though the server side is the same. If implemented in server side is better?

@xiang90 @gyuho

[2018-12-26 12:52] nolouch opened #10355 "Prevote never elect a new leader"
Prevote still has the [problem](https://github.com/etcd-io/etcd/issues/9586), I have encountered many times in the production. and the log following:
member `7dfa62d3ec9e996b`
[code]
member `b3ba41b79b56eea`
[code]
memeber `b83a669e9ecde62d` down.

 as the log show, there are some problem:
1. the `randomizedElectionTimeout` never changed, so it always keep the state in lease.
2. inLease will be tr

[2018-12-27 02:53] PatrickHuang888 commented on #9357
same problem, agree

[2018-12-27 16:50] brk0v commented on #10219
Added code that passed my local failpoints test.  Could you please check if this approach makes sense.
Thank you!

P.S. Unit tests are broken because of interface changes in `etcdserver.Storage` code.

[2018-12-27 18:20] xiang90 commented on #10353
the cluster is still available. unhealthy means not all members are up.

maybe we can make the error message better: "cluster is still alive, but unhealthy: not all members are alive."

it would be great if you can send a PR to improve it.

[2018-12-27 18:20] #10353 closed

[2018-12-28 00:20] xiang90 commented on #10351
can you send a PR to get it fixed?

[code]
and a few places are also inconsistent with others.

[2018-12-28 02:48] gertcuykens commented on #10351
Hmm apparently its a cobra thing that does it automatically...
https://github.com/etcd-io/etcd/blob/master/etcdctl/ctlv3/ctl.go#L49

Investigating because I would be surprised nobody who is using cobra is bothered by that syntax

[2018-12-28 14:41] gertcuykens commented on #10351
pr send

[2018-12-28 14:41] #10351 closed

[2018-12-28 21:36] xiang90 commented on #10355
#8334 is merged.

[2018-12-29 07:58] nolouch commented on #10355
thanks!

[2018-12-29 07:58] #10355 closed

[2018-12-29 16:25] lni opened #10358 "Log entries with higher indexes should be discarded when persisting an incoming snapshot"
etcd raft's README file mentions that

"when writing an Entry with Index i, any previously-persisted entries with Index >= i must be discarded"

My question is when a snapshot with index i is received and persisted, why previously persisted entries with Index >= i are not discarded in the same way?

Raft paper also mentions the following on page 12 -

"Usually the snapshot will contain new informa

[2018-12-29 20:36] xiang90 commented on #10358
It should. I do not think we encourage users to not load any entries received before the snapshot metadata.

[2018-12-29 20:36] #10358 closed

[2019-01-02 09:03] zeast opened #10362 "grpc-go memory leak"
[etcd_memory_leak.heap.pprof.zip](https://github.com/etcd-io/etcd/files/2720272/etcd_memory_leak.heap.pprof.zip)

![etcd_memory_leak_prometheus_screenshot](https://user-images.githubusercontent.com/9344800/50585233-f8a25f80-0eae-11e9-8f65-db0da2890966.png)

etcd Version: 3.3.10
Git SHA: 27fc7e2
Go Version: go1.10.4
Go OS/Arch: linux/amd64

top command:
     PID USER   PR  NI  VIRT  RES  SHR S  %CP

[2019-01-02 10:53] xxx7xxxx opened #10364 "Zap logger prints `connection reset by peer` but capnslog doesn't"
Under the newest master code.

When I execute this command:
[code]

The zap logger will print:
[code]

But I change the startup command line to `./bin/etcd # which means capnslog logger` , there isn't the same warn log.

[2019-01-02 13:11] liukaii opened #10365 "&status.statusError{Code:14, Message:"transport is closing", Details:[]*any.Any(nil), XXX_NoUnkeyedLiteral:struct {}{}, XXX_unrecognized:[]uint8(nil), XXX_sizecache:0}"
here is my etcd-mash (Docker container):
[code]

here is main.go:
package main

[code]
here is my etcd.go:
[code]
when I run main.go, the out put will be :
[code]
I don't know how to solve it. Please help me~

[2019-01-02 14:42] petersutty commented on #9276
would you be able to provide working cluster config for certificate with SAN=*.example.com ?
I tried several config combinations, but always getting:
rejected connection from "10.99.4.2:36668" (error "remote error: tls: bad certificate", ServerName "")
Jan 02 14:29:54 spvault01 etcd[31837]: failed to dial c2ef3ff524aff825 on stream MsgApp v2 (x509: cannot validate certificate for 10.99.4.2 because

[2019-01-02 18:57] philips commented on #10321
Post holiday bump @khenidak @mboersma.

🌲

[2019-01-02 21:17] hexfusion commented on #10365
@liukaii what is the output of

`ETCDCTL_API=3 etcdctl --endpoints localhost:2379,localhost:22379,localhost:32379 endpoint status -w table`

I just tested this and it worked fine with a single node, can you show server logs when you get this output?

[2019-01-02 22:40] hexfusion commented on #10364
Yeah `--logger` will be included in 3.4 (unreleased) and we plan to deprecate capnslog in 3.5. I think for this very reason zap is a much better logging solution. I have not dug into this much but feels like it could be a capnslog bug.

[2019-01-03 02:31] hexfusion commented on #10364
@longdeqidao, I understand we would love your help if you are interested in trying to resolve this.

[2019-01-03 04:06] liukaii commented on #10365
the output of
`ETCDCTL_API=3 etcdctl --endpoints localhost:2379,localhost:22379,localhost:32379 endpoint status -w table`
is:
[code]

now I think I know why it doesn't work!
If I just run `go run main.go`, it doesn't work. Then I `go build` the main.go and put it into the container.
Finally I run the container with `docker run --net=container:616a1c2056e9 honeydata`.
the `616a1c2056e9` is the cont

[2019-01-03 19:43] hexfusion commented on #10349
@gatici can you provide more etcd related details so that we can help you? Logs from the etcd server
 and version would be a good start. The steps you provided are not complete for us to provide support.

[2019-01-03 19:46] hexfusion commented on #10352
@gertcuykens the code is open source so you can setup your own and try playing with it, instructions are in the [README](https://github.com/etcd-io/etcdlabs/blob/master/README.md).

https://github.com/etcd-io/etcdlabs

[2019-01-03 19:49] hexfusion commented on #10350
Hi @gertcuykens while I agree I think using etcdctl against single node is a pretty strait forward way to play with etcd features. Feel free to create issue or a PR here https://github.com/etcd-io/etcdlabs

[2019-01-03 19:49] #10350 closed

[2019-01-03 19:59] gertcuykens commented on #10352
Thx but setting up a vanilla etcd to play with etcdctl would be the way top go then. Could be that for security reasons it isn't possible to offer a public play.etcd.io that is accesible by etcdctl. But if you can provide it then you dont have to know anythimg about how to set etcd up and it will lower the entrance barrier especially for windows users :)

[2019-01-03 20:21] hexfusion commented on #10352
@gertcuykens fair point and we want to help you :).

Windows users can do the following:
[code]

Please let me know if this doesn't work as expected.

[2019-01-03 20:44] gertcuykens commented on #10352
For me it's ok thx, anyway it was just a suggestion to have a live visual representation on the playground of etcdctl commands. I was hoping it would be just opening 2 ports on the playground node servers and a few permission tokens.

[2019-01-03 23:36] gyuho commented on #10352
@gertcuykens Hi,

We only keep the minimum, essential feature for `etcdctl`, so `play.etcd.io` would not be integrated.

But, if you would like to run it locally, you can try https://github.com/etcd-io/etcdlabs#build-and-push-to-gcrio.

[2019-01-03 23:36] #10352 closed

[2019-01-04 03:47] gbrayut commented on #8713
Had a similar need for our SaltStack setup scripts for an etcd cluster. I ended up using the following bash script:

[code]

[2019-01-04 06:50] jasonpengyu commented on #10128
"Also, I added the IPs and node names as extension" ,how add!

[2019-01-04 06:52] jasonpengyu commented on #10128
"Also, I added the IPs and node names as extension" ,how add!

[2019-01-04 06:54] jasonpengyu commented on #10128
I have the same problem！

[2019-01-04 08:45] liukaii commented on #8793
@steaksauce-
Could you please show me how to provide ca,key,cert in go code?Thank you!

[2019-01-05 15:00] weijinxy opened #10372 "etcd exist with code 2"
Please read https://github.com/etcd-io/etcd/blob/master/Documentation/reporting_bugs.md.
OS: centOS 7.4
etcd version: 3.2.22
etcd.service config as below:
[code]

and I start etcd service by `systemctl daemon-reload, systemctl start etcd`:
it show errors:
[code]

what's the wrong?

[2019-01-05 15:01] weijinxy commented on #10372
my clusters:
etcd01:  192.168.0.191
etcd02: 192.168.0.192
etcd03: 192.168.0.193

[2019-01-06 03:48] weijinxy commented on #10372
@hexfusion it's fine when I ran command in terminal :
logs as below:
[code]

[2019-01-06 04:00] weijinxy commented on #10372
but it's OK when I delete the arguments as follow:
[code]

Just keep "ExecStart=/usr/bin/etcd --name="etcd01" --data-dir="/opt/k8s/etcd/data"", but it can't connect to clusters

[2019-01-06 04:02] hexfusion commented on #10372
The unit file runs script as etcd user not root. Exit code 2 points to
permission issues. Please verify.

On Sat, Jan 5, 2019 at 10:48 PM weijin <notifications@github.com> wrote:

--

Best,

Sam Batschelet

[2019-01-06 04:05] weijinxy commented on #10372
You mean  I should use non-root user to run it? @hexfusion

[2019-01-06 04:07] weijinxy commented on #10372
it's bogon? or should be localhost

[2019-01-06 08:02] gertcuykens opened #10373 "docs: v3 discovery url"
https://github.com/etcd-io/etcd/blob/master/Documentation/op-guide/clustering.md#etcd-discovery

[code]

Not sure if the doc is deprecated or there is simple no v3 discovery? related to https://github.com/etcd-io/etcd/issues/8209

Incase there is no v3 discovery url can this be mentioned in the doc please

[2019-01-06 15:35] hexfusion commented on #10372
Description=Etcd Server
After=network.target
After=network-online.target
Wants=network-online.target
[Service]
Type=notify
WorkingDirectory=/var/lib/etcd/
#EnvironmentFile=-/etc/etcd/etcd.conf
User=etcd

The systemd unit starts etcd with etcd user. All I was saying was do a quick check by starting etcd as etcd user. So you could do something like this below. My thoughts as exit status was 2 that y

[2019-01-07 04:53] weijinxy commented on #10372
thanks， I'll try it

[2019-01-07 08:21] gatici commented on #10349
<img width="880" alt="etcd" src="https://user-images.githubusercontent.com/22467749/50756608-c6597f00-126d-11e9-9114-082c9cfd08b6.PNG">

Dear @hexfusion,  at least  once  in a  day I am getting such  errors  both  from  GUI and  CLI.
Kubernetes cluster is  working  on  Rancher.
Using the  below  versions.
KUBECTL_VERSION=1.11.2
RANCHER_VERSION=1.6.22

Here are the  etcd Container  logs at that  ti

[2019-01-07 19:13] philips commented on #8473
Is this actively being worked on? Trying to decide on the plan of attack for https://github.com/coreos/discovery.etcd.io/issues/52

[2019-01-07 19:51] tariq1890 commented on #2780
@jmcollin78 Did you mean `start etcd with initial-cluster-state=existing` ?

[2019-01-07 20:01] jmcollin78 commented on #2780
@tariq1890 sorry this thread is too old. I can't remember

[2019-01-07 20:04] tariq1890 commented on #2780
Thanks for your response :). The documents suggest that it's `initial-cluster-state=existing`. Could you make that edit to your comment? I can delete this message after that.

[2019-01-07 21:05] gyuho commented on #8473
@philips Nobody is actively working on this, right now.

[2019-01-08 00:57] hexfusion commented on #10362
@zeast is this a leak or is the increase in RAM consumption based on the the size of the DB? What causes this drop in RAM at the start of the graph, compaction? Since you have Prometheus running what does etcd_debugging_mvcc_db_total_size_in_bytes look like during this time series?

[2019-01-08 01:21] hexfusion commented on #10373
@gertcuykens the docs are still accurate if you start a cluster for the purpose of discovery this will still work, have you tried it? If this doesn't work please let us know.

Would you mind creating PR to this? We want users to know that although v2 discovery API uses v2 store that creating a dedicated cluster for the purpose of discovery would be fine IMO.

https://github.com/etcd-io/etcd/blob/m

[2019-01-08 01:46] gertcuykens commented on #10373
Ok I will do PR, just wanted to be sure I didn't mis some v3 discovery options. In the end I think we must make sure we can slim down etcd code base removing deprecated code and have no v2 dependencies to build a v3 only build making it easy to maintain. Don't think we want discovery to be the cause holding a v3 only build back. For me `ETCDCTL_API=3` should be more like a compile option then runt

[2019-01-08 02:04] hexfusion commented on #10373
Thanks!

I agree and `ETCDCTL_API=3` is default for 3.4+.

Deprecating v2 store is in the works for 4.0 https://github.com/etcd-io/etcd/issues/9232. But in the meantime feel free to disable v2 if you don't want to worry about it with [--enable-v2](https://github.com/etcd-io/etcd/blob/master/Documentation/op-guide/configuration.md#--enable-v2. ) flag.

Your points are valid but this will take time

[2019-01-08 06:51] gatici commented on #10349
A CLI  error:
Sometimes  I got  such  kind of  errors.
ubuntu@kub1:~/oom/kubernetes$ helm  list
Error: client: etcd cluster is unavailable or misconfigured; error #0: client: etcd member https://etcd.kubernetes.rancher.internal:2379 has no leader

[2019-01-08 06:55] gatici commented on #10349
I sometimes  also  got  such  errors in the  kubernetes  cluster  hosts:
ubuntu@kub2:~$
Broadcast message from systemd-journald@kub2 (Tue 2019-01-08 06:52:56 UTC):

haproxy[7865]: backend IST_Default_8447 has no server available!

Broadcast message from systemd-journald@kub2 (Tue 2019-01-08 06:53:02 UTC):

haproxy[7865]: backend IST_AAI_8446 has no server available!

[2019-01-08 08:31] mkumatag opened #10380 "Push mulit-arch fat manifest image for etcd"
Push mulit-arch fat manifest image for etcd

I already see that we are pushing the images for following [supported architectures](https://github.com/etcd-io/etcd/blob/master/Documentation/op-guide/supported-platform.md) into the gcr: https://console.cloud.google.com/gcr/images/etcd-development/GLOBAL/etcd?gcrImageListsize=30. So this task is to push multi-arch fat manifest pointing to all the supp

[2019-01-08 08:32] mkumatag commented on #10380
/cc @xiang90 @gyuho

[2019-01-08 12:31] hexfusion commented on #10349
Using the below versions.
KUBECTL_VERSION=1.11.2
RANCHER_VERSION=1.6.22

what is the etcd version?

07.01.2019 11:20:072019-01-07 08:20:07.033481 W | etcdserver: failed to send out heartbeat on time

@gatici it sounds like you are having some I/O issues can you provide details on your etcd, how many members in cluster? Please provide metrics on each member. To do this you can do a GET on for examp

[2019-01-08 13:08] TheKangaroo opened #10381 "Missing env vars in documentation"
Please read https://github.com/etcd-io/etcd/blob/master/Documentation/reporting_bugs.md.

[2019-01-08 13:10] hexfusion commented on #10381
@TheKangaroo please review this document and let us know what is missing.

https://github.com/etcd-io/etcd/blob/master/Documentation/op-guide/configuration.md

[2019-01-08 13:12] TheKangaroo commented on #10381
@hexfusion sorry, i accidentally hit the enter button ;)

The documentation under https://github.com/etcd-io/etcd/blob/master/Documentation/op-guide/configuration.md is missing the env vars for Miscellaneous flags, Profiling flags, Auth flags and Experimental flags.
I just tested to set some of these flags via env var and it worked fine.
I can send a MR with updated docs if you want to :)

[2019-01-08 13:14] hexfusion commented on #10381
no problem!

@TheKangaroo yes that would be great, thanks!

[2019-01-08 16:38] #10381 closed

[2019-01-08 22:08] 0x1mason opened #10389 "How to force a compaction error"
I want to introduce a compaction error for testing purposes. The only way I've been able to do this reliably is with

1. start etcd with `--auto-compaction-retention=1s`
1. start the watcher with go client
1. do a put
1. restart etcd
1. watcher goes boom

That works locally, but restarting etcd in our live test environment isn't a possibility. Is there another way to force a compaction error witho

[2019-01-09 03:48] hexfusion commented on #10339
Hi @mrxliu can you offer steps to reproduce?

[2019-01-09 10:56] brk0v commented on #10219
Tests now pass.

To summarise what were done:
- Added `snapshotter.LoadIndex()` to load arbitrary snapshot;
- Added `etcdserver.storage.checkWALSnap()` to check that snapshot could be used to load raft state from the WAL;
- Added `etcdserver.storage.Release()` and `etcdserver.storage. Sync()` to provide the safe order of saving operations;
- Changed logic how `raft.Ready` handles not empty`rd.Snap

[2019-01-09 13:49] taladar opened #10391 "Multiple endpoints in ETCDCTL_ENDPOINTS lead to rejected connection from "1.2.3.4:5678" (error "EOF", ServerName "") spam in server log"
We have a Cluster of 3 etcd nodes and use it from various shell scripts running in systemd services which all use etcdctl. Two nodes run on Debian stretch, the third on Centos 7. All nodes use etcd downloaded directly from Github.

[code]
[code]

A lot of the systemd services check some system parameter (e.g. an IP or whether a service is running) and write data about it to etcd. All of the script

[2019-01-09 13:56] taladar commented on #10391
The closed issue (for lack of information from submitter) #10040 seems to show a similar problem.

[2019-01-09 14:05] hexfusion commented on #10372
@weijinxy ping any update?

[2019-01-09 14:05] hexfusion commented on #10362
Hi @zeast any update?

[2019-01-09 19:46] xiang90 commented on #10219
@brk0v Thanks. I will give this a careful look over the next couple of weeks.

[2019-01-11 02:04] zeast commented on #10362
yeah, I found a way to reproduce. Yesterday and the day before,  I adjusted the request to circumvent this problem, so I didn't notice here, sorry.
If you use http request `/v3beta/kv/range` and want more than `1014 * 1024 * 4` data , you will get error message `{"error":"grpc: received message larger than max (6927780 vs. 4194304)","code":8}` then memory will increase. I try version 3.3.10 and ma

[2019-01-11 03:26] johnyannj opened #10393 "--auto-tls in v3 not effective"
version 3.3.6

command in server

`
./etcd --debug --auto-tls=true --peer-auto-tls=true --listen-client-urls='https://10.10.0.1:2380' --advertise-client-urls='https://10.10.0.1:2380'
`

client command:
`
 ./etcdctl --insecure-skip-tls-verify --endpoints="'https://10.10.0.1:2380"  get /xxx
`

I get this error:
"Error: context deadline exceeded"

[2019-01-11 04:43] #10393 closed

[2019-01-11 05:08] relyt0925 commented on #9956
Adding to this we saw it again. This was a 3 node etcd cluster

peer 1's logs
[code]

peers 2 logs:
[code]

instance 3's logs
[code]

[2019-01-11 05:10] relyt0925 commented on #9956
Note that instance 2 and 3 die within a second of one another. Instance 2 is the first to die with the panic followed by instance 3. Then Instance 1 dies 6 minutes later time with the same error.

[2019-01-12 00:02] Sahasrara opened #10398 "go module install etcd go.etcd.io/etcd/clientv3 will install a version from the wrong repo"
go module install etcd go.etcd.io/etcd/clientv3 will install a version from the wrong repo:

My mod file says:
	go.etcd.io/etcd v3.3.11+incompatible

but when I go to the vendor directory, all of the files have references to the coreos repo.

[2019-01-12 03:03] clearcodecn opened #10399 "[bug] v3.3.10 panic: runtime error: index out of range"
version:
[code]

[code]

[2019-01-13 12:47] hexfusion commented on #10399
@clearcodecn thank you for the report. I have a few questions so that we can better address this.

- Any additional context to this panic? I can see a reference to TXN but perhaps you have more details.

- Is it reproducible? If yes can you please provide steps?

- Any additional server and workload detals, k8s, heavy traffic etc.

[2019-01-13 16:10] Nefelim4ag commented on #9988
We drop usage of grpc-proxy but continue see missing event's and lost of sync from some components in K8s. We still try debug that issue. I will add some info if we get it.

Thanks.

[2019-01-14 01:12] clearcodecn commented on #10399
@hexfusion
* `etcd` running on a single server. command was
[code]
* It is't reproducible. It was suddenly. restart it then ok .
* my program was just get and set key and values and it was very healthy for a long time when etcd was run , about above 20 days . but panic suddenly. I can show my code .

* there was main code

[code]

[2019-01-14 05:39] weijinxy commented on #10372
it's ok now, I don't know why , here is my service:
[code]

systemctl daemon-reload && systemctl start etcd, it works

[2019-01-14 11:56] Fullstop000 opened #10400 "[question] Does pkg/transport not support multiple tls root ca files?"
I'm working on a distributed system and use `pkg/transport` and `raft`. When I try to set multiple root ca files in `TLSInfo`, it seems we can only set one ca file because there is only a public string type field called  `TrustedCAFile`.

After a little code digging, I find when generating a normal tls config used by `crypto/tls`, the `cafiles()` only use what is set in `TrustedCAFile` as the root

[2019-01-14 13:37] markmc opened #10404 "Improve rafthttp prober error logging"
I got my peer and client URLs mixed up in my cluster config, and I was seeing:

[code]

turns out $endpoint/raft/probing was returning 404. By checking the response status code, we can improve that to:

[code]

[2019-01-14 13:39] markmc commented on #10404
See xiang90/probing/pull/7

[2019-01-14 15:54] mitake opened #10405 "Runtime error in TestLeasingNonOwnerPutError"
In the CI run of https://github.com/etcd-io/etcd/pull/10343, I found TestLeasingNonOwnerPutError is causing a runtime error like below:
[code]

Full logs can be found here: https://travis-ci.com/etcd-io/etcd/jobs/169221994

[2019-01-14 23:47] logicalhan opened #10406 "etcd-client: expose health endpoint directly from etcd-client"
Currently calling the health endpoint for etcd involves using the 'Get' method (ex. https://github.com/kubernetes/kubernetes/pull/72896). Exposing the a `Health` method directly on the client would make it more discoverable and obvious, while making it less likely that someone will make an error in typing out the string when trying to use the endpoint. If it is easy enough to do, we should probabl

[2019-01-15 02:05] manishrjain commented on #9847
Hey guys, we're again able to see this issue. What can I provide you to help debug this?

[2019-01-15 03:39] yourlovemyall opened #10407 "a strange etcd cluster, data inconsistent"
I create a cluster of etcd， now etcd1 has three keys data， but etcd2（leader） and etcd3 has one key data；
only differenet operation ： I stop the etcd process manually on etcd1 node，and modify the etcd cluster data when etcd1 is down， then I not clean the etcd1 node data dir and restart the etcd process， first I found data the same ， but now  the data different ；

This operation may cause this excep

[2019-01-15 05:58] justinsb commented on #10321
I've tried this a few ways.  While it's possible only to replace boltdb, the alternative is to reimplement the proto API to make something that is wire-compatible with etcd but doesn't share much/any code.  Most backends that people are considering themselves support distributed consistency, so the raft implementation which is the bulk of what's here is not particularly applicable.

I've found tha

[2019-01-15 06:06] philips commented on #10321
On Mon, Jan 14, 2019 at 9:59 PM Justin Santa Barbara <
notifications@github.com> wrote:

Do you have links to those or can you CC the people in?

[2019-01-15 09:19] wrfly commented on #9357
Or if you `import "go.etcd.io/etcd/clientv3"`

[code]

[2019-01-15 10:35] xiang90 commented on #10321
The thing that can be reused is the mvcc package which supports the etcd data model and the gRPC layer rpc implementation layer which handles stream demultiplexing. etcdserver itself can be stateless, and raft will not even be involved.

Have you gave it a try? Do you have a reference implementation that we can take a look?

[2019-01-15 15:03] mitake opened #10408 "Migrate aborted validation of Authenticate() to clientv3 side"
In https://github.com/etcd-io/etcd/pull/10218, the server side handling of aborted validation for auth store is deleted. We need to migrate it to clientv3 side.

[2019-01-15 23:48] jsok commented on #10040
This is a duplicate of https://github.com/etcd-io/etcd/issues/9949

[2019-01-15 23:48] jsok commented on #10391
This is a duplicate of https://github.com/etcd-io/etcd/issues/9949

[2019-01-16 01:12] #10372 closed

[2019-01-16 01:12] hexfusion commented on #10372
Glad to hear you got it to work.

[2019-01-16 02:25] Fengxq2014 opened #10410 "clientv3:import paths error"
my import prefix is `go.etcd.io`, but i found type error in follow functions,i found their import prefix is `github.com/coreos`
[code]

[2019-01-16 02:40] Fengxq2014 commented on #10410
used git tag v3.3.11

[2019-01-16 05:03] justinsb commented on #10321
The backend efforts that I'm aware of are CosmosDB (existing), DynamoDB (stopped?) and FoundationDB (speculative).  The dynamodb efforts took place at the k8s storage layer, and I think it was in response to that that CosmosDB re-implemented the etcd protocol instead, as that is our recommended direction per https://github.com/kubernetes/kubernetes/issues/53162.  I don't know of anyone specificall

[2019-01-16 09:01] johnyannj opened #10412 "support key file with protected password"
when use SSL.

the private key is not protected with password.

it is not security.

hope the etcd support key file with protected password.

[2019-01-16 11:34] qd19zzx opened #10413 "Start a new select term frequently when deploy an ETCD cluster with TLS"
Hi, I have deployed a 3 nodes cluster whith tls. But it often starts a new select term, and reports some error like:
W | rafthttp: health check for peer 604ac5c93c0a3635 could not con        nect: <nil> (prober "ROUND_TRIPPER_RAFT_MESSAGE")
E | etcdserver: publish error: etcdserver: request timed out
E | rafthttp: failed to dial 604ac5c93c0a3635 on stream Message (r        ead tcp 192.168.1.17:499

[2019-01-16 11:56] qd19zzx commented on #10413
**The info of server cert：**
Certificate:
    Data:
        Version: 3 (0x2)
        Serial Number:
            a0:6e:ec:7b:53:c7:59:0d
    Signature Algorithm: sha256WithRSAEncryption
        Issuer: CN=CA
        Validity
            Not Before: Jan 16 11:11:18 2019 GMT
            Not After : Jan 13 11:11:18 2029 GMT
        Subject: C=CN, ST=Shan Dong, L=Qingdao, O=NOKIA, OU=CSF, CN=server

[2019-01-16 13:10] ronakpandya7 opened #10414 "ETCD "wal sync: duration" error."
Hello,

We are using kubernetes version `10.5` and etcd version `3.3.3`.
We are facing "wal sync duration" issue in etcd.

Status of our etcd cluster is continiously changing from healthy to unhealthy and from unhealthy to healthy.

[code]

After some time...

[code]

We checked in etcd service logs and it is as below.

etcd logs:

[code]

And below are the etcd metrices for "etcd_disk_wal_fsync_d

[2019-01-16 13:18] hexfusion commented on #10414
From a distance just looking at these metrics my guess is that etcd is using HDD vs SSD to store state? You need faster disks to overcome this I/O bottleneck.

[2019-01-16 13:49] qd19zzx commented on #10413
When the i/o timeout occur, the logs on peer 192.168.1.18:
2019-01-16 11:12:53.084906 E | etcdserver: publish error: etcdserver: request timed out
2019-01-16 11:12:53.223102 I | raft: 604ac5c93c0a3635 is starting a new election at term 20
2019-01-16 11:12:53.223143 I | raft: 604ac5c93c0a3635 became candidate at term 21
2019-01-16 11:12:53.223154 I | raft: 604ac5c93c0a3635 received MsgVoteResp from

[2019-01-16 14:01] hexfusion commented on #10413
I don't see any TLS issues in the logs.

[2019-01-16 14:14] hexfusion commented on #10391
yeah closing lets track #9949

[2019-01-16 14:14] #10391 closed

[2019-01-16 17:10] mcginne commented on #9956
I've run hundreds of loops of powering off/on hosts in my simple recreate, and haven't been able to recreate it unfortunately.
Can still hit it regularly in the large scale environment.

[2019-01-16 17:29] vtolstov opened #10415 "purpose of NewCtxClient"
Does it possible to use NewCtxClient if i start embed etcd server?
For example i want to use etcd internally from own service, and provide tcp endpoint  for other clients?

[2019-01-16 17:36] hexfusion commented on #10412
@johnyannj this is kind of a usability vs security issue. On the server level if etcd needs to restart this would require operator intervention to enter password, probably not optimal. On the client that would be a different thing, have you tried it? I honestly don't know if it would work, please try and let us know if you have issues.

[2019-01-16 18:02] brk0v commented on #10407
What about WAL logs? If I understand you right, you have to delete WAL logs as well,.

[2019-01-16 23:54] gyuho commented on #10410
For 3.3.x, can you use the old import paths?

[2019-01-17 07:42] zeast commented on #10362
bug found: https://github.com/grpc/grpc-go/issues/2444

[2019-01-17 13:11] hexfusion commented on #10362
@zeast great work we will track the issue, thank you!

[2019-01-17 13:20] hexfusion commented on #10362
updated title so its easier to see the core problem.

[2019-01-17 14:18] Fengxq2014 commented on #10410
i use all import path `github.com/coreos` in travis-ci
[code]

and get type error  job log is [log](https://api.travis-ci.org/v3/job/477705387/log.txt)

[2019-01-17 15:40] hexfusion commented on #10414
Hi @ronakpandya7 just because you were able to operate for N period of time with the current hardware does not mean it is not the problem right? Increases in workload, size of your db etc could have just caught up with you. The metrics point and logging are pointing to slow disk. Also I am pretty certain that k8s does not support 3.3 for 10.5 and will be included in 11.4.  https://github.com/kuber

[2019-01-17 16:04] hexfusion commented on #10414
Here is a nice fio benchmark you can run to get an idea on your disks WTR IOPS. I have been meaning to add this to the repo, curious the output you see.

Fair warning the test will generate a 4GB file.

[code]

[2019-01-17 21:21] menghanl commented on #10289
@hexfusion Did you get time to try this? Thanks!

[2019-01-17 21:23] hexfusion commented on #10289
@menghanl thanks for the reminder, I will work on it before the end of the week.

[2019-01-17 23:57] imkin opened #10417 "ETCD Documentation on etcd version skew seems lacking"
@wenjiaswe pointed me to the version support page in the etcd documentation [here](https://github.com/etcd-io/etcd/blob/master/Documentation/branch_management.md).

[This] (https://github.com/etcd-io/etcd/pull/8805) is actually well explained but the github-issues are not well indexed and the default etcd documentation should be able to define this clearly.

I discussed with @wenjiaswe and @gyuho

[2019-01-18 00:03] imkin commented on #10417
Some of the things that we could address here are.

- define and declare usage of semver early and use the semver vocabulary in the rest of the doc.
- split the release process from the support policy.
- explain the supported upgrade path.
- adopt the examples from [here] (https://github.com/etcd-io/etcd/pull/8805) if necessary.

[2019-01-18 08:55] ronakpandya7 commented on #10414
Hello @hexfusion,

For the storage state we are using `Raid 1+0 HDD 300*8 SATA`.
[metrices.txt](https://github.com/etcd-io/etcd/files/2772209/metrices.txt)

We do not have the `fio` command as we are using coreos.
So we have to use the fio container and it will take time.
For the full metrices i have attached one file `metrices.txt`

Thanks.

[2019-01-18 14:06] ronakpandya7 commented on #10414
Here is the output for the spew command that will show the Disk I/O performance it this helps you for debugging.

[code]

[2019-01-18 14:56] hexfusion commented on #10417
@imkin would you be interested in spear heading this in a PR we can review and move from there? This looks great to me, not sure if anyone else would like to chime in.

[2019-01-18 15:32] hexfusion commented on #10414
From the hardware guide linked above

WTR:       88.98 KiB/s   Transfer time: 00:00:11    IOPS:       22.25

Do we need to research this more? Please make sure that you disks are not shared with anything else and dedicated to etcd. If this is currently the case then your disks are too slow and you need to update them to preferably SSD.

[2019-01-18 15:34] #10414 closed

[2019-01-18 18:17] imkin commented on #10417
@hexfusion yes this is something I could take a look at thanks.

[2019-01-18 19:04] wenjiaswe commented on #10417
Thanks @imkin !
xref:
https://github.com/kubernetes/website/issues/12233
https://github.com/kubernetes/kubernetes/issues/45506

[2019-01-18 21:00] hexfusion commented on #10413
@qd19zzx can you get metrics on these members and attach them as files? you would need to do a GET against the /metrics endpoint to harvest.

[2019-01-18 21:01] hexfusion commented on #10412
@johnyannj did you get a chance to try this yet?

[2019-01-18 21:02] hexfusion commented on #10406
reviewing the attached PR it seems this is resolved please reopen if that is not the case.

[2019-01-18 21:02] #10406 closed

[2019-01-18 21:04] hexfusion commented on #10404
@markmc if this is resolved by your PR against probing please close this issue. Thanks!

[2019-01-18 21:06] hexfusion commented on #10373
FTR we do plan on adding the discovery API to v3. This should happen during the 1st quarter and be part of a future release TBD.

[2019-01-20 16:53] spzala commented on #10340
@Sahasrara thx for reporting. I could reproduce it and error does seems confusing.
@gyuho @hexfusion does the PR I created for it makes sense? Please take a look. Thanks!

[2019-01-21 01:03] qd19zzx commented on #10413
May be is related with my environment, I cannot reproduce now, thank @hexfusion for your help, I will close this issue.

[2019-01-21 01:03] #10413 closed

[2019-01-21 11:50] Leboudin commented on #10399
Any updates?

[2019-01-21 20:46] hexfusion commented on #10289
@spzala could you please take a look?

[2019-01-21 20:48] spzala commented on #10289
@hexfusion I sure will, thanks!

[2019-01-21 23:14] relyt0925 commented on #9956
Note we still see this in v3.3.11 as well.

[2019-01-22 13:10] Leboudin commented on #9956
Did this panic happens during key watching?

[2019-01-22 16:33] markmc commented on #10404
Yeah, the issue was just a reminder to revendor the mod - see PR #10423

[2019-01-22 18:46] mitake opened #10425 "RFC: use unix domain socket for internal RPC of gateway"
The root cause of the recent problem fixed in https://github.com/etcd-io/etcd/pull/10366 is that etcd uses a certificate to itself. If etcd uses non TLS unix domain socket for the internal RPCs from gateway, the possibility of such a problem can be much more reduced.

cc @hexfusion @gyuho @xiang90 @jpbetz

(`socketpair(2)` is the ideal solution because it is completely invisible from outside but g

[2019-01-22 19:19] #10404 closed

[2019-01-23 09:42] zyf0330 commented on #9629
I meet this problem when upgrade etcd from v3.3.4 to v3.3.11.

[2019-01-24 02:41] atotala opened #10426 "Error in running etcd:latest image inside pod"
My etcd container is not running inside the pod. Not able to identify what is the root cause.

Attaching logs from the pod.

[root@jarvis-1-jump ~]# kubectl logs service-c key-value-store
2019-01-24 02:27:15.730677 I | etcdmain: etcd Version: 3.3.8
2019-01-24 02:27:15.730820 I | etcdmain: Git SHA: 33245c6b5
2019-01-24 02:27:15.730843 I | etcdmain: Go Version: go1.9.7
2019-01-24 02:27:15.730858 I |

[2019-01-24 02:48] hexfusion commented on #10426
What are your startup flags this looks suspect.

On Wed, Jan 23, 2019 at 9:41 PM atotala <notifications@github.com> wrote:

--

Best,

Sam Batschelet

[2019-01-24 03:26] tobeabme opened #10427 "cannot use "google.golang.org/grpc/naming".Update literal as type "go.etcd.io"
cannot use "google.golang.org/grpc/naming".Update literal (type "google.golang.org/grpc/naming".Update) as type "go.etcd.io/etcd/vendor/google.golang.org/grpc/naming".Update in argument to r.Update

[2019-01-24 03:34] tobeabme commented on #10427
This is my code:

[code]

[2019-01-24 07:46] atotala commented on #10426
@hexfusion : when Iam using  different data-dir it is working
Currently  "data dir = /var/etcd/data"
If I change it, container starts to run.
I am not getting this behavior of etcd

[2019-01-24 08:34] likakuli commented on #10269
I meet the same problem, etcd version 3.3.1, client vesion 3.1.3

[2019-01-24 08:36] yourlovemyall commented on #10407
wal log , I use the etcd-dump-logs tool; I find three etcd machine logs the same;   So I want to know What cause the strange bug;

[2019-01-24 16:04] hexfusion commented on #10427
@tobeabme try importing github.com/coreos/etcd
[code]

[2019-01-24 17:25] sanamsarath opened #10429 "ETCD rechability and health check"
I have ETCD running on a remote cluster. I need to keep track of the readability/liveliness of the ETCD cluster from the application side cluster. I have a proxy monitoring app between the ETCD and applications that  rely on ETCD.

Following are the 2 possibilities I could think of:

1. start a dummy watch request, and if the connection fails I will update the applications that the server is not r

[2019-01-24 17:58] cfc4n opened #10430 "Client return "context deadline exceeded" err with disable RoleAuth and the username and password are used"
# etcd version
3.23
ETCD Cluster doesn't enable Role Auth, and the username and password are used in client.

# For example:
[code]
# Two results:
1. It will work well with less endpoints
2. It will return `context deadline exceed` with many endpoints

# The rootcause of BUG:
1. When client code use username and password ,it will go to the code `err := c.getToken(ctx)` at client.go line 356.
2. In

[2019-01-24 18:28] APTy opened #10431 "clientv3: Argument order of WithFromKey() and WithPrefix() matters with KV.Get()"
I'm looking for some clarification on the behavior `clientv3.KV.Get()` with regards to the order of `OpOption` arguments.

I noticed that the following queries return different results:.
[code]
More precisely, (1) correctly returns every key within the `/foo` prefix; whereas (2) doesn't respect the prefix, and returns every key after `/foo`.

If this is intentional, I think it could be documented

[2019-01-24 18:54] xiang90 commented on #10431
i do not think this is intentionally. can you provide a reproduce? better if you can look into the code, and help us fix it.

[2019-01-24 18:58] hexfusion commented on #10431
https://github.com/etcd-io/etcd/blob/e8b940f268a80c14f7082589f60cbfd3de531d12/clientv3/op.go#L393-L395

https://github.com/etcd-io/etcd/blob/e8b940f268a80c14f7082589f60cbfd3de531d12/clientv3/op.go#L385-L391

These two opts would be independent of each other vs used together. Seems like you would use WithFromKey() or  WithPrefix()  along with say WithRev() or WithSerializable. But yeah maybe this s

[2019-01-24 19:03] xiang90 commented on #10431
withfrom key is probably not smart enough to pick up the value passed in by with prefix.

[2019-01-24 19:19] hexfusion commented on #10429
If all you want is simple health check of members what about endpoint health?

[code]

https://github.com/etcd-io/etcd/blob/fa521f4e00fedfb6d98449d92a6408d0b3b0d922/etcdctl/ctlv3/command/ep_command.go#L87

[2019-01-24 20:03] APTy commented on #10431
Yeah it seems these options are not meant to be used together, since both WithFromKey() and WithPrefx() both set the `op.end` value, so whichever is used last will be the one that takes effect.

[2019-01-24 23:19] timothysc opened #10432 "RFE: Longer life-cycle version compatibility"
As of today, the version support of the data model is only guaranteed across 1 minor revision (or at least last I checked).  But for a number of applications, where this is not a tenable situation and there is the need to be able to upgrades across a set of versions.

This also applies to HA upgrade scenarios.

[2019-01-24 23:21] timothysc commented on #10432
/cc @xiang90 @gyuho

[2019-01-25 11:10] tobeabme commented on #10427
@hexfusion When I try importing github.com/coreos/etcd  I got this:

[code]

`github.com/coreos/etcd/clientv3
../../../../../github.com/coreos/etcd/clientv3/auth.go:116:72: cannot use auth.callOpts (type []"github.com/coreos/etcd/vendor/google.golang.org/grpc".CallOpti
on) as type []"go.etcd.io/etcd/vendor/google.golang.org/grpc".CallOption in argument to auth.remote.AuthEnable
../../../../../gith

[2019-01-25 11:17] tobeabme commented on #10427
@hexfusion Etcd version is  3.3.0+git

[code]

[2019-01-25 16:51] mitake commented on #10405
This problem happens again in CI of https://github.com/etcd-io/etcd/pull/10343: https://travis-ci.com/etcd-io/etcd/jobs/172753792

[2019-01-25 16:53] #9521 closed

[2019-01-25 18:45] bcmills commented on #10398
Assuming that you do not want to break existing users of `v3.3.11` and below, a proper fix will probably require that you bump the major version to `v4` and change the corresponding module and import paths to `go.etcd.io/etcd/v4`.

[2019-01-25 23:39] jasper-d opened #10433 "Cannot run etcd as a Windows service"
## Repro:
1. Extract etcd binaries to C:\etcd
2. mkdir C:\etcd\data
3. Grant "Full Access" (rwx) to "NT AUTHORITY\Local Service" on C:\etcd
4. Start an elevated command prompt
4. Install the service: `sc create etcd binpath= "C:\etcd\etcd.exe --data-dir C:\etcd\data" obj= "NT AUTHORITY\Local Service`
5. Start the service: `net start etcd`

## Expected:
ectd service starts

## Actual:
- etcd servic

[2019-01-26 03:13] hexfusion commented on #10433
Hi @jasper-d Looks like this is a known issue maybe you can help us to fix it? I do not have access to or expertise with Windows machines to test so your help would be greatly appreciated.

ref:
https://github.com/etcd-io/etcd/issues/3351
https://github.com/etcd-io/etcd/pull/3410

[2019-01-28 01:16] johnyannj commented on #8912
is it solved at  lastest version?

[2019-01-28 15:13] geauxvirtual commented on #10426
I'm seeing something similar with v3.3.11. Initial deployment, etcd starts up just fine. When I scale the pod down and back up, the etcd container crashes with a similar error.

[code]

[2019-01-28 15:31] hexfusion commented on #10426
@geauxvirtual we need reproducible steps. What does your pod YAML look like? When you say scale pod down and then back up do you mean you restart the pod? Are you using an operator? The error shows the end which is useful but we need more context please outline this so we can help reproduce.

[2019-01-28 15:57] hexfusion commented on #10426
Also FTR this is not a regression in 3.3.11 which was a security patch the logging above references 3.3.8.

[2019-01-28 15:59] hexfusion commented on #10349
Ping @gatici any update?

[2019-01-28 16:12] geauxvirtual commented on #10426
By scaling down and back up, I'm running `kubectl scale --replicas=0 deployment foo` and `kubectl scale --replicas=1 deployment foo`

The deployment section of the yaml file for etcd is pretty simple.
[code]

Full Error when the pod scales back up
[code]

[2019-01-28 16:51] sanamsarath commented on #10429
@hexfusion sorry for the late response.

I can consider using the health check option, but I need to try checking if it works with HTTP json interface instead of default etcdctl as I am implementing my client in c++.

Also, I want to make sure that health check request will return the health of entire cluster and not the single endpoint/member alone.

Thanks for the suggestion.

[2019-01-28 17:34] hexfusion commented on #10429
For REST you can do a get against "/health"

It returns the health of each node so "health" is cumulative etcdctl will return "Error: unhealthy cluster" is one member returns unhealthy for endpoint health. So in a 3 node cluster one unhealthy node still leaves a quorate cluster but "unhealthy". Once quorum is lost then you have bigger problems:). But in that case all members will return false or s

[2019-01-28 18:31] sanamsarath commented on #10429
Thank you.

[2019-01-28 18:31] #10429 closed

[2019-01-28 18:42] hexfusion commented on #10426
OK lets say this worked you are not creating a two node cluster here right just 2 single node etcd instances.

So tell me about the `volume:` these mounts attach to that appears to be missing. If you have 2 instances of etcd do they both use the same directory?

Have you looked at https://github.com/etcd-io/etcd/tree/master/hack/kubernetes-deploy for an example of a multinode config?

If you are p

[2019-01-28 19:01] geauxvirtual commented on #10426
I'm currently only running a single instance of etcd inside a single pod with another application. So scaling down removes the pod containing etcd, but leaves the persistent volume. Scaling back up to 1 starts one pod with one etcd instance looking at the persistent volume that was previously created and initialized by the previous instance of etcd.

[2019-01-28 19:13] jingyih commented on #10219
cc @jpbetz

[2019-01-28 19:14] jingyih commented on #10231
cc @jpbetz

[2019-01-28 19:14] jingyih commented on #10232
cc @wenjiaswe

[2019-01-28 19:15] jingyih commented on #10246
cc @jpbetz

[2019-01-28 19:31] hexfusion commented on #10426
This is reproducible every time? Meaning if you clear out the contents of the persistent volume the scaling generates the error each time? Before you remove anything can you post the output of  `tree -ugsh /path/to/persistent/volume` Also can you show the YAML for the PV/PVC? Are you 100% sure that the pod is shutdown and detached from PVC before the new one attaches? This seems like some sort of

[2019-01-28 19:57] jasper-d commented on #10433
@hexfusion I'll look into it but it may take a few days becasue I have little to no experience with Go.

[2019-01-28 20:02] hexfusion commented on #10433
@jasper-d we can assist with the go if you can assist with windows testing. Take a look at the old existing PR above and see if it gives you any hints. Basically can you review the existing research that was done and see what is the proper method for managing a Windows service with golang? Maybe it is is the same in which case we can reuse that PR as a starting point.

1.) review exisitng PRs and

[2019-01-29 02:46] vpramod0310 opened #10436 "ETCD regenerated its certificate within 15 days of installation"
**Problem:**
I am running the etcd version 3.3.9 on top of coreos with rkt pods. ETCD was up and running from Nov 7th and it had 1 year of validity. But on Nov 22nd after 15 days etcd automatically regenerated its certificates and was accepting the connections with old client certs till yesterday. Yesterday at some point in time it started to reject connection with "tls:bad certificate" I don't ha

[2019-01-29 03:38] hexfusion commented on #10436
etcd has no mechanism to generate certs, so what changed them?
--

Best,

Sam Batschelet

[2019-01-29 03:41] hexfusion commented on #10436
Well I take that back are you using auto-tls? Can you show your startup
flags?

--

Best,

Sam Batschelet

[2019-01-29 03:46] vpramod0310 commented on #10436
We are not using auto-tls.
`[Unit]
Description=etcd (System Application Container)
Documentation=https://github.com/coreos/etcd
Wants=network-online.target network.target
After=network-online.target
Conflicts=etcd.service
Conflicts=etcd2.service

[Service]
Type=notify
Restart=on-failure
RestartSec=10s
TimeoutStartSec=0
LimitNOFILE=40000

Environment="ETCD_IMAGE_TAG=v3.3.9"
Environment="ETCD_NAME=%

[2019-01-29 03:53] hexfusion commented on #10436
Did you recently update etcd? Before 3.3.4 we had a TLS reload bug
https://github.com/etcd-io/etcd/issues/9541.
--

Best,

Sam Batschelet

[2019-01-29 04:42] vpramod0310 commented on #10436
I have not upgraded manually . Probably an auto upgrade? i saw the version somewhere in log as 3.3.4 is 3.3.4 also having issue?

[2019-01-29 07:18] WIZARD-CXY opened #10437 "updatedep failed due to checksum mismatch"
enviroment:
go 1.11.2 on Mac
code: master branch

use
`$ ./scripts/updatedep.sh`
returns

[code]

[2019-01-29 07:22] knisbet opened #10438 "Golang CVE-2019-6486"
Hi All,

I'm just opening this, as upstream golang 1.11.5/1.10.8 was released with a fix for cve CVE-2019-6486, which I believe affects etcd.

https://groups.google.com/forum/m/#!topic/golang-announce/mVeX35iXuSw

[2019-01-29 11:09] atotala commented on #10426
@hexfusion , @geauxvirtual I guess pod was not detached properly from PVC.  In my case after I have re-created the PVC and pod and everything is successful now.
My only problem is if I am deleting the pod, is there any condition in which my PVC is not properly detached ?

[2019-01-29 11:38] hexfusion commented on #10437
Hi @WIZARD-CXY thanks for the report because go-grpc-middleware does not support go mod every commit they make to master will change the checksum. On our end we can keep it updated but it seems this could be a regular thing and they really should resolve.

ref:
*  https://github.com/grpc-ecosystem/go-grpc-middleware/issues/185
* https://github.com/grpc-ecosystem/go-grpc-middleware/commits/master

[2019-01-29 11:38] bblay commented on #9877
@philippgille, based on [this comment](https://github.com/etcd-io/etcd/issues/9829#issuecomment-439545865), I solved the problem like this:
[code]

[2019-01-29 13:09] hexfusion commented on #10436
The fix was released with  [v3.3.4](https://github.com/etcd-io/etcd/blob/master/CHANGELOG-3.3.md#v334-2018-04-24). So it would affect etcd prior in 3.3.x.

[2019-01-29 13:15] vpramod0310 commented on #10436
Ok then we were running the fixed version at that time.

[2019-01-29 13:32] hexfusion commented on #10436
Also this could probably happen if DNS changed or was not available giving the impression it was the cert.

[2019-01-29 14:19] vpramod0310 commented on #10436
We are not using SAN. Also no DNS updates. These are certs.

[code]
Old One
[code]

[2019-01-29 14:22] vpramod0310 commented on #10436
Ah. Not sure on what changed it though still could not see any logs or symptoms on that.

[2019-01-29 14:52] hexfusion commented on #10436
So your certs have no  X509v3 extensions:? I am most curious in the cert info below where you show.

[2019-01-29 15:11] vpramod0310 commented on #10436
Sorry Pasting the complete certs here

Certificate:
    Data:
        Version: 3 (0x2)
        Serial Number:
            XXXXXXXXXXXXXXXXXXXXX
    Signature Algorithm: sha256WithRSAEncryption
        Issuer: O=etcd, CN=etcd-ca
        Validity
            Not Before: Nov 22 15:40:27 2018 GMT
            Not After : Nov 22 15:40:27 2019 GMT
        Subject: O=etcd, CN=etcd-ca
        Subject Publi

[2019-01-29 15:20] hexfusion commented on #10436
rkt was probably downloading etcd, but I am not a rkt expert.

Or maybe bootkube you have not talked about that. Basically etcd is reporting it sees "server" in SAN and it doesn't match the calling IP. this is expected, the rest of the equation is not etcd in my opinion so you need to figure that out.

[2019-01-29 15:21] hexfusion commented on #10436
This is your CA we need your cert output

[2019-01-29 15:37] hexfusion commented on #10436
"server" needs to resolve correctly to the calling IP dig around and see why this is failing.

` dig +short server @$DNSIP`

[2019-01-29 15:43] hexfusion commented on #10426
@hexfusion , @geauxvirtual I guess pod was not detached properly from PVC. In my case after I have re-created the PVC and pod and everything is successful now.
My only problem is if I am deleting the pod, is there any condition in which my PVC is not properly detached

Glad you got this fixed. I am not sure about the mount assuming you might have issue detaching a mount that is in use? I am going

[2019-01-29 15:43] #10426 closed

[2019-01-29 15:57] vpramod0310 commented on #10436
Seems to be working fine. No issue with resolving to IP. and there is only one record.

This error was gone once i replaced with the new certs on calling service (kubernetes apiserver in my case).

[2019-01-29 19:14] hexfusion commented on #10436
OK not sure what the issue is then. We can be sure of a few things.

* etcd itself did not change the certs
* it is working now

Is there anything that etcd did that you do not understand? My theory with the bad certificate is some sort of DNS issue, perhaps intermittent not sure.

[2019-01-29 21:23] jasper-d commented on #10433
@hexfusion I dont mind trying out some things and learning some go in the process. I got the PR working with some minor changes and will take a look at some go services that run on windows (i.e. gnatsd, Elastic Filebeat) to see how they do it.

[2019-01-29 21:39] cgreenlee-tc commented on #10427
Many projects have started updating their use of etcd to point to github.com/etcd-io/etcd, which is causing problems because v3.3.11 references github.com/coreos/etcd.  Is there any chance etcd can standardize?

[2019-01-29 21:48] hexfusion commented on #10427
@cgreenlee-tc you will see this in 3.4 as master is already using etcd-io. This is a series of unfortunate events. We changed org in between minor versions and experience growing pains of go mod at same time. 3.3 is the past so to speak and we can't change that. This topic will be a focus of our next community meeting as the situation is causing a lot of confusion and frustration for folks. Apolog

[2019-01-29 22:08] xiang90 commented on #10405
it seems like a bug in gRPC-go?

[2019-01-30 01:36] WIZARD-CXY commented on #10437
I can't agree more.

[2019-01-30 02:12] WIZARD-CXY commented on #10437
It is kinda of pain in the ass, this mismatch will make the go mod command fail to run like `GO111MODULE=on go mod vendor -v` in updatedep.sh...

[2019-01-30 04:01] spzala commented on #10289
So not sure if I am doing something incorrect or in a different way but I could not reproduce the issue exactly but I do see ```rpc error: code = Unavailable``` (i.e. https://github.com/etcd-io/etcd/blob/master/etcdserver/api/v3rpc/util.go#L108 instead of L113 as commented in the issue above)
This is how I am testing:
Run this on server:
```./bin/etcd --data-dir=data.etcd --name ${ETCD_NAME} --adv

[2019-01-30 13:03] hexfusion commented on #10438
@knisbet thanks for the report

[2019-01-30 13:05] hexfusion commented on #10437
closed via #10439

[2019-01-30 13:05] #10437 closed

[2019-01-30 13:22] hexfusion commented on #10412
@johnyannj kind ping.

[2019-01-30 17:53] #10336 closed

[2019-01-30 21:19] spzala commented on #10289
@menghanl thanks much for the great detail!! and yes etcds uses ```SetLoggerV2``` so that might be the reason. I will run again modifying it not to override default grpclog. Also for testing I used both, fmt.Printf and fmt.Println so as you guessed the problem might be something else but I will try again with grpclogger.

About the etcd server flags and their values -  for the ones that I used her

[2019-01-31 17:34] gyuho commented on #10438
@hexfusion @jpbetz We need a patch release with the new Go runtime.

[2019-01-31 17:42] hexfusion commented on #10438
I will work on scheduling for next week, this should only affect `release-3.3` so Joe is off the hook.

[2019-02-01 02:49] spzala commented on #10431
etcdctl throws expected error that ```--prefix` and `--from-key` cannot be set at the same time, choose one```
https://github.com/etcd-io/etcd/blob/master/etcdctl/ctlv3/command/get_command.go#L82

[2019-02-01 03:10] spzala commented on #10431
I am investigating but I guess we should provide a similar message when these two functions are called outside etcdctl as in this issue?

[2019-02-01 04:01] spzala commented on #9833
Assigning to myself for further investigation as I am looking into a related issue on the behavior of ```WithFromKey``` and ```WithPrefix```

[2019-02-01 07:54] billaram opened #10440 "404 not found /etcdserverpb.KV/Put"
Please read https://github.com/etcd-io/etcd/blob/master/Documentation/reporting_bugs.md.

I am getting 404 error for the API /etcdserverpb.KV/Put or any other v3 grpc API

[code]

etcd version 3.3.10
This is the link I followed to install etcd https://computingforgeeks.com/how-to-install-etcd-on-ubuntu-18-04-ubuntu-16-04/

My nginx conf is set properly and http2 enabled.

`/version` API is working

[2019-02-01 15:52] spzala commented on #9833
@LogicalChaos hello, the ```WithPrefix``` seems working fine for me with the latest code. But I could reproduce the issue for  ```WithFromKey```. I am working on creating a PR, meanwhile can you please try the github code and see if ```WithPrefix``` still gives you error. Thanks!

[2019-02-01 18:48] jpbetz commented on #10438
@hexfusion That's convenient! Ping me if you need any help.

[2019-02-01 21:35] gyuho opened #10442 "staticcheck: check unused, gosimple"
unused and gosimple have been deprecated (folded into staticcheck).

We have to make sure that we configure staticcheck to not miss any fmt tests from unused and gosimple, since I removed them in https://github.com/etcd-io/etcd/pull/10441.

[2019-02-01 21:35] gyuho commented on #10442
@hexfusion @spzala Can you look into these?

[2019-02-01 23:10] spzala commented on #10442
@gyuho thanks and sure, I will look into it. @hexfusion please let me know if you are already looking at it. I may need some help with this but will let you know. Thanks!

[2019-02-01 23:51] hexfusion commented on #10442
Go for it

On Fri, Feb 1, 2019 at 6:10 PM Sahdev Zala <notifications@github.com> wrote:

--
—

[2019-02-02 21:37] #10430 closed

[2019-02-04 11:58] PoojaGidaveer opened #10447 "Clarification on etcd Range API"
I am trying to understand the range API.
First I ran put api using benchmark tool with 520000 keys and then run following range command-
benchmark --endpoints=${HOST_1} --conns=100 --clients=1000  range foo --consistency=l --total=100000
Then when I curl forall keys in etcd (curl -L https://{host_id}/v3alpha/kv/range -X POST -d '{"key": "AA==", "range_end": "AA=="}'), ideally it should display 520

[2019-02-04 12:23] hexfusion commented on #10436
@vpramod0310 have we answered your questions?

[2019-02-04 20:52] alexbrand commented on #9949
/subscribe

[2019-02-05 02:47] vpramod0310 commented on #10436
@hexfusion Thanks. One thing still with 3.3.4 version tls auto reload should have been solved but why did this occur in our case.

[2019-02-05 10:00] Deepak1100 opened #10449 "etcdserver: timed out waiting for read index response"
Etcd is not responding with below error. the process keeps running and hence it won't even get reboot by kebelet.
we have faced this issue multiple time in different clusters.

I have looked into the issue which has error similar to mention below but we i think we don't have such problem.

[code]

[code]
I have setup cluster using kops.
and we have around 20 nodes c5.9xlarge and 3 master m5.xlarge

[2019-02-05 12:34] hexfusion commented on #10449
@Deepak1100 can you give us a dump of the metrics for these nodes. `wal_fsync_duration_seconds` is one metric but I have also seen where fsync looks OK but `backend_commit_duration_seconds` spikes. If we can see everything it would be helpful for debug, thanks.

[2019-02-05 12:54] hexfusion commented on #10449
Dug a little and if you see the updated log message it does give a hint.

https://github.com/etcd-io/etcd/commit/38711761a197b78dfe4a89e471255b6649387570

[2019-02-05 14:05] armanriazi opened #10450 "Rancher: watch chan error: etcdserver: mvcc: required revision has been compacted"
I use rancher 2 HA AirGap. After run docker command  i get result of etcd!?
(I installed kubectl 1.8.15  by snap and I don't have /etc/kubernetes/ path and also I get this message of kubectl: The connection to the server localhost:8080 was refused - did you specify the right host or port?)
Because of running rancher in docker it's a little bit hard to access for fixing problem

Result:

My cluster

[2019-02-05 15:14] reefbarman commented on #10325
I still see this issue using the latest release, I am using go modules in go 1.11 is there anything specific I need to do to resolve this?

[2019-02-05 15:17] reefbarman commented on #10325
exact error is here:

panic: codecgen version mismatch: current: 8, need 10. Re-generate file: C:/Go/pkg/mod/github.com/coreos/etcd@v3.3.11+incompatible/client/keys.generated.go

goroutine 1 [running]:
github.com/coreos/etcd/client.init.0()
        C:/Go/pkg/mod/github.com/coreos/etcd@v3.3.11+incompatible/client/keys.generated.go:45 +0x10b
exit status 2

[2019-02-05 22:19] jingyih commented on #10408
@mitake Does this part of the code have the same logic?  If the revision is already behind, does retry help?
https://github.com/etcd-io/etcd/blob/1fe6f109c87c4fa47775426a6a60c3b954ed5c33/etcdserver/v3_server.go#L531-L538

[2019-02-06 11:56] maoling opened #10453 "how to run etcd benchmark tool."
- just as the[ issue-8386](https://github.com/etcd-io/etcd/issues/8386) ,I read the [doc](https://coreos.com/etcd/docs/3.3.1/op-guide/performance.html), but still cannot know how to etcd benchmark tool,I exec `go get github.com/coreos/etcd/tools/benchmark`,then exec
 `benchmark --endpoints=${HOST_1} --target-leader --conns=1 --clients=1  put --key-size=8 --sequential-keys --total=10000 --val-size=

[2019-02-06 16:22] spzala commented on #10453
@maoling hello, from your cloned copy, try this one `go install -v ./tools/benchmark` and then run your benchmark, let's see if that work.

[2019-02-06 18:16] mkumatag opened #10455 "etcd go vet shadow check failed on tip"
go vet shadow fails with following error with tip golang:

[code]

Failing job: https://travis-ci.com/etcd-io/etcd/jobs/174896940

This is failing because of `As part of this change, the experimental -shadow option is no longer available with go vet.`

1.12 release notes: https://tip.golang.org/doc/go1.12#vet

[2019-02-06 18:16] mkumatag commented on #10455
To use shadow we need to follow the steps mentioned in the release notes:

[code]

[2019-02-06 23:02] xiang90 commented on #9949
/cc @gyuho @jpbetz

@jsok Is the TLS config in etcd client side or in the gRPC side? Can we switch to use a fresh config if the endpoint is different from the previous through balancer? Can you take look if we can fix this problem from etcd client side?

[2019-02-07 00:38] hexfusion commented on #10453
Great comment regarding compiling from source and to `go get` this works for me.

`go get go.etcd.io/etcd/tools/benchmark`

If you use that method just make sure $GOPATH/bin is part of your $PATH something like

[code]

[2019-02-07 00:45] hexfusion commented on #10450
@armanriazi this is more of a notice then a error in my opinion, regardless we document this pretty well here. [Documentation/dev-guide/interacting_v3.md#compacted-revisions](https://github.com/etcd-io/etcd/blob/3e0f0ba40ecb009cd6edccd4053ae6b1acc6b4c7/Documentation/dev-guide/interacting_v3.md#compacted-revisions)

The server shuts down because it was manually killed (Ctrl C?) so the rest of the e

[2019-02-07 00:45] #10450 closed

[2019-02-07 00:49] hexfusion commented on #10449
@Deepak1100 did you checkout your metrics around networking?

[2019-02-07 01:45] hexfusion commented on #10447
Yeah I can't say I understand what is going on with the benchmark put, fair to say `--sequential-keys` is broken. Basically it is writing 1 key N times.

[code]

`etcdctl get --from-key '' -w json`
{"header":{"cluster_id":14841639068965178418,"member_id":10276657743932975437,"revision":10001,"raft_term":2},"kvs":[{"key":"AAAAAAAAAAA=","create_revision":2,"mod_revision":10001,**"version":10000**,"v

[2019-02-07 02:05] hexfusion commented on #10436
@vpramod0310 nothing here clearly tells me that etcd is to blame for the errors seen in the logs. The bug patched in 3.3.4 was for certs with IP only in SAN. Your certs have both IP and domain so would not be to blame.

From what I see here I feel the blame is probably on bootkube https://coreos.com/tectonic/docs/latest/troubleshooting/bootkube_recovery_tool.html#bootkube-recover

Unless you can r

[2019-02-07 02:05] #10436 closed

[2019-02-07 02:07] hexfusion commented on #10433
Hi @jasper-d just checking in do you have any questions?

[2019-02-07 08:23] mkumatag commented on #10455
/cc @gyuho @xiang90

[2019-02-07 08:43] mkumatag commented on #10267
The test is stuck because it expects handshake error @ https://github.com/etcd-io/etcd/blob/master/pkg/transport/transport_test.go#L65 but a handshake is going through because of latest changes made in 1.12

From the [Go 1.12 Release Notes](https://tip.golang.org/doc/go1.12#tls_1_3):

Refer https://github.com/golang/go/issues/30109 for more information.

[2019-02-07 12:07] maoling commented on #10453
@spzala @hexfusion Thanks for your help.
- it will be be a disaster for a Chinese user due to the GFW.
- use the way from hexfusion,I exec `go get go.etcd.io/etcd/tools/benchmark` almost a whole day,and only success one time miraculously(cry), then I find her under `$GOPATH/bin`.Bingo!
- use the way from spzala,I get some dependency errors(`net`,`time` not in my local(cry)):

Fetching https://goog

[2019-02-07 14:22] mkumatag commented on #10267
@xiang90 @gyuho due to this limitation, I'm limiting TLS to TLS12 for the test. We need to figureout what needs to be done with CipherSuites when we ship to golang 1.12 in future.

[2019-02-07 17:15] jasper-d commented on #10433
@hexfusion Not yet, I was occupied with some more pressing issues. I probably wont have time to look into it before next weekend.

[2019-02-07 18:23] #10455 closed

[2019-02-07 18:30] mnajork-palantir commented on #10325
When can we expect a release to get cut which contains the fix?

[2019-02-07 19:17] caniszczyk opened #10458 "Add license scanning via FOSSA"
CNCF requires projects to have license scanning for projects: https://fossa.com

We have a license with FOSSA to do it.

[2019-02-07 20:08] gyuho commented on #10438
Released v3.3.12 with Go 1.10.8.

https://github.com/etcd-io/etcd/releases/tag/v3.3.12

[2019-02-07 20:08] #10438 closed

[2019-02-07 20:25] hexfusion commented on #10438
Signing will be completed within the hour

[2019-02-07 21:06] tskarman commented on #10433
Just wanted to let you know that this is not a general issue.
I am running etcd and the etcd grpc proxy as a Windows service across a wide variety of Windows machines (Windows Server 2012 R2, Windows Server 2016, Windows Server 2019, Windows 10) and have been for >6 months and across various etcd versions.

Of note:
* I am also running them under the Local System account. I am not sure whether I t

[2019-02-07 21:12] taniaengel opened #10459 "etcd 3.3.3 apiv2 initial-cluster -strict-reconfig-check=false does not apply"
We operate on Windows Server 2016. We use etcd 3.3.3 with v2 api. When we used etcd 2.3.7 (when strict_reconfig_check was default off) our test worked fine.

We have the following test:
1) Create a new cluster:

2) Join a member:

3) On that member also start etcd.exe with -initial-cluster="existing" and specify -strict-reconfig-check=false. Works fine.

4) Stop server running member DEF. Attempt

[2019-02-07 21:14] xiang90 commented on #10267
lgtm

[2019-02-07 21:15] #10267 closed

[2019-02-07 22:50] #9833 closed

[2019-02-08 05:03] haroldHT commented on #10433
@tskarman
I can reproduce jasper-d's question when I use `sc` in windows 10.

@hexfusion
Can I create a new PR ?
Both work in windows and linux.

[2019-02-08 05:44] jasper-d commented on #10433
@haroldHT #3410 Does not gracefully stop etcd and has some other flaws. The reason that etcd does not work as a service is that it doesn't communicate with SCM. #3410 adds some basic support for it (using golang's svc package which essentially all windows services written in go use). Properly handling stop/shutdown as well as redirecting stdout/stderr (i.e enabling log output) requires some more w

[2019-02-08 06:27] Deepak1100 commented on #10449
@hexfusion  through prom API i tried to get the metrics at that time as now metrics port is not working on that node.
[code]

[2019-02-08 07:54] tskarman commented on #10433
@jasper-d yes, I completely understand and now am interested in a solution as well. let me know when I can help you. My `go` is rusty and not a priority for me right now, but I could help with testing across the aforementioned operating systems.

That being said. I run etcd like this in production and have not encountered any reliability or responsivity or service signalling issue. So I would reco

[2019-02-08 12:09] atotala commented on #10426
- name: key-value-store
        image: quay.io/coreos/etcd:latest
        imagePullPolicy: IfNotPresent
        command:
        - etcd
        - --name=etcd-1
        - --listen-client-urls=https://0.0.0.0:2379
        - --advertise-client-urls=https://0.0.0.0:2379
        - --data-dir=/var/etcd/data
        - --client-cert-auth
        - --trusted-ca-file=/secure/vault-cert/ca.crt
        - --ce

[2019-02-08 12:11] atotala commented on #10426
@hexfusion : we are still facing the issue, the workaround that I used is not a very feasible solution, please suggest.

[2019-02-08 23:11] lifangmoler commented on #10325
Seeing the same issue using the latest version

[2019-02-09 01:10] lifangmoler commented on #10325
is the latest version containing the fix for this?

[2019-02-09 01:10] lifangmoler commented on #10325
@mnajork-palantir how to do `vendor in the dependency at the fix's merge commit to pick up the changes.`?

[2019-02-09 02:55] gbolo commented on #9785
I ran into this as well. Adding client usage fixed it. I agree that there should be an option for separate client cert for this purpose instead of hijacking the server certificate for this purpose!

[2019-02-09 13:13] haroldHT commented on #10433
@jasper-d #10460

But I am confused with the log output.
The log(i.e etcd_err.log,etcd_out.log) position I can use `cfg.ec.Dir`,
But the output of log whether etcd have some utils so I can use it.

And I do not know how to connect etcd's log to service.
Thanks.

[2019-02-09 14:57] mnajork-palantir commented on #10325
@lifangmoler what are you using as your dependency management tool?

Here's the commit containing the fix: https://github.com/etcd-io/etcd/commit/f3fbedc88f52527ef4dd051bea53e8c99a569831

[2019-02-09 18:07] hexfusion opened #10461 "Documentation: downgrade clarification"
If a cluster is upgraded to 3.3 from 3.2 the documentation states that downgrade is not possible. [1] This holds true with regard to the binary version of etcd members. For example, if a cluster is upgraded to 3.3 and all members agree on 3.3 api, version is then appended to the state file. The downgrade of etcd members to a minor version lower then 3.3 (ie 3.2)will then result in panic.

But in t

[2019-02-09 18:51] lifangmoler commented on #10325
@mnajork-palantir I am using `go mod`.  I can see the commit and the change. but still not sure how to pick the change

[2019-02-09 19:52] lifangmoler commented on #10325
trying this `go get github.com/coreos/etcd@f3fbedc`, seeing new errrors: ```go: finding github.com/coreos/etcd f3fbedc
go: github.com/coreos/etcd@v0.0.0-20181221231655-f3fbedc88f52: parsing go.mod: unexpected module path "go.etcd.io/etcd"
go: error loading module requirements```

[2019-02-10 02:45] hexfusion opened #10462 "Documentation: fix --strict-reconfig-check default"
Doc mismatch, just a reminder to fix this.

https://github.com/etcd-io/etcd/blob/master/Documentation/op-guide/configuration.md#--strict-reconfig-check

https://github.com/etcd-io/etcd/blob/fa521f4e00fedfb6d98449d92a6408d0b3b0d922/embed/config.go#L67-L69

[2019-02-10 03:01] hexfusion commented on #10433
Can I create a new PR ?
Both work in windows and linux.

@haroldHT thanks for showing interest in resolving this. Please work with @jasper-d  and @tskarman on a solution then let me know if you have any questions.

[2019-02-10 03:09] hexfusion opened #10463 "benchmark: fix install docs"
Fix install docs for benchmark tool

https://github.com/etcd-io/etcd/tree/master/tools/benchmark#install

ref: https://github.com/etcd-io/etcd/issues/10453

[2019-02-10 03:31] hexfusion commented on #10426
Could you use an unit container to verify PVC was unmounted? You need to
verify what is happening that is causing the issue. Seems like an init
container could do that for you.

On Fri, Feb 8, 2019 at 7:11 AM atotala <notifications@github.com> wrote:

--
—

[2019-02-10 21:38] hexfusion commented on #10325
Played with this a little and I found if you are using go mod for your project and running into issues with "codecgen version mismatch: current: 8, need 10. Re-generate file:" try:

`go get github.com/ugorji/go@v1.1.1` which is the version we pin https://github.com/etcd-io/etcd/blob/master/go.mod#L45

go.mod
[code]
Curious if this helps folks.

[2019-02-10 21:41] hexfusion commented on #10325
@lifangmoler @mnajork-palantir @reefbarman ^

[2019-02-11 03:27] cfc4n commented on #10453
How about try to use GOPROXY to do that by package https://github.com/goproxyio/goproxy ?
And I use it with a HK VPS .It's work!

[2019-02-11 09:37] reefbarman commented on #10325
@hexfusion so I have gotten further with the suggestion change but then received this
[code]

Will dig to see if I can resolve this but I am not specifically requiring github.com/ugorji/go/codec

[2019-02-11 09:51] reefbarman commented on #10325
okay I found it was github.com/spf13/viper also requiring go/codec and I forked this and updated it to use the same versions of etcd and go/codec and it built. But ideally etcd would support go mod so things can be versioned correctly

[2019-02-11 16:34] mitake commented on #10408
@jingyih yeah the motivation of the code is shared with the older version of `doSerialize()`. If the revision is behind, clients should call `Authenticate()` request again. So it isn't working. Like read only RPCs, this loop should also be moved to the client. Thanks for pointing out!

[2019-02-11 18:13] vhosakot commented on #8328
I saw the same error when using mysql client in golang:

[code]

and setting `InsecureSkipVerify` to `true` (to skip verification of certificate) resolved it for me:

https://godoc.org/crypto/tls#Config

[2019-02-11 18:13] vhosakot commented on #8318
I saw the same error when using mysql client in golang:

[code]

and setting `InsecureSkipVerify` to `true` (to skip verification of certificate) resolved it for me:

https://godoc.org/crypto/tls#Config

[2019-02-11 18:26] lifangmoler commented on #10325
@hexfusion It is working for me after i tried  `go get github.com/ugorji/go@v1.1.1`. thanks

[2019-02-11 19:29] jingyih commented on #10282
cc @wenjiaswe

[2019-02-11 19:31] jingyih commented on #10289
cc @jpbetz

[2019-02-12 02:33] johnyannj commented on #10412
@hexfusion I know nginx support this，  when start nginx， input the password.

[2019-02-12 07:37] rinsozheng opened #10466 "boltdb hit panic: pgid above high water mark"
## Problem: We configured one node eted cluster, and we are doing following test:
--------------------------------
1. Power off the node
2. Power on the node
3. Sleep for some time (2 minutes or so)
4. Continue the above steps for 621 times
--------------------------------

After the test, we we hit below error in ETCD log, and ETCD can not be up again.

**panic: pgid (32300) above high water mark

[2019-02-12 07:40] xiang90 commented on #10466
/cc @WIZARD-CXY can you take a look?

[2019-02-12 07:43] rinsozheng commented on #10466
Related issue#7579.

[2019-02-12 08:07] xiang90 commented on #10466
@rinsozheng

can you provide a script that we can run to reproduce this problem? thanks!

[2019-02-12 09:11] zhufeizzz opened #10467 "How to ls in etcd v3?"
How can I ls "/config" directory to get "/a /b /c" in etcd v3?

I don't want to "get /config --prefix" and compare all keys for 10000 times.  Is there anyway to do this?

    /config
    .../a/
    .../b/
    ....../xxx # about 100000 keys
    .../c/

[2019-02-12 09:13] rinsozheng commented on #10466
Providing...

[2019-02-12 09:42] rinsozheng commented on #10466
We are using APC to monitor the power on/off , no sure if you can run the same script in your Env. Our script is below:
--------------------------
#!/usr/bin/env python

import os
import time
import random
import sys

def reboot_cycle_snmp(number):
    i=1
    file_time = time.strftime('%Y%m%d%H%M%S',time.localtime(time.time()))

    f=open('./run.log','a+')

    #wait_time = random.randint(mintim

[2019-02-12 10:12] maoling commented on #10467
`ls` is missing in the etcd v3. the answer may be No :D

[2019-02-12 13:16] cfc4n commented on #10467
@zhufeizzz Sorry,I don't understand what you mean ,Can you explain your question more clear please?

[2019-02-12 15:30] #10462 closed

[2019-02-12 16:56] taniaengel commented on #10459
I am going to close this as we found that it will work as long as we include the -strict-reconfig-check=false on every start of etcd (even when not configuring initial-cluster).

[2019-02-12 16:56] #10459 closed

[2019-02-13 01:49] rinsozheng commented on #10466
This happens a lot, please take a look.

[2019-02-13 07:50] cfc4n commented on #10362
@hexfusion @gyuho @xiang90
This bug was fixed at [Fixes established streams leak in the loopy writer.] (https://github.com/grpc/grpc-go/pull/2610) yesterday .

[2019-02-13 07:57] zhufeizzz commented on #10467
These are my keys. I can use "ls /config" to get "a b c" in v2. But if I use "get /config --prefix" in v3, I will get 100000 keys.

[code]

[2019-02-13 09:53] haroldHT opened #10469 "go build failed due to checksum mismatch"
## Repro:
1. export GO111MODULE=on
2. go mod verify
3. go build

## Expected:
go build success

## Actual:
* go build
go: downloading golang.org/x/net v0.0.0-20180906233101-161cd47e91fd
go: downloading github.com/grpc-ecosystem/go-grpc-middleware v1.0.0
go: downloading go.uber.org/multierr v1.1.0
go: verifying github.com/grpc-ecosystem/go-grpc-middleware@v1.0.0: checksum mismatch
        downloade

[2019-02-13 16:10] zhsj commented on #9353
Hi, does this affect stable release? and is there any plan to backport the security fix, especially 3.2.x?

[2019-02-13 21:18] gyuho commented on #10467
We only support prefix matching.

There is no directory hierarchy in v3.

[2019-02-13 21:18] #10467 closed

[2019-02-14 00:27] lebentle opened #10471 "go build failed : cannot use lg (type *"go.uber.org/zap".Logger) as type *"go.etcd.io/etcd/vendor/go.uber.org/zap".Logger in argument to snap.New"
I am using go 1.12. beta and just upgraded from go 1.10.
I turned off go modules for the build.

[2019-02-14 00:31] hexfusion commented on #10471
@lebentle I assume you are building within GOPATH? How are you building, steps to reproduce please.

[2019-02-14 00:33] lebentle commented on #10471
I am just running go build inside my go workspace

[2019-02-14 00:43] hexfusion commented on #10471
please report

` echo ${PWD} : ${GOPATH} : ${GO111MODULE}`

[2019-02-14 00:46] lebentle commented on #10471
/usr/myworkspace/go/src/storagegrid/rsm : /usr/myworkspace/go : off

[2019-02-14 00:51] hexfusion commented on #10471
/usr/myworkspace/go/src/storagegrid/rsm`

This package is not properly using etcd as a dependency then. What are you using to manage dependencies? How does this dependency config look for etcd in your project?

[2019-02-14 01:09] lebentle commented on #10471
I have manually, put all my all the dependencies I need in my gopath and then I just rely on the import statements in my code to find etcd.
Feb 11 17:30 github.com
Feb 11 14:29 go.etcd.io
Mar 28  2018 golang.org
 Mar 28  2018 gopkg.in
 Feb 11 17:38 go.uber.org
Jul 10  2018 storagegrid

[2019-02-14 01:31] rinsozheng commented on #10466
Is there any w/a for the issue?

[2019-02-14 01:43] haroldHT commented on #10433
@hexfusion Sorry,I always @ wrong people,
Etcd have so many kind of log that it make me confuse, I need to spend a lot of time to understand.

[2019-02-14 06:48] WIZARD-CXY commented on #10466
ok I will take a look

[2019-02-14 06:54] WIZARD-CXY commented on #10466
@rinsozheng I have saw your script, but I don't see any etcd related ops, are you putting the data into the etcd when the node is down?

[2019-02-14 07:15] WIZARD-CXY commented on #10466
does upgrade the etcd version solve the problem? I saw you are using 3.1.9

[2019-02-14 10:44] srajmane opened #10474 "fmt Test failures"
I am working with v 3.3.11 and I am facing same issue as mentioned in
https://github.com/etcd-io/etcd/issues/10130

https://github.com/etcd-io/etcd/blob/v3.3.11/test#L47

[code]

Can I apply above change to run test using **./test** command ?

OR

Is it okay to run test cases using **make test** command?

[2019-02-15 01:55] firetaker commented on #10055
I got this error,too

[2019-02-15 06:31] hnlq715 opened #10477 "client: panic after updating github.com/ugorji/go to v1.1.2"
go version 1.11.4

go get -v github.com/ugorji/go@v1.1.2

[code]

This issue was caused by https://github.com/ugorji/go/blob/master/codec/gen-helper.generated.go#L17

The latest ugorji/go's GenVersion=10 and when we update ugorji/go to the latest version like v1.1.2

etcd/client finds out GenVersion != 8, and panic comes out...

please fix this ASAP, thanks a lot

#10370

[2019-02-15 09:26] madkilly opened #10478 "will key's version overflow?"
**if i write a already existing key to etcd very frequently, will this key's version overflow**

kvs {
  key: "/test/pushserver/ws://test:8080/inotify"
  create_revision: 12624592
  mod_revision: 12627046
  **version: 18**
  value: "{\"serverName\":\"testserver1\",\"serverAddress\":\"ws://test:8079/inotify\",\"serverPort\":8080,\"channelSize\":0}"
  lease: 7587834067690449324
}

[2019-02-15 10:03] zumbi opened #10479 "CVE-2018-1098, CVE-2018-1099: please consider backporting fix to v3.3 and v3.2"
# Request
Please consider backporting [fix](https://github.com/etcd-io/etcd/issues/9353) for CVE-2018-1098 CVE-2018-1099 to older branches (release-3.3,release-3.2,etc).

# Background information
v3.2 is part of a stable distribution release, and it is important to support it security wise.

Thanks for your consideration.

[2019-02-15 10:06] zumbi opened #10480 "Consider releasing v3.4"
v3.4 contains important security fixes for CVE-2018-1098 CVE-2018-1099.

Could you consider making a release for that branch? Thanks in advance.

[2019-02-15 14:56] hexfusion commented on #10461
More information on this after a bit of research. The member will hit the below and exit with 1 if the agreed upon cluster version is greater than the etcd binary version of the member itself. So as I noted above in a 3.3 cluster a 3.2 member will fail.

https://github.com/etcd-io/etcd/blob/e06761ed79c0ddcc411e300de171ada63bb5bef2/etcdserver/membership/cluster.go#L510

In 3.x the underlying data f

[2019-02-15 18:46] hexfusion commented on #10477
@hnlq715 The v2 client requires [regeneration](https://github.com/etcd-io/etcd/blob/master/scripts/update-clientv2.sh) when using different versions of this package. Currently we are pinned to https://github.com/etcd-io/etcd/blob/master/go.mod#L45 v1.1.1 which had some go mod issues. I see the new version apparently better handles this issue.

So the solution would be to bump to 1.1.2 and [regener

[2019-02-15 19:15] hexfusion commented on #10471
@lebentle OK I am going to leave you with a few questions that might steer you in the right direction.

1.) What version of etcd is your project using?
2.) If you wanted to make your project portable how could you achieve that?
3.) Why is etcd looking for it's own dependencies in a vendor/ dir and why isn't it working in your project?
4.) If it was portable how can you guarantee the etcd you use i

[2019-02-15 19:23] hexfusion commented on #10449
@Deepak1100 unless you specifically defined it the metrics endpoint listens on the etcd client port. If the client port does not respond then that is a problem on its own. Please show me the commands you are using to GET /metrics. Also can you show me how the logs look on that server around this same time if that port does not respond?

[2019-02-15 19:35] hexfusion commented on #10449
I meant to ask for a get on /metrics vs the prom api output. It will be easier to review and more complete please attach output as a file.

[2019-02-16 01:32] jpbetz commented on #10461
Sam,

By all means work closely with Wenjia.  I know she is close to kicking off
development based on the current design so any design feedback you have
would be very welcome.  And implementation contributions would also be very
welcome.

-Joe

On Fri, Feb 15, 2019 at 6:56 AM Sam Batschelet <notifications@github.com>
wrote:

[2019-02-16 03:57] hnlq715 commented on #10477
Exactly, I'll handle this and raise a PR :-)

[2019-02-16 07:15] xiang90 commented on #10478
it is uint64.

[2019-02-16 07:15] #10478 closed

[2019-02-16 10:05] hnlq715 commented on #10477
@hexfusion please check if I missed something in this PR

[2019-02-18 06:31] WIZARD-CXY opened #10482 "proposal for making etcd scheduleCompact configurable"
Now the etcd use `scheduleCompaction` in https://github.com/etcd-io/etcd/blob/master/mvcc/kvstore_compaction.go#L33 do the scheduler compaction.
But the batchsize and compact interval is fixed as below:
 `batchsize := int64(10000)` and `case <-time.After(100 * time.Millisecond)`.
 I think we'd better make them configurable.
One use case: in large clusters we can make  compaction in the background

[2019-02-18 06:32] WIZARD-CXY commented on #10482
@xiang90 @hexfusion WDYT

[2019-02-18 06:39] WIZARD-CXY commented on #10482
Maybe we can add two field in the `store` object like `compactBatchSize` and `compactInterval` and use `NewStore` to init them?

[2019-02-18 08:03] guoger opened #10483 "Leader failover may be significantly prolonged due to lease-check when `CheckQuorum` is enabled"
If `randomizedElectionTimeout == electionTimeout && CheckQuorum == true`, leader failover may be prolonged significantly, due to [lease-checking](https://github.com/etcd-io/etcd/blob/784daa04988ca5472ec82801639f905c03d5e015/raft/raft.go#L843) :
https://github.com/etcd-io/etcd/blob/784daa04988ca5472ec82801639f905c03d5e015/raft/raft.go#L843

Suppose we have a cluster of 3 nodes, n0, n1, n2, where n0

[2019-02-18 08:04] guoger commented on #10483
I'd suggest to change `resetRandomizedElectionTimeout` to
[code]

[2019-02-18 16:31] baerree commented on #169
Yep Still an issue with version: `{"etcdserver":"3.3.8","etcdcluster":"3.3.0"}`

[code]

This happens if itemservice directory already exists.

Cheers

[2019-02-19 03:48] hnlq715 opened #10485 "clientv3: any plan to implement the new grpc resolver interface?"
https://github.com/grpc/grpc-go/blob/master/resolver/resolver.go

https://github.com/grpc/grpc/blob/master/doc/naming.md

[2019-02-19 06:22] rinsozheng commented on #10466
We have not tried any newer versions for now.

[2019-02-19 06:22] rinsozheng commented on #10466
Please let's know if newer versions fix the issue, which version do you recommend?

[2019-02-19 07:50] xiang90 commented on #10466
@rinsozheng Can you try etcd 3.3.11? we fixed a few issues in bbolt in that release.

[2019-02-19 13:00] ivanovaleksey commented on #10480
As I can see v3.4 would also fix issues with import paths https://github.com/etcd-io/etcd/issues/10410

[2019-02-19 14:02] hexfusion commented on #10480
@ivanovaleksey @zumbi I understand your concerns. You can review the progress on 3.4 [here](https://github.com/etcd-io/etcd/milestone/36). Until the community agrees on a final feature set and we complete that 3.4 won't be released. In our last community meeting we discussed the possibility of reducing the number of features in 3.4. Saying that I don't see a release until Summer 19 earliest, we al

[2019-02-19 14:02] #10480 closed

[2019-02-19 17:29] #10469 closed

[2019-02-19 17:49] wenjiaswe commented on #10461
@hexfusion thanks for digging into this and sorry for the delay. Yes you are right, once the cluster version is already at the higher minor version, then adding lower version member is not acceptable and that's exactly what we could solve in downgrade support. And the first step we want to do is to temporarily whitelist the one minor version during downgrade: https://github.com/etcd-io/etcd/issues

[2019-02-19 18:39] gyuho commented on #10485
/cc @jpbetz @gyuho

[2019-02-19 18:39] gyuho commented on #9949
@xiang90 @jpbetz I can reproduce this. Let me see if I can fix this in etcd client side.

[2019-02-19 21:20] puneethkosaraju opened #10487 "Failed to restart single node etcd with data_dir mapped to persistentvolume in kubernetes"
Hi I am deploying an etcd container in a k8s pod with **data_dir mapped to persistent volume claim** created for the pod. The first time the pvc and pod is created, etcd service is up and running and everything is working as expected.

Once I delete the k8s deployment and create it again, it does recognize during bootstrap to restart existing member (may be due to non-empty data_dir) but fails to

[2019-02-19 21:56] jingyih commented on #10453
My understanding is the tools under the [tool](https://github.com/etcd-io/etcd/tree/master/tools) folder are not necessarily needed by every user, so their download and installation is optional. Whereas etcdctl is the command line tool that is likely used by most users.

[2019-02-20 01:15] gyuho commented on #9949
Issue was client balancer receives connection status of `connection refused` as transient failure, so it keeps retrying. I will see if we can handle this in server (with different error message), or failover in balancer side.

[2019-02-20 01:35] scotwells commented on #9416
We seem to be experiencing a similar issue with our current production setup running on etcd v3.2.24. The number of open watches on the server continues to climb until we hit  between ~23k and ~32k open watchers. Once the number of etcd open watches flat lines, etcd will fail to send watches out to clients and we see a sharp rise in Slow Watchers.

While diving into the code, we noticed that the w

[2019-02-20 03:05] hexfusion commented on #10487
[code]

The PVC should probably be ReadWriteOnce vs ReadWriteMany to protect the data-dir? I can't see any reason you would want multiple pods on the same PVC. Whatever is happening in k8s when these pods attempt to detach and re attach to the PVC is causing some kind of corruption.

seems a duplicate of https://github.com/etcd-io/etcd/issues/10426

[2019-02-20 03:43] atgreen commented on #509
It turns out that you can abuse confd to do this for you:  https://github.com/atgreen/s2i-confd

[2019-02-20 05:07] Rakoth commented on #8610
WithPrevKV has no effect on get operation

[2019-02-20 07:18] ofrivera opened #10488 "Node failure in a 3 node clusters version 3.1.3"
I have a 3 node cluster running on vms, one of the them crashed today and I can't get it back, we store v2 (flannel) and v3 data in this etcd cluster. That being said the other 2 nodes are running fine at this moment.

What are the steps I should follow to recover or replace a node? We use package version is 3.1.3 but the fact that we store v2 avd v3 I think affects the existent procedures.

[code

[2019-02-20 07:30] ofrivera commented on #10488
Systemd service file

[code]

[2019-02-20 07:32] ofrivera commented on #10488
Config file

[code]

[2019-02-20 07:57] satta commented on #10479
Thanks! This will also help keeping the packaged version in Debian up to date and secured.

[2019-02-20 21:35] puneethkosaraju commented on #10487
I have gone through the referred issue #10426

Any helpful pointer on how to test this one. I verified from PVC perspective when deployment is deleted and deployed again, the mounting and un-mounting of pod was shown correctly. Not able to figure out the exact root cause of the error message and whether or not the issue is in pvc or data_dir or etcd ?

[2019-02-20 21:39] hexfusion commented on #10487
Did you try changing accessModes per above remove the data-dir completely and start again?

[2019-02-20 22:00] puneethkosaraju commented on #10487
Yes, have tested with ReadWriteOnce, still the same issue.
If i remove the data_dir it might work but defeats the purpose of having PVC in the first place - to persist data across multiple pod restarts.

[2019-02-20 22:32] lebentle commented on #10471
Yea, I am silly. Figured it out. Thank.

[2019-02-20 22:32] #10471 closed

[2019-02-21 00:15] ofrivera commented on #10488
I was able to replace the crashed node with the following steps:
[code]
1. Remove the failed member before adding the new member:
[code]
2. Remove it from discovery.etcd.io as well
[code]
3. Confirm everything looks fine in discovery.etcd.io
[code]
4. From one of the surviving etcd host, add the new host to the cluster:
[code]
5. Add it to discovery.etcd.io as well
[code]
6. On the NEW etcd host,

[2019-02-21 01:39] 13567436138 opened #10490 "can etcd.slack.com admin invite me to join"
my email address is 195446040@qq.com

[2019-02-21 01:41] hexfusion commented on #10490
@13567436138 etcd community uses kubernetes.slack.com #etcd

[2019-02-21 01:43] hexfusion commented on #10490
http://slack.k8s.io/ :(

[2019-02-21 01:59] hexfusion commented on #10488
ETCD_INITIAL_CLUSTER="10.10.3.10=http://10.10.3.10:2380,10.10.3.250=http://10.10.3.250:2380,10.10.3.8=http://10.10.3.8:2380"
ETCD_INITIAL_CLUSTER_STATE="existing"

#ETCD_DISCOVERY=https://discovery.etcd.io/[hidden-on-purpose]

No just leave this as is discovery is only use for bootstrapping the cluster. After the member joins the cluster no matter what is populated in these ENV vars will be supers

[2019-02-21 02:48] chaoleili opened #10491 "A little question of comment in raft."
I'm a little confused about this comment in Raft. https://github.com/etcd-io/etcd/blob/8c228d692bfa516e1c0977922f061b9a0fb1ae0f/raft/raft.go#L952
`it's local term is now of date`. I think when PreVote is enabled, the node's local term should be `out of date` instead of `now of date` when it was previously partitioned away as PreVote won't update local term. Is it only a typo or something else. Ple

[2019-02-21 03:51] rinsozheng commented on #10466
When we delete the data directory of Etcd, and re-setup the cluster, the issue disappeared, not sure if there is any dirty data caused the issue.

[2019-02-21 05:20] 13567436138 commented on #10490
thanks

[2019-02-21 06:52] guoger commented on #10483
https://github.com/etcd-io/etcd/commit/23731bf9ba556867089a9cc8db5e492ca6035fe8 fixes this.