[2016-03-07 22:41] heyitsanthony opened #4709 "clientv3: embedded client"
In the future, some features implemented through the client may be "embedded" in the server for better performance (e.g., locks). Ideally, these features should work on the server without additional modification. Right now clientv3 expects to connect via gRPC to an etcd v3 server. In order to get good performance for the embedded case, the embedded client implementation should directly call the in

[2016-03-07 23:29] xiang90 commented on #3170
@tamird Do we still want this happen?

[2016-03-07 23:57] ark76r commented on #3709
@mitake It was the one of the options (another is to prohibit deletion of the roles granted to the user).
And yes, of course internally deleting is usually performed with the help of some marker describing 'deleted' state. Deletion itself is usually deferred.

Some of my ideas below (only for discussion)

Some obvious (or not) facts:

1. Authorization must be really quick because it has negative i

[2016-03-08 00:00] #4708 closed

[2016-03-08 00:10] gyuho opened #4712 "functional-tester: better control compaction rather than sleep"
When adding more test failures to functional tester, it is likely to have
overlapping ongoing compaction, then hash inconsistency, because
we currently just sleep random duration before we proceed to the
next round. There needs to be some kind of notifier that the compaction
is done. This can speed up the functional tester.

[2016-03-08 00:37] #4648 closed

[2016-03-08 00:57] xiang90 commented on #3328
/cc @gyuho

[2016-03-08 01:14] gyuho commented on #3328
@robszumski The code snipper seems outdate. Anyway, is still the valid use case?
For today's code base, one good example that I can think of is this:

https://github.com/coreos/etcd/blob/master/etcdserver/server.go#L945-L949

[code]

After

[code]

But printing out time-outs to all RPCs might not be impossible, as @xiang90 said. For example, Go stdlib http package uses non-configurable logger. Sim

[2016-03-08 02:26] philips commented on #3833
I think storev3 makes sense but will leave that up to Xiang

[2016-03-08 02:39] xiang90 commented on #3833
We will probably rename them to etcdctl/client when we release etcd3. It might confuse people since I could image people will think etcdctl/client is the most updated one while the one with versioned suffix is the out-of-date one or experimental one.

So same for the metrics. We probably want to keep everything versioned if we want to version the newest one. Or we should keep the old one versioned

[2016-03-08 02:58] gyuho commented on #3833
I agree with @xiang90 keeping current ones un-versioned. I think metrics should be changed
at v3 release, because all metrics are experimental anyway, according to this doc https://github.com/coreos/etcd/blob/master/Documentation/metrics.md#metrics.

[2016-03-08 03:00] xiang90 commented on #3833
@gyuho I am not saying we have to keep the newest one unversioned. But if we version it, we need to ensure we also version old ones.

[2016-03-08 03:03] gyuho commented on #3833
Ah makes sense. That sounds good. I don't have strong opinions. Keeping v3 ones un-versioned and v2 one versioned sounds good.

[2016-03-08 03:18] ajityagaty commented on #3833
Thanks for the inputs !
I shall version the v2 ones and keep the v3 ones un-versioned.

[2016-03-08 04:51] robszumski commented on #3328
Those two messages seems like they do address at least one use-case of this problem. If more generic logging isn't possible, would it be realistic to add similar messages for the discovery operations?

Addressing the heartbeat and discovery requests would solve most of the confusion I've seen.

[2016-03-08 04:57] xiang90 commented on #3328
@gyuho Let's check the codebase and probably print out the limit where we can?

[2016-03-08 14:04] rca commented on #4568
@ericandrewlewis If I understand what you're trying to do correctly; it's what I was trying to do: promote an etcd2 node from a proxy to a cluster member.  @joshix wrote and pointed me to the [etcd live cluster reconfiguration doc](https://github.com/coreos/docs/blob/master/etcd/etcd-live-cluster-reconfiguration.md) that outlines this process nicely.

[2016-03-08 14:16] gyuho commented on #3328
@xiang90 Sure, I will come up with some lists so we can discuss on Wednesday. Thanks.

[2016-03-08 16:08] xiang90 opened #4716 "test member remove fails on CI"
[code]

[2016-03-08 16:33] luxas commented on #4700
Yeah, `arm64` do build since #3830, but I wondered if you are "supporting" it when you just said no support for 32-bit.

@xiang90 How about the cross-build CI just for automatically knowing on which platforms it compiles, so any `arm` (or any other arch) breakers may be spotted already at PR review. Of course, because you're not supporting it, you may merge anyway, but the thing is that you always

[2016-03-08 17:26] tomj74 commented on #2379
I came up with this hack for leveraging ls --recursive and xargs to dump all keys and values:

[code]

This prints out keys and values one per line with a colon delimiter.

If there is some more straightforward way to do this with etcdctl, it has eluded me.

[2016-03-08 18:17] heyitsanthony commented on #4716
Also seeing a double-close panic:

[code]

[2016-03-08 18:43] joshix commented on #4568
@ericandrewlewis @rca ... and we'll have updates soon for that confusing legacy section in https://coreos.com/os/docs/latest/cluster-discovery.html, so that it will stop lying to you about how to add new members.

[2016-03-08 18:57] xiang90 commented on #3480
Fixed via #4717

[2016-03-08 18:57] #3480 closed

[2016-03-08 20:59] haneefkassam opened #4722 "Difficult to get stats of failing nodes from client without knowing leader"
etcd is a pretty neat piece of software.  I'm getting into using it's full functionality (to use it with Kubernetes), but I'm running into a challenging problem that should be much easier.  Let me run you through my setup:

I have a 3 master etcd cluster set up (s1, s2, s3), running as docker containers in 3 separate vms.  as a test, I destroy 1 VM (suppose the leader, s3) and re-create it.  I'm t

[2016-03-08 21:36] gyuho opened #4723 "go vet fails in go tip branch"
From this change https://github.com/golang/go/commit/867910ea170cad67ef929ae472f1e19052da7d7c:

https://travis-ci.org/coreos/etcd/jobs/114625304

[code]

Problem is it complains about capnslog too, even if it formats correctly:

https://github.com/coreos/etcd/blob/master/etcdmain/config.go#L178

[code]

[2016-03-08 22:16] gyuho commented on #4722
@haneefkassam

Are you suggesting something like?

[code]

Thanks.

[2016-03-08 22:27] haneefkassam commented on #4722
No, I'm suggesting the following:

`[GET]  http://<anyRunningMemberURL:2379/v2/members/<anyMemberId>` (to get info about that member, like the stuff returned from /v2/members, but specific for that member)

`[GET]  http://<anyRunningMemberURL:2379/v2/stats/<anyMemberId>` (to get stats about that member, including if it's running or not)

Also,

`[GET]  http://<anyRunningMemberURL:2379/v2/stats/lea

[2016-03-08 22:41] gyuho commented on #4722
I understand.

We have some real-time data in [`stats`](https://github.com/coreos/etcd/blob/0fde354eba7c301302ffb3be10b915ae8a683efc/etcdserver/stats/server.go#L31-L43), so I think replicating them to nodes other than leader
won't be accurate. Any thoughts?

/cc @xiang90 @heyitsanthony

[2016-03-08 22:52] haneefkassam commented on #4722
They don't necessarily need to be propagated to the other nodes; just proxy the request to the leader.  Reduces the number of calls to remove a member from a cluster by half.
(sorry, had to throw that in. I will wait for input from cc'd members)

[2016-03-08 23:22] #4716 closed

[2016-03-09 00:27] xiang90 commented on #4420
Cannot reproduce it anymore over 10000 runs. I think #4461 fixed this.

[2016-03-09 00:27] #4420 closed

[2016-03-09 01:05] xiang90 commented on #2668
closed via #4718

[2016-03-09 01:05] #2668 closed

[2016-03-09 04:38] xiang90 commented on #4700
Now 32bit builds and complaints when starts, closing this.

[2016-03-09 04:38] #4700 closed

[2016-03-09 07:14] smarterclayton commented on #4620
The watch filters for labels and for fields depends on this in Kube to know whether to send the last event for a deleted item to the client (nodes for pods).  We may also depend on it for graceful deletion in a few cases.  The central etcd watch cache could handle this if necessary as noted, but I think returning the deleted item as the previous value was extremely useful for clients in v2.

[2016-03-09 10:26] vgsangiuliano opened #4725 "advertise URLs do not match in --initial-advertise-peer-urls [http://localhost:2380 http://localhost:7001] and --initial-cluster [http://172.20.35.83:2380]"
Dear all,
I have set up from scratch 3 Coreos VMWare VM's (CoreOS_1, CoreOS_2, CoreOS_3).
I'd like to bootstrap a static cluster.
I have filled in network config and hostname through guestinfo into vmx files.
Network config is ok and I get what is set into guestinfo (CoreOS_1->172.20.35.82/24 , CoreOS2_2->172.20.35.83/24 , CoreOS_3->172.20.35.84).
I am able to ping every machine from each machine.

[2016-03-09 14:44] haneefkassam commented on #4722
After thinking about it, an alternative solution would be to provide the leaderURL in the leader object in /stats/self.  Either option work; both make it much easier to get at the cluster health/status.

[2016-03-09 15:57] gyuho commented on #1972
https://github.com/coreos/etcd/pull/4719 has flock implementation in Windows. I believe the implementation is correct, but because of the way we use `flock` in other OSes, it won't work when it's used with other packages:

1. Opening a file in Windows locks the file exclusively to the file descriptor that it opened with. Even with the `syscall.FILE_SHARE_READ|syscall.FILE_SHARE_WRITE` flags, the f

[2016-03-09 16:54] heyitsanthony commented on #1972
It looks like the `Lock` stuff needs to be refactored anyway (e.g., the same interface is copied across the per-platform files-- yuck). Only WAL seems to use it, so I don't think it'd be too disruptive to change the way flocks are exposed. I was thinking something like:
[code]

[2016-03-09 17:00] gyuho commented on #1972
@heyitsanthony Thanks! I will try that.

[2016-03-09 17:10] gyuho opened #4727 "functional-tester: current revision check failed"
[code]

We cancel the stresser and try 5 times of current revision comparison. One case returns
different revision for `agent2`:

[code]

I will investigate more.

[2016-03-09 17:33] xiang90 commented on #4526
Closing due to inactivity. etcd3 already enable this behavior. It will depend on how the python client implement watch to make it easier to use.

[2016-03-09 17:33] #4526 closed

[2016-03-09 17:37] xiang90 opened #4730 "TestV3WatchFutureRevision fails on CI."
--- FAIL: TestV3WatchFutureRevision (0.03s)
	v3_watch_test.go:329: couldn't put key (rpc error: code = 13 desc = "transport is closing")

[2016-03-09 17:40] xiang90 commented on #4509
Ignoring the transport leak for now. Does not seem like an etcd specific issue.

[2016-03-09 17:40] #4509 closed

[2016-03-09 17:45] #4326 closed

[2016-03-09 18:12] #4530 closed

[2016-03-09 18:17] gyuho commented on #4615
@AdoHe Any updates? We are going to introduce auto TLS feature very soon.
We will keep you updated when releasing it.

Please feel free to reopen it if you still have issues.

Thanks.

[2016-03-09 18:17] #4615 closed

[2016-03-09 18:18] gyuho commented on #4544
@zhangbaitong Ping?

[2016-03-09 18:20] #4730 closed

[2016-03-09 18:42] xiang90 commented on #4424
I still can reproduce this on my machine

[code]

[2016-03-09 18:47] xiang90 commented on #4620
@smarterclayton You can do it today with a simple Txn that does a get then a delete. We are considering to add a shortcut for this directly into delete though.

[2016-03-09 18:53] joshix commented on #3595
working on this currently, fyi

[2016-03-09 19:20] xiang90 commented on #4702
@urzds Proxy flag has three values, so boolean is not enough. We do not want to introduce more flags and make one flag (proxy needs to support the old string and the boolean you proposed) accept multiple set of values at this point.

[2016-03-09 19:20] #4702 closed

[2016-03-09 19:26] gyuho commented on #4727
Just to summarize what happened in the log:

[code]

So I looked at the events around `2016-03-09 00:47:06`, the time when we get the current revisions from nodes:

[code]

So to summarize again, within the 5-second (after canceling all stressers), election timed out, and
leader election happened, delaying the key-value space synchronization. I looked at other successful rounds, and they don't hav

[2016-03-09 19:42] xiang90 commented on #4725
You need to set the `advertise-peer-urls` flag correctly (you only set advertise client urls, not peer one). Example can be found here https://github.com/coreos/etcd/blob/master/Documentation/clustering.md#static.

[2016-03-09 19:42] #4725 closed

[2016-03-09 19:42] xiang90 commented on #4636
This issue is fixed in master. We are doing a 2.3 release. It will come out probably next week.

[2016-03-09 19:42] #4636 closed

[2016-03-09 22:30] #4424 closed

[2016-03-09 22:34] xiang90 commented on #633
We are not going to implement this for v2. As already mentioned in this issue, v3 is a flag key-value space. So the children is irrelevant.

[2016-03-09 22:34] #633 closed

[2016-03-09 22:38] xiang90 commented on #4727
@gyuho We should not increase the retrial number. Do you know why member 2 cannot find the leader within 5 seconds? It should be able to.

[2016-03-09 22:45] gyuho commented on #4727
ack. I will do more detailed investigation. Thanks.

[2016-03-09 22:51] xiang90 commented on #1705
After thinking about this, I agree with @jonboulle's thought. We should not let etcdctl to publish. And we should mark the newly added member as unstarted (as it is today).

[2016-03-09 22:51] #1705 closed

[2016-03-09 22:52] #4640 closed

[2016-03-09 22:56] xiang90 commented on #4121
After some work, we made our tests pretty stable. We always can switch to a more stable env to do the CI work. We will see how it goes. If it does not go well, we might want to separate the tests.

[2016-03-09 22:56] #4121 closed

[2016-03-09 23:21] philips commented on #4189
@xiang90 this is right, the current thinking is that the new etcdv3 API will only exist on TLS.

With that said I agree we should support having both TLS and non-TLS communication for clients of v2 as a migration path. I imagine it would essentially look like:

ETCD_LISTEN_CLIENT_URLS="http://10.0.0.1:2379,https://10.0.0.1:2379"
ETCD_ADVERTISE_CLIENT_URLS="http://10.0.0.1:2379,https://10.0.0.1:237

[2016-03-09 23:25] philips commented on #4189
Oops, sorry, I thought this was for clients.

For peers I don't know if we should support this. The peers use long-lived TCP connections between themselves and there are a small number of peers. So the cost of a TLS connection is very low after the connection is established so it seems easier and more consistent to just say it is either on or off for the entire cluster.

[2016-03-09 23:26] philips opened #4737 "client listening supports tls and non-tls"
I thought I already filed this issue but I can't find it now.

We should support having both TLS and non-TLS communication for clients of v2 as a migration path. I imagine it would essentially look like:

[code]

We would obviously need to use something like cmux to make this possible but I think easing this migration path onto TLS is worth the trouble.

[2016-03-09 23:32] xiang90 commented on #4234
@danlenar I feel this is a documentation issue. Is it possible for you not to set ETCD_VERSION?

[2016-03-10 00:23] gyuho commented on #4727
So what happened was *possible message loss from `agent1` to `agent2` (not from `agent2` to `agent1`)*:

1. current leader is `agent1`
2. `agent2` times out and starts a new election
3. `agent2` is not able to get rejection from `agent1`, even if `agent1` *rejected vote*. It does correctly get rejection from `agent3`.
4. etcd logs do not show any sign of network issue other than canceling the stre

[2016-03-10 00:31] xiang90 commented on #4727
@gyuho OK. I will investigate this more.

[2016-03-10 00:32] gyuho commented on #4727
Thanks. I will investigate more too.

[2016-03-10 00:50] xiang90 commented on #3914
Closing since this is already in https://github.com/coreos/docs/blob/master/STYLE.md#eschew-you.

[2016-03-10 00:50] #3914 closed

[2016-03-10 05:49] xiang90 commented on #4385
I am confused that the proto complier can generate ALL the code. I think we still need to enable this by  writing server side code.

[2016-03-10 05:52] xiang90 commented on #4197
@robszumski I think for configuration related flags, we should enable env. But we do not need to do this for all flags. For example, we have -i (interactive mode) flag for watch subcommand. Making -i an env does not really make sense to me.

/cc @heyitsanthony

[2016-03-10 05:54] heyitsanthony commented on #4197
@xiang90 Agreed; that's what `curl` does.

[2016-03-10 11:32] jmcollin78 opened #4740 "Use different ectdctrl exit code"
Hello,

etcdctl exit code is always 4 on error (etcd not responding or key absent or -maybe more-).
It should be possible to know if ectd was not present or if the key was not found just with the exit code.
Now we must deal with the error string which is not accurate.

Thanks for all of your works. It's rocks :!

[2016-03-10 16:12] raoofm commented on #4189
sounds good

[2016-03-10 16:14] raoofm commented on #4737
+1

[2016-03-10 16:20] #4189 closed

[2016-03-10 18:29] xiang90 commented on #4616
closed via #4741

[2016-03-10 18:29] #4616 closed

[2016-03-10 19:55] #4527 closed

[2016-03-10 21:47] heyitsanthony opened #4744 "etcdserver: gracefully handle ENOSPC"
I started V3 on a small tmpfs and put until it exhausted all space. etcd promptly died.

On restart, I get:

[code]

Possible (partial) solution: introduce a tiny quota layer to storage or backend that checks the db size before submitting a put.

[2016-03-10 21:58] xiang90 commented on #4744
duplicate with https://github.com/coreos/etcd/issues/2393?

[2016-03-10 22:08] heyitsanthony commented on #4744
Similar but not quite the same. This one is both limiting storage space utilization and being able to start in case of ENOSPC.

[2016-03-10 22:29] tamird commented on #3170
We worked around this by ensuring that replies arrive in order, so it's not strictly needed for CockroachDB.z

[2016-03-10 23:11] xiang90 commented on #3170
We do not need this neither.  We are trying to keep raft minimum. We can revisit this if other people have hard requirement or adding this feature will make their life MUCH easier.

[2016-03-10 23:11] #3170 closed

[2016-03-10 23:16] heyitsanthony commented on #4744
@xiang90 My thinking was some sort of recovery/maintenance mode. It could reject puts but still serve gets, compactions, defrags, and deletes.

[2016-03-10 23:19] xiang90 commented on #4744
@heyitsanthony Will this node continue participating raft or it will just ignore all raft requests? How will this affect raft layer?

[2016-03-10 23:35] heyitsanthony commented on #4744
I don't think the node would be capable of participating in raft. For the multi-node case the enospc node could throw away its data and reload via raft snapshot once some keys have been deleted (but maybe this should require user-intervention since it's sort of risky). For single node case, the deletes could go through as normal.

[2016-03-10 23:58] mischief opened #4745 "panic: assertion failed: tx closed in v3 api"
cc @xiang90 @barakmich

[etcd.txt](https://github.com/coreos/etcd/files/168253/etcd.txt)

[2016-03-11 00:47] xiang90 commented on #4745
Thanks for reporting. Will fix shortly.

[2016-03-11 03:04] xiang90 commented on #4745
Should fix by #4747. If not, please report back! Thanks!

[2016-03-11 03:04] #4745 closed

[2016-03-11 09:35] hot13399 commented on #860
Hi,

does etcd support range now? I want to do pagination through it.

Thanks,
Jerry

[2016-03-13 17:15] #4588 closed

[2016-03-13 17:27] xiang90 opened #4755 "Update filesize when fallocate"
We now do fallocate after creating a new WAL file. However, we do not change the file size since we now rely file_size to determine the end of file (open with o_append).

This is bad for several cases. First, after we switch to fdatasync, fdatasync still needs to flush the metadata field like size. Second, on some cloud virtualized disks, they might not understand fallocate. So each file size chan

[2016-03-13 17:27] xiang90 commented on #4755
/cc @heyitsanthony Can you take a look at this one?

[2016-03-14 01:29] xiang90 commented on #4723
Can you try to fix it?

[2016-03-14 01:45] gyuho commented on #4723
Yeah I looked into it. Need to look at the source code more. Will fix.

Thanks.

[2016-03-14 06:53] gyuho commented on #4723
The original author has acknowledged the issue here https://github.com/golang/go/issues/14754. Will wait on that.

[2016-03-14 15:04] philips commented on #3833
I think we should version both. I don't understand why we wouldn't. It lets people clearly map their usage of one API vs the other. Who knows if we will add a v4 API at some point in the future.

[2016-03-14 16:41] krousey commented on #4385
@xiang90 Yes you would. I simply meant that it would be better if the grpc clients generated by the proto compiler didn't need hand-written helper libraries just to calculate next keys. You could do the calculation once on the server, and every client would not have to have that code.

[2016-03-14 18:09] peterbourgon opened #4759 "raft.Node can forget ConfChange Remove proposals"
I'm using raft.Node in my project to run etcd over a gossip (UDP-like) transport. For me, peers are ephemeral: they come and go frequently, when they go they're gone permanently, and when they start up they're always empty. So far this works OK by making the Raft node ID be basically a UUID. But I think I've discovered a bug in how the raft.Node handles ConfChange Remove proposals.

Let's say I ha

[2016-03-14 18:29] xiang90 commented on #4385
@krousey I feel we should probably document this in API doc first instead of adding the next field from the very beginning. If any other people start to implement API and feel it is hard or confusing, we can consider to add it directly into server API.

/cc @heyitsanthony Any opinion?

[2016-03-14 18:44] heyitsanthony commented on #4385
The next key when paginating a Range request is just lastKey + "\x00" (cf. https://github.com/coreos/etcd/blob/master/clientv3/mirror/syncer.go#L97). It seems somewhat extreme to bake it into the protocol that the server will compute a nul byte append and then send that over the network.

[2016-03-14 19:16] heyitsanthony commented on #4559
I think 1 is covered. Not sure what to do about 2; I think the interactive mode format is good enough for non-interactive-- is something missing aside from updating the docs and not complaining about a missing `-i` flag?

[2016-03-14 19:20] xiang90 commented on #4559
-i input seems fine. I think we just need to make it work and add doc around it.

[2016-03-14 21:04] #4559 closed

[2016-03-14 21:07] xiang90 commented on #4595
@gyuho take a look at this one?

[2016-03-15 00:41] gyuho commented on #4595
ack. Will take a look.

[2016-03-15 06:29] es-chow opened #4765 "raft: "latest HardState has been persisted" in doc.go is conflict with implementation in #4753"
In raft/doc.go, it mentions that
[code]
but in #4753 , ` (r *raftNode) start`
[code]
rd.HardState is persisted after message had been sent out.

So is the statement in the doc.go wrong?

[2016-03-15 06:33] xiang90 commented on #4765
the doc is right since it is safe. but there is an optimization we can do. We can probably doc the optimization in raft doc as a note.

[2016-03-15 06:54] xiang90 commented on #4759
@peterbourgon I believe raft only forgets about proposals if there the leader is dead and everyone else still believe it is the leader (they are not timeout yet). This is because the followers will still forward the proposals to the dead leader until there is a new leader elected (or someone becomes a candidate). Can you try to kill a follower and check if any proposal will get lost?

[2016-03-15 07:38] peterbourgon commented on #4759
In the example, that's what I do:

And anyway if I kill the leader I still need some way of getting feedback that my proposals are lost/rejected, don't you think?

[2016-03-15 18:54] heyitsanthony opened #4767 "clientv3: polish naming conventions"
I've been noticing inconsistent naming when writing code against the v3 client (namely for modified revisions, but there are likely similar problems elsewhere). A quick grep on 'Mod' returns:
[code]
`Rev` or `Revision`? `Mod` or `Modified`? `ModRev`, `ModifiedRevision`, `ModRevision`, or `ModifiedRev`? I usually have to look it up or guess.

[2016-03-15 18:57] xiang90 commented on #4767
Move to alpha. We probably should solve this soon.

[2016-03-15 19:03] xiang90 opened #4769 "etcdctlv3: add timeout support"
Now there is no way to set timeout for etcdctlv3. We pass in Context.TODO() for most of the rpc calls. We need to get this resolved before v3 release.

[2016-03-15 21:26] heyitsanthony opened #4771 "clientv3: break etcdserver dependency"
Related to #4770
[code]

[2016-03-16 00:12] xiang90 opened #4773 "WAL: pre-create wal files"
We now pre allocate space for wal files. But in fact, we can do even further by per creating files and also reuse old wal files (marking them pre-created when purging)

[2016-03-16 00:12] xiang90 commented on #4773
/cc @heyitsanthony

[2016-03-16 00:20] xiang90 opened #4774 "rafthttp: enable tcp nodelay?"
shall we enable tcp nodelay for streaming tcp? It will reduce the latency for light load case (one client for example), or we will end up with constantly waiting for tcp ACKs.

/cc @heyitsanthony

[2016-03-16 01:04] xiang90 commented on #4774
go already does this by default for us. see https://golang.org/src/net/tcpsock_posix.go?s=3964:4012#L49

[2016-03-16 01:04] #4774 closed

[2016-03-16 03:12] gyuho commented on #4634
@xiang90 Another failure:

- agent1: https://storage.googleapis.com/etcd-issue-4634-09/agent1/etcd.log
- agent2: https://storage.googleapis.com/etcd-issue-4634-09/agent2/etcd.log
- agent3: https://storage.googleapis.com/etcd-issue-4634-09/agent3/etcd.log
- tester:  https://storage.googleapis.com/etcd-issue-4634-09/tester.log

Will investigate.

[2016-03-16 08:32] nekto0n commented on #4146
Any plans to implement that? My use case is exactly like TTL feature missing in etcdv3. I have a client that either creates a node or updates it. I want to be notified when clients is dead by receiving `EXPIRE` event from etcd. Leases are a great thing, but in v2 I just could always use `Set()` with TTL and be good. Can this behavior be implemented in v3?

[2016-03-16 16:10] xiang90 commented on #4146
When the client starts, it creates a lease. All the keys it creates can be attached with this lease. Create a /prefix/clientID-expire key with the lease to notify other clients its death. Does this work for your case?

[2016-03-16 17:44] geofffranks commented on #1242
Was this completed, closed as wont fix? Other issues reference this ticket indicating that this will be the one to solve them, and so they were closed, but i can't tell what happened with this ticket.

[2016-03-16 21:13] heyitsanthony opened #4784 "*: use go vendoring"
The current Godeps vendoring setup makes it difficult to use etcd with other projects (e.g., conflicts with the vendored context package). Eventually etcd should move to using `vendor/` so vendored packages are better behaved.

[2016-03-16 21:28] xiang90 commented on #2844
@rektide When we switch to HTTP2 (automatically happen if you use TLS and compile etcd with go 1.6), one HTTP request will not block other HTTP requests on the same TCP connection. Server Push will not bring us a lot of benefits there.

We will use gRPC in v3. We use stream to handle watches and it is efficient. We will provide http/http2 + json gateway to gRPC.

I think we can close this now.

[2016-03-16 21:28] #2844 closed

[2016-03-16 23:57] xiang90 opened #4786 "etcdctlv3: ping command"
Add a ping command that can ping each of the member and know about its health.

A ping should issue a linearized read.

If etcdctlv3 cannot reach to the member (network errors), then the member is unhealthy from the client's perspective. There might be an issue at client side or the member might be dead.

If linearized read succeeds, then the member is healthy and the cluster is healthy.

If linea

[2016-03-16 23:59] xiang90 commented on #4786
/cc @mqliang maybe you are interested in this one.

[2016-03-17 00:09] gyuho commented on #4538
@lmcdasm Any updates? Please let us know if you still have any questions.

Thanks!

[2016-03-17 00:11] xiang90 commented on #820
We are not going to implement this for v2 api. For v3, we use gRPC over http2, which supports multiple streams on same tcp connection.

[2016-03-17 00:11] #820 closed

[2016-03-17 00:48] joshix commented on #3428
Moved to 3.0 milestone to re-examine after 2.3.0 release. The links in my previous comments show where we've solved about half of this issue already.

[2016-03-17 01:55] xiang90 commented on #4544
This is covered by https://github.com/coreos/etcd/issues/4784.

[2016-03-17 01:55] #4544 closed

[2016-03-17 02:03] xiang90 commented on #4385
Closing. If there is any real world issue, we shall consider adding a server side hint.

[2016-03-17 02:03] #4385 closed

[2016-03-17 02:44] mqliang commented on #4786
I am a little confused about this feature. It seems that  `etcdctl cluster-health` could also know about the members' and cluster's health status.

Even if the member is partitioned, raft index of this member will not make progress and `/helath` endpoint will return `{"health": "false"}`. Cluster is healthy if majority (quorum) of etcd members are healthy, otherwise cluster is unhealthy.

[2016-03-17 02:49] xiang90 commented on #4786
@mqliang This is for v3. Cluster health is confusing actually: see https://github.com/coreos/etcd/issues/3852

[2016-03-17 03:39] whelan957 opened #4789 "Cannot add a new member to the existed cluster"
I followed the steps here to add a new member:
https://github.com/coreos/etcd/blob/master/Documentation/runtime-configuration.md#cluster-reconfiguration-operations

It was successful to finish the first step:

$ etcdctl member add zcm2alter http://10.5.0.8:2380
Added member named zcm2alter with ID ca29fb857800f591 to cluster

ETCD_NAME="zcm2alter"
ETCD_INITIAL_CLUSTER="b75689dad64949ff85a0e1c176e3

[2016-03-17 03:40] xiang90 commented on #4789
@whelan957 Are you on CoreOS? you should try etcd2, not etcd.

[2016-03-17 04:40] xiang90 opened #4790 "*: drop golang 1.4 support"
after 2.3 release we can drop golang 1.4

1. drop any build tag that support < 1.4

2. drop CI test on 1.4

[2016-03-17 04:40] xiang90 commented on #4790
/cc @gyuho

[2016-03-17 05:00] gyuho commented on #4790
Sure, will do right after release.

[2016-03-17 06:15] nekto0n commented on #4146
Sorry, I'll rephrase my case. I have a server, which accepts clients periodic status reports. Each report is transformed into a call `Set(key, value, ttl)` to etcdv2. Thus if client goes silent for too long, my watcher will receive expiration event and can deal with it according to business rules. In v2 every client request results in a single call to etcd. In v3 this use case seems to require sev

[2016-03-17 09:18] whelan957 commented on #4789
Yes, I'm using CoreOS. Thanks!

I tried etcd2 and got the message
 $  etcd2 -listen-client-urls http://10.5.0.9:2379 -advertise-client-urls http://10.5.0.9:2379  -listen-peer-urls http://10.5.0.9:2380 -initial-advertise-peer-urls http://10.5.0.9:2380
2016-03-17 06:38:11.982416 I | flags: recognized and used environment variable ETCD_INITIAL_CLUSTER=b75689dad64949ff85a0e1c176e30d99=http://10.5.0.5:

[2016-03-17 10:21] whelan957 commented on #4789
And then I removed member 10.5.0.6. (My intention is to replace a member)
$etcdctl member remove 3f2a2551adfd53cd

But fleetctl still can find it.
$ fleetctl list-machines
MACHINE IP METADATA
6122e5b9... 10.5.0.6 -
b75689da... 10.5.0.5 -
da996645... 10.5.0.4 -
f79c5f91... 10.5.0.9 -

So I shut down the VM 10.5.0.6 and deploy my services on the new member 10.5.0.9.
My services were fine on the new

[2016-03-17 15:11] xiang90 commented on #4771
I think this blocks @hongchaodeng. In etcdserver and other pkgs, we might register metrics in init(). This means when people use clientv3 pkg, metrics will be registered... So we need to fix this.

[2016-03-17 15:47] mitake commented on #3709
@ark76r sorry for my late reply. I need to comment on many opinions and questions from you :) So I'd like to comment on the locking overhead you concern at first.

Overhead of locking auth metadata isn't required. Because every follower can do auth based on its replica of the metadata. Of course it would introduce inconsistent state of the auth. However, actual checking of each request is done by

[2016-03-17 18:11] hongchaodeng commented on #4771
ref: https://github.com/coreos/etcd/pull/4792

[2016-03-17 19:24] #4771 closed

[2016-03-17 19:41] cescoferraro opened #4794 "Etcdctl returns Error: unexpected status code 404 when using DNS discovery"
I am provisioning a cluster as as well as dns records with terraform.
I am on the stable branch on digital ocean.
After all I get
[code]

and running the instances(only 2 right now) with:

[code]

So far so good, but when I ssh and run etcdctl on any of the server I get the following result

[code]
[code]
At first I tought I switched the peer with client urls, but according to [this document](http

[2016-03-17 19:48] xiang90 commented on #4794
@cescoferraro There was a bug in etcdctl before 2.2.5. Which etcdctl version are you using?

[2016-03-17 19:49] cescoferraro commented on #4794
[code]

[2016-03-17 19:54] xiang90 commented on #4794
@cescoferraro Please update your etcdctl and try again.

[2016-03-17 19:54] cescoferraro commented on #4794
[code]

[2016-03-17 19:59] xiang90 commented on #4794
@cescoferraro Sorry about that. I seems that that patch has not been back-ported into 2.2.x release.

https://github.com/coreos/etcd/pull/4185

And if you check 2.2 release doc: https://github.com/coreos/etcd/blob/release-2.2/Documentation/clustering.md#dns-discovery, there is no client discovery.

[2016-03-17 20:02] cescoferraro commented on #4794
just confirmed! It works on the alpha

[code]

[2016-03-17 20:03] xiang90 commented on #4794
@cescoferraro We will do a 2.3 release today or early next week. Sorry for the inconvenience.

[2016-03-17 20:03] cescoferraro commented on #4794
should I worry with the etcd service itself using DNS with this version?

[code]

[2016-03-17 20:05] xiang90 commented on #4794
@cescoferraro For this issue, no. But we would suggest you to keep etcd server updated.

[2016-03-17 20:08] cescoferraro commented on #4794
does the coreos alpha branch comes with more recent etcd version?
I am testing production environment here. I am scared of alpha.

[2016-03-17 20:10] xiang90 commented on #4794
coreos release will only contain stable version of etcd. I believe coreos alpha channel will ship etcd 2.3 within a couple of weeks after the etcd release. it takes another two or three weeks to go into beta/stable.

/cc @crawford

[2016-03-17 20:15] cescoferraro commented on #4794
thanks for your patience and time @xiang90

[2016-03-17 22:17] xiang90 commented on #4765
fixed by https://github.com/coreos/etcd/pull/4783

[2016-03-17 22:17] #4765 closed

[2016-03-18 03:06] mqliang opened #4796 "etcdctlv3: version command proposal"
@xiang90
`etcdctl --version` in etcdv2 just show client version. It would be much helpful if it can demonstrate server side version(for example all members' version).

I'd like `etcdctl version` command in etcdv3  print as follows:
[code]

 Does this sounds good?

[2016-03-18 03:58] xiang90 commented on #4796
etcdctl version is not a good place for this sort of thing. To get the server version, ctl needs to communicate with the server over the network. etcdctl version, on the other side, should be as simple as possible.

Another issue is that server version is not even exposed by v3 rpc (https://github.com/coreos/etcd/blob/master/etcdserver/etcdserverpb/rpc.proto). probably the first step is to define

[2016-03-18 04:04] xiang90 opened #4797 "v3: add memberStatus rpc in cluster service"
We should start with the simplest status: version.

1. add new rpc into https://github.com/coreos/etcd/blob/master/etcdserver/etcdserverpb/rpc.proto#L76

2. generate the proto by running ./script/genproto.sh

3. implement the rpc in pkg etcdserver/api/v3rpc pkg

4. implement client side api in pkg clientv3

5. implement etcdctl command member status

We can expose more member status like its raft

[2016-03-18 04:04] xiang90 commented on #4797
@mqliang Do you want to take this one?

[2016-03-18 04:06] xiang90 commented on #4769
@mqliang Do you want to try this one?

[2016-03-18 04:42] mqliang commented on #4797
@xiang90 Interesting, I am in.

[2016-03-18 04:44] mqliang commented on #4769
@xiang90 I will focus on https://github.com/coreos/etcd/issues/4797 first. Will try to address this when https://github.com/coreos/etcd/issues/4797 finished, hoping this one is not urgent.

[2016-03-18 04:49] mqliang commented on #4796
Agree. Close this in favour of https://github.com/coreos/etcd/issues/4797

[2016-03-18 04:49] #4796 closed

[2016-03-18 04:49] xiang90 commented on #4769
@mqliang No worry. take your time.

[2016-03-18 04:57] xiang90 commented on #4234
I am going to close this. Please reopen if you still feel etcd should ignore ETCD_VERSION. We might change this if more users report the same issue.

[2016-03-18 04:57] #4234 closed

[2016-03-18 05:07] xiang90 commented on #4794
@cescoferraro no problem. closing this issue since it is fixed in master branch.

[2016-03-18 05:07] #4794 closed

[2016-03-18 05:08] heyitsanthony commented on #4740
@jmcollin78 what version of etcdctl are you using? this may already be fixed. Cf. #4053 and #4636

[2016-03-18 08:36] mitake commented on #3709
I think your suggestion seems good. Fortunately, the APIs aren't implemented yet. I'll separate a functionality of getting a single complete user information from getting entire user list.

AFAIK, v2 auth provides only one admin (root) account. Providing multiple admin accounts useful? I'm not sure.

Ditto.

Ditto. And multiple roles can have a permission of single path in our model. Introducing a

[2016-03-18 09:32] DanielYWoo opened #4799 "X-Etcd-Index should be the state of the reponse"
The official doc says

But this is not true with wait query.

If I issue a GET /somekey and it returns X-Etcd-Index=5, that's correct and conforms the official doc,  the index 5 is just the index represents the current value in the response body, it's cool and I can increment the index by one to wait for a change
[code]
So far, everything is cool.

However, if the key has been changed, in our case

[2016-03-18 17:41] xiang90 commented on #3595
moved to 3.0

[2016-03-18 17:49] cescoferraro commented on #4794
Here it is a cloud-config unit that download the latest etcd just in case it might help someone
https://gist.github.com/cescoferraro/945d25a9ba310077488a

[2016-03-18 19:09] raoofm opened #4804 "No changelog in v2.3.0 and v2.3.0-alpha.1"
A small thing though but to be consistent, I thought it was agreed to have a changelog for each release.

[2016-03-18 20:05] xiang90 commented on #4804
@raoofm We usually keep detailed change log for minor release. For major release like 2.3, there are over 2000+ commits. So we just highlights the new features and major improvements. github keeps all the commit history anyway. So I do not think it worth the effort to catalog all the 2000 commits for now. We might improve this in the future.

[2016-03-18 20:05] #4804 closed

[2016-03-18 21:02] gyuho commented on #3472
https://github.com/coreos/etcd/releases/tag/v2.3.0 was released with etcd project key.

[2016-03-18 21:02] #3472 closed

[2016-03-18 21:34] raoofm commented on #4804
@xiang90 ok thanks

[2016-03-18 22:07] gyuho opened #4809 "v3 WithSerializable read latency should be <1ms"
Running this with a local 3-node cluster, with SSD, 16 CPU, 50GB memory cloud machine.

[code]

Not much difference than linear read (both take 3ms). **Serialized read should take less than 1ms because it is local read not going through consensus**. When running in one node cluster, it is slightly faster (2.216407ms linear read vs 1.839728ms serialized read)

Similar numbers from benchmark tool:

[2016-03-18 22:35] xiang90 commented on #4799
@DanielYWoo Please check the doc here https://github.com/coreos/etcd/blob/master/Documentation/api.md#waiting-for-a-change. You should use modified index. If you check the next section after it, it talks about when you should use etcdindex.

etcdindex is the current index when etcd receives the request for watch.

[2016-03-18 22:35] #4799 closed

[2016-03-18 23:01] xiang90 opened #4811 "grpc: disable grpc logging"
Now gRPC prints out logging info through its own logging lib. we need to disable it.

[2016-03-19 01:24] #4790 closed

[2016-03-19 04:35] xiang90 commented on #4789
@whelan957

There is something wrong with your configuration. Please make sure the listen addr can be bind by etcd.

[2016-03-19 07:21] xiang90 opened #4815 "rafthttp: reportSendDuration takes large percent of time"
Based on pprof result, reportSendDuration in stream takes more than 3% of CPU time. We should sample the result instead of report every sent message to metrics.

[2016-03-19 07:26] xiang90 opened #4816 "storage: watchStore.txnEnd does too many allocations"
txnEnd does a lot of allocation even if there is no any watchers.

[2016-03-19 07:27] xiang90 commented on #4816
It takes more than 4% of unnecessary CPU in critical path.

[2016-03-19 15:16] zhuqunzhou opened #4818 "How etcd client to use https api?"
Under `etcd` client source,i don't find any `https` api.

How i to use the client to do the same thing such as `curl --cacert /path/to/ca.crt --cert /path/to/client.crt --key /path/to/client.key -L https://127.0.0.1:2379/v2/keys/foo`?

Thanks!

[2016-03-19 21:35] #4809 closed

[2016-03-20 06:16] gyuho opened #4819 "functional-tester: store data, logs safely"
If testing cluster found a failure, we need to debug with all etcd data and its logs.
Because the failure happens very rarely, when it happens, the size of data and logs
are big (>3GB for 5K rounds), and uploading these data to cloud storage affects,
*or fails* the cluster because it needs to use a lot of resources.

Currently, we just stop the testing cluster, upload data and logs, and restart th

[2016-03-20 07:33] wpengcheng opened #4820 "a new etcd node failed to join discovery cluster"
when a was execute etcd.sh,At that time happens failed to join discovery cluster (context deadline exceeded),discovery token https://discovery.etcd.io/7cd332f0b753d6852b6e1cc121668dcc was used, but failed to bootstrap the cluster. please generate a new discovery token and try to bootstrap again.

attach:this is my etcd.sh
etcd -name xcloud230 -initial-advertise-peer-urls http://172.18.1.230:2380 \

[2016-03-20 07:49] onlyjob opened #4821 "unreleased bundled components"
Latest release 2.3.0 bundles unreleased "boltdb" so Etcd FTBFS when built with latest stable release of BoltDB: https://github.com/boltdb/bolt/releases

Please, pretty please only bundle/vendor official semantic releases of Etcd dependencies.

That kind of issues waste time and cause a lot of pain to downstream package maintainers effectively preventing packaging of latest Etcd release.

Same prob

[2016-03-20 16:28] xiang90 commented on #4821
@onlyjob Some dependencies (gRPC/bolt/proto3) are for the experimental v3 API. And some dependencies do not really do releases regularly like `codegangsta/cli`. For some dependencies, they are some simple that do not really even do releases at all like `https://github.com/jonboulle/clockwork`.

We now do not have a good policy around these. We can try to resolve them. Or you can propose a policy t

[2016-03-20 20:28] onlyjob commented on #4821
Is there a way to build without v3 API? How can one disable a component in Golang? I wish there were something like `--without=v3api`...
It is true that some dependency don't have formal release.
But it would be great to rely on semantic versioning for those libraries that version their releases.

As for policy there should be rule to use only stable releases of dependencies whenever possible... I

[2016-03-21 00:17] ajityagaty commented on #4767
I can give this a try if nobody is looking into it at the moment.
Please let me know what should be the naming convention that we need to stick to.

[2016-03-21 03:29] whelan957 commented on #4789
Here is my configuration.

#cloud-config

coreos:
  etcd2:
    # generate a new token for each unique cluster from https://discovery.etcd.io/new?size=3
    # specify the initial size of your cluster with ?size=X
    discovery: "https://discovery.etcd.io/c662b94688740272690815e81a3d705e"
    # multi-region and multi-cloud deployments need to use $public_ipv4
    advertise-client-urls: http://$priva

[2016-03-21 04:13] xiang90 commented on #4789
@whelan957

We cannot really help since this is not an etcd issue I believe. All we can know from the log is that the IP/port address you in your configuration for etcd cannot be assigned. You have to check if the IP is assigned to any network interfaces of the machine.

To be more specific, you need to know where that `10.5.0.9:2380` come from and why it does not belong to the machine you were ru

[2016-03-21 04:14] #4789 closed

[2016-03-21 04:15] xiang90 commented on #4789
@whelan957 Please check the IP in your configuration. Probably you can try to bind the ip:port via `nc -l 10.5.0.9 2380`. I believe it will compliant the same thing. Report back if it is not and you believe this is an etcd specific issue.

[2016-03-21 04:19] xiang90 commented on #4820
@wpengcheng You can follow the the instruction and generate a new token. Do not reuse the discovery token (always use new one in your etcd.sh).

For more information, you can read https://github.com/coreos/etcd/blob/master/Documentation/runtime-reconf-design.md#do-not-use-public-discovery-service-for-runtime-reconfiguration

[2016-03-21 15:10] philips commented on #4821
@onlyjob you cannot disable components in Golang without changing code.

We can't slow down the release cadence of etcd based on downstream libraries, I am sorry. Is there a problem you are trying to solve for?

[2016-03-21 16:12] onlyjob commented on #4821
I'm trying to maintain [Etcd package](https://packages.qa.debian.org/e/etcd.html) in [Debian](http://debian.org) and now it feels like problem due to irresponsible use of dependencies...

It would be truly terrible if the only priority of Etcd development is rapid releasing.
It is _stable releases_ I'm talking about. Semantic versioning is there for good reasons.
You can't just ignore release proc

[2016-03-21 16:50] gyuho opened #4823 "functional-testing: continuous deployment"
Currently we stopped the whole cluster to redeploy either Go or etcd binaries to testing cluster.
This is necessary, but test results should be continuous. Cluster needs to be deployed without resetting the testing metrics.

[2016-03-21 18:19] xiang90 commented on #4821
The first priority of etcd development is reliability/stability. We do fast release to fix users issues. If there is a unreleased version of dependency that fix users issues, we might compromise the just use it. We cannot force downstream to do release and we do not really enjoy forking. Moreover, etcd does not rely on external package for core functionality. We usually carefully choose dependenci

[2016-03-21 18:33] #4595 closed

[2016-03-21 20:03] xiang90 commented on #4767
@heyitsanthony I vote for modRevision.

[2016-03-21 20:05] heyitsanthony commented on #4767
@xiang90 fine by me

[2016-03-21 20:08] #4755 closed

[2016-03-21 20:08] #4773 closed

[2016-03-21 20:18] xiang90 commented on #4538
@lmcdasm @gyuho I am closing this due to low activity. Please reopen if @gyuho's answer does not resolve the issue. Thanks.

[2016-03-21 20:18] #4538 closed

[2016-03-21 20:20] xiang90 commented on #4818
@zhuqunzhou Pass in the tls config here https://github.com/coreos/etcd/blob/master/clientv3/client.go#L68.

[2016-03-21 20:20] #4818 closed

[2016-03-21 22:49] onlyjob commented on #4821
Thank you.

[2016-03-22 03:19] ajityagaty commented on #4767
@xiang90 @heyitsanthony Please clarify my following doubts:

[1] @xiang90 Any specific reason why you mentioned a lowercase ‘m’ in modRevision? The ModRevision field of the KeyValue struct (generated from kv.proto file) is an exposed field. So shouldn’t we use an upper case ‘M’ in all places for consistency?

[2] If we change 'SortByModifiedRev' to 'SortByModRevision' then we should probably chang

[2016-03-22 03:25] xiang90 commented on #4767
@ajityagaty In go, the first letter indicates if the field is private or public. For kv struct, M needs to be capitalized since we need to expose that field.

[2] Yes. we should. but let's do one by one?

[2016-03-22 03:40] ajityagaty commented on #4767
@xiang90 Yes, I understand the private/public part. I got a little confused when you mentioned "I vote for modRevision".

I agree, doing the changes one by one would be better. Will try to put out the first patch tonight.

[2016-03-22 03:40] xiang90 commented on #4767
Sorry about that.

[2016-03-22 04:12] petercolberg opened #4832 "Switch to gopkg.in/cheggaaa/pb.v1"
The upstream author has recently added semantic versioning cheggaaa/pb#73. Could you substitute `github.com/cheggaaa/pb` → `gopkg.in/cheggaaa/pb.v1` in the files `tools/benchmark/cmd/*.go` and `Godeps/Godeps.json`, and refresh and rename your vendored copy accordingly?

[2016-03-22 07:36] onorua opened #4835 "Node can't join cluster after upgrade from 2.2.5 to 2.3.0"
## logs
[code]
## systemd service:
[code]

Did I miss something?

[2016-03-22 15:09] xiang90 commented on #4835
@onorua

[code]

This does not seem right (even you are upgrading etcd). etcd complaints about the bootstrapping since the member dir is not configured correctly. Or etcd should just restart instead of doing a bootstrap.

[2016-03-22 15:24] xiang90 commented on #4835
@onorua Can you do a ls under dir `/srv/data/etcd/etcd27`?

[2016-03-22 16:09] #4832 closed

[2016-03-22 16:12] xiang90 opened #4836 "etcdctlv3: add dial timeout flag"
Now the default dial timeout is 5 second and is hard coded.

[2016-03-22 16:20] xiang90 opened #4837 "etcdctlv3: add insecure-skip-tls-verify flag"
Add insecure-skip-tls-verify flag to skip cert verification when TLS is using.

[2016-03-22 18:26] onorua commented on #4835
Unfortunately I've removed the dir, instead of `mv` to it. Will try to reproduce it again, if I'll be "lucky".

[2016-03-22 19:20] onorua commented on #4835
I've got the same error message, but I've got another one this time as well, don't know if it is valid reproduce or not.
What I did, I'm moving from etcd inside docker container, to etcd as a systemd service. In order to do this, I stop the container, create user etcd under which it is running, and make
[code]
Then my etcd server tries to start, but fail with following errors:
[code]
then couple o

[2016-03-22 19:22] onorua commented on #4835
One more I forgot to add, systemd status shows this:
[code]

[2016-03-22 19:27] xiang90 commented on #4835
@onorua I am not exactly sure what happened. But it does not look like this is caused by the upgrade. It seems like there are missing WAL files for something. Did you move your WAL dir around? Is this a fresh cluster? How did you reproduce the issue?

[2016-03-22 19:30] xiang90 commented on #4835
The layout of your datadir looks strange. etcd should not create a dir called `data`.

[2016-03-22 19:49] onorua commented on #4835
oh... my gosh! As I've said, we are moving from etcd inside docker continer to systemd service, etcd inside docker had wrong mountpoint inside the container, I've just confirmed that. That is why container was not able to find `member` dir with all the files, because it was actually in `data/member`.
I'm closing this now, sorry for your time, that was my fault :(
I was just confused by that messag

[2016-03-22 19:49] #4835 closed

[2016-03-22 19:50] xiang90 commented on #4835
@onorua No problem at all.

[2016-03-22 20:26] #4836 closed

[2016-03-22 20:49] gyuho commented on #4811
Just saw the label. So we keep the gRPC log in server side
but disable in client side by default?

[2016-03-22 22:23] xiang90 commented on #4786
closed via #4812

[2016-03-22 22:23] #4786 closed

[2016-03-22 22:27] #4767 closed

[2016-03-23 00:09] xiang90 commented on #3852
Resolved in etcdctlv3 by adding endpoint-health command.

[2016-03-23 00:09] #3852 closed

[2016-03-23 13:01] #4784 closed

[2016-03-23 22:59] #4737 closed

[2016-03-23 23:51] heyitsanthony opened #4852 "proxy: support v3 API"
Proxy only supports v2 API right now.

[2016-03-24 02:46] liangsuilong opened #4853 "etcd data cannot be located on NFS storage."
I want to put etcd data on NFS storage. It fails. The output message is below.

root@edo7:~/etcd-v2.3.0-linux-amd64# ./etcd  --data-dir '/mnt/etcd.etcd' -advertise-client-urls http://0.0.0.0:2379,http://0.0.0.0:4001 -listen-client-urls http://0.0.0.0:2379,http://0.0.0.0:4001 -listen-peer-urls http://0.0.0.0:2380
2016-03-24 10:26:32.436906 I | etcdmain: etcd Version: 2.3.0
2016-03-24 10:26:32.43697

[2016-03-24 03:01] heyitsanthony commented on #4853
I believe this is related to `flock` not working over NFS. I tried etcd just now on NFS:
[code]

[2016-03-24 05:52] ajityagaty commented on #4837
@xiang90 I am kind of new to this so please bear with me. If a user specifies --insecure-skip-tls-verify flag to etcdctlv3 then I presume this will be mutually exclusive to the other security related flags and all we have to do is set the "InsecureSkipVerify" to true in TLS config struct? Is my understanding correct?

[2016-03-24 05:54] xiang90 commented on #4837
@ajityagaty Yes. You are right.

[2016-03-24 06:22] liangsuilong commented on #4853
@heyitsanthony Errr.... It looks the problem will not be fixed easily in the short time. Am I right?

[2016-03-24 16:05] heyitsanthony commented on #4853
@liangsuilong I think the fix is to use `lockf` instead of `flock`. Shouldn't be difficult...

[2016-03-24 16:46] gyuho opened #4855 "message delivered only one-way"
[code]

Every `case #1` fails.

[2016-03-24 17:18] gyuho commented on #4855
Election was happening but never elected a leader.

- [1.txt](https://github.com/coreos/etcd/files/188303/1.txt)
- [2.txt](https://github.com/coreos/etcd/files/188304/2.txt)
- [3.txt](https://github.com/coreos/etcd/files/188305/3.txt)

Investigating now.

[2016-03-24 17:37] xiang90 commented on #4740
@heyitsanthony I assume this is already fixed by the issue you mentioned. The new etcdctl is also released in 2.3 release branch. So I'm going to close this issue.

[2016-03-24 17:37] #4740 closed

[2016-03-24 18:34] xiang90 commented on #4311
@omkensey Now etcd can listen on the same port for both TLS and non-TLS.

I guess some people might still want the TLS and non-TLS separation though. Not sure if we need another official port.

/cc @philips @brianredbeard Opinions?

[2016-03-24 18:57] gyuho commented on #4855
Keep getting this:

[code]

So here we kill `majority of the cluster` (agent1, agent3) at `2016-03-24 17:58:49.890369`:

[code]

[code]
[code]

Then tester recovers the cluster but `setHealth` fails because it was taking more than 1 minute:

[code]

And I see almost the same pattern as described here https://github.com/coreos/etcd/issues/4727#issuecomment-194585848:

[code]

**So message vote from

[2016-03-24 19:05] gyuho commented on #4727
This is related to https://github.com/coreos/etcd/issues/4855.

[2016-03-24 19:52] ajityagaty commented on #4837
I was trying my hand at it. I made changes to accept the flag and passed this info down to the transport.ClientConfig method via the transport.TLSConfig struct. Now ClientConfig method sets the "InsecureSkipVerify" to true in tls.Config and returns the config structure back. With this change if I try to run the etcdctlv3 command against etcd running with self signed certificates then I get the fol

[2016-03-24 20:09] xiang90 commented on #4837
@ajityagaty Can you put up your pr as wip? then i can take a look at the code?

[2016-03-25 02:35] ajityagaty commented on #4837
@xiang90 I also have a doubt about the way to test this change. The following is the command line used to start etcd (followed the example provided in the documentation):

./etcd -name infra0 -data-dir infra0 -cert-file './certs/cert.pem' -key-file './certs/key.pem' -advertise-client-urls=https://127.0.0.1:2379 -listen-client-urls=https://127.0.0.1:2379

With this when I run "etcdctlv3 --insecure

[2016-03-25 02:40] xiang90 commented on #4837
@ajityagaty rebase with master and

first try
[code]

then try

[code]

[2016-03-25 15:56] schmichael opened #4865 "client: document threadsafety"
Go documentation usually follows a rule of: something is only safe for concurrent access if it's explicitly documented to be safe.

I don't see any explicit documentation regarding thread safety on https://godoc.org/github.com/coreos/etcd/client, so I would assume it is *not* safe to us an etcd client from multiple goroutines.

However, the code does appear to be threadsafe, so perhaps just the do

[2016-03-25 16:38] #3850 closed

[2016-03-25 20:19] agokjr opened #4866 "etcdctl short flags for --recursive please."
Can we get -r to alias --recursive with etcdctl?

[code]

Thanks

agokjr

[2016-03-25 20:28] mwitkow commented on #3209
Unfortunately this seems to be back after 2.3.0
"etcd ClusterError. Will retry. error #0: context canceled"

[2016-03-25 22:32] #4197 closed

[2016-03-25 23:49] gyuho commented on #3317
We have a fix here https://github.com/coreos/etcd/pull/3645, but it adds unnecessary complexity.
Proxy loop happens from misconfiguration, and it is immediately noticeable in the beginning of cluster set-up. Since we would like to keep code base as simple as possible, it is not worth covering all the edge cases like this.

If this becomes a problem, we will revisit.

[2016-03-25 23:49] #3317 closed

[2016-03-26 15:12] xiang90 opened #4870 "doc: logging level guide"
We should tell user how we choose logging level.

[2016-03-26 15:40] ajityagaty commented on #4866
@xiang90 To be consistent we will have to put in aliases for all the relevant options to all the commands right?

[2016-03-27 02:25] xiang90 commented on #4837
closed by https://github.com/coreos/etcd/pull/4869

[2016-03-27 02:25] #4837 closed

[2016-03-27 04:04] gyuho opened #4874 "TestSTMConflict fails with invalid argument to Intn"
[code]

https://semaphoreci.com/coreos/etcd/branches/pull-request-4871/builds/3

[2016-03-27 05:57] #4811 closed

[2016-03-27 19:39] gyuho commented on #1972
Closing via https://github.com/coreos/etcd/pull/4871.

[2016-03-27 19:39] #1972 closed

[2016-03-27 19:39] xiang90 opened #4877 "proposal: combine etcdctl and etcdctlv3 into one binary"
Now we have two binaries for v2/v3 API. We want to combine them into one binary to make it easy to deliver released binary to users. But we also do not want to confuse users with some magics to guess with version of API the user intend to use. Sometimes it is also impossible to infer from user input without being explicitly (for example, getting a key when the server-side has both v2 and v3 API en

[2016-03-27 19:40] xiang90 commented on #4877
/cc @heyitsanthony @philips @robszumski @robszumski

Any opinion?

[2016-03-27 19:41] gyuho commented on #2515
@jazzzz  `The process cannot access the file because it is being used by another process.` happens when the `WAL` file has no locks. We have added flocks to Windows at https://github.com/coreos/etcd/pull/4871.

[2016-03-27 19:41] #2515 closed

[2016-03-27 19:43] gyuho commented on #4877
sounds good to me. Would it work with flag parsing? Think CLI parses the flag in `init` function?

[2016-03-27 19:44] xiang90 commented on #4877
We can also be smart about the naming of the etcdctl. If the binary is called etcdctlv3 we can assume user wants to use v3.

@gyuho We can make it work.

[2016-03-27 21:29] robszumski commented on #4877
The environment variable sounds ok, but I don't like relying on the name of the binary.

[2016-03-27 21:30] xiang90 commented on #4877
@robszumski OK. Sure.

[2016-03-27 23:22] EgoAleSum opened #4878 "discovery.etcd.io/new - enable CORS"
I'm not sure if this is the right repository to post the issue.

I'm writing a web app that generates a config file for etcd2. The app runs in any web browser. In the app, I'm making an async request to https://discovery.etcd.io/new to generate a new token, but that request fails because the Access-Control-Allow-Origin header is missing.

Could you add a header for CORS so the /new endpoint can be

[2016-03-28 03:57] heyitsanthony commented on #4877
@xiang90 approach seems OK but maybe have it as `ETCDCTL_API=3` instead?

[2016-03-28 05:02] xiang90 commented on #4769
Fixed by #4817

[2016-03-28 05:02] #4769 closed

[2016-03-28 13:01] DanielYWoo opened #4881 "document - how many recent events kept by default"
https://github.com/coreos/etcd/blob/master/Documentation/api.md#waiting-for-a-change
The docs says

Is it the DefaultSnapCount? I guess it should be 10K, not 1K.

BTW, currently generating a snapshot is blocking ( store.clone() ), does it mean smaller snapCount pauses shorter while larger snapCount pauses longer but less  frequently?

[2016-03-28 16:02] gyuho commented on #4855
Did a quick packet scanning with https://github.com/google/gopacket:

[code]

[code]

[code]

[code]

[code]

Now AGENT1 and AGENT3 should be able to talk to the leader AGENT2, but:

[code]

[code]

[code]

[code]

#### Did those Vote Request from AGENT2 to AGENT1 and AGENT3 get actually delivered? Yes.

[code]

AGENT1 and AGENT3 voted for or rejected AGENT2, but AGENT2 did not receive those Vote

[2016-03-28 16:47] gyuho commented on #4727
Closing in favor of https://github.com/coreos/etcd/issues/4855:

[2016-03-28 16:47] #4727 closed

[2016-03-28 18:22] xiang90 commented on #1980
If we build etcd with go 1.6 and enable HTTPs, everything will be HTTP2 (client needs to support HTTP2 too). Also v3 API is already http2 right now.

[2016-03-28 18:22] #1980 closed

[2016-03-28 18:26] xiang90 commented on #4881
It has nothing to do with snapshot count.

store.Clone() should be fast since it is just a memory copy. If you have a large dataset, yes it might block longer.

[2016-03-28 18:26] #4881 closed

[2016-03-28 18:42] #4877 closed

[2016-03-28 18:43] xiang90 commented on #4820
I am closing this due to low activity. Please reopen if this is still an issue.

[2016-03-28 18:43] #4820 closed

[2016-03-28 20:24] heyitsanthony opened #4884 "TestSTMAbort: bad value"
[code]

I think this is a bug in grpc; it's sending despite a canceled context.

[2016-03-28 20:36] #4874 closed

[2016-03-28 21:19] xiang90 commented on #4884
@heyitsanthony Are we able to reproduce the gRPC issue with a simple program?

[2016-03-28 21:25] heyitsanthony commented on #4884
@xiang90 there's not much happening with the STM code that would implicate it. I believe it's related to  https://github.com/grpc/grpc-go/blob/master/transport/http2_client.go#L236-L242 (it should be checking the cancelation status) but when I tried writing a test case against the latest grpc it didn't seem to trigger. I haven't tried to repro with the latest grpc + etcd yet.

The easy way to repr

[2016-03-28 22:15] #2393 closed

[2016-03-28 22:43] xiang90 commented on #1757
Now we already start batching message and disk io seems not to be the bottleneck.

[2016-03-28 22:43] #1757 closed

[2016-03-28 22:53] xiang90 commented on #4878
Please open an issue here: https://github.com/coreos/discovery.etcd.io

[2016-03-28 22:53] #4878 closed

[2016-03-28 22:54] xiang90 commented on #4723
I am closing this one since it seems like this is a go issue, not etcd issue.

[2016-03-28 22:54] #4723 closed

[2016-03-28 23:09] gyuho commented on #4723
Agree. I will keep an eye on the upstream issue https://github.com/golang/go/issues/14754.

[2016-03-29 00:00] #4870 closed

[2016-03-29 03:00] gyuho commented on #4855
FYI.  We found the root cause.

https://github.com/coreos/etcd/blob/master/rafthttp/peer.go#L143-L146 was blocking and made the `Process` never return, even after the message got delivered in network and application layer (confirmed by adding logs to `decodeLoop`):

[code]

[code]

@xiang90 has a fix for this, which might be backported to 2.3 branch as well.

[2016-03-29 03:23] ongardie opened #4887 "new random election timeout on every tick"
I was browsing around with @superfell earlier, and I think this code https://github.com/coreos/etcd/blob/v2.3.0/raft/raft.go#L874 compares against a new random election timeout every time tickElection() is called. If the new random value is ever smaller than the ticks elapsed, it'll start a new election. This is really different from choosing a random election timeout, then waiting for it to elaps

[2016-03-29 03:45] xiang90 commented on #4887
@ongardie

I am aware this. We did the first simple implementation (without remembering the first choice) and did some test around this: https://github.com/coreos/etcd/blob/master/raft/raft_paper_test.go#L350-L384

The ideal value should be around 30%, which is (A10,5)/(10^5).

With the current implementation, it grows up to 35%-40%.

I am not sure there is a real effect in practical with such sma

[2016-03-29 03:55] xiang90 commented on #4887
@ongardie Btw, thanks for bringing this up. We will get a fix soon.

[2016-03-29 05:02] xiang90 opened #4889 "Test failure: TestKVCompact"
[code]

[2016-03-29 05:04] #4866 closed

[2016-03-29 05:12] heyitsanthony commented on #4889
Looks like a test case bug. Watcher client needs a quorum get before it can be expected to know the compaction revision, but that doesn't happen in the test.

[2016-03-29 05:30] #4889 closed

[2016-03-29 06:16] ongardie commented on #4887
@xiang90 your test looks like it only checks if servers time out at the exact same tick. That's not the same as a split vote rate, where two servers timing out at nearly the same time can still cause a split vote.

What's (A10,5)/(10^5) mean? I don't think I get the syntax.

How frequent are ticks? What's a typical election timeout set to?

[2016-03-29 06:33] xiang90 commented on #4887
I mentioned "But this calculation is not exactly effective since raft votes only conflicts when the number conflicts happens with the smallest chosen number."

So you are right. That is an approximation to compare the ideal one and the current one. I feel the actual difference should be smaller.

Sorry. It seems like America calls this P 10,5, which is short for Permutations. No idea why we call t

[2016-03-29 14:46] gyuho commented on #4855
Closing via https://github.com/coreos/etcd/pull/4888.

[2016-03-29 14:46] #4855 closed

[2016-03-29 15:45] xiang90 commented on #3586
@raoofm We are not able to reproduce this. I feel the first error is actually correct
[code]

If it is a cert issue, etcdctl prints out something like
[code]

[2016-03-29 15:52] xiang90 commented on #4115
@purpleidea I am closing this one due to low activity. It seems that there is nothing we can do at etcd side. Let us know if you need any further information.

[2016-03-29 15:52] #4115 closed

[2016-03-29 16:20] xiang90 opened #4894 "make maxdb size configurable"
I would suggest to configure it as 2GB by default and 8GB as max (internally we have 10GB limitation).

We can extend the limitation once we feel more confident about larger data set.

[2016-03-29 16:20] xiang90 commented on #4894
/cc @heyitsanthony opinion?

[2016-03-29 16:28] heyitsanthony commented on #4894
@xiang90 sure, this seems fine (although 32-bit gets crashy around 1GB...)

 How is it going to be configurable, though? etcd argument? etcdctl command?

[2016-03-29 16:30] xiang90 commented on #4894
@heyitsanthony etcd argument for now. right now, we do not have any cluster wide configuration enforcement. we should support this in the future (heartbeat, election, maxdb etc. should be cluster wide consistent)

[2016-03-29 16:36] #4865 closed

[2016-03-29 16:37] schmichael commented on #4865
Fantastic, thanks!

[2016-03-29 16:45] xiang90 commented on #518
@philips It seems like this does not really cause any issue in practice. Fixing this needs some effort (see https://github.com/coreos/etcd/pull/2147). I prefer to mark this won't fix.

[2016-03-29 17:11] xiang90 opened #4896 "etcdctlv3: snapshot/recover design"
#### Snapshot

Snapshot command should get a point-in-time consistent snapshot of the v3 KV space

Snapshot command should not snapshot any configuration related data like clusterID or memberID.

TODO: handle lease?

TODO: support incremental snapshot?

#### Recover

Recover command should write configuration data provided by user like (--initial-cluster, --initial-token, etc..) and create correct

[2016-03-29 17:12] xiang90 commented on #4095
close in favor of https://github.com/coreos/etcd/issues/4896

[2016-03-29 17:12] #4095 closed

[2016-03-29 17:12] xiang90 commented on #3896
close in favor of https://github.com/coreos/etcd/issues/4896

[2016-03-29 17:12] #3896 closed

[2016-03-29 17:13] xiang90 commented on #4896
/cc @heyitsanthony

[2016-03-29 17:31] kayrus opened #4897 "etcdctl: timeouts flags questions"
When we are trying to connect to an unavailable host, i.e.

[code]

`timeout` flag doesn't work as expected (`defaultDialTimeout` is being used by default + `--timeout` value):

[code]

It works only with the `--no-sync` flag:

[code]

Is it supposed to be so?

Another related question: why is it not possible to define timeouts through the environments variables?

[2016-03-29 17:43] xiang90 commented on #4823
This does not really like an etcd issue. This is a deployment issue for our testing infra. It should be tracked somewhere else I think.

[2016-03-29 17:44] gyuho commented on #4823
agree. let's close this. it's in my todolist anyway.

[2016-03-29 17:44] #4823 closed

[2016-03-29 17:47] colhom commented on #4896
@xiang90 it looks to me like `recover` command is roughly what we called `set-config` command [here](https://github.com/coreos/etcd/pull/2366#issuecomment-157844590).

Will `recover` do integrity verification of the snapshot and return a zero exit code only if it's good? Is that even necessary?

[2016-03-29 17:50] ongardie commented on #4887
I see. Ticks are less frequent than I imagined, which lessens the severity of this randomness problem. Still, if ticks are too infrequent (say you only had 1 per election timeout), you'd expect to see a high split vote rate. I'm wondering whether 10 is enough.

How frequent are ticks typically in milliseconds? And how long is a typical one-way latency (half RTT) in milliseconds?

[2016-03-29 17:52] xiang90 commented on #4896
Right.

Probably we can add a --verify flag? So etcdctl can help to verify the snapshot. Or the verification will delay to server startup time. On the other side, we do expect user to verify snapshot after they store it somewhere. So a force verification seems to be redundant for some use case.

[2016-03-29 17:57] xiang90 commented on #4887
You mean the default, right? For the default setup in etcd, we assume the machines are in one DC. We assume the one-way latency is usually well under 10ms (<1ms for most of the time).

The default heartbeat tick is around 100ms and election timeout is 10 ticks (1s). Sometimes, we suggest to set to 10ms, 300ms for faster recovery (higher false positive rate though... GC, high load can lead to highe

[2016-03-29 17:59] gyuho commented on #3209
Ok just got it reproduced `client: etcd cluster is unavailable or misconfigured` when canceling watch context. Will fix shortly.

[2016-03-29 18:15] colhom commented on #4896
@xiang90 how much validation is done on `etcdctl backup`? Assuming that whatever `backup` creates with exit code 0 is "gauranteed" to be valid for `restore` on any etcd 2.x, the `--verify` flag would be redundant. Verifying the snapshot hasn't been corrupted between `backup` and `restore` is out of scope, for sure.

[2016-03-29 18:16] xiang90 commented on #4896
@colhom etcdctl backup guarantees to return a good snapshot when exit with 0.

[2016-03-29 18:17] colhom commented on #4896
Ok then, imho we don't need a `--verify` flag for restore.

[2016-03-29 18:17] xiang90 commented on #4896
@colhom I feel so. Thanks!

[2016-03-29 18:19] ongardie commented on #4887
Thanks.

I think this might make a good detour in my CoreOS Fest talk, along with hashicorp/raft#109. I'm working on a tool that includes a visualization component like RaftScope but also a simulator and model checker. It might be fun to talk through Raft's randomized timeout algorithm and these two variations, and show some graphs from simulations of how they compare. Those default/typical values

[2016-03-29 18:25] xiang90 commented on #4887
The ticking is not synced. Actually I can get some real world data for you. We are injecting failures into etcd consistently on GCE (http://dash.etcd.io/dashboard/db/functional-tests). We have the data of split votes :). We did observe some long election, but most of them are caused by the bad buffer/batching mechanism used by upper layer.

[2016-03-29 18:27] omkensey commented on #4311
I think if that's working, we should just scrub all references to other ports in the docs, stop etcd listening on those ports by default, and forget they were ever used.

[2016-03-29 18:27] gyuho commented on #4897
I see the same behavior. Will take a look.

[2016-03-29 18:30] kayrus commented on #4897
Well, I wanted to fix that myself, but then decided to ask first.

[2016-03-29 18:35] ongardie commented on #4887
Cool, I'd love to have the real-world data for comparison.

What if I were to boot the servers at the same time?

[2016-03-29 18:37] ongardie opened #4899 "simplifying raft progress inflights"
Hope this is an ok place to discuss. I came across some, shall we say, "clever", data structure for the "inflights" defined in this file: https://github.com/coreos/etcd/blob/v2.3.0/raft/progress.go#L66

My basic question is: what is the purpose of it? Is it only used for application-level flow control, to prevent the leader from sending too many entries to a follower too quickly? If that's all, wo

[2016-03-29 19:06] gyuho commented on #4897
I think it happens when it does not use specified timeouts from flags. If you want to fix I was going to update as below.

[code]

/cc @xiang90 @kayrus

[2016-03-29 19:14] xiang90 commented on #4887
By not synced, I mean we do not sync the ticker intentionally.

[2016-03-29 19:18] xiang90 commented on #4899
Yes.

Counting how many bytes have been sent is not enough. We want to know how many bytes are inflight. So we need to know how many bytes have been sent and how many bytes have been received. The sliding buffer is a map from index to its size. So by sliding that window, we can calculate the inflight number of bytes.

[2016-03-29 19:19] xiang90 commented on #4899
@ongardie If we only want to count the inflight number of entries, then we do not need this window. A simple counter is fine.

[2016-03-29 19:25] kayrus commented on #4897
@gyuho I think we have to remove `defaultDialTimeout` variable, and use `return transport.NewTransport(tls, c.GlobalDuration("timeout")` on the 171th line in `etcdctl/ctlv2/command/util.go`.

But it is not quite clear for me yet. Probably it is necessary to implement that in function, and add parsing of the env variables.

[2016-03-29 19:47] xiang90 commented on #4311
@omkensey Sure. We will check if we suggest other ports to users and we will add the tls/non-tls on the same port doc soon.

[2016-03-29 19:48] xiang90 commented on #4819
I feel this is not an etcd issue but a testing infrastructure issue.

[2016-03-29 20:38] philips commented on #4311
The current practice of having TLS and non-TLS on the same port, if configured, is fine with me.

[2016-03-29 20:45] purpleidea commented on #4115
@xiang90 Fair enough! The other priority turned into two and are now (as of last night) in git master https://github.com/purpleidea/mgmt/ -- woo! -- I'm now trying to focus on doing the etcd parts before coresos fest in Berlin. Will you be coming?

Cheers
James

[2016-03-29 22:03] xiang90 commented on #3761
I am working on this one. This requires some work...

[2016-03-29 22:11] heyitsanthony commented on #4896
I think auth and alarms would need special handling too.

Maybe it'd make sense to have a special etcd KV space and use the KV machinery already in place (watchers, get) instead of managing custom buckets?

[2016-03-29 22:15] xiang90 commented on #4896
@heyitsanthony In most of the cases (if not all), users just want to backup the static data not dynamic ones like leases, watcher or alarm I think.

[2016-03-30 00:22] #3209 closed

[2016-03-30 00:23] gyuho commented on #3209
@mwitkow Thanks for reporting. I checked the release 2.3 also has this issue.

Please try with master branch. Should be fixed.

[2016-03-30 00:56] gyuho opened #4900 "Proposal: use bufio.Scanner instead of gexpect"
Currently our only use case of gexpect is to match expected output.
etcd and etcdctl outputs are line separated, so we can simply use
https://golang.org/pkg/bufio/#NewScanner to scan line by line.
So I propose to write our own rather than being blocked on external dependency.

I have been using it for our release migration tests and implementation is much simpler.
You might have better way to impl

[2016-03-30 01:24] heyitsanthony commented on #4900
I think it's OK to abandon gexpect in favor of something like this. The only thing missing is something like `cmd.Expect(string)` that will read lines until one contains the expected string and a way to detach from stdout (like `gexpect.Interact()`)

[2016-03-30 01:34] gyuho commented on #4900
I see. I will check if this can do the interact feature as well. Thanks.

[2016-03-30 01:55] #4894 closed

[2016-03-30 04:45] brianredbeard commented on #4311
+1 to @omkensey and @philips comments

[2016-03-30 08:47] gyuho commented on #4900
Ended up writing as much code as gexpect. Just reading stdout and stderr
from CLI will be +/- 100 lines of code, but in case later we want to test interactive
mode with stdin, it requires much more code. Think it's easier to just fix the gexpect
or fork our own gexpect.

Thanks.

[2016-03-30 08:47] #4900 closed

[2016-03-30 09:23] gyuho opened #4903 "functional-tester: walpb: crc mismatch"
Got `etcdserver: read wal error (walpb: crc mismatch) and cannot be repaired`

[code]

[2016-03-30 09:27] gyuho commented on #4903
Logs and data https://console.cloud.google.com/storage/browser/etcd-issues-4930-20160330.

[2016-03-30 11:10] reterVision opened #4904 "How to implement client.KeysAPI"
I was trying to make a mock struct to do some testing with etcd API. But I get these errors:

[code]

I'm on Go1.6 now and using current master branch of etcd.

[2016-03-30 14:03] reterVision commented on #4904
Looks it can be solved if I put etcd into my vendor folder.

[2016-03-30 14:03] #4904 closed

[2016-03-30 14:11] gyuho commented on #3328
Users can set their own timeouts and will see the related context timeout
in client side. Below are my proposals to add more time-out loggings in
server side:

1. https://github.com/coreos/etcd/blob/master/etcdserver/server.go#L959
plog.Warningf("failed to send out heartbeat on time (deadline exceeded %v over limit %v)", exceed, s.cfg.TickMs)

2. https://github.com/coreos/etcd/blob/master/etcdserv

[2016-03-30 14:21] xiang90 commented on #4903
@heyitsanthony This might be related to the wal pkg changes.

[2016-03-30 16:09] heyitsanthony commented on #4900
I'm going to see if I can hack something together in an hour...

[2016-03-30 16:10] gyuho commented on #4900
@heyitsanthony Sounds great! Thanks!

[2016-03-30 17:08] gyuho commented on #4897
@kayrus Agree that we can just remove the default dial timeout var.
And adding helper function sounds good.
Would you like to work on that?

Thanks!

[2016-03-30 17:10] xiang90 commented on #4634
fixed by https://github.com/coreos/etcd/pull/4863

[2016-03-30 17:10] #4634 closed

[2016-03-30 17:10] xiang90 commented on #4712
fixed by https://github.com/coreos/etcd/pull/4863

[2016-03-30 17:10] #4712 closed

[2016-03-30 17:12] kayrus commented on #4897
@gyuho let's get @xiang90 opinion first.

[2016-03-30 17:23] cdancy opened #4906 "libraries-and-tools.md: add etcd-rest"
Add [cdancy/etcd-rest](https://github.com/cdancy/etcd-rest) to list of java-libraries.

[2016-03-30 17:41] gyuho opened #4907 "functional-tester: required revision already compacted"
[code]

[code]

[code]

[code]

[2016-03-30 18:55] gyuho commented on #4907
@heyitsanthony I still don't understand how we got `required revision has been compacted`:

1. request compact with revision
2. this request is replicated to cluster
3. each node applies this command, for the first time with the revision

We don't issue duplicate compact request as far as I know. What am I missing?

Thanks!

[2016-03-30 19:08] heyitsanthony commented on #4907
@gyuho cluster.compactKV could double-send if the connection is severed after the message is sent but before it is acknowledged

[2016-03-30 20:02] #4906 closed

[2016-03-30 20:53] xiang90 commented on #3761
Fixed by #4908

[2016-03-30 20:53] #3761 closed

[2016-03-30 22:19] gyuho commented on #4907
Fixed via https://github.com/coreos/etcd/pull/4911.

[2016-03-30 22:19] #4907 closed

[2016-03-30 23:36] schmichael opened #4913 "Don't vendor dependencies for etcd/client"
I have run into the same problem @retervision did in #4904 when attempting to implement a fake etcd interface in a [library](https://github.com/lytics/metafora).

I'm new to vendoring in Go, but my understanding is that using vendoring in libraries (that is: non-main non-internal non-test packages with public APIs) is discouraged\* and that vendoring should be left up to the binaries (executables)

[2016-03-30 23:41] gyuho opened #4914 "functional-tester: different hash after compaction"
[code]

[2016-03-30 23:45] gyuho commented on #4914
Data and logs: https://console.cloud.google.com/storage/browser/etcd-issues-4914

Investigating.

/cc @heyitsanthony @xiang90

[2016-03-31 00:04] heyitsanthony commented on #4914
[code]

Looks like it's restoring from snapshot and then compacting.

[2016-03-31 06:38] gyuho commented on #4914
Just confirmed that compaction was still going:

[code]

Agent1:

[code]

Will see if we can sync these.

[2016-03-31 15:17] xiang90 commented on #4913
@schmichael The short answer is we are considering moving client/clientv3 to its own top level pkg.

[2016-03-31 21:54] heyitsanthony opened #4924 "*: failpoints"
There are many error conditions in etcd that are difficult to exercise but important to test for correctness. For instance, a recovery path may be exercised by inducing a crash under particular circumstances (e.g., right before a sync). However, crash cases and other exceptional states at the moment are only being chanced upon by stress testing.

Failpoints provide a way to deterministically exerc

[2016-04-01 01:29] AkihiroSuda commented on #4924
Hi, I'm working on an AOP framework for Go.
Do you think AOP is helpful for failpoints?
https://github.com/AkihiroSuda/golang-exp-aspectgo/tree/v20160401/aspectgo

There are also other existing AOP implementations for Go:
* https://github.com/deferpanic/goweave
* https://github.com/gogap/aop

[2016-04-01 01:46] gyuho commented on #4914
@heyitsanthony @xiang90 I tried https://github.com/coreos/etcd/pull/4915 but doesn't seem to resolve the issue:

[code]

[code]

[code]

[code]

Why don't we add an interface like this to directly query the backend?

[code]

Or could we fix the `checkCompact` function?

Thanks!

(Btw, the code that got this error was this branch https://github.com/gyuho/etcd/commit/13543fbc246ec40f5c48400c942b791b

[2016-04-01 01:53] heyitsanthony commented on #4914
@gyuho that branch doesn't seem to have https://github.com/heyitsanthony/etcd/commit/5017f157f33e93b3fac0250e08edf79673b8c623 which I believe will fix the problem.

I don't understand what that direct query achieves-- how does it guarantee the compact is physically complete?

[2016-04-01 01:54] gyuho commented on #4914
@heyitsanthony Oh I missed that patch. Sorry! Let me retry.

[2016-04-01 02:01] gyuho commented on #4914
@heyitsanthony Nvm. You are right. I thought just querying backend of each machine.

But getting compact revision from Watch and doing the force commit seem like the correct way.

[2016-04-01 05:36] ongardie commented on #4899
Ah, I didn't realize you were tracking bytes per message. Can you make that clear in the code comments? I see why an integer isn't enough now. I'm still confused as to which variables represent log indexes and which ones represent bytes.

Also, is inflights.size the same as len(inflights.buffer)? If so, I'd suggest removing it, and if not, please teach me Go :)

[2016-04-01 07:47] peterbourgon commented on #4913
It is not only client packages. I am having the same problem when trying to implement various etcdserverpb.XServer interfaces. See [this mailing list post on golang-nuts](https://groups.google.com/forum/#!topic/golang-nuts/AnMr9NL6dtc) and [this repo which demonstrates the problem](https://github.com/peterbourgon/wtf).

This problem was raised earlier on golang-dev, [see this post and Russ's reply

[2016-04-01 07:54] peterbourgon commented on #4913
I think this means etcd needs to be split into two repos:

- etcdbin, containing all of the package mains, with vendoring
- etcdlib, containing everything that isn't package main, with no vendoring

[2016-04-01 07:56] thundercw opened #4927 "redundant addNode calls will case the ProposeConfChange disabled"
Redundant addNode calls will case the ProposeConfChange disabled because  the `r.pendingConf ` is not set to false.
[code]

[2016-04-01 08:33] peterbourgon commented on #4913
@schmichael For the record **1** is definitely not a viable solution due to reasons outlined above.

[2016-04-01 10:26] purpleidea commented on #4115
Did some looking into capnslog today, found out where it all goes wrong ;)

Here: https://github.com/coreos/pkg/blob/master/capnslog/log_hijack.go#L26

The main logger is hijacked, and as a result pipes everything through capnslog instead... In my code, I added to init() (or main()):

which fixed the output for my logging, but still shows the capns style logs for etcd software...

I think if I wer

[2016-04-01 14:41] xiang90 commented on #4927
@thundercw Why do you call addNode multiple times? I feel this is the user's responsibility to do this correctly.

[2016-04-01 15:46] heyitsanthony commented on #4903
I took a look at the WAL files. The tail WAL file has the CRC error, so I disabled the CRC checking. The first entry in the tail file has an index greater than the index in the tail name. Judging by the difference between the name index and entry index, the tail contains data intended for the next tail; it's clobbering the data for the second to last wal file with the tail wal file data.

[2016-04-01 16:21] xiang90 commented on #4913
@peterbourgon Thanks for the extensive analysis. We are looking into this problem and will try all the possible options. We want everything inside one repo if possible and also want to ensure go tool works (like go get, go install). We will get back to you soon.

[2016-04-01 16:24] peterbourgon commented on #4913
@xiang90 There is extensive discussion on the mailing list and the Gopher slack #vendor channel, I recommend coming to the latter to get a proper framing/context for the discussion.

[2016-04-01 16:46] xiang90 opened #4928 "test: --- FAIL: TestCtlV2MkQuorum (0.29s)"
[code]

[2016-04-01 17:09] #4008 closed

[2016-04-01 17:15] gyuho commented on #4914
@heyitsanthony @xiang90 We are getting much less of this failures now but I still see the same pattern:

1. checkCompaction thinks the compaction is done
2. But still compaction is in progress
3. Compare hash and gets the inconsistent hash values

[code]

AGENT1 and AGENT2 are fine, but AGENT3 hasn't finished the compaction yet.

[2016-04-01 17:26] xiang90 commented on #4899
Obviously, you know that better than me. I will try to clean inflight up and make the doc better. Thanks for bringing this up.

[2016-04-01 17:29] gyuho commented on #4914
I think we should update compact revision when we actually finish the compaction:

https://github.com/coreos/etcd/blob/master/storage/kvstore.go#L248

[code]

Instead, how about:

https://github.com/coreos/etcd/blob/master/storage/kvstore_compaction.go#L46-L52

[code]

[2016-04-01 17:31] xiang90 commented on #4914
No. We should not. Compact is a barrier, it should be set as long as the index is compacted. It should not wait for the background cleaning up to finish.

[2016-04-01 17:32] gyuho commented on #4914
@xiang90 You are right.

[2016-04-01 17:37] gyuho commented on #4914
Full logs with snapshot parts:

[code]

[2016-04-01 18:52] ongardie commented on #4899
No way! I'm pretty sure I've written under 500 lines of Go in total still. I'm a noob.

Thanks for clarifying and working to clean this up.

[2016-04-01 19:36] xiang90 commented on #4887
Fixed by https://github.com/coreos/etcd/pull/4929.

[2016-04-01 19:36] #4887 closed

[2016-04-01 22:04] xiang90 opened #4932 "doc: raw node"
A few people (@abligh, @manishrjain
, @ngaut and more) are interested in having cockroach style multi-raft implementation in their application to reduce heartbeat cost.

@bdarnell @tamird Do you think it is reasonable to doc how people should use RawNode to achieve that with a simple example?

[2016-04-01 22:23] #4903 closed

[2016-04-01 22:29] gyuho commented on #4914
Tried @heyitsanthony 's patch https://github.com/coreos/etcd/compare/master...heyitsanthony:compact-barrier-restore and got two more failures:

[code]

What's happening is `storage: init compactBarrier 14241563` gets called but we check hash before this gets finished. Could you push the PR later from that branch with comments?

Currently I do not understand well enough about what the patch does. B

[2016-04-01 22:30] gyuho commented on #4914
Data and logs https://console.cloud.google.com/storage/browser/etcd-issues-4914

[2016-04-01 23:22] heyitsanthony commented on #4914
@gyuho I found a bug in that branch (now fixed) but it seems unrelated to the failures.

Judging by the logs, the tester is receiving a compaction ack from agent-2 but the agent-2 etcd doesn't have a message about acknowledging the compaction. If there's no ack message, agent-2 etcd must not be closing the channel. If the channel doesn't close, then the RPC shouldn't ack. Not sure what is going on

[2016-04-01 23:29] heyitsanthony commented on #4914
Oops. I see what's happening... `Compaction` is eating the channel.

[2016-04-01 23:33] xiang90 opened #4935 "do not complaint about db file"
Now v2 snapshot does not understand db file and complaints about it
[code]

[2016-04-02 03:42] #4914 closed

[2016-04-02 07:56] ajityagaty commented on #4589
@heyitsanthony Is there a plan to port v3 to use codegansta? Or if you folks have figured out how to go about testing etcdctl please let me know. I can find sometime to help you guys write the tests given a template.

[2016-04-02 19:17] heyitsanthony commented on #4589
@ajityagaty v3 isn't being ported to codegangsta/cli; see #4877. v3 e2e testing is already in progress.

[2016-04-02 21:17] xiang90 commented on #4589
@heyitsanthony @ajityagaty

Actually we want to use cobra not `codegangsta/cli` in the future. So we will not do the port. As @heyitsanthony mentioned, you can check the current progress in https://github.com/coreos/etcd/blob/master/e2e/etcdctlv3_test.go.

Probably you want to coordinate with @gyuho to see what needs to be done.

[2016-04-02 21:22] ajityagaty commented on #4589
Thanks @xiang90 @heyitsanthony !

@gyuho Please let me know if there is anything that I can help with.

[2016-04-02 21:40] bdarnell commented on #4932
Yeah. I assume you've seen our original blog post on the subject: https://www.cockroachlabs.com/blog/scaling-raft/

I'm going to be working on a follow-up post soon that will talk about what we've learned since then, but in short we've abandoned the idea of building any kind of reusable abstraction for multiraft because there doesn't seem to be any way to avoid a very high degree of coupling betwe

[2016-04-02 21:50] gyuho commented on #4589
@ajityagaty Sure, we would very much appreciate it.

If you would like to help, you can start with `ETCDCTL_API=3 ./etcdctl user`?
`user` feature is pretty new, so having tests would be very helpful!

I am working on e2e tests on other commands. I will let you know if I need more help.

[2016-04-02 22:13] gyuho opened #4940 "integration test: TestWatchWithProgressNotify DATA RACE"
https://semaphoreci.com/coreos/etcd/branches/pull-request-4939/builds/1

[code]

[2016-04-03 01:58] #4665 closed

[2016-04-03 02:28] xiang90 opened #4943 "store cluster configuration into storage"
Now we still store all cluster configuration into v2 store. It is OK as long as we still use v2 and v3 at the same time. However it will be a problem when we want to completely disable v2 or drop v2 support in long term.

We should consider storing the configuration into storage pkg.

[2016-04-03 16:18] xiang90 commented on #4935
@ajityagaty Do you want to look into this a little bit? This is checked in snapshot.go checkSuffix in snap pkg. We need to make db a valid filename with no suffix.

[2016-04-03 19:02] #4928 closed

[2016-04-03 19:06] ajityagaty commented on #4935
@xiang90 Sure, I'll give it a try. Thanks !

[2016-04-04 00:37] ajityagaty opened #4953 "e2e: Undefined fmt in etcdctlv3_test.go"
The SemaphoreCI test failed with the following error:

Running integration tests...
(github.com/coreos/etcd/e2e)
gopath/src/github.com/coreos/etcd/e2e/etcdctlv3_test.go:378: undefined: fmt in fmt.Sprintf
FAIL	github.com/coreos/etcd/e2e [build failed]

Was found while running test for PR #4952

[2016-04-04 00:44] gyuho commented on #4953
Yeah this is very strange. Somehow `fmt` got removed with multiple merges. Should be added back with https://github.com/coreos/etcd/pull/4951.

Thanks.

[2016-04-04 00:54] #4935 closed

[2016-04-04 01:02] ajityagaty commented on #4589
@gyuho Thanks ! I will start looking into it.

[2016-04-04 10:00] purpleidea commented on #4115
@xiang90 Here is one patch I've made to work around this: https://github.com/coreos/pkg/pull/53 It doesn't affect any of the capnslog functionality anywhere else as it's only an additional formatter which nobody has to use. I think it could be useful for embedding etcd. Cheers and sorry for the delay.

[2016-04-04 14:24] xiang90 commented on #4115
@purpleidea Thanks for the update!

[2016-04-04 14:49] raoofm opened #4960 "Horizontally scalable proxy layer? What it means to end user?"
Apologies, it is not an issue, just wanted to understand what it means to an end user as it is planned for a future etcd release.

Is there a better place to ask questions or is it expected to open an issue?

[2016-04-04 16:24] heyitsanthony commented on #4953
Fixed by #4955

[2016-04-04 16:24] #4953 closed

[2016-04-04 18:46] xiang90 commented on #4960
@raoofm

There are two things proxy can do:
1. caching
2. watch coalescing

If the user of can tolerant some additional latency, then we can build a proxy layer to do caching aggressively and also broadcast watch result in a much more scalable way.

[2016-04-04 19:10] tianhao opened #4962 "cluster's slave node start service start failure,but start success with command"
[code]

[code]

master ip=192.168.0.129
etcd.conf:
[code]

slave node ip=192.168.0.130
etcd.conf:
[code]

master etcd service start success, but slave start failure:
journalctl -u etcd
[code]

I start slave etcd success with command :
[code]
after start it with command, master check it is health:
[code]

[2016-04-04 19:25] xiang90 commented on #4962
So is this an etcd issue? Or a systemd question?

[2016-04-04 20:34] xiang90 commented on #4641
I think we can close this for now after we start to do compaction+defrag.

[2016-04-04 20:34] #4641 closed

[2016-04-04 22:07] tianhao commented on #4962
etcd issue with systemd
my os is CentOS7

[2016-04-04 22:15] xiang90 commented on #4962
@tianhao I do not really understand. From my understanding based on your original issue, etcd works without systemd, but it does not work when starts with systemd unit file. It seems like the problem is your systemd unit configuration or your environment to start the service. Also journalctl does not show all the logging before etcd exists. Probably try to get all the log first?

[2016-04-04 22:16] xiang90 commented on #4962
@tianhao https://github.com/coreos/etcd/blob/master/Documentation/reporting_bugs.md#how-to-get-etcd-configuration-and-log-when-it-runs-as-systemd-service-etcd2service

[2016-04-04 22:51] xiang90 commented on #4897
@kayrus

There are two configurable timeouts for v2 client ct. ReqeustTimeout for finishing a request from an endpoint. Total timeout for finishing a command request.

We need to make the sync honors `requstTimetout` and `totalTiemout`. check https://github.com/coreos/etcd/blob/master/etcdctl/ctlv2/command/util.go#L218.

[2016-04-05 01:32] thundercw commented on #4927
@xiang90 Yes,user has the responsibility to do this correctly. But in some scenarios, for example user`s command timeout ,will lead to issue a new command.  The new request enters the raft before the older one reach to consensus.
I think redundant addNode have no harm to the cluster, so we always set the `r.pendingConf` to false will avoid this incorrect state.

[2016-04-05 01:37] xiang90 commented on #4927
That is fine. One addNode per command is OK as long as all your commands go through raft correctly. What is not good is that you call addNode randomly.

[2016-04-05 02:11] xiang90 commented on #4940
This is fixed by https://github.com/coreos/etcd/pull/4958

[2016-04-05 02:11] #4940 closed

[2016-04-05 03:12] mqliang opened #4965 "Etcd plugin / middleware proposal"
### Etcd plugin / middleware proposal
----

#### Motivation
1. As a user, I'd like etcd support criteria query and secondary indexing.

    In some case, we'd like etcd support criteria query, for example: in k8s, Scheduler just want list&watch unscheduled pods(`pod.spec.nodeName=""`), Kubelet
just want list&watch the pods assigned to itself(`pod.spec.nodeName="XXX"`). Current, k8s address this in

[2016-04-05 03:14] mqliang commented on #4965
@xiang90 @hongchaodeng @magicwang-cn @HardySimpson

[2016-04-05 03:19] xiang90 commented on #4965
@mqliang What prevent you from doing 1, 2, 3 externally? It seems like all you need is a smart proxy.

[2016-04-05 03:35] mqliang commented on #4965
@xiang90 Yes, using a proxy could also address the use cases. Does the "Horizontally scalable proxy layer" in roadmap mean this? If yes, I'd like the proxy layer be pluggable and extensible: plugin to support criteria query, middleware to support authentication/authorization and sharding.

[2016-04-05 03:36] magicwang-cn commented on #4965
+1.

yes, with the huge load, client will return (`401`)  frequently, because etcd has a default watch window(`1000 size for all keys`), and the etcd client does not support streaming results. so filter in server side will be useful.

just want list&watch the pods assigned to itself(pod.spec.nodeName="XXX"). Current, k8s address this in API server: API server list&watch all pods, but will filter t

[2016-04-05 03:41] HardySimpson commented on #4965
But the server side criteria query is not a proxy can do.
It can save many network cost and etcd's memory, prevent etcd from OOM

Is etcd v3 already support this? I'm not sure

[2016-04-05 03:48] mqliang commented on #4965
side criteria query could only be supported by some plugin like mechanism, since etcd requires that  key/value are both string type. Only if user know their data are of some format(eg. josn, yaml), they could write their own parsing logic to support criteria query.

[2016-04-05 04:23] heyitsanthony commented on #4965
1. Would there be additional API features etcd would have to support?
2. A plug-in architecture means supporting another client interface. Is it worth the developer effort and codebase ossification to maintain compatibility?
3. Is it very difficult to write an etcd proxy as a separate project? (in my experience, it is straightforward to write a kv proxy using the etcd3 client, although I haven't t

[2016-04-05 06:55] mqliang commented on #4965
@heyitsanthony

IMO, criteria query does NOT need a  plug-in architecture, request/response middleware could do all the job. Only secondary indexing may need a plug-in architecture support(support hook functions). But there seem no other calls for this feature, we can evaluate and decide whether we should support this.

To be clear, I am not object to proxy, we can definitely implement all those f

[2016-04-05 07:10] heyitsanthony commented on #4965
@mqliang you're going to have to be more specific with what you mean by "middleware". Anything that has to interact with the internals of the etcd server instead of through RPCs is a non-starter since the internals can't be public interfaces.

[2016-04-05 07:28] mqliang commented on #4965
@heyitsanthony Sorry for the confusing term, I should be more specific. "middleware" here means request/response middleware using to filter/transform/forward requests/response, which is widely used in web framework, for example: the HTTP middleware in the PHP laravel framework(see https://laravel.com/docs/master/middleware). Kubernetes also have such a middleware-like mechanism, kubernetes calls t

[2016-04-05 08:48] purpleidea commented on #3670
Sorry for the giant delay, but I've actually started hacking on this now, and am going through some etcd internals and will ultimately prepare some patches if needed...

Question: Is targeting git master okay, or should I branch off of v2.3.0 ? I'm happy to use git master as long as I'm correct in understanding that this will eventually become the v2.3.x or v2.4.x release, at some point.

Thanks a

[2016-04-05 09:14] mqliang opened #4967 "Some requests becomes very slow(several seconds)"
We made a test on kubernetes and etcd: 4500 nodes, each has one pod. Then from the log of API server, some requests becomes very slow(seconds), and others are normal:

[code]

As the log demonstrate, one GET and one PUT requests is very slow, but others are normal. It's really strange.

BTW, there are some "broken pipe" log in etcd's log, what's the meaning of this log?

[code]

[2016-04-05 14:37] xiang90 commented on #4967
Do you know how many items will that get return? And what size is the returned response?

Broken pipe means the client has already closed the connection. Most of the time it is a client side issue.

Moreover, please check https://github.com/coreos/etcd/blob/master/Documentation/reporting_bugs.md#reporting-bugs before reporting bugs.

We can look into this if you can reproduce the issue in an isola

[2016-04-05 14:41] xiang90 commented on #3670
git master is OK. We will back-port bug fixes. New features will usually not be back-ported though. Master will become a new minor or major release eventually.

[2016-04-05 14:49] xiang90 commented on #4965
@magicwang-cn

This has nothing to do with server filter in my opinion. etcd3 has already solved this by maintaining a user defined history.

[2016-04-05 14:50] timothysc opened #4969 "Documentation on upgrade path from etcd2 to etcd3"
The following issue is meant to capture the best practices, and recommended approach, for upgrading and existing etcd2 cluster to etcd3 with minimal downtime if possible.

/cc @ingvagabund @wojtek-t @xiang90

[2016-04-05 14:53] xiang90 commented on #4965
@HardySimpson

Poxy does not have to involve network. We can put proxy co-located with etcd server or we can embed etcd into a proxy, check https://github.com/coreos/etcd/issues/4435 for more details.

I am not sure how it will prevent etcd from OOM. As long as you store more keys or serve more concurrent requests than your machine can handle, it will OOM. The application developer now has to prev

[2016-04-05 14:56] xiang90 commented on #4965
For the proxy, it will be a library. So basically you can import it and do whatever you want it to do. A "middleware" will just be another http.Handler or gPRC.Interceptor to put in front of the proxy library.

[2016-04-05 15:04] xiang90 commented on #4965
@mqliang

For example, Readonly proxy is a so-called "middle-ware" for the actual proxy hander here: https://github.com/coreos/etcd/blob/master/proxy/proxy.go#L43-L61.

[2016-04-05 19:45] gyuho opened #4972 "TestSTMAbort bad value"
[code]

[2016-04-05 19:46] heyitsanthony commented on #4972
#4884

[2016-04-05 19:46] #4972 closed

[2016-04-05 19:48] gyuho commented on #4972
Oh i I missed that. Thanks!

[2016-04-05 21:19] codefx9 opened #4973 "Is etcd health endpoint served via http when authenticated TLS certs are used?"
I am using Example 2 mode from here: https://github.com/coreos/etcd/blob/master/Documentation/security.md#example-2-client-to-server-authentication-with-https-client-certificates

Is etcd health endpoint served via http in that mode? I could not find any information on that in the docs.

Thanks.

[2016-04-05 22:08] gyuho opened #4974 "TestV3StorageQuotaApply fails"
[code]

https://semaphoreci.com/coreos/etcd/branches/master/builds/734

[2016-04-06 04:36] #4913 closed

[2016-04-06 06:16] ajityagaty opened #4977 "etcdctlv3: interactive flag to user add command"
This is more of a usability thing.

By default when a user executes "ETCDCTL_API=3 etcdctl user add xyz" command, the password will be accepted in interactive mode. So just specifying --interactive is kind of redundant.

Setting the interactive mode as a default behavior is preferred. But wouldn't be better to have a flag that overrides the default behavior?

What was the initial thinking while ad

[2016-04-06 06:22] mitake commented on #4977
@ajityagaty The assumed usage of the flag is `--interactive=false` and let the command read password from stdin. Its main target is testing. It enables fully automated creation of a user in a test script.

[2016-04-06 06:32] ajityagaty commented on #4977
Thanks @mitake !
I am attempting to write the test cases for it now and I just wanted to confirm that is was mainly meant for testing :)

I think I should have posted this is in the discussion forum rather than opening an issue. Will close it.

[2016-04-06 06:32] #4977 closed

[2016-04-06 06:36] mitake commented on #4977
@ajityagaty the test cases are helpful, thanks! But the v3 auth is in early stage so things won't be stable for a while. Please forgive me if I break things :)

[2016-04-06 08:20] tomek-cz opened #4978 "etcd returns "Key not found" error when issuing GET request soon after the etcd has started"
While testing etcd-2.0.9 and etcd-2.2.5 I noticed that etcd returns invalid response when it's queried a fraction of second after the etcd daemon has started. Tested on Fedora 22 and OpenSuse 13.2

Reproduction steps:
In one terminal window on the Linux PC:
$ cd etcd-v2.2.5-linux-amd64
$ for i in {1..100}; do timeout 3 ./etcd ; done

In second terminal window on the same Linux PC:
$ CURL="curl -X

[2016-04-06 08:44] mitake commented on #4978
Hi @tomek-cz ,

I saw a similar situation in the past. How about read the key with `etcdctl get --quorum key1`? Because the get of v2 API doesn't processed by a leader in default, you might be able to see the situation that the key doesn't exist direct after creation (it heavily depends on timing).

BTW, how do you initialize the `key1`?

[2016-04-06 09:40] tomek-cz commented on #4978
Thanks @mitake

I did it once few hours earlier and I am not modifying that.
$ curl -X PUT http://127.0.0.1:4001/v2/keys/local/settings/key1 -d value="testvaule"

When adding ?quorum=true to the CURL's URL it actually helps a lot.

I am getting either of two:
curl: (7) Failed to connect to 127.0.0.1 port 4001: Connection refused
or
curl: (52) Empty reply from server

But that's something I would e

[2016-04-06 13:53] mitake commented on #4978
Can you read the value successfully?

Yes. But it is a little bit strange because in a single server mode the quorum flag won't affect the result. In addition, the inconsistent state shouldn't continue for a long time (hours). Do you have any idea, @xiang90 ?

[2016-04-06 14:04] mitake commented on #4978
I missed about the timeout command. You are quickly booting and halting etcd. Maybe etcd accepts request before completing log replay?

[2016-04-06 15:25] tomek-cz commented on #4978
Yes, on the next GET attempt. And because I am restarting the service I expect its unavailability for a moment. So that is fine to me.

The inconsistent state continues for a fraction of a second only. The next GET returns expected output.

I will get the logs from my single server and paste it here tomorrow so we can see if that gives us a hint about  why the quorum flag has helped.

Many thanks

[2016-04-06 16:19] schmichael commented on #4913
Thanks! My library now builds without vendoring!

The solution seems a bit awkward (symlinking root into cmd/vendor), so I hope the discussion around vendoring best practices continues in the larger Go community.

[2016-04-06 17:03] hongchaodeng opened #4981 "Making watch event type recognized in client library"
Currently in v3 watch event type is recognized by using "storagepb".DELETE/EXPIRE/PUT.

This is not very straightforward from user's perspective. Should we have it in client library to do something like:
[code]

[2016-04-06 17:10] hongchaodeng commented on #4981
/cc @timothysc

[2016-04-06 18:45] onlyjob commented on #4821
boltdb 1.2.0 is released so it should be safe to re-vendor it by tag.

[2016-04-06 21:04] xiang90 commented on #4913
@schmichael We are following that discussion. So the current solution might not be the final solution. We just try to make it work at least.

[2016-04-06 21:16] xiang90 commented on #4821
@onlyjob Thanks for the head up. We already updated the dep a few days ago: https://github.com/coreos/etcd/pull/4946.

We will release a new version of etcd with this update soon.

[2016-04-06 21:46] xiang90 commented on #4981
@hongchaodeng Probably you can send a pull request for this utility func for clientv3?

[2016-04-06 21:49] xiang90 commented on #4978
@tomek-cz

This is related to https://github.com/coreos/etcd/issues/3879.

As suggested by @mitake, you can do a qget to work around this for now.

[2016-04-06 22:06] onlyjob commented on #4821
That's very nice, thank you. :)

[2016-04-06 22:08] xiang90 commented on #4821
@onlyjob I will keep this issue open until we figure out a reasonable policy around managing our dependencies.

[2016-04-06 22:26] onlyjob commented on #4821
Much appreciated. :)

[2016-04-07 02:13] ajityagaty commented on #4977
@mitake No worries! All for good cause :)

[2016-04-07 02:27] xiang90 commented on #4960
@raoofm Does this answer your question?

[2016-04-07 03:51] mitake commented on #4977
@ajityagaty please let me know via @ mention when you submit PRs for test cases :)

[2016-04-07 04:39] xiang90 commented on #4967
@mqliang I chatted with some people working on k8s. It is probably just because k8s trying to return large response to user. Please verify the response type and size.

[2016-04-07 04:51] gyuho opened #4986 "go tip ./test fails with github.com/coreos/etcd/cmd"
[code]

https://travis-ci.org/coreos/etcd/jobs/121338216

[2016-04-07 04:54] gyuho commented on #4986
This seems like a Go issue. Will close when we find a way to reproduce and file an upstream issue.

[2016-04-07 05:01] mqliang commented on #4967
@xiang90 Thanks. We are now adding more logs to API server, hoping we could reproduce it and find out what on earth caused the strange fluctuation.

Close this. Will open a new one if we confirm that the fluctuation is from etcd.

[2016-04-07 05:01] #4967 closed

[2016-04-07 05:12] gyuho commented on #4986
It's Go issue. Reported here https://github.com/golang/go/issues/15166.

[2016-04-07 05:12] #4986 closed

[2016-04-07 06:52] hongchaodeng opened #4988 "ID from LeaseCreateResponse should be able to used directly in WithLease"
Currently if you use the ID from LeaseCreateResponse in WithLease option:
[code]

It will complain:
[code]

That's awkward -- both are int64 though. In order to make it work, users have to cast it:
[code]

It would be nice from user's perspective to not cast it.

[2016-04-07 07:22] tomek-cz commented on #4978
Thank you @mitake and @xiang90, the workaround works well for me.

[2016-04-07 13:58] xiang90 commented on #4978
@tomek-cz No problem! I am closing this one since this is kind of a dup of #3879.

[2016-04-07 13:58] #4978 closed

[2016-04-07 14:04] raoofm commented on #4960
Yes thanks.

[2016-04-07 14:04] #4960 closed

[2016-04-07 14:19] xiang90 commented on #4988
I agree. /cc @heyitsanthony

[2016-04-07 15:17] xiang90 opened #4990 "test: --- FAIL: TestCtlV2RoleList"
[code]

[2016-04-07 15:25] gyuho commented on #4990
Ack. Will take a look.

[2016-04-07 17:18] #4981 closed

[2016-04-07 17:32] alban opened #4993 "etcd 2.3.0 does not print anything"
[code]

rkt starts etcd but it does not print anything. Same issue with v2.3.1.

Strace says that it is waiting on `epoll_wait(4,`

[code]

When trying with an older version (coreos.com/etcd:v2.0.10), it successfully prints the usual output:
[code]

Is there something preventing etcd from printing its usual output?

/cc @jonboulle

[2016-04-07 17:46] alban commented on #4993
- coreos.com/etcd:v2.3.1 works fine with rkt-v1.1.0 but it fails with a recent rkt.
- coreos.com/etcd:v2.0.10 works on both versions of rkt.

Recent images of etcd were built with acbuild. Maybe it's related?

It might not be a but in etcd then...

[2016-04-07 17:58] gyuho commented on #4990
Similar error from  https://semaphoreci.com/coreos/etcd/branches/pull-request-4992/builds/5

[code]

[2016-04-07 18:06] gyuho commented on #4993
[code]

This works with rkt 1.0.0, but no output with rkt 1.3.0

[2016-04-07 18:26] gyuho commented on #4990
Just got reproduced with more log:

[code]

https://semaphoreci.com/coreos/etcd/branches/pull-request-4976/builds/8

[2016-04-07 20:52] heyitsanthony opened #4998 "test: --- FAIL: TestCtlV2UserList"
[code]

Looks related to #4990

[2016-04-07 21:01] gyuho commented on #4998
Yeah trying to see the whole logs from https://github.com/coreos/etcd/pull/4996.

[2016-04-07 22:35] gyuho commented on #3779
@jenspinney Kindly ping. Sorry to get back to this late. I am trying to take another look
at this issue. Are you still seeing this error? Was there any network partition or any kind
of network issue that might have made one node lose its leader (as seen in your log)?

I have seen similar case in recent functional-tests https://github.com/coreos/etcd/issues/4855#issuecomment-200970476, but it's res

[2016-04-07 22:36] xiang90 commented on #3779
@gyuho I think there is a reproduce instruction: https://github.com/jenspinney/etcdstress. Have you tried it?

[2016-04-07 22:38] gyuho commented on #3779
@xiang90 I will try that now. Thanks.

[2016-04-07 23:06] gyuho commented on #3779
I tried with master branch with https://github.com/jenspinney/etcdstress:

- [etcd-1-database.txt](https://github.com/coreos/etcd/files/209372/etcd-1-database.txt)
- [etcd-2-database.txt](https://github.com/coreos/etcd/files/209373/etcd-2-database.txt)
- [etcd-3-database.txt](https://github.com/coreos/etcd/files/209375/etcd-3-database.txt)
- [etcd-stress.txt](https://github.com/coreos/etcd/files/2

[2016-04-07 23:08] xiang90 commented on #3779
@gyuho

The initial tesing env is

We have both peer and client/server SSL enabled.
Our election timeout is 2000ms and our hearbeat interval is 200ms.
Our ETCD nodes are hosted on c4.4xlarge VMs in AWS (30 GB memory, 16 cores), each using a 10gb magnetic disk for the ETCD store.

What is your testing env?

[2016-04-07 23:11] gyuho commented on #3779
@xiang90

- 8 vCPUs + 16GB Memory + 375GB local SSD (SCSI)
- Ubuntu 15.10
- Go 1.6 with etcd master branch as of testing date
- all in the same zone

[2016-04-07 23:13] xiang90 commented on #3779
@jenspinney It seems that we are not able to reproduce the problem with similar setup. Is there anything we missed?

[2016-04-07 23:57] gyuho opened #5001 "test: --- FAIL: TestWatchWithProgressNotify"
[code]

https://semaphoreci.com/coreos/etcd/branches/pull-request-4999/builds/4

[2016-04-08 00:14] schmichael opened #5003 "Unable to refresh key with value"
In etcd 2.3 with the latest go client I'm unable to use the new refresh feature to refresh a key with a value.

This should build against the latest etcd client and run against a local etcd with no options required:

https://github.com/schmichael/etcdtest/blob/master/etrefresh/main.go

If you run it as is, the final compare-and-delete fails because a refresh cleared the key's value.

Changing [lin

[2016-04-08 00:16] xiang90 commented on #5003
@schmichael You can only refresh TTL, not value. Check https://github.com/coreos/etcd/blob/master/Documentation/api.md#refreshing-key-ttl.

[2016-04-08 00:24] EasonLiao opened #5004 "raft - questions regard to membership change"
Hi etcd team,

I was reading the raft code regards to dynamic membership change and I have a question about it. I have limited familiarity with the raft code so first I want to verify if my understanding about current membership implementation is correct:

- Only one node reconfiguration at a time and one node change per reconfiguration. This guarantees two consecutive configurations has at least

[2016-04-08 00:36] xiang90 commented on #5004
This should not be possible.

Before A starts the election, it MUST apply all pending configuration entries.

[2016-04-08 00:37] xiang90 commented on #5004
please check the doc here: https://github.com/coreos/etcd/blob/master/raft/node.go#L130-L135

[2016-04-08 00:37] #5004 closed

[2016-04-08 02:00] schmichael commented on #5003
I'm confused by the following line of documentation:

I'm not trying to update or change the value of the key when refreshing. I
just want to maintain the existing value while refreshing the TTL.

Does the new refresh feature only work on file keys with no value?

If so I'll probably just have to continue living without it until v3 is out
and this whole issue is moot.
On Apr 7, 2016 5:16 PM, "Xian

[2016-04-08 02:09] xiang90 commented on #5003
just want to maintain the existing value while refreshing the TTL.

Then we need to do
[code]

Basically, we should not specify any value besides refresh and prevExist.

[2016-04-08 02:18] schmichael commented on #5003
That seems to be impossible with the current go client as at least the curl
command it logs includes "value=" and sets the value to empty.
On Apr 7, 2016 7:09 PM, "Xiang Li" <notifications@github.com> wrote:

[2016-04-08 02:29] mqliang commented on #4965
Ideas in the proposal deserve more specific issues. Close this. @xiang90 feel free to ping me if you guys are planning to implement/improve the proxy layer, or there are any related issues.

[2016-04-08 02:29] #4965 closed

[2016-04-08 02:30] xiang90 commented on #4965
@mqliang Sure. We probably will start a design doc for the v3 proxy early May.

[2016-04-08 02:48] #5001 closed

[2016-04-08 11:22] peterbourgon opened #5013 "Cannot build etcdctl ctlv3"
[code]

[2016-04-08 11:25] peterbourgon commented on #5013
Ah. One needs to

[code]

i.e. explicitly specify the complete path with the `/cmd` intermediary. It can no longer be built in-place because navigating into the cmd/etcdctl/ symlink strips the cmd prefix.

[2016-04-08 11:25] #5013 closed

[2016-04-08 15:40] xiang90 commented on #4927
I am closing this since it does not seem like a problem. Reopen if you have more thoughts. Thanks!

[2016-04-08 15:40] #4927 closed

[2016-04-08 17:34] xiang90 commented on #4993
@alban Shall we close this at etcd side? I feel this is probably a regression on rkt, given the fact rkt 1.0 works. We would like to look into this if you believe this is something that etcd needs to resolve.

[2016-04-08 18:27] krish7919 commented on #5003
@xiang90 : Thanks for pointing to this post.
I am facing a similar issue. Using watcher for events for the first time, I assumed I was doing something wrong. :)

When I set the value to a null string, it clears the value from the key.
I also tried setting the Dir = true in SetOptions, assuming that it would cause the API to ignore the value and just refresh the TTL. I also have PrevExist set to tr

[2016-04-08 20:58] niraj8241 opened #5019 "Auditing changes to key/value in etcd"
All,

Well this is a feature request more than an issue. What i am looking here in etcd is to have a capability to track changes to key/values. So when i say track a change, i mean which user changed it last.

For eg:

User "X" changed a key/value and if admin/root wants to audit it down as who made that change.

I feel this useful when you have 1000+ servers managed by etcd. serving contents to a

[2016-04-08 21:52] philips commented on #5019
Do you want this data to be stored inside of etcd or would a proxy that logs this information be sufficient?

[2016-04-08 22:16] xiang90 commented on #5003
@schmichael
[code]

It seems that empty value with refresh set works for me. Can you try it again and confirm it does not work for you? What is the version of etcd you are running?

[2016-04-08 22:20] xiang90 commented on #5003
@schmichael Now I am trying to see if it is because of etcd/client.

[2016-04-08 22:27] xiang90 commented on #5003
@schmichael

I tried your programmer and changed https://github.com/schmichael/etcdtest/blob/master/etrefresh/main.go#L61

to
[code]

by removing the prevValue.

And now it works. So I feel everything is just fine.

[2016-04-08 22:29] niraj8241 commented on #5019
It would be great if it is within the etcd.

[2016-04-08 22:30] xiang90 commented on #5019
@niraj8241 Any reason that it has to live inside etcd? Or what is the benefits you can see to put this inside etcd instead of a proxy? (we will probably build the proxy as part of the etcd project)

[2016-04-08 22:33] schmichael commented on #5003
@xiang90 Unfortunately I need this operation to be a compare-and-swap. The value may have changed between refresh calls, and the refresh should fail if the value changes.

I guess I can't use refresh for my use case.

I'll have to change my code again when v3 is finalized, so I'll just ignore refresh. It's a nice optimization, but not strictly necessary for my use case.

[2016-04-08 22:33] #5003 closed

[2016-04-08 22:34] xiang90 commented on #5003
@schmichael You are right, it does not work for CAS.

[2016-04-08 22:37] niraj8241 commented on #5019
Well @xiang90 There is no specific reason for it. What i was thinking of is something like when you query the API it should display a field like lastmodifiedby. Well if it can be within the proxy , it would be fine.

[2016-04-08 22:41] xiang90 commented on #5019
@niraj8241 OK. Now I understand your use case better. I could image to do this in proxy layer by adding another layer to store the last modification info into etcd itself again. We will think about this more once we start the proxy for v3. Thanks for the suggestion.

[2016-04-08 23:56] xiang90 opened #5020 "raft: leader transfer optimzation"
When we start to transfer the leader, we need to make sure the transferee has all log entries as current leader. Right now, we wait for the transferee to ack back the index before sending the timeout now message to trigger the actual transfer. One optimization is to append the timenow message right after the messages to help transferee to catch with the hope that the message will deliver in time.

[2016-04-08 23:59] xiang90 commented on #5020
For more context:

bdarnell     CoreOS member
If we assume that the transport (usually) preserves order, we could send the MsgTimeoutNow as soon as we have sent a MsgApp containing the last index, without waiting for the MsgAppResp. This is similar to the way we optimistically increase Progress.Next when sending MsgApp.

es-chow
es-chow added a note 15 hours ago
@bdarnell, @xiang90, I feel we cann

[2016-04-09 02:12] xiang90 opened #5022 "test: TestIssue2746"
[code]

[2016-04-09 16:10] ajityagaty commented on #4589
@gyuho If I try to run "go test" within the e2e folder the test doesn't complete. Is there anything else that needs to be done in order to run e2e tests?

[2016-04-09 16:36] gyuho commented on #4990
Fixed via https://github.com/coreos/etcd/pull/4999.

[2016-04-09 16:36] #4990 closed

[2016-04-09 16:36] gyuho commented on #4998
Fixed via https://github.com/coreos/etcd/pull/4999.

[2016-04-09 16:36] #4998 closed

[2016-04-09 16:38] gyuho commented on #4589
@ajityagaty What branch are you in? You can `./build` in etcd root directory (builds binaries into `bin`directory), and then `go test`.

[2016-04-09 19:08] krish7919 commented on #5003
@xiang90
As suggested above, I have tried the SetOptions for refresh operation as:
refreshOptions := client.SetOptions{
        Refresh:   true,
        TTL:       time.Second * 60,
        PrevExist: client.PrevExist,
    }

I refresh the key like this:
_, err = ctx.keysAPI.Set(context.Background(), key, "", refreshOptions)

And the value gets set to empty string.

[2016-04-10 04:49] mingfang opened #5023 "Please add ARM binaries"
I'm trying to run etcd on raspberry pi.

[2016-04-10 05:10] xiang90 commented on #5023
@mingfang Can you build arm binary yourself for the moment?

[2016-04-10 05:13] mingfang commented on #5023
@xiang90 I would like to try.  Are there any instructions available?

[2016-04-10 05:13] ajityagaty commented on #4589
@gyuho Thanks !
I am on a private branch on my fork. But running `INTEGRATION=1 ./test` from the root worked for me.

[2016-04-10 05:18] xiang90 commented on #5023
Setup your GO env and GOPATH. Then you should be able to build etcd by using build script.

[2016-04-10 18:02] xiang90 commented on #4962
I am closing this due to low activity. If you still have the issue and can provide more information, feel free to reopen. Thanks.

[2016-04-10 18:02] #4962 closed

[2016-04-10 19:54] tianhao commented on #4962
I rebuild my cluster, and this issue not happen, may be my vm software settings was wrong

[2016-04-10 20:00] ajityagaty commented on #4943
@xiang90 Could you please provide more details as to how to go about this? I can give it a try if it's fairly straight forward.

[2016-04-10 20:00] ajityagaty commented on #4943
@xiang90 Oh sorry. I didn't notice that you had assigned it to yourself.

[2016-04-10 23:33] philips opened #5027 "testing: atomic variable offsets static analysis tool"
Every few months etcd breaks on 32 bit systems due to atomic alignments, see #4734 and #4733. We need a static analysis tool to check for unaligned atomics that is part of our test runs.

cc @luxas

[2016-04-10 23:35] philips commented on #5027
This is necessary for us to drop the unsupported flag: https://github.com/coreos/etcd/pull/4749

[2016-04-11 02:23] xiang90 commented on #5027
@philips I agree with you. To drop the flag, we need to be confident with arm. We need to have this tool and make sure other dependencies work well with arm/32bit (for example boltdb). We need to have doc around how to build and what are the limitations.

@luxas It would be great if you can help with arm part. Thanks!

[2016-04-11 02:59] philips opened #5029 "storage: consider using F_FULLSYNC for HFS/OSX systems"
I was talking with Mikeal Rogers who used to work on couchdb and one thing he learned is that sync on OSX lies and that you need to use F_FULLSYNC instead: https://developer.apple.com/library/mac/documentation/Darwin/Reference/ManPages/man2/fcntl.2.html#//apple_ref/doc/man/2/fcntl

Low priority as I don't think anyone is using etcd on HFS in-prod, but something to document/consider for the future.

[2016-04-11 05:01] ericchiang commented on #5027
Here's my initial plan.

1. Scan package for uses of `atomic.X(&f.bar)` calls using go/types.
2. Determine type of first argument. If it's not a struct field stop analysis.
3. For each struct field, generate a program that checks the offset (will do something tricky source rewrites so it will work for un-exported fields).
4. Run program. Report results.

Example generated program.

[code]

[2016-04-11 06:50] ZhuPeng opened #5033 "HTTP2 was not enable in the connection between proxy and member"
I was do some test with HTTP2 in etcd, and I want the connection between proxy and member use http2. But it was not, and I found the http2 in go1.6 was not enable by default which has some restriction. The restriction was below.
https://github.com/golang/go/blob/master/src/net/http/transport.go#L166-L200
when etcd enable https, then the transport's TLSClientConfig was not `nil` in proxy. Then the

[2016-04-11 06:52] xiang90 commented on #5033
@ZhuPeng Can you send a pr to fix the problem in etcd/proxy for http2? It should be a simple fix by providing tls conf as you mentioned.

[2016-04-11 18:27] gyuho opened #5037 "TestCtlV3UserDelete fails"
[code]

https://semaphoreci.com/coreos/etcd/branches/pull-request-5035/builds/1

[2016-04-11 23:22] xiang90 commented on #4896
@heyitsanthony Shall we close this one?

[2016-04-11 23:23] heyitsanthony commented on #4896
@xiang90 yeah seems like it's all hammered out

[2016-04-11 23:24] xiang90 commented on #4097
/cc @heyitsanthony Any opinion on this one?

[2016-04-11 23:25] #4896 closed

[2016-04-11 23:26] heyitsanthony commented on #4097
@xiang90 would this be snapshot verification?

[2016-04-11 23:27] xiang90 commented on #4097
@heyitsanthony Yea, we need to able to verify a (remote) snapshot.

[2016-04-12 07:20] jonahgao opened #5044 "Source code comment error"
https://github.com/coreos/etcd/blob/master/rafthttp/msgappv2_codec.go#L61
About Data format of MsgApp,
Perhaps the description here should be \x02?

[2016-04-12 07:23] kciepluc opened #5045 "etcdctl panics when trying to add existing role to user"
_From @kciepluc on April 10, 2016 20:28_

core@core2 ~ $ cat /etc/os-release
NAME=CoreOS
ID=coreos
VERSION=1010.1.0
VERSION_ID=1010.1.0
BUILD_ID=2016-04-07-0355
PRETTY_NAME="CoreOS 1010.1.0 (MoreOS)"
ANSI_COLOR="1;32"
HOME_URL="https://coreos.com/"
BUG_REPORT_URL="https://github.com/coreos/bugs/issues"

core@core2 ~ $ etcd2 -version
etcd Version: 2.3.1
Git SHA: 2b67f52
Go Version: go1.5.3
Go OS/Ar

[2016-04-12 07:25] kciepluc opened #5046 "etcdctl cannot list users after enabling auth - json: cannot unmarshal object into Go value of type string"
_From @kciepluc on April 10, 2016 20:41_

core@core2 ~ $ **cat /etc/os-release**
NAME=CoreOS
ID=coreos
VERSION=1010.1.0
VERSION_ID=1010.1.0
BUILD_ID=2016-04-07-0355
PRETTY_NAME="CoreOS 1010.1.0 (MoreOS)"
ANSI_COLOR="1;32"
HOME_URL="https://coreos.com/"
BUG_REPORT_URL="https://github.com/coreos/bugs/issues"

core@core2 ~ $ **etcd2 -version**
etcd Version: 2.3.1
Git SHA: 2b67f52
Go Version: go1.5.3

[2016-04-12 08:11] ajityagaty commented on #4988
@xiang90 Would it be enough if we remove the type LeaseID and use int64 instead to address this issue?

[2016-04-12 08:17] xiang90 commented on #4988
@ajityagaty We want to use LeaseID throughout the API, not int64.

[2016-04-12 08:44] ajityagaty commented on #4988
@xiang90 there are places where we are using the ID field (which is int64) directly from the protobuf generated structs (LeaseGrantResponse for example). So can you please let me know what's the thinking on handling such occurrences?

[2016-04-12 09:03] ajityagaty commented on #4988
@xiang90 Are you suggesting that we shall accept it as int64 and internally convert it into LeaseID?

[2016-04-12 14:05] luxas commented on #5027
@ericchiang Sounds good. We should make sure though that we make it generic, so k8s for example may use it. There haven't been known issues with atomic alignment in k8s, but it's a huge project, so probably somewhere something is wrong.

@xiang90 @philips  I may send a PR that compiles `etcd` for experimental arches (`arm`, `arm64` and `ppc64le`) for testing. As a first step, we have to make sure

[2016-04-12 15:27] jackiesyu opened #5047 "etcd environment variable naming convention?"
I have a configuration as following --
env ETCD_NAME="etcd-01"
env ETCD_INITIAL_ADVERTISE_PEER_URLS="http://10.5.0.128:2380"
env ETCD_LISTEN_PEER_URLS="http://10.5.0.128:2380"
env ETCD_LISTEN_CLIENT_URLS="http://10.5.0.128:2379,http://127.0.0.1:2379"
env ETCD_ADVERTISE_CLIENT_URLS="http://10.5.0.128:2379"
env ETCD_INITIAL_CLUSTER_TOKEN="etcd-cluster-01"
env ETCD_INITIAL_CLUSTER="etcd-01=http://10.

[2016-04-12 15:47] xiang90 commented on #4797
closed by https://github.com/coreos/etcd/pull/4957

[2016-04-12 15:47] #4797 closed

[2016-04-12 16:43] heyitsanthony commented on #5027
@ericchiang and I chatted yesterday about doing static anlaysis for this. Detecting alignment problems is a lot more difficult than his initial proposal. Some examples:

Interfaces:
[code]

slices:
[code]

[2016-04-12 17:03] heyitsanthony commented on #5045
can repro with e2e tests. looking into it

[2016-04-12 17:20] #5044 closed

[2016-04-12 17:51] heyitsanthony commented on #5046
can repro, investigating

[2016-04-12 18:05] #5045 closed

[2016-04-12 18:14] maximecaron commented on #2888
Now that this is fixed, should we add logic on ETCD startup to remove and add itself again to the members if it's data folder is empty but other nodes in the cluster have data.

If we have a 3 node cluster with A, B and C
A is leader and replicate to only B but not C and then become partitioned.
then machine B lost its data and restart.

Having this system in place would make machine B wait for ma

[2016-04-12 18:17] xiang90 commented on #2888
@maximecaron No. We will not. All reconfiguration should be done externally.

[2016-04-12 19:18] xiang90 commented on #5023
I am closing this. etcd does not officially support arm right now. We might support arm64 and release binary soon.

[2016-04-12 19:18] #5023 closed

[2016-04-12 20:16] kgilpin opened #5052 "etcd can't advertise URLs with paths, and therefore can't be run behind an HTTP proxy using location directives"
In my application, I would like to run `etcd` (particularly the peer URLs) behind an Nginx proxy. The primary reason I want to do this is that operators are already instructed to open port 443; I don't want to require the opening of additional ports on my application. A secondary reason is to handle SSL termination and SSL mutual auth in Nginx, since there are more configuration options there.

Th

[2016-04-12 21:24] #5046 closed

[2016-04-12 23:54] glevand opened #5054 "etcd doesn't run on arm64"
Just updated to v2.3.1 and got this: ```unsupported architecture; unreliable, unstable```.  This makes CoreOS totally worthless for arm64 users.  Please think about the ramifications next time you make this kind of change.

[2016-04-13 01:09] ajityagaty commented on #5037
@gyuho I am not able to reproduce this problem in my setup. Any idea what might going on here? It works sometimes and sometimes it fails.

[2016-04-13 02:58] gyuho commented on #5037
@ajityagaty Me neither. Not sure why. Let's give it a few more days.

[2016-04-13 05:00] heyitsanthony commented on #4884
Can reproduce on plain go-grpc. PR at https://github.com/grpc/grpc-go/pull/634

[2016-04-13 14:34] alban commented on #4993
@xiang90 ok, I filed https://github.com/coreos/rkt/issues/2417

[2016-04-13 14:34] #4993 closed

[2016-04-13 15:57] raoofm opened #5058 "Max watchers supported by etcd2"
The documentation is not there on the max number of watchers for etcd2 or how this is related to memory or the infrastructure or a relation between the number of keys and number of watchers.

I'm trying a solution for which I'll need a high number of keys and a watcher for each key. (Say a milliion)

[2016-04-13 16:45] ajityagaty commented on #4589
@gyuho Please let me know if I could help with anything else.

[2016-04-13 16:45] xiang90 commented on #5058
Probably you need to test this out yourselves at the moment for v2. If you need 1m watchers on same key, you have to wait for our proxy for v3. broadcasting one million requests pre write will slow down or probably kill etcd cluster for sure.

[2016-04-13 16:46] xiang90 commented on #5058
here is some memory data on v3: https://github.com/coreos/etcd/blob/master/Documentation/benchmarks/etcd-3-watch-memory-benchmark.md

[2016-04-13 16:57] gyuho commented on #4589
@ajityagaty Do you want to try `role` command tests? Would be similar to https://github.com/coreos/etcd/blob/master/e2e/ctl_v2_test.go#L159. Thanks!

[2016-04-13 16:59] ajityagaty commented on #4589
@gyuho Sure ! Will give it a try. Thanks !

[2016-04-13 18:00] philips opened #5063 "raft: add a README of users"
We should add a README into the raft package directory. Two things should be:

Users:
- cockroachdb
- etcd
- dgraph.io
- https://github.com/pingcap/tikv
  - TiKV uses Raft to support Geo-Replication. We have ported etcd's raft implementation to Rust.  By using raft, Key-Value regions always stay consistent. Placement driver (or pb) is also important for Geo-Replication. Pd collects state
- github.

[2016-04-13 18:01] xiang90 commented on #5063
https://github.com/pingcap/tikv

[code]

[2016-04-13 18:02] raoofm commented on #5058
Thanks, v3 looks really amazing, but for v3 to be production ready with supported language implementations to talk to etcd, it will be a few months. I guess the solution I'm looking at has to wait till v3.

My use case is  1-to-1, I mean 1m watchers for 1m keys. Is it worth to try it out or etcd team is sure that v2 cannot support and I should wait for v3.

[2016-04-13 18:02] xiang90 commented on #5063
https://github.com/weaveworks/mesh/tree/master/metcd

[2016-04-13 18:03] xiang90 commented on #5063
https://github.com/yahoo/coname

[2016-04-13 18:04] xiang90 commented on #5058
@raoofm What language are you expecting?

[2016-04-13 18:05] xiang90 commented on #5058
I am not sure. The only probably is memory I guess. You'd better give it a try.

[2016-04-13 18:06] raoofm commented on #5058
java

Ok, thanks though

[2016-04-13 18:17] raoofm commented on #5058
fyi https://github.com/coreos/etcd/pull/5064

[2016-04-13 18:40] xiang90 commented on #4884
Closed by #5061

[2016-04-13 18:40] #4884 closed

[2016-04-13 18:55] xiang90 commented on #5058
@raoofm Actually, do you have any interest working on the java binding for etcd3?

[2016-04-13 19:07] raoofm commented on #5058
Yes

[2016-04-13 19:12] raoofm commented on #5058
we use a v2 cluster with 5 machines, running for an year now, in house java client here in prod (we didn't knew Adohe and boon had v2 solutions as well :smile: ), but I can work towards v3.

[2016-04-13 19:13] raoofm commented on #5058
you can close this thread. If I test a million wathchers and keys then I'll find this thread and update.

[2016-04-13 19:14] xiang90 commented on #5058
@raoofm Can you create a java client issue for v3? Then we can start to track that? I know there are other people that are interested in helping us with java client.

[2016-04-13 19:24] raoofm opened #5067 "Need a Java client for etcd v3"

[2016-04-13 19:24] raoofm commented on #5058
fyi https://github.com/coreos/etcd/issues/5067

[2016-04-13 19:55] xiang90 commented on #5058
@raoofm

Is is possible to add your case to this doc? https://github.com/coreos/etcd/blob/master/Documentation/production-users.md

[2016-04-13 20:44] xiang90 commented on #4943
@ajityagaty Sorry. Yes... I actually just finished this.

[2016-04-13 20:44] #4943 closed

[2016-04-13 20:44] xiaoke94539 commented on #3082
@xiang90 I'm running into a similar issue.  The problem is that before the cluster is formed (other machines are not online yet) and the current machine is rebooted, the etcd2 service will not start.
This is with CoreOS 1000.0.0.

Logs:

Apr 13 18:26:43 veenatest1 etcd2[1183]: recognized and used environment variable ETCD_ADVERTISE_CLIENT_URLS=http://10.4.251.163:2379
Apr 13 18:26:43 veenatest1 et

[2016-04-13 22:17] xiang90 commented on #4897
@kayrus Kindly ping.

[2016-04-14 00:07] #4666 closed

[2016-04-14 02:41] xiang90 commented on #4722
@haneefkassam We are not going to change v2 API unfortunately. I think there are work arounds like doing one more API calls as you mentioned. And you can actually use etcdctl cluster-health to figure out which member fails.

In etcd3, we also provide a tool to figure out which member is failing: etcdctl endpoints health.

[2016-04-14 03:15] philips commented on #5067
Are you interested in working on this @raoofm ?

[2016-04-14 03:16] xiang90 commented on #5067
/cc @AdoHe @ajityagaty

[2016-04-14 03:19] AdoHe commented on #5067
This is in my plan, I will start doing this.

[2016-04-14 03:51] xiang90 commented on #4988
@ajityagaty We should use LeaseID for any public API. We need to convert it to int64 internally. Right now the returned LeaseResponse contain lease id as int64 not LeaseID.

[2016-04-14 06:07] mitake commented on #4475
@xiang90 @heyitsanthony I'd like to use JWT (https://jwt.io/) for the token of v3 auth. JWT seems to be a simple and mature token format. In addition, it enables verifying tokens based with the RSA key mechanism. So it would be friendly for the new proxy of v3 API. Proxies will be able to verify requests from clients, it would be a great help for reducing read traffic.

I'd like to have a consensu

[2016-04-14 07:41] ajityagaty commented on #5067
@AdoHe Please let me know if I can be of any help.

[2016-04-14 07:55] AdoHe commented on #5067
@ajityagaty how about creating a new repo for this v3 client? Though I already have a repo https://github.com/AdoHe/etcd4j

[2016-04-14 08:01] ajityagaty commented on #5067
@AdoHe Wouldn't it be better to use the repo that you already have? Then folks can find both versions of the client at the same place.

[2016-04-14 08:11] AdoHe commented on #5067
@ajityagaty Ok, we can reuse the old repo, and put this in a new branch.

[2016-04-14 08:17] AdoHe commented on #5067
@ajityagaty would you mind giving me your email? I think it's better to reach each other through email.

[2016-04-14 08:19] ajityagaty commented on #5067
@Adohe it's ajityagaty@gmail.com

[2016-04-14 08:22] ajityagaty opened #5077 "auth: v3 Role grant results in index out of range"
I was testing the `etcdctl role` commands in order to write the test cases. That's when I stumbled upon this issue.

The following commands were executed:
`ETCDCTL_API=3 ./etcdctl role add root`
`ETCDCTL_API=3 ./etcdctl role grant root read foo`

I am not sure if I gave the right parameter values albeit it should not result in a crash.
The etcd server was started using the following `./etcd --data

[2016-04-14 13:03] mitake commented on #5077
@ajityagaty sorry for that, I made a PR that fixes this problem https://github.com/coreos/etcd/pull/5079

[2016-04-14 13:28] raoofm commented on #5067
Yes

[2016-04-14 13:28] raoofm commented on #5067
raoof.md@gmail.com

[2016-04-14 13:38] cbouscal commented on #3600
(how about pastebin for long log files)

[2016-04-14 14:38] xiang90 commented on #4475
@mitake What do you want to put inside JWT? What benefits JWT will bring us in our use case besides proxy (Proxy should either terminate TLS/Auth or just be transparent in my opinion)? I would image a simple obscure random token will do the work.

[2016-04-14 15:07] #5077 closed

[2016-04-14 16:42] ajityagaty commented on #5077
@mitake Thanks !

[2016-04-14 17:13] gyuho opened #5081 "functional-tester: different storage hash in case 0"
[code]

More details coming.

[2016-04-14 17:31] xiang90 commented on #5081
seems like we hit the compaction issue again.

[2016-04-14 17:40] gyuho commented on #5081
etcd logs look fine. Not sure why. I will deploy testing cluster with more debugging lines.

Thanks.

[2016-04-14 18:28] kayrus commented on #4897
don't have time yet. can take a look later if necessary.

[2016-04-14 20:35] gyuho commented on #5081
[code]

So only the `agent1` is off with hash. And looked at the logs and found `agent1` didn't finish the compaction but tester thinks the compaction is done.

[code]

[2016-04-14 21:20] ajityagaty commented on #4988
@xiang90 Could you please let me know how you are thinking of solving this? I see that currently LeaseGrantResponse is really mapped to (typedef) to pb.LeaseGrantResponse and hence the users will be able to see ID as int64. In order for the public API to see LeaseID we would have to redefine LeaseGrantResponse as a struct with a field of type LeaseID and other necessary fields?

[2016-04-14 21:23] xiang90 commented on #4988
@ajityagaty I can see two ways:

1. we convert the protobuf lease responses to responses defined in client library, which has leaseID type instead of int64

2. we use customized type for protobuf. doc is here http://gogo.github.io/doc/

[2016-04-14 21:24] xiang90 commented on #4988
@heyitsanthony Opinions? I do not have strong preference. maybe slightly prefer 2.

[2016-04-14 21:32] heyitsanthony commented on #4988
@xiang90 Option 2 might be problematic if LeaseID is defined in a package outside of clientv3. It could lead to a situation like #4987 where the `storagepb.Event` type had to be manually recast into `clientv3.Event` by the client code.

[2016-04-14 21:52] xiang90 commented on #4988
@heyitsanthony well... then probably we have to do 1.

[2016-04-14 21:57] heyitsanthony commented on #4988
@xiang90 yeah, seems like it can't be avoided

[2016-04-14 22:00] maximecaron opened #5087 "Rejoining node after dataloss when using DNS Discovery"
If we have a setup with DNS SRV records :

- _etcd-server._tcp.example.com. 300 IN  SRV  0 0 2380 infra0.example.com.
- _etcd-server._tcp.example.com. 300 IN  SRV  0 0 2380 infra1.example.com.
- _etcd-server._tcp.example.com. 300 IN  SRV  0 0 2380 infra2.example.com.

And the etcd server at infra0.example.com crash and its hard-disk need to be replaced.
After the etcd server restart my understand

[2016-04-15 00:06] ajityagaty commented on #4988
@xiang90 @heyitsanthony I am trying to make the changes for this. Would it be better to put out separate PRs for the fix and the necessary changes needed in integration tests?

[2016-04-15 00:16] heyitsanthony commented on #4988
@ajityagaty the PR without the test updates wouldn't pass CI; just do one

[2016-04-15 00:20] ajityagaty commented on #4988
@heyitsanthony Sure! Thanks!

[2016-04-15 00:24] #5081 closed

[2016-04-15 11:38] foxmailed opened #5097 "etcd client: compile error"
1.github.com/coreos/etcd/client/keys.generated.go:83: z.EncSendContainerState undefined (type codec.genHelperEncoder has no field or method EncSendContainerState)
2. github.com/coreos/etcd/client/cancelreq.go:13: req.Cancel undefined (type *http.Request has no field or method Cancel)
3. github.com/coreos/etcd/pkg/httputil/httputil.go:18: req.Cancel undefined (type *http.Request has no field or met

[2016-04-15 13:44] mitake commented on #4475
@xiang90 The main benefits from JWT are like below:
- It can provide a signed token that cannot be created illegally. So the token is helpful for protecting data from malicious or buggy clients. At first I also thought random token would be enough for the purpose (as described in the doc). However, it is hard to analyze how much randomness is required for preventing the problems of the malicious o

[2016-04-15 13:56] odedlaz opened #5098 "import cycle"
I just tried compiling the example, and I get a cycle error:
[code]

this is the code I used:

[code]

[2016-04-15 13:56] #5098 closed

[2016-04-15 14:23] xiang90 commented on #4475
As long as the token space and sign key space are the same, I feel the problem is pretty much equivalent unless when you have a significant amount of tokens compared to the token space . A client can guess a token, and a client can guess a sign key too.

This is the benefit I could see since JTW actually provides since it contains the auth info and the info verifiable by both parities.  However, t

[2016-04-15 14:31] xiang90 commented on #5097
go 1.4 is not supported anymore. try go 1.5+. or you can try to build with 2.3 release branch.

[2016-04-15 14:31] #5097 closed

[2016-04-15 15:53] IlyaMarkov opened #5099 "Benchmark v3 watch fails"
I got problem with etcd v3 benchmarking.

When I launch benchmark watch, it loops forever and outputs following:

[code]

But sometimes(rarely) it works fine. It finishes with some results.

Once it fails with panic:
[code]

Details:
1 node
default parameters

etcd Version: 2.3.0+git
Go Version: devel +89a1f02 Fri Apr 15 10:17:17 2016 +0000
Go OS/Arch: linux/amd64

DISTRIB_ID=Ubuntu
DISTRIB_RELEAS

[2016-04-15 16:14] xiang90 commented on #5099
/cc @gyuho

[2016-04-15 17:20] gyuho opened #5100 "Document proto files in markdown format"

[2016-04-15 17:48] #4988 closed

[2016-04-15 18:06] kblcuk opened #5102 "etcdctl cluster-health falsely reports cluster as unhealthy"
I have an empty etcd cluster at Compose.io

Running latest etcdctl (2.3.1) cluster-health reports cluster as unhealthy, even though compose's dashboard says it's ok.
Running
[code]
says that all nodes fail with `dial tcp IP:PORT: i/o timeout`, and all members are unreachable.

However, if I issue curl command similar (I think) to what etcdctl does, response is fine:

[code]
So is there some issue

[2016-04-15 18:12] heyitsanthony opened #5103 "TestPipelineKeepSendingWhenPostError fails"
[code]

[2016-04-15 18:25] gyuho opened #5104 "TestWatchableKVWatch fails"
https://travis-ci.org/coreos/etcd/jobs/123408460#L602

[code]

[log.txt](https://github.com/coreos/etcd/files/221516/log.txt)

[2016-04-15 18:51] gyuho commented on #5099
@IlyaMarkov Please try again the master branch and let us know if you still see the same behavior.

The problem was we did not wait for all watchers to finish receives, and later events were being sent to closed channel. I fixed it by making them wait for all watchers to finish. I tested in my local machine and the issues seems resolved.

Thanks for reporting!

[2016-04-15 20:05] xiang90 opened #5106 "doc: documentation structure for etcd3"
Here is my proposal for our documentation structure

Get started

* Download and Build OK

* Concepts

* Developing
  * Local setup - OK
  * Interact with etcd - OK
  * API reference

* Operating
  * Clustering Setup
  * Configuration
  * Security
  * Monitoring
  * Maintenance (including backup)
  * Disaster Recovery

* Upgrading and Compatibility

* Troubleshooting

/cc @joshix @heyitsanthony @g

[2016-04-15 20:08] xiang90 commented on #5106
/cc @robszumski

[2016-04-15 20:15] xiang90 commented on #5103
I will take a look. Seems like travis became slow today and triggered this.

[2016-04-15 20:16] xiang90 commented on #5102
@kblcuk Can you please show me the output of etcdctl?

[2016-04-15 20:16] heyitsanthony commented on #5103
I can repro locally on my machine via `while [ 1 ]; do go test  -v -run=KeepSending -cpu=`seq 1 100 | xargs echo | sed 's/ /,/g'` -race  || break; done`. Probably triggered now that rafthttp is being tested with `-race`.

[2016-04-15 20:19] gyuho commented on #5103
Yeah `rafthttp` tests fail in my local as well.

[2016-04-15 20:20] xiang90 commented on #5103
@heyitsanthony Oh... yes... --race significantly slow dow the program.

[2016-04-15 20:24] ongardie opened #5107 "raft/rawnode.go vs node.go"
What is the purpose of rawnode.go? How is it different from node.go? Why is it _so_ different from node.go? Which is used where?

This is best answered in docs where others may benefit.

[2016-04-15 20:26] xiang90 commented on #5107
See https://github.com/coreos/etcd/issues/4932. I also changed the title of #4932 to better capture the issue.

[2016-04-15 20:26] #5107 closed

[2016-04-15 20:28] xiang90 commented on #4932
We also needs to answer the questions (from @ongardie) like:

What is the purpose of rawnode.go?

How is it different from node.go?

Why is it so different from node.go?

Which is used where?

[2016-04-15 20:34] ongardie opened #5108 "raft library should be its own repo"
If the raft/ directory is intended to be a stand-alone library used by other projects than etcd, I think it should live in a separate repository. This would help push it towards being usable without understanding pieces of etcd. For example, #5063, that there is no README, would be an obvious problem with a standalone repo. Any requirements to depend on other things in the etcd repo would also be

[2016-04-15 20:38] ongardie commented on #5108
and separate issue tracker, making it easier for others to find existing issues before filing duplicates :)

[2016-04-15 20:38] xiang90 commented on #5108
@ongardie The readme of raft is here: https://godoc.org/github.com/coreos/etcd/raft. But yea, I agree it is hard to find.

[2016-04-15 20:48] gyuho commented on #5106
Should `etcdctl` documentation belong `Operating` or be separate?

[2016-04-15 20:50] xiang90 commented on #5106
@gyuho etcdctl has its own doc i think.

[2016-04-15 20:52] ongardie commented on #5108
@xiang90 I didn't know of that. I personally prefer to have high-level concepts in a README file, then low-level details like function arguments in inline code docs.

Some high-level stuff you may want to include (this should maybe go into #5063 instead):
 - What does this library do you for you? What does it not do for you? For example, who is responsible for storage? For networking? For log comp

[2016-04-16 06:48] kblcuk commented on #5102
Oh yea, forgot to paste that.

[code]

I noticed that cUrl is showed only for one of the clusters (<host2>), but changing peers to include only `<host1>` produces the same result.

[2016-04-16 13:46] xiang90 commented on #5102
It seems that the endpoints etcdctl tried to were all timed out. Probably you need to check the connectivity first.

[2016-04-16 15:59] #4853 closed

[2016-04-16 18:16] ajityagaty commented on #5106
Would it make sense to add `proxy` details under `Operating`? Proxy for etcd3 is not there yet I think but add a placeholder for it for now?

[2016-04-16 18:17] xiang90 commented on #5106
@ajityagaty I feel that should be a sub section of clustering in clustering setup? also we should mention in the basic concepts section in developing?

[2016-04-16 18:23] ajityagaty commented on #5106
@xiang90 Sure, putting it under clustering makes sense. A mention about it in the basic concepts section will be helpful. Thanks !

[2016-04-16 20:15] gyuho commented on #4589
Think the first phase should be done with https://github.com/coreos/etcd/pull/5114. Some commands are missing (`auth disable`, `make mirror`, `alarm`) though.

[2016-04-18 02:17] mitake commented on #4475
JWT's token space is limited with RSA based sign. So guessing it is harder than just a random number.

JWT allows tokens to have various metadata. So we can let the a token to have a revision of storage when its client was authorized. We can check the authentication is obsolete or not based on the numbers. It doesn't require a heavy invalidation mechanism.

Actually I want to use JWT for simplifyi

[2016-04-18 03:30] ajityagaty commented on #5029
@xiang90 Will it be enough if I add a new darwin specific `FDatasync` function under `fileutil` package (and compile it of course)? Is this the required approach or does this involve something else?

[2016-04-18 03:31] xiang90 commented on #4475
What does JWT provide use than a obscure token right now?

I feel it should be just a getToken method that randomly generate a fixed length token. It wont take a lot of effort and it allows us to evaluate what the token should be in the future aside from the auth implementation.

[2016-04-18 03:34] xiang90 commented on #4475
I mean the attacker can guess the private key of the RSA anyway. I do not feel there is a big win. A long enough true random token would be equally safe.

By invalidation, I mean at proxy side. If we do not want the token to have any meaningful information to be validated against, then we do not need JTW.

[2016-04-18 03:35] xiang90 commented on #5029
@ajityagaty Yea. I think we need a new FDatasync for HFS/oxs.

[2016-04-18 03:39] ajityagaty commented on #5029
@xiang90 Thanks ! I'll give this a try.

[2016-04-18 03:43] xiang90 commented on #5029
@ajityagaty Great. Thanks!

[2016-04-18 04:28] mitake commented on #4475
OK, then I'll implement the simple methodology first. Anyway, it would be useful for easy trial that doesn't require public/private keys.

But,

I don't think this is a realistic assumption. It would mean public key encryption methodologies cannot be used. And the random number methodologies always have a problem of exhausting entropy in machines.

[2016-04-18 04:47] heyitsanthony commented on #5029
I believe all `file.Sync` calls would have to be replaced with a `fileutil` version. I don't think it's as simple as adding a new fdatasync platform.

[2016-04-18 07:11] ajityagaty commented on #5029
@heyitsanthony Yes, you are right ! There are a few places where we are calling `file.Sync` and they need to be replaced with `fileutil` wrapper.

[2016-04-18 07:27] kblcuk commented on #5102
@xiang90 but that's the thing -- curl requests pass just fine.
I also tried running the same command from server located in the same region etcd cluster is, with the same result.
Or what exactly you mean by connectivity?

[2016-04-18 07:38] xiang90 commented on #5102
@kblcuk You tried to curl http://10.56.177.3:4001 directly? I am not sure what exactly happened then. Probably open a ticket on Compose.io instead?

[2016-04-18 08:12] kblcuk commented on #5102
@xiang90 yea, I already did, but so far didn't get far in understanding what exactly is wrong there. I mean I can read and write keys to and from cluster just fine, but `cluster-health` check fails, and for instance Terraform can't update it's state from etcd claiming that cluster is unhealthy as well. :/
Also can't really curl 10.56.x -- looks like an internal IP to me (probably internal to etcd

[2016-04-18 12:31] magicwang-cn opened #5119 "code bug in etcdserver/cluster_util.go"
i think [this response](https://github.com/coreos/etcd/blob/master/etcdserver/cluster_util.go#L68) should be closed

[2016-04-18 13:29] gyuho opened #5121 "functional-tests: hash difference in 'slow network', 'kill all members'"
`slow network` tests immediately precedes `kill all members` test case, and we got different hash error in functional tests.

Logs coming...

[2016-04-18 15:27] gyuho commented on #5121
[code]

Will redeploy testing cluster with more logs...

[2016-04-18 16:07] aarondav commented on #4475
@mitake ACLs seem to be a part of the v3 auth design (they're already documented as a feature on the etcd home page!), but I don't think they're yet implemented -- correct me if I'm wrong. Is there a timeline for that part of the implementation? We'd really like to make use of path-based restrictions on users.

[2016-04-18 19:17] xiang90 commented on #5106
@weiliendang opinions?

[2016-04-18 19:20] xiang90 commented on #5033
This is solved by #5034

[2016-04-18 19:20] #5033 closed

[2016-04-18 21:38] purpleidea commented on #4115
This is merged, and so is officially not an issue for me anymore: https://github.com/coreos/pkg/pull/53 woo.

[2016-04-19 02:27] mitake commented on #4475
Hi @aarondav , thanks for your interest. As you found, the feature is already implemented in v2 API. We are working on auth and ACL in v3 API. The feature of v3 API will be finished in May. Will you use v3 API? If so, could you wait for a while? I'll let you know about the progress.

Just curious: will you use etcd in Spark?

[2016-04-19 02:37] aarondav commented on #4475
Ahh, gotcha! Great, didn't realize that distinction between the v2 and v3 APIs.

We are actually using etcd via flannel in Kubernetes, and are experimenting with an architecture with multiple isolated networks sharing the same etcd, which requires that each network has access to only its sub-tree of etcd.

[2016-04-19 02:42] mitake commented on #4475
@aarondav I see, thanks. Flannel seems to be using v2 API, so you can use the feature with etcd v2.3.0 or newer.

[2016-04-19 02:44] #5119 closed

[2016-04-19 04:28] xiang90 opened #5123 "raft: test TestLeaderSyncFollowerLog failed"
[code]

[2016-04-19 05:22] #5029 closed

[2016-04-19 07:11] gyuho commented on #5121
[code]

Right after test failure recovery, we get a new leader and revision matches but hash doesn't.

[2016-04-19 07:36] gyuho commented on #5121
So agent1 hash doesn't match with agent2 and agent3. I checked the data dump logs:

[code]

AGENT1 is short of two entries at the end.

(data log at https://console.cloud.google.com/storage/browser/etcd-issues-5121-00)

[2016-04-19 14:55] xiang90 commented on #5121
@gyuho Well... First sync does not change the hash state of the backend. Second, it might just because the log entries have not been replicated through leader to follower yet.

[2016-04-19 14:55] xiang90 commented on #5121
Can you share the link of the data dirs of all the members?

[2016-04-19 14:56] xiang90 commented on #5121
nvm. i found it in your previous comment.

[2016-04-19 14:57] xiang90 commented on #5121
I still feel this is the root cause. I can double check.

[2016-04-19 14:57] gyuho commented on #5121
Yeah it's in cloud storage. Will take a look too. Thanks!

[2016-04-19 17:19] xiang90 commented on #5106
@heyitsanthony Can you take a look at the Maintenance part in operating section? How to get a backup (the recovery part should be in disaster recovery part), how to do defrag and why. Any other maintenance work we should mention?

[2016-04-19 17:27] heyitsanthony commented on #5106
@xiang90 I think it'll need information about quota/alarm stuff, possibly something about compaction. Will writeup

[2016-04-19 17:27] xiang90 commented on #5106
@heyitsanthony Right!

[2016-04-19 21:01] heyitsanthony opened #5128 "etcdserver, etcdctl: archiving compaction"
etcd currently offers two options for compaction policy: a time-based automatic compaction policy and user-invoked compactions. In cases where total history archival is important, neither of these policies are totally adequate; both auto compaction and user-invoked compaction drop history on the floor without extra off-path commands (e.g., backup or mirror) to save history. Backup / mirror-maker s

[2016-04-20 00:12] weiliendang commented on #5106
@xiang90 I think some re-ordering of the topics could be done here. Not sure what "Developing" refers to. Here is a suggested structure:

Getting Started
- Basic concepts
- Download & build
- Local setup
- Interact with etcd
- API reference
Clustering
- Setup
- Configuration
Security
Monitoring
Maintenance (what does this cover; do we need it?)
Backup & recovery
Upgrades
Troubleshooting

Please ta

[2016-04-20 00:20] weiliendang commented on #5106
@xiang90 I think some re-ordering of the topics could be done here. Not sure what "Developing" refers to. Here is a suggested structure:

Getting Started

- Basic concepts
- Download & build
- Local setup
- Interact with etcd
- API reference

Clustering
- Setup
- Configuration

Security
Monitoring
Maintenance (what does this cover; do we need it?)
Backup & recovery
Upgrades
Troubleshooting

Please

[2016-04-20 00:23] heyitsanthony commented on #5106
@weiliendang I understood the "developing" part to indicate a section that's only relevant to handling the etcd code. People using `etcd` through `etcdctl` aren't necessarily going to be interested in the details of the RPC APIs or building from source.

[2016-04-20 00:25] xiang90 commented on #5106
@heyitsanthony @weiliendang Yea. I feel etcd has two set of audiences: developers and system operators. Developers care more about how to write code against etcd and they want to have a simple etcd setup. On the other side, operators do not care the API details of etcd. They care more about how to set up a cluster in secure and maintainable way.

[2016-04-20 00:26] xiang90 commented on #5106
Like as a developers they do not really care about how to upgrade etcd since its not their responsibility. But operators need to care about how to upgrade etcd from one version to another.

[2016-04-20 00:33] weiliendang commented on #5106
Ok I understand what you guys are saying. What if we renamed the headings to something like "Developing with etcd" and "Cluster Operations"?  In the first heading, maybe just move up "Basic Concepts". In the second heading, I would keep all of the bullets you have but re-order a bit along the lines I suggested. Does that work?

[2016-04-20 00:33] weiliendang commented on #5106
I think generally you understand my directional feedback. It doesn't have to be implemented literally.

[2016-04-20 00:53] xiang90 commented on #5106
@weiliendang Yes. Sure. The order was pretty random previously. I will rework this as you suggested.

[2016-04-20 02:36] coozy opened #5130 "etcd cluster is unavailable or misconfigured"
I occasionally get the error "etcd cluster is unavailable or misconfigured" from the etcd client library. The etcd server is up and reachable and a retry solves the problem. From the etcd logs this appears to happen when an etcd snapshot is in progress.

My problem is that if this happens for an update operation where PrevExist==client.PrevNoExist, the client returns an error but the key is actual

[2016-04-20 03:05] gyuho commented on #5130
Do you have logs? Was there any leader election?

[2016-04-20 04:23] heyitsanthony opened #5132 "etcdserver: defrag does not reclaim space as expected"
Starting from a fresh single-node cluster with `--quota-backend-bytes=16777216`,

Fill the store:
[code]
get the revision (9), compact (wait), defrag:
[code]

Checking db size, it's the same:
[code]

Once boltdb is modified (via `etcdctl alarm disarm`), it seems to take:
[code]

[2016-04-20 05:14] xiang90 commented on #5132
I am not sure what does this mean. Can you explain?

[2016-04-20 05:16] siddontang opened #5133 "compile clientv3 with newest grpc failed"
I use clientv3 in our project, but compile failed after I update grpc.

[code]

[2016-04-20 05:24] xiang90 commented on #5132
@heyitsanthony Oh... I know where is the bug probably, we only update db size when there is a key put. I will fix.

[2016-04-20 05:25] heyitsanthony commented on #5132
@xiang90 sounds about right...

[2016-04-20 05:47] gyuho commented on #5133
https://github.com/coreos/etcd/tree/master/clientv3

The etcd's vendored gRPC might be different than yours. Could you check? We use https://github.com/coreos/etcd/blob/master/cmd/Godeps/Godeps.json#L211.

[2016-04-20 10:08] siddontang commented on #5133
I force using `git reset --hard 9ac074585f926c8506b6351bfdc396d2b19b1cb1` for grpc and it works now.

[2016-04-20 10:08] #5133 closed

[2016-04-20 12:42] spirrello opened #5139 "Getting "cluster ID mismatch:" When Starting A New Cluster"
Hi,

Every time I start a new cluster from systemctl, the Etcd process starts but the cluster never "connects".  The following error message keep flooding the logs and I can't seem to understand why this is happening.  Can someone point me in the right direction?  I'm running etcd on Centos 7.

**Error messages from both servers:**
 sudo systemctl status etcd
● etcd.service - Etcd Server
   Loaded

[2016-04-20 15:38] luxas commented on #5027
Repeating my question: When will `v2.3.2` be released with #5028?

It's really important to release a verison with that change
@xiang90 @philips @gyuho @heyitsanthony @glevand

[2016-04-20 15:38] luxas commented on #5054
https://github.com/coreos/etcd/issues/5027#issuecomment-212481532

[2016-04-20 16:04] gyuho commented on #5139
Do you have other etcd cluster running in the same machine or reuse `ETCD_INITIAL_CLUSTER_TOKEN`?

[2016-04-20 17:19] xiang90 commented on #5054
I believe @glevand wants etcd to start on arm64 by default. https://github.com/coreos/etcd/pull/5028 wont solve it. We are working on CI for arm64.

[2016-04-20 17:28] xiang90 commented on #5103
Fixed by https://github.com/coreos/etcd/pull/5129

[2016-04-20 17:28] #5103 closed

[2016-04-20 17:31] #5132 closed

[2016-04-20 17:43] luxas commented on #5054
Yes, both I and @glevand wants to start `etcd` on `arm64` without blockers.
But with `v2.3.1`, it's impossible without hacking the code.
I obviously know that #5028 doesn't solve it, but at least it's possible without code changes,

If you want help with CI for `arm`, `arm64` and `ppc64le`, just ping me

[2016-04-20 18:11] coozy commented on #5130
This is a single node etcd deployment; no leader election. I have all the logs, I am just including a small snippet, lemme know if you want it in its entirety. This is not a one time occurrence so I can even enable any debug you need.

The log has this repeated many many times (note, this instance of etcd has stayed up > 6 months with constant use: kudos!)

[code]

[2016-04-20 18:14] xiang90 commented on #5130
@coozy The log seems right. etcd was doing internal snapshotting. It seems like the problem is the client-server communication part. Can you try to get the detail of the error?

[code]

[2016-04-20 18:37] heyitsanthony opened #5142 "etcdserver: TestTriggerSnap panics"
[code]

possibly related to 74d50884bbdf64f943e818068c5632d66cda07fe

/cc @xiang90

[2016-04-20 18:39] xiang90 commented on #5142
@heyitsanthony Probably. I will try to fix.

[2016-04-20 18:48] spirrello commented on #5139
No this is the only cluster I have running.  I am using the same token
configured in "ETCD_INITIAL_CLUSTER_TOKEN" for each machine in the cluster.

On Wed, Apr 20, 2016 at 12:05 PM, Gyu-Ho Lee <notifications@github.com>
wrote:

[2016-04-20 18:50] coozy commented on #5130
I added that and ran a test that just does update in a loop. That caused the server to oom destroying the 6 month uptime! You might have a memory leak somewhere. So the 'Detail' I got was EOF which I suspect isn't useful.

Apr 20 18:32:05 ip-172-31-29-80 etcd[778]: fatal error: runtime: out of memory
Apr 20 18:32:05 ip-172-31-29-80 etcd[778]: runtime stack:
Apr 20 18:32:05 ip-172-31-29-80 etcd[778

[2016-04-20 18:54] xiang90 commented on #5130
@coozy Can you try to upgrade your etcd cluster to 2.3? We fixed tons of bugs in these 6 months.

[2016-04-20 18:57] gyuho commented on #5139
Or did you restart the node before? Trying to understand where the other cluster ID `d0527...` might have come from...

[2016-04-20 18:59] coozy commented on #5130
we do have a cluster that runs that. I was trying to avoid doing that because that means we need to tell everyone that we can't work with etcd 2.0.

Also this problem happens over time and I am suspecting data. If you look at the amount of time it took to snapshot it is in the order of 10s of seconds. That's a lot.

Is the system available when it's taking a snapshot?

[2016-04-20 19:07] xiang90 commented on #5130
It is not for 2.0.9. We improved it since 2.1. You probably have to upgrade to get the new features.

[2016-04-20 19:33] spirrello commented on #5139
What's interesting is if I run etcd with the same parameters via exec etcd,
they clusters run fine.  See below for my example:

 exec etcd --name "StefanoC7-1" \
  --data-dir "/var/lib/etcd/" \
  --initial-advertise-peer-urls "http://10.10.16.61:2380" \
  --listen-peer-urls "http://10.10.16.61:2380" \
  --listen-client-urls "http://10.10.16.61:2379,http://127.0.0.1:2379" \
  --advertise-client-url

[2016-04-20 19:36] gyuho commented on #5139
Yeah it should because I can't find anything wrong in your configuration.

Might be systemd specific issue?

[2016-04-20 19:44] spirrello commented on #5139
How could it be systemd specific if it's loading the same parameters?  Do
you have any other recommendations for a daemon manager?  The docs
recommended systemd so that's what I used.

On Wed, Apr 20, 2016 at 3:37 PM, Gyu-Ho Lee <notifications@github.com>
wrote:

[2016-04-20 19:50] gyuho commented on #5139
@spirrello Sorry, I am not a systemd expert. Could you clean up the data directory after you back up and restart the cluster? The new configuration will be ignored if data directory exists.

[2016-04-20 20:15] philips commented on #5052
We just have never anticipated a need for it and all use cases assume that etcd owns the "root" path. So your use case is that you want to proxy many etcd peers behind the nginx load balancer at host-01.app?

[2016-04-20 20:22] heyitsanthony commented on #5139
@spirrello @gyuho I can reproduce this locally.

For server2, I think the unit file should match server1's `ETCD_INITIAL_CLUSTER`:
[code]
(the manual launch had this order for both nodes, which is probably why it worked)

The upshot is etcd seems to be generating different cluster ids based on the ordering (it shouldn't afaik). Will investigate.

[2016-04-20 20:24] heyitsanthony commented on #5139
Or not... it seems I had a stale data directory left over from an old cluster. Back to the drawing board.

[2016-04-20 20:29] kgilpin commented on #5052
Hi Brandon. Actually, we will only have one peer behind host-01.app. Behind host-02.app there will be another peer, host-03.app similarly. The reason for proxying etcd behind Nginx is that we don't have to instruct operators to open additional ports between the machines. They have 443 open already and we want to piggyback etcd on that, under a base URL e.g. `https://host-01.app/etcd/peer`.

[2016-04-20 20:30] kgilpin commented on #5052
We can also use the SSL settings and mutual auth that's built into Nginx.

[2016-04-20 21:20] xiang90 commented on #5106
@weiliendang I re-structured the doc as you suggested. I am not sure if we want to put concept at the second place. Not everyone has to read the concept... (Or most people will just want to learn as they go). For example, in riak doc they put Learning at the end: http://docs.basho.com/riak/kv/2.1.4/learn/

[2016-04-20 21:28] spirrello commented on #5139
Finally got it working.  I did two things:

- removed the comments that were listed for the cluster token and initial
cluster
- I then changed the token to something more simple.  Not sure if this
helped but I'll continue testing.

Thanks for the quick responses.

On Wed, Apr 20, 2016 at 4:22 PM, Anthony Romano <notifications@github.com>
wrote:

[2016-04-20 21:30] gyuho commented on #5139
Glad that it worked. Please let us know if you still have the same issue.

[2016-04-20 21:37] spirrello commented on #5139
Will do and again thanks for the help today.

On Wed, Apr 20, 2016 at 5:31 PM, Gyu-Ho Lee <notifications@github.com>
wrote:

[2016-04-20 22:16] xiang90 commented on #5139
@spirrello Closing this issue since it works now!

[2016-04-20 22:16] #5139 closed

[2016-04-20 22:17] xiang90 commented on #5102
@kblcuk It seems compose has a load-balancer in between. So you cannot really check the health of the cluster directly. This is not something we can do :(

[2016-04-20 22:17] #5102 closed

[2016-04-20 22:18] gyuho commented on #4589
@xiang90 I think we can close this? Please let me know if we still need more tests.

[2016-04-20 22:20] xiang90 commented on #5087
@maximecaron Discovery is only designed for first time bootstrapping. For DNS SRV, you can use it to discovery any running etcd cluster as you want, but it wont help on reconfiguration. You need to do runtime reconfiguration afterwards, see https://github.com/coreos/etcd/blob/master/Documentation/runtime-configuration.md#replace-a-failed-machine

[2016-04-20 22:20] #5087 closed

[2016-04-20 22:29] xiang90 commented on #4589
@gyuho Sure. Closing.

[2016-04-20 22:29] #4589 closed

[2016-04-20 22:39] xiang90 commented on #5047
@jackiesyu Sorry for the delay on this one. @gyuho Can you please take a look?

[2016-04-20 22:41] gyuho commented on #5047
@jackiesyu Can you share your `etcdctl` command?

Seems like it tries to connect to your localhost. You need to specify the endpoint with `endpoints` flag.

[2016-04-20 22:48] gyuho commented on #5047
And the hyphen `-` in node name should be ok.

Current code parses it with `=` character. https://github.com/coreos/etcd/blob/master/pkg/types/urlsmap.go#L74

Please let me know if you still have this issue.

Thanks.

[2016-04-20 23:41] jackiesyu commented on #5047
So, I have 3 nodes running the cluster and I am running the etcdctl from one of the node in the cluster. The localhost should work without the endpoints flag, true?

The only thing I changed to make it work is ETCD_NAME and ETCD_INITIAL_CLUSTER env and nothing else. I am in the middle of something and I can change them back to my previous version and see whether it will work or not in a day or two

[2016-04-21 00:04] xiang90 commented on #5121
After some investigation, we found that even after the tester thinks it cancelled all the stressors, there are still put requests going into etcd. We need to ensure that there is no pending requests before getting hashes and compare them.

[2016-04-21 00:09] gyuho commented on #5047
Oh if you `etcdctl` *inside* one of the nodes, `localhost` should work. You are right.

But `etcdctl` has default values for `endpoints` which could be different than yours.
So in production, you should always specify `endpoints` just to be safe.

And not sure why it didn't work with different names... Please try again as you say and get back to us if it still errors.

Thanks.

[2016-04-21 00:20] gyuho commented on #5121
Once https://github.com/coreos/etcd/pull/5145 gets merged, I will redeploy the testing cluster to investigate more about lingering stressers. In the meantime, I will analyze `db` files to find the exact index of different hash value, which will explain how many commits were off from each node.

[2016-04-21 00:43] weiliendang commented on #5106
Looks fine. Minor thing: would make Troubleshooting one word.

[2016-04-21 04:12] gyuho opened #5147 "TestIssue3699 fails"
[code]

https://semaphoreci.com/coreos/etcd/branches/pull-request-5145/builds/4

[2016-04-21 05:54] heyitsanthony commented on #5104
I ran more than a thousand rounds of `TestWatchableKVWatch` with and without `-race` on a slow atom (in addition to a faster machine). I can't seem to reproduce this bug.
/cc @mitake @gyuho

[2016-04-21 08:07] gyuho commented on #5104
Yeah we haven't seen this again in CI either. Think we can close it for now?

[2016-04-21 14:53] xiang90 commented on #5104
Let's close this for now. Reopen if this comes up again. Thanks!

[2016-04-21 14:53] #5104 closed

[2016-04-21 15:18] timothysc opened #5148 "RFE: update directory modifiedIndex on any child modifications."
Currently the kubernetes data model represents "resources" (replication controllers, endpoints, etc), by creating directories per resource, and elements are added or removed from that directory based on user interactions.

Each kubernetes controller keeps a cache of it's respective directory that it's responsible for, and rectifies their state accordingly.  There are no guarantees that the control

[2016-04-21 15:23] timothysc commented on #5148
It may be possible to model this behavior in the etcd helper within kubernetes, but this would force an extra round-trip per write.

[2016-04-21 15:57] xiang90 commented on #4974
can you take a look? @heyitsanthony

[2016-04-21 16:36] glevand commented on #5054
So what do we need to do to make checkSupportArch() return success for arm64?

[2016-04-21 16:39] xiang90 commented on #5054
@glevand

1. Setup CI to build/test etcd for every pull request.

2. Continuously running etcd functional testing on arm64.

Step1 should be enough to say we support arm64 in a limited way.

[2016-04-21 16:48] glevand commented on #5054
@xiang90 OK, @lupan2005 has some patches to add arm64 build support to the travis.ci gimme script which he is preparing to submit: https://github.com/lupan2005/travis-ci-gimme.  This will only support building though.   We will see how those work with etcd PR's.  He is also working to bring up a Jenkins installation for arm64 testing.

[2016-04-21 16:50] xiang90 commented on #5054
@glevand Awesome! Thanks for the help on arm64.

[2016-04-21 16:51] heyitsanthony commented on #5147
I can reliably reproduce this in under 100 rounds. The test uses `waitLeader` as a broken startup barrier for the restarted member and races. `waitLeader` itself is sleeping more than it should which may be subtly masking bugs in other (lease, member, cluster) tests too.

[2016-04-21 17:14] #5142 closed

[2016-04-21 17:58] maximecaron commented on #5087
To answer the question, I tested the behavior and the server at Infra1 after restarting would ignore data from discovery since it still have non-empty data on disk. It will then try to contact the server it knew about before restart and after getting in sync, will find that "infra0" was removed.

[2016-04-21 18:00] xiang90 commented on #5087
@maximecaron Yes. Then you need to re-add it back if you want to restore that member.

[2016-04-21 18:19] xiang90 commented on #4099
Now, endpoint status is exposed. User can do endpoint status to check the raft syncing status.

[2016-04-21 18:19] #4099 closed

[2016-04-21 18:20] xiang90 commented on #3428
/cc @heyitsanthony Probably you can take over this work?

[2016-04-21 18:22] xiang90 commented on #2590
Now it is supported by v3 client via endpoint status. We do not plan to do this for v2 client.

[2016-04-21 18:22] #2590 closed

[2016-04-21 18:28] xiang90 commented on #3832
@errordeveloper Why not just SRV? DNS A record is not designed for the purpose you want to achieve here I think.

[2016-04-21 18:44] errordeveloper commented on #3832
Well, SRV is only needed when port number has to be discovered, if default
ports are okay to use (like on Weave Net), there is no need to use SRV.

On Thu, 21 Apr 2016, 19:29 Xiang Li, <notifications@github.com> wrote:

[2016-04-21 18:46] xiang90 commented on #3832
My question is why SRV is difficult for you but A record is not? More steps?

[2016-04-21 20:15] heyitsanthony commented on #4974
Reproduced on atom. There's a race in the test-- the qget syncs on the big put but the small node sends an alarm in response to the big put, so it's possible the alarm isn't applied to the cluster by the time qget returns.

[2016-04-21 20:33] xiang90 opened #5149 "auto-tls on client port"
When users do not provide key/cert but provide client-auto-tls flag, etcd can generate self signed cert to serve secure connection. This will make etcd easier to be secure. The end goal is to make etcd secure by default. This is a step forward.

/cc @heyitsanthony

[2016-04-21 20:37] xiang90 commented on #5052
@kgilpin I guess this is not hard for peer communication or v2 client communication. However, to support this we need to ensure we can support for all urls passed in. I do not want to make the support inconsistent.

etcdv3 api uses gRPC (which supports http2 transport under the hood). Can you explore how to do the same thing for gRPC?

[2016-04-21 20:38] xiang90 commented on #4009
@ajityagaty Do you want to give this a try? We want to support YAML format to start.

[2016-04-21 20:47] ajityagaty commented on #4009
@xiang90 Sure! I'll take a look at it. Thanks!

[2016-04-21 21:18] gyuho commented on #3779
@jenspinney I just tried again with the same configuration in etcd v2.1.1 and go 1.4, but I don't see errors.

Please try again (preferably with latest version), and feel free to reopen if you still have the same issue.

Thanks.

[2016-04-21 21:18] #3779 closed

[2016-04-21 21:21] gyuho commented on #3779
And just to note,

in our internal benchmark with etcd **v2** (latest version), we found putting more than 400K keys (8-byte key) in very fast rate could trigger leader elections--200K keys are handled with no problem.

[2016-04-21 21:24] xiang90 commented on #3779
@gyuho That result matches the limitation here: https://github.com/coreos/etcd/blob/master/Documentation/benchmarks/etcd-2-2-0-rc-memory-benchmarks.md.

But this can vary from configuration to configuration.

[2016-04-21 21:45] gyuho commented on #4973
@codefx9 Sorry for late response.

If I understand your question correctly.

If you specify TLS for client-to-server communication, the client must call `https` like:

[code]

Please let me know if you have any other question.

[2016-04-21 23:49] #5106 closed

[2016-04-22 00:04] joshix commented on #5106
* Quickstart
** Download and Build OK

* Developing (building apps atop etcd)
** Local setup - OK
** Interact with etcd - OK
** API reference

* Operating
** (HA) Clustering Setup
** Configuration
** Security
** Monitoring
** Maintenance (including backup)
** Disaster Recovery
** Upgrading and Compatibility
** Troubleshooting

* Concepts (for those contributing to etcd itself)

[2016-04-22 00:51] heyitsanthony opened #5151 "etcdserver: support notification for when member can accept requests"
There's a short period of time between starting etcd and when it's ready to serve requests. Right now scripts poll to figure out when etcd is ready, but this is inefficient. Instead, etcd should have some "canonical" way to notify the system that it's ready to accept requests. Unofficially, the e2e tests do this by waiting for the semver update message in the logs.

Possible systemd unit flag cand

[2016-04-22 02:13] philips commented on #5052
@kgilpin could you use HTTP "virtual hosts" so call it host-01-etcd.app instead or rewriting the path? Or maybe have your etcd client put in a special "etcd" header like X-Kgilpin-Etcd-Hack. Dunno, this is just something we haven't considered.

[2016-04-22 02:15] gyuho commented on #5100
Closing via https://github.com/coreos/etcd/pull/5117.

[2016-04-22 02:15] #5100 closed

[2016-04-22 03:03] kgilpin commented on #5052
Thanks for the discussion.  Would it be possible to identify inbound etcd peer traffic by the User-Agent?

[2016-04-22 03:46] heyujiaan opened #5154 "etcdserver: failed to send out heartbeat on time,etcdserver: server is likely overloaded"
I have etcd version2.3.0,Construction etcd cluster on three nodes,I've discovered following messages:
2016-04-22 03:04:09.678778 W | etcdserver: failed to send out heartbeat on time (deadline exceeded for 185.938874ms)
2016-04-22 03:04:09.680486 W | etcdserver: server is likely overloaded
2016-04-22 03:04:21.816000 W | etcdserver: failed to send out heartbeat on time (deadline exceeded for 22.6654

[2016-04-22 03:47] xiang90 commented on #5154
The problem is as it states, etcd is over loaded. Reduce the number of requests your applicants sent to etcd or give etcd process more resources to run with.

[2016-04-22 04:03] xiang90 commented on #5022
Not able to reproduce... Will try more...

[2016-04-22 04:10] xiang90 opened #5155 "race in test: TestIssue2746"
TestIssue2746
[code]

[2016-04-22 04:12] heyitsanthony commented on #5155
@xiang90 which test is this?

[2016-04-22 04:12] xiang90 commented on #5155
@heyitsanthony Sorry. Updated.

[2016-04-22 04:26] #4974 closed

[2016-04-22 04:31] xiang90 commented on #5155
[code]
another one

[2016-04-22 04:37] AkihiroSuda commented on #5022
Still reproducible (less than 1%) with  the latest version (d32113a0e53f6bc44e4a20afb57bcbdb472a9002) on my machine (Xeon E3, 4 cores)

[2016-04-22 05:14] xiang90 commented on #5022
@AkihiroSuda

Can you type assert that error to client.ClusterError and print out its detail? (https://github.com/coreos/etcd/blob/master/client/cluster_error.go#L19-L33)

[2016-04-22 06:32] AkihiroSuda commented on #5022
I got this `ClusterError`.

[code]

Note that this error is raised from a slightly different point than a original point.

[code]

[2016-04-22 06:46] wojtek-t commented on #5148
So actually, I think that there is a guarantee that a controller has a full state (assuming there weren't any errors returned from a watch, etc.). If there aren't, then there is a bug (most probably on our (k8s) side) and we should fix that.

That said, what @timothysc described above would be a nice feature, but in my opinion it has relatively low priority.

[2016-04-22 10:58] radamsfc commented on #2752
We pretty much wrote our own because we hit a wall on getting traction that someone might want to rebuild an AWS instance that is a cluster member and we would want it to automatically

1. remove the membership from the cluster when the new instance came online because the IP probably changed
2. join the cluster membership dynamically and sync up the data
3. have a discovery end point that any oth

[2016-04-22 13:54] zefciu opened #5156 "Imports in raft_internal.proto are inconsistent"
I noticed some inconsistency in the *.proto files for etcd. Most files have imports relative to one directory above etcd root. E.g. in `rpc.proto` we see:

[code]

However the file raft_internal.proto contains an import relative to its own directory:

[code]

This makes it problematic to create an automatic way to compile all the files into a working python package. Is there a reason for this inco

[2016-04-22 16:25] xiang90 commented on #5156
@zefciu Can you send a pull request and fix it? Thanks.

[2016-04-22 18:48] xiang90 opened #5161 "separate metrics for users and metrics for developers/debugging"
### Problems

We want to expose metrics that user should use to monitor their cluster, like number of API calls/second, latencies of API calls and network communication metrics between members. These metrics should be high level and as implementation independent as possible.

On the other side, we also want to expose some very implementation depend metrics for developing and debugging. Users shoul

[2016-04-22 19:16] xiang90 commented on #3833
@philips

Talked with people that are familiar with prometheus (or metrics in general). Their suggestion is to keep the metrics name as same as package name, since it is the metrics for that specific package. If we need to differentiate version, we could create higher level metrics to capture it. https://github.com/coreos/etcd/pull/4713#issuecomment-209997165

So I think we should keep the storage

[2016-04-22 19:24] gyuho commented on #3833
Yeah agree that having similar name `store` and `storage` is confusing, but can't think of a better name. We can't change `store` to `storagev2` though, right?

[2016-04-22 20:08] calaniz opened #5163 "GCE cloud config isn't written before etcd2 starts"
I've seen this a few times on recent CoreOS releases.  I saw it again today and captured a bit of the output.  We're running CoreOS 899.13.0.  Also if this needs to be refiled in CoreOS/bugs let me know.

Occasionally it seems as though etcd2 fails to startup correctly because cloud-config hasn't written configuration before the etcd2 process starts.

First I checked the configuration.

[code]

Th

[2016-04-22 20:17] marineam commented on #5163
When using cloud-config to configure etcd you should never `enable` it, instead always use `command: start` in the config. There isn't any strict ordering between when cloudinit runs and most other things, including etcd, for a number of unfortunate reasons so the only way to ensure ordering is to have cloudinit handle starting of services it touches. We actually used to prevent this from happenin

[2016-04-22 20:18] marineam commented on #5163
So in short, run `systemctl disable etcd2.service` and if your cloud config includes `enable: true` remove it.

[2016-04-22 22:02] calaniz commented on #5163
@marineam Thanks!  I've got about 16 CoreOS hosts and that was the only box I'd ever seen that behavior on.  It was the only one with etcd2.service and fleet.service enabled

I've fixed that.

[2016-04-22 22:04] #5163 closed

[2016-04-22 22:14] gyuho commented on #5121
As @xiang90 said, some stress requests were still in progress, causing the hash differences. Here's another example:

[code]

1. `10.240.0.4:2379` with hash value `2476146217` and revision `57467585` was the leader
2. The actual snapshot `db` file shows all 3 nodes at the current revision have the same hash values of `2476146217`
3. In order to confirm that `1037443643` was the hash value of nodes

[2016-04-22 22:14] #5121 closed

[2016-04-22 22:37] xiang90 commented on #5123
Not able to reproduce for the moment... really strange issue.

[2016-04-22 23:12] #5155 closed

[2016-04-22 23:15] jbotelho2-bb opened #5166 "Unexpected change in release tarball"
I was just installing etcd on a new server using one of the release tarballs from GitHub (`etcd-v2.3.1-linux-amd64.tar.gz`), and noticed that my install script failed because the SHA256 hash has changed. I was able to grab an older copy of the tarball to confirm:

[code]

As far as I can tell, the contents of the two tarballs are the same, and the new one passes GPG verification, but why would the

[2016-04-22 23:18] xiang90 commented on #5166
@gyuho Did we ever update the released tar? I do not think we did...

[2016-04-22 23:27] gyuho commented on #5166
@jbotelho2-bb In short, all the contents of release binaries and build environments are the same.

I was editing the release note of `v2.3.1` and clicked `Discard Draft` expecting GitHub to revert the change, but it actually deletes the whole release note. So I had to rebuilt the release binaries. The docker image doesn't change, but in the process of doing this, the SHA256 of tarball files seemed

[2016-04-22 23:31] xiang90 commented on #5166
@gyuho We probably should keep a copy of these released files somewhere safely next time. So even if we did something wrong on github or github does something unexpectedly, we can recover the exact same tar files.

@jbotelho2-bb Sorry for the inconvenience.

[2016-04-22 23:31] #5166 closed

[2016-04-22 23:32] gyuho commented on #5166
@xiang90 Ok I will store those in separate storage.

[2016-04-23 18:02] xiang90 opened #5172 "clientv3: lease not found is not a halted error for keepalive lease stream"
lease not found error should not be treat as a fatal error for the keepalive stream in lease. We should remove the not found lease from the keep alive pool and continue.

/cc @heyitsanthony

[2016-04-23 19:42] xiang90 opened #5173 "lease: keep alive response header is nil"

[2016-04-23 21:38] gyuho opened #5175 "functional-tester: context deadline time out without consistency checking"
[code]

More logs coming...

[2016-04-23 21:50] smarterclayton commented on #5148
Wouldn't this create a constant multiplication of the cost of all writes (since the index would need to be propagated up the chain), and thus reduce the throughput of etcd by a constant factor relative to the depth of the write?

[2016-04-23 22:05] gyuho commented on #5175
[code]

[2016-04-24 04:17] gyuho commented on #5175
Another log... this is pretty easy to reproduce:

[code]

Works as expected so far, but when it tries to recover (AGENT2):

[code]

[2016-04-24 04:35] xiang90 commented on #5175
I do not quite understand this. What is the real problem here?

[2016-04-24 04:39] gyuho commented on #5175
@xiang90 I am still investigating. To summarize the logs:

1. TESTER recovers AGENT2
2. TESTER calls `setHealthKey` to write to AGENT2
3. But request to AGENT2 times out with `context deadline exceeded`
4. AGENT2 logs show some lines of `etcdserver: publish error: etcdserver: request timed out`

Not sure why. Need to take a look more.

Thanks.

[2016-04-24 05:10] xiang90 opened #5178 "clientv3: watch api leaks go routine when connection is switched"
When switch a connection, the watch API might leak a routine.

[2016-04-24 05:11] xiang90 commented on #5178
/cc @heyitsanthony

[2016-04-24 15:37] kblcuk commented on #5102
Yea, I got confirmation about that from one of Compose engineers:

[code]

[2016-04-24 16:19] mwitkow commented on #5161
Please correct me if I'm wrong, your primary goal here is to make it clear
to users which metrics are "stable" and supported and which are internal
and can change with code?

In that case I think a prefix solution + documentation is an easy and
simple solution. Use  'etcd_internal' (or something similar) as namespace
and use documentation to explicitly distinguish that prefix as
"unsupported" as o

[2016-04-24 16:21] xiang90 commented on #5161
@mwitkow

to users which metrics are "stable" and supported and which are internal
and can change with code?

Yes.

simple solution

However, when user does /metrics, the internal ones will still be there. But I guess it is OK.

[2016-04-24 16:26] fabxc commented on #5161
This sounds the most reasonable to me as well.

As you said a separate registry is also an option but currently not
supported.

An advantage of the prefix is that all users will ingest them by default.
So they will be at hand to investigate bug reports from users.
The overhead is not as significant as one only has a few etcd instances. If
users are worried about it though, the metrics can easily b

[2016-04-24 16:47] mwitkow commented on #5161
Fabian has a point. By keeping the internal metrics in the same collection
by default, it is easier for operators  to plot debugging graphs (e.g. When
filing bugs upstream).

On Sun, 24 Apr 2016, 17:26 Fabian Reinartz, <notifications@github.com>
wrote:

[2016-04-24 19:05] TrurlMcByte opened #5180 "Discovery usage recursion problem"
How to better to start etcd2 cluster with DNS discovery if my DNS based on this etcd?

[2016-04-24 19:19] TrurlMcByte commented on #5180
I mean currently it's like waving a dead chicken:

1.  starting simple static DNS (bind)
2.  starting Etcd2
3.  stopping bind
4.  starting SkyDNS+Register

[2016-04-25 02:55] xiang90 commented on #5180
What is the problem with your current solution?

[2016-04-25 05:51] TrurlMcByte commented on #5180
It's manual and ugly. Don't known how to run as service chain in systemd

[2016-04-25 10:06] lanzhiheng opened #5182 "grant role to user will clean user password"
I have a
1. user `tom` with password `tom`
[code]
2. role `tom` with permission read : /tom/*
[code]
3. grant role to user
[code]
but now I assess the `tom/*`
[code]
I get
[code]
If I assess without password
[code]
It's OK
[code]
Is it the bug for etcd or that is the feature? If any time I grant the role to user, I must provide password for the user, it is not very convenient for programming。 Is t

[2016-04-25 16:38] xiang90 commented on #5180
@TrurlMcByte Which part is ugly? What is the idea workflow for you? It seems to me that to bootstrap something there has to be a manual part. Another thing is that if you can statically set up a dns server, why you cannot statically set up an etcd cluster at the first place?

[2016-04-25 17:30] philips commented on #5052
@kgilpin sure, depending on your clients. What clients are you using?

[2016-04-25 19:45] gyuho opened #5186 "Evaluate compression layer"
#### 2016.04.26 ~
- [X] try other different compression algorithms
  - [X] no compression
  - [X] [`github.com/bkaradzic/go-lz4`](https://godoc.org/github.com/bkaradzic/go-lz4)
  - [X] [`github.com/cloudflare/golz4`](https://godoc.org/github.com/cloudflare/golz4)
  - [X] [`github.com/golang/snappy`](https://godoc.org/github.com/golang/snappy)
  - [X] [`github.com/klauspost/compress/snappy`](https:

[2016-04-25 22:09] gyuho commented on #5182
Are you sure that you wrote the key `tom`?

This works:

[code]

If you never wrote that key, `"Key not found"` is expected.