[2015-04-10 23:32] yichengq commented on #284
I cannot reproduce it and belive that it has been fixed in 2.0

[2015-04-10 23:32] #284 closed

[2015-04-10 23:37] yichengq commented on #2549
Randomize is done at https://github.com/coreos/etcd/pull/2637/files.
It shuffle endpoints to avoid being "stuck" to a single cluster member.

@andrewnicols We do have the issue to track more intelligent on choosing endpoint: https://github.com/coreos/etcd/issues/2254. Let us talk about it at that issue.

[2015-04-10 23:41] yichengq commented on #2466
@xcrezd More info: We will use level logging: https://github.com/coreos/etcd/issues/2398

[2015-04-10 23:41] #2466 closed

[2015-04-11 02:57] mikea opened #2655 "Error adding 2nd machine to the cluster"
I'm trying to add second machine to /etcd cluster and I see lots of heartbeat timeouts and http headers timeouts even though machines can reach each another.

This gist: https://gist.github.com/mikea/3eebacc56d4737545c98
Has information from leader & follower. Let me know if you need more info.

[2015-04-11 04:00] MrJoy commented on #2309
I'm experiencing the same issue trying to add a node to an existing cluster.

I run `etcdctl member add`, get the env vars, and run this on the CoreOS box of the new node:

[code]

Initially, everything seems fine, but eventually this starts happening:

[code]

[2015-04-11 04:04] MrJoy commented on #2309
Oh yes, on one of the servers already in the cluster, I see this:

[code]

[2015-04-11 04:05] MrJoy commented on #2309
All the nodes have the same security group configuration so the fact that there are three nodes talking fine suggests it's not a misconfiguration at the Amazon level at least.

[2015-04-11 12:14] ajazam commented on #2308
@hh. I've used your version of the source code, with go 1.4.2 (built from source) and I'm getting

etcdserver: publish error: etcdserver: request timed out

My go skills are non existent, otherwise I would have a look at the code.

I'm  building and running it on a raspberry pi 2 with hypriot image(http://blog.hypriot.com/post/hypriotos-back-again-with-docker-on-arm/)

[2015-04-11 13:39] ajazam commented on #2308
I've found some patches described on http://mkaczanowski.com/building-arm-cluster-part-3-docker-fleet-etcd-distribute-containers/#install_docker to make etcd 2.0.4 run on a raspberry pi. Is it possible to merge these changes ? They are the same as @hh but for some reason etcd works with those patches. Unless I'm being a noob.

[2015-04-12 09:24] dreameryan commented on #2652
@xiang90
Hi.
I tried to modify monitorserve2 to monitorserver2, but it still not work.
etcdctrl member list still shows localhost ips:
[idcuser@docker-itm-agent-dal01 etcd-v2.0.9-linux-amd64]$ ./etcdctl member list
145f81b1e050b7c7: name=monitorserver2 peerURLs=http://127.0.0.1:2380 clientURLs=http://localhost:2379,http://localhost:4001
3260c3386e0bf9d8: name=monitorserver1 peerURLs=http://127.0.0

[2015-04-12 09:39] durzo commented on #2549
Thanks @yichengq will this patch be included in 2.0.10 ?

[2015-04-12 15:18] xiang90 commented on #2652
From the log, we can see the advertise peer url is not reachable by the other member. They advertise their local addr rather than public addr.
[code]

You have to remove the data-dir and use the correct configuration to bootstrap the cluster again.
The configuration in the first post is almost correct, except the naming issue.

[2015-04-12 15:18] #2652 closed

[2015-04-12 15:42] xiang90 opened #2656 "etcd introduce significant throughput overhead(more than 10X) comparing to raw raft"
Test env: ec2 large machine
Proposal: etcd command ("/foo"="bar"); apply latency (10us)

raft 1 node perf with disk io `84966 ops/second`
raft 3 node perf with disk io `83127 ops/second`.

I did some **VERY SIMPLE PROFILING**, The bottleneck of raft seems to be CPU. A lot of marshaling and syscall.Write (not sync). The number of nodes does not matter a lot since our raft can do smart batching. The

[2015-04-12 15:59] AdoHe commented on #2656
@xiang90 awesome :+1:

[2015-04-12 16:04] xiang90 opened #2657 "huge memory usage overhead (20X than real data)"
I wrote a simple script that keeps on putting key-value pairs into a one member etcd cluster.

The key is 8 bytes and the value is 128 bytes.

After I put 200k key-value into etcd, etcd uses more than 600MB RES. The total value is only around 30MB.

The write overhead is around 20X.

[2015-04-12 16:13] AdoHe commented on #2657
@xiang90 ever think about the log size?

[2015-04-12 16:14] xiang90 commented on #2657
@AdoHe The log is compacted periodically. The max in memory of log is around 10000*(128bytes + some small overhead).

[2015-04-12 16:22] xiang90 opened #2658 "the memory usage per watch is high"
I create N watchers watching on N different key spaces.
The memory usage per watcher is around 45KB, which is pretty high.

I hope this should be O(1)KB if not bytes.

[2015-04-12 16:32] xiang90 opened #2659 "etcd pauses 1 second out of 4 seconds under reasonable load"
I have a 3 member etcd cluster and keep putting keys into it at a fixed 3000 ops/second rate (around half of the max throughput).

After I put 15K keys (around 30MB in total) into the cluster, etcd starts to pause 1 second (significantly slower than it should be) out of 4 seconds regularly.

When it is pausing, it also uses all the CPU and disk bandwidth on all three members almost at the same tim

[2015-04-12 16:43] xiang90 opened #2660 "Unexpected TTL key lost during leader election"
I have 10 clients keeping 10 5-seconds TTL keys on etcd. They updates the TTL keys at rate TTL/2. There are also 10 watchers watching on the keys

I manually trigger an leader election by killing two nodes for 3 seconds and bringing them up again. After etcd successfully elects a new leader, the watchers reported all the 10 keys are expired.

My use case is to use TTL keys to reflect the status of

[2015-04-12 20:07] yichengq opened #2661 "etcd should not fatal if all WALs are complete"
file organization:
[code]

It should start etcd instead of fatal like this:

[code]

[2015-04-13 01:46] derekwaynecarr commented on #2657
/cc @smarterclayton @danmcp

[2015-04-13 01:57] yichengq opened #2662 "giant memory usage overhead on leader when recovering progress of dead follower(40x)"
It brings more memory pressure than https://github.com/coreos/etcd/issues/2657 (20x)

[code]

The overhead is around 40x

[2015-04-13 02:01] xiang90 commented on #2662
I think this should be more clear... The reason is that leader is keeping a pointer to the old snapshot for the follower, since our snapshot is not MVCC. It is not caused by the death of the follower, but caused by the snapshot sending.

[2015-04-13 02:07] xiang90 commented on #2662
@yichengq Also I cannot reproduce this. If I put 200k 128-byte into 3 member etcd, the memory usage would be more than 500MB (not 300MB).

[2015-04-13 02:24] xiang90 commented on #2660
Add a little more context https://github.com/coreos/etcd/issues/2508.

[2015-04-13 02:24] xiang90 commented on #2508
Covered in https://github.com/coreos/etcd/issues/2660.

[2015-04-13 02:24] #2508 closed

[2015-04-13 02:24] yichengq commented on #2662
@xiang90 That one is restarted from a 3-member cluster with 200k keys in the store.

Another instruction that bootstraps a brand-new cluster:
1. start a 3-member cluster
2. keep writing 200k 128-byte keys to leader randomly for several mins
3. leader uses 700mb+ RES
4. keep writing 200k 128-byte keys to leader randomly, and wait for ~1min
5. leader uses 1128mb RES

[2015-04-13 02:26] xiang90 commented on #2662
@yichengq Can you update the issue to
[code]

This is more clear.

[2015-04-13 03:03] xiang90 commented on #2657
I did an additional test for 3 member cluster. The memory overhead is higher than 600MB on the leader.

[2015-04-13 04:49] sorah opened #2664 "Question: `etcdctl backup` documentation is outdated?"
Referring https://github.com/coreos/etcd/blob/master/Documentation/admin_guide.md#backing-up-the-datastore , I expect this to succeed, but fail:

[code]

specifying `path/to/existing/etcd/member` to `data-dir` success, with the following output, when `etcd` server process is running:

[code]

Then placed backup-dir to `/tmp/etcd2/member` and started `etcd` server process with it -- but failed:

[c

[2015-04-13 09:33] dreameryan commented on #2652
it works. Thanks for your great help

[2015-04-13 16:29] yichengq commented on #2309
@MrJoy This error indicates the cluster doesn't work in health from the very beginning, and its root cause can be various. Could you open a new issue and list the detailed steps on how to reproduce your case from beginning?

[2015-04-13 16:32] yichengq commented on #2549
Yes. :)

[2015-04-13 16:32] yichengq commented on #2254
Some good advice from @andrewnicols : https://github.com/coreos/etcd/issues/2549#issuecomment-84753442

[2015-04-13 16:32] #2549 closed

[2015-04-13 16:39] philips commented on #687
Where should we add this? Are we going to put it into the metrics endpoint? So something like:

[code]

We also have the `/v2/stats/store` endpoint but that has counters on operations at the moment.

[2015-04-13 16:41] xiang90 commented on #687
This is for v3 api. see the label.

[2015-04-13 16:55] MrJoy commented on #2309
'etcdctl cluster-health' reported no problems.

I'm afraid I cannot open another issue because frankly Etcd has become a something of a time-suck for me.  As such, I've decided to ditch it.  I'll revisit it in a few years when it's had time to mature.

Sent from my iPhone

[2015-04-13 17:04] philips commented on #556
I put up a proof of concept PR for this on #2667 to try and close out this conversation.

[2015-04-13 17:05] philips commented on #623
@yaronr Could you clarify what features `etcdctl` is missing by filing a new issue against it?

[2015-04-13 17:06] philips commented on #623
@johnjansen Could you use etcdctl here to get this feature instead?

[2015-04-13 17:11] philips commented on #687
@xiang90 I added a v3api label, the release milestone just says when we plan to make it happen.

[2015-04-13 17:12] philips commented on #687
@xiang90 Is the plan to add it to the metrics endpoint though?

[2015-04-13 17:14] xiang90 commented on #687
@philips Yes we plan to.

[2015-04-13 17:15] philips commented on #687
@xiang90 then why is this part of the v3api?

[2015-04-13 17:17] xiang90 commented on #687
@philips This is a separate problem. What I am saying is this issue was for v3, not for v2 api from the very beginning.

If we want to add more stats into v2 stats, we need to create another issue for that.

[2015-04-13 17:18] philips commented on #848
With etcd 2.0 machine removal and additions are explicitly made by the systems administrator. This is a change from etcd 0.4 where a machine might be automatically removed from the cluster after some long timeout and replaced by a standby. Because of this change I am going to close this as I don't think there is much utility. Feel free to re-open if you have a use case in-mind.

[2015-04-13 17:24] barakmich opened #2668 "Document guarantees of our API calls"
Especially as we design v3, but it'd be a helpful documentation bug for v2 as well.

When we have guarantees ("will return at this index/horizon", "will function atomically", etc) we should state them explicitly, every time.

[2015-04-13 17:25] philips commented on #2668
@barakmich Can you give me a concrete example of this?

[2015-04-13 17:30] barakmich commented on #2668
From the mailing list today:

We should make sure that's clear in our docs per-function-call is what I'm suggesting, especially in clients/protos/etc, eg:
[code]

Likewise in API docs under /docs.

[2015-04-13 17:41] barakmich commented on #2664
Interesting that we have the note for it requiring shutdown for Windows servers but not Linux...

This strikes me more as a bug, perhaps related to/introduced by auto-cutting WALs, which is what's happened in that code lately. Though that's just a guess.

So two resolution options here:
1) Update the docs and require `backup` work on a stopped data-dir, as well as having the message "still in use"

[2015-04-13 17:47] philips commented on #898
We have left the hidden keys support in the v2 API and will continue to support it. In a future v3 API we will remove hidden keys.

[2015-04-13 17:47] #898 closed

[2015-04-13 17:48] philips commented on #687
@xiang90 so this will be a `v3/stats` endpoint? This issue just doesn't have enough information for someone to know what it is about.

[2015-04-13 18:00] xiang90 commented on #2664
@barakmich The problem is introduced by `snapMark`. The user now might copy a snapshot that is more up-to-date than any of the not-in-use wal files. But, when restarting, it still looks for the mark in the wal.

[2015-04-13 18:07] ecnahc515 opened #2669 "Watcher does not stop watching when context is canceled."
Code which can show the issue:
https://gist.github.com/ecnahc515/76306ad32c18f4a32fe3

Sigquit traceback:
https://gist.github.com/ecnahc515/3568d533e17fdad505cb

After a basic investigation, im seeing that it's stuck on `ioutil.ReadAll()`, and the point at which it check's the two channels https://github.com/coreos/etcd/blob/d9ad6aa2a9f93a6fd6cbd7c86c5a61e49a6f7f80/client/client.go#L269-L278
check

[2015-04-13 22:30] schmichael opened #2670 "index / events API"
When debugging application interactions with etcd it's often useful to view events in index order instead of as a hierarchical tree of keys. Currently this history can be constructed through a sequence of watches which increment the `waitIndex` over the desired window.

For example if I want to know what happened between indexes 20 and 30:

[code]

A new API to view a history for a given window co

[2015-04-14 00:36] ecnahc515 commented on #2669
I think I've trace it down and know how to fix it. I'm having a problem getting the test that requires the body of a canceled request to be closed passing.

I think it's weird you expect the body of a response to be closed in a canceled request, since the body should technically not get delivered, right?

Here's what I'm referring to:
https://github.com/coreos/etcd/blob/master/client/client_test.g

[2015-04-14 01:28] pacasrc opened #2674 "use quorum=true & recursive=true at the same time"
The output of the following two commands should be the same:

cy3411> curl http://127.0.0.1:2379/v2/keys/dir?quorum=true&recursive=true
{"action":"get","node":{"key":"/dir","dir":true,"nodes":[{"key":"/dir/file1","value":"file1","modifiedIndex":122,"createdIndex":122},{"key":"/dir/dir1","dir":true,"modifiedIndex":123,"createdIndex":123}],"modifiedIndex":122,"createdIndex":122}}

cy3411> curl http:

[2015-04-14 01:56] xiang90 commented on #2661
@yichengq I will take care of this one.

[2015-04-14 03:22] xiang90 commented on #2647
closed in favor of https://github.com/coreos/etcd/pull/2675

[2015-04-14 03:22] #2647 closed

[2015-04-14 06:32] sorah commented on #2664
so we have 2 problems, right?

1. backup command doesn't see `#{data dir}/member`
2. a bug caused by `snapMark` ? (note: I don't know the detail of it)

[2015-04-14 08:06] bahbka commented on #1959
Stucked with same problem while testing etcd at ubuntu 14.04, etcd 2.0.9
Configured 3 nodes + 1 proxy, curl once at proxy (no other clients)
lsof at proxy
[code]

[2015-04-14 08:06] holmes86 opened #2676 "unable to add member after removing it"
@xiang90 I have a 3 machine dedicated etcd cluster. I try removing a member, then I re-add it. But the etcd service can not run.  I am running etcd 2.0.9

[code]

remove etcd data-dir
[code]

Also it can not run when I delete etcd data-dir. the node log this:
[code]

thanks.

[2015-04-14 13:32] timothysc opened #2677 "Rotating through servers on the client, or possibly blacklisting after failed attempts."
When testing etcd daemon failures in kubernetes, we had discovered that it would not cycle through it's clients list regularly:

https://github.com/GoogleCloudPlatform/kubernetes/issues/6559

This becomes an issue when testing failure conditions such as a hard kill, or net-split:
https://github.com/GoogleCloudPlatform/kubernetes/issues/5589

because it will be stuck trying to contact the failed se

[2015-04-14 17:50] aledbf opened #2679 "etcd should support filtering for watches"
Currently is not possible to filter certain keys (using a TTL for instance) inside a watch.
If `confd` is used without this feature with a template that read such keys the traffic between `confd` and `etcd` is huge and it starts to throw template errors.

I could be possible to not send TTL updates to watchers or at least be able to filter such updates?
Thanks

[2015-04-14 17:54] xiang90 commented on #2679
@aledbf TTL updates has no different between normal value updates. The client can filter it out by comparing the changes in the event (prevValue, Value, prevTTL and TTL).

We can do this at server side to reduce the traffic between server and client.

But can I know how many TTL keys are you watching at? And how many watcher are you thinking there will be?

[2015-04-14 18:21] yichengq commented on #848
Based on the discussion OOL, the watch can help on client/proxy rebalance when adding/removing members. Considering the number of client/proxy is big, it is hard for sysadmin to do it manually.

#959 is related to this issue.

We are still unsure about the best way to implement it though:
1. put it into key space, but it pollutes an empty space
2. use another space instead of key space
3. add mini

[2015-04-14 18:57] aledbf commented on #2679
@xiang90 here is some context to my problem:

This is part of the upgrade to confd in deis. In particular this part https://github.com/deis/deis/pull/3415 (which I'm working on)
[code]

the amount of traffic between confd and etcd makes no sense.
This videos are from a new cluster (3 nodes using 607.0.0 in vagrant)

*note:* some directories (like /deis/services) uses a 10 sec ttl per key
This is t

[2015-04-14 18:57] aledbf commented on #2679
ping @kelseyhightower

[2015-04-14 19:05] barakmich commented on #2384
not an "everyone" user, but a "guest" role

[2015-04-14 19:05] barakmich commented on #2384
There may be some error messages from the store, but not the same way

[2015-04-14 19:06] barakmich commented on #2384
enable/disable should be fixed, which are some of the bugs mentioned

[2015-04-14 19:26] yichengq commented on #1853
It is reported here:
https://github.com/golang/go/issues/10457
I will keep track of the issue.

[2015-04-14 21:12] yichengq commented on #2676
The new join member MUST set `ETCD_INITIAL_CLUSTER_STATE="existing"`

I think you may just use `--initial-cluster-state new` or leave it unset.

[2015-04-14 22:17] matiwinnetou commented on #2308
+1 for patch on raspberry pi (ARM)

[2015-04-14 22:18] matiwinnetou commented on #2308
getting exact same error as @ajazam also on raspberry pi 2 and go 1.4.2

[2015-04-14 22:20] xiang90 commented on #1853
closing this since it is being tracked in golang repo.

[2015-04-14 22:20] #1853 closed

[2015-04-14 23:20] yichengq opened #2681 "newly joined member fails to do proposals in a cluster that has member removed before"
found when going through #2676

steps to reproduce:
1. start 3-member cluster(`goreman start`)
2. remove one member
3. add another member
4. newly added member fails to do proposals:

[code]

Moreover, 'ctrl+c' cannot kill the process.

[2015-04-14 23:22] xiang90 commented on #2681
maybe relate to this https://github.com/coreos/etcd/commit/eab2c2224ad19f2723ff48d2681acc98511e3f42? I am not sure. Can you look into it? @yichengq

[2015-04-14 23:33] xiang90 opened #2682 "doc: unique names must be specified when using public discovery service"
We need to explicitly document that `--name` flag must be specified when using discovery to bootstrap a cluster.

Or all the members will have the same name `default`. And we cannot differentiate them in the normal code path, where it is normal for one name to have multiple addresses.

[2015-04-15 00:20] yichengq commented on #2681
The bug happens because etcdserver.UpdateAttributes updates member that only exists in a lower-index cluster.

It stalls instead of panic because `defer` block in etcdserver is waiting for etcdserver.raft loop to finish, while etcdserver.raft loop is waiting for etcdserver loop to apply the request.

[2015-04-15 01:16] kapilt commented on #2647
list looks pretty good, some comments on a few below.

- one item not mentioned, acls...
- the multi object atomic sounds great to be able to replace zookeeper setups.
- 5 / indexes is a bit unclear, there typically app specific and given the multi object atomic primitive applications can construct these themselves.
- pagination around a path/container listing would be great.
- i wonder at the cos

[2015-04-15 01:18] xiang90 commented on #2647
@kapilt Can you please comment in https://github.com/coreos/etcd/pull/2675 as well? We moved the discussion to there. Thanks!

[2015-04-15 02:21] durzo opened #2684 "prevIndex is ignored if prevExist is specified"
etcd ignores prevIndex when prevExist is also specified in a set request.

$ curl -X PUT http://10.43.116.242:4001/v2/keys/test -d value=1
{"action":"set","node":{"key":"/test","value":"1","modifiedIndex":115601,"createdIndex":115601},"prevNode":{"key":"/test","value":"3","modifiedIndex":115600,"createdIndex":115599}}

$ curl -X PUT http://10.43.116.242:4001/v2/keys/test -d value=2
{"action":"set"

[2015-04-15 02:38] durzo commented on #2684
the same thing happens when supplying prevValue and prevExists

$ curl -X PUT http://10.43.116.242:4001/v2/keys/test -d value=1
{"action":"set","node":{"key":"/test","value":"1","modifiedIndex":115610,"createdIndex":115610},"prevNode":{"key":"/test","value":"3","modifiedIndex":115609,"createdIndex":115605}}

$ curl -X PUT http://10.43.116.242:4001/v2/keys/test -d value=3 -d prevValue=9000 -d prevE

[2015-04-15 02:58] AdoHe commented on #2684
@durzo in etcd 0.4.6 there is no such problem, which version are you using?

[2015-04-15 03:01] holmes86 commented on #2676
@yichengq I set ETCD_INITIAL_CLUSTER_STATE="existing", then start etcd. but etcd process panic.

[code]

[2015-04-15 03:02] AdoHe commented on #2684
@durzo this should be an issue within etcd 2.*

[2015-04-15 03:23] xiang90 commented on #2677
@timothysc @rrati Can you please tell me what is the version of etcd/etcdclint are you using?

[2015-04-15 03:24] xiang90 commented on #2677
It seems like https://github.com/GoogleCloudPlatform/kubernetes/pull/6422 this the root cause. Not etcd-client. But I can look into the issue if you can provide me the version of etcd and client.

[2015-04-15 04:41] durzo commented on #2684
sorry, v2.0.5 and v2.0.8

[2015-04-15 04:44] xiang90 commented on #2679
@aledbf
I do not quite follow your three videos.
Do you mean that there was no problem before and there is a problem when you upgraded confd?
the old version of cond/etcd does not filter watch as far as I can tell.

[2015-04-15 04:51] xiang90 commented on #2679
@aledbf Oh... I see, so when you upgraded confd you also changed the flags you are using from
`-interval 5` to `watch` to `watch with prefix`?

Does 5 second interval polling work well for you?

[2015-04-15 04:57] xiang90 commented on #2674
@pacasrc Ah... I think you need to escape the `&`

So please try `http://127.0.0.1:2379/v2/keys/dir?quorum=true\&recursive=true`

[2015-04-15 04:57] #2674 closed

[2015-04-15 05:05] xiang90 commented on #2684
@durzo Thanks for reporting. I can confirm this is a bug. I will fix it tomorrow.

[2015-04-15 05:07] xiang90 commented on #2670
Can you please take a look at the v3 api design? I think I have covered what you want there.

v2 API is kind of feature freeze.

[2015-04-15 05:10] xiang90 commented on #2670
I pasted it here for you
[code]

You can simply range over all the key space. And it will return you events in index order.

[2015-04-15 05:45] kelseyhightower commented on #2670
@schmichael Thanks for the feedback here. As @xiang90 mentioned this is the direction we plan to take etcd in via the proposed v3 api.

[2015-04-15 05:50] AdoHe commented on #2684
@durzo @xiang90 I think the cause is that when prevExist is specified, etcd will do update operation instead of compare and swap operation

[2015-04-15 05:52] xiang90 commented on #2684
@AdoHe You are right. I have a quick fix here: https://github.com/coreos/etcd/pull/2685. I will make it work soon.

[2015-04-15 05:53] yichengq commented on #2676
@holmes86 I have tested it from the very beginning in following steps:
1. start a brand-new 3-member cluster
2. remove one member
3. add the member with the same name and peerURL
4. start the member
It works well under 2.0.9

The panic happens because etcd leader thinks the follower has the log up to 180018, but the follower doesn't have it at all. To track the problem, did you remove the data dir

[2015-04-15 05:57] xiang90 commented on #2676
Hrm....... does this panic the leader?

[2015-04-15 06:13] AdoHe commented on #2684
@xiang90 it should work :+1:

[2015-04-15 11:06] wangzi19870227 commented on #815
Works for me too !! @mosquitorat

Thanks a lot

[2015-04-15 11:36] pphaneuf opened #2686 "wait request does not return all events"
etcd creates missing directory entries as necessary when creating a key, for example (assuming a fresh, empty etcd) creating ```/foo/bar``` will implicitly create a ```/foo``` directory. If you have a non-recursive watch on ```/foo```, this will **not** return that directory node.

This doesn't seem to be an issue for directory nodes created explicitly (if I created ```/foo``` with ```dir=true```

[2015-04-15 12:56] aledbf commented on #2679
@xiang90 yes the interval flag works just fine. The idea to upgrade confd and use watch was to remove the "delay" of 5 seconds. Without prefix there's too much traffic between confd and etcd (and is not related with the content of the templates) and with a specific prefix "works" but with some template errors (missing keys).

The request for the filter is because in keys that I need to watch only

[2015-04-15 12:57] aledbf commented on #2679
@xiang90 please tell me what I can do to show you more clearly this scenario.
Thanks

[2015-04-15 13:21] timothysc commented on #2677
@xiang90 sha:  f480a8b051591a6b053bd9ad643fed5787b3acb0

Re: #6422, we use our own etcd cluster and configs on bare metal, no default configs from upstream.

[2015-04-15 14:36] rimusz opened #2687 "Thank you"
Thanks for the nice project

[2015-04-15 14:38] xiang90 commented on #2686
@pphaneuf
Creating the `dir` is a side effect of creating the `key`. Only the actual event can be watched. This is by designed.

Does that create any problem in practical?

[2015-04-15 14:57] xiang90 commented on #2687
Thank your for the supporting!

/cc @yichengq @barakmich @philips @bmizerany @jonboulle @bcwaldon

[2015-04-15 14:57] #2687 closed

[2015-04-15 16:09] xiang90 commented on #2677
@timothysc OK.

I cannot reproduce the problem you described with etcd. I need some of your help.

Here is what I have done:

1. set up a 3 members cluster
2. use a small tool I wrote for k8s to simulate the situation [https://github.com/xiang90/etcdk8s-stress]
3. simulate the node failure by killing etcd process
4. see the output of the small tool

##etcd setup

[code]

## run small tool

[code]

[2015-04-15 16:17] xiang90 commented on #2684
Fix via #2685

[2015-04-15 16:17] #2684 closed

[2015-04-15 16:53] #2661 closed

[2015-04-15 18:03] ecnahc515 commented on #2411
I wouldn't mind taking a stab here, but go-etcd has a ton of logic explicitly just for dealing with curl examples and debugging info. Do we want to port that stuff over in this process as well?

It would be trivial to port things over to the new commands (except a few that are missing), but there's some client level stuff that wont be as quick.

[2015-04-15 18:07] xiang90 commented on #2411
@ecnahc515 I do not think so. Just port enough for the command to work well. I played with it a little. And I really want to get rid of the func pointers all over the place.

[2015-04-15 18:08] ecnahc515 commented on #2411
Alright, I can easily do the trivial parts. I would really like to make sure this new client API works well enough for use in other projects, as I've started using it. So getting it into etcdctl will be a great start for showing us what it needs.

[2015-04-15 18:10] xiang90 commented on #2411
@ecnahc515 Yes. That is the intention.

But the etcdctl also needs a cleanup. So I would suggest you to rewrite the command one by one rather than trying to modify the helper funcs.

[2015-04-15 18:28] yichengq opened #2689 "etcdserver.Cluster may have inconsistent view with store for newly joined member when catching up the progress"
Restriction:
1. rafthttp doesn't support talking to unknown member

Current workflow for newly joined member:
1. add new member to the cluster
2. start the new member with name and initial cluster(which contains name and peerURLs of each member)
3. the new member grabs the latest cluster info and etcd index from remote members
4. it assigns member ID to local cluster info, and record etcd index. I

[2015-04-15 19:06] ecnahc515 commented on #2411
Ok. I'll do that. I can see where it might be a problem to try and use all the helpers.

[2015-04-15 19:07] philips commented on #556
Re-reading this bug it seems we don't have a good use-case for this operation. So, I am going to close it out. Please re-open if you feel you want this feature.

[2015-04-15 19:07] #556 closed

[2015-04-16 01:29] durzo commented on #2684
Thanks @xiang90

[2015-04-16 01:30] xiang90 commented on #2684
@durzo Thank you for reporting and extensive explanation.

[2015-04-16 02:03] yichengq commented on #2429
@ematpl
The PR goes here: https://github.com/coreos/go-etcd/pull/201
It is good to break go-etcd dependency on etcd because the dependency is little.
Maybe extract necessary types into a separate package and import it in the future if necessary.

[2015-04-16 02:03] #2429 closed

[2015-04-16 03:15] philips opened #2691 "etcdserver: support v2/migration/snapshot"
etcd v0.4.9 added the `/v2/migration/snapshot` endpoint, we should support the same API in etcd v2.0. This brings v2.0+ plus in parity with the v0.4.9 API.

[2015-04-16 04:46] xiang90 commented on #2691
@philips I am not quite sure about this yet. The primary goal of adding this on to 0.4.9 is just for migration.

Point-in-time snapshot is a nice thing to have for sure. But it actually costs a lot under v2 store. Moreover the snapshot format of v2 is different.

So it does not work with etcdctl import command (in the command we explicitly say it requires valid 0.4.x snapshot).

If there is a good

[2015-04-16 06:19] amyangfei opened #2693 "etcd watch command gets nil etcd.Response"
We first start a standalone etcd server bind at 127.0.0.1:4001 and then run a watch command with <code>etcdctl</code> tool like

    etcdctl watch --forever --recursive /update/t

then we run a benchmark file to update keys like /update/t/xxxxx with 20 concurrent clients and each client updates keys with frequency of 0.01(100 time per second), the benchmark file is here [notify.go](https://github.

[2015-04-16 08:06] gouyang opened #2694 "etcdserver advertise url does not match the url which specified from cli"
Run the etcd from command line with IP address in peer url and client url, etcdserver advertise still use "localhost".

[code]

[2015-04-16 09:17] zxhdaniel opened #2695 "Why etcd only keeps the responses of the most recent 1000 events across all etcd keys?"
Why it is 1000? but not 10000?

Why not expose it as a parameter of etcd?

[2015-04-16 09:34] holmes86 commented on #2676
@xiang90 no, it's a member node.

@yichengq  I did not remove the data dir when the member is running well.  this is my config file.
[code]

[code]

[code]

1. start a brand-new 3-member cluster
2. remove one member
3. add the member with the same name and peerURL
4. modify /etc/etcd/etcd.conf, change ETCD_INITIAL_CLUSTER_STATE from "new" to "existing"
5. running "systemctl start etcd", then etcd

[2015-04-16 13:50] xiang90 commented on #2695
@zxhdaniel When we designed the watch event history, we think it only need to be large enough to hold the gap between two continuous watch.

[code]

This latency between to watch should not exceed 1second in normal case.
The throughput of etcd was about 1K req/second at that time. So 1000 is enough to hold the gap.

Today, people are using the event history in various ways. However, today's backen

[2015-04-16 13:50] #2695 closed

[2015-04-16 13:56] xiang90 commented on #2694
@gouyang You need to specify the `--advertise-url` for both peer and client url.

Please see https://github.com/coreos/etcd/blob/master/Documentation/configuration.md#-initial-advertise-peer-urls

[2015-04-16 13:56] #2694 closed

[2015-04-16 14:04] xiang90 commented on #2693
@amyangfei The error is expected, since etcd only keeps a limited window size. We will look into the panic.

[2015-04-16 14:51] zhex900 opened #2696 "etcdserver: publish error: etcdserver: request timed out"
Hi,

I am running ectd from a docker container. But I get the following errors when I try to bring up a two node cluster. The two nodes are not within the same private network. One is on Google Compute Engine and other is on Digital Ocean.

Did I do something wrong?

I set HostIP as the nodes public ip address.

docker run -v /usr/share/ca-certificates/:/etc/ssl/certs -p 4001:4001 -p 2380:2380 -p

[2015-04-16 14:55] xiang90 commented on #2696
what is the configuration of etcd0? It seems they cannot reach each other, and no leader is elected

[2015-04-16 15:00] yichengq commented on #2696
It happens because two members cannot reach each other.
Could you confirm that the two containers can talk using its IP?

Moreover, I see your heartbeat is 100s and election is 500s, which is rather high. The high value may cause some timeout on follower in 2.0 version(we have fixed it in master). Could you adjust it to 1s and 5s?

[2015-04-16 15:00] xiang90 commented on #2679
/cc @barakmich

[2015-04-16 16:09] schmichael commented on #2670
Looking at #2675 it looks like WatchRequests will work for this case perfectly. I'll close this issue.

[2015-04-16 16:09] #2670 closed

[2015-04-16 18:49] yichengq opened #2698 "follower may use long time to catch up the leader when reboot under reasonable workload"
1. start 3-member cluster
2. write 250k 100byte keys
3. make 200 clients keep writing on these keys on each member
3. kill one member for some time and expect it to recover from incoming snapshot
4. start the member
5. it may take long time to catch up the leader. Here is a gist that it failed to catch up the leader in 40s: https://gist.github.com/yichengq/5097b4c2f5c341a0f76e
it happens about onc

[2015-04-16 18:55] fasaxc opened #2699 "Always getting same cluster ID when I run single-node cluster"
Using etcd-v2.0.9-linux-amd64, I did the following:
[code]

I blew away the data dir but the cluster ID ended up being created the same; it always seems to be 7e27652122e8b2ae on my host.  I was expecting a new ID each time.

I want a new ID so that I can spot from the client side if the cluster has been replaced.  Also, I thought it was part of etcd's consistency model to use a new ID each time.

[2015-04-16 19:06] yichengq commented on #2699
You should set random --initial-token each time you bootstrap a etcd cluster:
https://github.com/coreos/etcd/blob/master/Documentation/configuration.md#-initial-cluster-token

It can help to generate different cluster ID for safety check.

[2015-04-16 19:25] yichengq commented on #2676
Here is the script that i run on etcd 2.0.9, and i cannot reproduce it:
[code]

Could you verify it? Maybe it is some problem with systemd misconfiguration.

[2015-04-16 19:45] fasaxc commented on #2699
Can't random be the default?  This caught me out and I bet it will catch others out too.  (Plus, generating good random values is hard so it's probably better to do it once correctly inside etcd.)

[2015-04-16 21:14] xiang90 commented on #2699
@fasaxc

It cannot. That random must be shared with other members in the cluster. It has to be user-defined when possible.
We do not want to do something special for one member case, which is not our main use case.

[2015-04-16 21:14] #2699 closed

[2015-04-16 21:18] xiang90 commented on #2677
@timothysc Ping

[2015-04-16 21:35] timothysc commented on #2677
@xiang90 sorry I haven't had a chance to circle back.  I'll be sure to respond by tomorrow.

[2015-04-16 21:38] xiang90 commented on #2689
@yichengq I think this is growing out of control. I think we should explore the original approach more.

Instead of building a future view of the cluster, we simply add id->addr map to rafthttp and just enough for sending a rpc message (no streaming or any sort of connection keep alive).

When adding a member from raft wal/conf snap, we do what we are doing in today's rafthttp.
When removing a mbm

[2015-04-16 23:50] ruphin opened #2700 "bug: etcd crashes when reading CA key file"
I am trying to set up an etcd cluster with server-to-server verification according to the Security Guide: https://github.com/coreos/etcd/blob/master/Documentation/security.md
However, etcd is unable to start because of a parsing error in my root CA certificate file.

This is what I find in the logfile with a CA file generated by etcd-ca (https://github.com/coreos/etcd-ca)

`2015/04/16 19:20:52 etc

[2015-04-17 01:42] yichengq commented on #2700
@ruphin Could you give command line that you use? Why do you think it is a CA file problem?

My guess is that the error may imply that your private key is encrypted instead of plain. Try `etcd-ca export --insecure xxx` instead?

[2015-04-17 01:52] zhex900 commented on #2696
Both nodes can ping each other.  Here are their configs. Do I need to have a minimum of 3 nodes?

**ectd0 config**
[code]

**ectd0 log**
[code]
**etcd1**
[code]
**etcd1 log**
[code]

[2015-04-17 02:18] yichengq commented on #2696
I think the network between these nodes is really unstable. etcd0 receives one of three vote messages and etcd1 receives no vote messages. Could you stat your network condition (etcd0 -> etcd1:2380 & etcd1 -> etcd0:2380)?

[2015-04-17 02:23] gouyang commented on #2694
There is still one "localhost" exists in "added local member ce2a822cea30bfca [http://localhost:2380 http://localhost:7001] to cluster 7e27652122e8b2ae", is it right?

[code]

[2015-04-17 02:23] zhex900 commented on #2696
Is ping enough?

[2015-04-17 02:27] yichengq commented on #2696
the stats should include the latency, throughput, miss rate of sending tcp messages to 2380 port on two machines.

[2015-04-17 02:29] zhex900 commented on #2696
Can you kindly tell me how to get those stats?

[2015-04-17 02:37] xiang90 commented on #2694
@gouyang

[code]

You have to remove your previous data-dir to get rid of the initial incorrect configuration.

[2015-04-17 06:19] gouyang commented on #2694
@xiang90
use a new data-dir get same result, so no related to data-dir.

[code]

[2015-04-17 06:49] gouyang commented on #2694
I finally get a correct version for all things,

[code]

[2015-04-17 07:34] zhex900 commented on #2696
Hi,
I have change the two nodes to Google Compute. But I get the same error.
    etcdserver: publish error: etcdserver: request timed out

When I change the ip address on both nodes to private ip address, the cluster forms correctly.

[2015-04-17 07:41] zhex900 commented on #2696
**etcd 0 config**
[code]
**etcd0**
[code]

**etcd 1 config**
[code]
** etcd 1 log **
[code]

[2015-04-17 09:57] zhex900 commented on #2696
I don't know why, but the same config worked on digital ocean. I setup two nodes on different data centre. The same etcd config worked. Something wrong with Google Compute.

[2015-04-17 09:57] #2696 closed

[2015-04-17 12:38] ksaritek opened #2702 "etcd on reboot fails"
When reboot 3 coreos cluster, etcd failed

Apr 17 15:16:21 coreos3 etcd[889]: [etcd] Apr 17 15:16:21.183 WARNING   | [vote] Error: nil response
Apr 16 08:31:30 coreos3 etcd[889]: [etcd] Apr 16 08:31:30.768 INFO      | node003: state changed from 'stopped' to 'stopped'.
Apr 16 08:31:30 coreos3 etcd[889]: [etcd] Apr 16 08:31:30.768 WARNING   | transporter.vr.decoding.error:proto: field/encoding mism

[2015-04-17 15:06] yichengq commented on #2702
The cluster is in a strange status now, and I cannot tell what is wrong without full logs and cluster info.

Moreover, we are not going to fix bugs in 0.4.x, since we have moved to development and maintainence of 2.0. Maybe you could give it a try. It is also in latest CoreOS image. (https://coreos.com/blog/coreos-alpha-with-etcd-2/)

[2015-04-17 16:42] ruphin commented on #2700
I know for sure that it is the CA file, because if I do not set the `ETCD_PEER_CA_FILE` env variable etcd starts normally.

I use an upstart script that looks something like this (irrelevant lines are omitted):

[code]

If ca.key is an encrypted certificate key, etcd fails to start.
Log output: https://gist.github.com/ruphin/933933706248b63e62c8

If ca.key is an unencrypted certificate key, etcd f

[2015-04-17 18:06] jefferai commented on #815
@mosquitorat Which removes all of the cluster data, correct?

[2015-04-17 18:19] pdhar-tibco opened #2703 "Not able to run etcd on Amazon EC2"
In continuation of my earlier issue #3489 trying to install DEIS on vmware fusion single node . As advised I am now trying to install DEIS on Amazon EC2 (3 nodes) and I have completed the provisioning step. I did the following steps as mention in the readme.
1. export DEISCTL_TUNNEL=52.11.XXX.XXX (masked my public ip of the ec2 node)
2. deisctl config platform set sshPrivateKey=~/.ssh/deis.pem (fr

[2015-04-17 18:50] #2703 closed

[2015-04-17 20:07] yichengq commented on #2703
@pdhar-tibco Any more details on why you close it?

[2015-04-17 20:27] pdhar-tibco commented on #2703
I realized it might be related to DEIS setup procedures. I am trying the steps again to see if it happens again and will reopen if it persists.

-Pranab

[2015-04-17 20:36] yichengq commented on #2700
@ruphin i think you should give `ca.crt` instead of `ca.key` for ca file.

[2015-04-17 20:51] yichengq opened #2705 "etcd panic on invalid memory address when RecvAppendReq"
[code]

[2015-04-17 21:01] pdhar-tibco commented on #2703
I tried again with the same results.

[2015-04-17 21:04] yichengq commented on #2703
@pdhar-tibco It is good to report this to DEIS guys because it is so DEIS related.

[2015-04-17 21:10] ruphin commented on #2700
Brilliant. I am an idiot. :)

I don't know what it was but somehow the instructions made it seem like I had to give it the key file. I'll read again and see if I find why.

[2015-04-17 21:10] #2700 closed

[2015-04-17 22:09] yichengq commented on #2655
It may be the first bootstrap failure for some strange reason. Could you remove all data dirs and reproduce it?

[2015-04-17 22:18] yichengq commented on #2632
What is the benefits of TLSA records?
I think it needs to set DNS location, and its complication is the same as setting ca certificates.

[2015-04-17 22:18] yichengq commented on #2601
Close due to low activity.

[2015-04-17 22:18] #2601 closed

[2015-04-17 22:28] yichengq commented on #2554
@scole-scea If the machine fails to join at the first time, it should be able to do that when you retry it.

[2015-04-17 22:30] yichengq commented on #2513
Thanks for answers from @xiang90 and @marc-barry !

BTW, etcd 2.0 is released in CoreOS alpha channel now.

[2015-04-17 22:30] #2513 closed

[2015-04-17 22:38] fraenkel opened #2706 "2 out of 3 members panic when upgrading from 2.0.1 to 2.0.9"
We were upgrading a 3 node environment.
The first node was successfully upgraded from 2.0.1 -> 2.0.9.

Our other 2 start to panic on start with alternating panics and resolve the issue after about an hour.

[code]

[code]

It does eventually start to work, and I don't really know why...
[code]

[2015-04-17 22:38] yichengq commented on #2473
The memory usage we observed so far:
huge memory usage overhead (20X than real data) in normal run (#2657)
giant memory usage overhead on leader when recovering progress of dead follower(40x) (#2662)

40x is the upper bound that we have observed so far.

[2015-04-17 22:43] yichengq commented on #2706
`2015/04/16 21:20:14 etcdserver: start member 16ddfd8ab9399a99 in cluster 47021f879c1614df`
Based on this log, i think these two members start without the original data dir.

I tried to reproduce it(start 2.0.1 cluster, shut down, restart them with 2.0.9), and it works fine for me.

[2015-04-17 22:47] yichengq commented on #2432
The migration method is documented here:
https://github.com/coreos/etcd/blob/master/Documentation/backward_compatibility.md#data-directory-migration

@rosskukulinski @AdoHe @lawrencewu Give it a try?

[2015-04-17 22:48] #2432 closed

[2015-04-17 23:37] yichengq commented on #2419
@rismoney Any progress?

[2015-04-17 23:37] rosskukulinski commented on #2432
Thanks @yichengq - will find some time to review next week

[2015-04-17 23:38] yichengq commented on #2394
@grimnight Could you give more details about why you want it?

[2015-04-17 23:41] yichengq commented on #2465
For memory usage, it is tracked here: #2473
For configurable memory usage options, it is tracked here: #2393

[2015-04-17 23:41] #2465 closed

[2015-04-17 23:52] yichengq commented on #2375
@bbangert Another way is to write a script to play with it easily.

Feel free to reopen it if you still have troubles with it.

[2015-04-17 23:52] #2375 closed

[2015-04-17 23:53] yichengq commented on #2364
fixed by #2680

[2015-04-17 23:53] #2364 closed

[2015-04-17 23:58] #2114 closed

[2015-04-18 00:06] yichengq commented on #2056
@ariddell This is the default requirement for go tls library, and we think it is reasonable. If you cannot provide SAN or DNS to your server certificate, it is easy to be abused or misused.

@sepiroth887 etcd member cluster should be in size of 3-9, which is acceptable for manual deployment.

[2015-04-18 00:08] brianredbeard commented on #911
@barakmich Can we get some traction on this?

[2015-04-18 00:09] yichengq commented on #1997
This is not etcd related, so i don't think we need to document it.

You can configure etcd timeout through '--heartbeat-interval' and '--election-timeout'.

[2015-04-18 00:15] mikea commented on #2655
This was with clean dir. I was able to reproduce it several times with same results on clean dir.

[2015-04-18 00:30] yichengq commented on #2655
@mikea It is a bug in some version. Could you try etcd 0.4.9?

[2015-04-18 00:34] dchen1107 commented on #2657
cc/ @bgrant0605 @davidopp

[2015-04-18 02:30] fraenkel commented on #2706
Our upgrade doesn't quite work that way.
We have 3 up, we bring one down, upgrade, bring it back up and then continue to the next member.

[2015-04-18 02:39] xiang90 commented on #2706
@fraenkel
For some reason, one of your upgraded member does not have the previous wal and snapshot files. We are pretty sure this happened to your cluster based on the log you provided. This is a unsafe behavior and might lead to data inconsistency.

your log
[code]

restarting a member with data should look like this
[code]

The leader of raft was doing its best to prevent re-adding a member who

[2015-04-18 02:42] xiang90 commented on #2706
Rolling upgrade is good. But I would suggest you to check the upgraded member is OK before upgrading another one.

[2015-04-18 03:25] xiang90 opened #2707 "use coreos/pkg/log"
we want to use coreos/pkg/log to provide leveled log.

[2015-04-18 20:15] jelmer commented on #2632
On Fri, Apr 17, 2015 at 03:18:49PM -0700, Yicheng Qin wrote:

It doesn't require distributing the custom CA to all peers.

[2015-04-19 01:32] antoineco opened #2710 "Silent failure when duplicate 'initial-advertise-peer-urls' in cluster using discovery"
(follow-up to issue #2207)

etcd v2.0.8 silently fails to start if `-initial-advertise-peer-urls` contains more than one URL (which is the [default](https://github.com/coreos/etcd/blob/master/Documentation/configuration.md#-initial-advertise-peer-urls)) and if the cluster uses the public discovery service.

It should be made clear that advertised peer URLs must be unique within the cluster, since

[2015-04-19 10:42] kelseyhightower opened #2711 "etcdctl cluster-health and member list commands do not work correctly"
etcd server version

[code]

etcd client version

[code]

Start a 3 node etcd cluster

[code]

[code]

[code]

Poweroff one of the etcd members

[code]

[code]

The member list commands fails

[code]

The cluster is reported healthy, but no nodes are marked unhealthy even though member `7931e79c0d8b47c5` is powered off.

[code]

[2015-04-19 18:10] tchoulihan commented on #715
I'm having this issue too while trying to rejoin a leader. Using goraft.

[2015-04-20 05:01] xiang90 commented on #2658
Add more details, we should be able to watch more keys (so more watcher) per connection. For each connection, we need to allocate a go-routine and user space/kernel space fd/buffer. O(10)kb memory for each connection is fine.

[2015-04-20 07:38] cressie176 opened #2712 "Error querying DNS SRV records - server misbehaving"
I'm experimenting with etcd and have setup a static cluster within a single boot2docker vm. I thought I'd give the cluster discovery option a go but am having some problems.

Following the [clustering guide](https://github.com/coreos/etcd/blob/master/Documentation/clustering.md#dns-discovery) I've added the SRV records to a hosted zone (yaddajs.com) in Route 53. Dig seems to show the correct infor

[2015-04-20 14:27] yichengq commented on #715
@tchoulihan goraft is unmaintained now. We are using https://github.com/coreos/etcd/tree/master/raft . Feel free to give it a try.

[2015-04-20 15:12] tchoulihan commented on #715
@yichengq Thanks, I'll try it out.

[2015-04-20 21:11] xiang90 opened #2714 "expose version on peer url for rolling upgrades"
etcd servers should only accept a command/API supported by all members of the cluster. Or the command will be replicated to a server that does not understand it and cause a potential panic or inconsistency.

so we want etcd cluster to agree on one single operating version.

TODO:

1. add version endpoint at peer url. currently we only expose version endpoint at client url.

2. all the servers peri

[2015-04-20 21:12] xiang90 commented on #2714
/cc @yichengq @barakmich @philips @bakins

[2015-04-20 21:22] bakins commented on #2714
If sever has > minVer it should probably remove itself and "complain loudly" - error log, return errors to API calls, etc.

[2015-04-20 21:26] xiang90 commented on #2714
@bakins Hrm... I do not quite follow.

[2015-04-20 21:59] xiang90 commented on #2714
@bakins Right. Now I understand it. Yes, besides the version coordination, we need to enforce the version too: new member with < minVer dies, existing member restarting with a old version binary dies, etc..

[2015-04-20 23:27] yichengq commented on #2710
I think it fails because you don't set `-initial-advertise-peer-urls` correctly. And the instructions to start it with discovery is documented here: https://github.com/coreos/etcd/blob/master/Documentation/clustering.md#public-etcd-discovery-service

I don't see how the failure is related to that `-initial-advertise-peer-urls` contains more than one URL.

[2015-04-21 02:25] xiang90 opened #2716 "versioning enforcement"
### bootstrap time enforcement

1. new member checks the current cluster version. dies if version is too high or low. if we cannot determine the version since some member is offline, we will rely on runtime enforcement. [done]

2. existing member checks with wal when restarts. dies if version is lower than previous.

### run time enforcement [done]

attach x-version in all the server-to-server htt

[2015-04-21 02:27] xiang90 commented on #2714
related to https://github.com/coreos/etcd/issues/2716

[2015-04-21 02:37] holmes86 commented on #2676
ok, I will verify it. thank you.

[2015-04-21 03:14] jwaldrip opened #2717 "etcd2 crashes during bootstrap"
My cluster keeps crashing upon bootstrap.

You can find my cloud-init here:

https://github.com/brandfolder/infrastructure/blob/master/conf/cluster-node/user-data

Here is the journal output from etcd2:

[code]

[2015-04-21 04:26] bgrant0607 commented on #2657
cc @hchoudh

[2015-04-21 04:42] hookenz opened #2719 "Lacking documentation on how clients not participating in the etcd cluster are supposed to connect to an existing cluster"
I can't find any documentation on how to connect to an existing cluster except using the proxy which requires me to run etcd2 in a docker container.  Even that documentation is rather sketchy.

What if I don't want to do that?  I simply want to use etcd 0.48 in the current stable release.
I can start a 5 machine cluster.  But now how do I reference that cluster from other machines who are not runn

[2015-04-21 05:10] fraenkel commented on #2706
So what we were doing is removing the current member, then wiping the data_dir. After the code was upgraded, we added the member, and waited until a successful sync.

We did learn that if we do the above without removing the data_dir, we do not panic.  Just seems a bit confusing since we remove the member which is what is causing the panic when we add it back without a data_dir.

[2015-04-21 06:05] garo commented on #2662
We might be affecting this as one of our primary etcd instances take around 2 GiB of RES memory when the actual amount of stored data is just about 100 KiB.

[2015-04-21 06:21] yichengq commented on #2662
@garo Could you share anything special that happenes, the log of etcd instance and the size of snapshot under $data_dir/member/snap with us?

[2015-04-21 06:39] garo commented on #2662
@yichengq The snap dir size is 24 MiB. I was using 2.0.5 previously and I've just upgraded to 2.0.9 to see if the problem persist so I don't have the logs anymore. Will update later.

[2015-04-21 06:44] yichengq commented on #2662
@garo Our testing is done at master branch, and it is 40x. We are wondering how it performs on 2.0.9 too and i will measure/confirm the number tomorrow.
Does your cluster have a dead member? Does it have many watch op on it?
Please open a new issue if you have more data.

[2015-04-21 10:58] vaijab commented on #2710
I am hitting a similar issue (maybe the same one).

[code]

As you can I see `ETCD_INITIAL_ADVERTISE_PEER_URLS` and `ETCD_LISTEN_PEER_URLS` are exactly the same, but etcd is still failing to start.

If I set the following then etcd starts just fine, but it advertises localhost to its peers which is not good:

[code]

[2015-04-21 12:58] antoineco commented on #2710
@yichengq OK I grant it to you, the formulation was very bad and I got a bit confused. I rename the issue.

Nevertheless etcd should output some kind of error message if the peer URL was already advertised, right now it transitions directly from `listening...` to `stopping...` and returns `1` without any further explanation.

[2015-04-21 13:31] vaijab opened #2720 "Unable to override peer listen urls"
I cannot seem to be able to tell what peer URLS etcd should listen to. I modified `URLStringsEqual()` from `netutil` to print both `a` and `b` before it does comparison, as you can see below, `ETCD_LISTEN_PEER_URLS` is being ignored.

[code]

Am I missing something here?

[2015-04-21 15:49] xiang90 commented on #2706
@fraenkel

You do not need to remove the data-dir. And if you lose the data-dir, it means you lose the member. You have to remove the member and add it back again via run time configuration change API.

Please see https://github.com/coreos/etcd/blob/master/Documentation/admin_guide.md#lifecycle.

[2015-04-21 15:49] #2706 closed

[2015-04-21 15:55] yichengq commented on #2720
The flag does work:
[code]
You cannot start it because initial-cluster is not set correctly:
[code]
Documentation for initial-cluser: https://github.com/coreos/etcd/blob/master/Documentation/clustering.md#static

[2015-04-21 15:57] xiang90 commented on #2720
Yes. You need to change `-initial-cluster` flag.

In your case:
[code]

See https://github.com/coreos/etcd/blob/master/Documentation/configuration.md#-initial-cluster for more details.

[2015-04-21 15:57] #2720 closed

[2015-04-21 16:19] xiang90 commented on #2716
@barakmich What is you opinion?

[2015-04-21 16:19] xiang90 commented on #2714
@barakmich Can you take a look at the proposal?

[2015-04-21 16:21] yichengq commented on #2710
Current log is like this, which makes users confused what is wrong:

[code]

[2015-04-21 16:23] xiang90 commented on #2710
@antoineco

There is an explanation, but it is unhelpful.

@yichengq
I agree. Discovery should return a better parsed error.

[2015-04-21 16:39] philips commented on #2714
It is probably much easier if we make the version a monotonically increasing number instead of an actual version.

[2015-04-21 17:08] xiang90 commented on #2714
@philips I am using go-semver. So it is fine actually.

I am not sure if we need to start versioning our sub component, like API and raft.
For example, current v2 API is v2.0 and v2 API with security is v2.1. Personally, I think it is overkilled for etcd. etcd is pretty tight coupled. So I think a single binary version is good enough for most the use cases.

[2015-04-21 17:23] bakins commented on #2714
A single version is probably fine.  No strong feelings on single number version vs semver except if we do semver, have to be careful which part of version we bump and compatibility, etc.

[2015-04-21 17:26] xiang90 commented on #2714
@bakins Yea... We already use semver for etcd. I am not quite sure if we want to map semver to a number version just for easy comparison. (it does make our life a lot easier when compare 3.0 to 2.x, since 2.x has to know 3.0 is its next version).

[2015-04-21 17:28] antoineco commented on #2710
With the configuration described in my first post, all I get is

[code]

[2015-04-21 17:50] antoineco commented on #2710
Same test from the shell, logged in as the local etcd user on a fresh cluster:

[code]

The output is a bit more verbose this time, but the reason of the failure is unhelpful/incorrect as @xiang90 already said.

[2015-04-21 18:29] jpalermo commented on #2706
The way the machines are created and destroyed requires us to remove the member then add it back.

If we remove the member, wipe the data_dir, then add the member, when the server starts we get the follow error about `rafthttp: unexpected removal of unknown peer '4954212033102115228'`

If we then try to start again, it seems to come up just fine.

But if we remove the member, then add the member b

[2015-04-21 18:33] xiang90 commented on #2706
How did you remove the member and add the member back?

[2015-04-21 18:34] xiang90 commented on #2710
@antoineco Sure. We need to improve the logging.

[2015-04-21 18:37] xiang90 commented on #2677
@timothysc Ping

[2015-04-21 18:40] jpalermo commented on #2706
etcdctl -C '${CLUSTER_ENDPOINTS}' member remove ${my_id}

etcdctl -C '${CLUSTER_ENDPOINTS}' member add ${node_name} ${advertise_peer_url}

[2015-04-21 18:43] xiang90 commented on #2706
@jpalermo I think this is related to https://github.com/coreos/etcd/pull/2701.

It will be resolved in 2.1 soon. And we will back-port the patch back to 2.0 release if possible.

[2015-04-21 18:43] xiang90 commented on #2706
/cc @yichengq

[2015-04-21 23:23] hookenz commented on #2719
After a lot of searching and stumbling around, I have found some answers.  It would be great if documentation could be updated to reflect this.  It's not easy to find.  I stumbled upon examples and had to ask questions in various places.

Firstly, the etcd cluster.  Applies to pre version 2 etcd.

Suppose we have 3 servers we want in a cluster and don't want to use the discovery URL.
The key is to

[2015-04-22 00:16] lukexue opened #2723 "wait request does not return any message"
curl -v http://127.0.0.1:4001/v2/keys/message

\* Hostname was NOT found in DNS cache
\*   Trying 127.0.0.1...
\* Connected to 127.0.0.1 (127.0.0.1) port 4001 (#0)

 < HTTP/1.1 200 OK
 < Content-Type: application/json
 < X-Etcd-Cluster-Id: e9c7614f68f35fb2
 < X-Etcd-Index: 22
 < X-Raft-Index: 69030
 < X-Raft-Term: 23
 < Date: Wed, 22 Apr 2015 00:11:01 GMT
 < Content-Length: 103
 <
  {"action":"get

[2015-04-22 01:31] crawford opened #2724 "etcd should notify systemd when it's ready to accept requests"
If etcd sent a notify signal to systemd via [sd_notify](http://www.freedesktop.org/software/systemd/man/sd_notify.html), then we could make the service a "notify" type. That way people wouldn't need to write various implementations of wait-for-etcd.service.

[2015-04-22 01:58] timechanter opened #2725 "Unable to set listen-client-urls to all interfaces 0.0.0.0 in proxy mode"
If I set the listen-client-urls to http://0.0.0.0:2379  with proxy on then the Proxy fails to setup due to

proxy: failed to direct request to http://:2379: dial tcp :2379: cannot assign requested address

Once I change it to use a specific ip address it works.

Edit:  Using etcd 2.0.8
Edit: Further testing shows that if I list the same port on multiple ip's it also fails.
e.g.
listen-client-urls:

[2015-04-22 03:11] holmes86 commented on #2676
@yichengq  it works when I run your script. But I write config to /etc/etcd/etcd.conf and run it by systemctl, then it must be panic.

[2015-04-22 03:14] timechanter commented on #2725
A bit more background. I;m using the coreos 653 version with etcd2 operational. I presently have a 3 member cluster running etcd2 happily. I'm now adding in additional nodes as proxy's into the same cluster and this is failing with the above. Even once I get etcd2 to startup well I rapildly run out of files. netstat shows 26k->40k in seconds and random failures. So something is going crazy on the

[2015-04-22 04:15] xiang90 commented on #2723
@lukexue You need to escape `http://127.0.0.1:4001/v2/keys/message?wait=true&waitIndex=1` as
`http://127.0.0.1:4001/v2/keys/message?wait=true/&waitIndex=1`

[2015-04-22 04:15] #2723 closed

[2015-04-22 04:25] lukexue commented on #2723
curl -v http://127.0.0.1:4001/v2/keys/message?wait=true/&waitIndex=1
[1] 25886
[~]$ * Hostname was NOT found in DNS cache
*   Trying 127.0.0.1...
* Connected to 127.0.0.1 (127.0.0.1) port 4001 (#0)

< HTTP/1.1 400 Bad Request
< Content-Type: application/json
< X-Etcd-Cluster-Id: e9c7614f68f35fb2
< X-Etcd-Index: 0
< Date: Wed, 22 Apr 2015 04:23:59 GMT
< Content-Length: 91
<
{"errorCode":209,"messag

[2015-04-22 04:26] xiang90 commented on #2723
@lukexue  curl -v http://127.0.0.1:4001/v2/keys/message?wait=true\&waitIndex=1. I made a mistake.

[2015-04-22 04:27] lukexue commented on #2723
thanks

[2015-04-22 05:36] #2725 closed

[2015-04-22 05:38] timechanter commented on #2725
For those who pass in the future. My issue was the initial 3 member cluster had an incorrect variable expansion on the clientURLs which was where http://:2379 was coming from. So the proxy would connect, get a broken set of URLs and then go into a very tight loop wasting FD's (TIME_WAIT). The proxy should probably be a little less aggressive here, or at least detect the bad url's eariler.

[2015-04-22 06:28] garo commented on #1959
I'm running a three node etcd cluster which seems to leak file handles (and etcd process memory). When I do lsof for the process I can see ~17000 sockets where lsof can't identify protocol. Example:

[code]

[2015-04-22 06:39] AdoHe commented on #2432
@yichengq  I did migration in our real production, and it just works.

[2015-04-22 09:31] ksaritek commented on #2702
Seems that fix it,  just set up a single cluster, when actual size parameter given for etcd as 1, no problem occures then.

[2015-04-22 09:31] #2702 closed

[2015-04-22 15:39] #2705 closed

[2015-04-22 15:50] yichengq commented on #2719
https://coreos.com/docs/cluster-management/setup/cluster-architectures/#production-cluster-with-central-services is the recommended way to run etcd in a big cluster. We will definitely help to make etcdctl easy to use in this case.

4001 and 7001 are random ports used in etcd 0.4, and we are moving to 2379 and 2380 in etcd 2.0, which are IANA ports for etcd service.

For proxy stuff, it is still u

[2015-04-22 15:57] yichengq commented on #2724
I don't want etcd to strictly bound on systemd. Could it reach the same goal if etcd provides a http endpoint that says whether it's ready to accept requests?

[2015-04-22 16:05] yichengq commented on #2725
@timechanter I think the tight loop on proxy that eats up all fds on etcd server is a big problem. Could you open an issue for it?

[2015-04-22 16:10] yichengq commented on #2676
Maybe it is a systemd problem. Do you systemd-reload-deamon when you change the config file?

Another way is that you print out all commands that systemctl actually calls, and we can test whether it works.

[2015-04-22 16:21] philips commented on #2724
@yichengq This isn't making etcd strictly bound to systemd, etcd can detect whether systemd is executing it and make this notification.

[2015-04-22 16:22] philips commented on #2724
@crawford Now, I am a bit skeptical that this is a good thing as people's clients must wait for etcd anyways because at any point etcd may become unavailable due to network partitions and they will need polling/backoff logic in their clients.

[2015-04-22 16:22] yichengq opened #2728 "too many open files for etcd 2.0 cluster with only a few clients"
https://github.com/coreos/etcd/issues/1959#issuecomment-92685800
https://github.com/coreos/etcd/issues/1959#issuecomment-95045905

[code]

Could you share the setting of each etcd process, details of etcd clients, and etcd log with me? I have tested it locally and it worked fine to me. No socket boom on proxy or msgdrop on etcd member.

/cc @bahbka @garo

[2015-04-22 16:23] yichengq commented on #2432
@AdoHe Glad to know!

[2015-04-22 16:26] crawford commented on #2724
@philips I see this being useful for scheduling local services though; during system initialization. Remote services will still need to be resilient to network outages, but local jobs should be able to use systemd primitives.

[2015-04-22 17:33] garo commented on #2728
My setup: Three etcd 2.0.9 in AWS, spread into three AZ us us-east-1. Running in Docker, built from scratch based on public ubuntu:14.04 image and using the 2.0.9 binaries from github: https://github.com/coreos/etcd/releases/download/v2.0.9/etcd-v2.0.9-linux-amd64.tar.gz

Here's startup arguments for one of the instances (copied from docker inspect command):

[code]

Now the logs: These are from t

[2015-04-22 17:33] yifan-gu opened #2729 "Cannot reach etcd from outside of the rkt container"
[code]

[code]
In another terminal, I tried to get the version, but failed...
[code]

[2015-04-22 17:38] yifan-gu commented on #2729
Not sure if it's rkt's problem, I entered the network namespace of the container, and `curl http://127.0.0.1:2379/version`, it works fine.

[2015-04-22 17:38] yifan-gu commented on #2729
@eyakubovich

[2015-04-22 17:41] xiang90 commented on #2729
@yifan-gu etcd bind to 127.0.0.1 by default. You need to change it to 0.0.0.0 or 172.16.28.9.

[2015-04-22 17:41] yifan-gu commented on #2729
@xiang90 Oh i see

[2015-04-22 17:42] #2729 closed

[2015-04-22 17:49] yifan-gu commented on #2729
fixed by
[code]

[2015-04-22 19:12] jfoy commented on #2601
I'm pretty sure this is still a live problem: https://gist.github.com/jfoy/c96fd9e3dbd44ea5385e

[2015-04-22 19:16] xiang90 commented on #2547
solved by #2625

[2015-04-22 19:16] #2547 closed

[2015-04-22 19:18] jfoy commented on #2601
Further, this works as expected if `--no-sync` is specified.
[code]

[2015-04-22 19:27] jfoy opened #2734 "`etcdctl` ignores `--peers` flag unless `--no-sync` is also passed"
I have etcd running on a VM at 172.16.206.252. It is correctly exposing port 2379 on that interface.
[code]
However, etcdctl is unable to connect to that interface unless --no-sync is set:
[code]
[code]
[code]
This was previously reported in #2601 and #2376 .

ETA etcd config on the VM (not the machine where I'm running etcdctl):
[code]

[2015-04-22 21:04] hookenz commented on #2719
Thanks @yichengq .  I would run etcd2 in docker, and did once stumble upon a link to some documentation on how to run it in docker.  However, I can't find this page anymore.  Would you know where I can find that information?

[2015-04-22 21:08] yichengq commented on #2719
@hookenz This is a docker guide in the repo: https://github.com/coreos/etcd/blob/master/Documentation/docker_guide.md

[2015-04-22 21:08] jfoy commented on #2734
Documenting for future reference: this was a configuration problem in our etcd cluster. The daemon must have an `ETCD_INITIAL_ADVERTISE_PEER_URLS` value set, and `etcdctl --peers` has to name the peer port, not the client port.

[2015-04-22 21:08] #2734 closed

[2015-04-22 21:18] yichengq commented on #2734
@jfoy
etcdctl --peers uses advertised client urls, not advertised peer urls. `--peers` is an old flag name, and may be a little confusing then.
You need to set correct `--advertised-client-urls` ("172.16.206.252:2379") to make it work. This is the advertised client urls recorded in the cluster and is displayed through etcd API.

[2015-04-22 22:47] yichengq commented on #2549
link it to #2637

[2015-04-23 03:40] yichengq opened #2736 "etcd fatal because read wal error (unexpected EOF) and cannot be repaired"
Get log:
[code]

It fails to recover the unexpected EOF because the error happens in the last but one WAL file. The last two files:

[code]

I dump the log of the last but one WAL file, and see this:

[code]

This is located in the middle of the file, and is the first/last line that a etcd process wrote(see 61620783 index):

[code]

I print out the bytes from the broken point:
[code]
It is weird t

[2015-04-23 05:20] yichengq commented on #2717
I cannot see the fatal/panic log. Could you run the command in the shell and share the output with me?

[2015-04-23 05:44] coquin commented on #1855
I tried to reproduce this issue but I couldn't:

1. Create a directory `dir`:

[code]

2. Add a node `dir` to this directory:

[code]

It worked. And if I list `dir` contents it returns this `dir` node without any errors.

@glerchundi, could you, please, confirm that it works for you too or clarify your case (step to reproduce and/or a bit more info about this feature request)?

[2015-04-23 06:09] holmes86 commented on #2676
I did not systemd-reload-deamon. because of I just change the config file. it's not systemd service file.
But my test environment is destroyed. I will rebuild a test environment, then I print out all /proc/<etcd pid>/environ to you.

[2015-04-23 06:23] glerchundi commented on #1855
@coquin, i want to be able to create a node alongside the folder (with the same name), not inside it, this shouldn't work:

[code]

[2015-04-23 14:13] lordelph opened #2737 "etcd 0.4.x: etcd fails to start (panic: runtime error: index out of range) CoreOS 653.0.0"
I updated a 3-node Vagrant-based cluster to CoreOS 653 from a previous alpha. Now etcd will not start, recording a "panic: runtime error: index out of range" message in the journal. Here's a section of the journal with the details of the etcd startup and subsequent failure

The user-data did not change, and was using the same etcd configuration as before the upgrade.
[code]

[2015-04-23 15:08] yichengq commented on #1855
@xiang90 Do we want to support this in v2? A unix file system doesn't support to set value to dir, but zookeeper seems to support that.

[2015-04-23 18:37] barakmich opened #2740 "auth: Improve test coverage"

[2015-04-23 18:39] barakmich opened #2741 "security: Double-check security error points."
Especially, ensure no errors leave the security module that aren't securityErrors (ie, no raft-related errors)

[2015-04-23 19:07] philips commented on #2737
Is this happening on one machine or all three? WAL safety is one of the major features of etcd 2.0 which is now available in the alpha channel: https://coreos.com/blog/coreos-alpha-with-etcd-2/

So, if you are willing to upgrade to etcd 2.0 that would be the best path. Otherwise, you will need to delete the information in the /var/lib/etcd directory for this machine and re-add it to the cluster.

[2015-04-23 19:09] xiang90 commented on #2737
@lordelph
There is a known issue in go-raft. go-raft is unmaintained now. So it is not going to be fixed. We have moved to etcd/raft in 2.0, which is a more robust raft with full test coverage. And we are actively supporting/testing it.

[2015-04-23 19:46] barakmich commented on #2436
Fixed by the "guest" role in #2654

[2015-04-23 19:46] #2436 closed

[2015-04-23 19:47] barakmich commented on #2527
Fixed in #2654

[2015-04-23 19:47] #2527 closed

[2015-04-23 19:47] #2384 closed

[2015-04-23 19:47] xiang90 commented on #2384
Fixed via #2384

[2015-04-23 20:07] benmccann commented on #2384
Fixed by what? :-)  That's a self-referential link :-)

[2015-04-23 20:17] barakmich commented on #2384
@benmccann #2654 -- Typo, with the same first and last numbers.

[2015-04-23 21:21] #2736 closed

[2015-04-23 21:55] lordelph commented on #2737
As this was just for development, I trashed the cluster and started a new one using etcd 2.0. I logged the issue as it would seem that after an automatic update this would stop a cluster from working.

[2015-04-23 21:56] xiang90 commented on #2737
@lordelph Yes. It is a known issue for go-raft. Thanks for your reporting. If you find any issue in etcd 2.0, please report back too. We are happy to help/support your more than this time!

[2015-04-23 21:56] #2737 closed

[2015-04-23 22:45] xiang90 commented on #2539
@jlsalvador It is hard since we made big improvement from 2.0 to 2.1 around more efficient transportation. We have release 2.1.alpha0. I think it is fixed there.

[2015-04-23 22:45] #2539 closed

[2015-04-23 22:50] xiang90 commented on #2686
@pphaneuf Closing due to low activity. Feel free to reopen if you have a follow-up.

[2015-04-23 22:50] #2686 closed

[2015-04-23 23:18] akolb1 opened #2742 "etc doesn't compile on Solaris because it uses flock()"
Current version of etc doesn't compile on Solaris because it uses flock for locking. Solaris doesn't have it and uses fontal instead.

[2015-04-23 23:19] akolb1 commented on #2742
Here is suggested fix.

<pre>
--- /dev/null
+++ b/pkg/fileutil/lock_solaris.go
@@ -0,0 +1,95 @@
+// Copyright 2015 CoreOS, Inc.
+//
+// Licensed under the Apache License, Version 2.0 (the "License");
+// you may not use this file except in compliance with the License.
+// You may obtain a copy of the License at
+//
+//     http://www.apache.org/licenses/LICENSE-2.0
+//
+// Unless required by appli

[2015-04-23 23:20] xiang90 commented on #2742
@akolb1 Can you please send a pr? Also the name of this project is etcd not etc :)

[2015-04-23 23:21] akolb1 commented on #2742
Attempt to build on Solaris causes this:

<pre>
# github.com/coreos/etcd/pkg/fileutil
gopath/src/github.com/coreos/etcd/pkg/fileutil/lock_unix.go:48: undefined: syscall.Flock
gopath/src/github.com/coreos/etcd/pkg/fileutil/lock_unix.go:48: undefined: syscall.LOCK_EX
gopath/src/github.com/coreos/etcd/pkg/fileutil/lock_unix.go:48: undefined: syscall.LOCK_NB
gopath/src/github.com/coreos/etcd/pkg/fileu

[2015-04-23 23:22] akolb1 commented on #2742
@xiang90 What is a 'pr'?

[2015-04-23 23:25] yichengq commented on #2742
@akolb1 you can push a git branch into github, and compare it with our master to send out a Pull Request. (https://help.github.com/articles/using-pull-requests/)
It can be really involving and interesting if you can send a PR by yourself, though we can do it too.

[2015-04-23 23:29] qix opened #2743 "etcd proxy (2.0.9) leaving thousands of tcp connections in CLOSE_WAIT state"
I've recently set up an etcd cluster to serve kubernetes (on the same hosts as my current consul cluster). The cluster has five members, and I have a single etcd box running with `--proxy on` which is receiving all the queries from the master server.

I'm seeing an issue where the the number of open files by etcd slowly climbs (leaking?) until it hits the file limit and then stops serving requests

[2015-04-23 23:36] akolb1 commented on #2742
@xiang90 @yichengq Submitted 2744.

[2015-04-23 23:37] #2742 closed

[2015-04-23 23:56] akolb1 commented on #2742
@xiang90 @yichengq
Resubmitted with changed commit message as #2745

[2015-04-24 00:41] difro opened #2746 "adding back a failed node crashed etcd (v2.0.10)"
Adding back a failed node (with a fresh, empty data-dir) to a 6-node cluster failed
with following log trace.

[code]

It was added with following args
[code]

This does not happen 100% of time.
but when it does trigger a crash, even adding another new never-been-in-the-cluster node crashes.

Also, sometimes this heals itself ??
For example, what crashed yesterday will work fine after a day. (with

[2015-04-24 01:21] tmaret opened #2747 "Allow to filter out wait events through the rest api"
Hi,

I am developing a discovery service based on the version 2.0 of the rest api.
Each instance is represented by a key associated to a ttl which is refreshed periodically.

Detecting discovery changes using "?wait=true" would allow to react fast to topology changes (instance added/removed).
However the amount of requests that each instance issues due to the ttl maintenance is too large to be pra

[2015-04-24 02:10] yichengq commented on #2746
@difro Yes, what you observe may happen, and we are fixing it at here: https://github.com/coreos/etcd/pull/2701

[2015-04-24 04:44] xiang90 commented on #2746
@difro @yichengq I can confirm this is a bug as described in #2701. It happens when the peer is in raft membership but not in the cluster membership of the newly joined member. We are solving this by making the cluster membership to be consistent with the raft membership.

[2015-04-24 04:56] xiang90 commented on #2743
@qix Do you have a lot of watchers? What does your proxy workload look like?

[2015-04-24 05:06] xiang90 commented on #2712
@cressie176 There is something wrong with your dns server.
The error you got
[code]
 is returned by go's standard lib
http://golang.org/src/net/dnsclient.go#L77

[2015-04-24 07:26] qix commented on #2743
I'm not sure to be honest. The only thing hitting the etcd daemon is a kubernetes master process (scheduler, api, etc.)

Is the 3000 open files a concern? If not we can probably close this issue. After bumping up the file limit it seems to be running alright; with a maximum of 4000 open files.

It does seem a little strange that thousands of files are in the `CLOSE_WAIT` state on etcd. If that is

[2015-04-24 13:56] apsanz commented on #2740
On windows, TestMergeUser was failing on the 5th cases due to the ordering of the roles:

     !reflect.DeepEqual(User{User: "foo", Roles: []string{"role1", "role2"}}, User{User: "foo", Roles: []string{"role2", "role1"}}

Is this an issue that needs to be fixed for users? Do we need to add an equals function to User? Should we change the slices to a data structure that does not depend on order?

[2015-04-24 17:20] oguzbilgic commented on #1742
Same issue on `coreos-stable-633-1-0-v20150414 `

[2015-04-24 20:04] #2681 closed

[2015-04-24 20:04] #2689 closed

[2015-04-24 20:22] timothysc commented on #2677
@xiang90 sorry for my delay... I've recreated the issue using a modified version of your test program which simulates the k8's issue.

https://github.com/timothysc/etcdk8s-stress
https://github.com/timothysc/etcdk8s-stress/blob/master/writer_stress.go

@ghodss ^ FYI.

[2015-04-24 20:23] xiang90 commented on #2677
@timothysc Thanks. I will give it a try.

[2015-04-24 20:28] philips opened #2752 "tooling: membership controllers for API driven environments"
One of the reasons for building etcd is that we wanted something that could be [runtime reconfigured](https://github.com/coreos/etcd/blob/master/Documentation/runtime-configuration.md) for cloud environments. Our first attempt at that was the standby system of etcd 0.4. This didn't work well as users could not understand the types of assurances and safety this sort of system can give you.

In etcd

[2015-04-24 21:41] yichengq opened #2755 "etcd uses 10s to construct the 3-member cluster in localhost"
Here is the log:
[code]

I have git bisect the commits, and the first bad commit is `security: Improve the security api as per the suggestions list in #2384`

/cc @barakmich

[2015-04-24 21:42] xiang90 commented on #2755
@yichengq

[code]

This is the related log?

[2015-04-25 17:16] garo commented on #894
Just got my production cluster into negative ttl after the cluster was under pretty heavy load. Trying to delete the records with negative ttl just returned Internal Server Error. I had to relaunch the cluster from snapshot to fix.

etcd 2.0.10

[2015-04-25 21:43] JeanMertz opened #2759 "duplicate member IDs"
I am probably starting `etcd2` wrong, but I can't seem to start a cluster of three (using Vagrant), using the following config:

[code]

### curl http://127.0.0.1:2379/v2/stats/self

**core-01**

[code]

**core-02**

[code]

**core-03**

[code]

### curl http://127.0.0.1:2379/v2/stats/leader

**all three**

[code]

[2015-04-25 22:14] JeanMertz commented on #2759
I also notice some weird data in my logs:

[code]

despite these configs:

[code]

[2015-04-25 22:32] JeanMertz commented on #2759
Given the above, I believe I have found my issue.

I haven't tested/fixed this yet, but I believe it is due to user-data load-ordering. I have two user-data files being loaded (one called 10-* and one 20-*), but I can now see in my logs "20" being called first, which starts etcd2, whereas "10" actually sets the configuration for etcd.

This causes the default configuration to show up in the log, b

[2015-04-25 22:32] #2759 closed

[2015-04-25 23:13] JeanMertz commented on #2759
just to close this off: my assumptions where correct. Using a shell script as the user-data file with explicit `cloudinit` execution ordering solved the problem.

[2015-04-26 11:00] jimmycuadra opened #2760 "Add reference documentation for the API"
The guide-style API documentation is very useful, but is lacking as a specification, for example, when building an API client for etcd. There should be reference documentation that:
- Lists all API endpoints
- Lists all possible input parameters for each endpoint
- Details which input parameters are required and which are optional
- Lists all possible HTTP response codes for each endpoint
- Detail

[2015-04-27 04:13] xiang90 commented on #2677
@timothysc Can you please tell me how did you run the modified version of my test? What is the expected output/behavior.  And why you think it is a problem? Thanks.

[2015-04-27 13:01] timothysc commented on #2677
@xiang90 I updated the writer to use the existing client connection similar to k8's, and all operations are through a single server.  In your example it (prior to mods), it would rotate through the servers but it would also constantly be creating a new client connection.  Forcing the client to call NewClient on every single operation is onerous, and imho the responsibility of connection management

[2015-04-27 13:35] cressie176 commented on #2712
Port is correct, but IP looks strange. ```dig @10.0.0.2 www.google.com``` just hangs. Thanks

[2015-04-27 13:35] #2712 closed

[2015-04-27 14:15] TheHippo commented on #1742
@oguzbilgic Open an new issue if this problem still exists.

[2015-04-27 14:23] xiang90 commented on #2677
@timothysc

Actually I still cannot follow you.

See https://github.com/coreos/etcd/issues/2677#issuecomment-93465774 again.

I used `switch` action, not `write`. You changed `write` action in your branch, so I am confused how would that help.

This is also not true on `switch`.

[2015-04-27 14:51] timothysc commented on #2677
I modified the writer, and up'd the concurrency as a test case.

Prior to the modification, you would have an equal number of connections to each endpoint.  This was because your tests constantly created a new client for ever operations.

// was inside the for loop
client := etcd.NewClient(endpoints)

With the current modifications to the writer, which is how kubernetes uses the client library, al

[2015-04-27 14:56] xiang90 commented on #2677
@timothysc

As I said before,
[code]

The code is like
[code]
https://github.com/xiang90/etcdk8s-stress/blob/master/switch_member.go#L13-L25

As I said,

[code]

This is not true. You used and modified the wrong action.

[2015-04-27 15:01] xiang90 commented on #2677
`write` tests create one client for each concurrent write, not for each operation. You need to read the code again.

This is exact what you should do in your application. go-etcd is not thread-safe.

[2015-04-27 15:18] timothysc commented on #2677
That is the root of the problem...

[2015-04-27 15:21] xiang90 commented on #2677
this has nothing to do with your original issue imo

[2015-04-27 15:57] timothysc commented on #2677
I don't think it is.  K8's has only a single open client and upwards of 400 concurrent operations going on.

Also, FWIW `etcdk8s-stress --action="switch"` only hits one server.

[2015-04-27 16:25] xiang90 commented on #2677
@timothysc

`switch` only uses one client. It has three endpoints. And after I killed one, it rotates to use another one. It tries to reproduce the case you described in your original issue.

I am not sure about what do you mean by

[2015-04-27 17:23] philips commented on #2760
@jimmycuadra Are you interested in helping to do this work? Do you have an example of an API document that you think does this particularly well?

[2015-04-27 17:45] mcandre opened #2763 "RPM for installing etcd in Centos 6?"
Where can I find an RPM for installing etcd in Centos 6? I tried ftp://rpmfind.net/linux/fedora/linux/updates/testing/21/x86_64/e/etcd-2.0.9-1.fc21.x86_64.rpm , but it complains that it needs systemd.

[2015-04-27 20:36] yichengq commented on #2677
@timothysc @xiang90
The discussion goes into several problems now:

1. @timothysc you said that go-etcd doesn't rotate through server on the client. I read xiang's switchStress code and it does switch to another member when one member is killed. Any more thoughts on your failure case? I think either changing switchStress code or giving instruments on how to do it is helpful. I tried your write str

[2015-04-27 21:18] timothysc commented on #2677
@yichengq

re:1 - To reproduce the issue on with 'switch', you can navigate to the server which it is communicating with, and call `kill -STOP $(pgrep etcd)` to simulate a net-split, and the etcdk8s-stress test will completely lock.

IMHO every client set/get operation should round-robin through the servers, to prevent this.

re: 2 - k8's only has 1 client for upwards of 400 concurrent operations.

[2015-04-27 21:25] xiang90 commented on #2677
@timothysc

This is what I have done at https://github.com/coreos/etcd/issues/2677#issuecomment-93465774. And I did not see a lock down. @yichengq Can you try to verify?

[2015-04-27 21:56] yichengq commented on #2677
@timothysc I did the reproduction but failed:
1. start a local etcd cluster listen on 4001-4003
2. `./etcdk8s-stress -action="switch" -end-points="http://127.0.0.1:4001,http://127.0.0.1:4002,http://127.0.0.1:4003"`
3. I find it connects to 4002 for requests, so i killed machine2 that listens on 4002
4.
[code]
It does switch to 4001 port. I have tested this in GCE etcd cluster, and it still works.

[2015-04-27 23:09] yichengq commented on #2728
I still cannot reproduce @bahbka 's case.

@garo I built a etcd 2.0.9 cluster on GCE cluster, and its fd usage is normal(around ten). i let 200 clients connect to each member, and it uses 200 more fds. Then i kill one member, the left two members uses almost the same fd number. I cannot see any of them using 17000~ sockets. Any thoughts?

[2015-04-27 23:41] yichengq commented on #2743
Current underlying transport in proxy recycles connections quickly regardless of new requests are still coming, which results CLOSE_WAIT-state connections.

I built a 3-member cluster on GCE, start a proxy on the 4th machine, and use 200 clients to use proxy do write requests. The peak of fd usage is around 600. I think the peak value depends on both the number of concurrent clients and how long s

[2015-04-28 00:32] philips commented on #2716
I don't understand the bootstrap case. Why do we have to check with everyone? Aren't we going to be regularly receiving candidate RPCs when we come up for bootstrap?

[2015-04-28 03:26] garo commented on #2728
@yichengq After much debugging it seems that my issue did originate from my clients which incorrectly left etcd connections open to the cluster, so this might just be an incorrect report from my side. sorry about that.

But how much have we tested etcd with a large number of clients? Do we have statistics on how well for example a three node etcd cluster can work with 100, 1000, 10000, 100000 numb

[2015-04-28 04:20] yichengq commented on #2728
@garo I googled `can't identify protocol` and find out that it happens when the connection is either just inited or closed. I don't know how the etcd process ended with them and wonder whether etcd process could do something to prevent this. Do you know more details about the error? If clients forget to close connections, there should be established connections instead of `can't identify protocol`

[2015-04-28 04:44] garo commented on #2728
@yichengq I'm not sure what "can't identify protocol" means. It seems that it's visible with lsof but not with netstat -np when I tried to look both to find out more about those sockets.

I like the proxy idea, but we should still have some kind of knowledge how etcd performs under high load. We might identify some errors, leaks or race conditions that way which might be very hard to track down in

[2015-04-28 05:10] yichengq commented on #2728
@garo Is the client written in go? Could you share it with me?

We are doing it step by step these days. We have functional testing here: https://github.com/coreos/etcd/tree/master/tools/functional-tester to check the correctness under high failure. It is always helpful to do more stress testing.

[2015-04-28 06:43] durzo opened #2765 "slow write performance on v2.0.10"
versions:
etcd v2.0.10
python-etcd 0.3.2
ab 2.3

3 member etcd cluster in AWS, each member is in a separate Availability Zone with 0.3ms ping between them. Each member instance class is m3.xlarge - 4 vCPU, 15GB RAM.

Tests performed on an instance that is not a cluster member, running etcd in proxy mode. keys read/written are single key/value (key=foo)

performance using python-etcd (no concurrenc

[2015-04-28 07:05] garo commented on #2728
I'm using the https://github.com/coreos/go-etcd client in my project https://github.com/garo/orbitcontrol which had an issue that it opened way too much go-etcd client connections and relied that the Go garbage collection would close them in time. I modified my project code structure so that it could open just couple of go-etcd client connections and use them throughout the program execution which

[2015-04-28 07:25] yichengq commented on #2765
It is related to https://github.com/coreos/etcd/issues/2238 .
We have improved it in current master, and it should be several thousands/second. Give v2.1.0-alpha.0 a try?

I think v2.0.5 cannot have that good performance with 10 clients. I tested it locally and it performed the same as v2.0.10

[2015-04-28 07:50] bahbka commented on #2728
How to reproduce my case:
I have 3 virtual servers bahbka-test-1, bahbka-test-2, bahbka-test-3
Using the 2.0.9 binaries from github: https://github.com/coreos/etcd/releases/download/v2.0.9/etcd-v2.0.9-linux-amd64.tar.gz
All servers uses same test start script https://gist.github.com/bahbka/2740f64ff1265d595f7f

bahbka-test-1 log (node): https://gist.github.com/bahbka/cf673dfdb7d39eba1d0c
bahbka-te

[2015-04-28 08:50] stand1921 opened #2767 "How to make the search result returned in some times"
For example, I have 1000 dictionaries under the root, I need to print the dictionaries in different web page(or somewhere else). Whether does the etcd have a method to do the search?

[2015-04-28 10:55] jimmycuadra commented on #2760
DigitalOcean has pretty good docs along the lines of what I'm describing. For example, their main v2 API docs: https://developers.digitalocean.com/documentation/v2/. An open source API documentation generator that's worth checking out is [Swagger](http://swagger.io/).

I'm going to be building an etcd client for Rust. It's likely I'll come across things that are not well covered by the current doc

[2015-04-28 13:26] timothysc commented on #2677
I have 4 separate machines on bare metal that span 2 switches.

* running from master: be6f49ba3251cd9d8f8a5aff1aa95b04b7ead3b3
* 3 etcd servers (http://host01-rack10:2379,http://host02-rack10:2379,http://host17-rack11:2379)  I've verified that their configs are correct.
* 1 client (host18-rack11)

Step 1:
On host18-rack11 run 'etcdk8s-stress -action="switch"' with the endpoints hard-coded in the

[2015-04-28 16:52] philips commented on #2398
I would like to see this include HTTP client request logs so I can debug simple things like is etcd seeing a request from my client. Essentially dump the path, verb and client IP.

[2015-04-28 18:38] yichengq commented on #2767
We don't have search method.
Some alternatives:
1. get all data and find what you what
2. organize them in different directories

[2015-04-28 19:07] yichengq commented on #2677
@timothysc I did the exact same thing as you mentioned, but it worked well. Here is my log when the member is killed:
[code]

the go-etcd version I am using for etcdk8s-stress is https://github.com/coreos/go-etcd/commit/0424b5f86ef0ca57a5309c599f74bbb3e97ecd9d
Could you give it a try?

Could you SIGQUIT etcdk8s-stress when it stalls and have no output? Maybe we can find something out from the stac

[2015-04-28 20:39] timothysc commented on #2677
In summary from irc-chat: `systemd stop != kill -STOP`

[2015-04-28 21:54] yichengq commented on #2677
Based on discussion on IRC, here are some summary for this issue:

1. hard kill rotation works fine. If the member that go-etcd connects to is hard killed, go-etcd will fail on the first attempt with the killed member, and succeed on the second attempt with another member.

2. `kill -STOP` etcd will let go-etcd stuck on `httpClient.Do` function call. the default transport in go-etcd does have Dial

[2015-04-29 00:15] yichengq commented on #2728
@garo I see. I have tried to reproduce it with go-etcd. I start 1000 goroutines that keeps NewClient, Get something, and Close. I do see 100+ 'can't identify request' connections at the peak time, but no more than that. Any thoughts on better reproduction?

@bahbka The root problem is that you need to set `-advertise-client-urls` for each etcd member. This is the client urls that proxy will use to

[2015-04-29 00:18] yichengq opened #2772 "open too many files error on proxy with one client when proxy forward address is proxy listen address"
1. start a etcd cluster, and set each member's advertise-client-urls as http://localhost:8080
2. start a etcd proxy, which listens on http://localhost:8080
3. proxy updates its forward address to http://localhost:8080
4. when it proxy requests, it forwards it to itself, form the loop, and finally fail with:
[code]

[2015-04-29 00:19] yichengq commented on #2772
from https://github.com/coreos/etcd/issues/2728#issuecomment-96965684
/cc @bahbka

[2015-04-29 01:33] stand1921 commented on #2767
OK, thanks

[2015-04-29 01:33] #2767 closed

[2015-04-29 02:42] durzo commented on #2765
same tests as before with both cluster and local proxy on v2.1.0-alpha.0

python-etcd:
1000 reads in 0.865769 seconds - 1155/sec
100 writes in 2.270518 seconds - 44/sec

ab write test:
Concurrency Level:      10
Time taken for tests:   2.089 seconds
Complete requests:      1000
Failed requests:        999
   (Connect: 0, Receive: 0, Length: 999, Exceptions: 0)
Keep-Alive requests:    1000
Total tr

[2015-04-29 03:18] timothysc commented on #2677
`kill -STOP` is a standard practice for simulation of net-splits, and is adopted by many distributed systems.  It was also the reason why it was chosen as a test route by others looking at Kubernetes.

Do you know if TCP keepalive is set on the underlying socket?

[2015-04-29 03:39] xiang90 commented on #2677
@timothysc

The default transport does not set tcp keepalive.

As yicheng mentioned, the user can set it themselves. Even if you set tcp keepalive, it takes o(minutes) to detect a broken link or at least second if you set it very low.

And as yicheng mentioned, the client stuck on dial. The connection is not even set up properly.

This seems a transport issue, not a client lib issue.

Are you sugg

[2015-04-29 05:21] yichengq commented on #2765
I build a 3-member etcd cluster on n1-highcpu-2, and run a proxy on the 4th member.
I use [boom](https://github.com/rakyll/boom) to do the benchmark testing:
1000 reads: 2000 req/s
100 writes: 600 req/s
10 reads: 1900 req/s
10 writes: 86 req/s

We understand that we do have much space to improve. Do you have any expectation or requirement of the performance?

[2015-04-29 05:39] durzo commented on #2765
My only expectation of performance was from the docs, specifically this page: https://github.com/coreos/etcd/blob/master/Documentation/benchmarks/etcd-2-1-0-benchmarks.md which shows a write QPS of >1000 in most scenarios

The performance gains in 2.1.0-alpha.0 are enough to handle our application workload, so thats great.

I dont want this to turn into a negative thread, I appreciate all the hard

[2015-04-29 05:39] #2765 closed

[2015-04-29 06:10] yichengq commented on #2765
@durzo
Correction: The result i mentioned 40mins ago is got from etcd cluster that run on n1-standard-1 actually.(1vCPU) Sorry for confusion.

The benchmark in doc is measured on operations to etcd member, and each etcd member uses a SSD as backend, which reduces disk time. That are two possibilities that may explain the reduction. We don't do any optimization on proxy today.

We do have long-term

[2015-04-29 13:39] jimmycuadra commented on #2760
Another possible option is Google's discovery API format: https://developers.google.com/discovery/v1/reference/apis. Fleet uses this, and I used it when building a client for fleet. While fleet didn't have docs generated from the spec, I was able to refer to the raw JSON when fleet's docs didn't have enough information.

[2015-04-29 14:27] yichengq commented on #2747
In v3 API, we introduce lease concept. As long as lease is valid, the keys attached to the lease will be there. When the lease expires or revoked, the keys will be deleted. (https://github.com/coreos/etcd/pull/2675/files#diff-22f48da10db79c87fa69a04d3203af57R36)
I think it can handle your use cases perfectly, right?

[2015-04-29 14:28] yichengq commented on #2746
This has been fixed by #2753

[2015-04-29 14:28] yichengq commented on #2746
Thanks for reporting!

[2015-04-29 14:28] #2746 closed

[2015-04-29 14:38] timothysc commented on #2677
From a client perspective, it should handle this network situation gracefully but currently it does not.   Providing well documented tuning options would be great, but this situation should be handled under any tuning configuration.

As a user, I don't care about the internal implementation semantics in either the client or server.  I want to use etcd as a service, and have the client and server h

[2015-04-29 14:46] yichengq commented on #2763
/cc @barakmich

[2015-04-29 14:56] xiang90 commented on #2677
@timothysc

I agree with you we need to do better documentation around the default transport in go-etcd and the fact you can change the default one. We should probably set a dial timeout by default.

You probably want to know the guarantees. No service in the world can handle all kinds of fail over for you.

Moreover, this thread ended up with a different issue with the one you originally posted.

[2015-04-29 14:56] #2677 closed

[2015-04-29 16:59] philips commented on #2763
Perhaps @lsm5 could point you in the right direction. He did one of the early check-ins of etcd into Fedora.

Thanks!

[2015-04-29 17:17] tmaret commented on #2747
@yichengq Thanks for your reply. Currently, I store each instance announce under the key

[code]

where `<uniqueId>` key is created by etcd atomically and in order (POST req + ttl)
The first announce (ordered by the key name) under `/announces/` is the leader in my topology.

I looked at the Lease proposal and I would need a few details to see if it could fit. My understanding is the following:

b

[2015-04-29 20:20] yichengq commented on #2677
@timothysc
The default transport of go-etcd uses 1s dialTimeout, and uses 1s TCP keepAlive period.

If the remote is dead, or net-split, client will detect that through TCP keepalive messages in a few seconds, and rotates to another member.
It doesn't detect that server is `kill -STOP` because the tcp connections on suspended process are kept alive by linux. Based on this, i think `kill -STOP` is

[2015-04-29 20:22] xiang90 commented on #2677
@yichengq We still need to document it in go-etcd readme.

[2015-04-29 20:27] lsm5 commented on #2763
@mcandre looks like there's no el6 branch of the fedora rpm yet. @ingvagabund is the one usually handling etcd on Fedora and perhaps you might wanna check with him on the el6 branch, perhaps even help co-maintain it :)

[2015-04-30 00:35] philips commented on #2763
I am going to close this out since there is nothing the etcd team can do directly and we setup the communication channels here :) Thanks @lsm5 and @ingvagabund.

[2015-04-30 00:35] #2763 closed

[2015-04-30 00:45] mcandre commented on #2763
@ingvagabund Do you have an email address? I'm not sure how to contact you on GitHub.

[2015-04-30 03:47] xiang90 commented on #2743
fixed by #2771

[2015-04-30 03:47] #2743 closed

[2015-04-30 04:41] ingvagabund commented on #2763
Hi @mcandre, please, create a bug in bugzilla [1] for etcd component and el6 version. Something like "Hey you, what is etcd not in epel6?" :). Thanks.

[1] https://bugzilla.redhat.com/enter_bug.cgi?product=Fedora%20EPEL

[2015-04-30 14:36] mcandre commented on #2763
@ingvagabund Cheers!

https://bugzilla.redhat.com/show_bug.cgi?id=1217518

[2015-04-30 18:41] xiang90 commented on #2714
closed via https://github.com/coreos/etcd/pull/2718

[2015-04-30 18:41] #2714 closed

[2015-04-30 18:42] xiang90 opened #2778 "versioning and rolling upgrades plan"
### bootstrap same version of etcd

`cluster: {a: 2.1, b: 2.1, c :2.1}`

1. after bootstrap the leader sets the cluster version to 2.0.
2. after the first round of successful version detection, the leader sets the cluster version to 2.1.

### bootstrap different versions of etcd

`cluster: {a: 2.2, b:2.1, c: 2.1}`

There are two cases:

1. `a:2.2` becomes the first leader
2. `b:2.1` or `c:2.1` bec

[2015-04-30 18:45] xiang90 commented on #2778
@philips @bakins @yichengq @barakmich

I enumerate the common cases I can think of. Please take a look.

[2015-04-30 19:45] yichengq commented on #2717
closed due to low activity. feel free to reopen if you have more results.

[2015-04-30 19:45] #2717 closed

[2015-04-30 20:42] niclashoyer commented on #2644
I just experienced the same issues on a single node cluster (just tried out exec-watch).

[2015-04-30 22:27] philips commented on #2398
I think this should be done in etcd 2.1.0. It is rather frustrating to not be able to debug the request logs.

[2015-04-30 22:51] ravigadde opened #2779 "etcd cluster unhealthy after restarting a node"
[root@tb1-01 ~]# etcd --version
etcd version 2.0.3

3 node cluster, powered off a node.

[root@tb1-01 ~]# etcdctl cluster-health
cluster is healthy
member 40666828cb6d1c07 is unhealthy
member 536674211254cc4 is healthy
member 891add51dc689bd3 is healthy

power up the node, etcd starts on that node
[root@tb1-01 ~]# etcdctl cluster-health
cluster is unhealthy

No details on why the entire cluster is

[2015-04-30 22:51] ravigadde commented on #2779
I haven't found any way to enable debugs or debug what the problem is.

[2015-05-01 00:00] bakins commented on #2778
On initial read, LGTM.

[2015-05-01 00:00] xiang90 commented on #2779
@ravigadde Can you provide the log info from all three members? Thanks

[2015-05-01 02:18] xiang90 commented on #2778
[code]

This is working... So if everyone agrees on this, I get a Pull Request ready for review soon.

[2015-05-01 04:06] hookenz opened #2780 ""member 9b3523b532ddb797 has already been bootstrapped" error, then exits."
Following this guide https://github.com/coreos/etcd/blob/master/Documentation/docker_guide.md
I created a 3 node cluster.

Initially it was working fine.  However, upon restarting one of the nodes I get the following error now.

    /usr/bin/docker run -ti -v /usr/share/ca-certificates/:/etc/ssl/certs -p 4001:4001 -p 2380:2380 -p 2379:2379 --name etcd quay.io/coreos/etcd:v2.0.8 -name etcd0 -advert

[2015-05-01 04:10] xiang90 commented on #2780
@hookenz It means exactly `has already been bootstrapped mean`. I think you lost the data-dir of that member somehow. You cannot restart a member that was in the cluster without the previous data-dir.

[2015-05-01 05:05] ravigadde commented on #2779
@xiang90  Can you please let me know what exactly to collect?

[2015-05-01 05:11] xiang90 commented on #2779
@ravigadde The log from stderr of tb1-02 from the beginning after the reboot. I cannot tell you what exactly you should collect. If I could tell you, I should be able to help you already.

[2015-05-01 05:41] ravigadde commented on #2779
@xiang90 Running it as a systemd service. Dont see anything in journalctl other than started/stopped service. Is there anything I can enable to generate/save these logs and try to reproduce? Dont see the -v or the -vv options anymore.

[2015-05-01 05:43] xiang90 commented on #2779
@ravigadde etcd by default should generate error log. We log almost everything when etcd is at bad path.

[2015-05-01 06:20] ravigadde commented on #2779
@xiang90 This turned out be an iptable issue specific to that particular node. I dont understand why one node going out caused the cluster to be unhealthy though. Cant reproduce the issue again. Will close for now and investigate the logging part. Hopefully will have logs if we hit it again. Thanks for your help.

[2015-05-01 06:20] #2779 closed

[2015-05-01 21:42] barakmich commented on #2778
That seems good. I'm a little confused why after bootstrapping the cluster is initally 2.0 (is that the case for anything in the 2.x series?)

Maybe also some thoughts on 2.x -> 3.x as well? Just thinking through the cases.

[2015-05-01 22:45] hookenz commented on #2780
Ahh, I thought it'd just re-kick off the process.  So do need to bind-mount to another directory?

[2015-05-02 20:40] mbejda opened #2781 "Registered non existent nodes in the etcdctl seem to be crashing etcdctl."
Registered non existent nodes in the etcdctl seem to be crashing etcdctl. I have 4 instances in a cluster and I delete 2 instances. Those instances seem to still be registered in the etcdctl and are causing etcdctl to fail.

The CoreOs version is CoreOS-stable-633.1.0-hvm (ami-37280207) on AWS.
etcd --version
etcd version 0.4.8
etcdctl --version
etcdctl version 0.4.6

Here is the registry
[code]

[2015-05-03 01:50] xiang90 commented on #2780
@hookenz

If you lost your data dir, you have to

1. remove that member via dynamic configuration API
2. start etcd with previous configuration

You cannot simply use the previous configuration to restart the etcd process without removing the previous member.

Remember that if you lose a data-dir, then you lose that member.

[2015-05-03 01:50] #2780 closed

[2015-05-03 01:54] xiang90 commented on #2781
@mbejda

etcdctl is just a simple command line tool. The problem is not ectdctl, but etcd itself.
The cluster management in etcd 0.4.x is dangerous. I am not sure how you did the removal.

I suggest you to start using etcd 2.x, which has a safer runtime cluster management mechanism.

[2015-05-03 01:58] xiang90 commented on #2781
@mbejda

Moreover, this can never succeed
[code]

The discovery service is running on coreos servers, not on your local machine.

[2015-05-03 01:59] #2781 closed

[2015-05-04 15:55] xtaci opened #2783 "what's the best way to implement a pessimistic lock?"
what's the best way to implement a pessimistic lock with the CAS operation provided?

[2015-05-04 20:42] yichengq commented on #2747
Yes. You can use `LeaseAttach` to attach existing keys to the lease. Or you can use LeaseTnx to create key in the lease.
We don't support POST in v3, and instead you can create unique key using transaction.

Yes, and you will not receive refresh info anymore. That also helps etcd to have better ttl key scalability.

[2015-05-04 20:49] elephantfries commented on #2728
All right, the workaround works (2.0.9).  It took me only two days to figure this out :).  Each cluster member not only has to advertise its ip address but it also needs to listen on it and on its localhost as well, like this:

ETCD_LISTEN_CLIENT_URLS="http://10.0.31.78:2379,http://localhost:2379"
ETCD_ADVERTISE_CLIENT_URLS="http://10.0.31.78:2379"

then the proxy can listen on localhost provided

[2015-05-04 22:54] tmaret opened #2784 "Support gzip encoding for rest API"
In order to minimise bandwidth, for rest API users that want to, it would be beneficial to support delivering etcd content in gzip format. Users that want that feature would send the `Accept-Encoding: gzip` header and etcd would return the content gzipped with the `Content-Encoding: gzip` header.

We could run etcd behind a dispatcher in order to perform the same, but would it be ok (for consisten

[2015-05-04 23:06] tmaret commented on #2747
Excellent. I don't see how it could not fit, so I'll close this issue. Thanks!

[2015-05-04 23:06] #2747 closed

[2015-05-05 02:28] AdoHe commented on #2784
@tmaret I think this should be ok.

[2015-05-05 10:11] mwitkow-io opened #2785 "Document metrics of etcdv2"
As far as I can see throughout the codebase @xiang90 added support for Prometheus `/metrics` endpoint. That is great news, as we're using Prometheus for our internal monitoring and having etcd2 is very useful.

However, I'm not sure whether this is a public feature or something internal for the Etcd team. Are these metrics there to stay? If so, can we have a mention of them somewhere in public doc

[2015-05-05 14:10] xiang90 commented on #2785
This is still super expr. We will add some doc around it when we feel more confident about it. (For example, we need to set up our own Prometheus server and see what the actual metrics looks like, etc..)

But you can try it out and give me feedback. This can help me gain more confidence.

[2015-05-05 14:39] yichengq commented on #2778
The lgtm.

One question: what may happen if there exists incompatible version when bootstrap?

[2015-05-05 14:40] xiang90 commented on #2778
@yichengq It will be detected at runtime as dynamic adding case 2. But I guess this should never happen in reality...

[2015-05-05 16:06] onorua opened #2786 "etcd with doesn't see my certificate and key files."
I did
[code]
Then I tried to start up single node with SSL:
[code]
but got following messages on logs and that's it:
[code]

What am I doing wrong? I've tried version 2.0.9 and 2.0.10  result is the same, tried without docker, as local process - no difference.

[2015-05-05 16:10] xiang90 commented on #2786
@onorua You only gave the key/cert for client url, but also tried to serve TLS on peer url. Please also give peer key/cert. More details: https://github.com/coreos/etcd/blob/master/Documentation/configuration.md#-peer-cert-file

[2015-05-05 16:10] #2786 closed

[2015-05-05 16:41] yichengq commented on #2728
@elephantfries Glad to know you get it. For clarification, this is not the workaround, but the correct way to configure etcd. We expect users to set their listen-client-urls, but it leaves users lots of pains if they don't set it. We have improved both docs and bootstrap process in 2.1.0-alpha.0 for this case.

[2015-05-06 09:44] eric-nuaa opened #2789 "How to watch leader changes in an etcd cluster"
I set up an etcd cluster with 3 nodes, and in each node, beside etcd, I also run my own software which talks with the etcd locally. I'd like my own software be awared once etcd leader changes.
I know that I can check "http://127.0.0.1:2379/v2/stats/self" in each node to know the leader, however, it seems watch API can not be used to watch "http://127.0.0.1:2379/v2/stats/self". So is there a way to

[2015-05-06 14:19] eric-nuaa opened #2790 "Too much error messages when stop one etcd node in an etcd cluster"
Hi,

I set up an etcd cluster with 3 nodes (actually they are 3 Docker containers):
172.17.0.14, 172.17.0.15, 172.17.0.16.

The way I start etcd in each node is like:
[code]
As you see, I run etcd in background and redirect all its output into a log file.

When the cluster was initially set up, everything is good. Then I killed the leader etcd process (172.17.0.14), and I found a new leader was el

[2015-05-06 16:59] tmaret commented on #2784
Thanks for your insight. Is running etcd behind a dispatcher the recommended setup ?

If not, wouldn't it make sense to add support for gzip in the etcd server itself ?

It would allow to avoid adding extra components that can fail as well as keep the resource footprint of an etcd setup low (which is something nice about etcd).

[2015-05-06 21:24] titanous opened #2791 "single node etcdhttp: unexpected error: etcdserver: request timed out"
A single node cluster (v2.0.10) is throwing these errors:

[code]

[code]

[code]

Full log: https://git.io/vJb0r

/cc @temujin9

[2015-05-06 23:54] xiang90 opened #2793 "etcd 2.1.0-alpha0 does not work with etcd 2.0 newest release"
on 2.1 member
[code]

on 2.0

[code]

[2015-05-07 14:19] timothysc opened #2794 "Document GOMAXPROCS recommendation"
re: https://github.com/GoogleCloudPlatform/kubernetes/issues/7767

It would be useful to document recommended GOMAXPROC for optimal performance.

[2015-05-07 18:40] xiang90 commented on #2793
@yichengq

Based on offline discussion,

1. 2.1 ignores the 404 since it is expected when it is talking with 2.0

2. 2.0 does not print out no handler error by default (maybe in vv mode, we should log it)

3. 2.1 should try 2.1 handler if fails due to 404, then tries 2.0 handler.

[2015-05-07 18:50] xiang90 commented on #2791
@titanous This is wired. Are you able to reproduce it? I cannot reproduce it on my local env :(

[2015-05-07 18:53] titanous commented on #2791
@xiang90 No, this is the first time I've seen it, it was on one of @temujin9's servers.

[2015-05-07 20:41] grbinho opened #2795 "case insensitive keys"
Hi all,

This is more a question than an issue.
Is it somehow possible to store case insensitive keys?
So that updates on "sampleKey", "SampleKey" and "SAMPLEKEY" update the same key/value pair?

Or was the intention to leave this to the clients?

[2015-05-07 20:42] xiang90 commented on #2795
Clients (or the user of a etcd client) should handle this themselves.

[2015-05-07 20:42] #2795 closed

[2015-05-07 20:47] drumulonimbus opened #2796 "github url changed, breaks etcd image w/'rkt fetch'"
[code]

Apparently something has changed, and the 'latest' in the URL no longer points at the actual 'latest' directory... if you go to https://github.com/coreos/etcd/releases/latest the URL is rewritten to https://github.com/coreos/etcd/releases/<version>/...

[2015-05-07 23:53] bmccandless opened #2798 "excessive log message when an etcd process is killed"
In 2.1.0-alpha, I have a 3 node cluster.
When I kill the etcd process on one of the nodes, the other two start logging messages at a fast rate,
about 18 messages per second, or about 5KB/second.  This adds up pretty fast.  Is there some way to turn down the frequency or quite it down in some other way.

2015/05/07 23:50:27 rafthttp: roundtripping error: error roundtripping to http://node3:2380/raf

[2015-05-08 01:50] hookenz opened #2800 "Request ignored due to cluster ID mismatch?"
I'm attempting to get etcd working correctly on 633.1.0 with an initial cluster of 5 machines.

As suggested previously I'm using etcd2 running inside a docker container.  In order to override the inbuilt etcd in 633.1.0 I created a service file in /etc/systemd/system

I set my initial cluster size to 5 when creating the URL. So extra machines should fall into a proxy mode.  Does that work?

/etc/

[2015-05-08 02:03] damm commented on #2383
+1

[2015-05-08 03:31] hookenz opened #2801 "Couldn't find localname "service2-2" in the initial cluster configuration. Funny, it's there is it not?"
Trying to bootstrap a cluster from DNS.

root@b2e8e1955943:/# dig +noall +answer SRV _etcd-server._tcp.cluster
_etcd-server._tcp.cluster. 0    IN      SRV     0 0 1 service2-3.cluster.
_etcd-server._tcp.cluster. 0    IN      SRV     0 0 1 service2-2.cluster.
_etcd-server._tcp.cluster. 0    IN      SRV     0 0 1 service2-1.cluster.

root@b2e8e1955943:/# dig +noall +answer service2-3.cluster service

[2015-05-08 04:54] xiang90 commented on #2801
@hookenz
I do not think there is anything funny. And I think you made a mistake.

The best way to help yourself is to read the doc carefully and do things more carefully.
https://github.com/coreos/etcd/blob/master/Documentation/clustering.md#dns-discovery

You named your member in SRV as `service2-2.cluster`. However, you gave the name `service2-2` in your configuration. As the log explicitly tell

[2015-05-08 04:54] #2801 closed

[2015-05-08 04:55] xiang90 commented on #2800
I thing you somehow misconfigured your cluster. Can you please provide the full log of your etcd members?

[2015-05-08 06:07] hookenz commented on #2801
Ok I tried appending ".cluster" too. The error was the actually identical. I'll try it again and confirm that

[2015-05-08 06:11] hookenz commented on #2800
Unfortunately not.  I tore it down and went with a static config. It's the only one I could get to actually work.

[2015-05-08 06:17] xiang90 commented on #2801
@hookenz Also I found another wired thing:
[code]

Do you know where is the :1 port come from?

[2015-05-08 06:18] xiang90 commented on #2801
@hookenz

Ok. I see your another problem

[code]

You should give the correct port as
[code]
https://github.com/coreos/etcd/blob/master/Documentation/clustering.md#create-dns-srv-records

[2015-05-08 06:20] xiang90 commented on #2800
@hookenz It works good with me. And I cannot get this reproduced. Reopen if you can reproduce it and get some meaningful log. Thanks!

[2015-05-08 06:20] #2800 closed

[2015-05-08 06:25] hookenz commented on #2801
Ah Yeah I thought the port was optional. I will try this again next week and append 2380. I think this is more convenient than my static config if i can get it to work properly.

By the way which data directory is default for etcd2 is it /var/lib/etd or /var/lib/etcd2? So that when etd2 eventually appears in stable by default I can just remove my service file.

[2015-05-08 06:27] xiang90 commented on #2801
i think it is probably /var/lib/etcd2

[2015-05-08 07:24] ravigadde opened #2802 "ttl keys not expiring after node dies"
A node was refreshing this ttl key before it died. Instead of the key getting deleted, the ttl goes -ve. Is this a known issue?

{"action":"get","node":{"key":"/foo","value":"bar","expiration":"2015-05-08T07:20:03.786812635Z","ttl":-74,"modifiedIndex":2256,"createdIndex":10},"etcdIndex":2268,"raftIndex":3586,"raftTerm":16}

etcd version 2.0.3

[2015-05-08 07:27] ravigadde commented on #2802
It seems to get deleted as soon as the node comes up.

[2015-05-08 11:48] gtoff commented on #952
+1 for wanting this

[2015-05-08 14:34] durzo opened #2803 "Unable to create cluster with v2.1.0-alpha.0"
I have successfully used v2.1.0-alpha.0 when upgrading older versions, however starting a new cluster with this version is proving difficult.

I'm using the public etcd discovery url to create a new 2 node cluster:

root@etcd1$ etcd --name etcd1 --discovery='https://discovery.etcd.io/REMOVED' --initial-advertise-peer-urls=http://10.42.23.252:7001 --listen-peer-urls=http://10.42.23.252:7001 --adver

[2015-05-08 14:44] xiang90 commented on #2802
Hm... This should be a bug. Can you please give me more details about how to reproduce this?

[2015-05-08 15:06] ravigadde commented on #2802
I am running my application in 3 vagrant vms. It uses ttl key to implement a lock. The lockholder is killed with a vagrant halt.

[2015-05-08 15:08] xiang90 commented on #2802
Is the "lockholder" your application or etcd? You killed a etcd process?

[2015-05-08 15:20] ravigadde commented on #2802
The application refreshes the ttl every .4*ttl when its alive. The whole vm is killed. Expectation is for the ttl key to expire and get deleted. Then another node will create the key and refresh ttl.

Used to work with earlier versions.

[2015-05-08 15:22] xiang90 commented on #2802
@ravigadde

What is on the whole vm? You still did not answer my simple question: Is the "lockholder" your application or etcd? You killed a etcd process?

[2015-05-08 15:55] ravigadde commented on #2802
Its an application lock that the 3 VMS are contending for. The lock is implemented using a ttl key.

I halted the vagrant VM which had the lockholder. It will end up sending SIGTERM to all processes is the VM before stopping it. etcd should still have quorum because the other two nodes are up.

Hope that answers your question. I will try a poweroff instead of halt to see if the behavior is any dif

[2015-05-08 15:58] xiang90 commented on #2802
@ravigadde Just make it super clear. Your etcd and your application were on the same vm. When you halted the VM, it SIGTERMed both etcd and your application (the lockholder you mentioned). Correct?

[2015-05-08 16:01] ravigadde commented on #2802
@xiang90

Yes, thats correct. All three VMs have etcd and the application running.

[2015-05-08 16:08] xiang90 commented on #2802
@ravigadde Thanks. I will try to reproduce it. If you can reliably reproduce with your env, let me know.

[2015-05-08 16:17] tmaret commented on #2802
Not sure if it is the same issue, but it has the same symptoms (ttl going < 0). Here is how to reproduce with etcd 2.0.8

Start a three instance cluster locally

[code]

And a proxy node (on port 9001)

[code]

Create a key with ttl (through the proxy)

[code]

Kill two of the etcd peers

Get the key with the ttl (periodically, through the proxy)

[code]

Once the ttl has elapsed, it goes below 0

[2015-05-08 16:23] xiang90 commented on #2802
@tmaret This is not the same. The TTL key cannot be removed when you lost quorum, since you killed two etcd members at the same time. The <0 TTL key is expected in your case. This is kind of a design flaw, we probably should not decrease TTL when the quorum is lost. But this is not going to be solved in v2 api.

[2015-05-08 16:25] tmaret commented on #2802
@xiang90 thanks, something to take into account then. Sorry for hijacking.

[2015-05-08 16:34] ravigadde commented on #2802
@xiang90

I tried to recreate several times this morning, no luck so far. Hit it 4 times in a row last night. Rotten luck I suppose.

FYI.. there is also ntpd running on all 3 nodes. I have seen with vagrant VMs on Virtualbox, where they have a big jump in time when they are woken up after a large halt. In our application ntpd is started after etcd and when it syncs time from the ntp server, there

[2015-05-08 16:39] xiang90 commented on #2802
@ravigadde I think you need to:

1. synced your time between the machine within second level (this should be practical)

2. reproduce the issue and confirm with me.

I will try to reproduce too. But I never see this happen before. I still suspect this is:

1. because of the time drift on your machines

2. because of your quorum lose

But again, I am not sure. So I have to know you can reproduce it

[2015-05-08 16:50] ravigadde commented on #2802
@xiang90

Sure. Quorum was not lost for sure because I am able to read the keys from the other VMs and see the ttl decrement.

Can you comment on my earlier question about having a defensive check?

[2015-05-08 16:54] xiang90 commented on #2802
That is not possible for now.

The removal action is led by the leader. So if your follower has a large time drift with the leader, then you will see the TTL difference. Users need to make sure the time thing themselves if they want to use TTL feature.

[2015-05-08 16:55] xiang90 commented on #2802
You can always read a key from etcd even if the q is lost.

[2015-05-08 16:56] ravigadde commented on #2802
@xiang90 Thanks! Isn't it a quorum read by default? Sorry if this is a dumb question.

[2015-05-08 16:57] xiang90 commented on #2802
It is not.

[2015-05-08 17:54] yichengq commented on #2803
@durzo Could you reproduce it? How often do you meet the failure?

[2015-05-08 20:39] MSamman commented on #2560
I'd like to give this a go if no one else is working on it?

[2015-05-08 20:40] xiang90 commented on #2560
@MSamman No one is working on it. Go for it if you want.

[2015-05-08 21:25] akolb1 commented on #2790
I am seeing the same behavior. The cluster was initially created with 3 nodes and worked fine. Later I restarted all 3 nodes (and I also rebuilt etc from current source and copied it to all nodes). Now every node is showing these messages:

[code]

The etc is started on each node with the command:

[code]

[2015-05-08 21:26] akolb1 commented on #2790
In this state I can read nodes but can't write anything from any node. Messages are also coming really fast.

[2015-05-08 23:09] hookenz commented on #2801
@xiang90 - Thanks for the hints.  I changed the srv entry to include 2380 as the port number and appended .cluster to the name and it now works.

[2015-05-08 23:28] durzo commented on #2803
I was able to reproduce this numerous times last night but it seems to be working just fine today.
Could this be a problem with the discovery service at discovery.etcd.io ?

[2015-05-08 23:31] yichengq commented on #2803
@durzo Yes, it could be. The case deserves a better error message, and maybe retry logic.

[2015-05-09 00:05] MSamman commented on #2560
I set it so that the `version` flag prints off etcd version, min cluster version, git SHA, OS and architecture.

I didn't see a HTTP API version anywhere, but I also didn't look that hard.

[2015-05-09 03:28] #2560 closed

[2015-05-09 23:07] tmaret opened #2806 "/v2/stats/leader does not redirect to the leader"
In earlier version of etcd, the API to `/v2/stats/leader` was redirecting (using 307) to the leader instance automatically. With the version 2.0.8, the call is not redirected, either using the etcd proxy or issuing requests to follower instances.

Could this behaviour be added back ?

[2015-05-10 10:29] lordelph commented on #2601
I have this same problem, using etcd and etcdctl  2.1.0-alpha.0

I've setup up 3 nodes using peer and client security. They are all peering successfully, and I can talk securely to them with curl.

I have exported environment variables for `ETCDCTL_CERT_FILE`, `ETCDCTL_CA_FILE`, and `ETCDCTL_KEY_FILE`. The ETCDCTL_PEERS value looks like this:

    ETCDCTL_PEERS=https://1.2.3.4:2379,https://5.6.7.8

[2015-05-10 14:01] lordelph commented on #2601
I resolved this by ensuring the etcd service was started with a [advertise-client-urls](https://github.com/coreos/etcd/blob/master/Documentation/configuration.md#-advertise-client-urls) option.

[2015-05-10 22:47] JeanMertz opened #2807 "etcd2 discovery + node failure + proxy promotion"
I simulated the following situation:

* create 3-node etcd2 cluster
[code]

* destroy 1 node
  * one member now shows as `failed`
* create new node
  * node detects full cluster, becomes a proxy
  * after a while, cluster shows two members

[code]

If I restart etcd2 at this point, I get:

[code]

If I remove `/var/lib/etcd2/proxy`, I get:

[code]

My question is, when using a discovery token, how

[2015-05-10 22:54] xiang90 commented on #2807
@JeanMertz You are right. Discovery service can only be used for the first bootstrap. When you already bootstrapped your cluster, you should be able to manage it yourselves by listing the members.

See https://github.com/coreos/etcd/blob/master/Documentation/clustering.md#lifetime-of-a-discovery-url

[2015-05-10 22:54] #2807 closed

[2015-05-11 07:31] JeanMertz commented on #2807
@xiang90 yes, I read that chapter, and I also read about using `etcd2ctl member` to manage memberships, but I am unsure how to tie the two with the usage of CoreOS' user-data bootstrapping.

For example, I have this user-data for all etcd2 cluster machines:

[code]

but can you explain to me, once I completed the `create new node` step as described above, using the above user-data. How do I then g

[2015-05-11 11:16] JeanMertz commented on #2807
I created a `etcd2-rejoin.service` unit file, executing the following shell script:

[code]

This feels cumbersome, but going by the documentation, this seems the only way to semi-automate this. With this, we still call `systemctl start etcd2-rejoin`, which requires an explicit decision (which as far as I can tell was the main reason not to automate rejoining anymore), but at least the steps to ta

[2015-05-11 14:42] xiang90 commented on #2807
@JeanMertz

The short answer is:
if you want to use the same configuration to bootstrap, you'd better to know the exact number of members you want.

Dynamic configuration change is only used for replacing dead members in most cases.

So when you bootstrap, you can:
1. bootstrap members and proxies at the same time using discovery

2. bootstrap members first using static configuration if you can th

[2015-05-11 14:55] yichengq opened #2808 "raftlog violates its invariant"
The out-of-date follower is doing its best to catch up the leader(recover snapshot and hopefully the recovery is fast enough), here is the log:

[code]

The log violates the invariant we list:
[code]

[2015-05-11 18:56] JeanMertz opened #2810 "rejoin of fresh node causes Go panic"
Joining a cluster with only two nodes:

[code]

After this, when the unit restarts, it joins as expected:

[code]

[2015-05-11 20:09] yichengq commented on #2810
It is fixed here: https://github.com/coreos/etcd/issues/2689, and will be released in 2.0.11 and 2.1.alpha

[2015-05-11 20:09] yichengq commented on #2810
Thanks for reporting

[2015-05-11 20:09] #2810 closed

[2015-05-11 21:17] gyuho opened #2812 "what is host IP on docker guide?"
Hello,

I am following this documentation and ran into some issues:
https://github.com/coreos/etcd/blob/master/Documentation/docker_guide.md

@kelseyhightower could you be more specific on `host IP`? I have no previous experience in CoreOS and am just trying to run `etcd` in container environments. I am quite not sure what you mean by `host IP`. Is it public IP address of the host machine? Or fixe

[2015-05-12 14:24] lukexue opened #2814 "The etcd cannot start normally after crash"
Insert bulk data to etcd cause crash. The etcd cannot start normally
---
2015/05/12 22:15:01 raft: a7f2946a0c7c5265 [term: 2914] ignored a MsgHeartbeat message with lower term from 743f1c8f104548d4 [term: 2896]
2015/05/12 22:15:01 raft: a7f2946a0c7c5265 [term: 2914] ignored a MsgHeartbeat message with lower term from 743f1c8f104548d4 [term: 2896]
2015/05/12 22:15:01 raft: a7f2946a0c7c5265 [logterm

[2015-05-12 14:40] xiang90 commented on #2814
@lukexue etcd runs out of memory. You have to give it more physical memory. See https://github.com/coreos/etcd/issues/2657.

We will improve in the later version of etcd.

[2015-05-12 14:40] #2814 closed

[2015-05-12 15:07] lukexue commented on #2814
Can i  set binary data into key/value ?

[2015-05-12 15:08] xiang90 commented on #2814
@lukexue Not in v2.

[2015-05-12 16:58] xiang90 commented on #2798
This is kind of duplicate with https://github.com/coreos/etcd/issues/2197. The only difference is we changed the logging content. But this should be solved. I am closing this one and will add your issue in #2197.

[2015-05-12 16:58] #2798 closed

[2015-05-12 16:59] xiang90 commented on #2197
@yichengq

From #2798

Now it behaviors like
[code]

[2015-05-12 16:59] #2710 closed

[2015-05-12 17:02] xiang90 commented on #2790
I am closing this since it is duplicate with #2197.

[2015-05-12 17:02] #2790 closed

[2015-05-12 17:37] xiang90 commented on #2789
You cannot watch leader change for now. The endpoint is not watchable right now.

[2015-05-12 17:37] #2789 closed

[2015-05-12 17:40] xiang90 commented on #2806
etcdserver will not do 307 redirection anymore. You can use /v2/members/leader to find out who is the "current" leader in the view of that member and how to connect to it.

[2015-05-12 17:40] #2806 closed

[2015-05-12 17:43] yichengq opened #2815 "netutil.URLsEqual may return wrong result"
I go through the code, and think this is a bug.

In function(https://github.com/coreos/etcd/blob/master/pkg/netutil/netutil.go#L63), it compares the element of two URL slices(we sorted them before passing into function) one by one, but it may resolve TCP address when comparing them.

For example, `http://a.com == http://10.0.0.2` and `http://b.com == http://10.0.0.1`, so I pass in []{`http://a.com

[2015-05-12 17:50] xiang90 commented on #2815
@yichengq I do not think we are resolving hostname anymore. So this actually does not matter anymore. We can simply remove the code in netutil probably.

[2015-05-12 18:57] xiang90 opened #2816 "How fine-grained API version control"
Currently we have the following endpoints

[code]

The simplest way to control one versioned endpoint is only controlled its sub-endpoint.

For example, we can ensure that 2.0 cluster cannot access /v2/security endpoint since it is only supported in 2.1+.

However this is quite limited since we might add new method into an existing sub-endpoint sometimes. For example we might want to introduce `/v

[2015-05-12 18:57] xiang90 opened #2817 "fine-grained API version control?"
Currently we have the following endpoints

[code]

The simplest way to control one versioned endpoint is only controlled its sub-endpoint.

For example, we can ensure that 2.0 cluster cannot access /v2/security endpoint since it is only supported in 2.1+.

However this is quite limited since we might add new method into an existing sub-endpoint sometimes. For example we might want to introduce `/v

[2015-05-12 18:57] #2816 closed

[2015-05-12 18:57] xiang90 commented on #2816
hmm... see #2817. No idea why this is opened twice.

[2015-05-12 19:01] xiang90 commented on #2817
3rd idea is to list every possible endpoint + HTTP method + parameters for each cluster version. But this will be a huge map.

For example:
[code]

[2015-05-12 19:42] xiang90 commented on #2817
4th idea is only to store the feature diffs. So 2.1 has a security feature diff, and only when the cluster version is 2.1 we enable that feature diff.

[2015-05-12 20:14] akamalov opened #2818 "ETCD - 2.1.0 - Getting etcdhttp: unexpected error: etcdserver: request timed out"
Greetings,

Configured CoreOS with ETCD2 - single server setup (for now)

############################################################################
[code]
############################################################################

Disabled etcd.service

Enabled etcd2.service

Trying to start etcd2, getting errors:
[code]
########################################################################

[2015-05-12 20:20] akamalov commented on #2818
sorry, the markdowns  messed up the cloud-config entries above

[2015-05-12 20:46] smarterclayton opened #2819 "Read WAL error after reaching disk full status on 2.0.9"
On 02697ca725e5c790cc1f9d0918ff22fad84cb4c5 we saw someone run out of space during an etcd write, at which point the etcd WAL became corrupted (I guess?).  The process was rebooting (due to the wall error) and so it's likely that the repair process also failed because the disk was full.  Is that something explicitly guarded against today?

The logs for the first run after restart when they tried t

[2015-05-12 21:04] yichengq commented on #2819
@smarterclayton etcd doesn't support repair in 2.0, and the repair feature is introduced in 2.1

In your case, it is expected that etcd will fatal with wal error because the log entry is half written.
In 2.1, etcd will truncate the half-written part automatically, and it provides the same guarantee as before.  If repair happens, etcd will print out the log explicitly.

[2015-05-12 21:10] smarterclayton commented on #2819
Ok.  Thanks

[2015-05-12 21:21] #2819 closed

[2015-05-13 02:04] xiang90 commented on #2778
closed via #2804

[2015-05-13 02:04] #2778 closed

[2015-05-13 02:27] xiang90 commented on #2818
@akamalov I got this reproduced. And I **think** it is because you killed etcd too fast even before it actually applied its first few initial commits or probably your disk is too slow.

I do not think this would happen in reality often with a correct environment...

[2015-05-13 02:31] xiang90 commented on #2818
@akamalov We will probably fatal when you restart an etcd cluster and its previous bootstrap failed due to too fast killing.

[2015-05-13 02:55] akamalov commented on #2818
Thanks for prompt reply. I restarted the cluster several times, I can assure that I didn't kill it. So, what would be your suggestion? I can't bring up my etcd cluster...

[2015-05-13 03:00] xiang90 commented on #2818
@akamalov From the log, that single member cluster only accepted two commands before it dies (the two commands are internal initialization commands). So you probably can simple remove its data-dir and rebuild your etcd cluster.

Are you sure you did this for the same etcd cluster? It is not what I saw from the log you gave me.

[2015-05-13 03:01] xiang90 commented on #2818
[code]

You can see here, you member only has two commands.

[2015-05-13 04:55] yichengq commented on #2728
Based on the discussion, one possibility is etcd client open too many connections at one time, another is the misconfiguration of advertised client urls in etcd member.

The proxy issue will be fixed in #2772

[2015-05-13 04:55] #2728 closed

[2015-05-13 05:34] xiang90 commented on #2791
@temujin9 The only reason I can image is slow disk issue. The data path is pretty simple for a one member cluster. Are you able to reproduce this?

[2015-05-13 11:02] akamalov commented on #2818
Thanks again for reply. This is the same cluster with etcd 2.1.0. Directory /var/lib/etcd2 contains no files or directories.

[code]

[2015-05-13 12:25] jpillora opened #2824 "Question: Docker image size"
How do you guys get such a small image?

[code]

Your Dockerfile says you're using `golang:onbuild` however when I use this image, it's huge:

[code]

I'm most likely missing something very simple...

[2015-05-13 12:42] serbaut opened #2825 "etcd2: memory leak in proxy mode?"
I'm running a 3 node etdc2 cluster with an etcd2 proxy on the master node of a kubernetes cluster.

The members in the cluster are using about 42MB RAM but the proxy seems to slowly leak memory (the kuberenetes master ran out of memory yesterday).

### member
    $ cat /proc/$(pidof etcd2)/status
    Name:   etcd2
    State:  S (sleeping)
    Tgid:   560
    Ngid:   0
    Pid:    560
    PPid:   1

[2015-05-13 13:52] temujin9 commented on #2791
@xiang90 Not predictably, no.

[2015-05-13 13:55] serbaut commented on #2825
The following appears in the log every five minutes. Dont know if it is related:

    May 13 13:06:51 localhost kube-controller-manager[673]: E0513 13:06:51.851413     673 replication_controller.go:172] error from watch during sync: 401: The event in requested index is outdated and cleared (the requested history has been cleared [137418/115570]) [138417]

[2015-05-13 14:01] xiang90 commented on #2818
@akamalov

OK. So your data-dir is not `/var/lib/etcd2`, but `wwserver194.alphalocal.com.etcd`.

At this point, I want to help you confirm your root problem. Can you tar your data-dir at `wwserver194.alphalocal.com.etcd` and send it to me via email (xiang.li@coreos.com)?

Thanks.

[2015-05-13 14:02] xiang90 commented on #2825
@serbaut This is a known issue. There was a fd leak. It has been fixed.

[2015-05-13 14:02] #2825 closed

[2015-05-13 14:40] serbaut commented on #2825
Great! In what version? I am running 2.0.8.

[2015-05-13 14:44] SpencerBrown commented on #2650
I am seeing a very similar problem with 2.0.10. (CoreOS 675) and the machines can access each other fine (they are running locally on VirtualBox on OS X).

Situation:
node 1 started with
[code]
node 2 started with:
[code]
then on node 1 I run `etcdctl member add unittest-2 http://10.42.8.6:2380`

at this point, node 1 reports "cluster healthy" and lists both members. node 2 reports "cluster unheal

[2015-05-13 14:56] xiang90 commented on #2825
@serbaut We will release 2.0.11 this week which will contain that patch.

[2015-05-13 14:59] serbaut commented on #2825
Ok, thank you!

[2015-05-13 17:19] xiang90 commented on #2817
We went with option1. Everyone seems OK with it... https://github.com/coreos/etcd/pull/2820

[2015-05-13 17:19] #2817 closed

[2015-05-13 17:58] philips commented on #2796
Sorry, I don't think that we have ever had the latest work with etcd. Is there a doc that says it does?

You can do this though:

[code]

[2015-05-13 18:00] philips commented on #2824
The release docker files are built from the release tarballs to create super minimal images: https://github.com/coreos/etcd/blob/master/scripts/build-docker

[2015-05-13 18:00] #2824 closed

[2015-05-13 20:49] yichengq commented on #2567
Sorry for late response.

The problem comes from that the -advertise-client-URLs are not set(or set to `http://localhost:2379,http://localhost:4001`) on each etcd member. Internally, cluster-health first finds the leader ID, then gets the leader member's clientURLs, then use that urls to make requests. So it needs the correct client URLs registered in the cluster.

In your case, it is actually say

[2015-05-13 21:02] yichengq commented on #2711
This is basically the same one as what we met in 2.0.3: https://github.com/coreos/etcd/issues/2340

[2015-05-13 21:05] yichengq commented on #2650
@holmes86 @SpencerBrown You need to set correct client URLs to make it work well. Here are details(https://github.com/coreos/etcd/issues/2567#issuecomment-101812525):

[2015-05-13 21:18] jpillora commented on #2824
Thanks Brandon, will check it out

On Thursday, May 14, 2015, Brandon Philips <notifications@github.com> wrote:

[2015-05-13 21:23] akamalov commented on #2818
Sent

[2015-05-13 21:36] SpencerBrown commented on #2650
@yichengq You are absolutely correct, and the doc is incomplete in its example. I will submit a PR for the doc. (btw was good to see you at CoreOS Fest)

I added advertise-client-urls and listen-client-urls parameters to the nodes and everything works perfectly now in my scenario.

Node 1:
[code]
Node 2:
[code]

[2015-05-13 22:46] xiang90 commented on #2818
@akamalov Thanks. will take a look soon.

[2015-05-13 23:43] yichengq commented on #2567
Let us continue the discussion in #2650 since these two are the same.

[2015-05-13 23:43] #2567 closed

[2015-05-14 00:03] yichengq commented on #2650
@SpencerBrown I think your PR is a good one. Could you send it to upstream?

[2015-05-14 06:13] AdoHe opened #2829 "etcd replication model"
FYI. I am curious about the replication model adopt within etcd,  active replication, passive replication or semi-Active replication?

[2015-05-14 06:19] xiang90 commented on #2829
well... etcd is using raft for its replication. You can view it as active replication, since it is leader driven replication.

[2015-05-14 06:19] #2829 closed

[2015-05-14 15:23] akamalov commented on #2818
Went ahead and configured "ETCD_DATA_DIR=/var/lib/etcd2/" and restarted etcd2. Here is what I see in the log:

[code]
The content of the /var/lib/etcd2 is the following:
[code]

[2015-05-14 15:26] xiang90 commented on #2818
@akamalov You bootstrapped a 3 member cluster in the last case. But you only started one member. It will just keep on voting until you start at least 2 of them.

see
[code]
[code]

[2015-05-14 15:27] akamalov commented on #2818
excellent! Let me try to go ahead and add another one

[2015-05-14 16:07] xiang90 commented on #2716
@philips See https://github.com/coreos/etcd/pull/2830. This solves bootstrap 1.

[2015-05-14 16:46] akamalov commented on #2818
Forgot to mention that I already had a secondary server (I am bootstrapping a third one).

Here is the excerpt from <b>user_data</b> as pertains to etcd2:

[code]

[2015-05-14 17:23] akamalov commented on #2818
Excellent! Thank you so much for  looking into it. I will close this issue. Thanks again!

[2015-05-14 17:23] #2818 closed

[2015-05-15 07:28] mariusgrigaitis commented on #2711
Can confirm this.

[2015-05-15 07:36] mariusgrigaitis opened #2834 "etcd member list / member remove fails on healthy cluster"
etcd 2.0.10

1) Created a cluster of 4 machines, all were healthy
2) Member list
[code]
3) Then killed the first member (turned off the machine)
4)
[code]
5)
[code]

[2015-05-15 07:42] mariusgrigaitis commented on #2834
Sometimes error when removing member is: ```Error while verifying ID against known members: context deadline exceeded```

And sometimes member list succeeds:

[code]

[2015-05-15 07:49] mariusgrigaitis commented on #2834
It's possible to write / read values to such cluster.

[2015-05-15 13:21] akamalov opened #2835 "How To Configure ETCD Proxy"
Greetings,

I have a three-node cluster - <b>etcd-cluster1</b>, based on <b>etcd-2.1.0</b>:

[code]
I am trying to configure a proxy node on an additional server - <b>wwserver197</b>. Here is my ETCD configuration in <b>user_data</b> on server <b>wwserver197</b>:

[code]
However, I am getting an error on this node:

[code]

What am I doing wrong here ?

Thanks,

Alex

[2015-05-15 13:26] mariusgrigaitis opened #2836 "cluster-cluster is killed when member from other cluster tries to join"
etcd 2.1.0-alpha.0

1) Start a cluster of 3 nodes
2) Start another cluster of 1 node
3) Stop another cluster
4) Join another cluster to 1) cluster

Result:
etcd is not running on all instances (killed)

Output from another cluster:
[code]

Output from cluster:
[code]

I expected a failure to join, but not killed cluster. The first time I did it, was by accident.

[2015-05-15 13:53] justinsb opened #2837 "Does quorum=true eliminate the problems in #741?"
We're doing a multi-key operation in kubernetes, and I'm not 100% clear on the guarantees we get from etcd (given https://github.com/coreos/etcd/issues/741)  I was hoping to get some clarification!

If we set quorum=true, then the read goes through Raft (so is slower), but is it true that:
* We will always see a version that is up-to-date at the leader (though of course the second the response is

[2015-05-15 14:26] mindaugasrukas opened #2838 "New member not working after joined to existing cluster"
etcd 2.1.0-alpha.0

I've tried to join a clean new member to existing cluster, but it is not working correctly. On that instance etcd shows that cluster is unhealthy, until I restarted etcd service.

On other members etcd shows that cluster is healthy.

Log output and executed commands: https://gist.github.com/mindaugasrukas/3089a6dc17583ddf77ab

[2015-05-15 14:34] xiang90 commented on #2837
@justinsb etcd always consistent read. #741 turns out to be a linearizable problem. Multiple independent groups/people have done linearizable testing against etcd with q = true. The result is good.

[2015-05-15 14:34] #2837 closed

[2015-05-15 14:40] mariusgrigaitis commented on #2834
Tested with 2.1.0-alpha.0. Problem persists.

[2015-05-15 14:41] xiang90 commented on #2836
@mariusgrigaitis We can simply ignore the request from both side and keep on printing out warnings.
Is this what you would expect?

[2015-05-15 14:45] xiang90 commented on #2835
The proxy still looks for `http://localhost:7001: Get http://localhost:7001/members: dial tcp: lookup localhost`

So I do not think the initial-cluster evn was set correctly... Can you paste the full log of the proxy from the very beginning?

[2015-05-15 14:54] xiang90 commented on #2838
@mindaugasrukas Can you provide more information? For example, first I did A. Then I did B. Here is what I expected. Here is the unexpected output.

I cannot quite follow what happened to your cluster. And it is too hard for me to look every line of the log you shared here.

[2015-05-15 15:11] mariusgrigaitis commented on #2836
@xiang90 I expect cluster to be alive and crash-proof. So probably yes - warning in logs that someone is trying to join with different id.

[2015-05-15 15:16] akamalov commented on #2835
Thanks for the prompt reply.

ETCD2 cluster is up and listening on ports. This is one of the nodes from the active cluster - <b>wwserver194</b>

[code]

Here is the excerpt from the <b>user_data</b> portion pertaining to ETCD2.x on <b>wwserver194</b>:

[code]

Here is the active cluster status issued from server <b>wwserver194</b>

[code]

The same command issued from <b>wwserver196</b> shows clus

[2015-05-15 15:22] mariusgrigaitis commented on #2838
@xiang90
1. Start a cluster of 4 nodes
2. Join the node to cluster (run etcd, specifying initial-cluster nodes)

Expected cluster health to be fully healthy
Expected clientURLS to be filled correctly (since all nodes are equal, just different IP).

Strange thing happens, that just after join clientURLs shows as = empty. Also sometimes from the node that just joined etcdctl cluster-health returns u

[2015-05-15 15:28] justinsb commented on #2837
Thanks!  Can we get the same behaviour with q=false by making sure that our reads always see a monotonic increasing sequence of raft-indexes?

(Here's what I'm trying to do: https://github.com/GoogleCloudPlatform/kubernetes/issues/8295#issuecomment-102431681 - it is non-trivial to set q=true because of how the go-etcd library works)

[2015-05-15 15:32] akamalov commented on #2835
Just to add. Server wwserver196 which is reporting that a cluster is 'healthy' is a leader:

[code]

[2015-05-15 17:01] yichengq commented on #2834
@mariusgrigaitis try to set `--peers` for etcdctl? Moreover, could you open `--debug` when use etcdctl?
Do you have the log of etcd processes?

[2015-05-15 17:05] yichengq commented on #2793
After the above two PRs, all these 3 parts are covered. Mixed-version cluster can run well with no error logs.

The left problem is that there is performance limitation when running mixed-version cluster and letting etcd 2.0 be the leader(all requests below are write requests):
1. The cluster can do 1400 requests per second if these requests are distributed evenly.
2. The cluster can work well if

[2015-05-16 21:59] soichih commented on #2650
Thank you for this info. I've added -advertise-client-urls and this problem went away.

[2015-05-17 00:30] philips opened #2841 "metrics: use namespace and subsystem"
It seems we should use namespace and subsystem in the prometheus metrics library as described here: https://github.com/prometheus/docs/issues/82#issue-77137190

[2015-05-17 01:42] xiang90 commented on #2841
I am still not sure what is the correct/best way to use `namespace` and `subsystem`. There are conflict examples when I first looked at it. I followed up at the issue you referred.

[2015-05-17 21:49] djhworld commented on #2020
This is a problem with the way github.com/codegangsta/cli does its flag processing code, error is being caught here https://github.com/codegangsta/cli/blob/v1.2.0/command.go#L77

[2015-05-18 16:58] akamalov commented on #1959
Using <b>etcd 2.0.10</b>. Configured three-node cluster with fourth joining as a proxy. Getting errors related to <b>too many open files</b>:

[code]

Configuration for the proxy, pertaining to ETCD2 is the following:

[code]

[2015-05-18 18:04] akolb1 opened #2843 "Atomic CAS fails but updates the value"
I was experimenting with implementing locks with etcd and run into an interesting problem.

Short description:

Atomic CAS fails because it things that old value doesn't match, but the actual update succeeds.

Description:

Platform:
`Darwin 14.4.0 Darwin Kernel Version 14.4.0: Tue May  5 14:17:52 PDT 2015; root:xnu-2782.30.4~3/RELEASE_X86_64 x86_64`
I am using single-node cluster.

etcd version `

[2015-05-18 18:42] xiang90 commented on #2843
@akolb1 I think this is what you should expect.

You already saw
[code]
And at this point the value was already `Lock`. After that read out `Lock` is expected.

I suspect you have another client that was modifying the lock concurrently.

[2015-05-18 18:55] akolb1 commented on #2843
There were no other clients - it was a strictly controlled experiment. I waited until this client went to the wait loop and then issue etcdctl command in another window to set value to 0. The client correctly wakes up (since the value is updated) and at this point CAS should succeed. What happens instead is that CAS fails, *but the value is updated*.

I can post the whole example here if needed. I

[2015-05-18 18:58] xiang90 commented on #2843
@akolb1

It fails since the value is already `Lock`. So it is expected to read out the value `Lock`.
Can you reproduce it with curl? (Not your python client).

[2015-05-18 19:04] akolb1 commented on #2843
Here is the full code of the client:

[code]

Save it to wlock.py, and in one window run it twice:

`./wlock.py -o Lock y enter
try_enter (/rwlock/y)
writer
`
[code]
In another window either run
`./wlock.py -o Lock y exit`
or
`etcdctl set /rwlock/y 0`

You may do it a few times before the lock is released in the first window.

And you will see there:
[code]

[2015-05-18 19:07] xiang90 commented on #2843
@akolb1 Well... I cannot help you with looking at the whole python client thing. Sorry!

Here are my two suggested alternatives:

1. reproduce the issue with your python client and send me the etcd data-dir (xiang.li@coreos.com)

2. try to reproduce the issue with curl

[2015-05-18 19:07] akolb1 commented on #2843
@xiang90 The value can't be Lock at this point since it was set to 0.
Also, looking at the previous event I see (when the CAS failed:

[code]

[2015-05-18 19:09] xiang90 commented on #2843
@akolb1

[code]

This is exact what should happen. You did CAS on prevValue = 0. And the prevValue was 0. Why do you expect that CAS to fail?

[2015-05-18 19:11] akolb1 commented on #2843
@xiang90 I expect CAS to succeed, but it returns failure while actually updating the value which is completely wrong.

[2015-05-18 19:14] akolb1 commented on #2843
Xiang,

here is the etcd directory after the failure of the test (attached)

[2015-05-18 19:15] xiang90 commented on #2843
@akolb1

I do not think the failure comes from that CAS.

Please:
1. set up a clean one member cluster
2. reproduce your stuff
3. send the data-dir to my email

Thanks!

[2015-05-18 19:33] xiang90 commented on #2843
@akolb1 I took a look at the data-dir you sent me:

[code]
Here is all the request you sent to etcd (SYNCs are internal ones).

Only two CAS succeed (they mapped to raft 24/29), they are
[code]

I did not find anything strange at etcd side. I suggest you to check your lib and your implementation.

[2015-05-18 19:37] #2843 closed

[2015-05-18 19:39] akolb1 commented on #2843
@xiang90 Thanks for looking into this. Two successful CAS are expected. What is strange is that the second CAS *reported failure* and succeeded.

I actually did see this failure occasionally without the first terminated wait, but it happens very rarely so it is difficult to reproduce. I'll try to reproduce this with curl to get python library out of the picture, but I strongly suspect that there i

[2015-05-18 19:44] xiang90 commented on #2843
I have to tell you this is impossible to happen. :(

I was replying your data-dir one commit by one commit via etcd and looked the output of etcd. Everything is OK.

[2015-05-18 19:48] xiang90 commented on #2843
@akolb1

If I still cannot convince you, please look at the code yourself:
https://github.com/coreos/etcd/blob/master/store/store.go#L243-L260

Tell me how it is possible to return an error as well as putting the event into the watchHub.

[2015-05-18 20:26] xiang90 commented on #2838
This is expected. When you run etcdctl, it should show as the new member unstarted. The etcd member will publish the client url when it starts. So it updates at starting time, not joining time.

It needs some time to catch up with the cluster. If you have a small data set, it takes several seconds.

[2015-05-18 21:10] rektide opened #2844 "Http2/push for change notifications"
Hello. There's #1980 which mentions upgrading the transport to HTTP2. I greatly enjoy the existing API, but I'd love to see HTTP2's push capabilities put to use for node change notifications.

Instead of registering interest by maintaining an open HTTP request (`&wait=true`), across an HTTP2 connection a client would notify the server of interest (perhaps a `?subscribe=true` query parameter), and

[2015-05-18 21:11] rektide commented on #1980
Etcd v2 is a model citizen of how to expose resources on the web because it has such a great, simple and elegant general purpose API that anyone with a rest-client can easily begin to use against HTTP: I'd love to see the transport upgraded, while still keeping the blissful resourceful v2 API largely intact.

I do think there's room to explore using http2/push to enhance the wait capabilities: #28

[2015-05-18 21:23] akolb1 commented on #2843
@xiang90
Looking at the code I agree that this isn't a problem with etcd. I don't see any issues there (other than a couple of misleading comments :-). So this is probably some problem with Python urllib3.

[2015-05-18 21:34] #2755 closed

[2015-05-19 00:46] eaoliver opened #2845 "etcd2 (2.0.10) in tight loop - dropping MsgHeartbeatResp messages"
etcd2 gets into a tight loop reporting 'dropping MsgHeartbeatResp' messages.

Following is a sample from: journalctl -u etcd2.service

May 18 21:30:17 vb-command etcd2[606]: 2015/05/18 21:30:16 sender: dropping MsgHeartbeatResp because maximal number 64 of sender buffer entries to http://10.0.249.72:2380/raft has been reached
May 18 21:30:17 vb-command etcd2[606]: 2015/05/18 21:30:16 sender: dropp

[2015-05-19 00:54] eaoliver opened #2846 "etcd (2.0.10) not dropping dead node from cluster"
I have a three node cluster.  Three nodes are added.  One node is dropped.  Hours later it still persists in the member list.

core@vb-command ~ $ etcdctl member list
cff8dc47b12098: name=dd0f8d39432c4a9aa6bcf107cfb8056e peerURLs=http://10.0.148.177:2380 clientURLs=http://localhost:2379
5a1d6fb5c6c43670: name=7f31f7ab04e440f1b13e203c8029bd18 peerURLs=http://10.0.249.72:2380 clientURLs=http://local

[2015-05-19 00:56] xiang90 commented on #2846
@eaoliver You need to remove it via runtime reconfiguration API. All configuration needs to be done explicitly.

[2015-05-19 00:56] #2846 closed

[2015-05-19 00:56] xiang90 commented on #2846
Here is the API doc: https://github.com/coreos/etcd/blob/master/Documentation/runtime-configuration.md

[2015-05-19 00:58] xiang90 commented on #2845
Yes. We are aware of this. And we (@yichengq) are working the improvement.

[2015-05-19 01:02] eaoliver commented on #2846
Thanks.  I tried removing it, but it doesn't work.  I got "Recieved an error trying to remove member cff8dc47b12098: context deadline exceeded"

core@vb-command ~ $ etcdctl member list
cff8dc47b12098: name=dd0f8d39432c4a9aa6bcf107cfb8056e peerURLs=http://10.0.148.177:2380 clientURLs=http://localhost:2379
5a1d6fb5c6c43670: name=7f31f7ab04e440f1b13e203c8029bd18 peerURLs=http://10.0.249.72:2380 clien

[2015-05-19 02:25] AdoHe commented on #2844
@rektide this is cool, I am also wondering how to implement push with etcd.

[2015-05-19 03:29] 985 opened #2847 "too many open files in a 3-node cluster"
I got this issue with etcd 0.4.7 and docker 1.5.0 in 3 nodes cluster.  I made this cluster with 647 stable release coreos. I have used it for a week without any problem. Somehow, it doesn't work now.
![](http://i1066.photobucket.com/albums/u407/5681713/too%20many%20open%20files/%202015-05-19%2011.16.13_zpstjqy6xo8.png)
At first, I found this
![](http://i1066.photobucket.com/albums/u407/5681713/too

[2015-05-19 17:39] akamalov commented on #2835
Fixed the problem. The issue was correctly configure cluster nodes:

[code]

Followed by a proxy node:

[code]

This was noted in: https://github.com/coreos/etcd/issues/2728

Currently all clusters reporting status healthy:

[code]

[2015-05-19 17:39] #2835 closed

[2015-05-19 17:41] xiang90 commented on #2835
@akamalov Glad you figured it out.

[2015-05-20 06:55] eaoliver opened #2849 "member list doesn't respond to non-full cluster ("context deadline exceeded")"
I specified a five-node cluster using the discovery service.  Four nodes are started and visible to each other, as verified in the journal.  However, no node can view the existing member list.

core@vb-command ~ $ etcdctl --debug member list
context deadline exceeded
core@vb-command ~ $ etcdctl --version
etcdctl version 2.0.10

On all nodes: etcdctl ls blocks until all five nodes are in the cluste

[2015-05-20 15:49] xiang90 commented on #2849
@eaoliver This is a bug, not by design. I have found the cause, it should be fixed by next week with our new release.

[2015-05-20 16:18] xiang90 commented on #2849
@eaoliver Another thing to mention: you need to give your etcdctl a full list of your members. Or it will only look for the localhost:4001. And if that one fails, it is not able to find anything else.

[2015-05-20 17:12] eaoliver commented on #2849
@xiang90 I'm using the discovery service and all nodes are running etcd2 and can access the Internet.  I don't manipulate the membership list unless I am removing a node.

[2015-05-20 17:12] ngpestelos opened #2851 "fails to set keys to etcd"
Running etcd 0.4.6 on a Deis cluster: https://github.com/deis/deis/issues/3726

Restarted etcd on one of the nodes and still no journal; `debug-etcd` is returning an error, too.

Also. when I manually set a value (e.g. `/deis/logs/drain`), the value gets set, but disappears after a while.

[2015-05-20 17:13] xiang90 commented on #2849
@eaoliver I mean for etcdctl. Or how will etcdctl knows where is your cluster? You need to configure it properly.

[2015-05-20 17:20] eaoliver commented on #2849
@xiang90 This is a basic deployment and all nodes are running CoreOS alpha (681.0.0) and have access to the discovery service. I've followed all the documentation that is available for etcd2.  What am I missing in the cloud config?

coreos:
   etcd2:
      discovery: https://discovery.etcd.io/86fed56b755e07e0f4d1aa7e367f0841
      listen-client-urls: http://localhost:2379
      advertise-client-ur

[2015-05-20 17:24] xiang90 commented on #2849
@eaoliver

etcdctl and etcd are totally different things. I think you have to learn more about etcd before using it.

etcdctl is simply a command line tool. You can view it as a client.

Once you have got a cluster, the best way to config your command line tool is to give it the whole cluster information.

If you simply use the default, it will only be able to connect the localhost client url. So

[2015-05-20 17:45] eaoliver commented on #2849
@xiang90 So the etcd server is broken since we know CoreOS ships with both etcd2 and etcdctl...

[2015-05-20 18:36] xiang90 commented on #2849
@eaoliver

Let me try again.

1. Whatever CoreOS ships has nothing to do with your problem. Your problem is a runtime issue.

2. If you are using discovery, the cluster WILL NOT be bootstrapped until all the nodes are alive. This is by design, and we will not change it. If you want more flexibility, you can write your own thing via runtime configuration API.

3. After you starting all your members

[2015-05-21 02:53] bww commented on #1959
Same issue here, same setup: etcd 2.0.10, Ubuntu 14.04, 3-node cluster with 1 proxy node, making a single request results in "too many open files" errors from the proxy.

[2015-05-21 03:54] fasaxc opened #2854 "Streaming watch with waitIndex only receives new events"
Using etcd 2.0.11, if I start a streaming watch with a waitIndex that is in the past then I only get a single event, instead of the whole event stream:

Make one write and get the etcd_index so I can poll on it later:
[code]
Make some more writes, which will have indexes 5, 6, 7...:
[code]
Then start a streaming watch:
[code]
curl hangs at this point and never returns the next event.

[2015-05-21 04:10] xiang90 commented on #1959
@bww The proxy issue has been fixed in 2.0.11

[2015-05-21 14:44] fasaxc commented on #2854
(It works as expected if the `etcdctl set` calls are made after the streaming watch is started.

[2015-05-21 14:56] grahamjenson opened #2855 "etcdctl get and remove lock"
I would like to have the ability to get a lock from the command line. I think this could work like

[code]

which will wait untill the lock is available, or error after 60 seconds.

then of course, clear the lock for others to grab

[code]

This would be really useful for global systemd services to ensure a specific order of booting

[code]

and in the systemd file:

[code]

This came up while try

[2015-05-21 15:16] ripienaar commented on #2636
+1 this would be really good to have

[2015-05-21 15:22] xiang90 commented on #2847
@985 There are many reasons that you might end up with fd issues:

1. you have too many concurrent clients?

2. you have many long polling clients?

3. your client is leaking connections?

4. there is a bug in etcd?

Without your client side information and the current fd usage status, it is hard for me to dig it deeper.

But as you said, it seems that your client used up all the fds.

You can goo

[2015-05-21 17:05] carmstrong commented on #2679
Any updates on this? We'd really like to use confd watch to template etcd values, but cannot because of the volume of traffic when TTLs change.

[2015-05-21 20:29] schmichael opened #2857 "Create /path/key if-and-only-if /path exists but key does not"
### Current behavior

As of etcd 2.0.11 the following creates `/path/key` iff `/path/key` does not exist. However, it *will* create `/path/key` regardless of whether or not `/path` exists.

[code]
### Desired behavior

Have an option (`recursive=false` perhaps?) to cause PUTs to *fail* if the parent path component doesn't exist.

### Workaround

Depending on your use case the following may be a su

[2015-05-22 02:27] #2815 closed

[2015-05-22 06:14] ecnahc515 commented on #2669
Unfortunately I'm having trouble fixing this bug. Any help would be appreciated.

[2015-05-22 13:40] kelseyhightower opened #2858 "etcd should use default values for advertised client and peer URLs."
I tried configuring etcd v2.010 with the following settings:

[code]

I got the following error:

[code]

How I expect this to work:

I'm currently trying to bootstrap a single node etcd cluster, and don't know the IP address ahead of time. Ideally I want to listen to all interfaces and allow clients such as Kubernetes and etcdctl to interact with etcd.

[2015-05-22 14:05] kelseyhightower commented on #2858
I think the real problem is the fact that clients call sync cluster which means I really need to use valid IPs for etcd, even for single node clusters.

[2015-05-22 14:33] xiang90 commented on #2858
@kelseyhightower You have to know the valid IPs. For the most common use case (multi member setup), each member needs to publish its own clientURLs to the cluster. So clients can find other members through one member. If we allow unknown clientURLs, it will introduce issues like the one you mentioned.

[2015-05-22 15:09] rrati opened #2859 "go vet from test fails"
gopath/src/github.com/coreos/etcd/etcdserver/cluster_util.go:235: version.Versions composite literal uses unkeyed fields

Revision 0ad6d7e3babb7667b24ca15ef8d54cfc870eff51

[2015-05-22 15:14] kelseyhightower commented on #2858
@xiang90 What about a flag so the user can ask etcd to grab the default IPv4 address like we do in fleet.  For example, fleet does the following: https://github.com/coreos/fleet/blob/b298bbefa0f6334344e5ef3ba08f789faf8c02ad/machine/coreos.go#L109

[2015-05-22 15:19] mwitkow-io commented on #2785
Yea, I wish we could use it. We're currently on the CoreOS Alpha channel and AFAIK the metrics endpoints are in 2.1, right? What's the ETA of 2.1 in Alpha channel?

[2015-05-22 15:31] xiang90 commented on #2785
@mwitkow-io

When we release the non-alpha version with the metrics endpoint, we will document it but probably as experimental.

Next few weeks.

[2015-05-22 17:49] barakmich opened #2860 "Add migration doc to the repo"
We have the text of it here:
https://coreos.com/etcd/docs/2.0.8/backward_compatibility.html#data-directory-migration

But it should maybe exist in the repo as well? Especially as we move to a docs-format.

[2015-05-22 17:52] xiang90 commented on #2860
Do you mean this? https://github.com/coreos/etcd/blob/master/Documentation/backward_compatibility.md#data-directory-migration

[2015-05-22 17:53] barakmich commented on #2860
Yeah, fair enough. "backward compatibility" is an odd name. Closing the issue, and deferring it to a docs format.

[2015-05-22 17:53] #2860 closed

[2015-05-22 17:59] barakmich commented on #2857
More importantly, you might like the byte-keyspace (and atomic transactions!) of the [v3 API](https://github.com/coreos/etcd/pull/2675) which is underway.  We're holding off on extending v2 -- but if there is a clear bug here (ie, the creation of the `/path/key`) but I think that's documented that way -- if it's unexpected behavior then feel free to reopen!

[2015-05-22 17:59] #2857 closed

[2015-05-22 18:01] xiang90 commented on #2858
@kelseyhightower Sure. Let us try that approach for clientURLs.

[2015-05-22 18:40] andymuldowney opened #2862 "Hardcoded timeouts make proxy nodes very likely to have failures"
A combination of hardcoded and default timeouts makes rescheduling of `fleet` units on nodes utilizing `etcd` in proxy mode very likely in common failure scenarios.  This has been largely addressed in `master` (as far back as February), but not yet merged into a release.

### Configuration assumptions

* Default `fleet` `agent_ttl` of 30 seconds on all nodes in `fleet`
* A 3-node `etcd` cluster, w

[2015-05-22 18:40] ajardan commented on #2383
+1

[2015-05-22 19:00] damm commented on #2383
@telmo there is a plugin (or two) for sensu that help with this.

sometimes /health goes false and then returns true 2s later; so i'm nervous of the cluster health monitoring although I want it.  (Just don't want the false positives alerting)

https://github.com/sensu/sensu-community-plugins/tree/master/plugins/etcd

Being able to monitor if etcd is up; is fairly critical.  Having metrics is usefu

[2015-05-22 19:00] #2650 closed

[2015-05-22 19:01] barakmich commented on #2855
This relates to the adding of some standard lock methods (perhaps implemented in a funky-but-consistent way on V2 and perhaps much better on V3) to etcd/client -- which itself will be backing etcdctl, so this is a fine feature request as we take a hard look at that in v2.2.

[2015-05-22 19:03] schmichael commented on #2857
*Oops, I didn't mean to repoen this with an unrelated ticket in a totally different project! Sorry!*

However:

I don't see Create/PUT's recursive behavior documented anywhere, and other operations with recursive abilities (e.g. GET/DELETE) have the `recursive=...` option to toggle the behavior.

So I'd say this is a documentation "bug" and a missing feature. v3's atomic transactions is definitely

[2015-05-22 19:14] barakmich commented on #2851
It'd help to have a bit more context; what's the error that's being returned? Are you using journald? Is it necessary to run 0.4.6, or is 2.0.x available to you?

[2015-05-22 19:31] barakmich commented on #2812
Running inside of Docker depends on your networking setup. Is it host networking? Is it private? Are teh ports forwarded?

Usually etcd is run outside a container, but there's no reason it can't work inside one either. All `HostIP` means in that context is the IP which other etcd nodes (and clients) can ping or connect to -- if that's inside the container, great. You can usually discover it by run

[2015-05-22 19:36] barakmich commented on #2794
@yichengq Does this make sense for part of our test suite?

[2015-05-22 19:40] xiang90 commented on #2794
@barakmich We can include this var into our benchmark. And we can suggest the "optimal" number of cores for different workload.

[2015-05-22 19:45] gyuho commented on #2812
Thanks, @barakmich.
I figured it out running without docker.

[2015-05-22 19:45] #2812 closed

[2015-05-22 19:50] yichengq commented on #2858
The fatal is used to avoid unset advertise-client-urls when bootstrap. This can be bypassed by setting `-advertise-client-urls http://127.0.0.1:2379` explicitly. (As long as user knows this should be set, it is fine.)

Another possible thought to solve the issue is to grab all interface IPs first and run etcd using them by shell scripts, given the fact that this is only used for single node cluste

[2015-05-22 19:51] xiang90 commented on #2858
@yichengq I think @kelseyhightower want to make cloud config or something pre-boot works...

[2015-05-22 19:51] barakmich commented on #2783
Merging this issue with #2855

[2015-05-22 19:51] #2783 closed

[2015-05-22 19:58] yichengq commented on #2858
@xiang90 @kelseyhightower If it uses cloudinit, $private_ipv4 and $public_ipv4 could be used to set the flag. I may lack of some context/environment here.

[2015-05-22 21:04] xiang90 commented on #2802
@ravigadde Any update?

[2015-05-23 00:54] gyuho opened #2865 "3-node cluster in AWS refuses connection"
Hello, I am just following the following set-up in AWS environment but getting `Connection refused` error. (https://coreos.com/etcd/docs/2.0.8/clustering.html)

- Here's how I set up the AWS environment.

Launched 3 instances (Ubuntu 14.04 image) under a same VPC, and same security group. In the Inbound traffic, I opened the port TCP port `2380` to each instance's private IP. And opened HTTP 80 po

[2015-05-23 01:51] xiang90 commented on #2865
@gyuho You need to set listen client url. Also make sure the ip you gave to etcd is reachable from other s (can ping each other).

Here is a pending pull request to make this clear:
https://github.com/coreos/etcd/pull/2842/files

[2015-05-23 01:51] #2865 closed

[2015-05-23 01:52] gyuho commented on #2865
Thanks!

[2015-05-24 12:43] adarshaj commented on #977
This comment is for those who land here after google search, this is not a bug in either etcd or coreos, its a feature of systemd's mount units. The solution is to name the file derived from the 'Where=' setting, by replacing '/' with '-' (and dropping the first '/'), so in the above case, the first line should have had been :
[code]

Source - http://www.freedesktop.org/software/systemd/man/system

[2015-05-24 15:45] delianides commented on #2636
+1 for this but I would also add the same behavior for discovery urls/tokens.

[2015-05-24 15:57] xiang90 commented on #2636
@yichengq @philips @barakmich How do you think make this a target of 2.2?

[2015-05-24 18:13] miekg commented on #2308
I looked at the three patches:
* https://raw.githubusercontent.com/mkaczanowski/docker-archlinux-arm/master/archlinux-etcd/patches/raft.go.patch
* https://raw.githubusercontent.com/mkaczanowski/docker-archlinux-arm/master/archlinux-etcd/patches/server.go.patch
* https://raw.githubusercontent.com/mkaczanowski/docker-archlinux-arm/master/archlinux-etcd/patches/watcher_hub.go.patch

They all do the s

[2015-05-25 01:05] ariddell opened #2866 "etcd2 not picking up on ETCD_TRUSTED_CA_FILE"
I'm having trouble getting a TLS secured cluster running. I suspect there's a problem with specifying the ca file. For example, I see these lines in the etcd2 journal:
[code]
Despite the fact that I have these lines in the etcd2 service file:

[code]

Coreos beta 668.3.0

[2015-05-25 01:11] ariddell commented on #2866
If I used the old version, ETCD_CA_FILE, everything works fine. Perhaps the documentation should be changed to reflect that ETCD_TRUSTED_CA_FILE isn't supported as of 2.0.10?

[2015-05-25 02:48] steveeJ opened #2867 "tag v2.0.11: build script in archive fails looking for git revision"
When building from the released archive for v2.0.11 the build fails with the following error

[code]

[2015-05-25 13:42] silenceleaf opened #2868 "etcd start without error, but can't accept connection"
etcd2 version: 2.01

I am using public discovery service

My configuration:

[code]

Journal is OK
journalctl -b -u etcd2 --no-pager
[code]

When I use:
[code]
It give me
[code]
When I check netstat -l
[code]

Recv-Q have one waiting request. I think it means network is ok. The data haven't been consumed by etcd2.

Because I can't use etcdctl, I don't know if etcd work well.

Would you mind diagno

[2015-05-25 17:31] xiang90 commented on #2868
@silenceleaf As you saw in the log, etcd is not started yet. It is still waiting for other. You have to start the other 4 peers.

[2015-05-25 17:31] #2868 closed

[2015-05-25 19:34] ravigadde commented on #2802
@xiang90

I haven't been able to reproduce it, will close the issue.

[2015-05-25 19:34] #2802 closed

[2015-05-25 21:21] silenceleaf commented on #2868
Question is even if I start other 4 peers, nothing happened in #1 machine. I can only config static mode of etcd.

[2015-05-25 21:22] silenceleaf commented on #2868
Network is fine. I can ping other machine without any issue.

[2015-05-25 21:23] xiang90 commented on #2868
@silenceleaf You need to give all 5 members the same discovery token. It would be helpful if you can provide the configuration and log from all your 5 members.

[2015-05-25 21:31] silenceleaf commented on #2868
Two of my cloud config. These two machine can not find each other.

coreos1
[code]

coreos2
[code]

[2015-05-25 21:33] silenceleaf commented on #2868
The log of every machine said they are waiting for connection, but no connection come in.

[code]

[2015-05-25 21:34] xiang90 commented on #2868
@silenceleaf That is great. The two you gave me work well. You just need to add 3 more.

[2015-05-25 21:34] xiang90 commented on #2868
If you do not add 3 more, it will simply wait forever.

[2015-05-25 21:39] silenceleaf commented on #2868
@xiang90 Suppose even if I have two machine, it should try to connect with each other even two machine. So, let me start more machine and have try.

[2015-05-25 21:39] silenceleaf commented on #2868
@xiang90 Suppose even if I have only two machines, it should try to connect with each other. So, let me start more machine and have try.

[2015-05-25 21:43] silenceleaf commented on #2868
This the log of the third machine. Seems it find other peers from discovery service. But why no one try to connect other peers?

[code]

[2015-05-25 21:43] xiang90 commented on #2868
@silenceleaf

I think you need to read the doc here https://github.com/coreos/etcd/blob/master/Documentation/clustering.md#etcd-discovery. As I said before, etcd will not start unless all your members are ready when you are using discovery service.

I do not know why you think they should start to connect to each other. I can tell you they WILL NOT.

[2015-05-25 21:45] xiang90 commented on #2868
@silenceleaf Go ahead to start the other 2 memebers. It will work.

[2015-05-25 21:46] silenceleaf commented on #2868
Aha, That is what I am confusing. Try it now, thanks for your quick response.

[2015-05-25 22:50] bprashanth commented on #2854
You only get the very next event, i.e it behaves like a normal watch but doesn't close the connection, which is confusing. If I do waitIndex=7 and the currentIndex=10, i would expect 8, 9 and an open connection that streams events thereafter.

Implementing this feels racy, because we could miss an event if it arrives between the scan and adding the watcher (https://github.com/coreos/etcd/blob/mast

[2015-05-26 03:25] pacasrc commented on #2845
I hit this problem on v2.0.9 when I enable peerTLS:
	2015/05/26 03:04:31 raft: 3b2016b3b2f9c7c0 became leader at term 7
	2015/05/26 03:04:31 raft.node: 3b2016b3b2f9c7c0 elected leader 3b2016b3b2f9c7c0 at term 7
	2015/05/26 03:04:32 etcdserver: publish error: etcdserver: request timed out
	2015/05/26 03:04:37 etcdserver: publish error: etcdserver: request timed out
	2015/05/26 03:04:42 etcdserver:

[2015-05-26 07:33] steveeJ commented on #2845
I'm seeing similar behaviour with etcd-2.0.11 trying to use peerTLS and clientTLS. In my case the cluster is not fully functional. Can you confirm any of these symptoms?
*  `etcdctl cluster-health` will return unhealthy randomly
* fleet will not work upon the etcd cluster and just print `INFO client.go:292: Failed getting response from https://127.0.0.1:2379/: cancelled` instead
* disabling peerTL

[2015-05-26 11:17] Telvary opened #2869 "Promote proxy to member"
Hi,

Allowing a proxy to be promoted could be usefull to replace a lost member of the etcd cluster. The lost node could come back later as a proxy. This will permit some sort of HA.

Also, being able to handle the localization of the nodes to force members distribution across datacenters would be a good complement to the previous feature.

Example : for 3 locations, I have 5 etcd nodes. 3 nodes pe

[2015-05-26 16:58] xiang90 commented on #2854
Yea... You have to add it to the watcherHub with Index N and scan from the given index to N -1. Then it would be reliable.

[2015-05-26 16:59] xiang90 commented on #2854
Well... This is actually a watch that returns all available events. Streaming would work like today, which does not support from a given index.

[2015-05-26 17:07] bprashanth commented on #2854
So streaming=true,waitIndex=(x>0) is unsupported? Out of curiosity, why? it seems halfway there. Watching at index=0 is never safe because something could always slip in between the list and watch and we would never get it right?

Hmmm, even that feels racy but I haven't looked too deep into it. The Nth event could arrive just before we add the watcher, and that watcher won't be notified about N t

[2015-05-26 17:10] xiang90 commented on #2854
The streaming api was an experiment. It is never documented. And yes, it is half-way there. I was trying to solve it back to 1.5 years ago.

If you want to work on this, then go for it. Or I can look at it again if you really need/want that feature.

[2015-05-26 17:14] xiang90 commented on #2869
We have no plan to support auto promotion in etcd. In most cases, you should put your etcd cluster to a relative stable environment, replacing dead member shoud happen very rare.

If you really want to automatic this process, you can implement a etcd-manager to do this via runtime reconfiguration API.

[2015-05-26 17:14] #2869 closed

[2015-05-26 17:15] xiang90 commented on #2869
Relative issue: https://github.com/coreos/etcd/issues/2752

[2015-05-26 18:06] #2859 closed

[2015-05-26 19:04] bprashanth commented on #2854
Alright, I'll give it some thought when i have time

[2015-05-26 19:32] xiang90 commented on #2867
yea... It is trying to get the git tag. I will look into it.

[2015-05-26 21:04] yichengq commented on #2636
The feature sounds good. It makes etcdctl more flexible and easier to use.

[2015-05-26 21:08] yichengq commented on #2866
@ariddell The 2.0 doc is checked through https://github.com/coreos/etcd/tree/release-2.0/Documentation, while 2.1 doc is checked through master branch.
We introduce new flags ETCD_TRUSTED_CA_FILE in 2.1, but they don't exist in 2.0.
Sorry for the confusion on the documentation. We don't have a good system to reflect the documentation for different versions nowadays.

[2015-05-26 21:24] xiang90 commented on #2867
@steveeJ Thank you for reporting this. We have found the root cause and changed our release process. This will be fixed in 2.0.12+. Thanks!

[2015-05-26 21:24] #2867 closed

[2015-05-26 21:44] #2841 closed

[2015-05-26 21:47] yichengq commented on #2838
@mindaugasrukas @mariusgrigaitis Any updates?

[2015-05-26 23:19] xiang90 commented on #2796
@drumulonimbus Can you try to what @philips suggest? I am going to close this issue. Reopen it if there is a problem. Thank you for reporting!

[2015-05-26 23:19] #2796 closed

[2015-05-27 02:23] IT-BB opened #2873 "how to build etcd in windows"
I run 'go build etcd' in cmd but has the error

# github.com/coreos/etcd/Godeps/_workspace/src/github.com/coreos/pkg/capnslog
github.com\coreos\etcd\Godeps\_workspace\src\github.com\coreos\pkg\capnslog\sysl
og_formatter.go:7: undefined: syslog.Writer
github.com\coreos\etcd\Godeps\_workspace\src\github.com\coreos\pkg\capnslog\sysl
og_formatter.go:20: undefined: syslog.Writer

so I want to know how

[2015-05-27 05:56] wangyumi commented on #587
I met the same issue when I ran 100 watches concurrently. Should I expect that the fix will be shipped in etcd 2.1?

[2015-05-27 11:36] mindaugasrukas commented on #2838
It is not showing as unstarted, but just empty ClientURLs values:

[code]

And it is not changed after some time of waiting. Just until etcd restart.

We've waited tens of  minutes but nothing has changed.

Maybe worth to mention, that we are trying to use etcd not on CoreOS but on Debian machine.

[2015-05-27 14:49] ariddell commented on #2866
Got it. That makes sense. The url suggested that the docs were versioned: https://coreos.com/etcd/docs/2.0.8/configuration.html

[2015-05-27 14:49] #2866 closed

[2015-05-27 14:55] xiang90 commented on #2838
@mindaugasrukas What version of etcd are you running? Can you please provide more log information?

The log output you gave seems OK. I did not find anything bad.

Did you start the joined node? The cluster will become healthy after you starting the two new nodes.

[2015-05-27 17:47] xiang90 opened #2877 "etcd fails to restart if it is stopped immediately after bootstrap"
We hard coded the first few configuration entries to raft.
If etcd fails to append these entries since quick stop, it might not be able to restart.

[2015-05-27 17:48] xiang90 commented on #2862
@andymuldowney What do you suggest us to do at etcd side?

[2015-05-27 17:52] andymuldowney commented on #2862
@xiang90 Merging of https://github.com/coreos/etcd/blob/master/pkg/transport/timeout_transport.go#L36, and related changes, will reduce the default timeout to 5s which is much more acceptable.  Doing this in a `2.0.12` release would be ideal.

Ultimately, moving forward, configurable proxy timeouts would be great.

[2015-05-27 17:53] xiang90 commented on #2862
@andymuldowney Sure.

[2015-05-27 17:58] andymuldowney commented on #2862
https://github.com/coreos/etcd/blob/master/proxy/director.go#L28-L31 would both benefit from configurable values, in my opinion.

[2015-05-27 18:05] xiang90 commented on #2873
@IT-BB We will fix this issue when we release 2.1. You can build etcd in the release branch: https://github.com/coreos/etcd/tree/release-2.0

[2015-05-27 18:05] #2873 closed

[2015-05-27 21:59] yichengq commented on #2793
@philips @barakmich @xiang90
I don't see that people heavily use etcd today, so I think it is fine to go with current situation and document potential issues in upgrade process.

[2015-05-27 22:01] xiang90 commented on #2793
@yichengq Agree. We need to document it well.

[2015-05-27 22:01] #2793 closed

[2015-05-27 22:06] xiang90 commented on #2791
@temujin9 I am still not able to reproduce it. Reopen if you hit this again. We might want the data dir, the log, configuration and your system status for digging into it when it happens again. Thanks!

[2015-05-27 22:06] #2791 closed

[2015-05-27 22:08] xiang90 commented on #2655
@mikea I am going to close this due to low activity. Also I suggest you to try etcd2 if possible. :) Thank you for reporting!

[2015-05-27 22:08] #2655 closed

[2015-05-27 22:08] yichengq commented on #2676
@holmes86 Any updates?

[2015-05-27 22:09] xiang90 commented on #2646
The evaluation went well. We are working on a new bolt backed storage system.

[2015-05-27 22:09] #2646 closed

[2015-05-27 22:09] xiang90 commented on #2555
@barakmich This is fixed, right? I cannot reproduce this.

[2015-05-27 22:09] xiang90 commented on #2555
/cc @tomdee

[2015-05-27 23:01] benbjohnson commented on #2646
:tada:

[2015-05-28 05:22] ngpestelos commented on #2851
Thanks for replying. I filed this ticket after reporting this issue in Deis: https://github.com/deis/deis/issues/3726

My workaround was to identify and to replace the troublesome node.

No, my version of etcd depends on what Deis currently uses.

[2015-05-28 05:22] #2851 closed

[2015-05-28 07:04] IT-BB commented on #2873
@xiang90  I had compiled successfully when i ignore this file(syslog_formatter.go) beacause is file is suppored in linux but don't suppored windows.

[2015-05-28 07:42] pacasrc opened #2880 "Can I compare and swap with empty previous value?"
Hi ,

paca> /usr/bin/curl -L http://127.0.0.1:2379/v2/keys/a
{"action":"get","node":{"key":"/a","value":"","modifiedIndex":42,"createdIndex":42}}

paca> /usr/bin/curl http://127.0.0.1:2379/v2/keys/a?prevValue= -XPUT -d value=123
{"errorCode":201,"message":"PrevValue is Required in POST form","cause":"\"prevValue\" cannot be empty","index":0}

Is there a way to compare and swap with a previous valu

[2015-05-28 16:10] Telvary commented on #2845
Hi,
same issue with etcd-2.0.11 and fleet-0.10.1 on a 4 nodes cluster. Tried with and without local etcd proxy.
- cluster-health was ok for me
- same fleet error message
- everything went ok after bootstrapping a new cluster without peerTLS.

[2015-05-28 18:36] yichengq commented on #2880
etcd doesn't support to compare and swap an empty value today.

[2015-05-28 21:31] #2877 closed

[2015-05-28 23:22] superfell opened #2884 "proxy leaks connections ?"
I'm testing a 3 node setup (all on one host, as per the supplied Procfile), built from master (at ce5e14e71362310680f67ca53016cb5f93713eb1) I have a client app that writes 20k keys using 10 concurrent connections, then reads all 20k values back, and repeats. [it re-uses key names, so the total number of keys doesn't change after the first run).

If i point this at the leader, or a member, it runs

[2015-05-29 08:24] ripienaar opened #2885 "excessive dns queries"
hello,

In a 3 node cluster every etcd instance is making 40 dns lookups every second and it will grow of course with every cluster member added.

I can understand why it needs to do this but perhaps given the frequency of lookups etcd can do some internal caching of dns answers based on the TTL or something like that?

Query log for 1 second:

[code]

[2015-05-29 08:38] ripienaar commented on #2885
I should have mentioned but these records already have 3600 second TTLs in the zone

[2015-05-29 09:17] jbdalido opened #2886 "Ordered keys sort question"
Hello everyone,

i'm running into an issue (might not be one at all sorry) with ordered keys. I have a directory
using atomic ordered keys to handle versionning of a value, the last one is the good
one and previous are history.

It's working great until it don't. Here's a sample of the sorted keys sent by etcd :

    {
        "action": "get",
        "node": {
            "key": "/mykey/app/dev/m

[2015-05-29 16:33] tomdee commented on #2555
I don't time to retest at the moment, but I've been told that this is fixed so I'm happy to just close this issue.

[2015-05-29 16:35] barakmich commented on #2555
Yeah; I believe this was one of the many fixes in #2764

[2015-05-29 16:35] #2555 closed

[2015-05-29 16:43] xiang90 commented on #2886
Yes. If you want to sort in other orders, you need to implement it in your client.

[2015-05-29 16:43] #2886 closed

[2015-05-29 17:14] yichengq commented on #2885
iirc, you run a 3-member etcd cluster and use `etcd1/2.example.net` in its peer urls to communicate with each other. right?
Which version of etcd are you running? In etcd 2.1, etcd does not create connections that frequently, so it may not do that many dns lookups.

[2015-05-29 17:16] xiang90 commented on #2885
@yichengq I think go lib should cache the dns resolve result anyway.

[2015-05-29 17:22] yichengq commented on #2885
@xiang90 I agree that it should cache the result, but AFAIK it doesn't do it today. (https://golang.org/src/net/dnsclient_unix.go#L10)

[2015-05-29 17:23] ripienaar commented on #2885
this is version 2.0.11 which I think is the newest.

I run with these environment vars:

[code]

[code]

[2015-05-29 17:28] yichengq commented on #2885
@ripienaar I think current master or 2.1.0-alpha.0 should have improved that. Could you give it a try?

[2015-05-29 17:44] ripienaar commented on #2885
hmm, are there compiled binaries around of this version? no idea how to build go stuff but yeah I am happy to test

[2015-05-29 17:46] yichengq commented on #2885
@ripienaar We have compiled binaries here: https://github.com/coreos/etcd/releases/tag/v2.1.0-alpha.0

[2015-05-29 17:53] ripienaar commented on #2885
ah thanks, I looked there but obviously with 7pm friday evening eyes.  will test and let you know thanks

[2015-05-29 17:56] ripienaar commented on #2885
Ah yeah GH2323 should improve matters a lot and address other issues i was planning to file, will keep you posted

[2015-05-29 18:06] ripienaar commented on #2885
yes, 2.1.0-alpha.0 fixes this, I suppose it still doesn't cache but due to the persistent connections this is not a problem anymore.  Big flurry of queries many of the same query on startup but thats bearable

[2015-05-29 18:13] yichengq commented on #2885
cool. good to know. Thanks for testing!

[2015-05-29 18:13] #2885 closed

[2015-05-29 18:14] yichengq commented on #2885
If queries on startup becomes a problem someday, we could cache the DNS result then or maybe golang dnsclient has improved its behavior.

[2015-05-29 18:17] ripienaar commented on #2885
CPU usage halved - dns resolver was pretty busy - b/w usage improved a fair bit too as you'd expect, esp with SSL

[2015-05-29 18:25] philips opened #2887 "etcdctl: bad error message"
[code]

If a cluster isn't up then we get a bad error message, perhaps something like:

[code]

[2015-05-29 18:25] philips commented on #2887
cc @bcwaldon

[2015-05-29 18:27] tj-corrigan opened #2888 "etcd2 cluster goes unhealthy when removing an unhealthy node"
I am seeing something similar to #2834. I'm running 3 CoreOS alpha 695 (etcd 2.0.11) machines on AWS.

If I hard kill etcd on one of the machines, the cluster remains healthy with 1 unhealthy member. At this point I am successfully able to remove the machine from the cluster.

If instead I stop an entire machine, I still see a healthy cluster with 1 unhealthy member. However, if I try to remove th

[2015-05-29 20:58] yichengq commented on #2888
I confirmed this is a bug in etcd 2.0.11.
The main etcdserver loop is blocked when stopping removed peer in rafthttp. It should cancel in-flight request instead of waiting for requests to finish.

We have refactored rafthttp package, and etcd 2.1-alpha.0 can run well under this case in my environment. Could you double-check that for me?

[2015-05-30 00:03] xiang90 commented on #2808
@yichengq Can you try to reproduce it? I looked through the current raft code, and failed to find the bug by looking at code. :(

[2015-05-30 00:14] xiang90 commented on #2808
@yichengq I think it might be caused by https://github.com/coreos/etcd/commit/6b7891c643a1c429b26ae477c67dd29cb3665707

[2015-05-30 00:16] xiang90 commented on #2808
@yichengq confirmed it is fixed by the commit i mentioned.

[2015-05-30 00:16] #2808 closed

[2015-06-01 13:49] mindaugasrukas commented on #2838
We have tested with etcd v2.0.10 and 2.1.0-alpha.0.
I'll try with v2.0.11 and provide full log.

[2015-06-01 17:57] BlueDragonX opened #2895 "Proxy Closes Body on First Failure"
Hi all. I am running a CoreOS cluster with a core etcd cluster of five instances. All of the other cluster members are running etcd in proxy mode.

The proxies lose connectivity with the etcd cluster frequently. What happens is the proxy will attempt to connect to the first endpoint and fail with `read tcp etcd1:2379: use of closed network connection`. The remaining endpoints then fail with `http:

[2015-06-01 17:58] xiang90 commented on #2895
@BlueDragonX I think this is probably a bug as you suggest. Do you want to send a pull request? Or I can look into it and try to fix it.

[2015-06-01 17:59] BlueDragonX commented on #2895
@xiang90 I plan on putting a PR together before EOD. I wanted to get this out there before I started to see if there was any other feedback.

[2015-06-01 18:32] xiang90 commented on #2707
@barakmich @yichengq Let us try to finish this in 2.1 as discussed.

I will start with wal and raft pkg. @barakmich will also start to work on other pkg.
Yicheng can probably work on rafthttp pkg.

[2015-06-01 18:35] yichengq commented on #2884
What is your file descriptor limit? Could you enlarge it and give it another try? My guess is that it happens because proxy doesn't reuse connections wisely. If so, it should work when the file descriptor limit is large enough.

[2015-06-01 19:59] fasaxc commented on #2854
The reason that I want a streaming watch with waitIndex is that, without the waitIndex, it's not possible to do a GET to get the current state and then do a streaming watch to follow the progress since the initial GET.  The problem is that there could be changes between my initial get and the start of the streaming GET.

That is particularly problematic for large start-of-day recursive GETs since

[2015-06-01 20:22] bprashanth commented on #2854
@fasaxc see https://github.com/coreos/etcd/pull/2879

[2015-06-01 20:29] fasaxc commented on #2854
Thanks @bprashanth, I'll keep an eye out for your fix landing in an upcoming version, then I'll be able to finish the python-etcd streaming watch feature (https://github.com/jplana/python-etcd/issues/105).

[2015-06-01 21:00] yichengq commented on #2888
After digging deeper into it with xiang, we find that the problem does still exist in 2.1 but not that severe. Basically peer.pipeline should be stopped without block. We will fix it.

[2015-06-01 21:40] yichengq commented on #2884
My last comment is not right. The error line indicates that there is no ephemeral port available, so increasing file descriptor limit doesn't help. etcd proxy needs to be more connection-efficient to solve this problem.

[2015-06-01 21:43] tj-corrigan commented on #2888
I went ahead and tested this against quay.io/coreos/etcd:v2.1.0-alpha.0 . It looks like the problem still exists but resolves itself a lot faster (~30 seconds instead of 5 minutes). Here are the logs in case they are helpful:

[code]

[2015-06-01 22:19] brendandburns opened #2899 "Multiple cluster members with the same name should throw an error."
I was trying to set up multi-node etcd and I accidentally left of the ```--name``` flag.

Etcd happily clustered itself up, and presented no errors with ```etcdctl cluster-health```

but the clustering itself didn't work correctly (obviously).

I think etcd should chose a random name for iteself, not ```default``` if no name is specified.

And regardless, a cluster shouldn't think it's healthy in

[2015-06-01 22:21] xiang90 commented on #2899
@brendandburns Which version of etcd were you running? Current master?

[2015-06-01 22:21] brendandburns commented on #2899
2.0.9

[2015-06-01 22:23] xiang90 commented on #2899
@brendandburns How did you set up the multi-member cluster? We require explicitly initial cluster from 2.0. Did you add member one by one?

[2015-06-01 22:31] xiang90 commented on #2895
@BlueDragonX If you are sure it is caused by the reuse of http request, then it makes sense to me. Go for it. Thank you!