[2015-02-16 01:11] akaspin commented on #1794
@yichengq It's cool. But I 0.4.6 in production *now*. Not 0.5. How to fix this issue? Why it closed?

[2015-02-16 08:14] theambient commented on #1959
@kelseyhightower problem vanished after updating python-etcd client dependency - urlib3.

seems that client (python-etcd via urrlib3) somehow wrong closed tcp connection and etcd did not handle it resulting in hanging tcp connection as far as I remember in CLOSE_WAIT.

new connections where establishing faster then died connections become actually closed  and those file descriptors number exceeded

[2015-02-16 08:48] zjeraar opened #2316 "quay.io and docker hub images > 2.0.0 don't exist yet"
Although mentioned in the releases of 2.0.2 and 2.0.3.

[2015-02-16 11:10] snowdreamist commented on #2266
I haven't found why internal error still always happened, I can't be sure if it is a network issue or not. Bug the connections between services and mongodb instances is pretty stable.
And I found another issue, if the internal server error happened, etcd may __block__ the connection forever.

[2015-02-16 14:26] ghristov commented on #2276
This problem occurs in a standalone server as well.
./etcd --data-dir standalone/ --name standalone --listen-client-urls 'http://10.25.2.4:4001'
This is how I start the server.

2015/02/16 16:18:09 etcd: listening for peers on http://localhost:2380
2015/02/16 16:18:09 etcd: listening for peers on http://localhost:7001
2015/02/16 16:18:09 etcd: listening for client requests on http://10.25.2.4:4001

[2015-02-16 16:26] xiang90 commented on #2276
If you start etcd with this, you should see `etcd: couldn't find local name "standalone" in the initial cluster configuration`.

From the log, your cluster is somewhat broken. Can you please provide the initial configuration you gave to etcd? Or would you like to send the datadir to me by email?

[2015-02-16 16:27] xiang90 commented on #2266
We are solving this.

/cc @yichengq

[2015-02-16 16:56] kelseyhightower commented on #2253
@thockin I'm running through this now.

[2015-02-16 16:57] ghristov commented on #2276
Sorry my bad, I copied the command from another wrong tab. Indeed when i specify the --name that appears.

./etcd --data-dir standalone/ --listen-client-urls 'http://10.25.2.4:4001'

user@host:/opt/etcd$ ./etcd --data-dir standalone/ --listen-client-urls 'http://10.25.2.4:4001'
2015/02/16 18:50:41 etcd: listening for peers on http://localhost:2380
2015/02/16 18:50:41 etcd: listening for peers on h

[2015-02-16 16:58] xiang90 commented on #2276
@ghristov email: xiang.li@coreos.com. Thanks!

[2015-02-16 17:00] timothysc opened #2318 "etcd2 cluster config issues -advertise-client-urls"
So i ran into this gem on updating to the tip of k8's.

If -advertise-client-urls != -listen-client-urls, clients such as etcdctl will fail.

Perhaps the default should of advertise-client-urls should = listen-client-urls.

[2015-02-16 17:04] xiang90 commented on #2318
advertise-client-urls and listen-client-urls are different.

Can you provide an example of the failure case? And what is your expectation?

[2015-02-16 17:05] timothysc commented on #2318
If you specify -listen-client-urls=http//$HOSTNAME:4001 and leave advertise-client-urls blank tools will fail.

[2015-02-16 17:09] xiang90 commented on #2318
@timothysc That is expected. You need to specify the advertise client url correctly. We would like the user to set everything cluster-wide configuration explicitly. Does this make any difficulties to you?

[code]

https://github.com/coreos/etcd/blob/master/Documentation/configuration.md#-advertise-client-urls

[2015-02-16 17:13] colebrumley opened #2319 "bad discovery cluster: <nil>"
When testing the latest release (2.0.3) for the issue reported in #2297, I am seeing a new error:

[code]

This is a new cluster using the public discovery service.  No data-dir is created before the application dies, so I have no logs to provide.  This is a 2-node test cluster in case that makes a difference.

[2015-02-16 17:16] xiang90 commented on #2319
@colebrumley Can you provide the command line arguments you gave to the etcd members (all of them)?

[2015-02-16 17:23] colebrumley commented on #2319
I called etcd from a systemd unit with the following args:

[code]

The only differences between the two nodes are the NODE_NAME and CLUSTER_IP

[2015-02-16 17:25] xiang90 commented on #2319
@colebrumley You gave duplicated `advertise-peer-url` across the cluster.
Please check the doc at https://github.com/coreos/etcd/blob/master/Documentation/configuration.md#-initial-advertise-peer-urls.

We will improve the error message.

[2015-02-16 17:29] colebrumley commented on #2319
Ah I see it now, thanks for the quick reply!

[2015-02-16 17:44] timothysc commented on #2318
Perhaps, but it's a usability shift from previous versions which could likely be stated in the initial clustering examples:

https://github.com/coreos/etcd/blob/master/Documentation/clustering.md

NOTE: ...

[2015-02-16 17:47] xiang90 commented on #2318
@timothysc
We do document the compatibility problem here https://github.com/coreos/etcd/blob/master/Documentation/backward_compatibility.md#command-line-flags-changes.

You might want to look at it while switching from the old versions of etcd to 2.x.

If you feel you can help to improve the documentation, pull requests are welcomed!

[2015-02-16 17:54] xiang90 commented on #2319
@colebrumley The wrong error message is also fixed at #2320.

[2015-02-16 17:54] #2319 closed

[2015-02-16 18:42] kelseyhightower commented on #2318
@timothysc Thanks for reporting this issue. As stated by @xiang90 we made this change to increase the visibility of these two settings, which we hope will prevent people from being surprised. The draw back is the change of behavior.

Based on the links provided is there something we can do to improve the documentation?

[2015-02-16 18:43] kelseyhightower commented on #2316
I was able to confirm these images are missing. We are working to correct this now.

[2015-02-16 18:45] ef4 opened #2321 "Peer listener failing to use TLS"
Maybe I'm missing something obvious, but this run shows a node who claims to be listening for peers on port 2380 over HTTPS:

[code]

But it's not really using HTTPS:

[code]

And it's speaking plain HTTP:

[code]

[2015-02-16 18:55] xiang90 commented on #2321
@ef4 Can you try to set key/cert for peer listener? You only set them for client.

[2015-02-16 18:55] kelseyhightower commented on #2316
@zjeraar The following command should now work:

[code]

[2015-02-16 18:55] #2316 closed

[2015-02-16 18:55] ef4 commented on #2321
It looks like I need `--peer-cert-file` and friends in addition to `--cert-file`. That seems to switch the port over to TLS.

But the fact that the above config didn't fail and instead reported it was using TLS when it wasn't looks to me like a security problem.

[2015-02-16 18:56] xiang90 commented on #2321
@ef4 Yea. We should fix it.

[2015-02-16 19:28] ghristov commented on #2276
You should have a mail from 2 hours ago

[2015-02-16 19:48] kelseyhightower commented on #2253
@thockin See the etcd docker guide for working `docker run` commands for single, and multi-node etcd setups.

[2015-02-16 20:43] #2253 closed

[2015-02-16 20:50] kelseyhightower commented on #2321
@ef4 Thanks for reporting this issue. Looks like we need to do a couple of things to really resolve this issue.

1. Check the schema on the advertised peer and client URLs, and if we see https then we need to validate we have the proper SSL configuration.
2. Only listen on HTTP if the proper listen address is provided.

[2015-02-16 22:31] yichengq commented on #2266
@snowdreamist Do you have more detailed context, or TCP status at that time, or log for the block issue?
From your description, I think it is more reasonable to say that the block of the connection causes the internal server error.

[2015-02-17 07:44] yichengq commented on #919
etcd assumes that data dir should be stable and permanently saved.
Check
https://github.com/coreos/etcd/blob/master/Documentation/admin_guide.md#disaster-recovery
for disaster recovery.

On Wed, Feb 11, 2015 at 10:59 PM, Shan Huang <notifications@github.com>
wrote:

[2015-02-17 07:52] kjellski opened #2324 "etcd crashes on windows, out of nowhere"
We've started to test etcd and it seems to crash just out of nowhere. We've not even any sort of load on it. when it crashed tonight, it had no client whatsoever connected.

Here is the dump, if it helps:

    C:\Users\Administrator.xxx\Desktop\etcd-v2.0.2-windows-amd64>etcd -addr "10.10.1.37:4001" -bind-addr "10.10.1.37:4001"
    2015/02/17 07:40:19 no data-dir provided, using default data-dir ./

[2015-02-17 08:07] yichengq commented on #2310
@jelmer Could you tell me that platform, go version, and the command to reproduce the compilation problem?

[2015-02-17 08:11] jelmer commented on #2310
On Tue, Feb 17, 2015 at 12:08:13AM -0800, Yicheng Qin wrote:

This is on Debian unstable, which has go 1.3.3. That should not really matter
though, it seems clear that this variable (binDir) is not defined or imported
in this file.

Jelmer

[2015-02-17 08:18] yichengq commented on #2306
@crawford
Could we narrow the range down?
I guess this code will print error in your env:
[code]

[2015-02-17 10:10] claudio-benfatto opened #2325 "Failing and restarting discovery with "disk cannot be found" error"
Hi, I've been using etcd for a while and I'm now testing the following configuration:

SO: Ubuntu 14.04
Cloud Platform: aws
etcd version: v2.0.3

I'm using the public discovery service, however I consistently experience the failure of one of the nodes followed by its try to rejoin the cluster, which is failing as well due to the previous registration to the discovery service with the same token.
T

[2015-02-17 11:25] akaspin commented on #2325
Bump

[2015-02-17 17:49] yichengq commented on #2315
No, it is a wrong setting.
In 0.4.6, the peerURL of each member is set through arguments. I doubt that the setting to start "c2eec18fbfd74d1daf787f23f475fc75" is wrong. Could you log into that machines and check the initial command by `systemctl cat etcd`?

[2015-02-17 17:52] yichengq commented on #1794
You should restart the wrong etcd using correct flags. If this cannot work still, try to remove the wrong member.

[2015-02-17 18:05] yichengq commented on #2324
This is due to a bug introduced in 2.0.2
Using 2.0.3 should fix this problem.

[2015-02-17 18:15] #2324 closed

[2015-02-17 18:32] yichengq commented on #2306
@crawford I meet this problem on my CoreOS 593.0.0 machine too. And the `net.Listen` on `localhost:4001` failed with `listen tcp: lookup localhost on 192.168.65.2:53: too many redirects`.
I guess this is a coreos problem.

[2015-02-17 18:37] yichengq commented on #2310
@jelmer I have to know why we make the changes. :)
The patch has been sent.

[2015-02-17 18:46] #2310 closed

[2015-02-17 18:57] yichengq commented on #2325
@claudio-benfatto The public discovery setting is that all members should join in 1 min.

[2015-02-17 19:01] akaspin commented on #2325
@yichengq What would otherwise? And what's the drive?

[2015-02-17 19:46] yichengq commented on #2325
I am kind of misleading by saying that.

Though the public discovery connection is timed out in 1min, etcd discovery will retry to wait for other members join forever. So the retry behavior is expected.

But you cannot restart etcd at this time because it is in the process of finding bootstrap peers. This is for bootstrap correctness. If something bad happened, you have to use a new discovery toke

[2015-02-17 21:06] #2315 closed

[2015-02-17 21:37] jedsmith opened #2328 "etcd 2.0.3 --force-new-cluster retains old cluster's information"
Hello,

I have a five-node v0.4.6 cluster that I am attempting to migrate to a *new* v2.0.3 cluster. Here are the steps I have followed:

1. Perform a snapshot from the v0.4.6 cluster.
2. Run `etcd-migrate` from v2.0.3 on the v0.4.6 data directory. This converted fine.
3. Run `etcd` with `--force-new-cluster` against that data directory. Again, this ran fine.

At this point, I can run `etcdctl` an

[2015-02-17 21:43] xiang90 commented on #2328
@jedsmith You need to run etcdctl backup on the data dir before you run force-new.

We probably should rename `force-new` to `force-standalone`. Today's `force-new` only removes the other members in the cluster by appending entries. etcd itself never modifies the old log entries.

etcdctl backup tool would modify the log entries.

[2015-02-17 21:55] jedsmith commented on #2328
The root bug, then, is that etcd lies about its peer URL in this state. The peer URL I provide via environment variable is overridden and reported as another peer URL, against my express wishes.

[2015-02-17 22:20] xiang90 opened #2329 "etcdctl: support update member"

[2015-02-17 22:21] karlgrz opened #2330 "Manual intervention required for replacing a failed node in etcd 2.0.3"
After upgrading to etcd 2.0.3 it appears that a few manual steps are required to replace a bad node in the cluster.

NOTE: urls and id's obfuscated

## Recovering Failed Node

### Step One: Get Failed Node ID

Query the ETCD cluster api to get the ID of the failed node.

[code]

Output:

[code]

### Step Two: Delete the Failed Node

This assumes that etcd-us-east-1e-host1 has been identified as th

[2015-02-17 22:23] xiang90 commented on #2330
@karlgrz You can run etcdctl --cluster-health to find out the failed node with its id.

Other than that, it is correct.

[2015-02-17 22:33] xiang90 opened #2331 "etcdserver: force cluster should check the status of datadir"
force cluster should only work on a data dir generated from etcdctl backup tool.
we need to try our best to ensure there are no two running cluster with same cluster id.

[2015-02-17 22:44] #2328 closed

[2015-02-17 22:54] xiang90 commented on #2331
also we need to make our doc more clear about this.

[2015-02-17 23:24] crawford commented on #2306
The issue is that etcd is statically compiled on CoreOS. If we dynamically compile etcd, it will use libc and follow our nsswitch settings (which allows us to read from /usr/share/baselayout/hosts as well as /etc/hosts).

We need to update the etcd ebuild to compile dynamically.

[2015-02-17 23:24] #2306 closed

[2015-02-18 00:08] jedsmith opened #2333 "etcdctl: backup command removes data under /_etcd"
Similar to the recent fix in v2.0.3 to prevent `etcd-migrate` from deleting `/_etcd`, apparently passing the same data set through `etcdctl backup` first causes the `/_etcd` key to either be removed or not created.

The `etcdctl backup` flow is definitely implicated, because `etcd-migrate` was recently fixed to not do this. When creating a single-node cluster from the `etcd-migrate`d data incorrec

[2015-02-18 01:57] yichengq opened #2334 "forbid setting listen-urls without setting advertise-urls"
listen-urls and advertise-urls have to be set explicitly in etcd 2.0
The design goal of this is that people have to set everything explicitly, and understand what is happening in the etcd cluster. listen-urls instruct what etcd should listen on, and advertise-urls instruct what urls should be recorded in the cluster, which are used in configuration fetch and change.

People can only set listen-url

[2015-02-18 04:05] yichengq commented on #2333
I cannot reproduce this problem:

[code]

Could you check this?

[2015-02-18 05:45] xiang90 commented on #1867
we end up with http://prometheus.io/

[2015-02-18 05:45] #1867 closed

[2015-02-18 06:13] xiang90 opened #2336 "falloc on segmented wal files"
We want to pre-allocate the space for the WAL files when it is created.

It brings some benefits:
1. Avoid runtime short write when running out of disk space
2. Better error message for running out of disk space
3. Less fragmentation, better performance

As a starter, we probably only need to implement this for osx and linux. They have different syscalls though.

[2015-02-18 09:28] claudio-benfatto commented on #2325
Thank you for the prompt answer and explanation.
I was not aware of this behavior. In my case I'll be easisly able to adjust the etcd cluster bootstrapping procedure in order to meet the timeout requirements.

Thank you again

[2015-02-18 17:11] mmikulicic opened #2337 "etcd 2.0.3 ACI signature"
Hi,

It looks like the 2.0.3 ACI signature is not signed with a key part of https://coreos.com/dist/pubkeys/aci-pubkeys.gpg

I trusted the gpg key, as per documentation:

[code]

I can successfully fetch and run `rkt fetch coreos.com/etcd:v2.0.0`
but `rkt fetch coreos.com/etcd:v2.0.3` says:

[code]

[2015-02-18 18:39] yichengq commented on #2337
I have fixed the sig. Feel free to give it another try.

[2015-02-18 18:39] #2337 closed

[2015-02-18 18:50] #2268 closed

[2015-02-18 18:50] ef4 opened #2338 "Suspicious I/O timeouts"
I'm seeing frequent log lines like:

     2015/02/18 16:17:42 sender: error posting to 5a06d97868c04ccf: read tcp 104.236.206.61:2380: i/o timeout

Is this timeout tunable?

[2015-02-18 19:07] xiang90 commented on #2102
@ongardie Yea. I have looked the approaches described in the book. However, they all involve the raft internal.

I am thinking of a simpler but higher latency way to do it at application level, given the fact etcd is keeping generating proposals at all servers.

1. Client read arrives at T1 to server A.
2. Server A holds the read requests.
3. Server A waits until a write request it proposed after

[2015-02-18 20:06] xiang90 commented on #1757
a fsync must be called before:
1. leader sends out a raft message with a larger commit index.
2. follower sends out a msgAppResp after appending new entries.

If we want to batch fsync, we need to batch the messages basically.

/cc @yichengq

[2015-02-18 22:46] ef4 commented on #2338
I tracked this down in the source, both the read and write timeouts are hard-coded to five seconds:

https://github.com/coreos/etcd/blob/88994f9ec8dfb5f7945a7926d1f9ee359dddb5d7/rafthttp/peer.go#L43-L44

Which seems reasonably generous. I'm not sure what's pushing my latency higher than that, it seems suspicious. I have three nodes on a local network, though they are VPSs that may have highly vari

[2015-02-18 23:44] jedsmith commented on #2333
Nor can I, now, though I did twice last night. I'm not sure what changed, but this can be closed.

[2015-02-18 23:48] #2333 closed

[2015-02-19 06:42] kelseyhightower opened #2340 "etcdctl: cluster-health reports has delay"
etcd version: v2.0.3

How to reproduce:

- Start a 3 node etcd cluster.
- Kill a node (hard poweroff the machine -- no clean shutdown)
- run etcdctl cluster-health

Expected results:

etcd reports the kill node as unhealthy

Actual Results:

[code]

[2015-02-19 06:44] kelseyhightower commented on #2340
Seems after 5 mins or so, the cluster-health command reports the node unhealthy:

[code]

[2015-02-19 07:08] xiang90 commented on #2340
@kelseyhightower
The current detection is not very reliable since it is using the old 0.4.x endpoint. The member healthy checking is based on the underlay tcp connection. If you just power off the machine, the connection will not be dropped immediately.

It command achieve our current goal for detection the healthiness after migration. We can improve it later.

[2015-02-19 17:14] fabxc commented on #2255
I'm wondering if the config should default differently, i.e., `cfg.Autosync = false`.
With a running background sync the client needs some Close method. The API constructors make it kind of easy to return the API and forget about the client which seems fine for short-living clients (command/members_command.go is a good example.) But it's also easy to forget to set `NoAutosync = true` in those case

[2015-02-19 19:25] stevenschlansker opened #2342 "etcd 2.0.3 does not shut down gracefully to Ctrl-C"
Create a 3-node etcd cluster, for example I run
[code]

This 'rafthttp' error continues indefinitely, and the process never dies.

[2015-02-19 22:37] crawford commented on #2342
In this case, etcd runs as PID 1 within your container. As a result, the kernel marks the process with SIGNAL_UNKILLABLE which prevents it from being killed by a signal. etcd will need to check if it is the init process and just exit if that's the case.

[2015-02-19 23:26] akaspin commented on #2207
etcd 2.0.3
[code]
...
[code]

[2015-02-20 03:13] akaspin commented on #2325
https://github.com/coreos/etcd/issues/2207#issuecomment-75160986

[2015-02-20 19:02] barakmich opened #2346 "etcd master sometimes fails with flags"
Repro:

From the root checkout of etcd:
1) `./build`
2) `cp bin/etcd ./`
3) Change `Procfile` slightly: for node3, instead of running bin/etcd, run etcd -- which is the binary we just copied
4) `goreman start`

...and node3 fails to run. Why?

[code]

The other two work. Why?

[2015-02-20 19:15] rrati commented on #2338
We are seeing the same kind of issue.  We have a 3 node cluster running, and at idle on the peers we are regularly seeing

Feb 20 19:02:04 <peer_hostname> etcd[47582]: 2015/02/20 19:02:04 sender: error posting to c2c815787318259b: read tcp <leader_ip>:7001: i/o timeout

and

Feb 20 19:00:58 <peer_hostname> etcd[47582]: 2015/02/20 19:00:58 sender: error posting to c2c815787318259b: read tcp <leader

[2015-02-20 19:16] timothysc commented on #2338
Also seeing this same issue.

[2015-02-20 19:40] xiang90 commented on #2346
@barakmich I cannot reproduce this on Mac and CoreOS. Probably you messed up the Procfile? Or you run another etcd, which is a binary at some other place?

[2015-02-20 19:42] xiang90 commented on #2338
@timothysc @rrati The i/o timeout is 5 second. And we do not see a need to change it currently. If  the latency is larger than 5 seconds, raft would be the first thing to start fail.

[2015-02-20 19:42] barakmich commented on #2346
I'm an idiot. Closing

[2015-02-20 19:43] #2346 closed

[2015-02-20 19:56] timothysc commented on #2338
@xiang90 this is on an unloaded setup.

[2015-02-20 20:18] ef4 commented on #2338
@xiang90 I think the real issue here is not that we need higher timeouts, it's that it's surprising that timeouts are being hit. I can't find any explanation for where the latency is coming from, and if others are seeing it too there may be a bug in etcd that's causing these connections to stall and timeout.

[2015-02-20 20:42] timothysc commented on #2338
@ef4 - exactly!

[2015-02-20 20:49] stevenschlansker commented on #2342
`etcd` indicates that it receives my signal -- `2015/02/19 19:22:59 received interrupt signal, shutting down`.  Are you saying that `etcd` does in fact not ever exit, but assumes some process will come by and kill it more forcefully later?  That does indeed sound like a serious problem that needs to be fixed...

[2015-02-20 21:19] xiang90 commented on #2338
@ef4 @timothysc
Yes. I am just wanting to make sure you do not want a tunable timeout.

We are redoing the related code at https://github.com/coreos/etcd/pull/2323/.
We will have metrics for recoding, so we can have a better idea of what exactly is going on.

[2015-02-20 21:23] crawford commented on #2342
Normally the kernel does this. In the case of PID 1, however, it explicitly does not (to avoid kernel panics).

It's been fixed in https://github.com/coreos/etcd/pull/2343.

[2015-02-20 21:23] #2342 closed

[2015-02-20 23:32] xiang90 commented on #2330
@karlgrz Do you have other questions?

[2015-02-20 23:36] karlgrz commented on #2330
No, thanks!
On Feb 20, 2015 5:32 PM, "Xiang Li" <notifications@github.com> wrote:

[2015-02-20 23:37] #2330 closed

[2015-02-21 02:32] AlexeyRaga commented on #768
@muff1nman  how did you build it? Do you have a package or could you please post some instructions? I am trying to build for armhf, no luck so far.

[2015-02-21 09:27] AlexeyRaga commented on #1468
I have the same now, and the config seems to be fine, but still:

2015/02/21 09:25:23 etcd: listening for peers on http://localhost:2380
2015/02/21 09:25:23 etcd: listening for peers on http://localhost:7001
2015/02/21 09:25:23 etcd: listening for client requests on http://localhost:2379
2015/02/21 09:25:23 etcd: listening for client requests on http://localhost:4001
2015/02/21 09:25:23 datadir is

[2015-02-21 13:15] Johnz86 commented on #2247
You are right. When I queried port 7001.
[code]
I got a  response.
[code]
But when I queried the port 4001.
[code]
I got response.
[code]
When I looked into older documentation, I got the right responses.

Thanks.

[2015-02-22 03:22] yichengq commented on #2247
That endpoint is an internal one. Glad to see it is solved.

[2015-02-22 03:22] #2247 closed

[2015-02-22 21:58] ongardie commented on #2102
@xiang90 sounds like that'd work. When you say "waits until a write request", you probably want to issue a no-op after a timeout; otherwise you might be waiting a very long time :)

[2015-02-23 04:20] muff1nman commented on #768
@AlexeyRaga All I remember is cross compiling it on my x86 machine using the go cross build options and then copying the executable over to the rpi.

[2015-02-23 07:45] yichengq commented on #2325
For conclusion, the error is intentional for the safety. We expect that the first bootstrap should not fail (etcd process is killed in the process), or user should use a new discovery token.
etcd will retry on waiting other nodes in discovery process, so it could wait for a long time.

[2015-02-23 07:45] #2325 closed

[2015-02-23 07:47] yichengq commented on #2207
@akaspin The discovery token looks good. I think `core-02` is stopped/killed in the bootstrap process, and etcd doesn't allow it. You need a new discovery token if this is happened.
If `core-02` is stopped without external reason, that might be a bug. If so, you can open a new issue with the log.

[2015-02-23 08:01] yichengq commented on #1468
@AlexeyRaga From the log, the etcd has been started before, and fails to save all info into the disk. Does the first-time log mention this?  You need to remove the data directory before restart if this happens.

[2015-02-23 16:57] brandonkruse commented on #815
Consul is really fantastic, however, fleet is tied so closely with etcd that I'd like to stay with etcd. +1 for alpha coreos with etcd 2.x

[2015-02-23 17:20] barakmich opened #2356 "Drop/Reconnect when mixing 2.0.3 and master"
After #2323 I gave my run-a-single-new-peer test again. Granted, it seems to work, but the cluster, left running, starts generating some timeouts against `etcd3` which is the peer @master (the others are peers @2.0.3)

[code]

It comes right back, but something in the timing is off.

[2015-02-23 17:23] xiang90 commented on #2356
/cc @yichengq

[2015-02-23 17:56] yichengq commented on #2356
@barakmich I cannot reproduce that on my machine with current master and latest 210 branch. But i got tons of
[code]
That is another problem and i am solving it.

[2015-02-23 17:57] barakmich commented on #2356
Sure, one thing at a time

[2015-02-23 18:23] yichengq opened #2358 "rafthttp: use new msgapp stream endpoint"
from #2357

[2015-02-23 22:21] yichengq opened #2361 "document backup method for manual upgrade failure"

[2015-02-24 00:32] yichengq opened #2364 "etcdctl: backup command doesn't support new data organization"

[2015-02-24 23:31] xiang90 opened #2370 "snapshot issues"
- [x] no snapshot resend in raft
- [x] snapshot sending status reporting
- [x] non-blocking snapshot encoding
- [x]  keep a min number of entries in memory for the follower latency gap
- ~~[ ] saving snapshot should not block the raftNode loop~~ - #3714
- ~~[ ] best effort snapshot pre-fetch when starting/restarting~~ - #3715
- [x] incremental snapshot (aka raft log as wal and disk-backend as stat

[2015-02-25 00:13] dchen1107 opened #2371 "Benchmark for performance and scalability"
For etcd release, there should be a benchmark for performance and scalability:

\# of entries:
\# size of per entries
\# max writes/s per instance
\# max reads/s per instance
...

[2015-02-25 12:20] jamespharaoh opened #2373 "Cluster health command shows unhealthy incorrectly"
Cluster health command doesn't pick up SSL settings when connecting to the leader.

[2015-02-25 15:43] xiang90 commented on #2373
LGTM. Thanks for the fix.

[2015-02-25 15:44] #2373 closed

[2015-02-25 20:59] bbangert opened #2375 "CLI option: Add ability to specify default host"
By default, all the various flags for etcd to start up with default to 'localhost'. This presents quite a config hurdle when jumping from playing with 3 instances locally (a common demo in etcd presentations), to running 3 instances on 3 separate machines/VM's, as every single config option using a hostname (a lot) now all need to be specified.

It would make sense to have a single 'hostname' or '

[2015-02-25 21:03] xiang90 commented on #2375
do you mean a --initial-default-hostname ?

[2015-02-25 21:06] bbangert commented on #2375
Sure, something that would replace 'localhost' in all the config bits that use it.

[2015-02-25 21:23] agokjr opened #2376 "is etcdctl peers flag ignored if --no-sync is not used?"
ETCDCTL v2.0.3

Setting ETCDCTL_PEERS or --peers to external ip that matches the cert generated via etcd-ca tool.
[code]
I noticed that I instead of the expected external https end point I am getting the following.

[code]

It does not look like the ETCDCTL_NO_SYNC flag works.

Thanks

[2015-02-26 03:23] agokjr opened #2378 "Cluster start unhealthy after resting. (https server -> client)"
Environment flags (extracted when did force new cluster to try and reset)
[code]
Certs are generated using etcd-ca
Also Noticed that fleet keeps on having machines drop off and then show up with every thing restarting on the machine.

Fleet has many of these in the log
[code]

I am not sure what to do next on this one. Things seemed fine until I turned on Server to client https.

[2015-02-26 06:13] xiang90 commented on #2378
This has been fixed by https://github.com/coreos/etcd/pull/2374

[2015-02-26 10:25] linfan commented on #2114
I tried again against the master build, this issue already gone. Thanks!

The etcd version tagged as 2.0.3

[code]

[2015-02-26 15:12] jhftrifork opened #2379 "`etcdctl ls --recursive` does not show values for keys"
The help for `etcdctl ls` says:

[code]

But when I use it:

[code]

These are just keys, but the documentation for `--recursive` says that it should also print the values. Am I misunderstanding something?

[2015-02-26 16:06] heyryanw opened #2380 "'etcdctl member add' ignores name of node"
**Problem:** Following the documentation [here](https://github.com/coreos/etcd/blob/master/Documentation/runtime-configuration.md), using the 'etcdctl member add' tool doesn't properly set node name.

**Steps to reproduce:** On any current member in a cluster: 'etcdctl member add node1 http://1.2.3.4:2380'. The resulting output is correct in that it shows the environment variables to be issued to

[2015-02-26 17:43] xiang90 opened #2381 "hook up rafthttp with reportUnreachable and reportSnapStatus"

[2015-02-26 18:05] Telmo opened #2383 "Automated monitoring of an etcd cluster?"
I've read all the tools using etcd, I've google different permutation of "etcd monitoring" and I am still unable to find a way to monitor an etcd cluster. With monitoring I mean a programatic way of checking the global health of a cluster, to be alerted if "nodes fall off the map" or etcd stops working all together.

Is there such a tool? If not what are people using to be alerted of possible issu

[2015-02-26 18:14] countspongebob commented on #2371
Ideally some kind of benchmark should be integrated into the test suite to guard against performance regression - is there no such test today?

[2015-02-26 18:35] xiang90 opened #2384 "security implementation"
Security feedback

- [x] decouple the enable and root user creation
- [x] add root role, so we can have multiple admin users
- [x] doc: /security/user -> /security/users
- [x] add everyone user and role when enabling security, which has all access to key space. the no user:pass falls into everyone.
- [x] prefix matching
- [x] never return error message from store
- [x] security needs to be enabled

[2015-02-26 20:33] timothysc opened #2385 "etcdctl recursive delete with wildcards"
There are times where is would be very useful to recursively delete based on wildcard.

e.g. rm -rf /foo/bar/*

[2015-02-26 20:53] yichengq commented on #2385
We have remove recursively functonality:

[code]

[2015-02-26 21:01] timothysc commented on #2385
what about the wild-cards?

--recursive		removes the key and all child keys(if it is a directory)

[2015-02-27 04:18] philips commented on #1987
@xiang90 This issue is to implement the new store proposed here, right? https://github.com/coreos/etcd/pull/1634/files

[2015-02-27 05:53] kelseyhightower commented on #2385
@timothysc What you want here is the ability to do this:

Give the following keys:

[code]

After running the following command:

[code]

You want the following keys to exist:

[code]

Does that look right?

[2015-02-27 06:07] kelseyhightower commented on #2383
@Telmo Thanks for reaching out. I'm going to propose a simple option, please let me know if this is what you are looking for.

- if you care about the health of a specific node, then one option would be to attempt to write to a "dummy" key. For example `/monitoring/healthcheck`. If that works then the node can be considered healthy.

We have a new health endpoint which you can test with the follow

[2015-02-27 06:14] kelseyhightower commented on #2380
@heyryanw Thanks for reporting this issue. What happens once you add the new member using the output from the `etcdctl member add` command?

[2015-02-27 06:16] kelseyhightower commented on #2379
@jhftrifork I think this is a documentation bug. The `ls` command is supposed to list the keys, and the `get` command is used to get the value. /cc @xiang90

[2015-02-27 06:18] kelseyhightower commented on #2378
@agokjr Looks like the fix for this has been merged to the master branch. Can you test to see if this fix works for you.

[2015-02-27 06:20] kelseyhightower commented on #2376
@agokjr Can you provide the full commands you are running for etcdctl?

[2015-02-27 08:55] grimnight opened #2389 "More configuration options for testing and limited use"
I would like to be able to run etcd in localhost only without clustering and without persistence (no disk, memory-only).

Can you add command line option for configuration file so it is possible to have multiple configuration files.

Can you add option for memory use limits or limits for number of keys.

Can you add configuration file option to enable/disable the possibility to remotely flush etcd

[2015-02-27 10:00] kelseyhightower commented on #2389
@grimnight Thanks for reaching out, but it will be easier to consider these requests if they were proposed in a separate issue. Please open new issue of each item you would like us to review.

[2015-02-27 10:00] #2389 closed

[2015-02-27 10:01] dothebart opened #2390 "Etcd talking to itself via http though its alone"
I'm currently running one etcd, maybe want to cluster in the future the depending on the setup.
Its current commandline looks like that:

  bin/etcd --data-dir /var/tmp/tmp-31848-953528896/http_server/agentarango4001 --name agentarango4001 --bind-addr 127.0.0.1:4001 --addr 127.0.0.1:4001 --peer-bind-addr 127.0.0.1:7001 --peer-addr 127.0.0.1:7001 --initial-cluster-state new --initial-cluster agenta

[2015-02-27 13:02] grimnight opened #2391 "running etcd in localhost only, without clustering and without persistence"
I would like to be able to run etcd in localhost only without clustering and without persistence (no disk, memory-only).

[2015-02-27 13:03] grimnight opened #2392 "add command line option for configuration file"
Can you add command line option for configuration file so it is possible to have multiple configuration files?

[2015-02-27 13:03] grimnight opened #2393 "option for memory use limits or limits for number of keys"
Can you add option for memory use limits or limits for number of keys?

[2015-02-27 13:04] grimnight opened #2394 "configuration file option to enable/disable the possibility to remotely flush etcd to disk"
Can you add configuration file option to enable/disable the possibility to remotely flush etcd to disk?

[2015-02-27 13:04] grimnight opened #2395 "configuration file option to enable/disable the possibility to remotely shutdown etcd"
Can you add configuration file option to enable/disable the possibility to remotely shutdown etcd?

[2015-02-27 14:54] dothebart commented on #2390
ZBUS error - Port was missing from the ngrep commandline.

[2015-02-27 14:54] #2390 closed

[2015-02-27 15:22] wsimmonds opened #2396 "Error: "invalid memory address or nil pointer dereference" when trying to add new node to existing cluster"
Hi,

I'm currently experiencing an issue when trying to add a new node to an existing cluster. I'm running 2.0.3 from within a Docker container. My log looks somewhat like the following:

Feb 27 14:52:58 ip-10-21-1-94.ec2.internal systemd[1]: Starting etcd container...
Feb 27 14:52:58 ip-10-21-1-94.ec2.internal writer_process[4938]: etcd
Feb 27 14:52:58 ip-10-21-1-94.ec2.internal writer_process[49

[2015-02-27 15:47] kelseyhightower commented on #2396
@wsimmonds At a quick glance it seems you have a configuration issue with the `-initial-cluster` flag. Notice that `ip-10-21-1-43.ec2.internal` is listed twice. I suspect this will not work even though you're using a different port for the peer address. My current understanding is that each member of the cluster requires a unique name. If you want to run two etcd servers on a single machine (not r

[2015-02-27 15:49] kelseyhightower commented on #2396
We also need to investigate why etcd is blowing up here. /cc @yichengq

[2015-02-27 15:52] wsimmonds commented on #2396
Thanks kelseyhightower. Case of not seeing the wood for the trees - been modifying so many different configurations lately that I missed that and suspect you are correct. Will let you know outcome shortly.

[2015-02-27 15:54] kelseyhightower commented on #2338
@xiang90 I think we can attempt to improve the error message a bit so we have a little context into what is going on. Is this error message related to raft?

[2015-02-27 16:02] xiang90 commented on #2338
@kelseyhightower

The error msg in this issue is generated by go's http standard library. i/o might be just slow for a moment  or raft is slow which might indirectly cause the timeout.

We do not have a better way to tell which is the root problem at the moment.

In 2.1.0 we have recored the time spending on i/o and raft separately. So hopefully, we can have a better answer for this issue.

Also w

[2015-02-27 16:07] xiang90 commented on #2338
@rrati

I am pretty sure this is not caused by etcd. This indicates a problem at the link layer most probably.
[code]

[2015-02-27 16:14] yichengq commented on #2396
@wsimmonds
It doesn't work because the name of the node `ip-10-21-1-94.ec2.internal` doesn't appear on the initial-cluster-list `ip-10-21-1-43.ec2.internal=http://10.21.1.43:2380,ip-10-21-1-43.ec2.internal=http://10.21.1.43:7001,ip-10-21-2-166.ec2.internal=http://10.21.2.166:2380,ip-10-21-2-166.ec2.internal=http://10.21.2.166:7001"`

etcd doesn't check this beforehand, so it panics here. gonna fix

[2015-02-27 16:15] kelseyhightower commented on #2395
@grimnight It seems this request is driven by the fact that etcd is being started outside of a process manager like upstart or systemd, so there is nothing to capture the "configuration" flags used to start etcd. If etcd is restarted there is no way to know how it was started originally because of the lack of configuration file.

Currently etcd does not have a config file because most configuratio

[2015-02-27 16:47] bdarnell opened #2397 "raft: ProposeConfChange/ApplyConfChange doesn't match thesis"
Configuration changes do not currently work as described in the thesis (pages 35-36): we call raft.addNode() as a result of ApplyConfChange, when it should be done as soon as the change is proposed (or when we scan the tail of the log in becomeLeader). If this is safe for some other reason (I know @xiang90 understands this issue well), it should be documented.

[2015-02-27 17:00] agokjr commented on #2376
I'm fairly sure it was set up like this. However I can check on Monday when I have the file I used to generate the environment with me. I have since turned off the client https and switched client to only 127.0.0.1.  (I was having with fleet with the https see lower half of #2378 where fleet was saying request were canceled and machines would timeout and temporary disappear from fleetctl list-mach

[2015-02-27 17:28] wsimmonds commented on #2396
@yichengq
Thanks for your response. Indeed the issue wasn't having multiple entries in initial-cluster for the same server with multiple endpoints.

However, it seems adding the node per your suggestion isn't working? (note: I have changed instance to .1.66 and got rid of .1.94 in case wondering about IP address change):

-initial-cluster ip-10-21-1-66.ec2.internal=http://10.21.1.66:2380,ip-10-21-

[2015-02-27 17:31] yichengq commented on #2376
A is the sync part. It grabs the advertise client urls from the cluster, and uses these urls to do the requests. (i recommend that you set advertise-client-urls correctly)

etcdctl peers flag is not ignored. It is used in the sync part.

[2015-02-27 18:05] agokjr commented on #2376
Ops Forgot I had it on the same line right now.

[2015-02-27 19:53] Telmo commented on #2383
a single endpoint would be definitely a plus, however I am aware that if a node drops from the cluster the cluster may not be aware that the node is not there any longer.

What's the http endpoint for `cluster-heatlh` ? I'd like to query it directly from something like a go program.

Basically, we are a BIG company, and we need to make sure our etcd cluster can be monitored so we can be proactive/

[2015-02-27 20:27] yichengq opened #2398 "etcd level logging"
https://github.com/coreos/etcd/pull/2367#commitcomment-9963091

Current etcd logs all things to Stderr. Separate logs into several levels(e.g., warning, info, debug) can make log file easier to read, and give users the control of log verbosity.

For example, when the remote is disconnected, local keeps attempting to build the connection. The details of each attempt can help debug, but the fact tha

[2015-02-27 21:02] ef4 commented on #2338
@xiang90 that doesn't follow. That reset message just means the other etcd has closed the socket -- probably in response to the read or write timeout mentioned in the other log lines.

[2015-02-27 23:40] kelseyhightower commented on #2383
@Telmo I'll produce a monitoring guide early next week for your review.

[2015-02-28 00:19] xiang90 commented on #2397
@bdarnell There are main two differences:

1. pre-check if the new node can catch up or not.
2. apply the configuration change before committing it.

For 1, I think it can be done outside raft. We plan to restore the snapshot and some of the committed log entries before the raft node actually starts.

For 2, the only difference I can see is when removing the node it might require a smaller quorum

[2015-02-28 00:46] timothysc commented on #2338
@xiang90 I agree with @ef4, this is not a link-layer issue.

[2015-02-28 02:22] yichengq commented on #2375
@bbangert What about this alternative:
[code]
Does it solve the problem?

For localhost running, i always running `goreman start` to start a 3-member cluster: https://github.com/coreos/etcd#running-local-etcd-cluster

[2015-02-28 06:06] fasaxc opened #2399 "Duplicate updates"
Using python-etcd, I started a loop, listening for updates recursively on a directory.  Then I used etcdctl to repeatedly set a value in a subdirectory.  Each time I set the value, I get two updates in python for the key that I set with consecutive etcd_index values and different raft_index values.  Both updates seem to show the same update event i.e. they have the same prev_node and new value and

[2015-02-28 14:52] bdarnell commented on #2397
For 1, I agree this can and should be done outside of raft.

My main concern is that the thesis specifically says that the change should take affect as soon as it is appended, so I just want to understand whether we're risking anything by doing it differently. I think the rule that no membership change can be proposed while another is pending covers every case I can think of; I haven't been able t

[2015-02-28 17:33] yichengq commented on #2380
@heyryanw We don't register name into the cluster when adding new member now, so the behave is expected.
The name of the member will be registered into the cluster when the member is actually bootstrapped.

[2015-02-28 17:37] yichengq commented on #2392
If you want to have configuration file, we recommend you write a `systemd` file in linux to bootstrap etcd. It is much clean and helps logging.

[2015-02-28 17:40] yichengq commented on #2393
Is this related to #2371 ?

[2015-02-28 17:42] yichengq commented on #2391
Why do you want this feature? etcd should run on stable storage, or it cannot guarantee the consistency it provides.

[2015-02-28 17:46] yichengq commented on #2376
`advertise-client-urls=https://127.0.0.1:4001` is better to be `advertise-client-urls=https://$public-ip:4001`, so other can fetch the endpoint through public ip.

[2015-02-28 18:01] yichengq commented on #2396
@wsimmonds We expect the peer urls to join the cluster is exactly the advertise-peer-urls of the new bootstrapped member. This is mostly for safety, ensures everything behaves correctly, and errors as early as possible. You should add the correct peer urls into the cluster.

This case is interesting. Could you reproduce it? I'd like to dig more into it in a new issue.

[2015-02-28 21:11] grimnight commented on #2393
This is not related to #2371 . I would just like to be able to limit memory use.

[2015-02-28 21:16] grimnight commented on #2391
I would like these features for testing purposes, I do not need persistence or clustering for my current use. To be specific I would like etcd to load existing data directory but not write back to it, there may be multiple separate instances of etcd running at the same time at separate ports.

[2015-02-28 21:21] grimnight commented on #2392
I'm on a mac so I would be using launchd or a process supervisor. Can you recommend a lightweight process supervisor that works well with etcd? Or I can try to make multiple launchd plist files, each with their own options.

[2015-02-28 22:45] timothysc commented on #2385
@kelseyhightower yup.

[2015-02-28 22:57] wsimmonds commented on #2396
@yichengq I will attempt to create a reliable complete set of steps to reproduce the issue and post it here when done.

I understand an expectation of matching the initial-advertise-peer-urls, and in my instance they do match? Here is some config extract from .1.66:

 -advertise-client-urls http://10.21.1.66:2379,http://10.21.1.66:4001 \
  -listen-peer-urls http://0.0.0.0:2380,http://0.0.0.0:7001

[2015-03-01 02:09] AdoHe commented on #2391
@grimnight maybe you should find another solution, etcd is not very suitable for such case.

[2015-03-01 04:34] kelseyhightower commented on #2391
@grimnight For this use case you can write a wrapper script that removes etcd's datadir before starting etcd and after etcd shuts down.

You can configure etcd with an initial cluster size of one and a single peer giving you a standalone etcd cluster.

Does this work for you?

[2015-03-01 16:41] xiang90 commented on #903
@benmccann

we have a rfc for security at https://github.com/coreos/etcd/blob/master/Documentation/rfc/api_security.md

the implementation progress will be tracking at https://github.com/coreos/etcd/issues/2384.

[2015-03-01 16:41] #903 closed

[2015-03-01 16:43] xiang90 commented on #2207
@spontaneous01 @yichengq I am closing this due to low activity. Feel free to reopen this if necessary.

[2015-03-01 16:44] xiang90 commented on #2187
@alex-mohr I am closing this due to low activity. You might want to try to reproduce with etcd 2.0.x and report back with more information if there is still some problems.

[2015-03-01 16:44] #2187 closed

[2015-03-01 16:47] xiang90 commented on #911
@kelseyhightower Can you try to work on this?

things to be reported:
reproduce the problem with simple setup (no other dependencies for the best)

etcd printed log

etcd data log/snapshot if possible

[2015-03-01 16:51] xiang90 commented on #731
this has been solved by https://github.com/coreos/etcd/commit/a4dab7ad7583c81300f5c75471e29321d2779858.

there are still some log compaction/snapshot related issue tracked by https://github.com/coreos/etcd/issues/2370

[2015-03-01 16:51] #731 closed

[2015-03-01 16:53] xiang90 commented on #2054
we decided to use http://prometheus.io/, which already has this nice features!

[2015-03-01 16:53] #2054 closed

[2015-03-01 19:17] xiang90 commented on #2380
@heyryanw This is duplicated with https://github.com/coreos/etcd/issues/2251.

We need to list the unstarted member as unstarted.

[2015-03-01 19:17] #2380 closed

[2015-03-01 19:17] xiang90 commented on #2356
@barakmich @yichengq Is this fixed?

[2015-03-02 04:45] yichengq commented on #2356
2.1 can run well with 2.0.4 etcd. It does print out lots of logs, which will be improved by error backoff PR.
/cc @barakmich

[2015-03-02 07:07] anilmoris opened #2409 "disk io with etcd and issue with snapshot flag."
I am seeing high disk io with etcd. I am using v2.
while attempting to run it with snapshot false. I am seeing this
flag "-snapshot" is no longer supported

I tried ETCD_SNAPSHOT=false; export ETCD_SNAPSHOT as well but keep getting flag "-snapshot" is no longer supported and I see high disk io from etcd in iotop.

How can I force etcd use only memory and not touch disk. I have 100's of servers try

[2015-03-02 08:08] yichengq commented on #2392
/cc @kelseyhightower Any suggestions for OS X?

[2015-03-02 08:16] yichengq commented on #2396
@wsimmonds Please open a new issue because it is another problem.

It maintains a cluster info in etcd cluster too. Please check
https://github.com/coreos/etcd/blob/master/Documentation/other_apis.md#list-members or `etcdctl member list` to see whether they are match.

[2015-03-02 16:36] timhaak commented on #2396
Hi

I'm having the same problem when using -initial-cluster-state existing.

Double checked and no duplicates.

2015/03/02 16:33:03 no data-dir provided, using default data-dir ./mojo5.etcd
2015/03/02 16:33:03 etcd: listening for peers on http://0.0.0.0:2380
2015/03/02 16:33:03 etcd: listening for client requests on http://0.0.0.0:2379
2015/03/02 16:33:03 etcd: listening for client requests on htt

[2015-03-02 16:52] wsimmonds commented on #2396
@timhaak - I have got mine working now, but only by listening on a single peer port and calling etcdctl member add prior to starting the node (which I hadn't read/understood previously). My issue seems to have been a combination of several others which are already on the issues list and I'll post more details later or tomorrow.

Prior to starting your instance, have you done etcdctl member add <na

[2015-03-02 17:57] agokjr commented on #2376
Ok I now have the files in front of me, and I think I know what my problem was now. Mix up of '-' and '_' in the file that I used to generate the cloud config file. 'advertise-client-urls' vs 'advertise_client_urls'

Here is what I had moved to a separate file for generating the cloud config.
[code]

[2015-03-02 19:18] philips opened #2411 "etcdctl: port to use github.com/coreos/etcd/client"
We need to port etcdctl to client to make sure the API makes sense and that the implementation works.

[2015-03-02 19:55] timhaak commented on #2396
Yes think I'm doing something wrong. Was more that I assume it should say x wrong not give run time error.

Sorted out what I needed on my side so not critical to me :)

I should have been using proxy not existing. Was a misunderstanding of the model on my side. I assumed you bootstrapped then added all the servers and they decide between themselves which were active and which slave (proxy).

[2015-03-02 20:47] xiang90 commented on #2397
That is not true in the future. etcd needs to apply in another thread too: https://github.com/coreos/etcd/pull/2117

no.

You must ensure the apply routine applies the entries as the same order they were committed.

The only difference between "apply configuration before commit it" and "apply configuration after commit it" is that the proposals between the real time the leader receives the configu

[2015-03-02 20:48] xiang90 commented on #2397
@bdarnell It would be great if you can spend some time to write a doc for this and add it into /raft/doc.go.

[2015-03-02 22:03] xiang90 commented on #2105
@yichengq This is kind of solved, right?

[2015-03-02 22:08] yichengq commented on #2105
yes. further optimization may include batching them until 1ms passes.

[2015-03-02 22:08] #2105 closed

[2015-03-02 22:48] xiang90 commented on #2338
@ef4 @timothysc By link-layer, I mean the layer under etcd. We have found the root cause after looking into it. As #2323 has merged, we will fix it shortly.

[2015-03-03 06:00] mosquitorat commented on #815
I got the same problem with etcd 0.4.6, but after remove all data in /var/lib/etcd/*, I cloud start the etcd cluster.

[2015-03-03 13:52] kelseyhightower commented on #2409
@anilmoris Yes, the snapshot flag is no longer available in etcd v2.0.x, you'll have to tune snapshots using the `--snapshot-count` flag. By default etcd will create a snapshot every 10000 transactions. Try bumping this to say 100000.

We are working to add more tuning, but since etcd is currently backed by an in memory store snapshots are critical for normal operation. We do mitigate data loss wi

[2015-03-03 13:58] kelseyhightower commented on #2399
@yichengq Can you take a look at this one?

[2015-03-03 14:02] kelseyhightower commented on #2396
@timhaak This correct. Everything in etcd 2.0.0 is explicit now. @yichengq Is there a new ticket for the nil pointer issue?

[2015-03-03 14:04] kelseyhightower commented on #2395
@grimnight There are currently no plans to add a configuration file to etcd. Once the etcd core matures a little more, such as adding the new backend store and other features that might require tuning, we might revisit this. For now etcd does not have a configuration file.

[2015-03-03 14:04] #2395 closed

[2015-03-03 14:07] kelseyhightower commented on #2393
@grimnight Yes this is not related.

A couple of questions come to mind for a feature like this. When memory usage limits are reached how should etcd handle new writes? Expiring TTLs -- should we let them expire and risk losing data?

[2015-03-03 14:08] kelseyhightower commented on #2394
@grimnight Are you thinking of an API endpoint that will allow you to dump etcd data?

[2015-03-03 14:09] kelseyhightower commented on #2392
@grimnight Yes a plist file would work and provide the same workflow that systemd does. Just be sure to use a different data directory for each "config".

[2015-03-03 14:09] #2392 closed

[2015-03-03 14:10] kelseyhightower commented on #2391
@grimnight Closing for now, let me know if the proposed solution does not work for you.

[2015-03-03 14:10] #2391 closed

[2015-03-03 14:11] kelseyhightower commented on #2383
@Telmo I did not forget about you. I'm setting up our etcd integration environment now and I'm using Datadog for metrics and monitoring. Once I've got my datadog integration done I'll share it with you.

[2015-03-03 14:28] kelseyhightower commented on #2378
@agokjr The fix for this has been merged. Please feel free to reopen this issue if you are still having this problem with the proposed fix.

[2015-03-03 14:28] #2378 closed

[2015-03-03 14:31] kelseyhightower commented on #2338
@timothysc I've just merged a fixed for this issue, can you please test this on master?

[2015-03-03 14:31] kelseyhightower commented on #2338
@ef4 ^

[2015-03-03 14:45] kelseyhightower commented on #961
I'm closing this issue since new version of etcd have shipped since this was reported, and etcd 2.0.0 has become the new stable.

[2015-03-03 14:45] #961 closed

[2015-03-03 14:49] kelseyhightower commented on #1959
@theambient Glad to hear it.

@satnam6502 Let me know when you get a chance to test etcd 2.0.x, since reporting this issue we've release etcd 2.0.4 and a few changes on master that might help with etcd and idle connections.

[2015-03-03 14:53] #2207 closed

[2015-03-03 15:23] timothysc commented on #2338
@kelseyhightower we've updated and ran for about an hour with no sign of the timeouts.

[2015-03-03 15:26] kelseyhightower commented on #2338
@timothysc Awesome.

[2015-03-03 15:26] kelseyhightower commented on #2338
I'm going to close this one out. Please feel free to reopen if required.

[2015-03-03 15:26] #2338 closed

[2015-03-03 15:45] xiang90 commented on #2409
@anilmoris I think the root problem is etcd does not batch `fsync`s in 2.0 release. Each entry it writes to its write ahead log requires a `fsync`. We plan to do it in the laster release to reduce the pressure on the local disk and improve the write throughput.

https://github.com/coreos/etcd/issues/1757

[2015-03-03 16:01] satnam6502 commented on #1959
Thanks -- I should emerge from a e2e testing quagmire shortly so I hope to return my attention to scalability shortly.

[2015-03-03 16:09] rismoney opened #2419 "etcd on windows"
I am testing out the etcd-v2.0.4 windows amd64

Several questions-
Should the binaries for etcd and etcdctl be renamed as .exe?
It does not appear that the command line switches seem to be working.

Is etcd on windows only at the point of building succesfully or has functionality been confirmed?
I am trying to run etcd as a proxy, that points to a etcd cluster elsewhere.
Any guidance would be appr

[2015-03-03 16:35] grimnight commented on #2394
Yes. An API endpoint to trigger a flush.

[2015-03-03 17:38] olibob commented on #2385
I ended up here looking exactly for what's requested. I ended up doing a `etcdctl ls -recursive`, greping for the keys I wanted to remove and feeding them to `etcdctl rm`

[2015-03-03 17:42] timothysc commented on #2385
@olibob great minds think alike ;-)

Anyway... I know upstream is not to keen on treating it as a file-system, but users would ideally like to perform all the traditional ops.  IMHO a fuse mount would enable, and folks could just say they *will not* support the entirety of POSIX semantics.

[2015-03-03 18:02] jeremyeder commented on #2385
Sounds like I'm not the only one that wants etcdctl to become a full-fledged etcd CLI client...

[2015-03-03 19:13] yichengq opened #2423 "fatal: save snapshot error: short write"
We run 3 GCE machines, and the leader fatal with `short write` error.

[code]

The disk to hold data dir /var/lib/etcd has much available space still:
[code]

[2015-03-03 19:13] #2251 closed

[2015-03-03 19:18] yichengq commented on #2423
What I did is to boom 1000 clients to this machine. I checked that the fd limit for the etcd process is 1024, so it may be caused by the lack of fd.

[2015-03-03 19:59] Telmo commented on #2383
Perfect, thank you very  much for this.

[2015-03-03 21:21] iamthemuffinman opened #2424 "Brought up a 2-node cluster, two different clusters..."
I brought up a 2-node cluster using the same cloud-config file and ended up with two different clusters somehow. Here's my [cloud-config](https://gist.github.com/iamthemuffinman/09ec9acc971a6206f6f8). When I ```fleetctl list-machines``` on either of the nodes, they only show that specific machine in the cluster, not both. I checked the output of ```journalctl -u etcd``` on both machines and they b

[2015-03-03 22:24] vtolstov opened #2425 "--discovery-srv error or something wrong in config"
sudo etcd --data-dir /var/lib/etcd/ --discovery-srv selfip.ru --force-new-cluster 'true'
2015/03/04 01:31:59 discovery: Error querying DNS SRV records for _etcd-server-ssl lookup _etcd-server-ssl._tcp.selfip.ru: no such host
2015/03/04 01:32:02 discovery: Got bootstrap from DNS for etcd-server at host selfip.ru.:2380 to http://37.139.40.30:2380
2015/03/04 01:32:02 etcd: listening for peers on http

[2015-03-03 22:27] vtolstov commented on #2425
I'm try to remove /var/lib/etcd/* but this is not helps. etcd latest released version

[2015-03-03 22:29] vtolstov commented on #2425
Hm, as i see if dir contains placeholder files like .gitkeep or .keep etcd can't start =(.

[2015-03-03 22:31] #2425 closed

[2015-03-03 22:33] vtolstov opened #2426 "etcd --discovery-srv and initial configuration"
I have 100 nodes and want to run etcd on it, i'm prefer discovery-srv method to provide nodes addresses.
But as i see i can't use this in initial configuration, does it possible to determine that cluster is empty and doing initial configuration while bootstrap?

[2015-03-03 23:00] kelseyhightower commented on #2426
@vtolstov Ideally you will run an active etcd cluster of 3 - 5 nodes and the other nodes will run etcd in proxy mode. Using the DNS bootstrap, you can set aside 3 - 5 DNS entries that resolve to the active nodes. Then you can create the DNS SRV record as described in the DNS bootstrap guide.

The same DNS SRV record can be used to point the etcd proxy, which runs on all the other machines, to the

[2015-03-03 23:04] kelseyhightower commented on #2424
@iamthemuffinman Setting up a two node cluster is not a good idea. See this guide for more details: https://coreos.com/docs/cluster-management/scaling/etcd-optimal-cluster-size

As to why you are having this issue, I need to take a look at the cloud configs and maybe the logs from both etcd machines. Happy to help figure this out in IRC too.

[2015-03-03 23:05] kelseyhightower commented on #2423
@yichengq We can bump the fd in the units.

[2015-03-03 23:16] kelseyhightower commented on #2419
@rismoney We don't activity test etcd on windows here, so we only provide the binaries. Are you getting any error messages?

[2015-03-03 23:24] yichengq commented on #2423
@kelseyhightower We have done that. And the error goes away. We are not sure the "short write" is caused by the fd issues. But it seems they are strongly related. I will verify that soon.

[2015-03-04 04:33] anilmoris commented on #2409
Thanks for the response, I am using enterprise high speed SSD locally on the box where etcd is running.
I will increase --snapshot-count and try this.

I was planning to use tmpfs as data dir for etcd, but I could not figure out a max size I can use reliably.
Do you have any suggestions, concerns on using tmpfs?  I can allocate 2 to 3 GB if that is ever going to be the max size of the data directo

[2015-03-04 04:35] xiang90 commented on #2409
@anilmoris It depends on your data put into etcd. etcd will clean up old wal files and snapshot files.

[2015-03-04 05:09] vtolstov commented on #2426
@kelseyhightower i'm think about 9 nodes in active mode and all other in failover mode.

[2015-03-04 05:10] yichengq commented on #2399
Could you give me a more concrete example with URLs that python-etcd generated? Based on your description, i cannot figure out whether the problem comes from etcd or python-etcd.

My guess so far is that the event index returned > 49, so if you wait on 48 and 49, you will get two events.

[2015-03-04 05:32] AdoHe opened #2428 "Standby Internal Error"
I use etcd 0.4.6 and create a cluster with three nodes, after some time I found there is just one node can work, when visit other two nodes, you will get `Standby Internal Error`

[2015-03-04 05:38] vtolstov commented on #2426
As i see etcd can't combine initial-cluster and discovery-srv.. why?

My use case - try to discovery-srv if cluster info is absent - use initial-cluster.
[code]

[2015-03-04 05:49] yichengq commented on #2376
@agokjr Cool. Any other problems?

[2015-03-04 06:30] yichengq opened #2429 "httptypes: unmarshal memberCollection failure"
From https://github.com/coreos/go-etcd/issues/189

The https://github.com/coreos/etcd/commit/4a77760f56d9ae6ca86a2250aeb3aed0f971a20c breaks the backward compatibility:
https://github.com/coreos/go-etcd/blob/master/etcd/client.go#L315

[2015-03-04 06:49] yichengq commented on #2396
@kelseyhightower This one is the issue to track the panic error. Will fix it later.

[2015-03-04 06:50] Audumla commented on #2308
I just made the above changes and this is now working on an odroid u3 as well. It would be great to have this working out of the box though.

[2015-03-04 07:11] leeychee opened #2430 "Use wrong url to add itself to discovery.etcd.io service"
etcd version: 0.4.7

when `discovery=http://192.168.97.190:4001/v2/keys/_etcd/registry/7acda9caa786690d4ff7402411c92db6`, It woks fine.

but when
`discovery=http://192.168.97.190/7acda9caa786690d4ff7402411c92db6`, it does not work.
It uses wrong url `http://192.168.97.190//7acda9caa786690d4ff7402411c92db6/node_name` to add itself.

So, how should I do to avoid this issue?

[2015-03-04 07:18] miekg commented on #2308
[ Quoting <notifications@github.com> in "Re: [etcd] etcdserver/ARM: starting..." ]

Note that the same bug is triggered on 32 bit intel.

(my lousy virtual machine which I sometimes use for development, is only 32 bits)

[2015-03-04 08:07] pyKun commented on #2238
Has this performance issue been fixed? I found the referred #2323 has been merged.

[2015-03-04 14:33] iamthemuffinman commented on #2424
Doh! Didn't see that. I'm gonna rebuild the cluster using 3 nodes this time and see if I still have the issue. I'll report back later today.

[2015-03-04 15:23] xiang90 commented on #2238
@keithtobin @pyKun It now takes less than 1 second.

[code]

[2015-03-04 16:16] anilmoris commented on #2409
I have 5 member cluster I see more writes  (disk I/O) when  all 5 box are up.
with 3 member cluster same load/data I see much lower disk I/O.

If I go with a 9 member cluster, then each write is going to be written to all other 8 member's as well?

[2015-03-04 16:26] fasaxc commented on #2399
I'll try to boil it down and double check my index calculation logic. Maybe
I accidentally incremented the request index instead of the new index from
the response.
On 3 Mar 2015 21:10, "Yicheng Qin" <notifications@github.com> wrote:

[2015-03-04 18:29] kelseyhightower opened #2432 "There should be a full tutorial for upgrading from etcd 0.4.x to etcd 0.2.x"
This guide should also cover etcd migrations and running etcd in fully manage mode outside of an CoreOS cluster.

[2015-03-04 18:31] rosskukulinski commented on #2432
Thanks @kelseyhightower, this would be awesome.  I'm available to do early testing of the guide on the following platforms:
* bare-metal w/ pxe boot
* Cloud w/ Rackspace

[2015-03-04 18:31] kelseyhightower commented on #2432
Ok, This is my highest priority this week.

[2015-03-04 20:59] philips opened #2436 "discovery: figure out etcd discovery method + ACLs"
When we add ACLs (#2242) to etcd we will need to consider how the user will use an ACL protected etcd cluster to bootstrap another cluster. Right now we just assume a client can write/read unauthenticated.

/cc @barakmich

[2015-03-04 21:29] #2397 closed

[2015-03-04 22:25] yichengq opened #2437 "panic on removing unknown peer"
The cluster doesn't have that peer when apply remove confchange.
This is because it gets the latest info from the remote peer instead of recovering from the snapshot, which may be have smaller index.

[code]

/cc @jedsmith

[2015-03-04 22:38] pateld982 opened #2438 "Watch channel"

[2015-03-04 22:38] #2438 closed

[2015-03-05 01:08] ematpl commented on #2429
Thanks, @yichengq!

[2015-03-05 03:11] pyKun commented on #2238
seems good:) I would recheck later

[2015-03-05 04:09] rismoney commented on #2419
[code]

Am I trying to invoke the proxy wrong?

[2015-03-05 05:17] kelseyhightower commented on #2409
@anilmoris You have 5 nodes and 5 different servers? Are there any other work loads on the etcd database boxes?

[2015-03-05 06:35] agokjr commented on #2376
Things are working nicely now with etcd.

[2015-03-05 06:35] #2376 closed

[2015-03-05 07:04] anilmoris commented on #2409
let me clarify our setup.
I have a 5 machine etcd cluster.

I have around 100 server's doing writes to the above 5 machine etcd cluster.

I would like to know if one of the server does a  write to etcd cluster then is that write going to propagate to all the 5  machine in etcd cluster?

If yes then can I limit this, say in my 5 machine etcd cluster I want to keep only 3 copies, so when a write hap

[2015-03-05 09:54] wsimmonds commented on #2396
@yichengq I've now had time to create a new cluster and work out the exact steps necessary to reliably (at least in my case!) reproduce the panic seen above:

- Start up a new 3-node cluster (in my case, I used Public Discovery but I doubt that matters) with etcd v2.0.3
- Remove 1 node (etcdctl member remove & take it offline)
- Create new node but don't start etcd yet. Configure/start as follows:

[2015-03-05 12:38] kelseyhightower opened #2442 "document the support for writing the wal and snapshots on separate disks"
etcd supports writing the write ahead log and snapshots in different directories, the database administrator can optimize log compaction (snapshotting) by using separate disks for the log (wal) and the snapshot.

This is easy to do in the places we need it most. While a single SSD can be costly in the cloud, multiple  disks (non-SSD) are relatively inexpensive.

[2015-03-05 18:06] xiang90 commented on #2442
This is not only a doc issue. etcd needs to support snap-dir and wal-dir separately.

[2015-03-05 19:11] kelseyhightower commented on #2442
@xiang90 I think the snapshots are in a different director under the data dir

So we can mount

/var/lib/etcd
/var/lib/etcd/snapshot

[2015-03-05 19:13] xiang90 commented on #2442
@kelseyhightower Oh, right. You can do that without the support from etcd.

[2015-03-05 20:27] #2424 closed

[2015-03-05 20:48] iamthemuffinman opened #2445 "Ports 4001 and 7001 are closed"
When I bring up a 3-node cluster on bare-metal, the first 2 nodes come up fine but with all ports closed except the ssh port. I verified this by looking at iptables and nmap via the toolbox container. The 3rd node doesn't even contain the SSH key listed in the cloud-config. Here's my [cloud-config](https://gist.github.com/iamthemuffinman/d6fd65480eed7292c422).

EDIT:

When I pull up a 3-node clust

[2015-03-05 20:49] xiang90 commented on #2445
@kelseyhightower Can you take a look?

[2015-03-05 23:09] yichengq opened #2449 "stuck on client.Do when running test"
[code]
/cc  @bcwaldon

[2015-03-06 00:27] xiang90 commented on #2428
/cc @yichengq

[2015-03-06 00:28] xiang90 commented on #2409
Yes. etcd is a replicated log system. all servers will get a full copy of the same committed log.

[2015-03-06 03:46] heyryanw commented on #2380
Sorry, for the delayed response. As @kelseyhightower asked, when using the commands to add the member in, it throws an error stating it cannot be found in the cluster by name. Guess there's a few issues surrounding this though.

[2015-03-06 04:20] xiang90 commented on #2423
@yichengq @kelseyhightower The root cause is `bufio` is not thread-safe.

[2015-03-06 04:57] #2423 closed

[2015-03-06 06:01] AdoHe opened #2452 "Read Consistency Problem"
Hi guys, I noticed that you removed `Read Consistency` part from the 2.0 documentation. There is a problem I just get confused: in etcd v0.4.6, whether the leader will handle all the client requests, no matter read or write? the follower will not handle client requests ? as you moved `consistent` flag in the 2.0, so how about a client read from the follower? it will get the most up-to-date value?

[2015-03-06 12:18] AdoHe opened #2454 "Could v0.4.6 run together with v2.0?"
Assume we have a cluster made of three nodes which run etcd 0.4.6, now we want to join another node which run etcd 2.0, I want to know whether this will success...

[2015-03-06 17:42] xiang90 commented on #2452
Please refer the doc at https://github.com/coreos/etcd/blob/master/Documentation/backward_compatibility.md#key-value-api

[2015-03-06 17:42] xiang90 commented on #2437
@yichengq can you please look at this problem?

[2015-03-06 19:39] #2321 closed

[2015-03-06 23:42] xiang90 opened #2457 "raft pkg logging"
@yichengq @bdarnell

raft pkg deserves a separate logger. we have a few options here:

1. add an interface
2. use a pkg level global logger like juju/loggo
3. your opinions

we are also trying to solve this problem in etcd. etcdserver can be embedded too.

[2015-03-06 23:45] xiang90 commented on #2454
You have to upgrade the cluster. 2.x cannot talk with old 0.4 since the internal protocols are different.

[2015-03-06 23:56] bdarnell commented on #2457
We use https://github.com/golang/glog in cockroach. If etcd used glog, we'd run into trouble because you vendor your dependencies with rewritten imports and the two sets of init() hooks would collide. (This is likely to be a problem for any logging library and is one of the reasons to break raft out into a separate project).

I think that since we want to make raft available as a reusable library,

[2015-03-07 01:36] xiang90 commented on #2457
Definitely, we are trying hard not involve any etcd/cockroach specific logic into raft as well as achieving clean API.

Sure. The default one would be a thin wrapper around default log probably.

What levels do you have in mind? I can work on it and let you review.

[2015-03-07 04:05] xiang90 commented on #2430
@yichengq Can you please take a look?

[2015-03-07 04:07] xiang90 commented on #2371
@dchen1107
https://github.com/coreos/etcd/tree/master/Documentation/benchmarks

This kind of solves the issue. At least we have the baseline now. We will publish the benchmark tool soon.

[2015-03-07 04:07] #2371 closed

[2015-03-07 04:08] xiang90 commented on #1988
@yichengq What is the current status of this?

[2015-03-07 04:10] xiang90 commented on #1808
@bdarnell
We already started etcd level failure injection test at https://github.com/coreos/etcd/tree/master/tools/functional-tester

[2015-03-07 07:02] AdoHe commented on #2452
so it means within etcd cluster, every node(leader or non-leader) can handle client read requests, the follower has no need to redirect client read requests to leader node, but if `consistent` flag set to true, just the leader node can handle client read&write requests.

[2015-03-07 07:02] AdoHe commented on #2452
@xiang90 is it right?

[2015-03-07 07:05] AdoHe commented on #2454
@xiang90 so for the upgrade, assume we have a five nodes cluster in production, is there any solution to upgrade etcd version without cluster down? or we have to shutdown the cluster at first, then upgrade all five nodes, and restart the cluster?

[2015-03-07 07:16] AdoHe opened #2458 "etcd timeout documentation and tests"
is there any tests about timeout within etcd 0.4.6?

[2015-03-07 17:04] bdarnell commented on #2457
Log levels error/warning/info/debug seem pretty universal. Glog has a numbered verbosity level which is effectively an infinite number of "debug" levels, but that's probably too fine-grained.

[2015-03-07 21:07] sepiroth887 commented on #2056
Bump, im really interested in this as well, if I bootstrap an etcd cluster id like to pass everything (certs included) in the cloud-config but I only know the IP of each machine after it's started (dynamic ip allocation....)

I've considered bootstrapping a dedicated cluster but this becomes unfeasible for a large deployment i think (i'd rather have each service cluster run it's own etcd with loca

[2015-03-07 23:11] marineam commented on #2457
On Fri, Mar 6, 2015 at 6:56 PM, Ben Darnell <notifications@github.com>
wrote:

FWIW this could be cleaned up by running `godep restore` on etcd to revert
the import rewrites and then vendoring the result in your project. I did
that when importing etcd into another project that also used godep. The
only library I had to be careful about was protobuf which needs to stay in
sync with any autogenerate

[2015-03-07 23:24] bdarnell commented on #2457
@marineam I must be missing something. Etcd's imports were rewritten with `godep save -r`, but `godep restore` doesn't have a `-r` flag to undo the damage. How do you get an etcd that will actually use the results of `godep restore`?

In any case, even if this works it compels anyone who depends on etcd to use import rewriting, which is not our preference (we're using glock instead). It's nice to

[2015-03-07 23:36] marineam commented on #2457
@bdarnell hm, if godep restore doesn't undo rewrites then I don't remember what I did to clean that up. godep gets confusing at times... Anyway, agreed that things are a lot easier if reusble parts are on their own and it is just the 'main' package that gets bundled with vendored/rewritten libs. On the other hand fewer git repos are easier to keep track of. :)

[2015-03-07 23:42] xiang90 commented on #2457
@marineam @bdarnell We have been very careful about the dependency inside raft pkg. We hope it can be a reusable component and easy to manage. The only external dependency is `context`. We can even remove that dependency it necessary.

[2015-03-07 23:43] xiang90 commented on #2457
@bdarnell OK. working on it. should have something ready for review on Monday.

[2015-03-07 23:45] bdarnell commented on #2457
And gogoproto. Cockroach currently contains two copies of gogoproto: one for raft and one for itself. This isn't a problem, but it would be nice to clean it up.

[2015-03-08 06:23] ThomasLau commented on #2454
guess you can upgrade etcd one by one  without the cluster down, ^.^

[2015-03-08 07:48] eric-nuaa opened #2462 "Is it possible to automatically create a unique and isolated key namespace for each unit started by fleet"
I know there will be authentication and ACL in etcd soon (https://github.com/coreos/etcd/blob/master/Documentation/rfc/api_security.md). However I think it will be helpful to automatically create a unique and isolated key namespace every time when a new unit is started by fleet (e.g., v2/keys/units/myunit), and the unit is ONLY allowed to read/writer under this key namespace. In this way, when use

[2015-03-08 14:34] AdoHe commented on #2454
@ThomasLau Guess we can find a good solution together :)

[2015-03-08 17:03] haf opened #2463 "Disaster Recovery doesn't work? (w00t)"
I'm simulating a major outage with my small vagrants, and in this case I've gotten a full disk, destroyed a node and "accidentally" rebooted the machines, so that the quorum was lost.

You can read all about that here: https://github.com/deis/deis/issues/3235

But besides that, the [docs on disaster recovery](https://github.com/coreos/etcd/blob/master/Documentation/admin_guide.md#disaster-recovery

[2015-03-08 17:07] xiang90 commented on #2463
what version of etcd were you running? The doc is for etcd 2.0 release.

[2015-03-08 17:09] xiang90 commented on #2463
@haf From the dies issue, you were running 0.4.7. Can you please try 2.0? Thanks for reporting.

[2015-03-08 17:09] #2463 closed

[2015-03-08 17:09] haf commented on #2463
How do I do that? I'm using coreos stable?

[2015-03-08 17:09] haf commented on #2463
Isn't it stable?

[2015-03-08 17:12] haf commented on #2463
You latest release doesn't contain v2.0 even (alpha)

![screen shot 2015-03-08 at 18 12 26](https://cloud.githubusercontent.com/assets/193115/6546722/b6cc374e-c5be-11e4-9b49-f49421979e53.png)

[2015-03-08 17:19] xiang90 commented on #2463
@haf

Putting the new version of etcd into CoreOS image involves some extra work. We need to ensure the upgrading experience is smooth enough for most people. We have done most of the hard work and will release etcd 2.0.x into CoreOS image soon.

At this moment, you can 1) try 2.0 by installing the released binary 2) wait for us release 2.0 in CoreOS.

[2015-03-08 17:21] haf commented on #2463
How? Is there a package manager for CoreOS? I'm new to this so I haven't been able to find anything about it? Does that still rescue my data?

[2015-03-08 17:24] xiang90 commented on #2463
@haf

You can run etcd inside a container. You can find it in the release page of etcd project on github.

As you are just simulating the process, I guess you should probably go directly with etcd 2.0 instead of trying to recover the broken 0.4 data.

[2015-03-08 17:26] haf commented on #2463
The thing is, I still need Deis to work in production (which is the aim of the testing), and according to SemVer, the 2.0 version won't work (or won't be tested).

So what do you recommend? Would you recommend that new Deis deployments are switched to etcd 2.0 and you know that works?

[2015-03-08 17:30] xiang90 commented on #2463
We bump the major version only because we broke the internal API, not the external API.

I suggest people to try out etcd 2.0 and move to etcd 2.0 from 0.4.6. I cannot say Deis would work perfectly on etcd 2.0. You need to contact Deis team to confirm that or ask them to test.

[2015-03-09 01:20] bprashanth opened #2465 "Configurable memory usage options for etcd"
I was playing around with etcd 2.0.4 on a puny ~1.6G, single core debian. I noticed if i just throw writes at it while I get some coffee, it ooms. I used:

[code]
There were 2 problems:
1. The memory grew unbounded till it crashed
2. When I restarted it, it OOM'ed trying to restore the snapshot (or take another): https://gist.github.com/bprashanth/1b23eb9464c3b2494311

I solved 2 by setting --snap

[2015-03-09 07:14] xcrezd opened #2466 "How to run DEBUG mode, how to configure logs"
1.Where is no information about how to run etcd in debug mode(or verbose) in etcd --help
1.Where is no information about how to configure logs(level, path to file) in etcd --help

I tried to search it in source code, but with no success.

./etcd --version
etcd version 2.0.4

[2015-03-09 09:01] AdoHe commented on #2466
@xcrezd I am afraid there is no such option now. For the log, I think you can find some in your data dir.

[2015-03-09 15:01] xiang90 commented on #2457
closed via https://github.com/coreos/etcd/pull/2460

[2015-03-09 15:01] #2457 closed

[2015-03-09 16:30] yichengq commented on #2399
How is it going so far?

[2015-03-09 16:49] yichengq commented on #2238
@keithtobin This issue has been kind of solved. We will keep improving the performance.

[2015-03-09 16:50] #2238 closed

[2015-03-09 16:54] yichengq commented on #2419
@rismoney use `--proxy on` or `--proxy readonly`. That should make you continue to explore. I will open an issue for flag parsing stuff.
The clustering command example is here: https://github.com/coreos/etcd/blob/master/Documentation/clustering.md#static

[2015-03-09 16:55] yichengq opened #2467 "etcdmain: flag parsing confusion"
`etcd --proxy on readonly --listen-client-urls 127.0.0.1:8080 --initial-cluster infra0=http://foo.example.com:4001`
should print error log because we cannot parse `--proxy on readonly`.

from #2419

[2015-03-09 16:57] xiang90 commented on #2409
@anilmoris It seems that you have got the answer. Thanks for the question!
I am closing this now. Feel free to reopen this or create another issue if you have any thing to follow up.

[2015-03-09 16:57] #2409 closed

[2015-03-09 16:59] #1766 closed

[2015-03-09 16:59] #2356 closed

[2015-03-09 17:00] xiang90 commented on #2234
This has been fixed by https://github.com/coreos/etcd/pull/2456?

[2015-03-09 17:00] yichengq commented on #2356
log printout is followed up at #2402

[2015-03-09 17:03] willejs commented on #2207
I am seeing this too on 2.0.3. I have deleted the state directory cluster wide, and am trying to start the nodes with a new discovery key.
one node gets this
[code]
and the other two get this
[code]

When i curl the discovery end point, i only see one node in the list.

[2015-03-09 17:04] xiang90 commented on #2394
@grimnight We might be interested in this idea if you has a concrete use case. It is not on our short term roadmap.

[2015-03-09 17:05] yichengq commented on #1988
It has been done. Current etcd cluster can run smoothly with 2000 write requests per second for a long time, and it fixes the proposal issue: https://github.com/coreos/etcd/issues/2238#issuecomment-77177315

[2015-03-09 17:05] #1988 closed

[2015-03-09 17:07] barakmich commented on #2356
I confirm it works; there is an apparent slowdown, but the key that I'm going for is that a slowly-rolled-out update of etcd will function and have quorum.

[2015-03-09 17:10] kelseyhightower commented on #2318
@timothysc I'm going to close this one out for now. If you can think of anything we can do to improve the docs around this, please feel to reopen this issue.

[2015-03-09 17:10] #2318 closed

[2015-03-09 17:12] yichengq commented on #2234
This is another case needed to be fixed. If user gives the tls info and 'http' urls, etcd should warn that 'https' is recommended.

[2015-03-09 17:14] xiang90 commented on #2234
ok. sure. but in that case shall we stop as an error instead of just warning?

/cc @kelseyhightower @barakmich

[2015-03-09 17:16] yichengq commented on #2153
@stevenschlansker It is improved a little now. A request can be done in one hundred ms.

[2015-03-09 17:17] xiang90 commented on #2153
@yichengq I guess the follower need to piggy back the index at ms level, not xxms.

[2015-03-09 17:22] yichengq commented on #2428
@AdoHe For 0.4, it does auto removal of dead members.
You could invalidate this by set infinite long removal delay: https://github.com/coreos/etcd/blob/release-0.4/Documentation/api.md#set-cluster-config

[2015-03-09 17:26] #2428 closed

[2015-03-09 17:26] stevenschlansker opened #2468 "Watch endpoint should have a timeout option"
Currently, the `?wait=true` option to GET (to create a watch) will wait indefinitely for the key to change.  This interacts poorly with socket timeouts.

If you have any non-infinite socket timeout, you must know that a socket timeout exception can actually happen simply if no change has happened before the timeout.  You can't differentiate between this state and the server disappearing and being

[2015-03-09 17:59] yichengq commented on #2430
@leeychee This is designed in this way: https://github.com/coreos/etcd/blob/release-0.4/Documentation/discovery-protocol.md
For public discovery service, we redirect it into /v2/keys/. If you have interest for it: https://github.com/coreos/discovery.etcd.io

[2015-03-09 18:03] #2430 closed

[2015-03-09 18:28] willejs commented on #2207
I have changed the discovery url to http, and have run tcpdump and collected the calls made to the discovery service.
It appears that one node registers successfully. then the other two attempt to register with the same id, one is successful the other one isnt.
I then restart all the nodes, and they all try and register with the same ID.

To me this seems strange, and would suggest that i am doing

[2015-03-09 18:41] yichengq commented on #2452
Yes. This is how 0.4 works.

In 2.0, the normal read operations provides the same consistency guarantees with the 0.4.6 read operations with consistent flag set.

[2015-03-09 18:43] yichengq commented on #2458
No.

We will document the usage of timeouts in 2.0 in the future.

[2015-03-09 19:46] yichengq commented on #2462
@eric-nuaa The unit management is done in docker and fleet, so they should be responsible for ACL management IMO.
Fleet/docker could talk to etcd, set unit user to each unit, and assign it to the unit.

[2015-03-09 19:53] yichengq commented on #2454
@ThomasLau @AdoHe
Check the upgrade path here: https://github.com/coreos/etcd/blob/master/Documentation/0_4_migration_tool.md

You can restart all members using v2.0 binary, and they will automatically start with 2.0 version.

Because the internal version is different, v0.4 cannot talk to v2.0, and it will suffer some downtime. Restarting all members at the same time is the best option IMO.

[2015-03-09 20:00] yichengq commented on #2465
Could you check the size of the snapshot in etcd? It is at
$etcd_path/member/snapshot/*

We do load the snapshot into the memory for several times. And we have plan
to improve it soon.

On Sun, Mar 8, 2015 at 6:20 PM, Prashanth B <notifications@github.com>
wrote:

[2015-03-09 20:03] yichengq commented on #2466
@AdoHe is correct. We don't have debug mode now.

For current stage, we could get enough information from the stderr output.

[2015-03-09 20:21] timothysc opened #2470 "unknown state - crash unrecoverable."
I have a 3 node etcd-2 cluster that appears to have gone into an unknown state after stress testing kubernetes.  I'm not exactly certain how it has gotten into this state, but it is unrecoverable once it has entered.

In my cluster I have 3 nodes:
host01-rack10
host02-rack10
host17-rack11

when host01 and host17 come back online all is well.  However, when host02 tries to join back in both host01

[2015-03-09 20:23] yichengq commented on #2470
It crashes because it cannot find WAL(write-ahead log). Could you list the data directory, and check whether the WAL is in it?

[2015-03-09 20:26] timothysc commented on #2470
cd /var/lib/etcd && find .
.
./snap
./default.etcd
./default.etcd/member
./default.etcd/member/snap
./default.etcd/member/wal
./default.etcd/member/wal/0000000000000000-0000000000000000.wal
./default.etcd/member/wal/0000000000000004-0000000000002712.wal
./default.etcd/member/wal/0000000000000001-0000000000002712.wal
./default.etcd/member/wal/0000000000000002-0000000000002712.wal
./default.etcd/mem

[2015-03-09 20:37] yichengq commented on #2470
It is probably a bug.

Which etcd version are you running on?

[2015-03-09 20:40] jayunit100 commented on #2470
To add some color : We saw this bug after running dense, network  intensive set of tasks.

[2015-03-09 20:40] timothysc commented on #2470
we run the tip nightly:

etcd version 2.0.4+git
Revision: 17ba06b5cd419ea1b48391c86ba25f4b71ef7011

[2015-03-09 21:07] yichengq commented on #2470
@timothysc Is etcd restarted in the process of stress testing?
Did you restart the etcd cluster because it goes into some error? If so, what is it?
Do you have the logs of previous runs?

[2015-03-09 21:10] yichengq commented on #2470
BTW, do you have idea how big the key written into etcd is?
and list the size of files under `./host01-rack10.fqdn.etcd/member/snap` and `./host01-rack10.fqdn.etcd/member/wal`?

[2015-03-09 21:14] timothysc commented on #2470
The etcd cluster was down on inspection, I'll try to grok backwards in the logs.

du -sk *
1770304	00000000000061db-0000000000faa560.snap
1855804	00000000000061de-0000000000facc71.snap
1312244	00000000000061de-0000000000faf383.snap
1326608	00000000000061df-0000000000fb1a94.snap
1269112	00000000000061e2-0000000000fb41a5.snap

-----------------------------------------

du -sk *
62548	000000000000031

[2015-03-09 21:58] dchen1107 opened #2471 "etcd runs into a crashloop and couldn't recover"
Over the weekend, my 4-node cluster with etcd 2.0.3 runs into a crashloop. There is no much load on cluster overall. Initially it was crashed due to runtime OOM issue during snapshotting, but please note that there is no system OOM pressure on the node, and I checked kernel log, no oom killing at all.

[code]

After this crash, monit tried to bring it up every 2 mins, and etcd crashed immediately

[2015-03-09 22:00] bprashanth commented on #2465
[code]

If you have a gce accout to play with you can reproduce this on a standard g1-small and the line of bash in my first comment.

I still see memory continuing to grow after the snapshot, roughly the same memory consumed after the restart, and pretty much the same behavior (unbounded memory usage) on changing the snapshot-count from 10,000 to 1000. I haven't completely understood log compacti

[2015-03-09 22:10] yichengq commented on #2471
The OOM may be caused by the big size of snapshot, which is loaded into memory in current impl. Could you provide the size of the snapshot and the memory size of the machine?

For too_many_open_file issue, could you give a chance to check where file descriptors point to and which status they are in?

[2015-03-09 22:20] bprashanth commented on #2471
@dchen1107 I think we both observed the same thing independently, https://github.com/coreos/etcd/issues/2465. @yichengq I changed the snapshot size but it didn't prevent an OOM. Since etcd rotates out snapshots I'm assuming it only has the latest snapshot in memory? In which case it should easily handle a 100M snapshot right?

[2015-03-09 22:35] willejs commented on #2207
@kelseyhightower I am experiencing this too, can you reopen, or should i start a new issue?

[2015-03-09 22:40] kelseyhightower commented on #2207
@willejs Lets start a new issue.

[2015-03-09 22:42] yichengq commented on #2465
@bprashanth
The smaller snapshot count cannot help your problem a lot. In snapshot, it records all values in the store. If you write 100 10KB key, it needs at least 1MB in snapshot. We have plan to make a disk-backend store to solve this problem.

The two restarts are the same to etcd. And I think the second one will go up to 1.3G if you write 1000 keys into the cluster.

[2015-03-09 23:02] willejs opened #2472 "2.0.3 cluster fails to bootstrap using discovery url."
When I try to bootstrap a 3 node cluster using a public discovery url, the first node succeeds and bootstraps, whilst the following two nodes try and register with the same ID.
Here are the example options i am using. the name is the hostname on each box.

[code]

http://pastebin.com/FD0NHZy3

[2015-03-09 23:02] bprashanth commented on #2465
Ok, thanks for the explanation. so when it restarts it restores just the last snapshot, and it always keeps all versions of all keys in memory, so if I keep adding keys, I will run out of memory (at least in the current version). @yichengq Is this correct?

The 2 restarts are the same etcd using 2 different snapshots (130742, 131743), one restart was after a crash, and the other was after a gracef

[2015-03-09 23:25] dchen1107 commented on #2471
Machine has roughtly 4G memory.

[code]

Regarding too_many_open_file, system itself has

[code]

Per processes has limit of 1024, and currently on my node has:

[code]

[2015-03-09 23:40] dchen1107 commented on #2471
@bprashanth both of us ran into similar issues lately. Actually other folks reported the same. I am wondering what is changed lately on how we are using etcd in kubernetes.

[2015-03-09 23:59] yichengq opened #2473 "etcd memory usage benchmark"
We need to understand and measure how much memory will be used in all kinds of cases.

/cc @dchen1107 @bprashanth

from #2471

[2015-03-10 00:09] bprashanth commented on #2473
IMO the memory used by a database should never grow unbounded, it should survive as long as there's disk. We're facing memory issues on a single node so at this point it isn't very different than, say, memcached (which actually does a few tricks to explicitly *avoid* using disk).

So I think it's more important to define what happens under  heavy memory pressure than profile read/write throughput

[2015-03-10 00:19] willejs commented on #2472
I just destroyed those three nodes with a new discovery url, and 3 new ones booted up in an ASG and still failed.

[2015-03-10 00:28] yichengq commented on #2471
@dchen1107 OOM may be reasonable because the snapshot size is nearly 400MB. Maybe k8s write more keys into etcd store without deleting old ones. The snapshot size increases 100MB per 75 minutes.

Could you list all file descriptors used by the etcd process? This can help me narrow down which module uses that many fds.
( sudo lsof -a -p `pidof etcd` )

[2015-03-10 00:34] kelseyhightower commented on #2471
@dchen1107 @yichengq

[code]

[2015-03-10 01:29] AdoHe commented on #2428
@yichengq I will upgrade to the latest version. Thanks anyway :)

[2015-03-10 01:30] AdoHe commented on #2458
@yichengq cool. a little bit tests even better.

[2015-03-10 01:30] AdoHe commented on #2452
@xiang90 @yichengq Thanks very much :)

[2015-03-10 01:32] AdoHe commented on #2454
@lawrencewu LGTM.

[2015-03-10 01:41] xiang90 commented on #2470
@timothysc Thanks for reporting! I think we find the root problem and are fixing. But we still would like you to retrieve the log if possible to verify the problem. Thanks!

[2015-03-10 02:11] philips opened #2475 "logging: disable timestamp if running under journal"
If etcd detects it is running under systemd it should disable the timestamps on the loglines, otherwise we get double dates:

[code]

[2015-03-10 02:11] xiang90 commented on #2470
https://github.com/coreos/etcd/pull/2474

/cc @yichengq @timothysc

[2015-03-10 03:41] fasaxc commented on #2399
I've boiled this down, I wait on say, index 80, then the response I get has etcd_index == 79, so I increment from 79 and get back to 80 and poll again.

I used this logic to poll:

[code]

A single set from etcdctl:
[code]
Gives this output:
[code]
Have I misunderstood the relationship between `waitIndex` and `etcd_index`?

[2015-03-10 06:07] snowdreamist opened #2476 "Etcd block request forever"
Related to  #2266

Hi, guys

I've upgraded etcd to 2.0.4, the 'Internal server error' goes away, but still have the blocking issues.
I'm not sure if anybody else has already created an issue for this problem, here's my service log, nothing new:

    Traceback (most recent call last):
      File "/home/p/code/datamiller/paas/lib/python/paas/src/paas/lib/asyncrequests.py", line 77, in __send__

[2015-03-10 08:24] AdoHe commented on #2476
@snowdreamist can you tell how you setup the cluster? the environment and the configuration?

[2015-03-10 09:14] snowdreamist commented on #2476
@AdoHe

Of course. The etcd is started through the command

       /var/lib/etcd/etcd -name etcd0 \
          -discovery-srv m.com \
          -initial-advertise-peer-urls http://etcd0.m.com:7001 \
          -advertise-client-urls http://etcd0.m.com:4001 \
          -initial-cluster-token etcd-prod-cluster \
          -initial-cluster-state new \
          -listen-peer-urls 'http://etcd0.m.com:700

[2015-03-10 11:57] willejs commented on #2472
This was due to the initial-peer-advertise-urls not being set correctly.

[2015-03-10 11:57] #2472 closed

[2015-03-10 13:54] timothysc commented on #2470
So I combed the logs, and the only standout information is what was provided earlier.

We are going to try to see if we can somehow repro, but we entered into this state unexpectedly.

[2015-03-10 14:12] eric-nuaa commented on #2462
@yichengq Agree, I will ask this in fleet, thanks!

[2015-03-10 14:15] #2462 closed

[2015-03-10 14:51] xiang90 commented on #2470
@timothysc
There should be some log lines like "filePurge: remove ..." before the restart.

I think this should be fixed. You can try to use both the previous head and current head to repro this issue. (large values and large snapshot can trigger it.)

[2015-03-10 14:57] #2452 closed

[2015-03-10 16:07] dchen1107 commented on #2471
@kelseyhightower I did run above, the result is zero. Monit tries to restart etcd every 2 mins, but etcd quickly exit due to too_many_open_file issue. I couldn't catch the moment when open_files by etcd is high unfortunately.

[2015-03-10 17:01] yichengq opened #2477 "etcd fatal because it has no file descriptor to open WAL/snapshot"
This happens in several situations:
1.
(a) etcd listens on the port, but has not started to serving
(b) client requests eat up all file descriptors
(c) etcd fails to open WAL and fatal
2.
(a) etcd is running
(b) client requests eat up all file descriptors
(c) etcd fails to save snapshot and fatal

This is met by functional tests and #2471

[2015-03-10 17:10] yichengq commented on #2471
@dchen1107 The possible case for this situation is that all file descriptors are consumed between the time that etcd listens on the port and the moment that it opens WAL to read the log. Observed from the log, the duration is 10s(most of which is used to decode snapshot), and maybe more than 1000 clients make requests in this period. Could you check this possibility?

[2015-03-10 17:49] kelseyhightower commented on #2471
@yichengq @dchen1107 Is there any chance we can get that data directory from the etcd node?

[2015-03-10 18:07] dchen1107 commented on #2471
I destroyed that node last night after we found the root cause of large snapshot. Will report to you guys when I observe the same issue next time; or you can try to reproduce it, not sure if you can do it or not. In my situation, there is a snapshot is too big, and failed to recover due to OOM for a couple of hundreds times (507 times by processing etcd.log), etcd restarting runs into this issue.

[2015-03-10 18:11] xiang90 commented on #2471
@dchen1107 We have reproduced both the OOM and fd issues. We reproduced the fd issue with an assumption that the number of client is large.

SO we want to confirm that the etcd cluster did have many concurrent clients connected.

@kelseyhightower I do not think we need to etcd data.

[2015-03-10 18:25] dchen1107 commented on #2471
Assume each watcher is a client creating the connection to etcd server. We can theoretically calculate the number of watcher objects we created currently is based on the cluster size, and workload:

# of watchers = # of nodes + # of replica controllers + 1 (node controller) + 2 (scheduler)

So theoretically we have 12 watchers totally ( 4 (nodes) + 5 (rc) + 1 (node controller) + 2 (scheduler) )

B

[2015-03-10 20:09] yichengq commented on #2465
@bprashanth It keeps at least one version of all keys in memory. If you keep adding new keys, it will run out of memory soon.

The first restart finishes a snapshot when you check:
[code]
That may explain why it uses more memory.

We are considering the way to prevent OOM in best efforts. https://github.com/coreos/etcd/issues/2393 is also related.

[2015-03-10 20:14] bprashanth commented on #2393
+9000 to main memory limits, it's a common concept in most databases and I was puzzled that it wasn't configurable in etcd. I'd prefer having etcd swap to disk when it hits the limit, if that's not possible, flip to read-only and spam the logs with memory limit reached for each write. Just my 2c.

[2015-03-10 20:15] yichengq commented on #2458
IMO unit tests for timeouts are enough.

[2015-03-10 23:09] visit1985 opened #2479 "Plans to upgrade etcd to > 2.0 in Alpha?"
When can we expect etcd > 2.0 in Alpha?

I also noticed that the 0.4.7 tag is missing in this repo but stated on https://coreos.com/releases/. Is there any special reason for that?

Keep up the awesome work!

[2015-03-10 23:22] crawford commented on #2479
We are finishing up the last bit of migration testing and should be ready (assuming all goes well) to put etcd into the image within the next couple of weeks.

0.4.7 is tagged in this repo, it just doesn't have release notes attached. @yichengq, can you add some release notes for that release?

[2015-03-10 23:32] visit1985 commented on #2479
Ahh, my bad. GitHub sorts it by date and it was tagged after 0.5.
Nevermind ;-)

[2015-03-10 23:32] #2479 closed

[2015-03-10 23:41] xiang90 opened #2481 "travis failure"
--- FAIL: TestPauseMember (13.98s)

cluster_test.go:192: #4: watch on http://127.0.0.1:60702 error: read tcp 127.0.0.1:60702: i/o timeout

https://travis-ci.org/coreos/etcd/builds/53878220

[2015-03-11 00:56] chrissnell commented on #842
I'm running into this same problem.   To help debug, I'm starting etcd manually on the command line.  Here's what I'm doing:

1. Generated a fresh token:
```curl https://discovery.etcd.io/new```

2. ```rm -rf /var/lib/etcd``` on all nodes

3. Source the network-environment file on node1 with the IP addresses defined:
```. /etc/network-environment```

4. Start etcd on node1.  Log messages look heal

[2015-03-11 01:05] xiang90 commented on #2481
caused by https://github.com/coreos/etcd/pull/2480

[2015-03-11 01:05] #2481 closed

[2015-03-11 03:57] yichengq commented on #2399
@fasaxc etcd_index in wait operation is the etcd index when you starts to watch, not the one when you ends watching. You should use the modified index of the return result plus one as the next wait index.

[2015-03-11 04:02] yichengq commented on #2476
@snowdreamist The lost of message is due to a bug, and we have fixed it: https://github.com/coreos/etcd/commit/59327bab47f75329c609cc81ece0265d9b18b876

Could you check whether the latest https://github.com/coreos/etcd/tree/release-2.0 fix your problem? We will release 2.0.5 based on this tomorrow BTW.

[2015-03-11 04:17] yichengq commented on #842
@chrissnell Could you do this again and check whether etcd runs well? If not, please open a new issue for discussion.

[2015-03-11 04:29] chrissnell commented on #842
It does the same thing, repeatably.  Will open a new issue.

[2015-03-11 05:16] fasaxc commented on #2399
Ah OK, I'll give that a go!

[2015-03-11 05:24] leeychee commented on #2430
@yichengq The point is when use discovery.etcd.io service, etcd use `http://192.168.97.190//7acda9caa786690d4ff7402411c92db6/node_name`. There are two `/` .

Public discovery service can handle this. but got code 301 with private discovery.etcd.io service.

200: `curl -v http://192.168.97.190/7acda9caa786690d4ff7402411c92db6`
301: `curl -v http://192.168.97.190//7acda9caa786690d4ff7402411c92db6`

[2015-03-11 10:08] AdoHe commented on #2458
@yichengq I mean request timeout not election timeout

[2015-03-11 14:14] iamthemuffinman commented on #2445
@kelseyhightower Find anything out about this?

[2015-03-11 16:44] iamthemuffinman commented on #2445
The ports I opened didn't persist after a reboot so I'm at a loss as to why the ports are closed in the first place.

[2015-03-11 17:42] xiang90 commented on #2470
@timothysc I assume this is solved. Thanks for reporting! Reopen if you still see this problem.

[2015-03-11 17:42] #2470 closed

[2015-03-11 18:27] timothysc commented on #2470
@xiang90 ack, we'll be sure to let you know if we find something.

[2015-03-11 18:34] xiang90 commented on #2381
@yichengq done?

[2015-03-11 18:38] yichengq commented on #2381
yes.

[2015-03-11 18:38] #2381 closed

[2015-03-11 21:16] extemporalgenome opened #2486 "Single-node idle cluster continuously writes to disk"
Running a single-node cluster with `etcd` generates ~7.83K/s writes continuously according to the Linux iotop utility (when snapshotting, this peaks to ~11.73K/s) and strace. The cluster has not been interacted with at all (has no data), thus all these writes seem redundant.

Further, because of the use of a subsequent fsync on each of these writes, if deployed on SSDs, it would cause continuous w

[2015-03-11 21:23] xiang90 commented on #2486
@extemporalgenome This is kind of duplicate with https://github.com/coreos/etcd/issues/1757.

Can you please add your concern to that issue? And we can track all related problem there?

[2015-03-11 22:41] kelseyhightower commented on #2476
@snowdreamist etcd 2.0.5 has been released, can you retest.

[2015-03-11 23:20] xiang90 commented on #2454
@AdoHe It seems that you already got the answer. I am closing it. Reopen if there still is a problem. Thanks for reporting!

[2015-03-11 23:20] #2454 closed

[2015-03-11 23:21] xiang90 commented on #2375
@bbangert Does @yichengq's suggestion work for you?

[2015-03-12 03:03] snowdreamist commented on #2476
Hi, everyone.

I've upgraded to 2.0.5 at this morning, I'm sorry to say that the error is still there.

I've go through all my 5 etcd nodes' log, no error found (Except the error when I'm restarting the cluster node one by one to upgrade from 2.0.4 to 2.0.5): no internal error, no request timeout, not leader lost ...

It's very strange but I found, some of the etcd node will never request time out

[2015-03-12 04:25] extemporalgenome commented on #1757
Somewhat related (#2486), writes and fsync calls occur continuously on an idle single-node cluster with no data and no api calls being made to it. strace indicates that no network syscalls are called other than bind and accept, yet pairs of write + fsync syscalls occur about 4+ times per second to the WAL.

I suspect write frequency is driven EtcdServer.Ticker.

[2015-03-12 04:28] xiang90 commented on #1757
@extemporalgenome the idle cluster will do sync too. and it is 4 times per second(sync/500ms, which involves two writes and one fsync).

[2015-03-12 04:43] extemporalgenome opened #2487 "div-by-zero panic when heartbeat-interval > 1000"
etcd from the 2.0.4 release reproducibly panics when run as `./etcd --heartbeat-interval 1001`

Any value > 1000 will cause this issue. Notably, for heartbeats <= 1000, the election timeout defaults to the heartbeat interval. When heartbeat is > 1000, election timeout reports as 0ms.

Output of `./etcd --heartbeat-interval 1001`:

    2015/03/11 22:36:44 no data-dir provided, using default data-di

[2015-03-12 04:52] xiang90 commented on #2486
@extemporalgenome I am going to close this since it is kind of duplicate with #1757 and we have reference from #1757 to this one.

[2015-03-12 04:52] #2486 closed

[2015-03-12 04:54] xiang90 commented on #2476
@snowdreamist
Great to hear that. We will keep this open for one or two more days. If there is no further issues, I will close it.

[2015-03-12 04:59] extemporalgenome commented on #1757
@xiang90 --cluster-sync-interval doesn't seem to have an effect on the write rate.

[2015-03-12 05:02] xiang90 commented on #1757
@extemporalgenome It is an internal thing to sync the TTL. You cannot tune it. But I guess 4 iops is fine... If you want to run etcd smoothly, you should at least prepare for 100s iops even with fsync batching.

[2015-03-12 05:47] ssabo opened #2488 "advertise client URLs are resolved causing SSL verification complications"
The advertised client URLs returned from /v2/members and /v2/machines are resolved to IP addresses.

For clients that use these to discover the endpoint to query, this forces one of two conditions:
1. the SSL client must not verify the hostname it is connecting to against the names in the SSL cert
2. the server must have it's IP address in the CN or SAN of the SSL cert

Is there any reason we want

[2015-03-12 05:55] AlexeyRaga commented on #2308
@Audumla do you have a repo/changeset I can build from for odroid?

[2015-03-12 06:36] Audumla commented on #2308
I did not create one for this, as I just made the change to the file mentioned above and rebuilt using the code from a master git repository. It just worked!
If I get a chance Ill make a branch, but that might be weeks away due to time restrictions.

[2015-03-12 07:56] lawrencewu opened #2489 "about API /v2/stats/leader"
Hi team,
    as now I setup a cluster using ETCD v2.0.4 with three ips(10.2.3.1, 10.2.3.2, 10.2.3.3), 10.2.3.3 is the leader's IP, calling the v2/stats/leader API, the result:
10.2.3.1:
{"message": "not current leader"}
10.2.3.2
{"message": "not current leader"}
10.2.3.3
{"leader": "e15b2c5ad298c819","followers": {"570f819cb07b647b": {"latency": {
"current": 0.04551,"average": 0.07842731802412709,

[2015-03-12 10:00] hiro4bbh opened #2490 "Problems about Atomically Creating In-Order Keys"
Hi,

I use etcd for distributed queue as noted in `Documentation/api.md`. According to it, I can "enumerate the in-order keys as a sorted list." but I think there is a problem of key sorting.

For example, assuming that I request to create 2 keys under '/queue' atomically in-order, then I get '/queue/9267' and '/queue/10027'. Its result will be ordered as '/queue/10027', '/queue/9267' now, which I

[2015-03-12 13:57] Telmo commented on #2383
@kelseyhightower any updates? Looking forward to the guide.

[2015-03-12 13:59] marvell commented on #2488
I have the same problem.

Start server:
[code]

Try to connect via curl - OK:
[code]

And etcdctl:

[code]

[2015-03-12 16:54] yichengq commented on #2430
Do you use https://github.com/coreos/discovery.etcd.io to build your private discovery service? Could you list the reproduce procedure step by step? I don't know how you get there.

[2015-03-12 18:28] bkeroackdsc opened #2493 "Cannot upgrade existing cluster to 2.x and switch peer ports"
In the process of upgrading our etcd cluster from 0.4.6 to 2.0.5 I'm also changing client and peer ports to the new values (2379/2380 respectively). However it appears impossible to do so without destroying existing data.

* I upgraded binaries and changed configuration from a file at ``/etc/etcd/etcd.conf`` to environment variables set via Upstart. It was here I changed the ports:
[code]
* I crea

[2015-03-12 19:46] #2493 closed

[2015-03-12 23:18] kelseyhightower opened #2499 "The `--ca-file` flag should not enable client auth by default"
When configuring etcd for SSL using the following instructions:

https://github.com/kelseyhightower/etcd-production-setup/tree/multinode#configuring-etcd-for-ssl

I get the following errors in the etcd logs:

[code]

The only way to make it work was to set the `--ca-file`, which also has the side effect of enabling client auth. This was not what I wanted in this case.

My only option at this point

[2015-03-12 23:22] philips commented on #2499
Hrm, we can do one of two things to avoid breaking any users

- Add a new 'trusted-ca' flag to let you add things outside of your OS trusted CA list
- Add a new 'client-cert-auth' flag that takes a boolean

[2015-03-12 23:24] kelseyhightower commented on #2499
@philips Both options look great! I'm leaning towards both :)

[2015-03-12 23:26] kelseyhightower commented on #2499
I think adding both `--trusted-ca` and `--client-cert-auth` flags will allow us to deprecate the `--ca-file` flag at some point down the road.

[2015-03-13 01:06] #2487 closed

[2015-03-13 01:11] yichengq commented on #2499
@kelseyhightower Could you give a detailed example about this? I think `--ca-file` is only designed to enable client auth, and the above error should be resolved by setting `--peer-ca-file` to authenticate peer identity.

If you set `--peer-ca-file`, `--peer-key-file` and `--peer-cert-file`, etcd should work well with server-to-server communication.

[2015-03-13 01:26] leeychee commented on #2430
I use [timeincuk/discovery.etcd.io](https://registry.hub.docker.com/u/timeincuk/discovery.etcd.io/).

1. start timeincuk/discovery.etcd.io docker in a coreos(1 node); It works fine.
2.  request `http://192.168.97.190/new`, get `http://192.168.97.190/7acda9caa786690d4ff7402411c92db6`
3.  use this url as new coreos(CoreOS 607.0.0) cluster's discovery

cluster does not works.

So, I turn on ETCD_VERY

[2015-03-13 02:24] kelseyhightower commented on #2499
@yichengq Client SSL does not work in this setup.

[2015-03-13 02:32] yichengq opened #2501 "raft: introduce progress states"
driven from #2497

This is the state machine of progress. It adjusts the speed to replicate in different situations.

![graph](https://rawgit.com/yichengq/693908a5a69dea848d12/raw/b4a2811dd9a23aa644bbf671a6697f1e22740796/gistfile1.svg)

TODO:

- [ ] state machine
- [ ] flow control

/cc @bdarnell

[2015-03-13 02:42] yichengq commented on #2499
@kelseyhightower Client SSL should work if `--key-file` and `--cert-file` are set. Further, if etcd is expected to auth the client identity, `--ca-file` should be given.

[2015-03-13 02:43] kelseyhightower commented on #2499
@yichengq I will retest this.

[2015-03-13 03:00] kelseyhightower commented on #2499
@yichengq I don't think the peer ca cert gets added to the cert pool: https://github.com/coreos/etcd/blob/master/pkg/transport/listener.go#L151

[2015-03-13 03:04] kelseyhightower commented on #2499
@yichengq We will have the same problem when an etcd follower has to proxy a client request. We want to have the ability to trust the client server cert without requiring client auth.

[2015-03-13 09:09] jlsalvador opened #2504 "etcdserver: create etcd member directory when fallback to proxy"
etcd output:

[code]

[2015-03-13 13:47] borillo opened #2506 "Empty reply from server"
Running etc with docker:
$ docker run --rm -p 4001:4001 quay.io/coreos/etcd:v2.0.5
2015/03/13 13:45:24 no data-dir provided, using default data-dir ./default.etcd
2015/03/13 13:45:24 etcd: listening for peers on http://localhost:2380
2015/03/13 13:45:24 etcd: listening for peers on http://localhost:7001
2015/03/13 13:45:24 etcd: listening for client requests on http://localhost:2379
2015/03/13 13:

[2015-03-13 14:00] bdarnell commented on #2501
Should we perhaps model this as a flow control problem instead of a state machine? I.e. send in "optimistic" mode whenever `next - match < N`. This can help with links that are slow but reliable (so there are no rejections to push back into "normal" mode), and avoids sending very large append batches when a node comes back online.

[2015-03-13 15:31] bbangert commented on #2375
Aren't there more settings to configure that all default to localhost as well? The main issue was having to specify every single option with the new IP, rather than just being able to change 'localhost' -> IP with a single flag. I guess I'm just weird that I actually launch things by typing in the command instead of assembling Procfile's to run with goreman.

[2015-03-13 17:24] #2476 closed

[2015-03-13 17:31] xiang90 commented on #2375
@bbangert I think a Procfile might serve you's purpose(for demo) better. We are kind of conservative/careful about adding a CLI flag, especially the purpose of it is not for production usage.

[2015-03-13 17:32] xiang90 commented on #2504
@jlsalvador Can you provide more context? Thanks!

[2015-03-13 17:45] kelseyhightower commented on #2506
@borillo Looks like your etcd server is only listening on localhost inside the container. You will need to bind to an external IP (0.0.0.0 might help). Then via curl you will need to use the IP of the container.

See the following etcd clustering flags for more info: https://github.com/coreos/etcd/blob/master/Documentation/configuration.md#clustering-flags

[2015-03-13 17:48] kelseyhightower commented on #2506
@borillo You will need to set `-advertise-client-urls` to the IP of the docker host, since you will have a hard time predicting the container IP upfront. You also need to set the `-listen-client-urls` to something like http://0.0.0.0:4001 to ensure you listen on the container IP.

Also see the etcd docker guide from more details: https://github.com/coreos/etcd/blob/master/Documentation/docker_guid

[2015-03-13 17:56] kelseyhightower commented on #2426
@vtolstov Using the discovery-srv means that you want to get your inital-cluster from DNS. You will need to write a wrapper script to check the DNS SRV record and adjust your configuration as needed. The goal of the initial bootstrapping is to be very explicit.

[2015-03-13 20:30] xiang90 commented on #1853
@yichengq Have we reported this to golang upstream yet?

[2015-03-13 20:32] onsi opened #2508 "TTLs expire prematurely - appears related to etcd elections"
We are seeing keys with TTLs expire prematurely (e.g. ~10 seconds too soon).  We managed to isolate two of these incidents and compare logs from our various components with etcd's logs.

### Incident 1:

 We get the following timeline of events (unfortunately etcd's logs only have second-level granularity - we've verified that all our machines are within ~100ms of each other so we don't think cloc

[2015-03-13 20:38] xiang90 commented on #2508
@onsi
The clock on the machines are not perfectly synced? The TTL keys are managed by the leader. So if the clock is not synced, the new leader might remove the key "early" in the view of clients.

At etcd side, we should probably refresh all TTL keys if there is a leader election.

[2015-03-13 20:39] yichengq commented on #1853
I reported it here: https://groups.google.com/forum/#!topic/golang-nuts/YKASjGmjPXw
I am trying to replay it with simple go program now. Will open an issue in golang repo when i make it.

[2015-03-13 20:40] Amit-PivotalLabs commented on #2508
Some additional information:

- Our etcd cluster is 3 nodes
- We don't see any indication as to why one of the nodes tries to initiate an election in the first place for both incidents.  Over the course of ~24hrs these are the only two times when there are elections.
- In the first incident, there is only one candidate in term 33, the other two nodes are followers, but they both reject the vote re

[2015-03-13 20:43] Amit-PivotalLabs commented on #2508
@xiang90 There's phyically no way to know whether any two clocks are every perfectly synced, but as far as we can tell we can upper bound on the skew is at most 100ms, probably quite less.  The TTLs on the nodes that are disappearing are 10s, so several orders of magnitude greater than our upper bound on the time skew.

[2015-03-13 20:45] xiang90 commented on #2508
This is normal. A follower can deny a candidate if the candidate is not suitable to be a leader (ensure by raft)

We are aware of this issue. etcd does not resend proposals internally. It should be solved soon (we actually have fixed it in current master, but have not tested it).

[2015-03-13 20:47] Amit-PivotalLabs commented on #2508
@xiang90 any idea why an election would be held in the first place?  We don't see anything in the logs prior to initiation of the new term indicating a missed heartbeat or anything like that.

[2015-03-13 20:47] xiang90 commented on #2508
I mean within 1 second. Sorry for the confusion. I added it to my original comment later, but you still beat me.

10 second or tens of second? If it is 10 second, I highly suspect that the removal of key is simply caused by the failure of proposals (the request timeout you saw above).

[2015-03-13 20:47] Amit-PivotalLabs commented on #2508
Exactly 10s.

[2015-03-13 20:48] xiang90 commented on #2508
etcd does not log that out in etcd 2.0.x. We should improve that for sure.

[2015-03-13 20:50] xiang90 commented on #2508
@onsi @Amit-PivotalLabs I think I have enough context. I will try to reproduce it myself and look into the log you provided. If you can reliably reproduce it, it would also be a great help.

[2015-03-13 20:52] Amit-PivotalLabs commented on #2508
Can you please confirm that if a client request a CAS of a node and then receives a successful response, then this update has been replicated across the cluster, rather than just acknowledged by the server handling the request?  Assuming a successful response means replication, I don't understand the following:

11:26:59.4: A's CAS succeeds the new key should have a TTL of 10s
11:26:59.9: a compon

[2015-03-13 20:52] Amit-PivotalLabs commented on #2508
Yes, we'll try to reproduce it.

[2015-03-13 23:10] Amit-PivotalLabs commented on #2508
Do you know some way to trigger some node to start an election in a running cluster?  We saw the issue where you guys added a fake time provider for testing purposes, but we'd like to trigger this against a "real" running cluster.

[2015-03-14 00:00] Amit-PivotalLabs commented on #2508
To reproduce:

We have an etcd cluster running locally inside Linux containers (inside a VM), with the following startup commands:

1. `etcd --name etcd_z1-0 --data-dir /var/vcap/store/etcd --heartbeat-interval 50 --election-timeout 1000 --listen-peer-urls http://0.0.0.0:7001 --listen-client-urls http://0.0.0.0:4001 --initial-advertise-peer-urls http://10.244.16.10:7001 --advertise-client-urls htt

[2015-03-14 00:05] xiang90 commented on #2508
@Amit-PivotalLabs

We are working on a function-tester for etcd at https://github.com/coreos/etcd/tree/master/tools/functional-tester.

You can write simulation case very easy in the future:
https://github.com/coreos/etcd/blob/master/tools/functional-tester/etcd-tester/failure.go#L72-L94

Thanks! I will look into this very soon.

[2015-03-14 06:28] vtolstov commented on #2426
@kelseyhightower i know about wrapper, but why not try to form cluster from dns and if it fails, try fallback from initial-cluster?

[2015-03-14 16:40] #2499 closed

[2015-03-15 16:32] xiang90 commented on #2508
@Amit-PivotalLabs I have reproduced the issue: `To reproduce:`

I think it is "normal" and let me explain what actually happened.

Here is what I observed, just as what you have observed:

heartbeat.sh
[code]

wait.sh
[code]

I forced a leader election right before real time `Sun Mar 15 09:03:03 PDT 2015`, and we "observed" a expiration between the value "Sun Mar 15 09:03:01 PDT 2015" and value "S

[2015-03-15 16:39] xiang90 commented on #2508
@onsi @Amit-PivotalLabs

This is actually still quite different from `incident1`.

In `incident1`, you actually observed:
`11:26:59.4: A's CAS succeeds the new key should have a TTL of 10s`.

And I assume `11:26:59.4` is the realtime when it succeed rather than when it is issued. And the key was expired 0.5 second after that.

I have tried to reproduce `incident1` but failed. :(

@onsi Can you try

[2015-03-15 17:15] xiang90 commented on #2508
@onsi

Another thing I would like to add

[code]

Fact: etcd cluster dropped all proposals and could not commit for at least one second (for term 33, which lasted at least 1 second), since there were two continuous leader election. (we should improve this at etcd side)

Term 33 might begin between `11:26:58` and `11:26:59`. If term 33 began at `11:26:58`, then nothing should happen between `11:26:

[2015-03-15 19:02] borillo commented on #2506
Cool!! Works perfect with -listen-client-urls :)
Thx a lot for your quick and clear answer

[2015-03-15 19:02] #2506 closed

[2015-03-15 23:18] yichengq commented on #2430
@leeychee
i cannot reproduce it. When I do `curl https://discovery.etcd.io//dbb1ff7f03dda42a916c591ef5a0aa37` on public discovery service, it works. Could you write a detailed steps to reproduce it?

[2015-03-16 01:52] cheyang opened #2512 "Why it's named etcd?"
Is it abbreviation of some words? thanks.

[2015-03-16 03:15] snowdreamist opened #2513 "Etcd caused lots of TCP TIME_WAIT"
HI, all

I'm running a 5-node etcd cluster for days, and I found thousands of TCP TIME_WAIT that is caused by etcd.

Here's a piece of log by `netstat -ntp`

    tcp        0      0 192.168.150.16:40634    192.168.150.11:7001     TIME_WAIT   -
    tcp        0      0 192.168.150.16:40858    192.168.150.11:7001     TIME_WAIT   -
    tcp        0      0 192.168.150.16:40531    192.168.150.11:7001

[2015-03-16 03:44] xiang90 commented on #2513
@snowdreamist `Time-wait` does not indicate the socket is not closed gracefully. I guess you are running etcd 2.0.5, which does not reuse any tcp connections. In 2.0.5, we kind of disable the HTTP keep alive, which causes a lot of TCP connection creations and closes.

We have fixed this issue in current master by not creating a lot of tcp connections. Can you give it a try? Or you can wait for the

[2015-03-16 05:19] leeychee commented on #2430
@yichengq

1. It does work on public discovery service;
2. My point is, url should not contain two `//`;

Steps:

1. Get etcd 0.4.6 following by `https://github.com/coreos/etcd/releases/tag/v0.4.6`

2. Then
[code]

Then, I got this
[code]

[2015-03-16 05:55] wutil commented on #815
@mosquitorat 3Q

[2015-03-16 06:02] yichengq commented on #2430
It does happen. Will fix.

@jedsmith
etcd sends request `https://discovery.etcd.io//701d0770cc5894624e5c6335aa7eb7d8/_state?prevExist=false` to our public service, and it does work. But when it sends request `http://127.0.0.1:8087//bec8f13c57c459bb67e8a9538704ac02/n2` to a private discovery service, it fails. Do you know what magic does our public discovery service have?

[2015-03-16 06:28] amitkgupta commented on #2508
@xiang90, I think we've identified a few things in this issue:

- etcd should have improved logging for the cause of an election when an election is triggered
- etcd should fast-fail requests made while the cluster is busy electing (I assume this is what you're suggesting when you say "unblock all immediately when there is a leader election")
- it is normal for a request to potentially fail, and r

[2015-03-16 06:39] xiang90 commented on #2508
We will definitely make the improvement.

For something like `incident2` and the issue you just reproduced, I recommend you to set a higher TTL for now to deal with the potential proposal blocking caused by leader election.

I am more concerned with this one too. Before the CAS succeed at `11:26:59.4`, the key should still have around 5 second TTL (assume you update the key every 5 second). The CA

[2015-03-16 06:47] il9ue commented on #2468
Hi, I am a newbie to ETCD and right now studying it closely.
However, to improve such scenario, is it possible to apply event and delegate scenario or Publish/subscribe so that remote servers don't need to wait for sockets to be arrived?

[2015-03-16 06:56] amitkgupta commented on #2508
Will do.  To clarify, the behaviour we saw regularly was TTLs expiring apparently prematurely, can't say how often they were like Incident 1, Incident 2, or something else.

Anything we need to know about getting all the logs/files you mentioned?  The last couple times this has happened, it happens over night and we don't notice til perhaps 12+ hrs later.  Will this make it difficult to retrieve a

[2015-03-16 11:42] marc-barry commented on #2513
@snowdreamist As @xiang90 stated this doesn't necessarily indicate a bug with `etcd`. The `TIME-WAIT ` state transition of a TCP connection is normal. If you look at figure 6 in [RFC793](http://tools.ietf.org/html/rfc793) it shows the valid state transitions of a TCP connection. The kicker with the `TIME-WAIT` state is that connections stay in this state for a relatively long period of time (i.e.

[2015-03-16 11:53] marc-barry commented on #2454
I tried to migrate a live cluster from `v0.4.7` to `v2.0.5`. But was not able to do so. There is really no where in the docs that say that this cannot be done. I was not aware that the peers can't talk to each other. I had attempted to update a single peer at a time and end up with logs like the following:
[code]
I think it would be helpful to explicitly state that this type of migration isn't pos

[2015-03-16 12:06] jlsalvador commented on #2504
# Short description
The problem happens when you reboot a proxy machine.

Check these files to understand the problem:
- https://github.com/coreos/etcd/blob/master/etcdserver/server.go#L146
- https://github.com/coreos/etcd/blob/master/wal/util.go#L69
- https://github.com/coreos/etcd/blob/master/etcdserver/storage.go#L91

# Prerequisites:
You must have a full cluster with its members and one fallba

[2015-03-16 14:48] xiang90 commented on #2508
Yes. You can set max-snap and max-wal to a large enough number.

[2015-03-16 16:40] jazzzz opened #2515 "etcdserver: failed to purge snap file"
I use etcd v2.0.5 for Windows 64 bits (Windows 7 and 8.1), and after some hours, etcd crashes with this error message:

[code]

If I try to restart etcd, I get the same error.
I checked: this file is not used by any process, I could remove it manually and etcd could restart normally.

[2015-03-16 16:54] xiang90 commented on #2515
@jazzzz

I guess this is probably caused by the empty file lock implementation for win.
https://github.com/coreos/etcd/blob/master/pkg/fileutil/lock_windows.go

[2015-03-16 17:18] stevenschlansker commented on #2468
It may be possible to add a pub/sub interface, but that would be a new feature and should probably be discussed separately.

[2015-03-16 18:38] jedsmith commented on #2430
When I try this from inside the ELB, our public discovery service sends me a 301 as well.

    core@discovery1 ~ $ curl -vvv -H "Host: discovery.etcd.io" "http://10.0.0.12//701d0770cc5894624e5c6335aa7eb7d8/_state?prevExist=false"
    * About to connect() to 10.0.0.12 port 80 (#0)
    *   Trying 10.0.0.12...
    * Adding handle: conn: 0x7f0ac85cc750
    * Adding handle: send: 0
    * Adding handle:

[2015-03-16 18:53] xiang90 commented on #2504
@jlsalvador I think a better way to solve this is to return `discovery.ErrFullCluster` when etcd restarted and found the `WALv2_0Proxy`, which is the original cause for the etcd to fallback to a proxy.

[2015-03-16 18:54] xiang90 commented on #2504
@jlsalvador The `proxy` should not upgrade to `etcdserver` anyway.

[2015-03-16 20:37] yichengq commented on #2504
@jlsalvador I agree with @xiang90. etcd should jump out and go into the proxy mode when reboot instead of running member mode.

[2015-03-17 02:04] agokjr commented on #2512
If I'm not mistaken
Etc is from the config folder /etc
D is for distributed.

[2015-03-17 02:44] leeychee commented on #2430
@jedsmith I'm using  [timeincuk/discovery.etcd.io](https://registry.hub.docker.com/u/timeincuk/discovery.etcd.io/) now, but thanks anyway.

[2015-03-17 05:14] xiang90 commented on #2512
@agokjr Correct!

[2015-03-17 05:14] #2512 closed

[2015-03-17 06:23] il9ue commented on #2489
Hello, I think the answer is on ETCD API Documentation already.
If you didn't go through please check the below curl command :

curl -L http://127.0.0.1:4001/v2/stats/self

which might produce the result such as,

{
    "leaderInfo": {
        "leader": "machine1",
        "uptime": "1m18.544996775s"
    },
    "name": "machine0",
    "recvAppendRequestCnt": 5871307,
    "recvBandwidthRate": 630.3

[2015-03-17 09:49] jlsalvador commented on #2504
@xiang90 @yichengq LGTM your solution. :+1:
You can drop my pull request #2505.

[2015-03-17 11:12] jazzzz opened #2523 "No .exe extension on Windows binaries"
Starting at release v0.5.0-alpha.0, the zip releases for Windows contains binaries without the `.exe` extension.

[2015-03-17 11:29] jazzzz commented on #2515
I forgot to precise I use this command line: `-max-snapshots 5 -max-wals 5`, maybe it is linked to theses options.

[2015-03-17 13:24] timothysc opened #2524 "Last nights master build 8a589d11d5573201869de0d5aa9e0e6b24a8b246 fails."
gopath/src/github.com/coreos/etcd/etcdserver/etcdhttp/client_security.go:49: r.BasicAuth undefined (type *http.Request has no field or method BasicAuth)
gopath/src/github.com/coreos/etcd/etcdserver/etcdhttp/client_security.go:76: r.BasicAuth undefined (type *http.Request has no field or method BasicAuth)

[2015-03-17 13:48] AdoHe commented on #2524
@timothysc You should check your local go version, maybe this will help you https://golang.org/doc/go1.4

[2015-03-17 14:20] timothysc commented on #2524
All previous builds were working fine on 1.3.3, is 1.4 now a hard requirement?

[2015-03-17 14:59] cmollen opened #2525 "Atomically creating in-order keys without first creating a directory"
According to the documentation, "Using POST on a directory, you can create keys with key names that are created in-order". It would be very helpful if it was possible to both create the directory (if it doesn't exist) and create the in-order key in one POST request.

[2015-03-17 15:02] xiang90 commented on #2504
@jlsalvador I will fix this shortly and let you give it a try. Thanks for reporting!

[2015-03-17 15:27] AdoHe commented on #2524
@timothysc for the next version of etcd, you should use go 1.4

[2015-03-17 15:47] xiang90 commented on #2524
@timothysc We probably will require go1.4 for 2.1 release.

[2015-03-17 15:47] #2524 closed

[2015-03-17 16:29] yichengq commented on #2523
You can run it as .exe and it should work.
Will improve.

[2015-03-17 17:19] vbatts commented on #2524
rawr

[2015-03-17 17:20] jazzzz commented on #2523
@yichengq yes I did this, but it was not obvious that they really were Windows binaries.

[2015-03-17 18:31] jedsmith commented on #2430
@leeychee I see they merged my commit to allow configurable hosts. How are you calling the Docker container? It shouldn't be in a position where it hands out double-slashed URLs unless they've patched it.

[2015-03-17 21:35] MartinPodval commented on #1232
Also giving +1 as using ETCD as service registry generates many updates because of TTL refreshing which needs to by filtered as "uninteresting" configuration changes.

[2015-03-17 22:07] bitglue commented on #1232
It might be insightful to describe how Zookeeper solves this problem. Zookeeper has [ephemeral nodes](http://zookeeper.apache.org/doc/r3.2.1/zookeeperProgrammers.html#Ephemeral+Nodes), which instead of having a TTL, have a lifetime scoped to the TCP connection that created them. When that connection is closed or times out, all the ephemeral nodes it created are destroyed.

This seems pretty elegan

[2015-03-17 22:15] xiang90 commented on #1232
@bitglue

I do not quite like the idea to attach a session to a TCP connection. That means only one TCP connection can maintain that session. The ownership of the session is kind of too fixed.

We do have the plan to make this elegant in etcd.

[2015-03-17 23:22] #2504 closed

[2015-03-17 23:45] mgoelzer opened #2527 "etcdserver/security: impossible to disable security once it's been turned on"
Once I enable security in etcd, I cannot disable it.  Error message is "Can't delete root user."

You can reproduce the problem like this:

[code]

From looking through commit 001efa0639657f5aa4e7f6e627f9ed814da4f714, it appears to me that it's actually impossible to disable security once it's been turned on.  The reason is that DisableSecurity() calls DeleteUser("root"), but the first thing Delet

[2015-03-17 23:54] mgoelzer commented on #2527
I modified DeleteUser() to allow removal of root (just comment out the first 3 lines), and now everything works as expected.  You can enable and disable security just as described in the docs.

Shall I make a PR for this?

[2015-03-18 00:03] yichengq commented on #2527
Based on user feedback, our current plan is to decouple enable/disable and user(root) setting. @barakmich will guide the road to that.

[2015-03-18 00:06] mgoelzer commented on #2527
Ah, ok, that makes sense @yichengq

[2015-03-18 00:43] yichengq commented on #2430
@leeychee quick fix:
[code]

[2015-03-18 02:25] hiro4bbh commented on #2490
Ok, thank you for your reply as classifying this. I can't understand this issue was classified as question, which seems to be specification violation to make this queuing feature unstable sometimes.
With further source reading, I realized that it's sufficient only to sort last key part in numerical order. So I can simply sort ID keys as I wanted with the following code (Briefly I'll share this at

[2015-03-18 02:25] #2490 closed

[2015-03-18 03:01] AdoHe commented on #2454
@marc-barry Yeah, I think this is quite necessary. The doc should point out this.

[2015-03-18 03:44] duffqiu commented on #225
from 2.0, there is no interface for master election, how shall I do for such propose?

[2015-03-18 05:38] lawrencewu commented on #2489
hi @il9ue  this only works on the leader server, how about the server that is not the leader?

[2015-03-18 05:39] xiang90 commented on #2489
@lawrencewu You need to find the leader. And then get the information for the leader. Our plan is to have etcdctl do that for you in the future.

[2015-03-18 08:43] F21 opened #2528 "Option to pretty print json"
It would be nice if there's an option to pretty print the json when requesting things over the http interface.

Something like this would be nice:
[code]

This would make working with curl much easier and remove the need to install some json-prettifying tool to pipe the output to.

[2015-03-18 13:42] wsimmonds opened #2529 "Restarting etcd proxy instance - fails to start (unknown wal version in data dir)"
Hi,

Running version 2.0.5 of etcd (and originally experienced the issue on 2.0.3). One of my proxy nodes was rebooted and did not come online, with the following message:

Mar 18 09:56:05 ip-10-0-1-113.ec2.internal writer_process[1105]: 2015/03/18 09:56:05 etcd: unknown wal version in data dir /opt/etcd

It appears this issue previously existed in #1899 and was fixed in #1913 for 0.50.

I can con

[2015-03-18 13:47] wsimmonds opened #2530 "Upgrading etcd from 2.0.3 to 2.0.5 - members succeed & start, proxies won't start"
As part of investigating #2529 and attempting to see if the latest release might resolve the issue (it didn't). The proxies are unable to start up. However the error is different in this scenario:

Mar 18 13:38:20 ip-10-0-1-113.ec2.internal systemd[1]: Started etcd container.
Mar 18 13:38:20 ip-10-0-1-113.ec2.internal writer_process[3907]: 2015/03/18 13:38:20 etcd: listening for peers on http://0.

[2015-03-18 14:24] cmollen commented on #2525
My bad: I didn't notice that the ordinary setting of keys uses PUT and not POST, so there is no ambiguity and it already works!

[2015-03-18 14:24] #2525 closed

[2015-03-18 14:40] xiang90 commented on #2529
This should be fixed by https://github.com/coreos/etcd/pull/2526. Next release will include this fix.

[2015-03-18 14:40] xiang90 commented on #2530
This should be fixed by #2526. Next release will include this fix.

[2015-03-18 14:41] xiang90 commented on #2528
@F21 We probably will not do this at server-side if it can be done at client side. Yea. Pipe it to json-prettifying tool please. :)

[2015-03-18 16:29] wsimmonds commented on #2530
@xiang90 That's brilliant. Once the build is passing, I'm happy to download and test this and #2529 and confirm they have been resolved.

[2015-03-18 16:30] yichengq commented on #2528
`echo '{"foo": "lorem", "bar": "ipsum"}' | python -m json.tool`

[2015-03-18 17:11] agokjr commented on #2528
Check out https://github.com/stedolan/jq

[2015-03-18 18:53] philips commented on #2529
Closing as a duplicate of #2529. Thanks.

[2015-03-18 18:53] #2529 closed

[2015-03-18 21:14] F21 commented on #2528
@xiang90 @yichengq Fair point. I will be closing this then :smile:

@agokjr That tool looks awesome! Thanks for mentioning it!

[2015-03-18 21:14] #2528 closed

[2015-03-18 21:17] mlazarov commented on #1742
I do have the same problem. The "fix" just makes the coreos cluster more stable (i.e. not electing new master every second), but still the etcd daemon takes 80-90% of one core

![screen shot 2015-03-18 at 23 14 12](https://cloud.githubusercontent.com/assets/976139/6719625/93a0b782-cdc4-11e4-9eae-26950496308a.png)

Currently the server is brand new - without any docker instances:

[code]

[2015-03-18 21:18] xiang90 commented on #2432
@kelseyhightower Any progress on this?

[2015-03-18 21:19] xiang90 commented on #2399
@fasaxc I assume this is solved. Reopen this if there is still a problem. Thanks for reporting!

[2015-03-18 21:19] #2399 closed

[2015-03-18 21:20] xiang90 commented on #2276
@ghristov @minjs This should be solved by the 2.0.5 release. Please give it a try! Thanks!

[2015-03-18 21:20] #2276 closed

[2015-03-18 21:20] #2146 closed

[2015-03-18 21:22] yichengq commented on #1742
@mlazarov We have moved to 2.0.5, and gonna release it on CoreOS very soon. Please give it a try, and it should be much stable.

[2015-03-18 21:23] yichengq commented on #2072
@kelseyhightower has fixed it. Thanks!

[2015-03-18 21:23] #2072 closed

[2015-03-19 02:19] leeychee commented on #2430
@yichengq thx

[2015-03-19 02:58] AdoHe commented on #2432
This is awesome :+1:

[2015-03-19 03:21] lawrencewu commented on #2432
great!

[2015-03-19 08:26] josefzamrzla opened #2539 "Cannot establish etcd cluster with SSL/TLS - raft fall into infinite loop"
I'm trying to run an etcd cluster of 3 machines (10.0.0.1, 10.0.0.2, 10.0.0.3) with SSL/TLS both for client and transport security, but I'm still getting into trouble, it seems like the cluster isn't able to elect its leader - raft falls into infinite loop and fails after several tries.  All machines uses etcd 2.0.5

*server1*

etcd -name eu1 -data-dir eu1 \
 -ca-file=/root/etcd-ca/ca.crt -cert-fi

[2015-03-19 08:55] cheyang commented on #2512
thank you.

[2015-03-19 17:40] cmollen opened #2541 "X-Etcd-Index is less than modifiedIndex"
Repro:

Clean install of 2.0.5. One-node, simply launched with "etcd" on command line. No data. Index is 2.

Wait for next change:
http://127.0.0.1:4001/v2/keys/test?wait=true&waitIndex=3

Create key:
curl http://127.0.0.1:4001/v2/keys/test -XPUT -d value="Hello world"

Waiting request returns, with modifiedIndex = 3, and X-Etcd-Index = 2. I assume this is not the expected behaviour?

{"action":"s

[2015-03-19 20:18] yichengq commented on #2541
`X-etcd-index` is the etcd index when this watch starts.

[2015-03-19 20:24] yichengq commented on #225
Reimplementation of the module is on the TODO list. If you want to do for such propose now, you may need to follow the ZK pattern and write your own.

[2015-03-19 20:33] yichengq commented on #2530
@wsimmonds The build and test are passing. Could you help to confirm the problem is resolved?

[2015-03-19 22:51] #2445 closed

[2015-03-19 22:52] xiang90 commented on #2539
@kelseyhightower Can you take a look at this?

[2015-03-19 23:28] genti-t commented on #2539
I'm having the same issue. I'm using version 2.0.5 on docker container with static discovery:

ExecStart=/bin/bash -c "/usr/bin/docker run \
  -p 4001:4001 \
  -p 2379:2379 \
  -p 2380:2380 \
  --name etcd \
  -v /var/lib/etcd:/var/lib/etcd \
  -v /var/lib/etcd-certs:/etc/ssl/certs quay.io/coreos/etcd:v2.0.5 \
  -data-dir /var/lib/etcd \
  --ca-file=/etc/ssl/certs/ca.crt \
  --cert-file=/etc/ssl/c

[2015-03-20 00:32] pbx0 opened #2543 "Gotcha: cloud-config port configuration and Etcd 2.0.5"
I've been testing the etcd 2.0.5 binary on the latest core-os production image (with etcd 2.0.5 built in as the default) in a cluster of 3 with vagrant.

If I use the following cloud config discovery works:
[code]
I then run `sudo systemctl start etcd.service` on each machine and then run `etcdctl cluster-health` to see:
[code]
and
[code]
Now following this guide: https://github.com/coreos/etcd/bl

[2015-03-20 00:51] pbx0 commented on #2543
Started as an issue, but was complicated by my own misunderstanding and I filed it as a gotcha. As it is, its purely user error. Closing

[2015-03-20 00:51] #2543 closed

[2015-03-20 04:03] bcwaldon opened #2547 "Provide SRV discovery in client"
For https://github.com/coreos/fleet/issues/1138

Clients of etcd should be able to discovery the members of a cluster using the SRV discovery method. The code to do this should be made available in github.com/coreos/etcd/client.

[2015-03-20 06:46] josefzamrzla commented on #2539
Yep, the static bootstrapping ends with the same result as well.

[2015-03-20 13:15] wsimmonds commented on #2530
@yichengq Happy to report for both #2529 and #2530, the issues have been resolved and it's working perfectly from my perspective.

Thanks for the great work! Once I learn a bit more Go, hope to be able to contribute.

[2015-03-20 14:40] durzo opened #2549 "Proxy round-robin/randomize connections to cluster"
We plan on having a fairly high QPS cluster, but currently all proxies connect to a single member of the cluster (it seems to be the first member returned by the service discovery url?) and only move on if that member becomes unavailable.

In our tests, this means the maximum rate of queries is dependent on the network throughput of a single cluster member, regardless of how many members we have.

[2015-03-20 14:42] xiang90 commented on #2530
@wsimmonds Thanks! Looking forward to your contribution.

[2015-03-20 14:42] #2530 closed

[2015-03-20 15:42] iamthemuffinman opened #2550 "Ports 4001 and 7001 are closed when using the peers flag"
As the title says, ports 4001 and 7001 are being closed when using the peers flag in my cloud-config.yaml file. [Here's](https://gist.github.com/iamthemuffinman/d6fd65480eed7292c422) my config file. When I take out the peers flag, the ports open again.

[2015-03-20 16:20] yichengq commented on #2550
@iamthemuffinman Could you give more details about it? `systemctl cat etcd` and `journalctl -u etcd` could give you the systemd file and log so far. How did you figure out the ports are closed?

[2015-03-20 17:13] yichengq commented on #2549
Yes, that is the case nowadays. The etcd client always targets on the first
endpoint for each request:
https://github.com/coreos/etcd/blob/master/client/client.go#L200
And it needs to be improved.

The further thought is to let client stick on one endpoint until it becomes
unavailable.

Could you file an issue for it?

Yicheng

On Fri, Mar 20, 2015 at 7:40 AM, durzo <notifications@github.com> wrot

[2015-03-20 18:05] iamthemuffinman commented on #2550
Ah, I forgot to include that stuff. My apologies. I used nmap in the toolbox container to determine whether or not the ports were open.

[nmap](https://gist.github.com/iamthemuffinman/103006511dfc31a1674e)
[systemctl cat etcd](https://gist.github.com/iamthemuffinman/b8287f29f979c034a098)
[systemctl status etcd -l](https://gist.github.com/iamthemuffinman/9c94da760dab2bc13fa0)

[2015-03-20 19:19] bmurphy1976 commented on #2488
I think I am running into this problem.  Same cause, but different symptoms.

In my case, I have CNAME aliases for our nodes that resolve the private IP on the LAN and the public IP on the WAN.

We're using SSL to encrypt the connection and allow clients to connect from separate networks, however, because the servers advertise the private ip addresses instead of the dns name:

[code]

clients that

[2015-03-20 22:43] scole-scea opened #2554 "etcd cluster bringup fails when multiple hosts try to start at the same time"
Starting with CoreOS 607, which got pushed to Google Cloud Engine this week, all of my super-speedy cluster bringup scripts started to fail.

These clusters are created with commands that create VMs from a CoreOS image simultaneously. The error is essentially that the etcd cluster (often, not always) fails to form.

On one of these hosts after they've all started running, this happens:
[code]

And

[2015-03-20 23:10] tomdee opened #2555 "etcdserver/security: What is the expected behavior when waiting for changes? Can currently see changes that shouldn't be visible."
I've just been trying out the new security API and found some unexpected behavior when using `?wait=true&recursive=true`

What is the expected behavior here? It's not documented currently in the RFC. e.g. will curl return even if there are no visible changes? If so, what does the JSON look like.

The unexpected behavior that I observed on the current latest code

1. I enabled security
2. I created

[2015-03-21 06:49] olalonde opened #2559 "Installing etcdctl CLI on OSX?"
It is possible to install fleetctl through brew `brew install fleetctl` but I haven't found a way to install `etcdctl` on OS X. What would be the recommended way to do this?

[2015-03-21 08:07] AdoHe commented on #2559
@olalonde once you installed the etcd in your OS X, you get `etcdctl` installed, it is also in the `bin` folder.

[2015-03-21 08:28] olalonde commented on #2559
Oh thanks.

[2015-03-21 08:28] #2559 closed

[2015-03-21 11:05] olalonde commented on #2559
@AdoHu It seems there is no flag to tunnel the connection to a remote CoreOS server like fleetctl right?

[2015-03-21 18:33] kelseyhightower opened #2560 "the etcd `--version` flag should print more information"
It would greatly help debugging if etcd would print more version info. I think the way the docker project does this is perfect:

[code]

[2015-03-22 17:25] bketelsen opened #2562 "etcd master broken on linux/arm"
Building on Raspbian, on an original raspberry pi.

HypriotOS: pi@black-pearl in ~/src/github.com/coreos/etcd/bin on master
$ ./etcd --force-new-cluster 'true'
2015/03/22 18:16:29 etcd: no data-dir provided, using default data-dir ./default.etcd
2015/03/22 18:16:29 etcd: listening for peers on http://localhost:2380
2015/03/22 18:16:29 etcd: listening for peers on http://localhost:7001
2015/03/22 1

[2015-03-22 18:41] bketelsen commented on #2562
installed gcc, rebuilt (with no errors) same stack trace when running.

[2015-03-22 18:59] bketelsen commented on #2562
similar error after etcd starts, but when it serves its first HTTP request:

2015/03/22 19:57:20 http: panic serving 127.0.0.1:57959: runtime error: invalid memory address or nil pointer dereference
goroutine 21 [running]:
net/http.func·011()
	/usr/local/go/src/net/http/server.go:1130 +0xb8
sync/atomic.addUint64(0x10939aec, 0x1, 0x0, 0x1, 0x0)
	/usr/local/go/src/sync/atomic/64bit_arm.go:31 +0x70
(

[2015-03-22 19:00] bketelsen commented on #2562
Running all.bash in the Go directory to see if there are tests that fail.  If so, will report upstream.

[2015-03-22 20:09] bketelsen commented on #2562
no failures in all.bash - leaving this open for now.

[2015-03-22 20:52] davecheney commented on #2562
See golang/go#599

[2015-03-22 20:53] bketelsen commented on #2562
Thanks @davecheney - closing here due to upstream issue.

[2015-03-22 20:53] #2562 closed

[2015-03-23 02:15] andrewnicols commented on #2549
+1 to this. But I think that the stickiness needs to be slightly different.

Ideally the client should be sticky until either:
* the endpoint goes away; OR
* an endpoint is added.

Without this second point, if all but one endpoint goes away, all clients will point to the remaining endpoint. When the original endpoints come back or are replaced, the load will still be directed to the same individu

[2015-03-23 02:55] #2501 closed

[2015-03-23 05:43] wptad commented on #815
Works for me !! @mosquitorat

Thanks a lot

[2015-03-23 05:58] #2523 closed

[2015-03-23 09:15] cmollen commented on #2541
Thank you for the clarification, @yichengq.

[2015-03-23 09:15] #2541 closed

[2015-03-23 14:52] iamthemuffinman commented on #2550
@yichengq Have you figured anything out about this?

[2015-03-23 15:10] yichengq commented on #2550
I cannot reproduce it here based on the information so far. Could you reproduce it step by step in very-verbose(-vv) mode and share the full log with me? Before that, please ensure the connection between each other is healthy.

[2015-03-23 16:24] iamthemuffinman commented on #2550
I've been messing with this for a few weeks now and decided to give up and upgrade to etcd to 2.0. I have had no issues so far with that. Thanks for your help @yichengq

[2015-03-23 16:24] #2550 closed

[2015-03-23 17:05] yichengq commented on #2550
@iamthemuffinman Let me know if you encounter any problem when using 2.0

[2015-03-23 20:22] alunduil opened #2564 "sorted directory returns numeric keys in lexicographic order"
When using a directory as a queue like mentioned in #2490 , we've found that the during digit increases (i.e. 9 → 10) the nodes are sorted lexicographically when using sorted.  This is counter to the way the documentation indicates this use case and appears to be a flaw in etcd's return value when using sorted on a directory.  If this is by design can we get the documentation updated to reflect th

[2015-03-23 23:11] mighq opened #2566 "HEARTBEAT-INTERVAL > 1000 crashes"
When I set heartbeat > 1000 ms, for example 1001, it causes a crash.

    panic: runtime error: integer divide by zero
    [signal 0x8 code=0x1 addr=0x5f3ebd pc=0x5f3ebd]

Affected version **v2.0.5**.

[2015-03-23 23:12] yichengq commented on #2566
this is a duplicate of https://github.com/coreos/etcd/issues/2487.
It is fixed in master and v2.0.6

[2015-03-23 23:12] #2566 closed

[2015-03-23 23:12] yichengq commented on #2566
Thanks for reporting!

[2015-03-24 01:47] pacasrc opened #2567 "etcdctl cluster-health problem"
Hi All,

I found some strange things when I use `etcdctl cluster-health' to get cluster info in v2.0.4 & v2.0.5.
etcdctl cluster-health output the different result between leader node and followers node:

The reproduced step is:
1. create 2 node etcd cluster(hostname: cy_1, cy_2)
2. add 1 node in cluster(hostname: cy_3, 3 node total)
3. stop first 2 node, and restart. Now the leader is on the cy_3

[2015-03-24 05:46] #2396 closed

[2015-03-24 06:43] AdoHe opened #2569 "client get status code 500"
Hi All, is there any possibility that when the client requests etcd HTTP API, the client will get http status code 500?

[2015-03-24 06:47] yichengq commented on #2569
Yes, it indicates the internal server error. Sometimes it happens because the request is proposed, but failed to be committed in the given time.
You can check the response body or the server log to see what the detail it is.

[2015-03-24 06:53] AdoHe commented on #2569
@yichengq so the client should retry the request?

[2015-03-24 06:55] yichengq commented on #2569
@AdoHe If the error indicates that the server is under leader election, the client should retry the request because the requests may be dropped when switching leader.

[2015-03-24 06:57] AdoHe commented on #2569
@yichengq so the client should check the response body, and once the `errorCode` is `301`, the client should retry this request?

[2015-03-24 07:04] yichengq commented on #2569
Yes. If the cluster is always under leader election, this could be a problem too. Either the majority of the cluster is dead, or the cluster is under frequent leader switch. Admin should check the status of the cluster then.

[2015-03-24 07:05] AdoHe commented on #2569
@yichengq thanks :)

[2015-03-24 07:05] #2569 closed

[2015-03-24 09:48] AdoHe opened #2570 "node expiration can be empty string or even strange string"
LGTM.

[2015-03-24 18:28] xiang90 commented on #2471
@dchen1107 I have fixed the `out of memory` issue in master branch. It is caused by high memory consumption during recovery phase. Thanks for reporting!

[2015-03-24 18:28] #2471 closed

[2015-03-24 19:12] yichengq opened #2571 "etcd fails to bootstrap in an non-empty data dir"
[code]

etcd failing because of an unknown file in the data dir is terrible.

/cc @kelseyhightower @crawford @barakmich

[2015-03-24 21:51] yichengq commented on #2570
@AdoHe Could you give a detailed example of this?

[2015-03-25 02:17] #2571 closed

[2015-03-25 03:22] AdoHe commented on #2560
yeah, this is nice...

[2015-03-25 03:24] AdoHe opened #2574 "HTTP API Status Code should be documented"
LGTM.

[2015-03-25 11:12] AdoHe opened #2578 "Any possibility to implement push on top of etcd just like zookeeper."
LGTM.

[2015-03-25 16:38] #2467 closed

[2015-03-25 17:21] yichengq opened #2580 "fail to add member because of strict checking"
[code]

etcd should do best effort checking on initial-advertise-peer-urls in this case.

[2015-03-25 17:22] xiang90 commented on #2580
@yichengq etcd should bypass the checking in this case if the user does not provide the peer url. If user gives us the peer url, we can do verification.

[2015-03-25 17:33] crawford opened #2581 "etcdctl upgrade ignores --peers"
[code]

[code]

[2015-03-25 17:59] #2138 closed

[2015-03-25 18:12] crawford commented on #2581
The correct flag to use is --peer-url.

`etcdctl upgrade --peer-url http://127.0.0.1:2380`

Yes, the flag order matters.

[2015-03-25 18:13] #2581 closed

[2015-03-25 21:37] #2580 closed

[2015-03-25 21:44] #2145 closed

[2015-03-25 23:11] yichengq commented on #2243
I think this has been fixed by join existing check.

[2015-03-26 08:47] durzo opened #2585 "Cluster network throughput"
I'm running a 3 node cluster on aws t2.small ec2 instances.
At idle (no clients reading or writing), I see network throughput of between 100-170 kilobytes/second throughput on all 3 nodes with the leader being the highest.

Is this normal? should I increase my heartbeat interval?

Current heartbeat is 100, election timeout is 1000 - I am not seeing anything in the logs to suggest heartbeat time ou

[2015-03-27 13:29] brentryan commented on #2225
When will this be issue be rolled into 2.X release

[2015-03-27 17:31] kelseyhightower opened #2590 "the etcd client should support the stats API"
Currently the etcd client supports the members and k/v endpoints, there should be equal support the stats endpoints.

[2015-03-27 20:36] timothysc opened #2592 "Running back-2-back tests split-brain condition, unrecoverable."
We were running tests on kubernetes and encountered a split-brain issue, we are pouring through the logs and data to diagnose.  Is there a secure place to handoff data?

etcd version 2.0.4+git  635e4db6d942cd84e8b613c37c6b47f8c06b94dd

Here are the symptoms:

\#etcdctl ls /
/coreos.com
/fuckotest

curl -L http://host01-rack10:4001/v2/keys/ | python -mjson.tool
  % Total    % Received % Xferd  Aver

[2015-03-27 20:50] xiang90 commented on #2592
@timothysc xiang.li@coreos.com Thanks!

[2015-03-27 21:00] #2437 closed

[2015-03-27 21:30] yichengq commented on #943
etcd doesn't have 5min watch timeout now, and go-etcd has been improved to handle the watch better.

[2015-03-27 21:30] #943 closed

[2015-03-28 02:34] xiang90 commented on #2109
We have separated the raft and applier routine. The first step is done.

[2015-03-28 02:34] #2109 closed

[2015-03-28 02:52] xiang90 commented on #2243
@yichengq I tried and confirmed this is fixed.

[2015-03-28 02:52] #2243 closed

[2015-03-29 17:10] vanthome opened #2601 "etcdctl ignores given `--peers` command line param"
I cannot use the etcdctl command as I haven't bound it to 127.0.0.1. It tires to use `localhost` instead of the given peer address:

[code]

[2015-03-30 08:52] nrbrt opened #2602 "vmware esxi etcd connection denied"
I am using the latest stable coreos-vmware.ova image and a config iso with a user_data file on 2 vmware vm's. I have configured fixed ip's and that works fine. I can't get etcd working because the ports 4001 and 7001 are not open for some reason. I tried to telnet from a different machine to these ports and they seem to be closed on both machines. I have not configured iptables and when I run ipta

[2015-03-30 12:08] nrbrt commented on #2602
UPDATE: when I start etcd from the commandline with the same options, it does seem to work. What am I doing wrong in the user_data file? I would really appreciate any pointers....

[2015-03-30 16:55] yichengq commented on #2585
Yes, this is normal.
etcd does some internal sync, and that consumes some network throughput.
Based on your network case, i think default setting should work well for you.

[2015-03-30 17:02] xiang90 commented on #2592
@timothysc I have not received the log. Can you try to resend it? Or can you please upload it to somewhere so that I can get it to look into?

[2015-03-30 17:06] tsouza commented on #872
Hello,

Is there any solution to this? I'm running a 3 node cluster on EC2 with etcd 0.4.7 and latest coreos image. After running "netstat | grep CLOSE_WAIT | wc -l" I get a count of more then 1000. How to fix this?

Thanks

[2015-03-30 17:27] jayunit100 commented on #2592
meanwhile, is there a etcd health test we can run periodically ?  I was going to cobble a bash script together to do something simple, but maybe someone already has one

[2015-03-30 17:33] xiang90 commented on #2592
@jayunit100 https://github.com/coreos/etcd/tree/master/tools/functional-tester

We have our own functional tester here. You can write you own failure case, it will check the healthy for you.

[2015-03-30 17:41] philips commented on #2477
@yichengq What is the plan of attack here? Will we reserve a few file descriptors for WAL handling?

[2015-03-30 17:42] philips commented on #2340
What will the approach be on this? Are we going to add a threshold for RPC latency and then mark something as unhealthy at that point?

[2015-03-30 17:48] timothysc commented on #2592
@xiang90 Send a private share as the data-dirs are large

[2015-03-30 17:54] yichengq commented on #2477
@philips Based on the discussion, the first step is to expose the number of fds used and give users instructions.

It is reasonable to reserve a few file descriptors or restrict the number of fds used by rafthttp. We want to wait for users' suggestions before improving it.

[2015-03-30 18:05] xiang90 commented on #2592
@timothysc @jayunit100
After examining the log and snapshot, all three nodes are running separately with default configuration. So they are 3 one-node clusters. All nodes have the same id `ce2a822cea30bfca.`

[2015-03-30 18:25] timothysc commented on #2592
That's weird, below are our configs.

host01-rack10.scale.openstack.engineering.redhat.com

ETCD_NAME=host01-rack10
ETCD_DATA_DIR="/var/lib/etcd/default.etcd"
ETCD_LISTEN_PEER_URLS="http://host01-rack10.scale.openstack.engineering.redhat.com:2380,http://localhost:2380,http://host01-rack10.scale.openstack.engineering.redhat.com:7001,http://localhost:7001"
ETCD_LISTEN_CLIENT_URLS="http://host01-rack

[2015-03-30 18:33] xiang90 commented on #2592
@timothysc From the data, the initial cluster is not set as you posted here. I suspected that you gave the configuration to an existing cluster and it will ignore the initial configuration.

[2015-03-30 18:35] xiang90 commented on #2592
All the members' `initial-peer-urls` are just default localhost.

[2015-03-30 18:37] timothysc commented on #2592
What would happen if the cluster machines were 1st started as a local setup, then converted?

[2015-03-30 18:37] yichengq commented on #2592
@timothysc You can check the members in the cluster at endpoint /v2/members.https://github.com/coreos/etcd/blob/master/Documentation/other_apis.md#list-members

To verify 3 one-node clusters, you can fetch /v2/members on all three members you are running now.
You can start from a empty data dir, run these commands with `initial-peer-urls` set as xiang suggested, and check the members of cluster us

[2015-03-30 18:39] yichengq commented on #2592
@timothysc When there is a data dir, it ignores the inital flags.
And it prints out what it starts with:
[code]

[2015-03-30 18:39] xiang90 commented on #2592
@timothysc

You need to do runtime configuration to add members to an existing cluster.
https://github.com/coreos/etcd/blob/master/Documentation/runtime-configuration.md

Changing the configuration and restart will not help.

[2015-03-30 18:45] timothysc commented on #2592
k, this may be an order of operation on our part then.

but this was good to know.

[2015-03-30 18:46] xiang90 commented on #2592
@timothysc Closing this. Thanks for the reporting!

[2015-03-30 18:46] #2592 closed

[2015-03-30 18:55] philips commented on #2602
@nrbrt Can you `curl 172.16.66.203:7001`? Are both hosts up?

[2015-03-30 18:57] xiang90 commented on #2578
Can you provide more details?

[2015-03-30 19:39] timothysc commented on #2592
k, I wiped contents reset configs removing legacy setup and all was well.

Ordering appeared to be the issue.

[2015-03-30 20:25] yichengq commented on #2601
etcdctl does the following things:
1. sync the cluster, and get the client urls registered in the cluster
You can get them also through https://github.com/coreos/etcd/blob/master/Documentation/other_apis.md#list-members
2. do requests using the client urls

Because the registered client urls are at localhost, it failed to list.

You can either set the correct client urls, or let etcdctl skip the s

[2015-03-30 20:33] yichengq commented on #872
@tsouza The error indicates that there are too many concurrent clients in a short window(which depends on how fast tcp socket is closed). etcd 2.0 does handle the timeout stuffs better, and i suggest to give it a try.

[2015-03-30 20:42] tsouza commented on #872
@yichengq thanks for the tip! I'm using CoreOS official EC2 image. How do I upgrade to etcd 2.0?

Thanks!

[2015-03-30 20:59] xiang90 commented on #2475
move this to 2.2 based on offline discussion.
/cc @barakmich @kelseyhightower @philips

[2015-03-30 23:21] philips opened #2604 "client: follow redirects"
It would be good if the client followed redirects to be compatible with old versions of the v2 API provided by etcd 0.4. That way tools that want to use the new client like etcdctl, flannel, fleet or locksmith can be blissfully unaware of the underlying version.

[2015-03-30 23:21] philips commented on #2258
@xiang90 We talked about adding this to the v2.1.0 milestone. But we need to consider #2604 too.

[2015-03-31 05:44] yichengq opened #2609 "deprecate `--ca-file` and `--peer-ca-file`"
- [x] deprecate `--ca-file` and `--peer-ca-file`
- [x] update related documents

/cc @kelseyhightower

[2015-03-31 13:07] nixn commented on #948
etcdctl still uses only `localhost:4001` by default. this is annoying when using only the new (IANA-assigned) ports, one has always to type `etcdctl -C http://localhost:2379 ...`.

Further I would like to have the possibility to use the same DNS discovery as with confd, which is the SRV entry `_etcd._tcp.example.com`. For example `etcdctl -D example.com ...`, which is fault-tolerant and much faste

[2015-03-31 15:17] gtonic commented on #1959
Think I've got the same issue here, using etcd 2.0.5, Ubuntu 14.10.

Configured a 3 node cluster and would expect an additional node to join as a proxy. It starts up listening for client requests, however when I curl on it, I get this one:

[code]

[2015-03-31 15:39] nrbrt commented on #2602
@philips I can't connect to either host with curl or telnet for that matter. Both hosts are up and I have access with ssh. I have stopped trying to get this working with the user_data file for the moment. I am trying to get it to work from the command line first. Not having much luck I am sad to say. When start etcd from the command line, I can connect with curl. I keep having other issues though.

[2015-03-31 18:01] yichengq commented on #1959
@gtonic
In summary, this normally happens when the number of concurrent clients exceeds the upper limit of file descriptors, which results in that etcd cannot communicate with peers or open file.

The improvement/fix of the root cause is now tracked at #2477 .

Our first-step plan is to expose metrics about fd usage, and log when it is in high ratio.

[2015-03-31 20:51] xiang90 commented on #1987
We shifted the priority of this due to security support. This need to be rescheduled.

[2015-03-31 20:51] #1987 closed

[2015-03-31 22:18] xiang90 commented on #1767
closed by https://github.com/coreos/etcd/pull/2598

[2015-03-31 22:18] #1767 closed

[2015-04-01 02:17] atmouse- commented on #2539
The same issue here, if I set back with non-TLS peers, Then it works.

[2015-04-01 02:22] xiang90 commented on #2539
@josefzamrzla @atmouse- @josefzamrzla
I suspect tls increase the latency significantly. Can you try to increase `-election-timeout` to 5 seconds or higher?
https://github.com/coreos/etcd/blob/master/Documentation/configuration.md#-election-timeout

At the meantime, we are looking into the problem.

[2015-04-01 07:10] yichengq commented on #948
@nixn Have just updated etcdctl default setting: https://github.com/coreos/etcd/pull/2611 :)

[2015-04-01 10:17] genti-t commented on #2539
I tried this with version 2.0.8.
Increased  election-timeout up to 20 seconds, there is a leader elected now, but after that :
etcdserver: publish error: etcdserver: request timed out
etcdserver: publish error: etcdserver: request timed out
....
sender: dropping MsgAppResp because maximal number 64 of sender buffer entries to https://<node_ip>:2380/raft has been reached
....

[2015-04-01 10:27] #2585 closed

[2015-04-01 10:27] durzo commented on #2585
Good to know, thanks

[2015-04-01 15:11] atombox commented on #2295
In case somebody needs a 32bit working version for development/testing purposes, I can confirm that etcd 0.5 works on 32bit.

[2015-04-01 16:49] xiang90 commented on #2539
@genti-t Hrm... Currently etcd peer side does not reuse any tcp connections, which means your server are doing tls handshake for every request and eats a lot of resources. We have solved the problem in current master and it will be available in 2.1 release.  For now, you have to switch to a more powerful machine. :(

[2015-04-01 16:49] xiang90 commented on #2539
@genti-t Can you test with current master by the way?

[2015-04-01 16:52] xiang90 commented on #2508
@onsi @Amit-PivotalLabs Any luck to get this reproduced?

[2015-04-01 18:54] tomdee commented on #2555
@kelseyhightower this is the issue that @apollitt mentioned when you were chatting the other day.

[2015-04-02 01:31] agokjr commented on #2539
I think I am hitting this too.
2.0.4 was manageable but it seems worse in 2.0.5-2.0.8
Ellection timeout to 20000ms and heartbeat 1000ms.
Also I looks like the side effect of not all peers on same term.

[2015-04-02 01:36] xiang90 commented on #2539
@agokjr Yea...... We started to not reuse connection from 205...

[2015-04-02 01:59] brentryan commented on #2468
We just built the timeout into our java etcd client instead.  So when we watch we only watch for 20 seconds max and then timeout and retry so we avoid this.  Once we get events then we can remove this sorta thing.

[2015-04-02 02:19] xiang90 commented on #2468
@stevenschlansker We have some discussion about this internally:

1. add tcp keepalive for the long polling connections
2. add notification for progress every N index increases even if there are no events happening
3. add a max_index flag to stop watching when it reaches.

But these are for v3 api.

[2015-04-02 03:56] amitkgupta commented on #2508
@xiang90 not yet, we've been making changes to our system before our next set of stress tests, it may be less likely to happen with our new changes.  Feel free to close this issue; if by some chance it still manifests in some form we will re-open.

[2015-04-02 04:14] popsikle commented on #2508
Hmm, I have seen this happen once or twice, but never really thought anything of it because of other factors that I figured caused my issues.  Im my situation my network interfaces were > 75%  utilized (due to a docker pull of a > 1.5GB container) and heartbeat traffic in and out of etcd was delayed.  This only happened in dev as I was running etcd on my container hosts.  My exp is probably irrele

[2015-04-02 12:18] wojtek-t commented on #1959
@fgrzadkowski

[2015-04-02 16:15] satnam6502 commented on #2477
/sub

[2015-04-02 17:01] stevenschlansker commented on #2468
I think option 2 and 3 do not really solve the problem, because the etcd index is intentionally time-independent, but TCP connections are explicitly time-dependent.  So in an idle cluster you may not receive any index changes for a period of time, and then still observe timeouts.

Why does this need to be a v3 feature?  At least the simple version (adding a timeout query parameter) is not a breaki

[2015-04-02 17:08] xiang90 commented on #2468
@stevenschlansker

They are relevant things. Client needs to detect the server status and server also needs to detect client status. It might not help with you specific problem. But a lot of people want to control the timeout of watchers themselves and they need to when where to start re-watch.

This is a client-side thing. It should not be handled at server side. etcd server are detecting dead cl

[2015-04-02 17:11] agokjr opened #2618 "Election timeout and heartbeat are they per instance or cluster init?"
election_timeout and heartbeat_interval are they per instance or cluster init?
Can they been changed to an existing cluster?

[2015-04-02 17:13] xiang90 commented on #2618
@agokjr They should be set consistently across the cluster. They can be reset, but should be reset to the same value across all the members. We have long-term plan to make this dynamically reconfigurable across the cluster.

[2015-04-03 05:20] nrbrt commented on #2602
I have resolved most issues and things are working nicely now. Mostly it was a case of trying to run before I could walk. I will still write that howto to guide people like me, for whom this is their first brush with coreOS. Closing the case.

[2015-04-03 05:20] #2602 closed

[2015-04-03 15:08] josselin-c commented on #2539
I hit this as well with 2.0.8 on machines with Xeon E3-1225. I don't have the problem with current master though.

[2015-04-03 15:08] xiang90 commented on #2539
@josselin-c We fixed it on current master.

[2015-04-03 16:17] scole-scea commented on #2554
This is still happening... If I do just the simplest bringup on a test cluster, etcd won't start. The logs look like:
[code]

All the hosts in the 'found peers' list are accurate, so the discovery service seems to work. What's most concerning to me is the `Raft Internal Error ()` that's reported.

I'm running CoreOS 607.0.0; and etcdctl on the host reports version 0.4.6.

[2015-04-03 16:32] bitglue commented on #2554
I'm noticing a very similar issue night now, though I'm on AWS. Join me on IRC and maybe we can compare notes?

[2015-04-03 17:05] yichengq commented on #872
@tsouza You can download it at github, or wait for etcd2.0 in CoreOS image release, which will happen soon.

[2015-04-03 17:08] scole-scea commented on #2554
More info: The leader does get selected, however it sends out RST packets to each of the attempts of peers to connect.

The terms are also quite short: the logs seem to claim about one quarter of one second:
[code]

[2015-04-03 17:50] xiang90 commented on #2225
Fixed via https://github.com/coreos/etcd/pull/2622

[2015-04-03 17:50] #2225 closed

[2015-04-03 18:33] bradbeam opened #2623 "etcd crash panic: raft: Index is beyond end of log"
etcd just crashed on me with the following panic. It looks similar to https://github.com/coreos/etcd/issues/521 but that was closed a year ago so perhaps this is a regression?
I'm not sure if there's much to do with this since it sounds like there's a new raft implementation with etcd 2.0 .

`etcd version 0.4.9`
[code]

[2015-04-03 18:34] xiang90 commented on #2623
@bradbeam This is a bug due to go-raft. And go-raft is unmaintained right now. We switched to use etcd/raft from 2.0.

[2015-04-03 18:38] bradbeam commented on #2623
should I go ahead and close this issue then?

[2015-04-03 21:33] xiang90 commented on #2623
@bradbeam Agree.

[2015-04-03 21:34] #2623 closed

[2015-04-03 21:47] bgrant0607 commented on #2048
cc @hchoudh

[2015-04-03 21:49] xiang90 commented on #2048
@bgrant0607 @smarterclayton

see https://github.com/coreos/etcd/issues/2468#issuecomment-88699492

[2015-04-03 21:52] bgrant0607 commented on #2468
cc @hchoudh

[2015-04-04 00:17] yichengq commented on #2153
Fully resolved. It can now finish in two TTLs.
/cc @stevenschlansker

[2015-04-04 00:17] #2153 closed

[2015-04-04 01:28] stevenschlansker commented on #2153
:+1:

[2015-04-04 06:34] agokjr commented on #2618
Ok sound good.

[2015-04-04 06:34] #2618 closed

[2015-04-04 15:05] nixn commented on #948
Nice, thank you. What about the second one (DNS discovery)?

[2015-04-04 22:06] cfrett commented on #2207
I am also experiencing this on v2.0.8.
Did the new issue get created?

[2015-04-05 23:42] cfrett commented on #2207
For me the problem was caused by ETCD_INITIAL_ADVERTISE_PEER_URLS listing more than one peer, as in static cluster configuration. Solved when setting each peer only to its own url.

Since etcd checks if the node is already registered by checking peer addresses, the error message should indicate that the address (instead of the peer name) have been previously registered because it creates confusion

[2015-04-06 13:54] jlsalvador commented on #2539
Hello @xiang90
I think that TLS is important enough to backport the patch to the actual stable version (to prevent future problems when CoreOS updates etcd to 2.0.x).

[2015-04-06 16:25] hh commented on #2308
I'm trying to get this to build today. If I get it working, I'll put in a pull request.

[2015-04-06 16:34] hh commented on #1468
This is from an empty directory, first time run... note the creation of the member/wall dir. Seems to hang as well, at least ^C isn't doing what I'd expect.

[code]

[2015-04-06 16:46] yichengq commented on #2129
basic TLS tests added. Done.

[2015-04-06 16:46] #2129 closed

[2015-04-06 22:05] jelmer commented on #2609
what would --ca-file be replaced by?

[2015-04-06 22:07] jelmer opened #2632 "Support for verifying peer certificates using TLSA records"
It would be great if etcd supported TLSA records for verifying peer certificates as an alternative to ca certificates.

https://tools.ietf.org/html/draft-ietf-dane-protocol-23

[2015-04-06 22:12] yichengq commented on #2609
@jelmer We will use `--trusted-ca-file` and `--client-cert-auth` instead. It makes TLS setting more clear for better UX. `--ca-file XXX` == `--trusted-ca-file XXX --client-cert-auth`

[2015-04-07 18:28] yichengq commented on #948
@nixn I think it is a good point. Please open a new issue and we can discuss and track about it there.

[2015-04-07 18:35] yichengq commented on #2207
@cfrett Could you give more details on how to reproduce your case in a new issue? We definitely want to improve it.

[2015-04-07 18:45] yichengq commented on #1468
@hh Could you check the size of the wal file? Could you `kill -SIGQUIT $etcd_pid` to show me the goroutines that are running after the error lasts for like 3 mins? Let us do it in a new issue.

[2015-04-07 19:12] nixn opened #2636 "DNS discovery for etcdctl"
It would be nice to have the possibility to use the same DNS discovery with etcdctl as with confd (which is the SRV entry _etcd._tcp.example.com). It could be something like `etcdctl -D example.com ...`. That's fault-tolerant (one must not know which hosts are up or even how they are called) and much faster typing than `etcdctl -C http://etcd1.example.com:2379,http://etcd2.example.com:2379 ...`.

[2015-04-07 19:13] nixn commented on #948
Done: #2636

[2015-04-07 20:33] hh opened #2639 "publish error: etcdserver: request timed out on arm"
Starting a new ticket to track down error on arm #1468

[code]

[code]

[2015-04-07 20:33] hh commented on #1468
@yichengq created #2639 with logs after running for quite a while

[2015-04-08 01:02] fasaxc commented on #2468
I'd like to see a timeout parameter and a dedicated "nothing happened" response such as a 204 at the end of it.

The current behaviour interacts _very_ poorly with HTTP connection pooling because the server never completes the HTTP transaction if no events occur.

Since HTTP 1.x is request-response based, there's no way to time out a request without also tearing down the underlying socket.  Doing

[2015-04-08 01:06] xiang90 commented on #2468
This is a good point. We are actually considering switch to stream based communication.

[2015-04-08 01:15] fasaxc commented on #2468
Streaming is nice but it's hard to write a correct client for that.

I'd recommend doing something simple to allow connection reuse and then adding streaming later for advanced users via format=stream, for example.

[2015-04-08 03:27] hh commented on #2639
[code]

[2015-04-08 03:28] hh commented on #2639
@yichengq looks like there's not much in the .wal file

[2015-04-08 04:28] hookenz commented on #872
I guess there is a lot of etcd 2 testing going on.  It hasn't made it even to alpha CoreOS build yet.

For me it's a show stopping bug that's prevented me from using etcd.

[2015-04-08 06:57] yichengq commented on #2639
Based on the log, it hangs on atomic.StoreUint64 forever. Could you write a simple go program to test whether atomic pkg can be used correctly in your machine? I guess maybe it is a golang-arm problem.

[2015-04-08 07:03] yichengq commented on #2639
There is well-known issue on running golang program on arm. You can try the solution in this thread: https://github.com/coreos/etcd/issues/2308

[2015-04-08 08:23] dreameryan opened #2643 "etcd.EtcdException: Unable to decode server response"
With etcd-v2.0.9-linux-amd64.
I run these 2 etcd process on two machine:
/home/idcuser/HATest/etcd-v2.0.9-linux-amd64/etcd -name monitorserver1 -listen-peer-urls  http://10.120.73.86:7001 -listen-client-urls http://10.120.73.86:4001 -initial-cluster-token monitorserver-cluster -initial-advertise-peer-urls http://10.120.73.86:7001 -initial-cluster monitorserver1=http://10.120.73.86:7001,monitorserv

[2015-04-08 09:26] dreameryan commented on #2643
BTW, when I run client.machines. It will output
machines [u'http://localhost:2379', u'http://localhost:2379', u'http://localhost:4001', u'http://localhost:4001']
Seems it still find cluster machines from localhost.

[2015-04-08 12:08] wojtek-t commented on #2048
cc @wojtek-t

[2015-04-08 13:36] spyrospph commented on #1518
Using the latest stable coreos 607.0.0 this problem persists EXACTLY as veverjak has reported.

[2015-04-08 14:29] xiang90 commented on #2643
@dreameryan This seems like a python client issue.

[2015-04-08 14:46] spyrospph opened #2644 "etcdctl exec-watch unreliable"
Hi,

I am using exec-watch to continuously watch a specific etcd value and when that changes to execute a few commands.

[code]

Problem is that sometimes exec-watch does not get triggered AT ALL. Behavior is fairly random and if it does not get triggered I then have to restart my service.

[code]

Post-restart of service,exec-watch gets triggered successfully, just to fail at some coreos nodes in

[2015-04-08 18:10] johnjansen commented on #623
+1

[2015-04-08 18:30] yichengq commented on #2477
etcd logs and exposes file descriptor usage now.
wait for more user feedback to see what restriction is expected.

[2015-04-08 21:44] hookenz commented on #2513
One reason you get lots of TIME_WAIT connections is because the client isn't initiating the close, the server is.  If the client isn't using a fixed port number then set SO_LINGER to zero and initiate shutdown call on write.  That should flush the buffer.  You can then close and you'll get rid of a lot of connections in TIME_WAIT.  It's called an abortive close and is quite useful in some cases.

[2015-04-08 21:48] hookenz commented on #2513
In etcd 0.46 it's actually a huge problem.  I'm seeing fresh 3 peer etcd servers on CoreOS bare metal (that aren't using the discovery URL) actually run out of file handles within a few days.  The etcd server becomes unresponsive and it corrupts it's data files.  The fix, clear out the etcd data on each server and restart.
Otherwise, ensure you have unlimited file handles set, don't use the defaul

[2015-04-08 22:32] hookenz commented on #872
I've been looking at the code for etcd 0.4* which uses goraft library.  goraft uses net/http.  Newer versions of etcd apparently use a newer implementation of goraft.  I'm interested in this one because etcd2 isn't even in alpha channel for CoreOS yet.

What I am seeing is many sockets stuck in either CLOSE_WAIT or FIN_WAIT2.  FIN_WAIT2 is a state where the server has closed the socket, but has no

[2015-04-08 22:51] sckott commented on #860
+1

[2015-04-09 04:22] xiang90 opened #2646 "boltdb evaluation"
We want to explore the disk backend options for etcd.

We have the following requirement:

1. Pure Go
2. Reliable
3. Predictable Performance
4. Non-blocking Snapshot

After initial comparison between `bitcask`, `leveldb` and `boltdb`, we think `boltdb` might be the best choice.

We want to evaluate boltdb from the following aspect:

1. API - Write a simple coalescer
2. Reliability - Tear Down test

[2015-04-09 04:35] xiang90 opened #2647 "v3 api/store design"
We have been working really hard on the internal raft. As the new raft getting stable, we are starting to design the new API/store for etcd.

Here are the feature requests from the community that we plan to support:

1. Optimistic concurrency https://github.com/GoogleCloudPlatform/kubernetes/issues/1957#issuecomment-69863343
2. Access to past versions of objects (after history compaction) https://

[2015-04-09 05:27] AdoHe commented on #2647
Cool :+1:

[2015-04-09 08:04] dmitryint opened #2648 "etcdctl: can not set value that begins with '-'"
Tested on 0.4.6 and 2.0.8
Trying to set the value that begins with '-' symbol:
`etcdctl set /kev/val '-param'`
an get error:
[code]

[2015-04-09 10:23] dreameryan commented on #2643
@xiang90
Hi, seems the problem existing in cluster build up.
Do you know how to build a etcd cluster?
I follow etcd instruction and run following command on each machine.But it does not work.
/home/idcuser/HATest/etcd-v2.0.9-linux-amd64/etcd -name monitorserver1 -listen-peer-urls http://10.120.73.86:7001 -listen-client-urls http://10.120.73.86:4001 -initial-cluster-token monitorserver-cluster -ini

[2015-04-09 13:20] hh commented on #2308
I put this into a changeset and rebuilt:

https://github.com/hh/etcd/tree/32bit

I had to start with a clean data-dir, but it seems to be working.

https://github.com/hh/etcd/commit/3060f863f0152b8fb77e651398788e9c81c01cdd

[2015-04-09 16:46] #2488 closed

[2015-04-09 16:59] xiang90 commented on #2340
I am moving this to 2.2.

This is more in line with our goal for 2.2: etcdctl uses etcd/client and new endpoints if possible.

[2015-04-09 17:03] xiang90 commented on #2384
Security feedback

- [ ] decouple the enable and root user creation
- [ ] add root role, so we can have multiple admin users
- [ ] doc: /security/user -> /security/users
- [ ] add everyone user and role when enabling security, which has all access to key space. the no user:pass falls into everyone.
- [ ] prefix matching
- [ ] never return error message from store
- [ ] security needs to be enabled

[2015-04-09 17:22] yichengq commented on #2609
all done.

[2015-04-09 17:22] #2609 closed

[2015-04-09 17:40] xiang90 commented on #2436
@philips The first step is to create a `public` role. All `anonymous` clients has the `public` role.

/cc @kelseyhightower @barakmich

[2015-04-09 18:00] xiang90 commented on #2646
### Sequential Write Amplification

The amplification factor is around  4 for small keys and 2 for large keys. It is acceptable for our use cases (Target at 10 128bytes keys).  With high FillPrecent and sequential writes, the best we can get is 2.

It is consistent with LMDB, which is tested at http://influxdb.com/blog/2014/06/20/leveldb_vs_rocksdb_vs_hyperleveldb_vs_lmdb_performance.html

From be

[2015-04-09 18:05] xiang90 commented on #2646
## Memory Usage

bolt can use up all available memory as os page cache if the working set is large (10GB Virtual Memory when the data size is 10GB, and all available 1GB RSS) in my experiments.

It won't swap out the allocated memory from other application though.

If the working set is small, the RSS is small (10x MBs) and Virtual remains the same (expected due to mmap).

We should suggest people

[2015-04-09 18:06] xiang90 commented on #2646
### Reliability

We check the reliability by killing the db during the write transactions as following

// check if there is any previous committed transaction lost
// check if the db is in corrupted states
do_db_check()
if check_failed {
    panic()
}

// can be killed at anytime during for loop
for {
    do_tnxs()
}

Bolt survives for a two days long testing. Maybe a harsher test?

From ben
[cod

[2015-04-09 18:09] yichengq commented on #2358
We use /raft/stream for v1 msgapp stream, and /raft/stream/msgapp for v2 msgapp stream. v2.0 uses /raft/stream as default and v2.1 uses /raft/stream/msgapp as default.

[2015-04-09 18:09] #2358 closed

[2015-04-09 18:09] xiang90 commented on #2646
Are these reasonable to you @benbjohnson?

[2015-04-09 18:12] yichengq commented on #2294
Could you give more details and use case about it?

[2015-04-09 18:13] yichengq commented on #2648
This is a duplicate one with https://github.com/coreos/etcd/issues/2020

[2015-04-09 18:26] lavalamp commented on #2647
List looks good!

[2015-04-09 18:28] yichengq commented on #872
@hookenz etcd 2.0 is a really good-design one. You can check the raft impl here: https://github.com/coreos/etcd/blob/master/raft/doc.go

For testing, we have unit testing, integration testing(https://github.com/coreos/etcd/tree/master/integration), and functional testing(https://github.com/coreos/etcd/tree/master/tools/functional-tester). We also have plan for more testing to ensure correctness.

[2015-04-09 18:38] smarterclayton commented on #2647
Yeah, awesome list.

[2015-04-09 18:53] yichengq commented on #2513
@hookenz etcd 0.4.6 is not a stable one. Feel free to give etcd 2.0 a try.

[2015-04-09 19:40] benbjohnson commented on #2646
lgtm :+1:

[2015-04-09 20:05] xiang90 commented on #2604
etcd/client already follows 3xx redirection.

[2015-04-09 20:05] #2604 closed

[2015-04-09 20:18] xiang90 commented on #2398
we are going to use https://github.com/coreos/pkg/tree/master/capnslog

[2015-04-09 20:21] xiang90 commented on #1980
@jurmous @philips We probably will go with grpc for v3, which utilize HTTP2 features.

[2015-04-09 20:21] xiang90 commented on #1937
This is a reliability issue. Moving to 2.2.

[2015-04-09 22:30] philips commented on #1937
@xiang90 I don't understand what this issue is, can you provide more explanation?

[2015-04-09 22:30] #2648 closed

[2015-04-09 22:31] philips commented on #1980
@xiang90 We can consider giving access to v2 over HTTP2 too, right?

[2015-04-09 22:32] xiang90 commented on #1937
@philips We need to verify the discovered cluster too. For example, if the discovered cluster is `1=10.10.10.1:1, 2=10.10.10.1:1` it should be considered invalid. Since the peer url is conflicting.

[2015-04-09 22:33] philips commented on #2398
@yichengq Can you please expand the description to provide an example of how this would work?

[2015-04-09 22:37] philips commented on #1937
@xiang90 Ah, I see, I will update the description.

[2015-04-09 23:00] hookenz commented on #2513
If 2.0 is stable why is it not in the alpha channel for CoreOS yet.  Any idea of release?
What's the best way to try etcd2, run it in docker?

[2015-04-09 23:19] yichengq commented on #2398
@philips More description is given.
We will move to https://github.com/coreos/pkg/tree/master/capnslog, and it provides level logging natively.

[2015-04-09 23:20] yichengq commented on #2513
@hookenz We are struggling with upgrade path these days, and it will be out in a few weeks, if not sooner.
Either run it in docker or run it on the system is fine.

[2015-04-09 23:49] fasaxc commented on #2468
I've just come across another corner case that is hard to handle without a response.  I want my code to be able to detect if the cluster has been replaced wholesale by a backup, for example.  In that case, I'll poll against the backup server but with an index from the pre-backup server; that index will be far in the future for the new server so I'll never get a response.  Without a response, I can

[2015-04-09 23:53] yichengq commented on #2639
I saw that you said after the patch it started to work. Great!
How is it going now?
It is hard to ensure whether these changes can fix all problems though.

[2015-04-10 00:33] fasaxc opened #2649 "Ability to verify cluster ID is correct on a request"
etcd responses contain X-Etcd-Cluster-Id, which allows the client to check which cluster responded.  Is there a header that a client can use to say "Only respond if your cluster ID is <id>, otherwise give me an error"?

The reason I'd like something like that is that it closes the following window:

* client does a get against cluster A, records etcd index 12345
* cluster A is backed up and restor

[2015-04-10 03:53] holmes86 opened #2650 "etcdctl cluster-health are not consistent"
I run  two members of etcd cluseter on centos7. one of cluster run "etcdctl cluster-health" getting cluseter status is health, but another "etcdctl cluster-health" getting cluster status is unhealth. the cluster health is ok when etcd started.

[code]

the etcd version is 2.0.3, the config file is as follow:

test-0-1:/etc/etcd/etcd.conf:
[code]

test-0-2:/etc/etcd/etcd.conf:
[code]

thanks

[2015-04-10 03:58] xiang90 commented on #2650
etcdctl needs to reach the leader to verify the cluster information. My best guess is the etcdctl on machine 1 cannot reach etcd running on machine 2 for some reason.

[2015-04-10 04:28] fasaxc commented on #2649
Digging into the code, it looks like etcd does flush its headers including the X-Etcd-Cluster-Id before the poll, I think that gives me what I need in theory.  Now to figure out how to access the headers from an outstanding request in python...

[2015-04-10 04:28] #2649 closed

[2015-04-10 04:58] holmes86 commented on #2650
@xiang90 how to check the cluster info for the client? I found the cluster leader info not exists on local etcd. why etcd cluster data is not consistent? thanks

test-0-1
[code]

test-0-2
[code]

[2015-04-10 06:24] wojtek-t commented on #2647
I agree - the list looks really good!

[2015-04-10 07:18] holmes86 opened #2651 "etcd panic when using etcdctl remove a member"
I try removing a member of etcd cluster, then I found etcd panic. "journalctl -u etcd" as follow:

[code]

[2015-04-10 09:36] dreameryan opened #2652 "How to config etcd cluster"
I try to build up etcd cluster according to:
https://github.com/coreos/etcd/blob/master/Documentation/clustering.md
The static way.

I run following command on 2 machines:
/home/idcuser/HATest/etcd-v2.0.9-linux-amd64/etcd -name monitorserver1 -listen-peer-urls http://10.120.73.86:7001 -listen-client-urls http://10.120.73.86:4001 -initial-cluster-token monitorserver-cluster -initial-advertise-peer-

[2015-04-10 12:24] grzechum opened #2653 "update on unhealthly cluster"
When I performed key value update on the  unhealthy cluster (2 of 3 nodes down) I've got.
[code]
Which is expected,
but then after adding back one node to the cluster - previously failed updates are hiddenly applied (values changed index moved)

Is this expected behaviour?

[2015-04-10 13:52] xiang90 commented on #2652
Can you provide the log output from etcd process?

[2015-04-10 13:54] xiang90 commented on #2653
`Internal Server Error` does not imply the proposal you sent must be failed. etcd is trying its best to get it committed.

[2015-04-10 13:54] #2653 closed

[2015-04-10 13:56] xiang90 commented on #2651
@holmes86 Are you running on current master? Or 2.0.9?

[2015-04-10 14:19] grzechum commented on #2653
Is there any flag (e.g. consistent=true) to control this behaviour?
e.g. consistent=true + fail -> means failed (no quorum) and forgotten (no auto retry)

This will simplify error handling scenarios.

[2015-04-10 14:22] durzo commented on #2653
This error is certainly misleading, I was under the impression it meant the value was not updated. Is it possible to change the error to reflect that it was committed but not updated until cluster health is restored?

[2015-04-10 14:24] xiang90 commented on #2653
@grzechum No. etcd cannot give you any guarantee at the moment.

If it is a follower (or even a leader), it might send out the proposal. It cannot know if the proposal will succeed or not until it gets the ack from leader (or get the ack from other followers). Any error happened during the process is `Server Internal Error` right now. We can improve the error message.

To support a stronger guaran

[2015-04-10 14:27] xiang90 commented on #2653
@durzo It might be committed or might not be. We can improve the error message.

[2015-04-10 14:36] holmes86 commented on #2651
@xiang90 yes, I am running on current master. my etcd version is 2.0.3,thanks

[2015-04-10 14:50] xiang90 commented on #2651
@holmes86 Hrm... I guess I do not quite understand. Are you running 2.0.3 or current master? I think we have fixed a related issue after 2.0.3 release.

[2015-04-10 15:43] holmes86 commented on #2651
@xiang90 sorry, I got it wrong. I am running etcd 2.0.3. I will try the current master.

[2015-04-10 16:08] xiang90 commented on #2643
@dreameryan I am closing this one since it is duplicate with https://github.com/coreos/etcd/issues/2652.

[2015-04-10 16:08] #2643 closed

[2015-04-10 16:34] xiang90 commented on #2639
This duplicates with #2308. We can discuss about this there. :)

[2015-04-10 16:34] #2639 closed

[2015-04-10 16:35] xiang90 commented on #2570
Closing due to low activity. Reopen if you have a follow-up. Thanks! @AdoHe

[2015-04-10 16:35] #2570 closed

[2015-04-10 16:38] xiang90 commented on #2578
Closing due to low activity. You can reopen it if there is a follow-up.

[2015-04-10 16:38] #2578 closed

[2015-04-10 23:12] yichengq commented on #1970
This has been fixed. Thanks to @aeneby

[2015-04-10 23:12] #1970 closed

[2015-04-10 23:22] yichengq commented on #1004
If you get the request through WAIT, it means that the change has been recorded in majority.

When you use get with quorum=true, it promises that you are getting the latest value in the cluster.

[2015-04-10 23:22] #1004 closed