[2016-01-20 15:01] petterek opened #4245 "Key with \ in it's name creates a folder"
This is probably not an error, but i file it anyway.
If you try to make a key e.q http%3A%2F%2Fsome%3A1010 (http://some:1010)
this will make a folder named http and then a key named some:1010

Just an observation

[2016-01-20 17:34] gyuho commented on #4245
@petterek

Are you requesting through `curl`?

Please see https://github.com/coreos/etcd/issues/3845.

[2016-01-20 22:57] #4241 closed

[2016-01-20 23:11] gyuho commented on #4243
I was misunderstood. SSD machine returns multiple events at once, while my machine was only returning two at a time. My test was wrong. https://github.com/coreos/etcd/pull/4242 is just fixed to reflect on such cases.

[2016-01-20 23:11] #4243 closed

[2016-01-20 23:27] gyuho commented on #4088
@fatduo I am closing this due to low activity. Please feel free to ping us back if you still have any issues.

Thanks,

[2016-01-20 23:27] #4088 closed

[2016-01-20 23:40] #4216 closed

[2016-01-21 03:38] philips commented on #4244
You should be able to use a systemd drop-in to fix this. https://coreos.com/os/docs/latest/using-systemd-drop-in-units.html

[2016-01-21 04:00] philips commented on #4034
This is related on TLS authentication for the servers: https://github.com/coreos/etcd/issues/4022

[2016-01-21 04:02] philips commented on #3894
Can someone look into this? Maybe @gyuho @heyitsanthony

[2016-01-21 04:33] gyuho commented on #3894
@markhowells Sorry for delay and thanks for the detailed report. I just reproduced the same
behavior as you. I will fix asap.

For reference, here's how I reproduced:

`Procfile`:

[code]

Command:

[code]

[2016-01-21 08:15] petterek commented on #4245
Actually I'm using .net

    Dim content As New FormUrlEncodedContent(value)
    Dim result = webclient.PutAsync(info.ServiceIdentifier & "/" & System.Web.HttpUtility.UrlEncode(info.EndPointAddress) & "?dir=false&ttl=" & info.Heartbeat.ToString, content).Result

[2016-01-21 12:34] bchanan03 opened #4251 "etcd2 fail to start with CoreOS 835.10"
I have just created a new CoreOS 835.10 cluster with 5 nodes using Vagrant + VirtualBox
The cluster fail to start causing flannel and docker to fail too.

- Issue found after locksmith upgraded the nodes after reboot moving from CoreOS 766.4 to CoreOS 835.9
- I created a new virtualbox cluster using Vagrant and CoreOS 835.10 same issue appeared again.
- Issue did not appear when running CoreOS 766

[2016-01-21 14:49] quentinsch commented on #4244
Ok, I'll try that, but I was wondering why it was set in the default systemd config anyway.

[2016-01-21 17:45] gyuho commented on #4245
@petterek Can you post your raw http request?

[2016-01-21 18:02] gyuho commented on #4245
We has a whole conversation on this here https://github.com/coreos/etcd/issues/669.

https://github.com/coreos/etcd/issues/669#issuecomment-39377135

I will defer to @philips and @jonboulle

/cc @xiang90

[2016-01-21 18:25] gtank commented on #4034
I think dependency on an OCSP server (or _being_ an OCSP server) is out of scope for etcd. However it would be completely reasonable for peers to check a CRL if the admin supplies one. Go provides functions for handling CRLs already, we will just need to build the logic around them.

[2016-01-21 22:34] glevand commented on #3623
Git bisect shows it was fixed in 4669b899cca9a326731a10e03c76605bf26470f6 (Godeps: update boltdb).

[2016-01-21 23:33] mwhooker opened #4255 "etcdctl mk not behaving as indicated in docs"
[code]

Hi all,

I hope I'm interpreting the [docs](https://github.com/coreos/etcd/blob/master/etcdctl/README.md) correctly. the readme says

$ etcdctl mk /foo/new_bar "Hello world"
Hello world
[code]
$ etcdctl mk /foo/new_bar "Hello world"
Hello world
$ etcdctl mk /foo/new_bar "Hello world2"
Hello world2
$ etcdctl get /foo/new_bar
Hello world2
[code]

[2016-01-21 23:39] mwhooker commented on #4255
in case there's a better way to do this, my use-case is leader election. I have a homogenous group of machines, and I want some action to happen only on one of them. I'm hoping to have all of them try to grab the same key, and let only the host that manages to acquire the key do the work.

[2016-01-22 00:07] xiang90 commented on #4255
@gyuho Can you please take a look?

[2016-01-22 00:08] gyuho commented on #4255
Ok I will take a look at this. Thanks for reporting @mwhooker

[2016-01-22 00:10] xiang90 commented on #3894
@gyuho So this is not related to TLS?

[2016-01-22 00:13] gyuho commented on #3894
This is not related to TLS. I see the same behavior without TLS.

[code]

This Procfile has the same behavior with `etcdctl watch --no-sync`

[2016-01-22 02:49] gyuho opened #4258 "e2e test leaks goroutine"
[code]

[2016-01-22 02:59] #3894 closed

[2016-01-22 03:01] gyuho commented on #3894
@markhowells Please try again after updating your client library. The fix https://github.com/coreos/etcd/pull/4254 has just been merged to master branch.

I manually tested the failing case and confirmed that it is fixed.
We are also writing end-to-end tests to cover this case.

Please let me know if you still have issues.

Thanks,

[2016-01-22 03:07] gyuho opened #4259 "e2e: test for etcdctl operations"
- [X] `etcdctl set`: https://github.com/coreos/etcd/pull/4351
- [X] `etcdctl set`, `watch` with `no-sync` option: https://github.com/coreos/etcd/pull/4330
- [X] `etcdctl get`: https://github.com/coreos/etcd/pull/4351
- [X] `etcdctl ls`: https://github.com/coreos/etcd/pull/4351
- [X] `etcdctl mk`: https://github.com/coreos/etcd/pull/4361
- [X] `etcdctl rm`: https://github.com/coreos/etcd/pull/4361

[2016-01-22 03:57] gyuho commented on #4255
@mwhooker Please update your `etcdctl` later than `2.2.0`, which came out on  Sep 10, 2015.

It works for me.

[code]

If you are still having the same issue, please let us know.

[2016-01-22 03:57] #4255 closed

[2016-01-22 04:09] gyuho commented on #1978
Another thread asking about this:

-if i am watching a etcd  directory, how many nodes at max can be present inside it, for it to be able to watch changes to contents of that directory
-what is max numbers of keys supported
-what is max size of value supported ?

https://groups.google.com/d/msg/etcd-dev/BbgMBBCEoaE/RGTmv53PAwAJ

[2016-01-22 07:11] petterek commented on #4245
ok for me

[2016-01-22 07:11] #4245 closed

[2016-01-22 21:58] xiang90 opened #4263 "v3api: member management"
v3 also needs a member API just like the one at v2/members (https://github.com/coreos/etcd/blob/master/Documentation/members_api.md)

[2016-01-22 22:01] heyitsanthony commented on #4263
Would this mostly be a port from the json api to grpc+protobufs or would it be something more involved?

[2016-01-22 22:03] xiang90 commented on #4263
@heyitsanthony Probably just a json direct port to grpc+protobuf.

[2016-01-22 22:11] gyuho opened #4264 "gRPC godep update and do all consequent changes"
Related to:
- https://github.com/coreos/etcd/pull/4256
- https://github.com/kubernetes/kubernetes/pull/19931
- https://github.com/gogo/protobuf/issues/107

I know how to `godep update` but this breaks lots of things in etcd. I am creating this to keep track of those.

- [X] update gRPC godeps and all its dependencies
[code]

- [X] fix `genproto.sh` script to be compatible with the gRPC godep updat

[2016-01-22 22:12] xiang90 opened #4265 "v3api: ensure all ops of txn can be executed before start executing them"
Currently we have some pre validation at https://github.com/coreos/etcd/blob/master/etcdserver/api/v3rpc/key.go#L101.

But checking at API layer is not good enough. We also need to know if all the ranges have valid revs, if all given leaseID are valid, etc, when we start to execute the txn after it goes through raft.

[2016-01-22 23:38] jojimt opened #4268 "etcd Proxy reports http error even when curl works fine."
I have a single node etcd server and a second node setup in proxy mode.

On the server I have:
[code]

Start the server.
[code]

On the proxy:
[code]

Now start the proxy:

[code]

However, a few seconds later:
[root@k8node-01 vagrant]# etcdctl member list
**unexpected status code 503**
[root@k8node-01 vagrant]# !cur
**curl http://k8master:2380/members
[{"id":14855829450254237642,"peerURLs":["http

[2016-01-23 00:06] xiang90 commented on #4268
@jojimt

[code]

This is the configuration of the member, the peerURLs is localhost. So the peerURLs is probably wrongly configured.

[2016-01-23 00:17] jojimt commented on #4268
@xiang90
That's what I initially suspected. However,
ETCD_INITIAL_ADVERTISE_PEER_URLS=http://k8master:2380
is what I have. Is there another param I need to specify?

[2016-01-23 00:32] xiang90 commented on #4268
@jojimt I am in a place that cannot access google storage. You can paste the log for etcd process (especially the bootstrap logging) here or I will take a look next week.

[2016-01-23 00:37] jojimt commented on #4268
Server logs:

[code]

Client logs:

[code]

[2016-01-23 01:07] xiang90 commented on #4268
@jojimt From the log, I suspect that when you started etcd member the first time you gave it `localhost` as advertise peerURL. And you probably changed it later. Note that changing the initial configuration after the first bootstrap will not take any effect. You have to use runtime reconfiguration to change any cluster related configuration even if this is a one member cluster.

[2016-01-23 01:19] jojimt commented on #4268
Thanks @xiang90.  I will try runtime reconfig. Closing the issue now.

[2016-01-23 01:30] jojimt commented on #4268
Per https://github.com/coreos/etcd/blob/master/Documentation/runtime-configuration.md, I should use
**etcdctl member update <id> <url>**

However,
[code]

Looks like this is not supported yet. Is there another way to clean up and restart? Or is there a newer version I should use?

[2016-01-23 01:31] xiang90 commented on #4268
@jojimt You need to update etcdctl. I think we support it in latest release.

[2016-01-23 01:39] jojimt commented on #4268
ok will do that.

[2016-01-23 19:25] jojimt commented on #4268
Yes, I tried with the latest etcdctl and it works great.  @xiang90 you rock!
Closing the issue now.

[2016-01-23 19:25] #4268 closed

[2016-01-23 23:01] xiang90 commented on #4265
lease id checking part is finished in https://github.com/coreos/etcd/pull/4269
/cc @heyitsanthony

[2016-01-24 01:56] bingli-ibm commented on #3623
The boltdb in release branch may need to be updated.

s390x doesn't build with release-2.2.
Master builds fine.

I've figured out the root cause is boltdb. The bolddb version  in release-2.2 doesn't have bolt_s390x.go, but master has.

[2016-01-24 03:52] zhouqianli opened #4271 "After rebooting, etcd2 not working on EBS-Optimized EC2 machines"
We enable **EBS-Optimized** setting for machines.  After rebooting etcd cannot working again.
Error message from `fleetctl list-units`:
[code]
### CoreOS version:
[code]

### sudo systemctl cat etcd2:
[code]

### sudo journalctl -u etcd2
[code]
Thanks for any help.

[2016-01-25 02:17] #4258 closed

[2016-01-25 13:58] gyuho opened #4278 "TestIssue2904 fails"
https://semaphoreci.com/coreos/etcd/branches/pull-request-4277/builds/1

[code]

[2016-01-25 17:46] gyuho opened #4279 "Add documentation about migrating from 2.0 to 2.2+"
Reference:

- https://github.com/coreos/etcd/blob/master/Documentation/04_to_2_snapshot_migration.md
- https://github.com/coreos/etcd/blob/master/Documentation/upgrade_2_1.md
- https://github.com/coreos/etcd/blob/master/Documentation/upgrade_2_2.md

[2016-01-25 18:43] gyuho commented on #4279
This is for OS upgrade from 735.0.0 to 899.5.0.

[2016-01-25 19:27] #4279 closed

[2016-01-25 20:20] glevand commented on #3623
Commit https://github.com/coreos/etcd/commit/4669b899cca9a326731a10e03c76605bf26470f6 (Godeps: update boltdb) updated boltdb from v1.0-119-g90fef38 to v1.0-158-g81db894.

@gyuho can we get this into the next etcd release, either by merging https://github.com/coreos/etcd/commit/4669b899cca9a326731a10e03c76605bf26470f6, or branching from master after this commit?

[2016-01-25 20:24] gyuho commented on #3623
I will ask @xiang90 if we could cherry-pick it in next release.

[2016-01-25 20:30] heyitsanthony commented on #4278
This is happening because of 46bb2582fe4b7ff79e1ad180a559d45ffe1d68ce. Will see if I can fix without nuking that patch.

I'm also seeing goroutine leaks on `stopWithDelay` here (not sure why it's not turning up on CI) but it's an easy fix.

[2016-01-25 20:32] gyuho commented on #4278
Thanks!

[2016-01-25 21:58] xiang90 commented on #4271
@zhouqianli It seems that the last few logs are not shown. Can you try https://github.com/coreos/etcd/blob/master/Documentation/reporting_bugs.md#how-to-get-etcd-configuration-and-log-when-it-runs-as-systemd-service-etcd2service to get all logs?

[2016-01-25 21:59] xiang90 commented on #3601
@mitake Are you still working on this one?

[2016-01-25 22:11] xiang90 commented on #4251
@bchanan03 The log is unreadable to me. Can you try to make this an independent etcd issue?

What are the steps to reproduce this issue with etcd itself? (for example, CoreOS 766.4 ships with etcd 2.1.2, can you reproduce with etcd 2.1.2 without doing CoreOS updates since that also involves other changing variables)

Also there are missing logs. Can you please follow the doc (https://github.com/co

[2016-01-25 23:44] heyitsanthony commented on #4278
It appears raft/node.go will skip publishing some commits with the `maybeCommit` change. Will try to reproduce the issue in a node test case. Probably needs a revert /cc @bdarnell @xiang90

[2016-01-25 23:47] bdarnell commented on #4278
Hmm, I guess that change should have been `if r.maybeCommit() { r.bcastAppend() }`

[2016-01-25 23:50] heyitsanthony commented on #4278
Nope, still kaboom. The maybeCommit is changing the committed index outside of `step` and that's clobbering the commit sequence.

[2016-01-26 05:16] #4109 closed

[2016-01-26 05:55] #3601 closed

[2016-01-26 06:03] mitake commented on #3964
@xiang90 this one can also be closed because of https://github.com/coreos/etcd/pull/4281.
cc @gzliudan

[2016-01-26 06:23] #4265 closed

[2016-01-26 08:06] zhouqianli commented on #4271
Updated original comment.  After that the *Failed to start etcd2* error just keep looping like this:
[code]

[2016-01-26 09:37] srijs opened #4285 "pb.Message.Marshal (and possibly others) not thread-safe"
Hi.

I'm running into a crash when load testing a database POC based on the etcd/raft library. It seems like there is an error in the message serialization logic (is it autogenerated from the proto file?).

The crash is reproducible (after varyings amount of load). I will try to isolate the error a bit more to provide a small reproducing test case. Posting this now in case any body has an idea whe

[2016-01-26 11:32] srijs commented on #4285
Because I suspected a race condition, I instrumented the function that calls `Marshal` to print the message sizes before and after the crash. It turns out, when calling `Size` on the message before it returns smaller number than when called after the panic.

Code:
[code]

(Truncated) Output:
[code]

[2016-01-26 11:35] srijs commented on #4285
So, my hypothesis so far: When `Marshal` gets called, it calls `Size`, which returns 1069. `Marshal` uses this to allocate the buffer. At some point in while it is marshalling, before it started marshalling the entries, the entries are appended to. When it finally reaches the entries, it iterates through them and tries to write them to the buffer. But since the number entries has then, it needs mo

[2016-01-26 12:12] srijs commented on #4285
Okay, I now pulled all message serialization logic into the main node loop, and only perform the sending of the messages outside. Running the load test several times I was not able to reproduce the crash with this setup. My conclusion would be that marshalling the messages is not thread-safe and needs to run in the same thread as the main raft loop.

Where do we want to go from here? Do we just ex

[2016-01-26 12:58] imtheghoul opened #4286 ""flag provided but not defined: -initial-advertise-peer-urls" on EC2 instance"
Hello! Trying to deploy etcd 0.4.9 cluster on AWS EC2 nodes with CoreOS-stable-681.1.0-hvm using this guide: https://coreos.com/etcd/docs/latest/clustering.html#etcd-discovery
My command on first node (192.168.7.9) is:
etcd -name infra0 -initial-advertise-peer-urls http://192.168.7.9:2380 \
  -listen-peer-urls http://192.168.7.9:2380 \
  -listen-client-urls http://192.168.7.9:2379,http://127.0.0.1

[2016-01-26 14:12] petergardfjall commented on #2644
I'm seeing this issue on `CoreOS alpha (935.0.0)`.

I've set up a 3-node cluster in Vagrant following the instructions [here](https://coreos.com/os/docs/latest/booting-on-vagrant.html), running the `stable channel` edition.

Then, I've simply been playing with `etcd` according to the instructions in the [Getting started with etcd](https://coreos.com/etcd/docs/latest/getting-started-with-etcd.html)

[2016-01-26 14:23] petergardfjall opened #4287 "etcdctl exec-watch not reliably triggered"
This issue describes a problem that is likely a duplicate of #2644 and  #1518, both of which have been closed, due to difficulties of reproducing the problem and/or the assumption that the behavior had been fixed in recent versions of etcd.

However, I'm seeing this issue on `CoreOS alpha (935.0.0)`.

I've set up a 3-node cluster in Vagrant following the instructions [here](https://coreos.com/os/d

[2016-01-26 14:25] petergardfjall commented on #2644
I've opened a separate issue #4287 to track this bug.

[2016-01-26 14:34] petergardfjall commented on #4287
I re-ran the command on `host2` with the `--debug` flag while running the following commands from `host1`

[code]

The output on `host2` now looks like this, which actually appears to indicate that the watch is being triggered on every `set` command, but the command output isn't always visible. Could this be some issue related to not properly flushing the output of the `exec-watch` command?

[code

[2016-01-26 15:55] rradecki opened #4288 "Aws fresh spawn of CoreOS - etcd2 single node does not start."
Hi.

I try to initialize CoreOS:

$ cat /etc/os-release
NAME=CoreOS
ID=coreos
VERSION=835.11.0
VERSION_ID=835.11.0
BUILD_ID=
PRETTY_NAME="CoreOS 835.11.0"
ANSI_COLOR="1;32"
HOME_URL="https://coreos.com/"
BUG_REPORT_URL="https://github.com/coreos/bugs/issues"

$ etcd2 --version
etcd Version: 2.2.0
Git SHA: e4561dd
Go Version: go1.4.2
Go OS/Arch: linux/amd64

on Aws. I am using ami-7e72c70d for Irel

[2016-01-26 16:33] heyitsanthony commented on #4285
You're right the `Marshal` protobuf code doesn't have any synchronization; a message has to be wrapped in a mutex to work as a shared structure. I believe the reasoning for not generating any locking code is it's expensive and not strictly necessary. etcd avoids having to lock while marshaling a message by either implicitly passing the message ownership or by copying (e.g., `raft/node.go:Node.Read

[2016-01-26 17:36] xiang90 commented on #4286
@imtheghoul That flag is introduced in etcd2. etcd 0.4 does not have that flag. I suggest you to upgrade to a later version of coreos that ships etcd2. Thanks!

[2016-01-26 17:36] #4286 closed

[2016-01-26 17:39] xiang90 commented on #4271
[code]

etcd should always print out the reason when it dies. The log does not show the last few lines due to a io flushing issue with journald i suspect. We cannot know what exactly happened without the log.

[2016-01-26 18:33] heyitsanthony commented on #4278
The behavior I'm seeing is etcdserver will apply the remove change conf then raft keeps resending the remove change conf. etcdserver sees that it has already been applied and so tries to apply an empty message list which clobbers the applied count with 0 causing the panic. I'm not sure whether this is acceptable output from the raft layer, but the etcd fix is simple enough.

[2016-01-26 18:36] xiang90 commented on #4278
This sounds like a bad behavior anyway. /cc @bdarnell

[2016-01-26 19:49] bdarnell commented on #4278
Yeah, resending the old entry seems like a problem. So is the only problem that we're missing the `r.Commit = r.raftLog.committed` from the end of `r.Step`? The question is where is the most robust place to ensure that `r.HardState.Commit` and `r.raftLog.committed` never get out of sync. One possibility would be to remove the redundant field by treating `r.HardState` the same way we do `r.softStat

[2016-01-26 21:35] gyuho commented on #4287
@petergardfjall  Thanks for detailed report. I will investigate this as soon as possible.

[2016-01-26 22:09] #4278 closed

[2016-01-27 01:13] xiang90 commented on #4278
@bdarnell I am still trying to figure out why does raft resending the entries. I think #4291 makes sense by removing the commit "cache". But that will only cause a commit lag when we forget to update it, but it should not cause the dup sending?

[2016-01-27 01:27] srijs commented on #4285
Thanks for the pointer to the data race detector, this is definitely helpful!

I'm still thinking about how to prevent others from running into the same problem. I'm considering to add something like this to raft/doc.go:

    Note: Marshalling messages is not thread-safe; it is important that you make sure that no new entries are persisted while marshalling. The easiest way to achieve this is to s

[2016-01-27 01:35] xiang90 commented on #4285
@srijs I am fine with adding it. But please find a good place for it. The doc is long enough :)

[2016-01-27 01:54] xiang90 commented on #4278
@bdarnell Sorry for the noisy. Now I figured out why. You are right. Thanks!

[2016-01-27 01:56] gyuho commented on #4264
Closing this via https://github.com/coreos/etcd/pull/4292.

[2016-01-27 01:56] #4264 closed

[2016-01-27 02:48] #4263 closed

[2016-01-27 04:27] xiang90 opened #4296 "TestApplySnapshotAndCommittedEntries failed on travis"
[code]

/cc @heyitsanthony Not sure how this happens. I remember we do wait until there are enough events...

[2016-01-27 04:28] xiang90 commented on #4296
Hmm... Probably we should check error at https://github.com/coreos/etcd/blob/master/etcdserver/server_test.go#L1047

[2016-01-27 04:41] joshix commented on #3428
related https://github.com/coreos/docs/pull/734

[2016-01-27 04:45] heyitsanthony commented on #4296
The error says that it expected some length but got a shorter one. It won't be helpful.

I see the bug, will post PR with fix.

[2016-01-27 05:06] xiang90 commented on #3964
@mitake Have you tried to reproduce @gzliudan's issue with/without the patch?

[2016-01-27 05:11] mitake commented on #3964
@xiang90 yes, I tested the patch with the way provided by @gzliudan .

[2016-01-27 05:11] xiang90 commented on #3964
@mitake OK. Thanks!

[2016-01-27 05:11] #3964 closed

[2016-01-27 05:16] xiang90 commented on #4288
This is already fixed in a later version of etcd. (>2.2.1)

[2016-01-27 05:16] #4288 closed

[2016-01-27 05:18] #4296 closed

[2016-01-27 05:19] xiang90 commented on #1171
This is irrelevant for v3 anymore. We use rpc instead of http requests for v3. So we do not need to use these para to infer the action.

[2016-01-27 05:19] #1171 closed

[2016-01-27 07:30] gyuho commented on #4287
This does not happen in master branch, neither in 2.2.4 version that you are using.
I just double-checked that `exec-watch` command works properly. Could you try `goreman`
to set up local cluster? Link is here https://github.com/coreos/etcd#running-local-etcd-cluster.

I don't think this is an etcd issue. Maybe Vagrant is being too slow to respond.

[2016-01-27 08:03] gyuho opened #4299 "etcdctlv3: need to set transport security"
Otherwise

[code]

This is from the recent gRPC godep udpate. We need to set transport setting in `grpc.Dial`.

[2016-01-27 08:21] petergardfjall commented on #4287
@gyuho

I am seeing the same problem when running via `goreman`, although the issue does not surface quite as often as in the Vagrant case. So, I followed the instructions in the aforementioned [link](https://github.com/coreos/etcd#running-local-etcd-cluster).

Then I set up an `exec-watch` listener as follows:

[code]
(the tab after each entry is just to make output line up to allow me to easily

[2016-01-27 08:23] gyuho commented on #4287
@petergardfjall Thanks! I will take a look again shortly.

[2016-01-27 08:25] petergardfjall commented on #4287
Again, if i turn on debug output on the `exec-watch` command via `--debug`, I can see the
[code]
line for each `set` call, but in a few cases the output from the `exec-watch` command is missing.

[2016-01-27 09:01] gyuho commented on #4287
@petergardfjall Sorry, I cannot reproduce it. For me, I get every single notification from the `set` command. I even ran `for i 1000`.

I see `exec-watch` command launches another goroutine in the background to copy the command output back to the Stdout. But even if I set command output directly to stdout without copying, I still get the same result.

So could you try this code https://github.com/

[2016-01-27 13:01] tobilg opened #4303 "etcd fails to start"
When I try to use my `cloud_config`

[code]

 to start etcd, it constantly fails:

[code]
Service logs:
[code]

CoreOS version info:
[code]

I'm puzzled about what could be the actual problem...

[2016-01-27 13:37] rradecki commented on #4288
I changed CoreOS version to beta to get etcd in version 2.2.3:

$ cat /etc/os-release
NAME=CoreOS
ID=coreos
VERSION=899.5.0
VERSION_ID=899.5.0
BUILD_ID=2016-01-22-1100
PRETTY_NAME="CoreOS 899.5.0"
ANSI_COLOR="1;32"
HOME_URL="https://coreos.com/"
BUG_REPORT_URL="https://github.com/coreos/bugs/issues"

$ etcd2 --version
etcd Version: 2.2.3
Git SHA: 05b564a
Go Version: go1.4.3
Go OS/Arch: linux/amd64

[2016-01-27 17:12] heyitsanthony opened #4305 "etcdctlv3: optionally display full response header"
etcdctlv3 doesn't return revision data so it's impossible to implement many recipe-style algorithms without using a full-fledged etcd client.

[2016-01-27 17:21] xiang90 commented on #4288
@rradecki Does your machine have access to discovery.etcd.io?

[2016-01-27 17:41] #4285 closed

[2016-01-27 22:19] jonboulle opened #4308 "Error with starting etcd - 2.2.4 ( latest version)"
_From @vandita31 on January 27, 2016 21:49_

HI ,

I'm starting a standalone ETCD instance and pulled the latest version -

[root@cdaetcd-ch2-2p system]# etcd --version
etcd Version: 2.2.4
Git SHA: bdee27b
Go Version: go1.5.3
Go OS/Arch: linux/amd64
[root@cdaetcd-ch2-2p system]#

However , etcd fails to start and I'm unable to explain much with this error-

[root@cdaetcd-ch2-2p system]# systemctl

[2016-01-27 22:19] jonboulle commented on #4308
_From @vandita31 on January 27, 2016 21:56_

These are the permissions on the /var/lib/etcd directory -

[root@cdaetcd-ch2-2p system]# ls -la /var/lib/etcd/
total 8036
drwxr-xr-x   3 etcd etcd      45 Jun 22  2015 .
drwxr-xr-x. 36 root root    4096 Jan 27 03:21 ..
drwx------   3 etcd etcd      19 Jan 27 06:48 automation
-rw-r--r--   1 etcd etcd 8222720 Jun 22  2015 old-cluster.tar
[root@cdaetcd-ch

[2016-01-27 22:26] vandita31 commented on #4308
Thanks for moving @jonboulle :)

[2016-01-27 22:33] xiang90 commented on #4308
@vandita31 Can your try to start etcd with `etcd` rather than starting it with systemd service file?

[2016-01-27 22:45] vandita31 commented on #4308
@xiang90 These are my results. Keep in mind that i did add Type=notify later on in the config so there are errors from etcdmain that i see but this is what i get -

[root@cdaetcd-ch2-2p member]# etcd
2016-01-27 22:43:06.985697 I | etcdmain: etcd Version: 2.2.4
2016-01-27 22:43:06.985798 I | etcdmain: Git SHA: bdee27b
2016-01-27 22:43:06.985808 I | etcdmain: Go Version: go1.5.3
2016-01-27 22:43:06.

[2016-01-27 22:47] xiang90 commented on #4308
@vandita31 It seems etcd is doing OK since you can actually start etcd without systemd. Maybe there is something wrong with the systemd configuration file? I cannot see any etcd related logging in journald.

[2016-01-27 22:50] vandita31 commented on #4308
@xiang90 : My systemd config file is -

[root@cdaetcd-ch2-2p system]# cat /usr/lib/systemd/system/etcd.service
[Unit]
Description=Etcd Server
After=network.target

[Service]
Type=notify
WorkingDirectory=/var/lib/etcd/
EnvironmentFile=-/etc/etcd/etcd.conf
User=etcd
ExecStart=/usr/bin/etcd
NotifyAccess=all
Restart=always

[Install]
WantedBy=multi-user.target
[root@cdaetcd-ch2-2p system]#

What am i

[2016-01-27 22:57] xiang90 commented on #4308
[code]

These are all systemd logging, not etcd logging. I am not a systemd expert. But I feel systemd does not actually start etcd binary (does etcd at /usr/bin/etcd?).

@crawford might able to help you.

[2016-01-27 23:09] crawford commented on #4308
[code]

systemd executed etcd, which promptly exited with `1`. Use `journalctl -t etcd --since today` to view the full logs (related to https://github.com/coreos/bugs/issues/990).

[2016-01-27 23:25] vandita31 commented on #4308
@crawford  see below -

[root@cdaetcd-ch2-2p member]# journalctl -t etcd --since today
journalctl: invalid option -- 't'
[root@cdaetcd-ch2-2p member]# journalctl --t etcd --since today
Failed to parse relative boot ID number 'etcd'
[root@cdaetcd-ch2-2p member]#

Is using -t a valid option?

[2016-01-27 23:26] xiang90 commented on #4308
/cc @crawford

[2016-01-27 23:45] crawford commented on #4308
@vandita31 what ancient version of systemd is this? `-t` is short for `--identifier`. You'll need to consult the man pages for your version of systemd to figure out if it's supported. Worst case scenario: you can still review the entirety of the journal yourself (grep).

[2016-01-28 00:01] mwhooker commented on #4255
thanks for taking a look all

[2016-01-28 00:02] vandita31 commented on #4308
@crawford -

You're right :) its a much older version and seems its supported.

[root@docker-ch2-1p varora200]# systemctl --version
systemd 208
+PAM +LIBWRAP +AUDIT +SELINUX +IMA +SYSVINIT +LIBCRYPTSETUP +GCRYPT +ACL +XZ
[root@docker-ch2-1p varora200]#

This is a more verbose output -

[root@cdaetcd-ch2-2p varora200]# journalctl -xn -u etcd -fl
-- Logs begin at Mon 2015-06-22 17:07:28 UTC. --
Jan

[2016-01-28 00:04] gyuho commented on #4299
Will wait on @xiang90 to finalize v3 transport layer.

[2016-01-28 00:05] gyuho commented on #4287
Kindly ping @petergardfjall. https://github.com/coreos/etcd/pull/4301 is merged. Can you try again with master branch? Hope it helps reduce the delays in your environment.

[2016-01-28 00:06] crawford commented on #4308
You need to leave off `-u etcd`. It's filtering too much of the log (the final messages are being labelled correctly in the journal).

[2016-01-28 00:17] vandita31 commented on #4308
@crawford -

My understanding was that -u etcd is just to specify "message interest" which is similar to grep for etcd specific logs.

The Document for journalctl indicates : By default, journalctl will show the entire entry in the pager, allowing the entries to trail off to the right of the screen. This info can be accessed by pressing the right arrow key.

So it seems like this is all the logs I

[2016-01-28 02:57] vandita31 commented on #4308
@crawford Thanks for that insight. In my case , fortunately/unfortunately , the hostname includes etcd , which grep picks up :) Nevertheless , any etcd related logs should also have been picked up..but I dont see anything relevant.

Here is my output : http://pastebin.com/DB4Uj5Ur

[2016-01-28 02:59] zerojames opened #4310 "Steps for upgrading 2.1->2.2 with more than 100MB of data"
The 2.1 -> 2.2 upgrade documentation states "If you have a data size larger than 100MB you should contact us before upgrading, so we can make sure the upgrades work smoothly".

What steps need to be taken for a successful upgrade with more than 100MB of data?

[2016-01-28 03:02] xiang90 commented on #4308
@vandita31 I still did not see any etcd process related log in your output. Can you check again?

[2016-01-28 03:09] vandita31 commented on #4308
@xiang90 Had to do a -
systemctl start etcd

to trigger logs again. I think i have something relevant to show you wrt etcd now. Keep in mind , right now I am just attempting a standalone instance

Jan 28 03:04:56 cdaetcd-ch2-2p systemd[1]: Starting Etcd Server...
Jan 28 03:04:56 cdaetcd-ch2-2p systemd[1]: Started Etcd Server.
Jan 28 03:04:56 cdaetcd-ch2-2p etcd[22837]: recognized and used environm

[2016-01-28 03:11] xiang90 commented on #4308
@vandita31

[code]

Now you can check the error. It means you wrongly configured etcd. You should set `--advertise-client-urls` correctly.

[2016-01-28 03:12] omkensey opened #4311 "etcd needs a secondary port to allow listening to both secure and insecure client connections"
Currently the recommended configuration for etcd clustering uses TLS communications on the IANA-registered port 2379/tcp.  If, however, clients that do not support TLS need to be allowed to connect to etcd alongside TLS-capable clients, there are a few options, none ideal:

* Pick an arbitrary secondary port and bind it to listen to insecurely.  This is strongly frowned on as many times those port

[2016-01-28 03:18] vandita31 commented on #4308
@xiang90 Hmm. Weird. This is the latest version pulled and I have it configured -

[root@cdaetcd-ch2-2p varora200]# cat /etc/etcd/etcd.conf
# [member]
ETCD_NAME=default
ETCD_DATA_DIR="/var/lib/etcd/default.etcd"
#ETCD_SNAPSHOT_COUNTER="10000"
#ETCD_HEARTBEAT_INTERVAL="100"
#ETCD_ELECTION_TIMEOUT="1000"
#ETCD_LISTEN_PEER_URLS="http://localhost:2380,http://localhost:7001"
ETCD_LISTEN_CLIENT_URLS="ht

[2016-01-28 03:20] xiang90 commented on #4308
@vandita31 Can you please format your configuration?

[2016-01-28 03:25] vandita31 commented on #4308
Oops. Actually i just enabled it

[2016-01-28 03:26] xiang90 commented on #4308
@vandita31 Yea. Please check your configuration, you set `ETCD_LISTEN_CLIENT_URLS="http://localhost:4001"` but comment out `#ETCD_ADVERTISE_CLIENT_URLS`. Please fix that. :)

[2016-01-28 03:26] #4308 closed

[2016-01-28 03:28] vandita31 commented on #4308
@xiang90 . Yeah i did fix that , i sent you the previous paste by mistake. Sorry about that :) Is it a problem that systemd still shows "failed to notify systemd for readiness: No socket"

[code]
These are the journald logs -

[code]

[2016-01-28 03:32] xiang90 commented on #4308
@vandita31 If you set `Type=notify` correctly, there should not be an error. At least, we tested it on CoreOS it works.

[2016-01-28 07:11] bearice opened #4315 "Unable to start proxy if peer and client using different CA"
Certificates:

[code]

Etcd Server Setup:
[code]

Proxy Setup:
[code]

but it failed to start :
[code]

I checked code here [https://github.com/coreos/etcd/blob/master/etcdmain/etcd.go#L346] found that proxy is using peer certs to connect both peer and client port , which lead to there error.

Is this behaviour by design or a mistake?

[2016-01-28 07:11] petergardfjall commented on #4287
@gyuho
I've been somewhat delayed by other pressing matters. I'll try to get back to you during the day though.

[2016-01-28 07:55] mitake opened #4318 "Question: v3 protocol support in proxy"
Hi,

It seems that current proxy doesn't support v3 protocol. Is there a plan for supporting it?
IIUC, the lease mechanism + proxy would contribute to reduce read traffic. Therefore it would be valuable to support v3 protocol by proxy.

[2016-01-28 08:00] gyuho commented on #4318
We will redesign the proxy layer. V3 does't support proxy yet.

[2016-01-28 09:28] imtheghoul commented on #4286
Thank you, that's it! Now I'm using etcd 2.2.4
But now I have another problem. Can I ask here or should I create another issue? Or maybe I should to ask some other way?
The case is: I can't understand how to bootstrap cluster in according to guide https://github.com/coreos/etcd/blob/master/Documentation/clustering.md#etcd-discovery.
When I do "curl -X PUT https://192.168.7.9/v2/keys/discovery/6c00

[2016-01-28 10:24] YuleiXiao opened #4319 "Does etcd client have interface instead of AddChild in go-etcd?"
We want use official etcd client instead of go-etcd in my program. My program use go-etcd ```AddChild``` function, I do not find it in official etcd client, does it have other interface instead of ```AddChild```

[2016-01-28 12:25] tweakmy opened #4321 "etcd go client set and get not the same length"
How can I use etcd to store []byte instead of string as key-value?

[2016-01-28 12:45] petergardfjall commented on #4287
@gyuho
I've tried out the patch and I am no longer able to reproduce the problem. Nice work.
Case closed?

[2016-01-28 12:59] jonboulle commented on #1232
@YanXiaoping you can experiment with the V3 API using the `--experimental-v3demo=true` flag to recent versions of etcd. On the client side, there's currently a Go package and a command line tool:
https://github.com/coreos/etcd/tree/master/clientv3
https://github.com/coreos/etcd/tree/master/etcdctlv3

[2016-01-28 13:12] jonboulle commented on #4319
Yep, check out CreateInOrder, part of the KeysAPI interface:
https://github.com/coreos/etcd/blob/7adb8442ba7a1b7800ab939fbe9aabfeafd3e4ae/client/keys.go#L120

On Thu, Jan 28, 2016 at 11:24 AM, Yulei Xiao <notifications@github.com>
wrote:

[2016-01-28 13:12] #4319 closed

[2016-01-28 13:51] mitake commented on #4318
@gyuho thanks for your answer. I see.

[2016-01-28 13:51] #4318 closed

[2016-01-28 15:57] xiang90 commented on #4321
etcdv2 api does not support binary value well since it is a json based API. You need to base64 encode it.

[2016-01-28 15:57] #4321 closed

[2016-01-28 15:59] #4287 closed

[2016-01-28 15:59] xiang90 commented on #4287
@petergardfjall Thanks!

[2016-01-28 16:22] xiang90 commented on #4310
@zerojames The main issue is that while upgrading if etcd is under high load, the restarted member might require a snapshot. etcd does not handle large snapshot well under very high load for v2 backend.

So if you have a large snapshot, please make sure the etcd cluster is not under high writes pressure (<500 requests/second) during the upgrade.

Sorry for the inconvenience. This issue has been so

[2016-01-28 17:48] xiang90 opened #4326 "test: TestBlockProposal fails on CI"
--- FAIL: TestBlockProposal (0.05s)
	node_test.go:217: blocking proposal, want unblocking

In `etcd/raft/node_test.go`.

[2016-01-28 18:44] gyuho commented on #4287
@petergardfjall That's great. Thanks for report!

[2016-01-28 21:27] gyuho commented on #3864
@apatil @liggitt

The server side error that you see in `etcdserver: request timed out` can happen in 2 cases:

- `Propose(ctx, data)` to append log got timed out.
- `ProposeConfChange(ctx, cc)` to propose configuration change got timed out.

I tried in a single node etcd cluster, extensively with verstion `2.1.2`, `2.2.2`,
master branch, but I **couldn't reproduce this error**.

It might have bee

[2016-01-28 21:30] liggitt commented on #3864
For our issue, we tracked it to the fsync system call and a super-slow disk issue (ec2 blocked the fsync call for 10-30 seconds while silently resizing the supposedly local and supposedly pre-allocated SSD volume).

[2016-01-28 21:32] zerojames commented on #4310
Thanks for the explanation.

[2016-01-28 21:32] #4310 closed

[2016-01-28 21:37] gyuho commented on #3864
The server side error is not related to disk issue, I think. Did that issue affect the CPU or anything else?

[2016-01-28 21:38] xiang90 commented on #3864
@gyuho It is highly related to disk since etcd needs to do fsync before committing. @liggitt Thanks for the update. I feel we can close this actually.

[2016-01-28 21:41] gyuho commented on #3864
@xiang90 is right. Sorry about the wrong information.

The raft implementation calls fsync before committing an entry and if there were disk issues,
the propose operations in raft could have timed out.

[2016-01-28 22:41] apatil commented on #3864
That's good to know. Thanks @liggitt for the info. I agree that this can be closed, will investigate fsync performance on our side and open a different issue if necessary.

[2016-01-28 22:42] #3864 closed

[2016-01-28 22:59] gyuho commented on #4303
@tobilg We need the full configuration to see what could be wrong. Please see https://github.com/coreos/etcd/blob/master/Documentation/reporting_bugs.md.

As you can see `coreos-node-2 systemd[1]:`, your cloud-config might be wrong.
Did you run in Google cloud? This is the sample configuration that works in google cloud.

[code]

[2016-01-28 23:17] gyuho commented on #4315
@bearice

1. Please use `trusted-ca-file` flag instead of `ca-file`.
2. Can you share the full command from this failure? I don't see your `key-file` flag.

[2016-01-29 00:23] gyuho opened #4333 "etcdserver/server_test.go: TestApplyRepeat fail"
[code]

https://travis-ci.org/coreos/etcd/jobs/105566730

[2016-01-29 01:12] YanXiaoping commented on #1232
@jonboulle , ok, thank you!

[2016-01-29 01:32] gyuho opened #4337 "integration: TestV3RangeRequest panic: assertion failed: tx closed"
https://semaphoreci.com/coreos/etcd/branches/pull-request-4336/builds/1

[code]

[2016-01-29 01:35] YuleiXiao commented on #4319
@jonboulle
```AddChild``` comment is ```// Add a new file with a random etcd-generated key under the given path.```

but ```CreateInOrder``` comment is ```// CreateInOrder is used to atomically create in-order keys within the given directory.```

Is it the same?

[2016-01-29 02:20] #4333 closed

[2016-01-29 02:30] xiang90 commented on #4244
/cc @crawford

[2016-01-29 05:53] gyuho opened #4338 "clientv3/integration: cover all client operations"
- [X] Put: https://github.com/coreos/etcd/pull/4336
- [X] Range: https://github.com/coreos/etcd/pull/4348
- [X] Lease: https://github.com/coreos/etcd/pull/4367, https://github.com/coreos/etcd/pull/4369
- [X] Watch: https://github.com/coreos/etcd/pull/4360
- [X] Delete: https://github.com/coreos/etcd/pull/4372
- [X] DeleteRange: https://github.com/coreos/etcd/pull/4372
- [X] Txn: https://github.com

[2016-01-29 06:15] tobilg commented on #4303
@gyuho Thanks for the feedback. Unfortunately I don't really see a difference in the configuration other than the usage of $private_ipv4. My cluster is running in bare metal, so I can't use this as of the docs at

https://coreos.com/os/docs/latest/cloud-config.html

Where exactly so you see a problem?

[2016-01-29 07:21] shawnps opened #4345 "copyright year is still 2015 in many places"
Not sure if this is something you want to update:

[code]

[2016-01-29 07:22] shawnps commented on #4345
Feel free to close the issue if irrelevant

[2016-01-29 11:29] jonboulle commented on #4319
Yes. The fact that the "random" key is generated by the etcd server is what
provides the automatic atomic creation.

On Fri, Jan 29, 2016 at 2:36 AM, Yulei Xiao <notifications@github.com>
wrote:

[2016-01-29 13:58] imtheghoul opened #4347 "etcd discovery problem"
Hello!
I can't understand how to bootstrap cluster in according to guide https://github.com/coreos/etcd/blob/master/Documentation/clustering.md#etcd-discovery.
When I do "curl -X PUT https://192.168.7.9/v2/keys/discovery/6c007a14875d53d9bf0ef5a6fc0257c817f0fb83/_config/size -d value=2" I have got: "curl: (7) Failed to connect to 192.168.7.9 port 443: Connection refused"
Also tried with self-signed

[2016-01-29 15:19] gyuho commented on #4347
Documentation on discovery can be found here https://github.com/coreos/etcd/blob/master/Documentation/clustering.md#etcd-discovery.

And if you want to set up TLS-enabled cluster, please read https://github.com/coreos/etcd/blob/master/Documentation/security.md.

Your connection is refused because you ` just run "etcd &" ` without any security flags.

But it's still not clear what you did. Could yo

[2016-01-29 15:24] imtheghoul commented on #4347
Yes, sorry.
My command on first node (192.168.7.9) is:
etcd -name infra0 -initial-advertise-peer-urls http://192.168.7.9:2380 \
-listen-peer-urls http://192.168.7.9:2380 \
-listen-client-urls http://192.168.7.9:2379,http://127.0.0.1:2379 \
-advertise-client-urls http://192.168.7.9:2379 \
-discovery https://192.168.7.9/v2/keys/discovery/6c007a14875d53d9bf0ef5a6fc0257c817f0fb83

And as you can read

[2016-01-29 15:41] gyuho commented on #4347
@imtheghoul You have to generate discovery token first. Please click https://discovery.etcd.io/8c5aee1b8e744fe9277d63d8d1b8e7bd.

But your token is not found  https://discovery.etcd.io/6c007a14875d53d9bf0ef5a6fc0257c817f0fb83.

And make sure generate with the size of cluster: `https://discovery.etcd.io/new?size=3`.

[2016-01-29 21:33] crawford commented on #4244
We use the machine ID as the name because, in its absence, etcd uses "default" as the name.  This naming conflict doesn't work well when you have more than one etcd node in your cluster.

[2016-01-29 22:32] gyuho commented on #4299
@heyitsanthony  got this :+1:   https://github.com/coreos/etcd/pull/4349

[2016-01-29 22:53] vandita31 commented on #4308
@xiang90 Thanks so much for all your help yesterday! That worked well for me. However i would like to confirm that do the other environment flags like below also need to be enabled?

[code]
I was playing with docker swarm and i get errors like -

"client: etcd cluster is unavailable or misconfigured"

So i was curious if the suggestion you mentioned above is just to "start" etcd or is anything oth

[2016-01-29 23:02] gyuho opened #4350 "integration: TestV3PutMissingLease times out"
- https://semaphoreci.com/coreos/etcd/branches/pull-request-4348/builds/8
- https://semaphoreci.com/coreos/etcd/branches/pull-request-4348/builds/9
- https://semaphoreci.com/coreos/etcd/branches/master/builds/359
- https://semaphoreci.com/coreos/etcd/branches/master/builds/360

[2016-01-30 00:59] gyuho commented on #4350
The test is hanging in:

[code]

Possibly related to https://github.com/coreos/etcd/commit/69abdf8144086c85aa47194b4e28b14eb614c196.

[2016-01-30 01:05] #4299 closed

[2016-01-30 01:15] gyuho commented on #4350
Just confirmed that it's from the `applyRange` response header change. Will investigate more.

[2016-01-30 03:27] xiang90 commented on #4350
the pr is reverted. so this is fixed.

[2016-01-30 03:27] #4350 closed

[2016-01-30 14:54] alindeman commented on #2986
In my case when I received this error, I had typoed my configuration in such a way that the etcd was advertising its client URL as its peer URL. Changing the advertised client URL to the correct port fixed the issue.

[2016-01-31 16:10] Alino commented on #3103
is there any easy solution how to bring up the cluster back after I made a mistake and required etcd.service inside a unit instead of etcd2.service?
It is big overkill for me to recreate the whole cluster everytime I accidently run etcd.service
For production really dangerous if you dont know how to easily revert the cluster quick enough :(

[2016-02-01 02:02] zhouqianli commented on #4271
How can I get the log?  Are there any log files I can find?  Tried to reboot the machines, still get same output.

[2016-02-01 02:04] xiang90 commented on #4271
@zhouqianli

https://github.com/coreos/etcd/issues/4271#issuecomment-174684802

[2016-02-01 02:08] zhouqianli commented on #4271
Still not working.  I will request new machine to repo this issue.

[code]

[2016-02-01 02:09] xiang90 commented on #4271
/cc @crawford Any idea about the journald issue?

[2016-02-01 06:49] crawford commented on #4271
@xiang90  etcd 2.2.0 does not support this feature (https://github.com/coreos/etcd/pull/3829).

[2016-02-01 07:04] xiang90 commented on #4271
@crawford Is there any other way to get the log you know about?

[2016-02-01 08:25] imtheghoul commented on #4347
@gyuho

But according the guide, I have a possibility to make own etcd discovery service, isn't? https://discovery.etcd.io is a public service and it does not acceptable to our security policy.

[2016-02-01 08:29] gyuho commented on #4347
@imtheghoul Yes, https://discovery.etcd.io is a public service. You can specify your own DNS server with `discovery` or  `discovery-srv` flag.

[2016-02-01 10:24] imtheghoul commented on #4347
@gyuho DNS is another way of discovery.
Could you please explain a few moments? I found https://github.com/coreos/etcd/blob/master/Documentation/discovery_protocol.md (last week this page was 404). Quite understandable, but I still can't catch: to bootstrap cluster, first of all we have to set cluster size by curl -X PUT http://example.com/v2/keys/_etcd/registry/${UUID}/_config/size -d value=${clu

[2016-02-01 14:09] crawford commented on #4271
`journalctl | grep etcd`

[2016-02-01 16:51] philips opened #4365 "offline migration tool"
etcd has a live rolling upgrade policy that generally supports X.(N).* to X.(N-1).* upgrades. But, in cases where a user might have an old version of etcd (say 2.0.0), doesn't want to roll through a large number of releases (say to 2.5.0), and can withstand an outage we should provide an offline migration tool that can be ran on every machine and then the cluster can be brought back up.

This woul

[2016-02-01 16:52] philips commented on #4365
cc @crawford

[2016-02-01 17:18] xiang90 commented on #4181
@ringtail I am closing this due to low activity. Reopen if you have more data.

[2016-02-01 17:18] #4181 closed

[2016-02-01 20:08] vandita31 commented on #4308
@xiang90 - Any thoughts on the above? Im still facing issues getting swarm to work with etcd standalone instance.

[code]

The problem lies on etcd side and I'm not sure whats causing this misconfiguration. The setup is the same as above on what we worked through. Any clue? If you would prefer , i can open a new issue.

[2016-02-01 20:09] xiang90 commented on #4308
@vandita31 I am not sure. It seems that etcd is OK once you see `Jan 28 03:24:14 cdaetcd-ch2-2p etcd[22928]: set the initial cluster version to 2.2
`

[2016-02-01 20:13] gyuho opened #4368 "integration/fixtures: certs triggers SSL errors with curl in tests"
[code]

These works fine in `etcdctl` but with `curl` command it fails with such error.
Possibly related to https://github.com/coreos/etcd/issues/209.

[2016-02-01 20:17] vandita31 commented on #4308
@xiang90 Correct but if using it as a discovery service and it indicates
- client: etcd cluster is unavailable or misconfigured" ,

Are there any steps one can take on etcd side to debug misconfiguration? Its a standalone instance..so i assume all cluster configuration options should be disabled?

[2016-02-01 20:19] xiang90 commented on #4308
@vandita31 I am not sure if your client is configured correctly or your sever is listening on/adversiting the correct address. You have to check it yourself.

[2016-02-01 20:22] vandita31 commented on #4308
@xiang90  Thanks Xiang! yeah , its set the same as before and i started it manually too -

[code]

Still no luck and ETCD reports misconfigured....

[2016-02-01 20:26] xiang90 commented on #4308
@vandita31

It advertises for localhost (`--advertise-client-urls 'http://localhost:4001'`). So remote will not be able to connect to it.

It listens on `http://0.0.0.0:4001`. Try to curl on localhost with http://127.0.0.1:4001/version. If that works, then it is your application issue.

[2016-02-01 20:41] vandita31 commented on #4308
@xiang90 : Yeah curl works :-/

[root@cdaetcd-ch2-2p member]# curl -L http://127.0.0.1:4001/version
{"etcdserver":"2.2.4","etcdcluster":"2.2.0"}[root@cdaetcd-ch2-2p member]#

Swarm says its an etcd issue :D Will have to see what's up.

Thanks though for all your prompt responses Xiang!

[2016-02-01 21:53] #4259 closed

[2016-02-01 21:53] gyuho commented on #4259
Closing via https://github.com/coreos/etcd/pull/4361.

[2016-02-02 09:14] 247687009 opened #4377 "Use only 127.0.0.1 access, using the host IP (192.xx.xx.xx) can not access"
![image](https://cloud.githubusercontent.com/assets/5880317/12744630/3d68ac0e-c9d0-11e5-9bc7-1d98016c4925.png)

[2016-02-02 09:16] xiang90 commented on #4377
@247687009 etcd listend on 127.0.0.1:2379. So you cannot access it via other ip. Try to listen on 0.0.0.0 or the IP you want.

[2016-02-02 09:16] #4377 closed

[2016-02-02 09:18] 247687009 commented on #4377
How to configure ? Thanks!

[2016-02-02 09:18] xiang90 commented on #4377
@247687009 https://github.com/coreos/etcd/blob/master/Documentation/configuration.md#-listen-client-urls

[2016-02-02 10:26] bearice commented on #4315
@gyuho  sure, i just striped unrelated flasg, here are full commands:

PS: change `ca-file` to `trusted-ca-file` seems not helping

proxy:
[code]

server:
[code]

[2016-02-02 15:35] davidquarles commented on #1749
_Is_ there anything like this in userspace right now?  I can't imagine this is a ton of code to write, especially if it is not written as part of the etcd core (though I'm open to hacking on etcd directly if this is an issue you want some help with this), and I'm happy to write something if not.  At the risk of sounding pushy (I'm honestly just curious), when _might_ we expect this to surface?

[2016-02-02 16:44] davidquarles opened #4378 "proxy: smart (or maybe just configurable) routing"
@yichengq I just stumbled across this [year-old exchange](https://groups.google.com/forum/#!topic/etcd-dev/xH1dvvBxs5g), which didn't seem to ever make it into a proper feature request.
#### My use case:

I currently have a three-node cluster with the active members split between 3 data centers.  Because the proxy does a basic round-robin under the hood, our proxies are connecting across regions t

[2016-02-02 17:16] raoofm commented on #4365
+1

[2016-02-02 17:18] raoofm commented on #4378
+1

[2016-02-02 17:30] raoofm opened #4379 "Can we upgrade directly from 2.2.0 to 2.2.5"
Can we upgrade directly from 2.2.0 to 2.2.5 or do we need to do it 6 times, 1 step at a time (painful)?
2.2.0 -> 2.2.1
2.2.1 -> 2.3.0-alpha.0
2.3.0-alpha.0 -> 2.2.2
2.2.2 -> 2.2.3
2.2.3 -> 2.2.4
2.2.4 -> 2.2.5

I thought only if you are skipping a major version then it might require to handle 1 major upgrade at a time, but it seems I'm wrong. For example if I like to upgrade from 0.4 to 3.0
0.4 ->

[2016-02-02 17:53] gyuho commented on #4379
`v2.2.0` to `v2.2.x+` is fine. That's what we test before we do the release. Upgrade from `v2.2` to `v3.0` needs to be documented like https://github.com/coreos/etcd/blob/master/Documentation/upgrade_2_2.md. We don't have any documentation on that yet.

Defer to @xiang90.

Thanks,

[2016-02-02 17:54] xiang90 commented on #4379
@raoofm For patch version, you can just upgrade. The minimum rule is we will support zero-down time upgrade from a.b.x to a.(b+1).0.

[2016-02-02 17:54] #4379 closed

[2016-02-02 17:58] gyuho commented on #4315
@bearice Your command is missing `initial-cluster` flag. Please see:

- https://github.com/coreos/etcd/blob/master/Documentation/configuration.md#-initial-cluster
- https://github.com/coreos/etcd/blob/master/Procfile

[2016-02-02 18:31] gyuho opened #4380 "v3 functional-test : Phase I"
- [X] Add `Hash` method to KV API: https://github.com/coreos/etcd/pull/4404
- [X] Put data into v3 storage: https://github.com/coreos/etcd/pull/4406
- [X] Check data consistency over cluster using `Hash` method: https://github.com/coreos/etcd/pull/4412
  - stop all inputs
  - wait for a moment
  - compare the storage by hashing
- [X] Compact v3 storage periodically (for every failure round): https

[2016-02-02 18:32] xiang90 commented on #4380
we probably still need to store the bad data dir on to a cloud storage rather than a database.

[2016-02-02 18:42] gyuho commented on #4380
Just changed. Thanks.

[2016-02-02 18:44] gyuho opened #4381 "Public etcd playground: play.etcd.io"
- set up an actual 5-node cluster, served publicly at `play.etcd.io` or something else
- users can kill, recover nodes and see the real-time logs and status of cluster
- resources and features will be limited for the first version

[2016-02-02 18:54] gyuho commented on #4347
@imtheghoul If you don't have any web server running in your localhost, you cannot `curl` to your loopback ip `127.0.0.1`. etcd is not a DNS server. Not a web server either. You need to set up your own discovery server with your own DNS configuration in your local machine.

[2016-02-02 20:12] jonboulle commented on #4381
shameless driveby :+1:

[2016-02-02 20:13] gyuho commented on #4381
Thanks!

[2016-02-02 21:07] akamalov commented on #2818
@xiang90 : Could you please delete the comment as of May 14 ? Accidentally data was not scrabbed.

[2016-02-02 21:09] xiang90 commented on #2818
@akamalov Sorry about that. Deleted.

[2016-02-02 21:12] akamalov commented on #2818
@xiang90 Thank you very much indeed.

[2016-02-02 21:27] krousey opened #4385 "v3 api Range continuation is awkward"
(forked from discussion on https://github.com/kubernetes/kubernetes/issues/20504#issuecomment-178760642)

This could be a complete misunderstanding on my part. But the range API defined [here](https://github.com/coreos/etcd/blob/master/etcdserver/etcdserverpb/rpc.proto#L12) let's me query a half-open range `[key, range_end)`. If I'm trying to continue from a previous range request, I need to popul

[2016-02-02 21:28] xiang90 commented on #4385
/cc @heyitsanthony

[2016-02-02 21:36] heyitsanthony commented on #4385
This seems like something we could support client side on top of the API (`RangePager` or something). Tracking a token server side would be pricey.

[2016-02-02 21:41] xiang90 commented on #4385
@heyitsanthony The argument is that in some language, byte arithmetic is hard. We probably can just provide an addition field called Next?

[2016-02-02 21:52] heyitsanthony commented on #4385
Yeah, that would work. I'm a little hesitant to change the wire protocol to send data that can be computed client side just because some languages have trouble manipulating binary data, though.

[2016-02-02 21:56] klausenbusk commented on #2393
Any update on this? Currently etcd2 use 90M or 18% of my memory (512MB Digital Ocean node)

[2016-02-02 21:58] xiang90 commented on #2393
@klausenbusk What is the problem with 90M memory usage?

[2016-02-02 22:02] klausenbusk commented on #2393
@xiang90 It a large portion of the memory, when the nodes is only 512MB. Before I restarted etcd it was 136MB, I was testing something.

[2016-02-02 22:06] xiang90 commented on #2393
@klausenbusk If you want to limit the memory usage, you can always limit the number of keys yourself; we can set a hard limit too to avoid you adding more keys into etcd. However etcd will keep ALL data in memory.

[2016-02-02 22:09] klausenbusk commented on #2393
I only have < 30 keys, but I refresh some of them very often. The 3 db nodes alone do around ~ 140 "refresh" every minute, then I also have some other node, but around ~ 200 "refresh" per minute.

[2016-02-02 22:10] xiang90 commented on #2393
@kalabiyau etcd keeps internal history events for watch/replication etc.. Also etcd2 is not memory efficient and it is improved with our new v3 backend.

[2016-02-02 22:58] xiang90 opened #4388 "TestWatchCancelRunning fails"
[code]

[2016-02-03 02:35] bearice commented on #4315
@gyuho My cluster is already bootstrapped, so i don't need any `initial-*` flags, right?

The point of this issue is about when etcd server is using different trust CAs for client and peer port, the proxy server is not usable (`remote error: bad certificate`). Because proxy server will use same certificate to connect both ports.

A possible workaround is add both CAs into `trusted-ca-file`, but it

[2016-02-03 02:40] gyuho commented on #4315
@bearice  I mis-read your issue. Sorry about that.

Let me double check our implementation and I will get back to you as soon as possible.

[2016-02-03 03:19] gyuho commented on #4315
@bearice Can you clarify the second question? Proxy is optional. If you want to connect to your members directly, you don't need proxy. etcd proxy is just a simple reverse proxy to the cluster. Proxy internally syncs members in cluster to forward its requests.

[2016-02-03 03:28] gyuho commented on #4315
And for code-wise, proxy does use **client TLS** to serve client requests https://github.com/coreos/etcd/blob/master/etcdmain/etcd.go#L453-L468.

So in your proxy, you need to specify both `trusted-ca-file` and `peer-trusted-ca-file`:

[2016-02-03 03:32] xiang90 opened #4391 "TestMemberRemove fails"
--- FAIL: TestMemberRemove (2.23s)
	cluster_test.go:78: failed to remove member rpc error: code = 13 desc = "etcdserver: server stopped"

[2016-02-03 03:39] bearice commented on #4315
Yes, proxy is using ** clientTLSInfo** for **Listening**

But using **peerTLSInfo** for connecting real servers, both 2379(client) and 2380(peer) ports

https://github.com/coreos/etcd/blob/master/etcdmain/etcd.go#L349-L358

That is the problem.

[2016-02-03 03:41] xiang90 commented on #4315
@bearice The current proxy terminates TLS and switch to peer TLS to communicate with actual etcd cluster. We should document that.

[2016-02-03 03:59] smarterclayton commented on #4385
Is there a client language affordance function we could add for "next key"?  I would assume that would be  `append(lastSeen, 0x00)`?

[2016-02-03 05:36] xiang90 commented on #4391
Fix by #4393

[2016-02-03 05:36] #4391 closed

[2016-02-03 16:26] raoofm commented on #4379
Thanks @gyuho @xiang90 .

I understand that 2.2.a can go to 2.2.x directly.

Can 2.a.a go to 2.x.x?(From your comment 2.a has to go to 2.b and then to 2.c.... to 2.x, this requires releases in production with no good reason to convince the support teams)

Can 2.a go to 3.a without upgrading from 2.a to 2.x?

[2016-02-03 16:58] raoofm commented on #3753
Right, that's the reason we love etcdProxy :smiley:

It really is for a number of applications having local proxy.

Honestly I understand you, but we have a solution by refreshing proxy from SRV - simple and effective.

**Rethink**
I went back to think from a different perspective as to why etcd is so reluctant to just refresh. Does it give a benefit or does it bring in more failure points by brin

[2016-02-03 17:20] raoofm commented on #4379
Another question is

v2.3 will be released on Feb 08. Can I assume that all the fixes done in 2.2.x series are also fixed in  2.3?

[2016-02-03 19:39] philips commented on #1749
@davidquarles No, there is nothing in userspace right now. I thought I remembered someone worked on it but I can't find that project. Part of the question if you have mirroring do you want to be able have the same indexes or not?

[2016-02-03 19:59] philips commented on #3103
@xiang90 etcd v0.4.9 doesn't have a member/wal directory, right?

@mischief I think we should add a `ConditionPathExists=!/var/lib/etcd/member/wal` to etcd.service to help people not make this mistake.

[2016-02-03 20:29] raoofm commented on #1749
I think if we are naming it mirroring, then the indexes should be the same, else it should be named as a data-sync or data-backup or data-replication utility.
For my usecase indexes wouldn't matter.

[2016-02-03 21:13] gyuho opened #4405 "TestSTMConflict fails with interface conversion error"
Full logs can be found here:
- https://semaphoreci.com/coreos/etcd/branches/pull-request-4404/builds/5.
- https://semaphoreci.com/coreos/etcd/branches/pull-request-4406/builds/5

[code]

[2016-02-03 23:31] #3699 closed

[2016-02-04 06:19] xiang90 opened #4411 "TestQueueManyReaderOneWriter test fails on CI"
[code]

[2016-02-04 16:20] raoofm opened #4415 "Deprecate hidden key space"
Recommend not to use hidden keyspace in api documentation. Support is dropped in v3

[2016-02-04 17:14] #4415 closed

[2016-02-04 17:30] gyuho commented on #4411
Another failure https://semaphoreci.com/coreos/etcd/branches/pull-request-4413/builds/1.

[code]

[2016-02-04 17:43] heyitsanthony opened #4417 "TestSendMessage test fails on CI"
Note: the `rafthttp: failed to write 1 on stream Message (blah)` message is complaining about data from another unit test for some reason.

via https://semaphoreci.com/coreos/etcd/branches/master/builds/399
[code]

[2016-02-04 18:06] gyuho opened #4419 "TestElectionWait fails with interface conversion error"
Another failure https://semaphoreci.com/coreos/etcd/branches/pull-request-4413/builds/1.

[code]

[2016-02-04 18:45] vandita31 commented on #4308
@xiang90 Just wanted to update you that the above misconfiguration issue with ETCD was because of ETCD flags.

--advertise client needs to be set to http://<host_ip>:4001 instead of http://0.0.0.0:4001

After i made that change , it worked.

Are you aware of this? I had to debug a lot , so may be good to update the documentation?

Thanks

[2016-02-04 19:08] xiang90 opened #4420 "TestSTMConflict fails"
--- FAIL: TestSTMConflict (39.34s)
	v3_stm_test.go:87: bad sum. got 327, expected 500

[2016-02-04 21:56] xiang90 opened #4424 "test: TestTxnWriteFail fails"
[code]

[2016-02-04 22:13] xiang90 commented on #4420
/cc @heyitsanthony

[2016-02-04 22:13] xiang90 commented on #4419
fixed by https://github.com/coreos/etcd/pull/4423

[2016-02-04 22:13] #4419 closed

[2016-02-04 22:13] xiang90 commented on #4411
fixed by https://github.com/coreos/etcd/pull/4423

[2016-02-04 22:13] #4411 closed

[2016-02-04 22:14] xiang90 commented on #4405
fixed by https://github.com/coreos/etcd/pull/4423

[2016-02-04 22:14] #4405 closed

[2016-02-05 00:48] xiang90 opened #4425 "TestDoubleBarrierFailover fails on CI"
[code]

[2016-02-05 02:43] heyitsanthony opened #4427 "TestMemberRemove fails CI"
[code]

[2016-02-05 04:52] AkihiroSuda commented on #4417
`TestSendMessageWhenStreamIsBroken-2` also failed with very similar error string.
https://travis-ci.org/coreos/etcd/jobs/107159682

[2016-02-05 05:13] xiang90 commented on #4417
@heyitsanthony @AkihiroSuda The transportation layer is pretty broken now. I am trying to find a way to fix it... Not sure if it is caused by @heyitsanthony's recent fix though.

[2016-02-05 05:16] heyitsanthony commented on #4417
I think I found the issue while debugging the clientv3 logic-- appears to be giving the wrong URLs in `X-Server-Peers`

[2016-02-05 06:19] xiang90 commented on #4380
Add another requirement: Compact v3 storage periodically

[2016-02-05 06:20] gyuho commented on #4380
@xiang90 Just added. Thanks!

[2016-02-05 06:22] #4338 closed

[2016-02-05 06:32] AkihiroSuda commented on #4417
https://github.com/coreos/etcd/blob/b61eaf33356f7485f4b65d3a4aea8ac5d38ccd72/rafthttp/functional_test.go#L61-L63
 https://github.com/coreos/etcd/blob/b61eaf33356f7485f4b65d3a4aea8ac5d38ccd72/rafthttp/functional_test.go#L148

[code]

`waitStreamWorking` has only 1,000 msecs timeout value, which can be too short for slow machines.

I suggest increasing the timeout to an extremely long value. (relate

[2016-02-05 19:44] timothysc opened #4435 "RFE: Native Client3 - no socket for embedded servers."
Currently the client interface(s) to etcd all make the supposition that is talking over a client socket which has a number performance constraints if you potentially wish to embed etcd into a master/worker.

The main premise behind this would be to eliminate the encode<>decode<>transport + sec handshakes etc from the critical path of distributed systems.

In the case of kubernetes it would be smas

[2016-02-05 19:48] xiang90 commented on #4435
Talked about embedded etcd inside api server and avoiding extra network/cpu path with @bgrant0607.

But @bgrant0607 mentioned this is not a good way to go. He might want to share some opinions.

[2016-02-05 19:49] timothysc commented on #4435
@xiang90 If it's hidden behind the client library, it shouldn't matter.  It's a deployment constraint.

[2016-02-05 19:50] xiang90 commented on #4435
@timothysc I understand that part. I am just not sure if k8s would actually embed etcd...

[2016-02-05 19:54] timothysc commented on #4435
Upstream may not, but that doesn't prevent anyone downstream.

[2016-02-05 19:56] xiang90 commented on #4435
@timothysc I am fine with this idea. etcd server's/client's API layer is pretty decoupled with other component. It is quite easy to add support. But this would not be a high priority thing until we make v3 stable.

[2016-02-05 19:58] timothysc commented on #4435
ack.

[2016-02-05 21:23] xiang90 commented on #3623
This is resolved in etcd 2.2.5 I believe.

[2016-02-05 21:23] #3623 closed

[2016-02-05 21:51] gyuho commented on #4303
@tobilg Sorry for late response. Actually there's another issue with almost the same behavior as you https://github.com/coreos/etcd/issues/4308. That thread will give you a better idea.

This looks like `systemd` configuration issue. Can you just execute `etcd` directly, without using `systemd`? As you see, it crashes **in** `systemd`.

Please let me know if you have any other question.

Thanks,

[2016-02-05 22:12] gyuho commented on #4315
This was once discussed here https://github.com/coreos/etcd/issues/3599. As soon as we complete v3 features, we will improve the proxy feature addressing your concerns. We will revisit this issue again.

[2016-02-05 23:26] xiang90 commented on #4345
This is fine. When we update the file in a significant way, we will update the copyright part.

[2016-02-05 23:26] #4345 closed

[2016-02-06 01:13] heyitsanthony opened #4444 "rafthttp: leader spoofing via X-PeerURLs"
The fix for #3699 lets a peer accept transports from unknown peers that set the `X-PeerURLs` header. While this avoids the deadlocking new leader problem, the upshot is a "bad" peer with an arbitrary URL may announce to a recovering node that it owns the leader's id. The recovering node would then accept raft messages from the spoofed leader.

This could be problematic for a possible auto-TLS desi

[2016-02-06 05:04] xiang90 commented on #4417
This is fixed by https://github.com/coreos/etcd/pull/4431 I believe.

[2016-02-06 05:04] #4417 closed

[2016-02-06 05:06] xiang90 commented on #4244
@quentinsch I think @crawford got a reasonable answer for you. Closing due to low activity.

[2016-02-06 05:06] #4244 closed

[2016-02-06 05:07] xiang90 commented on #4251
Closing due to low activity. Please reopen if this is still an issue.

[2016-02-06 05:07] #4251 closed

[2016-02-06 05:08] xiang90 commented on #4069
Closing due to low activity. Please reopen if this is still an issue and you can provide more information.

[2016-02-06 05:08] #4069 closed

[2016-02-06 07:20] bgrant0607 commented on #4435
Long-lived sessions could reduce handshake overhead.

There are multiple disadvantages of linking etcd into the apiserver in real clusters (would be great for hyperkube, though):
* Bugs in apiserver business logic could make the store unavailable, which would make debugging, backups, state repair, etc. harder
* It would constrain the scaling of apiserver to the etcd quorum size
* apiserver replica

[2016-02-06 07:22] onlyjob commented on #3485
This is still a problem in 2.2.5: https://github.com/coreos/etcd/blob/v2.2.5/tools/v3benchmark/main.go#L24

Please reopen...

[2016-02-06 07:45] hongchaodeng commented on #4435
@bgrant0607
May I ask a question w.r.t. the paxos log? What's the goal for Borg to build it? HA? Is encoding efficiency a part of the goal as well?

In the Borg paper, it mentioned

- I'm wondering what size the "big" is.
- Why the state has to be reconstructed? Is it the stale follower trying to catch up?

[2016-02-06 08:24] onlyjob opened #4446 "please use stable release of google protobuf"
There are some `.proto` files (e.g. [storage/storagepb/kv.proto](https://github.com/coreos/etcd/blob/master/storage/storagepb/kv.proto#L1) and others) that use `syntax = "proto3"` supported by yet to be released `protoc`. Latest stable release of [protobuf compiler](https://github.com/google/protobuf/releases) 2.6.1 supports only `syntax = "proto2"`.

Whenever possible please consider to use only

[2016-02-06 11:48] quentinsch commented on #4244
@xiang90, yes I understand. We use CoreOS in a PXE only environment (without installing it) and we could manage the variable with a drop-in through the cloud config, but if you use cloud config as a script it is a challenge to replace this variable.
Anyway, thanks for the explanations.

[2016-02-06 15:56] xiang90 commented on #4446
@onlyjob We are using proto3 for gPRC. And it is for our alpha version of v3 api. So I am not worry about it until we decide to release stable version of etcd3.

[2016-02-06 15:56] xiang90 commented on #3485
@onlyjob Thanks. Reopened. Will fix.

[2016-02-06 16:00] jonboulle commented on #4446
I guess the concern here is for packaging the dependencies without this?
@xiangli I wonder if we should make it easier for packagers to build etcd
without any of the v3 stuff linked in.

Xiang Li <notifications@github.com> schrieb am Sa., 6. Feb. 2016 16:56:

[2016-02-07 07:35] gyuho commented on #4380
`Feed logs, bad data-dir into cloud storage for debugging purpose` will be done in a separate repo.

[2016-02-07 07:35] #4380 closed

[2016-02-07 09:06] onlyjob commented on #4446
Yes, for downstream packaging here in Debian it is quite a problem as since recent update of vendored `github.com/gogo/protobuf` _Etcd_ FTBFS when built with stable release of protobuf compiler:

[code]

[2016-02-08 15:07] timothysc commented on #4435
I don't believe this is any different from today, for openshift deploys.

Yup, That would be a trade off.

The strategy outlined would "allow" for the embedding, not force.  Meaning dealers choice on the matter.  Depending on the deployment, we can allow for multiple strategies.

[2016-02-08 17:13] philips commented on #4034
So, the idea would be a periodic polling routine that checks the CRL URL? What happens if the CRL URL is unreachable? What is the normal policy for that?

[2016-02-08 19:25] #4427 closed

[2016-02-08 19:39] lslaslo opened #4451 "cannot add member to existing cluster"
When following documentation here: https://coreos.com/etcd/docs/latest/runtime-configuration.html#cluster-reconfiguration-operations to add a member, when running
`etcd -listen-client-urls http://10.0.191.151:2379 -advertise-client-urls http://10.0.191.151:2379 -listen-peer-urls http://10.0.191.151:2379 -initial-advertise-peer-urls http://10.0.191.151:2379 -data-dir %data_dir%`
I get an error mess

[2016-02-08 19:46] xiang90 commented on #4451
I think on CoreOS, you should try etcd2, not etcd.  @crawford will have a better answer for you on this one.

[2016-02-08 19:49] lslaslo commented on #4451
@xiang90 that was it -- thank you!

[2016-02-08 19:50] xiang90 commented on #4451
@lslaslo No problem.

[2016-02-08 19:50] #4451 closed

[2016-02-08 20:46] #4018 closed

[2016-02-08 20:57] xiang90 commented on #4207
@heyitsanthony Can you try to test how slow it is to delete 1M keys in a deleteRange in today's etcd?

[2016-02-08 21:13] heyitsanthony commented on #4207
@xiang90 will do

[2016-02-08 21:15] #1978 closed

[2016-02-08 22:20] heyitsanthony commented on #4207
[code]

It seems like there's a bug in cobra that ignores empty / \x00 strings so I had to start with \x1. Assuming linear overhead, 1m keys will be ~15s on my machine.

[2016-02-08 22:21] xiang90 commented on #4207
@heyitsanthony Seems it is reasonably fast... How about de-prioritizing this to 3.0 maybe?

[2016-02-08 22:26] heyitsanthony commented on #4207
@xiang90 yeah perf seems acceptable. RSS is at ~740MB which also seems OK

[2016-02-08 22:34] heyitsanthony commented on #4207
Additional data: after compaction, RSS is 903MB -- 947MB.

[2016-02-09 00:05] onlyjob commented on #4446
Thanks for understanding, @jonboulle.

[2016-02-09 05:04] xiang90 opened #4459 "doc: write about how to debug a failed data dir generated by tools/etcd-tester"

[2016-02-09 15:04] xiang90 opened #4463 "etcd-tester: panics"
[code]

[2016-02-09 15:04] xiang90 opened #4464 "etcd-tester: resource leak"
We should close the gRPC connection after using it. It leaks a lot of go routines currently.

[2016-02-09 15:24] raoofm commented on #4379
ping?

[2016-02-09 15:46] xiang90 opened #4465 "etcd-tester: stresser does not fully stop after cancellation"
I observed a few hash inconsistency issue from the testing log.

After examining the wal, I found etcd-tester still issued a few PUT requests after it finished checking Revision. We must stop all inputs before we check the hash, or we might get inconsistent hashes.

[code]

223064 - 223066 are the rev checking by getting key foo.

223068-223069 are PUTs that caused the hash inconsistent failure in

[2016-02-09 16:16] xiang90 commented on #4465
@gyuho I manually reverted the two puts and then the hashes of all member become consistent. So I am sure the two additional PUTs from stresser were the real cost.

[2016-02-09 17:50] gyuho commented on #4379
@raoofm Sorry for late response.
- We will have documentation ready when we release 3.0. Especially about how to migrate from 2.x.
- All 'known' bugs from the previous release should be fixed in next patch, major release.

[2016-02-09 17:52] gyuho commented on #4465
I think https://github.com/coreos/etcd/pull/4466 should resolve this, by disconnecting the gRPC connection. Any thoughts? Thanks

[2016-02-09 18:16] xiang90 commented on #4465
@gyuho I do not think it is related. I have no idea why it still sends puts to etcd after cancellation. Probably you can do more investigation on this one.

[2016-02-09 18:20] gyuho commented on #4465
Ok will investigate more. Thanks

[2016-02-09 18:22] raoofm commented on #4379
@gyuho thanks.

When can we expect 2.3 to be released? Milestone and roadmap dates are already missed and are not updated.
Should I open an issue to update milestones?

[2016-02-09 18:24] gyuho commented on #4379
Our plan is this or next week. I will double-check. Thanks.

/cc @xiang90

[2016-02-09 19:29] gyuho commented on #4463
Assume fixed by https://github.com/coreos/etcd/pull/4467. Will reopen when we have the same error again.

[2016-02-09 19:29] #4463 closed

[2016-02-09 19:35] gyuho commented on #4464
Ran leaky goroutine test on `etcd-tester`:

[code]

Think gRPC connection is still leaky. Will investigate more.

[2016-02-09 22:17] gyuho opened #4469 "etcd-agent: doesn't recreate etcd.log after archive"
[code]

1. etcd-tester fail and calls etcd-agent to archive `etcd.log`
2. `etcd.log` got moved to new directory `failure_archive/xxx`
3. `etcd.log` should be recreated from the agent processor but this is not created (`agent.etcd/` is being created correctly)

[2016-02-09 23:26] gyuho commented on #4469
Current implementation already does this. Think it was running old binaries.

[2016-02-09 23:26] #4469 closed

[2016-02-09 23:28] glevand commented on #3623
Seems to be fixed.  Thanks.

[2016-02-09 23:48] gyuho commented on #4368
@heyitsanthony fixed via https://github.com/coreos/etcd/pull/4471.

[2016-02-09 23:48] #4368 closed

[2016-02-10 01:41] gyuho commented on #4464
We have leaky goroutines from web server (but we can ignore this) and mostly from gRPC sleeps in resetTransport (https://github.com/grpc/grpc-go/blob/master/clientconn.go#L461):

[code]

[2016-02-10 03:22] izouxv opened #4474 "raftexample restart without leader"
single raft cluster. First start can vote a leader, but restart cannot vote leader. It always follower

[2016-02-10 03:26] xiang90 commented on #4474
@izouxv Can you please provide the necessary start command line and logging?

[2016-02-10 03:39] xiang90 opened #4475 "proposal for v3 auth"
We have a role based auth system for v2. We are pretty happy about its simplicity and flexibility.

For v3, we will probably adopt the similar role based system. But we need to solve a few things:

1. the auth should be connection based, not request based. We want to use gRPC handshake or cert to solve this.

2. the auth API management API should always return the detailed view of roles and users.

[2016-02-10 03:59] izouxv commented on #4474
First start and second. I use the same command : ./raftexample --id 1 --cluster http://127.0.0.1:12379 --port 12380
First can vote leader,second cannot vote leader

[2016-02-10 04:01] izouxv commented on #4474
I used goraft and it's too long time to maintain , I want to use etcd raft to replace goraft

[2016-02-10 04:17] xiang90 commented on #4474
@izouxv Sure. I think @heyitsanthony will have an answer for you shortly.

[2016-02-10 05:02] heyitsanthony commented on #4474
Fix is in #4476

Started a new cluster, put data in it, killed node:
[code]

Started node again, confirmed data still present, confirmed cluster accepting writes:
[code]

[2016-02-10 05:26] izouxv commented on #4474
I test it again. But not success. First I start raftexample ,I can set and get data .but I kill all raftexample and run it again ,set data ,but get data it notice "failed to get"

[2016-02-10 05:50] heyitsanthony commented on #4474
@izouxv are you using my branch? did you run the exact steps I provided? If yes to both, I'll need to see the logs since I can't reproduce your problem with the pending fix.

[2016-02-10 05:50] izouxv commented on #4474
first set & get key1, ok
Second set & get key2, faild

[2016-02-10 05:51] izouxv commented on #4474
I use master branch to test it, what branch need I test?

[2016-02-10 05:55] heyitsanthony commented on #4474
The branch for the PR is https://github.com/heyitsanthony/etcd/tree/fix-raftexample-restart

Also, your copy of master is a day or two out of date. Right now the code on master crashes on restart.

[2016-02-10 05:56] izouxv commented on #4474
i test it follow your command step by step on master branch ,I can post my screen snapshot to you shortly

[2016-02-10 05:58] heyitsanthony commented on #4474
@izouxv master branch won't work; the fix isn't committed yet

[2016-02-10 06:54] gyuho opened #4477 "functional-tester: no commit for 30 seconds with leader failures"
- 3 servers running in functional-tester suite
- Case: `kill one member for long time and expect it to recover from incoming snapshot`

1. `2016/02/10 04:27:19`: `kill` triggered to `agent3` (**leader at term 457**)
    - This is a leader failure, but the test case just randomly chooses a member to kill. It just happened to be the leader in this run.
    - `agent1`  (**follower at term 457**)

[2016-02-10 07:47] izouxv commented on #4474
i use https://github.com/heyitsanthony/etcd/tree/fix-raftexample-restart branch, and test..., crash .

[2016-02-10 07:47] izouxv commented on #4474
zouxu:raftexample zouxu$ ./raftexample --id 1 --cluster http://127.0.0.1:12379 --port 12380
raft2016/02/10 15:45:17 INFO: 1 became follower at term 0
raft2016/02/10 15:45:17 INFO: newRaft 1 [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
raft2016/02/10 15:45:17 INFO: 1 became follower at term 1
raft2016/02/10 15:45:18 INFO: 1 is starting a new election at term 1
raft2016/02/

[2016-02-10 08:54] gyuho commented on #4477
Happened once more `10 Feb 2016 00:11:40.874 2016/02/10 08:11:40 etcd-tester: [round#343 case#3] injection error: cluster too slow: only commit 0 requests in 30s`

[2016-02-10 18:33] raoofm commented on #4475
Correct me if I'm wrong, I think this will partially solve the current performance issue with etcd auth mentioned here https://github.com/coreos/etcd/issues/3223

If it doesn't, then what is the plan to solve this issue for v3?

[2016-02-10 18:41] xiang90 commented on #4475
It will be almost the same, just at gRPC layer.

[2016-02-10 20:04] heyitsanthony opened #4480 "TestCtlV2MkTLS fails"
[code]

[2016-02-10 21:00] #4474 closed

[2016-02-10 21:04] xiang90 commented on #4465
Seems to be fixed.

[2016-02-10 21:04] #4465 closed

[2016-02-10 21:04] xiang90 commented on #4464
Seem to be fixed.

[2016-02-10 21:04] #4464 closed

[2016-02-10 22:07] xiang90 opened #4482 "TestV3WatchFromCurrentRevision fails"
[code]

[2016-02-11 00:37] gyuho opened #4485 "functional-testing: etcd membership change"
We have failure injection tests in functional-test suites.
We also want to test membership changes, which could be
separate set of tests.

[2016-02-11 00:55] gyuho commented on #4477
Haven't figured out what caused this:

[code]

`rafthttp: failed to read 877e7f4aa0ff117e on stream Message (unexpected EOF)` seems like the problematic one, and this error occurs from https://github.com/coreos/etcd/blob/master/rafthttp/peer_status.go#L53-L65, which is called at https://github.com/coreos/etcd/blob/master/rafthttp/stream.go#L265-L283.

[2016-02-11 18:04] timothysc commented on #4435
/cc @jeremyeder

[2016-02-11 22:04] heyitsanthony opened #4491 "integration: TestV3DeleteRange panic: assertion failed: tx closed"
Similar to #4337

[code]

[2016-02-11 22:26] gyuho opened #4492 "pkg/schedule: times out the tests in Travis CI"
https://travis-ci.org/coreos/etcd/jobs/108655076#L418

[code]

/cc @xiang90

[2016-02-11 22:42] timothysc commented on #4435
@xiang90  Do the caches make any sense in the native client case, wouldn't etcd hold the copy in memory in this case anyways.

[2016-02-11 22:43] xiang90 commented on #4435
@timothysc etcd will hold all recent data in memory. It does not make a lot of sense to do client side caching in this case unless you are going to have a very tight loop.

[2016-02-11 23:56] #4492 closed

[2016-02-12 01:27] grahamjenson opened #4496 "ssh tunnelling requires no-sync to be turned on"
I like to tunnel through a NAT to a node in my etcd cluster eg `ssh -A -N  -L 2379:$NODE_IP:2379 user@$NAT_IP`. This way I can execute `etcdctl` on my local machine and the query will tunnel to the remote computer.

[code]

Even if I set the endpoint to be local:

[code]

However if I use no-sync it works

[code]

Is this the correct behaviour? I would have thought that setting the endpoint would

[2016-02-12 01:38] gyuho commented on #4496
@grahamjenson Do you have a proxy in your cluster? Is `http://127.0.0.1:2379` proxy?

`no-sync` flag does not synchronize the cluster information and send request to proxy, which then reverse-proxy the request to the actual cluster.

https://github.com/coreos/etcd/blob/cb7ebe81a88e21ca3860f4b830cc2ee7304f6b2f/etcdctl/main.go#L34

[2016-02-12 01:43] grahamjenson commented on #4496
No proxy, just a NAT. It seems that I should have a proxy or VPN into the nodes so that their private IP addresses can be found. Is this the common solution?

[2016-02-12 01:59] gyuho commented on #4496
@grahamjenson I am not sure how you set up NAT because I don't have your etcd configuration.
Did you set `http://10.0.1.1:2379` when you start `etcd`? Your logs tell the client(local) machine has no
access to `http://10.0.1.1:2379`.

And proxy is optional. You can use it however you need reverse proxy.

[2016-02-12 02:57] heyitsanthony opened #4498 "TestWatchCancelRunning leaking goroutines"
Appears to be a separate issue from #4388

[code]

[2016-02-12 03:29] grahamjenson commented on #4496
Yes. I set up using cloud_config so `advertise-client-urls: http://$private_ipv4:2379"`. And my local machine does not have access to the IP address.

It is just mostly annoying that etcdctl rewrites who I am trying to communicate with by syncing. but if this is meant to be like this for other reasons then I can live with `--no-sync` and will close the issue

[2016-02-12 03:35] gyuho commented on #4496
I see. That explains the problem.
And sorry that it was confusing. I will make the documentation clearer.

[2016-02-12 03:37] grahamjenson commented on #4496
All good :)

[2016-02-12 03:37] #4496 closed

[2016-02-12 05:35] gyuho commented on #4477
... continued from the previous comment.

We got a few more `case #3` failures in the functional-test (these are the only cases that have been failing the functional-test, and we have seen 5 out of about 2,500+ rounds so far).

In `case #3`, we randomly kill one member and wait for about 30 seconds in order to check if the cluster can still handle stress while loosing one member. This case fails i

[2016-02-12 05:49] xiang90 commented on #4477
Do we have any clue why this can happen? This is unexpected since we did not inject any failures.

This could block or slow down the stress commits

This is also unexpected. Can you verify that `prugeFile` can slow down etcd in a separate test?

[2016-02-12 06:06] gyuho commented on #4477
@xiang90

I have no idea how the network partition happened. From the logs of last 12 hour, there are about 73 occurrences `xxxxxx stream MsgApp v2 (unexpected EOF)` and if you look at the ones that are not related to failure injection:

[code]

[code]

So network partition happens even without failure injections. But as you pointed out, even with the network partitions, it should be able to handl

[2016-02-12 06:08] xiang90 commented on #4477
@gyuho Yea. Let's investigate. Seems like an interesting case.

[2016-02-12 06:10] xiang90 opened #4502 "TestWatchReconnRequest fails"
[code]

[2016-02-12 06:13] gyuho commented on #4477
@xiang90 Yeah, from the logs we use in production testing cluster I cannot tell exactly what was happening after network partition. I will run another testing cluster with more verbose outputs, testing only the `case #3`.

Thanks.

[2016-02-12 07:05] xiang90 commented on #4388
This issues seems to be fixed by https://github.com/coreos/etcd/commit/a89ba1e583f2847e3c74e579fdfd4a3665b73441.

Since we now stop the scheduler before we stop the backend.

Previously the panic is caused by the bad stop ordering https://github.com/coreos/etcd/blob/e2146e20809a9c81284da22deaa43443b9754c61/etcdserver/server.go#L559-L563. We should wait for the stop of the applier before we can sto

[2016-02-12 07:05] xiang90 commented on #4388
/cc @heyitsanthony

[2016-02-12 07:11] heyitsanthony commented on #4388
Agreed

[2016-02-12 07:11] #4388 closed

[2016-02-12 07:15] xiang90 commented on #4491
This is also fixed by https://github.com/coreos/etcd/commit/a89ba1e583f2847e3c74e579fdfd4a3665b73441

[2016-02-12 07:15] #4491 closed

[2016-02-12 07:26] xiang90 commented on #4337
This is also fixed by https://github.com/coreos/etcd/commit/a89ba1e583f2847e3c74e579fdfd4a3665b73441.

[2016-02-12 07:26] #4337 closed

[2016-02-12 11:41] jeremyeder commented on #4435
Keep them separated, but do kernel bypass for loopback connections...this is called tcp_friends and we  failed, repeatedly, to get it upstream 4 years ago.  Solaris and Windows can do it.  @netoptimizer -- any thoughts from Spain?

[2016-02-12 14:32] timothysc commented on #4435
@jeremyeder It's still overhead + extra caching.  Making the client native makes little difference to the higher level code.  We've already smashed the executables into a monolith as is, so why not make the simple transition to not pretend, in the smashed deployment config.  It "should be" a single initialization config change.

As is today, it's like talking over cell phones even though your in t

[2016-02-12 15:20] jeremyeder commented on #4435
Ah if it's that simple then great.  tcp_friends was to accelerate apps that weren't so simply dealt with.

[2016-02-12 17:09] netoptimizer commented on #4435
We (unfortunately) don't have any plans for tcp_friends ... I'm fixing
other layers first. Maybe we can find someone else to work on it(?)
Den 12/02/2016 12.41 skrev "Jeremy Eder" <notifications@github.com>:

[2016-02-12 18:11] xiang90 commented on #4502
Another one

[code]

[2016-02-12 18:21] xiang90 commented on #4498
@heyitsanthony I do not feel this is a problem that we should solve. We do not ensure we do gracefully shutdown all the time (wait for all the routines it creates to shutdown before return from Stop). It is simly too much work and we do not control a lot of them.

In the test, we waits for sometime to ensure there is no more routines. https://github.com/coreos/etcd/blob/master/pkg/testutil/leak.go

[2016-02-12 18:24] heyitsanthony commented on #4498
Sure. No strong opinion on this one, just documenting it.

[2016-02-12 18:24] xiang90 commented on #4498
I am closing this for now. Will try to "fix" it if it happens a lot.

[2016-02-12 18:24] #4498 closed

[2016-02-12 19:22] xiang90 commented on #3485
@onlyjob Just fixed https://github.com/coreos/etcd/commit/9f5189cd001593cf304ce45ad319777b2fe884f8

[2016-02-12 19:22] #3485 closed

[2016-02-12 20:13] xiang90 opened #4509 "TestDoubleTLSClusterSizeOf3 fails"
[code]

[2016-02-12 21:29] onlyjob commented on #3485
Thank you!

[2016-02-12 21:37] gyuho opened #4511 "e2e test: could not start etcd process cluster"
[code]

https://semaphoreci.com/coreos/etcd/branches/pull-request-4507/builds/4

[2016-02-12 21:41] gyuho opened #4512 "etcd-agent: errors on renaming non-existent file"
[code]

[2016-02-12 21:56] heyitsanthony commented on #1666
#4495 can do this in v3.
* There's no longer a need to parse an error message; the earliest available revision is given as a `WatchResponse` in case the revision is too old. To get the earliest revision, Watch on rev=1, and check for a `CompactRevision` on the first message.
* The missed updates problem shouldn't be an issue now that there's better handling of revision history.

[2016-02-12 21:56] #1666 closed

[2016-02-13 00:21] xiang90 opened #4515 "limit the number of events that will be returned in a watch response"
https://github.com/coreos/etcd/blob/master/etcdserver/etcdserverpb/rpc.proto#L296

https://github.com/coreos/etcd/blob/master/storage/watcher.go#L61

etcd might send a bunch of events when there is a multiple ops txn happens or the watchers are slow and catching up to current revisions.

But we do not want etcd to send out a large message which might consume unlimited resources.

[2016-02-13 00:22] xiang90 commented on #4480
@gyuho Can you take a look at this one?

[2016-02-13 00:23] xiang90 commented on #4420
@heyitsanthony I will try to reproduce this one.

[2016-02-13 00:23] xiang90 commented on #4425
@heyitsanthony Can you take a look at this one?

[2016-02-13 00:26] xiang90 commented on #2854
We are probably not going to fix this for v2. This works well in v3.

[2016-02-13 00:26] #2854 closed

[2016-02-13 00:31] heyitsanthony commented on #4425
Will try to repro. I suspect this was fixed by e44e753e66e98f7ad4a624e9696aa85c2b9c005e

[2016-02-13 00:42] gyuho commented on #4480
@xiang90 Sure. Will take a look after tracking down functional-test stuff.

[2016-02-13 02:55] gyuho opened #4517 "functional-test: tester client error"
There was a bad connection in client side. This is not an etcd error. It might be worth having some retrial logic.

[code]

[2016-02-13 11:14] lechat opened #4519 "Compiling master on Raspberry-Pi: constant overflows int"
Hi,

Compiling 'master' on Raspberry PI 2 Model B:

[code]

This caused by commit 26c645f04. Perhaps some checks for `int` size need to be made before setting that constant.

[2016-02-13 15:23] xiang90 commented on #4519
@lechat https://github.com/coreos/etcd#32-bit-systems

etcd does not support 32bit machines well at this point.

[2016-02-13 15:23] #4519 closed

[2016-02-13 18:23] xiang90 commented on #4203
closed by https://github.com/coreos/etcd/pull/4049

[2016-02-13 18:23] #4203 closed

[2016-02-13 19:15] gyuho commented on #4512
![screenshot from 2016-02-13 11 14 51](https://cloud.githubusercontent.com/assets/6799218/13029491/0d31d7f6-d243-11e5-8057-cf0d77764e5a.png)

[2016-02-13 22:19] gyuho commented on #4477
@xiang90 Did more investigation as you suggested:

1. in the cluster **without failure** injection, I don't see any message `failed to read 27b7e0c85df3375f on stream Message (unexpected EOF)` (3 node cluster, only stressing processes)
2. in the cluster **WITH failure** injection, I confirmed that the `EOF` messages happened at the moment we injected failures or bad network connections. Here are e

[2016-02-13 22:24] #4512 closed

[2016-02-13 23:08] gyuho commented on #4517
![screenshot from 2016-02-13 15 08 30](https://cloud.githubusercontent.com/assets/6799218/13030554/b47cfcc8-d263-11e5-96d5-39c250760699.png)

[2016-02-13 23:26] #4425 closed

[2016-02-14 01:11] xiang90 commented on #4477
This contradicts with your previous assumption (https://github.com/coreos/etcd/issues/4477#issuecomment-183186385. item6) that even without our injected network failures there still are connection failures.

[2016-02-14 01:11] xiang90 commented on #4477
We probably need to investigate the failure in case3 more.

[2016-02-14 01:18] gyuho commented on #4477
Think I misread the old logs with timestamp. Will investigate more. Thanks!

[2016-02-14 01:59] gyuho commented on #4477
@xiang90 Sorry, I was wrong about https://github.com/coreos/etcd/issues/4477#issuecomment-182661244. I misread logs confused about UTC timezone.

As you pointed out, bad network connection should be something like `context deadline exceeded`. I looked at the logs again, for the timestamps that I claimed to have bad connection, and it turns out there *was* failure injection from the functional test

[2016-02-14 02:04] xiang90 commented on #4477
@gyuho

No problem. But probably we want to observe more failure cases to be certain on this.

Can you try to confirm this? And probably explain why the stresser returns early?

[2016-02-14 02:06] gyuho commented on #4477
Yeah I restarted the testing cluster this afternoon. Will have more data to support that during this holiday.

[2016-02-14 02:06] xiang90 commented on #4477
Awesome! Thanks!

[2016-02-14 02:23] xiang90 commented on #1749
@davidquarles @raoofm

We already started this work for v3. The index (revision in v3) would not be preserved. We only mirror the key-value space.

We also work on a snapshot tool that preserves the revisions when recovers from a backup.

Snapshot and mirror share the same logic though.

[2016-02-14 05:03] izouxv opened #4522 "Raftexample how can I notify leader election"
My raft leader need add or remo

[2016-02-14 05:05] xiang90 commented on #4522
@izouxv In the Ready.SoftState you can get the state change, like https://github.com/coreos/etcd/blob/master/etcdserver/raft.go#L143-L162.

You can add that into the example codebase if you want. Thanks!

[2016-02-14 05:05] #4522 closed

[2016-02-14 05:05] izouxv commented on #4522
My leader service need delete or add some data , so i need to know which raft node is leader

[2016-02-14 17:19] xiang90 commented on #4517
@gyuho Do we know why there is a deadline issue?

[2016-02-14 20:05] tzickel opened #4526 "Allow waiting for changes on multiple (non-)recursive keys"
I am porting a legacy system which used redis as it's key/value store, to etcd. Mainly I'm porting the stuff that redis was doing which etcd should be better suited (i.e. not as a cache or big data storage).

I am writing the code in pure python 2 which by default isn't I/O concurrent friendly (without using multi-threaded / gevent / asyncio / tornado third party modules) and thus have found it ha

[2016-02-14 20:43] gyuho commented on #4517
@xiang90 We request grpc client call with timeout. https://github.com/coreos/etcd/blob/master/tools/functional-tester/etcd-tester/cluster.go#L290. And when we look at the logs around the `context deadline exceeded`, other than `terminated` agent, I don't see any other error messages, so I think this is just client side network issue.

tester:

[code]

In agents (agent1 got killed):

![1](https://c

[2016-02-14 20:52] xiang90 commented on #4517
I do not believe there should be a network issue between a client and a server except when we injected the failures. Can you please check if the deadline issues are caused by the failure we injected? And can you also verify that the failure we injected caused the server to be unresponsive for longer than the client side timeout?

[2016-02-14 20:53] gyuho commented on #4517
Agree. I will investigate more. Thanks.

[2016-02-14 21:47] gyuho commented on #4517
@xiang90

This is the kind of logs when `restart` successfully went through in all agents with the port `:9027`.

![1](https://cloud.githubusercontent.com/assets/6799218/13036460/c86b47e4-d31c-11e5-8a17-e4a48da24366.png)

[code]

1. we kill one member `agent2` (failure injection)
2. then recover the member `agent2` that we killed
3. timeout when connecting to port `:9027` of `agent2`

But in agent

[2016-02-14 21:52] xiang90 commented on #4517
@gyuho I want to know exact why there is that deadline exceeded error. I understand it only happens for the client. However, can we find out what is the root cause of that error? I do not think extending the timeout without finding the root cause is a right thing to do.

[2016-02-14 21:54] gyuho commented on #4517
Got it. I will try to find that. Thanks.

[2016-02-14 21:55] xiang90 commented on #4517
To be more specific, you observed
[code]

We want to find out why there is this deadline exceeded error.

[2016-02-14 23:16] gyuho commented on #4517
So we got 3 cases with timeout error:

1. `2016/02/13 23:05:29 etcd-tester: [round#21 case#0] recovery error: rpc error: code = 4 desc = "context deadline exceeded"`
2. `2016/02/13 23:07:30 etcd-tester: [round#21 case#1] wait full health error: rpc error: code = 4 desc = "context deadline exceeded"`
3. `2016/02/14 18:34:44 etcd-tester: [round#772 case#4] recovery error: rpc error: code = 4 desc =

[2016-02-14 23:44] gyuho commented on #4517
@xiang90 Third case is interesting. Here's the
[etcd.txt](https://github.com/coreos/etcd/files/129980/etcd.txt)
 error:

[code]

[2016-02-15 00:03] gyuho opened #4527 "etcdserver: panic after raft applied incoming snapshot"
Mentioned at https://github.com/coreos/etcd/issues/4517.

tester:

[code]

agent2:

[code]

Full logs: https://storage.googleapis.com/failure-archive/agent2/2016-02-14T18%3A34%3A44Z/etcd.log

1. agent1 log: https://storage.googleapis.com/failure-archive/agent1/2016-02-14T18%3A34%3A44Z/etcd.log
2. agent3 log: https://storage.googleapis.com/failure-archive/agent3/2016-02-14T18%3A34%3A44Z/etcd.log

[2016-02-15 01:27] heyitsanthony commented on #4511
May have fixed this one in 1719bc0b0c984c89188837aedf1ec08f55983676. It appeared `child.Capture()` was racing to eat the ready string so Expect wasn't working as intended.

[2016-02-15 01:41] gyuho commented on #4511
@heyitsanthony I see. Ok let's close this for now. Thanks!

[2016-02-15 01:41] #4511 closed

[2016-02-15 03:57] gyuho opened #4530 "TestBackendClose fail with go1.4"
https://travis-ci.org/coreos/etcd/jobs/109268688#L304-L305

[code]

[2016-02-15 05:57] gyuho commented on #4517
@xiang90 I looked at all the errors since `02/13/2016 15:05:29 PST` when I restarted the testing cluster. There are total 66 errors:

1. 11 client errors as discussed in https://github.com/coreos/etcd/issues/4517.
2. 55 of `injection error: cluster too slow`. And if you take one of those errors, you can tell the stresser returned earlier than it should.

[code]

[code]

These errors are **before w

[2016-02-15 06:26] xiang90 commented on #4517
How do you tell the deadline exceeded is caused by bad network connection? Maybe it is because the etcd server was slow, which we should fix.

[2016-02-15 06:40] xiang90 commented on #4517
@gyuho The network error should happen really really rarely on GCE (probably below 0.01%). It should be much much infrequent than what we have observed, which is around 1% of all cases.

[2016-02-15 06:44] gyuho commented on #4517
@xiang90 That's a good point. Current tester code makes it harder to debug that part, since we don't log or differentiate two errors: one from cancel, the other from bad network. I think we should keep this issue open, but keep improving the tester code.

[2016-02-15 06:48] xiang90 commented on #4517
@gyuho We can tell from the errors. I think what you have missed a point that I mentioned above that the `deadline exceeded` error has a root cause. My personal guess is that the server side was experiencing some kind of bad situation and could not reply in time, which caused the client to timeout.

I do not think masking the error at the tester side is a right thing to do unless we are sure why w

[2016-02-15 07:34] gyuho commented on #4517
@xiang90 Thanks for clarification. Here are some etcd server side events that might have slowed down processing PUT requests:

[code]

I logged the time that the PUT request started, and you can see **requests triggered at the time of leader failure got `context deadline exceeded` errors`**. The failure injection kills the leader at `2016/02/15 07:15:31` and then cluster goes through the election,

[2016-02-15 10:41] peterbourgon opened #4531 "Using this Raft implementation in my project, not over HTTP"
Hey, I'd like to try and use this Raft impl in my project, something like contrib/raftexample. It seems the Transporter abstraction bakes in the assumption that [I'm going to be serving over HTTP](https://github.com/coreos/etcd/blob/fe5500228a2574f499390f54c84883cf0df82cdd/rafthttp/transport.go#L47-L52
), with [peers addressable as URLs](https://github.com/coreos/etcd/blob/fe5500228a2574f499390f54

[2016-02-15 14:30] mitake commented on #4475
@xiang90 I have a question about non quorum read in v2 protocol. Will it provided in v3?

It is important for auth, because the non quorum read allows stale read result but improve performance. It is hard to integrate such a functionality with auth. Because auth information should also be stored in the raft storage and checking the information in consistent manner will sacrifices the benefit of th

[2016-02-15 15:56] xiang90 commented on #4475
@mitake v3 enabled q-read by default. https://github.com/coreos/etcd/blob/master/etcdserver/etcdserverpb/rpc.proto#L121-L126

[2016-02-15 16:00] xiang90 commented on #4531
Here is also an in-mem implementation you might want to look at https://github.com/coreos/etcd/blob/master/raft/rafttest/network.go.

And Yes. You need to implement your own transport layer if you want to use UDP. It should not be hard. etcd/raft uses a message based communication model and handles message reordering.

[2016-02-15 19:19] peterbourgon commented on #4531
Thanks for the tip. I'll see what I can do.

[2016-02-15 19:19] #4531 closed

[2016-02-15 19:22] xiang90 commented on #4531
@peterbourgon Let us know if you have any further issues or anything we could help. Thanks!

[2016-02-15 22:43] Neverous commented on #3698
Hi I've got a question that probably goes along with this one.
Is it possible to use custom discovery service that requires client certificates ?
I can get past "certificate signed by unknown authority" by adding my CA to the system certs, but I can't find if it's possible to somehow provide client cert for discovery connection.

Thanks in advance.

[2016-02-15 23:54] mitake commented on #4475
@xiang90 I didn't notice the flag, thanks!

Because of the reason I described in the above, it is difficult for non quorum read to coexist with the auth mechanism. For simplicity, rejecting non quorum read when auth is enabled would be safer. Is it acceptable?

[2016-02-16 04:23] xiang90 commented on #4475
As we discussed:

1. admin should first blacklist all requests and then add role/perms to whitelist.
2. auth is not designed for frequent role/perm changes.

What you mentioned might make sense, but it is not what we want to ensure with from the very beginning.

If you have a specific use case that requires it, please share it with us. Then we can reconsider it.

[2016-02-16 04:42] mitake commented on #4475
Should these restriction of operation be introduced in v3, too? I thought

means the inconsistent state isn't allowed in v3. Am I misunderstanding?

[2016-02-16 04:58] heyitsanthony commented on #4475
@mitake to be clear, does this describe the auth problem?
1. A requests role change to deny B's access to "k"; quorum
2. A receives role change response; revision = n
3. B requests data for "k", non-quorum
4. B receives data for "k"; revision < n

[2016-02-16 05:02] mitake commented on #4475
@heyitsanthony yes. I'm thinking about the case you described.

[2016-02-16 05:18] heyitsanthony commented on #4475
@mitake OK, is there a threat that's handled with consistent auth? I don't think it fixes stale reads. For example, B can still set up a proxy that watches on "k" which would serve a stale "k" even after the access denial goes through.

[2016-02-16 05:39] mitake commented on #4475
@heyitsanthony of course proxies will introduce a chance of inconsistency. But I don't understand how proxy will interact with other features in v3 protocol (it will be redesigned for v3, right? https://github.com/coreos/etcd/issues/4318).

I was thinking that lease and watch provide consistent client side caching for improving read performance. Therefore I still don't understand the benefit of se

[2016-02-16 06:03] heyitsanthony commented on #4475
@mitake I was talking about a rogue proxy with B's credentials which ignores auth. My point is that any data available prior to the denial revision is already as good as leaked to the client; read consistency with auth can't take it back.

[2016-02-16 06:45] xiang90 commented on #4526
@tzickel The v2 API is kind of frozen. We are actively working on v3 and plan to release it soon (in a few months). In v3, we do support a single watcher to watch on multiple keys by using HTTP/2 stream support in gRPC.

[2016-02-16 06:54] mitake commented on #4475
@heyitsanthony OK, I understand your point, thanks for your explanation. It seems reasonable because newly created values (after enabling auth) cannot be read without auth. The commit message of auth enabling must be received by followers' state machine before arrival of the newly created values (I needed a time for understanding it, sorry!).

I have a next question (sorry for frequent questions):

[2016-02-16 17:34] gyuho commented on #4303
Kindly ping @tobilg. Did you get it to work? Is there anything else that we can help?

[2016-02-16 17:54] gyuho commented on #4477
@xiang90 Ran only `case #3` (kill leader and wait for 10,000 commits, this is not `case #4`)  for the holidays until we ran out of space. And we got *toal 82 `cluster too slow: only commit 0 requests in 30s` errors out of total 1333 rounds*. This happens when there's a leader failure, and then the cluster goes through leader election. Stress requests triggered at the same time as leader failure ti

[2016-02-16 18:02] xiang90 commented on #4477
My guess is that first there is a leader election happened, it took several seconds to be resolved. So no put requests could go through during that several seconds. Then the put requests timedouted since we set timeout on each request. Then the stresser exited.

Can you find a way to verify this is exact what happened?

Also it seems like as long as we increase the timeout to 2x election timeout,

[2016-02-16 18:07] gyuho commented on #4517
My investigation got messy. To summarize all, client error happens when:

1. `WaitHealth` is not aware of which node is terminated and waits on that node
 - we can apply retry logic
2. Port conflict: sometimes port is bind already in use when restarting
 - we can drop the port when we terminate the node

[2016-02-16 18:09] xiang90 commented on #4517
Let's fix this first.

[2016-02-16 18:09] gyuho commented on #4477
Exactly. And that's what I specifically tested over the weekend. I printed out the timestamp for each request's start time in order to see if it matches the timestamp of leader failure. Look at this log.

[code]

You can see at `07:16:47`, leader failed. And that is the time when this PUT request got triggered. I see this same pattern in all of the failures. Let me know if you need more data. Than

[2016-02-16 19:34] #1749 closed

[2016-02-16 19:47] gtank commented on #4034
I was thinking about a static/out-of-band CRL for emergency revocation. "Normal" policy for online revocation of all kinds is soft fail, which is dubiously useful (chronicled by various agl pieces, such as https://www.imperialviolet.org/2014/04/19/revchecking.html).

[2016-02-16 22:45] gyuho commented on #4527
@xiang90 There was other cases with the same panics. Here's another example with data-dir (timestamp is `2016-02-15T21:23:31Z`):

1. https://storage.googleapis.com/issue4527/agent1/etcd.log
2. https://storage.googleapis.com/issue4527/agent2/etcd.log
3. https://storage.googleapis.com/issue4527/agent3/etcd.log  **(this is the one that got panic)**

[2016-02-16 22:46] xiang90 commented on #4527
@gyuho Thanks!

[2016-02-16 22:51] gyuho commented on #4527
Related events (leader failure was happening):

[code]

[2016-02-16 23:08] xiang90 commented on #4527
@gyuho I am pretty sure boltdb is corrupted for some reason. I will open an issue in boltdb.

[2016-02-16 23:10] lmcdasm opened #4538 "ETCD2 doesnt restart automatically after reboot"
hello.
On the 9th attempt of getting a simple 3 node CoreOS cluster up and running on the system.  After figuring out that you really need to get the first node up and running with discovery before letting the others come online, after sorting out NTP issues and such. I had the system up to where etcd2 was running on all nodes and no errors.
Then I added the fleet service to my cloud-config (outpu

[2016-02-16 23:17] gyuho commented on #4527
Xiang filed an upstream issue here https://github.com/boltdb/bolt/issues/513.

[2016-02-17 00:01] #4480 closed

[2016-02-17 07:52] ivankennethwang opened #4543 "Is there a way to remove empty directories recursively?"
Is there a way to remove empty directories recursively?

[2016-02-17 10:26] zhangdaoling opened #4544 "I have a problem in client/client.go line346 when my code import net/context and etcd use godep net/context."
I have a problem in client/client.go line346 when my code import net/context and etcd use godep net/context.

I need "err == context.Canceled"  when my code cancel father ctx, but err.Error() = context.Canceled.Error() = "context canceled"

[line 346](https://github.com/coreos/etcd/blob/master/client/client.go#L344-L349) is "if err == context.Canceled || err == context.DeadlineExceeded {"
should i

[2016-02-17 13:02] gyuho commented on #4527
Got one more panic overnight:

tester log (**killing the leader agent2**):

[code]

agent2 log:

[code]

1. agent1 log: https://storage.googleapis.com/issue4527-20170217/agent1_2016-02-17T08%3A16%3A21Z/etcd.log
2. agent2 log: https://storage.googleapis.com/issue4527-20170217/agent2_2016-02-17T08%3A16%3A21Z/etcd.log
3. agent3 log: https://storage.googleapis.com/issue4527-20170217/agent3_2016-02-17T

[2016-02-17 13:06] gyuho commented on #4544
It's correct comparison in `client` package. When the error returns, you can compare the error string in your code, right?

[2016-02-17 13:09] gyuho commented on #4543
Please try `etcdctl rmdir` command (https://github.com/coreos/etcd/tree/master/etcdctl#deleting-a-key).

`rmdir` is `removes the key if it is an empty directory or a key-value pair`

[2016-02-17 14:36] ivankennethwang commented on #4543
i was thinking of something like lets say

[code]

where `<somecommand>` will delete both `/path/to` and `/path/ta` since these are empty dirs. I'm basically looking for a command to clean up empty folders.

[2016-02-17 15:11] gyuho commented on #4543
If you want to delete recursively you can do `etcdctl rm /path/to/dir --recursive`.
But if you want to delete only empty ones, you have to do manually.

[2016-02-17 15:54] tobilg commented on #4303
@gyuho I read through the issue you linked. As I showed in my configuration above, the https://github.com/coreos/etcd/issues/4308#issuecomment-179995493 stating that `--advertise client needs to be set to http://host_ip:4001` is already there (`192.168.200.168` *is* the `host_ip`)...

Also, I think my config is consistant with the [CoreOS docs](https://coreos.com/os/docs/latest/cloud-config.html#c

[2016-02-17 15:56] peterbourgon opened #4545 "Embedded etcd — not possible for my use case?"
This is a spiritual successor to #4531. Thanks to your tips, I'm able to connect a raft.Node to my net.PacketConn transport. Apparently, it needs a state machine which satisfies this interface:

[code]

My goal here is to provide the etcd API (v3) to my users, but in-process e.g. as a Go interface. (I am willing to do a gRPC connect to localhost, if necessary.) So, I expect etcdserver.Server to sa

[2016-02-17 15:57] #4303 closed

[2016-02-17 15:58] ivankennethwang commented on #4543
Then I have to do manually. I see, thanks!

[2016-02-17 15:58] #4543 closed

[2016-02-17 16:09] gyuho commented on #4543
No problem. Please ask us if you have any questions. Thanks.

[2016-02-17 16:10] gyuho commented on #4303
Great that you figured out. Please let us know if there's anything else that we can improve in etcd side (docs, error logs).

Thanks.

[2016-02-17 22:15] xiang90 commented on #4545
@peterbourgon I see a few separate things from this issue.

We plan to support this. But not high priority for now, check https://github.com/coreos/etcd/issues/4435.

The discovery mechanism should not even be part of etcd.Server. We will move it out soon.

We are not going to change these two for etcd server interface. This is what etcd designed for.

It definitely can. You should be able to reus

[2016-02-17 22:18] xiang90 commented on #4545
@peterbourgon BTW, can you share what is your use case in more detail?

[2016-02-17 22:26] #4482 closed

[2016-02-17 23:41] gyuho commented on #4477
From multiple failure cases, we confirmed that requests timed out from the leader failure:

[code]

Will redeploy the testing cluster with https://github.com/coreos/etcd/pull/4547

[2016-02-18 02:09] zhangdaoling commented on #4544
it will return ClusterError, ClusterError.Error() is ErrClusterUnavailable not context.Canceled

[2016-02-18 03:40] gyuho commented on #4477
Got one more:

[code]

but much less frequently. Will investigate more.

[2016-02-18 03:43] gyuho commented on #4517
[code]

One reason for this kind of client error is from depletion of unix file descriptors.
And there was nothing bad happening in etcd side. And 9028 port is only used by prometheus.
Increased the limit to 120000. Will reploy the testing cluster to see if this still happens.

[2016-02-18 03:45] xiang90 commented on #4517
@gyuho It is strange that etcd runs out of fd... Probably we should not simply increase fd limit. But we need to figure out why it runs out of fd at the first place.

[2016-02-18 03:48] gyuho commented on #4517
@xiang90 Agree. The log doesn't tell which one is using up all the ports. I will put the limit back to 1024 and try to find out the root cause.

[2016-02-18 03:58] gyuho opened #4551 "functional-tester: port bind already in use"
[code]

Even if we try to terminate the etcd node gracefully, the port `2380` was still bind. Not all the time, but we still need to make sure release all resources when we terminate nodes.

[2016-02-18 04:00] xiang90 commented on #4551
@gyuho I am not sure we can make sure. Probably we should just lsof to check.

[2016-02-18 04:03] gyuho commented on #4551
Ok, I will add some process scan when this happens in the testing cluster.

[2016-02-18 04:06] gyuho opened #4552 "save snapshot error: no such file or directory"
[code]

And similar thing happens with test logs. Might be something related to archive and rename function? Because sometimes, the failure archive does not have etcd.log files when it should have.

[2016-02-18 04:20] xiang90 commented on #4552
I will check this out. Seems like an etcd issue.

[2016-02-18 04:23] gyuho commented on #4552
Ok thanks. I will check the etcd-tester side to check if it does anything wrong.

[2016-02-18 04:42] mitake commented on #4475
@xiang90 @heyitsanthony I'm writing a design doc for the v3 auth and ACL here: https://docs.google.com/document/d/1Zs5lc4H8kHr4sgoniKlL6YRsLKFNy8m-1pyGhkCmmO4/edit?usp=sharing

I'm really glad if you can review and comment on it.

[2016-02-18 07:56] heyitsanthony commented on #4475
@mitake took a look, left some comments. Thanks for taking the time to write the doc.

[2016-02-18 08:06] tobilg commented on #4303
@gyuho Thanks again... I think it might be waothwhile to check if the CoreOS docs I linked in my last comment are valid with current versions of etcd.

I also wonder if there was a change in etcd, because I run my production cluster with the same settings like my test cluster (where I had these problems). The only difference is that the production runs on the latest stable version of CoreOS, and m

[2016-02-18 08:16] gyuho commented on #4303
Ok we will check. Thanks.

[2016-02-18 09:39] gyuho commented on #4552
Getting `os.Rename` error:

[code]

[2016-02-18 09:47] heyitsanthony commented on #4552
The log file has a full path so the code is trying to rename it into a directory that doesn't exist under `failure_archive/2016-02-18T08:40:50Z/`.

If you don't care about the directory structure, try:
agent.go:
[code]

[2016-02-18 09:52] gyuho commented on #4552
@heyitsanthony Right! Happened after I started passing full path flag. Will fix. Thanks!

[2016-02-18 10:47] peterbourgon commented on #4545
Thank you for that detailed reply. Happy to provide more detail.

I have this gossip library called [mesh](https://github.com/weaveworks/mesh), it has many nice features I won't get in to here and exposes a specific gossipy API.

On top of that I've built [meshconn](https://github.com/weaveworks/mesh/tree/master/examples/meshconn), which implements net.PacketConn (think of it as UDP) on top of mes

[2016-02-18 17:25] xiang90 opened #4559 "etcdctlv3: txn command enhancement"
Now txn command support a basic interactive mode.

There are a few TODOs:

1. improve the user experience in interactive mode. (use same commands in success and failure list as normal put,get,del for example)

2. define the non-interactive mode input/output format.

/cc @heyitsanthony can you take this one?

[2016-02-18 17:33] xiang90 commented on #4552
This is different one since it prints out from etcdserver not agent.

[2016-02-18 17:37] gyuho commented on #4552
@xiang90 Right. I am trying to reproduce this (because of the rename bug in agent code, I lost the log). Thanks.

[2016-02-18 18:21] xiang90 commented on #4552
This error is strange. It comes from https://github.com/coreos/etcd/blob/master/snap/snapshotter.go#L81.

I think the data-dir is removed while etcd is running, which is incorrect. Can you check if it is possible that we remove dir before fully stop etcd?

[2016-02-18 18:32] gyuho commented on #4552
@xiang90 Ok thanks for pointing that out. I will try to see that specific behavior in more detail.

[2016-02-18 23:14] #4502 closed

[2016-02-19 02:06] xiang90 opened #4567 "storage: sync watcher locking issue."
When syncing the slow watchers, storage holds two big locks currently.

https://github.com/coreos/pkg/blob/master/capnslog/init.go#L40-L49
https://github.com/coreos/etcd/blob/master/storage/watchable_store.go#L341-L343

This blocks the entire kv operations.

Based on my previous experiments, 10K slow watchers that behinds 10k events can block storage for 100s ms. With the max rev supports, this sh

[2016-02-19 02:08] xiang90 commented on #2656
We now can achieve 30K request per second. Not a huge issue any more.

[2016-02-19 02:08] #2656 closed

[2016-02-19 04:02] ericandrewlewis opened #4568 "Can't add new machine to cluster with discovery URL"
According to [the docs](https://coreos.com/os/docs/latest/cluster-discovery.html),

First, I create a cluster with 2 members bootstrapping via a discovery URL, and that boots up fine. If I try to add another member by deploying another instance with the same cloud-config as the other two, I get the following output:

[code]

[2016-02-19 04:03] xiang90 commented on #4568
I believe the doc you refer is out of date. Please check https://github.com/coreos/etcd/blob/master/Documentation/runtime-reconf-design.md#do-not-use-public-discovery-service-for-runtime-reconfiguration

/cc @joshix

[2016-02-19 04:06] xiang90 commented on #4568
close in favor of https://github.com/coreos/docs/issues/755

[2016-02-19 04:06] #4568 closed

[2016-02-19 04:07] ericandrewlewis commented on #4568
Thank you!

[2016-02-19 22:39] xiang90 commented on #4347
@imtheghoul

Please try to use the public discovery service to start with https://github.com/coreos/etcd/blob/master/Documentation/clustering.md#public-etcd-discovery-service.

If you want to use a private one, you have to setup your etcd cluster first.

[2016-02-19 22:39] #4347 closed

[2016-02-19 23:23] gyuho commented on #4477
Resolved via https://github.com/coreos/etcd/pull/4569. There was no issue in etcd itself. We were stopping the stressers too early:

and returning when it triggered at the same moment as leader failure. This saves those requests by continuing in the for loop.

[2016-02-19 23:23] #4477 closed

[2016-02-20 00:59] gyuho commented on #4517
@xiang90 We had one more client error as below:

[code]

This indicates that the tester machine that launches etcd clients ran out of file descriptors.
`ulimit -n` returns 1024 in that machine. And I was scanning tcp port usage periodically and found out
we were using more tcp connections than we should have.

[code]

Which tells we might be leaking client calls. Here's how we spawn stressers:

[c

[2016-02-20 05:18] gyuho commented on #4517
So it starts as normal, in round 2:

And it slows increases until it crashes. Around round 165, I got:

And immediately getting `http: Accept error: accept tcp [::]:9028: accept4: too many open files; retrying in 5ms`. The stresser count stays the same, 200, only tcp ports are being used up. Will look into more in grpc side.

[2016-02-20 06:07] xiang90 commented on #4515
fixed by https://github.com/coreos/etcd/pull/4556

[2016-02-20 06:07] #4515 closed

[2016-02-20 07:42] gyuho commented on #4517
@xiang90 I think https://github.com/coreos/etcd/pull/4572 fixed this issue. I redeployed with your patch and port usage stays stable now.

For round 1, we start with about 5 ~ 6 gRPC connections.

[code]

And after 90 rounds, the gRPC connection usage is same, which is expected behavior:

[code]

[2016-02-20 07:43] xiang90 commented on #4517
Thanks. Let's close this issue then.

[2016-02-20 07:47] gyuho commented on #4517
Thanks! I will leave the tests running for the weekend to see if it would get any panics.

[2016-02-20 09:30] sttts opened #4573 "etcdserver.NewMember does not take name into account"
The member ID is supposed to depend on the node name. But it doesn't. It only depends on the peer URLs on cluster join. Moreover, the timestamp is nil as well.

I imagine that this is on-purpose such that a new node joining (with pre-added peer URL entry) chooses the same cluster ID and therefore finds its member entry. The name is not stored for the pre-added member, i.e. the prepared member entr

[2016-02-20 15:06] xiang90 commented on #4573
It is supposed not. User can change name as they want when restart.

[2016-02-20 17:40] sttts commented on #4573
Make sense. Then only the comment is wrong.

[2016-02-21 04:56] xiang90 opened #4576 "v3api: delete should return number of key removed."
We should add a n filed in https://github.com/coreos/etcd/blob/master/etcdserver/etcdserverpb/rpc.proto#L154 to return the number of key removed. Right now, user has to do this in a txn that get the remove range first. But I feel this is a common use case/info. So we should just add this.

@gyuho  Do you want to take this one?

[2016-02-21 04:57] xiang90 opened #4577 "test: test with go 1.6 on travis"
Let's add go1.6.

/cc @gyuho

[2016-02-21 05:00] gyuho commented on #4577
Do we want to keep go1.4?

[2016-02-21 05:01] gyuho commented on #4576
Sure, I will take a look.

[2016-02-21 05:01] xiang90 commented on #4577
let's keep 1.4 for a while.

[2016-02-21 05:17] gyuho commented on #4577
via https://github.com/coreos/etcd/pull/4578.

[2016-02-21 05:17] #4577 closed

[2016-02-21 11:03] gyuho commented on #4517
@xiang90 This is just what I have observed in the failure we had today. We can talk more on Monday.

tester log:

[code]

So we started `Recover` `agent2` (past leader that we had killed for failure injection) at `06:40:11` and then trying to set health key, but this times out and returned error at `06:42:12`. Here are what happened between `06:40:11` and `06:42:12`:

[code]

So, as of `06:40:13.8

[2016-02-21 16:17] dgonyeo commented on #2385
Just chanced across this, but wouldn't the shell fill in the `*` before passing it into etcdctl?

[2016-02-22 04:58] gyuho opened #4584 "TestTriggerSnap fails"
https://travis-ci.org/coreos/etcd/jobs/110863654#L351-L352

[code]

[2016-02-22 04:59] gyuho commented on #4424
@xiang90 @heyitsanthony Think it happened again? Please take a look https://semaphoreci.com/coreos/etcd/branches/master/builds/506.

Thanks.

[2016-02-22 06:12] gyuho commented on #4576
Closing via https://github.com/coreos/etcd/pull/4583.

[2016-02-22 06:12] #4576 closed

[2016-02-22 06:19] #4584 closed

[2016-02-22 07:08] mitake commented on #4475
@xiang90 @heyitsanthony thanks for your comments on the doc.

It seems that the consensus on the design is almost achieved. I'd like to have a clear consensus on this point:

1. every request requires permission check
2. a leader node checks permission for linearizable read and write
3. both of leader and followers check permission for non linearizable read

Is this ok for you?

[2016-02-22 07:21] xiang90 commented on #4475
@mitake Authentication per connection. Re-Authentication when the password of a user is changed.

[2016-02-22 07:27] mitake commented on #4475
@xiang90 yes, I agree with your points. How do you think about the design of the permission check?

[2016-02-22 09:50] JaySWang opened #4587 "list and watch dir in a transaction"
Hi there,

I am wondering is there a way to put list and watch a dir in a transaction so that i would not miss any changes to its childnodes.

Just like watch a key with the modifiedIndex. But the modifiedIndex of the dir would not update when its children change.

As for X-Etcd-Index, any update to nodes under other dirs would also change this index.

Happy to hear any solution.

Thx~

[2016-02-22 10:32] jmcollin78 opened #4588 "etcdctl cannot add key with "in order" feature"
Hello,

The etcdctl always create key using -XPUT http verb. So it's not possible to use it with what is known as "in order" feature (cf. https://github.com/coreos/etcd/blob/master/Documentation/api.md#atomically-creating-in-order-keys)
It should be great if this feature will be available throught high level etcdctl and not only with curl.

JM.

[2016-02-22 18:30] xiang90 opened #4589 "etcdctlv3: end to end testing"
We, now, do not have any tests for etcdctl. This is terrible.

We need to do a few things before we release stable version of etcdctlv3

1. basic functionality testing
2. output compatibility testing

/cc @heyitsanthony

[2016-02-22 23:00] heyitsanthony commented on #4589
The main blocker on this is unifying the v2 and v3 etcdctl binaries since building the etcdctlv3 binary for e2e as an interim solution got shot down (cf. 4332).

[2016-02-22 23:03] gyuho commented on #4589
Yeah for testing purposes, we can build `etcdctlv3` and integrate later, since it might take awhile to integrate since the CLI interface is totally different.

[2016-02-23 00:03] heyitsanthony commented on #4589
According to #3922 (referencing #2892) etcdctlv2 can't be ported to use cobra because of some subtle flag breakage; it's unclear to me how we'd get one binary out of this without porting etcdctlv3 to use `codegangsta/cli`.

[2016-02-23 07:14] xiang90 commented on #4587
@JaySWang

Can you please provide an example of what you want to achieve. It is not quite clear to me what exactly you want to achieve.

Probably you can get the nodes under dir, then watch from the index returned by get operation.

[2016-02-23 08:16] JaySWang commented on #4587
@xiang90

I want to use etcd to be a service registry. Let's take XXX.DemoService for example. For consumers,they would watch for XXX.DemoService(a dir node).  For providers,they could add service info(URLs) under XXX.DemoService as child nodes.

After getting the URLs,consumers need to watch the dir again for update. In this case,they may miss some updates between get and watch.

Thx~

[2016-02-23 08:24] kayrus opened #4595 "docs: fix dashes in etcd parameters in the docs"
i.e. replace `-initial-cluster` with the `--initial-cluster`

I'm actually not quite sure whether it is correct.

/cc @joshix @xiang90

[2016-02-23 08:28] gyuho commented on #4517
Got one more...

[code]

[2016-02-23 16:05] xiang90 commented on #4552
Closing this one since it does not appear for a long time. And we think this is probably a operational fault.

[2016-02-23 16:05] #4552 closed

[2016-02-23 16:14] xiang90 commented on #4587
You should watch again from the modified index of the update you got.

[2016-02-23 16:14] #4587 closed

[2016-02-23 17:06] r0j4z0 opened #4596 "Problem with setdir"
Hi, i think this is related to https://github.com/coreos/etcd/issues/1519

Environment:
etcd version: v2.2.5
Configured 3 nodes cluster.
Running on docker 1.8.2

Im trying to use setdir to update a directory ttl without asking etcd if the directory already exists.

On the first run all goes fine:

[code]

But if i run it again to update the ttl when directory exists i get the following error:

[co

[2016-02-23 17:10] xiang90 commented on #4596
@r0j4z0 https://github.com/coreos/etcd/issues/1519#issuecomment-67053097

[2016-02-23 17:18] r0j4z0 commented on #4596
I can update the ttl of an existing folder with:

`curl -XPUT -d ttl=30 -d dir=true -d prevExist=true /lol`

i want to achieve the same with etcdctl.

I expect setdir use prevExist=true

[2016-02-23 17:21] xiang90 commented on #4596
@r0j4z0 Why not using updatedir?

[2016-02-23 17:25] r0j4z0 commented on #4596
@xiang90 Because i dont know if the directory exists or not. I want to avoid to ask to etcd for each folder i want to update the TTL.

[2016-02-23 17:27] xiang90 commented on #4596
This seems to be contradict with what you just said. etcd do not allow you blindly replace a dir, so what you want is not achievable. You have to check first.

[2016-02-23 17:27] #4596 closed

[2016-02-23 17:44] xiang90 commented on #4271
@zhouqianli Do you have any update on this one?

[2016-02-23 17:48] gyuho commented on #4552
Yeah seems resolved. Will revisit if it happens again.

[2016-02-23 19:44] joshix commented on #4595
Related https://github.com/coreos/docs/issues/650

The goal is to be [eventually] consistent across CoreOS projects with short option single hyphen: `-o`, long option double: `--option`

[2016-02-23 21:44] xiang90 opened #4598 "clientv3: use options for watch commnd"
we should combine watch and watchPrefix into watch with options as its argument, similar to what we have done for kv api.

/cc @heyitsanthony @gyuho

[2016-02-23 22:09] heyitsanthony opened #4599 "v3: watch over ranges"
Right now Watch only supports watching on single keys and prefixes. If Watch supports ranges, it could act like a long-lived GET. Likewise, it would improve the Watcher interface's compatibility with the clientv3 `With*` options.

[2016-02-23 22:16] xiang90 commented on #4599
Marked this as unplanned since this is not a blocker for v3 initial release. This is def a nice thing to have!

[2016-02-23 22:37] gyuho commented on #4598
How about `WithRev` as well?

[2016-02-23 22:39] xiang90 commented on #4598
yes.

[2016-02-24 02:41] JaySWang commented on #4587
@xiang90

But the modified index of the dir would not update when  adding child nodes to it.

[2016-02-24 02:45] xiang90 commented on #4587
@JaySWang

When you get the URL, you should know the latest modifiedIndex. Can you explain why does the modified index of the dir matters?

[2016-02-24 02:48] JaySWang opened #4603 "v3 curl API"
Could you provide v3  API( like lease) in curl style?
many thanks

[2016-02-24 02:50] xiang90 commented on #4603
What do you want to achieve? Can you explain your use case in more detail?

[2016-02-24 04:27] gyuho commented on #4598
Closing via https://github.com/coreos/etcd/pull/4602.

[2016-02-24 04:27] #4598 closed

[2016-02-24 05:14] JaySWang commented on #4603
Use etcd for service discovery.  The etcdclient（JAVA based） would encapsulate the curl APIs.

[2016-02-24 05:20] xiang90 commented on #4545
I still want to reply since I got some extra time tonight :) Hope it can offer you more information anyway.

EtcdServer struct is more like an engine right now. It acts as transporter, API layer, and a applier that pulls committed entries out of raft to execute them.

Most of the implementation is not on etcdserver. https://github.com/coreos/etcd/blob/master/etcdserver/v3demo_server.go#L248-L643.

[2016-02-24 05:22] xiang90 commented on #4603
@JaySWang If you want to implement an etcd client, we would suggest you to use https://github.com/grpc/grpc-java client.

[2016-02-24 05:51] JaySWang commented on #4603
@xiang90  Thx~   I will have a look at that. But,i currently use Dubbo as the RPC framework and got a light-weight etcdclient that encapsulates  Restful APIs.

I just want to know the Restful APIs for V3 at this stage.

Thx for your help.

[2016-02-24 05:53] xiang90 commented on #4603
@JaySWang We might suggest use grpc-gateway(https://github.com/gengo/grpc-gateway) to proxy restful to grpc. So you can have a "restful" API.

[2016-02-24 06:23] JaySWang commented on #4603
@xiang90   Great.   Do the new features like lease in V3 support JSON/HTTP request? or they just support  gRPC?

How can i  try the lease feature on command line using curl?

[2016-02-24 06:57] xiang90 commented on #4603
@JaySWang It does not support JSON natively. If you want to use command line tool, try etcdctlv3.

[2016-02-24 07:10] JaySWang commented on #4587
@xiang90    so when i watch for a dir with modifiedIndex(got from response)+1,the watcher will be notified when a new child node being added under the dir?     If so,the modifiedIndex means the latest modifiedIndex of that dir and its child nodes?

[2016-02-24 07:12] xiang90 commented on #4587
@JaySWang

Yes.

I do not totally understand what you asked. Probably it is not clear to you that etcd only has one global increasing index? Each operation will increase that index. It has nothing to do with dir or its node,

[2016-02-24 07:17] JaySWang commented on #4587
@xiang90  Yes,i am new to etcd,thx for your patience.

In this case,the watcher for a dir with the modifiedIndex will also be notified when other dir changed?

[2016-02-24 07:18] xiang90 commented on #4587
I would suggest you read https://github.com/coreos/etcd/blob/master/Documentation/api.md#waiting-for-a-change first and try it out.

[2016-02-24 07:29] JaySWang commented on #4587
@xiang90   thx!   i  misunderstood the watch mechanism.  It is clear now.

[2016-02-24 08:14] JaySWang commented on #4603
I see. Thx~

[2016-02-24 08:14] #4603 closed

[2016-02-24 09:00] r0j4z0 commented on #4596
My usecase is:

I have a function that receives an etcd key and value

for the key i will set the ttl to 15 seconds, for the "path" i want to set the ttl to 30 seconds, this function is called every 5 seconds so it will update the ttl's or leave it expires if no key/value was received.

As i understand, the documentation says setdir parameter can be used to create or update a directory, thats is w

[2016-02-24 14:57] mwitkow opened #4606 "Network glitch causes Proxies to fail connectity and Fleet rescheduling"
Running `CoreOS beta (899.5.0)` `etcdctl version 2.2.3` with 5 machine member cluster and hundreds of etcd in Proxy mode. For the sake of clarity, here is the etcd member list + hostnames (used in logs)

[code]

We've seen 2 temporary networking glitches (for the sake of this post `0:17` and `0:22`), which we're quite sure were caused by our Cloud provider's networking issues (GCE in `europe-west1

[2016-02-24 15:21] xiang90 commented on #4606
@mwitkow Thanks for reporting. Can you provide more logs? I want to know when the error starts and when it ends for etcd-side.

It is not configurable right now. We do have plan. But we also want to learn about why do you want to set it shorter. Why do you think this is related to the issue you reported?

This is a requests from multiple users. We will probably add. But why do you think this is re

[2016-02-24 15:32] mwitkow commented on #4606
@xiang90 thanks for the quick reply!

The `combined.txt` (attached above) contains all `etcd2.service` journalctl logs for the period of the outage for all of etcd members. We checked `dmesg` as well and so nothing unusual. What other logs would you be interested in? :)

There's a lot of `(Get http://10.150.0.2:2380/version: read tcp 10.150.0.2:2380: i/o timeout)`, and the network issue lasted onl

[2016-02-24 16:09] kayrus commented on #4595
Have to fix dashes [here](https://github.com/endocode/etcd/blob/kayrus/relink/Documentation/configuration.md)

[2016-02-24 16:29] kayrus commented on #4595
@joshix https://github.com/coreos/etcd/pull/4607

[2016-02-24 16:56] abaumhauer opened #4608 "integer overflow on ARM 32bit (Raspberry Pi)"
# github.com/coreos/etcd/storage/backend
gopath/src/github.com/coreos/etcd/storage/backend/backend.go:38: constant 10737418240 overflows int

Fails to compile on 32 bit ARM processor due to a large constant.

// InitialMmapSize is the initial size of the mmapped region. Setting this larger than
        // the potential max db size can prevent writer from blocking reader.
        // This only works

[2016-02-24 17:14] xiang90 commented on #4608
32bit is broken. And this is a known issue. We have no plan to support it right now. See https://github.com/coreos/etcd#32-bit-systems

[2016-02-24 18:00] xiang90 commented on #4606
@mwitkow

After examining the log, the ~20second clock diff is a real thing among your machines.

All other 4 peers elected around fc4c2f3a06359c3c as leader 00:23:34

[code]

But it self reported at 00:23:11.

[code]

This is impossible to happen unless the clock is wrong.

eu1-prod-core-1's was also experiencing network issues. But it recovered pretty fast. Each time it takes a few seconds to re

[2016-02-24 18:53] gyuho opened #4610 "Watch API should check start revision"
Discussed in https://github.com/coreos/etcd/pull/4593.

passes a bad revision (like 5 when the current revision is 1), it will
panic the whole node. We should print out warning message instead.

Better way is to prevent this in the first place in `clientv3` or `etcdctlv3`.
Or change `Watch` API to return error for wrong start revision.

[2016-02-24 19:12] heyitsanthony commented on #4610
I'm not sure if an explicit error is necessary. The failure state can be inferred from the header revision in the watch response; the API will return a watch channel, send a message with an empty event list, then close the channel. The client can interpret the empty event list as an error condition then work out what went wrong from the watch response.

Future revisions definitely shouldn't panic

[2016-02-24 19:15] xiang90 commented on #4610
@heyitsanthony Probably we can set created and cancelled both to true in this case :https://github.com/coreos/etcd/blob/master/etcdserver/etcdserverpb/rpc.proto#L280-L287

[2016-02-24 19:17] xiang90 commented on #4588
etcdctl does not provide all features in the client or matches all API items provided by etcd. If you are interested in this feature and you have time, then send a pull request. Thanks!

[2016-02-24 19:19] xiang90 commented on #4385
@krousey Any further comments on this one?

[2016-02-24 19:21] gyuho commented on #4610
@heyitsanthony Agree. I will see if we can indicate such case in the `WatchResponse` as @xiang90 suggested.

Thanks.

[2016-02-24 19:27] heyitsanthony commented on #4610
@xiang90 the client knows the initial request revision, if it sees the watcher request failed then it can soundly infer it was because of a future revision based on the header response. Setting the cancelled flag on the server side if there isn't a cancel request seems broken to me (maybe the client could set it if it's really needed).

[2016-02-24 20:05] jmcollin78 commented on #4588
Sorry but I don't know programing in Go and I have no time for learning
this language.
Thank's for your answer anyway.

2016-02-24 20:18 GMT+01:00 Xiang Li <notifications@github.com>:

[2016-02-24 23:50] krousey commented on #4385
My only comment would be that leaving it up the client to generate the next key leaves room for them to make the same error I did in describing this bug. I.e incrementing the last byte instead of appending a null byte like @smarterclayton did. Yes, you could provide helper libraries, but do you want to write one for every possible language? Or let the proto compiler generate all the code the clien

[2016-02-25 04:26] xiang90 commented on #2855
Now we got a lock cmd in etcdctl here https://github.com/coreos/etcd/tree/master/etcdctlv3#lock-lockname.

We can close this issue. Right now, this is a client side implementation. We probably will move the impl to server side as a proxy when we feel the impl is stable enough.

[2016-02-25 04:26] #2855 closed

[2016-02-25 05:07] #4610 closed

[2016-02-25 09:10] mwitkow commented on #4606
@xiang90 thanks for taking a look :) I agree, these don't look like state

I double checked our `systemd-timesyncd.service configuration` and on all machines:
 * it has been running happily for a long time on
 * is configured correctly to go against `169.254.169.254:123`, the GCE's VM-attached [Metadata Service](https://cloud.google.com/compute/docs/tutorials/building-images#osrecommended)
 * ther

[2016-02-25 11:47] kayrus commented on #4595
@xiang90 please reopen, we have to fix it also here and probably in other places https://github.com/endocode/etcd/blob/kayrus/relink/Documentation/security.md

[2016-02-25 13:19] AdoHe opened #4615 "etcd use self-signed certificates problem."
@xiang90 I am setting up a secured etcd cluster(actually just one node) with self-signed certificates:
[code]
The `etcdcert.pem` and `etcdkey.pem` are generated with below code:
[code]
Then I write code to access etcd:
[code]
When I run this code I just got this error:
[code]
Then I regenerate the certificates as you describe [here](https://github.com/coreos/etcd/tree/master/hack/tls-setup), this

[2016-02-25 16:03] xiang90 commented on #4606
The proxy is supposed to retry other peers. Do you have log/fact to back up this assumption?

[2016-02-25 16:05] xiang90 commented on #4595
@kayrus Yea. Do not use Fix #XXX next time in a pull request. This is closed due to https://github.com/coreos/etcd/pull/4607. Github auto close any issue marked with Fix once the pull request is closed.

[2016-02-25 17:42] xiang90 opened #4616 "storage: shrink db size"
Now we are using boltdb and it never shrinks its size (last item at https://github.com/boltdb/bolt#caveats--limitations).

This usually is not a problem for etcd too since the same argument boltdb states. However, we should not force users to keep large db either if they accidentally put a large amount of data into etcd and remove them to re-acclaim disk/memory resources.

We should add a shrink m

[2016-02-25 18:01] gyuho commented on #4615
@AdoHe You need `trusted-ca-file` for client TLS connection. https://github.com/coreos/etcd/blob/master/etcdmain/config.go#L207

[2016-02-25 18:59] #3599 closed

[2016-02-25 19:45] xiang90 commented on #4608
We will revisit this if there is a growing needs for 32bit.

[2016-02-25 19:45] #4608 closed

[2016-02-25 23:09] hongchaodeng opened #4620 "[Feature] delete event should optionally provide previous value"
Currently in v3 watch workflow, delete event doesn't contain the previous value of deleted key.

If you want to know the previous value, you have to do another `Get(key, rev-1)` call. This is really bad because it's not simple at all.

There are some scenarios I can think of that wants to make use of previous value. For example, the value might contain indexes different than the key, and it needs

[2016-02-25 23:22] mitake commented on #4475
@xiang90 @heyitsanthony updated the doc for a plan of implementation. Could you take a look?

[2016-02-25 23:35] hongchaodeng commented on #4620
Once we have done client caching, this can be done completely on client side.

[2016-02-26 00:09] gyuho commented on #3848
@xiang90 This feels out of date. Should we close this?

[2016-02-26 00:10] xiang90 commented on #3848
@gyuho Actually we have not finished the last two.

[2016-02-26 00:10] gyuho commented on #3848
Ok got it. thanks.

[2016-02-26 00:19] #3906 closed

[2016-02-26 00:50] hongchaodeng opened #4622 "lease client panic"
I just have a panic "nil address" on lease client.
Here's the scenario

- I got client from cluster.RandClient() and created a lease client. But I didn't used the lease client at all.
- When the cluster is shutting down, the lease client panic [here](https://github.com/coreos/etcd/blob/afa0368dcca68df711691bcba2384517115129a2/clientv3/lease.go#L262)

Note that this happened on on [this test](https

[2016-02-26 00:57] heyitsanthony commented on #4622
I have the fix for this as part of a larger patch set. I'll split it out to another PR since it can stand alone.

[2016-02-26 01:05] hongchaodeng commented on #4622
@heyitsanthony

Looks like you know the reason. Can you clarify why it panic? Client couldn't connect?

[2016-02-26 01:05] xiang90 commented on #4622
@hongchaodeng The client failed to connection and the retry also failed.

[2016-02-26 01:27] #4622 closed

[2016-02-26 02:17] AdoHe commented on #4615
@gyuho you mean that I need to set `trusted-ca-file` flag when I setup the cluster?

[2016-02-26 02:57] AdoHe commented on #4615
@gyuho I want to know is there any way I can skip this `CAFile` setting when I construct `transport.TLSInfo` in the client side?

[2016-02-26 03:12] JaySWang commented on #4603
@xiang90   Hi,  the etcdctl in v2.3.0-alpha.1 for windows seems does not support the new APIs?

[2016-02-26 03:56] heyitsanthony commented on #4603
You'll need to use etcdctlv3. You can build it by running `go build` in the `etcdctlv3/` directory.

[2016-02-26 04:47] JaySWang commented on #4603
@heyitsanthony Thx~

[2016-02-26 06:15] hongchaodeng opened #4624 "Watch channel return immediately if revision is very large"
I had encountered an unexpected scenario:

- watch from, say rev:100, where the rev of etcd is < 10.
- the watch response channel return immediately with empty response

Is it unexpected? I figure that it should wait until some change with later rev happens.

[2016-02-26 06:16] xiang90 commented on #4624
@hongchaodeng etcd does not accept future revision. What is the use case for waiting for a future revision? I know etcd2 support that, but I really cannot think of a valid use case.

[2016-02-26 06:16] xiang90 commented on #4624
/cc @heyitsanthony

[2016-02-26 06:18] xiang90 commented on #4624
Also, you should always do resp,ok:= <-ch. When there is an error, client will close the chan.

[2016-02-26 06:18] hongchaodeng commented on #4624
See this:
https://github.com/kubernetes/kubernetes/blob/c5260c8c7133d84f903d41a32ef6562c6c69e762/pkg/storage/etcd/etcd_watcher.go#L186

I want to get changes after specific rev:
[code]

[2016-02-26 06:23] heyitsanthony commented on #4624
@hongchaodeng the way I've been doing it is open a watcher `wch` on `resourceVersion`, drop the first event, then the rest of the stream is greater than `resourceVersion`

[2016-02-26 16:42] smarterclayton opened #4625 "Client responses (and client error) do not contain a string that the server is stopping"
When the server is shutting down (the run() loop exits) for a period of time afterwards the server returns 500 due to `ErrStopped`, but that info is not passed back to the client, which means the error message the client prints is `has no leader`, which is technically correct, but makes it very hard to debug clean shutdown from a network failure or other etcd server shutdown.  We rely on etcd exte

[2016-02-26 19:26] hongchaodeng opened #4626 "Watch won't close channel if cancel before"
The scenario goes as:

- I had `ctx, cancel =context.WithCancel(...)`
- cancel() was called
- Then the `wch = Watch(ctx, key)`
- `resp, ok = <-wch` is blocked. I'm expecting that it should close and returns !ok.

[2016-02-26 19:29] heyitsanthony commented on #4626
@hongchaodeng It's returning a nll channel because of the canceled context. I can change it so it returns a closed channel instead if you'd like.

[2016-02-26 19:36] gyuho commented on #4485
Closing this, since it's covered by integration test already.

[2016-02-26 19:36] #4485 closed

[2016-02-26 19:38] gyuho commented on #4381
Done. http://play.etcd.io/ is live.

[2016-02-26 19:38] #4381 closed

[2016-02-26 19:40] hongchaodeng commented on #4626
Returning a closed channel would make user logic look like:
[code]

Otherwise, user have to check context himself:
[code]

It makes more sense to have context cancelling logic and other stopping logic in one place.
I would vote for returning a closed channel.
Thanks!

[2016-02-26 19:40] gyuho opened #4627 "Watch: inefficient event distribution"
Separated from https://github.com/coreos/etcd/issues/3848.

[2016-02-26 19:41] xiang90 commented on #4626
Or you can check if ch == nil {return error}

[2016-02-26 19:41] gyuho opened #4628 "Watch: progress report"
Separated from https://github.com/coreos/etcd/issues/3848.

[2016-02-26 19:41] #3848 closed

[2016-02-26 19:41] heyitsanthony commented on #4626
I found the nil checking to be cumbersome too. I'm fine with just returning a closed channel. Will post a PR to return closed channels.

[2016-02-26 21:39] #4626 closed

[2016-02-26 22:16] gyuho opened #4633 "Performance: check if compaction affects PUTs requests"
Since we start introducing auto-compaction (time-based), it's possible to have performance impact on client requests (e.g. PUT requests while compaction is happening). We are already doing this in functional-test https://github.com/coreos/etcd/blob/master/tools/functional-tester/etcd-tester/tester.go#L132-L150, but we need to check if PUT requests slow down.

[2016-02-26 23:49] gyuho opened #4634 "functional-tester: tester compares hash while compaction is ongoing"
Only agent2 different:

[code]

1. agent1: https://storage.googleapis.com/etcd-issue-4634-01/agent1/2016-02-27T22%3A34%3A53Z/etcd.log
2. agent2: https://storage.googleapis.com/etcd-issue-4634-01/agent2/2016-02-27T22%3A34%3A53Z/etcd.log
3. agent3: https://storage.googleapis.com/etcd-issue-4634-01/agent3/2016-02-27T22%3A34%3A53Z/etcd.log
4. tester: https://storage.googleapis.com/etcd-issue-4634-01/t

[2016-02-26 23:57] gyuho commented on #4634
1. agent1: https://storage.googleapis.com/failure-archive-4634/agent1/2016-02-26T23%3A43%3A08Z/etcd.log
2. agent2: https://storage.googleapis.com/failure-archive-4634/agent2/2016-02-26T23%3A43%3A08Z/etcd.log
3. agent3: https://storage.googleapis.com/failure-archive-4634/agent3/2016-02-26T23%3A43%3A08Z/etcd.log
4. tester log: https://storage.googleapis.com/failure-archive-4634/tester_logs/tester.lo

[2016-02-27 04:17] gyuho commented on #4615
@AdoHe Not sure why. I am interested in this as well. I will play with your code.
In the meantime, could you try `ExtKeyUsage:           []x509.ExtKeyUsage{x509.ExtKeyUsageServerAuth},` in your `x509.Certificate`?

[2016-02-27 04:25] heyitsanthony commented on #4615
@adhoe if you want self-signing certs, the code has to disable certificate verification
See #4484 (namely, https://github.com/coreos/etcd/pull/4484/files#diff-49da67db64ea3c7dc7da8e0d779b54fb)

[2016-02-27 04:43] AdoHe commented on #4615
@gyuho thanks and I will try that

[2016-02-27 04:45] gyuho commented on #4615
yeah I was going to mention @heyitsanthony's code. Please try his code. Thanks!

[2016-02-27 16:05] arteal opened #4636 "etcdctl : wrong exit codes"
Hello, i have problem, that etcdctl returns different exit codes that I assume it will from documentation :
[code]
When i query working etcd cluster and non-existing key i get exit code 4, which is okay :
[code]
But when I configure ETCDCTL_ENDPOINT to localhost, where not ETCD is running :
` root@redis:/# export ETCDCTL_ENDPOINT=http://127.0.0.1:2379`
... and therefore query this key with wrongly

[2016-02-27 19:53] robszumski opened #4637 "Log if permissions on data dir aren't correct/readable"
From StackOverflow: https://serverfault.com/questions/759953/etcd2-will-not-start-via-systemctl-on-coreos

Solved his own problem, but we could make it easier:

[2016-02-27 20:51] gyuho commented on #4636
Error code 2 means bad connection. Error code 4 means server error.
So error 4 is expected because it's error from misconfigured cluster.

[2016-02-27 20:52] gyuho commented on #4636
If you want to look at the code, https://github.com/coreos/etcd/blob/master/etcdctl/command/error.go.

Please let me know if you have any other question.

Thanks!

[2016-02-27 20:58] heyitsanthony commented on #4636
@arteal it's a bad connection because etcdctl can't establish a connection to etcd because it's being passed an address that doesn't point to an etcd server instance. The client is misconfigured (hence, bad connection), not the sever.

[2016-02-27 21:52] arteal commented on #4636
Ok, then text is a bit misleading, at least for me, because I have i see "etcd" as etcd server/cluster and "400 error" as return code, so I will just think that I will never get return code from server that I can not reach, but that kinda my "personal problem" and big thanks for your clarifiation.
Still I want to ask you if, you guys, can help to solve my original problem, i need something like th

[2016-02-27 22:17] heyitsanthony commented on #4636
@arteal Yes, use `elif [ $? -eq 2 ];` instead.

[2016-02-27 23:15] gyuho commented on #4517
I restarted testing cluster and observed the same error.
Logs does not indicate any etcd errors. Only etcd server to client connection timeout.
I added lines for more verbose logs, and if it reproduces that error, I will reopen that issue
because it's different than the problem we had in this issue.

[2016-02-27 23:15] #4517 closed

[2016-02-27 23:17] gyuho commented on #4551
Haven't seen this from the last 10,000 rounds. Will reopen if we see this again.

[2016-02-27 23:17] #4551 closed

[2016-02-27 23:22] gyuho commented on #4634
Got one more. This time, only agent2 has different hash.

[code]

1. agent1: https://storage.googleapis.com/etcd-issue-4634-01/agent1/2016-02-27T22%3A34%3A53Z/etcd.log
2. agent2: https://storage.googleapis.com/etcd-issue-4634-01/agent2/2016-02-27T22%3A34%3A53Z/etcd.log
3. agent3: https://storage.googleapis.com/etcd-issue-4634-01/agent3/2016-02-27T22%3A34%3A53Z/etcd.log
4. tester: https://storage.g

[2016-02-28 04:45] gyuho commented on #4634
One more:

[code]

1. agent1: https://storage.googleapis.com/etcd-issue-4634-02/agent1/etcd.log
2. agent2: https://storage.googleapis.com/etcd-issue-4634-02/agent2/etcd.log
3. agent3: https://storage.googleapis.com/etcd-issue-4634-02/agent3/etcd.log
4. tester: https://storage.googleapis.com/etcd-issue-4634-02/tester_logs/tester.log

[2016-02-28 04:46] gyuho commented on #4634
One more (all different hash):

[code]

1. agent1: https://storage.googleapis.com/etcd-issue-4634-03/agent1/etcd.log
2. agent2: https://storage.googleapis.com/etcd-issue-4634-03/agent2/etcd.log
3. agent3: https://storage.googleapis.com/etcd-issue-4634-03/agent3/etcd.log
4. tester: https://storage.googleapis.com/etcd-issue-4634-03/tester_logs/tester.log

[2016-02-28 04:47] xiang90 commented on #4634
They all come from case 0. I guess they all caused by on-going compaction, since we start compacting at the end of each round.

[2016-02-28 04:49] gyuho commented on #4634
Yeah that sounds right. Should we wait more? But this doesn't happen this often when we were running `case #4` only (kill leader wait for long time).

[2016-02-28 04:50] xiang90 commented on #4634
@gyuho We probably put more keys into it per round. So it takes more time to compact.

[2016-02-28 04:53] xiang90 commented on #4634
I need to investigate more in next week.

[2016-02-28 04:55] gyuho commented on #4634
@xiang90 Right. We just assume 30-second is enough for compaction. I will investigate more too. Thanks!

[2016-02-28 04:57] gyuho commented on #4634
I will redeploy testing cluster with some timing statements to measure compaction time.

[2016-02-28 05:01] xiang90 commented on #4634
@gyuho Well. You can calculate with all the data we have now. Check the revisions and round. Then we can know how many data we put each round.

In a case, I found we now put 100M revisions in 280 round. So each round we put 400K revisions.

To clean up 10000 revision, it will use about 100ms (we sleep to not use all resource for compaction). So we need 40s to compact for each round.

So 30 second

[2016-02-28 05:44] xiang90 commented on #4637
@robszumski etcd does log it. However, due to the journald issue, it does not show.

etcd 2.2.4 should solve this issue by updating the log pkg we are using (coreos.com/pkg/capnlog). At etcd side, we cannot really do anything to help besides doing this (https://github.com/coreos/etcd/blob/master/Documentation/reporting_bugs.md#how-to-get-etcd-configuration-and-log-when-it-runs-as-systemd-service-e

[2016-02-28 09:44] AdoHe commented on #4588
This should be easy to do, `etcd.KeysAPI` has `CreateInOrder` method, the only thing left is to add a new command implementation.

[2016-02-28 09:50] AdoHe opened #4640 "etcdctl: confused etcdctl help message"
I am using etcdctl, but when I scan commands usage, I just found this:
[code]
I really want to what does `create a new or existing directory` really mean, besides from the `setdir` implementation, it seems this command want to update the directory TTL.

[2016-02-28 12:11] arteal commented on #4636
@heyitsanthony : yeah, this is typo and there should have been `elif [ $? -eq 2 ];`, but still, there is problem why i created this issue : when connection to ETCD fail, etcdctl get return exit code 4, so my code is not working, because first if will be true if key is not found and also if connection fails and I need to make difference between these situations.

[2016-02-28 19:36] heyitsanthony commented on #4636
@arteal Right, I fixed that bug two months ago. I see the fix is in 2.3.0.alpha-1 but not 2.2.5.

@gyuho should 4477ef636e43fa6c8f9e45523a11377764c873df be backported?

[2016-02-28 19:59] gyuho commented on #4636
Oh we might have forgot to include that patch. We can backport in the next release. Thanks!

[2016-02-28 20:43] gyuho commented on #4634
@xiang90 Thanks. And I just confirmed that it failed when it took 30+ seconds.

[code]

1. agent1: https://storage.googleapis.com/etcd-issue-4634-04/agent1/etcd.log
2. agent2: https://storage.googleapis.com/etcd-issue-4634-04/agent2/etcd.log
3. agent3: https://storage.googleapis.com/etcd-issue-4634-04/agent3/etcd.log
4. tester: https://storage.googleapis.com/etcd-issue-4634-04/tester_logs/tester.l

[2016-02-28 20:46] xiang90 commented on #4634
No. I am not sure why. Can you look into that?

[2016-02-28 20:47] gyuho commented on #4634
@xiang90 Ok I will take a look.

[2016-02-28 20:54] gyuho opened #4641 "functional-tester: runtime: out of memory"
[code]

`agent3` was down from memory issue.

[2016-02-28 21:11] gyuho commented on #4641
1. agent1: https://storage.googleapis.com/etcd-issue-4641-00/agent1/etcd.log
2. agent2: https://storage.googleapis.com/etcd-issue-4641-00/agent2/etcd.log
3. agent3: https://storage.googleapis.com/etcd-issue-4641-00/agent3/etcd.log
4. tester: https://storage.googleapis.com/etcd-issue-4641-00/tester_logs/tester.log

[2016-02-28 22:46] xiang90 commented on #4641
@gyuho Can you check the log to see what happened?

[2016-02-28 22:51] gyuho commented on #4641
Yeah checking. All etcd servers were recovered as it requested but just the gRPC connection from agent3 to tester kept being closed. Not sure if it's gRPC issue or bad network.

I just redeployed testing cluster that pings additional v2 endpoint if there's any network issue.
And will try different timeouts as well.

[2016-02-28 22:53] xiang90 commented on #4641
@gyuho I think one of the etcd member actually panics. And there are a few strange stuff in the log.

[2016-02-28 22:55] gyuho commented on #4641
@xiang90 Oh I missed that panic part. Will take a look. Thanks!

[2016-02-28 23:05] gyuho commented on #4641
In addition, agent3 panics at `2016/02/28 14:49:02`, while it is recovered at `2016-02-28 14:35:33` and since then having problem connecting to tester-client:

[code]

`github.com/coreos/etcd/raft/storage.go:246` is:

[code]

[2016-02-28 23:08] xiang90 commented on #4641
I do not think this is correct. The test sent a lot of requests to it and it did receive them. There is no issues with the connection between agent3 and the tester. The requests timed out only because some issues at server side. Please check the log to verify this. Thanks!

[2016-02-28 23:12] gyuho commented on #4641
@xiang90  Right. I will look at server logs more closely. Thanks!

[2016-02-29 00:12] gyuho commented on #4641
Got one more panic (agent1 panic from `out of memory`):

1. agent1: https://storage.googleapis.com/etcd-issue-4641-01/agent1/etcd.log
2. agent2: https://storage.googleapis.com/etcd-issue-4641-01/agent2/etcd.log
3. agent3: https://storage.googleapis.com/etcd-issue-4641-01/agent3/etcd.log
4. tester: https://storage.googleapis.com/etcd-issue-4641-01/tester.log

[2016-02-29 01:24] gyuho commented on #4634
1. agent1: https://storage.googleapis.com/etcd-issue-4634-05/agent1/etcd.log
2. agent2: https://storage.googleapis.com/etcd-issue-4634-05/agent2/etcd.log
3. agent3: https://storage.googleapis.com/etcd-issue-4634-05/agent3/etcd.log
4. tester: https://storage.googleapis.com/etcd-issue-4634-05/tester.log

---

1. agent1: https://storage.googleapis.com/etcd-issue-4634-06/agent1/etcd.log
2. agent2: htt

[2016-02-29 01:49] xiang90 commented on #4634
@gyuho Not necessarily. They are the same lock: https://github.com/coreos/etcd/blob/master/pkg/schedule/schedule.go#L69

[2016-02-29 01:51] gyuho commented on #4634
Right. I will investigate more. Thanks.

[2016-02-29 04:42] xiang90 commented on #4641
dropping the bug label. do not feel this is a "bug".

[2016-02-29 09:43] kayrus commented on #4595
Here too: https://github.com/coreos/etcd/blob/master/Documentation/proxy.md

[2016-02-29 14:55] gyuho commented on #4641
Yeah, making stresser less intensive, there's no more panic. Current number of concurrent stresser goroutine is 200. When I set it up to 500, it ran out of memory very easily, like once every 10 round. When I set it up to 100, it runs with no problem. We can discuss more in office.

[2016-02-29 15:26] gyuho commented on #4634
It might be worth querying the backend manually to check if compaction is done or not, rather than sleeping random seconds. For example:

[code]

[2016-02-29 22:32] xiang90 commented on #4637
I am closing this. If people still have issues with journald + systemd + coreos, we will open an issue on coreos/pkg/capnlog.

[2016-02-29 22:32] #4637 closed

[2016-02-29 22:54] xiang90 commented on #4544
@zhangdaoling Can you please clarify your issue?

should it be "if err.Error() == context.Canceled.Error() || err.Error() == context.DeadlineExceeded.Error() {"

I do not really understand what you were trying to say here.

[2016-03-01 00:12] gyuho commented on #3863
@xiang90  Could you explain what we mean by `max-key-range`, `min-key-range` ? `range` command already sets `range key [end-range]`, where first argument is the minimum key and last argument is the maximum key of the range. So I think it's already done in `range` benchmark command. Did you mean something else?  Thanks.

[2016-03-01 00:14] xiang90 commented on #3863
@gyuho We want bench watch to be able to watch on different keys, not just one key.

[2016-03-01 00:17] gyuho commented on #3863
Ok, then how about:

[code]

Then the benchmark auto-generates(puts) keys depending on the range (before it measures the range performance), so that user can specify the length of key and `numKeys` to send range requests to.

[2016-03-01 00:20] gyuho commented on #3863
Talked with Xiang. Will try similar thing as `range key [end-range]` for `watch`. Thanks.

[2016-03-01 00:52] gyuho commented on #3863
@xiang90 Current watch benchmark already does watch on different keys:

1. https://github.com/coreos/etcd/blob/master/tools/benchmark/cmd/watch.go#L69
2. https://github.com/coreos/etcd/blob/master/tools/benchmark/cmd/watch.go#L76-L79

[code]

So that it automatically puts random keys on watchable store and watch those random keys for testing.

I think we should do the same thing in `range`. Curren

[2016-03-01 04:37] xiang90 opened #4648 "clientv3: do not use transport.TLSInfo"
Transport.TLSInfo is for etcdserver internal use.

https://github.com/coreos/etcd/blob/master/clientv3/client.go#L62

We should use tls.Config (https://golang.org/pkg/crypto/tls/#Config) instead for better user experience.

[2016-03-01 06:00] mitake commented on #4475
@xiang90 listed RPCs in the doc. Could you review? Can I start implementation?

[2016-03-01 06:28] xiang90 commented on #4475
@mitake RPC looks good. Let's write the proto and send a pull request?

[2016-03-01 06:42] mitake commented on #4475
@xiang90 thanks, I'll send a PR later.

[2016-03-01 10:20] peterbourgon commented on #4545
OK. Thanks to @xiang90 help I got the basic stuff working :) I will have more issues with more questions in the future, but for now I am very happy! Thank you.

[2016-03-01 10:20] #4545 closed

[2016-03-01 11:21] gyuho commented on #4634
Ran with 100 concurrent stressers (half of original number 200), gave much more wait time for compaction (50-second, instead of 30-second) but still some compactions took longer than our wait time:

1. agent1: https://storage.googleapis.com/etcd-issue-4634-08/agent1/etcd.log
2. agent2: https://storage.googleapis.com/etcd-issue-4634-08/agent2/etcd.log
3. agent3: https://storage.googleapis.com/etcd-

[2016-03-01 11:25] gyuho commented on #4634
Giving more time between rounds gives more time to stressers, which I think is why the compaction time was increasing. I will investigate more but I think getting notified of compaction completion is the correct way to proceed to next round. Will switch to normal 30-second gap between tester rounds.

[2016-03-01 14:16] petterek opened #4652 "Wrong version number in alpha.1"
After downloading 2.3.0-alpha.1

http://localhost:4001/version

gives
{"etcdserver":"2.3.0-alpha.0+git","etcdcluster":"2.3.0"}

not a big issue

[2016-03-01 16:27] xiang90 commented on #4652
/cc @gyuho

[2016-03-01 16:34] gyuho commented on #4652
Yeah I forgot to update the version number. This won't happen again. Sorry about that.

[2016-03-01 18:38] xiang90 commented on #4634
@gyuho

The problem here is we added an extensive amount of sleep here. This caused to stresser to get a chance to put A LOT OF KEYS (5million in this case) to kill the cluster.

As I mentioned before, it is a bad idea to mask any error by extending the timeout. Do you know what happened during the 5 minute window from 07:13 to 7:18?

[code]

[2016-03-01 18:40] gyuho commented on #4634
@xiang90 Yeah I forgot to put the sleep back to 30-second (after I found out, I revert back to 30-second).

And between 07:13 and 7:18, it is just repeating of `WaitHealth` errors.

[2016-03-01 18:41] xiang90 commented on #4634
@gyuho Do you know why it repeating the error? Check the log on agent and etcd to figure it out?

[2016-03-01 18:43] gyuho commented on #4634
@xiang90 I am not sure why for now. I will investigate more. Thanks.

[2016-03-01 23:09] ighouri opened #4653 "unable to use etcd command line"
I have configured etcd correctly and service seems running fine as I was successfully able to hit the etcd server using https in my browser but when I try to use etcdctl in my machine, it says etcd cluster is misconfigured and connection is refused because of bad HTTP response (please see below). Also, I am not sure why in first place it is trying to do http connection instead of https connection.

[2016-03-02 00:37] barakmich opened #4656 "Attaching an unknown lease panics etcd"
Client takes a lease ID, stays alive. etcd dies and is wiped. Client reconnects and attempts to use the lease ID.

At the least, this should return an error -- it's a client error (unknown lease?) and shouldn't panic etcd.

[code]

[2016-03-02 00:37] xiang90 commented on #4656
This is a bug I believe.

[2016-03-02 02:35] heyitsanthony commented on #4656
@barakmich are you using master? the line numbers seem out of sync

[2016-03-02 02:56] magicwang-cn commented on #4624
@magicwang-cn

[2016-03-02 13:28] dbubs opened #4659 "etcd search feature"
There have been many times where it would've come in handy to have a search or find feature in etcd. For example, if you want to find a specific machine ID based on IP address and use that machine ID in a unit file. If we could do something like this, it would be awesome:
[code]
In javascript this is easy to do in code by getting all objects in the dir, but in bash it's not so trivial. That is whe

[2016-03-02 17:32] xiang90 commented on #4659
@dbubs It seems like this is out of the scope of etcd or etcdctl. You can pipe the output to some other user program to parse the result.

[2016-03-02 17:32] #4659 closed

[2016-03-02 21:37] raoofm opened #4662 "When is 2.3 planned for a release"
Sorry not an issue, but it is overdue and just want to have an upgrade plan in place.

Does an upgrade of etcd cluster from 2.2.0 to 2.3 requires an upgrade to proxies as well, or is it optional?

[2016-03-02 21:57] xiang90 commented on #4662
It is optional. We will release it in the middle of March. Sorry for the delay.

[2016-03-02 23:35] gyuho commented on #4641
@xiang90 has an idea of smarter rate limiter. This will be resolved once it is implemented in server side.

[2016-03-03 00:22] gyuho commented on #4653
@ighouri Did you specify `ca-file` flag to `etcdctl`? You can see it tries to connect to `http`.

Please see https://github.com/coreos/etcd/blob/master/etcdctl/main.go#L42.

[2016-03-03 01:03] gyuho opened #4665 "functional-tester: shrink database periodically"
![1](https://cloud.githubusercontent.com/assets/6799218/13481194/80a3b9c6-e098-11e5-9f75-082fa9413aae.png)

Ever growing database size might slow down the testing cluster.
We need to shrink the database periodically.

/cc @xiang90

[2016-03-03 01:05] gyuho opened #4666 "functional-tester: simulate slow network"
Good reference: https://github.com/tylertreat/comcast.

[2016-03-03 01:19] gyuho opened #4667 "functional-tester: simulate network partition"
Currently functional-tester only *isolates one node* and doesn't
inject network partitions of more than one node.

1. set up 5-node
2. network partition (e.g.  isolate nodes `1` and `2` from rest of the cluster)
3. remove the network partition
4. compare revision and hashes

Good reference: https://aphyr.com/posts/281-call-me-maybe-carly-rae-jepsen-and-the-perils-of-network-partitions.

[2016-03-03 01:30] gyuho opened #4668 "integration: network partition + membership change"
1. 5 node at the beginning
2. remove one member to change it into 4 node cluster
3. network partition into two groups (2 nodes, other 2 nodes)
4. add node to the group with no leader
5. Wait until that group elects a new leader
6. remove network partition
7. ensure the cluster elects only one leader and consistent revision, hash values

Reference:
- https://aphyr.com/posts/281-call-me-maybe-carly-

[2016-03-03 03:29] xiang90 commented on #4667
We do simulate network partitions by isolate nodes today.

[2016-03-03 03:29] #4667 closed

[2016-03-03 03:39] gyuho commented on #4667
I meant network partition of 3 / 2 nodes (out of 5)--where two nodes can still talk to each other.
Currently it drops all traffic to the port `2380`, isolating it from the whole cluster.
But I agree it's the same thing.

Thanks!

[2016-03-03 03:40] xiang90 commented on #4667
@gyuho It is only because we have 3 nodes. So isolate one == partition with others.

[2016-03-03 03:41] gyuho commented on #4667
Got it.

[2016-03-03 03:46] #4662 closed

[2016-03-03 04:06] #4652 closed

[2016-03-03 11:48] hiroru opened #4671 "Unable to add new member to cluster"
Hi guys,

I'm getting an strange behaviour while trying to add a new member to a healthy 2 member cluster.

This is the information from cluster member dccb575e84744532889c10979bd08b1a
[code]
So I run this command into this member:
`etcdctl member add coreos-1 http://172.31.64.134:2380`
Then it returns:
[code]
I *export* all these vars into coreos-1 member which has etcd2 and fleet stopped.

The c

[2016-03-03 20:38] gyuho commented on #3480
Any updates on this? What's the best place to put the notice about it?

[2016-03-03 22:29] xiang90 commented on #2048
fixed by https://github.com/coreos/etcd/pull/4674

[2016-03-03 22:29] #2048 closed

[2016-03-04 01:21] gyuho commented on #3595
Kindly ping @joshix

We would like to look into this with high priority for our upcoming `v2.3.0` release.
Any status updates on this?

Thanks for help.

[2016-03-04 01:31] ighouri commented on #4653
@gyuho ,

No I have not .. I have certificate and key only i.e. server.crt and server.key respectively. Since this is a self signed certificate I have created, i do not have the Certificate Authority CA file that I can point to --ca-file option in etcdctl.

[2016-03-04 03:24] xiang90 commented on #4271
Closing due to low activity.

[2016-03-04 03:24] #4271 closed

[2016-03-04 03:27] gyuho opened #4679 "TestTLSGRPCRejectInsecureClient fail"
https://semaphoreci.com/coreos/etcd/branches/pull-request-4678/builds/12

[code]

[2016-03-04 03:29] xiang90 commented on #4679
@heyitsanthony seems like there is also a routine leak?

[2016-03-04 03:53] xiang90 commented on #4628
this is done at server side. closing.

[2016-03-04 03:53] #4628 closed

[2016-03-04 03:54] xiang90 commented on #4606
@mwitkow Any updates?

[2016-03-04 04:03] xiang90 commented on #4671
It means you did not set initial cluster correctly.

set is as `ETCD_INITIAL_CLUSTER="dccb575e84744532889c10979bd08b1a=http://172.31.64.132:2380,198dcfe18cb44db6a96cc16835b5d823=http://172.31.64.131:2380,coreos-1=http://172.31.64.134:2380"
`

Systemd does not give you the full log due to an issue in journald.

[2016-03-04 04:03] #4671 closed

[2016-03-04 04:05] xiang90 commented on #3646
We probably are not going to fix this for v2. sorry.

[2016-03-04 04:05] #3646 closed

[2016-03-04 04:08] xiang90 commented on #1074
watch stream is pretty racy right now. in v3, we support watch stream. there is an ongoing fix: https://github.com/coreos/etcd/pull/2879. we are not sure it still worth the effort though. so probably we will not fix this for v2.

[2016-03-04 04:08] #1074 closed

[2016-03-04 04:33] xiang90 commented on #4656
@barakmich This is already fixed in master. See #4680.

[2016-03-04 04:33] #4656 closed

[2016-03-04 04:38] xiang90 commented on #4634
@gyuho any update on this one?

[2016-03-04 04:56] gyuho commented on #4634
@xiang90 Haven't got any logs of the same behavior yet. Looked at scheduler code and I don't see anything wrong that might have caused duplicate calls. Will keep an eye on it.

And for this issue, testing cluster has been very stable without this kind of hash inconsistency.

[2016-03-04 06:55] rominf commented on #4475
It seems to me that it's only possible to set a plaintext passwords via API v2. Is that correct? If so, I propose to allow setting passwords using hash.

[2016-03-04 06:58] mitake commented on #4475
@rominf Even in v2 API, passwords are stored in etcd store after hashing. Do you want to hash passwords in client side?

[2016-03-04 07:05] rominf commented on #4475
@mitake Yes, I do. I'm talking about changing:

**Change password**
[code]

to

**Change password**
[code]

[2016-03-04 07:13] mitake commented on #4475
@rominf I understand. @xiang90 @heyitsanthony how do you think about the idea of client side password hashing? I think it is reasonable.

[2016-03-04 07:19] heyitsanthony commented on #4475
@mitake I'm not sure if it really improves security; the hashed password can still be used in a replay attack unless the server provides a nonce for the hash salt.

[2016-03-04 07:21] mwitkow commented on #4606
We found that a out staging etcd cluster that runs in the same GCE zone had
similar, but way less impactful, connectivity issues. Given that, and the
fact that our ntp mechanism is correctly configured, I think it was a
temporary glitch with our provider's hosting environment, but there's no
way for us to confirm.

Thanks for the help, feel free to close.

On Fri, 4 Mar 2016, 03:55 Xiang Li, <noti

[2016-03-04 07:23] xiang90 commented on #4606
@mwitkow OK. Thanks. Please report back if this kind of things happen again. Hopefully we will have more info to dig into.

[2016-03-04 07:23] #4606 closed

[2016-03-04 07:57] rominf commented on #4475
What's the purpose of of nested dictionary for permissions? Why:
[code]
but not:
[code]
?

[2016-03-04 08:20] wojtek-t commented on #2048
Awesome!

@lavalamp @timothysc - FYI

[2016-03-04 08:25] heyitsanthony commented on #4599
Supported as of #4614

[2016-03-04 08:25] #4599 closed

[2016-03-04 08:26] heyitsanthony commented on #4679
Source of leak is probably:
[code]

[2016-03-04 14:42] raoofm commented on #3646
@xiang90 no problem, makes sense, thanks

[2016-03-04 15:37] antoineco opened #4685 "Protocol set to http with DNS discovery, but TLS is enabled"
TLS used together with DNS discovery on a new cluster makes the initial cluster bootstrap fails. Note the `http` protocol used instead of `https` in the _got bootstrap_ messages.

[code]

[2016-03-04 15:59] antoineco commented on #4685
Shame on me, I was not using the format `_etcd-server-ssl` in my SRV records, as described here: https://github.com/coreos/etcd/blob/master/Documentation/clustering.md#dns-discovery

[2016-03-04 16:21] raoofm commented on #4662
@xiang90 Thanks, np just checking to plan :smile:

[2016-03-04 16:23] #4685 closed

[2016-03-04 17:37] xiang90 commented on #4653
@ighouri specify endpoint with https schema for etcdctl will solve your issue. Thanks!

[2016-03-04 17:37] #4653 closed

[2016-03-04 18:15] #3863 closed

[2016-03-04 18:19] gyuho commented on #4679
@heyitsanthony I think this is fixed by https://github.com/coreos/etcd/pull/4683?
I don't see it anymore after your patch.

[2016-03-04 18:23] xiang90 commented on #3774
I think this is fine since it only prints out every 5 seconds. Also we can tell from the log that it was receiving a snapshot, which might cause a commit delay on the server.

A solution I can think of is to disable timeout warning when receiving snapshot. But I think it is overkill.

[2016-03-04 18:23] #3774 closed

[2016-03-04 18:24] heyitsanthony commented on #4679
I don't think that patch fixes the problem; there would have been a panic in the test log if it was hitting that path.

[2016-03-04 18:30] gyuho commented on #4633
#### compact every 30-second

This measures the latency when there are intensive put requests with `compact-interval` 30-second. This does not compare with the one without compaction. This is mainly to evaluate the overall latency distribution of etcd writes.

##### Command

I set up 3-node cluster in cloud environment, each node with SSD, 2-cpu, 8gb machine.

[code]

##### Result

[code]

So spik

[2016-03-04 18:40] xiang90 commented on #3380
After a second thought on this, I think we should only retry proposal if there was a temp connection issues and should not wait and retry if the leader is lost.

The reason is that temp connection issue can recover fast, within in second. So the client will not feel it usually if we retry correctly at server side.

On the other side, a leader issues will require at least several seconds to recover

[2016-03-04 18:43] xiang90 commented on #3281
We are probably not going to change this behavior for v2 api. We will keep this in mind when designing v3 auth. Thanks.

/cc @mitake

[2016-03-04 18:43] #3281 closed

[2016-03-04 18:47] gyuho commented on #4633
#### Auto-compaction vs No auto-compaction

##### Command

Here I run with bigger put size:

[code]

##### Result

[code]

[code]

We can see spikes are about the same but overall latencies are a little smaller when there's no auto-compaction. The request per second of the one without compaction is consistently 5 ~ 7% higher than the one with compaction. I observe the same pattern in the previous

[2016-03-04 18:50] heyitsanthony commented on #3380
@xiang90 your argument seems reasonable; if the receiver will time out waiting for the response on retry, it's probably better not to bother with retry at all

[2016-03-04 19:16] gyuho commented on #4633
Another run with bigger numbers:

[code]

[code]

In conclusion, users with auto-compaction of 30-second, 1-min, 2-min, 3-min should expect 5 ~ 12% slower `Put` performance in terms of `requests/sec`. Since `Put` rates in this tests are unusually higher,   the real-world use-case would have much less impacts. Which means that passing `--experimental-auto-compaction-retention=1` to etcd, under reas

[2016-03-04 19:22] xiang90 commented on #4633
Sounds good to me. Let's close this.

[2016-03-04 19:22] #4633 closed

[2016-03-04 19:25] gyuho commented on #4633
Thanks. Will summarize this into shared google doc.

[2016-03-04 19:33] gyuho opened #4686 "Performance: watch, key-space-size, watcher-size, put-rate"
Following https://github.com/coreos/etcd/pull/4675.

Let's assume two cases:
1. 1 key, 1000 watchers
2. 1000 different keys, 1000 watchers

Case 1 needs only 1 `Put` request to trigger all 1000 watchers.
Case 2 needs 1000 `Put` requests to fire each of 1000 watchers.

So theoretically, case 1 should be 1000x in terms of through-put.
But in real-world, we have to consider other factors. With very h

[2016-03-04 19:57] xiang90 commented on #4305
Now etcdctlv3 supports json and proto output, which includes full headers. Closing.

[2016-03-04 19:57] #4305 closed

[2016-03-04 21:54] gyuho opened #4688 "TestDoubleBarrier fails"
https://semaphoreci.com/coreos/etcd/branches/pull-request-4687/builds/2

[code]

[2016-03-05 00:47] xiang90 commented on #3380
This is not something easy to achieve right now. Check https://github.com/coreos/etcd/pull/4691#issuecomment-192539030.

We will revisit this when we redesign the transport layer or this causes significant issues for our users.

[2016-03-05 00:47] #3380 closed

[2016-03-05 00:51] xiang90 commented on #4679
The root cause is #4688. Closing this one in favor of #4688.

[2016-03-05 01:14] gyuho commented on #4538
@lmcdasm

Sorry to get back to you this late. There are a lot of problems, so let's take it one by one.

Can you clarify? As long as the nodes in the cluster share the same token, it shouldn't matter.
`https://discovery.etcd.io/new?size=3` to get 3-node token, and when one nodes starts up, it will
wait until the other nodes become online. And then they will be able to proceed with leader election.

[2016-03-05 01:27] mitake commented on #3281
@xiang90 I understand. Thanks for your input.

[2016-03-05 03:29] gyuho commented on #3472
Any updates on this? We are still using my personal key (under my coreos.com email) to sign binaries.

[2016-03-05 03:32] crawford commented on #3472
/cc @dghubble

[2016-03-05 04:01] dghubble commented on #3472
@yichengq we've started issuing subkeys to projects, as outlined in the internal security repo. I can get this for you next week. https://github.com/coreos-inc/security/issues/5

[2016-03-05 09:31] #3702 closed

[2016-03-05 16:40] xiang90 opened #4692 "etcdctl: auth issues"
- [ ] etcdctl role list does not work
- [ ] etcdctl user list does not work

Do we want etcdctl also return the detailed role information for user list/get as HTTP API?

/cc @heyitsanthony

[2016-03-05 17:57] gyuho commented on #3661
@xiang90 Isn't this resolved by https://github.com/coreos/etcd/pull/3665? Any more tasks to close this?

[2016-03-05 18:25] heyitsanthony commented on #4692
Hesitant to add extra role information because it'll mean meddling with the current clientv2 interfaces. Supporting that would mean either adding new functions with the "extended" information (ugly) or changing the current function return types (breaks clientv2 consumers).

[2016-03-05 19:11] xiang90 commented on #4692
@heyitsanthony Agreed.

[2016-03-05 19:13] xiang90 opened #4694 "testing: TestBasicOpsPeerTLS"
[code]

/cc @gyuho

[2016-03-05 19:34] gyuho commented on #4694
ok will take a look. thanks.

[2016-03-05 20:41] gyuho commented on #4694
@xiang90 I don't think there's any problem in etcd. If we have some sleep time between `set` and `get`, it should help. Currently we:

[code]

You can fairly easily reproduce this error:

[code]

The `set` request will be forwarded to leader and replicated back to `:32379`,
but sometimes it's not fast enough, especially we run `get` instantly after `set` in test.

[2016-03-05 20:43] xiang90 commented on #4694
Probably we just need to retry in e2e for this? /cc @heyitsanthony

[2016-03-05 20:44] gyuho commented on #4694
I think retry should work? @heyitsanthony might have better way to handle this.

[2016-03-05 20:50] heyitsanthony commented on #4694
Maybe just have single node test clusters for tests with gets that don't go through quorum?

[2016-03-05 20:52] xiang90 commented on #4694
Yea. Sure

[2016-03-05 20:53] gyuho commented on #4694
Ok that sounds good to me. @heyitsanthony Could you change the e2e test settings? Thanks!

[2016-03-05 21:26] gyuho commented on #4679
We got one more. This time `TestTLSGRPCRejectInsecureClient` times out after 15m.

Looks like remote address causes grpc to error:

[code]

https://github.com/grpc/grpc-go/blob/master/server.go#L273

[2016-03-05 22:17] xiang90 opened #4697 "watch prefix issues"
In client library and storage range/delete, we treat `/x00` as the largest key if it is in "end".

However in interval tree, we treat empty as the largest key.https://github.com/coreos/etcd/blob/master/pkg/adt/interval_tree.go#L474

So now watch("", WithPrefix()) does not work.

@heyitsanthony What is your opinion on this one? Shall we convert /x00 to empty string and empty string to /x00 before p

[2016-03-05 22:24] heyitsanthony commented on #4697
@xiang90 I think the simplest fix is to use "\x00" as the affine point instead of "" for StringAffineComparable

[2016-03-05 22:25] xiang90 commented on #4697
@heyitsanthony But that also means \x00 in start will be larger than all keys.

[2016-03-05 22:28] heyitsanthony commented on #4697
@xiang90 right... converting from "\x00" to "" seems reasonable

[2016-03-05 22:29] xiang90 commented on #4697
will try

[2016-03-06 01:53] hongchaodeng opened #4700 "constant 10737418240 overflows int"
I have a [PR](https://github.com/kubernetes/kubernetes/pull/22604) which failed with following message:
[code]

Full log is [here](http://pr-test.k8s.io/22604/kubernetes-pull-build-test-e2e-gce/31894/).

Note that I am perfectly fine while using Go 1.5

[2016-03-06 02:11] heyitsanthony commented on #4700
From the logs: `+++ [0305 17:42:51] linux/arm: go build started`

32-bit builds aren't supported

[2016-03-06 02:14] gyuho commented on #4700
Yeah we define https://github.com/coreos/etcd/blob/master/storage/backend/backend.go#L41 with over int32 max.

[2016-03-06 02:15] gyuho commented on #4700
Maybe we should document that in backend package?

[2016-03-06 02:46] xiang90 commented on #1206
Closing since this does not seem like an issue anymore, since now public discovery is only used for cluster bootstrapping itself for the first time.

[2016-03-06 02:46] #1206 closed

[2016-03-06 02:55] xiang90 commented on #4700
@gyuho We can fix the build. But there might be other issues for 32bit. Basically, go has some additional requirement for 32bit to work well (padding when you want to access data atomically). We have a lot of dependencies and we cannot make sure everyone takes care of this additional requirement. So we say we do not really support 32bit.

[2016-03-06 02:55] xiang90 commented on #4700
/cc @heyitsanthony

[2016-03-06 03:07] xiang90 commented on #3709
I agree with @ark76r in general. So we will keep the API as it is today.

@ark76r We are designing auth for v3. I will keep you updated and will appreciate your opinions.

/cc @mitake Please /cc @ark76r for related issues. Thanks!

[2016-03-06 03:07] #3709 closed

[2016-03-06 03:09] xiang90 commented on #4189
@raoofm I discussed with the team. The general agreement is that we will push etcd forward to the auto-tls direction. So etcd will enforce TLS connection someday. So I guess we will not put effort onto this one.

[2016-03-06 03:09] xiang90 commented on #4189
/cc @philips opinion?

[2016-03-06 03:10] #4697 closed

[2016-03-06 03:10] heyitsanthony commented on #4700
Probably should have a better 32-bit build failure indicator than `overflows int`, at least. It's certainly been a source of confusion.

[2016-03-06 03:17] #4688 closed

[2016-03-06 03:36] hongchaodeng commented on #4700
@heyitsanthony
Can we fix the failure?

[2016-03-06 03:39] heyitsanthony commented on #4700
@hongchaodeng the sort of fix I have in mind would still be a build failure, just a less confusing one

[2016-03-06 04:04] #4692 closed

[2016-03-06 12:50] mitake commented on #3709
@xiang90 ok, I'll cc @ark76r in PRs and issues related to v3 auth.

This is the design doc of the feature: https://docs.google.com/document/d/1Zs5lc4H8kHr4sgoniKlL6YRsLKFNy8m-1pyGhkCmmO4/edit
@ark76r if you have opinions, please comment or update it.

[2016-03-06 21:06] urzds opened #4702 "It would be nice if --proxy / ETCD_PROXY would support boolean arguments"
It would be nice if --proxy / ETCD_PROXY would support boolean arguments. I.e. if it would support the string "readonly" or a boolean "on/off", "yes/no", "true/false" argument.

Why I think this way: I wrote a bootcfg YAML file where I put `etcd_proxy: on` in the metadata section. The metadata file generated by bootcfg contains `ETCD_PROXY=true` (well, modulo bugs: coreos/coreos-baremetal#85). Thu

[2016-03-06 21:27] ark76r commented on #3709
@mitake OK. Give me a day.

[2016-03-07 04:18] ajityagaty commented on #3833
Or should the v2 metrics' names be left as they are? The reason being that if we duplicate then we would also need to keep the newer counters up to date. Although the code changes to update the newer counters can be contained within store/metrics.go file.

Also, just renaming "storage" to "store_v3" will be in line with the way "clientv3" and "etcdctlv3" are named.

I am attempting to make the cha

[2016-03-07 04:44] mitake commented on #3709
@ark76r a way of implementing role deletion seems to be interesting:

How about marking a deleted role with a tombstone and cleaning the deleted roles in deferred manner (invoked by user command or periodically)? It will be fast and load (disk I/O, locking of the auth info) can be controlled. In addition, the auth information wouldn't be so large so copy GC can be used for this purpose.

[2016-03-07 14:14] gyuho commented on #4686
Given other configurations are the same, `1 / key-space-size` is proportional to watch performance:

[code]

This could be affected by `put-rate` because higher-throughput means more data for watchers to process, which takes more time to receive events. So I ran the same tests with different `put-rate` to see the relationships:

[code]

[code]

This explains that watch performance can be affected

[2016-03-07 16:07] hiroru commented on #4671
I did it exporting ETCD_INITIAL_CLUSTER before starting etcd2, but nothing changed, looks like etcd2 reads config from somewhere but neither from */etc/environment* nor */run/systemd/system/etcd2.service.d/20-cloudinit.conf*

[2016-03-07 16:07] hiroru commented on #4671
Ok, I finally did it by adding these lines into */run/systemd/system/etcd2.service.d/20-cloudinit.conf*. It did the trick ;-)

[2016-03-07 17:45] gyuho commented on #4544
@zhangbaitong Any updates?

[2016-03-07 17:47] gyuho commented on #4526
@tzickel Any updates? Please try out v3 Watch feature. You can match multiple keys by prefix or range.

https://godoc.org/github.com/coreos/etcd/clientv3#example-Watcher--WatchPrefix

[2016-03-07 19:08] xiang90 commented on #4686
OK. This makes sense. We will need to have more detailed analysis in the future. But this is enough for now.

[2016-03-07 19:12] luxas commented on #4700
`etcd` godeps haven't been a problem with `arm`
On the other hand `arm64` had a `boltdb` issue as you know #3830

@xiang90 Is it possible to include `arm`, `arm64` and maybe `ppc64le` in Travis build CI?
Just thinking out loud about possible solutions.

[2016-03-07 19:18] #4694 closed

[2016-03-07 19:20] luxas commented on #4700
Got it compiled on both `arm` and `amd64` by just
[code]
WDYT? I may send a PR if it fixes the problem.

[2016-03-07 19:21] xiang90 commented on #4700
@luxas We can fix the build, that is simple. But the thing is that there might be data races in 32 bit even if it builds and we are not going to fix them.

[2016-03-07 19:22] xiang90 commented on #4700
@luxas In another word, we do not officially support or extensively test etcd on 32 bit.

[2016-03-07 19:31] #4624 closed

[2016-03-07 19:47] gyuho commented on #4686
@xiang90 Did another run trying to get the maximum numbers:

[code]

If we push more than this, etcd watch requests hang. So maximum watch request throughput would be 100,000 requests per second. This is only a rough number. If someone needs this much throughput, they need to run their own tests to their use case.

Thanks.

[2016-03-07 19:50] xiang90 commented on #4686
OK. Closing for now. We will probably write some doc around watch performance in the future.

[2016-03-07 19:50] #4686 closed

[2016-03-07 19:51] gyuho commented on #4686
Yeah I write a short doc in Google drive. Thanks.

[2016-03-07 20:10] #3661 closed

[2016-03-07 20:27] xiang90 commented on #4315
@bearice Now the proxy security setup is documented at https://github.com/coreos/etcd/blob/master/Documentation/security.md#notes-for-etcd-proxy. Please take a look. We know this is not optimal. We will improve in the future.

[2016-03-07 20:27] #4315 closed

[2016-03-07 20:42] luxas commented on #4700
@xiang90 What about `arm64` then?
I know the fix is simple, but I'd like to get it building at least.
You know, `arm` support isn't enterprise support, it's build-your-own-lab support. So I'm not super-worried about maybe-data races that could exist. You don't have to support arm for that reason.
`arm64` on the other hand, could have enterprise interest.

I really do understand you, but I would be

[2016-03-07 21:27] xiang90 commented on #4700
@luxas I think arm64 can build as it is today. No? If you want to make it "builds". That is fine. Send a PR to us?

[2016-03-07 21:30] gyuho commented on #1972
I think related Windows code is not open, so it seems hard to implement the `fileutil.Lock` interface correctly:

- [`LockFile`](https://msdn.microsoft.com/en-us/library/windows/desktop/aa363778(v=vs.85).aspx) is open, and there are many Go implementation of [this](https://github.com/tgulacsi/lock/blob/master/lock_windows.go).
- [`UnlockFile`](https://msdn.microsoft.com/en-us/library/windows/deskt

[2016-03-07 21:34] heyitsanthony commented on #1972
@gyuho we could probably roll our own `UnlockFile`; it's just a system call...

[2016-03-07 21:38] gyuho commented on #1972
@heyitsanthony Ok, I will research more about syscall flags. Thanks!

[2016-03-07 22:02] #4679 closed

[2016-03-07 22:20] #4573 closed

[2016-03-07 22:30] gyuho opened #4708 "benchmark: watch panics sending results to a closed channel"
From https://github.com/coreos/etcd/pull/4704:

So this command will panic the `benchmark watch`:

[code]

This configures the benchmark as:

[code]

And then, it does:

1. launch `go doWatch(streams[i], requests)`
   - `# of streams` is 10 (`watchTotalStreams`)
2. `doWatch` receives from the channel `requests`
   - `# of requests` is 1000 (`watchTotal`)
3. each `request` in the `doWatch` spawns a