[2016-07-27 07:06] nathan-osman commented on #6051
I tried starting from scratch with another cluster that consisted of three peers running CoreOS but I just end up with the same error.

[2016-07-27 11:03] heyitsanthony commented on #6051
@nathan-osman looks like etcd is having trouble connecting to its peers. The configuration looks OK; I suspect it's a cert issue. Could you try adding `--debug` to the command and posting the logs? Thanks!

[2016-07-27 15:56] #6029 closed

[2016-07-27 19:19] gyuho opened #6055 "grpc-gateway: watch request returns before events"
It's an upstream issue (https://github.com/grpc-ecosystem/grpc-gateway/issues/195).

Just create here to keep track. This just returns without waiting.

[code]

But can't reproduce with the same code:

[code]

[2016-07-27 20:05] gyuho commented on #6055
It's about how we send `POST` request (cURL, ...). Will close upstream issue as well. Update grpc-gateway dependency to the latest.

[2016-07-27 20:05] #6055 closed

[2016-07-27 20:18] xiang90 commented on #6004
I do not think we can move forward with what @purpleidea for short/medium term. So closing.

[2016-07-27 20:18] #6004 closed

[2016-07-27 20:21] steveeJ opened #6057 "quay.io/coreos/etcd and coreos.com/coreos/etcd behave differently"
The two container images seem to have different mounts and data directory paths. It'd be helpful to align the behavior of both.

[2016-07-27 22:06] heyitsanthony opened #6060 "TestPeriodic fails: len(actions) = 0, expected >= 1"
via semaphore,

[code]

[2016-07-27 22:06] xiang90 commented on #6015
There is no way to achieve that for now.

We might add maxRev as an option for watch. Watch will terminate once it reaches the maxRev. To achieve what you want, you need to do a range on whatever key to get the current rev in header. And then you can do watch(/foo, withMaxRev(rev)). Then this watch will not block, it will just like a range that walks through previous history.

What is your use cas

[2016-07-27 22:08] xiang90 commented on #5941
@HardySimpson Can you answer questions @heyitsanthony and I have?

[2016-07-27 22:10] gyuho commented on #6027
Just released etcd v3.0.4 at https://github.com/coreos/etcd/releases/tag/v3.0.4.

Thanks.

[2016-07-27 22:11] hongchaodeng commented on #6027
@timothysc
I'm closing this and converge the discussion in https://github.com/coreos/rkt/issues/2971

Thanks @gyuho for the work!

[2016-07-27 22:11] #6027 closed

[2016-07-27 22:15] xiang90 commented on #6057
@steveeJ No matter which one we changes, we will introduce backward incompatibility issue? Users use new container image cannot start the previous etcd by default due to the data dir change?

[2016-07-27 23:33] steveeJ commented on #6057
@xiang90 would you be OK using symlinks for compatibility?

[2016-07-27 23:47] xiang90 commented on #6057
@steveeJ Yes. That works for me. But we also need a depreciation path. But it would be a long term goal.

[2016-07-28 02:32] gyuho commented on #6017
Also happens in 3 node cluster:

[code]

[code]

[2016-07-28 04:28] mitake commented on #5912
Maybe we should ask about this idea on the raft-dev mailing list? Someone else might try this kind of idea in the past and have experience.

[2016-07-28 04:40] xiang90 commented on #5912
@mitake Sure. Probably you want to ask this in the mailing list.

[2016-07-28 04:46] HardySimpson commented on #5941
OK, as it is a produce-consume model.
the recovery of client should not be considered by etcd server.
client must guarantee the message process idempotency.

[2016-07-28 05:35] mitake commented on #5912
@xiang90 yes, I'll post to the mailing list and cc you people.

[2016-07-28 05:53] HardySimpson commented on #5941
Think another way for crash recovery.

etcd server -watch-> clientA , obj1, obj3

then server should create another TTL key, like

obj1_done(ttl =5), obj2_done(ttl=5)

if clientA will not update obj1 and obj3 in 5 seconds, then server can send obj1 and obj3 to any other client

maybe it is a little wordy, but can guarantee obj send to other client

[2016-07-28 05:57] xiang90 commented on #6014
Closed by #6063

[2016-07-28 05:57] #6014 closed

[2016-07-28 06:01] xiang90 commented on #6025
What does `will` mean here exactly? Within a bounded time? Under what assumption? No server failures?

Remember that we need to refresh the TTL once there is a leader switch. The minimum TTL needs to be larger than electionTimeout, which is usually 3 seconds or even 5 seconds.

[2016-07-28 07:36] heyitsanthony opened #6065 "proxy: V system leasing"
Suppose a client starts spamming the etcd cluster with `Put`s to a key with many watchers. This will cause a lot of network traffic and considerable server load. Likewise, suppose a client keeps requesting the same serialized ranges / txns for keys that it just wrote out, also causing unnecessary network traffic. What to do?

[V system leasing](http://web.stanford.edu/class/cs240/readings/89-lease

[2016-07-28 16:34] LLParse opened #6066 "Etcd reports healthy but writes fail immediately after backup restore"
I am observing a bug in etcd where health checks return `OK` but subsequent writes return `Error:  client: etcd cluster is unavailable or misconfigured` for a non-deterministic period of time. Reads succeed. This occurs only when restoring a backup. If you shutdown the node immediately after it reports healthy, the data directory isn't sanitized and consequently has membership knowledge of the old

[2016-07-28 17:18] nathan-osman commented on #6051
I start seeing this with the `--debug` flag present:

    2016-07-28 02:28:57.989088 D | rafthttp: failed to dial f65c4aa9215e162d on stream MsgApp v2 (x509: cannot validate certificate for 138.68.13.202 because it doesn't contain any IP SANs)

Here's the command I'm using to generate a CSR for the certificate:

    openssl req \
        -new \
        -key server-key.pem \
        -subj "/C=CA/ST

[2016-07-28 21:54] xiang90 commented on #6051
@nathan-osman It would be easier for you if you use this https://github.com/coreos/etcd/tree/master/hack/tls-setup to generate tls configurations. Or you can search around about how to do it. This might be helpful though: https://github.com/docker/docker/issues/8943

[2016-07-28 21:55] xiang90 commented on #6051
Closing this since this is not an etcd issue. The logging needs to be improved. It is tracked at https://github.com/coreos/etcd/issues/6018

[2016-07-28 21:55] #6051 closed

[2016-07-29 06:59] nathan-osman commented on #6051
I finally figured out what the problem was. Apparently, Go doesn't like certificates that consist of only IP addresses in the certificate CN. I changed the CN to `example.com` (since it was going to be ignored anyway) and added the IP address as a `subjectAltName`. Finally, the etcd nodes were able to communicate with each other.

For the record, the command to sign the certificate request needed

[2016-07-29 11:40] siddontang opened #6067 "embed: clientv3 return "not capable" if we don't start all etcds in intial cluster."
@xiang90
I set three peers in intial_cluster, e,g, etcd 1,2,3, but only start 1, 2.
I guess etcd can work well, but when I use etcdctl, a "not capable" error returns.

[code]

etcd git sha1: e2088b8073aa4f80a9d88b134ec71b749839db5b

My test example is:

[code]

[2016-07-29 12:56] siddontang opened #6068 "raft: some test fail if randomizedElectionTimeout equals electionTimeout"
@xiang90 @swingbach

For
[code]

Sometimes randomizedElectionTimeout equals electionTimeout, but some raft tests may fail, like:

[code]

Reproduce when set`r.randomizedElectionTimeout = r.electionTimeout` directly in `resetRandomizedElectionTimeout`.

[2016-07-29 14:31] xiang90 commented on #6067
This is intentional. If you look at etcd log, v3 is not enabled until all members start. This is for mix cluster version support. If we start to accept v3 commands and the unstarted member is actually 2.x.x, there will be a problem.

[2016-07-29 14:31] #6067 closed

[2016-07-29 18:15] swingbach commented on #6068
@siddontang @xiang90

I guess it's only a issue of test code and has nothing to do with the code of raft

the scenario we are trying to set up is letting the node's(say b) electionElapsed > electionTimeout so that it can vote for others when quorum checking is on,
but we also need to ensure its electionElapsed < randomizedElectionTimeout so it will not start to campaign for itself

one correction

[2016-07-30 22:43] immesys opened #6071 "CMD vs ENTRYPOINT"
The documentation for running etcd under docker (https://coreos.com/etcd/docs/latest/docker_guide.html) assumes that the docker image has etcd set as the entrypoint. This was true for previous versions (e.g 2.3.7). I just tried my service file on quay.io/coreos/etcd:latest and it seems to use CMD instead of ENTRYPOINT, so the syntax in the documentation (omitting the etcd binary) no longer works.

[2016-07-31 15:28] #5894 closed

[2016-07-31 18:48] xiang90 commented on #5936
I am closing this due to the low activity. Reopen if you can provide more information.

[2016-07-31 18:48] #5936 closed

[2016-07-31 18:51] xiang90 commented on #4365
It seems that no one is really interested enough to implement it. On the other side, for etcd3 the snapshot is already decoupled with WAL and has version attached. We now should support snapshot recover across version in etcd3. So I am wondering if we should just close this issue.

/cc @philips @heyitsanthony @gyuho

[2016-08-01 01:17] gyuho commented on #6071
Sorry, we have changed it to `CMD` to support `etcdctl` running in the container.

Please refer to https://github.com/coreos/etcd/blob/master/Documentation/op-guide/container.md#docker for now. We will fix the documentation.

[2016-08-01 01:32] xiang90 commented on #5868
@fbdlampayan Added this as TODO. Also it would be great if you can contribute to this feature!

[2016-08-01 03:17] #6018 closed

[2016-08-01 04:50] YuleiXiao opened #6074 "I try to run ExampleWatcher_watch in etcd, but it not work"
I put key-value by etcdctl, but the watcher not work

example code:

[code]

[2016-08-01 04:53] xiang90 commented on #6074
Where did you do the put? You need to do a put to trigger the watch. Or it will just block there forever.

[2016-08-01 04:56] YuleiXiao commented on #6074
yes, I know, I put key-value by etcdctl, but the watcher not work.
@xiang90

[2016-08-01 04:57] xiang90 commented on #6074
Can you please provide the full steps?

[2016-08-01 05:03] YuleiXiao commented on #6074
1. I run the example program
2. I use etcdctl to put key-value:
[code]

[2016-08-01 05:04] xiang90 commented on #6074
yea. For etcdctl, you also need to use etcd3 not etcd2. Check etcdctl readme for more information.

[2016-08-01 05:15] YuleiXiao commented on #6074
OK, it worked after set ```ETCDCTL_API=3```, thanks very much.
I have some others problems:
1. If I want to use clientv3, I must ensure that all components in the system to use clientv3, can not mix both clientv3 and v2 even older, right?
2. etcdctl do not have ```ls``` after set ```ETCDCTL_API=3```, how to query all keys?

[2016-08-01 05:36] gyuho commented on #6074
@YuleiXiao

v2 and v3 have different storage, so you should either use v2 or v3.

Try `ETCDCTL_API=3 etcdctl get "" --prefix` for all keys

[2016-08-01 05:36] #6074 closed

[2016-08-01 06:08] shyamradhakrishnan opened #6075 "etcd v2 auth guest role not working in non tls mode"
in etcd v3.0.4, guest role is not working in default installation, when tls had not been configured.
Steps to reproduce
1) Unzip etcd-v3.0.4-linux-amd64.tar.gz
2) cd etcd-v3.0.4-linux-amd64
3) Start the etcd server
4) ./etcdctl mk key1 value1
5) ./etcdctl user add root
6) ./etcdctl auth enable

Try to get key1 uysing ./etcdctl get key1 , it fails with an error
Error:  110: The request requires use

[2016-08-01 16:54] gyuho commented on #6075
Please try

[code]

And I believe this is the correct behavior. In versions prior to `v3.0.4`, this works without password:

[code]

@xiang90, or did we expect this to work in etcd version 2?

[2016-08-01 16:56] xiang90 commented on #6075
If auth == "" && we cannot find the user. we should mark it as "" again. "" might mean guest.

[2016-08-01 16:57] gyuho commented on #6075
@xiang90 Ok, I will try to fix it with tests. Thanks.

[2016-08-01 17:46] xiang90 commented on #6017
Probably try to  increase the throughput limit to 10k?

[2016-08-01 17:47] gyuho commented on #6017
Ok I will redeploy with higher throughput.

[2016-08-01 17:56] xiang90 commented on #6071
@immesys CoreOS latest doc is not yet synced with the release doc at https://github.com/coreos/etcd/blob/release-3.0/Documentation/op-guide/container.md. For the new lease, the updated doc is more accurate.

[2016-08-01 17:56] #6071 closed

[2016-08-01 17:58] xiang90 commented on #6025
@CsatariGergely @janosi Does it answer your questions? For more information, you might want to read the original chubby paper at http://static.googleusercontent.com/media/research.google.com/en//archive/chubby-osdi06.pdf. We made some minor changes to simplify the protocol a little bit. But the main idea remains the same.

[2016-08-01 18:54] xiang90 commented on #6000
@Yancey1989

I do not really understand this issue. From the log here,

[code]
it seems like you terminated etcd? So etcd should just exit, no?

[2016-08-01 21:32] #6075 closed

[2016-08-01 21:33] xiang90 commented on #5985
Answers are provided. So I am closing this.

[2016-08-01 21:33] #5985 closed

[2016-08-01 21:43] gyuho commented on #6017
3-node cluster with higher QPS is now stabilized (no failure for last +150 rounds).

5-node cluster with the same config still fails but not from this issue.

[2016-08-01 21:46] xiang90 commented on #6049
@gyuho

Probably we need something as simple as https://github.com/coreos/ignition/blob/master/NEWS

[2016-08-01 21:49] gyuho commented on #6049
Ok, I will prepare something like that for next release.

[2016-08-01 21:51] xiang90 commented on #6049
We just added the release-note label. so a pr that requires release-note needs a change in news file.

probably add this into the release note section here: https://github.com/coreos/etcd/blob/master/Documentation/dev-internal/release.md#write-release-note

Then we can close this issue?

[2016-08-01 22:14] gyuho commented on #6049
Closing via https://github.com/coreos/etcd/pull/6078. Will add `NEWS` file before we do the next release.

[2016-08-01 22:14] #6049 closed

[2016-08-02 02:30] tejasmanohar commented on #5213
any update here? would be nice to know the cause

[2016-08-02 02:33] heyitsanthony commented on #5213
@tejasmanohar the grpc connection logic has undergone a major rewrite since this was reported; it's not worth investigating if it can't be reproduced.

[2016-08-02 02:36] tejasmanohar commented on #5213
hm alright. i've seen it in another grpc project, that's why i was wondering haha

[2016-08-02 09:47] SaMnCo opened #6083 "How to use TLS in the etcd go client?"
Hi there,

I am a newbie in go, trying to improve https://github.com/crewjam/etcd-aws/ to add TLS in the native design.

I can successfully update the etcd command in the etcd-aws to operate with certificates, and adapt the docker image to use TLS. Unfortunately, that breaks the other interesting tools (auto backup and restore).

I noticed the library used is go-etcd, which seems to be deprecated,

[2016-08-02 12:26] mauiarches commented on #6025
@xiang90 , a basic question why in etcdv2 there is no minimum TTL(at least we can have a TTL lower than 5 seconds)? What changed so that in etcdv3 we have now a minimum TTL of 5 seconds? Is this because in etcdv3 keep alives are only processed by the leader and there is no more consensus needed?

According to this link, electionTimeout can be configured.
https://github.com/coreos/etcd/blob/master/

[2016-08-02 16:30] heyitsanthony commented on #6025
@mauiarches etcd3 can guarantee leases won't expire on leader failover (cf. section 2.8-2.9 of the Chubby paper); this can't be done with strict TTLs like in etcd2. Furthermore, the cluster has no way to respond to load by increasing a strict TTL like it can with leases to get clients to back off. There's always going to be some delay with key expiry-- what sort of timing guarantees do you expect?

[2016-08-02 17:03] LLParse commented on #6066
I believe this to be related to a race condition with our DNS servers. I will reopen if I find proof otherwise.

[2016-08-02 17:03] #6066 closed

[2016-08-02 18:06] xiang90 commented on #6025
They work differently internally. And etcd2's TTL mechanism causes a few difficulties for the core functionalities (lease, leader election, locking) since it does not do the refresh once a new leader is elected.

[2016-08-03 06:10] gradywang opened #6088 "The latest etcd image quay.io/coreos/etcd does not support to specify parameters."
When I try the latest etcd image **quay.io/coreos/etcd**, I find it does not support to specify parameters:

[code]

This issue also exist the the versions > 3.x.

[2016-08-03 06:39] gyuho commented on #6088
Sorry, we changed our docker `CMD` to support `etcdctl` with environment variable. Please try https://github.com/coreos/etcd/blob/master/Documentation/op-guide/container.md#docker.

[2016-08-03 07:07] janosi commented on #6025
@xiang90 @heyitsanthony we would like to use etcd as the backend of our service discovery solution. We used etcdv2, actually. In order to shorten the time frame while requests go to dead intances, we would like to use e.g. 2s TTL for our service related records. In case of e.g. ~3k request/s every second counts. TTL would be refreshed in every 1s (as usual, refreshing period is half of the TTL).
W

[2016-08-03 07:07] YuleiXiao opened #6089 "How to know a key not exist in clientv3?"
In old client, I know from error code ```ErrorCodeKeyNotFound``` if I delete or get it. But in clientv3, there is no error code like this. How to know if a key not exist?

[2016-08-03 07:10] gyuho commented on #6089
You can do something like `resp.Count == 0` from `clientv3.GetResponse`. See https://godoc.org/github.com/coreos/etcd/etcdserver/etcdserverpb#RangeResponse.

[2016-08-03 07:41] gradywang commented on #6088
Thank @gyuho. Can I submit a PR to update the doc [Running etcd in docker](https://coreos.com/etcd/docs/latest/docker_guide.html)

[2016-08-03 09:02] siddontang commented on #6068
Hi @swingbach
Where is the PR? I can't find it.

[2016-08-03 09:10] YuleiXiao commented on #6089
@gyuho If I delete a key not exist, the error code is success and resp.Count is 0? Or error code is not success, resp is nil?

[2016-08-03 10:45] owenhaynes opened #6091 "v3api key offset."
We have WithLimit(int64) should we not also have WithOffset(int64) or something similar, to get the rest of the results.

[2016-08-03 12:14] wuyongxiu commented on #4377
How to configure? The link has expired. @xiang90

[2016-08-03 14:56] heyitsanthony commented on #6089
@YuleiXiao `resp.Deleted == 0` and `err == nil`. Cf. https://github.com/coreos/etcd/blob/master/Documentation/dev-guide/api_reference_v3.md#message-deleterangeresponse-etcdserveretcdserverpbrpcproto

[2016-08-03 15:00] heyitsanthony commented on #6091
Are you sure it's necessary? Given `Get("a", WithRange("z"), WithLimit(k))` = ("a", "b", ..., "n"), it can be continued by appending a nul byte to the last returned element, `Get("n\x00", WithRange("z"), WithLimit(k))`

[2016-08-03 15:08] heyitsanthony commented on #4377
@wuyongxiu https://github.com/coreos/etcd/blob/master/Documentation/op-guide/configuration.md#--listen-client-urls

[2016-08-03 15:19] xiang90 commented on #6025
@janosi With the old TTL mechanism, the TTL key might be there for longer than 2 seconds when there is an election. No TTL key can be removed when there is no leader. You just did not notice that I guess. The only thing you would notice now is that if there is an leader election, your lease will be renewed. If you are running etcd instead one DC that has good network connection. Your etcd nodes ha

[2016-08-03 15:23] heyitsanthony commented on #6025
@janosi As of #6085 you can get a 1s minimum TTL by passing `--election-timeout=600` as an argument to `etcd` (minTTL is computed as ceil((3/2)*electionTimeout).

[2016-08-03 16:04] xiang90 commented on #6089
@YuleiXiao In etcd3, there is no get, delete. They are range and deleteRange. So you should check the count as @heyitsanthony and @gyuho suggested.

[2016-08-03 16:04] #6089 closed

[2016-08-03 16:04] xiang90 commented on #6088
@gradywang The doc will be updated soon. @joshix It is not in etcd repo. So you cannot send a pr to here. :(

[2016-08-03 16:04] #6088 closed

[2016-08-03 16:31] #6012 closed

[2016-08-03 18:01] xiang90 commented on #6068
@siddontang https://github.com/coreos/etcd/pull/6070

[2016-08-03 20:35] owenhaynes commented on #6091
Will test this with withPrefix

On 3 Aug 2016 5:30 p.m., "Anthony Romano" <notifications@github.com> wrote:

[2016-08-03 21:33] nekto0n opened #6093 "mvcc: cannot detach lease not found"
Hi!
Just encountered a very unexpected issue. I'm using latest etcd and had a key which was used as a lock, i.e. lease attached to it. For some reason lease was there even if I stopped all clients for a while. I decided to remove the key using `etcdctl del`. After running this command whole cluster (5 nodes) went down with error:
[code]
I had to patch `etcd` to ignore this error, after that cluste

[2016-08-03 21:38] xiang90 commented on #6093
is your deployment upgraded from a pre-release version of etcd3?

[2016-08-03 21:45] nekto0n commented on #6093
Not sure, but that's quite possible, yes.

[2016-08-03 21:50] xiang90 commented on #6093
If you have time, probably you can help to reproduce? Set up same lock logic and let lease expire. At the meantime, I will take a look at the lease logic sometime this week.

[2016-08-03 21:51] felixsanz opened #6094 "Migrating from proxy to member documentation improvement"
Sorry if this doesn't belong here, i tried my best.

I also don't know if this process could be improved, but at least documentation can.

Following this guide: [Proxy->member](https://coreos.com/etcd/docs/latest/proxy.html#start-etcd-as-a-new-member), if you created your cluster with discovery url, the contents of this file `/run/systemd/system/etcd2.service.d/20-cloudinit.conf` are as follows:

[2016-08-03 21:59] nekto0n commented on #6093
Thanks for such a prompt response!
I am quite sure I have another etcd ensemble with same issue right now.

[2016-08-04 02:59] #6068 closed

[2016-08-04 03:47] xiang90 commented on #6093
@nekto0n It would be really helpful if you can somehow reproduce it from a fresh cluster.

[2016-08-04 04:02] xiang90 commented on #6093
@nekto0n I think I found the bug. I will try to get a fix soon. It would be great if you can provide me the full etcd log? Is there a snapshot sending/receiving event happened?

[2016-08-04 04:40] heyitsanthony commented on #6091
@owenhaynes for prefixes you'll probably want to do something like `Get(lastElement + "\x00", clientv3.WithRange(clientv3.GetPrefixRangeEnd(prefixStart))` (see `clientv3/mirror/sync.go` for an example)

[2016-08-04 04:56] streamnsight opened #6095 "TLS handshake error from 127.0.0.1:46038: tls: first record does not look like a TLS handshake"
I'm getting a lot of

`etcd2[903]: http: TLS handshake error from 127.0.0.1:46038: tls: first record does not look like a TLS handshake`

after upgrading from 899.15.0 to 1010.6.0 (running kubernetes 1.2.2)

did etcd2 TLS version requirements change from 2.2.3 to 2.3.1?

[2016-08-04 04:57] wuyongxiu commented on #4377
@heyitsanthony  Thanks for your reply. I have followed the instruction to set the env ETCD_LISTEN_CLIENT_URLS and ETCD_ADVERTISE_CLIENT_URLS, but the port can't be accessed by other hosts  yet. I don't know what I did was wrong.
![36](https://cloud.githubusercontent.com/assets/17407521/17390796/e2ad6a94-5a42-11e6-9a09-b4d1d11073e1.png)
![37](https://cloud.githubusercontent.com/assets/17407521/1739

[2016-08-04 05:27] gyuho commented on #4377
It says `bind: address already in use`. Think some other process is using that port. Try again after reboot?

[2016-08-04 06:01] heyitsanthony commented on #4377
@wuyongxiu Could you try verifying the connection on port 2379 between the two machines? This may be a network configuration issue.

Set up a listener on the etcd server host:
[code]
then, send a message from the client machine to the server host:
[code]
Does `testmsg` appear on `v-app1-cloud`?

[2016-08-04 06:14] siddontang opened #6096 "raft: still meet panic for leader lease test"
@xiang90 @swingbach

Seem that https://github.com/coreos/etcd/issues/6068 doesn't be fixed. if `randomizedElectionTimeout = r.electionTimeout`

[code]

[2016-08-04 06:15] wuyongxiu commented on #4377
@heyitsanthony @gyuho  Thank you very much! I fixed it. It is caused by "address already in use". I started an etcd server and didn't shut it down before I rebuilded and run it. Now I can access the 2379 port in other hosts. Thanks all!

[2016-08-04 06:39] nekto0n commented on #6093
@xiang90 I tried to, but I failed to reproduce the bug on fresh/testing installations.

You'd like to look at logs during `etcdctl del` call? Seems like I miss them =(

[2016-08-04 06:41] nekto0n commented on #6093
But as I said, I'm pretty sure I have at least another one cluster, which has similar state and I can issue `etcdctl del` and grab all info you need :)

[2016-08-04 07:47] owenhaynes commented on #6091
That  works cheers, complex for doing pagination

This is just rough code
`
 keyStart := "/item/"
 var currentPos int64
 var resp *etcd.GetResponse
    for currentPos <= offset {
        ctx, cancel := context.WithTimeout(context.Background(), maxDuration)
        out, err := client.Get(ctx, keyStart, etcd.WithRange(etcd.GetPrefixRangeEnd("/item/")))
        resp = out
        cancel()

        if

[2016-08-04 14:46] xiang90 commented on #6093
@nekto0n In the pre-release, there was a bug that if one lease attached with multiple keys, only the first key will be removed. In your case, have you attached multiple keys to one lease?

[2016-08-04 15:21] nekto0n commented on #6093
@xiang90 No, I don't think so.

[2016-08-04 17:45] xiang90 opened #6101 "test: TestIssue2681"
[code]

[2016-08-04 18:34] xiang90 opened #6102 "lease test with recovery"
lease recovery

recovery a key with lease attached
- create a lease A with 5 minute TTL
- create foo attached with lease A
- restart etcd server
- revoke lease A
- verify key foo should be deleted

recover a key deleted by lease revoking
- create a lease A with 5 minute TTL
- create foo attached with lease A
- revoke lease A
- key foo should be deleted
- restart etcd server
- verify key foo should

[2016-08-04 18:35] xiang90 commented on #6102
/cc @gyuho can you write these tests?

[2016-08-04 18:35] gyuho commented on #6102
Sure. Will do.

[2016-08-04 18:40] #6096 closed

[2016-08-04 20:59] janosi commented on #6025
@xiang90 @heyitsanthony Excuse me for the long delay, I read the Chubby paper, and I try to map it to etcd functions. I have some open questions on my mind, would you mind if I asked those here?
First of all, it is not clear for me from the paper, how it can be achieved, that a client can get notification about the disappearing of another client. Let's say, client "A" of Chubby Open() a new node i

[2016-08-04 21:47] xiang90 commented on #6025
@janosi Short answer is:

chubby ties the session to each client. So it has one to one mapping between a client to a session.

In etcd, we remove this limitation. Lease is a logic object. One client can maintain multiple leases, a lease can be maintained by multiple clients.

I will answer other chubby related questions later on.

[2016-08-04 22:21] michael-px opened #6103 "can't add or remove node in unhealthy cluster"
An AWS instance failed that's running etcd 2.3.7 in a container.

I went to the "leader" node of the remaining cluster and tried to remove the dead member and got a "context deadline exceeded" error.  According to various posts, this is due to the cluster being unhealthy.

I tried adding a node to the cluster with the "etcdctl member add", but when I brought up that node, it's cluster ID was diffe

[2016-08-05 00:02] gyuho commented on #5950
@heyitsanthony @xiang90 Here are problems in current 5-node cluster (3-node cluster is stable with any workloads).

- If stresser is too intensive (writes, reads, deletes, etc. with QPS >15,000), etcd-tester fails either
	from `context deadline exceeded` or `etcdserver: too many requests`.

[code]

	This is because at the same time, the server side complains:

[code]

- Lighter workload (QPS <10,0

[2016-08-05 00:52] heyitsanthony commented on #5950
@gyuho divide the per-stresser qps by total number of stressers?

[2016-08-05 00:57] gyuho commented on #5950
Ok will try that. Thanks

On Thu, Aug 4, 2016, 17:52 Anthony Romano <notifications@github.com> wrote:

--
Sincerely,
Gyu-Ho Lee

[2016-08-05 02:59] heyitsanthony commented on #6103
@michael-px

So writes aren't going through and `etcdctl member list` gives 4 members?

How are you starting the new member? I looked through `etcdctl member add` and it looks like it's miscomputing `ETCD_INITIAL_CLUSTER` which could cause a cluster id mismatch.

If quorum is broken, the cluster would need to be rebuilt from backup. https://github.com/coreos/etcd/blob/master/Documentation/v2/admin

[2016-08-05 03:01] xiang90 commented on #6103
Why there are two unhealthy members?

I understand you have 1 dead one due to aws instance issue.

[2016-08-05 04:10] xiang90 commented on #6093
@nekto0n

We made a couple of fixes here: https://github.com/coreos/etcd/pull/6098.

Most of them are on recovery path. Previously, etcd might mess up lease items during crash recovery.

If you can throw some workload onto the patched etcd, it would be great...

[2016-08-05 06:51] shuqilou opened #6110 "release-3.0 etcdmain/config.go format question"
LPUrlsCfgFile  string `json:"listen-peer-urls"`
	LCUrlsCfgFile  string `json:"listen-client-urls"`
-------------------------------------------------------------
ApurlsCfgFile  string `json:"initial-advertise-peer-urls"`
	AcurlsCfgFile   string `json:"advertise-client-urls"`

**The format is differ, and why?** (LP* and Ap*)

[2016-08-05 07:31] heyitsanthony commented on #6110
@shuqilou no particular reason. It's consistent in master. Cf. https://github.com/coreos/etcd/blob/master/embed/config.go#L118-L122

[2016-08-05 08:33] YuleiXiao opened #6111 "Dose Mutex lock with ttl?"
I see the document https://godoc.org/github.com/coreos/etcd/clientv3/concurrency.
etcd ```clientv3``` has its own ```Mutex```, but there is not ttl for ```Mutex.Lock()```.

[2016-08-05 08:40] heyitsanthony commented on #6111
@YuleiXiao yes, the ttl is attached to the client's `Session`. It's currently hard-coded to 1 minute, there's an open issue to make it configurable (#5989)

[2016-08-05 08:41] YuleiXiao commented on #6111
@heyitsanthony OK, thank you very much

[2016-08-05 08:41] #6111 closed

[2016-08-05 09:36] nekto0n commented on #6093
Sure thing! I'll give it a spin during weekend.

[2016-08-05 16:23] michael-px commented on #6103
Timeline.

[3 healthy nodes] -->
AWS shutdown node -->
2 unhealthy nodes + 1 unreachable node -->
add member but node in state "unstarted" (successful* but added with initial-cluster-state set wrong so id is wrong won't join existing cluster) -->
all attempts to add/remove/change cluster fail because it doesn't have quorum

At this point, etcd returns some error but is limping along.   If we bring

[2016-08-05 17:04] michael-px opened #6114 "change isLeader node"
etcd 2.3.7

We had an outage and were able to resurrect the dead node and have it rejoin the 3-node cluster.  But it's the "leader" and is still having problems.  This is production and we can't take the cluster down to migrate to a new one.

How can I change the "isLeader" designation to another node in the cluster that's more healthy?

[2016-08-05 17:10] gyuho commented on #6017
While tuning the stresser, I found that stresser in 5-node cluster doesn't make progress even with higher retry number

[code]

[2016-08-05 17:14] xiang90 commented on #6103
@michael-px

What you have done for fixing a failed node is not recommended. We have docs talking about the exact same problem you faced, and provide detailed instructions here: https://github.com/coreos/etcd/blob/master/Documentation/op-guide/runtime-configuration.md#replace-a-failed-machine.

I am not convinced that we need to override membership at runtime based on your experience. What we can

[2016-08-05 17:26] heyitsanthony commented on #6114
This is in the raft machinery but it's not yet supported on the etcd level. There's a similar PR for this functionality, #6038. Cycling the etcd leader would force an election with the chance of selecting a different leader, but the cluster will reject proposals until the election completes.

[2016-08-05 17:29] michael-px commented on #6103
The "remove first" scenario was considered to risky by our developers, which is why I added first.

So you're position is "it's not broken so we won't fix it" still stands.

I'll escalate this to them.

[2016-08-05 17:32] xiang90 commented on #6103
Do they have a reason for this? I would like to hear. Then we might reconsider the options.

[2016-08-05 17:44] xiang90 commented on #5950
The problem does not really make sense. Even with 10,000 QPS, we should be able to put 30 * 10,000 keys for 30 seconds if we only do put. Now we do put, get, delete, we should be able to do 30/3*10,1000 keys for 30 seconds. Now it is far less than that number (< 10, 000). I do not think it is a QPS issue at all.

[2016-08-05 17:45] xiang90 commented on #5950
We really need to separate the two different issues:

1. small number of commits
2. too many requests

too many requests can be related to QPS. small number of commits should not. Let's fix them one by one instead of trying to fix them all together.

[2016-08-05 17:50] xiang90 commented on #5950
basically I do not quite believe this claim.

need to find some perfect configuration which doesn't trigger etcdserver.ErrTooManyRequests, but is fast enough to not trigger slow commit error.

1000 QPS should far more than enough to stress out the cluster. That is around 30,000 for 30 seconds. Now we have 10000 QPS, and we cannot commit enough. We need to know exact why.

[2016-08-05 17:50] heyitsanthony commented on #6103
@michael-px that's not our position; it's that abandoning quorum is really risky (especially when the cluster is already in a bad way). We're aware that losing quorum is painful, but disabling quorum on membership could lead to full fledged cluster inconsistency and that would be even worse in many applications ("disk geometry corruption" being a candidate for most terrifying). It's too dangerous

[2016-08-05 18:13] gyuho commented on #5950
@xiang90 Right. I will be clearer after investigating further.

[2016-08-05 20:45] ceecko opened #6115 "v2.3.5 fails on delete with server error 500"
We're running a 3 member cluster. We usually set values in batches - i.e. we set ~15 values serially, one after another, through http API.

13 out of 15 values are set using HTTP PUT and 2/15 are removed using HTTP DELETE.
During one batch the 13 PUT values are set without errors but sometimes the one of the DELETE operations fails with server error 500.

On one of the members the log says:

[code

[2016-08-05 21:17] heyitsanthony commented on #6115
@ceecko do you have etcd server logs from around the time the requests time out? It's possible that the cluster is unstable / underspec causing it to occasionally lose the leader and timeout on requests.

[2016-08-06 02:25] #6102 closed

[2016-08-06 07:48] YuleiXiao opened #6120 "Event.PrevKV is always nil after watch in etcd clientv3"
I write a very simple test code about clientv3 ```Watch```. I print every event from ```WatchResponse```, I found that ```Event.PrevKV``` is always nil. But from the comment, it should hold key-value before the event.

[2016-08-06 09:51] ceecko commented on #6115
@heyitsanthony there's actually nothing around the time. Here's to log before and after
[code]

[2016-08-06 15:18] xiang90 commented on #6120
@YuleiXiao You need to set prev_kv in the request to get prev_kv in the response: see https://github.com/coreos/etcd/blob/master/etcdserver/etcdserverpb/rpc.proto#L588. To use client, you need to have withPrevKV option set.

[2016-08-06 15:18] #6120 closed

[2016-08-06 21:10] heyitsanthony commented on #6115
@ceecko OK, the cluster itself seems healthy. I suspect the problem is related to the v2 store.

Some follow up questions:
* Is the delete removing a directory?
* Do the timed out requests delete the data on the cluster or is the data still there?
* What is the typical latency for a request (e.g., `etcdctl get -q somekey`)?
* Does the cluster service many concurrent requests at once?
* How many ke

[2016-08-06 21:31] ceecko commented on #6115
- Is the delete removing a directory?
No it's a key
- Do the timed out requests delete the data on the cluster or is the data still there?
Haven't checked, but when the issue occurs, I'll check.
- What is the typical latency for a request (e.g., etcdctl get -q somekey)?
It's pretty quick, 50-150ms
- Does the cluster service many concurrent requests at once?
There's not high load on etcd in general

[2016-08-06 23:22] xiang90 commented on #6093
Did you implement your own lock? Or you were using our lock implementation? If you were using ours, we actually attach all lock keys onto one lease.

[2016-08-07 10:00] ahosam commented on #2559
us brew install etcd, it work. :D

[2016-08-07 15:32] xiang90 commented on #6025
Watching on ephemeral node is the way to discover client failures. You can proxy all read requests through proxies. So watching might not be that heavy.

Chubby client has internal mechanism to create, revoke, and keepalive a lease. As I mentioned, each Chubby client keeps one lease, and expose it as a concept as session. etcd is more flexible than that. Each clients can have multiple leases with

[2016-08-07 15:32] #6025 closed

[2016-08-07 15:34] xiang90 commented on #6083
@SaMnCo As @gyuho mentioned, you need to pass the tls config, which is a standard TLS configuration object in go.

[2016-08-07 15:34] #6083 closed

[2016-08-07 19:05] doublex opened #6121 "secondary index"
Does etcd support a secondary index?
If yes, which kind of index according to this table:
https://raw.githubusercontent.com/cockroachdb/cockroach/c3bc53a463f0a7036dcea06ac6d109d3ef2aa4fe/resources/doc/scan-efficiency.png

[2016-08-07 21:35] xiang90 commented on #6121
no. it does not support.

[2016-08-07 21:35] #6121 closed

[2016-08-07 22:11] xiang90 commented on #5950
We already fixed the too expensive query stuff. The commit not enough is not a problem in etcd. See https://github.com/coreos/etcd/pull/6123

[2016-08-07 22:11] #5950 closed

[2016-08-08 02:12] YuleiXiao commented on #6120
But I already have ```WithPrevKV``` option. @xiang90

[2016-08-08 02:16] xiang90 commented on #6120
What is the version of etcd are you running?

[2016-08-08 02:19] YuleiXiao commented on #6120
[code]

[2016-08-08 02:19] xiang90 commented on #6120
3.0.2 does not support prevKV. it only supports in master.

[2016-08-08 02:21] YuleiXiao commented on #6120
OK, When will this feature release?

[2016-08-08 02:21] xiang90 commented on #6120
@YuleiXiao Oct. or so.

[2016-08-08 02:22] YuleiXiao commented on #6120
ok, thanks

[2016-08-08 02:25] gyuho commented on #6017
Closing via https://github.com/coreos/etcd/pull/6123.

[2016-08-08 02:25] #6017 closed

[2016-08-08 02:43] xiang90 commented on #5054
@glevand Any progress on CI testing on arm64?

[2016-08-08 03:34] YuleiXiao opened #6125 "Can we return error from txn when if fail?"
Can we return a error from ```Txn.Then``` or ```Txn.Else```? Not execute any operation.

[2016-08-08 03:36] xiang90 commented on #6125
do not quite understand. can you please provide an example?

[2016-08-08 03:46] YuleiXiao commented on #6125
Like this example

[code]

[2016-08-08 03:48] xiang90 commented on #6125
@YuleiXiao I guess you can do that by comparing the resp.succeeded at application level.

[code]

[2016-08-08 03:54] YuleiXiao commented on #6125
But how do I know which condition is OK if I modify code like this and compare ```resp.succeeded```? ```Then``` for ```Else```?

[code]

[2016-08-08 03:55] xiang90 commented on #6125
this is ok. you can just keep else empty.

[2016-08-08 03:56] xiang90 commented on #6125
succeeded just means the compare succeeded. so that then statement is executed.

[2016-08-08 04:05] nekto0n commented on #6093
I used your `Session` implementation. Couldn't use `Lock` because I found no way to stop worker, when lease expires. Either way, at the moment I use only one lock per process.

[2016-08-08 04:11] xiang90 commented on #6093
Can you please create an issue for the lock thing? We can improve it. I cannot really figure out where was the bug... We changed quite a lot stuff since 2.3.x to 3.0. I think we can close this for now. Let us know if it happens again. It would be great if you can reproduce.

[2016-08-08 04:11] #6093 closed

[2016-08-08 04:24] nekto0n commented on #6093
Yeah, sure. Just thought it tried to look like `sync.Mutex`, which cannot be unlocked behind your back :)

[2016-08-08 04:25] nekto0n commented on #6093
BTW, I built and installed etcd from master and still something is holding lock file. Can I now remove it with `etcdctl` without shutting down whole ensemble?

[2016-08-08 04:46] heyitsanthony commented on #6093
@nekto0n what do you mean by lock file?

If `etcd` is refusing to start, then an etcd process is still running on the target member directory and needs to be stopped before running the new version of etcd. It can be done one-by-one so the cluster stays up.

If the mutex is still held, you could try revoking the lease on the mutex key with the lowest create revision which will abort the holder's se

[2016-08-08 04:48] nekto0n commented on #6093
Sorry for being vague. By lock file I meant "file with attached lease". I confirm, that issue is fixed, after removing file with stale lease I got an error `E | mvcc: cannot detach lease not found`, not panic.

[2016-08-08 04:54] nekto0n opened #6127 "Need a way to know when `concurrency.Mutex` is no longer held"
Current implementation of `Mutex` provides no way for user to be notified when lock is no longer held, e.g. if lease expired due to connectivity problems, thus IMHO limiting it's use in real world environment.

[2016-08-08 05:05] heyitsanthony commented on #6127
@nekto0n I think right now `<-NewSession(client).Done()` will work? It's a little racey though since if the mutex session expires, calling NewSession() will allocate a new one; the `Done()` channel would need to be fetched before calling `Lock()`.

The concurrency constructors should probably just force everything to pass in a session instead of trying to fake a session per client like it does now

[2016-08-08 05:07] xiang90 commented on #6093
@nekto0n If you start with a fresh cluster, even that error should not ever appear. Or there is still a bug some where.

[2016-08-08 05:14] nekto0n commented on #6127
Or maybe `Lock()` itself could return `done` channel. Or, another approach - lock could accept a callable, which will be started/stopped upon lock/unlock events. Something like [that](http://pastebin.com/0j6d79aJ), but smarter.

[2016-08-08 05:25] nekto0n commented on #6093
@xiang90 Right, I failed to reproduce this with a fresh cluster. Thanks a lot for your help!

[2016-08-08 05:35] heyitsanthony commented on #6127
@nekto0n `Lock()`/`Unlock()` probably should only have a synchronous interface in the client; better to keep the interfaces as simple as possible. That sort of callback interface can be layered on top of the base `Mutex` implementation if necessary.

It seems like all the concurrency primitives should be unified around `Session` since internally that's the liveness primitive and lock expiry is a s

[2016-08-08 06:09] nekto0n commented on #6127
Maybe it will be useful to have an example in pseudo code, how typical use case could look like? Start from user story. Right now I think that user will have to manage two objects: `Session` (which can expire and needs to be recreated) and `Mutex.Lock` (which can fail because of session expiration or some other reason). Seems not very simple.

I've shown my use case. It boils down to some runnable

[2016-08-08 07:24] SaMnCo commented on #6083
@gyuho, Superb thanks. I will give it a try.

On Sun, Aug 7, 2016 at 5:34 PM, Xiang Li <notifications@github.com> wrote:

--
SaM'n'Co
R'U Ready? I was BORN ready!

[2016-08-08 07:41] heyitsanthony commented on #6127
@nekto0n You could have an abstraction that binds the session to the client instead of relying on `concurrency.Session` to do it. The client needs to be managed in some way regardless, so I don't think it's significantly more complicated than what's needed now for what you're suggesting:

Client with session attached:
[code]

Runnable with lock:
[code]

Does this seem like a reasonable model?

Mut

[2016-08-08 14:43] eho-eho opened #6128 "etcd3 api documentation"
I work in a primarily java and python organization. We would like to start integrating etcd3 into our system. I understand that etcd3 is still in alpha, but by the time we are done with dev/integration work etcd3 will most likely be production ready.
To that end  I was looking for documentation, similar to v2 api docs ("Communicating with etcd" section at https://coreos.com/etcd/docs/latest/), on

[2016-08-08 16:37] gyuho commented on #6128
@eho-eho We have reference doc for v3 api https://github.com/coreos/etcd/blob/master/Documentation/dev-guide/api_reference_v3.md.

If you look for Java client, we have https://github.com/coreos/jetcd.

You can do the same thing for Python. Generate Protocol Buffer files in Python, and write client code in Python.

[2016-08-08 16:41] xiang90 commented on #6128
@eho-eho Proto is the API spec and it is stable. We do not have an API spec for v2, the doc for v2 is example style. We now use etcdctl as example doc: https://github.com/coreos/etcd/blob/master/Documentation/dev-guide/interacting_v3.md

I understand not all people are comfortable reading protos. We are still trying to figure out the best approach here.

[2016-08-08 17:46] eho-eho commented on #6128
@gyuho
Thanks for the pointer to jetcd.
@xiang90
Thanks for the link. I'm OK with reading protos. The only thing that I was wondering about is stability. Don't like when things change under me, that's all.

[2016-08-08 17:57] xiang90 commented on #6128
@eho-eho We will make it backward compatible. So closing this issue.

[2016-08-08 17:57] #6128 closed

[2016-08-08 19:00] gyuho commented on #5947
@heyitsanthony I can only reproduce with concurrent run on this test.

[code]

Have you ever seen Semaphore running tests concurrently?

Our test script runs only sequentially as far as I can tell.

[2016-08-08 19:33] heyitsanthony commented on #5947
@gyuho e2e tests shouldn't run concurrently. Maybe something (TIME_WAIT connections?) is keeping the port from rebinding on etcdserver restart? Only the release upgrade test is doing one-by-one restart...

[2016-08-08 19:34] gyuho commented on #5947
This is most likely from the OS (reproducible with conflicting ports)

[code]

The port might not have been freed up by the time we restart the cluster with the same port.

[2016-08-08 19:37] xiang90 commented on #5947
@gyuho Do you print out logging by default? Anything we can do to improve it by avoiding the port issue?

[2016-08-08 19:37] gyuho commented on #5947
I will try what Anthony suggested

[2016-08-08 19:53] xiang90 commented on #6125
Assuming the questions is answered. Closing.

[2016-08-08 19:53] #6125 closed

[2016-08-08 19:54] xiang90 commented on #6110
I think the questions is answered. Closing.

[2016-08-08 19:54] #6110 closed

[2016-08-08 19:56] xiang90 commented on #6095
No. I do not think so.

But we set a min TLS version in 3.0 release: see https://github.com/coreos/etcd/pull/5541.

[2016-08-08 19:56] #6095 closed

[2016-08-08 21:35] tejasmanohar commented on #5213
just wondering, were you able to determine if this was a client or server issue w/ grpc?

[2016-08-08 21:40] heyitsanthony commented on #5213
@tejasmanohar probably the interaction between both.

[2016-08-08 21:41] #5947 closed

[2016-08-08 21:48] glevand commented on #5054
@xiang90 still working on the arm64 CI, but nothing to report yet.

[2016-08-08 22:00] xiang90 commented on #5054
@glevand Is it possible to finish this up before Oct? Or I have to move this to 3.2 milestone.

[2016-08-08 22:30] glevand commented on #5054
@xiang90 Our goal is to have it for v3.1.0.  I'll bump the priority.

[2016-08-08 22:31] xiang90 commented on #5054
@glevand Thanks!

[2016-08-08 22:40] imkira opened #6133 "panic: unexpected error from lease detach"
I am using etcd v3.0.4 (release) with a 3 node cluster using the following config:

[code]

For another reason the cluster crashed and now when I try to boot up node 2, I get this:

[code]

Is this supposed to be fixed by #6098 ?

[2016-08-08 22:56] xiang90 commented on #6133
@imkira Is it a fresh cluster from 3.0.4? Or it was an old cluster upgraded to 3.0.4? Are you able to reproduce the issue?

[2016-08-08 23:15] xiang90 commented on #6133
@imkira Can you send the data dirs of the 3 nodes to me at xiang.li@coreos.com?

[2016-08-08 23:53] imkira commented on #6133
@xiang90 it is a fresh new cluster.
Yes, I just need to restart etcd. I have just sent you the log.
Thanks in advance.

[2016-08-08 23:58] xiang90 commented on #6133
@imkira Do you have data dirs for other members? Do other member also panic?

[2016-08-08 23:59] imkira commented on #6133
@xiang90 Yes I do have the data dirs. No, they don't panic. I will send them right away.

[2016-08-09 00:15] gyuho commented on #5929
I haven't been able to reproduce, but based on the log...

We can tell [defer epc.Close()](https://github.com/coreos/etcd/blob/master/e2e/etcd_release_upgrade_test.go#L46-L50) is hanging forever waiting to receive from `ep.donec` https://github.com/coreos/etcd/blob/master/e2e/etcd_test.go#L433.

Because `ep.donec` should have been closed by [`waitReady`](https://github.com/coreos/etcd/blob/master/

[2016-08-09 00:16] imkira commented on #6133
@xiang90 just sent you the data dirs now. Thanks in advance

[2016-08-09 00:35] xiang90 commented on #6133
Do you still have the etcd server log before crashing?

[2016-08-09 02:01] imkira commented on #6133
@xiang90 Yes I do. I have just sent you. Please take a look. Thanks

[2016-08-09 02:32] xiang90 commented on #6133
I looked into the data dirs, and I can confirm you that your issue is fixed by #6098.

For the huge memory usage issue, can you please open another issue?

[2016-08-09 02:32] #6133 closed

[2016-08-09 02:51] heyitsanthony commented on #5929
@gyuho I don't think that will make a difference, otherwise more e2e tests would be failing. I suspect this is why `donec` wasn't closing: https://github.com/coreos/etcd/commit/6b487fb1991b73d3da626e9afc8b535790131f00#diff-05b1f8b1c4ac72beaf21242730b7e33cL395 -- if `Expect` fails, `donec` will never close. If `epr.proc.Stop()` fails, `Restart` will exit without waiting on `donec`. The test will th

[2016-08-09 02:55] gyuho commented on #5929
@heyitsanthony Right, makes sense.

This failure never happened since that commit you mentioned.

[2016-08-09 03:25] YuleiXiao commented on #6125
I am confused about this. ```Txn.Commit``` return two values ```error``` and ```TxnResponse```.
I understand that ```error``` means ```Commit``` success or not. ```TxnResponse.Succeeded``` means compare is true or false.
But like the example, if compare is false, there is nothing to execute in txn. ```error``` is still nil? When ```error``` is a real error?
If ```txn.If``` have multi-compare, what

[2016-08-09 03:26] heyitsanthony commented on #6125
@YuleiXiao for `If(x, y, z)`, `resp.Succeeded == x && y && z`

[2016-08-09 03:28] imkira opened #6134 "memory leak in clientv3 / server v3.0.4 ?"
I have written a small program that reproduces what appears to be a memory leak in both client and server processes.

The example is contrived, but simulates 100 different clients watching a value, getting it, and then repeating. I know I am supposed to use one watch channel until it is over, but for some reason I ended up using context deadline cancellation to deal with it more easily.

Apparentl

[2016-08-09 03:28] imkira commented on #6133
Thanks a lot!

I have just filed issue #6134 to address the memory usage problem.

[2016-08-09 03:34] imkira commented on #6134
@xiang90 This is the memory usage problem I told you about. Could you please take a look into this?

[2016-08-09 04:39] YuleiXiao commented on #6125
@heyitsanthony when ```txn.Commit``` will fail?

[2016-08-09 04:43] heyitsanthony commented on #6125
@YuleiXiao `resp.Succeeded == false` if any condition `x, y, z, ...` in  `If(x, y, z, ...)` is false. `txn.Commit()` will only give `err != nil` if the transaction had a problem executing (e.g., leader failure, connection failure, invalid permissions, etc).

[2016-08-09 05:04] YuleiXiao commented on #6125
How to know which condition in ```If(x, y, z, ...)``` fail? @heyitsanthony

[2016-08-09 05:27] heyitsanthony commented on #6125
@YuleiXiao You have to fetch the key in the `Else` clause and check it yourself.

[code]

[2016-08-09 06:30] zbindenren opened #6135 "clientv3: go get fails"
I used, as described in the documentation, the following command to install the clientv3 package:

[code]

And I go the error:
[code]

I found the closed issue #5671 but this does not seem to solve the issue.

My go version:
[code]

[2016-08-09 07:12] nekto0n commented on #6127
Looks really promising, except that `doRunnable` must be wrapped in a loop too in order to recreate `Session` and run again.

Oh, looked at this method and didn't understand it's purpose. Now I see that it is a fencing mechanism in case there is no other way in particular user model to perform CAS operation. Elegant thing.

[2016-08-09 15:59] xiang90 commented on #5929
@heyitsanthony @gyuho OK. So probably the root cause is the stuff we fixed yesterday.Let's close this for now. Reopen if this happens again.

[2016-08-09 15:59] #5929 closed

[2016-08-09 16:02] gyuho commented on #5929
Yeah this should be fixed. Ran over 10K rounds on this test with no failure. Will reopen if that happens again.

[2016-08-09 16:04] xiang90 commented on #4668
We do not have to put this into functional tester. Let's make an integration test for this?

[2016-08-09 16:26] gyuho commented on #4668
@xiang90 Ok, I will write integration tests instead. Thanks.

[2016-08-09 16:28] gyuho commented on #6135
Can you update `github.com/golang/protobuf` in your `$GOPATH`? etcd clientv3 doesn't enforce vendoring so it will still depend on your workspace to build it.

Or you can `godep restore` in etcd's `cmd` directory, if you want the same dependency as etcd releases.

[2016-08-09 16:48] zbindenren commented on #6135
[code]
solved the issue. Thx.

[2016-08-09 16:48] #6135 closed

[2016-08-09 16:50] xiang90 commented on #6103
@michael-px I am closing this out since I feel we have explained the reason in detail. We would like to know why your engs think adding first is better. If there is a valid reason, we might reconsider your suggestion. Thanks.

[2016-08-09 16:50] #6103 closed

[2016-08-09 17:23] #6134 closed

[2016-08-09 17:31] xiang90 commented on #6091
@owenhaynes We do not have plan to make it work well with withSort. If you have time, please contribute :). Closing this issue since the original problem is resolved.

[2016-08-09 17:31] #6091 closed

[2016-08-09 18:50] xiang90 commented on #6057
@steveeJ Do you have time to get this fixed?

[2016-08-09 19:56] bacongobbler commented on #5461
I hit this same roadblock as well using discovery.etcd.io. No networking issues on my end. From within my vagrant machine:

[code]

Token was created with `curl -s -w '\n' https://discovery.etcd.io/new?size=3`. I'll try and see if I can use DNS Discovery instead.

[2016-08-09 20:02] bacongobbler commented on #5461
Also, logs from etcd2:

[code]

[2016-08-09 20:04] xiang90 commented on #5461
there is 5 seconds http timeout. etcd cannot wait forever. the first create request is not retryable. There is either network issue at your side or a temp failure on the discovery service or something else in between.

[2016-08-09 21:11] bacongobbler commented on #5461
I moved to AWS and it worked there so I guess there's some odd slow bottleneck on my local network. `time curl https://discovery.etcd.io` takes 5.856s on my computer, but 0.283s on my laptop (same network). I'll look into it.

Some form of documentation about this specific error on https://coreos.com/etcd/docs/latest/ would be helpful to identify this issue in the future. Thanks!

[2016-08-09 21:52] aaronlehmann opened #6138 "Make WAL segment size configurable"
I've encountered a few problems around segment size in swarmkit unit tests that use the coreos/etcd/wal package:

- A test that covers WAL rotation has to propose 64 MB of data, which is too much for our CI system to handle across several cluster nodes that replicate this data in memory.

- As of 24b806d2eefdad3fb3eba765867c1f255eba35f3, WALs preallocate the entire segment size. This causes a big

[2016-08-09 22:06] gyuho commented on #6138
Interesting. What are your CI system environment and workload? Thanks.

[2016-08-09 22:08] heyitsanthony commented on #6138
@aaronlehmann I think all that's necessary is making `segmentSizeBytes` (https://github.com/coreos/etcd/blob/master/wal/wal.go#L46) public? Please submit a PR?

[2016-08-09 22:10] xiang90 commented on #6138
@aaronlehmann We call pre-allocate internally, which should almost like a noop in advanced fs. Also this is done in parallel with other disk operations. However, on some fs it might equal to a huge write. The huge write might block other on going small writes.

[2016-08-09 22:16] aaronlehmann commented on #6138
Yes, I think this is what's happening. I was testing on OS X, which has a very primitive filesystem. I just tested on Linux, and I'm not seeing the same problem there. The tests appear to run significantly *faster* with the newer etcd repo vendored.

Still, I'd like to find a resolution for this, since it's causing problems with the test on Macs (and the other issue about making it easier to test

[2016-08-09 22:17] xiang90 commented on #6138
@aaronlehmann Yes. Please send a patch. Thank you!

[2016-08-09 23:04] xiang90 commented on #6114
@michael-px Does @heyitsanthony's reply answer your question?

[2016-08-09 23:18] michael-px commented on #6114
Not satisfactorily. No.

Seems I can't change the leader.  So when it goes down (or I take it down),
how do I maintain a healthy cluster if I have to remove a node _first_
instead of adding a node. This whole approach is bass-ackwards.

Like the famous philosopher said, when you stare into the void, the void
stares also; but if you *cast* into the void, you get a type conversion
error. Either way

[2016-08-09 23:22] xiang90 commented on #6114
@michael-px

Please keep the discussion technical here.

If a leader goes down, it will become follower AUTOMATICALLY. That is how raft works. If you want to transfer the leadership from a healthy member to another, it is not supported right now. There is an ongoing effort to make it possible. But it would be great to know why you want to do it.

[2016-08-09 23:25] michael-px commented on #6114
Because I want to remove the leader from the cluster. It’s a sick puppy and
I can’t add a node _first_. I have to remove the leader, create an
unhealthy cluster, then try to add a node to an unhealthy cluster.

As I said — bass-ackwards.

Like the famous philosopher said, when you stare into the void, the void
stares also; but if you *cast* into the void, you get a type conversion
error. Either wa

[2016-08-10 01:42] heyitsanthony commented on #6114
@michael-px OK, here's the reasoning behind removing a member before adding its replacement. I believe it is straightforward, and hardly backwards, but please correct me if I'm wrong.

etcd employs distributed consensus based on a quorum model; (n+1)/2 members, a majority, must agree on a proposal before it can be committed to the cluster. These proposals include key-value updates and membership c

[2016-08-10 01:42] xiang90 opened #6141 "TestWatchCancelImmediate timed out"
log:

https://gist.github.com/xiang90/22c122daaab6f3987cb5f0e94f77e215

/cc @heyitsanthony

[2016-08-10 01:51] imkira commented on #6134
Thanks a lot. I am eager to try the new version.

[2016-08-10 02:54] xiang90 commented on #6134
@imkira Probably compile the master branch and give it a try. If the problem still exists, please report back.

[2016-08-10 03:39] #6138 closed

[2016-08-10 03:41] xiang90 commented on #5386
@nekto0n Do you want to help on this one?

[2016-08-10 03:53] #6141 closed

[2016-08-10 09:32] siddontang opened #6143 "raft: raft log `must_check_outofbounds` may meet overflow error."
@xiang90

We try port raft in https://github.com/pingcap/tikv/pull/912 but find the overflow panic. Seem that https://github.com/coreos/etcd/blob/master/raft/log.go#L342, if the peer has no log, the first index is 1 and last index is 0.
If go, `0 - 1 + 1` is ok, but in rust, this causes panic.
Do we need to check this case here?

[2016-08-10 09:38] shuqilou opened #6144 "Question about configuration file"
we know that etcd can be started in three ways (in the old version): command line, environment variable, and configuration file. My question is why not started with the configuration file in the new version? As far as I know, the new etcd doesn't support the function of configuration file.

[2016-08-10 10:07] shyamradhakrishnan opened #6145 "etcd range response count attribute is coming as limit + 1"
The scenario is as follow. I do few put requests with keys as follows
./etcdctl put key1 value1
./etcdctl put key2 value2
./etcdctl put key3 value3
./etcdctl put key4 value4
./etcdctl put key5 value5

Then I do  a  range response as follows
./etcdctl --write-out="json" get --limit="2" key1 key5

In the resulting response, the count variable is coming as 3("count":3)

Is this expected? I think the

[2016-08-10 11:46] shyamradhakrishnan opened #6146 "etcd transaction returning incremented index even though the operation did not happen"
If an etcd transaction is executed which could not delete the specified key, then in the return response, the revision is incremented, even though the revision is not actually incremented in the etcd store.
suppose the index before this operation is 6
For example
./etcdctl --write-out="json" txn -i
compares:

success requests (get, put, delete):
del "key8"

failure requests (get, put, delete):

He

[2016-08-10 14:47] jmcollin78 commented on #2780
For your information, If you lost your data dir and datas are not too large, you can also:

    remove the old member via dynamic configuration API
    add the new member via dynamic configuration API
    remove all residuals datas : `rm -rf /var/lib/etcd2/*`
    start etcd with initial-cluster=existing

The new member will be added to the cluster and download a set of datas.

[2016-08-10 15:41] eho-eho opened #6148 "Question about etcd3 security"
How did etcd3 security model change from etcd2?
I could not find any documentation or examples of how to use TLS with etcd3. The only doc that talks about security model in any depth that I have managed to find is: https://github.com/coreos/etcd/blob/master/Documentation/op-guide/security.md which talks about etcd2 security model.
Is etcd3 peer to peer security model the same as in etcd2?
How to c

[2016-08-10 15:54] michael-px commented on #6114
This is good stuff. It should be added to the documentation.

If the developers had read this first, maybe they wouldn’t have said “I don’t care what the web site says, add a member first.”

--
Like the famous philosopher said, when you stare into the void,
the void stares also; but if you *cast* into the void, you get a
type conversion error. Either way lies madness. -- Charles Stross

[2016-08-10 16:16] xiang90 commented on #6143
@siddontang Sending a patch to make the checking stricter is fine with me

[2016-08-10 16:22] gyuho commented on #6148
@eho-eho

For users, setup should be pretty much the same as etcdv2 as in https://github.com/coreos/etcd/blob/master/Documentation/op-guide/security.md#basic-setup.

If you try out with example, please try https://github.com/coreos/etcd/tree/master/hack/tls-setup.

[2016-08-10 16:28] heyitsanthony commented on #6144
@shuqilou it's still supported. Use `etcd --config-file config.yml`. For an example configuration, see https://github.com/coreos/etcd/blob/master/etcd.conf.yml.sample

Loading from a config file isn't populating the configuration with the defaults in case the fields aren't set, so that's a bug. Will fix.

[2016-08-10 16:34] xiang90 commented on #6146
Your txn does not fail. It is executed with deleting nothing. Txn only fails if the operations are invalid (attaching a non existing lease to a key for example).

[2016-08-10 16:35] xiang90 commented on #6145
It is not expected. Seems like a bug. We will look into this.

[2016-08-10 16:39] eho-eho commented on #6148
Thank you for your response. If I understand you answer correctly, the security model did not change from v2 to v3, correct?
How would you pass client certificates to the etcd3 client?

[2016-08-10 16:48] gyuho commented on #6148
This is frequently asked. I will document exactly how you can do it with code examples, shortly.

[2016-08-10 16:49] xiang90 commented on #6148
How would you pass client certificates to the etcd3 client?

Yes. It is correct. I am closing this issue.

[2016-08-10 16:49] #6148 closed

[2016-08-10 17:31] eho-eho commented on #6148
How would you pass client certificates to the etcd3 client?

[2016-08-10 18:42] #6145 closed

[2016-08-10 18:51] heyitsanthony commented on #6148
@eho-eho By setting the `TLS` field in `clientv3.Config` (https://godoc.org/github.com/coreos/etcd/clientv3#Config)

[2016-08-10 21:29] xiang90 commented on #6041
@heyitsanthony I think probably a retry happened during the test. The removal actually succeeded. Probably we should just mark member not found as a valid output?

[2016-08-10 21:36] heyitsanthony commented on #6041
@xiang90 where does MemberRemove retry, though?

[2016-08-10 21:41] xiang90 commented on #6041
@heyitsanthony clientv2? I think it has some retry logic somewhere...

[2016-08-10 21:42] xiang90 commented on #6041
@heyitsanthony Probably you need to add onshot ctx to member API? but retry member remove is OK?

[2016-08-10 21:42] heyitsanthony commented on #6041
@xiang90 but this is an etcdctlv3 test, it uses clientv3...

[2016-08-10 21:45] xiang90 commented on #6041
@heyitsanthony Oh....... no idea. probably we have a bad retry logic in v3 client somehow?

[2016-08-10 21:48] heyitsanthony commented on #6041
@xiang90 nope, already checked. If it's retrying, then it's grpc doing something sneaky. My theory is there's a subtle race in the etcd server with respect to membership handling.

[2016-08-10 21:49] xiang90 commented on #6041
@heyitsanthony OK... We need to get reproduced somehow. Back to the original point. :P

[2016-08-10 22:00] xiang90 commented on #6000
@Yancey1989 I am closing this out due to low activity. As previously mentioned, we can see from the log that someone sent a sigterm/sigint to etcd.

[2016-08-10 22:00] #6000 closed

[2016-08-10 22:01] xiang90 commented on #6144
@heyitsanthony is #6151 fixed this issue? shall we backport the fix?

[2016-08-10 22:09] xiang90 commented on #6094
@felixsanz I do not really think it belongs here. If you use any existing config, then it is all on you to manage it afterwards. Yes, it might override the ENV you provided, but that is not an etcd issue I feel.

[2016-08-10 22:11] xiang90 commented on #6094
@felixsanz Probably it makes sense to clearly state that users need to clear all previous configuration and use the new one before restarting the process in this section: https://coreos.com/etcd/docs/latest/proxy.html#start-etcd-as-a-new-member?

[2016-08-10 22:14] heyitsanthony commented on #6144
@xiang90 only master is affected since `embed` is not in release-3.0. The example config works fine in 3.0.4.

[2016-08-10 22:27] #6144 closed

[2016-08-11 05:43] Yancey1989 commented on #6000
@xiang90 Hi, deleted the data folder  and the etcd cluster will be work will, thanks !

[2016-08-11 08:13] felixsanz commented on #6094
Yea, i bet i'm not the only one who wasted some hours because docs don't tell you to remove discovery/previous configuration :/

[2016-08-11 10:43] shyamradhakrishnan commented on #6146
Sorry, I dont think I made myself clear. The transaction did not fail, but since ther was no operation performed(i.e. the key could not be deleted), the revision in the transaction response should not be incremented.
So for example the transaction response in my case was
{"header":{"cluster_id":14841639068965178418,"member_id":10276657743932975437,"revision":28,"raft_term":3},"succeeded":true,"res

[2016-08-11 11:03] shenshouer opened #6158 "Use clientv3 github.com/coreos/etcd/clientv3/client.go:50: undefined: Config"
`etcdv3test.go` code like:
[code]

And

[code]

[2016-08-11 12:07] johnyannj opened #6159 "why become so slower when enable auth?"
time curl -H "Authorization: Basic XXXXXXXXXXXX" http://192.168.22.161:2379/v2/keys/a
{"errorCode":100,"message":"Key not found","cause":"/a","index":8162}

**real    0m0.137s**
user    0m0.000s
sys     0m0.000s

time curl  http://192.168.22.161:2379/v2/keys/a
{"errorCode":100,"message":"Key not found","cause":"/a","index":8162}

**real    0m0.003s**
user    0m0.004s
sys     0m0.000s

[2016-08-11 12:07] johnyannj commented on #6159
v2.3.6

[2016-08-11 13:38] mitake commented on #6159
It is because v2 auth executes costly bcrypt function in every request processing. You would be able to avoid the overhead with TLS certification that can be enabled by `--client-cert-auth`.

[2016-08-11 14:51] xiang90 commented on #6159
@johnyannj As @mitake mentioned, etcd v2 auth check auth per request. You can enable client-cert-auth and add username into CN of the client cert. Then it should be much faster.

[2016-08-11 14:51] #6159 closed

[2016-08-11 14:52] xiang90 commented on #6094
@felixsanz Can you send a patch to make it more clear? I can do that later if you do not have time. Thank you!

[2016-08-11 15:02] xiang90 commented on #6146
@shyamradhakrishnan Now I see what you were saying. I will take a closer look.

[2016-08-11 15:04] gyuho commented on #6158
What etcd branch so you have?

[2016-08-11 15:18] xiang90 commented on #4446
protobuf 3 is release: https://github.com/google/protobuf/releases/tag/v3.0.0

proto3 syntax is in the stable release. so closing.

[2016-08-11 15:18] #4446 closed

[2016-08-11 16:15] xiang90 commented on #6143
already fixed by #6157

[2016-08-11 16:15] #6143 closed

[2016-08-11 16:55] gyuho commented on #6060
@heyitsanthony Happened again?

[code]

https://semaphoreci.com/coreos/etcd/branches/master/builds/760

[2016-08-11 17:14] felixsanz commented on #6094
My english is not good enough to patch documentations, sorry. Whenever i try to do it, the PR needs corrections xD (and it takes me a looooooot of effort)

[2016-08-11 20:51] hongchaodeng opened #6162 "Revisiting clientv3.New() connection model"
In v2 client New(), it just creates some http transports and connections happen when you make an api call. Hence it won't block on New().

In v3 client New(), it dials out to establish the grpc connection. It blocks and returns error if it failed to connect.

It would be ideal if we can support non-blocking clientv3.New() for some use cases.

[2016-08-11 20:51] hongchaodeng commented on #6162
@xiang90 @heyitsanthony @timothysc

[2016-08-11 20:55] timothysc commented on #6162
This was the root of the UT failures when enabling v3client, but it also exposed suppositions on some of the k8s tests.
/cc @wojtek-t

[2016-08-12 00:03] gyuho commented on #5658
@mattfarina I reported the issue that etcd is facing here https://github.com/Masterminds/glide/issues/546

Thanks!

[2016-08-12 06:20] wojtek-t commented on #6162
Great catch - thanks for letting me know.

[2016-08-12 08:58] HardySimpson commented on #5941
another idea, can use  consistent hashing to distribute object among clients

[2016-08-12 10:01] heyujiaan opened #6164 "etcd3.0.0: etcdctl and curl"
If I use curl to store a KV, and then through the tool etcdct to get the KV, found that there is no the KV,The opposite is also the result.
1../etcd 启动etcd
2.curl http://127.0.0.1:2379/v2/keys/a -XPUT -d value="bbbbbbbbbbbbb"
3../etcdctl get --endpoints=127.0.0.1:2379  a
you will find  that you have nothing to get,why?

[2016-08-12 10:22] shenshouer commented on #6158
the master

[2016-08-12 14:55] gyuho commented on #6158
It works for me? Can you clone master branch and try again?

[2016-08-12 16:11] heyitsanthony commented on #6164
That's not a valid flag; etcd should refuse to start. What version of etcd are you running? What is the `curl` output?

This is the output using the master branch:
[code]

[2016-08-12 16:26] gyuho commented on #6158
Or please make sure etcd repo is in your GOPATH

[2016-08-12 17:57] #6162 closed

[2016-08-12 19:14] #6146 closed

[2016-08-12 19:19] xiang90 commented on #6158
I am sure there is something wrong on your go setup or the etcd client version you are using. This is not an etcd issue. So closing.

[2016-08-12 19:19] #6158 closed

[2016-08-12 19:19] xiang90 commented on #6114
@michael-px Anything more we can help on this issue?

[2016-08-12 19:29] xiang90 commented on #6164
I cannot reproduce this either. So closing. Please report back with more information if this problem still exists. (like what is the output of curl, what is the output of etcdctl?)

[2016-08-12 19:29] #6164 closed

[2016-08-12 19:37] michael-px commented on #6114
no close it.

Like the famous philosopher said, when you stare into the void, the void
stares also; but if you *cast* into the void, you get a type conversion
error. Either way lies madness. -- Charles Stross
The pure and simple truth is rarely pure and never simple.--Oscar Wilde

On Fri, Aug 12, 2016 at 12:20 PM, Xiang Li <notifications@github.com> wrote:

[2016-08-12 19:49] #6114 closed

[2016-08-12 21:14] gyuho commented on #4668
Closing via https://github.com/coreos/etcd/issues/6140.

network partition tests are enough, because when there's no leader (2 / 2 partition in 4 node cluster), cluster cannot progress anyway.

In addition, now strict-reconfig is set by default.

[2016-08-12 21:14] #4668 closed

[2016-08-12 21:35] timothysc commented on #6162
@smarterclayton do we have any requirements on apiserver startup behavior blocking vs. non-blocking?

[2016-08-13 16:18] xiang90 commented on #4625
Low activity. Please reopen if this is still an issue for you.

[2016-08-13 16:18] #4625 closed

[2016-08-13 17:56] xiang90 commented on #6094
@felixsanz

Actually the doc is accurate. It says

[code]

Cloud init actually fails into this case. It generates systemd file. I do not think etcd doc should mention cloud init at all. Probably users who use cloud init should understand that it generates systemd file.

[2016-08-13 17:56] #6094 closed

[2016-08-13 22:16] smarterclayton commented on #6162
Right now we do polling to see if the etcd server is up before continuing, then we fail if it never responds in X seconds.

[2016-08-14 21:54] gyuho opened #6174 "*: use Go 1.9+"
- [x] Replace import paths of `golang.org/x/net/context` with `context` within etcd (done via https://github.com/coreos/etcd/pull/8511)
- [x] Coordinate with external projects that imports etcd packages with `context` packages
  - [x] discovery, client, clientv3, raft
  - [x] Communicate with Kubernetes (done via https://groups.google.com/d/msg/kubernetes-dev/_YcpsDSSOW0/Aifxsub-CQAJ)
  - [x] Comm

[2016-08-15 02:18] heyitsanthony opened #6176 "TestNetworkPartition5MembersLeaderInMajority: member has no leader"
via https://semaphoreci.com/coreos/etcd/branches/master/builds/770

[code]

[2016-08-15 02:20] dghubble opened #6177 "Document running etcd3 under rkt"
Add rkt-specific examples and documentation to [op-guide/container.md](https://github.com/coreos/etcd/blob/c68d60c99f25de19ecb7d84cc4a3433310a233a0/Documentation/op-guide/container.md) showing a 3-node cluster.

cc @gyuho

[2016-08-15 02:52] yorksen opened #6178 "does etcd support mutual authentication?"
As I know, etcd supports SSL authentication between client and etcd,  etcd peers as well.  but the official documents doesn't mention whether it support mutual authentication and how to configure it.

please give me some suggestion.

[2016-08-15 04:04] dghubble commented on #6177
I eventually got https://github.com/coreos/coreos-baremetal/pull/315/files to work. You might look at that to come up with a container example to save others from the trial and error here.

[2016-08-15 09:30] cskarby opened #6180 "etcdctl not reading username from environment"
According to https://github.com/coreos/etcd/blob/master/etcdctl/READMEv2.md#username-and-password the environment variable ETCDCTL_USERNAME should be used if set, but it seems to have no impact. Autentication is enabled for etcd and all permissions for role guest are removed.

$ etcdctl --version
etcdctl version 2.3.2
$ export ETCDCTL_USERNAME=root:password
$ etcdctl ls /
Error:  110: The request

[2016-08-15 12:50] workhardcc opened #6181 "request cluster ID mismatch (got $id_a want $id_b )"
version:3.04
There is a vm I used to be one node of a etcd cluster. Now I want to change this vm to be a independent etcd cluster(just itself). I stop the etcd service first, then remove the previous data-dir to clean up the member information(`rm -rf /home/etcd_data/*`, even last reboot the vm). However,  when I start it (`systemctl start etcd`) there are a lots of error log such as :

my etcd.co

[2016-08-15 16:16] heyitsanthony commented on #6180
@cskarby This feature is not in the 2.3 branch (cf. https://github.com/coreos/etcd/blob/release-2.3/etcdctl/README.md); it was introduced in 3.0.

[2016-08-15 16:24] heyitsanthony commented on #6181
@workhardcc did you remove the VM from the cluster with `etcdctl member remove`? The members from the old cluster are probably still trying to connect to the VM.

[2016-08-15 20:40] xiang90 commented on #5816
After an offline discussion with @gtank, we figured it out that etcd is probably not the best place to support encryption. We will coordinate with k8s people to see the next steps.

[2016-08-15 20:40] #5816 closed

[2016-08-15 21:01] gyuho commented on #6176
Currently we disable all etcd logs below `CRITICAL` level when testing.

https://github.com/coreos/etcd/blob/master/integration/v2_http_kv_test.go#L34-L36

Tests like this are hard to reproduce (I have been running this around 7,000 rounds with no failure in my machine).

Should we enable this to `INFO` level to make it easier?

[2016-08-15 22:02] gyuho commented on #5658
Closing via https://github.com/coreos/etcd/pull/6163.

If anybody is interested, this is the commands that I used:

[code]

[2016-08-15 22:02] #5658 closed

[2016-08-15 22:05] xiang90 commented on #4821
@onlyjob Do you have a script to check the using of unreleased dependencies? Or you do this manually?

[2016-08-15 22:06] xiang90 commented on #4365
Closing. Will reopen if anyone is still interested in working on this for etcd2.

[2016-08-15 22:06] #4365 closed

[2016-08-15 22:10] xiang90 commented on #6180
@heyitsanthony is right. You can get a new version of etcdctl from current release branch (3.0).

[2016-08-15 22:10] #6180 closed

[2016-08-15 22:11] xiang90 commented on #6177
@dghubble Can you send a pull request for rkt container in the doc as you are currently working on it?

[2016-08-15 22:12] #2858 closed

[2016-08-15 22:15] xiang90 commented on #5987
@kayrus It requires some effort to get reload working, especially for graceful connection handling. If we do this ungracefully, it is basically equal to sigterm + restart. So I do not think it worth the effort unless there is a strong use case.

[2016-08-15 22:20] xiang90 commented on #5989
Fix by https://github.com/coreos/etcd/pull/6172

[2016-08-15 22:20] #5989 closed

[2016-08-15 22:21] xiang90 commented on #6127
@heyitsanthony Shall we close this since https://github.com/coreos/etcd/pull/6172 is merged? Or we need to provide more utility functions?

[2016-08-15 22:24] heyitsanthony commented on #6127
@xiang90 I think this can be closed since, unlike before, it's possible to safely check the mutex's session liveness.

[2016-08-15 22:26] xiang90 commented on #6178
Client can provide its own TLS configuration in go client(https://golang.org/pkg/crypto/tls/#Config). Client should verify servers by default with the given cert. You can disable it by setting skipInsecure to false though.

It should be similar in other language bindings that supports TLS.

For curl, you can do -k to skip server verification. It verifies server with the cert on your local machine

[2016-08-15 22:26] #6178 closed

[2016-08-15 22:27] xiang90 commented on #6127
OK. Closing.

[2016-08-15 22:27] #6127 closed

[2016-08-15 22:31] xiang90 commented on #5027
@heyitsanthony I think we should just close this. People start to run tests + CI to ensure etcd is good on a platform. Here is the doc for that: https://github.com/coreos/etcd/blob/master/Documentation/op-guide/supported-platform.md

Static analysis could be beneficial, but it does seem that no one will work on that just for etcd.

[2016-08-15 22:31] #5027 closed

[2016-08-15 23:37] heyitsanthony opened #6187 "TestStreamWriterAttachBadOutgoingConn: working = true, want false"
via semaphore (https://semaphoreci.com/coreos/etcd/branches/master/builds/781)

[code]

Possibly triggered by #6175

[2016-08-16 00:37] onlyjob commented on #4821
No script. However that kind of errors are quite visible to us in Debian because we review differences between releases (hence it is easy to spot changes to vendored libs). Also dependencies are not vendored but provided by reusable packages that are usually versioned properly so discrepancies are easy to notice especially when they are manifested as FTBFS...

[2016-08-16 04:51] mstrathman opened #6189 "Etcd Cluster /v2/stats/self Responds with Incorrect State After Random Rebooting of Nodes"
**Steps to recreate:** torture testing a 7 node cluster with random reboots and slow heart beating.
**Node Config:**
[code]
**Result:** The leader in term 264 at index 69218 became isolated and the remaining members elected a new leader in term 265 at logterm 264, index 69216.  However, all nodes except the previous leader report the previous leader is still the current leader.  The previous leade

[2016-08-16 05:41] kayrus commented on #5987
@xiang90 let's postpone then.

[2016-08-16 07:12] workhardcc commented on #6181
It worked! Thanks a lot!

[2016-08-16 07:12] #6181 closed

[2016-08-16 14:29] xiang90 commented on #5987
Closing. Reopen if anyone wants to work on this or has a strong use case.

[2016-08-16 14:29] #5987 closed

[2016-08-16 14:32] xiang90 commented on #6189
@mstrathman
[code]

All sever members elected a41092f4f6a1968a as leader. I could not see a problem fro the log.

[2016-08-16 14:41] xiang90 commented on #4821
@onlyjob I was wondering if there is a script that we can run to find any usage of unreleased dependencies or out-of-data dependencies (only track release, not head).

[2016-08-16 16:16] mstrathman commented on #6189
The curl output at the bottom shows that they are all followers and they see two different leaders.  It looks like 9c0a18ef64d8528b is the only one that actually thinks that a41092f4f6a1968a is the leader.

[2016-08-16 16:18] mstrathman commented on #6189
This cluster is still in this state.  Let me know if there is any information that would be helpful to gather.

[2016-08-16 16:21] mstrathman commented on #6189
Maybe it is just the self stats that are not updated correctly?

[2016-08-16 16:22] xiang90 commented on #6189
@mstrathman Probably. Can you try with a newer release to see if it still exists? I think we fixed a few bugs around the self stats thing.

[2016-08-16 16:24] mstrathman commented on #6189
cool, will update and wait for repro.

[2016-08-16 16:24] mstrathman commented on #6189
Also, any chance you have bug numbers for the fixes that I can look at?

[2016-08-16 16:26] xiang90 commented on #6189
@mstrathman Do you have more recent logs from this cluster? Like in a recent 10 minutes window?

[2016-08-16 16:40] mstrathman commented on #6189
The only remaining logs after that point included are here:
[code]
  It seems to stop making progress at that point.  The wal also stops at that point on all nodes.

[2016-08-16 16:47] xiang90 commented on #6189
Can you please provide the full log from `2016-08-15 13:02:19.368894` to `2016-08-15 23:02:19.368894`? It is really hard to tell what is going on with limited log.

[2016-08-16 16:47] xiang90 commented on #6189
How do you tell the WAL stopped?

[2016-08-16 16:57] mstrathman commented on #6189
Just looking at the modification time stamp on the wal, it is still at the 8/15/16 13:04.

[2016-08-16 16:59] xiang90 commented on #6189
@mstrathman I do not know what is the actual problem. With the given log, everything seems to be fine. If there is any error, etcd should compliant in its log. Usually you can see timeout or leader election. If you can provide a simple program that can reproduce this issue (isolated to etcd), we can look into it more.

[2016-08-16 17:06] mstrathman commented on #6189
I believe that /v2/stats/self is not reflecting the correct state.  Can you point me to the bug numbers for the fixes that you referenced earlier?

[2016-08-16 17:08] xiang90 commented on #6189
@mstrathman There are more than 2000 commits ahead there. I do not really know which commits fix it. I remember there are some fixes. I am trying to help you figured out what exactly going on there. If it is just the stats, etcd itself should not stop making progress. The stats should also reflect the actual state after a while I guess.

[2016-08-16 17:08] gyuho commented on #4821
@xiang90 glide has interactive mode that suggests vendoring with semantic version or git SHA, so that one can choose one when running glide.

[2016-08-16 17:15] mstrathman commented on #6189
I think that I was incorrect in saying that it is not making progress.  It is up and it is accessible.  The v2/stats/leader api seems to be responding correctly and keys are available even when using quorum=true.  I will update to a later version and see if we see a repro.

[2016-08-16 17:16] mstrathman commented on #6189
Thanks for the quick response and help.  Much appreciated.

[2016-08-16 17:18] xiang90 commented on #6189
@mstrathman OK. Thank you.

[2016-08-16 18:42] dghubble commented on #6177
Sure, I'll get to that soon-ish.

[2016-08-16 18:46] xiang90 commented on #6189
@mstrathman BTW, we use fdatasync on linux. That is why WAL seems to be stopped.

[2016-08-16 18:56] #5842 closed

[2016-08-16 18:59] heyitsanthony commented on #6041
I suspect this is due to grpc trying to do at-least-once semantics on non-FailFast RPCs following the go-grpc semantics shift to defaulting to FailFast. The vendor update that first had this change was bf0be0fe5e860fcfc822903c52a69abf9bb4fb2b, which predates this issue by about a week. Probably fixed by #5845.

[2016-08-16 19:01] xiang90 commented on #6041
So closing?

[2016-08-16 19:03] heyitsanthony commented on #6041
@xiang90 can't prove it for sure, but it's the most likely explanation since I think we've exhausted all other possibilities. We can reopen if it happens on CI again.

[2016-08-16 19:03] #6041 closed

[2016-08-16 19:51] utyagi24 opened #6191 "ETCD data gets corrupted with error "read wal error (walpb: crc mismatch)"
We have a CoreOS VM running on ESXi with etcd running in stand-alone mode. The etcd is used locally on the node for communication between the docker containers. On more than one occasion we have noticed that etcd data gets corrupted with error "read wal error (walpb: crc mismatch) and cannot be repaired". After this, the only recourse is to discard the current etcd data dir and start afresh.

[cod

[2016-08-16 20:03] heyitsanthony opened #6192 "TestCtlV3MemberRemove: expected 2, got 3"
via https://semaphoreci.com/coreos/etcd/branches/master/builds/786

[code]

The remove ack is coming from one machine but a member list request goes to another machine. This means the list response may be returned after the member remove raft commit but before the remove is applied, leading to stale data.

It is fairly easy to reproduce:
[code]

[2016-08-16 20:07] xiang90 commented on #6191
@utyagi24 So you suspect that the problem is not caused by corrupted data? Do you mind sending the wal files to xiang.li@coreos.com? I can take a look.

[2016-08-16 20:12] utyagi24 commented on #6191
Sure @xiang90 let me email you the wal file.
Also, I would like to know under what circumstances the wal file gets corrupted ? What should we do to avoid such error in the future ?

[2016-08-16 20:17] xiang90 commented on #6191
@utyagi24 CRC mismatch can happen if the there is a bit rot on disk or a file system corruption. It should not happen frequently. Or there might be a bug in etcd WAL package.

[2016-08-16 20:19] xiang90 commented on #6191
I do not know how to avoid it unless I find the root cause of your issue. We run failure injection cluster 7 * 24 (including hard kill which can cause some wal repairable corruptions). We do not have this problem.

[2016-08-16 22:20] onlyjob commented on #4821
Tools like gopkg.in, getgb.io, gophers, etc. can vendor properly _by tag_. Here is some info:

 * http://dave.cheney.net/2016/06/24/gophers-please-tag-your-releases
 * http://dave.cheney.net/2016/06/26/automatically-fetch-your-projects-dependencies-with-gb

[2016-08-16 22:23] onlyjob commented on #4821
By the way _github.com/jonboulle/clockwork_ tagged a  release. :)

[2016-08-16 23:02] gyuho commented on #6176
nvm. turning on log in INFO level takes test too long to finish.

[2016-08-16 23:18] heyitsanthony commented on #6191
@utyagi24 I analyzed your WAL files. The tail of the last file has a corrupted 37765 byte record. The record starts at byte offset `0x1988068` and should terminate at `0x19913ec`. Running it through `od` gives:
[code]
The trailing 0's indicates there was a torn write.  On 2.3 the WAL uses O_APPEND and will increase the file length on every write.  Here, the data didn't hit disk but the file length

[2016-08-17 05:30] heyitsanthony commented on #6191
Also, since it's bare metal, it could be a disk controller/driver problem (more likely than the filesystem code by this point).

[2016-08-17 06:54] cmouse opened #6200 "etcd2 fails to read EC keys"
etcd2 cannot parse EC private keys, giving error

Aug 17 06:50:31 docker-swarm etcd2[6611]: crypto/tls: failed to parse private key

Example key (generated for this purpose only)
[code]

Version information:
[code]

[2016-08-17 08:06] shuqilou opened #6201 "Issue about logs"
As we all know, etcd makes many logs when the cluster is running, but I can't find the logs about user's operations. I wonder that etcd has specified the directory of logs about operations. Can it record the operations of user, just like Mysql?
I'm looking forward to the reply!

[2016-08-17 11:29] shuqilou opened #6202 "Issue about client-server logs"
When a connection is established between the client and the server，will the server record logs? I believe that the source code contains the logic but I didn't find it.

[2016-08-17 13:56] gyuho commented on #6187
[code]

Is it already deactivating the status after we send message to `msgc`?

`(cr *streamReader) decodeLoop` never got called based on the logs.

Maybe `cw.close()` took more than 10ms before it sets working as false?

[2016-08-17 16:02] heyitsanthony commented on #6202
Yes, but it will only log when `--debug` is enabled:
https://github.com/coreos/etcd/blob/master/etcdserver/api/v2http/client.go#L133
https://github.com/coreos/etcd/blob/master/etcdserver/api/v2http/http.go#L89-L94

[2016-08-17 16:19] heyitsanthony commented on #6200
@cmouse what flags are being passed to etcd? can you provide the full etcd server log?

[2016-08-17 16:24] xiang90 commented on #6201
We do not log user operations. There is a feature request here: https://github.com/coreos/etcd/issues/5019. Please comment there. Closing this one since it is a dup.

[2016-08-17 16:24] #6201 closed

[2016-08-17 16:25] xiang90 commented on #6202
No audit logging, just debug logging as @heyitsanthony pointed out. If you want to see audit logging, comment at https://github.com/coreos/etcd/issues/5019. Thanks.

[2016-08-17 16:25] #6202 closed

[2016-08-17 16:32] sinsharat opened #6203 "query :raft:/storage.go Term func not handling index out of bound exception and allowing panic for same"
I wanted to know if there is any specific reason for not handling index out of bound exception in raft/storage.go Term(i uint64) for index > memory storage entires?

[2016-08-17 16:33] xiang90 commented on #6203
I do not quite understand the question. Can you be more specific?

[2016-08-17 16:36] sinsharat commented on #6203
@xiang90 :
// Term implements the Storage interface.
func (ms *MemoryStorage) Term(i uint64) (uint64, error) {
	ms.Lock()
	defer ms.Unlock()
	offset := ms.ents[0].Index
	if i < offset {
		return 0, ErrCompacted
	}
	return ms.ents[i-offset].Term, nil
}
In the above code if [i-offset] > len(ms.ents) index out of bound exception will occur. and its not handled.

Even in the test case for this it is t

[2016-08-17 17:16] cmouse commented on #6200
No flags given, only environment variables

[code]

[2016-08-17 18:33] heyitsanthony commented on #6200
@cmouse how are you generating your keys? I can reproduce this parse failure using your private key, but EC keys generated by cfssl (e.g., https://github.com/coreos/etcd/blob/release-2.3/integration/fixtures/server.key.insecure) work fine.

[2016-08-17 18:39] cmouse commented on #6200
These are generated with openssl req -new ... -newkey ec:paramfile

Paramfile is done with openssl ecparam -name secp256r1

I can try converting them into non-pkey format.

[2016-08-17 18:45] xiang90 commented on #6115
@ceecko Can you please provide etcd server log across the cluster for a 10 minutes window when the 500 error happens? I feel it is caused by the unstable cluster.

[2016-08-17 18:46] xiang90 commented on #6115
Also are you able to reliably reproduce this issue with a simple setup on AWS or GCE or other env that we can get? Hopefully we can reproduce it and help you dig into the problem more effectively.

[2016-08-17 19:10] heyitsanthony commented on #6200
@cmouse that is generating an encrypted private key for me; tls/crypto has no way to decrypt it. Try using `server.decrypted.key` from `openssl ec -in server.key -out server.decrypted.key`?

[2016-08-17 19:20] utyagi24 commented on #6191
Thanks everyone for looking into this. A few comments - I erroneously said the installation was bare-metal. Actually, the installations where we encountered this issue are VM running on ESXi 5.5.  Also on further examination of journal log, I can verify that problem surfaced following a power down without shutdown.
Regarding etcd 3.0, we would definitely consider the upgrade once it is available o

[2016-08-17 19:22] xiang90 commented on #6191
@utyagi24 I think we can close this issue for now?

[2016-08-17 19:23] utyagi24 commented on #6191
sure. Thanks.

[2016-08-17 19:23] #6191 closed

[2016-08-17 19:37] cmouse commented on #6200
well, yes, if you do not use -nodes parameter (which I used, it prevents encryption). The key I pasted was example of such key.

I converted the key into EC key with openssl ec command, resulting in

[code]
which is still refused, with same error, by etcd2.

[2016-08-17 20:15] heyitsanthony commented on #6200
@cmouse

[code]

The secp256k1 curve isn't supported by golang's crypto library (cf., https://golang.org/src/crypto/x509/x509.go#L341 and https://groups.google.com/forum/#!msg/golang-nuts/Mbkug5t3ZYA/7dDoc_1JAQAJ). Try another curve.

[2016-08-17 20:26] xiang90 commented on #6192
@heyitsanthony Do you have a solution to this in mind? we can do a l-read, then do member list.

[2016-08-17 20:29] cmouse commented on #6200
Wonder if the error message could be improved somehow?

[2016-08-17 20:35] xiang90 commented on #6200
@cmouse I feel this is not an etcd issue. The error message is defined in golang stdlib(https://golang.org/src/crypto/tls/tls.go?L296). Probably you want to create an issue in go upstream?

[2016-08-17 20:37] cmouse commented on #6200
I'll consider it, thank you for your help.

[2016-08-17 20:37] #6200 closed

[2016-08-17 20:40] heyitsanthony commented on #6192
@xiang90 yeah, that's the way to do it. Some extra care is needed to ensure the l-read is on the same member that runs the member list rpc, though.

[2016-08-18 07:32] feidao2002 opened #6213 "Shoud WatchResponse carry the key with watch_id when created is true?"
# Shoud WatchResponse carry the key with watch_id when created is true?

When I create a watch, etcd would response with watch_id and created is true, but I can't get the key from this response.

Shoud WatchResponse carry the key with watch_id when created is true?

in rpc.proto:
message WatchResponse {
  ResponseHeader header = 1;
  // watch_id is the ID of the watcher that corresponds to the res

[2016-08-18 08:16] ceecko commented on #6115
@xiang90 here are the log files from each member.
I can't easily reproduce the error though. We had to change the code so that keys are not deleted, so we're not experiencing the error anymore, but I'll try to create a test env to reproduce this and let you know.

[code]

[code]
[code]

[2016-08-18 09:38] es-chow opened #6214 "raft: a doubt about why not call pr.pause() when receiving pb.MsgUnreachable"
In `stepLeader`, `pr.pause()` is called after receiving `pb.MsgSnapStatus`, but is not called after receiving `pb.MsgUnreachable`, is there any specific reason?

`pr.pause` can be called in `sendAppend()` if a `MsgApp` with entries is sent out. But before that, many `MsgApp` without entries but carry increased `Commit` may be sent out. If we add `pr.pause()` after  after receiving `pb.MsgUnreachab

[2016-08-18 14:05] heyitsanthony commented on #6213
If there's only one outstanding watch create request on a watch stream, then that isn't necessary. Returning only the key isn't enough for correctly supporting overlapping watch create requests; the create response would need to embed the entire watch create request to correctly map from request to response. By then you'll need to keep track of all the outstanding watch requests on that single wat

[2016-08-18 14:05] shuqilou opened #6216 "[logic] Issue about the connection between client and server"
I'm using the etcd whose version is 3.0.1 and I know that v3 uses grpc for connection between client and server. Where shoud I insert code if I want to record the logs when connection is built or broken between client and server  ** on server side**? I have tried to add codes in the function `grpcHandlerFunc`  , but the result is not the same as expected.

[2016-08-18 14:08] Amit-PivotalLabs opened #6217 "units for latency metrics from stats endpoint"
Hey all,

The etcd leader stats endpoint returns metrics for latency to followers.  The field is simply called "Latency" and so neither the field name nor the API docs [0] make it clear what unit these metrics are reported in.  The code [1] suggests it's a time.Duration being divided by 1000000.0, so I take that to mean the units are milliseconds [2], but maybe there are layers between that code a

[2016-08-18 16:07] xiang90 commented on #6217
Yes. It is ms. We now have a much better metrics: see https://github.com/coreos/etcd/blob/master/Documentation/metrics.md.

The old one will be depreciated eventually.

[2016-08-18 16:07] #6217 closed

[2016-08-18 16:15] xiang90 commented on #6115
@ceecko I could not see anything from the log. Can you try to get metrics from all members by accessing HTTP endpoint at clienturl/metrics? It would be great if you can get a reproduce.

[2016-08-18 16:20] heyitsanthony commented on #6216
I don't think the TCP connection details are reliably exposed through grpc on the server side. Ask on https://github.com/grpc/grpc-go/?

[2016-08-18 16:21] xiang90 commented on #6216
@shuqilou It can be done at net.Listener level. You can build your own listener that logs every connection creation. We do not have plan to do this in etcd upstream at least for now.

[2016-08-18 16:21] #6216 closed

[2016-08-18 18:21] Amit-PivotalLabs commented on #6217
Thanks @xiang90

Do you have a rough ETA on when the old ones will be deprecated.  On the order of days, weeks, months, years?

[2016-08-18 18:25] xiang90 commented on #6189
I tried to reproduce with etcd 3.0 release. I cannot reproduce it. Please reopen if you can reproduce it. Thank you.

[2016-08-18 18:25] #6189 closed

[2016-08-18 18:26] xiang90 commented on #6217
When we start to deprecate v2 API. Probably months to years.

[2016-08-18 18:27] xiang90 opened #6220 "test: TestReadWriteTimeoutDialer"
[code]

[2016-08-18 18:29] #6203 closed

[2016-08-18 18:30] Amit-PivotalLabs commented on #6217
Great, thanks.

On Thu, Aug 18, 2016 at 2:26 PM, Xiang Li <notifications@github.com> wrote:

[2016-08-18 19:49] gyuho opened #6221 "functional-tester: stresser Cancel is hanging"
[code]

Counted canceled goroutine and only got 77 where we have 100 goroutines to cancel.
Some goroutines seem blocked. Investigating...

[2016-08-18 19:59] ceecko commented on #6115
Attached are the metrics from all three members.
I have created a script which replicates the same behavior, but since it's so unpredictable when the error occurs, it may take weeks until I can replicate it and it's not going to be reliable. In case the error occurs I'm going to check if the key has been deleted or not.

[m1.txt](https://github.com/coreos/etcd/files/425775/m1.txt)
[m2.txt](https:/

[2016-08-18 21:16] xiang90 commented on #6214
@es-chow

We only pause the probing when it is certain that the probing will fail or when we want to ensure the only one inflight property.

If we receive a msgUnreachable, raft should continue to probe. That is how raft leader can find a failed follower back online.

Do you have an issue with the current behavior? Is it causing problems to your application? If so, can you write a simple program t

[2016-08-18 23:44] #6187 closed

[2016-08-19 03:35] #6221 closed

[2016-08-19 03:48] heyitsanthony commented on #6220
Possible cause: https://go-review.googlesource.com/#/c/27396/

[2016-08-19 04:32] heyitsanthony opened #6227 "integration: grpc.(*Server).Serve goroutine leak"
via https://semaphoreci.com/coreos/etcd/branches/master/builds/805

[code]

[2016-08-19 15:02] xiang90 commented on #6227
Is this a gRPC issue or etcd issue?

[2016-08-19 15:51] heyitsanthony commented on #6227
Probably related to grpc vendor update.

[2016-08-19 20:12] gyuho commented on #5020
Just to add a note, currently when follower receives timeout-now, it `r.becomeCandidate()` losing the leader while campaigning. Another optimization would have current leader be transferred without any downtime.

[2016-08-20 00:12] xiang90 opened #6230 "test: TestStreamWriterAttachOutgoingConn"
[code]

[2016-08-20 00:12] xiang90 commented on #6230
/cc @heyitsanthony

[2016-08-20 02:07] xiang90 commented on #6115
@ceecko Thanks for providing the metrics.

I gave them a close look, and figured out the root cause of the timeout.

If you look at the metrics, you can find quite a few fsyncs that took more than 4 seconds:

m1 -> 1 fsyncs took more than 4 seconds (le8.192) - le(4.096) = 1
[code]

m2 -> 1000s fsyncs took more than 4 seconds
[code]

m3 -> 100s fsyncs took more than 4 seconds

[code]

Once fsync ta

[2016-08-20 02:07] #6115 closed

[2016-08-20 03:40] #6230 closed

[2016-08-21 20:00] philips opened #6233 "etcdctl: list all output formats"
version: git master

[code]

Please just enumerate all of the formats instead of saying "etc".

[2016-08-21 20:08] philips opened #6234 "etcdctl: add raw output format to get"
version: git master

Ideally I can do a workflow like:

[code]

Today the closest we have is "simple" but that prints out the key name:

[code]

Raw would be just like simple only w/o printing the keyname.

[2016-08-22 02:20] philips opened #6236 "etcdctl: cluster-health"
What is the replacement for this? etcdctl API 3 doesn't have it.

[2016-08-22 02:22] heyitsanthony commented on #6236
https://github.com/coreos/etcd/blob/master/etcdctl/README.md#endpoint-health

[2016-08-22 16:57] heyitsanthony opened #6238 "TestTxnWriteFail: timed out waiting for get"
via semaphore (https://semaphoreci.com/coreos/etcd/branches/master/builds/817)
[code]

[2016-08-22 20:54] colhom opened #6240 "clientv3.New() should retry endpoints"
Currently, [client.dial](https://github.com/coreos/etcd/blob/3eadf964f4c41301f15fe687d43e4f6c2dfeab9f/clientv3/client.go#L188) will attempt to connect with the first endpoint provided. If that fails, `clientv3.New()` will return an error.

It would be nice if `client.Dial` provided transparent retry wrapper logic across endpoints- in the same fashion as `client.{Cluster,KV,Lease,etc}`. This would

[2016-08-22 21:37] heyitsanthony commented on #6240
Huh? The client tries all endpoints. There's already a test for this:  https://github.com/coreos/etcd/blob/46765ad79c07d209796ae619a0dab30eb7249a21/clientv3/integration/kv_test.go#L668

Maybe try a nonblocking client via `cfg.DialTimeout = 0` to get a client without connecting?

[2016-08-22 23:13] #6220 closed

[2016-08-22 23:14] #6192 closed

[2016-08-23 01:37] es-chow commented on #6214
It's not produced in our application, it may be a cornor case. It may be reproduced by the following snippet under `raft_test.go.`
[code]

[2016-08-23 01:44] xiang90 commented on #6238
@heyitsanthony After adding the grep thing into the CI, I checked a few failed cases. This issues caused a few failures.

[2016-08-23 02:32] GregoryIan opened #6246 "How to deploy etcd in kubernetes?"
We are currently experiencing some problems about deploying etcd in kubernetes.
1. The main is  how to auto-scaling etcd ,  if I  have inited cluster A,B,C(node), how to add D into the cluster through k8s replication.
2. etcd is stateful, then how to recover from fail and upgrade in k8s.

 **_Only manual now?_**

Maybe you have encountered these problems, have a better suggestion? Or please suppor

[2016-08-23 02:36] xiang90 commented on #6246
Why do you want to auto-scaling etcd? What is your use case?

[2016-08-23 03:05] GregoryIan commented on #6246
Our master control plane embed etcd, we don't want a different scaling-out ,  in addition change the replication count to scale service is cool for user.

[2016-08-23 03:20] xiang90 commented on #6246
@GregoryIan You probably do not want to scale etcd with your master. The more etcd nodes you have the worse write performance it would have. The suggested etcd deployment should be as static as possible. So it is probably a bad idea to couple etcd with your master component.

With all these said, we are working on a etcd controller for k8s. However, that is a separate project and out of the scope

[2016-08-23 03:20] #6246 closed

[2016-08-23 03:32] GregoryIan commented on #6246
Got it! Thanks!
Ignoring the scaling problem, do you have suggestions for etcd recover  from fail and upgrade in k8s? (In K8s one old etcd pod fail, it will restart a new one, how to  keep the old one state elegantly?)

[2016-08-23 04:16] GregoryIan commented on #6246
@xiang90 can you give me a etcd controller for k8s project url? Thanks

[2016-08-23 04:20] hongchaodeng commented on #6246
@GregoryIan
This is out of scope of etcd.
Please ask your questions in kubernetes community: https://github.com/kubernetes/community/tree/master/sig-apps

[2016-08-23 04:27] xiang90 commented on #6246
@GregoryIan We are still working on it. It is not open sourced yet. We plan to do so. @hongchaodeng will give a demo in early setp on k8s community hangout. If you are interested, please attend :)

[2016-08-23 04:39] GregoryIan commented on #6246
@xiang90 Thanks again!
@hongchaodeng Thanks!

[2016-08-23 13:58] shuqilou opened #6250 "Issue about client connection"
I have found the logical of connection between client and server just like below. If I send a request to server then I will obtain a log such as "Received a client connection from: IP:Port", but when the request is interrupted, then the connection should be closed, but where is the specific place to close the connection in the code below?What I want to do is to record logs when the connection betw

[2016-08-23 14:32] colhom commented on #6240
I'm aware that client will retry across endpoints when making API calls- in fact, I greatly appreciate that and that is the "inspiration" for wanting this same retry/failover behavior across endpoints on Dial.

I'm pretty sure that test you linked to would fail on creating the client if the `0th` member was the one chosen to kill, but would succeed if any other member `1..N` was killed.

Check out

[2016-08-23 16:20] kneufeld commented on #4608
We were about to use etcd on an embedded arm target but now it looks like we cannot. Is there still no plan to get etcd working on 32 bit platforms?.

[2016-08-23 17:04] heyitsanthony commented on #6240
OK, there are two bugs here. I changed the integration test to always stop the first member but it still passes, so that's why it wasn't showing up in CI at all instead of failing 1/3 of the time.

I got it to fail with:
[code]
Will fix.

[2016-08-23 17:55] heyitsanthony commented on #6240
@colhom Nevermind, it seems I was using an old `etcdctl` binary. I built `etcdctl` against the current release-3.0 branch and the goreman test works. Can you try it with `git install github.com/coreos/etcd/cmd/etcdctl`? This should already be fixed by  #5842...

[2016-08-23 18:32] #6233 closed

[2016-08-23 18:50] xiang90 commented on #5054
@glevand Kindly remind you that 3.1 rc will be out in mid of Sept.

[2016-08-23 18:51] xiang90 opened #6252 "test: TestKVPutStoppedServerAndClose"
[code]

[2016-08-24 05:06] siddontang commented on #5985
Hi @xiang90
Can we know the connection error in watch now?

[2016-08-24 08:26] iamjohnnyzhuang opened #6254 "How can I set the log output path?"
I can't find the option about how to set the log output path in https://coreos.com/etcd/docs,
can anyone help me,thanks!

[2016-08-24 15:21] kardianos opened #6256 "documentation/ops_guide: References an issue that is probably a etcd/dep issue, not go issue"
On current master 1c989edb476457369d936ed180d1995f55e77e8e
/Documentation/op-guide/supported-platform.md
says

This seems incorrect. Unless you are suggesting that all int64 in structs should be aligned to 64-bit boundaries and lead to increased memory usage for the common case. Likewise, it seems impossible for a compile to check all uses of an exported symbol to check if it is used with "sync/at

[2016-08-24 15:37] gyuho commented on #6254
Do you mean etcd logs? You can just pipe the stderr to file, if in linux. You don't have any flag to specify the log path natively.

[2016-08-24 15:58] heyitsanthony commented on #6256
@kardianos No. It's a Go problem.

See:
https://github.com/golang/go/issues/599
https://github.com/golang/go/issues/11891
https://golang.org/pkg/sync/atomic/#pkg-note-BUG

[2016-08-24 16:19] xiang90 commented on #6254
No. etcd will always try to log to std or syslog.

[2016-08-24 16:19] #6254 closed

[2016-08-24 16:21] heyitsanthony commented on #5985
@siddontang is there a reason why `Session` wouldn't work for your use case? I don't think `Watch` should ever report transport errors.

[2016-08-24 16:26] sachincab opened #6258 "Possible to use CLIENT_CERT_AUTH in etcd cluster"
Hi Team,

We are trying to setup TLS for 3 nodes etcd cluster behind AWS ELB used by Kubernetes.

As per below document, it is possible to use client_auth for peer communication within cluster. However is it possible to use client_cert_auth for the communication from kube-apiserver in this case?

https://coreos.com/etcd/docs/latest/security.html#example-3-transport-security--client-certificates-in

[2016-08-24 16:36] gyuho commented on #6258
Do you have error message?

[2016-08-24 16:37] #6256 closed

[2016-08-24 16:38] xiang90 commented on #6236
@heyitsanthony is right. It is replaced by endpoint-health, which provides more information about the cluster.

[2016-08-24 16:38] #6236 closed

[2016-08-24 17:51] venezia commented on #6177
I'm having problems running etcd within rkt (as a systemd unit) - etcd bails trying to validate the flags.

```rkt[5272]: 2016-08-24 17:03:00.700366 E | etcdmain: error verifying flags, '--name' is not a valid flag```

Similar unit in Docker works just fine

See attached unit files

[venezia-docker.txt](https://github.com/coreos/etcd/files/435346/venezia-docker.txt)
[venezia-rkt.txt](https://githu

[2016-08-24 17:52] gyuho commented on #6234
Maybe add a flag of `--write-out="simple-value"` then?

[2016-08-24 17:56] gyuho commented on #6177
@venezia What etcd version are you running? Can you try specifying the binary path here?

[code]

https://github.com/coreos/etcd/blob/master/Documentation/op-guide/container.md#docker

Try something like

[code]

[2016-08-24 18:03] venezia commented on #6177
Just to be clear Docker works just fine, rkt does not.  (you're crossing examples)

I did, at one point have ```--exec /usr/local/bin/rkt``` but got the same error

[2016-08-24 18:13] xiang90 commented on #6213
@feidao2002 I close this since @heyitsanthony already provided the answer. Let us know if it is not good enough for you.

[2016-08-24 18:13] #6213 closed

[2016-08-24 18:34] dghubble commented on #6177
I'll try to post the example this week, etcd3 runs in rkt in the example clusters.

[2016-08-24 18:56] xiang90 commented on #6101
I cannot reproduce this one. And it never happens again on CI... So closing this one. Will reopen if this happens again.

[2016-08-24 18:56] #6101 closed

[2016-08-24 19:31] xiang90 commented on #5912
closing this in favor of #6212.

[2016-08-24 19:31] #5912 closed

[2016-08-24 21:06] xiang90 commented on #6250
Can you please tell us your motivation first? What are the features you want? Are you trying to submit a patch to etcd for a feature? Are you trying to add some features on a forked version of etcd?

etcd uses gRPC which hides all connection details for both server and client. And we do not want to expose these details.

[2016-08-24 21:14] #6252 closed

[2016-08-24 21:35] xiang90 commented on #6214
@es-chow I do not think it is a problem actually. it does not really hurt to call pause either. If it causes a problem to your application, then I am fine with adding a pause.

[2016-08-24 21:48] xiang90 commented on #3698
For discovery service related question, please file an issue here: https://github.com/coreos/discovery.etcd.io.

It seems that discovery uses an empty config https://github.com/coreos/discovery.etcd.io/blob/master/handlers/new.go#L36. So if you want to connect to a secure server, you need to add the cert into your system or you will get untrusted cert complaint.

[2016-08-24 21:48] #3698 closed

[2016-08-24 23:00] xiang90 commented on #6026
@LLParse I tried multiple times on OS X and linux. It worked. I cannot reproduce this issue. Reopen if this is still an issue for you. It would be helpful if you can get log from the failed etcd member as I mentioned above. A reproduce would be the best.

[2016-08-24 23:00] #6026 closed

[2016-08-24 23:22] sks opened #6262 "etcd tls and dns resolution"
Hi team!

We are attempting to use the latest etcd v2 and we are running into some issues, coming from v2.1.1.

We are trying to start an etcd cluster in TLS mode using something like:
[code]

however we get the following error:

[code]

After some debugging , we found that [this change](https://github.com/coreos/etcd/compare/v2.1.1...v2.1.2#diff-8ce200179d9471fe878deb75be213f23R96) seems to be ca

[2016-08-24 23:34] heyitsanthony commented on #6262
Bootstrap using IP then `etcdctl member update` with DNS names?

[2016-08-25 00:24] siddontang commented on #5985
@heyitsanthony we need to watch a key changed, `Session` may be not ok.
But we are refactoring our code, maybe we will remove `watch` don't need this later. :-)

[2016-08-25 05:12] imoverclocked opened #6263 "Code Q"
https://github.com/coreos/etcd/blob/master/client/keys.go#L445

Why is this in a for{}? It will always return...

[2016-08-25 05:13] imoverclocked commented on #6263
nevermind, I see the continue now.

[2016-08-25 05:13] #6263 closed

[2016-08-25 08:33] es-chow commented on #6214
As of now it didn't cause any problem, so just close it.

[2016-08-25 08:33] #6214 closed

[2016-08-25 10:15] monder commented on #6177
@venezia I have no problem running `etcd` in `rkt`

[code]

The differences I see:
- I use the standard stage1
- You prefix each argument with `--`. I'm sure its not how it supose to work. You shoud start with `--`, pass all the arguments and end with `---` as per https://coreos.com/rkt/docs/latest/subcommands/run.html#passing-arguments

[2016-08-25 15:47] sachincab commented on #6258
To be more specific:
We are using AWS elb in front 3 etcd nodes.

**Scenario-1:** When we use TCP passthrough on ELB then etcd connections is working fine with valid client certificates.

**ELB listener details:**
Load Balancer Protocol: TCP
Load Balancer Port: 2379
Instance Protocol: TCP
Instance Port: 2379
Cipher: N/A
SSL Certificate: N/A

**Scenario-2:** When we use HTTPS on ELB with valid cert

[2016-08-25 16:55] venezia commented on #6177
@monder You're right, however the error that I got back was a bit strange - I swore I saw something that said to do this.  Hard coding the DNS seems a bit rough, so i went with mount /etc/resolv.conf and we're good.

I went with
[code]

[2016-08-25 17:49] heyitsanthony commented on #6238
@xiang90 yesterday @gyuho debugged it down to a leader election in #6260 but `Get` shouldn't be returning a connection closing error

[2016-08-25 17:51] gyuho commented on #6238
Yeah it seems like gRPC returning unexpected ErrClientConnClosing. I will investigate further once Anthony's PR is merged.

[2016-08-25 18:04] xiang90 opened #6265 "improve grpc watch proxy"
Known issues
- [x] attach revision to response header for cancel response
- [x] attach revision to response header when we create a watcher in a coalesced watch group

If the watcher is a dedicated one, we can just return what etcd server sends back. That is the easy case.
We need to think about what revision should we return if we only create/cancel locally inside a watch group.
- [ ] make requir

[2016-08-25 21:03] LLParse commented on #6026
I haven't been able to reproduce this and have performed tens of thousands of automated backups at this point..so I'm chalking it up as a bug in our automation which caused the node to stop at roughly the same time as the backup. Thanks for your help.

[2016-08-25 22:55] michael-px opened #6268 ""latest" security model doc invalid examples"
https://coreos.com/etcd/docs/latest/security.html

describes how to setup etcd to use single node server-client configurations using keys generated by

https://coreos.com/os/docs/latest/generate-self-signed-certificates.html

The security page says to use Certificate Signing Requests instead of Certificate files.  When I attempt to start my cluster with CSRs, it won't start.  If I switch to pem fi

[2016-08-25 23:12] gyuho commented on #5946
Closing via https://github.com/coreos/etcd/pull/6247.

[2016-08-25 23:12] #5946 closed

[2016-08-25 23:18] michael-px commented on #6268
I also took the code from

https://coreos.com/os/docs/latest/generate-self-signed-certificates.html

This barfs too.

I've been able to get a cluster up and running using peer certificates between themselves, but I can't seem to generate a wildcard client cert that will allow me to do a simple **etcdctl member list**.

https://coreos.com/etcd/docs/latest/security.html

has examples but I get error

[2016-08-25 23:42] michael-px commented on #6268
I found that 2379 wasn't listening, so I fixed that. Now I get

etcdctl --key-file /etc/ssl/etcd/px-client-key.pem --cert-file /etc/ssl/etcd/px-client.pem --debug member list
start to sync cluster using endpoints(http://127.0.0.1:4001,http://127.0.0.1:2379)
cURL Command: curl -X GET http://127.0.0.1:4001/v2/members
got endpoints(https://52.43.85.104:2379,https://52.42.14.15:2379,https://52.43.243.

[2016-08-25 23:50] gyuho commented on #6268
How do you create client certs?

[2016-08-25 23:53] michael-px commented on #6268
from
https://coreos.com/os/docs/latest/generate-self-signed-certificates.html

echo '{"CN":"px-client","hosts":[""],"key":{"algo":"rsa","size":2048}}' | \
        cfssl gencert -ca=px-ca.pem -ca-key=px-ca-key.pem
-config=px-ca-config.json \
                -hostname="*" -profile=client - | cfssljson -bare px-client

Like the famous philosopher said, when you stare into the void, the void
stares al

[2016-08-26 16:23] xiang90 commented on #6268
@michael-px What is your etcd version? Can you please attach configuration and logs from all your etcd servers?

[2016-08-26 16:41] michael-px commented on #6268
I’m running 2.3.7.  Can’t run V3 due to product requirements. The logs are quite long.

There are three nodes. I’ve included the non-ssl and the ssl configs that I’ve gotten working so far.  I can’t currently connect with etcdctl.

I’m not willing to put the log files into a public github discussion.  If you give me a private email address, I can make them viewable to you on Google Docs. You’ll ne

[2016-08-26 16:58] gyuho opened #6271 "read wal error (walpb: crc mismatch) and cannot be repaired"
Happened in *failpoints* test.

[code]

[code]

It was deployed with @heyitsanthony 's branch https://github.com/coreos/etcd/pull/6267.

WAL file read shows

[code]

[2016-08-26 17:37] akamalov commented on #4318
+1 need proxy for ETCDv3

[2016-08-26 18:06] xiang90 commented on #4318
@akamalov https://github.com/coreos/etcd/blob/master/Documentation/op-guide/gateway.md

[2016-08-26 18:09] philips commented on #6234
@gyuho yea, I don't know what to call it, that works

[2016-08-26 18:14] gyuho opened #6272 "functional-tester: same revision, different hash right after leader election"
Testing cluster was deployed after this commit https://github.com/coreos/etcd/commit/6655afda4b1d179a81d14e5979f9cdabe847d870

[code]

- `agent01` had leader election at `2016-08-25 01:24:07.966513`, right before we get same revision

[code]

- Same revision at `2016-08-25 01:24:08.008167`

[code]

- But different hash

[code]

- Snapshot status doesn't tell much

[code]

- Last lines of WAL files

[2016-08-26 18:52] heyitsanthony commented on #6238
Fixed by #6264

[2016-08-26 18:52] #6238 closed

[2016-08-26 20:21] gyuho commented on #6272
Got another failure with current master branch with failpoints enabled. Data can be found at https://console.cloud.google.com/storage/browser/etcd-functional-tester/20160826-failpoints-2

[2016-08-26 20:22] gyuho commented on #6271
Got another failure with current master branch with failpoints enabled. Data can be found at https://console.cloud.google.com/storage/browser/etcd-functional-tester/20160826-failpoints-2

[2016-08-26 23:16] jhgg opened #6276 "etcd cluster losing consensus"
We run a 3 node etcd cluster, running since Jan 2016 just fine, with out much changes (aside from updating to etcd 2.3.0). Around the time of the failure, we see these log-lines on the servers:

# `etcd-prd-1-1`
[code]

# `etcd-prd-1-2`
[code]

# `etcd-prd-1-3`

[code]

Can anyone provide any pointers as to where we can look? Cluster has been completely fine for months, but this kinda thing has ha

[2016-08-26 23:19] xiang90 commented on #6276
@jhgg What do you mean by losing consensus? Do you observe inconsistent data? Or you mean there are some leader elections?

[2016-08-26 23:21] jhgg commented on #6276
The data seems to be consistent, it just stops accepting writes as it cannot elect a leader anymore. It basically gets stuck voting.

[2016-08-26 23:23] jhgg commented on #6276
We have a script that basically reads from one of the reachable nodes in the cluster, retrieving the the contents of all the keys recursively and dumping them to a json file, firewalling the cluster off from the rest of the network (our services compensate by using stale data for discovery when the cluster is un-reachable) - deleting the data directories and starting a new cluster, then writing th

[2016-08-26 23:24] jhgg commented on #6276
Script here: https://gist.github.com/jhgg/6a567c725640785752e24bc9007fa1aa

[2016-08-26 23:24] xiang90 commented on #6276
@jhgg The problem seems to be identical with https://github.com/coreos/etcd/pull/4888. And it is solved in 2.3.2 release.

[2016-08-26 23:25] jhgg commented on #6276
Interesting. We will perform an upgrade to the latest 2.3.x release tonight and see if it happens anymore.

[2016-08-26 23:27] xiang90 commented on #6276
@jhgg I close this issue. Please reopen if it happens again after the upgrades. You can directly upgrades from 2.3.0 -> 2.3.7. Thanks for reporting.

[2016-08-26 23:27] #6276 closed

[2016-08-26 23:28] jhgg commented on #6276
Thanks for the quick response @xiang90 <3

[2016-08-26 23:42] xiang90 commented on #6272
@gyuho Can you point me to the data dir of this cluster?

[2016-08-26 23:44] gyuho commented on #6272
@xiang90 Here's the data https://console.cloud.google.com/storage/browser/etcd-functional-tester/different-hash

[2016-08-27 01:57] xiang90 opened #6277 "Test: --- FAIL: TestTxnReadRetry"
[code]

/cc @heyitsanthony

[2016-08-27 09:34] gyuho commented on #6277
This is similar to `TxnWriteFail`? I can reproduce easily by stopping leader, and gRPC is returning `Internal` error code...

[2016-08-27 13:26] glycerine opened #6278 "etcdctl elect results in deadlock: won election never reported to winner, if key is a prefix of existing key"
It appears that a lone candidate cannot win some elections.

[code]

[2016-08-27 15:11] xiang90 commented on #6278
@glycerine The prefix conflict bit should be improved.

For the query warning issue, are you running etcd on HDD? It seems that the fsync takes more than 10ms. We probably will make the warning time longer to 100ms or so. At least, etcd should not spam warning on normal HDD.

[2016-08-27 15:12] xiang90 commented on #6278
/cc @heyitsanthony

[2016-08-27 19:12] gyuho commented on #6060
[code]

Happened again? https://semaphoreci.com/coreos/etcd/branches/pull-request-6244/builds/11

[2016-08-27 21:35] roymarantz commented on #4318
Perhaps I missed something reading that document, but I didn't is say how
to use the gateway (i.e. do you just use 127.0.0.1:2379 as an endpoint for
a client) what does it do with a watch operation when it reconnects to a
new server?
Roy

On Fri, Aug 26, 2016 at 2:06 PM, Xiang Li <notifications@github.com> wrote:

[2016-08-28 00:33] xiang90 commented on #6272
@gyuho The test failed when all member's revision at 5884913683. However we somehow put more keys into the cluster after the failure. The data shows now the revision is 5884925569.

We really need to get this fixed. We need the exact data when the cluster failed. We found the same issue for other failure cases a few days ago. Can you please fix this behavior?

[2016-08-28 00:45] gyuho commented on #6272
@xiang90 Yeah, I am investigating more to fix it. Thanks.

[2016-08-28 03:09] #6272 closed

[2016-08-28 03:26] heyitsanthony commented on #6278
The client code is watching on `xy*` instead of `xy/*` so it's picking up 'xyz', which is a bug. Mutexes are also affected. Also missing docs about what part of the keyspace it'll eat.

[2016-08-28 05:21] glycerine commented on #6278
I'm running on SSD; stock Apple SSD 512G.

[2016-08-28 05:48] gyuho opened #6283 "TestPipelineExceedMaximumServing"
[code]

https://travis-ci.org/coreos/etcd/jobs/155682812#L3382

[2016-08-28 06:31] xiang90 commented on #6278
@glycerine Just noticed that you were running 3 members on the same osx machine. Probably there are IO or CPU contentions. It is unrelated to this bug.

[2016-08-28 12:41] glycerine commented on #6278
Agreed.  Let's ignore that part.

[2016-08-28 18:16] xiang90 opened #6285 "move locking api from client side to server side"
It is tedious for each client library to implement lock API, which is also error prone.

We should provide a server side lock API implementation, which uses go client API internally.

Potentially exposing it through lock gRPC service.

[2016-08-29 01:57] purpleidea opened #6287 "embed: hangs on ReadyNotify with certain backing stores"
Hi etcd folks and thanks again for your hard work!

I've been hitting what I thought was some weird heisenbug, but I spent some more time today tracking it down. I think I can now approximately reproduce it, but I don't know the underlying cause:

When using the embed package in Etcd, I would hang at StartEtcd:

[code]

I traced into that and found that it is waiting on:

[code]

which is here: ht

[2016-08-29 02:00] purpleidea commented on #6287
Sorry: btw I'm using v.3 of the code base, and golang 1.5.4

I can currently reproduce this if there are some printf's you'd like me to insert anywhere to give feedback.

[2016-08-29 02:06] purpleidea commented on #6287
And lastly, some logs... The `XXX: ETCD INTERNAL WAITING...` happens on the line before the `<-e.Server.ReadyNotify()` and I also added a message on the line right after it which never appears.

The four line chunks that are approximately repeating (election attempts) repeat at the bottom indefinitely every second or so. My raft knowledge is too weak to definitely know the problem there, but I ass

[2016-08-29 03:41] #6277 closed

[2016-08-29 04:27] heyitsanthony commented on #6287
@purpleidea `ReadyNotify()` won't trigger until etcdserver can publish its information into the cluster. From the logs, `b71f75320dc06a6c` is `restarting` using whatever cluster configuration that's been set up already in `/var/lib/mgmt/etcd`. The elections / publish errors are because `b71f75320dc06a6c` is in a 2 member cluster but can't contact `270bf835d78b8ec0`, so it can't establish quorum.

[2016-08-29 04:33] purpleidea commented on #6287
@heyitsanthony Great diagnosis thank you!

After running the:

`embed.StartEtcd(cfg)`

call, how can we
1) Get status information on what's happening?
2) Run something to unblock it and get it to exit?

(In this sort of situation you analyzed above)

Thanks!

[2016-08-29 06:11] purpleidea commented on #6287
This should help resolve this: https://github.com/coreos/etcd/pull/6289

[2016-08-29 06:12] purpleidea commented on #6287
Still need a way to get some information, as mentioned in (1). Using a pure timeout is too much of a heuristic. :(

[2016-08-29 07:27] AkihiroSuda opened #6290 "rafttest TestRestart timeouts"
TestRestart almost always timeouts on my machine

[code]

[2016-08-29 07:34] AkihiroSuda commented on #6290
Question: why `rafttest` has been disabled in Travis?
[code]
https://github.com/coreos/etcd/pull/5707

[2016-08-29 08:06] gyuho commented on #6290
@AkihiroSuda Yeah other tests in rafttest are broken as well. We need to fix them.

[2016-08-29 12:48] akamalov commented on #4318
Thanks @xiang90 . So, in essence ETCD Gateway is a replacement to ETCD Proxy, correct ? Does this mean that ETCD Gateway must be started on client nodes (i.e., formerly ETCD proxy  nodes, non-master) ?

[2016-08-29 13:05] akamalov opened #6291 "Question: Fault Zones in Torus?"
This is a question.

Question:

Let's say I have three racks of servers, each containing 40 servers. I want to run Torus across all of them. I would like to have 3 copies of data and want to place each copy in unique rack. Does Torus have a concept of Fault Zones where I can specify which node belongs to which fault zone and Torus would automatically select nodes in unique fault zone to store data

[2016-08-29 13:17] simoninkin opened #6292 "etcd2 fails to start after reboot - member node has previously registered with discovery service token"
I'm running into this...problem.
I have a cloud config that is being pushed from XenOrchestra (via docker-supplemental-pack for XenServer 7) to the VM. It's sort of fine and etcd2 works fine....until I reboot the machine. My cloud config is parsed again, and when the units are initialized, the etcd2 service attempts to rediscover already existing node, thus it fails..

[2016-08-29 14:30] xiang90 commented on #4318
@akamalov gateway is just a etcd awareness proxy. You can start it on whatever node you want :)

[2016-08-29 14:31] xiang90 commented on #6291
This is etcd repo. Torus repo is here: https://github.com/coreos/torus

[2016-08-29 14:31] #6291 closed

[2016-08-29 14:36] johnbazan opened #6293 "Negative permissions for a role"
Hello guys, how are you?

I'm having a bad time while trying to revoke permissions from an specific folder for the guest role.

The scenario is the following:

 I want my guest role to be able to read and write to all the folders, with the exception of one.
The nodes that consume my etcd cluster should be able to write and read from anywhere (including the root path), but shouldn't be able to writ

[2016-08-29 14:38] xiang90 commented on #6293
Sorry. No there is not. We do not have plan to support it either.

[2016-08-29 14:39] johnbazan commented on #6293
@xiang90 Thanks for the quick response!

Is there any workaround that you could recommend me?
I'm really struggling through this.

[2016-08-29 14:41] xiang90 commented on #6293
@johnbazan Moving that "folder" out of registry would be the easier way. You can add a pointer to the original path to hint where the new folder is.

[2016-08-29 14:48] johnbazan commented on #6293
Sorry for the misunderstand, but moving it out to where?

(I still need my guest to be able to write to /* for backward compatibility reasons).

[2016-08-29 16:50] jmdacruz commented on #6293
@xiang90 I think what @johnbazan is trying to do is define an access control policy that has two rules: One that provides read/write access to "guest" for every folder in the root directory `/*`, and the other one that gives write permissions for `/special_folder` only to a particular user which has to be authenticated.

This situation happens when you have a deployment that is mostly open or "per

[2016-08-29 17:19] akamalov commented on #6291
Sorry xiang90. I will re-file it with torus repo.

[2016-08-29 17:21] xiang90 commented on #6293
@johnbazan Sorry for the bad example. So what I suggested is to move the "folder" you want to have "deny" access out of the granted "folder". In your case, you already granted root to everyone so it is hard.

@jmdacruz The goal of the etcd auth model is to provide a way to isolate applications that uses etcd. It is not mean to be a full featured and complex auth system.

Basically you grant /appli

[2016-08-29 18:03] michael-px commented on #6268
This is the script I'm using to generate a self-signed CA, peer certs, and a client cert.  The peer certs work. The client cert, not at all.  I've tried all sorts of iterations with -hostname "*" or "*.jrandomco.com" or omitting it altogether.  Nothing works

`
#!/bin/bash
# following examples from https://coreos.com/os/docs/latest/generate-self-signed-certificates.html
# get tools from https://gi

[2016-08-29 18:05] xiang90 commented on #6268
@michael-px Sorry for the delay. We are going to take a look at this today.

[2016-08-29 18:15] xiang90 commented on #6268
@michael-px

OK. So after reading the the log you sent me, etcd complained about

[code]

Go by default will validate hostnames/SANs. You can take a look at the example we provided here: https://github.com/coreos/etcd/tree/master/hack/tls-setup as listed in the doc you refer.

[2016-08-29 18:16] xiang90 commented on #6268
widecard does not work for SAN /cc @gtank to double check my word.

[2016-08-29 18:24] michael-px commented on #6268
I’ve changed the certs significantly according to this

https://www.digitalocean.com/community/tutorials/how-to-secure-your-coreos-cluster-with-tls-ssl-and-firewall-rules

The CN for each server is the internal IP address of the AWS instance with
SANs containing the internal and external IP address of each host.  I’m not
using a client cert.

The error I keep getting is

curl --cacert /etc/ssl/etc

[2016-08-29 18:25] xiang90 commented on #6268
@michael-px Are you saying that now the TLS at the peer side is working, but the TLS still does not work for the client side?

[2016-08-29 18:27] michael-px commented on #6268
Yep.  I’m sorting out the situation and will post log files and configs
shortly on my Google doc for Xiang to access.

Like the famous philosopher said, when you stare into the void, the void
stares also; but if you *cast* into the void, you get a type conversion
error. Either way lies madness. -- Charles Stross
The pure and simple truth is rarely pure and never simple.--Oscar Wilde

On Mon, Aug 2

[2016-08-29 18:30] xiang90 commented on #6268
One quick question:

Have you tried

curl --cacert /etc/ssl/etcd/px-ca.pem https://10.0.0.5:2379/v2/stats/self -v -k?

[2016-08-29 18:42] michael-px commented on #6268
curl --cacert /etc/ssl/etcd/px-ca.pem https://10.0.0.5:2379/v2/stats/self
-v -k
* About to connect() to 10.0.0.5 port 2379 (#0)
*   Trying 10.0.0.5...
* Connected to 10.0.0.5 (10.0.0.5) port 2379 (#0)
* Initializing NSS with certpath: sql:/etc/pki/nssdb
* skipping SSL peer certificate verification
* NSS: client certificate not found (nickname not specified)
* NSS error -12271 (SSL_ERROR_BAD_CERT_A

[2016-08-29 18:42] gyuho commented on #6268
@michael-px Is wildcard-hosts working with `cfssl`? Just curious, because it didn't work for me.

[2016-08-29 18:44] michael-px commented on #6268
no, wildcards didn’t work for me.

Like the famous philosopher said, when you stare into the void, the void
stares also; but if you *cast* into the void, you get a type conversion
error. Either way lies madness. -- Charles Stross
The pure and simple truth is rarely pure and never simple.--Oscar Wilde

On Mon, Aug 29, 2016 at 11:43 AM, Gyu-Ho Lee <notifications@github.com>
wrote:

[2016-08-29 18:44] xiang90 commented on #6268
[code]

I think this suggest that curl could not find the cert you provided here at `/etc/ssl/etcd/px-ca.pem` somehow. I do not really know why.

Probably you can try to curl www.google.com with same flag. it should complaint the same. I am not a curl expert. You need to search around on google for this.

[2016-08-29 18:47] michael-px commented on #6268
etcd is setup to use the host’s server certificate for both the client and
the server.  So, I’m stumped why this doesn’t work. Neither does etcdctl.

Like the famous philosopher said, when you stare into the void, the void
stares also; but if you *cast* into the void, you get a type conversion
error. Either way lies madness. -- Charles Stross
The pure and simple truth is rarely pure and never simp

[2016-08-29 18:49] michael-px commented on #6268
A point of clarification please.

https://github.com/coreos/etcd/tree/master/hack/tls-setup

says to set the IP addresses for all the IP addresses for the hosts in the
cluster then run make.  There is no Makefile in any of the pages discussed
so far.

I wonder if we’re looking at the same stuff here.

Like the famous philosopher said, when you stare into the void, the void
stares also; but if you

[2016-08-29 18:49] xiang90 commented on #6268
Now that the cluster TLS works, probably we can make sure cURL work. Then we know there is an etcdctl issue?

[2016-08-29 18:52] michael-px commented on #6268
Yep. Good plan. I’m assembling logs and configs.  Will get back to you
after 12:15pm PDT.

Like the famous philosopher said, when you stare into the void, the void
stares also; but if you *cast* into the void, you get a type conversion
error. Either way lies madness. -- Charles Stross
The pure and simple truth is rarely pure and never simple.--Oscar Wilde

On Mon, Aug 29, 2016 at 11:50 AM, Xiang L

[2016-08-29 18:53] joshk0 commented on #5658
This all looks great but I have one question. Why does the vendor directory not live at the top directory of etcd.git?

The build script is such that it can only grab the vendor directory when you choose to build cmd/ (e.g. building etcd and etcdctl yourself.) I use the client library in client/ extensively, and it can't benefit from the vendored dependencies in cmd/. Instead, i have to make them

[2016-08-29 18:57] chancez commented on #5658
@joshk0 that's the exact reason. the etcd team doesn't want the client library to pull use the vendor directories within etcd since it's a library.

[2016-08-29 18:57] gyuho commented on #6268
@michael-px If that doesn't work out, you may want to try this sample TLS-setup workflow https://gist.github.com/gyuho/e3e4016654f4939dba2d78762a68049c.

Slightly different, but this works for me with no problem.

[2016-08-29 19:01] xiang90 commented on #6177
Fixed by #6274

[2016-08-29 19:01] #6177 closed

[2016-08-29 19:04] joshk0 commented on #5658
But isn't there a specific version of each dependency that the library modules are designed to work with? Or should I assume that the latest released version of each one should work? What's the convention here?

[2016-08-29 19:07] heyitsanthony commented on #5658
@joshk0 cf. https://github.com/coreos/etcd/issues/4913 if you're interested in the discussion around putting vendor in the repo root. Things break.

[2016-08-29 19:25] michael-px commented on #6268
Gyu-Ho,

your procedure didn’t work for me. I had hopes that setting the CN to the
same on the root CA and the servers would solve my problem.  No such luck.
But thanks for the suggestion.

openssl x509 -in px-ca.pem -text -noout
Certificate:
    Data:
        Version: 3 (0x2)
        Serial Number:
            44:99:e2:e0:7b:e9:7e:0c:cc:ad:dd:12:77:39:f1:6a:e3:86:ec:a8
    Signature Algorithm: ec

[2016-08-29 19:37] jmdacruz commented on #6293
Understood, @xiang90. Thanks for your feedback!

[2016-08-29 19:44] akamalov commented on #4318
@xiang90  I tried to start ETCD Proxy, however it never returns prompt back and never notifies of successful gateway start:

[code]
Opened another session and attached to the process:

[code]

[2016-08-29 20:25] #6234 closed

[2016-08-29 20:25] xiang90 commented on #4318
@akamalov Can you create a separate issue for that? Thank you!

[2016-08-29 20:28] michael-px commented on #6268
Gyu-Ho,

I followed your example more closely.  For one thing, I'm running etcd 2.3.7. I can't run 3.0 at this time, so I don't know if this issue is only with 2.3.x.

Also, I tried creating the ca_csr file with
[code]
when I run the code, I get
[code]
I took out the tabs and spaces just in case cfssl didn't like them but cfssl 1.2 ignores the hosts field in a json file.  The certs generated don't

[2016-08-29 20:34] akamalov opened #6302 "Can't Create ETCD Gateway - Command Never Completes"
**Environment:**

**OS:**

[code]

**Kernel Release**

[code]
**ETCD:**

[code]

Attempting to start ETCD Proxy, however it never returns prompt back and never notifies of successful gateway start:

[code]
Opened another session and attached to the process:

[code]

[2016-08-29 20:35] xiang90 commented on #6268
@michael-px Let's move on to the client side TLS. I checked the log you provided to me, the server side TLS works now. cURL complaints about not being able to pick up the cert you provided. You need to somehow figure out that first I think.

[2016-08-29 20:37] xiang90 commented on #6302
@akamalov Can you try with current master? gateway was an alpha feature in 3.0. It will be a stable feature in 3.1 release.

[2016-08-29 20:38] xiang90 commented on #6302
Also the command should be just running forever. You can try to access localhost:23790 to see if it works.

[2016-08-29 20:38] michael-px commented on #6268
I’m stuck there. Permissions are OK (I’m running as root).

cfssl isn’t your thing, is it?  If there’s a problem with the certs it’s
generating, it’s someone else’s issue, right?

Like the famous philosopher said, when you stare into the void, the void
stares also; but if you *cast* into the void, you get a type conversion
error. Either way lies madness. -- Charles Stross
The pure and simple truth

[2016-08-29 20:40] xiang90 commented on #6268
@michael-px

http://stackoverflow.com/questions/15773806/nss-client-certificate-not-found-nickname-not-specified

Probably this can help you?

[2016-08-29 20:43] michael-px commented on #6268
Thanks, but that wasn’t applicable.  Still stuck.

Like the famous philosopher said, when you stare into the void, the void
stares also; but if you *cast* into the void, you get a type conversion
error. Either way lies madness. -- Charles Stross
The pure and simple truth is rarely pure and never simple.--Oscar Wilde

On Mon, Aug 29, 2016 at 1:40 PM, Xiang Li <notifications@github.com> wrote:

[2016-08-29 21:18] colhom commented on #6240
@heyitsanthony I'm also seeing the dial retry behavior is working in the `release-3.0` branch. Will close out.

[2016-08-29 21:18] #6240 closed

[2016-08-29 22:07] michael-px commented on #6268
OK, I followed Gyu-Ho's procedure for generating certs in this thread.  The certs generated by my script (with his mods) will generate peer certs that work.  All three nodes of the cluster talk to each other.

I was stuck getting etcdctl to talk to the cluster.  Then I used all three keys with etcdctl to connect to a node on the cluster.  And it worked...

[code]

Now the problem is how to reduced

[2016-08-29 22:50] gyuho opened #6303 "grpcproxy: watch in TestGRPCStreamRequireLeader hangs"
`go test -v -tags cluster_proxy -run TestGRPCStreamRequireLeader` hangs at

[code]

https://github.com/coreos/etcd/blob/master/integration/v3_grpc_test.go#L1040

From what I've observed so far,

require-leader context metadata is not being passed to https://github.com/coreos/etcd/blob/master/etcdserver/api/v3rpc/interceptor.go#L69 when used with grpcproxy

So watch `recvLoop` is blocking forever.

[2016-08-29 23:23] gyuho commented on #6268
@michael-px Do you mean using single key with fixed list of hosts?

I think it's better to have different keys per node, in case there is member reconfiguration (member remove, add). Or https://github.com/cloudflare/cfssl team should have answers for you.

[2016-08-29 23:32] michael-px commented on #6268
OK, I’ll ask there.  Compose.io provides a single CA key that works with
either end-node on their clusters, which is behind a load balancer.  We
want something like that so we only have to provide 1 key to a customer
rather than three.

Since compose.o’s etcd version is 2.2 (ancient, I know), I suspect they
used openssl to generate their certs rather than cfssl.

Like the famous philosopher said,

[2016-08-29 23:59] gyuho commented on #6283
I've run over 15,000 rounds with no failure. Pretty sure this is just CI being slow, so not able to receive from channel within 10ms. If it happens again, I will reopen this.

[2016-08-30 02:50] #6278 closed

[2016-08-30 03:05] gyuho opened #6304 "grpcproxy: leaky goroutine in TestDoubleBarrierFailover"
[code]

[2016-08-30 03:07] xiang90 commented on #6287
Fixed by https://github.com/coreos/etcd/pull/6289

[2016-08-30 03:11] purpleidea commented on #6287
@xiang90 Part (1) is fixed :) W00t... However part (2) is still pending... Any ideas?

[2016-08-30 03:17] heyitsanthony commented on #6287
@purpleidea what sort of status information are you expecting?

[2016-08-30 03:20] purpleidea commented on #6287
@heyitsanthony Any sort of information about what state the system is in? Eg: "i'm busy re-running the huge mongous log of previous events, vs. i am trying to elect, i am trying to elect, i am trying to elect...

So maybe even a channel of events. This way if it's slow because it's busy processing a 1GB dataDir on disk, okay, keep waiting, but if it's constant elections, maybe I give up and kill i

[2016-08-30 04:12] purpleidea opened #6305 "[Regression] Remove from two member cluster fails with health check error"
A previously passing test I wrote in https://github.com/purpleidea/mgmt/ started failing. This is all using pure golang and the etcd `embed` stuff. What it approximately does:

* Starts up a single member etcd cluster.
* Starts up a second member and runs the MemberAdd API call.
* Hangs out for 5 seconds
* Runs MemberRemove API call to shutdown the second member.

IIRC this is where we hit the iss

[2016-08-30 04:13] purpleidea commented on #6305
@heyitsanthony Asked me to open this. Here it is!

BTW I can get more etcd logs (to do this in mgmt set VERBOSE to true in main.go) but I'm kind of buried finishing an important patch, so if you can't reproduce with the simple example above, let me know and I'll do the lifting to provide more details. Thanks!

[2016-08-30 04:35] purpleidea commented on #6305
Okay here's a present, I got longer logs.
Any error message from etcd itself starts with (etcd), the rest is mgmt stuff.
You can also see how to run this test yourself.
HTH

[code]

[2016-08-30 04:40] purpleidea commented on #6305
Changing the 5s sleeps in my test to 10s seems to make it pass. @heyitsanthony pointed out that 5s happens to also be the health check interval. So bad luck that I chose 5s, but I guess this is a bug, sorry.

[2016-08-30 04:47] purpleidea commented on #6305
Some additional info for the logs. chzz pointed out that I could disable the extra health check by doing:

`cfg.StrictReconfigCheck = false`

but I'd like to leave it enabled, because more safety is good. Maybe this is good docs for someone who wants this to work ASAP and doesn't want safety. HTH

[2016-08-30 09:34] purpleidea commented on #6305
@heyitsanthony Bad news, I think there's something racy about your health check, because even with 10s, sometimes this fails...

[2016-08-30 11:57] akamalov commented on #6302
@xiang90  Yep, you're right, it is listening on ```:23790```.

[code]

Question: how can test if gateway actually works. Simple curling up to it is not working.. So far, every ```curl``` I do to ```:23790```, I am getting ```curl: (56) Recv failure: Connection reset by peer```

[2016-08-30 14:29] yuzhichang commented on #225
FYI, in etcd 3.0+, "etcdctl elect" is the sample code for election campaign and observe. See https://github.com/coreos/etcd/blob/master/etcdctl/README.md for document.

[2016-08-30 15:34] johnbazan commented on #6293
I will go ahead and close this issue, since it was a question.

Thanks for replying @xiang90.

[2016-08-30 15:34] #6293 closed

[2016-08-30 20:33] #3363 closed

[2016-08-30 20:58] michael-px commented on #6268
I've got another cert issue but it's slightly different from this topic.  I got cfssl to generate peer certs and can use the same cert, plus it's key, and the CA to authenticate etcdctl on that node.  mkbundle (part of cfssl) allows me to combine all the certs into a single CRT file that I can use to access any of the nodes from a client.

So this issue is solved.

[2016-08-30 21:00] xiang90 commented on #6268
@michael-px Free feel to submit patches to improve the cfssl doc/template. Thank you!

[2016-08-30 21:00] #6268 closed

[2016-08-30 21:00] gyuho commented on #6268
Yeah we are planning on making the documentation better in general. Thanks!

[2016-08-30 21:02] michael-px commented on #6268
😀
I didn’t know I could do that.

Like the famous philosopher said, when you stare into the void, the void
stares also; but if you *cast* into the void, you get a type conversion
error. Either way lies madness. -- Charles Stross
The pure and simple truth is rarely pure and never simple.--Oscar Wilde

On Tue, Aug 30, 2016 at 2:00 PM, Xiang Li <notifications@github.com> wrote:

[2016-08-30 21:25] michael-px opened #6311 "certs and dealing with an outage"
I got a working ssl configuration that uses the cfssl tool to generate a CA and peer certs for a three node cluster on AWS.

Each AWS instance has an external IP address which is in DNS and an internal IP address that's used for peer<-->peer communication.  I put those into each instance's certs along with localhost and 127.0.0.1.  This makes those certs unique to the node they're generated for.

[2016-08-30 22:14] xiang90 commented on #6311
@michael-px Can the client talk to etcd using DNS name instead of IP? Then we can point the old DNS (DNS of the dead member) to the newly created member?

[2016-08-30 22:22] xiang90 commented on #6302
@akamalov I would suggest you to try current master. It would print out logging to help debug.

[2016-08-30 22:37] michael-px commented on #6311
The client is given a connection string of all nodes in the cluster as DNS
names.  So in that scenario, the client would still be able to connect.

So, the new node, say hostname efcd-new, is given the DNS name
etcd2.example.com.  It’s cert is generated with the new internal IP,
external IP (which would be the SAME due to AWS elastic IP), and
etcd2.example.com DNS entry.

The cert in the bundle fo

[2016-08-30 22:41] xiang90 commented on #6311
/cc @gtank would be a better person to help you on this.

[2016-08-30 22:44] xiang90 commented on #6311
From my understanding, as long as DNS + external IP remain the same, the client should not have a problem connecting to it. Due to the internal IP changes, we need to update the cert of the other servers.

[2016-08-30 22:53] michael-px commented on #6311
“we” as in etcd itself will track this?  The setting for the initial
cluster will be different.

For example, before the outage, let’s say this is in each node in the
cluster:

ETCD_INITIAL_CLUSTER="etcdb=https://10.0.0.5:2380,etcdc=
https://10.0.2.123:2380,etcdd=https://10.0.4.187:2380”

etcdc dies.  So I removed it from the cluster with member remove.  Then add
a new node with member add and the

[2016-08-30 23:11] xiang90 commented on #6311
First, initial prefixed flag will ONLY affect new member (member without data dir). For restart existing members (member with existing data dir), you can simply ignore them.

In your example, the external IP and DNS do not change. So client should not be affected. No client facing stuff ever get changed.

The internal IP did change from 123 -> 35. So we need to update certs of all existing members

[2016-08-30 23:15] michael-px commented on #6311
This scenario is doable with a change in the config files plus a systemctl
restart of etcd.  That’s all on the server side and the 1000 clients are
fine.

That’s also GREAT news.  I like making my boss happy.

Like the famous philosopher said, when you stare into the void, the void
stares also; but if you *cast* into the void, you get a type conversion
error. Either way lies madness. -- Charles St

[2016-08-30 23:15] xiang90 commented on #6311
@michael-px I would suggest you to get it a try first. Also probably you should wait for @gtank's opinion.

[2016-08-30 23:20] michael-px commented on #6311
Yes, I’m setting up the cluster, then we’ll test our product

Then do the remove/add scenario.

Like the famous philosopher said, when you stare into the void, the void
stares also; but if you *cast* into the void, you get a type conversion
error. Either way lies madness. -- Charles Stross
The pure and simple truth is rarely pure and never simple.--Oscar Wilde

On Tue, Aug 30, 2016 at 4:16 PM, Xia

[2016-08-30 23:59] heyitsanthony opened #6313 "TestIssue3699 times out waiting for leader"
via semaphore https://semaphoreci.com/coreos/etcd/branches/master/builds/854

[code]

[2016-08-31 00:04] heyitsanthony opened #6314 "TestWatchReconnRequest: request timed out"
via semaphore on #6310

[code]

[2016-08-31 00:21] chajath opened #6315 "etcdctl v3 txn value does not honor %q formatting"
etcdctl txn key and value specs are given as:

[code]

To me, it is not clear what `(%q formatted string)` exactly mean here. Running the very example given, i.e.

[code]

When I do `etcdctl get key1` afterwards I get `"created-key1"` as a value with quotes intact. Shouldn't the value be `created-key1` without the enclosing quotes? Also, it does not seem to honor other standard %q formatting such

[2016-08-31 02:25] heyitsanthony commented on #6315
The %q formatted strings are only for the `<CMP>*` part of the txn. Get/Put/Del are derived from the etcdctl `get`/`put`/`delete` command syntax. This is given in the grammar given from the etcdctl documentation: `<OP> ::= ((see put, get, del etcdctl command syntax)) "\n"`.

[2016-08-31 02:34] #6271 closed

[2016-08-31 04:39] chajath commented on #6315
Ok I might have misunderstood the spec. But it looks like there is no easy way of escaping special characters or including whitespaces without putting quotes around, and when I do put the quotes around the quotes themselves are saved verbatim. Any recommendation around putting values that has spaces in it without putting quotes around?

[2016-08-31 06:28] gyuho commented on #6292
Ping @simoninkin ?

[2016-08-31 06:35] gyuho commented on #6292
You might want to try using a new token.

[2016-08-31 06:48] gyuho commented on #6258
I am not familiar with ELB, but does ELB connect to etcd with static IPs? How do you generate certs? If etcd doesn't print out any errors, I think it should be misconfiguration in your kubernetes?

[2016-08-31 12:38] akamalov commented on #6302
Thanks @xiang90. I will close the ticket.

[2016-08-31 12:38] #6302 closed

[2016-08-31 15:07] oikomi opened #6318 "how to set "PUT" with ttl and how to watch a directory"
hi
after upgrade to cli V3, how to set "PUT" with ttl and how to watch a directory ?

thx

[2016-08-31 17:41] gyuho commented on #6318
@oikomi You need to attach lease to your key https://github.com/coreos/etcd/tree/master/etcdctl#lease-subcommand

And there's no key-hierarchy in v3. You can watch by prefix though.
https://github.com/coreos/etcd/tree/master/etcdctl#watch-options-key-or-prefix-range_end

[2016-08-31 17:56] heyitsanthony commented on #6315
Tried it out and even the plain quote handling seems broken. It should probably behave like %q if quotes are given. Will fix and add better testing around it. Thanks for reporting this!

[2016-08-31 18:02] chajath commented on #6315
Thanks for looking into this. The only workaround I can think of is to enter stdin mode and supply ^D at the end of the value. So I'd very much like the %q string support, please :)

[2016-08-31 18:04] xiang90 commented on #6318
@oikomi This doc might be helpful too: https://github.com/coreos/etcd/blob/master/Documentation/op-guide/v2-migration.md#migrate-client-library

[2016-08-31 19:43] #6313 closed

[2016-08-31 21:21] xiang90 commented on #6250
@shuqilou I close this since it is inactive and seems not an etcd related issue. Please reopen if you want a further discussion. Thank you!

[2016-08-31 21:21] #6250 closed

[2016-08-31 21:36] tschuy opened #6322 "Cannot restore backup to new cluster"
I'm trying to back up an existing cluster and restore it to a single node on a virtual machine so I can have a copy of the data to work with.

Both machines I'm running `etcd` on are on alpha channel with etcd 2.3.2.

[code]

It'll look good for a few seconds, and then suddenly:

[code]

I''ve tried `ETCD_INITIAL_ADVERTISE_PEER_URLS=http://127.0.0.1:2380` to no avail.

[2016-08-31 21:38] xiang90 commented on #6322
@tschuy Can you try with 2.3.7? I believe there was a bug in early version of 2.3 release.

[2016-08-31 21:48] tschuy commented on #6322
ah, looks like that solves it. thanks!

[2016-08-31 21:48] #6322 closed

[2016-08-31 22:07] aaronlehmann opened #6323 "wal package generates files that cause old decoder to panic"
The WAL files generated by the current version of the code do not seem to be compatible with some older versions of the package. This causes problems when downgrading from a newer version to an older one.

1. Create a WAL using the latest version of the `github.com/coreos/etcd/wal` package.
2. Try to load the WAL using an old revision such as ce63f107382080fda29ed124249b16bfea224dc0.

`(*decoder).

[2016-08-31 22:11] xiang90 commented on #6323
@aaronlehmann For etcd, we do not want to commit to forward-compatibility for now. If you have a good idea about adding forward-compatibility for WAL pkg, we should love to take the patch if it does not significantly affect performance + code complexity.

[2016-08-31 22:32] aaronlehmann commented on #6323
The only idea I can think of is adding a padding field to `walpb.Record`. For example, `saveEntry` would look like this:

[code]

`saveState` would have the same logic (probably factored out to a common function).

This doesn't seem as bad as I feared in terms of complexity. It would avoid the need for computing padding in `encodeFrameSize`. In terms of performance, it would involve a call to `Siz

[2016-08-31 22:38] heyitsanthony commented on #6323
I don't think the padding field can go in the record because that field is only computed after marshaling the record.

[2016-08-31 22:45] aaronlehmann commented on #6323
I think you're right that the code I scribbled above isn't quite correct - `8 - (size % 8)` isn't the right number of bytes to put inside the padding field because of encoding overhead. But I think it is possible to do it this way.

Here's the code from `(*Record).Size` that deals with the `Data` field. `Padding` should be the same, since it's also `[]byte`.

[code]

`sovRecord(n)` is always 1 for

[2016-08-31 22:53] heyitsanthony commented on #6323
I'm not sure compatibility is really possible between 2.x and 3.x. There are other differences between the 2.x wal and 3.x wal. How will you account for 2.x using `O_APPEND` and growing the file vs 3.x preallocating a full 64mb file?

[2016-08-31 23:00] aaronlehmann commented on #6323
Yikes, I didn't realize that would be an issue as well. Perhaps this is not worth pursuing.

Do you know if there are any wire-format incompatibilities between versions 2.x and 3.x of the `raft` package (i.e. can something with an old version of the `raft` package talk to something with a new version)?

[2016-08-31 23:16] xiang90 commented on #6323
@aaronlehmann
No. We are not aware of that.

For raft pkg and related stuff, we still have one or two more things to finish before we want to finally stabilize the API (say we have 1.0 API). At the same time, we really need to figure out a better story for backward and forward compatibility for raft pkg since there are a fair number of significant users.

We will get you or other swarmkit people i

[2016-08-31 23:44] aaronlehmann commented on #6323
Thanks. I just did some compatibility testing between instances running different versions, and didn't find any problems.

I'd be happy to be involved in this.

Feel free to close this issue if you don't see a practical path to restoring WAL compatibility.

[2016-09-01 01:56] xiang90 commented on #6323
@aaronlehmann Thanks for your understanding.

[2016-09-01 01:56] #6323 closed

[2016-09-01 07:55] oikomi commented on #6318
thx , resolved.

[2016-09-01 07:55] #6318 closed

[2016-09-01 10:21] sachincab opened #6327 "etcd 3.0.7 rkt container is not starting with permission denied for ssl certs"
Hi Team,

When trying to run etcd-3.0.7 as rkt container it complain with below error using etcd-wrapper.
 **etcdmain**: open /etc/ssl/etcd/kube-etcd-member.pem: permission denied****

I can see that volume seems to be mounted where certs are stored.
[code]
run: adding {V:etcd-certs,kind=host,source=/etc/ssl/etcd M:{Volume:etcd-certs Path:/etc/ssl/etcd}}
`etcd-wrapper[3036]: run: cannot run as unp

[2016-09-01 10:59] shuqilou commented on #4627
Do you have token some measures to resolve such inefficient watch mechanism?

[2016-09-01 12:01] doganyazar opened #6328 "Recursive watch with an old waitIndex hangs if the watched key is not a dir"
The steps and logs are below. When I restart etcd, it looks like the indices are incremented and when I do recursive watch on those old indices, etcd hangs until the another update.

[code]

[etcd-log-restart-after-kill.txt](https://github.com/coreos/etcd/files/449551/etcd-log-restart-after-kill.txt)
[etcd-log.txt](https://github.com/coreos/etcd/files/449550/etcd-log.txt)

[2016-09-01 13:00] shuqilou opened #6329 "repetitive execution of the test file"
Question:
After installing the source code of etcd-3.0.1, I want to excute the test file, which can generate the gopath folder and bin folder, and then the problem is coming. The first time I excuted the test file, everything was ok, and I could get the correct result which proved that the environment of my machine was available. The second time when I excuted the test file, I just got the wrong r

[2016-09-01 13:48] sachincab commented on #6327
Hi again,

I did some more testing and seems more problem like this:

Scenario-1: When I tried to use coreos latest beta version (CoreOS 1122.1.0) which has etcd-wrapper script natively then etcd rkt container is starting properly without any permission denied error.

Scenario-2: When I tried to use CoreOS stable version: CoreOS 1068.10.0 and tried to copy and use same wrapper script then I am get

[2016-09-01 13:50] xiang90 commented on #4627
@shuqilou This can be an easy fix. We have not measure how efficient it is, it is actually not common to have 1000s of watchers watching on the same key. It would be great if you can:

1. measure the overhead

2. fix it

[2016-09-01 13:53] xiang90 commented on #6327
@crawford @steveeJ can you help to take a look at this etcd wrapper related question? thanks!

[2016-09-01 14:07] simoninkin commented on #6292
@gyuho sorry, I was too busy with other stuff

Maybe I'm not understanding the logic correctly, but are you suggesting using a new token each time the machine is restarted? I though all of this cloud-config stuff was created to make our lives simpler? Shouldn't the cluster members stay in the cluster upon reboot? Because, say, there are 100+ servers running CoreOS in 5 or more clusters. Then, upon

[2016-09-01 14:23] xiang90 commented on #6328
@doganyazar

If you use recursive watch, etcd assumes the key is a directory. In your case it is a plain key. etcd handles it differently in different cases. We should make this consistent. I mark this as a bug.

[2016-09-01 14:26] gyuho commented on #6292
@simoninkin You need to generate a new discovery token per bootstrap. Can you share your etcd error logs so that we can make sure what's happening?

[2016-09-01 14:26] xiang90 commented on #6328
This has nothing to do with restart though. If you watch at the index that the event happens at, it returns. Or it will hang for watching only its children key.

[2016-09-01 15:55] simoninkin commented on #6292
I'll simulate this behaviour tomorrow morning and add the logs.

[2016-09-01 16:10] heyitsanthony commented on #6329
Which test is failing? Does this happen with 3.0.7?

[2016-09-01 23:18] #6304 closed

[2016-09-01 23:19] heyitsanthony commented on #6305
@purpleidea If there's a race causing rejects for  `> 2*etcdserver.HealthInterval`, why aren't `TestRejectUnhealthyAdd` and `TestRejectUnhealthyRemove` failing in CI? There's not much about the code path that could race...

[2016-09-02 00:31] purpleidea commented on #6305
On Thu, Sep 1, 2016 at 7:20 PM, Anthony Romano <notifications@github.com>
wrote:

Actually I don't know if there's a race for sure, because it's always
failing. So I might have either gotten lucky for some reason, or was
looking at the wrong data.

[2016-09-02 02:55] #6315 closed

[2016-09-02 12:29] doganyazar commented on #6328
Thanks a lot. Now the behaviour is clear for me.

[2016-09-02 15:19] simoninkin commented on #6292
Ok, finally found time to do this. So basically, I made a mistake of coming to conclusions prematurely. I was trying to reboot the machine before the bootstraping took place and not all members were discovered in the cluster. This time I've started all 3 machines and they discovered each other. Then I rebooted one of them and this is what I got:

Sep 02 15:07:34 cgcoreossimon2 systemd[1]: Starting

[2016-09-02 15:29] xiang90 commented on #6292
Yes. It is. Glad you figured it out.

[2016-09-02 15:29] #6292 closed

[2016-09-02 15:50] simoninkin commented on #6292
Thanks for your help! And sorry for taking you time on this.

[2016-09-02 15:56] simoninkin opened #6334 "[ question ] Dual cloud-config to turn off open-stack media drive unit"
Also, since we're already here (tell me if I need to open another issue/question for this), but I'm trying to make a double cloud-init work in my env. However, looking at cloud-init logs I've noticed that the configs are MERGED, not parsed separately! Thus, the ssh-keys specified in one config get rewritten from the other one, as well as giving me other troubles. Log:

Sep 02 12:42:03 localhost co

[2016-09-02 15:57] simoninkin commented on #6334
Ah, man. Wrong board! =(
Deffinitely not a etcd question!
Please close the issue

[2016-09-02 15:58] #6334 closed

[2016-09-02 17:34] heyitsanthony opened #6335 "doc: specialized instruction links for administrating etcd"
Right now the etcd setup documentation is written generically and makes few assumptions about the underlying system. This is somewhat confusing for users wanting to know how to run etcd on coreos (or whatever). Instead, the etcd documentation should have clear links to admin instructions (managed outside the etcd repo) for specific systems.

/cc @cap10morgan

[2016-09-02 18:32] chancez opened #6336 "Listen peer URLs accepts domain names incorrectly"
From the docs: https://github.com/coreos/etcd/blob/master/Documentation/op-guide/configuration.md#--listen-peer-urls etcd should not allow domain names in listen-peer-urls, but I'm finding that it does.

I don't actually know if this causes any problems, but it seems like it shouldn't be allowed regardless if it does work.

Unfortunately, this was found in my setup of etcd 2.3.2 so I didn't test w

[2016-09-02 19:04] heyitsanthony commented on #6336
I tried to reproduce this on my machine:
[code]

From the log, etcd seems to be reporting a DNS error (oddly, it is not "no such host") and terminating:
[code]

However, etcd then restarts and can suddenly listen:
[code]

What's going on with your DNS? `dig node1.chancez.test`?

[2016-09-02 19:57] chancez commented on #6336
@heyitsanthony it's just an A record pointing to 172.17.0.21 from my dnsmasq.

[2016-09-02 20:10] heyitsanthony commented on #6336
OK, I see. You're right there's no validation that it's not a domain name. Some cursory googling shows that some people rely on this behavior though. Is there a reason not to support binding to a domain name so long as the resolved IP is available for binding? /cc @xiang90

[2016-09-02 20:27] chancez commented on #6336
@heyitsanthony it just seems...wrong. You don't "bind" to domain names. You bind to an interface, so if its doing dns queries to "figure out" its IP and bind to that, thats way too magic and way too likely to be incorrect in practice. Imagine if the domain name is pointing to the IP of your load balancer, it would cause etcd to incorrectly try to bind using an IP it doesn't have, which seems like

[2016-09-03 16:54] ceecko opened #6342 "doc: update Documentation on coreos.com"
Any plans for updating the docs at https://coreos.com/etcd/docs/latest/ to v3?

[2016-09-03 17:09] glycerine opened #6343 "auth: docs sadly out of date / segfault on --user"
The authentication docs, found here:

https://coreos.com/etcd/docs/latest/authentication.html

are woefully out of date. Moreover nobody must be using --user, because it segfaults instantly.

details:

[code]

[code]

[code]

[code]

[2016-09-03 17:44] glycerine commented on #6343
https://github.com/coreos/etcd/pull/6344 addresses the panic.

[2016-09-03 17:51] xiang90 commented on #6343
The doc you looked at is for v2. CoreOS doc is not on v3 yet. Check https://github.com/coreos/etcd/blob/master/etcdctl/README.md#auth-enable-or-disable instead.

[2016-09-03 18:04] glycerine commented on #6343
okay. would be polite if the docs actually said that they are for version 2 at the top of the page -- I found it directly from Google, and the url includes the word 'latest'. So I was mislead.

[2016-09-03 23:54] gyuho commented on #6342
We will, soon. Sorry for the delay!

[2016-09-04 12:54] ahosam commented on #3171
same issue here to install BM CoreOS

Sep 04 12:43:33 core-01 systemd[1]: Starting etcd2...
Sep 04 12:43:33 core-01 etcd2[7804]: recognized and used environment variable ETCD_ADVERTISE_CLIENT_URLS=http://192.168.1.120:2379
Sep 04 12:43:33 core-01 etcd2[7804]: recognized and used environment variable ETCD_DATA_DIR=/var/lib/etcd2
Sep 04 12:43:33 core-01 etcd2[7804]: recognized and used environment v

[2016-09-04 22:31] gyuho commented on #6258
@sachincab Any updates?

[2016-09-05 00:45] petermattis opened #6347 "raft: rand.NewSource is bulky (allow configuration or share a singleton)"
[`raft.newRaft`](https://github.com/coreos/etcd/blob/master/raft/raft.go#L247) currently hard codes the creation of a `rand.Rand` using `rand.New(rand.NewSource())`. `rand.NewSource` creates a surprisingly large object weighing in at 4872 bytes. With a small number of raft groups in a process this isn't a problem. But CockroachDB is now getting up to thousands of raft groups. With 10k raft groups

[2016-09-05 01:00] xiang90 commented on #6347
Singleton sounds reasonable. If you want to make this more fancy, we can try put that into config. Both are fine with me.

[2016-09-05 05:25] #5386 closed

[2016-09-05 14:25] #6347 closed

[2016-09-05 14:28] shuqilou opened #6352 "etcd3.0 OOM"
When client operations were executed continuously, the size of snapshot was rising all the time and got OOM at last.
Does the db file have upper limit value?
What laws are there during the generation of the db file?

Another question：
If the speed of client request is 7k/s, How long will the etcd works normally?

Thanks!

[2016-09-05 14:36] xiang90 commented on #6352
OOM is not caused by etcd, it is because your machine does not have enough memory. v3 has a default 2GB size limit. Normally 2GB is more than enough for storing all your metadata even if you have a really large cluster. There are other factors that can contribute to your memory usage. You need to monitor your usage closely yourself.

For your specific case, we need to know more to help. For exampl

[2016-09-06 00:57] glycerine opened #6355 "etcdctl/ctlv3: auth: cannot create a root role who can readwrite all keys"
v3 api: I'd like to create a root role who can read and write anything. Unfortunately, the '*' wildcard is ignored, so this appears... to be impossible?

both full wildcard `*` and partial wildcard `a*` seem to be ignored.

[code]

[2016-09-06 01:55] soyking commented on #6355
I have the same question and I found this:

https://github.com/coreos/etcd/issues/5896

It seems that they have no plans about this:(

[2016-09-06 02:04] xiang90 commented on #6355
@soyking These are different issues. We should make root role be able to readwrite all keys by default. /cc @mitake

[2016-09-06 02:14] mitake commented on #6355
@glycerine @soyking @xiang90 I think the root role and users who are granted the role should be able to access to all keys (currently the role doesn't have the permission). So I'd like to update the semantics of the root role.

It seems that the prefix permission is required by some people so I'll work on it.

[2016-09-06 02:43] soyking commented on #6355
@mitake

Looking forward it :)
But I think supporting `*` is better. the way in https://github.com/mitake/etcd/commit/3d0602bb10cc301b13a5b6b02d62c670cc074f71 is a little "rough":)

[2016-09-06 02:46] mitake commented on #6355
@soyking yes, the PR is just fixing the root role. The prefix permission is an independent topic from the PR.

[2016-09-06 07:31] #6355 closed

[2016-09-06 13:38] shuqilou commented on #6352
Thanks for your reply!
Our runtime log is as follows:

    2016-09-06 00:06:02.945457 I | fileutil: purged file member1/member/wal/0000000000000006-    00000000003a62a8.wal successfully
    2016-09-06 00:06:03.260689 I | etcdserver: start to snapshot (applied: 7257994, lastsnap: 7247972)
    2016-09-06 00:06:03.264649 I | etcdserver: saved snapshot at index 7257994
    2016-09-06 00:06:03.264824 I

[2016-09-06 14:09] glycerine commented on #6355
Yay! Thank you @mitake and @xiang90.

[2016-09-06 14:12] glycerine commented on #6343
the doc portion is a dup of #6342, so I'm closing this out now that #6344 merged.

[2016-09-06 14:12] #6343 closed

[2016-09-06 14:20] glycerine opened #6359 "etcdctl/ctlv3: auth: how to create /home/ directory ?"
Related to the wilcard '*' discussion on #6355 #5896:

I have a set of clients. I would like to give each a /home/ sub-directory, so that they may write and read in their home directory. They should be able to read other people's home directories, but not write. For example:

[code]

So the permissions I would like to grant to each of my users would be:

role `user` can read on `/home/*`

while in

[2016-09-06 14:44] glycerine commented on #6359
@mitake may be working on something for this, per his comment on #6355

[2016-09-06 14:45] glycerine commented on #6359
@soyking, does this capture your use case as well?

[2016-09-06 15:35] soyking commented on #6359
yeah, I want this feature too:)

`*` seems like prefix match, but actually the `menu tree` in k-v system seems useful both in authentication and visualization.etcdv3 is a flat k-v system, but it seems that it leaves more work to the user in my experience.Just some gossip:)

[2016-09-06 17:32] gtank commented on #6336
Since etcd is security-relevant to several projects, we probably should err on the side of not letting a DNS compromise escalate (for example) to control of a Kubernetes cluster.

If there's a user need for this exposure we can think through it again, but if there isn't then why not eliminate the risk?

[2016-09-06 17:52] hongchaodeng opened #6361 "Snapshot restored cluster not sync-ing up"
# Problem

Three members etcd cluster that were restored from snapshot couldn't sync up and end up serving different result.

# How to reproduce

ETCD_VERSION=(master tip)

Assumed I have a cluster that has key "foo=bar". Now I'm taking the snapshot by doing:
[code]

After shutting down the cluster, restore the snapshot:
[code]

Then start one member etcd:
[code]

I can verify that the data is cor

[2016-09-06 18:41] sergeyfd opened #6363 "Is "snapshot save/restore" command supposed to restore V2 data store?"
Hello,

I've been testing snapshot  save and restore command and it seems that it handles V3 data store only. Is it supposed to save/restore V2 data store? Is there a way to backup/restore both version of data store with a single set of commands?

Thanks.

[2016-09-06 18:49] heyitsanthony commented on #6363
@sergeyfd `snapshot` is for the v3 keyspace only. The v2 keyspace uses `backup`/`restore`. There's no single command pair that will do backup for both v2 and v3 at the moment.

[2016-09-06 18:57] sergeyfd commented on #6363
Let me ask one more question. What is the best way to recover a 3 node cluster if two members of it were lost along with data? Can I re-initialize the cluster using data from the survived member?

[2016-09-06 19:02] heyitsanthony commented on #6363
https://github.com/coreos/etcd/blob/master/Documentation/op-guide/recovery.md is the suggested way to do it.

[2016-09-06 19:08] sergeyfd commented on #6363
As you stated above that will restore V3 keystore, but not V2. What is the way to restore both? Am I supposed to run both snapshot and backup for that? What if I don't have backup copy or a snapshot but do have data on one of the nodes.

[2016-09-06 19:38] xiang90 commented on #6352
How many keys have you put into etcd? You should expect the db size to grow as you put more keys. The size would roughly be (30+40) * N bytes.

[2016-09-06 19:39] xiang90 commented on #6352
Also is your machine running 32bit or 64bit?

[2016-09-06 19:43] xiang90 commented on #6363
@sergeyfd There is no way to do that. You need to do it separately. We do not suggest you to use v2 and v3 together for a long time . We support v2 + v3 running together mainly for migration reasons.

[2016-09-06 20:09] xiang90 commented on #6361
@heyitsanthony @hongchaodeng

I looked at the code, and found the root cause.
For restore, we create a new WAL and a new DB. This works well for restored member. However, if we add a new member before any snapshot is taken, there will be an issue. The restored member will send over the WAL files but not DB files to the newly add member.

We should force the restored member to have a snapshot that

[2016-09-06 20:10] xiang90 commented on #6329
kindly ping on this @shuqilou

[2016-09-06 21:12] heyitsanthony opened #6364 "TestWatchReconnInit: panic: runtime error: index out of range"
via semaphore (https://semaphoreci.com/coreos/etcd/branches/pull-request-6358/builds/1)

[code]

[2016-09-06 21:20] xiang90 commented on #6359
@glycerine @soyking

The permission supports range. You can do /home/xiang-> /home/xian+byte(g+1). We probably can make etcdctl better by adding a --prefix option to help users to do this calculation automatically.

It would be great if you can contribute. The prefix generation code is here https://github.com/coreos/etcd/blob/master/clientv3/op.go#L214

[2016-09-06 21:23] xiang90 commented on #6311
I am going to close this since it seems that the problem is resolved. Please reopen if there is any followup. Thanks.

[2016-09-06 21:23] #6311 closed

[2016-09-06 21:23] xiang90 commented on #6311
I am going to close this since it seems that the problem is resolved. Please reopen if there is any followup. Thanks.

[2016-09-06 21:25] michael-px commented on #6311
That works. I’ve been pull onto another more urgent project for the
meantime. I’ll tell my boss you guys are closing the issue and he can
either have me reopen it when we come back to this problem or I’ll open
another issue.

Like the famous philosopher said, when you stare into the void, the void
stares also; but if you *cast* into the void, you get a type conversion
error. Either way lies madnes

[2016-09-06 22:19] xiang90 commented on #6361
I am fixing this. I can finish this probably in two days. If anyone is in urgent, probably you can go ahead to fix it on your own.

[2016-09-06 22:41] heyitsanthony opened #6366 "TestCtlV3Lock: Error: lost watcher waiting for delete"
via semaphore (https://semaphoreci.com/coreos/etcd/branches/master/builds/883)

[code]

[2016-09-06 23:36] euank commented on #5449
I like the idea of defaulting to stdout based entirely on the number of times I've personally had etcd drop out from under me and leave no trace of output on my terminal.

[2016-09-07 01:12] glycerine commented on #6359
Range is painful to use. For example, I don't know how to specify the
range that would be the same as `/home/jason/*` and include all the utf8
characters. Why not just use the simple `*`. Wasn't it already in v2?

I'd be happy to help if you're okay with implementing `*`

[2016-09-07 01:16] ramanala opened #6368 "Possible data loss -- fsync parent directories"
I am running a three node etcd cluster. When I insert a new key value pair into the store, I see the following sequence of system calls on the server.

1 creat("/data/etcd/infra0.etcd/member/wal/0000000000000001-000000000000001b.wal.tmp")
2 append("/data/etcd/infra0.etcd/member/wal/0000000000000001-000000000000001b.wal.tmp")
3 fdatasync("/data/etcd/infra0.etcd/member/wal/0000000000000001-000000000

[2016-09-07 01:32] soyking commented on #6359
@xiang90

And, in my test, if you use the range such as `/home/xiang` to `/home/xianh`, then you could access to the key `/home/xianh` too. That's weird.

[2016-09-07 01:43] xiang90 commented on #6368
@heyitsanthony This seems like a bug. I marked this as P2 since this is unlikely to happen in practice. But we should fix this soon. @ramanala Can you say more about your testing framework? We are VERY interested in auto testing to ensure etcd works reliably.

[2016-09-07 01:50] mitake commented on #6359
@glycerine v3 API provides flat key space, it is essentially different from the Unix file system model. A key of etcd doesn't have a metadata like inode and there is no concept of directly. So we need to think with the range based permission. It is also required for effective range query.

@soyking It is wired. I'll look at it and fix.

[2016-09-07 01:57] glycerine commented on #6359
Hi @mitake, the point was that the system should be able to *model* such common situations.

At the risk of repeated an un-refuted observation, ranges are painful to use. T

here's nothing in a flat keyspace that mandates the use of ranges.

If it will be accepted when complete, I again offer to implement the much more usable wildcards.

[2016-09-07 02:32] mitake commented on #6359
@glycerine Of course I don't disagree with the prefix based permission :) I wanted to say that etcd cannot have a thing like inode because it isn't a file system and we need to implement the prefix based checking on the range based checking like @xiang90 pointed.

In addition, it allows a situation like this: some users can be granted to access to `/hom*` and it is a superset of `/home/*` so the u

[2016-09-07 02:49] glycerine commented on #6359
Hmm... indeed, `*` might be easy to shoot oneself in the foot with. I'd rather not loose the modeling power, though.

How about, in addition to simple prefix + `*` patterns, we add the following convention to address the usability issue that you point out:

If a path ends in `/`, then we treat it with directory semantics: having permission to read the directory gives permission to read everything

[2016-09-07 03:22] glycerine commented on #6359
For example, https://github.com/coreos/etcd/pull/6371 would seem to accomplish this, would it not?

[2016-09-07 06:19] mitake commented on #6359
I think `*` patterns and the home directory concept are overkill. Simply giving up them and having the prefix permission that is built on the range permission would be enough.

I agree with your opinion that the prefix based permission is useful. However, mocking the entire semantics of the Unix file systems wouldn't be a good idea. The file system-like APIs would be comfortable because everyone k

[2016-09-07 07:10] cherylhan opened #6375 "i have some questions to ask why etcd can create a hidden node and when i need to use it?"
recently，i am reading zhe website https://coreos.com/etcd/docs/latest/api.html。and，i want ask some question？

[2016-09-07 07:49] gyuho commented on #6375
What do you mean by `hidden node`? And feel free to ask questions here.

[2016-09-07 08:15] #6364 closed

[2016-09-07 09:42] cherylhan commented on #6375
like this curl http://127.0.0.1:2379/v2/keys/_message -XPUT -d value="Hello hidden world"
when i need to use this？ if i forget the path，how can i find it？

[2016-09-07 12:39] sinsharat opened #6377 "etcdctl v3: Not able to verify transaction example via CMD"
I am not able to figure out how to verify the transaction example given in Readme.md of etcdctl via the command prompt.

On trying to execute the example i am getting the below error:
![image](https://cloud.githubusercontent.com/assets/20169156/18312201/2ce60514-7526-11e6-97a8-b8827050b136.png)

Can someone suggest how to verify it.

[2016-09-07 14:01] ramanala commented on #6368
@xiang90  -- we have a testing framework that can test distributed storage systems for problems like data loss, unavailability etc in the presence of correlated crashes (i.e., all servers crashing together and in some servers, there are problems wrt FS like the above mentioned.). We have couple more issues in etcd where the cluster can become unavailable. I will file those issues in sometime.

Tha

[2016-09-07 14:33] ramanala opened #6378 "Possible cluster unavailbility"
Possible cluster unavailability

1 rename(source="/data/etcd/infra0.etcd/member/wal/0000000000000001-000000000000001b.wal.tmp", dest="/data/etcd/infra0.etcd/member/wal/0000000000000001-000000000000001b.wal")
2 append("/data/etcd/infra0.etcd/member/wal/0000000000000001-000000000000001b.wal", offset=88,  count=4096)
3 append("/data/etcd/infra0.etcd/member/wal/0000000000000001-000000000000001b.wal",

[2016-09-07 14:50] ramanala opened #6379 "Possible cluster unavailability on few file systems -- documenation issue?"
1 rename(source="/data/etcd/infra0.etcd/member/wal/0000000000000001-000000000000001b.wal.tmp", dest="/data/etcd/infra0.etcd/member/wal/0000000000000001-000000000000001b.wal")
2 append("/data/etcd/infra0.etcd/member/wal/0000000000000001-000000000000001b.wal", offset=88, inode=14711139, count=4096, implied_deps={1: 160, 2: 159, 3: 20})
3 append("/data/etcd/infra0.etcd/member/wal/0000000000000001-000

[2016-09-07 15:12] shuqilou commented on #6352
Our machine is 64bit and we keep on putting keys into etcd and then keep on deleting keys and cycle the processing. Normally speaking, when we delete keys in the etcd, the size of db file should decrease and when we end the process above, our keys in etcd are not so many while the db file is very big. It really confuses me a lot.
We set InitialMmapSize equals to 5G, 3 million times put and delete

[2016-09-07 15:14] xiang90 commented on #6352
This is incorrect. etcd keeps all versions of your key by default. You need to compact your keyspace. Also the panic is probably due to the modification of mmap size. We do not really can help you debug the modified version of etcd.

[2016-09-07 15:18] xiang90 commented on #6378
I think this is already fixed, no? @heyitsanthony

[2016-09-07 17:21] heyitsanthony commented on #6378
@xiang90 yeah all the `O_APPEND` stuff is gone as of 3.0.

[2016-09-07 17:21] #6378 closed

[2016-09-07 17:26] xiang90 commented on #6378
@ramanala This should be fixed. FYI.

[2016-09-07 17:27] heyitsanthony commented on #6379
The WAL doesn't rely on O_APPEND in 3.0. Closing

[2016-09-07 17:27] #6379 closed

[2016-09-07 17:44] xiang90 commented on #6379
We are aware of this issue before.

We fixed this by always writing a full record or a full page to OS. file system seems never try to write garbage across pages. So we can assume that any garbage is from the last record, and we can truncate it. This issue seems to be fixed in our testing infrastructure.

[2016-09-07 18:09] heyitsanthony opened #6380 "functional-tests: stress leases"
We would like to ensure lease related operations are handled correctly in failure recovery path but currently there is no lease testing in the functional tester.

Invariants to test:
* Lease should not expire before the returned TTL
* Any key attached to an expired/revoked lease should be removed
* All members key + lease state should have same hash for the same revision

Implementation would be a

[2016-09-07 18:17] gyuho commented on #6258
I assume this is Kubernetes specific configuration issue.

Please reopen when you have more details (etcd error logs will be helpful).

Thanks!

[2016-09-07 18:17] #6258 closed

[2016-09-07 18:55] heyitsanthony commented on #6377
@sinsharat txns need newlines between the condition/success/failure blocks (this is given in the documentation).

[code]

[2016-09-07 21:37] heyitsanthony commented on #6359
@mitake @glycerine etcd could cleanly support directory hierarchies and wildcards with a protocol extension proxy on the KV and Watch services with the regular etcd3 flat binary key-space underneath. That way the etcd core stays simple but server-imposed structure on the keyspace is still available for anyone that wants it. What do you think?

[2016-09-07 23:57] mitake commented on #6359
@heyitsanthony yes supporting the file system like API as an extension seems to be a good idea. How will you implement it? Use some keys as inodes and others as blocks?

[2016-09-08 00:08] heyitsanthony commented on #6359
@mitake -- It'll look like the v3 API except `*` and `/` are special characters. If you do `Get("/a/b/c/*")` it'll return the directory listing for `/a/b/c/` like @glycerine's approach in #6371 except a proxy would translate the requests to the etcd3 keyspace.  It'll write a little extra metadata to the key (invisible to the user) for tracking directory depth so listing is efficient.

[2016-09-08 01:31] mitake commented on #6359
@heyitsanthony I see, thanks for the description. I agree with supporting the directory model in the proxy layer.

[2016-09-08 01:34] glycerine commented on #6359
I don't know how a protocol extension proxy works, but is sounds quite complex.

[2016-09-08 02:12] soyking commented on #6359
@heyitsanthony hope to see that.

Because now for the directory hierarchies, I have to get a key such as `some_key` and then get keys with prefix `some_key/` and then combine then as a tree by my self. It's really not convenient.

[2016-09-08 04:07] glycerine commented on #6359
What I discovered in doing #6371 was that special handling for `/` doesn't seem required after all, that handling `*` appeared to suffice.

The implementation in #6371 pretty complete now, modulo the unknown proxy ideas floating around. Give it a try and let me know if you find it usable from the shell; I find it pretty reasonable. The backslash escape  (`\*`) is not needed to write a `*`, and isn

[2016-09-08 05:37] sinsharat commented on #6377
@heyitsanthony I had tried that as well, but the moment i put a new line it gives the same error.
![image](https://cloud.githubusercontent.com/assets/20169156/18338156/5e69ba20-75b4-11e6-9acc-91b847ae5a63.png)

Please let me know what i am doing wrong.
Thanks.

[2016-09-08 06:49] gyuho commented on #6377
@sinsharat Seems like we need Windows-specific code to read new line character

https://github.com/coreos/etcd/blob/master/etcdctl/ctlv3/command/txn_command.go#L76

`\n` is not going to work in Windows, I think.

Do you want to try fixing it? Think we just need to define `readCompares` separately in `txn_command_windows.go`.

[2016-09-08 08:41] sinsharat commented on #6377
@gyuho  sure will look into it and try and fix the issue.

[2016-09-08 15:52] glycerine commented on #6359
Hmm... I'm starting to understand the tradeoff here between usability from the command line, and usability from the API.

The wildcard star `*` makes etcdctl much, much easier to use from the command line.

However, as @heyitsanthony pointed out, that means that it is hard to write, from the command line, a key that ends with a star. `helloworld*` can easily be created as a key. But querying it be

[2016-09-08 17:01] heyitsanthony commented on #6359
@glycerine `etcdctl` shouldn't rewrite the requests to handle wildcards because then there's no way to write binary keys using the command line without preprocessing. Plus, etcdctl's behavior would then diverge from the client behavior.

Really, this should be done with a proxy; there's already some grpc proxy code in `REPO_ROOT/proxy/grpcproxy` which should help with getting started writing a new

[2016-09-08 17:50] fanminshi opened #6386 "TestWatchWithRequireLeader: Timed out"
Via semaphore https://semaphoreci.com/coreos/etcd/branches/master/builds/892

[code]

[2016-09-08 19:54] heyitsanthony commented on #6359
@glyercine do you only need to set roles for a prefix using `etcdctl auth`? If so, would adding a `--prefix` flag to etcdctl to handle your use case? There's already a similar feature in `etcdctl get` so it seems like the way to do it.

[2016-09-08 19:56] #6368 closed

[2016-09-08 20:09] xiang90 commented on #6329
I am going to close this out. I cannot reproduce locally. Probably you met some flaky tests. If you can reliably reproduce a test failure, please open an issue for that test.

[2016-09-08 20:09] #6329 closed

[2016-09-08 20:21] xiang90 commented on #6361
fixed by https://github.com/coreos/etcd/pull/6370

[2016-09-08 20:21] #6361 closed

[2016-09-08 20:23] jaten-saucelabs commented on #6359
When I think of a proxy, I think of a heavyweight 3rd process. But in looking at grpcproxy, I see a library (good, that is lightwieght) rather than a stand-alone command. So I'm not sure of the architecture being suggested when the word proxy is used. Are proxies always compiled into etcd and addressed by etcdctl...?

I will need to get and del using prefixes too.

[2016-09-08 20:38] heyitsanthony commented on #6359
@jaten-saucelabs that's already supported by etcdctl. See:
https://github.com/coreos/etcd/tree/release-3.0/etcdctl#get-options-key-range_end
https://github.com/coreos/etcd/tree/release-3.0/etcdctl#del-options-key-range_end

[2016-09-08 20:52] #6377 closed

[2016-09-08 20:53] fanminshi commented on #6380
Working on setting up the etcd cluster locally

[2016-09-08 21:04] glycerine commented on #6359
@heyitsanthony, @mitake:  etcdctl --prefix grant-permissions might do the job.

If you're not going to merge it, you should at least cherry pick (manually) the range and range-merge logic fixes I did in #6371.  There were a bunch of insidious and painful to track down logic bugs, as well as an incorrect test.

Specifically:

https://github.com/coreos/etcd/pull/6371/files#diff-e807c9d20ed5566b76a11

[2016-09-08 21:17] heyitsanthony commented on #6359
@glycerine OK, the isSubset fix looks like the right thing to do. Not sure about the other ones (@mitake knows those paths better). We can do a bugfix PR if you want to be involved in that (if not, that's fine, I can pick it up for you). Thanks!

[2016-09-08 21:26] xiang90 commented on #6359
@heyitsanthony @glycerine

We probably should still try to add --prefix option to auth permission as I mentioned in a previous reply. I agree with @glycerine that asking users to calculate what is the right range end for granting /xiang/* is not ideal.

[2016-09-08 21:56] ramanala commented on #6368
Thank you @heyitsanthony and @xiang90 !

[2016-09-08 22:15] glycerine commented on #6359
@heyitsanthony @mitake

yes, please go ahead and run with an independent bugfix pr, I'm swamped.

Questions though, let me know. The test (test 15, counting from zero, in TestGetMergedPerms in etcd/auth/range_perm_cache_test.go) was trying to say that [a, b) merged with [b, "") should be [a, b), which it is not; the two cannot be merged, because [a,b) is different from [a,b]; in the range conventi

[2016-09-08 22:59] xiang90 commented on #6359
@glycerine Thanks for your analysis and work so far. We will try to take it over, and fix the issues you reported soon.

[2016-09-08 23:24] fanminshi commented on #6380
Followed the instructions on https://github.com/coreos/etcd/tree/master/tools/functional-tester to get functional tester running locally.

[2016-09-08 23:43] #5868 closed

[2016-09-09 02:42] gyuho opened #6391 "e2e: test restore snapshot"
- https://github.com/coreos/etcd/issues/6361
- https://github.com/coreos/etcd/pull/6370
- https://github.com/coreos/etcd/pull/6370#issuecomment-245177578

Need some refactoring around e2e first

[2016-09-09 02:50] mitake commented on #6359
@glycerine Yes the existing range mechanism has some bugs. I'll cherry pick your commit and create a new PR. Thanks a lot for analysis and fix!