[2019-09-01 06:22] jfbai commented on #11099
/area question

[2019-09-01 12:37] jfbai opened #11100 "Peer RTT increase significantly in 3.3.10"
We are managing several k8s clusters, and some of them are using etcd v3.1.13, the others are using v3.3.10.

And we observed that, the Peer RTT in v3.3.13 etcd cluster is 3 ~ 6 times larger than in 3.1.13. These clusters are all running in the same cloud provider environment. (same zone, and region).

![image](https://user-images.githubusercontent.com/13513238/64076455-beb48200-ccf7-11e9-8bc5-6c4

[2019-09-02 04:50] kulong0105 commented on #11078
etcd 3.4 release，测试了下，同样的问题：
[code]

[2019-09-02 10:27] fcddk opened #11101 "TSL config run"
etcd --config-file=/etc/etcd/conf.yml
conf.yml:
name: etcd-1
data-dir: /var/etcd/data
listen-client-urls: https://10.221.128.132:2379,http://127.0.0.1:2379
advertise-client-urls: https://10.221.128.132:2379,http://127.0.0.1:2379
listen-peer-urls: http://10.221.128.132:2380
initial-advertise-peer-urls: http://10.221.128.132:2380
initial-cluster: etcd-1=http://10.221.128.132:2380
initial-cluster-tok

[2019-09-02 10:28] fcddk commented on #11101
the tsl file is exist. I am sure.

[2019-09-02 10:53] fcddk opened #11102 "KeyFile and CertFile are not presented"
root@mon01:/home/wushuai/etcd# ./bin/etcd --config-file=/etc/etcd/conf.yml
{"level":"info","ts":"2019-09-02T18:51:10.251+0800","caller":"etcdmain/config.go:304","msg":"loaded server configuration, other configuration command line flags and environment variables will be ignored if provided","path":"/etc/etcd/conf.yml"}
{"level":"info","ts":"2019-09-02T18:51:10.251+0800","caller":"embed/etcd.go:117"

[2019-09-02 10:54] fcddk commented on #11102
name: etcd-1
data-dir: /var/etcd/data
listen-client-urls: https://10.221.128.132:2379,http://127.0.0.1:2379
advertise-client-urls: https://10.221.128.132:2379,http://127.0.0.1:2379
listen-peer-urls: http://10.221.128.132:2380
initial-advertise-peer-urls: http://10.221.128.132:2380
initial-cluster: etcd-1=http://10.221.128.132:2380
initial-cluster-token: etcd-cluster-1
initial-cluster-state: new
ce

[2019-09-02 12:51] wiktor-k commented on #11094
I'd recommend to select a group of few people that'd prepare releases and they'd sign the artifacts. That's what kernel.org and Linux Foundation does (see [source](https://lists.gnupg.org/pipermail/gnupg-users/2019-March/061728.html)). As @Roguelazer mentions Apache uses similar approach (they store `KEYS` file in repository root with keys of people authorized to sign releases, c.f. https://httpd.

[2019-09-02 14:51] gjcarneiro commented on #11078
For kubernetes, a workaround that we found was (assuming the apiserver replicas all have a collocated etcd cluster member) to customise the endpoints list that you give to each apiserver to connect to etcd cluster: always put the collocated etcd member first in the list.

Regarding 3.4, I saw "Improvements to client balancer failover logic" in the announcement.  Perhaps k8s apiserver needs to be u

[2019-09-02 18:11] ldelossa commented on #11008
@hexfusion is this now resolved?

[2019-09-02 18:25] hexfusion commented on #11008
It would depend on which etcd version you are trying to import.

release-3.3 and before use `github.com/coreos/etcd` IE v3.2.26, v3.3.15
release-3.4 on use vanity url `go.etcd.io/etcd`

Are you seeing a problem?

[2019-09-02 18:29] ldelossa commented on #11008
@hexfusion

Was seeing an issue with conflicts pretty hard when using 3.3 - go mod was getting confused and importing `github.com/coreos` `github.com/etcd-io` and `go.etcd.io/etcd`.

Now that 3.4 is out however I nuked all three of those repos, changed all my import paths to `go.etcd.io` and imported @3.4 - worked like a charm.

I have no issues with using 3.4 but others may find some problems wit

[2019-09-02 18:41] hexfusion commented on #11008
Generally, the issue comes when etcd is not explicitly set in go.mod. If you have examples of failure feel free to open a new issue so we can take a closer look.

[2019-09-02 20:16] jewertow commented on #11019
I still work on this.

[2019-09-02 22:05] ldelossa opened #11105 "Case-insensitive import collision"
Hey,

I'm importing the clientv3 package tagged v3.4.0 and my editor continuously complains about this:

[code]

I am on macOS. The error is sometimes fixed by changing the import to a capital v, but if I input a dependency which imports it by a different name I begin to get this issue and I cannot move forward.

[2019-09-02 22:07] ldelossa commented on #11105
little more info:

[code]
Is what I receive on the cli.

you may see the relevant code here:
https://github.com/ldelossa/goframework/tree/master/test/etcd
https://github.com/cloudscaleorg/events/blob/initial-impl/listener_integration_test.go

[2019-09-02 22:30] ldelossa commented on #11105
My own error, had a stale reference in a file within the package.

[2019-09-02 22:30] #11105 closed

[2019-09-03 04:22] anguslees commented on #10860
How can I adjust this 100ms "took too long" warning threshold?  I have an etcd cluster running on underpowered arm32 machines.  I am quite happy with the speed, but now my logs are *full* of these "warnings", hiding real errors.   I have already increased `--heartbeat-interval` and `--election-timeout` .

(Note: I'm running 3.3.10 - perhaps this is already improved in later versions?)

[2019-09-03 05:03] jingyih commented on #10860
Starting from 3.4, log level is configurable, which means you can choose to log only those levels higher than warning.
https://github.com/etcd-io/etcd/blob/master/Documentation/op-guide/configuration.md#--log-level

[2019-09-03 05:21] jingyih commented on #11078
The fix was back ported to v3.3.14+. Kubernestes 1.16 will include etcd client v3.3.15 [1]. The decision was made to not back port the fix to prior kubernetes versions. If you need a hot fix, try [2].

[1] https://github.com/kubernetes/kubernetes/pull/81434
[2] https://github.com/kubernetes/kubernetes/issues/72102#issuecomment-515979520

Closing because the issue was already addressed in https://g

[2019-09-03 05:21] #11078 closed

[2019-09-03 05:26] jingyih commented on #11099
`backend_commit_duration_seconds` basically measures a fsync syscall. As you noticed, it is aligned with the periodical compaction. In each compaction, potentially lots of keys will be deleted from the data store. The corresponding fsync could be expensive.

[2019-09-03 06:32] aikoven opened #11106 "Unable to use private DNS in multi-datacenter setup"
**etcd version**: v3.4.0

I'm building a multi-datacenter etcd cluster. I have a primary datacenter running 3 etcd instances in Kubernetes, and I'm trying to connect another etcd instance running in a secondary datacenter.

Each etcd instance has two peer endpoints: one global, accessible from the internet, and one local, which is only accessible from the local Kubernetes network.

Instances in th

[2019-09-03 06:58] jfbai commented on #11099
@jingyih Thanks a lot for explanation.  :)

Is there any best practice to follow to decrease the spike? or it is still in the reasonable range? Also, I'm confusing about why the one of the etcd server's spike(the blue one) is always lower than others? what would be root cause? They are all running on a really fast SSDs.

[2019-09-03 07:16] anguslees commented on #10860
Thanks for the workaround.  To be clear: I think you're saying I need to disable all warnings because the 100ms warning threshold is hard-coded.  The various examples above indicate that 100ms is not an outlier for some deployments, and generally it seems impossible to mandate a fixed response SLA on behalf of all users.

I suggest we turn this issue into a feature request: "too-long warning thres

[2019-09-03 07:22] jingyih commented on #11099
Maybe try to reduce `--etcd-compaction-interval` on kube apiserver? Is this P99 spike affecting etcd's availability to server kube apiserver?

How about P90, P50? Is there noticeable difference between the servers?

[2019-09-03 08:37] rbboulton opened #11107 "zap logger reports serving client traffic insecurely for https"
I've been trying to learn etcd using the latest etcd Version: 3.4.0 and I noticed when using the zap logger, etcd seems to log that it's listening for client connections "serving client traffic insecurely" even though I have configured https. Further investigation shows the original (capnslog) logger simply reports "serving client requests".

I spent quite some time trying to work out why my confi

[2019-09-03 08:47] jfbai commented on #11099
@jingyih Thanks a lot for your help. :)

I will try to adjust `--etcd-compaction-interval`.

Currently, is has not been affecting the etcd's availability. But, we are on the way to build large k8s clusters at least 5000 nodes in production. So, I'd like to get deep understanding the details about this metrics and how they are affected by scaling the cluster.

yes, there is. It may be caused by the

[2019-09-03 11:41] #11099 closed

[2019-09-03 14:14] jfbai commented on #11099
Hi, @jingyih , sorry for bugging you again.

According to the  [performance.md](https://github.com/etcd-io/etcd/blob/master/Documentation/op-guide/performance.md), a etcd requests is committed by `fdatasync`, if so, which metric is collected for measuring the latency that a requests is persistent onto the disk? ( `backend_commit_duration_seconds` measures the latency of `fsync`).

[2019-09-03 15:57] gyuho commented on #11107
Thanks for report. Should be fixed via https://github.com/etcd-io/etcd/pull/11108.

[2019-09-03 16:42] #11107 closed

[2019-09-03 17:57] jingyih commented on #11101
Looks like `cert-file` and `key-file` need to be nested under `client-transport-security`, please refer to the sample here:
https://github.com/etcd-io/etcd/blob/master/etcd.conf.yml.sample#L96

I am closing this issue now. Please feel free to reopen if the issue still exists.

[2019-09-03 17:57] #11101 closed

[2019-09-03 21:24] pblaas opened #11111 "etcd 3.4.0 won't start with name flag override when environment ETCD_NAME is available."
I use CoreOS container linux and ignition files to boot a cluster.

A snip of a Jinja2 yaml which gets transpiled to Container linux config looks like this:
[code]

Since 3.4.0 it seems I can't override with the --name flag. Because somewhere on a fresh container linux system it defaults an ETCD_NAME environment variable which now prevents starting up the RKT etcd 3.4.0 process. I'm not sure where

[2019-09-03 21:32] jingyih commented on #11111
My understanding is that the new behavior is to prevent potential user error. It is highlighted in the changelog as breaking change: https://github.com/etcd-io/etcd/blob/master/CHANGELOG-3.4.md#breaking-changes

For for context: https://github.com/etcd-io/etcd/pull/9382, https://github.com/etcd-io/etcd/issues/8380

cc @gyuho
Please correct me if I am wrong.

[2019-09-03 21:40] gyuho commented on #11111
@jingyih is right.

etcd does not set any environmental variable. You have to find out where `ETCD_NAME` is being set in your environment. This was added to prevent configuration overrides.

[2019-09-03 22:20] pblaas commented on #11111
ETCD_NAME is being set to this on one instance 189cc9c436df446abc589ece1bc5bb01 by default when loaded through ignition spec and to f066cbe511bf425b9879de728cf7b28c on another. So it looks like some kind of random string generation.

[2019-09-03 23:04] grandsuri opened #11112 "ETCD crashes with panic message when tried to perform ZFS rollback on the etcd cluster"
Platform: CentOS 7.4 Linux x86_64
ETCD Version: 3.3.11
Go Version: go1.10.3

I created a ETCD cluster on three nodes. Each node has ZFS filesystems on CentOS 7.4 (using zfsonlinux). Once the initial cluster is created, a snapshot is taken on all the nodes. After making some changes to the etcd key/values, I performed the following actions
- Stop etcd service (Make sure the other cluster reports th

[2019-09-04 03:58] darwink commented on #10289
Any update or plan to fix it?

[2019-09-05 01:27] zhangjianweibj opened #11114 "redundant % exist in log file"
% is redundant ,users may consider 80%%  is 0.0.8 not  0.8

![image](https://user-images.githubusercontent.com/18585129/64304663-41229780-cfbf-11e9-92bf-65ce95c4a0b3.png)

[2019-09-05 01:34] fcddk opened #11116 "http server connection err"
{"level":"warn","ts":"2019-09-05T09:01:48.022+0800","caller":"etcdserver/metrics.go:210","msg":"80%% of file descriptors are used","used":887,"limit":1024}{"level":"error","ts":"2019-09-05T09:01:48.264+0800","caller":"grpclog/grpclog.go:75","msg":"transport: loopyWriter.run returning. Err: write tcp 10.221.128.132:2379->10.221.128.133:52206: write: broken pipe","stacktrace":"go.etcd.io/etcd/pkg/lo

[2019-09-05 01:57] fcddk commented on #11116
{"level":"warn","ts":"2019-09-05T09:49:42.438+0800","caller":"grpclog/grpclog.go:60","msg":"transport: http2Server.HandleStreams failed to read frame: read tcp 127.0.0.1:2379->127.0.0.1:48570: read: connection reset by peer"}

[2019-09-05 05:05] #11114 closed

[2019-09-05 05:39] kobayashi opened #11119 "Add "export GO111MODULE=on" in Makefile for tls-setup"
Hello,

I was facing to run `make` failure while install go dependencies in [set up tls script](https://github.com/etcd-io/etcd/tree/master/hack/tls-setup).
I would like to propose to add `export GO111MODULE=on` before starting installation process.

[2019-09-05 06:15] jingyih commented on #11119
Which go version are you using?

[2019-09-05 06:18] kobayashi commented on #11119
I tried with go1.12.

[2019-09-05 06:23] jingyih commented on #11102
This is the same issue as #11101? Please feel free to reopen if I misread.

[2019-09-05 06:23] #11102 closed

[2019-09-05 08:46] xxx7xxxx opened #11120 "Etcd(bbolt) does not recycle WAL files under high load and never do it thereafter"
Version: 3.4

Start etcd:
[code]

Test sample:
[code]

After 6.79s, the etcd data directory looks like:
[code]

In normal load, it works fine in my app with embedded etcd. IMHO, it could generate more than
`--max-wals 1` WAL files in a short time under high load, but it should also recycle older ones
 in due time.

[2019-09-05 09:30] zyf0330 opened #11121 "How to refresh token when use watch"
I find that watch method of go client sdk does not refresh token retry like range, so exclude recreating client instance is there another way to refresh token?

[2019-09-05 10:18] blagodarin opened #11122 "etcd panics on adding server to existing cluster"
There is an existing working etcd cluster. To add another server to the cluster, we use this command:

`etcd.exe --name V-GLAVNOV-CL2 --listen-peer-urls http://10.33.68.94:2380 --listen-client-urls http://10.33.68.94:2379,http://127.0.0.1:2379 --advertise-client-urls http://10.33.68.94:2379 --initial-advertise-peer-urls http://10.33.68.94:2380 --data-dir C:\ProgramData\ISS\cluster_data --initial-c

[2019-09-05 14:18] jfbai commented on #11100
I got the cause, it’s because the rtt metrics collect snap msg rtt after a commit.

[2019-09-05 15:47] Sh4d1 opened #11123 "After adding new nodes in cluster: failed to revoke <> ("auth: invalid auth token")"
Hello.
I have a 3 nodes etcd cluster in which I added 3 nodes. Howver now the expired lease are not removed. On the 2 new nodes I have the following logs:
[code]
Etcd version is 3.3.12 and we are using TLS auth.
Any solutions?
Found #9629 that seems related

[2019-09-05 16:14] ae6rt opened #11124 "etcd 3.4.0 server expects client cert when client-cert-auth = false"
For a single node etcd 3.4.0 server:

## Server version

[code]

## Client version

[code]

## Expected result

When client-cert-auth is false, a client need not present a certificate to the server.

(N.B. The expected result is the observed result for etcd 3.3.15).

## Observed result

The server expects a client cert

[code]

The server logs accordingly

[code]

When the client presents a certif

[2019-09-05 22:58] jingyih commented on #11100
Glad you resolved the issue. For my own education, do you mind elaborate why this is causing difference between etcd 3.1 and 3.3?

[2019-09-05 23:40] jingyih opened #11127 "Functional test is flaky"
Observed functional test failures in couple recent travis CI testing. I grabbed the fatal errors seen in the test log:

[code]

The error message happens when member joins an existing cluster but could not retrieve cluster information from any of the existing members. Need to take a closer look to understand the functional test flow better.

[2019-09-06 02:17] jfbai commented on #11100
@jingyih Sorry for that, I left this message on my cellphone, so it's not quite easy to attach the commit detail.

In this [commit](https://github.com/etcd-io/etcd/commit/7b1ef370544f13a9e374c58cf91e0f5483ffb171), other raft messages besides snapshot are included in prober. And according to the commit's description, this change is introduced because there is latency spike in other raft messages an

[2019-09-06 04:19] KeepCaim opened #11130 "migrate storage data from api v2 to api v3，but I can't get the data"
description：
I'm testing the migration data from api v2 to api v3, result is ok,but I can't get the data whit v3 commond.

version:
[root@p30699v etcd]# etcdctl -v
etcdctl version: 3.3.13
API version: 2

operation:
[root@p30699v etcd]# etcdctl ls
/a
/b
/v2test
[root@p30699v etcd]# ETCDCTL_API=3 etcdctl get "" --from-key --keys-only --limit 1 | wc -l
0
[root@p30699v etcd]#
[root@p30699v etcd]# ETCD

[2019-09-06 04:39] jingyih commented on #11130
There are two data stores in v3+ etcd backend. The original v2 data is preserved in v2 store, accessible via v2 API (therefore no application change needed). v3 API can access v3 store. The two stores are separated and isolated.

Ref: https://github.com/etcd-io/etcd/blob/master/Documentation/op-guide/v2-migration.md

[2019-09-06 06:36] KeepCaim commented on #11130
Yes, I have checked it.I want to migrate keys in a v2 store to a v3 mvcc-store through migrate command.Am I doing the wrong thing,and How should I do,thanks.

[2019-09-06 09:33] KeepCaim commented on #11130
I have realized，thank you jinyih

[2019-09-06 09:44] #11130 closed

[2019-09-06 19:10] jingyih commented on #11100
Thanks for your explanation!

Defer this question to @gyuho.

[2019-09-06 19:59] gyuho opened #11131 "Go vet shadow test fails in Go 1.13"
https://github.com/etcd-io/etcd/pull/11110
https://github.com/golang/go/issues/34053

[2019-09-06 20:00] gyuho opened #11132 "bill-of-materials test fails in CI with Go 1.13"
https://github.com/etcd-io/etcd/pull/11110

[code]

[2019-09-06 20:26] gyuho commented on #11132
@spzala @vimalk78 Can you help on this?

[2019-09-06 20:28] vimalk78 commented on #11132
sure, i can take a look.

[2019-09-06 21:11] sh8121att commented on #8380
I'm seeing 'etcdctl move-leader <some_id>' fail with a shadow message even when now CLI arg is provided:

[code]

[2019-09-08 22:32] vimalk78 commented on #11132
@gyuho , this requires modifications in `https://github.com/coreos/license-bill-of-materials`
Tested with local changes, and it works.

Should i send a PR to `https://github.com/coreos/license-bill-of-materials` or fork it as part of `https://github.com/etcd-io` and fix that?

[2019-09-09 03:38] gyuho commented on #11132
Let's fix `coreos/license-bill-of-materials`, and etcd will automatically pick up the latest.

[2019-09-09 03:40] vimalk78 commented on #11132
ok !!

[2019-09-09 03:41] gyuho commented on #11100
@jfbai Can we try this in your testing cluster? Just want to make sure it doesn't introduce any overhead of having more metrics.

[2019-09-09 06:33] jfbai commented on #11100
@gyuho This is the collected metrics after doing the modification, seems that no overhead is introduced.

[code]

[2019-09-09 07:01] jhzhu89 commented on #10246
Is there any documents about *Backwards/Forwards compatibility*?
I want to upgrade etcd server from v3.3.15 to v3.4.0, do I have to update the client code? Or the old version client still works?

[2019-09-09 17:12] echlebek commented on #9621
@vimalk78 thanks!

[2019-09-09 17:31] xiang90 commented on #9621
@vimalk78

shall we fix `clientv3.NewKV(cli)`?

[2019-09-09 17:46] echlebek commented on #9621
FYI this is also a problem for `clientv3.NewCluster`, `clientv3.NewMaintenance`, etcetera.

[2019-09-09 19:16] vimalk78 commented on #9621
@xiang90
i think that since `clientv3.Client` embeds `clientv3.KV` , `clientv3.Cluster` , `clientv3.Maintanence` etc, there should be no need to call `clientv3.NewKV(*clientv3.Client)` after creating a `clientv3.Client`

But some examples in etcd client show it this way `clientv3.ExampleKV_txn` and `clientv3/clientv3util/clientv3util_test`

[2019-09-09 19:47] vimalk78 commented on #9621
I may be wrong here, but I think there is nothing to fix. The `clientv3.KV`  is already created when `clientv3.Client` is created. No matter how it is created, a remote client is created using `clientv3.NewClient()` or an embedded client  created via `etcdserver/api/v3client.New`.
We should just update examples/Documentation about this. And perhaps should not export `clientv3.NewKV(*clientv3.Clien

[2019-09-09 19:58] echlebek commented on #9621
It may be redundant, but `clientv3.NewKV` and friends form part of the public API of the `clientv3` package. Unexporting these functions would break the API of the `clientv3` package, as they work correctly in the common case.

[2019-09-09 22:09] jingyih commented on #10546
cc @YoyinZyc

[2019-09-09 22:28] jingyih commented on #11057
cc @YoyinZyc

[2019-09-10 07:21] Sheph commented on #10616
I'm writing this just in case if someone else will need such functionality, it turned out etcd supports nested transactions: https://github.com/etcd-io/etcd/issues/7857
So using nested transactions it's possible to implement such logic

[2019-09-10 07:21] #10616 closed

[2019-09-10 12:24] Sheph commented on #9629
I had similar problem, try restarting re-added node once right after it's up, it'll work fine then

[2019-09-10 13:27] Sheph opened #11139 "auth: strange compare condition in etcd/auth/store.go"
I've came across this check in etcd/auth/store.go:
[code]
Why does it check for revision < as.Revision() ? Shouldn't it be something like revision != as.Revision(), I mean, is it really ok if revision is > as.Revision() ?

[2019-09-10 14:38] spzala commented on #11139
I guess the return error is the answer - ErrAuthOldRevision an older revision is an error case. /cc @mitake for a better explanation. Thanks!

[2019-09-10 15:15] Sheph commented on #11139
Yes, but why is that, why is older revision an error, but newer revision is not an error ? I guess this has something to do with how raft works, but IMO all auth requests are serialized on raft node loop, so if a request comes in and makes an auth check it's guaranteed that all earlier raft requests have already succeeded, so 'revision' must be equal to auth store revision strictly, it should not

[2019-09-10 16:10] spzala commented on #11139
:) @Sheph let's wait to hear from @mitake Thanks!

[2019-09-10 19:28] aauren commented on #9629
My guess is that you experienced a different problem than the one here if restarting or re-adding the node worked for you. Like @mitake said originally, this information for the simple auth token isn't synced during membership, so the only way that it can be re-synchronized to a node that doesn't have this information is by adding the node to the cluster, disabling authentication, setting the pass

[2019-09-10 19:31] #10840 closed

[2019-09-11 03:40] spzala commented on #10776
@CH-anhngo I guess we can close this issue but please reopen or create a new one if you feel a need. As it's mentioned in the issue comments, there aren't best practices that fits all but the documentations below discusses compaction, defrag, quota in more details which you might already read.
https://etcd.io/docs/v3.3.12/op-guide/maintenance/
https://etcd.io/docs/v3.4.0/op-guide/maintenance/
Than

[2019-09-11 03:40] #10776 closed

[2019-09-11 08:42] zyf0330 commented on #9629
Sorry, my situation is not a problem. Actually some watchers with expired token cause that log.

[2019-09-11 09:37] xqzhang2015 commented on #11064
@mitake @xiang90 would you like to give any comment on this issue?

[2019-09-11 09:38] xqzhang2015 commented on #11063
@mitake @xiang90 would you like to give any comment on this issue?

[2019-09-11 19:35] tanviash opened #11141 "How to view keys attached to a lease using curl"
@gyuho How can I display associated keys to a lease when using grpc-json gateway? For example, if I just need to display time-to-live for a lease, I use curl -X POST http://etcd:2379/v3beta/kv/lease/timetolive -d '{"ID":"4317101106202574749"}' but this doesn't give attached keys. Please help.

[2019-09-12 11:50] ChrisRx opened #11144 "embed: ZapLoggerBuilder no longer exposed"
https://github.com/etcd-io/etcd/commit/348b0d40a6cc7cda30c94ff44d65776cecdc018a#diff-935426888c9eba579af569553d8e7959

In this commit the field `ZapLoggerBuilder` in the `embed.Config` struct is no longer being exposed.  In my program where I make use of the etcd embed package, I was using this to create a custom zap logger and have all components of my program to use this logger and create the sa

[2019-09-12 11:59] discostur opened #11145 "grpc: message too large"
Hi,

we run a 3 node etcd cluster as data store for our kubernetes 1.15 cluster. We have stored lots of certificates into our cluster (about 750.000) and if we try to fetch them, we get lots of grpc errors from etcd:

[code]

Our etcd database is about 4 GB size. If we do a simple "get all secrets" via kubectl it takes up to 6 minutes to get all the secrets.

- Is that a normal behaviour? I though

[2019-09-12 14:00] #11145 closed, assigned to nobody

[2019-09-13 11:31] ChrisRx commented on #11144
Yes I would like to, and thank you for the consideration here, it is a huge help!

[2019-09-13 16:31] #11144 closed

[2019-09-14 00:25] vimalk78 commented on #11132
@gyuho the PR is merged, we can close this issue.

[2019-09-14 00:42] #11013 closed

[2019-09-14 16:56] gyuho commented on #11132
@vimalk78 Thanks!

[2019-09-14 16:56] gyuho commented on #11132
@vimalk78 Can we reenable bom tests?

[2019-09-16 12:54] vtolstov opened #11154 "go get error for 3.4.0"
[code]

[2019-09-16 13:43] mitake commented on #11064
@xqzhang2015 sorry for my late reply. I agree with your idea. It's nice to add additional error codes for making diagnosis easier. Can your work on the change? Or do you need help?

[2019-09-16 13:45] mitake commented on #11063
@xqzhang2015 Yeah I think it's good if we can have such a functionality (we need to be careful for security reasons though). If you have a concrete strategy on design and implementation, could you share?

[2019-09-17 05:32] mygrsun commented on #11124
if you set the 'trusted-ca-file' ,server will automatically open client check。
you can see in the code below。set ’trusted-ca-file‘ or ’client-cert-auth‘ has the same effect。
so if you don't want to check ,just remove the '--trusted-ca-file=/tls/ca.pem '

https://github.com/etcd-io/etcd/blob/master/pkg/transport/listener.go
ServerConfig function
`
if info.TrustedCAFile != "" || info.ClientCertAuth

[2019-09-17 10:15] jbguerraz commented on #9360
Hello @mgates  ! I'm wondering if there is a chance to get a pull request from your side ? :)
Thank you!

[2019-09-17 14:15] ae6rt commented on #11124
Thank you.

The `trusted-ca-file` option should say that setting it is equivalent to setting `--client-cert-auth=true'.

[2019-09-17 15:47] #11132 closed

[2019-09-17 17:33] jingyih commented on #9360
The improvement was merged and is included in release 3.4. Ref: #9418

[2019-09-17 17:49] gyuho commented on #9360
Let's close it. And revisit if any other lease performance issue arises.

[2019-09-17 17:49] #9360 closed

[2019-09-17 21:12] gerardo8a opened #11159 "Missing signature key"
Etcd 3.3.15 and 3.3.14 have no key verification files. I checked previous versions and in the assets section there is *.asc file but not for this specific versions (and may be higher)

Or is there a different way to verify now?

Thanks

[2019-09-17 21:15] gyuho commented on #11159
/cc @hexfusion

[2019-09-17 23:53] darcys opened #11160 "grpc_server_handled_total is not a counter"
Please read https://github.com/etcd-io/etcd/blob/master/Documentation/reporting_bugs.md.
### Problem
metrics grpc_server_handled_total should be a counter.
[code]
But in my prometheus, it's not monotonically increasing
Please see my screenshot
![image](https://user-images.githubusercontent.com/1498661/65087688-8fdf1280-d96b-11e9-9d72-3e13c31e0530.png)

### ETCD info
2019-09-17 23:47:39.019060 I |

[2019-09-18 02:25] Roguelazer commented on #11094
Note that there are also no GPG signatures on any of the subsequent releases (e.g., 3.4, 3.4.1)

[2019-09-18 02:27] hexfusion commented on #11094
I am working on backfilling these.

On Tue, Sep 17, 2019 at 10:25 PM James Brown <notifications@github.com>
wrote:

--
—

[2019-09-18 10:36] hexfusion commented on #11094
/cc @retroflexer

[2019-09-18 17:29] retroflexer opened #11163 "Set up CI for multi-arch such as s390x"
Originally when CNCF adopted etcd, we were going to adopt the old Jenkins for supporting s390x. However, as we moved away from JenkinsCI and embraced TravisCI and SemaphoreCI, we need to figure out a way on how add support for newer architectures in the cloud.

[2019-09-18 19:12] retroflexer commented on #11094
The person who has access to the gpg keys has promised me to generate the keys for  3.3.14 and 3.3.15 also 3.4.0 and 3.4.1 by tomorrow (hopefully, before our meeting).

[2019-09-18 19:33] jingyih commented on #11132
bom test is still failing. Should we reopen this?

[2019-09-18 19:36] vimalk78 commented on #11132
yes we can reopen it.
The tests are failing because the CI is not pulling latest version of `license-bill-of-materials`

[2019-09-18 19:48] gyuho commented on #11132
@jingyih @vimalk78 Sorry for delay. Rebuilding test image now.

[2019-09-18 20:04] gyuho commented on #11132
Just pushed a new test image. Please try again.

[2019-09-18 20:49] vimalk78 commented on #11132
Bom test still seems to be failing

[2019-09-18 22:13] YoyinZyc opened #11165 "mvcc: question on txnReadWrite in kv.go"
It looks confusing for me to put `txnReadWrite` struct inside `kv.go` which consists of abstract interfaces. Logically, I think `txnReadWrite` is a kind of txn object which should be put into `kvstore_txn.go` with `storeTxnRead` and `storeTxnWrite`. Please correct me if there are any other design concerns.

Thanks

[2019-09-18 22:33] jingyih commented on #11165
For reference, I think you are referring to this: https://github.com/etcd-io/etcd/blob/e84029cc0413a2db2d607532e7560f61b504b148/mvcc/kv.go#L90

Looks like it is used by mvcc transaction-related metrics. If that is the only usage, another option is to move it to metrics_txn.go.

[2019-09-18 23:33] jingyih opened #11166 "Add tracing in etcd server"
Today, etcd server has generic warning if a request is taking too long to be applied. If a range request takes over 100ms to finish, the server generates a log message like this:
`W | etcdserver: read-only range request "key:\"foo\" " with result "range_response_count:0 size:5" took too long (1.310910984s) to execute`

When this happens, it is usually not easy to track down the exact cause. There

[2019-09-18 23:33] jingyih commented on #11166
I think @YoyinZyc is already started working on adding this feature.

[2019-09-18 23:57] xinwo commented on #9923
Same question here

[2019-09-19 00:03] xinwo commented on #9923
I understand their meanings literally.
But if I don't want to open the address:port to clients, then why should I let etcd listen on that address?

[2019-09-19 03:10] ghost opened #11168 "ETCD mirror is growing continously"
**ETCD version: 3.3.10**

#### ETCD mirror is growing continously and I have no ideas how to avoid this.
![Imgur](https://i.imgur.com/V8tDcv1.jpg)

I am using statis POD manifest to start the mirroring instance.
**Here are it confiiguration:**
[code]

**It is mirroring data to the standalone instance which has next parameters:**

[code]

- I've tried multiplie times to clear all data directory and

[2019-09-19 17:53] retroflexer commented on #11094
The PGP signatures are generated and uploaded:

[2019-09-20 02:33] bbotte commented on #11111
In stand-alone mode, the configuration file has not changed. Upgrading from version 3.3.15 to 3.4.0 or 3.4.1 has failed, and can not start. I don't know how to handle it.`config systemd: Starting Etcd Server...
config etcd: recognized and used environment variable ETCD_ADVERTISE_CLIENT_URLS=http://localhost:2379
config etcd: recognized and used environment variable ETCD_INITIAL_CLUSTER_STATE=new
c

[2019-09-20 22:59] Roguelazer commented on #11094
Will they be attached to the Github releases?

[2019-09-21 00:28] hexfusion commented on #11094
Back filled:
- 3.3.14
- 3.3.15
- 3.4.0
- 3.4.1

[2019-09-21 00:28] #11094 closed

[2019-09-21 09:11] JalySN opened #11171 "Is it possible to change configure param such as auto-compaction-retention when etcd is running?"
The etcd cluster is running, but the mvcc database space nearly exceeded.

How to reload configure file or add _auto-compaction-retention_ when etcd is running?

[2019-09-22 18:22] fiorix commented on #11154
Having the same issue with v3.4.1.

[2019-09-23 13:10] mitake commented on #11139
@Sheph @spzala Sorry for my late reply.

I think the scenario can be possible. Nice catch! Also I like your idea of defensive programming. I completely agree that requiring strict equal revision from token makes sense! Could you send your change as PR?

[2019-09-23 18:12] Sheph commented on #11139
Thanks for the reply, @mitake. BTW, when working on my feature I touched a lot of places with auth and found quite a number of security problems, some of them lead to privilege escalation, some of them allow unauthorized operation, etc. I've fixed them on my local branch, but the commits are mixed with some other stuff, I'm planning to make a series of PRs soon, it'll include a fix for this one to

[2019-09-24 03:33] QwertyJack commented on #10929
How about changing the default subnet section in Vagrantfile?
e.g. `$subnet = "172.17.8"` -> `$subnet = "10.0.20"`

[2019-09-24 05:37] ewtang commented on #10929
As docker uses 172.17.0.0/16 subnet for container networking, the default subnet in Kubespray Vagrantfile should be adjusted if docker is required on Vagrant host.

Please feel free to try another private subnet.

[2019-09-24 08:04] scott0000 opened #11176 "The latest etcdctl seems buggy: etcdctl will request fail when the first etcd cluster endpoint down"
This issue is related to https://github.com/kubernetes/kubernetes/issues/72102. I can still reproduce that problem with 'etcdctl' of the latest release etcd(v3.4.1).

**Environment:**
[code]
**How to reproduce the problems:**
The repro methods comes from https://github.com/etcd-io/etcd/pull/10911#issuecomment-524099464 and https://github.com/kubernetes/kubernetes/issues/72102#issuecomment-46030383

[2019-09-24 10:12] iwinux opened #11177 "missing metrics for gRPC request duration / service time"
I've checked [Documentation/metrics/v3.3.10](https://github.com/etcd-io/etcd/blob/master/Documentation/metrics/v3.3.10) and output of `GET /metrics`, but I could not find any metric that tells:

1. how many seconds in total does the server spend on serving `Range` requests?
1. what is the P99 latency of `Put` requests?

According to [the docs](https://github.com/etcd-io/etcd/blob/master/Documentat

[2019-09-24 11:10] kulong0105 commented on #11176
i also meet the same issue

[2019-09-24 12:43] mitake commented on #11139
@Sheph thanks a lot! Could you share the detail of the issues to security@etcd.io before opening PRs (the security related process is described here https://github.com/etcd-io/etcd/tree/master/security)?

[2019-09-24 14:17] gyuho commented on #11176
https://github.com/etcd-io/etcd/commit/db61ee106ca9363ba3f188ecf27d1a8843da33ab doesn't handle DNS endpoints...

[2019-09-24 19:06] Sheph commented on #11139
Sure! Thanks for the tip

[2019-09-24 19:34] jingyih commented on #11139
I found some relevant info here: https://github.com/etcd-io/etcd/blob/master/Documentation/learning/design-auth-v3.md#notes-on-the-implementation-of-authenticate-rpc

[2019-09-24 19:56] Sheph commented on #11139
Thanks, @jingyih. So:

Is another reason to make it != instead of just <

[2019-09-24 20:07] jingyih commented on #11139
Agreed. "!=" sounds good to me.

[2019-09-24 21:51] jingyih commented on #11177
Could you try enabling this flag?

[2019-09-24 22:28] jpbetz opened #11180 "etcd client with multiple endpoints fails certificate checks due to hostname mismatch"
(c.f. https://github.com/kubernetes/kubernetes/issues/83028)

For a etcd cluster using hostnames in TLS cert SANs, the etcd client only connects to the 1st etcd member in the endpoints list. Attempts to connect to the other members fail with:

This causes an etcd client to become disconnected from the etcd cluster when the 1st etcd member is unavailable.

This appears to occur both with etcd 3.3.1

[2019-09-24 23:03] jpbetz opened #11182 "'unknown extended header keyword' warnings when extracting etcd 3.4.x tar"
They're only warnings, but noisy:
[code]

Looks like this happens when the tars are created BSD tar and extracted with GNU tar.

cc @gyuho @jingyih

[2019-09-24 23:04] gyuho commented on #11180
c.f. https://github.com/kubernetes/kubernetes/issues/83028

[2019-09-24 23:16] gyuho commented on #11182
It was built from my mac os machine with `bsdtar 2.8.3 - libarchive 2.8.3`. Let me use gnu-tar next time.

[2019-09-24 23:17] #11182 closed

[2019-09-24 23:18] jpbetz commented on #11182
Thanks!

[2019-09-25 00:27] iwinux commented on #11177
@jingyih That's what I'm looking for. Thanks!

[2019-09-25 00:29] iwinux commented on #11177
Should we mention this flag in [metrics.md](https://github.com/etcd-io/etcd/blob/master/Documentation/metrics.md)?

[2019-09-25 00:47] jingyih commented on #11177
Yes that file is outdated.

[2019-09-25 01:36] jpbetz commented on #11180
Created https://github.com/grpc/grpc-go/issues/3038 to discuss the issue with the gPRC team

[2019-09-25 02:40] scott0000 commented on #11176
The problem can still be reproduced using IP instead. Anything wrong I was？Or what 's the workable way? 🤔

[code]

versions：

[code]

[2019-09-25 03:45] timyinshi opened #11183 "What should be done to make the cluster of other nodes work normally when one node is abnormal"
We have a three-node etcd cluster.
When a node hangs up, other nodes in the etcd cluster will look for the node and report the problem of not connecting to it. and the etcd cluster can not work.
What should be done to make the cluster of other nodes work normally when one node is abnormal?

the etcd log is:
2019-09-25 01:25:03.380086 W | rafthttp: health check for peer 828a1d45e099c0cb could not c

[2019-09-25 11:39] #10756 closed

[2019-09-25 21:05] jingyih commented on #11183
These are warning messages. A 3-node cluster with 2 healthy nodes should be able to continue to work. Could you elaborate how the etcd cluster was not working in your case?

[2019-09-27 02:15] guonaihong opened #11185 "Discover the panic using the etcd distributed lock feature"
#### etcd run command
[code]
#### version
[code]

#### test code
[code]
#### run command
[code]
#### panic message
[code]

[2019-09-27 02:51] xtrusia commented on #11176
just fyi
I've run test program as below
https://pastebin.ubuntu.com/p/pcynNM4W3W/

when i shutdown leader etcd node, there is one context deadline exceeded, but recovered soon.
https://pastebin.ubuntu.com/p/ChZG4NxPyC/

[2019-09-27 05:10] scott0000 commented on #11176
@xtrusia Thanks for your info.

I have tried your program with a little modification. And I still hit the problem.

Here are the code and results.
code: https://pastebin.ubuntu.com/p/rBRbNZgzg4/
results: https://pastebin.ubuntu.com/p/6cqVWRbfgP/

My steps:
1. Checkout to the v3.4.1 tag and place the test program code in the etcd source root dir.
2. Build the test program
3. run
4. stop the leader

[2019-09-27 15:09] juliantaylor opened #11186 "etcdctl member add sometimes fails with 3.3.15"
We recently updated our etcd from 3.3.13 to 3.3.15 and since then `etcdctl member add` sometimes fails with following error:

[code]

Though it seems the member add actually worked fine as a etcdctl member list shows the newly added member as unstarted

[code]

Starting the etcd process then also works fine.

This behaviour seems to be new in 3.3.15, it did not happen in 3.3.13.

[2019-09-27 18:02] jingyih commented on #11186
If this line is printed, the new member is added to the cluster.

Not sure what caused the warning message, but it is just a timeout and then the same request was retried and succeeded. This type of warning message is probably newly added. v3.3.15 uses a new client side balancer.

[2019-09-27 18:06] juliantaylor commented on #11186
The command exits with a failure though, if it is just a harmless warning it should not do that so you can distinguish it from a real error.

The member add does take a couple seconds when it prints this warning so it is probably a timeout.

[2019-09-27 18:45] jingyih commented on #11186
The member add command did not exit with error. IIUC, the warning is from the retry logic in the client side balancer. I agree it feels a little confusing, but it is not the output print of the member add command.

cc @gyuho

[2019-09-27 18:48] juliantaylor commented on #11186
`etcdctl` does exits with an error (= nonzero exit code) in this case.

[2019-09-28 00:22] jingyih commented on #11186
Oh I see. The 'etcdctl member add' command is actually two parts.

1) Add new member,
2) get member list which includes the newly added member

From your output print it looks like 2) failed with a timeout.

[2019-09-28 00:23] jingyih commented on #11186
Went through the changelog, did not find anything might lead to regression in member configuration.

[2019-09-28 02:08] xtrusia commented on #11176
@scott0000
it is created via easyrsa. there is no specified domain name or ip with below command
openssl x509 -text -noout -in etcd-ca

Do i need to check domain name or ip for this testing

[2019-09-28 09:07] juliantaylor commented on #11186
I ran the command in debug mode, unfortunately no very interesting extra output:

[code]
[code]

[2019-09-28 09:11] juliantaylor commented on #11186
increasing the command and dial timeout to 15s does help either, longer probably won't change anything as our current workaround is to do a member list 5 seconds after the failure and the member is in the list then and the etcd can startup.

[2019-09-29 02:25] scott0000 commented on #11176
The certificate of my etcd nodes contains only the name/IP of the node ,  the problem can be repro in my enviroment. But your etcd cluster can still be accessed when the leader etcd node shutdown , so I just want to know why.

Anyway thanks for reply me🙂，Let's stop talking about the testing and wait for the fix of maintainer.

[2019-09-29 09:10] jborlum commented on #11154
Same here. Would be great to have this fixed. It has been an issue since January.

[2019-09-29 10:08] scott0000 commented on #11176
@xtrusia can you show me your hosts in cert (not CA file: etcd-ca)?

[2019-09-30 05:01] xqzhang2015 commented on #11063
@mitake thanks for your reply. Recently I'm too busy ...
I have no concrete strategy now. I would think about it.

[2019-09-30 05:04] xqzhang2015 commented on #11064
@mitake thanks the reply. I would like to think about it and may disturb you later.

[2019-09-30 08:14] opriz opened #11187 "What happens when revision overflows int64？"
Hi,
As the revision always be incremented,I believe it will exceed max of int64, but I didn't find document about this situation.And how do etcd handle this?Should users do something about this?
thanks.

[2019-09-30 08:22] xtrusia commented on #11176
etcd-cert you mean? there is nothing as well

[2019-09-30 09:03] timyinshi commented on #11183
i know the reason,i must ensure that the number of members in the 3-node cluster is equal to the number in the etcd node's configuration(ETCD_INITIAL_CLUSTER),and the ETCD_INITIAL_CLUSTER_STATE must be 'existing'.
but when my cluster only one  node is working,i must remove the nodes that not working,and modify the config of ETCD_INITIAL_CLUSTER=workingip:2380
my question : when only one etcd node

[2019-09-30 11:12] mrueg opened #11188 "etcdctl endpoint health performance regression"
We have an etcd cluster for kubernetes running with v3.3.13
[code]
after upgrading it to v3.3.15 we see a lower performance when running those healthchecks

[code]

Is this change intentional (maybe caused by an update of the grpc client library?) or a performance regression?

[2019-09-30 11:18] scott0000 commented on #11176
@xtrusia ok. thanks🙂

[2019-09-30 12:31] ghost opened #11189 "Duplicate check in confchange.Simple"
https://github.com/etcd-io/etcd/blob/3712a5d045603013f2ea97ba0fca4eb7daa3a2e5/raft/confchange/confchange.go#L146

In the method confchange.Simple(), it calls checkInvariants to check the config, then it calls checkAndReturn which calls checkInvariants  again.

It is better to just remove the checkInvariants in confchange.Simple().

[2019-09-30 17:04] xiang90 commented on #11187
I will not worry about this...

Even if you change the state of the store 20k every seconds, it requires 5.3 billion years to overflow it.

[2019-09-30 17:04] #11187 closed

[2019-09-30 19:52] jingyih commented on #11189
cc @tbg

[2019-09-30 19:55] jingyih commented on #11183
Please refer to https://github.com/etcd-io/etcd/blob/master/Documentation/op-guide/recovery.md

[2019-09-30 20:10] tbg commented on #11189
Thanks @Jiafu-Jiang, feel free to send a PR.

[2019-10-01 00:34] YoyinZyc opened #11191 "Add tracing to txn request."
Adding tracing to txn request is kind of different from to range or put request. A txn request could have couple of range, put, delete and txn operations. I think it will be confusing to just put all of these operations' traces together. My first idea is to use subtrace for each operations. The basic structure is like this:

"msg": "trace[12345] transaction", "details": "...", "duration":"100ms",

[2019-10-01 00:43] YoyinZyc commented on #11191
@jpbetz @gyuho Any suggestions?

[2019-10-01 10:40] matancarmeli7 opened #11193 "Disable quorum in etcd cluster"
I am working in environment that there is a lot of communication disconnects between the masters and i want that they will work even when they disconnect from the other masters. Because of the quorum it can't happen , there is a way to disable the quorum?

[2019-10-01 18:05] jpbetz commented on #11191
My general preference would be that we retain as much structure as possible and try to avoid putting structured data into strings via some serialization. I don't know zap that well, unfortunately. What does `zap.Any` do if we provide a struct that models our desired tracing output?

[2019-10-01 18:20] xiang90 commented on #11193
no. i do not think we want to add this feature. you can use gossip systems or systems with other weaker kinds of consistency model instead of etcd.

[2019-10-01 18:20] #11193 closed

[2019-10-01 19:14] gyuho commented on #11191
@YoyinZyc @jpbetz Or just simply tag with level (`zap.Int("tracing-level", 1))? Regarding `Txn`, it will be level 1, and subsequent puts and ranges can be level 2. What do you think

[2019-10-01 19:16] gyuho commented on #11191
Oh wait, it will be traced in the same message, so we would need better way to differentiate within the message.

[2019-10-02 04:43] jgraettinger commented on #11186
I'm seeing this also on v3.4.1, and have pinned it down to an active retry infinite loop that runs until the `--command-timeout` is exceeded. A SIGQUIT trace I collected from etcdctl follows. Possible the new client-side balancer has a case where the `Get` and `MemberList` RPCs are dispatched to different members, such that [this case never evaluates true](https://github.com/etcd-io/etcd/blob/rele

[2019-10-02 08:09] weisongf commented on #10510
I also encountered garbled problems.
[code]
[code]

[2019-10-02 20:53] jingyih commented on #10510
The issue was already addressed by https://github.com/etcd-io/etcd/issues/10510#issuecomment-468659901. PTAL.

[2019-10-02 21:13] jingyih commented on #11186
Are all etcd members healthy in the cluster? This can be verified by `etcdctl endpoint health --cluster`.

Reading the logic in the for loop, it keeps trying Get() and MemberList() until these two API calls are served by the same member. This logic can be optimized but it is correct (I cannot reproduce this issue with the new balancer). Reading from the warning message, maybe Get() timed out on a

[2019-10-02 22:22] jgraettinger commented on #11186
yes, all healthy.

The new gRPC client balancer is using round-robin, no? In that case there's _no_ guarantee that will ever happen. Each alternating Get and MemberList RPC rotates to the next member.

I suspect the only reason this appears to work much of the time is because the entire flow is racing gRPC SubConn establishment in the client balancer, such that, in practice, all RPCs happen to be

[2019-10-02 22:30] jingyih commented on #11186
I see. I am sure how client balance rotates endpoint for normal key value APIs and member APIs.

@jpbetz @gyuho Could you please take a look at this issue?

[2019-10-02 22:34] jingyih commented on #11186
On the other hand, we can definitely optimize the logic. Every time we do a Get(). we add the endpoint who served that request to a "synced" list. Once MemberList is served from a "synced" endpoint, we are done.

[2019-10-02 22:46] gyuho commented on #11186
Doesn't seem like a balancer issue. The failover should happen for all RPCs and it only happens when it receives the transient error (retriable). Maybe you issued a command to isolated member?

[2019-10-02 22:58] jpbetz commented on #11186
The way etcdctl is written to wait for a particular member to serve a `MemberList` response should probably be rethought. At first glance, I would expect etcdctl to retry the `MemberList` until it knows somehow that it has received fresh data. Either it waits until the response contains the member it added, or we prove we can use the `response.Header.Revision` to determine that we are observing fr

[2019-10-02 23:02] jpbetz commented on #11186
Ideally, `MemberList` would always serve consistent data. Are there performance reasons that prevent us from ensuring it is synced before serving a response?

[2019-10-02 23:21] jpbetz commented on #11186
To root cause, we might need to modify the condition @jgraettinger found (https://github.com/etcd-io/etcd/blob/d08bb07d6d9dbce33be7919a2036eec7ab138280/etcdctl/ctlv3/command/member_command.go#L166) to print out the members being compared and see what is happening there.

I suspect the best mitigation would be to do what @jingyih described in https://github.com/etcd-io/etcd/issues/11186#issuecommen

[2019-10-02 23:57] jingyih commented on #11186
Here is my new theory. Originally the cluster has 1 member. Using `MemberAdd()` to add a new member. Now cluster has 2 members, and it needs 2 members to be started and healthy to serve a quorum read. So before the new member starts, `Get()` will always hang.

[2019-10-03 00:00] jingyih commented on #11186
Oh but in this case logic " listResp.Header.MemberId == resp.Header.MemberId" should always pass. So `Get()` should not be invoked.

[2019-10-03 00:07] jpbetz commented on #11186
In our design we had originally planned to round robin on failover. But in our implementation, we do round robin across endpoints on a per client request basis:

https://github.com/etcd-io/etcd/blob/master/clientv3/balancer/picker/roundrobin_balanced.go#L67

I think @jgraettinger's assessment was correct and @jingyih's proposed fix will work. Let's still validate that, but I'm pretty confident thi

[2019-10-03 00:15] jgraettinger commented on #11186
Hi gang, I was able to reproduce this with pretty consistently while testing this kustomize manifest for deploying v3.4 as a StatefulSet, when scaling up the cluster beyond the initial 3 members to 4, 5, 6, etc: https://github.com/jgraettinger/gazette/tree/kustomize/kustomize/bases/etcd

I'm happy to run it again with an instrumented build; are you able to provide a docker image I can pull? Or, if

[2019-10-03 00:15] jingyih commented on #11186
I tried this:
[code]
output:
[code]
So `listResp.Header.MemberId == resp.Header.MemberId` is always false due to the new client balancer.

[2019-10-03 00:18] jingyih commented on #11186
Let me send out a quick fix on client side. Long term, I agree we should make `MemberList` consistent, so we can drop the logic on client side.

[2019-10-03 00:51] jingyih commented on #11186
Quick fix: #11194.

[2019-10-03 02:23] gowthamsubbu opened #11197 "health check for peer could not connect no such host"
Hi Team,

We are seeing the health check failures for peers and as a result it is struck without electing a leader when deployed in a AWS managed EKS cluster as StatefulSet.

We are able to ping peers using their private ip's from each other pods. However, nslookup is not resolving when using etcd-0 or etcd-1.

Also, we found the member being added as http://etcd-0:2380 as below instead of using h

[2019-10-03 06:06] jingyih opened #11198 "Member list should be served with linearizable guarantee"
In current implementation, MemberList API is served directly from server's local member structure, which could include stale information.

Serving MemberList with linearzable guarantee has the benefit of:

1. simplify the logic in `etcdctl member add` (#11186).
2. make the process of adding a new member more robust (#10626).

[2019-10-03 08:31] timyinshi opened #11199 "how to modify the members data by curl or wget?"
how to get members data by curl,i can not get data through this command:
curl -H "Content-Type: application/json" -H "Accept: application/json" --cacert /etc/ssl/etcd/ssl/ca.pem --cert /etc/ssl/etcd/ssl/member-master2.pem --key /etc/ssl/etcd/ssl/member-master2-key.pem https://192.168.0.93:2380/members
the error is:
curl: (56) Unexpected EOF

but i can get the data by wget command:
wget  --ca-certi

[2019-10-03 14:59] sanqingshan commented on #11111
i have the same problem with
[code]
10月 03 22:42:07 iuapinstaller-180401 systemd[1]: Starting Etcd Server...
-- Subject: Unit etcd.service has begun start-up
-- Defined-By: systemd
-- Support: http://lists.freedesktop.org/mailman/listinfo/systemd-devel
--
-- Unit etcd.service has begun starting up.
10月 03 22:42:07 iuapinstaller-180401 etcd[1638]: conflicting environment variable "ETCD_NAME" is sha

[2019-10-03 15:19] sanqingshan commented on #11111
i tryd the version 3.2,and it is ok

[2019-10-03 16:04] #11186 closed

[2019-10-03 17:21] #11180 closed

[2019-10-03 20:34] jingyih commented on #11199
Could you use the client interface? 2380 is the port for communication between the etcd servers.

Please read: https://github.com/etcd-io/etcd/blob/master/Documentation/dev-guide/api_grpc_gateway.md

The API path can be found in proto file: https://github.com/etcd-io/etcd/blob/master/etcdserver/etcdserverpb/rpc.proto#L164
or the generated swagger: https://github.com/etcd-io/etcd/blob/master/Docume

[2019-10-03 20:36] jingyih commented on #11199
For example, to get member list:

$ curl -L http://localhost:2379/v3/cluster/member/list -X POST

[2019-10-03 23:46] jpbetz opened #11203 "Add integration TLS tests exercising SAN certs"
https://github.com/etcd-io/etcd/issues/2129 added basic TLS tests, but do not cover the cases where IP or DNS name Subject Alternative Names (SANs) are set in the certs.

https://github.com/etcd-io/etcd/pull/11184 fixed an issue where the cert authority checks failed when using DNS names, and before https://github.com/etcd-io/etcd/pull/10911 fixed a similar issue but for IPs. We need test coverage

[2019-10-04 00:03] gyuho commented on #11203
@jpbetz Maybe we can start moving your failover test case here https://github.com/etcd-io/etcd/tree/master/tests? I usually use https://github.com/etcd-io/etcd/tree/master/tests/docker-dns-srv for DNS SRV testing.

[2019-10-04 07:04] timyinshi commented on #11199
@jingyih  use this command can not get member data:
curl -L http://localhost:2379/v3/cluster/member/list -X POST --output aaa.log
the aaa.log have nothing

[2019-10-04 08:56] Tekchanddagar opened #11204 "Node are not showing in etcd cluster"
Hello Team,

Currently we are using etcd with single node. But now we are planning to use with 3 etcd node. So we are trying to setup etcd cluster with 3 node. But we are facing very strange issue.

We are using the below config in `/etc/default/etcd`

[code]

We have used similar config over all 3 node after changing the value of parameters according to etcd host and start the service on 3 node u

[2019-10-04 09:32] timyinshi commented on #11199
@jingyih i can get the member data by this command:
curl -L -H "Content-Type: application/json" --cacert /etc/ssl/etcd/ssl/ca.pem --cert /etc/ssl/etcd/ssl/member-master2.pem --key /etc/ssl/etcd/ssl/member-master2-key.pem https://192.168.0.93:2379/v3alpha/cluster/member/list -X POST -d '{}'

but the remove command can not work when the cluster is not healthy.
curl -L -H "Content-Type: application/j

[2019-10-04 09:35] timyinshi commented on #11183
my question is same as another issue,so i close this issue.
https://github.com/etcd-io/etcd/issues/11199

[2019-10-04 09:35] #11183 closed

[2019-10-04 12:25] #11189 closed

[2019-10-04 12:38] Tekchanddagar commented on #11204
Hello Team,
Can you please help me on above issue?
Thanks.

[2019-10-04 15:59] svopentext opened #11205 "Authentication"
Please read https://github.com/etcd-io/etcd/blob/master/Documentation/reporting_bugs.md.
How do I authenticate etcd with LDAP? Do we have any dashboard for etcd?

[2019-10-04 16:01] svopentext opened #11206 "error"
Please read https://github.com/etcd-io/etcd/blob/master/Documentation/reporting_bugs.md.
I am getting following error when trying to re
$ etcdctl -w table --endpoints=etcd0:2379,etcd1:2379,etcd2:2379 endpoint status

,"caller":"clientv3/retry_interceptor.go:61","msg":"retrying of unary invoker failed","target":"passthrough:///etcd0:2379","attempt":0,"error":"rpc error: code = DeadlineExceeded desc

[2019-10-04 16:47] vitaminmoo commented on #11154
- `@latest` is `v3.3.15+incompatible` according to `go get` for golang 1.13.1
- explicit `@v3.4.1` doesn't work due to the module path in that version being `go.etcd.io/etcd` instead of `go.etcd.io/etcd/v3` (I think)
- Using `go get -u go.etcd.io/etcd/clientv3@a14579f` (the sha1 of the `v3.4.1` release) results in usage of `v0.5.0-alpha.5.0.20190917205325-a14579fbfb1a` with has the right commit at

[2019-10-04 16:47] #11205 closed

[2019-10-04 19:07] #11206 closed

[2019-10-04 20:01] jingyih commented on #11199
You are right. In my previous example I was just trying to provide the API path.

Regarding member removal, what is the scenario? Do you have 3-node cluster where 1 of them is not available (which is the also the one you are trying to remove)?

[2019-10-04 20:02] jingyih commented on #11199
If the cluster has already lost quorum, you need to follow https://github.com/etcd-io/etcd/blob/master/Documentation/op-guide/recovery.md

[2019-10-04 20:07] jingyih commented on #11204
Could you provide server log? There are couple possible reasons. For example, if the data directory exists, server will not use cluster information provided in the flags. Instead it will just continue to use its previous identity in the data store.

BTW, the officially supported version is 3.2 and above, please try to use newer versions if possible.

[2019-10-05 09:22] timyinshi commented on #11199
@jingyih
thanks,when the cluster is unhealthy,i get the new cluster by "snapshot restore",but it take more time.
if i want to modify the member metadata,do the cluster must be healthy?
if i can modify the member metadata when the cluster is unhealthy,i can take very little time to fix my cluster.

[2019-10-05 13:43] kevinadmins commented on #7894
请教一下，是怎么解决的，我也碰到这个问题了，在用V2写入网段和配置信息的时候

[2019-10-07 06:16] Tekchanddagar commented on #11204
@jingyih, Thank you for your response.

It was seems the issue.
I have removed the data from `/var/lib/etcd/default` directory from all the 3 node and then restart the etcd service on all node. Now all the node are able to join the cluster and its working fine.

Now i have more question or may be last:

When i am stopping the etcd service over currently master node then remaining two node choose t

[2019-10-07 06:37] Tekchanddagar commented on #11204
@jingyih,
I got the answer of my question from below link:

[https://github.com/etcd-io/etcd/blob/master/Documentation/faq.md#what-is-failure-tolerance](url)

Thank you for your helping hands.

[2019-10-07 11:06] tehsphinx commented on #11154
Maybe push priority up on this a bit since `v3.3.15+incompatible` is not working correctly. E.g. when creating a `concurrency.NewSession`, it expects a `github.com/...clientv3.Client` instead of a `go.etcd.io/etcd/clientv3.Client`.

[2019-10-07 13:17] havardk commented on #11154
FWIW, there was an attempt to change the import paths in https://github.com/etcd-io/etcd/pull/10640 but it was reverted in https://github.com/etcd-io/etcd/pull/10766.

[2019-10-07 13:19] spzala commented on #11204
I am closing the issue as it's now resolved. Thanks!

[2019-10-07 13:19] #11204 closed

[2019-10-08 02:45] aleafboat commented on #10000
is it Network Partitions ？

[2019-10-08 02:58] nolouch commented on #10000
@aleafboat I'm not sure, it only appears once in production, and the environment is gone.

[2019-10-08 03:22] scott0000 commented on #11176
Already fixed in [97388ce](https://github.com/etcd-io/etcd/pull/11184/commits/97388ce4545aba201848661d0ac66a62979582cb) and test ok. So close this issue.

[2019-10-08 03:22] #11176 closed

[2019-10-08 06:35] s2li opened #11208 "etcd shutdown failed due to grpc: addrConn.createTransport connection error"
Specific:
  etcd Version: 3.3.0+git
  Git SHA: Not provided (use ./build instead of go build)
  Go Version: go1.12.5
  Go OS/Arch: linux/amd64

  but we use clientV2.

  etcd cluster deployment

  issue was happened on single node shutdown phase.
     loop print  addrConn.createTransport connection error, and etcd server process can't exit after received sigterm.

  logs:
   Sep 25 14:08:28 node1

[2019-10-08 07:53] moggle-mog commented on #11154
the same, when I use `go get -u`, I get:
[code]
go.mod has invalid module name

[2019-10-08 08:22] tehsphinx commented on #11154
That was the path you tried to `go get -u`? `github.com/coreos/etcd` or `go.etcd.io/etcd`?

[2019-10-08 08:49] moggle-mog commented on #11154
go get -u github.com/coreos/etcd

------------------ 原始邮件 ------------------
发件人: "Gabriel Nelle"<notifications@github.com>;
发送时间: 2019年10月8日(星期二) 下午4:23
收件人: "etcd-io/etcd"<etcd@noreply.github.com>;
抄送: "Rinker"<35343661@qq.com>; "Comment"<comment@noreply.github.com>;
主题: Re: [etcd-io/etcd] go get error for 3.4.0 (#11154)

the same, when I use go get -u, I get:
 go get: github.com/coreos/etcd@v3.

[2019-10-08 11:13] halseth commented on #11154
Seeing same issue.

[2019-10-08 14:31] tehsphinx commented on #11154
@moggle-mog: have you tried with `go.etcd.io/etcd`?

[2019-10-08 16:37] snw35 opened #11210 "etcd exits on startup with ETCD_VERSION set in environment"
If ETCD_VERSION is set in the environment where etcd is run, it exists on startup with `error verifying flags, invalid value "<value>" for ETCD_VERSION: parse error.`

Full output below:
[code]
etcd version is 3.4.1 as per above. The fact it prints `unrecognized environment variable` for the other env vars makes me think it should do the same for ETCD_VERSION, and is wrongly grabbing and trying to

[2019-10-08 23:41] #11203 closed

[2019-10-09 03:11] moggle-mog commented on #11154
@tehsphinx Sorry, unavailable again. Because of framework limit, I must use `github.com/coreos/etcd` as import path

[2019-10-09 10:40] yuchengwu opened #11220 "etcdserver: read wal error (walpb: crc mismatch) and cannot be repaired"
one etcd server running in a vm, the vm running on a host machine, after the host machine powered off and powered on, start the vm, etcd failed to start:

[code]

etcd configuration:
[code]

data-dir(8.8M):
[data.tar.gz](https://github.com/etcd-io/etcd/files/3706827/data.tar.gz)

[2019-10-09 12:47] sharkymcdongles commented on #10883
What was the problem? @gregoiremahe

[2019-10-09 12:52] fiorix commented on #11154
Tried adding /v3 and /v4 and look for errors in travis - binaries like etcd-dump-logs failed stuck on the incompatible version.

[2019-10-09 13:23] halseth commented on #7383
Also interested in this :)

[2019-10-09 22:31] jpbetz opened #11226 "Incorporate release tagging into /scripts/release"
@gyuho showed me this nice script he has been using to release. Let's incorporate the additional steps into `scripts/release` so we can release via a single command (modulo release signing).

[code]

cc @wenjiaswe @YoyinZyc @jingyih @hexfusion

[2019-10-09 22:48] jpbetz opened #11227 "read prompts in scripts/release failing with "not a valid identifier""
3.4 release script has a problem with `read` commands that we should fix to ease future releases:

[code]

@wenjiaswe @YoyinZyc @jingyih @hexfusion

[2019-10-09 23:31] jpbetz commented on #11226
@wenjiaswe or @YoyinZyc any interest on incorporating this?

[2019-10-09 23:56] YoyinZyc commented on #11226
@jpbetz  Sure, I will work on that.

[2019-10-10 00:28] YoyinZyc commented on #11226
I think the release signing is already done by the current script. Correct me if I am wrong.
https://github.com/etcd-io/etcd/blob/a6a1fdd45786442452ecca8b8d1228666acce584/scripts/release#L119
And seems like we don't need to do git push either.
https://github.com/etcd-io/etcd/blob/a6a1fdd45786442452ecca8b8d1228666acce584/scripts/release#L125

[2019-10-10 07:49] anotherGoogleFan commented on #11071
Yes, I met the same problem.
My go is ```go version go1.13.1 windows/amd64```

[2019-10-10 08:21] anotherGoogleFan opened #11229 "cannot build when imports the newest version using go get -u -v"
I update this project using go get -u -v, and my projects uses packages in this project. Then the terrible dream starts.
[code]

And, go version go1.13.1 windows/amd64

[2019-10-10 09:59] ckoehn opened #11230 "etcd 3.3.16 reports incorrect version"
Steps to reproduce:

`$ docker run --rm quay.io/coreos/etcd:v3.3.16 etcd --version`

[code]

[2019-10-10 17:33] wenjiaswe commented on #9306
cc @YoyinZyc

[2019-10-10 17:33] wenjiaswe commented on #7308
cc @YoyinZyc

[2019-10-10 17:34] gyuho commented on #11230
/cc @jpbetz @wenjiaswe

[2019-10-10 17:39] jpbetz commented on #11230
Checking

[2019-10-10 17:52] jpbetz commented on #11230
Here's the commit: https://github.com/etcd-io/etcd/commit/292182daf9e5b03920a62557f11a4faf7abc25d7

[2019-10-10 17:56] abezard opened #11232 "2 cluster versions"
I setup a new etcd cluster and for some reason each node is reporting 2 distinct`etcd_cluster_version` (`v3.0` and `v3.4`) at the same time even though each node is reporting 1 `etcd_server_version`.

etcd_cluster_version:
[code]

etcd_server_version:
[code]

I double checked on some hosts: it's not an issue with the metrics acquisition:
[code]

Note that this is a brand new cluster, not an upgrad

[2019-10-10 18:02] jpbetz commented on #11230
Tag is not on the release branch. Moving the tag and re-releasing. We haven't signed the release yet so this should be correctable.

[2019-10-10 18:04] gyuho commented on #11226
@YoyinZyc Maybe you can help on this as well? https://github.com/etcd-io/etcd/issues/11227

Also, there are some other small improvements we can make

https://github.com/etcd-io/etcd/blob/a6a1fdd45786442452ecca8b8d1228666acce584/scripts/release#L54

can be just `https` endpoint, so we can run the release scripts in any build machine without SSH key.

[2019-10-10 18:05] jpbetz commented on #11230
Fixed.

[code]

[2019-10-10 18:07] gyuho commented on #11226
Also, building `tar` files has been broken in darwin...

https://github.com/etcd-io/etcd/blob/efc154b095b0a25fece7fd117df636c1fd807d70/scripts/build-binary#L60-L63

I am inclined to force linux machine for release builds... Maybe you can change that line to enforce `GOOS=linux`

[2019-10-10 18:18] #11230 closed

[2019-10-10 19:20] jaydhulia commented on #11232
After investigation it seems that this is being caused by this function:
https://github.com/etcd-io/etcd/blob/release-3.4/etcdserver/api/membership/cluster.go#L541 .
When the cluster is initially started, it starts off at 3.0:
 `etcdserver/membership: set the initial cluster version to 3.0`
And as a result the metric etcd_cluster_version{cluster_version="3.0.0"} is set to 1. But then, the cluster

[2019-10-10 21:40] YoyinZyc commented on #11226
@gyuho  Not quite sure I understand the problem. I think for darwin it will always build a zip file, right?
https://github.com/etcd-io/etcd/blob/efc154b095b0a25fece7fd117df636c1fd807d70/scripts/build-binary#L85-L91
It is redundant to check the os and change the tarcmd there.

[2019-10-10 23:01] #11227 closed

[2019-10-10 23:16] gyuho commented on #11226
@YoyinZyc

https://github.com/etcd-io/etcd/blob/efc154b095b0a25fece7fd117df636c1fd807d70/scripts/build-binary#L75

When we run this script in darwin, we still run tar command there.

We can prevent darwin release build here

https://github.com/etcd-io/etcd/blob/efc154b095b0a25fece7fd117df636c1fd807d70/scripts/build-binary#L61

by adding some `exit` line.

[2019-10-11 03:09] yqwang-ms commented on #10705
@hexfusion Can we remove the duplicated validation on client side? It may be inconsistent with server side config, but the flag is actually used to protect server, and when server says it can accept larger request payload, client itself should not fail it by its own.

For example, a real problem we met is that, k8s does not provide a flag to increase this on client side.
So, we cannot tune this in

[2019-10-11 15:38] MaggieCui opened #11239 "3-node etcd cluster, one node stop, client get timeout"
### etcd version: 3.4.0

### test program
![image](https://user-images.githubusercontent.com/15689619/66665090-62426c00-ec80-11e9-9f33-ca995f46a0c8.png)

### etcdserver start cmd
etcd --name member1 --listen-client-urls http://10.187.0.91:22379 --advertise-client-urls http://10.187.0.91:22379 --listen-peer-urls http://10.187.0.91:22380 --initial-advertise-peer-urls http://10.187.0.91:22380 --initi

[2019-10-11 16:22] spzala commented on #9648
@gyliu513 I am closing this one. Let's reopen if we needed. Thanks!

[2019-10-11 16:22] #9648 closed

[2019-10-11 16:32] spzala commented on #9604
Closing this per triage guidelines as can't reproduce without further information. Please reopen if needed. Thanks!

[2019-10-11 16:32] #9604 closed

[2019-10-11 17:04] Kent-H opened #11240 "Missing Documentation on the Required Usage of clientv3.Txn When Using concurrency.Mutex"
Documentation for concurrency.Mutex should be updated to explain than any DB access gated by a concurrency.Mutex _must_ be done via a cientv3.Txn gated with IsOwner() in order to guarantee ownership of the lock.

If IsOwner transactions are not used, it is possible for connectivity problems to revoke the lock, and after reestablishing connectivity, for gated requests to run (even though the lock i

[2019-10-11 17:14] jpbetz opened #11241 "etcd 3.3.16 is a bad release"
I made a mistake during the 3.3.16 that cannot be cleanly recovered from. I intend to document in the CHANGELOG and send an email explaining that it is a bad release and release 3.3.17 to replace it.

What went wrong:

- I accidentally tagged the wrong commit when releasing but did not realize it until https://github.com/etcd-io/etcd/issues/11230 was reported. By this time I had submitted a Kubern

[2019-10-11 22:42] YoyinZyc opened #11246 "The summary field in generated rpc.swagger.json mismatches the comments in rpc.proto"
I tried to run `./scripts/genproto.sh` in both branch master and release-3.4.
Here is the diff between old and new-generated `swagger/rpc.swagger.json`.
![image](https://user-images.githubusercontent.com/11894762/66688669-7b292e00-ec3c-11e9-8a33-5aa5bf75ae96.png)
It happens to many other rpc services. It is really weird to me since I don't touch the `etcdserverpb/rpc.proto` and it keeps unchanged.

[2019-10-12 01:46] MaggieCui commented on #11239
need help

[2019-10-12 05:03] jingyih commented on #11199
cluster runtime reconfiguration requires quorum for safety considerations. Please read: https://github.com/etcd-io/etcd/blob/master/Documentation/op-guide/runtime-configuration.md

[2019-10-12 05:07] jingyih commented on #11239
Could you try `etcdctl endpoint status -w table --cluster` and `etcdctl endpoint health -w table --cluster` and check their output first?

[2019-10-12 05:32] jingyih commented on #11246
I remember we saw this issue before in #10336. @hexfusion Could you help take a look?

[2019-10-12 05:45] jingyih opened #11248 "Flaky test: TestBalancerUnderNetworkPartitionWatchFollower"
Found in recent PRs. Only happens in `TARGET=linux-amd64-integration-4-cpu`.

[code]

[2019-10-12 09:24] MaggieCui commented on #11239
the result as follows:
![image](https://user-images.githubusercontent.com/15689619/66697960-9e231300-ed0c-11e9-8f4c-e1227b6e534c.png)
![image](https://user-images.githubusercontent.com/15689619/66697997-e0e4eb00-ed0c-11e9-8c37-a7435e5ba781.png)

I just hang one node, why get "context deadline exceeded" error?
client can retry other node?? 3-node-raft cluster  can bear one node fail??

[2019-10-12 09:26] MaggieCui commented on #11239
the result as follows:
![image](https://user-images.githubusercontent.com/15689619/66698959-4e951500-ed15-11e9-8ab7-3441e9089118.png)
![image](https://user-images.githubusercontent.com/15689619/66698965-59e84080-ed15-11e9-80ee-8b6cdb6471ca.png)

I just hang one node, why get "context deadline exceeded" error?
client can retry other node?? 3-node-raft cluster can bear one node fail??

[2019-10-12 10:58] hexfusion commented on #11246
Sure /assign

On Sat, Oct 12, 2019 at 1:32 AM Jingyi Hu <notifications@github.com> wrote:

--
—

[2019-10-12 19:07] #11232 closed

[2019-10-13 18:30] #11210 closed

[2019-10-13 18:35] jingyih commented on #11239
Looks like the cluster is as expected. You have 1 stopped node in the cluster. The other 2 nodes can still make progress.

If you try `etcdctl put`, does it have the same result as your program?

[2019-10-14 00:49] #11241 closed

[2019-10-14 02:58] xtrusia opened #11250 "lock value is not accessible when one of etcd server is down"
While I'm testing vault + etcd ha env,

I found out that lock value can't be accessed.

etcd server version 3.3.15
etcdctl version 3.5.0-pre
root@node-16:~# ETCDCTL_API=3 ./etcdctl --endpoints https://10.0.0.23:2379,https://10.0.0.24:2379,https://10.0.0.29:2379 --cacert /var/snap/etcd/common/ca.crt --cert /var/snap/etcd/common/client.crt --key /var/snap/etcd/common/client.key version
etcdctl versi

[2019-10-14 11:46] hsyed opened #11251 "Improve the usage of clientv3 for external projects"
1. Clientv3 documentation suggests using the packages prefixed with `go.etcd.io` however the code in concurrency does not accept a [`github.com/coreos/etcd/clientv3.Client`](https://github.com/etcd-io/etcd/blob/3ef2ad8e115449a7004b628a873e2629855ed468/clientv3/concurrency/session.go#L21).

2. There is quite a bit of dependency sprawl when depending on either version of the package.

Suggestions:

[2019-10-14 12:05] hsyed commented on #11251
Looking at the code in the repo the references seem to be correct but I can't figure out how to depend on tag v3.4.2 in my `go.mod`. Do I need to add replace directives ?

[2019-10-14 23:47] #9726 closed

[2019-10-15 01:19] xtrusia commented on #11250
maybe this is because vault can't get lock again after shutting down one etcd server

not sure but etcd concurrency need to be adjusted for refactored client balancer?

[2019-10-15 01:31] lzhfromustc opened #11256 "There is a potential goroutine leak bug in raft/node_test.go"
***Description***
The local channel `applyConfChan` created in [TestNodeProposeAddLearnerNode in etcd/raft/node_test.go](https://github.com/etcd-io/etcd/blob/master/raft/node_test.go#L822) can block multiple goroutines.

I am not sure about the meaning of `applyConfChan`. It has no buffer, 1 receive, but its send is in a loop. If the loop is executed more than 1 time, the child goroutine will be b

[2019-10-15 02:38] MaggieCui commented on #11239
'etcdctl put' work as usual.
maybe the etcdclient has establish connect with three-node  before one-node hang?

[2019-10-15 03:05] WIZARD-CXY opened #11258 "etcd move the boltdb freelist hashmap feature out of experimental"
Now the etcd use boltdbfreelist type as a experimental flag and its default value is array.
[code]

I think now we can remove its experimental flag and set its default value to the `hashmap` type after several months test and production use. It's stable now and will boost etcd storage performance a lot. @jingyih @xiang90 .

[2019-10-15 03:47] xtrusia commented on #11250
hang point

resp, err := client.Txn(ctx).If(cmp).Then(put, getOwner).Else(get, getOwner).Commit()

https://github.com/etcd-io/etcd/blob/master/clientv3/concurrency/mutex.go#L105

[2019-10-15 13:34] dh1tw commented on #11229
same problem here

[2019-10-15 16:13] andyliuliming opened #11259 "when would the version 3.2.28 been released? thanks."
Please read https://github.com/etcd-io/etcd/blob/master/Documentation/reporting_bugs.md.

[2019-10-15 18:05] gyuho commented on #11258
@WIZARD-CXY Sounds good. Can you work on this?

[2019-10-15 18:05] gyuho commented on #11259
/cc @hexfusion

[2019-10-15 18:06] jingyih commented on #11258
Sounds good to me.

If the data file is not as large (say only few GBs), is there noticeable performance gain?

[2019-10-15 18:18] jingyih commented on #11239
Could you paste the test program to something like golang playground? (Instead of a screenshot)

[2019-10-15 19:22] mckenziec commented on #10942
Well I get "Error: context deadline exceeded" in a case where my system clock between VMs skewed when running some automated testing.

If this is a bug, it might be related to certificate before/after validation checks.

[2019-10-16 00:41] spzala commented on #11256
@lzhfromustc thanks and please feel free to create a PR, for a better discussion and, so that the changes run through build process. I am closing the issue but please feel to reopen with errors as needed. Thanks!

[2019-10-16 00:41] #11256 closed

[2019-10-16 03:57] WIZARD-CXY commented on #11258
I will work on that. @gyuho
Only few GB won't see noticable differences. But hashmap is always better since it is O(1) time complexity  instead of O(n)

[2019-10-16 06:21] WIZARD-CXY commented on #11188
@mrueg is this test a single test? I think we can do several tests and compare the results. I think maybe the etcd cluster load is different...

[2019-10-16 06:45] mrueg commented on #11188
I run it multiple times over different environments that got upgraded and saw the same effect there

[2019-10-16 10:31] ahmedbilal opened #11263 "Cluster id mismatch Error"
Configuration is as follow. _(Configuration extension is changed from .yml to .txt as Github don't allow upload of .yml files)_

[etcd1-log.txt](https://github.com/etcd-io/etcd/files/3733772/etcd1-output.txt)
[etcd2-log.txt](https://github.com/etcd-io/etcd/files/3733773/etcd2-output.txt)

[etcd1-conf.txt](https://github.com/etcd-io/etcd/files/3733738/etcd1-conf.txt)
[etcd2-conf.txt](https://github

[2019-10-16 13:29] spzala commented on #11259
related #11195

[2019-10-16 16:54] andyliuliming commented on #11259
Heard about that there're a couple outstanding etcd 3.2 fixes need to be merged before release.

thanks for the response, thanks.

[2019-10-16 17:42] spzala commented on #11259
@andyliuliming yrw, we can keep this issue open for tracking if you want. Thanks!

[2019-10-16 19:12] YoyinZyc opened #11264 "Cannot upgrade cluster from 3.4 to 3.5."
I followed the [upgrade instruction](https://github.com/etcd-io/etcd/blob/master/Documentation/upgrades/upgrade_3_5.md) to upgrade the cluster from 3.4 to 3.5. The cluster is unhealthy when it has 3.4 nodes and 3.5 nodes.
Here are my findings:

1. when I stop one 3.4 node and restart it with 3.5, the 3.5 node cannot be published and keeps sending vote request to other two servers. The 3.5 node is

[2019-10-16 21:57] 2rs2ts opened #11268 "etcdctl endpoint --cluster health fails unless v2 api is enabled after upgrading from 3.3 to 3.4"
I was upgrading from 3.3.12 to 3.4.1 and after upgrading one server I got this error message from the health command:

[code]

Setting `--enable-v2=true` on server startup fixes this. I know however that this command only works if the etcdctl is set to v3 so I don't understand why the v2 API has to be enabled for health to work. Other servers saw this upgraded server as unhealthy too, not sure if

[2019-10-16 23:08] jingyih commented on #11268
Is this issue specific to TLS? Could you try without TLS?

[2019-10-16 23:09] 2rs2ts commented on #11268
@jingyih non-TLS traffic is off the table at my company. Do you want me to try it as a diagnostic tool or are you recommending I disable TLS permanently? The latter will not pass my company's security review :)

[2019-10-16 23:10] jingyih commented on #11264
cc @gyuho

[2019-10-16 23:15] jingyih commented on #11268
Just for diagnostic purpose. Because the error message from your report looks like TLS error, not sure why it is related to `--enable-v2`.

[2019-10-16 23:24] gyuho commented on #11264
So, the error logs are coming from the last 3.4 node, correct?

[2019-10-16 23:26] YoyinZyc commented on #11264
yep.

[2019-10-16 23:50] gyuho commented on #11264
Ok, must be a bug...

Can you help debug by providing more logs in that 3.4 node?

[2019-10-16 23:52] gyuho commented on #11264
Could be some bug around https://github.com/etcd-io/etcd/blob/debf86c1296e5b57c0413b0f11c7506fd167aa2f/etcdserver/api/capability.go#L44

[2019-10-17 00:22] YoyinZyc commented on #11264
attached all the log files.

[2019-10-17 00:41] gyuho commented on #11264
@YoyinZyc If we look at the log in `m1.log`

The request was sent when leadership election happened.

Can we check `m1` is still unhealthy afterwards?

[2019-10-17 01:58] MaggieCui commented on #11239
package main

import (
   "context"
   "go.etcd.io/etcd/clientv3"
   "log"
   "time"
)

func main() {
   var err error
   client, err := clientv3.New(clientv3.Config{
      Endpoints:   []string{"10.187.0.91:22379","10.187.0.91:22381","10.187.0.91:22383"},
      DialTimeout: time.Duration(10000) * time.Millisecond,
   })

   ctx, _ := context.WithTimeout(context.Background(), 10 * time.Second)

[2019-10-17 10:58] s-m-sufyian commented on #10544
Is this still valid ? I want to work on it as a starter issue

[2019-10-17 11:56] MaggieCui commented on #11239
help help help

[2019-10-17 17:30] YoyinZyc commented on #11264
I tried health check again. It responds the same error and it is still unhealthy.

{"level":"warn","ts":"2019-10-17T10:26:10.451-0700","caller":"etcdserver/v3_server.go:708","msg":"timed out waiting for read index response (local node might have slow network)","timeout":"7s"}

[2019-10-17 19:41] 2rs2ts commented on #11268
I think enabling the v2 API was a fluke. I don't understand my problem but I'm closing this issue to avoid confusion.

[2019-10-17 19:41] #11268 closed

[2019-10-17 19:51] 2rs2ts commented on #9398
I didn't have this problem until I upgraded to 3.4. I think the golang upgrade is the cause but if y'all were having problems with 3.3 then I don't think my issues are the same as everyone's here.

[2019-10-17 20:43] jingyih commented on #11239
I am not expert on this. Reading from the code:

SIGTERM and SIGINT are caught here:
https://github.com/etcd-io/etcd/blob/61354ff8ede7dde7839e0df987f37cda931fd740/pkg/osutil/interrupt_unix.go#L50

SIGSTOP is not caught by etcd? What would be the expected behavior for etcd when receiving this signal? The signal usually pauses the process in its current state.

[2019-10-17 21:08] #10328 closed

[2019-10-18 02:05] MaggieCui commented on #11239
I want the cluster  provide normal service when a node hang(this situation is the same as server down)，because majority nodes in cluster alive. Why one node hang affect the whole cluster?

I think this situation etcd must solve(server side or client side) as an high availability service?  reboot is simple but time of  cluster abnormal discovery is uncontrollable

[2019-10-18 02:11] MaggieCui commented on #11239
Regardless of the behavior of this node, clients should always be able to write because another node alive.

Raft return ok when two node write success  and read ok when leader is alive, why one node hang result in read fail?

[2019-10-18 07:41] ahmedbilal commented on #11263
Got it working by using complete IP address in `initial-advertise-peer-urls` and `initial-cluster` instead of `[::]`

[2019-10-18 07:41] #11263 closed

[2019-10-18 20:03] 2rs2ts commented on #11124
This was not the case in 3.3, and it's not documented

It's definitely a bug, not a feature, and should be reverted

[2019-10-19 16:48] gsxhnd commented on #10791
resolve:  [https://github.com/etcd-io/etcd/issues/9877#issuecomment-458509079](https://github.com/etcd-io/etcd/issues/9877#issuecomment-458509079)

[2019-10-20 00:03] bzub opened #11280 "etcdctl endpoint commands don't use ETCDCTL_DISCOVERY_SRV endpoints"
`etcdctl endpoint` sub-commands don't seem to use endpoints discovered via DNS SRV records, although the actual communication with the cluster does use the discovered endpoints.

[code]

[code]

[code]

[2019-10-20 00:10] bzub commented on #11280
I missed the `--cluster` flag for endpoints. This works: `etcdctl endpoint --cluster health`.

[2019-10-20 00:10] #11280 closed

[2019-10-21 02:20] #11264 closed

[2019-10-21 04:46] WIZARD-CXY commented on #11258
close now

[2019-10-21 04:46] #11258 closed

[2019-10-21 07:30] jinxiao commented on #10735
i'm facing the same problem, i got nothing , settings of "JSON MODEL" only showed this:

[code]

[2019-10-21 10:36] hicqu opened #11281 "Question: what if peer fails when calling `advance` to leave joint?"
Hi, I'm reading the code about joint consensus. I notice that in `func (r *raft) advance`, an entry contains an empty `ConfChangeV2` is appended, to make the raft leave joint. However what if the peer fails before `ConfChangeV2` is persisted? Could the raft node recover from the situation?

[2019-10-21 10:40] hicqu commented on #11281
I have readed the code more carefully. Seems that if the raft peer calls `advance` again after recovering from failure, it can still leave joint. Is it correct?

[2019-10-21 23:30] ravilr opened #11283 "etcdctl_v3 endpoint health outputs to stderr on healthy status in etcd-3.3.x"
$ etcd --version
etcd Version: 3.3.17
Git SHA: 6d8052314
Go Version: go1.12.9
Go OS/Arch: linux/amd64

[code]

After upgrading from etcd-3.2.24 to etcd-3.3.17, the endpoint health command simple printer prints the output to stderr even in case of healthy etcd node.  this wasn't the case in etcd-3.2.x

can we change the printer to use Stdout on non-error conditions ?
https://github.com/etcd-io/etcd

[2019-10-22 02:45] MaggieCui commented on #11239
anybody help?

[2019-10-22 04:10] hicqu opened #11284 "How about make configuration changes effective on received instead of applied"
Hi, I'm currently writting some code to make configuration changes effective
on received instead of applied in [raft-rs](https://github.com/pingcap/raft-rs/pull/202).
The main reason is to fix some potential bugs. For example,
The reason we do it is:

1. Suppose there is a Raft cluster with peers A, B, C and A is the leader.
  So we can propose RemoveNode(C) and RemoveNode(B) one by oen on A,
  an

[2019-10-22 05:41] MicroIdea commented on #11229
[code]

[code]

MacOS  same here.

[2019-10-22 08:35] hicqu commented on #11284
@tbg PTAL thanks!

[2019-10-22 08:54] anotherGoogleFan commented on #11229
@dh1tw  @MicroIdea
Before the official plan proposed, I found another way to solve this problem. Hope it works for you.
<pre>
remove github.com\coreos\etcd\vender
remove go.etcd.io\etcd\vendor
then go get other dependencies one by one
</pre>

[2019-10-22 09:33] tbg commented on #11284
Hi @hicqu, thanks for your proposal. This was discussed on https://github.com/etcd-io/etcd/issues/7625. In the end we decided that sticking with apply-time configuration changes (i.e. etcd today) was the more prudent option. Due to this library's use in various applications it is prohibitively difficult to make the change you're suggesting at this point (you need interop between the old and the ne

[2019-10-22 09:33] #11284 closed

[2019-10-22 11:06] hicqu commented on #11284
@tbg thanks for your replay! Seems you worry about rolling update a Raft cluster. How about making the new behavior as an option? Only if it's enabled configuration changes become effective on received, otherwize on applied, just like now. And we can add a rolling update interface on `Storage` interface to document how to update a cluster to enable the feature. According to our research, the updat

[2019-10-22 12:38] WIZARD-CXY commented on #11171
now is not possible

[2019-10-22 14:57] dxvgef opened #11286 "The log-outputs parameter value cannot be the log file path?"
The zap logger supports logging to files. Why can't the etcd `log-outputs` parameter set the log file path?

[2019-10-22 17:23] gyuho commented on #11286
It should work? You can just pass file path to that flag.

[2019-10-23 05:48] jejer commented on #10587
I can confirm same issue.
[code]

[2019-10-23 06:16] jejer commented on #10587
seems etcdctl did not use correct server IP to validate server cert.
[code]

[2019-10-23 06:32] jejer commented on #10587
okay, already fixed by https://github.com/etcd-io/etcd/pull/11184

[2019-10-23 09:21] axiaoxin commented on #10665
I had the same issue too..
[code]

[2019-10-23 14:13] spzala commented on #10587
@jcrowthe as @jejer has verified the issue seems fixed now. I am closing it, but please feel free to reopen if needed. Thanks!

[2019-10-24 02:54] dxvgef commented on #11286
My config file set up `log-outputs: [/data/logs/]`, but no log files are generated.

[2019-10-25 04:10] Tekchanddagar opened #11290 "got unexpected response error (etcdserver: request timed out)"
Hello Team,

Yesterday night i was facing a issue that my patroni unable to communicate with etcd server. Then i checked logs in patroni and etcd server. Over patroni logs showing that patroni unable to communicate with etcd and its timeout.

Below are the logs from patroni:
[code]

Then i checked the logs over etcd machine and getting below logs:
[code]

is it disk performance issue at etcd machi

[2019-10-25 07:31] BestUO opened #11291 "use curl , illegal base64 data at input byte 4"
i use v3.4.3 and when i use curl like this :
curl -XPOST http://172.17.0.2:2379/v3/kv/put -d '{"key": "Zm9v", "value":"smFy"}' etcd work well
but when i use curl like this:
curl -XPOST http://172.17.0.2:2379/v3/kv/put -d '{"key": "Zm9v", "value":"smFsy"}' (only different in value) etcd response me like this
{"error":"illegal base64 data at input byte 4","message":"illegal base64 data at input byte

[2019-10-25 11:56] xqzhang2015 commented on #10408
Hi @jingyih @mitake @horkhe how are you?

I'm using etcd v3.4.0 and still have this infinite issue. According to my troubleshooting, it's truly from raftRequest().

[code]

Here is the log output:
[code]

Reproduce:
1. create user/role and open auth
2. client auth and hold the token
3. create or delete  new user, grant to root role
4. client call put() using prevision token, which is old revision

[2019-10-25 12:26] horkhe commented on #10408
@xqzhang2015 as you can see this issue is still open. We solved it by running a patched version of etcd :-)

[2019-10-25 12:42] jwalton opened #11292 "Documentation: Single node etcd disaster recovery?"
I have a bit of a n00b question, but I'm having a hard time finding an answer.

If I'm running a single node instance of etcd, and I restart it, should it come back up cleanly?  Will it always come back up cleanly?  If I reboot all the nodes in an N-node cluster at the same time, will it come back up?

My (perhaps naive) assumption was that it would.  I found [this old issue](https://github.com/et

[2019-10-25 14:59] spzala commented on #11291
@BestUO I believe smFsy is invalid encoded value. Please try a different valid value, it should work fine.

[2019-10-25 16:14] xqzhang2015 commented on #10408
@horkhe thanks for your comment. Just for double confirmation, is your patch the same as the PR #10468 ?

@jingyih @mitake I got your idea about leave the PR #10468  open, but I don't think it's necessary to completely align with the golang client here. Some points:
1. Without this PR, any auth store update will lead to 100% CPU(infinite loop) issue. So, JWT auth is not ready for PROD usage for no

[2019-10-25 16:15] xqzhang2015 commented on #10408
/cc @xiang90 any comment?

[2019-10-25 20:28] bandari123 opened #11294 "etcdmain: couldn't find local name "dphaim-20" in the initial cluster configuration"
dphaim-20 ~ # sudo -u etcd etcd2 --name dphaim-20 --listen-client-urls http://0.0.0.0:4001 --advertise-client-urls http://10.177.92.49:4001 --initial-advertise-peer-urls http://10.177.92.49:7001 --listen-peer-urls http://10.177.92.49:7001 --initial-cluster dphaim-18=http://10.177.92.49:7001 --initial-cluster-state existing --data-dir /var/lib/etcd2
2019-10-25 20:24:39.618176 I | etcdmain: etcd Ver

[2019-10-26 01:03] jingyih commented on #11294
As the error suggested, `dphaim-20` (which is the node you are starting) is not part of the cluster listed in `--initial-cluster`. Please refer to https://github.com/etcd-io/etcd/blob/master/Documentation/op-guide/configuration.md

[2019-10-26 01:03] #11294 closed

[2019-10-26 01:10] jingyih commented on #10408
@xqzhang2015 Thanks! I think it makes sense to remove the loop on server side. I will update #10468.

[2019-10-26 01:31] jingyih commented on #10408
@horkhe I believe the patch you mentioned is #10218. It fixes the issue for range request, but not other request types.

[2019-10-26 11:40] JESWINKNINAN opened #11295 "Not able to run multiple etcd services in the same node with different data-dir, config-dir and new token"
the server is already initialized as member before, starting as etcd member, But I am sure the old server is not dependent in anyway. Do we have any dependencies to be removed

[2019-10-26 11:56] hexfusion commented on #11295
Can you please provide more information on your setup. Multiple distinct
etcd services in a network should not cause issue.

On Sat, Oct 26, 2019 at 7:40 AM JESWINKNINAN <notifications@github.com>
wrote:

--
—

[2019-10-26 12:02] JESWINKNINAN commented on #11295
@hexfusion Thanks for responding. I will give my background here

I am bootstrapping 2 clusters as multiple etcd services in the same node with different data-dir, config-dir and new token in 3 nodes. But always the second service(say etcd_01 ) is failing in every node with error says "the server is already initialized as member before, starting as etcd member"

[2019-10-26 12:08] hexfusion commented on #11295
have you tried removing the data-dir of all members and trying to bootstrap
cluster again? The message is literal, server has already initialized.
After bootstrap this message is of course normal during restart. I also
assume you are using different ports or ips to separate clusters?

On Sat, Oct 26, 2019 at 8:02 AM JESWINKNINAN <notifications@github.com>
wrote:

--
—

[2019-10-26 18:26] bandari123 commented on #11294
Thanks, I am able initiate the cluster in other node,
now i am getting **No socket error.**

ERROR : **2019-10-26 18:01:48.500930 E | etcdmain: failed to notify systemd for readiness: No socket**
I couldn't able to add any other members to this etcd leader.

dphaim-18 ~ # etcd2 --force-new-cluster --name dphaim-18 --initial-advertise-peer-urls http://10.177.92.36:7001 --advertise-client-urls http:

[2019-10-26 18:32] bandari123 commented on #11294
core@dphaim-18 ~ $ etcdctl --endpoints "http://master:4001" cluster-health
cluster may be unhealthy: failed to list members
Error:  client: etcd cluster is unavailable or misconfigured; error #0: dial tcp: lookup master: no such host

error #0: dial tcp: lookup master: no such host

core@dphaim-18 ~ $

[2019-10-27 13:19] JESWINKNINAN commented on #11295
@hexfusion This is already done and tried, removed all dependencies.

[2019-10-27 14:27] hexfusion commented on #11295
How are you bootstrapping can we see the config and logs?

On Sun, Oct 27, 2019 at 9:20 AM JESWINKNINAN <notifications@github.com>
wrote:

--
—

[2019-10-28 05:45] jingyih opened #11297 "Flaky test: TestRoundRobinBalancedResolvableFailoverFromRequestFail"
Found multiple PRs with this test failed.

`TARGET=linux-amd64-unit`
--- FAIL: TestRoundRobinBalancedResolvableFailoverFromRequestFail (0.03s)
    balancer_test.go:308: expected balanced loads for 20 requests, got switches 6

[2019-10-28 06:26] horkhe commented on #10408
The patch is only part of the solution. You still need to fix the client that does not invalidate a session when `auth.ErrAuthOldRevision` is returned.

[2019-10-28 08:42] Victor2333 commented on #9877
This problem is because GO is trying to find grpc function from etcd library vendor path. I solved this problem by using [dep](https://golang.github.io/dep/) GO package manager. You need to move all your dependency to vendor folder which is in your project root folder maybe will solve the problem.

[2019-10-28 08:50] LouieGuo opened #11298 "conflicting environment variable "ETCD_NAME" is shadowed by corresponding command-line flag (either unset environment variable or disable flag)"
when I use V3.4.3 to create etcd cluster,I met a problem is
"conflicting environment variable "ETCD_NAME" is shadowed by corresponding command-line flag (either unset environment variable or disable flag)"

![image](https://user-images.githubusercontent.com/29138525/67664656-ff044980-f9a2-11e9-88b7-e3cc1b5e7e9e.png)

[2019-10-28 13:55] tbg commented on #7625
Continuing discussion with @hicqu from https://github.com/etcd-io/etcd/issues/11284 here:

My concern is less that this can't be made work, but that it takes a production use case of `etcd/raft` to work out the kinks. If I understand correctly, you're using "proper" joint consensus in TiKV already (?) and so you are likely aware of most of the problems (you had upgrade issues to worry about as wel

[2019-10-28 15:06] jwalton commented on #11292
The documentation explicitly defined temporarily vs. permanent failures:

[2019-10-28 15:06] #11292 closed

[2019-10-28 18:20] jingyih commented on #11298
I think this is dup of #11111. Feel free to reopen if you think otherwise.

[2019-10-28 18:20] #11298 closed

[2019-10-29 11:20] nappa85 opened #11305 "etcd v2 apis old watch not triggering"
Hello,
we have a two machines etcd cluster
[code]

An our service connects to it using v2 http APIs and starts some watches on some keys. Everything seems to work fine, the service is made to alwayse respawn the watch and log any kind of error, more if a 401 is received, the watch index is incremented before respawning, and we don't have errors on our logs.

Happens that, when updating old keys, l

[2019-10-29 15:39] tehsphinx commented on #11251
I second pulling out clientv3 into a separate package. My executable gained 7MB just by adding a dependency on the client.

[2019-10-29 20:18] samding01 opened #11306 "Test case "TestCorruptedBackupFileCheck" failed on big_endian platform(s390x)"
Build and test the latest release version v3.43 is possible on s390x Linux platform(big_endian). But one test case
`TestCorruptedBackupFileCheck` is failed on s390x. Here is the output:
[code]
This test case reads/checks an exist file : `clientv3/snapshot/testdata/corrupted_backup.db` (belong to etcd package). However this db file is generated based on a little_endian platform.
etcd uses `go.etcd.

[2019-10-29 23:14] jingyih commented on #11306
Yes. I generated the test file on my local machine which is little endian.

If this is the only failing test and it is due to different endian, I do not think it should worry you. Is this test blocking you? Is there a way to skip this test for big endian architecture?

[2019-10-30 01:43] DandyDeveloper opened #11307 "Database not readable after adding unreachable member."
We added a member unintentionally to an etcd cluster that wasn't reachable from the etcd service.

This happened a few weeks ago and unknowingly, the log was spamming this:

[code]

This is expected. However, as this went unnoticed, no one removed the member.

A few weeks passed and the service (despite running) was unresponsive to any API calls.

As the API is down and etcdctl is throwing the fol

[2019-10-30 01:50] DandyDeveloper commented on #11307
Hm, looks like per the suggestion here: https://github.com/etcd-io/etcd/blob/master/Documentation/op-guide/recovery.md#restoring-a-cluster-from-membership-mis-reconfiguration-with-wrong-urls

We don't have a snapshot simply because of the time it was "broken". We should probably put better monitoring on stuff like this.

[2019-10-30 10:00] nandeeshb09 opened #11309 "error initializing the store: etcdserver: mvcc: database space exceeded"
Hi Team,

Please help to solve this, we are using sensu 5.12 with etcd cluster -latest image.

all of sudden we are getting this below error.

"error":"error initializing the store: etcdserver: mvcc: database space exceeded","level":"fatal","msg":"error executing sensu-backend","time":"2019-10-30T09:27:15Z"Unexpected Error: "500"

I tried to defrag in all the etcd nodes ,but still getting this err

[2019-10-30 11:35] andyliuliming commented on #11259
@spzala any good news? thanks. :)

[2019-10-30 11:56] ghouscht opened #11310 "Warning "retry stream intercept" on etcd snapshot"
We regularly save snapshots of our etcd clusters (used for k8s) and since upgrading to version `3.3.15` from `3.3.11` we see this warning on each snapshot save:

[code]
Warning comes from: https://github.com/etcd-io/etcd/blob/84e2788c2e41937a851ceb9f365b8e3933b59083/clientv3/retry_interceptor.go#L116
and it looks like this log statement should be inside the `if err != nil` block, right?

# etcd ve

[2019-10-30 12:35] hexfusion commented on #11259
Still shooting for this week, but could bleed into weekend.

[2019-10-30 19:51] Cjen1 opened #11311 "No route to host"
I'm running an etcd cluster on top of a mininet network.

I am trying to connect to the cluster from various clientv3's around the network. The issue is that I am getting no route to host on each of these clients.

Running etcdctl from the points where the clients are, is successful for cluster-health, put and get.

The etcdctl request is
[code]

The client is getting created:
[code]
From reading

[2019-10-30 20:46] jingyih commented on #11310
cc @gyuho @jpbetz
Should the warning appear only when `err != nil`? Or maybe change log level to `debug`?

[2019-10-30 20:51] jingyih commented on #11309
Please refer to https://github.com/etcd-io/etcd/blob/master/Documentation/op-guide/maintenance.md#space-quota

After defrag, do `ETCDCTL_API=3 etcdctl alarm disarm`. It is a cluster wide operation, removing NOSPACE alarm on all nodes.

[2019-10-30 20:51] #11309 closed

[2019-10-30 20:54] jingyih commented on #11307
I don't think quorum is required for doing snapshot. In your case you should be able to get a snapshot.

[2019-10-30 23:06] gyuho commented on #11310
@jingyih Let me take a look

[2019-10-31 05:25] nandeeshb09 commented on #11309
@jingyih  Thank You.

[2019-10-31 06:52] #11291 closed

[2019-10-31 07:32] BestUO opened #11319 "v3 grpc c++ Rang Interface"
hello i use etcd v3 grpc interface with c++,
first i set 3 key-values: test:bar test1:bar1 test2:bar2
when i use like the following way，i get all result,it work well
    grpc::ClientContext context;
    etcdserverpb::RangeRequest request;
    request.set_key("test");
    request.set_range_end("test20");
    etcdserverpb::RangeResponse response;
    grpc::Status status = stub_->Range(&context, requ

[2019-10-31 09:45] lijianwh opened #11320 "A small mistake that append object to a new allocated slice with size"
I found a small mistake here: https://github.com/etcd-io/etcd/blob/bbe1e78e6242a57d54c4b96d8c49ea1e094c3cbb/etcdserver/corrupt.go#L316

[code]
pss is a new slice with size len(mbs) and append to this slice make the [0:len(mbs)-1] elements are empty and useless. `pss := make([]peerHashKVResp, len(mbs))` should be `pss := make([]peerHashKVResp, 0, len(mbs))`

[2019-10-31 11:14] samuelvl opened #11321 "etcd cluster fails to start when using DNS SRV discovery with non-TLS"
I am running etcd (version 3.4.3) on Fedora CoreOS (version 30) using Podman.

When running etcd with no TLS and SRV discovery, the installation is **failing** because it doesn't find `_etcd-server-ssl` entries. This should not fail since entries do not exist as TLS is not being used.

[code]

It also fails on 3.4.2, 3.4.1 and 3.4.0. However, in **3.3.17 it is working properly** (see table blelow)

[2019-10-31 17:05] #11310 closed

[2019-10-31 17:05] gyuho commented on #11320
This is a bug...

Can you help fix?

[2019-10-31 17:52] bandari123 opened #11323 "No socket I couldn't able to add any other members to this etcd leader."
ERROR : 2019-10-26 18:01:48.500930 E | etcdmain: failed to notify systemd for readiness: No socket
I couldn't able to add any other members to this etcd leader.

dphaim-18 ~ # etcd2 --force-new-cluster --name dphaim-18 --initial-advertise-peer-urls http://10.177.92.36:7001 --advertise-client-urls http://10.177.92.36:4001 --listen-peer-urls http://10.177.92.36:7001 --initial-cluster dphaim-18=http:

[2019-10-31 18:11] jingyih commented on #11323
etcd v2 is out of the support window. Please use v3.2 and above.

Ref on migrating from v2 to v3: https://github.com/etcd-io/etcd/blob/master/Documentation/op-guide/v2-migration.md

[2019-10-31 18:11] #11323 closed

[2019-10-31 18:18] jewertow commented on #11019
@gjcarneiro @xiang90
I have been very busy recently, but I came back to this issue and want to implement it.
Please give me a feedback on API. There is no implementation yet. I need information if it will be useful.

[2019-10-31 18:31] gjcarneiro commented on #11019
I would add a new option, something like `bool keys_only`, to WatchCreateRequest.  When this is set to true, the server should only return keys in watch events, with value null.

[2019-10-31 19:04] bandari123 commented on #11323
We're only using etcd 2.3 version, I having the issue with connections between the infra nodes.
I couldn't able to connect from one infra node to other infra node.

**etcdmain: failed to notify systemd for readiness: No socket**

[2019-11-01 01:47] lijianwh commented on #11320
sure, I will raise a PR to fix it.

[2019-11-01 07:25] hicqu opened #11326 "leader transferring should abort if the target is demoted"
The relative code is https://github.com/etcd-io/etcd/blob/master/raft/raft.go#L1570.

We can know in the current implementation, leader transferring will abort after the target is not in the progress list.

However, if the target is demoted from voter to learner, I guess the leader transferring needs also to abort, but seems it's not covered in the current implementation.

Suppose that the configu

[2019-11-02 17:18] #11320 closed

[2019-11-03 01:39] pjz opened #11327 "Changing MaxCallRecvMsgSize for gRPC-gateway"
Hi! I'm currently using etcd via etc3-py which uses the JSON/grpc gateway.  I ran into the size limit:
[code]
and so am looking to figure out how to up the limit from the default 4MB.   I can find plenty of docs on how to increase MaxCallRecvMsgSize for the golang client, but I can't seem to find a way to adjust it for the gateway.  Am I missing something?

[2019-11-03 14:07] el10savio opened #11329 "Procfile Issue when running Goreman after "Getting started" in README"
Found an issue with the Procfiles used after setting up etcd in the [Getting started](https://github.com/etcd-io/etcd#running-etcd) section.

After moving the release to /usr/local/bin as indicated in the command below:

`mv /tmp/etcd-download-test/etcd /usr/local/bin/`

Which successfully adds etcd to bin so that we can run `etcd` via the command line. Now, there comes an issue with Goreman not i

[2019-11-04 03:01] #11229 closed

[2019-11-04 06:58] Sakib37 opened #11331 "ETCD 3.4.3 not starting with systemd file"
I am trying to run a single node ETCD 3.4.3 cluster. I used to run ETCD cluster with the same configuration file before but now the configuration is not working for any version of ETCD. The ETCD server is a virtualbox(6.0.14r133895) machine spawned using Vargrant(2.2.6)

I use the following systemd file for ETCD

[code]

The environment file for ETCD configuration is as below

[code]

Using the ab

[2019-11-04 07:25] dxvgef commented on #11286
It’s normal now, I don’t know why 😅

[2019-11-04 07:25] #11286 closed

[2019-11-04 08:33] tangduoling commented on #5852
I installed etcd on Windows,and I find the same problem happened "create wal error: rename default.etcd\member\wal.tmp default.etcd\member\wal: Access is denied.".Does anyone know how to solve the problem,thanks.

[2019-11-04 08:35] tangduoling commented on #5852
the output is like this:

[WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
2019-11-04 16:33:57.195194 I | etcdmain: etcd Version: 3.4.3
2019-11-04 16:33:57.259993 I | etcdmain: Git SHA: 3cf2f69b5
2019-11-04 16:33:57.260990 I | etcdmain: Go Version: go1.12.12
2019-11-04 16:33:57.260990 I | etcdmain: Go OS/Arch: windows/amd64
2019-11-04 16:33:57.260990 I | etcdma

[2019-11-04 16:35] Sakib37 commented on #11331
seems like this issue is related with the discovery process. If the internet connection is slow the discovery process gets timed out.
Configured to start the cluster with specific node IP instead of discovery process.

[2019-11-04 16:35] #11331 closed

[2019-11-04 20:35] jingyih commented on #11329
They are example files. Please feel free to customize them based on where the etcd binary is located.

[2019-11-04 22:11] spzala commented on #11329
Current instructions seems using master branch. If you are thinking to modify instruction with a PR, I think it's good enough to leave instructions as such and add a comment in both files that use etcd binary location of your env as @jingyih mentioned.

[2019-11-05 03:46] el10savio commented on #11329
Thanks for reaching out.

Yes, this is true. I think indicating to change the etcd location in the Procfiles if it is not in /bin/etcd as comments is a good option. Can I add comments into Procfile & Procfile.learner indicating the above and create a PR?

[2019-11-05 13:30] spzala commented on #11329
Sure, that sounds good. Thank you!

[2019-11-05 18:25] jobin-AT commented on #10642
if you are running on openstack or any cloud please make sure to allow the ports in security groups
in my case this was the error

[2019-11-05 18:25] jobin-AT commented on #8793
if you are running on openstack or any cloud please make sure to allow the ports in security groups
in my case this was the error

[2019-11-05 21:37] wenjiaswe opened #11332 "Release question: do we have an estimated date for v3.3.18?"
@gyuho @jpbetz @hexfusion do we have an estimated date for v3.3.18?

[2019-11-06 04:59] Tekchanddagar commented on #11290
Hello Team,

Can you please help me on above issue? Its become serious issue for us.

Thanks.

[2019-11-06 10:15] Tekchanddagar commented on #11290
Hello Team,

Any help?

Thanks.

[2019-11-06 15:07] rachid-casa opened #11334 "etcdserver: request timed out"
We have an etcd cluster consisting of 5 nodes. (etcd-1, etcd-2, etcd-3,etcd-4 and etcd-5).
At 18:38, the etcd-4 was the leader. At this time an election was started by the etcd-5. A quorum of 3 nodes  (etcd-1, etcd-2 and etcde-5) was formed. The etcd-5 became leader. 10 seconds later, the etcd cluster was unhealthy. All etcd nodes reported "etcdserver: request timed out".
We want to understand why

[2019-11-06 19:14] #11329 closed

[2019-11-07 06:07] BlackSunday001 opened #11335 "DNS SRV etcd: error setting up initial cluster: cannot find local etcd member "etcd1" in SRV records"
Please read https://github.com/etcd-io/etcd/blob/master/Documentation/reporting_bugs.md.
Hi:

hostname | role | IP | system | kernel
---|--- | --- | --- | -- |
node01.k8s.com | node01 | 192.168.1.91 | CentOS 7.7 | 5.1.4-1.el7.elrepo.x86_64
node02.k8s.com | node02 | 192.168.1.92 | CentOS 7.7 | 5.1.4-1.el7.elrepo.x86_64
node03.k8s.com | node03 | 192.168.1.93 | CentOS 7.7 | 5.1.4-1.el7.elrepo.x86_64

[2019-11-07 06:07] birdman7260 commented on #11171
@WIZARD-CXY is it possible to enable auto-compaction by updating the configuration of each member one at a time? As in stopping a member, updating the flags to include the `auto-compaction-retention`, starting the member again and moving through the entire cluster?

I'm trying to do this with one of my clusters but it doesn't seem to be taking effect since I'm not  seeing anything about it in the

[2019-11-07 06:11] BlackSunday001 commented on #11335
I am running etcd (version 3.3.11)

[code]

[2019-11-07 06:42] smallnest opened #11336 "can't use etcd by go mod?"
Go version: 1.13

If I download etcd by go mod, it shows an error:

[code]

The package `google.golang.org/grpc/resolver/dns` has becomed "internal" and etcd has use its own the package in vendor, but if I use go module or imported etcd in my go.mod, an error was thrown and the operation failed.

[2019-11-07 07:50] BlackSunday001 commented on #11335
Everything is ok.

Is my configuration problem

bind SRV Analysis correct：

[code]
2380     is etcd server port
2379     is other Client link port

Thinks

[2019-11-07 07:50] #11335 closed

[2019-11-07 07:50] BlackSunday001 commented on #11335
Thanks

[2019-11-07 08:19] liyue201 opened #11337 "some questions about the implementation of intervalTree"
https://github.com/etcd-io/etcd/blob/b852e37895e7ddd36816c0f4f76e281d50551cb3/pkg/adt/interval_tree.go#L237

i don't think  the implementation of intervalTree is good. why don't use go nil as  NIL leaf node. i have saw this issue  https://github.com/etcd-io/etcd/pull/10881#issue-295622324

i not  think the reason is go nil, but  this function  https://github.com/etcd-io/etcd/blob/b852e37895e7ddd36

[2019-11-07 11:33] tbg commented on #7625
FYI, in CockroachDB we are now working around this problem by not removing voters directly. We demote them first (i.e. turn them into learners) and then remove them. That avoids the unavailability when the leader crashes.

[2019-11-07 11:58] hicqu commented on #7625
@tbg thanks for your effort! I believe it's helpful, however maybe can't resolve the problem at root.

Suppose there is a Raft group with peers `A, B, C and D`. In one moment their configurations could be
[code]
A has leaving joint and response the proposer tht A is removed. However B, C, D don't know this.
Then A and B fail, C and D still can't elect a leader.

I'm also trying to find a solution

[2019-11-07 12:06] hicqu commented on #11326
Could you take a look? @tbg thanks!

[2019-11-07 12:14] tbg commented on #11326
Thanks @hicqu, I think that's spot on! Mind sending a fix?

[2019-11-07 12:15] hicqu commented on #11326
Thank you! It's my plesure to send a PR to fix this!

[2019-11-07 12:17] tbg commented on #7625
In your example, A is two configurations ahead of B, C, D, which should not be possible if `(Append)` from https://github.com/etcd-io/etcd/issues/7625#issuecomment-489232411 holds. A quorum of B,C,D will know that they can switch to `(B, C, D) + Learner(A)` before campaigning, so they can elect a leader. Am I missing something?

[2019-11-07 12:27] hicqu commented on #7625
Suppose the Raft group enters joint at index `10`, and it's leaving joint at index `11`. So their configuration and states could be:
[code]
Seems A is only one configurations ahead of B, C and D.
And B, C, D maybe can't apply to `11` forever, because A hasn't casted any `commit to 11` to them before fail.

[2019-11-07 13:50] tbg commented on #7625
Right, but what's your example? A is still around until it gets removed. If you're saying a goes down, while another node also goes down, then yes you could lose quorum, but you started out with four nodes where that is also true, and if you wanted to know that it stopped being true, you could wait for a majority to have applied the latest change (ugly, but it works).

The thing I really want to a

[2019-11-07 14:05] spzala commented on #11337
@liyue201 for code related changes/proposals, I would suggest to create PR for a better discussion and review. Hope makes sense. I am closing this issue but please feel free to create a PR or reopen this if you want. Thanks!

[2019-11-07 14:05] #11337 closed

[2019-11-07 14:17] andyliuliming commented on #11259
@hexfusion good news? : )

[2019-11-07 16:46] kaisawind commented on #11336
[google.golang.org/grpc/internal/resolver/dns](https://godoc.org/google.golang.org/grpc/internal/resolver/dns)
[google.golang.org/grpc/internal/resolver/passthroug](https://godoc.org/google.golang.org/grpc/internal/resolver/passthrough)

[2019-11-08 01:32] WIZARD-CXY commented on #11171
@birdman7260 it should work. Did you change the whole cluster's settings `auto-compaction-retention` ? Now the compact is a leader work if I remember right. So you must change the whole cluster and wait a while to let the old compaction done.

[2019-11-08 04:47] birdman7260 commented on #11171
@WIZARD-CXY ah you're right! I was changing the settings from the default values (which from my understanding is 0 and therefore there is no auto-compaction by default, at least on our version 3.3.12) and after a few hours I wasn't seeing it in the logs but today I checked and it now is running properly :)

I changed it to have these settings:
[code]

[2019-11-08 05:07] owend commented on #11336
I ran into this same build issue today, it's due to the latest release of grpc moving that package. The build error can be worked around if the grpc 1.24.0 version is used.

This ticket could probably use a better name, but the corresponding issue on the grpc side is here: https://github.com/grpc/grpc-go/issues/3157

The long term fix is that etcd probably shouldn't be using this package directly,

[2019-11-08 05:18] WIZARD-CXY commented on #11171
@birdman7260 From the changelog if I remember correct  it will wait an hour.

[2019-11-08 05:51] menghanl commented on #11336
FYI, The moved packages will be added back in https://github.com/grpc/grpc-go/pull/3162. Those packages will be thin wrappers of the public APIs (e.g. `resolver.Get("dns")`). A minor release will be made for this change.

[2019-11-08 06:49] leaxoy opened #11338 "Grpc dns/passthrough package made private in 1.25 release, but etcd use those in clientv3/balancer/balancer.go:30"

[2019-11-08 15:00] tytakoff commented on #11334
@rachid-casa I'm going to try to reproduce this setup in AWS using a cluster of EC2 instances. Do I have to know any more details of your etcd cluster setup?

[2019-11-08 17:05] dfawley commented on #11336
_If_ it's necessary to get a DNS resolver builder.  It's unclear why etcd is importing the DNS package, however, as this is unexpected - can anyone explain?

[2019-11-08 19:00] jingyih commented on #11171
@birdman7260 Regarding the logic of the periodic compactor, you can refer to the description here:

https://github.com/etcd-io/etcd/blob/b852e37895e7ddd36816c0f4f76e281d50551cb3/etcdserver/api/v3compactor/periodic.go#L63-L95

[2019-11-08 19:30] owend commented on #11338
Duplicate of #11336 This issue description is a better description of the problem though.

This will be fixed by grpc 1.25.1 release putting the dns/passthrough packages back where they used to be.  However, etcd shouldn't use those internal grpc packages.

[2019-11-09 06:35] toranger opened #11339 "Out of space because of mvcc?"
3.3.14 version.

background:
I found snap shot and wal file created frequency last night.  which cause the whole quota use.
now I can not use etcdctl command either.

but I push the very little key in etcd,  I used the concurrency.election to guarantee my program HA(high available)， Is that possible some keys update frequently(election key or something)?

ask for help:
I want to know, how can I lo

[2019-11-10 12:25] mavenir-labs opened #11340 "docker swarm cant start etcd container with healtcheck enabled"
Hi ,
I am trying to start a  3 node ETCD cluster in docker SWARM  environemnt  using stack .
when service healtheck is enables, docker fails to start containers .
maybe it a typo in Stack yaml or misconfiguration of test command, I dont know.

the health check part looks like this,

    healthcheck:
         disable: true
        test: ["CMD-SHELL","/usr/bin/curl", "http://127.0.0.1:2379/health"]

[2019-11-10 20:46] hexfusion commented on #11259
@andyliuliming the release is built and will go live at 4:00 ET. Thank you for your patience.

[2019-11-10 21:03] hexfusion commented on #11259
https://github.com/etcd-io/etcd/releases/tag/v3.2.28

[2019-11-10 21:03] #11259 closed

[2019-11-10 23:38] jingyih commented on #11259
Thanks @hexfusion !

[2019-11-11 08:35] rachid-casa commented on #11334
No, i do not think so. In the attachement above in "etcd Incident.pdf" you will find the config parameters we use.
Thanks.

[2019-11-11 10:10] fhmily opened #11343 "etcdctl v3.3 "watch --prev-kv" not working"
Please read https://github.com/etcd-io/etcd/blob/master/Documentation/reporting_bugs.md.

With a brand new brew installed etcd on Macos X

`etcdctl version`

`etcdctl endpoint status`

put some values and then

`etcdctl watch --rev=1 foo`

but the following cmd just stuck there and give no outputs
`etcdctl watch --prev-kv foo`

[2019-11-11 15:34] svopentext opened #11344 "Client cert authentication failure"
When I am trying to user etcd3 for terraform backend and install client cert, I am getting following error.
embed: rejected connection from "10.100.100.10:61282" (error "tls: first record does not look like a TLS handshake", ServerName "")
---------
Here are my etcd details.
etcd Version: 3.4.1
Go Version: go1.12.9
Go OS/Arch: linux/amd64
Using docker
Docker version 18.03.0-ce, build 0520e24
-----

[2019-11-11 17:31] spzala commented on #11343
@fhmily have you put anything after starting `etcdctl watch --prev-kv foo`? It seems working fine with my master copy.

[code]

[2019-11-11 17:47] spzala commented on #11343
From https://github.com/etcd-io/etcd/blob/master/Documentation/dev-guide/interacting_v3.md#watch-historical-changes-of-keys

[code]

[2019-11-12 02:54] fhmily commented on #11343
Yes, it works if I invoke a new value input from another process. But it confuse me that what is the difference between this and a normal watch command?

And moreover, if this command works for listening on future Puts, why it is listed under "Watch historical changes of keys" chapter. What is the scenario for using this option with Watch?

[2019-11-12 04:40] woshitang1990 opened #11345 "cannot find module providing package github.com/coreos/go-systemd/journal"
when i use go get -v go.etcd.io/etcd/clientv3, it shows cannot find module providing package github.com/coreos/go-systemd/journal

who know how to fix it?

[2019-11-12 08:16] UAvinash7 opened #11346 "What happens when there is 50:50 ratio in consensus voting mechanism considering the fact that we are going with odd number of nodes and provided that one nodes goes off-line before submitting their response"
I was exploring etcd multiraft libraries set and came across an interesting question which is: I've a leader node and 4 follower nodes where leader is proposing a transaction as valid (i.e. true) where as follower node F1 also proposing the transaction as valid, but follower nodes F3 and F4 are proposing the transaction as invalid (i.e. false) and during the same time the follower node F2 goes off

[2019-11-12 10:05] phanhuy1502 opened #11348 "client auth not working on a newly joined node (3.3.10)"
(read) Please read https://github.com/etcd-io/etcd/blob/master/Documentation/reporting_bugs.md.

## description
- On an etcd cluster with authentication enabled (by `etcdctl auth enable`), when a new node joins in, requests to that node are rejected because the authentication doesn't work on the new node.
- Issue resolved when authentication is disable and enable again

## version
- etcd: 3.3.10
-

[2019-11-12 14:52] spzala commented on #11343
I am not sure about the use case related to creation of the --prev-kv option but that's the usage and also how it's clearly documented. The difference is as the usage says that it gives you the previous key-value pair along with normal watch.

[2019-11-12 15:06] xiang90 commented on #11343
Previous kv returns the value that the watched operation overwrote. it is useful when some cleaning up needs to be done for an old overwritten value.

[2019-11-12 15:06] #11343 closed

[2019-11-12 16:15] joedborg commented on #6645
@gyuho has the `ETCDCTL_ENDPOINT` var changed as well?

[code]

[2019-11-12 16:17] spzala commented on #11343
Thanks @xiang90

[2019-11-12 18:33] jingyih commented on #6645
@joedborg Please refer to [1] for all the supported env variables.

[1] https://github.com/etcd-io/etcd/blob/master/Documentation/op-guide/configuration.md

[2019-11-13 00:59] ningyougang opened #11350 "etcdClient.watch lead to memory usuage increasing all the time"
### Env
#### etcd server: v3.4.0
below is one of the etcd cluster node, run it via docker container
[code]
#### etcd client: 0.3.1-SNAPSHOT
At the beginning, we used version: `0.3.0`, but found the `watcher.close()` doesn't work,
so changed to `0.3.1-SNAPSHOT` (after changed,  `watcher.close()` work well )
[code]
### Problem phenomenon
the `watch or close` api seems has memory leak problem, so i u

[2019-11-13 01:50] ningyougang commented on #11350
If i upgraded the client version to `0.4.1`
[code]
Execute above main function, the problem still exist :(

[2019-11-13 07:15] mavenir-labs commented on #11340
the  ' disable: true '   was pasted  by mistake  to the  issue .

[2019-11-13 08:23] saschagrunert opened #11351 "Replace capnslog with logrus"
To update the package to go-systemd v22.0.0 we would need to get rid of the capnslog implementation. This blocks the update in other projects as well, like Kubernetes. (see https://github.com/kubernetes/kubernetes/pull/85097)

I know that it is already planned to replace capnslog with logrus, so I'd like to suggest in moving forward with this plan now. Is there anything to consider for the impleme

[2019-11-13 11:44] monotek commented on #10642
had the same error.
changing endpoints from http:// to https:// solved it for me.

[2019-11-13 11:56] lijianwh opened #11352 "etcd db's size continually increase"
Hi,

I found my etcd cluster's db size continually increase by the prometheus monitor. I just store 12 small key-value pairs in etcd and their size should be less than 100kb.

And I also use etcd's election and lease API. Is there any easy way to profile the data store in bolt db? Does etcd provides any tool to check why db is so large with only 12 items. Thanks.

OS: Linux version 3.10.0-957.el7.

[2019-11-13 12:26] bootc opened #11353 "CHANGELOG-3.4 missing entries"
The [CHANGELOG-3.4.md](https://github.com/etcd-io/etcd/blob/master/CHANGELOG-3.4.md) file is missing an entry for the [3.4.3](https://github.com/etcd-io/etcd/releases/tag/v3.4.3) release and shows [3.4.2](https://github.com/etcd-io/etcd/releases/tag/v3.4.2) as unreleased.

[2019-11-13 15:49] spzala commented on #11353
@bootc thanks for reporting. I will update it.

[2019-11-13 15:55] spzala commented on #11353
/cc @gyuho

[2019-11-13 16:37] siwyd commented on #10289
FYI, for those using the etcd mixin, I worked around this by tweaking the etcd selector:
[code]

[2019-11-13 18:14] hexfusion commented on #10289
I am picking this back up now, hopefully for the last time to resolve.

[2019-11-13 19:13] jingyih commented on #11351
Currently etcd supports both capnslog and zap logger. I believe capnslog will be deprecated in the next minor release 3.5.

[2019-11-13 19:21] jingyih commented on #11352
As an experiment, you can turn on "--debug" flag which will print out per request debugging information. I think the user value is redacted but user key is printed in the debugging info.

This is not traversing the key space in data store. But it can tell which key is being added or updated.

[2019-11-13 20:21] xiang90 commented on #11352
do you keep on updating these 12 items?

[2019-11-13 21:21] #11353 closed

[2019-11-14 01:36] hexfusion commented on #11332
@wenjiaswe I can look at cutting **v3.3.18** maybe this week.

[2019-11-14 01:54] lijianwh commented on #11352
@jingyih thanks,  I will try to use --debug flag to check the detail information. By the way, I use `etcdctl --endpoints=$ENDPOINTS get '\0' --from-key=true` to scan out all the key-value, does this right?

@xiang90 I use etcd for service discovery and these 12 items are address info registered by 6 nodes with lease, the nodes also use election API for leader role campaign. I think the nodes will

[2019-11-14 02:03] jingyih commented on #11352
Use `ETCDCTL_API=3 etcdctl get --prefix ""` to get all keys. Then for individual key, use `ETCDCTL_API=3 etcdctl get <key> -w json` which will print the version of that key. It is basically the number of updates happened to that key since last time it was created.

[2019-11-14 02:26] lijianwh commented on #11352
@jingyih I use `ETCDCTL_API=3 etcdctl get --prefix ""` to get all keys and there is only 12 keys. That meet what I found before. Below is one of the item which wipe out sensitive information. I find the create_revision is quite large, in usual case, the etcd will compact the reversion, the db's size should not be so large， right?
[code]
The command of my etcd cluster.
[code]

[2019-11-14 02:45] wenjiaswe commented on #11332
Thanks @hexfusion !

[2019-11-14 05:41] smalltangcai commented on #11350
@xiang90 @jpbetz @hexfusion @fanminshi @gyuho I also met the same problem. can you help to check this issue and give us some work around if there is. Thx!

[2019-11-14 05:46] style95 commented on #11350
+1 on this.
Facing the same issue.

[2019-11-14 06:54] Fullstop000 opened #11357 "Proposal: Introduce Follower Replication in Raft"
## Summary
In the origin raft protocol, a follower can only receive new raft logs and snapshots from the leader, which could be insufficient in some situations. For example, when a raft cluster is distributed in different data centers, log replication can is expensive due to the frequent cross-DC network transmission. In this case, internal follower-to-follower transfer in one data center can be f

[2019-11-14 07:59] jingyih commented on #11352
First of all, the etcd store revision in the response is 4463554, that means the store has been updated about 4463553 times. If there is no compaction, the store keeps all history data.

Looks like you did not enable any automatic compaction on server side. Does your client periodically issue compaction request to server?

To free the space, you can manually run `ETCDCTL_API=3 etcdctl compact <rev

[2019-11-14 09:08] ningyougang commented on #11350
And i also did benmark against the `etcdClient.put` , .e.g  demo codes
[code]
It seems the etcd's memory usuage is increasing during benchmark.  (I use `docker stat` to monit the memory)
After stop benchmark, and monit the memory again, the memory usuage will not reduced forever.
Strange!

@xiang90 @jpbetz @hexfusion @fanminshi @gyuho Do you guys know the reason? or have any idea for it if there i

[2019-11-14 09:39] lijianwh commented on #11352
Great ! it works.

BTW, is there any flag that I can set to make the etcd delete history data and free space automatically. My cluster seems need I do these actions manually.

[2019-11-14 13:29] afking opened #11360 "clientv3/concurrency: Mutex isn't locally thread safe"
Creating a single mutex and locking both can race as each Lock mutates the *Mutex. E.g:
[code]
https://github.com/etcd-io/etcd/blob/master/clientv3/concurrency/mutex.go#L97

The API for concurrency.Mutex is very similar to sync.Mutex but the local behaviour is very different. Should there be a local lock so the go routines would block each other?

[2019-11-14 16:54] lummie opened #11361 "go get go.etcd.io/etcd/clientv3 fails"
Expect `go get go.etcd.io/etcd/clientv3` to fetch dependencies correctly

`go get go.etcd.io/etcd/clientv3` result is:
[code]

[2019-11-14 16:55] lummie commented on #11361
sorry, duplicate of #11345

[2019-11-14 18:48] jingyih commented on #11352
https://github.com/etcd-io/etcd/blob/master/Documentation/op-guide/configuration.md#--auto-compaction-retention
https://github.com/etcd-io/etcd/blob/master/Documentation/op-guide/configuration.md#--auto-compaction-mode

[2019-11-14 18:50] xiang90 commented on #11352
i am closing this issue since i believe compaction should solve the problem.

[2019-11-14 18:50] #11352 closed

[2019-11-14 18:51] xiang90 commented on #11360
can you help to make that func thread-safe? thanks.

[2019-11-15 01:15] mheese commented on #10186
because I run over this issue over and over: the outstanding issue (https://github.com/grpc/grpc/issues/4677) is basically on the C++ gRPC support (and languages which use that core library). With the go grpc implementation you can easily listen on an abstract unix socket, as well as connect to it.

[2019-11-15 01:31] sxiii commented on #6089
@xiang90 @heyitsanthony @gyuho can you give a more full example of this? I've tried different approaches and I still can't get information that key does not exist. How do I define "resp" earlier? Thanks.

[2019-11-15 02:41] siddontang commented on #11357
@Fullstop000 maybe it is better for us to paste the benchmark result here.

[2019-11-15 02:43] siddontang commented on #11357
Another benefit I think is to reduce the pressure of the leader when the leader has more followers or learners.

[2019-11-15 02:55] xiang90 commented on #11357
This is an OK idea. Just need to justify the complexity from some benchmark results, ideally from practical experience/use cases.

[2019-11-15 06:08] #11307 closed

[2019-11-15 10:05] brightzheng100 commented on #10642
I solved this issue only when I applied the right cert/key pair.

Assuming we're using `kubeadm` to spin up the cluster, there should be a couple of cert/key pairs under the folder:

[code]

[2019-11-15 13:57] lummie commented on #11345
@woshitang1990 did you find a fix?

[2019-11-15 14:12] woshitang1990 commented on #11345
first download github.com/go-systemd/journal to local, then use go module replace to make the package point to local path.
example:
replace github.com/coreos/go-systemd/journal => /Users/miketang/go/src/github.com/go-systemd/journal

[2019-11-15 14:23] woshitang1990 commented on #11345
first download github.com/go-systemd/journal to local, then use go module replace to make the package point to local path.
example:
replace github.com/coreos/go-systemd/journal => /Users/miketang/go/src/github.com/go-systemd/journal

[2019-11-16 03:32] logicalhan opened #11365 "Etcd write throughput metric"
Currently etcd has a metric `etcd_mvcc_db_total_size_in_bytes` which reports the total size of the db in bytes, however, due to compaction frequencies, this metric can display a sawtooth pattern when write frequency is high.

Can we add a metric which just displays the write throughput?

[2019-11-16 03:33] logicalhan commented on #11365
/cc @jingyih

[2019-11-16 03:33] logicalhan commented on #11365
/cc @yoyinzyc

[2019-11-17 10:16] foxman209 opened #11366 "The picture in doc page has gone"
## The pictures of the following two pages are gone
https://etcd.io/docs/v3.4.0/learning/design-client/
https://etcd.io/docs/v3.4.0/learning/design-learner/

[2019-11-18 04:52] rogchap commented on #10665
I'm seeing the same error with `v3.3.10`:
[code]

[2019-11-18 05:29] ningyougang commented on #11350
Then, i used go client API to test again. codes as below
[code]
I deployed a three nodes etcd cluster.
the etcd0's memory usuage keep stable (< 200M)
the etcd1's memory usuage keep stable (< 200M)
the etcd2's memory usuage keep stable (< 700M)
So obviousely，the `etcd server itself` have no problem.
The problem is in `jetcd`.

[2019-11-18 07:42] axiaoxin commented on #10665
I found this phenomenon may be related to the version of golang. Using 1.13 will have this problem, using 1.12 is normal

[2019-11-18 16:00] svopentext commented on #11344
resolved this issue ..Terrafrom needs all .pem certs
terraform {
backend "etcdv3" {
endpoints = ["10.100.10.00:2379", "110.100.11:2379", "10.100.12:2379"]
lock = true
prefix = "at4d-terraform-state/"
cacert_path = "certs/ca.pem"
cert_path = "certs/client.pem"
key_path = "certs/client-key.pem"
}
}

[2019-11-18 16:00] #11344 closed

[2019-11-18 23:39] ClickSimply opened #11367 "404 response on maintenance endpoint"
Hello Etcd team,

Thanks for putting this together, one of the more useful projects on this platform in my opinion.

I'm running into an odd issue with etcd `3.5.0-pre`, basically compiled and running the master branch on github.  I'm running it on Ubuntu 18.04.

When I run the following command I get a 404 response from etcd:
[code]

This URL should work according the swagger api documentation li

[2019-11-19 00:21] timestee commented on #10398
`cannot use s.client (type *"go.etcd.io/etcd/clientv3".Client) as type *"github.com/coreos/etcd/clientv3".Client in argument to concurrency.NewSession`

same issue, such a big mess!

[2019-11-19 02:04] liangjfblue opened #11368 "r.pendingConf problem"
why function stepLeader(r *raft, m pb.Message) write this   r.pendingConf = true

the code in raft.go

[code]

[2019-11-19 03:32] timestee opened #11369 "some keys is not deleted when the bound lease expires even after the leaser revoked."
some keys is not deleted when the bound lease expires even after the leaser revoked.
[code]

[2019-11-19 03:35] tagarwal opened #11370 "etc compaction when no keys exist results in inconsistent watch and get"
Please read https://github.com/etcd-io/etcd/blob/master/Documentation/reporting_bugs.md.
etcd version 3.3.2
Try etcd compaction when no keys are entered
`etcdctl --endpoints=localhost:2379 get --prefix ""` (returns nothing which is correct as no keys are entered)
`etcdctl --endpoints=localhost:2379 compact 1`
compacted revision 1
We have an auto compacter policy hence this issue

Put a key
`etcdct

[2019-11-19 04:05] hexfusion commented on #11369
Thanks for the report. Could you also confirm client version? In general a simple reproducible example would help us understand “some keys not deleted”. This to me means some keys are and some are not. Could you please clarify?

[2019-11-19 04:41] timestee commented on #11369
client version : go.etcd.io/etcd v3.3.13+incompatible
has tried update to latest version ,but lots madness things like: https://github.com/etcd-io/etcd/issues/10398 and `cannot use s.client (type *"go.etcd.io/etcd/clientv3".Client) as type *"github.com/coreos/etcd/clientv3".Client in argument to concurrency.NewSession`.

Just put tens of kvs with 30s ttl and enable leaser keepalive like this:
[cod

[2019-11-19 08:15] timestee commented on #11369
sorry, seems its a mistake, will keep on the observation, close now.

[2019-11-19 08:15] #11369 closed

[2019-11-19 14:20] cfc4n opened #11371 "balancer: create many tcp connections use the same endpoint"
### What version of etcd are you using?
3.3.17
### What version of Go are you using (`go version`)?
go version go1.13.1 linux/amd64

### What operating system (Linux, Windows, …) and version?
CentOS release 6.5 * 2

### What did you do?
Client: 192.168.1.199
Etcd Node A:192.168.1.101

### What did you expect to see?
#### step 1 : run the code
[code]
#### set iptables command
set iptables command o

[2019-11-19 16:29] socketpair opened #11372 "Strictly define how JSONs are separated in GRPC gateway"
I use GRPC gateway to access etcd watching functionality. Namely, https://github.com/etcd-io/etcd/blob/master/Documentation/dev-guide/api_grpc_gateway.md#watch-keys .

But I don't have any specifications on how should I separate JSONs in the response stream since it is not documented anywhere.

Basically I have 3 ways:

1. HTTP chunk = message
This fails at least in Fedora 31 on high load because

[2019-11-19 17:56] hexfusion commented on #10289
I have found the source of `Unavailable` instead of `Canceled`.

https://github.com/etcd-io/etcd/blob/master/etcdserver/api/v3rpc/watch.go#L198-L201

When the watch is canceled we pass

https://github.com/etcd-io/etcd/blob/63dd73c1869f1784f907b922f61571176a2802e8/etcdserver/api/v3rpc/rpctypes/error.go#L66

Which is not valid resulting in `codes.Unavailable` passed to status.New() resulting in the

[2019-11-19 21:09] spzala commented on #11351
/cc @gyuho - discussed at the kubecon

[2019-11-20 00:45] jingyih commented on #11370
https://github.com/etcd-io/etcd/blob/b373cb905135de13097beeee2d3cf89a8d17ed00/clientv3/kv.go#L53-L54
"Compact compacts etcd KV history before the given rev." So  `--rev 1` is valid after `etcdctl compact 1`.

After compaction, `etcdctl put foo bar` writes key foo at rev x (x > 1).

The result of `watch` and `get` in your post is expected.

[2019-11-20 00:45] #11370 closed

[2019-11-20 02:58] #10860 closed

[2019-11-20 08:17] darwin67 opened #11376 "cannot unmarshal DNS message (TLS SRV)"
# Summary

I'm seeing this error in logs when I try to add a member utilizing DNS discovery with TLS.
[code]

I was doing an upgrade from `3.3.12` to `3.3.17` when I started seeing this issue.
I've also confirmed that this started happening from `3.3.14` and is still happening on the latest `3.4.3`.

Reverting back to `3.3.12` or `3.3.13` will work again as expected.

## Expected behaviour

New et

[2019-11-20 15:59] neiljerram opened #11377 "etcdserver hang with syntactically valid but old token?"
With this script, and v3.3.11 or v3.3.17, I see that etcdserver does not respond promptly when presented with an Authorization token that is expired but syntactically valid:
[code]

The output for the last 3 curls shows:
[code]
In other words, with no Authorization header, or with a malformed token, we get an immediate negative response (which is good).  But with a well formed but non-current toke

[2019-11-20 20:10] mitake commented on #11377
This is a bug fixed in https://github.com/etcd-io/etcd/pull/10218 Could you try the latest master?

[2019-11-21 00:21] jingyih commented on #11377
etcd 3.4 releases should also have this fix.

[2019-11-21 00:30] neiljerram commented on #11377
Thanks.  Would it make sense to cherry pick for a new v3.3.x release as well, or is that EOL now?

I did also try a v3.4 release earlier, but then I got 404 for those URLs above?  Do they need to be adjusted in some way for v3.4?

[2019-11-21 00:33] jingyih commented on #11377
etcd v3.4 uses [CLIENT-URL]/v3/* while keeping [CLIENT-URL]/v3beta/*.
[CLIENT-URL]/v3alpha/* is deprecated.

[2019-11-21 00:34] jingyih commented on #11377
I think it is reasonable to cherry pick the fix to 3.3.

[2019-11-21 00:51] jingyih commented on #11365
Closed via #11374.

[2019-11-21 00:51] #11365 closed

[2019-11-21 00:55] jingyih commented on #11339
Could you please refer to the discussion in #11352.

[2019-11-21 00:57] neiljerram commented on #11377
Perhaps I'm doing this wrong, but I think I'm still seeing a problem with master...

I couldn't see a :master image on quay or docker hub, so I built like this:
[code]

Then ran the script above with image changed to gcr.io/etcd-development/etcd and v3alpha changed to v3, and I get:
[code]
So I'm still seeing the 5s time for the second curl.

[2019-11-21 09:27] cuiyuan commented on #2179
If an old node restart , --initial-cluster-state should be new or existing?
I tried, both can work, why?

[2019-11-21 13:06] gradb71 opened #11379 "etcd connection errors"
Please read https://github.com/etcd-io/etcd/blob/master/Documentation/reporting_bugs.md.

 version 3.4.3
3 node cluster
cannot : member list or retrieve keys

]# cat /lib/systemd/system/etcd.service
[Unit]
Description=etcd service
Documentation=https://github.com/coreos/etcd

[Service]
User=etcd
Type=notify
ExecStart=/usr/local/bin/etcd \
 --name o9tvir008 \
 --data-dir /var/lib/etcd \
 --auto-tls

[2019-11-21 19:13] Clivern commented on #11345
i think this is related https://github.com/coreos/go-systemd/issues/325

[2019-11-21 21:57] mitake commented on #11379
thanks for sharing the detail! I'll take a look

[2019-11-22 00:47] jingyih opened #11380 "Migrate cluster attributes to use v3 backend"
Prerequisite for #9232.

Currently cluster related information still relies on v2store. They need to be migrated to use v3 backend. For example, during restart, member reads cluster attributes (such as cluster version) from the V2 store, which could be very stale. This is because the V2 store recovers from the last snapshot point.

This is probably also needed by #11362. As during downgrade, membe

[2019-11-22 00:47] jingyih commented on #11380
cc @YoyinZyc @gyuho

[2019-11-22 08:40] cnjinshuai opened #11381 "v3electionpb.proto Campaign return "invalid auth token" when the token has been deleted"
v3electionpb.proto Campaign return "invalid auth token"  when setcd server has been deleted token.

etcdserver/api/v3electionpb/v3electionpb.proto
  rpc Campaign(CampaignRequest) returns (CampaignResponse) {
      option (google.api.http) = {
        post: "/v3/election/campaign"
        body: "*"
    };
  }

1. Etcdserver auth enable.

2. Two processes(A and B) call Campaign, A is leadership, B p

[2019-11-22 14:31] micheelengronne opened #11382 "pkcs11 support"
As stated [here](https://github.com/etcd-io/etcd/blob/master/Documentation/op-guide/security.md), etcd supports TLS.

But the key file can only be used if it is a basic unencrypted file.

It would be a great improvement if the private key could be served from a pkcs11 interface (HSM, smartcard).

[2019-11-22 15:20] schlitzered opened #11383 "make-mirror, not working with username:password authentication"
i am running two test clusters of etcd 3.4.3. with password authentication enabled, and client-cert auth disabled.

lb address is:
https://etcd-a-svc.example.com:2379
member:
etcd-a-1.example.com:2379
etcd-a-2.example.com:2379
etcd-a-3.example.com:2379

https://etcd-b-svc.example.com:2379
member:
etcd-b-1.example.com:2379
etcd-b-2.example.com:2379
etcd-b-3.example.com:2379

both clusters have the

[2019-11-22 20:52] dhawal55 commented on #11111
Any suggested workaround??

I tried setting ETCD_NAME environment variable but using one env var to set another doesn't seem to work:

`ENVIRONMENT="ETCD_NAME=${COREOS_EC2_HOSTNAME}"`

[2019-11-22 23:28] YoyinZyc opened #11385 "Allowed member version when cluster is downgrading"
- Only allow downgrade target version to join in cluster.
     - pros: strict enough for downgrade
     - cons: if one member crashes unexpectedly during downgrade, it cannot restart itself with old binary.(ref: https://github.com/etcd-io/etcd/pull/11362#discussion_r348798205)
- Allow higher than target version.
     - pros: will not break current cluster operation
     - cons: the cluster may upg

[2019-11-23 03:12] hexfusion commented on #11385
Thanks for doing this @YoyinZyc I hope to review your work soon.

[2019-11-23 08:12] gyuho commented on #11385
I think we can start with the simplest implementation. Just allow one version lower than the current cluster version, which is agreed in quorum. Then, we don't need worry about having 3 minor versions in the same cluster.

We can handle other edge cases later.

[2019-11-23 08:14] gyuho commented on #11385
In most cases, the downgrade would not overlap with upgrade operation. So, let's not worry about the cluster version skew greater than 1. It can be only one version difference, either upgrade or downgrade.

[2019-11-23 09:52] lukasCoppens opened #11386 "Upgrading from etcd 3.3.x to 3.4.x causes tls errors: (error "tls: \"x.x.x.x\" does not match any of DNSNames."
We had a running 3.3.17 etcd cluster. Using the same config (fixing the deprecated  flags listed in the upgrade guide) we wanted to upgrade to 3.4.3. (also tested it with 3.4.0). When we updated the first node we noticed tls errors that the ip of the node was not on the cert used for peer to peer authentication and encryption. In the upgrade guide there is no mention of a change in the way nodes c

[2019-11-25 08:12] benitogf commented on #10554
Hello, I'm trying to setup a cluster using etcd embedded, I tried setting up the parameters as described above but even though I set the `initialCluster` value when the service starts the log shows it as empty. Would appreciate any help or configuration examples to set up a cluster using the embedded service

[code]

[code]

[2019-11-25 09:06] Vae1997 commented on #10677
Hello! Just now,I face with the same problem when I try to install etcd on arm64.
I also try to export ETCD_UNSUPPORTED_ARCH=arm64 ,but failed.
However,I try to make file in /etc/etcd/etcd.conf and write ETCD_UNSUPPORTED_ARCH=arm64 ,saved.
Then,I change /etc/systemd/system/etcd.service by adding EnvironmentFile=/etc/etcd/etcd.conf at [Service] section,reboot.
Nice,now it work well!

[2019-11-25 10:09] benitogf commented on #10554
after deleting the database and starting with the cluster configuration I'm getting a different error:

[code]

But acording to the log the initial-cluster is:

[code]

and initial-advertise-peer-urls:

[code]

Full crash log:

[code]

[2019-11-25 14:19] spzala commented on #11366
@foxman209 thanks for reporting.
There is a related PR in the doc repo - https://github.com/etcd-io/website/issues/48
The GH page shows images fine https://github.com/etcd-io/website/blob/master/content/docs/v3.4.0/learning/design-learner.md
I am closing this issue in favor of the issue already created on the Website repo. Thanks!

[2019-11-25 14:19] #11366 closed

[2019-11-25 19:01] tegk opened #11388 "go get is broken: cannot use auth.callOpts"
go get github.com/coreos/etcd/clientv3 does not work!
go version go1.13.4 linux/amd64
[code]

[2019-11-25 19:41] atombender opened #11389 "High memory usage with small database"
Etcd 3.4.3. Very small (about 8 keys, probably just a few KB) database used for Traefik, reproducible both on single-node test cluster and in our production (3 nodes) cluster.

Upon startup, memory (RSS) immediately balloons to about 6GB (!), despite there being essentially no transaction traffic. Problem persists after compacting and defragmenting.

Command line from our Kubernetes statefulset:

[2019-11-25 20:57] jingyih commented on #11385
I think the current approach (allow 1 minor version difference) is fine.

[2019-11-25 21:24] wenjiaswe commented on #11332
@hexfusion friendly ping:)

[2019-11-25 22:49] diegobernardes opened #11390 "Improve embed logging options"
It's awesome that Etcd has official embed support. It's really working great for a project that I'm working on but it could be even better if we had more options to configure the logger.

What you guys think in add at the `embed.Config` an option to change the logger writer. With that, we can plug Etcd log output into any other logger system (file, logrus, zap, zerolog, etc...).

[2019-11-26 07:11] WIZARD-CXY opened #11392 "[bug]compaction metrics missing"
Seems due to pr#11034 https://github.com/etcd-io/etcd/pull/11034/files
we are missing count of the keys etcd have compacted .
https://github.com/etcd-io/etcd/commit/9b51febaf5cac4984aa2c4e664fe38a8b5518395#diff-02d69aa35dfdca9a6d5c88af558462b8L47.
It makes the metrics `etcd_debugging_mvcc_db_compaction_keys_total` always 0...
@jingyih @jpbetz

[2019-11-26 14:00] cfc4n commented on #11371
I recived a reply from grpc-go community like this:

And I agree with that etcd client need to full control about create TCP connections.

and what abuot you think ?

[2019-11-26 19:27] gyuho commented on #11332
@wenjiaswe Have we backported all patched? If so, I can help.

[2019-11-26 22:00] wenjiaswe commented on #11332
Thanks @gyuho ! Let's wait for backport of https://github.com/etcd-io/etcd/pull/11374, I will ping you when we are ready:)

cc @jingyih @YoyinZyc

[2019-11-26 23:04] wenjiaswe commented on #11332
https://github.com/etcd-io/etcd/pull/11394 merged, @gyuho please help to cut 3.3.18 release when you have time. Thanks!

[2019-11-26 23:34] wenjiaswe commented on #11385
I agree with approach 1, only allowing 1 minor version lower. That's the policy for now, and it makes sense the code agree with the policy. If the corner case is not so corner in future, we could change the policy. But we shouldn't worry too much about it now.

[2019-11-27 01:48] WIZARD-CXY commented on #11392
I will make a pr to fix this

[2019-11-27 01:56] sunny821 opened #11396 "etcd V3 partial node delays in distributed watch events"
-- etcd Version: 3.3.13
-- environment :
（1）etcd cluster ：192.168.0.1:2379  Leader
                                 192.168.0.2:2379  Follower
                                 192.168.0.3:2379  Follower
-- reproduce the problem：
（1）server : write data to ETCD (PUT)
                       server establishes a long connection with 192.168.0.1
（2）two agent : listening ETCD event

[2019-11-27 02:10] cuiyuan opened #11397 "about initial-cluster-state flag"
This is more of a question than an issue;

If an old node restart , --initial-cluster-state should be new or existing?
I tried, both can work, why?

And after cluster add new member ，when old node restart， --initial-cluster flag should add new member？

[2019-11-27 04:58] gyuho commented on #11332
https://github.com/etcd-io/etcd/releases/tag/v3.3.18 has been released.

[2019-11-27 04:58] #11332 closed

[2019-11-27 05:31] wenjiaswe commented on #11332
Thanks @gyuho !

[2019-11-27 06:42] WIZARD-CXY commented on #11397
The old node does not depend on flags any more

[2019-11-27 07:24] sunny821 commented on #11058
+1

[2019-11-27 09:57] WIZARD-CXY commented on #11392
pr https://github.com/etcd-io/etcd/pull/11400

[2019-11-27 11:06] andyzheung opened #11401 "Some doubts about etcd new future learner"
I am interested in learner feature, but have some problem when I try to use it?

1、why does only one learner in the cluster?

2、why the cluster health instance etcd is less than quorum size, that I can't  promote the learner to a vote member?
When I use learner endponit:
![image](https://user-images.githubusercontent.com/22912347/69718228-c9d94b80-1148-11ea-9ae7-4900d12d3b9b.png)

or when I use th

[2019-11-27 14:33] #11306 closed

[2019-11-27 14:39] offer365 commented on #10554
Can refer to my implementation   https://github.com/offer365/example/tree/master/etcd/embedder

[2019-11-27 15:58] joedborg opened #11402 "Documentation does not show how to enable v2 in 3.4 via config file"
I'm looking to enable API v2 on 3.4, but I'd like to do this via the config file rather than as a flag on the server binary.

https://github.com/etcd-io/etcd/blob/master/Documentation/upgrades/upgrade_3_4.md

Is it possible this way?

[2019-11-27 20:45] jingyih commented on #11402
I found a sample here:

https://github.com/etcd-io/etcd/blob/419ffb77ab4f0e263f23b5cba2b323502015fc75/etcd.conf.yml.sample#L72-L73

[2019-11-27 20:46] jingyih commented on #11402
Closing. Please reopen if there is follow up question.

[2019-11-27 20:46] #11402 closed

[2019-11-27 21:01] jingyih commented on #11401
Leaner is a new feature. We currently set the maximum of learners to be 1, to prevent leader from being potentially overloaded by newly added learners. This limit could be increased in the future when learner feature is more stable.

Promoting learner to voting member is quorum operation.

[2019-11-27 21:23] #11392 closed

[2019-11-27 21:26] jingyih commented on #11397
Correct. I assume 'old node' means there is existing data directory for the node. The flag is used in bootstrapping (static bootstrap, discovery-service bootstrap or runtime reconfiguration) a new member, and ignored when restarting an existing member.

[2019-11-27 21:26] #11397 closed

[2019-11-27 23:02] xiang90 commented on #11058
a leader election will partially refresh the TTL on keys (the ttl will be checked pointed though). the only guarantee on TTL is to expire longer than the given TTL eventually. no strong time limit.

[2019-11-27 23:02] #11058 closed

[2019-11-28 02:35] dselans commented on #11345
Thanks for posting this @woshitang1990. This is what I did:

[code]

Followed by prompt vendoring...

[2019-11-28 02:41] andyzheung commented on #11401
Thank you for your reply.

About the second question, I have some case that I want to need use learner to backup for the cluster.Just like the following picture, we only have two nodes, that use only two instances, other two are learners, we want to when one node is down, that I can promote the other node learner to vote, so that qurum size still 2,

![image](https://user-images.githubusercontent.

[2019-11-28 03:29] jingyih commented on #11401
If you need fault tolerance, the minimum voting member is 3. When one member is down, you can restart or replace that member. Running a cluster with 2 voting member does not provide better cluster availability as compared to a single member.

[2019-11-28 04:55] andyzheung commented on #11401
I want to solve the problem how to Running etcd in only two nodes. We have only two nodes in our use case.
That I see the learner can recieve the data from the leader,  and think it can treat as the data backup in the cluster, when I need to it become voter I will promote.I don't know if what I think can be Ok?

@jingyih

[2019-11-28 05:43] benitogf commented on #10554
@offer365 thanks for the example, I had was trying to include all the nodes in `cfg.APUrls` but it worked using only the actual node ip

a small example of some utilities that I used to handle the different formats and ports required by etcd so I'm able to start a cluster sending only the peers IPs:

[code]

Would like to know how to add or remove peers from the cluster after its initialized, gues

[2019-11-28 06:21] offer365 commented on #10554
I think cfg.APUrls, cfg.LPUrls are the urls of the current host broadcast and listening members, cfg.ACUrls, cfg.LCUrls are the urls of the current host broadcast and listening clients.&nbsp; cfg.InitialCluster is a member-owned address. If you want to add or remove peer nodes from the cluster after initialization, `server, err = embed.StartEtcd (cfg)`. Maybe the `server` has the method you want,

[2019-11-28 07:02] moooofly commented on #8888
find no `--forever` flag in `etcdctl snapshot save` command

[code]

[2019-11-28 10:22] wrfly opened #11405 "upgrade from 3.3.18 to 3.4.3 panic"
I have a docker-compose with etcd 3.3.18, when I trying to replace the image version to 3.4.3, cannot auth the user I created under 3.3.18 and the etcd server paniced.

[code]

[2019-11-28 10:24] wrfly commented on #11405
[code]

[2019-11-28 10:24] wrfly commented on #11405
creating user and role with:

[code]

[2019-11-28 17:39] xiang90 commented on #11371
this is the behavior of the old etcd grpc client. i think the team made the decision to pre create tcp connections with every given endpoint. and we feel it is fine since the number of etcd server should be small.

what is your concern on creating a tcp connection on ever given etcd server endpoint?

/cc @gyuho @jpbetz

[2019-11-28 17:41] xiang90 commented on #11390
seems like a good idea. what would that logger api look like?

[2019-11-28 17:42] xiang90 commented on #11377
/cc @mitake can you take another look at this?

[2019-11-28 17:43] xiang90 commented on #11376
since you already went this far, would you mind to figure out which PR breaks this?

[2019-11-28 17:44] xiang90 commented on #11367
does it work on 3.4 branch?

[2019-11-28 17:45] xiang90 commented on #11348
/cc @mitake can you take a look? thanks.

[2019-11-28 17:47] xiang90 commented on #11311
what is the problem? can you tell us how to reproduce and also paste the error message to github?

[2019-11-28 18:51] helintongh opened #11406 "I have an error，I don't know how to solve it.please help."
src\github.com\coreos\etcd\clientv3\auth.go:135:144: cannot use auth.callOpts (type []"github.com/coreos/etcd/vendor/google.golang.org/grpc".CallOption) as type []"go.etcd.io/etcd/vendor/google.golang.org/grpc".CallOption in argument to auth.remote.UserAdd
src\github.com\coreos\etcd\clientv3\auth.go:140:86: cannot use auth.callOpts (type []"github.com/coreos/etcd/vendor/google.golang.org/grpc".Cal

[2019-11-28 19:00] helintongh commented on #11406
My golang version is 1.13.
grpc latest.
ubuntu 18.10 and windows 10.
I create a micro-service,source code is :
[code]
I found a issues https://github.com/grpc/grpc-go/issues/3078.they say it's etcd's error.

[2019-11-29 04:02] phanhuy1502 commented on #11348
update: this is not always reproducible, i'll update here if can find the setup to reproduce this all the times

[2019-11-29 04:20] petermetz opened #11407 "Unable to Change Raft Log Level From Info to Warn"
### Problem Statement
Can't get raft logs to be on `warn` level, they seem to be stuck on `info`.

If you see the first two lines of the log, it shows that etcd `recognized and used` my env. vars through which I configured the logging to have the global log level set to `warn` and also tried the deprecated pkg specific log level to explicitly set the `raft` package's log level to `warn`.

Then you

[2019-11-29 11:37] mitake commented on #11377
Sorry for my late reply, I'll take a look at it.

[2019-11-29 11:40] mitake commented on #11348
@phanhuy1502 simple token is just for testing purposes. For example, the newly joined nodes won't copy generated tokens which are valid in the existing nodes. Could you try jwt token? With jwt token this problem won't happen. You can find how to use jwt here: https://github.com/etcd-io/etcd/blob/master/Documentation/op-guide/configuration.md#auth-flags

[2019-11-29 15:24] helintongh commented on #11406
ubuntu 18.04  is not compatible with the mysql5.7.use mysql8.0 solve it

[2019-11-29 15:24] #11406 closed

[2019-11-29 23:01] ClickSimply commented on #11367
Just compiled the 3.4 branch, still getting a 404 on the maintenance endpoints.

[2019-11-30 04:34] hexfusion commented on #11367
I will take a look at it.

On Fri, Nov 29, 2019 at 6:01 PM Scott Lott <notifications@github.com> wrote:

--
—

[2019-11-30 23:41] MilosSimic commented on #11345
Thanks for posting  @woshitang1990 and @dselans
i followed both of your answers and kinda combine them to work for me. so steps:
1) download/clone github.com/coreos/go-systemd to your local go/src package
2) inside that folder there should be journal folder, go inside and run go mod init
3) goto your project and run go mod init as well
4) open go.mod and below module line add this lie: replace git

[2019-12-02 10:12] abhiTamrakar opened #11409 "ps"
Please read https://github.com/etcd-io/etcd/blob/master/Documentation/reporting_bugs.md.

[2019-12-02 10:12] #11409 closed

[2019-12-02 13:19] zhangschunfeng opened #11410 "In memory mode, etcd, etcd data dir directory mount to tmpfs. If the node is restarted and the cluster information is lost, how to rejoin the cluster"
because  etcd cluster information lost and  ETCD_INITIAL_CLUSTER_STATE="new"  ,
Etcd generates a new member ID，The following error occurred
**member 58720b382fc5f0b7 has already been bootstrapped**
if not set   ETCD_INITIAL_CLUSTER_STATE="existing"， how to rejoin to etcd cluster.

[2019-12-02 13:30] hexfusion commented on #11410
Once the data-dir is lost the member is also lost. You will need to remove the member and then add again with Cluster API.

The durability of data-dir is important for healthy members.

[2019-12-02 13:30] #11410 closed

[2019-12-02 22:05] jingyih commented on #11405
This is a bug. We should fix in master branch and backport to 3.4.

@YoyinZyc Do you want to give a try?

[2019-12-02 22:24] jingyih commented on #11401
If you want the cluster to make progress (meaning able to serve APIs that require quorum, such as linearizable read, member reconfiguration) in the case of 1 voting member is down, you need minimum 3 voting members. You can run 3 voting members on 2 nodes but this is not an ideal situation. If the node with 2 members is down, you lose 2 members all together.

[2019-12-02 22:27] Revolution1 opened #11414 "GRPC Gateway authentication fails on version v3.4.*"
I followed the doc here https://github.com/etcd-io/etcd/blob/v3.4.3/Documentation/dev-guide/api_grpc_gateway.md

Run this exact script from the doc:

[code]

And I get these result

[code]

Somehow I cannot add user using grpc gayway.

And:
- Only happens with version >= v3.4.0
- If I add user using etcdctl, the auth (gen token) api through grpc gatway works well

[2019-12-02 22:39] #11405 closed

[2019-12-02 23:09] jingyih commented on #11414
Probably a bug in https://github.com/etcd-io/etcd/blob/d1139d3a66303c75f914888418915a0ec3eadd97/auth/store.go#L391

If the request does not have `Option` field, we should not end up storing empty byte slice `hashed` as password.

[2019-12-02 23:10] jingyih commented on #11414
@YoyinZyc PTAL

[2019-12-03 01:07] siddontang commented on #11390
maybe you can define a similar one in etcd like https://github.com/birkirb/loggers/blob/master/loggers.go

I think these interfaces are easy to be intergrated with current logger system.

[2019-12-03 02:32] Fullstop000 commented on #11357
@xiang90 is it ok to add some extra fields in `Message` like below:
[code]
Not all of new fields will be used in different message types.

[2019-12-03 05:49] #9776 closed

[2019-12-03 06:06] wenxuwan opened #11416 "When no endpoint is available, too many error logs are printed"
Hi

When no endpoint is available, the proxy node will print too many error logs. This will increase the pressure on the log system and make debugging troublesome. So i add the limitation for it on pull request 11142. when you have time, PTAL.

#11142

[2019-12-03 09:02] CamelCaseNotation commented on #10084
I'm interested in this for using multi tenant etcd for kubernetes clusters. Would be nice to restrict certain users from taking up too much key space. Then again, I guess I could handle that at the kubernetes level with object quotas, hmmm

[2019-12-04 04:44] cuiyuan opened #11420 "Some doubts about etcd linearizability description"
In [linearizability](https://github.com/etcd-io/etcd/blob/master/Documentation/learning/api_guarantees.md#linearizability)

I don't think ReadIndex can ensure return the value written between t2 and t3, it can only return the value written before t2

Can I understand strict consistency is what you said above as read between t2 and t3?

If sequential consistency is the strongest, but etcd ensures l

[2019-12-04 06:09] darwin67 commented on #11376
Sure, I see that you have `docker-dns-srv` in the tests directory. Do you have instructions of how to run that?
That way, it would be easier for me to bisect.

[2019-12-04 07:57] jfbai commented on #11166
@jingyih @YoyinZyc Hi, is this trace log enabled by default? I did not observed trace log along with `took too long`.

My etcd server version is 3.4.2, which is upgraded from 3.3.10.

[2019-12-04 08:05] jfbai opened #11421 "Scheduled compaction latency increase significantly after upgrading to 3.4.2"
**ETCD version:**  3.4.2
**K8s version:** 1.14.4

I upgrade etcd server from 3.3.10 to 3.4.2 in the test k8s cluster, then I observed the compaction latency increased significantly about 15 times.

3.3.10

![image](https://user-images.githubusercontent.com/13513238/70124377-a4e85980-16af-11ea-93f7-730a01e51df8.png)

3.4.2

![image](https://user-images.githubusercontent.com/13513238/70124356-91d589

[2019-12-04 08:09] malbertone opened #11422 "How to get the list of available revisions after compacting"
Hi,

we have:
etcdctl version: 3.2.18
API version: 3.2
we  have auto compacting set to 1 and we can see each 5 minutes in messages file the compacting taking place showing:
2019-12-04T16:40:01.128949+09:00 ktc4ocsspsme1-auxiliary-0 etcd: store.index: compact 19444596
2019-12-04T16:40:01.129228+09:00 ktc4ocsspsme1-auxiliary-0 etcd: finished scheduled compaction at 19444596 (took 510.743Âµs)

We can

[2019-12-04 12:11] jfbai commented on #11421
I set `--experimental-compaction-batch-limit=10000`, then the total time decreases to 2ms.

[2019-12-04 14:20] kaustubhmallik opened #11423 "Unsupported config params for older versions in docker release scripts"
Hi,

I was just trying to set up a local etcd environment to play around, and it was failing saying `flag provided but not defined`.

etcd version: v3.3.18
system: mac OS Catalina, v 10.15.1
docker:
[code]
[docker script (release link)](https://github.com/etcd-io/etcd/releases/tag/v3.3.18)

Below is the script, which I just copied from the release link:

[code]

And, finally below is the failing o

[2019-12-04 14:23] kaustubhmallik commented on #10714
Is this still available to pick up? If so, I would love to go ahead and work on it.

[2019-12-04 14:44] vkhromov commented on #10714
@kaustubhmallik it doesn't seem to meet any significant interest from the project owners, so I stopped working on the issue.
Anyway, please feel free to move ahead if you'd like, otherwise I'm going to close the issue.

[2019-12-04 18:18] YoyinZyc commented on #11166
Could you provide more details about the request you made? Basically, tracing is enabled for range, put and compact requests. Btw, it works only when you enable `--logger=zap` which is not default currently.

[2019-12-04 21:17] jingyih commented on #11421
etcd 3.4 reduced compaction batch limit from 10k to 1k, so that the compaction is less intrusive to other workloads. As the result, it will take more batches to finish a scheduled compaction. It's not clear to me why it takes a much longer time to finish, because the wait time between batches were reduced from 100ms to 10ms.

[2019-12-04 22:09] xiang90 commented on #11421
@jingyih

I believe that the compaction can be finished in one batch before, which has to be put into 4 batches in 3.4. So there are 3 * 10 ms delays.

[2019-12-04 22:10] xiang90 commented on #11421
yes. the smaller compaction size will improve the latency.

i do not understand what does this mean.

[2019-12-04 22:44] jingyih commented on #11421
Thanks!

[2019-12-05 02:22] jfbai commented on #11421
@jingyih @xiang90 Thanks a lot.

In one of out large scale cluster (4500+ nodes), there are 160k revisions being compacted every time and it will take 2.7s to finish in 3.3.10. After upgrading to 3.4.2, I observed the compaction takes about 3s to finish.

[2019-12-05 02:22] #11421 closed

[2019-12-05 02:37] xiang90 commented on #11421
that is kind of expected. trading off larger batch size (thus higher throughput) for better p99 latency.

[2019-12-05 02:42] jfbai commented on #11421
Thanks for explanation :)

[2019-12-05 02:44] jfbai commented on #11166
@YoyinZyc Got it, thanks a lot. :)

In my case, etcd is used as k8s backend storage, range, put operations are much more concerned.

[2019-12-05 02:47] #11345 closed

[2019-12-05 07:56] senorita56 opened #11424 "connect to etcd timeout"
etcd sometimes get errors like this:

[code]
Why does a request time out？
etcd version: 3.3.11

[2019-12-05 10:43] mrtvfuencxozd opened #11425 "UserAdd issue / question"
Hi,
Just starting to use etcd, I'm facing an issue when adding user.
I end up unable to log-in.

I think I found the issue, but I'd like to check that I'm not wrong somewhere.

here is the context:
I'm running etcd v3.4.3 (docker gcr.io/etcd-development/etcd:v3.4.3)
For some reason still not clear to me, I haven't managed to get the client from v3.4 using go modules so clientv3 I'm using if from v

[2019-12-05 10:48] mrtvfuencxozd commented on #11425
By the way,
with the change proposed above, my basic tests are working now. I wanted to check that this was the way to go.
If this is, I can create a PR.

[2019-12-05 11:03] kaustubhmallik commented on #11424
@senorita56 As the logs suggested itself, have you checked if the network was indeed slow.
`Dec 04 17:03:25 66665.site etcd[3563]: timed out waiting for read index response (local node might have slow network)
`

Other reasons might involve slow disk writes or CPU hogging. I will suggest going through the [performance doc](https://github.com/etcd-io/etcd/blob/master/Documentation/op-guide/performa

[2019-12-05 11:40] jingyih commented on #11425
Thanks for the digging! You are correct. This is a bug. There is already a PR to fix this:) We will get it merged in master branch and then backport to 3.4.

https://github.com/etcd-io/etcd/pull/11418

[2019-12-05 12:25] mrtvfuencxozd commented on #11425
Right,
I missed it while searching.

Thanks.

[2019-12-05 13:43] #11383 closed

[2019-12-05 23:41] jingyih opened #11426 "Use zap as default logger"
Let's make `--logger=zap --log-outputs=stderr` as default in current master branch, as currently this branch is for developing etcd 3.5.

TODO
- [x] Set zap as default logger. Remove capnslog logger option. Remove deprecated logging flags. (#11578)
- [ ] Remove capnslog everywhere in etcd code base.

[2019-12-06 08:57] iver3on opened #11428 "how I can download k8s.gcr.io/etcd:3.3.15-0.tar"
docker load it cause net issue.

[2019-12-06 09:47] gyuho commented on #11426
Yes. Also, let's deprecate `capnslog`... We've already highlighted this coming change in CHANGELOG. Can you work on this?

[2019-12-06 12:19] lianan01 opened #11429 "Distributed lock issue, lock repeated caused by the key is disappeared"
There are 5 distributed nodes: A/B/C/D/E.
1. Firstly, node A got the lock.
2. Then the process of node A exits because of a panic.
3. B and C both got the lock.

The printed log is as follows:
[code]

Then I found that the key of node B: 'distributed_node/3f2c6831c07e09f9' was disappeared:
[code]

my code is：
[code]

Is the key was deleted because the TTL did not detect the heartbeat? What should

[2019-12-06 22:29] bs70-sketch opened #11430 "after running compaction and defrag the DB size did not reduce nor shrink"
Please read https://github.com/etcd-io/etcd/blob/master/Documentation/reporting_bugs.md.

[2019-12-08 14:46] mitake commented on #11379
@gradb71 sorry for my late update, I still cannot have a time for diagnosing it... assigning to myself for not forgetting this.

[2019-12-08 22:09] diegobernardes commented on #11390
Sorry the late reply. My idea was to provide a `io.Writer` at the configuration struct. The Etcd logger should use this writer.

This gives the flexibility to the caller to discard the logs with something like `ioutil.Discard` or create a custom writer interface to send the logs to other logger like `zerolog`, `logrus`, etc...

[2019-12-09 06:27] Hank00AAA opened #11431 "How can I compile ETCD-3.4.3 without downloading package from github? PLZ help!!"
I compiled etcd with "export GO111MODULE=off && export ETCD_SETUP_GOPATH=1", but failed due to lack of many kind of package.
Plz tell me how to compile etcd without downloading package from github beacuse my company don't allow downloading package while compiling etcd.

**What I do**
[code]

**What happen**
**etcd-3.4.0** can compile by this way. But **etcd-3.4.3** fail! It say that go can not fin

[2019-12-09 08:37] Hank00AAA commented on #11431
After puting all package source into vendor, I compiled etcd successfully.

[2019-12-09 08:37] #11431 closed

[2019-12-09 18:06] YoyinZyc commented on #11426
I can work on this.

[2019-12-09 20:30] gyuho commented on #11426
@YoyinZyc Thanks.

[2019-12-09 21:26] gyuho commented on #11390
Currently, we only support file paths via `--log-outputs` flag (also available via `LogOutputs`). And `zap` does not support `io.Writer` in the `zap.Config.OutputPaths` fields.

[2019-12-09 21:30] gyuho commented on #11380
Think all related PRs have been merged. Can we highlight this change in CHANGELOG?

[2019-12-09 21:45] jingyih commented on #11426
Thanks @YoyinZyc

So to clarify, besides changing the default logger to `zap`, we also want to remove `capnslog` entirely? @gyuho

[2019-12-09 21:52] gyuho commented on #11426
@jingyih Yes. Just remove `capnslog` and its dependencies :)

[2019-12-09 22:26] YoyinZyc commented on #11380
Added here #11432
Only added for cluster version since `publish` still keeps the old behavior.

[2019-12-09 22:28] jingyih commented on #11422
`/metrics` endpoint reports `etcd_debugging_mvcc_current_revision` and `etcd_debugging_mvcc_compact_revision`. The debugging prefix means they are newly added and are subject to change (not stable). They are available in 3.2.27+, 3.3.17+, 3.4.1+.

Technically, the HashKV API [1] returns the compact revision (and the response header includes current store revision). But itself could be a very expen

[2019-12-10 02:28] wgliang commented on #11350
Also facing the same issue.

/area bug

[2019-12-10 03:08] tedyu commented on #11350
I wonder if the channel for each watcher should be closed in watchStream#Close
[code]

[2019-12-10 07:37] magicsupery opened #11435 "http Range problem"
etcd Version: 3.4.3
Git SHA: 3cf2f69b5
Go Version: go1.12.12
Go OS/Arch: linux/amd64

I use lua， so need to use the httpproxy with etcd.

After send a range request, the etcd response use chunk to return,
but the body json data is deviced to two parts as below:

 {"header":{"cluster_id":"14841639068965178418","member_id":"10276657743932975437","revision":"253","raft_term":"19"},"kvs":[{"key":"MTAw

[2019-12-10 08:46] forusforyou opened #11436 "Python3 install etcd error"
Please read https://github.com/etcd-io/etcd/blob/master/Documentation/reporting_bugs.md.
 FileNotFoundError: [Errno 2] No such file or directory: 'c:\\users\\zzz\\appdata\\local\\temp\\pip-install-64n0wku8\\etcd\\etcd\\resources\\requ
irements.txt'

[2019-12-10 09:14] ningyougang commented on #11350
@wgliang

The problem is in client side, not in server side.

We solved this problem via below method
* Change our application's etcd client jar from `jetcd` to `IBM's etcd-java`: https://github.com/IBM/etcd-java
  After benchamark with etcd-java using below codes, it seems all etcd memory's keeps stable.
[code]
* Reduce watcher number
We also did some optimization for our application: reduce the

[2019-12-10 09:34] ningyougang commented on #11350
Maybe https://github.com/etcd-io/etcd/pull/11433 merged and release new etcd version which including this patch.
It is meaning to test below scenes
* Check whether etcd memory increase when create a lot watchers which watch same key
* Check whether etcd memory increase when create a lot watchers which watch different key

[2019-12-10 15:32] BongoEADGC6 commented on #9398
This is still a problem with no clarity in the documentation for 3.4.

[2019-12-10 16:20] tedyu commented on #11350
I think #11438 is more relevant in fixing the memory leakage.

[2019-12-10 17:50] tedyu commented on #11350
Please note the difference in test code.
In https://github.com/etcd-io/etcd/issues/11350#issuecomment-563939647 :
[code]
The above would clear victim continuously.

While in the test code https://github.com/etcd-io/etcd/issues/11350#issuecomment-554858136 , there is no cancel call.
That showed the accumulated victims, leading to memory leak.

#11438 fixes the leak.

[2019-12-10 19:29] diegobernardes commented on #11390
It's possible with [NewCore](https://godoc.org/go.uber.org/zap/zapcore#NewCore) as it accepts a [interface](https://godoc.org/go.uber.org/zap/zapcore#WriteSyncer).

Don't know about the effort, but would be a nice option for embedded uses. More information [here](https://godoc.org/go.uber.org/zap#hdr-Extending_Zap).

[2019-12-10 20:47] #11414 closed

[2019-12-10 20:48] jingyih commented on #11425
Fixed by #11418.

[2019-12-10 20:48] #11425 closed

[2019-12-11 02:07] zyq0314 opened #11440 "Execute "etcdctl_api = 3 etcdctl -- endpoints = http://10.1.2.12:2379 defrag "Wrong"
When I execute "etcdctl_api = 3 etcdctl -- endpoints = http://10.1.2.12:2379 defrag", I will report an error: "failed to defragment etcd member [http://10.1.2.12:2379] (RPC error: code = unknown desc = auth: user name is empty)“

[2019-12-11 02:10] zyq0314 opened #11441 "User lost while restarting etcd service"
我重起了自己的etcd服务后，发现”etcdctl user list“ 中的用户没了，我只添加了一个root用户
After I restart my etcd service, I found that the user in "etcdctl user list" is gone. I only added one root user

[2019-12-11 06:31] WIZARD-CXY commented on #10364
I came across the same bug here. @hexfusion let me take some time investigate and maybe fix this weird bug

[2019-12-11 07:19] #11441 closed

[2019-12-11 07:19] #11440 closed

[2019-12-11 17:32] rebootmoishe opened #11442 "Creating 4 node cluster ends up in 4 1 node clusters"
Tried following the etcd clustering guide for 3.2.17 that is distributed for Ubuntu:

https://etcd.io/docs/v3.2.17/op-guide/clustering/

and instead of getting 1 4 member etcd cluster I get that each etcd member becomes a cluster of its own:

[code]

etcd.service:
[code]

etcd version:
etcd Version: 3.2.17
Git SHA: Not provided (use ./build instead of go build)
Go Version: go1.10
Go OS/Arch: linux

[2019-12-11 17:35] rebootmoishe commented on #11442
I also tried to run etcd from the command line providing same arguments given in the options instead of the environment variables and also INITIAL_CLUSTER_STATE have been set to "new" instead of existing in both default/etcd and command line.  The result didn't change.

[2019-12-11 19:13] jingyih commented on #10364
Thanks @WIZARD-CXY. I just tried, it is reproducible.

[2019-12-11 19:17] jingyih commented on #11442
Could you try to remove the existing data directory and try again? If the data directory exists, etcd server restarts using the previous identity stored in data file.

[2019-12-11 19:45] jingyih commented on #11380
Closed via #11427

[2019-12-11 19:45] #11380 closed

[2019-12-12 07:19] shafreeck commented on #10713
backtrace for the same error.
[code]

[2019-12-12 13:47] zhangguanzhang opened #11444 "v3.3.10 panic: runtime error: slice bounds out of range"
command
[code]
output
[code]

[2019-12-12 18:58] dimanzt opened #11445 "Question about tuning parameters"
Why Setting different values for etcd members may disrupt cluster stability?
How about a case when different cluster members have different latencies?
Please read https://github.com/etcd-io/etcd/blob/master/Documentation/reporting_bugs.md.

[2019-12-12 20:49] rebootmoishe commented on #11442
That worked.  Thank you!

[2019-12-12 20:49] #11442 closed

[2019-12-13 01:49] zhangguanzhang commented on #11428
`docker pull gcr.azk8s.cn/google_containers/etcd:3.3.15-0.tar`

[2019-12-13 07:55] Hokwang opened #11446 "question about listen-metric-urls option in kube-etcd"
Hello.

I want to see etcd metric in prometheus.

Now, etcd's option is
[code]

For easiest using, I want to add `--listen-metric-urls=http://<masterip>:2379` option,
but is this right syntax?

I can't find example of this.

Thanks,

[2019-12-13 11:03] Cjen1 commented on #11311
Hi this issue is on the mininet end of thing. Sorry for the bother.

[2019-12-13 11:03] #11311 closed

[2019-12-13 12:21] willzhang commented on #2379
i have --endpoint ,what i should do?

[2019-12-13 14:56] jefferai commented on #11154
Can you either please remove the go.mod from the project or fix it?

If you are exposing a go module, you should be following its rules. That means that your go.mod needs to expose the actual major version as the module -- `go.etcd.io/etcd/v3`.

The behavior right now is that go modules, despite you having a go.mod, decides that your repo is incompatible and gets the latest tag made, regardless of

[2019-12-13 19:27] jingyih commented on #2379
v2 commands for etcdctl (and etcd2) is out of the support window. Please use etcd3 and `ETCDCTL_API=3 etcdctl`.

[2019-12-13 19:33] jingyih commented on #11446
Syntax looks right to me.

If you just want to query `/metrics` endpoint on `--listen-client-urls`, you do not need to configure `--listen-metric-urls`. The flag is for additional endpoints for metrics and health.

[2019-12-14 00:59] xiang90 commented on #10713
what is the version of etcd?

[2019-12-15 05:10] Hokwang commented on #11446
but this is for http I guess.

[2019-12-15 16:35] nolouch commented on #10713
Hi @xiang90 , the commit is [`77d4b7`](https://github.com/etcd-io/etcd/commit/77d4b742cdbf)`, recently we meet it twice.

[2019-12-16 05:59] Fullstop000 opened #11454 "Maybe incorrectly forwarding MsgReadIndex"
After receiving a `MsgReadIndex` msg, a follower redirects it to the leader with `m.from = r.id` which overwrites the origin `from`. This violates the semantics of "forwarding". Is this safe in the practice?

Relate to https://github.com/etcd-io/etcd/pull/11466

[2019-12-16 08:07] Hokwang commented on #11446
I update k8s cluster version to 1.16 and it has already `--listen-client-urls` option, nice!

but it has only http://127.0.0.1:2381  so I add <master IP>:2381.

[2019-12-16 08:07] #11446 closed

[2019-12-16 08:18] WIZARD-CXY commented on #10364
@jingyih @hexfusion @xxx7xxxx I took some time to debug this and find that it is logger verbose settings that make this weird behavior.It makes different dicisions when logging

[code]
in http2_server.go

The logging realy do its work when below func `V` returns true.
[code]

The input value `l` is  defined as `const logLevel = 2`

when using zap
[code]

The capnslog uses verbose level 0
[code]

[

[2019-12-16 12:30] WIZARD-CXY commented on #10364
I checked the code and it's not easy to ignore this error msg unless we modify the zap code.

[2019-12-16 21:13] jingyih commented on #10364
By default the log level is INFO. So it is consistent that the zap logger prints the grpc warning? Maybe we should trace down what caused the warning in the first place and see if we can fix that? It looks like the client reset the stream while server still tries to read from it.

[2019-12-16 21:54] aphyr opened #11456 "Locks return without checking whether the lease is still held"
In Jepsen testing, we found that updating shared state protected by a lock could result in lost updates or other anomalies. This was due in part to the fact that distributed locks are intrinsically unsafe, but was exacerbated by an issue where a server failed to check whether a lease was valid after blocking for a lock to be released, and simply told the client they held the lock instead.

As @xia

[2019-12-16 21:54] #11456 closed

[2019-12-16 22:36] aphyr opened #11457 "Document that locks aren't really locks"
As a part of our Jepsen testing, we've demonstrated that etcd's locks aren't actually locks: like all "distributed locks" they cannot guarantee mutual exclusion when processes are allowed to run slow or fast, or crash, or messages are delayed, or their clocks are unstable, etc. For example, this workload uses etcd's locks to protect read-modify-write updates to perfect
shared state. Here, the shar

[2019-12-17 01:55] WIZARD-CXY commented on #10364
From the related issue, I think this msg is spam and can be ignored https://github.com/grpc/grpc-go/issues/1062#issuecomment-311739449

[2019-12-17 02:11] WIZARD-CXY commented on #10364
https://github.com/grpc/grpc-go/pull/1340/files#diff-c00e2e14c3cf91717f079174c1f48bbeR39

[2019-12-17 02:17] WIZARD-CXY commented on #10364
Can the zap logger set the verbose level, I go through the code and doc, but didn't find it...

[2019-12-17 02:22] jingyih commented on #10364
The flag:
https://github.com/etcd-io/etcd/blob/master/Documentation/op-guide/configuration.md#--log-level

The code:
https://github.com/etcd-io/etcd/blob/fb7703ab430ca2f23cd2f70bad8d1d38f9b165fb/embed/config_logging.go#L177

[2019-12-17 02:33] WIZARD-CXY commented on #10364
ah, but this doesn't affect the verbose level

[2019-12-17 02:41] maoling commented on #11457
@aphyr
fpj also had a great post of this related topic of zookeeper about [Note on fencing and distributed locks](https://fpj.me/2016/02/10/note-on-fencing-and-distributed-locks/)

[2019-12-17 03:07] jingyih commented on #10364
hmmm... Looks like it is by design? Maybe because we want to keep the old behavior?
https://github.com/etcd-io/etcd/blob/fb7703ab430ca2f23cd2f70bad8d1d38f9b165fb/pkg/logutil/zap_grpc.go#L23-L26

cc @gyuho

[2019-12-17 05:34] anson627 opened #11459 "benchmark: add file output option to benchmark tool"
Currently the benchmark tool outputs performance summary and details to console in human readable format, but the results cannot be parsed programmatically.

The proposal here is to add an option to output to a file specified by user input, potentially in JSON format.

This output file option opens the opportunity for automated analysis or data visualization.

This will also be prerequisite for #6

[2019-12-17 08:14] tekumara opened #11460 "etcd high CPU usage on docker desktop for mac"
etcd is using 514% cpu in a VM containing 6 CPUs total, 2GiB RAM, 1GiB swap
Even after killing the process and restarting it eats the  CPU

[code]

MBP 2019 16GB RAM
macOS Version: 10.14.6 (18G1012)
Docker for Mac: version... 2.1.0.5 (40693) stable
Kubernetes: v1.14.8

Logs
[code]

Stack trace see https://gist.github.com/tekumara/952480200d5ea5e78f9f217d04b96e34

[2019-12-17 08:46] purpleidea commented on #11390
I just moved https://github.com/purpleidea/mgmt/ to etcd 3.4.x (it embeds etcd via embed) so I had to move away from capnslog to zap, but as mentioned, there's no way to pass in my own logging method.

Ideally I'd pass in something like `func(format string, v ...interface{}) {` but of course any _io.*_ sort of thing will do too.

In the meantime, I had to disable all the logging because otherwise

[2019-12-18 02:01] knoxknot opened #11464 "Cannot Identify the Restore Command in v3.3.15-0"
Please I can't seem to identify the snapshot restore command in the above named version. It also appears there is no more the snapshot command. How can I restore the etcd backup please.

[2019-12-18 02:26] zhlhahaha opened #11465 "About official multi-platform support"
Hi, we want to get official support for ARM64 platform.
I have checked the document
https://github.com/etcd-io/etcd/blob/a621d807f061e1dd635033a8d6bc261461429e27/Documentation/op-guide/supported-platform.md

In order to achieve them, following stuffs need to be done:
- [ ] Verify integration test on ARM64
- [ ] Verify unit test on ARM64
- [ ] Verify functional test on ARM64
- [ ] Enable travis CI

[2019-12-18 02:52] jingyih commented on #11464
Did you try `ETCDCTL_API=3 etcdctl snapshot restore`?

[2019-12-18 03:15] knoxknot commented on #11464
@jingyih yes I did. It practical appeared the snapshot command it gone with this version. I rather used `etcdctl backup --data-dir /var/lib/etcd/ --backup-dir /tmp/clusterstate2019-12-17` to backup my cluster but couldn't find a way to restore.

[2019-12-18 06:30] shafreeck commented on #10713
@xiang90 In which case will this happen? It is really a terrible problem when the etcd is used in critical services.

[2019-12-18 10:31] shafreeck commented on #10713
I am wondering if this PR fixed this problem: #10772? @xiang90 @jingyih Do you guys have any ideas about this?

[2019-12-18 14:04] DrissiReda opened #11467 "fresh etcd server gives timeout (Error: context deadline exceeded)"
I currently have trouble making etcd work locally. I tried following [this](https://etcd.io/docs/v3.4.0/dl_build/) tutorial. Everything went normally, until I had to set a key.

the command `/path/to/bin/etcdctl put foo bar` returns :

[code]

<details>
<summary>
I tried checking the cluster health with these commands:
</summary>

[code]

[code]

</details>

<details>
<summary> etcd logs </summary

[2019-12-18 18:36] jingyih commented on #11464
`etcdctl backup` is a v2 command. Which etcd version are you using?

[2019-12-18 18:41] jingyih commented on #10713
Commits reverted in #10772 was never released. They were reverted before 3.4 release.

[2019-12-18 23:50] knoxknot commented on #11464
@jingyih many thanks for the help. I sorted that out.

[2019-12-19 00:38] jingyih commented on #11464
Glad to hear that:)

[2019-12-19 00:38] #11464 closed

[2019-12-19 03:30] shafreeck commented on #10713
@jingyih We used the version: etcd master + commit:77d4b742cdbf, so the bug is included.

[2019-12-19 03:38] xianxiaozhuge opened #11468 "mips64 etcd binary problem"
Hello, I want to submit etcd binary package based on MIPS64 architecture. What is the process?

[2019-12-19 23:54] ae6rt opened #11469 "Are the tc prio qdisc flowid's correct in the tuning guide?"
In the [tuning guide](https://github.com/etcd-io/etcd/blob/master/Documentation/tuning.md#network) Network Section the `flowid` value `1:1` is stated to be the same for peer traffic (port 2380) as it is for client traffic (port 2379)

[code]

If the goal of the `prio` qdisc configuration is to give priority to peer traffic on port 2380, why would the client traffic on port 2379 not be classified t

[2019-12-20 02:15] ItsFunny opened #11470 "cannot find package "go.etcd.io/etcd/auth/authpb" in any of:"
# Where is it

- the vendor dir shows there is no `go.etcd.io/etcd/` but `go.etcd.io.bblot` and I tried this `go get go.etcd.io/etcd`  still fails

- I need help

[2019-12-20 02:18] liupeng0518 commented on #11468
Just build it.

[2019-12-20 02:26] xianxiaozhuge commented on #11468
I have compiled on the MIPS64 machine locally. What I want to ask is how to publish the binary package of MIPS64 to the release version of the community, so that I can download it directly from the release later.

[2019-12-20 02:44] ItsFunny commented on #11470
- **my bad,its a big mistake **

[2019-12-20 02:44] #11470 closed

[2019-12-20 04:07] #11326 closed

[2019-12-20 04:14] xiang90 commented on #10713
@shafreeck possibly. so please switch a released version of etcd.

[2019-12-20 08:25] shafreeck commented on #10713
@xiang90 Thanks, I am going to reproduce this bug first.

[2019-12-21 09:50] zjmnssy opened #11472 "go mod error, why etcd go mod is so hard to use"
- go version
![image](https://user-images.githubusercontent.com/21244667/71306311-958c3e80-2419-11ea-8d78-290fcf6a2a98.png)
and go mod is on
- my problem
i use etcd in my code like this:
![image](https://user-images.githubusercontent.com/21244667/71306332-c8cecd80-2419-11ea-9532-e7e103ecd014.png)
then the go mod auto add in go.mod file like this:
![image](https://user-images.githubusercontent.com/

[2019-12-22 04:00] kant111 opened #11473 "Support for SQL like interface to query Json?"
Support for SQL like interface to query Json? The KV interface is very limiting especially when applications need to store and retrieve configuration on various fields or query configuration based on certain criteria?

[2019-12-23 08:18] david9991 commented on #11220
Same issue after the master node lost power.

[2019-12-23 09:29] nolan4954 commented on #9988
Has this bug been solved?
I had the same problem，at v3.4.0

[2019-12-23 10:13] hantmac opened #11475 "/go/pkg/mod/github.com/coreos/etcd@v3.3.10+incompatible/client/keys.generated.go:63:14: z.HasExtensions undefined (type codec.genHelperEncoder has no field or method HasExtensions)"
When I use `viper` to config remote config with consul, and I use go install then I got the errors:

[code]
- go version: 1.13
-  os: linux
- package manage: go module.

Thank!

[2019-12-23 18:22] gogrisohil commented on #11345
I am still getting this error with the latest release version 3.3.18.
[code]

[2019-12-23 21:38] obsider commented on #11154
Here is a temporary workaround (change the v3.4.3 to the tag/release you want)
[code]
Take note of the v0.0.0-... (v0.0.0-20191023171146-3cf2f69b5738 for tag v3.4.3 for example) and change your go.mod etcd import like this
[code]
It should now work. thanks to https://stackoverflow.com/a/59440771 for the tip

[2019-12-24 02:34] hantmac commented on #11475
I update etcd version to 3.3.13 solved this problem.

[2019-12-24 02:34] #11475 closed

[2019-12-24 02:41] zjmnssy commented on #11472
@obsider thx, i use this:
require go.etcd.io/etcd v0.0.0-20191023171146-3cf2f69b5738
it not effect, will be modify to 3.3.18 by go mod auto,but i use like this:
replace go.etcd.io/etcd => go.etcd.io/etcd v0.0.0-20191023171146-3cf2f69b5738
it is ok, but i think this is not in accordance with the specifications. Is there a schedule for repairing this problem?

[2019-12-24 05:56] obsider commented on #11472
Hi @zjmnssy ,

The etcd team is aware of it. I just created this tool to help until they find a good solution. I'll add the replace into the README, thanks !

[2019-12-24 08:04] jfbai commented on #10246
Is there any update? we have same consideration.

[2019-12-25 06:26] duchuanLX opened #11481 "build eror"
Please read https://github.com/etcd-io/etcd/blob/master/Documentation/reporting_bugs.md.

go: golang.org/x/crypto@v0.0.0-20191002192127-34f69633bfdc: unrecognized import path "golang.org/x/crypto" (https fetch: Get https://golang.org/x/crypto?go-get=1: dial tcp 216.239.37.1:443: i/o timeout)
go: golang.org/x/crypto@v0.0.0-20180904163835-0709b304e793: unrecognized import path "golang.org/x/crypto"

[2019-12-25 06:37] shaodan commented on #11345
I fixed it  by add a line to my go.mod:

`replace github.com/coreos/go-systemd => github.com/coreos/go-systemd/v22 v22.0.0`

refer to https://github.com/coreos/go-systemd/issues/321

[2019-12-25 11:16] shafreeck commented on #10713
Problem reproduced when issuing `PUT/DELETE/RANGE` requests concurrently, `DELETE` maybe not necessary.

[code]

[2019-12-25 13:36] shafreeck commented on #10713
@xiang90 @jingyih
Although #10772 fixed the problem, it didn't describe the bug correctly. There are two problems in the `Clone` version.

1. `Clone` is not thread-safe, it is `Lock` not `RLock` that should be used.
2. `keyIndex` is not thread-safe, race condition occurs even if the `Clone` is locked.

[2019-12-26 06:32] jetndra commented on #9035
Can anyone please suggest me some negative scenarios that we can test in  etcd cluster  ?

[2019-12-26 07:58] hicqu opened #11483 "leader needs responses an invalid `ReadIndexResp` when it hasn't committed to current term"
In the current implementation about handling `ReadIndex`:
[code]
Leader drops read index request silently if it hasn't been ready. However this leaves associated callbacks on followers un-cleanup. So followers need some extra mechanisms to cleanup them out from raft.

So here I think the leader can response an invalid `ReadIndexResp` so that followers can cleanup callbacks quickly and correctly. A

[2019-12-26 10:02] jetndra opened #11484 "Cant able to see the etcd lease creation time"
Please read https://github.com/etcd-io/etcd/blob/master/Documentation/reporting_bugs.md.
Cant able to find which leases is created on which time can anybody help me to resolve it

[2019-12-27 01:03] jimwek commented on #10902
Frequent elections, I have the same problem and am looking for a solution.

[2019-12-27 04:01] huilh opened #11485 "High cpu usage on 1 node"
Hi, we have an etcd server with 3 nodes, on Dec 23, we found that the cpu usage of 1 node m-0 is pretty high, about 80%, but the other two nodes m-1 and m-2 are about 1%.
And the one with high CPU m-0 is not master.
After restart the node, cpu dropped.

Checking logs, no special issue found on m-0.
When checking cpu usage with `top` command, we can only see the cpu was occupied by etcd process, no