[2016-12-14 21:39] heyitsanthony commented on #6922
I think this can be reproduced by closing the lease interface and trying to open a new keepalive channel.

[2016-12-14 21:43] dennwc commented on #6922
@heyitsanthony Correct. But we also have a case for two-node cluster that will kill `recvKeepAliveLoop` while keeping client alive. In both cases I think client should be fixed to close channel always, or return an error, as in my quick-fix.

[2016-12-14 21:46] heyitsanthony commented on #6922
Wouldn't it be the same path? If the lease interface is closed iff donec is closed. If the keepalive loop gets a halting error, donec is closed so the interface is effectively closed as well.

[2016-12-14 21:47] dennwc commented on #6922
@heyitsanthony Sure, it's the same code path for deadlock. I'm just trying to say that there is a second bug with that loop.

[2016-12-14 21:54] heyitsanthony commented on #6922
@dennwc huh? Isn't the client bug that it's creating a keepalive channel after the loop is shutdown? If so, what is the difference between receiving a halting error and closing the interface?

[2016-12-14 22:06] dennwc commented on #6922
@heyitsanthony It's correct. But we also expect this loop to retry in case of non-fatal errors. Let me describe the case we hit today.

We could reproduce it with a cluster of 2 nodes. Client connects to first one, creates a new session each ~1min, closes it and keep doing it in a loop. If node 2 is shut down, and restarted after some time, client will observe that keep alive loop exited with `con

[2016-12-14 22:13] dennwc commented on #6922
something like this, I guess:
[code]

[2016-12-14 23:45] heyitsanthony commented on #6922
OK, interesting. You're right that a connection closing error shouldn't be treated as a halting error when the client's grpc connection still live.

[2016-12-14 23:48] dennwc commented on #6922
@heyitsanthony Here is the test that fails for me (on a9f72ee0d41247938cac81105482bfd810623c5c). It's a bit racy, so it might pass few times.

[code]

[2016-12-14 23:51] gyuho opened #7009 "clientv3: 'there is no address available' in second call, after Sync"
[code]

The second call is blocking forever.

At least we should return an error?

[2016-12-15 00:00] heyitsanthony commented on #7009
Is this limited to `naming`? It's not being used by the client grpc connection and Update is just a marshal+put; is Sync/Put/Put broken too?

[2016-12-15 00:06] #6987 closed

[2016-12-15 00:10] gyuho commented on #7009
@heyitsanthony `Put` also breaks

[code]

Could be something wrong in `clientv3.Client.Sync` implementation.

[2016-12-15 00:15] heyitsanthony commented on #6922
@dennwc does #7010 fix that test or only the close/halting error bug?

[2016-12-15 00:19] dennwc commented on #6922
It only returns an explicit error if keep alive loop exits, so there will be no resource leak at least.

[2016-12-15 00:22] dennwc commented on #6922
An error that makes loop fail in the test is `rpc error: code = 1 desc = context canceled (*grpc.rpcError)`

[2016-12-15 01:00] gyuho commented on #7009
I should have made it clear.

This happens if the endpoint string does not exactly match with member list string

[code]

Will use something like `http://10.7.3.90:2379` as a default host, so `Sync` will use this as its new client endpoints. And client cannot connect to this host and grpc will return `grpc: the connection is drained`, so no available endpoints.

But this will work, because the cli

[2016-12-15 01:02] heyitsanthony commented on #6922
OK, I can repro with that test. I'll see if I can cook up a fix. Thanks!

[2016-12-15 02:02] siddontang opened #7011 "restart etcd panic with unexpected smaller revision in mvcc"
I use docker-compose to start pd cluster (mount pd data to local directory), and when I recreate the cluster with `docker-compose up -d --force-recreate`, I meet following panic:

[code]

The embed etcd version is e53b99588a05d1f4ef172c178d4ed8e8106b8be4

[2016-12-15 02:27] xiang90 commented on #7011
Do you still have the data dir around. Mind sharing that broken data dir?

[2016-12-15 02:28] xiang90 commented on #7011
If you can reproduce the problem, can you try to update the etcd version to current master and see if you can still reproduce?

[2016-12-15 03:14] siddontang commented on #7011
@xiang90

[pd.tar.gz](https://github.com/coreos/etcd/files/653682/pd.tar.gz)

[2016-12-15 03:14] siddontang commented on #7011
We will update the etcd and try to reproduce it.

[2016-12-15 03:15] xiang90 commented on #7011
Thanks

[2016-12-15 04:26] ligc commented on #6985
@philips, thanks for response. curl http://x.x.x.x:2379 got 404 page not found error.

c910f04x35k10:~ # curl http://10.4.35.10:2379
404 page not found
c910f04x35k10:~ # curl http://10.4.35.11:2379
404 page not found
c910f04x35k10:~ # curl http://10.4.35.12:2379
404 page not found
c910f04x35k10:~ #

BTW, I setup Kubernetes using this etcd cluster, seems Kubernetes is working correctly...

[2016-12-15 10:25] ekle opened #7012 ""invalid auth token: gapUm...""
hi,
i'm using etcd 3.0.15 behind a load-balancer.

when a etcd-node goes down, the clients get moved to a different node. after that, all requests from the moved-clients fail and the log of etcd is spammed with "invalid auth token: gapUm...". the only solution i found so far, is to restart the client.

this happens for example when i do a rolling update of the etcd-servers.

the client is using c3

[2016-12-15 13:57] mitake commented on #7012
Hi @ekle , thanks a lot for your report. I found a problem in the client side logic so will fix it tomorrow or next week.

[2016-12-15 16:04] #6899 closed

[2016-12-15 17:40] heyitsanthony commented on #7009
@gyuho sync should always use the advertised client URL. This is happening because the auto-detected IP is being used for the advertise client URL even though the client listen URL is localhost; the cluster is misconfigured.

[2016-12-15 18:03] heyitsanthony commented on #6985
I tried fetching the v2 health endpoint on a fresh cluster that I know works:
[code]

Looks like cluster-health is broken and there's no e2e test to catch it.

[2016-12-15 18:07] xiang90 commented on #6985
@heyitsanthony hm... it probably breaks on master but not the version he used. I remember v2 cluster-health actually depends on the periodic `Sync` request.

[2016-12-15 18:09] heyitsanthony commented on #6985
@xiang90 `etcd Version: 3.1.0-rc.1+git` looks like master

[2016-12-15 18:13] xiang90 commented on #6985
@heyitsanthony Oh. Right. Misread. Sorry.

[2016-12-15 18:34] sholsapp commented on #2080
Did this ever end up getting documented?

[2016-12-15 18:42] gyuho commented on #7009
@heyitsanthony Yeah think this is just my misconfiguration. Thanks!

[2016-12-15 18:44] heyitsanthony commented on #7009
Does this mean a cluster started with only `./etcd` won't work with clientv3 when AutoSync is turned on? If so, should probably reopen.

[2016-12-15 18:50] gyuho commented on #7009
Yeah if the cluster uses auto detected IP as advertise client URL, it fails after auto sync.

[2016-12-15 21:18] gyuho commented on #7009
@heyitsanthony How do we want to handle this? Problem was that there was no error or warnings when the client failed to connect to default host. The error was returned from grpc right here https://github.com/coreos/etcd/blob/master/clientv3/balancer.go#L153.

[2016-12-15 21:28] heyitsanthony commented on #7009
@gyuho the grpc code is fine; etcd's defaults are broken. Probably the fix is to advertise the auto-detected IP for the client only if the client listen address is something besides localhost and the client advertise address is set to the default? /cc @xiang90

[2016-12-15 22:02] xiang90 commented on #7009
I think if auto detect is enabled, it should work. The problem is that the default setting will both listen and advertise on localhost. The default only works for local development. So I guess it is fine?

/cc @heyitsanthony What is your expectation? Listen on 0.0.0.0 or default route and advertise default route by default?

[2016-12-15 22:18] heyitsanthony commented on #7009
@xiang90 if etcd is told to listen on 0.0.0.0 but gives a default client advertise url, have it advertise the default route ip?

[2016-12-15 22:27] xiang90 commented on #7009
@heyitsanthony I think it is, at least on linux.

[2016-12-15 22:31] heyitsanthony commented on #7009
@xiang90 it's misadvertising with the default route IP when it defaults to listening on localhost for a plain `./etcd` call. The brokenness is it should advertise localhost instead:
[code]

[2016-12-15 22:32] xiang90 commented on #7009
@heyitsanthony Agree.

[2016-12-16 00:34] xiang90 commented on #6998
@WhtAlpha @heyitsanthony recently add the answer to your issue to faq doc here: https://github.com/coreos/etcd/blob/master/Documentation/faq.md#what-does-the-etcd-warning-request-ignored-cluster-id-mismatch-mean

so i am closing this question.

[2016-12-16 00:34] #6998 closed

[2016-12-16 00:36] necro351 opened #7019 "Errors when closing embedded etcd"
Hello,

I am trying to close an embedded etcd server and am getting error messages when doing so. I am using the github.com/coreos/etcd/embed package to run the embedded etcd server. I am using code that is pretty much the same as the example. First I start the server, then I close it, and while closing I see the error messages. Here is how I start the server:

[code]

...and here is how I close i

[2016-12-16 01:07] gyuho commented on #7019
Try

[code]
?

[2016-12-16 01:21] heyitsanthony commented on #7019
@necro351 those errors are from shutting down the http handlers (e.g., https://github.com/coreos/etcd/blob/master/embed/serve.go#L87). They're to be expected given the way it's implemented now, but it could be changed to drop those errors if it's from an intentional close.

[2016-12-16 02:11] xiang90 commented on #7011
@siddontang I can confirm this is a bug. Probably from upstream boltdb. We will investigate more.

[2016-12-16 04:00] necro351 commented on #7019
@gyuho I guess you mean that I can ignore any errors after calling Close(), but If there are any legitimate errors when Closing (i.e., an error other than http complaining about reset connections), they would be dropped this way right?

@heyitsanthony this is an intentional close: I am gracefully shutting down the surrounding application (which is also a server), and part of that is (gracefully) s

[2016-12-16 16:31] crandles opened #7024 "go-grpc-prometheus histograms are not enabled"
Prior to 3.1.0-rc.1, ETCD's prometheus metrics included histograms.

3.1.0-rc.1 uses go-grpc-prometheus, and requires users to [enable histograms manually](https://github.com/grpc-ecosystem/go-grpc-prometheus#histograms). Should ETCD enable that by default or provide a flag/env for users to enable that via the CLI?

[2016-12-16 17:36] gyuho opened #7025 "functional-tester: compact request failed from 'ErrTooManyRequests'"
[code]

[2016-12-16 17:51] gyuho commented on #7009
How should we detect it? This only breaks in localhost, I assume.

[2016-12-16 17:53] gyuho commented on #7019
@necro351 I just noticed that your code waits on `Err`. Never mind.

[2016-12-16 18:00] heyitsanthony commented on #7009
only override the default advertised client URL if the client listen URL is 0.0.0.0

[2016-12-16 18:11] xiang90 commented on #7011
Opened an issue on upstream boltdb: https://github.com/boltdb/bolt/issues/632

[2016-12-16 18:48] fanminshi opened #7026 "functional-tester: Integrate etcd-runner into etcd-tester"
We need to make etcd-runner a long running test including fault injection like what we do for etcd-tester. The long running test is a great way to catch obscure bugs that might happening only after running for a very long time. We want to make sure that the client code is robust even after being running for a long time and is working as expected under various failures.

[2016-12-16 19:16] gyuho commented on #7025
@fanminshi @xiang90 @heyitsanthony even if we cancel stressers before compact, if the server applier falls behind, we get this error. Maybe make this hard-coded [`maxGapBetweenApplyAndCommitIndex`](https://github.com/coreos/etcd/blob/master/etcdserver/v3_server.go#L48) configurable?

I am getting `ErrTooManyRequests` errors in benchmark as well.

[2016-12-16 20:58] xiang90 commented on #7024
@crandles Probably we should disable by default as https://github.com/grpc-ecosystem/go-grpc-prometheus#histograms suggests. I am fine with a flag to enable it.

@heyitsanthony opinions?

[2016-12-16 21:02] heyitsanthony commented on #7024
A flag sounds OK.

[2016-12-16 21:39] fanminshi commented on #7025
I suspect this kinda of error will show up under heavy usage. Future user might encounter this if they are a heavy user. Not sure what's the best solution. we can increase the maxGap, but we can still see the ErrTooManyRequests if the limit is met with even heavy workload. I wonder should we retry on this error in hoping the server catches up in a short time but fail if server keeps lagging behind

[2016-12-16 23:57] xiang90 commented on #7024
@crandles Do you want to send a pull request to add the flag?

[2016-12-17 00:12] crandles commented on #7024
@xiang90 yes, I can do that.

[2016-12-17 02:53] #7009 closed

[2016-12-18 10:31] m1093782566 opened #7031 "raft: MemoryStorage.SetHardState() should be thread safe?"
[code]

See https://github.com/coreos/etcd/blob/master/raft/storage.go#L100

It seems that few application will use `MemoryStorage` directly, but should the method SetHardState() be thread safe?

[2016-12-18 23:11] stresler opened #7032 "cluster-health reports healthy with contradictory output"
I don't see how this can be a logical output:

[code]

[2016-12-18 23:23] xiang90 commented on #7032
If one of the node reports healthy, then your cluster is healthy.

It is possible that the your machine cannot reach some of the nodes. It does not mean that these node are unhealthy themselves. This is actually what happened in your case. There are two unreachable nodes from etcdctl. You should probably fix that.

[2016-12-18 23:32] stresler commented on #7032
No, I'm just now setting it up, and these aren't unexpected results at the moment.

But, really? A cluster is healthy if only one node is healthy? That seems like either the cluster-health report does something besides report cluster health, or it needs a new name.

If 4/5 nodes aren't healthy how can it honestly say the 'cluster' is healthy?

[2016-12-18 23:34] stresler commented on #7032
To be clearer, I would expect cluster-health to do the first part - which is seems to do, then give an assessment - e.g. "1 of 5 nodes is healthy, cluster is sub-optimal" or some such.

[2016-12-18 23:40] xiang90 commented on #7032
The cluster itself might be totally fine. But a user runs etcdctl on a machine that can only access one of the nodes due to firewall or other client sides issues. What should we report?

Right now, if one node reports healthy, which means the cluster can make progress from its POV, the cluster is healthy. This is current if we define the cluster is health if the cluster can accept and process requ

[2016-12-18 23:41] heyitsanthony commented on #7032
@xiang90 are you sure? It looks like `member c5decd33b4e6bcf9 is unhealthy: got unhealthy result from https://etcd0.DOMAIN.com:2379` only happens if `etcdctl` gets a response from the member.

[2016-12-18 23:45] stresler commented on #7032
I mean... I don't really want to argue the point.

If you're reporting 'cluster healthy' when you can't actually know that - due to firewalls or whatever - then you aren't reporting accurate output and that is a bug.

You could report 'cluster state unknowable.' and be accurate, I suppose. But to make an assertion that the cluster is healthy directly following output that potentially contradicts t

[2016-12-18 23:47] xiang90 commented on #7032
@heyitsanthony @stresler

The cluster healthy thing is HARD to get 100% right, and lacks of thought. That is why we removed it in etcdctl v3.

In v2 etcdctl, we define the cluster is healthy if the cluster can make progress during the checking. If you want to change the definition, what should we want to change to? The cluster is health only if all can make a progress? This seems wrong.

[2016-12-18 23:56] xiang90 commented on #7032
@stresler

I do not think you understand what I said.

We currently define that if the cluster made any progress during the health checking, the cluster is healthy.

Then if etcdctl observes the cluster made progress from any etcd member it checks, then the cluster is healthy based on the definition.

If you suggest us to change the definition, can you tell me what is your exact expectation? And h

[2016-12-19 00:03] stresler commented on #7032
I'm new to this project, and mostly just as a user. Can you tell me what you mean by 'make progress'? This isn't a term I'm familiar with.

As a new user, I would define 'healthy' as 'in sync or on track to be in sync with the leader and accessible as advertised'... presumably if not, that would require some sort of corrective action to make the node healthy.

I'm sure there is nuance, or potentia

[2016-12-19 00:05] stresler commented on #7032
In this case the message for 2/5 is clear - node unreachable.  That means, as the cluster understands it needs the remaining 3/5 to be healthy to have consensus... it can't verify that, so I would think the result would be 'cluster not healthy' or 'health unverifiable'.

[2016-12-19 00:05] xiang90 commented on #7032
@stresler

Made progress means the cluster accepted a user request, got it committed through the majority of the cluster, and replied a response to a client. Basically the cluster finished one full request/response.

[2016-12-19 00:11] xiang90 commented on #7032
That is the client got confused, not the cluster itself. The client cannot connect does not mean the cluster cannot connect to these member internally.

I do not think it is correct to say "cluster is unhealthy" if a client could not connect to some nodes when the cluster can still make progress.

I think the definition you expect is

Only report cluster is healthy if etcdctl can verify cluster he

[2016-12-19 00:26] xiang90 commented on #7031
SetHardState usually happens when raft is not started. But it does not hurt to protect it to make code more readable and robust. Can you send a pull request to get it fixed?

[2016-12-19 00:42] heyitsanthony commented on #7032
@xiang90 disregarding however it's defined in v2 and only judging by the output, does it look "healthy"? Two members have unreachable client addresses, two members can't make progress, and only one thinks it's fine. For a point of comparison, suppose you have a RAID6 and two drives are toast, do you want your RAID to happily chirp "healthy"?

It could stand to be stricter, at least by taking unhea

[2016-12-19 00:59] xiang90 commented on #7032
I do not say it is the best way to define "healthy". It is the expected output based on the current definition.

I agree the whole thing (cluster healthy) lacks clear definition.

Neither

- 1 member healthy -> cluster healthy

nor

- only member healthy from the client POV -> cluster healthy

make sense to me.

I feel that simply giving the output from each member checking to users is good enough

[2016-12-19 01:11] heyitsanthony commented on #7032
@xiang90 OK, can this be reopened? The current definition (or lack thereof, the definition appears to be the way etcdctl behaves, the docs seem to only say bad client urls won't affect the health) is clearly inadequate. Making it stricter so it respects unhealthy responses won't break anything that's not already broken, as far as I can tell.

[2016-12-19 01:19] xiang90 commented on #7032
@heyitsanthony

We can:

1. ignore the unreachable.
2. if all members reports health -> healthy
3. no members report healthy -> unhealthy
4. some reports healthy, others not -> cluster still works, but need to be fixed.

[2016-12-19 03:37] jl2005 opened #7033 "NOT set e.Node.Dir attribute, when dir node expired"
Consider the following:

[code]

When a directory node expired, the `prevNode` has a `"dir":true` attribute in the received expire event, but the `node` has no `"dir":true` attribute

[2016-12-19 15:39] Chumper opened #7036 "WatchCreateRequest should take a temporary requestId"
Hey guys, I am currently implementing a scala library for etcd3 in which I use the grpc protocol and using the reference [here](https://github.com/coreos/etcd/blob/master/etcdserver/etcdserverpb/rpc.proto).

I am currently implementing the Watch contract and have a few questions and suggestions.

Am I correct in assuming that all watches and notifications I want to handle can be done through a sin

[2016-12-19 17:20] xiang90 commented on #7036
Sort of. But in Go client we give users the ability to choose. They can create multiple watchers. Each watcher establishes a stream with the etcd server. They can watch on multiple keys using one watcher.

If it is easier for you to handle the creation, then yes.

This is not 100% true. The response also has key and other metadata attached. You can use that to pair. You can disallow concurrent cre

[2016-12-19 17:31] gyuho commented on #7033
This is expected, because the node(key) that's expired does not exist in store anymore.

Is there any specific reason that you need `"dir": true` in `"expire"` node event?

[2016-12-19 17:49] Chumper commented on #7036
Thanks for the explanation and you are right, for the same key it does not matter.
However I still have issues to wrap my head around my use case:

I offer the developer to watch on a given key (or prefix, but lets stick to a single key) by giving me a function to call when a change happens.

Now there are may two threads which want to watch on different keys and have different function bodies.
If

[2016-12-19 17:56] xiang90 commented on #7036
Now you cannot. So you do not allow concurrent watch creation. It is usually not a problem, at least based on our experience for the Go implementation.

If there is a solid reasoning to support it, we can add additional metadata to the create response to help client lib to pair them up.

[2016-12-19 18:03] Chumper commented on #7036
I dont know if my use case is a solid reason for you to implement additional metadata, I am just currently looking on how I can offer the best experience to my library users.

As Scala heavily uses Futures and Promises it would be great to also offer concurrent watch creation, otherwise I am forced to block on the creation of a watch (even only for a very short amount).

Thats why I would love to

[2016-12-19 18:04] xiang90 commented on #7036
@heyitsanthony opinions?

[2016-12-19 18:09] Chumper commented on #7036
While we are currently on this topic:

You created separate request object for creating and deleting, however for the response you chose to implement it in a single response with boolean flags for created and deleted.

[code]

Wouldn't it make sense to also split that into three submessages?

[code]

[2016-12-19 20:27] petermattis opened #7037 "raft: resume a paused follower after receiving a heartbeat"
Currently, `bcastHeartbeatWithCtx` resumes any paused follower:

[code]

The upshot of doing this is that any subsequent activity on the Raft group which results in a call to `raft.sendAppend` (such as a proposal) will generate a `MsgApp` for the follower even though the Raft group hasn't received a heartbeat response yet. In CockroachDB we've noticed that an active Raft group with one follower on

[2016-12-19 20:38] xiang90 commented on #7037
@petermattis

If I remember this correctly, we were worrying about systems like CockroachDB can drop/ignore heartbeats for various reasons (link layer health checking, heartbeat coalescing). So no response will be received.

[2016-12-19 20:47] petermattis commented on #7037
@xiang90 Leaving the follower "paused" while waiting for the heartbeat response only blocks append requests to that follower. That seems desirable to me. I must be missing something about your statement that "we do not want to block append requests".

[2016-12-19 20:55] xiang90 commented on #7037
As I mentioned, the heartbeat response might not be received. The the append requests will be blocked for a long time for that peer.

If Cockroach use case is fine, I am OK. The only downside to us is that the caching up phase might delay for ~10ms, which is not a problem at all for us.

[2016-12-19 20:57] xiang90 commented on #7037
/cc @bdarnell

[2016-12-19 21:16] petermattis commented on #7037
Ah, got it. Blocked for a long time means blocked until we receive a `MsgHeartbeatResp`. That seems like a fine trade-off to me vs constantly generating `MsgApp` traffic which will be dropped on the floor. Curious to know what @bdarnell thinks.

[2016-12-19 21:19] petermattis commented on #7037
https://github.com/coreos/etcd/compare/master...petermattis:pmattis/resume-after-heartbeat-resp shows what would be required. I'll send the PR once discussion is concluded here.

[2016-12-20 02:44] jl2005 commented on #7033
In my code, we need `"dir":true` to determine further operations.
`Dir` is the basic attribute of a node. In the `Delete` action report, it contain the `Dir` attribute.

[code]

[2016-12-20 03:06] dearboll opened #7038 "kubernetes deploy"
Hi all,
    when I deploy the etcd cluster on kubernetes via the [guide](https://github.com/coreos/etcd/tree/master/hack/kubernetes-deploy), I find my pod cannot find each other.
![image](https://cloud.githubusercontent.com/assets/5729929/21336947/feed0f20-c6a3-11e6-9868-a9032cdd5a83.png)
    Should I modify the /etc/hosts file and add the mapping of etcd0, etcd1 and etcd2 with their IP?

[2016-12-20 06:21] bdarnell commented on #7037
Yes, I think the follower should be resumed when MsgHeartbeatResp is received, not when MsgHeartbeat is sent. In fact, I thought it already worked this way, and in all the special tricks we do with heartbeats we have made sure to send heartbeat responses to raft for this reason.

[2016-12-20 08:05] mitake commented on #7012
The detail of the problem is like below (assume s1, s2, and s3 are servers, c is a client):

1. at first, all of s1, s2, and s3 are healthy
1. c issues `Authenticate()` RPC and a token are generated, all of s1, s2 and s3 shares it as a valid token
1. s1 fails, s2 and s3 serves requests from c
1. s1 revives
1. s2 and s3 fail (in this case the quorum is lost but it isn't important for now)
1. c trie

[2016-12-20 10:28] vimalk78 opened #7040 "Query : etcdserver/server.go : compactor.Resume in case of not Leader"
https://github.com/coreos/etcd/blob/master/etcdserver/server.go#L637-L644
[code]

In the above code, L637-644 , shouldn't this code be in the else case of ` if !s.isLeader()` ?
here it seems that if the server is not a leader, the compactor is Paused and immediately Resumed. same for stats.
i didn't understand why.

[2016-12-20 16:57] romach opened #7043 "Error while running etcd v3 on Docker"
When I try to run etcd (version 3.0.0) on Docker:

[code]

I have an error:

`docker: Error response from daemon: invalid header field value "oci runtime error: container_linux.go:247: starting container process caused \"exec: \\\"-name\\\": executable file not found in $PATH\"\n".`

What is the reason of this error and how I can fix it?

[2016-12-20 17:14] #7031 closed

[2016-12-20 18:00] gyuho commented on #7043
This looks like Docker error? It works for me

[code]

My docker version is 1.12.5

[2016-12-20 18:11] gyuho commented on #7033
Defer to @xiang90

[2016-12-21 01:45] gourao commented on #7043
@gyuho It is working for you because you are not passing any arguments (like -listen-peer-urls).

[2016-12-21 01:54] gyuho commented on #7043
Ok this works. You need to specify the binary path in container image.

[code]

[2016-12-21 04:27] lonelili opened #7044 "client request time out when server space usage reached 85%"
## Environment
 - hardware(server side)
three member, hardware are the same
CPU:Intel(R) Xeon(R) CPU L5630  @ 2.13GHz, 16 core
MEM:64GB

- software
etcd --version
etcd Version: 3.0.6
Git SHA: 9efa00d
Go Version: go1.6.3
Go OS/Arch: linux/amd64

## Backgroud
We use etcd to save the data report from monitor agent which is deployed on 60 servers.

The agent put data to one key every 10 s, so there ar

[2016-12-21 04:29] xiang90 commented on #7044
what is your disk?

[2016-12-21 04:39] lonelili commented on #7044
DISK:Sas15K 300G x2 Raid1

[2016-12-21 04:41] xiang90 commented on #7044
can you get the fsync and disk commit metrics by calling the metrics API for all three members?  do you have server side log when timeout happens?

[2016-12-21 04:49] xiang90 commented on #7044
@lonelili

Also please avoid RAID1 for etcd. See https://github.com/coreos/etcd/blob/master/Documentation/op-guide/hardware.md#disks

[2016-12-21 08:23] Chumper commented on #7036
Any opinions?

I think that when you offer the client to handle multiple watches over one stream, then you can not force the client to create watches synchronous.

Otherwise do it like with the leases, one request grants a watcher, one cancels a watcher and a stream is used to tell the client about watch updates.

[2016-12-21 14:42] vimalk78 opened #7045 "Query : quota-backend-bytes max value"
hi, is there any reason for the 8 GB limit on the keyspace memory size? is it a boltdb limitation?

[code]

`--quota-backend-bytes` can have a default value of 2GB and if set to -ve, disable the quota, and let user define the limit by setting to some value.
so no need of Default and Max Quota. only one Quota value is enough.

[2016-12-21 14:50] armstrongli opened #7046 "ETCDv3 data doesn't sync up when upgrading from etcdv2 to etcdv3"
I got the scenario that etcdv3 data doesn't sync up in kubernetes cluster after upgrading etcd from v2 to v3.

Here is the status of nodes status after upgrading etcd and migrating data:
[code]

What I did on upgrade is :
 1. Stop the majority member of the cluster
 2. Upgrade the etcd server from v2 to v3
 3. Migrate data from v2 store to v3 mvcc store one by one
 4. Change the etcd storage of ku

[2016-12-21 16:10] philips commented on #7046
What tool did you use to migrate the data? What do you mean "one by one".

On Wed, Dec 21, 2016, 6:50 AM Armstrong Li <notifications@github.com> wrote:

[2016-12-21 17:03] xiang90 commented on #7046
This is expected if your cluster is accepting new requests. The cluster members are dynamic. We get the endpoint information independently from different members. There is no guarantees the requests will reach all members at exact time, and the members are at the exact same raft index.

[2016-12-21 17:24] sinsharat opened #7047 "Etcd database space exceeded exception for 8M keys"
On setting up a cluster of 5 with 2grpc proxies and performed put operation using 5 clients putting, update and get on 1.6M keys on each client. While performing the operation its giving the error; rpctype.EtcdError=etcddserver:mvcc:database space exceeded.
Is there anyway to increase the database size?

[2016-12-21 17:31] gyuho commented on #7047
https://github.com/coreos/etcd/blob/master/etcdmain/help.go#L61

`--quota-backend-bytes` flag can be used to configure quota size

[2016-12-21 17:32] xiang90 commented on #7047
also see https://github.com/coreos/etcd/blob/master/Documentation/op-guide/maintenance.md#space-quota

[2016-12-21 17:32] #7047 closed

[2016-12-21 17:33] sinsharat commented on #7047
@gyuho @xiang90 Thanks for help.

[2016-12-21 17:33] gyuho commented on #7045
See this https://groups.google.com/d/msg/etcd-dev/vCeSLBKC_M8/2pPBXpc9BwAJ

the cluster back to full health state within 10s of seconds with little impact on the overall performance.

[2016-12-21 17:34] xiang90 commented on #7045
@gyuho I will make this into faq soon.

[2016-12-21 17:34] #7045 closed

[2016-12-21 17:35] sinsharat commented on #7047
@xiang90 what is the suitable size you suggest to keep for around 10M keys for --quota-backend-bytes?

[2016-12-21 17:36] xiang90 commented on #7047
@sinsharat Depends on your key size. You probably can do the calculation yourself. But if you can, keep total data size within 4GB.

[2016-12-21 17:39] sinsharat commented on #7047
@xiang90 Sure thanks!

[2016-12-21 18:57] gyuho commented on #7045
Yeah let's put this into FAQ.

[2016-12-21 18:58] xiang90 commented on #7036
@Chumper Anthony is on vacation (I will be on vacation today). Please expect some delay on this discussion. Sorry!

[2016-12-22 01:10] armstrongli commented on #7046
@philips I stop the majority of members of the cluster and migrate the ETCD data from v2 store one member by one member.

the document from ETCD official says to change the cluster to read-only, then migrate the data of one member, and start a new cluster running on v3 .
that's the difference what I did from the document. I didn't start new cluster, I migrated all the members' data

[2016-12-22 03:34] ringtail opened #7048 "await value alerting"
What is the normal await value that a etcd cluster can run smoothly.

[2016-12-22 05:31] armstrongli opened #7049 "There're no output of cluster info in etcdctl v3"
There're output in v2
[code]

But they are gone in v3
[code]

[2016-12-22 05:45] armstrongli commented on #7049
Finished in PR: https://github.com/coreos/etcd/pull/7050

[2016-12-22 06:35] armstrongli commented on #7046
@xiang90
I believe that this is one issue in etcdv3 server cause after deleting one of the members and re-add the member into the cluster, then the data got synced.

Though there is options in etcd server to set debug flag, the logs are really poor for tracing some issues in the cluster.

[2016-12-22 06:42] vimalk78 commented on #7045
thanks @gyuho  @xiang90 :+1:

[2016-12-22 07:57] xiang90 commented on #7046
@armstrongli

To be honest, I still do not understand how did you know the cluster is out of sync.

Also it is unclear to me what this means

You did not mention that in the original issue. Is this a new issue?

[2016-12-22 09:22] armstrongli commented on #7046
I checked the data in the etcd cluster, and found that the values of the same key differ from each other. If the data is synced, the value should be exactly the same after the raft indexes reaches bigger ones.

The presentation of the data shows that the data in the 3 members are different. And after I did the operations(delete members and re-add members), the cluster got synced.

[2016-12-22 09:33] heyrakeshsingh opened #7051 "Keep getting "rafthttp: the clock difference against peer 5bd0394181f126dd is too high [10.449391606s > 1s]""
I have setup 5node+2 proxy cluster (each on node on separate machine- 12 core, 32 GB RAM ) with db size 4gb. Running 5 clients where each client spawning 5 threads. The operation performed is

The operation is performed for 1.6 M keys from each client (ie total 25 threads sending request to etcd cluster server for 8 M keys)

I am getting below logs:-

2016-12-22 17:00:29.475936 W | rafthttp: the c

[2016-12-22 15:39] xiang90 commented on #7046
What data is different?

??

I think you need to clearly tell us what you did, what you found, how you want it step by step. Ideally, we should be able to reproduce your problem following your steps. Or we cannot help. I am still quite unclear about your problem.

[2016-12-22 15:45] xiang90 commented on #7051
The system clock is different on you machines. Enable NTP can fix this. Or you have to manually sync the clocks on different machines.

[2016-12-22 15:45] #7051 closed

[2016-12-22 15:58] gyuho commented on #7048
What do you mean by `await value`?

[2016-12-22 20:41] gyuho opened #7052 "hasKeysAttachedToLeaseExpired error: (rpc error: code = 14 desc = etcdserver: request timed out)"
[code]

[2016-12-22 20:43] gyuho commented on #7052
Similar error in failpoint cluster

[code]

[2016-12-23 02:37] ringtail commented on #7048
[code]

[2016-12-23 02:44] ringtail opened #7055 "etcd v3 iops is much higher than etcd v2"
I upgrade etcd from v2.2.2 to etcdv3.0.13 and I found the iops is much higher than before.

[2016-12-23 02:45] ringtail commented on #7055
![image](https://cloud.githubusercontent.com/assets/3116693/21446094/d59fcc42-c8fc-11e6-9396-d4aa308855f8.png)
![image](https://cloud.githubusercontent.com/assets/3116693/21446103/e0348602-c8fc-11e6-9040-7791297843e4.png)
![image](https://cloud.githubusercontent.com/assets/3116693/21446106/e96a437e-c8fc-11e6-98bd-ee4d71f90f21.png)

[2016-12-23 03:32] #7055 closed

[2016-12-23 06:57] xiang90 commented on #7055
why closed? maybe the throughput is also higher?

[2016-12-23 07:01] xiang90 commented on #7048
etcd reports sync latency directly from metrics. you probably should monitor on that directly.

In terms of await, it should usually be smaller than 10ms for large clusters. See https://github.com/coreos/etcd/blob/master/Documentation/op-guide/hardware.md#disks for more details about disk io.

[2016-12-23 07:01] #7048 closed

[2016-12-23 07:01] heyrakeshsingh commented on #7051
The system date/time differences is in seconds but still it is coming and i observe this only while running with large data as i have mentioned. Will it impact performance..?

[2016-12-23 07:02] upccup opened #7056 "[Question] About etcd/raft wal replay"
Thanks for [raftexample](https://github.com/coreos/etcd/tree/master/contrib/raftexample). Now i can start a simple raft cluster, but there is a question about the wal.

  This func [replayWAL](https://github.com/coreos/etcd/tree/master/contrib/raftexample) will replay all my action that i propose before, event if i have been triggered the [saveSnap](https://github.com/coreos/etcd/tree/master/contr

[2016-12-23 15:31] sergeyfd opened #7057 "V3 "endpoint health" fails with "permission denied""
In V3 "endpoint health" fails with permission denied if authentication is enabled:

bash-4.2$ ETCDCTL_API=3 /usr/bin/etcdctl.sh --endpoints=XXXXXX:2379 --user root:PASSWORD endpoint health

https://XXXXXX:2379 is unhealthy: failed to commit proposal: etcdserver: permission denied

[2016-12-23 15:34] mitake commented on #7057
Which version are you using? I think your case is same to https://github.com/coreos/etcd/issues/6611
Could you try the latest master? It would solve the problem.

[2016-12-23 15:38] sergeyfd commented on #7057
Currently we are at 3.0.13. I'll check later versions, thanks.

[2016-12-24 01:06] ringtail commented on #7055
I change vm.dirty_background_bytes to 200000000. I think that is the reason for high iops.

[2016-12-25 00:58] alexzorin opened #7058 "client, clientv3 pkgs are hard to consume due to footprint, difficulty vendoring"
Hi,

I've been using etcd on and off since 2013 - I hope this does not come over as overly critical or negative, sorry if so.

It looks like that at some point that the client and server were merged into one repo. I had been using go-etcd without any problems, it was a fairly [small package](https://godoc.org/github.com/coreos/go-etcd/etcd?import-graph&hide=2).

I'm currently trying to integrate e

[2016-12-25 17:35] alikhajeh1 opened #7059 "Leap seconds"
I was just wondering if we need to do anything special with etcd and leap seconds, specifically 23:59:59 appearing twice on 12/31/2016 (https://forums.aws.amazon.com/ann.jspa?annID=4320)

[code]

[2016-12-26 07:39] es-chow opened #7061 "raft: Force raft to campaign with vote even preVote is enabled"
In some scenario, by management means one raft member can get the information that another raft member was down, so it can trigger a `MsgVote` other than a `MsgPreVote` even `Config.Prevote` is true.

Prefering to send `MsgVote` other than `MsgPreVote` is `MsgPreVote` cannot force other raft member to honor this vote to fast recovery from node failure. As other raft members receive `MsgPreVote`, t

[2016-12-26 07:44] dearboll opened #7062 "How etcd guarantee request executed exactly once?"
Hi all, I read the raft paper and have confused with some differences between raft and etcd implements. While a client request a command to the server, the leader has handled with it but the response lost.The client retry the request, how ectd guarantees that each command would be executed exactly once?

[2016-12-26 08:06] xiang90 commented on #7061
@es-chow Can you move this discussion to https://groups.google.com/forum/#!forum/rafte? We  just created a mailing list for raft related discussion.

If you can leave me your email address, I can invite you.

[2016-12-26 08:24] lonelili commented on #7044
## Metrics
[code]

**I found the Authenticate method is very slow.**
[code]

### Server Log
[code]

Now the error of "client time out" is still occasionally appear, about 0.5 percent.

[2016-12-26 08:29] xiang90 commented on #7044
etcd_disk_backend_commit_duration_seconds_bucket{le="0.512"} 1.1509121e+07
etcd_disk_backend_commit_duration_seconds_bucket{le="1.024"} 1.15143e+07
etcd_disk_backend_commit_duration_seconds_bucket{le="2.048"} 1.1522074e+07
etcd_disk_backend_commit_duration_seconds_bucket{le="4.096"} 1.1526292e+07
etcd_disk_backend_commit_duration_seconds_bucket{le="8.192"} 1.1531985e+07
etcd_disk_backend_commit_du

[2016-12-26 08:30] xiang90 commented on #7044
@lonelili We fixed the warning thing in the master branch. So just ignore it.

[2016-12-26 13:20] mitake commented on #7062
`Txn()` RPC can switch its effect (getting and putting keys) based on a conditional branch. And the branch can compare revision or value of keys. If two conflicting transactions that modify a single key are issued, later one (maybe issued in retry process) can be failed if they read the revision of the key as a preparation and compare it with the latest one in `If()` part of txn. It is because the

[2016-12-27 02:46] es-chow commented on #7061
updated in github profile and send an email to you.
Thanks.

[2016-12-27 13:03] mitake commented on #7012
@ekle I noticed that the mechanism should be implemented with existing retry mechanism. It would need a time for a while, sorry for keeping you waiting.

[2016-12-27 16:58] lixwlixw opened #7063 "The data is not big,Why always out of memory？"
I installed the etcd of three nodes,Configuration is 2C 4G,version:2.3.7,There is a 2G data,Why always out of memory？

[2016-12-27 18:03] #6952 closed

[2016-12-27 19:18] xiang90 commented on #7063
etcd2 only supports 200MB data at most. See https://github.com/coreos/etcd/blob/master/Documentation/v2/benchmarks/etcd-2-2-0-rc-memory-benchmarks.md#data-size-threshold.

Also it is incorrect to assume that 2GB raw data will only consume 2GB memory. Metadata, watchers and other internal components consume memory too.

[2016-12-27 19:18] #7063 closed

[2016-12-27 19:35] fanminshi commented on #6978
@immesys I pushed out a fix for this issue. If you checkout the latest version from etcd master branch, it should solve this problem. Please reach out if this fix doesn't solve this problem on your side.

[2016-12-27 19:59] heyitsanthony commented on #7040
@vimalk78 `BecomeLeader` is OK since the stats code checks the leadership status. The `Resume` looks wrong, though.

[2016-12-27 20:22] gyuho commented on #7043
@romach @gourao Any feedback on specifying the exec path in the docker commands?
Please let us know if you have any other concerns. Thanks.

[2016-12-27 20:22] #7043 closed

[2016-12-27 20:50] gyuho commented on #7062
Related answer

https://groups.google.com/d/msg/etcd-dev/jWv7Kja1tMQ/G9DLHlomCgAJ

[2016-12-27 20:51] heyitsanthony commented on #7051
@heyrakeshsingh the time difference will cause v2 TTLs to expire too soon / too late. I don't believe it will make a performance difference so long as there's no TTL keys.

[2016-12-27 21:25] heyitsanthony commented on #7059
@alikhajeh1 At worst, v2 TTL keys might lose a second on the leap and expire early, depending on how the system clocks are set up. Nothing terribly catastrophic.

[2016-12-27 21:31] heyitsanthony commented on #7058
I agree this is obnoxious. I would like to pull out yaml, grpc-gateway, and prometheus dependencies. Not much can be done about the pb.go files or the grpc dependency.

[2016-12-27 21:33] xiang90 commented on #7058
@heyitsanthony @gyuho

is this true? i think glide supports sub pkg?

[2016-12-27 21:37] heyitsanthony commented on #7058
@xiang90 it will not pull all of etcd if you only import clientv3 (cf. the import graph) but there's still a lot of code in the deps. It's easy to mistakenly pull the entire repo if you're including etcd/integration for tests, though.

[2016-12-27 21:39] xiang90 commented on #7058
@heyitsanthony I feel so. If most vendor tools pull entire etcd repo for etcd.clientv3, then we have to separate the repo NOW. Or the issue is less serious. And, yes, I agree we should keep the dependencies slim.

[2016-12-27 21:44] heyitsanthony commented on #7058
@xiang90 if vendor tools pull (for example) etcdserver for only a clientv3 import, they're pulling in more deps than go says it needs; there's even a CI check (https://github.com/coreos/etcd/blob/master/test#L237). I can confirm glide behaves as expected.

[2016-12-27 21:53] #7059 closed

[2016-12-27 22:11] alexzorin commented on #7058
@heyitsanthony

Could you show repro of glide doing the right thing wrt clientv3?

[code]

[2016-12-27 22:19] heyitsanthony commented on #7058
@alexzorin try:
[code]

[2016-12-27 22:31] alexzorin commented on #7058
Ah, I did not know about `glide-vc`, I had only seen `trash` but it had not been working for me. `vendor`/ is down to 3.0M now, which is a huge improvement. Thanks!

Default behavior notwithstanding, I'm actually pretty happy with this - it's only one extra step in the `Makefile`. Maybe some improvements can be made after the the Go vendoring proposal is finalized.

[2016-12-27 23:14] heyitsanthony opened #7065 "TestReleaseUpgrade: etcdserver: not capable"
https://semaphoreci.com/coreos/etcd/branches/master/builds/1326

[code]

[2016-12-27 23:18] heyitsanthony opened #7066 "TestTxnReadRetry: waited too long; client connection is closing"
https://semaphoreci.com/coreos/etcd/branches/master/builds/1322

[code]

Similar to #6277

[2016-12-28 05:15] #7037 closed

[2016-12-28 05:21] xiang90 commented on #7038
This issue is already resolved in etcd dev google group. this is a dup. so closing.

[2016-12-28 05:21] #7038 closed

[2016-12-28 08:21] lonelili commented on #7044
Bcrypt is great!
But, it means if you use short connection, you'll get a poor performance. Because every request will call the Auth method.

I use a method like this:
[code]

Now, I abandoned this code and use long connection in my project.
The error of "client time out" is **no longer happen**,and the load glitch of single CPU is also disappeared.
I will continue to observe and feedback.

I will

[2016-12-28 09:56] lonelili commented on #7044
The device is used for memcached before, the disk is not very good really.
But now we only have 60 client, request per 10s. So the max QPS may be 60/s?
These requests are too small to produce bottleneck, I think.
And, the monitor curve are all normal.

**So, any other possible causes?**

Here are some test result.
## DD
dd if=/dev/zero bs=512 count=20000000 of=/data/wTest
10240000000 bytes (10 GB)

[2016-12-28 15:53] xiang90 commented on #7044
Are all your problems solved now after using long connection + better disk?

[2016-12-28 18:16] xiang90 commented on #7056
@upccup

I do not think it should replay the entries in the WAL before the snapshot. Can you give us a code example to reproduce the issue?

Also it would be great if you can actually help us fix the bug.

/cc @gyuho @heyitsanthony

[2016-12-28 20:03] #7024 closed

[2016-12-28 20:06] heyitsanthony opened #7069 "TestCtlV2GetRoleUserWithProxy: missing duplicate error on double grant role"
via semaphore,
[code]

[2016-12-28 21:05] #7057 closed

[2016-12-28 21:17] xiang90 commented on #6954
I am closing this out. The bench result is explained. We will solve the read performance issue soon.

[2016-12-28 21:17] #6954 closed

[2016-12-28 22:30] #6985 closed

[2016-12-28 22:58] gyuho commented on #7065
@heyitsanthony Tried master over 2k rounds but can't reproduce.

I can only reproduce launching PUTs in goroutines, to make it racey with stopping nodes

[code]

[code]

Do you have any clue?

[2016-12-29 00:03] hongchaodeng opened #7072 "Expose error type when adding duplicate member that already exists"
When calling MemberAdd(), the req could succeed on server side but client side might fail -- e.g. context deadline exceeded. When it retries, client will probably get error message:
[code]

It would be better if server could expose an error type that tells if this member has already existed.

[2016-12-29 00:20] heyitsanthony commented on #7036
I don't understand this blocking argument. Anything providing a watcher will still need a create response to know whether the watch could be created and the request/response are still ultimately serialized on the tcp stream. The protocol doesn't preclude returning a future that's fulfilled once there's a create response; etcd's clientv3 library handles it by maintaining a queue of create requests,

[2016-12-29 00:49] heyitsanthony commented on #7065
@gyuho 3.0 boots as 2.3 then negotiates up to 3.0 so there's a window at boot time where it doesn't have `V3rpcCapability` enabled. It probably needs to poll `/version` until etcdcluster is >2.3.x before making v3 requests.

[2016-12-29 02:20] armstrongli commented on #7046
I tested it for times, it could be the issue in the old version of k8s. And the issue is gone with latest k8s.
Thanks :)  @xiang90

[2016-12-29 03:21] upccup commented on #7056
@xiang90  Thank you for your reply.
this is the step of my opertation
1. chang [defaultSnapCount](https://github.com/coreos/etcd/blob/master/contrib/raftexample/raft.go#L73), [snapshotCatchUpEntriesN](https://github.com/coreos/etcd/blob/master/contrib/raftexample/raft.go#L327) to 10 that can trigger saveSnapshot quickly.
2. start a single node raft node
3 use **curl -X PUT 127.0.0.1:12380 -D "1111

[2016-12-29 03:55] lonelili commented on #7044
I didn't do anything to the disk.
After using long connection, the total error decrease from 4500/day to  600/day.

The detail error stat of yesterday is:

| Error | Num |
| ------| ------ |
| etcdserver: request timed out | 517 |
| rpc error: code = 13 desc = etcdserver: request timed out, possibly due to connection lost | 52 |
| etcdserver: request timed out, possibly due to previous leader fail

[2016-12-29 04:22] Chumper commented on #7036
That is exactly the point in my question, in my library I would also need to create a queue with requests and block behind the curtain aka. create one watch after another.
For the end developer it still looks like he can create multiple watches, but in fact the client is blocking in this case on each creation.

I currently have only one watch created, so I don't have the required use case for mult

[2016-12-29 05:50] hongchaodeng commented on #7072
@heyitsanthony
This also raise another question. Why adding the same member addr twice will cause it to add the member second time?

[2016-12-29 05:52] xiang90 commented on #7072
we probably should check the peer url duplication first, then check the availability.

[2016-12-29 06:36] xiang90 commented on #7056
Can you clarify this? How did you find it out? Logging?

[2016-12-29 06:45] lonelili commented on #7044
OK, the monitor data is in the previous comment, i didn't found any exception these days.
I'll continue to observe and analyse it.

[2016-12-29 06:46] xiang90 commented on #7044
@lonelili Do not use fio monitor your disk. You need to monitor it 24*7 to figure out spikes.

[2016-12-29 06:53] lonelili commented on #7044
Yeah, i know. We have a monitor system monitor the disk 24*7 using /proc/diskstats.
Fio an dd benchmark is to illustrate the performance of the disk.

[2016-12-29 06:58] xiang90 commented on #7044
@lonelili OK. I do not know then. It appears to me that the timeout you observed were still caused by long fsync. You'd better monitor etcd's metrics and make sure there is no (or <99.99%) fsyncs/commits take more than 200ms. 8s is abnormal.

If you put etcd in a good environment, there should be no leader election or timeouts unless there is a known machine/network/disk failure.

[2016-12-29 07:04] lonelili commented on #7044
OK. Got it. I'll feedback on any progress.
Thanks.

[2016-12-29 07:20] upccup commented on #7056
@xiang90  yes.  I add a log in https://github.com/coreos/etcd/blob/master/contrib/raftexample/raft.go#L217

[2016-12-29 08:00] armstrongli opened #7073 "etcd print warning logs even there's only 1 member in the cluster"
The cluster single member cluster. So there shouldn't be any reason that print the large range operations.

[code]

Could SSL be the root cause? or the slow disk could be ?
Here is the metrics

[code]

[2016-12-29 08:16] heyitsanthony commented on #7036
The watch id is 64-bit. Keep a counter per stream and increment for every create request; it'll never run out of unique id's.

I don't understand the advantage to having a separate create id instead of directly asking for a specific watch id. The client would still be responsible for choosing unique ids to avoid collisions on `create_id`'s and it lacks the flexibility of being able to choose a wat

[2016-12-29 10:52] sinsharat opened #7074 "ETCD taking a lot of time for load test for put, update and read of 4M keys"
**Machine Specifications** : 7 Machines(5 nodes + 2 proxy) of 12 core, 32 GB RAM
**No of concurrent operations for read, update and get operations** : 10
**Total No of keys : 4 Million**
**Total no of client connections** : 2000

**Configuration script for one machine of the cluster:**
ETCDCTL_API=3
TOKEN=token-01
NAME_1=machine-1
NAME_2=machine-2
NAME_3=machine-3
NAME_4=machine-4
NAME_5=machine-5

[2016-12-29 11:24] sinsharat commented on #7074
**Output:**
[code]
**Conclusion:**
From the above result since the max time can be considered since they are executiong 0.4M keys in parallel: The below are the results:
Max time for PUT: 32m56.334521029s
Max time for UPDATE : 33m25.84183154s
Max time for GET : 21m18.898109771s

While for zk using java client the below are the results for 4M keys:
Max time for PUT: 11m20s
Max time for UPDATE : 10m

[2016-12-29 11:25] sinsharat commented on #7074
Let me know what i am doing wrong, since the difference is quite high :(

[2016-12-29 12:31] Chumper commented on #7036
So if two different streams chose the same watch_id then etcd will create two different watchers?
I thought the watch_id must be unique for all watches, but maybe I am wrong here?
Or how do I set the starting id for the watch_ids?

Yes, but it is only responsible for choosing an id for its own creation flow. So the potential conflict zone is limited to all creation flows the client does on this sa

[2016-12-29 16:04] xiang90 commented on #7074
@sinsharat Can you clean up your test script? There are a lot of commented out code. I am not sure what is going on there.

Why do you setup 2 gRPC proxies? Are you sending requests through these two proxies? If yes, it would slow down everything significantly. All your requests cannot take advantage of proxies. And you only have 10 out going request at any time. The parallelism is pretty low.

[2016-12-29 16:20] xiang90 commented on #7074
Also note that, if you only have one test client, the client itself might be the bottleneck. And you will be comparing etcd client against zk client.

[2016-12-29 16:47] sinsharat commented on #7074
@xiang90 I have cleaned the test code and added comments to it. We were using 2 proxies and 5 node cluster since it was decided by the common team. The same config is being used for both zk and etcd. Also while testing both zk and etcd are using single client. Also since its a 12 core machine so 10 concurrent operation should not create problem. Even the logic of java based zk client is having the

[2016-12-29 17:03] xiang90 commented on #7074
How do you config the client? Do all requests go through proxies? Or they go through random servers?

[2016-12-29 17:05] xiang90 commented on #7074
This contradicts with your original issue. You said you have 2000 clients?

[2016-12-29 17:05] sinsharat commented on #7074
@xiang90 Sorry by client i meant running from single machine and both using 2k clients.

[2016-12-29 17:18] xiang90 commented on #7074
@sinsharat

Basically, your test is equivalent to have 10 clients putting/getting keys without any limit. How many clients in total you created is irrelevant to your result. I can believe zk might run faster in light load on a slow HDD. But I am not sure.

I would suggest you to use tools/benchmark to configure the test with 10 clients + 10 connections, and get a more extensive result including la

[2016-12-29 17:35] xiang90 commented on #7062
@dearboll Answers make a lot of sense. So I am closing out this issue.

@heyitsanthony should we add this one into our dev guild somewhere?

[2016-12-29 17:35] #7062 closed

[2016-12-29 17:36] xiang90 commented on #7073
Everything is fine. We set the warning limit too tight in 3.0. It has been fixed in master.

[2016-12-29 17:36] #7073 closed

[2016-12-29 17:37] sinsharat commented on #7074
@xiang90 yes i agree that its almost equivalent. But the purpose of creating so many clients is to put load, and testing with each client in a round robin fashion, and check the CPU usage.
Sure will discuss about your suggestion with other members as well on this.

[2016-12-29 17:40] xiang90 commented on #7074
Not sure it matters.

I would suggest you to run etcd official benchmark tool to do 10 conns + 10 clients test. If the result matches the result your test script created, then it shows etcd has an avg 2x put/update latency than zk. So we can look into it. Also as I mentioned, it would be great if you can provide version + os info.

[2016-12-29 18:06] sinsharat commented on #7074
@xiang90 sure will provide it. Actually the purpose of creating 2k client connections was that, it will put a load on the server since its creating connection with the server.

[2016-12-29 18:07] xiang90 commented on #7074
The test takes ~10m. Creating 2k clients take ~seconds. I guess you can safely ignore it.

[2016-12-29 18:09] sinsharat commented on #7074
@xiang90 what i observed that by reducing client connections, the operations were faster. So it may be that the no of client connection may be affecting it. My point is that its not about the time it takes in creating connections, its about when those connections are kept with the server for long time.

[2016-12-29 18:12] xiang90 commented on #7074
It should not really matter. There might be something else going on.

[2016-12-29 18:16] sinsharat commented on #7074
May be but if you see the code, i am creating clients separately for each go routine, earlier i had created 2k connections in one go outside the for loop and was slicing it. With the same code and creating 2k connection before hand was causing it to not complete the operation at all and one of the go-routines was not coming out of it. On the other hand instead of using the client in round robin fa

[2016-12-29 18:33] sinsharat commented on #7074
Also if you see the results the last go routine is taking 10mins longer than other go routines performing the same operation, the reason for that is other connections close by then from other go-routines. The pattern is similar for all put, update and get operations.

[2016-12-29 19:12] heyitsanthony commented on #7036
Yes. The watch id is a per-stream resource. Two separate streams can watch on different ranges with the same watch id.

[2016-12-29 19:14] Chumper commented on #7036
Ok, sorry for the missunderstanding and then I do fully agree with you that adding a `watch_id` to the request will also solve the problem when the server uses the given id.

[2016-12-29 19:29] #7065 closed

[2016-12-29 20:05] fanminshi opened #7078 "integration: Too many goroutines running after all test(s)"
via https://jenkins-etcd.prod.coreos.systems/job/etcd-proxy/390/
and https://jenkins-etcd.prod.coreos.systems/job/etcd-proxy/388/
[code]

[2016-12-29 20:26] xiang90 commented on #7074
@sinsharat Based on our recent test, zk is slight faster than etcd under light load:

https://camo.githubusercontent.com/2c67023a926ce326b46f1a047ab4fe98fd45e370/68747470733a2f2f73746f726167652e676f6f676c65617069732e636f6d2f64627465737465722d726573756c74732f3230313651342d30312d657463642d7a6b2d636f6e73756c2f30332d77726974652d3530304b2d6b6579732d31434f4e4e2d6e6f2d7a657463642d63657463642f6176672d7468

[2016-12-29 21:16] heyitsanthony commented on #7074
@sinsharat what does `ulimit -a` show? With 2000 simultaneous clients, the client/proxy/server may be hitting fd limits (1024 is typical) because there are too many active connections. Are there any warnings or errors in the logs?

[2016-12-29 22:37] heyitsanthony commented on #6283
[code]

https://travis-ci.org/coreos/etcd/jobs/187536186#L1759

[2016-12-30 05:48] sinsharat commented on #7074
@xiang90 I don't think we are putting a light load, since its like 2k clients all sending request but 10 clients at a time and that too for 2M, 4M, 8M keys. In each of these cases the time taken by etcd is almost double to that of zk.
@heyitsanthony I didn't see any warning on the VMs we are running, but yes on a lighter single VM for etcd was giving grpc timeout after 1018 connections. But for th

[2016-12-30 05:52] xiang90 commented on #7074
zk and etcd can handle 100s of concurrent operations, and reach 10,000s of requests/second. You only generated 1,000s of requests/second. So the load is light.

Also if you really care about the request latency under light load, you should get the avg latency, max latency, min latency instead of just focusing on the total time. It will provide more details and help us understand what happened to e

[2016-12-30 05:55] heyitsanthony commented on #7074
@sinsharat OK, just to confirm, every process involved in the slow setup has an fd limit much greater than 2000? The client processes, the proxy processes, and the etcd server processes?

[2016-12-30 06:02] xiang90 commented on #7074
Moreover, zk read is very different from etcd read, which can return stale data. You need to config etcd's read to be serializable to make them the same. Also I am not sure how you config the clients. Probably they all connected to the same server?

[2016-12-30 06:15] sinsharat commented on #7074
@heyitsanthony yes it is. For client server, proxy we are using very high end VMs which our clients use.
@xiang90 No we are connecting to each node in cluster for zk uniformly. As for etcd as i had mentioned we  are passing all the endpoints to get client connection.

[2016-12-30 06:18] xiang90 commented on #7074
I do not think etcd client will connect to all server uniformly, at least for now. We might improve that. I think you'd make sure etcd client does the right thing. An easy first step is to try give each client only one endpoint.

[2016-12-30 06:24] heyitsanthony opened #7080 "clientv3: don't keep all endpoint connections open"
The clientv3 balancer tries to maintain a connection to every endpoint, which is wasteful. It should probably only keep one connection open for extended periods of time.

[2016-12-30 06:26] sinsharat commented on #7074
@xiang90 If you want will change it to 100 concurrent operations from 10 and check the result.

[2016-12-30 06:30] xiang90 commented on #7074
@sinsharat

1. we should figure out why there is the 30m thing (10 minutes more than others).

2. we should figure out if etcd clients connecting to all server evenly.

3. we should change etcd client to use serializable read or change zk to do a put before read.

4. if you care about latency, we should get latency data as I mentioned. Total time is usually for measuring bulk load/get with no limi

[2016-12-30 06:43] sinsharat commented on #7074
@xiang90 sure will do those changes as well. Thanks!

[2016-12-30 17:40] gyuho commented on #6283
@xiang90 @heyitsanthony

Should we just make https://github.com/coreos/etcd/blob/master/rafthttp/pipeline_test.go#L81

[code]

to

[code]

like https://github.com/coreos/etcd/blob/master/rafthttp/pipeline_test.go#L219-L222

As we explained in https://github.com/coreos/etcd/commit/0d35ba9b94369c72e46ed7b57b2bb3427faf66a8

after `pipelineBufSize` gets filled up, it might block in slow CPU systems

I

[2016-12-30 17:44] heyitsanthony commented on #6283
probably should bump the timeout to 1s like the fix from #6398

[2016-12-30 18:03] heyitsanthony opened #7082 "TestV3LeaseFailureOverlap: leases keep alive halted, context canceled"
via https://semaphoreci.com/coreos/etcd/branches/pull-request-7079/builds/2
[code]

[2016-12-30 18:14] #6283 closed

[2016-12-30 18:40] gyuho commented on #7072
@xiang90 Do we want a new error type? What would be different than `ErrMemberExist`? https://github.com/coreos/etcd/blob/master/etcdserver/api/v3rpc/rpctypes/error.go#L115

[2016-12-30 18:55] heyitsanthony opened #7083 "mvcc: don't block on concurrent reads"
Right now mvcc must acquire a heavily contended mutex to make Range requests. For better scalability, protect it without taking the mutex.

[2016-12-30 20:51] #7078 closed

[2016-12-30 21:05] heyitsanthony commented on #6924
this already exists; oops

[2016-12-30 21:05] #6924 closed

[2017-01-02 16:59] dradtke opened #7086 "Public GPG keys"
Would it be possible to make public the GPG keys used to sign each release so that we can automatically verify them in our tooling? I did find [this](https://coreos.com/security/image-signing-key/) after some searching, but it failed with a "signature made by unknown entity" error.

[2017-01-03 08:48] vimalk78 commented on #7040
the `ServerStats` changes the `raft State` based on invocation of `RecvAppendReq , SendAppendReq` , so it will eventually correct itself.

Also, the `lesser.Promote` is invoked after applying the `noop` entry from the new leader, but `server stat` and `compactor` leadership change is handled in the `etcdserver.raftNode` after reading the `Ready` channel. is it something to do with the order of app

[2017-01-03 08:54] vimalk78 commented on #7040
and btw, should i move the compactor in the else block?

[code]

[2017-01-03 16:40] gyuho commented on #7086
We use sub-key with `CoreOS Application Signing Key <security@coreos.com>` to sign our releases. It might be different than the Container Linux signing keys.

@robszumski @dghubble @philips
Any thoughts?

[2017-01-03 17:55] arehmandev opened #7088 "ETCD Docker instruction page error - workaround found"
Hi guys, strange error happening over here but I found a workaround.

If I run the example docker run command found here it doesn't seem to work https://coreos.com/etcd/docs/latest/v2/docker_guide.html

Here is my script for running a solo development container on an AWS CoreOS instance
- CoreOS-stable-1185.5.0-hvm (ami-7ee7e169)
- etcd container version - latest (v3.0.15)
- Docker version 1.11.2,

[2017-01-03 18:19] gyuho commented on #7088
This is being addressed in https://github.com/coreos/etcd/pull/6901.

And see https://github.com/coreos/etcd/blob/master/Documentation/op-guide/container.md#docker.

[2017-01-03 18:30] heyitsanthony commented on #7040
@vimalk78 the comment explains why the lessor is promoted in `applyEntryNormal` instead of `leadershipUpdate`-- the promote only happens after the last committed entries are applied. I think the reason for this is to avoid accepting lease refreshes on a new leader if those leases that have already been deleted.

Please submit a PR for the compactor stuff. Thanks!

[2017-01-03 18:34] #7056 closed

[2017-01-03 18:45] #7088 closed

[2017-01-03 18:59] heyitsanthony opened #7089 "TestNodeStop: elapsed = 0, want 1"
via semaphore

[code]

[2017-01-03 19:04] xiang90 commented on #7086
@gyuho I think the first step to document which key we used to sign our release in the release note?

[2017-01-03 19:06] xiang90 commented on #7044
I am going to close this issue. Please reopen if there is any further issue related to this one.

[2017-01-03 19:06] #7044 closed

[2017-01-03 19:31] crawford commented on #7086
The signature already specifies which key was used to sign, so there is no need. The key is hosted on [coreos.com](https://coreos.com/security/app-signing-key/), but we should add it to other key servers if it isn't already there.

[2017-01-03 19:36] xiang90 commented on #7086
@crawford

This is the users' issue. Thera are two parts:

1. we should avoid searching. so we probably should add small notes linking to https://coreos.com/security/image-signing-key/ to make it explicitly as the first step

2. we should avoid `unknown entity` error thing. As you mentioned, we should add keys to other key servers.

[2017-01-03 19:37] gyuho commented on #7086
I will upload our pub keys to other servers when next release happens.

[2017-01-03 19:44] dradtke commented on #7086
Assuming the Application Signing Key works, then I'd be happy with simply documenting its existence in the project's README or as part of the notes for each release.

[2017-01-03 19:45] xiang90 commented on #7086
@dradtke We will doc it in the release note.

[2017-01-03 19:48] vimalk78 commented on #7083
currently a Range request acquires
 - a read lock in `mvcc.kvindex`
 - a lock in `mvcc.store`
 - a lock in `mvcc.backend.batchTx`

are you planning to remove all three locks?

can you pls share your idea ?

[2017-01-03 20:12] #6978 closed

[2017-01-03 20:36] dradtke commented on #7086
To clarify, I tested it again, and the [image signing key](https://coreos.com/security/image-signing-key/) fails with an error (which is expected since it's the wrong key), but the [app signing key](https://coreos.com/security/app-signing-key/) works. 👍 for linking to the app signing key in the release notes.

[2017-01-03 22:33] fanminshi opened #7091 "etcd-runner: election causes panic"
Setup:
macOS 10.11.6
Go Version: go1.7.3
Go OS/Arch: darwin/amd64
etcd version: 24601ca24b46f5d700746c5902ee62aca6b1b805 from master

Reproduce:
[code]

[2017-01-03 23:26] heyitsanthony commented on #7083
@vimalk78 `mvcc.store` and `mvcc.backend.batchTx`. There's already a RWMutex in `mvcc.kvindex`, so there's no read contention. There's going to be a separate transactional view for reads. This is related to getting the performance back for #6876.

[2017-01-04 00:31] gyuho commented on #7025
@xiang90 @heyitsanthony Any objection to make this configurable? We need this to be more flexible for benchmarks (39 ~ 40K throughput writes). I have my own branch for benchmarks with `maxGapBetweenApplyAndCommitIndex` bumped up to 30000, where etcd is capable to process all 2-million requests. If anyone tries to replicate our benchmarks, they will get a bunch of `ErrTooManyRequests` errors.

[2017-01-04 00:32] xiang90 commented on #7025
No. It should not be configurable. No one knows how to configure it. We need to figure out why exactly 5000 is not enough.

[2017-01-04 00:33] gyuho commented on #7025
@xiang90 Ok understand. Let me investigate more where it gets behind to trigger this errors. Thanks.

[2017-01-04 07:34] vimalk78 commented on #7083
the `mvcc.store.mu` should be change to RWMutex, cannot completely remove it from Range path.

for reading the boltdb, do you plan to hold a single ReadOnly transaction, or create a new ReadOnly transaction for every Range request, or use `DB.View` method.  perhaps using `DB.View` will be better as we dont have to deal with transactions directly and create/close will be done by boltdb.

[2017-01-04 07:37] xiang90 commented on #7083
@vimalk78

https://github.com/xiang90/etcd/commit/1fcc0128a06d95bf0a29d177c916c9c512452bfa

This is an example for what we should start with. But note that the readTx needs to capture the changes happened in batchTx before it. So we need to have a shared in-mem map in front of these txs.

@heyitsanthony might provide more thoughts on that.

[2017-01-04 07:45] armstrongli opened #7096 "benchmark tool doesn't work for https endpoints"
I start one etcd cluster with `https` endpoint. Then start the `benchmark` client to test the performance under https. But benchmark tool hangs for a long time, and no result until timeout.

Start script:
[code]

Benchmark test:
[code]

[2017-01-04 07:49] armstrongli commented on #7096
The strace shows the the status

[code]

[2017-01-04 08:59] armstrongli commented on #7096
@xiang90
After digging into code, and debug for sometime, I found the issue is that the parameters from command line can't be `--endpoints=[127.0.0.1:2379]: gRPC endpoints`.  The parameters should be `--endpoints=127.0.0.1:2379,127.0.0.1:2379 : gRPC endpoints`

[2017-01-04 09:00] #7096 closed

[2017-01-04 09:13] armstrongli commented on #7049
@fanminshi The CI can't pass. Could you help re-trigger it?

[2017-01-04 10:29] shuting-yst commented on #2468
@xiang90 so what's the solution? Could you provided some examples of using v3' watcher to distinguish the status of no event and server crashs which being unable to reply?
I have confronted the problem with v3's watcher.

[code]

[2017-01-04 14:04] sinsharat commented on #7074
@xiang90 As per your suggestion i tried the below things:
1. Did code changes to ensure each client is connecting to all servers evenly.
2. passed only cluster's 5 node endpoints to etcd-runner (i.e. ignored the cluster endpoints)
3. Increased the total number of concurrent operations to 25

The following were the observations:
1. The time taken by all go-routines became uniform unlike the old cas

[2017-01-04 14:08] sinsharat commented on #7074
Will try with 50 con-current operations today and see the result for 8M keys.

[2017-01-04 15:34] fanminshi commented on #5930
code coverage for unit and integration is done via https://github.com/coreos/etcd/pull/7067

Need to do coverage for e2e tests.

[2017-01-04 16:08] gyuho commented on #7066
@heyitsanthony @xiang90

Think this is Semaphore 32-bit test CI's CPU being extremely slow?
I reran the same tests over 10,000 rounds but can't reproduce.

Logs from failure

[code]

It took more than 30 seconds from `2016-12-12 19:56:55.348098 I | rafthttp: started HTTP pipelining with peer 58a2951b56376090` to `2016-12-12 19:57:27.534811 I | rafthttp: started streaming with peer 58a2951b56376090

[2017-01-04 17:15] xiang90 commented on #7089
Fixed by #7092

[2017-01-04 17:15] #7089 closed

[2017-01-04 18:11] gyuho commented on #6989
Reported upstream https://github.com/boltdb/bolt/issues/644.

[2017-01-04 18:26] heyitsanthony commented on #7066
Slow CPU wouldn't behave like this in the tests. I'd expect log activity in that 30 seconds warning about timeouts.

[2017-01-04 18:36] gyuho commented on #7066
Right, I will try more to reproduce.

[2017-01-04 18:47] #7040 closed

[2017-01-04 19:58] heyitsanthony opened #7100 "etcdserver, embed: make v2 endpoint optional"
Support pure v3 instances of etcd.

[2017-01-04 20:07] heyitsanthony opened #7101 "TestLeaseKeepAliveCloseAfterDisconnectRevoke: keepalive channel did not close"
https://semaphoreci.com/coreos/etcd/branches/master/builds/1391

[code]

[2017-01-04 20:09] #7072 closed

[2017-01-04 20:17] heyitsanthony opened #7102 "grpcproxy: TestGRPCStreamRequireLeader: test timed out after 15m"
via https://jenkins-etcd.prod.coreos.systems/job/etcd-proxy/413/consoleFull

[code]

[2017-01-05 03:04] #7102 closed

[2017-01-05 03:34] gyuho commented on #7101
I can reproduce giving shorter timeouts... and see a bunch of warnings of

[code]

The timeout duration for this test is 10 second, and the cluster was overloaded when it failed.

[2017-01-05 05:15] sinsharat commented on #7074
Results for 8M keys with 50 con-current operations:
[code]

[2017-01-05 05:16] xiang90 commented on #7074
@sinsharat

have you tried to change get using serializable option to match zk?

[2017-01-05 06:36] sinsharat commented on #7074
@xiang90 you want serialize option to be used for get operation right? Will this option make read faster?

[2017-01-05 06:40] xiang90 commented on #7074
@sinsharat Yes. S-read is local read (zk only supports local read). So it should be faster in your case.

[2017-01-05 06:54] sinsharat commented on #7074
ok sure will do the changes and test it with 100 con-current threads. Thank you!

[2017-01-05 10:48] coder0wang opened #7104 "How can I delete the value that is key is 'null'?"
# Bug reporting

A good bug report has some very specific qualities, so please read over our short document on
[reporting bugs][report_bugs] before you submit your bug report.

To ask a question, go ahead and ignore this.

[report_bugs]: https://github.com/coreos/etcd/blob/master/Documentation/reporting_bugs.md

[2017-01-05 14:49] mitake commented on #7012
I'm digging the problem and it was more complicated than I think. The error of invalid token can be caught here: https://github.com/coreos/etcd/blob/master/clientv3/retry.go#L36 but current gRPC doesn't seem to provide a way of reconfigure `PerRPCCredential` of connection. So we don't have a way for installing a fresh token in the error handling process. I'll seek a workaround for a while. If I ca

[2017-01-05 16:45] xiang90 commented on #7104
Do you have an example to show what you want to do? I do not quite understand the question.

[2017-01-05 19:28] #7069 closed

[2017-01-05 19:52] gyuho opened #7107 "repeating 'raft.node X changed leader from Y to Z' for 5-second"
I was trying to reproduce https://github.com/coreos/etcd/issues/7101
and got 1000s of `raft: raft.node: 899e79c155803bb8 changed leader from 51e40c86c0f63c1a to 5ab6c7106ad39ab4 at term 3` repeating for 5 seconds

[code]

Full log:

[TestLeaseKeepAliveCloseAfterDisconnectRe.txt](https://github.com/coreos/etcd/files/688176/TestLeaseKeepAliveCloseAfterDisconnectRe.txt)

[2017-01-06 06:01] sinsharat commented on #7074
@xiang90 Sure, its important for us since we use ATAE R3 board on which we are currently running our tests. In the mean time i will integrate the kv operations performing load test with etcd-runner, so that its useful for anyone performing such tests in future on their systems and doing comparison.

[2017-01-06 06:04] xiang90 commented on #7074
@sinsharat etcd-runner is not designed for load test. do not integrate this in.

[2017-01-06 06:09] sinsharat commented on #7074
@xiang90 ok. Btw would it not be better to have a tool to perform such load tests in future, so that everyone doesn't end up writing their own set of code for performing load test and may induce errors causing it to give wrong results?

[2017-01-06 06:11] xiang90 commented on #7074
@sinsharat You can put it into your own repo or Huawei's, and add it into https://github.com/coreos/etcd/blob/master/Documentation/libraries-and-tools.md#libraries-and-tools

[2017-01-06 06:14] sinsharat commented on #7074
Sure!

[2017-01-06 06:15] leonardyp opened #7108 "three nodes is ok and four nodes has a lot of errors"
this is my example
[demo.zip](https://github.com/coreos/etcd/files/689087/demo.zip)

[2017-01-06 07:22] coder0wang commented on #7104
For example :  the key is 'host/null' ,i want delete it.The result is success,but it always exist.

[2017-01-06 12:06] vimalk78 opened #7109 "linearizable reads spends most of the time in waiting for ReadIndex"
i have a 3 node cluster which has about 1000 keys

my test case involves mostly reading the keys and i am reading one key after another. At the moment of the read, there are no write happening, i.e. no Put/Delete operations.

adding timestamps in v3_server, i observe the following
[code]

i find that out of 600 odd micro seconds it takes to process the read, about 78% of time it is taking in readi

[2017-01-06 14:23] mitake commented on #7012
@ekle I could find a reasonable workaround and created a PR here: https://github.com/coreos/etcd/pull/7110 could you try it?

[2017-01-06 15:12] ekle commented on #7012
i can try it on monday

[2017-01-06 16:08] gyuho commented on #7108
`--initial-cluster` needs to be changed to have all 4 nodes but you have only 3 nodes in `--initial-cluster`.

Or use `etcdctl member add` command to start the 4th member.

[2017-01-06 16:08] #7108 closed

[2017-01-06 16:12] gyuho commented on #7104
@coder0wang Please be more specific? This works for me.

[code]

[2017-01-06 17:11] heyitsanthony commented on #7109
A follower won't know there are no puts/deletes happening; it has to ask the leader to know if the cluster is in a quiescent state.

I don't think the leader can broadcast (via appendentries or otherwise) a readindex since that can break linearizability:
1. Cluster begins with A=1
2. Leader broadcasts read index
3. Cluster accepts write proposal A=2
4. Client requests read, follower queues until r

[2017-01-06 17:12] xiang90 commented on #7109
What is the round trip time between these node? Collect some ping results?

[2017-01-06 17:25] vimalk78 commented on #7109
@xiang90 , the cluster is a 3 node cluster started with default Procfile using goreman. so all 3 nodes are on same ubuntu box

[2017-01-06 17:31] xiang90 commented on #7109
@vimalk78 Can you try it on a more realistic setup, and get the latency information? I think the first step is to ensure l-read takes ~ 2 rtt (client to leader + leader to all followers) when serving from the leader, and takes ~3 rtt (client to follower + follower to leader + leader to all followers) when serving from the follower. If that works perfectly, then we can think of how to optimize it.

[2017-01-06 17:40] gyuho commented on #7104
@coder0wang I tried v2 API with v2.3.7 and latest v3 release.
They all work.

Please leave comments if you still have issues.

[code]

[2017-01-06 17:40] #7104 closed

[2017-01-06 18:09] vimalk78 commented on #7109
follower doesnt need to queue up the request for next update of ReadIndex, it uses the value it has from the previous update and proceeds. i.e. waits for it to be applied. if already applied(which will be the case mostly), the reads can be served immediately.

this situation can occur even when followers actively ask for ReadIndex from leader. by the time leader's response reaches the follower, th

[2017-01-06 18:25] vimalk78 commented on #7109
@xiang90 , the time taken is captured at the server, i modified the v3_server to capture it. it doesnt include the rtt time. i will re run the test and capture the time taken at client.

[2017-01-06 19:18] houstar commented on #6871
Error log in ppc64le. golang is currently supported on ppc64le. so I think we should strict/limited support x86/amd64 only. I strongly suggest that we should enable other platform to embrace the CoreOS eco-system.  Now we're testing the CoreOS@ppc64le platform.

core@CoreOS ~ $ cat /etc/os-release
NAME=CoreOS
ID=coreos
VERSION=1248.0.0
VERSION_ID=1248.0.0
BUILD_ID=2017-01-06-1749
PRETTY_NAME="Core

[2017-01-06 19:21] houstar commented on #6871
@marineam @xiang90  Could we support etcd on ppc64le platform ?  As you known, we've enabled CoreOS @ppc64le platform. And etcd is the infrastructure for CoreOS...Sooooooo... thanks

[2017-01-06 19:25] heyitsanthony commented on #6871
@houstar set the environment variable ETCD_UNSUPPORTED_ARCH=1 to run on an unsupported architecture. This flag won't go away until there's ppc64le CI; the platform is not well tested and so running etcd is risky. See https://github.com/coreos/etcd/blob/master/Documentation/op-guide/supported-platform.md#supporting-a-new-platform

[2017-01-06 19:37] houstar commented on #6871
Thanks @heyitsanthony, so i'll take the responsibility of testing etcd on ppc64le. Once is stable enough. then i'll inform here ;-0

[2017-01-06 21:04] #6959 closed

[2017-01-06 21:43] gyuho commented on #7107
In the same tests, I am seeing old reader restarting as a single node in `raft` without any peer.
And since it's single node, it immediately becomes the leader.

[code]

This is relatively easy to reproduce, so I will debug this part first and revisit this.

[2017-01-06 21:43] #7107 closed

[2017-01-07 02:14] xiang90 commented on #7109
It includes the communication time between servers at least.

[2017-01-07 08:28] XMAN-WOMBAT opened #7114 "How to get the delete dir event?"
hello all :
        The etcd can watch a dir --recursive,when one  key is changed,the watcher can receive the event,but delete one dir,watcher could not get the event.in some case,delete dir event is important.
       how can i get the delete dir event?
       thanks!!!!

[2017-01-08 04:38] dariopb opened #7115 "Correct way of checking for key existence during transaction?"
Hi,

What is the right way to check for existence of a key during a transaction?

Checking for a version > 0 works as expected (evaluates to "false" if the key is not there and to "true" if it is present:

`
                var keyUtf8 = ByteString.CopyFromUtf8(key);
                TxnRequest txr = new TxnRequest();
                Compare c = new Compare();
                c.Key = keyUtf8;

[2017-01-08 05:25] heyitsanthony commented on #7115
Testing for CreateRevision > 0 should succeed iff the key exists.

What client library is this? I don't see a `CompareResult` in the second example, so maybe that's the problem?

[2017-01-08 16:32] dariopb commented on #7115
Yes, testing for CreateRevision > 0 with Create works as well. Maybe I'm misinterpreting the  meaning of CompareTarget.Create as "check if it exists" but it seems I need to provide the CreateRevision as well.
The code is c# calling the raw grpc wrappers.

[2017-01-08 18:31] heyitsanthony commented on #7115
@dariopb that's not what it means. The compare target is the field in the key-value metadata use for the comparison-- from the docs ` target is the key-value field to inspect for the comparison.` (https://github.com/coreos/etcd/blob/master/Documentation/dev-guide/api_reference_v3.md#message-compare-etcdserveretcdserverpbrpcproto).

There's no specialized key existence check in the grpc protocol si

[2017-01-09 05:09] dariopb commented on #7115
Thanks, it makes sense now. Closing.

[2017-01-09 05:09] #7115 closed

[2017-01-09 06:49] armstrongli opened #7116 "ETCD db size is extremely unbalanced among members"
I have one 4 members' cluster. And after running for days, one of members' DB size is extremely larger than the other ones.

[code]

Member `87e6a178ab5a0f63` has one DB file which is `11 GB`, but other ones have only `57 MB`.

There're a lot of such logs in member `87e6a178ab5a0f63`
[code]

The cluster shares the same dataset, so the data among them should be almost the same. e.g. 57~65 MB.

I'm

[2017-01-09 07:04] armstrongli opened #7117 "etcd raft should take database error in count"
I have one 4 members' cluster. And one of the DB size is extremely larger than the other ones. And the larger one has used up all the spaces of the machine. **The the whole cluster is unoperationable**.

[code]

[code]

There should be some techs to resolve such kind of issue.

[2017-01-09 07:37] armstrongli commented on #7116
After checking the cluster details, I noticed that the etcdv3 should have defragment operation cause of using boltdb.
And after defragging the member, the data size decreated to the normal range.

[2017-01-09 07:39] vimalk78 commented on #7109
@heyitsanthony is it ok to move the creation of new readNotifier to after receiving the ReadIndex response form the leader

i have prepared a patch, shall i send a PR

[2017-01-09 08:44] vimalk78 commented on #7117
can you use the --write-out=fileds option, it prints more details

`./etcdctl endpoint status --endpoints=${ALL_ENDPOINTS} --write-out=fields`

for my simple 3 node cluster it outputs like this

[code]

[2017-01-09 12:39] armstrongli commented on #7117
@vimalk78 The version of the cluster is etcd 3.0.15.

[2017-01-09 13:02] ekle commented on #7012
@mitake i tried it with 1ea73ec0c01ffecc9934563ad37f6d61cb37c39a and i still have the error invalid auth token.
do i need to enable this somehow ?

[2017-01-09 13:04] vimalk78 commented on #7117
@armstrongli i did not understand what you mean by this

from the other issue, the db size has become normal after defragmentation #7116

[2017-01-09 14:32] mitake commented on #7012
@ekle thanks for your testing and sorry I botched the PR during my cleanup... could you try it again?

BTW, did you update both of your client and your server? Did the log of server spam the same "invalid auth token..." message?

[2017-01-09 14:43] ekle commented on #7012
only the client. i was not aware that i had to update the server too.
yes the message was the same.

[2017-01-09 14:45] mitake commented on #7012
I see. Then could you update both of your components with the latest version of the PR?

[2017-01-09 15:21] vimalk78 commented on #7100
- v2 endpoints :
   - not started by default, and user need to configure to start OR
   - started by default, but user can configure to disable it if needed
 - need to disable all v2 featues? v2 store/watch/ttl/proxy etc?

[2017-01-09 15:31] ekle commented on #7012
ok, updated the server and the client to c803baaf9b2b783f5e03e67fc9bb42d4fa730964. still not working

[2017-01-09 15:33] vimalk78 commented on #7109
you can see the changes here
https://github.com/vimalk78/etcd/commit/18ead9fab40730c652b0ea1b7c02e4cebf943a07

[2017-01-09 16:20] mitake commented on #7012
Thanks for your testing again. Is it possible to share your client code? If it is possible, I'd like to know RPCs used by your client. The information will be useful for reproducing the problem on my side.

[2017-01-09 16:43] heyitsanthony commented on #7100
@vimalk78 it would be started by default, but there would be an option to disable it. Eventually v2 will be off by default, then after that totally removed from the core etcd code.

[2017-01-09 16:51] heyitsanthony commented on #7109
@vimalk78 I don't understand the advantage to that patch and it is also has a data race. I'm not sure it's correct-- won't reads be notified based on requests made before the read was issued by the client, instead of after? That seems to violate linearizability.

[2017-01-09 17:53] gyuho commented on #7117
Did you add other members later? How did this happen?

Also see https://github.com/coreos/etcd/blob/master/Documentation/op-guide/maintenance.md#space-quota.

[2017-01-09 17:58] heyitsanthony opened #7122 "TestGRPCStreamRequireLeader: err = EOF, want nil"
via https://semaphoreci.com/coreos/etcd/branches/master/builds/1405
[code]

[2017-01-09 18:16] vimalk78 commented on #7109
hmm, a request which should have got a readIndex of 20 might get a readIndex of 15, which will be applied faster, and will make the range request be served faster than it should, so reads incorrect data. i see your point.
i was thinking it will make the batch size larger (of the requests waiting for a readIndex) but it will not. it will only affect the beginning of the next batch, not its size.
my

[2017-01-09 18:16] #7109 closed

[2017-01-09 19:17] heyitsanthony commented on #7114
As you noticed, watch only works on keys, not directories. v2 is feature frozen so there's no plan to support watching on directory create/delete.

[2017-01-09 19:17] #7114 closed

[2017-01-09 19:35] xiang90 commented on #7116
@armstrongli etcd should not ever get into this state. can you easily reproduce this? do you still have that 11GB data around?

[2017-01-09 20:45] heyitsanthony opened #7123 "add marker to CI"
Don't let doc links break ever again: https://crates.io/crates/marker

[2017-01-09 21:35] heyitsanthony opened #7124 "auth spins forever on bad user and empty roles"
[code]
(etcd server spins at 100%)

[2017-01-09 22:16] heyitsanthony opened #7125 "alarm: CORRUPT"
As part of integrity checking, etcd could raise a `CORRUPT` alarm if it detects potential cluster corruption.

[2017-01-09 22:23] fanminshi commented on #7049
@armstrongli sorry for the delay, let me check.

[2017-01-10 03:11] #7124 closed

[2017-01-10 06:51] vimalk78 commented on #7100
changes :
embed/config.go - introduce a config item, disablev2, default value - false. (later default value changed to true)
embed/serve.go - serveCtx.serve : based on new config item, conditionally handle creating v2 endpoints

if no one is working on it, can you assign to me?

[2017-01-10 09:25] armstrongli commented on #7116
@xiang90 I'm trying to reproduce it. It happens for twice. So I raise it here.
The db size of the member recover back to normal size after defragment. The locale of the scenario has gone.

What I have done on the cluster is to upgrade it from 2.2.1 to 3.0.15 in one kubernetes cluster.

[2017-01-10 11:33] idonin opened #7129 "etcdctl v3: --write-out doesnt ignored on role/user get/list"
`etcdctl version: 3.0.15
API version: 3.0`

`# ETCDCTL_API=3 etcdctl -w json role get development
Role development
KV Read:
	[/datasources/development/, /datasources/development0)
KV Write:
	[/datasources/development/, /datasources/development0)`

Same with role get; role list; user get; user list

[2017-01-10 11:39] mitake commented on #7129
@idonin thanks for your report! It is on my todo list, I'll work on it ASAP.

[2017-01-10 11:42] idonin opened #7130 "question: how can i prove that existing user have correct password?"
I working on [salt](https://saltstack.com) state for etcd v3 user management, so I need a way to test existing etcd user:password pairs in etcd with pair, stored in salt.

So two questions:
1. Which hash algorithm used for passwords in etcd v3?
2. How can i get user:password pairs from etcd v3?

[2017-01-10 11:43] idonin commented on #7129
I'm glad to hear it!

[2017-01-10 11:50] mitake commented on #7130
etcd is using bcyrpt for storing password in a safe manner. You can find a detail of the algorithm and the implementation here: https://godoc.org/golang.org/x/crypto/bcrypt

The password cannot be read from etcd for the security reason. Isn't getting a list of users enough for you?

[2017-01-10 14:58] ekle commented on #7012
sorry, i cannot share the code.
i use only the KV-RPCs with leases and this transaction:
cmp = v3.Compare(v3.Value(key), "=", value)
put = v3.OpPut(key, value, v3.WithLease(leaseId))
get = v3.OpGet(key)
resp, err = ETCD.Txn(ctx).If(cmp).Then(put).Else(get).Commit()

i tried to reproduce the problem with just one etcd-instance by restarting it, but it didn't work.

[2017-01-10 15:06] idonin commented on #7130
List of users do not enough, because i want to test user have same password as I want to set or not.
Any other option to get password? Not necessary via etcd API, we can use unix utility as well

[2017-01-10 15:12] mitake commented on #7130
Then how about creating a small command that just calls `Authenticate()` RPC with given username and password? Password cannot be read directly but you can check the password is correct or not by the result of RPC (if it is successful, you can say correct password is configured).

[2017-01-10 15:13] mitake commented on #7012
Thanks for your sharing. And I noticed that the PR doesn't add a retry mechanism to lease and some other RPCs... I'll update it for the purpose tomorrow.

[2017-01-10 16:16] necro351 opened #7131 "waiting until capable"
Dear CoreOS developers,

I am writing a service that uses etcd clientv3 and embed packages. The service is written in go and has etcd embedded in it. I have some unit tests that start three etcd embed instances together, locally, on the same machine. I want to wait until requests to these instances will succeed and not fail with "etcdserver: not capable". Currently all three instances wait until '

[2017-01-10 16:23] Bplotka opened #7132 "Negative TTL problem on macOS [etcd v2.3.7]"
Simple TTL usage with single local `etcd` does not work on the newest macOS version. Works for every Linux distro I tested, though. Only valid for `etcd v2.3.7`. Older `v2.3.6` seems to work. Darwin build for `2.3.7` is somehow malformed?

**System**:
[code]
**Steps to reproduce**:
On macOS machine:
1. Install etcd using steps stated here: https://github.com/coreos/etcd/releases/tag/v2.3.7
[code]

[2017-01-10 16:32] idonin commented on #7130
You are genius! I think, thats will work, thanks. :)

[2017-01-10 16:41] xiang90 commented on #7116
@armstrongli The defrag just fixes the symptom. The size should not be unbalanced (~10 MB difference is possible) at that at the first place. It would be great if you can reproduce it.

Does the leader's db size become 11GB right after the migration? Or it grows to 11GB eventually? If the later, how long does it take to grow to 11GB? Hours? Days?

[2017-01-10 16:45] heyitsanthony commented on #7129
@mitake @idonin I overhauled etcdctl output the other week. JSON output for auth commands should be in master now and will be in 3.1.

[2017-01-10 17:03] heyitsanthony commented on #7100
@vimalk78 I recall some etcd server internals needing a v2 endpoint to bootstrap, so it might not be that simple. You can give it a try, though.

Only remark on that approach is `serveCtx` shouldn't have direct knowledge of `embed.Config`. Probably make the cut at embed/Etcd.serve by nil'ing out the http handler based on the new config field and have `grpcHandlerFunc` check for nil.

[2017-01-10 17:57] heyitsanthony commented on #7131
@necro351 it's expected behavior. It's happening because the server defaults to only v2 then negotiates up to v3.  The easiest workaround is to poll `etcd.Server.ClusterVersion` until it's >=3.0, but that's not a long-term solution.

EtcdServer doesn't have an interface for waiting on a version, but I'm not sure it's the best thing to have since waiting like:
[code]
would require a full cluster up

[2017-01-10 18:00] xiang90 commented on #7131
@heyitsanthony for 3.1, the default version is 3.0. so users won's see not capable for 3.0 api.

[2017-01-10 18:11] heyitsanthony commented on #7131
@xiang90 are you sure? I believe there's a race-- the cluster version initializes to nil and is updated asynchronously in `monitorVersions`. There's no synchronization on that version update, so it seems there's a window where the client can make API requests and the cluster is still in `to_be_decided` so v3 requests will be rejected.

[2017-01-10 18:24] xiang90 commented on #7131
@heyitsanthony You are right, there still can be a window that the version is "to_be_decided". I think we can change the default to 3.0 from "to_be_decided". Do you remember the reason we still set it to "to_be_decided" when we bump from 3.0 to 3.1-alpha?

[2017-01-10 18:27] heyitsanthony commented on #7131
@xiang90 there were a few versioning issues with the bump, so the `to_be_decided` bit was probably forgotten in the ensuing panic.

[2017-01-10 19:28] necro351 commented on #7131
Thanks guys, this is very helpful! Based on your suggestion I stuck in some code like this:

   requiredVersion := semver.New("3.0.0")
   clusterVersion := d.etcd.Server.ClusterVersion()
   for clusterVersion == nil || clusterVersion.LessThan(*requiredVersion) {
      time.Sleep(time.Second)
      clusterVersion = d.etcd.Server.ClusterVersion()
   }

Now my tests always run, magna gratia!

[2017-01-10 19:28] #7131 closed

[2017-01-10 21:17] xiang90 commented on #7132
@Bplotka Can you build from source with go 1.7.2 on Darwin 16.3.0? See if it solves the problem?

[2017-01-10 21:19] xiang90 commented on #7132
@Bplotka I think you might meet this issue https://github.com/golang/go/issues/16570

[2017-01-11 01:43] armstrongli commented on #7116
@xiang90
it grows to 11GB eventually. And it takes weeks to grow to 11GB.

[2017-01-11 01:48] xiang90 commented on #7116
@armstrongli Is it still growing now after your defrag?

[2017-01-11 01:53] armstrongli commented on #7116
@xiang90 Not yet. The cluster runs for weeks until exceeds database space. It runs only 2 days.
Please keep this issue open until I encounter this issue again.
I'll write the operations I have done on the cluster to provide details to help you debug etcd .

[2017-01-11 01:56] armstrongli commented on #7117
No. Those members are added months ago. And they have been running for weeks. I didn't notice that until exceeded database space.

The space size decreased to 3.7 MB from 11 GB after defragment. Then catch up with other members to 57MB after minutes.
cc @xiang90

[2017-01-11 01:57] xiang90 commented on #7116
@armstrongli 11GB/x weeks where x < 5 ~ 2GB/week ~ 300MB/day. You should be able to notice even for 2 days it if it continues to grow, I guess.

[2017-01-11 02:31] mitake commented on #7130
Good, then I'm closing this issue. If you find problems in the future, please reopen or add another issue.

[2017-01-11 02:31] #7130 closed

[2017-01-11 04:59] armstrongli opened #7134 "Cluster gets into readonly if adding another member but not starting the member"
ETCD cluster gets into readonly mode if adding another member but not starting the member.

The member is in `unstarted` state, so it shouldn't be counted into raft mode before they become followers. Just like that teenagers don't have vote right until they grow up to adults.

[code]

[2017-01-11 06:50] xiang90 commented on #7134
You should start etcd right after you added it into the cluster vie etcdctl. We do not feel it is necessary to introduce the additional stage. Basically, etcd does not need to grow up. It is born to be a adult.

[2017-01-11 06:50] #7134 closed

[2017-01-11 06:54] xiang90 commented on #7134
Additionally, if you want your etcd cluster to be highly available you should start a 3 members cluster. One member cluster is not recommended to be used in production. Even if you want to start etcd servers one by one, you should only consider the etcd server ready when you have all three members up.

[2017-01-11 10:49] armstrongli commented on #7134
@xiang90 the ETCD member shouldn't be adult directly until it starts the first time.
the cluster doesn't have the client URLs until the member starts up.
so i think the cluster shouldn't take the unstarted members into raft members count

[2017-01-11 15:06] idonin commented on #7130
P.S. I found that all users have permissions to `member list` command(if login:password correct ofc), so if anyone else looking for same workaround, using `etcdctl member list` is viable.

[2017-01-11 15:16] idonin opened #7135 "question: does etcd v3 transfer password in plaintext or in hash over gRPC?"
In another words: etcd convert password in hash on client and then comparing hashes on server side or on server side?

(client: password --> hash; server: hash <-> hash_stored)  or (server: password_received --> hash; hash <-> hash_stored)

[2017-01-11 17:02] heyitsanthony commented on #7135
@idonin it's plaintext to authenticate and a token thereafter. See https://github.com/coreos/etcd/blob/master/Documentation/dev-guide/api_reference_v3.md#message-authenticaterequest-etcdserveretcdserverpbrpcproto

[2017-01-11 17:02] #7135 closed

[2017-01-11 17:36] kragniz opened #7136 "get requests intermittently timing out on v3.1.0-rc.1"
I've got a few CI jobs for python-etcd3, some of which run against etcd 3.1.0-rc.1. I've observed that [the test](https://github.com/kragniz/python-etcd3/blob/e060be9f18ba945d861aa13d1a8768f558a171aa/tests/test_etcd3.py#L81-L85) for getting values out of etcd is flaky against v3.1.0-rc.1.

It's not really a problem for me, but there's a discrepancy between the reliability of this and v3.0.13 (the

[2017-01-11 18:16] xiang90 commented on #6928
See another one

[code]

[2017-01-11 20:00] fanminshi commented on #7049
Usage of the v2 output is shown here, https://github.com/coreos/etcd/blob/master/Documentation/op-guide/runtime-configuration.md#add-a-new-member

The v2 add member output generates necessary env variables to help user to start the newly added member.

The v3 is missing that.

[2017-01-11 22:15] 21stio commented on #6679
Same for me. I am using the golang client github.com/coreos/etcd/clientv3 version: ^3.1.0-rc.1 and the etcd server Version: 3.0.15.

Any hint what might be wrong? All the worker are hanging.. Would be nice if one would not :)

[2017-01-11 22:19] heyitsanthony commented on #6679
@21stio the 3.1 client is using API features that aren't supported by 3.0. Either downgrade the client or upgrade the cluster.

[2017-01-11 22:34] mwf opened #7140 "etcd v3 client - getting the latest revision"
Hi!

A little question - how can I get the value with the latest revision? I don't care about the key, just the revision.

Logic tells it should work like this
`client.Get(context.Background(), "", clientv3.WithLastRev()...)`

But it returns an error "etcdserver: key is not provided"

Though we are able to get **all** keys using etcdctl:
`ETCDCTL_API=3 etcdctl get "" --prefix`

I'm using the lates

[2017-01-11 22:40] mwf commented on #7140
Tried another way `client.Get(context.Background(), "", clientv3.WithSort(clientv3.SortByModRevision, clientv3.SortDescend), clientv3.WithLimit(1))` - it returns the same error.

Though Watch works OK with empty key :)

[2017-01-11 22:42] xiang90 commented on #7140
get whatever key, check the revision in the header?

[2017-01-11 22:46] heyitsanthony commented on #7140
@mwf the options for etcdctl are out of order-- it is interpreting `--prefix` as an argument, not a flag.

You want the value of the last key stored to the entire etcd cluster? That is a very expensive operation at the moment because it has to process every key, but OK:
[code]
or

[code]

[2017-01-12 05:56] mitake commented on #7129
@heyitsanthony sorry I missed the commit... and thanks a lot for doing this!
@idonin So the auth related commands of the latest master can handle `--write-out` already :) I'm closing this.

[2017-01-12 05:56] #7129 closed

[2017-01-12 06:25] mitake commented on #7012
@ekle could you try the latest https://github.com/coreos/etcd/pull/7110 ? It resolved problems related to lease RPCs so I hope it works fine for your client.

[2017-01-12 06:39] XMAN-WOMBAT opened #7143 "V2 watch on the dir"
hi，all：
        What should i do ,when i watching on the machine(A) dir through curl  ,but the machine(B) is down。In this case, the client is still in a blocked state。

[2017-01-12 08:22] armstrongli commented on #7134
What if the speed of typing is a little slow? Then I need to start everything again from the beginning. The root cause of that is `your typing is toooooooo sloooooow`.
What's more, I need to create a new cluster by force with the `old data`. That's nightmares for me

[2017-01-12 12:28] ekle commented on #7012
the good thing first: i don't have to restart the client anymore to recover.
the bad thing: when i do a rolling updated of the etcd-cluster, sometimes the nodes lose the auth-enabled status. don'k know if this is releated.

[2017-01-12 14:29] heyitsanthony commented on #7143
Put a timeout on curl and switch to the other machine's endpoint if the request times out? V2 watchers aren't reliable in this case so it'll probably miss events.

[2017-01-12 17:07] 21stio commented on #6679
thanks, so client v3.0.15 will work with server v3.0.15 then?

[2017-01-12 17:08] heyitsanthony commented on #6679
Yes. The v3.0.15 client will also work with 3.1.

[2017-01-12 19:01] gyuho commented on #7136
Please see https://github.com/coreos/etcd/blob/master/Documentation/faq.md#what-does-the-etcd-warning-apply-entries-took-too-long-mean

[2017-01-12 19:03] heyitsanthony commented on #7136
@gyuho it was working fine with 3.0, though. It's getting request timeout errors, not only warnings-- this might be something different.

[2017-01-12 22:27] heyitsanthony commented on #7134
What counts as "started"? If the new member sends a "started" message to the cluster when it first boots, it seems like that's no different from issuing `etcdctl add member` when starting the new member; there'll still be a temporary window where quorum increases before the new member begins participating in raft. If that's the case, then an "unstarted" mode is unnecessary; it would complicate the

[2017-01-13 01:32] XMAN-WOMBAT commented on #7143
@heyitsanthony The miss event can be resolved through the watch event index？

[2017-01-13 02:57] #7012 closed

[2017-01-13 03:20] mitake commented on #7012
@ekle thanks for testing. And the latter problem would be a different topic from this PR (I could also reproduce the problem). I'll open another PR for it later.

[2017-01-13 09:17] berry2012 opened #7149 "Failed to start etcd2. skipped unexpected non snapshot file 0000000000000010-00000000057bf29f.snap.broken"
After server automatic upgrade to (CoreOS stable (1235.6.0)), etcd2 could no longer start.
fleetctl list other available machines in the cluster but not this server.
File seems full /dev/vda9       38216204 36592544      5188 100% /
I noticed broken snapshots.

sos-3 snap # ls
0000000000000010-00000000052c3075.snap.broken  0000000000000010-00000000057be1d1.snap.broken  0000000000000010-00000000057

[2017-01-13 10:46] gmarek opened #7150 "panic during etcdctl backup"
We've run into a problem while doing etcd backup while testing head kubernetes with etcd 3.0.14 image.

Stacktrace attached:
[code]

cc @mml @hongchaodeng @xiang90 @wojtek-t @smarterclayton @lavalamp @roberthbailey

[2017-01-13 14:36] mwf commented on #7140
@heyitsanthony thank you, it's what I was looking for :) If it's so expensive I won't really use it, but anyway it's good to have such opportunity.
"\x00" is not obvious at all...

[2017-01-13 14:36] #7140 closed

[2017-01-13 15:55] dalu commented on #3255
What if there is no cluster, it still writes to disk every 500ms, update or not.

[2017-01-13 16:02] xiang90 commented on #7150
@gmarek What is the version of etcdctl are you using?

[2017-01-13 16:14] gmarek commented on #7150
3.0.14 AFAICT

On Fri, Jan 13, 2017 at 5:02 PM, Xiang Li <notifications@github.com> wrote:

[2017-01-13 16:29] xiang90 commented on #7150
Example data dir?

I guess this is because the data dir still contains some 2.3.7 wal data. etcdctl tries to open it up with a later version of wal pkg, and it panics. But we probably need more information to confirm.

/cc @heyitsanthony

[2017-01-13 16:56] heyitsanthony commented on #7150
@xiang90 3.0 wal can read 2.3 wal, otherwise upgrade wouldn't work. This is etcdctl from 2.3.x:

2.3 decoder.go:55,
[code]

3.0 decoder.go:55,
[code]

[2017-01-13 17:11] xiang90 commented on #7150
@heyitsanthony It should. But I suspect that there might be a bug somewhere. But I double checked the code as you did, and I agree with you now.

@gmarek Can you double check you are using etcdctl 3.0.14? From the panic logging, you use etcdctl 2.3.x.

[2017-01-13 17:34] gmarek commented on #7150
Yup:
gcr.io/google_containers/etcd                      3.0.14-alpha.1
          f7f5b1969fb5        3 weeks ago         175 MB

On Fri, Jan 13, 2017 at 6:11 PM, Xiang Li <notifications@github.com> wrote:

[2017-01-13 17:47] heyitsanthony commented on #3255
@dalu this was fixed by fcbfff6a000c3c58e42caeb3ecc8b1398ea6fdf3; it will be included in 3.1.0.

[2017-01-13 18:05] #7082 closed

[2017-01-13 18:21] lavalamp commented on #7150
@wojtek-t or @mml can confirm, but I believe we build multiple versions of
etcd into that container and run the one corresponding to the data on the
disk. So it could well be 2.3.7 etcd?

On Fri, Jan 13, 2017 at 9:35 AM, Marek Grabowski <notifications@github.com>
wrote:

[2017-01-13 18:23] berry2012 commented on #7149
unfortunately i don't.
There are 2 other servers in the cluster which recently upgraded and they are both fine

[2017-01-13 19:07] heyitsanthony commented on #7143
@XMAN-WOMBAT yes, but it can lose the window.

V3 is a flat keyspace; it doesn't have directories (although they can be emulated by imposing some structure on the key names). The V3 data model ensures the watch window won't be lost unless there's an explicit compaction the store.

[2017-01-13 20:44] gyuho commented on #7086
We now include app signing key link in our release notes.

https://github.com/coreos/etcd/releases/tag/v3.0.16

Thanks!

[2017-01-13 20:44] #7086 closed

[2017-01-13 21:03] xiang90 commented on #6667
@heyitsanthony I think this is due to the empty user thing you just fixed. Can you help to confirm? Thanks!

[2017-01-13 21:47] gyuho opened #7152 "clientv3/naming: breaks with new 3.2.0+git version string"
`TestGRPCResolver` fails

[code]

And bunch others

https://semaphoreci.com/coreos/etcd/branches/master/builds/1428

[2017-01-13 21:51] xiang90 commented on #7152
We need to add the capability map in api pkg.

[2017-01-13 22:01] heyitsanthony opened #7154 "etcdserver: default to V3 capability"
Get rid of the `not capable` race for v3 requests due to starting at v2 and negotiating up.

[2017-01-13 22:32] heyitsanthony commented on #6667
With patch:
[code]

Without patch: hangs.

Looks like it's fixed. Closing.

[2017-01-13 22:32] #6667 closed

[2017-01-13 22:34] xiang90 opened #7156 "put performance for 1 client"
GCE Standard8 with SSD

Hardware stats:

1. fsync 256B ~ 600us
2. ping RTT ~ 300 us
3. gRPC pingpong ~ 300us

The idea throughput of 1 client 256B put is roughly:

1second/ [RTT (between client + leader) + RTT (between leader + follower) + fsync (blocking to wait for entry to be persisted to ack back to leader)]

= 1second / (300 + 300 + 600 ) us = 1 second / 1200 us = 833 requests/second.

There

[2017-01-13 22:36] xiang90 commented on #7156
gRPC pingpong tests show that gRPC introduces ~200us latency.

[2017-01-13 22:59] #7152 closed

[2017-01-13 23:05] xiang90 commented on #7156
@sinsharat It would be great if you can get some data on your hardware with HDD. We need fsync duration(https://github.com/ongardie/diskbenchmark) + rtt (netperf) besides etcd data. This can help us improve etcd performance under light load.

[2017-01-13 23:42] xiang90 commented on #7074
@sinsharat I am closing this out:

your two issues found in benchmark are better captured here:

https://github.com/coreos/etcd/issues/7156
https://github.com/coreos/etcd/issues/7083

[2017-01-13 23:42] #7074 closed

[2017-01-13 23:45] xiang90 commented on #7074
@sinsharat If there are other performance concerns, let us know.

[2017-01-14 00:01] gyuho opened #7158 "grpcproxy: goroutine leaks with ccache in TestBarrierSingleNode"
[code]

[2017-01-14 00:02] #6848 closed

[2017-01-14 04:04] xiang90 commented on #7156
Now I tried a two member cluster on the same GCE environment with remote client:

Performance drops dramatically:

- To leader : 575 requests / second (1.7ms)
- To follower: 475 requests / second (2.1ms)

[2017-01-14 05:05] xiang90 commented on #7156
I traced down everything.

So

0 client -> leader put
50 leader receives put
50 leader sent append to follower
50 leader -> fsync
450 follower received append from leader (This is unexpected. This should be equal to client -> leader ~ 50us)
650 leader finished fsync
1060 follower finished fsync
1060 follower sent append response back to the leader
1460 leader received append response
1460 leader c

[2017-01-14 05:43] xiang90 commented on #7156
I can reproduce this locally on my machine using rafthttp/BenchmarkSendingMsgApp. Even on local network the delay is 300us... this is clearly wrong.

[2017-01-14 06:27] sinsharat commented on #7074
@xiang90 sure will do that. We are yet to do load test for watchers. Let me discuss with the team on monday when do we plan to do it.
Thanks!

[2017-01-14 06:31] sinsharat commented on #7156
@xiang90 Sure will try to provide you with the details.

[2017-01-14 06:43] XMAN-WOMBAT commented on #7143
@heyitsanthony Thanks!

[2017-01-14 06:43] #7143 closed

[2017-01-14 13:37] arthurkiller opened #7161 "#NEED HELP# got a revision less than expected"
Sorry for bother, but I get a question here.
while I working with etcd3 transaction . I make a compare about key's revision and use as ctx.If() condition.

But I get the key's revision before commit and it is larger than the revision while ctx process to If()!!!

[code]
just like codes above, only 1 write operation in this situation

But it doesn't equal !

And it equals to rev-1 !!!!!

So is ther

[2017-01-14 15:19] arthurkiller commented on #7161
But I can not repeat the test code beyond my project... How could this be.

[2017-01-14 17:37] xiang90 commented on #7161
Resp.revision is the current revision of the store, not the revision of your key. You need to get the key's revision to compare against. kv.ModRev from get response is the key's revision.

[2017-01-14 17:37] #7161 closed

[2017-01-14 17:39] xiang90 commented on #7136
@kragniz Can you easily reproduce this out of your test suite with a simple go or python program that I can compile/run on my local machine?

[2017-01-15 00:53] xiang90 opened #7162 "rethink about log compaction"
Now we compact raft log every 100,000 entries.

So we will keep at most 100,000 entries in-memory.

Keeping more entries in memory is good for fast follower recovery. If a follower dies, and it restarts within 100,000 entries lagging to the leader, the leader can send entries to followers without triggering a snapshot sent. Sending a snapshot is usually more expensive than sending entries.

Howeve

[2017-01-15 01:01] xiang90 commented on #6971
@shuqilou If you start etcd statically, all members need to be configured as "new". Please check our clustering doc:

https://github.com/coreos/etcd/blob/master/Documentation/op-guide/clustering.md#static

I am closing this issue since it seems this is a misconfiguration.

If you still face the same issue, please attach the configuration, logging of all members.

[2017-01-15 01:01] #6971 closed

[2017-01-15 01:01] xiang90 commented on #6508
@jwaldrip kindly ping. We need to hear about the use case to prioritize the issue.

[2017-01-15 01:22] arthurkiller commented on #7161
thx，and how can I find the difference between these revision? Is there any document to introduce them? @xiang90

[2017-01-15 01:55] #7149 closed

[2017-01-15 14:13] mitake opened #7165 "auth enabled/disabled state can be lost after node reboot"
After node reboot, sometimes the state of auth enabled/disabled can be lost. Reported by @ekle https://github.com/coreos/etcd/issues/7012#issuecomment-272151232

[2017-01-16 02:32] mkumatag commented on #6818
ping @xiang90 @heyitsanthony

[2017-01-16 03:15] ravigadde opened #7166 "Start a Session with existing lease"
A client uses a session for election, becomes the leader and then restarts. Would it be possible for the client to reclaim the leader role on restart? Assume the client can figure out the existing lease id after restart. If the session can be restarted with existing lease id, the client can maintain leadership for that election.

cc @xiang90

[2017-01-16 03:16] ravigadde commented on #7166
If there is interest, I can try to make the changes and submit a patch.

[2017-01-16 03:19] xiang90 commented on #7166
@ravigadde Quick reply: I think this is a reasonable feature requirement. This is one of the reason we make lease ID logic so that multiple instances or a restarted instance can pick it up. Probably we can add a WithPreviousLease option into NewSession.

[2017-01-16 03:43] lijunfei opened #7167 "watch delete event"
clientv3: the delete event can return value of key?

[2017-01-16 06:31] vimalk78 commented on #7167
i think the Watch event will not have the value of the key.
the Event will have the `ModRevision` which points to the latest revision (in which the key has been deleted).

[2017-01-16 06:57] mitake commented on #7162
It seems to be interesting and important. logcabin configures the trigger based on both of size and a number of not snapshotted entries (although taking a snapshot is triggered when all of the conditions are satisfied): https://github.com/logcabin/logcabin/blob/master/Server/StateMachine.cc#L593

I also think that even a number of entries are small, replaying them on revived followers can be longe

[2017-01-16 08:15] berry2012 commented on #7149
Hi @xiang90 the #5540 is not self explanatory.
Do you mind sharing a step by step approach to resolving this?

Thanks

[2017-01-16 09:30] wojtek-t commented on #7150
I'm pretty sure the issue is purely on our side.
I'm 99% sure that the reason of it is that:
- we are using 3.0.14 etcd server
- but for backups in GKE we are still using 2.*.* etcdctl. The mechanism for fixing it was already in GKE, but we reverted it due to other problems. The internal cl to fix it is already in-flight. So let's close it for now - will reopen if we know that this is a real issue

[2017-01-16 09:40] dearboll opened #7168 "How the etcdctl backup handle Disaster Recovery?"
Hi all, I am reading the etcd admin doc but confused about the Disaster Recovery operations.  As the document says, the first step is backup the data directory, which will rewrite some metadata of the member such as ClusterID and MemberID. Second, to restore the backup, we should start etcd with the -force-new-cluster option and use the backup directory. This will initialize a new cluster but pres

[2017-01-16 09:54] kragniz commented on #7136
Yeah, I'll create a little python script to try and reproduce.

[2017-01-16 10:52] kragniz commented on #7136
Here's the equivilant code that the test is running:

Save this somewhere like timeout_reproducer.py

[code]

run it with:

    $ virtualenv -p python3 /tmp/etcd3env
    $ source /tmp/etcd3env/bin/activate
    $ pip install etcd3 hypothesis
    $ python timeout_reproducer.py

[2017-01-16 11:57] sinsharat commented on #7156
@xiang90 for our hardware please find below the details:
Hardware stats:
fsync ~ 70MB/s
ping RTT ~ 220 us
gRPC pingpong ~ How did you get this data? I tried https://github.com/denderello/ping-pong-grpc but it doesn't give the time.

[2017-01-16 14:16] berry2012 opened #7169 "Upgrading etcd cluster 2.3 to 3.0"
I have 3nodes in my cluster

1 returned
curl -L http://127.0.0.1:4001/version
curl: (7) Failed to connect to 127.0.0.1 port 4001: Connection refused

2 returned
curl -L http://127.0.0.1:4001/version
{"etcdserver":"2.3.7","etcdcluster":"2.3.0"}

As advised to upgrade the cluster to 3.0 to resolve the issue of the node returning connection refused since it couldn't start etcd2 service due to maybe b

[2017-01-16 16:33] #7150 closed

[2017-01-17 06:51] ravigadde commented on #7166
Thanks @xiang90

[2017-01-17 16:52] hdfeng265 opened #7171 "etcdctl member list ==> Failed to get leader: client: etcd cluster is unavailable or misconfigured"
etcdctl member list ==> Failed to get leader:  client: etcd cluster is unavailable or misconfigured

version: etcdctl version 2.3.7
OS: CentOS7
cluster has two node: centos1 centos2
use Static mechanism to bootstrap cluster

centos1 is master,can start normally,but is unhealthy,can't access via etcdctl,any operation is failed
logs on centos1
1月 18 00:35:31 centos1 etcd[7426]: ce2a822cea30bfca is s

[2017-01-17 17:10] gyuho commented on #7171
You may not add 1 member to 1-node cluster since it immediately loses its quorum, so loses it leader.

Also see https://github.com/coreos/etcd/issues/6114 and https://github.com/coreos/etcd/issues/5940.

[2017-01-17 17:12] gyuho commented on #7169
`Drop-in` means start the same etcd command with same etcd flags (same `--data-dir` or `--wal-dir`).

Did you have any error logs in etcd2 service?

[2017-01-17 17:20] gyuho commented on #7168
Restoring a cluster from backup snapshot launches a new cluster, so the former cluster identities are overwritten; see https://github.com/coreos/etcd/blob/master/Documentation/op-guide/recovery.md#restoring-a-cluster.

It is recommended to remove a member first; see https://github.com/coreos/etcd/blob/master/Documentation/faq.md#should-i-add-a-member-before-removing-an-unhealthy-member.

[2017-01-17 17:57] xiang90 commented on #7169
it means replace your old binary with new binary file: copying the new file to the current etcd binary location.

[2017-01-17 17:57] #7169 closed

[2017-01-17 18:00] xiang90 commented on #7167
@lijunfei You can set PrevKV in watch: see https://github.com/coreos/etcd/blob/master/etcdserver/etcdserverpb/rpc.proto#L620-L622.

It is supported in the latest version of 3.0 and after.

[2017-01-17 18:00] #7167 closed

[2017-01-17 18:15] #7049 closed

[2017-01-17 18:25] heyitsanthony commented on #7161
@arthurkiller this is documented in at least two places already:

The glossary:
* etcd revision -- https://github.com/coreos/etcd/blob/0ca0260c89b52fd09af1d981842e1750c80339ac/Documentation/learning/glossary.md#revision
* modification revision -- https://github.com/coreos/etcd/blob/0ca0260c89b52fd09af1d981842e1750c80339ac/Documentation/learning/glossary.md#modification-revision

The v3 rpc API doc

[2017-01-17 18:30] xiang90 commented on #7061
this is already posted to the mailing list. We will continue the discussion there.

[2017-01-17 18:30] #7061 closed

[2017-01-17 20:12] #7080 closed

[2017-01-17 21:40] fanminshi commented on #7136
@kragniz which etcdctl version are you running? I run your script with etcd(darwin) binaries downloaded from https://github.com/coreos/etcd/releases/tag/v3.1.0-rc.1. I didn't see any errors. does your script produce error everytime?

[2017-01-17 22:37] 21stio commented on #6679
Thanks, got it to work! :) Great stuff, thanks a lot

[2017-01-17 23:07] xiang90 commented on #7116
@armstrongli Any updates on this?

[2017-01-17 23:31] mshahpalerra opened #7177 "CoreOs cluster restarted all containers due to etcd errors"
Hello
  We just saw a pretty server issue on our production CoreOs setup. Details are:

- 3 CoreOs nodes running in AWS EC2 Us East1
- m3.2xlarge instance types
- CoreOS nodes - 2 are DISTRIB_RELEASE=1068.2.0 and 1 is at DISTRIB_RELEASE=1081.5.0
- etcd version 0.4.9
- we have auto update disabled on CoreOs
- Around 21:56 UTC on Jan 17 we saw all our containers go down and the logs seemed to sugges

[2017-01-18 00:07] heyitsanthony commented on #7177
A few things:

* Some clients are trying to access etcd either through an http endpoint or with the wrong certs:
[code]

* The etcd cluster is still accepting writes; it appears healthy:
[code]

* fleet appears to be spinning on very out-of-date revisions:
[code]

* 0.4.9 is ancient and is officially slated to be EOL'd: https://coreos.com/blog/toward-etcd-v3-in-container-linux.html

Is there any e

[2017-01-18 00:08] #7136 closed

[2017-01-18 00:12] kragniz commented on #7136
Thanks!

[2017-01-18 00:21] gyuho opened #7178 "pkg/report: panic when a lot of error happens"
When a bunch of `zk: node already exists` error happens

[code]

Might be Go bug...

[2017-01-18 00:23] mshahpalerra commented on #7177
@heyitsanthony thanks for the quick response:

- Some clients are trying to access etcd either through an http endpoint

- When you say fleet is spinning on old revisions - can you provide some more insight here? Would we need to restart fleet daemon to recover? Sorry if these are dumb questions

- Point take on etcd update - will schedule that on our end (am guessing its a CoreOS upgrade in gener

[2017-01-18 00:24] mshahpalerra commented on #7177
Also should or can I move this issue to Fleet from etcd?

[2017-01-18 00:46] heyitsanthony commented on #7177
@mshahpalerra yes, probably file under http://github.com/coreos/fleet/issues

fleet is using a compare and swap on based on key revision to safely renew leadership:
[code]
Here, it's using a key that's behind by about 300k revisions. It's unclear to me why it's drifted by that much and why it's staying so far behind. It's possible etcd is returning bad indexes. @xiang90 might know whether somethin

[2017-01-18 00:57] mshahpalerra commented on #7177
@heyitsanthony  thanks - we did restart fleet - however we are still seeing:

Jan 18 00:50:34 ip-10-26-31-100.ec2.internal fleetd[20619]: ERROR engine.go:217: Engine leadership lost, renewal failed: 101: Compare failed ([378128986 != 378128996]) [378129072]
Jan 18 00:50:37 ip-10-26-31-100.ec2.internal fleetd[20619]: ERROR engine.go:217: Engine leadership lost, renewal failed: 101: Compare failed (

[2017-01-18 01:02] heyitsanthony commented on #7178
I think the bug is from here: https://github.com/coreos/dbtester/blob/e438ad3cc2964fce640ba0deab54c505ecd5a49a/control/step2_stress_database.go#L403

`b.report` is being reused and `Stats` is getting called repeatedly without collecting the result; it's launching multiple goroutines concurrently on the same data from `report`. Might want to run the race detector on it.

[2017-01-18 01:05] heyitsanthony commented on #7177
@mshahpalerra just file a new one. This can stay open in case it's an etcd bug.

The fleet keys for leader election have a ttl, which is effectively ephemeral.

[2017-01-18 01:23] gyuho commented on #7178
Yeah think this is on my side, since it changes the client number 100, 200, 300, and collect all the data at the end... Close for now. Will investigate more. Thanks.

[2017-01-18 01:23] #7178 closed

[2017-01-18 02:10] hdfeng265 commented on #7171
@gyuho i have see #6114 and #5940,and understand the concept of quorum
but i still don't know how to resolve this problem.
i want to remove member from centos1 to decrease quorum,but i can't access centos1

cluster-health

centos1 is unaccessable after i add centos2

[2017-01-18 02:13] mshahpalerra commented on #7177
@heyitsanthony  thanks - opened another issue - however we are seeing the below errors:

10.26.32.94 shows
ERROR engine.go:217: Engine leadership lost, renewal failed: 101: Compare failed ([378459038 != 378157064]) [378157073]

10.26.33.251 shows
Jan 18 02:10:53 ip-10-26-33-251.ec2.internal fleetd[924]: INFO reconcile.go:330: AgentReconciler completed task: type=ReloadUnitFiles job=N/A reason="alw

[2017-01-18 02:43] gyuho commented on #7171
@hdfeng265 If you added a wrong endpoint to 1-node cluster, there's no way to fix it right now.
We are planning to implement some protection in the future. Subscribe to this https://github.com/coreos/etcd/issues/6420 to track progress.

[2017-01-18 02:43] #7171 closed

[2017-01-18 03:27] armstrongli commented on #7134
@heyitsanthony
I propose to add another status for raft election which means the member hasn't been ready for vote.

I run everything on kubernetes cluster. There're scripts to start new etcd members. But the network can be unstable, the headbeat can be lost, etc. So we can't assume that etcd is running in one ideal env. And etcd is designed to tolerant such cases.
Then I encounter such case when

[2017-01-18 03:33] armstrongli commented on #7116
@xiang90 The data size doesn't change a lot after running my cluster for 1 week. Close this issue for now.
I'll provide more details if I encounter this issue for another time.

[2017-01-18 03:34] xiang90 commented on #7134
It is not. If you have a two members cluster, when you lose one member you lose the cluster. So I suggest you to start with 3. What you have described has nothing to do what the state. It only means that a two members cluster is a bad idea.

[2017-01-18 03:35] xiang90 commented on #7116
@armstrongli OK. I guess there is something with your initial setup or migration. Let us know if you meet this again.

[2017-01-18 03:42] armstrongli commented on #7134
@xiang90
I need to expand the master nodes of kubernetes from 1 to 5. The count increases from 1 to 5. The cluster gets down when I adding 2nd master node.
The etcd in master node is in static pod. The 1st master node initializes etcd cluster, and 2nd master node join into the etcd cluster.

[2017-01-18 03:48] xiang90 commented on #7134
That is fine, if your 2nd member dies you start all over again. You write a script and it should take you less than 1 minute. That is the drawback of your approach, and you have to realize it.

Adding the state is useless in your case. It just delays the failure, not solve it.

[2017-01-18 03:59] hdfeng265 commented on #7171
Disaster Recovery
https://coreos.com/etcd/docs/3.0.15/v2/admin_guide.html#disaster-recovery

[2017-01-18 05:04] armstrongli commented on #7134
@xiang90
If the member is teenager when it is added to the cluster, then the cluster keeps healthy.
After it started, it sync cluster info to its local storage. It grows up to adult. It has its own member info, and cluster info.
The cluster can get back after the 2nd member restarts cause it has the cluster info already, and it can get back into the cluster.

If the configuration of the new member

[2017-01-18 09:13] #7168 closed

[2017-01-18 09:13] dearboll commented on #7168
Thank you for your attention.

[2017-01-18 09:42] tianxiaoliang opened #7179 "How to Upgrade etcd."
If I want to upgrade from 3.0.15 to 3.0.16, Can I just use rolling update strategy? or just shutdown whole cluster and then upgrade? also in the future maybe I want to upgrade from 3.1 to 3.2. Is it possible to upgrade with  zero-downtime?

[2017-01-18 09:46] heyitsanthony commented on #6818
@mkumatag OK, I fixed the build URL to point to the public address (https://jenkins-etcd-public.prod.coreos.systems/) on PRs.

[2017-01-18 09:57] mkumatag commented on #6818
@heyitsanthony Can you help me understand the requirements to add ppc64le slave into this jenkins setup. The expectation is to run all the tests on ppc64le slave on every PR.

[2017-01-18 13:19] mwf opened #7180 ""/x/net/context" in go1.7+"
Hello!

I've got such a problem with go1.7+ and glide for vendoring.

If I set the only dependency on etcd and use "context" from go1.7 standart lib, I'm risking to hit a panic from grpc-go.
`panic: Unexpected error from context packet: context canceled`
It happens since they switch on context error: https://github.com/grpc/grpc-go/blob/master/transport/transport.go#L573

It happens because etcd d

[2017-01-18 14:20] zbindenren opened #7181 "Member can be removed without authentication even when auth is enabled."
If authentication is enabled, removing a member from the cluster should not be possible.

We tested this with 3.1-rc1.

[2017-01-18 14:26] zbindenren opened #7182 "Member panics when adding a new member on first start."
1. Remove a member from cluster
2. Delete data directory
3. Start the member with initial_cluster_state=existing

This leads to a panic for the newly added cluster:

[code]

If we start the member again, everything works.

[2017-01-18 14:40] mitake commented on #7181
@zbindenren thanks for your report. The issue is solved in this PR: https://github.com/coreos/etcd/pull/6903
It is in the master branch but not backported to v3.1. Is it possible to backport the commits to the stable release? @gyuho

[2017-01-18 15:45] gyuho commented on #7179
See https://github.com/coreos/etcd/tree/master/Documentation#upgrading-and-compatibility.

Basically you can do rolling upgrade one node by one node.

[2017-01-18 15:45] #7179 closed

[2017-01-18 15:46] gyuho commented on #7182
Could you share your environment (etcd version, OS, ...)? Thanks.

[2017-01-18 15:50] gyuho commented on #7181
@mitake https://github.com/coreos/etcd/pull/6903 is already in `release-3.1` branch?
We will release 3.1 this week. Thanks.

[2017-01-18 16:02] mitake commented on #7181
@gyuho Ah sorry, I checked the commit in v3.1-rc1 tag. @zbindenren could you try the `release-3.1` branch?

[2017-01-18 16:20] derekchiang opened #7184 "STM fails to restart when a key in rset is deleted"
The current implementation of STM uses [the following function](https://github.com/coreos/etcd/blob/master/clientv3/concurrency/stm.go#L251-L257) to check that the keys in rset are "current":

[code]

And yet, if a key is removed by a concurrent operation, the `ModRevision` of the key will be reset to 0, thus causing the conditional guard `v3.Compare(v3.ModRevision(k), "<", rev)` to succeed when i

[2017-01-18 17:28] heyitsanthony commented on #7180
@mwf So it'll still build with 1.6? Probably worth doing for 3.1, then.

[2017-01-18 18:10] mwf commented on #7180
@heyitsanthony yeap, it still builds under 1.6 - https://github.com/golang/net/tree/master/context

Does 3.1 client works good with 3.0.15 server? Or there are some features which won't work?
It's a pity I'm late for new 3.0.16 release :)

[2017-01-18 18:13] heyitsanthony commented on #7180
@mwf 3.1's locks/elections use some newer features that are incompatible with 3.0, but aside from that I'm unaware of any other incompatibilities.

[2017-01-18 18:31] mwf commented on #7180
@heyitsanthony unfortunately, I know nothing about this locks and elections :(
Is it some configuration feature of 3.1 cluster or something internal for 3.1 Client, used when doing Get, Put, Wait and other operations?

[2017-01-18 18:32] heyitsanthony commented on #7180
@mwf It's part of clientv3/concurrency. If you don't know about it, you're probably not using it.

[2017-01-18 18:38] mwf commented on #7180
Great, than I think it will be perfectly OK to have this update in 3.1
But if you ever release 3.0.17 (I doubt that), would be great to include this little fix there :)

[2017-01-18 18:41] akamalov commented on #6952
Did it the merge make it to 3.0.16 ?

[2017-01-18 18:45] heyitsanthony commented on #6952
@akamalov it wasn't backported to 3.0.x since it's a change in behavior which isn't exactly a bug fix.

[2017-01-18 18:50] bhujangr commented on #7043
@gyuho is this documented anywhere, ask as in most places I see documentation for v2 for which it does not expect the binary path.

[2017-01-18 18:55] gyuho commented on #7043
@bhujangr You can find more docs at https://github.com/coreos/etcd/blob/master/Documentation/op-guide/container.md.

[2017-01-18 19:05] akamalov commented on #6952
Thanks @heyitsanthony. I tried to test https://github.com/coreos/etcd/issues/7008 (via Marathon), but deployment is exiting complaining at flags provided

Here is the Marathon JSON file I used to deploy:

[code]

Here is the error:

[code]

[2017-01-18 19:40] heyitsanthony commented on #6818
@mkumatag sure, the jenkins worker needs ssh, a user account for jenkins, java, and go 1.7.

If you email the IP for the machine to team-etcd@coreos.com, I can send you the key for the authorized_keys file and configure the jenkins master on our side to talk to it (and help debug it if it doesn't go smoothly). Thanks!

[2017-01-18 21:03] heyitsanthony opened #7187 "TestCtlV3AuthMemberRemove: got etcdserver: server stopped"
via sempahore for unrelated PR (https://semaphoreci.com/coreos/etcd/branches/pull-request-7159/builds/4)

[code]

[2017-01-18 21:04] #7158 closed

[2017-01-18 22:31] heyitsanthony commented on #6952
@akamalov Will `args` automatically split into separate arguments on spaces? It seems like:
[code]

should be:
[code]

Otherwise the string will be treated as one argv string instead of two.

It's the difference between:
[code]
and
[code]

[2017-01-18 23:15] necro351 commented on #6829
It wasn't obvious from google searches and I wanted to note this here as this is where I found my answer (and maybe Google will index it better now). If you want to read from etcd when you are a node in the minority after a network partition, you will get this warning by default:

`etcdserver: timed out waiting for read index response`

...and your read will fail. If you don't mind getting stale r

[2017-01-18 23:56] fanminshi commented on #6829
@xiang90 should we add this in faq?

[2017-01-18 23:57] xiang90 commented on #6829
@heyitsanthony Add a faq about read consistency?

[2017-01-19 03:38] arthurkiller commented on #7161
thx dude @heyitsanthony

[2017-01-19 06:27] mkumatag commented on #6818
@heyitsanthony Do you have any constrains about Operating System, Memory, CPU, Diskspace etc..?

[2017-01-19 12:30] zbindenren commented on #7182
Sorry, it is on and RHEL7.2 x86_64 with etcd-3.1-rc1.

[2017-01-19 16:33] #7033 closed

[2017-01-19 16:45] heyitsanthony opened #7189 "TestDialSetEndpoints: context deadline exceeded"
via https://semaphoreci.com/coreos/etcd/branches/master/builds/1443
[code]

Possibly related to recent balancer changes. /cc @fanminshi

[2017-01-19 17:04] gyuho commented on #7180
Closing via https://github.com/coreos/etcd/pull/7186.

It's backported to `release-3.1` branch. We will release v3.1 this Friday. Thanks.

[2017-01-19 17:04] #7180 closed

[2017-01-19 17:13] heyitsanthony commented on #6818
@mkumatag no experience running it on ppc64, so I can't give any hard numbers. As a point of comparison, the virtual machine running the jenkins CI tests is a n1-standard-2 (2 sandy bridge vCPUs, 7.5 GB memory) with 32GB of storage. PPC may not need as much memory since there's no race detection support for that arch.

So long as ./test reliably passes on the machine it should be OK.

[2017-01-19 18:15] mkumatag commented on #6818
cool, I should be able to get a VM with mentioned requirements. Will drop you a mail once get a VM ready. Fingers crossed.

[2017-01-19 20:30] fanminshi commented on #7189
let me take a look

[2017-01-20 00:13] r007m4n opened #7192 "Restore issue with Kubernetes-1.5.1"
I'm running Kubernetes-1.5.1 and Etcd-3.0.15.
I took a snapshot on a Etcd server and tried to restore using the snapshot.db file.
However, I encountered following error that said "panic: no lessor to attach lease"
I tested restore command using etcd-3.0.15, etcd-3.0.16 and 3.0.1 and got same errors.

[code]

[2017-01-20 02:30] xiang90 commented on #7192
@r007m4n I can confirm this is a bug. We are going to fix it soonish.

[2017-01-20 04:27] xiang90 commented on #7181
I believe this is fixed in 3.1 branch. So closing.

[2017-01-20 04:27] #7181 closed

[2017-01-20 04:28] xiang90 commented on #6845
@siddontang Do you still want this feature?

[2017-01-20 07:28] mkumatag commented on #6818
Ran the test and found following issues. Any idea what could be issue?

`ok  	github.com/coreos/etcd/pkg/monotime	0.007s	coverage: 50.0% of statements
2017-01-20 02:21:21.619114 I | pkg/netutil: resolving infra0.example.com:4001 to 10.0.1.10:4001
2017-01-20 02:21:21.619212 I | pkg/netutil: resolving infra0.example.com:2379 to 10.0.1.10:2379
2017-01-20 02:21:21.619227 I | pkg/netutil: resolving inf

[2017-01-20 09:15] siddontang commented on #6845
Hi @xiang90

We don't need this feature now, if we have, we will send you a PR.

[2017-01-20 09:15] #6845 closed

[2017-01-20 10:23] mkumatag commented on #6818
PR #7199 opened to address the issue

[2017-01-20 10:26] disksing opened #7200 "feature request: support user defined grpc services for embed etcd."
Hey,
Our project (https://github.com/pingcap/pd) is currently using etcd as an embed library, and sharing the same network port with etcd by setting up `UserHandlers`(https://github.com/coreos/etcd/blob/master/embed/config.go#L127).

Now our project needs to add gRPC support. It turns out that if we still want to reuse port, we need a way to register our grpc serivces to grpcServer which is create

[2017-01-20 10:35] siddontang commented on #7200
Hi  @xiang90

We can define a gRPC user handler, if you think it is ok, we can send PR.

[2017-01-20 12:30] sinsharat opened #7201 "Query: Need command to auto-generate protobuf for rpc.proto"
I need the command for generating rpc.pb.go and rpc.pb.gw.go using rpc.proto since while generating in the below way:
[code]

I am getting a lot of difference between the current rpc.pb.go and the newly generated one. Also want to know from which directory its being generated.
Thanks!

[2017-01-20 15:53] glycerine opened #7202 "Q: is the etcd raft algorithm suitable for atomic transactions?"
Q: is the etcd raft implementation suitable for transactions?

 - the fundamental idea of a transaction is that
   it either succeeds or fails atomically, *and*
   that the client accurately knows whether it has
   succeeded or failed in doing the transaction.

   If the system can falsely tell the client
   that the transaction failed when it actually
   succeeded, this does not seem to meet the

[2017-01-20 16:05] xiang90 commented on #7202
No. etcd/raft is a minimal raft implementation. This does not have to live inside core raft, so we leave it out.

Yes or no. etcd implements txn at its API layer. User can choose to use it if they care about what you mentioned.

For etcd API, if you use raw PUT, then you will not know if the request is committed or not when there is a network failure. Resubmit the PUT request can lead to duplicate

[2017-01-20 16:11] glycerine commented on #7202
very helpful! thank you Xiang. etcd has really gotten so impressive. even a zookeeper replacement interface! wow.

[2017-01-20 16:11] #7202 closed

[2017-01-20 16:14] xiang90 commented on #7202
Credit goes to @heyitsanthony. But yea, please give it a try! I want some feedback on it.

[2017-01-20 16:51] glycerine commented on #7202
doesn't quite look ready for prime time yet -- https://github.com/coreos/zetcd/issues/11

there are plenty of java applications (hadoop etc) that use zookeeper; it shouldn't be difficult to get a rigorous set of tests.

[2017-01-20 17:49] #7184 closed

[2017-01-20 17:58] gyuho commented on #7201
@sinsharat You have to run this script https://github.com/coreos/etcd/blob/master/scripts/genproto.sh

[code]

[2017-01-20 18:01] sinsharat commented on #7201
@gyuho Thanks a lot! Will try it out!

[2017-01-20 18:02] gyuho commented on #7201
Yeah let us know if you have any questions!

[2017-01-20 18:02] #7201 closed

[2017-01-20 18:04] xiang90 opened #7204 "test: TestCtlV3MemberRemove"
[code]

[2017-01-20 18:05] #7192 closed

[2017-01-20 18:15] xiang90 commented on #7192
@r007m4n Already fixed. We are doing a release today to include this fix. Sorry for the inconvenience.

[2017-01-20 18:21] r007m4n commented on #7192
@xiang90 Thanks you very much for your quick response and fixes.
I will test new release once it comes

[2017-01-20 19:16] #7100 closed

[2017-01-20 19:19] xiang90 commented on #6960
@sinsharat Are you interested in working on this feature?

[2017-01-20 20:50] sinsharat commented on #6960
@xiang90 yes. i have already started this. For this only i had raised a query for generating pb.go

[2017-01-20 22:32] heyitsanthony commented on #7200
sounds reasonable

[2017-01-20 23:15] xiang90 commented on #7200
@siddontang I am OK with it.

[2017-01-20 23:38] heyitsanthony commented on #7182
Can you give more specific steps to reproduce?

I tried to reproduce this with 3.1-rc1 using the etcd Procfile:
[code]

etcd1 and etcd3 give:
[code]

etcd2 gives:
[code]

[2017-01-21 00:49] heyitsanthony opened #7211 "TestKVGetRetry: timed out waiting for get"
via semaphore on help string PR:
[code]

Probably related to balancer changes. /cc @fanminshi

[2017-01-21 10:03] Sartner commented on #6904
But how to list all keys ? @xiang90

[2017-01-21 15:20] sinsharat opened #7212 "Build : Getting error while updating and running integration test"
On performing go get -v second time for etcd, it gives  error. The same etcd/etcdserver/etcdserverpb/rpc.pb.go:2170: undefined: grpc.SupportPackageIsVersion4 error is coming while trying to run integration test.

![screenshot from 2017-01-21 20-52-43](https://cloud.githubusercontent.com/assets/20169156/22175497/b593046a-e01b-11e6-99c3-055e5522e308.png)

[2017-01-21 17:12] glycerine commented on #7212
go get will fetch master, which, as the documentation on the front page says, may be in a broken or inconsistent state. try a release instead.

[2017-01-21 17:16] sinsharat commented on #7212
@glycerine the problem is not alone with the build but also not able to run integration test.Can you suggest a way to test it?

[2017-01-21 17:21] mkumatag commented on #6818
@heyitsanthony sent a mail to  team-etcd@coreos.com with machine details, can you please revert back with key to be added into authorized_keys file?

[2017-01-21 17:25] xiang90 commented on #7212
you need to do glide install to recover the vendor dir.

[code]

[2017-01-21 17:25] #7212 closed

[2017-01-21 22:51] gyuho commented on #7025
Correction: This doesn't happen in normal benchmarks.

v3.1.0 release binaries, with benchmark go1.7.4

[code]

Will investigate more if that happens again.

[2017-01-21 22:51] #7025 closed

[2017-01-21 23:16] heyitsanthony commented on #6818
@mkumatag Received your mail; was busy pushing 3.1.0 out on Friday. Will get around to it on Monday since it's the weekend now.

[2017-01-22 08:01] armstrongli commented on #6904
@Sartner
`ETCDCTL_API=3 ./etcdctl get / --prefix --keys-only`

[2017-01-22 08:49] strugglingyouth opened #7213 "Documents on the v3 backup and restore the connection can not be opened，the error is 404,"
![qq 20170122164055](https://cloud.githubusercontent.com/assets/10249666/22181226/55024b36-e0c2-11e6-83c6-8e626ccee8eb.png)

I want to get the Disaster Recovery operations.

[2017-01-22 12:17] shuting-yst opened #7216 "client called Close() but some goroutine not exit"
Hi,

I use a simple test case with clientv3 API like below, and find that one goroutine leak until 20s after client.Close():
1. use docker container to start a 3 nodes etcd cluster
2. new a clientv3 with all nodes' endpoints
3. one goroutine put sub key
4. one goroutine crash one etcd server(docker rm the etcd container)
5. then terminate all the etcd server and close client

leak stack like this:

[2017-01-23 08:42] sinsharat commented on #6579
@heyitsanthony @xiang90 if you give an insight on how exactly you want it to be implemented, then will start with it.

[2017-01-23 09:47] strugglingyouth opened #7218 "when etcd version is 3.0 and api version is 2.0, disaster recovery v2 key is failed, but use v3 method is ok. I am very confused."
when etcd version is 3.0 and api version is 2.0, disaster recovery v2 key is failed, but use v3 method is ok. I am very confused.Whether version 3.0 is not use api 2.0 method?

use api 2.0 method ， the error is as follows：

I would also like to know if there is a way to recover from heat, without rebuilding the new cluster。

[2017-01-23 10:24] nenzhang commented on #5870
I meet same issue, and my disk is SSD, the system looks very low in CPU. how to analyze this below metrics data:
etcd version is 3.0.12.

# curl http://127.0.0.1:2379/metrics
# HELP etcd_debugging_mvcc_db_compaction_pause_duration_milliseconds Bucketed histogram of db compaction pause duration.
# TYPE etcd_debugging_mvcc_db_compaction_pause_duration_milliseconds histogram
etcd_debugging_mvcc_db_co

[2017-01-23 13:31] Felixoid opened #7219 "In v3.1.0 netutil unit test failed on ipv6only linux host"
Hello!

On last release github.com/coreos/etcd/pkg/netutil unit test was failed if ipv4 adress is missed on host.
Simple script to reproduce:

[code]
The output from the last command:
[code]

[2017-01-23 15:27] kpcyrd commented on #5518
I've hit this exact bug in the past and again today, disk got filled up to 100%, the etcd masters started choking and permanently corrupting their database. Freeing disk doesn't fix the issue and etcd is stuck in a permanent crash loop. If you're lucky the majority of your masters isn't affected, if it is the remaining masters are unable to reach majority and can't elect a new leader, leaving your

[2017-01-23 17:44] gyuho commented on #7218
I tested setting up v3.0 cluster and wrote v2 keys. And tried recovery and works for me? Do you have exact step to reproduce?

v3.0, v3.1 support v2 API by the way

[2017-01-23 17:45] #6923 closed

[2017-01-23 17:57] gyuho commented on #7213
Yeah it's broken. Sorry, we will fix it.

@joshix @robszumski This link seems broken? https://coreos.com/etcd/docs/2.0.12/backward_compatibility.html#snapshot-migration

[2017-01-23 17:59] llamahunter commented on #5518
Did the fix ever make it into an etcd2 release that was rolled to coreos stable?  Which version is it in?

[2017-01-23 19:45] robszumski commented on #7213
Docs for that minor version have been removed. Try https://coreos.com/etcd/docs/2.0.13/backward_compatibility.html#snapshot-migration

[2017-01-23 20:02] xiang90 commented on #5518
@llamahunter

No. It is not in etcd2 release.

@kpcyrd

Can you try to reproduce on etcd 3.x release?

[2017-01-23 20:13] llamahunter commented on #5518
Will it *never* be released in etcd2?

[2017-01-23 21:05] heyitsanthony commented on #6060
https://semaphoreci.com/coreos/etcd/branches/master/builds/1472

[2017-01-23 22:09] vimalk78 commented on #6577
if no one is working on this, may i take this up.

[2017-01-24 01:53] nenzhang commented on #5870
Hi
then I switched the HDD disk in another environment, looks the metric get the similar result,
could you kindly help how to analyze the data:

# curl http://127.0.0.1:2379/metrics
# HELP etcd_debugging_mvcc_db_compaction_pause_duration_milliseconds Bucketed histogram of db compaction pause duration.
# TYPE etcd_debugging_mvcc_db_compaction_pause_duration_milliseconds histogram
etcd_debugging_mvc

[2017-01-24 02:15] nenzhang commented on #5870
Hi
I am thinking, whether the time consume computing is also based on system real time, so if system time jumps due to NTP sync, then the computing will not be correct either, I just suppose maybe this is one possible cause?

[2017-01-24 02:16] strugglingyouth commented on #7218
@gyuho

I follow this tutorial：

https://github.com/coreos/etcd/blob/master/Documentation/v2/admin_guide.md#disaster-recovery

![etcd-png](https://cloud.githubusercontent.com/assets/10249666/22231360/15596340-e21e-11e6-867a-9f173d08c047.png)

[2017-01-24 02:18] xiang90 commented on #7218
@strugglingyouth Can you please provide a step by step example for us to reproduce your problem?

[2017-01-24 02:22] xiang90 commented on #5870
@nenzhang can you please provide the server logging?

I looked that the metrics, all almost fsync took more than 10ms. If you run a old version of etcd, it will complaint. We loose the timeout to 100ms to make etcd compliant less on slow HDD.

[2017-01-24 03:08] xiang90 commented on #7132
@Bplotka Kindly ping.

[2017-01-24 07:00] nenzhang commented on #5870
Hi Xiang
thanks, but for previous SSD, we also meet warning logs many, we configured the heartbeat interval to 200ms. could you kindly help check the reason? is it really disk issue?

what do you mean you loose the timeout to 100ms? Because I want to know whether it is really be slow to etcd and impact the etcd performance, I mean it will impact the request handling time to etcd from function also

[2017-01-24 07:02] strugglingyouth commented on #7218
I use etcd version is 3.0 and api version is 2.0,And use api 2.0 backup tool (etcdctl backup --data-dir /home/etcd/ --backup-dir /tmp/etcd_backup),but no db files are displayed during recovery.I did not see DB files in the backup directory.The complete error is:

2017-01-24 15:02:06.074449 I | etcdmain: Git SHA: d53923c
2017-01-24 15:02:06.074488 I | etcdmain: Go Version: go1.6.3
2017-01-24 15:02:

[2017-01-24 07:08] nenzhang commented on #5870
Hi
ok, the log collected from SSD environment:
journalctl -b |grep -i etcd

Jan 24 10:35:00 SN-2 etcd[1609]: data dir = /mnt/etcd/SN-2
Jan 24 10:35:00 SN-2 etcd[1609]: member dir = /mnt/etcd/SN-2/member
Jan 24 10:35:00 SN-2 etcd[1609]: heartbeat = 200ms
Jan 24 10:35:00 SN-2 etcd[1609]: election = 1000ms
Jan 24 10:35:00 SN-2 etcd[1609]: snapshot count = 10000
Jan 24 10:35:00 SN-2 etcd[1609]: advert

[2017-01-24 07:23] nenzhang commented on #5870
Hi
and later the delay become large in this SSD environment. We make the write request to etcd continuously, but it is serial request which each need wait its complete from etcd response.
And, the data looks not big as below indication.

# ls -al /mnt/etcd/SN-2/member/wal/
total 125008
drwx------ 2 root root     4096 Jan 24 10:35 .
drwx------ 4 root root     4096 Jan 24 10:35 ..
-rw------- 1 root

[2017-01-24 07:30] xiang90 commented on #5870
64MB is fine. We do pre-fallocate for fast write. Are you using v2 auth at all? Do you have metrics against this server log?

[2017-01-24 07:33] xiang90 commented on #7218
@strugglingyouth Can you try with 3.0.17 or 3.1.0 release?

[2017-01-24 07:36] nenzhang commented on #5870
Hi
do you mean the new metrics data from this leader:

# curl http://127.0.0.1:2379/metrics
# HELP etcd_debugging_mvcc_db_compaction_pause_duration_milliseconds Bucketed histogram of db compaction pause duration.
# TYPE etcd_debugging_mvcc_db_compaction_pause_duration_milliseconds histogram
etcd_debugging_mvcc_db_compaction_pause_duration_milliseconds_bucket{le="1"} 0
etcd_debugging_mvcc_db_compac

[2017-01-24 07:37] nenzhang commented on #5870
Hi
Are you using v2 auth at all?

[2017-01-24 07:39] xiang90 commented on #5870
@nabeken

etcd_disk_wal_fsync_duration_seconds_bucket{le="0.064"} 106857
etcd_disk_wal_fsync_duration_seconds_bucket{le="0.128"} 107048
etcd_disk_wal_fsync_duration_seconds_bucket{le="0.256"} 107071
etcd_disk_wal_fsync_duration_seconds_bucket{le="0.512"} 107075
etcd_disk_wal_fsync_duration_seconds_bucket{le="1.024"} 107077
etcd_disk_wal_fsync_duration_seconds_bucket{le="2.048"} 107078
etcd_disk_wa

[2017-01-24 07:52] nenzhang commented on #5870
Hi
How to analyze this data, why you say it need 100ms ? maybe you can help share the doc link for how to read the etcd report, thanks.
Even it is 100ms, why the etcd report delay to even below so large one?
Jan 24 15:10:43 SN-2 etcd[1609]: failed to send out heartbeat on time (exceeded the 200ms timeout for 748.764407ms)

And, from our own SSD performance report, it looks good enough, the write M

[2017-01-24 08:53] nenzhang opened #7223 "query: write a etcd data from proxy node"
Hi
when write the etcd data from proxy node, and received the HTTP request response is ok, and then use etcdctl to query the key, it looks not there sometimes.
we detect this occasionally after long times run in stability testing.

so is it because that the data actually not really synced into all etcd instances to disk so the query request gets failed from another etcd instance endpoint ip?

the

[2017-01-24 10:17] Bplotka commented on #7132
Sorry for delayed response.. I am using Linux & Windows, so had to find volunteer with this version of macOS who could help me to test it (thanks @joshpmcghee).

When built from source with the go `1.7.1` or `1.7.2` it works fine, but it does not solve our problem: We have the use case that we want to download the newest etcd v2 binary and just use it for dev/testing on any MacOS.

Is there any wa

[2017-01-24 12:30] kpcyrd commented on #5518
@xiang90 etcd3 isn't shipped with coreos stable so having it fixed in etcd3 doesn't help me much.

[2017-01-24 13:29] ApsOps opened #7224 "Different sized backups when using "etcdctl backup" command"
# Question

When I take backup using `etcdctl`, I get different sized backups when running command repeatedly.

Is this expected behavior? What's the reason behind such huge difference?

[code]

This is the actual data size:
[code]

[2017-01-24 15:30] jgogstad commented on #5518
Just ran into this same issue. Full disk on one node, and only `.snap.broken` files in `/var/lib/etcd2/member/snap` - the node refuses to start properly. Would really appreciate a fix, either in CoreOS stable or a workaround.

[2017-01-24 16:00] xiang90 commented on #7132
I do not think we are going to re-release ALL previous released versions of etcd as the problem is fixed. But we might release a new etcd 2.3.x version sometime next week that built with go 1.7. Closing this issue since we confirmed this is a go runtime problem.

[2017-01-24 16:00] #7132 closed

[2017-01-24 16:03] xiang90 commented on #7224
etcdserver keeps N historical WAL + Snapshot files. See configuration. So if one of them is broken, your server might still be able to come up. Backup only saves the latest one. So there is a difference.

[2017-01-24 16:03] #7224 closed

[2017-01-24 18:03] gyuho opened #7225 "vendor: evaluate 'github.com/golang/dep'"
Experiment with official Go's dependency management tool https://github.com/golang/dep

[2017-01-24 20:27] heyitsanthony commented on #7216
Looks like grpc is stuck dialing after since there's no context to cancel it out. Not sure about the DialTimeout-- it's directly passed through to the go runtime...

[2017-01-24 22:54] xiang90 commented on #6960
Fixed by #7214

[2017-01-24 22:54] #6960 closed

[2017-01-24 22:59] xiang90 opened #7228 "client/gRPC-proxy: optionally batch raw put requests into transcation"
Like what Kafka client does, etcd client can optionally batch simple put requests into one transaction. I assume that would improve write performance significantly when there are highly concurrent writes from one single client (or through one gRPC proxy).

/cc @heyitsanthony

[2017-01-24 23:02] #7200 closed

[2017-01-24 23:09] xiang90 commented on #7228
If we want it to be transparent, we could add an option (batched_put) into txn. server can increase rev N time if there are N puts in on Txn.

[2017-01-25 01:44] xiang90 commented on #7166
@ravigadde Do you plan to work on this one?

[2017-01-25 01:45] xiang90 commented on #7117
I am closing this. raft should know nothing about db. The original issue is also resolved and closed.

[2017-01-25 01:45] #7117 closed

[2017-01-25 02:17] strugglingyouth commented on #7218
@xiang90

I used 3.0.4 version.

But now I have found the problem. My systems store v2 and v3 data at once ,so use v2's backup method is failed, use v3's backup method is ok. And i delete all data, only use v2's data test ,it is successful.

[2017-01-25 02:19] xiang90 commented on #7218
v2 backup only backups v2 data, not v3. I would still suggest you try etcd 3.0.17.

I am closing this since the problem is resolved.

[2017-01-25 02:19] #7218 closed

[2017-01-25 02:27] ravigadde commented on #7166
@xiang90 Yes, I will take this up

[2017-01-25 02:30] xiang90 commented on #7166
@ravigadde assigned. Thanks.

[2017-01-25 03:37] xiang90 commented on #7223
If you use v2 API, you might read stable data unless you explicitly specify quorum option. Or etcd server can serve read locally.

[2017-01-25 03:37] #7223 closed

[2017-01-25 03:38] xiang90 commented on #7219
@Felixoid Are you willing to help fix this problem?

[2017-01-25 08:19] nenzhang commented on #7223
Hi
ok, so you mean we shall specify the quorum option, right? we will try.

[2017-01-25 13:00] Felixoid commented on #7219
Hi,
@xiang90

Of course, yes

[2017-01-25 14:53] timothysc opened #7232 "4 to 5 x iops load."
When comparing v2 vs. v3 iop load under similar conditions we are seeing iop load that is between 4 to 5 times higher than v2.

xref: https://bugzilla.redhat.com/show_bug.cgi?id=1415839

/cc @wojtek-t @gmarek @xiang90 @hongchaodeng

[2017-01-25 17:37] xiang90 commented on #7232
@timothysc

etcd2 write path only touches WAL file. But when etcd2 does a snapshot, it would write out entire DB at once. So there will be IO spikes when it does snapshot. This can slow everything down unpredictably. This is VERY bad for large clusters with GB data, which can slow down all operations for ~10 seconds when doing a full snapshot.

etcd3 write path touches both WAL and on-disk DB (alt

[2017-01-25 17:53] xiang90 commented on #7232
@timothysc One more question, do you know if he removes ALL data in v2? Or there will be double writes. (v2 periodically does the full snapshot)

[2017-01-25 18:21] timothysc commented on #7232
@xiang90 on that BZ it is etcd 3.0.15 running in v2 mode with no converted data to v3, compared to 2.3.7 iop behavior.

[2017-01-25 18:22] xiang90 commented on #7232
@timothysc Oh. Interesting. Then I am not sure why. /cc @heyitsanthony Anything changed significantly between 2.3.7 to 3.0.x on WAL pkg that might introduce 5x iops?

[2017-01-25 18:25] timothysc commented on #7232
@xiang90 the test isn't ideal though, they upgraded openshift versions too :-/

[2017-01-25 18:39] heyitsanthony commented on #7232
@xiang90 @timothysc the only fundamental difference is it's preallocating via fallocate. There might be some interference caused by the fs implementation leading to bad latencies eventually triggering leader elections, followed by an application recovery phase compounding the problem.

If it's possible to deploy a custom etcd binary, this patch may fix it by never allocating up front:
[code]

(if

[2017-01-25 21:28] #7216 closed

[2017-01-25 23:18] joshix commented on #7213
To fix: correct links on coreos-pages/_etcd/index

/etcd/docs/latest/v2/backward_compatibility.html downstream
(v2/backward_compatibility.md upstream)

[2017-01-25 23:43] suchisubhra opened #7235 "kubernetes etcd"
I am runubg etcd in  kubernets cluster  as petset.
When one etcd POD goes down,  petset automatically creates  POD.
So new pod has empty  data dir ..But i  see logs .. new pod (etcd node) is trying to  join cluster with  same member  id 2d38ede45015dfb6

How you guys generate member id.. why  it is same..  when new node.pod comes,  it uses same etcd name.. Does it matter?

Any help  really appreci

[2017-01-25 23:45] joshix commented on #7213
/cc @ElijahCaine

[2017-01-26 03:09] mkumatag commented on #6818
I see `etcd-ppc64le` node is online now in jenkins, can you please try running one sample job on it? https://jenkins-etcd-public.prod.coreos.systems/computer/etcd-ppc64le/

[2017-01-26 03:14] xiang90 commented on #7235
Please try etcd-operator (https://github.com/coreos/etcd-operator) for running etcd on Kubernetes.

[2017-01-26 03:14] #7235 closed

[2017-01-26 03:31] suchisubhra commented on #7235
This doesn't solve the problem... This looks like POC..

You can use kubernetes petset  feature to  build a etcd cluster. We are in production and it worked fine till one node/ pod went down. There is no easy way we are able to add the node back.

Our question is  why we are always getting  same member id "2d38ede45015dfb6". One  pod is down .. we remove the node. Now new pod come up and we are ex

[2017-01-26 03:33] xiang90 commented on #7235
No. It is not a POC.

That is why you need etcd operator. There is no magic in petset. It does not understand etcd at all.

In another word, petset wont manage etcd for you.

You need to read https://github.com/coreos/etcd/blob/master/Documentation/op-guide/runtime-configuration.md#replace-a-failed-machine to manage etcd manually on Kubernetes.

[2017-01-26 03:36] heyitsanthony commented on #7235
@suchisubhra it's determined based on the command line arguments. Removing a node from etcd by just deleting the data directory and then expecting it to join as a new member is not how etcd works. Membership must be managed through etcdctl or, like @xiang90 suggested, through etcd-operator.

[2017-01-26 03:39] suchisubhra commented on #7235
I have removed the node thr curl command curl  http://dns2379/v2/members/2d38ede45015dfb6 -XDELETE

and then re-create the pod.. which means it is new node.. New pod/node is trying to join the cluster.
and then i am getting this error.

017-01-25 23:19:56.752086 W | rafthttp: rejected the stream from peer 2d38ede45015dfb6 since it was removed
2017-01-25 23:19:56.752174 W | rafthttp: rejected the s

[2017-01-26 03:41] xiang90 commented on #7235
@suchisubhra You probably use Kuberentes with PV. Your new pod probably attaches the old data dir from that PV.

[2017-01-26 03:47] suchisubhra commented on #7235
Xiang,
   No I don't use PV.
Yes we use manual / script to  remove the crashed node.

Then new pod/ node come and try to join the cluster.  All  seems good till peer finds out new node/pod has same member id (which we have removed thr script) and declined to add it the cluster.

How we can generate a new member id every time?

[2017-01-26 03:49] xiang90 commented on #7235
how does it try?

[2017-01-26 04:18] suchisubhra commented on #7235
we start etcd (/usr/lical/bin/etcd ) process in the node/pod...

For reference here is env variable in all the node/pods

{
                                "name": "ETCD_INITIAL_CLUSTER",
                                "value": "etcd-0=http://etcd-0.DNS:2380,etcd-1=http://etcd-1.DNS:2380,etcd-2=http://etcd-2.DNS:2380"
                            },
                            {

[2017-01-26 04:22] xiang90 commented on #7235
@suchisubhra

As we told you, it wont. Please read what @heyitsanthony and I just told you: https://github.com/coreos/etcd/blob/master/Documentation/op-guide/runtime-configuration.md#replace-a-failed-machine.

Or we cannot really help you further. The doc explains it much better than we could do here in the issue in short time.

[2017-01-26 04:30] suchisubhra commented on #7235
Thanks for all  your help .. I really appreciate that.. I think I know the issue.. I will try tomorrow morning and let you guys know..

adding "etcd restart" would be a great feature ....

[2017-01-26 05:54] mitake opened #7239 "TestLaunchDuplicateMemberShouldFail: raft log corruption?"
From https://github.com/coreos/etcd/pull/7234

[code]

The detailed log can be found here: https://jenkins-etcd-public.prod.coreos.systems/job/etcd-proxy/566/console

[2017-01-26 07:51] ravigadde commented on #7166
@xiang90

I was trying to use this for running an election as I alluded to earlier. In the election API, why is Observe watching proposals? Aren't leader events more interesting? I dont see any API for that.

There is also a bug in observe (watch missing +1 for revision):

[code]

[2017-01-26 16:08] timothysc commented on #7232
So we got word from @mffiedler that v2 vs. v3 (in 2 mode) across the same release showed little/no iop difference so closing.  My apologies for the fire drill.

[2017-01-26 21:52] #6336 closed

[2017-01-26 23:04] fanminshi commented on #7211
I couldn't reproduce this error locally. I didn't see any logic error with balancer code.
I noticed that this tests took 59 seconds which is unexpected.

the killed node stopped at

`2017-01-21 00:35:00.039655 I | rafthttp: stopped peer 3bbb36d3be78a52e`

but it took another 59 seconds for the node restart
[code]

not too sure what's going on.

[2017-01-26 23:08] #7189 closed

[2017-01-26 23:35] gyuho commented on #6335
I think http://play.etcd.io/install addresses this issue. Not sure how we should officialize.

[2017-01-26 23:36] gyuho commented on #5971
I added systemd instructions in http://play.etcd.io/install. Should we do this in markdown format as well?

[2017-01-26 23:38] xiang90 commented on #5971
@gyuho

let's copy the systemd muti-node one to here: https://github.com/coreos/etcd/tree/master/contrib/systemd

then we can close this issue.

[2017-01-26 23:39] gyuho commented on #5971
Ok sounds good.

[2017-01-26 23:47] xiang90 commented on #7204
this is a dup with #7187.

[2017-01-26 23:50] xiang90 commented on #6818
@mkumatag

Can you update the doc here: https://github.com/coreos/etcd/blob/master/Documentation/op-guide/supported-platform.md#supporting-a-new-platform?

Then we can close this issue? Thanks!

[2017-01-26 23:54] heyitsanthony commented on #6818
@xiang90 see #7238

[2017-01-27 00:05] xiang90 commented on #7182
@zbindenren kindly ping. we cannot reproduce.

Also you should not really restart a member that you know it lost its data dir.

[2017-01-27 01:04] #5971 closed

[2017-01-27 01:05] xiang90 commented on #7239
@gyuho can you take a look at this one?

[2017-01-27 01:06] gyuho commented on #7239
Yeah let me try to reproduce this.

[2017-01-27 01:21] xiang90 commented on #7228
@vimalk78

Do you want to give this a try? We can start with client library. But note that there is a max number of txn and max request size limit, we need to commit the batched txn before reaching to these limit.

[2017-01-27 01:22] xiang90 commented on #7219
@Felixoid Awesome! I assigned the issue to you.

[2017-01-27 01:24] xiang90 commented on #7036
@Chumper Good to see you and @heyitsanthony agree on the same solution. Are you interested in working on this feature?

[2017-01-27 01:25] xiang90 commented on #6953
@sinsharat Can you help to fix this? We have a bunch of places using our own context to cancel http request. We can use https://golang.org/pkg/net/http/#Request.WithContext directly. This issue might take you some time to finish since we have http related code throughout the codebase. but you can start from rafthttp.

[2017-01-27 03:43] vimalk78 commented on #7228
@xiang90

yes, i would like to work on this one.

[2017-01-27 03:47] xiang90 commented on #7228
@vimalk78 OK. Awesome.

[2017-01-27 05:16] xiang90 commented on #6818
closed by https://github.com/coreos/etcd/pull/7238

[2017-01-27 05:16] #6818 closed

[2017-01-27 05:33] mkumatag commented on #6818
Thanks a lot @xiang90 @heyitsanthony

[2017-01-27 07:17] sinsharat commented on #6953
@xiang90 Sure will start looking into it.
Thanks!

[2017-01-27 08:32] ekle commented on #7165
i hope a fix gets also in v3.1.1. this problem is really annoying.

[2017-01-27 09:28] ivdimitro commented on #4686
Hi, Have you investigated further the performance impact of watch in ETCD 2.x? Have you written this doc :)

[2017-01-27 13:21] mitake commented on #7165
@ekle sorry I was busy with other work this week. I'll be able to resume this issue from next week.

BTW, this problem happens rarely on my environment. Do you have good procedures for reproducing it?

[2017-01-27 14:02] ekle commented on #7165
here i have a 50/50 chance of getting it. but i don't know what triggers it. i have a 3 node cluster behind a aws-lb which does ssl-offloading.

[2017-01-27 14:55] vania-pooh opened #7244 "How to limit /member/snap/db file size"
Using ```etcd 3.0.15``` from container ```quay.io/coreos/etcd:v3.0.15```. My question is: is there any way to limit /member/snap/db file size? In my app there's no need to store any history of key values in etcd. My usage pattern is:
1) Save key from one application instance.
2) Delete key from another application instance. Other instances are watching for delete event.
When the key is deleted etc

[2017-01-27 17:52] gyuho commented on #7244
See https://github.com/coreos/etcd/blob/master/Documentation/op-guide/maintenance.md#defragmentation.

We do have `defrag` command.

[2017-01-27 17:57] heyitsanthony commented on #7244
@vania-pooh

How much is the db growing? The compaction should free up pages in the db; it shouldn't keep growing indefinitely even if there's no defrag. Is there an upper bound to the number of keys the application will store to etcd? (judging by your description, yes, but just want to confirm)

Is the scheduled compaction happening? The compaction event won't mention snapshots.The etcd log shoul

[2017-01-28 03:43] chulkilee opened #7245 "readiness API endpoint without auth"
When etcds authenticate clients using HTTPS client certificates, it is difficult to set up load balancer since not all load balancer supports it - especially Amazon ELB.

Although there are way to circumvent it (e.g. bind insecure http on private ip only reachable from load balancer), I think it would be nice to have *optional* readiness API endpoint which does not require any authentication.

For

[2017-01-28 03:57] heyitsanthony commented on #7245
I think it's best to err on the side of caution with TLS, especially if there's already a workaround.

[2017-01-28 07:08] cw9 opened #7247 "Watcher.Watch() hangs when some endpoints are not available"
Hi, I've experienced a few times that Wathcer.Watch() would hang forever, the hanging happens on the following code:

[code]

I'm using the release-3.1 version of clients, is this behavior expected? What is the reason for the hang? The key being watched on is already existing, but I don't think that matters?

My current plan of work around is to add timeout and retry to this call, let me know if y

[2017-01-28 08:34] vania-pooh commented on #7244
Yes, file size seems to be limited. My keys have uuid values and are using leases. Here's how I'm using etcd:
[code]
Here ```storage.c``` is etcd client v3. One instance of my application saves a key with uuid and lease ID (used to timeout the key) via AddSession method. Another instance deletes the key by getting lease ID and revoking it. Is it a correct approach?

[2017-01-28 15:20] heyitsanthony commented on #7247
It will block until `key` is modified or until 10 minutes has elapsed for a progress notification.

[2017-01-28 15:43] heyitsanthony commented on #7244
So is the DB growing or not? If it is, by how much?

That code does more than it has to do. The lease id will already be in `resp.Kvs[i].Lease`, so there's no need to store the lease id in the key's value; `storage.c.Revoke(storage.ctx, ev.Lease)` should always work.

Are you seeing the compaction messages in the log?

What's the TTL on the leases? It could be leaking leases if the TTL is very lon

[2017-01-28 16:51] cw9 commented on #7247
Sorry to be more clear, it's not the returned channel that is blocking, it's this Watch() call not returning a watch channel and just hanging [here](https://github.com/coreos/etcd/blob/master/clientv3/watch.go#L287) because I used context.Background().

I dig around a bit more, seem to find something related. I was running a cluster of 5 etcd nodes: etcd[1-5], but my etcd1 was sad:

[code]

on the

[2017-01-28 17:12] heyitsanthony commented on #7247
@cw9 OK, something may be wrong with the etcd1 member. Should the client endpoint be 127.0.0.1?

The balancer will pin an address if it can open a connection. If requests time out, it won't know about that; it will issue requests on that endpoint so long as the connection is up. This isn't a problem necessarily isolated to watches. It seems like 127.0.0.1:2379 is accepting connections, then doing

[2017-01-28 18:09] vania-pooh commented on #7244
1) Thank you for code review. I was sure there's better way to achieve my requirements.
2) Db file is about 250 megabytes. TTL is 20 minutes. I see compaction messages in log. So I think there's no issue. Let's close this and if I notice something strange, will reopen.

[2017-01-28 18:09] #7244 closed

[2017-01-28 20:32] xiang90 commented on #7247
@cw9 @heyitsanthony

If you provide etcd clientv3 a blackhole endpoint, it will hang for watch, put or whatever request without a timeout. Watch is especially important here since you do not really want to put a timeout for most cases.

A off channel endpoint health checking mechanism is required to break out the rpc waiting I assume. See https://github.com/grpc/grpc/blob/master/doc/health-checkin

[2017-01-28 22:50] xiang90 commented on #7245
@chulkilee TLS auth is designed for auth from the connection layer. The HTTP endpoint is at a layer above. If you want to have per resource (endpoint) auth, you probably should try the etcd-auth at application layer. The health endpoint can be accessed by all users.

Even with TLS auth, there exists workaround as you mentioned, so I do not feel this is something we want to solve, at least for shor

[2017-01-29 05:13] chulkilee commented on #7245
All make sense - but where is documentation for v3 auth api? https://coreos.com/blog/etcd-3-1-announcement.html says "The etcd v3 authentication API, which was alpha in the 3.0 series, is now stable" but I could not find any doc for this, so I thought v3 only supports TLS client certs auth.

[2017-01-29 05:18] xiang90 commented on #7245
@chulkilee

https://github.com/coreos/etcd/blob/master/Documentation/dev-guide/api_reference_v3.md#service-auth-etcdserveretcdserverpbrpcproto

https://github.com/coreos/etcd/blob/master/etcdctl/README.md#authentication-commands

@mitake We probably need a dedicate Auth doc for v3?

[2017-01-30 02:29] smarterclayton opened #7249 "clientv3 requires two copies of byte data for a Put()"
ClientV3 OptPut requires a value in string - for clients that set binary output, if OpPut is not inlined then at least one copy is required (one to turn []byte -> string and one to turn it back into []byte).  This causes significant additional garbage collection in write heavy workloads.

I am not seeing OpPut inlined without an explicit call in kubernetes - for very small keys and values the over

[2017-01-30 02:29] smarterclayton commented on #7249
@wojtek-t

[2017-01-30 02:37] smarterclayton opened #7250 "clientv3 can not support an interceptor pattern for values and keys"
For encrypting secrets at rest in etcd (kubernetes/kubernetes#12742) there are two approaches being considered:

1. Wrap the serialization step before we go to storage
2. Wrap the etcd kv / storage layer

The former is problematic because the storage logic performs idempotent updates (if no data is changed, we write nothing to etcd) and to properly implement something like an AES-GCM symmetric enc

[2017-01-30 02:44] xiang90 commented on #7249
@smarterclayton

We probably can use buffer pool or pre allocate some bytes array to avoid the frequent allocation.

Can you clarify on this? I do not quite get it.

[2017-01-30 02:52] xiang90 commented on #7250
@smarterclayton I have not tried to wrap Txn. Here I am trying to understand exactly what you want first.

It seems to me that we need to have a set of getter functions like Op.Key(), Op.Val(), etc or expose all fields in Op? So you can intercept all information you need from yours Txn call?  For your current use case, exposing Key + Value, Set Key, Value should be good enough?

[2017-01-30 03:02] smarterclayton commented on #7250
I'm not sure that the current KV interface would be the right way to do this - I'd be happy with other options as well.  Another option would be to allow KV to be parameterized with an interceptor that could handle the Proto ops on the way out (or have that be in the client).  That might be slightly cleaner:

[code]

I don't think this is a requirement, just trying to understand whether you think

[2017-01-30 03:02] smarterclayton commented on #7250
Does gRPC offer a lower lever interceptor that we could use?

[2017-01-30 03:05] smarterclayton commented on #7249
Generally interfaces that deal with binary data would accept []byte to avoid the copy that the compiler adds (to keep the string immutable).

To the second point Op.key and Op.val are private, so it's not possible for an advanced client to add a "WithOptions" func that set those directly, although that might still result in a copy if the compiler can't be certain the values don't escape.

[2017-01-30 03:07] xiang90 commented on #7250
@smarterclayton

Yes. https://github.com/grpc/grpc-go/blob/71d2ea4f75286a63b606aca2422cd17ff37fd5b8/interceptor.go#L41-L46

But then you will need to start dealing with etcd's raw proto. This is something we should avoid if possible.

[2017-01-30 03:09] smarterclayton commented on #7249
I.e. `OpPutBytes(key, value []bytes, ... WithOptions) Op` would also work for this case.

[2017-01-30 08:22] mitake opened #7251 "Add docs about v3 auth API and usage"
- [x] Import a digested version of the design doc: https://goo.gl/fwBxz6
- [x] Release note and usage guide of CN based auth (after finishing the PR): https://github.com/coreos/etcd/pull/6881
- [x] Release note and description about token types (after finishing the PR of jwt token): https://github.com/coreos/etcd/pull/6082

[2017-01-30 08:23] mitake commented on #7245
@chulkilee @xiang90 sure, I created an issue for the doc: https://github.com/coreos/etcd/issues/7251

[2017-01-30 18:15] chulkilee commented on #7245
Thanks for all the quick response. Closing this.

[2017-01-30 18:15] #7245 closed

[2017-01-30 18:22] vhosakot commented on #7032
I have etcd up on three nodes.  When I kill etcd on two nodes, I see `etcdctl` reports `cluster is unhealthy`.

etcd is up on `mcp1.paslab009007.mc.metacloud.in` and killed on `mcp2.paslab009007.mc.metacloud.in` and `mcp3.paslab009007.mc.metacloud.in`.

Below, I see `etcdctl` shows `got unhealthy result from` for the node on which etcd is up (`mcp1.paslab009007.mc.metacloud.in`), and `is unreachab

[2017-01-30 18:27] cw9 commented on #7247
thanks for the explanation, I'll probably do something to prevent this sort of blackholing from happening from my end, besides that I'd like to confirm 2 things:

1, when there is a network partition, let's say the 5 nodes splits into 3+2, if the client can still talk to any of the etcd boxes, will it be able to get watch updates that happened in the bigger partition if the original watch channel

[2017-01-30 18:46] stresler commented on #7032
This is actually expected. You need enough nodes to form consensus. In a 3 node cluster that would be 2 nodes minimum.

[2017-01-30 18:55] xiang90 commented on #7247
I assume Get() calls will still success if it got sent to one of the boxes in the bigger partition?

By default, the watchers connected to the minority will hang there until the network partition recovers. However, you can provide option `requireLeader` (https://github.com/coreos/etcd/blob/master/clientv3/client.go#L306) to the watchers to ensure they can be aborted, and then be switched to the ma

[2017-01-30 19:17] ericchiang opened #7252 "etcdmain: invalid config errors don't respect --log-output flag value"
# Bug reporting

Noticed this when trying to use rkt to run etcd. Since rkt's default stage 1 sets up a systemd environment, etcd logs to journald. If I run it correctly using `--log-output` I get output, but if I provide invalid configuration, no output:

[code]

If I run this outside of rkt, I get this

[code]

It looks like etcd doesn't try to setup logging if a configuration is invalid[0]. On

[2017-01-30 19:44] dansimone opened #7253 "Node reconnection causes modified index to jump by 1"
I've noticed a situation where the modified index of a key increases by 1 more than expected:

1) Cluster consists of Leader, Follower1, Follower2.
2) Set Key1 on Leader, the current modified index is X.
3) Kill Follower1.
4) Set Key1 on Leader, the current modified index is X+1.
5) Restart Follower1.
6) Set Key1 on Leader.  The _expected_ modified index is X+2.  However, the actual modified index

[2017-01-30 21:56] heyitsanthony commented on #7249
@smarterclayton is this an end-to-end profile or a microbenchmark? Is there a major performance penalty in terms of latency/throughput? The overhead of doing a write to etcd is already very expensive compared to an allocation; it's not clear if saving the alloc here is a big win for overall system performance.

[2017-01-30 22:18] vhosakot commented on #7032
cool, thanks for the reply @stresler! 😄

[2017-01-30 22:20] gyuho commented on #7253
I think this is expected; the follower comes back, it registers itself to v2 store with member attributes like:

[code]

v3 has separate kv space, so v3 indexes won't be affected by this.

Defer to @xiang90 for double-checking?

[2017-01-30 22:24] xiang90 commented on #7253
@dansimone There is no guarantees on the v2 index other than it is increasing. It is actually an etcd index, not store index. For v3, we have a store revision, which users can rely on.

[2017-01-31 01:36] xiang90 commented on #7252
@ericchiang I am not sure about this. I wont expect --log-output to be respected if a flag is invalid. If users pass in invalid args like `garbage garbage --log-output=stderr garbage`, we need special care about parsing --log-output. I do not think it worth the effort.

We can always log command line parsing error to stderr though, no matter what is specified in --log-output.

What do you think? @

[2017-01-31 01:52] smarterclayton commented on #7249
In this case I was demonstrating micro, but in my tests for high range transactions it has come up.  I've been prototyping changes for Kubernetes that allow high cardinality range selection from a Txn (hundreds of key subsets) and the 3x penalty on keys contributes materially to the construction of the query.  In embedded cases, this is a non trivial amount of allocations / copies and latency is r

[2017-01-31 01:54] smarterclayton commented on #7250
I think for now I don't have a strong requirement for this (other approaches are simpler) - feel free to close / deprioritize this if there's no one else who has a similar use case.  I just wanted to verify whether it was something others had encountered or raised.

[2017-01-31 03:56] heyitsanthony commented on #7252
@xiang90 it's probably worth figuring out why rkt goes mute at some point; so long as the wrong arguments go in, it's silent

[2017-01-31 04:12] #7166 closed

[2017-01-31 13:54] Chumper commented on #7036
I would, but unfortunately I haven1t programmed in go before. I searched for the file but because I am not familiar wih go and the structure of code I did not find it. So it would love to see it implemented but I think I am unable to do so.

[2017-01-31 14:26] mitake commented on #7165
The problem was caused by snapshotting, small (e.g., 10) `--snapshot-count` option can reproduce the problem easily. It seems that current auth store cannot be recovered after node shutdown correctly. I'll work on it from tomorrow (hope it won't take a long time because the root cause is already known).

[2017-01-31 16:32] xiang90 commented on #7036
@Chumper Understood. No problem. Thank you!

[2017-01-31 18:34] xiang90 commented on #7253
And this is only true if your system only has one client. Once you etcd cluster has multiple concurrent clients, it wont hold. I do not think it is a good way to think about index. Do not rely on index to count number of update on one key.

I am closing this issue since the v2 api is pretty much freeze. We only do bug fixes.

[2017-01-31 18:34] #7253 closed

[2017-01-31 18:35] xiang90 commented on #7162
@mitake I assigned this to both you and me. I assume you are interested in this one :)

[2017-01-31 18:51] jlamillan commented on #7253
If the system can arbitrarily increase modifiedIndex on its own, how can we _reliably_ check / watch whether a key has been updated without reading the actual value?

[2017-01-31 18:54] xiang90 commented on #7253
The key has modified index. You can check that.

[2017-01-31 19:21] gyuho commented on #7252
@ericchiang What's your `rkt` version?

[code]

For me, stderr outputs the expected errors?

[code]

[code]

[2017-01-31 19:47] heyitsanthony commented on #7249
@smarterclayton the embedded case is still sort of pricey without #4709 since the client will still need to go through a socket (e.g., unix socket) to get to the embedded server. Ideally the embedded client would have implementations of KV/Txn/etc that make direct method calls into `EtcdServer` without a socket.

Anyway, the reasoning behind the copy, just to clarify that some thought was put behi

[2017-01-31 21:08] ericchiang commented on #7252
Old version. I guess rkt started defaulting to either disabling journald or printing the journald output?

[code]

Closing since the rkt issue seems to have been fixed. However we still see a lot of funny-ness with etcd's journald integrations (e.g. https://github.com/coreos/bugs/issues/373). I know that's been discussed to death however, so I'll not rehash that issue here.

[2017-01-31 21:08] #7252 closed

[2017-01-31 21:30] cw9 commented on #7247
Cool, this looks interesting, I'll def try it out

Got it, I'm not using the proxy feature as well, will make sure before I onboard to that.

[2017-02-01 00:49] #7219 closed

[2017-02-01 02:18] xiang90 commented on #6174
move to 3.2. we will release 3.2 with go 1.8.

[2017-02-01 03:22] heyitsanthony opened #7258 "TestRestartMember: etcd member has no leader"
via semaphore https://semaphoreci.com/coreos/etcd/branches/master/builds/1505

[code]

[2017-02-01 03:31] mitake commented on #7162
@xiang90 sure, of course. Thanks!

[2017-02-01 03:42] heyitsanthony opened #7259 "grpcproxy: data race on TestElectionOnSessionRestart"
[code]

[2017-02-01 18:35] ghostplant opened #7264 "About Leader Change Signal/Hook"
When router is out of service, or part of etcd node is down, leader node often change among machines. `When leader machine is changed, is it possible to touch an event from new machine who just became leader?`

This notification signal is efficient and really needed in many backend system maintaining.

Currently, an alternative choice is to let every machine to run a check that looply posts a clie

[2017-02-01 18:44] gyuho commented on #7264
You can try watch API, to get notification whenever the data is ready, if I understand your use case correctly.

What do you mean by this?

[2017-02-02 00:40] heyitsanthony opened #7267 "grpcproxy: TestLaunchDuplicateMemberShouldFail: unexpect successful launch"
via https://jenkins-etcd-public.prod.coreos.systems/job/etcd-proxy/620/console
[code]

Possibly related to #7239

[2017-02-02 08:24] ghostplant commented on #7264
Does `watch API` must use a another daemon as a client to request? I prefer the etcd daemon itself to notify a event when it is newly updated as a leader.

For example,

`node1(peer)  node2(peer)  node3(peer)`
`node1(peer)  node2(leader)  node3(peer)`  -> etcd daemon at node2 constructs an event to its host (e.g. "touch /tmp/leader-change-event", thus users can use 'inotifyd' to catch this signal

[2017-02-02 14:59] heyitsanthony commented on #7264
@ghostplant the watch api is for monitoring updates to keys, not the status of the etcd cluster.

Maybe have whatever would listen for an inotify instead monitor the etcd server logs for cluster election messages? This DNS scheme (inotify or not) seems like it could race since there's no way to control for consistency, though. Consider:
1. node1 elected; begin updating DNS with node1
2. node1 is p

[2017-02-02 16:13] xiang90 commented on #6934
We got a stack trace for this one

https://semaphoreci.com/coreos/etcd/branches/pull-request-7269/builds/2

[code]

[2017-02-02 17:23] heyitsanthony commented on #6934
Still useless, unfortunately-- no idea which ctlV3Elect call it is, only some election process is waiting too long to get leadership. ctlV3Lock is slightly better-- it's blocking on expect.Close() with a trace into the test (instead of being detached on a goroutine), but all that says is it's hanging somewhere on cleanup after getting the SIGTERM.

[2017-02-02 17:41] ghostplant commented on #7264
@heyitsanthony
Thanks. Maybe my previous example is not a good one.
We can consider letting the leader to listen on a constant IP (instead of requesting to update DNS):

1) node1 elected; -> node1 added a constant IP address
2) node1 is partitioned, connection to cluster lost -> node1 drop this constant IP address
3) node2 elected; -> node2 added a constant IP address
4) node1 finishes updating DN

[2017-02-02 17:53] xiang90 commented on #6953
closed by #7269 + #7255

[2017-02-02 17:53] #6953 closed

[2017-02-02 17:53] xiang90 commented on #6953
@sinsharat Thanks a lot for taking care of this!

[2017-02-02 17:55] xiang90 commented on #7259
@sinsharat Can you help to fix this issue?

[2017-02-02 17:56] sinsharat commented on #6953
@xiang90 you are most welcome :)

[2017-02-02 17:57] sinsharat commented on #7259
@xiang90 Sure will look into it.

[2017-02-03 10:42] philips opened #7271 "play.etcd.io: writes fail if node1 is down."
play.etcd.io writes file if node1 is down. If any other node is down the  writes succeed. cc @gyuho

[2017-02-03 17:21] heyitsanthony opened #7272 "grpcproxy: TestWatchCancelOnServer: expected 0 watchers, got 1"
via https://jenkins-etcd.prod.coreos.systems/job/etcd-proxy/633/console
[code]

[2017-02-03 19:18] heyitsanthony opened #7274 "clientv3: don't open lease keepalive stream by default"
Client will start lease stream even if no keep alives have been issued. Probably OK to keep the stream open after the first keepalive, but not to great opening a stream if it's never used (e.g., `etcdctl get`).

[2017-02-03 21:03] heyitsanthony commented on #7264
OK, is there a reason why the daemon can't listen on the etcd server logs? It's unlikely etcd will support inotify signaling when the leader changes since the notification is already available in the logs...

[2017-02-03 21:24] gyuho commented on #7271
@philips

![screenshot from 2017-02-03 13-22-56](https://cloud.githubusercontent.com/assets/6799218/22608956/e352b920-ea13-11e6-8a60-0e0a0c20ba8a.png)

Works for me? Do you have any error message from it?
You have to choose another endpoint other than node1, if the node1 was killed.

[2017-02-03 22:22] heyitsanthony opened #7275 "clientv3: respect WithRequireLeader for leases"
Channel will stay open even if leader is lost. Probably needs a separate `keepAlives` map.

[2017-02-03 23:42] philips commented on #7271
ahhh, missed the endpoints thing, that is new?

[2017-02-03 23:42] #7271 closed

[2017-02-03 23:45] gyuho commented on #7271
@philips I remember we used to requests to all nodes by default.
Now we send to the selected nodes only. :)

[2017-02-03 23:54] #7058 closed

[2017-02-04 00:31] fanminshi commented on #7272
i noticed this when i am testing the lease proxy logic too. it is quite reproducible.

[2017-02-04 01:05] xiang90 commented on #7272
@fanminshi can you try to fix this one?

[2017-02-06 05:40] mitake commented on #7239
It happened in the CI of my recent PR: https://github.com/coreos/etcd/pull/7260

https://jenkins-etcd-public.prod.coreos.systems/job/etcd-proxy/641/console

It seems that the failures are identical, though.

[2017-02-06 07:22] mitake opened #7279 "TestElectionOnSessionRestart: data race in kerlseguin/ccache"
From CI of https://github.com/coreos/etcd/pull/7260

Full log can be viewed here: https://jenkins-etcd-public.prod.coreos.systems/job/etcd-proxy/644/console

[code]

[2017-02-06 08:02] siddontang opened #7280 "raft: async apply ConfChange is not safe"
Consider nodes 1, 2, 3, 1 is leader, and 1 adds 4, 2 and 3 commit the log but don't apply it. If 3 begins to start an election, the quorum for 3 is 2, but now the cluster quorum is 3.

This is caused by the async apply, now we don't wait the apply done before raft advance. I guess doing this is for improving performance, but it has a risk now.

[2017-02-06 10:41] scjane commented on #5518
I encountered a similar problem. I have deployed a k8s cluste with etcd service of version 2.3.7 deployed on the master node running CentOS 7. The etcd service failed to start. The following error messsages are displayed in the log:
"cannot read file /var/lib/etcd/default.etcd/member/snap/0000000000000009-000000000019ca39.snap: open /var/lib/etcd/default.etcd..."

And the command output is as foll

[2017-02-06 16:48] hyfrey commented on #7043
The document on coreos.com is not correct: [doc](https://coreos.com/etcd/docs/3.1.0/v2/docker_guide.html).

[2017-02-06 17:03] heyitsanthony commented on #7279
duplicates #7259

[2017-02-06 17:03] #7279 closed

[2017-02-06 17:55] xiang90 commented on #7280
I can believe this is a bug. Previously, we only allow one pending apply, and wait for its finish before proceeding. This gave us some parallelism. Later on, we changed it to be fully async, but forgot about the fact that candidate has to wait for all pending configuration to be actually applied to send out votes to others.

[2017-02-06 19:41] heyitsanthony opened #7283 "TestKVGetResetLoneEndpoint: endless election cycle"
via https://jenkins-etcd-public.prod.coreos.systems/job/etcd-proxy/646/console

Appears to be hanging/deadlocking on `simpleBalancer.Close`:
[code]

[code]

[2017-02-06 20:48] fanminshi opened #7284 "TestWatchWithRequireLeader: no leader watch response error"
Failing on my master branch of hash 6fb99a858598cf001f545e1253fea004f1e0510b,

[code]

[2017-02-06 21:06] heyitsanthony commented on #7284
This is happening because the proxy is polling for leader loss. A WithRequireLeader stream can come in, establish a watcher since `leaderc` won't close until the next leader loss error, receive an event, and then close out on leader loss once the poll cycle completes. The leadership logic will need more thought.

[2017-02-06 21:51] #7274 closed

[2017-02-07 10:22] pizzarabe opened #7287 "etcd2 fails to start with option ETCD_WAL_DIR"
Bootstrapping a new etcd2 Server on CoreOS with a dedicated wal directory fails with the following error message:

`cannot write to member directory: open /var/lib/etcd2/member/.touch: no such file or directory`

removing the wal-dir flag resolves that problem.

Here is the config of a etcd2 cluster node:
[code]

according to the docs the wal-dir option should only change the path of the wal files

[2017-02-07 18:07] heyitsanthony commented on #7287
I suspect you're booting etcd with a wal-dir that's already populated but with a wiped member directory. etcd fails because it expects a member directory but it's not there:

[code]