[2017-06-26 15:06] ManuelGysin commented on #8169
You mean a completely new cluster with empty data? I can do this, but would prefer some other way. They are a lot of data already stored for the running kubernetes installation. Maybe I find a good way to extract the data and import it again.

btw. it does end in the same result if update or delete and adding are used. In fact the cluster had a hard time, with adding/removing members.

Thanks so f

[2017-06-26 15:07] xiang90 commented on #8169
just for reproducing this issue purpose. not to suggest you to recreate your production cluster.

if you can reproduce it easily on a clean cluster, so do we. and we can better help you out.

[2017-06-26 19:45] RobinGeuze opened #8178 "Etcd does not run on Bash on Ubuntu on Windows"
When running etcd on Bash on Ubuntu on Windows in any form (I'm mainly trying to run the integration test, but the normal application doesn't start either), I get the following error:

[code]

I did some digging and found the following comment in etcd/wal/wal_windows.go and I suspect the same thing is valid for the filesystem in Bash on Ubuntu on Windows:
[code]

[2017-06-27 02:10] keyingliu opened #8179 "etcd client v3 hung at kv.Do"
In our kubernetes cluster, if there are many concurrent `get` request to a same resource, apiserver hung at this resource (like service) operations. We found for each resource in apiserver, there is a connection to etcd. The following code detected halt error, but it seems it didn't handle all errors:
[code]
The hung is at https://github.com/kubernetes/kubernetes/blob/release-1.5/vendor/google.gol

[2017-06-27 04:33] mitake commented on #7979
@hsluoyz thanks for the pointers, I'll visit them.

For storing the Casbin policies in etcd, I suggest following how other auth related RPCs work (e.g. `UserAdd()`: https://github.com/coreos/etcd/blob/master/etcdserver/v3_server.go#L407). The auth related metadata is stored in their own buckets of `backend` like this: https://github.com/coreos/etcd/blob/master/auth/store.go#L907

Creating a specia

[2017-06-27 05:32] keyingliu commented on #8179
The hung is at https://github.com/kubernetes/kubernetes/blob/release-1.5/vendor/google.golang.org/grpc/transport/http2_client.go#L557

and the error is: rpc error: code = 13 desc = stream terminated by RST_STREAM with error code: 1

checked the code 13:
[code]
with this condition, the connection is till there or it should be reconnect.

[2017-06-27 05:33] xiang90 commented on #8179
Can you write a script to reproduce the issue?

[2017-06-27 06:22] keyingliu commented on #8179
We can reproduce it every time when we do LNP test for our apiserver, and by checking the goroutine stack with http://127.0.0.1:8080/debug/pprof/goroutine?debug=2, it hung at the wait function.

[2017-06-27 06:26] xiang90 commented on #8179
@keyingliu Please provide a test script/program and steps to reproduce the issue, as we mentioned here: https://github.com/coreos/etcd/blob/master/Documentation/reporting_bugs.md.

We can help you to identify and resolve the problem faster if you do so. It is not convenient for etcd developers to setup k8s and digging into it.

[2017-06-27 06:47] keyingliu commented on #8179
@xiang90 I will try to have one.
But I am just wondering when `code = 13 desc = stream terminated by RST_STREAM` returned, what happened to etcd server? and if client see code 13, should it handle more gracefully? what's your opinion about this kind of error. Thanks.

[2017-06-27 06:52] xiang90 commented on #8179
@keyingliu

check https://github.com/coreos/etcd/blob/5fedaf2dd78aca3eeae723f4dfe9d37ea6edd2fa/clientv3/client.go#L481.

The assumption was internal error is not a fatal error. But it seems you hit one that is a fatal error. retrying on that wont work. so i want you to help to reproduce it so that we can understand the behavior better.

[2017-06-27 07:07] xiang90 commented on #8171
closing

[2017-06-27 07:07] #8171 closed

[2017-06-27 08:56] keyingliu commented on #8179
@xiang90 we found it is hard to reproduce it util we realized the test client we are using is the newer version of grpc. if we use the grpc in kubernetes 1.5, it is easy to reproduce. But anyway, it seems it is grpc issue. We build our apiserver with newer version grpc, the hung issue has gone.

Thanks.

[2017-06-27 11:23] rinsozheng commented on #8129
Is there any configuration/parameters to set in v3.2.0 to make node C as the leader when network broken between node A and node B? As this is what we want in our practice.

[2017-06-27 14:35] gyuho commented on #8171
https://github.com/coreos/etcd/pull/8069 is backported to release-3.2 branch.

[2017-06-27 17:42] philips commented on #8178
This is a BashOnWindows issue: https://github.com/Microsoft/BashOnWindows/issues/2243

[2017-06-27 17:44] philips commented on #8178
@RobinGeuze in the meantime just use etcd.exe from the etcd windows releases as this is an issue with how BashOnWindows emulates POSIX filesystems, not an issue with etcd.

[2017-06-27 17:48] RobinGeuze commented on #8178
I actually managed to "fix" it by including the code from wal_windows.go in the wal_unix.go in case the rename fails (a retry if you will). However then I run into boltdb/bolt#702 so that joy was short lived :P

[2017-06-27 18:03] shamalco opened #8180 "export ETCDCTL_API=3 not working"
Hi,

I am sure I might be messing up some how, but I can't figure out what I am doing wrong. I want to use etcdctl with ver. 3 cluster. I followed the guide correctly [CoreOS interacting with v3](https://github.com/coreos/etcd/blob/master/Documentation/dev-guide/interacting_v3.md)

After running:
`export ETCDCTL_API=3`

When trying to verify as documented:
[code]

When I try etcdctl alone I see it

[2017-06-27 18:13] xiang90 commented on #8180
i do not think coreos ships etcdctl3. you probably should create an issue on coreos issues to track this.

[2017-06-27 18:13] #8180 closed

[2017-06-27 18:42] sangleganesh opened #8181 "session.Done() returns even when all etcd servers in a cluster are online"
We followed the code in https://github.com/coreos/etcd/issues/6699 and are using concurrency.Session to detect loss of connectivity to all etcd servers.

The way we do it is to start a watch and in the watch function start a Session.
The assumption is that if all etcd servers in a cluster go down Session.Done() returns indicating loss of connection to etcd and we exit the process.

In the followin

[2017-06-27 20:07] xiang90 commented on #8179
ok. closing.

[2017-06-27 20:07] #8179 closed

[2017-06-27 20:08] xiang90 commented on #8168
i think the question is well answered. thanks @yudai. closing.

[2017-06-27 20:08] #8168 closed

[2017-06-27 20:20] xiang90 opened #8182 "data race in TestRevision"
[code]

[2017-06-27 20:41] yudai commented on #8182
`rg.Rev` in the test should be protected by a mutex. I'll send a PR to fix.

[2017-06-27 21:33] xiang90 commented on #8182
fixed by #8133

[2017-06-27 21:33] #8182 closed

[2017-06-28 02:00] mangoslicer commented on #7624
@heyitsanthony

Does the current stream coalescing model work like the following?

[code]

Would what your proposing work like this, assuming that the clients want to watch millions of keys which happen to be mostly unique? If that's the case, are we essentially removing load from the etcd server by transmitting all events to the grpc proxy without discriminating depending on whether any client ac

[2017-06-28 03:17] DJAKN opened #8184 "Issue: one node reports etcdserver: publish error: etcdserver: request timed out and others failed to reach it in a three-node etcd cluster"
# One node reports etcdserver: publish error: etcdserver: request timed out and others failed to reach it in a three-node etcd cluster

I start a three-node etcd cluster (node0, node1, node2) on three servers and node2 continuously reports time out, while node0 reports some other problems about node2.

Here is the node create code:
[code]
and here are the logs of three nodes:
[code]
[code]
[code]

[2017-06-28 03:20] xiang90 commented on #8184
You should figure this out on your side.

As etcd reports, there is a network issue. it might be etcd configuration related or a real network problem. but we are not sure.

[2017-06-28 03:20] #8184 closed

[2017-06-28 03:39] hsluoyz commented on #7979
Hi @mitake ,

I have updated the PR: https://github.com/coreos/etcd/pull/8154. It stores the policy into etcd backend.

The current Casbin auth store uses the same perm management API with the default auth store. So it does not require to change the server API for now. But it may be changed in future.

Here's the roadmap I planed personally, please advise:

1. Create the Casbin auth store, which u

[2017-06-28 03:48] DJAKN commented on #8184
@xiang90 Hi. It seems that port 2380 of 172.16.6.231 is blocked according to this information but I used netstat -anp | grep 2380 to check it and no result returns. So could you please give me some other advice on checking the network situation?

[2017-06-28 07:30] lostinblue commented on #7772
Using glide, and after a glide install with no errors, I still get this error when compiling. Has anyone had this happen too?

[2017-06-28 09:52] NetWilliam opened #8185 "What will happen if assign several leases with different TTL to one key ?"
I am trying to use etcd as server health checking tool.

I am expecting that one node will be considered as offline if it cannot write its corresponding key on time, so I create a new lease and bind it to a key every-time I rewrite the key.

I am sure that all nodes are perfectly online, however I still have some node key lost. I don't know if I've misunderstood the mechanism of lease TTL. Does th

[2017-06-28 13:30] carlitos26 commented on #7961
+ 1
Which version is the last version that is working? Is there a estimation when you will fix this issue?

Thanks

[2017-06-28 13:31] ghovat commented on #7961
+1
It would be really required to get this fix done

[2017-06-28 14:29] wjliu opened #8186 "data is sorted order by ascend when calling get method"
When calling get method with NONE sort order option, but return data  is sorted order by ascend.
Environment:

    ETCD server version : 3.1.7
    ETCD client :  jetcd
    API version : v3
    OS : Centos 7

Below is my test code:

    Client client = ClientBuilder.newBuilder().endpoints("http://127.0.0.1:2379").build();
    KV kvClient = client.getKVClient();

    ByteSequence key1 = ByteSequence

[2017-06-28 14:51] wjliu commented on #8186
I checked the source code and found the data is stored in a btree in memory, and the btree provide get method to return data is sorted order by ascend or descend.  So when I called get method with sort target is KEY and sort order is NONE, can only return data is sorted order by ascend.

I think this can be resolved by adding below code in the etcdserver/apply.go (Range function) :

    diff --git

[2017-06-28 15:57] gyuho commented on #8185
If you overwrite a key with different lease, the key will be deleted when the latest lease expires.

[2017-06-28 16:29] xiang90 commented on #8186
none only means there is no ordering guarantees. It may be sorted, or not.

[2017-06-28 16:29] #8186 closed

[2017-06-28 22:35] xiang90 commented on #8185
As @gyuho mentioned, each key is attached to one lease.

I am not sure what happened to your program. If you think it is an etcd issue, feel free to create another issue with reproduce steps. thank you.

[2017-06-28 22:35] #8185 closed

[2017-06-29 01:17] wjliu commented on #8186
But in the Client API doc this option is described as no sorting, so I think the data should be returned in the order in which they were put.

[2017-06-29 03:02] xiang90 commented on #8186
No. There is no such guarantee. You need to sort by modifying rev to get the put order.

[2017-06-29 03:41] wjliu commented on #8186
Ok， I see
Thanks

[2017-06-29 07:19] WIZARD-CXY opened #8187 "etcd grpc request slow"
I have a 3-node etcd(version 3.0.17) cluster. I see the grpc request latency is very high,
for example the LeaseGrant and Txn grpc latency( I use prometheus query histogram_quantile(0.99, rate(etcd_grpc_unary_requests_duration_seconds_bucket[5m]))) is about 300ms. I use this  prometheus query "histogram_quantile(0.99,etcd_network_peer_round_trip_time_seconds_bucket)" to get network round trip time

[2017-06-29 08:40] SuhasAnand opened #8188 "Clarification on WatchChan behavior."
From the ClientV3 godoc its not clear if the watch response will have non nil error for every scenario.

for example consider the following code

      rch := client.Watch(
        watchCtx, "/your/prefix", clientv3.WithPrefix(),
      )
      for wresp := range rch {
        err := wresp.Err()
        if err != nil {
          return err
        }
        for _, ev := range wresp.Events {

[2017-06-29 10:25] gunli opened #8189 "how to read values set by etcdctl with curl?"
Hi all,
I'm testing etcd 3.2.1.

1. I set a k/v by etcdctl with key=foo value=bar2
[user00@/data/home/user00/etcd-v3.2.1-linux-amd64]$./etcdctl get foo
bar2

2. I try to read the value by curl, but it gives me another value I set before
[user00@/data/home/user00/etcd-v3.2.1-linux-amd64]$curl -L http://localhost:2379/v3alpha/kv/range -X POST -d '{"key": "Zm9v"}'
{"header":{"cluster_id":"14841639068

[2017-06-29 11:04] hexfusion commented on #8189
[user00@/data/home/user00/etcd-v3.2.1-linux-amd64]$./etcdctl get foo
bar2

You mean `etcdctl put foo bar2` right?

@gunli your response object appears to be truncated, but this otherwise this appears correct.  What you are possibly missing is the fact that key and value are base64 encoded.  So although you are passing a string 'foo' to etcdctl it is taking care of encoding it for you.  You are the

[2017-06-29 11:29] BusyJay opened #8190 "raft: commit message can be broadcast lazily"
Raft [broadcasts](https://github.com/coreos/etcd/blob/master/raft/raft.go#L902) a MsgAppend message to commit a Raft entry eagerly. This means for every entry in a cluster with n nodes, there will be probably (n - 1) * 2 messages from proposal to commit. Actually the committed index is constantly updated via heartbeat and further proposals, hence the broadcast can be omitted if the application is

[2017-06-29 11:36] hexfusion commented on #8187
@ WIZARD-CXY My understanding is that etcd is optimized for SSD vs HDD which could be a bottleneck here.  Some good benchmarking details are below.

https://github.com/coreos/etcd/blob/master/Documentation/op-guide/performance.md

[2017-06-29 11:38] siddontang commented on #8190
/cc @xiang90

In our high write load test, disabling it can reduce 100% messages and at lease 40% latency.

For backward compatibility, we can use a configuration to control it.

[2017-06-29 12:11] gunli commented on #8189
hi hexfusion,
 thank you for your replying.
 Yes, you are right, i etcdctl put foo bar2, and I try to read it with curl according to the methods in https://github.com/coreos/etcd/blob/master/Documentation/dev-guide/api_grpc_gateway.md, it gives me the wrong value, I don't know whether the URL<http://localhost:2379/v3alpha/kv/range> I passed to curl is right, should I pass it another URL? If yes, w

[2017-06-29 13:31] xiang90 commented on #8187
The long latency is probably caused by HDD. Check disk related metrics to confirm. Thank you.

[2017-06-29 13:31] #8187 closed

[2017-06-29 13:57] raoofm commented on #8189
@gunli It is because may be you are not setting ETCDCTL_API=3 environment property. You should do this before using etcdctl as a v3 client, else it will write into v2 data store. That is why you are able to retrieve the new value using curl with v2.

[2017-06-29 14:18] xiang90 commented on #8190
you can drop the message before you decide to send them out in the network layer. i am curious about what is the actual cost here. is it the network + serialization/deserialization cost or the cost of generating the in memory messages at raft layer? it it is the former, we can solve it at application layer without changing raft. and, yes, we have done that at etcd side.

[2017-06-29 14:24] xiang90 commented on #8189
@gunli As @raoofm mentioned, you need set env `ETCDCTL_API=3`.

[2017-06-29 14:24] #8189 closed

[2017-06-29 18:06] xiang90 commented on #8188
if you do not cancel the watch, yes.

[2017-06-29 18:08] xiang90 commented on #8114
@SuhasAnand kindly ping. any result?

[2017-06-29 18:52] SuhasAnand commented on #8188
@xiang90 Could you explain more i.e. when can a watch get canceled (lets assume, user will never cancel) what happens if the leader dies, or if the client loses connection to the etcd cluster would that cause the watch to get canceled ? in other words, what can cause the watch to get canceled other than user invoked cancel ?

 I am asking this because, I am seeing this issue very frequently at sca

[2017-06-29 19:10] CindyXing opened #8191 "etcd consuming large memory"
We were trying some stress scenario against a kubernetes cluster.
The cluster has an etcd cluster with 3 instances. The db size is around 50MB.

The kubernetes cluster is deployed in HA mode with multiple instances for api-server; scheduler; and controller manager.

The scenario we tried is to periodically break network connections between instances.
The symptom we observed is that the etcd

[2017-06-29 19:33] xiang90 commented on #8188
what issue?

[2017-06-29 19:41] SuhasAnand commented on #8188
where watch closes without any error without cancel being invoked.

[2017-06-29 19:42] xiang90 commented on #8188
@SuhasAnand Can you somehow reproduce it? If so, please provide a script to us and we can help you on it.

[2017-06-29 19:45] SuhasAnand commented on #8188
Sure.

Meanwhile could you please help answer the following ?

[2017-06-29 20:03] selvakumarnms opened #8192 "Question: how to implement high availability of IP in nodes using etc?"
# Bug reporting

A good bug report has some very specific qualities, so please read over our short document on [reporting bugs][report_bugs] before submitting a bug report.

To ask a question, go ahead and ignore this.

[report_bugs]: https://github.com/coreos/etcd/blob/master/Documentation/reporting_bugs.md

[2017-06-29 20:04] selvakumarnms commented on #8192
I wanted to know similar to keepalived how to achieve IP high availability using etcd

[2017-06-29 20:14] SuhasAnand commented on #8114
@xiang90 still running stress tests, I will update this by tomorrow evening at the latest

[2017-06-29 20:16] xiang90 commented on #8191
@CindyXing

This is probably different than #8009 since your db size does not grow, right? Only the mem usage grow?

[2017-06-29 20:17] xiang90 commented on #8192
Probably post this to our mailing list. github is for issue tracking, not general high level questions.

[2017-06-29 20:17] #8192 closed

[2017-06-29 20:34] CindyXing commented on #8191
You are right. Only memory grows. The db size didn't grow much.

[2017-06-29 20:35] CindyXing commented on #8191
For  #8009, what can be the repro steps? Thanks.

[2017-06-29 23:12] xiang90 commented on #8191
#8009 is not super easy to reproduce. But if you want, you can use etcdctl to issue snapshots while doing some stress testing.

But your case is different from #8009. If you want us to take a look, you need to give us enough information so that we can reproduce it.

[2017-06-29 23:22] gyuho opened #8193 "TestLessorRenewExtendPileup: race"
https://travis-ci.org/coreos/etcd/jobs/248578235#L1804

[code]

[2017-06-29 23:24] #8152 closed

[2017-06-30 00:59] gunli commented on #8189
@raoofm & @xiang90 Thank you, I got it. I get the right value after I set ETCDCTL_API=3.

[2017-06-30 01:01] WIZARD-CXY commented on #8187
got that

[2017-06-30 01:11] siddontang commented on #8190
@xiang90

Of course, the high cost is for network and protobuf codec. If we will discard them at the application layer, it is not necessary to still add them in the raft layer and I think using a configuration is easier to do this.

[2017-06-30 07:34] yfoelling opened #8195 "etcd backup function is not complete"
Hey,

i tested the desaster recovery of the ETCD Cluster in our environment.
I used the `etcdctl backup` functionality, after trying to recover from that backup i got the following error:
[code]

When copying and adding the mentioned "DB" file manually the restore works fine.

In the documentation the db file isn´t mentioned either https://coreos.com/etcd/docs/latest/v2/admin_guide.html#disaster-r

[2017-06-30 07:34] akd31 opened #8196 "etcd public discovery problem"
Hi,
I am trying to use etcd public discovery service which is guided below.
https://github.com/coreos/etcd/blob/master/Documentation/op-guide/clustering.md#etcd-discovery

I have 3 docker containers run etcd and when I create all 3 of them they work perfectly.However, when I stop and try to restart them there is an error like

2017-06-30 07:26:01.525466 I | etcdmain: etcd Version: 3.2.1
2017-06-30

[2017-06-30 11:38] rollcat commented on #8151
Seeing the same thing

[2017-06-30 13:16] kamphaus opened #8197 "Updating a directory fails"
I use etcd Version: 3.2.1.
When I create a directory and try to update it the following happens:
[code]
I would expect a similar behavior to value updates:
[code]

[2017-06-30 14:56] xiang90 commented on #8195
try 3.2.1. The bug should already be fixed.

[2017-06-30 14:56] #8195 closed

[2017-06-30 16:02] gyuho commented on #8196
Seems like you started the fresh cluster? If you want to use the discovery token, try mounting your data volume and restarting from that data directory.

[2017-06-30 16:24] akd31 commented on #8196
No actually I didn't start fresh cluster I restart the cluster I have already . Here my commands :

docker stop etcd-0

docker start etcd-0

[2017-06-30 16:28] gyuho commented on #8196
But when you restart cluster without data volume, it runs as a fresh cluster, because there's no data from previous run. Or did you configure data dir?

[2017-06-30 16:35] gyuho commented on #8197
Duplicate to https://github.com/coreos/etcd/issues/3569#issuecomment-143362974?

[2017-06-30 16:59] #8197 closed

[2017-06-30 18:18] #8193 closed

[2017-06-30 21:39] akd31 commented on #8196
I think when I create a node I identify data dir and when restart node it know that isn't it ? if not How would I configure data dir ?

[2017-06-30 21:40] gyuho commented on #8196
`DATA_DIR_1=/tmp/etcd-data-0`? Did you reboot the machine? Then `/tmp` is gone?

[2017-06-30 21:42] akd31 commented on #8196
Yeah you are right I didn't realize that . Thanks I'll try asap.

[2017-07-01 00:19] SuhasAnand commented on #8188
@xiang90 This is what I have observed

    // If the watch failed and the stream was about to close, before the channel is closed,
    // the channel sends a final response that has Canceled set to true with a non-nil Err().
    `Canceled bool`

Based on the above in godoc I inferred , just before WatchChan is closed Canceled is always set, hence I would only need to check for Canceled,  and if it

[2017-07-01 00:33] SuhasAnand commented on #8114
@xiang90 , upgraded both etcd client and server to latest 3.2.1.
grpc-proxy is still not production ready, came across lots of issues with it (will create separate issue for them later), so initially used grpc-proxy and later without it.

I see the same for 10K limit, reducing to 1k is still not a option because the consumers are  watching on a range of 2M key, and limiting to 1k will increase the

[2017-07-01 22:24] smarterclayton opened #8202 "Large range read blocks writes on 3.2.1?"
I'm testing a very large 1.5 Kubernetes data set upgraded to 1.6 and etcd v3 mode (etcd 3.2.1).  Post v3 migration, I'm performing a kubernetes storage migration (GET -> PUT of all data) to force migration to protobuf.  However, as I was letting the migration run in the background (single threaded is taking about 30-40 minutes, since i'm migrating about ~500k kubernetes objects) I tried to do a ra

[2017-07-02 15:16] sparkthu opened #8203 "clientv3: Use KeepAlive for a key and watch it, del and put will be received"
# Bug reporting

A good bug report has some very specific qualities, so please read over our short document on [reporting bugs][report_bugs] before submitting a bug report.

To ask a question, go ahead and ignore this.

[report_bugs]: https://github.com/coreos/etcd/blob/master/Documentation/reporting_bugs.md

For example, when I put a key /abc with a lease A, and call keepalive will lease A. Then

[2017-07-02 16:48] xiang90 commented on #8203
yes. that is the expected behavior. watch will return all events associated with the watched key. you can filter out some though. check v3 api for more details.

[2017-07-02 16:48] #8203 closed

[2017-07-03 07:46] ManuelGysin commented on #8169
Hello!

Sorry, last week was very busy.
I can reproduce this behavior the following way with a new cluster:

Create a 3 member cluster with HTTP. Update the peer url of member 2 with HTTPS, restart the changed member 2 with HTTPS. After that you will find in the logs of member 2 the following:

`
rafthttp: request cluster ID mismatch (got 8873e806ab344a8 want cdf818194e3a8c32)
`

Before change:

[2017-07-03 07:52] xiang90 commented on #8169
@ManuelGysin Can you please share us the log of member 2 before and after the restart?

[2017-07-03 08:45] ManuelGysin commented on #8169
Member 2 before change:

[code]

Member 2 after change:

[code]

[2017-07-03 12:38] MelleKoning commented on #7772
Yes. What stable version of grpc should we use

[2017-07-03 14:19] mitake commented on #7979
@hsluoyz sorry for my late response, I'll reply this wednesday possibly (your idea and PR are interesting but heavy ;)

[2017-07-03 14:40] sparkthu commented on #8203
@xiang90  Sorry, I might not find the exact problem. Below is my code:

	ctx, _ := context.WithTimeout(context.Background(), 30 * time.Second)
	resp, err := r.cli.Grant(ctx, ttlSecond)
	if err != nil {
		return errors.New("Setup ttl failed:" + err.Error())
	} else {
		log.Println("LeaseID:", resp.ID)
	}
	ctx, _ = context.WithTimeout(context.Background(), 30 * time.Second)
	keepaliveChan, err := r.

[2017-07-03 15:21] hsluoyz commented on #7979
@mitake , thanks, let me know for any questions:)

[2017-07-03 15:37] armstrongli opened #8204 "There are a lot of raft proposals when there're only GET requests"
Here is the grafana dashboard.
<img width="1420" alt="screen shot 2017-07-03 at 11 33 51 pm" src="https://user-images.githubusercontent.com/8025018/27799610-76084ac8-6048-11e7-9e25-2d0c3da37cb4.png">

[2017-07-03 16:59] xiang90 commented on #8202
dup with https://github.com/coreos/etcd/issues/7719

also: https://github.com/coreos/etcd/issues/8114

@smarterclayton can you move the comment to #7719. if we decide to solve this, we will solve it there. thanks.

[2017-07-03 16:59] #8202 closed

[2017-07-03 17:00] xiang90 commented on #8204
get goes through in 3.1, but not in 3.2.

[2017-07-03 17:00] #8204 closed

[2017-07-03 17:01] xiang90 commented on #8188
this is a bug. gRPC probably has a upper bound of message size. etcd does not try to respect that.

[2017-07-03 17:32] ehudkaldor opened #8205 "how to batch-load (initialize) from json file?"
I cannot seem to find a way to initialize etcd using a json file. A two-level file is what I need (directory from each top level, than its children as key-value pairs), but even a flat file would be good at this point. It any other way...

[2017-07-03 19:49] smarterclayton commented on #7719
Moved from #8202:

My worry here is that this will become increasingly annoying in large Kubernetes clusters - while large lists are uncommon, they are a common way for components to resync.  The worst case would be for large range reads to block lease acquisition on loaded clusters.  The cluster I'm describing above is one of the largest Kube clusters that is likely in the near term, and has some

[2017-07-03 19:52] SuhasAnand commented on #7719
Is similar to what we are seeing in #8114

[2017-07-03 21:12] CindyXing commented on #8191
From investigation, it seems that we hit the known etcd issue 7571. We deployed etcd 3.1.4.

[2017-07-03 22:16] robertglen opened #8206 "IP Address SAN broken for TLS comms between nodes under 3.2.x"
Bootstrapping a 3.2.1 etcd cluster was giving me endless errors like this:

Jul 03 21:54:45 ip-10-xxx-xxx-xxx etcd[3213]: rejected connection from “10.yyy.yyy.yyy:37194” (tls: “10.yyy.yyy.yyy” does not match any of DNSNames [“*.etcd.ec2.xyz” “etcd.ec2.xyz” “etcd0” “etcd0.ec2.xyz” “etcd1” “etcd1.ec2.xyz” “etcd2” “etcd2.ec2.xyz” “etcd3” “etcd3.ec2.xyz” “etcd4” “etcd4.ec2.xyz” “etcd5” “etcd5.ec2.xyz”

[2017-07-04 00:03] xiang90 commented on #8191
@CindyXing

You said it is 3.2.0+git.

Yes. If you can confirm it is etcd 3.1.4, then try to upgrade to a newer version should solve the problem.

[2017-07-04 06:36] ehudkaldor commented on #8151
me too

[2017-07-04 18:51] wojtek-t opened #8207 "etcd should report unhealthy status when in state: "mvcc: database space exceeded""
When etcd v3 enters the state of "mvcc: database space exceeded", it isn't fully functional. The user can only perform read operations, performing write operations returns in an error.

In such case, etcd shouldn't report it's state as healthy - it should be either unhealthy (or something in between).

@xiang90

[2017-07-04 18:52] xiang90 commented on #8207
agreed.

[2017-07-04 18:53] wojtek-t commented on #8207
Reproduction steps:
$ etcd --quota-backend-bytes=1000000 &
$ for i in `seq 10000`; do ETCDCTL_API=3 etcdctl put $i$i$i$i$i$i $i$i$i$i$i$i$i$i$i$i$i$i$i$i$i$i$i$i$i$i$i$i$i$i$i$i$i$i$i$i$i$i$i$i$i$i$i$i$i$i$i$i$i$i$i$i$i$i$i$i$i$i$i$i$i$i$i$i$i$i$i$i$i$i$i$i$i$i$i$i$i$i$i$i$i$i$i$i$i$i; done

Then running the following command returns:
$ curl localhost:2379/health
{"health": "true"}

So even if we

[2017-07-05 02:21] xiang90 commented on #8114
grpc-proxy is still not production ready, came across lots of issues with it (will create separate issue for them later), so initially used grpc-proxy and later without it.

If you want to scale read, the proxy is the way to go. we will not try to optimize the core etcd for read too much really. For your use case, we should collaborate to make grpc-proxy works better.
The core etcd team has not pu

[2017-07-05 02:43] xiang90 commented on #7719
etcd adds pagination support for this exact reason. I hope k8s can adopt this pattern instead of trying to get ALL keys at the same time.

This is not saying that we should not make read non-blocking, if anyone wants to look into that problem please do!

[2017-07-05 03:55] armstrongli opened #8208 "Strange code in kvstore rangeKeys function"
https://github.com/coreos/etcd/blob/master/mvcc/kvstore_txn.go#L134
https://github.com/coreos/etcd/blob/master/mvcc/kv.go#L24

There is `limit` parameters parsed to the range function. However, the range limit is always `0`. It will result in range all the keys from kv store.

[code]

[code]

[2017-07-05 15:50] gyuho commented on #8205
@ehudkaldor We currently support YAML format https://github.com/coreos/etcd/blob/master/embed/config.go#L199.

Example config can be found here https://github.com/coreos/etcd/blob/master/etcd.conf.yml.sample

[2017-07-05 16:14] gyuho commented on #8206
Does any of the host resolve to `10.yyy.yyy.yyy`?

[2017-07-05 16:48] robertglen commented on #8206
No.  I have NO DNS records matching any of these names.  In my case, I have a script that generates an overloaded cert that _could_ work for any of the hosts if I addressed them via DNS names, but I instead refer to all hosts by IP address in the etcd cmdline args.   The script creates an x509 cert with all the names as you see here PLUS an IP Address SAN for 127.0.0.1 and the node's own IP addres

[2017-07-05 16:52] gyuho commented on #8196
@akd31 Please reopen if you still have issues.

[2017-07-05 16:52] #8196 closed

[2017-07-05 17:08] heyitsanthony commented on #8178
Partially duplicates #6984. The wal package / fileutil can dynamically check if the FS permits locked directory renames then act accordingly instead of tying it to the build target OS like how it is now.

[2017-07-05 19:54] heyitsanthony commented on #8129
@rinsozheng no, not yet; etcd doesn't reason about the network topology enough to do that.

[2017-07-05 20:33] CindyXing commented on #8191
It was a mis-leading hard-coded value in 3.2 version.go. I was told the real code is of 3.1.4. We can close this issue. Thx.

[2017-07-05 20:34] #8191 closed

[2017-07-05 21:03] gyuho opened #8209 "discovery: register with v3 API"
Currently etcd writes/watches v2 data to discovery service servers https://github.com/coreos/etcd/blob/master/discovery/discovery.go, so even if discovery.etcd.io is having scaling issues with v2 API, it cannot migrate to v3 yet.

c.f. https://github.com/coreos/discovery.etcd.io/issues/52

[2017-07-05 21:10] xiang90 commented on #8209
not sure if we are going to do this. maybe we should just deprecate discovery eventually.

[2017-07-05 21:18] ehudkaldor commented on #8205
not what I meant. this is how how to use a conf file for etcd itself. What I am looking for is a way to input (set/mk/whatever) the values I need served by etcd, after it starts.
It would be nice if, as part of the etcd running command (etcd --name myEtcd...) I could provide a file with the values I want in etcd, preferably (for me) from a json file, that etcd would parse and insert. leaf values s

[2017-07-05 21:20] ehudkaldor commented on #8205
not what I meant. this is how how to use a conf file for etcd itself. What I am looking for is a way to input (set/mk/whatever) the values I need served by etcd, after it starts.
It would be nice if, as part of the etcd running command (etcd --name myEtcd...) I could provide a file with the values I want in etcd, preferably (for me) from a json file, that etcd would parse and insert. leaf values s

[2017-07-05 21:22] xiang90 commented on #8205
no. etcd will not load data from json file. you can write a script to do that after you bootstrap an etcd cluster.

[2017-07-05 21:22] #8205 closed

[2017-07-05 21:23] ehudkaldor commented on #8205
for that matter, this is how i do it now using jq:
[code]

[2017-07-05 21:23] xiang90 commented on #8205
@ehudkaldor

your script looks good.

[2017-07-05 21:27] ehudkaldor commented on #8205
am i the first one to ask for this kind of functionality? can we make it into an enhancement?

[2017-07-05 21:57] heyitsanthony opened #8211 "functional tester hanging in CI"
via https://semaphoreci.com/coreos/etcd/branches/master/builds/2115
[code]

[2017-07-05 23:23] heyitsanthony commented on #8208
@armstrongli it's fetching keys one-by-one since `end` bounds the range request to a single key; the unlimited fetch is in `tr.s.kvindex.Range(...)`, however. I think there's potential for getting rid of an allocation in this path, though-- the `end` doesn't look necessary.

[2017-07-05 23:41] xiang90 commented on #8009
should be fixed by https://github.com/coreos/etcd/pull/8210

[2017-07-05 23:47] xiang90 commented on #8190
@siddontang

send a pr and we can accept it. i have no strong opinion on this one.

[2017-07-06 01:24] skyao opened #8212 "Please update this document according to version 3.2.1"
Since v3.2.1 had bean released, please help to update this document “Experimental APIs and features”

https://github.com/coreos/etcd/blob/master/Documentation/dev-guide/experimental_apis.md

[code]
Thank you!

[2017-07-06 06:09] mitake commented on #8157
@xiang90 I'm reopening this PR because the client side change is still undergoing (I should remove `Fix #8157` in the PR). The change still needs consideration but wip version can be found here: https://github.com/mitake/etcd/commit/b0ecc0ce9fec89fd189f79bb9f47ba8cabaa2d48 .

[2017-07-06 11:13] abel-von opened #8214 "one of the three nodes of etcd cluster has outdated data"
# Bug reporting

hi, I have encountered a problem in my testing cluster. we deployed a kubernetes cluster,  when we run "get pods" command in two different nodes, it display different results.

node1:
[code]

node2:
[code]

As we can see, the first result has many error pods but in the second result they are all running. and we check through docker command that pods are actually running.

then I c

[2017-07-06 11:16] abel-von commented on #8214
after reboot the etcd on 205.18.1.181, the `get pods` result is now correct on both two nodes.  but the  etcd data size on 205.18.1.181 is still much bigger than the other two nodes.

[2017-07-06 11:41] abel-von commented on #8214
Sorry that I can't give out all the logs because of security issues in my company. I checked the log and found that the log is almost consistent in the 205.18.1.181 and the other nodes.

logs on 205.18.1.181:
[code]

logs on 205.18.1.109:
[code]

[2017-07-06 12:17] aweisser opened #8215 "Question: What does "Average Server RSS" mean?"
The term is mentioned in your performance guide. https://github.com/coreos/etcd/blob/master/Documentation/op-guide/performance.md

[2017-07-06 12:50] hejingxian123 opened #8216 "Why the wal file sync duration can become as longer as 1m11.162122634s?"
2017/06/20 12:53:52 server.go:636: Warning: avoid queries with large range/delete range!
2017/06/20 12:54:01 wal.go:403: Warning: sync duration of 8.001014846s, expected less than 1s
2017/06/20 12:55:12 wal.go:403: Warning: sync duration of 1m11.162122634s, expected less than 1s
2017/06/20 12:55:12 index.go:171: Info: store.index: compact 1747703

This is the log which occurred in our project. Why

[2017-07-06 13:54] gyuho commented on #8215
It's memory usage https://en.wikipedia.org/wiki/Resident_set_size from the `top` command.

[2017-07-06 13:54] #8215 closed

[2017-07-06 13:55] gyuho commented on #8216
what was your command to trigger this? And is it running on HDD?

[2017-07-06 14:22] xiang90 commented on #8216
fsync time is directly measured from syscall time. there is probably some io contention going on in your environment (using vm? running io intensive workload?)

[2017-07-06 14:22] #8216 closed

[2017-07-06 15:16] aweisser commented on #8215
Thx for the quick reply

[2017-07-06 15:59] heyitsanthony commented on #7961
@ghovat @carlitos26 is there a way to reliably reproduce this?

[2017-07-06 17:24] heyitsanthony commented on #7624
Yes. The proxy would stream events from the server into its own mvcc backend to service watches. The diagram should have an mvcc hanging off the gRPC proxy, though.

[2017-07-06 17:31] heyitsanthony commented on #8184
@DJAKN Can you confirm there aren't any firewall or network rules blocking port 2380? It can be tested with `nc -l 2380` and `echo "abc" | nc 172.16.6.231 2380`.

[2017-07-06 17:40] heyitsanthony commented on #7772
@MelleKoning use the grpc and grpc-gateway versions that etcd vendors-- see https://github.com/coreos/etcd/blob/master/glide.yaml

[2017-07-06 17:54] heyitsanthony commented on #8188
This also blocks #7624 if implemented using a keyspace-wide watch. The watch messages will need a fragmentation flag (probably want semantics like `limit` and `more` from Range) to indicate the events for a single revision are split over multiple messages.

[2017-07-06 18:06] xiang90 commented on #8214
@abel-von do you take snapshots regularly?

[2017-07-06 18:31] heyitsanthony opened #8217 "virtualized auth"
Currently auth configuration is cluster-wide; there is a single root role that manages access to all auth resources. Furthermore, since auth is system wide, the metadata is baked into boltdb, making observing updates to authentication unwieldy and introducing extra paths to reason about revisions to avoid inconsistencies.

There have been requests for other sorts of authentication backends (e.g.,

[2017-07-06 19:48] heyitsanthony opened #8218 "grpcproxy: TestDoubleTLSClusterSizeOf3 taking too much time"
https://jenkins-etcd.prod.coreos.systems/job/etcd-proxy/2033/consoleFull

[code]

Likely causing CI timeouts.

[2017-07-06 20:45] heyitsanthony opened #8220 "TestPeriodic: compact request = revision:12 , want revision:13"
via https://semaphoreci.com/coreos/etcd/branches/pull-request-8199/builds/4
[code]

[2017-07-06 21:06] heyitsanthony commented on #8151
Can reproduce with `--sysctl net.ipv6.conf.all.disable_ipv6=1`. Probably related to the listener address  giving IPv6 [::] even if passed IPv4 0.0.0.0

[2017-07-06 21:15] xiang90 commented on #8169
2017-07-03 08:40:47.783497 I | rafthttp: starting peer 8e9e05c52164694d...
2017-07-03 08:40:47.783524 I | rafthttp: started HTTP pipelining with peer 8e9e05c52164694d
2017-07-03 08:40:47.783749 I | rafthttp: started streaming with peer 8e9e05c52164694d (writer)
2017-07-03 08:40:47.784756 I | rafthttp: started streaming with peer 8e9e05c52164694d (writer)
2017-07-03 08:40:47.786364 I | rafthttp: st

[2017-07-06 21:22] xiang90 commented on #8009
fixed by #8210

[2017-07-06 21:22] #8009 closed

[2017-07-06 23:47] jamesyonan opened #8224 "etcd3 fails to shut down on sigint/sigterm when grpc-gateway has active watches"
Running a single-node cluster from the shell using 3.2.0-rc.1+git.  I have a local client connect to the JSON grpc-gateway using POST /v3alpha/watch in "streaming" mode, where the HTTP session is long-term and each new watch event comes over the wire as a new JSON-encoded HTTP chunk.  This part works fine.  However if I try to ctrl-c the etcd process while the watch is still active, the process ha

[2017-07-07 02:44] heyitsanthony opened #8225 "TestDecreaseClusterSizeOf3: client: etcd cluster is unavailable or misconfigured"
via https://jenkins-etcd-public.prod.coreos.systems/job/etcd-proxy/2048/console
[code]

[2017-07-07 02:50] #7961 closed

[2017-07-07 02:50] #8151 closed

[2017-07-07 02:56] #8212 closed

[2017-07-07 03:24] helinbo2015 opened #8226 "Can add a insecure port listen on local ip for healthcheck"
i have met a case that if etcd http(s) server has a insecure port, it may helps a lot.
1.  In my kubernetes env(use kubelet's static pod to start master's components(include ETCD)), deployed ETCD with tls.
2.  use kubelet's readinessprobe `httpGet` funciton to check the health status of ETCD on the same vm.
the problem is: the readinessprobe `httpGet`  function is not support https scheme, so this

[2017-07-07 05:46] #8206 closed

[2017-07-07 06:02] DJAKN commented on #8184
@heyitsanthony Hello, I'm out of access to the servers these days and I'll try it once I get the access.

[2017-07-07 06:17] wojtek-t commented on #8009
@xiang90 - great thanks!
When can we expect this to be part of some release? Also will it be backported to 3.0.* and/or 3.1.* ?

[2017-07-07 07:11] zhuqunzhou opened #8227 "Code client and etcdctl get different results."
For example,I can use the  code `client.Get(context.TODO(), "/test")` get the value,but `./etcdctl get /test` returns `/test key not found`.

one host opts:`./etcd --name infra0 --initial-advertise-peer-urls http://10.100.173.74:2380   --listen-peer-urls http://10.100.173.74:2380   --listen-client-urls http://10.100.173.74:2379,http://127.0.0.1:2379   --advertise-client-urls http://10.100.173.74:2

[2017-07-07 07:28] #8227 closed

[2017-07-07 07:46] abel-von commented on #8214
@xiang90  thanks for reply, we didn't take any snapshot. it's running normally for days, then we restart 205.18.1.181 and 205.18.1.109 , which are the two of  three nodes of etcd. after restarting, the problem comes out. Will the `snapshot save` operation cause the db inconsistency?

[2017-07-07 10:22] gunli opened #8228 "Can we read keys with prefix by HTTP API?"
Hi there,
    As we know, we can read all the values of keys with prefix by gRPC API like this:
    ./etcdctl get tglog --prefix

tglog
tglogvalue
tglog/qmfjdz
{["10.125.30.50:3600","10.125.30.51:3600"]}
tglog/wzry
{"port":3600,"heartbeatport":3601,"ips":["10.125.30.50","10.125.30.51"]}

    I wonder if we can do this by HTTP API? It seems we can read  just one value once according to the Docs, it

[2017-07-07 14:08] ahoma-paymentus opened #8230 "Running the official docker image for etcd will listen only on localhost."
Here is the sample docker-compose.yml that demonstrates the problem.
[code]
Here is the log:
[code]

[2017-07-07 14:12] gyuho commented on #8230
Seems like docker configuration issue, not etcd issue.

[2017-07-07 14:19] ahoma-paymentus commented on #8230
It is not. Ping works fine. However curl does not.

[2017-07-07 15:40] gyuho commented on #8230
Shouldn't matter. Your etcd cluster started fine. Seems like you just need to expose port 2379.

[2017-07-07 15:40] #8230 closed

[2017-07-07 15:47] gyuho commented on #8228
We have grpc-gateway for HTTP + JSON endpoints.

https://github.com/coreos/etcd/blob/master/Documentation/dev-guide/api_grpc_gateway.md

[2017-07-07 15:47] #8228 closed

[2017-07-07 16:23] mwf opened #8231 "WatchResponse.Canceled is not triggered to true"
Hi team!

You have some inconsistency between clientv3 Watch documentation and real behavior!

Docs [says](https://godoc.org/github.com/coreos/etcd/clientv3#WatchResponse):
[code]

But you receive response with `Canceled = false` in case of revision compaction! And then the channel is unexpectedly closed!

Try this (consider `1` as some compacted revision):
[code]

The result will be:
[code]

Acco

[2017-07-07 16:33] ahoma-paymentus commented on #8230
The logs shows that etcd is listening on localhost only.
Because of that etcdctl works on

[2017-07-07 16:35] gyuho commented on #8230
Yeah you need to either use host network for your etcd container, or expose client port 2379 to the container that your `etcdctl` is running.

[2017-07-07 21:25] ahoma-paymentus commented on #8230
Here is a more detailed run. This clearly shows that etcd is not registering on anything but 127.0.0.1
[code]
run on AWS instance

[2017-07-07 21:40] heyitsanthony commented on #8230
@ahoma-paymentus launching etcd as `etcd` with no arguments will only bind to localhost by design to avoid unintentionally exposing the etcd instance to the outside world.

The commented out line:
[code]
is closer to what should be passed to etcd in order to expose it to the rest of the network via docker.

[2017-07-07 22:01] heyitsanthony commented on #8214
@abel-von can this be reproduced with 3.2.2 or 3.1.9? I can't seem to find a commit that matches ec53528...

[2017-07-07 22:54] heyitsanthony opened #8235 "TestTLSReloadAtomicReplace: grpc: timed out when dialing"
via semaphore https://semaphoreci.com/coreos/etcd/branches/pull-request-8213/builds/2
[code]

[2017-07-07 22:56] #8208 closed

[2017-07-08 23:35] xiang90 commented on #8231
@heyitsanthony

I think the comment is wrong? User should rely on error instead? Or we switch to always set canceled to true when there is an error?

[2017-07-08 23:41] mwf commented on #8231
And also the question is, can there be some errors, which don't lead to channel close? If can - the Canceled flag is usefull.
If any error leads to channel close - then what is the purpose for Canceled flag? User can just check Err() and that's all.
Maybe the original thought was that there could be some "recoverable errors" without channel close, but how should the user react to them? Just log an

[2017-07-09 18:23] ahoma-paymentus commented on #8230
And this is exactly the problem. etcd refuses to listen on all ports when specifying those options:

[2017-07-09 18:24] ahoma-paymentus commented on #8230
Running:
command: sh -c 'etcd -listen-client-urls http://0.0.0.0:2379 -advertise-client-urls http://etcd:2379,http://127.0.0.1:2379'

etcd fails to listen
[code]

[2017-07-09 18:39] gyuho commented on #8230
Try https://docs.docker.com/compose/compose-file/compose-file-v2/#expose

[2017-07-09 19:01] ahoma-paymentus commented on #8230
Again the expose command has nothing to do with... moving on..

I run the following command:
command: sh -c 'local_ip=$$(ifconfig eth0|sed -n -e "s/.*inet addr:\\([0-9.][0-9.]*\\).*/\\1/p");echo $$local_ip; etcd -listen-client-urls http://$$local_ip:2379,http://127.0.0.1:2379 -advertise-client-urls http://$$local_ip:2379,http://127.0.0.1:2379'

And this worked. So it looks etcd is not working when

[2017-07-09 23:08] hexfusion commented on #8230
@ahoma-paymentus I can not replicate your issue locally.

docker-compose.yml
https://gist.github.com/hexfusion/a7497be0509321b9e1cfc4b632822970

using command: sh -c 'apk update; apk add curl;etcd -listen-client-urls http://0.0.0.0:2379 -advertise-client-urls http://etcd-srv:2379'

$ docker-compose up -d
Creating docker_etcd_1
Creating docker_etcd-check_1

$ docker-compose exec etcd curl -sS http:

[2017-07-09 23:42] jamesyonan opened #8237 "Timing issue with /v3alpha/lease/keepalive that is trivially reproducible with telnet"
I'm trying to stream lease keepalives via grpc-gateway.  When I send a full HTTP header before each request it works fine.  However if I try to stream the keepalive messages inside a single HTTP request by sending a newline-delimited JSON message every few seconds inside an HTTP chunk, etcd silently ignores the streamed messages (after the first one in the request) and expires the lease.

Not sure

[2017-07-10 03:29] gunli commented on #8228
Hi gyuho,
    Thank you for your replying. I'm afraid I didn't give my requirements clearly, My requirement is to read all the values of keys that with prefix "tglog" by one HTTP API call, the example in https://github.com/coreos/etcd/blob/master/Documentation/dev-guide/api_grpc_gateway.md read just ONE value, and my question is how can I put "--prefix" option to JSON as we do that in gRPC client.

[2017-07-10 04:16] mangoslicer commented on #8188
@heyitsanthony

I'm interested in working on #7624, if no one has started working on this blocking issue with your suggested solution, I can implement it. Would the implementation involve:

1. Adding a `limit` field to `clientv3.watchRequest` and and a public `Limit` field to `pb.WatchRequest`
2. Adding a `More` field to `mvcc.WatchResponse`and to pb.WatchResponse
3. Setting some reasonable limit

[2017-07-10 08:05] jamesyonan commented on #8237
Looking into this further, it seems that etcd/grpc-gateway may have a timing/buffering issue with streamed requests.

This is very easy to reproduce with telnet.

If I paste 10 keepalive messages (as chunked, newline-delimited JSON) as a request into the telnet session, I get the expected 10 replies:

[code]

Now retry the experiment, but instead of pasting the entire request at once, paste the in

[2017-07-10 15:17] ahoma-paymentus commented on #8230
I think I found the problem. When running it on Docker Windows 10, it looks the containers are not running using IP6. Running ifconfig in the containers shows only IP4 address.

etcd is trying to register on IP6 and it fails.

Running the same on AWS image ifconfig returns IP4 and IP6 address. And etcd works.

This problem is sidestepped when asking etcd to register on a specific IP4 ip.

It looks

[2017-07-10 16:08] #8167 closed

[2017-07-10 16:36] heyitsanthony commented on #8231
There aren't any errors that won't also close the watch, but it might be nice to have them in the future. The server doesn't set `Canceled` when closing the channel on compact, it only sets the compact revision, and so the client watch response won't set cancel either.

It seems like the server should set both `Canceled` and the compact revision on watch compaction. This won't break any existing c

[2017-07-10 18:13] heyitsanthony commented on #8188
@mangoslicer #7624 is a separate issue from this; it shouldn't need any modifications to the RPC messages.

Thinking about this issue more, `limit` semantics with some max `n` events would be something different from what's needed for the fix. Probably `Limit` would just drop more than `n` events and set `More`, but never deliver those extra events.

The fix here would involve a  `fragment` boolea

[2017-07-10 18:29] raoofm commented on #6925
This is great. Any timeline for 3.3.0 yet?

[2017-07-10 21:05] mwf commented on #8231
BTW, Anthony, I've got another concern. You say it's server who closes the channel on compact. When does it do this? We just hit this issue several days ago, we had some long-lasting watches for service discovery and etcd compaction once per 24 hours. And suddenly services received watch channel close - though I played around and could not reproduce this case.

If you watch starting from some revi

[2017-07-10 21:36] yudai commented on #7360
Did some tests with pprof and a forced GC. It seems there is no real memory leak here. But resources are not recovered by GC somehow? Sharing my observation FYI.

[code]

No goroutine leaks anyway.

[code]

### Without GC

532MB by `ps`.

[code]

99MB by pprof

[code]

### With a Forced GC

520MB by `ps`

[code]

23MB by pprof. Around 70MB was recovered.

[code]

After the last GC finishes, the al

[2017-07-11 00:41] F21 opened #8239 "Make major and minor version tags of docker images available"
I am not sure if this is the best place to post this, however, it would be really convenient if you guys could publish major and minor tags for the docker images.

For example, the latest version as of writing is `v3.2.2`. Sometimes, we just want to pin our deployment to `v3.2` or even just `v3`. In this case it would be super useful to have a tag for `v3` and `v3.2`.

[2017-07-11 00:52] gyuho commented on #8239
Done. `v3.2` will be tagged for following minor releases (e.g. v3.2.2, v3.2.3, ...)

[2017-07-11 09:45] mwf commented on #8231
@heyitsanthony ping :)

[2017-07-11 12:12] hexfusion commented on #8226
As you see, This is not a indirect way for ETCD component that supports REST API well.

@helinbo2015 I am not sure if I am completely understanding your use case.  But if you are deploying etcd in k8s using tls perhaps you should look at the way etcd-operator does this with secrets.  Although this doesn't eliminate the "tls file" dependency perhaps it streamlines it when using curl with tls agains

[2017-07-11 13:18] tgraf opened #8241 "Transactional Compare for WithCountOnly()"
While porting code to etcdv3 I noticed this gap in functionality which would render tremendously useful:

[code]

## Use Case

1. Insert master key plus first key in prefix only count on prefix is still 0
2. Delete master key after last key inside the prefix is gone

This allows maintaining a shared key with reference counting exclusively maintained by the presence of keys which share a common pre

[2017-07-11 13:32] yanlinly commented on #8077
v3.2.0  this problem still exist

add node
etcdserver: publish error: etcdserver: request timed out
2017-07-11 21:01:41.591426 W | rafthttp: health check for peer ac53a1e5678d121a could not connect: dial tcp 10.176.111.237:2280: getsockopt: connection refused
2017-07-11 21:01:44.640781 E | rafthttp: failed to decode raft message (read tcp 11.131.105.212:2280->10.176.111.232:33729: i/o timeout)

ma

[2017-07-11 13:42] yanlinly commented on #8077
i want to low "snapshot-count"  to release memory.  but use more memory.
![image](https://user-images.githubusercontent.com/17695352/28071211-de9e670e-6681-11e7-9709-ad1542aaa165.png)

[2017-07-11 13:46] yanlinly commented on #8077
I found snapshot tuning,memory up quickly.  I worry the node dead.  I don't know the memory use and gc rule.  you have infomation?

[2017-07-11 13:48] #8239 closed

[2017-07-11 14:45] wojtek-t commented on #8009
When can we expect this to be part of some release? Also will it be backported to 3.0.* and/or 3.1.* ?

@xiang90 - friendly ping ^^

[2017-07-11 15:49] xiang90 commented on #8231
if closes the connection if the watcher wants to watch (or watching on) compacted revisions.

[2017-07-11 16:01] mwf commented on #8231
Yes, it's OK to close the connection with error if you try to **start** the watch on compacted revision. And it does so.
But as I told above, it closes the connection after you already started the watch.
1. I could not reproduce it - I started watch on rev. 3000 for example, then made some inserts, compacted store to 3010, made another insert - and client received the event.
2. But the fact is tha

[2017-07-11 16:02] mwf commented on #8231
Because it's strange for me to close a watch just because the revision you start watching from is compacted. What's the point?

[2017-07-11 16:03] distributed-sys opened #8243 "Node with smaller term can get stuck in election when PreVote is true"
Hi,

When playing with the etcd Raft library, I noticed the following issue when PreVote is enabled.

For a three nodes Raft cluster with node A, B and C, let's say C is isolated from both A and B due to network partition, so it is expected to keep the initial Term value 1. A and B had a few elections and thus moved their terms to a higher value, say 5. Let's also assume that B is the current lead

[2017-07-11 16:05] xiang90 commented on #8231
can you reproduce this? if yes, then it is a bug.

it can happen if your watcher is slow and lagging. and you compact at the current head. if you believe this is not the case, either reproduce it or look into the code to fix it?

[2017-07-11 16:10] xiang90 commented on #7850
gRPC c++ 1.2+ fixes this issue. not etcd specific, closing

[2017-07-11 16:10] #7850 closed

[2017-07-11 16:54] gyuho commented on #8060
@xiang90 @heyitsanthony Do we want to *move* `/metrics` endpoints to a separate port, or *duplicate* the handler in the separate port?

[2017-07-11 17:00] heyitsanthony commented on #8060
Duplicate the handler. There could be clients that have access to the internal port that expect /metrics to be available.

[2017-07-11 17:25] bdarnell commented on #8243
We don't currently use PreVote in CockroachDB - we tried it briefly and ran into problems, which were probably similar to this one. Thank you for the test, this should help us get to the bottom of this problem quickly. CC @irfansharif, who just started looking into this.

[2017-07-11 18:18] heyitsanthony commented on #8241
@tgraf This can be done already (in master now, will be in 3.3) by comparing on the Version. See https://github.com/heyitsanthony/scraps/blob/master/delkeypfx/main.go for an example with delete.

[2017-07-11 18:25] tgraf commented on #8241
Fantastic! I saw the `WithPrefix()` in master but wasn't sure how to use it for this use case. Thanks!

[2017-07-11 18:25] #8241 closed

[2017-07-11 19:55] yudai commented on #7360
## Without a Forced (written) GC + time

I found that just leaving the process for a while is required to collect unused resources.

With GCtrace, you can see `GC forced` (it's actually not forced by the code) after `Done.`. It seems the runtime triggers this type of GC every 120 secs and some resources  are collected by these "forced" GC.

[code]

After you see `22->22->22`, pprof actually report

[2017-07-11 21:14] heyitsanthony commented on #8237
Can repro with this script:
[code]

The output is:
[code]

So a context is getting canceled somewhere in the server and prematurely closing the stream.

[2017-07-11 21:32] mwf commented on #8231
Yeap, I agree, it should be reproducible to be considered a bug. If I find a way to reproduce - I'll tell you. It was important for me only to ensure that you don't consider it as expected behaviour either :)

But there is no other out-of-box way to compact, only at current head with `auto-compaction-retention`. BTW, do you have any plans to make it more flexible? For example some other flag `auto

[2017-07-11 21:33] xiang90 commented on #8231
this is what etcd does not. it compacts 24 hours from now. keep 24 hours history basically.

[2017-07-11 21:42] yudai commented on #7360
Actually I realized that this is not a runtime issue, because the runtime triggers a GC when the heap size has increased `GOGC%`  (=100% by default) from the last iteration, so if nothing is happening by sleeping, the runtime simply waits for a force GC for 120 secs.

The 120 secs come from here:

[code]

https://github.com/golang/go/blob/093adeef4004fd029de1a8fd138802607265dc73/src/runtime/proc.g

[2017-07-11 21:42] mwf commented on #8231
Oh, great then. I thought it's just a time period for starting head compaction. Current documentation doesn't explain it well enough :)

[2017-07-11 21:43] xiang90 commented on #8231
@mwf maybe help us improve the documentation? thanks :P

[2017-07-11 21:49] xiang90 commented on #7360
@yudai Good analysis. Thanks! I think we should close this issue.

/cc @heyitsanthony

[2017-07-11 22:21] mwf commented on #8231
Easily :)
I'll check tomorrow that it really keeps the historical revisions, and if it does - will improve the doc.

[2017-07-11 22:23] heyitsanthony commented on #7360
OK, let's close it. Thanks for looking into this @yudai

[2017-07-11 22:23] #7360 closed

[2017-07-11 23:25] hexfusion commented on #8237
@jamesyonan, @heyitsanthony I would be interested in taking a stab at resolving this unless you were planning on it.

[2017-07-12 00:02] zihaoyu opened #8246 "Understand why one node is down"
I'm using Grafana to monitor my five-node cluster, v3.1.9. There is one graph which shows metrics from `sum(etcd_server_has_leader)`. I noticed there was a slight dip today.

<img width="357" alt="screen shot 2017-07-11 at 7 55 11 pm" src="https://user-images.githubusercontent.com/464299/28095875-eb791ea6-6672-11e7-9d68-a09c1de72cd5.png">

How can I investigate why there was a temporary unavailabl

[2017-07-12 00:03] xiang90 commented on #8246
network issues? node reboots? there are a lot of possibilities. you should look into your server log + etcd log first.

[2017-07-12 00:03] #8246 closed

[2017-07-12 01:13] xiang90 commented on #8214
@abel-von kindly ping.

[2017-07-12 01:27] yudai commented on #8237
I think I know the cause. grpc-gateway doesn't support real bi-directonal streams, as mentioned in its README.

In the etcd process, you can see logs like below that complains about closed bodies when you run the script provided by @heyitsanthony above.

[code]

This error is raised at:

https://github.com/coreos/etcd/blob/master/etcdserver/etcdserverpb/gw/rpc.pb.gw.go#L189

The problem is that th

[2017-07-12 02:34] yudai commented on #8237
The error itself is defined here:
https://github.com/golang/go/blob/a48998beb571ce03650da75326a052991134e5ca/src/net/http/transfer.go#L759-L763

[code]

And here is an issue about that:
https://github.com/golang/go/issues/4637

We could use https://github.com/tmc/grpc-websocket-proxy mentioned in https://github.com/grpc-ecosystem/grpc-gateway/pull/170#issuecomment-226965731

[2017-07-12 04:23] mitake commented on #8217
@heyitsanthony the idea seems to be good. I'll work on implementing the first step.

[2017-07-12 04:49] heyitsanthony commented on #8230
@ahoma-paymentus that should be fixed by #8221; it'll be in 3.2.3.

[2017-07-12 05:03] heyitsanthony commented on #8217
@mitake I have some patches already that are WIP at https://github.com/heyitsanthony/etcd/tree/auth-emu. I had to do some modest refactoring of the auth package internals so it's less reliant on batchtx in order to reuse the checking logic. I'll try to get something reasonable up by tomorrow evening or the day after.

[2017-07-12 06:12] mitake commented on #8217
@heyitsanthony I see, thanks a lot for doing it!

[2017-07-12 07:58] zhuqunzhou opened #8247 "Etcd3 proxy can't get data from the same key twice."
etcd cluster: 192.168.10.4:2379,192.168.10.5:2379,192.168.10.6:2379
proxy:192.168.10.5:2389
etcd version:V3.2.0

Here is the code:

     cli, _ := clientv3.New(clientv3.Config{
		Endpoints: []string{"http://192.168.10.5:2389"},
		Username:"name",
		Password:"password",
	})

	for i:=0;i<10;i++ {
		resp,_ := cli.Get(context.TODO(),"/warden/test")

		fmt.Printf(string(resp.Kvs[0].Value) + "\n")

		ti

[2017-07-12 08:04] luxas opened #8248 "Token / Basic auth on the peer port"
It would be nice if etcd supported token or basic auth on the peer port as well, not just the client one.

The ese case is to cluster easily with TLS using `--peer-auto-tls` and a token that can be copied from master A to B.
In particular I'm thinking about implementing something like this for kubeadm cluster.

Something like:
kubeadm init
 - start etcd listening on client requests on `localhost`

[2017-07-12 08:54] abel-von commented on #8214
sorry for the confusion made by the git sha, we made etcd as a submodule of out project so the git commit is not the etcd's but the outside project's.
I think the commit id is 9b9baa968f317fc2d5870e6aa97185df126bb640 which is not a milestone version.

[2017-07-12 15:49] gyuho commented on #8247
Could you provide exact steps to reproduce this issue? How did you set up etcd and proxy?

[2017-07-12 17:12] heyitsanthony commented on #8235
TestTLSReloadCopy is hitting this too (https://semaphoreci.com/coreos/etcd/branches/master/builds/2143)

[code]

[2017-07-12 21:36] heyitsanthony commented on #6925
@raoofm the plan is to target september because there are some important boltdb performance fixes that can't be merged into 3.2.0 without breakage across bugfix releases. May push back some features to 3.4.0. I would like to get this at least in an experimental state by 3.3.0, though.

[2017-07-12 23:03] lavalamp opened #8253 "Backport #8009 into 3.0?"
It would be super nice to have the fix for #8009 backported into 3.0.x.

@wojtek-t @mml @jpbetz

[2017-07-12 23:04] heyitsanthony commented on #8248
Why can't the entity responsible for provisioning tokens just generate peer certs and use regular TLS instead of `--peer-auto-tls`?

[2017-07-12 23:08] heyitsanthony commented on #8253
Unlikely to happen. Since the fix doesn't sync down the free list, booting into the patched etcd then booting into an older version of 3.0 will leak free pages at best / corrupt the db at worst.

[2017-07-13 00:06] heyitsanthony commented on #8237
The websocket proxy looks like an OK fix since it's all opt-in.

[2017-07-13 00:12] mml commented on #8253
What does this imply for our ability to roll back from a fixed 3.1.x to a broken 3.0.x?

[2017-07-13 00:18] heyitsanthony commented on #8253
@mml 3.3.0 will have the patch and proper rollback support. Issuing a rollback would restore the backend to the slow mode with free lists before reverting the cluster version to 3.2.

[2017-07-13 01:12] zhuqunzhou commented on #8247
@gyuho
Here is the  `etcd`  flags
`  etcd --name infra0 --initial-advertise-peer-urls http://192.168.10.4:2380   --listen-peer-urls http://192.168.10.4:2380   --listen-client-urls http://192.168.10.4:2379,http://127.0.0.1:2379   --advertise-client-urls http://192.168.10.4:2379   --initial-cluster-token etcd-cluster-1   --initial-cluster infra0=http://192.168.10.4:2380,infra1=http://192.168.10.5:23

[2017-07-13 01:58] rc979 opened #8254 "Can the get operation with no options set return more than one value?"
Looking at the example about the simplest get operation with no options set on GoDoc for V3 API (https://godoc.org/github.com/coreos/etcd/clientv3#ex-KV--Get) I see that for a given key ("foo") the code iterates over the response instead of assuming it's just one value. Can one safely assume that the response will only have one key/value pair for this particular case of no options set?

[2017-07-13 06:39] lyhuzi opened #8255 "c++ how to request with token"
1、git  token  by Authenticate with username and password.
2、how to build the new channel for request with token by grpc

[2017-07-13 06:44] mitake commented on #8255
Hi @lyhuzi , I hope the issue and its answers would be helpful for you: https://github.com/coreos/etcd/issues/7705

[2017-07-13 07:30] lyhuzi commented on #8255
the answer is helpful.
but i still have a question.
in grpc source， the first param must be  SecureChannelCredentials  in CompositeChannelCredentials.
if the first param is InsecureChannelCredentials， the function will return nullptr.
so i have to use SslCredentials for the channel.
but i don't hope  ssl.
do you have a solution.

[2017-07-13 09:46] lyhuzi commented on #8255
grpc::ClientContext context;
context.AddMetadata("token", response.token());
可用

[2017-07-13 09:46] #8255 closed

[2017-07-13 09:47] lyhuzi opened #8256 "etcd v3 auth enable lose efficacy"
restart etcd， auth enable lose efficacy
1、start etcd
2、etcdctl set a 100
3、./etcdctl user add root
4、./etcdctl role add root
5、./etcdctl user grant-role root root
6、./etcdctl --user=root:root role grant-permission root readwrite a b
7、./etcdctl auth enable
8、./etcdctl  get a b                               #    Error:  etcdserver: permission denied
9、./etcdctl --user=root:root get a b    #    a 10

[2017-07-13 11:07] gyuho commented on #8247
What do you mean by

Did you write the key `/warden/test`?

[2017-07-13 12:53] mitake commented on #8248
@luxas I thought about this idea for a while but I'm still not sure I can provide what you want. This is because the inter peer communication between etcd is bidirectional (leader can cause fail over anytime) so generating a secure token (e.g. jwt) needs a key pair for signing and verifying in every node. For your use case, will it make the management simple?

Of course implementing the feature fo

[2017-07-13 12:54] mitake commented on #8256
which version are you using? There was a problem like this in the previous version but the latest master and stable releases have a fix.

[2017-07-13 13:37] luxas commented on #8248
Gotcha. What about basic auth then?

[2017-07-13 13:40] mitake commented on #8248
@luxas simply adding the basic auth to `rafthttp` wouldn't be costly so I think the idea is feasible. How do you think about it? @xiang90 @heyitsanthony

[2017-07-13 14:22] gyuho commented on #8254
`Get` response can also return 0 value when the key does not exist. If key exists and no option is specified (no range end, no prefix, no from-key, etc.), it should return only the latest key-value pari.

[2017-07-13 14:22] #8254 closed

[2017-07-13 14:29] gyuho commented on #8224
Yes, this is expected since we use https://godoc.org/google.golang.org/grpc#Server.GracefulStop. The server will block on `GracefulStop` with active watchers.

/cc @heyitsanthony @xiang90

[2017-07-13 14:46] smarterclayton commented on #5186
For very large data sets we are seeing where compression would be a *massive* improvement for Kubernetes.

Consider large chunks of service account secrets or pods.  The majority of their strings are similar.  In a list call, we've observed possible compression advantages of 90% or more for secrets, and 70% or more for pods.  That has a significant impact in reducing tail latency.

I'd like to be

[2017-07-13 14:46] smarterclayton commented on #5186
@gmarek @wojtek-t

[2017-07-13 15:05] wojtek-t commented on #5186
Yeah - though the crucial requirement here is begin able to enable it only for some resources (prefixes of keys), not for everything (I think enabling it for some objects could have an opposite effect...)

[2017-07-13 15:13] smarterclayton commented on #5186
For example, we have several clusters with 1 gb of secret values.  I'd like to enable the storage layer to use compression only for secrets when transferring from etcd to master.

[2017-07-13 15:23] eparis commented on #8188
https://github.com/grpc/grpc-go/pull/1165/files#diff-e1550a73f5d25064c8b586ec68d81a64R107

Appears to have just recently (May 22) merged a change to grpc which caused this to start failing for me.

[2017-07-13 15:34] gmarek commented on #5186
OTOH we know that gzip compression can cause server CPU starvation, which is a reason why we disabled it by default in 1.7. We won't be able to enable it again if this problem won't be solved.

[2017-07-13 16:22] heyitsanthony commented on #8188
@eparis please open another issue for this? The fix for `etcdctl get` shouldn't need any API changes since there's already pagination in the range rpc. Thanks!

[2017-07-13 16:26] luxas commented on #8248
There is pretty much complexity with creating certs for everything, especially in a dynamic environment where you start the initial etcd node/master without knowing if other nodes are gonna join later or not.
When you then add a new node to the cluster you must somehow make sure the node is allowed to join the cluster and the communication must be secured as well. This would be one way to achieve

[2017-07-13 16:39] heyitsanthony commented on #8224
@gyuho Is there some way the server can stop the client listener and cut the connections instead of waiting for all clients to disconnect on their own? If clients can keep the server from shutting down indefinitely and there's no way to force the clients to change endpoints, then upgrades would have to kill -9 the etcd process (or jump through other hoops to move the clients) to make forward progr

[2017-07-13 16:40] gyuho commented on #8224
@heyitsanthony You are right. I will look into that.

[2017-07-13 17:03] heyitsanthony commented on #5186
Reopening since there are a lot of ways to handle compression and I don't think it's been given a fair shake.

@smarterclayton How is the compression advantage being computed? Is there a simple model for the etcd usage patterns / how the data is structured? Can the compression be done client-side (e.g., through a client wrapper) or is there a compelling need to have it server-side?

[2017-07-13 17:09] xiang90 commented on #5186
I do not want to start with, it is too CPU intensive. snappy might worth trying.

@smarterclayton we should like to add the support if there is a reasonable improvement for at least some meaningful use cases.

[2017-07-13 17:45] heyitsanthony commented on #8248
How would authorization be conducted in this case? Is there a single shared auth token for the entire cluster and spinning up a new member would reuse that?

Why doesn't cert signing solve this?

[2017-07-13 18:13] #8211 closed

[2017-07-13 18:23] heyitsanthony commented on #8247
Looks like an auth bug in the proxy. I tried it and got `etcdserver: user name is empty`. /cc @mitake

[2017-07-13 19:15] yudai commented on #8237
Created a PR for giving it a try.

https://github.com/lafikl/telsocket is an easy way to test websocket.
You can play like:

[code]

It looks working fine.

[2017-07-13 19:20] yudai commented on #8237
I'm still not sure if users want to use websockets indeed, because it requires non-traditional HTTP requests. So I love to hear options from @hexfusion as well.
Another option could be hijaking requests ourselves.

[2017-07-13 19:25] smarterclayton commented on #7719
Yeah, I'm going to look at paging - @lavalamp and I had a quick discussion about it, and for me we have some very large clusters that want pagination to smooth out allocation curves for other reasons.  I'll definitely be experimenting with pagination soon.

[2017-07-13 19:32] lavalamp commented on #7719
If pagination solves this issue-- why doesn't etcd internally implement a large get as a series of gets?

[2017-07-13 19:41] xiang90 commented on #7719
@lavalamp

There are two cases:

1. snapshot get on a revision. current pagination will solve this one problem.
2. linearizable get at head. current pagination will not solve this one.

Assembling large range results into one gRPC response inside etcd server will still cause memory blow up. Moreover, large message also break gRPC best practice. gRPC has a suggested 4MB max message size.

To sum it

[2017-07-13 19:45] luxas commented on #8248
If you want, you could have some kind of "join" role for example. If the user has that role, the node can join.

Doesn't have to be a single one necessarily, but possibly shared yes. Up to the implementor

It does, but is a lot more complex and requires the user to copy files around which is much harder than it could be.

[2017-07-13 20:45] heyitsanthony commented on #8181
The channel for Done() closes if the client does not receive a keepalive response from the etcd server within the TTL limit.

If it switches to a member that is partitioned from the rest of the cluster then it could possibly time out waiting for keepalives.

3.0.3? There have been some lease fixes to 3.0.x since then:
395bd2313cdbbba28ed2440ccb938ba8acbedf5b (possibly hitting this one)
2e927797777

[2017-07-13 21:04] zihaoyu opened #8260 "Failed to defragment etcd member[127.0.0.1:2379] (context deadline exceeded)"
I was following the maintenance guide and was doing `compact` and then `defrag`.

[code]

Cluster info:

[code]

How can I fix this?

[2017-07-13 21:08] heyitsanthony commented on #8162
This might be a client bug related to name resolution failure that's causing it to hang on dial out. It doesn't look proxy-specific.

[2017-07-13 21:10] heyitsanthony commented on #8260
@zihaoyu are there any messages in server logs for 10.72.4.110 around the time of issuing the defrag command?

[2017-07-13 21:13] zihaoyu commented on #8260
@heyitsanthony Just tried again:
[code]
[code]
Looks like even `etcdctl` reported failure, it actually finished?

[2017-07-13 21:17] heyitsanthony commented on #8260
@zihaoyu etcdctl has a default command timeout of five second but the defrag is taking longer than that. Try:
[code]

[2017-07-13 21:19] zihaoyu commented on #8260
Yup that worked. Thanks!

[code]

[2017-07-13 21:20] #8260 closed

[2017-07-13 23:10] zihaoyu commented on #7970
@xiang90 I'm interested what the root cause was. We just had a very similar problem - etcd cluster kept electing and losing leader. From the logs:

[code]

Half an hour later, after I decided to and restarted etcd on one node (which took quite a few minutes to finish), the cluster went back to normal. This was a little scary and I'd like to learn why.

[2017-07-13 23:36] heyitsanthony commented on #7970
@zihaoyu it was due to excessive fsync time. Check `curl localhost:2379/metrics | grep fsync`. If the fsync latency is much less than the election timeout, it may be something else. Is the disk slow or is it being shared?

If the fsync latency is OK, did the other members manage to elect a leader? I don't see any elected leader messages in that log. Is this a recurring problem? What version of etc

[2017-07-13 23:57] ericchiang opened #8262 "Require a specific cert CN from peer client certificate"
When turning on Kubernetes TLS bootstrapping, we'd like to generate dynamic peer client certs for etcd members, but only want to maintain a single CA per cluster (the CSR API doesn't handle multiple CAs well). We're going to be granting client certificates to other things in the system (the API server, kubelet, etc) and don't want them to be able to talk to the etcd peer API.

We can already restr

[2017-07-14 01:06] zihaoyu commented on #7970
@heyitsanthony Thanks for the reply. We run etcd nodes with 3k IOPS EBS on AWS. `fsync` stayed under 40ms consistently. However during today's incident it jumped to 4s. I'm wondering if this was a problem with AWS.

![screen shot 2017-07-13 at 9 03 08 pm](https://user-images.githubusercontent.com/464299/28193986-178e26b0-680f-11e7-93d2-4cd854ce08fe.png)

[2017-07-14 01:09] zihaoyu commented on #7970
Our etcd version is 3.1.9.

[2017-07-14 01:16] sangleganesh commented on #8181
thanks @heyitsanthony
1. The Done() was called within 3-8 seconds - (and the TTL was 120 (120 seconds)).
2. The etcd cluster was healthy when session was closed
3. Will retry with latest versions of etcd server.

[2017-07-14 01:35] zihaoyu commented on #7970
@heyitsanthony Here are the logs from that problematic node with high `fsync` - `10.72.6.19`, from the beginning of the incident to the end of it.

https://gist.github.com/zihaoyu/6949bbdf5da88186c270ccb4c9fadb8e

[2017-07-14 01:36] lyhuzi commented on #8256
@mitake
etcd Version: 3.0.12
Git SHA: 2d1e2e8
Go Version: go1.6.3
Go OS/Arch: linux/amd64

[2017-07-14 01:57] armstrongli opened #8264 "etcd panic on close notify"
ETCD Version:
[code]

Hardware configuration:
 - 10CPUs
 - 20GB memory
 - SSD disk

Logs are shown here:
[code]

[2017-07-14 03:41] heyitsanthony commented on #8264
This is a runtime bug fixed by https://github.com/golang/go/issues/17868 but it was close to the 1.8 release so it wasn't backported into 1.7. Is it worth cutting 3.1.10 with 1.8? /cc @gyuho @xiang90

[2017-07-14 06:13] zhuqunzhou commented on #8247
@gyuho ,i had write the key `/warden/test`,and the value is 'data'

The code want print the value of the key `/warden/test` 10 times,but in proxy mode,the code just print the value once.

[2017-07-14 06:43] mitake commented on #8256
Please try the latest master.

[2017-07-14 17:33] luxas commented on #8262
Very interested in how this turns out... playing with different alternative implementations right now...
Would be great to make etcd clustering easier/more dynamic

[2017-07-14 18:21] heyitsanthony commented on #8262
Would IP/DNS SAN be enough to bind the cert to a peer? Certs can be banned via CRLs and the certs could expire within some reasonable timeframe to keep the CRL from growing indefinitely.

The basic user-tunable peer CN flag would be very easy add to etcd.

[2017-07-14 18:30] ericchiang commented on #8262
IP/DNS SAN values don't have much value in client certs, do they? Are you suggesting something like the client having to have send traffic through an originating IP that its client cert is signed for?

I feel like the CRLs point is a different feature. Even if we don't add an auth-Z mechanism to the peer API, we could still talk about credential revocation through CRLs.

[2017-07-14 18:34] heyitsanthony commented on #8262
@ericchiang etcd peer listeners already check CRLs and SAN values for incoming connections when given. I'd like to avoid having an additional authentication mechanism if everything can already be done via certs...

[2017-07-14 18:42] jamesyonan commented on #8224
I agree that it's generally a bad idea for servers to fail to respond to a shutdown command just because clients are connected.  There's a security component to this as well, as @heyitsanthony mentioned with updates.  If a client can prevent a server from shutting down, just by staying connected to it, it could effectively stop a security update.

James

[2017-07-14 18:58] ericchiang commented on #8262
Is there a way to require a SANs value? That _might_ be enough. Let me see if there's some platform agnostic way to get the expected IP of the etcd node in our setup.

[2017-07-14 19:19] heyitsanthony commented on #8262
@ericchiang yes.

[2017-07-14 19:30] heyitsanthony commented on #7970
High fsync latency will trigger elections, so that's probably what happened here.

[2017-07-14 19:56] gyuho commented on #8264
This should be fixed by https://github.com/coreos/etcd/releases/tag/v3.1.10 as @heyitsanthony explained.

[2017-07-14 19:56] #8264 closed

[2017-07-14 19:58] xiang90 commented on #8256
closing since we believe it is fixed in master.

[2017-07-14 19:58] #8256 closed

[2017-07-14 19:59] xiang90 commented on #8243
i will take a look over the weekend.

[2017-07-14 22:06] #8060 closed

[2017-07-15 01:52] #8224 closed

[2017-07-16 07:14] cehoffman opened #8268 "Rejected peer communication in K8S cluster with TLS and 3.2+"
This is using etcd-operator 0.4.1 in K8S 1.6.7 to create the cluster with TLS. When creating the cluster with ETCD 3.1.8 the TLS certificates used for peer communication work without issue. When bumping the cluster to 3.2+ (3.2 and 3.2.3 tested) it results in a failed cluster. Also provisioning a new cluster in 3.2 fails with the same certificates. I am using the current method of generating the E

[2017-07-16 11:27] bouari commented on #6051
rrrr

[2017-07-16 14:09] hexfusion commented on #8237
@yudai thank you for the details here, great stuff! FWIW I would like to try to support this directly via grpc-gateway if possible as well.  When you removed the manual Flush calls it fell back to the internal "flush after chuck" handling of "net/http" which as you noted works in this circumstance. But these manual Flush calls are required to allow for example Watch streams to work.  So as an opt-

[2017-07-16 21:45] zihaoyu commented on #7970
@heyitsanthony Thanks. So if I understand this correctly, a 5-node cluster can function correctly if two nodes are down. But it won't work if one node has slow disk. Is that a fair statement?

[2017-07-16 21:51] xiang90 commented on #7970
@zihaoyu

It depends. etcd uses raft. The standard raft implementation is a pure heartbeat based protocol. If any follower thinks the leader is dead due to heartbeat timeout, it can start a election. So slow fsync can block one follower long enough to make it think the leader is dead.

We definitely can improve this situation by adding pre-vote or substrate the fsync time from heartbeat timeout. W

[2017-07-16 21:53] xiang90 commented on #7970
@zihaoyu

Stop failure is the simplest failure mode. etcd handles that failure mode by design, as well as network partition. There are other failure modes etcd does not handle well enough today.

[2017-07-17 02:25] bhujangr opened #8270 "Unable to Connect via etcdctl with auto-tls or self-signed Certificates"
### Server Version
[code]

### etcdctl version
[code]

### Server
[code]

### etcdctl
[code]

On the above etcdctl call, eventually I get an error of the form:
```Failed to get the status of endpoint 127.0.0.1:2379 (context deadline exceeded)```

Turning on debug, with the etcdctl call, results in about a dozen lines of the form:
```grpc: transport: http2Client.notifyError got notified that the cl

[2017-07-17 08:59] AnjaniKr opened #8271 "etcd mirroring going off after sometime ( 2-3 hr)"
Following is etcd service status on both machine :
tcd.service - etcd - highly-available key value store
   Loaded: loaded (/lib/systemd/system/etcd.service; enabled; vendor preset: enabled)
   Active: active (running) since Mon 2017-07-10 21:58:10 PDT; 6 days ago
     Docs: https://github.com/coreos/etcd
           man:etcd
 Main PID: 4673 (etcd)
    Tasks: 9
   Memory: 30.4M
      CPU: 38min 27.

[2017-07-17 09:06] heyitsanthony commented on #8271
what are the server logs from `journalctl --unit etcd.service ` around the time it stops? what version etcd server/client?

[2017-07-17 09:15] brancz commented on #8060
Awesome! Thanks for the collaboration everyone!

[2017-07-17 09:24] AnjaniKr commented on #8271
@heyitsanthony

etcdctl -version
etcdctl version: 3.2.0+git
API version: 2
# ETCDCTL_API=3 etcdctl version
etcdctl version: 3.2.0+git
API version: 3.2

There r no  entries in journalctl

[2017-07-17 13:58] gyuho commented on #8271
What's the output of `systemctl cat etcd.service`? Please provide exact steps to reproduce.

[2017-07-17 14:01] gyuho commented on #8270
You still need specify those auto-generated certs in your `etcdctl` commands.

https://github.com/coreos/etcd/tree/master/etcdctl
https://github.com/coreos/etcd/blob/master/Documentation/op-guide/security.md

[2017-07-17 14:01] #8270 closed

[2017-07-17 16:21] gyuho commented on #8268
Can you double-check the etcd version?

Seems duplicate with https://github.com/coreos/etcd/issues/8206, fix https://github.com/coreos/etcd/pull/8223 is included in 3.2.3.

/cc @heyitsanthony

[2017-07-17 16:23] heyitsanthony commented on #8268
should have been fixed in 40468ab11f720e87ab853d05f6362f6f02c93689...

@cehoffman what does `openssl x509 -in peer.crt -text -noout` give for `X509v3 Subject Alternative Name:`?

[2017-07-17 16:42] heyitsanthony commented on #8271
`ETCDCTL_API=3 ./bin/etcdctl -w table endpoint status` and `ETCDCTL_API=3 ./bin/etcdctl -w json alarm list` may also be helpful here.

[2017-07-17 17:26] yudai commented on #8237
@hexfusion Hi, thanks for the comment.
I have a question about how to deal with the buffer size. Even when you don't flush manually, once the internal buffer gets full, the content of the buffer will be sent to the client. Your client can send some KeepAlive messages until the buffer is full, but after that, you get the same error?

[2017-07-18 04:59] AnjaniKr commented on #8271
op - systemctl cat etcd.service
[Unit]
Description=etcd - highly-available key value store
Documentation=https://github.com/coreos/etcd
Documentation=man:etcd
After=network.target
Wants=network-online.target

[Service]
Environment=DAEMON_ARGS=
Environment=ETCD_NAME=%H
Environment=ETCD_DATA_DIR=/var/lib/etcd/default
EnvironmentFile=-/etc/default/%p
Type=notify
User=etcd
PermissionsStartOnly=true
#E

[2017-07-18 05:02] AnjaniKr commented on #8271
op - ETCDCTL_API=3 etcdctl --endpoints https://x.x.x.x:2379 --cacert server.pem -w table endpoint status

+-----------------------------+------------------+-----------+---------+-----------+-----------+------------+
|          ENDPOINT           |        ID        |  VERSION  | DB SIZE | IS LEADER | RAFT TERM | RAFT INDEX |
+-----------------------------+------------------+-----------+---------+--

[2017-07-18 05:12] AnjaniKr commented on #8271
ETCDCTL_API=3 etcdctl --endpoints https://x.x.x.x:2379 --cacert server.pem -w json alarm list
{}

[2017-07-18 05:23] jpbetz commented on #8253
@heyitsanthony If we only backported "Garbage collect pages allocated after minimum txid" (https://github.com/coreos/bbolt/pull/3) to etcd 3.0.x and 3.1.x. We might be able to resolve the most pressing issues with #8009.

We would either need to get https://github.com/boltdb/bolt/pull/694 merged or build a version of bbolt that contains https://github.com/coreos/bbolt/pull/3 but not https://github

[2017-07-18 05:43] AnjaniKr commented on #8271
its writing only etcd service log but not mirror log, for mirroring I'm redirecting to file and only numbers are printed on this file

[2017-07-18 05:46] gyuho commented on #8271
What's the etcd error message?

And what's the etcdctl error message?

Try to reproduce without systemd?

[2017-07-18 05:55] xiang90 commented on #8253
We tried it, and it will not solve what #8009 hit. A sudden free pages release due to compaction (and a previous spike on page usage) will still trigger the problem unless we stop syncing the free pages.

coreos/bbolt#3 helps more on reducing page usage on concurrent read/write txn case.

[2017-07-18 06:13] jpbetz commented on #8253
Thanks @xiang90 How did you try it? Do you have a way to replicate #8009?

[2017-07-18 06:20] AnjaniKr commented on #8271
there is no etcd error since its running fine
etcdctl doesn't write any error logs so not able to reproduce what's exact cause.

[2017-07-18 06:22] gyuho commented on #8271
Ok, I will try to reproduce tomorrow. Thanks.

[2017-07-18 08:57] mitake commented on #8247
@heyitsanthony I found that current grpc proxy isn't dealing with tokens at all. We need a wrapper that extracts the token of client's connection (like https://github.com/coreos/etcd/blob/master/auth/store.go#L1000) and attach it to proxy's connection (like https://github.com/coreos/etcd/blob/master/clientv3/client.go#L330). Possibly the change would conflict with your WIP: https://github.com/heyi

[2017-07-18 09:40] joshmue opened #8275 "clientv3: Data Race - Watch used in conjunction with net/http's request context"
Hi.

I came across a race condition with clientv3's Watch function if used with request contexts from net/http.

The cause of this issue seems to be quite similar to #7811 (Fix #7816): Calling context's String() method (indirectly) when writes may occur at the same time.

Example to reproduce (with running etcd server):

[code]

Run with `-race` enabled and do multiple times:
[code]

Leads to outp

[2017-07-18 12:50] RadhikaBhat opened #8276 "Multikey operation in etcd"
I'm using etcd tool to save key value pair data. I have a use-case where I need to perform batch get, bulk insertion on etcd through the Go API

Does etcd support multikey operations?

Thanks in advance!

[2017-07-18 14:53] gyuho commented on #8271
This means mirroring runs fine.

How do you know `make-mirror` is off? Does the process just exit? If so, there should be an error. Did you also redirect stderr from `etcdctl` process?

I tried `make-mirror` with TLS and runs fine.

[2017-07-18 16:23] heyitsanthony commented on #8247
@mitake I've been revamping e2e so this can be caught in CI at http://github.com/heyitsanthony/etcd/tree/test-e2e-grpcproxy. Not too worried about conflicts with 00b397d8a318e477c5cdcffd00309f57ebb3259d but I'd like some way to use the client's auth so vauth  can be dropped into the proxy by replacing client.Auth.

[2017-07-18 17:17] cehoffman commented on #8268
I just double checked the test again and it for sure using 3.2.3.

First member log

[code]

2nd member

[code]

`openssl x509 -in peer.crt -text -noout`

[code]

[2017-07-18 17:20] heyitsanthony commented on #8268
There's a DNS SAN on that cert but no IP SAN, so all it can do is check the DNS.

[2017-07-18 17:26] cehoffman commented on #8268
I've tried it with both DNS only and IP with DNS. This case is using only DNS because it was the last change I tried and it was working fine with 3.1.10. I didn't switch it back. I used the same config to confirm I was using 3.2.3. I can add IPs, but again IPs are not useful since I don't for sure know them ahead of time when used with etcd-operator.

[2017-07-18 17:32] hexfusion commented on #8237
@yudai yes you are right it could be much more complicated or much more simple. I need to test this more completely but look what happens when you pass `Connection: close` header. https://tools.ietf.org/html/rfc2616 has a few references to this. More testing is welcome :)

[code]

I ran the above with 1000 increments without error

[2017-07-18 17:34] heyitsanthony commented on #8268
@cehoffman is the issue now that you want to disable SAN checking or is it that is etcd failing to confirm the DNS SAN resolves to the incoming connection's address? What's in the DNS records?

[2017-07-18 17:48] cehoffman commented on #8268
I believe the SAN checking when only DNS names are specified is the desired behavior. The DNS resolution is working and all the members follow the names pattern generically `<cluster name>-<number 0000-9999>.<cluster-name>.<k8s namespace>.svc.cluster.local`. In this example the dns query for any records for the first member are.

[code]

It seems to me that etcd peer server is rejecting communicat

[2017-07-18 17:58] hongchaodeng commented on #8148
Closing this since I didn't see it anymore.

[2017-07-18 17:58] #8148 closed

[2017-07-18 18:02] xiang90 commented on #8276
see txn here: https://github.com/coreos/etcd/blob/master/Documentation/dev-guide/api_reference_v3.md#service-kv-etcdserveretcdserverpbrpcproto

[2017-07-18 18:02] #8276 closed

[2017-07-18 18:05] heyitsanthony commented on #8162
@clusc is there an easy way to reproduce this issue?

[2017-07-18 18:11] clusc commented on #8162
it's pretty consistently reproducible for me.

[2017-07-18 18:15] heyitsanthony commented on #8214
@abel-von is there any way to easily reproduce this on 3.2.3 or 3.1.10?

[2017-07-18 21:00] pires commented on #8268
I'm having a similar issue with both 3.2.2 and 3.2.3. My cluster comes up healthy but when I kill an etcd pod and then a new one gets scheduled, I will see this error from all living peers and the new pod will just die because it can resume state.
I am setting env var `ETCD_INITIAL_CLUSTER_STATE` to `existing` when a pod gets rescheduled.

[2017-07-18 21:50] xiang90 commented on #8162
@clusc Sure. But the questions was how to easily reproduce it.

[2017-07-18 22:27] clusc commented on #8162
not sure, maybe try the same kubernetes version and etcd-operator deployment?

[2017-07-18 23:15] #8207 closed

[2017-07-19 01:42] heyitsanthony commented on #8275
@joshmue the simplest fix is to wrap the context to mask the string output. There's an example in the v3client package: https://github.com/coreos/etcd/blob/3ce31acda410db937408ac1c1011fe7b0babd8a7/etcdserver/api/v3client/v3client.go#L57. The client doesn't do this by default because it uses the context information to decide which grpc stream to use. In this case it probably doesn't matter too much

[2017-07-19 01:50] abel-von commented on #8214
@heyitsanthony  we changed our etcd version to 3.1.9, and now the issue is reproduced more frequently.
we are using etcd as the backend of kube-apiserver. we found that  kube-apiserver asks etcd to do compaction every 5 minute. But we found something wired that one of the three nodes would suddenly stopped doing the compaction, and that is the node which has a much larger data size.

we used etcd-

[2017-07-19 02:03] abel-von commented on #8214
we checked the snapshot log of the nodes and find that there is a little difference between the larger data node and the smaller data nodes.

in smaller data node:

[code]

the larger data node:

[code]

I think the applied log index can still be considered as in the same pace, as I know the `compaction` is also a command in a log entry, the same as `put` of `deleteRange`, if the log entries appli

[2017-07-19 02:19] abel-von commented on #8214
we used the command `kubectl  endpoint status --write-out=json | egrep -o '"revision":[0-9]*' | egrep -o '[0-9]*'` to check the revision of each node, and the output is below:

[code]

the simple output of endpoint status is:

[code]

as we can see that the data of the second has data of 2.1GB, which is larger than the default max db size. and now the cluster can not serve any updating request.

[2017-07-19 05:17] RadhikaBhat commented on #8276
@xiang90 Thank you for the response..does HTTP Go API support this ? or it's just gRPC ?

[2017-07-19 06:16] mitake commented on #8248
A user needs to have a root role when the user changes membership e.g. `etcdctl member add <name> <peer URL>` if auth is enabled in the existing cluster. So you don't have to worry about the case of mistakenly or illegally added nodes.

I think that having different key pairs in each node wouldn't be so problematic because clients can be authorized with each node individually. How about generating

[2017-07-19 06:36] abel-von commented on #8214
This seems to be an issue about the processing of applying an entry log to kvstore.
So I checked the source code of applying, I have a question about ( https://github.com/coreos/etcd/blob/master/etcdserver/server.go#L1273 ) , it seems that the etcdserver will always increment the appliedi no matter if the applying is succeed of failed.  Will the data be inconsistent if the log entry is not succeed

[2017-07-19 08:27] AnjaniKr commented on #8271
I ran ps -ef | grep mirror - there was no process running. There is no log written to the temp file where I'm redirecting the stdout & stderr. Only numbers are printed for the time it is running. Is there any specific flag I need to set for the same

[2017-07-19 13:03] gyuho commented on #8271
This is expected.

Did you run `make-mirror` with systemd? Then `journalctl` should have logs whether `make-mirror` exited or not (not an etcd issue).

Or just as a command? Then machine or VM reboot will just exit the process without any error logs?

[2017-07-19 18:04] heyitsanthony commented on #8214
That's a serialized read, it's not expected to be up to date since it doesn't go through quorum but it should match the historical data. If `--consistency=l` is giving inconsistent data, that's a problem.

The node is behind, but it shouldn't be skipping any entries.

The larger node needs to be [defragmented](https://github.com/coreos/etcd/blob/master/Documentation/op-guide/maintenance.md#defragm

[2017-07-19 20:29] xiang90 commented on #8214
We are not sure if it falls behind actually. k8s uses txn with conditions a lot. If there the state is indeed inconsistent on that node, revision might also not increase due to txn failures.

[2017-07-19 22:38] mangoslicer commented on #8188
@heyitsanthony

Did you already start working on the fix? Or is this issue still up for grabs?

[2017-07-19 22:50] heyitsanthony commented on #8188
@mangoslicer haven't started

[2017-07-20 00:18] yudai commented on #8237
@hexfusion Guessing if you change `for a in `seq 1 10`; do` to `for a in `seq 1 10000`; do`, you would get a context error?

[2017-07-20 00:30] vedant15 opened #8287 "Auth Token expiration"
Hello,

I am writing a Node.js client for etcd(v3) and I am in middle of implementing the authentication part.
My question is after the `authenticate` call when does the auth `token` expires ?

What is the criteria for expiration , is it based on duration of the token or how long the client remains idle ?

In case,  the expiration is based on the period for which client remains idle, should I send

[2017-07-20 01:41] abel-von commented on #8214
@heyitsanthony, @xiang90 , thanks for  reply, we also  checked the `--consistency=l` and found that one node of the cluster return data inconsistent with the other two. we can defragment the db, but the problem is, the node has a very large db file and retains many versions of a key in it. we have to do a compaction manually before defragment.

and k8s is automatically requesting to compact db, it

[2017-07-20 01:53] heyitsanthony commented on #8214
@abel-von OK, it's definitely inconsistent. Without the wal + db I'm not sure if there's much we can do to find the root cause. Removing the faulty member via `etcdctl member remove` and adding a new one should clear the inconsistency.

Was the member only rebooted with 3.1.9 or was it a freshly initialized member? There was a period during the 3.2 development cycle where there could be inconsiste

[2017-07-20 02:08] abel-von commented on #8214
@heyitsanthony , yes we are now using 3.1.9. the 9b9baa968f317fc2d5870e6aa97185df126bb640 is in the first cluster where we got this problem, but after that, our version has changed to 3.1.9.

could you please send me the commit ids to solve the inconsistency problem ?

[2017-07-20 02:34] abel-von commented on #8214
@xiang90  I have checked the code of kube-apiserver, and as you said, all the updating in k8s is a CAS operation, with etcdv3's Txn.
(https://github.com/kubernetes/kubernetes/blob/v1.5.0/pkg/storage/etcd3/store.go#L270)

I am wondering that if one txn failed in a node, than all txns after that will be failed because the revision is not consistent, and as the txn failed more, the revision will be m

[2017-07-20 02:48] heyitsanthony commented on #8214
@abel-von https://github.com/coreos/etcd/blob/master/Documentation/op-guide/runtime-configuration.md#replace-a-failed-machine

[2017-07-20 03:11] abel-von commented on #8214
@heyitsanthony , thanks, but i don't want just repair the failed cluster. actually, this problem comes out in a lot of testing clusters now. I have to find the root cause of this and fix the problem.

[2017-07-20 03:17] heyitsanthony commented on #8214
@abel-von the member inconsistency can be reproduced with a fresh cluster running 3.1.9?

[2017-07-20 03:31] abel-von commented on #8214
yes, it can be reproduced, I think if one of the node handle log entries in slightly different pace with the leader, and if you continue updating some particular keys with CAS to compare the ModRevision with a short period, like 10 seconds in k8s to update its' node status.  then the issue can be reproduced.

[2017-07-20 03:51] mitake commented on #8287
In the case of simple token, the tokens will be expired after 5 min of token generation. In the case of jwt, currently token expire is not supported (yes, it must be supported in the future).

Issuing requests doesn't help to extend the token TTL. The expiration can be handled in a transparent manner in the client libraries (in the case of go clientv3: https://github.com/coreos/etcd/blob/master/cl

[2017-07-20 03:56] vedant15 commented on #8287
thanks @mitake for your response

So if I understand correctly, for `lease` and `watch` the token expiration has no effect unless I try to create a new lease or create a watch (or is it on each time etcd sends a watch event).

[2017-07-20 04:09] mitake commented on #8287
@vedant15 yes, the expiration doesn't affect in these cases. You can retry simply.

[2017-07-20 04:33] vedant15 commented on #8287
thanks @mitake

[2017-07-20 05:43] mitake commented on #8247
@heyitsanthony OK, I'll try it. Thanks for the test.

[2017-07-20 09:55] AlvinWanCN opened #8290 "request sent was ignored(cluster ID mismatch: peerxxxxx)"
The message as follows, can anybady tell me what's that mean?
[code]

[2017-07-20 14:16] gyuho commented on #8290
How did you set up etcd cluster?

[2017-07-20 20:47] gyuho commented on #8214
@abel-von `9b9baa968f317fc2d5870e6aa97185df126bb640` does not exist. Do you run official etcd release?

[2017-07-20 21:36] heyitsanthony opened #8293 "functional-tester: txn stresser"
Bugs in the txn code can lead to inconsistencies among members distinct from bugs caused by only puts/gets, so it should be tested in the functional tester. Although the etcd-runner tests use txns in some places, the throughput/concurrency/txn complexity isn't enough.

Flat txns could be stressed via:
1. Have a set of keys K (e.g., "/k0", "/k1", ..., "/k9")
2. Choose random keys kA...kB from K
3.

[2017-07-21 01:52] #6984 closed

[2017-07-21 01:52] #8178 closed

[2017-07-21 06:02] abel-von commented on #8214
@gyuho please just  forget the commit id 9b9baa968f317fc2d5870e6aa97185df126bb640， it's the first time we get this issue.  After that we have changed the etcd version to 3.1.9. which is the official release.

[2017-07-21 08:20] joshmue commented on #8275
@heyitsanthony

Thank you very much for the explanation; I will use the fix and close this issue.

However i'd suggest to document this behaviour more explicitly at some point, as the design of the context package and its use IMHO do not suggest that such problems could occur.

[2017-07-21 08:20] #8275 closed

[2017-07-21 10:02] jamesyonan commented on #8237
@yudai, @hexfusion, thanks for looking into this.

@yudai, the websocket streaming support looks promising, I've moved over to using it instead of long-polling standard HTTP requests/replies -- seems like a cleaner approach that offers true bidirectional streaming.  Hope to see this merged.

[2017-07-21 14:39] koorgoo opened #8295 "etcdctl: Proper exit status of endpoint subcommand"
etcdctl may be used for simple monitoring to check etcd cluster's health.
However, as of now `etcdctl endpoint health` returns 0 for a dead endpoint.

[code]

Expected exit statuses of `etcdctl endpoint health` command:
- for single endpoint:
  - `0` - endpoint is healthy
  - non-`0` - endpoint is unhealthy
- for multiple endpoints:
  - `0` - all endpoints are healthy
  - non-`0` - one or more end

[2017-07-21 19:57] #7930 closed

[2017-07-22 02:06] dannymk opened #8298 "Adding member to existing etcd (unmatched member while checking PeerURLs)"
# Bug reporting

A good bug report has some very specific qualities, so please read over our short document on [reporting bugs][report_bugs] before submitting a bug report.

To ask a question, go ahead and ignore this.

[report_bugs]: https://github.com/coreos/etcd/blob/master/Documentation/reporting_bugs.md

[2017-07-22 02:20] heyitsanthony commented on #8298
???

[2017-07-22 02:22] dannymk commented on #8298
All three members are running the current stable version of coreos.

OK, I beat myself enough about this and I thought that walking away from it would somehow let me see the obvious mistake I am missing.  I am still stumped.

I had a three member cluster, we had to rebuild one of the members.  After the "new" member came up I proceeded to add it as follows:

I removed the old member from the clust

[2017-07-22 02:30] dannymk commented on #8298
I do see that the error I am reporting matches "Error cases when adding members" on this page:  https://coreos.com/etcd/docs/3.2.4/op-guide/runtime-configuration.html#remove-a-member
However, fixing this issue is not obvious to me.

[2017-07-22 04:49] gyuho commented on #8298
If you use v2 API:

[code]

It expects `<peerURL>`.

You seemed to configure with `http://192.168.1.154:2379`  client port (`2379`)?

[2017-07-22 05:57] xiang90 commented on #8295
@koorgoo This is a bug. Would you like to help us fix it?

[2017-07-22 05:58] dannymk commented on #8298
Which peerURL do you suggest?

[2017-07-22 06:10] gyuho commented on #8298
Your service file says `--listen-peer-urls="http://192.168.1.154:2380"`. So the command should have been `member add name http://192.168.1.154:2380`?

[2017-07-22 06:18] dannymk commented on #8298
I am pretty sure I tried that at least two times but I will try again.  Will let you know the outcome.  Thank you

[2017-07-22 06:56] dannymk commented on #8298
Hmmm... it turns out I had to change the "--listen-peer-urls=" to match the exact output of
ETCD_INITIAL_CLUSTER="node-etcd-1=http://etcd1.mydomain.est:2380,node-etcd-2=http://192.168.1.154:2379,node-etcd-3=http://192.168.1.156:2379"
during the add member command.

THAT DID IT.  Thank you gyuho.

[2017-07-22 06:56] #8298 closed

[2017-07-22 13:03] conradkdotcom commented on #7336
For anyone reading this, I had the same issue, because my client certificate did not have an IP SAN (subjectAltName).

I was signing my client cert as so:
[code]

When I should have done like so to access my etcd cluster on `127.0.0.1`:
[code]

[2017-07-22 15:02] #8268 closed

[2017-07-23 22:46] xiang90 commented on #8293
1. All client write requests are executed in one single thread non-concurrently.
2. The only thing might happen concurrently with client writes is compaction.

We either violates 1, or there is a bug in 2.

Is there anything else missed?

[2017-07-23 22:48] xiang90 commented on #8293
oh. or there is a bug in the recovery/restore logic.

[2017-07-24 07:52] koorgoo commented on #8295
@xiang90 Yeah! With pleasure!

[2017-07-24 09:21] abel-von commented on #8214
@xiang90 I'm confused by this `Txn`  function in `apply.go`.  It first do the comparison and then begin a transaction to update the backend data.  I thought the compare and swap should be atomic and so they should be processed  in **ONE** transaction. but now the comparison is out of the transaction, will this there be a race condition problem here?

[code]

[2017-07-24 09:26] inksink commented on #7860
I can not understand. @heyitsanthony @YuleiXiao
If connection is failed when watching, watchChan will not stop waiting.
[code]

Think about that connection is failed when `for wresp := range rch ` .

[2017-07-24 14:22] gyuho commented on #7860
@inksink It will block until a new connection comes back https://github.com/coreos/etcd/blob/master/clientv3/integration/watch_test.go#L178, afaik

[2017-07-24 15:38] inksink commented on #7860
@gyuho thanks. It's cool !

[2017-07-24 16:37] heyitsanthony commented on #8214
@abel-von that's the bug fixed by d173b09a1b3392136487433b73b3c88eaa21e51f; I could reproduce it using ad22aaa35474a40f70c270ae985f5d377fd0371c cherry-picked to the 3.1 branch. I'm not sure how it would cause a backend inconsistency (in this case there's a race causing inconsistency for reads) since all writes are serialized in the raft path. Possibly a race with compaction processing.

[2017-07-24 17:24] fanminshi opened #8299 "test: lots of TestCtlV3Txn* failures"
via https://semaphoreci.com/coreos/etcd/branches/pull-request-8297/builds/1
[code]

[2017-07-24 17:26] gyuho commented on #8299
Think it's related? Can you run with `EXPECT_DEBUG` flag to see what didn't match in those e2e tests?

[2017-07-24 17:28] fanminshi commented on #8299
@gyuho will do.

[2017-07-24 17:30] heyitsanthony commented on #8299
works fine on master; the interactive tests are failing because of the changed string in the PR

[2017-07-24 17:45] fanminshi commented on #8299
[code]

[2017-07-24 17:47] gyuho commented on #8299
@fanminshi `ctlV3Txn` needs to be changed in your PR?

[2017-07-24 17:48] fanminshi commented on #8299
@gyuho were you able to spot the issue?

[2017-07-24 17:49] fanminshi commented on #8299
nvm, i got it

[2017-07-24 20:08] gyuho commented on #8290
Please reopen when you have exact steps to reproduce.

[2017-07-24 20:08] #8290 closed

[2017-07-24 20:09] gyuho commented on #8271
Please reopen when you have exact steps to reproduce.

[2017-07-24 20:09] #8271 closed

[2017-07-24 20:12] gyuho commented on #8209
Closing in favor of https://github.com/coreos/etcd/issues/6925.

[2017-07-24 20:12] #8209 closed

[2017-07-24 21:54] fanminshi commented on #8287
@mitake  `Issuing requests doesn't help to extend the token TTL.`

I was looking into the code, it seems to me that Issuing `Get` with `AuthEnable` do extend the token TTL. Please correct me If I am wrong.

`kvServer.Range` -> `EtcdServer.Range` -> ... -> `EtcdServer.AuthInfoFromCtx` -> `authStore.AuthInfoFromCtx` -> `authStore.authInfoFromToken` -> `tokenSimple.info`

[code]

https://github.com/c

[2017-07-24 22:38] heyitsanthony commented on #8299
can this be closed? /cc @fanminshi

[2017-07-24 22:51] fanminshi commented on #8299
yeah, close via #8297.

[2017-07-24 22:51] #8299 closed

[2017-07-25 02:49] mitake commented on #8287
@fanminshi thanks for pointing, I forgot about the behaviour. As you say, simple token extends TTL in the way.

I'm also planning to add a new option for configuring TTL including the case of JWT. In the case of JWT, extending TTL is impossible. So I'm not sure that guaranteeing issuing nop RPCs extending TTL is a good idea. Actually clients can simply retrying auth for renewing their tokens.

[2017-07-25 04:05] #8243 closed

[2017-07-25 14:07] 201tank opened #8303 "How to put multiple key-values by one API?"
Is there is an API with which we can put multiple key-values into etcd together? I know that the Put operation can set key-value, but it can just put one everytime. Maybe, I can call the Put API for the multiple key-values one by one, maybe it's not good performance because there will be many API calls.

[2017-07-25 14:31] heyitsanthony commented on #8303
Use [transactions](https://godoc.org/github.com/coreos/etcd/clientv3#Txn).

Example:
[code]

[2017-07-25 14:31] #8303 closed

[2017-07-25 19:15] smarterclayton opened #8305 "Offline migration of expiring TTL content in a cluster causes v3 store to be inconsistent across cluster members"
We have a 3 node etcd 3.1.9 cluster (with three kubernetes 1.6 api servers contacting it) that we are upgrading from v2 mode to v3.  Post upgrade, one of the api servers appears to be serving stale reads and watches from right about the time of the upgrade - a few of the API requests that call down into etcd retrieve current data, but a large number never see updates (and never see compaction eith

[2017-07-25 19:16] smarterclayton commented on #8305
We did this twice in a row (upgraded, observed the staleness, restored from backup, ran through the whole procedure again) in our stage environment, and it occurred both times.  We noticed that the apiserver on the same node as the etcd leader was the one affected both times (going to run to a third time to see if it is consistent).

[2017-07-25 19:29] xiang90 commented on #8305
I am not sure if this is an etcd issue, etcd/client issue or k8s apiserver issue. Need some investigation there first.

@smarterclayton can you share the migration data somehow? so someone from etcd team can easily reproduce the problem?

[2017-07-25 19:32] smarterclayton commented on #8305
Unfortunately no, it's private internal data.  Some of the things we have ruled out:

1. we were unable to get etcdctl to return any stale data from any member, whether via serializable reads, watches, or range reads
2. we verified we were not hitting the watch cache (which was affected, but we called through on that server).  calls via the etcd client using the etcd3 storage backend were definite

[2017-07-25 19:36] xiang90 commented on #8305
so issues reads from etcdctl returns new vaules, but calling etcd.read inside apiserver returns stale data?

have you tried to restart the etcd server that api server connects? if restarting etcd does not solve the problem, the the issue is probably inside apiserver or client code.

[2017-07-25 19:37] smarterclayton commented on #8305
Yes

Yes, that will be the next attempt.

[2017-07-25 19:40] xiang90 commented on #8305
@smarterclayton also can you try with 1 node etcd cluster + 1 kube-apiservers?

[2017-07-25 20:29] smarterclayton commented on #8305
So we don't have a setup where we can downgrade this particular cluster to single of each.  I will say that we have never observed this in v2 mode, and have not observed it yet in any cluster (this is the standard config for openshift, 3+3) that was started with etcd v3 mode on.  We also don't believe we've observed it in non-migration 1+1 setups where the cluster was created from scratch.

We did

[2017-07-25 21:41] sdodson commented on #8305
We reproduced this again. This time we performed the migration, thought that the environment was sane, some 30 minutes later discovered problems with stale data. We then restarted all api servers and the problem persisted. Then I restarted etcd on the leader and the problem went away without restarting the api server.

[2017-07-26 02:15] #8231 closed

[2017-07-26 03:06] abel-von commented on #8214
@xiang90 @heyitsanthony @gyuho  We have found the root cause, we have found the root cause of this issue. The etcd cluster is serving not only the kube-apiserver, but also other components, that other components are using the v2 API.

The v2 and v3 data in etcd are separated from each other. there is a `modifiedIndex` in v2 and `ModRevision` in v3. and in our cluster the v2 grows faster than v3 be

[2017-07-26 03:15] heyitsanthony commented on #8214
@abel-von what's the process for the migration? the member is taken offline, a migration script runs, the server is brought back online, and it rejoins the cluster?

[2017-07-26 05:23] xiang90 commented on #8305
Interesting... If you use etcdctl to query etcd leader, will you see stale data?

[2017-07-26 06:11] abel-von opened #8308 "etcd client keeps the connection with a node which can not connect to leader."
We are doing the HA test, and we found that when we cut the network connection between between an etcd instance and the leader, the etcd client do not close the connection with that instance. and all request will return a `grpc timeout` error.

I know that the etcd client will keep using a long live connection with one node of the cluster to send its request, until the connection is closed, by net

[2017-07-26 06:14] abel-von commented on #8214
@heyitsanthony , Yes, as the backend data mismatch is not detected by the raft, it can rejoin to the cluster successfully.

[2017-07-26 15:33] gyuho commented on #8235
Should we just bump up the dial timeout (current 1-second)? I have been running this test over a week with slow CPU machine, but still cannot reproduce.

[2017-07-26 15:47] gyuho commented on #8308
Related https://github.com/coreos/etcd/issues/8022.

[2017-07-26 16:27] #8226 closed

[2017-07-26 16:30] heyitsanthony commented on #8214
@abel-von this sort of thing will be caught by #7125

[2017-07-26 16:36] heyitsanthony commented on #8235
@gyuho ok let's bump to 5s and reopen if it's still failing

[2017-07-26 17:04] #8235 closed

[2017-07-26 17:16] xiang90 commented on #8214
@heyitsanthony

Still, it is hard for us, etcd maintainers, to tell how corruption happened. Probably it worth the effort to think about how to detect user faults in a better way.

[2017-07-26 17:25] heyitsanthony commented on #8214
@xiang90 sure, but detecting corruption within a minute or so of bringing the member online already goes along way for debugging this sort of misconfiguration. The next step would be checking the hash before joining as a raft peer, which would have the advantage of avoiding booting into an inconsistent state and serving garbage.

[2017-07-26 17:57] heyitsanthony commented on #7623
Fixed by #8092

[2017-07-26 17:57] #7623 closed

[2017-07-26 18:03] xiang90 commented on #8214
@heyitsanthony

Can we create a new issue to capture the detecting data consistency thing? The title of this issue is terrifying. Cannot sleep for a while due to this "bug" :P.

[2017-07-26 18:10] heyitsanthony opened #8310 "lint markdown for style"
Detect style errors w/r/t https://github.com/coreos/docs/blob/master/STYLE.md

Spell checking would be nice too.

Related: #8269

[2017-07-26 18:22] #8016 closed

[2017-07-26 18:31] heyitsanthony opened #8311 "TestHashKVWhenCompacting: hashes differ"
via https://semaphoreci.com/coreos/etcd/branches/master/builds/2189

[code]

/cc @fanminshi

[2017-07-26 19:28] fanminshi commented on #8311
taking a look.

[2017-07-26 19:31] fanminshi commented on #8311
@heyitsanthony does ci run again when pr gets merging in?

[2017-07-26 19:32] heyitsanthony commented on #8311
@fanminshi yes; it's a build off of master

[2017-07-26 19:51] fanminshi commented on #8311
observed compaction at rev < 899. those cases shouldn't happen because the test code is written to compact from rev [899, 999]. Investigating.

[code]

[2017-07-26 19:58] heyitsanthony commented on #8311
@fanminshi that's probably from TestRestoreContinueUnfinishedCompaction which runs before the hash test. The test script isn't running the unit tests with `-v` so the RUN/PASS lines are suppressed.

[2017-07-26 20:03] fanminshi commented on #8311
@heyitsanthony i see.

[2017-07-26 20:22] fanminshi commented on #8311
reproduced the issue with following:

`rev := 1000` => `rev := 100000` at https://github.com/coreos/etcd/blob/master/mvcc/kvstore_test.go#L525

[code]

[2017-07-26 21:12] liggitt commented on #8214
we're seeing a similar issue that does not correct itself after a restart of the etcd members. one member continues to answer incorrect data for a particular query, despite all members claiming to be at the same raft index.

cc @smarterclayton

[2017-07-26 21:25] xiang90 commented on #8214
@liggitt That is a different issue. This one is a user error. I really need to close it since this is confusing.

[2017-07-26 21:25] #8214 closed

[2017-07-26 21:30] liggitt commented on #8214
I see, will add details to https://github.com/coreos/etcd/issues/8305

[2017-07-26 21:32] liggitt commented on #8305
after further debugging, one of the etcd nodes actually has different data in its store, despite claiming to be up to date with the raft index.

Our migration process:
* takes all writers offline
* ensures all etcd members were at the same raft index
* takes all etcd members offline
* runs the migration on each member's data
* brings up etcd members
* brings up clients (v3 clients like HA kubernet

[2017-07-26 21:34] xiang90 commented on #8305
@liggitt

Yes

So this is NOT the case? We need to get a clear answer on this.

[2017-07-26 21:34] heyitsanthony opened #8313 "etcdserver: check kv hash before serving client/peer traffic"
Even with a corruption alarm, an inconsistent etcd member can serve corrupted data to clients between the time of boot and detection. This is undesirable in cases where corruption can't be tolerated (e.g., serving disk geometry data). Worse, if the corruption is on a leader, it's possible it will further propagate the corruption by sending snapshots to other members.

Instead, if a member can cont

[2017-07-26 21:37] liggitt commented on #8305
correct, using etcdctl directly against etcd returns different results depending on which member you query.

https://bugzilla.redhat.com/show_bug.cgi?id=1475351#c8 has more details as well

[2017-07-26 21:42] xiang90 commented on #8305
@liggitt

Can you actually summarize the problem and post it here? Thanks.

[2017-07-26 21:44] liggitt commented on #8305
https://github.com/coreos/etcd/issues/8305#issuecomment-318189115 is a good summary

[2017-07-26 21:48] xiang90 commented on #8305
after this, can you check if the hashes of member are matched? (either via gRPC hash API or manually check contents)

[2017-07-26 21:49] liggitt commented on #8305
the member data?

[2017-07-26 21:49] xiang90 commented on #8305
the data you can get from the kv store. a range over all keys.

[2017-07-27 00:03] xiang90 commented on #7821
none of use can reproduce this. and it does not seem like an etcd issue. so closing.

[2017-07-27 00:03] #7821 closed

[2017-07-27 01:09] heyitsanthony commented on #7957
Closing due to inactivity and no way to reproduce. The mvcc/backend/boltdb changes since 3.1 are significant enough that whatever is happening here may already be fixed.

[2017-07-27 01:09] #7957 closed

[2017-07-27 12:14] dongdongmeow opened #8317 "addrConn.resetTransport failed to create client transport"
so much error log  in etcd v3.0.14
grpc: addrConn.resetTransport failed to create client transport: connection error: desc = "transport: dial tcp [::]:2379: connect: network is unreachable"; Reconnecting to {"[::]:2379" <nil>}

------------------------------------
[code]

[2017-07-27 14:05] heyitsanthony commented on #8317
@dongdongmeow What flags are passed to etcd? Where are the timestamps in the log?

It's possible this may be fixed by #8221 / 63350f5ac10a8035e9284c8385e75d2e27d669c3 / 3.2.2 or by enabling ipv6 on the host.

[2017-07-27 14:42] PatrickMurray opened #8318 "Etcd Ignoring x509 IP SANs Value"
# etcd ignoring x509 IP SANS field

Good morning all,

I'm attempting to secure a five node cluster using my organization's internal certificate authority. To provide some background, we're using Ansible to automate node configuration management. Previously, we've been successful in deploying clusters which communicate over plaintext transmission.

At this point in time, we've issued signed certif

[2017-07-27 14:46] gyuho commented on #8318
What etcd version are you running?

[2017-07-27 14:51] PatrickMurray commented on #8318
@gyuho Oops, totally forgot!
[code]

[2017-07-27 15:02] gyuho commented on #8318
Seems like a same issue with https://github.com/coreos/etcd/issues/8268?
The fix https://github.com/coreos/etcd/pull/8281 will be included in our next patch release, this or next week.

[2017-07-27 17:17] PatrickMurray commented on #8318
@gyuho I'm not familiar with the particulars of that issue - although upon a quick glance, that ticket appears to regard the DNS SANs, not IP SANs. I was able to resolve my problem by setting the SAN as `IP=XXX.XXX.XXX.XXX,DNS=XXX.XXX.XXX.XXX`. In my opinion, this problem seems to originate from golang's openssl implementation of SANs. Thanks for the help!

[2017-07-27 17:17] #8318 closed

[2017-07-27 18:49] jaricftw commented on #4552
Just saying we are seeing the error intermittently in test, if we set the snapshot internal to be small (e.g. every 3 entries).

[2017-07-27 19:28] heyitsanthony commented on #4552
@jaricftw what is `TestWALReplay`? it's not part of etcd...

[2017-07-27 19:45] jaricftw commented on #4552
@heyitsanthony Oh sorry, that's my own unit test. What it does is simply start a three-node raft cluster, propose some requests, stop the cluster, and then restart the cluster to observe WAL replay.

[2017-07-27 20:08] msi-normr opened #8320 "ETCD TLS still supports weak 64-bit block ciphers"
Description:
ETCD TLS still supports weak 64-bit block ciphers
Nessus security scanner indicates ETCD TLS port can still communicate using weak 64-bit block ciphers which is a security vaulnerabilty (SWEET32).

Steps to Reproduce:
1.) Setup ETCD for TLS
2.) Initiate a query to the ETCD https port and specify a weak cipher (ECDHE-RSA-DES-CBC3-SHA, DES-CBC3-SHA)
curl -v https://lama1-1-1:4001/v2/mem

[2017-07-27 20:23] heyitsanthony commented on #8320
If etcd is going to worry about weak ciphers, maybe there should be a [FIPS-140 mode](https://docs.oracle.com/cd/E36784_01/html/E54953/fips-notok-1.html)? It seems the [suggested way](https://github.com/golang/go/issues/11658  ) is cgo out to a certified library. /cc @xiang90

[2017-07-27 20:24] xiang90 commented on #8320
@heyitsanthony

Agreed.

[2017-07-28 02:25] 201tank commented on #8303
Thanks!

[2017-07-28 08:27] HardySimpson opened #8326 "Automatically switch endpoint when one endpoint is not available"
we found when 1 of 3 instance of etcd is network partition witch other 2,

still the client can access this instance, and grpc connection is keep alive, then all request will failed and report like this

[code]

out etcd version is 3.1.9

this error is not happen is etcd v2

[2017-07-28 08:33] HardySimpson commented on #8326
put a PR on https://github.com/coreos/etcd/pull/8327

It is a design a little bit different with grpc health-check way， which have 2 advantage

* health-check success do not mean normal request will success, they are different
* no extra request cost, light-weight

the switch only happens at request fail,

and switch at most one time in 30 seconds, to avoid too frequently switch

[2017-07-28 14:29] ElijahCaine opened #8328 "etcd tls cert requirements clarification"
# Clarification Request

I'm trying to run a single-node etcd cluster with custom TLS certificates generated by Terraform (code below). When I get the node deployed I get the following error on my local client trying to connect to that node:
[code]

The logs listed in `systemctl status etcd-member` on the node is as follows:
[code]
The service is active and running.

The Terraform file and Contain

[2017-07-28 16:11] gyuho commented on #8328
Try specifying `peer-trusted-ca-file`?

[2017-07-28 16:20] gyuho opened #8329 "TestLeaseGrantErrConnClosed fails"
[code]

With recent gRPC upgrade to v1.5.1 https://github.com/coreos/etcd/pull/8296, client `Close` (which cancels the `client.context`) gives `context canceled`

[2017-07-28 16:54] fanminshi opened #8330 "etcdserver: create wal error: no space left on device"
via https://jenkins-etcd-public.prod.coreos.systems/job/etcd-proxy/2252/console
[code]

[2017-07-28 16:55] gyuho commented on #7790
@tfzxyinhao Do you have example snippet to reproduce? Turns out I did not vendor `clientv3/namespace` correctly. After vendoring it, the code compiles fine. Other context import issues should be resolved with Go 1.9 type alias (e.g. https://go-review.googlesource.com/c/35671/2/context/go19.go)

[2017-07-28 16:55] #7790 closed

[2017-07-28 16:57] heyitsanthony commented on #8330
This isn't a bug in etcd; the jenkins worker is out of space. I cleared it out.

[2017-07-28 16:57] #8330 closed

[2017-07-28 17:27] r7vme commented on #7002
i've just experimented, after reading [blog post](https://www.mirantis.com/blog/everything-you-ever-wanted-to-know-about-using-etcd-with-kubernetes-v1-6-but-were-afraid-to-ask/) from @mattymo , and found out that **v2 backup actually contains both v2 and v3 data**.

I have etcd `3.2.0-rc.0+git`

### To check

Start etcd
[code]

Create v2 and v3 data
[code]

Create backup
[code]

Stop existing etcd

[2017-07-28 17:57] r7vme opened #8331 "v2 backup can not be restored for etcd 3.1.7"
I have etcd 3.1.7 (etcdctl 3.2.0) and i'm doing v2 backup like this
[code]
while i'm trying to start etcd from this backup i'm getting
[code]

This issue reproduced on two independent environments already.

[2017-07-28 21:48] gyuho commented on #8331
Do you store only v2 keys? Related https://github.com/coreos/etcd/issues/7615.

[2017-07-28 22:57] heyitsanthony commented on #7002
@r7vme there's probably v3 entries in the wal that are being copied over and then replayed back into the v3 store.

[2017-07-29 00:10] ElijahCaine commented on #8328
@gyuho  tried adding that flag and got the same error.

[2017-07-29 00:20] ElijahCaine commented on #8328
Plot twist! Using `curl` does work:
[code]
But `etcdctl` (still) does not:
[code]

[2017-07-29 07:16] r7vme commented on #8331
We store both v2 and v3.

[2017-07-29 07:46] r7vme commented on #8331
I was able to restore with precreating db file `touch $BACKUP_DIR/member/snap/db` as was recommended in https://github.com/coreos/etcd/issues/7615

[2017-07-29 16:45] ElijahCaine commented on #8328
*sigh* I think I found the issue:
[code]
I was using the v2 api by default and when I switch to the v3 api it works perfectly.

I'm not sure why `etcdctl` did not work (with the v2 api) and why `curl` *did* work. Perhaps a better error message or documentation somewhere about this on the `security.md` page might be helpful. If I'm correct in thinking this is odd behavior I'll be more than glad to

[2017-07-31 05:57] penglongli opened #8336 "How to migrate Data from v2.3.7 to v3.2.4"
## Description
First, i have a etcd-cluster with v2.3.7, `data-dir` is `/data/etcd`, run on `host-1/host-2/host-3`
Then,  i have a new etcd-cluster with 3.2.4, `data-dir` is `/data/etcd`, run on `host-4/host-5/host-6`

## What's i want
And i want to migrate the **Data** from the old-cluster(v2.3.7) to the new-cluster(v3.2.4).

I had saw some documents, but i didn't find what I wanted. If there has

[2017-07-31 08:03] gyuho commented on #8336
Have you checked https://github.com/coreos/etcd/blob/master/Documentation/upgrades/upgrading-etcd.md?

[2017-07-31 08:10] penglongli commented on #8336
@gyuho Yeah, i checked it.
According to this URL, it looks like i can only upgrade from v2.3 to v3.0, and then from v3.0 to v3.1, and from v3.1 to v3.2. I need step by step upgrade,  is that so?

[2017-07-31 15:04] PatrickMurray opened #8337 "etcd initialization - peer cluster information request failure results in unhealthy cluster"
# Expected Behavior

Upon the startup of a newly created cluster, each node will attempt to query it's peers for cluster information; upon request failure, etcd will attempt this request again - interpreting this failure as an indication that the remaining nodes are still initializing.

# Actual Behavior

When an initial cluster information request fails, the etcd daemon on each node exits in fail

[2017-07-31 15:05] PatrickMurray commented on #8337
Host 4 fails with the same error.

[2017-07-31 15:32] stefan-improbable opened #8338 "etcdv3.client.Watch is not thread safe"
clientv3.Client.Watch(ctx, ...) is not thread safe when ctx is CancellableContext.
https://github.com/coreos/etcd/blob/master/clientv3/watch.go#L216 can panic on "concurrent map iteration and map write". I think we should take address of that `inctx`.

[2017-07-31 15:51] gyuho commented on #8336
@penglongli Yes, right.

[2017-07-31 16:01] heyitsanthony commented on #8338
@stefan-improbable the ctx's GoString method is not thread safe. See #8275 for a fix.

[2017-07-31 16:21] #8336 closed

[2017-07-31 16:23] gyuho commented on #8337
Peers cannot talk to each other? Is `--initial-cluster` correctly set-up? Or any network misconfiguration?

[2017-07-31 18:53] bgrissin opened #8340 "No option for running etcd in docker v.3 ?"
# Cant find a reference for v3 as easily as the v2 release defined a way to run etcd in docker container (or swarm cluster)

[2017-07-31 19:09] liggitt commented on #8305
we tracked this down to an issue migrating v2->v3 stores when the v2 store contains actively expiring TTL keys.

Reproducer script at https://gist.github.com/liggitt/0feedecf5d6d1b51113bf58d10a22b4c

We followed the offline migration guide at https://coreos.com/etcd/docs/latest/op-guide/v2-migration.html#offline-migration, which did not mention issues migrating data stores containing actively expi

[2017-07-31 19:16] heyitsanthony commented on #8340
@bgrissin have you tried the [docker cointainer guide](https://github.com/coreos/etcd/blob/master/Documentation/op-guide/container.md#docker)?

[2017-07-31 19:17] xiang90 commented on #8305
@liggitt

It seems the problem is that the data on members are not converged when you run migration tool due to expiring TTL keys. The doc has the assumption that the state of the members are consistent. Can you help to improve the migration doc to make it clear?

[2017-07-31 19:19] smarterclayton commented on #8305
The current doc recommends using a command that requires the master be online.  In the presence of TTL there is no way for an online master to be sure it is consistent.  Is there an offline command?  In the presence of TTL you'd have to continually stop and start the cluster until you were sure the stores were consistent, and only do the check while offline on each node.

[2017-07-31 19:20] smarterclayton commented on #8305
If TTL expiration doesn't go through raft (is this correct that it does not?), how can you be sure the cluster members are consistent?

[2017-07-31 19:26] heyitsanthony commented on #8305
@smarterclayton TTL expiration goes through consensus. Related: https://github.com/coreos/etcd/blob/master/etcdserver/apply_v2.go#L122.

[2017-07-31 19:32] smarterclayton commented on #8305
Ok.  So we see the following:

1. have a cluster setup
2. verify members are consistent
3. shut down members
4. migrate

members are not consistent.  If the expiration increments raft, how do we ensure that we don't race on shutdown with a TTL application?  If you have any TTLs, then the currently recommended doc is wrong, because there is no way to prevent an expiration happening between 2 and 3.

[2017-07-31 19:34] smarterclayton commented on #8305
Also, the failure mode for a migration with inconsistent content is pretty bad.  Is there a better process the doc should recommend to ensure the stores are consistent *post* migration that we are missing?

[2017-07-31 19:56] bgrissin commented on #8340
the issue is getting into any of the containers and being able to run any commands such as etcdctl

[2017-07-31 19:58] gyuho commented on #8340
@bgrissin You can try the example usage here https://github.com/coreos/etcd/releases.

[code]

[2017-07-31 20:08] bgrissin commented on #8340
Unable to find image 'quay.io/coreos/etcd:v3.2' locally
v3.2: Pulling from coreos/etcd
88286f41530e: Pull complete
45382447aa91: Pull complete
0c499c291c78: Pull complete
c9f676bdc3ac: Pull complete
2de528bc9712: Pull complete
8050aa75d456: Pull complete
Digest: sha256:c5d7bc89aa6140db5645670cb9a1c47e9812f7fe7bb492442f8637abaaa3a3a4
Status: Downloaded newer image for quay.io/coreos/etcd:v3.2
93a5a

[2017-07-31 20:11] gyuho commented on #8328
@ElijahCaine

member 2d6aa874eef6cb44 is unreachable: [https://$PUBLIC_IPV4:2379] are all unreachable

v2 command looks correct to me and works well to me.

What is the output of your public key?

[2017-07-31 20:13] gyuho commented on #8340
@bgrissin

What command did you run to get this error?

[2017-07-31 20:18] heyitsanthony commented on #8340
I run it with `docker run  --rm --name etcd quay.io/coreos/etcd:latest /usr/local/bin/etcdctl -v`

[2017-07-31 21:34] xiang90 commented on #8305
We are working on adding runtime hash checking.

[2017-07-31 22:45] #8295 closed

[2017-08-01 01:39] ElijahCaine commented on #8328
@gyuho
[code]

[2017-08-01 12:28] Abhijith1 opened #8343 "Grant permission for a set of keys in etcd-v3 Go client"
I'm using the Go client v3 to store keys in a hierarchical manner:
`one/one <val>`
`one/two <val>`
`one/three/four`
and so on.
How do I grant permission to all the keys under "one" to a role.

RoleGrantPermission() doesn't solve my problem since the key hierarchy is not static and new keys maybe added anytime. So, giving a rangeEnd isn't possible when a role is created.

This can be achieved in et

[2017-08-01 14:10] devnev commented on #8338
Why not just use the actual value of the context object without converting it to a string? From a quick check of the code that seems like it should work fine. Requiring a concurrency-safe String() is not supported by the base context libraries and will require every single context to be wrapped... this looks like a landmine for anyone using watchers.

[2017-08-01 14:17] ghovat opened #8344 "etcd - etcdctl not working"
Hi,
I installed on my host a etcd leader from docker.
This is my docker
[code]
If i try to make a curl on 2380 or 2379 it works fine.
But if i run
`docker exec -it etcd etcdctl member list
`
I get the following error:

[2017-08-01 14:54] 42701618 opened #8345 "the problem of raftexample"
After using raftexample,I send data to the raftexample server.Every time I send 50000 reqeusts to the server,
After some hour, there are some error ;"out of memory........."

[2017-08-01 15:17] gyuho commented on #8345
Do you have reproducible code?

Or your machine is just out of memory...

[2017-08-01 15:23] gyuho commented on #8344
Do you have logs from your etcd server?

[2017-08-01 15:37] ghovat commented on #8344
[code]

[2017-08-01 15:39] gyuho commented on #8344
@ghovat etcd server starts fine, but your client cannot connect to your container environment for some reasons. Can you just `curl http://10.0.127.246:2379/metrics`?

[2017-08-01 15:42] gyuho commented on #8343
Here's how we do it in etcdctl https://github.com/coreos/etcd/blob/master/etcdctl/ctlv3/command/role_command.go#L208.

[code]

[2017-08-01 15:43] stefan-improbable commented on #8338
Also, if you have:
[code]
`ctx` and `cctx` will have different `fmt.Sprintf("%v", ...)` representations even though they are on the same connection.

[2017-08-01 15:48] ghovat commented on #8344
This works fine. Everything with curl works fine just if i run over etcdl in the docker container i get the errors.
Attached the metrics statement

[code]

[2017-08-01 15:51] gyuho commented on #8344
@ghovat Try using `localhost` for all IPs in your docker command, while exposing `2379` and `2380`.

[2017-08-01 15:54] mwitkow commented on #8338
@xiang90 has any other users of etcd3 watchers, including Kubernetes, hit something similar?

[2017-08-01 15:55] ghovat commented on #8344
With curl?
This works fine until i try for example
`docker exec -it etcd etcdctl member list`

I will get the error

[2017-08-01 15:57] gyuho commented on #8344
@ghovat

I meant

[code]

You can just expose etcd ports to host network and talk to etcd via those ports. So if you have a single node, you can run with `localhost`.

[2017-08-01 16:05] ghovat commented on #8344
Interessting with the same configuration and this:
`root@ip-10-0-127-246:/srv# docker exec etcd /bin/sh -c "export ETCDCTL_API=3 && /usr/local/bin/etcdctl member list"
`
I get the result.

[2017-08-01 16:14] ghovat commented on #8344
What i found out is adding member is still not possible:
 `docker exec etcd /bin/sh -c "export ETCDCTL_API=3 && /usr/local/bin/etcdctl member add node4 http://10.0.127.176:2380"
`

[2017-08-01 16:16] gyuho commented on #8344
What's the error message?

[2017-08-01 16:18] ghovat commented on #8344
@gyuho
[code]

[2017-08-01 16:21] gyuho commented on #8344
Try

`member add node4 --peer-urls="http://10.0.127.176:2380"`

[2017-08-01 16:30] ghovat commented on #8344
Worked thanks.
Was there a change in the CLI Commands since version 3.0.15?
Thanks

[2017-08-01 16:30] #8344 closed

[2017-08-01 16:51] fanminshi commented on #6934
via https://jenkins-etcd-public.prod.coreos.systems/job/etcd-proxy/2285/console

[code]

[2017-08-01 16:57] #8311 closed

[2017-08-01 18:15] heyitsanthony commented on #8317
Closing due to inactivity and seems to be fixed. Please reopen if problem persists. Thanks!

[2017-08-01 18:15] #8317 closed

[2017-08-01 18:27] gyuho commented on #8340
@bgrissin Ping? Did you figure out?

[2017-08-01 18:28] gyuho commented on #8337
@PatrickMurray Ping?

The etcd server log is clear; `getsockopt: connection refused`. Nodes cannot communicate with each other.

[2017-08-01 18:38] PatrickMurray commented on #8337
@gyuho Sorry, I was able to resolve this out yesterday - the issue originated from an Ansible playbook error wherein the etcd systemd service was spun up out of sequence. Thanks for the help!

[2017-08-01 18:38] #8337 closed

[2017-08-01 18:43] raoofm commented on #7002
@xiang90 @heyitsanthony Should this issue be closed in favor of #6925. Then the users can migrate v2 data to v3 and still support v2 clients. So the current problem of taking both v2 and v3 backup as a whole can be dropped as we would then need only v3 backup.

[2017-08-01 19:04] heyitsanthony opened #8348 "etcdctl: endpoint hash command"
Support hashing the KV store through etcdctl.

[2017-08-01 19:05] heyitsanthony commented on #8305
Closing in favor of #8348 so inconsistencies can be detected at boot via command line.

[2017-08-01 19:05] #8305 closed

[2017-08-01 19:25] smarterclayton commented on #8305
Is there going to be a separate issue to track changing the doc?

[2017-08-01 19:42] heyitsanthony commented on #8348
This should also include an update to op-guide/v2-migration.md with an example to check the hashes

[2017-08-01 19:42] heyitsanthony commented on #8305
@smarterclayton I added a note on the etcdctl issue; it doesn't need to be tracked separately

[2017-08-01 20:16] fanminshi commented on #8287
@mitake thanks for your clarification.

[2017-08-01 20:16] #8287 closed

[2017-08-01 20:32] gyuho commented on #8348
I am also interested, for play.etcd.io.

Should we also expose Hash API to clientv3 and go from there?
Then adding hash field to `StatusResponse`?
Or just separate wrapper in clientv3 for `HashResponse`.

[2017-08-01 20:38] heyitsanthony commented on #8348
@gyuho I'm hesitant to change `StatusResponse` to include data that's not returned by the status RPC. Just `HashKV(int64) (*HashKVResponse, error)` under the maintenance interface should be OK.

[2017-08-01 21:53] #8329 closed

[2017-08-02 00:05] #8338 closed

[2017-08-02 01:23] 42701618 commented on #8345
I can reproduce it.I try it in 16G or 48G machine

[2017-08-02 01:38] gyuho commented on #8345
@42701618 How do you send 50k requests to the raftexample server?
It's **example** to show how to use raft package... so do not expect it to perform like etcd.

[2017-08-02 01:43] 42701618 commented on #8345
wait for moment，please.I am ready the code.

[2017-08-02 01:58] immesys opened #8352 "Database significantly larger than contents"
I have a cluster with about 20k keys in it, most of them fairly small (<100 bytes), but the size of the database is larger than I would expect. My intuition could be wrong, but I wanted to reach out and see if someone could help me work out what is going on.

There are no v2 keys

There are 22k v3 keys

The size of a snapshot and the size reported in endpoint status is 2.6GB after compaction and 1

[2017-08-02 02:01] gyuho commented on #8352
what's the size of value?

[2017-08-02 02:03] immesys commented on #8352
Most values are about 10-20bytes, but when you export as protobuf it incudes the values (+revisions+version etc), so the information in the keys+values together is less than 2.4MB

[2017-08-02 02:03] immesys commented on #8352
The biggest value is maybe 500 bytes

[2017-08-02 02:20] 42701618 commented on #8345
main.go

package main

import (
  "net/http"
  _ "net/http/pprof"
  "*****/raft"
  "time"
  "fmt"
)

func main() {
  go func() {
    fmt.Printf(http.ListenAndServe("localhost:6060", nil))
  }()
  raftcluest  := cacheraftkv.NewRaftCluster()
  go raftcluest.StartClutster()
  fmt.Printf("Raft server is running")

  var key string = "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa8.bbb.ccc.ddddddddddddddddddddddd.eee

[2017-08-02 02:22] 42701618 commented on #8345
raftcluster.go

package cacheraftkv

import (
  "github.com/coreos/etcd/raft/raftpb"

  "fmt"
  "flag"
  "strings"
)

type RaftCluster struct {
  id               int
  join             bool
  peers            []string
  proposeC         chan string
  confChangeC      chan raftpb.ConfChange
  KVS              *KvStore
}

func NewRaftCluster() *RaftCluster {
  cluster := flag.String("cluster", "htt

[2017-08-02 02:22] 42701618 commented on #8345
other file depend on raft example

[2017-08-02 02:27] gyuho commented on #8345
@42701618 As I said, it's overloading the raftexample that is not built for such workloads. Your code is writing >10MB in the for-loop. So it's easy to reach the memory limit. Please use etcd or other database if you need that much throughput.

[2017-08-02 02:27] #8345 closed

[2017-08-02 02:33] 42701618 commented on #8345
the etcd do not use storage.go?

[2017-08-02 04:48] xiang90 commented on #8352
@immesys

have you ever compacted your kv space?

[2017-08-02 04:49] xiang90 commented on #8352
and how did you run the compact/defrag command?

[2017-08-02 05:39] immesys commented on #8352
I have a production cluster of three machines running 3.1.8. To try and investigate this more, I took a snapshot from that and restored it on a single node 3.1.8 (and a 3.2.4 in case it was fixed). I did an etcdctl get on a key to get the global revision and did `ETCDCTL_API=3 etcdctl compaction <rev>`. This did not change the size (it stays at 2.6GB) but I suspect it was already compacted because

[2017-08-02 05:43] xiang90 commented on #8352
@immesys

can you try to pull out all the keys, recreate a fresh etcd cluster, and put the keys to the new cluster? then check the size of the new cluster?

you can email it to me at xiang.li@coreos.com. i can take a look later this week. i suspect there is a really simple cause somewhere.

[2017-08-02 05:50] immesys commented on #8352
I did actually just notice something. Look at this:

[code]
So ~45k keys by that method. But look at the snaphsot itself:

[code]

That says 11 million keys. Now it's not impossible that my software has a bug and has put 11 million keys in when I was not expecting it, but why do they not show up in `get "" --prefix` ?

Also, when I do this
[code]
I get this field at the end, which is why I (perhap

[2017-08-02 05:58] xiang90 commented on #8352
@immesys

how did you do the compaction?

you need to something like `etcdctl compact 167175255`

[2017-08-02 06:11] immesys commented on #8352
Yeah, like that. This is what I get when I do it again:

[code]

[2017-08-02 06:14] xiang90 commented on #8352
@immesys have you created a lot of leases?

[2017-08-02 06:18] immesys commented on #8352
Possibly, but I doubt that many. It's a 5 second lease and we use client.KeepAlive(). We don't create more than 1 per execution and I doubt we have restarted more than a few thousand times.

[2017-08-02 06:23] xiang90 commented on #8352
there should be lease list command. can you try that out?

[2017-08-02 06:26] immesys commented on #8352
I can't find the lease list command, only variants that take an id

[2017-08-02 06:28] xiang90 commented on #8352
@immesys OK. too bad then. probably you have to send the snapshot to me... we will write some docs around debugging the snapshot file in the future.

[2017-08-02 06:29] immesys commented on #8352
Ok am uploading it somewhere, I'll email you a link.

I actually can't find a way to list leases either with etcdctl or the go clientv3 bindings, is there a way?

[2017-08-02 06:33] xiang90 commented on #8352
@immesys probably i remember it incorrectly :( at some point, we thought about adding it. probably we decided it is a bad idea if no one has ever asked for it.

[2017-08-02 09:33] Abhijith1 commented on #8343
@gyuho Thank you! Solves my problem 👍

[2017-08-02 09:33] #8343 closed

[2017-08-02 11:12] gambol99 opened #8353 "etcdv2 migration http -> https"
Hiya

Version: v2.2.1 (I know!) found [here](https://github.com/kubernetes/kops/blob/master/protokube/pkg/protokube/etcd_manifest.go#L39-L40)
Image: gcr.io/google_containers/etcd

This is less of a bug and more reaching out for advice. I recently raised a PR on [kops](https://github.com/kubernetes/kops) to provide a long required feature of TLS on the etcd cluster [#PR3114](https://github.com/kube

[2017-08-02 12:02] koorgoo opened #8354 "etcdctl: set ETCDCTL_API=3 by default"
As of version >= 3 (3.2.4 currently) should admins continue to `export ETCDCTL_API=3`?
Is there something critical what forbids to set api version to 3 by default?

[2017-08-02 16:13] gyuho commented on #8345
@42701618 etcd is key-value store. https://godoc.org/github.com/coreos/etcd/clientv3

[2017-08-02 16:26] gyuho commented on #8353
We have https migration doc here https://coreos.com/etcd/docs/latest/etcd-live-http-to-https-migration.html.

But strongly recommend to upgrade to v3 first, since we have fixed a lot of TLS issues, and v2 TLS still has some edge cases we haven't figured out. v2 will be deprecated soon.

[2017-08-02 16:26] #8340 closed

[2017-08-02 16:34] heyitsanthony commented on #8354
@koorgoo Yes, the reason is that defaulting to api=3 will break any scripts that rely on etcdctl for v2 features. It'll be a default in the future, but v2 still isn't fully deprecated.

[2017-08-02 16:37] koorgoo commented on #8354
Good old legacy... Thank you for comment.

[2017-08-02 16:37] #8354 closed

[2017-08-02 20:30] xiang90 commented on #7625
no one is actively working on this. i am going to move it to unplanned.

[2017-08-02 21:20] gyuho opened #8359 "PASSES="fmt" ./test fails"
[code]

Reproducible

[code]

[2017-08-02 21:30] gyuho commented on #8359
Only fails in OSX...

[2017-08-03 01:12] #8359 closed

[2017-08-03 04:59] heyitsanthony opened #8361 "revise client godocs, rpc descriptions"
The code documentation was put together piecemeal so at times it's incoherent as far as terminology, formatting, detail, etc. A solid editing pass could help clarify the material and arrange it in a consistent manner.

[2017-08-03 06:15] connor4312 commented on #7036
@xiang90 I'd be more than happy to take this on if no one else is already doing so. @styleex just pointed out that this is a potentially buggy behavior in my Js/Ts etcd client (I assumed ordering). For now I'll likely implement a queue as Chumper mentioned earlier but I'd like to fix this at the source 😄

[2017-08-03 07:38] RayQiQi opened #8362 "etcd2.3 upgrade to etcd3.2: remote version is too low"
2.3 upgrade to 3.2 directly is not support?
If we'd like to do this upgrade, what step should we do?

Aug 03 08:32:26 node1 etcd[7846]: set the initial cluster version to 2.2
Aug 03 08:32:26 node1 etcd[7846]: enabled capabilities for version 2.2
Aug 03 08:32:26 node1 etcd[7846]: started streaming with peer c5c32c983df15f43 (stream MsgApp v2 reader)
Aug 03 08:32:26 node1 etcd[7846]: updated the clu

[2017-08-03 08:06] Unb0rn opened #8363 "separate insecure /health"
Hello!
It's not a bug, but more like feature request/search for advice.
I'm trying to run a secure etcd cluster on container linux on top of GCE, but due to lack of some features in GCE itself, it seems to be impossible to use health checks on HTTPS (HTTPS health checks are incompatible with Network load balancer and I think it's impossible to use client certificates with HTTPS on other kinds of l

[2017-08-03 11:41] gyuho commented on #8363
We've added `--metrics-addr` flag https://github.com/coreos/etcd/pull/8282. It will be included in our next major release.

[2017-08-03 11:41] #8363 closed

[2017-08-03 11:43] gyuho commented on #8362
Upgrade must be done sequentially.

2.3 -> 3.0, 3.0 -> 3.1, ...

We have more docs here:

1. https://github.com/coreos/etcd/blob/master/Documentation/op-guide/v2-migration.md
2. https://github.com/coreos/etcd/blob/master/Documentation/upgrades/upgrading-etcd.md

[2017-08-03 11:43] #8362 closed

[2017-08-03 14:19] xiang90 commented on #7036
@connor4312 It would be great if you can work on it. Thank you!

[2017-08-03 18:42] immesys commented on #8352
@xiang90 any ideas? Did you get the snapshot I emailed?

[2017-08-03 18:45] xiang90 commented on #8352
@immesys yes. i will take a look today.

[2017-08-03 19:24] #8353 closed

[2017-08-03 22:20] gyuho commented on #8328
@ElijahCaine I confirmed that both v2 and v3 work as expected with DNS.

[code]

My cert config is:

[code]

I see your config is missing `X509v3 Key Usage: critical`?

[2017-08-03 22:42] heyitsanthony commented on #6934
A related bug (#8355) can be reproduced reliably on jenkins by sending SIGQUIT to the etcdctl process instead of SIGTERM or SIGKILL. Not necessarliy the same bug since it only happens on SIGQUIT, whereas semaphore is os.Interrupt and SIGTERM.

[2017-08-03 23:42] jiaxuanzhou opened #8365 "etcdctl(V3)：reduce session timeout for lock command"
1,the default timeout of lock command is etcd\clientv3\concurrency\session.go: `defaultSessionTTL = 60`
in the production scenario, when there is an unexpected  server crash of the client side(container scenario: kill the docker), the client process can not capture the signal of the syscall, then the other clients must wait 60s to gain the lock, the timeout is too long in production environment, i

[2017-08-04 00:12] heyitsanthony commented on #8365
How about a `--ttl` flag so it's configurable?

What other mechanism?

[2017-08-04 03:28] jiaxuanzhou commented on #8365
@heyitsanthony
i agree with you if adding a flag to config the ttl, it can avoid the long waits when seesion expired and no other mechanism needed with a flag.

[2017-08-04 15:48] ElijahCaine commented on #8328
@gyuho Thank you for the response. Unfortunately I'm still stuck 🤔...
[code]
[code]
The above used a newly generated cert:
[code]
Can you share the commands / files used to generate your certificate(s)? I seem to be missing the "X509v3 Subject Key Identifier:" section in my cert. That is the only notable difference I can see.

[2017-08-04 15:53] gyuho commented on #8328
We don't use terraform to generate certs. Here's our cfssl script https://github.com/coreos/etcd/blob/master/integration/fixtures/gencerts.sh.

[2017-08-04 17:04] jaricftw commented on #4552
Shall we re-open this? I've seen it multiple times recently.

[2017-08-04 17:30] xiang90 commented on #4552
@jaricftw Create a new issue for it with reproduce steps.

[2017-08-04 17:41] xiang90 commented on #8365
@jiaxuanzhou do you want to work on this improvement?

[2017-08-04 18:37] xiang90 commented on #8352
@immesys

I took a look at the db file you sent me. There are tons of historical keys. Then I did a compaction at the most recent revision: 167117792. It took 1 minutes or so to finish the compaction since there are A LOT OF keys. Then I did a defrag. The db size went back to 77MB.

[2017-08-04 18:37] #8352 closed

[2017-08-04 18:52] fanminshi commented on #8331
@r7vme `I was able to restore with precreating db file touch $BACKUP_DIR/member/snap/db as was recommended in #7615` If you read the comment https://github.com/coreos/etcd/issues/7615#issuecomment-290288938. That method doesn't work as explained here https://github.com/coreos/etcd/issues/7615#issuecomment-290289734

[2017-08-04 22:03] immesys commented on #8352
Ok, thank you, it turns out I was not waiting for the compaction to finish (I needed physical=true)

[2017-08-04 22:05] xiang90 commented on #8352
@immesys Glad that you figured it out.

[2017-08-04 22:23] ElijahCaine commented on #8328
I will take a look at those and see if there is some way to get the same result with Terraform.

What confuses me most is how my configuration works for etcd api v3 but not api v2. Do you have any ideas why this may be?

[2017-08-04 23:43] jiaxuanzhou commented on #8365
@xiang90 i can work on it ,will submit a patch soon.

[2017-08-04 23:44] xiang90 commented on #8365
@jiaxuanzhou thanks!

[2017-08-05 10:12] jiaxuanzhou commented on #8365
@xiang90 i found NewSession(client *v3.Client, opts ...SessionOption) is called by elect cmd two, need to add the flag as a gloabal role  or just as a sub-flag used by lock ?

[2017-08-05 22:12] rmb938 commented on #8262
I would also like to have this ability. Being able to use the same CA for client and peer certs while requiring peer certificates to match exactly or using regex would make deployment and management easier.

[2017-08-07 06:15] mangoslicer commented on #8188
@heyitsanthony I put up a PR, can you take a look?

[2017-08-07 16:09] gyuho opened #8372 "TestLeasingReconnectNonOwnerGet fails"
[code]

https://jenkins-etcd-public.prod.coreos.systems/job/etcd-ci-ppc64/1820/consoleFull

[2017-08-07 16:21] #8348 closed

[2017-08-07 16:48] aaronjwood commented on #1548
Are there any future plans to support `[]byte` for values like some other KV stores do? We have run into a few significant issues in our application due to the fact that everything needs to be a `string`.

What we are doing now is encoding structs via `gob`,  `base64`ing that binary data, and then sending the encoded string to etcd. When we need to retrieve things we do the reverse. This works oka

[2017-08-07 16:56] heyitsanthony commented on #1548
@aaronjwood I don't understand why `[]byte` wouldn't have the same problems as `string` here. It's the same data, but string gives immutability. Why encode as base64 when `string([]byte{1,2,3,4}))`  will be accepted by etcd?

[2017-08-07 17:57] gyuho commented on #8328
@ElijahCaine No idea, until there's an easy way to reproduce in our side.
Do you have to use v2 commands?

[2017-08-07 18:43] aaronjwood commented on #1548
For people using protobufs they can just take the output of `Unmarshal` and store that directly. For regular structs, we were using the `gob` encoder to be more efficient since it's supposed to have a more compact binary format. If we use something like `binary.Write()` then we will have a much larger data amplification issue.

Relating to the base64 stuff, I thought that you cannot fully represen

[2017-08-07 18:49] heyitsanthony commented on #1548
@aaronjwood `string(b) == string([]byte(string(b)))` for all `b []byte` in go afaik. It's more of a problem for protobuf definitions-- `string` won't handle raw binary like `bytes`, but etcd's messages use `bytes` in this case.

[2017-08-08 03:35] jimmycuadra commented on #2760
This is still a problem for the v2 API and bit us on the rust client recently: https://github.com/jimmycuadra/rust-etcd/pull/18

[2017-08-08 03:50] ElijahCaine commented on #8328
i don't need to use v2 commands. This was just an interesting issue and I figured I'd bring it up. If you want to close the issue we can as it is not reproducible.

[2017-08-08 06:20] Steven086 opened #8376 "etcdv3 API can not support CompareAndSwip?"
can  not  find how to call CAS from a v3 client as per api document

[2017-08-08 07:39] YitongFeng commented on #8169
My --data-dir=/var/etcd/data, remove and recreate it, that works for me. It seems that something of previous etcd cluster I made left in this directory, which may affect the etcd settings.

[2017-08-08 07:40] beyondli opened #8377 "health check for peer could not connect: dial tcp error"
when I create 3 node cluster, and with static bootstrapping to start cluster. but I found each node are depend with others two. the error is :

since all three node will start and depend with others , configure likes for all nodes :
--initial-cluster k8server=https://10.6.128.100:2380,k8node1=https://10.6.128.101:2380,k8node2=https://10.6.128.102:2380 \\
--initial-cluster-state new \\

I start any

[2017-08-08 08:56] beyondli commented on #8377
seems firewell is not closed!! more test!!

[2017-08-08 12:49] gyuho commented on #8328
@ElijahCaine Let's revisit when we have an easy way to reproduce. Thanks.

[2017-08-08 12:49] #8328 closed

[2017-08-08 13:12] gyuho commented on #8377
What do you mean? Do you set up firewall? Then it's not an etcd issue.

[2017-08-08 16:05] yudai commented on #8376
@Steven086 There is no CAS function in the v3 library, but [you can use `Tnx`(https://godoc.org/github.com/coreos/etcd/clientv3#Txn) instead]. It's more flexible than the simple CAS operation.

[2017-08-08 18:27] heyitsanthony commented on #6065
Fixed by #8341

[2017-08-08 18:27] #6065 closed

[2017-08-08 19:07] #8372 closed

[2017-08-08 19:19] #8377 closed

[2017-08-09 00:07] heyitsanthony opened #8379 "advertise client urls accepts empty hosts"
A command line misconfiguration from irc:
[code]

etcd should probably detect empty advertise hostnames and exit with an error.

/cc @kbrwn

[2017-08-09 00:18] heyitsanthony opened #8380 "exit with error on shadowed environment variables"
Configure etcd to have both an environment variable and flag for some option:
[code]

etcd will warn that ETCD_WHATEVER is shadowed and use --whatever.  Given a lot of documentation out there suggests using environment variables in drop-ins, I suspect this permissiveness leads to some degree of breakage. Is this worth deprecating away?

[2017-08-09 02:12] beyondli commented on #8377
yes, just because centos default firewell state is running which prohibit tcp connection among peers. when I close firewell. etcd run OK. right, not ETCD itself.

[2017-08-09 03:50] heyitsanthony commented on #7383
Reopening since the txn API can do this as of #8025 and people still ask for this STM extension.

[2017-08-09 06:46] zhuwenjie11 opened #8381 "machine power off , etcd is not working"
# etcd not working

 etcd running in docker , images version : gcr.io/google_containers/etcd-amd64:3.0.17

**Problem:**

**machine power off, restart etcd , etcd is not working**

**The logs are as follows**

[code]

**When I delete /var/lib/etcd ,and then restart etcd container，etcd is working , but The configuration data is missing**

**# Is there a way to fix the data?**

[report_bugs]: https:/

[2017-08-09 07:11] heyitsanthony commented on #8381
@zhuwenjie11 what are the flags being used to start etcd in docker? are there steps to easily reproduce this?

[2017-08-09 07:21] zhuwenjie11 commented on #8381
@heyitsanthony   i use kubeadm 1.7.0 install kubernetes ， etcd installed at the same time 。
etcd.yaml :
[code]

[2017-08-09 13:00] hexfusion commented on #6643
@heyitsanthony any idea when this might be released? Thanks,

[2017-08-09 13:09] hexfusion commented on #8237
@yudai yeah this is a good example where the grpc-gateway might not be a viable, complete solution.

[2017-08-09 14:41] heyitsanthony commented on #6643
@hexfusion 3.3, the minimum for the rc is still a few weeks away

[2017-08-09 15:33] gyuho commented on #8376
@Steven086 Please try `Txn` as @yudai suggested.

[2017-08-09 15:33] #8376 closed

[2017-08-09 15:35] gyuho commented on #8381
Did you start etcd before? etcd is loading from previous data directory. What was the version of previous etcd run? We need a way to reproduce.

[2017-08-09 16:54] zhuwenjie11 commented on #8381
I ran only one ETCD service at a single node, version is 3.0.17 . Since the machine has been powered off, etcd service is down has restored the power, the machine has started normally, but when I started the ETCD service, I got the problem .
I upload an attachment to the data directory.

Can you fix these data files? thank you

朱文杰

软件工程师

杭州东方通信软件技术有限公司/广东研发部

13751856530

杭州市文三路398号东方通信大厦9楼

---

[2017-08-09 17:13] yudai commented on #8237
I'll update the PR when I have time, hopefully next week.

[2017-08-09 17:50] immesys opened #8382 "clientv3: lease expires when cluster reorganized"
This is a little hard for me to work out, so bear with me. I have an etd-operator cluster across three machines in a k8s cluster. Whenever one of the machines has a problem, and etcd-operator does its thing of adding a new member, removing old etc, the lease in my software that I called KeepAlive() on with a 5 second TTL expires. I would expect that as I had not lost quorum, I would see "normal" b

[2017-08-09 18:43] jsoriano opened #8383 "etcd v3.2 fails to start with multiple peer urls"
# Bug/question

Before etcd v3.2 multiple peer urls could be configured (e.g. `ETCD_LISTEN_PEER_URLS=http://$private_ipv4:2380,http://$private_ipv4:7001`).
But starting on 3.2.0 if a cluster is started or upgraded to this version with multiple peer urls it is continuously starting elections and it never reaches the healthy state (see https://github.com/coreos/bugs/issues/2095), what is confusing.

[2017-08-09 18:49] gyuho commented on #8383
Can you provide full logs? Not just leader election parts.

[2017-08-10 01:25] jiaxuanzhou commented on #8365
@heyitsanthony
related PR #8370 has been merged , the issue could be closed.

[2017-08-10 01:26] heyitsanthony commented on #8365
ok, thanks!

[2017-08-10 01:26] #8365 closed

[2017-08-10 02:29] heyitsanthony commented on #8383
confirmed via procfile:
[code]

[2017-08-10 04:35] heyitsanthony commented on #8382
There's some kind of outage around 7:11:

[code]

[code]

How are the clients connecting to the etcd cluster? What could be happening is the client is trying to send keepalives to a flakey member (e.g., etcd-0006, etcd-0007) and doesn't realize the member is dead / switch to an active endpoint. Since the client doesn't get a response within the TTL, it assumes the lease is expired.

[2017-08-10 05:57] euank commented on #2760
@xiang90 Since etcd3 serves the v2 api (presumably meaning it's supported) and there are still significant users of it, shouldn't this issue remain open?

[2017-08-10 07:14] Abhijith1 opened #8386 "Run etcd benchmark tool"
I'm trying to run the benchmark tool of etcd. It's not obvious for me in the [doc](https://github.com/coreos/etcd/blob/master/Documentation/op-guide/performance.md)
Can someone help me with the command?
Thanks in advance!

[2017-08-10 11:56] mwf opened #8387 "etcd3 - slow watchers and watcher count blow up"
etcd server version 3.1.5

Hi guys!
We hit strange issue yesterday, please take a look at this screenshots from Grafana:
![1](https://user-images.githubusercontent.com/3125891/29168740-e69b3644-7dd8-11e7-955e-eb33311a37fd.png)
![2](https://user-images.githubusercontent.com/3125891/29168742-e7fa55e2-7dd8-11e7-85e8-2b0e58eeed38.png)

Sorry, I had to clean-up host names, otherwise our security team c

[2017-08-10 12:13] mwf opened #8388 "etcd_debugging_mvcc_keys_total inconsistency"
This issue is connected with #8387

After the cluster stabilized we have inconsistency in "etcd_debugging_mvcc_keys_total" metric between hosts:

![4](https://user-images.githubusercontent.com/3125891/29169776-6b55fcd4-7dde-11e7-93fa-9366867be99c.png)

[code]
One host reports it has 15007 keys.

Though range request `ETCDCTL_API=3 etcdctl --endpoints="http://<host3>:2379" get --prefix --keys-only

[2017-08-10 12:16] mwf commented on #8388
Maybe it's somehow connected with my old issue #8146, which is fixed now.

[2017-08-10 14:09] gyuho commented on #8386
What benchmark are you trying to run?

Also see this:

[code]

[2017-08-10 14:47] heyitsanthony commented on #8388
@mwf can this be reproduced with master?

[2017-08-10 14:50] mwf commented on #8388
Actually, I did not find a way to reproduce it, the issue is too strange to be true, but it's a fact :)

I'll try, if I manage to reproduce I will let you know. But if you could take a look at code producing this metric value and maybe find a bug - that would be great.

[2017-08-10 14:55] heyitsanthony commented on #8387
* watcher_total - total number of watches (equal to number of watches open via clientv3.Watch())
* watch_stream_total - total number of watch streams (should be less than or equal to watcher_total)
* slow_watcher_total - total watches with pending events

Is there a custom application using etcd? It could be leaking watches. Client side metrics may help with debugging; see https://godoc.org/github

[2017-08-10 15:54] mwf commented on #8387
I think I got it, thanks!
So if a client watches for a single prefix (or key) it will create 1 watcher and 1 watch stream. And if it starts another watch - it creates +1 watcher, but stream remains the same?
Or every instance of clientv3.Watcher creates a new stream? So if app does 2 `clientv3.NewWatcher()` calls - there will be 2 streams from one app?
So simply, `watch_stream_total` - is total nu

[2017-08-10 16:13] heyitsanthony commented on #8387
The client keys streams by the ctx string serialization in 3.1; same ctx, same stream. It will only use grpc metadata from the ctx in 3.3. Separate Watcher objects will create separate streams.

No. watch_stream_total is approximately the total number of watch grpc streams on the server. watcher_total is the sum of all watches across all watch grpc streams.

It's related to whether the watch has p

[2017-08-10 16:26] gyuho commented on #8386
You can just copy those commands in https://github.com/coreos/etcd/blob/master/Documentation/op-guide/performance.md.

[2017-08-10 16:26] #8386 closed

[2017-08-10 17:12] mwf commented on #8387
Thanks for metrics explanation 👍

It seems they were really released on compaction in our case - we compact every 24 hours, and it's done somewhen in the night.

So OK, let's clarify. The server resources are released:
- on compaction;
- on close event from client (either when you cancel the context or call Close() method);

No other options? Why aren't they released when server responds with some

[2017-08-10 17:15] heyitsanthony commented on #8387
I meant on a compaction error. If the clientv3 watch channel closes then the resources should be freed automatically by the clientv3.

[2017-08-10 18:09] immesys commented on #8382
The clients connect via the kubernetes service for etcd. So that arbitrarily resolve to one of the etcd members. Does the go clientv3 automatically query for the other endpoints and use those? If not, perhaps that is the problem. I used to specify all the endpoints but now that etcd-operator renames pods when it changes members, that is harder to do. If I specify etcd-0001..3 for example, when one

[2017-08-10 18:34] mwf commented on #8387
OK, I'll check this case and tell you the results.
Maybe you've already fixed it, 3.1.5 is almost 5 months old.

[2017-08-10 19:57] #8388 closed

[2017-08-11 03:46] shenlanse opened #8393 "[RAFT] Directly decrease pr.next when receive rejection from follower"
### ASK FOR HELP

### My Confusion
when leader receives rejection from follower, leader should  decrease corresponding progress.next.

I think when in ProgressStateReplicate, we should set pr.Next = pr.last + 1.  I don't know the reason why we set pr.Next = pr.Match + 1 instead.

Message.RejectHint indicates largest index the follower has. So RejectHint+1 is exactly what follower expects.

[https:

[2017-08-11 07:22] opsnull commented on #7336
I had the same issue, due to an wrong IP SAN.

This error message is misunderstanding.

[2017-08-11 10:22] tarvitz commented on #7961
Got this bug with running etcd on alpine:edge testing repository, Don't know if was fixed in 3.2.1 version or not, but here's the way how to reproduce it:

etcd --version
[code]

Dockerfile.alpine (nfox/etcd:alpine docker image):
[code]

Docker container run script:
[code]

[2017-08-11 17:00] heyitsanthony commented on #7961
@tarvitz this is fixed in 3.2.2

[2017-08-11 20:50] drewlandis opened #8395 "Question: Is there a preferred mock library to test clientv3 code?"
# Question

I'm just barely starting with the etcd and am totally new to clientv3, so I apologize if this question has already been answered. Are there any existing/recommended libraries that I can use to mock clientv3 for testing? After lots of google'ing and searching through issues, goDocs, etc. I couldn't find anything.

If there is not a recommended library, could anyone give me a hint about

[2017-08-11 20:51] gyuho commented on #8395
You can check out our integration tests https://github.com/coreos/etcd/blob/master/clientv3/integration/kv_test.go#L35

[2017-08-11 21:00] drewlandis commented on #8395
Such a fast answer! Checking it now, thanks!

[2017-08-11 21:00] #8395 closed

[2017-08-11 21:06] drewlandis commented on #8395
I actually had seen the `integration` directory prior to asking the question, but wasn't quite sure of how it worked. I should def be able to figure it by looking at the above example.

I might recommend adding a `README` to the integration directory and/or a note on the Go Doc. It was somewhat confusing looking in both those locations and just seeing them blank. Thanks again!

[2017-08-12 00:21] neverchanje opened #8396 "raft: constraint for proposing conf change"
Hi,

I'm porting etcd/raft to cpp11 and I noticed the following issue.

In https://github.com/coreos/etcd/blob/master/raft/raft.go#L844-L852.

I'm wondering why stepLeader and stepFollower does not just return an error or ignore the message, when MsgProp is carrying more than one entries. It makes the states more complicated.

Both of RawNode and Node propose exactly one entry for a time. I didn't

[2017-08-13 13:33] akupila opened #8397 "How to disable logging in embedded ETCD?"
I want to use the embedded ETCD for integration tests. The tests become quite noisy with the output and I'd like to disable this.

I noticed a `LogPkgLevels` key in `embed.Config` but I'm not sure what i need to enter here for it to have some effect. Looking through I see [capnslog] is used. My best guess so far looks something like this but has no effect ([source]):

[code]

Output:
[code]

Expec

[2017-08-14 03:22] zhuqunzhou opened #8398 "Can't use http api to get data from a authorized cluster"
etcd:3.2.0

1.I create a token
![createtoken](https://user-images.githubusercontent.com/10348876/29257204-a5d927bc-80e2-11e7-8142-545817fcb3fd.png)
2.Get data error. response `user name is empty`
![getdata](https://user-images.githubusercontent.com/10348876/29257213-c8d2847a-80e2-11e7-81e7-883ffc468472.png)

[2017-08-14 03:53] mitake commented on #8398
@zhuqunzhou this issue will be resolved after finishing this PR: https://github.com/coreos/etcd/pull/8289 . Please wait for a while.

[2017-08-14 03:56] zhuqunzhou commented on #8398
@mitake ,I can use V2 rest api to get data from a authorized v3 cluster now?

[2017-08-14 11:47] lyddragon opened #8399 ""error":"etcdserver: user name is empty","code":3"
env:
[root@node2 etcd]# uname -a
Linux node2.kafka.soho.pdtv.it 3.10.0-514.2.2.el7.x86_64 #1 SMP Tue Dec 6 23:06:41 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
[root@node2 etcd]# cat /etc/redhat-release
CentOS Linux release 7.2.1511 (Core)
[root@node2 etcd]# curl -L http://192.168.1.81:2379/version
{"etcdserver":"3.2.5","etcdcluster":"3.2.0"}

[root@node2 etcd]# curl -s -L "http://192.168.1.81:2379/v3

[2017-08-14 13:31] mitake commented on #8399
@lyddragon could you try the latest master branch? The problem is already solved in the master.

[2017-08-14 16:26] heyitsanthony commented on #8398
@zhuqunzhou I believe this was fixed by #7999

[2017-08-14 20:37] gyuho commented on #7122
Never seen it since, and etcd went through several major gRPC upgrades.
Will reopen when it happens again.

[2017-08-14 20:37] #7122 closed

[2017-08-14 21:31] gyuho commented on #8397
It will only set log level in `embed` package. Try specifying all the packages you need silence, or try `capnslog.SetGlobalLogLevel(capnslog.CRITICAL)`?

[2017-08-14 23:18] heyitsanthony opened #8400 "protection against upgrading multiple minor revisions"
Additional default --strict checking that avoids writing anything / upgrading if the data store / the cluster is too old. For example, this would catch an attempt to upgrade from 3.50.234 to 3.52.78.

[2017-08-15 00:00] gyuho commented on #8380
@heyitsanthony

Let's fatal for 3.4? /cc @xiang90

[2017-08-15 03:25] zhuqunzhou opened #8401 "Watch api hangs sometimes."
Version:3.2.0

Sometimes,the `watch` api works well.Like
![normal](https://user-images.githubusercontent.com/10348876/29301063-33a94c1a-81ac-11e7-9f7b-07f961ad68fb.png)
But,After a period of time .The api will hangs up,and will not recovery.And there is no exception.
![exception](https://user-images.githubusercontent.com/10348876/29301088-66ec0a4a-81ac-11e7-8b0f-2c6c6f97bafd.png)

[2017-08-15 05:30] akupila commented on #8397
Ah, of course. I would need to set the level for each package for this to work.

However, `capnslog.SetGlobalLogLevel(capnslog.CRITICAL)` does exactly what i need and is even easier. Thanks!

[2017-08-15 05:30] #8397 closed

[2017-08-15 10:22] hexfusion commented on #8401
@zhuqunzhou I believe this this is related to https://github.com/coreos/etcd/issues/8237  and https://github.com/grpc-ecosystem/grpc-gateway/issues/435 . I hope to start work on this soon re: grpc-gateway but can't make any promises on where it will go.

[2017-08-15 12:29] viciious opened #8402 "--enable-pprof command line flag is ignored"
Beginning with at least 3.1.3 the `enable-pprof` flag doesn't seem to do anything if a config file is passed to the server. Here's the command line log:

`./etcd --enable-pprof`

`./etcd --enable-pprof --config-file etcd.conf`

AFAIK, there's no way to enable the pprof port via a config file.

[2017-08-15 16:31] gyuho opened #8403 "client connection closing with keepalive parameters"
Can reproduce with master branch

[code]

[code]

Or

[code]

[2017-08-15 16:31] gyuho commented on #8403
This is blocking https://github.com/coreos/etcd/pull/8258

[2017-08-15 18:08] heyitsanthony commented on #8382
@immesys is there a simple way to reproduce this?

[2017-08-15 18:15] heyitsanthony commented on #8380
Marking as 4.0.0 so this can eventually fatal

[2017-08-15 18:50] #8402 closed

[2017-08-15 19:18] immesys commented on #8382
No, it's pretty hard. I think we can close this. If it comes up again I will make a reproducer and open a new issue

[2017-08-15 19:18] #8382 closed

[2017-08-15 22:43] hexfusion commented on #8237
@yudai I ran this 10000 iterations without failure did your testing cause failure? I am going to try a more robust test.

[code]

[2017-08-15 23:07] hexfusion commented on #8401
@zhuqunzhou I am trying to reproduce this, can you please provide more details. How much time approximately does it take for the "hangup" to occur? Also curious what version of etcd are you using.

[2017-08-16 01:38] zhuqunzhou commented on #8401
@hexfusion ,I found the [issue](https://github.com/coreos/etcd/pull/8238),and update the version to `2.3.5`,The problem seems solved.

I have about 10000 clients need to watch.

[2017-08-16 01:57] mitake commented on #8398
@heyitsanthony @zhuqunzhou sorry, like https://github.com/coreos/etcd/issues/8399, this issue was solved by https://github.com/coreos/etcd/pull/7999. Could you try the latest master, @zhuqunzhou ?

[2017-08-16 02:09] zhuqunzhou commented on #8398
@mitake ,Ok,thanks,I will try it in a few days.

[2017-08-16 05:48] zhaoyao opened #8406 "Consider merging 478ba2c (#8306) into release-3.2"
Sometimes we got  etcd error: `rpc error: code = Unknown desc = auth: revision in header is old`

#8306  fixes this issue in master which does not appear in release-3.2.

[2017-08-16 05:54] heyitsanthony commented on #8406
@zhaoyao is there a simple way to reproduce this? That patch shouldn't have changed any error behavior.

[2017-08-16 06:52] zhaoyao commented on #8406
Yes, i can always reproduce in my env. Below is steps.

1. starting a etcd server in terminal 1:
`$ etcd`

2. add `root` user and enable auth in terminal 2:
[code]

3. run [gist](https://gist.github.com/zhaoyao/1563a218ea0df666786435a7e821e3f6) in terminal 3

here is my output:
[code]

I have tested in both master and release-3.2 branch

master works fine
[code]

but release-3.2 will panic
[code]

[2017-08-16 06:55] zhaoyao commented on #8406
The reason why I think #8306 fixes this issue is that pr checks `internalRaftRequest` result.Err, while release-3.2 does not check this.

[2017-08-16 06:55] zhongjin616 commented on #8399
Yep! the latest master branch(commit fa32a85e695c3197617c3a3d9f61deaf26900cc1) has fixed this issue.

$ uname -a
[code]

[2017-08-16 12:33] hexfusion commented on #8237
Just FYI 80k loop test went fine going to randomize the sleep from 1 to 60 seconds for 100k then maybe add this to the documentation and add an e2e curl test. It's not pretty but could be worse, only requiring a single extra header in curl. This is not mean to take away from websocket streaming which is a great idea on it's own. But as a workaround for grpc-gateway that is already implemented.

[2017-08-16 16:55] gyuho commented on #8403
Found out it was intentional when we added some optimization for https://github.com/coreos/etcd/issues/7080. Will investigate how this is affecting keepalive parameters.

[2017-08-16 16:55] #8403 closed

[2017-08-16 17:02] #8399 closed

[2017-08-16 17:10] xiang90 commented on #8401
@zhuqunzhou Glad it works for you now. Closing the issue.

[2017-08-16 17:10] #8401 closed

[2017-08-16 17:13] xiang90 commented on #8396
@neverchanje

We can return an error. That is a super old TODO for us... But no one really cares about it on the other hand. etcd/cockroach both works fine without it. We simply handle retry at application side.

You can extend the interface to return error if you wish.

[2017-08-16 17:15] xiang90 commented on #8393
what is pr.last?

[2017-08-16 17:19] yudai commented on #8237
@hexfusion The script above did not fail on my environment as well.

[2017-08-16 23:00] heyitsanthony commented on #8406
OK, this can be backported once there's a test case for CI

[2017-08-16 23:11] jkarneges opened #8410 "docs typo"
Typo in `dl_build.md`:

[2017-08-16 23:13] heyitsanthony commented on #8410
@jkarneges open a PR?

[2017-08-17 01:04] shenlanse commented on #8393
Sorry for mistake.
`pr.Next=last  + 1`
that is to say:
`pr.Next= RejectHint + 1`

[2017-08-17 01:11] xiang90 commented on #8393
@shenlanse We probably could do that. I do not really remember the reason for decreasing it directly to match. probably it is because rejected is not even introduced at that time. you might want to figure it out by looking through git history. i will give it more thoughts too.

[2017-08-17 01:36] shenlanse commented on #8393
@xiang90  all  right, thanks

[2017-08-17 01:58] shenlanse commented on #8393
I think maybe because:
RejectHint is the last index of follower, but the corresponding term of the last entry might is not same with current leader.

If we set pr.Next=RejectHint + 1, then when leader send messages again to this follower according to progress, matchTerm might return false, so follower will reject again with same last index.

But if we set pr.Next=pr.Match +1, follower will accept

[2017-08-17 02:05] shenlanse commented on #8393
@xiang90  What i want to express is that pr.match+1~last entry of follower might is different from current leader. That is to say, pr.match+1~last entry of follower might contain garbage entrys.

[2017-08-17 03:05] ElijahCaine commented on #8328
I believe I was missing the `–enable-v2` flag 😥

[2017-08-17 03:51] abel-von opened #8411 "The rejoined node can not send out the events for watchers"
Hi, we are doing some HA test for the etcd and kubernetes, and one of  the test cases is to cut the network between one node of the etcd cluster and the leader.  as we know that etcd can still work even some of the nodes is broken.  But when we remain this for a long time (maybe one or two hours) and recover it, We have found that the kube-apiserver can not refresh its cache to the newest value in

[2017-08-17 04:09] abel-von commented on #8411
the version is 3.1.9

[2017-08-17 04:16] xiang90 commented on #8411
@abel-von can you write a simple script/program to reproduce this problem?

[2017-08-17 05:17] abel-von commented on #8411
@xiang90  I have changed the code of `watchable_store.go`, and the issue has been fixed in my environment. the change is adding a function `Restore` to type `watchableStore`. like this:

[code]

just sync the watchers after restore.

but the master branch is 3.2.X and the mvcc code has been changed a lot, I will see if the issue still exist in the master branch, if exist, I will submit a PR then.

[2017-08-17 07:07] heyitsanthony commented on #8411
OK, so the repro is watch on some member, partition it, write values into the watched key on another member until triggering a snapshot, unpartition member, wait forever on the watch? I wouldn't be surprised if this breaks in 3.2 too; the restore+watch path isn't very well tested.

[2017-08-17 15:03] stamm opened #8413 "zero DialTimeout"
I have a question about behaviour of DialTimeout.
I don't have a running etcd on port 5000.

If I don't pass DialTimeout or pass zero to this option, it's don't try to connect to etcd. And error will be nil.
[code]

But if I setup DialTimeout, it will return an error
[code]

Is it documented behaviour or it may be changed in future?

[2017-08-17 16:06] heyitsanthony commented on #8413
@stamm this is unlikely to change in the future. A 0 timeout won't wait to establish a connection, which is similar to dialing an ordinary grpc connection.

[2017-08-17 18:18] gyuho commented on #8410
@jkarneges Which line are we talking about and what branch? Can't find `... a file. than For ...`.

[2017-08-17 18:34] jkarneges commented on #8410
https://github.com/coreos/etcd/blob/v3.2.5/Documentation/dl_build.md
Currently live here: https://coreos.com/etcd/docs/latest/dl_build.html

Looks like this was fixed in master. Sorry for the noise!

[2017-08-17 18:34] #8410 closed

[2017-08-17 18:44] gyuho commented on #8410
Just fixed https://github.com/coreos/etcd/blob/release-3.2/Documentation/dl_build.md.

Thanks for point it out!

[2017-08-17 20:05] heyitsanthony opened #8416 "use embed in integration package"
The integration package handles a lot of connection/listener management that's generally done in embed. Using embed in the integration package could lead to less code duplication and less divergence from how the etcd binary works.

[2017-08-17 20:29] heyitsanthony opened #8417 "TestTLSClusterOf3: appears to have leaked a Transport"
via https://jenkins-etcd-public.prod.coreos.systems/job/etcd-proxy/2426/

Probably related to the TLS test slowness that's been happening lately.

[code]

[2017-08-17 20:29] #8383 closed

[2017-08-18 01:21] jiaxuanzhou opened #8418 "etcdserver: debug logs for v3"
In production environment, when we want to debug requests from the clients, I found there is no debug logs when add flag --debug, but same flag with v2, it can print the detail info of the put and get requests of the keys.
So, i wonder if it is a feature to eclispe debug  logs for v3？ if not , should we add some debug logs  in v3_server and etcdserver.pb for debugging key events in real time when

[2017-08-18 10:54] stamm commented on #8413
Thanks for answer!

[2017-08-18 10:54] #8413 closed

[2017-08-18 19:26] heyitsanthony commented on #8418
@jiaxuanzhou have you tried `http://etcd:2379/debug/requests/` and `http://etcd:2379/debug/events`?

[2017-08-19 17:58] #8418 closed

[2017-08-21 03:54] jiaxuanzhou commented on #8418
@heyitsanthony thanks a lot

[2017-08-21 08:44] neverchanje commented on #8396
OK, I understand.
Thanks!

[2017-08-21 08:44] #8396 closed

[2017-08-21 17:38] #8411 closed

[2017-08-21 20:08] heyitsanthony opened #8431 "grpcproxy: configurable services"
Proxy services may turn out to be lacking features, non-conforming to etcd server guarantees (e.g., KV caching), or buggy in some subtle way. It'd be nice to configure/disable known problematic services by command line and use pass-through. Right now a broken service means abandoning the grpc proxy altogether.

[2017-08-21 21:31] drewlandis opened #8432 "Question: Is there a way to make clientv3 tests less chatty?"
# Question
Every time I call `integration.NewClusterV3` when testing, I get a ton of output (see below). Is there any way to hide/reduce the output?

Thanks!

[code]

[2017-08-21 21:33] heyitsanthony commented on #8432
@drewlandis try something like https://github.com/coreos/etcd/blob/master/integration/logger_test.go#L22?

[2017-08-21 21:43] drewlandis commented on #8432
🎉  Thanks!

[2017-08-21 21:43] #8432 closed

[2017-08-21 22:11] heyitsanthony opened #8433 "leasing: shared read access"
The current leasing protocol has one owner per key. Even if there are many clients reading a leased key, only one leasing proxy will be able to serve the key out of cache. The protocol can be extended to support shared leasing across multiple leasing caches by having multiple TTL'd leasing keys per key:

[code]

To write to `somekey`, the leasing layer's txn would check `lease-pfx/somekey/*` has n

[2017-08-22 13:27] darktall opened #8434 "etcd-member 3 node cluster setup"
I am trying to configure etcd 3 node cluster in coreos . Below is my configuration file

# /usr/lib/systemd/system/etcd-member.service
[Unit]
Description=etcd (System Application Container)
Documentation=https://github.com/coreos/etcd
Wants=network.target
Conflicts=etcd.service
Conflicts=etcd2.service

[Service]
Type=notify
Restart=on-failure
RestartSec=10s
TimeoutStartSec=0
LimitNOFILE=40000

Env

[2017-08-22 14:37] gyuho commented on #8434
Have you tried https://github.com/coreos/etcd/blob/master/Documentation/platforms/container-linux-systemd.md?

[2017-08-22 15:57] davissp14 commented on #8399
Hey guys, is this going to be rolled into 3.2.7?

[2017-08-22 16:01] darktall commented on #8434
I used the same link you provided .i used container life nix configuration but I have not configured tls certificates.

[2017-08-22 16:02] darktall commented on #8434
Used container linux configuration.

[2017-08-22 17:05] gyuho commented on #8434
Try `etcdctl endpoint --cluster health`?

[2017-08-22 18:00] #7125 closed

[2017-08-22 22:17] gyuho opened #8438 "TestLeasingReconnectOwnerRevoke"
[code]

https://semaphoreci.com/coreos/etcd/branches/pull-request-8436/builds/3

[2017-08-22 22:37] newhook commented on #8231
I received this error today I believe -- I got an error:

`Aug 21 19:14:34 staging-shard disco_daemonize[13226]: daemonize 2017/08/21 19:14:34.847623 etcd error: etcdserver: mvcc: required revision has been compacted`

on a watch that had been active for several hours.

That was the prior compaction in the etcd logs. I would have started the watch on revision 9.

[code]

Is this then _not_ expecte

[2017-08-22 22:45] heyitsanthony commented on #8231
@newhook is there an easy way to reproduce this? I think what happened was the watch was waiting for an event with rev >= 9,  the kv store was compacted to rev=51, the watch disconnected, then reconnected into a compacted error. Using `WithProgressNotify()` might help

[2017-08-22 22:58] newhook commented on #8231
That makes sense, is that expected to occur? This is occurring in a GCE private network so I doubt there are underlying network issues.

I can reproduce pretty easily I think.

If I don't use `WithProgressNotify` what is the best way to fix this issue?

What this code is doing is:

- fetch configuration data.
- watch for changes on the data.
- if the data changes reconfigure.

So its implemented l

[2017-08-23 03:50] zyf0330 opened #8440 "etcdctl v3 has no --discovery-srv flag"
Like title. So how to use this flag in etcdctl v3?

[2017-08-23 12:18] darktall commented on #8434
exec /usr/bin/rkt run --uuid-file-save=/var/lib/coreos/etcd-member-wrapper.uuid --trust-keys-from-https --mount volume=coreos-systemd-dir,targ
017-08-23 12:13:41.922682 I | pkg/flags: recognized and used environment variable ETCD_DATA_DIR=/var/lib/etcd
017-08-23 12:13:41.922775 I | pkg/flags: recognized and used environment variable ETCD_NAME=e4051993f61a4271b96b24f9e5a157f7
017-08-23 12:13:41.922

[2017-08-23 12:19] darktall commented on #8434
ETCDCTL_API=3 etcdctl cluster-health
member 8e9e05c52164694d is healthy: got healthy result from http://localhost:2379
cluster is healthy

[2017-08-23 13:19] sebastianwoinar commented on #8009
Has this been released already?
Even 3.2.6 seems to still  rely on the old backend (https://github.com/coreos/etcd/blob/v3.2.6/glide.yaml#L5).

[2017-08-23 15:05] gyuho commented on #8434
@darktall Above log just shows a single node cluster, so everything is expected.
What was your command to start your 3-node cluster? You need

[code]

Or

[code]

[2017-08-23 16:00] darktall commented on #8434
Systemctl enable etcd-member.service

Systemctl start etcd-member.service

Is how I did

Thank you.

[2017-08-23 16:06] gyuho commented on #8434
When you run `etcdctl cluster-health`, add `--cluster` flag.

So try `etcdctl cluster-health --cluster`?

[2017-08-23 16:42] heyitsanthony opened #8441 "vendoring clientv3 with glide vendors packages twice"
Given:
[code]
glide double vendors packages into github.com/coreos/etcd/cmd/vendor. This contributes to 56kloc out of 140kloc of dependencies.

[2017-08-23 16:43] heyitsanthony commented on #8009
@sebastianwoinar it will be in 3.3.

[2017-08-23 17:17] heyitsanthony commented on #8231
This is how it's usually done. It also covers the case where the client is partitioned and there is a compaction, which isn't helped by WithProgressNotify.

[2017-08-23 17:59] darktall commented on #8434
ETCDCTL_API=3 etcdctl cluster-health
member 8e9e05c52164694d is healthy: got healthy result from http://localhost:2379
cluster is healthy

I got above out put.

[2017-08-23 18:04] gyuho commented on #8434
Again, try `etcdctl cluster-health --cluster`?

[2017-08-23 18:23] darktall commented on #8434
systemctl cat etcd-member
# /usr/lib/systemd/system/etcd-member.service
[Unit]
Description=etcd (System Application Container)
Documentation=https://github.com/coreos/etcd
Wants=network.target
Conflicts=etcd.service
Conflicts=etcd2.service

[Service]
Type=notify
Restart=on-failure
RestartSec=10s
TimeoutStartSec=0
LimitNOFILE=40000

Environment="ETCD_IMAGE_TAG=v3.1.8"
Environment="ETCD_NAME=%m"
Env

[2017-08-23 18:24] darktall commented on #8434
zhdev1-qa2master ~ # netstat -tlpn
Active Internet connections (only servers)
Proto Recv-Q Send-Q Local Address           Foreign Address         State       PID/Program name
tcp        0      0 127.0.0.1:10249         0.0.0.0:*               LISTEN      878/kube-proxy
tcp        0      0 10.98.8.205:2379        0.0.0.0:*               LISTEN      1073/etcd
tcp        0      0 10.98.8.205:2380

[2017-08-23 18:29] darktall commented on #8434
my  cat 20-cl-etcd-member.conf look like below
[Service]
Environment="ETCD_IMAGE_TAG=v3.1.8"
Environment="ETCD_DATA_DIR=/var/lib/etcd"
Environment="ETCD_OPTS=--name s1 \
  --listen-client-urls http://10.98.8.205:2379 \
  --advertise-client-urls http://10.98.8.205:2379 \
  --listen-peer-urls http://10.98.8.205:2380 \
  --initial-advertise-peer-urls http://10.98.8.205:2380 \
  --initial-cluster s1=h

[2017-08-23 18:32] gyuho commented on #8434
@darktall Sorry, `--cluster` flag has not been release yet.
And also let's ignore `--auto-compaction-retention 1` for now (just remove it).

After you copy your `20-cl-etcd-member.conf` to `/etc/systemd/system/etcd-member.service.d/20-cl-etcd-member.conf`, did you run

[code]

[2017-08-23 18:34] gyuho commented on #8434
Also try `etcdctl --endpoints=YOUR_ENDPOINTS cluster-health` with `--endpoints`?

[2017-08-23 18:54] darktall commented on #8434
I just dropped you mail  ( gyuhox@gmail.com ). please check once.

[2017-08-23 19:12] darktall commented on #8434
ENDPOINTS=10.98.8.205:2379,10.98.8.206:2379,10.98.8.207:2379
ETCDCTL_API=3 etcdctl --endpoints=$ENDPOINTS cluster-health
member 8e9e05c52164694d is healthy: got healthy result from http://10.98.8.205:2379
cluster is healthy

[2017-08-23 19:35] darktall commented on #8434
Thank you very much gyuho

etcdctl --endpoints=$ENDPOINTS member list
36a9a5c1b5f51721: name=s2 peerURLs=http://10.98.8.206:2380 clientURLs=http://10.98.8.206:2379 isLeader=true
bf084ef134b8f29b: name=s3 peerURLs=http://10.98.8.207:2380 clientURLs=http://10.98.8.207:2379 isLeader=false
c2229566a5ab0f28: name=s1 peerURLs=http://10.98.8.205:2380 clientURLs=http://10.98.8.205:2379 isLeader=false

Its

[2017-08-23 19:37] darktall commented on #8434
Thank you for your support.

[2017-08-23 19:37] #8434 closed

[2017-08-23 21:32] heyitsanthony commented on #8440
SRV resolution is not yet supported in etcdctl3.

[2017-08-23 22:39] gyuho opened #8443 "TestLeasingPutGetDeleteConcurrent"
Was running `clientv3/integration` manually in my linux VM:

[code]

[2017-08-24 03:09] shenlanse opened #8444 "Revise 'Data model' doc"
[data mode](https://github.com/coreos/etcd/blob/master/Documentation/learning/data_model.md)

1.  " Each modification of a key creates a new generation of the key and increases its version."

It's not precise. Modify will not create a new generation, it only updates its version and appends new revision to current generation.

2.  " Each revision of the store’s state only contains the delta from it

[2017-08-24 03:09] shenlanse commented on #8444
kind/documentation

[2017-08-24 03:24] heyitsanthony commented on #8444
OK

It's a delta with respect to the view from the revision. Given ("a", "123", rev=1), ("b", "456", rev=2), the key "a" is still visible from revision 2.

The key is always 3-tuple, otherwise there's no way to recover whether the operation was a put or a delete. The storage for the type byte can be elided if it's a put, but it's still a 3-tuple using the default type.

Please submit a PR with the