[2018-04-20 16:32] mrueg commented on #9581
Thanks for your fast reply @hexfusion
My use case here is to pin the connected etcd servers, api version and used cert/key paths. This is possible via environment variables, but sometimes those are not available and I'd like to use my custom "sane defaults" as a fallback. Otherwise this would require me to attach them to any etcdctl call or write a wrapper around etcdctl (that does the former).

[2018-04-20 16:59] fanminshi commented on #9581
Maybe viper https://github.com/spf13/viper can help.

[2018-04-20 17:29] jolson490 opened #9596 "etcd_http_failed_total: how find each error"
Hello. **Can someone please help me figure out how to determine the cause/source of each failure/error for the `etcd_http_failed_total` metric?**
(I know this probably isn't a bug in etcd - please let me know if there's somewhere else I should redirect this.)

In AWS I'm running a Kubernetes cluster (for masters & agents) and an etcd cluser. I'm running [kube-prometheus](https://github.com/coreos/

[2018-04-20 20:39] gyuho opened #9600 "etcd v3.4 makes ETCDCTL_API=3 by default"
v3.0.0 was out 2 years ago https://github.com/coreos/etcd/releases/tag/v3.0.0. v2 is officially deprecated in Container Linux https://coreos.com/blog/toward-etcd-v3-in-container-linux.html. **While we still do keep all v2 features** plus v2 API wrapper with v3 storage backend, default API should now be v3.

Before (<= v3.3)

[code]

[code]

After (>= v3.4), we want to set `"ETCDCTL_API=3"`  by def

[2018-04-20 21:42] gyuho commented on #7607
We will document how to monitor this in https://github.com/coreos/etcd/issues/9438.

Let's move this discussion to https://github.com/coreos/etcd/issues/9438.

[2018-04-20 21:42] #7607 closed

[2018-04-21 18:27] hexfusion commented on #9594
@CMajeri could you please post your startup flags and logs of these timeouts so that we can have a better view of what is going on for reference? Are you using SRV discovery?

[2018-04-21 19:01] hexfusion commented on #9596
One idea is to use something like wireshark or tcpdump to monitor the traffic and get a better idea of the source payload etc.  Being that you have http traffic wireshark would give you a very good idea of what is going on. I hope that helps.

[2018-04-23 02:22] yym524 opened #9602 "etcdctl version"
https://github.com/coreos/etcd/blob/master/Documentation/dev-guide/interacting_v3.md

The command to find the etcdctl's versions
$ etcdctl --version
etcdctl version: 3.1.3
API version: 2

[2018-04-23 02:29] #9602 closed

[2018-04-23 02:54] shenlanse opened #9603 "[kubernetes-deploy] etcd pod restartPolicy"
https://github.com/coreos/etcd/blob/master/hack/kubernetes-deploy/etcd.yml

I have a question, why  set pod.Spec.RestartPolicy=Never instead of Always. If we set Always restartPolicy, is there any potential data broken risk?

[2018-04-23 02:56] shenlanse commented on #9603
@hexfusion @gyuho

[2018-04-23 08:50] shenlanse commented on #9603
In our production environment, we deploy etcd cluster with kubelet and static pod. So when static pod exits  exceptionally， kubelet will start it automatically.

[2018-04-23 09:06] wojtek-t commented on #9563
OK - so what you're saying is that this is "by-design" and there are no plans to change that behavior, right?

[2018-04-23 12:25] hyfrey opened #9604 "occasionally lease expire but other etcd rpc is ok"
We are using etcd lease to track process liveness. There are thousands of etcd clients deployed globally,  three etcd servers deployed in one data center. We encounter occasionally lease expire of some processes, we can see from logs [etcd_session_expire.log](https://github.com/coreos/etcd/files/1938113/etcd_session_expire.log) that etcd client keep send LeaseKeepAlive message to etcd server but d

[2018-04-23 14:13] gyuho commented on #9563
@wojtek-t Yes, it is working as designed. The original change can be found here https://github.com/coreos/etcd/pull/5468, if you are interested.

I will make sure we test this scenario through our functional testing.

[2018-04-23 15:18] Pc6 commented on #9585
@hexfusion as for the test result, I have been tested the clientv3 in 32-bit system with the test cases presented in the package. The client performs well. My testing platform is **Ubuntu Server 16.04.1 LTS 32-bit**, and go version is **go1.10.1 linux/386**. Should I offer more test cases so that I can append the docs?

[2018-04-23 17:11] gyuho commented on #9585
@Pc6 If you use 64-bit for server, 32-bit client should just work. But make sure to test it. We don't say it's stable in the doc, because we don't run all integration tests for 32-bit. You might try run

And report to us if you find any bugs.

[2018-04-23 17:11] #9585 closed

[2018-04-23 17:14] #8018 closed

[2018-04-23 20:44] gyuho commented on #9603
There shouldn't be an issue as long as the data have been persisted somewhere and get reloaded on restart. Where do you persist your etcd data?

[2018-04-23 20:53] gyuho commented on #9596
I would first see if etcd v2 client request has ever failed (those metrics are from v2 request failures) -- probably logged somewhere in Kubernetes API server. And then look at etcd server logs, to see if it prints out any warnings.

If that metrics still grows, I would also collect it over time and try to find the timestamps when error spikes happen, and see if server prints out any errors or war

[2018-04-23 20:56] gyuho commented on #9604
Which line exactly shows this behavior? Can you pinpoint lines from the file?

[2018-04-24 01:45] shenlanse commented on #9603
@gyuho Thanks for your reply. We store data in local disk. If automatic restart not result in unexpected risk, then our deploy will works fine and set pod.spec.restartpolicy=always is better.

[2018-04-24 02:24] summerwind opened #9608 "Operation fails with v2 emulation when API v3 authentication is enabled"
We are trying to use the v2 emulation to use the etcd plugin of CoreDNS with v3 backend.

We found that any operation to the v2 emulation fails when v3 authentication enabled. We are testing with etcd v3.3.3. Is this the intended behavior?

[code]

[2018-04-24 02:34] summerwind opened #9609 "Creating key of v2 emulation is incompatible with v2 API"
We found the incompatibility of creating key with v2 emulation. The details are as follows:

[code]

Is this the intended behavior? If this is the intended, we will need to modify the client even if we use v2 emulation.

[2018-04-24 04:30] 13567436138 opened #9610 "Error: context deadline exceeded"
[root@node1 ~]# etcdctl member list
Error:  context deadline exceeded
[root@node1 ~]#

[2018-04-24 04:34] hyfrey commented on #9604
We use Session in etcd client concurrency package.

If there is no problem, etcd server returns LeaseKeepAlive response
[code]

According to current etcd client code, it will send LeaseKeepAlive request every 500 milliseconds if it does not receive response in 1/3 TTL time. We can see from the following log etcd client keep sending request every 500 milliseconds but does not receive LeaseKeepAlive

[2018-04-24 05:35] 13567436138 opened #9611 "etcd peer connot connect"
[code]

[2018-04-24 07:41] wenxuwan opened #9613 "When rejoin cluster, the instance used the old ID"
Hi

Apr 23 03:18:36.040923 mn-1 create-etcd-conf[810]: exec cmd sudo df /mnt/rcpha/etcd/ | grep /mnt/rcpha/etcd, stdout is , stderr is
Apr 23 03:18:36.040923 mn-1 create-etcd-conf[810]: exec cmd sudo mkdir -p /mnt/rcpha/, stdout is , stderr is
Apr 23 03:18:36.040923 mn-1 create-etcd-conf[810]: exec cmd sudo chmod 750 /mnt/rcpha/, stdout is , stderr is
Apr 23 03:18:36.040923 mn-1 create-etcd-conf[8

[2018-04-24 09:24] YeruchamB commented on #9575
Any updates?

[2018-04-24 12:40] hexfusion commented on #9575
WIll have something soon been buried at w$rk, probably tonight.

[2018-04-24 13:07] gyuho commented on #9603
@shenlanse Yeah, as long as the mounted volume or disk is still there, always restart should be correct.

Actually, could you update that example with your Kubernetes deploy? Ours is outdated.

Thanks!

[2018-04-24 13:08] gyuho commented on #9610
@13567436138 Please provide more details.

[2018-04-24 16:10] knisbet commented on #8320
@ThatsMrTalbot are you still working on this?

I'm also looking for this feature, as right now I have some settings hacked into a fork. So I can work on this if needed.

[2018-04-24 17:35] yudai commented on #9609
I guess you had a directory at `/skydns/com/example` in your v2 store already and that made `set` to `/skydns/com/example/foo` succeeded.
With the v2v3 emulation, etcd uses the v3 store for v2 requests. So if you don't have the directory in v3 store, even if you have it on your v2 store, `set` requests to the directory fails. I assume you just need to `mkdir` again with the emulation.

[2018-04-24 18:03] jxuan opened #9615 "Scale ETCD authentication for >10k V3 client hosts"
We are using ETCD for grpc service discovery for over 1000 hosts. In the future, I want to be able to scale up to 10 times more hosts using one ETCD server cluster (7 hosts). One issue concerning is the speed of the authentication process on the ETCD server module. It is using the default BCryptCost which is 10, which makes bcrypt the bottleneck to authenticate 10k hosts at the same time, especial

[2018-04-24 18:27] gyuho commented on #9613
Can you clarify with exact log?

[2018-04-24 18:29] jxuan commented on #9615
More ref.

auth/store_test.go
37:func init() { BcryptCost = bcrypt.MinCost }

clientv3/main_test.go
32:func init() { auth.BcryptCost = bcrypt.MinCost }

vendor/golang.org/x/crypto/bcrypt/bcrypt.go
 21 const (
 22         MinCost     int = 4  // the minimum allowable cost as passed in to GenerateFromPassword
 23         MaxCost     int = 31 // the maximum allowable cost as passed in to GenerateFrom

[2018-04-24 19:04] JPGrieb opened #9616 "Unable to remove node and re-add it in an AWS Scaling Group"
I'm having difficulty re-adding a node to an etcd cluster running within a 3-node AutoScalingGroup in AWS
The scenario is:
   - Terminate one of the nodes
   - ASG Recreates the node (with a new IP)
       - This node removes the original node's entry using the member API
       - Adds the new node using the member API with the following result:

                 {
                   "id": "2d868e

[2018-04-24 19:05] worp1900 commented on #7798
I seem to have stumbled upon this issue or at least a similar error output:

    docker container logs percona_etcd_1                                                                                                                                                                            411ms  Tue Apr 24 20:55:43 2018
    2018-04-24 18:54:03.741246 I | pkg/flags: recognized and used environment

[2018-04-24 20:16] ericchiang opened #9617 "peer-cert-allowed-cn flag doesn't show up in etcd help text"

[2018-04-24 20:42] #9617 closed

[2018-04-24 21:09] ericchiang opened #9619 "etcdctl: invalid remote serving certs result in "Error: context deadline exceeded""
I forgot to supply the `--cacert` etcd client flag to etcd which resulted in the following server side error of:

[code]

Client side, I just see:

[code]

This should produce a real error such as "invalid serving cert" or something.

[2018-04-24 21:37] gyuho commented on #9592
v3.1.14, v3.2.19, and v3.3.4 have been released. Following fixes for release script are being worked on by @jpbetz

Thanks.

[2018-04-24 21:37] #9592 closed

[2018-04-24 22:17] crielly commented on #9616
I'm working on a Lambda function that gets triggered by CloudWatch events (instance terminated/launched within the etcd autoscaling group) which orchestrates the removal of dead peers and the addition of new peers. It's not as simple as --initial-cluster-state=existing, sadly.
It's not done yet, but I'm writing it to deal with this exact problem.

[2018-04-24 22:25] crielly opened #9620 "Chicken/Egg issue with v3 auth API?"
etcdctl version: 3.2.9
API version: 3.2
OS: CentOS 7
systemd unit:
[code]

The ExecStartPost etcdbootstrap.py code:
[code]

journalctl -u etcd:
[code]

And as requested, `openssl x509 -noout -text` output from my client cert:
[code]

Essentially, the issue is that if I start etcd with `--client-cert-auth` enabled, I'm unable to make API requests to the v3 API (v2 is fine). Since the root user and

[2018-04-24 22:37] echlebek opened #9621 "v3client.New creates an invalid *clientv3.Client, missing healthBalancer"
`v3client.New` is intended to provide a valid `*clientv3.Client`, but it does not call `clientv3.New`, and therefore does not populate the unexported `balancer` field.

Throughout the code in `retry.go`, the `balancer` field is assumed to not be nil.

The following program reproduces the issue and panics on line 24. (kv.Put)

[code]

[2018-04-24 22:56] ericchiang commented on #9620
You can pre-configure a TLS client cert with the `CN=root` https://coreos.com/etcd/docs/latest/op-guide/authentication.html#using-tls-common-name

[2018-04-24 23:53] jxuan commented on #9615
@gyuho if you do not have time for this, I can make the change for you. But need your review and approval.

[2018-04-25 00:03] gyuho commented on #9615
@jxuan Sure, I would add a flag `etcd --bcrypt-cost "min/max/default"`. Please let me know if you need help on that. Start from making `auth.NewAuthStore` take bcrypt cost, as a parameter. /cc @mitake

[2018-04-25 00:37] jxuan commented on #9615
Sure.

[2018-04-25 01:12] summerwind commented on #9609
Hi, yudai-san :)

No, the v2 API allows us to set the key even if the directory does not exist as shown above. But v2 emulation does not do that.

When migrating from v2 API to use v2 emulation, should we change to use `mkdir` on all clients?

[2018-04-25 01:27] xiang90 commented on #9609
@summerwind

No, you should not. Probably you can help to fix the problem in etcd emulation layer instead.

[2018-04-25 01:29] yudai commented on #9609
Sorry, it's my misunderstand.  v2 doesn't require `mkdir` to make files.

The cause is here:

https://github.com/coreos/etcd/blob/master/etcdserver/api/v2v3/store.go#L147

I'll send a PR to fix this.

[2018-04-25 01:35] wenxuwan commented on #9613
What's the meaning of exact log?  I have attached the log.

Apr 23 03:18:36.040923 mn-1 create-etcd-conf[810]: exec cmd sudo df /mnt/rcpha/etcd/ | grep /mnt/rcpha/etcd, stdout is , stderr is
Apr 23 03:18:36.040923 mn-1 create-etcd-conf[810]: exec cmd sudo mkdir -p /mnt/rcpha/, stdout is , stderr is
Apr 23 03:18:36.040923 mn-1 create-etcd-conf[810]: exec cmd sudo chmod 750 /mnt/rcpha/, stdout is ,

[2018-04-25 01:59] yudai commented on #9609
I found Watch of v2v3 is also somewhat broken on the master.
I don't get events when I watch with `etcdctl watch -r -f /skydns` and put something to `/skydns/com/example/foo`, which is not compatible with the v2 api.
If you run `etcdctl watch -r -f /skydns/com/example`, you get identical events forever somehow.
I'll take a look into this issue as well maybe tomorrow.

[2018-04-25 02:31] mitake commented on #9615
@jxuan @gyuho I agree with the idea of configurable bcrypt cost. But I'm not sure just providing min/max/default is a good idea. Why not add the integer flag for the config?

[2018-04-25 02:53] mitake commented on #9590
@crielly I understood your motivation. So the user with no password shouldn't allow password based auth, right? I'll work on it when I can allocate a time (probably this week).

[2018-04-25 03:11] hexfusion commented on #9575
@YeruchamB I mocked up a working example in docker-compose. https://github.com/hexfusion/etcd-compose-examples/blob/master/discovery/dns-wildcard/docker-compose.yml

I think the most important piece of the puzzle is that you need to add the IP's to the SAN like you see here.
[code]
Give that a try in my example I used both IP or domain for --initial-advertise-peer-urls and initial-advertise-client

[2018-04-25 05:10] YeruchamB commented on #9575
@hexfusion I'm looking for a way to set my cluster up using certificates that aren't self-signed, to which I can't add the IP to the SAN field.
Based on the etcd documentation and examples I see online, etcd used to allow setting initial-advertise-urls fields as domain names and what I'm trying to do should have been possible in theory. I'd like to know why this was changed and whether there exist

[2018-04-25 07:25] mitake commented on #9590
@crielly BTW, just not enabling auth isn't suitable for your use case?

[2018-04-25 11:03] JPGrieb commented on #9616
Not sure what you mean about explicitly adding the new peer.
I mentioned in the original message that I am adding the new node via the members API with the following result:

 {
      "id": "2d868ecb0eaafc85",
      "name": "",
      "peerURLs": [
            "https://etcd-us-east-1c.tr-fr-nonprod.aws-int.thomsonreuters.com:2380"
      ],
     "clientURLs": []
   }

[2018-04-25 13:56] JPGrieb commented on #9616
Okay, good news but I still need help.
I tried using static discovery (e.g. initial-cluster) instead of DNS Srv record discovery and it is working
I really want to use DNS SRV Record discovery if its possible.
Any idea why that mechanism isn't working

[2018-04-25 14:59] gyuho commented on #9615
@jxuan @mitake Integer sounds good (within the range of min <= x <= max, ref https://godoc.org/golang.org/x/crypto/bcrypt#GenerateFromPassword).)

[2018-04-25 15:39] crielly commented on #9590
@mitake Yeah, ideally you would be able to create a user without ever supplying a password, which would effectively also disable password authentication for that user

No, no-auth is not an option. Etcd is effectively a backdoor into kubernetes without authorization.

[2018-04-25 16:44] #9603 closed

[2018-04-25 16:44] #9619 closed

[2018-04-25 17:46] jxuan commented on #9615
I like integer as well. In case the value is out of the valid range (between min and max), the default value will be used.

[2018-04-25 17:51] gyuho commented on #9615
Sounds good.

We can return an error from `auth` package, as well.

Thanks.

[2018-04-25 21:12] gyuho commented on #9613
I don't understand this? What do you mean by same local clients?

As you said, the newly joined member will need fetch cluster ID from its remote peers.

[2018-04-25 21:48] ericchiang commented on #9615
Has etcd ever considered generating random tokens for users instead of using a password? You bcrypt passwords to prevent leaking sensitive data during a database breach. If you're using a randomly generated token, that data is not longer sensitive, in the sense that if I breach the database, I can't use that username/credential combination in some other domain.

E.g. expand the user definition to:

[2018-04-25 21:53] gyuho commented on #9615
^ @mitake

[2018-04-25 22:10] aauren opened #9629 "After re-Adding a Lost Node, etcdserver reports "invalid auth token""
I was simulating loss of the etcd data directory on one of our etcd test clusters. In this cluster we have HTTPS setup and also authentication turned on. Since certs and authentication are required assume that the following environment variables are present and configured correctly for all of the below etcdctl commands (unless specifically overridden): `ETCDCTL_CERT`, `ETCDCTL_KEY`, `ETCDCTL_USER`

[2018-04-25 22:16] wenjiaswe commented on #9295
#9628 added an entry-type flag to the current etcd-dump-logs, so the user could set the flag and list interested entries types accordingly. I would consider it to be just a small part of the fix to this issue. It DOES not address the audit logging  #5019 yet. And I will keep working on WAL log analysis as well as etcd workload analysis. Do I need to create several measurable issues instead of refe

[2018-04-25 22:16] lbernail opened #9630 "Inconsistent data in an etcd cluster"
We have a 3 node etcd cluster that we used as a backend for a kubernetes cluster and on one of the nodes the data is inconsistent with the others:

*Member list*
[code]

*Status*
[code]

*Data inconsistency*
OK Node
[code]
Inconsistent Node: key is missing
[code]

*Possible cause*
We manage our cluster with terraform and we upgraded it. The upgrade involved replacing the etcd instances but we kept

[2018-04-25 22:26] jxuan commented on #9615
@ericchiang, if you breach the database, you can get other people's token and represent them. It does not matter whether the token is generated randomly or from the password.

In case for JWT tokens, there is no need to store all issued tokens in the database. Only verify the signature is supposed to be enough to verify the identity. If the database is breached but the private key is stored elsewh

[2018-04-25 22:26] wenjiaswe opened #9631 "Enable etcd-dump-logs tool to decode kubernetes data objects in WAL log"
etcd-dump-logs now is a great tool for wal log analysis. However, some kubernetes data in wal log is stored in a binary storage representation (starting kubernetes 1.6+). Output from etcd-dump-logs could not reveal kubernetes object. If we could provide an option for etcd-dump-logs to decode kubernetes object data at the same time of wal log dump, it would be very helpful for kubernetes users.

@j

[2018-04-25 22:27] wenjiaswe commented on #9631
/assign @wenjiaswe

[2018-04-25 22:33] lbernail commented on #9630
We replaced the 3 nodes at the same time. I know this is a very bad idea and if the cluster had failed to come up when the 3 new nodes had a started I think it would have make sense. But the cluster elected a leader successfully and started serving requests.

No we just shut down the three nodes and created new instances with the same data and ip addresses.

I will run the defrag command

(yes we

[2018-04-25 22:35] gyuho commented on #9295
Let's close this when https://github.com/coreos/etcd/pull/9628 gets merged, since it already adds filtering. And can you create new issues that you want to work on?

[2018-04-25 22:37] gyuho commented on #9630
I see. So, before replace happens, data sizes were consistent?

Yes, please try, and let us know if it still returns different numbers.

[2018-04-25 22:41] ericchiang commented on #9615
Sure, you could still have the returned token be a JWT with one of the claims all stored as part of the user object to do revocation.

I'm trying to argue that we should question why bcrypt is used in this process at all. Instead of making the bcrypt cost configurable, getting away from storing passwords might be a more holistic solution.

[2018-04-25 22:45] lbernail commented on #9630
I just did a defrag:
[code]

[2018-04-25 22:45] wenjiaswe commented on #9295
@gyuho sure, here it is: #9631

[2018-04-25 22:49] xiang90 commented on #9631
it seems that this should not belong to etcd repo. Or we need to provide a generic way to hook a decoder into the wal analysis tool.

[2018-04-25 22:54] gyuho commented on #9630
@lbernail As long as Raft index (the last column in `endpoint status` output) stays the same, I think this is the same issue with https://github.com/coreos/etcd/issues/7116#issuecomment-310736042 and https://github.com/coreos/etcd/issues/8009, which is resolved in v3.3 with new bolt DB.

Can you also check

[code]

for each node?

The header's revision should be same across the cluster, if they ha

[2018-04-25 23:02] #9563 closed

[2018-04-25 23:02] #9610 closed

[2018-04-25 23:02] #9611 closed

[2018-04-25 23:08] lbernail commented on #9630
Thank you

Would the database size issue explain data inconsistency between nodes?

[code]

[code]

[code]

[2018-04-25 23:57] gyuho commented on #9630
Strange. All revisions are different. Are they still receiving writes? Also seems like WAL file were not kept on migration? Raft term is only 2, which means there was only one leader election.

[2018-04-26 00:11] jxuan commented on #9615
Username+Password is the way (and probably the only way) to authenticate a user when there is no 3rd-party identity token. Once the user provides the correct username+password, the backend can issue tokens to identify the user. In future requests, token will replace username+password as user identity. So I think it is still needed at the beginning of authentication flow.

[2018-04-26 01:38] wenxuwan commented on #9613
I just mean ValidateClusterAndAssignIDs(local *RaftCluster, existing *RaftCluster) function will compare the local cluster and existing cluster.

And from the log, you can find

1.Remove member 7262c06152767c6a
2.Added member named mn-1 with ID 61981f90db63f090 to cluster
3.starting member 7262c06152767c6a in cluster 62f1ea8a6f48c9f2
4. streaming request ignored (ID mismatch got 61981f90db63f090 w

[2018-04-26 06:20] YeruchamB opened #9635 "etcd prints password to logs"
Hi,
I'm not sure what the underlying problem that caused this but while trying unsuccessfully to add members to a cluster, I noticed that my role authentication information was printed to the logs.

W | etcdserver: request "header:<ID:10856880162570804175 > authenticate:<name:\"root\" password:\"<my password>\" simple_token:\"iTlQlPRxBOgeubfQ\" > " took too long (123.009328ms) to execute

This inf

[2018-04-26 06:49] mitake commented on #9635
@YeruchamB thanks for the report. The problem must be fixed.

[2018-04-26 07:32] mitake commented on #9629
@aauren thanks for your report. The problem comes from the stateful nature of simple token. The simple tokens aren't replicated during membership change so they are invalid from the rejoined node.

Is it possible for you to try jwt token: https://github.com/coreos/etcd/blob/master/Documentation/op-guide/configuration.md#--auth-token ? JWT is stateless so the problem won't happen.

[2018-04-26 08:33] mitake commented on #9608
@summerwind thanks for your report. Currently the auth mechanism of v3 cannot care about the v2 emulation feature. Also it is hard to provide a unified auth mechanism which can cover both v2 and v3 keys because of their completely different data models.

As an adhoc fix, giving privilege of accessing to v2 key space only to root user would be possible (although it isn't easy because of the complex

[2018-04-26 08:51] itnikita commented on #9593
here is the logs from the node etcd1 in the etcd cluster,when I start k8s master kube-apiserver in every 3 node.
when I restart the k8s kube-apiserver the logs about rejected connection shows up
k8s version is 1.7.2

Apr 26 16:32:31 etcd1 etcd[14054]: lost the TCP streaming connection with peer 7196e1d26380cfc5 (stream Message reader)
Apr 26 16:32:31 etcd1 etcd[14054]: failed to dial 7196e1d26380c

[2018-04-26 09:29] itnikita commented on #9593
after I restat the kube-apiserver.I have to restart etcd1 ,better to restart all the etcd cluster to fix the error.

when I restart the kube-apiserver, the etcd logs shows at the beginning
rejected connection from "192.168.9.151:25516" (error "EOF", ServerName "")
but later much of logs as follows came up

Apr 26 16:49:32 etcd1 etcd[14054]: rejected connection from "192.168.9.151:21184" (error "tl

[2018-04-26 09:34] itnikita commented on #9593
here is the metric of the 3 nodes
curl 127.0.0.1:2379/metrics | grep etcd_disk_
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0# HELP etcd_disk_backend_commit_duration_seconds The latency distributions of commit

[2018-04-26 09:36] itnikita commented on #9593
etcd3 node metric
curl 127.0.0.1:2379/metrics | grep etcd_disk_
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0# HELP etcd_disk_backend_commit_duration_seconds The latency distributions of commit called by backe

[2018-04-26 09:40] itnikita commented on #9593
I still do not know how to run benchmark .
all the files ends with go.
I donot know how to compile it
or is there a binary files, so I can run it

[2018-04-26 10:58] yyyyyyyyyg opened #9637 "etcd v3.3 data migration"
We have a requirement to migrate an existing etcd data to a new etcd cluster, both the two etcd cluster are v3.3 version.
Just have a search, there are some guides which indicates how to migrate from v2 to v3, but not my case. Is there any guide here for my case?
I just tried save a snapshot, start a new cluster and then import snapshot to the etcd data dir, but seems snapshot is not for this usag

[2018-04-26 11:49] hexfusion commented on #9575
@YeruchamB here is the history, it was changed from warn to error.

ref: https://github.com/coreos/etcd/issues/6336, https://github.com/coreos/etcd/issues/8136

In regards to no IP in SAN for wildcard your issue is SRV discovery. This is not a trival process and the verification of Peers eveuntually leeds to a reverse DNS lookup. I *believe* the IP address used in the lookup is what is eventually

[2018-04-26 13:11] hexfusion commented on #9575
[3.2 Changelog](https://github.com/coreos/etcd/blob/master/Documentation/upgrades/upgrade_3_2.md#change-in---listen-peer-urls-and---listen-client-urls) as ref as well. So it appears if you were to use 3.1 this would only be a warning. I am not recommending this but as a "workaround" you could test.

[2018-04-26 13:32] aauren commented on #9629
Thanks for your response @mitake! While JWT is certainly something that we can look into in the future, we have deployed clusters with simple token authentication already. If one of them loses their data directory is there any work around to allow them to authenticate again with simple token authentication like the other nodes in the cluster do?

Also, do you know if this caveat to simple token au

[2018-04-26 13:59] kotnn opened #9639 "Problem with one etcd member"
Hello.
I have 3 nodes etcd  cluster:
kubermaster01
kubermaster02
kubermaster03

 **etcdctl cluster-health** from kubermaster03:

member 665131028a69b34a is healthy: got healthy result from http://10.64.34.216:2379
member a45f912cb9e0d57a is healthy: got healthy result from http://10.64.34.129:2379
member f5ba6970564585ba is healthy: got healthy result from http://10.64.34.217:2379

 **etcdctl clus

[2018-04-26 16:01] arasmax opened #9641 "etcd3: etcdserver: publish error: etcdserver: request timed out"
My etcd cluster has 3 peers. After bootstrapping, the peers got joined but then they are stuck in a loop to choose a leader.

etcd config:

[code]
log

[code]
any idea?
Thanks

[2018-04-26 16:06] hexfusion commented on #9641
I think this is where you need to look. What is causing this?

[2018-04-26 17:05] hexfusion commented on #9641
Fairly certain that message is not coming from etcd directly so you need to see what is causing it. Maybe try connecting to the health endpoint directly with `curl -v` or similar and see what it returns? IMO this is a networking vs TLS issue.

[2018-04-26 17:42] raoofm commented on #9637
@yyyyyyyyyg It should be straight forward.

This is what you need
https://github.com/coreos/etcd/blob/master/Documentation/op-guide/recovery.md

[2018-04-26 18:32] xiang90 commented on #9630
you probably reused the old cluster token and exact same configuration. etcd really cannot distinguish this setup from a fresh new cluster setup. The new two nodes might form a new cluster on themselves, disrupt the old one.

Also I think the one "old" node also has some issues since its term went back to 2. Without more information, it is hard for us to debug this situation. If you can reproduce

[2018-04-26 18:32] #9630 closed

[2018-04-26 18:50] #9609 closed

[2018-04-26 19:43] gyuho commented on #9639
Why `ETCD_INITIAL_CLUSTER_STATE="existing"`?

[2018-04-26 21:34] crielly commented on #9620
@ericchiang Not sure why this was closed, your comment does not address this ticket.

[2018-04-26 21:50] ericchiang commented on #9620
Sorry I mis-read this section.

[2018-04-26 21:55] crielly commented on #9620
For further context, when I use `etcdctl` with the same set of certs, etcd does recognize the common name in my cert and authorise appropriately:

[code]

Logs from these actions:
[code]

But I get the same series of `{"error":"connection error: desc = \"transport: remote error: tls: bad certificate\"","code":13}` when using the API

[2018-04-26 21:57] gyuho commented on #9641
@arasmax Have you checked your TLS configurations? etcd doesn't seem related here.

[2018-04-26 21:59] gyuho commented on #9596
@jolson490 Any updates?

[2018-04-26 22:01] gyuho commented on #9637
Also check out https://github.com/coreos/etcd/blob/master/Documentation/upgrades/upgrade_3_0.md and https://github.com/coreos/etcd/tree/master/etcdctl#migrate-options.

[2018-04-26 22:01] #9637 closed

[2018-04-26 22:03] hexfusion commented on #9593
@itnikita it sounds like your problem is solved by moving to SSD. Please open a new issue if you run into any other errors! Thanks!

[2018-04-26 22:03] #9593 closed

[2018-04-26 22:08] hexfusion commented on #9641
I am confused why do logs still reference https?

2018-04-26 15:21:58.330748 I | etcdserver: initial advertise peer URLs = https://10.123.16.102:2380

[2018-04-26 22:09] gyuho commented on #9589
Closing this due to inactivity. Please reopen if you still have issues.

[2018-04-26 22:09] #9589 closed

[2018-04-26 22:16] gyuho commented on #9546
@JuneZhao etcd v2.2.5 development and support have been discontinued for more than 2 years now. Please provide reproducible steps that show this is caused by etcd bugs. Otherwise, won't be supported.

[2018-04-26 22:16] #9546 closed

[2018-04-26 22:26] gyuho commented on #8220
Haven't seen this for awhile, but reopen as soon as it happens again.

[2018-04-26 22:26] #8220 closed

[2018-04-26 22:30] gyuho commented on #9193
I think this is out of etcd scope. Peer traffic can be controlled though through `host-whitelist` flag https://github.com/coreos/etcd/blob/master/CHANGELOG-3.4.md#security-authentication. You can still limit access with auth + TLS. And there are many other lower level linux tools to achieve outbound traffic. Please create a separate issue if you have other valid use cases. Thanks.

[2018-04-26 22:30] #9193 closed

[2018-04-26 22:31] gyuho commented on #9175
Haven't seen for awhile, will reopen when it happens again.

[2018-04-26 22:31] #9175 closed

[2018-04-26 22:32] gyuho commented on #6928
Haven't seen for awhile, will reopen when it happens again.

[2018-04-26 22:32] #6928 closed

[2018-04-26 22:32] gyuho commented on #5847
Haven't seen for awhile, will reopen as soon as it happens again.

[2018-04-26 22:32] #5847 closed

[2018-04-26 22:49] jxuan commented on #9615
bcrypt actually store the bcrypt-cost along with the hashed version of the password, as bcrypt-cost is not a parameter of https://godoc.org/golang.org/x/crypto/bcrypt#CompareHashAndPassword.

Thus if anybody wants to change bcrypt-cost for their ETCD cluster, not only do they need to restart the ETCD cluster with the new bcrypt-cost parameter, but also go through the change password API to recalcu

[2018-04-26 23:33] wenjiaswe commented on #9631
/assign

[2018-04-27 01:52] yyyyyyyyyg commented on #9637
Thanks for your kindly help. Will have a try!

[2018-04-27 04:43] summerwind commented on #9608
@mitake Thank you for the suggestion!

In our use case, it is only the specific system (CoreDNS) that uses v2 emulation, so applying the privilege of v2 emulation to a specific user will fit.

However, if the user is shared with v2 emulation and v3, it will be difficult to separate privileges by applying it to root, so it is better to apply it to user dedicated to v2 emulation like `emulation` use

[2018-04-27 04:55] kotnn commented on #9639
НI!  

Because I tried to remove node from cluster and rejoin. I also tried with "new" state with the same result. 

Четверг, 26 апреля 2018, 22:44 +03:00 от Gyuho Lee <notifications@github.com>:

[2018-04-27 07:16] arasmax commented on #9641
@hexfusion  I double checked etcd config.  Both '--initial-advertise-peer-urls' and '--advertise-client-urls' are set to http. however is later logs https does not appear.

[2018-04-27 07:49] Nayana-ibm commented on #9409
@gyuho I have sent an email to you.Please check.

[2018-04-27 07:50] mitake commented on #9608
@heyitsanthony v2 auth is built on basic auth of http. So it doesn't have credentials.

@summerwind I see. I'll consider the design of unified auth (errors in the design would introduce security holes so I need to be careful). Of course your PRs are welcomed :)

[2018-04-27 09:42] gyliu513 opened #9647 "etcd memory usage is not stable"
1) Deployed a 1000 nodes Kubernetes 1.9.1 cluster with 3 masters and 3 etcd server with version 3.2.14.
2) Submit 20000 liberty pods with 10 times, each time submit 1000 pods in 1 deployment.
3) My pods was submitted and running at 15:00.
4) From 15:00, the etcd memory usage is not stable, it keeps going up and down from 15:00 to 17:00

![image](https://user-images.githubusercontent.com/4461983/39

[2018-04-27 09:46] gyliu513 opened #9648 "etcd db size does not change after created 20000 pods"
I was using etcd v3.2.14, after created 20000 pods in my cluster, I found that the etcd DB size does not change, but keeps one value for 3 hours.

From below diagram, I submit the 20000 pods from 14:00 to 15:00, after all pods ready, the etcd DB size does not change.

![image](https://user-images.githubusercontent.com/4461983/39356474-a99707c8-4a42-11e8-9b98-d2bd6eaa6d73.png)

[2018-04-27 17:40] #9295 closed

[2018-04-27 17:43] gyuho commented on #9596
@jolson490 Sure.

`QGET` is quorum read request, which may fail from various reasons. Server logs from `192.168.225.40:2379` would be helpful. That node might have been isolated.

[2018-04-27 19:03] crielly opened #9653 "[Feature Request]Enable unencrypted access to /health endpoint when client TLS is enabled"
It would be useful if, while client TLS is enabled, `/health` could still be accessed via http. It is not always possible to provide a certificate bundle to things like Load Balancers. For example, when you enable client TLS, you make it impossible for an AWS ALB to get a healthy result from `/health`:

[code]

That's an internal and external ALB hitting `/health`.

Two possible implementations:
-

[2018-04-27 22:02] swade1987 opened #9655 "Etcd-wrapper failing when using 'ETCD_DISCOVERY_SRV' (v3.2.15)"
I have the following setup:

[code]

[code]

When I start the service I get the following error:

[code]

Note: The same error happens on all 3 etcd nodes just listening their specific name (e,g. `etcd-1` or `etcd-2`

[2018-04-28 03:37] cloudzhou opened #9656 "Can watch revision that is larger then the latest revison now"
say the etcd latest revision is 12345,
can i watch from the revision 12350 ?

I had try in my local testing and it will get notify after 5 writes, it looks good.

but does etcd guarantee that we can watch revision larger then the latest revision ?

https://coreos.com/etcd/docs/latest/learning/api.html do not mention about this

[2018-04-30 07:29] topilski opened #9659 "C/C++ client"
Hi, do you have C/C++ client for etcd?

[2018-04-30 10:51] anandr781 commented on #2759
Hi , I am stuck with the same issue . Can you post some snippet of your solution

[2018-04-30 11:45] #9659 closed

[2018-04-30 11:46] hexfusion commented on #9659
Hi @topilski please review the integrations list we currently have a v2,v3 client in C++.

https://github.com/coreos/etcd/blob/master/Documentation/integrations.md

[2018-04-30 12:00] hexfusion commented on #9655
@swade1987 hope to have a bit more time to work on this tonight.

[2018-04-30 13:50] swade1987 commented on #9655
@hexfusion i am going to attempt to upgrade to using CoreOS-stable-1688.5.3 to see if it makes any difference.

[2018-04-30 15:45] JeanMertz commented on #2759
Sorry @anandr781, we are no longer using etcd directly, so I don't have the solution for you.

[2018-04-30 16:57] gyuho commented on #9655
@swade1987 How is your SRV configured for each node? And `dig +noall +answer SRV _etcd-server-ssl._tcp.YOUR_SRV` from each node?

[2018-04-30 17:02] gyuho commented on #9656
Yes, you can specify future revisions.

[2018-04-30 17:02] #9656 closed

[2018-04-30 18:52] joelegasse commented on #9653
@gyuho It looks like `--listen-metrics-urls` already handles the `/health` endpoint in addition to `/metrics`.

@crielly Can you try setting a separate endpoint via `--listen-metrics-urls` and point the load balancer health check there?

[2018-04-30 19:01] topilski commented on #9659
Hi @hexfusion , thank you for reply i'am looking for offical api, i thinking about integration etcd into FastoNoSQL.

[2018-05-01 01:13] JuneZhao opened #9668 "etcd cluster no leader failure"
We repeatedly receive below error on our k8s cluster on etcd

E0429 15:54:53.235735       1 status.go:62] apiserver received an error that is not an metav1.Status: client: etcd cluster is unavailable or misconfigured; error #0: client: etcd member http://127.0.0.1:2379 has no leader
E0429 19:35:17.626027       1 status.go:62] apiserver received an error that is not an metav1.Status: client: etcd c

[2018-05-01 03:27] #8934 closed

[2018-05-01 04:10] cerebrate opened #9670 "Fresh single-host install: "etcdserver: publish error: etcdserver: request timed out" and "Error: context deadline exceeded""
I've just started playing with etcd, so I've attempted to install the latest release (at this time, 3.3.4) on a single host (actually, an LXC container) to experiment with. Trouble is, I'm getting this error ("etcdserver: publish error: etcdserver: request timed out") showing up repeatedly in the log once the server is started, and attempting to use the etcd with, for example, `etcdctl put foo bar

[2018-05-01 07:21] #9635 closed, assigned to mitake

[2018-05-01 14:33] gyliu513 commented on #9648
Thanks @yudai let me check more for how kubernetes handle this.

When will 3.4 be released? I found that the latest version is 3.3.4 https://github.com/coreos/etcd/releases/tag/v3.3.4

[2018-05-01 16:46] gyuho commented on #9648
No, it's planned for summer.

Can you try v3.3.4?

[2018-05-01 16:51] #9653 closed

[2018-05-01 17:02] kchristidis opened #9673 "raft: Any issues with persisting snapshots first?"
The [README](https://github.com/coreos/etcd/blob/master/raft/README.md) for etcd/raft states:

What would happen if someone were to persist the Snapshot first, and then the Entries and HardState?

My guess is that if the node were to crash right after persisting the snapshot, it would reboot into an inconsistent state. Is that correct?

[2018-05-01 17:15] xiang90 commented on #9673
It depends on how do you recover. If you can check the hardstate first, then make sure the snapshot matches the hardstate, you will be fine. It is just easier to follow the ordering we suggest.

[2018-05-01 17:15] #9673 closed

[2018-05-01 18:54] gyuho commented on #9668
`has no leader` literally means the cluster has lost the leader. Does any of your server logs warn about leader elections?

[2018-05-01 19:31] crielly commented on #9653
Excellent, thank you! Covers my use case.

[2018-05-01 19:36] crielly commented on #9620
I've worked around this by rewriting the tooling I posted above using the official github.com/coreos/etcd/clientv3 library and Golang, so this is no longer a problem for me personally - but given the popularity of Python and the requests library, finding the source problem might still be worth some time. I'd say it was human error on my part, except that the v2 API calls succeed!

[2018-05-02 05:56] gyliu513 commented on #9648
@gyuho @yudai can you help confirm if this parameter `etcd_debugging_mvcc_db_total_size_in_use_in_bytes` was also included in etcd v3.3.4?

[2018-05-02 06:12] JuneZhao commented on #9668
@gyuho Not aware of that, but the service deployed will become very slow and want to check whether the etcd cluster will cause the issue or not

[2018-05-02 12:01] hexfusion commented on #9594
@CMajeri the reason I asked about SRV is the snippet you referenced which shows a hardcoded `t, err := NewTransport(tlsInfo, 5*time.Second)` is part of the ValidateSecureEndpoints function which is only used by discoverEndpoints from what I can tell.

Please confirm your code change, I will dig into this a bit more tonight.

[2018-05-02 20:41] gyuho commented on #9668
If there's no leader, etcd service not only slows down, it will be unavailable.

[2018-05-02 20:42] gyuho commented on #9668
We need etcd server side logging to see what might have caused such errors.

[2018-05-02 20:46] gyuho commented on #9670
Does this still happen without LXC?

[2018-05-02 21:03] gyuho commented on #9553
You can still configure `--auto-compaction-retention`.

Yes.

[2018-05-02 21:03] #9553 closed

[2018-05-02 21:07] gyuho commented on #9544
@reterVision

This is clearly from your slow EBS volume. Have you looked into it? Are you running etcd with other processes?

[2018-05-02 21:11] gyuho commented on #9463
@yangqinjiang This happens when the snapshot file does not exist, probably deleted during migration. Please check and reopen if it still happens. We will improve the error message.

[2018-05-02 21:11] #9463 closed

[2018-05-02 21:26] gyuho commented on #5156
Closing due to inactivity. Please create a new issue if needed.

[2018-05-02 21:26] #5156 closed

[2018-05-02 21:27] gyuho commented on #3743
Closing due to inactivity. Please create a new issue if needed.

Also, v2 feature proxy development has been stopped.

[2018-05-02 21:27] #3743 closed

[2018-05-02 21:28] gyuho commented on #3351
Closing due to inactivity. Please create a new issue if needed.

[2018-05-02 21:28] #3351 closed

[2018-05-02 21:33] gyuho commented on #8068
@mvdan We will integrate https://github.com/mvdan/unparam in CI. Seems useful!

[2018-05-02 21:33] #8068 closed

[2018-05-02 21:34] gyuho commented on #7921
Will reopen when it happens again.

[2018-05-02 21:34] #7921 closed

[2018-05-02 21:35] gyuho commented on #8520
With Go type alias and 1.10, this is resolved.

[2018-05-02 21:35] #8520 closed

[2018-05-02 21:51] gyuho commented on #9581
Do you have example settings in your etcdctl wrapper script?

[2018-05-02 21:52] gyuho commented on #9522
@ncsibra Please send a PR to improve if you have time. Thanks!

[2018-05-02 21:52] #9522 closed

[2018-05-02 22:07] gyuho commented on #8673
We still plan to do this (maybe in v3.5).

Merging with https://github.com/coreos/etcd/issues/8022, since both server and client need reason about network partitions. Current HTTP/2 ping client and server do not reason about network partition.

ref. https://github.com/coreos/etcd/issues/7321

[2018-05-02 22:08] gyuho commented on #8022
Moving to https://github.com/coreos/etcd/issues/8673, since it also needs client-side work.

[2018-05-02 22:08] #8022 closed

[2018-05-02 22:10] gyuho commented on #9131
Closing.

Sorry, discovery.etcd.io is not maintained anymore.

[2018-05-02 22:10] #9131 closed

[2018-05-02 22:11] gyuho commented on #7978
Closing. If anyone wants us to build official release binaries, please contribute.

[2018-05-02 22:11] #7978 closed

[2018-05-02 22:13] gyuho commented on #7796
@ingvagabund Sorry for delay. Could you send a PR with your patch? /cc @joelegasse

[2018-05-02 22:13] #7796 closed

[2018-05-02 22:16] gyuho commented on #7450
Actually, in the process of rewriting client balancer, we are considering enabling `WithBlock` by default. /cc @jpbetz

We will make sure to highlight this change in v3.4, if that happens.

[2018-05-02 22:16] #7450 closed

[2018-05-02 22:19] gyuho commented on #8977
@langkeer

Sorry for delay.

Easiest way is just restart (can be easily done with systemd service file).

Since publish only happens at the beginning, we won't adjust the timeouts.

[2018-05-02 22:19] #8977 closed

[2018-05-02 22:25] gyuho commented on #7537
Closing in favour of https://github.com/coreos/etcd/issues/8217.

[2018-05-02 22:25] #7537 closed

[2018-05-02 22:26] gyuho commented on #9575
@YeruchamB As @hexfusion mentioned, please use IP address for listen URLs.

[2018-05-02 22:26] #9575 closed

[2018-05-02 22:28] gyuho commented on #8965
Doesn't seem like an etcd issue. Please create a new one if you still need help.

[2018-05-02 22:28] #8965 closed

[2018-05-02 22:28] #9223 closed

[2018-05-02 22:32] gyuho commented on #2632
No plan to support this as of now.

If anybody has a strong use case, please create a new issue.

[2018-05-02 22:32] #2632 closed

[2018-05-02 22:33] gyuho commented on #8499
Will be enabled by default in v3.5. Has been testing pre-vote in functional testing for several months, and seems stable.

[2018-05-02 22:33] #8499 closed

[2018-05-02 22:43] hexfusion commented on #9641
hi @arasmax any update?

[2018-05-02 23:59] JuneZhao commented on #9668
@gyuho You mean journalctl -u etcd?

[2018-05-03 00:02] jpbetz commented on #7450
`WithBlock` works fine with the new balancer. I'm in favoring of enabling it when `DialTimeout` is set on the v3 client, otherwise the timeout is not respected.

[2018-05-03 00:07] gyuho commented on #9668
Yes.

[2018-05-03 00:35] gyuho commented on #9581
@mrueg Those client-specific configurations could be supported via YAML file, as is supported for `etcd`. Then we would have 3 kinds of configuration format; flag, YAML, environment variable. Keep them in sync is a lot of work. We'd rather keep it simple for now.

[2018-05-03 01:53] hexfusion commented on #9594
It seems that the 5 second interval is defined by the prober here which basically does a health check against the peer during `AddPeer` at the error interval during bootstrap.

https://github.com/coreos/etcd/blob/913a98567eac90397018ebd38f1ccbd39bf9b668/rafthttp/probing_status.go#L28

Can you clarify what you mean here, it seems etcd is only printing logging in which case this is expected. If you

[2018-05-03 01:55] gyliu513 commented on #9648
Thanks @gyuho , this is not a critical issue for me, and I will wait for the new release to test.

[2018-05-03 06:25] cerebrate commented on #9670
Hm. Unfortunately, I'm not sure right now, because all the test hosts I have access to in the lab are LXCs. I'll dig up some spare hardware and see what I can figure out.

[2018-05-03 09:46] yaojingguo opened #9685 "contrib/raftexample: compact error if defaultSnapCount is much less than snapshotCatchUpEntriesN"
After I set `defaultSnapCount` to `10` and set `snapshotCatchUpEntriesN` to `100`, I used `raftexample --id 1 --cluster http://127.0.0.1:12379 --port 12380` to start a one-node cluster. Then I used the following script to load data to the cluster.

[code]

Then the terminal for the `raftexample` node reported the following error:

[code]
And the script to load data reported the following error:

[

[2018-05-03 11:41] arasmax commented on #9641
@gyuho Are any of CoreOS developers are here in KubeCon in Copenhagen?

[2018-05-03 11:57] hexfusion commented on #9641
@arasmax great to hear that you have this resolved can we close this issue now? Enjoy KubeCon I am very jealous :).

[2018-05-03 12:38] cerebrate commented on #9670
Okay. Looks like it doesn't happen without LXC. Using the same config file (save for adjusting hostnames and data-dir path appropriately for the different host), the log looks like:

[code]

[2018-05-03 12:56] cerebrate commented on #9670
Okay, that gave me an idea and I realized I've been barking up the wrong tree.

It's not the LXC that does it; it's the location of the data directory. /mnt/nas is a CIFS filesystem mounted from our big fileserver. Whether in-LXC or not, putting the data directory on the network filesystem triggers the error, and putting it locally does not.

[2018-05-03 13:09] CMajeri commented on #9594
Wow it looks like you're right, those ARE just log messages.
Increasing the timeout there just makes the logs much nicer :

[code]

But there seems to be no correlation with the fact that it started working...
I'm very confused and will keep looking. But it seems to be my fault rather than etcd!

Thanks for looking into it, I'm sorry, it seems I dreamed a problem and it just happened to get fixed

[2018-05-03 13:16] hexfusion commented on #9594
@CMajeri no worries I think your approach was logical but since the messages are expected and the result is non-fatal I think we can leave things as is. Thanks for creating the issue please don't hesitate to create a new one if you have more questions!

[2018-05-03 13:16] #9594 closed

[2018-05-03 17:12] gyuho commented on #9613
Did you remove the data directory as well?

Also, please provide reproducible steps.

[2018-05-03 17:14] gyuho commented on #9639
@kotnn It's hard to see what's going on if you provide logs from only one server. Please provide all server logs when etcd becomes unavailable.

[2018-05-03 17:16] gyuho commented on #9581
Let me close this. Will revisit once etcdctl flags are stabilized and we find an easy way to automate YAML configuration support.

[2018-05-03 17:16] #9581 closed

[2018-05-03 17:22] #9616 closed, assigned to nobody

[2018-05-03 17:29] gyuho commented on #8877
`X-Etcd-Index` is the current index of **v2** store.

`ModifiedIndex` is the last modified index on the key update.

[2018-05-03 17:29] #8877 closed

[2018-05-03 17:32] #9561 closed

[2018-05-03 17:34] gyuho commented on #9547
Let's merge https://github.com/coreos/etcd/pull/9658 when Go 1.11 is released. Thanks.

[2018-05-03 17:34] #9547 closed

[2018-05-03 17:35] gyuho commented on #9544
Please create a new issue if you still think this is caused by etcd. Thanks.

[2018-05-03 17:35] #9544 closed

[2018-05-03 17:43] gyuho commented on #9002
Closing due to inactivity. Please create a new issue with *reproducible* steps.

[2018-05-03 17:44] gyuho commented on #6457
Merging into https://github.com/coreos/etcd/issues/9306.

[2018-05-03 17:44] #6457 closed

[2018-05-03 17:47] yudai commented on #9648
I think that an easier way with v3.3.4 is to run `etcdctl defrag` and see if the DB sizes decrease.

[2018-05-03 17:52] gyuho commented on #8169
As Xiang mentioned, reproducible steps must be provided for us debugging.

And for other issues, please create a separate issue with reproducible steps.

[2018-05-03 17:52] #8169 closed

[2018-05-03 17:54] mkumatag commented on #9509
okay. -Thanks.

[2018-05-03 17:54] gyuho commented on #9604
@hyfrey Can you provide a simple snippet of code to reproduce this issue?

[2018-05-03 19:00] cerebrate commented on #9670
@gyuho The error in question is the `etcdserver: publish error: etcdserver: request timed out` error as seen in the logs above.

Also, it appears that etcd _does_ have write access to the filesystem, as the data directory with its subdirectories (member, with subdirectories in turn snap and wal) are created successfully as are the files in them, appearing identical to those in a local data directo

[2018-05-03 19:01] jxuan commented on #9615
The squashed commit can be found in https://github.com/coreos/etcd/pull/9687

[2018-05-03 19:02] cerebrate commented on #9670
(Evidently can't reopen this myself; I'll not create a new one for now to avoid repo spam.)

[2018-05-03 19:18] purpleidea commented on #5277
Is there something I can do to get this poked or help out with an upstream patch?

[2018-05-03 19:55] gyuho commented on #9670
@cerebrate Try this on your mounted disk?

[code]

And see if it returns the same error message?

[2018-05-03 20:50] purpleidea opened #9689 "Unable to detect existing OpOption's"
Etcd has a very lovely way of specifying options using the `OpOption` types:

https://godoc.org/github.com/coreos/etcd/clientv3#OpOption

One downside is that there's no way to detect if a particular OpOption has been specified in a list. I'd propose adding some sort of Cmp method if an end user wants to detect if `WithCreatedNotify` was specified in the list or not (for example).

This could be u

[2018-05-03 20:53] gyuho commented on #9670
@cerebrate

To verify this, let me add more detailed error logging around fsync code paths.

[2018-05-03 21:18] heyitsanthony commented on #9689
@purpleidea maybe there could be something that returns the raw grpc watchrequest given an opoption argument (plus get/put/delete msgs to cover everything)?

[2018-05-03 21:27] purpleidea commented on #9689
@heyitsanthony I'm not nearly as familiar as I should be with what the raw grpc requests look like to know what this sort of patch would entail, but happy to hear more if you'd like to elaborate...

AFAICT, the simple `Cmp` method approach I tried to describe above should be pretty straight forward and happens before the grpc level...

This isn't a high priority, but I think it would be useful.

[2018-05-03 22:08] gyuho commented on #9670
@cerebrate Could you try again with current master branch? To build, you need Go 1.10+. You can just run `./build` script or `make build` from repository root.

Also need to enable new logger for more detailed error message:

[code]

Thanks!

[2018-05-03 22:09] cristifalcas opened #9691 "Can't use users with colon in names"
We can't enable authentication in etcd with kubernetes/openshift because the CN in the certs they use to connect to etcd contais a colon: "system:master".

Is there any way to bypass this and create users with colon in name?

And it seems we can have users with strange names:
[code]

[2018-05-03 22:15] hexfusion commented on #9691
Hi @cristifalcas would you mind posting full logs showing this failure, please? Also can you note what version of etcd you are using?

[2018-05-03 22:19] cristifalcas commented on #9691
I can give the logs from openshift after enabling authentication in etcd:
[code]

And I have no way to add this user.

I will try to redo the client certs used by the kube apiserver

[2018-05-04 00:05] cerebrate commented on #9670
Sure, can do.

First run:

[code]
Second run:

[code]

[2018-05-04 00:27] gyuho commented on #9670
@cerebrate

https://github.com/coreos/etcd/blob/2ad0acdea8bb6cc820256e8c2f6f87547303f28b/wal/wal.go#L200-L210

This verifies that:

Not sure how etcd would work around this...

[2018-05-04 00:37] hexfusion commented on #9691
I didn't test etcdctl but I had no issues adding a user with colons using gRPC gateway. So this is not a limitation of etcd. I will look into etcdctl further but it feel likes an escaping issue. have you tried "foo\:bar" ?

[code]

[2018-05-04 00:55] cerebrate commented on #9670
As far as I can tell from my digging, other projects that have had this issue (with CIFS and other network file systems) work around it by logging a warning telling you to set the `cache=none` option and ignoring the EINVAL return from fsync().

That'd certainly work for me, seeing as the NAS in question has all the battery backup it needs to prevent data loss at its end, but I can understand if y

[2018-05-04 01:10] hexfusion commented on #9691
@cristifalcas I can confirm this is an issue with etcdctl this does feel like a bug will dig into this further.

[2018-05-04 01:16] gyuho commented on #9670
Given that we will keep `fsync` on directory, can you help document CIFS behavior around https://github.com/coreos/etcd/blob/master/Documentation/faq.md?

[2018-05-04 01:26] hexfusion commented on #9691
I see so the `user:pass` usage is the issue so basically `system:master` = user system with pass master.  Not sure how we best handle that.

[2018-05-04 01:34] hexfusion commented on #9691
Perhaps we could add a `--password=""` flag in which case the `--user=""` string is used verbatium if the password flag is also set. I am not sure if we want to go to that length to support a colon in the username with etcdctl.

/cc @mitake how do you feel?

[2018-05-04 02:15] cerebrate commented on #9670
Sure, I can do that.

[2018-05-04 09:31] wenxuwan commented on #9613
Did you remove the data directory as well?
yes, i remove folder directly
Also, please provide reproducible steps.
the problem can't be reproduced now.

[2018-05-04 10:04] cristifalcas commented on #9691
Can you help me with a grpc gateway example? How to add the user?

[2018-05-04 11:57] cristifalcas commented on #9691
This is what I'm trying:
[code]

And the cert:

[code]

[2018-05-04 12:41] cristifalcas commented on #9691
Strange. I managed to create the user from inside a container with version 3.0.17:
[code]

[2018-05-04 12:52] hexfusion commented on #9691
@cristifalcas sure here is a bash example of auth and useradd using gRPC gateway.

https://gist.github.com/hexfusion/ff278e3d900a1869059e14490823bc52

usage : $ user_add.sh system:master

[2018-05-04 12:57] cristifalcas commented on #9691
Thank you

[2018-05-04 13:10] hexfusion commented on #9691
Just note for 3.1 you will need to use /v3alpha as with your above example. But you probably notice that by now :)

[2018-05-04 17:54] jxuan opened #9695 "go panic when using JWT token and root role"
When I use the latest master code to test jwt token, sometimes ETCD server stops with the following go panic. Note that I am using a test account with root role.

`panic: interface conversion: auth.TokenProvider is *auth.tokenJWT, not *auth.tokenSimple

goroutine 610 [running]:
github.com/coreos/etcd/auth.(*authStore).WithRoot(0xc420373bc0, 0x4d5d760, 0xc42036e7c0, 0x4c505e4, 0xc420f64254)
	/Users

[2018-05-04 17:55] jxuan commented on #9695
`$ ./etcd --version
etcd Version: 3.3.0+git
Git SHA: Not provided (use ./build instead of go build)
Go Version: go1.10.2
Go OS/Arch: darwin/amd64`

[2018-05-04 18:01] jxuan opened #9696 "auth: Update JWT implementation to support other signature methods"
The current JWT implementation uses the public key to verify a given JWT token from client, as shown in the following code in auth/jwt.go
31         verifyKey  *rsa.PublicKey
47         parsed, err := jwt.Parse(token, func(token *jwt.Token) (interface{}, error) {
 48                 return t.verifyKey, nil
 49         })

As explained in https://auth0.com/blog/critical-vulnerabilities-in-json-web-

[2018-05-04 19:26] gyuho commented on #9615
@jxuan Your PR has just been merged. Can you try the master branch and close this? Thanks!

[2018-05-04 21:27] hexfusion commented on #9695
@jxuan could you please try https://github.com/coreos/etcd/pull/9698 I am curious if this helps your problem.

[2018-05-04 21:29] hexfusion commented on #9691
@cristifalcas is this solution going to work for you or do you want to explore further?

[2018-05-04 23:25] yudai opened #9701 "Inconsistent release binary file permissions"
I realized that the etcd binary of the v3.2.19 release doesn't have read or execute permission for others, while that of v3.2.18 has (our pipeline failed due to a `permission denied` error).

v3.3.4 also has `rx` for others, and binaries built with the `build` script also has it. I therefore assume that v3.2.19 lost those permissions accidentally for some reason. v3.1.14 also lacks `rx` for others

[2018-05-04 23:49] gyuho commented on #9701
/cc @jpbetz

@yudai Thanks for report. Another release is planned for next week. We will double-check on this.

[2018-05-05 07:13] cristifalcas commented on #9691
It seems it worked, at least on 3.0.17. For me it will be better to do it with any version of etcdctl.

But I'm ok with the grpc solution also.

[2018-05-05 11:23] ysicing opened #9704 "etcd panic"
## ETCD Version:

[code]
## Hardware configuration:
[code]

Here is the log message of etcd:
[code]
I tried to rejoin the cluster and found that I could solve this problem.But why?Can you tell me how to avoid it?

[2018-05-05 14:40] hexfusion commented on #9704
Hi @ysicing thank you for the report. Is this issue reproducable? If yes can you please provide basic steps? With these steps we can isolate the issues around bolt during restore.

[2018-05-05 15:14] ysicing commented on #9704
@hexfusion  I can't emersion this problem in production environment. Yesterday,  I'm forced to restart this machine  because of  the load is too high. Later, it is normal to detect clusters and current nodes by etcdctl.From the monitoring data and logs, this happened too suddenly.

[2018-05-05 17:26] ysicing commented on #9704
@hexfusion

Of course
[code]

[2018-05-05 19:12] purpleidea commented on #9689
I added an untested POC patch: https://github.com/coreos/etcd/pull/9705

If the maintainers are okay with this approach, I can finish the `Cmp` function which currently only compares one aspect.

LMK

[2018-05-06 00:34] JuneZhao commented on #9668
@gyuho
etcd log on master 0:Apr 29 09:09:37 k8s-master-3688E46E-0 etcd[1224]: start to snapshot (applied: 153286737, lastsnap: 153276736)
Apr 29 09:09:37 k8s-master-3688E46E-0 etcd[1224]: saved snapshot at index 153286737
Apr 29 09:09:37 k8s-master-3688E46E-0 etcd[1224]: compacted raft log at 153281737
Apr 29 09:09:56 k8s-master-3688E46E-0 etcd[1224]: purged file /var/lib/etcddisk/member/snap/0000

[2018-05-06 00:35] JuneZhao commented on #9668
etcd log on master 1
Apr 29 09:09:57 k8s-master-3688E46E-1 etcd[1167]: start to snapshot (applied: 153286959, lastsnap: 153276958)
Apr 29 09:09:57 k8s-master-3688E46E-1 etcd[1167]: saved snapshot at index 153286959
Apr 29 09:09:57 k8s-master-3688E46E-1 etcd[1167]: compacted raft log at 153281959
Apr 29 09:10:22 k8s-master-3688E46E-1 etcd[1167]: purged file /var/lib/etcddisk/member/snap/00000000000

[2018-05-06 00:36] JuneZhao commented on #9668
etcd log on  master 3:Apr 29 09:10:26 k8s-master-3688E46E-2 etcd[1188]: start to snapshot (applied: 153287429, lastsnap: 153277428)
Apr 29 09:10:26 k8s-master-3688E46E-2 etcd[1188]: saved snapshot at index 153287429
Apr 29 09:10:26 k8s-master-3688E46E-2 etcd[1188]: compacted raft log at 153282429
Apr 29 09:10:44 k8s-master-3688E46E-2 etcd[1188]: purged file /var/lib/etcddisk/member/snap/0000000000

[2018-05-07 17:27] jxuan commented on #9615
The commit is merged into master. Closing now.

[2018-05-07 17:27] #9615 closed

[2018-05-07 17:35] jxuan commented on #9615
Two things to notice.

First, the bcrypt-cost of a hash is stored along with the hash. If you change bcrypt-cost when launching ETCD server but did not change password hash in storage, all existing password validation will go through the same bcrypt-cost value instead of the new value. Also all password verification will succeed. To truly use the new bcrypt-cost, use change password command to re-

[2018-05-07 22:17] jpbetz commented on #9701
Having a look now.

[2018-05-07 22:38] jpbetz commented on #9701
@yudai Was this the `etcd-v3.2.19-linux-amd64.tar.gz` release binary from https://github.com/coreos/etcd/releases/tag/v3.2.19?

[2018-05-07 22:43] yudai commented on #9701
@jpbetz yes. The one at https://github.com/coreos/etcd/releases/download/v3.2.19/etcd-v3.2.19-linux-amd64.tar.gz

[2018-05-07 22:56] jpbetz commented on #9701
@yudai Okay, I suspect my default umask of `022` is at fault. I'll fix.

[2018-05-08 01:47] disksing commented on #9704
Hi, I met a similar problem yesterday. We are using embed etcd v3.2.18. After restart, the server keeps panic:
[code]

After adding some logs, I found that the `skiplist` field of `meta` looks abnormal:
[code]
Since the meta can pass checksum verification, I guess it could be a bug of boltdb.
The `snap/db` file: [db.tar.gz](https://github.com/coreos/etcd/files/1981998/db.tar.gz)

[2018-05-08 02:19] gyuho commented on #9704
@disksing Thanks for db file! We will look into this!

@ysicing If you can, could you also share your data file? Or email us at gylee@redhat.com

[2018-05-08 17:07] hexfusion commented on #9695
@jxuan ping, would you mind sharing your etcd startup config so I can test against this PR, please. In general, can you outline steps to reproduce the panic? Thanks!

[2018-05-09 01:02] joelegasse commented on #9696
@jxuan The actual vulnerability here would be changing the JWT header to a symmetric method (HMAC) instead of asymmetric (RSA). The correct fix is to ensure that the method in the token being verified is actually an asymmetric token. I'll work on getting a fix up for this.

[2018-05-09 06:02] gyuho commented on #9704
@disksing Hmm, cannot reproduce with that attached db file. Can you share more detailed reproducible steps?

[2018-05-09 07:33] mitake commented on #9691
Sorry for my late reply. Probably adding a new flag `--password` would be nice. Current behaviour of separating the arg with `:` is just inherited from ctlv2.

[2018-05-09 17:12] jpbetz commented on #9701
Confirmed that umask was the problem. I've fixed our release script to always set the correct umask. This will be correct in all future releases.

[2018-05-09 17:46] #9701 closed

[2018-05-09 18:05] jxuan commented on #9696
All JWT token libraries are designed to support both symmetric and asymmetric encryption methods, as it is what the JWT spec requires. And this is what hackers can take advantage of. Restricting ETCD to use asymmetric algorithm is one way to fix it by going away from JWT spec. Using private key to verify signature is another way to fix by staying with the JWT spec.

I recommend that you do both an

[2018-05-09 18:06] jxuan commented on #9695
Sorry for the late reply. Below is my setup:
    ./etcd_mac \
      --name etcd-a-0 \
      --debug \
      --election-timeout 1500 \
      --heartbeat-interval 300 \
      --initial-advertise-peer-urls "http://127.0.0.1:2380" \
      --initial-cluster-token etcd-stg-a-cluster \
      --initial-cluster-state new \
      --advertise-client-urls "http://127.0.0.1:2379" \
      --listen-client-urls "

[2018-05-09 18:08] jxuan commented on #9695
To reproduce this error, I have a client connecting to my etcd server host (one host), then I restart the etcd server host. The client will re-connect to the server again. This is when it triggers the go panic. Hope it helps.

[2018-05-09 18:10] joelegasse commented on #9696
@jxuan I am going to update the JWT code to take the algorithm into account and behave accordingly (use the private key for symmetric methods). Asymmetric tokens (like RSA) can only be verified with the public key by design. It means that anyone can verify an asymmetric token, but only the holder of the private key can generate valid tokens.

[2018-05-09 22:37] #9328 closed

[2018-05-09 23:08] joelegasse commented on #9696
@jxuan I understand the math behind RSA. In order to use only the private key (`d`, `n`) to verify a message, you could: re-create the signature using the private key (treating it as a symmetric operation) and verify that it is identical to the received signature. Note, however, that this is *not* the signature verification algorithm typically used or even described by the article you linked (emph

[2018-05-09 23:56] joelegasse opened #9713 "Add a caching layer for password auth"
Continuing the conversation from #9615, I think a better approach for reducing the CPU overhead of authenticating with a password that wouldn't reduce the difficulty of brute-forcing the passwords should the database leak would be to cache successful authentication requests.

My proposed scheme would be:
- Strongly recommend `bcrypt.DefaultCost` as the difficulty parameter
- The first time a user

[2018-05-10 01:56] disksing commented on #9704
oops, I discovered a clue.

Because we didn't pay attention to the dependent version when we switch to `dep`, we are actually using _etcd-v3.2.18_ and _bbolt-1.3.0_. As I can see from [here](https://github.com/coreos/etcd/blob/eddf599c689ec85f4752060edff5a72e81e9106a/glide.yaml#L5-L6), _etcd-v3.2.18_ is using _bbolt-v1.3.1-coreos.5_.

As for the db file, it can be opened by _bbolt-v1.3.1-coreos.5_

[2018-05-10 09:18] lsytj0413 opened #9714 "[question] is there a way to do a atomic increasing and decreasing on a etcdv3 key?"
i'd like to implements a distributed counter with etcdv3 api, and i think the key version is ok to use as a increasing counter, but how can i implement a decreasing counter?

[2018-05-10 10:53] obeattie opened #9715 "ErrCompacted when acquiring mutex leaves behind stale lock nodes"
The `concurrency` library may return `ErrCompacted` when trying to acquiring a lock, but leave stale lock entries behind. My understanding is that this is because the following can happen:

1. `Mutex.Lock()` creates a lock node
2. Another session already holds a lock node with a lower revision, so we must wait for it to be deleted
3. A watch is established in to watch for deletion
4. A compaction

[2018-05-10 15:25] kchristidis opened #9717 "raftexample: Error message reports incorrect condition"
Version: HEAD @ latest master https://github.com/coreos/etcd/commit/67b1ff6724637f0a00f693471ddb17b5adde38cf

The `publishSnapshot` method in `raftexample/raft.go` [reads](https://github.com/coreos/etcd/blame/67b1ff6724637f0a00f693471ddb17b5adde38cf/contrib/raftexample/raft.go#L339):

[code]

Unless I'm missing something, if this condition applies, `snapIndex` should be greater than `appliedIndex`

[2018-05-10 21:08] jxuan commented on #9696
I see. This is limited by the JWT-go package.

Then restricting the usage of symmetric algorithm in the JWT header for ETCD is suffice.

[2018-05-11 00:25] tamalsaha opened #9719 "[question] Should member add/remove commands require peer certificate?"
I am trying to setup a secure and encrypted etcd cluster. One thing I noticed that when the second member is added to a cluster, a `AddMember` api call is made. This call is exposed over client port. To me this seems some sort of authorization violation. Because if I am using peer certificate with auth enabled, no one who has a valid peer certificate should be able to add/remove members . I am new

[2018-05-11 00:44] seh commented on #9145
I'm facing the same problem as @cnkuyan: the "etcd" account is not mentioned in _/etc/passwd_, though its ID is known:
[code]
Where is this "etcd" user defined? Am I supposed to "activate" it somehow? I haven't found any Container Linux- or _etcd_-related documentation that instructs users to create this account.

@hexfusion, I'm seeing this with the "stable" Container Linux channel version 1688.5

[2018-05-11 01:03] seh commented on #9145
Adding detail:
[code]

[2018-05-11 02:10] disksing commented on #9704
After confirmation, the db file created by bbolt-v1.3.1 cannot be successfully opened by bbolt-v1.3.0, so this should be the compatibility issue.

[2018-05-11 02:53] C0reFast opened #9720 "member panic when adding to a existing cluster"
we use a modified etcd-operator, when we trying to restore a cluster from a backup, the seed member is running and online,then the operator trying to add a member to the cluster, than the new member crashed, this is happening when the old cluster is auth enabled,if the old cluster's auth is disabled, the backup works fine.
here is the crash logs:

[code]

[2018-05-11 03:29] ericchiang commented on #9713
This seems like a fine solution. It's low overhead, doesn't introduce new APIs. etc.

On a side note, bcrypt is supposed to be a bottle neck, and the fact that we're working around that probably indicates that bcrypt isn't a good fit for this use case. As I mentioned in the original issue (https://github.com/coreos/etcd/issues/9615), I think a different kind of credential would be a more wholistic

[2018-05-11 08:04] krish512 commented on #8001
I tried to update the /usr/lib/systemd/system/etcd-member.service to add listen_client_urls and other variables but the file is readonly. Tried via root user as well. The file permission is 544, owner and group is root:root

Anyone facing similar issue?

[2018-05-11 08:07] #9704 closed

[2018-05-11 16:22] ericchiang opened #9721 "Security disclosure process"
Etcd needs to link to its security disclosure process. Issues like https://github.com/coreos/etcd/issues/9696 are probably better for private threads :)

Consider adding a link to https://coreos.com/security/disclosures ([example here](https://github.com/coreos/dex#reporting-a-security-vulnerability)).

The etcd team might also consider creating a private mailing list since:
* The `@coreos.com` do

[2018-05-11 17:00] jxuan commented on #9696
I opened https://github.com/dgrijalva/jwt-go/issues/263 for jwt-go and asked them to support using private key to verify JWT signature.

[2018-05-12 09:05] FlyingOnion opened #9722 "How many copies of peer info should we maintain?"
In etcd, when we want to add a peer, at least 3 functions are called.
`raft.Node.ApplyConfChange`, `rafthttp.Transport.AddPeer`, `membership.RaftCluster.AddMember`
That means we have to maintain at least 3 copies of peer information? How could these information got sync?

[2018-05-12 16:49] xiang90 commented on #9722
These copies are maintained by a top-down call in sequence. When the call returns, everything is in sync.

[2018-05-12 16:49] #9722 closed

[2018-05-13 07:25] lunakaer opened #9723 "json watch function not work"
Please read https://github.com/coreos/etcd/blob/master/Documentation/reporting_bugs.md.
json watch not work for v3 api , when put value cant receive response
 as the example:
curl -L http://localhost:2379/v3alpha/kv/put \
  -X POST -d '{"key": "Zm9v", "value": "YmFy"}'

[2018-05-14 16:43] gyuho commented on #9723
Please try

[code]

[2018-05-14 16:43] #9723 closed

[2018-05-14 16:55] gyuho commented on #9720
This should be fixed via https://github.com/coreos/etcd/pull/8695

https://github.com/coreos/etcd/blob/8a9b3d53857554df347e8b80a42961c88f3dc14f/auth/simple_token.go#L119-L124

which is not backported to v3.2.

Can you try v3.3+?

[2018-05-14 16:59] gyuho commented on #9719
Could you clarify on this?

You would add a member with peer URLs with https scheme, not client URL. So, the new member is technically exposing client ports. The new member would still need to start with client TLS.

[2018-05-14 17:35] ericchiang commented on #9696
@jxuan thanks for raising this concern. In the future if you believe you've found a security vulnerability, please disclose it to our private mailing list :)

https://coreos.com/security/disclosure/
https://github.com/coreos/etcd/pull/9724

[2018-05-14 18:19] #9721 closed

[2018-05-14 22:09] #9294 closed

[2018-05-15 00:02] jxuan commented on #9696
Sure. Thanks for clarifying!

[2018-05-15 00:05] jxuan commented on #9695
Any update on the fix?

[2018-05-15 00:46] C0reFast commented on #9720
yeah v3.3.4 works fine.

[2018-05-15 00:46] #9720 closed

[2018-05-15 01:45] hexfusion commented on #9695
@jxuan sorry for the delay didn't get much done this weekend. Will hop on this Tuesday should have an update soon.

[2018-05-15 05:04] tamalsaha commented on #9719
I meant to say that any client can add a Member. I wonder if the `AddMember` should be supported via a separate privileged endpoint where peer certs are required.

The other way to ask the question is is there any downside of adding lots of members (assuming one of my client is rouge)?

[2018-05-15 06:09] lunakaer commented on #9723
I am sorry, i have tried but it still not work, the etcd version I used is the latest v3.3.5,  I export ETCDCTL_API=3 in my system environment.

first i watch the key foo with curl:
[code]
then i put the value with etcdctl:
[code]
but the curl watch cant receive any message.

and then i try watch with ectdctl
[code]
this can receve the change of the key foo.
so is there something wrong with the us

[2018-05-15 07:43] ahakanbaba commented on #8418
@heyitsanthony does the /debug/requests endpoint exist in etcd release 3.1 ? If not, is there a way to log incoming read/write requests for v3 store in etcd 3.1 ?

[2018-05-15 07:49] maximecaron commented on #7489
Does this mean that running Etcd on Windows is not a supported scenario ?

[2018-05-15 09:13] AnberLu opened #9725 "watch: Unavailable many times"
the etcd cluster is use for the event etcd for kubernetes;
but my prometheus show:
[code]

[2018-05-15 12:43] AnberLu commented on #9725
Deadlock problem, who knows how to solve it?

etcdserver/api/v3rpc/watch.go
[code]

### Recurring problems

- start  etcd

[code]

- benchmark watch  in etcd v3

[code]

- benchmark result

[benchmark_1.log](https://github.com/coreos/etcd/files/2004981/benchmark_1.log)

- curl the metrics

cmd:

[code]

result:

[code]

-  etcd debug log

[code]

[2018-05-15 17:18] gyuho commented on #7489
@maximecaron etcd on Windows is considered experimental https://github.com/coreos/etcd/blob/master/Documentation/op-guide/supported-platform.md.

[2018-05-15 17:46] gyuho commented on #9719
Yes. Any client can add a member.

Current authentication design does not support this (it only supports roles for key ranges). I think it's reasonable to support roles for member APIs, since member add can easily affect the cluster availabilities.

[2018-05-15 20:14] jxuan commented on #9713
I like this idea, but I am afraid that it can be very complex to share in memory cache among etcd server nodes. I like ericchiang's comments here.

Several other things I'd like to suggest to alleviate this problem:
1. Clients do not use a fixed order to connect to etcd server nodes. Each client should choose a random server node to connect to each time. Otherwise, if all clients share the same li

[2018-05-15 21:49] gyuho commented on #9655
@swade1987 Any updates?

[2018-05-16 01:03] JuneZhao commented on #9668
@gyuho  Any comments on this?

[2018-05-16 04:58] jxuan commented on #9615
@gyuho When do you think that this change will be released? It is not in 3.3.5.

[2018-05-16 08:06] swade1987 commented on #9655
@gyuho sorry I have been off work ill the past week, happy for you to close this and I will ping you on slack if I require it to be re-opened when I get around to looking into it again next week.

[2018-05-16 09:26] swade1987 commented on #9655
@gyuho still having the same issues.

[2018-05-16 10:41] kundanatre commented on #7349
Works for me too Thanks

[2018-05-16 11:42] pjmike opened #9726 "Error: etcdserver: requested lease not found"
[root@iz2zeaf3cg1099kiidi06mz etcd]# export ETCDCTL_API=3
[root@iz2zeaf3cg1099kiidi06mz etcd]# etcdctl put test hello
OK
[root@iz2zeaf3cg1099kiidi06mz etcd]# etcdctl lease grant 10
lease 694d6368b4edc60e granted with TTL(10s)
[root@iz2zeaf3cg1099kiidi06mz etcd]# etcdctl put --lease=694d6368b4edc60e test2 world
Error: etcdserver: requested lease not found
[root@iz2zeaf3cg1099kiidi06mz etcd]#

how t

[2018-05-16 11:51] hexfusion commented on #9726
@pjmike try

`etcdctl put --lease 694d6368b4edc60e test2 world`

[2018-05-16 11:59] hexfusion commented on #9726
it is interesting though as we do document your usage [Grant Lease](https://github.com/coreos/etcd/blob/abe5c9c63eeff89396d027fcbde98d1e137358d0/Documentation/dev-guide/interacting_v3.md#grant-leases)

[2018-05-16 12:13] hexfusion commented on #9725
This warning generally happens when your watch client closes. Since you have 20 records above and `benchmark  watch  --streams 20` I believe this is expected as I imagine benchmark cleans up after it runs. You can replicate this by setting a watch with etcdctl then Ctrl + C to kill and watch your logs.

[2018-05-16 12:35] hexfusion commented on #9726
@pjmike yes but this is because your TTL "time to live" is only 10 seconds right so to me this is expected.

Try this `etcdctl lease grant 240`

[2018-05-16 12:44] pjmike commented on #9726
@hexfusion yes ,it did.Thank you.

[2018-05-16 12:45] hexfusion commented on #9726
@pjmike you are welcome remember TTL begins count as soon as it is granted.

[code]

[2018-05-16 12:47] hexfusion commented on #9726
I will fix up the documenation unless you would like to issue PR @pjmike ?

[2018-05-16 15:48] pjmike commented on #9726
No,I wouldn't like to issure PR.I just hope the documenation can be fixed up.Thank you once again.

[2018-05-16 16:37] buoto opened #9727 "clientv3/concurrency: NewSTM could accept interface"
Right now [clientv3/concurrent/stm](https://github.com/coreos/etcd/blob/master/clientv3/concurrency/stm.go) depends on pointer to *cv3.Client. This forces users of `NewSTM` to depend on `clientv3.Client` too, which makes the code to unit test and breaks DIP.

STM uses only two `Client` methods: `Ctx() context.Context` and `Txn() Txn`. Both of them return interfaces. In that case `Client` could be

[2018-05-16 17:06] hexfusion commented on #9695
@jxuan have you had a chance to test this? Would like for you to sign off on this before we merge.

[2018-05-16 17:30] gyuho commented on #9714
Have you tried transaction?

[2018-05-17 00:26] #9670 closed

[2018-05-17 00:27] gyuho commented on #9639
Closing due to inactivity.

[2018-05-17 00:27] #9639 closed

[2018-05-17 00:29] gyuho commented on #9613
Please make sure to delete the data directory, and start fresh. If you still have issues, or can reproduce, open a new issue.

[2018-05-17 00:29] #9613 closed

[2018-05-17 02:27] lsytj0413 commented on #9714
I hava noticed that the transaction can meet this requirments, But as far as I know it can only be a CAS approach. the fack code is:
`
get the old value
use transcation compare and set
`

my question is when there is a lot of client do the increasing, some client will failed at compare and need to do this code again, is there a way to avoid this ? or is just i misunderstand the transaction?

[2018-05-17 02:33] gyuho commented on #9714
@lsytj0413 It will be atomic even with the multiple clients. Your application would need to handle the errors, if it fails.

[2018-05-17 02:40] lsytj0413 commented on #9714
I know the transcation is atomic. Consider the following scenario:

1. client1 get the old value 1
2. client2 get the old value 1
3. client1 try use transaction add and set value to 2(the compare is value == 1)
4. client1 success
5. client2 try use transaction add and set value to 2(the compare is value == 1)
6. client2 failed, because the value is 2 at this moment
7. client2 get the old value2 an

[2018-05-17 16:32] yudai commented on #9715
https://github.com/coreos/etcd/blob/master/clientv3/concurrency/mutex.go#L70

When `werr` is non nil, `m.Unlock(client.Ctx())` should be called?

[2018-05-17 17:59] gyuho commented on #9715
@yudai Yeah, I think we should do that, as we do

https://github.com/coreos/etcd/blob/610dd0911dace1c6a5d637e1d9c7c7bcb2bec4aa/clientv3/concurrency/mutex.go#L73-L74

Do you want to work on it with a test case?

[2018-05-17 18:32] yudai commented on #9715
Ultimately, if `Unlock()` fails, the stale data can left behind? I think `Unlock()` can fail when an etcd node goes down since there is no retry for `Delete()`.
We might want to renew the lease itself to make sure that stale lock entries are deleted.

[2018-05-17 18:47] gyuho commented on #9715
@yudai I will double-check on such case. Currently, working on something else. Thanks.

[2018-05-17 19:10] gyuho opened #9734 "auth: improve test coverage"
Package auth current test coverage is 56% https://codecov.io/gh/coreos/etcd. Improve coverage *where it makes sense*. For example, `HasRole` is not being tested https://codecov.io/gh/coreos/etcd/tree/master/auth. And panic from JWT token https://github.com/coreos/etcd/issues/9695 should have been prevented by unit tests.

[2018-05-17 19:31] anvinjain commented on #8550
An option to update lease associated with a key will be welcome. This is a common pattern for LRU eviction. Right now, I will have to resort to:

[2018-05-17 22:11] gyuho commented on #9171
Just as an update: we are making retry number configurable, in the process of rewriting balancer https://github.com/coreos/etcd/issues/9106. More fine-grained retry policy can be extended later.

[2018-05-17 22:44] heyitsanthony commented on #8418
@ahakanbaba it's in 3.2 (https://github.com/coreos/etcd/blob/release-3.2/embed/serve.go#L241) but not 3.1 (https://github.com/coreos/etcd/blob/release-3.1/embed/serve.go#L188). There's no nice logging mechanism for v3 requests in 3.1 afaik.

[2018-05-18 08:16] crazyleeyang opened #9739 "client cancel watch then the server always log "no leader""
when cancel watch by client, the server always log "no leader".then i read the file https://github.com/coreos/etcd/blob/master/etcdserver/api/v3rpc/watch.go, and found the follow logic always hit **case <-stream.Context().Done()**. The original code as follow:
[code]

then i modify the code as follow:
[code]
then the logic can hit **case err = <-errc**.

I think the select will randomly hit a bran

[2018-05-18 08:54] barnettZQG opened #9740 "when etcdserver down, Reject client CPU leakage."
when etcd-server down and not restart quickly. client will  CPU leakage. It's mainly the following code.
https://github.com/coreos/etcd/blob/ad4e8e94905a3feac3b18511774e242f9d0f860b/clientv3/watch.go#L836:27
[code]
if error not nil, there are always errors on the server side. so, Why not delay retry?
[code]

[2018-05-18 11:17] safm opened #9741 "Transaction HTTP API not working to update key after upgrading to 3.3.5"
After upgrading my local etcd to 3.3.5, the transaction HTTP API is not working to update the value of a key. Inserting a new one is working but update is not.

url: http://localhost:2379/v3alpha/kv/txn
[code]

I am getting the below response
[code]

Note: I am trying using Postman so `{{setKeyName}}` is created using pre-request script.

[2018-05-18 19:29] #7287 closed

[2018-05-18 19:31] gyuho commented on #9741
Can you provide reproducible steps?

[2018-05-18 19:54] gyuho commented on #9641
Thanks @hexfusion

I am closing this.

[2018-05-18 19:54] #9641 closed

[2018-05-18 19:56] gyuho commented on #9740
Related https://github.com/coreos/etcd/issues/9578.

We are actively working on clientv3 balancer rewrite. Once ready, we will address this as well.

[2018-05-18 19:59] gyuho commented on #9499
Jut an update: We've decided to go with round robin, with new clientv3 balancer (will be released with v3.4). For every request (given that sent from one shared client), loads will be balanced between multiple nodes.

[2018-05-18 20:04] gyuho commented on #9325
Maintaining hashes for every single mutable operation would be too costly. I don't think it's necessary now. If users have real use case, please let us know.

[2018-05-18 20:04] #9325 closed

[2018-05-18 20:06] gyuho commented on #9428
I am closing this for now. This is a feature that needs to be supported from upstream gRPC gateway. Please open an issue on gRPC gateway.

[2018-05-18 20:06] #9428 closed

[2018-05-18 20:09] #9021 closed

[2018-05-20 20:07] justinsb commented on #6420
I'm likely misunderstanding, but don't Raft's cluster membership rules prevent this happening?  In the example given originally, we wouldn't have a strict majority of the new (2 member) cluster and thus the cluster membership change must fail.

[2018-05-21 00:26] sevillalarry opened #9747 "systemd service"
(I'm not sure if this is the right forum.  If not pls point me to the correct site.)

I'm trying to setup OpenStack environment with AntiX as host.

I tried to install with the guide from “https://docs.openstack.org/install-guide/”
I used the ubuntu portion since both ubuntu and antiX are derived from debian.

But stopped at “https://docs.openstack.org/install-guide/environment-etcd-ubuntu.html”
a

[2018-05-21 12:51] socketpair commented on #9428
@gyuho please point me to the github repository where I should report this feature.

[2018-05-21 14:42] gyuho commented on #9428
@socketpair Can you open an issue at https://github.com/grpc-ecosystem/grpc-gateway?

[2018-05-21 14:43] gyuho commented on #9747
You can check out http://play.etcd.io/install.

[2018-05-21 14:43] #9747 closed

[2018-05-21 17:27] tkellen commented on #9398
Seeing the same with v3.3.5 after debugging coreos/etcd-operator#1962.

[2018-05-21 17:34] tkellen commented on #9398
Resolved by adding client auth as an extended key usage in my cfssl config as recommended here (and evidently missing based on error output):
https://coreos.com/os/docs/latest/generate-self-signed-certificates.html

[2018-05-21 18:04] gyuho commented on #8862
We got to reduce it to <15-minute for critical tests (unit, integration, <20-min for functional tests). But, tests running in Jenkins (proxy, coverage, etc.) still takes >30-min. Will reduce it more in v3.5 release cycle.

[2018-05-21 22:32] gyuho commented on #6420
@justinsb

Correct.

Once you add a new member to a single node cluster, the quorum number becomes 2. That is why the `member add` command to a single-node cluster cannot be reverted. That is, if `member add` was done wrong but still committed, you can not remove it with `member remove` command, now that the quorum is 2.

We want to prevent such `member add` request either by requiring time-outs o

[2018-05-21 22:33] gyuho commented on #6420
Moving to v3.5. We still have many others things planned for v3.4.

[2018-05-22 01:30] prasenforu opened #9750 "ETCD not showing metric & version"
I am using  Openshift Origin (3.9) CentOS7 with following infrastructure.
OS : CentOS Linux release 7.5.1804 (Core)

1 MASTER (10.09.1.205)
3 ETCD (10.90.1.205,10.90.1.206,10.90.1.207)
2 Infra
3 Nodes

Installation done using ansible.

Openshift & ETCD Cluster running fine

![image](https://user-images.githubusercontent.com/19322497/40338351-3d1fc6a8-5d92-11e8-9d4b-e1343ecd2fbe.png)

Want to get P

[2018-05-22 02:11] davissp14 opened #9751 "( Ruby Client ) gRPC Proxy - GRPC::Cancelled: 1:unknown cause"
There was an issue that cropped up today that's preventing users from using `LeaseKeepAliveRequest` when connecting to through gRPC proxy using the Ruby etcdv3 client.
https://github.com/davissp14/etcdv3-ruby

**Details**
Etcd Version: 3.3.3

Setup:  Single local Etcd node with single local grpc proxy.

**Steps to reproduce:**

1. Start up a local Etcd Node and gRPC Proxy

2. Install etcdv3 gem
[c

[2018-05-22 03:14] wuyinghaoPHP opened #9752 "When a service goes down, because the ttl mechanism won't get the suspended node, why does the master need to monitor the service node changes stored in etcd."
When a service goes down, because the ttl mechanism won't get the suspended node, why does the master need to monitor the service node changes stored in etcd.

[2018-05-22 18:32] gyuho commented on #9752
Can you explain your issue with more detail?

I don't understand this?

[2018-05-22 18:44] gyuho commented on #9751
Hmm, are you using gRPC v1.12? etcd still depends on gRPC v1.7.x.
We plan to upgrade to v1.12 though (for v3.4).

[2018-05-22 18:45] gyuho commented on #9750
How is your etcd configured? Default configuration `/metrics` endpoint works for me.

[2018-05-22 19:20] davissp14 commented on #9751
Nah, I was just testing gRPC 1.12  to see if it made a difference. The gem is currently pinned at gRPC 1.6.7.

Holding off on unpinning 1.6.7 until this gets resolved: https://github.com/grpc/grpc/issues/15314

[2018-05-22 19:27] gyuho commented on #9751
I see.

So, this doesn't happen in v3.2 gRPC proxy?

[2018-05-22 19:33] davissp14 commented on #9751
I just tested 3.2.6 and the issue is still present.

[2018-05-22 19:50] hexfusion commented on #9695
Fixed by https://github.com/coreos/etcd/pull/9698

@jxuan please let us know if you have any issues.

[2018-05-22 19:50] #9695 closed

[2018-05-22 20:40] hexfusion opened #9753 "gRPC gateway to 1.4"
gRPC gateway team released 1.4.0 a few days ago. I would like to start testing and maybe get this into 3.4 if practical. The [Bazel support](https://github.com/grpc-ecosystem/grpc-gateway/commit/289beb39aef12492572e3bd569fcbf3ad2e28f54) seems interesting.

https://github.com/grpc-ecosystem/grpc-gateway/releases/tag/v1.4.0

ref: https://github.com/coreos/etcd/issues/9189

[2018-05-22 21:05] gyuho commented on #9753
Can you upgrade our gRPC gateway dependency and bump up genproto script with latest gRPC gateway? Similar to https://github.com/coreos/etcd/pull/9754.

[2018-05-22 22:58] #9753 closed

[2018-05-23 02:49] prasenforu commented on #9750
As I told initially it's through sensible which comes with installation of open shift.

[2018-05-23 05:05] gyuho commented on #9750
Still not related to etcd. It cannot even get version information.
How do you write to etcd? How is API server configured?

[2018-05-23 05:17] gyuho commented on #9751
Hmm, did lease keep alive once API ever work with Ruby client? We haven't changed anything in lease API, for awhile.

[2018-05-23 07:02] prasenforu commented on #9750
Insallation done by Anisible playbook, I have not done any special configuration.

ETCD Cluster also showing healthy from Master server.

![image](https://user-images.githubusercontent.com/19322497/40408413-101e2142-5e85-11e8-9034-35a8532dc93b.png)

[2018-05-23 07:10] gyuho commented on #9750
Try metrics on https://ose-etcd1.tcs-ally.tk:2379 with TLS certs?

[2018-05-23 13:23] YeruchamB opened #9758 "Release including fix to passwords in logs"
Hey, when can I expect a release that includes this fix?
https://github.com/coreos/etcd/pull/9636

[2018-05-23 13:35] hexfusion commented on #9758
Hi @YeruchamB this was cherry-picked into #9661 although I do not see it specifically in 3.4 yet I imagine 3.4 release. Perhaps because of its secure nature, this might get backported as well but I am not sure.

/cc @gyuho @mitake

[2018-05-23 13:47] hexfusion opened #9759 "Merge Swagger specs into single file."
gRPC gateway team released 1.4.1 yesterday which adds https://github.com/grpc-ecosystem/grpc-gateway/pull/658. This feature has been a long time coming and would allow us to programmatically merge our 3 Swagger specs files into a single spec. We could continue to provide the 3 separate files for a time plus a merged spec or move all specs to a single file as of 3.4.

For those looking to consume t

[2018-05-23 14:30] gyuho commented on #9758
It was never released. Will be in 3.4.

[2018-05-23 14:30] #9758 closed

[2018-05-23 20:53] rvernica opened #9763 "Picks up http_proxy in env and gets confused"
I have a single node etcd setup. My network also uses a `http_proxy/https_proxy` for Internet access. When using `etcdctl`, it seems to be picking up and using the `http_proxy` and the results are quiet confusing:
[code]
The workaround is to set `no_proxy` for `0.0.0.0`:
[code]
Version info:
[code]

[2018-05-23 21:18] rvernica commented on #9763
A better workaround is to *not* use `0.0.0.0` for `ETCD_ADVERTISE_CLIENT_URLS`. Using fully qualified host names is better as `no_proxy` can be set for the domain name and everything works.

Also, using `etcdctl` from other hosts works as well since they don't try to connect to `0.0.0.0` which would fail from a remote host. The `--debug` flag was helpful in figuring this out.

[2018-05-24 01:55] rinsozheng opened #9768 "Is there any other side effects when the system clock differs on each node"
Please read https://github.com/coreos/etcd/blob/master/Documentation/reporting_bugs.md.

We are running 3 ETCD nodes, the time on each node synced with NTP server, while for some time, the operation system clock differs with each other(because of NTP network issue on some nodes), it keeps getting the below information from the logs:
---
2018-05-23 17:00:29.475936 W | rafthttp: the clock difference

[2018-05-24 02:07] xiang90 commented on #9768
you should fix your clock. or TTL or lease might be effected.

[2018-05-24 02:07] #9768 closed

[2018-05-24 04:09] prasenforu commented on #9750
can u please provide example, I have very less experience in certificate.

[2018-05-24 07:05] tangle329 opened #9770 "Confused about network tuning section"
In Documentation/tuning.md, it saied peer traffic can be prioritized by using the traffic control mechanism:

[code]

But for me it should be:
[code]

The change is: For 2379 port we should put the flow to 1:2 not 1:1 class. Am i right?

[2018-05-24 09:18] xvuudao commented on #5244
I'm using etcd Version: 3.1.4 and got the same issue. Was the fix applied to this version ?

[2018-05-24 09:19] rohansuri commented on #9685
Hi @yaojingguo, is this the same issue as #8091 ?

[2018-05-24 11:58] hexfusion commented on #9770
Hi @tangle329 in the example we are showing the root handle 1: then we prioritize 2 ports on the root class, 1:1. The resource allocation for the root class should be the sum of its children so assigning these rules to the root would be just an example. But in this example, I think it makes sense to use root 1:1 and then prioritize based on port. Thus both ports have full access to the root class'

[2018-05-24 12:59] yaojingguo commented on #9685
No, this is a different from #8091.

[2018-05-24 13:05] prasenforu commented on #9750
Fixed. Thank you.

[2018-05-24 13:05] #9750 closed

[2018-05-24 17:04] jpbetz opened #9771 "Proposal: Increase quota-backend-bytes default to 8GB"
Now that the bbolt freelist no longer persisted, we should consider increasing the etcd default storage limit to **8GB**.  We could potentially go higher, but this keeps the snapshot/restore operations to roughly 1 minute. We can always increase this further in future releases based on feedback.

Based on the data below:

- etcd's size limit should never exceed the memory available to it.  If runn

[2018-05-24 17:06] gyuho commented on #9771
Interesting. How did we measure restore latencies?

[2018-05-24 17:16] xiang90 commented on #9771
What is your memory size? When dB size grows beyond the memory size, the perf will decrease significantly

[2018-05-24 17:17] xiang90 commented on #9771
A more interesting test is how etcd performs when the free list contains a lot of pages and the write size is small.

[2018-05-24 17:17] jpbetz commented on #9771
For restore lateness, we measured how long `bin/etcdctl snapshot restore snap.out` took.  This is for a single member cluster, I'd like to do a 3 member cluster next. For that one I'm thinking of stopping a single member, nuking it's DB, starting it again. To get the timing for the 3 member case I guess I'll need to poll either the endpoint status or the cluster-health?

[2018-05-24 17:21] jpbetz commented on #9771
@xiang90 Good idea. I'll try a test where we do a bunch of puts/deletes with small objects and see what happens at the bbolt layer when we're allocating against a large freelist with high fragmentation.

[2018-05-24 17:28] xiang90 commented on #9771
@jpbetz

I think the big jump around 52GB is because of this issue.

[2018-05-24 17:30] gyuho commented on #9771
The main motivation to *soft-limit* database size was about mean time to recovery. So, I would also measure how long it takes to rebuild its state on restart `mvcc.New`, as @xiang90 suggests.

[2018-05-24 17:48] jpbetz commented on #9771
Sounds good.  I've added the machine stats to the description. I'll try with a range of object sizes incl. very small to get more data on worst case recovery times.

[2018-05-25 01:03] rinsozheng commented on #9768
Thanks!

[2018-05-25 02:13] vimalk78 commented on #9583
@gyuho , i have looked into the issue and i see two options.

option 1 : trim the value returned by `endpointsFromCmd(cmd)`
https://github.com/coreos/etcd/blob/master/etcdctl/ctlv3/command/global.go#L139

option 2: there is an "ip slice" flag in `vendor/github.com/spf13/pflag/` which can trim the spaces
https://github.com/coreos/etcd/blob/master/vendor/github.com/spf13/pflag/ip_slice.go#L39
we can

[2018-05-25 02:29] wenxuwan opened #9776 "When rejoin cluster, the instance used the old ID"
Hi

The issue occured again(#9613). I have three instance mn-0,mn-1,sn-2. Then reboot mn-1(The folder will be removed, and use etcdctl remove/add the member mn-1 into the cluster).

May 22 21:02:40.910031 Nokia-RCP2-Redundant-MEMORY-FCI2-0522mn-1 create-etcd-conf[1082]: The member in cluster, we need remove it and join again
May 22 21:02:40.910031 Nokia-RCP2-Redundant-MEMORY-FCI2-0522mn-1 create-e

[2018-05-25 16:51] ercliou opened #9779 "File based user configuration"
I'd like to suggest seeding pre-populated users through a config file.
This is particularly useful when habilitating CN authentication (even more when we're able to create user without passwords https://github.com/coreos/etcd/issues/9590).
So we wouldn't have to mess with the API.

Currently, when I need to create some users. The process looks like this:
[code]

The file based configuration could

[2018-05-25 19:47] gyuho commented on #9416
@yudai @heyitsanthony I will run some benchmarks to measure the overhead of canceling each watcher on closing channel receive, from client-side. Or investigate if it can be easily handled in storage layer.

[2018-05-27 00:54] bearrito opened #9781 "[Documentation] Specify Location of Snapshot files when using wals-dir"
It isn't clear from the current documentation if snapshot files will land in the wals-dir (if set) or in the data-dir

https://coreos.com/etcd/docs/3.2.17/op-guide/configuration.html#member-flags

[2018-05-27 07:59] tangle329 commented on #9770
@hexfusion  Thanks

[2018-05-27 07:59] #9770 closed

[2018-05-27 09:35] keekun commented on #9685
I tested #8091 in the same way with @yaojingguo 's, with a same small defaultSnapCount and snapshotCatchUpEntriesN at the same time. But there are differences.

The bug in #8091 makes the example get stuck when restarted, but not be panic. I notice the code of raft example has changed a lot recently, so I'm not sure if these bugs related.

[2018-05-27 16:38] #9583 closed

[2018-05-28 03:35] prabhatpankaj opened #9782 "problem on adding controller-2 machine to existing 2 controller-0 and controller-1 cluster"
[code]
I updated initial-cluster controller-0 by adding controller-2 as
[code]

I followed the the steps as per  https://github.com/ivanfioravanti/kubernetes-the-hard-way-on-azure
. my initial multi controller cluster worked perfectly .

but after adding more controller and then i updated all pem file and its settings file ,

still i am getting errors for controller-2 machine as .

[code]
[code]

[2018-05-28 12:07] hexfusion commented on #9782
This error means that the client can not connect to the server and times out.

If your cluster is using TLS you need to listen on https ^ .Also you will need to pass --cacert, --cert, --key flags to etcdctl.

`ETCDCTL_API=3 etcdctl --cacert /path/ca.pem --key /path/key.pem --cert /path/cert.pem etcdctl member list.`

You can also choose to set the flags with ENV variables as outlined here.

https:

[2018-05-28 12:53] vimalk78 commented on #9779
good suggestion.

but passwords need to be stored as encrypted

[2018-05-28 13:43] vimalk78 commented on #9600
@joelegasse , if you are not working on this i would like to take it up.

[2018-05-28 13:49] joelegasse commented on #9600
@vimalk78 All yours. :-) Thank you

[2018-05-28 14:28] hexfusion commented on #9781
"Path to the **dedicated** wal directory. If this flag is set, etcd will write the WAL files to the walDir rather than the dataDir. "

hi @bearrito the documentation doesn't mention snap dir directly here as it is the documentation for the wal-dir flag. It does say that it is a dedicated directory for the WAL file which makes sense to me.

But here we outline more technical details about the snaps

[2018-05-28 15:04] hexfusion commented on #9779
ref: https://github.com/coreos/etcd/issues/9581

[2018-05-28 20:53] bearrito commented on #9781
I assumed as much, but the issue was not clear to me as snapshot files and wal files seem to differ in some important ways.

We are hitting what looks to be the 500 Node problem in terms of etcd io. My use case is that I wanted to write snapshots to persistent but slower storage while allowing the wal files themselves to be stored on the faster but ephemeral local storage.  Similar to the approach

[2018-05-28 20:53] bearrito commented on #9781
I believe this can be closed as resolved.

[2018-05-29 00:35] #9781 closed

[2018-05-29 03:19] JinsYin opened #9785 "ETCD with TLS showing warning "transport: authentication handshake failed: remote error: tls: bad certificate""
I refer to the following two articles:

## Initialize a certificate authority

[code]

## Generate server certificate

[code]

## Etcd Server

[code]

[2018-05-29 05:58] JinsYin commented on #9285
Solved.

 I replaced the **server certificate** with the **peer certificate**. Although it seems unreasonable.

#9785

[2018-05-29 07:46] mitake commented on #9590
I can start working on this after merging https://github.com/coreos/etcd/pull/9730

[2018-05-29 11:42] xulove opened #9786 "internal/poll"
#internal/poll
![2018-05-29 19-41-28](https://user-images.githubusercontent.com/19432629/40656867-627656c4-6378-11e8-8bc3-6cb1edf60b01.png)

how can i save this problem ?

[2018-05-29 16:58] hexfusion commented on #9785
@JinsYin your config defines _server_ profile as  server auth only while _peer_ profile has both server auth and client auth extensions. I see how this is confusing as the example uses server in the file name.

WARNING: 2018/05/29 11:17:10 Failed to dial 127.0.0.1:2379: connection error: desc = "transport: authentication handshake failed: remote error: tls: bad certificate"; please retry.

So it s

[2018-05-29 17:27] gyuho commented on #8910
/cc @spzala

[2018-05-29 17:51] gyuho commented on #9786
What Go version are you using?

[2018-05-29 18:14] #9691 closed

[2018-05-29 18:38] hexfusion commented on #9741
@safm any update here if we can see clear simple example to reproduce we can try to resolve.

[2018-05-30 00:56] xulove commented on #9786
thinks。It's ok after  updating my Go version 1.6 to 1.9.

[2018-05-30 03:07] JinsYin commented on #9785
@hexfusion I agree. My confusion is why etcd server needs client auth.

[2018-05-30 03:31] vielmetti commented on #5054
What's the distance right now between "unsupported" and "supported" arm64 etcd?

I don't see any evidence of unusual behavior on that platform reported recently.

[2018-05-30 03:43] safm commented on #9741
@gyuho

Upgrade to ETCD v3.3.5 from v3.2. Then make a HTTP POST call using [Postman](https://www.getpostman.com).

Since ETCD is installed locally the URL that I am making HTTP POST call is http://localhost:2379/v3alpha/kv/txn. In the POST call I am passing the below mentioned JSON as the body.

[code]

The POST call is adding a key to the ETCD if is not already present. If the key already exists

[2018-05-30 03:50] JinsYin commented on #9785
When I set the `--client-cert-auth` parameter to `false`, the warning was gone. So I guess that etcd will do a health check as a client internally.

[code]

[2018-05-30 22:15] jpbetz commented on #9360
We're seeing similar issues etcd clusters serving kubernetes events where the lease count is in the 200k+ range. xref https://github.com/kubernetes/kubernetes/issues/47532

[2018-05-30 22:31] jpbetz commented on #9360
@xiang90 I completely agree. At the very least we could improve to have a lease per time bucket (minute) and use that lease for all events for all events that should expire in that time bucket. This would reduce the default lease count to 60.

[2018-05-31 09:50] fmazoyer commented on #8320
Hi everyone,
I have no etcd/security knowledge :-), so I might be asking dumb questions.

Our Security team ran a scan on all our local systems and reported this:
`Linux,2379,TLS/SSL Server Supports The Use of Static Key Ciphers,"Disable TLS/SSL support for static key`
 * Is this ectd issue linked to 'Sweet32' vulnerability?
 * Is there a known workaround?

Thanks a lot for your help :-)

[2018-05-31 10:46] andybrown668 opened #9791 "revoke access to subset of keys not working"
having this structure of keys in etcd:
/config/k1
/config/k2
...
/config/k100

I want the guest user to be able to access all keys except k2.

Following these steps:

1. create root user
2. enable authentication
3. revoke read/write access on guest role to path /*
4. grant read access on guest role to path /config
5. try to revoke read/write access on guest role to path config/k2

Step 5 fails:
`

[2018-05-31 11:07] hexfusion commented on #8320
Linux,2379,TLS/SSL Server Supports The Use of Static Key Ciphers,"Disable TLS/SSL support for static key

Hi @fmazoyer what version of etcd was this scan against?

[2018-05-31 11:14] fmazoyer commented on #8320
Hi @hexfusion thanks for the swift reply :-)

It's docker's quay.io/coreos/etcd:v3.2.4

[2018-05-31 21:13] xiang90 commented on #9791
/cc @mitake

[2018-06-03 20:27] maninalift opened #9798 "minor readme terminology change"
Apologies if this just seems like pedantry.

Your readme confused me briefly because it talked about a "bi-weekly" (which means twice a week) meeting when I think it should say "fortnightly".

[2018-06-04 01:33] hexfusion commented on #9798
Hi @maninalift, welcome!  I am not sure if using fortnightly adds much clarity though as it is not a commonly used word in the US. Biweekly does technically mean every other week _or_ twice a week, since we also explicitly set Tuesday as the day for the meeting this eliminates that ambiguity.

https://en.wikipedia.org/wiki/Biweekly

Going to close this, but I appreciate taking the time to make the

[2018-06-04 01:33] #9798 closed

[2018-06-04 16:30] sithembiso opened #9800 "Raft question: Snapshotting and Compaction on disk based storage"
I'm trying to implement a disk-based storage driver for Raft using SQLite as a datastore and I want to confirm my understanding of these two concepts. Before I continue, I must state that the reason for my use of SQLite is to have a datastore that is easy to query without duplicating data. But also, I would love to have an option to never discard any data (unless there are perfomance related issue

[2018-06-04 20:33] ahakanbaba opened #9802 "How to understand the destination of each GRPC request from clientv3 to etcd server ?"
We are running clientv3 v3.0.17 and etcd server 3.1.13.

There are 3 etcd servers in our cluster. As far as we know, the etcd clientv3 pins to a particular etcd server as long as the "connection is healthy".

We would like to understand which etcd server process is used for each gRPC call.  Is there a way to achieve this ?

## Some context.

We run etcd in kubernetes 1.6.13 as its storage backend.

[2018-06-04 21:16] gyuho commented on #9802
We do not expose that information, since it does not really matter. All requests are forwarded to leader automatically.

Why do you need this information?

[2018-06-04 21:50] ahakanbaba commented on #9802
@gyuho  For this use-case it is mostly debugging. We think there is a system level issue and this information would help.

We believe something funky is happening between the kube-api-server and the etcd.
In order to increase understanding it would help significantly if we know to which etcd server the api-server is talking for each request.

[2018-06-05 05:12] YeruchamB opened #9803 "ProgressNotification failures"
Hey, I'm running my own agent which is a wrapper for an etcd client watching for changes.
The code seems to be working and when i update keys i can see that the watcher catches those updates but for some reason, every 6-11 minutes or so, the watcher will return an empty response..
This response isn't a progress notification, or at least wresp.IsProgressNotify() return false since the wr.Header.Rev

[2018-06-05 06:24] ahakanbaba opened #9804 "Provide a way to enable client side grpc prometheus histogram metrics."
Etcd server side has a mechanism to enable grpc [histogram](https://github.com/grpc-ecosystem/go-grpc-prometheus#histograms) metrics [here](https://github.com/coreos/etcd/blob/438e6750ee4dd3861c83514e405adf2f3e437e4c/embed/etcd.go#L673).

Is it possible to add a mechanism for the etcd.clientv3 side to enable equivalent histogram metrics ?
It could be a config parameter added into the [clientv3.Con

[2018-06-05 06:47] sithembiso commented on #9800
### Re: What's in the `Data` field of the snapshot? Is it all the entries in the log?
After further reading, I think I'm misunderstanding the point of the log.

**Initially**
I thought the point of log replication is to end up with an identical log in all the nodes, which made me believe that it's about keeping every entry that ever existed so that new nodes end up with an identical log.

**Now**

[2018-06-05 07:17] cwx559275 commented on #5664
Hi. Does anybody know the root reason of this problem like "panic: bda4ffc1bc48207d state.commit 472372997 is out of range [472308405, 472310039]"?? And in which version it has been fixed already ????
please tell me.

[2018-06-05 10:42] hubo1016 opened #9805 "move-leader command on cluster with TLS enabled is not working"
I have a cluster with 5 nodes, all of them in etcd v3.3.5.

- TLS is set on both client authentications and peer authentications.
- Authentication is enabled
- Client is using the root user certification.

All the other functions are working properly, but the new `move-leader` command does not work. The following error log is reported in the server log:

[code]

client command line is:

[code]

[2018-06-05 10:44] hubo1016 commented on #9805
https://github.com/coreos/etcd/blob/8ee3f5aaac4e5bfb27a7704005dbfe7241d69555/etcdctl/ctlv3/command/move_leader_command.go#L55-L61

Looks like `etcdctl` is just ignoring the TLS options

[2018-06-05 16:09] joelegasse commented on #9791
@andybrown668 The short answer is "no", but I'll try to explain a bit more in detail.

etcd doesn't have negative permissions, meaning there is no such thing as a "DENY" permission. By default, when you turn authentication on, all access is denied (except for the `root` role, which can access everything by default). When you then run a `grant-permission` command, you're adding "holes" that allow a

[2018-06-05 16:46] andybrown668 commented on #9791
ah, ok - sounds like I need to redo how I'm storing keys then; I'm using etcd for storing configuration settings in this example (although I use it for more than that too).

Some of those settings should only be read/writable by specific microservices so I'd wanted to apply guest role permissions down at the key level with a DENY rule to keep things simple.

It's a bit of an issue because the perm

[2018-06-05 17:13] joelegasse commented on #9791
The permission model without a DENY rule makes the model simpler and easier. It means that as soon as you find a permission that allows the access, you can return immediately from rule processing.

Having DENY rules could have the corresponding problem: How do you create a "hole" in the DENY range? What happens when multiple roles conflict with ALLOW vs. DENY? Which role takes precedence? Keeping

[2018-06-05 22:46] #9805 closed

[2018-06-05 23:03] jpbetz commented on #9771
I've updated the testing based on the feedback here.  The new flow creates a larger number of small objects, many of which get deleted over time and compacted, producing free list entries in bolt as well as putting pressure on the snapshot and restore operations.

[2018-06-05 23:50] xiang90 commented on #9771
If we randomly write to a 100M keyspace at a rate around 15k/s, the possibility of key overwriting is pretty low. So I am not sure if the compaction actually does anything.

[2018-06-05 23:51] xiang90 commented on #9771
regardless, I think 16GB is a reasonable goal that we can achieve with some effort in short term.

[2018-06-06 00:03] jpbetz commented on #9771
Hm. Running time was about 1 day, so about 12 writes per key. Not a lot of compaction or history.  I'll drop that down to 1M keys and see what happens the next time we run this.

[2018-06-06 00:16] xiang90 commented on #9771
@jpbetz I also want to see what happens when the majority of the 16GB db pages are all in its free pages. That is the extreme case. If boltdb can still perform well, then great :P. Or we might need to do some optimization there.

[2018-06-06 00:19] kchristidis opened #9809 "raft: What prevents a restarting node from replaying CommittedEntries"
Consider the case where a Raft node crashes halfway through (or even right after) the processing of `CommittedEntries` from a `node.Ready` message.

When that node restarts what prevents it from re-applying the `CommittedEntries` that it had already applied (before crashing) in its application?

Remember that we did not have a chance to save a snapshot that includes this applied index to the WAL y

[2018-06-06 05:35] ballerabdude opened #9810 "it"

[2018-06-06 05:37] #9810 closed

[2018-06-06 06:41] Wang-Kai opened #9811 "Maybe clientv3/naming package has depend issue"
my code
[code]
Issue
[code]

#### What awful the package manager is in golang , do you know how can i solve it ?

[2018-06-06 12:42] chgitcrazy opened #9812 "server memory highly load due to too many connections？"
Our Environment and Config:
os: centos 6
etcd Version: 3.2.11
Git SHA: 1e1dbb2
Go Version: go1.8.5
Go OS/Arch: linux/amd64
Etcd config:
name: 'etcdserver-test02'
data-dir: /usr/etcd/data
wal-dir: /usr/etcd/data/wal
snapshot-count: 5000
heartbeat-interval: 1000
election-timeout: 5000
quota-backend-bytes: 0
listen-peer-urls: https://192.168.1.100:2380
listen-client-urls: https://192.168.1.100:2379
m

[2018-06-06 19:49] cristifalcas opened #9816 "etcd 3.1.12 auth with certificates doesn't work"
In a standard kubernetes installation with kubeadm version 1.10.3, the default etcd installed is version 3.1.12.

If I'm trying to enable authentication with certificates, it complains that it can't find the user:
[code]

If I upgrade the etcd server to version 3.2.18, it works correctly.

[2018-06-06 20:46] cristifalcas commented on #9816
Before using "etcds get / --keys-only=true --prefix", I defined an alias:
[code]
Antyway, it doeasn't work even if I use the entire command:
[code]

[2018-06-06 20:50] hexfusion commented on #9816
@cristifalcas I saw that but it's not passing auth unless I am missing something.

ETCDCTL_API=3 etcdctl --cacert=${DIR}/etcd/ca.crt --cert=${DIR}/apiserver-etcd-client.crt --key=${DIR}/apiserver-etcd-client.key --endpoints=localhost:2379 get / --keys-only=true --prefix

My example passes auth `--user=root:secretpass`

[2018-06-06 20:58] cristifalcas commented on #9816
Sorry, i didn't catch that. My issue is that it's not using the CN from the certificate as the user

[2018-06-06 21:05] hexfusion commented on #9816
@cristifalcas I see then I was confused :), the good news is it is easily explained as CN client auth was added in 3.2.

https://github.com/coreos/etcd/commit/0191509637546621d6f2e18e074e955ab8ef374d

[2018-06-06 21:08] #9816 closed

[2018-06-06 22:06] gyuho commented on #9771
I'm seeing the similar pattern with small values (100 KB).

I also logged growing freelist size (if we keep writing data, the freelist size grows up to 2 GB for 10 GB DB). And it doesn't seem to have much effect (writing large values would slow down quicker, with much less freelist).

Tested with 10 GB db file restore, and see most of time spent on rebuilding MVCC storage here

https://github.com/

[2018-06-07 03:34] eugene-chow commented on #9285
I can confirm that the errors occur on kubernetes v1.10.3 with etcd v3.3.5. The error appears when kubelet calls apiserver's healthz endpoing like what @KashifSaadat said. Manually calling `curl -k https://localhost:6443/healthz` triggers this as well.

Does anyone know why this is happening?

[2018-06-07 07:55] mitake commented on #9791
@joelegasse thanks a lot for your accurate and detailed explanation. I agree.

@andybrown668 I understood your motivation. But if we work on this feature, we need to be very careful for not allowing counterintuitive access to keys.

[2018-06-07 09:22] tutulove1234 opened #9818 "when will the watch chan close ?"
etcd version : 3.2.15
os : CentOS Linux 7
Hi ,
I use watch to watch range key's update event , but when I down my network for a while and up it , what will happen about the watchChan for range loop ?
something like this :
[code]
So , I'm so confused that when client network crashed , what will happen about watchChan ?
When will the watchChan be closed ?

I had tried so many times , but still not s

[2018-06-07 12:02] hexfusion commented on #9811
hi @Wang-Kai per the [Clientv3 get started guide](https://github.com/coreos/etcd/tree/master/clientv3#get-started)

"For full compatibility, it is recommended to vendor builds using etcd's vendored packages, using tools like golang/dep"

To do this you need to install dep https://github.com/golang/dep and place your project code within $GOPATH/src.

So for example my $GOPATH looks like this `/home

[2018-06-07 13:34] hexfusion commented on #9803
Hi, @YeruchamB I believe this is caused by watching on a compacted revision? So in this case revision 10 is no longer available but your code restarts the watcher thinking it is recovering from other issue and fails because revision does not exist? Have not really dug into this but perhaps it's a theory to explore further.

ref: https://github.com/coreos/etcd/issues/8668

[2018-06-07 14:01] YeruchamB commented on #9803
Hi @hexfusion, we don't compact the kv store so that shouldn't be the cause... I took a look at the #8668 and I don't believe this is the same issue...

The reason I have that functionality written into the code is that when we redeploy our service or during rare failure states, the etcd cluster may shut down non-gracefully and no response is ever returned by the watcher. This way, the watcher wil

[2018-06-07 17:58] gyuho commented on #9804
@ahakanbaba Do you have an easy workflow in mind? Even if we enable histogram in client side, one still needs to start a separate Prometheus to server metrics data. And normally, client object is short-running. Wonder how this can be easily done.

[2018-06-07 19:38] gyuho commented on #9818
@tutulove1234 It can be closed when the context you passed is canceled.

[2018-06-07 19:39] #9818 closed

[2018-06-08 01:35] #9811 closed

[2018-06-08 01:58] LiangShang commented on #9818
Hi @gyuho , thanks for your answering. But will the context be automatically closed if the network between the etcd server and client breaks? If not, how could the etcd client detect the network failure?

[2018-06-08 03:59] Wang-Kai opened #9823 "How to use etcdnaming , the doc is not detailed"
my code

service.go
[code]

client.go
[code]

then put k/v into etcd manually, result is

➜  ~ etcdctl3 get --prefix=true ""
user/127.0.0.1:10013
{"Op":0,"Addr":"127.0.0.1:10013","Metadata":null}

But  it can't run correctly

➜  client go run client.go
2018/06/08 11:57:30 rpc error: code = Unavailable desc = there is no address available
exit status 1

[2018-06-08 07:51] 2008820 opened #9824 "field.go:33: syntax error: unexpected = in type declaration"
when  go get github.com/coreos/etcd/clientv3, occur error：

my go version 1.80
plz, how to resultion!!

[2018-06-08 08:10] motecshine commented on #9166
`[root@irain217 kube-dashboard]# etcdctl -version
etcdctl version: 3.2.11
API version: 2`

`
Jun 08 15:55:14 irain217 etcd[26005]: failed to receive watch request from gRPC stream ("rpc error: code = Unavailable desc = stream error: stream ID 67; CANCEL")
Jun 08 15:55:14 irain217 etcd[26005]: failed to receive watch request from gRPC stream ("rpc error: code = Unavailable desc = stream error: stre

[2018-06-08 09:05] liudechi7 opened #9825 "distributed dead lock"
Using a distributed lock, two programs compete to acquire locks, each maintaining the lock's associated lease id's expiration time (keepAliveOnce). When the lock program is terminated, theoretically the expiration time is reached, the lock should be released, and another program acquires the lock, but the actual Failed to get the lock. This problem is not easy to reproduce（The production environme

[2018-06-08 10:07] hexfusion commented on #9824
[code]
@2008820 to build latest etcd requires 1.10.1

from https://github.com/uber-go/zap#installation

"Note that zap only supports the two most recent minor versions of Go."

[2018-06-08 10:07] #9824 closed

[2018-06-08 15:55] #9506 closed

[2018-06-09 07:02] MikeSpreitzer commented on #9566
I am seeing "timed out waiting for read index response" complaints when rebooting a non-leader.  I am using etcd release 3.2.19 to support Kubernetes release 1.10.3.  The Kubernetes api-servers log a burst of Trace dumps with total times in the range 4--7 seconds, when the etcd leader logs that timeout message.  See https://docs.google.com/document/d/1atgspqSeWlxJi_5xhjidnPKzvGwwGWskIiu7PmSnd5Y .

[2018-06-10 00:55] liggitt opened #9829 "Setting cfg.DialTimeout makes clientv3.New blocking"
Constructing a client with `clientv3.New()` without cfg.DialTimeout set is a non-blocking call if the etcd server is not available.

https://github.com/coreos/etcd/blob/bb744f6d2b2715ec4aac696e0de51c75955334a8/clientv3/client.go#L427-L448

It is *very* counter-intuitive that setting DialTimeout makes `New()` a blocking call (and requires the server to be available).

Is there a reason that `client

[2018-06-10 03:47] lishuai87 commented on #9809
recover to last snapshot
https://github.com/coreos/etcd/blob/master/etcdserver/server.go#L400

[2018-06-10 10:24] deitch opened #9830 "etcd 3 crashing after adding new node - no stack trace"
Read.

1. I am running etcd3 in docker on ec2 via quay.io/coreos/etcd:v3.2.7
2. I have a healthy 3-node cluster up and running.
3. I add a new node via `member add <name> <url>`
4. I run `cluster-health` and `member list` and it shows then 3 existing nodes healthy, cannot reach the new node (since I haven't started it)
5. I take the config from the `member add` output, add it to te env for the new

[2018-06-10 11:33] YeruchamB commented on #9803
I think i might have some idea of what going on...
Is it possible that when auth is enabled, once a token becomes invalid, the watch returns and the authentication token isn't renewed?
I've changed my code around a bit and now notice that after a while, the watch just keeps being bombarded with this empty response. At the same time, i'm seeing a whole lot of invalid token warnings on the servers.

[2018-06-10 13:34] deitch commented on #9830
I think it was the issue above reference. I upgraded to `3.3.7` and everything is running smoothly. Closing out.

[2018-06-10 13:34] #9830 closed

[2018-06-10 15:35] kchristidis commented on #9809
@lishuai87: As I noted above:

So recovering to the last snapshot alone should _not be enough_ to prevent replaying.

[2018-06-10 15:39] kchristidis commented on #9809
My take on the right answer:

Whenever you process a committed entry, the application is expected to record to permanent storage the corresponding applied index. Upon restarting then, the application restores this index to memory, and when presented with the last snapshot, it does not replay entries before that index.

TL;DR — make sure your application stores the most recently committed entry ind

[2018-06-11 02:58] tutulove1234 commented on #9818
It's seems that etcd's compaction deleted the old revision which I just used to watch .  The watch response structure has a func named Err() , the detail will be writed in the error string .

[2018-06-11 05:33] sudeeshjohn opened #9831 "etcd integration_e2e test "TestV3CurlCipherSuitesMismatch" is failing"
test log:

[code]

etcd version: 3.3.0+git

[2018-06-11 05:57] sudeeshjohn commented on #9831
Full log:
[etcd-e2e.txt](https://github.com/coreos/etcd/files/2088834/etcd-e2e.txt)

[2018-06-11 12:54] hexfusion commented on #9831
Hi @sudeeshjohn what version of go did you use to compile? Please show the output of `etcd --version`.

[2018-06-11 17:08] gyuho commented on #9831
This succeeds in our CI environment. Can you share your machine spec?

[2018-06-11 17:51] gyuho commented on #9829
@liggitt

We wanted to simulate [`grpc.WithBlock`](https://godoc.org/google.golang.org/grpc#WithBlock) in etcd layer. Current behavior is 1) no dial timeout to block forever until connection up, and 2) dial timeout to wait up to a fixed amount of time until connection up.

Agree that this should be documented better. We are almost done with client v3 balancer rewrite, and will make sure to documen

[2018-06-11 17:55] liggitt commented on #9829
the current behavior of client.New is "no dial timeout means New doesn't block and connection attempt happens in the background"

[2018-06-11 18:01] gyuho commented on #9829
Yes, this is accurate. Will improve our docs. Thanks!

[2018-06-11 19:33] LogicalChaos opened #9833 "Empty key not allowed during get with prefix/fromKey using namespace in golang, 3.3.7"
Looking at this issue, https://github.com/coreos/etcd/issues/5323, I would expect to be able Get using an empty key both WithPrefix and WithFromKey within a namespace enabled client.  Etcd (version 3.3.7) server launched with no parameters`etcd`.

Without namespace:

1.   Works: clientv3.Get WithPrefix
1.   Works: clientv3.Get WithFromKey
2.   Works: ETCDCTL_API=3 etcdctl get ""  --prefix
3.   Wor

[2018-06-11 20:22] glevand commented on #5054
@vielmetti The Container Linux [kola test suite](https://github.com/coreos/mantle#kola) does etcd tests, and those have been passing, so I think etcd itself is working OK on arm64.

There have been some improves made to the project's CI/testing recently, and that needs to be updated to work on arm64.  My feeling is that in the least the arm64 equivalents of the `linux-amd64-*` targets of the proje

[2018-06-12 05:52] sudeeshjohn commented on #9831
Hi @gyuho I use upstream go version and I'm running it on a docker environment.

etcd version:

[code]

[code]

[2018-06-12 09:58] hectorj2f commented on #9285
We see the same log entries here with Kubernetes `1.10.4` and etcd`v3.3.7`.

[2018-06-12 14:30] davissp14 commented on #9751
Any updates?

[2018-06-12 15:41] Sideris35 opened #9836 "Configure local discovery url"
HI all,

I install magnum in Openstack infrastructure, magnum use ETCD when he create a cluster.
When i create a cluster I have this error: Failed to get discovery url from 'https://discovery.etcd.io/new?size=1'

It's normal, in my infra i don't have internet.
My question is, how can i build a discovery URL ? for exemple i want to etcd get discovery from http://localhost/new?size=1.

This is the c

[2018-06-12 18:05] acxlam commented on #9266
@xiang90 @yudai  May I know if there was discussion about multi data table support by other followers before? Appears to us that ETCD is positioned as a special kind database and it may be natural for databases to have more than one table/collection.  By this means, it may also be natrual for proxy to retrieve data  from different clusters as different tables, too? Compatibility would still be pre

[2018-06-12 18:37] hexinw opened #9837 "etcdctl check current leader for a given election name"
Hi,

Is there any command to check current leader for a given election name? Something like the following to return current leader information.
    etcdctl elect <election_name> get

[2018-06-12 20:04] detiber commented on #9785
I found this issue as I was troubleshooting issues that arose during an etcd upgrade from 3.1.x to 3.2.x using kubeadm. After some debugging I was able to determine that the new (as of etcd 3.2.x) client usage requirement of the serving certificate is due to the use of the server certificate as a client certificate for the grpc gateway.

This requirement doesn't appear to be documented in any of t

[2018-06-12 23:16] schallert opened #9839 "grpc-proxy hangs under high load with no start revision"
Hey folks,

I'm running some benchmarks to validate etcd for a watch-heavy production workload and am running into an issue when incorporating the grpc proxy into the test. The issue only occurs when clients to the proxy do not specify a start revision for their watch request, and it only occurs when there roughly 3500 unique clients.

## Cluster

The cluster consists of 5 nodes. 3 nodes are in re

[2018-06-13 04:45] liggitt commented on #9578
big +1 to a minimal fix here that can be picked back to 3.2.x and 3.3.x streams. the impact of the hotloop is pretty severe.

a simple backoff (start fast, multiply backoff, cap at 100ms) took our client application from 700% CPU consumption when etcd was down to 10%.

the Unavailable error code description explicitly references retrying with a backoff:
https://github.com/coreos/etcd/blob/88acced1

[2018-06-13 16:51] gyuho commented on #9831
@sudeeshjohn Maybe `curl` version is different in your container image `Go OS/Arch: linux/ppc64le`? Can you copy and paste the output of `EXPECT_DEBUG=1 go test -v -run TestV3CurlCipherSuitesMismatch` in your environment?

[2018-06-13 23:08] manishrjain opened #9847 "Slice bounds out of range in raft library"
Please read https://github.com/coreos/etcd/blob/master/Documentation/reporting_bugs.md.

Version:
[code]

[code]

[2018-06-13 23:11] gyuho commented on #9847
Could you provide a simple test case?

[2018-06-13 23:11] manishrjain commented on #9847
For whatever reason, this is happening repeatedly. I've never seen this before though.

[2018-06-14 05:41] sudeeshjohn commented on #9831
attaching the debug log
[TestV3CurlCipherSuitesMismatch.txt](https://github.com/coreos/etcd/files/2100926/TestV3CurlCipherSuitesMismatch.txt)

[2018-06-14 08:35] sudeeshjohn opened #9850 "etcd unit test fails for etcd/raft in ppc64le"
Please read https://github.com/coreos/etcd/blob/master/Documentation/reporting_bugs.md.

Test test is running in a docker env . This fails in ppc64le too.

ENV:

root@ee6399fb6e87:/go/src/github.com/coreos/etcd# ./bin/etcd --version
etcd Version: 3.3.0+git
Git SHA: 03cec4a
Go Version: devel +7bab1ee Thu Jun 14 02:58:06 2018 +0000
Go OS/Arch: linux/amd64
root@ee6399fb6e87:/go/src/github.com/coreos/

[2018-06-14 08:37] sudeeshjohn commented on #9850
error message is pointing to the below part of the code:
[code]

[2018-06-14 13:49] nvtkaszpir opened #9851 "etcd 3.2.20 single node cannot start, logging 'etcdserver: publish error: etcdserver: request timed out'"
**etcd version:** v3.2.20
**docker version:** Docker version 18.03.1-ce, build 9ee9f40
**host info:**
[code]

**Symptoms:**
Unfortunately this happens randomly, but we noticed this happens on fresh ectd start, when data directories are empty.
Sometimes fresh single node etcd in docker cannot start, logs are spammed with message:
[code]
Moreover, any etcdctl commands end with `Error:  context deadl

[2018-06-14 13:51] gyuho commented on #9851
What's your configuration?

[2018-06-14 13:51] nvtkaszpir commented on #9851
Just edited first post, see attached .tar.gz.

[2018-06-14 14:47] nvtkaszpir commented on #9851
also noticed that when tried to run etcd v3.2.22 on the same data, then etcd also cannot start.

[2018-06-14 17:11] gyuho commented on #9851
Where do you configure `192.168.7.121` and what flags do you pass to etcd? Please try without docker. Pretty sure this is something with docker. Also check out https://github.com/coreos/etcd/blob/master/Documentation/op-guide/container.md.

[2018-06-14 17:12] gyuho commented on #9850
@sudeeshjohn Can you help debug and fix this? We have no access to `ppc64le`.

[2018-06-14 17:14] gyuho commented on #9836
Try https://github.com/coreos/discovery.etcd.io#docker-container? Also, `discovery.etcd.io` is not maintained. I would not use it in production.

[2018-06-14 17:14] #9836 closed

[2018-06-14 19:36] ravigadde opened #9852 "How to limit number of keys with same prefix?"
Is there a recommended way to limit number of keys with the same prefix? I am thinking if new key creation can be combined with this check in an atomic manner. Current comparators work on value, would it be possible to include count in the comparator?

[2018-06-14 19:43] glevand commented on #9850
@gyuho Maybe something like this?
[code]

[2018-06-14 19:59] gyuho commented on #7828
We will start documenting internals of etcd https://etcd.readthedocs.io/en/latest.

[2018-06-14 22:29] shailvipx commented on #9589
Seeing this in 3.3.1. Attaching metrics.

[etcd-3.3.1-metrics.txt](https://github.com/coreos/etcd/files/2104214/etcd-3.3.1-metrics.txt)

[2018-06-15 04:34] sudeeshjohn commented on #9850
@gyuho its not specific to ppc64le, I see this in amd64 also

[code]

[2018-06-15 04:40] gyuho commented on #9850
@sudeeshjohn That's strange. Could you run with `VERBOSE=1 make test`? I want to see which test has failed. Can't reproduce in my amd64 machine.

[2018-06-15 05:05] sudeeshjohn commented on #9850
@gyuho I think below patch to the golang is doing a check on the function arguments , is causing this failure ;

https://github.com/golang/go/commit/c00603607511701ecc9f56fd82ac528ecf6b8fc6#diff-8fa5b0d6191706747ef5773f895781c9

Something like below should fix the issue;

sudeeshjohn:~/Workspace/Automation/IBMPrivateCloud/src/etcd$ git diff
diff --git a/raft/logger.go b/raft/logger.go
index 92e55b

[2018-06-15 06:32] gyuho commented on #9850
@sudeeshjohn Oh, that should be fixed. Do you want to send a PR to fix it? Thanks!

[2018-06-15 06:35] nvtkaszpir commented on #9851
192.168.7.121 is a second network interface dedicated for communication between certain apps, etcd is one of them.
within tar.gz file there is ```volumes/etcd/config.yml``` which is used by etcd to load its vars.

[2018-06-15 06:59] sudeeshjohn commented on #9850
@gyuho sure ..will send noe

[2018-06-15 07:11] sudeeshjohn commented on #9850
sent a PR https://github.com/coreos/etcd/pull/9853

[2018-06-15 17:38] #9850 closed

[2018-06-15 18:50] jpbetz opened #9855 "Add progress operation to watch API"
There is currently no general way to check how far a watch stream has progressed relative to a specific etcd `revision`.  The `revisions` in watch events are only enough to establish a lower bound for the `revision` the watch stream has progressed past. It would be useful for the client to be able to query "what's the progress of this watch stream?" and get a "this watch stream has received all ev

[2018-06-15 19:18] gyuho commented on #8673
Another use case https://github.com/kubernetes/kubernetes/issues/59848#issuecomment-368746846

apiserver crashes and watch cache performs its initial list at RV=10
kubelet deletes pod at RV=11
a new pod is created at RV=12 on a different node
kubelet crashes
apiserver becomes partitioned from the etcd majority but is able to reestablish a watch from the partitioned member at RV=10
kubelet contacts

[2018-06-15 19:35] jpbetz commented on #8935
Fix is in bbolt `coreos/bbolt v1.3.1-coreos.5`. Main summary is on https://github.com/coreos/etcd/pull/8813#issuecomment-344158430 and the backport to 3.1 is https://github.com/coreos/etcd/pull/8902.

[2018-06-15 19:36] #8935 closed

[2018-06-15 19:40] gyuho commented on #9855
Q. How `WatchProgressRequest` would be different than  `WatchCreateRequest` (that returns all events since the specified revision)? Would it duplicate all fields from `WatchCreateRequest`?

[2018-06-15 19:58] jpbetz commented on #9855
I don't think it would need any of the fields.  It just indicates to the server and a progress indicator is desired in the response stream as soon as possible.  And a progress indicator can be global to a watch stream, it just need to provide the highest possible revision number that server can guarantee all watch events in the future will be higher than.

[2018-06-15 23:57] gyuho commented on #9556
Should be all fixed via https://github.com/coreos/etcd/pull/9860.

[2018-06-15 23:57] #9556 closed

[2018-06-15 23:58] gyuho commented on #9171
Should be all fixed via https://github.com/coreos/etcd/pull/9860 and https://github.com/coreos/etcd/pull/9840. We may make it configurable once the official gRPC retries becomes stable.

[2018-06-15 23:58] #9171 closed

[2018-06-15 23:58] gyuho commented on #9106
Should be all fixed via https://github.com/coreos/etcd/pull/9860.

[2018-06-15 23:58] #9106 closed

[2018-06-16 01:31] gyuho commented on #9209
Clearly documented via https://github.com/coreos/etcd/pull/9860.

[2018-06-16 01:31] #9209 closed

[2018-06-18 17:41] joelegasse commented on #9847
@manishrjain If you could provide some simple steps, even if it's just "start dgraph like this", we would really appreciate it. Even some more context, like if this is a brand new dgraph node or a longer-running node? Does this happen all the time on every dgraph instance or did this get triggered on a single node, and just that node is panicking repeatedly?

[2018-06-18 18:13] joelegasse commented on #9791
I'm going to close this issue because the permission system is working as intended. Redesigning the permission system to include DENY-style rules can be left to future discussions/versions.

[2018-06-18 18:13] #9791 closed

[2018-06-18 19:57] uluyol commented on #8934
I don't mean to comment on very old threads, but this is an important problem that I would like to see solved.

I think what @janardhan1993 was getting at was witness replicas as they exist in non-Raft consensus protocols. Google for instance, appears to use them in Spanner and previously with Megastore. Unlike Raft, Paxos replicas do not need to store the full operation log, allowing the use of [

[2018-06-18 20:59] xiang90 commented on #9855
@jpbetz

Right. This exactly matches my expectation.

[2018-06-19 10:46] liudechi7 commented on #9825
@gyuho
We reproduced this issue (etcd to open authentication), two programs run for a week, actively kill the program which gets the lock, and another program tries to acquire the lock failed. The following error appears:
Etcd server error：
2018-06-19 18:26:14.254749 W | auth: invalid auth token: hRRXZQIsFGsHuBFM.3313791
Jetcd error:
Caused by: java.util.concurrent.ExecutionException: io.grpc.Stat

[2018-06-19 19:01] ravigadde commented on #9852
@gyuho The intent is to limit creation of keys in a prefix to a certain number. The use case is tracking resource allocation of a constrained resource. Each key corresponds to a single unit of the resource.  Want to cap maximum number of keys to the total number of resources. If the resource allocation can be done using a primitive, it makes the failure handling a lot easier.

[2018-06-19 19:24] raoofm opened #9867 "why make-mirror documentation shows read only"
I was trying to use make-mirror for [replicating vault data across region](https://github.com/coreos/vault-operator/issues/330).

[Documentation](https://github.com/coreos/etcd/blob/master/etcdctl/doc/mirror_maker.md) on this mentions

I think this is not true. We can as well write to the mirrored etcd cluster and infact in the same prefix.

This needs some clarification. I can correct it with a P

[2018-06-19 22:52] gyuho commented on #9852
@ravigadde

Currently, there is no way to limit the number of key writes per namespace.

I would try pre/suffix-ing your own key with index, to keep track of how many resources have been created.

[2018-06-19 22:54] gyuho commented on #9867
@raoofm Yeah, it would still accept writes, technically. So, we need clarification on docs. Could you help improve? Thanks!

[2018-06-19 23:06] xiang90 commented on #9867
probably mention that the copy is uni-directional. changing the value on the mirrored cluster wont reflect the value back to the origin cluster.

[2018-06-20 15:51] Klmanjaro opened #9871 "Need help in figuring out etcd cluster health"
Greetings.
here is the response from test etcd nodes:
#:curl -L --cacert ./ca.pem --cert ./client.pem --key ./client-key.pem https://10.x.x.x:2379/v2/keys/message -XPUT -d value="Hello world"
{"action":"set","node":{"key":"/message","value":"Hello world","modifiedIndex":17,"createdIndex":17},"prevNode":{"key":"/message","value":"Hello world","modifiedIndex":16,"createdIndex":16}}
here is the outpu

[2018-06-20 16:40] Klmanjaro commented on #9871
Ignore this question. Looks like it is good and working.
thanks

[2018-06-20 16:40] #9871 closed

[2018-06-20 17:38] gyuho commented on #8673
And just to clarify, currently require leader metadata must be passed to prevent this:

[code]

[code]

[2018-06-20 19:41] dbanttari commented on #9596
Follow-up for anyone who finds this later:  we used Wireshark to trace the "failures" to Calico polling etcd for network metadata, some elements of which didn't exist (eg `bgp as_num`), which produced a legit 404.  So, if you have an app that legitimately creates 404s when looking for data that may or may not exist, you may need to tailor this alert to ignore that normal behavior.

[code]

[2018-06-20 21:28] manishrjain commented on #9847
It happened on one node, and then just repeatedly happened for that node. It was a brand new dgraph node.

[2018-06-21 07:58] peradel opened #9873 "unexpectedly high leader election rate"
In our Kubernetes Cluster we observe a leader election rate of about 150 per day.

After moving the etcd from VMs to bare metal, the rate of ca.3-5/day increased to  150. In general, the latencies have improved by around a factor of 10, just not the leader elections. We have 5 nodes running version 3.3.3.

How many leader elections are normal?

[2018-06-21 08:28] alpha-li opened #9874 "How to show v3 debug-level logging"
When --debug flaog is set, only v2 related debug-level logging is printed. So how can I show the debug-level logging for v3 API?

[2018-06-21 09:05] jiaxuanzhou commented on #9873
leader election  is impacted by io of network and disk, i think you need to check the latency of the disk io and rtt of the network.

[2018-06-21 09:52] EwanValentine opened #9875 "Question: watching, or fetching with a wildcard"
Hi folks,

Apologies if this is the wrong place for a question. I'm using the Golang client (v3). I'm attempting to Watch, and Get with a wildcard, it doesn't seem to be possible, but I thought I'd check if there was a way of doing it. Currently I'm attempting:

[code]

Codewise, I'm doing:

[code]

[code]

This doesn't seem possible, but I wondered if there was some other way to achieve this?

Th

[2018-06-21 12:36] peradel commented on #9873
As described above, the latency has dropped.
DBsyn are 7ms
WALsync is 1ms
ping icmp_seq = 7 ttl = 64 time = 0.117 ms

Unfortunately, the leader elections have risen

[2018-06-21 16:30] gyuho commented on #9874
@alpha-li `--debug` flag should enable v3 debug logs. Please let us know if you don't see expected debugging logs.

[2018-06-21 16:30] #9874 closed

[2018-06-21 16:31] gyuho commented on #9875
You can watch by prefix https://godoc.org/github.com/coreos/etcd/clientv3#WithPrefix:

[code]

[2018-06-21 16:31] #9875 closed

[2018-06-21 16:57] #9852 closed

[2018-06-21 17:12] gyuho commented on #9833
Try `kv.Get(context.Background(), "\x00", clientv3.WithFromKey())`?

[2018-06-21 17:15] gyuho commented on #9831
It seems this specific test only fails in ppc64le, because of different curl version. Closing since it's an external tooling issue. If you can try `cipher-suites` flag, and let us know if it works in ppc64le or not, it would be great.

[2018-06-21 17:15] #9831 closed

[2018-06-21 20:36] #9867 closed

[2018-06-21 21:16] yudai opened #9877 "clientv3: clientv3.New() won't return error when no endpoint is available"
What's observed
-----------------

With `clientv3` on the master branch (7648841bad1ef56d83e568ae006f0bb2dc9e917a), `clientv3.New()` won't return any error even when no endpoint is available to connect.

The following reproduction code doesn't panic with master, while the same code with v3.3.x panics.

[code]

Breaking Change?
-------------------

I assume this behavior change has been introduced

[2018-06-21 21:33] gyuho commented on #9877
I misread, somehow. I will investigate more.

[2018-06-21 21:49] phemmmie opened #9878 "Etcd Cluster setup with ansible"
Please read https://github.com/coreos/etcd/blob/master/Documentation/reporting_bugs.md.

Hello
I desperately need your help in Deploying an etcd cluster with the specification below.

Provision an etcd cluster to serve as a service registry using ansible. Create a simple  service that will register itself on etcd so that it's discoverable by other services.

*   Automate the creation of the etcd c

[2018-06-21 23:10] gyuho commented on #9877
Confirmed `DialOptions: []grpc.DialOption{grpc.WithBlock()},` would return errors like old client, but without this dial option, connect happens in background returning the client object before initial connection.

We plan to document this clearly (ref https://github.com/coreos/etcd/issues/9829). Also, need more research about enabling it by default (since you cannot disable `WithBlock` once confi

[2018-06-21 23:22] hexfusion commented on #9878
Hi @phemmmie we don't support ansible but here is a few reference docs to get you started. Please let us know if you have etcd specific questions once you get the ansible bits going.

* https://github.com/coreos/etcd/blob/master/Documentation/op-guide/clustering.md
* https://github.com/kubernetes/contrib/tree/master/ansible/roles/etcd

[2018-06-21 23:22] #9878 closed

[2018-06-22 02:52] alpha-li commented on #9874
If --debug flag is set, when I access etcd through the v2 API, the "[GET] or [PUT]" loging is shown, but there is no similar logging for the v3 API.

[2018-06-22 07:48] sudeeshjohn commented on #9831
@gyuho btw, its not specific to ppc64le , I see this in amd64 also

[TestV3CurlCipherSuitesMismatch_intel.txt](https://github.com/coreos/etcd/files/2126728/TestV3CurlCipherSuitesMismatch_intel.txt)

[2018-06-22 10:40] phemmmie commented on #9878
Thanks so much but how can I provision an etcd cluster.to do service
discovery and registration.

Thanks so much in anticipation

On Fri, Jun 22, 2018, 12:22 AM Sam Batschelet <notifications@github.com>
wrote:

[2018-06-22 11:30] hexfusion commented on #9878
If you would like to run etcd as a service please review the systemd examples. You can also look for examples of systemd that use rkt to deploy etcd. This is pretty common with container linux.

* https://github.com/coreos/etcd/tree/master/contrib/systemd/etcd3-multinode.

* https://coreos.com/etcd/docs/latest/platforms/container-linux-systemd.html#etcd-3x-service

[2018-06-22 11:37] hexfusion commented on #9878
I misread your question, still early here. But please spend some time in the docs and feel free to come back with specific questions.

https://github.com/coreos/etcd/blob/master/Documentation/dev-internal/discovery_protocol.md

[2018-06-22 11:46] phemmmie commented on #9878
Thanks so much.

but here is the exact specification sir

Provision an etcd cluster to serve as a service registry using ansible.
Create a simple  service that will register itself on etcd so that it's
discoverable by other services.

*   Automate the creation of the etcd cluster using ansible;

*  The etcd cluster should contain at least 2 nodes;

* etcd should automatically start on after the VM

[2018-06-22 12:15] hexfusion commented on #9878
:) I think this is for your devops team not etcd support. The reference docs I provided should be enough to get going on this list.

[2018-06-22 16:06] shsjshentao commented on #8935
So anyone knows how to fix it in 3.0.17 if happened this problem? Any workrounds? I tried remove member and add member again, it does not work and shows the same error.

[2018-06-22 23:06] LogicalChaos commented on #9833
Neither fails anymore by using a key of `\x00`.  But, `WithPrefix()` returns no data, `WithFromKey()` returns all the data.  That does matche the etcdctl behavior if the key `\x00` is passed, but is not what I'd expect.

[2018-06-23 05:31] sudeeshjohn commented on #9831
@gyuho that test passes;

[code]

[2018-06-24 02:40] omnimose opened #9881 "potential issue in unstable.maybeTerm function?"
In func maybeTerm:

[code]
If unstable has snapshot, u.maybeLastIndex may return (u.snapshot.Metadata.Index, true) as below:

[code]
for this case, unstable should not have any entries, so below line of maybeTerm may fail?

[code]

[2018-06-24 21:54] ttyS0 commented on #9285
I'm still seeing this with Kubernetes `1.10.5` and etcd `v3.3.8`.

[2018-06-25 08:02] EwanValentine commented on #9875
@gyuho - I saw that used in the following format in the examples, `foo1, foo2` etc, can that be anything, for example, `foo-bar`?

[2018-06-25 10:43] Funcan opened #9882 "client v3 queue recipe seems to leak memory"
Using the following to stuff items into a queue:
[code]

And the following to pull them out:
[code]

(The source runs faster than the sink so kill it once there's a good number of items in the queue)

When I run this, I see that both the RSS and the virtual size of the sink process rises continuously.

Basic attempts looking for the memory leak pointed me at a malloc inside the V3 client, though I

[2018-06-25 14:19] gyuho commented on #9882
What is your etcd server and client version?

[2018-06-25 14:29] Funcan commented on #9882
# ./etcd --version
etcd Version: 3.2.18
Git SHA: eddf599c6
Go Version: go1.8.7
Go OS/Arch: linux/amd64

Client is on master branch, commit bb744f6d2b2715ec4aac696e0de51c75955334a8 (June 8th 2018) - if there's a better way to find/specify the version, please let me know

[2018-06-25 14:58] gyuho commented on #9882
@Funcan There are still issues with master branch client. Please use 3.2 or 3.3 client for now. We are working to fix it.

[2018-06-25 16:55] Funcan commented on #9882
The 3.3 client is definitely better, but still growing... taken every minute:

USER       PID %CPU %MEM    VSZ   RSS TTY      STAT START   TIME COMMAND
duncan   10289  2.7  0.0 359996 12492 pts/17   Sl+  17:48   0:00 ./sink
duncan   10289  2.5  0.0 845000 13736 pts/17   Sl+  17:48   0:01 ./sink
duncan   10289  2.5  0.0 1001172 13736 pts/17  Sl+  17:48   0:02 ./sink
duncan   10289  2.6  0.0 1001172

[2018-06-25 17:30] gyuho commented on #9882
@Funcan Thanks for reproduce. We will make sure to address this before 3.4.

[2018-06-25 21:57] manishrjain opened #9884 "Raft library does not retry unsent messages"
Please read https://github.com/coreos/etcd/blob/master/Documentation/reporting_bugs.md.

Raft (Etcd) version tested with: v3.3.8

We found a bug in Dgraph code, based on a wrong assumption about the workings of Raft library. The issue was that certain proposals, which were accepted by Raft (by calling raft.Propose(..)), were not being processed by a healthy 3-node Dgraph cluster. This was despite

[2018-06-25 22:48] gyuho commented on #9884
Correct. Regarding how etcd handles this, server transport layer drops internal messages with warnings such as `... sending buffer is full (overloaded network)`, to indicate that message have been dropped.

Yes, Raft keeps track of each follower's progress. The dropped proposals will be retried in next Ready struct.

I think it depends on your application how to limit retries? etcd transport layer

[2018-06-25 22:51] gyuho commented on #9884
@manishrjain Could you help improve our docs? This was confusing to me as well.

[2018-06-26 02:50] shsjshentao commented on #8935
Sorry, for unknown reason, failed to remove etcd data directory in the crashed node. So it is still crashed.
I tried the commands again, remove member, remove crashed node etcd data, add member, start etcd can deal with this problem for multiple nodes.

[2018-06-26 09:55] cflee commented on #9285
See [kubernetes/kubernetes#63316](https://github.com/kubernetes/kubernetes/issues/63316) and [kubernetes/kubernetes#64909](https://github.com/kubernetes/kubernetes/issues/64909).

It looks like the PR [kubernetes/kubernetes#65027](https://github.com/kubernetes/kubernetes/pull/65027) "Use actual etcd client for /healthz/etcd checks" will replace apiserver's TCP dial with an actual etcd client tryin

[2018-06-26 12:59] christianhuening commented on #9873
Here's the past 7 days of metrics in our dashboard:
<img width="2384" alt="bildschirmfoto 2018-06-26 um 14 59 10" src="https://user-images.githubusercontent.com/738953/41913789-8af0546c-7951-11e8-84db-78cb62f36a2b.png">

[2018-06-26 21:01] jpbetz opened #9888 "Leases may be auto-renewed indefinitely due to leader elections"
Per the [etcd ops guide](https://coreos.com/etcd/docs/latest/op-guide/failures.html#majority-failure): "Once a majority of members works, the etcd cluster elects a new leader automatically and returns to a healthy state. The new leader extends timeouts automatically for all leases. This mechanism ensures no lease expires due to server side unavailability."

Kubernetes event leases are 1hr by defau

[2018-06-26 21:03] jpbetz commented on #9888
c.f. coreos/etcd#9526.  Thanks for finding @gyuho

[2018-06-26 21:04] xiang90 commented on #9888
As I suggested in the k8s issue, a better approach is to persist the remaining TTL of long leases lazily. It wont hurt performance :)

[2018-06-26 21:06] jpbetz commented on #9888
@xiang90 Sounds good. What do you mean by "lazily"?

[2018-06-26 21:13] xiang90 commented on #9888
@jpbetz

If we persist the deadline of all the lease through raft after every keepalive request, then after a new leader is elected it wont need to refresh all leases (since it knows the deadline already). But this can be super expensive when we have a lot of keepalives for short leases(i believe chubby paper mentioned this too). Yes, some users will send keepalive at second level.

However, if we

[2018-06-26 21:21] EwanValentine commented on #9875
yo @gyuho ?

[2018-06-26 21:22] gyuho commented on #9875
@EwanValentine No, it will only match foo1 and foo2. We don't support wildcard.

[2018-06-26 21:37] jpbetz commented on #9888
Got it. Thanks @xiang90!

[2018-06-27 08:12] #9696 closed

[2018-06-27 14:32] tejinderss commented on #860
Hey how can i achieve this? Should i use transaction put multiple keys without using any precondition ? And does range provide setting the keys ? Also can I use range for fetching the multiple keys under same namespace. I have a use case where i need to store multiple keys under same name corresponding to micro service. How can i do that ?

[2018-06-27 15:38] nvtkaszpir commented on #9878
@phemmmie search over ansible-galaxy https://galaxy.ansible.com/list#/roles?page=1&page_size=10&autocomplete=etcd

[2018-06-27 15:52] xarses commented on #9873
There should be logs in the form of stdout and stdin. The member status and elections should be in the stdout stream

[2018-06-27 20:09] gyuho commented on #9875
@EwanValentine You can instead try range end. Something like `Put(ctx, "foo", "fzz", 0)` (ref https://godoc.org/github.com/coreos/etcd/clientv3#GetPrefixRangeEnd).

[2018-06-27 20:16] EwanValentine commented on #9875
@gyuho awesome, that's perfect, thank you!

[2018-06-27 22:43] gyuho commented on #9881
I am not clear about your question.
Could you write a simple test case to explain the issue?

[2018-06-27 23:47] mbrannock commented on #9855
Would it be possible to use the progress_notify flag in the WatchCreateRequest to supply the requested progress information? If I understand correctly, etcd starts sending zero-event WatchResponses only when there are no more events to send and the watch is caught-up. Clients could read the header revision to determine the current etcd revision even if the watch has events only sporadically. As mo

[2018-06-28 11:03] nvtkaszpir commented on #9851
@gyuho I strongly suggest to reopen the issue.

[etcd.bug.3.zip](https://github.com/coreos/etcd/files/2144984/etcd.bug.3.zip)

I had time to test it on standalone etcd process which is not within docker - just as standalone etcd process downloaded from official release channels. (see install.sh)
The same issue persists if using given data created on initial etcd start, so looks like this is relate

[2018-06-28 11:11] nvtkaszpir commented on #9851
OK, below archive should provide reproductible setup.
[etcd.bug.4.tar.gz](https://github.com/coreos/etcd/files/2145012/etcd.bug.4.tar.gz)

[2018-06-28 11:28] zhousoft opened #9890 "Cannot restore etcd V2 data after backup when data-dir exists snapshot files."
etcd version:
[code]
step 1.
I start a new etcd node and set several data(only V2 data)，make sure there is no snapshot file，then make a backup.
[code]
kill the old etcd process, start a new etcd:
[code]
it wokers well, the data set before has be recovered.

step 2.
Removing all data dir created in setp 1 and start a new etcd with "--snapshot-count '10'" and set enough data to generate snapshot fil

[2018-06-28 11:51] hexfusion commented on #9890
@zhousoft I believe that you are running into a known issue that to restore etcd v3 you require v3 data.  Please review the note in the upgrade doc below. I understand you are not upgrading from v2 but as you only have v2 data the problem is the same.

https://github.com/coreos/etcd/blob/master/Documentation/upgrades/upgrade_3_0.md#upgrade-checklists

It is recommended to write a dummy v3 key so t

[2018-06-28 12:38] omnimose commented on #9881
Thanks for the reply, I am not sure to trigger this, it is based on my understanding of the code so please correct me if I am wrong:

1. for the unstable type, it could have either entries or snapshot, but it could have both at the same time.

2. say the unstable type have snapshot and we call maybeTerm, in this function, we may run to below code:

        last, ok := u.maybeLastIndex()
	if !ok {

[2018-06-28 12:43] hexfusion commented on #9890
So to answer your original question I believe you could also do a v3 snapshot when the node is still running as an alternative to copying the directory. This would give you latest v3 snapshot then restore v2 as you are doing.

`$ ETCDCTL_API=3 etcdctl --endpoints $ENDPOINT snapshot save /home/etcd_data_backup/member/snap/db`

[2018-06-28 17:46] #9855 closed

[2018-06-28 18:20] gyuho commented on #9855
@mbrannock Currently, `progress_notify` has a minimum interval and cannot be triggered manually. And we want to broadcast progress updates to all sub watch streams. Which also can be done by extending current progress notify API, but we may introduce some behavior changes.

It's easier to define a separate API as in https://github.com/coreos/etcd/pull/9869.

[2018-06-28 21:43] jpbetz commented on #9855
@mbrannock @gyuho This has me thinking..I wonder if there is some stopgap we might be able to use until https://github.com/coreos/etcd/pull/9869 is available for use by Kubernetes.  The problem is that kubernetes is on etcd 3.2 (we'll go to etcd 3.3 for kubernetes 1.12) so we don't be able to leverage the `RequestProgress` improvement in the near term.  @mbrannock's comment about `WatchCreateReque

[2018-06-29 00:31] gyuho commented on #9855
@jpbetz Maybe empty key with `WatchCreateRequest`? Currently, watch create with empty key is just no-op.

[2018-06-29 08:03] wojtek-t commented on #9888
+1 to what Xiang described - this sounds really reasonable.

[2018-06-29 11:05] zhousoft commented on #9890
@hexfusion Thanks for the reply, it is helpful.

[2018-06-29 11:05] #9890 closed

[2018-06-29 16:19] manishrjain opened #9892 "Followers infinitely ignoring MsgVote"
Please read https://github.com/coreos/etcd/blob/master/Documentation/reporting_bugs.md.

Using Raft version: v3.3.8

Our latest release of Dgraph, which upgrades to v3.3.8 for Raft, is seeing an issue where a leader never gets any votes from the followers. In a 3-node cluster, both the followers infinitely ignore MsgVote with this INFO log:

[code]

Follower 2 is similar:

[code]

Logs from leader

[2018-06-29 17:00] jpbetz commented on #9888
Great, I'll write up a short "design doc" for how we plan to implement and circulate it for review.

[2018-06-29 19:49] manishrjain commented on #9884
I'll send a doc PR next week. Closing this issue.

[2018-06-29 19:49] #9884 closed

[2018-06-29 21:03] manishrjain commented on #9800
@sithembiso : We built this and using it in Dgraph. Uses Badger.

https://github.com/dgraph-io/dgraph/tree/master/raftwal

Etcd team, if you think this DiskStorage solution could be useful in general, maybe you could mention it in the README.

[2018-06-29 22:55] manishrjain opened #9893 "ReadIndex doesn't provide ReadStates"
Please read https://github.com/coreos/etcd/blob/master/Documentation/reporting_bugs.md.

Version: 3.3.8

I'm seeing this issue where if you ask for ReadIndex, but no proposals are going through the system, ReadStates are not populated. I tested it with a 5-node cluster. If I propose anything after, only then do I see populated ReadStates.

[code]

[2018-06-29 23:59] gyuho commented on #9892
The leader lease was introduced in https://github.com/coreos/etcd/pull/5468/files, and also exists in v3.2. Have you tried v3.2?

[2018-06-30 00:03] gyuho commented on #9893
Do you know why dgraph has these two calls in sequence? etcd has a separate goroutine sending message read index. And another goroutine to call Propose.

[2018-06-30 01:02] manishrjain commented on #9892
We have been using 3.2.6 for a while, and have never seen this issue.
https://github.com/dgraph-io/dgraph/blob/6d52778a196219dbf8f7cea4bcbc71c7d39b13e4/vendor/vendor.json#L148

Some of our users are seeing this issue, I haven't seen this happening at our end.
https://discuss.dgraph.io/t/dgraph-v1-0-6-is-out/2804/9?u=mrjn

As a temporary fix, if I disable `CheckQuorum`, would the leader lease expir

[2018-06-30 01:06] manishrjain commented on #9893
We don't. I added that Propose because otherwise the `ReadIndex` wasn't causing `ReadStates` to be populated. I pasted that code to show that one MUST call Propose to get ReadIndex to do its thing. The original code is without the Propose.

From the above code:
[code]

[2018-06-30 02:08] manishrjain commented on #9893
What's strange is that `Ready()` being called regularly, no communication issues, and proposals going through fine. And yet, the `ReadIndex` isn't being serviced. I also tried on v3.2.23.

[2018-07-02 15:48] raoofm opened #9895 "deploy ha etcd on kubernetes"
I know we have etcd-operator to handle this, but it is not truly functional for prod use cases and doesn't seem to be actively worked on.

It will be great to have a documented way of deploying robust ha etcd cluster on top of kubernetes with/without pv. This should be common usecase that many encounter and can be pretty useful. I was searching on the web but was surprised not to find something do

[2018-07-02 21:51] jsha opened #9898 "Tag a release with "dep" vendoring?"
I would love to be able to import a tagged release that incorporates https://github.com/coreos/etcd/pull/9155, moving coreos to `dep` vendoring.

I'm [working on `dep` vendoring for Trillian](https://github.com/google/trillian/pull/1220) and running into the problem described at https://github.com/coreos/etcd/issues/8692. I believe upgrading to a version of etcd that uses `dep` for vendoring would

[2018-07-02 21:57] gyuho commented on #9898
Yeah, released branches are still using glide (to support symlinks). 3.4 will be released with `dep` in a few months.

[2018-07-02 22:15] manishrjain commented on #9893
Hey @gyuho , @xiang90 ,

Any ideas what could be happening here? I had to turn off linearized reads for the moment in Dgraph.

[2018-07-02 23:07] gyuho commented on #9893
@manishrjain

Is `Ready.ReadStates` field populated?

[2018-07-02 23:15] manishrjain commented on #9893
Nope. ReadStates isn't populated.

[2018-07-02 23:19] gyuho commented on #9893
I would debug if `MsgReadIndex` was ever transported to followers.

[2018-07-03 01:36] manishrjain commented on #9893
So, it *seems* like MsgReadIndex is sent by the leader, but then never received:

[code]

raft/raft.go
[code]

So, it looks like it's sent, but then never received. I can confirm that other messages are in fact being received, communication between leaders and followers is going on alright. So, this message gets dropped somehow between `raft.send` and actual sending.

[2018-07-03 01:49] manishrjain commented on #9893
Actually, even one step earlier, I can see that the message isn't being sent over the wire.

From Dgraph codebase:

[code]

This `fmt.Printf` never gets called.

[2018-07-03 02:00] gyuho commented on #9893
Is this from local leader node? `MsgReadIndex` should be forwarded "to" leader, to trigger heartbeat broadcast. Ideally,  `MsgReadIndex` should be coming both from local leader node and remote follower nodes.

[2018-07-03 02:04] manishrjain commented on #9893
Actually, looks like this is an error at our end. We were overwriting `msg.Context` to store some connection information just before sending messages -- we thought `Context` field was for us to pass some context around. But, I realize it's being used by raft library internally. So, we were accidentally replacing those contexts.

I'll fix up our code, and see if I run into more problems. If not, I'

[2018-07-03 03:58] manishrjain commented on #9893
It works. Thanks for pointing me in the right direction to look, @gyuho .

[2018-07-03 03:58] #9893 closed

[2018-07-03 06:00] vimalk78 commented on #9837
what is expected to be returned here? the result of a GET on the leader key ?
but doesn't the `--observe` option return the same?

[2018-07-03 06:12] hexinw commented on #9837
Yes it does. Thanks @vimalk78

[2018-07-03 06:12] #9837 closed

[2018-07-03 06:15] jiajialijiajiali opened #9899 "etcd server lease timeout occasionly"
There is a product on cloud that I am testing which uses etcd.
Recently met etcd server lease timeout issue frequently without any call load.
The etcd client refresh the etcd key lease every 5 second to ensure that the client etcd key is not expired, the key of the etcd client is one single record in etcd.
However, for uncertain reason, etcd lease timeout, see below etcd log and metrics
could you

[2018-07-03 07:48] zhousoft opened #9900 ""broken pipe" error when write to client after network recovery from physical interrupt"
etcd version:
[code]
background:
I use etcd cluster as config server and use confd to watch keys in etcd for update local config files, thereare hundreds of confd in diffrent client nodes,Everthing worked fine at first.
One day the network between confd nodes and etcd cluster was shut down for several hours(physical cause).After network recovery,there are a lot error message like below when change

[2018-07-03 09:35] sudeeshjohn commented on #9831
@gyuho any comments ?

[2018-07-03 13:15] gyuho commented on #9893
@manishrjain No problem! For etcd, we pass request ID, in order for follower to block until the follower becomes in-sync with leader to the requested request ID.

[2018-07-03 13:16] gyuho commented on #9831
@sudeeshjohn If integration tests pass, think we should be fine. But if you use curl to talk to etcd cluster, it may not work. It would be great if you can contribute to improve our docs around this corner case.

[2018-07-03 13:20] gyuho commented on #9899
Do you mean leases are being expired while sending keepalive requests?

[2018-07-03 13:21] gyuho commented on #9900
Can you try latest etcd v3.2 with v3 client?

[2018-07-03 21:57] gyuho opened #9901 "release-3.1: proto warning?"
[code]

[code]

Just warning, no panic. Need to double-check.

/cc @jpbetz

[2018-07-04 01:11] jiajialijiajiali commented on #9899
i do not know how to check the question's answer, but from etcd log and etcd metric, etcd side is ubnormal.
etcd_debugging_server_lease_expired_total 390
2018-07-03 00:38:11.992380 W | etcdserver: apply entries took too long [246.755688ms for 1 entries]
2018-07-03 00:38:11.992474 W | etcdserver: avoid queries with large range/delete range!

[2018-07-04 01:59] chgitcrazy opened #9902 "etcd proxy mode support https?"
To ease server stress， I want to configure proxy mode and try it； Likely，it only support that client connect the proxy etcd with http， can it support https？

[2018-07-04 09:07] CrocdileChan opened #9904 "About *zap.log of etcd.wal"
the raft and wal  packages of  etcd  is very  powerful and high-performance.    Recently I  write a distributed KV  database,  I  want  to use  the raft and  wal  package of etcd.

BUT,  there is a little  trouble about it . some of instances of it are as follows：
`func Create(lg *zap.Logger, dirpath string, metadata []byte)`
`func New(lg *zap.Logger, dir string) *Snapshotter`

these code are abou

[2018-07-05 06:35] DaspawnW opened #9905 "ETCD Members join on http but configuration is for HTTPS"
**TL;DR**
When I start a single ETCD Server everything is fine, but if a second ETCD tries to join he joins via http and not via https.

**System information:**
[code]

**ETCD Configuration**

Instance I
[code]

Instance II

[code]

**What happens when instance II registers itself to Instance I**

As you can see the Peer Advertise URL uses the https protocol. If I know look at the Debug log of ins

[2018-07-05 06:46] DaspawnW commented on #9905
Here are some additional information about the server and peer certs:

**Server Cert**
[code]

**Peer Cert**
[code]

[2018-07-05 16:51] gyuho commented on #9904
@CrocdileChan Sorry, I don't see any easy way to define an interface for https://godoc.org/go.uber.org/zap#Logger. It's structured logging, so even if we define interface, you would still need to pass `zap.Int`, `zap.String`, etc..

Have you tried vendoring `zap` in your project?

[2018-07-05 16:52] gyuho commented on #9902
Yes, you can try https://github.com/coreos/etcd/blob/master/etcdmain/grpc_proxy.go.

[2018-07-05 16:52] #9902 closed

[2018-07-06 00:25] MichaelMitchellM opened #9907 "etcd/integration - consider allowing the configuring Unix Socket location or TCP"
I write code on a Windows machine that has my workspace symlinked into a Linux VM.
Since etcd/integration/cluster.go:519 has a colon in the name, it cannot create the socket file inside my directory which originates in Windows.
If possible I would like the option to say where the Unix Socket is created. This way I could tell it to be created somewhere like /tmp.
Allowing TCP may also fix this.

[2018-07-06 09:34] sirchen opened #9908 "can etcdctl support https when connecting gRPC proxy?"
etcd &etcdctl that I used is version **3.2.23.**

AFAK, proxy mode is only supported in API2. In proxy mode, I can use etcdctl as a client to test https& http connection, and it does work well.

But in my sitution, only API3 can be used, so I try to use gRPC proxy.

I just test the gRPC by following the guide, and http can work well. etcdctl is my client.

when I try the https mode in gRPC proxy,

[2018-07-06 12:18] zhousoft commented on #9900
@gyuho  It is a liite difficult to try latest etcd V3.2 for the error occurred on production enviroment.But I had a try on my develop enviroment,The phenomenon cannot be reproduced.
Besdies,I check the log file on production enviroment, the errror message seems to have disappeared. I reload the etcd cluster at July 3rd, the last error message appeard atJuly 3rd, it seems that etcd stop write to th

[2018-07-06 12:18] #9900 closed

[2018-07-06 12:34] DaspawnW commented on #9905
Found mistake in used script for cluster joining provided by https://github.com/MonsantoCo/etcd-aws-cluster

[2018-07-06 12:34] #9905 closed

[2018-07-06 12:46] gyuho commented on #9908
@sirchen Have you tried configuring TLS flags for `grpc-proxy`?

[2018-07-06 12:53] sirchen commented on #9908
Yeah, I think the TLS flags have been configured. The flags are --cert,--cacert,--key, is it right?

Command I used is this:
`etcd grpc-proxy start --cacert=./ca.pem --cert=./etcd-node.pem --key=./etcd-node-key.pem  --endpoints=https://localhost:1379,https://localhost:1279,https://localhost:1179 --listen-addr=127.0.0.1:2379`

[2018-07-06 17:12] gyuho commented on #9908
@sirchen Yes. Did it work?

[2018-07-06 17:16] gyuho commented on #9899
Those warnings keep happening? Can you also provide fsync metrics? You can just `curl ENDPOINT | grep fsync`.

[2018-07-06 17:17] gyuho commented on #9907
For now, all unix sockets are created in the same directory as `integration`. And we do not plan to run integration tests with TCP sockets, due to port conflicts between multiple tests.

[2018-07-06 17:18] sirchen commented on #9908
Sorry, it didn’t work. In fact, I have already done that when I used gRPC proxy at the beginning.

[2018-07-06 17:45] sirchen commented on #9908
@gyuho I’m pretty sure that the flags you mentioned were configured on server side.

Sorry that my computer is not at hand. I will do that again tomorrow. If possible, I will record the process.

If you have any suggestions, I’m glad to listen and have a try.

[2018-07-06 17:46] gyuho commented on #9908
@sirchen Yes, please try those flags. And let us know if it still doesn't work.

Reproducible steps would help.

[2018-07-06 18:34] philips opened #9909 "Documentation: upgrade index page is out of date"
We are missing the last few minor versions here:

https://github.com/coreos/etcd/blob/master/Documentation/upgrades/upgrading-etcd.md

[2018-07-09 01:20] sirchen commented on #9908
@gyuho Sorry, these days I was engaged in other things.
I have tried as you said, but it still did not work.

<img width="569" alt="grpc-proxy" src="https://user-images.githubusercontent.com/22660757/42425968-241975ac-8356-11e8-9ae3-6477df49eea0.png">
<img width="569" alt="etcdctl" src="https://user-images.githubusercontent.com/22660757/42426176-6eaade9c-8358-11e8-9523-0281597bc47f.png">

Maybe I

[2018-07-09 07:41] sirchen commented on #9908
@gyuho I read another document, and I got a message from [TLS termination](https://github.com/coreos/etcd/blob/master/Documentation/op-guide/grpc_proxy.md#tls-termination)

Does it main https connection between gRPC-proxy and client are not supported for now?

[2018-07-09 08:32] jiajialijiajiali commented on #9899
Those warnings do not keep happen. However, lease timeout keeps happen.

# HELP etcd_debugging_server_lease_expired_total The total number of expired leases.
# TYPE etcd_debugging_server_lease_expired_total counter
etcd_debugging_server_lease_expired_total 224

# HELP etcd_disk_wal_fsync_duration_seconds The latency distributions of fsync called by wal.
# TYPE etcd_disk_wal_fsync_duration_seconds

[2018-07-09 12:57] cfc4n opened #9911 "clientv3 sdk will send /etcdserverpb.Lease/LeaseKeepAlive twice every second for lease id after over time."
# Version:

[code]
All v3 client

# Result：
*  send /etcdserverpb.Lease/LeaseKeepAlive twice every second for lease id after over time.

# reproduce：

code:
[code]
* Grant ttl 30s
* get ttl of lease id every 3 second

run result
[code]
* at 19:29:14 , 19:29:17 , 19:29:20 and others, rs.TTL was 29 all of them.
* Grant ttl 30s
* 19:29:14 - 19:26:32 ≈ 160s
* lease keepalive request will send every ``

[2018-07-09 14:41] cultcom opened #9912 "Use Go 1.10.x for 3.3 release to support crypto/x509 "name constraints""
The official etcd binaries found on github.com are compiled with golang version 1.9:
~# etcd --version
etcd Version: 3.3.8
Git SHA: 33245c6b5
Go Version: go1.9.7
Go OS/Arch: linux/amd64

Unfortunately this golang version does not support nameConstraints correctly according to https://github.com/golang/go/issues/15196

So please update your build process to utilize golang 1.10 for further releases.

[2018-07-09 15:33] hexfusion commented on #9912
@cultcom, thank you for the report.

[2018-07-09 20:18] gyuho commented on #9899
Hmm, latency numbers look good, which means it should be from something else.

Can you try trigger this warning again? By sending similar requests to etcd server?

[2018-07-09 20:19] gyuho commented on #9899
I will also improve the warning messages.

[2018-07-10 02:06] jiajialijiajiali commented on #9899
Can you try trigger this warning again? By sending similar requests to etcd server?
=>Not yet, this warning log does not occur again so far, but lease timeout still exist.

[2018-07-10 02:06] sirchen commented on #9908
@gyuho I have read another simple proxy mode called [etcd gateway](https://github.com/coreos/etcd/blob/master/Documentation/op-guide/gateway.md#etcd-gateway). etcd gateway can support https well, but it can not improve performance as the tutorial says.
Dose the https way of gRPC-proxy mode have a bug?
So, Can anyone have a better suggestion? I have been stuck for many days.

[2018-07-10 02:37] cfc4n commented on #9899
well, I mean ...number of all leases , not of "expired lease".

[2018-07-10 02:40] jiajialijiajiali commented on #9899
so you want to know the number from all clients? can this be seen in etcd metric?

[2018-07-10 02:46] cfc4n commented on #9899
yep, value of "sum(grpc_server_started_total{grpc_service="etcdserverpb.Lease",grpc_type="bidi_stream"}) - sum(grpc_server_handled_total{grpc_service="etcdserverpb.Lease",grpc_type="bidi_stream"})".

[2018-07-10 02:57] jiajialijiajiali commented on #9899
Thank you. Here is the metric, i do not know how to caculate for 1.xxxxxxxe+06

grpc_server_started_total{grpc_method="LeaseKeepAlive",grpc_service="etcdserverpb.Lease",grpc_type="bidi_stream"} 1.734624e+06

grpc_server_handled_total{grpc_code="Canceled",grpc_method="LeaseKeepAlive",grpc_service="etcdserverpb.Lease",grpc_type="bidi_stream"} 712
grpc_server_handled_total{grpc_code="OK",grpc_method=

[2018-07-10 03:09] cfc4n commented on #9899
「Are they all of leases keepalive? and how many clients to keepalive that?」 ？？？

[2018-07-10 03:17] jiajialijiajiali commented on #9899
I guess so, there is only LeaseKeepAlive method which meets your listed caculation:
grpc_service="etcdserverpb.Lease",grpc_type="bidi_stream"
The number of total clients would not be too many, <10? i do not know the actual number. As I know the client that I find frequently meet timeout sends lease request every 5seconds to etcd server.
What do you doubt?

# HELP grpc_server_started_total Total nu

[2018-07-10 08:34] omnimose commented on #9881
Any thought on this issue?

[2018-07-10 13:45] cfc4n commented on #9911
in this case ([server memory highly load due to too many connections](https://github.com/coreos/etcd/issues/9812)):
* 14K clients, grants a lease id everyone with 10s ttl,and keepalived
* 14k * 2 = 28k  keepalive requests every second send to etcd member on  port 2379
* etcd member create http post request for every lease keepalive request,and send to etcd leader on port 2380 with `http.RoundTrip`

[2018-07-10 13:56] marciorf commented on #9221
I would like this!

[2018-07-10 15:24] hexfusion commented on #9221
@marciorf thanks for the nudge, I will get things organized soon.

[2018-07-10 16:07] gyuho commented on #9911
@cfc4n Could you also try latest 3.3?

[2018-07-10 16:19] gyuho commented on #9912
@cultcom We will use Go 1.10 or 1.11 for 3.4 release, which is a few months away. And we do not bump up Go versions in our stable release branches. Are you trying to use name constraints in production?

[2018-07-10 16:23] cultcom commented on #9912
well, the locally used CA had them configured but now I deactivated that until etcd comes compiled with golang 1.10 ;-)

[2018-07-10 16:31] gyuho commented on #9912
@cultcom Could you try building release-3.3 branch with latest Go 1.10 and see if it resolves your issue? Then, we will try benchmark 3.3 branch with Go 1.10 to see if it would introduce any regressions. If numbers looks good, we should be safe to bump up Go version in 3.3 releases.

[2018-07-10 16:40] cultcom commented on #9912
Yes, I did that yesterday and it fixed the issue:
etcd Version: 3.3.8
Git SHA: GitNotFound
Go Version: go1.10.3
Go OS/Arch: linux/amd64

I build the official 3.3.8 source package from github (not the cloned repo).

FYI: Ubuntu 18.04 comes officially with 3.2.17 which is compiled with golang 1.10.

[2018-07-10 16:42] gyuho commented on #9912
@cultcom Thanks. We will try bumping up the Go version in the next 3.3 release.

[2018-07-10 16:43] cultcom commented on #9912
@gyuho  Thanks.

[2018-07-10 16:55] gyuho commented on #9908
@sirchen grpc-proxy with TLS works well for me.

When you run etcdctl commands, did you send requests to the endpoint that you specified with `etcd grpc-proxy start --advertise-client-url`?

[2018-07-10 22:14] jingyih opened #9915 "elcdctl endpoint status does not return expected status."
# Version
etcd Version: 3.3.0+git
Git SHA: 308f59058
Go Version: go1.10.2
Go OS/Arch: linux/amd64

# Result
`etcdctl endpoint status` does not return correct status.

# Reproduce
### 1. Running a 3-node local etcd cluster using goreman with the following configuration:

[code]

### 2.The following API does not return the correct status.  The status of the 3 endpoints seems to be identical.

[code]

[2018-07-10 22:16] gyuho commented on #9915
We are aware of this issue and working to fix it.

[2018-07-11 02:37] sirchen commented on #9908
@gyuho Sorry to interrupt again. I tried as you said, etcd nodes was started as last time.
gRPC-proxy with TLS was started with a tiny difference, --advertise-client-url argument added.
`etcd grpc-proxy start --cacert=./ca.pem --cert=./etcd-node.pem --key=./etcd-node-key.pem --endpoints=https://localhost:1379,https://localhost:1279,https://localhost:1179 --listen-addr=127.0.0.1:2379 --advertise-cl

[2018-07-11 03:29] gyuho commented on #9908
@sirchen I am currently busy with something else, but in the meantime, you can try the following way that I used to confirm:

[code]

Please let me know if it still doesn't work.

[2018-07-11 04:31] cfc4n commented on #9911
hi, @gyuho I test it at v3.3.8 ,and

[code]
in my test-case , TTL always was 29  after 160s  (30/3*10) ,  because client will send lease keepalive every 500ms,So this bug also exists in v3.3.8.maybe in all v3.3.*...

[2018-07-11 08:45] dangxiaojun opened #9917 "rejected connection from "192.168.3.169:53244" (error "tls: first record does not look like a TLS handshake", ServerName "")"
etcd: 3.3.8
OS:CentOS Linux release 7.5.1804 (Core)
Arch: linux/amd64

etcd cluster:
* etcd1: 192.168.3.162
* etcd2: 192.168.3.168
* etcd3: 192.168.3.169

**Self-signed certificates：**
[code]

**etcd1.service**
[code]

**etcd2.service**
[code]

**etcd3.service**
[code]

When I run systemctl start etcd, I get this error(from journalctl -xe):
[code]

[2018-07-11 11:59] hexfusion commented on #9917
Jul 11 04:44:39 etcd1 etcd[23500]: rejected connection from "192.168.3.169:46560" (error "tls: oversized record received with length 21536", ServerName "")

HI @dangxiaojun can you please provide the startup logs for these etcd instances. These errors above indicate that the traffic is not actually HTTPS but HTTP. Perhaps the startup snippet will give us some clues otherwise maybe some kind of pro

[2018-07-11 12:15] dangxiaojun commented on #9917
[code]

**This is startup logs**
[code]

[2018-07-11 12:21] dangxiaojun commented on #9917
I see the ```added member e3b08f0ab9f3fe8 [http://192.168.3.169:2380] to cluster 31b7399b4ff27c46```

But My service file used https

[2018-07-11 12:35] hexfusion commented on #9917
My guess is that the cluster was initially set up wrong. What is the output of below?

ETCDCTL_API=3 etcdctl member list \
  --endpoints=https://127.0.0.1:2379 \
  --cacert=/etc/kubernetes/ssl/ca.pem \
  --cert=/etc/kubernetes/ssl/kubernetes.pem \
  --key=/etc/kubernetes/ssl/kubernetes-key.pem

You could try reconfiguring the members to https or start fresh.

https://github.com/coreos/etcd/blob/ma

[2018-07-11 13:59] #9909 closed

[2018-07-11 15:00] gyuho opened #9919 "Improve client balancer picker generator"
#### Problem

Only exists in current master branch db102de6753d8d541379479fd1920af6ff6fad02 with new client balancer.

Once balancer has been constructed with multiple endpoints, subsequent dialer targets are fixed to the first endpoint. Thus, breaks maintenance APIs (endpoint status, snapshot, etc.).

<br>

#### Reproduce

- https://github.com/coreos/etcd/pull/9880
- https://github.com/coreos/etc

[2018-07-12 00:29] eroji opened #9920 "Node will not start after reboot"
I have a etcd 3.2 cluster with 3 nodes along with a set of nodes for K8s in vSphere. After testing a kubeadm upgrade to the K8s cluster which did not go so smoothly, I had to revert to a snapshot immediately prior to the upgrade. The etcd nodes were restarted as a result. However, post the reboot, only the first 2 nodes came online without issue. The third node refuses to start and I cannot identi

[2018-07-12 02:46] naddison36 opened #9921 "Lock response when lease has expired"
I have a scenario where a lock is obtained even though the lease associated with the lock has expired.

I have a scenario where I have two processes that want to acquire a lock on the same lock name. The first process successfully acquires the lock using a `LockRequest` with a lease time-to-live of 20 seconds. Immediately after a second process tried to acquire the same lock name but with a lease

[2018-07-12 06:11] jpbetz commented on #9919
@gyuho Thanks for all the analysis and reproduction cases. I'll have a closer look in the morning.  At first glance, it feels like it would be ideal to allow the clients to send maintenance requests to any etcd member, and let the member that receives the request forward it on as needed to other cluster members, but that we need the client to be backward compatible with older server versions, so t

[2018-07-12 12:13] nvtkaszpir commented on #9851
@gyuho any progress on this?

[2018-07-12 12:14] nvtkaszpir commented on #9920
Maybe related to #9851 ?
Try maybe to stop failed node, wipe its storage, start node and attach it back to the cluster.

[2018-07-12 13:20] hexfusion commented on #9917
Hi @dangxiaojun checking in what did you find?

[2018-07-12 15:04] gyuho commented on #9908
@sirchen Completely agree that it's confusing to set up...

And I just remembered that the health endpoint is only available in 3.3 for gRPC proxy https://github.com/coreos/etcd/pull/8322.

Please see https://github.com/coreos/etcd/blob/master/CHANGELOG-3.3.md for more detailed change logs.

[2018-07-12 18:15] eroji commented on #9920
That's that I had to resort to and it appears to be working. However I do not have a clear understanding of what caused the failure even after looking at the linked issue. I'd like to get a better idea what is safe to do given a similar situation and what is expected.

[2018-07-13 03:19] sirchen commented on #9908
@gyuho Thanks very much for your help of these days. I think I'm understanding the cert configure gradually.

I have not fully understand the meaning.
I got a message from [CHANGELOG-3.2](https://github.com/coreos/etcd/blob/master/CHANGELOG-3.2.md#grpc-proxy).

Does this means that gRPC-proxy with tls is already supported in 3.2.24. Could you tell me the release plan of 3.2.24?

You said, **the he

[2018-07-13 03:21] sirchen opened #9923 "Configure confuse: difference between --advertise-client-urls and --listen-client-urls, etc."
@gyuho Thanks very much for your help of these days. I think I'm understanding the cert configure gradually.

I have read the [Configuration](https://github.com/coreos/etcd/blob/6a265731e10a5137b991c1aa3a83ecefdd149d50/Documentation/faq.md#configuration) FAQ. Still one problem is confusing me, namely the difference between `--advertise-client-urls` and `--listen-client-urls` in etcd server.

Many

[2018-07-13 03:50] sirchen commented on #9908
@gyuho I just do some tests as I understand, and the conclusion is etcd may support endpoint health check. Or maybe I missed the point.

Test1: grpc-proxy connects with server with http
<img width="787" alt="http" src="https://user-images.githubusercontent.com/22660757/42671430-6e9ea46e-8692-11e8-82ce-780b0103b9aa.png">

Test2:grpc-proxy connects with server with https
<img width="782" alt="https"

[2018-07-13 06:09] 372046933 commented on #1484
It seems that you cannot add member to a single member cluster

[2018-07-13 06:13] 372046933 commented on #7171
The recovery procedure is rather simple.  When you accidentally add a new member to a single member cluster.  Just start the original etcd with `ETCD_FORCE_NEW_CLUSTER=“true"`.

[2018-07-13 13:03] hexfusion commented on #9920
@eroji I am curious about this, is the path of $ETCD_DATA_DIR the same as what used in the flag?

[2018-07-13 13:06] hexfusion commented on #9920
nevermind I see this now they are the same reviewing the logs.

[2018-07-13 16:19] gyuho commented on #9923
`--advertise-client-urls` may be used for proxy peer discovery, so you want to specify that (do not use `localhost` for advertise URLs) if you plan to run several gRPC proxies.

[2018-07-13 16:19] #9923 closed

[2018-07-13 16:20] gyuho commented on #9904
Please reopen if you still have issues.

[2018-07-13 16:20] #9904 closed

[2018-07-13 16:20] #9898 closed

[2018-07-13 16:21] #9907 closed

[2018-07-13 16:22] #9917 closed

[2018-07-13 16:23] hexfusion commented on #9917
@dangxiaojun If this is still an issue please feel free to add additional comments.

[2018-07-13 17:19] gyuho commented on #9911
@cfc4n Ok, will take a look. Currently busy with fixing some other issues in client. Thanks!

[2018-07-14 00:52] jpbetz commented on #9888
@xiang90 Here's an approach that seems to work well and I believe is inline with what was proposed above: https://github.com/coreos/etcd/pull/9924.  Let me know if this differs from what you were thinking.

[2018-07-15 08:29] dangxiaojun commented on #9917
No progress, the same configuration, after a few restarts, he can now work normally, using HTTPS, I will continue to observe, thank you for your assistance.

[2018-07-16 02:18] cfc4n commented on #9911
waiting for your good news...

[2018-07-16 07:49] sirchen commented on #9923
Sorry to disturb again, I still don't understand where the flag `--advertise-client-url` will be used in gRPC-proxy mode.

Server usage:
`ETCDCTL_API=3   ./etcd grpc-proxy start  --cacert=./config/ssl/ca.pem  --cert=./config/ssl/client.pem  --key=./config/ssl/client-key.pem --trusted-ca-file=./config/ssl/ca.pem --cert-file=./config/ssl/client.pem --key-file=./config/ssl/client-key.pem --endpoints

[2018-07-16 08:03] gyliu513 opened #9925 "etcd value size limit in 1M"
Please read https://github.com/coreos/etcd/blob/master/Documentation/reporting_bugs.md.

From the discussion here https://github.com/kubernetes/kubernetes/issues/19781#issuecomment-172553264 , seems etcd has a limitation that the value can be at most be 1M, does this value can be configured?

[2018-07-16 12:42] gyuho commented on #9925
It's 1.5 MB by default.

Have you tried `--max-request-bytes` flag?

[2018-07-16 13:04] gyliu513 commented on #9925
Thanks @gyuho , it works and I got more detailed info from https://github.com/coreos/etcd/blob/master/Documentation/dev-guide/limit.md#request-size-limit

[2018-07-16 13:04] #9925 closed

[2018-07-16 13:14] max-lobur commented on #9596
@gyuho @jolson490 can you reopen please? Havin same issue with
[code]
This is reproducible across multiple clusters in diff regions.
(I also was asking on [SO](https://stackoverflow.com/questions/51330078/kubernetes-etcd-highnumberoffailedhttprequests-qget))

[2018-07-16 14:49] max-lobur commented on #9596
super helpful! many thanks!!
Yes we're on calico and etcd3, I'm happy to replace these alerts

[2018-07-17 03:04] yehaha9876 opened #9926 "How to change tow etcd cluster to on single"
I run my single etcd within a docker and mount data out. when add a second etcd it always faild, so i want to change back to run a single etcd. but it can't be started, what can id do, any helps, Thanks~

So poor my English...

[2018-07-17 09:34] sirchen commented on #9923
@gyuho I recently encountered some tough problems and had no idea.

First, gRPC-proxy is not used and application works fine.

Then I use gRPC-proxy, usage is like this:
07.beta is client and 01.beta is server.
`ETCDCTL_API=3   ./etcd grpc-proxy start  --cacert=./config/ssl/ca.pem  --cert=./config/ssl/client.pem  --key=./config/ssl/client-key.pem --trusted-ca-file=./config/ssl/ca.pem --cert-file=.

[2018-07-17 09:42] xjas opened #9927 "Configure problem: difference between --listen-addr and --advertise-client-url in gRPC-proxy mode"
@gyuho I recently encountered some tough problems and had no idea.

First, gRPC-proxy is not used and application works fine.

Then I use gRPC-proxy, usage is like this:
`ETCDCTL_API=3   ./etcd grpc-proxy start  --cacert=./config/ssl/ca.pem  --cert=./config/ssl/client.pem  --key=./config/ssl/client-key.pem --trusted-ca-file=./config/ssl/ca.pem --cert-file=./config/ssl/client.pem --key-file=./confi

[2018-07-17 11:10] ktsakalozos opened #9928 "Build instructions for vendored builds are not valid"
Based on the build instructions here https://coreos.com/etcd/docs/latest/dl_build.html a vendored build would require
[code]

But this fails with:
[code]

Please read https://github.com/coreos/etcd/blob/master/Documentation/reporting_bugs.md.