[2015-11-18 17:19] crisidev commented on #3888
After some digging, the problem is that storage metrics are updated just for v3 API.

I think it would be really nice to have these values also for v2 API, which is the most used right now (AFAIK).

Something like
[code]

What do you think?

[2015-11-18 17:24] xiang90 commented on #3888
@crisidev They are useful metrics for sure. So we added them to new store. We will not actively work on v2 store unfortunately.

We will make the metrics more clear: https://github.com/coreos/etcd/issues/3833

[2015-11-18 17:30] barakmich commented on #3888
Look; we have tons of users on v2 -- I'm sitting next to @crisidev right now -- and they care about, you know, backwards compatibility.

v3 will be ready soon, sure, but it will be super useful for monitoring for current v2 users as they migrate  -- things like fleet, say. Adding them as tags (`{version="2"}`) means they can be deprecated as time moves on.

It'd be good to do. If it needs to be a

[2015-11-18 17:33] crisidev commented on #3888
I completely stand with @barakmich as this product is used by a lot of people, which might be not switching immediately to v3. Monitoring is nice and important guys ;)

[2015-11-18 17:36] xiang90 commented on #3888
@barakmich We need to make the metrics clear (maybe adding tag or prefix). That includes in #3833.We do not need to care about backward compatibility right now since the whole metrics endpoint is still pretty experimental.

I am closing this since it is already covered by #3833.

@crisidev Adding more metrics to v2 store is a totally separate issue. You probably should open up another issue for it

[2015-11-18 17:36] #3888 closed

[2015-11-18 19:07] f0 commented on #3405
@xiang90  do you still need more infos?

[2015-11-18 20:59] xiang90 commented on #3405
@f0 I think @soellman has a reasonable explanation. We need to wait for the upstream to solve https://github.com/golang/go/issues/13165 before looking into this again.

[2015-11-18 22:42] yichengq commented on #3773
When fixing the problem, it turns out that `snapshotStore` needs to obey some rules:
1. stop using and creating snapshot before KV is closed(https://godoc.org/github.com/boltdb/bolt#DB.Close)
2. cannot create unless its kv var is updated to the new one

[2015-11-18 23:15] xiang90 commented on #3773
I think this is exact the same as 1? No?

[2015-11-18 23:17] yichengq commented on #3773
This means that snapshotStore still cannot create snapshot after KV is closed. It has to wait new kv is set before new creation.

[2015-11-18 23:51] yichengq opened #3891 "kv.Close in apply loop may block on KV snapshot send"
1. A as a leader starts sending snapshot to B
2. For some reason, C becomes leader now
3. C sent snapshot to B and makes progress with B
4. C starts sending snapshot to A
5. A needs to recover from incoming snapshot, but block because snapshot to B is still sending.

This should happen rarely in real life, but it deserves to be considered and prevented.

from https://github.com/coreos/etcd/issues/

[2015-11-18 23:53] yichengq commented on #3773
After discussion with xiang, `stop using and creating snapshot before KV is closed` is a separate problem. So I open a new issue for it. This issue will only focus on update snapshot.kv var correctly.

[2015-11-18 23:56] xiang90 commented on #3891
There are a few other issues that I am aware of:

1. the swap of newly recovered kv and old kv should be atomic since multiple routines might access it.

2. not only the snapshot store but also other struct like kv api should not use closed kv.

[2015-11-19 00:10] yichengq commented on #3891
not only the snapshot store but also other struct like kv api should not use closed kv.

ack. both of them are problems.

[2015-11-19 17:39] spacejam commented on #3879
I think people are generally fine with some slave lag, and would prefer stale data to no data in the presence of partitions, but I don't think many people are willing to trade extremely stale reads for a few moments of acausal availability in the rare case of server start-up.  This is why many databases will not serve requests until they have fully recovered their local state upon initialization.

[2015-11-19 17:45] xiang90 commented on #3879
@spacejam Oh. Yea. For startup initialization, it is an easy fix and should be fixed.

Your original issue is border than initialization if I understand it correctly.

A server can recover from snapshot at runtime too. Shall we wait until it catches up with the leader?

A server might be partitioned and is far behind the leader. Shall we wait again?

I have some rough answers in my mind. But I do

[2015-11-19 18:11] markhowells opened #3894 "etcdctl watch to a etcd in proxy mode with TLS to cluster fails"
Is this a bug?

I have an etcd proxy running in a docker container like so

    /bin/etcd -data-dir=/data -listen-peer-urls=http://0.0.0.0:2380 \
        -listen-client-urls=http://0.0.0.0:2379 -proxy on -discovery=https://discovery.etcd.io/30ae4fe131fce9706708b9a3548724b5 \
        -peer-trusted-ca-file=/etc/ssl/infra/ca.pem -peer-cert-file=/etc/ssl/infra/client.pem -peer-key-file=/etc/ssl/infra/

[2015-11-19 20:18] #3773 closed

[2015-11-19 23:17] philips opened #3896 "etcdv3: backup design plan"
etcd's v2 storage is easy to backup because the snapshot is write once and the WAL is append only. So, a user can use tools like rclone, rsync, etc to backup etcd and know that they got a good backup. Moving forward with the new storage system do we need to write or document new tools?

[2015-11-20 00:45] xiang90 commented on #3896
@philips Even for v2, we do not encourage people to write their own tool:

1. We are not ready to give them any file level guarantees at runtime (for example, etcd will hold a file lock or etcd will help to mark a removable file.).

2. We want to wipe out the configuration for backup. Simply copy the file can be dangerous.

So people should use etcdctl backup. And we know a few people successfully

[2015-11-20 01:44] xiang90 commented on #3859
It turns out that this is not a grpc issue. Watch cancellation at etcd side uses most of the CPU. I am still investigating

[2015-11-20 02:01] xiang90 commented on #3859
OK. Cancellation is O(N^2) (N is the watchers on the same key). https://github.com/coreos/etcd/blob/master/storage/watchable_store.go#L208

I guess we should avoid the extensive copy at least.

[2015-11-20 02:09] gyuho commented on #3859
Should we try map on synced?

[2015-11-20 02:10] xiang90 commented on #3859
@gyuho yes. you should. but be careful about memory usage implication.

[2015-11-20 02:12] gyuho commented on #3859
Sure I will try that with comparison with current implementation. Thanks.

[2015-11-20 16:42] fridim opened #3901 "etcdctl should not return 0 when not properly used"
Context: we use etcdctl in scripts with set -e mode.  It is expected that etcdctl returns something different of 0 when used with wrong arguments.
(I think standard exit status is 2?)

The issue:

    etcdctl -vsdfa
    [ ... display usage... ]
    echo $?
    0

[2015-11-20 18:19] fridim commented on #3901
It seems etcdctl is based on   codegansta/cli. There is a bug open there also for that :
   https://github.com/codegangsta/cli/issues/276

[2015-11-20 18:45] xiang90 commented on #3901
@fridim Thanks for reporting. There is not much we can do for now. We will update the upstream pkg when the issue is fixed.

[2015-11-20 20:11] jonboulle commented on #3901
I would love to see someone put up a PR to convert to spf13/cobra which we're trying to use everywhere else :-)

[2015-11-20 20:37] gyuho commented on #3901
@jonboulle I am interested. Is `spf13/cobra` the preferred choice for etcd?
I think either way, it's good to have one library for all cmd interface.

[2015-11-20 20:49] jonboulle commented on #3901
@gyuho We're trying to use it for all CoreOS Go projects: https://github.com/coreos/docs/blob/master/golang/README.md#cli

[2015-11-20 20:51] gyuho commented on #3901
Got it. I have wanted to play with cobra. I will try this for etcd. Thanks @jonboulle !

[2015-11-20 22:29] xiang90 commented on #952
@cchamplin I think this issue is settled down. At server side, we will filter out TTL updates in v3. We will leave other kinds of filtering to client side.

For v2, we do not have a plan. But if you want to contribute, welcome to do that: auto filter out TTL updates with an additional flag; leave other kinds of filtering at client-side.

[2015-11-20 22:29] #952 closed

[2015-11-20 22:38] spacejam opened #3906 "etcd3: retention policy for event history to prevent disks filling up"
Operators of etcd2 who switch to etcd3 will start running out of disk space unless a retention policy is in place.  I would recommend some sort of configurable automatic clean-up process, similar to kafka.  This allows you to specify a maximum storage size that will never be surpassed as long as there is actually non-current history to purge, and possibly also a rough time-based soft-limit that mu

[2015-11-20 22:38] #3624 closed

[2015-11-21 16:07] xiang90 commented on #3859
Fixed by https://github.com/coreos/etcd/pull/3899

[2015-11-21 16:07] #3859 closed

[2015-11-22 08:58] xcompass commented on #3827
+1, all proxies failed to start after reboot. Running CoreOS 845.
[code]

[2015-11-22 16:13] gyuho commented on #3806
Can somebody close this? I think this can be closed for now from https://github.com/coreos/etcd/pull/3890. Thanks,

[2015-11-22 18:05] gyuho commented on #3713
@kayrus Could you clarify on this `what if we implement datadir check first when there is ETCD_DATA_DIR option provided?`?

Trying to investigate https://github.com/coreos/etcd/issues/3827.

Currently etcd overwrites `-data-dir` flag with `ETCD_DATA_DIR` only when it's not specified in the flag in command line (https://github.com/coreos/etcd/blob/master/etcdmain/etcd.go#L80-L81).

[2015-11-22 19:18] yichengq commented on #3806
@gyuho Thanks for the improvement! :+1:

[2015-11-22 19:18] #3806 closed

[2015-11-22 19:19] gyuho commented on #3806
Thanks!

On Sun, Nov 22, 2015, 11:18 Yicheng Qin <notifications@github.com> wrote:

--
Sincerely,
Gyu-Ho Lee

[2015-11-23 03:24] YuleiXiao opened #3908 "why do not make applysnapshot asynchronous"
When snapshot relatively large, generate Snapshot and ApplySnapshot will take more time.

etcd generated snapshot has been modified into an asynchronous way. But apply still synchronized. Why keep apply synchronized?

another problem is that if etcd determine the snapshot is invalid, it will ignore the snapshot , but did not return an error to the caller. We call function multinode.Step -> stepFol

[2015-11-23 06:00] xiang90 commented on #3908
@YuleiXiao

Why do you want apply to be async? When a member receives a snapshot, it means it is not synced (and have a huge lag) with the current leader, it cannot make progress anyway. Also restore a snapshot should not take long in v2 (you can at most have a 100MB snapshot). In v3, it might take 10 seconds if you have a > 2GB snapshot we might make it non-blocking for better io utilization.

Fo

[2015-11-23 06:26] YuleiXiao commented on #3908
@xiang90

For second question:
I mean in handleSnapshot, when restore functio return false, handleSnapshot ignore the snapshot. But we do not know this. It do not return any error to caller.

func (r *raft) handleSnapshot(m pb.Message) {
        sindex, sterm := m.Snapshot.Metadata.Index, m.Snapshot.Metadata.Term
        if r.restore(m.Snapshot) {
                r.logger.Warningf("%x [commit: %d]

[2015-11-23 06:36] xiang90 commented on #3908
@YuleiXiao

Who is "we"? Are you trying to use etcd or use raft pkg? Why do you care about the internal raft level msg?

[2015-11-23 07:07] YuleiXiao commented on #3908
@xiang90
Sorry, let me explain.
I am working on cockroach. cockroach use etcd multinode in etcd. We have a problem now. Cockroach generate snapshot, apply snapshot and handle heartbeat in the same goroutine.
If snapshot is large(we test it about 800M), it need 11s to generate that exceed raft heartbeat timeout time(3s). So I want make it async to avoid this situation.

Now, async apply snapshot is

[2015-11-23 15:43] raoofm opened #3910 "Feature request to support microservices / serviceDiscovery / cloud"
Sorry, it is not an issue, it is a feature request.

I think there should be many more like me who are waiting on etcd to start supporting service discovery.
We are already using a 5 member cluster in production and following etcd desperately for this additional use cases other than just kv storage for more than a year. :smile:

etcd is amazing and the only 2 things that would make it absolutely u

[2015-11-23 15:45] xiang90 commented on #3908
@YuleiXiao OK. cockroach shares the same raft as etcd, but not the same node implementation. How to apply the snapshot is out of the scope, since it depends on the node and statemachine level implementation. I am closing this issue.

For your follow up question about raft, can you please open a separate issue?

[2015-11-23 16:07] bdarnell commented on #3908
`ApplySnapshot` is defined in `cockroach/multiraft/storage.go`, not `etcd/raft`, so let's move this discussion to the cockroach issue tracker.

[2015-11-23 16:07] #3908 closed

[2015-11-23 21:52] xiang90 commented on #1520
I am closing this since etcdctl already starts to print out the key and action when `--recursive` is set.

Example
[code]

[2015-11-23 21:52] #1520 closed

[2015-11-23 21:59] jonboulle commented on #3861
@gyuho mind taking a look at this?

[2015-11-23 22:04] gyuho commented on #3861
@jonboulle Sure, I will work on this.

@xiang90 Current proxy implementation stores `initial-cluster` information in JSON format in text format in data directory. So as far as I know, this is how proxy comes back if shut-down. It's not clear to me what @zadoryzsolt means by `It seems that it leaves the cluster file in the data dir unreadable or empty.`?

[2015-11-23 22:41] xiang90 commented on #3861
@gyuho When updating the file, we should first write a tmp file then rename it. Direct writing to the file can cause half written issue when there is a hard shutdown.

[2015-11-23 22:43] gyuho commented on #3861
@xiang90 +1. Good idea. I will try that. Thanks,

[2015-11-23 23:31] xiang90 opened #3914 "doc: doc should be pronoun-less and imperative?"
From https://github.com/coreos/etcd/pull/3913#discussion_r45673900

We need a better discussion about this. If we all agree on it, we need to start fixing all docs.

@jonboulle @joshix

[2015-11-23 23:32] #3476 closed

[2015-11-24 01:09] gyuho commented on #3861
@xiang90
https://github.com/coreos/etcd/blob/master/etcdmain/etcd.go#L409-L414

[2015-11-24 05:46] roboll commented on #3098
#3916 makes a pass at implementing this using certificate common name

[2015-11-24 18:15] #3866 closed

[2015-11-24 21:00] eyakubovich opened #3919 "etcdv3: TTL-less keys"
This issue is to track a design decision about having no TTL on the keys but rather switch to using leases.

While flannel uses TTLs to implement subnet leases, these leases are not really owned by a process. It is a lease that's owned by a node (actually tied host IP). The lease can be manipulated by flannel daemon as well as administratively (e.g. etcdctl; flannelctl in the future). It is useful

[2015-11-24 21:23] barakmich opened #3920 "etcdv3: panic & cannot test existence of a key in a txn"
My only compare options are on certain fields, not the existence itself. This seems okay API-wise; I was expecting to test Compare_VERSION and see if the key version was 0 or -1 or somesuch.

However, this kills the etcd (on HEAD):

[code]

[code]

[2015-11-24 22:03] barakmich commented on #3920
Ah, heck. FTFY.

[2015-11-24 23:13] joshix commented on #3914
I strongly agree with @jonboulle's comment on #3913. Documentation remains clearer and less idiomatic if it is impersonal and imperative. It is especially easy to gain layers of indirection with the second person pronoun ("you").

I try to write new content in an active imperative voice, and expect we will make the wider existing documentation conform more with that style with iterations over time

[2015-11-24 23:42] roboll commented on #3620
shouldn't this apply to proxy as well? if we have client discovery then we shouldn't need to expose peer port to the proxy, and it can act as a pure client.

[2015-11-25 00:30] roboll commented on #3223
#3916 implements authentication using common name, that should solve this.

[2015-11-25 02:35] #3920 closed

[2015-11-25 08:39] qq690388648 commented on #3878
New Development。

The reason for the <code>curl</code> can access <code>etcd</code> successfully but the <code>etcdctl</code> cannot is that the self signed certificates I used is not safe enough and <code>curl</code> ignores it but the <code>etcdctl</code> does not.

Below is the steps to generating safe certificates(copyed from document of (kubernetes)[https://github.com/kubernetes/kubernetes/bl

[2015-11-26 07:06] dalanlan opened #3924 "race condition between etcd and flannel"
We expect `flannel` belonging to the same public ip to reuse the subnet within expiration when it's restarted. Yet it sometime doesn't. Turns out `etcd` doesn't give out all of the data.

- How to reproduce

It's hard to trace and could use a little luck.
1. Use `upstart` to manage `etcd` and `flannel`, bringing `flannel` up and down along with `etcd`. Ref [configuration file](https://github.com/k

[2015-11-26 08:39] AdoHe commented on #3924
@dalanlan from the log you offered, the `flanneld` daemon has received the `172.16.14.0/24` subnet added notification.

[2015-11-26 08:43] dalanlan commented on #3924
I' m afraid you mixed it up. That happened later.
Please focus on here
[code]

[2015-11-26 10:21] urzds commented on #3599
I'm confused...

So there are `advertise-client-urls` corresponding to `listen-client-urls`, which are the endpoints to be used by clients wanting to store data in etcd and for cluster members communicating with each other. Then there are `initial-advertise-peer-urls`, `initial-cluster` and `listen-peer-urls`, which are for discovering the `*-client-urls` only?

On the security side we have `cert-

[2015-11-26 10:24] AdoHe commented on #3924
@dalanlan I think you can try to print out the `key` used to acquire subnet lease and also print the `resp` of the acquire request.

[2015-11-26 13:57] dalanlan commented on #3924
@AdoHe  Why? I think it's pretty clear that `etcd` didn't give back all the data and made `flannel` suffer.

[2015-11-26 16:31] cristifalcas opened #3925 "Question regarding clients and ssl"
Let me first explain the setup:

* host1, host2, host3 are cluster members
* hosts4,host5, etc are set as proxies to the above cluster
* all etcd servers have for clients the listen urls and advertise urls set to 127.0.0.1 without ssl and for peers 0.0.0.0 with ssl

Can a client installed on the same machine with a proxy connect to the cluster through localhost with no ssl?

When I tried it failed

[2015-11-27 10:23] MichalMankowski opened #3926 "Clustering two diffrent channels"
I was trying to make cluster with few machines from alpha channel and few from stable , and I was unable to create that environment. There is no information in documentation that user cannot make environment like this .I suppose that main factor is diffrent etcd2 (version 2.1.2 and 2.2.1).

Logs saying that server is already initialized as member before ,but I remove few times /var/lib/etcd2/*  ,a

[2015-11-27 16:05] gyuho commented on #3926
Could you share the command that you used to start your etcd?
And `the server is already initialized as...` indicates you did not empty the
data directories, I think.

[2015-11-27 17:23] gyuho opened #3928 "Godeps: godep misses dependencies"
Examples:

- https://github.com/coreos/etcd/blob/master/Godeps/_workspace/src/github.com/google/btree/btree_mem.go#L28.
- https://github.com/coreos/etcd/blob/master/Godeps/_workspace/src/golang.org/x/oauth2/google/appengine_hook.go
- https://github.com/coreos/etcd/blob/master/Godeps/_workspace/src/golang.org/x/oauth2/client_appengine.go#L15
- https://github.com/coreos/etcd/blob/master/Godeps/_work

[2015-11-27 18:03] MichalMankowski commented on #3926
As I mentioned before I'm sure that /var/lib/etcd2/* was empty.

I stopped etcd2 ,clear /var/lib/etcd2/* ,then start it again ```systemctl start etcd2```

[2015-11-27 18:29] xiang90 commented on #3926
@MichalMankowski We need to have full log to help you more, especially the log right before the exit. See https://github.com/coreos/etcd/blob/master/Documentation/reporting_bugs.md#how-to-get-etcd-configuration-and-log-when-it-runs-as-systemd-service-etcd2service.

[2015-11-27 19:59] MichalMankowski commented on #3926
conf:
[code]

2 more intresting logs I think :

[code]

[code]

[2015-11-27 20:05] gyuho commented on #3926
Seems like you got duplicate IDs. Did you set the same token? Or `initial-cluster-state`?

[code]

[2015-11-27 20:12] MichalMankowski commented on #3926
Token was the same from the beginning , with first run logs shows that.
It's only appears on alpha coreos from my cluster , all nodes with stable seems ok from the beginning.

cloudconfig:
[code]

[2015-11-27 20:14] xiang90 commented on #3926
@MichalMankowski There are two issues:

1. You should remove the pervious data dir

2. You should not reuse previous discovery token.

[2015-11-27 20:16] xiang90 commented on #3926
`ETCD_DATA_DIR=/var/lib/etcd2` This is your data dir. I do not know how you "clear" it, but it was not removed when you started etcd.

[2015-11-27 20:18] MichalMankowski commented on #3926
So how nodes are in the list under my discovery key? I really don't know. If I didn't remove my old dir they shouldn't show up in the next one (if i'm right).

[2015-11-27 20:29] xiang90 commented on #3926
@MichalMankowski

I do not know exactly how you put the node under the discovery token. And I really cannot help you to figure that out. Probably you started etcd twice the same discovery token.

The result is that you reused the discovery token.

You probably did not clear entire `/var/lib/etcd2`, but the actual wal was cleared. I cannot know what you have done exactly.

Again here is my suggesti

[2015-11-27 20:32] xiang90 commented on #3926
@MichalMankowski

And it is OK to run etcd 2.1 with 2.2. The problem is that you:

cleared the wal and reused the discovery token. Once you remove the wal, your member is basically gone. If you want to add it back, you need to use runtime reconfiguration. See https://github.com/coreos/etcd/blob/master/Documentation/runtime-configuration.md#add-a-new-member

[2015-11-27 20:32] #3926 closed

[2015-11-28 18:01] xiang90 opened #3929 "v3: etcdserver: snapshot causes deadlock"
After requesting snapshot, this member becomes unresponsive in the raft perspective:

[code]

stack trace

[code]

It seems that txn is blocked.

[2015-11-30 17:36] xiang90 commented on #3861
@gyuho I did not remember we have already done this... Probably you need to find other potential cause?

[2015-11-30 17:37] gyuho commented on #3861
Sure I will try to replicate this. Thanks!

[2015-11-30 20:25] bobelev commented on #3740
@gyuho your documentation changes made proxy much more understandable. Thank you!

[2015-11-30 20:29] gyuho commented on #3740
@bobelev No problem. Thanks to @joshix

[2015-12-01 00:28] joshix commented on #3740
I believe #3871 closes this. Interested if @urzds, @gyuho, @xiang90 and other interested parties agree. @bobelev seems to think this one is closed. :)

[2015-12-01 00:35] xiang90 commented on #3740
@joshix @urzds

The doc helps. But ideally, the proxy SHOULD NOT talk to etcd cluster with peer urls. It should only reach the client urls. It is very tricky right now due to the etcd member fail-over (we want the proxy and member share the same flag. The flag is peer url right now...)

[2015-12-01 00:55] joshix commented on #3740
@xiang90 Ok, so if I understand correctly, complete resolution of this issue is blocked pending changes to etcd peer-to-proxy failover?

[2015-12-01 10:45] urzds commented on #3740
First: Thanks for the credits! It was a pleasure assisting @gyuho in clarifying significant parts of the document.

@joshix @xiang90 One bigger problem in understanding how this works, was to figure out that not only peers connect to peer URLs and that they do not necessarily have to authenticate themselves using a client certificate (or do they...?). I think this is still not explained anywhere.

[2015-12-01 21:52] kenaniah opened #3938 "Critical bug - etcd2 clusters do not heal"
If one of the initial nodes (from a cluster of 3) that was part of the discovery URL permanently goes offline, it is currently impossible to heal the etcd2 cluster. Any attempts to add or remove members via `etcdctl` result in `client: etcd cluster is unavailable or misconfigured`. Any attempts to add or remove members via the API result in an internal server error JSON response.

The only remedy

[2015-12-01 21:54] xiang90 commented on #3938
@kenaniah

I do not think this should happen. Can you reproduce it?

[2015-12-02 01:36] nikkomiu commented on #3827
@xcompass I got the service to startup after removing **only** the directory with nothing in it (based on your etcd settings).

Removing both directories for some reason breaks it on the second startup/reboot.

Not sure why both are being created...

[2015-12-02 01:47] magicwang-cn opened #3941 "etcd2.2.2 out of memory"
i have created a 5 nodes cluster, as follows:
4 cpus /8G Mem /160G disk
ubuntu 14.04

and the data which has been stored in the cluster is just about 80M, now the cluster is broken down[3 nodes out of memory], the part of  log is:
[etcd_out_of_memory.txt](https://github.com/coreos/etcd/files/49282/etcd_out_of_memory.txt)

[2015-12-02 01:47] magicwang-cn commented on #3941
@xiang90

[2015-12-02 01:51] xiang90 commented on #3941
@magicwang-cn Can you reproduce this issue? Not only the data, but also watchers can consume memory.

[2015-12-02 02:13] nikkomiu commented on #3827
@gyuho could a possible solution to the problem be to change https://github.com/coreos/etcd/blob/master/etcdmain/etcd.go#L488 to check for the file in the cfg dir instead of the directory itself?

[2015-12-02 03:43] gyuho commented on #3827
@nikfoundas Sorry for being slack on this issue. I will look into it and give you updates on that.

[2015-12-02 06:06] SrinivasChilveri opened #3943 "does etcd supports adding new node(peer) dynamically into the etcd cluster with tls?"
Hi,
     I am new to etcd.Its a query related to etcd cluster with tls. does etcd supports adding new node dynamically into the etcd cluster? in that case are we using dynamic reconfiguration or how we are updating the peer info which we are using while bringing up a node?

do we need to re generate the certificates?(https://github.com/coreos/etcd/blob/master/Documentation/security.md

[2015-12-02 09:58] llarsson commented on #3211
Thank you very much, @jessegonzalez, your step-by-step instructions were a life-saver. Or sanity-saver, at least. :)

[2015-12-02 11:09] magicwang-cn commented on #3941
@xiang90
yes, the problem has always exist. it just occur afternoon. and the log is the same as [etcd_out_of_memory.txt].
we just use etcd for kubernetes, and the k8s cluster is as follows:
1 k8s-master(with kube-apiserver)
400 k8s-node(with kubelet)
16000 pods(40 pods per node)

so what's the log meaning? i need help.

[2015-12-02 16:49] xiang90 commented on #3941
@magicwang-cn It means you run out of memory and your process get killed. You have to reproduce the problem independently.

Although you have 8GB memory, it does not mean that etcd can use all 8GB. In your case, k8s master will consume 3GB or so.

[2015-12-02 18:16] kenaniah commented on #3938
Yes. It's predictably reproducible. Easiest use case is to spin up a CoreOS cluster in an auto-scaling group on AWS using CloudFormation templates and then terminate one of the servers from the EC2 console. The auto-scaling group will spin up a new instance to replace the one that was terminated. At this point, the etcd2 cluster is already broken beyond repair.

[2015-12-02 18:24] xiang90 commented on #3938
@kenaniah

Will the new machine also start etcd? And how does it start the new etcd? How does the new etcd join to the new cluster?

etcdctl reports etcd cluster is not available does not mean the actual cluster is not running. Probably you misconfigured etcdctl?

[2015-12-02 18:34] kenaniah commented on #3938
To answer your questions, my cloud-config is pasted below:
[code]

[2015-12-02 18:39] xiang90 commented on #3938
@kenaniah

You need to remove the failed machines from etcd cluster and add new one back. Just restart a machine will not do the trick for you. Also the original etcd cluster is probably still running just fine.

You should read https://github.com/coreos/etcd/blob/master/Documentation/runtime-reconf-design.md#do-not-use-public-discovery-service-for-runtime-reconfiguration.

And also https://github

[2015-12-02 18:42] kenaniah commented on #3938
@xiang90 That's unfortunately not possible, as the `etcdctl member` command is what breaks at this point. Hence this bug report.

[2015-12-02 18:43] xiang90 commented on #3938
Basically, what you really should reproduce is this:

start a 3 member cluster. kill one. etcd is not working or etcdctl cannot connect to the original etcd cluster.

I cannot reproduce myself on ec2. If you can reproduce this simple case, please report back.

[2015-12-02 18:44] kenaniah commented on #3938
That's exactly what I'm reproducing and what I'm reporting :-(

[2015-12-02 18:45] jonboulle commented on #3938
What's the configuration you're providing to etcdctl?

[2015-12-02 18:45] xiang90 commented on #3938
@kenaniah

This is not. Can you just spin out 3 machines and kill one of them instead of trying to replace the old one with a new one?

[2015-12-02 19:32] xiang90 commented on #3943
Yes. Doc is here: https://github.com/coreos/etcd/blob/master/Documentation/runtime-configuration.md

You can read more about its design here: https://github.com/coreos/etcd/blob/master/Documentation/runtime-reconf-design.md.

You do not have to re-generate existing certs.

[2015-12-02 19:33] xiang90 commented on #3861
any progress on this one?

[2015-12-02 19:34] xcompass commented on #3827
@nikkomiu I found a workaround by setting proxy=1 to force node to running in proxy mode. It will never create the member directory. Then there is no problem after rebooting.

[2015-12-02 20:01] gyuho commented on #3861
I couldn't reproduce this yet :(  @zadoryzsolt could you be more specific about `data dir unreadable or empty`?

@xiang90 If an user sets this https://github.com/coreos/etcd/blob/master/etcdmain/etcd.go#L357 as temp directory and reboots its machine, the files will be gone. How about setting this `cfg.dir` to local path that won't be deleted even after machine reboot?

[2015-12-02 23:01] #3793 closed

[2015-12-02 23:18] #3747 closed

[2015-12-03 01:08] magicwang-cn commented on #3941
@xiang90
the 5 nodes etcd cluster is independently. k8s master is not installed with etcd.

[2015-12-03 01:18] xiang90 commented on #3941
@magicwang-cn We never met this issue. And I cannot reproduce your issue. We have been scheduling 30k pods into 1k nodes k8s cluster with etcd running on a 4 cores 8GB memory machine. You have to monitor the memory usage of etcd yourself and provide more information.

[2015-12-03 01:21] xiang90 commented on #3941
@magicwang-cn

16000pod will generate 160K keys into etcd. It will use 2GB memory at max. See https://github.com/coreos/etcd/blob/master/Documentation/benchmarks/etcd-2-2-0-rc-memory-benchmarks.md#data-size-threshold.

( etcd2 is not memory efficient either. We are working on etcd3, a memory efficient version of etcd. )

[2015-12-03 03:19] xiang90 commented on #3924
/cc @eyakubovich Can you please take a look?

[2015-12-03 03:21] xiang90 commented on #3924
@dalanlan etcd might give you stale, but sequential consistent data. Consistency != Linearizability.

[2015-12-03 03:30] dalanlan commented on #3924
What i expect is etcd would give all the data within expiration that it stores, by which i mean,
`172.16.16.0-24`, `172.16.87.0-24`, and `172.16.14.0/24` in this particular case, hence flannel can get rid of a new lease (`172.16.55.0-24`).
This is exactly what we call consistency, right?

[2015-12-03 03:33] xiang90 commented on #3924
Again, etcd would return you "stale" data unless you specify quorum=true. All data at time-t1 does not equal to all data at time-t2.

[2015-12-03 03:35] gyuho commented on #3861
@zadoryzsolt could you share your configurations to set up your etcd cluster, so that I can reproduce the issue?

[2015-12-03 03:53] eyakubovich commented on #3924
I think this should be a flannel issue -- change to use quorum=true. Considering flannel getting a lease is meant to be a rare operation, this should not be a problem.

I actually knew in the back of my mind that not having quorum reads might bite someone at some point. I guess it finally happened. I'll file and issue.

[2015-12-03 04:00] xiang90 commented on #3924
@dalanlan Let's track the issue in flannel repo.

[2015-12-03 04:00] #3924 closed

[2015-12-03 09:05] zadoryzsolt commented on #3861
I cannot share the full configuration, but this should be sufficient to reproduce the issue. What I meant about the data dir is that with the attached proxy settings the /var/lib/etcd/proxy.etcd/proxy/cluster file is empty when I open it in a text editor after a hard reset. It should contain the initial-cluster info in JSON as you said, but it does not.

[etcd-cluster.conf.txt](https://github.com/

[2015-12-04 00:34] gyuho opened #3954 "govet: fails when govet runs with go tip"
Reference:
- https://github.com/gyuho/etcd/blob/a00c2d8c4bd22259c250232f8db928ede1eefece/test
- https://travis-ci.org/coreos/etcd/jobs/94804195#L513-L592

[code]

Only breaks at Go tip branch.

[2015-12-04 00:37] xiang90 opened #3955 "test: TestRestoreContinueUnfinishedCompaction fails on CI"
[code]

[2015-12-04 02:39] gyuho commented on #3954
This is from `govet`. Will fix.

[2015-12-04 08:20] magicwang-cn commented on #3941
@xiang90
thank you for your help:)
yesterday i have token the test(400 nodes, 16000 pods) again. and i found the situation as follows:
first, definitely, this issue is cased by a param of kube-controller-manager(--kube-api-qps, from 20 to 100, and this can increase the rate of pods add/update/delete operation)
second, also my doubt, batch creating pods will not occur this problem, but batch deleti

[2015-12-04 18:12] xiang90 commented on #3941
@magicwang-cn

Probably you should figure out why the usage increases. Do you know operations caused the memory increases? It might be a misuse of etcd? Can you reproduce this issue without k8s? Have you filed an issue in k8s repo?

/cc @wojtek-t since you know the usage of etcd in k8s better than me.

[2015-12-04 20:16] joshix commented on #3914
https://github.com/joshix/docs/blob/styledir-hdings/STYLE.md#eschew-you

[2015-12-04 21:03] #3955 closed

[2015-12-05 18:31] gzliudan opened #3961 "systemctl status etcd report errors"
When I run systemctl status etcd, it has 2 red lines marked red as below:
failed to notify systemd for readiness: No socket
forgot to set Type=notify in systemd service file?
How to resolve this problem?
My system is oracle linux 7.1, and I use below commands to install etcd:
yum -y install etcd
curl -L  https://github.com/coreos/etcd/releases/download/v2.2.2/etcd-v2.2.2-linux-amd64.tar.gz -o etcd

[2015-12-05 18:38] xiang90 commented on #3961
The log line already told you how to resolve the issue:

[code]

You need to set type=notify.

[2015-12-05 18:38] #3961 closed

[2015-12-06 23:30] gzliudan opened #3963 "How to verify client and peer use username and password?"
How to verify client and peer use username and password?

And how clients can to find etcd nodes if not specify nodes' ip address? When I use etcdctl on same machine with etcd nodes, I don't input etcd ip address.

[2015-12-07 01:50] #3963 closed

[2015-12-07 01:52] gzliudan opened #3964 "etcdctl 2.2.2 sometimes fail to get information"
[root@mongo1 ~]# etcdctl -u liudan:daniel role get guest
Insufficient credentials
[root@mongo1 ~]# etcdctl -u liudan:daniel role get guest
Role: guest
KV Read:
        /*
KV Write:
        /*
[root@mongo1 ~]# etcdctl -u liudan:daniel role get guest
Insufficient credentials
[root@mongo1 ~]# etcdctl -u liudan:daniel role get guest
Insufficient credentials
[root@mongo1 ~]# etcdctl -u liudan:daniel ro

[2015-12-07 07:01] mitake commented on #3964
Hi @gzliudan , it seems to be an interesting problem. Current etcd doesn't turn quorum flag on in its authentication requests and it would produce such results. I made a change in a branch of my own fork, could you try it? https://github.com/mitake/etcd/tree/auth-quorum

\# I still cannot reproduce your problem and am not fully sure the branch is effective

[2015-12-07 09:08] gzliudan commented on #3964
After I reboot all servers, the results becomes:
[root@mongo1 ~]# etcdctl -u liudan:daniel role get guest
Insufficient credentials
[root@mongo1 ~]# etcdctl -u liudan:daniel role get guest
Insufficient credentials
[root@mongo1 ~]# etcdctl -u liudan:daniel role get guest
Insufficient credentials
[root@mongo1 ~]# etcdctl -u liudan:daniel role get guest
Insufficient credentials
[root@mongo1 ~]# etcdct

[2015-12-07 09:15] gzliudan opened #3965 "Can etcd push KV changes to clients proactively? And how?"
Hi:
    All. If client watch a key or directory, can etcd server push KV changes to clients proactively? So the client needn't to long pull changes. And how to realize this function?

With regards
Daniel

[2015-12-07 11:00] gzliudan commented on #3964
maybe you can reproduce problem according to below steps:
1. setup a new etcd cluster
2. add a new user
3. add role guest
4. at this time the user can get guest role information
5. etcdctl auth enable, but don't restart etcd
6. test get guest role information again

[2015-12-07 15:42] xiang90 commented on #3965
@gzliudan

Now etcd server is pushing updates to client. I am not sure what you mean exactly. Probably you do not want to keep the long polling connection between client and server? If so:

We do not have plan to support it. Probably you can build your own proxy to do long polling to etcd, and build your own client that can register endpoint to that proxy so that the proxy can push updates to the

[2015-12-07 17:01] gzliudan commented on #3965
I mean if clientA is watching key /key1, when clientB update /key1, etcd will tell clientA that /key1's value has been changed, clientA no need to do long polling. And how to config etcd and client to support this function? It seems http protocol is long polling.

[2015-12-07 17:16] xiang90 commented on #3965
@gzliudan

It only means client A needs to create the connection and the server keeps it to enable pushing.

Again etcd does not support it. You can write your own proxy/client to do it. I am not sure what you want to achieve, but in most cases you do not need this feature.

[2015-12-07 17:16] #3965 closed

[2015-12-08 01:20] mitake commented on #3265
@yichengq @gyuho if a client turns on client.GetOption.Quorum, reading from leader's store is enforced so the client can be aware of unhealthy server.

For example,
1. create a cluster with 3 nodes
2. create a key
3. kill 2 nodes
4. get the key with etcdctl get with the option --quorum (which turns on client.GetOption.Quorum)
in such a sequence, the get request in 4th step will fail because of los

[2015-12-08 01:49] mx2323 commented on #3265
The issue isn't on reads, it's when a watch is registered on an etcd server, but the server on which the watch is sent to is partitioned from the rest of the etcd cluster. In these situations, the client will sit with a watch untriggered when it could have gone to another server and gotten the new update.

[2015-12-08 11:25] plwhite opened #3969 "Etcd cluster logs about lost leader and takes several seconds to recover"
I'm seeing the following error in some but not all of a sequence of load test runs against etcd, and I'd appreciate some pointers as to what might be going on here.

In a typical run, I'm running 7 etcd nodes in a cluster, with 500 clients, each using an etcd proxy. All etcd proxy instances are etcd 2.0.11, but the cluster itself is running 2.2.2. There's a fair amount of read and write load - aro

[2015-12-08 15:24] xiang90 commented on #3969
You have to keep db size less than 100MB for etcd2 when you have a lot of small keys. See https://github.com/coreos/etcd/blob/master/Documentation/benchmarks/etcd-2-2-0-rc-memory-benchmarks.md#data-size-threshold

[2015-12-08 16:37] plwhite commented on #3969
Interesting - thanks. I'd somehow missed this reference. I'll dig around and get a better idea for how much data we actually have in etcd to see if my estimate was right, and if that might be the problem.

[2015-12-08 16:59] xiang90 commented on #3969
@plwhite Thanks!

[2015-12-08 17:07] plwhite commented on #3969
@xiang90 Clarifying your last comment, do you think the issue might just be that etcd isn't keeping up because it's run out of resources of some sort?

I think RAM is likely not to be the issue, since we peak at somewhere short of 100K keys by my calculation (I need to run a test and actually check the number to make sure). etcd was using around 1GB virtual, 300MB resident at the point things went

[2015-12-08 17:10] xiang90 commented on #3969
@plwhite When you have a large amount of data in etcd, each raft log compaction requires writing the entire data set to disk. That costs a lot of resources. We are working on incremental snapshotting to solve it.

[2015-12-08 17:11] xiang90 commented on #3969
@plwhite

Are these writes triggering ALL watchers?

[2015-12-08 17:22] plwhite commented on #3969
We have 500 watchers each of which is triggering on about a third of the changes (same third each time, i.e. they all watch the same subtree). Each watcher is behind its own proxy. Seems like we are hitting etcd about as fast as it seems to go; it might be that we are hitting it so hard that we need to back off.

Worth saying though that this test normally works, in that etcd handles it all, but e

[2015-12-08 17:54] scole-scea opened #3971 "etcd2 cluster bootstrap failing on Google Compute Engine"
# Etcd2 Initial Cluster Discovery for new Clusters in CoreOS 835.9.0

## The Problem

When trying to create an etcd cluster where some hosts are members and some hosts are proxies, cluster discovery seems to get confused about who is a member and who is a proxy, and then gets stuck, refusing to ever change its mind.

This happens in roughly 8 out of 10 cluster bringups. (The other 2 work fine.)

#

[2015-12-08 17:57] xiang90 commented on #3971
[code]

Can you please provide the full log? I cannot see why it failed for the first time.

You probably need to try https://github.com/coreos/etcd/blob/master/Documentation/reporting_bugs.md#how-to-get-etcd-configuration-and-log-when-it-runs-as-systemd-service-etcd2service

[2015-12-08 18:15] scole-scea commented on #3971
Ah! You need to take the `-f` out of the "get the logs" example on that list. That helps a lot, since I can't turn on follow mode until after the service has failed.

At any rate: the first couple of failures from the log are:
[code]

So: `context deadline exceeded`.

[2015-12-08 18:32] scole-scea commented on #3971
It also looks like the syslog identifier for etcd isn't in the current CoreOS stable, so that `journalctl -t` trick won't work when I try this there.

[2015-12-08 19:10] gyuho commented on #3827
My first approach can be found here https://github.com/coreos/etcd/pull/3949 in order to overwrite proxy setting by deleting member directory. If anybody has feedback, please let me know!

[2015-12-09 18:22] xiang90 commented on #3910
@raoofm You can use skydns (https://github.com/skynetservices/skydns) to achieve the similar thing. We do not have plan to support this directly in etcd project at the moment.

[2015-12-09 18:22] #3910 closed

[2015-12-09 18:49] nixlike commented on #3171
Hi!

The problem is still there , the below log from running 3 node vagrant cluster

ID=coreos
VERSION=884.0.0
VERSION_ID=884.0.0
BUILD_ID=2015-12-03-0237
PRETTY_NAME="CoreOS 884.0.0"

[code]

[2015-12-09 19:06] nixlike opened #3974 "Cluster not forming etcd Version: 2.2.2"
Hi!

ID=coreos
VERSION=884.0.0
VERSION_ID=884.0.0
BUILD_ID=2015-12-03-0237
PRETTY_NAME="CoreOS 884.0.0"

Cloud-config:
[code]

Logs:

[code]

Any ideas ?

Thanks

[2015-12-09 19:17] xiang90 commented on #3974
@nixlike

I means you reused a discovery token. Please generate new ones as long as you used one (even if the previous discovery fails for some reason)

[2015-12-09 19:17] #3974 closed

[2015-12-09 19:30] nixlike commented on #3974
@xiang90  Thanks for the heads up.

But the new token is generated each time I run "vagrant up". I've double checked this.
https://github.com/nixlike/ecore/blob/packer/envtype/localdev/vagrant/config.rb

Can this be due to "slow" start of each node ? Any timeouts ?

[2015-12-09 19:33] xiang90 commented on #3974
@nixlike I am not sure. Probably you should check it any etcd process has been killed and restarted after some timeout.

[2015-12-09 20:04] nixlike commented on #3974
@xiang90 you are right , systems shut etcd by timeout.

[code]

The below did the trick

[code]

[2015-12-09 20:19] nelsonenzo commented on #3938
I'm experiencing this exact issue as well.  It seems odd that a "Distributed reliable key-value store" can not elegantly handle losing a node :/

[2015-12-09 20:23] raoofm commented on #3910
@xiang90 Thanks

[2015-12-09 20:54] xiang90 commented on #3938
@nelsonenzo We kill nodes, restarts nodes every several seconds in our failure injection testing. We have not found any issue recently.

The issue mentioned here seems like a configuration problem. Please provide a way to reproduce your issue, then we would love to help figure out the root reason.

[2015-12-10 16:35] plwhite commented on #3969
We are unable to repro now running the exact same test. That's going to make diagnosis very hard, so I'm leaving this idle for now.

[2015-12-10 17:56] xiang90 commented on #3929
Closed by https://github.com/coreos/etcd/pull/3970

[2015-12-10 17:56] #3929 closed

[2015-12-10 17:56] xiang90 commented on #3954
@gyuho Do you have time to take a look at all the failures?

[2015-12-10 17:58] gyuho commented on #3954
@xiang90  Yeah most of them are trivial changes, except `sync.Once`. I will check again.

[2015-12-10 17:58] xiang90 commented on #3954
sync.Once is gone. I have rewrote the entire snapshot thing.

[2015-12-10 18:00] gyuho commented on #3954
Got it. Then govet  would most be from err interface shadowing. I will fix it in a separate PR.

[2015-12-10 19:47] xiang90 commented on #3778
This really needs to be solved soon. The goal of 2.3 is to make snapshot working properly.

[2015-12-11 01:02] xiang90 commented on #3778
closed via #3976

[2015-12-11 01:02] #3778 closed

[2015-12-11 21:54] xiang90 commented on #3943
@SrinivasChilveri I think your question is answered. Closing this due to low activity.

[2015-12-11 21:54] #3943 closed

[2015-12-11 21:57] xiang90 commented on #3603
I have tested this on linux box. The mmaped region does consume swap space since it is backed by a file on disk.

[2015-12-11 21:57] #3603 closed

[2015-12-11 21:58] xiang90 commented on #3559
We do not run integration test on travis any more. We have not seen this for a long time, so closing.

[2015-12-11 21:58] #3559 closed

[2015-12-12 14:50] nelsonenzo opened #3982 "backup/restore docs are currently incorrect"
Currently the docs specify:
[code]
"-force-new-cluster" is not a valid flag in version 2.2

Older versions of etcd2 that do support -force-new-cluster, do not support
`etcdctl member update`
which is required change the advertised peer url.

I currently have no path to restore an etcd cluster from a backed up data directory.  Any help on the current way to do this would be appreciated.

[2015-12-13 07:59] xiang90 opened #3983 "travis fails on TestStreamWriterAttachOutgoingConn"
https://travis-ci.org/coreos/etcd/jobs/96544900

[2015-12-13 08:00] #3954 closed

[2015-12-14 02:32] daniel-ziegler commented on #3699
Any updates on this?

[2015-12-14 02:43] penguinxr2 commented on #3971
I can confirm this happened to me also with CoreOS 835.9.0. I had to manually delete the /var/lib/etcd2/member folder in order for the etcd2 service to launch correctly as a proxy.

[2015-12-14 05:09] mitake commented on #3964
@gzliudan thanks for your instruction. Now I can produce the problem. I'll dig this problem.

[2015-12-14 05:12] mitake commented on #3265
@mx2323 thanks for your pointing, I couldn't consider the case of watch.

[2015-12-14 15:40] xiang90 opened #3990 "TestLockAndUnlock fails on semaphoreci"
--- FAIL: TestLockAndUnlock (0.05s)
	lock_test.go:94: unexpected blocking
2015-12-14 08:01:42.941093 I | fileutil: purged file /tmp/purgefile800663965/0.test successfully
2015-12-14 08:01:42.941236 I | fileutil: purged file /tmp/purgefile800663965/1.test successfully
2015-12-14 08:01:42.941296 I | fileutil: purged file /tmp/purgefile800663965/2.test successfully
2015-12-14 08:01:42.951496 I | file

[2015-12-14 19:31] gyuho commented on #3982
@nelsonenzo

Could you tell us which version of etcd you are running?

And I will look into ways to document this issue. Thanks,

[2015-12-14 19:31] xiang90 commented on #3982
@gyuho

I believe it is etcd 2.2.

[2015-12-14 19:58] #3990 closed

[2015-12-15 05:00] #3983 closed

[2015-12-15 19:28] gst opened #3996 "EtcdResult.__repr__ should not include __dict__"
Hi,

I just started trying etcd..

I'm suprised to see that the \_\_repr\_\_ of an EtcdResult include the repr() of its whole \_\_dict\_\_, which is rather counter-producive when you evaluate/test the library in an interactive session.. especially if the returned EtcdResult was one with recursive=True..

Would you mind changing the \_\_repr\_\_ to not anymore include the whole instance \_\_dict\_\

[2015-12-15 19:38] gyuho commented on #3996
@gst Looks like python code. What etcd client are you using?

[2015-12-15 19:46] gst commented on #3996
@gyuho  : yes that's python, sorry I thought I was on the good repository..

this is this one :  http://python-etcd.readthedocs.org/

Guess I'm gonna /move/ this ticket where appropriate..

[2015-12-15 19:48] #3996 closed

[2015-12-15 19:51] gyuho commented on #3996
Got it. Thanks.

[2015-12-16 00:20] streamnsight opened #4002 "etcd with TLS: etcd unit fail, but little info why"
trying to get etcd on my CoreOS cluster setup with TLS... and having a hell of a time.

I looked at the different guides, generated both client and peer certs and keys

etcd fails to start and what I get in journalctl is (IPs and token obfuscated):
[code]

I have the certs and keys in the right folders.
I'm pretty sure permissions are fine.
The certs have extensions for clientAuth,serverAuth (for

[2015-12-16 07:31] chang290 opened #4005 "etcd 2.2.2 auth password CPU usage is too high"
To reproduce

terminal 1：
./etcd

terminal 2:
./etcdctl user add root
./etcdctl auth enable
for i in `seq 0 1000` ; do ./etcdctl --peers "http://127.0.0.1:2379" -u root:root set /zcs 100; done

now monitor etcd's cpu usage, it is over 90;

[2015-12-16 08:39] AkihiroSuda opened #4007 "TestIsDirWriteable fails with root privilege"
[code]

The bug happens on a907ca5e62503e9ee2f3db95024f00e92e374586.
I will submit a patch later.

[2015-12-16 14:51] despairblue commented on #3600
Not sure if I have the same problem:

when I follow https://coreos.com/os/docs/latest/booting-on-azure.html to setup a cluster on azure, using this cloud-config.yaml:

[code]

The etcd2 simply never works. I tried it 3 times from scratch and always get [this log](https://gist.github.com/despairblue/1dbf221d2f109f217d88), which does look quite similar.

[2015-12-16 15:53] despairblue commented on #3600
tried the beta channel (2b171e93f07c4903bcad35bda10acf22__CoreOS-Beta-877.1.0) same thing

[2015-12-16 15:56] philips commented on #3600
@despairblue I believe what you are hitting is this: https://github.com/coreos/coreos-overlay/commit/ae897d7e497b43eb172c92f2fc58721a4809fb6c

In the next alpha release we will fix it. The problem is that etcd is getting killed by systemd before the full bootstrap happens.

[2015-12-16 16:05] liggitt opened #4008 "Need a ConfigFromFile helper"
Migrating from the legacy go-etcd client to the official client would be eased with a `ConfigFromFile` helper function that took a legacy config file and constructed a corresponding client Config object.

see https://github.com/kubernetes/kubernetes/issues/18760

cc @xiang90 @timothysc

[2015-12-16 17:21] xiang90 commented on #3600
@despairblue The original issues has been solved in etcd 2.2.2 release (context deadline exceed). As @philips mentioned, the other issue will be solved soon in the next CoreOS alpha release.

[2015-12-16 17:21] #3600 closed

[2015-12-16 17:22] xiang90 commented on #4005
This is kind of duplicate with #3223. @chang290 Do you mind closing this and add more info to #3223?

[2015-12-16 18:13] heyitsanthony commented on #4008
Seems reasonable to have support for ingesting config from a file (or wherever) instead of expecting people to roll their own to do the same thing (especially if there are a lot of options). At the very least, new tunables could be supported "out of the box" with a standard config. Are there any downsides here aside from it being a little more code?

[2015-12-16 18:14] crawford commented on #3600
This should have already been fixed in [891.0.0](https://github.com/coreos/manifest/releases/tag/v891.0.0).

[2015-12-16 18:17] ecnahc515 commented on #4008
I think this would be really great to add, particularly for clients, but also possibly for the server component as well.

First reason is it makes sharing configuration easier. If I have 2 apps both using the etcd client libraries I could potentially use the same configuration file for both rather than having to duplicate every config option in my own apps.

Separating them also makes configuratio

[2015-12-16 18:37] timothysc commented on #4008
This would need to target 2.2 series to meet k8s 1.2 release time-frame, given etcd3's time-frame won't meet it.

[2015-12-16 18:51] jonboulle commented on #4008
@ecnahc515 I don't want to conflate client configuration with server, can you split that discussion out into a separate issue?

[2015-12-16 18:53] xiang90 opened #4009 "configuration file for etcdserver"
From @chancez

I think this would be really great to add, particularly for clients, but also possibly for the server component as well.

First reason is it makes sharing configuration easier. If I have 2 apps both using the etcd client libraries I could potentially use the same configuration file for both rather than having to duplicate every config option in my own apps.

Separating them also mak

[2015-12-16 18:53] xiang90 commented on #4008
@jonboulle done at https://github.com/coreos/etcd/issues/4009

[2015-12-16 19:22] ecnahc515 commented on #4008
@jonboulle @xiang90 my first and 2nd points apply to both client and server

[2015-12-16 19:58] gyuho commented on #4009
If I understand correctly, I think it would be helpful to have globally defined etcd option/flag wrapper.

Personally I have a script to quickly generate etcd configurations and flags using Go struct:

[code]

[2015-12-16 21:36] despairblue commented on #3600
Thanks guys. Some questions:

1. Will this be backported to the current stable or will this have to go through beta? I ask since it seems to be not possible to use the current stable on azure (and possibly other providers?).
2. Could this have affected am already deployed cluster via auto update? I mean the OS is starting, so I'm not sure if coreos would have rolled back. :worried:

[2015-12-16 21:37] xiang90 commented on #3600
It shouldn't

[2015-12-16 22:02] crawford commented on #3600
It will be backported. In the mean time, you can use the following snippet:

[code]

[2015-12-16 22:24] despairblue commented on #3600
@crawford Thank you! :+1:

[2015-12-17 02:08] onlyjob opened #4012 "better recovery after failure"
After power failure on one of three nodes Etcd-2.2.2 failed to start:

[code]

Investigation revealed that most recently modified `000000000000003f-0000000001367007.wal` file is likely to be corrupted. However _etcd_ silently terminated on start without clearly logging nature of the problem.
Removing damaged file did not help and all my attempts to recover node have failed.
In the end I had to rem

[2015-12-17 02:11] xiang90 commented on #4012
That is not going to work. If any committed log entries is lost, etcd has to refuse to start. Or you might corrupt the cluster data.

[2015-12-17 02:12] xiang90 commented on #4012
Can you please show the full log of etcd?

This is what we need to fix I believe.

[2015-12-17 02:33] #4005 closed

[2015-12-17 03:08] onlyjob commented on #4012
I already quoted all meaningful messages. Etcd just terminates after `loaded cluster information from store: <nil>` so there is nothing more to add...

IMHO this is the problem. When other Etcd nodes are up-to-date it is clear that node that fall behind due to corruption should just pull newer data from peers instead of failing.
Anyway this is the only way to recover but manual re-creation of node

[2015-12-17 03:14] xiang90 commented on #4012
I mean the log before it when reading the wal.

Your node is not only out of date but also loses meaningful state information about itself. For more information, I would suggest you to read raft paper which we use as our underlying protocol.

[2015-12-17 03:28] xiang90 commented on #4012
@onlyjob Also to get full log, you need to do https://github.com/coreos/etcd/blob/master/Documentation/reporting_bugs.md#how-to-get-etcd-configuration-and-log-when-it-runs-as-systemd-service-etcd2service. There is a journald issue.

[2015-12-17 03:46] onlyjob commented on #4012
Please believe me, Etcd logged nothing useful comparing to normal Etcd start up.
I know how to use `journalctl`. This is exactly one of the problems I'm reporting: Etcd quietly terminates when its data files are corrupted.

Well, in this case it knows when to re-initialise itself. Why not to do so instead of failing?
Why do I need to remove and re-create member manually?

[2015-12-17 04:01] xiang90 commented on #4012
@onlyjob Have you tried https://github.com/coreos/etcd/blob/master/Documentation/reporting_bugs.md#how-to-get-etcd-configuration-and-log-when-it-runs-as-systemd-service-etcd2service? I do not think etcd should silently quit.

etcd does not provide auto reconfiguration intentionally. Check https://github.com/coreos/etcd/blob/master/Documentation/runtime-reconf-design.md#design-of-runtime-reconfigur

[2015-12-17 04:06] mitake commented on #4008
@liggitt @heyitsanthony @ecnahc515 I'm working on the mechanism for unified configuration management of etcd client in https://github.com/coreos/etcd/pull/3944 . Currently it just uses env vars for limited parameters but I can add a support for file based mechanism.

[2015-12-17 04:14] onlyjob commented on #4012
This is exactly my point. Yet it seems to quit silently. I've checked logs and I'm not sure how can I convince you that Etcd logged nothing relevant...

Fair enough. Bit IMHO it invalidates the following claim: "_etcd is designed to be resilient to machine failures_" from [admin guide](https://github.com/coreos/etcd/blob/master/Documentation/admin_guide.md#disaster-recovery) as my example demonstr

[2015-12-17 04:18] xiang90 commented on #4012
Well. First etcd handles power failure most the cases. If the last few entries does not contain important data, it can be repaired. Check https://github.com/coreos/etcd/blob/master/wal/repair.go. I am not sure what exactly happened. And you told me it is `likely` happened. I want something for sure.

I cannot really help unless you can reproduce the issue and give me step by step instruction. If w

[2015-12-17 04:24] xiang90 commented on #4012
I have to copy the full paragraph here. Your argument totally misinterprets the whole paragraph.

etcd is designed to be resilient to machine failures. An etcd cluster can automatically recover from any number of temporary failures (for example, machine reboots), and a cluster of N members can tolerate up to (N-1)/2 permanent failures (where a member can no longer access the cluster, due to hardwa

[2015-12-17 04:58] xiang90 commented on #1808
@gyuho @bdarnell I am pretty confident about our raft pkg now. I think we can start to remove the runtime panics. What do you think?

[2015-12-17 05:43] gyuho commented on #1808
Sorry, I am late for this discussion. What do we mean by `remove assertion and runtime panic`?
I see raft package does panic with `logger.Panic`. Are we suggesting that runtime panic does not
happen anymore in raft package?

[2015-12-17 05:44] xiang90 commented on #1808
@gyuho Yes. We add a few panic inside raft pkg to catch logic errors. So it would be easier for us to debugging when there is something goes wrong at runtime. But I feel raft is pretty stable right now.

[2015-12-17 05:46] gyuho commented on #1808
Got it. Then would we switch to `Warning` or `Debug`?
Sounds good to me.

[2015-12-17 05:49] mitake commented on #2102
@xiang90 @ongardie hi, could you share the title of the book describing the approach? It would be related to my ongoing work: https://github.com/coreos/etcd/pull/3950

[2015-12-17 05:51] gyuho commented on #1808
Oh you mean remove from `TODO`? SGTM as well. Thanks,

[2015-12-17 06:19] gyuho commented on #3982
Sorry for delay.

So the problem is:
- `force-new-cluster` flag is introduced since the [version 2.0](https://github.com/coreos/etcd/blob/release-2.0/etcdmain/config.go#L182).
- `etcdctl member update` is introduced since the [version 2.2](https://github.com/coreos/etcd/blob/release-2.2/etcdctl/command/member_commands.go).
- But the [doc](https://github.com/coreos/etcd/blob/master/Documentation/ad

[2015-12-17 06:28] xiang90 commented on #3982
@gyuho

I think his problem is ""-force-new-cluster" is not a valid flag in version 2.2". But I believe --force-new-cluster is still a valid flag in 2.2. Can you also give it a try to confirm?

[2015-12-17 06:28] gyuho commented on #2102
@mitake I think they talk about [Diego's dissertation](https://github.com/ongardie/dissertation).

[2015-12-17 06:31] gyuho commented on #3982
Yeah we released 2.2 with `force-new-cluster` flag [here](https://github.com/coreos/etcd/blob/release-2.2/etcdmain/config.go#L211).

I see the problem that if one has version 2.1 that has `force-new-cluster` but no `etcdctl member update`, he/she cannot restore the back-ed up data in the way we describe in the `admin_guide` documentation.

[2015-12-17 06:33] xiang90 commented on #3982
@nelsonenzo Both me and @gyuho have confirmed `--force-new-cluster` is still a valid flag in 2.2. Can you please make sure you are using etcd 2.2 and try again. @gyuho is working on improving the doc. But I think that is a separate issue.

[2015-12-17 06:35] xiang90 commented on #3982
@gyuho Our API doc is actually also versioned. The 2.1 doc is here: https://github.com/coreos/etcd/blob/release-2.1/Documentation/admin_guide.md. We also do not maintain 2.1 branch anymore. So there is really nothing we can do here.

[2015-12-17 06:35] #3982 closed

[2015-12-17 06:35] gyuho commented on #3982
Thanks @xiang90 .

@nelsonenzo If your etcd is v2.0+, `force-new-cluster` should be valid flag.
But if your `etcdctl` is lower than v2.2, `etcdctl member update` is not supported.

Please let us know while we are working on updating the docs in a separate PR.
I will keep you updated.

[2015-12-17 06:36] gyuho commented on #3982
Got it @xiang90 . I will work on the docs for the future branches then.

[2015-12-17 13:38] onlyjob commented on #4012
It is true that cluster survives single node failure. However instead of self-repairing node just commits suicide which is wrong. Certainly it can be improved.

I'm sorry if I wasn't clear enough. I tried though... See below for details.

I'm not asking for help but reporting two issues that I recognise as suboptimal: lack of error message and failure to recover.  I hope you might consider this re

[2015-12-17 14:02] bdarnell commented on #1808
Raft itself is stable, but we still find some of the assertions useful for finding bugs in our use of raft (e.g. when our `raft.Storage` implementation returns inconsistent results for first/last/applied/committed index). I think most of the assertions should stay.

[2015-12-17 14:28] geku commented on #3827
With CoreOS a simple workaround is to create a drop-in in the cloud-config for etcd2.service which deletes the empty `member` directory before etc2 start up:

[code]

Afterwards etcd2 servers and proxies start as expected.

[2015-12-17 15:21] veye commented on #3827
@geku Cool! And thanks for posting here.

[2015-12-17 16:02] streamnsight commented on #4002
ok. so I guess the 1st thing was to use -xxx to get much more verbose output.
then i see the `client` flags actually seem to require that the cert has a `serverAuth` flag. Somehow it makes sense since etcd is the server and the `client` flags are for clients to connect to.
The terminology of the flags is just very confusing.

last thing is: the URLs need to be changed from `http://` to `https://`.

[2015-12-17 16:02] #4002 closed

[2015-12-17 16:04] xiang90 commented on #4002
@streamnsight Sorry for the late reply. You can try https://github.com/coreos/etcd/blob/master/Documentation/reporting_bugs.md#how-to-get-etcd-configuration-and-log-when-it-runs-as-systemd-service-etcd2service to get the last few lines before etcd exists. That should help you debug a lot. Glad you figured it out yourself.

[2015-12-17 16:14] MartinPodval opened #4015 "proxy: cluster file overrides environment settings"
We use kubernetes cluster installed on CoreOS machines. We utilize cloud config as much as possible. As it's a testing cluster, we have one static master. Our network admin have changed  domain name this week so we were pushed to update etcd configuration placed in cloud config. Namely the master ip/host name in fact.

I'm surprised that the settings placed in files in not overridden by environmen

[2015-12-17 16:15] xiang90 commented on #4012
@onlyjob Thanks for your last reply with more detailed information. I will try to reproduce it and get back to you soon.

[2015-12-17 16:21] streamnsight commented on #4002
@xiang90 I had done that, it was just not verbose enough to see the SSL cert errors.
I had to use journalctl -u etcd2 -b -xxx to get enough info.

[2015-12-17 23:42] xiang90 commented on #1808
@heyitsanthony got a simple kv on top of raft at https://github.com/coreos/etcd/tree/master/contrib/raftexample.

We will update raft/doc.go to refer that.

[2015-12-17 23:52] heyitsanthony opened #4018 "raftexample: dynamic cluster reconfiguration"
The current raftexample code uses a static set of peers defined at initialization for its cluster; no peers may be added or removed. Dynamic reconfiguration support would allow new peers to join the cluster after the cluster has been instantiated.

[2015-12-18 00:08] heyitsanthony opened #4019 "raftexample: support log snapshots"
raftexample appends key-value updates to the raft replicated log. Superseded key-value pairs remain in the log indefinitely; the log maintains a complete history of all updates. Maintaining this entire history is impractical due to space and replay costs. Instead, the log should be compacted as a point-in-time snapshot; the most recent values are stored to the snapshot and all log entries recorded

[2015-12-18 04:19] buaazp commented on #1808
Good job! @heyitsanthony @xiang90

[2015-12-18 04:20] philips opened #4021 "etcd member add help is not helpful"
[code]

Needs to expand to show the actual arguments and use. Or point to documentation.

[2015-12-18 04:27] xiang90 commented on #4021
ref #3912

[2015-12-18 04:56] philips opened #4022 "proposal: TLS by default for all etcd peer communication"
Problem: We want more people using TLS for etcd in peer communication. We don't want this to happen: https://blog.shodan.io/its-still-the-data-stupid/

Solution: Make it easier to get etcd into a TLS mode and operate the lifecycle of the cluster security and public keys. To accomplish this goal we should make TLS the default for etcd.

Proposal document: https://docs.google.com/document/d/11nC7y42

[2015-12-18 05:55] ongardie commented on #2102
Yes, thank you @gyuho.

[2015-12-18 05:57] gyuho commented on #2102
Np!

Sincerely,
Gyu-Ho Lee
On Dec 17, 2015 9:56 PM, "Diego Ongaro" <notifications@github.com> wrote:

[2015-12-18 06:22] mitake commented on #2102
@gyuho @ongardie thanks a lot!

[2015-12-18 17:11] Osmonde opened #4023 "Etcd 2.2 'etcdctl user list' and 'etcdctl role list' return "cannot unmarshal object" error"
Running Etcd 2.2 and attempting to setup authentication. Users and roles can be added with <tt>etcdctl user add</tt> and <tt>etcdctl role add</tt> but attempting to list either users or roles with <tt>etcdctl role list</tt> or <tt>etcdctl user list</tt> returns the error: <tt>json: cannot unmarshal object into Go value of type string</tt>
This issue also appears to exist in Etcd 2.3 alpha.

Full c

[2015-12-18 17:14] jonboulle commented on #4023
Can you give an example of the add commands you ran?

[2015-12-18 17:54] xiang90 commented on #4023
I can reproduce this issue by adding a random user and then doing a list.

[2015-12-18 18:03] Osmonde commented on #4023
The error is also returned when you 'get' a user that has a role assigned to it, but not when the user has no role assigned. See output below:

Adding user successfully:
<pre>
[root@tslx98]/opt/etcd-2.2/bin#>./etcdctl user add test2
New password:
User test2 created
</pre>

Show the details of the new user:
<pre>
[root@tslx98]/opt/etcd-2.2/bin#>./etcdctl user get test2
User: test2
Roles:
</pre>

Ma

[2015-12-18 18:05] xiang90 commented on #4023
@Osmonde I think this is probably just a small issue somewhere. Do you mind looking into it in the code and fixing it? I think you already have a pretty good idea about what is wrong.

[2015-12-18 18:42] xiang90 commented on #4022
How will the TLS on peer help with the unauthed access? TLS+Auth client can only prevent outsider to corrupt the cluster. Shall we suggest people to only expose peer address in VPC or local network if possible?

[2015-12-18 18:52] philips commented on #4022
It is very possible that someone could use unencrypted peer communication to extract cluster secrets on the wire and unverified communication to get a snapshot of the database. I have another proposal I am writing for the client side but I think the peer side is a clear first step.

[2015-12-18 18:54] xiang90 commented on #4022
@philips Yea, I agree it is helpful. I mean this proposal will not prevent the exact same issue described https://blog.shodan.io/its-still-the-data-stupid/. We need client side protection.

[2015-12-18 21:26] philips commented on #4022
@xiang90 agreed on client side, that is the next proposal :)

[2015-12-18 23:27] gyuho commented on #3848
In the high level, I agree that there should be one TCP connection shared
by X number of clients, as we watch using gRPC. Then it seems like it would be
done in client side, which is currently `etcdctlv3`.

Wrapping 10s of `watch` commands in one TCP connection would be simple but
I am not sure what would be the best way to support this in command line interface.

Any suggestions? @xiang90

[2015-12-19 00:25] gyuho commented on #3848
I misunderstood. gRPC part is already implemented. I will change the logic to get range histories first.
And will keep track of progress here.

[2015-12-19 16:04] jonboulle commented on #4015
Hm, to which documentation are you referring? The only mention I see in ours is when talking about [promoting a proxy to a member](https://github.com/coreos/etcd/blob/master/Documentation/proxy.md#remove-the-existing-proxy-data-dir) which I don't think is what you're after.

The proxy cluster file is not really a configuration file but rather an internal implementation detail of etcd; it needs to

[2015-12-21 12:53] HuangWHWHW opened #4031 "ETCD 2.2.2 cluster mode:temp nodes disappeared when shutdown a vm"
Hi all,
There is a project of mine using etcd to manager the cluster.The etcd printed errors following when I shutdowned one of the VMs:
![image](https://cloud.githubusercontent.com/assets/13193847/11930689/c7a05d6c-a820-11e5-8efd-c7e7abfeac73.png)

I found when the etcd got the error "no route to host" all the temp nodes in etcd disappeared immediately. As a result , my project was abnormal.
Does

[2015-12-21 14:12] gyuho commented on #4031
@HuangWHWHW  `no route to host` is error from `golang.org/x/sys/unix` package. How did you set up your cluster?
And what do you mean by `temp nodes`?

Thanks,

[2015-12-21 18:59] #4021 closed

[2015-12-21 19:32] stensonb opened #4034 "Support for managing revoked certs"
Authentication via x509 certs are great...until one of the certs is compromised, needs to be revoked, or is no longer required.

[CRL](https://en.wikipedia.org/wiki/Revocation_list) offers a way to this by distributing a blacklist.
[OCSP](https://en.wikipedia.org/wiki/Online_Certificate_Status_Protocol) offers a way to verify each request's authenticity cert against a service, denying validity for

[2015-12-21 19:35] stensonb commented on #4034
Maybe this is desired approach: https://en.wikipedia.org/wiki/OCSP_stapling

[2015-12-21 21:46] philips opened #4035 "store stats: document that they will reset on etcd restart"
Document this mailing list question: https://groups.google.com/forum/#!topic/etcd-dev/xJqO9paerEU

[2015-12-21 23:48] xiang90 commented on #3971
@scole-scea Does this happen a lot? The context deadline indicates the etcdserver timed out while sending requests to public discovery service. Can you reliably reproduce this?

[2015-12-21 23:51] xiang90 commented on #3969
@plwhite I am closing this since we are not able to reproduce it too. Also etcd2 is not suitable for storing large amount of data nor supporting a lot of watchers.

[2015-12-21 23:51] #3969 closed

[2015-12-21 23:57] xiang90 commented on #3925
This does not work. Proxy needs to use the advertised client url to contact etcd members. If you set it to localhost, proxy will try to talk with localhost(which is probably proxy itself in your case). So it fails to connect to the real etcd members.

You should set the advertised url correctly. Then everything should works.

Please check https://github.com/coreos/etcd/blob/master/Documentation/pr

[2015-12-21 23:57] #3925 closed

[2015-12-22 00:37] #3861 closed

[2015-12-22 00:40] xiang90 commented on #3861
@zadoryzsolt Fixed now. Thanks for reporting!

[2015-12-22 01:03] xiang90 commented on #3740
Fixed via #3937

[2015-12-22 01:03] #3740 closed

[2015-12-22 01:05] xiang90 commented on #4023
@Osmonde This is actually a duplication with https://github.com/coreos/etcd/issues/3702. Let's track this issue there.

[2015-12-22 01:05] #4023 closed

[2015-12-22 01:07] xiang90 commented on #3699
@daniel-ziegler I am going to look into this soon. This was not a priority since it does not happen frequently in real world.

[2015-12-22 01:09] xiang90 commented on #3405
@f0 @soellman

Basically, HTTP pipelining behavior does not work well with go's http close notification. Please take a look at golang/go#13165 for more information. The best fix is to disable pipelining in the client library you are using. etcd/client does not use pipelining.

[2015-12-22 01:09] #3405 closed

[2015-12-22 01:17] xiang90 commented on #3714
v3 snapshot saving already does not blocking raft at all. The actual saving happens in a goroutine in rafthttp library(https://github.com/coreos/etcd/blob/master/rafthttp/http.go#L173-L179). And that routine send the raft.MsgSnap to raft. Now we only need to make sure the snapshot recovery does not block raft/etcdserver loop.

Moreover, we assume v2 snapshot is small so it does not matter a lot al

[2015-12-22 01:17] #3714 closed

[2015-12-22 02:10] scole-scea commented on #3971
When I wrote up the issue two weeks ago, it was every time, which is why I figured out the workaround. The test script I linked to, above, was my testcase. When I next connect to my employer's accounts and network (probably during the next week), I'll give it another shot or to to see if it's still reliably failing.

(The holidays do make that schedule a bit chaotic.)

[2015-12-22 02:50] HuangWHWHW commented on #4031
Hi, @gyuho

1.`How did you set up your cluster?`
Here is the command I use to set up etcd cluster:
`nohup ./etcd -name e${VM_NUM} -initial-advertise-peer-urls http://${LOCAL_IP}:${LEAD_PORT} -listen-peer-urls http://${LOCAL_IP}:${LEAD_PORT} --advertise-client-urls http://${LOCAL_IP}:${LEAD_PORT} --listen-client-urls http://${LOCAL_IP}:${LEAD_PORT} -initial-cluster-token etcd-cluster-1 -initial-clu

[2015-12-22 05:00] xiang90 commented on #3722
This seems to be fixed by upgrading go version. We already enable go routine leak tests and it works well so far.

[2015-12-22 05:00] #3722 closed

[2015-12-22 05:22] xiang90 commented on #4031
@HuangWHWHW

I think the behavior is expected. You stopped the physical vm, then etcd should report `no host to route` since there is actually no host to route.

I have no idea what is `temp nodes`. I do not think that has anything to do with that VM shutdown. etcd treats process dies and VM shutdown the same. And from the logging, everything works fine.

Can you please provide more information to

[2015-12-22 05:27] xiang90 commented on #3941
@magicwang-cn I am closing this out since it does seem like an etcd issue and also this is tracked in k8s repo. Please reopen if you can reproduce with etcd itself.

[2015-12-22 05:27] #3941 closed

[2015-12-22 05:28] gyuho commented on #4031
@HuangWHWHW

1, 2 are expected.

Regarding 3, as Xiang said, we need more information so that we can reproduce the issue.

You mean all members in cluster failed? Are you running all members in one VM?

I still doubt that this is an etcd issue.

[2015-12-22 05:38] xiang90 commented on #4007
any progress?

[2015-12-22 06:12] AkihiroSuda commented on #4007
Sorry I was busy in other things.
Please check #4038.

[2015-12-22 06:19] AkihiroSuda opened #4039 "TestKVTxnBlockNonTnxOperations: panic: assertion failed: tx closed"
TestKVTxnBlockNonTnxOperations can fail intermittently.

[code]

[2015-12-22 06:31] gyuho commented on #3928
Closing this with https://github.com/coreos/etcd/pull/4040.

We still have missing dependencies in `appengine` though...

[code]

If it matters, I will come back to this.

[2015-12-22 06:31] #3928 closed

[2015-12-22 19:55] streamnsight opened #4044 "question: how to pass etcd client TLS certs/key"
Hello,

Trying to get the client working with TLS, but I don't see how I'm supposed to pass the certs and key to it.
I only see a `TLSHandshake` option.

Can someone share an example on how to do this?
Thanks

[2015-12-23 00:14] xiang90 commented on #3715
Change this to unplanned. We have not found a problem for large snapshot so far. We will keep tracking this issue.

We want to per-fetch snapshot since it 100% has no side effect to raft pipeline. And if a node cannot catch up for some reason, we can ignore it early.

/cc @heyitsanthony

[2015-12-23 00:43] philips commented on #3715
Xiang, can you add more description into this? I understand what we are
trying to say with the title but it is unlikely everyone else does.

On Tue, Dec 22, 2015 at 4:14 PM Xiang Li <notifications@github.com> wrote:

[2015-12-23 09:25] PavelPolyakov opened #4052 "why the logs are getting to stderr"
Hi,

I run my etcd server through supervisor ( http://supervisord.org/ ) , here is the config:

[code]

Everything is pretty usual, except the thing, that all the etcd output goes to the `etcd-browser-stderr.log` file.

I don't think that it is supervisor issue, because all of the other applications are passing the output to the "correct" output stream.

Any thoughts if it is correct behaviour?

R

[2015-12-23 10:28] jonboulle commented on #4052
What is your expected behaviour? What is the "correct" output stream?

On Wed, Dec 23, 2015 at 10:25 AM, Pavel <notifications@github.com> wrote:

[2015-12-23 10:53] PavelPolyakov commented on #4052
I think debug messages should get to regular stdout, because those are not errors.

[2015-12-23 13:41] jonboulle commented on #4052
`stderr` is not just for errors, it's for _any_ diagnostic information. With all CoreOS projects we try to follow the Unix tool approach of results going to `stdout` and everything else going to `stderr`. In the case of `etcd` it so happens that there's no "results" to report to stdout in most cases, but for example `etcdctl` will write user-/machine-parseable information to `stdout` and any other

[2015-12-23 13:41] #4052 closed

[2015-12-23 14:21] PavelPolyakov commented on #4052
@jonboulle

Thanks for the detailed explanation, I agree with your arguments.  I think redirect output option is quite ok.

Regards,

[2015-12-23 14:29] inc-cloitsch opened #4053 "etcdctl returns 4 instead of 2 even though cluster is not reachable"
[code]

[code]

etcdctl version 2.2.0

[2015-12-23 15:42] jonboulle commented on #4044
TLS configuration is provided by the supplied [`Transport`](https://github.com/coreos/etcd/blob/master/client/client.go#L69)

For an example, check out how etcdctl sets it up: it creates a [transport that might have TLS](https://github.com/coreos/etcd/blob/289de69632be061b1b04858d090acd47026b28a8/etcdctl/command/util.go#L139) and uses that in its [client config](https://github.com/coreos/etcd/blob

[2015-12-23 15:42] #4044 closed

[2015-12-23 17:12] xiang90 opened #4055 "do not compact log entries when sending large snapshot"
For v3, the snapshot can be as large as 5GB. The end to end recovering time can be 60 seconds to 180 seconds.

Now etcd compacts its log entries when it applies 10k new entries and only 5k in memory.

https://github.com/coreos/etcd/blob/master/etcdserver/server.go#L1115-L1128.

This introduces issues with large snapshot sending. After receives a snapshot, the slow follower needs to get all the ent

[2015-12-23 18:09] xiang90 opened #4057 "TestTxnBlockBackendForceCommit fails on travisCI"
--- FAIL: TestTxnBlockBackendForceCommit-2 (1.15s)
	kvstore_test.go:716: failed to execute ForceCommit

https://travis-ci.org/coreos/etcd/jobs/98556765

[2015-12-23 19:41] heyitsanthony opened #4058 "etcdv3 issues db fdatasyncs when cluster is idle"
boltdb is rewriting the same data and issuing an fdatasync call every 100ms even when there's no etcd activity. If running etcdv3 on a spinning disk, it's even audible.

[2015-12-23 20:16] xiang90 commented on #4058
@heyitsanthony Based on my observation, it actually issues 2-3 write ops per commit to disk. The total amount is about 32 iops.

[2015-12-23 21:14] xiang90 opened #4061 "Async apply ready introduces snapshot inconsistent issue."
We just introduced async apply feature to avoid blocking raft node's progress.

However we apply entries in one routine https://github.com/coreos/etcd/blob/master/etcdserver/server.go#L483 and generate merged snapshot in another routine https://github.com/coreos/etcd/blob/master/etcdserver/server.go#L543.

Then we might end up with doing a snapshot and applying entries concurrently. This is bad si

[2015-12-24 01:10] #4055 closed

[2015-12-24 05:36] xiang90 opened #4065 "TestWatchableKVWatch fails on travis."
--- FAIL: TestWatchableKVWatch (1.11s)
	kv_test.go:806: failed to watch the event

[2015-12-24 05:44] xiang90 commented on #3864
@apatil The error comes from server-side, not client-side. Have you managed to reproduce it on a single member etcd cluster? We are aware that this might happen to a multi-member cluster when the cluster is under high load.

[2015-12-24 06:23] #4007 closed

[2015-12-24 07:59] yuankui opened #4067 "map etcd filesystem to linux filesystem"
I try a project https://github.com/xetorthio/etcd-fs

But It stop update and cannot run anymore in my machine.

does etcd support mount its filesystem to linux filesystem?

[2015-12-24 08:06] gyuho commented on #4067
This often comes up as https://github.com/coreos/etcd/issues/3831.

[2015-12-24 08:10] gyuho commented on #1666
I am working to improve watch features. This PR https://github.com/coreos/etcd/pull/4043 might help support this.

[2015-12-24 08:12] gyuho commented on #2574
@AdoHe Can you provide more details?

[2015-12-24 09:15] amimimor opened #4068 "mk runs over existing keys (bug/documentation issue ?)"
I'm having an issue (or docs miss understanding)
My etcdctl version is 2.2.0
See the bug below:

## Setting the kv:
`core@ip-10-0-2-185 /var/lib/docker/log/smoove/seed-1 $ etcdctl set /smoove/local/cluster/test/access-conf/database-host test `
`test`
## Getting the kv:
`core@ip-10-0-2-185 /var/lib/docker/log/smoove/seed-1 $ etcdctl get /smoove/local/cluster/test/access-conf/database-host`
`test`

[2015-12-24 09:22] jonboulle commented on #4067
As Gyu-Ho pointed out, this isn't a recommended use case for etcd or something we'll support within the project.

[2015-12-24 09:22] #4067 closed

[2015-12-24 16:44] gyuho commented on #4068
@amimimor Yes, this was a know bug in [v2.2.0](https://github.com/coreos/etcd/releases/tag/v2.2.0) but it's [fixed](https://github.com/coreos/etcd/pull/3685) in later versions. I will try to cherry-pick this patch into that release.

[2015-12-24 17:12] gyuho commented on #4068
Actually it seems like `v2.2.0` is released under release tag. The fix is introduced in release 2.2.0 branch. Best way is to update your etcdctl to any version later than 2.2.0.

[2015-12-24 17:19] gyuho commented on #4031
@HuangWHWHW Any updates on this?

[2015-12-24 17:31] xiang90 commented on #4068
@amimimor As @gyuho mentioned, this is fixed in the latest version of etcd (etcd2.2.2). Please upgrade and give it a try! Thanks!

[2015-12-24 17:31] #4068 closed

[2015-12-25 07:25] HardySimpson opened #4069 "etcd v2.2.2 crash when master memory is nearly full"
do a density test on k8s, with etcd v2.2.2, when create more and more pods, the memory useage of etcd master node goes full. when the master etcd's memory is nearly full ( still has many in swap), it crashes.

[code]

only etcd-0 and etcd-2 survival. other 3 crashed. the start arguments is:

[code]

Is this problem happens because I use some incrorrect arguments? Or is there any reasons?
how can I

[2015-12-25 15:34] jonboulle commented on #4069
A few questions to get started:
- Do you have any statistics for the memory usage of etcd itself? (e.g. from `top`, `ps`, `sysstat`, etc)
- What exactly is it that crashes (the etcd process? the whole node?), and how - what are the symptoms?
- You mentioned you're doing a density test - what sort of scale are we talking? How many pods?

[2015-12-25 21:02] xiang90 opened #4074 "pkg description"
As more and more people looking to etcd codebase, I hope we can have a top level pkg description to explain what are the responsibilities of each top level pkgs and also important second level pkgs like etcdserver/http, etcdserver/api, etc..

The goal is to help people explore the codebase more easily.

[2015-12-25 21:26] gyuho commented on #4074
+1

[2015-12-26 02:37] HardySimpson commented on #4069
the node only running etcd process, os cost 1G memory, others  all belong to etcd

process

k8s, 300node, 3w pods

[2015-12-26 09:10] HuangWHWHW commented on #4031
Hi, the problem has been confirmed after these days.It's a bug in my project.
Thanks for the information!
:-)

[2015-12-26 09:10] #4031 closed

[2015-12-26 12:51] jonboulle commented on #4069
I'm afraid this still isn't anywhere near enough information for us to go on. How much memory was etcd using - how did you know it was the process consuming all the memory?

OK, what was the symptom of the crash? Was there a stack trace?

Sorry but I don't know what "3w" means (thousand? million?). Do you have any idea what the actual data set size was?

thanks

[2015-12-26 17:10] smurfix opened #4075 "Wrong error code when deleting a directory"
Assume a directory /foo, last modified at change 12345, and a node /foo/bar.

DELETE /v2/keys/foo?dir=true fails (108, directory not empty). That's correct.
DELETE /v2/keys/foo?dir=true&prevIndex=12345 fails (102, not a file). That's broken.
DELETE /v2/keys/foo?dir=true&prevIndex=999 fails (102, not a file). That's broken too.

What I want, of course, is for the second command to also return 108,

[2015-12-26 20:23] xiang90 commented on #4075
@smurfix

For 1, you did a Delete operation, the operation is OK but the directory is not empty. Thus 108 is returned.

For 2, 3, you did a CAS operation. The check of the operation first failed since it only supports keys not directory. https://github.com/coreos/etcd/blob/master/Documentation/api.md#atomic-compare-and-swap.

[2015-12-26 20:23] #4075 closed

[2015-12-26 21:10] smurfix commented on #4075
This is CAD, not CAS. The documentation you linked to does not say that CAD only works on non-directories. At the very least this is an omission in the documentation.

Also, silently ignoring a parameter only some of the time is not a good idea.

Also², to atomically delete and re-create a directory without prevIndex support by the server is an interesting exercise which many users of etcd will fi

[2015-12-26 23:05] jonboulle commented on #4075
It's not exactly silently ignored. But I agree we definitely need to
tighten up the API documentation here. I'm not too keen on changing the
semantic at this stage in the lifetime of the V2 API. @xiang90 this is a
non-issue in V3 right?

Matthias Urlichs <notifications@github.com> schrieb am Sa., 26. Dez. 2015
22:10:

[2015-12-26 23:22] smurfix commented on #4075
OK, not exactly "silently", but "behaves as if it's not present, and returns an error which the presence of the keyword is supposed to fix" comes close. I was tracing through my code for more than an hour today, trying to figure out which part of my latest batch of changes managed to delete the "dir=true" part …

[2015-12-27 02:13] xiang90 commented on #4075
CAS and CAD are a pair of compare operations. If you read the API doc, it says explicitly both CAS and CAD only works for keys.

[code]

in CAS section.

And

[code]

in CAD section.

keys and directories are different in the API docs:

[code]

v2 API has been there for over 2 years. You are the 1st people want that to work. I would love to learn your use case. I think there should be a work aroun

[2015-12-27 03:38] lycon2014 opened #4077 "Congruent"
Milipeade binary virtabretocto node test run

[2015-12-27 18:08] jonboulle commented on #4077
[unfortunately, as you probably already know, people.](https://en.wikipedia.org/wiki/Horse_ebooks)

[2015-12-27 18:08] #4077 closed

[2015-12-28 00:48] HardySimpson commented on #4069
@jonboulle
sorry, 3w is a chinese word. It means 30000.
I didn't record the exact memory etcd process use. Next time(not now, a few weeks later maybe) I will take more data while do experiment.
Will the go pprof heap dump help?

[2015-12-28 05:53] xiang90 commented on #3919
@eyakubovich After thinking this more carefully and tweaking the API back and forth, I tend to add a Lease field to keys. So the leasing operations of keys can be watchable.

This is a compromise of a cleanly separated key and lease API. Perviously only lease API knows about keys API. After we add lease field into a key, key API now has an idea of a lease. But I feel this compromise does make v3 A

[2015-12-28 06:12] xiang90 commented on #4012
@onlyjob

I tried several times on both linux(ext3/ext4) and osx(hfs+). etcd always fails with `crc mismatch` error. This is expected. etcd might fix short write as long as the metadata of the last entry is written. As long as the broken entry is not a critical one (a state change entry), etcd should be able to repair it. For appending all zeros, etcd cannot identify the metadata so it cannot be r

[2015-12-28 15:31] #4058 closed

[2015-12-28 15:54] kelseyhightower opened #4080 "There is no easy way to determine if a key does not exist using the new client"
When using the new etcd client libs the only way to determine if a key does not exist is to parse a string error. The following code snippet:

[code]

produces the following error:

[code]

While using strings as errors allows me to print a helpful error message, it does not really allow me to handle the error in my application. In this case I would rather ignore errors where the key does not exis

[2015-12-28 16:30] kelseyhightower commented on #4080
I'm using the following code snippet as a workaround:

[code]

I'm sure this does not cover all cases, but it works for now.

[2015-12-28 17:17] eyakubovich commented on #3919
I think this is great. Will you still have the ability to have one lease be attached to multiple keys?

[2015-12-28 17:53] xiang90 commented on #3919
@eyakubovich

Yes. So we create a lease, get a lease ID, and then we can attach lease to keys. But the semantics changes to put(foo, bar, leaseID). The lease on key is key-api centric rather than lease-api centric. Lease api only takes care of creating/destroying/keep-alive leases.

[2015-12-28 21:55] gyuho commented on #3827
FYI. I am working to improve our discover function to not write any conflicting directories unless the whole operation succeeds. Will keep you updated on this issue.

[2015-12-28 22:09] ecnahc515 commented on #4080
@kelseyhightower I think you probably want this (note: just wrote & untested, but have used something similar previously):
[code]

[2015-12-29 00:39] bearrito commented on #169
Still seems to be an issue.

[code]

[2015-12-29 07:04] gyuho commented on #3827
I believe https://github.com/coreos/etcd/pull/4087 fixes this issue, which removes `member` directory when bootstrap fails. Closing this. Please let us know if you still have the same issue.

[2015-12-29 07:04] #3827 closed

[2015-12-29 07:15] fatduo opened #4088 "Can we start etcd container via NAT network mode?"
Hi all,

When I use
`-p 1001:4001 -p 1380:2380 -p 1379:2379`
to start a etcd container via NAT network mode.
How to set these value below?

ETCD_ADVERTISE_CLIENT_URLS
ETCD_INITIAL_ADVERTISE_PEER_URLS
ETCD_INITIAL_CLUSTER
...

Container port or host port?

[2015-12-29 07:28] #4053 closed

[2015-12-29 08:34] purpleidea commented on #225
This implementation: https://github.com/datawisesystems/etcd-lock seems to have rotted, and I haven't looked at fixing this yet. Is there a recommended way to do this?

More to the point, I thought that the raft protocol elects a leader, is there some way to expose this so that a client can tell which peer is the elected master?

Thanks!

[2015-12-29 13:50] bkleef commented on #3894
@markhowells I'm in the same situation any news?

[2015-12-29 17:36] MartinPodval commented on #4015
Thank you for the response.

I've thought about that and you are right that we have special (un-realistic) setup with one static master. In the case that the etcdctl command line tool is intended to be used to manage the ectd cluster, the cloud config purpose is really first-time-only configuration only.

So I'm going to put a new service to the cloud config to clear mentioned directory and there

[2015-12-29 19:40] #3713 closed

[2015-12-29 19:53] xiang90 commented on #3906
/cc @heyitsanthony.

[2015-12-29 20:46] #3919 closed

[2015-12-29 21:48] xiang90 commented on #2698
@heyitsanthony I feel we can close this with our new snapshot improvements for v3. For v2, we assume the snapshot is small and recover should be fast...

[2015-12-29 21:49] xiang90 commented on #2698
@heyitsanthony But it would be good if you can double check this again. In my experimental, etcd can recover from snapshot and catch up smoothly and successfully even if the snapshot is as large as 3GB and the whole cluster is under high workload.

[2015-12-29 21:54] xiang90 commented on #3667
@smurfix When you set prevIndex, the operation becomes a compare and swap. Compare and swap only works for keys, not directories, thus the error. See https://github.com/coreos/etcd/blob/master/Documentation/api.md#atomic-compare-and-swap.

[2015-12-29 21:54] #3667 closed

[2015-12-29 23:40] sjpotter opened #4095 "Enable backup to instantiate a snapshot operation"
In order for backups to be as good as possible (especially with an etcd instance that isn't under heavy write load) we need to have an api call that can cause a snapshot to be created at backup time.

[2015-12-29 23:41] sjpotter commented on #4095
As a thought, I don't know how snapshots are done now, but have we given any thought to doing incremental snapshots?

[2015-12-29 23:43] gyuho commented on #3812
I will try to reproduce such repeating logs and use yichen's [merge logger](https://github.com/coreos/etcd/blob/master/pkg/logutil/merge_logger.go) if needed.

[2015-12-29 23:44] xiang90 commented on #4095
@sjpotter We will support point-in-time snapshot retrieval.

We already do incremental snapshots at the server side. But we only keep one giant snapshot file.

We can support sending incremental snapshot to client too. But the first step might still be support point-in-time snapshot.

[2015-12-29 23:45] xiang90 commented on #3812
@gyuho Thanks for taking this!

[2015-12-29 23:45] gyuho commented on #3812
Np.

[2015-12-29 23:48] xiang90 commented on #4095
@sjpotter For incremental snapshot retrieval, the clients need to calculate the next offset to get, assemble the snapshots it got once a while, also does some gc once a while. But we can probably provide a ctl command to do that for our users. I feel a full point-in-time snapshot support would do the job for most of the users.

[2015-12-29 23:49] sjpotter commented on #4095
@xiang90 agreed, I was thinking out loud.

[2015-12-29 23:56] sjpotter opened #4097 "Improve backup storage reseliency"
Currently backup the offsite etcd backup uses rclone to copy the backup directory to a remote service (Amazon S3 bucket....).  However, it can fail.  Right now we make a backup first (which can also fail).  And if 2 fail in a row we will be left without a backup.

rclone is getting a move operation (if not already done, at least in progress - https://github.com/ncw/rclone/issues/35) so something t

[2015-12-30 00:23] sjpotter opened #4099 "server endpoint to know sync state"
Currently the restore procedure tells users to do

[code]

and it sleep to allow the client time to sync, but the note later says to wait until the sync is done and might vary.

could be good to have a etcdctl command that can return the sync status and just loop on that until its ready and then proceed to the next machine.

[2015-12-30 00:25] xiang90 commented on #4099
There is a metrics in kafka called syncLag to determine the rough sync lag duration between follower and leader. We probably can do similar things for etcd.

[2015-12-30 01:10] sjpotter commented on #4099
So one thing I was wondering.  when a node joins the cluster is it able to be used by clients before it finishes its initial sync?

[2015-12-30 01:16] xiang90 commented on #4099
It is. But we should probably disable it? See https://github.com/coreos/etcd/issues/3879

[2015-12-30 01:23] sjpotter commented on #4099
ok, then perhaps as part of that have an endpoint perhaps /ready that returns if its ready to be used?

[2015-12-30 01:30] bearrito commented on #1232
+1

[2015-12-30 03:03] xiang90 commented on #2574
I am closing this due to low activity.

[2015-12-30 03:03] #2574 closed

[2015-12-30 03:05] xiang90 commented on #1722
You can use the member API provided by etcd/client. The member api is outside kv space. So it does not follow the same format.

[2015-12-30 03:05] #1722 closed

[2015-12-30 03:37] #4061 closed

[2015-12-30 04:23] xiang90 commented on #3812
fixed by https://github.com/coreos/etcd/pull/4098

[2015-12-30 04:23] #3812 closed

[2015-12-30 04:29] xiang90 commented on #2662
@heyitsanthony Probably we can test this for v3 storage again? I assume the memory pressure for leader would be much lower as we do not do any copy while sending snapshot.

[2015-12-30 04:40] gyuho commented on #3938
Kindly ping @kenaniah and @nelsonenzo. If this happens with etcd bug, we need a way to reproduce the bug. As Xiang linked. please **Do Not Use Public Discovery Service For Runtime Reconfiguration**:

[2015-12-30 07:31] atinmu opened #4101 "Failed to add member through etcdctl in docker containers"
etcd/etcdctl version - 2.2.2

I brought up two docker containers and tried to set up a basic etcd cluster.

Node 1 IP : 172.17.0.2
Node 2 IP : 172.17.0.3

On Node 1
etcd --data-dir /tmp/etcd --name machine0 &

On Node 2
etcd --data-dir /tmp/etcd --name machine1 &

On both the nodes output of `netstat -nap| grep 2380` shows
tcp        0      0 127.0.0.1:2380          0.0.0.0:*               LISTEN

[2015-12-30 18:41] gyuho commented on #3623
Closing this. I tried to build with `amd64` with current 2.2 release branch https://github.com/coreos/etcd/tree/release-2.2 and it got built.

I used https://github.com/mitchellh/gox to build it.

Please ping us if it still fails.

[2015-12-30 19:57] heyitsanthony commented on #2662
Ran the benchmark on 3 nodes with V3.

Initialization: 18MB RSS
200K 128-byte keys loaded: 159MB RSS (followers 156MB); took about a minute and a half on laptop
Minute of random updates to keys after killing follower: 174MB RSS (follower 167MB)

Overall, looks good.

[2015-12-30 20:02] xiang90 commented on #2662
@yichengq @heyitsanthony Closing this since v3 looks good and we are not going to improve v2 store.

[2015-12-30 20:02] #2662 closed

[2015-12-30 22:28] heyitsanthony commented on #2698
Ran this with V3. The restarted member smoothly went from initialization to "applied incoming snapshot" and active in about 10 seconds; meanwhile the cluster continued to take snapshots due to all the put activity.

[2015-12-30 23:34] heyitsanthony commented on #2698
Ran with 250k keys with 8KB value size. Confirmed leader will not snapshot if it's transferring a snapshot; only follower created snapshots while leader was sending. Took 30 seconds to go from leader "start to send database" to restarted member "applied incoming snapshot".

[2015-12-30 23:38] xiang90 commented on #2698
@heyitsanthony Thanks for confirming that. We cannot avoid that 30 second delay anyway since it is IO bounded. I think it is good enough to close this issue?

[2015-12-30 23:46] heyitsanthony commented on #2698
Yeah, not much can be done about the IO cost. The obvious brokenness is fixed so I think it's good to close.

[2015-12-31 00:03] #2698 closed

[2015-12-31 08:29] sjpotter commented on #4101
just a thought, but if it's only listening to localhost how would things in other containers be able to connect to it?

i.e.

perhaps needs something like

`--listen-peer-urls=http://0.0.0.0:7001 --listen-client-urls=http://0.0.0.0:4001`

[2015-12-31 09:06] AdoHe commented on #4101
@atinmu I guess your Node 1 and Node 2 are two containers, are they on the same host or on different hosts? If on different hosts, what kind of network mode your containers use?

[2015-12-31 09:22] atinmu commented on #4101
@AdoHe  : Its docker0 bridge, I didn't run the containers with -net=host

[2015-12-31 09:26] atinmu commented on #4101
@sjpotter : I tried it, but no luck!

[2015-12-31 09:45] AdoHe commented on #4101
@atinmu I just want to say if both Node1 and Node2 are containers, and they are on different hosts(vms or bare mental), first you have to make sure these two containers can communicate.

[2015-12-31 17:08] xiang90 opened #4109 "v3api: set max number of operations per txn"
We need to limit the number of operations in one txn so that each request will not be huge (we need to limit the max size of value too) and involves too many allocations.

[2016-01-01 02:03] xiang90 commented on #3938
@kenaniah I am going to close this due to low activity.

First, we cannot reproduce your problem. etcd cluster successfully recovers from failures in our test.

Second, as @gyuho and I mentioned we guess the issue was the inappropriate usage of discovery service.

[2016-01-01 02:03] #3938 closed

[2016-01-01 03:46] gyuho opened #4110 "TestBackendBatchIntervalCommit fails"
[code]

[code]

[2016-01-01 03:47] gyuho commented on #4110
And this is HDD machine.

[2016-01-01 04:32] gyuho commented on #4110
It's weird that I can only reproduce this by running test script but `go test -timeout 3m -cover -cpu 1,2,4 -v github.com/coreos/etcd/storage/backend` passes. Will investigate more.

[2016-01-01 04:33] gyuho commented on #4110
Actually `go test -timeout 3m -cover -cpu 1,2,4 -v github.com/coreos/etcd/storage/backend` fails as well but much less frequently.

[2016-01-01 06:41] mitake opened #4111 "Bad latency (>100ms) of storage"
https://github.com/coreos/etcd/pull/4070 added a new benchmark for stressing etcd storage. It found a very high latency of put process.

When a number of written keys is not so large (e.g. 1000), the result will be like this:
[code]

When the number of keys is larger (e.g. 10000), the result will be like this:
[code]

The high latency is also confirmed by @xiang90 : https://github.com/coreos/etcd/

[2016-01-01 06:45] xiang90 commented on #4111
There are latency spikes to be more accurate. I suspect it has something to do with the batched commit. I will try to get a more detailed latency information.

[2016-01-01 07:10] atinmu commented on #4101
@adoHe the containers are reachable between themselves, ping works!

[2016-01-01 07:12] xiang90 commented on #4101
@atinmu Are you able to ping the etcd ip on the network that etcdctl runs on?

[2016-01-01 08:19] mitake commented on #4111
I tested with larger `--batch-limit` like below:
[code]

then the worst latency became better, e.g.:
[code]

It seems that the spikes are caused by frequent commit. I'll take a look at relation between commit frequency, latency, and throughput.

[2016-01-01 08:23] gyuho commented on #4111
@mitake Are you running this with SSD? Just curious. I have HDD so I can try as well for comparison.
Thanks,

[2016-01-01 08:29] mitake commented on #4111
@gyuho yes, SSD. fs is ext4 without any special option.

[2016-01-01 08:34] gyuho commented on #4111
Thanks, I got similar results:

[code]

[2016-01-01 08:43] gyuho commented on #4111
Using https://github.com/dustin/go-humanize:

[code]

[2016-01-01 11:41] mitake commented on #4111
I tested `--batch-limit 1` and the result was like this:
[code]

Even if there's no batched puts, commit seems to require more than 10ms in the worst case. Hmm...

[2016-01-01 19:47] AkihiroSuda commented on #4110
I also hit this.

[code]

[2016-01-01 21:03] gyuho commented on #4110
I think this is just my disk I/O being slow on HDD. So test script always fails with current test:

[code]

But if I change to give more time to commit, it succeeds:

[code]

@AkihiroSuda can you provide your test environment? This never happens in CIs,
which I assume have SSDs.

[2016-01-01 22:19] AkihiroSuda commented on #4110
@gyuho
I'm using an EBS magnetic volume on AWS. (t2.large, Ubuntu 15.04 amd64)

I think this test should always succeed even with very slow disks.

Of course we should test that any operation can finish in a moderate time.
However, for such a performance evaluation, I guess we can use the benchmark tool with some modification.
(perhaps benchmark tool should receive some parameters about disk confi

[2016-01-01 22:50] AkihiroSuda commented on #4110
I artificially built an extreme-slow disk (100ms-300ms delay) with our fuzzing+fault-injection tool: [osrg/earthquake](https://github.com/osrg/earthquake) (joint work with @mitake).

However, the test does *NOT* deterministically fail!

I'll continue to look into this.

    $ go get github.com/osrg/earthquake
	$ mkdir -m 777 /tmp/eqfs-mnt /tmp/eqfs-orig
	$ cat > /tmp/eq-config.toml << EOF
	explore

[2016-01-01 22:55] gyuho commented on #4110
@AkihiroSuda Thanks for looking into this.
In my case, the test fails 100% when the whole test script runs.

[2016-01-03 00:23] purpleidea opened #4115 "importing etcdserver messes up log object"
I've started work on trying to embed etcdserver into existing projects. This will be useful for a bunch of reasons and great for the etcd project. I am aware that the api's are not necessarily stable, and that this might not be supported at this time, but nevertheless, I am going to try and report/fix some issues as I go. If anyone is able to help out in this area, I'd appreciate it.

First issue:

[2016-01-03 02:29] xiang90 commented on #4115
etcd uses https://github.com/coreos/pkg/tree/master/capnslog for logging. Check that repo to see if you can get what you want.

We want to provide great experience for embedding etcd into other projects. And we design etcd in that way. But we do not have enough bandwidth to support a stable API and good experience right now.

[2016-01-03 05:43] xiang90 opened #4119 "TestSyncTrigger fails on CI"
--- FAIL: TestSyncTrigger-2 (0.01s)
	server_test.go:741: len(action) = 0, want 1

[2016-01-03 05:44] gyuho commented on #4088
@fatduo

You can do `docker run` setting those values with flags.

https://github.com/coreos/etcd/blob/master/Documentation/docker_guide.md#running-etcd-in-standalone-mode

Please let us know if you have any other question.

[2016-01-03 06:06] gyuho commented on #4115
I agree this would be great to have, but it is hard to support configurable logger to external packages without changing lots of code, since `capnslog` is used almost in every etcd component. I hit the similar issue when I use standard http package. Some of its internal functions use standard log package that cannot be changed by outside packages.

[2016-01-03 06:19] purpleidea commented on #4115
Completely understandable, and thank you for getting etcd as far as it is now.

I'll look into capnslog, I figured it was responsible while grepping through the source. I'll look into trying to come up with a patch.

Thanks for your time.

[2016-01-03 07:01] gyuho commented on #2515
We might be able to do this using https://github.com/tgulacsi/lock.

[2016-01-03 07:19] heyitsanthony commented on #4119
More `testutil.WaitSchedule()` flapping?

[2016-01-03 07:27] xiang90 commented on #4119
@heyitsanthony Probably. We need to spend some time to fix all infra(testing/building/scripting) related issues. :)

[2016-01-03 07:50] heyitsanthony commented on #4119
I see how to do the `server_test.go` ones in a sane way, so I'll give nuking `WaitSchedule` there a shot.

[2016-01-03 13:13] AkihiroSuda opened #4121 "TestPipelineKeepSendingWhenPostError fails; need to split performance testing from liveness testing"
[code]

https://github.com/coreos/etcd/blob/336d177c82a062d6cd02a5f9fb0926e693f01071/rafthttp/pipeline_test.go#L73-L75

The test requires 50 requests performed in just 10 msecs, which cannot be guaranteed in certain environments.

So I suggest to split the performance aspect from "liveness" test cases (including this `TestPipelineKeepSendingWhenPostError`, but there are also many similar things) b

[2016-01-03 13:19] AkihiroSuda commented on #4119
For `WaitSchedule`, I have an idea: #4121

[2016-01-04 02:13] magicwang-cn commented on #4069
@HardySimpson @jonboulle @xiang90 @hongchaodeng
Hi all, i have token the density test again, and the situation is:
# 1. environment info:
|Etcd|2.2.2|
|K8s|master branch, about 439d7a721e087f4015191fe7e2d0b9262abd2530 commit|

|环境|CPU/核|内存/G|磁盘/G|数量|
|:--|:--|:--|:--|:--|
|K8s-master|8|16|160|1|
|K8s-node|2|4|40|500|
|Etcd|4|8|80|5|

# 2. take k8s density test(`40 pods per node, total 20000 pods`)

[2016-01-04 04:31] xiang90 commented on #4069
@magicwang-cn Do you know how much memory etcd actually consumes when it OOM?

[2016-01-04 04:33] xiang90 commented on #4069
Also have you tried to allocate more memory to etcd machine?

[2016-01-04 06:07] atinmu commented on #4101
I've figured out the problem. I was not supplying the initial parameters in a right manner.

[2016-01-04 06:07] #4101 closed

[2016-01-04 06:55] yangtao309 opened #4124 "change key's value contains '&'"
in my github project [etcd-helper](https://github.com/yangtao309/etcd-helper),  i will provide the command for 'etc copy', but change key's value contains '&', then found the after '&' content had cut off.

[code]

then i will get this key.

[code]

[2016-01-04 07:01] gyuho commented on #4124
This seems duplicate with https://github.com/coreos/etcd/issues/4124.

[2016-01-04 07:06] yangtao309 commented on #4124
@gyuho Thanks.

[code]
i will close the issue.

[2016-01-04 07:06] #4124 closed

[2016-01-04 07:16] onlyjob commented on #4012
Unfortunately original corrupted data is lost. IMHO silent fail is not too important if it is hard to reproduce but I hope `crc mismatch` error can be re-factored into warning + automatic recovery from peers -- it will make Etcd clusters much more robust and resilient to failures.
Thanks and Happy New Year. :-)

[2016-01-04 07:31] magicwang-cn commented on #4069
@xiang90
when the mem's use more than 40%(`total 8G`), every one second i will make a etcd heap pprof(**until the etcd process crash, it take about 1 minute**):
![etcd_mem](https://cloud.githubusercontent.com/assets/7587313/12085151/b1d7ac10-b2f7-11e5-8a02-a23fe2a9af8b.png)

[2016-01-04 09:07] fatduo commented on #4088
Hi @gyuho
Yes. I have already read this wiki page, but it just talk about one to one port mapping, but when the host ports are different from container ports, such as

`-p 1001:4001 -p 1380:2380 -p 1379:2379`

How to set -advertise-client-urls-

`-advertise-client-urls http://${HostIP}:2379,http://${HostIP}:4001`
or
`-advertise-client-urls http://${HostIP}:1379,http://${HostIP}:1001`

and -initial

[2016-01-04 09:17] gyuho commented on #4088
@fatduo I think ports `2379` and `2380` should be used. Those flags (`-advertise-client-urls`, `-initial-advertise-peer-urls`) are for etcd, not for docker. I would try `-advertise-client-urls http://${HostIP}:2379,http://${HostIP}:4001`.

[2016-01-04 11:15] AdoHe commented on #4088
@gyuho @fatduo I guess you are talking about using the `bridge` network mode, first the container internal port has no need to be the same as host side port, then I think when we configure etcd parameters, we should use host side ports, the container internal ports are not visible to outside actually.

[2016-01-04 14:05] timothysc commented on #4008
@xiang90 is there any status update on this one?

[2016-01-04 15:30] xiang90 commented on #4012
We cannot do this by default since this is unsafe. Any quorum based system requires the majority to have data written to disk before commit it. Restarting a data loss peer (we do not know if crc mismatch is caused by actual data loss or just a writing during power failure) might break this and also cause inconsistency. To be honest, I understand that data loss happens very rare in reality and most

[2016-01-04 15:30] #4012 closed

[2016-01-04 19:16] liggitt commented on #3864
We're seeing request timeout errors as well and resulting 50x server errors with single-node etcd clusters, from etcd 2.1.2 up to 2.2.2.

On the etcd server side, we see one or more of these logged about 30-60 seconds after server start:
[code]

As best as I can tell, this isn't at a watch limit boundary (1000) or a snapshot boundary (10000). At the same time that occurs, the etcd client gets a 50

[2016-01-04 21:34] akolb1 opened #4127 "MAP_POPULATE is not supported on Solaris"
The storage/backend/boltoption_unix.go file uses MAP_POPULATE as boltdb option but this only works on Linux. there should be solaris-specific version that doesn't use it.

[2016-01-04 21:36] xiang90 commented on #4127
@akolb1 Can you try to fix it? Thanks for reporting!

[2016-01-04 21:39] akolb1 commented on #4127
@xiang90 Sure, I'll take a look at it

[2016-01-04 21:40] scole-scea commented on #3971
This happened in my first test run of those scripts I pointed out before, so I'd say it's fairly reproducible.

[2016-01-04 21:46] akolb1 commented on #4127
Here is the patch:

<pre>
diff --git a/storage/backend/boltoption_solaris.go b/storage/backend/boltoption_solaris.go
new file mode 100644
index 0000000..856febd
--- /dev/null
+++ b/storage/backend/boltoption_solaris.go
@@ -0,0 +1,19 @@
+// Copyright 2015 CoreOS, Inc.
+//
+// Licensed under the Apache License, Version 2.0 (the "License");
+// you may not use this file except in compliance with the

[2016-01-04 21:47] akolb1 commented on #4127
@xiang90 What should be the commit message?

[2016-01-04 21:53] xiang90 commented on #4127
@akolb1 `storage/backend: add support for Solaris`?

[2016-01-04 21:57] scole-scea commented on #3971
Interestingly, alpha channel coreOS (899.1.0) starts up ok, but still leaves {{/var/lib/etc2}} with both {{member}} and {{proxy}} directories and doesn't survive {{systemctl restart etcd2.service}}.

[2016-01-04 22:07] gyuho commented on #3971
@scole-scea Sorry for late response. And thanks for the script. I will try to reproduce this behavior
and try to find out the cause. I will keep you updated through this thread.

[2016-01-04 22:21] gyuho commented on #4127
https://github.com/coreos/etcd/pull/4128

[2016-01-04 23:44] gyuho commented on #3971
@scole-scea FYI. Your `Workaround` issue should be fixed by this [PR](https://github.com/coreos/etcd/pull/4089). I will investigate more why it fails before.

[2016-01-05 00:33] xiang90 commented on #4127
@gyuho I am going to close this. This is actually a boltdb issue rather than etcd issue. @akolb1 has fixed etcd part.

[2016-01-05 00:33] #4127 closed

[2016-01-05 00:35] gyuho commented on #4127
Ok thanks,

[2016-01-05 00:35] gyuho commented on #3848
I am working on `add progress notification on watch`. I think good starting point is to figure out
how to fill in the `etcdserverpb.WatchResponse.ResponseHeader` with cluster, member information:

[code]

https://github.com/coreos/etcd/blob/master/etcdserver/api/v3rpc/watch.go

[2016-01-05 08:42] ringtail opened #4135 "TLS based etcd can't get certs info from request."
Hi,I found a problem in release-2.2，I need to read cert info from request.here is the request handler.
<pre><code>
func (h *keysHandler) ServeHTTP(w http.ResponseWriter, r *http.Request)
</code></pre>
cert info will be parsed from r
<pre><code>
r.TLS.PeerCertificates
</code></pre>

but It doesn't work in release-2.2. so I found the facts.
<pre><code>
		if fdLimit, err := runtimeutil.FDLimit(); err

[2016-01-05 18:19] #4119 closed

[2016-01-05 23:52] mhenniges opened #4139 "etcdctl 2.2.3 updatedir fails without extraneous argument."
As of 2.2, etcdctl updatedir seems to want another argument, but it doesnt do anything with it.

To reproduce:
   etcdctl setdir /foo -ttl 60
   etcdctl  updatedir /foo -ttl 90
   <ctrl-d>
Error:  value required

If at an interactive console, this will wait on stdin for the value, ctrl-d will end that and cause the failure. If in a non-interactive context, it will fail immediately with the message

[2016-01-06 00:09] gyuho commented on #4139
@mhenniges You need two arguments `<key> <value>` for `updatedir` command.

[2016-01-06 00:28] xiang90 commented on #4139
@mhenniges etcd does not support partial update. You can only update both value and ttl at same time. You can do a read and then compare and awap to update if you want do atomic partial update.

[2016-01-06 00:28] #4139 closed

[2016-01-06 07:03] gyuho commented on #3971
@scole-scea I cannot reproduce this error message using the same configuration.
It seems work fine.

`failed to join discovery cluster (discovery: cluster is full)` message from your log means
you launch nodes more than the discovery size that you set up at the beginning.

You generated discovery token for 3 members here https://github.com/scole-scea/etcd2_startup_issue/blob/master/make_cluster.sh

[2016-01-06 07:05] gyuho commented on #3971
Or do you intend to make two extra members fall back to proxy? That case should also be fixed in etcd v2.2.3 https://github.com/coreos/etcd/releases/tag/v2.2.3.

[2016-01-06 09:21] philips commented on #4135
Would you be able to write a unit test to cover this?

[2016-01-06 09:33] ringtail commented on #4135
I found the problem is that &limitListenerConn{Conn: c, release: l.release} can't not convert to a *tls.con

[2016-01-06 09:35] ringtail commented on #4135
I simply comment the code in etcd/etcdmain/etcd.go below,every things works fine.
<pre><code>
		if fdLimit, err := runtimeutil.FDLimit(); err == nil {
					if fdLimit <= reservedInternalFDNum {
						plog.Fatalf("file descriptor limit[%d] of etcd process is too low, and should be set higher than %d to ensure internal usage", fdLimit, reservedInternalFDNum)
					}
					l = netutil.LimitListener(l,

[2016-01-06 09:38] ringtail commented on #4135
TLS connection is like this
<pre><code>
&Conn{conn: conn, config: config}
</code></pre>
so we can simple add limitListener a field called config,and it will be fine.

[2016-01-06 10:31] mitake commented on #4008
hi @timothysc

I'm writing the file based configuration. It can be found here: https://github.com/mitake/etcd/tree/client-config
I'll create a PR soon.

[2016-01-06 11:33] liggitt commented on #4008
@mitake does that allow setting a client cert/key?

[2016-01-06 11:45] mitake commented on #4008
@liggitt currently, no. But I can add the support after we can have a consensus on the initial design.

[2016-01-06 12:34] hypergig opened #4145 "etcdctl updatedir requires value"
We have upgraded to 2.2.0 and previous processes that use the `updatedir` subcommand with `etcdctl` fail.

After further investigation, we have discovered `updatedir` now requires a value to function.  This doesn't make sense to me as directories don't have values.  I believe `ttl` is the only changeable bit of data on a directory and it is accessible via the `--ttl=n` command switch.

## Repro st

[2016-01-06 15:30] xiang90 commented on #4145
I believe this is a bug. Would you like to send a pull request to fix it?

[2016-01-06 16:21] jwclark commented on #1232
+1

[2016-01-06 16:57] gyuho commented on #4135
@ringtail What `config` type are you talking about? And can you provide simple code to reproduce this issue or actual error message?

[2016-01-06 17:13] scole-scea commented on #3971
Yeah, the intent was for two of them to fall back. (This is a simplified example of a "quick development cluster" bringup, where we don't run an independent etcd cluster; we just run etcd on all the nodes. Not production worthy, and usually not long-lived.)

etcd 2.2.3 is not yet in a CoreOS release; unless there's an easy way to bring up a CoreOS host with etcd 2.2.3 running, I'll just wait until

[2016-01-06 17:18] gyuho commented on #3971
@scole-scea Yes etcd v2.2.3 was released last year. Please try out https://github.com/coreos/etcd/releases/tag/v2.2.3 and let us know if you still have issues.

[2016-01-06 17:22] scole-scea commented on #3971
Well, released 7 days ago, you mean. :smile: I'm a bit more up-to-date than a year behind...

My workaround still needs to be part of our tooling until 2.2.3 hits CoreOS stable, though, so it'll be a while.

[2016-01-06 17:23] gyuho commented on #3971
Yeah just before the new year :)

And we will close this for now, and please let us know when you have any other questions.

Thanks,

[2016-01-06 17:23] #3971 closed

[2016-01-06 17:29] xiang90 commented on #4135
@ringtail Are you trying to embed etcd into your project? We are not going to maintain a stable API or implementation guarantees for etcd itself. We do not have the bandwidth right now and we plan to change the implementation of etcd internally quite a bit. However, if you meet any issue we are happy to discuss and review pull requests.

For your issue, do you want to get the TLSConn or just the s

[2016-01-06 18:31] barakmich opened #4146 "v3api: Atomically creating and attach a lease; LeaseKeepAlive TTL"
Two parts:

1) What's the intended method for creating a key and a lease in a single transaction?

2) Why does a LeaseKeepAliveRequest not have a TTL field, telling it how long the new TTL should be?

[2016-01-06 18:41] xiang90 commented on #4146
@barakmich

Previously you cannot attach lease and create the key atomically. We have a proposal about doing TxnWithLease, but we feel it is complicated. So we just changed the API, Now key has a lease field. You can creating a key and attach it to a lease in one transaction.  https://github.com/coreos/etcd/blob/master/etcdserver/etcdserverpb/rpc.proto#L93.
But you still need to create lease first

[2016-01-06 19:11] mhenniges commented on #4139
The value seems ignored in any case for updatedir though, so im not sure why it would be required...My colleague described this issue better than i did in https://github.com/coreos/etcd/issues/4145; I'll just watch the progress over there.

[2016-01-06 19:19] xiang90 commented on #4139
@mhenniges Sorry. I misunderstood your original one. Let's track this in #4145.

[2016-01-06 19:22] barakmich commented on #4146
**@xiang90**:

You can create a key and attach a lease in one transaction, true, but you can't create the lease at the same time. This is what I'd like to do. Right now, the pattern seems to be
-> Create Lease
<- Get Lease ID
*arbitrary delay* -- (this is the potential for bugs. The lease may be over.)
-> Set key with Lease ID I just recieved
<- Key set. Or already deleted. Or ????

The use case i

[2016-01-06 19:28] xiang90 commented on #4146
We were trying to avoid the two API have strong relationship. Probably we can add a put option to create a lease if it does not exist before.

[2016-01-06 19:34] heyitsanthony commented on #4146
1) can be solved by reporting the PUT failed if the lease is already expired
2) arbitrary user-defined term lengths seems to go against the spirit of leases as a fault tolerance mechanism / false sharing limiter

[2016-01-06 19:38] xiang90 commented on #4146
@barakmich

<- Get Lease ID
arbitrary delay -- (this is the potential for bugs. The lease may be over.)
-> Set key with Lease ID I just recieved
<- Key set. Or already deleted. Or ????

In this case, the key set with an expired leaseID should fail with lease not exist. Then the user knows he was experiencing a long delay.

[2016-01-06 19:44] barakmich commented on #4146
1) PUT failing works, I suppose.

**@heyitsanthony**:

I'd argue that the notion is you're sharing the lease ID, and if you're running the same code you already know what the standard ttl is; and if you don't, you can always send it without changing it. But this is a nice to have, I guess.

[2016-01-06 19:44] #4146 closed

[2016-01-06 20:40] xiang90 opened #4148 "TestBackendBatchIntervalCommit on Semaphore CI"
--- FAIL: TestBackendBatchIntervalCommit (0.13s)
	backend_test.go:105: bucket test does not exit

[2016-01-06 20:42] gyuho commented on #4148
Related to https://github.com/coreos/etcd/issues/4110.

[2016-01-06 20:49] xiang90 commented on #4148
OK. Closing this one since it is a dup.

[2016-01-06 20:49] #4148 closed

[2016-01-06 23:44] gyuho opened #4149 "go vet fails when running in Go 1.4"
https://semaphoreci.com/coreos/etcd/branches/master/builds/240

[code]

[2016-01-06 23:45] gyuho commented on #4149
I tried to do something like go get gopkg.in/golang/tools.release-branch.go1.4 but this is not supported.
I will find a work around.

[2016-01-07 00:43] gyuho commented on #4145
@hypergig This is fixed currently in our master branch. We will apply this patch in our next release, which would be `v2.2.4` (sometime around next week).

[2016-01-07 00:44] #4145 closed

[2016-01-07 00:45] gyuho commented on #4145
@hypergig  The fix was https://github.com/coreos/etcd/pull/4150. Thanks for reporting.
I will close this, and will let you know personally when the fix is applied in the next release.

[2016-01-07 04:39] xiang90 commented on #4149
I dropped go 1.4.2 test on semaphoreci. When we release 2.3, most people should already move to go1.5.

[2016-01-07 04:39] #4149 closed

[2016-01-07 04:40] gyuho commented on #4149
Got it. Thanks!!

[2016-01-07 05:15] ringtail commented on #4135
@xiang90 Hi,Maybe I don't describe the problem clearly. The scenario is that I enhance etcd by certs with specific role in it. you can sign a client cert with some specific role. And I need to get cert info from
keysHandler in etcdserver/etcdhttp/client.go
<pre><code>
func (h *keysHandler) ServeHTTP(w http.ResponseWriter, r *http.Request) {
      // you can get certChains from r.TLS
     certChain

[2016-01-07 05:21] xiang90 commented on #4135
@ringtail If you want to make sure etcd upgrades do not break you, you'd better try to contribute your patch to upstream. If you want to fix this issue, you can try to submit a patch. We do not plan to provide any guarantees about any sub pkgs structs or API inside etcd.

[2016-01-07 05:23] xiang90 commented on #4135
I do not quite understand this. LimitListener is just a wrapper around the original Conn. I do not think there is any issue with handshake.

[2016-01-07 05:31] xiang90 commented on #4135
@ringtail

OK. After checking the go std lib, I found

[code]
is in std library, not in your code. I will try to reproduce the issue myself then.

[2016-01-07 05:36] xiang90 commented on #4135
@ringtail

Also netutil is an external dependency at https://github.com/golang/net/tree/master/netutil.

Can you try to file an issue there?

[2016-01-07 05:55] AdoHe commented on #1232
@xiang90 are we going to replace TTL feature with lease in v3?

[2016-01-07 05:56] xiang90 commented on #1232
@AdoHe Yes.

[2016-01-07 05:58] AdoHe commented on #1232
@xiang90 how about the lease in v3? complete? I have not seen etcd code for a long time, guess can I have a try about lease?

[2016-01-07 06:18] ringtail commented on #4135
@xiang90 yes! That's exactly the problem. I'll open a issue in https://github.com/golang/net/tree/master/netutil.
Thanks a lot!

[2016-01-07 06:20] xiang90 commented on #4135
@ringtail

I got a fix at etcd side at https://github.com/coreos/etcd/pull/4153.

Can you try to pull down this branch and give it a try. At meantime, I would suggest you not keep a private fork of etcd.

[2016-01-07 06:23] ringtail commented on #4135
yes, I keep a private fork in my gitlab and the problem is raised when I try to upgrade my etcd version from 2.1.3 to 2.2.2☺️

[2016-01-07 06:24] xiang90 commented on #4135
@ringtail Anyway, please give https://github.com/coreos/etcd/pull/4153 a try. Thanks!

[2016-01-07 06:24] ringtail commented on #4135
OK，I'll try it. thank you!

[2016-01-07 06:32] xiang90 commented on #4135
@ringtail Why this is closed?

[2016-01-07 06:49] xiang90 commented on #4121
/cc @heyitsanthony

[2016-01-07 08:22] heyitsanthony commented on #4121
I've seen other tests do something similar but so far it's all ad-hoc. Ideally we wouldn't want to poll at all (e.g., count events via `testutil.RecorderStream`) but implementing interfaces to support `Recorder` is a chore. Overall, this suggestion is certainly better than the `WaitSchedule` stuff that's there now.

[2016-01-07 09:30] gyuho opened #4156 "TestLessorGrant fails"
[code]

[code]

Only in my local machine... Will look into it.

[2016-01-07 09:31] gyuho commented on #4156
Here's full log:

[code]

[2016-01-07 09:55] ringtail commented on #4135
It works☺️

[2016-01-07 09:58] gyuho commented on #4156
`lease` package was not being tested in CI. Now test hangs https://travis-ci.org/coreos/etcd/jobs/100784027#L276.

We can investigate tomorrow.

[2016-01-07 09:58] heyitsanthony commented on #4156
I thought leases were still unstable?

[2016-01-07 09:59] gyuho commented on #4156
Right. Maybe we can add this once it's ready. Thanks

[2016-01-07 15:59] xiang90 commented on #4135
@ringtail Thanks!

[2016-01-07 15:59] #4135 closed

[2016-01-07 19:13] #4156 closed

[2016-01-07 20:14] gyuho commented on #4111
xiang says:

I will try to investigate on this.

[2016-01-07 22:32] gyuho commented on #4111
Seems like it take more than 100ms when trying grab Lock here:

[code]

[code]

Will investigate more.

[2016-01-07 23:12] gyuho commented on #4111
I get slightly better performance by defining sync.Mutex in pointer so that
Lock operation can directly access Mutex in memory:

[code]

With `*sync.Mutex`:

[code]

Original:

[code]

But I cannot think of an easy way to resolve this, since this is latency introduced
by standard package's `sync.Mutex` value.

It's not that bad. With pointer, we get only 3 of +100ms latency out of 10000 put reques

[2016-01-07 23:14] gyuho commented on #4111
Actually there's not that much difference between value, pointer since mutex doesn't carry any much data.

[2016-01-07 23:33] gyuho commented on #4111
There was another routine `backend.run` doing interval commits. Will look into that.

[2016-01-08 00:49] gyuho commented on #4111
Tried to adjust batchInterval between 0 to 100ms, but I see average latency between 300µs and 400µs, without much difference. Will come back to this later.

[2016-01-08 00:50] xiang90 commented on #4111
we care more about the spikes in this issue not average latency.

[2016-01-08 00:50] gyuho commented on #4111
Ok

[2016-01-08 01:09] heyitsanthony opened #4166 "support sort options for RangeRequest"
The RangeRequest API supports limiting the number of keys returned. However, there's no way to control the order of the returned key/value results. For some algorithms this can necessitate reading in the entire range to process only a single key.

At minimum, a sorted RangeRequest would need to handle:
* Sort Attribute (key, mod rev, create rev, and maybe value)
* Order (ascending or descending)

[2016-01-08 01:43] gyuho commented on #4111
@xiang90 Yeah I see the maximum latency grows as we put more keys.
And I see the pending count go up to 500 with `./benchmark storage put --total 1000`.
Spikes happen when there is contention between Lock.
But I cannot find the right batchInterval to reduce the spikes dramatically.

One `store.Put` operation open a transaction and do one put operation and end transaction,
which involves a lot of c

[2016-01-08 01:46] xiang90 commented on #4111
@gyuho Try to record the timing for the actual disk operation at https://github.com/coreos/etcd/blob/master/storage/backend/batch_tx.go#L139.

A reasonable direction is to examine how many requests are in one batch and how many keys are there in current boltdb, not the batchInterval.

[2016-01-08 01:47] gyuho commented on #4111
Ok I will try that. Thanks!

[2016-01-08 02:50] hypergig commented on #4145
@xiang90 never had a chance to, @gyuho beat me to the punch. Thank you all, much appreciated.  Look forward to the next release.

[2016-01-08 02:51] gyuho commented on #4145
Np. Thanks for reporting!

[2016-01-08 05:34] gyuho commented on #4111
Basically benchmark script does:

[code]

And these are two concurrent routines:

1. `backend.New` launches a goroutine [`go b.run()`](https://github.com/coreos/etcd/blob/master/storage/backend/backend.go#L147-L159) that does `b.batchTx.Commit()` periodically with `defaultBatchInterval`, which is 100ms. `b.batchTx.Commit()` does its own `b.batchTx.Lock()` and `b.batchTx.Unlock()`.
2. [`store.Put`]

[2016-01-08 05:37] xiang90 commented on #4111
There is no contention I think. The problem is that the bolt commit operation blocks the Put. This is normal. What we need to investigate is why bolt commit can take up to 100ms.

[2016-01-08 05:38] gyuho commented on #4111
Yeah I meant to say `backend.Put` can be blocked by `Commit` because both grab `batchTx.Lock()`

[2016-01-08 05:39] xiang90 commented on #4111
@gyuho Also we should print out all data, not just the one is greater than 100ms. Then we can find if the long latency is related to the number of pending requests.

[2016-01-08 05:40] gyuho commented on #4111
Ok I will take a look all data to see if we can find some pattern. Thanks

[2016-01-08 05:40] xiang90 commented on #4111
what is t.num: 8562 btw? The source code does not include this.

[2016-01-08 05:41] gyuho commented on #4111
@xiang90

I did:

[code]

Just for counting.

[2016-01-08 05:44] gyuho commented on #4111
I am dropping this text file for reference.

And code was:

[code]

[code]

[result.txt](https://github.com/coreos/etcd/files/82181/result.txt)

[2016-01-08 05:47] xiang90 commented on #4111
@gyuho Well... We still needs the latency info. Do not remove it. We should just remove the if statement to keep all latency info.

[2016-01-08 05:48] gyuho commented on #4111
@xiang90 `WriteTime` is the latency recorded internally in boltdb, I think. https://github.com/boltdb/bolt/blob/master/tx.go#L185-L206

[2016-01-08 05:50] xiang90 commented on #4111
@gyuho We want to see the latency per commit (write + split + other bolt operation). Not the totally write latency.

[2016-01-08 05:50] gyuho commented on #4111
Ok got it. I will measure those time. Thanks

[2016-01-08 05:54] gyuho commented on #4111
Another experiment measuring the total time per commit:

[code]

File here:
[result.txt](https://github.com/coreos/etcd/files/82202/result.txt)

Thanks,

[2016-01-08 06:01] xiang90 commented on #4111
@gyuho OK. It seems that when a split happens, there will be a spike.

[2016-01-08 06:04] gyuho commented on #4111
[code]

number of pending requests doesn't seem proportionate to latency.

@xiang90 Where do you see the split relationship?

[2016-01-08 06:07] gyuho commented on #4111
This has lots of spills and pending but only 50ms.

[2016-01-08 06:07] xiang90 commented on #4111
[code]

[2016-01-08 06:08] gyuho commented on #4111
Oh I see that.

[2016-01-08 06:08] xiang90 commented on #4111
@gyuho Sorry. It is spill.

[2016-01-08 06:09] gyuho commented on #4111
Do you have thoughts to reduce these spill spikes?

[2016-01-08 06:10] xiang90 commented on #4111
@gyuho No. I do not. I am not sure what happened. My suggestion would be increase bucket.FillPrecent to 0.9 and give it another try. https://godoc.org/github.com/boltdb/bolt#Bucket

[2016-01-08 06:11] gyuho commented on #4111
Sure, let me try that. Thanks!

[2016-01-08 06:29] gyuho commented on #4111
With `FillPercent` 0.9 on SSD:

[code]

With `FillPercent` 0.0 on SSD:

[code]

It's a bit noisy but FillPercent seems to have some effect. I cannot get the maximum latency more than 100ms on FillPercent 0.9.

[2016-01-08 06:32] xiang90 commented on #4111
Can you increase from 100000 to 1M?

[2016-01-08 06:34] gyuho commented on #4111
Sure.

[2016-01-08 06:46] gyuho commented on #4111
With 0.0 fill percent, SSD, 1M key:

[code]

With 0.9 fill percent, SSD, 1M key (less cases with 100+ spill time):

[code]

Same but with batch-size 1000:

`$ ./benchmark storage put --total 1000000 --batch-limit 1000` with 0.0:

t.pending: 371
commit: 6003
t.num: 709309
t.tx.Stats(): {PageCount:41 PageAlloc:167936 CursorCount:373 NodeCount:5 NodeDeref:76 Rebalance:0 RebalanceTime:0 S
plit:35 Spil

[2016-01-08 06:54] better0332 opened #4168 "does etcd have such opration "increament a key value and return the new value"?"
the opration should be atomic like CompareAndSwap

[2016-01-08 06:57] xiang90 commented on #4168
No, v2 api does not support it. You need to do a read first, then do a Compare and Swap.

We are considering to add this to v3.

[2016-01-08 06:57] #4168 closed

[2016-01-08 07:24] gyuho commented on #4111
I tried the same test `./benchmark_0_0 storage put --total 1000000 --batch-limit 1000` with https://github.com/boltdb/bolt/pull/480. And spikes seem to decrease from 3 ~ 5 to 1 or none.

Will investigate more later. 1 spike out of 1 million seems acceptable for me, with average latency 30+µs.

[2016-01-08 09:13] better0332 commented on #4168
can I use "Creating In-Order Keys" to instead?

[2016-01-08 11:05] jbking opened #4171 "etcd crashed by a panic"
The problem is introduced by this.

https://github.com/coreos/etcd/commit/1f97f2dc36c9b5a9770886475e3af52b9d34fc8d#diff-8663bb0f53797ae80ef14f3e44668a55

We use a7287b6374b69f2db83e7eafc959dda703c02a22

How to reproduce

1. build etcd.
2. execute the etcd.
3. execute a command with etcdctl.

[code]

[2016-01-08 11:09] gyuho commented on #4171
Yes, this is a bug. Confirmed that I see the same error message. Thanks for reporting. We will investigate.

[2016-01-08 15:36] xiang90 commented on #4168
@better0332 Creating in-order keys creates increasing order of keys, not increase the value of a key. Also it does not ensure the increase is continuous. So it depends on your use case.

[2016-01-08 16:22] aga20 opened #4172 "Too much TIME_WAIT connection"
Hello!

I try to use your benchmark script with boom. Unfortunatelly my result verry different as yours, So I try to detect the problem and I found many TIME_WAIT tcp connection to the etcd server. I can't modify your script just what I have to (leader and server). I think the boom can reuse the connection but etcd can be able to reuse tcp connections?

https://github.com/coreos/etcd/tree/master/h

[2016-01-08 16:30] gyuho commented on #4172
what benchmark command are you using?

[2016-01-08 16:33] aga20 commented on #4172
Just run your bech.sh (link in description).

[2016-01-08 17:12] kelseyhightower commented on #4080
@ecnahc515 I think I tried that and it seems a string is returned and not an etcd err.

[2016-01-08 17:42] AdoHe commented on #4080
@kelseyhightower really? I used such method in my code, guess I have to test this case.

[2016-01-08 17:45] xiang90 commented on #4172
@aga20 What are the versions of boom and etcd you used?

[2016-01-08 17:51] gyuho commented on #4172
I think `boom` fixed it last November. https://github.com/rakyll/boom/commit/5d051b61ca6c098f77137c4f6224fa263da365b2

I tried the benchmark script with the latest boom, but don't see any TIME_WAITs anymore.

[2016-01-08 17:57] aga20 commented on #4172
@xiang90 sorry I forget this.
boom: last I found on github: https://github.com/rakyll/boom (run installation command)
etcd: I try it with a docker container https://quay.io/repository/coreos/etcd?tab=tags from this and without docker 2.1.1 (latest redhat rpm what we found).

@gyuho Then I try to build boom manually and I will try it on Monday because I'm on holiday now. Thanks for your link!

[2016-01-08 18:00] xiang90 commented on #4172
@gyuho @aga20 The default behavior of boom will still cause the TCP connection not able to be reused. You need to pass in the flag `readall=true`

[2016-01-08 18:01] gyuho commented on #4172
I am verifying that right now if the newer boom resolves this issue. I will
keep you updated.

On Fri, Jan 8, 2016 at 9:57 AM, Sandor Szombat <notifications@github.com>
wrote:

--
Sincerely,
Gyu-Ho Lee

[2016-01-08 18:05] gyuho commented on #4111
[result_ssd.txt](https://github.com/coreos/etcd/files/83076/result_ssd.txt)

I attached all the results from ssd. I will read it more later.

[2016-01-08 18:21] gyuho commented on #4111
t.pending: 432
t.totalPut: 709149

commit took: 106.674312ms

[code]

[result_ssd.txt](https://github.com/coreos/etcd/files/83096/result_ssd.txt)

I will profile the cpu usage later.

Here's new one.

[2016-01-08 18:23] xiang90 commented on #4111
@gyuho Right. This confirms the latency spike comes from CPU (SpillTime:102.971108ms) not IO. Thanks!

[2016-01-08 18:41] #4171 closed

[2016-01-08 18:47] xiang90 commented on #4171
@jbking It should be fixed. Please give it a try.

[2016-01-08 19:02] gyuho commented on #4172
WIth newer version, I still see lots of `TIME-WAIT`s.

@aga20 Could you also try the newest `boom` with `-readall=true` and
check if you still see those `TIME-WAIT`s? I will investigate more.

Thanks!

[2016-01-08 19:02] gyuho commented on #4172
You can do something like:

[code]

[2016-01-08 19:08] gyuho commented on #4172
Mine's went up to 2248 time-waits from 400. You can check with:

[code]

[2016-01-08 19:10] gyuho commented on #4172
With old boom, it's worse:

[code]

[2016-01-08 19:12] jbking commented on #4171
It works. Thanks.l

[2016-01-08 19:16] aga20 commented on #4172
@gyuho I tried <code>-readall=true<code> with old bloom and I've got higher qps. But what this parameter exactly mean?

[2016-01-08 19:19] xiang90 commented on #4172
@aga20 It means it reads out the previous response body so that the TCP connection can be reused and can be properly closed at client side. So it reduces timewait and improves qps.

[2016-01-08 19:23] gyuho commented on #4172
@aga20 Can you try with the new `boom`, not the old one. `readall` flag lets you consume the entire request body so that TCP conn can be reused as Xiang explains. So we should expect lower time-waits.

[2016-01-08 19:55] aga20 commented on #4172
@xiang90 Hm I see thanks. But this isn't modify the real qps? Just because you measured without this parameter. Maybe it is a stupid question but unfortunatelly thi is a really important question in my situation (now this is a "battle" between and an another software).
@gyuho Yes I will try it on monday, I can't acces to my work from home. Thanks :)

[2016-01-08 20:53] xiang90 commented on #4172
It does affect qps since you do not have to create a new TCP connection each time, which reduce the e2e latency and thus increases qps.

[2016-01-08 21:09] gyuho commented on #4111
Thanks!

And just for reference:

[code]

[code]

test results are https://github.com/gyuho/hello.
All bad ones are flagged with `[BAD]`. The frequency is 1 out of 1 million.

I will try to reproduce this spike in spill method and see if I can profile it on CPU side.

Raw data are stored temporarily here https://github.com/gyuho/hello.

[2016-01-08 21:47] gyuho commented on #4172
I got breakdown per node:

With `readall=true` flag:

[code]

Without `readall` flag and with old boom:

[code]

And this causes a bunch of I/O timeout on server side.

[code]

[2016-01-08 23:34] gyuho commented on #4111
Test only on boltdb:

For 5 million keys on SSD machine:

[code]

[bolt.pdf](https://github.com/coreos/etcd/files/83411/bolt.pdf)
![bolt](https://cloud.githubusercontent.com/assets/6799218/12212266/4f0aae7e-b61d-11e5-9cbb-49897c609904.png)
[bolt.txt](https://github.com/coreos/etcd/files/83412/bolt.txt)

[code]

[2016-01-08 23:50] gyuho commented on #4111
Tested again, and saw the similar spikes in boltdb itself:

[code]

[2016-01-09 00:46] gyuho opened #4177 "etcdmain: unit test tls connection in client side"
To test the following issues:
- https://github.com/coreos/etcd/issues/4135
- https://github.com/coreos/etcd/issues/4171

For https://github.com/coreos/etcd/issues/4135#issuecomment-169274382

We need some unit test in etcdmain to test these feature.

[2016-01-09 00:54] gyuho commented on #4111
@xiang90  I did think so too but more detailed benchmarks indicate that this is actually an I/O issue.

Out of 5 million writes, I got 4 spikes as follows:

node.spill   took: 918ns
node.spill   took: 858ns
node.spill   took: 331ns
bucket.spill took: 123.467µs
----------- took2: 126.156µs
node.spill   took: 252ns
bucket.spill took: 145.372µs
pageInBuffer, tx.meta.write took: 4.02µs
fdatasync took:

[2016-01-09 01:00] heyitsanthony commented on #4177
@xiang90 and I were discussing how we probably should have some bash script tests / bash script testing infra to end-to-end test the commands like this instead of going through the effort of writing go unit tests.

[2016-01-09 01:02] gyuho commented on #4177
Yeah I agree it will be better.
For this one, I just write a simple test for the purpose of next release. Thanks

[2016-01-09 04:36] gyuho commented on #4111
Sorry for the noise. I did another test but now it seems like we only see spikes in etcd:

In boltdb, for 1 million key, I don't see any spikes that are greater than 20ms.

But if I run the storage-put benchmark on the same machine I get these:

[code]

   totalPut: 177342
spill  took: 26.872609ms
total  took: 30.581939ms
   tx.Stats: {PageCount:33 PageAlloc:135168 CursorCount:297 NodeCount:5 Node

[2016-01-09 04:37] gyuho commented on #4111
BoltDB snippet:

[code]

etcd snippet:

[code]

[2016-01-09 07:35] ecnahc515 commented on #2752
I believe https://github.com/deis/etcd essentially does a lot of this using Kubernetes, an etcd discovery service, and some wrapper programs to manage the life cycle changes.

[2016-01-09 13:44] jonboulle commented on #4080
@kelseyhightower e.g. [here](https://github.com/coreos/etcd/blob/133f46246e129c5474df83e538c58d8635a55a45/discovery/discovery.go#L220)

[2016-01-09 21:53] xiang90 commented on #1232
I am closing this issue since:

1. We solved this in v3 by adding a new concept called lease. Client can attach keys to a lease. TTL is attached to lease. Updating/KeepAlive TTL on lease will not send notification on keys. The code is alrady merged in master.

2. For v2, we got a pr at https://github.com/coreos/etcd/pull/4164. We are reviewing it. It seems to be fine since it is an incremental cha

[2016-01-09 21:53] #1232 closed

[2016-01-09 21:55] xiang90 commented on #2660
Resolved by v3 lease. When there is a leader failover, we refresh the expiries of all leases.

[2016-01-09 21:55] #2660 closed

[2016-01-11 02:42] YanXiaoping commented on #1232
Sorry, may I know when this "v3" will be available? (or where could I find this info?)
Does v3 here means etcd server 3.x and a client using v3 version of api?

[2016-01-11 09:54] ringtail opened #4181 "V2.2.2 benchmark with TLS ."
<pre><code>
write, 1 client, 64 key size, to leader
Requests/sec: 5.5734 Latency distribution: 90% in 0.2877 secs.
write, 64 client, 64 key size, to leader
Requests/sec: 92.8946 Latency distribution: 90% in 1.0950 secs.
write, 256 client, 64 key size, to leader
Requests/sec: 166.3471 Latency distribution: 90% in 1.9445 secs.
write, 64 client, 64 key size, to all servers
Requests/sec: 327.8294 Late

[2016-01-11 12:19] markhowells commented on #3894
@bkleef No progress at all I'm afraid.  It's very frustrating for those of us who need to use TLS across Internet connected hosts.All my apps need to be TLS enabled and one I want to use (registrator - https://github.com/gliderlabs/registrator ) isn't...

[2016-01-11 12:34] markhowells commented on #4022
@xiang90 @philips I agree with the goal of getting making TLS more widely used and using TLS for peer comms is still difficult for many users. However, it's the client side that I'm concerned about - making clients use TLS natively is problematic (especially for those of us that have to use legacy apps), but using the etcd proxy to terminate TLS for such clients is broken -  #3894

[2016-01-11 13:01] gaurav36 opened #4183 "etcd core: there should be way to know whether etcd is initialized properly or not"
Hi Team,
Currently i am writing one application in Golang, i am starting etcd daemon using go code by executing exec.Command.Start("/bin/etcd") and just after starting i am using etcd application and initializing my central store. But its giving me an error that etcd is not initialized properly. If i use  < 1 second sleep time then etcd is initializing properly. Just after issuing "exec.Command.St

[2016-01-11 15:22] gyuho commented on #4183
@gaurav36 You might want to check `check-health` command here https://github.com/coreos/etcd/blob/master/Documentation/other_apis.md#checking-health-of-an-etcd-member-node. etcd has `/health` endpoint.

[2016-01-11 17:24] xiang90 commented on #4181
Why do you think this is confusing? Do you have the result without TLS to compare the result with?

[2016-01-11 23:38] joshix commented on #3595
Related: coreos/docs#674, coreos/docs#702, et al

[2016-01-11 23:41] joshix commented on #3428
(note to self: related and/or Cf. https://github.com/coreos/etcd/tree/master/contrib/systemd/etcd2-backup-coreos)

[2016-01-11 23:42] xiang90 commented on #3620
@raoofm @MSamman @roboll @nixn I think we should add another srv endpoints for client. So the client can look it up. I will try to get it done this week. Thanks!

[2016-01-12 00:53] gyuho commented on #4039
@AkihiroSuda **I cannot reproduce this error**. Can you provide your
testing environment or do you have a reliable way to reproduce this?

`tx closed` is from boltdb `ErrTxClosed`. Error message indicates that
your machine or test fails to initialize the database.

Did you run into this under slow hard-disk?

Thanks

[2016-01-12 01:04] gyuho commented on #4172
@aga20 Please try this https://github.com/coreos/etcd/pull/4182/files.
And this has been addressed in the past as well https://github.com/coreos/etcd/issues?q=is%3Aissue+time_wait+is%3Aclosed.

With `readall` flag, I don't see many time waits anymore.

But we might not merge the script because it is non-etcd issue, and
that benchmark script is not the best to measure the performance right now.

Pl

[2016-01-12 01:04] #4172 closed

[2016-01-12 01:05] gyuho commented on #4177
Closing this in favor of @heyitsanthony's integration testing.

[2016-01-12 01:05] #4177 closed

[2016-01-12 06:45] xiang90 commented on #1912
/cc @heyitsanthony Shall we add another option to range in v3 that range will only return the number of keys?

[2016-01-12 06:47] ringtail commented on #4181
Compare with the official benchmark. TLS make it to slow

[2016-01-12 06:49] xiang90 commented on #4181
@ringtail What is the result of the official benchmark on your env?

[2016-01-12 06:51] xiang90 commented on #4181
@ringtail You probably need to patch boom to read all the response body or the connection cannot get reused. So basically you will need to do one TLS handshake for each request. That will slow down your benchmark quite a lot.

[2016-01-12 06:53] AkihiroSuda commented on #4039
- Hardware: sorry I can't remember, but perhaps either of these ones:
 - 4-Core Xeon E3, 8GB RAM, HDD
 - AWS t2.medium, EBS magnestic store
- OS: Ubuntu 15.10 amd64
- etcd revision: 9b0b15c
- Workload: __Certainly, I was running another heavy workload (unrelated to etcd).
 And notably, I was able to reproduce the bug only when I was running the other workload.__

I'm trying to reproduce the bug ag

[2016-01-12 06:55] gyuho commented on #4039
I see. Even if it was running slow, this shouldn't happen. If you can find
a way to reproduce, please let me know. That would help me debug a lot.
Thanks!

On Mon, Jan 11, 2016, 22:53 Akihiro Suda <notifications@github.com> wrote:

--
Sincerely,
Gyu-Ho Lee

[2016-01-12 06:56] xiang90 commented on #3693
@raoofm Closing due to low activity. If you are still interested in making this happen, please reopen it.

[2016-01-12 06:56] #3693 closed

[2016-01-12 07:06] xiang90 commented on #3891
Both of the issues are solved.

https://github.com/coreos/etcd/pull/4151
https://github.com/coreos/etcd/blob/59bf83c7f4086c5c31be202dfad1f925d9fa95c3/etcdserver/server.go#L617-L625

[2016-01-12 07:06] #3891 closed

[2016-01-12 07:20] heyitsanthony commented on #1912
We could change the (currently unused) `More` field to indicate the number of keys remaining.

[2016-01-12 07:23] xiang90 commented on #1912
@heyitsanthony I think the use case @thedrow mentioned is to provide a fast way to calculate total number of keys inside one prefix. Then user can allocate resources to consume these keys independently.

[2016-01-12 07:26] xiang90 commented on #1912
@heyitsanthony One concern is that the count operation is expensive. I am not sure if it is good to always return the remaining number of keys in More.

[2016-01-12 07:30] xiang90 commented on #2691
@philips We are not going to add this for etcd v2 store. But etcd v3 will support this.

Close in favor of https://github.com/coreos/etcd/issues/4095

[2016-01-12 07:30] #2691 closed

[2016-01-12 07:30] heyitsanthony commented on #1912
If it's slow to give a precise value, the `More` value can be a hint by default unless some `precise` flag is set.

[2016-01-12 07:31] gyuho commented on #4183
@gaurav36 Kindly ping.

There are various endpoints you can use for your use case: https://github.com/coreos/etcd/blob/master/Documentation/api.md.

Please let me know if you have any question. Thanks,

[2016-01-12 07:35] gyuho commented on #4088
Kindly ping @fatduo .

Did you resolve this issue?

As @AdoHe explains, container port is only internal to its container.
etcd only receives the flags that follows `etcd` executable command.
You should just use host ports.

[2016-01-12 07:39] gaurav36 commented on #4183
@gyuho

Thanks for the reply.

we are using libkv store and i am doing get call to get the /health endpoint value.

err := Store.CheckETCDHealth("/health")

func (s *GDStore) CheckETCDHealth(p string) error {
        for {
                pairs, e := s.List(p)
                if e != nil {
                        log.Info(e.Error())
                        continue
                }

[2016-01-12 07:45] gyuho commented on #4183
@gaurav36 You don't need bindings or client to do that. Just do:

[code]

[2016-01-12 07:48] gaurav36 commented on #4183
@gyuho   i can issue "curl http://YOUR_HOST:YOUR_PORT/health" command using exec but there should be way for getting /health endpoint value.

[2016-01-12 07:50] gyuho commented on #4183
@gaurav36 I understand but `libkv` is not an official etcd client. Please file an issue to `libkv`.

And we do have health-check command in our etcdctl. Please check https://github.com/coreos/etcd/blob/master/etcdctl/command/cluster_health.go.

[2016-01-12 08:07] gyuho commented on #4183
Closing this for now. Please feel free to reach out for any other questions.

Thanks,

[2016-01-12 08:07] #4183 closed

[2016-01-12 09:06] AkihiroSuda commented on #4039
For 9b0b15c, I can sometimes reproduce this panic using my fuzzing tool: https://github.com/AkihiroSuda/MicroEarthquake/tree/tag20160112

I'm currently testing latest 374b14e4 with my tool, but I'm not hitting the panic yet.
Perhaps the panic has been already fixed by some commits since 9b0b15c?

[2016-01-12 09:11] gyuho commented on #4039
@AkihiroSuda This is not related to https://github.com/coreos/etcd/commit/9b0b15c9be660695082d683bee6d0b5ea59904c4.

This happens when you have `nil` database inside transaction, therefore returning `tx closed`.
I am not sure what kind of fuzz testing you are running, but it might be: two routines share one
database and if the database got deleted or another routine closes the transaction by commi

[2016-01-12 10:56] gaurav36 commented on #4183
Thank you @gyuho  :)
issue solved :+1:

[2016-01-12 10:58] gyuho commented on #4183
No problem. I am glad that it worked. Thanks!

On Tue, Jan 12, 2016, 02:57 Gaurav Kumar Garg <notifications@github.com>
wrote:

--
Sincerely,
Gyu-Ho Lee

[2016-01-12 14:29] thedrow commented on #1912
@heyitsanthony As long as 0 is not provided if there is more than one key, that's also fine.

[2016-01-12 16:18] raoofm commented on #3693
@xiang90 I opened this issue based on our prod experiences and extensive performance testing.

We figured that etcd performance degrades in two cases (auth & https)

etcd is fast enough for our usage but in case we hit a point where we wanted to disable https or auth then it shouldn't be a multi layer change, u should be allowed to just flip a flag to use https or not. It shouldn't be a change in

[2016-01-12 16:36] xiang90 commented on #3693
What is the use case for this? Cross DC cluster? To support this, we need to change a few things, not just srv records.

[2016-01-12 17:04] xiang90 commented on #1912
@thedrow Then probably a bool `More` is good enough for you? You can range a prefix and limit the number of keys returned. If more is true, you can do a consistent range for the next batch of keys you care about.

[2016-01-12 17:09] xiang90 commented on #3854
@mickep76 The original design for hidden key is to provide the security through obscurity. So we cannot change this behavior in v2 unless set via a server-side parameter. We have decided to remove this feature in v3 and support native ACL instead. I am closing since we have got a solution and this thread is low activity.

[2016-01-12 17:09] #3854 closed

[2016-01-12 17:17] raoofm commented on #3693
yes

[2016-01-12 17:20] thedrow commented on #1912
There's one use case where knowing that there are more keys is enough but that's not always the case.
I don't exactly recall the use case I had in mind when I opened this issue but having the ability to count the keys (even if the number is not exact) was useful.
In that sense, the counter has to be eventually consistent and getting an inexact number is still acceptable.

[2016-01-12 17:28] raoofm commented on #3693
Another thing that i wanted to propose is - why do we have different SRV records for ssl and non ssl records

As of now we specify
_etcd-server._tcp.example.com. 300 IN   SRV 0 0 2380 infra0.example.com.
or
_etcd-server-ssl._tcp.example.com 300 IN   SRV 0 0 2380 infra0.example.com.
and start etcd like
$ etcd -name infra0 -discovery-srv example.com

Instead we can always specify only
_etcd-server._

[2016-01-12 17:28] raoofm commented on #3693
Same thing for something you recently proposed for new SRV for client

[2016-01-12 17:30] CVirus commented on #3474
@danielschonfeld Can you please link me to the coreos bug?

[2016-01-12 17:35] xiang90 commented on #3693
@raoofm

The first proposal requires additional flag and it is just for srv discovery.

The second proposal requires for smart etcd configuration, which we try hard to avoid.

Is there any trouble for you to switch from non-ssl SRV records to ssl ones?

[2016-01-12 17:38] xiang90 commented on #3693
@raoofm In another word, I feel a SRV discovery configuration should deterministically define one etcd cluster configuration. Restarting etcd or changing etcd flags should not affect the cluster configuration. Mixing ssl and non-ssl might be acceptable, but that requires other changes. Changing a flag in etcd to change the entire cluster configuration seems to be not acceptable.

[2016-01-12 17:40] raoofm commented on #3693
agree, thanks

[2016-01-12 17:41] xiang90 commented on #3693
@raoofm No problem. It would be great if you can create an issue for mixing https and http member cluster? I can do that later.

[2016-01-12 17:42] raoofm commented on #3693
sure

[2016-01-12 17:46] raoofm opened #4189 "Cluster should support both ssl and non-ssl members/peers"
Cluster should support both ssl and non-ssl members/peers

This applies to dns discovery using -discovery-srv flag

Currently we can give
_etcd-server._tcp.example.com. 300 IN SRV 0 0 2380 infra0.example.com.
or
_etcd-server-ssl._tcp.example.com 300 IN SRV 0 0 2380 infra0.example.com.

Cluster should have the ability to mix them up, may be a possible use case is a Cross DC cluster

[2016-01-12 17:46] raoofm commented on #4189
Related discussion https://github.com/coreos/etcd/issues/3693

[2016-01-12 17:47] raoofm commented on #4189
thanks @xiang90

[2016-01-12 18:19] gyuho commented on #4111
We believe this is not etcd or boltdb issue, more from Go garbage collector pauses.

Current `storage-put benchmark command` writes are too intensive for Go garbage collection.
And it doesn't simulate real-world usage. So we ran benchmark binary with gc trace enabled,
and found out spikes are from the gc pauses, not from disk I/Os: boltdb's spill methods
sometimes took 400 ~ 500ms when gc was busy

[2016-01-12 18:19] #4111 closed

[2016-01-12 18:22] xiang90 commented on #4111
@mitake It would be great if you can help to verify this. Basically you can try to disable GC by using env GOGC=off. Also you can try to rate limit this benchmark tool, the spikes also go away. So I do not think this is an issue for real word cases here etcd core members SHOULD NEVER run under very high pressure.

[2016-01-12 18:26] #4166 closed

[2016-01-12 18:30] xiang90 commented on #4115
@purpleidea Any luck with capnslog?

[2016-01-12 19:57] scole-scea commented on #3971
CoreOS 921.0.0 was released to the alpha channel today, and it contains etcd 2.2.3.

I re-ran my tests, and huzzah! everything seems just fine.

Thanks for your help.

[2016-01-12 20:13] gyuho commented on #3971
That's great! Thanks!

[2016-01-12 21:16] purpleidea commented on #4115
On Tue, Jan 12, 2016 at 1:30 PM, Xiang Li <notifications@github.com> wrote:

I have not looked at it extensively yet sorry. There's another feature that
got pushed up higher on my todo list, but I plan to return to the issue.
Thank you for your patience and for your pointers.

[2016-01-12 21:59] xiang90 commented on #2020
@gyuho Can you try to see if this is still an issue with etcdctl (we updated the dependency a few months ago).

Also can you try to verify that etcdctlv3 does not have this issue?

[2016-01-12 22:01] xiang90 commented on #3488
/cc @heyitsanthony

[2016-01-12 22:35] barakmich opened #4191 "v3api: Bug in watchable ranges with catchup"
The API is there, and works if you don't set StartRevision -- ie, in https://github.com/coreos/etcd/blob/master/storage/watchable_store.go if the watcher is unsynced, it will never become synced, for prefixes. I added a quick (failing) test to prove it's right in here:

(add to `storage/watcher_test.go`)
[code]

Everything above `unsynced watchers` will pass -- but it hangs if we add the unsynced

[2016-01-12 22:47] #1160 closed

[2016-01-12 23:12] mitake commented on #4111
@xiang90 OK, I'll check it and modify the benchmark later. Please wait for a while.

[2016-01-12 23:22] gyuho commented on #2020
@xiang90

Just confirmed that both v2 and v3 have problems with parsing value with special characters or negative numbers. And found out this is the way unix commands have been working [1]. So I suggest to do the same thing as cockroachdb [1], just printing out the help message to show users workarounds.

[code]

---
[1]: https://github.com/spf13/cobra/issues/124
[2]: https://github.com/cockroachd

[2016-01-12 23:24] xiang90 commented on #2020
Can you give me an example of cockroach's workaround?

[2016-01-12 23:24] gyuho commented on #2020
@xiang90 https://github.com/mbertschler/cockroach/blob/a27760c33fa18b1a1b42dafb63f8b24155f67589/server/cli/kv.go#L140-L148

[2016-01-12 23:28] xiang90 commented on #2020
@gyuho Seems reasonable. Can you improve the sub command doc then?

[2016-01-12 23:28] gyuho commented on #2020
@xiang90 Sure, I will update help message of v2 and v3 `etcdctl`s. Thanks

[2016-01-12 23:42] heyitsanthony commented on #3488
I suspect this would be too slow to replace CAS-like primitives, but it would probably have benefits similar to stored procedures.

[2016-01-13 01:29] gyuho commented on #4080
@kelseyhightower It returns error interface and gets printed as a string by `Error` method
in `client` package.

As @ecnahc515 mentioned, if you type-assert on error, you can get `client.Error.Code`.
But I agree there should be easier interface to do this, which is addressed in https://github.com/coreos/etcd/pull/4194.

[code]

[2016-01-13 02:10] xiang90 commented on #4034
/cc @gtank

[2016-01-13 02:30] robszumski opened #4197 "etcdctl flags should be able to passed as env vars"
etcdctl should function just like etcd itself: you can provide either a flag or environment variable for all config options.

https://github.com/coreos/etcd/pull/4196 adds a little bit more documentation about the current set of flags that have env vars, but it also highlights the gaps.

[2016-01-13 04:12] gyuho commented on #4080
Closing this. You can now have `IsKeyNotFound(error)` function (https://github.com/coreos/etcd/pull/4194)
to check if client error is `ErrorCodeKeyNotFound`.

Thanks!

[2016-01-13 04:12] #4080 closed

[2016-01-13 04:43] xiang90 opened #4198 "data race in testutil"
[code]

/cc @heyitsanthony

[2016-01-13 05:56] #4198 closed

[2016-01-13 08:36] AkihiroSuda commented on #4039
@gyuho,

OK, could you please try this? https://github.com/AkihiroSuda/etcd/commit/6d9ac5a89e3f3de04c7f6655338f126b98f41840

This is based on latest b83c5288 (Jan 12), and I can reproduce the bug locally _without_ my fuzzing tool I mentioned above.
(you're quite right, the bug is not yet fixed.)

My environment is Ubuntu 15.10 amd64 (Go 1.5.1) on AWS t2.large, EBS magnetic store.

[code]

[2016-01-13 08:52] mitake commented on #4111
Even with `GOGC=off`, the high latency could be observed:
command: `GOGC=off ./benchmark storage --batch-limit=100 put --total=1000`
result:
[code]

I obtained heap profiling result (of course without `GOGC=off`) with the new flag added in https://github.com/coreos/etcd/pull/4201, PauseNs was like this:
[code]

Seems there's no GC pause time.

Currently I'm not fully sure the high latency comes fr

[2016-01-13 11:11] gyuho commented on #4111
Total put 1000 is not big enough to stress Go gc. And put rate should be around 10000.

[2016-01-13 11:47] gyuho commented on #4039
@AkihiroSuda Thanks a lot. Yes I had reproduced this panic in my machine as well.

The panic happens here:

https://github.com/coreos/etcd/blob/master/Godeps/_workspace/src/github.com/boltdb/bolt/cursor.go#L152-L169

[code]

I will investigate more for better way to reproduce it, and file an issue to boltdb if necessary.

[code]

[2016-01-13 15:25] xiang90 commented on #4111
@mitake Are you running the benchmark on SSD? If you are on HDD, then a 40ms commit latency seems to be right.

[2016-01-13 17:53] gyuho commented on #2020
Resolved with https://github.com/coreos/etcd/pull/4193.

Now we have man page for special cases:

[code]

[2016-01-13 17:53] #2020 closed

[2016-01-13 17:53] #4035 closed

[2016-01-13 18:07] andres-erbsen opened #4203 "applying configuration changes asynchronously [documentation clarification request]"
The `etcd/raft` documentation says:

(emphasis mine)

Does this mean that applying configuration changes can be delayed until after signaling Advance? Are there any requirements on this delay, or is it okay for an application to be arbitrarily far behind with applying committed entries? A pedantic reading of the quoted paragraph seems to imply that arbitrary delays are okay. If so, would the follo

[2016-01-13 18:09] xiang90 commented on #4203
@andres-erbsen I am trying to make this clear on https://github.com/coreos/etcd/pull/4049. Can you please give it a look? If it does not help, I can try to make it better.

[2016-01-13 18:17] andres-erbsen commented on #4203
@xiang90 That looks like an improvement, but could you mention configuration changes explicitly as well?

Also, the new comment you wrote for Advance() (in 9767c12) doesn't make it clear whether it's okay to fall multiple steps behind in applying. It says it's okay "to call Advance before finish applying the last ready" (also, that should be "finishing applying"), but is it also okay to call Advan

[2016-01-13 18:30] xiang90 commented on #4203
@andres-erbsen

Sure. I will clarify this.

I will clarify.

For a quick reply, you can have arbitrary delay as long as you apply the all types committed entries in order by raft index. However, arbitrary delay is generally bad since your application state machine can be far behind raft.

For configuration changes, the turning point is when you applied the change. Note that, if you do not apply th

[2016-01-13 18:32] xiang90 commented on #4203
@andres-erbsen Basically, you can apply and run raft concurrently to get some performance gain. But try to control the gap between raft and application when you start to do so.

[2016-01-13 18:44] xiang90 commented on #4203
@andres-erbsen There is another tricky part: there should be at most one unapplied configuration changes in followers log when it tries to become candidate. raft pkg does not check it. I guess if you receive a configuration change, you'd better force apply all previous entries (including the configuration) for safety.

[2016-01-13 19:26] #3620 closed

[2016-01-13 19:32] #4191 closed

[2016-01-13 19:34] gyuho commented on #4191
@barakmich Please try again with master branch.
https://github.com/coreos/etcd/pull/4202 has just been merged.

Please ping me if you still have issues with watch.

Thanks for reporting!

[2016-01-13 20:50] xiang90 commented on #4069
@HardySimpson The heap ana does not provide enough information. I am not sure why the json encoder is holding a lot of memory. Were etcd serving a large number of large concurrent requests?

It would be helpful if you can reproduce this issue with etcd independently.

[2016-01-13 21:02] gyuho commented on #3845
`+` in URLs or `curl` commands is an encoded space `%20` in most environments.
As I commented above, you need to encode plus sign. You might want to check out
this man page http://curl.haxx.se/docs/manpage.html#--data-urlencode.

Closing this because this is expected behavior, and not etcd issue.

@HuKeping, please let us know if you still believe this is an etcd issue.

Thanks!

[2016-01-13 21:02] #3845 closed

[2016-01-14 00:00] xiang90 opened #4207 "v3api: limit the number of keys that can be delete in deleteRange"
Deleting a large number of keys (>10k) in one txn might kill our backend. Each deletion will append a tombstone for a key and for each txn we batch all operations. Committing a txn which has a lot of ops will consume a lot of memory and might cause issues with boltdb.

We'd better limit the number of keys to remove in on deleteRange or find a way to separate it into smaller ranges internally.

/cc

[2016-01-14 00:10] gyuho commented on #4207
What number do we want to put as a limit? Or do we need this find out how many deletions hurt backend performance?

[2016-01-14 00:10] heyitsanthony commented on #4207
I feel like this should be handled internally. I don't think there's much a client will do for a partial deletion case aside from panicking or hammering on delete until all the keys are gone.

Why shouldn't deleterange be best-effort? If a user asks for a costly operation, that's on them.

[2016-01-14 00:12] xiang90 commented on #3686
dup with https://github.com/coreos/etcd/issues/1978

[2016-01-14 00:12] #3686 closed

[2016-01-14 00:14] xiang90 commented on #4207
@heyitsanthony I agree that the user should be able to remove a range with little effort. But that should not blocking the entire backend as it is today. We should try our best to protect the reliability of etcd cluster.

[2016-01-14 00:15] #4057 closed

[2016-01-14 00:22] heyitsanthony commented on #4207
It's still reliable, but availability will suffer since it can't service other ops. There could be a QoS mode that will fail large operations (DeleteRange, Txns, etc), but this is not ideal.

[2016-01-14 00:24] xiang90 commented on #4207
Suddenly consuming a large amount of memory is not. But we can solve this internally.

[2016-01-14 01:41] gtank commented on #4034
@stensonb Are you talking about revoking client certificates, or clients being able to check an etcd peer's certificate?

[2016-01-14 05:13] mitake commented on #4111
@gyuho my configuration would not big enough to stress Go's GC. But it already observes the high latency. In addition, the latency can be observed with `GOGC=off`. Did you test `benchmark storage put` with `GOGC=off`? Therefore I think Go's GC wouldn't be the main source of the high latency.

@xiang90 I'm running the benchmark on SSD.

[2016-01-14 05:18] xiang90 commented on #4111
@mitake When I test benchmark storage put with GOGC=off, the high latency went away. I tested with 5M keys with default configuration. The max latency is like 20ms-30ms, which is reduced from 300ms.

[2016-01-14 05:25] mitake commented on #4111
I run `benchmark storage put` for some time with default parameter (including GC) and found interesting results:

- best
[code]

- medium
[code]

- worst
[code]

In few cases, the benchmark score is really good. Anyway, almost every result is similar to the worst result. I'll share if I can see any new interesting findings.

[2016-01-14 05:31] xiang90 commented on #4111
@mitake

I always run it with > 1M total key to make this more stable and meaningful.

[2016-01-14 05:47] mitake commented on #4111
@xiang90

I tested with 1M keys (--total=1000000) w/ and wo/ GC. The result was like below:
- w/ GC
[code]

- w/o GC
[code]

Surprisingly, the result w/o GC is worse. I just tested once for each configuration, so the result isn't reliable.

[2016-01-14 05:50] xiang90 commented on #4111
@mitake When testing without GC, we need to make sure you have enough memory or it might start using swap. Have you checked that?

[2016-01-14 06:03] xiang90 commented on #4039
@AkihiroSuda @gyuho I think i know what happened. I am fixing this.

[2016-01-14 06:15] tweakmy opened #4209 "etcd go client when get recursive return nothing"
go client get method

[code]
returns empty string on the Value when use on recursive directories

[2016-01-14 06:52] #4110 closed

[2016-01-14 07:02] mitake commented on #4111
@xiang90 I did rough check with vmstat and there wan't swap in/out. My machine has 64GB DRAM so it would enough for the test.

[2016-01-14 07:06] xiang90 commented on #4111
@mitake Not sure why. Probably you can help to debug a little bit.

[2016-01-14 07:08] mitake commented on #4111
@xiang90 sure, I'll dig in this problem ASAP. But I'd like to solve the client library configuration problem first.

[2016-01-14 07:09] xiang90 commented on #4111
@mitake I am busy this week and next week. But I will find time to look into that one.

[2016-01-14 10:20] gyuho commented on #4209
@tweakmy

It works for me. etcdctl uses the same API, and I set the `Recursive` true.

[code]

What is your use case?

If you want to list sub-directories recursively, you can do:
https://github.com/coreos/etcd/tree/master/etcdctl#listing-a-directory

Thanks,

[2016-01-14 11:35] tweakmy commented on #4209
I would like grab all values in the subdirectory

./etcdctl set /a/b "a sub b"
./etcdctl set /a/c "a sub c"

ideally should give
./etcdctl get --recursive /a
/a/b/ "a sub b"
/a/c/ "a sub c"

etcdctl `get` does not support recursive at the moment
[code]

However the curl implementation and response is what I am expecting
[code]
It is only how it should be presented in the keyapi and how I could use

[2016-01-14 11:47] gyuho commented on #4209
`--recursive` flag  and  `ls` command will output all keys and values for a given path:

[code]

@tweakmy I think you are close. If you want to do programmatically, you can do the same thing as
https://github.com/coreos/etcd/blob/master/etcdctl/command/ls_command.go#L40-L58.

And if you want to use `etcdctl`, you should use `ls` command.

[2016-01-14 11:54] tweakmy commented on #4209
[code]
I can confirm it only gives me the key
[code]
I do need key and value because at a periodic time, I would like to 'get' key-value set

[2016-01-14 14:29] raoofm commented on #4207
+1

Something consul is trying to fix https://github.com/hashicorp/consul/issues/1278

[2016-01-14 16:05] #4039 closed

[2016-01-14 16:08] xiang90 commented on #4209
@tweakmy ls only lists the names. If you want the key-value listed at the same time, you have to use etcd/client. As @gyuho said, etcd/client should just work.

[2016-01-14 16:08] #4209 closed

[2016-01-14 16:09] xiang90 commented on #4209
@tweakmy If you try etcd/client and it does not work for you, please reopen this. Thanks!

[2016-01-14 18:28] xiang90 commented on #4065
Fixed by #4211

[2016-01-14 18:28] #4065 closed

[2016-01-14 18:49] xiang90 commented on #4015
@MartinPodval Have you got the issue resolved? The proxy of etcd2 now preserves the cluster configuration in a best-effort manner. You need to clean the data dir to remove the previous cluster configuration. I feel it is easy enough to do a rm -rf. Adding a etcdctl command seems to be overkilled, since it will just be a thin wrap around rm -rf and still require the data dir path.

[2016-01-14 18:52] gyuho commented on #4181
@ringtail any updates on this? As Xiang mentioned, you want to pass `--readall` flag to `boom` to reuse tcp connections, otherwise it will be slow.

[2016-01-14 18:52] xiang90 commented on #3203
closing in favor of #3896 and #4097

[2016-01-14 18:52] #3203 closed

[2016-01-14 19:07] xiang90 commented on #3753
@raoofm

We do not really want to make this complicated. Now both DNS SRV and discovery service are only designed to work for bootstrapping.

We should fix this by not looking up SRV if there is configuration file.

We might need to find a way to change the cluster location for proxy dynamically when the cluster changes dramatically. But we do not have plan now.

[2016-01-14 19:08] xiang90 commented on #3753
@raoofm Sorry for the long delay on this thread.

[2016-01-14 19:44] MartinPodval commented on #4015
@xiang90 I've finally ended up with a service like this:

[code]

So, I was little bit surprised by the purpose of cloud config as I originally think that it was intended to be used in different way but I understand that :-)

[2016-01-14 19:49] xiang90 commented on #4015
@MartinPodval I think that service should work. Thanks! I am closing this issue now. Let us know if you have any other questions!

[2016-01-14 19:49] #4015 closed

[2016-01-14 20:00] MartinPodval commented on #4015
@xiang90 Yeah, it works perfectly :-)

[2016-01-14 20:33] raoofm commented on #3753
@xiang90 I appreciate that you fixed the issue of not looking up SRV for restarts.

Consider this use case of a 3 member cluster:

SRV is based on example.com
    node1.example.com
    node2.example.com
    node3.example.com

Usually etcd is used by hundreds to thousands of apps for config management.Best practice is to have a local proxy with each app.

If the cluster goes down and a new cluster

[2016-01-14 20:34] raoofm commented on #3753
I think I misunderstood you, if you agree should I open another issue for this use case?

[2016-01-14 20:42] xiang90 commented on #3753
@raoofm SRV discovery is only designed for bootstrapping. We do not have any mechanism to swap a proxy from one cluster to another one without removing the configuration file and it is not designed that way currently. I understand your requirement. Our general suggestion is to restart the proxy since the cluster is basically gone and the clusterID/memberID are changed. The app/proxy should be awar

[2016-01-15 00:53] gyuho opened #4216 "improve watch integration test"
- [X] make revision start as 1 (Anthony is working on this): https://github.com/coreos/etcd/pull/4217
- [X] fix header's revision comparison test (currently header test skips unmatched cases): https://github.com/coreos/etcd/pull/4218
- [X] test watch cancel operation in synced: https://github.com/coreos/etcd/pull/4223
- [X] test multiple, concurrent synced watchers on the same key: https://github.

[2016-01-15 01:00] xiang90 commented on #4216
We also need to test cancellation.

[2016-01-15 01:01] gyuho commented on #4216
Just added. Thanks.

[2016-01-15 02:16] ringtail commented on #4181
@gyuho .  update to v2.2.2 .much better.
<pre>
<code>
root@iZ23uf1cf04Z:~/benchmark# ./official.sh
write, 1 client, 64 key size, to leader
Requests/sec: 54.5492 Latency distribution: 90% in 0.0203 secs.
write, 64 client, 64 key size, to leader
Requests/sec: 522.7351 Latency distribution: 90% in 0.1604 secs.
write, 256 client, 64 key size, to leader
Requests/sec: 501.2922 Latency distribution: 90%

[2016-01-15 02:17] ringtail commented on #4181
I'll check go 1.6 beta later.I think the problem is about the performance of TLS

[2016-01-15 02:17] xiang90 commented on #4181
@ringtail It is about not creating new TLS connections each time. See my previous reply.

[2016-01-15 05:11] ringtail commented on #4181
@xiang90 yes,I'll check it .3q~

[2016-01-15 11:12] tweakmy commented on #4209
Thanks @gyuho

[2016-01-15 12:48] Dynom opened #4220 "Unable to start after full disk"
It's related to #3591, but that ticket didn't help me, at all. Etcd2 is refusing to start and it's seriously missing information to figure out what to do next. It's highly frustrating.

I've a cluster of 5 machines. Due to a bug in some software the disk on one node got full. Now Etcd fails to start, claiming a file can't be found, no idea what file it tries to locate.

* In `snap/` there were sev

[2016-01-15 15:36] xiang90 commented on #4220
@Dynom can you do a ls on you entire member data dir and paste the info here?

[2016-01-15 15:56] Dynom commented on #4220
Hi @xiang90,

certainly:
[code]

[2016-01-15 16:01] Dynom commented on #4220
I've already worked around the problem by migrating to a new node, so I
* Created a new instance
* Copied the data
* Added it as a member to the cluster
* Deleted the broken member from the cluster

**I've a question remaining:**
Once I empty the etcd2 directory, can safely re-add it as a new member on the same IP address? It was a member according to the original discovery URL (on discovery.etcd.

[2016-01-15 16:05] urzds opened #4221 "Allow etcdctl to work with a local etcd proxy - client: etcd cluster is unavailable or misconfigured"
I have setup a local etcd2 proxy:
[code]

When I try to run `etcdctl`, I would assume that it works solely with the local proxy, who then communicates with the cluster members/peers. However, it appears that `etcdctl` instead just uses the proxy to lookup the cluster members/peers and then tries to talk to them directly, which will fail if the members/peers use a custom CA:
[code]

It would be nic

[2016-01-15 17:17] xiang90 commented on #4221
@urzds If you want etcdctl to stick with local proxy, you can tell it via flag `--no-sync`. We probably should make `etcdctl` do `--no-sync` by default if the given endpoint is already localhost in the future version of etcdctl.

[2016-01-15 17:17] #4221 closed

[2016-01-15 17:17] xiang90 commented on #4220
Did you remove the entire snap dir?

[2016-01-15 17:19] xiang90 commented on #4220
You do not have to do step 2.

You can do it. Discovery is only used for bootstrapping. After that, the entire cluster is in your control.

See https://github.com/coreos/etcd/blob/master/Documentation/runtime-reconf-design.md#do-not-use-public-discovery-service-for-runtime-reconfiguration.

[2016-01-15 19:03] #3753 closed

[2016-01-15 22:46] raoofm commented on #3753
@xiang90 I understand your point too regarding SRV usage for only boot up, but there has to be a practical solution to this problem.

It is not just a restart, it requires the data-dir to be deleted as well. Now this gives a problem as this has to be done
* manually by admin or
* we impose that any app using proxy should on failure stop | delete data-dir | restart
* a script that continuously moni

[2016-01-15 23:37] xiang90 commented on #3753
@raoofm This will be the exact same issue with using etcd without proxy, right? All your client needs to be reconfigured in some way when your old cluster is gone.

Trust me I understand this issue. I know it is painful for people to restart their etcd/zookeeper client to refresh cluster configuration cache. However, current we do not really have a solution for cluster swapping. I believe this is

[2016-01-16 10:18] Dynom commented on #4220
No it's there, it just doesn't show up with the command arguments I used (`-type f`). Etcd2 refuses to start without that directory.

I wasn't talking about Etcd2 data, I was talking about the data on the server that I needed. I referred to that in my initial post.

Allright. I thought I read somewhere to be careful when re-adding nodes with the same IP. Perhaps that was outdated or I'm simply mis

[2016-01-16 14:19] #4220 closed

[2016-01-16 21:48] bweston92 commented on #3171
I've just got this error now on DigitalOcean. Tried multiple times now.

[code]

[2016-01-17 03:59] srijs opened #4226 "invariant for Node.Ready/CommitedEntries"
Hi.

I'm currently trying to use the `coreos/etcd/raft` library to write a consensus-based database system. Although the documentation of the `Node` interface is quite extensive, I'm still missing a bit of information about the invariants after applying `CommitedEntries`. I'd be happy to improve the documentation and/or send a PR your way as soon as I know more.

Here's my use-case: I want my syst

[2016-01-17 04:36] xiang90 commented on #4226
This is not a common use case.  But give the decoupled design of etcd/raft, this should not be hard to implement.

First, the leader should be able to record all the proposals before letting it go to raft. This part should be straightforward forward.

The tricky part is that when there is a leader election, the new leader has to get all previous pending proposals and record them since the previous

[2016-01-17 04:36] xiang90 commented on #4226
/cc @bdarnell @heyitsanthony

[2016-01-17 06:13] srijs commented on #4226
Sure. I haven't done any benchmarks yet, but I'm planning on having a decent number of database clients competing for a conditional update, to the point where a CAS _failure_ will be the common case, and want to achieve a low latency to reduce contention, enabling them to try again as soon as possible.

I'm unsure whether I understand your comment about the hook we need in case of a leader electio

[2016-01-17 06:31] xiang90 commented on #4226
The newly elected leader will only discard the conflict ones. Say the previous leader A is at term 1, and it proposed 10 entries, none of them get committed. Follower B receives 8 of all proposals. Then leader A dies, and follower B promotes as leader. The 9th proposal will have term 2 and will overwrite the previous 9th entry which has term 1. But the pervious 8 entries of term 1 will get committ

[2016-01-17 06:35] xiang90 commented on #4226
If that is the case you want to optimize

will not work. Waiting for ALL previous proposal get applied will introduce additional latency. This conflicts with your proposal. If you want to reduce disk IO for writing log entries or network IO for replication, then it probably fits you well.

[2016-01-17 06:39] xiang90 commented on #4226
@srijs I would suggest you to do some benchmark first. You do not need raft at all to begin in my opinion.

Probably just assume a commit latency like 10ms and a reject latency like 100us, then for any given proposal rate and conflict rate we can know the latency reduction.

If you believe it worth the effort and you want to make it happen, I think we probably can achieve that.

[2016-01-17 06:58] srijs commented on #4226
Thanks for you advise. It's great to hear that it is feasible to implement if necessary.

I will start out with the condition evaluation on read (i.e. after commit) first and see how far I can take that in terms of latency and congestion control.

Feel free to close this issue, I will open a new one and reference this when I have more to report :)

[2016-01-17 07:13] xiang90 commented on #4226
There are still some trick issues we need to think carefully before implementing this. For example, the CAS might be false positive when there is a leader election happens right after the reporting. But it wont be a huge issue in general since the failure rate should be low and client should prepare for retry anyway. There might be other minor things to consider.

But, yea, let's talk more when yo

[2016-01-17 07:13] #4226 closed

[2016-01-17 09:36] bweston92 commented on #2214
Any idea what is causing this? I'm just trying to start a DigitalOcean cluster with a cloud init file that someone else uses on a tutorial that works out the box. Yet for me I get this context deadline exceeded.

[code]

[2016-01-17 17:55] xiang90 commented on #2214
@bweston92 Please try with the latest released version of etcd - 2.2.3. Thanks.

[2016-01-17 21:09] bweston92 commented on #2214
@xiang90 how can I upgrade etcd in coreos stable? No where on internet can I find this resource :/

[2016-01-17 21:16] xiang90 commented on #2214
@bweston92

You can put etcd into a container and run it. https://github.com/coreos/etcd/blob/master/Documentation/docker_guide.md.

Or you can download the binary and run it as a systemd service.

Or you can wait for CoreOS upgrades. That is not an etcd issue though.

[2016-01-17 21:18] bweston92 commented on #2214
@xiang90 thanks, just wondered if there was a way :D will update the binary for the current systemd service :D will report back if still have any issues. Thanks again

[2016-01-18 08:02] BlueDragonX commented on #2752
I began specing out a tool to handle deploying etcd into an AWS autoscaling group with a fixed size. Its primary purpose would be to automate the replacement of failed machines and to allow rolling or incremental upgrades of etcd.

That's a tall order for one dude and was hoping someone else has begun work on this. Any word?

[2016-01-18 17:49] stensonb commented on #4034
The case I had in mind was the revoking client certificates...

[2016-01-19 04:58] andres-erbsen commented on #4203
1. Would it then be fair to state that a configuration change in a Ready (if any) must be applied before Advance is signaled?

2. Are you sure it is necessary to apply all previous non-configuration-change entries as well? It seems to me that as long as there is a consistent log order (which raft, when used correctly, should guarantee), it should not really matter when in real time committed entri

[2016-01-19 05:02] xiang90 commented on #4203
If there is one in ready, then it is probably fair.

If you are sure that your application is OK with breaking the executing order of configuration and normal entries, then it is fine.

[2016-01-19 14:36] tj-corrigan commented on #2752
We are currently running etcd in an AWS autoscaling group using https://github.com/MonsantoCo/etcd-aws-cluster/ . Basically it is just a helper script that pulls the other machines' ips from the aws cli. It certainly isn't as full featured as what you are proposing but might be helpful in getting started.

[2016-01-19 15:55] miekg opened #4230 "etcd_http metrics for etcd"
Hello,

It seems the etcd http metrics that were added during the 2.1 cycle are not exported anymore?
Specifically the variable named: etcd_http_successful_duration_second_bucket`

We are currently running etcd version 2.2.3 (just upgraded to it from our internal fork).

[2016-01-19 15:57] xiang90 commented on #4230
@miekg I do not think we change anything related to metrics. Can you check again? If there is an issue, we should fix.

[2016-01-19 16:10] miekg commented on #4230
ack, thanks for the quick reply!

[2016-01-19 16:11] miekg commented on #4230
So, doing a curl should generate this metrics, no? Tried that, didn't seems to give me something.

[2016-01-19 16:25] miekg commented on #4230
The only metrics I do see with `http` in the name are
*  `etcd_rafthttp_message_sent_latency_microseconds`
* The default prometheus `http_` ones.

Curl-ing like mad here :) Either I am overlooking something *completely* or they are not properly updated anymore. Let me compile one from the latest master.

[2016-01-19 16:35] miekg commented on #4230
Compiled latest master: etcd Version: 2.3.0-alpha.0+git
works as expected. Curl a GET and PUT: metrics show up.

Copied etcd running in staging to do the same: (I lied about the specific version apparently)
2016-01-19 16:32:54.909001 I | etcdmain: etcd Version: 2.2.2

Doing exactly the same curls... nothing: no http metrics show up.

[2016-01-19 16:41] miekg commented on #4230
Same thing with 2.2.3:

[code]

[code]

[2016-01-19 16:42] miekg commented on #4230
back to master: etcd Version: 2.3.0-alpha.0+git

[code]

[2016-01-19 16:52] xiang90 commented on #4230
@miekg Are you sure etcd 2.1 has these metrics? Probably these metrics are added after 2.2 release? We only back-port bug patches to early release, not features.

[2016-01-19 17:42] miekg commented on #4230
Not sure about etcd 2.1... that might a claim that is not true :+1:
But they should be in 2.2.x, no?

[2016-01-19 18:23] xiang90 commented on #4230
@miekg I believe it introduced in 2.3 (current master branch).

[2016-01-19 19:57] louiekwan opened #4233 "HTTP query: no keepalive support? as res.headers["Connection"] is returning nil"
Trying to use an OpenResty/ ngx_lua http client, lua-resty-http

etcd seems not to have keepalive support yet.

Just tried....
ngx.say(res.headers["Connection"]) is returning me a nil
and the httpc:set_keepalive() is returning nil, err.

May be the COREOS ETCD thinks that it is too heavy too keep the permanent connection? Any insight?

[2016-01-19 20:01] xiang90 commented on #4233
@louiekwan I think in HTTP 1.1, all connection are keepalive by default. http://tools.ietf.org/html/rfc7230#section-6.3

[2016-01-19 20:01] #4233 closed

[2016-01-19 20:05] miekg commented on #4230
Only 2.3.. That explains it. Bummer thought this was already enabled in
earlier versions. When I'm back at a computer I will close this issue..
Thanks for your help!
On 19 Jan 2016 6:24 pm, "Xiang Li" <notifications@github.com> wrote:

[2016-01-19 20:15] danlenar opened #4234 "Should ETCD_VERSION be considered as a recognized environment variable?"
Should ETCD_VERSION be considered as a recognized and used environment variable?
There are a couple Dockerfiles that set ETCD_VERSION as an env to help build the image.

docker run -it --env ETCD_VERSION=2.2.4 quay.io/coreos/etcd:v2.2.4
2016-01-19 19:49:41.046653 I | flags: recognized and used environment variable ETCD_VERSION=2.2.4
2016-01-19 19:49:41.046752 C | etcdmain: invalid value "2.2.4" fo

[2016-01-19 21:14] gyuho commented on #4234
@danlenar Could you give us more clarification? I don't see any use case of `ETCD_VERSION`
when you can just specify the version at the end.

[2016-01-19 21:59] danlenar commented on #4234
@gyuho I accidentally discovered this issue with my own custom dockerfile for etcd, which uses ETCD_VERSION to set the version I want to build etcd.

For example, I only use ETCD_VERSION in the following case:

FROM centos:7
ENV ETCD_VERSION 2.2.4
RUN git clone http://github.com/coreos/etcd.git /go/src/github.com/coreos/etcd \
    && cd /go/src/github.com/coreos/etcd \
    && git checkout $ETCD_VE

[2016-01-19 22:06] gyuho commented on #4234
Yeah the `ETCD_VERSION` flag should be ignored, but it seems to error.
I am not sure if this is an expected behavior. Defer to @xiang90.

https://github.com/coreos/etcd/blob/master/pkg/flags/flag.go#L83-L88 grabs all environment variables and tries to set it in `flag.Flag` object, and this can fail when you try to parse string (e.g. `2.2.4`) to boolean value for `usedEnvKey := make(map[string]bool

[2016-01-19 23:52] gyuho opened #4241 "evaluate mmap changes in boltdb"
Some boltdb PRs got merged:

- https://github.com/boltdb/bolt/pull/472
- https://github.com/boltdb/bolt/commit/694a82a9595845d376dd19ff5c24cab78801204b
- https://github.com/boltdb/bolt/commit/d8b06c0a7706affa05b729523827ebe9ba3d9def
- https://github.com/boltdb/bolt/commit/a122e1c02bae30d40559b4daf028e579fcc2017c

Before we `godep update`, we need to find out how these changes would affect etcd.

[2016-01-19 23:53] gyuho commented on #4241
/cc @xiang90

[2016-01-20 00:15] #4230 closed

[2016-01-20 07:36] gyuho opened #4243 "unsynced watcher blocks in integration test"
https://github.com/coreos/etcd/pull/4242 times out here:

- https://semaphoreci.com/coreos/etcd/branches/pull-request-4242/builds/4.
- https://travis-ci.org/coreos/etcd/jobs/103677856

The test works fine in local machine but hangs in semaphore and travis environments.
Seems like `PutRequest` takes too long in those tests.

[2016-01-20 12:39] quentinsch opened #4244 "Remove ETCD_NAME variable in systemd set to machine-id"
I use CoreOS to PXE-boot the OS and use a custom script to set all the parameters. I am unable to use custom hostnames or any custom variable because ETCD_NAME is set to the machine-id. Since /usr is read-only the systemd script is not editable for customization and this is a problem in a set up like I use.
I want to set the name variable by myself instead of using the machine id.